{
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/doubleclickbidmanager": {
          "description": "View and manage your reports in DoubleClick Bid Manager"
        },
        "https://www.googleapis.com/auth/display-video-mediaplanning": {
          "description": "Create, see, and edit Display & Video 360 Campaign entities and see billing invoices"
        },
        "https://www.googleapis.com/auth/display-video-user-management": {
          "description": "Private Service: https://www.googleapis.com/auth/display-video-user-management"
        },
        "https://www.googleapis.com/auth/display-video": {
          "description": "Create, see, edit, and permanently delete your Display & Video 360 entities and reports"
        }
      }
    }
  },
  "rootUrl": "https://displayvideo.googleapis.com/",
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "canonicalName": "Display Video",
  "baseUrl": "https://displayvideo.googleapis.com/",
  "schemas": {
    "ListUsersResponse": {
      "type": "object",
      "properties": {
        "users": {
          "description": "The list of users. This list will be absent if empty.",
          "type": "array",
          "items": {
            "$ref": "User"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListUsers` method to retrieve the next page of results. This token will be absent if there are no more results to return."
        }
      },
      "id": "ListUsersResponse"
    },
    "OmidTargetingOptionDetails": {
      "description": "Represents a targetable Open Measurement enabled inventory type. This will be populated in the omid_details field when targeting_type is `TARGETING_TYPE_OMID`.",
      "type": "object",
      "id": "OmidTargetingOptionDetails",
      "properties": {
        "omid": {
          "description": "Output only. The type of Open Measurement enabled inventory.",
          "enum": [
            "OMID_UNSPECIFIED",
            "OMID_FOR_MOBILE_DISPLAY_ADS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value when omid targeting is not specified in this version.",
            "Open Measurement enabled mobile display inventory."
          ],
          "readOnly": true
        }
      }
    },
    "Asset": {
      "description": "A single asset.",
      "id": "Asset",
      "type": "object",
      "properties": {
        "content": {
          "description": "The asset content. For uploaded assets, the content is the serving path.",
          "type": "string"
        },
        "mediaId": {
          "type": "string",
          "format": "int64",
          "description": "Media ID of the uploaded asset. This is a unique identifier for the asset. This ID can be passed to other API calls, e.g. CreateCreative to associate the asset with a creative. The Media ID space updated on **April 5, 2023**. Update media IDs cached before **April 5, 2023** by retrieving the new media ID from associated creative resources or re-uploading the asset."
        }
      }
    },
    "DemandGenSettings": {
      "properties": {
        "linkedMerchantId": {
          "type": "string",
          "description": "Optional. The ID of the Merchant Center account used to provide a product feed. This Merchant Center account must already be linked to the advertiser.",
          "format": "int64"
        },
        "thirdPartyMeasurementConfigs": {
          "$ref": "ThirdPartyMeasurementConfigs",
          "description": "Optional. The third party measurement settings for the Demand Gen line item."
        },
        "geoLanguageTargetingEnabled": {
          "description": "Optional. Immutable. Whether location and language targeting can be set at the line item level. Otherwise, relevant targeting types must be assigned directly to ad groups.",
          "type": "boolean"
        }
      },
      "id": "DemandGenSettings",
      "type": "object",
      "description": "Settings for Demand Gen line items."
    },
    "ReplaceNegativeKeywordsRequest": {
      "type": "object",
      "description": "Request message for NegativeKeywordService.ReplaceNegativeKeywords.",
      "properties": {
        "newNegativeKeywords": {
          "items": {
            "$ref": "NegativeKeyword"
          },
          "description": "The negative keywords that will replace the existing keywords in the negative keyword list, specified as a list of NegativeKeywords.",
          "type": "array"
        }
      },
      "id": "ReplaceNegativeKeywordsRequest"
    },
    "FixedBidStrategy": {
      "properties": {
        "bidAmountMicros": {
          "description": "The fixed bid amount, in micros of the advertiser's currency. For insertion order entity, bid_amount_micros should be set as 0. For line item entity, bid_amount_micros must be greater than or equal to billable unit of the given currency and smaller than or equal to the upper limit 1000000000. For example, 1500000 represents 1.5 standard units of the currency.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "FixedBidStrategy",
      "description": "A strategy that uses a fixed bidding price.",
      "type": "object"
    },
    "ReviewStatusInfo": {
      "type": "object",
      "properties": {
        "publisherReviewStatuses": {
          "description": "Publisher review statuses for the creative.",
          "items": {
            "$ref": "PublisherReviewStatus"
          },
          "deprecated": true,
          "type": "array"
        },
        "approvalStatus": {
          "type": "string",
          "enumDescriptions": [
            "Type value is not specified or is unknown in this version.",
            "The creative is still under review and not servable.",
            "The creative has passed creative & landing page review and is servable, but is awaiting additional content & policy review.",
            "Both creative & landing page review and content & policy review are approved. The creative is servable.",
            "There is an issue with the creative that must be fixed before it can serve."
          ],
          "description": "Represents the basic approval needed for a creative to begin serving. Summary of creative_and_landing_page_review_status and content_and_policy_review_status.",
          "enum": [
            "APPROVAL_STATUS_UNSPECIFIED",
            "APPROVAL_STATUS_PENDING_NOT_SERVABLE",
            "APPROVAL_STATUS_PENDING_SERVABLE",
            "APPROVAL_STATUS_APPROVED_SERVABLE",
            "APPROVAL_STATUS_REJECTED_NOT_SERVABLE"
          ]
        },
        "creativeAndLandingPageReviewStatus": {
          "enum": [
            "REVIEW_STATUS_UNSPECIFIED",
            "REVIEW_STATUS_APPROVED",
            "REVIEW_STATUS_REJECTED",
            "REVIEW_STATUS_PENDING"
          ],
          "description": "Creative and landing page review status for the creative.",
          "enumDescriptions": [
            "Type value is not specified or is unknown in this version.",
            "The creative is approved.",
            "The creative is rejected.",
            "The creative is pending review."
          ],
          "type": "string"
        },
        "exchangeReviewStatuses": {
          "items": {
            "$ref": "ExchangeReviewStatus"
          },
          "type": "array",
          "description": "Exchange review statuses for the creative."
        },
        "contentAndPolicyReviewStatus": {
          "description": "Content and policy review status for the creative.",
          "enum": [
            "REVIEW_STATUS_UNSPECIFIED",
            "REVIEW_STATUS_APPROVED",
            "REVIEW_STATUS_REJECTED",
            "REVIEW_STATUS_PENDING"
          ],
          "type": "string",
          "enumDescriptions": [
            "Type value is not specified or is unknown in this version.",
            "The creative is approved.",
            "The creative is rejected.",
            "The creative is pending review."
          ]
        }
      },
      "description": "Review statuses for the creative.",
      "id": "ReviewStatusInfo"
    },
    "ListCampaignsResponse": {
      "type": "object",
      "properties": {
        "campaigns": {
          "description": "The list of campaigns. This list will be absent if empty.",
          "type": "array",
          "items": {
            "$ref": "Campaign"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListCampaigns` method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "id": "ListCampaignsResponse"
    },
    "SdfDownloadTask": {
      "properties": {
        "resourceName": {
          "type": "string",
          "description": "A resource name to be used in media.download to Download the prepared files. Resource names have the format `download/sdfdownloadtasks/media/{media_id}`. `media_id` will be made available by the long running operation service once the task status is done."
        }
      },
      "type": "object",
      "id": "SdfDownloadTask",
      "description": "Type for the response returned by SdfDownloadTaskService.CreateSdfDownloadTask."
    },
    "EnvironmentTargetingOptionDetails": {
      "description": "Represents a targetable environment. This will be populated in the environment_details field of a TargetingOption when targeting_type is `TARGETING_TYPE_ENVIRONMENT`.",
      "id": "EnvironmentTargetingOptionDetails",
      "type": "object",
      "properties": {
        "environment": {
          "readOnly": true,
          "enumDescriptions": [
            "Default value when environment is not specified in this version. This enum is a placeholder for default value and does not represent a real environment option.",
            "Target inventory displayed in browsers. This includes inventory that was designed for the device it was viewed on, such as mobile websites viewed on a mobile device. ENVIRONMENT_WEB_NOT_OPTIMIZED, if targeted, should be deleted prior to the deletion of this targeting option.",
            "Target inventory displayed in browsers. This includes inventory that was not designed for the device but viewed on it, such as websites optimized for desktop but viewed on a mobile device. ENVIRONMENT_WEB_OPTIMIZED should be targeted prior to the addition of this targeting option.",
            "Target inventory displayed in apps."
          ],
          "type": "string",
          "enum": [
            "ENVIRONMENT_UNSPECIFIED",
            "ENVIRONMENT_WEB_OPTIMIZED",
            "ENVIRONMENT_WEB_NOT_OPTIMIZED",
            "ENVIRONMENT_APP"
          ],
          "description": "Output only. The serving environment."
        }
      }
    },
    "BusinessChainAssignedTargetingOptionDetails": {
      "type": "object",
      "description": "Details for assigned Business chain targeting option. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_BUSINESS_CHAIN`.",
      "properties": {
        "proximityRadiusUnit": {
          "enumDescriptions": [
            "Type value is not specified or is unknown in this version.",
            "Miles.",
            "Kilometers."
          ],
          "enum": [
            "DISTANCE_UNIT_UNSPECIFIED",
            "DISTANCE_UNIT_MILES",
            "DISTANCE_UNIT_KILOMETERS"
          ],
          "description": "Required. The unit of distance by which the targeting radius is measured.",
          "type": "string"
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The display name of a business chain, e.g. \"KFC\", \"Chase Bank\"."
        },
        "targetingOptionId": {
          "description": "Required. The targeting_option_id of a TargetingOption of type `TARGETING_TYPE_BUSINESS_CHAIN`. Accepted business chain targeting option IDs can be retrieved using SearchTargetingOptions.",
          "type": "string"
        },
        "proximityRadiusAmount": {
          "format": "double",
          "type": "number",
          "description": "Required. The radius of the area around the business chain that will be targeted. The units of the radius are specified by proximity_radius_unit. Must be 1 to 800 if unit is `DISTANCE_UNIT_KILOMETERS` and 1 to 500 if unit is `DISTANCE_UNIT_MILES`. The minimum increment for both cases is 0.1. Inputs will be rounded to the nearest acceptable value if it is too granular, e.g. 15.57 will become 15.6."
        }
      },
      "id": "BusinessChainAssignedTargetingOptionDetails"
    },
    "CmHybridConfig": {
      "properties": {
        "cmAdvertiserIds": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Output only. The set of CM360 Advertiser IDs sharing the CM360 Floodlight configuration."
        },
        "dv360ToCmCostReportingEnabled": {
          "description": "Whether or not to report DV360 cost to CM360.",
          "type": "boolean"
        },
        "cmFloodlightConfigId": {
          "format": "int64",
          "description": "Required. Immutable. ID of the CM360 Floodlight configuration linked with the DV360 advertiser.",
          "type": "string"
        },
        "cmFloodlightLinkingAuthorized": {
          "description": "Required. Immutable. By setting this field to `true`, you, on behalf of your company, authorize the sharing of information from the given Floodlight configuration to this Display & Video 360 advertiser.",
          "type": "boolean"
        },
        "dv360ToCmDataSharingEnabled": {
          "type": "boolean",
          "description": "Whether or not to include DV360 data in CM360 data transfer reports."
        },
        "cmSyncableSiteIds": {
          "description": "A list of CM360 sites whose placements will be synced to DV360 as creatives. If absent or empty in CreateAdvertiser method, the system will automatically create a CM360 site. Removing sites from this list may cause DV360 creatives synced from CM360 to be deleted. At least one site must be specified.",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "cmAccountId": {
          "description": "Required. Immutable. Account ID of the CM360 Floodlight configuration linked with the DV360 advertiser.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "Settings for advertisers that use both Campaign Manager 360 (CM360) and third-party ad servers.",
      "id": "CmHybridConfig"
    },
    "CustomBiddingScriptRef": {
      "id": "CustomBiddingScriptRef",
      "type": "object",
      "description": "The reference to the uploaded custom bidding script file.",
      "properties": {
        "resourceName": {
          "type": "string",
          "description": "A resource name to be used in media.download to Download the script files. Or media.upload to Upload the script files. Resource names have the format `customBiddingAlgorithms/{custom_bidding_algorithm_id}/scriptRef/{ref_id}`."
        }
      }
    },
    "IdFilter": {
      "id": "IdFilter",
      "description": "A filtering option that filters entities by their entity IDs.",
      "type": "object",
      "properties": {
        "lineItemIds": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array",
          "description": "Line Items to download by ID. All IDs must belong to the same Advertiser or Partner specified in CreateSdfDownloadTaskRequest."
        },
        "adGroupIds": {
          "description": "YouTube Ad Groups to download by ID. All IDs must belong to the same Advertiser or Partner specified in CreateSdfDownloadTaskRequest.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "adGroupAdIds": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array",
          "description": "YouTube Ads to download by ID. All IDs must belong to the same Advertiser or Partner specified in CreateSdfDownloadTaskRequest."
        },
        "insertionOrderIds": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "Insertion Orders to download by ID. All IDs must belong to the same Advertiser or Partner specified in CreateSdfDownloadTaskRequest.",
          "type": "array"
        },
        "campaignIds": {
          "description": "Campaigns to download by ID. All IDs must belong to the same Advertiser or Partner specified in CreateSdfDownloadTaskRequest.",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array"
        },
        "mediaProductIds": {
          "description": "Media Products to download by ID. All IDs must belong to the same Advertiser or Partner specified in CreateSdfDownloadTaskRequest.",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        }
      }
    },
    "BulkEditAssignedUserRolesResponse": {
      "type": "object",
      "id": "BulkEditAssignedUserRolesResponse",
      "properties": {
        "createdAssignedUserRoles": {
          "type": "array",
          "description": "The list of assigned user roles that have been successfully created. This list will be absent if empty.",
          "items": {
            "$ref": "AssignedUserRole"
          }
        }
      }
    },
    "ThirdPartyUrl": {
      "type": "object",
      "description": "Tracking URLs from third parties to track interactions with an audio or a video creative.",
      "id": "ThirdPartyUrl",
      "properties": {
        "type": {
          "description": "Optional. The type of interaction needs to be tracked by the tracking URL",
          "enumDescriptions": [
            "The type of third-party URL is unspecified or is unknown in this version.",
            "Used to count impressions of the creative after the audio or video buffering is complete.",
            "Used to track user clicks on the audio or video.",
            "Used to track the number of times a user starts the audio or video.",
            "Used to track the number of times the audio or video plays to 25% of its length.",
            "Used to track the number of times the audio or video plays to 50% of its length.",
            "Used to track the number of times the audio or video plays to 75% of its length.",
            "Used to track the number of times the audio or video plays to the end.",
            "Used to track the number of times a user mutes the audio or video.",
            "Used to track the number of times a user pauses the audio or video.",
            "Used to track the number of times a user replays the audio or video.",
            "Used to track the number of times a user expands the player to full-screen size.",
            "Used to track the number of times a user stops the audio or video.",
            "Used to track the number of times a user performs a custom click, such as clicking on a video hot spot.",
            "Used to track the number of times the audio or video was skipped.",
            "Used to track the number of times the audio or video plays to an offset determined by the progress_offset."
          ],
          "type": "string",
          "enum": [
            "THIRD_PARTY_URL_TYPE_UNSPECIFIED",
            "THIRD_PARTY_URL_TYPE_IMPRESSION",
            "THIRD_PARTY_URL_TYPE_CLICK_TRACKING",
            "THIRD_PARTY_URL_TYPE_AUDIO_VIDEO_START",
            "THIRD_PARTY_URL_TYPE_AUDIO_VIDEO_FIRST_QUARTILE",
            "THIRD_PARTY_URL_TYPE_AUDIO_VIDEO_MIDPOINT",
            "THIRD_PARTY_URL_TYPE_AUDIO_VIDEO_THIRD_QUARTILE",
            "THIRD_PARTY_URL_TYPE_AUDIO_VIDEO_COMPLETE",
            "THIRD_PARTY_URL_TYPE_AUDIO_VIDEO_MUTE",
            "THIRD_PARTY_URL_TYPE_AUDIO_VIDEO_PAUSE",
            "THIRD_PARTY_URL_TYPE_AUDIO_VIDEO_REWIND",
            "THIRD_PARTY_URL_TYPE_AUDIO_VIDEO_FULLSCREEN",
            "THIRD_PARTY_URL_TYPE_AUDIO_VIDEO_STOP",
            "THIRD_PARTY_URL_TYPE_AUDIO_VIDEO_CUSTOM",
            "THIRD_PARTY_URL_TYPE_AUDIO_VIDEO_SKIP",
            "THIRD_PARTY_URL_TYPE_AUDIO_VIDEO_PROGRESS"
          ]
        },
        "url": {
          "description": "Optional. Tracking URL used to track the interaction. Provide a URL with optional path or query string, beginning with `https:`. For example, `https://www.example.com/path`",
          "type": "string"
        }
      }
    },
    "FloodlightActivity": {
      "type": "object",
      "properties": {
        "floodlightGroupId": {
          "format": "int64",
          "description": "Required. Immutable. The ID of the parent Floodlight group.",
          "type": "string"
        },
        "advertiserIds": {
          "readOnly": true,
          "description": "Output only. IDs of the advertisers that have access to the parent Floodlight group. Only advertisers under the provided partner ID will be listed in this field.",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the Floodlight activity."
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the Floodlight activity.",
          "readOnly": true
        },
        "servingStatus": {
          "enumDescriptions": [
            "Type value is not specified or is unknown in this version.",
            "Enabled.",
            "Disabled."
          ],
          "description": "Optional. Whether the Floodlight activity is served.",
          "enum": [
            "FLOODLIGHT_ACTIVITY_SERVING_STATUS_UNSPECIFIED",
            "FLOODLIGHT_ACTIVITY_SERVING_STATUS_ENABLED",
            "FLOODLIGHT_ACTIVITY_SERVING_STATUS_DISABLED"
          ],
          "type": "string"
        },
        "floodlightActivityId": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. The unique ID of the Floodlight activity. Assigned by the system."
        },
        "sslRequired": {
          "readOnly": true,
          "description": "Output only. Whether tags are required to be compliant.",
          "type": "boolean"
        },
        "remarketingConfigs": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "RemarketingConfig"
          },
          "description": "Output only. A list of configuration objects designating whether remarketing for this Floodlight Activity is enabled and available for a specifc advertiser. If enabled, this Floodlight Activity generates a remarketing user list that is able to be used in targeting under the advertiser."
        }
      },
      "description": "A single Floodlight activity.",
      "id": "FloodlightActivity"
    },
    "YoutubeAdGroupAd": {
      "type": "object",
      "properties": {
        "videoDiscoverAd": {
          "description": "Details of an [ad promoting a video](//support.google.com/displayvideo/answer/6274216) that shows in places of discovery.",
          "$ref": "VideoDiscoveryAd"
        },
        "mastheadAd": {
          "description": "Details of an [ad served on the YouTube Home feed](//support.google.com/google-ads/answer/9709826).",
          "$ref": "MastheadAd"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the ad. Must be UTF-8 encoded with a maximum size of 255 bytes."
        },
        "advertiserId": {
          "format": "int64",
          "type": "string",
          "description": "The unique ID of the advertiser the ad belongs to."
        },
        "audioAd": {
          "$ref": "AudioAd",
          "description": "Details of an [audio ad](//support.google.com/displayvideo/answer/6274216) used for reach marketing objectives."
        },
        "name": {
          "description": "The resource name of the ad.",
          "type": "string"
        },
        "adGroupAdId": {
          "type": "string",
          "description": "The unique ID of the ad. Assigned by the system.",
          "format": "int64"
        },
        "videoPerformanceAd": {
          "description": "Details of an [ad used in a video action campaign](//support.google.com/google-ads/answer/10147229) to drive actions to the business, service or product.",
          "$ref": "VideoPerformanceAd"
        },
        "displayVideoSourceAd": {
          "description": "Details of an ad sourced from a Display & Video 360 creative.",
          "$ref": "DisplayVideoSourceAd"
        },
        "bumperAd": {
          "$ref": "BumperAd",
          "description": "Details of a [non-skippable short video ad](//support.google.com/displayvideo/answer/6274216), equal to or less than 6 seconds, used for reach."
        },
        "adUrls": {
          "type": "array",
          "description": "List of URLs used by the ad.",
          "items": {
            "$ref": "AdUrl"
          }
        },
        "nonSkippableAd": {
          "description": "Details of a [non-skippable short in-stream video ad](//support.google.com/displayvideo/answer/6274216), between 6 and 15 seconds, used for reach marketing objectives.",
          "$ref": "NonSkippableAd"
        },
        "inStreamAd": {
          "description": "Details of an [in-stream ad skippable after 5 seconds](//support.google.com/displayvideo/answer/6274216), used for brand awareness or reach marketing objectives.",
          "$ref": "InStreamAd"
        },
        "entityStatus": {
          "type": "string",
          "enumDescriptions": [
            "Default value when status is not specified or is unknown in this version.",
            "The entity is enabled to bid and spend budget.",
            "The entity is archived. Bidding and budget spending are disabled. An entity can be deleted after archived. Deleted entities cannot be retrieved.",
            "The entity is under draft. Bidding and budget spending are disabled.",
            "Bidding and budget spending are paused for the entity.",
            "The entity is scheduled for deletion."
          ],
          "enum": [
            "ENTITY_STATUS_UNSPECIFIED",
            "ENTITY_STATUS_ACTIVE",
            "ENTITY_STATUS_ARCHIVED",
            "ENTITY_STATUS_DRAFT",
            "ENTITY_STATUS_PAUSED",
            "ENTITY_STATUS_SCHEDULED_FOR_DELETION"
          ],
          "description": "The entity status of the ad."
        },
        "adGroupId": {
          "description": "The unique ID of the ad group that the ad belongs to.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "A single ad associated with a YouTube ad group.",
      "id": "YoutubeAdGroupAd"
    },
    "AuditAdvertiserResponse": {
      "description": "Response message for AdvertiserService.AuditAdvertiser.",
      "id": "AuditAdvertiserResponse",
      "type": "object",
      "properties": {
        "usedLineItemsCount": {
          "format": "int64",
          "description": "The number of ACTIVE, PAUSED, and DRAFT line items under this advertiser. These line items count towards the limit of 9999 line items per advertiser.",
          "type": "string"
        },
        "negativeKeywordListsCount": {
          "description": "The number of negative keyword lists created under this advertiser. These negative keyword lists count towards the limit of 20 negative keyword lists per advertiser.",
          "format": "int64",
          "type": "string"
        },
        "usedInsertionOrdersCount": {
          "type": "string",
          "description": "The number of ACTIVE, PAUSED and DRAFT insertion orders under this advertiser. These insertion orders count towards the limit of 9999 insertion orders per advertiser.",
          "format": "int64"
        },
        "campaignCriteriaCount": {
          "description": "The number of individual targeting options from the following targeting types that are assigned to a line item under this advertiser. These individual targeting options count towards the limit of 900000 campaign targeting options per advertiser. Qualifying Targeting types: * Position * Browser * Connection speed * Day and time * Device and operating system * Digital content label * Sensitive categories * Environment * Geography, including business chains and proximity * ISP * Language * Third-party verification",
          "format": "int64",
          "type": "string"
        },
        "usedCampaignsCount": {
          "description": "The number of ACTIVE and PAUSED campaigns under this advertiser. These campaigns count towards the limit of 9999 campaigns per advertiser.",
          "format": "int64",
          "type": "string"
        },
        "channelsCount": {
          "description": "The number of channels created under this advertiser. These channels count towards the limit of 1000 channels per advertiser.",
          "format": "int64",
          "type": "string"
        },
        "negativelyTargetedChannelsCount": {
          "type": "string",
          "description": "The number of negatively targeted channels created under this advertiser. These negatively targeted channels count towards the limit of 5 negatively targeted channels per advertiser.",
          "format": "int64"
        },
        "adGroupCriteriaCount": {
          "format": "int64",
          "description": "The number of individual targeting options from the following targeting types that are assigned to a line item under this advertiser. These individual targeting options count towards the limit of 4500000 ad group targeting options per advertiser. Qualifying Targeting types: * Channels, URLs, apps, and collections * Demographic * Google Audiences, including Affinity, Custom Affinity, and In-market audiences * Inventory source * Keyword * Mobile app category * User lists * Video targeting * Viewability",
          "type": "string"
        }
      }
    },
    "AdUrl": {
      "type": "object",
      "id": "AdUrl",
      "description": "Additional URLs related to the ad, including beacons.",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Unknown or unspecified.",
            "A 1x1 tracking pixel to ping when an impression of a creative is delivered.",
            "Expandable DCM impression beacon. At serving time, it is expanded to several beacons.",
            "Tracking URL to ping when the click event is triggered.",
            "Tracking URL to ping when the skip event is triggered."
          ],
          "enum": [
            "AD_URL_TYPE_UNSPECIFIED",
            "AD_URL_TYPE_BEACON_IMPRESSION",
            "AD_URL_TYPE_BEACON_EXPANDABLE_DCM_IMPRESSION",
            "AD_URL_TYPE_BEACON_CLICK",
            "AD_URL_TYPE_BEACON_SKIP"
          ],
          "description": "The type of the Ad URL.",
          "type": "string"
        },
        "url": {
          "description": "The URL string value.",
          "type": "string"
        }
      }
    },
    "LineItem": {
      "id": "LineItem",
      "description": "A single line item.",
      "properties": {
        "containsEuPoliticalAds": {
          "enum": [
            "EU_POLITICAL_ADVERTISING_STATUS_UNKNOWN",
            "CONTAINS_EU_POLITICAL_ADVERTISING",
            "DOES_NOT_CONTAIN_EU_POLITICAL_ADVERTISING"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Contains EU political advertising.",
            "Does not contain EU political advertising."
          ],
          "description": "Whether this line item will serve European Union political ads. If contains_eu_political_ads has been set to `DOES_NOT_CONTAIN_EU_POLITICAL_ADVERTISING` in the parent advertiser, then this field will be assigned `DOES_NOT_CONTAIN_EU_POLITICAL_ADVERTISING` if not otherwise specified. This field can then be updated using the UI, API, or Structured Data Files. This field must be assigned when creating a new line item. Otherwise, **the `advertisers.lineItems.create` request will fail**."
        },
        "budget": {
          "$ref": "LineItemBudget",
          "description": "Required. The budget allocation setting of the line item."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name of the line item.",
          "type": "string"
        },
        "lineItemType": {
          "description": "Required. Immutable. The type of the line item.",
          "enum": [
            "LINE_ITEM_TYPE_UNSPECIFIED",
            "LINE_ITEM_TYPE_DISPLAY_DEFAULT",
            "LINE_ITEM_TYPE_DISPLAY_MOBILE_APP_INSTALL",
            "LINE_ITEM_TYPE_VIDEO_DEFAULT",
            "LINE_ITEM_TYPE_VIDEO_MOBILE_APP_INSTALL",
            "LINE_ITEM_TYPE_DISPLAY_MOBILE_APP_INVENTORY",
            "LINE_ITEM_TYPE_VIDEO_MOBILE_APP_INVENTORY",
            "LINE_ITEM_TYPE_AUDIO_DEFAULT",
            "LINE_ITEM_TYPE_VIDEO_OVER_THE_TOP",
            "LINE_ITEM_TYPE_YOUTUBE_AND_PARTNERS_ACTION",
            "LINE_ITEM_TYPE_YOUTUBE_AND_PARTNERS_NON_SKIPPABLE",
            "LINE_ITEM_TYPE_YOUTUBE_AND_PARTNERS_VIDEO_SEQUENCE",
            "LINE_ITEM_TYPE_YOUTUBE_AND_PARTNERS_AUDIO",
            "LINE_ITEM_TYPE_YOUTUBE_AND_PARTNERS_REACH",
            "LINE_ITEM_TYPE_YOUTUBE_AND_PARTNERS_SIMPLE",
            "LINE_ITEM_TYPE_YOUTUBE_AND_PARTNERS_NON_SKIPPABLE_OVER_THE_TOP",
            "LINE_ITEM_TYPE_YOUTUBE_AND_PARTNERS_REACH_OVER_THE_TOP",
            "LINE_ITEM_TYPE_YOUTUBE_AND_PARTNERS_SIMPLE_OVER_THE_TOP",
            "LINE_ITEM_TYPE_YOUTUBE_AND_PARTNERS_TARGET_FREQUENCY",
            "LINE_ITEM_TYPE_YOUTUBE_AND_PARTNERS_VIEW",
            "LINE_ITEM_TYPE_DISPLAY_OUT_OF_HOME",
            "LINE_ITEM_TYPE_VIDEO_OUT_OF_HOME",
            "LINE_ITEM_TYPE_DEMAND_GEN"
          ],
          "enumDescriptions": [
            "Type value is not specified or is unknown in this version. Line items of this type and their targeting cannot be created or updated using the API.",
            "Image, HTML5, native, or rich media ads.",
            "Display ads that drive installs of an app.",
            "Video ads sold on a CPM basis for a variety of environments.",
            "Video ads that drive installs of an app.",
            "Display ads served on mobile app inventory. Line items of this type and their targeting cannot be created or updated using the API.",
            "Video ads served on mobile app inventory. Line items of this type and their targeting cannot be created or updated using the API.",
            "RTB Audio ads sold for a variety of environments.",
            "Over-the-top ads present in OTT insertion orders. This type is only applicable to line items with an insertion order of insertion_order_type `OVER_THE_TOP`.",
            "YouTube video ads that promote conversions. Line items of this type and their targeting cannot be created or updated using the API.",
            "YouTube video ads (up to 15 seconds) that cannot be skipped. Line items of this type and their targeting cannot be created or updated using the API.",
            "YouTube video ads that show a story in a particular sequence using a mix of formats. Line items of this type and their targeting cannot be created or updated using the API.",
            "YouTube audio ads. Line items of this type and their targeting cannot be created or updated using the API.",
            "YouTube video ads that optimize reaching more unique users at lower cost. May include bumper ads, skippable in-stream ads, or a mix of types. Line items of this type and their targeting cannot be created or updated using the API.",
            "Default YouTube video ads. Line items of this type and their targeting cannot be created or updated using the API.",
            "Connected TV youTube video ads (up to 15 seconds) that cannot be skipped. Line items of this type and their targeting cannot be created or updated using the API.",
            "Connected TV youTube video ads that optimize reaching more unique users at lower cost. May include bumper ads, skippable in-stream ads, or a mix of types. Line items of this type and their targeting cannot be created or updated using the API.",
            "Connected TV default YouTube video ads. Only include in-stream ad-format. Line items of this type and their targeting cannot be created or updated using the API.",
            "The goal of this line item type is to show the YouTube ads target number of times to the same person in a certain period of time. Line items of this type and their targeting cannot be created or updated using the API.",
            "YouTube video ads that aim to get more views with a variety of ad formats. Line items of this type and their targeting cannot be created or updated using the API.",
            "Display ads served on digital-out-of-home inventory. Line items of this type and their targeting cannot be created or updated using the API.",
            "Video ads served on digital-out-of-home inventory. Line items of this type and their targeting cannot be created or updated using the API.",
            "Demand Gen ads."
          ],
          "type": "string"
        },
        "frequencyCap": {
          "description": "Optional. Required if the line item type is not `LINE_ITEM_TYPE_DEMAND_GEN`. The impression frequency cap settings of the line item. The max_impressions field in this settings object must be used if assigning a limited cap.",
          "$ref": "FrequencyCap"
        },
        "conversionCounting": {
          "description": "The conversion tracking setting of the line item.",
          "$ref": "ConversionCountingConfig"
        },
        "partnerCosts": {
          "description": "The partner costs associated with the line item. If absent or empty in CreateLineItem method, the newly created line item will inherit partner costs from its parent insertion order.",
          "items": {
            "$ref": "PartnerCost"
          },
          "type": "array"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the line item was last updated. Assigned by the system."
        },
        "demandGenSettings": {
          "description": "Optional. Settings specific to Demand Gen line items. Only applicable to Demand Gen line items.",
          "$ref": "DemandGenSettings"
        },
        "mobileApp": {
          "$ref": "MobileApp",
          "description": "The mobile app promoted by the line item. This is applicable only when line_item_type is either `LINE_ITEM_TYPE_DISPLAY_MOBILE_APP_INSTALL` or `LINE_ITEM_TYPE_VIDEO_MOBILE_APP_INSTALL`."
        },
        "warningMessages": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The warning messages generated by the line item. These warnings do not block saving the line item, but some may block the line item from running.",
          "items": {
            "enum": [
              "LINE_ITEM_WARNING_MESSAGE_UNSPECIFIED",
              "INVALID_FLIGHT_DATES",
              "EXPIRED",
              "PENDING_FLIGHT",
              "ALL_PARTNER_ENABLED_EXCHANGES_NEGATIVELY_TARGETED",
              "INVALID_INVENTORY_SOURCE",
              "APP_INVENTORY_INVALID_SITE_TARGETING",
              "APP_INVENTORY_INVALID_AUDIENCE_LISTS",
              "NO_VALID_CREATIVE",
              "PARENT_INSERTION_ORDER_PAUSED",
              "PARENT_INSERTION_ORDER_EXPIRED",
              "DEPRECATED_FIRST_PARTY_AUDIENCE_EXCLUSION"
            ],
            "enumDescriptions": [
              "Not specified or is unknown.",
              "This line item has invalid flight dates. The line item will not run.",
              "This line item's end date is in the past.",
              "This line item will begin running in the future.",
              "All partner enabled exchanges are negatively targeted. The line item will not run.",
              "No active inventory sources are being targeted. The line item will not run.",
              "This line item's Apps & URLs targeting doesn't include any mobile apps. This line item's type requires you to include mobile apps in your channel, sitelist, or apps targeting. The line item will not run.",
              "This line item isn't targeting any mobile users. This line item's type requires you to target a user list with mobile users. The line item will not run.",
              "This line item does not contain any valid creative. The line item will not run.",
              "The insertion order of this line item is paused. The line item will not run.",
              "The insertion order of this line item has its end date set in the past. The line item will not run.",
              "This line item uses the exclude_first_party_audience setting, which is deprecated and scheduled to sunset after **March 25, 2023**. Update your API integration to directly exclude any first-party audiences using audience targeting before **March 25, 2023** to account for the sunset of the exclude_first_party_audience field."
            ],
            "type": "string"
          }
        },
        "optimizeFixedBidding": {
          "type": "boolean",
          "description": "Optional. Whether to enable DV360's bid optimization for fixed bid line items. By default, DV360 optimizes your fixed bid by automatically lowering bids for impressions that are less likely to perform well. This optimization is enabled by default (value is true). When this field is set to `false`, this optimization is disabled, and the bid will not be lowered for any reason. This setting only applies to line items with a `bidding_strategy` of type `FIXED_BID`."
        },
        "targetingExpansion": {
          "$ref": "TargetingExpansionConfig",
          "description": "The [optimized targeting](//support.google.com/displayvideo/answer/12060859) settings of the line item. This config is only applicable for display, video, or audio line items that use automated bidding and positively target eligible audience lists."
        },
        "flight": {
          "description": "Required. The start and end time of the line item's flight.",
          "$ref": "LineItemFlight"
        },
        "reservationType": {
          "readOnly": true,
          "enumDescriptions": [
            "Reservation type value is not specified or is unknown in this version.",
            "Not created through a guaranteed inventory source.",
            "Created through a programmatic guaranteed inventory source.",
            "Created through a tag guaranteed inventory source.",
            "Created through a Petra inventory source. Only applicable to YouTube and Partners line items.",
            "Created with an instant quote. Only applicable to YouTube and partners line items."
          ],
          "enum": [
            "RESERVATION_TYPE_UNSPECIFIED",
            "RESERVATION_TYPE_NOT_GUARANTEED",
            "RESERVATION_TYPE_PROGRAMMATIC_GUARANTEED",
            "RESERVATION_TYPE_TAG_GUARANTEED",
            "RESERVATION_TYPE_PETRA_VIRAL",
            "RESERVATION_TYPE_INSTANT_RESERVE"
          ],
          "type": "string",
          "description": "Output only. The reservation type of the line item."
        },
        "bidStrategy": {
          "$ref": "BiddingStrategy",
          "description": "Required. The bidding strategy of the line item."
        },
        "partnerRevenueModel": {
          "$ref": "PartnerRevenueModel",
          "description": "Required. The partner revenue model setting of the line item."
        },
        "entityStatus": {
          "enum": [
            "ENTITY_STATUS_UNSPECIFIED",
            "ENTITY_STATUS_ACTIVE",
            "ENTITY_STATUS_ARCHIVED",
            "ENTITY_STATUS_DRAFT",
            "ENTITY_STATUS_PAUSED",
            "ENTITY_STATUS_SCHEDULED_FOR_DELETION"
          ],
          "description": "Required. Controls whether or not the line item can spend its budget and bid on inventory. * For CreateLineItem method, only `ENTITY_STATUS_DRAFT` is allowed. To activate a line item, use UpdateLineItem method and update the status to `ENTITY_STATUS_ACTIVE` after creation. * A line item cannot be changed back to `ENTITY_STATUS_DRAFT` status from any other status. * If the line item's parent insertion order is not active, the line item can't spend its budget even if its own status is `ENTITY_STATUS_ACTIVE`.",
          "enumDescriptions": [
            "Default value when status is not specified or is unknown in this version.",
            "The entity is enabled to bid and spend budget.",
            "The entity is archived. Bidding and budget spending are disabled. An entity can be deleted after archived. Deleted entities cannot be retrieved.",
            "The entity is under draft. Bidding and budget spending are disabled.",
            "Bidding and budget spending are paused for the entity.",
            "The entity is scheduled for deletion."
          ],
          "type": "string"
        },
        "lineItemId": {
          "description": "Output only. The unique ID of the line item. Assigned by the system.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "excludeNewExchanges": {
          "description": "Whether to exclude new exchanges from automatically being targeted by the line item. This field is false by default.",
          "type": "boolean"
        },
        "insertionOrderId": {
          "format": "int64",
          "description": "Required. Immutable. The unique ID of the insertion order that the line item belongs to.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the line item. Must be UTF-8 encoded with a maximum size of 240 bytes."
        },
        "advertiserId": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. The unique ID of the advertiser the line item belongs to."
        },
        "integrationDetails": {
          "description": "Integration details of the line item.",
          "$ref": "IntegrationDetails"
        },
        "creativeIds": {
          "description": "The IDs of the creatives associated with the line item.",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        },
        "pacing": {
          "description": "Required. The budget spending speed setting of the line item.",
          "$ref": "Pacing"
        },
        "campaignId": {
          "type": "string",
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The unique ID of the campaign that the line item belongs to."
        },
        "youtubeAndPartnersSettings": {
          "description": "Output only. Settings specific to YouTube and Partners line items.",
          "$ref": "YoutubeAndPartnersSettings",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "BulkEditAdvertiserAssignedTargetingOptionsRequest": {
      "properties": {
        "deleteRequests": {
          "description": "The assigned targeting options to delete in batch, specified as a list of `DeleteAssignedTargetingOptionsRequest`. Supported targeting types: * `TARGETING_TYPE_CHANNEL` * `TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION` * `TARGETING_TYPE_OMID` * `TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION` * `TARGETING_TYPE_KEYWORD`",
          "type": "array",
          "items": {
            "$ref": "DeleteAssignedTargetingOptionsRequest"
          }
        },
        "createRequests": {
          "description": "The assigned targeting options to create in batch, specified as a list of `CreateAssignedTargetingOptionsRequest`. Supported targeting types: * `TARGETING_TYPE_CHANNEL` * `TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION` * `TARGETING_TYPE_OMID` * `TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION` * `TARGETING_TYPE_KEYWORD`",
          "type": "array",
          "items": {
            "$ref": "CreateAssignedTargetingOptionsRequest"
          }
        }
      },
      "description": "Request message for BulkEditAdvertiserAssignedTargetingOptions.",
      "id": "BulkEditAdvertiserAssignedTargetingOptionsRequest",
      "type": "object"
    },
    "Invoice": {
      "id": "Invoice",
      "description": "A single invoice.",
      "type": "object",
      "properties": {
        "nonBudgetMicros": {
          "description": "The total amount of costs or adjustments not tied to a particular budget, in micros of the invoice's currency. For example, if currency_code is `USD`, then 1000000 represents one US dollar.",
          "type": "string",
          "format": "int64"
        },
        "invoiceType": {
          "description": "The type of invoice document.",
          "enum": [
            "INVOICE_TYPE_UNSPECIFIED",
            "INVOICE_TYPE_CREDIT",
            "INVOICE_TYPE_INVOICE"
          ],
          "enumDescriptions": [
            "Not specified or is unknown in this version.",
            "The invoice has a negative amount.",
            "The invoice has a positive amount."
          ],
          "type": "string"
        },
        "replacedInvoiceIds": {
          "items": {
            "type": "string"
          },
          "description": "The ID(s) of any originally issued invoice that is being cancelled by this invoice, if applicable. Multiple invoices may be listed if those invoices are being consolidated into a single invoice. May appear on invoice PDF as `Replaced invoice numbers`. If corrected_invoice_id is set, this field will be empty.",
          "type": "array"
        },
        "currencyCode": {
          "type": "string",
          "description": "The currency used in the invoice in ISO 4217 format."
        },
        "dueDate": {
          "description": "The date when the invoice is due.",
          "$ref": "Date"
        },
        "serviceDateRange": {
          "description": "The service start and end dates which are covered by this invoice.",
          "$ref": "DateRange"
        },
        "budgetSummaries": {
          "type": "array",
          "items": {
            "$ref": "BudgetSummary"
          },
          "description": "The list of summarized information for each budget associated with this invoice. This field will only be set if the invoice detail level of the corresponding billing profile was set to \"Budget level PO\"."
        },
        "pdfUrl": {
          "type": "string",
          "description": "The URL to download a PDF copy of the invoice. This URL is user specific and requires a valid OAuth 2.0 access token to access. The access token must be provided in an `Authorization: Bearer` HTTP header and be authorized for one of the following scopes: * `https://www.googleapis.com/auth/display-video-mediaplanning` * `https://www.googleapis.com/auth/display-video` The URL will be valid for 7 days after retrieval of this invoice object or until this invoice is retrieved again."
        },
        "budgetInvoiceGroupingId": {
          "description": "The budget grouping ID for this invoice. This field will only be set if the invoice level of the corresponding billing profile was set to \"Budget invoice grouping ID\".",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the invoice.",
          "type": "string"
        },
        "paymentsAccountId": {
          "description": "The ID of the payments account the invoice belongs to. Appears on the invoice PDF as `Billing Account Number`.",
          "type": "string"
        },
        "invoiceId": {
          "type": "string",
          "description": "The unique ID of the invoice."
        },
        "totalAmountMicros": {
          "format": "int64",
          "description": "The invoice total amount, in micros of the invoice's currency. For example, if currency_code is `USD`, then 1000000 represents one US dollar.",
          "type": "string"
        },
        "name": {
          "description": "The resource name of the invoice.",
          "type": "string"
        },
        "correctedInvoiceId": {
          "type": "string",
          "description": "The ID of the original invoice being adjusted by this invoice, if applicable. May appear on the invoice PDF as `Reference invoice number`. If replaced_invoice_ids is set, this field will be empty."
        },
        "subtotalAmountMicros": {
          "format": "int64",
          "type": "string",
          "description": "The pre-tax subtotal amount, in micros of the invoice's currency. For example, if currency_code is `USD`, then 1000000 represents one US dollar."
        },
        "issueDate": {
          "description": "The date when the invoice was issued.",
          "$ref": "Date"
        },
        "paymentsProfileId": {
          "type": "string",
          "description": "The ID of the payments profile the invoice belongs to. Appears on the invoice PDF as `Billing ID`."
        },
        "totalTaxAmountMicros": {
          "type": "string",
          "format": "int64",
          "description": "The sum of all taxes in invoice, in micros of the invoice's currency. For example, if currency_code is `USD`, then 1000000 represents one US dollar."
        },
        "purchaseOrderNumber": {
          "type": "string",
          "description": "Purchase order number associated with the invoice."
        }
      }
    },
    "Campaign": {
      "properties": {
        "campaignBudgets": {
          "items": {
            "$ref": "CampaignBudget"
          },
          "type": "array",
          "description": "The list of budgets available to this campaign. If this field is not set, the campaign uses an unlimited budget."
        },
        "advertiserId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The unique ID of the advertiser the campaign belongs to.",
          "format": "int64"
        },
        "frequencyCap": {
          "$ref": "FrequencyCap",
          "description": "Required. The frequency cap setting of the campaign. *Warning*: On **February 28, 2025**, frequency cap time periods greater than 30 days will no longer be accepted. [Read more about this announced change](/display-video/api/deprecations#features.lifetime_frequency_cap)"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp when the campaign was last updated. Assigned by the system."
        },
        "campaignId": {
          "description": "Output only. The unique ID of the campaign. Assigned by the system.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "campaignGoal": {
          "$ref": "CampaignGoal",
          "description": "Required. The goal of the campaign."
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the campaign. Must be UTF-8 encoded with a maximum size of 240 bytes."
        },
        "name": {
          "description": "Output only. The resource name of the campaign.",
          "readOnly": true,
          "type": "string"
        },
        "entityStatus": {
          "enum": [
            "ENTITY_STATUS_UNSPECIFIED",
            "ENTITY_STATUS_ACTIVE",
            "ENTITY_STATUS_ARCHIVED",
            "ENTITY_STATUS_DRAFT",
            "ENTITY_STATUS_PAUSED",
            "ENTITY_STATUS_SCHEDULED_FOR_DELETION"
          ],
          "description": "Required. Controls whether or not the insertion orders under this campaign can spend their budgets and bid on inventory. * Accepted values are `ENTITY_STATUS_ACTIVE`, `ENTITY_STATUS_ARCHIVED`, and `ENTITY_STATUS_PAUSED`. * For CreateCampaign method, `ENTITY_STATUS_ARCHIVED` is not allowed.",
          "enumDescriptions": [
            "Default value when status is not specified or is unknown in this version.",
            "The entity is enabled to bid and spend budget.",
            "The entity is archived. Bidding and budget spending are disabled. An entity can be deleted after archived. Deleted entities cannot be retrieved.",
            "The entity is under draft. Bidding and budget spending are disabled.",
            "Bidding and budget spending are paused for the entity.",
            "The entity is scheduled for deletion."
          ],
          "type": "string"
        },
        "campaignFlight": {
          "$ref": "CampaignFlight",
          "description": "Required. The planned spend and duration of the campaign."
        }
      },
      "description": "A single campaign.",
      "type": "object",
      "id": "Campaign"
    },
    "BulkEditAssignedLocationsResponse": {
      "type": "object",
      "properties": {
        "assignedLocations": {
          "items": {
            "$ref": "AssignedLocation"
          },
          "type": "array",
          "description": "The list of assigned locations that have been successfully created. This list will be absent if empty."
        }
      },
      "id": "BulkEditAssignedLocationsResponse"
    },
    "ListInventorySourceGroupsResponse": {
      "id": "ListInventorySourceGroupsResponse",
      "properties": {
        "inventorySourceGroups": {
          "description": "The list of inventory source groups. This list will be absent if empty.",
          "type": "array",
          "items": {
            "$ref": "InventorySourceGroup"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListInventorySourceGroups` method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for InventorySourceGroupService.ListInventorySourceGroups."
    },
    "OmidAssignedTargetingOptionDetails": {
      "description": "Represents a targetable Open Measurement enabled inventory type. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_OMID`.",
      "type": "object",
      "id": "OmidAssignedTargetingOptionDetails",
      "properties": {
        "omid": {
          "enum": [
            "OMID_UNSPECIFIED",
            "OMID_FOR_MOBILE_DISPLAY_ADS"
          ],
          "description": "Required. The type of Open Measurement enabled inventory.",
          "type": "string",
          "enumDescriptions": [
            "Default value when omid targeting is not specified in this version.",
            "Open Measurement enabled mobile display inventory."
          ]
        }
      }
    },
    "BulkEditAdvertiserAssignedTargetingOptionsResponse": {
      "id": "BulkEditAdvertiserAssignedTargetingOptionsResponse",
      "type": "object",
      "properties": {
        "createdAssignedTargetingOptions": {
          "items": {
            "$ref": "AssignedTargetingOption"
          },
          "description": "The list of assigned targeting options that have been successfully created. This list will be absent if empty.",
          "type": "array"
        }
      }
    },
    "DeviceTypeAssignedTargetingOptionDetails": {
      "type": "object",
      "properties": {
        "deviceType": {
          "enum": [
            "DEVICE_TYPE_UNSPECIFIED",
            "DEVICE_TYPE_COMPUTER",
            "DEVICE_TYPE_CONNECTED_TV",
            "DEVICE_TYPE_SMART_PHONE",
            "DEVICE_TYPE_TABLET",
            "DEVICE_TYPE_CONNECTED_DEVICE"
          ],
          "enumDescriptions": [
            "Default value when device type is not specified in this version. This enum is a placeholder for default value and does not represent a real device type option.",
            "Computer.",
            "Connected TV.",
            "Smart phone.",
            "Tablet.",
            "Connected device."
          ],
          "description": "Required. The display name of the device type.",
          "type": "string"
        },
        "youtubeAndPartnersBidMultiplier": {
          "format": "double",
          "readOnly": true,
          "description": "Output only. Bid multiplier allows you to show your ads more or less frequently based on the device type. It will apply a multiplier on the original bid price. When this field is 0, it indicates this field is not applicable instead of multiplying 0 on the original bid price. For example, if the bid price without multiplier is $10.0 and the multiplier is 1.5 for Tablet, the resulting bid price for Tablet will be $15.0. Only applicable to YouTube and Partners line items.",
          "type": "number"
        }
      },
      "id": "DeviceTypeAssignedTargetingOptionDetails",
      "description": "Targeting details for device type. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_DEVICE_TYPE`."
    },
    "NegativeKeywordList": {
      "properties": {
        "advertiserId": {
          "description": "Output only. The unique ID of the advertiser the negative keyword list belongs to.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the negative keyword list. Must be UTF-8 encoded with a maximum size of 255 bytes."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the negative keyword list."
        },
        "negativeKeywordListId": {
          "type": "string",
          "description": "Output only. The unique ID of the negative keyword list. Assigned by the system.",
          "format": "int64",
          "readOnly": true
        },
        "targetedLineItemCount": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Number of line items that are directly targeting this negative keyword list."
        }
      },
      "id": "NegativeKeywordList",
      "type": "object",
      "description": "A list of negative keywords used for targeting."
    },
    "ListAdvertisersResponse": {
      "id": "ListAdvertisersResponse",
      "properties": {
        "advertisers": {
          "items": {
            "$ref": "Advertiser"
          },
          "type": "array",
          "description": "The list of advertisers. This list will be absent if empty."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListAdvertisers` method to retrieve the next page of results."
        }
      },
      "type": "object"
    },
    "CategoryTargetingOptionDetails": {
      "id": "CategoryTargetingOptionDetails",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The display name of the category."
        }
      },
      "description": "Represents a targetable category. This will be populated in the category_details field of a TargetingOption when targeting_type is `TARGETING_TYPE_CATEGORY`."
    },
    "ListPartnersResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListPartners` method to retrieve the next page of results.",
          "type": "string"
        },
        "partners": {
          "description": "The list of partners. This list will be absent if empty.",
          "type": "array",
          "items": {
            "$ref": "Partner"
          }
        }
      },
      "id": "ListPartnersResponse",
      "type": "object"
    },
    "CustomList": {
      "description": "Describes a custom list entity, such as a custom affinity or custom intent audience list.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The resource name of the custom list.",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The display name of the custom list. ."
        },
        "customListId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The unique ID of the custom list. Assigned by the system.",
          "format": "int64"
        }
      },
      "id": "CustomList"
    },
    "Dimensions": {
      "description": "Dimensions.",
      "properties": {
        "widthPixels": {
          "type": "integer",
          "description": "The width in pixels.",
          "format": "int32"
        },
        "heightPixels": {
          "type": "integer",
          "format": "int32",
          "description": "The height in pixels."
        }
      },
      "id": "Dimensions",
      "type": "object"
    },
    "InsertionOrderBudget": {
      "id": "InsertionOrderBudget",
      "description": "Settings that control how insertion order budget is allocated.",
      "type": "object",
      "properties": {
        "automationType": {
          "description": "Optional. The type of automation used to manage bid and budget for the insertion order. If this field is unspecified in creation, the value defaults to `INSERTION_ORDER_AUTOMATION_TYPE_NONE`.",
          "enum": [
            "INSERTION_ORDER_AUTOMATION_TYPE_UNSPECIFIED",
            "INSERTION_ORDER_AUTOMATION_TYPE_BUDGET",
            "INSERTION_ORDER_AUTOMATION_TYPE_NONE",
            "INSERTION_ORDER_AUTOMATION_TYPE_BID_BUDGET"
          ],
          "type": "string",
          "enumDescriptions": [
            "Insertion order automation option is not specified or is unknown in this version.",
            "Automatic budget allocation. Allow the system to automatically shift budget to owning line items to optimize performance defined by kpi. No automation on bid settings.",
            "No automation of bid or budget on insertion order level. Bid and budget must be manually configured at the line item level.",
            "Allow the system to automatically adjust bids and shift budget to owning line items to optimize performance defined by bid_strategy."
          ]
        },
        "budgetSegments": {
          "type": "array",
          "items": {
            "$ref": "InsertionOrderBudgetSegment"
          },
          "description": "Required. The list of budget segments. Use a budget segment to specify a specific budget for a given period of time an insertion order is running."
        },
        "budgetUnit": {
          "type": "string",
          "enumDescriptions": [
            "Type value is not specified or is unknown in this version.",
            "Budgeting in currency amounts.",
            "Budgeting in impression amounts."
          ],
          "enum": [
            "BUDGET_UNIT_UNSPECIFIED",
            "BUDGET_UNIT_CURRENCY",
            "BUDGET_UNIT_IMPRESSIONS"
          ],
          "description": "Required. Immutable. The budget unit specifies whether the budget is currency based or impression based."
        }
      }
    },
    "ProductMatchDimension": {
      "properties": {
        "productOfferId": {
          "description": "The ID of the product offer to match with a product with the same offer ID.",
          "type": "string"
        },
        "customLabel": {
          "description": "The custom label to match all the products with the label.",
          "$ref": "CustomLabel"
        }
      },
      "description": "A dimension used to match products.",
      "type": "object",
      "id": "ProductMatchDimension"
    },
    "ThirdPartyVerifierAssignedTargetingOptionDetails": {
      "properties": {
        "adloox": {
          "$ref": "Adloox",
          "description": "Third party brand verifier -- Scope3 (previously known as Adloox)."
        },
        "integralAdScience": {
          "$ref": "IntegralAdScience",
          "description": "Third party brand verifier -- Integral Ad Science."
        },
        "doubleVerify": {
          "$ref": "DoubleVerify",
          "description": "Third party brand verifier -- DoubleVerify."
        }
      },
      "type": "object",
      "id": "ThirdPartyVerifierAssignedTargetingOptionDetails",
      "description": "Assigned third party verifier targeting option details. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_THIRD_PARTY_VERIFIER`."
    },
    "BulkEditPartnerAssignedTargetingOptionsResponse": {
      "type": "object",
      "properties": {
        "createdAssignedTargetingOptions": {
          "type": "array",
          "description": "The list of assigned targeting options that have been successfully created. This list will be absent if empty.",
          "items": {
            "$ref": "AssignedTargetingOption"
          }
        }
      },
      "id": "BulkEditPartnerAssignedTargetingOptionsResponse"
    },
    "ListCustomListsResponse": {
      "properties": {
        "customLists": {
          "description": "The list of custom lists. This list will be absent if empty.",
          "items": {
            "$ref": "CustomList"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListCustomLists` method to retrieve the next page of results."
        }
      },
      "type": "object",
      "id": "ListCustomListsResponse"
    },
    "ExchangeAssignedTargetingOptionDetails": {
      "type": "object",
      "id": "ExchangeAssignedTargetingOptionDetails",
      "description": "Details for assigned exchange targeting option. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_EXCHANGE`.",
      "properties": {
        "exchange": {
          "enum": [
            "EXCHANGE_UNSPECIFIED",
            "EXCHANGE_GOOGLE_AD_MANAGER",
            "EXCHANGE_APPNEXUS",
            "EXCHANGE_BRIGHTROLL",
            "EXCHANGE_ADFORM",
            "EXCHANGE_ADMETA",
            "EXCHANGE_ADMIXER",
            "EXCHANGE_ADSMOGO",
            "EXCHANGE_ADSWIZZ",
            "EXCHANGE_BIDSWITCH",
            "EXCHANGE_BRIGHTROLL_DISPLAY",
            "EXCHANGE_CADREON",
            "EXCHANGE_DAILYMOTION",
            "EXCHANGE_FIVE",
            "EXCHANGE_FLUCT",
            "EXCHANGE_FREEWHEEL",
            "EXCHANGE_GENIEE",
            "EXCHANGE_GUMGUM",
            "EXCHANGE_IMOBILE",
            "EXCHANGE_IBILLBOARD",
            "EXCHANGE_IMPROVE_DIGITAL",
            "EXCHANGE_INDEX",
            "EXCHANGE_KARGO",
            "EXCHANGE_MICROAD",
            "EXCHANGE_MOPUB",
            "EXCHANGE_NEND",
            "EXCHANGE_ONE_BY_AOL_DISPLAY",
            "EXCHANGE_ONE_BY_AOL_MOBILE",
            "EXCHANGE_ONE_BY_AOL_VIDEO",
            "EXCHANGE_OOYALA",
            "EXCHANGE_OPENX",
            "EXCHANGE_PERMODO",
            "EXCHANGE_PLATFORMONE",
            "EXCHANGE_PLATFORMID",
            "EXCHANGE_PUBMATIC",
            "EXCHANGE_PULSEPOINT",
            "EXCHANGE_REVENUEMAX",
            "EXCHANGE_RUBICON",
            "EXCHANGE_SMARTCLIP",
            "EXCHANGE_SMARTRTB",
            "EXCHANGE_SMARTSTREAMTV",
            "EXCHANGE_SOVRN",
            "EXCHANGE_SPOTXCHANGE",
            "EXCHANGE_STROER",
            "EXCHANGE_TEADSTV",
            "EXCHANGE_TELARIA",
            "EXCHANGE_TVN",
            "EXCHANGE_UNITED",
            "EXCHANGE_YIELDLAB",
            "EXCHANGE_YIELDMO",
            "EXCHANGE_UNRULYX",
            "EXCHANGE_OPEN8",
            "EXCHANGE_TRITON",
            "EXCHANGE_TRIPLELIFT",
            "EXCHANGE_TABOOLA",
            "EXCHANGE_INMOBI",
            "EXCHANGE_SMAATO",
            "EXCHANGE_AJA",
            "EXCHANGE_SUPERSHIP",
            "EXCHANGE_NEXSTAR_DIGITAL",
            "EXCHANGE_WAZE",
            "EXCHANGE_SOUNDCAST",
            "EXCHANGE_SHARETHROUGH",
            "EXCHANGE_FYBER",
            "EXCHANGE_RED_FOR_PUBLISHERS",
            "EXCHANGE_MEDIANET",
            "EXCHANGE_TAPJOY",
            "EXCHANGE_VISTAR",
            "EXCHANGE_DAX",
            "EXCHANGE_JCD",
            "EXCHANGE_PLACE_EXCHANGE",
            "EXCHANGE_APPLOVIN",
            "EXCHANGE_CONNATIX",
            "EXCHANGE_RESET_DIGITAL",
            "EXCHANGE_HIVESTACK",
            "EXCHANGE_DRAX",
            "EXCHANGE_APPLOVIN_GBID",
            "EXCHANGE_FYBER_GBID",
            "EXCHANGE_UNITY_GBID",
            "EXCHANGE_CHARTBOOST_GBID",
            "EXCHANGE_ADMOST_GBID",
            "EXCHANGE_TOPON_GBID",
            "EXCHANGE_NETFLIX",
            "EXCHANGE_CORE",
            "EXCHANGE_COMMERCE_GRID",
            "EXCHANGE_SPOTIFY",
            "EXCHANGE_TUBI",
            "EXCHANGE_SNAP",
            "EXCHANGE_CADENT",
            "EXCHANGE_EXTE"
          ],
          "enumDescriptions": [
            "Exchange is not specified or is unknown in this version.",
            "Google Ad Manager.",
            "AppNexus.",
            "BrightRoll Exchange for Video from Yahoo!.",
            "Adform.",
            "Admeta.",
            "Admixer.",
            "AdsMogo.",
            "AdsWizz.",
            "BidSwitch.",
            "BrightRoll Exchange for Display from Yahoo!.",
            "Cadreon.",
            "Dailymotion.",
            "Five.",
            "Fluct.",
            "FreeWheel SSP.",
            "Geniee.",
            "GumGum.",
            "i-mobile.",
            "iBILLBOARD.",
            "Improve Digital.",
            "Index Exchange.",
            "Kargo.",
            "MicroAd.",
            "MoPub.",
            "Nend.",
            "ONE by AOL: Display Market Place.",
            "ONE by AOL: Mobile.",
            "ONE by AOL: Video.",
            "Ooyala.",
            "OpenX.",
            "Permodo.",
            "Platform One.",
            "PlatformId.",
            "PubMatic.",
            "PulsePoint.",
            "RevenueMax.",
            "Rubicon.",
            "SmartClip.",
            "SmartRTB+.",
            "SmartstreamTv.",
            "Sovrn.",
            "SpotXchange.",
            "Ströer SSP.",
            "TeadsTv.",
            "Telaria.",
            "TVN.",
            "United.",
            "Yieldlab.",
            "Yieldmo.",
            "UnrulyX.",
            "Open8.",
            "Triton.",
            "TripleLift.",
            "Taboola.",
            "InMobi.",
            "Smaato.",
            "Aja.",
            "Supership.",
            "Nexstar Digital.",
            "Waze.",
            "SoundCast.",
            "Sharethrough.",
            "Fyber.",
            "Red For Publishers.",
            "Media.net.",
            "Tapjoy.",
            "Vistar.",
            "DAX.",
            "JCD.",
            "Place Exchange.",
            "AppLovin.",
            "Connatix.",
            "Reset Digital.",
            "Hivestack.",
            "Drax.",
            "AppLovin MAX.",
            "DT Fairbid.",
            "Unity LevelPlay.",
            "Chartboost Mediation.",
            "AdMost.",
            "TopOn.",
            "Netflix.",
            "Core.",
            "Commerce Grid.",
            "Spotify.",
            "Tubi.",
            "Snap.",
            "Cadent.",
            "Exte."
          ],
          "description": "Required. The enum value for the exchange.",
          "type": "string"
        }
      }
    },
    "AppAssignedTargetingOptionDetails": {
      "properties": {
        "displayName": {
          "description": "Output only. The display name of the app.",
          "readOnly": true,
          "type": "string"
        },
        "appId": {
          "description": "Required. The ID of the app. Android's Play store app uses bundle ID, for example `com.google.android.gm`. Apple's App store app ID uses 9 digit string, for example `422689480`.",
          "type": "string"
        },
        "negative": {
          "type": "boolean",
          "description": "Indicates if this option is being negatively targeted."
        },
        "appPlatform": {
          "description": "Indicates the platform of the targeted app. If this field is not specified, the app platform will be assumed to be mobile (i.e., Android or iOS), and we will derive the appropriate mobile platform from the app ID.",
          "type": "string",
          "enumDescriptions": [
            "Default value when app platform is not specified in this version. This enum is a placeholder for default value and does not represent a real platform option.",
            "The app platform is iOS.",
            "The app platform is Android.",
            "The app platform is Roku.",
            "The app platform is Amazon FireTV.",
            "The app platform is Playstation.",
            "The app platform is Apple TV.",
            "The app platform is Xbox.",
            "The app platform is Samsung TV.",
            "The app platform is Android TV.",
            "The app platform is a CTV platform that is not explicitly listed elsewhere.",
            "The app platform is LG TV.",
            "The app platform is VIZIO TV.",
            "The app platform is Vidaa."
          ],
          "enum": [
            "APP_PLATFORM_UNSPECIFIED",
            "APP_PLATFORM_IOS",
            "APP_PLATFORM_ANDROID",
            "APP_PLATFORM_ROKU",
            "APP_PLATFORM_AMAZON_FIRETV",
            "APP_PLATFORM_PLAYSTATION",
            "APP_PLATFORM_APPLE_TV",
            "APP_PLATFORM_XBOX",
            "APP_PLATFORM_SAMSUNG_TV",
            "APP_PLATFORM_ANDROID_TV",
            "APP_PLATFORM_GENERIC_CTV",
            "APP_PLATFORM_LG_TV",
            "APP_PLATFORM_VIZIO_TV",
            "APP_PLATFORM_VIDAA"
          ]
        }
      },
      "description": "Details for assigned app targeting option. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_APP`.",
      "id": "AppAssignedTargetingOptionDetails",
      "type": "object"
    },
    "SearchTargetingOptionsRequest": {
      "type": "object",
      "id": "SearchTargetingOptionsRequest",
      "description": "Request message for SearchTargetingOptions.",
      "properties": {
        "pageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `SearchTargetingOptions` method. If not specified, the first page of results will be returned."
        },
        "geoRegionSearchTerms": {
          "description": "Search terms for geo region targeting options. Can only be used when targeting_type is `TARGETING_TYPE_GEO_REGION`.",
          "$ref": "GeoRegionSearchTerms"
        },
        "businessChainSearchTerms": {
          "description": "Search terms for Business Chain targeting options. Can only be used when targeting_type is `TARGETING_TYPE_BUSINESS_CHAIN`.",
          "$ref": "BusinessChainSearchTerms"
        },
        "pageSize": {
          "format": "int32",
          "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
          "type": "integer"
        },
        "advertiserId": {
          "type": "string",
          "description": "Required. The Advertiser this request is being made in the context of.",
          "format": "int64"
        },
        "poiSearchTerms": {
          "$ref": "PoiSearchTerms",
          "description": "Search terms for POI targeting options. Can only be used when targeting_type is `TARGETING_TYPE_POI`."
        }
      }
    },
    "ContentStreamTypeTargetingOptionDetails": {
      "id": "ContentStreamTypeTargetingOptionDetails",
      "description": "Represents a targetable content stream type. This will be populated in the content_stream_type_details field when targeting_type is `TARGETING_TYPE_CONTENT_STREAM_TYPE`.",
      "properties": {
        "contentStreamType": {
          "readOnly": true,
          "description": "Output only. The content stream type.",
          "enum": [
            "CONTENT_STREAM_TYPE_UNSPECIFIED",
            "CONTENT_LIVE_STREAM",
            "CONTENT_ON_DEMAND"
          ],
          "enumDescriptions": [
            "Content stream type is not specified in this version. This enum is a place holder for a default value and does not represent a real content stream type.",
            "The content is being live-streamed.",
            "The content is viewed on-demand."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "CustomListGroup": {
      "description": "Details of custom list group. All custom list targeting settings are logically ‘OR’ of each other.",
      "id": "CustomListGroup",
      "properties": {
        "settings": {
          "items": {
            "$ref": "CustomListTargetingSetting"
          },
          "type": "array",
          "description": "Required. All custom list targeting settings in custom list group. Repeated settings with the same id will be ignored."
        }
      },
      "type": "object"
    },
    "AdvertiserAdServerConfig": {
      "description": "Ad server related settings of an advertiser.",
      "type": "object",
      "properties": {
        "cmHybridConfig": {
          "$ref": "CmHybridConfig",
          "description": "The configuration for advertisers that use both Campaign Manager 360 (CM360) and third-party ad servers."
        },
        "thirdPartyOnlyConfig": {
          "description": "The configuration for advertisers that use third-party ad servers only.",
          "$ref": "ThirdPartyOnlyConfig"
        }
      },
      "id": "AdvertiserAdServerConfig"
    },
    "AuthorizedSellerStatusAssignedTargetingOptionDetails": {
      "properties": {
        "authorizedSellerStatus": {
          "readOnly": true,
          "enumDescriptions": [
            "Default value when authorized seller status is not specified in this version. This enum is a placeholder for the default value, or \"Authorized Direct Sellers and Resellers\" in the UI.",
            "Only authorized sellers that directly own the inventory being monetized, as indicated by a DIRECT declaration in the ads.txt file. This value is equivalent to \"Authorized Direct Sellers\" in the UI.",
            "All authorized sellers, including publishers that have not posted an ads.txt file. Display & Video 360 automatically disallows unauthorized sellers. This value is equivalent to \"Authorized and Non-Participating Publishers\" in the UI."
          ],
          "description": "Output only. The authorized seller status to target.",
          "enum": [
            "AUTHORIZED_SELLER_STATUS_UNSPECIFIED",
            "AUTHORIZED_SELLER_STATUS_AUTHORIZED_DIRECT_SELLERS_ONLY",
            "AUTHORIZED_SELLER_STATUS_AUTHORIZED_AND_NON_PARTICIPATING_PUBLISHERS"
          ],
          "type": "string"
        },
        "targetingOptionId": {
          "description": "Required. The targeting_option_id of a TargetingOption of type `TARGETING_TYPE_AUTHORIZED_SELLER_STATUS`.",
          "type": "string"
        }
      },
      "description": "Represents an assigned authorized seller status. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_AUTHORIZED_SELLER_STATUS`. If a resource does not have an `TARGETING_TYPE_AUTHORIZED_SELLER_STATUS` assigned targeting option, it is using the \"Authorized Direct Sellers and Resellers\" option.",
      "id": "AuthorizedSellerStatusAssignedTargetingOptionDetails",
      "type": "object"
    },
    "GoogleAudienceGroup": {
      "type": "object",
      "properties": {
        "settings": {
          "description": "Required. All Google audience targeting settings in Google audience group. Repeated settings with the same id will be ignored.",
          "type": "array",
          "items": {
            "$ref": "GoogleAudienceTargetingSetting"
          }
        }
      },
      "id": "GoogleAudienceGroup",
      "description": "Details of Google audience group. All Google audience targeting settings are logically ‘OR’ of each other."
    },
    "Date": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "id": "Date",
      "properties": {
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer",
          "format": "int32"
        },
        "year": {
          "type": "integer",
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "Empty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object"
    },
    "ExchangeTargetingOptionDetails": {
      "description": "Represents a targetable exchange. This will be populated in the exchange_details field of a TargetingOption when targeting_type is `TARGETING_TYPE_EXCHANGE`.",
      "type": "object",
      "properties": {
        "exchange": {
          "description": "Output only. The type of exchange.",
          "enum": [
            "EXCHANGE_UNSPECIFIED",
            "EXCHANGE_GOOGLE_AD_MANAGER",
            "EXCHANGE_APPNEXUS",
            "EXCHANGE_BRIGHTROLL",
            "EXCHANGE_ADFORM",
            "EXCHANGE_ADMETA",
            "EXCHANGE_ADMIXER",
            "EXCHANGE_ADSMOGO",
            "EXCHANGE_ADSWIZZ",
            "EXCHANGE_BIDSWITCH",
            "EXCHANGE_BRIGHTROLL_DISPLAY",
            "EXCHANGE_CADREON",
            "EXCHANGE_DAILYMOTION",
            "EXCHANGE_FIVE",
            "EXCHANGE_FLUCT",
            "EXCHANGE_FREEWHEEL",
            "EXCHANGE_GENIEE",
            "EXCHANGE_GUMGUM",
            "EXCHANGE_IMOBILE",
            "EXCHANGE_IBILLBOARD",
            "EXCHANGE_IMPROVE_DIGITAL",
            "EXCHANGE_INDEX",
            "EXCHANGE_KARGO",
            "EXCHANGE_MICROAD",
            "EXCHANGE_MOPUB",
            "EXCHANGE_NEND",
            "EXCHANGE_ONE_BY_AOL_DISPLAY",
            "EXCHANGE_ONE_BY_AOL_MOBILE",
            "EXCHANGE_ONE_BY_AOL_VIDEO",
            "EXCHANGE_OOYALA",
            "EXCHANGE_OPENX",
            "EXCHANGE_PERMODO",
            "EXCHANGE_PLATFORMONE",
            "EXCHANGE_PLATFORMID",
            "EXCHANGE_PUBMATIC",
            "EXCHANGE_PULSEPOINT",
            "EXCHANGE_REVENUEMAX",
            "EXCHANGE_RUBICON",
            "EXCHANGE_SMARTCLIP",
            "EXCHANGE_SMARTRTB",
            "EXCHANGE_SMARTSTREAMTV",
            "EXCHANGE_SOVRN",
            "EXCHANGE_SPOTXCHANGE",
            "EXCHANGE_STROER",
            "EXCHANGE_TEADSTV",
            "EXCHANGE_TELARIA",
            "EXCHANGE_TVN",
            "EXCHANGE_UNITED",
            "EXCHANGE_YIELDLAB",
            "EXCHANGE_YIELDMO",
            "EXCHANGE_UNRULYX",
            "EXCHANGE_OPEN8",
            "EXCHANGE_TRITON",
            "EXCHANGE_TRIPLELIFT",
            "EXCHANGE_TABOOLA",
            "EXCHANGE_INMOBI",
            "EXCHANGE_SMAATO",
            "EXCHANGE_AJA",
            "EXCHANGE_SUPERSHIP",
            "EXCHANGE_NEXSTAR_DIGITAL",
            "EXCHANGE_WAZE",
            "EXCHANGE_SOUNDCAST",
            "EXCHANGE_SHARETHROUGH",
            "EXCHANGE_FYBER",
            "EXCHANGE_RED_FOR_PUBLISHERS",
            "EXCHANGE_MEDIANET",
            "EXCHANGE_TAPJOY",
            "EXCHANGE_VISTAR",
            "EXCHANGE_DAX",
            "EXCHANGE_JCD",
            "EXCHANGE_PLACE_EXCHANGE",
            "EXCHANGE_APPLOVIN",
            "EXCHANGE_CONNATIX",
            "EXCHANGE_RESET_DIGITAL",
            "EXCHANGE_HIVESTACK",
            "EXCHANGE_DRAX",
            "EXCHANGE_APPLOVIN_GBID",
            "EXCHANGE_FYBER_GBID",
            "EXCHANGE_UNITY_GBID",
            "EXCHANGE_CHARTBOOST_GBID",
            "EXCHANGE_ADMOST_GBID",
            "EXCHANGE_TOPON_GBID",
            "EXCHANGE_NETFLIX",
            "EXCHANGE_CORE",
            "EXCHANGE_COMMERCE_GRID",
            "EXCHANGE_SPOTIFY",
            "EXCHANGE_TUBI",
            "EXCHANGE_SNAP",
            "EXCHANGE_CADENT",
            "EXCHANGE_EXTE"
          ],
          "enumDescriptions": [
            "Exchange is not specified or is unknown in this version.",
            "Google Ad Manager.",
            "AppNexus.",
            "BrightRoll Exchange for Video from Yahoo!.",
            "Adform.",
            "Admeta.",
            "Admixer.",
            "AdsMogo.",
            "AdsWizz.",
            "BidSwitch.",
            "BrightRoll Exchange for Display from Yahoo!.",
            "Cadreon.",
            "Dailymotion.",
            "Five.",
            "Fluct.",
            "FreeWheel SSP.",
            "Geniee.",
            "GumGum.",
            "i-mobile.",
            "iBILLBOARD.",
            "Improve Digital.",
            "Index Exchange.",
            "Kargo.",
            "MicroAd.",
            "MoPub.",
            "Nend.",
            "ONE by AOL: Display Market Place.",
            "ONE by AOL: Mobile.",
            "ONE by AOL: Video.",
            "Ooyala.",
            "OpenX.",
            "Permodo.",
            "Platform One.",
            "PlatformId.",
            "PubMatic.",
            "PulsePoint.",
            "RevenueMax.",
            "Rubicon.",
            "SmartClip.",
            "SmartRTB+.",
            "SmartstreamTv.",
            "Sovrn.",
            "SpotXchange.",
            "Ströer SSP.",
            "TeadsTv.",
            "Telaria.",
            "TVN.",
            "United.",
            "Yieldlab.",
            "Yieldmo.",
            "UnrulyX.",
            "Open8.",
            "Triton.",
            "TripleLift.",
            "Taboola.",
            "InMobi.",
            "Smaato.",
            "Aja.",
            "Supership.",
            "Nexstar Digital.",
            "Waze.",
            "SoundCast.",
            "Sharethrough.",
            "Fyber.",
            "Red For Publishers.",
            "Media.net.",
            "Tapjoy.",
            "Vistar.",
            "DAX.",
            "JCD.",
            "Place Exchange.",
            "AppLovin.",
            "Connatix.",
            "Reset Digital.",
            "Hivestack.",
            "Drax.",
            "AppLovin MAX.",
            "DT Fairbid.",
            "Unity LevelPlay.",
            "Chartboost Mediation.",
            "AdMost.",
            "TopOn.",
            "Netflix.",
            "Core.",
            "Commerce Grid.",
            "Spotify.",
            "Tubi.",
            "Snap.",
            "Cadent.",
            "Exte."
          ],
          "type": "string",
          "readOnly": true
        }
      },
      "id": "ExchangeTargetingOptionDetails"
    },
    "PartnerCost": {
      "type": "object",
      "properties": {
        "feeAmount": {
          "description": "The CPM fee amount in micros of advertiser's currency. Applicable when the fee_type is `PARTNER_FEE_TYPE_CPM_FEE`. Must be greater than or equal to 0. For example, for 1.5 standard unit of the advertiser's currency, set this field to 1500000.",
          "format": "int64",
          "type": "string"
        },
        "costType": {
          "enumDescriptions": [
            "Type value is not specified or is unknown in this version.",
            "The cost is charged for using Scope3 (previously known as Adloox). Billed by the partner.",
            "The cost is charged for using Scope3 (previously known as Adloox) Pre-Bid. Billed through DV360.",
            "The cost is charged for using AdSafe. Billed by the partner.",
            "The cost is charged for using AdExpose. Billed by the partner.",
            "The cost is charged for using Aggregate Knowledge. Billed by the partner.",
            "The cost is charged for using an Agency Trading Desk. Billed by the partner.",
            "The cost is charged for using DV360. Billed through DV360.",
            "The cost is charged for using comScore vCE. Billed through DV360.",
            "The cost is charged for using a Data Management Platform. Billed by the partner.",
            "The default cost type. Billed by the partner.",
            "The cost is charged for using DoubleVerify. Billed by the partner.",
            "The cost is charged for using DoubleVerify Pre-Bid. Billed through DV360.",
            "The cost is charged for using Evidon. Billed by the partner.",
            "The cost is charged for using Integral Ad Science Video. Billed by the partner.",
            "The cost is charged for using Integral Ad Science Pre-Bid. Billed through DV360.",
            "The cost is charged for using media cost data. Billed by the partner.",
            "The cost is charged for using MOAT Video. Billed by the partner.",
            "The cost is charged for using Nielsen Digital Ad Ratings. Billed through DV360.",
            "The cost is charged for using ShopLocal. Billed by the partner.",
            "The cost is charged for using Teracent. Billed by the partner.",
            "The cost is charged for using a third-party ad server. Billed by the partner.",
            "The cost is charged for using TrustMetrics. Billed by the partner.",
            "The cost is charged for using Vizu. Billed by the partner.",
            "The cost is charged as custom fee 1. Billed by the partner.",
            "The cost is charged as custom fee 2. Billed by the partner.",
            "The cost is charged as custom fee 3. Billed by the partner.",
            "The cost is charged as custom fee 4. Billed by the partner.",
            "The cost is charged as custom fee 5. Billed by the partner.",
            "The cost is charged for using Scibids. Billed through DV360. This type is currently only available to certain customers. Other customers attempting to use this type will receive an error."
          ],
          "type": "string",
          "description": "Required. The type of the partner cost.",
          "enum": [
            "PARTNER_COST_TYPE_UNSPECIFIED",
            "PARTNER_COST_TYPE_ADLOOX",
            "PARTNER_COST_TYPE_ADLOOX_PREBID",
            "PARTNER_COST_TYPE_ADSAFE",
            "PARTNER_COST_TYPE_ADXPOSE",
            "PARTNER_COST_TYPE_AGGREGATE_KNOWLEDGE",
            "PARTNER_COST_TYPE_AGENCY_TRADING_DESK",
            "PARTNER_COST_TYPE_DV360_FEE",
            "PARTNER_COST_TYPE_COMSCORE_VCE",
            "PARTNER_COST_TYPE_DATA_MANAGEMENT_PLATFORM",
            "PARTNER_COST_TYPE_DEFAULT",
            "PARTNER_COST_TYPE_DOUBLE_VERIFY",
            "PARTNER_COST_TYPE_DOUBLE_VERIFY_PREBID",
            "PARTNER_COST_TYPE_EVIDON",
            "PARTNER_COST_TYPE_INTEGRAL_AD_SCIENCE_VIDEO",
            "PARTNER_COST_TYPE_INTEGRAL_AD_SCIENCE_PREBID",
            "PARTNER_COST_TYPE_MEDIA_COST_DATA",
            "PARTNER_COST_TYPE_MOAT_VIDEO",
            "PARTNER_COST_TYPE_NIELSEN_DAR",
            "PARTNER_COST_TYPE_SHOP_LOCAL",
            "PARTNER_COST_TYPE_TERACENT",
            "PARTNER_COST_TYPE_THIRD_PARTY_AD_SERVER",
            "PARTNER_COST_TYPE_TRUST_METRICS",
            "PARTNER_COST_TYPE_VIZU",
            "PARTNER_COST_TYPE_CUSTOM_FEE_1",
            "PARTNER_COST_TYPE_CUSTOM_FEE_2",
            "PARTNER_COST_TYPE_CUSTOM_FEE_3",
            "PARTNER_COST_TYPE_CUSTOM_FEE_4",
            "PARTNER_COST_TYPE_CUSTOM_FEE_5",
            "PARTNER_COST_TYPE_SCIBIDS_FEE"
          ]
        },
        "invoiceType": {
          "enum": [
            "PARTNER_COST_INVOICE_TYPE_UNSPECIFIED",
            "PARTNER_COST_INVOICE_TYPE_DV360",
            "PARTNER_COST_INVOICE_TYPE_PARTNER"
          ],
          "enumDescriptions": [
            "Type value is not specified or is unknown in this version.",
            "Partner cost is billed through DV360.",
            "Partner cost is billed by the partner."
          ],
          "description": "The invoice type for this partner cost. * Required when cost_type is one of: - `PARTNER_COST_TYPE_ADLOOX` - `PARTNER_COST_TYPE_DOUBLE_VERIFY` - `PARTNER_COST_TYPE_INTEGRAL_AD_SCIENCE`. * Output only for other types.",
          "type": "string"
        },
        "feeType": {
          "enum": [
            "PARTNER_COST_FEE_TYPE_UNSPECIFIED",
            "PARTNER_COST_FEE_TYPE_CPM_FEE",
            "PARTNER_COST_FEE_TYPE_MEDIA_FEE"
          ],
          "enumDescriptions": [
            "Value is not specified or is unknown in this version.",
            "The partner cost is a fixed CPM fee. Not applicable when the partner cost cost_type is one of: * `PARTNER_COST_TYPE_MEDIA_COST_DATA` * `PARTNER_COST_TYPE_DV360_FEE`.",
            "The partner cost is a percentage surcharge based on the media cost. Not applicable when the partner cost_type is one of: * `PARTNER_COST_TYPE_SHOP_LOCAL` * `PARTNER_COST_TYPE_TRUST_METRICS` * `PARTNER_COST_TYPE_INTEGRAL_AD_SCIENCE_VIDEO` * `PARTNER_COST_TYPE_MOAT_VIDEO`."
          ],
          "description": "Required. The fee type for this partner cost.",
          "type": "string"
        },
        "feePercentageMillis": {
[...]
