{
  "baseUrl": "https://displayvideo.googleapis.com/",
  "mtlsRootUrl": "https://displayvideo.mtls.googleapis.com/",
  "basePath": "",
  "version": "v4",
  "description": "Display & Video 360 API allows users to automate complex Display & Video 360 workflows, such as creating insertion orders and setting targeting options for individual line items.",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "name": "displayvideo",
  "ownerDomain": "google.com",
  "resources": {
    "advertisers": {
      "methods": {
        "delete": {
          "description": "Deletes an advertiser. Deleting an advertiser will delete all of its child resources, for example, campaigns, insertion orders and line items. A deleted advertiser cannot be recovered.",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "flatPath": "v4/advertisers/{advertisersId}",
          "path": "v4/advertisers/{+advertiserId}",
          "parameterOrder": [
            "advertiserId"
          ],
          "parameters": {
            "advertiserId": {
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "The ID of the advertiser we need to delete.",
              "required": true,
              "format": "int64"
            }
          },
          "response": {
            "$ref": "Empty"
          },
          "id": "displayvideo.advertisers.delete"
        },
        "list": {
          "parameters": {
            "pageSize": {
              "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "pageToken": {
              "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListAdvertisers` method. If not specified, the first page of results will be returned.",
              "type": "string",
              "location": "query"
            },
            "filter": {
              "description": "Allows filtering by advertiser fields. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by `AND` or `OR` logical operators. * A restriction has the form of `{field} {operator} {value}`. * The `updateTime` field must use the `GREATER THAN OR EQUAL TO (>=)` or `LESS THAN OR EQUAL TO (<=)` operators. * All other fields must use the `EQUALS (=)` operator. Supported fields: * `advertiserId` * `displayName` * `entityStatus` * `updateTime` (input in ISO 8601 format, or `YYYY-MM-DDTHH:MM:SSZ`) Examples: * All active advertisers under a partner: `entityStatus=\"ENTITY_STATUS_ACTIVE\"` * All advertisers with an update time less than or equal to 2020-11-04T18:54:47Z (format of ISO 8601): `updateTime<=\"2020-11-04T18:54:47Z\"` * All advertisers with an update time greater than or equal to 2020-11-04T18:54:47Z (format of ISO 8601): `updateTime>=\"2020-11-04T18:54:47Z\"` The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information.",
              "location": "query",
              "type": "string"
            },
            "partnerId": {
              "location": "query",
              "type": "string",
              "format": "int64",
              "description": "Required. The ID of the partner that the fetched advertisers should all belong to. The system only supports listing advertisers for one partner at a time."
            },
            "orderBy": {
              "location": "query",
              "description": "Field by which to sort the list. Acceptable values are: * `advertiserId` (default) * `displayName` * `entityStatus` * `updateTime` The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. For example, `displayName desc`.",
              "type": "string"
            }
          },
          "flatPath": "v4/advertisers",
          "path": "v4/advertisers",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "response": {
            "$ref": "ListAdvertisersResponse"
          },
          "description": "Lists advertisers that are accessible to the current user. The order is defined by the order_by parameter. A single partner_id is required. Cross-partner listing is not supported.",
          "id": "displayvideo.advertisers.list",
          "httpMethod": "GET"
        },
        "patch": {
          "description": "Updates an existing advertiser. Returns the updated advertiser if successful.",
          "path": "v4/advertisers/{+advertiserId}",
          "parameters": {
            "updateMask": {
              "location": "query",
              "type": "string",
              "format": "google-fieldmask",
              "description": "Required. The mask to control which fields to update."
            },
            "advertiserId": {
              "type": "string",
              "required": true,
              "description": "Output only. The unique ID of the advertiser. Assigned by the system.",
              "pattern": "^[^/]+$",
              "location": "path",
              "format": "int64"
            }
          },
          "request": {
            "$ref": "Advertiser"
          },
          "id": "displayvideo.advertisers.patch",
          "flatPath": "v4/advertisers/{advertisersId}",
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "response": {
            "$ref": "Advertiser"
          },
          "parameterOrder": [
            "advertiserId"
          ]
        },
        "audit": {
          "parameterOrder": [
            "advertiserId"
          ],
          "id": "displayvideo.advertisers.audit",
          "response": {
            "$ref": "AuditAdvertiserResponse"
          },
          "description": "Audits an advertiser. Returns the counts of used entities per resource type under the advertiser provided. Used entities count towards their respective resource limit. See https://support.google.com/displayvideo/answer/6071450.",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "httpMethod": "GET",
          "flatPath": "v4/advertisers/{advertisersId}:audit",
          "path": "v4/advertisers/{+advertiserId}:audit",
          "parameters": {
            "advertiserId": {
              "type": "string",
              "location": "path",
              "description": "Required. The ID of the advertiser to audit.",
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$"
            },
            "readMask": {
              "location": "query",
              "description": "Optional. The specific fields to return. If no mask is specified, all fields in the response proto will be filled. Valid values are: * usedLineItemsCount * usedInsertionOrdersCount * usedCampaignsCount * channelsCount * negativelyTargetedChannelsCount * negativeKeywordListsCount * adGroupCriteriaCount * campaignCriteriaCount",
              "type": "string",
              "format": "google-fieldmask"
            }
          }
        },
        "editAssignedTargetingOptions": {
          "flatPath": "v4/advertisers/{advertisersId}:editAssignedTargetingOptions",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "parameters": {
            "advertiserId": {
              "description": "Required. The ID of the advertiser.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "location": "path",
              "format": "int64"
            }
          },
          "parameterOrder": [
            "advertiserId"
          ],
          "response": {
            "$ref": "BulkEditAdvertiserAssignedTargetingOptionsResponse"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "BulkEditAdvertiserAssignedTargetingOptionsRequest"
          },
          "id": "displayvideo.advertisers.editAssignedTargetingOptions",
          "description": "Edits targeting options under a single advertiser. The operation will delete the assigned targeting options provided in BulkEditAdvertiserAssignedTargetingOptionsRequest.delete_requests and then create the assigned targeting options provided in BulkEditAdvertiserAssignedTargetingOptionsRequest.create_requests .",
          "path": "v4/advertisers/{+advertiserId}:editAssignedTargetingOptions"
        },
        "get": {
          "id": "displayvideo.advertisers.get",
          "path": "v4/advertisers/{+advertiserId}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "response": {
            "$ref": "Advertiser"
          },
          "parameterOrder": [
            "advertiserId"
          ],
          "parameters": {
            "advertiserId": {
              "location": "path",
              "type": "string",
              "required": true,
              "format": "int64",
              "description": "Required. The ID of the advertiser to fetch.",
              "pattern": "^[^/]+$"
            }
          },
          "flatPath": "v4/advertisers/{advertisersId}",
          "description": "Gets an advertiser."
        },
        "create": {
          "request": {
            "$ref": "Advertiser"
          },
          "path": "v4/advertisers",
          "parameterOrder": [],
          "description": "Creates a new advertiser. Returns the newly created advertiser if successful. **This method regularly experiences high latency.** We recommend [increasing your default timeout](/display-video/api/guides/best-practices/timeouts#client_library_timeout) to avoid errors.",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "parameters": {},
          "httpMethod": "POST",
          "response": {
            "$ref": "Advertiser"
          },
          "id": "displayvideo.advertisers.create",
          "flatPath": "v4/advertisers"
        },
        "listAssignedTargetingOptions": {
          "parameterOrder": [
            "advertiserId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "orderBy": {
              "description": "Field by which to sort the list. Acceptable values are: * `targetingType` (default) The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. Example: `targetingType desc`.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "A token that lets the client fetch the next page of results. Typically, this is the value of next_page_token returned from the previous call to `BulkListAdvertiserAssignedTargetingOptions` method. If not specified, the first page of results will be returned."
            },
            "filter": {
              "type": "string",
              "description": "Allows filtering by assigned targeting option fields. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by the `OR` logical operator. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `EQUALS (=) operator`. Supported fields: * `targetingType` Examples: * targetingType with value TARGETING_TYPE_CHANNEL `targetingType=\"TARGETING_TYPE_CHANNEL\"` The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information.",
              "location": "query"
            },
            "advertiserId": {
              "location": "path",
              "description": "Required. The ID of the advertiser the line item belongs to.",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "format": "int64"
            },
            "pageSize": {
              "description": "Requested page size. The size must be an integer between `1` and `5000`. If unspecified, the default is '5000'. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            }
          },
          "flatPath": "v4/advertisers/{advertisersId}:listAssignedTargetingOptions",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "description": "Lists assigned targeting options of an advertiser across targeting types.",
          "id": "displayvideo.advertisers.listAssignedTargetingOptions",
          "response": {
            "$ref": "BulkListAdvertiserAssignedTargetingOptionsResponse"
          },
          "path": "v4/advertisers/{+advertiserId}:listAssignedTargetingOptions"
        }
      },
      "resources": {
        "locationLists": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "response": {
                "$ref": "ListLocationListsResponse"
              },
              "parameterOrder": [
                "advertiserId"
              ],
              "flatPath": "v4/advertisers/{advertisersId}/locationLists",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "parameters": {
                "advertiserId": {
                  "format": "int64",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The ID of the DV360 advertiser to which the fetched location lists belong.",
                  "required": true,
                  "pattern": "^[^/]+$"
                },
                "orderBy": {
                  "type": "string",
                  "description": "Field by which to sort the list. Acceptable values are: * `locationListId` (default) * `displayName` The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. Example: `displayName desc`.",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Requested page size. Must be between `1` and `200`. Defaults to `100` if not set. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "type": "string",
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListLocationLists` method. If not specified, the first page of results will be returned.",
                  "location": "query"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Allows filtering by location list fields. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by `AND` or `OR` logical operators. A sequence of restrictions implicitly uses `AND`. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `EQUALS (=)` operator. Supported fields: * `locationType` Examples: * All regional location list: `locationType=\"TARGETING_LOCATION_TYPE_REGIONAL\"` * All proximity location list: `locationType=\"TARGETING_LOCATION_TYPE_PROXIMITY\"` The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information."
                }
              },
              "description": "Lists location lists based on a given advertiser id.",
              "path": "v4/advertisers/{+advertiserId}/locationLists",
              "id": "displayvideo.advertisers.locationLists.list"
            },
            "patch": {
              "response": {
                "$ref": "LocationList"
              },
              "httpMethod": "PATCH",
              "flatPath": "v4/advertisers/{advertisersId}/locationLists/{locationListId}",
              "request": {
                "$ref": "LocationList"
              },
              "description": "Updates a location list. Returns the updated location list if successful.",
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query",
                  "description": "Required. The mask to control which fields to update."
                },
                "advertiserId": {
                  "location": "path",
                  "description": "Required. The ID of the DV360 advertiser to which the location lists belongs.",
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "required": true,
                  "format": "int64"
                },
                "locationListId": {
                  "required": true,
                  "format": "int64",
                  "type": "string",
                  "location": "path",
                  "description": "Output only. The unique ID of the location list. Assigned by the system."
                }
              },
              "path": "v4/advertisers/{+advertiserId}/locationLists/{locationListId}",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "parameterOrder": [
                "advertiserId",
                "locationListId"
              ],
              "id": "displayvideo.advertisers.locationLists.patch"
            },
            "get": {
              "path": "v4/advertisers/{+advertiserId}/locationLists/{+locationListId}",
              "description": "Gets a location list.",
              "httpMethod": "GET",
              "id": "displayvideo.advertisers.locationLists.get",
              "parameters": {
                "locationListId": {
                  "format": "int64",
                  "required": true,
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "description": "Required. The ID of the location list to fetch.",
                  "location": "path"
                },
                "advertiserId": {
                  "format": "int64",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. The ID of the DV360 advertiser to which the fetched location list belongs.",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "LocationList"
              },
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "flatPath": "v4/advertisers/{advertisersId}/locationLists/{locationListsId}",
              "parameterOrder": [
                "advertiserId",
                "locationListId"
              ]
            },
            "create": {
              "response": {
                "$ref": "LocationList"
              },
              "flatPath": "v4/advertisers/{advertisersId}/locationLists",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "description": "Creates a new location list. Returns the newly created location list if successful.",
              "parameters": {
                "advertiserId": {
                  "type": "string",
                  "description": "Required. The ID of the DV360 advertiser to which the location list belongs.",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "location": "path",
                  "format": "int64"
                }
              },
              "httpMethod": "POST",
              "id": "displayvideo.advertisers.locationLists.create",
              "parameterOrder": [
                "advertiserId"
              ],
              "path": "v4/advertisers/{+advertiserId}/locationLists",
              "request": {
                "$ref": "LocationList"
              }
            }
          },
          "resources": {
            "assignedLocations": {
              "methods": {
                "bulkEdit": {
                  "httpMethod": "POST",
                  "path": "v4/advertisers/{advertiserId}/locationLists/{+locationListId}/assignedLocations:bulkEdit",
                  "request": {
                    "$ref": "BulkEditAssignedLocationsRequest"
                  },
                  "flatPath": "v4/advertisers/{advertiserId}/locationLists/{locationListsId}/assignedLocations:bulkEdit",
                  "id": "displayvideo.advertisers.locationLists.assignedLocations.bulkEdit",
                  "parameters": {
                    "locationListId": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^[^/]+$",
                      "required": true,
                      "description": "Required. The ID of the location list to which these assignments are assigned.",
                      "format": "int64"
                    },
                    "advertiserId": {
                      "format": "int64",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. The ID of the DV360 advertiser to which the location list belongs."
                    }
                  },
                  "response": {
                    "$ref": "BulkEditAssignedLocationsResponse"
                  },
                  "parameterOrder": [
                    "advertiserId",
                    "locationListId"
                  ],
                  "description": "Bulk edits multiple assignments between locations and a single location list. The operation will delete the assigned locations provided in deletedAssignedLocations and then create the assigned locations provided in createdAssignedLocations.",
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ]
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "advertiserId",
                    "locationListId",
                    "assignedLocationId"
                  ],
                  "id": "displayvideo.advertisers.locationLists.assignedLocations.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ],
                  "description": "Deletes the assignment between a location and a location list.",
                  "flatPath": "v4/advertisers/{advertiserId}/locationLists/{locationListId}/assignedLocations/{assignedLocationsId}",
                  "path": "v4/advertisers/{advertiserId}/locationLists/{locationListId}/assignedLocations/{+assignedLocationId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "assignedLocationId": {
                      "type": "string",
                      "pattern": "^[^/]+$",
                      "required": true,
                      "description": "Required. The ID of the assigned location to delete.",
                      "location": "path",
                      "format": "int64"
                    },
                    "locationListId": {
                      "required": true,
                      "description": "Required. The ID of the location list to which this assignment is assigned.",
                      "type": "string",
                      "format": "int64",
                      "location": "path"
                    },
                    "advertiserId": {
                      "type": "string",
                      "description": "Required. The ID of the DV360 advertiser to which the location list belongs.",
                      "required": true,
                      "format": "int64",
                      "location": "path"
                    }
                  }
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ],
                  "flatPath": "v4/advertisers/{advertiserId}/locationLists/{locationListId}/assignedLocations",
                  "path": "v4/advertisers/{advertiserId}/locationLists/{locationListId}/assignedLocations",
                  "parameters": {
                    "advertiserId": {
                      "type": "string",
                      "description": "Required. The ID of the DV360 advertiser to which the location list belongs.",
                      "required": true,
                      "location": "path",
                      "format": "int64"
                    },
                    "locationListId": {
                      "location": "path",
                      "type": "string",
                      "format": "int64",
                      "required": true,
                      "description": "Required. The ID of the location list for which the assignment will be created."
                    }
                  },
                  "response": {
                    "$ref": "AssignedLocation"
                  },
                  "parameterOrder": [
                    "advertiserId",
                    "locationListId"
                  ],
                  "description": "Creates an assignment between a location and a location list.",
                  "httpMethod": "POST",
                  "id": "displayvideo.advertisers.locationLists.assignedLocations.create",
                  "request": {
                    "$ref": "AssignedLocation"
                  }
                },
                "list": {
                  "parameterOrder": [
                    "advertiserId",
                    "locationListId"
                  ],
                  "path": "v4/advertisers/{advertiserId}/locationLists/{locationListId}/assignedLocations",
                  "id": "displayvideo.advertisers.locationLists.assignedLocations.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ],
                  "parameters": {
                    "filter": {
                      "description": "Allows filtering by location list assignment fields. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by the `OR` logical operator. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `EQUALS (=)` operator. Supported fields: * `assignedLocationId` The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information.",
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Field by which to sort the list. Acceptable values are: * `assignedLocationId` (default) The default sorting order is ascending. To specify descending order for a field, a suffix \" desc\" should be added to the field name. Example: `assignedLocationId desc`.",
                      "location": "query"
                    },
                    "locationListId": {
                      "required": true,
                      "type": "string",
                      "format": "int64",
                      "location": "path",
                      "description": "Required. The ID of the location list to which these assignments are assigned."
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListAssignedLocations` method. If not specified, the first page of results will be returned.",
                      "type": "string"
                    },
                    "advertiserId": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The ID of the DV360 advertiser to which the location list belongs.",
                      "required": true,
                      "format": "int64"
                    }
                  },
                  "httpMethod": "GET",
                  "flatPath": "v4/advertisers/{advertiserId}/locationLists/{locationListId}/assignedLocations",
                  "description": "Lists locations assigned to a location list.",
                  "response": {
                    "$ref": "ListAssignedLocationsResponse"
                  }
                }
              }
            }
          }
        },
        "invoices": {
          "methods": {
            "lookupInvoiceCurrency": {
              "flatPath": "v4/advertisers/{advertisersId}/invoices:lookupInvoiceCurrency",
              "parameters": {
                "advertiserId": {
                  "required": true,
                  "format": "int64",
                  "description": "Required. The ID of the advertiser to lookup currency for.",
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "invoiceMonth": {
                  "type": "string",
                  "location": "query",
                  "description": "Month for which the currency is needed. If not set, the request will return existing currency settings for the advertiser. Must be in the format YYYYMM."
                }
              },
              "id": "displayvideo.advertisers.invoices.lookupInvoiceCurrency",
              "response": {
                "$ref": "LookupInvoiceCurrencyResponse"
              },
              "path": "v4/advertisers/{+advertiserId}/invoices:lookupInvoiceCurrency",
              "scopes": [
                "https://www.googleapis.com/auth/display-video",
                "https://www.googleapis.com/auth/display-video-mediaplanning"
              ],
              "httpMethod": "GET",
              "description": "Retrieves the invoice currency used by an advertiser in a given month.",
              "parameterOrder": [
                "advertiserId"
              ]
            },
            "list": {
              "description": "Lists invoices posted for an advertiser in a given month. Invoices generated by billing profiles with a \"Partner\" invoice level are not retrievable through this method.",
              "httpMethod": "GET",
              "id": "displayvideo.advertisers.invoices.list",
              "response": {
                "$ref": "ListInvoicesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/display-video",
                "https://www.googleapis.com/auth/display-video-mediaplanning"
              ],
              "parameterOrder": [
                "advertiserId"
              ],
              "flatPath": "v4/advertisers/{advertisersId}/invoices",
              "parameters": {
                "advertiserId": {
                  "description": "Required. The ID of the advertiser to list invoices for.",
                  "location": "path",
                  "type": "string",
                  "format": "int64",
                  "required": true,
                  "pattern": "^[^/]+$"
                },
                "issueMonth": {
                  "location": "query",
                  "description": "The month to list the invoices for. If not set, the request will retrieve invoices for the previous month. Must be in the format YYYYMM.",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListInvoices` method. If not specified, the first page of results will be returned.",
                  "location": "query",
                  "type": "string"
                },
                "loiSapinInvoiceType": {
                  "enumDescriptions": [
                    "Value is not specified.",
                    "Invoices with Media cost.",
                    "Invoices with Platform fee."
                  ],
                  "type": "string",
                  "description": "Select type of invoice to retrieve for Loi Sapin advertisers. Only applicable to Loi Sapin advertisers. Will be ignored otherwise.",
                  "enum": [
                    "LOI_SAPIN_INVOICE_TYPE_UNSPECIFIED",
                    "LOI_SAPIN_INVOICE_TYPE_MEDIA",
                    "LOI_SAPIN_INVOICE_TYPE_PLATFORM"
                  ],
                  "location": "query"
                }
              },
              "path": "v4/advertisers/{+advertiserId}/invoices"
            }
          }
        },
        "adGroupAds": {
          "methods": {
            "delete": {
              "id": "displayvideo.advertisers.adGroupAds.delete",
              "httpMethod": "DELETE",
              "description": "Deletes an ad group ad. This method is only supported for Demand Gen ads.",
              "path": "v4/advertisers/{+advertiserId}/adGroupAds/{+adGroupAdId}",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v4/advertisers/{advertisersId}/adGroupAds/{adGroupAdsId}",
              "parameters": {
                "advertiserId": {
                  "format": "int64",
                  "description": "Required. The ID of the advertiser the ad belongs to.",
                  "location": "path",
                  "required": true,
                  "pattern": "^[^/]+$",
                  "type": "string"
                },
                "adGroupAdId": {
                  "required": true,
                  "description": "Required. The ID of the ad to delete. Only Demand Gen ads are supported.",
                  "format": "int64",
                  "type": "string",
                  "location": "path",
                  "pattern": "^[^/]+$"
                }
              },
              "parameterOrder": [
                "advertiserId",
                "adGroupAdId"
              ]
            },
            "list": {
              "path": "v4/advertisers/{+advertiserId}/adGroupAds",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "id": "displayvideo.advertisers.adGroupAds.list",
              "description": "Lists ad group ads.",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "description": "Optional. Requested page size. Must be between `1` and `100`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
                  "location": "query",
                  "format": "int32"
                },
                "orderBy": {
                  "location": "query",
                  "description": "Optional. Field by which to sort the list. Acceptable values are: * `displayName` (default) * `entityStatus` The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. Example: `displayName desc`.",
                  "type": "string"
                },
                "advertiserId": {
                  "required": true,
                  "format": "int64",
                  "pattern": "^[^/]+$",
                  "description": "Required. The ID of the advertiser the ads belong to.",
                  "location": "path",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListAdGroupAds` method. If not specified, the first page of results will be returned.",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "description": "Optional. Allows filtering by ad group ad fields. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by `AND` and `OR`. A sequence of restrictions implicitly uses `AND`. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `EQUALS (=)` operator. Supported fields: * `adGroupId` * `displayName` * `entityStatus` * `adGroupAdId` Examples: * All ad group ads under an ad group: `adGroupId=\"1234\"` * All ad group ads under an ad group with an entityStatus of `ENTITY_STATUS_ACTIVE` or `ENTITY_STATUS_PAUSED`: `(entityStatus=\"ENTITY_STATUS_ACTIVE\" OR entityStatus=\"ENTITY_STATUS_PAUSED\") AND adGroupId=\"12345\"` The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information.",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "ListAdGroupAdsResponse"
              },
              "parameterOrder": [
                "advertiserId"
              ],
              "flatPath": "v4/advertisers/{advertisersId}/adGroupAds"
            },
            "create": {
              "flatPath": "v4/advertisers/{advertisersId}/adGroupAds",
              "response": {
                "$ref": "AdGroupAd"
              },
              "request": {
                "$ref": "AdGroupAd"
              },
              "httpMethod": "POST",
              "parameters": {
                "advertiserId": {
                  "required": true,
                  "format": "int64",
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "description": "Output only. The unique ID of the advertiser the ad belongs to."
                }
              },
              "path": "v4/advertisers/{+advertiserId}/adGroupAds",
              "parameterOrder": [
                "advertiserId"
              ],
              "description": "Creates an ad group ad. This method is only supported for Demand Gen ads.",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "id": "displayvideo.advertisers.adGroupAds.create"
            },
            "get": {
              "id": "displayvideo.advertisers.adGroupAds.get",
              "parameters": {
                "advertiserId": {
                  "description": "Required. The ID of the advertiser this ad group ad belongs to.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "format": "int64",
                  "required": true
                },
                "adGroupAdId": {
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "format": "int64",
                  "description": "Required. The ID of the ad to fetch.",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "advertiserId",
                "adGroupAdId"
              ],
              "path": "v4/advertisers/{+advertiserId}/adGroupAds/{+adGroupAdId}",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "flatPath": "v4/advertisers/{advertisersId}/adGroupAds/{adGroupAdsId}",
              "httpMethod": "GET",
              "description": "Gets an ad group ad.",
              "response": {
                "$ref": "AdGroupAd"
              }
            },
            "patch": {
              "response": {
                "$ref": "AdGroupAd"
              },
              "parameters": {
                "adGroupAdId": {
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "required": true,
                  "format": "int64",
                  "location": "path",
                  "description": "Output only. The unique ID of the ad. Assigned by the system."
                },
                "advertiserId": {
                  "format": "int64",
                  "location": "path",
                  "required": true,
                  "description": "Output only. The unique ID of the advertiser the ad belongs to.",
                  "type": "string",
                  "pattern": "^[^/]+$"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "description": "Required. The mask to control which fields to update.",
                  "type": "string",
                  "location": "query"
                }
              },
              "path": "v4/advertisers/{+advertiserId}/adGroupAds/{+adGroupAdId}",
              "flatPath": "v4/advertisers/{advertisersId}/adGroupAds/{adGroupAdsId}",
              "id": "displayvideo.advertisers.adGroupAds.patch",
              "description": "Updates an ad group ad. This method is only supported for Demand Gen ads.",
              "parameterOrder": [
                "advertiserId",
                "adGroupAdId"
              ],
              "request": {
                "$ref": "AdGroupAd"
              },
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "httpMethod": "PATCH"
            }
          }
        },
        "channels": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "parameterOrder": [
                "advertiserId",
                "channelId"
              ],
              "path": "v4/advertisers/{+advertiserId}/channels/{+channelId}",
              "httpMethod": "GET",
              "parameters": {
                "channelId": {
                  "required": true,
                  "description": "Required. The ID of the channel to fetch.",
                  "type": "string",
                  "format": "int64",
                  "pattern": "^[^/]+$",
                  "location": "path"
                },
                "advertiserId": {
                  "required": true,
                  "description": "The ID of the advertiser that owns the fetched channel.",
                  "type": "string",
                  "format": "int64",
                  "location": "path",
                  "pattern": "^[^/]+$"
                },
                "partnerId": {
                  "type": "string",
                  "location": "query",
                  "format": "int64",
                  "description": "The ID of the partner that owns the fetched channel."
                }
              },
              "description": "Gets a channel for a partner or advertiser.",
              "flatPath": "v4/advertisers/{advertisersId}/channels/{channelsId}",
              "id": "displayvideo.advertisers.channels.get",
              "response": {
                "$ref": "Channel"
              }
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "flatPath": "v4/advertisers/{advertisersId}/channels/{channelId}",
              "request": {
                "$ref": "Channel"
              },
              "description": "Updates a channel. Returns the updated channel if successful.",
              "parameters": {
                "partnerId": {
                  "format": "int64",
                  "location": "query",
                  "description": "The ID of the partner that owns the created channel.",
                  "type": "string"
                },
                "channelId": {
                  "description": "Output only. The unique ID of the channel. Assigned by the system.",
                  "location": "path",
                  "format": "int64",
                  "required": true,
                  "type": "string"
                },
                "advertiserId": {
                  "type": "string",
                  "required": true,
                  "description": "The ID of the advertiser that owns the created channel.",
                  "format": "int64",
                  "pattern": "^[^/]+$",
                  "location": "path"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "description": "Required. The mask to control which fields to update.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Channel"
              },
              "httpMethod": "PATCH",
              "path": "v4/advertisers/{+advertiserId}/channels/{channelId}",
              "id": "displayvideo.advertisers.channels.patch",
              "parameterOrder": [
                "advertiserId",
                "channelId"
              ]
            },
            "create": {
              "request": {
                "$ref": "Channel"
              },
              "path": "v4/advertisers/{+advertiserId}/channels",
              "httpMethod": "POST",
              "parameters": {
                "advertiserId": {
                  "required": true,
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "description": "The ID of the advertiser that owns the created channel.",
                  "format": "int64",
                  "location": "path"
                },
                "partnerId": {
                  "type": "string",
                  "format": "int64",
                  "location": "query",
                  "description": "The ID of the partner that owns the created channel."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "flatPath": "v4/advertisers/{advertisersId}/channels",
              "id": "displayvideo.advertisers.channels.create",
              "description": "Creates a new channel. Returns the newly created channel if successful.",
              "parameterOrder": [
                "advertiserId"
              ],
              "response": {
                "$ref": "Channel"
              }
            },
            "list": {
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified."
                },
                "advertiserId": {
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "required": true,
                  "format": "int64",
                  "location": "path",
                  "description": "The ID of the advertiser that owns the channels."
                },
                "filter": {
                  "location": "query",
                  "description": "Allows filtering by channel fields. Supported syntax: * Filter expressions for channel can only contain at most one restriction. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `HAS (:)` operator. Supported fields: * `displayName` Examples: * All channels for which the display name contains \"google\": `displayName : \"google\"`. The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information.",
                  "type": "string"
                },
                "orderBy": {
                  "description": "Field by which to sort the list. Acceptable values are: * `displayName` (default) * `channelId` The default sorting order is ascending. To specify descending order for a field, a suffix \" desc\" should be added to the field name. Example: `displayName desc`.",
                  "location": "query",
                  "type": "string"
                },
                "partnerId": {
                  "format": "int64",
                  "type": "string",
                  "description": "The ID of the partner that owns the channels.",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListChannels` method. If not specified, the first page of results will be returned."
                }
              },
              "description": "Lists channels for a partner or advertiser.",
              "response": {
                "$ref": "ListChannelsResponse"
              },
              "id": "displayvideo.advertisers.channels.list",
              "parameterOrder": [
                "advertiserId"
              ],
              "flatPath": "v4/advertisers/{advertisersId}/channels",
              "path": "v4/advertisers/{+advertiserId}/channels",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "httpMethod": "GET"
            }
          },
          "resources": {
            "sites": {
              "methods": {
                "bulkEdit": {
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "BulkEditSitesRequest"
                  },
                  "response": {
                    "$ref": "BulkEditSitesResponse"
                  },
                  "description": "Bulk edits sites under a single channel. The operation will delete the sites provided in BulkEditSitesRequest.deleted_sites and then create the sites provided in BulkEditSitesRequest.created_sites.",
                  "id": "displayvideo.advertisers.channels.sites.bulkEdit",
                  "path": "v4/advertisers/{advertiserId}/channels/{+channelId}/sites:bulkEdit",
                  "parameters": {
                    "advertiserId": {
                      "required": true,
                      "type": "string",
                      "description": "The ID of the advertiser that owns the parent channel.",
                      "format": "int64",
                      "location": "path"
                    },
                    "channelId": {
                      "description": "Required. The ID of the parent channel to which the sites belong.",
                      "pattern": "^[^/]+$",
                      "required": true,
                      "format": "int64",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "flatPath": "v4/advertisers/{advertiserId}/channels/{channelsId}/sites:bulkEdit",
                  "parameterOrder": [
                    "advertiserId",
                    "channelId"
                  ]
                },
                "list": {
                  "id": "displayvideo.advertisers.channels.sites.list",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "advertiserId",
                    "channelId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ],
                  "flatPath": "v4/advertisers/{advertisersId}/channels/{channelsId}/sites",
                  "path": "v4/advertisers/{+advertiserId}/channels/{+channelId}/sites",
                  "description": "Lists sites in a channel.",
                  "response": {
                    "$ref": "ListSitesResponse"
                  },
                  "parameters": {
                    "channelId": {
                      "description": "Required. The ID of the parent channel to which the requested sites belong.",
                      "location": "path",
                      "format": "int64",
                      "required": true,
                      "type": "string",
                      "pattern": "^[^/]+$"
                    },
                    "advertiserId": {
                      "location": "path",
                      "required": true,
                      "description": "The ID of the advertiser that owns the parent channel.",
                      "pattern": "^[^/]+$",
                      "type": "string",
                      "format": "int64"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Allows filtering by site fields. Supported syntax: * Filter expressions for site retrieval can only contain at most one restriction. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `HAS (:)` operator. Supported fields: * `urlOrAppId` Examples: * All sites for which the URL or app ID contains \"google\": `urlOrAppId : \"google\"` The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information.",
                      "type": "string"
                    },
                    "partnerId": {
                      "description": "The ID of the partner that owns the parent channel.",
                      "location": "query",
                      "format": "int64",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListSites` method. If not specified, the first page of results will be returned."
                    },
                    "orderBy": {
                      "location": "query",
                      "description": "Field by which to sort the list. Acceptable values are: * `urlOrAppId` (default) The default sorting order is ascending. To specify descending order for a field, a suffix \" desc\" should be added to the field name. Example: `urlOrAppId desc`.",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Requested page size. Must be between `1` and `10000`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
                      "location": "query"
                    }
                  }
                },
                "replace": {
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ],
                  "parameters": {
                    "channelId": {
                      "required": true,
                      "format": "int64",
                      "description": "Required. The ID of the parent channel whose sites will be replaced.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^[^/]+$"
                    },
                    "advertiserId": {
                      "type": "string",
                      "required": true,
                      "description": "The ID of the advertiser that owns the parent channel.",
                      "format": "int64",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "ReplaceSitesRequest"
                  },
                  "id": "displayvideo.advertisers.channels.sites.replace",
                  "path": "v4/advertisers/{advertiserId}/channels/{+channelId}/sites:replace",
                  "response": {
                    "$ref": "ReplaceSitesResponse"
                  },
                  "description": "Replaces all of the sites under a single channel. The operation will replace the sites under a channel with the sites provided in ReplaceSitesRequest.new_sites. **This method regularly experiences high latency.** We recommend [increasing your default timeout](/display-video/api/guides/best-practices/timeouts#client_library_timeout) to avoid errors.",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "advertiserId",
                    "channelId"
                  ],
                  "flatPath": "v4/advertisers/{advertiserId}/channels/{channelsId}/sites:replace"
                },
                "delete": {
                  "parameters": {
                    "urlOrAppId": {
                      "description": "Required. The URL or app ID of the site to delete.",
                      "pattern": "^[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "channelId": {
                      "location": "path",
                      "format": "int64",
                      "pattern": "^[^/]+$",
                      "description": "Required. The ID of the parent channel to which the site belongs.",
                      "type": "string",
                      "required": true
                    },
                    "advertiserId": {
                      "location": "path",
                      "description": "The ID of the advertiser that owns the parent channel.",
                      "format": "int64",
                      "required": true,
                      "type": "string"
                    },
                    "partnerId": {
                      "format": "int64",
                      "location": "query",
                      "type": "string",
                      "description": "The ID of the partner that owns the parent channel."
                    }
                  },
                  "flatPath": "v4/advertisers/{advertiserId}/channels/{channelsId}/sites/{sitesId}",
                  "id": "displayvideo.advertisers.channels.sites.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v4/advertisers/{advertiserId}/channels/{+channelId}/sites/{+urlOrAppId}",
                  "parameterOrder": [
                    "advertiserId",
                    "channelId",
                    "urlOrAppId"
                  ],
                  "description": "Deletes a site from a channel.",
                  "httpMethod": "DELETE"
                },
                "create": {
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "Site"
                  },
                  "parameterOrder": [
                    "advertiserId",
                    "channelId"
                  ],
                  "description": "Creates a site in a channel.",
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ],
                  "flatPath": "v4/advertisers/{advertiserId}/channels/{channelsId}/sites",
                  "response": {
                    "$ref": "Site"
                  },
                  "id": "displayvideo.advertisers.channels.sites.create",
                  "path": "v4/advertisers/{advertiserId}/channels/{+channelId}/sites",
                  "parameters": {
                    "advertiserId": {
                      "location": "path",
                      "format": "int64",
                      "description": "The ID of the advertiser that owns the parent channel.",
                      "required": true,
                      "type": "string"
                    },
                    "channelId": {
                      "location": "path",
                      "description": "Required. The ID of the parent channel in which the site will be created.",
                      "format": "int64",
                      "pattern": "^[^/]+$",
                      "type": "string",
                      "required": true
                    },
                    "partnerId": {
                      "type": "string",
                      "location": "query",
                      "description": "The ID of the partner that owns the parent channel.",
                      "format": "int64"
                    }
                  }
                }
              }
            }
          }
        },
        "targetingTypes": {
          "resources": {
            "assignedTargetingOptions": {
              "methods": {
                "delete": {
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "advertiserId",
                    "targetingType",
                    "assignedTargetingOptionId"
                  ],
                  "flatPath": "v4/advertisers/{advertisersId}/targetingTypes/{targetingTypesId}/assignedTargetingOptions/{assignedTargetingOptionsId}",
                  "id": "displayvideo.advertisers.targetingTypes.assignedTargetingOptions.delete",
                  "description": "Deletes an assigned targeting option from an advertiser.",
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ],
                  "path": "v4/advertisers/{+advertiserId}/targetingTypes/{+targetingType}/assignedTargetingOptions/{+assignedTargetingOptionId}",
                  "parameters": {
                    "targetingType": {
                      "enum": [
                        "TARGETING_TYPE_UNSPECIFIED",
                        "TARGETING_TYPE_CHANNEL",
                        "TARGETING_TYPE_APP_CATEGORY",
                        "TARGETING_TYPE_APP",
                        "TARGETING_TYPE_URL",
                        "TARGETING_TYPE_DAY_AND_TIME",
                        "TARGETING_TYPE_AGE_RANGE",
                        "TARGETING_TYPE_REGIONAL_LOCATION_LIST",
                        "TARGETING_TYPE_PROXIMITY_LOCATION_LIST",
                        "TARGETING_TYPE_GENDER",
                        "TARGETING_TYPE_VIDEO_PLAYER_SIZE",
                        "TARGETING_TYPE_USER_REWARDED_CONTENT",
                        "TARGETING_TYPE_PARENTAL_STATUS",
                        "TARGETING_TYPE_CONTENT_INSTREAM_POSITION",
                        "TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION",
                        "TARGETING_TYPE_DEVICE_TYPE",
                        "TARGETING_TYPE_AUDIENCE_GROUP",
                        "TARGETING_TYPE_BROWSER",
                        "TARGETING_TYPE_HOUSEHOLD_INCOME",
                        "TARGETING_TYPE_ON_SCREEN_POSITION",
                        "TARGETING_TYPE_THIRD_PARTY_VERIFIER",
                        "TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION",
                        "TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION",
                        "TARGETING_TYPE_ENVIRONMENT",
                        "TARGETING_TYPE_CARRIER_AND_ISP",
                        "TARGETING_TYPE_OPERATING_SYSTEM",
                        "TARGETING_TYPE_DEVICE_MAKE_MODEL",
                        "TARGETING_TYPE_KEYWORD",
                        "TARGETING_TYPE_NEGATIVE_KEYWORD_LIST",
                        "TARGETING_TYPE_VIEWABILITY",
                        "TARGETING_TYPE_CATEGORY",
                        "TARGETING_TYPE_INVENTORY_SOURCE",
                        "TARGETING_TYPE_LANGUAGE",
                        "TARGETING_TYPE_AUTHORIZED_SELLER_STATUS",
                        "TARGETING_TYPE_GEO_REGION",
                        "TARGETING_TYPE_INVENTORY_SOURCE_GROUP",
                        "TARGETING_TYPE_EXCHANGE",
                        "TARGETING_TYPE_SUB_EXCHANGE",
                        "TARGETING_TYPE_POI",
                        "TARGETING_TYPE_BUSINESS_CHAIN",
                        "TARGETING_TYPE_CONTENT_DURATION",
                        "TARGETING_TYPE_CONTENT_STREAM_TYPE",
                        "TARGETING_TYPE_NATIVE_CONTENT_POSITION",
                        "TARGETING_TYPE_OMID",
                        "TARGETING_TYPE_AUDIO_CONTENT_TYPE",
                        "TARGETING_TYPE_CONTENT_GENRE",
                        "TARGETING_TYPE_YOUTUBE_VIDEO",
                        "TARGETING_TYPE_YOUTUBE_CHANNEL",
                        "TARGETING_TYPE_SESSION_POSITION",
                        "TARGETING_TYPE_CONTENT_THEME_EXCLUSION",
                        "TARGETING_TYPE_YOUTUBE_CHANNEL_PACK"
                      ],
                      "description": "Required. Identifies the type of this assigned targeting option. Supported targeting types: * `TARGETING_TYPE_CHANNEL` * `TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION` * `TARGETING_TYPE_OMID` * `TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION` * `TARGETING_TYPE_KEYWORD`",
                      "pattern": "^[^/]+$",
                      "type": "string",
                      "required": true,
                      "enumDescriptions": [
                        "Default value when type is not specified or is unknown in this version.",
                        "Target a channel (a custom group of related websites or apps).",
                        "Target an app category (for example, education or puzzle games).",
                        "Target a specific app (for example, Angry Birds).",
                        "Target a specific url (for example, quora.com).",
                        "Target ads during a chosen time period on a specific day.",
                        "Target ads to a specific age range (for example, 18-24).",
                        "Target ads to the specified regions on a regional location list.",
                        "Target ads to the specified points of interest on a proximity location list.",
                        "Target ads to a specific gender (for example, female or male).",
                        "Target a specific video player size for video ads.",
                        "Target user rewarded content for video ads.",
                        "Target ads to a specific parental status (for example, parent or not a parent).",
                        "Target video or audio ads in a specific content instream position (for example, pre-roll, mid-roll, or post-roll).",
                        "Target ads in a specific content outstream position.",
                        "Target ads to a specific device type (for example, tablet or connected TV).",
                        "Target ads to an audience or groups of audiences. Singleton field, at most one can exist on a single Lineitem at a time.",
                        "Target ads to specific web browsers (for example, Chrome).",
                        "Target ads to a specific household income range (for example, top 10%).",
                        "Target ads in a specific on screen position.",
                        "Filter web sites through third party verification (for example, IAS or DoubleVerify).",
                        "Filter web sites by specific digital content label ratings (for example, DL-MA: suitable only for mature audiences).",
                        "Filter website content by sensitive categories (for example, adult).",
                        "Target ads to a specific environment (for example, web or app).",
                        "Target ads to a specific network carrier or internet service provider (ISP) (for example, Comcast or Orange).",
                        "Target ads to a specific operating system (for example, macOS).",
                        "Target ads to a specific device make or model (for example, Roku or Samsung).",
                        "Target ads to a specific keyword (for example, dog or retriever).",
                        "Target ads to a specific negative keyword list.",
                        "Target ads to a specific viewability (for example, 80% viewable).",
                        "Target ads to a specific content category (for example, arts & entertainment).",
                        "Purchase impressions from specific deals and auction packages.",
                        "Target ads to a specific language (for example, English or Japanese).",
                        "Target ads to ads.txt authorized sellers. If no targeting option of this type is assigned, the resource uses the \"Authorized Direct Sellers and Resellers\" option by default.",
                        "Target ads to a specific regional location (for example, a city or state).",
                        "Purchase impressions from a group of deals and auction packages.",
                        "Purchase impressions from specific exchanges.",
                        "Purchase impressions from specific sub-exchanges.",
                        "Target ads around a specific point of interest, such as a notable building, a street address, or latitude/longitude coordinates.",
                        "Target ads around locations of a business chain within a specific geo region.",
                        "Target ads to a specific video content duration.",
                        "Target ads to a specific video content stream type.",
                        "Target ads to a specific native content position.",
                        "Target ads in an Open Measurement enabled inventory.",
                        "Target ads to a specific audio content type.",
                        "Target ads to a specific content genre.",
                        "Target ads to a specific YouTube video. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                        "Target ads to a specific YouTube channel. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                        "Target ads to a serve it in a certain position of a session. Only supported for Ad Group resources under YouTube Programmatic Reservation line items. Targeting of this type cannot be created or updated using the API.",
                        "Filter website content by content themes (for example, religion). Only supported for Advertiser resources. Targeting of this type cannot be created or updated using the API. This targeting is only inherited by child YouTube and Demand Gen line item resources.",
                        "Target ads to a specific YouTube channel pack."
                      ],
                      "location": "path"
                    },
                    "advertiserId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "format": "int64",
                      "pattern": "^[^/]+$",
                      "description": "Required. The ID of the advertiser."
                    },
                    "assignedTargetingOptionId": {
                      "description": "Required. The ID of the assigned targeting option to delete.",
                      "location": "path",
                      "pattern": "^[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  }
                },
                "list": {
                  "description": "Lists the targeting options assigned to an advertiser.",
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ],
                  "httpMethod": "GET",
                  "path": "v4/advertisers/{+advertiserId}/targetingTypes/{+targetingType}/assignedTargetingOptions",
                  "parameterOrder": [
                    "advertiserId",
                    "targetingType"
                  ],
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Allows filtering by assigned targeting option fields. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by the `OR` logical operator. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `EQUALS (=)` operator. Supported fields: * `assignedTargetingOptionId` Examples: * `AssignedTargetingOption` with ID 123456: `assignedTargetingOptionId=\"123456\"` The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information."
                    },
                    "advertiserId": {
                      "location": "path",
                      "pattern": "^[^/]+$",
                      "type": "string",
                      "format": "int64",
                      "description": "Required. The ID of the advertiser.",
                      "required": true
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Field by which to sort the list. Acceptable values are: * `assignedTargetingOptionId` (default) The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. Example: `assignedTargetingOptionId desc`.",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Requested page size. Must be between `1` and `5000`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
                      "type": "integer",
                      "location": "query"
                    },
                    "targetingType": {
                      "description": "Required. Identifies the type of assigned targeting options to list. Supported targeting types: * `TARGETING_TYPE_CHANNEL` * `TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION` * `TARGETING_TYPE_OMID` * `TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION` * `TARGETING_TYPE_YOUTUBE_VIDEO` * `TARGETING_TYPE_YOUTUBE_CHANNEL` * `TARGETING_TYPE_KEYWORD` * `TARGETING_TYPE_CONTENT_THEME_EXCLUSION`",
                      "enum": [
                        "TARGETING_TYPE_UNSPECIFIED",
                        "TARGETING_TYPE_CHANNEL",
                        "TARGETING_TYPE_APP_CATEGORY",
                        "TARGETING_TYPE_APP",
                        "TARGETING_TYPE_URL",
                        "TARGETING_TYPE_DAY_AND_TIME",
                        "TARGETING_TYPE_AGE_RANGE",
                        "TARGETING_TYPE_REGIONAL_LOCATION_LIST",
                        "TARGETING_TYPE_PROXIMITY_LOCATION_LIST",
                        "TARGETING_TYPE_GENDER",
                        "TARGETING_TYPE_VIDEO_PLAYER_SIZE",
                        "TARGETING_TYPE_USER_REWARDED_CONTENT",
                        "TARGETING_TYPE_PARENTAL_STATUS",
                        "TARGETING_TYPE_CONTENT_INSTREAM_POSITION",
                        "TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION",
                        "TARGETING_TYPE_DEVICE_TYPE",
                        "TARGETING_TYPE_AUDIENCE_GROUP",
                        "TARGETING_TYPE_BROWSER",
                        "TARGETING_TYPE_HOUSEHOLD_INCOME",
                        "TARGETING_TYPE_ON_SCREEN_POSITION",
                        "TARGETING_TYPE_THIRD_PARTY_VERIFIER",
                        "TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION",
                        "TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION",
                        "TARGETING_TYPE_ENVIRONMENT",
                        "TARGETING_TYPE_CARRIER_AND_ISP",
                        "TARGETING_TYPE_OPERATING_SYSTEM",
                        "TARGETING_TYPE_DEVICE_MAKE_MODEL",
                        "TARGETING_TYPE_KEYWORD",
                        "TARGETING_TYPE_NEGATIVE_KEYWORD_LIST",
                        "TARGETING_TYPE_VIEWABILITY",
                        "TARGETING_TYPE_CATEGORY",
                        "TARGETING_TYPE_INVENTORY_SOURCE",
                        "TARGETING_TYPE_LANGUAGE",
                        "TARGETING_TYPE_AUTHORIZED_SELLER_STATUS",
                        "TARGETING_TYPE_GEO_REGION",
                        "TARGETING_TYPE_INVENTORY_SOURCE_GROUP",
                        "TARGETING_TYPE_EXCHANGE",
                        "TARGETING_TYPE_SUB_EXCHANGE",
                        "TARGETING_TYPE_POI",
                        "TARGETING_TYPE_BUSINESS_CHAIN",
                        "TARGETING_TYPE_CONTENT_DURATION",
                        "TARGETING_TYPE_CONTENT_STREAM_TYPE",
                        "TARGETING_TYPE_NATIVE_CONTENT_POSITION",
                        "TARGETING_TYPE_OMID",
                        "TARGETING_TYPE_AUDIO_CONTENT_TYPE",
                        "TARGETING_TYPE_CONTENT_GENRE",
                        "TARGETING_TYPE_YOUTUBE_VIDEO",
                        "TARGETING_TYPE_YOUTUBE_CHANNEL",
                        "TARGETING_TYPE_SESSION_POSITION",
                        "TARGETING_TYPE_CONTENT_THEME_EXCLUSION",
                        "TARGETING_TYPE_YOUTUBE_CHANNEL_PACK"
                      ],
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^[^/]+$",
                      "enumDescriptions": [
                        "Default value when type is not specified or is unknown in this version.",
                        "Target a channel (a custom group of related websites or apps).",
                        "Target an app category (for example, education or puzzle games).",
                        "Target a specific app (for example, Angry Birds).",
                        "Target a specific url (for example, quora.com).",
                        "Target ads during a chosen time period on a specific day.",
                        "Target ads to a specific age range (for example, 18-24).",
                        "Target ads to the specified regions on a regional location list.",
                        "Target ads to the specified points of interest on a proximity location list.",
                        "Target ads to a specific gender (for example, female or male).",
                        "Target a specific video player size for video ads.",
                        "Target user rewarded content for video ads.",
                        "Target ads to a specific parental status (for example, parent or not a parent).",
                        "Target video or audio ads in a specific content instream position (for example, pre-roll, mid-roll, or post-roll).",
                        "Target ads in a specific content outstream position.",
                        "Target ads to a specific device type (for example, tablet or connected TV).",
                        "Target ads to an audience or groups of audiences. Singleton field, at most one can exist on a single Lineitem at a time.",
                        "Target ads to specific web browsers (for example, Chrome).",
                        "Target ads to a specific household income range (for example, top 10%).",
                        "Target ads in a specific on screen position.",
                        "Filter web sites through third party verification (for example, IAS or DoubleVerify).",
                        "Filter web sites by specific digital content label ratings (for example, DL-MA: suitable only for mature audiences).",
                        "Filter website content by sensitive categories (for example, adult).",
                        "Target ads to a specific environment (for example, web or app).",
                        "Target ads to a specific network carrier or internet service provider (ISP) (for example, Comcast or Orange).",
                        "Target ads to a specific operating system (for example, macOS).",
                        "Target ads to a specific device make or model (for example, Roku or Samsung).",
                        "Target ads to a specific keyword (for example, dog or retriever).",
                        "Target ads to a specific negative keyword list.",
                        "Target ads to a specific viewability (for example, 80% viewable).",
                        "Target ads to a specific content category (for example, arts & entertainment).",
                        "Purchase impressions from specific deals and auction packages.",
                        "Target ads to a specific language (for example, English or Japanese).",
                        "Target ads to ads.txt authorized sellers. If no targeting option of this type is assigned, the resource uses the \"Authorized Direct Sellers and Resellers\" option by default.",
                        "Target ads to a specific regional location (for example, a city or state).",
                        "Purchase impressions from a group of deals and auction packages.",
                        "Purchase impressions from specific exchanges.",
                        "Purchase impressions from specific sub-exchanges.",
                        "Target ads around a specific point of interest, such as a notable building, a street address, or latitude/longitude coordinates.",
                        "Target ads around locations of a business chain within a specific geo region.",
                        "Target ads to a specific video content duration.",
                        "Target ads to a specific video content stream type.",
                        "Target ads to a specific native content position.",
                        "Target ads in an Open Measurement enabled inventory.",
                        "Target ads to a specific audio content type.",
                        "Target ads to a specific content genre.",
                        "Target ads to a specific YouTube video. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                        "Target ads to a specific YouTube channel. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                        "Target ads to a serve it in a certain position of a session. Only supported for Ad Group resources under YouTube Programmatic Reservation line items. Targeting of this type cannot be created or updated using the API.",
                        "Filter website content by content themes (for example, religion). Only supported for Advertiser resources. Targeting of this type cannot be created or updated using the API. This targeting is only inherited by child YouTube and Demand Gen line item resources.",
                        "Target ads to a specific YouTube channel pack."
                      ]
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListAdvertiserAssignedTargetingOptions` method. If not specified, the first page of results will be returned."
                    }
                  },
                  "response": {
                    "$ref": "ListAdvertiserAssignedTargetingOptionsResponse"
                  },
                  "id": "displayvideo.advertisers.targetingTypes.assignedTargetingOptions.list",
                  "flatPath": "v4/advertisers/{advertisersId}/targetingTypes/{targetingTypesId}/assignedTargetingOptions"
                },
                "get": {
                  "flatPath": "v4/advertisers/{advertisersId}/targetingTypes/{targetingTypesId}/assignedTargetingOptions/{assignedTargetingOptionsId}",
                  "response": {
                    "$ref": "AssignedTargetingOption"
                  },
                  "description": "Gets a single targeting option assigned to an advertiser.",
                  "parameters": {
                    "assignedTargetingOptionId": {
                      "description": "Required. An identifier unique to the targeting type in this advertiser that identifies the assigned targeting option being requested.",
                      "location": "path",
                      "pattern": "^[^/]+$",
                      "type": "string",
                      "required": true
                    },
                    "targetingType": {
                      "enumDescriptions": [
                        "Default value when type is not specified or is unknown in this version.",
                        "Target a channel (a custom group of related websites or apps).",
                        "Target an app category (for example, education or puzzle games).",
                        "Target a specific app (for example, Angry Birds).",
                        "Target a specific url (for example, quora.com).",
                        "Target ads during a chosen time period on a specific day.",
                        "Target ads to a specific age range (for example, 18-24).",
                        "Target ads to the specified regions on a regional location list.",
                        "Target ads to the specified points of interest on a proximity location list.",
                        "Target ads to a specific gender (for example, female or male).",
                        "Target a specific video player size for video ads.",
                        "Target user rewarded content for video ads.",
                        "Target ads to a specific parental status (for example, parent or not a parent).",
                        "Target video or audio ads in a specific content instream position (for example, pre-roll, mid-roll, or post-roll).",
                        "Target ads in a specific content outstream position.",
                        "Target ads to a specific device type (for example, tablet or connected TV).",
                        "Target ads to an audience or groups of audiences. Singleton field, at most one can exist on a single Lineitem at a time.",
                        "Target ads to specific web browsers (for example, Chrome).",
                        "Target ads to a specific household income range (for example, top 10%).",
                        "Target ads in a specific on screen position.",
                        "Filter web sites through third party verification (for example, IAS or DoubleVerify).",
                        "Filter web sites by specific digital content label ratings (for example, DL-MA: suitable only for mature audiences).",
                        "Filter website content by sensitive categories (for example, adult).",
                        "Target ads to a specific environment (for example, web or app).",
                        "Target ads to a specific network carrier or internet service provider (ISP) (for example, Comcast or Orange).",
                        "Target ads to a specific operating system (for example, macOS).",
                        "Target ads to a specific device make or model (for example, Roku or Samsung).",
                        "Target ads to a specific keyword (for example, dog or retriever).",
                        "Target ads to a specific negative keyword list.",
                        "Target ads to a specific viewability (for example, 80% viewable).",
                        "Target ads to a specific content category (for example, arts & entertainment).",
                        "Purchase impressions from specific deals and auction packages.",
                        "Target ads to a specific language (for example, English or Japanese).",
                        "Target ads to ads.txt authorized sellers. If no targeting option of this type is assigned, the resource uses the \"Authorized Direct Sellers and Resellers\" option by default.",
                        "Target ads to a specific regional location (for example, a city or state).",
                        "Purchase impressions from a group of deals and auction packages.",
                        "Purchase impressions from specific exchanges.",
                        "Purchase impressions from specific sub-exchanges.",
                        "Target ads around a specific point of interest, such as a notable building, a street address, or latitude/longitude coordinates.",
                        "Target ads around locations of a business chain within a specific geo region.",
                        "Target ads to a specific video content duration.",
                        "Target ads to a specific video content stream type.",
                        "Target ads to a specific native content position.",
                        "Target ads in an Open Measurement enabled inventory.",
                        "Target ads to a specific audio content type.",
                        "Target ads to a specific content genre.",
                        "Target ads to a specific YouTube video. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                        "Target ads to a specific YouTube channel. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                        "Target ads to a serve it in a certain position of a session. Only supported for Ad Group resources under YouTube Programmatic Reservation line items. Targeting of this type cannot be created or updated using the API.",
                        "Filter website content by content themes (for example, religion). Only supported for Advertiser resources. Targeting of this type cannot be created or updated using the API. This targeting is only inherited by child YouTube and Demand Gen line item resources.",
                        "Target ads to a specific YouTube channel pack."
                      ],
                      "description": "Required. Identifies the type of this assigned targeting option. Supported targeting types: * `TARGETING_TYPE_CHANNEL` * `TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION` * `TARGETING_TYPE_OMID` * `TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION` * `TARGETING_TYPE_YOUTUBE_VIDEO` * `TARGETING_TYPE_YOUTUBE_CHANNEL` * `TARGETING_TYPE_KEYWORD` * `TARGETING_TYPE_CONTENT_THEME_EXCLUSION`",
                      "location": "path",
                      "enum": [
                        "TARGETING_TYPE_UNSPECIFIED",
                        "TARGETING_TYPE_CHANNEL",
                        "TARGETING_TYPE_APP_CATEGORY",
                        "TARGETING_TYPE_APP",
                        "TARGETING_TYPE_URL",
                        "TARGETING_TYPE_DAY_AND_TIME",
                        "TARGETING_TYPE_AGE_RANGE",
                        "TARGETING_TYPE_REGIONAL_LOCATION_LIST",
                        "TARGETING_TYPE_PROXIMITY_LOCATION_LIST",
                        "TARGETING_TYPE_GENDER",
                        "TARGETING_TYPE_VIDEO_PLAYER_SIZE",
                        "TARGETING_TYPE_USER_REWARDED_CONTENT",
                        "TARGETING_TYPE_PARENTAL_STATUS",
                        "TARGETING_TYPE_CONTENT_INSTREAM_POSITION",
                        "TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION",
                        "TARGETING_TYPE_DEVICE_TYPE",
                        "TARGETING_TYPE_AUDIENCE_GROUP",
                        "TARGETING_TYPE_BROWSER",
                        "TARGETING_TYPE_HOUSEHOLD_INCOME",
                        "TARGETING_TYPE_ON_SCREEN_POSITION",
                        "TARGETING_TYPE_THIRD_PARTY_VERIFIER",
                        "TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION",
                        "TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION",
                        "TARGETING_TYPE_ENVIRONMENT",
                        "TARGETING_TYPE_CARRIER_AND_ISP",
                        "TARGETING_TYPE_OPERATING_SYSTEM",
                        "TARGETING_TYPE_DEVICE_MAKE_MODEL",
                        "TARGETING_TYPE_KEYWORD",
                        "TARGETING_TYPE_NEGATIVE_KEYWORD_LIST",
                        "TARGETING_TYPE_VIEWABILITY",
                        "TARGETING_TYPE_CATEGORY",
                        "TARGETING_TYPE_INVENTORY_SOURCE",
                        "TARGETING_TYPE_LANGUAGE",
                        "TARGETING_TYPE_AUTHORIZED_SELLER_STATUS",
                        "TARGETING_TYPE_GEO_REGION",
                        "TARGETING_TYPE_INVENTORY_SOURCE_GROUP",
                        "TARGETING_TYPE_EXCHANGE",
                        "TARGETING_TYPE_SUB_EXCHANGE",
                        "TARGETING_TYPE_POI",
                        "TARGETING_TYPE_BUSINESS_CHAIN",
                        "TARGETING_TYPE_CONTENT_DURATION",
                        "TARGETING_TYPE_CONTENT_STREAM_TYPE",
                        "TARGETING_TYPE_NATIVE_CONTENT_POSITION",
                        "TARGETING_TYPE_OMID",
                        "TARGETING_TYPE_AUDIO_CONTENT_TYPE",
                        "TARGETING_TYPE_CONTENT_GENRE",
                        "TARGETING_TYPE_YOUTUBE_VIDEO",
                        "TARGETING_TYPE_YOUTUBE_CHANNEL",
                        "TARGETING_TYPE_SESSION_POSITION",
                        "TARGETING_TYPE_CONTENT_THEME_EXCLUSION",
                        "TARGETING_TYPE_YOUTUBE_CHANNEL_PACK"
                      ],
                      "required": true,
                      "type": "string",
                      "pattern": "^[^/]+$"
                    },
                    "advertiserId": {
                      "location": "path",
                      "pattern": "^[^/]+$",
                      "format": "int64",
                      "type": "string",
                      "description": "Required. The ID of the advertiser.",
                      "required": true
                    }
                  },
                  "path": "v4/advertisers/{+advertiserId}/targetingTypes/{+targetingType}/assignedTargetingOptions/{+assignedTargetingOptionId}",
                  "id": "displayvideo.advertisers.targetingTypes.assignedTargetingOptions.get",
                  "parameterOrder": [
                    "advertiserId",
                    "targetingType",
                    "assignedTargetingOptionId"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ]
                },
                "create": {
                  "flatPath": "v4/advertisers/{advertisersId}/targetingTypes/{targetingTypesId}/assignedTargetingOptions",
                  "parameterOrder": [
                    "advertiserId",
                    "targetingType"
                  ],
                  "response": {
                    "$ref": "AssignedTargetingOption"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ],
                  "description": "Assigns a targeting option to an advertiser. Returns the assigned targeting option if successful.",
                  "parameters": {
                    "targetingType": {
                      "type": "string",
                      "pattern": "^[^/]+$",
                      "required": true,
                      "enum": [
                        "TARGETING_TYPE_UNSPECIFIED",
                        "TARGETING_TYPE_CHANNEL",
                        "TARGETING_TYPE_APP_CATEGORY",
                        "TARGETING_TYPE_APP",
                        "TARGETING_TYPE_URL",
                        "TARGETING_TYPE_DAY_AND_TIME",
                        "TARGETING_TYPE_AGE_RANGE",
                        "TARGETING_TYPE_REGIONAL_LOCATION_LIST",
                        "TARGETING_TYPE_PROXIMITY_LOCATION_LIST",
                        "TARGETING_TYPE_GENDER",
                        "TARGETING_TYPE_VIDEO_PLAYER_SIZE",
                        "TARGETING_TYPE_USER_REWARDED_CONTENT",
                        "TARGETING_TYPE_PARENTAL_STATUS",
[...]
