{
  "revision": "20260825",
  "rootUrl": "https://displayvideo.googleapis.com/",
  "discoveryVersion": "v1",
  "description": "Display & Video 360 API allows users to automate complex Display & Video 360 workflows, such as creating insertion orders and setting targeting options for individual line items.",
  "batchPath": "batch",
  "ownerName": "Google",
  "mtlsRootUrl": "https://displayvideo.mtls.googleapis.com/",
  "documentationLink": "https://developers.google.com/display-video/",
  "baseUrl": "https://displayvideo.googleapis.com/",
  "id": "displayvideo:v3",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "parameters": {
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    }
  },
  "servicePath": "",
  "protocol": "rest",
  "name": "displayvideo",
  "version": "v3",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/display-video-mediaplanning": {
          "description": "Create, see, and edit Display & Video 360 Campaign entities and see billing invoices"
        },
        "https://www.googleapis.com/auth/display-video": {
          "description": "Create, see, edit, and permanently delete your Display & Video 360 entities and reports"
        },
        "https://www.googleapis.com/auth/display-video-user-management": {
          "description": "Private Service: https://www.googleapis.com/auth/display-video-user-management"
        },
        "https://www.googleapis.com/auth/doubleclickbidmanager": {
          "description": "View and manage your reports in DoubleClick Bid Manager"
        }
      }
    }
  },
  "title": "Display & Video 360 API",
  "basePath": "",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "schemas": {
    "ParentalStatusTargetingOptionDetails": {
      "id": "ParentalStatusTargetingOptionDetails",
      "type": "object",
      "properties": {
        "parentalStatus": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "PARENTAL_STATUS_UNSPECIFIED",
            "PARENTAL_STATUS_PARENT",
            "PARENTAL_STATUS_NOT_A_PARENT",
            "PARENTAL_STATUS_UNKNOWN"
          ],
          "description": "Output only. The parental status of an audience.",
          "enumDescriptions": [
            "Default value when parental status is not specified in this version. This enum is a place holder for default value and does not represent a real parental status option.",
            "The audience is a parent.",
            "The audience is not a parent.",
            "The parental status of the audience is unknown."
          ]
        }
      },
      "description": "Represents a targetable parental status. This will be populated in the parental_status_details field of a TargetingOption when targeting_type is `TARGETING_TYPE_PARENTAL_STATUS`."
    },
    "VideoPlayerSizeTargetingOptionDetails": {
      "properties": {
        "videoPlayerSize": {
          "description": "Output only. The video player size.",
          "enum": [
            "VIDEO_PLAYER_SIZE_UNSPECIFIED",
            "VIDEO_PLAYER_SIZE_SMALL",
            "VIDEO_PLAYER_SIZE_LARGE",
            "VIDEO_PLAYER_SIZE_HD",
            "VIDEO_PLAYER_SIZE_UNKNOWN"
          ],
          "type": "string",
          "enumDescriptions": [
            "Video player size is not specified in this version. This enum is a place holder for a default value and does not represent a real video player size.",
            "The dimensions of the video player are less than 400×300 (desktop), or up to 20% of screen covered (mobile).",
            "The dimensions of the video player are between 400x300 and 1280x720 pixels (desktop), or 20% to 90% of the screen covered (mobile).",
            "The dimensions of the video player are 1280×720 or greater (desktop), or over 90% of the screen covered (mobile).",
            "The dimensions of the video player are unknown."
          ],
          "readOnly": true
        }
      },
      "id": "VideoPlayerSizeTargetingOptionDetails",
      "type": "object",
      "description": "Represents a targetable video player size. This will be populated in the video_player_size_details field when targeting_type is `TARGETING_TYPE_VIDEO_PLAYER_SIZE`."
    },
    "AdPolicyTopicEvidenceCounterfeit": {
      "properties": {
        "owners": {
          "items": {
            "type": "string"
          },
          "description": "The content or product owners that made a complaint.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Details on the counterfeit enforcement that caused a policy violation.",
      "id": "AdPolicyTopicEvidenceCounterfeit"
    },
    "CustomListGroup": {
      "id": "CustomListGroup",
      "description": "Details of custom list group. All custom list targeting settings are logically ‘OR’ of each other.",
      "type": "object",
      "properties": {
        "settings": {
          "items": {
            "$ref": "CustomListTargetingSetting"
          },
          "description": "Required. All custom list targeting settings in custom list group. Repeated settings with the same id will be ignored.",
          "type": "array"
        }
      }
    },
    "IntegrationDetails": {
      "id": "IntegrationDetails",
      "description": "Integration details of an entry.",
      "properties": {
        "integrationCode": {
          "description": "An external identifier to be associated with the entry. The integration code will show up together with the entry in many places in the system, for example, reporting. Must be UTF-8 encoded with a length of no more than 500 characters.",
          "type": "string"
        },
        "details": {
          "description": "Additional details of the entry in string format. Must be UTF-8 encoded with a length of no more than 1000 characters.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "HouseholdIncomeTargetingOptionDetails": {
      "id": "HouseholdIncomeTargetingOptionDetails",
      "description": "Represents a targetable household income. This will be populated in the household_income_details field of a TargetingOption when targeting_type is `TARGETING_TYPE_HOUSEHOLD_INCOME`.",
      "type": "object",
      "properties": {
        "householdIncome": {
          "enumDescriptions": [
            "Default value when household income is not specified in this version. This enum is a placeholder for default value and does not represent a real household income option.",
            "The household income of the audience is unknown.",
            "The audience is in the lower 50% of U.S. household incomes.",
            "The audience is in the top 41-50% of U.S. household incomes.",
            "The audience is in the top 31-40% of U.S. household incomes.",
            "The audience is in the top 21-30% of U.S. household incomes.",
            "The audience is in the top 11-20% of U.S. household incomes.",
            "The audience is in the top 10% of U.S. household incomes."
          ],
          "readOnly": true,
          "description": "Output only. The household income of an audience.",
          "type": "string",
          "enum": [
            "HOUSEHOLD_INCOME_UNSPECIFIED",
            "HOUSEHOLD_INCOME_UNKNOWN",
            "HOUSEHOLD_INCOME_LOWER_50_PERCENT",
            "HOUSEHOLD_INCOME_TOP_41_TO_50_PERCENT",
            "HOUSEHOLD_INCOME_TOP_31_TO_40_PERCENT",
            "HOUSEHOLD_INCOME_TOP_21_TO_30_PERCENT",
            "HOUSEHOLD_INCOME_TOP_11_TO_20_PERCENT",
            "HOUSEHOLD_INCOME_TOP_10_PERCENT"
          ]
        }
      }
    },
    "TimerEvent": {
      "id": "TimerEvent",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The name of the timer event."
        },
        "reportingName": {
          "description": "Required. The name used to identify this timer event in reports.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Timer event of the creative."
    },
    "PartnerDataAccessConfig": {
      "type": "object",
      "id": "PartnerDataAccessConfig",
      "properties": {
        "sdfConfig": {
          "description": "Structured Data Files (SDF) settings for the partner. The SDF configuration for the partner.",
          "$ref": "SdfConfig"
        }
      },
      "description": "Settings that control how partner related data may be accessed."
    },
    "ListPartnerAssignedTargetingOptionsResponse": {
      "type": "object",
      "id": "ListPartnerAssignedTargetingOptionsResponse",
      "properties": {
        "assignedTargetingOptions": {
          "items": {
            "$ref": "AssignedTargetingOption"
          },
          "description": "The list of assigned targeting options. This list will be absent if empty.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying the next page of results. This value should be specified as the pageToken in a subsequent ListPartnerAssignedTargetingOptionsRequest to fetch the next page of results. This token will be absent if there are no more assigned_targeting_options to return."
        }
      }
    },
    "GoogleAudienceGroup": {
      "type": "object",
      "properties": {
        "settings": {
          "description": "Required. All Google audience targeting settings in Google audience group. Repeated settings with the same id will be ignored.",
          "type": "array",
          "items": {
            "$ref": "GoogleAudienceTargetingSetting"
          }
        }
      },
      "description": "Details of Google audience group. All Google audience targeting settings are logically ‘OR’ of each other.",
      "id": "GoogleAudienceGroup"
    },
    "BulkEditAssignedInventorySourcesResponse": {
      "id": "BulkEditAssignedInventorySourcesResponse",
      "description": "Response message for AssignedInventorySourceService.BulkEdit.",
      "type": "object",
      "properties": {
        "assignedInventorySources": {
          "description": "The list of assigned inventory sources that have been successfully created. This list will be absent if empty.",
          "items": {
            "$ref": "AssignedInventorySource"
          },
          "type": "array"
        }
      }
    },
    "ContentDurationTargetingOptionDetails": {
      "id": "ContentDurationTargetingOptionDetails",
      "properties": {
        "contentDuration": {
          "enumDescriptions": [
            "Content duration is not specified in this version. This enum is a place holder for a default value and does not represent a real content duration.",
            "The content duration is unknown.",
            "Content is 0-1 minute long.",
            "Content is 1-5 minutes long.",
            "Content is 5-15 minutes long.",
            "Content is 15-30 minutes long.",
            "Content is 30-60 minutes long.",
            "Content is over 60 minutes long."
          ],
          "description": "Output only. The content duration.",
          "enum": [
            "CONTENT_DURATION_UNSPECIFIED",
            "CONTENT_DURATION_UNKNOWN",
            "CONTENT_DURATION_0_TO_1_MIN",
            "CONTENT_DURATION_1_TO_5_MIN",
            "CONTENT_DURATION_5_TO_15_MIN",
            "CONTENT_DURATION_15_TO_30_MIN",
            "CONTENT_DURATION_30_TO_60_MIN",
            "CONTENT_DURATION_OVER_60_MIN"
          ],
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Represents a targetable content duration. This will be populated in the content_duration_details field when targeting_type is `TARGETING_TYPE_CONTENT_DURATION`.",
      "type": "object"
    },
    "AdPolicyTopicConstraintAdPolicyGlobalCertificateMissingConstraint": {
      "type": "object",
      "description": "Certificate is required to serve in any country.",
      "properties": {},
      "id": "AdPolicyTopicConstraintAdPolicyGlobalCertificateMissingConstraint"
    },
    "ExchangeConfig": {
      "description": "Settings that control which exchanges are enabled for a partner.",
      "id": "ExchangeConfig",
      "properties": {
        "enabledExchanges": {
          "type": "array",
          "items": {
            "$ref": "ExchangeConfigEnabledExchange"
          },
          "description": "All enabled exchanges in the partner. Duplicate enabled exchanges will be ignored."
        }
      },
      "type": "object"
    },
    "AdPolicyTopicEntry": {
      "type": "object",
      "id": "AdPolicyTopicEntry",
      "properties": {
        "policyTopicEvidences": {
          "description": "The evidence used in the policy decision.",
          "items": {
            "$ref": "AdPolicyTopicEvidence"
          },
          "type": "array"
        },
        "appealInfo": {
          "description": "Information on how to appeal the policy decision.",
          "$ref": "AdPolicyTopicAppealInfo"
        },
        "policyTopicDescription": {
          "description": "A short summary description of the policy topic.",
          "type": "string"
        },
        "policyTopic": {
          "type": "string",
          "description": "The policy topic. Examples include \"TRADEMARKS\", \"ALCOHOL\", etc."
        },
        "policyLabel": {
          "description": "Localized label text for policy. Examples include \"Trademarks in text\", \"Contains Alcohol\", etc.",
          "type": "string"
        },
        "policyDecisionType": {
          "description": "The source of the policy decision.",
          "enumDescriptions": [
            "Unknown or not specified.",
            "The decision is from a legal notice, court order, or trademark content owner complaint, etc.",
            "The decision is from a Google-owned investigation."
          ],
          "type": "string",
          "enum": [
            "AD_POLICY_DECISION_TYPE_UNKNOWN",
            "PURSUANT_TO_NOTICE",
            "GOOGLE_INVESTIGATION"
          ]
        },
        "policyEnforcementMeans": {
          "enum": [
            "AD_POLICY_ENFORCEMENT_MEANS_UNKNOWN",
            "AUTOMATED",
            "HUMAN_REVIEW"
          ],
          "type": "string",
          "description": "The policy enforcement means used in the policy review.",
          "enumDescriptions": [
            "Unknown or not specified.",
            "The enforcement process was fully automated.",
            "A human was partially or fully involved in the decision enforcement process."
          ]
        },
        "policyTopicConstraints": {
          "type": "array",
          "description": "The serving constraints relevant to the policy decision.",
          "items": {
            "$ref": "AdPolicyTopicConstraint"
          }
        },
        "policyTopicType": {
          "description": "How ad serving will be affected due to the relation to the ad policy topic.",
          "enum": [
            "AD_POLICY_TOPIC_ENTRY_TYPE_UNKNOWN",
            "PROHIBITED",
            "FULLY_LIMITED",
            "LIMITED",
            "DESCRIPTIVE",
            "BROADENING",
            "AREA_OF_INTEREST_ONLY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown or not specified.",
            "The resource will not serve.",
            "The resource will not serve in all targeted countries.",
            "The resource cannot serve in some countries.",
            "The resource can serve.",
            "The resource can serve, and may serve beyond normal coverage.",
            "The resource is constrained for all targeted countries, but may serve for users who are searching for information about the targeted countries."
          ]
        },
        "helpCenterLink": {
          "description": "Ad policy help center link for the policy topic.",
          "type": "string"
        }
      },
      "description": "An entry describing how an ad has been identified as relating to an ad policy."
    },
    "DemandGenBiddingStrategy": {
      "type": "object",
      "properties": {
        "effectiveBiddingValueSource": {
          "description": "Output only. Source of the effective bidding value.",
          "enum": [
            "BIDDING_SOURCE_UNSPECIFIED",
            "BIDDING_SOURCE_LINE_ITEM",
            "BIDDING_SOURCE_AD_GROUP"
          ],
          "type": "string",
          "enumDescriptions": [
            "Bidding source is not specified or unknown.",
            "Bidding value is inherited from the line item.",
            "Bidding value is defined in the ad group."
          ],
          "readOnly": true
        },
        "effectiveBiddingValue": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. The value effectively used by the bidding strategy. This field will be the same as value if set. If value is not set and the strategy is assigned to an ad group, this field will be inherited from the line item's bidding strategy. If type is not `DEMAND_GEN_BIDDING_STRATEGY_TYPE_TARGET_CPA` or `DEMAND_GEN_BIDDING_STRATEGY_TYPE_TARGET_ROAS`, this field will be 0."
        },
        "value": {
          "description": "Optional. The value used by the bidding strategy. This can be set when assigned to line items or ad groups. This field is only applicable for the following strategy types: * `DEMAND_GEN_BIDDING_STRATEGY_TYPE_TARGET_CPA` * `DEMAND_GEN_BIDDING_STRATEGY_TYPE_TARGET_CPC` * `DEMAND_GEN_BIDDING_STRATEGY_TYPE_TARGET_ROAS` Value of this field is in micros of the advertiser's currency or ROAS value. For example, 1000000 represents 1.0 standard units of the currency or 100% ROAS value. If not using an applicable strategy, the value of this field will be 0.",
          "format": "int64",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Type is not specified or unknown.",
            "A bidding strategy that automatically optimizes conversions per dollar.",
            "A bidding strategy that automatically maximizes revenue while averaging a specific target Return On Ad Spend (ROAS).",
            "A bidding strategy that automatically maximizes number of conversions",
            "A bidding strategy that automatically maximizes revenue while spending your budget.",
            "A bidding strategy that automatically maximizes clicks within a given budget.",
            "A bidding strategy that automatically optimizes cost per click."
          ],
          "description": "Optional. The type of the bidding strategy. This can only be set when assigned to a line item. Ad groups will inherit this value from their line item.",
          "type": "string",
          "enum": [
            "DEMAND_GEN_BIDDING_STRATEGY_TYPE_UNSPECIFIED",
            "DEMAND_GEN_BIDDING_STRATEGY_TYPE_TARGET_CPA",
            "DEMAND_GEN_BIDDING_STRATEGY_TYPE_TARGET_ROAS",
            "DEMAND_GEN_BIDDING_STRATEGY_TYPE_MAXIMIZE_CONVERSIONS",
            "DEMAND_GEN_BIDDING_STRATEGY_TYPE_MAXIMIZE_CONVERSION_VALUE",
            "DEMAND_GEN_BIDDING_STRATEGY_TYPE_MAXIMIZE_CLICKS",
            "DEMAND_GEN_BIDDING_STRATEGY_TYPE_TARGET_CPC"
          ]
        }
      },
      "id": "DemandGenBiddingStrategy",
      "description": "Settings that control the bid strategy for Demand Gen resources."
    },
    "PartnerRevenueModel": {
      "description": "Settings that control how partner revenue is calculated.",
      "type": "object",
      "properties": {
        "markupType": {
          "description": "Required. The markup type of the partner revenue model. This field must be set to `PARTNER_REVENUE_MODEL_MARKUP_TYPE_TOTAL_MEDIA_COST_MARKUP` for Demand Gen line items.",
          "enum": [
            "PARTNER_REVENUE_MODEL_MARKUP_TYPE_UNSPECIFIED",
            "PARTNER_REVENUE_MODEL_MARKUP_TYPE_CPM",
            "PARTNER_REVENUE_MODEL_MARKUP_TYPE_MEDIA_COST_MARKUP",
            "PARTNER_REVENUE_MODEL_MARKUP_TYPE_TOTAL_MEDIA_COST_MARKUP"
          ],
          "type": "string",
          "enumDescriptions": [
            "Type value is not specified or is unknown in this version.",
            "Calculate the partner revenue based on a fixed CPM.",
            "Calculate the partner revenue based on a percentage surcharge of its media cost.",
            "Calculate the partner revenue based on a percentage surcharge of its total media cost, which includes all partner costs and data costs."
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false
          ]
        },
        "markupAmount": {
          "description": "Required. The markup amount of the partner revenue model. Must be greater than or equal to 0. * When the markup_type is set to be `PARTNER_REVENUE_MODEL_MARKUP_TYPE_CPM`, this field represents the CPM markup in micros of advertiser's currency. For example, 1500000 represents 1.5 standard units of the currency. * When the markup_type is set to be `PARTNER_REVENUE_MODEL_MARKUP_TYPE_MEDIA_COST_MARKUP`, this field represents the media cost percent markup in millis. For example, 100 represents 0.1% (decimal 0.001). * When the markup_type is set to be `PARTNER_REVENUE_MODEL_MARKUP_TYPE_TOTAL_MEDIA_COST_MARKUP`, this field represents the total media cost percent markup in millis. For example, 100 represents 0.1% (decimal 0.001).",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "PartnerRevenueModel"
    },
    "AudioContentTypeTargetingOptionDetails": {
      "id": "AudioContentTypeTargetingOptionDetails",
      "properties": {
        "audioContentType": {
          "description": "Output only. The audio content type.",
          "enumDescriptions": [
            "Audio content type is not specified in this version. This enum is a place holder for a default value and does not represent a real content stream type.",
            "The audio content type is unknown.",
            "The audio content type is music.",
            "The audio content type is broadcast.",
            "The audio content type is podcast.",
            "The audio content type is catch-up radio.",
            "The audio content type is web radio.",
            "The audio content type is video game.",
            "The audio content type is text-to-speech."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "AUDIO_CONTENT_TYPE_UNSPECIFIED",
            "AUDIO_CONTENT_TYPE_UNKNOWN",
            "AUDIO_CONTENT_TYPE_MUSIC",
            "AUDIO_CONTENT_TYPE_BROADCAST",
            "AUDIO_CONTENT_TYPE_PODCAST",
            "AUDIO_CONTENT_TYPE_CATCH_UP_RADIO",
            "AUDIO_CONTENT_TYPE_WEB_RADIO",
            "AUDIO_CONTENT_TYPE_VIDEO_GAME",
            "AUDIO_CONTENT_TYPE_TEXT_TO_SPEECH"
          ]
        }
      },
      "type": "object",
      "description": "Represents a targetable audio content type. This will be populated in the audio_content_type_details field when targeting_type is `TARGETING_TYPE_AUDIO_CONTENT_TYPE`."
    },
    "AdPolicyTopicConstraintAdPolicyCountryConstraintList": {
      "properties": {
        "countries": {
          "description": "Countries where the ad cannot serve.",
          "type": "array",
          "items": {
            "$ref": "AdPolicyCriterionRestriction"
          }
        }
      },
      "description": "A list of countries where the ad cannot serve due to policy constraints.",
      "id": "AdPolicyTopicConstraintAdPolicyCountryConstraintList",
      "type": "object"
    },
    "PrismaConfig": {
      "description": "Settings specific to the Mediaocean Prisma tool.",
      "type": "object",
      "properties": {
        "prismaType": {
          "enum": [
            "PRISMA_TYPE_UNSPECIFIED",
            "PRISMA_TYPE_DISPLAY",
            "PRISMA_TYPE_SEARCH",
            "PRISMA_TYPE_VIDEO",
            "PRISMA_TYPE_AUDIO",
            "PRISMA_TYPE_SOCIAL",
            "PRISMA_TYPE_FEE"
          ],
          "enumDescriptions": [
            "Type is not specified or unknown in this version.",
            "Display type.",
            "Search type.",
            "Video type.",
            "Audio type.",
            "Social type.",
            "Fee type."
          ],
          "type": "string",
          "description": "Required. The Prisma type."
        },
        "supplier": {
          "description": "Required. The entity allocated this budget (DSP, site, etc.).",
          "type": "string"
        },
        "prismaCpeCode": {
          "$ref": "PrismaCpeCode",
          "description": "Required. Relevant client, product, and estimate codes from the Mediaocean Prisma tool."
        }
      },
      "id": "PrismaConfig"
    },
    "ListCombinedAudiencesResponse": {
      "properties": {
        "combinedAudiences": {
          "description": "The list of combined audiences. This list will be absent if empty.",
          "type": "array",
          "items": {
            "$ref": "CombinedAudience"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListCombinedAudiences` method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "id": "ListCombinedAudiencesResponse",
      "type": "object"
    },
    "CombinedAudience": {
      "type": "object",
      "id": "CombinedAudience",
      "properties": {
        "displayName": {
          "description": "Output only. The display name of the combined audience. .",
          "readOnly": true,
          "type": "string"
        },
        "combinedAudienceId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The unique ID of the combined audience. Assigned by the system.",
          "format": "int64"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name of the combined audience.",
          "type": "string"
        }
      },
      "description": "Describes a combined audience resource."
    },
    "InsertionOrder": {
      "id": "InsertionOrder",
      "type": "object",
      "description": "A single insertion order.",
      "properties": {
        "optimizationObjective": {
          "description": "Optional. Required. The optimization objective of the insertion order.",
          "enumDescriptions": [
            "Type value is not specified or is unknown in this version.",
            "Prioritize impressions that increase sales and conversions.",
            "Prioritize impressions that increase website traffic, apps, app stores.",
            "Prioritize impressions of specific quality.",
            "Objective is defined by the assigned custom bidding algorithm.",
            "Objective is not defined. Any KPI or bidding strategy can be used."
          ],
          "enum": [
            "OPTIMIZATION_OBJECTIVE_UNSPECIFIED",
            "CONVERSION",
            "CLICK",
            "BRAND_AWARENESS",
            "CUSTOM",
            "NO_OBJECTIVE"
          ],
          "type": "string"
        },
        "bidStrategy": {
          "$ref": "BiddingStrategy",
          "description": "Optional. The bidding strategy of the insertion order. By default, fixed_bid is set. If the budget field automationType is set to `INSERTION_ORDER_AUTOMATION_TYPE_BUDGET` or `INSERTION_ORDER_AUTOMATION_TYPE_BID_BUDGET`, the insertion order will impose this bidding strategy on its line items. If an imposed bidding strategy is not compatible with a line item's enableOptimizedTargeting setting, the optimized targeting setting will be updated."
        },
        "displayName": {
          "description": "Required. The display name of the insertion order. Must be UTF-8 encoded with a maximum size of 240 bytes.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the insertion order."
        },
        "campaignId": {
          "type": "string",
          "description": "Required. Immutable. The unique ID of the campaign that the insertion order belongs to.",
          "format": "int64"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when the insertion order was last updated. Assigned by the system."
        },
        "budget": {
          "description": "Required. The budget allocation settings of the insertion order.",
          "$ref": "InsertionOrderBudget"
        },
        "insertionOrderType": {
          "description": "Optional. The type of insertion order. If this field is unspecified in creation, the value defaults to `RTB`.",
          "enum": [
            "INSERTION_ORDER_TYPE_UNSPECIFIED",
            "RTB",
            "OVER_THE_TOP"
          ],
          "type": "string",
          "enumDescriptions": [
            "Insertion order type is not specified or is unknown.",
            "Real-time bidding.",
            "Over-the-top."
          ]
        },
        "entityStatus": {
          "enum": [
            "ENTITY_STATUS_UNSPECIFIED",
            "ENTITY_STATUS_ACTIVE",
            "ENTITY_STATUS_ARCHIVED",
            "ENTITY_STATUS_DRAFT",
            "ENTITY_STATUS_PAUSED",
            "ENTITY_STATUS_SCHEDULED_FOR_DELETION"
          ],
          "type": "string",
          "description": "Required. Controls whether or not the insertion order can spend its budget and bid on inventory. * For CreateInsertionOrder method, only `ENTITY_STATUS_DRAFT` is allowed. To activate an insertion order, use UpdateInsertionOrder method and update the status to `ENTITY_STATUS_ACTIVE` after creation. * An insertion order cannot be changed back to `ENTITY_STATUS_DRAFT` status from any other status. * An insertion order cannot be set to `ENTITY_STATUS_ACTIVE` if its parent campaign is not active.",
          "enumDescriptions": [
            "Default value when status is not specified or is unknown in this version.",
            "The entity is enabled to bid and spend budget.",
            "The entity is archived. Bidding and budget spending are disabled. An entity can be deleted after archived. Deleted entities cannot be retrieved.",
            "The entity is under draft. Bidding and budget spending are disabled.",
            "Bidding and budget spending are paused for the entity.",
            "The entity is scheduled for deletion."
          ]
        },
        "partnerCosts": {
          "items": {
            "$ref": "PartnerCost"
          },
          "type": "array",
          "description": "Optional. The partner costs associated with the insertion order. If absent or empty in CreateInsertionOrder method, the newly created insertion order will inherit partner costs from the partner settings."
        },
        "integrationDetails": {
          "description": "Optional. Additional integration details of the insertion order.",
          "$ref": "IntegrationDetails"
        },
        "reservationType": {
          "type": "string",
          "enumDescriptions": [
            "Reservation type value is not specified or is unknown in this version.",
            "Not created through a guaranteed inventory source.",
            "Created through a programmatic guaranteed inventory source.",
            "Created through a tag guaranteed inventory source.",
            "Created through a Petra inventory source. Only applicable to YouTube and Partners line items.",
            "Created with an instant quote. Only applicable to YouTube and partners line items."
          ],
          "description": "Output only. The reservation type of the insertion order.",
          "enum": [
            "RESERVATION_TYPE_UNSPECIFIED",
            "RESERVATION_TYPE_NOT_GUARANTEED",
            "RESERVATION_TYPE_PROGRAMMATIC_GUARANTEED",
            "RESERVATION_TYPE_TAG_GUARANTEED",
            "RESERVATION_TYPE_PETRA_VIRAL",
            "RESERVATION_TYPE_INSTANT_RESERVE"
          ],
          "readOnly": true
        },
        "frequencyCap": {
          "$ref": "FrequencyCap",
          "description": "Required. The frequency capping setting of the insertion order."
        },
        "pacing": {
          "$ref": "Pacing",
          "description": "Required. The budget spending speed setting of the insertion order. pacing_type `PACING_TYPE_ASAP` is not compatible with pacing_period `PACING_PERIOD_FLIGHT`."
        },
        "insertionOrderId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The unique ID of the insertion order. Assigned by the system.",
          "format": "int64"
        },
        "advertiserId": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The unique ID of the advertiser the insertion order belongs to.",
          "type": "string"
        },
        "kpi": {
          "$ref": "Kpi",
          "description": "Required. The key performance indicator (KPI) of the insertion order. This is represented as referred to as the \"Goal\" in the Display & Video 360 interface."
        }
      }
    },
    "OmidAssignedTargetingOptionDetails": {
      "properties": {
        "omid": {
          "enum": [
            "OMID_UNSPECIFIED",
            "OMID_FOR_MOBILE_DISPLAY_ADS"
          ],
          "description": "Required. The type of Open Measurement enabled inventory.",
          "type": "string",
          "enumDescriptions": [
            "Default value when omid targeting is not specified in this version.",
            "Open Measurement enabled mobile display inventory."
          ]
        }
      },
      "description": "Represents a targetable Open Measurement enabled inventory type. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_OMID`.",
      "type": "object",
      "id": "OmidAssignedTargetingOptionDetails"
    },
    "ListInsertionOrdersResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListInsertionOrders` method to retrieve the next page of results."
        },
        "insertionOrders": {
          "items": {
            "$ref": "InsertionOrder"
          },
          "type": "array",
          "description": "The list of insertion orders. This list will be absent if empty."
        }
      },
      "id": "ListInsertionOrdersResponse"
    },
    "ListCustomListsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListCustomLists` method to retrieve the next page of results."
        },
        "customLists": {
          "type": "array",
          "items": {
            "$ref": "CustomList"
          },
          "description": "The list of custom lists. This list will be absent if empty."
        }
      },
      "id": "ListCustomListsResponse",
      "type": "object"
    },
    "AppAssignedTargetingOptionDetails": {
      "type": "object",
      "description": "Details for assigned app targeting option. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_APP`.",
      "id": "AppAssignedTargetingOptionDetails",
      "properties": {
        "negative": {
          "description": "Indicates if this option is being negatively targeted.",
          "type": "boolean"
        },
        "appId": {
          "type": "string",
          "description": "Required. The ID of the app. Android's Play store app uses bundle ID, for example `com.google.android.gm`. Apple's App store app ID uses 9 digit string, for example `422689480`."
        },
        "appPlatform": {
          "type": "string",
          "enum": [
            "APP_PLATFORM_UNSPECIFIED",
            "APP_PLATFORM_IOS",
            "APP_PLATFORM_ANDROID",
            "APP_PLATFORM_ROKU",
            "APP_PLATFORM_AMAZON_FIRETV",
            "APP_PLATFORM_PLAYSTATION",
            "APP_PLATFORM_APPLE_TV",
            "APP_PLATFORM_XBOX",
            "APP_PLATFORM_SAMSUNG_TV",
            "APP_PLATFORM_ANDROID_TV",
            "APP_PLATFORM_GENERIC_CTV",
            "APP_PLATFORM_LG_TV",
            "APP_PLATFORM_VIZIO_TV",
            "APP_PLATFORM_VIDAA"
          ],
          "enumDescriptions": [
            "Default value when app platform is not specified in this version. This enum is a placeholder for default value and does not represent a real platform option.",
            "The app platform is iOS.",
            "The app platform is Android.",
            "The app platform is Roku.",
            "The app platform is Amazon FireTV.",
            "The app platform is Playstation.",
            "The app platform is Apple TV.",
            "The app platform is Xbox.",
            "The app platform is Samsung TV.",
            "The app platform is Android TV.",
            "The app platform is a CTV platform that is not explicitly listed elsewhere.",
            "The app platform is LG TV.",
            "The app platform is VIZIO TV.",
            "The app platform is Vidaa."
          ],
          "description": "Indicates the platform of the targeted app. If this field is not specified, the app platform will be assumed to be mobile (i.e., Android or iOS), and we will derive the appropriate mobile platform from the app ID."
        },
        "displayName": {
          "description": "Output only. The display name of the app.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ObaIcon": {
      "type": "object",
      "description": "OBA Icon for a Creative",
      "properties": {
        "position": {
          "enum": [
            "OBA_ICON_POSITION_UNSPECIFIED",
            "OBA_ICON_POSITION_UPPER_RIGHT",
            "OBA_ICON_POSITION_UPPER_LEFT",
            "OBA_ICON_POSITION_LOWER_RIGHT",
            "OBA_ICON_POSITION_LOWER_LEFT"
          ],
          "description": "Optional. The position of the OBA icon on the creative.",
          "type": "string",
          "enumDescriptions": [
            "The OBA icon position is not specified.",
            "At the upper right side of the creative.",
            "At the upper left side of the creative.",
            "At the lower right side of the creative.",
            "At the lower left side of the creative."
          ]
        },
        "resourceMimeType": {
          "description": "Optional. The MIME type of the OBA icon resource.",
          "type": "string"
        },
        "dimensions": {
          "$ref": "Dimensions",
          "description": "Optional. The dimensions of the OBA icon."
        },
        "resourceUrl": {
          "description": "Optional. The URL of the OBA icon resource.",
          "type": "string"
        },
        "landingPageUrl": {
          "description": "Required. The landing page URL of the OBA icon. Only URLs of the following domains are allowed: * `https://info.evidon.com` * `https://l.betrad.com`",
          "type": "string"
        },
        "program": {
          "type": "string",
          "description": "Optional. The program of the OBA icon. For example: “AdChoices”."
        },
        "viewTrackingUrl": {
          "description": "Required. The view tracking URL of the OBA icon. Only URLs of the following domains are allowed: * `https://info.evidon.com` * `https://l.betrad.com`",
          "type": "string"
        },
        "clickTrackingUrl": {
          "type": "string",
          "description": "Required. The click tracking URL of the OBA icon. Only URLs of the following domains are allowed: * `https://info.evidon.com` * `https://l.betrad.com`"
        }
      },
      "id": "ObaIcon"
    },
    "SubExchangeTargetingOptionDetails": {
      "id": "SubExchangeTargetingOptionDetails",
      "description": "Represents a targetable sub-exchange. This will be populated in the sub_exchange_details field of a TargetingOption when targeting_type is `TARGETING_TYPE_SUB_EXCHANGE`.",
      "properties": {
        "displayName": {
          "description": "Output only. The display name of the sub-exchange.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "AdPolicyTopicEvidenceRegionalRequirementsRegionalRequirementsEntry": {
      "description": "Policy level regional legal violation details.",
      "properties": {
        "countryRestrictions": {
          "description": "The countries restricted due to the legal policy.",
          "type": "array",
          "items": {
            "$ref": "AdPolicyCriterionRestriction"
          }
        },
        "legalPolicy": {
          "description": "The legal policy that is being violated.",
          "type": "string"
        }
      },
      "id": "AdPolicyTopicEvidenceRegionalRequirementsRegionalRequirementsEntry",
      "type": "object"
    },
    "DeleteAssignedTargetingOptionsRequest": {
      "type": "object",
      "id": "DeleteAssignedTargetingOptionsRequest",
      "description": "A request listing which assigned targeting options of a given targeting type should be deleted.",
      "properties": {
        "assignedTargetingOptionIds": {
          "items": {
            "type": "string"
          },
          "description": "Required. The assigned targeting option IDs to delete.",
          "type": "array"
        },
        "targetingType": {
          "enumDescriptions": [
            "Default value when type is not specified or is unknown in this version.",
            "Target a channel (a custom group of related websites or apps).",
            "Target an app category (for example, education or puzzle games).",
            "Target a specific app (for example, Angry Birds).",
            "Target a specific url (for example, quora.com).",
            "Target ads during a chosen time period on a specific day.",
            "Target ads to a specific age range (for example, 18-24).",
            "Target ads to the specified regions on a regional location list.",
            "Target ads to the specified points of interest on a proximity location list.",
            "Target ads to a specific gender (for example, female or male).",
            "Target a specific video player size for video ads.",
            "Target user rewarded content for video ads.",
            "Target ads to a specific parental status (for example, parent or not a parent).",
            "Target video or audio ads in a specific content instream position (for example, pre-roll, mid-roll, or post-roll).",
            "Target ads in a specific content outstream position.",
            "Target ads to a specific device type (for example, tablet or connected TV).",
            "Target ads to an audience or groups of audiences. Singleton field, at most one can exist on a single Lineitem at a time.",
            "Target ads to specific web browsers (for example, Chrome).",
            "Target ads to a specific household income range (for example, top 10%).",
            "Target ads in a specific on screen position.",
            "Filter web sites through third party verification (for example, IAS or DoubleVerify).",
            "Filter web sites by specific digital content label ratings (for example, DL-MA: suitable only for mature audiences).",
            "Filter website content by sensitive categories (for example, adult).",
            "Target ads to a specific environment (for example, web or app).",
            "Target ads to a specific network carrier or internet service provider (ISP) (for example, Comcast or Orange).",
            "Target ads to a specific operating system (for example, macOS).",
            "Target ads to a specific device make or model (for example, Roku or Samsung).",
            "Target ads to a specific keyword (for example, dog or retriever).",
            "Target ads to a specific negative keyword list.",
            "Target ads to a specific viewability (for example, 80% viewable).",
            "Target ads to a specific content category (for example, arts & entertainment).",
            "Purchase impressions from specific deals and auction packages.",
            "Target ads to a specific language (for example, English or Japanese).",
            "Target ads to ads.txt authorized sellers. If no targeting option of this type is assigned, the resource uses the \"Authorized Direct Sellers and Resellers\" option by default.",
            "Target ads to a specific regional location (for example, a city or state).",
            "Purchase impressions from a group of deals and auction packages.",
            "Purchase impressions from specific exchanges.",
            "Purchase impressions from specific sub-exchanges.",
            "Target ads around a specific point of interest, such as a notable building, a street address, or latitude/longitude coordinates.",
            "Target ads around locations of a business chain within a specific geo region.",
            "Target ads to a specific video content duration.",
            "Target ads to a specific video content stream type.",
            "Target ads to a specific native content position.",
            "Target ads in an Open Measurement enabled inventory.",
            "Target ads to a specific audio content type.",
            "Target ads to a specific content genre.",
            "Target ads to a specific YouTube video. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
            "Target ads to a specific YouTube channel. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
            "Target ads to a serve it in a certain position of a session. Only supported for Ad Group resources under YouTube Programmatic Reservation line items. Targeting of this type cannot be created or updated using the API.",
            "Filter website content by content themes (for example, religion). Only supported for Advertiser resources. Targeting of this type cannot be created or updated using the API. This targeting is only inherited by child YouTube and Demand Gen line item resources.",
            "Target ads to a specific YouTube channel pack."
          ],
          "type": "string",
          "enum": [
            "TARGETING_TYPE_UNSPECIFIED",
            "TARGETING_TYPE_CHANNEL",
            "TARGETING_TYPE_APP_CATEGORY",
            "TARGETING_TYPE_APP",
            "TARGETING_TYPE_URL",
            "TARGETING_TYPE_DAY_AND_TIME",
            "TARGETING_TYPE_AGE_RANGE",
            "TARGETING_TYPE_REGIONAL_LOCATION_LIST",
            "TARGETING_TYPE_PROXIMITY_LOCATION_LIST",
            "TARGETING_TYPE_GENDER",
            "TARGETING_TYPE_VIDEO_PLAYER_SIZE",
            "TARGETING_TYPE_USER_REWARDED_CONTENT",
            "TARGETING_TYPE_PARENTAL_STATUS",
            "TARGETING_TYPE_CONTENT_INSTREAM_POSITION",
            "TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION",
            "TARGETING_TYPE_DEVICE_TYPE",
            "TARGETING_TYPE_AUDIENCE_GROUP",
            "TARGETING_TYPE_BROWSER",
            "TARGETING_TYPE_HOUSEHOLD_INCOME",
            "TARGETING_TYPE_ON_SCREEN_POSITION",
            "TARGETING_TYPE_THIRD_PARTY_VERIFIER",
            "TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION",
            "TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION",
            "TARGETING_TYPE_ENVIRONMENT",
            "TARGETING_TYPE_CARRIER_AND_ISP",
            "TARGETING_TYPE_OPERATING_SYSTEM",
            "TARGETING_TYPE_DEVICE_MAKE_MODEL",
            "TARGETING_TYPE_KEYWORD",
            "TARGETING_TYPE_NEGATIVE_KEYWORD_LIST",
            "TARGETING_TYPE_VIEWABILITY",
            "TARGETING_TYPE_CATEGORY",
            "TARGETING_TYPE_INVENTORY_SOURCE",
            "TARGETING_TYPE_LANGUAGE",
            "TARGETING_TYPE_AUTHORIZED_SELLER_STATUS",
            "TARGETING_TYPE_GEO_REGION",
            "TARGETING_TYPE_INVENTORY_SOURCE_GROUP",
            "TARGETING_TYPE_EXCHANGE",
            "TARGETING_TYPE_SUB_EXCHANGE",
            "TARGETING_TYPE_POI",
            "TARGETING_TYPE_BUSINESS_CHAIN",
            "TARGETING_TYPE_CONTENT_DURATION",
            "TARGETING_TYPE_CONTENT_STREAM_TYPE",
            "TARGETING_TYPE_NATIVE_CONTENT_POSITION",
            "TARGETING_TYPE_OMID",
            "TARGETING_TYPE_AUDIO_CONTENT_TYPE",
            "TARGETING_TYPE_CONTENT_GENRE",
            "TARGETING_TYPE_YOUTUBE_VIDEO",
            "TARGETING_TYPE_YOUTUBE_CHANNEL",
            "TARGETING_TYPE_SESSION_POSITION",
            "TARGETING_TYPE_CONTENT_THEME_EXCLUSION",
            "TARGETING_TYPE_YOUTUBE_CHANNEL_PACK"
          ],
          "description": "Required. Identifies the type of this assigned targeting option."
        }
      }
    },
    "ExitEvent": {
      "type": "object",
      "properties": {
        "type": {
          "description": "Required. The type of the exit event.",
          "enum": [
            "EXIT_EVENT_TYPE_UNSPECIFIED",
            "EXIT_EVENT_TYPE_DEFAULT",
            "EXIT_EVENT_TYPE_BACKUP"
          ],
          "enumDescriptions": [
            "Exit event type is not specified or is unknown in this version.",
            "The exit event is the default one.",
            "The exit event is a backup exit event. There could be multiple backup exit events in a creative."
          ],
          "type": "string"
        },
        "reportingName": {
          "type": "string",
          "description": "Optional. The name used to identify this event in reports. Leave it empty or unset for creatives containing image assets only."
        },
        "url": {
          "type": "string",
          "description": "Required. The click through URL of the exit event. This is required when type is: * `EXIT_EVENT_TYPE_DEFAULT` * `EXIT_EVENT_TYPE_BACKUP`"
        },
        "name": {
          "description": "Optional. The name of the click tag of the exit event. The name must be unique within one creative. Leave it empty or unset for creatives containing image assets only.",
          "type": "string"
        }
      },
      "description": "Exit event of the creative.",
      "id": "ExitEvent"
    },
    "ListChannelsResponse": {
      "properties": {
        "channels": {
          "items": {
            "$ref": "Channel"
          },
          "type": "array",
          "description": "The list of channels. This list will be absent if empty."
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListChannels` method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListChannelsResponse"
    },
    "Transcode": {
      "properties": {
        "mimeType": {
          "type": "string",
          "description": "Optional. The MIME type of the transcoded file."
        },
        "audioBitRateKbps": {
          "description": "Optional. The bit rate for the audio stream of the transcoded video, or the bit rate for the transcoded audio, in kilobits per second.",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "description": "Optional. The name of the transcoded file.",
          "type": "string"
        },
        "frameRate": {
          "format": "float",
          "description": "Optional. The frame rate of the transcoded video, in frames per second.",
          "type": "number"
        },
        "fileSizeBytes": {
          "format": "int64",
          "type": "string",
          "description": "Optional. The size of the transcoded file, in bytes."
        },
        "dimensions": {
          "description": "Optional. The dimensions of the transcoded video.",
          "$ref": "Dimensions"
        },
        "bitRateKbps": {
          "description": "Optional. The transcoding bit rate of the transcoded video, in kilobits per second.",
          "format": "int64",
          "type": "string"
        },
        "audioSampleRateHz": {
          "format": "int64",
          "type": "string",
          "description": "Optional. The sample rate for the audio stream of the transcoded video, or the sample rate for the transcoded audio, in hertz."
        },
        "transcoded": {
          "description": "Optional. Indicates if the transcoding was successful.",
          "type": "boolean"
        }
      },
      "id": "Transcode",
      "description": "Represents information about the transcoded audio or video file.",
      "type": "object"
    },
    "AlgorithmRulesRuleCondition": {
      "properties": {
        "returnValue": {
          "$ref": "AlgorithmRulesSignalValue",
          "description": "The value returned if the `signalComparisons` condition evaluates to `TRUE`."
        },
        "signalComparisons": {
          "type": "array",
          "description": "List of comparisons that build `if` statement condition. The comparisons are combined into a single condition with `AND` logical operators.",
          "items": {
            "$ref": "AlgorithmRulesSignalComparison"
          }
        }
      },
      "type": "object",
      "description": "Set of signal comparisons. Equivalent of an `if` statement.",
      "id": "AlgorithmRulesRuleCondition"
    },
    "Invoice": {
      "type": "object",
      "description": "A single invoice.",
      "properties": {
        "invoiceType": {
          "description": "The type of invoice document.",
          "enum": [
            "INVOICE_TYPE_UNSPECIFIED",
            "INVOICE_TYPE_CREDIT",
            "INVOICE_TYPE_INVOICE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not specified or is unknown in this version.",
            "The invoice has a negative amount.",
            "The invoice has a positive amount."
          ]
        },
        "totalTaxAmountMicros": {
          "type": "string",
          "description": "The sum of all taxes in invoice, in micros of the invoice's currency. For example, if currency_code is `USD`, then 1000000 represents one US dollar.",
          "format": "int64"
        },
        "name": {
          "description": "The resource name of the invoice.",
          "type": "string"
        },
        "dueDate": {
          "description": "The date when the invoice is due.",
          "$ref": "Date"
        },
        "subtotalAmountMicros": {
          "format": "int64",
          "type": "string",
          "description": "The pre-tax subtotal amount, in micros of the invoice's currency. For example, if currency_code is `USD`, then 1000000 represents one US dollar."
        },
        "pdfUrl": {
          "description": "The URL to download a PDF copy of the invoice. This URL is user specific and requires a valid OAuth 2.0 access token to access. The access token must be provided in an `Authorization: Bearer` HTTP header and be authorized for one of the following scopes: * `https://www.googleapis.com/auth/display-video-mediaplanning` * `https://www.googleapis.com/auth/display-video` The URL will be valid for 7 days after retrieval of this invoice object or until this invoice is retrieved again.",
          "type": "string"
        },
        "paymentsProfileId": {
          "description": "The ID of the payments profile the invoice belongs to. Appears on the invoice PDF as `Billing ID`.",
          "type": "string"
        },
        "budgetSummaries": {
          "description": "The list of summarized information for each budget associated with this invoice. This field will only be set if the invoice detail level of the corresponding billing profile was set to \"Budget level PO\".",
          "type": "array",
          "items": {
            "$ref": "BudgetSummary"
          }
        },
        "correctedInvoiceId": {
          "description": "The ID of the original invoice being adjusted by this invoice, if applicable. May appear on the invoice PDF as `Reference invoice number`. If replaced_invoice_ids is set, this field will be empty.",
          "type": "string"
        },
        "nonBudgetMicros": {
          "format": "int64",
          "type": "string",
          "description": "The total amount of costs or adjustments not tied to a particular budget, in micros of the invoice's currency. For example, if currency_code is `USD`, then 1000000 represents one US dollar."
        },
        "serviceDateRange": {
          "$ref": "DateRange",
          "description": "The service start and end dates which are covered by this invoice."
        },
        "replacedInvoiceIds": {
          "items": {
            "type": "string"
          },
          "description": "The ID(s) of any originally issued invoice that is being cancelled by this invoice, if applicable. Multiple invoices may be listed if those invoices are being consolidated into a single invoice. May appear on invoice PDF as `Replaced invoice numbers`. If corrected_invoice_id is set, this field will be empty.",
          "type": "array"
        },
        "budgetInvoiceGroupingId": {
          "type": "string",
          "description": "The budget grouping ID for this invoice. This field will only be set if the invoice level of the corresponding billing profile was set to \"Budget invoice grouping ID\"."
        },
        "paymentsAccountId": {
          "description": "The ID of the payments account the invoice belongs to. Appears on the invoice PDF as `Billing Account Number`.",
          "type": "string"
        },
        "purchaseOrderNumber": {
          "type": "string",
          "description": "Purchase order number associated with the invoice."
        },
        "totalAmountMicros": {
          "type": "string",
          "format": "int64",
          "description": "The invoice total amount, in micros of the invoice's currency. For example, if currency_code is `USD`, then 1000000 represents one US dollar."
        },
        "invoiceId": {
          "description": "The unique ID of the invoice.",
          "type": "string"
        },
        "currencyCode": {
          "description": "The currency used in the invoice in ISO 4217 format.",
          "type": "string"
        },
        "issueDate": {
          "$ref": "Date",
          "description": "The date when the invoice was issued."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the invoice."
        }
      },
      "id": "Invoice"
    },
    "AdGroupInventoryControl": {
      "description": "The inventory control of the ad group.",
      "properties": {
        "adGroupInventoryStrategy": {
          "enumDescriptions": [
            "Not specified or unknown.",
            "The ad group is opted-in to all Google and Display Network inventory.",
            "The ad group is opted-in to all Google inventory."
          ],
          "enum": [
            "AD_GROUP_INVENTORY_STRATEGY_UNSPECIFIED",
            "AD_GROUP_INVENTORY_STRATEGY_ALL_GOOGLE_AND_DISPLAY_NETWORK_INVENTORY",
            "AD_GROUP_INVENTORY_STRATEGY_ALL_GOOGLE_INVENTORY"
          ],
          "description": "The inventory strategy.",
          "type": "string"
        },
        "selectedInventories": {
          "$ref": "SelectedInventories",
          "description": "The selected inventories."
        }
      },
      "type": "object",
      "id": "AdGroupInventoryControl"
    },
    "AdPolicyCriterionRestriction": {
      "description": "Represents a country restriction.",
      "properties": {
        "countryCriterionId": {
          "type": "string",
          "description": "The country criterion id.",
          "format": "int64"
        },
        "countryLabel": {
          "description": "Localized name for the country. May be empty.",
          "type": "string"
        }
      },
      "id": "AdPolicyCriterionRestriction",
      "type": "object"
    },
    "CustomBiddingAlgorithmRulesRef": {
      "id": "CustomBiddingAlgorithmRulesRef",
      "description": "The reference to the uploaded AlgorithmRules file. Retrieve the location to upload new AlgorithmRules file to using customBiddingAlgorithms.uploadRules.",
      "properties": {
        "resourceName": {
          "description": "A resource name to be used in media.download to download the rules files. Or media.upload to upload the rules files. Resource names have the format `customBiddingAlgorithms/{custom_bidding_algorithm_id}/rulesRef/{ref_id}`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BulkEditAssignedUserRolesRequest": {
      "description": "Request message for BulkEditAssignedUserRoles.",
      "properties": {
        "deletedAssignedUserRoles": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The assigned user roles to delete in batch, specified as a list of assigned_user_role_ids. The format of assigned_user_role_id is `entityType-entityid`, for example `partner-123`."
        },
        "createdAssignedUserRoles": {
          "description": "The assigned user roles to create in batch, specified as a list of AssignedUserRoles.",
          "items": {
            "$ref": "AssignedUserRole"
          },
          "type": "array"
        }
      },
      "id": "BulkEditAssignedUserRolesRequest",
      "type": "object"
    },
    "CarrierAndIspAssignedTargetingOptionDetails": {
      "type": "object",
      "id": "CarrierAndIspAssignedTargetingOptionDetails",
      "properties": {
        "displayName": {
          "description": "Output only. The display name of the carrier or ISP.",
          "type": "string",
          "readOnly": true
        },
        "targetingOptionId": {
          "description": "Required. The targeting_option_id of a TargetingOption of type `TARGETING_TYPE_CARRIER_AND_ISP`.",
          "type": "string"
        },
        "negative": {
          "description": "Indicates if this option is being negatively targeted. All assigned carrier and ISP targeting options on the same resource must have the same value for this field.",
          "type": "boolean"
        }
      },
      "description": "Details for assigned carrier and ISP targeting option. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_CARRIER_AND_ISP`."
    },
    "LineItem": {
      "id": "LineItem",
      "type": "object",
      "description": "A single line item.",
      "properties": {
        "displayName": {
          "description": "Required. The display name of the line item. Must be UTF-8 encoded with a maximum size of 240 bytes.",
          "type": "string"
        },
        "lineItemType": {
          "enumDescriptions": [
            "Type value is not specified or is unknown in this version. Line items of this type and their targeting cannot be created or updated using the API.",
            "Image, HTML5, native, or rich media ads.",
            "Display ads that drive installs of an app.",
            "Video ads sold on a CPM basis for a variety of environments.",
            "Video ads that drive installs of an app.",
            "Display ads served on mobile app inventory. Line items of this type and their targeting cannot be created or updated using the API.",
            "Video ads served on mobile app inventory. Line items of this type and their targeting cannot be created or updated using the API.",
            "RTB Audio ads sold for a variety of environments.",
            "Over-the-top ads present in OTT insertion orders. This type is only applicable to line items with an insertion order of insertion_order_type `OVER_THE_TOP`.",
            "YouTube video ads that promote conversions. Line items of this type and their targeting cannot be created or updated using the API.",
            "YouTube video ads (up to 15 seconds) that cannot be skipped. Line items of this type and their targeting cannot be created or updated using the API.",
            "YouTube video ads that show a story in a particular sequence using a mix of formats. Line items of this type and their targeting cannot be created or updated using the API.",
            "YouTube audio ads. Line items of this type and their targeting cannot be created or updated using the API.",
            "YouTube video ads that optimize reaching more unique users at lower cost. May include bumper ads, skippable in-stream ads, or a mix of types. Line items of this type and their targeting cannot be created or updated using the API.",
            "Default YouTube video ads. Line items of this type and their targeting cannot be created or updated using the API.",
            "Connected TV youTube video ads (up to 15 seconds) that cannot be skipped. Line items of this type and their targeting cannot be created or updated using the API.",
            "Connected TV youTube video ads that optimize reaching more unique users at lower cost. May include bumper ads, skippable in-stream ads, or a mix of types. Line items of this type and their targeting cannot be created or updated using the API.",
            "Connected TV default YouTube video ads. Only include in-stream ad-format. Line items of this type and their targeting cannot be created or updated using the API.",
            "The goal of this line item type is to show the YouTube ads target number of times to the same person in a certain period of time. Line items of this type and their targeting cannot be created or updated using the API.",
            "YouTube video ads that aim to get more views with a variety of ad formats. Line items of this type and their targeting cannot be created or updated using the API.",
            "Display ads served on digital-out-of-home inventory. Line items of this type and their targeting cannot be created or updated using the API.",
            "Video ads served on digital-out-of-home inventory. Line items of this type and their targeting cannot be created or updated using the API.",
            "Demand Gen ads."
          ],
          "enum": [
            "LINE_ITEM_TYPE_UNSPECIFIED",
            "LINE_ITEM_TYPE_DISPLAY_DEFAULT",
            "LINE_ITEM_TYPE_DISPLAY_MOBILE_APP_INSTALL",
            "LINE_ITEM_TYPE_VIDEO_DEFAULT",
            "LINE_ITEM_TYPE_VIDEO_MOBILE_APP_INSTALL",
            "LINE_ITEM_TYPE_DISPLAY_MOBILE_APP_INVENTORY",
            "LINE_ITEM_TYPE_VIDEO_MOBILE_APP_INVENTORY",
            "LINE_ITEM_TYPE_AUDIO_DEFAULT",
            "LINE_ITEM_TYPE_VIDEO_OVER_THE_TOP",
            "LINE_ITEM_TYPE_YOUTUBE_AND_PARTNERS_ACTION",
            "LINE_ITEM_TYPE_YOUTUBE_AND_PARTNERS_NON_SKIPPABLE",
            "LINE_ITEM_TYPE_YOUTUBE_AND_PARTNERS_VIDEO_SEQUENCE",
            "LINE_ITEM_TYPE_YOUTUBE_AND_PARTNERS_AUDIO",
            "LINE_ITEM_TYPE_YOUTUBE_AND_PARTNERS_REACH",
            "LINE_ITEM_TYPE_YOUTUBE_AND_PARTNERS_SIMPLE",
            "LINE_ITEM_TYPE_YOUTUBE_AND_PARTNERS_NON_SKIPPABLE_OVER_THE_TOP",
            "LINE_ITEM_TYPE_YOUTUBE_AND_PARTNERS_REACH_OVER_THE_TOP",
            "LINE_ITEM_TYPE_YOUTUBE_AND_PARTNERS_SIMPLE_OVER_THE_TOP",
            "LINE_ITEM_TYPE_YOUTUBE_AND_PARTNERS_TARGET_FREQUENCY",
            "LINE_ITEM_TYPE_YOUTUBE_AND_PARTNERS_VIEW",
            "LINE_ITEM_TYPE_DISPLAY_OUT_OF_HOME",
            "LINE_ITEM_TYPE_VIDEO_OUT_OF_HOME",
            "LINE_ITEM_TYPE_DEMAND_GEN"
          ],
          "description": "Required. Immutable. The type of the line item.",
          "type": "string"
        },
        "entityStatus": {
          "enum": [
            "ENTITY_STATUS_UNSPECIFIED",
            "ENTITY_STATUS_ACTIVE",
            "ENTITY_STATUS_ARCHIVED",
            "ENTITY_STATUS_DRAFT",
            "ENTITY_STATUS_PAUSED",
            "ENTITY_STATUS_SCHEDULED_FOR_DELETION"
          ],
          "description": "Required. Controls whether or not the line item can spend its budget and bid on inventory. * For CreateLineItem method, only `ENTITY_STATUS_DRAFT` is allowed. To activate a line item, use UpdateLineItem method and update the status to `ENTITY_STATUS_ACTIVE` after creation. * A line item cannot be changed back to `ENTITY_STATUS_DRAFT` status from any other status. * If the line item's parent insertion order is not active, the line item can't spend its budget even if its own status is `ENTITY_STATUS_ACTIVE`.",
          "type": "string",
          "enumDescriptions": [
            "Default value when status is not specified or is unknown in this version.",
            "The entity is enabled to bid and spend budget.",
            "The entity is archived. Bidding and budget spending are disabled. An entity can be deleted after archived. Deleted entities cannot be retrieved.",
            "The entity is under draft. Bidding and budget spending are disabled.",
            "Bidding and budget spending are paused for the entity.",
            "The entity is scheduled for deletion."
          ]
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the line item.",
          "readOnly": true
        },
        "bidStrategy": {
          "$ref": "BiddingStrategy",
          "description": "Required. The bidding strategy of the line item."
        },
        "campaignId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The unique ID of the campaign that the line item belongs to.",
          "format": "int64"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the line item was last updated. Assigned by the system.",
          "format": "google-datetime"
        },
        "insertionOrderId": {
          "description": "Required. Immutable. The unique ID of the insertion order that the line item belongs to.",
          "format": "int64",
          "type": "string"
        },
        "demandGenSettings": {
          "description": "Optional. Settings specific to Demand Gen line items. Only applicable to Demand Gen line items.",
          "$ref": "DemandGenSettings"
        },
        "excludeNewExchanges": {
          "type": "boolean",
          "description": "Whether to exclude new exchanges from automatically being targeted by the line item. This field is false by default."
        },
        "partnerRevenueModel": {
          "$ref": "PartnerRevenueModel",
          "description": "Required. The partner revenue model setting of the line item."
        },
        "advertiserId": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The unique ID of the advertiser the line item belongs to."
        },
        "flight": {
          "description": "Required. The start and end time of the line item's flight.",
          "$ref": "LineItemFlight"
        },
        "warningMessages": {
          "type": "array",
          "description": "Output only. The warning messages generated by the line item. These warnings do not block saving the line item, but some may block the line item from running.",
          "items": {
            "type": "string",
            "enum": [
              "LINE_ITEM_WARNING_MESSAGE_UNSPECIFIED",
              "INVALID_FLIGHT_DATES",
              "EXPIRED",
              "PENDING_FLIGHT",
              "ALL_PARTNER_ENABLED_EXCHANGES_NEGATIVELY_TARGETED",
              "INVALID_INVENTORY_SOURCE",
              "APP_INVENTORY_INVALID_SITE_TARGETING",
              "APP_INVENTORY_INVALID_AUDIENCE_LISTS",
              "NO_VALID_CREATIVE",
              "PARENT_INSERTION_ORDER_PAUSED",
              "PARENT_INSERTION_ORDER_EXPIRED"
            ],
            "enumDescriptions": [
              "Not specified or is unknown.",
              "This line item has invalid flight dates. The line item will not run.",
              "This line item's end date is in the past.",
              "This line item will begin running in the future.",
              "All partner enabled exchanges are negatively targeted. The line item will not run.",
              "No active inventory sources are being targeted. The line item will not run.",
              "This line item's Apps & URLs targeting doesn't include any mobile apps. This line item's type requires you to include mobile apps in your channel, sitelist, or apps targeting. The line item will not run.",
              "This line item isn't targeting any mobile users. This line item's type requires you to target a user list with mobile users. The line item will not run.",
              "This line item does not contain any valid creative. The line item will not run.",
              "The insertion order of this line item is paused. The line item will not run.",
              "The insertion order of this line item has its end date set in the past. The line item will not run."
            ]
          },
          "readOnly": true
        },
        "partnerCosts": {
          "type": "array",
          "description": "The partner costs associated with the line item. If absent or empty in CreateLineItem method, the newly created line item will inherit partner costs from its parent insertion order.",
          "items": {
            "$ref": "PartnerCost"
          }
        },
        "targetingExpansion": {
          "description": "The [optimized targeting](//support.google.com/displayvideo/answer/12060859) settings of the line item. This config is only applicable for display, video, or audio line items that use automated bidding and positively target eligible audience lists.",
          "$ref": "TargetingExpansionConfig"
        },
        "budget": {
          "$ref": "LineItemBudget",
          "description": "Required. The budget allocation setting of the line item."
        },
        "integrationDetails": {
          "$ref": "IntegrationDetails",
          "description": "Integration details of the line item."
        },
        "conversionCounting": {
          "$ref": "ConversionCountingConfig",
          "description": "The conversion tracking setting of the line item."
        },
        "creativeIds": {
          "description": "The IDs of the creatives associated with the line item.",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        },
        "youtubeAndPartnersSettings": {
          "readOnly": true,
          "description": "Output only. Settings specific to YouTube and Partners line items.",
          "$ref": "YoutubeAndPartnersSettings"
        },
        "pacing": {
          "$ref": "Pacing",
          "description": "Required. The budget spending speed setting of the line item."
        },
        "frequencyCap": {
          "description": "Optional. Required if the line item type is not `LINE_ITEM_TYPE_DEMAND_GEN`. The impression frequency cap settings of the line item. The max_impressions field in this settings object must be used if assigning a limited cap.",
          "$ref": "FrequencyCap"
        },
        "containsEuPoliticalAds": {
          "enum": [
            "EU_POLITICAL_ADVERTISING_STATUS_UNKNOWN",
            "CONTAINS_EU_POLITICAL_ADVERTISING",
            "DOES_NOT_CONTAIN_EU_POLITICAL_ADVERTISING"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Contains EU political advertising.",
            "Does not contain EU political advertising."
          ],
          "description": "Whether this line item will serve European Union political ads. If contains_eu_political_ads has been set to `DOES_NOT_CONTAIN_EU_POLITICAL_ADVERTISING` in the parent advertiser, then this field will be assigned `DOES_NOT_CONTAIN_EU_POLITICAL_ADVERTISING` if not otherwise specified. This field can then be updated using the UI, API, or Structured Data Files. This field must be assigned when creating a new line item. Otherwise, **the `advertisers.lineItems.create` request will fail**."
        },
        "optimizeFixedBidding": {
          "type": "boolean",
          "description": "Optional. Whether to enable DV360's bid optimization for fixed bid line items. By default, DV360 optimizes your fixed bid by automatically lowering bids for impressions that are less likely to perform well. This optimization is enabled by default (value is true). When this field is set to `false`, this optimization is disabled, and the bid will not be lowered for any reason. This setting only applies to line items with a `bidding_strategy` of type `FIXED_BID`."
        },
        "lineItemId": {
          "readOnly": true,
          "description": "Output only. The unique ID of the line item. Assigned by the system.",
          "format": "int64",
          "type": "string"
        },
        "reservationType": {
          "type": "string",
          "enum": [
            "RESERVATION_TYPE_UNSPECIFIED",
            "RESERVATION_TYPE_NOT_GUARANTEED",
            "RESERVATION_TYPE_PROGRAMMATIC_GUARANTEED",
            "RESERVATION_TYPE_TAG_GUARANTEED",
            "RESERVATION_TYPE_PETRA_VIRAL",
            "RESERVATION_TYPE_INSTANT_RESERVE"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Reservation type value is not specified or is unknown in this version.",
            "Not created through a guaranteed inventory source.",
            "Created through a programmatic guaranteed inventory source.",
            "Created through a tag guaranteed inventory source.",
            "Created through a Petra inventory source. Only applicable to YouTube and Partners line items.",
            "Created with an instant quote. Only applicable to YouTube and partners line items."
          ],
          "description": "Output only. The reservation type of the line item."
        },
        "mobileApp": {
          "$ref": "MobileApp",
          "description": "The mobile app promoted by the line item. This is applicable only when line_item_type is either `LINE_ITEM_TYPE_DISPLAY_MOBILE_APP_INSTALL` or `LINE_ITEM_TYPE_VIDEO_MOBILE_APP_INSTALL`."
        }
      }
    },
    "ThirdPartyVendorConfig": {
      "description": "Settings that control how third-party measurement vendors are configured.",
      "id": "ThirdPartyVendorConfig",
      "type": "object",
      "properties": {
        "placementId": {
          "description": "The ID used by the platform of the third-party vendor to identify the line item.",
          "type": "string"
        },
        "vendor": {
          "enum": [
            "THIRD_PARTY_VENDOR_UNSPECIFIED",
            "THIRD_PARTY_VENDOR_MOAT",
            "THIRD_PARTY_VENDOR_DOUBLE_VERIFY",
            "THIRD_PARTY_VENDOR_INTEGRAL_AD_SCIENCE",
            "THIRD_PARTY_VENDOR_COMSCORE",
            "THIRD_PARTY_VENDOR_TELEMETRY",
            "THIRD_PARTY_VENDOR_MEETRICS",
            "THIRD_PARTY_VENDOR_ZEFR",
            "THIRD_PARTY_VENDOR_NIELSEN",
            "THIRD_PARTY_VENDOR_KANTAR",
            "THIRD_PARTY_VENDOR_DYNATA",
            "THIRD_PARTY_VENDOR_TRANSUNION",
            "THIRD_PARTY_VENDOR_ORIGIN",
            "THIRD_PARTY_VENDOR_GEMIUS",
            "THIRD_PARTY_VENDOR_MEDIA_SCOPE",
            "THIRD_PARTY_VENDOR_AUDIENCE_PROJECT",
            "THIRD_PARTY_VENDOR_VIDEO_AMP",
            "THIRD_PARTY_VENDOR_ISPOT_TV",
            "THIRD_PARTY_VENDOR_INTAGE",
            "THIRD_PARTY_VENDOR_MACROMILL",
            "THIRD_PARTY_VENDOR_VIDEO_RESEARCH"
          ],
          "enumDescriptions": [
            "Unknown third-party vendor.",
            "Moat.",
            "DoubleVerify.",
            "Integral Ad Science.",
            "Comscore.",
            "Telemetry.",
            "Meetrics.",
            "ZEFR.",
            "Nielsen.",
            "Kantar.",
            "Dynata.",
            "Transunion.",
            "Origin.",
            "Gemius.",
            "MediaScope.",
            "Audience Project.",
            "Video Amp.",
            "Ispot TV.",
            "Intage.",
            "Macromill.",
            "Video Research."
          ],
          "description": "The third-party measurement vendor.",
          "type": "string"
        }
      }
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "CustomBiddingAlgorithmRulesError": {
      "type": "object",
      "properties": {
        "errorCode": {
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "SYNTAX_ERROR",
            "CONSTRAINT_VIOLATION_ERROR",
            "INTERNAL_ERROR"
          ],
          "description": "The type of error.",
          "enumDescriptions": [
            "The error is not specified or is unknown in this version.",
            "The rules have a syntax error.",
            "The rules have a constraint violation error.",
            "Internal errors were thrown while processing the rules."
          ],
          "type": "string"
        }
      },
      "id": "CustomBiddingAlgorithmRulesError",
      "description": "An error message for a CustomBiddingAlgorithmRules resource."
    },
    "AssetAssociation": {
      "id": "AssetAssociation",
      "description": "Asset association for the creative.",
      "type": "object",
      "properties": {
        "asset": {
          "$ref": "Asset",
          "description": "Optional. The associated asset."
        },
        "role": {
          "description": "Optional. The role of this asset for the creative.",
          "type": "string",
          "enum": [
            "ASSET_ROLE_UNSPECIFIED",
            "ASSET_ROLE_MAIN",
            "ASSET_ROLE_BACKUP",
            "ASSET_ROLE_POLITE_LOAD",
            "ASSET_ROLE_HEADLINE",
            "ASSET_ROLE_LONG_HEADLINE",
            "ASSET_ROLE_BODY",
            "ASSET_ROLE_LONG_BODY",
            "ASSET_ROLE_CAPTION_URL",
            "ASSET_ROLE_CALL_TO_ACTION",
            "ASSET_ROLE_ADVERTISER_NAME",
            "ASSET_ROLE_PRICE",
            "ASSET_ROLE_ANDROID_APP_ID",
            "ASSET_ROLE_IOS_APP_ID",
            "ASSET_ROLE_RATING",
            "ASSET_ROLE_ICON",
            "ASSET_ROLE_COVER_IMAGE",
            "ASSET_ROLE_BACKGROUND_COLOR",
            "ASSET_ROLE_ACCENT_COLOR",
            "ASSET_ROLE_REQUIRE_LOGO",
            "ASSET_ROLE_REQUIRE_IMAGE",
            "ASSET_ROLE_ENABLE_ASSET_ENHANCEMENTS"
          ],
          "enumDescriptions": [
            "Asset role is not specified or is unknown in this version.",
            "The asset is the main asset of the creative.",
            "The asset is a backup asset of the creative.",
            "The asset is a polite load asset of the creative.",
            "Headline of a native creative. The content must be UTF-8 encoded with a length of no more than 25 characters. This role is only supported in the following creative_type: * `CREATIVE_TYPE_NATIVE` * `CREATIVE_TYPE_NATIVE_SITE_SQUARE` * `CREATIVE_TYPE_NATIVE_VIDEO`",
            "Long headline of a native creative. The content must be UTF-8 encoded with a length of no more than 50 characters. This role is only supported in the following creative_type: * `CREATIVE_TYPE_NATIVE` * `CREATIVE_TYPE_NATIVE_SITE_SQUARE` * `CREATIVE_TYPE_NATIVE_VIDEO`",
            "Body text of a native creative. The content must be UTF-8 encoded with a length of no more than 90 characters. This role is only supported in the following creative_type: * `CREATIVE_TYPE_NATIVE` * `CREATIVE_TYPE_NATIVE_SITE_SQUARE` * `CREATIVE_TYPE_NATIVE_VIDEO`",
            "Long body text of a native creative. The content must be UTF-8 encoded with a length of no more than 150 characters. This role is only supported in the following creative_type: * `CREATIVE_TYPE_NATIVE` * `CREATIVE_TYPE_NATIVE_SITE_SQUARE` * `CREATIVE_TYPE_NATIVE_VIDEO`",
            "A short, friendly version of the landing page URL to show in the creative. This URL gives people an idea of where they'll arrive after they click on the creative. The content must be UTF-8 encoded with a length of no more than 30 characters. For example, if the landing page URL is 'http://www.example.com/page', the caption URL can be 'example.com'. The protocol (http://) is optional, but the URL can't contain spaces or special characters. This role is only supported in the following creative_type: * `CREATIVE_TYPE_NATIVE` * `CREATIVE_TYPE_NATIVE_SITE_SQUARE` * `CREATIVE_TYPE_NATIVE_VIDEO`",
            "The text to use on the call-to-action button of a native creative. The content must be UTF-8 encoded with a length of no more than 15 characters. This role is only supported in the following creative_type: * `CREATIVE_TYPE_NATIVE` * `CREATIVE_TYPE_NATIVE_SITE_SQUARE` * `CREATIVE_TYPE_NATIVE_VIDEO`",
            "The text that identifies the advertiser or brand name. The content must be UTF-8 encoded with a length of no more than 25 characters. This role is only supported in the following creative_type: * `CREATIVE_TYPE_NATIVE` * `CREATIVE_TYPE_NATIVE_SITE_SQUARE` * `CREATIVE_TYPE_NATIVE_VIDEO`",
            "The purchase price of your app in the Google play store or iOS app store (for example, $5.99). Note that this value is not automatically synced with the actual value listed in the store. It will always be the one provided when save the creative. The content must be UTF-8 encoded with a length of no more than 15 characters. Assets of this role are read-only.",
            "The ID of an Android app in the Google play store. You can find this ID in the App’s Google Play Store URL after ‘id’. For example, in `https://play.google.com/store/apps/details?id=com.company.appname` the identifier is com.company.appname. Assets of this role are read-only.",
            "The ID of an iOS app in the Apple app store. This ID number can be found in the Apple App Store URL as the string of numbers directly after \"id\". For example, in `https://apps.apple.com/us/app/gmail-email-by-google/id422689480` the ID is 422689480. Assets of this role are read-only.",
            "The rating of an app in the Google play store or iOS app store. Note that this value is not automatically synced with the actual rating in the store. It will always be the one provided when save the creative. Assets of this role are read-only.",
            "The icon of a creative. This role is only supported and required in the following creative_type: * `CREATIVE_TYPE_NATIVE` * `CREATIVE_TYPE_NATIVE_SITE_SQUARE`",
            "The cover image of a native video creative. This role is only supported and required in the following creative_type: * `CREATIVE_TYPE_VIDEO`",
            "The main color to use in a creative. This role is only supported and required in the following creative_type: * `CREATIVE_TYPE_ASSET_BASED_CREATIVE`",
            "The accent color to use in a creative. This role is only supported and required in the following creative_type: * `CREATIVE_TYPE_ASSET_BASED_CREATIVE`",
            "Whether the creative must use a logo asset. This role is only supported and required in the following creative_type: * `CREATIVE_TYPE_ASSET_BASED_CREATIVE`",
            "Whether the creative must use an image asset. This role is only supported and required in the following creative_type: * `CREATIVE_TYPE_ASSET_BASED_CREATIVE`",
            "Whether asset enhancements can be applied to the creative. This role is only supported and required in the following creative_type: * `CREATIVE_TYPE_ASSET_BASED_CREATIVE`"
          ]
        }
      }
    },
    "Channel": {
      "id": "Channel",
      "description": "A single channel. Channels are custom groups of related websites and apps.",
      "type": "object",
      "properties": {
        "negativelyTargetedLineItemCount": {
          "format": "int64",
          "type": "string",
          "description": "Output only. Number of line items that are directly targeting this channel negatively.",
          "readOnly": true
        },
        "positivelyTargetedLineItemCount": {
          "format": "int64",
          "description": "Output only. Number of line items that are directly targeting this channel positively.",
          "type": "string",
          "readOnly": true
        },
        "partnerId": {
          "description": "The ID of the partner that owns the channel.",
          "format": "int64",
          "type": "string"
        },
        "channelId": {
          "description": "Output only. The unique ID of the channel. Assigned by the system.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Required. The display name of the channel. Must be UTF-8 encoded with a maximum length of 240 bytes.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name of the channel.",
          "type": "string"
        },
        "advertiserId": {
          "type": "string",
          "format": "int64",
          "description": "The ID of the advertiser that owns the channel."
        }
      }
    },
    "OperatingSystemTargetingOptionDetails": {
      "id": "OperatingSystemTargetingOptionDetails",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Output only. The display name of the operating system.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Represents a targetable operating system. This will be populated in the operating_system_details field of a TargetingOption when targeting_type is `TARGETING_TYPE_OPERATING_SYSTEM`."
    },
    "YoutubeVideoAssignedTargetingOptionDetails": {
      "type": "object",
      "id": "YoutubeVideoAssignedTargetingOptionDetails",
      "description": "Details for YouTube video assigned targeting option. This will be populated in the youtube_video_details field when targeting_type is `TARGETING_TYPE_YOUTUBE_VIDEO`.",
      "properties": {
        "negative": {
          "type": "boolean",
          "description": "Indicates if this option is being negatively targeted."
        },
        "videoId": {
          "description": "YouTube video id as it appears on the YouTube watch page.",
          "type": "string"
        }
      }
    },
    "TargetingOption": {
      "id": "TargetingOption",
      "properties": {
        "targetingType": {
          "readOnly": true,
          "enumDescriptions": [
            "Default value when type is not specified or is unknown in this version.",
            "Target a channel (a custom group of related websites or apps).",
            "Target an app category (for example, education or puzzle games).",
            "Target a specific app (for example, Angry Birds).",
            "Target a specific url (for example, quora.com).",
            "Target ads during a chosen time period on a specific day.",
            "Target ads to a specific age range (for example, 18-24).",
            "Target ads to the specified regions on a regional location list.",
            "Target ads to the specified points of interest on a proximity location list.",
            "Target ads to a specific gender (for example, female or male).",
            "Target a specific video player size for video ads.",
            "Target user rewarded content for video ads.",
            "Target ads to a specific parental status (for example, parent or not a parent).",
            "Target video or audio ads in a specific content instream position (for example, pre-roll, mid-roll, or post-roll).",
            "Target ads in a specific content outstream position.",
            "Target ads to a specific device type (for example, tablet or connected TV).",
            "Target ads to an audience or groups of audiences. Singleton field, at most one can exist on a single Lineitem at a time.",
            "Target ads to specific web browsers (for example, Chrome).",
            "Target ads to a specific household income range (for example, top 10%).",
            "Target ads in a specific on screen position.",
            "Filter web sites through third party verification (for example, IAS or DoubleVerify).",
            "Filter web sites by specific digital content label ratings (for example, DL-MA: suitable only for mature audiences).",
            "Filter website content by sensitive categories (for example, adult).",
            "Target ads to a specific environment (for example, web or app).",
            "Target ads to a specific network carrier or internet service provider (ISP) (for example, Comcast or Orange).",
            "Target ads to a specific operating system (for example, macOS).",
            "Target ads to a specific device make or model (for example, Roku or Samsung).",
            "Target ads to a specific keyword (for example, dog or retriever).",
            "Target ads to a specific negative keyword list.",
            "Target ads to a specific viewability (for example, 80% viewable).",
            "Target ads to a specific content category (for example, arts & entertainment).",
            "Purchase impressions from specific deals and auction packages.",
            "Target ads to a specific language (for example, English or Japanese).",
            "Target ads to ads.txt authorized sellers. If no targeting option of this type is assigned, the resource uses the \"Authorized Direct Sellers and Resellers\" option by default.",
            "Target ads to a specific regional location (for example, a city or state).",
            "Purchase impressions from a group of deals and auction packages.",
            "Purchase impressions from specific exchanges.",
            "Purchase impressions from specific sub-exchanges.",
            "Target ads around a specific point of interest, such as a notable building, a street address, or latitude/longitude coordinates.",
            "Target ads around locations of a business chain within a specific geo region.",
            "Target ads to a specific video content duration.",
            "Target ads to a specific video content stream type.",
            "Target ads to a specific native content position.",
            "Target ads in an Open Measurement enabled inventory.",
            "Target ads to a specific audio content type.",
            "Target ads to a specific content genre.",
            "Target ads to a specific YouTube video. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
            "Target ads to a specific YouTube channel. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
            "Target ads to a serve it in a certain position of a session. Only supported for Ad Group resources under YouTube Programmatic Reservation line items. Targeting of this type cannot be created or updated using the API.",
            "Filter website content by content themes (for example, religion). Only supported for Advertiser resources. Targeting of this type cannot be created or updated using the API. This targeting is only inherited by child YouTube and Demand Gen line item resources.",
            "Target ads to a specific YouTube channel pack."
          ],
          "type": "string",
          "description": "Output only. The type of this targeting option.",
          "enum": [
            "TARGETING_TYPE_UNSPECIFIED",
            "TARGETING_TYPE_CHANNEL",
            "TARGETING_TYPE_APP_CATEGORY",
            "TARGETING_TYPE_APP",
            "TARGETING_TYPE_URL",
            "TARGETING_TYPE_DAY_AND_TIME",
            "TARGETING_TYPE_AGE_RANGE",
            "TARGETING_TYPE_REGIONAL_LOCATION_LIST",
            "TARGETING_TYPE_PROXIMITY_LOCATION_LIST",
            "TARGETING_TYPE_GENDER",
            "TARGETING_TYPE_VIDEO_PLAYER_SIZE",
            "TARGETING_TYPE_USER_REWARDED_CONTENT",
            "TARGETING_TYPE_PARENTAL_STATUS",
            "TARGETING_TYPE_CONTENT_INSTREAM_POSITION",
            "TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION",
            "TARGETING_TYPE_DEVICE_TYPE",
            "TARGETING_TYPE_AUDIENCE_GROUP",
            "TARGETING_TYPE_BROWSER",
            "TARGETING_TYPE_HOUSEHOLD_INCOME",
            "TARGETING_TYPE_ON_SCREEN_POSITION",
            "TARGETING_TYPE_THIRD_PARTY_VERIFIER",
            "TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION",
            "TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION",
[...]
