{
  "kind": "discovery#restDescription",
  "canonicalName": "Display Video",
  "mtlsRootUrl": "https://displayvideo.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/doubleclickbidmanager": {
          "description": "View and manage your reports in DoubleClick Bid Manager"
        },
        "https://www.googleapis.com/auth/display-video-user-management": {
          "description": "Private Service: https://www.googleapis.com/auth/display-video-user-management"
        },
        "https://www.googleapis.com/auth/display-video-mediaplanning": {
          "description": "Create, see, and edit Display & Video 360 Campaign entities and see billing invoices"
        },
        "https://www.googleapis.com/auth/display-video": {
          "description": "Create, see, edit, and permanently delete your Display & Video 360 entities and reports"
        }
      }
    }
  },
  "version": "v3",
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://displayvideo.googleapis.com/",
  "parameters": {
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    }
  },
  "ownerDomain": "google.com",
  "title": "Display & Video 360 API",
  "servicePath": "",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "description": "Display & Video 360 API allows users to automate complex Display & Video 360 workflows, such as creating insertion orders and setting targeting options for individual line items.",
  "documentationLink": "https://developers.google.com/display-video/",
  "resources": {
    "combinedAudiences": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "flatPath": "v3/combinedAudiences/{combinedAudiencesId}",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "parameterOrder": [
            "combinedAudienceId"
          ],
          "id": "displayvideo.combinedAudiences.get",
          "response": {
            "$ref": "CombinedAudience"
          },
          "description": "Gets a combined audience.",
          "parameters": {
            "partnerId": {
              "description": "The ID of the partner that has access to the fetched combined audience.",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "advertiserId": {
              "format": "int64",
              "type": "string",
              "location": "query",
              "description": "The ID of the advertiser that has access to the fetched combined audience."
            },
            "combinedAudienceId": {
              "format": "int64",
              "description": "Required. The ID of the combined audience to fetch.",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "path": "v3/combinedAudiences/{+combinedAudienceId}"
        },
        "list": {
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "path": "v3/combinedAudiences",
          "id": "displayvideo.combinedAudiences.list",
          "parameters": {
            "filter": {
              "location": "query",
              "description": "Allows filtering by combined audience fields. Supported syntax: * Filter expressions for combined audiences can only contain at most one restriction. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `HAS (:)` operator. Supported fields: * `displayName` Examples: * All combined audiences for which the display name contains \"Google\": `displayName : \"Google\"`. The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information.",
              "type": "string"
            },
            "partnerId": {
              "description": "The ID of the partner that has access to the fetched combined audiences.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "orderBy": {
              "type": "string",
              "location": "query",
              "description": "Field by which to sort the list. Acceptable values are: * `combinedAudienceId` (default) * `displayName` The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. Example: `displayName desc`."
            },
            "pageSize": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified."
            },
            "advertiserId": {
              "format": "int64",
              "type": "string",
              "location": "query",
              "description": "The ID of the advertiser that has access to the fetched combined audiences."
            },
            "pageToken": {
              "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListCombinedAudiences` method. If not specified, the first page of results will be returned.",
              "location": "query",
              "type": "string"
            }
          },
          "description": "Lists combined audiences. The order is defined by the order_by parameter.",
          "response": {
            "$ref": "ListCombinedAudiencesResponse"
          },
          "httpMethod": "GET",
          "flatPath": "v3/combinedAudiences"
        }
      }
    },
    "customBiddingAlgorithms": {
      "methods": {
        "uploadScript": {
          "parameterOrder": [
            "customBiddingAlgorithmId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "httpMethod": "GET",
          "id": "displayvideo.customBiddingAlgorithms.uploadScript",
          "parameters": {
            "partnerId": {
              "description": "The ID of the partner that owns the parent custom bidding algorithm. Only this partner will have write access to this custom bidding script.",
              "type": "string",
              "location": "query",
              "format": "int64"
            },
            "customBiddingAlgorithmId": {
              "type": "string",
              "description": "Required. The ID of the custom bidding algorithm owns the script.",
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path",
              "format": "int64"
            },
            "advertiserId": {
              "description": "The ID of the advertiser that owns the parent custom bidding algorithm.",
              "type": "string",
              "format": "int64",
              "location": "query"
            }
          },
          "response": {
            "$ref": "CustomBiddingScriptRef"
          },
          "description": "Creates a custom bidding script reference object for a script file. The resulting reference object provides a resource path to which the script file should be uploaded. This reference object should be included in when creating a new custom bidding script object.",
          "path": "v3/customBiddingAlgorithms/{+customBiddingAlgorithmId}:uploadScript",
          "flatPath": "v3/customBiddingAlgorithms/{customBiddingAlgorithmsId}:uploadScript"
        },
        "uploadRules": {
          "flatPath": "v3/customBiddingAlgorithms/{customBiddingAlgorithmsId}:uploadRules",
          "description": "Creates a rules reference object for an AlgorithmRules file. The resulting reference object provides a resource path where the AlgorithmRules file should be uploaded. This reference object should be included when creating a new CustomBiddingAlgorithmRules resource.",
          "path": "v3/customBiddingAlgorithms/{+customBiddingAlgorithmId}:uploadRules",
          "httpMethod": "GET",
          "response": {
            "$ref": "CustomBiddingAlgorithmRulesRef"
          },
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "id": "displayvideo.customBiddingAlgorithms.uploadRules",
          "parameterOrder": [
            "customBiddingAlgorithmId"
          ],
          "parameters": {
            "advertiserId": {
              "type": "string",
              "description": "The ID of the advertiser that owns the parent custom bidding algorithm.",
              "location": "query",
              "format": "int64"
            },
            "customBiddingAlgorithmId": {
              "location": "path",
              "description": "Required. The ID of the custom bidding algorithm that owns the rules resource.",
              "format": "int64",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            },
            "partnerId": {
              "type": "string",
              "location": "query",
              "format": "int64",
              "description": "The ID of the partner that owns the parent custom bidding algorithm."
            }
          }
        },
        "get": {
          "flatPath": "v3/customBiddingAlgorithms/{customBiddingAlgorithmsId}",
          "httpMethod": "GET",
          "parameterOrder": [
            "customBiddingAlgorithmId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "response": {
            "$ref": "CustomBiddingAlgorithm"
          },
          "parameters": {
            "advertiserId": {
              "description": "The ID of the DV360 partner that has access to the custom bidding algorithm.",
              "type": "string",
              "location": "query",
              "format": "int64"
            },
            "customBiddingAlgorithmId": {
              "required": true,
              "format": "int64",
              "description": "Required. The ID of the custom bidding algorithm to fetch.",
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path"
            },
            "partnerId": {
              "type": "string",
              "description": "The ID of the DV360 partner that has access to the custom bidding algorithm.",
              "format": "int64",
              "location": "query"
            }
          },
          "path": "v3/customBiddingAlgorithms/{+customBiddingAlgorithmId}",
          "description": "Gets a custom bidding algorithm.",
          "id": "displayvideo.customBiddingAlgorithms.get"
        },
        "list": {
          "parameterOrder": [],
          "description": "Lists custom bidding algorithms that are accessible to the current user and can be used in bidding stratgies. The order is defined by the order_by parameter.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "flatPath": "v3/customBiddingAlgorithms",
          "path": "v3/customBiddingAlgorithms",
          "response": {
            "$ref": "ListCustomBiddingAlgorithmsResponse"
          },
          "parameters": {
            "pageSize": {
              "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "orderBy": {
              "description": "Field by which to sort the list. Acceptable values are: * `displayName` (default) The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. Example: `displayName desc`.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListCustomBiddingAlgorithms` method. If not specified, the first page of results will be returned.",
              "type": "string"
            },
            "advertiserId": {
              "format": "int64",
              "type": "string",
              "location": "query",
              "description": "The ID of the DV360 advertiser that has access to the custom bidding algorithm."
            },
            "partnerId": {
              "type": "string",
              "description": "The ID of the DV360 partner that has access to the custom bidding algorithm.",
              "location": "query",
              "format": "int64"
            },
            "filter": {
              "type": "string",
              "description": "Allows filtering by custom bidding algorithm fields. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by `AND`. A sequence of restrictions implicitly uses `AND`. * A restriction has the form of `{field} {operator} {value}`. * The `customBiddingAlgorithmType` field must use the `EQUALS (=)` operator. * The `displayName` field must use the `HAS (:)` operator. Supported fields: * `customBiddingAlgorithmType` * `displayName` Examples: * All custom bidding algorithms for which the display name contains \"politics\": `displayName:\"politics\"`. * All custom bidding algorithms for which the type is \"SCRIPT_BASED\": `customBiddingAlgorithmType=SCRIPT_BASED` The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information.",
              "location": "query"
            }
          },
          "id": "displayvideo.customBiddingAlgorithms.list"
        },
        "create": {
          "description": "Creates a new custom bidding algorithm. Returns the newly created custom bidding algorithm if successful.",
          "path": "v3/customBiddingAlgorithms",
          "response": {
            "$ref": "CustomBiddingAlgorithm"
          },
          "id": "displayvideo.customBiddingAlgorithms.create",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "parameters": {},
          "parameterOrder": [],
          "flatPath": "v3/customBiddingAlgorithms",
          "httpMethod": "POST",
          "request": {
            "$ref": "CustomBiddingAlgorithm"
          }
        },
        "patch": {
          "flatPath": "v3/customBiddingAlgorithms/{customBiddingAlgorithmsId}",
          "parameterOrder": [
            "customBiddingAlgorithmId"
          ],
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "id": "displayvideo.customBiddingAlgorithms.patch",
          "response": {
            "$ref": "CustomBiddingAlgorithm"
          },
          "parameters": {
            "updateMask": {
              "description": "Required. The mask to control which fields to update.",
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            },
            "customBiddingAlgorithmId": {
              "description": "Output only. The unique ID of the custom bidding algorithm. Assigned by the system.",
              "type": "string",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "required": true
            }
          },
          "description": "Updates an existing custom bidding algorithm. Returns the updated custom bidding algorithm if successful. Requests updating a custom bidding algorithm assigned to a line item will return an error.",
          "path": "v3/customBiddingAlgorithms/{+customBiddingAlgorithmId}",
          "request": {
            "$ref": "CustomBiddingAlgorithm"
          }
        }
      },
      "resources": {
        "scripts": {
          "methods": {
            "create": {
              "description": "Creates a new custom bidding script. Returns the newly created script if successful. Requests creating a custom bidding script under an algorithm assigned to a line item will return an error.",
              "flatPath": "v3/customBiddingAlgorithms/{customBiddingAlgorithmsId}/scripts",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "id": "displayvideo.customBiddingAlgorithms.scripts.create",
              "response": {
                "$ref": "CustomBiddingScript"
              },
              "parameters": {
                "partnerId": {
                  "location": "query",
                  "format": "int64",
                  "description": "The ID of the partner that owns the parent custom bidding algorithm. Only this partner will have write access to this custom bidding script.",
                  "type": "string"
                },
                "customBiddingAlgorithmId": {
                  "required": true,
                  "pattern": "^[^/]+$",
                  "format": "int64",
                  "description": "Required. The ID of the custom bidding algorithm that owns the script.",
                  "location": "path",
                  "type": "string"
                },
                "advertiserId": {
                  "description": "The ID of the advertiser that owns the parent custom bidding algorithm.",
                  "format": "int64",
                  "type": "string",
                  "location": "query"
                }
              },
              "request": {
                "$ref": "CustomBiddingScript"
              },
              "parameterOrder": [
                "customBiddingAlgorithmId"
              ],
              "path": "v3/customBiddingAlgorithms/{+customBiddingAlgorithmId}/scripts",
              "httpMethod": "POST"
            },
            "get": {
              "flatPath": "v3/customBiddingAlgorithms/{customBiddingAlgorithmsId}/scripts/{scriptsId}",
              "response": {
                "$ref": "CustomBiddingScript"
              },
              "parameters": {
                "partnerId": {
                  "format": "int64",
                  "location": "query",
                  "description": "The ID of the partner that owns the parent custom bidding algorithm. Only this partner will have write access to this custom bidding script.",
                  "type": "string"
                },
                "customBiddingAlgorithmId": {
                  "required": true,
                  "description": "Required. The ID of the custom bidding algorithm owns the script.",
                  "pattern": "^[^/]+$",
                  "format": "int64",
                  "type": "string",
                  "location": "path"
                },
                "customBiddingScriptId": {
                  "pattern": "^[^/]+$",
                  "format": "int64",
                  "location": "path",
                  "description": "Required. The ID of the custom bidding script to fetch.",
                  "type": "string",
                  "required": true
                },
                "advertiserId": {
                  "format": "int64",
                  "type": "string",
                  "location": "query",
                  "description": "The ID of the advertiser that owns the parent custom bidding algorithm."
                }
              },
              "id": "displayvideo.customBiddingAlgorithms.scripts.get",
              "parameterOrder": [
                "customBiddingAlgorithmId",
                "customBiddingScriptId"
              ],
              "description": "Gets a custom bidding script.",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "path": "v3/customBiddingAlgorithms/{+customBiddingAlgorithmId}/scripts/{+customBiddingScriptId}",
              "httpMethod": "GET"
            },
            "list": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "parameterOrder": [
                "customBiddingAlgorithmId"
              ],
              "description": "Lists custom bidding scripts that belong to the given algorithm. The order is defined by the order_by parameter.",
              "response": {
                "$ref": "ListCustomBiddingScriptsResponse"
              },
              "parameters": {
                "partnerId": {
                  "description": "The ID of the partner that owns the parent custom bidding algorithm. Only this partner will have write access to this custom bidding script.",
                  "location": "query",
                  "type": "string",
                  "format": "int64"
                },
                "customBiddingAlgorithmId": {
                  "format": "int64",
                  "required": true,
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "description": "Required. The ID of the custom bidding algorithm owns the script.",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified."
                },
                "orderBy": {
                  "type": "string",
                  "location": "query",
                  "description": "Field by which to sort the list. Acceptable values are: * `createTime desc` (default) The default sorting order is descending. To specify ascending order for a field, the suffix \"desc\" should be removed. Example: `createTime`."
                },
                "advertiserId": {
                  "format": "int64",
                  "location": "query",
                  "description": "The ID of the advertiser that owns the parent custom bidding algorithm.",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListCustomBiddingScripts` method. If not specified, the first page of results will be returned."
                }
              },
              "id": "displayvideo.customBiddingAlgorithms.scripts.list",
              "flatPath": "v3/customBiddingAlgorithms/{customBiddingAlgorithmsId}/scripts",
              "path": "v3/customBiddingAlgorithms/{+customBiddingAlgorithmId}/scripts"
            }
          }
        },
        "rules": {
          "methods": {
            "get": {
              "path": "v3/customBiddingAlgorithms/{+customBiddingAlgorithmId}/rules/{+customBiddingAlgorithmRulesId}",
              "parameters": {
                "customBiddingAlgorithmId": {
                  "description": "Required. The ID of the custom bidding algorithm that owns the rules resource.",
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "location": "path",
                  "format": "int64",
                  "required": true
                },
                "customBiddingAlgorithmRulesId": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The ID of the rules resource to fetch.",
                  "format": "int64",
                  "pattern": "^[^/]+$",
                  "required": true
                },
                "partnerId": {
                  "type": "string",
                  "format": "int64",
                  "description": "The ID of the partner that owns the parent custom bidding algorithm.",
                  "location": "query"
                },
                "advertiserId": {
                  "location": "query",
                  "format": "int64",
                  "description": "The ID of the advertiser that owns the parent custom bidding algorithm.",
                  "type": "string"
                }
              },
              "description": "Retrieves a rules resource.",
              "parameterOrder": [
                "customBiddingAlgorithmId",
                "customBiddingAlgorithmRulesId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "flatPath": "v3/customBiddingAlgorithms/{customBiddingAlgorithmsId}/rules/{rulesId}",
              "httpMethod": "GET",
              "response": {
                "$ref": "CustomBiddingAlgorithmRules"
              },
              "id": "displayvideo.customBiddingAlgorithms.rules.get"
            },
            "create": {
              "response": {
                "$ref": "CustomBiddingAlgorithmRules"
              },
              "httpMethod": "POST",
              "id": "displayvideo.customBiddingAlgorithms.rules.create",
              "flatPath": "v3/customBiddingAlgorithms/{customBiddingAlgorithmsId}/rules",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "parameterOrder": [
                "customBiddingAlgorithmId"
              ],
              "path": "v3/customBiddingAlgorithms/{+customBiddingAlgorithmId}/rules",
              "description": "Creates a new rules resource. Returns the newly created rules resource if successful. Requests creating a custom bidding rules resource under an algorithm assigned to a line item will return an error.",
              "parameters": {
                "customBiddingAlgorithmId": {
                  "required": true,
                  "pattern": "^[^/]+$",
                  "format": "int64",
                  "description": "Required. The ID of the custom bidding algorithm that owns the rules resource.",
                  "location": "path",
                  "type": "string"
                },
                "partnerId": {
                  "description": "The ID of the partner that owns the parent custom bidding algorithm. Only this partner will have write access to this rules resource.",
                  "location": "query",
                  "type": "string",
                  "format": "int64"
                },
                "advertiserId": {
                  "format": "int64",
                  "description": "The ID of the advertiser that owns the parent custom bidding algorithm.",
                  "location": "query",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "CustomBiddingAlgorithmRules"
              }
            },
            "list": {
              "id": "displayvideo.customBiddingAlgorithms.rules.list",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListCustomBiddingAlgorithmRules` method. If not specified, the first page of results will be returned."
                },
                "orderBy": {
                  "description": "Field by which to sort the list. Acceptable values are: * `createTime desc` (default) The default sorting order is descending. To specify ascending order for a field, the suffix \"desc\" should be removed. Example: `createTime`.",
                  "location": "query",
                  "type": "string"
                },
                "advertiserId": {
                  "description": "The ID of the advertiser that owns the parent custom bidding algorithm.",
                  "format": "int64",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "customBiddingAlgorithmId": {
                  "required": true,
                  "pattern": "^[^/]+$",
                  "format": "int64",
                  "type": "string",
                  "description": "Required. The ID of the custom bidding algorithm that owns the rules resource.",
                  "location": "path"
                },
                "partnerId": {
                  "type": "string",
                  "location": "query",
                  "description": "The ID of the partner that owns the parent custom bidding algorithm.",
                  "format": "int64"
                }
              },
              "parameterOrder": [
                "customBiddingAlgorithmId"
              ],
              "httpMethod": "GET",
              "path": "v3/customBiddingAlgorithms/{+customBiddingAlgorithmId}/rules",
              "response": {
                "$ref": "ListCustomBiddingAlgorithmRulesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "description": "Lists rules resources that belong to the given algorithm. The order is defined by the order_by parameter.",
              "flatPath": "v3/customBiddingAlgorithms/{customBiddingAlgorithmsId}/rules"
            }
          }
        }
      }
    },
    "partners": {
      "methods": {
        "editAssignedTargetingOptions": {
          "path": "v3/partners/{+partnerId}:editAssignedTargetingOptions",
          "request": {
            "$ref": "BulkEditPartnerAssignedTargetingOptionsRequest"
          },
          "description": "Edits targeting options under a single partner. The operation will delete the assigned targeting options provided in BulkEditPartnerAssignedTargetingOptionsRequest.deleteRequests and then create the assigned targeting options provided in BulkEditPartnerAssignedTargetingOptionsRequest.createRequests .",
          "parameterOrder": [
            "partnerId"
          ],
          "parameters": {
            "partnerId": {
              "location": "path",
              "description": "Required. The ID of the partner.",
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "BulkEditPartnerAssignedTargetingOptionsResponse"
          },
          "id": "displayvideo.partners.editAssignedTargetingOptions",
          "flatPath": "v3/partners/{partnersId}:editAssignedTargetingOptions"
        },
        "get": {
          "description": "Gets a partner.",
          "id": "displayvideo.partners.get",
          "httpMethod": "GET",
          "response": {
            "$ref": "Partner"
          },
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "parameters": {
            "partnerId": {
              "required": true,
              "format": "int64",
              "type": "string",
              "description": "Required. The ID of the partner to fetch.",
              "location": "path",
              "pattern": "^[^/]+$"
            }
          },
          "flatPath": "v3/partners/{partnersId}",
          "parameterOrder": [
            "partnerId"
          ],
          "path": "v3/partners/{+partnerId}"
        },
        "list": {
          "path": "v3/partners",
          "parameters": {
            "filter": {
              "location": "query",
              "type": "string",
              "description": "Allows filtering by partner fields. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by `AND` or `OR` logical operators. A sequence of restrictions implicitly uses `AND`. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `EQUALS (=)` operator. Supported fields: * `entityStatus` Examples: * All active partners: `entityStatus=\"ENTITY_STATUS_ACTIVE\"` The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information."
            },
            "pageToken": {
              "location": "query",
              "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListPartners` method. If not specified, the first page of results will be returned.",
              "type": "string"
            },
            "orderBy": {
              "location": "query",
              "description": "Field by which to sort the list. Acceptable values are: * `displayName` The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. For example, `displayName desc`.",
              "type": "string"
            },
            "pageSize": {
              "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "id": "displayvideo.partners.list",
          "httpMethod": "GET",
          "flatPath": "v3/partners",
          "response": {
            "$ref": "ListPartnersResponse"
          },
          "parameterOrder": [],
          "description": "Lists partners that are accessible to the current user. The order is defined by the order_by parameter."
        }
      },
      "resources": {
        "targetingTypes": {
          "resources": {
            "assignedTargetingOptions": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "partnerId",
                    "targetingType",
                    "assignedTargetingOptionId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ],
                  "response": {
                    "$ref": "AssignedTargetingOption"
                  },
                  "path": "v3/partners/{+partnerId}/targetingTypes/{+targetingType}/assignedTargetingOptions/{+assignedTargetingOptionId}",
                  "parameters": {
                    "assignedTargetingOptionId": {
                      "description": "Required. An identifier unique to the targeting type in this partner that identifies the assigned targeting option being requested.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^[^/]+$",
                      "required": true
                    },
                    "partnerId": {
                      "pattern": "^[^/]+$",
                      "format": "int64",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The ID of the partner.",
                      "required": true
                    },
                    "targetingType": {
                      "enum": [
                        "TARGETING_TYPE_UNSPECIFIED",
                        "TARGETING_TYPE_CHANNEL",
                        "TARGETING_TYPE_APP_CATEGORY",
                        "TARGETING_TYPE_APP",
                        "TARGETING_TYPE_URL",
                        "TARGETING_TYPE_DAY_AND_TIME",
                        "TARGETING_TYPE_AGE_RANGE",
                        "TARGETING_TYPE_REGIONAL_LOCATION_LIST",
                        "TARGETING_TYPE_PROXIMITY_LOCATION_LIST",
                        "TARGETING_TYPE_GENDER",
                        "TARGETING_TYPE_VIDEO_PLAYER_SIZE",
                        "TARGETING_TYPE_USER_REWARDED_CONTENT",
                        "TARGETING_TYPE_PARENTAL_STATUS",
                        "TARGETING_TYPE_CONTENT_INSTREAM_POSITION",
                        "TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION",
                        "TARGETING_TYPE_DEVICE_TYPE",
                        "TARGETING_TYPE_AUDIENCE_GROUP",
                        "TARGETING_TYPE_BROWSER",
                        "TARGETING_TYPE_HOUSEHOLD_INCOME",
                        "TARGETING_TYPE_ON_SCREEN_POSITION",
                        "TARGETING_TYPE_THIRD_PARTY_VERIFIER",
                        "TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION",
                        "TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION",
                        "TARGETING_TYPE_ENVIRONMENT",
                        "TARGETING_TYPE_CARRIER_AND_ISP",
                        "TARGETING_TYPE_OPERATING_SYSTEM",
                        "TARGETING_TYPE_DEVICE_MAKE_MODEL",
                        "TARGETING_TYPE_KEYWORD",
                        "TARGETING_TYPE_NEGATIVE_KEYWORD_LIST",
                        "TARGETING_TYPE_VIEWABILITY",
                        "TARGETING_TYPE_CATEGORY",
                        "TARGETING_TYPE_LANGUAGE",
                        "TARGETING_TYPE_AUTHORIZED_SELLER_STATUS",
                        "TARGETING_TYPE_GEO_REGION",
                        "TARGETING_TYPE_INVENTORY_SOURCE_GROUP",
                        "TARGETING_TYPE_EXCHANGE",
                        "TARGETING_TYPE_SUB_EXCHANGE",
                        "TARGETING_TYPE_POI",
                        "TARGETING_TYPE_BUSINESS_CHAIN",
                        "TARGETING_TYPE_CONTENT_DURATION",
                        "TARGETING_TYPE_CONTENT_STREAM_TYPE",
                        "TARGETING_TYPE_NATIVE_CONTENT_POSITION",
                        "TARGETING_TYPE_OMID",
                        "TARGETING_TYPE_AUDIO_CONTENT_TYPE",
                        "TARGETING_TYPE_CONTENT_GENRE",
                        "TARGETING_TYPE_YOUTUBE_VIDEO",
                        "TARGETING_TYPE_YOUTUBE_CHANNEL",
                        "TARGETING_TYPE_SESSION_POSITION",
                        "TARGETING_TYPE_CONTENT_THEME_EXCLUSION",
                        "TARGETING_TYPE_YOUTUBE_CHANNEL_PACK"
                      ],
                      "enumDescriptions": [
                        "Default value when type is not specified or is unknown in this version.",
                        "Target a channel (a custom group of related websites or apps).",
                        "Target an app category (for example, education or puzzle games).",
                        "Target a specific app (for example, Angry Birds).",
                        "Target a specific url (for example, quora.com).",
                        "Target ads during a chosen time period on a specific day.",
                        "Target ads to a specific age range (for example, 18-24).",
                        "Target ads to the specified regions on a regional location list.",
                        "Target ads to the specified points of interest on a proximity location list.",
                        "Target ads to a specific gender (for example, female or male).",
                        "Target a specific video player size for video ads.",
                        "Target user rewarded content for video ads.",
                        "Target ads to a specific parental status (for example, parent or not a parent).",
                        "Target video or audio ads in a specific content instream position (for example, pre-roll, mid-roll, or post-roll).",
                        "Target ads in a specific content outstream position.",
                        "Target ads to a specific device type (for example, tablet or connected TV).",
                        "Target ads to an audience or groups of audiences. Singleton field, at most one can exist on a single Lineitem at a time.",
                        "Target ads to specific web browsers (for example, Chrome).",
                        "Target ads to a specific household income range (for example, top 10%).",
                        "Target ads in a specific on screen position.",
                        "Filter web sites through third party verification (for example, IAS or DoubleVerify).",
                        "Filter web sites by specific digital content label ratings (for example, DL-MA: suitable only for mature audiences).",
                        "Filter website content by sensitive categories (for example, adult).",
                        "Target ads to a specific environment (for example, web or app).",
                        "Target ads to a specific network carrier or internet service provider (ISP) (for example, Comcast or Orange).",
                        "Target ads to a specific operating system (for example, macOS).",
                        "Target ads to a specific device make or model (for example, Roku or Samsung).",
                        "Target ads to a specific keyword (for example, dog or retriever).",
                        "Target ads to a specific negative keyword list.",
                        "Target ads to a specific viewability (for example, 80% viewable).",
                        "Target ads to a specific content category (for example, arts & entertainment).",
                        "Target ads to a specific language (for example, English or Japanese).",
                        "Target ads to ads.txt authorized sellers. If no targeting option of this type is assigned, the resource uses the \"Authorized Direct Sellers and Resellers\" option by default.",
                        "Target ads to a specific regional location (for example, a city or state).",
                        "Purchase impressions from a group of deals and auction packages.",
                        "Purchase impressions from specific exchanges.",
                        "Purchase impressions from specific sub-exchanges.",
                        "Target ads around a specific point of interest, such as a notable building, a street address, or latitude/longitude coordinates.",
                        "Target ads around locations of a business chain within a specific geo region.",
                        "Target ads to a specific video content duration.",
                        "Target ads to a specific video content stream type.",
                        "Target ads to a specific native content position.",
                        "Target ads in an Open Measurement enabled inventory.",
                        "Target ads to a specific audio content type.",
                        "Target ads to a specific content genre.",
                        "Target ads to a specific YouTube video. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                        "Target ads to a specific YouTube channel. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                        "Target ads to a serve it in a certain position of a session. Only supported for Ad Group resources under YouTube Programmatic Reservation line items. Targeting of this type cannot be created or updated using the API.",
                        "Filter website content by content themes (for example, religion). Only supported for Advertiser resources. Targeting of this type cannot be created or updated using the API. This targeting is only inherited by child YouTube and Demand Gen line item resources.",
                        "Target ads to a specific YouTube channel pack."
                      ],
                      "required": true,
                      "description": "Required. Identifies the type of this assigned targeting option. Supported targeting types: * `TARGETING_TYPE_CHANNEL`",
                      "type": "string",
                      "pattern": "^[^/]+$",
                      "location": "path"
                    }
                  },
                  "flatPath": "v3/partners/{partnersId}/targetingTypes/{targetingTypesId}/assignedTargetingOptions/{assignedTargetingOptionsId}",
                  "id": "displayvideo.partners.targetingTypes.assignedTargetingOptions.get",
                  "description": "Gets a single targeting option assigned to a partner."
                },
                "list": {
                  "id": "displayvideo.partners.targetingTypes.assignedTargetingOptions.list",
                  "flatPath": "v3/partners/{partnersId}/targetingTypes/{targetingTypesId}/assignedTargetingOptions",
                  "description": "Lists the targeting options assigned to a partner.",
                  "response": {
                    "$ref": "ListPartnerAssignedTargetingOptionsResponse"
                  },
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified."
                    },
                    "partnerId": {
                      "required": true,
                      "format": "int64",
                      "description": "Required. The ID of the partner.",
                      "pattern": "^[^/]+$",
                      "type": "string",
                      "location": "path"
                    },
                    "orderBy": {
                      "description": "Field by which to sort the list. Acceptable values are: * `assignedTargetingOptionId` (default) The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. Example: `assignedTargetingOptionId desc`.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Allows filtering by assigned targeting option fields. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by the logical operator `OR`. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `EQUALS (=)` operator. Supported fields: * `assignedTargetingOptionId` Examples: * `AssignedTargetingOption` resource with ID 123456: `assignedTargetingOptionId=\"123456\"` The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information."
                    },
                    "targetingType": {
                      "pattern": "^[^/]+$",
                      "description": "Required. Identifies the type of assigned targeting options to list. Supported targeting types: * `TARGETING_TYPE_CHANNEL`",
                      "required": true,
                      "enum": [
                        "TARGETING_TYPE_UNSPECIFIED",
                        "TARGETING_TYPE_CHANNEL",
                        "TARGETING_TYPE_APP_CATEGORY",
                        "TARGETING_TYPE_APP",
                        "TARGETING_TYPE_URL",
                        "TARGETING_TYPE_DAY_AND_TIME",
                        "TARGETING_TYPE_AGE_RANGE",
                        "TARGETING_TYPE_REGIONAL_LOCATION_LIST",
                        "TARGETING_TYPE_PROXIMITY_LOCATION_LIST",
                        "TARGETING_TYPE_GENDER",
                        "TARGETING_TYPE_VIDEO_PLAYER_SIZE",
                        "TARGETING_TYPE_USER_REWARDED_CONTENT",
                        "TARGETING_TYPE_PARENTAL_STATUS",
                        "TARGETING_TYPE_CONTENT_INSTREAM_POSITION",
                        "TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION",
                        "TARGETING_TYPE_DEVICE_TYPE",
                        "TARGETING_TYPE_AUDIENCE_GROUP",
                        "TARGETING_TYPE_BROWSER",
                        "TARGETING_TYPE_HOUSEHOLD_INCOME",
                        "TARGETING_TYPE_ON_SCREEN_POSITION",
                        "TARGETING_TYPE_THIRD_PARTY_VERIFIER",
                        "TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION",
                        "TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION",
                        "TARGETING_TYPE_ENVIRONMENT",
                        "TARGETING_TYPE_CARRIER_AND_ISP",
                        "TARGETING_TYPE_OPERATING_SYSTEM",
                        "TARGETING_TYPE_DEVICE_MAKE_MODEL",
                        "TARGETING_TYPE_KEYWORD",
                        "TARGETING_TYPE_NEGATIVE_KEYWORD_LIST",
                        "TARGETING_TYPE_VIEWABILITY",
                        "TARGETING_TYPE_CATEGORY",
                        "TARGETING_TYPE_LANGUAGE",
                        "TARGETING_TYPE_AUTHORIZED_SELLER_STATUS",
                        "TARGETING_TYPE_GEO_REGION",
                        "TARGETING_TYPE_INVENTORY_SOURCE_GROUP",
                        "TARGETING_TYPE_EXCHANGE",
                        "TARGETING_TYPE_SUB_EXCHANGE",
                        "TARGETING_TYPE_POI",
                        "TARGETING_TYPE_BUSINESS_CHAIN",
                        "TARGETING_TYPE_CONTENT_DURATION",
                        "TARGETING_TYPE_CONTENT_STREAM_TYPE",
                        "TARGETING_TYPE_NATIVE_CONTENT_POSITION",
                        "TARGETING_TYPE_OMID",
                        "TARGETING_TYPE_AUDIO_CONTENT_TYPE",
                        "TARGETING_TYPE_CONTENT_GENRE",
                        "TARGETING_TYPE_YOUTUBE_VIDEO",
                        "TARGETING_TYPE_YOUTUBE_CHANNEL",
                        "TARGETING_TYPE_SESSION_POSITION",
                        "TARGETING_TYPE_CONTENT_THEME_EXCLUSION",
                        "TARGETING_TYPE_YOUTUBE_CHANNEL_PACK"
                      ],
                      "location": "path",
                      "enumDescriptions": [
                        "Default value when type is not specified or is unknown in this version.",
                        "Target a channel (a custom group of related websites or apps).",
                        "Target an app category (for example, education or puzzle games).",
                        "Target a specific app (for example, Angry Birds).",
                        "Target a specific url (for example, quora.com).",
                        "Target ads during a chosen time period on a specific day.",
                        "Target ads to a specific age range (for example, 18-24).",
                        "Target ads to the specified regions on a regional location list.",
                        "Target ads to the specified points of interest on a proximity location list.",
                        "Target ads to a specific gender (for example, female or male).",
                        "Target a specific video player size for video ads.",
                        "Target user rewarded content for video ads.",
                        "Target ads to a specific parental status (for example, parent or not a parent).",
                        "Target video or audio ads in a specific content instream position (for example, pre-roll, mid-roll, or post-roll).",
                        "Target ads in a specific content outstream position.",
                        "Target ads to a specific device type (for example, tablet or connected TV).",
                        "Target ads to an audience or groups of audiences. Singleton field, at most one can exist on a single Lineitem at a time.",
                        "Target ads to specific web browsers (for example, Chrome).",
                        "Target ads to a specific household income range (for example, top 10%).",
                        "Target ads in a specific on screen position.",
                        "Filter web sites through third party verification (for example, IAS or DoubleVerify).",
                        "Filter web sites by specific digital content label ratings (for example, DL-MA: suitable only for mature audiences).",
                        "Filter website content by sensitive categories (for example, adult).",
                        "Target ads to a specific environment (for example, web or app).",
                        "Target ads to a specific network carrier or internet service provider (ISP) (for example, Comcast or Orange).",
                        "Target ads to a specific operating system (for example, macOS).",
                        "Target ads to a specific device make or model (for example, Roku or Samsung).",
                        "Target ads to a specific keyword (for example, dog or retriever).",
                        "Target ads to a specific negative keyword list.",
                        "Target ads to a specific viewability (for example, 80% viewable).",
                        "Target ads to a specific content category (for example, arts & entertainment).",
                        "Target ads to a specific language (for example, English or Japanese).",
                        "Target ads to ads.txt authorized sellers. If no targeting option of this type is assigned, the resource uses the \"Authorized Direct Sellers and Resellers\" option by default.",
                        "Target ads to a specific regional location (for example, a city or state).",
                        "Purchase impressions from a group of deals and auction packages.",
                        "Purchase impressions from specific exchanges.",
                        "Purchase impressions from specific sub-exchanges.",
                        "Target ads around a specific point of interest, such as a notable building, a street address, or latitude/longitude coordinates.",
                        "Target ads around locations of a business chain within a specific geo region.",
                        "Target ads to a specific video content duration.",
                        "Target ads to a specific video content stream type.",
                        "Target ads to a specific native content position.",
                        "Target ads in an Open Measurement enabled inventory.",
                        "Target ads to a specific audio content type.",
                        "Target ads to a specific content genre.",
                        "Target ads to a specific YouTube video. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                        "Target ads to a specific YouTube channel. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                        "Target ads to a serve it in a certain position of a session. Only supported for Ad Group resources under YouTube Programmatic Reservation line items. Targeting of this type cannot be created or updated using the API.",
                        "Filter website content by content themes (for example, religion). Only supported for Advertiser resources. Targeting of this type cannot be created or updated using the API. This targeting is only inherited by child YouTube and Demand Gen line item resources.",
                        "Target ads to a specific YouTube channel pack."
                      ],
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListPartnerAssignedTargetingOptions` method. If not specified, the first page of results will be returned."
                    }
                  },
                  "parameterOrder": [
                    "partnerId",
                    "targetingType"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ],
                  "path": "v3/partners/{+partnerId}/targetingTypes/{+targetingType}/assignedTargetingOptions",
                  "httpMethod": "GET"
                },
                "create": {
                  "httpMethod": "POST",
                  "id": "displayvideo.partners.targetingTypes.assignedTargetingOptions.create",
                  "parameterOrder": [
                    "partnerId",
                    "targetingType"
                  ],
                  "parameters": {
                    "targetingType": {
                      "description": "Required. Identifies the type of this assigned targeting option. Supported targeting types: * `TARGETING_TYPE_CHANNEL`",
                      "enum": [
                        "TARGETING_TYPE_UNSPECIFIED",
                        "TARGETING_TYPE_CHANNEL",
                        "TARGETING_TYPE_APP_CATEGORY",
                        "TARGETING_TYPE_APP",
                        "TARGETING_TYPE_URL",
                        "TARGETING_TYPE_DAY_AND_TIME",
                        "TARGETING_TYPE_AGE_RANGE",
                        "TARGETING_TYPE_REGIONAL_LOCATION_LIST",
                        "TARGETING_TYPE_PROXIMITY_LOCATION_LIST",
                        "TARGETING_TYPE_GENDER",
                        "TARGETING_TYPE_VIDEO_PLAYER_SIZE",
                        "TARGETING_TYPE_USER_REWARDED_CONTENT",
                        "TARGETING_TYPE_PARENTAL_STATUS",
                        "TARGETING_TYPE_CONTENT_INSTREAM_POSITION",
                        "TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION",
                        "TARGETING_TYPE_DEVICE_TYPE",
                        "TARGETING_TYPE_AUDIENCE_GROUP",
                        "TARGETING_TYPE_BROWSER",
                        "TARGETING_TYPE_HOUSEHOLD_INCOME",
                        "TARGETING_TYPE_ON_SCREEN_POSITION",
                        "TARGETING_TYPE_THIRD_PARTY_VERIFIER",
                        "TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION",
                        "TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION",
                        "TARGETING_TYPE_ENVIRONMENT",
                        "TARGETING_TYPE_CARRIER_AND_ISP",
                        "TARGETING_TYPE_OPERATING_SYSTEM",
                        "TARGETING_TYPE_DEVICE_MAKE_MODEL",
                        "TARGETING_TYPE_KEYWORD",
                        "TARGETING_TYPE_NEGATIVE_KEYWORD_LIST",
                        "TARGETING_TYPE_VIEWABILITY",
                        "TARGETING_TYPE_CATEGORY",
                        "TARGETING_TYPE_LANGUAGE",
                        "TARGETING_TYPE_AUTHORIZED_SELLER_STATUS",
                        "TARGETING_TYPE_GEO_REGION",
                        "TARGETING_TYPE_INVENTORY_SOURCE_GROUP",
                        "TARGETING_TYPE_EXCHANGE",
                        "TARGETING_TYPE_SUB_EXCHANGE",
                        "TARGETING_TYPE_POI",
                        "TARGETING_TYPE_BUSINESS_CHAIN",
                        "TARGETING_TYPE_CONTENT_DURATION",
                        "TARGETING_TYPE_CONTENT_STREAM_TYPE",
                        "TARGETING_TYPE_NATIVE_CONTENT_POSITION",
                        "TARGETING_TYPE_OMID",
                        "TARGETING_TYPE_AUDIO_CONTENT_TYPE",
                        "TARGETING_TYPE_CONTENT_GENRE",
                        "TARGETING_TYPE_YOUTUBE_VIDEO",
                        "TARGETING_TYPE_YOUTUBE_CHANNEL",
                        "TARGETING_TYPE_SESSION_POSITION",
                        "TARGETING_TYPE_CONTENT_THEME_EXCLUSION",
                        "TARGETING_TYPE_YOUTUBE_CHANNEL_PACK"
                      ],
                      "type": "string",
                      "pattern": "^[^/]+$",
                      "location": "path",
                      "required": true,
                      "enumDescriptions": [
                        "Default value when type is not specified or is unknown in this version.",
                        "Target a channel (a custom group of related websites or apps).",
                        "Target an app category (for example, education or puzzle games).",
                        "Target a specific app (for example, Angry Birds).",
                        "Target a specific url (for example, quora.com).",
                        "Target ads during a chosen time period on a specific day.",
                        "Target ads to a specific age range (for example, 18-24).",
                        "Target ads to the specified regions on a regional location list.",
                        "Target ads to the specified points of interest on a proximity location list.",
                        "Target ads to a specific gender (for example, female or male).",
                        "Target a specific video player size for video ads.",
                        "Target user rewarded content for video ads.",
                        "Target ads to a specific parental status (for example, parent or not a parent).",
                        "Target video or audio ads in a specific content instream position (for example, pre-roll, mid-roll, or post-roll).",
                        "Target ads in a specific content outstream position.",
                        "Target ads to a specific device type (for example, tablet or connected TV).",
                        "Target ads to an audience or groups of audiences. Singleton field, at most one can exist on a single Lineitem at a time.",
                        "Target ads to specific web browsers (for example, Chrome).",
                        "Target ads to a specific household income range (for example, top 10%).",
                        "Target ads in a specific on screen position.",
                        "Filter web sites through third party verification (for example, IAS or DoubleVerify).",
                        "Filter web sites by specific digital content label ratings (for example, DL-MA: suitable only for mature audiences).",
                        "Filter website content by sensitive categories (for example, adult).",
                        "Target ads to a specific environment (for example, web or app).",
                        "Target ads to a specific network carrier or internet service provider (ISP) (for example, Comcast or Orange).",
                        "Target ads to a specific operating system (for example, macOS).",
                        "Target ads to a specific device make or model (for example, Roku or Samsung).",
                        "Target ads to a specific keyword (for example, dog or retriever).",
                        "Target ads to a specific negative keyword list.",
                        "Target ads to a specific viewability (for example, 80% viewable).",
                        "Target ads to a specific content category (for example, arts & entertainment).",
                        "Target ads to a specific language (for example, English or Japanese).",
                        "Target ads to ads.txt authorized sellers. If no targeting option of this type is assigned, the resource uses the \"Authorized Direct Sellers and Resellers\" option by default.",
                        "Target ads to a specific regional location (for example, a city or state).",
                        "Purchase impressions from a group of deals and auction packages.",
                        "Purchase impressions from specific exchanges.",
                        "Purchase impressions from specific sub-exchanges.",
                        "Target ads around a specific point of interest, such as a notable building, a street address, or latitude/longitude coordinates.",
                        "Target ads around locations of a business chain within a specific geo region.",
                        "Target ads to a specific video content duration.",
                        "Target ads to a specific video content stream type.",
                        "Target ads to a specific native content position.",
                        "Target ads in an Open Measurement enabled inventory.",
                        "Target ads to a specific audio content type.",
                        "Target ads to a specific content genre.",
                        "Target ads to a specific YouTube video. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                        "Target ads to a specific YouTube channel. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                        "Target ads to a serve it in a certain position of a session. Only supported for Ad Group resources under YouTube Programmatic Reservation line items. Targeting of this type cannot be created or updated using the API.",
                        "Filter website content by content themes (for example, religion). Only supported for Advertiser resources. Targeting of this type cannot be created or updated using the API. This targeting is only inherited by child YouTube and Demand Gen line item resources.",
                        "Target ads to a specific YouTube channel pack."
                      ]
                    },
                    "partnerId": {
                      "location": "path",
                      "description": "Required. The ID of the partner.",
                      "format": "int64",
                      "required": true,
                      "pattern": "^[^/]+$",
                      "type": "string"
                    }
                  },
                  "description": "Assigns a targeting option to a partner. Returns the assigned targeting option if successful.",
                  "response": {
                    "$ref": "AssignedTargetingOption"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ],
                  "request": {
                    "$ref": "AssignedTargetingOption"
                  },
                  "path": "v3/partners/{+partnerId}/targetingTypes/{+targetingType}/assignedTargetingOptions",
                  "flatPath": "v3/partners/{partnersId}/targetingTypes/{targetingTypesId}/assignedTargetingOptions"
                },
                "delete": {
                  "description": "Deletes an assigned targeting option from a partner.",
                  "id": "displayvideo.partners.targetingTypes.assignedTargetingOptions.delete",
                  "parameters": {
                    "assignedTargetingOptionId": {
                      "type": "string",
                      "required": true,
                      "pattern": "^[^/]+$",
                      "description": "Required. The ID of the assigned targeting option to delete.",
                      "location": "path"
                    },
                    "targetingType": {
                      "enum": [
                        "TARGETING_TYPE_UNSPECIFIED",
                        "TARGETING_TYPE_CHANNEL",
                        "TARGETING_TYPE_APP_CATEGORY",
                        "TARGETING_TYPE_APP",
                        "TARGETING_TYPE_URL",
                        "TARGETING_TYPE_DAY_AND_TIME",
                        "TARGETING_TYPE_AGE_RANGE",
                        "TARGETING_TYPE_REGIONAL_LOCATION_LIST",
                        "TARGETING_TYPE_PROXIMITY_LOCATION_LIST",
                        "TARGETING_TYPE_GENDER",
                        "TARGETING_TYPE_VIDEO_PLAYER_SIZE",
                        "TARGETING_TYPE_USER_REWARDED_CONTENT",
                        "TARGETING_TYPE_PARENTAL_STATUS",
                        "TARGETING_TYPE_CONTENT_INSTREAM_POSITION",
                        "TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION",
                        "TARGETING_TYPE_DEVICE_TYPE",
                        "TARGETING_TYPE_AUDIENCE_GROUP",
                        "TARGETING_TYPE_BROWSER",
                        "TARGETING_TYPE_HOUSEHOLD_INCOME",
                        "TARGETING_TYPE_ON_SCREEN_POSITION",
                        "TARGETING_TYPE_THIRD_PARTY_VERIFIER",
                        "TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION",
                        "TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION",
                        "TARGETING_TYPE_ENVIRONMENT",
                        "TARGETING_TYPE_CARRIER_AND_ISP",
                        "TARGETING_TYPE_OPERATING_SYSTEM",
                        "TARGETING_TYPE_DEVICE_MAKE_MODEL",
                        "TARGETING_TYPE_KEYWORD",
                        "TARGETING_TYPE_NEGATIVE_KEYWORD_LIST",
                        "TARGETING_TYPE_VIEWABILITY",
                        "TARGETING_TYPE_CATEGORY",
                        "TARGETING_TYPE_LANGUAGE",
                        "TARGETING_TYPE_AUTHORIZED_SELLER_STATUS",
                        "TARGETING_TYPE_GEO_REGION",
                        "TARGETING_TYPE_INVENTORY_SOURCE_GROUP",
                        "TARGETING_TYPE_EXCHANGE",
                        "TARGETING_TYPE_SUB_EXCHANGE",
                        "TARGETING_TYPE_POI",
                        "TARGETING_TYPE_BUSINESS_CHAIN",
                        "TARGETING_TYPE_CONTENT_DURATION",
                        "TARGETING_TYPE_CONTENT_STREAM_TYPE",
                        "TARGETING_TYPE_NATIVE_CONTENT_POSITION",
                        "TARGETING_TYPE_OMID",
                        "TARGETING_TYPE_AUDIO_CONTENT_TYPE",
                        "TARGETING_TYPE_CONTENT_GENRE",
                        "TARGETING_TYPE_YOUTUBE_VIDEO",
                        "TARGETING_TYPE_YOUTUBE_CHANNEL",
                        "TARGETING_TYPE_SESSION_POSITION",
                        "TARGETING_TYPE_CONTENT_THEME_EXCLUSION",
                        "TARGETING_TYPE_YOUTUBE_CHANNEL_PACK"
                      ],
                      "location": "path",
                      "type": "string",
                      "pattern": "^[^/]+$",
                      "enumDescriptions": [
                        "Default value when type is not specified or is unknown in this version.",
                        "Target a channel (a custom group of related websites or apps).",
                        "Target an app category (for example, education or puzzle games).",
                        "Target a specific app (for example, Angry Birds).",
                        "Target a specific url (for example, quora.com).",
                        "Target ads during a chosen time period on a specific day.",
                        "Target ads to a specific age range (for example, 18-24).",
                        "Target ads to the specified regions on a regional location list.",
                        "Target ads to the specified points of interest on a proximity location list.",
                        "Target ads to a specific gender (for example, female or male).",
                        "Target a specific video player size for video ads.",
                        "Target user rewarded content for video ads.",
                        "Target ads to a specific parental status (for example, parent or not a parent).",
                        "Target video or audio ads in a specific content instream position (for example, pre-roll, mid-roll, or post-roll).",
                        "Target ads in a specific content outstream position.",
                        "Target ads to a specific device type (for example, tablet or connected TV).",
                        "Target ads to an audience or groups of audiences. Singleton field, at most one can exist on a single Lineitem at a time.",
                        "Target ads to specific web browsers (for example, Chrome).",
                        "Target ads to a specific household income range (for example, top 10%).",
                        "Target ads in a specific on screen position.",
                        "Filter web sites through third party verification (for example, IAS or DoubleVerify).",
                        "Filter web sites by specific digital content label ratings (for example, DL-MA: suitable only for mature audiences).",
                        "Filter website content by sensitive categories (for example, adult).",
                        "Target ads to a specific environment (for example, web or app).",
                        "Target ads to a specific network carrier or internet service provider (ISP) (for example, Comcast or Orange).",
                        "Target ads to a specific operating system (for example, macOS).",
                        "Target ads to a specific device make or model (for example, Roku or Samsung).",
                        "Target ads to a specific keyword (for example, dog or retriever).",
                        "Target ads to a specific negative keyword list.",
                        "Target ads to a specific viewability (for example, 80% viewable).",
                        "Target ads to a specific content category (for example, arts & entertainment).",
                        "Target ads to a specific language (for example, English or Japanese).",
                        "Target ads to ads.txt authorized sellers. If no targeting option of this type is assigned, the resource uses the \"Authorized Direct Sellers and Resellers\" option by default.",
                        "Target ads to a specific regional location (for example, a city or state).",
                        "Purchase impressions from a group of deals and auction packages.",
                        "Purchase impressions from specific exchanges.",
                        "Purchase impressions from specific sub-exchanges.",
                        "Target ads around a specific point of interest, such as a notable building, a street address, or latitude/longitude coordinates.",
                        "Target ads around locations of a business chain within a specific geo region.",
                        "Target ads to a specific video content duration.",
                        "Target ads to a specific video content stream type.",
                        "Target ads to a specific native content position.",
                        "Target ads in an Open Measurement enabled inventory.",
                        "Target ads to a specific audio content type.",
                        "Target ads to a specific content genre.",
                        "Target ads to a specific YouTube video. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                        "Target ads to a specific YouTube channel. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                        "Target ads to a serve it in a certain position of a session. Only supported for Ad Group resources under YouTube Programmatic Reservation line items. Targeting of this type cannot be created or updated using the API.",
                        "Filter website content by content themes (for example, religion). Only supported for Advertiser resources. Targeting of this type cannot be created or updated using the API. This targeting is only inherited by child YouTube and Demand Gen line item resources.",
                        "Target ads to a specific YouTube channel pack."
                      ],
                      "description": "Required. Identifies the type of this assigned targeting option. Supported targeting types: * `TARGETING_TYPE_CHANNEL`",
                      "required": true
                    },
                    "partnerId": {
                      "type": "string",
                      "pattern": "^[^/]+$",
                      "description": "Required. The ID of the partner.",
                      "location": "path",
                      "format": "int64",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ],
                  "parameterOrder": [
                    "partnerId",
                    "targetingType",
                    "assignedTargetingOptionId"
                  ],
                  "flatPath": "v3/partners/{partnersId}/targetingTypes/{targetingTypesId}/assignedTargetingOptions/{assignedTargetingOptionsId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE",
                  "path": "v3/partners/{+partnerId}/targetingTypes/{+targetingType}/assignedTargetingOptions/{+assignedTargetingOptionId}"
                }
              }
            }
          }
        },
        "channels": {
          "resources": {
            "sites": {
              "methods": {
                "delete": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE",
                  "flatPath": "v3/partners/{partnerId}/channels/{channelsId}/sites/{sitesId}",
                  "id": "displayvideo.partners.channels.sites.delete",
                  "description": "Deletes a site from a channel.",
                  "parameterOrder": [
                    "partnerId",
                    "channelId",
                    "urlOrAppId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ],
                  "parameters": {
                    "urlOrAppId": {
                      "pattern": "^[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The URL or app ID of the site to delete."
                    },
                    "advertiserId": {
                      "type": "string",
                      "format": "int64",
                      "description": "The ID of the advertiser that owns the parent channel.",
                      "location": "query"
                    },
                    "partnerId": {
                      "location": "path",
                      "description": "The ID of the partner that owns the parent channel.",
                      "format": "int64",
                      "required": true,
                      "type": "string"
                    },
                    "channelId": {
                      "location": "path",
                      "description": "Required. The ID of the parent channel to which the site belongs.",
                      "format": "int64",
                      "type": "string",
                      "pattern": "^[^/]+$",
                      "required": true
                    }
                  },
                  "path": "v3/partners/{partnerId}/channels/{+channelId}/sites/{+urlOrAppId}"
                },
                "list": {
                  "id": "displayvideo.partners.channels.sites.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ],
                  "httpMethod": "GET",
                  "path": "v3/partners/{+partnerId}/channels/{+channelId}/sites",
                  "flatPath": "v3/partners/{partnersId}/channels/{channelsId}/sites",
                  "parameterOrder": [
                    "partnerId",
                    "channelId"
                  ],
                  "description": "Lists sites in a channel.",
                  "response": {
                    "$ref": "ListSitesResponse"
                  },
                  "parameters": {
                    "orderBy": {
                      "location": "query",
                      "description": "Field by which to sort the list. Acceptable values are: * `urlOrAppId` (default) The default sorting order is ascending. To specify descending order for a field, a suffix \" desc\" should be added to the field name. Example: `urlOrAppId desc`.",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListSites` method. If not specified, the first page of results will be returned."
                    },
                    "channelId": {
                      "required": true,
                      "pattern": "^[^/]+$",
                      "format": "int64",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The ID of the parent channel to which the requested sites belong."
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Allows filtering by site fields. Supported syntax: * Filter expressions for site retrieval can only contain at most one restriction. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `HAS (:)` operator. Supported fields: * `urlOrAppId` Examples: * All sites for which the URL or app ID contains \"google\": `urlOrAppId : \"google\"` The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information."
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Requested page size. Must be between `1` and `10000`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified."
                    },
                    "advertiserId": {
                      "description": "The ID of the advertiser that owns the parent channel.",
                      "location": "query",
                      "format": "int64",
                      "type": "string"
                    },
                    "partnerId": {
                      "required": true,
                      "description": "The ID of the partner that owns the parent channel.",
                      "location": "path",
                      "pattern": "^[^/]+$",
                      "format": "int64",
                      "type": "string"
                    }
                  }
                },
                "replace": {
                  "parameters": {
                    "partnerId": {
                      "required": true,
                      "type": "string",
                      "description": "The ID of the partner that owns the parent channel.",
                      "location": "path",
                      "format": "int64"
                    },
                    "channelId": {
                      "required": true,
                      "location": "path",
                      "format": "int64",
                      "pattern": "^[^/]+$",
                      "description": "Required. The ID of the parent channel whose sites will be replaced.",
                      "type": "string"
                    }
                  },
                  "path": "v3/partners/{partnerId}/channels/{+channelId}/sites:replace",
                  "id": "displayvideo.partners.channels.sites.replace",
                  "parameterOrder": [
                    "partnerId",
                    "channelId"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "ReplaceSitesResponse"
                  },
                  "request": {
                    "$ref": "ReplaceSitesRequest"
                  },
                  "description": "Replaces all of the sites under a single channel. The operation will replace the sites under a channel with the sites provided in ReplaceSitesRequest.new_sites. **This method regularly experiences high latency.** We recommend [increasing your default timeout](/display-video/api/guides/best-practices/timeouts#client_library_timeout) to avoid errors.",
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ],
                  "flatPath": "v3/partners/{partnerId}/channels/{channelsId}/sites:replace"
                },
                "bulkEdit": {
                  "httpMethod": "POST",
                  "id": "displayvideo.partners.channels.sites.bulkEdit",
                  "path": "v3/partners/{partnerId}/channels/{+channelId}/sites:bulkEdit",
                  "parameterOrder": [
                    "partnerId",
                    "channelId"
                  ],
                  "request": {
                    "$ref": "BulkEditSitesRequest"
                  },
                  "parameters": {
                    "channelId": {
                      "description": "Required. The ID of the parent channel to which the sites belong.",
                      "required": true,
                      "type": "string",
                      "format": "int64",
                      "pattern": "^[^/]+$",
                      "location": "path"
                    },
                    "partnerId": {
                      "description": "The ID of the partner that owns the parent channel.",
                      "required": true,
                      "type": "string",
                      "format": "int64",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "BulkEditSitesResponse"
                  },
                  "flatPath": "v3/partners/{partnerId}/channels/{channelsId}/sites:bulkEdit",
                  "description": "Bulk edits sites under a single channel. The operation will delete the sites provided in BulkEditSitesRequest.deleted_sites and then create the sites provided in BulkEditSitesRequest.created_sites.",
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ]
                },
                "create": {
                  "id": "displayvideo.partners.channels.sites.create",
                  "flatPath": "v3/partners/{partnerId}/channels/{channelsId}/sites",
                  "parameterOrder": [
                    "partnerId",
                    "channelId"
                  ],
                  "response": {
                    "$ref": "Site"
                  },
                  "parameters": {
                    "partnerId": {
                      "description": "The ID of the partner that owns the parent channel.",
                      "location": "path",
                      "format": "int64",
                      "required": true,
                      "type": "string"
                    },
                    "channelId": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^[^/]+$",
                      "format": "int64",
                      "required": true,
                      "description": "Required. The ID of the parent channel in which the site will be created."
                    },
                    "advertiserId": {
                      "description": "The ID of the advertiser that owns the parent channel.",
                      "type": "string",
                      "format": "int64",
                      "location": "query"
                    }
                  },
                  "request": {
                    "$ref": "Site"
                  },
                  "path": "v3/partners/{partnerId}/channels/{+channelId}/sites",
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ],
                  "description": "Creates a site in a channel.",
                  "httpMethod": "POST"
                }
              }
            }
          },
          "methods": {
            "patch": {
              "response": {
                "$ref": "Channel"
              },
              "httpMethod": "PATCH",
              "parameterOrder": [
                "partnerId",
                "channelId"
              ],
              "flatPath": "v3/partners/{partnersId}/channels/{channelId}",
              "path": "v3/partners/{+partnerId}/channels/{channelId}",
              "id": "displayvideo.partners.channels.patch",
              "description": "Updates a channel. Returns the updated channel if successful.",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "parameters": {
                "partnerId": {
                  "required": true,
                  "type": "string",
                  "format": "int64",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "description": "The ID of the partner that owns the created channel."
                },
                "channelId": {
                  "required": true,
                  "type": "string",
                  "format": "int64",
                  "description": "Output only. The unique ID of the channel. Assigned by the system.",
                  "location": "path"
                },
                "updateMask": {
                  "description": "Required. The mask to control which fields to update.",
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask"
                },
                "advertiserId": {
                  "format": "int64",
                  "location": "query",
                  "type": "string",
                  "description": "The ID of the advertiser that owns the created channel."
                }
              },
              "request": {
                "$ref": "Channel"
              }
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "description": "Lists channels for a partner or advertiser.",
              "flatPath": "v3/partners/{partnersId}/channels",
              "response": {
                "$ref": "ListChannelsResponse"
              },
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListChannels` method. If not specified, the first page of results will be returned."
                },
                "filter": {
                  "description": "Allows filtering by channel fields. Supported syntax: * Filter expressions for channel can only contain at most one restriction. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `HAS (:)` operator. Supported fields: * `displayName` Examples: * All channels for which the display name contains \"google\": `displayName : \"google\"`. The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information.",
                  "location": "query",
                  "type": "string"
                },
                "partnerId": {
                  "required": true,
                  "description": "The ID of the partner that owns the channels.",
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "location": "path",
                  "format": "int64"
                },
                "advertiserId": {
                  "location": "query",
                  "description": "The ID of the advertiser that owns the channels.",
                  "type": "string",
                  "format": "int64"
                },
                "orderBy": {
                  "location": "query",
                  "type": "string",
                  "description": "Field by which to sort the list. Acceptable values are: * `displayName` (default) * `channelId` The default sorting order is ascending. To specify descending order for a field, a suffix \" desc\" should be added to the field name. Example: `displayName desc`."
                },
                "pageSize": {
                  "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "parameterOrder": [
                "partnerId"
              ],
              "path": "v3/partners/{+partnerId}/channels",
              "httpMethod": "GET",
              "id": "displayvideo.partners.channels.list"
            },
            "create": {
              "description": "Creates a new channel. Returns the newly created channel if successful.",
              "parameterOrder": [
                "partnerId"
              ],
              "request": {
                "$ref": "Channel"
              },
              "httpMethod": "POST",
              "flatPath": "v3/partners/{partnersId}/channels",
              "id": "displayvideo.partners.channels.create",
              "response": {
                "$ref": "Channel"
              },
              "parameters": {
                "advertiserId": {
                  "location": "query",
                  "description": "The ID of the advertiser that owns the created channel.",
                  "format": "int64",
                  "type": "string"
                },
                "partnerId": {
                  "required": true,
                  "format": "int64",
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "description": "The ID of the partner that owns the created channel."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "path": "v3/partners/{+partnerId}/channels"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "id": "displayvideo.partners.channels.get",
              "parameters": {
                "partnerId": {
                  "location": "path",
                  "description": "The ID of the partner that owns the fetched channel.",
                  "format": "int64",
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "required": true
                },
                "channelId": {
                  "location": "path",
                  "description": "Required. The ID of the channel to fetch.",
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "required": true,
                  "format": "int64"
                },
                "advertiserId": {
                  "type": "string",
                  "format": "int64",
                  "description": "The ID of the advertiser that owns the fetched channel.",
                  "location": "query"
                }
[...]
