{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "rootUrl": "https://displayvideo.googleapis.com/",
  "title": "Display & Video 360 API",
  "schemas": {
    "AdPolicyTopicConstraint": {
      "type": "object",
      "id": "AdPolicyTopicConstraint",
      "description": "Details on ad serving constraints.",
      "properties": {
        "resellerConstraint": {
          "description": "Reseller constraint.",
          "$ref": "AdPolicyTopicConstraintAdPolicyResellerConstraint"
        },
        "globalCertificateDomainMismatch": {
          "description": "Certificate is required to serve in any country and the existing certificate does not cover the ad's domain.",
          "$ref": "AdPolicyTopicConstraintAdPolicyGlobalCertificateDomainMismatchConstraint"
        },
        "countryConstraint": {
          "description": "Countries where the ad cannot serve.",
          "$ref": "AdPolicyTopicConstraintAdPolicyCountryConstraintList"
        },
        "requestCertificateFormLink": {
          "type": "string",
          "description": "Link to the form to request a certificate for the constraint."
        },
        "certificateDomainMismatchCountryList": {
          "$ref": "AdPolicyTopicConstraintAdPolicyCountryConstraintList",
          "description": "Countries where the resource's domain is not covered by the certificates associated with it."
        },
        "certificateMissingCountryList": {
          "description": "Countries where a certificate is required for serving.",
          "$ref": "AdPolicyTopicConstraintAdPolicyCountryConstraintList"
        },
        "globalCertificateMissing": {
          "description": "Certificate is required to serve in any country.",
          "$ref": "AdPolicyTopicConstraintAdPolicyGlobalCertificateMissingConstraint"
        }
      }
    },
    "AdPolicyTopicEvidenceRegionalRequirementsRegionalRequirementsEntry": {
      "id": "AdPolicyTopicEvidenceRegionalRequirementsRegionalRequirementsEntry",
      "properties": {
        "countryRestrictions": {
          "items": {
            "$ref": "AdPolicyCriterionRestriction"
          },
          "type": "array",
          "description": "The countries restricted due to the legal policy."
        },
        "legalPolicy": {
          "description": "The legal policy that is being violated.",
          "type": "string"
        }
      },
      "description": "Policy level regional legal violation details.",
      "type": "object"
    },
    "ParentalStatusTargetingOptionDetails": {
      "description": "Represents a targetable parental status. This will be populated in the parental_status_details field of a TargetingOption when targeting_type is `TARGETING_TYPE_PARENTAL_STATUS`.",
      "id": "ParentalStatusTargetingOptionDetails",
      "type": "object",
      "properties": {
        "parentalStatus": {
          "type": "string",
          "description": "Output only. The parental status of an audience.",
          "enum": [
            "PARENTAL_STATUS_UNSPECIFIED",
            "PARENTAL_STATUS_PARENT",
            "PARENTAL_STATUS_NOT_A_PARENT",
            "PARENTAL_STATUS_UNKNOWN"
          ],
          "enumDescriptions": [
            "Default value when parental status is not specified in this version. This enum is a place holder for default value and does not represent a real parental status option.",
            "The audience is a parent.",
            "The audience is not a parent.",
            "The parental status of the audience is unknown."
          ],
          "readOnly": true
        }
      }
    },
    "AgeRangeAssignedTargetingOptionDetails": {
      "id": "AgeRangeAssignedTargetingOptionDetails",
      "properties": {
        "ageRange": {
          "enum": [
            "AGE_RANGE_UNSPECIFIED",
            "AGE_RANGE_18_24",
            "AGE_RANGE_25_34",
            "AGE_RANGE_35_44",
            "AGE_RANGE_45_54",
            "AGE_RANGE_55_64",
            "AGE_RANGE_65_PLUS",
            "AGE_RANGE_UNKNOWN",
            "AGE_RANGE_18_20",
            "AGE_RANGE_21_24",
            "AGE_RANGE_25_29",
            "AGE_RANGE_30_34",
            "AGE_RANGE_35_39",
            "AGE_RANGE_40_44",
            "AGE_RANGE_45_49",
            "AGE_RANGE_50_54",
            "AGE_RANGE_55_59",
            "AGE_RANGE_60_64"
          ],
          "description": "Required. The age range of an audience. We only support targeting a continuous age range of an audience. Thus, the age range represented in this field can be 1) targeted solely, or, 2) part of a larger continuous age range. The reach of a continuous age range targeting can be expanded by also targeting an audience of an unknown age.",
          "type": "string",
          "enumDescriptions": [
            "Default value when age range is not specified in this version. This enum is a placeholder for default value and does not represent a real age range option.",
            "The age range of the audience is 18 to 24.",
            "The age range of the audience is 25 to 34.",
            "The age range of the audience is 35 to 44.",
            "The age range of the audience is 45 to 54.",
            "The age range of the audience is 55 to 64.",
            "The age range of the audience is 65 and up.",
            "The age range of the audience is unknown.",
            "The age range of the audience is 18 to 20, only supported for the AdGroup of YouTube Programmatic Reservation line item.",
            "The age range of the audience is 21 to 24, only supported for the AdGroup of YouTube Programmatic Reservation line item.",
            "The age range of the audience is 25 to 29, only supported for the AdGroup of YouTube Programmatic Reservation line item.",
            "The age range of the audience is 30 to 34, only supported for the AdGroup of YouTube Programmatic Reservation line item.",
            "The age range of the audience is 35 to 39, only supported for the AdGroup of YouTube Programmatic Reservation line item.",
            "The age range of the audience is 40 to 44, only supported for the AdGroup of YouTube Programmatic Reservation line item.",
            "The age range of the audience is 45 to 49, only supported for the AdGroup of YouTube Programmatic Reservation line item.",
            "The age range of the audience is 50 to 54, only supported for the AdGroup of YouTube Programmatic Reservation line item.",
            "The age range of the audience is 55 to 59, only supported for the AdGroup of YouTube Programmatic Reservation line item.",
            "The age range of the audience is 60 to 64, only supported for the AdGroup of YouTube Programmatic Reservation line item."
          ]
        }
      },
      "description": "Represents a targetable age range. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_AGE_RANGE`.",
      "type": "object"
    },
    "UserRewardedContentTargetingOptionDetails": {
      "id": "UserRewardedContentTargetingOptionDetails",
      "description": "Represents a targetable user rewarded content status for video ads only. This will be populated in the user_rewarded_content_details field when targeting_type is `TARGETING_TYPE_USER_REWARDED_CONTENT`.",
      "properties": {
        "userRewardedContent": {
          "readOnly": true,
          "description": "Output only. User rewarded content status for video ads.",
          "enum": [
            "USER_REWARDED_CONTENT_UNSPECIFIED",
            "USER_REWARDED_CONTENT_USER_REWARDED",
            "USER_REWARDED_CONTENT_NOT_USER_REWARDED"
          ],
          "type": "string",
          "enumDescriptions": [
            "User rewarded content is not specified or is unknown in this version.",
            "Represents ads where the user will see a reward after viewing.",
            "Represents all other ads besides user-rewarded."
          ]
        }
      },
      "type": "object"
    },
    "CombinedAudienceGroup": {
      "type": "object",
      "id": "CombinedAudienceGroup",
      "properties": {
        "settings": {
          "items": {
            "$ref": "CombinedAudienceTargetingSetting"
          },
          "type": "array",
          "description": "Required. All combined audience targeting settings in combined audience group. Repeated settings with the same id will be ignored. The number of combined audience settings should be no more than five, error will be thrown otherwise."
        }
      },
      "description": "Details of combined audience group. All combined audience targeting settings are logically ‘OR’ of each other."
    },
    "PartnerDataAccessConfig": {
      "type": "object",
      "description": "Settings that control how partner related data may be accessed.",
      "properties": {
        "sdfConfig": {
          "description": "Structured Data Files (SDF) settings for the partner. The SDF configuration for the partner.",
          "$ref": "SdfConfig"
        }
      },
      "id": "PartnerDataAccessConfig"
    },
    "CustomBiddingAlgorithmRulesRef": {
      "properties": {
        "resourceName": {
          "description": "A resource name to be used in media.download to download the rules files. Or media.upload to upload the rules files. Resource names have the format `customBiddingAlgorithms/{custom_bidding_algorithm_id}/rulesRef/{ref_id}`.",
          "type": "string"
        }
      },
      "description": "The reference to the uploaded AlgorithmRules file. Retrieve the location to upload new AlgorithmRules file to using customBiddingAlgorithms.uploadRules.",
      "id": "CustomBiddingAlgorithmRulesRef",
      "type": "object"
    },
    "InsertionOrderBudgetSegment": {
      "properties": {
        "budgetAmountMicros": {
          "format": "int64",
          "type": "string",
          "description": "Required. The budget amount the insertion order will spend for the given date_range. The amount is in micros. Must be greater than 0. For example, 500000000 represents 500 standard units of the currency."
        },
        "description": {
          "type": "string",
          "description": "Optional. The budget segment description. It can be used to enter Purchase Order information for each budget segment and have that information printed on the invoices. Must be UTF-8 encoded."
        },
        "dateRange": {
          "$ref": "DateRange",
          "description": "Required. The start and end date settings of the budget segment. They are resolved relative to the parent advertiser's time zone. * When creating a new budget segment, both `start_date` and `end_date` must be in the future. * An existing budget segment with a `start_date` in the past has a mutable `end_date` but an immutable `start_date`. * `end_date` must be the `start_date` or later, both before the year 2037."
        },
        "campaignBudgetId": {
          "format": "int64",
          "description": "Optional. The budget_id of the campaign budget that this insertion order budget segment is a part of.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "InsertionOrderBudgetSegment",
      "description": "Settings that control the budget of a single budget segment."
    },
    "CustomListTargetingSetting": {
      "properties": {
        "customListId": {
          "format": "int64",
          "description": "Required. Custom id of custom list targeting setting. This id is custom_list_id.",
          "type": "string"
        }
      },
      "id": "CustomListTargetingSetting",
      "description": "Details of custom list targeting setting.",
      "type": "object"
    },
    "UploadAdAssetRequest": {
      "description": "A request message for UploadAdAsset.",
      "properties": {
        "adAssetType": {
          "enum": [
            "AD_ASSET_TYPE_UNSPECIFIED",
            "AD_ASSET_TYPE_IMAGE",
            "AD_ASSET_TYPE_YOUTUBE_VIDEO"
          ],
          "description": "Required. The type of the ad asset. Only `AD_ASSET_TYPE_IMAGE` is supported.",
          "type": "string",
          "enumDescriptions": [
            "The ad asset type is unspecified.",
            "The ad asset is a YouTube/DemandGen image.",
            "The ad asset is a YouTube video."
          ]
        },
        "filename": {
          "type": "string",
          "description": "Required. The filename of the ad asset, including the file extension. The filename must be UTF-8 encoded with a maximum size of 240 bytes."
        },
        "syntheticContentAttestationStatus": {
          "enum": [
            "SYNTHETIC_CONTENT_ATTESTATION_STATUS_UNSPECIFIED",
            "NOT_SYNTHETIC",
            "IS_SYNTHETIC"
          ],
          "description": "Optional. Whether to add a label to the asset as created or edited using AI when served in regions with local AI labeling regulations.",
          "type": "string",
          "enumDescriptions": [
            "No attestation has been provided.",
            "Attested as not created or edited using AI.",
            "Attested as created or edited using AI."
          ]
        }
      },
      "id": "UploadAdAssetRequest",
      "type": "object"
    },
    "Advertiser": {
      "type": "object",
      "description": "A single advertiser in Display & Video 360 (DV360).",
      "properties": {
        "partnerId": {
          "type": "string",
          "format": "int64",
          "description": "Required. Immutable. The unique ID of the partner that the advertiser belongs to."
        },
        "containsEuPoliticalAds": {
          "description": "Optional. Whether this advertiser contains line items that serve European Union political ads. If this field is set to `DOES_NOT_CONTAIN_EU_POLITICAL_ADVERTISING`, then the following will happen: * Any new line items created under this advertiser will be assigned `DOES_NOT_CONTAIN_EU_POLITICAL_ADVERTISING` if not otherwise specified. * Any existing line items under this advertiser that do not have a set value be updated to `DOES_NOT_CONTAIN_EU_POLITICAL_ADVERTISING` within a day.",
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Contains EU political advertising.",
            "Does not contain EU political advertising."
          ],
          "enum": [
            "EU_POLITICAL_ADVERTISING_STATUS_UNKNOWN",
            "CONTAINS_EU_POLITICAL_ADVERTISING",
            "DOES_NOT_CONTAIN_EU_POLITICAL_ADVERTISING"
          ]
        },
        "prismaEnabled": {
          "description": "Whether integration with Mediaocean (Prisma) is enabled. By enabling this, you agree to the following: On behalf of my company, I authorize Mediaocean (Prisma) to send budget segment plans to Google, and I authorize Google to send corresponding reporting and invoices from DV360 to Mediaocean for the purposes of budget planning, billing, and reconciliation for this advertiser.",
          "type": "boolean"
        },
        "defaultLogoAssetId": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The asset ID of the default logo image for the advertiser. This is the asset ID that will be used by YouTube and Demand ads under this advertiser if a logo asset is not provided. You must use advertisers.adAssets.upload to upload this asset using the API."
        },
        "entityStatus": {
          "type": "string",
          "description": "Required. Controls whether or not insertion orders and line items of the advertiser can spend their budgets and bid on inventory. * Accepted values are `ENTITY_STATUS_ACTIVE`, `ENTITY_STATUS_PAUSED` and `ENTITY_STATUS_SCHEDULED_FOR_DELETION`. * If set to `ENTITY_STATUS_SCHEDULED_FOR_DELETION`, the advertiser will be deleted 30 days from when it was first scheduled for deletion.",
          "enumDescriptions": [
            "Default value when status is not specified or is unknown in this version.",
            "The entity is enabled to bid and spend budget.",
            "The entity is archived. Bidding and budget spending are disabled. An entity can be deleted after archived. Deleted entities cannot be retrieved.",
            "The entity is under draft. Bidding and budget spending are disabled.",
            "Bidding and budget spending are paused for the entity.",
            "The entity is scheduled for deletion."
          ],
          "enum": [
            "ENTITY_STATUS_UNSPECIFIED",
            "ENTITY_STATUS_ACTIVE",
            "ENTITY_STATUS_ARCHIVED",
            "ENTITY_STATUS_DRAFT",
            "ENTITY_STATUS_PAUSED",
            "ENTITY_STATUS_SCHEDULED_FOR_DELETION"
          ]
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the advertiser. Must be UTF-8 encoded with a maximum size of 240 bytes."
        },
        "creativeConfig": {
          "$ref": "AdvertiserCreativeConfig",
          "description": "Required. Creative related settings of the advertiser."
        },
        "billingConfig": {
          "description": "Required. Billing related settings of the advertiser.",
          "$ref": "AdvertiserBillingConfig"
        },
        "dataAccessConfig": {
          "description": "Settings that control how advertiser data may be accessed.",
          "$ref": "AdvertiserDataAccessConfig"
        },
        "adServerConfig": {
          "description": "Required. Immutable. Ad server related settings of the advertiser.",
          "$ref": "AdvertiserAdServerConfig"
        },
        "servingConfig": {
          "$ref": "AdvertiserTargetingConfig",
          "description": "Targeting settings related to ad serving of the advertiser."
        },
        "advertiserId": {
          "description": "Output only. The unique ID of the advertiser. Assigned by the system.",
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the advertiser was last updated. Assigned by the system.",
          "readOnly": true,
          "type": "string"
        },
        "integrationDetails": {
          "description": "Integration details of the advertiser. Only integrationCode is currently applicable to advertiser. Other fields of IntegrationDetails are not supported and will be ignored if provided.",
          "$ref": "IntegrationDetails"
        },
        "generalConfig": {
          "description": "Required. General settings of the advertiser.",
          "$ref": "AdvertiserGeneralConfig"
        },
        "defaultBusinessName": {
          "type": "string",
          "description": "Optional. The default business name for the advertiser. This is the value used by YouTube and Demand Gen ads under this advertiser if a business name is not provided."
        },
        "name": {
          "description": "Output only. The resource name of the advertiser.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "Advertiser"
    },
    "GenderAssignedTargetingOptionDetails": {
      "description": "Details for assigned gender targeting option. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_GENDER`.",
      "type": "object",
      "properties": {
        "gender": {
          "type": "string",
          "description": "Required. The gender of the audience.",
          "enum": [
            "GENDER_UNSPECIFIED",
            "GENDER_MALE",
            "GENDER_FEMALE",
            "GENDER_UNKNOWN"
          ],
          "enumDescriptions": [
            "Default value when gender is not specified in this version. This enum is a place holder for default value and does not represent a real gender option.",
            "The audience gender is male.",
            "The audience gender is female.",
            "The audience gender is unknown."
          ]
        }
      },
      "id": "GenderAssignedTargetingOptionDetails"
    },
    "PlannedProductReachForecast": {
      "type": "object",
      "id": "PlannedProductReachForecast",
      "description": "Performance forecast for a specific product.",
      "properties": {
        "plannableProductCode": {
          "type": "string",
          "description": "The code for the product."
        },
        "costMicros": {
          "type": "string",
          "description": "The cost in micros for this product.",
          "format": "int64"
        },
        "plannedProductForecast": {
          "description": "Performance metrics for the product.",
          "$ref": "PlannedProductForecast"
        }
      }
    },
    "DemandGenImageAd": {
      "properties": {
        "descriptions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The list of descriptions shown on the ad."
        },
        "headlines": {
          "description": "Required. The list of headlines shown on the ad.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "finalUrl": {
          "description": "Required. The URL address of the webpage that people reach after they click the ad.",
          "type": "string"
        },
        "businessName": {
          "type": "string",
          "description": "Optional. The business name shown on the ad. This setting is required unless a default value is set at the advertiser level. If left unset, the default value will be applied."
        },
        "finalUrlSuffix": {
          "type": "string",
          "description": "Optional. The suffix to append to landing page URLs."
        },
        "trackingUrl": {
          "type": "string",
          "description": "Output only. The URL address loaded in the background for tracking purposes.",
          "readOnly": true
        },
        "callToAction": {
          "description": "Required. The call-to-action button shown on the ad.",
          "type": "string"
        },
        "logoImages": {
          "description": "The list of logo images shown on the ad. This setting is required unless a default value is set at the advertiser level. If left unset, the default value will be applied.",
          "type": "array",
          "items": {
            "$ref": "ImageAsset"
          }
        },
        "squareMarketingImages": {
          "type": "array",
          "description": "The list of square marketing images shown on the ad.",
          "items": {
            "$ref": "ImageAsset"
          }
        },
        "portraitMarketingImages": {
          "type": "array",
          "description": "The list of portrait marketing images shown on the ad.",
          "items": {
            "$ref": "ImageAsset"
          }
        },
        "userSpecifiedTrackingUrl": {
          "type": "string",
          "description": "Optional. The tracking URL specified by the user manually."
        },
        "marketingImages": {
          "items": {
            "$ref": "ImageAsset"
          },
          "type": "array",
          "description": "The list of marketing images shown on the ad."
        },
        "customParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The custom parameters and accompanying values to add to the tracking URL."
        },
        "finalMobileUrl": {
          "description": "Optional. The URL address of the webpage that people reach after they click the ad on a mobile device.",
          "type": "string"
        }
      },
      "description": "Details for a Demand Gen image ad.",
      "type": "object",
      "id": "DemandGenImageAd"
    },
    "BulkListAdGroupAssignedTargetingOptionsResponse": {
      "properties": {
        "adGroupAssignedTargetingOptions": {
          "description": "The list of wrapper objects, each providing an assigned targeting option and the ad group it is assigned to. This list will be absent if empty.",
          "items": {
            "$ref": "AdGroupAssignedTargetingOption"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying the next page of results. This value should be specified as the pageToken in a subsequent call to `BulkListAdGroupAssignedTargetingOptions` to fetch the next page of results. This token will be absent if there are no more AdGroupAssignedTargetingOption resources to return.",
          "type": "string"
        }
      },
      "id": "BulkListAdGroupAssignedTargetingOptionsResponse",
      "type": "object"
    },
    "TargetingOption": {
      "properties": {
        "sensitiveCategoryDetails": {
          "$ref": "SensitiveCategoryTargetingOptionDetails",
          "description": "Sensitive Category details."
        },
        "geoRegionDetails": {
          "$ref": "GeoRegionTargetingOptionDetails",
          "description": "Geographic region resource details."
        },
        "businessChainDetails": {
          "description": "Business chain resource details.",
          "$ref": "BusinessChainTargetingOptionDetails"
        },
        "userRewardedContentDetails": {
          "$ref": "UserRewardedContentTargetingOptionDetails",
          "description": "User rewarded content details."
        },
        "contentStreamTypeDetails": {
          "$ref": "ContentStreamTypeTargetingOptionDetails",
          "description": "Content stream type resource details."
        },
        "targetingType": {
          "description": "Output only. The type of this targeting option.",
          "enumDescriptions": [
            "Default value when type is not specified or is unknown in this version.",
            "Target a channel (a custom group of related websites or apps).",
            "Target an app category (for example, education or puzzle games).",
            "Target a specific app (for example, Angry Birds).",
            "Target a specific url (for example, quora.com).",
            "Target ads during a chosen time period on a specific day.",
            "Target ads to a specific age range (for example, 18-24).",
            "Target ads to the specified regions on a regional location list.",
            "Target ads to the specified points of interest on a proximity location list.",
            "Target ads to a specific gender (for example, female or male).",
            "Target a specific video player size for video ads.",
            "Target user rewarded content for video ads.",
            "Target ads to a specific parental status (for example, parent or not a parent).",
            "Target video or audio ads in a specific content instream position (for example, pre-roll, mid-roll, or post-roll).",
            "Target ads in a specific content outstream position.",
            "Target ads to a specific device type (for example, tablet or connected TV).",
            "Target ads to an audience or groups of audiences. Singleton field, at most one can exist on a single Lineitem at a time.",
            "Target ads to specific web browsers (for example, Chrome).",
            "Target ads to a specific household income range (for example, top 10%).",
            "Target ads in a specific on screen position.",
            "Filter web sites through third party verification (for example, IAS or DoubleVerify).",
            "Filter web sites by specific digital content label ratings (for example, DL-MA: suitable only for mature audiences).",
            "Filter website content by sensitive categories (for example, adult).",
            "Target ads to a specific environment (for example, web or app).",
            "Target ads to a specific network carrier or internet service provider (ISP) (for example, Comcast or Orange).",
            "Target ads to a specific operating system (for example, macOS).",
            "Target ads to a specific device make or model (for example, Roku or Samsung).",
            "Target ads to a specific keyword (for example, dog or retriever).",
            "Target ads to a specific negative keyword list.",
            "Target ads to a specific viewability (for example, 80% viewable).",
            "Target ads to a specific content category (for example, arts & entertainment).",
            "Purchase impressions from specific deals and auction packages.",
            "Target ads to a specific language (for example, English or Japanese).",
            "Target ads to ads.txt authorized sellers. If no targeting option of this type is assigned, the resource uses the \"Authorized Direct Sellers and Resellers\" option by default.",
            "Target ads to a specific regional location (for example, a city or state).",
            "Purchase impressions from a group of deals and auction packages.",
            "Purchase impressions from specific exchanges.",
            "Purchase impressions from specific sub-exchanges.",
            "Target ads around a specific point of interest, such as a notable building, a street address, or latitude/longitude coordinates.",
            "Target ads around locations of a business chain within a specific geo region.",
            "Target ads to a specific video content duration.",
            "Target ads to a specific video content stream type.",
            "Target ads to a specific native content position.",
            "Target ads in an Open Measurement enabled inventory.",
            "Target ads to a specific audio content type.",
            "Target ads to a specific content genre.",
            "Target ads to a specific YouTube video. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
            "Target ads to a specific YouTube channel. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
            "Target ads to a serve it in a certain position of a session. Only supported for Ad Group resources under YouTube Programmatic Reservation line items. Targeting of this type cannot be created or updated using the API.",
            "Filter website content by content themes (for example, religion). Only supported for Advertiser resources. Targeting of this type cannot be created or updated using the API. This targeting is only inherited by child YouTube and Demand Gen line item resources.",
            "Target ads to a specific YouTube channel pack."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "TARGETING_TYPE_UNSPECIFIED",
            "TARGETING_TYPE_CHANNEL",
            "TARGETING_TYPE_APP_CATEGORY",
            "TARGETING_TYPE_APP",
            "TARGETING_TYPE_URL",
            "TARGETING_TYPE_DAY_AND_TIME",
            "TARGETING_TYPE_AGE_RANGE",
            "TARGETING_TYPE_REGIONAL_LOCATION_LIST",
            "TARGETING_TYPE_PROXIMITY_LOCATION_LIST",
            "TARGETING_TYPE_GENDER",
            "TARGETING_TYPE_VIDEO_PLAYER_SIZE",
            "TARGETING_TYPE_USER_REWARDED_CONTENT",
            "TARGETING_TYPE_PARENTAL_STATUS",
            "TARGETING_TYPE_CONTENT_INSTREAM_POSITION",
            "TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION",
            "TARGETING_TYPE_DEVICE_TYPE",
            "TARGETING_TYPE_AUDIENCE_GROUP",
            "TARGETING_TYPE_BROWSER",
            "TARGETING_TYPE_HOUSEHOLD_INCOME",
            "TARGETING_TYPE_ON_SCREEN_POSITION",
            "TARGETING_TYPE_THIRD_PARTY_VERIFIER",
            "TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION",
            "TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION",
            "TARGETING_TYPE_ENVIRONMENT",
            "TARGETING_TYPE_CARRIER_AND_ISP",
            "TARGETING_TYPE_OPERATING_SYSTEM",
            "TARGETING_TYPE_DEVICE_MAKE_MODEL",
            "TARGETING_TYPE_KEYWORD",
            "TARGETING_TYPE_NEGATIVE_KEYWORD_LIST",
            "TARGETING_TYPE_VIEWABILITY",
            "TARGETING_TYPE_CATEGORY",
            "TARGETING_TYPE_INVENTORY_SOURCE",
            "TARGETING_TYPE_LANGUAGE",
            "TARGETING_TYPE_AUTHORIZED_SELLER_STATUS",
            "TARGETING_TYPE_GEO_REGION",
            "TARGETING_TYPE_INVENTORY_SOURCE_GROUP",
            "TARGETING_TYPE_EXCHANGE",
            "TARGETING_TYPE_SUB_EXCHANGE",
            "TARGETING_TYPE_POI",
            "TARGETING_TYPE_BUSINESS_CHAIN",
            "TARGETING_TYPE_CONTENT_DURATION",
            "TARGETING_TYPE_CONTENT_STREAM_TYPE",
            "TARGETING_TYPE_NATIVE_CONTENT_POSITION",
            "TARGETING_TYPE_OMID",
            "TARGETING_TYPE_AUDIO_CONTENT_TYPE",
            "TARGETING_TYPE_CONTENT_GENRE",
            "TARGETING_TYPE_YOUTUBE_VIDEO",
            "TARGETING_TYPE_YOUTUBE_CHANNEL",
            "TARGETING_TYPE_SESSION_POSITION",
            "TARGETING_TYPE_CONTENT_THEME_EXCLUSION",
            "TARGETING_TYPE_YOUTUBE_CHANNEL_PACK"
          ]
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name for this targeting option.",
          "type": "string"
        },
        "languageDetails": {
          "$ref": "LanguageTargetingOptionDetails",
          "description": "Language resource details."
        },
        "deviceTypeDetails": {
          "description": "Device type details.",
          "$ref": "DeviceTypeTargetingOptionDetails"
        },
        "contentGenreDetails": {
          "$ref": "ContentGenreTargetingOptionDetails",
          "description": "Content genre resource details."
        },
        "contentInstreamPositionDetails": {
          "$ref": "ContentInstreamPositionTargetingOptionDetails",
          "description": "Content instream position details."
        },
        "parentalStatusDetails": {
          "description": "Parental status details.",
          "$ref": "ParentalStatusTargetingOptionDetails"
        },
        "onScreenPositionDetails": {
          "description": "On screen position details.",
          "$ref": "OnScreenPositionTargetingOptionDetails"
        },
        "operatingSystemDetails": {
          "description": "Operating system resources details.",
          "$ref": "OperatingSystemTargetingOptionDetails"
        },
        "viewabilityDetails": {
          "description": "Viewability resource details.",
          "$ref": "ViewabilityTargetingOptionDetails"
        },
        "carrierAndIspDetails": {
          "description": "Carrier and ISP details.",
          "$ref": "CarrierAndIspTargetingOptionDetails"
        },
        "genderDetails": {
          "description": "Gender details.",
          "$ref": "GenderTargetingOptionDetails"
        },
        "audioContentTypeDetails": {
          "description": "Audio content type details.",
          "$ref": "AudioContentTypeTargetingOptionDetails"
        },
        "contentDurationDetails": {
          "$ref": "ContentDurationTargetingOptionDetails",
          "description": "Content duration resource details."
        },
        "targetingOptionId": {
          "type": "string",
          "description": "Output only. A unique identifier for this targeting option. The tuple {`targeting_type`, `targeting_option_id`} will be unique.",
          "readOnly": true
        },
        "contentOutstreamPositionDetails": {
          "description": "Content outstream position details.",
          "$ref": "ContentOutstreamPositionTargetingOptionDetails"
        },
        "categoryDetails": {
          "$ref": "CategoryTargetingOptionDetails",
          "description": "Category resource details."
        },
        "nativeContentPositionDetails": {
          "description": "Native content position details.",
          "$ref": "NativeContentPositionTargetingOptionDetails"
        },
        "subExchangeDetails": {
          "$ref": "SubExchangeTargetingOptionDetails",
          "description": "Sub-exchange details."
        },
        "digitalContentLabelDetails": {
          "description": "Digital content label details.",
          "$ref": "DigitalContentLabelTargetingOptionDetails"
        },
        "poiDetails": {
          "description": "POI resource details.",
          "$ref": "PoiTargetingOptionDetails"
        },
        "appCategoryDetails": {
          "$ref": "AppCategoryTargetingOptionDetails",
          "description": "App category details."
        },
        "householdIncomeDetails": {
          "$ref": "HouseholdIncomeTargetingOptionDetails",
          "description": "Household income details."
        },
        "environmentDetails": {
          "description": "Environment details.",
          "$ref": "EnvironmentTargetingOptionDetails"
        },
        "authorizedSellerStatusDetails": {
          "$ref": "AuthorizedSellerStatusTargetingOptionDetails",
          "description": "Authorized seller status resource details."
        },
        "ageRangeDetails": {
          "description": "Age range details.",
          "$ref": "AgeRangeTargetingOptionDetails"
        },
        "contentThemeDetails": {
          "description": "Content theme details.",
          "$ref": "ContentThemeTargetingOptionDetails"
        },
        "videoPlayerSizeDetails": {
          "description": "Video player size details.",
          "$ref": "VideoPlayerSizeTargetingOptionDetails"
        },
        "exchangeDetails": {
          "description": "Exchange details.",
          "$ref": "ExchangeTargetingOptionDetails"
        },
        "browserDetails": {
          "description": "Browser details.",
          "$ref": "BrowserTargetingOptionDetails"
        },
        "deviceMakeModelDetails": {
          "$ref": "DeviceMakeModelTargetingOptionDetails",
          "description": "Device make and model resource details."
        },
        "omidDetails": {
          "description": "Open Measurement enabled inventory details.",
          "$ref": "OmidTargetingOptionDetails"
        }
      },
      "type": "object",
      "description": "Represents a single targeting option, which is a targetable concept in DV360.",
      "id": "TargetingOption"
    },
    "YoutubeAssetAssociationLocationAssetFilterLocationMatchingFunction": {
      "type": "object",
      "description": "The matching function for a location asset filter.",
      "properties": {
        "labels": {
          "type": "array",
          "description": "Optional. The labels to match with. Labels are logically OR'ed together. This field is optional and can only be set if location_matching_type is `FILTER`.",
          "items": {
            "type": "string"
          }
        },
        "locationAssetIds": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array",
          "description": "Optional. The selected location asset IDs. This field is required if location_matching_type is `SELECTED_ASSETS`."
        },
        "business": {
          "description": "Optional. The business name to match with. This field is optional and can only be set if location_matching_type is `FILTER`.",
          "type": "string"
        }
      },
      "id": "YoutubeAssetAssociationLocationAssetFilterLocationMatchingFunction"
    },
    "PoiAssignedTargetingOptionDetails": {
      "id": "PoiAssignedTargetingOptionDetails",
      "type": "object",
      "description": "Details for assigned POI targeting option. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_POI`.",
      "properties": {
        "targetingOptionId": {
          "description": "Required. The targeting_option_id of a TargetingOption of type `TARGETING_TYPE_POI`. Accepted POI targeting option IDs can be retrieved using `targetingTypes.targetingOptions.search`. If targeting a specific latitude/longitude coordinate removed from an address or POI name, you can generate the necessary targeting option ID by rounding the desired coordinate values to the 6th decimal place, removing the decimals, and concatenating the string values separated by a semicolon. For example, you can target the latitude/longitude pair of 40.7414691, -74.003387 using the targeting option ID \"40741469;-74003387\". **Upon** **creation, this field value will be updated to append a semicolon and** **alphanumerical hash value if only latitude/longitude coordinates are** **provided.**",
          "type": "string"
        },
        "proximityRadiusAmount": {
          "description": "Required. The radius of the area around the POI that will be targeted. The units of the radius are specified by proximity_radius_unit. Must be 1 to 800 if unit is `DISTANCE_UNIT_KILOMETERS` and 1 to 500 if unit is `DISTANCE_UNIT_MILES`.",
          "format": "double",
          "type": "number"
        },
        "proximityRadiusUnit": {
          "enum": [
            "DISTANCE_UNIT_UNSPECIFIED",
            "DISTANCE_UNIT_MILES",
            "DISTANCE_UNIT_KILOMETERS"
          ],
          "description": "Required. The unit of distance by which the targeting radius is measured.",
          "enumDescriptions": [
            "Type value is not specified or is unknown in this version.",
            "Miles.",
            "Kilometers."
          ],
          "type": "string"
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The display name of a POI, e.g. \"Times Square\", \"Space Needle\", followed by its full address if available."
        },
        "latitude": {
          "type": "number",
          "format": "double",
          "description": "Output only. Latitude of the POI rounding to 6th decimal place.",
          "readOnly": true
        },
        "longitude": {
          "readOnly": true,
          "type": "number",
          "description": "Output only. Longitude of the POI rounding to 6th decimal place.",
          "format": "double"
        }
      }
    },
    "LineItemBudget": {
      "properties": {
        "budgetUnit": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Type value is not specified or is unknown in this version.",
            "Budgeting in currency amounts.",
            "Budgeting in impression amounts."
          ],
          "enum": [
            "BUDGET_UNIT_UNSPECIFIED",
            "BUDGET_UNIT_CURRENCY",
            "BUDGET_UNIT_IMPRESSIONS"
          ],
          "description": "Output only. The budget unit specifies whether the budget is currency based or impression based. This value is inherited from the parent insertion order."
        },
        "maxAmount": {
          "description": "The maximum budget amount the line item will spend. Must be greater than 0. When budget_allocation_type is: * `LINE_ITEM_BUDGET_ALLOCATION_TYPE_AUTOMATIC`, this field is immutable and is set by the system. * `LINE_ITEM_BUDGET_ALLOCATION_TYPE_FIXED`, if budget_unit is: - `BUDGET_UNIT_CURRENCY`, this field represents maximum budget amount to spend, in micros of the advertiser's currency. For example, 1500000 represents 1.5 standard units of the currency. - `BUDGET_UNIT_IMPRESSIONS`, this field represents the maximum number of impressions to serve. * `LINE_ITEM_BUDGET_ALLOCATION_TYPE_UNLIMITED`, this field is not applicable and will be ignored by the system.",
          "format": "int64",
          "type": "string"
        },
        "budgetAllocationType": {
          "type": "string",
          "description": "Required. The type of the budget allocation. `LINE_ITEM_BUDGET_ALLOCATION_TYPE_AUTOMATIC` is only applicable when automatic budget allocation is enabled for the parent insertion order. This field must be set to `LINE_ITEM_BUDGET_ALLOCATION_TYPE_FIXED` for Demand Gen line items.",
          "enum": [
            "LINE_ITEM_BUDGET_ALLOCATION_TYPE_UNSPECIFIED",
            "LINE_ITEM_BUDGET_ALLOCATION_TYPE_AUTOMATIC",
            "LINE_ITEM_BUDGET_ALLOCATION_TYPE_FIXED",
            "LINE_ITEM_BUDGET_ALLOCATION_TYPE_UNLIMITED"
          ],
          "enumDescriptions": [
            "Type value is not specified or is unknown in this version.",
            "Automatic budget allocation is enabled for the line item.",
            "A fixed max budget amount is allocated for the line item.",
            "No budget limit is applied to the line item."
          ]
        }
      },
      "type": "object",
      "id": "LineItemBudget",
      "description": "Settings that control how budget is allocated."
    },
    "AdvertiserDataAccessConfig": {
      "type": "object",
      "description": "Settings that control how advertiser related data may be accessed.",
      "properties": {
        "sdfConfig": {
          "description": "Structured Data Files (SDF) settings for the advertiser. If not specified, the SDF settings of the parent partner are used.",
          "$ref": "AdvertiserSdfConfig"
        }
      },
      "id": "AdvertiserDataAccessConfig"
    },
    "LookupInvoiceCurrencyResponse": {
      "properties": {
        "currencyCode": {
          "description": "Currency used by the advertiser in ISO 4217 format.",
          "type": "string"
        }
      },
      "id": "LookupInvoiceCurrencyResponse",
      "type": "object"
    },
    "YoutubeChannelPackAssignedTargetingOptionDetails": {
      "type": "object",
      "properties": {
        "channelPackId": {
          "format": "int64",
          "description": "Required. The ID of the YouTube channel pack.",
          "type": "string"
        },
        "negative": {
          "type": "boolean",
          "description": "Optional. Indicates if this option is being negatively targeted."
        }
      },
      "description": "Details for YouTube channel pack assigned targeting option. This will be populated in the youtube_channel_pack_details field when targeting_type is `TARGETING_TYPE_YOUTUBE_CHANNEL_PACK`.",
      "id": "YoutubeChannelPackAssignedTargetingOptionDetails"
    },
    "ListFloodlightActivitiesResponse": {
      "properties": {
        "floodlightActivities": {
          "description": "The list of Floodlight activities. This list will be absent if empty.",
          "type": "array",
          "items": {
            "$ref": "FloodlightActivity"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListFloodlightActivities` method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "id": "ListFloodlightActivitiesResponse",
      "type": "object"
    },
    "FloodlightActivity": {
      "type": "object",
      "properties": {
        "floodlightActivityId": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The unique ID of the Floodlight activity. Assigned by the system.",
          "readOnly": true
        },
        "advertiserIds": {
          "description": "Output only. IDs of the advertisers that have access to the parent Floodlight group. Only advertisers under the provided partner ID will be listed in this field.",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array",
          "readOnly": true
        },
        "remarketingConfigs": {
          "description": "Output only. A list of configuration objects designating whether remarketing for this Floodlight Activity is enabled and available for a specifc advertiser. If enabled, this Floodlight Activity generates a remarketing user list that is able to be used in targeting under the advertiser.",
          "readOnly": true,
          "items": {
            "$ref": "RemarketingConfig"
          },
          "type": "array"
        },
        "floodlightGroupId": {
          "type": "string",
          "format": "int64",
          "description": "Required. Immutable. The ID of the parent Floodlight group."
        },
        "name": {
          "description": "Output only. The resource name of the Floodlight activity.",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the Floodlight activity."
        },
        "servingStatus": {
          "enum": [
            "FLOODLIGHT_ACTIVITY_SERVING_STATUS_UNSPECIFIED",
            "FLOODLIGHT_ACTIVITY_SERVING_STATUS_ENABLED",
            "FLOODLIGHT_ACTIVITY_SERVING_STATUS_DISABLED"
          ],
          "description": "Optional. Whether the Floodlight activity is served.",
          "enumDescriptions": [
            "Type value is not specified or is unknown in this version.",
            "Enabled.",
            "Disabled."
          ],
          "type": "string"
        },
        "sslRequired": {
          "readOnly": true,
          "description": "Output only. Whether tags are required to be compliant.",
          "type": "boolean"
        }
      },
      "id": "FloodlightActivity",
      "description": "A single Floodlight activity."
    },
    "OperatingSystemTargetingOptionDetails": {
      "id": "OperatingSystemTargetingOptionDetails",
      "description": "Represents a targetable operating system. This will be populated in the operating_system_details field of a TargetingOption when targeting_type is `TARGETING_TYPE_OPERATING_SYSTEM`.",
      "properties": {
        "displayName": {
          "description": "Output only. The display name of the operating system.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "UploadAdAssetResponse": {
      "properties": {
        "adAsset": {
          "description": "The created ad asset.",
          "$ref": "AdAsset"
        }
      },
      "type": "object",
      "id": "UploadAdAssetResponse",
      "description": "A response message for UploadAdAsset."
    },
    "TrackingFloodlightActivityConfig": {
      "id": "TrackingFloodlightActivityConfig",
      "description": "Settings that control the behavior of a single Floodlight activity config.",
      "properties": {
        "postClickLookbackWindowDays": {
          "description": "Required. The number of days after an ad has been clicked in which a conversion may be counted. Must be between 0 and 90 inclusive.",
          "type": "integer",
          "format": "int32"
        },
        "postViewLookbackWindowDays": {
          "format": "int32",
          "description": "Required. The number of days after an ad has been viewed in which a conversion may be counted. Must be between 0 and 90 inclusive.",
          "type": "integer"
        },
        "floodlightActivityId": {
          "description": "Required. The ID of the Floodlight activity.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ExchangeReviewStatus": {
      "type": "object",
      "properties": {
        "status": {
          "enum": [
            "REVIEW_STATUS_UNSPECIFIED",
            "REVIEW_STATUS_APPROVED",
            "REVIEW_STATUS_REJECTED",
            "REVIEW_STATUS_PENDING"
          ],
          "description": "Status of the exchange review.",
          "enumDescriptions": [
            "Type value is not specified or is unknown in this version.",
            "The creative is approved.",
            "The creative is rejected.",
            "The creative is pending review."
          ],
          "type": "string"
        },
        "exchange": {
          "enumDescriptions": [
            "Exchange is not specified or is unknown in this version.",
            "Google Ad Manager.",
            "AppNexus.",
            "BrightRoll Exchange for Video from Yahoo!.",
            "Adform.",
            "Admeta.",
            "Admixer.",
            "AdsMogo.",
            "AdsWizz.",
            "BidSwitch.",
            "BrightRoll Exchange for Display from Yahoo!.",
            "Cadreon.",
            "Dailymotion.",
            "Five.",
            "Fluct.",
            "FreeWheel SSP.",
            "Geniee.",
            "GumGum.",
            "i-mobile.",
            "iBILLBOARD.",
            "Improve Digital.",
            "Index Exchange.",
            "Kargo.",
            "MicroAd.",
            "MoPub.",
            "Nend.",
            "ONE by AOL: Display Market Place.",
            "ONE by AOL: Mobile.",
            "ONE by AOL: Video.",
            "Ooyala.",
            "OpenX.",
            "Permodo.",
            "Platform One.",
            "PlatformId.",
            "PubMatic.",
            "PulsePoint.",
            "RevenueMax.",
            "Rubicon.",
            "SmartClip.",
            "SmartRTB+.",
            "SmartstreamTv.",
            "Sovrn.",
            "SpotXchange.",
            "Ströer SSP.",
            "TeadsTv.",
            "Telaria.",
            "TVN.",
            "United.",
            "Yieldlab.",
            "Yieldmo.",
            "UnrulyX.",
            "Open8.",
            "Triton.",
            "TripleLift.",
            "Taboola.",
            "InMobi.",
            "Smaato.",
            "Aja.",
            "Supership.",
            "Nexstar Digital.",
            "Waze.",
            "SoundCast.",
            "Sharethrough.",
            "Fyber.",
            "Red For Publishers.",
            "Media.net.",
            "Tapjoy.",
            "Vistar.",
            "DAX.",
            "JCD.",
            "Place Exchange.",
            "AppLovin.",
            "Connatix.",
            "Reset Digital.",
            "Hivestack.",
            "Drax.",
            "AppLovin MAX.",
            "DT Fairbid.",
            "Unity LevelPlay.",
            "Chartboost Mediation.",
            "AdMost.",
            "TopOn.",
            "Netflix.",
            "Core.",
            "Commerce Grid.",
            "Spotify.",
            "Tubi.",
            "Snap.",
            "Cadent.",
            "Exte."
          ],
          "enum": [
            "EXCHANGE_UNSPECIFIED",
            "EXCHANGE_GOOGLE_AD_MANAGER",
            "EXCHANGE_APPNEXUS",
            "EXCHANGE_BRIGHTROLL",
            "EXCHANGE_ADFORM",
            "EXCHANGE_ADMETA",
            "EXCHANGE_ADMIXER",
            "EXCHANGE_ADSMOGO",
            "EXCHANGE_ADSWIZZ",
            "EXCHANGE_BIDSWITCH",
            "EXCHANGE_BRIGHTROLL_DISPLAY",
            "EXCHANGE_CADREON",
            "EXCHANGE_DAILYMOTION",
            "EXCHANGE_FIVE",
            "EXCHANGE_FLUCT",
            "EXCHANGE_FREEWHEEL",
            "EXCHANGE_GENIEE",
            "EXCHANGE_GUMGUM",
            "EXCHANGE_IMOBILE",
            "EXCHANGE_IBILLBOARD",
            "EXCHANGE_IMPROVE_DIGITAL",
            "EXCHANGE_INDEX",
            "EXCHANGE_KARGO",
            "EXCHANGE_MICROAD",
            "EXCHANGE_MOPUB",
            "EXCHANGE_NEND",
            "EXCHANGE_ONE_BY_AOL_DISPLAY",
            "EXCHANGE_ONE_BY_AOL_MOBILE",
            "EXCHANGE_ONE_BY_AOL_VIDEO",
            "EXCHANGE_OOYALA",
            "EXCHANGE_OPENX",
            "EXCHANGE_PERMODO",
            "EXCHANGE_PLATFORMONE",
            "EXCHANGE_PLATFORMID",
            "EXCHANGE_PUBMATIC",
            "EXCHANGE_PULSEPOINT",
            "EXCHANGE_REVENUEMAX",
            "EXCHANGE_RUBICON",
            "EXCHANGE_SMARTCLIP",
            "EXCHANGE_SMARTRTB",
            "EXCHANGE_SMARTSTREAMTV",
            "EXCHANGE_SOVRN",
            "EXCHANGE_SPOTXCHANGE",
            "EXCHANGE_STROER",
            "EXCHANGE_TEADSTV",
            "EXCHANGE_TELARIA",
            "EXCHANGE_TVN",
            "EXCHANGE_UNITED",
            "EXCHANGE_YIELDLAB",
            "EXCHANGE_YIELDMO",
            "EXCHANGE_UNRULYX",
            "EXCHANGE_OPEN8",
            "EXCHANGE_TRITON",
            "EXCHANGE_TRIPLELIFT",
            "EXCHANGE_TABOOLA",
            "EXCHANGE_INMOBI",
            "EXCHANGE_SMAATO",
            "EXCHANGE_AJA",
            "EXCHANGE_SUPERSHIP",
            "EXCHANGE_NEXSTAR_DIGITAL",
            "EXCHANGE_WAZE",
            "EXCHANGE_SOUNDCAST",
            "EXCHANGE_SHARETHROUGH",
            "EXCHANGE_FYBER",
            "EXCHANGE_RED_FOR_PUBLISHERS",
            "EXCHANGE_MEDIANET",
            "EXCHANGE_TAPJOY",
            "EXCHANGE_VISTAR",
            "EXCHANGE_DAX",
            "EXCHANGE_JCD",
            "EXCHANGE_PLACE_EXCHANGE",
            "EXCHANGE_APPLOVIN",
            "EXCHANGE_CONNATIX",
            "EXCHANGE_RESET_DIGITAL",
            "EXCHANGE_HIVESTACK",
            "EXCHANGE_DRAX",
            "EXCHANGE_APPLOVIN_GBID",
            "EXCHANGE_FYBER_GBID",
            "EXCHANGE_UNITY_GBID",
            "EXCHANGE_CHARTBOOST_GBID",
            "EXCHANGE_ADMOST_GBID",
            "EXCHANGE_TOPON_GBID",
            "EXCHANGE_NETFLIX",
            "EXCHANGE_CORE",
            "EXCHANGE_COMMERCE_GRID",
            "EXCHANGE_SPOTIFY",
            "EXCHANGE_TUBI",
            "EXCHANGE_SNAP",
            "EXCHANGE_CADENT",
            "EXCHANGE_EXTE"
          ],
          "type": "string",
          "description": "The exchange reviewing the creative."
        }
      },
      "id": "ExchangeReviewStatus",
      "description": "Exchange review status for the creative."
    },
    "Money": {
      "id": "Money",
      "type": "object",
      "properties": {
        "units": {
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "format": "int64",
          "type": "string"
        },
        "nanos": {
          "type": "integer",
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "format": "int32"
        },
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        }
      },
      "description": "Represents an amount of money with its currency type."
    },
    "EditGuaranteedOrderReadAccessorsResponse": {
      "type": "object",
      "id": "EditGuaranteedOrderReadAccessorsResponse",
      "properties": {
        "readAccessInherited": {
          "type": "boolean",
          "description": "Whether all advertisers of read_write_partner_id have read access to the guaranteed order."
        },
        "readAdvertiserIds": {
          "description": "The IDs of advertisers with read access to the guaranteed order.",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        }
      }
    },
    "AdPolicyTopicEvidence": {
      "id": "AdPolicyTopicEvidence",
      "type": "object",
      "description": "Evidence information used in the policy decision.",
      "properties": {
        "destinationMismatch": {
          "$ref": "AdPolicyTopicEvidenceDestinationMismatch",
          "description": "A mismatch between the ad destination URLs."
        },
        "languageCode": {
          "type": "string",
          "description": "The language the ad was detected to be written in. This field uses IETF language tags, such as \"en-US\"."
        },
        "websiteList": {
          "$ref": "AdPolicyTopicEvidenceWebsiteList",
          "description": "List of websites linked with the ad."
        },
        "destinationNotWorking": {
          "description": "Information on HTTP or DNS errors related to the ad destination.",
          "$ref": "AdPolicyTopicEvidenceDestinationNotWorking"
        },
        "textList": {
          "description": "List of evidence found in the text of the ad.",
          "$ref": "AdPolicyTopicEvidenceTextList"
        },
        "counterfeit": {
          "description": "Counterfeit enforcement that caused a policy violation.",
          "$ref": "AdPolicyTopicEvidenceCounterfeit"
        },
        "destinationTextList": {
          "$ref": "AdPolicyTopicEvidenceDestinationTextList",
          "description": "The text in the destination of the ad that is causing a policy violation."
        },
        "legalRemoval": {
          "$ref": "AdPolicyTopicEvidenceLegalRemoval",
          "description": "Legal related regulation enforcement that caused a policy violation."
        },
        "regionalRequirements": {
          "description": "T&S proactive enforcement that caused a policy violation.",
          "$ref": "AdPolicyTopicEvidenceRegionalRequirements"
        },
        "trademark": {
          "description": "Trademark terms that caused a policy violation.",
          "$ref": "AdPolicyTopicEvidenceTrademark"
        },
        "httpCode": {
          "format": "int32",
          "type": "integer",
          "description": "HTTP code returned when the final URL was crawled."
        }
      }
    },
    "CarouselCard": {
      "description": "Details for a Demand Gen carousel card.",
      "id": "CarouselCard",
      "properties": {
        "marketingImage": {
          "description": "Optional. The marketing image shown on the card.",
          "$ref": "ImageAsset"
        },
        "headline": {
          "type": "string",
          "description": "Required. The headline of the card."
        },
        "finalUrl": {
          "type": "string",
          "description": "Required. The URL address of the webpage that people reach after they click the card."
        },
        "squareMarketingImage": {
          "description": "Optional. The square marketing image shown on the card.",
          "$ref": "ImageAsset"
        },
        "finalMobileUrl": {
          "description": "Optional. The URL address of the webpage that people reach after they click the card on a mobile device.",
          "type": "string"
        },
        "callToAction": {
          "description": "Required. The text on the call-to-action button shown on the card. Must use 10 characters or less.",
          "type": "string"
        },
        "portraitMarketingImage": {
          "description": "Optional. The portrait marketing image shown on the card.",
          "$ref": "ImageAsset"
        }
      },
      "type": "object"
    },
    "AdPolicyTopicEvidenceDestinationTextList": {
      "description": "A list of destination text that violated the policy.",
      "properties": {
        "destinationTexts": {
          "description": "Destination text that caused the policy finding.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "AdPolicyTopicEvidenceDestinationTextList"
    },
    "ListCombinedAudiencesResponse": {
      "id": "ListCombinedAudiencesResponse",
      "properties": {
        "combinedAudiences": {
          "description": "The list of combined audiences. This list will be absent if empty.",
          "type": "array",
          "items": {
            "$ref": "CombinedAudience"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListCombinedAudiences` method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CmTrackingAd": {
      "id": "CmTrackingAd",
      "description": "A Campaign Manager 360 tracking ad.",
      "type": "object",
      "properties": {
        "cmAdId": {
          "format": "int64",
          "type": "string",
          "description": "Optional. The ad ID of the campaign manager 360 tracking Ad."
        },
        "cmPlacementId": {
          "type": "string",
          "description": "Optional. The placement ID of the campaign manager 360 tracking Ad.",
          "format": "int64"
        },
        "cmCreativeId": {
          "format": "int64",
          "description": "Optional. The creative ID of the campaign manager 360 tracking Ad.",
          "type": "string"
        }
      }
    },
    "AudioContentTypeAssignedTargetingOptionDetails": {
      "type": "object",
      "properties": {
        "audioContentType": {
          "description": "Required. The audio content type.",
          "type": "string",
          "enum": [
            "AUDIO_CONTENT_TYPE_UNSPECIFIED",
            "AUDIO_CONTENT_TYPE_UNKNOWN",
            "AUDIO_CONTENT_TYPE_MUSIC",
            "AUDIO_CONTENT_TYPE_BROADCAST",
            "AUDIO_CONTENT_TYPE_PODCAST",
            "AUDIO_CONTENT_TYPE_CATCH_UP_RADIO",
            "AUDIO_CONTENT_TYPE_WEB_RADIO",
            "AUDIO_CONTENT_TYPE_VIDEO_GAME",
            "AUDIO_CONTENT_TYPE_TEXT_TO_SPEECH"
          ],
          "enumDescriptions": [
            "Audio content type is not specified in this version. This enum is a place holder for a default value and does not represent a real content stream type.",
            "The audio content type is unknown.",
            "The audio content type is music.",
            "The audio content type is broadcast.",
            "The audio content type is podcast.",
            "The audio content type is catch-up radio.",
            "The audio content type is web radio.",
            "The audio content type is video game.",
            "The audio content type is text-to-speech."
          ]
        }
      },
      "description": "Details for audio content type assigned targeting option. This will be populated in the audio_content_type_details field when targeting_type is `TARGETING_TYPE_AUDIO_CONTENT_TYPE`. Explicitly targeting all options is not supported. Remove all audio content type targeting options to achieve this effect.",
      "id": "AudioContentTypeAssignedTargetingOptionDetails"
    },
    "SurfaceTargetingCombinations": {
      "id": "SurfaceTargetingCombinations",
      "properties": {
        "availableSurfaceTypes": {
          "items": {
            "enumDescriptions": [
              "Not specified.",
              "In-feed.",
              "In-stream bumper.",
              "In-stream non-skippable.",
              "In-stream skippable.",
              "Shorts.",
              "Discover feed.",
              "Gmail.",
              "Google Display Network.",
              "In-stream non-skippable (30 seconds)."
            ],
            "type": "string",
            "enum": [
              "PLANNABLE_SURFACE_UNSPECIFIED",
              "PLANNABLE_SURFACE_IN_FEED",
              "PLANNABLE_SURFACE_IN_STREAM_BUMPER",
              "PLANNABLE_SURFACE_IN_STREAM_NON_SKIPPABLE",
              "PLANNABLE_SURFACE_IN_STREAM_SKIPPABLE",
              "PLANNABLE_SURFACE_SHORTS",
              "PLANNABLE_SURFACE_DISCOVER_FEED",
              "PLANNABLE_SURFACE_GMAIL",
              "PLANNABLE_SURFACE_GOOGLE_DISPLAY_NETWORK",
              "PLANNABLE_SURFACE_IN_STREAM_NON_SKIPPABLE_THIRTY_SECONDS"
            ]
          },
          "description": "Output only. The surface types available.",
          "type": "array",
          "readOnly": true
        },
        "defaultSurfaceTypes": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. The default surface types for this product.",
          "items": {
            "enumDescriptions": [
              "Not specified.",
              "In-feed.",
              "In-stream bumper.",
              "In-stream non-skippable.",
              "In-stream skippable.",
              "Shorts.",
              "Discover feed.",
              "Gmail.",
              "Google Display Network.",
              "In-stream non-skippable (30 seconds)."
            ],
            "type": "string",
            "enum": [
              "PLANNABLE_SURFACE_UNSPECIFIED",
              "PLANNABLE_SURFACE_IN_FEED",
              "PLANNABLE_SURFACE_IN_STREAM_BUMPER",
              "PLANNABLE_SURFACE_IN_STREAM_NON_SKIPPABLE",
              "PLANNABLE_SURFACE_IN_STREAM_SKIPPABLE",
              "PLANNABLE_SURFACE_SHORTS",
              "PLANNABLE_SURFACE_DISCOVER_FEED",
              "PLANNABLE_SURFACE_GMAIL",
              "PLANNABLE_SURFACE_GOOGLE_DISPLAY_NETWORK",
              "PLANNABLE_SURFACE_IN_STREAM_NON_SKIPPABLE_THIRTY_SECONDS"
            ]
          }
        },
        "validSurfaceCombinations": {
          "description": "Output only. Valid combinations of surfaces that can be selected together.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "SurfaceTargetingCombination"
          }
        }
      },
      "type": "object",
      "description": "Surface targeting rules."
    },
    "LocationList": {
      "description": "A list of locations used for targeting.",
      "type": "object",
      "id": "LocationList",
      "properties": {
        "locationListId": {
          "description": "Output only. The unique ID of the location list. Assigned by the system.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "locationType": {
          "enum": [
            "TARGETING_LOCATION_TYPE_UNSPECIFIED",
            "TARGETING_LOCATION_TYPE_PROXIMITY",
            "TARGETING_LOCATION_TYPE_REGIONAL"
          ],
          "description": "Required. Immutable. The type of location. All locations in the list will share this type.",
          "type": "string",
          "enumDescriptions": [
            "Default value when type is not specified or is unknown.",
            "The type for proximity geo location.",
            "The type for regional geo location."
          ]
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the location list. Must be UTF-8 encoded with a maximum size of 240 bytes."
        },
        "name": {
          "description": "Output only. The resource name of the location list.",
          "readOnly": true,
          "type": "string"
        },
        "advertiserId": {
          "type": "string",
          "format": "int64",
          "description": "Required. Immutable. The unique ID of the advertiser the location list belongs to."
        }
      }
    },
    "AdPolicyTopicEvidenceTextList": {
      "type": "object",
      "properties": {
        "texts": {
          "items": {
            "type": "string"
          },
          "description": "The fragments of text from the resource that caused the policy finding.",
          "type": "array"
        }
      },
      "description": "A list of fragments of text that violated the policy.",
      "id": "AdPolicyTopicEvidenceTextList"
    },
    "MobileDeviceIdList": {
      "type": "object",
      "id": "MobileDeviceIdList",
      "description": "Wrapper message for a list of mobile device IDs defining Customer Match audience members.",
      "properties": {
        "consent": {
          "$ref": "Consent",
          "description": "Input only. The consent setting for the users in mobile_device_ids. Leaving this field unset indicates that consent is not specified. If ad_user_data or ad_personalization fields are set to `CONSENT_STATUS_DENIED`, the request will return an error."
        },
        "mobileDeviceIds": {
          "description": "Optional. A list of mobile device IDs defining Customer Match audience members. The size of mobile_device_ids mustn't be greater than 500,000.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Pacing": {
      "description": "Settings that control the rate at which a budget is spent.",
      "id": "Pacing",
      "properties": {
        "pacingPeriod": {
          "type": "string",
          "enumDescriptions": [
            "Period value is not specified or is unknown in this version.",
            "The pacing setting will be applied on daily basis.",
            "The pacing setting will be applied to the whole flight duration."
          ],
          "enum": [
            "PACING_PERIOD_UNSPECIFIED",
            "PACING_PERIOD_DAILY",
            "PACING_PERIOD_FLIGHT"
          ],
          "description": "Required. The time period in which the pacing budget will be spent. When automatic budget allocation is enabled at the insertion order via automationType, this field is output only and defaults to `PACING_PERIOD_FLIGHT`."
        },
        "pacingType": {
          "enumDescriptions": [
            "Pacing mode value is not specified or is unknown in this version.",
            "Only applicable to `PACING_PERIOD_FLIGHT` pacing period. Ahead pacing attempts to spend faster than evenly, to make sure the entire budget is spent by the end of the flight.",
            "Spend all of pacing budget amount as quick as possible.",
            "Spend a consistent budget amount every period of time."
          ],
          "type": "string",
          "enum": [
            "PACING_TYPE_UNSPECIFIED",
            "PACING_TYPE_AHEAD",
            "PACING_TYPE_ASAP",
            "PACING_TYPE_EVEN"
          ],
          "description": "Required. The type of pacing that defines how the budget amount will be spent across the pacing_period. `PACING_TYPE_ASAP` is not compatible with pacing_period `PACING_PERIOD_FLIGHT` for insertion orders."
        },
        "dailyMaxMicros": {
          "type": "string",
          "description": "Maximum currency amount to spend every day in micros of advertiser's currency. Applicable when the budget is currency based. Must be greater than 0. For example, for 1.5 standard unit of the currency, set this field to 1500000. The value assigned will be rounded to whole billable units for the relevant currency by the following rules: any positive value less than a single billable unit will be rounded up to one billable unit and any value larger than a single billable unit will be rounded down to the nearest billable value. For example, if the currency's billable unit is 0.01, and this field is set to 10257770, it will round down to 10250000, a value of 10.25. If set to 505, it will round up to 10000, a value of 0.01.",
          "format": "int64"
        },
        "dailyMaxImpressions": {
          "type": "string",
          "format": "int64",
          "description": "Maximum number of impressions to serve every day. Applicable when the budget is impression based. Must be greater than 0."
        }
      },
      "type": "object"
    },
    "AssignedLocation": {
      "id": "AssignedLocation",
      "properties": {
        "assignedLocationId": {
          "format": "int64",
          "description": "Output only. The unique ID of the assigned location. The ID is only unique within a location list. It may be reused in other contexts.",
          "readOnly": true,
          "type": "string"
        },
        "targetingOptionId": {
          "description": "Required. The ID of the targeting option assigned to the location list.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the assigned location.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "An assignment between a location list and a relevant targeting option."
    },
    "AppCategoryAssignedTargetingOptionDetails": {
      "type": "object",
      "id": "AppCategoryAssignedTargetingOptionDetails",
      "properties": {
        "negative": {
          "type": "boolean",
          "description": "Indicates if this option is being negatively targeted."
        },
        "targetingOptionId": {
          "description": "Required. The targeting_option_id field when targeting_type is `TARGETING_TYPE_APP_CATEGORY`.",
          "type": "string"
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. The display name of the app category.",
          "type": "string"
        }
      },
      "description": "Details for assigned app category targeting option. This will be populated in the app_category_details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_APP_CATEGORY`."
    },
    "ThirdPartyVendorConfig": {
      "properties": {
        "placementId": {
          "type": "string",
          "description": "The ID used by the platform of the third-party vendor to identify the line item."
        },
        "vendor": {
          "enum": [
            "THIRD_PARTY_VENDOR_UNSPECIFIED",
            "THIRD_PARTY_VENDOR_MOAT",
            "THIRD_PARTY_VENDOR_DOUBLE_VERIFY",
            "THIRD_PARTY_VENDOR_INTEGRAL_AD_SCIENCE",
            "THIRD_PARTY_VENDOR_COMSCORE",
            "THIRD_PARTY_VENDOR_TELEMETRY",
            "THIRD_PARTY_VENDOR_MEETRICS",
            "THIRD_PARTY_VENDOR_ZEFR",
            "THIRD_PARTY_VENDOR_NIELSEN",
            "THIRD_PARTY_VENDOR_KANTAR",
            "THIRD_PARTY_VENDOR_DYNATA",
            "THIRD_PARTY_VENDOR_TRANSUNION",
            "THIRD_PARTY_VENDOR_ORIGIN",
            "THIRD_PARTY_VENDOR_GEMIUS",
            "THIRD_PARTY_VENDOR_MEDIA_SCOPE",
            "THIRD_PARTY_VENDOR_AUDIENCE_PROJECT",
            "THIRD_PARTY_VENDOR_VIDEO_AMP",
            "THIRD_PARTY_VENDOR_ISPOT_TV",
            "THIRD_PARTY_VENDOR_INTAGE",
            "THIRD_PARTY_VENDOR_MACROMILL",
            "THIRD_PARTY_VENDOR_VIDEO_RESEARCH"
          ],
          "description": "The third-party measurement vendor.",
          "enumDescriptions": [
            "Unknown third-party vendor.",
            "Moat.",
            "DoubleVerify.",
            "Integral Ad Science.",
            "Comscore.",
            "Telemetry.",
            "Meetrics.",
            "ZEFR.",
            "Nielsen.",
            "Kantar.",
            "Dynata.",
            "Transunion.",
            "Origin.",
            "Gemius.",
            "MediaScope.",
            "Audience Project.",
            "Video Amp.",
            "Ispot TV.",
            "Intage.",
            "Macromill.",
            "Video Research."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "Settings that control how third-party measurement vendors are configured.",
      "id": "ThirdPartyVendorConfig"
    },
    "ListAdGroupAssignedTargetingOptionsResponse": {
      "properties": {
        "assignedTargetingOptions": {
          "items": {
            "$ref": "AssignedTargetingOption"
          },
          "type": "array",
          "description": "The list of assigned targeting options. This list will be absent if empty."
        },
        "nextPageToken": {
          "description": "A token identifying the next page of results. This value should be specified as the pageToken in a subsequent ListAdGroupAssignedTargetingOptionsRequest to fetch the next page of results. This token will be absent if there are no more AssignedTargetingOption resources to return.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListAdGroupAssignedTargetingOptionsResponse",
      "description": "Response message for ListAdGroupAssignedTargetingOptions."
    },
    "ReachForecast": {
      "description": "A single point in the reach curve.",
      "type": "object",
      "id": "ReachForecast",
      "properties": {
        "forecast": {
          "description": "Aggregate forecast for the entire plan.",
          "$ref": "PlannedProductForecast"
        },
        "costMicros": {
          "format": "int64",
          "description": "Total cost for this point in micros.",
          "type": "string"
        },
        "plannedProductReachForecasts": {
          "description": "Breakdown for individual products at this cost point.",
          "items": {
            "$ref": "PlannedProductReachForecast"
          },
          "type": "array"
        }
      }
    },
    "AdGroupInventoryControl": {
      "properties": {
        "selectedInventories": {
          "$ref": "SelectedInventories",
          "description": "The selected inventories."
        },
        "adGroupInventoryStrategy": {
          "type": "string",
          "description": "The inventory strategy.",
          "enumDescriptions": [
            "Not specified or unknown.",
            "The ad group is opted-in to all Google and Display Network inventory.",
            "The ad group is opted-in to all Google inventory."
          ],
          "enum": [
            "AD_GROUP_INVENTORY_STRATEGY_UNSPECIFIED",
            "AD_GROUP_INVENTORY_STRATEGY_ALL_GOOGLE_AND_DISPLAY_NETWORK_INVENTORY",
            "AD_GROUP_INVENTORY_STRATEGY_ALL_GOOGLE_INVENTORY"
          ]
        }
      },
      "description": "The inventory control of the ad group.",
      "id": "AdGroupInventoryControl",
      "type": "object"
    },
    "BusinessChainSearchTerms": {
      "id": "BusinessChainSearchTerms",
      "description": "Search terms for Business Chain targeting options. At least one of the field should be populated.",
      "properties": {
        "businessChainQuery": {
          "type": "string",
          "description": "The search query for the desired business chain. The query must be the full name of the business, e.g. \"KFC\", \"mercedes-benz\"."
        },
        "regionQuery": {
          "type": "string",
          "description": "The search query for the desired geo region, e.g. \"Seattle\", \"United State\"."
        }
      },
      "type": "object"
    },
    "AdGroup": {
      "type": "object",
      "id": "AdGroup",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifier. The resource name of the ad group."
        },
        "bidStrategy": {
          "$ref": "BiddingStrategy",
          "description": "Optional. The bidding strategy used by the ad group. Only the youtubeAndPartnersBid and demandGenBid field can be used in the bidding strategy."
        },
        "adGroupFormat": {
          "type": "string",
          "description": "Required. Immutable. The format of the ads in the ad group.",
          "enumDescriptions": [
            "Format value is not specified or is unknown in this version.",
            "In-stream ads.",
            "In-feed ads.",
            "Bumper ads.",
            "Non-skippable in-stream ads.",
            "Non-skippable in-stream audio ads.",
            "Responsive ads.",
            "[Effective reach ad groups] (https://support.google.com/displayvideo/answer/9173684), including in-stream and bumper ads.",
            "Masthead Ad that is surfaced on the top slot on the YouTube homepage.",
            "Demand Gen ads."
          ],
          "enum": [
            "AD_GROUP_FORMAT_UNSPECIFIED",
            "AD_GROUP_FORMAT_IN_STREAM",
            "AD_GROUP_FORMAT_VIDEO_DISCOVERY",
            "AD_GROUP_FORMAT_BUMPER",
            "AD_GROUP_FORMAT_NON_SKIPPABLE_IN_STREAM",
            "AD_GROUP_FORMAT_AUDIO",
            "AD_GROUP_FORMAT_RESPONSIVE",
            "AD_GROUP_FORMAT_REACH",
            "AD_GROUP_FORMAT_MASTHEAD",
            "AD_GROUP_FORMAT_DEMAND_GEN"
          ]
        },
        "lineItemId": {
          "format": "int64",
          "type": "string",
          "description": "Required. Immutable. The unique ID of the line item that the ad group belongs to."
        },
        "targetingExpansion": {
          "$ref": "TargetingExpansionConfig",
          "description": "Optional. The [optimized targeting](//support.google.com/displayvideo/answer/12060859) settings of the ad group."
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the ad group. Must be UTF-8 encoded with a maximum size of 255 bytes."
        },
        "entityStatus": {
          "type": "string",
          "enum": [
            "ENTITY_STATUS_UNSPECIFIED",
            "ENTITY_STATUS_ACTIVE",
            "ENTITY_STATUS_ARCHIVED",
            "ENTITY_STATUS_DRAFT",
            "ENTITY_STATUS_PAUSED",
            "ENTITY_STATUS_SCHEDULED_FOR_DELETION"
          ],
          "enumDescriptions": [
            "Default value when status is not specified or is unknown in this version.",
            "The entity is enabled to bid and spend budget.",
            "The entity is archived. Bidding and budget spending are disabled. An entity can be deleted after archived. Deleted entities cannot be retrieved.",
            "The entity is under draft. Bidding and budget spending are disabled.",
            "Bidding and budget spending are paused for the entity.",
            "The entity is scheduled for deletion."
          ],
          "description": "Required. Controls whether or not the ad group can spend its budget and bid on inventory. If the ad group's parent line item is not active, the ad group can't spend its budget even if its own status is `ENTITY_STATUS_ACTIVE`."
        },
        "productFeedData": {
          "description": "Optional. The settings of the product feed in this ad group.",
          "$ref": "ProductFeedData"
        },
        "adGroupId": {
          "description": "Output only. The unique ID of the ad group. Assigned by the system.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "advertiserId": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The unique ID of the advertiser the ad group belongs to.",
          "readOnly": true
        },
        "adGroupInventoryControl": {
          "description": "Optional. Required for Demand Gen ad groups. Specifies the inventory control of the ad group.",
          "$ref": "AdGroupInventoryControl"
        }
      },
      "description": "A single ad group associated with a line item."
    },
    "ExitEvent": {
      "description": "Exit event of the creative.",
      "id": "ExitEvent",
      "properties": {
        "type": {
          "enum": [
            "EXIT_EVENT_TYPE_UNSPECIFIED",
            "EXIT_EVENT_TYPE_DEFAULT",
            "EXIT_EVENT_TYPE_BACKUP"
          ],
          "enumDescriptions": [
            "Exit event type is not specified or is unknown in this version.",
            "The exit event is the default one.",
            "The exit event is a backup exit event. There could be multiple backup exit events in a creative."
          ],
          "type": "string",
          "description": "Required. The type of the exit event."
        },
        "url": {
          "description": "Required. The click through URL of the exit event. This is required when type is: * `EXIT_EVENT_TYPE_DEFAULT` * `EXIT_EVENT_TYPE_BACKUP`",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Optional. The name of the click tag of the exit event. The name must be unique within one creative. Leave it empty or unset for creatives containing image assets only."
        },
        "reportingName": {
          "type": "string",
          "description": "Optional. The name used to identify this event in reports. Leave it empty or unset for creatives containing image assets only."
        }
      },
      "type": "object"
    },
    "ContentInstreamPositionTargetingOptionDetails": {
      "type": "object",
      "id": "ContentInstreamPositionTargetingOptionDetails",
      "description": "Represents a targetable content instream position, which could be used by video and audio ads. This will be populated in the content_instream_position_details field when targeting_type is `TARGETING_TYPE_CONTENT_INSTREAM_POSITION`.",
      "properties": {
        "contentInstreamPosition": {
          "description": "Output only. The content instream position.",
          "enum": [
            "CONTENT_INSTREAM_POSITION_UNSPECIFIED",
            "CONTENT_INSTREAM_POSITION_PRE_ROLL",
            "CONTENT_INSTREAM_POSITION_MID_ROLL",
            "CONTENT_INSTREAM_POSITION_POST_ROLL",
            "CONTENT_INSTREAM_POSITION_UNKNOWN"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Content instream position is not specified in this version. This enum is a place holder for a default value and does not represent a real in stream ad position.",
            "Ads that play before streaming content.",
            "Ads that play between the beginning and end of streaming content.",
            "Ads that play at the end of streaming content.",
            "Ads instream position is unknown."
          ]
        }
      }
    },
    "ListUsersResponse": {
      "id": "ListUsersResponse",
      "properties": {
        "users": {
          "items": {
            "$ref": "User"
          },
          "type": "array",
          "description": "The list of users. This list will be absent if empty."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListUsers` method to retrieve the next page of results. This token will be absent if there are no more results to return."
        }
      },
      "type": "object"
    },
    "CategoryAssignedTargetingOptionDetails": {
      "properties": {
        "displayName": {
          "readOnly": true,
          "description": "Output only. The display name of the category.",
          "type": "string"
        },
        "targetingOptionId": {
          "description": "Required. The targeting_option_id field when targeting_type is `TARGETING_TYPE_CATEGORY`.",
          "type": "string"
        },
        "negative": {
          "description": "Indicates if this option is being negatively targeted.",
          "type": "boolean"
        }
      },
      "id": "CategoryAssignedTargetingOptionDetails",
      "type": "object",
      "description": "Assigned category targeting option details. This will be populated in the category_details field when targeting_type is `TARGETING_TYPE_CATEGORY`."
    },
    "UserInterest": {
      "type": "object",
      "description": "The identifier for a user interest.",
      "properties": {
        "userInterestCategory": {
          "description": "Output only. The resource name of the interest category. Populated when `product_category` is \"Youtube\". Format: customers/{customer_id}/userInterests/{user_interest_id}",
          "type": "string",
          "readOnly": true
        },
        "userInterestUserList": {
          "readOnly": true,
          "description": "Output only. The resource name of the user list. Populated when `product_category` is \"Open Auction\". Format: customers/{customer_id}/userLists/{user_list_id}",
          "type": "string"
        }
      },
      "id": "UserInterest"
    },
    "YoutubeAssetAssociation": {
      "id": "YoutubeAssetAssociation",
      "description": "An association between a resource and a YouTube asset.",
      "type": "object",
      "properties": {
        "linkedYoutubeAsset": {
          "$ref": "YoutubeAssetAssociationLinkedYouTubeAsset",
          "description": "Required. The YouTube asset associated with the resource."
        },
        "name": {
          "description": "Identifier. The resource name of the association. For line item-level associations: The name pattern is `advertisers/{advertiser_id}/lineItems/{line_item_id}/youtubeAssetTypes/{youtube_asset_type}/youtubeAssetAssociations/{youtube_asset_association_id}`. For ad group-level associations: The name pattern is `advertisers/{advertiser_id}/adGroups/{ad_group_id}/youtubeAssetTypes/{youtube_asset_type}/youtubeAssetAssociations/{youtube_asset_association_id}`. For `YOUTUBE_ASSET_TYPE_LOCATION` and `YOUTUBE_ASSET_TYPE_AFFILIATE_LOCATION` associations: `youtube_asset_association_id` is the ID of the asset set linked, or 0 if the location_matching_type or affiliate_location_matching_type is `DISABLED`. For `YOUTUBE_ASSET_TYPE_SITELINK` associations: `youtube_asset_association_id` is be the ID of the sitelink asset linked.",
          "type": "string"
        },
        "youtubeAssetType": {
          "enumDescriptions": [
            "YouTube asset type is not specified or is unknown in this version.",
            "Location asset.",
            "Affiliate location asset.",
            "Sitelink asset."
          ],
          "type": "string",
          "enum": [
            "YOUTUBE_ASSET_TYPE_UNSPECIFIED",
            "YOUTUBE_ASSET_TYPE_LOCATION",
            "YOUTUBE_ASSET_TYPE_AFFILIATE_LOCATION",
            "YOUTUBE_ASSET_TYPE_SITELINK"
          ],
          "description": "Required. The type of YouTube asset associated with the resource."
        }
      }
    },
    "PerformanceGoal": {
      "type": "object",
      "description": "Settings that control the performance goal of a campaign.",
      "id": "PerformanceGoal",
      "properties": {
        "performanceGoalAmountMicros": {
          "format": "int64",
          "type": "string",
          "description": "The goal amount, in micros of the advertiser's currency. Applicable when performance_goal_type is one of: * `PERFORMANCE_GOAL_TYPE_CPM` * `PERFORMANCE_GOAL_TYPE_CPC` * `PERFORMANCE_GOAL_TYPE_CPA` * `PERFORMANCE_GOAL_TYPE_CPIAVC` * `PERFORMANCE_GOAL_TYPE_VCPM` For example 1500000 represents 1.5 standard units of the currency."
        },
        "performanceGoalPercentageMicros": {
          "format": "int64",
          "type": "string",
          "description": "The decimal representation of the goal percentage in micros. Applicable when performance_goal_type is one of: * `PERFORMANCE_GOAL_TYPE_CTR` * `PERFORMANCE_GOAL_TYPE_VIEWABILITY` * `PERFORMANCE_GOAL_TYPE_CLICK_CVR` * `PERFORMANCE_GOAL_TYPE_IMPRESSION_CVR` * `PERFORMANCE_GOAL_TYPE_VTR` * `PERFORMANCE_GOAL_TYPE_AUDIO_COMPLETION_RATE` * `PERFORMANCE_GOAL_TYPE_VIDEO_COMPLETION_RATE` For example, 70000 represents 7% (decimal 0.07)."
        },
        "performanceGoalString": {
          "description": "A key performance indicator (KPI) string, which can be empty. Must be UTF-8 encoded with a length of no more than 100 characters. Applicable when performance_goal_type is set to `PERFORMANCE_GOAL_TYPE_OTHER`.",
          "type": "string"
        },
        "performanceGoalType": {
          "enum": [
            "PERFORMANCE_GOAL_TYPE_UNSPECIFIED",
            "PERFORMANCE_GOAL_TYPE_CPM",
            "PERFORMANCE_GOAL_TYPE_CPC",
            "PERFORMANCE_GOAL_TYPE_CPA",
            "PERFORMANCE_GOAL_TYPE_CTR",
            "PERFORMANCE_GOAL_TYPE_VIEWABILITY",
            "PERFORMANCE_GOAL_TYPE_CPIAVC",
            "PERFORMANCE_GOAL_TYPE_CPE",
            "PERFORMANCE_GOAL_TYPE_CPV",
            "PERFORMANCE_GOAL_TYPE_CLICK_CVR",
            "PERFORMANCE_GOAL_TYPE_IMPRESSION_CVR",
            "PERFORMANCE_GOAL_TYPE_VCPM",
            "PERFORMANCE_GOAL_TYPE_VTR",
            "PERFORMANCE_GOAL_TYPE_AUDIO_COMPLETION_RATE",
            "PERFORMANCE_GOAL_TYPE_VIDEO_COMPLETION_RATE",
            "PERFORMANCE_GOAL_TYPE_OTHER"
          ],
          "description": "Required. The type of the performance goal.",
          "enumDescriptions": [
            "Performance goal type is not specified or is unknown in this version.",
            "The performance goal is set in CPM (cost per mille).",
            "The performance goal is set in CPC (cost per click).",
            "The performance goal is set in CPA (cost per action).",
            "The performance goal is set in CTR (click-through rate) percentage.",
            "The performance goal is set in Viewability percentage.",
            "The performance goal is set as CPIAVC (cost per impression audible and visible at completion).",
            "The performance goal is set in CPE (cost per engagement).",
            "The performance goal is set in CPV (cost per view).",
            "The performance goal is set in click conversion rate (conversions per click) percentage.",
            "The performance goal is set in impression conversion rate (conversions per impression) percentage.",
            "The performance goal is set in VCPM (cost per thousand viewable impressions).",
            "The performance goal is set in YouTube view rate (YouTube views per impression) percentage.",
            "The performance goal is set in audio completion rate (complete audio listens per impression) percentage.",
            "The performance goal is set in video completion rate (complete video views per impression) percentage.",
            "The performance goal is set to Other."
          ],
          "type": "string"
        }
      }
    },
    "BulkEditNegativeKeywordsResponse": {
      "description": "Response message for NegativeKeywordService.BulkEditNegativeKeywords.",
      "properties": {
        "negativeKeywords": {
          "description": "The list of negative keywords that have been successfully created. This list will be absent if empty.",
          "items": {
            "$ref": "NegativeKeyword"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "BulkEditNegativeKeywordsResponse"
    },
    "BulkUpdateLineItemsResponse": {
      "type": "object",
      "description": "Response message for LineItemService.BulkUpdateLineItems.",
      "properties": {
        "failedLineItemIds": {
          "type": "array",
          "items": {
[...]
