{
  "discoveryVersion": "v1",
  "schemas": {
    "DigitalContentLabelTargetingOptionDetails": {
      "properties": {
        "contentRatingTier": {
          "enum": [
            "CONTENT_RATING_TIER_UNSPECIFIED",
            "CONTENT_RATING_TIER_UNRATED",
            "CONTENT_RATING_TIER_GENERAL",
            "CONTENT_RATING_TIER_PARENTAL_GUIDANCE",
            "CONTENT_RATING_TIER_TEENS",
            "CONTENT_RATING_TIER_MATURE",
            "CONTENT_RATING_TIER_FAMILIES"
          ],
          "type": "string",
          "description": "Output only. An enum for the content label brand safety tiers.",
          "enumDescriptions": [
            "Content label is not specified in this version. This enum is a place holder for a default value and does not represent a real content rating. **Starting on *October 1, 2026*, this value will be deprecated and no longer be accepted as a valid value when assigning targeting.**",
            "Content that has not been labeled.",
            "Content suitable for general audiences. **Starting on *October 1, 2026*, this value will be deprecated and no longer be accepted as a valid value when assigning targeting.**",
            "Content suitable for most audiences with parental guidance. **Starting on *October 1, 2026*, this value will be deprecated and no longer be accepted as a valid value when assigning targeting.**",
            "Content suitable for teen and older audiences. **Starting on *October 1, 2026*, this value will be deprecated and no longer be accepted as a valid value when assigning targeting.**",
            "Content suitable only for mature audiences. **Starting on *October 1, 2026*, this value will be deprecated and no longer be accepted as a valid value when assigning targeting.**",
            "Content suitable for family audiences. It is a subset of CONTENT_RATING_TIER_GENERAL. Only applicable to YouTube and Partners line items. **Starting on *October 1, 2026*, this value will be deprecated and no longer be accepted as a valid value when assigning targeting.**"
          ],
          "readOnly": true
        }
      },
      "description": "Represents a targetable digital content label rating tier. This will be populated in the digital_content_label_details field of the TargetingOption when targeting_type is `TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION`.",
      "type": "object",
      "id": "DigitalContentLabelTargetingOptionDetails"
    },
    "AdvertiserSdfConfig": {
      "id": "AdvertiserSdfConfig",
      "type": "object",
      "description": "Structured Data Files (SDF) settings of an advertiser.",
      "properties": {
        "sdfConfig": {
          "description": "The SDF configuration for the advertiser. * Required when overridePartnerSdfConfig is `true`. * Output only when overridePartnerSdfConfig is `false`.",
          "$ref": "SdfConfig"
        },
        "overridePartnerSdfConfig": {
          "description": "Whether or not this advertiser overrides the SDF configuration of its parent partner. By default, an advertiser inherits the SDF configuration from the parent partner. To override the partner configuration, set this field to `true` and provide the new configuration in sdfConfig.",
          "type": "boolean"
        }
      }
    },
    "ListYoutubeAdGroupsResponse": {
      "type": "object",
      "id": "ListYoutubeAdGroupsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListYoutubeAdGroups` method to retrieve the next page of results.",
          "type": "string"
        },
        "youtubeAdGroups": {
          "description": "The list of ad groups. This list will be absent if empty.",
          "items": {
            "$ref": "YoutubeAdGroup"
          },
          "type": "array"
        }
      }
    },
    "CarrierAndIspAssignedTargetingOptionDetails": {
      "properties": {
        "negative": {
          "description": "Indicates if this option is being negatively targeted. All assigned carrier and ISP targeting options on the same resource must have the same value for this field.",
          "type": "boolean"
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The display name of the carrier or ISP."
        },
        "targetingOptionId": {
          "description": "Required. The targeting_option_id of a TargetingOption of type `TARGETING_TYPE_CARRIER_AND_ISP`.",
          "type": "string"
        }
      },
      "id": "CarrierAndIspAssignedTargetingOptionDetails",
      "description": "Details for assigned carrier and ISP targeting option. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_CARRIER_AND_ISP`.",
      "type": "object"
    },
    "ListInventorySourceGroupsResponse": {
      "type": "object",
      "id": "ListInventorySourceGroupsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListInventorySourceGroups` method to retrieve the next page of results."
        },
        "inventorySourceGroups": {
          "description": "The list of inventory source groups. This list will be absent if empty.",
          "type": "array",
          "items": {
            "$ref": "InventorySourceGroup"
          }
        }
      },
      "description": "Response message for InventorySourceGroupService.ListInventorySourceGroups."
    },
    "MaximizeSpendBidStrategy": {
      "type": "object",
      "description": "A strategy that automatically adjusts the bid to optimize a specified performance goal while spending the full budget.",
      "id": "MaximizeSpendBidStrategy",
      "properties": {
        "performanceGoalType": {
          "type": "string",
          "description": "Required. The type of the performance goal that the bidding strategy tries to minimize while spending the full budget. `BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_VIEWABLE_CPM` is not supported for this strategy.",
          "enumDescriptions": [
            "Type value is not specified or is unknown in this version.",
            "Cost per action.",
            "Cost per click.",
            "Viewable CPM.",
            "Custom bidding algorithm.",
            "Completed inview and audible views.",
            "Inview time over 10 secs views.",
            "Viewable impressions."
          ],
          "enum": [
            "BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_UNSPECIFIED",
            "BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_CPA",
            "BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_CPC",
            "BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_VIEWABLE_CPM",
            "BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_CUSTOM_ALGO",
            "BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_CIVA",
            "BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_IVO_TEN",
            "BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_AV_VIEWED"
          ]
        },
        "raiseBidForDeals": {
          "description": "Whether the strategy takes deal floor prices into account.",
          "type": "boolean"
        },
        "maxAverageCpmBidAmountMicros": {
          "description": "The maximum average CPM that may be bid, in micros of the advertiser's currency. Must be greater than or equal to a billable unit of the given currency. For example, 1500000 represents 1.5 standard units of the currency.",
          "format": "int64",
          "type": "string"
        },
        "customBiddingAlgorithmId": {
          "format": "int64",
          "description": "The ID of the Custom Bidding Algorithm used by this strategy. Only applicable when performance_goal_type is set to `BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_CUSTOM_ALGO`. Assigning a custom bidding algorithm that uses floodlight activities not identified in floodlightActivityConfigs will return an error.",
          "type": "string"
        }
      }
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty"
    },
    "ThirdPartyUrl": {
      "type": "object",
      "id": "ThirdPartyUrl",
      "properties": {
        "type": {
          "enum": [
            "THIRD_PARTY_URL_TYPE_UNSPECIFIED",
            "THIRD_PARTY_URL_TYPE_IMPRESSION",
            "THIRD_PARTY_URL_TYPE_CLICK_TRACKING",
            "THIRD_PARTY_URL_TYPE_AUDIO_VIDEO_START",
            "THIRD_PARTY_URL_TYPE_AUDIO_VIDEO_FIRST_QUARTILE",
            "THIRD_PARTY_URL_TYPE_AUDIO_VIDEO_MIDPOINT",
            "THIRD_PARTY_URL_TYPE_AUDIO_VIDEO_THIRD_QUARTILE",
            "THIRD_PARTY_URL_TYPE_AUDIO_VIDEO_COMPLETE",
            "THIRD_PARTY_URL_TYPE_AUDIO_VIDEO_MUTE",
            "THIRD_PARTY_URL_TYPE_AUDIO_VIDEO_PAUSE",
            "THIRD_PARTY_URL_TYPE_AUDIO_VIDEO_REWIND",
            "THIRD_PARTY_URL_TYPE_AUDIO_VIDEO_FULLSCREEN",
            "THIRD_PARTY_URL_TYPE_AUDIO_VIDEO_STOP",
            "THIRD_PARTY_URL_TYPE_AUDIO_VIDEO_CUSTOM",
            "THIRD_PARTY_URL_TYPE_AUDIO_VIDEO_SKIP",
            "THIRD_PARTY_URL_TYPE_AUDIO_VIDEO_PROGRESS"
          ],
          "type": "string",
          "description": "Optional. The type of interaction needs to be tracked by the tracking URL",
          "enumDescriptions": [
            "The type of third-party URL is unspecified or is unknown in this version.",
            "Used to count impressions of the creative after the audio or video buffering is complete.",
            "Used to track user clicks on the audio or video.",
            "Used to track the number of times a user starts the audio or video.",
            "Used to track the number of times the audio or video plays to 25% of its length.",
            "Used to track the number of times the audio or video plays to 50% of its length.",
            "Used to track the number of times the audio or video plays to 75% of its length.",
            "Used to track the number of times the audio or video plays to the end.",
            "Used to track the number of times a user mutes the audio or video.",
            "Used to track the number of times a user pauses the audio or video.",
            "Used to track the number of times a user replays the audio or video.",
            "Used to track the number of times a user expands the player to full-screen size.",
            "Used to track the number of times a user stops the audio or video.",
            "Used to track the number of times a user performs a custom click, such as clicking on a video hot spot.",
            "Used to track the number of times the audio or video was skipped.",
            "Used to track the number of times the audio or video plays to an offset determined by the progress_offset."
          ]
        },
        "url": {
          "type": "string",
          "description": "Optional. Tracking URL used to track the interaction. Provide a URL with optional path or query string, beginning with `https:`. For example, `https://www.example.com/path`"
        }
      },
      "description": "Tracking URLs from third parties to track interactions with an audio or a video creative."
    },
    "DeviceMakeModelAssignedTargetingOptionDetails": {
      "type": "object",
      "properties": {
        "targetingOptionId": {
          "description": "Required. The targeting_option_id field when targeting_type is `TARGETING_TYPE_DEVICE_MAKE_MODEL`.",
          "type": "string"
        },
        "displayName": {
          "description": "Output only. The display name of the device make and model.",
          "type": "string",
          "readOnly": true
        },
        "negative": {
          "description": "Indicates if this option is being negatively targeted.",
          "type": "boolean"
        }
      },
      "id": "DeviceMakeModelAssignedTargetingOptionDetails",
      "description": "Assigned device make and model targeting option details. This will be populated in the device_make_model_details field when targeting_type is `TARGETING_TYPE_DEVICE_MAKE_MODEL`."
    },
    "EditGuaranteedOrderReadAccessorsRequest": {
      "properties": {
        "removedAdvertisers": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "The advertisers to remove as read accessors to the guaranteed order.",
          "type": "array"
        },
        "partnerId": {
          "description": "Required. The partner context in which the change is being made.",
          "format": "int64",
          "type": "string"
        },
        "addedAdvertisers": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "The advertisers to add as read accessors to the guaranteed order.",
          "type": "array"
        },
        "readAccessInherited": {
          "description": "Whether to give all advertisers of the read/write accessor partner read access to the guaranteed order. Only applicable if read_write_partner_id is set in the guaranteed order.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "EditGuaranteedOrderReadAccessorsRequest",
      "description": "Request message for GuaranteedOrderService.EditGuaranteedOrderReadAccessors."
    },
    "Status": {
      "id": "Status",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "DoubleVerifyFraudInvalidTraffic": {
      "properties": {
        "avoidedFraudOption": {
          "description": "Avoid Sites and Apps with historical Fraud & IVT.",
          "enumDescriptions": [
            "This enum is only a placeholder and it doesn't specify any fraud and invalid traffic options.",
            "100% Fraud & IVT.",
            "50% or Higher Fraud & IVT.",
            "25% or Higher Fraud & IVT.",
            "10% or Higher Fraud & IVT.",
            "8% or Higher Fraud & IVT.",
            "6% or Higher Fraud & IVT.",
            "4% or Higher Fraud & IVT.",
            "2% or Higher Fraud & IVT."
          ],
          "type": "string",
          "enum": [
            "FRAUD_UNSPECIFIED",
            "AD_IMPRESSION_FRAUD_100",
            "AD_IMPRESSION_FRAUD_50",
            "AD_IMPRESSION_FRAUD_25",
            "AD_IMPRESSION_FRAUD_10",
            "AD_IMPRESSION_FRAUD_8",
            "AD_IMPRESSION_FRAUD_6",
            "AD_IMPRESSION_FRAUD_4",
            "AD_IMPRESSION_FRAUD_2"
          ]
        },
        "avoidInsufficientOption": {
          "type": "boolean",
          "description": "Insufficient Historical Fraud & IVT Stats."
        }
      },
      "type": "object",
      "id": "DoubleVerifyFraudInvalidTraffic",
      "description": "DoubleVerify Fraud & Invalid Traffic settings."
    },
    "TimerEvent": {
      "properties": {
        "name": {
          "description": "Required. The name of the timer event.",
          "type": "string"
        },
        "reportingName": {
          "type": "string",
          "description": "Required. The name used to identify this timer event in reports."
        }
      },
      "id": "TimerEvent",
      "description": "Timer event of the creative.",
      "type": "object"
    },
    "InventorySourceAssignedTargetingOptionDetails": {
      "type": "object",
      "properties": {
        "inventorySourceId": {
          "description": "Required. ID of the inventory source. Should refer to the inventory_source_id field of an InventorySource resource.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "InventorySourceAssignedTargetingOptionDetails",
      "description": "Targeting details for inventory source. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_INVENTORY_SOURCE`."
    },
    "ListCombinedAudiencesResponse": {
      "properties": {
        "combinedAudiences": {
          "type": "array",
          "items": {
            "$ref": "CombinedAudience"
          },
          "description": "The list of combined audiences. This list will be absent if empty."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListCombinedAudiences` method to retrieve the next page of results."
        }
      },
      "type": "object",
      "id": "ListCombinedAudiencesResponse"
    },
    "ContentInstreamPositionTargetingOptionDetails": {
      "id": "ContentInstreamPositionTargetingOptionDetails",
      "properties": {
        "contentInstreamPosition": {
          "readOnly": true,
          "enumDescriptions": [
            "Content instream position is not specified in this version. This enum is a place holder for a default value and does not represent a real in stream ad position.",
            "Ads that play before streaming content.",
            "Ads that play between the beginning and end of streaming content.",
            "Ads that play at the end of streaming content.",
            "Ads instream position is unknown."
          ],
          "type": "string",
          "enum": [
            "CONTENT_INSTREAM_POSITION_UNSPECIFIED",
            "CONTENT_INSTREAM_POSITION_PRE_ROLL",
            "CONTENT_INSTREAM_POSITION_MID_ROLL",
            "CONTENT_INSTREAM_POSITION_POST_ROLL",
            "CONTENT_INSTREAM_POSITION_UNKNOWN"
          ],
          "description": "Output only. The content instream position."
        }
      },
      "description": "Represents a targetable content instream position, which could be used by video and audio ads. This will be populated in the content_instream_position_details field when targeting_type is `TARGETING_TYPE_CONTENT_INSTREAM_POSITION`.",
      "type": "object"
    },
    "CustomBiddingScript": {
      "id": "CustomBiddingScript",
      "description": "A single custom bidding script.",
      "type": "object",
      "properties": {
        "customBiddingScriptId": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The unique ID of the custom bidding script.",
          "type": "string"
        },
        "name": {
          "description": "Output only. The resource name of the custom bidding script.",
          "readOnly": true,
          "type": "string"
        },
        "errors": {
          "readOnly": true,
          "description": "Output only. Error details of a rejected custom bidding script. This field will only be populated when state is REJECTED.",
          "items": {
            "$ref": "ScriptError"
          },
          "type": "array"
        },
        "customBiddingAlgorithmId": {
          "type": "string",
          "description": "Output only. The unique ID of the custom bidding algorithm the script belongs to.",
          "readOnly": true,
          "format": "int64"
        },
        "active": {
          "readOnly": true,
          "description": "Output only. Whether the script is currently being used for scoring by the parent algorithm.",
          "type": "boolean"
        },
        "script": {
          "$ref": "CustomBiddingScriptRef",
          "description": "The reference to the uploaded script file."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time when the script was created.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "The script state is not specified or is unknown in this version.",
            "The script has been accepted for scoring impressions.",
            "The script has been rejected by backend pipelines. It may have errors.",
            "The script is being processed for backend pipelines."
          ],
          "description": "Output only. The state of the custom bidding script.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACCEPTED",
            "REJECTED",
            "PENDING"
          ],
          "type": "string",
          "readOnly": true
        }
      }
    },
    "CustomBiddingAlgorithm": {
      "properties": {
        "advertiserId": {
          "description": "Immutable. The unique ID of the advertiser that owns the custom bidding algorithm.",
          "type": "string",
          "format": "int64"
        },
        "displayName": {
          "description": "Required. The display name of the custom bidding algorithm. Must be UTF-8 encoded with a maximum size of 240 bytes.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the custom bidding algorithm."
        },
        "partnerId": {
          "description": "Immutable. The unique ID of the partner that owns the custom bidding algorithm.",
          "type": "string",
          "format": "int64"
        },
        "customBiddingAlgorithmId": {
          "description": "Output only. The unique ID of the custom bidding algorithm. Assigned by the system.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "modelDetails": {
          "description": "Output only. The details of custom bidding models for each advertiser who has access. This field may only include the details of the queried advertiser if the algorithm [`owner`](/display-video/api/reference/rest/v1/customBiddingAlgorithms#CustomBiddingAlgorithm.FIELDS.oneof_owner) is a partner and is being retrieved using an advertiser [`accessor`](/display-video/api/reference/rest/v1/customBiddingAlgorithms/list#body.QUERY_PARAMETERS.oneof_accessor).",
          "items": {
            "$ref": "CustomBiddingModelDetails"
          },
          "type": "array",
          "readOnly": true
        },
        "entityStatus": {
          "type": "string",
          "description": "Controls whether or not the custom bidding algorithm can be used as a bidding strategy. Accepted values are: * `ENTITY_STATUS_ACTIVE` * `ENTITY_STATUS_ARCHIVED`",
          "enumDescriptions": [
            "Default value when status is not specified or is unknown in this version.",
            "The entity is enabled to bid and spend budget.",
            "The entity is archived. Bidding and budget spending are disabled. An entity can be deleted after archived. Deleted entities cannot be retrieved.",
            "The entity is under draft. Bidding and budget spending are disabled.",
            "Bidding and budget spending are paused for the entity.",
            "The entity is scheduled for deletion."
          ],
          "enum": [
            "ENTITY_STATUS_UNSPECIFIED",
            "ENTITY_STATUS_ACTIVE",
            "ENTITY_STATUS_ARCHIVED",
            "ENTITY_STATUS_DRAFT",
            "ENTITY_STATUS_PAUSED",
            "ENTITY_STATUS_SCHEDULED_FOR_DELETION"
          ]
        },
        "customBiddingAlgorithmType": {
          "type": "string",
          "enumDescriptions": [
            "Algorithm type is not specified or is unknown in this version.",
            "Algorithm generated through customer-uploaded custom bidding script files."
          ],
          "enum": [
            "CUSTOM_BIDDING_ALGORITHM_TYPE_UNSPECIFIED",
            "SCRIPT_BASED"
          ],
          "description": "Required. Immutable. The type of custom bidding algorithm."
        },
        "sharedAdvertiserIds": {
          "type": "array",
          "description": "The IDs of the advertisers who have access to this algorithm. If advertiser_id is set, this field will only consist of that value. This field will not be set if the algorithm [`owner`](/display-video/api/reference/rest/v1/customBiddingAlgorithms#CustomBiddingAlgorithm.FIELDS.oneof_owner) is a partner and is being retrieved using an advertiser [`accessor`](/display-video/api/reference/rest/v1/customBiddingAlgorithms/list#body.QUERY_PARAMETERS.oneof_accessor).",
          "items": {
            "type": "string",
            "format": "int64"
          }
        }
      },
      "id": "CustomBiddingAlgorithm",
      "description": "A single custom bidding algorithm.",
      "type": "object"
    },
    "OperatingSystemTargetingOptionDetails": {
      "description": "Represents a targetable operating system. This will be populated in the operating_system_details field of a TargetingOption when targeting_type is `TARGETING_TYPE_OPERATING_SYSTEM`.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Output only. The display name of the operating system.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "OperatingSystemTargetingOptionDetails"
    },
    "ObaIcon": {
      "properties": {
        "resourceUrl": {
          "description": "Optional. The URL of the OBA icon resource.",
          "type": "string"
        },
        "landingPageUrl": {
          "type": "string",
          "description": "Required. The landing page URL of the OBA icon. Only URLs of the following domains are allowed: * `https://info.evidon.com` * `https://l.betrad.com`"
        },
        "viewTrackingUrl": {
          "description": "Required. The view tracking URL of the OBA icon. Only URLs of the following domains are allowed: * `https://info.evidon.com` * `https://l.betrad.com`",
          "type": "string"
        },
        "dimensions": {
          "$ref": "Dimensions",
          "description": "Optional. The dimensions of the OBA icon."
        },
        "resourceMimeType": {
          "type": "string",
          "description": "Optional. The MIME type of the OBA icon resource."
        },
        "position": {
          "enum": [
            "OBA_ICON_POSITION_UNSPECIFIED",
            "OBA_ICON_POSITION_UPPER_RIGHT",
            "OBA_ICON_POSITION_UPPER_LEFT",
            "OBA_ICON_POSITION_LOWER_RIGHT",
            "OBA_ICON_POSITION_LOWER_LEFT"
          ],
          "description": "Optional. The position of the OBA icon on the creative.",
          "enumDescriptions": [
            "The OBA icon position is not specified.",
            "At the upper right side of the creative.",
            "At the upper left side of the creative.",
            "At the lower right side of the creative.",
            "At the lower left side of the creative."
          ],
          "type": "string"
        },
        "program": {
          "description": "Optional. The program of the OBA icon. For example: “AdChoices”.",
          "type": "string"
        },
        "clickTrackingUrl": {
          "description": "Required. The click tracking URL of the OBA icon. Only URLs of the following domains are allowed: * `https://info.evidon.com` * `https://l.betrad.com`",
          "type": "string"
        }
      },
      "description": "OBA Icon for a Creative",
      "id": "ObaIcon",
      "type": "object"
    },
    "ListCreativesResponse": {
      "type": "object",
      "id": "ListCreativesResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListCreativesRequest` method to retrieve the next page of results. If this field is null, it means this is the last page.",
          "type": "string"
        },
        "creatives": {
          "items": {
            "$ref": "Creative"
          },
          "type": "array",
          "description": "The list of creatives. This list will be absent if empty."
        }
      }
    },
    "NativeContentPositionTargetingOptionDetails": {
      "description": "Represents a targetable native content position. This will be populated in the native_content_position_details field when targeting_type is `TARGETING_TYPE_NATIVE_CONTENT_POSITION`.",
      "type": "object",
      "id": "NativeContentPositionTargetingOptionDetails",
      "properties": {
        "contentPosition": {
          "type": "string",
          "description": "Output only. The content position.",
          "enum": [
            "NATIVE_CONTENT_POSITION_UNSPECIFIED",
            "NATIVE_CONTENT_POSITION_UNKNOWN",
            "NATIVE_CONTENT_POSITION_IN_ARTICLE",
            "NATIVE_CONTENT_POSITION_IN_FEED",
            "NATIVE_CONTENT_POSITION_PERIPHERAL",
            "NATIVE_CONTENT_POSITION_RECOMMENDATION"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Native content position is not specified in this version. This enum is a place holder for a default value and does not represent a real native content position.",
            "The native content position is unknown.",
            "Native content position is in-article, i.e., ads appear between the paragraphs of pages.",
            "Native content position is in-feed, i.e., ads appear in a scrollable stream of content. A feed is typically editorial (e.g. a list of articles or news) or listings (e.g. a list of products or services).",
            "Native content position is peripheral, i.e., ads appear outside of core content on pages, such as the right- or left-hand side of the page.",
            "Native content position is recommendation, i.e., ads appear in sections for recommended content."
          ]
        }
      }
    },
    "Dimensions": {
      "type": "object",
      "description": "Dimensions.",
      "properties": {
        "widthPixels": {
          "description": "The width in pixels.",
          "format": "int32",
          "type": "integer"
        },
        "heightPixels": {
          "description": "The height in pixels.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "Dimensions"
    },
    "LanguageAssignedTargetingOptionDetails": {
      "id": "LanguageAssignedTargetingOptionDetails",
      "description": "Details for assigned language targeting option. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_LANGUAGE`.",
      "type": "object",
      "properties": {
        "negative": {
          "type": "boolean",
          "description": "Indicates if this option is being negatively targeted. All assigned language targeting options on the same resource must have the same value for this field."
        },
        "targetingOptionId": {
          "description": "Required. The targeting_option_id of a TargetingOption of type `TARGETING_TYPE_LANGUAGE`.",
          "type": "string"
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The display name of the language (e.g., \"French\")."
        }
      }
    },
    "BulkEditAssignedInventorySourcesRequest": {
      "properties": {
        "advertiserId": {
          "format": "int64",
          "type": "string",
          "description": "The ID of the advertiser that owns the parent inventory source group. The parent partner does not have access to these assigned inventory sources."
        },
        "createdAssignedInventorySources": {
          "description": "The assigned inventory sources to create in bulk, specified as a list of AssignedInventorySources.",
          "type": "array",
          "items": {
            "$ref": "AssignedInventorySource"
          }
        },
        "partnerId": {
          "type": "string",
          "format": "int64",
          "description": "The ID of the partner that owns the inventory source group. Only this partner has write access to these assigned inventory sources."
        },
        "deletedAssignedInventorySources": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "The IDs of the assigned inventory sources to delete in bulk, specified as a list of assigned_inventory_source_ids.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "BulkEditAssignedInventorySourcesRequest",
      "description": "Request message for AssignedInventorySourceService.BulkEdit."
    },
    "IdFilter": {
      "id": "IdFilter",
      "type": "object",
      "properties": {
        "adGroupIds": {
          "description": "YouTube Ad Groups to download by ID. All IDs must belong to the same Advertiser or Partner specified in CreateSdfDownloadTaskRequest.",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array"
        },
        "lineItemIds": {
          "description": "Line Items to download by ID. All IDs must belong to the same Advertiser or Partner specified in CreateSdfDownloadTaskRequest.",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "campaignIds": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "Campaigns to download by ID. All IDs must belong to the same Advertiser or Partner specified in CreateSdfDownloadTaskRequest.",
          "type": "array"
        },
        "insertionOrderIds": {
          "type": "array",
          "description": "Insertion Orders to download by ID. All IDs must belong to the same Advertiser or Partner specified in CreateSdfDownloadTaskRequest.",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "adGroupAdIds": {
          "type": "array",
          "description": "YouTube Ads to download by ID. All IDs must belong to the same Advertiser or Partner specified in CreateSdfDownloadTaskRequest.",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "mediaProductIds": {
          "description": "Media Products to download by ID. All IDs must belong to the same Advertiser or Partner specified in CreateSdfDownloadTaskRequest.",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "A filtering option that filters entities by their entity IDs."
    },
    "VideoAdInventoryControl": {
      "id": "VideoAdInventoryControl",
      "type": "object",
      "description": "The video ad inventory control used in certain YouTube line item types.",
      "properties": {
        "allowShorts": {
          "description": "Optional. Whether ads can serve as shorts format.",
          "type": "boolean"
        },
        "allowNonSkippableInStream": {
          "description": "Optional. Indicates whether ads can serve as non-skippable in-stream format.",
          "type": "boolean"
        },
        "allowInFeed": {
          "type": "boolean",
          "description": "Optional. Whether ads can serve as in-feed format."
        },
        "allowInStream": {
          "description": "Optional. Whether ads can serve as in-stream format.",
          "type": "boolean"
        }
      }
    },
    "ProximityLocationListAssignedTargetingOptionDetails": {
      "description": "Targeting details for proximity location list. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_PROXIMITY_LOCATION_LIST`.",
      "properties": {
        "proximityRadiusUnit": {
          "description": "Required. Radius distance units.",
          "enum": [
            "PROXIMITY_RADIUS_UNIT_UNSPECIFIED",
            "PROXIMITY_RADIUS_UNIT_MILES",
            "PROXIMITY_RADIUS_UNIT_KILOMETERS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value when distance units is not specified in this version. This enum is a place holder for default value and does not represent a real distance unit.",
            "Radius distance unit in miles.",
            "Radius distance unit in kilometeres"
          ]
        },
        "proximityRadius": {
          "description": "Required. Radius expressed in the distance units set in proximity_radius_unit. This represents the size of the area around a chosen location that will be targeted. Radius should be between 1 and 500 miles or 800 kilometers.",
          "type": "number",
          "format": "double"
        },
        "proximityLocationListId": {
          "type": "string",
          "format": "int64",
          "description": "Required. ID of the proximity location list. Should refer to the location_list_id field of a LocationList resource whose type is `TARGETING_LOCATION_TYPE_PROXIMITY`."
        }
      },
      "type": "object",
      "id": "ProximityLocationListAssignedTargetingOptionDetails"
    },
    "ExitEvent": {
      "type": "object",
      "id": "ExitEvent",
      "description": "Exit event of the creative.",
      "properties": {
        "name": {
          "description": "Optional. The name of the click tag of the exit event. The name must be unique within one creative. Leave it empty or unset for creatives containing image assets only.",
          "type": "string"
        },
        "reportingName": {
          "type": "string",
          "description": "Optional. The name used to identify this event in reports. Leave it empty or unset for creatives containing image assets only."
        },
        "url": {
          "description": "Required. The click through URL of the exit event. This is required when type is: * `EXIT_EVENT_TYPE_DEFAULT` * `EXIT_EVENT_TYPE_BACKUP`",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Exit event type is not specified or is unknown in this version.",
            "The exit event is the default one.",
            "The exit event is a backup exit event. There could be multiple backup exit events in a creative."
          ],
          "enum": [
            "EXIT_EVENT_TYPE_UNSPECIFIED",
            "EXIT_EVENT_TYPE_DEFAULT",
            "EXIT_EVENT_TYPE_BACKUP"
          ],
          "type": "string",
          "description": "Required. The type of the exit event."
        }
      }
    },
    "PoiAssignedTargetingOptionDetails": {
      "type": "object",
      "id": "PoiAssignedTargetingOptionDetails",
      "properties": {
        "longitude": {
          "readOnly": true,
          "type": "number",
          "format": "double",
          "description": "Output only. Longitude of the POI rounding to 6th decimal place."
        },
        "latitude": {
          "type": "number",
          "readOnly": true,
          "format": "double",
          "description": "Output only. Latitude of the POI rounding to 6th decimal place."
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. The display name of a POI, e.g. \"Times Square\", \"Space Needle\", followed by its full address if available.",
          "type": "string"
        },
        "proximityRadiusAmount": {
          "type": "number",
          "description": "Required. The radius of the area around the POI that will be targeted. The units of the radius are specified by proximity_radius_unit. Must be 1 to 800 if unit is `DISTANCE_UNIT_KILOMETERS` and 1 to 500 if unit is `DISTANCE_UNIT_MILES`.",
          "format": "double"
        },
        "targetingOptionId": {
          "type": "string",
          "description": "Required. The targeting_option_id of a TargetingOption of type `TARGETING_TYPE_POI`. Accepted POI targeting option IDs can be retrieved using `targetingTypes.targetingOptions.search`. If targeting a specific latitude/longitude coordinate removed from an address or POI name, you can generate the necessary targeting option ID by rounding the desired coordinate values to the 6th decimal place, removing the decimals, and concatenating the string values separated by a semicolon. For example, you can target the latitude/longitude pair of 40.7414691, -74.003387 using the targeting option ID \"40741469;-74003387\". **Upon** **creation, this field value will be updated to append a semicolon and** **alphanumerical hash value if only latitude/longitude coordinates are** **provided.**"
        },
        "proximityRadiusUnit": {
          "enum": [
            "DISTANCE_UNIT_UNSPECIFIED",
            "DISTANCE_UNIT_MILES",
            "DISTANCE_UNIT_KILOMETERS"
          ],
          "enumDescriptions": [
            "Type value is not specified or is unknown in this version.",
            "Miles.",
            "Kilometers."
          ],
          "description": "Required. The unit of distance by which the targeting radius is measured.",
          "type": "string"
        }
      },
      "description": "Details for assigned POI targeting option. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_POI`."
    },
    "BusinessChainAssignedTargetingOptionDetails": {
      "properties": {
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The display name of a business chain, e.g. \"KFC\", \"Chase Bank\"."
        },
        "proximityRadiusUnit": {
          "type": "string",
          "enumDescriptions": [
            "Type value is not specified or is unknown in this version.",
            "Miles.",
            "Kilometers."
          ],
          "description": "Required. The unit of distance by which the targeting radius is measured.",
          "enum": [
            "DISTANCE_UNIT_UNSPECIFIED",
            "DISTANCE_UNIT_MILES",
            "DISTANCE_UNIT_KILOMETERS"
          ]
        },
        "proximityRadiusAmount": {
          "format": "double",
          "description": "Required. The radius of the area around the business chain that will be targeted. The units of the radius are specified by proximity_radius_unit. Must be 1 to 800 if unit is `DISTANCE_UNIT_KILOMETERS` and 1 to 500 if unit is `DISTANCE_UNIT_MILES`. The minimum increment for both cases is 0.1. Inputs will be rounded to the nearest acceptable value if it is too granular, e.g. 15.57 will become 15.6.",
          "type": "number"
        },
        "targetingOptionId": {
          "type": "string",
          "description": "Required. The targeting_option_id of a TargetingOption of type `TARGETING_TYPE_BUSINESS_CHAIN`. Accepted business chain targeting option IDs can be retrieved using SearchTargetingOptions."
        }
      },
      "id": "BusinessChainAssignedTargetingOptionDetails",
      "description": "Details for assigned Business chain targeting option. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_BUSINESS_CHAIN`.",
      "type": "object"
    },
    "SdfDownloadTaskMetadata": {
      "type": "object",
      "description": "Type for the metadata returned by SdfDownloadTaskService.CreateSdfDownloadTask.",
      "properties": {
        "endTime": {
          "description": "The time when execution was completed.",
          "type": "string",
          "format": "google-datetime"
        },
        "version": {
          "enumDescriptions": [
            "SDF version value is not specified or is unknown in this version.",
            "SDF version 3.1",
            "SDF version 4",
            "SDF version 4.1",
            "SDF version 4.2",
            "SDF version 5.",
            "SDF version 5.1",
            "SDF version 5.2",
            "SDF version 5.3",
            "SDF version 5.4",
            "SDF version 5.5",
            "SDF version 6",
            "SDF version 7. Read the [v7 migration guide](/display-video/api/structured-data-file/v7-migration-guide) before migrating to this version.",
            "SDF version 7.1. Read the [v7 migration guide](/display-video/api/structured-data-file/v7-migration-guide) before migrating to this version.",
            "SDF version 8. Read the [v8 migration guide](/display-video/api/structured-data-file/v8-migration-guide) before migrating to this version.",
            "SDF version 8.1.",
            "SDF version 9. Read the [v9 migration guide](/display-video/api/structured-data-file/v9-migration-guide) before migrating to this version.",
            "SDF version 9.1.",
            "SDF version 9.2.",
            "SDF version 10.",
            "SDF version 10.1."
          ],
          "enum": [
            "SDF_VERSION_UNSPECIFIED",
            "SDF_VERSION_3_1",
            "SDF_VERSION_4",
            "SDF_VERSION_4_1",
            "SDF_VERSION_4_2",
            "SDF_VERSION_5",
            "SDF_VERSION_5_1",
            "SDF_VERSION_5_2",
            "SDF_VERSION_5_3",
            "SDF_VERSION_5_4",
            "SDF_VERSION_5_5",
            "SDF_VERSION_6",
            "SDF_VERSION_7",
            "SDF_VERSION_7_1",
            "SDF_VERSION_8",
            "SDF_VERSION_8_1",
            "SDF_VERSION_9",
            "SDF_VERSION_9_1",
            "SDF_VERSION_9_2",
            "SDF_VERSION_10",
            "SDF_VERSION_10_1"
          ],
          "description": "The SDF version used to execute this download task.",
          "enumDeprecated": [
            false,
            true,
            true,
            true,
            true,
            true,
            true,
            true,
            true,
            true,
            true,
            true,
            true,
            true,
            true,
            true,
            false,
            false,
            false,
            false,
            false
          ],
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "The time when the operation was created.",
          "format": "google-datetime"
        }
      },
      "id": "SdfDownloadTaskMetadata"
    },
    "AdvertiserCreativeConfig": {
      "description": "Creatives related settings of an advertiser.",
      "properties": {
        "obaComplianceDisabled": {
          "description": "Whether or not to disable Google's About this Ad feature that adds badging (to identify the content as an ad) and transparency information (on interaction with About this Ad) to your ads for Online Behavioral Advertising (OBA) and regulatory requirements. About this Ad gives users greater control over the ads they see and helps you explain why they're seeing your ad. [Learn more](//support.google.com/displayvideo/answer/14315795). If you choose to set this field to `true`, note that ads served through Display & Video 360 must comply to the following: * Be Online Behavioral Advertising (OBA) compliant, as per your contract with Google Marketing Platform. * In the European Economic Area (EEA), include transparency information and a mechanism for users to report illegal content in ads. If using an alternative ad badging, transparency, and reporting solution, you must ensure it includes the required transparency information and illegal content flagging mechanism and that you notify Google of any illegal content reports using the appropriate [form](//support.google.com/legal/troubleshooter/1114905?sjid=6787484030557261960-EU#ts=2981967%2C2982031%2C12980091).",
          "type": "boolean"
        },
        "dynamicCreativeEnabled": {
          "type": "boolean",
          "description": "Whether or not the advertiser is enabled for dynamic creatives."
        },
        "videoCreativeDataSharingAuthorized": {
          "type": "boolean",
          "description": "By setting this field to `true`, you, on behalf of your company, authorize Google to use video creatives associated with this Display & Video 360 advertiser to provide reporting and features related to the advertiser's television campaigns. Applicable only when the advertiser has a CM360 hybrid ad server configuration."
        },
        "iasClientId": {
          "type": "string",
          "description": "An ID for configuring campaign monitoring provided by Integral Ad Service (IAS). The DV360 system will append an IAS \"Campaign Monitor\" tag containing this ID to the creative tag.",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "AdvertiserCreativeConfig"
    },
    "AppAssignedTargetingOptionDetails": {
      "description": "Details for assigned app targeting option. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_APP`.",
      "type": "object",
      "id": "AppAssignedTargetingOptionDetails",
      "properties": {
        "negative": {
          "description": "Indicates if this option is being negatively targeted.",
          "type": "boolean"
        },
        "appId": {
          "type": "string",
          "description": "Required. The ID of the app. Android's Play store app uses bundle ID, for example `com.google.android.gm`. Apple's App store app ID uses 9 digit string, for example `422689480`."
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The display name of the app."
        },
        "appPlatform": {
          "enumDescriptions": [
            "Default value when app platform is not specified in this version. This enum is a placeholder for default value and does not represent a real platform option.",
            "The app platform is iOS.",
            "The app platform is Android.",
            "The app platform is Roku.",
            "The app platform is Amazon FireTV.",
            "The app platform is Playstation.",
            "The app platform is Apple TV.",
            "The app platform is Xbox.",
            "The app platform is Samsung TV.",
            "The app platform is Android TV.",
            "The app platform is a CTV platform that is not explicitly listed elsewhere.",
            "The app platform is LG TV.",
            "The app platform is VIZIO TV.",
            "The app platform is Vidaa."
          ],
          "type": "string",
          "enum": [
            "APP_PLATFORM_UNSPECIFIED",
            "APP_PLATFORM_IOS",
            "APP_PLATFORM_ANDROID",
            "APP_PLATFORM_ROKU",
            "APP_PLATFORM_AMAZON_FIRETV",
            "APP_PLATFORM_PLAYSTATION",
            "APP_PLATFORM_APPLE_TV",
            "APP_PLATFORM_XBOX",
            "APP_PLATFORM_SAMSUNG_TV",
            "APP_PLATFORM_ANDROID_TV",
            "APP_PLATFORM_GENERIC_CTV",
            "APP_PLATFORM_LG_TV",
            "APP_PLATFORM_VIZIO_TV",
            "APP_PLATFORM_VIDAA"
          ],
          "description": "Indicates the platform of the targeted app. If this field is not specified, the app platform will be assumed to be mobile (i.e., Android or iOS), and we will derive the appropriate mobile platform from the app ID."
        }
      }
    },
    "Partner": {
      "properties": {
        "name": {
          "description": "Output only. The resource name of the partner.",
          "type": "string",
          "readOnly": true
        },
        "adServerConfig": {
          "description": "Ad server related settings of the partner.",
          "$ref": "PartnerAdServerConfig"
        },
        "generalConfig": {
          "description": "General settings of the partner.",
          "$ref": "PartnerGeneralConfig"
        },
        "entityStatus": {
          "enumDescriptions": [
            "Default value when status is not specified or is unknown in this version.",
            "The entity is enabled to bid and spend budget.",
            "The entity is archived. Bidding and budget spending are disabled. An entity can be deleted after archived. Deleted entities cannot be retrieved.",
            "The entity is under draft. Bidding and budget spending are disabled.",
            "Bidding and budget spending are paused for the entity.",
            "The entity is scheduled for deletion."
          ],
          "enum": [
            "ENTITY_STATUS_UNSPECIFIED",
            "ENTITY_STATUS_ACTIVE",
            "ENTITY_STATUS_ARCHIVED",
            "ENTITY_STATUS_DRAFT",
            "ENTITY_STATUS_PAUSED",
            "ENTITY_STATUS_SCHEDULED_FOR_DELETION"
          ],
          "type": "string",
          "description": "Output only. The status of the partner.",
          "readOnly": true
        },
        "displayName": {
          "description": "The display name of the partner. Must be UTF-8 encoded with a maximum size of 240 bytes.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the partner was last updated. Assigned by the system.",
          "type": "string",
          "format": "google-datetime"
        },
        "dataAccessConfig": {
          "description": "Settings that control how partner data may be accessed.",
          "$ref": "PartnerDataAccessConfig"
        },
        "exchangeConfig": {
          "$ref": "ExchangeConfig",
          "description": "Settings that control which exchanges are enabled for the partner."
        },
        "partnerId": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The unique ID of the partner. Assigned by the system.",
          "type": "string"
        }
      },
      "id": "Partner",
      "description": "A single partner in Display & Video 360 (DV360).",
      "type": "object"
    },
    "CustomList": {
      "id": "CustomList",
      "type": "object",
      "description": "Describes a custom list entity, such as a custom affinity or custom intent audience list.",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the custom list."
        },
        "customListId": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. The unique ID of the custom list. Assigned by the system."
        },
        "displayName": {
          "description": "Output only. The display name of the custom list. .",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "UniversalAdId": {
      "id": "UniversalAdId",
      "description": "A creative identifier provided by a registry that is unique across all platforms. This is part of the VAST 4.0 standard.",
      "type": "object",
      "properties": {
        "registry": {
          "description": "Optional. The registry provides unique creative identifiers.",
          "enum": [
            "UNIVERSAL_AD_REGISTRY_UNSPECIFIED",
            "UNIVERSAL_AD_REGISTRY_OTHER",
            "UNIVERSAL_AD_REGISTRY_AD_ID",
            "UNIVERSAL_AD_REGISTRY_CLEARCAST",
            "UNIVERSAL_AD_REGISTRY_DV360",
            "UNIVERSAL_AD_REGISTRY_CM"
          ],
          "type": "string",
          "enumDescriptions": [
            "The Universal Ad registry is unspecified or is unknown in this version.",
            "Use a custom provider to provide the Universal Ad ID.",
            "Use Ad-ID to provide the Universal Ad ID.",
            "Use clearcast.co.uk to provide the Universal Ad ID.",
            "Use Display & Video 360 to provide the Universal Ad ID.",
            "Use Campaign Manager 360 to provide the Universal Ad ID."
          ]
        },
        "id": {
          "description": "Optional. The unique creative identifier.",
          "type": "string"
        }
      }
    },
    "AdvertiserAdServerConfig": {
      "description": "Ad server related settings of an advertiser.",
      "id": "AdvertiserAdServerConfig",
      "properties": {
        "cmHybridConfig": {
          "description": "The configuration for advertisers that use both Campaign Manager 360 (CM360) and third-party ad servers.",
          "$ref": "CmHybridConfig"
        },
        "thirdPartyOnlyConfig": {
          "description": "The configuration for advertisers that use third-party ad servers only.",
          "$ref": "ThirdPartyOnlyConfig"
        }
      },
      "type": "object"
    },
    "IntegralAdScience": {
      "properties": {
        "displayViewability": {
          "enumDescriptions": [
            "This enum is only a placeholder and it doesn't specify any display viewability options.",
            "Target 40% Viewability or Higher.",
            "Target 50% Viewability or Higher.",
            "Target 60% Viewability or Higher.",
            "Target 70% Viewability or Higher."
          ],
          "enum": [
            "PERFORMANCE_VIEWABILITY_UNSPECIFIED",
            "PERFORMANCE_VIEWABILITY_40",
            "PERFORMANCE_VIEWABILITY_50",
            "PERFORMANCE_VIEWABILITY_60",
            "PERFORMANCE_VIEWABILITY_70"
          ],
          "type": "string",
          "description": "Display Viewability section (applicable to display line items only)."
        },
        "excludedAdFraudRisk": {
          "description": "Ad Fraud settings.",
          "type": "string",
          "enum": [
            "SUSPICIOUS_ACTIVITY_UNSPECIFIED",
            "SUSPICIOUS_ACTIVITY_HR",
            "SUSPICIOUS_ACTIVITY_HMR",
            "SUSPICIOUS_ACTIVITY_FD"
          ],
          "enumDescriptions": [
            "This enum is only a placeholder and it doesn't specify any ad fraud prevention options.",
            "Ad Fraud - Exclude High Risk.",
            "Ad Fraud - Exclude High and Moderate Risk.",
            "Ad Fraud - Exclude Fraudulent Device."
          ]
        },
        "excludedGamblingRisk": {
          "description": "Brand Safety - **Gambling**.",
          "type": "string",
          "enumDescriptions": [
            "This enum is only a placeholder and it doesn't specify any gambling options.",
            "Gambling - Exclude High Risk.",
            "Gambling - Exclude High and Moderate Risk."
          ],
          "enum": [
            "GAMBLING_UNSPECIFIED",
            "GAMBLING_HR",
            "GAMBLING_HMR"
          ]
        },
        "traqScoreOption": {
          "type": "string",
          "enumDescriptions": [
            "This enum is only a placeholder and it doesn't specify any true advertising quality scores.",
            "TRAQ score 250-1000.",
            "TRAQ score 500-1000.",
            "TRAQ score 600-1000.",
            "TRAQ score 700-1000.",
            "TRAQ score 750-1000.",
            "TRAQ score 875-1000.",
            "TRAQ score 1000."
          ],
          "enum": [
            "TRAQ_UNSPECIFIED",
            "TRAQ_250",
            "TRAQ_500",
            "TRAQ_600",
            "TRAQ_700",
            "TRAQ_750",
            "TRAQ_875",
            "TRAQ_1000"
          ],
          "description": "True advertising quality (applicable to Display line items only)."
        },
        "excludedOffensiveLanguageRisk": {
          "enum": [
            "OFFENSIVE_LANGUAGE_UNSPECIFIED",
            "OFFENSIVE_LANGUAGE_HR",
            "OFFENSIVE_LANGUAGE_HMR"
          ],
          "enumDescriptions": [
            "This enum is only a placeholder and it doesn't specify any language options.",
            "Offensive Language - Exclude High Risk.",
            "Offensive Language - Exclude High and Moderate Risk."
          ],
          "description": "Brand Safety - **Offensive language**.",
          "type": "string"
        },
        "videoViewability": {
          "enumDescriptions": [
            "This enum is only a placeholder and it doesn't specify any video viewability options.",
            "40%+ in view (IAB video viewability standard).",
            "50%+ in view (IAB video viewability standard).",
            "60%+ in view (IAB video viewability standard).",
            "70%+ in view (IAB video viewability standard)."
          ],
          "type": "string",
          "enum": [
            "VIDEO_VIEWABILITY_UNSPECIFIED",
            "VIDEO_VIEWABILITY_40",
            "VIDEO_VIEWABILITY_50",
            "VIDEO_VIEWABILITY_60",
            "VIDEO_VIEWABILITY_70"
          ],
          "description": "Video Viewability Section (applicable to video line items only)."
        },
        "excludedViolenceRisk": {
          "type": "string",
          "enum": [
            "VIOLENCE_UNSPECIFIED",
            "VIOLENCE_HR",
            "VIOLENCE_HMR"
          ],
          "description": "Brand Safety - **Violence**.",
          "enumDescriptions": [
            "This enum is only a placeholder and it doesn't specify any violence options.",
            "Violence - Exclude High Risk.",
            "Violence - Exclude High and Moderate Risk."
          ]
        },
        "excludedAlcoholRisk": {
          "type": "string",
          "enumDescriptions": [
            "This enum is only a placeholder and it doesn't specify any alcohol options.",
            "Alcohol - Exclude High Risk.",
            "Alcohol - Exclude High and Moderate Risk."
          ],
          "enum": [
            "ALCOHOL_UNSPECIFIED",
            "ALCOHOL_HR",
            "ALCOHOL_HMR"
          ],
          "description": "Brand Safety - **Alcohol**."
        },
        "excludeUnrateable": {
          "description": "Brand Safety - **Unrateable**.",
          "type": "boolean"
        },
        "excludedAdultRisk": {
          "type": "string",
          "enumDescriptions": [
            "This enum is only a placeholder and it doesn't specify any adult options.",
            "Adult - Exclude High Risk.",
            "Adult - Exclude High and Moderate Risk."
          ],
          "description": "Brand Safety - **Adult content**.",
          "enum": [
            "ADULT_UNSPECIFIED",
            "ADULT_HR",
            "ADULT_HMR"
          ]
        },
        "excludedDrugsRisk": {
          "type": "string",
          "description": "Brand Safety - **Drugs**.",
          "enumDescriptions": [
            "This enum is only a placeholder and it doesn't specify any drugs options.",
            "Drugs - Exclude High Risk.",
            "Drugs - Exclude High and Moderate Risk."
          ],
          "enum": [
            "DRUGS_UNSPECIFIED",
            "DRUGS_HR",
            "DRUGS_HMR"
          ]
        },
        "excludedHateSpeechRisk": {
          "type": "string",
          "enum": [
            "HATE_SPEECH_UNSPECIFIED",
            "HATE_SPEECH_HR",
            "HATE_SPEECH_HMR"
          ],
          "description": "Brand Safety - **Hate speech**.",
          "enumDescriptions": [
            "This enum is only a placeholder and it doesn't specify any hate speech options.",
            "Hate Speech - Exclude High Risk.",
            "Hate Speech - Exclude High and Moderate Risk."
          ]
        },
        "excludedIllegalDownloadsRisk": {
          "enum": [
            "ILLEGAL_DOWNLOADS_UNSPECIFIED",
            "ILLEGAL_DOWNLOADS_HR",
            "ILLEGAL_DOWNLOADS_HMR"
          ],
          "description": "Brand Safety - **Illegal downloads**.",
          "type": "string",
          "enumDescriptions": [
            "This enum is only a placeholder and it doesn't specify any illegal downloads options.",
            "Illegal Downloads - Exclude High Risk.",
            "Illegal Downloads - Exclude High and Moderate Risk."
          ]
        },
        "customSegmentId": {
          "type": "array",
          "description": "The custom segment ID provided by Integral Ad Science. The ID must be between `1000001` and `1999999` or `3000001` and `3999999`, inclusive.",
          "items": {
            "type": "string",
            "format": "int64"
          }
        }
      },
      "description": "Details of Integral Ad Science settings.",
      "id": "IntegralAdScience",
      "type": "object"
    },
    "SdfConfig": {
      "description": "Structured Data File (SDF) related settings.",
      "id": "SdfConfig",
      "properties": {
        "version": {
          "description": "Required. The version of SDF being used.",
          "enumDeprecated": [
            false,
            true,
            true,
            true,
            true,
            true,
            true,
            true,
            true,
            true,
            true,
            true,
            true,
            true,
            true,
            true,
            false,
            false,
            false,
            false,
            false
          ],
          "type": "string",
          "enumDescriptions": [
            "SDF version value is not specified or is unknown in this version.",
            "SDF version 3.1",
            "SDF version 4",
            "SDF version 4.1",
            "SDF version 4.2",
            "SDF version 5.",
            "SDF version 5.1",
            "SDF version 5.2",
            "SDF version 5.3",
            "SDF version 5.4",
            "SDF version 5.5",
            "SDF version 6",
            "SDF version 7. Read the [v7 migration guide](/display-video/api/structured-data-file/v7-migration-guide) before migrating to this version.",
            "SDF version 7.1. Read the [v7 migration guide](/display-video/api/structured-data-file/v7-migration-guide) before migrating to this version.",
            "SDF version 8. Read the [v8 migration guide](/display-video/api/structured-data-file/v8-migration-guide) before migrating to this version.",
            "SDF version 8.1.",
            "SDF version 9. Read the [v9 migration guide](/display-video/api/structured-data-file/v9-migration-guide) before migrating to this version.",
            "SDF version 9.1.",
            "SDF version 9.2.",
            "SDF version 10.",
            "SDF version 10.1."
          ],
          "enum": [
            "SDF_VERSION_UNSPECIFIED",
            "SDF_VERSION_3_1",
            "SDF_VERSION_4",
            "SDF_VERSION_4_1",
            "SDF_VERSION_4_2",
            "SDF_VERSION_5",
            "SDF_VERSION_5_1",
            "SDF_VERSION_5_2",
            "SDF_VERSION_5_3",
            "SDF_VERSION_5_4",
            "SDF_VERSION_5_5",
            "SDF_VERSION_6",
            "SDF_VERSION_7",
            "SDF_VERSION_7_1",
            "SDF_VERSION_8",
            "SDF_VERSION_8_1",
            "SDF_VERSION_9",
            "SDF_VERSION_9_1",
            "SDF_VERSION_9_2",
            "SDF_VERSION_10",
            "SDF_VERSION_10_1"
          ]
        },
        "adminEmail": {
          "type": "string",
          "description": "An administrator email address to which the SDF processing status reports will be sent."
        }
      },
      "type": "object"
    },
    "CombinedAudience": {
      "type": "object",
      "id": "CombinedAudience",
      "properties": {
        "name": {
          "description": "Output only. The resource name of the combined audience.",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "Output only. The display name of the combined audience. .",
          "readOnly": true
        },
        "combinedAudienceId": {
          "description": "Output only. The unique ID of the combined audience. Assigned by the system.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Describes a combined audience resource."
    },
    "DoubleVerify": {
      "description": "Details of DoubleVerify settings.",
      "id": "DoubleVerify",
      "properties": {
        "displayViewability": {
          "description": "Display viewability settings (applicable to display line items only).",
          "$ref": "DoubleVerifyDisplayViewability"
        },
        "fraudInvalidTraffic": {
          "description": "Avoid Sites and Apps with historical Fraud & IVT Rates.",
          "$ref": "DoubleVerifyFraudInvalidTraffic"
        },
        "brandSafetyCategories": {
          "description": "DV Brand Safety Controls.",
          "$ref": "DoubleVerifyBrandSafetyCategories"
        },
        "appStarRating": {
          "$ref": "DoubleVerifyAppStarRating",
          "description": "Avoid bidding on apps with the star ratings."
        },
        "videoViewability": {
          "$ref": "DoubleVerifyVideoViewability",
          "description": "Video viewability settings (applicable to video line items only)."
        },
        "avoidedAgeRatings": {
          "description": "Avoid bidding on apps with the age rating.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "This enum is only a placeholder and it doesn't specify any age rating options.",
              "Apps with unknown age rating.",
              "Apps rated for Everyone (4+).",
              "Apps rated for Everyone (9+).",
              "Apps rated for Teens (12+).",
              "Apps rated for Mature (17+).",
              "Apps rated for Adults Only (18+)."
            ],
            "enum": [
              "AGE_RATING_UNSPECIFIED",
              "APP_AGE_RATE_UNKNOWN",
              "APP_AGE_RATE_4_PLUS",
              "APP_AGE_RATE_9_PLUS",
              "APP_AGE_RATE_12_PLUS",
              "APP_AGE_RATE_17_PLUS",
              "APP_AGE_RATE_18_PLUS"
            ]
          }
        },
        "customSegmentId": {
          "type": "string",
          "format": "int64",
          "description": "The custom segment ID provided by DoubleVerify. The ID must start with \"51\" and consist of eight digits. Custom segment ID cannot be specified along with any of the following fields: * brand_safety_categories * avoided_age_ratings * app_star_rating * fraud_invalid_traffic"
        }
      },
      "type": "object"
    },
    "Pacing": {
      "type": "object",
      "description": "Settings that control the rate at which a budget is spent.",
      "properties": {
        "pacingType": {
          "enumDescriptions": [
            "Pacing mode value is not specified or is unknown in this version.",
            "Only applicable to `PACING_PERIOD_FLIGHT` pacing period. Ahead pacing attempts to spend faster than evenly, to make sure the entire budget is spent by the end of the flight.",
            "Spend all of pacing budget amount as quick as possible.",
            "Spend a consistent budget amount every period of time."
          ],
          "enum": [
            "PACING_TYPE_UNSPECIFIED",
            "PACING_TYPE_AHEAD",
            "PACING_TYPE_ASAP",
            "PACING_TYPE_EVEN"
          ],
          "description": "Required. The type of pacing that defines how the budget amount will be spent across the pacing_period. `PACING_TYPE_ASAP` is not compatible with pacing_period `PACING_PERIOD_FLIGHT` for insertion orders.",
          "type": "string"
        },
        "dailyMaxMicros": {
          "type": "string",
          "description": "Maximum currency amount to spend every day in micros of advertiser's currency. Applicable when the budget is currency based. Must be greater than 0. For example, for 1.5 standard unit of the currency, set this field to 1500000. The value assigned will be rounded to whole billable units for the relevant currency by the following rules: any positive value less than a single billable unit will be rounded up to one billable unit and any value larger than a single billable unit will be rounded down to the nearest billable value. For example, if the currency's billable unit is 0.01, and this field is set to 10257770, it will round down to 10250000, a value of 10.25. If set to 505, it will round up to 10000, a value of 0.01.",
          "format": "int64"
        },
        "pacingPeriod": {
          "enum": [
            "PACING_PERIOD_UNSPECIFIED",
            "PACING_PERIOD_DAILY",
            "PACING_PERIOD_FLIGHT"
          ],
          "enumDescriptions": [
            "Period value is not specified or is unknown in this version.",
            "The pacing setting will be applied on daily basis.",
            "The pacing setting will be applied to the whole flight duration."
          ],
          "type": "string",
          "description": "Required. The time period in which the pacing budget will be spent. When automatic budget allocation is enabled at the insertion order via automationType, this field is output only and defaults to `PACING_PERIOD_FLIGHT`."
        },
        "dailyMaxImpressions": {
          "type": "string",
          "format": "int64",
          "description": "Maximum number of impressions to serve every day. Applicable when the budget is impression based. Must be greater than 0."
        }
      },
      "id": "Pacing"
    },
    "GoogleAudienceTargetingSetting": {
      "id": "GoogleAudienceTargetingSetting",
      "type": "object",
      "properties": {
        "googleAudienceId": {
          "description": "Required. Google audience id of the Google audience targeting setting. This id is google_audience_id.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Details of Google audience targeting setting."
    },
    "FloodlightGroup": {
      "id": "FloodlightGroup",
      "properties": {
        "floodlightGroupId": {
          "description": "Output only. The unique ID of the Floodlight group. Assigned by the system.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "webTagType": {
          "type": "string",
          "enumDescriptions": [
            "Type value is not specified or is unknown in this version.",
            "No tag type.",
            "Image tag.",
            "Dynamic tag."
          ],
          "description": "Required. The web tag type enabled for the Floodlight group.",
          "enum": [
            "WEB_TAG_TYPE_UNSPECIFIED",
            "WEB_TAG_TYPE_NONE",
            "WEB_TAG_TYPE_IMAGE",
            "WEB_TAG_TYPE_DYNAMIC"
          ]
        },
        "activeViewConfig": {
          "description": "The Active View video viewability metric configuration for the Floodlight group.",
          "$ref": "ActiveViewVideoViewabilityMetricConfig"
        },
        "lookbackWindow": {
          "$ref": "LookbackWindow",
          "description": "Required. The lookback window for the Floodlight group. Both click_days and impression_days are required. Acceptable values for both are `0` to `90`, inclusive."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name of the Floodlight group.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The display name of the Floodlight group.",
          "type": "string"
        },
        "customVariables": {
          "description": "User-defined custom variables owned by the Floodlight group. Use custom Floodlight variables to create reporting data that is tailored to your unique business needs. Custom Floodlight variables use the keys `U1=`, `U2=`, and so on, and can take any values that you choose to pass to them. You can use them to track virtually any type of data that you collect about your customers, such as the genre of movie that a customer purchases, the country to which the item is shipped, and so on. Custom Floodlight variables may not be used to pass any data that could be used or recognized as personally identifiable information (PII). Example: `custom_variables { fields { \"U1\": value { number_value: 123.4 }, \"U2\": value { string_value: \"MyVariable2\" }, \"U3\": value { string_value: \"MyVariable3\" } } }` Acceptable values for keys are \"U1\" through \"U100\", inclusive. String values must be less than 64 characters long, and cannot contain the following characters: `\"<>`.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      },
      "description": "A single Floodlight group.",
      "type": "object"
    },
    "YoutubeAndPartnersSettings": {
      "type": "object",
      "id": "YoutubeAndPartnersSettings",
      "description": "Settings for YouTube and Partners line items.",
      "properties": {
        "thirdPartyMeasurementSettings": {
          "description": "Optional. The third-party measurement settings of the line item.",
          "$ref": "YoutubeAndPartnersThirdPartyMeasurementSettings"
        },
        "viewFrequencyCap": {
          "description": "The view frequency cap settings of the line item. The max_views field in this settings object must be used if assigning a limited cap.",
          "$ref": "FrequencyCap"
        },
        "inventorySourceSettings": {
          "$ref": "YoutubeAndPartnersInventorySourceConfig",
          "description": "Settings that control what YouTube and Partners inventories the line item will target."
        },
        "linkedMerchantId": {
          "format": "int64",
          "description": "Optional. The ID of the Merchant Center account used to provide a product feed. This Merchant Center account must already be linked to the advertiser.",
          "type": "string"
        },
        "biddingStrategy": {
          "$ref": "YoutubeAndPartnersBiddingStrategy",
          "description": "Required. The bidding strategy of the YouTube and Partners line item."
        },
        "contentCategory": {
          "enum": [
            "YOUTUBE_AND_PARTNERS_CONTENT_CATEGORY_UNSPECIFIED",
            "YOUTUBE_AND_PARTNERS_CONTENT_CATEGORY_STANDARD",
            "YOUTUBE_AND_PARTNERS_CONTENT_CATEGORY_EXPANDED",
            "YOUTUBE_AND_PARTNERS_CONTENT_CATEGORY_LIMITED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Content category is not specified or is unknown in this version.",
            "A category consisting of a wide range of content appropriate for most brands. The content is based off of YouTube's [advertiser-friendly content guidelines](https://support.google.com/youtube/answer/6162278).",
            "A category including all content across YouTube and video partners that meets standards for monetization.",
            "A category consisting of a reduced range of content that meets heightened requirements, especially regarding inappropriate language and sexual suggestiveness."
          ],
          "type": "string",
          "description": "Output only. The kind of content on which the YouTube and Partners ads will be shown. *Warning*: This field will be removed in the near future. Use effective_content_category instead."
        },
        "effectiveContentCategory": {
          "type": "string",
          "description": "Output only. The content category which takes effect when serving the line item. When content category is set in both line item and advertiser, the stricter one will take effect when serving the line item. New line items will only inherit the advertiser level setting.",
          "enum": [
            "YOUTUBE_AND_PARTNERS_CONTENT_CATEGORY_UNSPECIFIED",
            "YOUTUBE_AND_PARTNERS_CONTENT_CATEGORY_STANDARD",
            "YOUTUBE_AND_PARTNERS_CONTENT_CATEGORY_EXPANDED",
            "YOUTUBE_AND_PARTNERS_CONTENT_CATEGORY_LIMITED"
          ],
          "enumDescriptions": [
            "Content category is not specified or is unknown in this version.",
            "A category consisting of a wide range of content appropriate for most brands. The content is based off of YouTube's [advertiser-friendly content guidelines](https://support.google.com/youtube/answer/6162278).",
            "A category including all content across YouTube and video partners that meets standards for monetization.",
            "A category consisting of a reduced range of content that meets heightened requirements, especially regarding inappropriate language and sexual suggestiveness."
          ],
          "readOnly": true
        },
        "videoAdInventoryControl": {
          "description": "Optional. The settings to control which inventory is allowed for this line item.",
          "$ref": "VideoAdInventoryControl"
        },
        "videoAdSequenceSettings": {
          "$ref": "VideoAdSequenceSettings",
          "description": "Optional. The settings related to VideoAdSequence."
        },
        "relatedVideoIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The IDs of the videos appear below the primary video ad when the ad is playing in the YouTube app on mobile devices."
        },
        "leadFormId": {
          "format": "int64",
          "description": "Optional. The ID of the form to generate leads.",
          "type": "string"
        },
        "targetFrequency": {
          "description": "Optional. The average number of times you want ads from this line item to show to the same person over a certain period of time.",
          "$ref": "TargetFrequency"
        }
      }
    },
    "FrequencyCap": {
      "description": "Settings that control the number of times a user may be shown with the same ad during a given time period.",
      "type": "object",
      "id": "FrequencyCap",
      "properties": {
        "timeUnit": {
          "description": "The time unit in which the frequency cap will be applied. Required when unlimited is `false`.",
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false
          ],
          "type": "string",
          "enum": [
            "TIME_UNIT_UNSPECIFIED",
            "TIME_UNIT_LIFETIME",
            "TIME_UNIT_MONTHS",
            "TIME_UNIT_WEEKS",
            "TIME_UNIT_DAYS",
            "TIME_UNIT_HOURS",
            "TIME_UNIT_MINUTES"
          ],
          "enumDescriptions": [
            "Time unit value is not specified or is unknown in this version.",
            "The frequency cap will be applied to the whole life time of the line item.",
            "The frequency cap will be applied to a number of months.",
            "The frequency cap will be applied to a number of weeks.",
            "The frequency cap will be applied to a number of days.",
            "The frequency cap will be applied to a number of hours.",
            "The frequency cap will be applied to a number of minutes."
          ]
        },
        "maxImpressions": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of times a user may be shown the same ad during this period. Must be greater than 0. Required when unlimited is `false` and max_views is not set."
        },
        "unlimited": {
          "type": "boolean",
          "description": "Whether unlimited frequency capping is applied. When this field is set to `true`, the remaining frequency cap fields are not applicable."
        },
        "maxViews": {
          "description": "Optional. The maximum number of times a user may click-through or fully view an ad during this period until it is no longer served to them. Must be greater than 0. Only applicable to YouTube and Partners resources. Required when unlimited is `false` and max_impressions is not set.",
          "type": "integer",
          "format": "int32"
        },
        "timeUnitCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of time_unit the frequency cap will last. Required when unlimited is `false`. The following restrictions apply based on the value of time_unit: * `TIME_UNIT_MONTHS` - must be 1 * `TIME_UNIT_WEEKS` - must be between 1 and 4 * `TIME_UNIT_DAYS` - must be between 1 and 6 * `TIME_UNIT_HOURS` - must be between 1 and 23 * `TIME_UNIT_MINUTES` - must be between 1 and 59"
        }
      }
    },
    "ViewabilityAssignedTargetingOptionDetails": {
      "type": "object",
      "description": "Assigned viewability targeting option details. This will be populated in the viewability_details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_VIEWABILITY`.",
      "id": "ViewabilityAssignedTargetingOptionDetails",
      "properties": {
        "viewability": {
          "enumDescriptions": [
            "Default value when viewability is not specified in this version. This enum is a placeholder for default value and does not represent a real viewability option.",
            "Bid only on impressions that are at least 10% likely to be viewable.",
            "Bid only on impressions that are at least 20% likely to be viewable.",
            "Bid only on impressions that are at least 30% likely to be viewable.",
            "Bid only on impressions that are at least 40% likely to be viewable.",
            "Bid only on impressions that are at least 50% likely to be viewable.",
            "Bid only on impressions that are at least 60% likely to be viewable.",
            "Bid only on impressions that are at least 70% likely to be viewable.",
            "Bid only on impressions that are at least 80% likely to be viewable.",
            "Bid only on impressions that are at least 90% likely to be viewable."
          ],
          "description": "Required. The predicted viewability percentage.",
          "enum": [
            "VIEWABILITY_UNSPECIFIED",
            "VIEWABILITY_10_PERCENT_OR_MORE",
            "VIEWABILITY_20_PERCENT_OR_MORE",
            "VIEWABILITY_30_PERCENT_OR_MORE",
            "VIEWABILITY_40_PERCENT_OR_MORE",
            "VIEWABILITY_50_PERCENT_OR_MORE",
            "VIEWABILITY_60_PERCENT_OR_MORE",
            "VIEWABILITY_70_PERCENT_OR_MORE",
            "VIEWABILITY_80_PERCENT_OR_MORE",
            "VIEWABILITY_90_PERCENT_OR_MORE"
          ],
          "type": "string"
        }
      }
    },
    "CampaignGoal": {
      "description": "Settings that control the goal of a campaign.",
      "properties": {
        "performanceGoal": {
          "description": "Required. The performance goal of the campaign. Acceptable values for performance_goal_type are: * `PERFORMANCE_GOAL_TYPE_CPM` * `PERFORMANCE_GOAL_TYPE_CPC` * `PERFORMANCE_GOAL_TYPE_CPA` * `PERFORMANCE_GOAL_TYPE_CPIAVC` * `PERFORMANCE_GOAL_TYPE_CTR` * `PERFORMANCE_GOAL_TYPE_VIEWABILITY` * `PERFORMANCE_GOAL_TYPE_OTHER`",
          "$ref": "PerformanceGoal"
        },
        "campaignGoalType": {
          "type": "string",
          "enumDescriptions": [
            "Goal value is not specified or unknown in this version.",
            "Drive app installs or engagements.",
            "Raise awareness of a brand or product.",
            "Drive offline or in-store sales.",
            "Drive online action or visits."
          ],
          "enum": [
            "CAMPAIGN_GOAL_TYPE_UNSPECIFIED",
            "CAMPAIGN_GOAL_TYPE_APP_INSTALL",
            "CAMPAIGN_GOAL_TYPE_BRAND_AWARENESS",
            "CAMPAIGN_GOAL_TYPE_OFFLINE_ACTION",
            "CAMPAIGN_GOAL_TYPE_ONLINE_ACTION"
          ],
          "description": "Required. The type of the campaign goal."
        }
      },
      "type": "object",
      "id": "CampaignGoal"
    },
    "DemandGenSettings": {
      "type": "object",
      "properties": {
        "linkedMerchantId": {
          "description": "Optional. The ID of the Merchant Center account used to provide a product feed. This Merchant Center account must already be linked to the advertiser.",
          "format": "int64",
          "type": "string"
        },
        "thirdPartyMeasurementConfigs": {
          "$ref": "ThirdPartyMeasurementConfigs",
          "description": "Optional. The third party measurement settings for the Demand Gen line item."
        },
        "geoLanguageTargetingEnabled": {
          "description": "Optional. Immutable. Whether location and language targeting can be set at the line item level. Otherwise, relevant targeting types must be assigned directly to ad groups.",
          "type": "boolean"
        }
      },
      "description": "Settings for Demand Gen line items.",
      "id": "DemandGenSettings"
    },
    "HouseholdIncomeAssignedTargetingOptionDetails": {
      "description": "Details for assigned household income targeting option. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_HOUSEHOLD_INCOME`.",
      "properties": {
        "householdIncome": {
          "enum": [
            "HOUSEHOLD_INCOME_UNSPECIFIED",
            "HOUSEHOLD_INCOME_UNKNOWN",
            "HOUSEHOLD_INCOME_LOWER_50_PERCENT",
            "HOUSEHOLD_INCOME_TOP_41_TO_50_PERCENT",
            "HOUSEHOLD_INCOME_TOP_31_TO_40_PERCENT",
            "HOUSEHOLD_INCOME_TOP_21_TO_30_PERCENT",
            "HOUSEHOLD_INCOME_TOP_11_TO_20_PERCENT",
            "HOUSEHOLD_INCOME_TOP_10_PERCENT"
          ],
          "description": "Required. The household income of the audience.",
          "enumDescriptions": [
            "Default value when household income is not specified in this version. This enum is a placeholder for default value and does not represent a real household income option.",
            "The household income of the audience is unknown.",
            "The audience is in the lower 50% of U.S. household incomes.",
            "The audience is in the top 41-50% of U.S. household incomes.",
            "The audience is in the top 31-40% of U.S. household incomes.",
            "The audience is in the top 21-30% of U.S. household incomes.",
            "The audience is in the top 11-20% of U.S. household incomes.",
            "The audience is in the top 10% of U.S. household incomes."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "HouseholdIncomeAssignedTargetingOptionDetails"
    },
    "BulkEditAssignedLocationsResponse": {
      "type": "object",
      "id": "BulkEditAssignedLocationsResponse",
      "properties": {
        "assignedLocations": {
          "items": {
            "$ref": "AssignedLocation"
          },
          "description": "The list of assigned locations that have been successfully created. This list will be absent if empty.",
          "type": "array"
        }
      }
    },
    "ReplaceSitesRequest": {
      "id": "ReplaceSitesRequest",
      "type": "object",
      "properties": {
        "newSites": {
          "type": "array",
          "description": "The sites that will replace the existing sites assigned to the channel, specified as a list of Sites.",
          "items": {
            "$ref": "Site"
          }
        },
        "advertiserId": {
          "type": "string",
          "description": "The ID of the advertiser that owns the parent channel.",
          "format": "int64"
        },
        "partnerId": {
          "type": "string",
          "description": "The ID of the partner that owns the parent channel.",
          "format": "int64"
        }
      },
      "description": "Request message for SiteService.ReplaceSites."
    },
    "PerformanceGoal": {
      "id": "PerformanceGoal",
      "type": "object",
      "properties": {
        "performanceGoalPercentageMicros": {
          "description": "The decimal representation of the goal percentage in micros. Applicable when performance_goal_type is one of: * `PERFORMANCE_GOAL_TYPE_CTR` * `PERFORMANCE_GOAL_TYPE_VIEWABILITY` * `PERFORMANCE_GOAL_TYPE_CLICK_CVR` * `PERFORMANCE_GOAL_TYPE_IMPRESSION_CVR` * `PERFORMANCE_GOAL_TYPE_VTR` * `PERFORMANCE_GOAL_TYPE_AUDIO_COMPLETION_RATE` * `PERFORMANCE_GOAL_TYPE_VIDEO_COMPLETION_RATE` For example, 70000 represents 7% (decimal 0.07).",
          "type": "string",
          "format": "int64"
        },
        "performanceGoalAmountMicros": {
          "type": "string",
          "description": "The goal amount, in micros of the advertiser's currency. Applicable when performance_goal_type is one of: * `PERFORMANCE_GOAL_TYPE_CPM` * `PERFORMANCE_GOAL_TYPE_CPC` * `PERFORMANCE_GOAL_TYPE_CPA` * `PERFORMANCE_GOAL_TYPE_CPIAVC` * `PERFORMANCE_GOAL_TYPE_VCPM` For example 1500000 represents 1.5 standard units of the currency.",
          "format": "int64"
        },
        "performanceGoalType": {
          "type": "string",
          "description": "Required. The type of the performance goal.",
          "enumDescriptions": [
            "Performance goal type is not specified or is unknown in this version.",
            "The performance goal is set in CPM (cost per mille).",
            "The performance goal is set in CPC (cost per click).",
            "The performance goal is set in CPA (cost per action).",
            "The performance goal is set in CTR (click-through rate) percentage.",
            "The performance goal is set in Viewability percentage.",
            "The performance goal is set as CPIAVC (cost per impression audible and visible at completion).",
            "The performance goal is set in CPE (cost per engagement).",
            "The performance goal is set in CPV (cost per view).",
            "The performance goal is set in click conversion rate (conversions per click) percentage.",
            "The performance goal is set in impression conversion rate (conversions per impression) percentage.",
            "The performance goal is set in VCPM (cost per thousand viewable impressions).",
            "The performance goal is set in YouTube view rate (YouTube views per impression) percentage.",
            "The performance goal is set in audio completion rate (complete audio listens per impression) percentage.",
            "The performance goal is set in video completion rate (complete video views per impression) percentage.",
            "The performance goal is set to Other."
          ],
          "enum": [
            "PERFORMANCE_GOAL_TYPE_UNSPECIFIED",
            "PERFORMANCE_GOAL_TYPE_CPM",
            "PERFORMANCE_GOAL_TYPE_CPC",
            "PERFORMANCE_GOAL_TYPE_CPA",
            "PERFORMANCE_GOAL_TYPE_CTR",
            "PERFORMANCE_GOAL_TYPE_VIEWABILITY",
            "PERFORMANCE_GOAL_TYPE_CPIAVC",
            "PERFORMANCE_GOAL_TYPE_CPE",
            "PERFORMANCE_GOAL_TYPE_CPV",
            "PERFORMANCE_GOAL_TYPE_CLICK_CVR",
            "PERFORMANCE_GOAL_TYPE_IMPRESSION_CVR",
            "PERFORMANCE_GOAL_TYPE_VCPM",
            "PERFORMANCE_GOAL_TYPE_VTR",
            "PERFORMANCE_GOAL_TYPE_AUDIO_COMPLETION_RATE",
            "PERFORMANCE_GOAL_TYPE_VIDEO_COMPLETION_RATE",
            "PERFORMANCE_GOAL_TYPE_OTHER"
          ]
        },
        "performanceGoalString": {
          "description": "A key performance indicator (KPI) string, which can be empty. Must be UTF-8 encoded with a length of no more than 100 characters. Applicable when performance_goal_type is set to `PERFORMANCE_GOAL_TYPE_OTHER`.",
          "type": "string"
        }
      },
      "description": "Settings that control the performance goal of a campaign."
    },
    "OperatingSystemAssignedTargetingOptionDetails": {
      "properties": {
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The display name of the operating system."
        },
        "negative": {
          "description": "Indicates if this option is being negatively targeted.",
          "type": "boolean"
        },
        "targetingOptionId": {
          "type": "string",
          "description": "Required. The targeting option ID populated in targeting_option_id field when targeting_type is `TARGETING_TYPE_OPERATING_SYSTEM`."
        }
      },
      "id": "OperatingSystemAssignedTargetingOptionDetails",
      "description": "Assigned operating system targeting option details. This will be populated in the operating_system_details field when targeting_type is `TARGETING_TYPE_OPERATING_SYSTEM`.",
      "type": "object"
    },
    "GenderTargetingOptionDetails": {
      "description": "Represents a targetable gender. This will be populated in the gender_details field of a TargetingOption when targeting_type is `TARGETING_TYPE_GENDER`.",
      "type": "object",
      "id": "GenderTargetingOptionDetails",
      "properties": {
        "gender": {
          "readOnly": true,
          "enumDescriptions": [
            "Default value when gender is not specified in this version. This enum is a place holder for default value and does not represent a real gender option.",
            "The audience gender is male.",
            "The audience gender is female.",
            "The audience gender is unknown."
          ],
          "enum": [
            "GENDER_UNSPECIFIED",
            "GENDER_MALE",
            "GENDER_FEMALE",
            "GENDER_UNKNOWN"
          ],
          "type": "string",
          "description": "Output only. The gender of an audience."
        }
      }
    },
    "ThirdPartyOnlyConfig": {
      "type": "object",
      "id": "ThirdPartyOnlyConfig",
      "properties": {
        "pixelOrderIdReportingEnabled": {
          "description": "Whether or not order ID reporting for pixels is enabled. This value cannot be changed once set to `true`.",
          "type": "boolean"
        }
      },
      "description": "Settings for advertisers that use third-party ad servers only."
    },
    "DemandGenBiddingStrategy": {
      "id": "DemandGenBiddingStrategy",
      "description": "Settings that control the bid strategy for Demand Gen resources.",
      "type": "object",
      "properties": {
        "effectiveBiddingValueSource": {
          "enumDescriptions": [
            "Bidding source is not specified or unknown.",
            "Bidding value is inherited from the line item.",
            "Bidding value is defined in the ad group."
          ],
          "enum": [
            "BIDDING_SOURCE_UNSPECIFIED",
            "BIDDING_SOURCE_LINE_ITEM",
            "BIDDING_SOURCE_AD_GROUP"
          ],
          "description": "Output only. Source of the effective bidding value.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "enum": [
            "DEMAND_GEN_BIDDING_STRATEGY_TYPE_UNSPECIFIED",
            "DEMAND_GEN_BIDDING_STRATEGY_TYPE_TARGET_CPA",
            "DEMAND_GEN_BIDDING_STRATEGY_TYPE_TARGET_ROAS",
            "DEMAND_GEN_BIDDING_STRATEGY_TYPE_MAXIMIZE_CONVERSIONS",
            "DEMAND_GEN_BIDDING_STRATEGY_TYPE_MAXIMIZE_CONVERSION_VALUE",
[...]
