{
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "basePath": "",
  "ownerName": "Google",
  "version_module": true,
  "discoveryVersion": "v1",
  "servicePath": "",
  "rootUrl": "https://displayvideo.googleapis.com/",
  "parameters": {
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "alt": {
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    }
  },
  "resources": {
    "inventorySourceGroups": {
      "resources": {
        "assignedInventorySources": {
          "methods": {
            "create": {
              "parameters": {
                "partnerId": {
                  "location": "query",
                  "format": "int64",
                  "type": "string",
                  "description": "The ID of the partner that owns the parent inventory source group. Only this partner will have write access to this assigned inventory source."
                },
                "inventorySourceGroupId": {
                  "pattern": "^[^/]+$",
                  "description": "Required. The ID of the inventory source group to which the assignment will be assigned.",
                  "format": "int64",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "advertiserId": {
                  "format": "int64",
                  "description": "The ID of the advertiser that owns the parent inventory source group. The parent partner will not have access to this assigned inventory source.",
                  "location": "query",
                  "type": "string"
                }
              },
              "description": "Creates an assignment between an inventory source and an inventory source group.",
              "id": "displayvideo.inventorySourceGroups.assignedInventorySources.create",
              "parameterOrder": [
                "inventorySourceGroupId"
              ],
              "request": {
                "$ref": "AssignedInventorySource"
              },
              "httpMethod": "POST",
              "flatPath": "v3/inventorySourceGroups/{inventorySourceGroupsId}/assignedInventorySources",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "response": {
                "$ref": "AssignedInventorySource"
              },
              "path": "v3/inventorySourceGroups/{+inventorySourceGroupId}/assignedInventorySources"
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "parameterOrder": [
                "inventorySourceGroupId",
                "assignedInventorySourceId"
              ],
              "flatPath": "v3/inventorySourceGroups/{inventorySourceGroupsId}/assignedInventorySources/{assignedInventorySourcesId}",
              "path": "v3/inventorySourceGroups/{+inventorySourceGroupId}/assignedInventorySources/{+assignedInventorySourceId}",
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "inventorySourceGroupId": {
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "format": "int64",
                  "description": "Required. The ID of the inventory source group to which this assignment is assigned.",
                  "location": "path",
                  "required": true
                },
                "advertiserId": {
                  "description": "The ID of the advertiser that owns the parent inventory source group. The parent partner does not have access to this assigned inventory source.",
                  "location": "query",
                  "type": "string",
                  "format": "int64"
                },
                "partnerId": {
                  "format": "int64",
                  "location": "query",
                  "description": "The ID of the partner that owns the parent inventory source group. Only this partner has write access to this assigned inventory source.",
                  "type": "string"
                },
                "assignedInventorySourceId": {
                  "pattern": "^[^/]+$",
                  "format": "int64",
                  "type": "string",
                  "description": "Required. The ID of the assigned inventory source to delete.",
                  "location": "path",
                  "required": true
                }
              },
              "id": "displayvideo.inventorySourceGroups.assignedInventorySources.delete",
              "description": "Deletes the assignment between an inventory source and an inventory source group.",
              "httpMethod": "DELETE"
            },
            "list": {
              "parameterOrder": [
                "inventorySourceGroupId"
              ],
              "id": "displayvideo.inventorySourceGroups.assignedInventorySources.list",
              "path": "v3/inventorySourceGroups/{+inventorySourceGroupId}/assignedInventorySources",
              "description": "Lists inventory sources assigned to an inventory source group.",
              "response": {
                "$ref": "ListAssignedInventorySourcesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "parameters": {
                "pageSize": {
                  "description": "Requested page size. Must be between `1` and `100`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "filter": {
                  "type": "string",
                  "description": "Allows filtering by assigned inventory source fields. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by the `OR` logical operator. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `EQUALS (=)` operator. Supported fields: * `assignedInventorySourceId` The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information.",
                  "location": "query"
                },
                "orderBy": {
                  "description": "Field by which to sort the list. Acceptable values are: * `assignedInventorySourceId` (default) The default sorting order is ascending. To specify descending order for a field, a suffix \" desc\" should be added to the field name. Example: `assignedInventorySourceId desc`.",
                  "location": "query",
                  "type": "string"
                },
                "advertiserId": {
                  "type": "string",
                  "format": "int64",
                  "description": "The ID of the advertiser that has access to the assignment. If the parent inventory source group is partner-owned, only advertisers to which the parent group is explicitly shared can access the assigned inventory source.",
                  "location": "query"
                },
                "partnerId": {
                  "location": "query",
                  "description": "The ID of the partner that has access to the assignment. If the parent inventory source group is advertiser-owned, the assignment cannot be accessed via a partner.",
                  "type": "string",
                  "format": "int64"
                },
                "pageToken": {
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListAssignedInventorySources` method. If not specified, the first page of results will be returned.",
                  "location": "query",
                  "type": "string"
                },
                "inventorySourceGroupId": {
                  "description": "Required. The ID of the inventory source group to which these assignments are assigned.",
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "format": "int64",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v3/inventorySourceGroups/{inventorySourceGroupsId}/assignedInventorySources",
              "httpMethod": "GET"
            },
            "bulkEdit": {
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "id": "displayvideo.inventorySourceGroups.assignedInventorySources.bulkEdit",
              "path": "v3/inventorySourceGroups/{+inventorySourceGroupId}/assignedInventorySources:bulkEdit",
              "response": {
                "$ref": "BulkEditAssignedInventorySourcesResponse"
              },
              "description": "Bulk edits multiple assignments between inventory sources and a single inventory source group. The operation will delete the assigned inventory sources provided in BulkEditAssignedInventorySourcesRequest.deleted_assigned_inventory_sources and then create the assigned inventory sources provided in BulkEditAssignedInventorySourcesRequest.created_assigned_inventory_sources.",
              "flatPath": "v3/inventorySourceGroups/{inventorySourceGroupsId}/assignedInventorySources:bulkEdit",
              "parameters": {
                "inventorySourceGroupId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "description": "Required. The ID of the inventory source group to which the assignments are assigned.",
                  "format": "int64"
                }
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "BulkEditAssignedInventorySourcesRequest"
              },
              "parameterOrder": [
                "inventorySourceGroupId"
              ]
            }
          }
        }
      },
      "methods": {
        "get": {
          "parameters": {
            "inventorySourceGroupId": {
              "required": true,
              "location": "path",
              "description": "Required. The ID of the inventory source group to fetch.",
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$"
            },
            "partnerId": {
              "format": "int64",
              "description": "The ID of the partner that has access to the inventory source group. A partner cannot access an advertiser-owned inventory source group.",
              "location": "query",
              "type": "string"
            },
            "advertiserId": {
              "description": "The ID of the advertiser that has access to the inventory source group. If an inventory source group is partner-owned, only advertisers to which the group is explicitly shared can access the group.",
              "format": "int64",
              "type": "string",
              "location": "query"
            }
          },
          "id": "displayvideo.inventorySourceGroups.get",
          "parameterOrder": [
            "inventorySourceGroupId"
          ],
          "flatPath": "v3/inventorySourceGroups/{inventorySourceGroupsId}",
          "path": "v3/inventorySourceGroups/{+inventorySourceGroupId}",
          "httpMethod": "GET",
          "response": {
            "$ref": "InventorySourceGroup"
          },
          "description": "Gets an inventory source group.",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ]
        },
        "create": {
          "response": {
            "$ref": "InventorySourceGroup"
          },
          "httpMethod": "POST",
          "flatPath": "v3/inventorySourceGroups",
          "parameterOrder": [],
          "path": "v3/inventorySourceGroups",
          "id": "displayvideo.inventorySourceGroups.create",
          "parameters": {
            "partnerId": {
              "format": "int64",
              "type": "string",
              "description": "The ID of the partner that owns the inventory source group. Only this partner will have write access to this group. Only advertisers to which this group is explicitly shared will have read access to this group.",
              "location": "query"
            },
            "advertiserId": {
              "location": "query",
              "format": "int64",
              "description": "The ID of the advertiser that owns the inventory source group. The parent partner will not have access to this group.",
              "type": "string"
            }
          },
          "description": "Creates a new inventory source group. Returns the newly created inventory source group if successful.",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "request": {
            "$ref": "InventorySourceGroup"
          }
        },
        "list": {
          "response": {
            "$ref": "ListInventorySourceGroupsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "httpMethod": "GET",
          "flatPath": "v3/inventorySourceGroups",
          "description": "Lists inventory source groups that are accessible to the current user. The order is defined by the order_by parameter.",
          "parameters": {
            "partnerId": {
              "type": "string",
              "format": "int64",
              "location": "query",
              "description": "The ID of the partner that has access to the inventory source group. A partner cannot access advertiser-owned inventory source groups."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListInventorySources` method. If not specified, the first page of results will be returned."
            },
            "filter": {
              "location": "query",
              "description": "Allows filtering by inventory source group fields. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by the logical operator `OR`. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `EQUALS (=)` operator. Supported fields: * `inventorySourceGroupId` The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information.",
              "type": "string"
            },
            "pageSize": {
              "location": "query",
              "type": "integer",
              "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`.",
              "format": "int32"
            },
            "advertiserId": {
              "description": "The ID of the advertiser that has access to the inventory source group. If an inventory source group is partner-owned, only advertisers to which the group is explicitly shared can access the group.",
              "type": "string",
              "location": "query",
              "format": "int64"
            },
            "orderBy": {
              "location": "query",
              "type": "string",
              "description": "Field by which to sort the list. Acceptable values are: * `displayName` (default) * `inventorySourceGroupId` The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. For example, `displayName desc`."
            }
          },
          "path": "v3/inventorySourceGroups",
          "parameterOrder": [],
          "id": "displayvideo.inventorySourceGroups.list"
        },
        "patch": {
          "parameterOrder": [
            "inventorySourceGroupId"
          ],
          "response": {
            "$ref": "InventorySourceGroup"
          },
          "path": "v3/inventorySourceGroups/{inventorySourceGroupId}",
          "flatPath": "v3/inventorySourceGroups/{inventorySourceGroupId}",
          "request": {
            "$ref": "InventorySourceGroup"
          },
          "parameters": {
            "updateMask": {
              "location": "query",
              "format": "google-fieldmask",
              "description": "Required. The mask to control which fields to update.",
              "type": "string"
            },
            "advertiserId": {
              "description": "The ID of the advertiser that owns the inventory source group. The parent partner does not have access to this group.",
              "type": "string",
              "location": "query",
              "format": "int64"
            },
            "partnerId": {
              "location": "query",
              "format": "int64",
              "type": "string",
              "description": "The ID of the partner that owns the inventory source group. Only this partner has write access to this group."
            },
            "inventorySourceGroupId": {
              "required": true,
              "format": "int64",
              "location": "path",
              "description": "Output only. The unique ID of the inventory source group. Assigned by the system.",
              "type": "string"
            }
          },
          "id": "displayvideo.inventorySourceGroups.patch",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "description": "Updates an inventory source group. Returns the updated inventory source group if successful.",
          "httpMethod": "PATCH"
        },
        "delete": {
          "parameters": {
            "inventorySourceGroupId": {
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "Required. The ID of the inventory source group to delete.",
              "type": "string"
            },
            "partnerId": {
              "description": "The ID of the partner that owns the inventory source group. Only this partner has write access to this group.",
              "type": "string",
              "format": "int64",
              "location": "query"
            },
            "advertiserId": {
              "description": "The ID of the advertiser that owns the inventory source group. The parent partner does not have access to this group.",
              "location": "query",
              "format": "int64",
              "type": "string"
            }
          },
          "path": "v3/inventorySourceGroups/{+inventorySourceGroupId}",
          "parameterOrder": [
            "inventorySourceGroupId"
          ],
          "id": "displayvideo.inventorySourceGroups.delete",
          "httpMethod": "DELETE",
          "description": "Deletes an inventory source group.",
          "flatPath": "v3/inventorySourceGroups/{inventorySourceGroupsId}",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "response": {
            "$ref": "Empty"
          }
        }
      }
    },
    "media": {
      "methods": {
        "download": {
          "parameters": {
            "resourceName": {
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^.*$",
              "description": "Name of the media that is being downloaded. See ReadRequest.resource_name."
            }
          },
          "parameterOrder": [
            "resourceName"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleBytestreamMedia"
          },
          "flatPath": "download/{downloadId}",
          "path": "download/{+resourceName}",
          "supportsMediaDownload": true,
          "description": "Downloads media. Download is supported on the URI `/download/{resource_name=**}?alt=media.` **Note**: Download requests will not be successful without including `alt=media` query string.",
          "scopes": [
            "https://www.googleapis.com/auth/display-video",
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "id": "displayvideo.media.download"
        },
        "upload": {
          "scopes": [
            "https://www.googleapis.com/auth/display-video",
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "request": {
            "$ref": "GoogleBytestreamMedia"
          },
          "supportsMediaUpload": true,
          "flatPath": "media/{mediaId}",
          "description": "Uploads media. Upload is supported on the URI `/upload/media/{resource_name=**}?upload_type=media.` **Note**: Upload requests will not be successful without including `upload_type=media` query string.",
          "response": {
            "$ref": "GoogleBytestreamMedia"
          },
          "parameterOrder": [
            "resourceName"
          ],
          "parameters": {
            "resourceName": {
              "pattern": "^.*$",
              "type": "string",
              "description": "Name of the media that is being downloaded. See ReadRequest.resource_name.",
              "required": true,
              "location": "path"
            }
          },
          "path": "media/{+resourceName}",
          "id": "displayvideo.media.upload",
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/media/{+resourceName}"
              }
            }
          },
          "httpMethod": "POST"
        }
      }
    },
    "googleAudiences": {
      "methods": {
        "get": {
          "parameters": {
            "googleAudienceId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "Required. The ID of the Google audience to fetch.",
              "format": "int64",
              "required": true,
              "location": "path"
            },
            "advertiserId": {
              "type": "string",
              "location": "query",
              "description": "The ID of the advertiser that has access to the fetched Google audience.",
              "format": "int64"
            },
            "partnerId": {
              "description": "The ID of the partner that has access to the fetched Google audience.",
              "type": "string",
              "format": "int64",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "googleAudienceId"
          ],
          "id": "displayvideo.googleAudiences.get",
          "path": "v3/googleAudiences/{+googleAudienceId}",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "description": "Gets a Google audience.",
          "flatPath": "v3/googleAudiences/{googleAudiencesId}",
          "response": {
            "$ref": "GoogleAudience"
          }
        },
        "list": {
          "id": "displayvideo.googleAudiences.list",
          "httpMethod": "GET",
          "response": {
            "$ref": "ListGoogleAudiencesResponse"
          },
          "flatPath": "v3/googleAudiences",
          "parameterOrder": [],
          "path": "v3/googleAudiences",
          "parameters": {
            "advertiserId": {
              "location": "query",
              "description": "The ID of the advertiser that has access to the fetched Google audiences.",
              "format": "int64",
              "type": "string"
            },
            "filter": {
              "location": "query",
              "description": "Allows filtering by Google audience fields. Supported syntax: * Filter expressions for Google audiences can only contain at most one restriction. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `HAS (:)` operator. Supported fields: * `displayName` Examples: * All Google audiences for which the display name contains \"Google\": `displayName:\"Google\"`. The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information.",
              "type": "string"
            },
            "orderBy": {
              "description": "Field by which to sort the list. Acceptable values are: * `googleAudienceId` (default) * `displayName` The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. Example: `displayName desc`.",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "format": "int32",
              "type": "integer",
              "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
              "location": "query"
            },
            "partnerId": {
              "format": "int64",
              "location": "query",
              "description": "The ID of the partner that has access to the fetched Google audiences.",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListGoogleAudiences` method. If not specified, the first page of results will be returned.",
              "location": "query"
            }
          },
          "description": "Lists Google audiences. The order is defined by the order_by parameter.",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ]
        }
      }
    },
    "customLists": {
      "methods": {
        "get": {
          "parameterOrder": [
            "customListId"
          ],
          "description": "Gets a custom list.",
          "path": "v3/customLists/{+customListId}",
          "response": {
            "$ref": "CustomList"
          },
          "id": "displayvideo.customLists.get",
          "flatPath": "v3/customLists/{customListsId}",
          "parameters": {
            "customListId": {
              "location": "path",
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "Required. The ID of the custom list to fetch."
            },
            "advertiserId": {
              "format": "int64",
              "location": "query",
              "description": "The ID of the DV360 advertiser that has access to the fetched custom lists.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "httpMethod": "GET"
        },
        "list": {
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "flatPath": "v3/customLists",
          "description": "Lists custom lists. The order is defined by the order_by parameter.",
          "response": {
            "$ref": "ListCustomListsResponse"
          },
          "parameters": {
            "filter": {
              "type": "string",
              "description": "Allows filtering by custom list fields. Supported syntax: * Filter expressions for custom lists can only contain at most one restriction. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `HAS (:)` operator. Supported fields: * `displayName` Examples: * All custom lists for which the display name contains \"Google\": `displayName:\"Google\"`. The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information.",
              "location": "query"
            },
            "advertiserId": {
              "format": "int64",
              "type": "string",
              "location": "query",
              "description": "The ID of the DV360 advertiser that has access to the fetched custom lists."
            },
            "orderBy": {
              "description": "Field by which to sort the list. Acceptable values are: * `customListId` (default) * `displayName` The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. Example: `displayName desc`.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "type": "integer",
              "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
              "format": "int32",
              "location": "query"
            },
            "pageToken": {
              "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListCustomLists` method. If not specified, the first page of results will be returned.",
              "location": "query",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "id": "displayvideo.customLists.list",
          "path": "v3/customLists"
        }
      }
    },
    "targetingTypes": {
      "resources": {
        "targetingOptions": {
          "methods": {
            "list": {
              "parameterOrder": [
                "targetingType"
              ],
              "path": "v3/targetingTypes/{+targetingType}/targetingOptions",
              "id": "displayvideo.targetingTypes.targetingOptions.list",
              "httpMethod": "GET",
              "description": "Lists targeting options of a given type.",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "response": {
                "$ref": "ListTargetingOptionsResponse"
              },
              "parameters": {
                "targetingType": {
                  "enum": [
                    "TARGETING_TYPE_UNSPECIFIED",
                    "TARGETING_TYPE_CHANNEL",
                    "TARGETING_TYPE_APP_CATEGORY",
                    "TARGETING_TYPE_APP",
                    "TARGETING_TYPE_URL",
                    "TARGETING_TYPE_DAY_AND_TIME",
                    "TARGETING_TYPE_AGE_RANGE",
                    "TARGETING_TYPE_REGIONAL_LOCATION_LIST",
                    "TARGETING_TYPE_PROXIMITY_LOCATION_LIST",
                    "TARGETING_TYPE_GENDER",
                    "TARGETING_TYPE_VIDEO_PLAYER_SIZE",
                    "TARGETING_TYPE_USER_REWARDED_CONTENT",
                    "TARGETING_TYPE_PARENTAL_STATUS",
                    "TARGETING_TYPE_CONTENT_INSTREAM_POSITION",
                    "TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION",
                    "TARGETING_TYPE_DEVICE_TYPE",
                    "TARGETING_TYPE_AUDIENCE_GROUP",
                    "TARGETING_TYPE_BROWSER",
                    "TARGETING_TYPE_HOUSEHOLD_INCOME",
                    "TARGETING_TYPE_ON_SCREEN_POSITION",
                    "TARGETING_TYPE_THIRD_PARTY_VERIFIER",
                    "TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION",
                    "TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION",
                    "TARGETING_TYPE_ENVIRONMENT",
                    "TARGETING_TYPE_CARRIER_AND_ISP",
                    "TARGETING_TYPE_OPERATING_SYSTEM",
                    "TARGETING_TYPE_DEVICE_MAKE_MODEL",
                    "TARGETING_TYPE_KEYWORD",
                    "TARGETING_TYPE_NEGATIVE_KEYWORD_LIST",
                    "TARGETING_TYPE_VIEWABILITY",
                    "TARGETING_TYPE_CATEGORY",
                    "TARGETING_TYPE_INVENTORY_SOURCE",
                    "TARGETING_TYPE_LANGUAGE",
                    "TARGETING_TYPE_AUTHORIZED_SELLER_STATUS",
                    "TARGETING_TYPE_GEO_REGION",
                    "TARGETING_TYPE_INVENTORY_SOURCE_GROUP",
                    "TARGETING_TYPE_EXCHANGE",
                    "TARGETING_TYPE_SUB_EXCHANGE",
                    "TARGETING_TYPE_POI",
                    "TARGETING_TYPE_BUSINESS_CHAIN",
                    "TARGETING_TYPE_CONTENT_DURATION",
                    "TARGETING_TYPE_CONTENT_STREAM_TYPE",
                    "TARGETING_TYPE_NATIVE_CONTENT_POSITION",
                    "TARGETING_TYPE_OMID",
                    "TARGETING_TYPE_AUDIO_CONTENT_TYPE",
                    "TARGETING_TYPE_CONTENT_GENRE",
                    "TARGETING_TYPE_YOUTUBE_VIDEO",
                    "TARGETING_TYPE_YOUTUBE_CHANNEL",
                    "TARGETING_TYPE_SESSION_POSITION",
                    "TARGETING_TYPE_CONTENT_THEME_EXCLUSION",
                    "TARGETING_TYPE_YOUTUBE_CHANNEL_PACK"
                  ],
                  "pattern": "^[^/]+$",
                  "description": "Required. The type of targeting option to be listed. Accepted values are: * `TARGETING_TYPE_APP_CATEGORY` * `TARGETING_TYPE_AGE_RANGE` * `TARGETING_TYPE_GENDER` * `TARGETING_TYPE_VIDEO_PLAYER_SIZE` * `TARGETING_TYPE_USER_REWARDED_CONTENT` * `TARGETING_TYPE_PARENTAL_STATUS` * `TARGETING_TYPE_CONTENT_INSTREAM_POSITION` * `TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION` * `TARGETING_TYPE_DEVICE_TYPE` * `TARGETING_TYPE_BROWSER` * `TARGETING_TYPE_HOUSEHOLD_INCOME` * `TARGETING_TYPE_ON_SCREEN_POSITION` * `TARGETING_TYPE_CARRIER_AND_ISP` * `TARGETING_TYPE_OPERATING_SYSTEM` * `TARGETING_TYPE_DEVICE_MAKE_MODEL` * `TARGETING_TYPE_ENVIRONMENT` * `TARGETING_TYPE_CATEGORY` * `TARGETING_TYPE_VIEWABILITY` * `TARGETING_TYPE_AUTHORIZED_SELLER_STATUS` * `TARGETING_TYPE_LANGUAGE` * `TARGETING_TYPE_GEO_REGION` * `TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION` * `TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION` * `TARGETING_TYPE_EXCHANGE` * `TARGETING_TYPE_SUB_EXCHANGE` * `TARGETING_TYPE_NATIVE_CONTENT_POSITION` * `TARGETING_TYPE_OMID`",
                  "enumDescriptions": [
                    "Default value when type is not specified or is unknown in this version.",
                    "Target a channel (a custom group of related websites or apps).",
                    "Target an app category (for example, education or puzzle games).",
                    "Target a specific app (for example, Angry Birds).",
                    "Target a specific url (for example, quora.com).",
                    "Target ads during a chosen time period on a specific day.",
                    "Target ads to a specific age range (for example, 18-24).",
                    "Target ads to the specified regions on a regional location list.",
                    "Target ads to the specified points of interest on a proximity location list.",
                    "Target ads to a specific gender (for example, female or male).",
                    "Target a specific video player size for video ads.",
                    "Target user rewarded content for video ads.",
                    "Target ads to a specific parental status (for example, parent or not a parent).",
                    "Target video or audio ads in a specific content instream position (for example, pre-roll, mid-roll, or post-roll).",
                    "Target ads in a specific content outstream position.",
                    "Target ads to a specific device type (for example, tablet or connected TV).",
                    "Target ads to an audience or groups of audiences. Singleton field, at most one can exist on a single Lineitem at a time.",
                    "Target ads to specific web browsers (for example, Chrome).",
                    "Target ads to a specific household income range (for example, top 10%).",
                    "Target ads in a specific on screen position.",
                    "Filter web sites through third party verification (for example, IAS or DoubleVerify).",
                    "Filter web sites by specific digital content label ratings (for example, DL-MA: suitable only for mature audiences).",
                    "Filter website content by sensitive categories (for example, adult).",
                    "Target ads to a specific environment (for example, web or app).",
                    "Target ads to a specific network carrier or internet service provider (ISP) (for example, Comcast or Orange).",
                    "Target ads to a specific operating system (for example, macOS).",
                    "Target ads to a specific device make or model (for example, Roku or Samsung).",
                    "Target ads to a specific keyword (for example, dog or retriever).",
                    "Target ads to a specific negative keyword list.",
                    "Target ads to a specific viewability (for example, 80% viewable).",
                    "Target ads to a specific content category (for example, arts & entertainment).",
                    "Purchase impressions from specific deals and auction packages.",
                    "Target ads to a specific language (for example, English or Japanese).",
                    "Target ads to ads.txt authorized sellers. If no targeting option of this type is assigned, the resource uses the \"Authorized Direct Sellers and Resellers\" option by default.",
                    "Target ads to a specific regional location (for example, a city or state).",
                    "Purchase impressions from a group of deals and auction packages.",
                    "Purchase impressions from specific exchanges.",
                    "Purchase impressions from specific sub-exchanges.",
                    "Target ads around a specific point of interest, such as a notable building, a street address, or latitude/longitude coordinates.",
                    "Target ads around locations of a business chain within a specific geo region.",
                    "Target ads to a specific video content duration.",
                    "Target ads to a specific video content stream type.",
                    "Target ads to a specific native content position.",
                    "Target ads in an Open Measurement enabled inventory.",
                    "Target ads to a specific audio content type.",
                    "Target ads to a specific content genre.",
                    "Target ads to a specific YouTube video. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                    "Target ads to a specific YouTube channel. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                    "Target ads to a serve it in a certain position of a session. Only supported for Ad Group resources under YouTube Programmatic Reservation line items. Targeting of this type cannot be created or updated using the API.",
                    "Filter website content by content themes (for example, religion). Only supported for Advertiser resources. Targeting of this type cannot be created or updated using the API. This targeting is only inherited by child YouTube and Demand Gen line item resources.",
                    "Target ads to a specific YouTube channel pack."
                  ],
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "advertiserId": {
                  "description": "Required. The Advertiser this request is being made in the context of.",
                  "location": "query",
                  "format": "int64",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "orderBy": {
                  "description": "Field by which to sort the list. Acceptable values are: * `targetingOptionId` (default) The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. Example: `targetingOptionId desc`.",
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListTargetingOptions` method. If not specified, the first page of results will be returned.",
                  "type": "string",
                  "location": "query"
                },
                "filter": {
                  "location": "query",
                  "description": "Allows filtering by targeting option fields. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by `OR` logical operators. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `EQUALS (=)` operator. Supported fields: * `carrierAndIspDetails.type` * `geoRegionDetails.geoRegionType` * `targetingOptionId` Examples: * All `GEO REGION` targeting options that belong to sub type `GEO_REGION_TYPE_COUNTRY` or `GEO_REGION_TYPE_STATE`: `geoRegionDetails.geoRegionType=\"GEO_REGION_TYPE_COUNTRY\" OR geoRegionDetails.geoRegionType=\"GEO_REGION_TYPE_STATE\"` * All `CARRIER AND ISP` targeting options that belong to sub type `CARRIER_AND_ISP_TYPE_CARRIER`: `carrierAndIspDetails.type=\"CARRIER_AND_ISP_TYPE_CARRIER\"` The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information.",
                  "type": "string"
                }
              },
              "flatPath": "v3/targetingTypes/{targetingTypesId}/targetingOptions"
            },
            "get": {
              "parameterOrder": [
                "targetingType",
                "targetingOptionId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "id": "displayvideo.targetingTypes.targetingOptions.get",
              "httpMethod": "GET",
              "description": "Gets a single targeting option.",
              "parameters": {
                "targetingOptionId": {
                  "pattern": "^[^/]+$",
                  "description": "Required. The ID of the of targeting option to retrieve.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "advertiserId": {
                  "format": "int64",
                  "location": "query",
                  "type": "string",
                  "description": "Required. The Advertiser this request is being made in the context of."
                },
                "targetingType": {
                  "required": true,
                  "enumDescriptions": [
                    "Default value when type is not specified or is unknown in this version.",
                    "Target a channel (a custom group of related websites or apps).",
                    "Target an app category (for example, education or puzzle games).",
                    "Target a specific app (for example, Angry Birds).",
                    "Target a specific url (for example, quora.com).",
                    "Target ads during a chosen time period on a specific day.",
                    "Target ads to a specific age range (for example, 18-24).",
                    "Target ads to the specified regions on a regional location list.",
                    "Target ads to the specified points of interest on a proximity location list.",
                    "Target ads to a specific gender (for example, female or male).",
                    "Target a specific video player size for video ads.",
                    "Target user rewarded content for video ads.",
                    "Target ads to a specific parental status (for example, parent or not a parent).",
                    "Target video or audio ads in a specific content instream position (for example, pre-roll, mid-roll, or post-roll).",
                    "Target ads in a specific content outstream position.",
                    "Target ads to a specific device type (for example, tablet or connected TV).",
                    "Target ads to an audience or groups of audiences. Singleton field, at most one can exist on a single Lineitem at a time.",
                    "Target ads to specific web browsers (for example, Chrome).",
                    "Target ads to a specific household income range (for example, top 10%).",
                    "Target ads in a specific on screen position.",
                    "Filter web sites through third party verification (for example, IAS or DoubleVerify).",
                    "Filter web sites by specific digital content label ratings (for example, DL-MA: suitable only for mature audiences).",
                    "Filter website content by sensitive categories (for example, adult).",
                    "Target ads to a specific environment (for example, web or app).",
                    "Target ads to a specific network carrier or internet service provider (ISP) (for example, Comcast or Orange).",
                    "Target ads to a specific operating system (for example, macOS).",
                    "Target ads to a specific device make or model (for example, Roku or Samsung).",
                    "Target ads to a specific keyword (for example, dog or retriever).",
                    "Target ads to a specific negative keyword list.",
                    "Target ads to a specific viewability (for example, 80% viewable).",
                    "Target ads to a specific content category (for example, arts & entertainment).",
                    "Purchase impressions from specific deals and auction packages.",
                    "Target ads to a specific language (for example, English or Japanese).",
                    "Target ads to ads.txt authorized sellers. If no targeting option of this type is assigned, the resource uses the \"Authorized Direct Sellers and Resellers\" option by default.",
                    "Target ads to a specific regional location (for example, a city or state).",
                    "Purchase impressions from a group of deals and auction packages.",
                    "Purchase impressions from specific exchanges.",
                    "Purchase impressions from specific sub-exchanges.",
                    "Target ads around a specific point of interest, such as a notable building, a street address, or latitude/longitude coordinates.",
                    "Target ads around locations of a business chain within a specific geo region.",
                    "Target ads to a specific video content duration.",
                    "Target ads to a specific video content stream type.",
                    "Target ads to a specific native content position.",
                    "Target ads in an Open Measurement enabled inventory.",
                    "Target ads to a specific audio content type.",
                    "Target ads to a specific content genre.",
                    "Target ads to a specific YouTube video. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                    "Target ads to a specific YouTube channel. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                    "Target ads to a serve it in a certain position of a session. Only supported for Ad Group resources under YouTube Programmatic Reservation line items. Targeting of this type cannot be created or updated using the API.",
                    "Filter website content by content themes (for example, religion). Only supported for Advertiser resources. Targeting of this type cannot be created or updated using the API. This targeting is only inherited by child YouTube and Demand Gen line item resources.",
                    "Target ads to a specific YouTube channel pack."
                  ],
                  "enum": [
                    "TARGETING_TYPE_UNSPECIFIED",
                    "TARGETING_TYPE_CHANNEL",
                    "TARGETING_TYPE_APP_CATEGORY",
                    "TARGETING_TYPE_APP",
                    "TARGETING_TYPE_URL",
                    "TARGETING_TYPE_DAY_AND_TIME",
                    "TARGETING_TYPE_AGE_RANGE",
                    "TARGETING_TYPE_REGIONAL_LOCATION_LIST",
                    "TARGETING_TYPE_PROXIMITY_LOCATION_LIST",
                    "TARGETING_TYPE_GENDER",
                    "TARGETING_TYPE_VIDEO_PLAYER_SIZE",
                    "TARGETING_TYPE_USER_REWARDED_CONTENT",
                    "TARGETING_TYPE_PARENTAL_STATUS",
                    "TARGETING_TYPE_CONTENT_INSTREAM_POSITION",
                    "TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION",
                    "TARGETING_TYPE_DEVICE_TYPE",
                    "TARGETING_TYPE_AUDIENCE_GROUP",
                    "TARGETING_TYPE_BROWSER",
                    "TARGETING_TYPE_HOUSEHOLD_INCOME",
                    "TARGETING_TYPE_ON_SCREEN_POSITION",
                    "TARGETING_TYPE_THIRD_PARTY_VERIFIER",
                    "TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION",
                    "TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION",
                    "TARGETING_TYPE_ENVIRONMENT",
                    "TARGETING_TYPE_CARRIER_AND_ISP",
                    "TARGETING_TYPE_OPERATING_SYSTEM",
                    "TARGETING_TYPE_DEVICE_MAKE_MODEL",
                    "TARGETING_TYPE_KEYWORD",
                    "TARGETING_TYPE_NEGATIVE_KEYWORD_LIST",
                    "TARGETING_TYPE_VIEWABILITY",
                    "TARGETING_TYPE_CATEGORY",
                    "TARGETING_TYPE_INVENTORY_SOURCE",
                    "TARGETING_TYPE_LANGUAGE",
                    "TARGETING_TYPE_AUTHORIZED_SELLER_STATUS",
                    "TARGETING_TYPE_GEO_REGION",
                    "TARGETING_TYPE_INVENTORY_SOURCE_GROUP",
                    "TARGETING_TYPE_EXCHANGE",
                    "TARGETING_TYPE_SUB_EXCHANGE",
                    "TARGETING_TYPE_POI",
                    "TARGETING_TYPE_BUSINESS_CHAIN",
                    "TARGETING_TYPE_CONTENT_DURATION",
                    "TARGETING_TYPE_CONTENT_STREAM_TYPE",
                    "TARGETING_TYPE_NATIVE_CONTENT_POSITION",
                    "TARGETING_TYPE_OMID",
                    "TARGETING_TYPE_AUDIO_CONTENT_TYPE",
                    "TARGETING_TYPE_CONTENT_GENRE",
                    "TARGETING_TYPE_YOUTUBE_VIDEO",
                    "TARGETING_TYPE_YOUTUBE_CHANNEL",
                    "TARGETING_TYPE_SESSION_POSITION",
                    "TARGETING_TYPE_CONTENT_THEME_EXCLUSION",
                    "TARGETING_TYPE_YOUTUBE_CHANNEL_PACK"
                  ],
                  "location": "path",
                  "description": "Required. The type of targeting option to retrieve. Accepted values are: * `TARGETING_TYPE_APP_CATEGORY` * `TARGETING_TYPE_AGE_RANGE` * `TARGETING_TYPE_GENDER` * `TARGETING_TYPE_VIDEO_PLAYER_SIZE` * `TARGETING_TYPE_USER_REWARDED_CONTENT` * `TARGETING_TYPE_PARENTAL_STATUS` * `TARGETING_TYPE_CONTENT_INSTREAM_POSITION` * `TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION` * `TARGETING_TYPE_DEVICE_TYPE` * `TARGETING_TYPE_BROWSER` * `TARGETING_TYPE_HOUSEHOLD_INCOME` * `TARGETING_TYPE_ON_SCREEN_POSITION` * `TARGETING_TYPE_CARRIER_AND_ISP` * `TARGETING_TYPE_OPERATING_SYSTEM` * `TARGETING_TYPE_DEVICE_MAKE_MODEL` * `TARGETING_TYPE_ENVIRONMENT` * `TARGETING_TYPE_CATEGORY` * `TARGETING_TYPE_VIEWABILITY` * `TARGETING_TYPE_AUTHORIZED_SELLER_STATUS` * `TARGETING_TYPE_LANGUAGE` * `TARGETING_TYPE_GEO_REGION` * `TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION` * `TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION` * `TARGETING_TYPE_EXCHANGE` * `TARGETING_TYPE_SUB_EXCHANGE` * `TARGETING_TYPE_NATIVE_CONTENT_POSITION` * `TARGETING_TYPE_OMID`",
                  "pattern": "^[^/]+$",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "TargetingOption"
              },
              "path": "v3/targetingTypes/{+targetingType}/targetingOptions/{+targetingOptionId}",
              "flatPath": "v3/targetingTypes/{targetingTypesId}/targetingOptions/{targetingOptionsId}"
            },
            "search": {
              "path": "v3/targetingTypes/{+targetingType}/targetingOptions:search",
              "id": "displayvideo.targetingTypes.targetingOptions.search",
              "parameterOrder": [
                "targetingType"
              ],
              "request": {
                "$ref": "SearchTargetingOptionsRequest"
              },
              "parameters": {
                "targetingType": {
                  "location": "path",
                  "required": true,
                  "enumDescriptions": [
                    "Default value when type is not specified or is unknown in this version.",
                    "Target a channel (a custom group of related websites or apps).",
                    "Target an app category (for example, education or puzzle games).",
                    "Target a specific app (for example, Angry Birds).",
                    "Target a specific url (for example, quora.com).",
                    "Target ads during a chosen time period on a specific day.",
                    "Target ads to a specific age range (for example, 18-24).",
                    "Target ads to the specified regions on a regional location list.",
                    "Target ads to the specified points of interest on a proximity location list.",
                    "Target ads to a specific gender (for example, female or male).",
                    "Target a specific video player size for video ads.",
                    "Target user rewarded content for video ads.",
                    "Target ads to a specific parental status (for example, parent or not a parent).",
                    "Target video or audio ads in a specific content instream position (for example, pre-roll, mid-roll, or post-roll).",
                    "Target ads in a specific content outstream position.",
                    "Target ads to a specific device type (for example, tablet or connected TV).",
                    "Target ads to an audience or groups of audiences. Singleton field, at most one can exist on a single Lineitem at a time.",
                    "Target ads to specific web browsers (for example, Chrome).",
                    "Target ads to a specific household income range (for example, top 10%).",
                    "Target ads in a specific on screen position.",
                    "Filter web sites through third party verification (for example, IAS or DoubleVerify).",
                    "Filter web sites by specific digital content label ratings (for example, DL-MA: suitable only for mature audiences).",
                    "Filter website content by sensitive categories (for example, adult).",
                    "Target ads to a specific environment (for example, web or app).",
                    "Target ads to a specific network carrier or internet service provider (ISP) (for example, Comcast or Orange).",
                    "Target ads to a specific operating system (for example, macOS).",
                    "Target ads to a specific device make or model (for example, Roku or Samsung).",
                    "Target ads to a specific keyword (for example, dog or retriever).",
                    "Target ads to a specific negative keyword list.",
                    "Target ads to a specific viewability (for example, 80% viewable).",
                    "Target ads to a specific content category (for example, arts & entertainment).",
                    "Purchase impressions from specific deals and auction packages.",
                    "Target ads to a specific language (for example, English or Japanese).",
                    "Target ads to ads.txt authorized sellers. If no targeting option of this type is assigned, the resource uses the \"Authorized Direct Sellers and Resellers\" option by default.",
                    "Target ads to a specific regional location (for example, a city or state).",
                    "Purchase impressions from a group of deals and auction packages.",
                    "Purchase impressions from specific exchanges.",
                    "Purchase impressions from specific sub-exchanges.",
                    "Target ads around a specific point of interest, such as a notable building, a street address, or latitude/longitude coordinates.",
                    "Target ads around locations of a business chain within a specific geo region.",
                    "Target ads to a specific video content duration.",
                    "Target ads to a specific video content stream type.",
                    "Target ads to a specific native content position.",
                    "Target ads in an Open Measurement enabled inventory.",
                    "Target ads to a specific audio content type.",
                    "Target ads to a specific content genre.",
                    "Target ads to a specific YouTube video. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                    "Target ads to a specific YouTube channel. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                    "Target ads to a serve it in a certain position of a session. Only supported for Ad Group resources under YouTube Programmatic Reservation line items. Targeting of this type cannot be created or updated using the API.",
                    "Filter website content by content themes (for example, religion). Only supported for Advertiser resources. Targeting of this type cannot be created or updated using the API. This targeting is only inherited by child YouTube and Demand Gen line item resources.",
                    "Target ads to a specific YouTube channel pack."
                  ],
                  "description": "Required. The type of targeting options to retrieve. Accepted values are: * `TARGETING_TYPE_GEO_REGION` * `TARGETING_TYPE_POI` * `TARGETING_TYPE_BUSINESS_CHAIN`",
                  "enum": [
                    "TARGETING_TYPE_UNSPECIFIED",
                    "TARGETING_TYPE_CHANNEL",
                    "TARGETING_TYPE_APP_CATEGORY",
                    "TARGETING_TYPE_APP",
                    "TARGETING_TYPE_URL",
                    "TARGETING_TYPE_DAY_AND_TIME",
                    "TARGETING_TYPE_AGE_RANGE",
                    "TARGETING_TYPE_REGIONAL_LOCATION_LIST",
                    "TARGETING_TYPE_PROXIMITY_LOCATION_LIST",
                    "TARGETING_TYPE_GENDER",
                    "TARGETING_TYPE_VIDEO_PLAYER_SIZE",
                    "TARGETING_TYPE_USER_REWARDED_CONTENT",
                    "TARGETING_TYPE_PARENTAL_STATUS",
                    "TARGETING_TYPE_CONTENT_INSTREAM_POSITION",
                    "TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION",
                    "TARGETING_TYPE_DEVICE_TYPE",
                    "TARGETING_TYPE_AUDIENCE_GROUP",
                    "TARGETING_TYPE_BROWSER",
                    "TARGETING_TYPE_HOUSEHOLD_INCOME",
                    "TARGETING_TYPE_ON_SCREEN_POSITION",
                    "TARGETING_TYPE_THIRD_PARTY_VERIFIER",
                    "TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION",
                    "TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION",
                    "TARGETING_TYPE_ENVIRONMENT",
                    "TARGETING_TYPE_CARRIER_AND_ISP",
                    "TARGETING_TYPE_OPERATING_SYSTEM",
                    "TARGETING_TYPE_DEVICE_MAKE_MODEL",
                    "TARGETING_TYPE_KEYWORD",
                    "TARGETING_TYPE_NEGATIVE_KEYWORD_LIST",
                    "TARGETING_TYPE_VIEWABILITY",
                    "TARGETING_TYPE_CATEGORY",
                    "TARGETING_TYPE_INVENTORY_SOURCE",
                    "TARGETING_TYPE_LANGUAGE",
                    "TARGETING_TYPE_AUTHORIZED_SELLER_STATUS",
                    "TARGETING_TYPE_GEO_REGION",
                    "TARGETING_TYPE_INVENTORY_SOURCE_GROUP",
                    "TARGETING_TYPE_EXCHANGE",
                    "TARGETING_TYPE_SUB_EXCHANGE",
                    "TARGETING_TYPE_POI",
                    "TARGETING_TYPE_BUSINESS_CHAIN",
                    "TARGETING_TYPE_CONTENT_DURATION",
                    "TARGETING_TYPE_CONTENT_STREAM_TYPE",
                    "TARGETING_TYPE_NATIVE_CONTENT_POSITION",
                    "TARGETING_TYPE_OMID",
                    "TARGETING_TYPE_AUDIO_CONTENT_TYPE",
                    "TARGETING_TYPE_CONTENT_GENRE",
                    "TARGETING_TYPE_YOUTUBE_VIDEO",
                    "TARGETING_TYPE_YOUTUBE_CHANNEL",
                    "TARGETING_TYPE_SESSION_POSITION",
                    "TARGETING_TYPE_CONTENT_THEME_EXCLUSION",
                    "TARGETING_TYPE_YOUTUBE_CHANNEL_PACK"
                  ],
                  "type": "string",
                  "pattern": "^[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "description": "Searches for targeting options of a given type based on the given search terms.",
              "flatPath": "v3/targetingTypes/{targetingTypesId}/targetingOptions:search",
              "httpMethod": "POST",
              "response": {
                "$ref": "SearchTargetingOptionsResponse"
              }
            }
          }
        }
      }
    },
    "combinedAudiences": {
      "methods": {
        "get": {
          "description": "Gets a combined audience.",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "parameterOrder": [
            "combinedAudienceId"
          ],
          "path": "v3/combinedAudiences/{+combinedAudienceId}",
          "id": "displayvideo.combinedAudiences.get",
          "response": {
            "$ref": "CombinedAudience"
          },
          "flatPath": "v3/combinedAudiences/{combinedAudiencesId}",
          "parameters": {
            "combinedAudienceId": {
              "description": "Required. The ID of the combined audience to fetch.",
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "format": "int64"
            },
            "partnerId": {
              "location": "query",
              "format": "int64",
              "type": "string",
              "description": "The ID of the partner that has access to the fetched combined audience."
            },
            "advertiserId": {
              "description": "The ID of the advertiser that has access to the fetched combined audience.",
              "location": "query",
              "type": "string",
              "format": "int64"
            }
          },
          "httpMethod": "GET"
        },
        "list": {
          "response": {
            "$ref": "ListCombinedAudiencesResponse"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "flatPath": "v3/combinedAudiences",
          "path": "v3/combinedAudiences",
          "parameters": {
            "filter": {
              "type": "string",
              "location": "query",
              "description": "Allows filtering by combined audience fields. Supported syntax: * Filter expressions for combined audiences can only contain at most one restriction. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `HAS (:)` operator. Supported fields: * `displayName` Examples: * All combined audiences for which the display name contains \"Google\": `displayName : \"Google\"`. The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information."
            },
            "advertiserId": {
              "type": "string",
              "location": "query",
              "description": "The ID of the advertiser that has access to the fetched combined audiences.",
              "format": "int64"
            },
            "pageSize": {
              "format": "int32",
              "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
              "type": "integer",
              "location": "query"
            },
            "partnerId": {
              "type": "string",
              "format": "int64",
              "location": "query",
              "description": "The ID of the partner that has access to the fetched combined audiences."
            },
            "pageToken": {
              "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListCombinedAudiences` method. If not specified, the first page of results will be returned.",
              "location": "query",
              "type": "string"
            },
            "orderBy": {
              "location": "query",
              "description": "Field by which to sort the list. Acceptable values are: * `combinedAudienceId` (default) * `displayName` The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. Example: `displayName desc`.",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "description": "Lists combined audiences. The order is defined by the order_by parameter.",
          "id": "displayvideo.combinedAudiences.list"
        }
      }
    },
    "floodlightGroups": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "description": "Gets a Floodlight group.",
          "path": "v3/floodlightGroups/{+floodlightGroupId}",
          "response": {
            "$ref": "FloodlightGroup"
          },
          "parameterOrder": [
            "floodlightGroupId"
          ],
          "flatPath": "v3/floodlightGroups/{floodlightGroupsId}",
          "parameters": {
            "floodlightGroupId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "location": "path",
              "description": "Required. The ID of the Floodlight group to fetch.",
              "required": true
            },
            "partnerId": {
              "location": "query",
              "type": "string",
              "format": "int64",
              "description": "Required. The partner context by which the Floodlight group is being accessed."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "id": "displayvideo.floodlightGroups.get"
        },
        "patch": {
          "path": "v3/floodlightGroups/{floodlightGroupId}",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "httpMethod": "PATCH",
          "description": "Updates an existing Floodlight group. Returns the updated Floodlight group if successful.",
          "request": {
            "$ref": "FloodlightGroup"
          },
          "id": "displayvideo.floodlightGroups.patch",
          "parameters": {
            "floodlightGroupId": {
              "location": "path",
              "required": true,
              "description": "Output only. The unique ID of the Floodlight group. Assigned by the system.",
              "type": "string",
              "format": "int64"
            },
            "partnerId": {
              "type": "string",
              "description": "Required. The partner context by which the Floodlight group is being accessed.",
              "format": "int64",
              "location": "query"
            },
            "updateMask": {
              "type": "string",
              "format": "google-fieldmask",
              "description": "Required. The mask to control which fields to update.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "FloodlightGroup"
          },
          "flatPath": "v3/floodlightGroups/{floodlightGroupId}",
          "parameterOrder": [
            "floodlightGroupId"
          ]
        }
      },
      "resources": {
        "floodlightActivities": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "flatPath": "v3/floodlightGroups/{floodlightGroupsId}/floodlightActivities",
              "response": {
                "$ref": "ListFloodlightActivitiesResponse"
              },
              "parameterOrder": [
                "floodlightGroupId"
              ],
              "path": "v3/floodlightGroups/{+floodlightGroupId}/floodlightActivities",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "description": "Optional. Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
                  "format": "int32",
                  "type": "integer"
                },
                "partnerId": {
                  "description": "Required. The ID of the partner through which the Floodlight activities are being accessed.",
                  "format": "int64",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListFloodlightActivities` method. If not specified, the first page of results will be returned."
                },
                "floodlightGroupId": {
                  "description": "Required. The ID of the parent Floodlight group to which the requested Floodlight activities belong.",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "format": "int64",
                  "pattern": "^[^/]+$"
                },
                "orderBy": {
                  "type": "string",
                  "description": "Optional. Field by which to sort the list. Acceptable values are: * `displayName` (default) * `floodlightActivityId` The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. Example: `displayName desc`.",
                  "location": "query"
                }
              },
              "id": "displayvideo.floodlightGroups.floodlightActivities.list",
              "description": "Lists Floodlight activities in a Floodlight group.",
              "httpMethod": "GET"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "httpMethod": "GET",
              "path": "v3/floodlightGroups/{+floodlightGroupId}/floodlightActivities/{+floodlightActivityId}",
              "parameters": {
                "floodlightActivityId": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The ID of the Floodlight activity to fetch.",
                  "location": "path",
                  "format": "int64",
                  "pattern": "^[^/]+$"
                },
                "floodlightGroupId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "format": "int64",
                  "pattern": "^[^/]+$",
                  "description": "Required. The ID of the parent Floodlight group to which the requested Floodlight activity belongs."
                },
                "partnerId": {
                  "description": "Required. The ID of the partner through which the Floodlight activity is being accessed.",
                  "location": "query",
                  "type": "string",
                  "format": "int64"
                }
              },
              "parameterOrder": [
                "floodlightGroupId",
                "floodlightActivityId"
              ],
              "description": "Gets a Floodlight activity.",
              "flatPath": "v3/floodlightGroups/{floodlightGroupsId}/floodlightActivities/{floodlightActivitiesId}",
              "id": "displayvideo.floodlightGroups.floodlightActivities.get",
              "response": {
                "$ref": "FloodlightActivity"
              }
            }
          }
        }
      }
    },
    "advertisers": {
      "resources": {
        "assets": {
          "methods": {
            "upload": {
              "httpMethod": "POST",
              "id": "displayvideo.advertisers.assets.upload",
              "mediaUpload": {
                "protocols": {
                  "simple": {
                    "path": "/upload/v3/advertisers/{+advertiserId}/assets",
                    "multipart": true
                  }
                },
                "accept": [
                  "*/*"
                ]
              },
              "parameterOrder": [
                "advertiserId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "request": {
                "$ref": "CreateAssetRequest"
              },
              "flatPath": "v3/advertisers/{advertisersId}/assets",
              "parameters": {
                "advertiserId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The ID of the advertiser this asset belongs to.",
                  "format": "int64",
                  "pattern": "^[^/]+$"
                }
              },
              "response": {
                "$ref": "CreateAssetResponse"
              },
              "description": "Uploads an asset. Returns the ID of the newly uploaded asset if successful. The asset file size should be no more than 10 MB for images, 200 MB for ZIP files, and 1 GB for videos. Must be used within the [multipart media upload process](/display-video/api/guides/how-tos/upload#multipart). Examples using provided client libraries can be found in our [Creating Creatives guide](/display-video/api/guides/creating-creatives/overview#upload_an_asset).",
              "path": "v3/advertisers/{+advertiserId}/assets",
              "supportsMediaUpload": true
            }
          }
        },
        "invoices": {
          "methods": {
            "lookupInvoiceCurrency": {
              "path": "v3/advertisers/{+advertiserId}/invoices:lookupInvoiceCurrency",
              "parameters": {
                "advertiserId": {
                  "required": true,
                  "format": "int64",
                  "description": "Required. The ID of the advertiser to lookup currency for.",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "type": "string"
                },
                "invoiceMonth": {
                  "location": "query",
                  "description": "Month for which the currency is needed. If not set, the request will return existing currency settings for the advertiser. Must be in the format YYYYMM.",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "advertiserId"
              ],
              "id": "displayvideo.advertisers.invoices.lookupInvoiceCurrency",
              "response": {
                "$ref": "LookupInvoiceCurrencyResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/display-video",
                "https://www.googleapis.com/auth/display-video-mediaplanning"
              ],
              "flatPath": "v3/advertisers/{advertisersId}/invoices:lookupInvoiceCurrency",
              "description": "Retrieves the invoice currency used by an advertiser in a given month."
            },
            "list": {
              "description": "Lists invoices posted for an advertiser in a given month. Invoices generated by billing profiles with a \"Partner\" invoice level are not retrievable through this method.",
              "flatPath": "v3/advertisers/{advertisersId}/invoices",
              "scopes": [
                "https://www.googleapis.com/auth/display-video",
                "https://www.googleapis.com/auth/display-video-mediaplanning"
              ],
              "response": {
                "$ref": "ListInvoicesResponse"
              },
              "id": "displayvideo.advertisers.invoices.list",
              "path": "v3/advertisers/{+advertiserId}/invoices",
              "parameters": {
                "advertiserId": {
                  "pattern": "^[^/]+$",
                  "format": "int64",
                  "description": "Required. The ID of the advertiser to list invoices for.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "loiSapinInvoiceType": {
                  "type": "string",
                  "location": "query",
                  "enumDescriptions": [
                    "Value is not specified.",
                    "Invoices with Media cost.",
                    "Invoices with Platform fee."
                  ],
                  "description": "Select type of invoice to retrieve for Loi Sapin advertisers. Only applicable to Loi Sapin advertisers. Will be ignored otherwise.",
                  "enum": [
                    "LOI_SAPIN_INVOICE_TYPE_UNSPECIFIED",
                    "LOI_SAPIN_INVOICE_TYPE_MEDIA",
                    "LOI_SAPIN_INVOICE_TYPE_PLATFORM"
                  ]
                },
                "issueMonth": {
                  "description": "The month to list the invoices for. If not set, the request will retrieve invoices for the previous month. Must be in the format YYYYMM.",
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListInvoices` method. If not specified, the first page of results will be returned."
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified."
                }
              },
              "parameterOrder": [
                "advertiserId"
              ],
              "httpMethod": "GET"
            }
          }
        },
        "locationLists": {
          "methods": {
            "patch": {
              "flatPath": "v3/advertisers/{advertisersId}/locationLists/{locationListId}",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "LocationList"
              },
              "parameterOrder": [
                "advertiserId",
                "locationListId"
              ],
              "request": {
                "$ref": "LocationList"
              },
              "parameters": {
                "locationListId": {
                  "location": "path",
                  "format": "int64",
                  "required": true,
                  "type": "string",
                  "description": "Output only. The unique ID of the location list. Assigned by the system."
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "description": "Required. The mask to control which fields to update.",
                  "location": "query",
                  "type": "string"
                },
                "advertiserId": {
                  "format": "int64",
                  "type": "string",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "description": "Required. The ID of the DV360 advertiser to which the location lists belongs."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "id": "displayvideo.advertisers.locationLists.patch",
              "description": "Updates a location list. Returns the updated location list if successful.",
              "path": "v3/advertisers/{+advertiserId}/locationLists/{locationListId}"
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "flatPath": "v3/advertisers/{advertisersId}/locationLists",
              "httpMethod": "POST",
              "response": {
                "$ref": "LocationList"
              },
              "description": "Creates a new location list. Returns the newly created location list if successful.",
              "id": "displayvideo.advertisers.locationLists.create",
              "path": "v3/advertisers/{+advertiserId}/locationLists",
              "parameters": {
                "advertiserId": {
                  "description": "Required. The ID of the DV360 advertiser to which the location list belongs.",
                  "required": true,
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "format": "int64"
                }
              },
              "parameterOrder": [
                "advertiserId"
              ],
              "request": {
                "$ref": "LocationList"
              }
            },
            "list": {
              "path": "v3/advertisers/{+advertiserId}/locationLists",
              "id": "displayvideo.advertisers.locationLists.list",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListLocationListsResponse"
              },
              "flatPath": "v3/advertisers/{advertisersId}/locationLists",
              "description": "Lists location lists based on a given advertiser id.",
              "parameterOrder": [
                "advertiserId"
              ],
              "parameters": {
                "advertiserId": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The ID of the DV360 advertiser to which the fetched location lists belong.",
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "format": "int64"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Requested page size. Must be between `1` and `200`. Defaults to `100` if not set. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
                  "format": "int32",
                  "type": "integer"
                },
                "orderBy": {
                  "description": "Field by which to sort the list. Acceptable values are: * `locationListId` (default) * `displayName` The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. Example: `displayName desc`.",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListLocationLists` method. If not specified, the first page of results will be returned.",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "description": "Allows filtering by location list fields. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by `AND` or `OR` logical operators. A sequence of restrictions implicitly uses `AND`. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `EQUALS (=)` operator. Supported fields: * `locationType` Examples: * All regional location list: `locationType=\"TARGETING_LOCATION_TYPE_REGIONAL\"` * All proximity location list: `locationType=\"TARGETING_LOCATION_TYPE_PROXIMITY\"` The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ]
            },
            "get": {
              "id": "displayvideo.advertisers.locationLists.get",
              "path": "v3/advertisers/{+advertiserId}/locationLists/{+locationListId}",
              "description": "Gets a location list.",
              "parameters": {
                "advertiserId": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The ID of the DV360 advertiser to which the fetched location list belongs.",
                  "required": true,
                  "format": "int64",
                  "pattern": "^[^/]+$"
                },
                "locationListId": {
                  "type": "string",
                  "description": "Required. The ID of the location list to fetch.",
                  "format": "int64",
                  "required": true,
                  "location": "path",
                  "pattern": "^[^/]+$"
                }
              },
              "parameterOrder": [
                "advertiserId",
                "locationListId"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "LocationList"
              },
              "flatPath": "v3/advertisers/{advertisersId}/locationLists/{locationListsId}",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ]
            }
          },
          "resources": {
            "assignedLocations": {
              "methods": {
                "bulkEdit": {
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ],
                  "parameterOrder": [
                    "advertiserId",
                    "locationListId"
                  ],
                  "parameters": {
                    "advertiserId": {
                      "required": true,
                      "description": "Required. The ID of the DV360 advertiser to which the location list belongs.",
                      "location": "path",
                      "type": "string",
                      "format": "int64"
                    },
                    "locationListId": {
                      "format": "int64",
                      "pattern": "^[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The ID of the location list to which these assignments are assigned.",
                      "type": "string"
                    }
                  },
                  "id": "displayvideo.advertisers.locationLists.assignedLocations.bulkEdit",
                  "request": {
                    "$ref": "BulkEditAssignedLocationsRequest"
                  },
                  "description": "Bulk edits multiple assignments between locations and a single location list. The operation will delete the assigned locations provided in deletedAssignedLocations and then create the assigned locations provided in createdAssignedLocations.",
                  "response": {
                    "$ref": "BulkEditAssignedLocationsResponse"
                  },
                  "path": "v3/advertisers/{advertiserId}/locationLists/{+locationListId}/assignedLocations:bulkEdit",
                  "flatPath": "v3/advertisers/{advertiserId}/locationLists/{locationListsId}/assignedLocations:bulkEdit"
                },
                "create": {
                  "response": {
                    "$ref": "AssignedLocation"
                  },
                  "request": {
                    "$ref": "AssignedLocation"
                  },
                  "flatPath": "v3/advertisers/{advertiserId}/locationLists/{locationListId}/assignedLocations",
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ],
                  "id": "displayvideo.advertisers.locationLists.assignedLocations.create",
                  "path": "v3/advertisers/{advertiserId}/locationLists/{locationListId}/assignedLocations",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "advertiserId",
                    "locationListId"
                  ],
                  "parameters": {
                    "advertiserId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The ID of the DV360 advertiser to which the location list belongs.",
                      "format": "int64"
                    },
                    "locationListId": {
                      "description": "Required. The ID of the location list for which the assignment will be created.",
                      "format": "int64",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "description": "Creates an assignment between a location and a location list."
                },
                "delete": {
                  "parameters": {
                    "assignedLocationId": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "format": "int64",
                      "description": "Required. The ID of the assigned location to delete.",
                      "pattern": "^[^/]+$"
                    },
                    "advertiserId": {
                      "type": "string",
                      "description": "Required. The ID of the DV360 advertiser to which the location list belongs.",
                      "format": "int64",
                      "required": true,
                      "location": "path"
                    },
                    "locationListId": {
                      "description": "Required. The ID of the location list to which this assignment is assigned.",
                      "type": "string",
                      "format": "int64",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "advertiserId",
                    "locationListId",
                    "assignedLocationId"
                  ],
                  "description": "Deletes the assignment between a location and a location list.",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ],
                  "id": "displayvideo.advertisers.locationLists.assignedLocations.delete",
                  "path": "v3/advertisers/{advertiserId}/locationLists/{locationListId}/assignedLocations/{+assignedLocationId}",
                  "flatPath": "v3/advertisers/{advertiserId}/locationLists/{locationListId}/assignedLocations/{assignedLocationsId}",
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "list": {
                  "description": "Lists locations assigned to a location list.",
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ],
                  "id": "displayvideo.advertisers.locationLists.assignedLocations.list",
                  "parameters": {
                    "locationListId": {
                      "type": "string",
                      "description": "Required. The ID of the location list to which these assignments are assigned.",
                      "required": true,
                      "location": "path",
                      "format": "int64"
                    },
                    "advertiserId": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The ID of the DV360 advertiser to which the location list belongs.",
                      "format": "int64",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Allows filtering by location list assignment fields. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by the `OR` logical operator. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `EQUALS (=)` operator. Supported fields: * `assignedLocationId` The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information.",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListAssignedLocations` method. If not specified, the first page of results will be returned.",
                      "location": "query"
                    },
                    "orderBy": {
                      "description": "Field by which to sort the list. Acceptable values are: * `assignedLocationId` (default) The default sorting order is ascending. To specify descending order for a field, a suffix \" desc\" should be added to the field name. Example: `assignedLocationId desc`.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
[...]
