{
  "protocol": "rest",
  "name": "displayvideo",
  "mtlsRootUrl": "https://displayvideo.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "title": "Display & Video 360 API",
  "parameters": {
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    }
  },
  "kind": "discovery#restDescription",
  "description": "Display & Video 360 API allows users to automate complex Display & Video 360 workflows, such as creating insertion orders and setting targeting options for individual line items.",
  "version_module": true,
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "schemas": {
    "CampaignFlight": {
      "properties": {
        "plannedDates": {
          "description": "Required. The dates that the campaign is expected to run. They are resolved relative to the parent advertiser's time zone. * The dates specified here will not affect serving. They are used to generate alerts and warnings. For example, if the flight date of any child insertion order is outside the range of these dates, the user interface will show a warning. * `start_date` is required and must be the current date or later. * `end_date` is optional. If specified, it must be the `start_date` or later. * Any specified date must be before the year 2037.",
          "$ref": "DateRange"
        },
        "plannedSpendAmountMicros": {
          "description": "The amount the campaign is expected to spend for its given planned_dates. This will not limit serving, but will be used for tracking spend in the DV360 UI. The amount is in micros. Must be greater than or equal to 0. For example, 500000000 represents 500 standard units of the currency.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "CampaignFlight",
      "description": "Settings that track the planned spend and duration of a campaign.",
      "type": "object"
    },
    "CustomBiddingScriptRef": {
      "description": "The reference to the uploaded custom bidding script file.",
      "type": "object",
      "properties": {
        "resourceName": {
          "type": "string",
          "description": "A resource name to be used in media.download to Download the script files. Or media.upload to Upload the script files. Resource names have the format `customBiddingAlgorithms/{custom_bidding_algorithm_id}/scriptRef/{ref_id}`."
        }
      },
      "id": "CustomBiddingScriptRef"
    },
    "InsertionOrder": {
      "id": "InsertionOrder",
      "properties": {
        "budget": {
          "description": "Required. The budget allocation settings of the insertion order.",
          "$ref": "InsertionOrderBudget"
        },
        "frequencyCap": {
          "$ref": "FrequencyCap",
          "description": "Required. The frequency capping setting of the insertion order."
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when the insertion order was last updated. Assigned by the system."
        },
        "pacing": {
          "description": "Required. The budget spending speed setting of the insertion order. pacing_type `PACING_TYPE_ASAP` is not compatible with pacing_period `PACING_PERIOD_FLIGHT`.",
          "$ref": "Pacing"
        },
        "reservationType": {
          "description": "Output only. The reservation type of the insertion order.",
          "readOnly": true,
          "enumDescriptions": [
            "Reservation type value is not specified or is unknown in this version.",
            "Not created through a guaranteed inventory source.",
            "Created through a programmatic guaranteed inventory source.",
            "Created through a tag guaranteed inventory source.",
            "Created through a Petra inventory source. Only applicable to YouTube and Partners line items.",
            "Created with an instant quote. Only applicable to YouTube and partners line items."
          ],
          "enum": [
            "RESERVATION_TYPE_UNSPECIFIED",
            "RESERVATION_TYPE_NOT_GUARANTEED",
            "RESERVATION_TYPE_PROGRAMMATIC_GUARANTEED",
            "RESERVATION_TYPE_TAG_GUARANTEED",
            "RESERVATION_TYPE_PETRA_VIRAL",
            "RESERVATION_TYPE_INSTANT_RESERVE"
          ],
          "type": "string"
        },
        "displayName": {
          "description": "Required. The display name of the insertion order. Must be UTF-8 encoded with a maximum size of 240 bytes.",
          "type": "string"
        },
        "performanceGoal": {
          "description": "Required. Performance goal of the insertion order.",
          "$ref": "PerformanceGoal"
        },
        "integrationDetails": {
          "$ref": "IntegrationDetails",
          "description": "Optional. Additional integration details of the insertion order."
        },
        "billableOutcome": {
          "type": "string",
          "enum": [
            "BILLABLE_OUTCOME_UNSPECIFIED",
            "BILLABLE_OUTCOME_PAY_PER_IMPRESSION",
            "BILLABLE_OUTCOME_PAY_PER_CLICK",
            "BILLABLE_OUTCOME_PAY_PER_VIEWABLE_IMPRESSION"
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            true
          ],
          "description": "Immutable. The billable outcome of the insertion order. Outcome based buying is deprecated. `BILLABLE_OUTCOME_PAY_PER_IMPRESSION` is the only valid value.",
          "enumDescriptions": [
            "Unspecified billable outcome.",
            "Pay per impressions.",
            "Pay per click.",
            "Pay per active view."
          ]
        },
        "entityStatus": {
          "type": "string",
          "enum": [
            "ENTITY_STATUS_UNSPECIFIED",
            "ENTITY_STATUS_ACTIVE",
            "ENTITY_STATUS_ARCHIVED",
            "ENTITY_STATUS_DRAFT",
            "ENTITY_STATUS_PAUSED",
            "ENTITY_STATUS_SCHEDULED_FOR_DELETION"
          ],
          "enumDescriptions": [
            "Default value when status is not specified or is unknown in this version.",
            "The entity is enabled to bid and spend budget.",
            "The entity is archived. Bidding and budget spending are disabled. An entity can be deleted after archived. Deleted entities cannot be retrieved.",
            "The entity is under draft. Bidding and budget spending are disabled.",
            "Bidding and budget spending are paused for the entity.",
            "The entity is scheduled for deletion."
          ],
          "description": "Required. Controls whether or not the insertion order can spend its budget and bid on inventory. * For CreateInsertionOrder method, only `ENTITY_STATUS_DRAFT` is allowed. To activate an insertion order, use UpdateInsertionOrder method and update the status to `ENTITY_STATUS_ACTIVE` after creation. * An insertion order cannot be changed back to `ENTITY_STATUS_DRAFT` status from any other status. * An insertion order cannot be set to `ENTITY_STATUS_ACTIVE` if its parent campaign is not active."
        },
        "insertionOrderType": {
          "description": "Optional. The type of insertion order. If this field is unspecified in creation, the value defaults to `RTB`.",
          "enumDescriptions": [
            "Insertion order type is not specified or is unknown.",
            "Real-time bidding.",
            "Over-the-top."
          ],
          "type": "string",
          "enum": [
            "INSERTION_ORDER_TYPE_UNSPECIFIED",
            "RTB",
            "OVER_THE_TOP"
          ]
        },
        "bidStrategy": {
          "description": "Optional. The bidding strategy of the insertion order. By default, fixed_bid is set. If the budget field automationType is set to `INSERTION_ORDER_AUTOMATION_TYPE_BUDGET` or `INSERTION_ORDER_AUTOMATION_TYPE_BID_BUDGET`, the insertion order will impose this bidding strategy on its line items. If an imposed bidding strategy is not compatible with a line item's enableOptimizedTargeting setting, the optimized targeting setting will be updated.",
          "$ref": "BiddingStrategy"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the insertion order."
        },
        "campaignId": {
          "description": "Required. Immutable. The unique ID of the campaign that the insertion order belongs to.",
          "type": "string",
          "format": "int64"
        },
        "insertionOrderId": {
          "description": "Output only. The unique ID of the insertion order. Assigned by the system.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "advertiserId": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. The unique ID of the advertiser the insertion order belongs to."
        },
        "partnerCosts": {
          "type": "array",
          "description": "Optional. The partner costs associated with the insertion order. If absent or empty in CreateInsertionOrder method, the newly created insertion order will inherit partner costs from the partner settings.",
          "items": {
            "$ref": "PartnerCost"
          }
        }
      },
      "type": "object",
      "description": "A single insertion order."
    },
    "ReplaceSitesRequest": {
      "type": "object",
      "properties": {
        "advertiserId": {
          "format": "int64",
          "description": "The ID of the advertiser that owns the parent channel.",
          "type": "string"
        },
        "newSites": {
          "type": "array",
          "items": {
            "$ref": "Site"
          },
          "description": "The sites that will replace the existing sites assigned to the channel, specified as a list of Sites."
        },
        "partnerId": {
          "format": "int64",
          "description": "The ID of the partner that owns the parent channel.",
          "type": "string"
        }
      },
      "id": "ReplaceSitesRequest",
      "description": "Request message for SiteService.ReplaceSites."
    },
    "DoubleVerifyFraudInvalidTraffic": {
      "properties": {
        "avoidInsufficientOption": {
          "description": "Insufficient Historical Fraud & IVT Stats.",
          "type": "boolean"
        },
        "avoidedFraudOption": {
          "enum": [
            "FRAUD_UNSPECIFIED",
            "AD_IMPRESSION_FRAUD_100",
            "AD_IMPRESSION_FRAUD_50",
            "AD_IMPRESSION_FRAUD_25",
            "AD_IMPRESSION_FRAUD_10",
            "AD_IMPRESSION_FRAUD_8",
            "AD_IMPRESSION_FRAUD_6",
            "AD_IMPRESSION_FRAUD_4",
            "AD_IMPRESSION_FRAUD_2"
          ],
          "type": "string",
          "description": "Avoid Sites and Apps with historical Fraud & IVT.",
          "enumDescriptions": [
            "This enum is only a placeholder and it doesn't specify any fraud and invalid traffic options.",
            "100% Fraud & IVT.",
            "50% or Higher Fraud & IVT.",
            "25% or Higher Fraud & IVT.",
            "10% or Higher Fraud & IVT.",
            "8% or Higher Fraud & IVT.",
            "6% or Higher Fraud & IVT.",
            "4% or Higher Fraud & IVT.",
            "2% or Higher Fraud & IVT."
          ]
        }
      },
      "id": "DoubleVerifyFraudInvalidTraffic",
      "description": "DoubleVerify Fraud & Invalid Traffic settings.",
      "type": "object"
    },
    "InStreamAd": {
      "description": "Details for an in-stream ad.",
      "properties": {
        "customParameters": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The custom parameters and accompanying values to add to the tracking URL.",
          "type": "object"
        },
        "commonInStreamAttribute": {
          "$ref": "CommonInStreamAttribute",
          "description": "Required. Common ad attributes."
        }
      },
      "id": "InStreamAd",
      "type": "object"
    },
    "IdFilter": {
      "id": "IdFilter",
      "description": "A filtering option that filters entities by their entity IDs.",
      "type": "object",
      "properties": {
        "adGroupIds": {
          "description": "YouTube Ad Groups to download by ID. All IDs must belong to the same Advertiser or Partner specified in CreateSdfDownloadTaskRequest.",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array"
        },
        "adGroupAdIds": {
          "description": "YouTube Ads to download by ID. All IDs must belong to the same Advertiser or Partner specified in CreateSdfDownloadTaskRequest.",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "lineItemIds": {
          "description": "Line Items to download by ID. All IDs must belong to the same Advertiser or Partner specified in CreateSdfDownloadTaskRequest.",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "campaignIds": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array",
          "description": "Campaigns to download by ID. All IDs must belong to the same Advertiser or Partner specified in CreateSdfDownloadTaskRequest."
        },
        "insertionOrderIds": {
          "type": "array",
          "description": "Insertion Orders to download by ID. All IDs must belong to the same Advertiser or Partner specified in CreateSdfDownloadTaskRequest.",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "mediaProductIds": {
          "description": "Media Products to download by ID. All IDs must belong to the same Advertiser or Partner specified in CreateSdfDownloadTaskRequest.",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        }
      }
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "Status"
    },
    "YoutubeAndPartnersInventorySourceConfig": {
      "id": "YoutubeAndPartnersInventorySourceConfig",
      "description": "Settings that control what YouTube related inventories the YouTube and Partners line item will target.",
      "properties": {
        "includeYoutubeSearch": {
          "description": "Whether to target inventory on the YouTube search results page.",
          "type": "boolean"
        },
        "includeYoutubeVideos": {
          "description": "Whether to target inventory of channels and videos on YouTube and YouTube videos embedded on other sites.",
          "type": "boolean"
        },
        "includeGoogleTv": {
          "description": "Optional. Whether to target inventory in video apps available with Google TV.",
          "type": "boolean"
        },
        "includeYoutubeVideoPartners": {
          "description": "Whether to target inventory on a collection of partner sites and apps that follow the same brand safety standards as YouTube.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "AssignedTargetingOption": {
      "description": "A single assigned targeting option, which defines the state of a targeting option for an entity with targeting settings.",
      "id": "AssignedTargetingOption",
      "type": "object",
      "properties": {
        "youtubeVideoDetails": {
          "description": "YouTube video details. This field will be populated when the targeting_type is `TARGETING_TYPE_YOUTUBE_VIDEO`.",
          "$ref": "YoutubeVideoAssignedTargetingOptionDetails"
        },
        "youtubeChannelPackDetails": {
          "description": "YouTube channel pack details. This field will be populated when the targeting_type is `TARGETING_TYPE_YOUTUBE_CHANNEL_PACK`.",
          "$ref": "YoutubeChannelPackAssignedTargetingOptionDetails"
        },
        "geoRegionDetails": {
          "$ref": "GeoRegionAssignedTargetingOptionDetails",
          "description": "Geographic region details. This field will be populated when the targeting_type is `TARGETING_TYPE_GEO_REGION`."
        },
        "deviceTypeDetails": {
          "description": "Device Type details. This field will be populated when the targeting_type is `TARGETING_TYPE_DEVICE_TYPE`.",
          "$ref": "DeviceTypeAssignedTargetingOptionDetails"
        },
        "viewabilityDetails": {
          "description": "Viewability details. This field will be populated when the targeting_type is `TARGETING_TYPE_VIEWABILITY`. You can only target one viewability option per resource.",
          "$ref": "ViewabilityAssignedTargetingOptionDetails"
        },
        "categoryDetails": {
          "description": "Category details. This field will be populated when the targeting_type is `TARGETING_TYPE_CATEGORY`. Targeting a category will also target its subcategories. If a category is excluded from targeting and a subcategory is included, the exclusion will take precedence.",
          "$ref": "CategoryAssignedTargetingOptionDetails"
        },
        "audioContentTypeDetails": {
          "description": "Audio content type details. This field will be populated when the targeting_type is `TARGETING_TYPE_AUDIO_CONTENT_TYPE`.",
          "$ref": "AudioContentTypeAssignedTargetingOptionDetails"
        },
        "appCategoryDetails": {
          "description": "App category details. This field will be populated when the targeting_type is `TARGETING_TYPE_APP_CATEGORY`.",
          "$ref": "AppCategoryAssignedTargetingOptionDetails"
        },
        "youtubeChannelDetails": {
          "description": "YouTube channel details. This field will be populated when the targeting_type is `TARGETING_TYPE_YOUTUBE_CHANNEL`.",
          "$ref": "YoutubeChannelAssignedTargetingOptionDetails"
        },
        "assignedTargetingOptionId": {
          "readOnly": true,
          "description": "Output only. The unique ID of the assigned targeting option. The ID is only unique within a given resource and targeting type. It may be reused in other contexts.",
          "type": "string"
        },
        "audienceGroupDetails": {
          "$ref": "AudienceGroupAssignedTargetingOptionDetails",
          "description": "Audience targeting details. This field will be populated when the targeting_type is `TARGETING_TYPE_AUDIENCE_GROUP`. You can only target one audience group option per resource."
        },
        "businessChainDetails": {
          "description": "Business chain details. This field will be populated when the targeting_type is `TARGETING_TYPE_BUSINESS_CHAIN`.",
          "$ref": "BusinessChainAssignedTargetingOptionDetails"
        },
        "inventorySourceGroupDetails": {
          "$ref": "InventorySourceGroupAssignedTargetingOptionDetails",
          "description": "Inventory source group details. This field will be populated when the targeting_type is `TARGETING_TYPE_INVENTORY_SOURCE_GROUP`."
        },
        "contentInstreamPositionDetails": {
          "description": "Content instream position details. This field will be populated when the targeting_type is `TARGETING_TYPE_CONTENT_INSTREAM_POSITION`.",
          "$ref": "ContentInstreamPositionAssignedTargetingOptionDetails"
        },
        "proximityLocationListDetails": {
          "$ref": "ProximityLocationListAssignedTargetingOptionDetails",
          "description": "Proximity location list details. This field will be populated when the targeting_type is `TARGETING_TYPE_PROXIMITY_LOCATION_LIST`."
        },
        "environmentDetails": {
          "$ref": "EnvironmentAssignedTargetingOptionDetails",
          "description": "Environment details. This field will be populated when the targeting_type is `TARGETING_TYPE_ENVIRONMENT`."
        },
        "carrierAndIspDetails": {
          "description": "Carrier and ISP details. This field will be populated when the targeting_type is `TARGETING_TYPE_CARRIER_AND_ISP`.",
          "$ref": "CarrierAndIspAssignedTargetingOptionDetails"
        },
        "contentStreamTypeDetails": {
          "description": "Content duration details. This field will be populated when the TargetingType is `TARGETING_TYPE_CONTENT_STREAM_TYPE`.",
          "$ref": "ContentStreamTypeAssignedTargetingOptionDetails"
        },
        "dayAndTimeDetails": {
          "description": "Day and time details. This field will be populated when the targeting_type is `TARGETING_TYPE_DAY_AND_TIME`.",
          "$ref": "DayAndTimeAssignedTargetingOptionDetails"
        },
        "assignedTargetingOptionIdAlias": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. An alias for the assigned_targeting_option_id. This value can be used in place of `assignedTargetingOptionId` when retrieving or deleting existing targeting. This field will only be supported for all assigned targeting options of the following targeting types: * `TARGETING_TYPE_AGE_RANGE` * `TARGETING_TYPE_DEVICE_TYPE` * `TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION` * `TARGETING_TYPE_ENVIRONMENT` * `TARGETING_TYPE_EXCHANGE` * `TARGETING_TYPE_GENDER` * `TARGETING_TYPE_HOUSEHOLD_INCOME` * `TARGETING_TYPE_NATIVE_CONTENT_POSITION` * `TARGETING_TYPE_OMID` * `TARGETING_TYPE_PARENTAL_STATUS` * `TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION` * `TARGETING_TYPE_VIDEO_PLAYER_SIZE` * `TARGETING_TYPE_VIEWABILITY` This field is also supported for line item assigned targeting options of the following targeting types: * `TARGETING_TYPE_CONTENT_INSTREAM_POSITION` * `TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION`"
        },
        "languageDetails": {
          "description": "Language details. This field will be populated when the targeting_type is `TARGETING_TYPE_LANGUAGE`.",
          "$ref": "LanguageAssignedTargetingOptionDetails"
        },
        "householdIncomeDetails": {
          "$ref": "HouseholdIncomeAssignedTargetingOptionDetails",
          "description": "Household income details. This field will be populated when the targeting_type is `TARGETING_TYPE_HOUSEHOLD_INCOME`."
        },
        "onScreenPositionDetails": {
          "description": "On screen position details. This field will be populated when the targeting_type is `TARGETING_TYPE_ON_SCREEN_POSITION`.",
          "$ref": "OnScreenPositionAssignedTargetingOptionDetails"
        },
        "targetingType": {
          "type": "string",
          "enum": [
            "TARGETING_TYPE_UNSPECIFIED",
            "TARGETING_TYPE_CHANNEL",
            "TARGETING_TYPE_APP_CATEGORY",
            "TARGETING_TYPE_APP",
            "TARGETING_TYPE_URL",
            "TARGETING_TYPE_DAY_AND_TIME",
            "TARGETING_TYPE_AGE_RANGE",
            "TARGETING_TYPE_REGIONAL_LOCATION_LIST",
            "TARGETING_TYPE_PROXIMITY_LOCATION_LIST",
            "TARGETING_TYPE_GENDER",
            "TARGETING_TYPE_VIDEO_PLAYER_SIZE",
            "TARGETING_TYPE_USER_REWARDED_CONTENT",
            "TARGETING_TYPE_PARENTAL_STATUS",
            "TARGETING_TYPE_CONTENT_INSTREAM_POSITION",
            "TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION",
            "TARGETING_TYPE_DEVICE_TYPE",
            "TARGETING_TYPE_AUDIENCE_GROUP",
            "TARGETING_TYPE_BROWSER",
            "TARGETING_TYPE_HOUSEHOLD_INCOME",
            "TARGETING_TYPE_ON_SCREEN_POSITION",
            "TARGETING_TYPE_THIRD_PARTY_VERIFIER",
            "TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION",
            "TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION",
            "TARGETING_TYPE_ENVIRONMENT",
            "TARGETING_TYPE_CARRIER_AND_ISP",
            "TARGETING_TYPE_OPERATING_SYSTEM",
            "TARGETING_TYPE_DEVICE_MAKE_MODEL",
            "TARGETING_TYPE_KEYWORD",
            "TARGETING_TYPE_NEGATIVE_KEYWORD_LIST",
            "TARGETING_TYPE_VIEWABILITY",
            "TARGETING_TYPE_CATEGORY",
            "TARGETING_TYPE_INVENTORY_SOURCE",
            "TARGETING_TYPE_LANGUAGE",
            "TARGETING_TYPE_AUTHORIZED_SELLER_STATUS",
            "TARGETING_TYPE_GEO_REGION",
            "TARGETING_TYPE_INVENTORY_SOURCE_GROUP",
            "TARGETING_TYPE_EXCHANGE",
            "TARGETING_TYPE_SUB_EXCHANGE",
            "TARGETING_TYPE_POI",
            "TARGETING_TYPE_BUSINESS_CHAIN",
            "TARGETING_TYPE_CONTENT_DURATION",
            "TARGETING_TYPE_CONTENT_STREAM_TYPE",
            "TARGETING_TYPE_NATIVE_CONTENT_POSITION",
            "TARGETING_TYPE_OMID",
            "TARGETING_TYPE_AUDIO_CONTENT_TYPE",
            "TARGETING_TYPE_CONTENT_GENRE",
            "TARGETING_TYPE_YOUTUBE_VIDEO",
            "TARGETING_TYPE_YOUTUBE_CHANNEL",
            "TARGETING_TYPE_SESSION_POSITION",
            "TARGETING_TYPE_YOUTUBE_CHANNEL_PACK"
          ],
          "readOnly": true,
          "description": "Output only. Identifies the type of this assigned targeting option.",
          "enumDescriptions": [
            "Default value when type is not specified or is unknown in this version.",
            "Target a channel (a custom group of related websites or apps).",
            "Target an app category (for example, education or puzzle games).",
            "Target a specific app (for example, Angry Birds).",
            "Target a specific url (for example, quora.com).",
            "Target ads during a chosen time period on a specific day.",
            "Target ads to a specific age range (for example, 18-24).",
            "Target ads to the specified regions on a regional location list.",
            "Target ads to the specified points of interest on a proximity location list.",
            "Target ads to a specific gender (for example, female or male).",
            "Target a specific video player size for video ads.",
            "Target user rewarded content for video ads.",
            "Target ads to a specific parental status (for example, parent or not a parent).",
            "Target video or audio ads in a specific content instream position (for example, pre-roll, mid-roll, or post-roll).",
            "Target ads in a specific content outstream position.",
            "Target ads to a specific device type (for example, tablet or connected TV).",
            "Target ads to an audience or groups of audiences. Singleton field, at most one can exist on a single Lineitem at a time.",
            "Target ads to specific web browsers (for example, Chrome).",
            "Target ads to a specific household income range (for example, top 10%).",
            "Target ads in a specific on screen position.",
            "Filter web sites through third party verification (for example, IAS or DoubleVerify).",
            "Filter web sites by specific digital content label ratings (for example, DL-MA: suitable only for mature audiences).",
            "Filter website content by sensitive categories (for example, adult).",
            "Target ads to a specific environment (for example, web or app).",
            "Target ads to a specific network carrier or internet service provider (ISP) (for example, Comcast or Orange).",
            "Target ads to a specific operating system (for example, macOS).",
            "Target ads to a specific device make or model (for example, Roku or Samsung).",
            "Target ads to a specific keyword (for example, dog or retriever).",
            "Target ads to a specific negative keyword list.",
            "Target ads to a specific viewability (for example, 80% viewable).",
            "Target ads to a specific content category (for example, arts & entertainment).",
            "Purchase impressions from specific deals and auction packages.",
            "Target ads to a specific language (for example, English or Japanese).",
            "Target ads to ads.txt authorized sellers. If no targeting option of this type is assigned, the resource uses the \"Authorized Direct Sellers and Resellers\" option by default.",
            "Target ads to a specific regional location (for example, a city or state).",
            "Purchase impressions from a group of deals and auction packages.",
            "Purchase impressions from specific exchanges.",
            "Purchase impressions from specific sub-exchanges.",
            "Target ads around a specific point of interest, such as a notable building, a street address, or latitude/longitude coordinates.",
            "Target ads around locations of a business chain within a specific geo region.",
            "Target ads to a specific video content duration.",
            "Target ads to a specific video content stream type.",
            "Target ads to a specific native content position.",
            "Target ads in an Open Measurement enabled inventory.",
            "Target ads to a specific audio content type.",
            "Target ads to a specific content genre.",
            "Target ads to a specific YouTube video. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
            "Target ads to a specific YouTube channel. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
            "Target ads to a serve it in a certain position of a session. Only supported for Ad Group resources under YouTube Programmatic Reservation line items. Targeting of this type cannot be created or updated using the API.",
            "Target ads to a specific YouTube channel pack."
          ]
        },
        "operatingSystemDetails": {
          "description": "Operating system details. This field will be populated when the targeting_type is `TARGETING_TYPE_OPERATING_SYSTEM`.",
          "$ref": "OperatingSystemAssignedTargetingOptionDetails"
        },
        "videoPlayerSizeDetails": {
          "description": "Video player size details. This field will be populated when the targeting_type is `TARGETING_TYPE_VIDEO_PLAYER_SIZE`.",
          "$ref": "VideoPlayerSizeAssignedTargetingOptionDetails"
        },
        "channelDetails": {
          "$ref": "ChannelAssignedTargetingOptionDetails",
          "description": "Channel details. This field will be populated when the targeting_type is `TARGETING_TYPE_CHANNEL`."
        },
        "omidDetails": {
          "$ref": "OmidAssignedTargetingOptionDetails",
          "description": "Open Measurement enabled inventory details. This field will be populated when the targeting_type is `TARGETING_TYPE_OMID`."
        },
        "urlDetails": {
          "description": "URL details. This field will be populated when the targeting_type is `TARGETING_TYPE_URL`.",
          "$ref": "UrlAssignedTargetingOptionDetails"
        },
        "subExchangeDetails": {
          "$ref": "SubExchangeAssignedTargetingOptionDetails",
          "description": "Sub-exchange details. This field will be populated when the targeting_type is `TARGETING_TYPE_SUB_EXCHANGE`."
        },
        "nativeContentPositionDetails": {
          "description": "Native content position details. This field will be populated when the targeting_type is `TARGETING_TYPE_NATIVE_CONTENT_POSITION`.",
          "$ref": "NativeContentPositionAssignedTargetingOptionDetails"
        },
        "thirdPartyVerifierDetails": {
          "description": "Third party verification details. This field will be populated when the targeting_type is `TARGETING_TYPE_THIRD_PARTY_VERIFIER`.",
          "$ref": "ThirdPartyVerifierAssignedTargetingOptionDetails"
        },
        "contentGenreDetails": {
          "description": "Content genre details. This field will be populated when the targeting_type is `TARGETING_TYPE_CONTENT_GENRE`.",
          "$ref": "ContentGenreAssignedTargetingOptionDetails"
        },
        "deviceMakeModelDetails": {
          "description": "Device make and model details. This field will be populated when the targeting_type is `TARGETING_TYPE_DEVICE_MAKE_MODEL`.",
          "$ref": "DeviceMakeModelAssignedTargetingOptionDetails"
        },
        "keywordDetails": {
          "$ref": "KeywordAssignedTargetingOptionDetails",
          "description": "Keyword details. This field will be populated when the targeting_type is `TARGETING_TYPE_KEYWORD`. A maximum of 5000 direct negative keywords can be assigned to a resource. No limit on number of positive keywords that can be assigned."
        },
        "genderDetails": {
          "$ref": "GenderAssignedTargetingOptionDetails",
          "description": "Gender details. This field will be populated when the targeting_type is `TARGETING_TYPE_GENDER`."
        },
        "inheritance": {
          "type": "string",
          "enum": [
            "INHERITANCE_UNSPECIFIED",
            "NOT_INHERITED",
            "INHERITED_FROM_PARTNER",
            "INHERITED_FROM_ADVERTISER"
          ],
          "description": "Output only. The inheritance status of the assigned targeting option.",
          "readOnly": true,
          "enumDescriptions": [
            "The inheritance is unspecified or unknown.",
            "The assigned targeting option is not inherited from higher level entity.",
            "The assigned targeting option is inherited from partner targeting settings.",
            "The assigned targeting option is inherited from advertiser targeting settings."
          ]
        },
        "sensitiveCategoryExclusionDetails": {
          "description": "Sensitive category details. This field will be populated when the targeting_type is `TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION`. Sensitive categories are targeting exclusions. Advertiser level sensitive category exclusions, if set, are always applied in serving (even though they aren't visible in resource settings). Resource settings can exclude sensitive categories in addition to advertiser exclusions, but can't override them.",
          "$ref": "SensitiveCategoryAssignedTargetingOptionDetails"
        },
        "contentDurationDetails": {
          "description": "Content duration details. This field will be populated when the targeting_type is `TARGETING_TYPE_CONTENT_DURATION`.",
          "$ref": "ContentDurationAssignedTargetingOptionDetails"
        },
        "authorizedSellerStatusDetails": {
          "description": "Authorized seller status details. This field will be populated when the targeting_type is `TARGETING_TYPE_AUTHORIZED_SELLER_STATUS`. You can only target one authorized seller status option per resource. If a resource doesn't have an authorized seller status option, all authorized sellers indicated as DIRECT or RESELLER in the ads.txt file are targeted by default.",
          "$ref": "AuthorizedSellerStatusAssignedTargetingOptionDetails"
        },
        "poiDetails": {
          "description": "POI details. This field will be populated when the targeting_type is `TARGETING_TYPE_POI`.",
          "$ref": "PoiAssignedTargetingOptionDetails"
        },
        "browserDetails": {
          "description": "Browser details. This field will be populated when the targeting_type is `TARGETING_TYPE_BROWSER`.",
          "$ref": "BrowserAssignedTargetingOptionDetails"
        },
        "contentOutstreamPositionDetails": {
          "description": "Content outstream position details. This field will be populated when the targeting_type is `TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION`.",
          "$ref": "ContentOutstreamPositionAssignedTargetingOptionDetails"
        },
        "ageRangeDetails": {
          "description": "Age range details. This field will be populated when the targeting_type is `TARGETING_TYPE_AGE_RANGE`.",
          "$ref": "AgeRangeAssignedTargetingOptionDetails"
        },
        "regionalLocationListDetails": {
          "description": "Regional location list details. This field will be populated when the targeting_type is `TARGETING_TYPE_REGIONAL_LOCATION_LIST`.",
          "$ref": "RegionalLocationListAssignedTargetingOptionDetails"
        },
        "exchangeDetails": {
          "description": "Exchange details. This field will be populated when the targeting_type is `TARGETING_TYPE_EXCHANGE`.",
          "$ref": "ExchangeAssignedTargetingOptionDetails"
        },
        "digitalContentLabelExclusionDetails": {
          "description": "Digital content label details. This field will be populated when the targeting_type is `TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION`. Digital content labels are targeting exclusions. Advertiser level digital content label exclusions, if set, are always applied in serving (even though they aren't visible in resource settings). Resource settings can exclude content labels in addition to advertiser exclusions, but can't override them. A line item won't serve if all the digital content labels are excluded.",
          "$ref": "DigitalContentLabelAssignedTargetingOptionDetails"
        },
        "inventorySourceDetails": {
          "$ref": "InventorySourceAssignedTargetingOptionDetails",
          "description": "Inventory source details. This field will be populated when the targeting_type is `TARGETING_TYPE_INVENTORY_SOURCE`."
        },
        "sessionPositionDetails": {
          "description": "Session position details. This field will be populated when the targeting_type is `TARGETING_TYPE_SESSION_POSITION`.",
          "$ref": "SessionPositionAssignedTargetingOptionDetails"
        },
        "userRewardedContentDetails": {
          "description": "User rewarded content details. This field will be populated when the targeting_type is `TARGETING_TYPE_USER_REWARDED_CONTENT`.",
          "$ref": "UserRewardedContentAssignedTargetingOptionDetails"
        },
        "parentalStatusDetails": {
          "description": "Parental status details. This field will be populated when the targeting_type is `TARGETING_TYPE_PARENTAL_STATUS`.",
          "$ref": "ParentalStatusAssignedTargetingOptionDetails"
        },
        "negativeKeywordListDetails": {
          "$ref": "NegativeKeywordListAssignedTargetingOptionDetails",
          "description": "Keyword details. This field will be populated when the targeting_type is `TARGETING_TYPE_NEGATIVE_KEYWORD_LIST`. A maximum of 4 negative keyword lists can be assigned to a resource."
        },
        "name": {
          "description": "Output only. The resource name for this assigned targeting option.",
          "readOnly": true,
          "type": "string"
        },
        "appDetails": {
          "description": "App details. This field will be populated when the targeting_type is `TARGETING_TYPE_APP`.",
          "$ref": "AppAssignedTargetingOptionDetails"
        }
      }
    },
    "GeoRegionAssignedTargetingOptionDetails": {
      "description": "Details for assigned geographic region targeting option. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_GEO_REGION`.",
      "id": "GeoRegionAssignedTargetingOptionDetails",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Output only. The display name of the geographic region (e.g., \"Ontario, Canada\").",
          "type": "string",
          "readOnly": true
        },
        "negative": {
          "description": "Indicates if this option is being negatively targeted.",
          "type": "boolean"
        },
        "targetingOptionId": {
          "description": "Required. The targeting_option_id of a TargetingOption of type `TARGETING_TYPE_GEO_REGION`.",
          "type": "string"
        },
        "geoRegionType": {
          "enumDescriptions": [
            "The geographic region type is unknown.",
            "The geographic region type is other.",
            "The geographic region is a country.",
            "The geographic region type is region.",
            "The geographic region is a territory.",
            "The geographic region is a province.",
            "The geographic region is a state.",
            "The geographic region is a prefecture.",
            "The geographic region is a governorate.",
            "The geographic region is a canton.",
            "The geographic region is a union territory.",
            "The geographic region is an autonomous community.",
            "The geographic region is a designated market area (DMA) region.",
            "The geographic region type is metro.",
            "The geographic region is a congressional district.",
            "The geographic region is a county.",
            "The geographic region is a municipality.",
            "The geographic region is a city.",
            "The geographic region targeting type is postal code.",
            "The geographic region targeting type is department.",
            "The geographic region is an airport.",
            "The geographic region is a TV region.",
            "The geographic region is an okrug.",
            "The geographic region is a borough.",
            "The geographic region is a city region.",
            "The geographic region is an arrondissement.",
            "The geographic region is a neighborhood.",
            "The geographic region is a university.",
            "The geographic region is a district.",
            "The geographic region is a national park.",
            "The geographic region is a barrio.",
            "The geographic region is a sub ward.",
            "The geographic region is a municipality district.",
            "The geographic region is a sub district.",
            "The geographic region is a quarter.",
            "The geographic region is a division.",
            "The geographic region is a commune.",
            "The geographic region is a colloquial area.",
            "The geographic region is a post town.",
            "The geographic region is a ward.",
            "The geographic region is a town.",
            "The geographic region is a village.",
            "The geographic region is a city district.",
            "The geographic region is a suburb.",
            "The geographic region is a hamlet.",
            "The geographic region is a municipal district.",
            "The geographic region is a community.",
            "The geographic region is a township.",
            "The geographic region is an urban district.",
            "The geographic region is a residential area.",
            "The geographic region is an independent city.",
            "The geographic region is a sector.",
            "The geographic region is an area.",
            "The geographic region is an estate.",
            "The geographic region is a parish.",
            "The geographic region is a settlement.",
            "The geographic region is a zone.",
            "The geographic region is a colony.",
            "The geographic region is an industrial area.",
            "The geographic region is a provincial city.",
            "The geographic region is a rural district."
          ],
          "description": "Output only. The type of geographic region targeting.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "GEO_REGION_TYPE_UNKNOWN",
            "GEO_REGION_TYPE_OTHER",
            "GEO_REGION_TYPE_COUNTRY",
            "GEO_REGION_TYPE_REGION",
            "GEO_REGION_TYPE_TERRITORY",
            "GEO_REGION_TYPE_PROVINCE",
            "GEO_REGION_TYPE_STATE",
            "GEO_REGION_TYPE_PREFECTURE",
            "GEO_REGION_TYPE_GOVERNORATE",
            "GEO_REGION_TYPE_CANTON",
            "GEO_REGION_TYPE_UNION_TERRITORY",
            "GEO_REGION_TYPE_AUTONOMOUS_COMMUNITY",
            "GEO_REGION_TYPE_DMA_REGION",
            "GEO_REGION_TYPE_METRO",
            "GEO_REGION_TYPE_CONGRESSIONAL_DISTRICT",
            "GEO_REGION_TYPE_COUNTY",
            "GEO_REGION_TYPE_MUNICIPALITY",
            "GEO_REGION_TYPE_CITY",
            "GEO_REGION_TYPE_POSTAL_CODE",
            "GEO_REGION_TYPE_DEPARTMENT",
            "GEO_REGION_TYPE_AIRPORT",
            "GEO_REGION_TYPE_TV_REGION",
            "GEO_REGION_TYPE_OKRUG",
            "GEO_REGION_TYPE_BOROUGH",
            "GEO_REGION_TYPE_CITY_REGION",
            "GEO_REGION_TYPE_ARRONDISSEMENT",
            "GEO_REGION_TYPE_NEIGHBORHOOD",
            "GEO_REGION_TYPE_UNIVERSITY",
            "GEO_REGION_TYPE_DISTRICT",
            "GEO_REGION_TYPE_NATIONAL_PARK",
            "GEO_REGION_TYPE_BARRIO",
            "GEO_REGION_TYPE_SUB_WARD",
            "GEO_REGION_TYPE_MUNICIPALITY_DISTRICT",
            "GEO_REGION_TYPE_SUB_DISTRICT",
            "GEO_REGION_TYPE_QUARTER",
            "GEO_REGION_TYPE_DIVISION",
            "GEO_REGION_TYPE_COMMUNE",
            "GEO_REGION_TYPE_COLLOQUIAL_AREA",
            "GEO_REGION_TYPE_POST_TOWN",
            "GEO_REGION_TYPE_WARD",
            "GEO_REGION_TYPE_TOWN",
            "GEO_REGION_TYPE_VILLAGE",
            "GEO_REGION_TYPE_CITY_DISTRICT",
            "GEO_REGION_TYPE_SUBURB",
            "GEO_REGION_TYPE_HAMLET",
            "GEO_REGION_TYPE_MUNICIPAL_DISTRICT",
            "GEO_REGION_TYPE_COMMUNITY",
            "GEO_REGION_TYPE_TOWNSHIP",
            "GEO_REGION_TYPE_URBAN_DISTRICT",
            "GEO_REGION_TYPE_RESIDENTIAL_AREA",
            "GEO_REGION_TYPE_INDEPENDENT_CITY",
            "GEO_REGION_TYPE_SECTOR",
            "GEO_REGION_TYPE_AREA",
            "GEO_REGION_TYPE_ESTATE",
            "GEO_REGION_TYPE_PARISH",
            "GEO_REGION_TYPE_SETTLEMENT",
            "GEO_REGION_TYPE_ZONE",
            "GEO_REGION_TYPE_COLONY",
            "GEO_REGION_TYPE_INDUSTRIAL_AREA",
            "GEO_REGION_TYPE_PROVINCIAL_CITY",
            "GEO_REGION_TYPE_RURAL_DISTRICT"
          ]
        }
      }
    },
    "IntegrationDetails": {
      "properties": {
        "details": {
          "description": "Additional details of the entry in string format. Must be UTF-8 encoded with a length of no more than 1000 characters.",
          "type": "string"
        },
        "integrationCode": {
          "description": "An external identifier to be associated with the entry. The integration code will show up together with the entry in many places in the system, for example, reporting. Must be UTF-8 encoded with a length of no more than 500 characters.",
          "type": "string"
        }
      },
      "description": "Integration details of an entry.",
      "type": "object",
      "id": "IntegrationDetails"
    },
    "Transcode": {
      "description": "Represents information about the transcoded audio or video file.",
      "properties": {
        "frameRate": {
          "format": "float",
          "type": "number",
          "description": "Optional. The frame rate of the transcoded video, in frames per second."
        },
        "audioSampleRateHz": {
          "description": "Optional. The sample rate for the audio stream of the transcoded video, or the sample rate for the transcoded audio, in hertz.",
          "format": "int64",
          "type": "string"
        },
        "fileSizeBytes": {
          "type": "string",
          "description": "Optional. The size of the transcoded file, in bytes.",
          "format": "int64"
        },
        "mimeType": {
          "description": "Optional. The MIME type of the transcoded file.",
          "type": "string"
        },
        "audioBitRateKbps": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The bit rate for the audio stream of the transcoded video, or the bit rate for the transcoded audio, in kilobits per second."
        },
        "transcoded": {
          "description": "Optional. Indicates if the transcoding was successful.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Optional. The name of the transcoded file."
        },
        "bitRateKbps": {
          "description": "Optional. The transcoding bit rate of the transcoded video, in kilobits per second.",
          "format": "int64",
          "type": "string"
        },
        "dimensions": {
          "$ref": "Dimensions",
          "description": "Optional. The dimensions of the transcoded video."
        }
      },
      "id": "Transcode",
      "type": "object"
    },
    "CampaignGoal": {
      "properties": {
        "performanceGoal": {
          "description": "Required. The performance goal of the campaign. Acceptable values for performance_goal_type are: * `PERFORMANCE_GOAL_TYPE_CPM` * `PERFORMANCE_GOAL_TYPE_CPC` * `PERFORMANCE_GOAL_TYPE_CPA` * `PERFORMANCE_GOAL_TYPE_CPIAVC` * `PERFORMANCE_GOAL_TYPE_CTR` * `PERFORMANCE_GOAL_TYPE_VIEWABILITY` * `PERFORMANCE_GOAL_TYPE_OTHER`",
          "$ref": "PerformanceGoal"
        },
        "campaignGoalType": {
          "description": "Required. The type of the campaign goal.",
          "enumDescriptions": [
            "Goal value is not specified or unknown in this version.",
            "Drive app installs or engagements.",
            "Raise awareness of a brand or product.",
            "Drive offline or in-store sales.",
            "Drive online action or visits."
          ],
          "enum": [
            "CAMPAIGN_GOAL_TYPE_UNSPECIFIED",
            "CAMPAIGN_GOAL_TYPE_APP_INSTALL",
            "CAMPAIGN_GOAL_TYPE_BRAND_AWARENESS",
            "CAMPAIGN_GOAL_TYPE_OFFLINE_ACTION",
            "CAMPAIGN_GOAL_TYPE_ONLINE_ACTION"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "CampaignGoal",
      "description": "Settings that control the goal of a campaign."
    },
    "ExchangeConfigEnabledExchange": {
      "properties": {
        "googleAdManagerAgencyId": {
          "description": "Output only. Agency ID of Google Ad Manager. The field is only relevant when Google Ad Manager is the enabled exchange.",
          "readOnly": true,
          "type": "string"
        },
        "exchange": {
          "enum": [
            "EXCHANGE_UNSPECIFIED",
            "EXCHANGE_GOOGLE_AD_MANAGER",
            "EXCHANGE_APPNEXUS",
            "EXCHANGE_BRIGHTROLL",
            "EXCHANGE_ADFORM",
            "EXCHANGE_ADMETA",
            "EXCHANGE_ADMIXER",
            "EXCHANGE_ADSMOGO",
            "EXCHANGE_ADSWIZZ",
            "EXCHANGE_BIDSWITCH",
            "EXCHANGE_BRIGHTROLL_DISPLAY",
            "EXCHANGE_CADREON",
            "EXCHANGE_DAILYMOTION",
            "EXCHANGE_FIVE",
            "EXCHANGE_FLUCT",
            "EXCHANGE_FREEWHEEL",
            "EXCHANGE_GENIEE",
            "EXCHANGE_GUMGUM",
            "EXCHANGE_IMOBILE",
            "EXCHANGE_IBILLBOARD",
            "EXCHANGE_IMPROVE_DIGITAL",
            "EXCHANGE_INDEX",
            "EXCHANGE_KARGO",
            "EXCHANGE_MICROAD",
            "EXCHANGE_MOPUB",
            "EXCHANGE_NEND",
            "EXCHANGE_ONE_BY_AOL_DISPLAY",
            "EXCHANGE_ONE_BY_AOL_MOBILE",
            "EXCHANGE_ONE_BY_AOL_VIDEO",
            "EXCHANGE_OOYALA",
            "EXCHANGE_OPENX",
            "EXCHANGE_PERMODO",
            "EXCHANGE_PLATFORMONE",
            "EXCHANGE_PLATFORMID",
            "EXCHANGE_PUBMATIC",
            "EXCHANGE_PULSEPOINT",
            "EXCHANGE_REVENUEMAX",
            "EXCHANGE_RUBICON",
            "EXCHANGE_SMARTCLIP",
            "EXCHANGE_SMARTRTB",
            "EXCHANGE_SMARTSTREAMTV",
            "EXCHANGE_SOVRN",
            "EXCHANGE_SPOTXCHANGE",
            "EXCHANGE_STROER",
            "EXCHANGE_TEADSTV",
            "EXCHANGE_TELARIA",
            "EXCHANGE_TVN",
            "EXCHANGE_UNITED",
            "EXCHANGE_YIELDLAB",
            "EXCHANGE_YIELDMO",
            "EXCHANGE_UNRULYX",
            "EXCHANGE_OPEN8",
            "EXCHANGE_TRITON",
            "EXCHANGE_TRIPLELIFT",
            "EXCHANGE_TABOOLA",
            "EXCHANGE_INMOBI",
            "EXCHANGE_SMAATO",
            "EXCHANGE_AJA",
            "EXCHANGE_SUPERSHIP",
            "EXCHANGE_NEXSTAR_DIGITAL",
            "EXCHANGE_WAZE",
            "EXCHANGE_SOUNDCAST",
            "EXCHANGE_SHARETHROUGH",
            "EXCHANGE_FYBER",
            "EXCHANGE_RED_FOR_PUBLISHERS",
            "EXCHANGE_MEDIANET",
            "EXCHANGE_TAPJOY",
            "EXCHANGE_VISTAR",
            "EXCHANGE_DAX",
            "EXCHANGE_JCD",
            "EXCHANGE_PLACE_EXCHANGE",
            "EXCHANGE_APPLOVIN",
            "EXCHANGE_CONNATIX",
            "EXCHANGE_RESET_DIGITAL",
            "EXCHANGE_HIVESTACK",
            "EXCHANGE_DRAX",
            "EXCHANGE_APPLOVIN_GBID",
            "EXCHANGE_FYBER_GBID",
            "EXCHANGE_UNITY_GBID",
            "EXCHANGE_CHARTBOOST_GBID",
            "EXCHANGE_ADMOST_GBID",
            "EXCHANGE_TOPON_GBID",
            "EXCHANGE_NETFLIX",
            "EXCHANGE_CORE",
            "EXCHANGE_COMMERCE_GRID",
            "EXCHANGE_SPOTIFY",
            "EXCHANGE_TUBI",
            "EXCHANGE_SNAP",
            "EXCHANGE_CADENT",
            "EXCHANGE_EXTE"
          ],
          "enumDescriptions": [
            "Exchange is not specified or is unknown in this version.",
            "Google Ad Manager.",
            "AppNexus.",
            "BrightRoll Exchange for Video from Yahoo!.",
            "Adform.",
            "Admeta.",
            "Admixer.",
            "AdsMogo.",
            "AdsWizz.",
            "BidSwitch.",
            "BrightRoll Exchange for Display from Yahoo!.",
            "Cadreon.",
            "Dailymotion.",
            "Five.",
            "Fluct.",
            "FreeWheel SSP.",
            "Geniee.",
            "GumGum.",
            "i-mobile.",
            "iBILLBOARD.",
            "Improve Digital.",
            "Index Exchange.",
            "Kargo.",
            "MicroAd.",
            "MoPub.",
            "Nend.",
            "ONE by AOL: Display Market Place.",
            "ONE by AOL: Mobile.",
            "ONE by AOL: Video.",
            "Ooyala.",
            "OpenX.",
            "Permodo.",
            "Platform One.",
            "PlatformId.",
            "PubMatic.",
            "PulsePoint.",
            "RevenueMax.",
            "Rubicon.",
            "SmartClip.",
            "SmartRTB+.",
            "SmartstreamTv.",
            "Sovrn.",
            "SpotXchange.",
            "Ströer SSP.",
            "TeadsTv.",
            "Telaria.",
            "TVN.",
            "United.",
            "Yieldlab.",
            "Yieldmo.",
            "UnrulyX.",
            "Open8.",
            "Triton.",
            "TripleLift.",
            "Taboola.",
            "InMobi.",
            "Smaato.",
            "Aja.",
            "Supership.",
            "Nexstar Digital.",
            "Waze.",
            "SoundCast.",
            "Sharethrough.",
            "Fyber.",
            "Red For Publishers.",
            "Media.net.",
            "Tapjoy.",
            "Vistar.",
            "DAX.",
            "JCD.",
            "Place Exchange.",
            "AppLovin.",
            "Connatix.",
            "Reset Digital.",
            "Hivestack.",
            "Drax.",
            "AppLovin MAX.",
            "DT Fairbid.",
            "Unity LevelPlay.",
            "Chartboost Mediation.",
            "AdMost.",
            "TopOn.",
            "Netflix.",
            "Core.",
            "Commerce Grid.",
            "Spotify.",
            "Tubi.",
            "Snap.",
            "Cadent.",
            "Exte."
          ],
          "type": "string",
          "description": "The enabled exchange."
        },
        "googleAdManagerBuyerNetworkId": {
          "type": "string",
          "description": "Output only. Network ID of Google Ad Manager. The field is only relevant when Google Ad Manager is the enabled exchange.",
          "readOnly": true
        },
        "seatId": {
          "description": "Output only. Seat ID of the enabled exchange.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "An enabled exchange in the partner.",
      "id": "ExchangeConfigEnabledExchange",
      "type": "object"
    },
    "AppAssignedTargetingOptionDetails": {
      "properties": {
        "negative": {
          "description": "Indicates if this option is being negatively targeted.",
          "type": "boolean"
        },
        "displayName": {
          "type": "string",
          "description": "Output only. The display name of the app.",
          "readOnly": true
        },
        "appId": {
          "description": "Required. The ID of the app. Android's Play store app uses bundle ID, for example `com.google.android.gm`. Apple's App store app ID uses 9 digit string, for example `422689480`.",
          "type": "string"
        },
        "appPlatform": {
          "type": "string",
          "enum": [
            "APP_PLATFORM_UNSPECIFIED",
            "APP_PLATFORM_IOS",
            "APP_PLATFORM_ANDROID",
            "APP_PLATFORM_ROKU",
            "APP_PLATFORM_AMAZON_FIRETV",
            "APP_PLATFORM_PLAYSTATION",
            "APP_PLATFORM_APPLE_TV",
            "APP_PLATFORM_XBOX",
            "APP_PLATFORM_SAMSUNG_TV",
            "APP_PLATFORM_ANDROID_TV",
            "APP_PLATFORM_GENERIC_CTV",
            "APP_PLATFORM_LG_TV",
            "APP_PLATFORM_VIZIO_TV",
            "APP_PLATFORM_VIDAA"
          ],
          "enumDescriptions": [
            "Default value when app platform is not specified in this version. This enum is a placeholder for default value and does not represent a real platform option.",
            "The app platform is iOS.",
            "The app platform is Android.",
            "The app platform is Roku.",
            "The app platform is Amazon FireTV.",
            "The app platform is Playstation.",
            "The app platform is Apple TV.",
            "The app platform is Xbox.",
            "The app platform is Samsung TV.",
            "The app platform is Android TV.",
            "The app platform is a CTV platform that is not explicitly listed elsewhere.",
            "The app platform is LG TV.",
            "The app platform is VIZIO TV.",
            "The app platform is Vidaa."
          ],
          "description": "Indicates the platform of the targeted app. If this field is not specified, the app platform will be assumed to be mobile (i.e., Android or iOS), and we will derive the appropriate mobile platform from the app ID."
        }
      },
      "description": "Details for assigned app targeting option. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_APP`.",
      "type": "object",
      "id": "AppAssignedTargetingOptionDetails"
    },
    "CustomList": {
      "description": "Describes a custom list entity, such as a custom affinity or custom intent audience list.",
      "properties": {
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The display name of the custom list. ."
        },
        "customListId": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The unique ID of the custom list. Assigned by the system.",
          "type": "string"
        },
        "name": {
          "description": "Output only. The resource name of the custom list.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "CustomList"
    },
    "BulkEditAssignedTargetingOptionsResponse": {
      "id": "BulkEditAssignedTargetingOptionsResponse",
      "properties": {
        "errors": {
          "description": "The error information for each line item that failed to update.",
          "items": {
            "$ref": "Status"
          },
          "type": "array"
        },
        "failedLineItemIds": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. The IDs of the line items which failed.",
          "type": "array"
        },
        "updatedLineItemIds": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Output only. The IDs of the line items which successfully updated.",
          "readOnly": true,
          "type": "array"
        }
      },
      "type": "object"
    },
    "GeoRegionSearchTerms": {
      "properties": {
        "geoRegionQuery": {
          "description": "The search query for the desired geo region. The query can be a prefix, e.g. \"New Yor\", \"Seattle\", \"USA\", etc.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Search terms for geo region targeting options.",
      "id": "GeoRegionSearchTerms"
    },
    "CombinedAudienceGroup": {
      "description": "Details of combined audience group. All combined audience targeting settings are logically ‘OR’ of each other.",
      "type": "object",
      "id": "CombinedAudienceGroup",
      "properties": {
        "settings": {
          "description": "Required. All combined audience targeting settings in combined audience group. Repeated settings with the same id will be ignored. The number of combined audience settings should be no more than five, error will be thrown otherwise.",
          "items": {
            "$ref": "CombinedAudienceTargetingSetting"
          },
          "type": "array"
        }
      }
    },
    "YoutubeAndPartnersBiddingStrategy": {
      "description": "Settings that control the bid strategy for YouTube and Partners resources.",
      "type": "object",
      "id": "YoutubeAndPartnersBiddingStrategy",
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of the bidding strategy.",
          "enum": [
            "YOUTUBE_AND_PARTNERS_BIDDING_STRATEGY_TYPE_UNSPECIFIED",
            "YOUTUBE_AND_PARTNERS_BIDDING_STRATEGY_TYPE_MANUAL_CPV",
            "YOUTUBE_AND_PARTNERS_BIDDING_STRATEGY_TYPE_MANUAL_CPM",
            "YOUTUBE_AND_PARTNERS_BIDDING_STRATEGY_TYPE_TARGET_CPA",
            "YOUTUBE_AND_PARTNERS_BIDDING_STRATEGY_TYPE_TARGET_CPM",
            "YOUTUBE_AND_PARTNERS_BIDDING_STRATEGY_TYPE_RESERVE_CPM",
            "YOUTUBE_AND_PARTNERS_BIDDING_STRATEGY_TYPE_MAXIMIZE_LIFT",
            "YOUTUBE_AND_PARTNERS_BIDDING_STRATEGY_TYPE_MAXIMIZE_CONVERSIONS",
            "YOUTUBE_AND_PARTNERS_BIDDING_STRATEGY_TYPE_TARGET_CPV",
            "YOUTUBE_AND_PARTNERS_BIDDING_STRATEGY_TYPE_TARGET_ROAS",
            "YOUTUBE_AND_PARTNERS_BIDDING_STRATEGY_TYPE_MAXIMIZE_CONVERSION_VALUE"
          ],
          "enumDescriptions": [
            "Type is not specified or unknown.",
            "A bidding strategy that pays a configurable amount per video view.",
            "A bidding strategy that pays a configurable amount per impression.",
            "A bidding strategy that automatically optimizes conversions per dollar.",
            "A bidding strategy that pays a configurable amount per impression.",
            "A bidding strategy for YouTube Instant Reserve line items that pays a fixed amount per impression.",
            "An automated bidding strategy that sets bids to achieve maximum lift.",
            "A bidding strategy that automatically maximizes number of conversions given a daily budget.",
            "A bidding strategy that automatically optimizes cost per video view.",
            "A bidding strategy that automatically maximizes revenue while averaging a specific target Return On Ad Spend (ROAS).",
            "A bidding strategy that automatically sets bids to maximize revenue while spending your budget."
          ]
        },
        "adGroupEffectiveTargetCpaSource": {
          "description": "Output only. Source of the effective target CPA value for ad group.",
          "readOnly": true,
          "enumDescriptions": [
            "Bidding source is not specified or unknown.",
            "Bidding value is inherited from the line item.",
            "Bidding value is defined in the ad group."
          ],
          "type": "string",
          "enum": [
            "BIDDING_SOURCE_UNSPECIFIED",
            "BIDDING_SOURCE_LINE_ITEM",
            "BIDDING_SOURCE_AD_GROUP"
          ]
        },
        "value": {
          "description": "The value used by the bidding strategy. When the bidding strategy is assigned at the line item level, this field is only applicable for the following strategy types: * `YOUTUBE_AND_PARTNERS_BIDDING_STRATEGY_TYPE_TARGET_CPA` * `YOUTUBE_AND_PARTNERS_BIDDING_STRATEGY_TYPE_TARGET_ROAS` When the bidding strategy is assigned at the ad group level, this field is only applicable for the following strategy types: * `YOUTUBE_AND_PARTNERS_BIDDING_STRATEGY_TYPE_MANUAL_CPM` * `YOUTUBE_AND_PARTNERS_BIDDING_STRATEGY_TYPE_MANUAL_CPV` * `YOUTUBE_AND_PARTNERS_BIDDING_STRATEGY_TYPE_TARGET_CPA` * `YOUTUBE_AND_PARTNERS_BIDDING_STRATEGY_TYPE_TARGET_CPM` * `YOUTUBE_AND_PARTNERS_BIDDING_STRATEGY_TYPE_RESERVE_CPM` * `YOUTUBE_AND_PARTNERS_BIDDING_STRATEGY_TYPE_TARGET_ROAS` If not using an applicable strategy, the value of this field will be 0.",
          "format": "int64",
          "type": "string"
        },
        "adGroupEffectiveTargetCpaValue": {
          "description": "Output only. The effective target CPA for ad group, in micros of advertiser's currency.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        }
      }
    },
    "BulkEditAssignedLocationsRequest": {
      "type": "object",
      "description": "Request message for AssignedLocationService.BulkEditAssignedLocations.",
      "properties": {
        "createdAssignedLocations": {
          "type": "array",
          "description": "The assigned locations to create in bulk, specified as a list of AssignedLocation resources.",
          "items": {
            "$ref": "AssignedLocation"
          }
        },
        "deletedAssignedLocations": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array",
          "description": "The IDs of the assigned locations to delete in bulk, specified as a list of assignedLocationId values."
        }
      },
      "id": "BulkEditAssignedLocationsRequest"
    },
    "CustomLabel": {
      "description": "The key and value of a custom label.",
      "id": "CustomLabel",
      "properties": {
        "value": {
          "description": "The value of the label.",
          "type": "string"
        },
        "key": {
          "enum": [
            "CUSTOM_LABEL_KEY_UNSPECIFIED",
            "CUSTOM_LABEL_KEY_0",
            "CUSTOM_LABEL_KEY_1",
            "CUSTOM_LABEL_KEY_2",
            "CUSTOM_LABEL_KEY_3",
            "CUSTOM_LABEL_KEY_4"
          ],
          "type": "string",
          "description": "The key of the label.",
          "enumDescriptions": [
            "Not specified or unknown.",
            "Key index 0.",
            "Key index 1.",
            "Key index 2.",
            "Key index 3.",
            "Key index 4."
          ]
        }
      },
      "type": "object"
    },
    "ContentOutstreamPositionAssignedTargetingOptionDetails": {
      "type": "object",
      "properties": {
        "contentOutstreamPosition": {
          "description": "Required. The content outstream position.",
          "enumDescriptions": [
            "Content outstream position is not specified in this version. This enum is a place holder for a default value and does not represent a real content outstream position.",
            "The ad position is unknown in the content outstream.",
            "Ads that appear between the paragraphs of your pages.",
            "Ads that display on the top and the sides of a page.",
            "Ads that appear in a scrollable stream of content. A feed is typically editorial (e.g. a list of articles or news) or listings (e.g. a list of products or services).",
            "Ads shown before or between content loads."
          ],
          "enum": [
            "CONTENT_OUTSTREAM_POSITION_UNSPECIFIED",
            "CONTENT_OUTSTREAM_POSITION_UNKNOWN",
            "CONTENT_OUTSTREAM_POSITION_IN_ARTICLE",
            "CONTENT_OUTSTREAM_POSITION_IN_BANNER",
            "CONTENT_OUTSTREAM_POSITION_IN_FEED",
            "CONTENT_OUTSTREAM_POSITION_INTERSTITIAL"
          ],
          "type": "string"
        },
        "adType": {
          "enumDescriptions": [
            "Ad type is not specified or is unknown in this version.",
            "Display creatives, e.g. image and HTML5.",
            "Video creatives, e.g. video ads that play during streaming content in video players.",
            "Audio creatives, e.g. audio ads that play during audio content."
          ],
          "description": "Output only. The ad type to target. Only applicable to insertion order targeting and new line items supporting the specified ad type will inherit this targeting option by default. Possible values are: * `AD_TYPE_DISPLAY`, the setting will be inherited by new line item when line_item_type is `LINE_ITEM_TYPE_DISPLAY_DEFAULT`. * `AD_TYPE_VIDEO`, the setting will be inherited by new line item when line_item_type is `LINE_ITEM_TYPE_VIDEO_DEFAULT`.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "AD_TYPE_UNSPECIFIED",
            "AD_TYPE_DISPLAY",
            "AD_TYPE_VIDEO",
            "AD_TYPE_AUDIO"
          ]
        }
      },
      "description": "Assigned content outstream position targeting option details. This will be populated in the content_outstream_position_details field when targeting_type is `TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION`.",
      "id": "ContentOutstreamPositionAssignedTargetingOptionDetails"
    },
    "MobileApp": {
      "properties": {
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The app name."
        },
        "publisher": {
          "readOnly": true,
          "description": "Output only. The app publisher.",
          "type": "string"
        },
        "appId": {
          "type": "string",
          "description": "Required. The ID of the app provided by the platform store. Android apps are identified by the bundle ID used by Android's Play store, such as `com.google.android.gm`. iOS apps are identified by a nine-digit app ID used by Apple's App store, such as `422689480`."
        },
        "platform": {
          "description": "Output only. The app platform.",
          "type": "string",
          "enumDescriptions": [
            "Platform is not specified.",
            "iOS platform.",
            "Android platform."
          ],
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "IOS",
            "ANDROID"
          ],
          "readOnly": true
        }
      },
      "type": "object",
      "description": "A mobile app promoted by a mobile app install line item.",
      "id": "MobileApp"
    },
    "BulkEditAdvertiserAssignedTargetingOptionsResponse": {
      "properties": {
        "createdAssignedTargetingOptions": {
          "type": "array",
          "description": "The list of assigned targeting options that have been successfully created. This list will be absent if empty.",
          "items": {
            "$ref": "AssignedTargetingOption"
          }
        }
      },
      "id": "BulkEditAdvertiserAssignedTargetingOptionsResponse",
      "type": "object"
    },
    "AdvertiserGeneralConfig": {
      "properties": {
        "currencyCode": {
          "type": "string",
          "description": "Required. Immutable. Advertiser's currency in ISO 4217 format. Accepted codes and the currencies they represent are: Currency Code : Currency Name * `ARS` : Argentine Peso * `AUD` : Australian Dollar * `BRL` : Brazilian Real * `CAD` : Canadian Dollar * `CHF` : Swiss Franc * `CLP` : Chilean Peso * `CNY` : Chinese Yuan * `COP` : Colombian Peso * `CZK` : Czech Koruna * `DKK` : Danish Krone * `EGP` : Egyption Pound * `EUR` : Euro * `GBP` : British Pound * `HKD` : Hong Kong Dollar * `HUF` : Hungarian Forint * `IDR` : Indonesian Rupiah * `ILS` : Israeli Shekel * `INR` : Indian Rupee * `JPY` : Japanese Yen * `KRW` : South Korean Won * `MXN` : Mexican Pesos * `MYR` : Malaysian Ringgit * `NGN` : Nigerian Naira * `NOK` : Norwegian Krone * `NZD` : New Zealand Dollar * `PEN` : Peruvian Nuevo Sol * `PLN` : Polish Zloty * `RON` : New Romanian Leu * `RUB` : Russian Ruble * `SEK` : Swedish Krona * `TRY` : Turkish Lira * `TWD` : New Taiwan Dollar * `USD` : US Dollar * `ZAR` : South African Rand"
        },
        "timeZone": {
          "description": "Output only. The standard TZ database name of the advertiser's time zone. For example, `America/New_York`. See more at: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones For CM360 hybrid advertisers, the time zone is the same as that of the associated CM360 account; for third-party only advertisers, the time zone is the same as that of the parent partner.",
          "type": "string",
          "readOnly": true
        },
        "domainUrl": {
          "description": "Required. The domain URL of the advertiser's primary website. The system will send this information to publishers that require website URL to associate a campaign with an advertiser. Provide a URL with no path or query string, beginning with `http:` or `https:`. For example, http://www.example.com",
          "type": "string"
        }
      },
      "type": "object",
      "description": "General settings of an advertiser.",
      "id": "AdvertiserGeneralConfig"
    },
    "ContentDurationTargetingOptionDetails": {
      "properties": {
        "contentDuration": {
          "enumDescriptions": [
            "Content duration is not specified in this version. This enum is a place holder for a default value and does not represent a real content duration.",
            "The content duration is unknown.",
            "Content is 0-1 minute long.",
            "Content is 1-5 minutes long.",
            "Content is 5-15 minutes long.",
            "Content is 15-30 minutes long.",
            "Content is 30-60 minutes long.",
            "Content is over 60 minutes long."
          ],
          "readOnly": true,
          "description": "Output only. The content duration.",
          "enum": [
            "CONTENT_DURATION_UNSPECIFIED",
            "CONTENT_DURATION_UNKNOWN",
            "CONTENT_DURATION_0_TO_1_MIN",
            "CONTENT_DURATION_1_TO_5_MIN",
            "CONTENT_DURATION_5_TO_15_MIN",
            "CONTENT_DURATION_15_TO_30_MIN",
            "CONTENT_DURATION_30_TO_60_MIN",
            "CONTENT_DURATION_OVER_60_MIN"
          ],
          "type": "string"
        }
      },
      "id": "ContentDurationTargetingOptionDetails",
      "description": "Represents a targetable content duration. This will be populated in the content_duration_details field when targeting_type is `TARGETING_TYPE_CONTENT_DURATION`.",
      "type": "object"
    },
    "BulkEditNegativeKeywordsResponse": {
      "properties": {
        "negativeKeywords": {
          "description": "The list of negative keywords that have been successfully created. This list will be absent if empty.",
          "type": "array",
          "items": {
            "$ref": "NegativeKeyword"
          }
        }
      },
      "type": "object",
      "description": "Response message for NegativeKeywordService.BulkEditNegativeKeywords.",
      "id": "BulkEditNegativeKeywordsResponse"
    },
    "VideoPlayerSizeAssignedTargetingOptionDetails": {
      "description": "Video player size targeting option details. This will be populated in the video_player_size_details field when targeting_type is `TARGETING_TYPE_VIDEO_PLAYER_SIZE`. Explicitly targeting all options is not supported. Remove all video player size targeting options to achieve this effect.",
      "type": "object",
      "properties": {
        "videoPlayerSize": {
          "type": "string",
          "enum": [
            "VIDEO_PLAYER_SIZE_UNSPECIFIED",
            "VIDEO_PLAYER_SIZE_SMALL",
            "VIDEO_PLAYER_SIZE_LARGE",
            "VIDEO_PLAYER_SIZE_HD",
            "VIDEO_PLAYER_SIZE_UNKNOWN"
          ],
          "enumDescriptions": [
            "Video player size is not specified in this version. This enum is a place holder for a default value and does not represent a real video player size.",
            "The dimensions of the video player are less than 400×300 (desktop), or up to 20% of screen covered (mobile).",
            "The dimensions of the video player are between 400x300 and 1280x720 pixels (desktop), or 20% to 90% of the screen covered (mobile).",
            "The dimensions of the video player are 1280×720 or greater (desktop), or over 90% of the screen covered (mobile).",
            "The dimensions of the video player are unknown."
          ],
          "description": "Required. The video player size."
        }
      },
      "id": "VideoPlayerSizeAssignedTargetingOptionDetails"
    },
    "HouseholdIncomeAssignedTargetingOptionDetails": {
      "properties": {
        "householdIncome": {
          "type": "string",
          "enumDescriptions": [
            "Default value when household income is not specified in this version. This enum is a placeholder for default value and does not represent a real household income option.",
            "The household income of the audience is unknown.",
            "The audience is in the lower 50% of U.S. household incomes.",
            "The audience is in the top 41-50% of U.S. household incomes.",
            "The audience is in the top 31-40% of U.S. household incomes.",
            "The audience is in the top 21-30% of U.S. household incomes.",
            "The audience is in the top 11-20% of U.S. household incomes.",
            "The audience is in the top 10% of U.S. household incomes."
          ],
          "enum": [
            "HOUSEHOLD_INCOME_UNSPECIFIED",
            "HOUSEHOLD_INCOME_UNKNOWN",
            "HOUSEHOLD_INCOME_LOWER_50_PERCENT",
            "HOUSEHOLD_INCOME_TOP_41_TO_50_PERCENT",
            "HOUSEHOLD_INCOME_TOP_31_TO_40_PERCENT",
            "HOUSEHOLD_INCOME_TOP_21_TO_30_PERCENT",
            "HOUSEHOLD_INCOME_TOP_11_TO_20_PERCENT",
            "HOUSEHOLD_INCOME_TOP_10_PERCENT"
          ],
          "description": "Required. The household income of the audience."
        }
      },
      "type": "object",
      "description": "Details for assigned household income targeting option. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_HOUSEHOLD_INCOME`.",
      "id": "HouseholdIncomeAssignedTargetingOptionDetails"
    },
    "AudienceGroupAssignedTargetingOptionDetails": {
      "description": "Assigned audience group targeting option details. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_AUDIENCE_GROUP`. The relation between each group is UNION, except for excluded_first_and_third_party_audience_group and excluded_google_audience_group, of which COMPLEMENT is used as an INTERSECTION with other groups.",
      "id": "AudienceGroupAssignedTargetingOptionDetails",
      "type": "object",
      "properties": {
        "excludedGoogleAudienceGroup": {
          "description": "Optional. The Google audience ids of the excluded Google audience group. Used for negative targeting. The COMPLEMENT of the UNION of this group and other excluded audience groups is used as an INTERSECTION to any positive audience targeting. Only contains Affinity, In-market and Installed-apps type Google audiences. All items are logically ‘OR’ of each other.",
          "$ref": "GoogleAudienceGroup"
        },
        "includedCustomListGroup": {
          "description": "Optional. The custom list ids of the included custom list group. Contains custom list ids only.",
          "$ref": "CustomListGroup"
        },
        "includedGoogleAudienceGroup": {
          "$ref": "GoogleAudienceGroup",
          "description": "Optional. The Google audience ids of the included Google audience group. Contains Google audience ids only."
        },
        "includedCombinedAudienceGroup": {
          "$ref": "CombinedAudienceGroup",
          "description": "Optional. The combined audience ids of the included combined audience group. Contains combined audience ids only."
        }
      }
    },
    "KeywordAssignedTargetingOptionDetails": {
      "id": "KeywordAssignedTargetingOptionDetails",
      "properties": {
        "exemptedPolicyNames": {
          "type": "array",
          "description": "Optional. The policy names to exempt the keyword from. When attempting to target a keyword that violates a policy, the error returned will include the name of the relevant policy. Use that name in this field to exempt the targeted keyword from the policy. This field is only applicable for positively-targeted keywords assigned to Demand Gen resources. Retrieval and management of Demand Gen resources is currently in beta. This field is only available to allowlisted users.",
          "items": {
            "type": "string"
          }
        },
        "negative": {
          "description": "Indicates if this option is being negatively targeted.",
          "type": "boolean"
        },
        "keyword": {
          "description": "Required. The keyword, for example `car insurance`. Positive keyword cannot be offensive word. Must be UTF-8 encoded with a maximum size of 255 bytes. Maximum number of characters is 80. Maximum number of words is 10.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Details for assigned keyword targeting option. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_KEYWORD`."
    },
    "ListCombinedAudiencesResponse": {
      "id": "ListCombinedAudiencesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListCombinedAudiences` method to retrieve the next page of results."
        },
        "combinedAudiences": {
          "description": "The list of combined audiences. This list will be absent if empty.",
          "type": "array",
          "items": {
            "$ref": "CombinedAudience"
          }
        }
      }
    },
    "BulkEditSitesResponse": {
      "type": "object",
      "properties": {
        "sites": {
          "items": {
            "$ref": "Site"
          },
          "description": "The list of sites that have been successfully created. This list will be absent if empty.",
          "type": "array"
        }
      },
      "id": "BulkEditSitesResponse",
      "description": "Response message for SiteService.BulkEditSites."
    },
    "ListYoutubeAdGroupAdsResponse": {
      "type": "object",
      "id": "ListYoutubeAdGroupAdsResponse",
      "properties": {
        "youtubeAdGroupAds": {
          "type": "array",
          "items": {
            "$ref": "YoutubeAdGroupAd"
          },
          "description": "The list of ad group ads. This list will be absent if empty."
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListYoutubeAdGroupAds` method to retrieve the next page of results.",
          "type": "string"
        }
      }
    },
    "ActiveViewVideoViewabilityMetricConfig": {
      "id": "ActiveViewVideoViewabilityMetricConfig",
      "type": "object",
      "properties": {
        "minimumVolume": {
          "enum": [
            "VIDEO_VOLUME_PERCENT_UNSPECIFIED",
            "VIDEO_VOLUME_PERCENT_0",
            "VIDEO_VOLUME_PERCENT_10"
          ],
          "description": "Required. The minimum percentage of the video ad's volume required in order for an impression to be recorded.",
          "type": "string",
          "enumDescriptions": [
            "Value is not specified or is unknown in this version.",
            "0% volume.",
            "10% volume."
          ]
        },
        "minimumViewability": {
          "type": "string",
          "description": "Required. The minimum percentage of the video ad's pixels visible on the screen in order for an impression to be recorded.",
          "enumDescriptions": [
            "Value is not specified or is unknown in this version.",
            "0% viewable.",
            "25% viewable.",
            "50% viewable.",
            "75% viewable.",
            "100% viewable."
          ],
          "enum": [
            "VIEWABILITY_PERCENT_UNSPECIFIED",
            "VIEWABILITY_PERCENT_0",
            "VIEWABILITY_PERCENT_25",
            "VIEWABILITY_PERCENT_50",
            "VIEWABILITY_PERCENT_75",
            "VIEWABILITY_PERCENT_100"
          ]
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the custom metric."
        },
        "minimumDuration": {
          "enumDescriptions": [
            "Value is not specified or is unknown in this version.",
            "No duration value.",
            "0 seconds.",
            "1 second.",
            "2 seconds.",
            "3 seconds.",
            "4 seconds.",
            "5 seconds.",
            "6 seconds.",
            "7 seconds.",
            "8 seconds.",
            "9 seconds.",
            "10 seconds.",
            "11 seconds.",
            "12 seconds.",
            "13 seconds.",
            "14 seconds.",
            "15 seconds.",
            "30 seconds.",
            "45 seconds.",
            "60 seconds."
          ],
          "description": "The minimum visible video duration required (in seconds) in order for an impression to be recorded. You must specify minimum_duration, minimum_quartile or both. If both are specified, an impression meets the metric criteria if either requirement is met (whichever happens first).",
          "type": "string",
          "enum": [
            "VIDEO_DURATION_UNSPECIFIED",
            "VIDEO_DURATION_SECONDS_NONE",
            "VIDEO_DURATION_SECONDS_0",
            "VIDEO_DURATION_SECONDS_1",
            "VIDEO_DURATION_SECONDS_2",
            "VIDEO_DURATION_SECONDS_3",
            "VIDEO_DURATION_SECONDS_4",
            "VIDEO_DURATION_SECONDS_5",
            "VIDEO_DURATION_SECONDS_6",
            "VIDEO_DURATION_SECONDS_7",
            "VIDEO_DURATION_SECONDS_8",
            "VIDEO_DURATION_SECONDS_9",
            "VIDEO_DURATION_SECONDS_10",
            "VIDEO_DURATION_SECONDS_11",
            "VIDEO_DURATION_SECONDS_12",
            "VIDEO_DURATION_SECONDS_13",
            "VIDEO_DURATION_SECONDS_14",
            "VIDEO_DURATION_SECONDS_15",
            "VIDEO_DURATION_SECONDS_30",
            "VIDEO_DURATION_SECONDS_45",
            "VIDEO_DURATION_SECONDS_60"
          ]
        },
        "minimumQuartile": {
          "enumDescriptions": [
            "Value is not specified or is unknown in this version.",
            "No quartile value.",
            "First quartile.",
            "Second quartile (midpoint).",
            "Third quartile.",
            "Fourth quartile (completion)."
          ],
          "enum": [
            "VIDEO_DURATION_QUARTILE_UNSPECIFIED",
            "VIDEO_DURATION_QUARTILE_NONE",
            "VIDEO_DURATION_QUARTILE_FIRST",
            "VIDEO_DURATION_QUARTILE_SECOND",
            "VIDEO_DURATION_QUARTILE_THIRD",
            "VIDEO_DURATION_QUARTILE_FOURTH"
          ],
          "type": "string",
          "description": "The minimum visible video duration required, based on the video quartiles, in order for an impression to be recorded. You must specify minimum_duration, minimum_quartile or both. If both are specified, an impression meets the metric criteria if either requirement is met (whichever happens first)."
        }
      },
      "description": "Configuration for custom Active View video viewability metrics."
    },
    "ChannelAssignedTargetingOptionDetails": {
      "type": "object",
      "id": "ChannelAssignedTargetingOptionDetails",
      "description": "Details for assigned channel targeting option. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_CHANNEL`.",
      "properties": {
        "channelId": {
          "format": "int64",
          "description": "Required. ID of the channel. Should refer to the channel ID field on a [Partner-owned channel](partners.channels#Channel.FIELDS.channel_id) or [advertiser-owned channel](advertisers.channels#Channel.FIELDS.channel_id) resource.",
          "type": "string"
        },
        "negative": {
          "type": "boolean",
          "description": "Indicates if this option is being negatively targeted. For advertiser level assigned targeting option, this field must be true."
        }
      }
    },
    "ExchangeAssignedTargetingOptionDetails": {
      "type": "object",
      "id": "ExchangeAssignedTargetingOptionDetails",
      "properties": {
        "exchange": {
          "enum": [
            "EXCHANGE_UNSPECIFIED",
            "EXCHANGE_GOOGLE_AD_MANAGER",
            "EXCHANGE_APPNEXUS",
            "EXCHANGE_BRIGHTROLL",
            "EXCHANGE_ADFORM",
            "EXCHANGE_ADMETA",
            "EXCHANGE_ADMIXER",
            "EXCHANGE_ADSMOGO",
            "EXCHANGE_ADSWIZZ",
            "EXCHANGE_BIDSWITCH",
            "EXCHANGE_BRIGHTROLL_DISPLAY",
            "EXCHANGE_CADREON",
            "EXCHANGE_DAILYMOTION",
            "EXCHANGE_FIVE",
            "EXCHANGE_FLUCT",
            "EXCHANGE_FREEWHEEL",
            "EXCHANGE_GENIEE",
            "EXCHANGE_GUMGUM",
            "EXCHANGE_IMOBILE",
            "EXCHANGE_IBILLBOARD",
            "EXCHANGE_IMPROVE_DIGITAL",
            "EXCHANGE_INDEX",
            "EXCHANGE_KARGO",
            "EXCHANGE_MICROAD",
            "EXCHANGE_MOPUB",
            "EXCHANGE_NEND",
            "EXCHANGE_ONE_BY_AOL_DISPLAY",
            "EXCHANGE_ONE_BY_AOL_MOBILE",
            "EXCHANGE_ONE_BY_AOL_VIDEO",
            "EXCHANGE_OOYALA",
            "EXCHANGE_OPENX",
            "EXCHANGE_PERMODO",
            "EXCHANGE_PLATFORMONE",
            "EXCHANGE_PLATFORMID",
            "EXCHANGE_PUBMATIC",
            "EXCHANGE_PULSEPOINT",
            "EXCHANGE_REVENUEMAX",
            "EXCHANGE_RUBICON",
            "EXCHANGE_SMARTCLIP",
            "EXCHANGE_SMARTRTB",
            "EXCHANGE_SMARTSTREAMTV",
            "EXCHANGE_SOVRN",
            "EXCHANGE_SPOTXCHANGE",
            "EXCHANGE_STROER",
            "EXCHANGE_TEADSTV",
            "EXCHANGE_TELARIA",
            "EXCHANGE_TVN",
            "EXCHANGE_UNITED",
            "EXCHANGE_YIELDLAB",
            "EXCHANGE_YIELDMO",
            "EXCHANGE_UNRULYX",
            "EXCHANGE_OPEN8",
            "EXCHANGE_TRITON",
            "EXCHANGE_TRIPLELIFT",
            "EXCHANGE_TABOOLA",
            "EXCHANGE_INMOBI",
            "EXCHANGE_SMAATO",
            "EXCHANGE_AJA",
            "EXCHANGE_SUPERSHIP",
            "EXCHANGE_NEXSTAR_DIGITAL",
            "EXCHANGE_WAZE",
            "EXCHANGE_SOUNDCAST",
            "EXCHANGE_SHARETHROUGH",
            "EXCHANGE_FYBER",
            "EXCHANGE_RED_FOR_PUBLISHERS",
            "EXCHANGE_MEDIANET",
            "EXCHANGE_TAPJOY",
            "EXCHANGE_VISTAR",
            "EXCHANGE_DAX",
            "EXCHANGE_JCD",
            "EXCHANGE_PLACE_EXCHANGE",
            "EXCHANGE_APPLOVIN",
            "EXCHANGE_CONNATIX",
            "EXCHANGE_RESET_DIGITAL",
            "EXCHANGE_HIVESTACK",
            "EXCHANGE_DRAX",
            "EXCHANGE_APPLOVIN_GBID",
            "EXCHANGE_FYBER_GBID",
            "EXCHANGE_UNITY_GBID",
            "EXCHANGE_CHARTBOOST_GBID",
            "EXCHANGE_ADMOST_GBID",
            "EXCHANGE_TOPON_GBID",
            "EXCHANGE_NETFLIX",
            "EXCHANGE_CORE",
            "EXCHANGE_COMMERCE_GRID",
            "EXCHANGE_SPOTIFY",
            "EXCHANGE_TUBI",
            "EXCHANGE_SNAP",
            "EXCHANGE_CADENT",
            "EXCHANGE_EXTE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Exchange is not specified or is unknown in this version.",
            "Google Ad Manager.",
            "AppNexus.",
            "BrightRoll Exchange for Video from Yahoo!.",
            "Adform.",
            "Admeta.",
            "Admixer.",
            "AdsMogo.",
            "AdsWizz.",
            "BidSwitch.",
            "BrightRoll Exchange for Display from Yahoo!.",
            "Cadreon.",
            "Dailymotion.",
            "Five.",
            "Fluct.",
            "FreeWheel SSP.",
            "Geniee.",
            "GumGum.",
            "i-mobile.",
            "iBILLBOARD.",
            "Improve Digital.",
            "Index Exchange.",
            "Kargo.",
            "MicroAd.",
            "MoPub.",
            "Nend.",
            "ONE by AOL: Display Market Place.",
            "ONE by AOL: Mobile.",
            "ONE by AOL: Video.",
            "Ooyala.",
            "OpenX.",
            "Permodo.",
            "Platform One.",
            "PlatformId.",
            "PubMatic.",
            "PulsePoint.",
            "RevenueMax.",
            "Rubicon.",
            "SmartClip.",
            "SmartRTB+.",
            "SmartstreamTv.",
            "Sovrn.",
            "SpotXchange.",
            "Ströer SSP.",
            "TeadsTv.",
            "Telaria.",
            "TVN.",
            "United.",
            "Yieldlab.",
            "Yieldmo.",
            "UnrulyX.",
            "Open8.",
            "Triton.",
            "TripleLift.",
            "Taboola.",
            "InMobi.",
            "Smaato.",
            "Aja.",
            "Supership.",
            "Nexstar Digital.",
            "Waze.",
            "SoundCast.",
            "Sharethrough.",
            "Fyber.",
            "Red For Publishers.",
            "Media.net.",
            "Tapjoy.",
            "Vistar.",
            "DAX.",
            "JCD.",
            "Place Exchange.",
            "AppLovin.",
            "Connatix.",
            "Reset Digital.",
            "Hivestack.",
            "Drax.",
            "AppLovin MAX.",
            "DT Fairbid.",
            "Unity LevelPlay.",
            "Chartboost Mediation.",
            "AdMost.",
            "TopOn.",
            "Netflix.",
            "Core.",
            "Commerce Grid.",
            "Spotify.",
            "Tubi.",
            "Snap.",
            "Cadent.",
            "Exte."
          ],
          "description": "Required. The enum value for the exchange."
        }
      },
      "description": "Details for assigned exchange targeting option. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_EXCHANGE`."
    },
    "ListCreativesResponse": {
      "id": "ListCreativesResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListCreativesRequest` method to retrieve the next page of results. If this field is null, it means this is the last page.",
          "type": "string"
        },
        "creatives": {
          "type": "array",
          "items": {
            "$ref": "Creative"
          },
          "description": "The list of creatives. This list will be absent if empty."
        }
      },
      "type": "object"
    },
    "YoutubeChannelPackAssignedTargetingOptionDetails": {
      "id": "YoutubeChannelPackAssignedTargetingOptionDetails",
      "description": "Details for YouTube channel pack assigned targeting option. This will be populated in the youtube_channel_pack_details field when targeting_type is `TARGETING_TYPE_YOUTUBE_CHANNEL_PACK`.",
[...]
