{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "version_module": true,
  "title": "Sensitive Data Protection (DLP)",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "canonicalName": "DLP",
  "name": "dlp",
  "revision": "20260912",
  "ownerName": "Google",
  "description": "Discover and protect your sensitive data. A fully managed service designed to help you discover, classify, and protect your valuable data assets with ease.",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "id": "dlp:v2",
  "schemas": {
    "GooglePrivacyDlpV2Regex": {
      "description": "Message defining a custom regular expression.",
      "properties": {
        "groupIndexes": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "The index of the submatch to extract as findings. When not specified, the entire match is returned. No more than 3 may be included."
        },
        "pattern": {
          "type": "string",
          "description": "Pattern defining the regular expression. Its syntax (https://github.com/google/re2/wiki/Syntax) can be found under the google/re2 repository on GitHub."
        }
      },
      "id": "GooglePrivacyDlpV2Regex",
      "type": "object"
    },
    "GooglePrivacyDlpV2ImageLocation": {
      "description": "Location of the finding within an image.",
      "properties": {
        "boundingBoxes": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2BoundingBox"
          },
          "description": "Bounding boxes locating the pixels within the image containing the finding."
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2ImageLocation"
    },
    "GooglePrivacyDlpV2HybridOptions": {
      "description": "Configuration to control jobs where the content being inspected is outside of Google Cloud Platform.",
      "properties": {
        "description": {
          "type": "string",
          "description": "A short description of where the data is coming from. Will be stored once in the job. 256 max length."
        },
        "requiredFindingLabelKeys": {
          "description": "These are labels that each inspection request must include within their 'finding_labels' map. Request may contain others, but any missing one of these will be rejected. Label keys must be between 1 and 63 characters long and must conform to the following regular expression: `[a-z]([-a-z0-9]*[a-z0-9])?`. No more than 10 keys can be required.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "labels": {
          "description": "To organize findings, these labels will be added to each finding. Label keys must be between 1 and 63 characters long and must conform to the following regular expression: `[a-z]([-a-z0-9]*[a-z0-9])?`. Label values must be between 0 and 63 characters long and must conform to the regular expression `([a-z]([-a-z0-9]*[a-z0-9])?)?`. No more than 10 labels can be associated with a given finding. Examples: * `\"environment\" : \"production\"` * `\"pipeline\" : \"etl\"`",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "tableOptions": {
          "description": "If the container is a table, additional information to make findings meaningful such as the columns that are primary keys.",
          "$ref": "GooglePrivacyDlpV2TableOptions"
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2HybridOptions"
    },
    "GooglePrivacyDlpV2FieldId": {
      "properties": {
        "name": {
          "description": "Name describing the field.",
          "type": "string"
        }
      },
      "description": "General identifier of a data field in a storage service.",
      "id": "GooglePrivacyDlpV2FieldId",
      "type": "object"
    },
    "GooglePrivacyDlpV2TableDataProfile": {
      "description": "The profile for a scanned table.",
      "id": "GooglePrivacyDlpV2TableDataProfile",
      "type": "object",
      "properties": {
        "datasetId": {
          "type": "string",
          "description": "If the resource is BigQuery, the dataset ID."
        },
        "relatedResources": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2RelatedResource"
          },
          "description": "Resources related to this profile."
        },
        "dataRiskLevel": {
          "description": "The data risk level of this table.",
          "$ref": "GooglePrivacyDlpV2DataRiskLevel"
        },
        "dataSourceType": {
          "description": "The resource type that was profiled.",
          "$ref": "GooglePrivacyDlpV2DataSourceType"
        },
        "failedColumnCount": {
          "description": "The number of columns skipped in the table because of an error.",
          "format": "int64",
          "type": "string"
        },
        "sampleFindingsTable": {
          "$ref": "GooglePrivacyDlpV2BigQueryTable",
          "description": "The BigQuery table to which the sample findings are written."
        },
        "tableSizeBytes": {
          "description": "The size of the table when the profile was generated.",
          "type": "string",
          "format": "int64"
        },
        "predictedInfoTypes": {
          "description": "The infoTypes predicted from this table's data.",
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoTypeSummary"
          },
          "type": "array"
        },
        "tableId": {
          "description": "The table ID.",
          "type": "string"
        },
        "encryptionStatus": {
          "enumDescriptions": [
            "Unused.",
            "Google manages server-side encryption keys on your behalf.",
            "Customer provides the key."
          ],
          "type": "string",
          "enum": [
            "ENCRYPTION_STATUS_UNSPECIFIED",
            "ENCRYPTION_GOOGLE_MANAGED",
            "ENCRYPTION_CUSTOMER_MANAGED"
          ],
          "description": "How the table is encrypted."
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Unused.",
            "The profile is currently running. Once a profile has finished it will transition to DONE.",
            "The profile is no longer generating. If profile_status.status.code is 0, the profile succeeded, otherwise, it failed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "DONE"
          ],
          "description": "State of a profile. This will always be set to DONE when the table data profile is written to another service like BigQuery or Pub/Sub."
        },
        "name": {
          "description": "The name of the profile.",
          "type": "string"
        },
        "configSnapshot": {
          "description": "The snapshot of the configurations used to generate the profile.",
          "$ref": "GooglePrivacyDlpV2DataProfileConfigSnapshot"
        },
        "resourceLabels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels applied to the resource at the time the profile was generated."
        },
        "datasetProjectId": {
          "description": "The Google Cloud project ID that owns the resource.",
          "type": "string"
        },
        "rowCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of rows in the table when the profile was generated. This will not be populated for BigLake tables."
        },
        "sensitivityScore": {
          "description": "The sensitivity score of this table.",
          "$ref": "GooglePrivacyDlpV2SensitivityScore"
        },
        "projectDataProfile": {
          "type": "string",
          "description": "The resource name of the project data profile for this table."
        },
        "createTime": {
          "description": "The time at which the table was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "profileLastGenerated": {
          "description": "The last time the profile was generated.",
          "type": "string",
          "format": "google-datetime"
        },
        "datasetLocation": {
          "description": "If supported, the location where the dataset's data is stored. See https://docs.cloud.google.com/bigquery/docs/locations for supported locations.",
          "type": "string"
        },
        "domains": {
          "description": "Domains associated with the profile.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Domain"
          }
        },
        "scannedColumnCount": {
          "type": "string",
          "description": "The number of columns profiled in the table.",
          "format": "int64"
        },
        "tags": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Tag"
          },
          "description": "The tags attached to the table, including any tags attached during profiling. Because tags are attached to Cloud SQL instances rather than Cloud SQL tables, this field is empty for Cloud SQL table profiles."
        },
        "resourceVisibility": {
          "type": "string",
          "enumDescriptions": [
            "Unused.",
            "Visible to any user.",
            "May contain public items. For example, if a Cloud Storage bucket has uniform bucket level access disabled, some objects inside it may be public, but none are known yet.",
            "Visible only to specific users."
          ],
          "enum": [
            "RESOURCE_VISIBILITY_UNSPECIFIED",
            "RESOURCE_VISIBILITY_PUBLIC",
            "RESOURCE_VISIBILITY_INCONCLUSIVE",
            "RESOURCE_VISIBILITY_RESTRICTED"
          ],
          "description": "How broadly a resource has been shared."
        },
        "otherInfoTypes": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2OtherInfoTypeSummary"
          },
          "description": "Other infoTypes found in this table's data."
        },
        "lastModifiedTime": {
          "format": "google-datetime",
          "description": "The time when this table was last modified",
          "type": "string"
        },
        "profileStatus": {
          "description": "Success or error status from the most recent profile generation attempt. May be empty if the profile is still being generated.",
          "$ref": "GooglePrivacyDlpV2ProfileStatus"
        },
        "expirationTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. The time when this table expires."
        },
        "fullResource": {
          "description": "The Cloud Asset Inventory resource that was profiled in order to generate this TableDataProfile. https://cloud.google.com/apis/design/resource_names#full_resource_name",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2FileStoreCollection": {
      "description": "Match file stores (e.g. buckets) using filters.",
      "id": "GooglePrivacyDlpV2FileStoreCollection",
      "properties": {
        "includeRegexes": {
          "$ref": "GooglePrivacyDlpV2FileStoreRegexes",
          "description": "Optional. A collection of regular expressions to match a file store against."
        },
        "includeTags": {
          "description": "Optional. To be included in the collection, a resource must meet all of the following requirements: - If tag filters are provided, match all provided tag filters. - If one or more patterns are specified, match at least one pattern. For a resource to match the tag filters, the resource must have all of the provided tags attached. Tags refer to Resource Manager tags bound to the resource or its ancestors. For more information, see [Manage schedules](https://docs.cloud.google.com/sensitive-data-protection/docs/profile-project-cloud-storage#manage-schedules).",
          "$ref": "GooglePrivacyDlpV2TagFilters"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2AmazonS3BucketRegex": {
      "id": "GooglePrivacyDlpV2AmazonS3BucketRegex",
      "type": "object",
      "properties": {
        "awsAccountRegex": {
          "$ref": "GooglePrivacyDlpV2AwsAccountRegex",
          "description": "The AWS account regex."
        },
        "bucketNameRegex": {
          "description": "Optional. Regex to test the bucket name against. If empty, all buckets match.",
          "type": "string"
        }
      },
      "description": "Amazon S3 bucket regex."
    },
    "GooglePrivacyDlpV2PubSubCondition": {
      "id": "GooglePrivacyDlpV2PubSubCondition",
      "type": "object",
      "description": "A condition consisting of a value.",
      "properties": {
        "minimumSensitivityScore": {
          "enum": [
            "PROFILE_SCORE_BUCKET_UNSPECIFIED",
            "HIGH",
            "MEDIUM_OR_HIGH"
          ],
          "enumDescriptions": [
            "Unused.",
            "High risk/sensitivity detected.",
            "Medium or high risk/sensitivity detected."
          ],
          "type": "string",
          "description": "The minimum sensitivity level that triggers the condition."
        },
        "minimumRiskScore": {
          "type": "string",
          "description": "The minimum data risk score that triggers the condition.",
          "enum": [
            "PROFILE_SCORE_BUCKET_UNSPECIFIED",
            "HIGH",
            "MEDIUM_OR_HIGH"
          ],
          "enumDescriptions": [
            "Unused.",
            "High risk/sensitivity detected.",
            "Medium or high risk/sensitivity detected."
          ]
        }
      }
    },
    "GooglePrivacyDlpV2AnalyzeDataSourceRiskDetails": {
      "description": "Result of a risk analysis operation request.",
      "properties": {
        "kMapEstimationResult": {
          "$ref": "GooglePrivacyDlpV2KMapEstimationResult",
          "description": "Output only. K-map result",
          "readOnly": true
        },
        "deltaPresenceEstimationResult": {
          "readOnly": true,
          "description": "Output only. Delta-presence result",
          "$ref": "GooglePrivacyDlpV2DeltaPresenceEstimationResult"
        },
        "requestedPrivacyMetric": {
          "description": "Privacy metric to compute.",
          "$ref": "GooglePrivacyDlpV2PrivacyMetric"
        },
        "kAnonymityResult": {
          "readOnly": true,
          "description": "Output only. K-anonymity result",
          "$ref": "GooglePrivacyDlpV2KAnonymityResult"
        },
        "categoricalStatsResult": {
          "$ref": "GooglePrivacyDlpV2CategoricalStatsResult",
          "readOnly": true,
          "description": "Output only. Categorical stats result"
        },
        "requestedSourceTable": {
          "$ref": "GooglePrivacyDlpV2BigQueryTable",
          "description": "Input dataset to compute metrics over."
        },
        "numericalStatsResult": {
          "description": "Output only. Numerical stats result",
          "$ref": "GooglePrivacyDlpV2NumericalStatsResult",
          "readOnly": true
        },
        "requestedOptions": {
          "$ref": "GooglePrivacyDlpV2RequestedRiskAnalysisOptions",
          "description": "The configuration used for this job."
        },
        "lDiversityResult": {
          "$ref": "GooglePrivacyDlpV2LDiversityResult",
          "description": "Output only. L-divesity result",
          "readOnly": true
        }
      },
      "id": "GooglePrivacyDlpV2AnalyzeDataSourceRiskDetails",
      "type": "object"
    },
    "GooglePrivacyDlpV2JobNotificationEmails": {
      "id": "GooglePrivacyDlpV2JobNotificationEmails",
      "properties": {},
      "description": "Sends an email when the job completes. The email goes to IAM project owners and technical [Essential Contacts](https://docs.cloud.google.com/resource-manager/docs/managing-notification-contacts).",
      "type": "object"
    },
    "GooglePrivacyDlpV2CloudSqlDiscoveryTarget": {
      "description": "Target used to match against for discovery with Cloud SQL tables.",
      "type": "object",
      "properties": {
        "filter": {
          "description": "Required. The tables the discovery cadence applies to. The first target with a matching filter will be the one to apply to a table.",
          "$ref": "GooglePrivacyDlpV2DiscoveryCloudSqlFilter"
        },
        "conditions": {
          "$ref": "GooglePrivacyDlpV2DiscoveryCloudSqlConditions",
          "description": "In addition to matching the filter, these conditions must be true before a profile is generated."
        },
        "disabled": {
          "description": "Disable profiling for database resources that match this filter.",
          "$ref": "GooglePrivacyDlpV2Disabled"
        },
        "generationCadence": {
          "description": "How often and when to update profiles. New tables that match both the filter and conditions are scanned as quickly as possible depending on system capacity.",
          "$ref": "GooglePrivacyDlpV2DiscoveryCloudSqlGenerationCadence"
        }
      },
      "id": "GooglePrivacyDlpV2CloudSqlDiscoveryTarget"
    },
    "GooglePrivacyDlpV2TransformationDescription": {
      "id": "GooglePrivacyDlpV2TransformationDescription",
      "description": "A flattened description of a `PrimitiveTransformation` or `RecordSuppression`.",
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Unused",
            "Record suppression",
            "Replace value",
            "Replace value using a dictionary.",
            "Redact",
            "Character mask",
            "FFX-FPE",
            "Fixed size bucketing",
            "Bucketing",
            "Replace with info type",
            "Time part",
            "Crypto hash",
            "Date shift",
            "Deterministic crypto",
            "Redact image"
          ],
          "enum": [
            "TRANSFORMATION_TYPE_UNSPECIFIED",
            "RECORD_SUPPRESSION",
            "REPLACE_VALUE",
            "REPLACE_DICTIONARY",
            "REDACT",
            "CHARACTER_MASK",
            "CRYPTO_REPLACE_FFX_FPE",
            "FIXED_SIZE_BUCKETING",
            "BUCKETING",
            "REPLACE_WITH_INFO_TYPE",
            "TIME_PART",
            "CRYPTO_HASH",
            "DATE_SHIFT",
            "CRYPTO_DETERMINISTIC_CONFIG",
            "REDACT_IMAGE"
          ],
          "description": "The transformation type.",
          "type": "string"
        },
        "condition": {
          "type": "string",
          "description": "A human-readable string representation of the `RecordCondition` corresponding to this transformation. Set if a `RecordCondition` was used to determine whether or not to apply this transformation. Examples: * (age_field > 85) * (age_field <= 18) * (zip_field exists) * (zip_field == 01234) && (city_field != \"Springville\") * (zip_field == 01234) && (age_field <= 18) && (city_field exists)"
        },
        "infoType": {
          "$ref": "GooglePrivacyDlpV2InfoType",
          "description": "Set if the transformation was limited to a specific `InfoType`."
        },
        "description": {
          "description": "A description of the transformation. This is empty for a RECORD_SUPPRESSION, or is the output of calling toString() on the `PrimitiveTransformation` protocol buffer message for any other type of transformation.",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2DataProfileAction": {
      "properties": {
        "publishToScc": {
          "description": "Publishes findings to Security Command Center for each data profile.",
          "$ref": "GooglePrivacyDlpV2PublishToSecurityCommandCenter"
        },
        "publishToDataplexCatalog": {
          "description": "Publishes a portion of each profile to Dataplex Universal Catalog with the aspect type Sensitive Data Protection Profile.",
          "$ref": "GooglePrivacyDlpV2PublishToDataplexCatalog"
        },
        "pubSubNotification": {
          "description": "Publish a message into the Pub/Sub topic.",
          "$ref": "GooglePrivacyDlpV2PubSubNotification"
        },
        "publishToChronicle": {
          "description": "Publishes generated data profiles to Google Security Operations. For more information, see [Use Sensitive Data Protection data in context-aware analytics](https://docs.cloud.google.com/chronicle/docs/detection/usecase-dlp-high-risk-user-download).",
          "$ref": "GooglePrivacyDlpV2PublishToChronicle"
        },
        "tagResources": {
          "description": "Tags the profiled resources with the specified tag values.",
          "$ref": "GooglePrivacyDlpV2TagResources"
        },
        "exportData": {
          "$ref": "GooglePrivacyDlpV2Export",
          "description": "Export data profiles into a provided location."
        }
      },
      "id": "GooglePrivacyDlpV2DataProfileAction",
      "type": "object",
      "description": "A task to execute when a data profile has been generated."
    },
    "GooglePrivacyDlpV2LeaveUntransformed": {
      "type": "object",
      "description": "Skips the data without modifying it if the requested transformation would cause an error. For example, if a `DateShift` transformation were applied an an IP address, this mode would leave the IP address unchanged in the response.",
      "properties": {},
      "id": "GooglePrivacyDlpV2LeaveUntransformed"
    },
    "GooglePrivacyDlpV2DeidentifyDataSourceDetails": {
      "properties": {
        "requestedOptions": {
          "description": "De-identification config used for the request.",
          "$ref": "GooglePrivacyDlpV2RequestedDeidentifyOptions"
        },
        "deidentifyStats": {
          "$ref": "GooglePrivacyDlpV2DeidentifyDataSourceStats",
          "description": "Stats about the de-identification operation."
        }
      },
      "description": "The results of a Deidentify action from an inspect job.",
      "id": "GooglePrivacyDlpV2DeidentifyDataSourceDetails",
      "type": "object"
    },
    "GooglePrivacyDlpV2FinishDlpJobRequest": {
      "id": "GooglePrivacyDlpV2FinishDlpJobRequest",
      "description": "The request message for finishing a DLP hybrid job.",
      "type": "object",
      "properties": {}
    },
    "GooglePrivacyDlpV2Schedule": {
      "id": "GooglePrivacyDlpV2Schedule",
      "properties": {
        "recurrencePeriodDuration": {
          "type": "string",
          "description": "With this option a job is started on a regular periodic basis. For example: every day (86400 seconds). A scheduled start time will be skipped if the previous execution has not ended when its scheduled time occurs. This value must be set to a time duration greater than or equal to 1 day and can be no longer than 60 days.",
          "format": "google-duration"
        }
      },
      "type": "object",
      "description": "Schedule for inspect job triggers."
    },
    "GooglePrivacyDlpV2LikelihoodAdjustment": {
      "type": "object",
      "description": "Message for specifying an adjustment to the likelihood of a finding as part of a detection rule.",
      "id": "GooglePrivacyDlpV2LikelihoodAdjustment",
      "properties": {
        "relativeLikelihood": {
          "format": "int32",
          "type": "integer",
          "description": "Increase or decrease the likelihood by the specified number of levels. For example, if a finding would be `POSSIBLE` without the detection rule and `relative_likelihood` is 1, then it is upgraded to `LIKELY`, while a value of -1 would downgrade it to `UNLIKELY`. Likelihood may never drop below `VERY_UNLIKELY` or exceed `VERY_LIKELY`, so applying an adjustment of 1 followed by an adjustment of -1 when base likelihood is `VERY_LIKELY` will result in a final likelihood of `LIKELY`."
        },
        "fixedLikelihood": {
          "enumDescriptions": [
            "Default value; same as POSSIBLE.",
            "Highest chance of a false positive.",
            "High chance of a false positive.",
            "Some matching signals. The default value.",
            "Low chance of a false positive.",
            "Confidence level is high. Lowest chance of a false positive."
          ],
          "description": "Set the likelihood of a finding to a fixed value.",
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2ListDeidentifyTemplatesResponse": {
      "properties": {
        "deidentifyTemplates": {
          "description": "List of deidentify templates, up to page_size in ListDeidentifyTemplatesRequest.",
          "items": {
            "$ref": "GooglePrivacyDlpV2DeidentifyTemplate"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "If the next page is available then the next page token to be used in the following ListDeidentifyTemplates request.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2ListDeidentifyTemplatesResponse",
      "description": "Response message for ListDeidentifyTemplates."
    },
    "GooglePrivacyDlpV2InspectTemplate": {
      "id": "GooglePrivacyDlpV2InspectTemplate",
      "properties": {
        "description": {
          "type": "string",
          "description": "Short description (max 256 chars)."
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The last update timestamp of an inspectTemplate.",
          "format": "google-datetime",
          "readOnly": true
        },
        "allowLimitedAvailabilityInfoTypes": {
          "description": "Optional. Enables the use of [limited-availability built-in infoTypes](https://docs.cloud.google.com/sensitive-data-protection/docs/infotypes-reference#limited-availability-infotypes) in inspect_config. These infoTypes are supported only in specific regions and can cause scanning errors if used elsewhere.",
          "type": "boolean"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The creation timestamp of an inspectTemplate."
        },
        "displayName": {
          "type": "string",
          "description": "Display name (max 256 chars)."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The template name. The template will have one of the following formats: `projects/PROJECT_ID/inspectTemplates/TEMPLATE_ID` OR `organizations/ORGANIZATION_ID/inspectTemplates/TEMPLATE_ID`;"
        },
        "inspectConfig": {
          "$ref": "GooglePrivacyDlpV2InspectConfig",
          "description": "The core content of the template. Configuration of the scanning process."
        }
      },
      "description": "The inspectTemplate contains a configuration (set of types of sensitive data to be detected) to be used anywhere you otherwise would normally specify InspectConfig. See https://docs.cloud.google.com/sensitive-data-protection/docs/concepts-templates to learn more.",
      "type": "object"
    },
    "GooglePrivacyDlpV2DiscoveryCloudSqlFilter": {
      "type": "object",
      "properties": {
        "databaseResourceReference": {
          "$ref": "GooglePrivacyDlpV2DatabaseResourceReference",
          "description": "The database resource to scan. Targets including this can only include one target (the target with this database resource reference)."
        },
        "collection": {
          "description": "A specific set of database resources for this filter to apply to.",
          "$ref": "GooglePrivacyDlpV2DatabaseResourceCollection"
        },
        "others": {
          "$ref": "GooglePrivacyDlpV2AllOtherDatabaseResources",
          "description": "Catch-all. This should always be the last target in the list because anything above it will apply first. Should only appear once in a configuration. If none is specified, a default one will be added automatically."
        }
      },
      "id": "GooglePrivacyDlpV2DiscoveryCloudSqlFilter",
      "description": "Determines what tables will have profiles generated within an organization or project. Includes the ability to filter by regular expression patterns on project ID, location, instance, database, and database resource name."
    },
    "GooglePrivacyDlpV2LabelFieldMetadata": {
      "description": "The field values of the Google Drive label",
      "id": "GooglePrivacyDlpV2LabelFieldMetadata",
      "properties": {
        "id": {
          "description": "The identifier of the Label Field.",
          "type": "string"
        },
        "value": {
          "description": "The value of the Label Field.",
          "$ref": "GooglePrivacyDlpV2Value"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2DateTime": {
      "id": "GooglePrivacyDlpV2DateTime",
      "properties": {
        "date": {
          "$ref": "GoogleTypeDate",
          "description": "One or more of the following must be set. Must be a valid date or time value."
        },
        "time": {
          "description": "Time of day",
          "$ref": "GoogleTypeTimeOfDay"
        },
        "timeZone": {
          "description": "Time zone",
          "$ref": "GooglePrivacyDlpV2TimeZone"
        },
        "dayOfWeek": {
          "type": "string",
          "description": "Day of week",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ]
        }
      },
      "description": "Message for a date time object. e.g. 2018-01-01, 5th August.",
      "type": "object"
    },
    "GooglePrivacyDlpV2FileExtensionInfo": {
      "type": "object",
      "id": "GooglePrivacyDlpV2FileExtensionInfo",
      "properties": {
        "fileExtension": {
          "description": "The file extension if set. (aka .pdf, .jpg, .txt)",
          "type": "string"
        }
      },
      "description": "Information regarding the discovered file extension."
    },
    "GooglePrivacyDlpV2AllInfoTypes": {
      "properties": {},
      "id": "GooglePrivacyDlpV2AllInfoTypes",
      "description": "Apply transformation to all findings.",
      "type": "object"
    },
    "GooglePrivacyDlpV2DiscoveryVertexDatasetGenerationCadence": {
      "properties": {
        "refreshFrequency": {
          "enum": [
            "UPDATE_FREQUENCY_UNSPECIFIED",
            "UPDATE_FREQUENCY_NEVER",
            "UPDATE_FREQUENCY_DAILY",
            "UPDATE_FREQUENCY_MONTHLY"
          ],
          "description": "If you set this field, profiles are refreshed at this frequency regardless of whether the underlying datasets have changed. Defaults to never.",
          "enumDescriptions": [
            "Unspecified.",
            "After the data profile is created, it will never be updated.",
            "The data profile can be updated up to once every 24 hours.",
            "The data profile can be updated up to once every 30 days. Default."
          ],
          "type": "string"
        },
        "inspectTemplateModifiedCadence": {
          "$ref": "GooglePrivacyDlpV2DiscoveryInspectTemplateModifiedCadence",
          "description": "Governs when to update data profiles when the inspection rules defined by the `InspectTemplate` change. If not set, changing the template will not cause a data profile to be updated."
        }
      },
      "description": "How often existing datasets should have their profiles refreshed. New datasets are scanned as quickly as possible depending on system capacity.",
      "type": "object",
      "id": "GooglePrivacyDlpV2DiscoveryVertexDatasetGenerationCadence"
    },
    "GooglePrivacyDlpV2Expressions": {
      "type": "object",
      "id": "GooglePrivacyDlpV2Expressions",
      "properties": {
        "logicalOperator": {
          "description": "The operator to apply to the result of conditions. Default and currently only supported value is `AND`.",
          "type": "string",
          "enumDescriptions": [
            "Unused",
            "Conditional AND"
          ],
          "enum": [
            "LOGICAL_OPERATOR_UNSPECIFIED",
            "AND"
          ]
        },
        "conditions": {
          "description": "Conditions to apply to the expression.",
          "$ref": "GooglePrivacyDlpV2Conditions"
        }
      },
      "description": "An expression, consisting of an operator and conditions."
    },
    "GooglePrivacyDlpV2SecretsDiscoveryTarget": {
      "id": "GooglePrivacyDlpV2SecretsDiscoveryTarget",
      "properties": {},
      "type": "object",
      "description": "Discovery target for credentials and secrets in cloud resource metadata. This target does not include any filtering or frequency controls. Cloud DLP will scan cloud resource metadata for secrets daily. No inspect template should be included in the discovery config for a security benchmarks scan. Instead, the built-in list of secrets and credentials infoTypes will be used (see https://docs.cloud.google.com/sensitive-data-protection/docs/infotypes-reference#credentials_and_secrets). Credentials and secrets discovered will be reported as vulnerabilities to Security Command Center."
    },
    "GooglePrivacyDlpV2TransformationDetails": {
      "description": "Details about a single transformation. This object contains a description of the transformation, information about whether the transformation was successfully applied, and the precise location where the transformation occurred. These details are stored in a user-specified BigQuery table.",
      "id": "GooglePrivacyDlpV2TransformationDetails",
      "type": "object",
      "properties": {
        "transformation": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2TransformationDescription"
          },
          "description": "Description of transformation. This would only contain more than one element if there were multiple matching transformations and which one to apply was ambiguous. Not set for states that contain no transformation, currently only state that contains no transformation is TransformationResultStateType.METADATA_UNRETRIEVABLE."
        },
        "containerName": {
          "description": "The top level name of the container where the transformation is located (this will be the source file name or table name).",
          "type": "string"
        },
        "statusDetails": {
          "$ref": "GooglePrivacyDlpV2TransformationResultStatus",
          "description": "Status of the transformation, if transformation was not successful, this will specify what caused it to fail, otherwise it will show that the transformation was successful."
        },
        "transformationLocation": {
          "$ref": "GooglePrivacyDlpV2TransformationLocation",
          "description": "The precise location of the transformed content in the original container."
        },
        "transformedBytes": {
          "description": "The number of bytes that were transformed. If transformation was unsuccessful or did not take place because there was no content to transform, this will be zero.",
          "format": "int64",
          "type": "string"
        },
        "resourceName": {
          "type": "string",
          "description": "The name of the job that completed the transformation."
        }
      }
    },
    "GooglePrivacyDlpV2Deidentify": {
      "type": "object",
      "properties": {
        "fileTypesToTransform": {
          "items": {
            "enum": [
              "FILE_TYPE_UNSPECIFIED",
              "BINARY_FILE",
              "TEXT_FILE",
              "IMAGE",
              "WORD",
              "PDF",
              "AVRO",
              "CSV",
              "TSV",
              "POWERPOINT",
              "EXCEL"
            ],
            "type": "string",
            "enumDescriptions": [
              "Includes all files.",
              "Includes all file extensions not covered by another entry. Binary scanning attempts to convert the content of the file to utf_8 to scan the file. If you wish to avoid this fall back, specify one or more of the other file types in your storage scan.",
              "Included file extensions: asc,asp, aspx, brf, c, cc,cfm, cgi, cpp, csv, cxx, c++, cs, css, dart, dat, dot, eml,, epbub, ged, go, h, hh, hpp, hxx, h++, hs, html, htm, mkd, markdown, m, ml, mli, perl, pl, plist, pm, php, phtml, pht, properties, py, pyw, rb, rbw, rs, rss, rc, scala, sh, sql, swift, tex, shtml, shtm, xhtml, lhs, ics, ini, java, js, json, jsonl, kix, kml, ocaml, md, txt, text, tsv, vb, vcard, vcs, wml, xcodeproj, xml, xsl, xsd, yml, yaml.",
              "Included file extensions: bmp, gif, jpg, jpeg, jpe, png. Setting bytes_limit_per_file or bytes_limit_per_file_percent has no effect on image files. Image inspection is restricted to the `global`, `us`, `asia`, and `europe` regions.",
              "Microsoft Word files larger than 30 MB will be scanned as binary files. Included file extensions: docx, dotx, docm, dotm. Setting `bytes_limit_per_file` or `bytes_limit_per_file_percent` has no effect on Word files.",
              "PDF files larger than 30 MB will be scanned as binary files. Included file extensions: pdf. Setting `bytes_limit_per_file` or `bytes_limit_per_file_percent` has no effect on PDF files.",
              "Included file extensions: avro",
              "Included file extensions: csv",
              "Included file extensions: tsv",
              "Microsoft PowerPoint files larger than 30 MB will be scanned as binary files. Included file extensions: pptx, pptm, potx, potm, pot. Setting `bytes_limit_per_file` or `bytes_limit_per_file_percent` has no effect on PowerPoint files.",
              "Microsoft Excel files larger than 30 MB will be scanned as binary files. Included file extensions: xlsx, xlsm, xltx, xltm. Setting `bytes_limit_per_file` or `bytes_limit_per_file_percent` has no effect on Excel files."
            ]
          },
          "description": "List of user-specified file type groups to transform. If specified, only the files with these file types are transformed. If empty, all supported files are transformed. Supported types may be automatically added over time. Any unsupported file types that are set in this field are excluded from de-identification. An error is recorded for each unsupported file in the TransformationDetails output table. Currently the only file types supported are: IMAGES, TEXT_FILES, CSV, TSV.",
          "type": "array"
        },
        "cloudStorageOutput": {
          "description": "Required. User settable Cloud Storage bucket and folders to store de-identified files. This field must be set for Cloud Storage deidentification. The output Cloud Storage bucket must be different from the input bucket. De-identified files will overwrite files in the output path. Form of: gs://bucket/folder/ or gs://bucket",
          "type": "string"
        },
        "transformationConfig": {
          "$ref": "GooglePrivacyDlpV2TransformationConfig",
          "description": "User specified deidentify templates and configs for structured, unstructured, and image files."
        },
        "transformationDetailsStorageConfig": {
          "$ref": "GooglePrivacyDlpV2TransformationDetailsStorageConfig",
          "description": "Config for storing transformation details. This field specifies the configuration for storing detailed metadata about each transformation performed during a de-identification process. The metadata is stored separately from the de-identified content itself and provides a granular record of both successful transformations and any failures that occurred. Enabling this configuration is essential for users who need to access comprehensive information about the status, outcome, and specifics of each transformation. The details are captured in the TransformationDetails message for each operation. Key use cases: * **Auditing and compliance** * Provides a verifiable audit trail of de-identification activities, which is crucial for meeting regulatory requirements and internal data governance policies. * Logs what data was transformed, what transformations were applied, when they occurred, and their success status. This helps demonstrate accountability and due diligence in protecting sensitive data. * **Troubleshooting and debugging** * Offers detailed error messages and context if a transformation fails. This information is useful for diagnosing and resolving issues in the de-identification pipeline. * Helps pinpoint the exact location and nature of failures, speeding up the debugging process. * **Process verification and quality assurance** * Allows users to confirm that de-identification rules and transformations were applied correctly and consistently across the dataset as intended. * Helps in verifying the effectiveness of the chosen de-identification strategies. * **Data lineage and impact analysis** * Creates a record of how data elements were modified, contributing to data lineage. This is useful for understanding the provenance of de-identified data. * Aids in assessing the potential impact of de-identification choices on downstream analytical processes or data usability. * **Reporting and operational insights** * You can analyze the metadata stored in a queryable BigQuery table to generate reports on transformation success rates, common error types, processing volumes (e.g., transformedBytes), and the types of transformations applied. * These insights can inform optimization of de-identification configurations and resource planning. To take advantage of these benefits, set this configuration. The stored details include a description of the transformation, success or error codes, error messages, the number of bytes transformed, the location of the transformed content, and identifiers for the job and source data."
        }
      },
      "id": "GooglePrivacyDlpV2Deidentify",
      "description": "Create a de-identified copy of a storage bucket. Only compatible with Cloud Storage buckets. A TransformationDetail will be created for each transformation. Compatible with: Inspection of Cloud Storage"
    },
    "GooglePrivacyDlpV2TagFilters": {
      "description": "Tags to match against for filtering.",
      "id": "GooglePrivacyDlpV2TagFilters",
      "properties": {
        "tagFilters": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2TagFilter"
          },
          "description": "Required. A resource must match ALL of the specified tag filters to be included in the collection."
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2ListColumnDataProfilesResponse": {
      "id": "GooglePrivacyDlpV2ListColumnDataProfilesResponse",
      "description": "List of profiles generated for a given organization or project.",
      "type": "object",
      "properties": {
        "columnDataProfiles": {
          "description": "List of data profiles.",
          "items": {
            "$ref": "GooglePrivacyDlpV2ColumnDataProfile"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The next page token."
        }
      }
    },
    "GooglePrivacyDlpV2LDiversityHistogramBucket": {
      "id": "GooglePrivacyDlpV2LDiversityHistogramBucket",
      "properties": {
        "bucketValues": {
          "description": "Sample of equivalence classes in this bucket. The total number of classes returned per bucket is capped at 20.",
          "items": {
            "$ref": "GooglePrivacyDlpV2LDiversityEquivalenceClass"
          },
          "type": "array"
        },
        "sensitiveValueFrequencyLowerBound": {
          "type": "string",
          "description": "Lower bound on the sensitive value frequencies of the equivalence classes in this bucket.",
          "format": "int64"
        },
        "bucketSize": {
          "format": "int64",
          "type": "string",
          "description": "Total number of equivalence classes in this bucket."
        },
        "sensitiveValueFrequencyUpperBound": {
          "description": "Upper bound on the sensitive value frequencies of the equivalence classes in this bucket.",
          "type": "string",
          "format": "int64"
        },
        "bucketValueCount": {
          "format": "int64",
          "description": "Total number of distinct equivalence classes in this bucket.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Histogram of l-diversity equivalence class sensitive value frequencies."
    },
    "GooglePrivacyDlpV2InfoTypeTransformations": {
      "id": "GooglePrivacyDlpV2InfoTypeTransformations",
      "description": "A type of transformation that will scan unstructured text and apply various `PrimitiveTransformation`s to each finding, where the transformation is applied to only values that were identified as a specific info_type.",
      "type": "object",
      "properties": {
        "transformations": {
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoTypeTransformation"
          },
          "type": "array",
          "description": "Required. Transformation for each infoType. Cannot specify more than one for a given infoType."
        }
      }
    },
    "GooglePrivacyDlpV2WordList": {
      "properties": {
        "words": {
          "description": "Words or phrases defining the dictionary. The dictionary must contain at least one phrase and every phrase must contain at least 2 characters that are letters or digits. [required]",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GooglePrivacyDlpV2WordList",
      "description": "Message defining a list of words or phrases to search for in the data.",
      "type": "object"
    },
    "GooglePrivacyDlpV2RequestedDeidentifyOptions": {
      "id": "GooglePrivacyDlpV2RequestedDeidentifyOptions",
      "type": "object",
      "description": "De-identification options.",
      "properties": {
        "snapshotStructuredDeidentifyTemplate": {
          "description": "Snapshot of the state of the structured `DeidentifyTemplate` from the `Deidentify` action at the time this job was run.",
          "$ref": "GooglePrivacyDlpV2DeidentifyTemplate"
        },
        "snapshotDeidentifyTemplate": {
          "$ref": "GooglePrivacyDlpV2DeidentifyTemplate",
          "description": "Snapshot of the state of the `DeidentifyTemplate` from the Deidentify action at the time this job was run."
        },
        "snapshotImageRedactTemplate": {
          "description": "Snapshot of the state of the image transformation `DeidentifyTemplate` from the `Deidentify` action at the time this job was run.",
          "$ref": "GooglePrivacyDlpV2DeidentifyTemplate"
        }
      }
    },
    "GooglePrivacyDlpV2DiscoveryGenerationCadence": {
      "properties": {
        "refreshFrequency": {
          "description": "Frequency at which profiles should be updated, regardless of whether the underlying resource has changed. Defaults to never.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "After the data profile is created, it will never be updated.",
            "The data profile can be updated up to once every 24 hours.",
            "The data profile can be updated up to once every 30 days. Default."
          ],
          "enum": [
            "UPDATE_FREQUENCY_UNSPECIFIED",
            "UPDATE_FREQUENCY_NEVER",
            "UPDATE_FREQUENCY_DAILY",
            "UPDATE_FREQUENCY_MONTHLY"
          ]
        },
        "schemaModifiedCadence": {
          "$ref": "GooglePrivacyDlpV2DiscoverySchemaModifiedCadence",
          "description": "Governs when to update data profiles when a schema is modified."
        },
        "tableModifiedCadence": {
          "description": "Governs when to update data profiles when a table is modified.",
          "$ref": "GooglePrivacyDlpV2DiscoveryTableModifiedCadence"
        },
        "inspectTemplateModifiedCadence": {
          "$ref": "GooglePrivacyDlpV2DiscoveryInspectTemplateModifiedCadence",
          "description": "Governs when to update data profiles when the inspection rules defined by the `InspectTemplate` change. If not set, changing the template will not cause a data profile to update."
        }
      },
      "id": "GooglePrivacyDlpV2DiscoveryGenerationCadence",
      "type": "object",
      "description": "What must take place for a profile to be updated and how frequently it should occur. New tables are scanned as quickly as possible depending on system capacity."
    },
    "GooglePrivacyDlpV2AwsDiscoveryStartingLocation": {
      "id": "GooglePrivacyDlpV2AwsDiscoveryStartingLocation",
      "type": "object",
      "properties": {
        "allAssetInventoryAssets": {
          "type": "boolean",
          "description": "All AWS assets stored in Asset Inventory that didn't match other AWS discovery configs."
        },
        "accountId": {
          "type": "string",
          "description": "The AWS account ID that this discovery config applies to. Within an AWS organization, you can find the AWS account ID inside an AWS account ARN. Example: arn:{partition}:organizations::{management_account_id}:account/{org_id}/{account_id}"
        }
      },
      "description": "The AWS starting location for discovery."
    },
    "GooglePrivacyDlpV2TagResources": {
      "type": "object",
      "properties": {
        "tagConditions": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2TagCondition"
          },
          "description": "The tags to associate with different conditions."
        },
        "profileGenerationsToTag": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unused.",
              "The profile is the first profile for the resource.",
              "The profile is an update to a previous profile."
            ],
            "enum": [
              "PROFILE_GENERATION_UNSPECIFIED",
              "PROFILE_GENERATION_NEW",
              "PROFILE_GENERATION_UPDATE"
            ]
          },
          "type": "array",
          "description": "The profile generations for which the tag should be attached to resources. If you attach a tag to only new profiles, then if the sensitivity score of a profile subsequently changes, its tag doesn't change. By default, this field includes only new profiles. To include both new and updated profiles for tagging, this field should explicitly include both `PROFILE_GENERATION_NEW` and `PROFILE_GENERATION_UPDATE`."
        },
        "lowerDataRiskToLow": {
          "description": "Whether applying a tag to a resource should lower the risk of the profile for that resource. For example, in conjunction with an [IAM deny policy](https://docs.cloud.google.com/iam/docs/deny-overview), you can deny all principals a permission if a tag value is present, mitigating the risk of the resource. This also lowers the data risk of resources at the lower levels of the resource hierarchy. For example, reducing the data risk of a table data profile also reduces the data risk of the constituent column data profiles.",
          "type": "boolean"
        }
      },
      "description": "If set, attaches the [tags] (https://docs.cloud.google.com/resource-manager/docs/tags/tags-overview) provided to profiled resources. Tags support [access control](https://docs.cloud.google.com/iam/docs/tags-access-control). You can conditionally grant or deny access to a resource based on whether the resource has a specific tag.",
      "id": "GooglePrivacyDlpV2TagResources"
    },
    "GoogleRpcStatus": {
      "type": "object",
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array"
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "GoogleRpcStatus"
    },
    "GooglePrivacyDlpV2ActivateJobTriggerRequest": {
      "id": "GooglePrivacyDlpV2ActivateJobTriggerRequest",
      "properties": {},
      "description": "Request message for ActivateJobTrigger.",
      "type": "object"
    },
    "GooglePrivacyDlpV2Range": {
      "properties": {
        "end": {
          "format": "int64",
          "type": "string",
          "description": "Index of the last character of the range (exclusive)."
        },
        "start": {
          "format": "int64",
          "description": "Index of the first character of the range (inclusive).",
          "type": "string"
        }
      },
      "description": "Generic half-open interval [start, end)",
      "type": "object",
      "id": "GooglePrivacyDlpV2Range"
    },
    "GooglePrivacyDlpV2RecordLocation": {
      "description": "Location of a finding within a row or record.",
      "properties": {
        "tableLocation": {
          "$ref": "GooglePrivacyDlpV2TableLocation",
          "description": "Location within a `ContentItem.Table`."
        },
        "recordKey": {
          "$ref": "GooglePrivacyDlpV2RecordKey",
          "description": "Key of the finding."
        },
        "fieldId": {
          "description": "Field id of the field containing the finding.",
          "$ref": "GooglePrivacyDlpV2FieldId"
        }
      },
      "id": "GooglePrivacyDlpV2RecordLocation",
      "type": "object"
    },
    "GooglePrivacyDlpV2Container": {
      "properties": {
        "rootPath": {
          "type": "string",
          "description": "The root of the container. Examples: - For BigQuery table `project_id:dataset_id.table_id`, the root is `dataset_id` - For Cloud Storage file `gs://bucket/folder/filename.txt`, the root is `gs://bucket`"
        },
        "type": {
          "description": "Container type, for example BigQuery or Cloud Storage.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Findings container modification timestamp, if applicable. For Cloud Storage, this field contains the last file modification timestamp. For a BigQuery table, this field contains the last_modified_time property. For Datastore, this field isn't populated."
        },
        "fullPath": {
          "type": "string",
          "description": "A string representation of the full container name. Examples: - BigQuery: 'Project:DataSetId.TableId' - Cloud Storage: 'gs://Bucket/folders/filename.txt'"
        },
        "version": {
          "description": "Findings container version, if available (\"generation\" for Cloud Storage).",
          "type": "string"
        },
        "projectId": {
          "description": "Project where the finding was found. Can be different from the project that owns the finding.",
          "type": "string"
        },
        "relativePath": {
          "description": "The rest of the path after the root. Examples: - For BigQuery table `project_id:dataset_id.table_id`, the relative path is `table_id` - For Cloud Storage file `gs://bucket/folder/filename.txt`, the relative path is `folder/filename.txt`",
          "type": "string"
        }
      },
      "description": "Represents a container that may contain DLP findings. Examples of a container include a file, table, or database record.",
      "id": "GooglePrivacyDlpV2Container",
      "type": "object"
    },
    "GooglePrivacyDlpV2OutputStorageConfig": {
      "type": "object",
      "description": "Cloud repository for storing output.",
      "properties": {
        "storagePath": {
          "description": "Store findings in an existing Cloud Storage bucket. Files will be generated with the job ID and file part number as the filename and will contain findings in textproto format as SaveToGcsFindingsOutput. The filename will follow the naming convention `-`. Example: `my-job-id-2`. Supported for Inspect jobs. The bucket must not be the same as the bucket being inspected. If storing findings to Cloud Storage, the output schema field should not be set. If set, it will be ignored.",
          "$ref": "GooglePrivacyDlpV2CloudStoragePath"
        },
        "outputSchema": {
          "enumDescriptions": [
            "Unused.",
            "Basic schema including only `info_type`, `quote`, `certainty`, and `timestamp`.",
            "Schema tailored to findings from scanning Cloud Storage.",
            "Schema tailored to findings from scanning Google Datastore.",
            "Schema tailored to findings from scanning Google BigQuery.",
            "Schema containing all columns."
          ],
          "enum": [
            "OUTPUT_SCHEMA_UNSPECIFIED",
            "BASIC_COLUMNS",
            "GCS_COLUMNS",
            "DATASTORE_COLUMNS",
            "BIG_QUERY_COLUMNS",
            "ALL_COLUMNS"
          ],
          "description": "Schema used for writing the findings for Inspect jobs. This field is only used for Inspect and must be unspecified for Risk jobs. Columns are derived from the `Finding` object. If appending to an existing table, any columns from the predefined schema that are missing will be added. No columns in the existing table will be deleted. If unspecified, then all available columns will be used for a new table or an (existing) table with no schema, and no changes will be made to an existing table that has a schema. Only for use with external storage.",
          "type": "string"
        },
        "table": {
          "description": "Store findings in an existing table or a new table in an existing dataset. If table_id is not set a new one will be generated for you with the following format: dlp_googleapis_yyyy_mm_dd_[dlp_job_id]. Pacific time zone will be used for generating the date details. For Inspect, each column in an existing output table must have the same name, type, and mode of a field in the `Finding` object. For Risk, an existing output table should be the output of a previous Risk analysis job run on the same source table, with the same privacy metric and quasi-identifiers. Risk jobs that analyze the same table but compute a different privacy metric, or use different sets of quasi-identifiers, cannot store their results in the same table.",
          "$ref": "GooglePrivacyDlpV2BigQueryTable"
        }
      },
      "id": "GooglePrivacyDlpV2OutputStorageConfig"
    },
    "GoogleTypeDate": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32",
          "type": "integer"
        },
        "day": {
          "format": "int32",
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "GoogleTypeDate"
    },
    "GooglePrivacyDlpV2StoredInfoTypeStats": {
      "type": "object",
      "properties": {
        "largeCustomDictionary": {
          "$ref": "GooglePrivacyDlpV2LargeCustomDictionaryStats",
          "description": "StoredInfoType where findings are defined by a dictionary of phrases."
        }
      },
      "description": "Statistics for a StoredInfoType.",
      "id": "GooglePrivacyDlpV2StoredInfoTypeStats"
    },
    "GooglePrivacyDlpV2OrConditions": {
      "description": "There is an OR relationship between these attributes. They are used to determine if a table should be scanned or not in Discovery.",
      "id": "GooglePrivacyDlpV2OrConditions",
      "type": "object",
      "properties": {
        "minRowCount": {
          "type": "integer",
          "description": "Minimum number of rows that should be present before Cloud DLP profiles a table",
          "format": "int32"
        },
        "minAge": {
          "type": "string",
          "description": "Minimum age a table must have before Cloud DLP can profile it. Value must be 1 hour or greater.",
          "format": "google-duration"
        }
      }
    },
    "GooglePrivacyDlpV2Location": {
      "properties": {
        "codepointRange": {
          "$ref": "GooglePrivacyDlpV2Range",
          "description": "Unicode character offsets delimiting the finding. These are relative to the finding's containing element. Provided when the content is text."
        },
        "byteRange": {
          "$ref": "GooglePrivacyDlpV2Range",
          "description": "Zero-based byte offsets delimiting the finding. These are relative to the finding's containing element. Note that when the content is not textual, this references the UTF-8 encoded textual representation of the content. Omitted if content is an image."
        },
        "container": {
          "$ref": "GooglePrivacyDlpV2Container",
          "description": "Information about the container where this finding occurred, if available."
        },
        "contentLocations": {
          "items": {
            "$ref": "GooglePrivacyDlpV2ContentLocation"
          },
          "type": "array",
          "description": "List of nested objects pointing to the precise location of the finding within the file or record."
        }
      },
      "id": "GooglePrivacyDlpV2Location",
      "type": "object",
      "description": "Specifies the location of the finding."
    },
    "GooglePrivacyDlpV2ReidentifyContentRequest": {
      "properties": {
        "inspectTemplateName": {
          "description": "Template to use. Any configuration directly specified in `inspect_config` will override those set in the template. Singular fields that are set in this request will replace their corresponding fields in the template. Repeated fields are appended. Singular sub-messages and groups are recursively merged.",
          "type": "string"
        },
        "inspectConfig": {
          "description": "Configuration for the inspector.",
          "$ref": "GooglePrivacyDlpV2InspectConfig"
        },
        "reidentifyTemplateName": {
          "description": "Template to use. References an instance of `DeidentifyTemplate`. Any configuration directly specified in `reidentify_config` or `inspect_config` will override those set in the template. The `DeidentifyTemplate` used must include only reversible transformations. Singular fields that are set in this request will replace their corresponding fields in the template. Repeated fields are appended. Singular sub-messages and groups are recursively merged.",
          "type": "string"
        },
        "reidentifyConfig": {
          "description": "Configuration for the re-identification of the content item. This field shares the same proto message type that is used for de-identification, however its usage here is for the reversal of the previous de-identification. Re-identification is performed by examining the transformations used to de-identify the items and executing the reverse. This requires that only reversible transformations be provided here. The reversible transformations are: - `CryptoDeterministicConfig` - `CryptoReplaceFfxFpeConfig`",
          "$ref": "GooglePrivacyDlpV2DeidentifyConfig"
        },
        "locationId": {
          "type": "string",
          "description": "Deprecated. This field has no effect."
        },
        "item": {
          "description": "The item to re-identify. Will be treated as text.",
          "$ref": "GooglePrivacyDlpV2ContentItem"
        }
      },
      "description": "Request to re-identify an item.",
      "type": "object",
      "id": "GooglePrivacyDlpV2ReidentifyContentRequest"
    },
    "GooglePrivacyDlpV2DateShiftConfig": {
      "type": "object",
      "description": "Shifts dates by random number of days, with option to be consistent for the same context. See https://docs.cloud.google.com/sensitive-data-protection/docs/concepts-date-shifting to learn more.",
      "id": "GooglePrivacyDlpV2DateShiftConfig",
      "properties": {
        "context": {
          "description": "Points to the field that contains the context, for example, an entity id. If set, must also set cryptoKey. If set, shift will be consistent for the given context.",
          "$ref": "GooglePrivacyDlpV2FieldId"
        },
        "cryptoKey": {
          "$ref": "GooglePrivacyDlpV2CryptoKey",
          "description": "Causes the shift to be computed based on this key and the context. This results in the same shift for the same context and crypto_key. If set, must also set context. Can only be applied to table items."
        },
        "lowerBoundDays": {
          "format": "int32",
          "description": "Required. For example, -5 means shift date to at most 5 days back in the past.",
          "type": "integer"
        },
        "upperBoundDays": {
          "type": "integer",
          "format": "int32",
          "description": "Required. Range of shift in days. Actual shift will be selected at random within this range (inclusive ends). Negative means shift to earlier in time. Must not be more than 365250 days (1000 years) each direction. For example, 3 means shift date to at most 3 days into the future."
        }
      }
    },
    "GooglePrivacyDlpV2ContentPolicy": {
      "type": "object",
      "description": "A policy to apply to content based on its inspection findings.",
      "properties": {
        "inspectConfig": {
          "description": "Optional. InspectConfig to use to produce findings.",
          "$ref": "GooglePrivacyDlpV2InspectConfig"
        },
        "unsupportedFileType": {
          "description": "Optional. Action to take if the content is an unsupported file type.",
          "$ref": "GooglePrivacyDlpV2PolicyAction"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The last update timestamp of a contentPolicy; output-only field.",
          "type": "string",
          "format": "google-datetime"
        },
        "inputTooLarge": {
          "description": "Optional. Action to take if the content is a supported file type but is too large to be scanned.",
          "$ref": "GooglePrivacyDlpV2PolicyAction"
        },
        "defaultAction": {
          "description": "Action to take if the content is scanned and no rules match. Defaults to returning an ALLOW verdict if not set.",
          "$ref": "GooglePrivacyDlpV2PolicyAction"
        },
        "errors": {
          "items": {
            "$ref": "GooglePrivacyDlpV2Error"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. A stream of errors encountered when the policy was applied. Output only field. Will return the last 100 errors. Whenever the policy is modified this list will be cleared."
        },
        "failedToScanSupportedFileType": {
          "description": "Optional. Action to take if the content is a supported file type and size but fails to be scanned, for example because the file is encrypted or corrupted.",
          "$ref": "GooglePrivacyDlpV2PolicyAction"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of the policy."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The creation timestamp of a contentPolicy; output-only field."
        },
        "loggingConfigs": {
          "description": "Optional. Log the actions taken by the content policy to external systems.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2LoggingConfig"
          }
        },
        "rules": {
          "description": "Required. Policies to apply, based on the findings returned by inspection. The first rule to match applies.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2PolicyRule"
          }
        },
        "displayName": {
          "description": "Optional. Display name (max 63 chars)",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2ContentPolicy"
    },
    "GooglePrivacyDlpV2CloudStoragePath": {
      "properties": {
        "path": {
          "description": "A URL representing a file or path (no wildcards) in Cloud Storage. Example: `gs://[BUCKET_NAME]/dictionary.txt`",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2CloudStoragePath",
      "description": "Message representing a single file or path in Cloud Storage."
    },
    "GooglePrivacyDlpV2BigQueryTableTypes": {
      "type": "object",
      "description": "The types of BigQuery tables supported by Cloud DLP.",
      "id": "GooglePrivacyDlpV2BigQueryTableTypes",
      "properties": {
        "types": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "BIG_QUERY_TABLE_TYPE_UNSPECIFIED",
              "BIG_QUERY_TABLE_TYPE_TABLE",
              "BIG_QUERY_TABLE_TYPE_EXTERNAL_BIG_LAKE",
              "BIG_QUERY_TABLE_TYPE_SNAPSHOT"
            ],
            "enumDescriptions": [
              "Unused.",
              "A normal BigQuery table.",
              "A table that references data stored in Cloud Storage.",
              "A snapshot of a BigQuery table."
            ]
          },
          "description": "A set of BigQuery table types."
        }
      }
    },
    "GooglePrivacyDlpV2StorageConfig": {
      "id": "GooglePrivacyDlpV2StorageConfig",
      "type": "object",
      "properties": {
        "cloudStorageOptions": {
          "$ref": "GooglePrivacyDlpV2CloudStorageOptions",
          "description": "Cloud Storage options."
        },
        "datastoreOptions": {
          "description": "Google Cloud Datastore options.",
          "$ref": "GooglePrivacyDlpV2DatastoreOptions"
        },
        "bigQueryOptions": {
          "$ref": "GooglePrivacyDlpV2BigQueryOptions",
          "description": "BigQuery options."
        },
        "hybridOptions": {
          "description": "Hybrid inspection options.",
          "$ref": "GooglePrivacyDlpV2HybridOptions"
        },
        "timespanConfig": {
          "description": "Configuration of the timespan of the items to include in scanning.",
          "$ref": "GooglePrivacyDlpV2TimespanConfig"
        }
      },
      "description": "Shared message indicating Cloud storage type."
    },
    "GooglePrivacyDlpV2DiscoveryOtherCloudGenerationCadence": {
      "id": "GooglePrivacyDlpV2DiscoveryOtherCloudGenerationCadence",
      "description": "How often existing resources should have their profiles refreshed. New resources are scanned as quickly as possible depending on system capacity.",
      "properties": {
        "inspectTemplateModifiedCadence": {
          "description": "Optional. Governs when to update data profiles when the inspection rules defined by the `InspectTemplate` change. If not set, changing the template will not cause a data profile to update.",
          "$ref": "GooglePrivacyDlpV2DiscoveryInspectTemplateModifiedCadence"
        },
        "refreshFrequency": {
          "description": "Optional. Frequency to update profiles regardless of whether the underlying resource has changes. Defaults to never.",
          "type": "string",
          "enum": [
            "UPDATE_FREQUENCY_UNSPECIFIED",
            "UPDATE_FREQUENCY_NEVER",
            "UPDATE_FREQUENCY_DAILY",
            "UPDATE_FREQUENCY_MONTHLY"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "After the data profile is created, it will never be updated.",
            "The data profile can be updated up to once every 24 hours.",
            "The data profile can be updated up to once every 30 days. Default."
          ]
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2InspectResult": {
      "description": "All the findings for a single scanned item.",
      "type": "object",
      "id": "GooglePrivacyDlpV2InspectResult",
      "properties": {
        "findings": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Finding"
          },
          "description": "List of findings for an item."
        },
        "findingsTruncated": {
          "description": "If true, then this item might have more findings than were returned, and the findings returned are an arbitrary subset of all findings. The findings list might be truncated because the input items were too large, or because the server reached the maximum amount of resources allowed for a single API call. For best results, divide the input into smaller batches.",
          "type": "boolean"
        }
      }
    },
    "GooglePrivacyDlpV2InfoTypeCondition": {
      "description": "A info type based condition.",
      "type": "object",
      "properties": {
        "infoTypes": {
          "description": "match any of these info types.",
          "$ref": "GooglePrivacyDlpV2InfoTypes"
        },
        "minCount": {
          "description": "Optional. The minimum total number of findings of all matching info types required for this condition to evaluate to true. Defaults to 1 if unset.",
          "format": "int64",
          "type": "string"
        },
        "anyInfoType": {
          "$ref": "GoogleProtobufEmpty",
          "description": "match any info types."
        }
      },
      "id": "GooglePrivacyDlpV2InfoTypeCondition"
    },
    "GooglePrivacyDlpV2ListContentPoliciesResponse": {
      "description": "Response message for ListContentPolicies.",
      "id": "GooglePrivacyDlpV2ListContentPoliciesResponse",
      "properties": {
        "contentPolicies": {
          "items": {
            "$ref": "GooglePrivacyDlpV2ContentPolicy"
          },
          "type": "array",
          "description": "List of content policies."
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results. An empty value means there are no more results.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2BatchContentLocation": {
      "type": "object",
      "properties": {
        "itemIndex": {
          "description": "Matches an index of a batch item in the batch provided in the request.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GooglePrivacyDlpV2BatchContentLocation",
      "description": "Location within a batch of content."
    },
    "GooglePrivacyDlpV2InfoTypeStats": {
      "id": "GooglePrivacyDlpV2InfoTypeStats",
      "description": "Statistics regarding a specific InfoType.",
      "properties": {
        "infoType": {
          "$ref": "GooglePrivacyDlpV2InfoType",
          "description": "The type of finding this stat is for."
        },
        "count": {
          "description": "Number of findings for this infoType.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2StorageMetadataLabel": {
      "description": "Storage metadata label to indicate which metadata entry contains findings.",
      "properties": {
        "key": {
          "type": "string",
          "description": "Label name."
        }
      },
      "id": "GooglePrivacyDlpV2StorageMetadataLabel",
      "type": "object"
    },
    "GooglePrivacyDlpV2DiscoveryVertexDatasetConditions": {
      "type": "object",
      "description": "Requirements that must be true before a dataset is profiled for the first time.",
      "properties": {
        "minAge": {
          "format": "google-duration",
          "type": "string",
          "description": "Minimum age a Vertex AI dataset must have. If set, the value must be 1 hour or greater."
        },
        "createdAfter": {
          "type": "string",
          "format": "google-datetime",
          "description": "Vertex AI dataset must have been created after this date. Used to avoid backfilling."
        }
      },
      "id": "GooglePrivacyDlpV2DiscoveryVertexDatasetConditions"
    },
    "GooglePrivacyDlpV2SelectedInfoTypes": {
      "properties": {
        "infoTypes": {
          "description": "Required. InfoTypes to apply the transformation to. Required. Provided InfoType must be unique within the ImageTransformations message.",
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoType"
          },
          "type": "array"
        }
      },
      "description": "Apply transformation to the selected info_types.",
      "id": "GooglePrivacyDlpV2SelectedInfoTypes",
      "type": "object"
    },
    "GooglePrivacyDlpV2DeidentifyTemplate": {
      "type": "object",
      "description": "DeidentifyTemplates contains instructions on how to de-identify content. See https://docs.cloud.google.com/sensitive-data-protection/docs/concepts-templates to learn more.",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The last update timestamp of an inspectTemplate.",
          "format": "google-datetime"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The creation timestamp of an inspectTemplate."
        },
        "description": {
          "type": "string",
          "description": "Short description (max 256 chars)."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The template name. The template will have one of the following formats: `projects/PROJECT_ID/deidentifyTemplates/TEMPLATE_ID` OR `organizations/ORGANIZATION_ID/deidentifyTemplates/TEMPLATE_ID`",
          "type": "string"
        },
        "deidentifyConfig": {
          "$ref": "GooglePrivacyDlpV2DeidentifyConfig",
          "description": "The core content of the template."
        },
        "displayName": {
          "description": "Display name (max 256 chars).",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2DeidentifyTemplate"
    },
    "GooglePrivacyDlpV2CreateJobTriggerRequest": {
      "description": "Request message for CreateJobTrigger.",
      "id": "GooglePrivacyDlpV2CreateJobTriggerRequest",
      "properties": {
        "locationId": {
          "type": "string",
          "description": "Deprecated. This field has no effect."
        },
        "triggerId": {
          "description": "The trigger id can contain uppercase and lowercase letters, numbers, and hyphens; that is, it must match the regular expression: `[a-zA-Z\\d-_]+`. The maximum length is 100 characters. Can be empty to allow the system to generate one.",
          "type": "string"
        },
        "jobTrigger": {
          "$ref": "GooglePrivacyDlpV2JobTrigger",
          "description": "Required. The JobTrigger to create."
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2DiscoveryTableModifiedCadence": {
      "description": "The cadence at which to update data profiles when a table is modified.",
      "id": "GooglePrivacyDlpV2DiscoveryTableModifiedCadence",
      "type": "object",
      "properties": {
        "types": {
          "type": "array",
          "description": "The type of events to consider when deciding if the table has been modified and should have the profile updated. Defaults to MODIFIED_TIMESTAMP.",
          "items": {
            "type": "string",
            "enum": [
              "TABLE_MODIFICATION_UNSPECIFIED",
              "TABLE_MODIFIED_TIMESTAMP"
            ],
            "enumDescriptions": [
              "Unused.",
              "A table will be considered modified when the last_modified_time from BigQuery has been updated."
            ]
          }
        },
        "frequency": {
          "description": "How frequently data profiles can be updated when tables are modified. Defaults to never.",
          "enum": [
            "UPDATE_FREQUENCY_UNSPECIFIED",
            "UPDATE_FREQUENCY_NEVER",
            "UPDATE_FREQUENCY_DAILY",
            "UPDATE_FREQUENCY_MONTHLY"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "After the data profile is created, it will never be updated.",
            "The data profile can be updated up to once every 24 hours.",
            "The data profile can be updated up to once every 30 days. Default."
          ],
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2RiskAnalysisJobConfig": {
      "type": "object",
      "description": "Configuration for a risk analysis job. See https://docs.cloud.google.com/sensitive-data-protection/docs/concepts-risk-analysis to learn more.",
      "id": "GooglePrivacyDlpV2RiskAnalysisJobConfig",
      "properties": {
        "sourceTable": {
          "description": "Input dataset to compute metrics over.",
          "$ref": "GooglePrivacyDlpV2BigQueryTable"
        },
        "privacyMetric": {
          "description": "Privacy metric to compute.",
          "$ref": "GooglePrivacyDlpV2PrivacyMetric"
        },
        "actions": {
          "description": "Actions to execute at the completion of the job. Are executed in the order provided.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Action"
          }
        }
      }
    },
    "GooglePrivacyDlpV2VersionDescription": {
      "description": "Details about each available version for an infotype.",
      "type": "object",
      "properties": {
        "version": {
          "description": "Name of the version",
          "type": "string"
        },
        "description": {
          "description": "Description of the version.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2VersionDescription"
    },
    "GooglePrivacyDlpV2BigQueryOptions": {
      "id": "GooglePrivacyDlpV2BigQueryOptions",
      "properties": {
        "identifyingFields": {
          "description": "Table fields that may uniquely identify a row within the table. When `actions.saveFindings.outputConfig.table` is specified, the values of columns specified here are available in the output table under `location.content_locations.record_location.record_key.id_values`. Nested fields such as `person.birthdate.year` are allowed.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldId"
          }
        },
        "rowsLimit": {
          "type": "string",
          "format": "int64",
          "description": "Max number of rows to scan. If the table has more rows than this value, the rest of the rows are omitted. If not set, or if set to 0, all rows will be scanned. Only one of rows_limit and rows_limit_percent can be specified. Cannot be used in conjunction with TimespanConfig."
        },
        "sampleMethod": {
          "enum": [
            "SAMPLE_METHOD_UNSPECIFIED",
            "TOP",
            "RANDOM_START"
          ],
          "enumDescriptions": [
            "No sampling.",
            "Scan groups of rows in the order BigQuery provides (default). Multiple groups of rows may be scanned in parallel, so results may not appear in the same order the rows are read.",
            "Randomly pick groups of rows to scan."
          ],
          "description": "How to sample the data.",
          "type": "string"
        },
        "tableReference": {
          "description": "Complete BigQuery table reference.",
          "$ref": "GooglePrivacyDlpV2BigQueryTable"
        },
        "rowsLimitPercent": {
          "format": "int32",
          "description": "Max percentage of rows to scan. The rest are omitted. The number of rows scanned is rounded down. Must be between 0 and 100, inclusively. Both 0 and 100 means no limit. Defaults to 0. Only one of rows_limit and rows_limit_percent can be specified. Cannot be used in conjunction with TimespanConfig. Caution: A [known issue](https://docs.cloud.google.com/sensitive-data-protection/docs/known-issues#bq-sampling) is causing the `rowsLimitPercent` field to behave unexpectedly. We recommend using `rowsLimit` instead.",
          "type": "integer"
        },
        "excludedFields": {
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldId"
          },
          "type": "array",
          "description": "References to fields excluded from scanning. This allows you to skip inspection of entire columns which you know have no findings. When inspecting a table, we recommend that you inspect all columns. Otherwise, findings might be affected because hints from excluded columns will not be used."
        },
        "includedFields": {
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldId"
          },
          "description": "Limit scanning only to these fields. When inspecting a table, we recommend that you inspect all columns. Otherwise, findings might be affected because hints from excluded columns will not be used.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Options defining BigQuery table and row identifiers."
    },
    "GooglePrivacyDlpV2PrimitiveTransformation": {
      "description": "A rule for transforming a value.",
      "properties": {
        "dateShiftConfig": {
          "description": "Date Shift",
          "$ref": "GooglePrivacyDlpV2DateShiftConfig"
        },
        "replaceConfig": {
          "description": "Replace with a specified value.",
          "$ref": "GooglePrivacyDlpV2ReplaceValueConfig"
        },
        "cryptoReplaceFfxFpeConfig": {
          "description": "Ffx-Fpe. Strongly discouraged, consider using CryptoDeterministicConfig instead. Fpe is computationally expensive incurring latency costs.",
          "$ref": "GooglePrivacyDlpV2CryptoReplaceFfxFpeConfig"
        },
        "timePartConfig": {
          "description": "Time extraction",
          "$ref": "GooglePrivacyDlpV2TimePartConfig"
        },
        "fixedSizeBucketingConfig": {
          "description": "Fixed size bucketing",
          "$ref": "GooglePrivacyDlpV2FixedSizeBucketingConfig"
        },
        "bucketingConfig": {
          "$ref": "GooglePrivacyDlpV2BucketingConfig",
          "description": "Bucketing"
        },
        "replaceDictionaryConfig": {
          "description": "Replace with a value randomly drawn (with replacement) from a dictionary.",
          "$ref": "GooglePrivacyDlpV2ReplaceDictionaryConfig"
        },
        "characterMaskConfig": {
          "description": "Mask",
          "$ref": "GooglePrivacyDlpV2CharacterMaskConfig"
        },
        "cryptoHashConfig": {
          "$ref": "GooglePrivacyDlpV2CryptoHashConfig",
          "description": "Crypto"
        },
        "cryptoDeterministicConfig": {
          "$ref": "GooglePrivacyDlpV2CryptoDeterministicConfig",
          "description": "Deterministic Crypto"
        },
        "replaceWithInfoTypeConfig": {
          "description": "Replace with infotype",
          "$ref": "GooglePrivacyDlpV2ReplaceWithInfoTypeConfig"
        },
        "redactConfig": {
          "$ref": "GooglePrivacyDlpV2RedactConfig",
          "description": "Redact"
        }
      },
      "id": "GooglePrivacyDlpV2PrimitiveTransformation",
      "type": "object"
    },
    "GooglePrivacyDlpV2SensitivityLabelMetadata": {
      "id": "GooglePrivacyDlpV2SensitivityLabelMetadata",
      "type": "object",
      "description": "Sensitivity labels published by Microsoft.",
      "properties": {
        "guid": {
          "description": "Required. The GUID of the sensitivity label.",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2ImageRedactionConfig": {
      "id": "GooglePrivacyDlpV2ImageRedactionConfig",
      "type": "object",
      "properties": {
        "infoType": {
          "$ref": "GooglePrivacyDlpV2InfoType",
          "description": "Only one per info_type should be provided per request. If not specified, and redact_all_text is false, the DLP API will redact all text that it matches against all info_types that are found, but not specified in another ImageRedactionConfig."
        },
        "redactAllText": {
          "description": "If true, all text found in the image, regardless whether it matches an info_type, is redacted. Only one should be provided.",
          "type": "boolean"
        },
        "redactionColor": {
          "description": "The color to use when redacting content from an image. If not specified, the default is black.",
          "$ref": "GooglePrivacyDlpV2Color"
        }
      },
      "description": "Configuration for determining how redaction of images should occur."
    },
    "GooglePrivacyDlpV2RecordKey": {
      "id": "GooglePrivacyDlpV2RecordKey",
      "type": "object",
      "properties": {
        "bigQueryKey": {
          "description": "Datastore key",
          "$ref": "GooglePrivacyDlpV2BigQueryKey"
        },
        "idValues": {
          "type": "array",
          "description": "Values of identifying columns in the given row. Order of values matches the order of `identifying_fields` specified in the scanning request.",
          "items": {
            "type": "string"
          }
        },
        "datastoreKey": {
          "$ref": "GooglePrivacyDlpV2DatastoreKey",
          "description": "BigQuery key"
        }
      },
      "description": "Message for a unique key indicating a record that contains a finding."
    },
    "GooglePrivacyDlpV2QuasiId": {
      "properties": {
        "field": {
          "description": "Required. Identifies the column.",
          "$ref": "GooglePrivacyDlpV2FieldId"
        },
        "customTag": {
          "type": "string",
          "description": "A column can be tagged with a custom tag. In this case, the user must indicate an auxiliary table that contains statistical information on the possible values of this column."
        },
        "inferred": {
          "$ref": "GoogleProtobufEmpty",
          "description": "If no semantic tag is indicated, we infer the statistical model from the distribution of values in the input data"
        },
        "infoType": {
          "$ref": "GooglePrivacyDlpV2InfoType",
          "description": "A column can be tagged with a InfoType to use the relevant public dataset as a statistical model of population, if available. We currently support US ZIP codes, region codes, ages and genders. To programmatically obtain the list of supported InfoTypes, use ListInfoTypes with the supported_by=RISK_ANALYSIS filter."
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2QuasiId",
      "description": "A column with a semantic tag attached."
    },
    "GooglePrivacyDlpV2PublishToStackdriver": {
      "properties": {},
      "description": "Enable Stackdriver metric dlp.googleapis.com/finding_count. This will publish a metric to stack driver on each infotype requested and how many findings were found for it. CustomDetectors will be bucketed as 'Custom' under the Stackdriver label 'info_type'.",
      "type": "object",
      "id": "GooglePrivacyDlpV2PublishToStackdriver"
    },
    "GooglePrivacyDlpV2TableReference": {
      "id": "GooglePrivacyDlpV2TableReference",
      "description": "Message defining the location of a BigQuery table with the projectId inferred from the parent project.",
      "type": "object",
      "properties": {
        "tableId": {
          "description": "Name of the table.",
          "type": "string"
        },
        "datasetId": {
          "description": "Dataset ID of the table.",
          "type": "string"
        },
        "projectId": {
          "description": "The Google Cloud project ID of the project containing the table. If omitted, the project ID is inferred from the parent project. This field is required if the parent resource is an organization.",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2BatchContentItem": {
      "description": "Represents a batch of content to inspect or redact.",
      "id": "GooglePrivacyDlpV2BatchContentItem",
      "type": "object",
      "properties": {
        "stringValueBatch": {
          "description": "Optional. Represents a batch of string values to inspect or redact.",
          "$ref": "GooglePrivacyDlpV2StringValueBatch"
        }
      }
    },
    "GooglePrivacyDlpV2PubSubExpressions": {
      "type": "object",
      "id": "GooglePrivacyDlpV2PubSubExpressions",
      "description": "An expression, consisting of an operator and conditions.",
      "properties": {
        "conditions": {
          "items": {
            "$ref": "GooglePrivacyDlpV2PubSubCondition"
          },
          "description": "Conditions to apply to the expression.",
          "type": "array"
        },
        "logicalOperator": {
          "type": "string",
          "description": "The operator to apply to the collection of conditions.",
          "enumDescriptions": [
            "Unused.",
            "Conditional OR.",
            "Conditional AND."
          ],
          "enum": [
            "LOGICAL_OPERATOR_UNSPECIFIED",
            "OR",
            "AND"
          ]
        }
      }
    },
    "GooglePrivacyDlpV2Value": {
      "properties": {
        "dayOfWeekValue": {
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "description": "day of week",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "type": "string"
        },
        "timestampValue": {
          "description": "timestamp",
          "format": "google-datetime",
          "type": "string"
        },
        "timeValue": {
          "description": "time of day",
          "$ref": "GoogleTypeTimeOfDay"
        },
        "floatValue": {
          "format": "double",
          "type": "number",
          "description": "float"
        },
        "integerValue": {
          "description": "integer",
          "type": "string",
          "format": "int64"
        },
        "booleanValue": {
          "type": "boolean",
          "description": "boolean"
        },
        "dateValue": {
          "$ref": "GoogleTypeDate",
          "description": "date"
        },
        "stringValue": {
          "description": "string",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2Value",
      "description": "Set of primitive values supported by the system. Note that for the purposes of inspection or transformation, the number of bytes considered to comprise a 'Value' is based on its representation as a UTF-8 encoded string. For example, if 'integer_value' is set to 123456789, the number of bytes would be counted as 9, even though an int64 only holds up to 8 bytes of data.",
      "type": "object"
    },
    "GooglePrivacyDlpV2StoredInfoTypeConfig": {
      "properties": {
        "description": {
          "description": "Description of the StoredInfoType (max 256 characters).",
          "type": "string"
        },
        "regex": {
          "$ref": "GooglePrivacyDlpV2Regex",
          "description": "Store regular expression-based StoredInfoType."
        },
        "dictionary": {
          "description": "Store dictionary-based CustomInfoType.",
          "$ref": "GooglePrivacyDlpV2Dictionary"
        },
        "largeCustomDictionary": {
          "description": "StoredInfoType where findings are defined by a dictionary of phrases.",
          "$ref": "GooglePrivacyDlpV2LargeCustomDictionaryConfig"
        },
        "displayName": {
          "type": "string",
          "description": "Display name of the StoredInfoType (max 256 characters)."
        }
      },
      "description": "Configuration for stored infoTypes. All fields and subfield are provided by the user. For more information, see https://docs.cloud.google.com/sensitive-data-protection/docs/creating-custom-infotypes.",
      "id": "GooglePrivacyDlpV2StoredInfoTypeConfig",
      "type": "object"
    },
    "GooglePrivacyDlpV2ConversationMessage": {
      "description": "Single message in a conversation.",
      "type": "object",
      "id": "GooglePrivacyDlpV2ConversationMessage",
[...]
