{
  "documentationLink": "https://cloud.google.com/sensitive-data-protection/docs/",
  "baseUrl": "https://dlp.googleapis.com/",
  "ownerName": "Google",
  "version_module": true,
  "revision": "20260815",
  "basePath": "",
  "id": "dlp:v2",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "v2",
  "description": "Discover and protect your sensitive data. A fully managed service designed to help you discover, classify, and protect your valuable data assets with ease.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "rootUrl": "https://dlp.googleapis.com/",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "name": "dlp",
  "discoveryVersion": "v1",
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dlp.africa-south1.rep.googleapis.com/",
      "location": "africa-south1"
    },
    {
      "location": "asia-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dlp.asia-east1.rep.googleapis.com/"
    },
    {
      "location": "asia-east2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dlp.asia-east2.rep.googleapis.com/"
    },
    {
      "location": "asia-northeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dlp.asia-northeast1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dlp.asia-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast2"
    },
    {
      "location": "asia-northeast3",
      "endpointUrl": "https://dlp.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dlp.asia-south1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dlp.asia-south2.rep.googleapis.com/",
      "location": "asia-south2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dlp.asia-southeast1.rep.googleapis.com/",
      "location": "asia-southeast1"
    },
    {
      "location": "asia-southeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dlp.asia-southeast2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dlp.asia-southeast3.rep.googleapis.com/",
      "location": "asia-southeast3"
    },
    {
      "endpointUrl": "https://dlp.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "australia-southeast1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dlp.australia-southeast2.rep.googleapis.com/",
      "location": "australia-southeast2"
    },
    {
      "location": "europe-central2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dlp.europe-central2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dlp.europe-north1.rep.googleapis.com/",
      "location": "europe-north1"
    },
    {
      "endpointUrl": "https://dlp.europe-north2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-north2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dlp.europe-southwest1.rep.googleapis.com/",
      "location": "europe-southwest1"
    },
    {
      "location": "europe-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dlp.europe-west1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dlp.europe-west10.rep.googleapis.com/",
      "location": "europe-west10"
    },
    {
      "location": "europe-west12",
      "endpointUrl": "https://dlp.europe-west12.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dlp.europe-west2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dlp.europe-west3.rep.googleapis.com/",
      "location": "europe-west3"
    },
    {
      "location": "europe-west4",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dlp.europe-west4.rep.googleapis.com/"
    },
    {
      "location": "europe-west6",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dlp.europe-west6.rep.googleapis.com/"
    },
    {
      "location": "europe-west8",
      "endpointUrl": "https://dlp.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west9",
      "endpointUrl": "https://dlp.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "me-central1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dlp.me-central1.rep.googleapis.com/"
    },
    {
      "location": "me-central2",
      "endpointUrl": "https://dlp.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "me-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dlp.me-west1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dlp.northamerica-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-northeast1"
    },
    {
      "location": "northamerica-northeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dlp.northamerica-northeast2.rep.googleapis.com/"
    },
    {
      "location": "northamerica-south1",
      "endpointUrl": "https://dlp.northamerica-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "southamerica-east1",
      "endpointUrl": "https://dlp.southamerica-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "southamerica-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dlp.southamerica-west1.rep.googleapis.com/"
    },
    {
      "location": "us-central1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dlp.us-central1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dlp.us-central2.rep.googleapis.com/",
      "location": "us-central2"
    },
    {
      "location": "us-east1",
      "endpointUrl": "https://dlp.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east4",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dlp.us-east4.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dlp.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east5"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dlp.us-south1.rep.googleapis.com/",
      "location": "us-south1"
    },
    {
      "location": "us-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dlp.us-west1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dlp.us-west2.rep.googleapis.com/",
      "location": "us-west2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dlp.us-west3.rep.googleapis.com/",
      "location": "us-west3"
    },
    {
      "location": "us-west4",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dlp.us-west4.rep.googleapis.com/"
    },
    {
      "location": "us-west8",
      "endpointUrl": "https://dlp.us-west8.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us",
      "endpointUrl": "https://dlp.us.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dlp.eu.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "eu"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dlp.in.rep.googleapis.com/",
      "location": "in"
    }
  ],
  "title": "Sensitive Data Protection (DLP)",
  "resources": {
    "projects": {
      "resources": {
        "inspectTemplates": {
          "methods": {
            "get": {
              "id": "dlp.projects.inspectTemplates.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Resource name of the organization and inspectTemplate to be read, for example `organizations/433245324/inspectTemplates/432452342` or projects/project-id/inspectTemplates/432452342.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/inspectTemplates/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets an InspectTemplate. See https://docs.cloud.google.com/sensitive-data-protection/docs/creating-templates to learn more.",
              "path": "v2/{+name}",
              "flatPath": "v2/projects/{projectsId}/inspectTemplates/{inspectTemplatesId}",
              "response": {
                "$ref": "GooglePrivacyDlpV2InspectTemplate"
              }
            },
            "patch": {
              "path": "v2/{+name}",
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "description": "Updates the InspectTemplate. See https://docs.cloud.google.com/sensitive-data-protection/docs/creating-templates to learn more.",
              "parameters": {
                "name": {
                  "description": "Required. Resource name of organization and inspectTemplate to be updated, for example `organizations/433245324/inspectTemplates/432452342` or projects/project-id/inspectTemplates/432452342.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/inspectTemplates/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "id": "dlp.projects.inspectTemplates.patch",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GooglePrivacyDlpV2InspectTemplate"
              },
              "flatPath": "v2/projects/{projectsId}/inspectTemplates/{inspectTemplatesId}",
              "request": {
                "$ref": "GooglePrivacyDlpV2UpdateInspectTemplateRequest"
              }
            },
            "list": {
              "id": "dlp.projects.inspectTemplates.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v2/{+parent}/inspectTemplates",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "Size of the page. This value can be limited by the server. If zero server returns a page of max size 100.",
                  "type": "integer"
                },
                "orderBy": {
                  "description": "Comma-separated list of fields to order by, followed by `asc` or `desc` postfix. This list is case insensitive. The default sorting order is ascending. Redundant space characters are insignificant. Example: `name asc,update_time, create_time desc` Supported fields are: - `create_time`: corresponds to the time the template was created. - `update_time`: corresponds to the time the template was last updated. - `name`: corresponds to the template's name. - `display_name`: corresponds to the template's display name.",
                  "type": "string",
                  "location": "query"
                },
                "locationId": {
                  "description": "Deprecated. This field has no effect.",
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Page token to continue retrieval. Comes from the previous call to `ListInspectTemplates`.",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "description": "Required. Parent resource name. The format of this value varies depending on the scope of the request (project or organization) and whether you have [specified a processing location](https://docs.cloud.google.com/sensitive-data-protection/docs/specifying-location): + Projects scope, location specified: `projects/{project_id}/locations/{location_id}` + Projects scope, no location specified (defaults to global): `projects/{project_id}` + Organizations scope, location specified: `organizations/{org_id}/locations/{location_id}` + Organizations scope, no location specified (defaults to global): `organizations/{org_id}` The following example `parent` string specifies a parent project with the identifier `example-project`, and specifies the `europe-west3` location for processing data: parent=projects/example-project/locations/europe-west3",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists InspectTemplates. See https://docs.cloud.google.com/sensitive-data-protection/docs/creating-templates to learn more.",
              "flatPath": "v2/projects/{projectsId}/inspectTemplates",
              "response": {
                "$ref": "GooglePrivacyDlpV2ListInspectTemplatesResponse"
              }
            },
            "create": {
              "id": "dlp.projects.inspectTemplates.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates an InspectTemplate for reusing frequently used configuration for inspecting content, images, and storage. See https://docs.cloud.google.com/sensitive-data-protection/docs/creating-templates to learn more.",
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. Parent resource name. The format of this value varies depending on the scope of the request (project or organization) and whether you have [specified a processing location](https://docs.cloud.google.com/sensitive-data-protection/docs/specifying-location): + Projects scope, location specified: `projects/{project_id}/locations/{location_id}` + Projects scope, no location specified (defaults to global): `projects/{project_id}` + Organizations scope, location specified: `organizations/{org_id}/locations/{location_id}` + Organizations scope, no location specified (defaults to global): `organizations/{org_id}` The following example `parent` string specifies a parent project with the identifier `example-project`, and specifies the `europe-west3` location for processing data: parent=projects/example-project/locations/europe-west3",
                  "type": "string",
                  "location": "path"
                }
              },
              "path": "v2/{+parent}/inspectTemplates",
              "flatPath": "v2/projects/{projectsId}/inspectTemplates",
              "request": {
                "$ref": "GooglePrivacyDlpV2CreateInspectTemplateRequest"
              },
              "response": {
                "$ref": "GooglePrivacyDlpV2InspectTemplate"
              }
            },
            "delete": {
              "path": "v2/{+name}",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes an InspectTemplate. See https://docs.cloud.google.com/sensitive-data-protection/docs/creating-templates to learn more.",
              "parameters": {
                "name": {
                  "description": "Required. Resource name of the organization and inspectTemplate to be deleted, for example `organizations/433245324/inspectTemplates/432452342` or projects/project-id/inspectTemplates/432452342.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/inspectTemplates/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "id": "dlp.projects.inspectTemplates.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "flatPath": "v2/projects/{projectsId}/inspectTemplates/{inspectTemplatesId}"
            }
          }
        },
        "image": {
          "methods": {
            "redact": {
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "description": "Redacts potentially sensitive info from an image. This method has limits on input size, processing time, and output size. See https://docs.cloud.google.com/sensitive-data-protection/docs/redacting-sensitive-data-images to learn more. When no InfoTypes or CustomInfoTypes are specified in this request, the system will automatically choose what detectors to run. By default this may be all types, but may change over time as detectors are updated. Only the first frame of each multiframe image is redacted. Metadata and other frames are omitted in the response.",
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "description": "Parent resource name. The format of this value varies depending on whether you have [specified a processing location](https://docs.cloud.google.com/sensitive-data-protection/docs/specifying-location): + Projects scope, location specified: `projects/{project_id}/locations/{location_id}` + Projects scope, no location specified (defaults to global): `projects/{project_id}` The following example `parent` string specifies a parent project with the identifier `example-project`, and specifies the `europe-west3` location for processing data: parent=projects/example-project/locations/europe-west3",
                  "type": "string",
                  "location": "path"
                }
              },
              "path": "v2/{+parent}/image:redact",
              "id": "dlp.projects.image.redact",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GooglePrivacyDlpV2RedactImageResponse"
              },
              "flatPath": "v2/projects/{projectsId}/image:redact",
              "request": {
                "$ref": "GooglePrivacyDlpV2RedactImageRequest"
              }
            }
          }
        },
        "locations": {
          "resources": {
            "infoTypes": {
              "methods": {
                "list": {
                  "path": "v2/{+parent}/infoTypes",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Returns a list of the sensitive information types that the DLP API supports. See https://docs.cloud.google.com/sensitive-data-protection/docs/infotypes-reference to learn more.",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "The parent resource name. The format of this value is as follows: `locations/{location_id}`",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "languageCode": {
                      "location": "query",
                      "description": "BCP-47 language code for localized infoType friendly names. If omitted, or if localized strings are not available, en-US strings will be returned.",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "description": "filter to only return infoTypes supported by certain parts of the API. Defaults to supported_by=INSPECT.",
                      "type": "string"
                    },
                    "locationId": {
                      "location": "query",
                      "description": "Deprecated. This field has no effect.",
                      "type": "string"
                    }
                  },
                  "id": "dlp.projects.locations.infoTypes.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GooglePrivacyDlpV2ListInfoTypesResponse"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/infoTypes"
                }
              }
            },
            "deidentifyTemplates": {
              "methods": {
                "create": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/deidentifyTemplates",
                  "request": {
                    "$ref": "GooglePrivacyDlpV2CreateDeidentifyTemplateRequest"
                  },
                  "response": {
                    "$ref": "GooglePrivacyDlpV2DeidentifyTemplate"
                  },
                  "id": "dlp.projects.locations.deidentifyTemplates.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2/{+parent}/deidentifyTemplates",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a DeidentifyTemplate for reusing frequently used configuration for de-identifying content, images, and storage. See https://docs.cloud.google.com/sensitive-data-protection/docs/creating-templates-deid to learn more.",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Parent resource name. The format of this value varies depending on the scope of the request (project or organization) and whether you have [specified a processing location](https://docs.cloud.google.com/sensitive-data-protection/docs/specifying-location): + Projects scope, location specified: `projects/{project_id}/locations/{location_id}` + Projects scope, no location specified (defaults to global): `projects/{project_id}` + Organizations scope, location specified: `organizations/{org_id}/locations/{location_id}` + Organizations scope, no location specified (defaults to global): `organizations/{org_id}` The following example `parent` string specifies a parent project with the identifier `example-project`, and specifies the `europe-west3` location for processing data: parent=projects/example-project/locations/europe-west3",
                      "type": "string",
                      "required": true
                    }
                  }
                },
                "delete": {
                  "id": "dlp.projects.locations.deidentifyTemplates.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/deidentifyTemplates/[^/]+$",
                      "description": "Required. Resource name of the organization and deidentify template to be deleted, for example `organizations/433245324/deidentifyTemplates/432452342` or projects/project-id/deidentifyTemplates/432452342.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a DeidentifyTemplate. See https://docs.cloud.google.com/sensitive-data-protection/docs/creating-templates-deid to learn more.",
                  "path": "v2/{+name}",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/deidentifyTemplates/{deidentifyTemplatesId}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  }
                },
                "patch": {
                  "id": "dlp.projects.locations.deidentifyTemplates.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. Resource name of organization and deidentify template to be updated, for example `organizations/433245324/deidentifyTemplates/432452342` or projects/project-id/deidentifyTemplates/432452342.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/deidentifyTemplates/[^/]+$",
                      "location": "path"
                    }
                  },
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates the DeidentifyTemplate. See https://docs.cloud.google.com/sensitive-data-protection/docs/creating-templates-deid to learn more.",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/deidentifyTemplates/{deidentifyTemplatesId}",
                  "request": {
                    "$ref": "GooglePrivacyDlpV2UpdateDeidentifyTemplateRequest"
                  },
                  "response": {
                    "$ref": "GooglePrivacyDlpV2DeidentifyTemplate"
                  }
                },
                "list": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/deidentifyTemplates",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2ListDeidentifyTemplatesResponse"
                  },
                  "id": "dlp.projects.locations.deidentifyTemplates.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists DeidentifyTemplates. See https://docs.cloud.google.com/sensitive-data-protection/docs/creating-templates-deid to learn more.",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Parent resource name. The format of this value varies depending on the scope of the request (project or organization) and whether you have [specified a processing location](https://docs.cloud.google.com/sensitive-data-protection/docs/specifying-location): + Projects scope, location specified: `projects/{project_id}/locations/{location_id}` + Projects scope, no location specified (defaults to global): `projects/{project_id}` + Organizations scope, location specified: `organizations/{org_id}/locations/{location_id}` + Organizations scope, no location specified (defaults to global): `organizations/{org_id}` The following example `parent` string specifies a parent project with the identifier `example-project`, and specifies the `europe-west3` location for processing data: parent=projects/example-project/locations/europe-west3",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "Page token to continue retrieval. Comes from the previous call to `ListDeidentifyTemplates`.",
                      "type": "string",
                      "location": "query"
                    },
                    "orderBy": {
                      "location": "query",
                      "description": "Comma-separated list of fields to order by, followed by `asc` or `desc` postfix. This list is case insensitive. The default sorting order is ascending. Redundant space characters are insignificant. Example: `name asc,update_time, create_time desc` Supported fields are: - `create_time`: corresponds to the time the template was created. - `update_time`: corresponds to the time the template was last updated. - `name`: corresponds to the template's name. - `display_name`: corresponds to the template's display name.",
                      "type": "string"
                    },
                    "locationId": {
                      "description": "Deprecated. This field has no effect.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "Size of the page. This value can be limited by the server. If zero server returns a page of max size 100.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    }
                  },
                  "path": "v2/{+parent}/deidentifyTemplates"
                },
                "get": {
                  "path": "v2/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/deidentifyTemplates/[^/]+$",
                      "description": "Required. Resource name of the organization and deidentify template to be read, for example `organizations/433245324/deidentifyTemplates/432452342` or projects/project-id/deidentifyTemplates/432452342.",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets a DeidentifyTemplate. See https://docs.cloud.google.com/sensitive-data-protection/docs/creating-templates-deid to learn more.",
                  "id": "dlp.projects.locations.deidentifyTemplates.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GooglePrivacyDlpV2DeidentifyTemplate"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/deidentifyTemplates/{deidentifyTemplatesId}"
                }
              }
            },
            "columnDataProfiles": {
              "methods": {
                "get": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/columnDataProfiles/{columnDataProfilesId}",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2ColumnDataProfile"
                  },
                  "id": "dlp.projects.locations.columnDataProfiles.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/columnDataProfiles/[^/]+$",
                      "description": "Required. Resource name, for example `organizations/12345/locations/us/columnDataProfiles/53234423`.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets a column data profile.",
                  "path": "v2/{+name}"
                },
                "list": {
                  "id": "dlp.projects.locations.columnDataProfiles.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2/{+parent}/columnDataProfiles",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists column data profiles for an organization.",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Resource name of the organization or project, for example `organizations/433245324/locations/europe` or `projects/project-id/locations/asia`.",
                      "type": "string",
                      "required": true
                    },
                    "filter": {
                      "location": "query",
                      "description": "Allows filtering. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by `AND` or `OR` logical operators. A sequence of restrictions implicitly uses `AND`. * A restriction has the form of `{field} {operator} {value}`. * Supported fields: - `table_data_profile_name`: The name of the related table data profile - `project_id`: The Google Cloud project ID (REQUIRED) - `dataset_id`: The BigQuery dataset ID (REQUIRED) - `table_id`: The BigQuery table ID (REQUIRED) - `field_id`: The ID of the BigQuery field - `info_type`: The infotype detected in the resource - `sensitivity_level`: HIGH|MEDIUM|LOW - `data_risk_level`: How much risk is associated with this data - `status_code`: An RPC status code as defined in https://github.com/googleapis/googleapis/blob/master/google/rpc/code.proto - `profile_last_generated`: Date and time the profile was last generated * The operator must be `=` for project_id, dataset_id, and table_id. Other filters also support `!=`. The `profile_last_generated` filter also supports `<` and `>`. The syntax is based on https://google.aip.dev/160. Examples: * project_id = 12345 AND status_code = 1 * project_id = 12345 AND sensitivity_level = HIGH * project_id = 12345 AND info_type = STREET_ADDRESS * profile_last_generated < \"2025-01-01T00:00:00.000Z\" The length of this field should be no more than 500 characters.",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "Page token to continue retrieval.",
                      "type": "string",
                      "location": "query"
                    },
                    "orderBy": {
                      "location": "query",
                      "description": "Comma-separated list of fields to order by, followed by `asc` or `desc` postfix. This list is case insensitive. The default sorting order is ascending. Redundant space characters are insignificant. Only one order field at a time is allowed. Examples: * `project_id asc` * `table_id` * `sensitivity_level desc` Supported fields are: - `project_id`: The Google Cloud project ID. - `dataset_id`: The ID of a BigQuery dataset. - `table_id`: The ID of a BigQuery table. - `sensitivity_level`: How sensitive the data in a column is, at most. - `data_risk_level`: How much risk is associated with this data. - `profile_last_generated`: When the profile was last updated in epoch seconds.",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Size of the page. This value can be limited by the server. If zero, server returns a page of max size 100.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/columnDataProfiles",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2ListColumnDataProfilesResponse"
                  }
                }
              }
            },
            "contentPolicies": {
              "methods": {
                "create": {
                  "path": "v2/{+parent}/contentPolicies",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. Parent resource name. The format of this value varies depending on the scope of the request (project or organization): + Projects scope: `projects/{project_id}/locations/{location_id}` + Organizations scope: `organizations/{org_id}/locations/{location_id}`",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    }
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Create a ContentPolicy.",
                  "id": "dlp.projects.locations.contentPolicies.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GooglePrivacyDlpV2ContentPolicy"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/contentPolicies",
                  "request": {
                    "$ref": "GooglePrivacyDlpV2CreateContentPolicyRequest"
                  }
                },
                "delete": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/contentPolicies/{contentPoliciesId}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "id": "dlp.projects.locations.contentPolicies.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "Required. Resource name of the ContentPolicy to be deleted, in the format: `projects/{project}/locations/{location}/contentPolicies/{content_policy}`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/contentPolicies/[^/]+$"
                    }
                  },
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Delete a ContentPolicy."
                },
                "patch": {
                  "response": {
                    "$ref": "GooglePrivacyDlpV2ContentPolicy"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/contentPolicies/{contentPoliciesId}",
                  "request": {
                    "$ref": "GooglePrivacyDlpV2UpdateContentPolicyRequest"
                  },
                  "path": "v2/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. Resource name in the format: `projects/{project}/locations/{location}/contentPolicies/{content_policy}`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/contentPolicies/[^/]+$",
                      "location": "path"
                    }
                  },
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Update a ContentPolicy.",
                  "id": "dlp.projects.locations.contentPolicies.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. Resource name of the organization or project, for example, `organizations/433245324/locations/europe` or `projects/project-id/locations/asia`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. Number of results per page, max 1000.",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. Page token from a previous page to return the next set of results. If set, all other request fields must match the original request.",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists ContentPolicies in a parent.",
                  "path": "v2/{+parent}/contentPolicies",
                  "id": "dlp.projects.locations.contentPolicies.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GooglePrivacyDlpV2ListContentPoliciesResponse"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/contentPolicies"
                },
                "get": {
                  "id": "dlp.projects.locations.contentPolicies.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Get a ContentPolicy.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/contentPolicies/[^/]+$",
                      "description": "Required. Resource name in the format: `projects/{project}/locations/{location}/contentPolicies/{content_policy}`.",
                      "type": "string"
                    }
                  },
                  "path": "v2/{+name}",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/contentPolicies/{contentPoliciesId}",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2ContentPolicy"
                  }
                }
              }
            },
            "storedInfoTypes": {
              "methods": {
                "create": {
                  "id": "dlp.projects.locations.storedInfoTypes.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2/{+parent}/storedInfoTypes",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a pre-built stored infoType to be used for inspection. See https://docs.cloud.google.com/sensitive-data-protection/docs/creating-stored-infotypes to learn more.",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "description": "Required. Parent resource name. The format of this value varies depending on the scope of the request (project or organization) and whether you have [specified a processing location](https://docs.cloud.google.com/sensitive-data-protection/docs/specifying-location): + Projects scope, location specified: `projects/{project_id}/locations/{location_id}` + Projects scope, no location specified (defaults to global): `projects/{project_id}` + Organizations scope, location specified: `organizations/{org_id}/locations/{location_id}` + Organizations scope, no location specified (defaults to global): `organizations/{org_id}` The following example `parent` string specifies a parent project with the identifier `example-project`, and specifies the `europe-west3` location for processing data: parent=projects/example-project/locations/europe-west3",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/storedInfoTypes",
                  "request": {
                    "$ref": "GooglePrivacyDlpV2CreateStoredInfoTypeRequest"
                  },
                  "response": {
                    "$ref": "GooglePrivacyDlpV2StoredInfoType"
                  }
                },
                "delete": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/storedInfoTypes/{storedInfoTypesId}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "id": "dlp.projects.locations.storedInfoTypes.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/storedInfoTypes/[^/]+$",
                      "description": "Required. Resource name of the organization and storedInfoType to be deleted, for example `organizations/433245324/storedInfoTypes/432452342` or projects/project-id/storedInfoTypes/432452342.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a stored infoType. See https://docs.cloud.google.com/sensitive-data-protection/docs/creating-stored-infotypes to learn more.",
                  "path": "v2/{+name}"
                },
                "patch": {
                  "id": "dlp.projects.locations.storedInfoTypes.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/storedInfoTypes/[^/]+$",
                      "description": "Required. Resource name of organization and storedInfoType to be updated, for example `organizations/433245324/storedInfoTypes/432452342` or projects/project-id/storedInfoTypes/432452342.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates the stored infoType by creating a new version. The existing version will continue to be used until the new version is ready. See https://docs.cloud.google.com/sensitive-data-protection/docs/creating-stored-infotypes to learn more.",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/storedInfoTypes/{storedInfoTypesId}",
                  "request": {
                    "$ref": "GooglePrivacyDlpV2UpdateStoredInfoTypeRequest"
                  },
                  "response": {
                    "$ref": "GooglePrivacyDlpV2StoredInfoType"
                  }
                },
                "list": {
                  "id": "dlp.projects.locations.storedInfoTypes.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists stored infoTypes. See https://docs.cloud.google.com/sensitive-data-protection/docs/creating-stored-infotypes to learn more.",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "Size of the page. This value can be limited by the server. If zero server returns a page of max size 100.",
                      "type": "integer"
                    },
                    "orderBy": {
                      "description": "Comma-separated list of fields to order by, followed by `asc` or `desc` postfix. This list is case insensitive. The default sorting order is ascending. Redundant space characters are insignificant. Example: `name asc, display_name, create_time desc` Supported fields are: - `create_time`: corresponds to the time the most recent version of the resource was created. - `state`: corresponds to the state of the resource. - `name`: corresponds to resource name. - `display_name`: corresponds to info type's display name.",
                      "type": "string",
                      "location": "query"
                    },
                    "locationId": {
                      "description": "Deprecated. This field has no effect.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "Page token to continue retrieval. Comes from the previous call to `ListStoredInfoTypes`.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Parent resource name. The format of this value varies depending on the scope of the request (project or organization) and whether you have [specified a processing location](https://docs.cloud.google.com/sensitive-data-protection/docs/specifying-location): + Projects scope, location specified: `projects/{project_id}/locations/{location_id}` + Projects scope, no location specified (defaults to global): `projects/{project_id}` The following example `parent` string specifies a parent project with the identifier `example-project`, and specifies the `europe-west3` location for processing data: parent=projects/example-project/locations/europe-west3",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "path": "v2/{+parent}/storedInfoTypes",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/storedInfoTypes",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2ListStoredInfoTypesResponse"
                  }
                },
                "get": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/storedInfoTypes/{storedInfoTypesId}",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2StoredInfoType"
                  },
                  "id": "dlp.projects.locations.storedInfoTypes.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. Resource name of the organization and storedInfoType to be read, for example `organizations/433245324/storedInfoTypes/432452342` or projects/project-id/storedInfoTypes/432452342.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/storedInfoTypes/[^/]+$",
                      "location": "path"
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets a stored infoType. See https://docs.cloud.google.com/sensitive-data-protection/docs/creating-stored-infotypes to learn more."
                }
              }
            },
            "discoveryConfigs": {
              "methods": {
                "create": {
                  "parameters": {
                    "parent": {
                      "description": "Required. Parent resource name. The format of this value varies depending on the scope of the request (project or organization): + Projects scope: `projects/{project_id}/locations/{location_id}` + Organizations scope: `organizations/{org_id}/locations/{location_id}` The following example `parent` string specifies a parent project with the identifier `example-project`, and specifies the `europe-west3` location for processing data: parent=projects/example-project/locations/europe-west3",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a config for discovery to scan and profile storage.",
                  "path": "v2/{+parent}/discoveryConfigs",
                  "id": "dlp.projects.locations.discoveryConfigs.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GooglePrivacyDlpV2DiscoveryConfig"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/discoveryConfigs",
                  "request": {
                    "$ref": "GooglePrivacyDlpV2CreateDiscoveryConfigRequest"
                  }
                },
                "delete": {
                  "id": "dlp.projects.locations.discoveryConfigs.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2/{+name}",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a discovery configuration.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "Required. Resource name of the project and the config, for example `projects/dlp-test-project/discoveryConfigs/53234423`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/discoveryConfigs/[^/]+$"
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/discoveryConfigs/{discoveryConfigsId}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  }
                },
                "get": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/discoveryConfigs/{discoveryConfigsId}",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2DiscoveryConfig"
                  },
                  "id": "dlp.projects.locations.discoveryConfigs.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/discoveryConfigs/[^/]+$",
                      "description": "Required. Resource name of the project and the configuration, for example `projects/dlp-test-project/discoveryConfigs/53234423`.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets a discovery configuration.",
                  "path": "v2/{+name}"
                },
                "patch": {
                  "path": "v2/{+name}",
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates a discovery configuration.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/discoveryConfigs/[^/]+$",
                      "description": "Required. Resource name of the project and the configuration, for example `projects/dlp-test-project/discoveryConfigs/53234423`.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "id": "dlp.projects.locations.discoveryConfigs.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GooglePrivacyDlpV2DiscoveryConfig"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/discoveryConfigs/{discoveryConfigsId}",
                  "request": {
                    "$ref": "GooglePrivacyDlpV2UpdateDiscoveryConfigRequest"
                  }
                },
                "list": {
                  "id": "dlp.projects.locations.discoveryConfigs.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2/{+parent}/discoveryConfigs",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists discovery configurations.",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Parent resource name. The format of this value is as follows: `projects/{project_id}/locations/{location_id}` The following example `parent` string specifies a parent project with the identifier `example-project`, and specifies the `europe-west3` location for processing data: parent=projects/example-project/locations/europe-west3",
                      "type": "string",
                      "location": "path"
                    },
                    "orderBy": {
                      "location": "query",
                      "description": "Comma-separated list of config fields to order by, followed by `asc` or `desc` postfix. This list is case insensitive. The default sorting order is ascending. Redundant space characters are insignificant. Example: `name asc,update_time, create_time desc` Supported fields are: - `last_run_time`: corresponds to the last time the DiscoveryConfig ran. - `name`: corresponds to the DiscoveryConfig's name. - `status`: corresponds to DiscoveryConfig's status.",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "Size of the page. This value can be limited by a server.",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Page token to continue retrieval. Comes from the previous call to ListDiscoveryConfigs. `order_by` field must not change for subsequent calls.",
                      "type": "string"
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/discoveryConfigs",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2ListDiscoveryConfigsResponse"
                  }
                }
              }
            },
            "fileStoreDataProfiles": {
              "methods": {
                "delete": {
                  "id": "dlp.projects.locations.fileStoreDataProfiles.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2/{+name}",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Delete a FileStoreDataProfile. Will not prevent the profile from being regenerated if the resource is still included in a discovery configuration.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/fileStoreDataProfiles/[^/]+$",
                      "description": "Required. Resource name of the file store data profile.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/fileStoreDataProfiles/{fileStoreDataProfilesId}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  }
                },
                "get": {
                  "response": {
                    "$ref": "GooglePrivacyDlpV2FileStoreDataProfile"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/fileStoreDataProfiles/{fileStoreDataProfilesId}",
                  "path": "v2/{+name}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets a file store data profile.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. Resource name, for example `organizations/12345/locations/us/fileStoreDataProfiles/53234423`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/fileStoreDataProfiles/[^/]+$",
                      "location": "path"
                    }
                  },
                  "id": "dlp.projects.locations.fileStoreDataProfiles.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/fileStoreDataProfiles",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2ListFileStoreDataProfilesResponse"
                  },
                  "id": "dlp.projects.locations.fileStoreDataProfiles.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2/{+parent}/fileStoreDataProfiles",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists file store data profiles for an organization.",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Resource name of the organization or project, for example `organizations/433245324/locations/europe` or `projects/project-id/locations/asia`.",
                      "type": "string",
                      "required": true
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. Allows filtering. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by `AND` or `OR` logical operators. A sequence of restrictions implicitly uses `AND`. * A restriction has the form of `{field} {operator} {value}`. * Supported fields: - `project_id`: The Google Cloud project ID - `account_id`: The AWS account ID - `file_store_path`: The path like \"gs://bucket\" - `data_source_type`: The profile's data source type, like \"google/storage/bucket\" - `data_storage_location`: The location where the file store's data is stored, like \"us-central1\" - `sensitivity_level`: HIGH|MODERATE|LOW - `data_risk_level`: HIGH|MODERATE|LOW - `resource_visibility`: PUBLIC|RESTRICTED - `status_code`: an RPC status code as defined in https://github.com/googleapis/googleapis/blob/master/google/rpc/code.proto - `profile_last_generated`: Date and time the profile was last generated * The operator must be `=` or `!=`. The `profile_last_generated` filter also supports `<` and `>`. The syntax is based on https://google.aip.dev/160. Examples: * `project_id = 12345 AND status_code = 1` * `project_id = 12345 AND sensitivity_level = HIGH` * `project_id = 12345 AND resource_visibility = PUBLIC` * `file_store_path = \"gs://mybucket\"` * `profile_last_generated < \"2025-01-01T00:00:00.000Z\"` The length of this field should be no more than 500 characters.",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "Optional. Page token to continue retrieval.",
                      "type": "string",
                      "location": "query"
                    },
                    "orderBy": {
                      "location": "query",
                      "description": "Optional. Comma-separated list of fields to order by, followed by `asc` or `desc` postfix. This list is case insensitive. The default sorting order is ascending. Redundant space characters are insignificant. Only one order field at a time is allowed. Examples: * `project_id asc` * `name` * `sensitivity_level desc` Supported fields are: - `project_id`: The Google Cloud project ID. - `sensitivity_level`: How sensitive the data in a table is, at most. - `data_risk_level`: How much risk is associated with this data. - `profile_last_generated`: When the profile was last updated in epoch seconds. - `last_modified`: The last time the resource was modified. - `resource_visibility`: Visibility restriction for this resource. - `name`: The name of the profile. - `create_time`: The time the file store was first created.",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. Size of the page. This value can be limited by the server. If zero, server returns a page of max size 100.",
                      "type": "integer"
                    }
                  }
                }
              }
            },
            "inspectTemplates": {
              "methods": {
                "create": {
                  "path": "v2/{+parent}/inspectTemplates",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Parent resource name. The format of this value varies depending on the scope of the request (project or organization) and whether you have [specified a processing location](https://docs.cloud.google.com/sensitive-data-protection/docs/specifying-location): + Projects scope, location specified: `projects/{project_id}/locations/{location_id}` + Projects scope, no location specified (defaults to global): `projects/{project_id}` + Organizations scope, location specified: `organizations/{org_id}/locations/{location_id}` + Organizations scope, no location specified (defaults to global): `organizations/{org_id}` The following example `parent` string specifies a parent project with the identifier `example-project`, and specifies the `europe-west3` location for processing data: parent=projects/example-project/locations/europe-west3",
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates an InspectTemplate for reusing frequently used configuration for inspecting content, images, and storage. See https://docs.cloud.google.com/sensitive-data-protection/docs/creating-templates to learn more.",
                  "id": "dlp.projects.locations.inspectTemplates.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GooglePrivacyDlpV2InspectTemplate"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/inspectTemplates",
                  "request": {
                    "$ref": "GooglePrivacyDlpV2CreateInspectTemplateRequest"
                  }
                },
                "delete": {
                  "id": "dlp.projects.locations.inspectTemplates.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/inspectTemplates/[^/]+$",
                      "description": "Required. Resource name of the organization and inspectTemplate to be deleted, for example `organizations/433245324/inspectTemplates/432452342` or projects/project-id/inspectTemplates/432452342.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes an InspectTemplate. See https://docs.cloud.google.com/sensitive-data-protection/docs/creating-templates to learn more.",
                  "path": "v2/{+name}",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/inspectTemplates/{inspectTemplatesId}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  }
                },
                "patch": {
                  "path": "v2/{+name}",
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates the InspectTemplate. See https://docs.cloud.google.com/sensitive-data-protection/docs/creating-templates to learn more.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/inspectTemplates/[^/]+$",
                      "description": "Required. Resource name of organization and inspectTemplate to be updated, for example `organizations/433245324/inspectTemplates/432452342` or projects/project-id/inspectTemplates/432452342.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "id": "dlp.projects.locations.inspectTemplates.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GooglePrivacyDlpV2InspectTemplate"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/inspectTemplates/{inspectTemplatesId}",
                  "request": {
                    "$ref": "GooglePrivacyDlpV2UpdateInspectTemplateRequest"
                  }
                },
                "list": {
                  "id": "dlp.projects.locations.inspectTemplates.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2/{+parent}/inspectTemplates",
                  "parameters": {
                    "pageSize": {
                      "description": "Size of the page. This value can be limited by the server. If zero server returns a page of max size 100.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "orderBy": {
                      "description": "Comma-separated list of fields to order by, followed by `asc` or `desc` postfix. This list is case insensitive. The default sorting order is ascending. Redundant space characters are insignificant. Example: `name asc,update_time, create_time desc` Supported fields are: - `create_time`: corresponds to the time the template was created. - `update_time`: corresponds to the time the template was last updated. - `name`: corresponds to the template's name. - `display_name`: corresponds to the template's display name.",
                      "type": "string",
                      "location": "query"
                    },
                    "locationId": {
                      "location": "query",
                      "description": "Deprecated. This field has no effect.",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "Page token to continue retrieval. Comes from the previous call to `ListInspectTemplates`.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Parent resource name. The format of this value varies depending on the scope of the request (project or organization) and whether you have [specified a processing location](https://docs.cloud.google.com/sensitive-data-protection/docs/specifying-location): + Projects scope, location specified: `projects/{project_id}/locations/{location_id}` + Projects scope, no location specified (defaults to global): `projects/{project_id}` + Organizations scope, location specified: `organizations/{org_id}/locations/{location_id}` + Organizations scope, no location specified (defaults to global): `organizations/{org_id}` The following example `parent` string specifies a parent project with the identifier `example-project`, and specifies the `europe-west3` location for processing data: parent=projects/example-project/locations/europe-west3",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists InspectTemplates. See https://docs.cloud.google.com/sensitive-data-protection/docs/creating-templates to learn more.",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/inspectTemplates",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2ListInspectTemplatesResponse"
                  }
                },
                "get": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets an InspectTemplate. See https://docs.cloud.google.com/sensitive-data-protection/docs/creating-templates to learn more.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. Resource name of the organization and inspectTemplate to be read, for example `organizations/433245324/inspectTemplates/432452342` or projects/project-id/inspectTemplates/432452342.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/inspectTemplates/[^/]+$",
                      "required": true
                    }
                  },
                  "path": "v2/{+name}",
                  "id": "dlp.projects.locations.inspectTemplates.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GooglePrivacyDlpV2InspectTemplate"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/inspectTemplates/{inspectTemplatesId}"
                }
              }
            },
            "connections": {
              "methods": {
                "create": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections",
                  "request": {
                    "$ref": "GooglePrivacyDlpV2CreateConnectionRequest"
                  },
                  "response": {
                    "$ref": "GooglePrivacyDlpV2Connection"
                  },
                  "id": "dlp.projects.locations.connections.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Create a Connection to an external data source.",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. Parent resource name. The format of this value varies depending on the scope of the request (project or organization): + Projects scope: `projects/{project_id}/locations/{location_id}` + Organizations scope: `organizations/{org_id}/locations/{location_id}`",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "path": "v2/{+parent}/connections"
                },
                "delete": {
                  "id": "dlp.projects.locations.connections.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2/{+name}",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Delete a Connection.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "Required. Resource name of the Connection to be deleted, in the format: `projects/{project}/locations/{location}/connections/{connection}`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$"
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  }
                },
                "get": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2Connection"
                  },
                  "id": "dlp.projects.locations.connections.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. Resource name in the format: `projects/{project}/locations/{location}/connections/{connection}`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "location": "path"
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Get a Connection by name.",
                  "path": "v2/{+name}"
                },
                "list": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2ListConnectionsResponse"
                  },
                  "id": "dlp.projects.locations.connections.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2/{+parent}/connections",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists Connections in a parent. Use SearchConnections to see all connections within an organization.",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. Resource name of the organization or project, for example, `organizations/433245324/locations/europe` or `projects/project-id/locations/asia`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "filter": {
                      "description": "Optional. Supported field/value: `state` - MISSING|AVAILABLE|ERROR The syntax is based on https://google.aip.dev/160.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "Optional. Number of results per page, max 1000.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "Optional. Page token from a previous page to return the next set of results. If set, all other request fields must match the original request.",
                      "type": "string",
                      "location": "query"
                    }
                  }
                },
                "patch": {
                  "path": "v2/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "description": "Required. Resource name in the format: `projects/{project}/locations/{location}/connections/{connection}`.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Update a Connection.",
                  "id": "dlp.projects.locations.connections.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GooglePrivacyDlpV2Connection"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}",
                  "request": {
                    "$ref": "GooglePrivacyDlpV2UpdateConnectionRequest"
                  }
                },
                "search": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections:search",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2SearchConnectionsResponse"
                  },
                  "id": "dlp.projects.locations.connections.search",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. Number of results per page, max 1000.",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. Page token from a previous page to return the next set of results. If set, all other request fields must match the original request.",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Resource name of the organization or project with a wildcard location, for example, `organizations/433245324/locations/-` or `projects/project-id/locations/-`.",
                      "type": "string",
                      "location": "path"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. Supported field/value: - `state` - MISSING|AVAILABLE|ERROR The syntax is based on https://google.aip.dev/160.",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Searches for Connections in a parent.",
                  "path": "v2/{+parent}/connections:search"
                }
              }
            },
            "image": {
              "methods": {
                "redact": {
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Parent resource name. The format of this value varies depending on whether you have [specified a processing location](https://docs.cloud.google.com/sensitive-data-protection/docs/specifying-location): + Projects scope, location specified: `projects/{project_id}/locations/{location_id}` + Projects scope, no location specified (defaults to global): `projects/{project_id}` The following example `parent` string specifies a parent project with the identifier `example-project`, and specifies the `europe-west3` location for processing data: parent=projects/example-project/locations/europe-west3",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    }
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Redacts potentially sensitive info from an image. This method has limits on input size, processing time, and output size. See https://docs.cloud.google.com/sensitive-data-protection/docs/redacting-sensitive-data-images to learn more. When no InfoTypes or CustomInfoTypes are specified in this request, the system will automatically choose what detectors to run. By default this may be all types, but may change over time as detectors are updated. Only the first frame of each multiframe image is redacted. Metadata and other frames are omitted in the response.",
                  "path": "v2/{+parent}/image:redact",
                  "id": "dlp.projects.locations.image.redact",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GooglePrivacyDlpV2RedactImageResponse"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/image:redact",
                  "request": {
                    "$ref": "GooglePrivacyDlpV2RedactImageRequest"
                  }
                }
              }
            },
            "content": {
              "methods": {
                "deidentify": {
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Parent resource name. The format of this value varies depending on whether you have [specified a processing location](https://docs.cloud.google.com/sensitive-data-protection/docs/specifying-location): + Projects scope, location specified: `projects/{project_id}/locations/{location_id}` + Projects scope, no location specified (defaults to global): `projects/{project_id}` The following example `parent` string specifies a parent project with the identifier `example-project`, and specifies the `europe-west3` location for processing data: parent=projects/example-project/locations/europe-west3",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "De-identifies potentially sensitive info from a ContentItem. This method has limits on input size and output size. See https://docs.cloud.google.com/sensitive-data-protection/docs/deidentify-sensitive-data to learn more. When no InfoTypes or CustomInfoTypes are specified in this request, the system will automatically choose what detectors to run. By default this may be all types, but may change over time as detectors are updated.",
                  "path": "v2/{+parent}/content:deidentify",
                  "id": "dlp.projects.locations.content.deidentify",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GooglePrivacyDlpV2DeidentifyContentResponse"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/content:deidentify",
                  "request": {
                    "$ref": "GooglePrivacyDlpV2DeidentifyContentRequest"
                  }
                },
                "inspect": {
                  "path": "v2/{+parent}/content:inspect",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Parent resource name. The format of this value varies depending on whether you have [specified a processing location](https://docs.cloud.google.com/sensitive-data-protection/docs/specifying-location): + Projects scope, location specified: `projects/{project_id}/locations/{location_id}` + Projects scope, no location specified (defaults to global): `projects/{project_id}` The following example `parent` string specifies a parent project with the identifier `example-project`, and specifies the `europe-west3` location for processing data: parent=projects/example-project/locations/europe-west3",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    }
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Finds potentially sensitive info in content. This method has limits on input size, processing time, and output size. When no InfoTypes or CustomInfoTypes are specified in this request, the system will automatically choose what detectors to run. By default this may be all types, but may change over time as detectors are updated. For how to guides, see https://docs.cloud.google.com/sensitive-data-protection/docs/inspecting-images and https://docs.cloud.google.com/sensitive-data-protection/docs/inspecting-text,",
                  "id": "dlp.projects.locations.content.inspect",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GooglePrivacyDlpV2InspectContentResponse"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/content:inspect",
                  "request": {
                    "$ref": "GooglePrivacyDlpV2InspectContentRequest"
                  }
                },
                "reidentify": {
                  "id": "dlp.projects.locations.content.reidentify",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Re-identifies content that has been de-identified. See https://docs.cloud.google.com/sensitive-data-protection/docs/pseudonymization#re-identification_in_free_text_code_example to learn more.",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Parent resource name. The format of this value varies depending on whether you have [specified a processing location](https://docs.cloud.google.com/sensitive-data-protection/docs/specifying-location): + Projects scope, location specified: `projects/{project_id}/locations/{location_id}` + Projects scope, no location specified (defaults to global): `projects/{project_id}` The following example `parent` string specifies a parent project with the identifier `example-project`, and specifies the `europe-west3` location for processing data: parent=projects/example-project/locations/europe-west3",
                      "type": "string"
                    }
                  },
                  "path": "v2/{+parent}/content:reidentify",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/content:reidentify",
                  "request": {
                    "$ref": "GooglePrivacyDlpV2ReidentifyContentRequest"
                  },
                  "response": {
                    "$ref": "GooglePrivacyDlpV2ReidentifyContentResponse"
                  }
                }
              }
            },
            "projectDataProfiles": {
              "methods": {
                "list": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/projectDataProfiles",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2ListProjectDataProfilesResponse"
                  },
                  "id": "dlp.projects.locations.projectDataProfiles.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2/{+parent}/projectDataProfiles",
                  "parameters": {
                    "orderBy": {
                      "location": "query",
                      "description": "Comma-separated list of fields to order by, followed by `asc` or `desc` postfix. This list is case insensitive. The default sorting order is ascending. Redundant space characters are insignificant. Only one order field at a time is allowed. Examples: * `project_id` * `sensitivity_level desc` Supported fields: - `project_id`: Google Cloud project ID - `sensitivity_level`: How sensitive the data in a project is, at most - `data_risk_level`: How much risk is associated with this data - `profile_last_generated`: Date and time (in epoch seconds) the profile was last generated",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "Size of the page. This value can be limited by the server. If zero, server returns a page of max size 100.",
                      "type": "integer"
                    },
                    "filter": {
[...]
