{
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    }
  },
  "documentationLink": "https://cloud.google.com/sensitive-data-protection/docs/",
  "batchPath": "batch",
  "mtlsRootUrl": "https://dlp.mtls.googleapis.com/",
  "id": "dlp:v2",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version_module": true,
  "basePath": "",
  "revision": "20260825",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "baseUrl": "https://dlp.googleapis.com/",
  "title": "Sensitive Data Protection (DLP)",
  "schemas": {
    "GooglePrivacyDlpV2ColumnDataProfile": {
      "id": "GooglePrivacyDlpV2ColumnDataProfile",
      "description": "The profile for a scanned column within a table.",
      "properties": {
        "name": {
          "description": "The name of the profile.",
          "type": "string"
        },
        "tableId": {
          "type": "string",
          "description": "The table ID."
        },
        "columnInfoType": {
          "description": "If it's been determined this column can be identified as a single type, this will be set. Otherwise the column either has unidentifiable content or mixed types.",
          "$ref": "GooglePrivacyDlpV2InfoTypeSummary"
        },
        "column": {
          "description": "The name of the column.",
          "type": "string"
        },
        "dataRiskLevel": {
          "description": "The data risk level for this column.",
          "$ref": "GooglePrivacyDlpV2DataRiskLevel"
        },
        "estimatedNullPercentage": {
          "enum": [
            "NULL_PERCENTAGE_LEVEL_UNSPECIFIED",
            "NULL_PERCENTAGE_VERY_LOW",
            "NULL_PERCENTAGE_LOW",
            "NULL_PERCENTAGE_MEDIUM",
            "NULL_PERCENTAGE_HIGH"
          ],
          "enumDescriptions": [
            "Unused.",
            "Very few null entries.",
            "Some null entries.",
            "A few null entries.",
            "A lot of null entries."
          ],
          "description": "Approximate percentage of entries being null in the column.",
          "type": "string"
        },
        "tableFullResource": {
          "description": "The resource name of the resource this column is within.",
          "type": "string"
        },
        "columnType": {
          "type": "string",
          "enumDescriptions": [
            "Invalid type.",
            "Encoded as a string in decimal format.",
            "Encoded as a boolean \"false\" or \"true\".",
            "Encoded as a number, or string \"NaN\", \"Infinity\" or \"-Infinity\".",
            "Encoded as a string value.",
            "Encoded as a base64 string per RFC 4648, section 4.",
            "Encoded as an RFC 3339 timestamp with mandatory \"Z\" time zone string: 1985-04-12T23:20:50.52Z",
            "Encoded as RFC 3339 full-date format string: 1985-04-12",
            "Encoded as RFC 3339 partial-time format string: 23:20:50.52",
            "Encoded as RFC 3339 full-date \"T\" partial-time: 1985-04-12T23:20:50.52",
            "Encoded as WKT",
            "Encoded as a decimal string.",
            "Container of ordered fields, each with a type and field name.",
            "Decimal type.",
            "Json type.",
            "Interval type.",
            "`Range` type.",
            "`Range` type.",
            "`Range` type."
          ],
          "enum": [
            "COLUMN_DATA_TYPE_UNSPECIFIED",
            "TYPE_INT64",
            "TYPE_BOOL",
            "TYPE_FLOAT64",
            "TYPE_STRING",
            "TYPE_BYTES",
            "TYPE_TIMESTAMP",
            "TYPE_DATE",
            "TYPE_TIME",
            "TYPE_DATETIME",
            "TYPE_GEOGRAPHY",
            "TYPE_NUMERIC",
            "TYPE_RECORD",
            "TYPE_BIGNUMERIC",
            "TYPE_JSON",
            "TYPE_INTERVAL",
            "TYPE_RANGE_DATE",
            "TYPE_RANGE_DATETIME",
            "TYPE_RANGE_TIMESTAMP"
          ],
          "description": "The data type of a given column."
        },
        "datasetLocation": {
          "description": "If supported, the location where the dataset's data is stored. See https://docs.cloud.google.com/bigquery/docs/locations for supported BigQuery locations.",
          "type": "string"
        },
        "otherMatches": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2OtherInfoTypeSummary"
          },
          "description": "Other types found within this column. List will be unordered."
        },
        "profileLastGenerated": {
          "format": "google-datetime",
          "type": "string",
          "description": "The last time the profile was generated."
        },
        "datasetId": {
          "type": "string",
          "description": "The BigQuery dataset ID, if the resource profiled is a BigQuery table."
        },
        "estimatedUniquenessScore": {
          "type": "string",
          "enumDescriptions": [
            "Some columns do not have estimated uniqueness. Possible reasons include having too few values.",
            "Low uniqueness, possibly a boolean, enum or similiarly typed column.",
            "Medium uniqueness.",
            "High uniqueness, possibly a column of free text or unique identifiers."
          ],
          "description": "Approximate uniqueness of the column.",
          "enum": [
            "UNIQUENESS_SCORE_LEVEL_UNSPECIFIED",
            "UNIQUENESS_SCORE_LOW",
            "UNIQUENESS_SCORE_MEDIUM",
            "UNIQUENESS_SCORE_HIGH"
          ]
        },
        "datasetProjectId": {
          "description": "The Google Cloud project ID that owns the profiled resource.",
          "type": "string"
        },
        "policyState": {
          "enumDescriptions": [
            "No policy tags.",
            "Column has policy tag applied."
          ],
          "type": "string",
          "enum": [
            "COLUMN_POLICY_STATE_UNSPECIFIED",
            "COLUMN_POLICY_TAGGED"
          ],
          "description": "Indicates if a policy tag has been applied to the column."
        },
        "tableDataProfile": {
          "type": "string",
          "description": "The resource name of the table data profile."
        },
        "profileStatus": {
          "description": "Success or error status from the most recent profile generation attempt. May be empty if the profile is still being generated.",
          "$ref": "GooglePrivacyDlpV2ProfileStatus"
        },
        "freeTextScore": {
          "type": "number",
          "format": "double",
          "description": "The likelihood that this column contains free-form text. A value close to 1 may indicate the column is likely to contain free-form or natural language text. Range in 0-1."
        },
        "state": {
          "description": "State of a profile.",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "DONE"
          ],
          "enumDescriptions": [
            "Unused.",
            "The profile is currently running. Once a profile has finished it will transition to DONE.",
            "The profile is no longer generating. If profile_status.status.code is 0, the profile succeeded, otherwise, it failed."
          ],
          "type": "string"
        },
        "sensitivityScore": {
          "description": "The sensitivity of this column.",
          "$ref": "GooglePrivacyDlpV2SensitivityScore"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2InspectResult": {
      "description": "All the findings for a single scanned item.",
      "type": "object",
      "properties": {
        "findings": {
          "description": "List of findings for an item.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Finding"
          }
        },
        "findingsTruncated": {
          "description": "If true, then this item might have more findings than were returned, and the findings returned are an arbitrary subset of all findings. The findings list might be truncated because the input items were too large, or because the server reached the maximum amount of resources allowed for a single API call. For best results, divide the input into smaller batches.",
          "type": "boolean"
        }
      },
      "id": "GooglePrivacyDlpV2InspectResult"
    },
    "GooglePrivacyDlpV2DiscoveryVertexDatasetFilter": {
      "type": "object",
      "id": "GooglePrivacyDlpV2DiscoveryVertexDatasetFilter",
      "description": "Determines what datasets will have profiles generated within an organization or project. Includes the ability to filter by regular expression patterns on project ID or dataset regex.",
      "properties": {
        "vertexDatasetResourceReference": {
          "description": "The dataset resource to scan. Targets including this can only include one target (the target with this dataset resource reference).",
          "$ref": "GooglePrivacyDlpV2VertexDatasetResourceReference"
        },
        "collection": {
          "description": "A specific set of Vertex AI datasets for this filter to apply to.",
          "$ref": "GooglePrivacyDlpV2VertexDatasetCollection"
        },
        "others": {
          "description": "Catch-all. This should always be the last target in the list because anything above it will apply first. Should only appear once in a configuration. If none is specified, a default one will be added automatically.",
          "$ref": "GooglePrivacyDlpV2AllOtherResources"
        }
      }
    },
    "GooglePrivacyDlpV2TagValue": {
      "type": "object",
      "description": "A value of a tag.",
      "properties": {
        "namespacedValue": {
          "type": "string",
          "description": "The namespaced name for the tag value to attach to resources. Must be in the format `{parent_id}/{tag_key_short_name}/{short_name}`, for example, \"123456/environment/prod\" for an organization parent, or \"my-project/environment/prod\" for a project parent."
        }
      },
      "id": "GooglePrivacyDlpV2TagValue"
    },
    "GooglePrivacyDlpV2TagResources": {
      "id": "GooglePrivacyDlpV2TagResources",
      "properties": {
        "tagConditions": {
          "description": "The tags to associate with different conditions.",
          "items": {
            "$ref": "GooglePrivacyDlpV2TagCondition"
          },
          "type": "array"
        },
        "lowerDataRiskToLow": {
          "type": "boolean",
          "description": "Whether applying a tag to a resource should lower the risk of the profile for that resource. For example, in conjunction with an [IAM deny policy](https://docs.cloud.google.com/iam/docs/deny-overview), you can deny all principals a permission if a tag value is present, mitigating the risk of the resource. This also lowers the data risk of resources at the lower levels of the resource hierarchy. For example, reducing the data risk of a table data profile also reduces the data risk of the constituent column data profiles."
        },
        "profileGenerationsToTag": {
          "description": "The profile generations for which the tag should be attached to resources. If you attach a tag to only new profiles, then if the sensitivity score of a profile subsequently changes, its tag doesn't change. By default, this field includes only new profiles. To include both new and updated profiles for tagging, this field should explicitly include both `PROFILE_GENERATION_NEW` and `PROFILE_GENERATION_UPDATE`.",
          "items": {
            "enum": [
              "PROFILE_GENERATION_UNSPECIFIED",
              "PROFILE_GENERATION_NEW",
              "PROFILE_GENERATION_UPDATE"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unused.",
              "The profile is the first profile for the resource.",
              "The profile is an update to a previous profile."
            ]
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "If set, attaches the [tags] (https://docs.cloud.google.com/resource-manager/docs/tags/tags-overview) provided to profiled resources. Tags support [access control](https://docs.cloud.google.com/iam/docs/tags-access-control). You can conditionally grant or deny access to a resource based on whether the resource has a specific tag."
    },
    "GooglePrivacyDlpV2LogToBigQuery": {
      "type": "object",
      "description": "Configuration for logging content policy actions to BigQuery.",
      "properties": {
        "datasetId": {
          "description": "Required. The ID of the dataset containing the BigQuery table to write to.",
          "type": "string"
        },
        "tableId": {
          "type": "string",
          "description": "Required. The ID of the BigQuery table to write to."
        },
        "projectId": {
          "description": "Required. The ID of the project containing the BigQuery table to write to.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2LogToBigQuery"
    },
    "GooglePrivacyDlpV2FileExtensionInfo": {
      "type": "object",
      "description": "Information regarding the discovered file extension.",
      "properties": {
        "fileExtension": {
          "description": "The file extension if set. (aka .pdf, .jpg, .txt)",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2FileExtensionInfo"
    },
    "GooglePrivacyDlpV2VertexDatasetRegexes": {
      "type": "object",
      "id": "GooglePrivacyDlpV2VertexDatasetRegexes",
      "properties": {
        "patterns": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2VertexDatasetRegex"
          },
          "description": "Required. The group of regular expression patterns to match against one or more datasets. Maximum of 100 entries. The sum of the lengths of all regular expressions can't exceed 10 KiB."
        }
      },
      "description": "A collection of regular expressions to determine what datasets to match against."
    },
    "GooglePrivacyDlpV2TransformationDetails": {
      "type": "object",
      "description": "Details about a single transformation. This object contains a description of the transformation, information about whether the transformation was successfully applied, and the precise location where the transformation occurred. These details are stored in a user-specified BigQuery table.",
      "properties": {
        "transformationLocation": {
          "$ref": "GooglePrivacyDlpV2TransformationLocation",
          "description": "The precise location of the transformed content in the original container."
        },
        "resourceName": {
          "description": "The name of the job that completed the transformation.",
          "type": "string"
        },
        "containerName": {
          "type": "string",
          "description": "The top level name of the container where the transformation is located (this will be the source file name or table name)."
        },
        "transformation": {
          "description": "Description of transformation. This would only contain more than one element if there were multiple matching transformations and which one to apply was ambiguous. Not set for states that contain no transformation, currently only state that contains no transformation is TransformationResultStateType.METADATA_UNRETRIEVABLE.",
          "items": {
            "$ref": "GooglePrivacyDlpV2TransformationDescription"
          },
          "type": "array"
        },
        "statusDetails": {
          "description": "Status of the transformation, if transformation was not successful, this will specify what caused it to fail, otherwise it will show that the transformation was successful.",
          "$ref": "GooglePrivacyDlpV2TransformationResultStatus"
        },
        "transformedBytes": {
          "type": "string",
          "description": "The number of bytes that were transformed. If transformation was unsuccessful or did not take place because there was no content to transform, this will be zero.",
          "format": "int64"
        }
      },
      "id": "GooglePrivacyDlpV2TransformationDetails"
    },
    "GooglePrivacyDlpV2TransformationDescription": {
      "type": "object",
      "properties": {
        "infoType": {
          "description": "Set if the transformation was limited to a specific `InfoType`.",
          "$ref": "GooglePrivacyDlpV2InfoType"
        },
        "description": {
          "description": "A description of the transformation. This is empty for a RECORD_SUPPRESSION, or is the output of calling toString() on the `PrimitiveTransformation` protocol buffer message for any other type of transformation.",
          "type": "string"
        },
        "condition": {
          "type": "string",
          "description": "A human-readable string representation of the `RecordCondition` corresponding to this transformation. Set if a `RecordCondition` was used to determine whether or not to apply this transformation. Examples: * (age_field > 85) * (age_field <= 18) * (zip_field exists) * (zip_field == 01234) && (city_field != \"Springville\") * (zip_field == 01234) && (age_field <= 18) && (city_field exists)"
        },
        "type": {
          "enumDescriptions": [
            "Unused",
            "Record suppression",
            "Replace value",
            "Replace value using a dictionary.",
            "Redact",
            "Character mask",
            "FFX-FPE",
            "Fixed size bucketing",
            "Bucketing",
            "Replace with info type",
            "Time part",
            "Crypto hash",
            "Date shift",
            "Deterministic crypto",
            "Redact image"
          ],
          "enum": [
            "TRANSFORMATION_TYPE_UNSPECIFIED",
            "RECORD_SUPPRESSION",
            "REPLACE_VALUE",
            "REPLACE_DICTIONARY",
            "REDACT",
            "CHARACTER_MASK",
            "CRYPTO_REPLACE_FFX_FPE",
            "FIXED_SIZE_BUCKETING",
            "BUCKETING",
            "REPLACE_WITH_INFO_TYPE",
            "TIME_PART",
            "CRYPTO_HASH",
            "DATE_SHIFT",
            "CRYPTO_DETERMINISTIC_CONFIG",
            "REDACT_IMAGE"
          ],
          "description": "The transformation type.",
          "type": "string"
        }
      },
      "description": "A flattened description of a `PrimitiveTransformation` or `RecordSuppression`.",
      "id": "GooglePrivacyDlpV2TransformationDescription"
    },
    "GooglePrivacyDlpV2RecordTransformation": {
      "type": "object",
      "properties": {
        "containerVersion": {
          "type": "string",
          "description": "Container version, if available (\"generation\" for Cloud Storage)."
        },
        "fieldId": {
          "description": "For record transformations, provide a field.",
          "$ref": "GooglePrivacyDlpV2FieldId"
        },
        "containerTimestamp": {
          "format": "google-datetime",
          "type": "string",
          "description": "Findings container modification timestamp, if applicable."
        }
      },
      "id": "GooglePrivacyDlpV2RecordTransformation",
      "description": "The field in a record to transform."
    },
    "GooglePrivacyDlpV2CryptoHashConfig": {
      "id": "GooglePrivacyDlpV2CryptoHashConfig",
      "description": "Pseudonymization method that generates surrogates via cryptographic hashing. Uses SHA-256. The key size must be either 32 or 64 bytes. Outputs a base64 encoded representation of the hashed output (for example, L7k0BHmF1ha5U3NfGykjro4xWi1MPVQPjhMAZbSV9mM=). Currently, only string and integer values can be hashed. See https://docs.cloud.google.com/sensitive-data-protection/docs/pseudonymization to learn more.",
      "type": "object",
      "properties": {
        "cryptoKey": {
          "description": "The key used by the hash function.",
          "$ref": "GooglePrivacyDlpV2CryptoKey"
        }
      }
    },
    "GooglePrivacyDlpV2TagCondition": {
      "id": "GooglePrivacyDlpV2TagCondition",
      "description": "The tag to attach to profiles matching the condition. At most one `TagCondition` can be specified per sensitivity level.",
      "type": "object",
      "properties": {
        "sensitivityScore": {
          "description": "Conditions attaching the tag to a resource on its profile having this sensitivity score.",
          "$ref": "GooglePrivacyDlpV2SensitivityScore"
        },
        "tag": {
          "$ref": "GooglePrivacyDlpV2TagValue",
          "description": "The tag value to attach to resources."
        }
      }
    },
    "GooglePrivacyDlpV2FixedSizeBucketingConfig": {
      "properties": {
        "lowerBound": {
          "$ref": "GooglePrivacyDlpV2Value",
          "description": "Required. Lower bound value of buckets. All values less than `lower_bound` are grouped together into a single bucket; for example if `lower_bound` = 10, then all values less than 10 are replaced with the value \"-10\"."
        },
        "upperBound": {
          "$ref": "GooglePrivacyDlpV2Value",
          "description": "Required. Upper bound value of buckets. All values greater than upper_bound are grouped together into a single bucket; for example if `upper_bound` = 89, then all values greater than 89 are replaced with the value \"89+\"."
        },
        "bucketSize": {
          "type": "number",
          "format": "double",
          "description": "Required. Size of each bucket (except for minimum and maximum buckets). So if `lower_bound` = 10, `upper_bound` = 89, and `bucket_size` = 10, then the following buckets would be used: -10, 10-20, 20-30, 30-40, 40-50, 50-60, 60-70, 70-80, 80-89, 89+. Precision up to 2 decimals works."
        }
      },
      "id": "GooglePrivacyDlpV2FixedSizeBucketingConfig",
      "type": "object",
      "description": "Buckets values based on fixed size ranges. The Bucketing transformation can provide all of this functionality, but requires more configuration. This message is provided as a convenience to the user for simple bucketing strategies. The transformed value will be a hyphenated string of {lower_bound}-{upper_bound}. For example, if lower_bound = 10 and upper_bound = 20, all values that are within this bucket will be replaced with \"10-20\". This can be used on data of type: double, long. If the bound Value type differs from the type of data being transformed, we will first attempt converting the type of the data to be transformed to match the type of the bound before comparing. See https://docs.cloud.google.com/sensitive-data-protection/docs/concepts-bucketing to learn more."
    },
    "GooglePrivacyDlpV2Location": {
      "id": "GooglePrivacyDlpV2Location",
      "type": "object",
      "description": "Specifies the location of the finding.",
      "properties": {
        "container": {
          "description": "Information about the container where this finding occurred, if available.",
          "$ref": "GooglePrivacyDlpV2Container"
        },
        "codepointRange": {
          "description": "Unicode character offsets delimiting the finding. These are relative to the finding's containing element. Provided when the content is text.",
          "$ref": "GooglePrivacyDlpV2Range"
        },
        "contentLocations": {
          "items": {
            "$ref": "GooglePrivacyDlpV2ContentLocation"
          },
          "description": "List of nested objects pointing to the precise location of the finding within the file or record.",
          "type": "array"
        },
        "byteRange": {
          "$ref": "GooglePrivacyDlpV2Range",
          "description": "Zero-based byte offsets delimiting the finding. These are relative to the finding's containing element. Note that when the content is not textual, this references the UTF-8 encoded textual representation of the content. Omitted if content is an image."
        }
      }
    },
    "GooglePrivacyDlpV2TaggedField": {
      "description": "A column with a semantic tag attached.",
      "type": "object",
      "id": "GooglePrivacyDlpV2TaggedField",
      "properties": {
        "inferred": {
          "description": "If no semantic tag is indicated, we infer the statistical model from the distribution of values in the input data",
          "$ref": "GoogleProtobufEmpty"
        },
        "customTag": {
          "description": "A column can be tagged with a custom tag. In this case, the user must indicate an auxiliary table that contains statistical information on the possible values of this column.",
          "type": "string"
        },
        "field": {
          "$ref": "GooglePrivacyDlpV2FieldId",
          "description": "Required. Identifies the column."
        },
        "infoType": {
          "description": "A column can be tagged with a InfoType to use the relevant public dataset as a statistical model of population, if available. We currently support US ZIP codes, region codes, ages and genders. To programmatically obtain the list of supported InfoTypes, use ListInfoTypes with the supported_by=RISK_ANALYSIS filter.",
          "$ref": "GooglePrivacyDlpV2InfoType"
        }
      }
    },
    "GooglePrivacyDlpV2DeltaPresenceEstimationConfig": {
      "description": "δ-presence metric, used to estimate how likely it is for an attacker to figure out that one given individual appears in a de-identified dataset. Similarly to the k-map metric, we cannot compute δ-presence exactly without knowing the attack dataset, so we use a statistical model instead.",
      "type": "object",
      "id": "GooglePrivacyDlpV2DeltaPresenceEstimationConfig",
      "properties": {
        "regionCode": {
          "description": "ISO 3166-1 alpha-2 region code to use in the statistical modeling. Set if no column is tagged with a region-specific InfoType (like US_ZIP_5) or a region code.",
          "type": "string"
        },
        "auxiliaryTables": {
          "items": {
            "$ref": "GooglePrivacyDlpV2StatisticalTable"
          },
          "description": "Several auxiliary tables can be used in the analysis. Each custom_tag used to tag a quasi-identifiers field must appear in exactly one field of one auxiliary table.",
          "type": "array"
        },
        "quasiIds": {
          "items": {
            "$ref": "GooglePrivacyDlpV2QuasiId"
          },
          "type": "array",
          "description": "Required. Fields considered to be quasi-identifiers. No two fields can have the same tag."
        }
      }
    },
    "GooglePrivacyDlpV2InspectionRule": {
      "properties": {
        "hotwordRule": {
          "description": "Hotword-based detection rule.",
          "$ref": "GooglePrivacyDlpV2HotwordRule"
        },
        "exclusionRule": {
          "$ref": "GooglePrivacyDlpV2ExclusionRule",
          "description": "Exclusion rule."
        },
        "adjustmentRule": {
          "description": "Adjustment rule.",
          "$ref": "GooglePrivacyDlpV2AdjustmentRule"
        }
      },
      "type": "object",
      "description": "A single inspection rule to be applied to infoTypes, specified in `InspectionRuleSet`.",
      "id": "GooglePrivacyDlpV2InspectionRule"
    },
    "GooglePrivacyDlpV2TransientCryptoKey": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Name of the key. This is an arbitrary string used to differentiate different keys. A unique key is generated per name: two separate `TransientCryptoKey` protos share the same generated key if their names are the same. When the data crypto key is generated, this name is not used in any way (repeating the api call will result in a different key being generated)."
        }
      },
      "id": "GooglePrivacyDlpV2TransientCryptoKey",
      "description": "Use this to have a random data crypto key generated. It will be discarded after the request finishes."
    },
    "GooglePrivacyDlpV2Encloses": {
      "type": "object",
      "properties": {},
      "description": "Defines a condition where one bounding box encloses another.",
      "id": "GooglePrivacyDlpV2Encloses"
    },
    "GooglePrivacyDlpV2Tag": {
      "type": "object",
      "properties": {
        "value": {
          "description": "The value of a tag key-value pair. For Google Cloud resources, this is the resource name of the value, for example, \"tagValues/123456\".",
          "type": "string"
        },
        "namespacedTagValue": {
          "type": "string",
          "description": "The namespaced name for the tag value to attach to Google Cloud resources. Must be in the format `{parent_id}/{tag_key_short_name}/{short_name}`, for example, \"123456/environment/prod\" for an organization parent, or \"my-project/environment/prod\" for a project parent. This is only set for Google Cloud resources."
        },
        "key": {
          "description": "The key of a tag key-value pair. For Google Cloud resources, this is the resource name of the key, for example, \"tagKeys/123456\".",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2Tag",
      "description": "A tag associated with a resource."
    },
    "GooglePrivacyDlpV2PathElement": {
      "id": "GooglePrivacyDlpV2PathElement",
      "properties": {
        "kind": {
          "description": "The kind of the entity. A kind matching regex `__.*__` is reserved/read-only. A kind must not contain more than 1500 bytes when UTF-8 encoded. Cannot be `\"\"`.",
          "type": "string"
        },
        "id": {
          "format": "int64",
          "description": "The auto-allocated ID of the entity. Never equal to zero. Values less than zero are discouraged and may not be supported in the future.",
          "type": "string"
        },
        "name": {
          "description": "The name of the entity. A name matching regex `__.*__` is reserved/read-only. A name must not be more than 1500 bytes when UTF-8 encoded. Cannot be `\"\"`.",
          "type": "string"
        }
      },
      "description": "A (kind, ID/name) pair used to construct a key path. If either name or ID is set, the element is complete. If neither is set, the element is incomplete.",
      "type": "object"
    },
    "GooglePrivacyDlpV2ExcludeByHotword": {
      "properties": {
        "proximity": {
          "description": "Range of characters within which the entire hotword must reside. The total length of the window cannot exceed 1000 characters. The windowBefore property in proximity should be set to 1 if the hotword needs to be included in a column header.",
          "$ref": "GooglePrivacyDlpV2Proximity"
        },
        "hotwordRegex": {
          "$ref": "GooglePrivacyDlpV2Regex",
          "description": "Regular expression pattern defining what qualifies as a hotword."
        }
      },
      "type": "object",
      "description": "The rule to exclude findings based on a hotword. For record inspection of tables, column names are considered hotwords. An example of this is to exclude a finding if it belongs to a BigQuery column that matches a specific pattern.",
      "id": "GooglePrivacyDlpV2ExcludeByHotword"
    },
    "GooglePrivacyDlpV2TimespanConfig": {
      "type": "object",
      "description": "Configuration of the timespan of the items to include in scanning. Currently only supported when inspecting Cloud Storage and BigQuery.",
      "id": "GooglePrivacyDlpV2TimespanConfig",
      "properties": {
        "timestampField": {
          "description": "Specification of the field containing the timestamp of scanned items. Used for data sources like Datastore and BigQuery. **For BigQuery** If this value is not specified and the table was modified between the given start and end times, the entire table will be scanned. If this value is specified, then rows are filtered based on the given start and end times. Rows with a `NULL` value in the provided BigQuery column are skipped. Valid data types of the provided BigQuery column are: `INTEGER`, `DATE`, `TIMESTAMP`, and `DATETIME`. If your BigQuery table is [partitioned at ingestion time](https://docs.cloud.google.com/bigquery/docs/partitioned-tables#ingestion_time), you can use any of the following pseudo-columns as your timestamp field. When used with Cloud DLP, these pseudo-column names are case sensitive. - `_PARTITIONTIME` - `_PARTITIONDATE` - `_PARTITION_LOAD_TIME` **For Datastore** If this value is specified, then entities are filtered based on the given start and end times. If an entity does not contain the provided timestamp property or contains empty or invalid values, then it is included. Valid data types of the provided timestamp property are: `TIMESTAMP`. See the [known issue](https://docs.cloud.google.com/sensitive-data-protection/docs/known-issues#bq-timespan) related to this operation.",
          "$ref": "GooglePrivacyDlpV2FieldId"
        },
        "startTime": {
          "type": "string",
          "description": "Exclude files, tables, or rows older than this value. If not set, no lower time limit is applied.",
          "format": "google-datetime"
        },
        "enableAutoPopulationOfTimespanConfig": {
          "type": "boolean",
          "description": "When the job is started by a JobTrigger we will automatically figure out a valid start_time to avoid scanning files that have not been modified since the last time the JobTrigger executed. This will be based on the time of the execution of the last run of the JobTrigger or the timespan end_time used in the last run of the JobTrigger. **For BigQuery** Inspect jobs triggered by automatic population will scan data that is at least three hours old when the job starts. This is because streaming buffer rows are not read during inspection and reading up to the current timestamp will result in skipped rows. See the [known issue](https://docs.cloud.google.com/sensitive-data-protection/docs/known-issues#recently-streamed-data) related to this operation."
        },
        "endTime": {
          "description": "Exclude files, tables, or rows newer than this value. If not set, no upper time limit is applied.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GooglePrivacyDlpV2Export": {
      "id": "GooglePrivacyDlpV2Export",
      "type": "object",
      "properties": {
        "sampleFindingsTable": {
          "$ref": "GooglePrivacyDlpV2BigQueryTable",
          "description": "Store sample data profile findings in an existing table or a new table in an existing dataset. Each regeneration will result in new rows in BigQuery. Data is inserted using [streaming insert](https://cloud.google.com/blog/products/bigquery/life-of-a-bigquery-streaming-insert) and so data may be in the buffer for a period of time after the profile has finished."
        },
        "profileTable": {
          "description": "Store all profiles to BigQuery. * The system will create a new dataset and table for you if none are are provided. The dataset will be named `sensitive_data_protection_discovery` and table will be named `discovery_profiles`. This table will be placed in the same project as the container project running the scan. After the first profile is generated and the dataset and table are created, the discovery scan configuration will be updated with the dataset and table names. * See [Analyze data profiles stored in BigQuery](https://docs.cloud.google.com/sensitive-data-protection/docs/analyze-data-profiles). * See [Sample queries for your BigQuery table](https://docs.cloud.google.com/sensitive-data-protection/docs/analyze-data-profiles#sample_sql_queries). * Data is inserted using [streaming insert](https://cloud.google.com/blog/products/bigquery/life-of-a-bigquery-streaming-insert) and so data may be in the buffer for a period of time after the profile has finished. * The Pub/Sub notification is sent before the streaming buffer is guaranteed to be written, so data may not be instantly visible to queries by the time your topic receives the Pub/Sub notification. * The best practice is to use the same table for an entire organization so that you can take advantage of the [provided Data Studio reports](https://docs.cloud.google.com/sensitive-data-protection/docs/analyze-data-profiles#use_a_premade_report). If you use VPC Service Controls to define security perimeters, then you must use a separate table for each boundary.",
          "$ref": "GooglePrivacyDlpV2BigQueryTable"
        }
      },
      "description": "If set, the detailed data profiles will be persisted to the location of your choice whenever updated."
    },
    "GooglePrivacyDlpV2Proximity": {
      "properties": {
        "windowAfter": {
          "description": "Number of characters after the finding to consider.",
          "format": "int32",
          "type": "integer"
        },
        "windowBefore": {
          "format": "int32",
          "type": "integer",
          "description": "Number of characters before the finding to consider. For tabular data, if you want to modify the likelihood of an entire column of findngs, set this to 1. For more information, see [Hotword example: Set the match likelihood of a table column] (https://docs.cloud.google.com/sensitive-data-protection/docs/creating-custom-infotypes-likelihood#match-column-values)."
        }
      },
      "id": "GooglePrivacyDlpV2Proximity",
      "type": "object",
      "description": "Message for specifying a window around a finding to apply a detection rule."
    },
    "GooglePrivacyDlpV2StoredInfoTypeConfig": {
      "properties": {
        "regex": {
          "$ref": "GooglePrivacyDlpV2Regex",
          "description": "Store regular expression-based StoredInfoType."
        },
        "description": {
          "description": "Description of the StoredInfoType (max 256 characters).",
          "type": "string"
        },
        "dictionary": {
          "$ref": "GooglePrivacyDlpV2Dictionary",
          "description": "Store dictionary-based CustomInfoType."
        },
        "displayName": {
          "description": "Display name of the StoredInfoType (max 256 characters).",
          "type": "string"
        },
        "largeCustomDictionary": {
          "description": "StoredInfoType where findings are defined by a dictionary of phrases.",
          "$ref": "GooglePrivacyDlpV2LargeCustomDictionaryConfig"
        }
      },
      "id": "GooglePrivacyDlpV2StoredInfoTypeConfig",
      "type": "object",
      "description": "Configuration for stored infoTypes. All fields and subfield are provided by the user. For more information, see https://docs.cloud.google.com/sensitive-data-protection/docs/creating-custom-infotypes."
    },
    "GooglePrivacyDlpV2AllOtherResources": {
      "properties": {},
      "id": "GooglePrivacyDlpV2AllOtherResources",
      "description": "Match discovery resources not covered by any other filter.",
      "type": "object"
    },
    "GooglePrivacyDlpV2AllOtherDatabaseResources": {
      "id": "GooglePrivacyDlpV2AllOtherDatabaseResources",
      "properties": {},
      "description": "Match database resources not covered by any other filter.",
      "type": "object"
    },
    "GooglePrivacyDlpV2BucketingConfig": {
      "type": "object",
      "description": "Generalization function that buckets values based on ranges. The ranges and replacement values are dynamically provided by the user for custom behavior, such as 1-30 -> LOW, 31-65 -> MEDIUM, 66-100 -> HIGH. This can be used on data of type: number, long, string, timestamp. If the bound `Value` type differs from the type of data being transformed, we will first attempt converting the type of the data to be transformed to match the type of the bound before comparing. See https://docs.cloud.google.com/sensitive-data-protection/docs/concepts-bucketing to learn more.",
      "id": "GooglePrivacyDlpV2BucketingConfig",
      "properties": {
        "buckets": {
          "description": "Set of buckets. Ranges must be non-overlapping.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Bucket"
          }
        }
      }
    },
    "GooglePrivacyDlpV2DataRiskLevel": {
      "id": "GooglePrivacyDlpV2DataRiskLevel",
      "description": "Score is a summary of all elements in the data profile. A higher number means more risk.",
      "properties": {
        "score": {
          "type": "string",
          "description": "The score applied to the resource.",
          "enum": [
            "RISK_SCORE_UNSPECIFIED",
            "RISK_LOW",
            "RISK_UNKNOWN",
            "RISK_MODERATE",
            "RISK_HIGH"
          ],
          "enumDescriptions": [
            "Unused.",
            "Low risk - Lower indication of sensitive data that appears to have additional access restrictions in place or no indication of sensitive data found.",
            "Unable to determine risk.",
            "Medium risk - Sensitive data may be present but additional access or fine grain access restrictions appear to be present. Consider limiting access even further or transform data to mask.",
            "High risk – SPII may be present. Access controls may include public ACLs. Exfiltration of data may lead to user data loss. Re-identification of users may be possible. Consider limiting usage and or removing SPII."
          ]
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2Finding": {
      "description": "Represents a piece of potentially sensitive content.",
      "type": "object",
      "id": "GooglePrivacyDlpV2Finding",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name in format projects/{project}/locations/{location}/findings/{finding} Populated only when viewing persisted findings."
        },
        "location": {
          "$ref": "GooglePrivacyDlpV2Location",
          "description": "Where the content was found."
        },
        "quote": {
          "description": "The content that was found. Even if the content is not textual, it may be converted to a textual representation here. Provided if `include_quote` is true and the finding is less than or equal to 4096 bytes long. If the finding exceeds 4096 bytes in length, the quote may be omitted.",
          "type": "string"
        },
        "likelihood": {
          "type": "string",
          "enumDescriptions": [
            "Default value; same as POSSIBLE.",
            "Highest chance of a false positive.",
            "High chance of a false positive.",
            "Some matching signals. The default value.",
            "Low chance of a false positive.",
            "Confidence level is high. Lowest chance of a false positive."
          ],
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "description": "Confidence of how likely it is that the `info_type` is correct."
        },
        "jobName": {
          "type": "string",
          "description": "The job that stored the finding."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Timestamp when finding was detected.",
          "type": "string"
        },
        "jobCreateTime": {
          "description": "Time the job started that produced this finding.",
          "format": "google-datetime",
          "type": "string"
        },
        "triggerName": {
          "type": "string",
          "description": "Job trigger name, if applicable, for this finding."
        },
        "infoType": {
          "description": "The type of content that might have been found. Provided if `excluded_types` is false.",
          "$ref": "GooglePrivacyDlpV2InfoType"
        },
        "quoteInfo": {
          "description": "Contains data parsed from quotes. Only populated if include_quote was set to true and a supported infoType was requested. Currently supported infoTypes: DATE, DATE_OF_BIRTH and TIME.",
          "$ref": "GooglePrivacyDlpV2QuoteInfo"
        },
        "resourceName": {
          "description": "The job that stored the finding.",
          "type": "string"
        },
        "findingId": {
          "description": "The unique finding id.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The labels associated with this `Finding`. Label keys must be between 1 and 63 characters long and must conform to the following regular expression: `[a-z]([-a-z0-9]*[a-z0-9])?`. Label values must be between 0 and 63 characters long and must conform to the regular expression `([a-z]([-a-z0-9]*[a-z0-9])?)?`. No more than 10 labels can be associated with a given finding. Examples: * `\"environment\" : \"production\"` * `\"pipeline\" : \"etl\"`"
        }
      }
    },
    "GooglePrivacyDlpV2BigQueryKey": {
      "properties": {
        "tableReference": {
          "$ref": "GooglePrivacyDlpV2BigQueryTable",
          "description": "Complete BigQuery table reference."
        },
        "rowNumber": {
          "format": "int64",
          "description": "Row number inferred at the time the table was scanned. This value is nondeterministic, cannot be queried, and may be null for inspection jobs. To locate findings within a table, specify `inspect_job.storage_config.big_query_options.identifying_fields` in `CreateDlpJobRequest`.",
          "type": "string"
        }
      },
      "description": "Row key for identifying a record in BigQuery table.",
      "type": "object",
      "id": "GooglePrivacyDlpV2BigQueryKey"
    },
    "GooglePrivacyDlpV2Range": {
      "id": "GooglePrivacyDlpV2Range",
      "description": "Generic half-open interval [start, end)",
      "properties": {
        "start": {
          "format": "int64",
          "description": "Index of the first character of the range (inclusive).",
          "type": "string"
        },
        "end": {
          "format": "int64",
          "description": "Index of the last character of the range (exclusive).",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2DiscoveryGenerationCadence": {
      "properties": {
        "schemaModifiedCadence": {
          "description": "Governs when to update data profiles when a schema is modified.",
          "$ref": "GooglePrivacyDlpV2DiscoverySchemaModifiedCadence"
        },
        "tableModifiedCadence": {
          "$ref": "GooglePrivacyDlpV2DiscoveryTableModifiedCadence",
          "description": "Governs when to update data profiles when a table is modified."
        },
        "refreshFrequency": {
          "enumDescriptions": [
            "Unspecified.",
            "After the data profile is created, it will never be updated.",
            "The data profile can be updated up to once every 24 hours.",
            "The data profile can be updated up to once every 30 days. Default."
          ],
          "enum": [
            "UPDATE_FREQUENCY_UNSPECIFIED",
            "UPDATE_FREQUENCY_NEVER",
            "UPDATE_FREQUENCY_DAILY",
            "UPDATE_FREQUENCY_MONTHLY"
          ],
          "description": "Frequency at which profiles should be updated, regardless of whether the underlying resource has changed. Defaults to never.",
          "type": "string"
        },
        "inspectTemplateModifiedCadence": {
          "$ref": "GooglePrivacyDlpV2DiscoveryInspectTemplateModifiedCadence",
          "description": "Governs when to update data profiles when the inspection rules defined by the `InspectTemplate` change. If not set, changing the template will not cause a data profile to update."
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2DiscoveryGenerationCadence",
      "description": "What must take place for a profile to be updated and how frequently it should occur. New tables are scanned as quickly as possible depending on system capacity."
    },
    "GooglePrivacyDlpV2DeidentifyDataSourceDetails": {
      "properties": {
        "requestedOptions": {
          "$ref": "GooglePrivacyDlpV2RequestedDeidentifyOptions",
          "description": "De-identification config used for the request."
        },
        "deidentifyStats": {
          "description": "Stats about the de-identification operation.",
          "$ref": "GooglePrivacyDlpV2DeidentifyDataSourceStats"
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2DeidentifyDataSourceDetails",
      "description": "The results of a Deidentify action from an inspect job."
    },
    "GooglePrivacyDlpV2PrimitiveTransformation": {
      "type": "object",
      "id": "GooglePrivacyDlpV2PrimitiveTransformation",
      "description": "A rule for transforming a value.",
      "properties": {
        "cryptoDeterministicConfig": {
          "description": "Deterministic Crypto",
          "$ref": "GooglePrivacyDlpV2CryptoDeterministicConfig"
        },
        "dateShiftConfig": {
          "$ref": "GooglePrivacyDlpV2DateShiftConfig",
          "description": "Date Shift"
        },
        "replaceWithInfoTypeConfig": {
          "$ref": "GooglePrivacyDlpV2ReplaceWithInfoTypeConfig",
          "description": "Replace with infotype"
        },
        "bucketingConfig": {
          "$ref": "GooglePrivacyDlpV2BucketingConfig",
          "description": "Bucketing"
        },
        "characterMaskConfig": {
          "description": "Mask",
          "$ref": "GooglePrivacyDlpV2CharacterMaskConfig"
        },
        "cryptoReplaceFfxFpeConfig": {
          "description": "Ffx-Fpe. Strongly discouraged, consider using CryptoDeterministicConfig instead. Fpe is computationally expensive incurring latency costs.",
          "$ref": "GooglePrivacyDlpV2CryptoReplaceFfxFpeConfig"
        },
        "redactConfig": {
          "$ref": "GooglePrivacyDlpV2RedactConfig",
          "description": "Redact"
        },
        "replaceConfig": {
          "$ref": "GooglePrivacyDlpV2ReplaceValueConfig",
          "description": "Replace with a specified value."
        },
        "timePartConfig": {
          "description": "Time extraction",
          "$ref": "GooglePrivacyDlpV2TimePartConfig"
        },
        "fixedSizeBucketingConfig": {
          "description": "Fixed size bucketing",
          "$ref": "GooglePrivacyDlpV2FixedSizeBucketingConfig"
        },
        "replaceDictionaryConfig": {
          "$ref": "GooglePrivacyDlpV2ReplaceDictionaryConfig",
          "description": "Replace with a value randomly drawn (with replacement) from a dictionary."
        },
        "cryptoHashConfig": {
          "description": "Crypto",
          "$ref": "GooglePrivacyDlpV2CryptoHashConfig"
        }
      }
    },
    "GooglePrivacyDlpV2DiscoveryBigQueryConditions": {
      "properties": {
        "types": {
          "description": "Restrict discovery to specific table types.",
          "$ref": "GooglePrivacyDlpV2BigQueryTableTypes"
        },
        "typeCollection": {
          "type": "string",
          "enumDescriptions": [
            "Unused.",
            "Automatically generate profiles for all tables, even if the table type is not yet fully supported for analysis. Profiles for unsupported tables will be generated with errors to indicate their partial support. When full support is added, the tables will automatically be profiled during the next scheduled run.",
            "Only those types fully supported will be profiled. Will expand automatically as Cloud DLP adds support for new table types. Unsupported table types will not have partial profiles generated."
          ],
          "description": "Restrict discovery to categories of table types.",
          "enum": [
            "BIG_QUERY_COLLECTION_UNSPECIFIED",
            "BIG_QUERY_COLLECTION_ALL_TYPES",
            "BIG_QUERY_COLLECTION_ONLY_SUPPORTED_TYPES"
          ]
        },
        "createdAfter": {
          "type": "string",
          "format": "google-datetime",
          "description": "BigQuery table must have been created after this date. Used to avoid backfilling."
        },
        "orConditions": {
          "$ref": "GooglePrivacyDlpV2OrConditions",
          "description": "At least one of the conditions must be true for a table to be scanned."
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2DiscoveryBigQueryConditions",
      "description": "Requirements that must be true before a table is scanned in discovery for the first time. There is an AND relationship between the top-level attributes. Additionally, minimum conditions with an OR relationship that must be met before Cloud DLP scans a table can be set (like a minimum row count or a minimum table age)."
    },
    "GooglePrivacyDlpV2PublishToStackdriver": {
      "type": "object",
      "id": "GooglePrivacyDlpV2PublishToStackdriver",
      "properties": {},
      "description": "Enable Stackdriver metric dlp.googleapis.com/finding_count. This will publish a metric to stack driver on each infotype requested and how many findings were found for it. CustomDetectors will be bucketed as 'Custom' under the Stackdriver label 'info_type'."
    },
    "GooglePrivacyDlpV2Domain": {
      "description": "A domain represents a thematic category that a data profile can fall under.",
      "type": "object",
      "properties": {
        "category": {
          "type": "string",
          "description": "A domain category that this profile is related to.",
          "enumDescriptions": [
            "Category unspecified.",
            "Indicates that the data profile is related to artificial intelligence. When set, all findings stored to Security Command Center will set the corresponding AI domain field of `Finding` objects.",
            "Indicates that the data profile is related to code."
          ],
          "enum": [
            "CATEGORY_UNSPECIFIED",
            "AI",
            "CODE"
          ]
        },
        "signals": {
          "description": "The collection of signals that influenced selection of the category.",
          "type": "array",
          "items": {
            "enum": [
              "SIGNAL_UNSPECIFIED",
              "MODEL",
              "TEXT_EMBEDDING",
              "EMBEDDING",
              "VERTEX_PLUGIN",
              "VECTOR_PLUGIN",
              "SOURCE_CODE",
              "SERVICE"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unused.",
              "One or more machine learning models are present.",
              "A table appears to contain text embeddings.",
              "A table appears to contain embeddings of any type (for example, text, image, multimodal). The `TEXT_EMBEDDING` signal might also be present if the table contains text embeddings.",
              "The [Cloud SQL Vertex AI](https://docs.cloud.google.com/sql/docs/postgres/integrate-cloud-sql-with-vertex-ai) plugin is installed on the database.",
              "Support for [Cloud SQL vector embeddings](https://docs.cloud.google.com/sql/docs/mysql/enable-vector-search) is enabled on the database.",
              "Source code is present.",
              "If the service determines the category type. For example, Vertex AI assets would always have a `Category` of `AI`."
            ]
          }
        }
      },
      "id": "GooglePrivacyDlpV2Domain"
    },
    "GooglePrivacyDlpV2DetectionRule": {
      "type": "object",
      "description": "Deprecated; use `InspectionRuleSet` instead. Rule for modifying a `CustomInfoType` to alter behavior under certain circumstances, depending on the specific details of the rule. Not supported for the `surrogate_type` custom infoType.",
      "properties": {
        "hotwordRule": {
          "description": "Hotword-based detection rule.",
          "$ref": "GooglePrivacyDlpV2HotwordRule"
        }
      },
      "id": "GooglePrivacyDlpV2DetectionRule"
    },
    "GooglePrivacyDlpV2AdjustmentRule": {
      "description": "Rule that specifies conditions when a certain infoType's finding details should be adjusted.",
      "id": "GooglePrivacyDlpV2AdjustmentRule",
      "type": "object",
      "properties": {
        "adjustByMatchingInfoTypes": {
          "description": "Set of infoTypes for which findings would affect this rule.",
          "$ref": "GooglePrivacyDlpV2AdjustByMatchingInfoTypes"
        },
        "adjustByImageFindings": {
          "$ref": "GooglePrivacyDlpV2AdjustByImageFindings",
          "description": "AdjustmentRule condition for image findings."
        },
        "likelihoodAdjustment": {
          "$ref": "GooglePrivacyDlpV2LikelihoodAdjustment",
          "description": "Likelihood adjustment to apply to the infoType."
        }
      }
    },
    "GooglePrivacyDlpV2DataSourceType": {
      "description": "Message used to identify the type of resource being profiled.",
      "type": "object",
      "id": "GooglePrivacyDlpV2DataSourceType",
      "properties": {
        "dataSource": {
          "description": "A string that identifies the type of resource being profiled. Current values: * google/bigquery/table * google/project * google/sql/table * google/gcs/bucket",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2CategoricalStatsHistogramBucket": {
      "description": "Histogram of value frequencies in the column.",
      "type": "object",
      "id": "GooglePrivacyDlpV2CategoricalStatsHistogramBucket",
      "properties": {
        "bucketValues": {
          "type": "array",
          "description": "Sample of value frequencies in this bucket. The total number of values returned per bucket is capped at 20.",
          "items": {
            "$ref": "GooglePrivacyDlpV2ValueFrequency"
          }
        },
        "valueFrequencyLowerBound": {
          "format": "int64",
          "type": "string",
          "description": "Lower bound on the value frequency of the values in this bucket."
        },
        "bucketValueCount": {
          "format": "int64",
          "description": "Total number of distinct values in this bucket.",
          "type": "string"
        },
        "valueFrequencyUpperBound": {
          "type": "string",
          "description": "Upper bound on the value frequency of the values in this bucket.",
          "format": "int64"
        },
        "bucketSize": {
          "format": "int64",
          "description": "Total number of values in this bucket.",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2CreateContentPolicyRequest": {
      "properties": {
        "contentPolicy": {
          "$ref": "GooglePrivacyDlpV2ContentPolicy",
          "description": "Required. The content_policy resource."
        },
        "contentPolicyId": {
          "description": "Optional. The content policy ID can contain uppercase and lowercase letters, numbers, and hyphens; that is, it must match the regular expression: `[a-zA-Z\\d-_]+`. The maximum length is 100 characters. If empty, the system will generate a random id.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2CreateContentPolicyRequest",
      "description": "Request message for CreateContentPolicy.",
      "type": "object"
    },
    "GooglePrivacyDlpV2ListStoredInfoTypesResponse": {
      "description": "Response message for ListStoredInfoTypes.",
      "properties": {
        "storedInfoTypes": {
          "items": {
            "$ref": "GooglePrivacyDlpV2StoredInfoType"
          },
          "type": "array",
          "description": "List of storedInfoTypes, up to page_size in ListStoredInfoTypesRequest."
        },
        "nextPageToken": {
          "type": "string",
          "description": "If the next page is available then the next page token to be used in the following ListStoredInfoTypes request."
        }
      },
      "id": "GooglePrivacyDlpV2ListStoredInfoTypesResponse",
      "type": "object"
    },
    "GooglePrivacyDlpV2MultiRegionProcessing": {
      "id": "GooglePrivacyDlpV2MultiRegionProcessing",
      "description": "Processing occurs in a multi-region that contains the current region if available.",
      "properties": {},
      "type": "object"
    },
    "GooglePrivacyDlpV2CharacterMaskConfig": {
      "type": "object",
      "id": "GooglePrivacyDlpV2CharacterMaskConfig",
      "description": "Partially mask a string by replacing a given number of characters with a fixed character. Masking can start from the beginning or end of the string. This can be used on data of any type (numbers, longs, and so on) and when de-identifying structured data we'll attempt to preserve the original data's type. (This allows you to take a long like 123 and modify it to a string like **3.",
      "properties": {
        "numberToMask": {
          "description": "Number of characters to mask. If not set, all matching chars will be masked. Skipped characters do not count towards this tally. If `number_to_mask` is negative, this denotes inverse masking. Cloud DLP masks all but a number of characters. For example, suppose you have the following values: - `masking_character` is `*` - `number_to_mask` is `-4` - `reverse_order` is `false` - `CharsToIgnore` includes `-` - Input string is `1234-5678-9012-3456` The resulting de-identified string is `****-****-****-3456`. Cloud DLP masks all but the last four characters. If `reverse_order` is `true`, all but the first four characters are masked as `1234-****-****-****`.",
          "type": "integer",
          "format": "int32"
        },
        "reverseOrder": {
          "type": "boolean",
          "description": "Mask characters in reverse order. For example, if `masking_character` is `0`, `number_to_mask` is `14`, and `reverse_order` is `false`, then the input string `1234-5678-9012-3456` is masked as `00000000000000-3456`. If `masking_character` is `*`, `number_to_mask` is `3`, and `reverse_order` is `true`, then the string `12345` is masked as `12***`."
        },
        "maskingCharacter": {
          "description": "Character to use to mask the sensitive values—for example, `*` for an alphabetic string such as a name, or `0` for a numeric string such as ZIP code or credit card number. This string must have a length of 1. If not supplied, this value defaults to `*` for strings, and `0` for digits.",
          "type": "string"
        },
        "charactersToIgnore": {
          "description": "When masking a string, items in this list will be skipped when replacing characters. For example, if the input string is `555-555-5555` and you instruct Cloud DLP to skip `-` and mask 5 characters with `*`, Cloud DLP returns `***-**5-5555`.",
          "items": {
            "$ref": "GooglePrivacyDlpV2CharsToIgnore"
          },
          "type": "array"
        }
      }
    },
    "GooglePrivacyDlpV2QuoteInfo": {
      "type": "object",
      "properties": {
        "dateTime": {
          "$ref": "GooglePrivacyDlpV2DateTime",
          "description": "The date time indicated by the quote."
        }
      },
      "id": "GooglePrivacyDlpV2QuoteInfo",
      "description": "Message for infoType-dependent details parsed from quote."
    },
    "GooglePrivacyDlpV2RequestedOptions": {
      "type": "object",
      "description": "Snapshot of the inspection configuration.",
      "id": "GooglePrivacyDlpV2RequestedOptions",
      "properties": {
        "jobConfig": {
          "description": "Inspect config.",
          "$ref": "GooglePrivacyDlpV2InspectJobConfig"
        },
        "snapshotInspectTemplate": {
          "description": "Output only. If run with an InspectTemplate, a snapshot of its state at the time of this run.",
          "$ref": "GooglePrivacyDlpV2InspectTemplate",
          "readOnly": true
        }
      }
    },
    "GooglePrivacyDlpV2ImageLocation": {
      "properties": {
        "boundingBoxes": {
          "items": {
            "$ref": "GooglePrivacyDlpV2BoundingBox"
          },
          "type": "array",
          "description": "Bounding boxes locating the pixels within the image containing the finding."
        }
      },
      "type": "object",
      "description": "Location of the finding within an image.",
      "id": "GooglePrivacyDlpV2ImageLocation"
    },
    "GooglePrivacyDlpV2OtherCloudSingleResourceReference": {
      "description": "Identifies a single resource, like a single Amazon S3 bucket.",
      "type": "object",
      "id": "GooglePrivacyDlpV2OtherCloudSingleResourceReference",
      "properties": {
        "amazonS3Bucket": {
          "$ref": "GooglePrivacyDlpV2AmazonS3Bucket",
          "description": "Amazon S3 bucket."
        }
      }
    },
    "GooglePrivacyDlpV2DiscoveryStartingLocation": {
      "type": "object",
      "description": "The location to begin a discovery scan. Denotes an organization ID or folder ID within an organization.",
      "properties": {
        "folderId": {
          "description": "The ID of the folder within an organization to be scanned.",
          "format": "int64",
          "type": "string"
        },
        "organizationId": {
          "type": "string",
          "description": "The ID of an organization to scan.",
          "format": "int64"
        }
      },
      "id": "GooglePrivacyDlpV2DiscoveryStartingLocation"
    },
    "GooglePrivacyDlpV2OtherCloudResourceRegexes": {
      "id": "GooglePrivacyDlpV2OtherCloudResourceRegexes",
      "type": "object",
      "description": "A collection of regular expressions to determine what resources to match against.",
      "properties": {
        "patterns": {
          "description": "A group of regular expression patterns to match against one or more resources. Maximum of 100 entries. The sum of all regular expression's length can't exceed 10 KiB.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2OtherCloudResourceRegex"
          }
        }
      }
    },
    "GooglePrivacyDlpV2DiscoveryFileStoreConditions": {
      "id": "GooglePrivacyDlpV2DiscoveryFileStoreConditions",
      "description": "Requirements that must be true before a file store is scanned in discovery for the first time. There is an AND relationship between the top-level attributes.",
      "properties": {
        "createdAfter": {
          "description": "Optional. File store must have been created after this date. Used to avoid backfilling.",
          "type": "string",
          "format": "google-datetime"
        },
        "minAge": {
          "description": "Optional. Minimum age a file store must have. If set, the value must be 1 hour or greater.",
          "format": "google-duration",
          "type": "string"
        },
        "cloudStorageConditions": {
          "description": "Optional. Cloud Storage conditions.",
          "$ref": "GooglePrivacyDlpV2DiscoveryCloudStorageConditions"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2StorageMetadataLabel": {
      "id": "GooglePrivacyDlpV2StorageMetadataLabel",
      "properties": {
        "key": {
          "description": "Label name.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Storage metadata label to indicate which metadata entry contains findings."
    },
    "GooglePrivacyDlpV2ListFileStoreDataProfilesResponse": {
      "type": "object",
      "id": "GooglePrivacyDlpV2ListFileStoreDataProfilesResponse",
      "properties": {
        "fileStoreDataProfiles": {
          "description": "List of data profiles.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2FileStoreDataProfile"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The next page token."
        }
      },
      "description": "List of file store data profiles generated for a given organization or project."
    },
    "GooglePrivacyDlpV2Connection": {
      "description": "A data connection to allow the DLP API to profile data in locations that require additional configuration.",
      "type": "object",
      "id": "GooglePrivacyDlpV2Connection",
      "properties": {
        "cloudSql": {
          "description": "Connect to a Cloud SQL instance.",
          "$ref": "GooglePrivacyDlpV2CloudSqlProperties"
        },
        "errors": {
          "description": "Output only. Set if status == ERROR, to provide additional details. Will store the last 10 errors sorted with the most recent first.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GooglePrivacyDlpV2Error"
          }
        },
        "name": {
          "description": "Output only. Name of the connection: `projects/{project}/locations/{location}/connections/{name}`.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "enum": [
            "CONNECTION_STATE_UNSPECIFIED",
            "MISSING_CREDENTIALS",
            "AVAILABLE",
            "ERROR"
          ],
          "description": "Required. The connection's state in its lifecycle.",
          "type": "string",
          "enumDescriptions": [
            "Unused",
            "The DLP API automatically created this connection during an initial scan, and it is awaiting full configuration by a user.",
            "A configured connection that has not encountered any errors.",
            "A configured connection that encountered errors during its last use. It will not be used again until it is set to AVAILABLE. If the resolution requires external action, then the client must send a request to set the status to AVAILABLE when the connection is ready for use. If the resolution doesn't require external action, then any changes to the connection properties will automatically mark it as AVAILABLE."
          ]
        }
      }
    },
    "GooglePrivacyDlpV2SecretManagerCredential": {
      "properties": {
        "passwordSecretVersionName": {
          "description": "Required. The name of the Secret Manager resource that stores the password, in the form `projects/project-id/secrets/secret-name/versions/version`.",
          "type": "string"
        },
        "username": {
          "description": "Required. The username.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2SecretManagerCredential",
      "description": "A credential consisting of a username and password, where the password is stored in a Secret Manager resource. Note: Secret Manager [charges apply](https://cloud.google.com/secret-manager/pricing)."
    },
    "GooglePrivacyDlpV2Trigger": {
      "id": "GooglePrivacyDlpV2Trigger",
      "description": "What event needs to occur for a new job to be started.",
      "properties": {
        "schedule": {
          "$ref": "GooglePrivacyDlpV2Schedule",
          "description": "Create a job on a repeating basis based on the elapse of time."
        },
        "manual": {
          "description": "For use with hybrid jobs. Jobs must be manually created and finished.",
          "$ref": "GooglePrivacyDlpV2Manual"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2LikelihoodAdjustment": {
      "id": "GooglePrivacyDlpV2LikelihoodAdjustment",
      "type": "object",
      "description": "Message for specifying an adjustment to the likelihood of a finding as part of a detection rule.",
      "properties": {
        "relativeLikelihood": {
          "format": "int32",
          "type": "integer",
          "description": "Increase or decrease the likelihood by the specified number of levels. For example, if a finding would be `POSSIBLE` without the detection rule and `relative_likelihood` is 1, then it is upgraded to `LIKELY`, while a value of -1 would downgrade it to `UNLIKELY`. Likelihood may never drop below `VERY_UNLIKELY` or exceed `VERY_LIKELY`, so applying an adjustment of 1 followed by an adjustment of -1 when base likelihood is `VERY_LIKELY` will result in a final likelihood of `LIKELY`."
        },
        "fixedLikelihood": {
          "type": "string",
          "enumDescriptions": [
            "Default value; same as POSSIBLE.",
            "Highest chance of a false positive.",
            "High chance of a false positive.",
            "Some matching signals. The default value.",
            "Low chance of a false positive.",
            "Confidence level is high. Lowest chance of a false positive."
          ],
          "description": "Set the likelihood of a finding to a fixed value.",
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ]
        }
      }
    },
    "GooglePrivacyDlpV2AmazonS3BucketRegex": {
      "properties": {
        "bucketNameRegex": {
          "description": "Optional. Regex to test the bucket name against. If empty, all buckets match.",
          "type": "string"
        },
        "awsAccountRegex": {
          "description": "The AWS account regex.",
          "$ref": "GooglePrivacyDlpV2AwsAccountRegex"
        }
      },
      "id": "GooglePrivacyDlpV2AmazonS3BucketRegex",
      "type": "object",
      "description": "Amazon S3 bucket regex."
    },
    "GooglePrivacyDlpV2PublishFindingsToCloudDataCatalog": {
      "description": "Publish findings of a DlpJob to Data Catalog. In Data Catalog, tag templates are applied to the resource that Cloud DLP scanned. Data Catalog tag templates are stored in the same project and region where the BigQuery table exists. For Cloud DLP to create and apply the tag template, the Cloud DLP service agent must have the `roles/datacatalog.tagTemplateOwner` permission on the project. The tag template contains fields summarizing the results of the DlpJob. Any field values previously written by another DlpJob are deleted. InfoType naming patterns are strictly enforced when using this feature. Findings are persisted in Data Catalog storage and are governed by service-specific policies for Data Catalog. For more information, see [Service Specific Terms](https://cloud.google.com/terms/service-terms). Only a single instance of this action can be specified. This action is allowed only if all resources being scanned are BigQuery tables. Compatible with: Inspect",
      "properties": {},
      "type": "object",
      "id": "GooglePrivacyDlpV2PublishFindingsToCloudDataCatalog"
    },
    "GooglePrivacyDlpV2DiscoveryVertexDatasetGenerationCadence": {
      "description": "How often existing datasets should have their profiles refreshed. New datasets are scanned as quickly as possible depending on system capacity.",
      "type": "object",
      "properties": {
        "inspectTemplateModifiedCadence": {
          "description": "Governs when to update data profiles when the inspection rules defined by the `InspectTemplate` change. If not set, changing the template will not cause a data profile to be updated.",
          "$ref": "GooglePrivacyDlpV2DiscoveryInspectTemplateModifiedCadence"
        },
        "refreshFrequency": {
          "enumDescriptions": [
            "Unspecified.",
            "After the data profile is created, it will never be updated.",
            "The data profile can be updated up to once every 24 hours.",
            "The data profile can be updated up to once every 30 days. Default."
          ],
          "enum": [
            "UPDATE_FREQUENCY_UNSPECIFIED",
            "UPDATE_FREQUENCY_NEVER",
            "UPDATE_FREQUENCY_DAILY",
            "UPDATE_FREQUENCY_MONTHLY"
          ],
          "type": "string",
          "description": "If you set this field, profiles are refreshed at this frequency regardless of whether the underlying datasets have changed. Defaults to never."
        }
      },
      "id": "GooglePrivacyDlpV2DiscoveryVertexDatasetGenerationCadence"
    },
    "GooglePrivacyDlpV2CancelDlpJobRequest": {
      "description": "The request message for canceling a DLP job.",
      "properties": {},
      "id": "GooglePrivacyDlpV2CancelDlpJobRequest",
      "type": "object"
    },
    "GooglePrivacyDlpV2ThrowError": {
      "description": "Throw an error and fail the request when a transformation error occurs.",
      "properties": {},
      "id": "GooglePrivacyDlpV2ThrowError",
      "type": "object"
    },
    "GooglePrivacyDlpV2DocumentLocation": {
      "type": "object",
      "id": "GooglePrivacyDlpV2DocumentLocation",
      "description": "Location of a finding within a document.",
      "properties": {
        "fileOffset": {
          "type": "string",
          "description": "Offset of the line, from the beginning of the file, where the finding is located.",
          "format": "int64"
        }
      }
    },
    "GooglePrivacyDlpV2RedactConfig": {
      "description": "Redact a given value. For example, if used with an `InfoTypeTransformation` transforming PHONE_NUMBER, and input 'My phone number is 206-555-0123', the output would be 'My phone number is '.",
      "properties": {},
      "type": "object",
      "id": "GooglePrivacyDlpV2RedactConfig"
    },
    "GooglePrivacyDlpV2HybridInspectResponse": {
      "id": "GooglePrivacyDlpV2HybridInspectResponse",
      "description": "Quota exceeded errors will be thrown once quota has been met.",
      "type": "object",
      "properties": {}
    },
    "GooglePrivacyDlpV2DeidentifyTemplate": {
      "type": "object",
      "properties": {
        "updateTime": {
          "description": "Output only. The last update timestamp of an inspectTemplate.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Display name (max 256 chars).",
          "type": "string"
        },
        "deidentifyConfig": {
          "description": "The core content of the template.",
          "$ref": "GooglePrivacyDlpV2DeidentifyConfig"
        },
        "description": {
          "description": "Short description (max 256 chars).",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The template name. The template will have one of the following formats: `projects/PROJECT_ID/deidentifyTemplates/TEMPLATE_ID` OR `organizations/ORGANIZATION_ID/deidentifyTemplates/TEMPLATE_ID`",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The creation timestamp of an inspectTemplate.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2DeidentifyTemplate",
      "description": "DeidentifyTemplates contains instructions on how to de-identify content. See https://docs.cloud.google.com/sensitive-data-protection/docs/concepts-templates to learn more."
    },
    "GooglePrivacyDlpV2TableOptions": {
      "properties": {
        "identifyingFields": {
          "type": "array",
          "description": "The columns that are the primary keys for table objects included in ContentItem. A copy of this cell's value will stored alongside alongside each finding so that the finding can be traced to the specific row it came from. No more than 3 may be provided.",
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldId"
          }
        }
      },
      "id": "GooglePrivacyDlpV2TableOptions",
      "description": "Instructions regarding the table content being inspected.",
      "type": "object"
    },
    "GooglePrivacyDlpV2LabelFieldMetadata": {
      "properties": {
        "value": {
          "description": "The value of the Label Field.",
          "$ref": "GooglePrivacyDlpV2Value"
        },
        "id": {
          "type": "string",
          "description": "The identifier of the Label Field."
        }
      },
      "id": "GooglePrivacyDlpV2LabelFieldMetadata",
      "description": "The field values of the Google Drive label",
      "type": "object"
    },
    "GooglePrivacyDlpV2HybridFindingDetails": {
      "id": "GooglePrivacyDlpV2HybridFindingDetails",
      "properties": {
        "containerDetails": {
          "description": "Details about the container where the content being inspected is from.",
          "$ref": "GooglePrivacyDlpV2Container"
        },
        "fileOffset": {
          "format": "int64",
          "description": "Offset in bytes of the line, from the beginning of the file, where the finding is located. Populate if the item being scanned is only part of a bigger item, such as a shard of a file and you want to track the absolute position of the finding.",
          "type": "string"
        },
        "tableOptions": {
          "$ref": "GooglePrivacyDlpV2TableOptions",
          "description": "If the container is a table, additional information to make findings meaningful such as the columns that are primary keys. If not known ahead of time, can also be set within each inspect hybrid call and the two will be merged. Note that identifying_fields will only be stored to BigQuery, and only if the BigQuery action has been included."
        },
        "rowOffset": {
          "format": "int64",
          "type": "string",
          "description": "Offset of the row for tables. Populate if the row(s) being scanned are part of a bigger dataset and you want to keep track of their absolute position."
        },
        "labels": {
          "description": "Labels to represent user provided metadata about the data being inspected. If configured by the job, some key values may be required. The labels associated with `Finding`'s produced by hybrid inspection. Label keys must be between 1 and 63 characters long and must conform to the following regular expression: `[a-z]([-a-z0-9]*[a-z0-9])?`. Label values must be between 0 and 63 characters long and must conform to the regular expression `([a-z]([-a-z0-9]*[a-z0-9])?)?`. No more than 10 labels can be associated with a given finding. Examples: * `\"environment\" : \"production\"` * `\"pipeline\" : \"etl\"`",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "description": "Populate to associate additional data with each finding.",
      "type": "object"
    },
    "GooglePrivacyDlpV2ImageTransformation": {
      "properties": {
        "allText": {
          "$ref": "GooglePrivacyDlpV2AllText",
          "description": "Apply transformation to all text that doesn't match an infoType. Only one instance is allowed within the ImageTransformations message."
        },
        "redactionColor": {
          "$ref": "GooglePrivacyDlpV2Color",
          "description": "The color to use when redacting content from an image. If not specified, the default is black."
        },
        "selectedInfoTypes": {
          "description": "Apply transformation to the selected info_types.",
          "$ref": "GooglePrivacyDlpV2SelectedInfoTypes"
        },
        "allInfoTypes": {
          "description": "Apply transformation to all findings not specified in other ImageTransformation's selected_info_types. Only one instance is allowed within the ImageTransformations message.",
          "$ref": "GooglePrivacyDlpV2AllInfoTypes"
        }
      },
      "description": "Configuration for determining how redaction of images should occur.",
      "id": "GooglePrivacyDlpV2ImageTransformation",
      "type": "object"
    },
    "GooglePrivacyDlpV2KAnonymityHistogramBucket": {
      "id": "GooglePrivacyDlpV2KAnonymityHistogramBucket",
      "description": "Histogram of k-anonymity equivalence classes.",
      "properties": {
        "bucketValueCount": {
          "type": "string",
          "description": "Total number of distinct equivalence classes in this bucket.",
          "format": "int64"
        },
        "equivalenceClassSizeLowerBound": {
          "description": "Lower bound on the size of the equivalence classes in this bucket.",
          "format": "int64",
          "type": "string"
        },
        "bucketSize": {
          "type": "string",
          "description": "Total number of equivalence classes in this bucket.",
          "format": "int64"
        },
        "bucketValues": {
          "description": "Sample of equivalence classes in this bucket. The total number of classes returned per bucket is capped at 20.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2KAnonymityEquivalenceClass"
          }
        },
        "equivalenceClassSizeUpperBound": {
          "format": "int64",
          "description": "Upper bound on the size of the equivalence classes in this bucket.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2AmazonS3Bucket": {
      "properties": {
        "awsAccount": {
          "$ref": "GooglePrivacyDlpV2AwsAccount",
          "description": "The AWS account."
        },
        "bucketName": {
          "type": "string",
          "description": "Required. The bucket name."
        }
      },
      "id": "GooglePrivacyDlpV2AmazonS3Bucket",
      "description": "Amazon S3 bucket.",
      "type": "object"
    },
    "GooglePrivacyDlpV2DeidentifyConfig": {
      "properties": {
        "infoTypeTransformations": {
          "description": "Treat the dataset as free-form text and apply the same free text transformation everywhere.",
          "$ref": "GooglePrivacyDlpV2InfoTypeTransformations"
        },
        "transformationErrorHandling": {
          "$ref": "GooglePrivacyDlpV2TransformationErrorHandling",
          "description": "Mode for handling transformation errors. If left unspecified, the default mode is `TransformationErrorHandling.ThrowError`."
        },
        "imageTransformations": {
          "$ref": "GooglePrivacyDlpV2ImageTransformations",
          "description": "Treat the dataset as an image and redact."
        },
        "recordTransformations": {
          "description": "Treat the dataset as structured. Transformations can be applied to specific locations within structured datasets, such as transforming a column within a table.",
          "$ref": "GooglePrivacyDlpV2RecordTransformations"
        }
      },
      "id": "GooglePrivacyDlpV2DeidentifyConfig",
      "description": "The configuration that controls how the data will change.",
      "type": "object"
    },
    "GooglePrivacyDlpV2CryptoKey": {
      "properties": {
        "unwrapped": {
          "$ref": "GooglePrivacyDlpV2UnwrappedCryptoKey",
          "description": "Unwrapped crypto key"
        },
        "kmsWrapped": {
          "description": "Key wrapped using Cloud KMS",
          "$ref": "GooglePrivacyDlpV2KmsWrappedCryptoKey"
        },
        "transient": {
          "description": "Transient crypto key",
          "$ref": "GooglePrivacyDlpV2TransientCryptoKey"
        }
      },
      "id": "GooglePrivacyDlpV2CryptoKey",
      "type": "object",
      "description": "This is a data encryption key (DEK) (as opposed to a key encryption key (KEK) stored by Cloud Key Management Service (Cloud KMS). When using Cloud KMS to wrap or unwrap a DEK, be sure to set an appropriate IAM policy on the KEK to ensure an attacker cannot unwrap the DEK."
    },
    "GooglePrivacyDlpV2InspectJobConfig": {
      "id": "GooglePrivacyDlpV2InspectJobConfig",
      "type": "object",
      "properties": {
        "storageConfig": {
          "description": "The data to scan.",
          "$ref": "GooglePrivacyDlpV2StorageConfig"
        },
        "inspectTemplateName": {
          "type": "string",
          "description": "If provided, will be used as the default for all values in InspectConfig. `inspect_config` will be merged into the values persisted as part of the template."
        },
        "inspectConfig": {
          "description": "How and what to scan for.",
          "$ref": "GooglePrivacyDlpV2InspectConfig"
        },
        "actions": {
          "description": "Actions to execute at the completion of the job.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Action"
          }
        }
      },
      "description": "Controls what and how to inspect for findings."
    },
    "GooglePrivacyDlpV2StoredType": {
      "id": "GooglePrivacyDlpV2StoredType",
      "description": "A reference to a StoredInfoType to use with scanning.",
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Timestamp indicating when the version of the `StoredInfoType` used for inspection was created. Output-only field, populated by the system.",
          "type": "string"
        },
        "name": {
          "description": "Resource name of the requested `StoredInfoType`, for example `organizations/433245324/storedInfoTypes/432452342` or `projects/project-id/storedInfoTypes/432452342`.",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2StorageConfig": {
      "description": "Shared message indicating Cloud storage type.",
      "properties": {
        "timespanConfig": {
          "$ref": "GooglePrivacyDlpV2TimespanConfig",
          "description": "Configuration of the timespan of the items to include in scanning."
        },
        "hybridOptions": {
          "description": "Hybrid inspection options.",
          "$ref": "GooglePrivacyDlpV2HybridOptions"
        },
        "datastoreOptions": {
          "description": "Google Cloud Datastore options.",
          "$ref": "GooglePrivacyDlpV2DatastoreOptions"
        },
        "bigQueryOptions": {
          "description": "BigQuery options.",
          "$ref": "GooglePrivacyDlpV2BigQueryOptions"
        },
        "cloudStorageOptions": {
          "description": "Cloud Storage options.",
          "$ref": "GooglePrivacyDlpV2CloudStorageOptions"
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2StorageConfig"
    },
    "GooglePrivacyDlpV2DataProfileFindingLocation": {
      "type": "object",
      "properties": {
        "containerName": {
          "type": "string",
          "description": "Name of the container where the finding is located. The top-level name is the source file name or table name. Names of some common storage containers are formatted as follows: * BigQuery tables: `{project_id}:{dataset_id}.{table_id}` * Cloud Storage files: `gs://{bucket}/{path}`"
        },
        "dataProfileFindingRecordLocation": {
          "description": "Location of a finding within a resource that produces a table data profile.",
          "$ref": "GooglePrivacyDlpV2DataProfileFindingRecordLocation"
        }
      },
      "id": "GooglePrivacyDlpV2DataProfileFindingLocation",
      "description": "Location of a data profile finding within a resource."
    },
    "GooglePrivacyDlpV2TimeZone": {
      "properties": {
        "offsetMinutes": {
          "description": "Set only if the offset can be determined. Positive for time ahead of UTC. E.g. For \"UTC-9\", this value is -540.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2TimeZone",
      "description": "Time zone of the date time object."
    },
    "GooglePrivacyDlpV2TransformationConfig": {
      "description": "User specified templates and configs for how to deidentify structured, unstructures, and image files. User must provide either a unstructured deidentify template or at least one redact image config.",
      "id": "GooglePrivacyDlpV2TransformationConfig",
      "properties": {
        "structuredDeidentifyTemplate": {
          "type": "string",
          "description": "Structured de-identify template. If this template is specified, it will serve as the de-identify template for structured content such as delimited files and tables. If this template is not set but the `deidentify_template` is set, then `deidentify_template` will also apply to the structured content. If neither template is set, a default `ReplaceWithInfoTypeConfig` will be used to de-identify structured content."
        },
        "imageRedactTemplate": {
          "type": "string",
          "description": "Image redact template. If this template is specified, it will serve as the de-identify template for images. If this template is not set, all findings in the image will be redacted with a black box."
        },
        "deidentifyTemplate": {
          "description": "De-identify template. If this template is specified, it will serve as the default de-identify template. This template cannot contain `record_transformations` since it can be used for unstructured content such as free-form text files. If this template is not set, a default `ReplaceWithInfoTypeConfig` will be used to de-identify unstructured content.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2ExclusionRule": {
      "properties": {
        "excludeInfoTypes": {
          "$ref": "GooglePrivacyDlpV2ExcludeInfoTypes",
          "description": "Set of infoTypes for which findings would affect this rule."
        },
        "excludeByImageFindings": {
          "$ref": "GooglePrivacyDlpV2ExcludeByImageFindings",
          "description": "Exclude findings based on image containment rules. For example, exclude an image finding if it overlaps with another image finding."
        },
        "dictionary": {
          "description": "Dictionary which defines the rule.",
          "$ref": "GooglePrivacyDlpV2Dictionary"
        },
        "regex": {
          "$ref": "GooglePrivacyDlpV2Regex",
          "description": "Regular expression which defines the rule."
        },
        "matchingType": {
          "enumDescriptions": [
            "Invalid.",
            "Full match. - Dictionary: join of Dictionary results matched the complete finding quote - Regex: all regex matches fill a finding quote from start to end - Exclude infoType: completely inside affecting infoTypes findings",
            "Partial match. - Dictionary: at least one of the tokens in the finding matches - Regex: substring of the finding matches - Exclude infoType: intersects with affecting infoTypes findings",
            "Inverse match. - Dictionary: no tokens in the finding match the dictionary - Regex: finding doesn't match the regex - Exclude infoType: no intersection with affecting infoTypes findings",
            "Rule-specific match. The matching logic is based on the specific rule being used. This is required for rules where the matching behavior is not a simple string comparison (e.g., image containment). This matching type can only be used with the `ExcludeByImageFindings` rule. - Exclude by image findings: The matching logic is defined within `ExcludeByImageFindings` based on spatial relationships between bounding boxes."
          ],
          "type": "string",
          "description": "How the rule is applied, see MatchingType documentation for details.",
          "enum": [
            "MATCHING_TYPE_UNSPECIFIED",
            "MATCHING_TYPE_FULL_MATCH",
            "MATCHING_TYPE_PARTIAL_MATCH",
            "MATCHING_TYPE_INVERSE_MATCH",
            "MATCHING_TYPE_RULE_SPECIFIC"
          ]
        },
        "excludeByHotword": {
          "description": "Drop if the hotword rule is contained in the proximate context. For tabular data, the context includes the column name.",
          "$ref": "GooglePrivacyDlpV2ExcludeByHotword"
        }
      },
      "description": "The rule that specifies conditions when findings of infoTypes specified in `InspectionRuleSet` are removed from results.",
      "id": "GooglePrivacyDlpV2ExclusionRule",
      "type": "object"
    },
    "GooglePrivacyDlpV2TransformationSummary": {
      "properties": {
        "transformation": {
          "description": "The specific transformation these stats apply to.",
          "$ref": "GooglePrivacyDlpV2PrimitiveTransformation"
        },
        "recordSuppress": {
          "$ref": "GooglePrivacyDlpV2RecordSuppression",
          "description": "The specific suppression option these stats apply to."
        },
        "transformedBytes": {
          "format": "int64",
          "description": "Total size in bytes that were transformed in some way.",
          "type": "string"
        },
        "field": {
          "description": "Set if the transformation was limited to a specific FieldId.",
          "$ref": "GooglePrivacyDlpV2FieldId"
        },
        "fieldTransformations": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldTransformation"
          },
          "description": "The field transformation that was applied. If multiple field transformations are requested for a single field, this list will contain all of them; otherwise, only one is supplied."
        },
        "infoType": {
          "$ref": "GooglePrivacyDlpV2InfoType",
          "description": "Set if the transformation was limited to a specific InfoType."
        },
        "results": {
          "items": {
[...]
