{
  "ownerDomain": "google.com",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "servicePath": "",
  "name": "dlp",
  "kind": "discovery#restDescription",
  "baseUrl": "https://dlp.googleapis.com/",
  "discoveryVersion": "v1",
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dlp.africa-south1.rep.googleapis.com/",
      "location": "africa-south1"
    },
    {
      "location": "asia-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dlp.asia-east1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dlp.asia-east2.rep.googleapis.com/",
      "location": "asia-east2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dlp.asia-northeast1.rep.googleapis.com/",
      "location": "asia-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-northeast2",
      "endpointUrl": "https://dlp.asia-northeast2.rep.googleapis.com/"
    },
    {
      "location": "asia-northeast3",
      "endpointUrl": "https://dlp.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dlp.asia-south1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-south2",
      "endpointUrl": "https://dlp.asia-south2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dlp.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast1"
    },
    {
      "endpointUrl": "https://dlp.asia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast2"
    },
    {
      "location": "asia-southeast3",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dlp.asia-southeast3.rep.googleapis.com/"
    },
    {
      "location": "australia-southeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dlp.australia-southeast1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dlp.australia-southeast2.rep.googleapis.com/",
      "location": "australia-southeast2"
    },
    {
      "endpointUrl": "https://dlp.europe-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-central2"
    },
    {
      "endpointUrl": "https://dlp.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-north1"
    },
    {
      "location": "europe-north2",
      "endpointUrl": "https://dlp.europe-north2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-southwest1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dlp.europe-southwest1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dlp.europe-west1.rep.googleapis.com/",
      "location": "europe-west1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dlp.europe-west10.rep.googleapis.com/",
      "location": "europe-west10",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dlp.europe-west12.rep.googleapis.com/",
      "location": "europe-west12"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dlp.europe-west2.rep.googleapis.com/",
      "location": "europe-west2"
    },
    {
      "endpointUrl": "https://dlp.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west3"
    },
    {
      "endpointUrl": "https://dlp.europe-west4.rep.googleapis.com/",
      "location": "europe-west4",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west6",
      "endpointUrl": "https://dlp.europe-west6.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dlp.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west8"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west9",
      "endpointUrl": "https://dlp.europe-west9.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "me-central1",
      "endpointUrl": "https://dlp.me-central1.rep.googleapis.com/"
    },
    {
      "location": "me-central2",
      "endpointUrl": "https://dlp.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "me-west1",
      "endpointUrl": "https://dlp.me-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "northamerica-northeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dlp.northamerica-northeast1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dlp.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-northeast2"
    },
    {
      "endpointUrl": "https://dlp.northamerica-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-south1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dlp.southamerica-east1.rep.googleapis.com/",
      "location": "southamerica-east1"
    },
    {
      "endpointUrl": "https://dlp.southamerica-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "southamerica-west1"
    },
    {
      "endpointUrl": "https://dlp.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dlp.us-central2.rep.googleapis.com/",
      "location": "us-central2"
    },
    {
      "location": "us-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dlp.us-east1.rep.googleapis.com/"
    },
    {
      "location": "us-east4",
      "endpointUrl": "https://dlp.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dlp.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east5"
    },
    {
      "location": "us-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dlp.us-south1.rep.googleapis.com/"
    },
    {
      "location": "us-west1",
      "endpointUrl": "https://dlp.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dlp.us-west2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dlp.us-west3.rep.googleapis.com/",
      "location": "us-west3"
    },
    {
      "endpointUrl": "https://dlp.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west4"
    },
    {
      "endpointUrl": "https://dlp.us-west8.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west8"
    },
    {
      "location": "us",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dlp.us.rep.googleapis.com/"
    },
    {
      "location": "eu",
      "endpointUrl": "https://dlp.eu.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dlp.in.rep.googleapis.com/",
      "location": "in"
    }
  ],
  "version_module": true,
  "rootUrl": "https://dlp.googleapis.com/",
  "protocol": "rest",
  "resources": {
    "projects": {
      "resources": {
        "inspectTemplates": {
          "methods": {
            "patch": {
              "description": "Updates the InspectTemplate. See https://docs.cloud.google.com/sensitive-data-protection/docs/creating-templates to learn more.",
              "response": {
                "$ref": "GooglePrivacyDlpV2InspectTemplate"
              },
              "httpMethod": "PATCH",
              "request": {
                "$ref": "GooglePrivacyDlpV2UpdateInspectTemplateRequest"
              },
              "path": "v2/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Resource name of organization and inspectTemplate to be updated, for example `organizations/433245324/inspectTemplates/432452342` or projects/project-id/inspectTemplates/432452342.",
                  "pattern": "^projects/[^/]+/inspectTemplates/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "dlp.projects.inspectTemplates.patch",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v2/projects/{projectsId}/inspectTemplates/{inspectTemplatesId}"
            },
            "create": {
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "description": "Required. Parent resource name. The format of this value varies depending on the scope of the request (project or organization) and whether you have [specified a processing location](https://docs.cloud.google.com/sensitive-data-protection/docs/specifying-location): + Projects scope, location specified: `projects/{project_id}/locations/{location_id}` + Projects scope, no location specified (defaults to global): `projects/{project_id}` + Organizations scope, location specified: `organizations/{org_id}/locations/{location_id}` + Organizations scope, no location specified (defaults to global): `organizations/{org_id}` The following example `parent` string specifies a parent project with the identifier `example-project`, and specifies the `europe-west3` location for processing data: parent=projects/example-project/locations/europe-west3",
                  "pattern": "^projects/[^/]+$",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "GooglePrivacyDlpV2CreateInspectTemplateRequest"
              },
              "description": "Creates an InspectTemplate for reusing frequently used configuration for inspecting content, images, and storage. See https://docs.cloud.google.com/sensitive-data-protection/docs/creating-templates to learn more.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v2/projects/{projectsId}/inspectTemplates",
              "path": "v2/{+parent}/inspectTemplates",
              "response": {
                "$ref": "GooglePrivacyDlpV2InspectTemplate"
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "dlp.projects.inspectTemplates.create",
              "httpMethod": "POST"
            },
            "delete": {
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/inspectTemplates/[^/]+$",
                  "description": "Required. Resource name of the organization and inspectTemplate to be deleted, for example `organizations/433245324/inspectTemplates/432452342` or projects/project-id/inspectTemplates/432452342.",
                  "type": "string",
                  "required": true
                }
              },
              "description": "Deletes an InspectTemplate. See https://docs.cloud.google.com/sensitive-data-protection/docs/creating-templates to learn more.",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2/projects/{projectsId}/inspectTemplates/{inspectTemplatesId}",
              "id": "dlp.projects.inspectTemplates.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "DELETE",
              "path": "v2/{+name}"
            },
            "list": {
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. Parent resource name. The format of this value varies depending on the scope of the request (project or organization) and whether you have [specified a processing location](https://docs.cloud.google.com/sensitive-data-protection/docs/specifying-location): + Projects scope, location specified: `projects/{project_id}/locations/{location_id}` + Projects scope, no location specified (defaults to global): `projects/{project_id}` + Organizations scope, location specified: `organizations/{org_id}/locations/{location_id}` + Organizations scope, no location specified (defaults to global): `organizations/{org_id}` The following example `parent` string specifies a parent project with the identifier `example-project`, and specifies the `europe-west3` location for processing data: parent=projects/example-project/locations/europe-west3",
                  "location": "path"
                },
                "pageToken": {
                  "description": "Page token to continue retrieval. Comes from the previous call to `ListInspectTemplates`.",
                  "type": "string",
                  "location": "query"
                },
                "orderBy": {
                  "description": "Comma-separated list of fields to order by, followed by `asc` or `desc` postfix. This list is case insensitive. The default sorting order is ascending. Redundant space characters are insignificant. Example: `name asc,update_time, create_time desc` Supported fields are: - `create_time`: corresponds to the time the template was created. - `update_time`: corresponds to the time the template was last updated. - `name`: corresponds to the template's name. - `display_name`: corresponds to the template's display name.",
                  "type": "string",
                  "location": "query"
                },
                "locationId": {
                  "location": "query",
                  "description": "Deprecated. This field has no effect.",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Size of the page. This value can be limited by the server. If zero server returns a page of max size 100.",
                  "format": "int32",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists InspectTemplates. See https://docs.cloud.google.com/sensitive-data-protection/docs/creating-templates to learn more.",
              "flatPath": "v2/projects/{projectsId}/inspectTemplates",
              "id": "dlp.projects.inspectTemplates.list",
              "response": {
                "$ref": "GooglePrivacyDlpV2ListInspectTemplatesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v2/{+parent}/inspectTemplates",
              "httpMethod": "GET"
            },
            "get": {
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/inspectTemplates/[^/]+$",
                  "required": true,
                  "description": "Required. Resource name of the organization and inspectTemplate to be read, for example `organizations/433245324/inspectTemplates/432452342` or projects/project-id/inspectTemplates/432452342.",
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "v2/projects/{projectsId}/inspectTemplates/{inspectTemplatesId}",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets an InspectTemplate. See https://docs.cloud.google.com/sensitive-data-protection/docs/creating-templates to learn more.",
              "id": "dlp.projects.inspectTemplates.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "GooglePrivacyDlpV2InspectTemplate"
              },
              "path": "v2/{+name}"
            }
          }
        },
        "locations": {
          "resources": {
            "discoveryConfigs": {
              "methods": {
                "patch": {
                  "httpMethod": "PATCH",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/discoveryConfigs/{discoveryConfigsId}",
                  "description": "Updates a discovery configuration.",
                  "request": {
                    "$ref": "GooglePrivacyDlpV2UpdateDiscoveryConfigRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GooglePrivacyDlpV2DiscoveryConfig"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. Resource name of the project and the configuration, for example `projects/dlp-test-project/discoveryConfigs/53234423`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/discoveryConfigs/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "dlp.projects.locations.discoveryConfigs.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2/{+name}"
                },
                "get": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/discoveryConfigs/[^/]+$",
                      "description": "Required. Resource name of the project and the configuration, for example `projects/dlp-test-project/discoveryConfigs/53234423`.",
                      "required": true
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/discoveryConfigs/{discoveryConfigsId}",
                  "path": "v2/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "dlp.projects.locations.discoveryConfigs.get",
                  "description": "Gets a discovery configuration.",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2DiscoveryConfig"
                  },
                  "httpMethod": "GET"
                },
                "create": {
                  "response": {
                    "$ref": "GooglePrivacyDlpV2DiscoveryConfig"
                  },
                  "httpMethod": "POST",
                  "description": "Creates a config for discovery to scan and profile storage.",
                  "request": {
                    "$ref": "GooglePrivacyDlpV2CreateDiscoveryConfigRequest"
                  },
                  "path": "v2/{+parent}/discoveryConfigs",
                  "id": "dlp.projects.locations.discoveryConfigs.create",
                  "parameters": {
                    "parent": {
                      "description": "Required. Parent resource name. The format of this value varies depending on the scope of the request (project or organization): + Projects scope: `projects/{project_id}/locations/{location_id}` + Organizations scope: `organizations/{org_id}/locations/{location_id}` The following example `parent` string specifies a parent project with the identifier `example-project`, and specifies the `europe-west3` location for processing data: parent=projects/example-project/locations/europe-west3",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/discoveryConfigs",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "delete": {
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "httpMethod": "DELETE",
                  "id": "dlp.projects.locations.discoveryConfigs.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. Resource name of the project and the config, for example `projects/dlp-test-project/discoveryConfigs/53234423`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/discoveryConfigs/[^/]+$"
                    }
                  },
                  "path": "v2/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/discoveryConfigs/{discoveryConfigsId}",
                  "description": "Deletes a discovery configuration."
                },
                "list": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/discoveryConfigs",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists discovery configurations.",
                  "path": "v2/{+parent}/discoveryConfigs",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Page token to continue retrieval. Comes from the previous call to ListDiscoveryConfigs. `order_by` field must not change for subsequent calls."
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. Parent resource name. The format of this value is as follows: `projects/{project_id}/locations/{location_id}` The following example `parent` string specifies a parent project with the identifier `example-project`, and specifies the `europe-west3` location for processing data: parent=projects/example-project/locations/europe-west3"
                    },
                    "pageSize": {
                      "description": "Size of the page. This value can be limited by a server.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "orderBy": {
                      "type": "string",
                      "location": "query",
                      "description": "Comma-separated list of config fields to order by, followed by `asc` or `desc` postfix. This list is case insensitive. The default sorting order is ascending. Redundant space characters are insignificant. Example: `name asc,update_time, create_time desc` Supported fields are: - `last_run_time`: corresponds to the last time the DiscoveryConfig ran. - `name`: corresponds to the DiscoveryConfig's name. - `status`: corresponds to DiscoveryConfig's status."
                    }
                  },
                  "id": "dlp.projects.locations.discoveryConfigs.list",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GooglePrivacyDlpV2ListDiscoveryConfigsResponse"
                  }
                }
              }
            },
            "infoTypes": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "dlp.projects.locations.infoTypes.list",
                  "path": "v2/{+parent}/infoTypes",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2ListInfoTypesResponse"
                  },
                  "httpMethod": "GET",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/infoTypes",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The parent resource name. The format of this value is as follows: `locations/{location_id}`"
                    },
                    "locationId": {
                      "location": "query",
                      "description": "Deprecated. This field has no effect.",
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "description": "filter to only return infoTypes supported by certain parts of the API. Defaults to supported_by=INSPECT.",
                      "location": "query"
                    },
                    "languageCode": {
                      "type": "string",
                      "location": "query",
                      "description": "BCP-47 language code for localized infoType friendly names. If omitted, or if localized strings are not available, en-US strings will be returned."
                    }
                  },
                  "description": "Returns a list of the sensitive information types that the DLP API supports. See https://docs.cloud.google.com/sensitive-data-protection/docs/infotypes-reference to learn more."
                }
              }
            },
            "connections": {
              "methods": {
                "patch": {
                  "response": {
                    "$ref": "GooglePrivacyDlpV2Connection"
                  },
                  "id": "dlp.projects.locations.connections.patch",
                  "httpMethod": "PATCH",
                  "description": "Update a Connection.",
                  "path": "v2/{+name}",
                  "parameters": {
                    "name": {
                      "description": "Required. Resource name in the format: `projects/{project}/locations/{location}/connections/{connection}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "GooglePrivacyDlpV2UpdateConnectionRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}"
                },
                "search": {
                  "response": {
                    "$ref": "GooglePrivacyDlpV2SearchConnectionsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. Number of results per page, max 1000."
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. Resource name of the organization or project with a wildcard location, for example, `organizations/433245324/locations/-` or `projects/project-id/locations/-`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path"
                    },
                    "filter": {
                      "description": "Optional. Supported field/value: - `state` - MISSING|AVAILABLE|ERROR The syntax is based on https://google.aip.dev/160.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "Optional. Page token from a previous page to return the next set of results. If set, all other request fields must match the original request.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "description": "Searches for Connections in a parent.",
                  "httpMethod": "GET",
                  "path": "v2/{+parent}/connections:search",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections:search",
                  "id": "dlp.projects.locations.connections.search"
                },
                "get": {
                  "id": "dlp.projects.locations.connections.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Resource name in the format: `projects/{project}/locations/{location}/connections/{connection}`.",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GooglePrivacyDlpV2Connection"
                  },
                  "path": "v2/{+name}",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Get a Connection by name."
                },
                "list": {
                  "httpMethod": "GET",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v2/{+parent}/connections",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "description": "Required. Resource name of the organization or project, for example, `organizations/433245324/locations/europe` or `projects/project-id/locations/asia`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "Optional. Page token from a previous page to return the next set of results. If set, all other request fields must match the original request.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. Number of results per page, max 1000.",
                      "type": "integer",
                      "location": "query"
                    },
                    "filter": {
                      "description": "Optional. Supported field/value: `state` - MISSING|AVAILABLE|ERROR The syntax is based on https://google.aip.dev/160.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "id": "dlp.projects.locations.connections.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GooglePrivacyDlpV2ListConnectionsResponse"
                  },
                  "description": "Lists Connections in a parent. Use SearchConnections to see all connections within an organization."
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Parent resource name. The format of this value varies depending on the scope of the request (project or organization): + Projects scope: `projects/{project_id}/locations/{location_id}` + Organizations scope: `organizations/{org_id}/locations/{location_id}`",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "description": "Create a Connection to an external data source.",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2Connection"
                  },
                  "id": "dlp.projects.locations.connections.create",
                  "request": {
                    "$ref": "GooglePrivacyDlpV2CreateConnectionRequest"
                  },
                  "path": "v2/{+parent}/connections",
                  "httpMethod": "POST",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "required": true,
                      "description": "Required. Resource name of the Connection to be deleted, in the format: `projects/{project}/locations/{location}/connections/{connection}`.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "description": "Delete a Connection.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "id": "dlp.projects.locations.connections.delete",
                  "httpMethod": "DELETE",
                  "path": "v2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "storedInfoTypes": {
              "methods": {
                "create": {
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GooglePrivacyDlpV2CreateStoredInfoTypeRequest"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/storedInfoTypes",
                  "description": "Creates a pre-built stored infoType to be used for inspection. See https://docs.cloud.google.com/sensitive-data-protection/docs/creating-stored-infotypes to learn more.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GooglePrivacyDlpV2StoredInfoType"
                  },
                  "path": "v2/{+parent}/storedInfoTypes",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "dlp.projects.locations.storedInfoTypes.create",
                  "parameters": {
                    "parent": {
                      "description": "Required. Parent resource name. The format of this value varies depending on the scope of the request (project or organization) and whether you have [specified a processing location](https://docs.cloud.google.com/sensitive-data-protection/docs/specifying-location): + Projects scope, location specified: `projects/{project_id}/locations/{location_id}` + Projects scope, no location specified (defaults to global): `projects/{project_id}` + Organizations scope, location specified: `organizations/{org_id}/locations/{location_id}` + Organizations scope, no location specified (defaults to global): `organizations/{org_id}` The following example `parent` string specifies a parent project with the identifier `example-project`, and specifies the `europe-west3` location for processing data: parent=projects/example-project/locations/europe-west3",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    }
                  }
                },
                "delete": {
                  "path": "v2/{+name}",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/storedInfoTypes/{storedInfoTypesId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. Resource name of the organization and storedInfoType to be deleted, for example `organizations/433245324/storedInfoTypes/432452342` or projects/project-id/storedInfoTypes/432452342.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/storedInfoTypes/[^/]+$"
                    }
                  },
                  "id": "dlp.projects.locations.storedInfoTypes.delete",
                  "description": "Deletes a stored infoType. See https://docs.cloud.google.com/sensitive-data-protection/docs/creating-stored-infotypes to learn more.",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/storedInfoTypes",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2/{+parent}/storedInfoTypes",
                  "httpMethod": "GET",
                  "id": "dlp.projects.locations.storedInfoTypes.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "locationId": {
                      "location": "query",
                      "description": "Deprecated. This field has no effect.",
                      "type": "string"
                    },
                    "orderBy": {
                      "description": "Comma-separated list of fields to order by, followed by `asc` or `desc` postfix. This list is case insensitive. The default sorting order is ascending. Redundant space characters are insignificant. Example: `name asc, display_name, create_time desc` Supported fields are: - `create_time`: corresponds to the time the most recent version of the resource was created. - `state`: corresponds to the state of the resource. - `name`: corresponds to resource name. - `display_name`: corresponds to info type's display name.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. Parent resource name. The format of this value varies depending on the scope of the request (project or organization) and whether you have [specified a processing location](https://docs.cloud.google.com/sensitive-data-protection/docs/specifying-location): + Projects scope, location specified: `projects/{project_id}/locations/{location_id}` + Projects scope, no location specified (defaults to global): `projects/{project_id}` The following example `parent` string specifies a parent project with the identifier `example-project`, and specifies the `europe-west3` location for processing data: parent=projects/example-project/locations/europe-west3",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Size of the page. This value can be limited by the server. If zero server returns a page of max size 100."
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Page token to continue retrieval. Comes from the previous call to `ListStoredInfoTypes`.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GooglePrivacyDlpV2ListStoredInfoTypesResponse"
                  },
                  "description": "Lists stored infoTypes. See https://docs.cloud.google.com/sensitive-data-protection/docs/creating-stored-infotypes to learn more."
                },
                "get": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. Resource name of the organization and storedInfoType to be read, for example `organizations/433245324/storedInfoTypes/432452342` or projects/project-id/storedInfoTypes/432452342.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/storedInfoTypes/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GooglePrivacyDlpV2StoredInfoType"
                  },
                  "id": "dlp.projects.locations.storedInfoTypes.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2/{+name}",
                  "description": "Gets a stored infoType. See https://docs.cloud.google.com/sensitive-data-protection/docs/creating-stored-infotypes to learn more.",
                  "httpMethod": "GET",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/storedInfoTypes/{storedInfoTypesId}"
                },
                "patch": {
                  "path": "v2/{+name}",
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/storedInfoTypes/{storedInfoTypesId}",
                  "description": "Updates the stored infoType by creating a new version. The existing version will continue to be used until the new version is ready. See https://docs.cloud.google.com/sensitive-data-protection/docs/creating-stored-infotypes to learn more.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "dlp.projects.locations.storedInfoTypes.patch",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2StoredInfoType"
                  },
                  "request": {
                    "$ref": "GooglePrivacyDlpV2UpdateStoredInfoTypeRequest"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/storedInfoTypes/[^/]+$",
                      "required": true,
                      "description": "Required. Resource name of organization and storedInfoType to be updated, for example `organizations/433245324/storedInfoTypes/432452342` or projects/project-id/storedInfoTypes/432452342.",
                      "location": "path"
                    }
                  }
                }
              }
            },
            "dlpJobs": {
              "methods": {
                "finish": {
                  "request": {
                    "$ref": "GooglePrivacyDlpV2FinishDlpJobRequest"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/dlpJobs/{dlpJobsId}:finish",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the DlpJob resource to be finished.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dlpJobs/[^/]+$"
                    }
                  },
                  "id": "dlp.projects.locations.dlpJobs.finish",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Finish a running hybrid DlpJob. Triggers the finalization steps and running of any enabled actions that have not yet run.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "path": "v2/{+name}:finish"
                },
                "get": {
                  "description": "Gets the latest state of a long-running DlpJob. See https://docs.cloud.google.com/sensitive-data-protection/docs/inspecting-storage and https://docs.cloud.google.com/sensitive-data-protection/docs/compute-risk-analysis to learn more.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/dlpJobs/[^/]+$",
                      "description": "Required. The name of the DlpJob resource.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/dlpJobs/{dlpJobsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GooglePrivacyDlpV2DlpJob"
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2/{+name}",
                  "id": "dlp.projects.locations.dlpJobs.get"
                },
                "cancel": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running DlpJob. The server makes a best effort to cancel the DlpJob, but success is not guaranteed. See https://docs.cloud.google.com/sensitive-data-protection/docs/inspecting-storage and https://docs.cloud.google.com/sensitive-data-protection/docs/compute-risk-analysis to learn more.",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "id": "dlp.projects.locations.dlpJobs.cancel",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/dlpJobs/{dlpJobsId}:cancel",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The name of the DlpJob resource to be cancelled.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dlpJobs/[^/]+$"
                    }
                  },
                  "path": "v2/{+name}:cancel",
                  "request": {
                    "$ref": "GooglePrivacyDlpV2CancelDlpJobRequest"
                  }
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/dlpJobs",
                  "parameters": {
                    "orderBy": {
                      "description": "Comma-separated list of fields to order by, followed by `asc` or `desc` postfix. This list is case insensitive. The default sorting order is ascending. Redundant space characters are insignificant. Example: `name asc, end_time asc, create_time desc` Supported fields are: - `create_time`: corresponds to the time the job was created. - `end_time`: corresponds to the time the job ended. - `name`: corresponds to the job's name. - `state`: corresponds to `state`",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "locationId": {
                      "type": "string",
                      "description": "Deprecated. This field has no effect.",
                      "location": "query"
                    },
                    "type": {
                      "location": "query",
                      "description": "The type of job. Defaults to `DlpJobType.INSPECT`",
                      "enumDescriptions": [
                        "Defaults to INSPECT_JOB.",
                        "The job inspected Google Cloud for sensitive data.",
                        "The job executed a Risk Analysis computation."
                      ],
                      "enum": [
                        "DLP_JOB_TYPE_UNSPECIFIED",
                        "INSPECT_JOB",
                        "RISK_ANALYSIS_JOB"
                      ],
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. Parent resource name. The format of this value varies depending on whether you have [specified a processing location](https://docs.cloud.google.com/sensitive-data-protection/docs/specifying-location): + Projects scope, location specified: `projects/{project_id}/locations/{location_id}` + Projects scope, no location specified (defaults to global): `projects/{project_id}` The following example `parent` string specifies a parent project with the identifier `example-project`, and specifies the `europe-west3` location for processing data: parent=projects/example-project/locations/europe-west3",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Allows filtering. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by `AND` or `OR` logical operators. A sequence of restrictions implicitly uses `AND`. * A restriction has the form of `{field} {operator} {value}`. * Supported fields/values for inspect jobs: - `state` - PENDING|RUNNING|CANCELED|FINISHED|FAILED - `inspected_storage` - DATASTORE|CLOUD_STORAGE|BIGQUERY - `trigger_name` - The name of the trigger that created the job. - 'end_time` - Corresponds to the time the job finished. - 'start_time` - Corresponds to the time the job finished. * Supported fields for risk analysis jobs: - `state` - RUNNING|CANCELED|FINISHED|FAILED - 'end_time` - Corresponds to the time the job finished. - 'start_time` - Corresponds to the time the job finished. * The operator must be `=` or `!=`. The syntax is based on https://google.aip.dev/160. Examples: * inspected_storage = cloud_storage AND state = done * inspected_storage = cloud_storage OR inspected_storage = bigquery * inspected_storage = cloud_storage AND (state = done OR state = canceled) * end_time > \\\"2017-12-12T00:00:00+00:00\\\" The length of this field should be no more than 500 characters.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "description": "Lists DlpJobs that match the specified filter in the request. See https://docs.cloud.google.com/sensitive-data-protection/docs/inspecting-storage and https://docs.cloud.google.com/sensitive-data-protection/docs/compute-risk-analysis to learn more.",
                  "path": "v2/{+parent}/dlpJobs",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2ListDlpJobsResponse"
                  },
                  "id": "dlp.projects.locations.dlpJobs.list"
                },
                "hybridInspect": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dlpJobs/[^/]+$",
                      "description": "Required. Resource name of the job to execute a hybrid inspect on, for example `projects/dlp-test-project/dlpJob/53234423`.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "description": "Inspect hybrid content and store findings to a job. To review the findings, inspect the job. Inspection will occur asynchronously.",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/dlpJobs/{dlpJobsId}:hybridInspect",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GooglePrivacyDlpV2HybridInspectDlpJobRequest"
                  },
                  "response": {
                    "$ref": "GooglePrivacyDlpV2HybridInspectResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dlp.projects.locations.dlpJobs.hybridInspect",
                  "httpMethod": "POST",
                  "path": "v2/{+name}:hybridInspect"
                },
                "create": {
                  "httpMethod": "POST",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/dlpJobs",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "dlp.projects.locations.dlpJobs.create",
                  "request": {
                    "$ref": "GooglePrivacyDlpV2CreateDlpJobRequest"
                  },
                  "description": "Creates a new job to inspect storage or calculate risk metrics. See https://docs.cloud.google.com/sensitive-data-protection/docs/inspecting-storage and https://docs.cloud.google.com/sensitive-data-protection/docs/compute-risk-analysis to learn more. When no InfoTypes or CustomInfoTypes are specified in inspect jobs, the system will automatically choose what detectors to run. By default this may be all types, but may change over time as detectors are updated.",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2DlpJob"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. Parent resource name. The format of this value varies depending on whether you have [specified a processing location](https://docs.cloud.google.com/sensitive-data-protection/docs/specifying-location): + Projects scope, location specified: `projects/{project_id}/locations/{location_id}` + Projects scope, no location specified (defaults to global): `projects/{project_id}` The following example `parent` string specifies a parent project with the identifier `example-project`, and specifies the `europe-west3` location for processing data: parent=projects/example-project/locations/europe-west3",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v2/{+parent}/dlpJobs"
                },
                "delete": {
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dlp.projects.locations.dlpJobs.delete",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The name of the DlpJob resource to be deleted.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dlpJobs/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v2/{+name}",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/dlpJobs/{dlpJobsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a long-running DlpJob. This method indicates that the client is no longer interested in the DlpJob result. The job will be canceled if possible. See https://docs.cloud.google.com/sensitive-data-protection/docs/inspecting-storage and https://docs.cloud.google.com/sensitive-data-protection/docs/compute-risk-analysis to learn more."
                }
              }
            },
            "projectDataProfiles": {
              "methods": {
                "list": {
                  "parameters": {
                    "orderBy": {
                      "location": "query",
                      "description": "Comma-separated list of fields to order by, followed by `asc` or `desc` postfix. This list is case insensitive. The default sorting order is ascending. Redundant space characters are insignificant. Only one order field at a time is allowed. Examples: * `project_id` * `sensitivity_level desc` Supported fields: - `project_id`: Google Cloud project ID - `sensitivity_level`: How sensitive the data in a project is, at most - `data_risk_level`: How much risk is associated with this data - `profile_last_generated`: Date and time (in epoch seconds) the profile was last generated",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Allows filtering. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by `AND` or `OR` logical operators. A sequence of restrictions implicitly uses `AND`. * A restriction has the form of `{field} {operator} {value}`. * Supported fields: - `project_id`: the Google Cloud project ID - `sensitivity_level`: HIGH|MODERATE|LOW - `data_risk_level`: HIGH|MODERATE|LOW - `status_code`: an RPC status code as defined in https://github.com/googleapis/googleapis/blob/master/google/rpc/code.proto - `profile_last_generated`: Date and time the profile was last generated * The operator must be `=` or `!=`. The `profile_last_generated` filter also supports `<` and `>`. The syntax is based on https://google.aip.dev/160. Examples: * `project_id = 12345 AND status_code = 1` * `project_id = 12345 AND sensitivity_level = HIGH` * `profile_last_generated < \"2025-01-01T00:00:00.000Z\"` The length of this field should be no more than 500 characters.",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Size of the page. This value can be limited by the server. If zero, server returns a page of max size 100.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. organizations/{org_id}/locations/{loc_id}"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Page token to continue retrieval."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GooglePrivacyDlpV2ListProjectDataProfilesResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v2/{+parent}/projectDataProfiles",
                  "id": "dlp.projects.locations.projectDataProfiles.list",
                  "description": "Lists project data profiles for an organization.",
                  "httpMethod": "GET",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/projectDataProfiles"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GooglePrivacyDlpV2ProjectDataProfile"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/projectDataProfiles/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. Resource name, for example `organizations/12345/locations/us/projectDataProfiles/53234423`.",
                      "location": "path"
                    }
                  },
                  "path": "v2/{+name}",
                  "httpMethod": "GET",
                  "id": "dlp.projects.locations.projectDataProfiles.get",
                  "description": "Gets a project data profile.",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/projectDataProfiles/{projectDataProfilesId}"
                }
              }
            },
            "columnDataProfiles": {
              "methods": {
                "list": {
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "description": "Allows filtering. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by `AND` or `OR` logical operators. A sequence of restrictions implicitly uses `AND`. * A restriction has the form of `{field} {operator} {value}`. * Supported fields: - `table_data_profile_name`: The name of the related table data profile - `project_id`: The Google Cloud project ID (REQUIRED) - `dataset_id`: The BigQuery dataset ID (REQUIRED) - `table_id`: The BigQuery table ID (REQUIRED) - `field_id`: The ID of the BigQuery field - `info_type`: The infotype detected in the resource - `sensitivity_level`: HIGH|MEDIUM|LOW - `data_risk_level`: How much risk is associated with this data - `status_code`: An RPC status code as defined in https://github.com/googleapis/googleapis/blob/master/google/rpc/code.proto - `profile_last_generated`: Date and time the profile was last generated * The operator must be `=` for project_id, dataset_id, and table_id. Other filters also support `!=`. The `profile_last_generated` filter also supports `<` and `>`. The syntax is based on https://google.aip.dev/160. Examples: * project_id = 12345 AND status_code = 1 * project_id = 12345 AND sensitivity_level = HIGH * project_id = 12345 AND info_type = STREET_ADDRESS * profile_last_generated < \"2025-01-01T00:00:00.000Z\" The length of this field should be no more than 500 characters.",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Page token to continue retrieval.",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. Resource name of the organization or project, for example `organizations/433245324/locations/europe` or `projects/project-id/locations/asia`.",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Comma-separated list of fields to order by, followed by `asc` or `desc` postfix. This list is case insensitive. The default sorting order is ascending. Redundant space characters are insignificant. Only one order field at a time is allowed. Examples: * `project_id asc` * `table_id` * `sensitivity_level desc` Supported fields are: - `project_id`: The Google Cloud project ID. - `dataset_id`: The ID of a BigQuery dataset. - `table_id`: The ID of a BigQuery table. - `sensitivity_level`: How sensitive the data in a column is, at most. - `data_risk_level`: How much risk is associated with this data. - `profile_last_generated`: When the profile was last updated in epoch seconds."
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Size of the page. This value can be limited by the server. If zero, server returns a page of max size 100.",
                      "format": "int32",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "GooglePrivacyDlpV2ListColumnDataProfilesResponse"
                  },
                  "path": "v2/{+parent}/columnDataProfiles",
                  "description": "Lists column data profiles for an organization.",
                  "id": "dlp.projects.locations.columnDataProfiles.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/columnDataProfiles",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "get": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/columnDataProfiles/{columnDataProfilesId}",
                  "description": "Gets a column data profile.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "dlp.projects.locations.columnDataProfiles.get",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/columnDataProfiles/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. Resource name, for example `organizations/12345/locations/us/columnDataProfiles/53234423`.",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "GooglePrivacyDlpV2ColumnDataProfile"
                  }
                }
              }
            },
            "deidentifyTemplates": {
              "methods": {
                "create": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/deidentifyTemplates",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Parent resource name. The format of this value varies depending on the scope of the request (project or organization) and whether you have [specified a processing location](https://docs.cloud.google.com/sensitive-data-protection/docs/specifying-location): + Projects scope, location specified: `projects/{project_id}/locations/{location_id}` + Projects scope, no location specified (defaults to global): `projects/{project_id}` + Organizations scope, location specified: `organizations/{org_id}/locations/{location_id}` + Organizations scope, no location specified (defaults to global): `organizations/{org_id}` The following example `parent` string specifies a parent project with the identifier `example-project`, and specifies the `europe-west3` location for processing data: parent=projects/example-project/locations/europe-west3"
                    }
                  },
                  "request": {
                    "$ref": "GooglePrivacyDlpV2CreateDeidentifyTemplateRequest"
                  },
                  "path": "v2/{+parent}/deidentifyTemplates",
                  "description": "Creates a DeidentifyTemplate for reusing frequently used configuration for de-identifying content, images, and storage. See https://docs.cloud.google.com/sensitive-data-protection/docs/creating-templates-deid to learn more.",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2DeidentifyTemplate"
                  },
                  "id": "dlp.projects.locations.deidentifyTemplates.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "description": "Deletes a DeidentifyTemplate. See https://docs.cloud.google.com/sensitive-data-protection/docs/creating-templates-deid to learn more.",
                  "id": "dlp.projects.locations.deidentifyTemplates.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. Resource name of the organization and deidentify template to be deleted, for example `organizations/433245324/deidentifyTemplates/432452342` or projects/project-id/deidentifyTemplates/432452342.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/deidentifyTemplates/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/deidentifyTemplates/{deidentifyTemplatesId}",
                  "httpMethod": "DELETE",
                  "path": "v2/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "patch": {
                  "request": {
                    "$ref": "GooglePrivacyDlpV2UpdateDeidentifyTemplateRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GooglePrivacyDlpV2DeidentifyTemplate"
                  },
                  "id": "dlp.projects.locations.deidentifyTemplates.patch",
                  "path": "v2/{+name}",
                  "httpMethod": "PATCH",
                  "description": "Updates the DeidentifyTemplate. See https://docs.cloud.google.com/sensitive-data-protection/docs/creating-templates-deid to learn more.",
                  "parameters": {
                    "name": {
                      "description": "Required. Resource name of organization and deidentify template to be updated, for example `organizations/433245324/deidentifyTemplates/432452342` or projects/project-id/deidentifyTemplates/432452342.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/deidentifyTemplates/[^/]+$",
                      "type": "string"
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/deidentifyTemplates/{deidentifyTemplatesId}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "parameters": {
                    "locationId": {
                      "location": "query",
                      "description": "Deprecated. This field has no effect.",
                      "type": "string"
                    },
                    "orderBy": {
                      "description": "Comma-separated list of fields to order by, followed by `asc` or `desc` postfix. This list is case insensitive. The default sorting order is ascending. Redundant space characters are insignificant. Example: `name asc,update_time, create_time desc` Supported fields are: - `create_time`: corresponds to the time the template was created. - `update_time`: corresponds to the time the template was last updated. - `name`: corresponds to the template's name. - `display_name`: corresponds to the template's display name.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. Parent resource name. The format of this value varies depending on the scope of the request (project or organization) and whether you have [specified a processing location](https://docs.cloud.google.com/sensitive-data-protection/docs/specifying-location): + Projects scope, location specified: `projects/{project_id}/locations/{location_id}` + Projects scope, no location specified (defaults to global): `projects/{project_id}` + Organizations scope, location specified: `organizations/{org_id}/locations/{location_id}` + Organizations scope, no location specified (defaults to global): `organizations/{org_id}` The following example `parent` string specifies a parent project with the identifier `example-project`, and specifies the `europe-west3` location for processing data: parent=projects/example-project/locations/europe-west3",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Size of the page. This value can be limited by the server. If zero server returns a page of max size 100."
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Page token to continue retrieval. Comes from the previous call to `ListDeidentifyTemplates`.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GooglePrivacyDlpV2ListDeidentifyTemplatesResponse"
                  },
                  "description": "Lists DeidentifyTemplates. See https://docs.cloud.google.com/sensitive-data-protection/docs/creating-templates-deid to learn more.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "path": "v2/{+parent}/deidentifyTemplates",
                  "id": "dlp.projects.locations.deidentifyTemplates.list",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/deidentifyTemplates"
                },
                "get": {
                  "httpMethod": "GET",
                  "path": "v2/{+name}",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2DeidentifyTemplate"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets a DeidentifyTemplate. See https://docs.cloud.google.com/sensitive-data-protection/docs/creating-templates-deid to learn more.",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/deidentifyTemplates/{deidentifyTemplatesId}",
                  "id": "dlp.projects.locations.deidentifyTemplates.get",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/deidentifyTemplates/[^/]+$",
                      "description": "Required. Resource name of the organization and deidentify template to be read, for example `organizations/433245324/deidentifyTemplates/432452342` or projects/project-id/deidentifyTemplates/432452342.",
                      "location": "path"
                    }
                  }
                }
              }
            },
            "fileStoreDataProfiles": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/fileStoreDataProfiles",
                  "path": "v2/{+parent}/fileStoreDataProfiles",
                  "httpMethod": "GET",
                  "id": "dlp.projects.locations.fileStoreDataProfiles.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists file store data profiles for an organization.",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2ListFileStoreDataProfilesResponse"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. Resource name of the organization or project, for example `organizations/433245324/locations/europe` or `projects/project-id/locations/asia`.",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "description": "Optional. Size of the page. This value can be limited by the server. If zero, server returns a page of max size 100.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "filter": {
                      "description": "Optional. Allows filtering. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by `AND` or `OR` logical operators. A sequence of restrictions implicitly uses `AND`. * A restriction has the form of `{field} {operator} {value}`. * Supported fields: - `project_id`: The Google Cloud project ID - `account_id`: The AWS account ID - `file_store_path`: The path like \"gs://bucket\" - `data_source_type`: The profile's data source type, like \"google/storage/bucket\" - `data_storage_location`: The location where the file store's data is stored, like \"us-central1\" - `sensitivity_level`: HIGH|MODERATE|LOW - `data_risk_level`: HIGH|MODERATE|LOW - `resource_visibility`: PUBLIC|RESTRICTED - `status_code`: an RPC status code as defined in https://github.com/googleapis/googleapis/blob/master/google/rpc/code.proto - `profile_last_generated`: Date and time the profile was last generated * The operator must be `=` or `!=`. The `profile_last_generated` filter also supports `<` and `>`. The syntax is based on https://google.aip.dev/160. Examples: * `project_id = 12345 AND status_code = 1` * `project_id = 12345 AND sensitivity_level = HIGH` * `project_id = 12345 AND resource_visibility = PUBLIC` * `file_store_path = \"gs://mybucket\"` * `profile_last_generated < \"2025-01-01T00:00:00.000Z\"` The length of this field should be no more than 500 characters.",
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Comma-separated list of fields to order by, followed by `asc` or `desc` postfix. This list is case insensitive. The default sorting order is ascending. Redundant space characters are insignificant. Only one order field at a time is allowed. Examples: * `project_id asc` * `name` * `sensitivity_level desc` Supported fields are: - `project_id`: The Google Cloud project ID. - `sensitivity_level`: How sensitive the data in a table is, at most. - `data_risk_level`: How much risk is associated with this data. - `profile_last_generated`: When the profile was last updated in epoch seconds. - `last_modified`: The last time the resource was modified. - `resource_visibility`: Visibility restriction for this resource. - `name`: The name of the profile. - `create_time`: The time the file store was first created."
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. Page token to continue retrieval.",
                      "location": "query"
                    }
                  }
                },
                "get": {
                  "description": "Gets a file store data profile.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/fileStoreDataProfiles/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. Resource name, for example `organizations/12345/locations/us/fileStoreDataProfiles/53234423`."
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/fileStoreDataProfiles/{fileStoreDataProfilesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "dlp.projects.locations.fileStoreDataProfiles.get",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2FileStoreDataProfile"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "path": "v2/{+name}"
                },
                "delete": {
                  "path": "v2/{+name}",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/fileStoreDataProfiles/{fileStoreDataProfilesId}",
                  "id": "dlp.projects.locations.fileStoreDataProfiles.delete",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Delete a FileStoreDataProfile. Will not prevent the profile from being regenerated if the resource is still included in a discovery configuration.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. Resource name of the file store data profile.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/fileStoreDataProfiles/[^/]+$"
                    }
                  }
                }
              }
            },
            "jobTriggers": {
              "methods": {
                "patch": {
                  "path": "v2/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/jobTriggers/{jobTriggersId}",
                  "description": "Updates a job trigger. See https://docs.cloud.google.com/sensitive-data-protection/docs/creating-job-triggers to learn more.",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2JobTrigger"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. Resource name of the project and the triggeredJob, for example `projects/dlp-test-project/jobTriggers/53234423`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobTriggers/[^/]+$",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "GooglePrivacyDlpV2UpdateJobTriggerRequest"
                  },
                  "id": "dlp.projects.locations.jobTriggers.patch"
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists job triggers. See https://docs.cloud.google.com/sensitive-data-protection/docs/creating-job-triggers to learn more.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2ListJobTriggersResponse"
                  },
                  "parameters": {
                    "locationId": {
                      "location": "query",
                      "description": "Deprecated. This field has no effect.",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Size of the page. This value can be limited by a server.",
                      "format": "int32"
                    },
                    "filter": {
                      "description": "Allows filtering. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by `AND` or `OR` logical operators. A sequence of restrictions implicitly uses `AND`. * A restriction has the form of `{field} {operator} {value}`. * Supported fields/values for inspect triggers: - `status` - HEALTHY|PAUSED|CANCELLED - `inspected_storage` - DATASTORE|CLOUD_STORAGE|BIGQUERY - 'last_run_time` - RFC 3339 formatted timestamp, surrounded by quotation marks. Nanoseconds are ignored. - 'error_count' - Number of errors that have occurred while running. * The operator must be `=` or `!=` for status and inspected_storage. The syntax is based on https://google.aip.dev/160. Examples: * inspected_storage = cloud_storage AND status = HEALTHY * inspected_storage = cloud_storage OR inspected_storage = bigquery * inspected_storage = cloud_storage AND (state = PAUSED OR state = HEALTHY) * last_run_time > \\\"2017-12-12T00:00:00+00:00\\\" The length of this field should be no more than 500 characters.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "Required. Parent resource name. The format of this value varies depending on whether you have [specified a processing location](https://docs.cloud.google.com/sensitive-data-protection/docs/specifying-location): + Projects scope, location specified: `projects/{project_id}/locations/{location_id}` + Projects scope, no location specified (defaults to global): `projects/{project_id}` The following example `parent` string specifies a parent project with the identifier `example-project`, and specifies the `europe-west3` location for processing data: parent=projects/example-project/locations/europe-west3",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "type": {
                      "description": "The type of jobs. Will use `DlpJobType.INSPECT` if not set.",
                      "enumDescriptions": [
                        "Defaults to INSPECT_JOB.",
                        "The job inspected Google Cloud for sensitive data.",
                        "The job executed a Risk Analysis computation."
                      ],
                      "location": "query",
                      "enum": [
                        "DLP_JOB_TYPE_UNSPECIFIED",
                        "INSPECT_JOB",
                        "RISK_ANALYSIS_JOB"
                      ],
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Page token to continue retrieval. Comes from the previous call to ListJobTriggers. `order_by` field must not change for subsequent calls.",
                      "location": "query"
                    },
                    "orderBy": {
                      "location": "query",
                      "description": "Comma-separated list of triggeredJob fields to order by, followed by `asc` or `desc` postfix. This list is case insensitive. The default sorting order is ascending. Redundant space characters are insignificant. Example: `name asc,update_time, create_time desc` Supported fields are: - `create_time`: corresponds to the time the JobTrigger was created. - `update_time`: corresponds to the time the JobTrigger was last updated. - `last_run_time`: corresponds to the last time the JobTrigger ran. - `name`: corresponds to the JobTrigger's name. - `display_name`: corresponds to the JobTrigger's display name. - `status`: corresponds to JobTrigger's status.",
                      "type": "string"
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/jobTriggers",
                  "path": "v2/{+parent}/jobTriggers",
                  "id": "dlp.projects.locations.jobTriggers.list"
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GooglePrivacyDlpV2JobTrigger"
                  },
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. Parent resource name. The format of this value varies depending on whether you have [specified a processing location](https://docs.cloud.google.com/sensitive-data-protection/docs/specifying-location): + Projects scope, location specified: `projects/{project_id}/locations/{location_id}` + Projects scope, no location specified (defaults to global): `projects/{project_id}` The following example `parent` string specifies a parent project with the identifier `example-project`, and specifies the `europe-west3` location for processing data: parent=projects/example-project/locations/europe-west3"
                    }
                  },
                  "request": {
                    "$ref": "GooglePrivacyDlpV2CreateJobTriggerRequest"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "path": "v2/{+parent}/jobTriggers",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/jobTriggers",
                  "id": "dlp.projects.locations.jobTriggers.create",
                  "description": "Creates a job trigger to run DLP actions such as scanning storage for sensitive information on a set schedule. See https://docs.cloud.google.com/sensitive-data-protection/docs/creating-job-triggers to learn more."
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. Resource name of the project and the triggeredJob, for example `projects/dlp-test-project/jobTriggers/53234423`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobTriggers/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "description": "Deletes a job trigger. See https://docs.cloud.google.com/sensitive-data-protection/docs/creating-job-triggers to learn more.",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/jobTriggers/{jobTriggersId}",
                  "id": "dlp.projects.locations.jobTriggers.delete",
                  "httpMethod": "DELETE",
                  "path": "v2/{+name}"
                },
                "hybridInspect": {
                  "httpMethod": "POST",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/jobTriggers/{jobTriggersId}:hybridInspect",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dlp.projects.locations.jobTriggers.hybridInspect",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GooglePrivacyDlpV2HybridInspectResponse"
                  },
                  "path": "v2/{+name}:hybridInspect",
                  "description": "Inspect hybrid content and store findings to a trigger. The inspection will be processed asynchronously. To review the findings monitor the jobs within the trigger.",
                  "request": {
                    "$ref": "GooglePrivacyDlpV2HybridInspectJobTriggerRequest"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobTriggers/[^/]+$",
                      "required": true,
                      "description": "Required. Resource name of the trigger to execute a hybrid inspect on, for example `projects/dlp-test-project/jobTriggers/53234423`."
                    }
                  }
[...]
