{
  "baseUrl": "https://dlp.googleapis.com/",
  "revision": "20260912",
  "name": "dlp",
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "parameters": {
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    }
  },
  "description": "Discover and protect your sensitive data. A fully managed service designed to help you discover, classify, and protect your valuable data assets with ease.",
  "version": "v2",
  "servicePath": "",
  "id": "dlp:v2",
  "basePath": "",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://dlp.mtls.googleapis.com/",
  "resources": {
    "projects": {
      "resources": {
        "dlpJobs": {
          "methods": {
            "cancel": {
              "id": "dlp.projects.dlpJobs.cancel",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GooglePrivacyDlpV2CancelDlpJobRequest"
              },
              "flatPath": "v2/projects/{projectsId}/dlpJobs/{dlpJobsId}:cancel",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v2/{+name}:cancel",
              "description": "Starts asynchronous cancellation on a long-running DlpJob. The server makes a best effort to cancel the DlpJob, but success is not guaranteed. See https://docs.cloud.google.com/sensitive-data-protection/docs/inspecting-storage and https://docs.cloud.google.com/sensitive-data-protection/docs/compute-risk-analysis to learn more.",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the DlpJob resource to be cancelled.",
                  "pattern": "^projects/[^/]+/dlpJobs/[^/]+$",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              }
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists DlpJobs that match the specified filter in the request. See https://docs.cloud.google.com/sensitive-data-protection/docs/inspecting-storage and https://docs.cloud.google.com/sensitive-data-protection/docs/compute-risk-analysis to learn more.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v2/projects/{projectsId}/dlpJobs",
              "httpMethod": "GET",
              "id": "dlp.projects.dlpJobs.list",
              "path": "v2/{+parent}/dlpJobs",
              "response": {
                "$ref": "GooglePrivacyDlpV2ListDlpJobsResponse"
              },
              "parameters": {
                "type": {
                  "type": "string",
                  "enum": [
                    "DLP_JOB_TYPE_UNSPECIFIED",
                    "INSPECT_JOB",
                    "RISK_ANALYSIS_JOB"
                  ],
                  "description": "The type of job. Defaults to `DlpJobType.INSPECT`",
                  "location": "query",
                  "enumDescriptions": [
                    "Defaults to INSPECT_JOB.",
                    "The job inspected Google Cloud for sensitive data.",
                    "The job executed a Risk Analysis computation."
                  ]
                },
                "orderBy": {
                  "description": "Comma-separated list of fields to order by, followed by `asc` or `desc` postfix. This list is case insensitive. The default sorting order is ascending. Redundant space characters are insignificant. Example: `name asc, end_time asc, create_time desc` Supported fields are: - `create_time`: corresponds to the time the job was created. - `end_time`: corresponds to the time the job ended. - `name`: corresponds to the job's name. - `state`: corresponds to `state`",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "The standard list page size."
                },
                "parent": {
                  "type": "string",
                  "required": true,
                  "description": "Required. Parent resource name. The format of this value varies depending on whether you have [specified a processing location](https://docs.cloud.google.com/sensitive-data-protection/docs/specifying-location): + Projects scope, location specified: `projects/{project_id}/locations/{location_id}` + Projects scope, no location specified (defaults to global): `projects/{project_id}` The following example `parent` string specifies a parent project with the identifier `example-project`, and specifies the `europe-west3` location for processing data: parent=projects/example-project/locations/europe-west3",
                  "pattern": "^projects/[^/]+$",
                  "location": "path"
                },
                "locationId": {
                  "description": "Deprecated. This field has no effect.",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "description": "The standard list page token.",
                  "type": "string",
                  "location": "query"
                },
                "filter": {
                  "location": "query",
                  "description": "Allows filtering. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by `AND` or `OR` logical operators. A sequence of restrictions implicitly uses `AND`. * A restriction has the form of `{field} {operator} {value}`. * Supported fields/values for inspect jobs: - `state` - PENDING|RUNNING|CANCELED|FINISHED|FAILED - `inspected_storage` - DATASTORE|CLOUD_STORAGE|BIGQUERY - `trigger_name` - The name of the trigger that created the job. - 'end_time` - Corresponds to the time the job finished. - 'start_time` - Corresponds to the time the job finished. * Supported fields for risk analysis jobs: - `state` - RUNNING|CANCELED|FINISHED|FAILED - 'end_time` - Corresponds to the time the job finished. - 'start_time` - Corresponds to the time the job finished. * The operator must be `=` or `!=`. The syntax is based on https://google.aip.dev/160. Examples: * inspected_storage = cloud_storage AND state = done * inspected_storage = cloud_storage OR inspected_storage = bigquery * inspected_storage = cloud_storage AND (state = done OR state = canceled) * end_time > \\\"2017-12-12T00:00:00+00:00\\\" The length of this field should be no more than 500 characters.",
                  "type": "string"
                }
              }
            },
            "get": {
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/dlpJobs/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the DlpJob resource.",
                  "required": true
                }
              },
              "description": "Gets the latest state of a long-running DlpJob. See https://docs.cloud.google.com/sensitive-data-protection/docs/inspecting-storage and https://docs.cloud.google.com/sensitive-data-protection/docs/compute-risk-analysis to learn more.",
              "parameterOrder": [
                "name"
              ],
              "id": "dlp.projects.dlpJobs.get",
              "flatPath": "v2/projects/{projectsId}/dlpJobs/{dlpJobsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v2/{+name}",
              "response": {
                "$ref": "GooglePrivacyDlpV2DlpJob"
              }
            },
            "delete": {
              "path": "v2/{+name}",
              "description": "Deletes a long-running DlpJob. This method indicates that the client is no longer interested in the DlpJob result. The job will be canceled if possible. See https://docs.cloud.google.com/sensitive-data-protection/docs/inspecting-storage and https://docs.cloud.google.com/sensitive-data-protection/docs/compute-risk-analysis to learn more.",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/dlpJobs/[^/]+$",
                  "description": "Required. The name of the DlpJob resource to be deleted.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "v2/projects/{projectsId}/dlpJobs/{dlpJobsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "DELETE",
              "id": "dlp.projects.dlpJobs.delete",
              "parameterOrder": [
                "name"
              ]
            },
            "create": {
              "parameters": {
                "parent": {
                  "description": "Required. Parent resource name. The format of this value varies depending on whether you have [specified a processing location](https://docs.cloud.google.com/sensitive-data-protection/docs/specifying-location): + Projects scope, location specified: `projects/{project_id}/locations/{location_id}` + Projects scope, no location specified (defaults to global): `projects/{project_id}` The following example `parent` string specifies a parent project with the identifier `example-project`, and specifies the `europe-west3` location for processing data: parent=projects/example-project/locations/europe-west3",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "description": "Creates a new job to inspect storage or calculate risk metrics. See https://docs.cloud.google.com/sensitive-data-protection/docs/inspecting-storage and https://docs.cloud.google.com/sensitive-data-protection/docs/compute-risk-analysis to learn more. When no InfoTypes or CustomInfoTypes are specified in inspect jobs, the system will automatically choose what detectors to run. By default this may be all types, but may change over time as detectors are updated.",
              "id": "dlp.projects.dlpJobs.create",
              "path": "v2/{+parent}/dlpJobs",
              "flatPath": "v2/projects/{projectsId}/dlpJobs",
              "request": {
                "$ref": "GooglePrivacyDlpV2CreateDlpJobRequest"
              },
              "response": {
                "$ref": "GooglePrivacyDlpV2DlpJob"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "jobTriggers": {
          "methods": {
            "patch": {
              "response": {
                "$ref": "GooglePrivacyDlpV2JobTrigger"
              },
              "description": "Updates a job trigger. See https://docs.cloud.google.com/sensitive-data-protection/docs/creating-job-triggers to learn more.",
              "id": "dlp.projects.jobTriggers.patch",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2/projects/{projectsId}/jobTriggers/{jobTriggersId}",
              "httpMethod": "PATCH",
              "path": "v2/{+name}",
              "request": {
                "$ref": "GooglePrivacyDlpV2UpdateJobTriggerRequest"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/jobTriggers/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. Resource name of the project and the triggeredJob, for example `projects/dlp-test-project/jobTriggers/53234423`."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/jobTriggers/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. Resource name of the project and the triggeredJob, for example `projects/dlp-test-project/jobTriggers/53234423`.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "description": "Deletes a job trigger. See https://docs.cloud.google.com/sensitive-data-protection/docs/creating-job-triggers to learn more.",
              "id": "dlp.projects.jobTriggers.delete",
              "path": "v2/{+name}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "flatPath": "v2/projects/{projectsId}/jobTriggers/{jobTriggersId}"
            },
            "create": {
              "description": "Creates a job trigger to run DLP actions such as scanning storage for sensitive information on a set schedule. See https://docs.cloud.google.com/sensitive-data-protection/docs/creating-job-triggers to learn more.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GooglePrivacyDlpV2CreateJobTriggerRequest"
              },
              "path": "v2/{+parent}/jobTriggers",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GooglePrivacyDlpV2JobTrigger"
              },
              "id": "dlp.projects.jobTriggers.create",
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. Parent resource name. The format of this value varies depending on whether you have [specified a processing location](https://docs.cloud.google.com/sensitive-data-protection/docs/specifying-location): + Projects scope, location specified: `projects/{project_id}/locations/{location_id}` + Projects scope, no location specified (defaults to global): `projects/{project_id}` The following example `parent` string specifies a parent project with the identifier `example-project`, and specifies the `europe-west3` location for processing data: parent=projects/example-project/locations/europe-west3",
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "httpMethod": "POST",
              "flatPath": "v2/projects/{projectsId}/jobTriggers"
            },
            "get": {
              "description": "Gets a job trigger. See https://docs.cloud.google.com/sensitive-data-protection/docs/creating-job-triggers to learn more.",
              "id": "dlp.projects.jobTriggers.get",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2/projects/{projectsId}/jobTriggers/{jobTriggersId}",
              "path": "v2/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/jobTriggers/[^/]+$",
                  "description": "Required. Resource name of the project and the triggeredJob, for example `projects/dlp-test-project/jobTriggers/53234423`.",
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GooglePrivacyDlpV2JobTrigger"
              }
            },
            "list": {
              "parameters": {
                "pageSize": {
                  "description": "Size of the page. This value can be limited by a server.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Page token to continue retrieval. Comes from the previous call to ListJobTriggers. `order_by` field must not change for subsequent calls."
                },
                "filter": {
                  "type": "string",
                  "description": "Allows filtering. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by `AND` or `OR` logical operators. A sequence of restrictions implicitly uses `AND`. * A restriction has the form of `{field} {operator} {value}`. * Supported fields/values for inspect triggers: - `status` - HEALTHY|PAUSED|CANCELLED - `inspected_storage` - DATASTORE|CLOUD_STORAGE|BIGQUERY - 'last_run_time` - RFC 3339 formatted timestamp, surrounded by quotation marks. Nanoseconds are ignored. - 'error_count' - Number of errors that have occurred while running. * The operator must be `=` or `!=` for status and inspected_storage. The syntax is based on https://google.aip.dev/160. Examples: * inspected_storage = cloud_storage AND status = HEALTHY * inspected_storage = cloud_storage OR inspected_storage = bigquery * inspected_storage = cloud_storage AND (state = PAUSED OR state = HEALTHY) * last_run_time > \\\"2017-12-12T00:00:00+00:00\\\" The length of this field should be no more than 500 characters.",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. Parent resource name. The format of this value varies depending on whether you have [specified a processing location](https://docs.cloud.google.com/sensitive-data-protection/docs/specifying-location): + Projects scope, location specified: `projects/{project_id}/locations/{location_id}` + Projects scope, no location specified (defaults to global): `projects/{project_id}` The following example `parent` string specifies a parent project with the identifier `example-project`, and specifies the `europe-west3` location for processing data: parent=projects/example-project/locations/europe-west3",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "locationId": {
                  "description": "Deprecated. This field has no effect.",
                  "type": "string",
                  "location": "query"
                },
                "orderBy": {
                  "description": "Comma-separated list of triggeredJob fields to order by, followed by `asc` or `desc` postfix. This list is case insensitive. The default sorting order is ascending. Redundant space characters are insignificant. Example: `name asc,update_time, create_time desc` Supported fields are: - `create_time`: corresponds to the time the JobTrigger was created. - `update_time`: corresponds to the time the JobTrigger was last updated. - `last_run_time`: corresponds to the last time the JobTrigger ran. - `name`: corresponds to the JobTrigger's name. - `display_name`: corresponds to the JobTrigger's display name. - `status`: corresponds to JobTrigger's status.",
                  "location": "query",
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "enum": [
                    "DLP_JOB_TYPE_UNSPECIFIED",
                    "INSPECT_JOB",
                    "RISK_ANALYSIS_JOB"
                  ],
                  "enumDescriptions": [
                    "Defaults to INSPECT_JOB.",
                    "The job inspected Google Cloud for sensitive data.",
                    "The job executed a Risk Analysis computation."
                  ],
                  "description": "The type of jobs. Will use `DlpJobType.INSPECT` if not set.",
                  "location": "query"
                }
              },
              "flatPath": "v2/projects/{projectsId}/jobTriggers",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GooglePrivacyDlpV2ListJobTriggersResponse"
              },
              "id": "dlp.projects.jobTriggers.list",
              "path": "v2/{+parent}/jobTriggers",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists job triggers. See https://docs.cloud.google.com/sensitive-data-protection/docs/creating-job-triggers to learn more."
            },
            "activate": {
              "description": "Activate a job trigger. Causes the immediate execute of a trigger instead of waiting on the trigger event to occur.",
              "request": {
                "$ref": "GooglePrivacyDlpV2ActivateJobTriggerRequest"
              },
              "id": "dlp.projects.jobTriggers.activate",
              "httpMethod": "POST",
              "path": "v2/{+name}:activate",
              "response": {
                "$ref": "GooglePrivacyDlpV2DlpJob"
              },
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/jobTriggers/[^/]+$",
                  "type": "string",
                  "description": "Required. Resource name of the trigger to activate, for example `projects/dlp-test-project/jobTriggers/53234423`.",
                  "required": true,
                  "location": "path"
                }
              },
              "flatPath": "v2/projects/{projectsId}/jobTriggers/{jobTriggersId}:activate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "storedInfoTypes": {
          "methods": {
            "get": {
              "response": {
                "$ref": "GooglePrivacyDlpV2StoredInfoType"
              },
              "parameters": {
                "name": {
                  "description": "Required. Resource name of the organization and storedInfoType to be read, for example `organizations/433245324/storedInfoTypes/432452342` or projects/project-id/storedInfoTypes/432452342.",
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/storedInfoTypes/[^/]+$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v2/projects/{projectsId}/storedInfoTypes/{storedInfoTypesId}",
              "description": "Gets a stored infoType. See https://docs.cloud.google.com/sensitive-data-protection/docs/creating-stored-infotypes to learn more.",
              "httpMethod": "GET",
              "id": "dlp.projects.storedInfoTypes.get",
              "path": "v2/{+name}",
              "parameterOrder": [
                "name"
              ]
            },
            "patch": {
              "path": "v2/{+name}",
              "description": "Updates the stored infoType by creating a new version. The existing version will continue to be used until the new version is ready. See https://docs.cloud.google.com/sensitive-data-protection/docs/creating-stored-infotypes to learn more.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Resource name of organization and storedInfoType to be updated, for example `organizations/433245324/storedInfoTypes/432452342` or projects/project-id/storedInfoTypes/432452342.",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/storedInfoTypes/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "dlp.projects.storedInfoTypes.patch",
              "flatPath": "v2/projects/{projectsId}/storedInfoTypes/{storedInfoTypesId}",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "GooglePrivacyDlpV2UpdateStoredInfoTypeRequest"
              },
              "response": {
                "$ref": "GooglePrivacyDlpV2StoredInfoType"
              }
            },
            "delete": {
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/storedInfoTypes/[^/]+$",
                  "type": "string",
                  "description": "Required. Resource name of the organization and storedInfoType to be deleted, for example `organizations/433245324/storedInfoTypes/432452342` or projects/project-id/storedInfoTypes/432452342.",
                  "location": "path"
                }
              },
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "id": "dlp.projects.storedInfoTypes.delete",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v2/projects/{projectsId}/storedInfoTypes/{storedInfoTypesId}",
              "description": "Deletes a stored infoType. See https://docs.cloud.google.com/sensitive-data-protection/docs/creating-stored-infotypes to learn more.",
              "path": "v2/{+name}"
            },
            "create": {
              "id": "dlp.projects.storedInfoTypes.create",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "description": "Required. Parent resource name. The format of this value varies depending on the scope of the request (project or organization) and whether you have [specified a processing location](https://docs.cloud.google.com/sensitive-data-protection/docs/specifying-location): + Projects scope, location specified: `projects/{project_id}/locations/{location_id}` + Projects scope, no location specified (defaults to global): `projects/{project_id}` + Organizations scope, location specified: `organizations/{org_id}/locations/{location_id}` + Organizations scope, no location specified (defaults to global): `organizations/{org_id}` The following example `parent` string specifies a parent project with the identifier `example-project`, and specifies the `europe-west3` location for processing data: parent=projects/example-project/locations/europe-west3",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "path": "v2/{+parent}/storedInfoTypes",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Creates a pre-built stored infoType to be used for inspection. See https://docs.cloud.google.com/sensitive-data-protection/docs/creating-stored-infotypes to learn more.",
              "flatPath": "v2/projects/{projectsId}/storedInfoTypes",
              "request": {
                "$ref": "GooglePrivacyDlpV2CreateStoredInfoTypeRequest"
              },
              "response": {
                "$ref": "GooglePrivacyDlpV2StoredInfoType"
              }
            },
            "list": {
              "path": "v2/{+parent}/storedInfoTypes",
              "description": "Lists stored infoTypes. See https://docs.cloud.google.com/sensitive-data-protection/docs/creating-stored-infotypes to learn more.",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "GooglePrivacyDlpV2ListStoredInfoTypesResponse"
              },
              "parameters": {
                "pageSize": {
                  "description": "Size of the page. This value can be limited by the server. If zero server returns a page of max size 100.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "orderBy": {
                  "location": "query",
                  "type": "string",
                  "description": "Comma-separated list of fields to order by, followed by `asc` or `desc` postfix. This list is case insensitive. The default sorting order is ascending. Redundant space characters are insignificant. Example: `name asc, display_name, create_time desc` Supported fields are: - `create_time`: corresponds to the time the most recent version of the resource was created. - `state`: corresponds to the state of the resource. - `name`: corresponds to resource name. - `display_name`: corresponds to info type's display name."
                },
                "locationId": {
                  "type": "string",
                  "location": "query",
                  "description": "Deprecated. This field has no effect."
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Page token to continue retrieval. Comes from the previous call to `ListStoredInfoTypes`."
                },
                "parent": {
                  "description": "Required. Parent resource name. The format of this value varies depending on the scope of the request (project or organization) and whether you have [specified a processing location](https://docs.cloud.google.com/sensitive-data-protection/docs/specifying-location): + Projects scope, location specified: `projects/{project_id}/locations/{location_id}` + Projects scope, no location specified (defaults to global): `projects/{project_id}` The following example `parent` string specifies a parent project with the identifier `example-project`, and specifies the `europe-west3` location for processing data: parent=projects/example-project/locations/europe-west3",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "dlp.projects.storedInfoTypes.list",
              "flatPath": "v2/projects/{projectsId}/storedInfoTypes"
            }
          }
        },
        "deidentifyTemplates": {
          "methods": {
            "list": {
              "path": "v2/{+parent}/deidentifyTemplates",
              "flatPath": "v2/projects/{projectsId}/deidentifyTemplates",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GooglePrivacyDlpV2ListDeidentifyTemplatesResponse"
              },
              "description": "Lists DeidentifyTemplates. See https://docs.cloud.google.com/sensitive-data-protection/docs/creating-templates-deid to learn more.",
              "id": "dlp.projects.deidentifyTemplates.list",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. Parent resource name. The format of this value varies depending on the scope of the request (project or organization) and whether you have [specified a processing location](https://docs.cloud.google.com/sensitive-data-protection/docs/specifying-location): + Projects scope, location specified: `projects/{project_id}/locations/{location_id}` + Projects scope, no location specified (defaults to global): `projects/{project_id}` + Organizations scope, location specified: `organizations/{org_id}/locations/{location_id}` + Organizations scope, no location specified (defaults to global): `organizations/{org_id}` The following example `parent` string specifies a parent project with the identifier `example-project`, and specifies the `europe-west3` location for processing data: parent=projects/example-project/locations/europe-west3",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Page token to continue retrieval. Comes from the previous call to `ListDeidentifyTemplates`.",
                  "type": "string"
                },
                "locationId": {
                  "type": "string",
                  "description": "Deprecated. This field has no effect.",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "Size of the page. This value can be limited by the server. If zero server returns a page of max size 100."
                },
                "orderBy": {
                  "type": "string",
                  "location": "query",
                  "description": "Comma-separated list of fields to order by, followed by `asc` or `desc` postfix. This list is case insensitive. The default sorting order is ascending. Redundant space characters are insignificant. Example: `name asc,update_time, create_time desc` Supported fields are: - `create_time`: corresponds to the time the template was created. - `update_time`: corresponds to the time the template was last updated. - `name`: corresponds to the template's name. - `display_name`: corresponds to the template's display name."
                }
              }
            },
            "get": {
              "path": "v2/{+name}",
              "flatPath": "v2/projects/{projectsId}/deidentifyTemplates/{deidentifyTemplatesId}",
              "description": "Gets a DeidentifyTemplate. See https://docs.cloud.google.com/sensitive-data-protection/docs/creating-templates-deid to learn more.",
              "id": "dlp.projects.deidentifyTemplates.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GooglePrivacyDlpV2DeidentifyTemplate"
              },
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Required. Resource name of the organization and deidentify template to be read, for example `organizations/433245324/deidentifyTemplates/432452342` or projects/project-id/deidentifyTemplates/432452342.",
                  "pattern": "^projects/[^/]+/deidentifyTemplates/[^/]+$",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GooglePrivacyDlpV2CreateDeidentifyTemplateRequest"
              },
              "description": "Creates a DeidentifyTemplate for reusing frequently used configuration for de-identifying content, images, and storage. See https://docs.cloud.google.com/sensitive-data-protection/docs/creating-templates-deid to learn more.",
              "flatPath": "v2/projects/{projectsId}/deidentifyTemplates",
              "path": "v2/{+parent}/deidentifyTemplates",
              "id": "dlp.projects.deidentifyTemplates.create",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "description": "Required. Parent resource name. The format of this value varies depending on the scope of the request (project or organization) and whether you have [specified a processing location](https://docs.cloud.google.com/sensitive-data-protection/docs/specifying-location): + Projects scope, location specified: `projects/{project_id}/locations/{location_id}` + Projects scope, no location specified (defaults to global): `projects/{project_id}` + Organizations scope, location specified: `organizations/{org_id}/locations/{location_id}` + Organizations scope, no location specified (defaults to global): `organizations/{org_id}` The following example `parent` string specifies a parent project with the identifier `example-project`, and specifies the `europe-west3` location for processing data: parent=projects/example-project/locations/europe-west3",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "response": {
                "$ref": "GooglePrivacyDlpV2DeidentifyTemplate"
              }
            },
            "patch": {
              "id": "dlp.projects.deidentifyTemplates.patch",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "GooglePrivacyDlpV2UpdateDeidentifyTemplateRequest"
              },
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/deidentifyTemplates/[^/]+$",
                  "type": "string",
                  "description": "Required. Resource name of organization and deidentify template to be updated, for example `organizations/433245324/deidentifyTemplates/432452342` or projects/project-id/deidentifyTemplates/432452342.",
                  "required": true,
                  "location": "path"
                }
              },
              "path": "v2/{+name}",
              "description": "Updates the DeidentifyTemplate. See https://docs.cloud.google.com/sensitive-data-protection/docs/creating-templates-deid to learn more.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v2/projects/{projectsId}/deidentifyTemplates/{deidentifyTemplatesId}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GooglePrivacyDlpV2DeidentifyTemplate"
              }
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Deletes a DeidentifyTemplate. See https://docs.cloud.google.com/sensitive-data-protection/docs/creating-templates-deid to learn more.",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. Resource name of the organization and deidentify template to be deleted, for example `organizations/433245324/deidentifyTemplates/432452342` or projects/project-id/deidentifyTemplates/432452342.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/deidentifyTemplates/[^/]+$"
                }
              },
              "id": "dlp.projects.deidentifyTemplates.delete",
              "httpMethod": "DELETE",
              "flatPath": "v2/projects/{projectsId}/deidentifyTemplates/{deidentifyTemplatesId}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "path": "v2/{+name}"
            }
          }
        },
        "locations": {
          "resources": {
            "contentPolicies": {
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "description": "Required. Resource name in the format: `projects/{project}/locations/{location}/contentPolicies/{content_policy}`.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/contentPolicies/[^/]+$",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/contentPolicies/{contentPoliciesId}",
                  "id": "dlp.projects.locations.contentPolicies.get",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GooglePrivacyDlpV2ContentPolicy"
                  },
                  "description": "Get a ContentPolicy.",
                  "path": "v2/{+name}"
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "description": "Required. Resource name of the ContentPolicy to be deleted, in the format: `projects/{project}/locations/{location}/contentPolicies/{content_policy}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/contentPolicies/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/contentPolicies/{contentPoliciesId}",
                  "httpMethod": "DELETE",
                  "id": "dlp.projects.locations.contentPolicies.delete",
                  "path": "v2/{+name}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Delete a ContentPolicy.",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "patch": {
                  "request": {
                    "$ref": "GooglePrivacyDlpV2UpdateContentPolicyRequest"
                  },
                  "path": "v2/{+name}",
                  "id": "dlp.projects.locations.contentPolicies.patch",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2ContentPolicy"
                  },
                  "description": "Update a ContentPolicy.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/contentPolicies/{contentPoliciesId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. Resource name in the format: `projects/{project}/locations/{location}/contentPolicies/{content_policy}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/contentPolicies/[^/]+$",
                      "required": true
                    }
                  }
                },
                "create": {
                  "path": "v2/{+parent}/contentPolicies",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Required. Parent resource name. The format of this value varies depending on the scope of the request (project): + Projects scope: `projects/{project_id}/locations/{location_id}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "GooglePrivacyDlpV2CreateContentPolicyRequest"
                  },
                  "description": "Create a ContentPolicy.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/contentPolicies",
                  "id": "dlp.projects.locations.contentPolicies.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GooglePrivacyDlpV2ContentPolicy"
                  }
                },
                "list": {
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. Number of results per page, max 1000.",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. Resource name of the project, for example, `projects/project-id/locations/asia`.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. Page token from a previous page to return the next set of results. If set, all other request fields must match the original request.",
                      "type": "string"
                    }
                  },
                  "id": "dlp.projects.locations.contentPolicies.list",
                  "description": "Lists ContentPolicies in a parent.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GooglePrivacyDlpV2ListContentPoliciesResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/contentPolicies",
                  "path": "v2/{+parent}/contentPolicies"
                }
              }
            },
            "content": {
              "methods": {
                "reidentify": {
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Parent resource name. The format of this value varies depending on whether you have [specified a processing location](https://docs.cloud.google.com/sensitive-data-protection/docs/specifying-location): + Projects scope, location specified: `projects/{project_id}/locations/{location_id}` + Projects scope, no location specified (defaults to global): `projects/{project_id}` The following example `parent` string specifies a parent project with the identifier `example-project`, and specifies the `europe-west3` location for processing data: parent=projects/example-project/locations/europe-west3",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "Re-identifies content that has been de-identified. See https://docs.cloud.google.com/sensitive-data-protection/docs/pseudonymization#re-identification_in_free_text_code_example to learn more.",
                  "httpMethod": "POST",
                  "id": "dlp.projects.locations.content.reidentify",
                  "path": "v2/{+parent}/content:reidentify",
                  "request": {
                    "$ref": "GooglePrivacyDlpV2ReidentifyContentRequest"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/content:reidentify",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2ReidentifyContentResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "inspect": {
                  "description": "Finds potentially sensitive info in content. This method has limits on input size, processing time, and output size. When no InfoTypes or CustomInfoTypes are specified in this request, the system will automatically choose what detectors to run. By default this may be all types, but may change over time as detectors are updated. For how to guides, see https://docs.cloud.google.com/sensitive-data-protection/docs/inspecting-images and https://docs.cloud.google.com/sensitive-data-protection/docs/inspecting-text,",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2InspectContentResponse"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/content:inspect",
                  "path": "v2/{+parent}/content:inspect",
                  "request": {
                    "$ref": "GooglePrivacyDlpV2InspectContentRequest"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "dlp.projects.locations.content.inspect",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "Parent resource name. The format of this value varies depending on whether you have [specified a processing location](https://docs.cloud.google.com/sensitive-data-protection/docs/specifying-location): + Projects scope, location specified: `projects/{project_id}/locations/{location_id}` + Projects scope, no location specified (defaults to global): `projects/{project_id}` The following example `parent` string specifies a parent project with the identifier `example-project`, and specifies the `europe-west3` location for processing data: parent=projects/example-project/locations/europe-west3",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "deidentify": {
                  "id": "dlp.projects.locations.content.deidentify",
                  "path": "v2/{+parent}/content:deidentify",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "description": "Parent resource name. The format of this value varies depending on whether you have [specified a processing location](https://docs.cloud.google.com/sensitive-data-protection/docs/specifying-location): + Projects scope, location specified: `projects/{project_id}/locations/{location_id}` + Projects scope, no location specified (defaults to global): `projects/{project_id}` The following example `parent` string specifies a parent project with the identifier `example-project`, and specifies the `europe-west3` location for processing data: parent=projects/example-project/locations/europe-west3",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/content:deidentify",
                  "request": {
                    "$ref": "GooglePrivacyDlpV2DeidentifyContentRequest"
                  },
                  "description": "De-identifies potentially sensitive info from a ContentItem. This method has limits on input size and output size. See https://docs.cloud.google.com/sensitive-data-protection/docs/deidentify-sensitive-data to learn more. When no InfoTypes or CustomInfoTypes are specified in this request, the system will automatically choose what detectors to run. By default this may be all types, but may change over time as detectors are updated.",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2DeidentifyContentResponse"
                  }
                }
              }
            },
            "infoTypes": {
              "methods": {
                "list": {
                  "id": "dlp.projects.locations.infoTypes.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Returns a list of the sensitive information types that the DLP API supports. See https://docs.cloud.google.com/sensitive-data-protection/docs/infotypes-reference to learn more.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2/{+parent}/infoTypes",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2ListInfoTypesResponse"
                  },
                  "httpMethod": "GET",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/infoTypes",
                  "parameters": {
                    "filter": {
                      "description": "filter to only return infoTypes supported by certain parts of the API. Defaults to supported_by=INSPECT.",
                      "type": "string",
                      "location": "query"
                    },
                    "locationId": {
                      "description": "Deprecated. This field has no effect.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "The parent resource name. The format of this value is as follows: `locations/{location_id}`",
                      "required": true
                    },
                    "languageCode": {
                      "type": "string",
                      "location": "query",
                      "description": "BCP-47 language code for localized infoType friendly names. If omitted, or if localized strings are not available, en-US strings will be returned."
                    }
                  }
                }
              }
            },
            "columnDataProfiles": {
              "methods": {
                "list": {
                  "description": "Lists column data profiles for an organization.",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "description": "Required. Resource name of the organization or project, for example `organizations/433245324/locations/europe` or `projects/project-id/locations/asia`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "filter": {
                      "description": "Allows filtering. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by `AND` or `OR` logical operators. A sequence of restrictions implicitly uses `AND`. * A restriction has the form of `{field} {operator} {value}`. * Supported fields: - `table_data_profile_name`: The name of the related table data profile - `project_id`: The Google Cloud project ID (REQUIRED) - `dataset_id`: The BigQuery dataset ID (REQUIRED) - `table_id`: The BigQuery table ID (REQUIRED) - `field_id`: The ID of the BigQuery field - `info_type`: The infotype detected in the resource - `sensitivity_level`: HIGH|MEDIUM|LOW - `data_risk_level`: How much risk is associated with this data - `status_code`: An RPC status code as defined in https://github.com/googleapis/googleapis/blob/master/google/rpc/code.proto - `profile_last_generated`: Date and time the profile was last generated * The operator must be `=` for project_id, dataset_id, and table_id. Other filters also support `!=`. The `profile_last_generated` filter also supports `<` and `>`. The syntax is based on https://google.aip.dev/160. Examples: * project_id = 12345 AND status_code = 1 * project_id = 12345 AND sensitivity_level = HIGH * project_id = 12345 AND info_type = STREET_ADDRESS * profile_last_generated < \"2025-01-01T00:00:00.000Z\" The length of this field should be no more than 500 characters.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Page token to continue retrieval.",
                      "location": "query"
                    },
                    "orderBy": {
                      "description": "Comma-separated list of fields to order by, followed by `asc` or `desc` postfix. This list is case insensitive. The default sorting order is ascending. Redundant space characters are insignificant. Only one order field at a time is allowed. Examples: * `project_id asc` * `table_id` * `sensitivity_level desc` Supported fields are: - `project_id`: The Google Cloud project ID. - `dataset_id`: The ID of a BigQuery dataset. - `table_id`: The ID of a BigQuery table. - `sensitivity_level`: How sensitive the data in a column is, at most. - `data_risk_level`: How much risk is associated with this data. - `profile_last_generated`: When the profile was last updated in epoch seconds.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Size of the page. This value can be limited by the server. If zero, server returns a page of max size 100.",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GooglePrivacyDlpV2ListColumnDataProfilesResponse"
                  },
                  "id": "dlp.projects.locations.columnDataProfiles.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2/{+parent}/columnDataProfiles",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/columnDataProfiles"
                },
                "get": {
                  "path": "v2/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/columnDataProfiles/[^/]+$",
                      "required": true,
                      "description": "Required. Resource name, for example `organizations/12345/locations/us/columnDataProfiles/53234423`.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/columnDataProfiles/{columnDataProfilesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "dlp.projects.locations.columnDataProfiles.get",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2ColumnDataProfile"
                  },
                  "description": "Gets a column data profile."
                }
              }
            },
            "tableDataProfiles": {
              "methods": {
                "list": {
                  "path": "v2/{+parent}/tableDataProfiles",
                  "id": "dlp.projects.locations.tableDataProfiles.list",
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "description": "Allows filtering. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by `AND` or `OR` logical operators. A sequence of restrictions implicitly uses `AND`. * A restriction has the form of `{field} {operator} {value}`. * Supported fields: - `project_id`: The Google Cloud project ID - `dataset_id`: The BigQuery dataset ID - `table_id`: The ID of the BigQuery table - `sensitivity_level`: HIGH|MODERATE|LOW - `data_risk_level`: HIGH|MODERATE|LOW - `resource_visibility`: PUBLIC|RESTRICTED - `status_code`: an RPC status code as defined in https://github.com/googleapis/googleapis/blob/master/google/rpc/code.proto - `profile_last_generated`: Date and time the profile was last generated * The operator must be `=` or `!=`. The `profile_last_generated` filter also supports `<` and `>`. The syntax is based on https://google.aip.dev/160. Examples: * `project_id = 12345 AND status_code = 1` * `project_id = 12345 AND sensitivity_level = HIGH` * `project_id = 12345 AND resource_visibility = PUBLIC` * `profile_last_generated < \"2025-01-01T00:00:00.000Z\"` The length of this field should be no more than 500 characters.",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Resource name of the organization or project, for example `organizations/433245324/locations/europe` or `projects/project-id/locations/asia`.",
                      "required": true,
                      "location": "path"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "Size of the page. This value can be limited by the server. If zero, server returns a page of max size 100."
                    },
                    "orderBy": {
                      "description": "Comma-separated list of fields to order by, followed by `asc` or `desc` postfix. This list is case insensitive. The default sorting order is ascending. Redundant space characters are insignificant. Only one order field at a time is allowed. Examples: * `project_id asc` * `table_id` * `sensitivity_level desc` Supported fields are: - `project_id`: The Google Cloud project ID. - `dataset_id`: The ID of a BigQuery dataset. - `table_id`: The ID of a BigQuery table. - `sensitivity_level`: How sensitive the data in a table is, at most. - `data_risk_level`: How much risk is associated with this data. - `profile_last_generated`: When the profile was last updated in epoch seconds. - `last_modified`: The last time the resource was modified. - `resource_visibility`: Visibility restriction for this resource. - `row_count`: Number of rows in this resource.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Page token to continue retrieval."
                    }
                  },
                  "response": {
                    "$ref": "GooglePrivacyDlpV2ListTableDataProfilesResponse"
                  },
                  "httpMethod": "GET",
                  "description": "Lists table data profiles for an organization.",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/tableDataProfiles",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "delete": {
                  "description": "Delete a TableDataProfile. Will not prevent the profile from being regenerated if the table is still included in a discovery configuration.",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "id": "dlp.projects.locations.tableDataProfiles.delete",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/tableDataProfiles/{tableDataProfilesId}",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Resource name of the table data profile.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/tableDataProfiles/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2/{+name}"
                },
                "get": {
                  "path": "v2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "dlp.projects.locations.tableDataProfiles.get",
                  "description": "Gets a table data profile.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GooglePrivacyDlpV2TableDataProfile"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/tableDataProfiles/[^/]+$",
                      "required": true,
                      "description": "Required. Resource name, for example `organizations/12345/locations/us/tableDataProfiles/53234423`."
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/tableDataProfiles/{tableDataProfilesId}"
                }
              }
            },
            "jobTriggers": {
              "methods": {
                "activate": {
                  "request": {
                    "$ref": "GooglePrivacyDlpV2ActivateJobTriggerRequest"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. Resource name of the trigger to activate, for example `projects/dlp-test-project/jobTriggers/53234423`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobTriggers/[^/]+$",
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "dlp.projects.locations.jobTriggers.activate",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2DlpJob"
                  },
                  "path": "v2/{+name}:activate",
                  "description": "Activate a job trigger. Causes the immediate execute of a trigger instead of waiting on the trigger event to occur.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/jobTriggers/{jobTriggersId}:activate"
                },
                "list": {
                  "response": {
                    "$ref": "GooglePrivacyDlpV2ListJobTriggersResponse"
                  },
                  "id": "dlp.projects.locations.jobTriggers.list",
                  "description": "Lists job triggers. See https://docs.cloud.google.com/sensitive-data-protection/docs/creating-job-triggers to learn more.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "type": {
                      "location": "query",
                      "type": "string",
                      "enum": [
                        "DLP_JOB_TYPE_UNSPECIFIED",
                        "INSPECT_JOB",
                        "RISK_ANALYSIS_JOB"
                      ],
                      "description": "The type of jobs. Will use `DlpJobType.INSPECT` if not set.",
                      "enumDescriptions": [
                        "Defaults to INSPECT_JOB.",
                        "The job inspected Google Cloud for sensitive data.",
                        "The job executed a Risk Analysis computation."
                      ]
                    },
                    "locationId": {
                      "type": "string",
                      "location": "query",
                      "description": "Deprecated. This field has no effect."
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Comma-separated list of triggeredJob fields to order by, followed by `asc` or `desc` postfix. This list is case insensitive. The default sorting order is ascending. Redundant space characters are insignificant. Example: `name asc,update_time, create_time desc` Supported fields are: - `create_time`: corresponds to the time the JobTrigger was created. - `update_time`: corresponds to the time the JobTrigger was last updated. - `last_run_time`: corresponds to the last time the JobTrigger ran. - `name`: corresponds to the JobTrigger's name. - `display_name`: corresponds to the JobTrigger's display name. - `status`: corresponds to JobTrigger's status."
                    },
                    "pageToken": {
                      "description": "Page token to continue retrieval. Comes from the previous call to ListJobTriggers. `order_by` field must not change for subsequent calls.",
                      "type": "string",
                      "location": "query"
                    },
                    "filter": {
                      "description": "Allows filtering. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by `AND` or `OR` logical operators. A sequence of restrictions implicitly uses `AND`. * A restriction has the form of `{field} {operator} {value}`. * Supported fields/values for inspect triggers: - `status` - HEALTHY|PAUSED|CANCELLED - `inspected_storage` - DATASTORE|CLOUD_STORAGE|BIGQUERY - 'last_run_time` - RFC 3339 formatted timestamp, surrounded by quotation marks. Nanoseconds are ignored. - 'error_count' - Number of errors that have occurred while running. * The operator must be `=` or `!=` for status and inspected_storage. The syntax is based on https://google.aip.dev/160. Examples: * inspected_storage = cloud_storage AND status = HEALTHY * inspected_storage = cloud_storage OR inspected_storage = bigquery * inspected_storage = cloud_storage AND (state = PAUSED OR state = HEALTHY) * last_run_time > \\\"2017-12-12T00:00:00+00:00\\\" The length of this field should be no more than 500 characters.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Size of the page. This value can be limited by a server.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. Parent resource name. The format of this value varies depending on whether you have [specified a processing location](https://docs.cloud.google.com/sensitive-data-protection/docs/specifying-location): + Projects scope, location specified: `projects/{project_id}/locations/{location_id}` + Projects scope, no location specified (defaults to global): `projects/{project_id}` The following example `parent` string specifies a parent project with the identifier `example-project`, and specifies the `europe-west3` location for processing data: parent=projects/example-project/locations/europe-west3",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/jobTriggers",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v2/{+parent}/jobTriggers"
                },
                "get": {
                  "id": "dlp.projects.locations.jobTriggers.get",
                  "httpMethod": "GET",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/jobTriggers/{jobTriggersId}",
                  "parameters": {
                    "name": {
                      "description": "Required. Resource name of the project and the triggeredJob, for example `projects/dlp-test-project/jobTriggers/53234423`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobTriggers/[^/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GooglePrivacyDlpV2JobTrigger"
                  },
                  "description": "Gets a job trigger. See https://docs.cloud.google.com/sensitive-data-protection/docs/creating-job-triggers to learn more.",
                  "path": "v2/{+name}"
                },
                "patch": {
                  "id": "dlp.projects.locations.jobTriggers.patch",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2JobTrigger"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/jobTriggers/{jobTriggersId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobTriggers/[^/]+$",
                      "description": "Required. Resource name of the project and the triggeredJob, for example `projects/dlp-test-project/jobTriggers/53234423`."
                    }
                  },
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "GooglePrivacyDlpV2UpdateJobTriggerRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2/{+name}",
                  "description": "Updates a job trigger. See https://docs.cloud.google.com/sensitive-data-protection/docs/creating-job-triggers to learn more.",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "path": "v2/{+parent}/jobTriggers",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2JobTrigger"
                  },
                  "request": {
                    "$ref": "GooglePrivacyDlpV2CreateJobTriggerRequest"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/jobTriggers",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "dlp.projects.locations.jobTriggers.create",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Parent resource name. The format of this value varies depending on whether you have [specified a processing location](https://docs.cloud.google.com/sensitive-data-protection/docs/specifying-location): + Projects scope, location specified: `projects/{project_id}/locations/{location_id}` + Projects scope, no location specified (defaults to global): `projects/{project_id}` The following example `parent` string specifies a parent project with the identifier `example-project`, and specifies the `europe-west3` location for processing data: parent=projects/example-project/locations/europe-west3",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "description": "Creates a job trigger to run DLP actions such as scanning storage for sensitive information on a set schedule. See https://docs.cloud.google.com/sensitive-data-protection/docs/creating-job-triggers to learn more."
                },
                "hybridInspect": {
                  "description": "Inspect hybrid content and store findings to a trigger. The inspection will be processed asynchronously. To review the findings monitor the jobs within the trigger.",
                  "id": "dlp.projects.locations.jobTriggers.hybridInspect",
                  "httpMethod": "POST",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/jobTriggers/{jobTriggersId}:hybridInspect",
                  "request": {
                    "$ref": "GooglePrivacyDlpV2HybridInspectJobTriggerRequest"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. Resource name of the trigger to execute a hybrid inspect on, for example `projects/dlp-test-project/jobTriggers/53234423`.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobTriggers/[^/]+$"
                    }
                  },
                  "path": "v2/{+name}:hybridInspect",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2HybridInspectResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "id": "dlp.projects.locations.jobTriggers.delete",
                  "description": "Deletes a job trigger. See https://docs.cloud.google.com/sensitive-data-protection/docs/creating-job-triggers to learn more.",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/jobTriggers/{jobTriggersId}",
                  "parameters": {
                    "name": {
                      "description": "Required. Resource name of the project and the triggeredJob, for example `projects/dlp-test-project/jobTriggers/53234423`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobTriggers/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "httpMethod": "DELETE",
                  "path": "v2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "projectDataProfiles": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2/{+name}",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2ProjectDataProfile"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. Resource name, for example `organizations/12345/locations/us/projectDataProfiles/53234423`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/projectDataProfiles/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/projectDataProfiles/{projectDataProfilesId}",
                  "httpMethod": "GET",
                  "description": "Gets a project data profile.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "dlp.projects.locations.projectDataProfiles.get"
                },
                "list": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/projectDataProfiles",
                  "id": "dlp.projects.locations.projectDataProfiles.list",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2ListProjectDataProfilesResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists project data profiles for an organization.",
                  "path": "v2/{+parent}/projectDataProfiles",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageToken": {
                      "description": "Page token to continue retrieval.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Size of the page. This value can be limited by the server. If zero, server returns a page of max size 100.",
                      "location": "query",
                      "type": "integer"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Allows filtering. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by `AND` or `OR` logical operators. A sequence of restrictions implicitly uses `AND`. * A restriction has the form of `{field} {operator} {value}`. * Supported fields: - `project_id`: the Google Cloud project ID - `sensitivity_level`: HIGH|MODERATE|LOW - `data_risk_level`: HIGH|MODERATE|LOW - `status_code`: an RPC status code as defined in https://github.com/googleapis/googleapis/blob/master/google/rpc/code.proto - `profile_last_generated`: Date and time the profile was last generated * The operator must be `=` or `!=`. The `profile_last_generated` filter also supports `<` and `>`. The syntax is based on https://google.aip.dev/160. Examples: * `project_id = 12345 AND status_code = 1` * `project_id = 12345 AND sensitivity_level = HIGH` * `profile_last_generated < \"2025-01-01T00:00:00.000Z\"` The length of this field should be no more than 500 characters.",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. organizations/{org_id}/locations/{loc_id}",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Comma-separated list of fields to order by, followed by `asc` or `desc` postfix. This list is case insensitive. The default sorting order is ascending. Redundant space characters are insignificant. Only one order field at a time is allowed. Examples: * `project_id` * `sensitivity_level desc` Supported fields: - `project_id`: Google Cloud project ID - `sensitivity_level`: How sensitive the data in a project is, at most - `data_risk_level`: How much risk is associated with this data - `profile_last_generated`: Date and time (in epoch seconds) the profile was last generated"
                    }
                  }
                }
              }
            },
            "fileStoreDataProfiles": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v2/{+parent}/fileStoreDataProfiles",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/fileStoreDataProfiles",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2ListFileStoreDataProfilesResponse"
                  },
                  "description": "Lists file store data profiles for an organization.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "description": "Required. Resource name of the organization or project, for example `organizations/433245324/locations/europe` or `projects/project-id/locations/asia`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. Allows filtering. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by `AND` or `OR` logical operators. A sequence of restrictions implicitly uses `AND`. * A restriction has the form of `{field} {operator} {value}`. * Supported fields: - `project_id`: The Google Cloud project ID - `account_id`: The AWS account ID - `file_store_path`: The path like \"gs://bucket\" - `data_source_type`: The profile's data source type, like \"google/storage/bucket\" - `data_storage_location`: The location where the file store's data is stored, like \"us-central1\" - `sensitivity_level`: HIGH|MODERATE|LOW - `data_risk_level`: HIGH|MODERATE|LOW - `resource_visibility`: PUBLIC|RESTRICTED - `status_code`: an RPC status code as defined in https://github.com/googleapis/googleapis/blob/master/google/rpc/code.proto - `profile_last_generated`: Date and time the profile was last generated * The operator must be `=` or `!=`. The `profile_last_generated` filter also supports `<` and `>`. The syntax is based on https://google.aip.dev/160. Examples: * `project_id = 12345 AND status_code = 1` * `project_id = 12345 AND sensitivity_level = HIGH` * `project_id = 12345 AND resource_visibility = PUBLIC` * `file_store_path = \"gs://mybucket\"` * `profile_last_generated < \"2025-01-01T00:00:00.000Z\"` The length of this field should be no more than 500 characters.",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. Page token to continue retrieval.",
                      "location": "query"
                    },
                    "orderBy": {
                      "description": "Optional. Comma-separated list of fields to order by, followed by `asc` or `desc` postfix. This list is case insensitive. The default sorting order is ascending. Redundant space characters are insignificant. Only one order field at a time is allowed. Examples: * `project_id asc` * `name` * `sensitivity_level desc` Supported fields are: - `project_id`: The Google Cloud project ID. - `sensitivity_level`: How sensitive the data in a table is, at most. - `data_risk_level`: How much risk is associated with this data. - `profile_last_generated`: When the profile was last updated in epoch seconds. - `last_modified`: The last time the resource was modified. - `resource_visibility`: Visibility restriction for this resource. - `name`: The name of the profile. - `create_time`: The time the file store was first created.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. Size of the page. This value can be limited by the server. If zero, server returns a page of max size 100.",
                      "format": "int32",
                      "location": "query"
                    }
                  },
                  "id": "dlp.projects.locations.fileStoreDataProfiles.list"
                },
                "delete": {
                  "id": "dlp.projects.locations.fileStoreDataProfiles.delete",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/fileStoreDataProfiles/{fileStoreDataProfilesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/fileStoreDataProfiles/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. Resource name of the file store data profile."
                    }
                  },
                  "path": "v2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Delete a FileStoreDataProfile. Will not prevent the profile from being regenerated if the resource is still included in a discovery configuration."
                },
                "get": {
                  "description": "Gets a file store data profile.",
                  "path": "v2/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/fileStoreDataProfiles/{fileStoreDataProfilesId}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2FileStoreDataProfile"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/fileStoreDataProfiles/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. Resource name, for example `organizations/12345/locations/us/fileStoreDataProfiles/53234423`."
                    }
                  },
                  "id": "dlp.projects.locations.fileStoreDataProfiles.get"
                }
              }
            },
            "discoveryConfigs": {
              "methods": {
                "delete": {
                  "id": "dlp.projects.locations.discoveryConfigs.delete",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. Resource name of the project and the config, for example `projects/dlp-test-project/discoveryConfigs/53234423`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/discoveryConfigs/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a discovery configuration.",
                  "path": "v2/{+name}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/discoveryConfigs/{discoveryConfigsId}"
                },
                "create": {
                  "response": {
                    "$ref": "GooglePrivacyDlpV2DiscoveryConfig"
                  },
                  "description": "Creates a config for discovery to scan and profile storage.",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/discoveryConfigs",
                  "id": "dlp.projects.locations.discoveryConfigs.create",
                  "request": {
                    "$ref": "GooglePrivacyDlpV2CreateDiscoveryConfigRequest"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. Parent resource name. The format of this value varies depending on the scope of the request (project or organization): + Projects scope: `projects/{project_id}/locations/{location_id}` + Organizations scope: `organizations/{org_id}/locations/{location_id}` The following example `parent` string specifies a parent project with the identifier `example-project`, and specifies the `europe-west3` location for processing data: parent=projects/example-project/locations/europe-west3",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2/{+parent}/discoveryConfigs",
                  "httpMethod": "POST"
                },
                "patch": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/discoveryConfigs/{discoveryConfigsId}",
                  "scopes": [
[...]
