{
  "rootUrl": "https://dns.googleapis.com/",
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "documentationLink": "https://cloud.google.com/dns/docs",
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/ndev.clouddns.readonly": {
          "description": "View your DNS records hosted by Google Cloud DNS"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/ndev.clouddns.readwrite": {
          "description": "View and manage your DNS records hosted by Google Cloud DNS"
        }
      }
    }
  },
  "basePath": "",
  "name": "dns",
  "canonicalName": "Dns",
  "version": "v1",
  "mtlsRootUrl": "https://dns.mtls.googleapis.com/",
  "servicePath": "",
  "description": "",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "resources": {
    "responsePolicies": {
      "methods": {
        "patch": {
          "response": {
            "$ref": "ResponsePoliciesPatchResponse"
          },
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "description": "Applies a partial update to an existing Response Policy.",
          "parameterOrder": [
            "project",
            "responsePolicy"
          ],
          "parameters": {
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string",
              "location": "query"
            },
            "responsePolicy": {
              "required": true,
              "description": "User assigned name of the response policy addressed by this request.",
              "location": "path",
              "type": "string"
            },
            "project": {
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true
            }
          },
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}",
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}",
          "id": "dns.responsePolicies.patch",
          "request": {
            "$ref": "ResponsePolicy"
          }
        },
        "get": {
          "response": {
            "$ref": "ResponsePolicy"
          },
          "parameters": {
            "project": {
              "type": "string",
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "location": "path"
            },
            "responsePolicy": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "User assigned name of the Response Policy addressed by this request."
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string",
              "location": "query"
            }
          },
          "description": "Fetches the representation of an existing Response Policy.",
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project",
            "responsePolicy"
          ],
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}",
          "id": "dns.responsePolicies.get"
        },
        "create": {
          "path": "dns/v1/projects/{project}/responsePolicies",
          "parameters": {
            "clientOperationId": {
              "location": "query",
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            },
            "project": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Identifies the project addressed by this request."
            }
          },
          "parameterOrder": [
            "project"
          ],
          "id": "dns.responsePolicies.create",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "flatPath": "dns/v1/projects/{project}/responsePolicies",
          "request": {
            "$ref": "ResponsePolicy"
          },
          "response": {
            "$ref": "ResponsePolicy"
          },
          "httpMethod": "POST",
          "description": "Creates a new Response Policy"
        },
        "update": {
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}",
          "parameters": {
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query",
              "type": "string"
            },
            "responsePolicy": {
              "location": "path",
              "description": "User assigned name of the Response Policy addressed by this request.",
              "type": "string",
              "required": true
            },
            "project": {
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "type": "string",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}",
          "httpMethod": "PUT",
          "request": {
            "$ref": "ResponsePolicy"
          },
          "id": "dns.responsePolicies.update",
          "parameterOrder": [
            "project",
            "responsePolicy"
          ],
          "description": "Updates an existing Response Policy.",
          "response": {
            "$ref": "ResponsePoliciesUpdateResponse"
          }
        },
        "delete": {
          "httpMethod": "DELETE",
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}",
          "parameters": {
            "clientOperationId": {
              "location": "query",
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            },
            "responsePolicy": {
              "location": "path",
              "type": "string",
              "description": "User assigned name of the Response Policy addressed by this request.",
              "required": true
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "project",
            "responsePolicy"
          ],
          "description": "Deletes a previously created Response Policy. Fails if the response policy is non-empty or still being referenced by a network.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}",
          "id": "dns.responsePolicies.delete"
        },
        "list": {
          "parameters": {
            "maxResults": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return."
            },
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Identifies the project addressed by this request."
            },
            "pageToken": {
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "flatPath": "dns/v1/projects/{project}/responsePolicies",
          "httpMethod": "GET",
          "response": {
            "$ref": "ResponsePoliciesListResponse"
          },
          "parameterOrder": [
            "project"
          ],
          "description": "Enumerates all Response Policies associated with a project.",
          "id": "dns.responsePolicies.list",
          "path": "dns/v1/projects/{project}/responsePolicies"
        }
      }
    },
    "dnsKeys": {
      "methods": {
        "list": {
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "id": "dns.dnsKeys.list",
          "httpMethod": "GET",
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/dnsKeys",
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/dnsKeys",
          "response": {
            "$ref": "DnsKeysListResponse"
          },
          "description": "Enumerates DnsKeys to a ResourceRecordSet collection.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameters": {
            "project": {
              "location": "path",
              "description": "Identifies the project addressed by this request.",
              "required": true,
              "type": "string"
            },
            "maxResults": {
              "format": "int32",
              "location": "query",
              "type": "integer",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return."
            },
            "managedZone": {
              "type": "string",
              "location": "path",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "required": true
            },
            "pageToken": {
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "type": "string",
              "location": "query"
            },
            "digestType": {
              "description": "An optional comma-separated list of digest types to compute and display for key signing keys. If omitted, the recommended digest type is computed and displayed.",
              "location": "query",
              "type": "string"
            }
          }
        },
        "get": {
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/dnsKeys/{dnsKeyId}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/dnsKeys/{dnsKeyId}",
          "httpMethod": "GET",
          "description": "Fetches the representation of an existing DnsKey.",
          "response": {
            "$ref": "DnsKey"
          },
          "id": "dns.dnsKeys.get",
          "parameterOrder": [
            "project",
            "managedZone",
            "dnsKeyId"
          ],
          "parameters": {
            "dnsKeyId": {
              "location": "path",
              "description": "The identifier of the requested DnsKey.",
              "type": "string",
              "required": true
            },
            "project": {
              "location": "path",
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "required": true
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string",
              "location": "query"
            },
            "digestType": {
              "location": "query",
              "description": "An optional comma-separated list of digest types to compute and display for key signing keys. If omitted, the recommended digest type is computed and displayed.",
              "type": "string"
            },
            "managedZone": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID."
            }
          }
        }
      }
    },
    "projects": {
      "methods": {
        "get": {
          "id": "dns.projects.get",
          "description": "Fetches the representation of an existing Project.",
          "flatPath": "dns/v1/projects/{project}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "response": {
            "$ref": "Project"
          },
          "path": "dns/v1/projects/{project}",
          "parameters": {
            "project": {
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "project"
          ]
        }
      }
    },
    "changes": {
      "methods": {
        "list": {
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/changes",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "id": "dns.changes.list",
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/changes",
          "parameters": {
            "sortOrder": {
              "type": "string",
              "description": "Sorting order direction: 'ascending' or 'descending'.",
              "location": "query"
            },
            "pageToken": {
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "location": "query",
              "type": "string"
            },
            "sortBy": {
              "enumDescriptions": [
                ""
              ],
              "description": "Sorting criterion. The only supported value is change sequence.",
              "type": "string",
              "enum": [
                "changeSequence"
              ],
              "location": "query",
              "default": "changeSequence"
            },
            "maxResults": {
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "project": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Identifies the project addressed by this request."
            },
            "managedZone": {
              "location": "path",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "type": "string",
              "required": true
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "ChangesListResponse"
          },
          "description": "Enumerates Changes to a ResourceRecordSet collection."
        },
        "create": {
          "parameters": {
            "managedZone": {
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            },
            "project": {
              "required": true,
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path"
            }
          },
          "id": "dns.changes.create",
          "response": {
            "$ref": "Change"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "description": "Atomically updates the ResourceRecordSet collection. Note: While `dns.changes.create` is the baseline permission required to invoke this method, additional permissions are checked depending on the specific additions or deletions contained in the payload.",
          "httpMethod": "POST",
          "request": {
            "$ref": "Change"
          },
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/changes",
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/changes"
        },
        "get": {
          "description": "Fetches the representation of an existing Change.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/changes/{changeId}",
          "parameters": {
            "managedZone": {
              "type": "string",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "required": true,
              "location": "path"
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string",
              "location": "query"
            },
            "changeId": {
              "required": true,
              "description": "The identifier of the requested change, from a previous ResourceRecordSetsChangeResponse.",
              "location": "path",
              "type": "string"
            }
          },
          "id": "dns.changes.get",
          "parameterOrder": [
            "project",
            "managedZone",
            "changeId"
          ],
          "response": {
            "$ref": "Change"
          },
          "httpMethod": "GET",
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/changes/{changeId}"
        }
      }
    },
    "managedZones": {
      "methods": {
        "setIamPolicy": {
          "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
          "parameterOrder": [
            "resource"
          ],
          "request": {
            "$ref": "GoogleIamV1SetIamPolicyRequest"
          },
          "parameters": {
            "resource": {
              "location": "path",
              "required": true,
              "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "pattern": "^projects/[^/]+/managedZones/[^/]+$",
              "type": "string"
            }
          },
          "flatPath": "dns/v1/projects/{projectsId}/managedZones/{managedZonesId}:setIamPolicy",
          "id": "dns.managedZones.setIamPolicy",
          "httpMethod": "POST",
          "path": "dns/v1/{+resource}:setIamPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "response": {
            "$ref": "GoogleIamV1Policy"
          }
        },
        "getIamPolicy": {
          "request": {
            "$ref": "GoogleIamV1GetIamPolicyRequest"
          },
          "id": "dns.managedZones.getIamPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
          "parameterOrder": [
            "resource"
          ],
          "parameters": {
            "resource": {
              "type": "string",
              "pattern": "^projects/[^/]+/managedZones/[^/]+$",
              "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "dns/v1/projects/{projectsId}/managedZones/{managedZonesId}:getIamPolicy",
          "path": "dns/v1/{+resource}:getIamPolicy",
          "response": {
            "$ref": "GoogleIamV1Policy"
          },
          "httpMethod": "POST"
        },
        "create": {
          "parameters": {
            "project": {
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "type": "string",
              "location": "path"
            },
            "clientOperationId": {
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string"
            }
          },
          "flatPath": "dns/v1/projects/{project}/managedZones",
          "request": {
            "$ref": "ManagedZone"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "path": "dns/v1/projects/{project}/managedZones",
          "parameterOrder": [
            "project"
          ],
          "description": "Creates a new ManagedZone. Note: While `dns.managedZones.create` is the baseline permission required to invoke this method, additional permissions are required if the managed zone configuration references other resources.",
          "httpMethod": "POST",
          "response": {
            "$ref": "ManagedZone"
          },
          "id": "dns.managedZones.create"
        },
        "testIamPermissions": {
          "parameters": {
            "resource": {
              "type": "string",
              "location": "path",
              "pattern": "^projects/[^/]+/managedZones/[^/]+$",
              "required": true,
              "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
            }
          },
          "parameterOrder": [
            "resource"
          ],
          "request": {
            "$ref": "GoogleIamV1TestIamPermissionsRequest"
          },
          "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this returns an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "flatPath": "dns/v1/projects/{projectsId}/managedZones/{managedZonesId}:testIamPermissions",
          "id": "dns.managedZones.testIamPermissions",
          "path": "dns/v1/{+resource}:testIamPermissions",
          "response": {
            "$ref": "GoogleIamV1TestIamPermissionsResponse"
          },
          "httpMethod": "POST"
        },
        "update": {
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "parameters": {
            "clientOperationId": {
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string"
            },
            "project": {
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "type": "string",
              "location": "path"
            },
            "managedZone": {
              "type": "string",
              "required": true,
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path"
            }
          },
          "description": "Updates an existing ManagedZone.",
          "id": "dns.managedZones.update",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}",
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}",
          "httpMethod": "PUT",
          "request": {
            "$ref": "ManagedZone"
          }
        },
        "patch": {
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}",
          "id": "dns.managedZones.patch",
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}",
          "parameters": {
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            },
            "project": {
              "location": "path",
              "description": "Identifies the project addressed by this request.",
              "type": "string",
              "required": true
            },
            "managedZone": {
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "description": "Applies a partial update to an existing ManagedZone.",
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "ManagedZone"
          },
          "httpMethod": "PATCH"
        },
        "get": {
          "httpMethod": "GET",
          "description": "Fetches the representation of an existing ManagedZone.",
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}",
          "parameters": {
            "managedZone": {
              "type": "string",
              "required": true,
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path"
            },
            "project": {
              "location": "path",
              "description": "Identifies the project addressed by this request.",
              "required": true,
              "type": "string"
            },
            "clientOperationId": {
              "location": "query",
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            }
          },
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}",
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "response": {
            "$ref": "ManagedZone"
          },
          "id": "dns.managedZones.get"
        },
        "list": {
          "flatPath": "dns/v1/projects/{project}/managedZones",
          "parameters": {
            "pageToken": {
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "location": "query",
              "type": "string"
            },
            "project": {
              "type": "string",
              "location": "path",
              "description": "Identifies the project addressed by this request.",
              "required": true
            },
            "dnsName": {
              "location": "query",
              "type": "string",
              "description": "Restricts the list to return only zones with this domain name."
            },
            "maxResults": {
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            }
          },
          "parameterOrder": [
            "project"
          ],
          "path": "dns/v1/projects/{project}/managedZones",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "response": {
            "$ref": "ManagedZonesListResponse"
          },
          "id": "dns.managedZones.list",
          "description": "Enumerates ManagedZones that have been created but not yet deleted."
        },
        "delete": {
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}",
          "id": "dns.managedZones.delete",
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "description": "Deletes a previously created ManagedZone.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameters": {
            "managedZone": {
              "location": "path",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string",
              "location": "query"
            }
          },
          "httpMethod": "DELETE",
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}"
        }
      }
    },
    "resourceRecordSets": {
      "methods": {
        "patch": {
          "httpMethod": "PATCH",
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/rrsets/{name}/{type}",
          "parameterOrder": [
            "project",
            "managedZone",
            "name",
            "type"
          ],
          "id": "dns.resourceRecordSets.patch",
          "parameters": {
            "managedZone": {
              "required": true,
              "type": "string",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path"
            },
            "clientOperationId": {
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string"
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "name": {
              "location": "path",
              "description": "Fully qualified domain name.",
              "type": "string",
              "required": true
            },
            "type": {
              "location": "path",
              "description": "RRSet type.",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "ResourceRecordSet"
          },
          "description": "Applies a partial update to an existing ResourceRecordSet.",
          "request": {
            "$ref": "ResourceRecordSet"
          },
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/rrsets/{name}/{type}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        },
        "get": {
          "parameterOrder": [
            "project",
            "managedZone",
            "name",
            "type"
          ],
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/rrsets/{name}/{type}",
          "parameters": {
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            },
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Identifies the project addressed by this request."
            },
            "managedZone": {
              "required": true,
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path",
              "type": "string"
            },
            "type": {
              "required": true,
              "location": "path",
              "description": "RRSet type.",
              "type": "string"
            },
            "name": {
              "required": true,
              "type": "string",
              "description": "Fully qualified domain name.",
              "location": "path"
            }
          },
          "response": {
            "$ref": "ResourceRecordSet"
          },
          "description": "Fetches the representation of an existing ResourceRecordSet.",
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/rrsets/{name}/{type}",
          "id": "dns.resourceRecordSets.get",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "httpMethod": "GET"
        },
        "delete": {
          "parameters": {
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string",
              "location": "query"
            },
            "project": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Identifies the project addressed by this request."
            },
            "name": {
              "type": "string",
              "required": true,
              "description": "Fully qualified domain name.",
              "location": "path"
            },
            "managedZone": {
              "required": true,
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path",
              "type": "string"
            },
            "type": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "RRSet type."
            }
          },
          "id": "dns.resourceRecordSets.delete",
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/rrsets/{name}/{type}",
          "description": "Deletes a previously created ResourceRecordSet.",
          "parameterOrder": [
            "project",
            "managedZone",
            "name",
            "type"
          ],
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/rrsets/{name}/{type}",
          "response": {
            "$ref": "ResourceRecordSetsDeleteResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "httpMethod": "DELETE"
        },
        "list": {
          "httpMethod": "GET",
          "description": "Enumerates ResourceRecordSets that you have created but not yet deleted.",
          "response": {
            "$ref": "ResourceRecordSetsListResponse"
          },
          "parameters": {
            "project": {
              "location": "path",
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "required": true
            },
            "name": {
              "location": "query",
              "type": "string",
              "description": "Specify a fully qualified domain name to view only those records. The `name` parameter is not supported and must be omitted when you use `filter`."
            },
            "filter": {
              "location": "query",
              "type": "string",
              "description": "Specify a filter expression to view records that exactly match the specified domain. Both the `name` and `type` parameters are not supported and must be omitted when you use `filter`. Your `filter` expression must conform to AIP-160 and you must specify a domain in the `name` field. Optionally, you can include the `type` field to filter records by type. You can also include the `has_suffix` function to view records that match by domain suffix. Examples: * `name`=\"example.com.\" * `name`=\"example.com.\" AND type=\"A\" * `name`=`has_suffix`(\"example.com.\") * `name`=`has_suffix`(\"example.com.\") AND type=\"A\""
            },
            "pageToken": {
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "location": "query",
              "type": "string"
            },
            "managedZone": {
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.",
              "format": "int32"
            },
            "type": {
              "description": "Specify a record type to view only those records. You must also specify the `name` parameter. The `type` parameter is not supported and must be omitted when you use `filter`.",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/rrsets",
          "id": "dns.resourceRecordSets.list",
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/rrsets"
        },
        "create": {
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/rrsets",
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/rrsets",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "description": "Creates a new ResourceRecordSet.",
          "id": "dns.resourceRecordSets.create",
          "parameters": {
            "managedZone": {
              "location": "path",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "required": true,
              "type": "string"
            },
            "clientOperationId": {
              "location": "query",
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            },
            "project": {
              "location": "path",
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "required": true
            }
          },
          "request": {
            "$ref": "ResourceRecordSet"
          },
          "response": {
            "$ref": "ResourceRecordSet"
          }
        }
      }
    },
    "managedZoneOperations": {
      "methods": {
        "get": {
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/operations/{operation}",
          "parameters": {
            "project": {
              "location": "path",
              "description": "Identifies the project addressed by this request.",
              "required": true,
              "type": "string"
            },
            "operation": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Identifies the operation addressed by this request (ID of the operation)."
            },
            "managedZone": {
              "type": "string",
              "required": true,
              "description": "Identifies the managed zone addressed by this request.",
              "location": "path"
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project",
            "managedZone",
            "operation"
          ],
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/operations/{operation}",
          "id": "dns.managedZoneOperations.get",
          "description": "Fetches the representation of an existing Operation.",
          "httpMethod": "GET",
          "response": {
            "$ref": "Operation"
          }
        },
        "list": {
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/operations",
          "httpMethod": "GET",
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/operations",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameters": {
            "project": {
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "type": "string",
              "location": "path"
            },
            "sortBy": {
              "type": "string",
              "location": "query",
              "enum": [
                "startTime",
                "id"
              ],
              "enumDescriptions": [
                "",
                ""
              ],
              "default": "startTime",
              "description": "Sorting criterion. The only supported values are START_TIME and ID."
            },
            "managedZone": {
              "required": true,
              "type": "string",
              "description": "Identifies the managed zone addressed by this request.",
              "location": "path"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request."
            },
            "maxResults": {
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            }
          },
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "description": "Enumerates Operations for the given ManagedZone.",
          "response": {
            "$ref": "ManagedZoneOperationsListResponse"
          },
          "id": "dns.managedZoneOperations.list"
        }
      }
    },
    "responsePolicyRules": {
      "methods": {
        "get": {
          "parameters": {
            "project": {
              "location": "path",
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "required": true
            },
            "responsePolicy": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "User assigned name of the Response Policy containing the Response Policy Rule."
            },
            "responsePolicyRule": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "User assigned name of the Response Policy Rule addressed by this request."
            },
            "clientOperationId": {
              "type": "string",
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            }
          },
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "id": "dns.responsePolicyRules.get",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "description": "Fetches the representation of an existing Response Policy Rule.",
          "httpMethod": "GET",
          "parameterOrder": [
            "project",
            "responsePolicy",
            "responsePolicyRule"
          ],
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "response": {
            "$ref": "ResponsePolicyRule"
          }
        },
        "create": {
          "parameters": {
            "responsePolicy": {
              "description": "User assigned name of the Response Policy containing the Response Policy Rule.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "project": {
              "type": "string",
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "location": "path"
            },
            "clientOperationId": {
              "type": "string",
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            }
          },
          "id": "dns.responsePolicyRules.create",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "description": "Creates a new Response Policy Rule.",
          "response": {
            "$ref": "ResponsePolicyRule"
          },
          "parameterOrder": [
            "project",
            "responsePolicy"
          ],
          "request": {
            "$ref": "ResponsePolicyRule"
          },
          "httpMethod": "POST",
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules",
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules"
        },
        "update": {
          "description": "Updates an existing Response Policy Rule.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "id": "dns.responsePolicyRules.update",
          "parameters": {
            "responsePolicyRule": {
              "required": true,
              "description": "User assigned name of the Response Policy Rule addressed by this request.",
              "type": "string",
              "location": "path"
            },
            "responsePolicy": {
              "required": true,
              "location": "path",
              "description": "User assigned name of the Response Policy containing the Response Policy Rule.",
              "type": "string"
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "clientOperationId": {
              "location": "query",
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            }
          },
          "response": {
            "$ref": "ResponsePolicyRulesUpdateResponse"
          },
          "parameterOrder": [
            "project",
            "responsePolicy",
            "responsePolicyRule"
          ],
          "httpMethod": "PUT",
          "request": {
            "$ref": "ResponsePolicyRule"
          }
        },
        "patch": {
          "response": {
            "$ref": "ResponsePolicyRulesPatchResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "description": "Applies a partial update to an existing Response Policy Rule.",
          "parameters": {
            "clientOperationId": {
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string"
            },
            "responsePolicyRule": {
              "description": "User assigned name of the Response Policy Rule addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "type": "string"
            },
            "responsePolicy": {
              "required": true,
              "description": "User assigned name of the Response Policy containing the Response Policy Rule.",
              "type": "string",
              "location": "path"
            }
          },
          "id": "dns.responsePolicyRules.patch",
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "httpMethod": "PATCH",
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "parameterOrder": [
            "project",
            "responsePolicy",
            "responsePolicyRule"
          ],
          "request": {
            "$ref": "ResponsePolicyRule"
          }
        },
        "list": {
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules",
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules",
          "parameters": {
            "maxResults": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request."
            },
            "responsePolicy": {
              "description": "User assigned name of the Response Policy to list.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "location": "path",
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "required": true
            }
          },
          "httpMethod": "GET",
          "id": "dns.responsePolicyRules.list",
          "parameterOrder": [
            "project",
            "responsePolicy"
          ],
          "description": "Enumerates all Response Policy Rules associated with a project.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "response": {
            "$ref": "ResponsePolicyRulesListResponse"
          }
        },
        "delete": {
          "id": "dns.responsePolicyRules.delete",
          "parameterOrder": [
            "project",
            "responsePolicy",
            "responsePolicyRule"
          ],
          "parameters": {
            "clientOperationId": {
              "location": "query",
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            },
            "project": {
              "location": "path",
              "description": "Identifies the project addressed by this request.",
              "type": "string",
              "required": true
            },
            "responsePolicy": {
              "type": "string",
              "description": "User assigned name of the Response Policy containing the Response Policy Rule.",
              "location": "path",
              "required": true
            },
            "responsePolicyRule": {
              "location": "path",
              "description": "User assigned name of the Response Policy Rule addressed by this request.",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "httpMethod": "DELETE",
          "description": "Deletes a previously created Response Policy Rule.",
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}"
        }
      }
    },
    "policies": {
      "methods": {
        "create": {
          "request": {
            "$ref": "Policy"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameters": {
            "project": {
              "location": "path",
              "description": "Identifies the project addressed by this request.",
              "required": true,
              "type": "string"
            },
            "clientOperationId": {
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string"
            }
          },
          "description": "Creates a new policy.",
          "parameterOrder": [
            "project"
          ],
          "response": {
            "$ref": "Policy"
          },
          "httpMethod": "POST",
          "flatPath": "dns/v1/projects/{project}/policies",
          "path": "dns/v1/projects/{project}/policies",
          "id": "dns.policies.create"
        },
        "update": {
          "httpMethod": "PUT",
          "id": "dns.policies.update",
          "response": {
            "$ref": "PoliciesUpdateResponse"
          },
          "request": {
            "$ref": "Policy"
          },
          "flatPath": "dns/v1/projects/{project}/policies/{policy}",
          "parameterOrder": [
            "project",
            "policy"
          ],
          "path": "dns/v1/projects/{project}/policies/{policy}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "description": "Updates an existing policy.",
          "parameters": {
            "policy": {
              "required": true,
              "description": "User given friendly name of the policy addressed by this request.",
              "location": "path",
              "type": "string"
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "type": "string",
              "required": true
            }
          }
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "response": {
            "$ref": "PoliciesPatchResponse"
          },
          "httpMethod": "PATCH",
          "id": "dns.policies.patch",
          "request": {
            "$ref": "Policy"
          },
          "description": "Applies a partial update to an existing policy.",
          "parameters": {
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string",
              "location": "query"
            },
            "project": {
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true
            },
            "policy": {
              "description": "User given friendly name of the policy addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "dns/v1/projects/{project}/policies/{policy}",
          "flatPath": "dns/v1/projects/{project}/policies/{policy}",
          "parameterOrder": [
            "project",
            "policy"
          ]
        },
        "list": {
          "id": "dns.policies.list",
          "parameterOrder": [
            "project"
          ],
          "response": {
            "$ref": "PoliciesListResponse"
          },
          "httpMethod": "GET",
          "description": "Enumerates all policies associated with a project.",
          "path": "dns/v1/projects/{project}/policies",
          "flatPath": "dns/v1/projects/{project}/policies",
          "parameters": {
            "maxResults": {
              "format": "int32",
              "type": "integer",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.",
              "location": "query"
            },
            "project": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Identifies the project addressed by this request."
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        },
        "get": {
          "flatPath": "dns/v1/projects/{project}/policies/{policy}",
          "id": "dns.policies.get",
          "httpMethod": "GET",
          "parameterOrder": [
            "project",
            "policy"
          ],
          "path": "dns/v1/projects/{project}/policies/{policy}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "description": "Fetches the representation of an existing policy.",
          "response": {
            "$ref": "Policy"
          },
          "parameters": {
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string",
              "location": "query"
            },
            "project": {
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true
            },
            "policy": {
              "description": "User given friendly name of the policy addressed by this request.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          }
        },
        "delete": {
          "parameters": {
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string",
              "location": "query"
            },
            "project": {
              "location": "path",
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "required": true
            },
            "policy": {
              "description": "User given friendly name of the policy addressed by this request.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "project",
            "policy"
          ],
          "path": "dns/v1/projects/{project}/policies/{policy}",
          "description": "Deletes a previously created policy. Fails if the policy is still being referenced by a network.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "httpMethod": "DELETE",
          "flatPath": "dns/v1/projects/{project}/policies/{policy}",
          "id": "dns.policies.delete"
        }
      }
    }
  },
  "schemas": {
    "ManagedZonePrivateVisibilityConfig": {
      "type": "object",
      "id": "ManagedZonePrivateVisibilityConfig",
      "properties": {
        "gkeClusters": {
          "description": "The list of Google Kubernetes Engine clusters that can see this zone.",
          "type": "array",
          "items": {
            "$ref": "ManagedZonePrivateVisibilityConfigGKECluster"
          }
        },
        "kind": {
          "default": "dns#managedZonePrivateVisibilityConfig",
          "readOnly": true,
          "type": "string"
        },
        "networks": {
          "type": "array",
          "description": "The list of VPC networks that can see this zone.",
          "items": {
            "$ref": "ManagedZonePrivateVisibilityConfigNetwork"
          }
        }
      }
    },
    "RRSetRoutingPolicyGeoPolicyGeoPolicyItem": {
      "type": "object",
      "description": "ResourceRecordSet data for one geo location.",
      "properties": {
        "healthCheckedTargets": {
          "$ref": "RRSetRoutingPolicyHealthCheckTargets",
          "description": "For A and AAAA types only. Endpoints to return in the query result only if they are healthy. These can be specified along with `rrdata` within this item."
        },
        "signatureRrdatas": {
          "type": "array",
          "description": "DNSSEC generated signatures for all the `rrdata` within this item. When using health-checked targets for DNSSEC-enabled zones, you can only use at most one health-checked IP address per item.",
          "items": {
            "type": "string"
          }
        },
        "rrdatas": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "location": {
          "description": "The geo-location granularity is a GCP region. This location string should correspond to a GCP region. e.g. \"us-east1\", \"southamerica-east1\", \"asia-east1\", etc.",
          "type": "string"
        },
        "kind": {
          "readOnly": true,
          "default": "dns#rRSetRoutingPolicyGeoPolicyGeoPolicyItem",
          "type": "string"
        }
      },
      "id": "RRSetRoutingPolicyGeoPolicyGeoPolicyItem"
    },
    "PolicyDns64Config": {
      "type": "object",
      "id": "PolicyDns64Config",
      "description": "DNS64 policies",
      "properties": {
        "kind": {
          "readOnly": true,
          "default": "dns#policyDns64Config",
          "type": "string"
        },
        "scope": {
          "description": "The scope to which DNS64 config will be applied to.",
          "$ref": "PolicyDns64ConfigScope"
        }
      }
    },
    "RRSetRoutingPolicyLoadBalancerTarget": {
      "type": "object",
      "properties": {
        "networkUrl": {
          "type": "string",
          "description": "The fully qualified URL of the network that the load balancer is attached to. This should be formatted like `https://www.googleapis.com/compute/v1/projects/{project}/global/networks/{network}`."
        },
        "project": {
          "type": "string",
          "description": "The project ID in which the load balancer is located."
        },
        "ipAddress": {
          "type": "string",
          "description": "The frontend IP address of the load balancer to health check."
        },
        "ipProtocol": {
          "enum": [
            "undefined",
            "tcp",
            "udp"
          ],
          "description": "The protocol of the load balancer to health check.",
          "type": "string",
          "enumDescriptions": [
            "",
            "Indicates the load balancer is accessible via TCP.",
            "Indicates the load balancer is accessible via UDP."
          ]
        },
        "region": {
          "type": "string",
          "description": "The region in which the load balancer is located."
        },
        "kind": {
          "type": "string",
          "default": "dns#rRSetRoutingPolicyLoadBalancerTarget",
          "readOnly": true
        },
        "loadBalancerType": {
          "type": "string",
          "description": "The type of load balancer specified by this target. This value must match the configuration of the load balancer located at the LoadBalancerTarget's IP address, port, and region. Use the following: - *regionalL4ilb*: for a regional internal passthrough Network Load Balancer. - *regionalL7ilb*: for a regional internal Application Load Balancer. - *globalL7ilb*: for a global internal Application Load Balancer. ",
          "enumDescriptions": [
            "",
            "Indicates the load balancer is a Cross-Region Application Load Balancer.",
            "Indicates the load balancer is a Regional Network Passthrough Load Balancer.",
            "Indicates the load balancer is a Regional Application Load Balancer."
          ],
          "enum": [
            "none",
            "globalL7ilb",
            "regionalL4ilb",
            "regionalL7ilb"
          ]
        },
        "port": {
          "type": "string",
          "description": "The configured port of the load balancer."
        }
      },
      "id": "RRSetRoutingPolicyLoadBalancerTarget",
      "description": "The configuration for an individual load balancer to health check."
    },
    "DnsKey": {
      "type": "object",
      "id": "DnsKey",
      "description": "A DNSSEC key pair.",
      "properties": {
        "algorithm": {
          "enum": [
            "rsasha1",
            "rsasha256",
            "rsasha512",
            "ecdsap256sha256",
            "ecdsap384sha384"
          ],
          "description": "String mnemonic specifying the DNSSEC algorithm of this key. Immutable after creation time.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "isActive": {
          "type": "boolean",
          "description": "Active keys are used to sign subsequent changes to the ManagedZone. Inactive keys are still present as DNSKEY Resource Records for the use of resolvers validating existing signatures."
        },
        "keyTag": {
          "description": "The key tag is a non-cryptographic hash of the a DNSKEY resource record associated with this DnsKey. The key tag can be used to identify a DNSKEY more quickly (but it is not a unique identifier). In particular, the key tag is used in a parent zone's DS record to point at the DNSKEY in this child ManagedZone. The key tag is a number in the range [0, 65535] and the algorithm to calculate it is specified in RFC4034 Appendix B. Output only.",
          "type": "integer",
          "format": "int32"
        },
        "publicKey": {
          "type": "string",
          "description": "Base64 encoded public half of this key. Output only."
        },
        "description": {
          "type": "string",
          "description": "A mutable string of at most 1024 characters associated with this resource for the user's convenience. Has no effect on the resource's function."
        },
        "id": {
          "type": "string",
          "description": "Unique identifier for the resource; defined by the server (output only)."
        },
        "digests": {
          "items": {
            "$ref": "DnsKeyDigest"
          },
          "description": "Cryptographic hashes of the DNSKEY resource record associated with this DnsKey. These digests are needed to construct a DS record that points at this DNS key. Output only.",
          "type": "array"
        },
        "kind": {
          "default": "dns#dnsKey",
          "readOnly": true,
          "type": "string"
        },
        "creationTime": {
          "type": "string",
          "description": "The time that this resource was created in the control plane. This is in RFC3339 text format. Output only."
        },
        "type": {
          "enum": [
            "keySigning",
            "zoneSigning"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "description": "One of \"KEY_SIGNING\" or \"ZONE_SIGNING\". Keys of type KEY_SIGNING have the Secure Entry Point flag set and, when active, are used to sign only resource record sets of type DNSKEY. Otherwise, the Secure Entry Point flag is cleared, and this key is used to sign only resource record sets of other types. Immutable after creation time."
        },
        "keyLength": {
          "description": "Length of the key in bits. Specified at creation time, and then immutable.",
          "format": "uint32",
          "type": "integer"
        }
      }
    },
    "ManagedZonePeeringConfigTargetNetwork": {
      "id": "ManagedZonePeeringConfigTargetNetwork",
      "properties": {
        "kind": {
          "type": "string",
          "readOnly": true,
          "default": "dns#managedZonePeeringConfigTargetNetwork"
        },
        "networkUrl": {
          "description": "The fully qualified URL of the VPC network to forward queries to. This should be formatted like `https://www.googleapis.com/compute/v1/projects/{project}/global/networks/{network}`",
          "type": "string"
        },
        "deactivateTime": {
          "description": "The time at which the zone was deactivated, in RFC 3339 date-time format. An empty string indicates that the peering connection is active. The producer network can deactivate a zone. The zone is automatically deactivated if the producer network that the zone targeted is deleted. Output only.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleIamV1AuditLogConfig": {
      "id": "GoogleIamV1AuditLogConfig",
      "properties": {
        "logType": {
          "type": "string",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "description": "The log type that this config enables.",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ]
        },
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "type": "object"
    },
    "PoliciesPatchResponse": {
      "id": "PoliciesPatchResponse",
      "type": "object",
      "properties": {
        "policy": {
          "$ref": "Policy"
        }
      }
    },
    "ManagedZoneServiceDirectoryConfigNamespace": {
      "id": "ManagedZoneServiceDirectoryConfigNamespace",
      "properties": {
        "namespaceUrl": {
          "description": "The fully qualified URL of the namespace associated with the zone. Format must be `https://servicedirectory.googleapis.com/v1/projects/{project}/locations/{location}/namespaces/{namespace}`",
          "type": "string"
        },
        "deletionTime": {
          "type": "string",
          "description": "The time that the namespace backing this zone was deleted; an empty string if it still exists. This is in RFC3339 text format. Output only."
        },
        "kind": {
          "default": "dns#managedZoneServiceDirectoryConfigNamespace",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "RRSetRoutingPolicyWrrPolicyWrrPolicyItem": {
      "properties": {
        "signatureRrdatas": {
          "description": "DNSSEC generated signatures for all the `rrdata` within this item. When using health-checked targets for DNSSEC-enabled zones, you can only use at most one health-checked IP address per item.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "default": "dns#rRSetRoutingPolicyWrrPolicyWrrPolicyItem",
          "readOnly": true,
          "type": "string"
        },
        "healthCheckedTargets": {
          "$ref": "RRSetRoutingPolicyHealthCheckTargets",
          "description": "Endpoints that are health checked before making the routing decision. The unhealthy endpoints are omitted from the result. If all endpoints within a bucket are unhealthy, we choose a different bucket (sampled with respect to its weight) for responding. If DNSSEC is enabled for this zone, only one of `rrdata` or `health_checked_targets` can be set."
        },
        "rrdatas": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "weight": {
          "type": "number",
          "description": "The weight corresponding to this `WrrPolicyItem` object. When multiple `WrrPolicyItem` objects are configured, the probability of returning an `WrrPolicyItem` object's data is proportional to its weight relative to the sum of weights configured for all items. This weight must be non-negative.",
          "format": "double"
        }
      },
      "description": "A routing block which contains the routing information for one WRR item.",
      "id": "RRSetRoutingPolicyWrrPolicyWrrPolicyItem",
      "type": "object"
    },
    "ManagedZoneOperationsListResponse": {
      "type": "object",
      "id": "ManagedZoneOperationsListResponse",
      "properties": {
        "kind": {
          "default": "dns#managedZoneOperationsListResponse",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Type of resource."
        },
        "nextPageToken": {
          "description": "This field indicates that more results are available beyond the last page displayed. To fetch the results, make another list request and use this value as your page token. This lets you retrieve the complete contents of a very large collection one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned are an inconsistent view of the collection. You can't retrieve a consistent snapshot of a collection larger than the maximum page size.",
          "type": "string"
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "The operation resources."
        }
      }
    },
    "ResourceRecordSetsListResponse": {
      "id": "ResourceRecordSetsListResponse",
      "properties": {
        "rrsets": {
          "items": {
            "$ref": "ResourceRecordSet"
          },
          "description": "The resource record set resources.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "This field indicates that more results are available beyond the last page displayed. To fetch the results, make another list request and use this value as your page token. This lets you retrieve the complete contents of a very large collection one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned are an inconsistent view of the collection. You can't retrieve a consistent snapshot of a collection larger than the maximum page size.",
          "type": "string"
        },
        "kind": {
          "readOnly": true,
          "description": "Output only. Type of resource.",
          "type": "string",
          "default": "dns#resourceRecordSetsListResponse"
        }
      },
      "type": "object"
    },
    "ResponsePolicyRulesUpdateResponse": {
      "properties": {
        "responsePolicyRule": {
          "$ref": "ResponsePolicyRule"
        }
      },
      "type": "object",
      "id": "ResponsePolicyRulesUpdateResponse"
    },
    "ManagedZoneForwardingConfig": {
      "id": "ManagedZoneForwardingConfig",
      "properties": {
        "targetNameServers": {
          "items": {
            "$ref": "ManagedZoneForwardingConfigNameServerTarget"
          },
          "type": "array",
          "description": "List of target name servers to forward to. Cloud DNS selects the best available name server if more than one target is given."
        },
        "kind": {
          "default": "dns#managedZoneForwardingConfig",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleLongrunningOperation": {
      "id": "GoogleLongrunningOperation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "format": "google.protobuf.Any"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "format": "google.protobuf.Any"
        }
      },
      "type": "object"
    },
    "RRSetRoutingPolicyWrrPolicy": {
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "RRSetRoutingPolicyWrrPolicyWrrPolicyItem"
          }
        },
        "kind": {
          "readOnly": true,
          "default": "dns#rRSetRoutingPolicyWrrPolicy",
          "type": "string"
        }
      },
      "type": "object",
      "id": "RRSetRoutingPolicyWrrPolicy",
      "description": "Configures a RRSetRoutingPolicy that routes in a weighted round robin fashion."
    },
    "ResponsePolicyRulesListResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "This field indicates that more results are available beyond the last page displayed. To fetch the results, make another list request and use this value as your page token. This lets you retrieve the complete contents of a very large collection one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned are an inconsistent view of the collection. You can't retrieve a consistent snapshot of a collection larger than the maximum page size."
        },
        "responsePolicyRules": {
          "description": "The Response Policy Rule resources.",
          "type": "array",
          "items": {
            "$ref": "ResponsePolicyRule"
          }
        }
      },
      "id": "ResponsePolicyRulesListResponse"
    },
    "Policy": {
      "properties": {
        "alternativeNameServerConfig": {
          "$ref": "PolicyAlternativeNameServerConfig",
          "description": "Sets an alternative name server for the associated networks. When specified, all DNS queries are forwarded to a name server that you choose. Names such as .internal are not available when an alternative name server is specified."
        },
        "description": {
          "description": "A mutable string of at most 1024 characters associated with this resource for the user's convenience. Has no effect on the policy's function.",
          "type": "string"
        },
        "enableInboundForwarding": {
          "type": "boolean",
          "description": "Allows networks bound to this policy to receive DNS queries sent by VMs or applications over VPN connections. When enabled, a virtual IP address is allocated from each of the subnetworks that are bound to this policy."
        },
        "id": {
          "format": "uint64",
          "description": "Unique identifier for the resource; defined by the server (output only).",
          "type": "string"
        },
        "networks": {
          "type": "array",
          "description": "List of network names specifying networks to which this policy is applied.",
          "items": {
            "$ref": "PolicyNetwork"
          }
        },
        "dns64Config": {
          "description": "Configurations related to DNS64 for this policy.",
          "$ref": "PolicyDns64Config"
        },
        "enableLogging": {
          "description": "Controls whether logging is enabled for the networks bound to this policy. Defaults to no logging if not set.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "User-assigned name for this policy."
        },
        "kind": {
          "default": "dns#policy",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "Policy",
      "type": "object",
      "description": "A policy is a collection of DNS rules applied to one or more Virtual Private Cloud resources."
    },
    "RRSetRoutingPolicyHealthCheckTargets": {
      "type": "object",
      "description": "HealthCheckTargets describes endpoints to health-check when responding to Routing Policy queries. Only the healthy endpoints will be included in the response. Set either `internal_load_balancer` or `external_endpoints`. Do not set both.",
      "properties": {
        "externalEndpoints": {
          "description": "The Internet IP addresses to be health checked. The format matches the format of ResourceRecordSet.rrdata as defined in RFC 1035 (section 5) and RFC 1034 (section 3.6.1)",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "internalLoadBalancers": {
          "type": "array",
          "description": "Configuration for internal load balancers to be health checked.",
          "items": {
            "$ref": "RRSetRoutingPolicyLoadBalancerTarget"
          }
        }
      },
      "id": "RRSetRoutingPolicyHealthCheckTargets"
    },
    "ResponsePolicyNetwork": {
      "type": "object",
      "properties": {
        "kind": {
          "default": "dns#responsePolicyNetwork",
          "readOnly": true,
          "type": "string"
        },
        "networkUrl": {
          "type": "string",
          "description": "The fully qualified URL of the VPC network to bind to. This should be formatted like `https://www.googleapis.com/compute/v1/projects/{project}/global/networks/{network}`"
        }
      },
      "id": "ResponsePolicyNetwork"
    },
    "ManagedZoneCloudLoggingConfig": {
      "properties": {
        "kind": {
          "readOnly": true,
          "default": "dns#managedZoneCloudLoggingConfig",
          "type": "string"
        },
        "enableLogging": {
          "description": "If set, enable query logging for this ManagedZone. False by default, making logging opt-in.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "ManagedZoneCloudLoggingConfig",
      "description": "Cloud Logging configurations for publicly visible zones."
    },
    "GoogleIamV1Binding": {
      "type": "object",
      "description": "Associates `members`, or principals, with a `role`.",
      "properties": {
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        },
        "members": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emaili
[...]
