{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/ndev.clouddns.readonly": {
          "description": "View your DNS records hosted by Google Cloud DNS"
        },
        "https://www.googleapis.com/auth/ndev.clouddns.readwrite": {
          "description": "View and manage your DNS records hosted by Google Cloud DNS"
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version": "v1beta2",
  "title": "Cloud DNS API",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://dns.mtls.googleapis.com/",
  "rootUrl": "https://dns.googleapis.com/",
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "RRSetRoutingPolicyGeoPolicy": {
      "description": "Configures a `RRSetRoutingPolicy` that routes based on the geo location of the querying user.",
      "type": "object",
      "id": "RRSetRoutingPolicyGeoPolicy",
      "properties": {
        "enableFencing": {
          "type": "boolean",
          "description": "Without fencing, if health check fails for all configured items in the current geo bucket, we failover to the next nearest geo bucket. With fencing, if health checking is enabled, as long as some targets in the current geo bucket are healthy, we return only the healthy targets. However, if all targets are unhealthy, we don't failover to the next nearest bucket; instead, we return all the items in the current bucket even when all targets are unhealthy."
        },
        "items": {
          "description": "The primary geo routing configuration. If there are multiple items with the same location, an error is returned instead.",
          "type": "array",
          "items": {
            "$ref": "RRSetRoutingPolicyGeoPolicyGeoPolicyItem"
          }
        },
        "kind": {
          "default": "dns#rRSetRoutingPolicyGeoPolicy",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ManagedZonesListResponse": {
      "type": "object",
      "id": "ManagedZonesListResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "This field indicates that more results are available beyond the last page displayed. To fetch the results, make another list request and use this value as your page token. This lets you retrieve the complete contents of a very large collection one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned are an inconsistent view of the collection. You can't retrieve a consistent snapshot of a collection larger than the maximum page size."
        },
        "managedZones": {
          "description": "The managed zone resources.",
          "items": {
            "$ref": "ManagedZone"
          },
          "type": "array"
        },
        "kind": {
          "default": "dns#managedZonesListResponse",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Type of resource."
        }
      }
    },
    "GoogleIamV1Binding": {
      "type": "object",
      "id": "GoogleIamV1Binding",
      "properties": {
        "members": {
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "type": "array"
        },
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        }
      },
      "description": "Associates `members`, or principals, with a `role`."
    },
    "RRSetRoutingPolicyPrimaryBackupPolicy": {
      "description": "Configures a RRSetRoutingPolicy such that all queries are responded with the primary_targets if they are healthy. And if all of them are unhealthy, then we fallback to a geo localized policy.",
      "id": "RRSetRoutingPolicyPrimaryBackupPolicy",
      "type": "object",
      "properties": {
        "primaryTargets": {
          "description": "Endpoints that are health checked before making the routing decision. Unhealthy endpoints are omitted from the results. If all endpoints are unhealthy, we serve a response based on the `backup_geo_targets`.",
          "$ref": "RRSetRoutingPolicyHealthCheckTargets"
        },
        "kind": {
          "type": "string",
          "readOnly": true,
          "default": "dns#rRSetRoutingPolicyPrimaryBackupPolicy"
        },
        "backupGeoTargets": {
          "$ref": "RRSetRoutingPolicyGeoPolicy",
          "description": "Backup targets provide a regional failover policy for the otherwise global primary targets. If serving state is set to `BACKUP`, this policy essentially becomes a geo routing policy."
        },
        "trickleTraffic": {
          "description": "When serving state is `PRIMARY`, this field provides the option of sending a small percentage of the traffic to the backup targets.",
          "format": "double",
          "type": "number"
        }
      }
    },
    "ResourceRecordSet": {
      "properties": {
        "ttl": {
          "description": "Number of seconds that this `ResourceRecordSet` can be cached by resolvers.",
          "type": "integer",
          "format": "int32"
        },
        "signatureRrdatas": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "kind": {
          "readOnly": true,
          "type": "string",
          "default": "dns#resourceRecordSet"
        },
        "routingPolicy": {
          "$ref": "RRSetRoutingPolicy",
          "description": "Configures dynamic query responses based on either the geo location of the querying user or a weighted round robin based routing policy. A valid `ResourceRecordSet` contains only `rrdata` (for static resolution) or a `routing_policy` (for dynamic resolution)."
        },
        "type": {
          "description": "The identifier of a supported record type. See the list of Supported DNS record types.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "For example, www.example.com."
        },
        "rrdatas": {
          "description": "As defined in RFC 1035 (section 5) and RFC 1034 (section 3.6.1) -- see examples.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ResourceRecordSet",
      "type": "object",
      "description": "A unit of data that is returned by the DNS servers."
    },
    "PoliciesPatchResponse": {
      "id": "PoliciesPatchResponse",
      "type": "object",
      "properties": {
        "policy": {
          "$ref": "Policy"
        }
      }
    },
    "ResponsePolicyRulesPatchResponse": {
      "properties": {
        "responsePolicyRule": {
          "$ref": "ResponsePolicyRule"
        }
      },
      "type": "object",
      "id": "ResponsePolicyRulesPatchResponse"
    },
    "ManagedZone": {
      "type": "object",
      "properties": {
        "forwardingConfig": {
          "description": "The presence for this field indicates that outbound forwarding is enabled for this zone. The value of this field contains the set of destinations to forward to.",
          "$ref": "ManagedZoneForwardingConfig"
        },
        "reverseLookupConfig": {
          "description": "The presence of this field indicates that this is a managed reverse lookup zone and Cloud DNS resolves reverse lookup queries using automatically configured records for VPC resources. This only applies to networks listed under private_visibility_config.",
          "$ref": "ManagedZoneReverseLookupConfig"
        },
        "cloudLoggingConfig": {
          "$ref": "ManagedZoneCloudLoggingConfig"
        },
        "labels": {
          "description": "User labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "creationTime": {
          "description": "The time that this resource was created on the server. This is in RFC3339 text format. Output only.",
          "type": "string"
        },
        "visibility": {
          "description": "The zone's visibility: public zones are exposed to the Internet, while private zones are visible only to Virtual Private Cloud resources.",
          "enum": [
            "public",
            "private"
          ],
          "type": "string",
          "enumDescriptions": [
            "Indicates that records in this zone can be queried from the public internet.",
            "Indicates that records in this zone cannot be queried from the public internet. Access to private zones depends on the zone configuration."
          ]
        },
        "dnsName": {
          "type": "string",
          "description": "The DNS name of this managed zone, for instance \"example.com.\"."
        },
        "kind": {
          "default": "dns#managedZone",
          "readOnly": true,
          "type": "string"
        },
        "id": {
          "description": "Unique identifier for the resource; defined by the server (output only)",
          "type": "string",
          "format": "uint64"
        },
        "dnssecConfig": {
          "$ref": "ManagedZoneDnsSecConfig",
          "description": "DNSSEC configuration."
        },
        "name": {
          "description": "User assigned name for this resource. Must be unique within the project. The name must be 1-63 characters long, must begin with a letter, end with a letter or digit, and only contain lowercase letters, digits or dashes.",
          "type": "string"
        },
        "privateVisibilityConfig": {
          "description": "For privately visible zones, the set of Virtual Private Cloud resources that the zone is visible from.",
          "$ref": "ManagedZonePrivateVisibilityConfig"
        },
        "nameServers": {
          "items": {
            "type": "string"
          },
          "description": "Delegate your managed_zone to these virtual name servers; defined by the server (output only)",
          "type": "array"
        },
        "description": {
          "type": "string",
          "description": "A mutable string of at most 1024 characters associated with this resource for the user's convenience. Has no effect on the managed zone's function."
        },
        "peeringConfig": {
          "$ref": "ManagedZonePeeringConfig",
          "description": "The presence of this field indicates that DNS Peering is enabled for this zone. The value of this field contains the network to peer with."
        },
        "nameServerSet": {
          "description": "Optionally specifies the NameServerSet for this ManagedZone. A NameServerSet is a set of DNS name servers that all host the same ManagedZones. Most users leave this field unset. If you need to use this field, contact your account team.",
          "type": "string"
        },
        "serviceDirectoryConfig": {
          "$ref": "ManagedZoneServiceDirectoryConfig",
          "description": "This field links to the associated service directory namespace. Do not set this field for public zones or forwarding zones."
        }
      },
      "id": "ManagedZone",
      "description": "A zone is a subtree of the DNS namespace under one administrative responsibility. A ManagedZone is a resource that represents a DNS zone hosted by the Cloud DNS service."
    },
    "RRSetRoutingPolicyHealthCheckTargets": {
      "type": "object",
      "id": "RRSetRoutingPolicyHealthCheckTargets",
      "description": "HealthCheckTargets describes endpoints to health-check when responding to Routing Policy queries. Only the healthy endpoints will be included in the response. Set either `internal_load_balancer` or `external_endpoints`. Do not set both.",
      "properties": {
        "internalLoadBalancers": {
          "items": {
            "$ref": "RRSetRoutingPolicyLoadBalancerTarget"
          },
          "type": "array",
          "description": "Configuration for internal load balancers to be health checked."
        },
        "externalEndpoints": {
          "description": "The Internet IP addresses to be health checked. The format matches the format of ResourceRecordSet.rrdata as defined in RFC 1035 (section 5) and RFC 1034 (section 3.6.1)",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ManagedZonePeeringConfig": {
      "id": "ManagedZonePeeringConfig",
      "properties": {
        "kind": {
          "default": "dns#managedZonePeeringConfig",
          "type": "string",
          "readOnly": true
        },
        "targetNetwork": {
          "description": "The network with which to peer.",
          "$ref": "ManagedZonePeeringConfigTargetNetwork"
        }
      },
      "type": "object"
    },
    "ResponsePoliciesListResponse": {
      "id": "ResponsePoliciesListResponse",
      "type": "object",
      "properties": {
        "responsePolicies": {
          "items": {
            "$ref": "ResponsePolicy"
          },
          "description": "The Response Policy resources.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "This field indicates that more results are available beyond the last page displayed. To fetch the results, make another list request and use this value as your page token. This lets you retrieve the complete contents of a very large collection one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned are an inconsistent view of the collection. You can't retrieve a consistent snapshot of a collection larger than the maximum page size.",
          "type": "string"
        }
      }
    },
    "Expr": {
      "type": "object",
      "properties": {
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        }
      },
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
    },
    "Empty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object"
    },
    "Status": {
      "id": "Status",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "format": "google.protobuf.Any"
          },
          "type": "array"
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "PolicyDns64ConfigScope": {
      "id": "PolicyDns64ConfigScope",
      "properties": {
        "kind": {
          "type": "string",
          "default": "dns#policyDns64ConfigScope",
          "readOnly": true
        },
        "allQueries": {
          "description": "Controls whether DNS64 is enabled globally for all networks bound to the policy.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "ManagedZoneForwardingConfigNameServerTarget": {
      "id": "ManagedZoneForwardingConfigNameServerTarget",
      "type": "object",
      "properties": {
        "kind": {
          "readOnly": true,
          "default": "dns#managedZoneForwardingConfigNameServerTarget",
          "type": "string"
        },
        "domainName": {
          "type": "string",
          "description": "Fully qualified domain name for the forwarding target."
        },
        "ipv4Address": {
          "description": "IPv4 address of a target name server.",
          "type": "string"
        },
        "ipv6Address": {
          "description": "IPv6 address of a target name server. Does not accept both fields (ipv4 & ipv6) being populated. Public preview as of November 2022.",
          "type": "string"
        },
        "forwardingPath": {
          "description": "Forwarding path for this NameServerTarget. If unset or set to DEFAULT, Cloud DNS makes forwarding decisions based on IP address ranges; that is, RFC1918 addresses go to the VPC network, non-RFC1918 addresses go to the internet. When set to PRIVATE, Cloud DNS always sends queries through the VPC network for this target.",
          "type": "string",
          "enumDescriptions": [
            "Cloud DNS makes forwarding decisions based on address ranges; that is, RFC1918 addresses forward to the target through the VPC and non-RFC1918 addresses forward to the target through the internet",
            "Cloud DNS always forwards to this target through the VPC."
          ],
          "enum": [
            "default",
            "private"
          ]
        }
      }
    },
    "ResponsePolicyRuleLocalData": {
      "type": "object",
      "id": "ResponsePolicyRuleLocalData",
      "properties": {
        "localDatas": {
          "type": "array",
          "description": "All resource record sets for this selector, one per resource record type. The name must match the dns_name.",
          "items": {
            "$ref": "ResourceRecordSet"
          }
        }
      }
    },
    "DnsKeysListResponse": {
      "properties": {
        "dnsKeys": {
          "type": "array",
          "items": {
            "$ref": "DnsKey"
          },
          "description": "The requested resources."
        },
        "kind": {
          "default": "dns#dnsKeysListResponse",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Type of resource."
        },
        "nextPageToken": {
          "description": "This field indicates that more results are available beyond the last page displayed. To fetch the results, make another list request and use this value as your page token. This lets you retrieve the complete contents of a very large collection one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned are an inconsistent view of the collection. You can't retrieve a consistent snapshot of a collection larger than the maximum page size.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The response to a request to enumerate DnsKeys in a ManagedZone.",
      "id": "DnsKeysListResponse"
    },
    "ResponsePolicy": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "User-provided description for this Response Policy."
        },
        "kind": {
          "default": "dns#responsePolicy",
          "readOnly": true,
          "type": "string"
        },
        "gkeClusters": {
          "type": "array",
          "description": "The list of Google Kubernetes Engine clusters to which this response policy is applied.",
          "items": {
            "$ref": "ResponsePolicyGKECluster"
          }
        },
        "responsePolicyName": {
          "description": "User assigned name for this Response Policy.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "User labels."
        },
        "networks": {
          "items": {
            "$ref": "ResponsePolicyNetwork"
          },
          "type": "array",
          "description": "List of network names specifying networks to which this policy is applied."
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "Unique identifier for the resource; defined by the server (output only)."
        }
      },
      "description": "A Response Policy is a collection of selectors that apply to queries made against one or more Virtual Private Cloud networks.",
      "id": "ResponsePolicy"
    },
    "RRSetRoutingPolicyGeoPolicyGeoPolicyItem": {
      "description": "ResourceRecordSet data for one geo location.",
      "type": "object",
      "id": "RRSetRoutingPolicyGeoPolicyGeoPolicyItem",
      "properties": {
        "location": {
          "type": "string",
          "description": "The geo-location granularity is a GCP region. This location string should correspond to a GCP region. e.g. \"us-east1\", \"southamerica-east1\", \"asia-east1\", etc."
        },
        "kind": {
          "default": "dns#rRSetRoutingPolicyGeoPolicyGeoPolicyItem",
          "type": "string",
          "readOnly": true
        },
        "rrdatas": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "healthCheckedTargets": {
          "description": "For A and AAAA types only. Endpoints to return in the query result only if they are healthy. These can be specified along with `rrdata` within this item.",
          "$ref": "RRSetRoutingPolicyHealthCheckTargets"
        },
        "signatureRrdatas": {
          "description": "DNSSEC generated signatures for all the `rrdata` within this item. When using health-checked targets for DNSSEC-enabled zones, you can only use at most one health-checked IP address per item.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ManagedZoneDnsSecConfig": {
      "id": "ManagedZoneDnsSecConfig",
      "properties": {
        "defaultKeySpecs": {
          "type": "array",
          "items": {
            "$ref": "DnsKeySpec"
          },
          "description": "Specifies parameters for generating initial DnsKeys for this ManagedZone. Can only be changed while the state is OFF."
        },
        "state": {
          "type": "string",
          "enum": [
            "off",
            "on",
            "transfer"
          ],
          "enumDescriptions": [
            "DNSSEC is disabled; the zone is not signed.",
            "DNSSEC is enabled; the zone is signed and fully managed.",
            "DNSSEC is enabled, but in a \"transfer\" mode."
          ],
          "description": "Specifies whether DNSSEC is enabled, and what mode it is in."
        },
        "nonExistence": {
          "description": "Specifies the mechanism for authenticated denial-of-existence responses. Can only be changed while the state is OFF.",
          "enum": [
            "nsec",
            "nsec3"
          ],
          "type": "string",
          "enumDescriptions": [
            "Indicates that Cloud DNS will sign records in the managed zone according to RFC 4034 and respond with NSEC records for names that do not exist.",
            "Indicates that Cloud DNS will sign records in the managed zone according to RFC 5155 and respond with NSEC3 records for names that do not exist."
          ]
        },
        "kind": {
          "default": "dns#managedZoneDnsSecConfig",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "ResourceRecordSetsListResponse": {
      "type": "object",
      "id": "ResourceRecordSetsListResponse",
      "properties": {
        "rrsets": {
          "type": "array",
          "items": {
            "$ref": "ResourceRecordSet"
          },
          "description": "The resource record set resources."
        },
        "nextPageToken": {
          "type": "string",
          "description": "This field indicates that more results are available beyond the last page displayed. To fetch the results, make another list request and use this value as your page token. This lets you retrieve the complete contents of a very large collection one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned are an inconsistent view of the collection. You can't retrieve a consistent snapshot of a collection larger than the maximum page size."
        },
        "kind": {
          "default": "dns#resourceRecordSetsListResponse",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Type of resource."
        }
      }
    },
    "GoogleIamV1SetIamPolicyRequest": {
      "type": "object",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "GoogleIamV1Policy"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
        }
      },
      "description": "Request message for `SetIamPolicy` method.",
      "id": "GoogleIamV1SetIamPolicyRequest"
    },
    "GoogleIamV1GetIamPolicyRequest": {
      "type": "object",
      "properties": {
        "options": {
          "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`.",
          "$ref": "GoogleIamV1GetPolicyOptions"
        }
      },
      "id": "GoogleIamV1GetIamPolicyRequest",
      "description": "Request message for `GetIamPolicy` method."
    },
    "GoogleLongrunningListOperationsResponse": {
      "properties": {
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        }
      },
      "id": "GoogleLongrunningListOperationsResponse",
      "type": "object",
      "description": "The response message for Operations.ListOperations."
    },
    "OperationDnsKeyContext": {
      "id": "OperationDnsKeyContext",
      "properties": {
        "newValue": {
          "description": "The post-operation DnsKey resource.",
          "$ref": "DnsKey"
        },
        "oldValue": {
          "$ref": "DnsKey",
          "description": "The pre-operation DnsKey resource."
        }
      },
      "type": "object"
    },
    "GoogleIamV1AuditConfig": {
      "id": "GoogleIamV1AuditConfig",
      "properties": {
        "auditLogConfigs": {
          "type": "array",
          "description": "The configuration for logging of each type of permission.",
          "items": {
            "$ref": "GoogleIamV1AuditLogConfig"
          }
        },
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        }
      },
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "type": "object"
    },
    "RRSetRoutingPolicyWrrPolicy": {
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "RRSetRoutingPolicyWrrPolicyWrrPolicyItem"
          }
        },
        "kind": {
          "type": "string",
          "default": "dns#rRSetRoutingPolicyWrrPolicy",
          "readOnly": true
        }
      },
      "description": "Configures a RRSetRoutingPolicy that routes in a weighted round robin fashion.",
      "type": "object",
      "id": "RRSetRoutingPolicyWrrPolicy"
    },
    "Change": {
      "type": "object",
      "description": "A Change represents a set of `ResourceRecordSet` additions and deletions applied atomically to a ManagedZone. ResourceRecordSets within a ManagedZone are modified by creating a new Change element in the Changes collection. In turn the Changes collection also records the past modifications to the `ResourceRecordSets` in a `ManagedZone`. The current state of the `ManagedZone` is the sum effect of applying all `Change` elements in the `Changes` collection in sequence.",
      "id": "Change",
      "properties": {
        "additions": {
          "items": {
            "$ref": "ResourceRecordSet"
          },
          "type": "array",
          "description": "Which ResourceRecordSets to add?"
        },
        "startTime": {
          "type": "string",
          "description": "The time that this operation was started by the server (output only). This is in RFC3339 text format."
        },
        "isServing": {
          "type": "boolean",
          "description": "If the DNS queries for the zone will be served."
        },
        "deletions": {
          "type": "array",
          "description": "Which ResourceRecordSets to remove? Must match existing data exactly.",
          "items": {
            "$ref": "ResourceRecordSet"
          }
        },
        "kind": {
          "type": "string",
          "default": "dns#change",
          "readOnly": true
        },
        "id": {
          "description": "Unique identifier for the resource; defined by the server (output only).",
          "type": "string"
        },
        "status": {
          "enum": [
            "pending",
            "done"
          ],
          "type": "string",
          "description": "Status of the operation (output only). A status of \"done\" means that the request to update the authoritative servers has been sent, but the servers might not be updated yet.",
          "enumDescriptions": [
            "",
            ""
          ]
        }
      }
    },
    "DnsKey": {
      "description": "A DNSSEC key pair.",
      "id": "DnsKey",
      "type": "object",
      "properties": {
        "algorithm": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "rsasha1",
            "rsasha256",
            "rsasha512",
            "ecdsap256sha256",
            "ecdsap384sha384"
          ],
          "description": "String mnemonic specifying the DNSSEC algorithm of this key. Immutable after creation time.",
          "type": "string"
        },
        "description": {
          "description": "A mutable string of at most 1024 characters associated with this resource for the user's convenience. Has no effect on the resource's function.",
          "type": "string"
        },
        "kind": {
          "readOnly": true,
          "type": "string",
          "default": "dns#dnsKey"
        },
        "creationTime": {
          "description": "The time that this resource was created in the control plane. This is in RFC3339 text format. Output only.",
          "type": "string"
        },
        "publicKey": {
          "description": "Base64 encoded public half of this key. Output only.",
          "type": "string"
        },
        "isActive": {
          "type": "boolean",
          "description": "Active keys are used to sign subsequent changes to the ManagedZone. Inactive keys are still present as DNSKEY Resource Records for the use of resolvers validating existing signatures."
        },
        "keyLength": {
          "type": "integer",
          "description": "Length of the key in bits. Specified at creation time, and then immutable.",
          "format": "uint32"
        },
        "digests": {
          "type": "array",
          "items": {
            "$ref": "DnsKeyDigest"
          },
          "description": "Cryptographic hashes of the DNSKEY resource record associated with this DnsKey. These digests are needed to construct a DS record that points at this DNS key. Output only."
        },
        "type": {
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "description": "One of \"KEY_SIGNING\" or \"ZONE_SIGNING\". Keys of type KEY_SIGNING have the Secure Entry Point flag set and, when active, are used to sign only resource record sets of type DNSKEY. Otherwise, the Secure Entry Point flag is cleared, and this key is used to sign only resource record sets of other types. Immutable after creation time.",
          "enum": [
            "keySigning",
            "zoneSigning"
          ]
        },
        "id": {
          "description": "Unique identifier for the resource; defined by the server (output only).",
          "type": "string"
        },
        "keyTag": {
          "description": "The key tag is a non-cryptographic hash of the a DNSKEY resource record associated with this DnsKey. The key tag can be used to identify a DNSKEY more quickly (but it is not a unique identifier). In particular, the key tag is used in a parent zone's DS record to point at the DNSKEY in this child ManagedZone. The key tag is a number in the range [0, 65535] and the algorithm to calculate it is specified in RFC4034 Appendix B. Output only.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ResponsePolicyNetwork": {
      "properties": {
        "kind": {
          "readOnly": true,
          "type": "string",
          "default": "dns#responsePolicyNetwork"
        },
        "networkUrl": {
          "description": "The fully qualified URL of the VPC network to bind to. This should be formatted like `https://www.googleapis.com/compute/v1/projects/{project}/global/networks/{network}`",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ResponsePolicyNetwork"
    },
    "ChangesListResponse": {
      "description": "The response to a request to enumerate Changes to a ResourceRecordSets collection.",
      "id": "ChangesListResponse",
      "properties": {
        "changes": {
          "description": "The requested changes.",
          "items": {
            "$ref": "Change"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "This field indicates that more results are available beyond the last page displayed. To fetch the results, make another list request and use this value as your page token. This lets you retrieve the complete contents of a very large collection one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned are an inconsistent view of the collection. You can't retrieve a consistent snapshot of a collection larger than the maximum page size."
        },
        "kind": {
          "default": "dns#changesListResponse",
          "description": "Output only. Type of resource.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleIamV1TestIamPermissionsRequest": {
      "type": "object",
      "description": "Request message for `TestIamPermissions` method.",
      "id": "GoogleIamV1TestIamPermissionsRequest",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
        }
      }
    },
    "ResponsePolicyRulesListResponse": {
      "type": "object",
      "id": "ResponsePolicyRulesListResponse",
      "properties": {
        "responsePolicyRules": {
          "type": "array",
          "description": "The Response Policy Rule resources.",
          "items": {
            "$ref": "ResponsePolicyRule"
          }
        },
        "nextPageToken": {
          "description": "This field indicates that more results are available beyond the last page displayed. To fetch the results, make another list request and use this value as your page token. This lets you retrieve the complete contents of a very large collection one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned are an inconsistent view of the collection. You can't retrieve a consistent snapshot of a collection larger than the maximum page size.",
          "type": "string"
        }
      }
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "metadata": {
          "format": "google.protobuf.Any",
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        }
      },
      "id": "Location",
      "type": "object"
    },
    "Project": {
      "properties": {
        "kind": {
          "readOnly": true,
          "type": "string",
          "default": "dns#project"
        },
        "number": {
          "format": "uint64",
          "type": "string",
          "description": "Unique numeric identifier for the resource; defined by the server (output only)."
        },
        "quota": {
          "description": "Quotas assigned to this project (output only).",
          "$ref": "Quota"
        },
        "id": {
          "description": "User assigned unique identifier for the resource (output only).",
          "type": "string"
        }
      },
      "id": "Project",
      "description": "A project resource. The project is a top level container for resources including Cloud DNS ManagedZones. Projects can be created only in the APIs console.",
      "type": "object"
    },
    "ManagedZoneForwardingConfig": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "readOnly": true,
          "default": "dns#managedZoneForwardingConfig"
        },
        "targetNameServers": {
          "type": "array",
          "description": "List of target name servers to forward to. Cloud DNS selects the best available name server if more than one target is given.",
          "items": {
            "$ref": "ManagedZoneForwardingConfigNameServerTarget"
          }
        },
        "outboundEndpoints": {
          "description": "The list of outbound endpoints to use for queries.",
          "items": {
            "$ref": "ManagedZoneForwardingConfigOutboundEndpoint"
          },
          "type": "array"
        }
      },
      "id": "ManagedZoneForwardingConfig"
    },
    "ManagedZonePrivateVisibilityConfig": {
      "properties": {
        "networks": {
          "type": "array",
          "description": "The list of VPC networks that can see this zone.",
          "items": {
            "$ref": "ManagedZonePrivateVisibilityConfigNetwork"
          }
        },
        "gkeClusters": {
          "type": "array",
          "items": {
            "$ref": "ManagedZonePrivateVisibilityConfigGKECluster"
          },
          "description": "The list of Google Kubernetes Engine clusters that can see this zone."
        },
        "kind": {
          "default": "dns#managedZonePrivateVisibilityConfig",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "ManagedZonePrivateVisibilityConfig"
    },
    "PolicyNetwork": {
      "properties": {
        "kind": {
          "default": "dns#policyNetwork",
          "readOnly": true,
          "type": "string"
        },
        "networkUrl": {
          "description": "The fully qualified URL of the VPC network to bind to. This should be formatted like https://www.googleapis.com/compute/v1/projects/{project}/global/networks/{network}",
          "type": "string"
        }
      },
      "type": "object",
      "id": "PolicyNetwork"
    },
    "Operation": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "description": "Status of the operation. Can be one of the following: \"PENDING\" or \"DONE\" (output only). A status of \"DONE\" means that the request to update the authoritative servers has been sent, but the servers might not be updated yet.",
          "enum": [
            "pending",
            "done"
          ],
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "zoneContext": {
          "description": "Only populated if the operation targeted a ManagedZone (output only).",
          "$ref": "OperationManagedZoneContext"
        },
        "kind": {
          "default": "dns#operation",
          "readOnly": true,
          "type": "string"
        },
        "dnsKeyContext": {
          "$ref": "OperationDnsKeyContext",
          "description": "Only populated if the operation targeted a DnsKey (output only)."
        },
        "id": {
          "type": "string",
          "description": "Unique identifier for the resource. This is the client_operation_id if the client specified it when the mutation was initiated, otherwise, it is generated by the server. The name must be 1-63 characters long and match the regular expression [-a-z0-9]? (output only)"
        },
        "type": {
          "description": "Type of the operation. Operations include insert, update, and delete (output only).",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "description": "The time that this operation was started by the server. This is in RFC3339 text format (output only)."
        },
        "user": {
          "description": "User who requested the operation, for example: user@example.com. cloud-dns-system for operations automatically done by the system. (output only)",
          "type": "string"
        }
      },
      "description": "An operation represents a successful mutation performed on a Cloud DNS resource. Operations provide: - An audit log of server resource mutations. - A way to recover/retry API calls in the case where the response is never received by the caller. Use the caller specified client_operation_id.",
      "id": "Operation"
    },
    "PoliciesUpdateResponse": {
      "properties": {
        "policy": {
          "$ref": "Policy"
        }
      },
      "type": "object",
      "id": "PoliciesUpdateResponse"
    },
    "ManagedZoneServiceDirectoryConfig": {
      "type": "object",
      "description": "Contains information about Service Directory-backed zones.",
      "id": "ManagedZoneServiceDirectoryConfig",
      "properties": {
        "namespace": {
          "description": "Contains information about the namespace associated with the zone.",
          "$ref": "ManagedZoneServiceDirectoryConfigNamespace"
        },
        "kind": {
          "readOnly": true,
          "type": "string",
          "default": "dns#managedZoneServiceDirectoryConfig"
        }
      }
    },
    "ManagedZoneOperationsListResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "This field indicates that more results are available beyond the last page displayed. To fetch the results, make another list request and use this value as your page token. This lets you retrieve the complete contents of a very large collection one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned are an inconsistent view of the collection. You can't retrieve a consistent snapshot of a collection larger than the maximum page size."
        },
        "kind": {
          "type": "string",
          "default": "dns#managedZoneOperationsListResponse",
          "description": "Output only. Type of resource.",
          "readOnly": true
        },
        "operations": {
          "description": "The operation resources.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        }
      },
      "id": "ManagedZoneOperationsListResponse"
    },
    "ListOutboundEndpointsResponse": {
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Unordered list. The resource names of the unreachable locations. Format: `projects/{project}/locations/{location}`",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Set to empty if there are no remaining results."
        },
        "outboundEndpoints": {
          "items": {
            "$ref": "OutboundEndpoint"
          },
          "type": "array",
          "description": "The list of OutboundEndpoints."
        }
      },
      "id": "ListOutboundEndpointsResponse",
      "description": "Response message for OutboundEndpointsService.ListOutboundEndpoints",
      "type": "object"
    },
    "ManagedZonePrivateVisibilityConfigNetwork": {
      "properties": {
        "kind": {
          "default": "dns#managedZonePrivateVisibilityConfigNetwork",
          "type": "string",
          "readOnly": true
        },
        "networkUrl": {
          "description": "The fully qualified URL of the VPC network to bind to. Format this URL like `https://www.googleapis.com/compute/v1/projects/{project}/global/networks/{network}`",
          "type": "string"
        }
      },
      "id": "ManagedZonePrivateVisibilityConfigNetwork",
      "type": "object"
    },
    "Policy": {
      "description": "A policy is a collection of DNS rules applied to one or more Virtual Private Cloud resources.",
      "properties": {
        "description": {
          "type": "string",
          "description": "A mutable string of at most 1024 characters associated with this resource for the user's convenience. Has no effect on the policy's function."
        },
        "kind": {
          "type": "string",
          "default": "dns#policy",
          "readOnly": true
        },
        "networks": {
          "type": "array",
          "items": {
            "$ref": "PolicyNetwork"
          },
          "description": "List of network names specifying networks to which this policy is applied."
        },
        "id": {
          "format": "uint64",
          "type": "string",
          "description": "Unique identifier for the resource; defined by the server (output only)."
        },
        "name": {
          "description": "User-assigned name for this policy.",
          "type": "string"
        },
        "enableInboundForwarding": {
          "description": "Allows networks bound to this policy to receive DNS queries sent by VMs or applications over VPN connections. When enabled, a virtual IP address is allocated from each of the subnetworks that are bound to this policy.",
          "type": "boolean"
        },
        "dns64Config": {
          "description": "Configurations related to DNS64 for this policy.",
          "$ref": "PolicyDns64Config"
        },
        "enableLogging": {
          "description": "Controls whether logging is enabled for the networks bound to this policy. Defaults to no logging if not set.",
          "type": "boolean"
        },
        "alternativeNameServerConfig": {
          "description": "Sets an alternative name server for the associated networks. When specified, all DNS queries are forwarded to a name server that you choose. Names such as .internal are not available when an alternative name server is specified.",
          "$ref": "PolicyAlternativeNameServerConfig"
        }
      },
      "type": "object",
      "id": "Policy"
    },
    "ResponsePolicyGKECluster": {
      "type": "object",
      "id": "ResponsePolicyGKECluster",
      "properties": {
        "gkeClusterName": {
          "type": "string",
          "description": "The resource name of the cluster to bind this response policy to. This should be specified in the format like: projects/*/locations/*/clusters/*. This is referenced from GKE projects.locations.clusters.get API: https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/projects.locations.clusters/get"
        },
        "kind": {
          "default": "dns#responsePolicyGKECluster",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "OutboundEndpoint": {
      "type": "object",
      "properties": {
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Annotations as key value pairs"
        },
        "network": {
          "description": "Required. Immutable. The VPC network containing the outbound endpoint, specified as full path.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. [Output only] Update time stamp",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Identifier. The resource name of the OutboundEndpoint. Format: `projects/{project}/locations/{location}/outboundEndpoints/{outboundEndpoint}`",
          "type": "string"
        },
        "labels": {
          "description": "Optional. Labels as key value pairs",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. [Output only] Create time stamp"
        },
        "subnetwork": {
          "description": "Required. Immutable. The subnetwork holding the endpoint_ip, specified as full path.",
          "type": "string"
        },
        "endpointIp": {
          "type": "string",
          "description": "Required. Immutable. User provided IP address to use for outbound DNS forwarding. This address must be a free address on the subnetwork."
        },
        "description": {
          "description": "Optional. User provided description.",
          "type": "string"
        },
        "tags": {
          "description": "Optional. Tag bindings as key value pairs",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "An OutboundEndpoint is a regional resource to enable outbound forwarding from a private IP range in VPCs to on-premise or other networks.",
      "id": "OutboundEndpoint"
    },
    "RRSetRoutingPolicyLoadBalancerTarget": {
      "description": "The configuration for an individual load balancer to health check.",
      "properties": {
        "networkUrl": {
          "type": "string",
          "description": "The fully qualified URL of the network that the load balancer is attached to. This should be formatted like `https://www.googleapis.com/compute/v1/projects/{project}/global/networks/{network}`."
        },
        "loadBalancerType": {
          "enum": [
            "none",
            "globalL7ilb",
            "regionalL4ilb",
            "regionalL7ilb"
          ],
          "description": "The type of load balancer specified by this target. This value must match the configuration of the load balancer located at the LoadBalancerTarget's IP address, port, and region. Use the following: - *regionalL4ilb*: for a regional internal passthrough Network Load Balancer. - *regionalL7ilb*: for a regional internal Application Load Balancer. - *globalL7ilb*: for a global internal Application Load Balancer. ",
          "enumDescriptions": [
            "",
            "Indicates the load balancer is a Cross-Region Application Load Balancer.",
            "Indicates the load balancer is a Regional Network Passthrough Load Balancer.",
            "Indicates the load balancer is a Regional Application Load Balancer."
          ],
          "type": "string"
        },
        "kind": {
          "default": "dns#rRSetRoutingPolicyLoadBalancerTarget",
          "type": "string",
          "readOnly": true
        },
        "port": {
          "type": "string",
          "description": "The configured port of the load balancer."
        },
        "region": {
          "type": "string",
          "description": "The region in which the load balancer is located."
        },
        "ipProtocol": {
          "enumDescriptions": [
            "",
            "Indicates the load balancer is accessible via TCP.",
            "Indicates the load balancer is accessible via UDP."
          ],
          "type": "string",
          "enum": [
            "undefined",
            "tcp",
            "udp"
          ],
          "description": "The protocol of the load balancer to health check."
        },
        "project": {
          "description": "The project ID in which the load balancer is located.",
          "type": "string"
        },
        "ipAddress": {
          "description": "The frontend IP address of the load balancer to health check.",
          "type": "string"
        }
      },
      "id": "RRSetRoutingPolicyLoadBalancerTarget",
      "type": "object"
    },
    "ResponsePolicyRulesUpdateResponse": {
      "type": "object",
      "properties": {
        "responsePolicyRule": {
          "$ref": "ResponsePolicyRule"
        }
      },
      "id": "ResponsePolicyRulesUpdateResponse"
    },
    "OperationMetadata": {
      "properties": {
        "statusMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string",
          "readOnly": true
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string",
          "readOnly": true
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "format": "google-datetime"
        },
        "apiVersion": {
          "readOnly": true,
          "description": "Output only. API version used to start the operation.",
          "type": "string"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation was created."
        }
      },
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "id": "OperationMetadata"
    },
    "Quota": {
      "type": "object",
      "properties": {
        "itemsPerRoutingPolicy": {
          "description": "Maximum allowed number of items per routing policy.",
          "format": "int32",
          "type": "integer"
        },
        "nameserversPerDelegation": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum number of nameservers per delegation, meant to prevent abuse"
        },
        "managedZonesPerGkeCluster": {
          "type": "integer",
          "description": "Maximum allowed number of managed zones which can be attached to a GKE cluster.",
          "format": "int32"
        },
        "gkeClustersPerManagedZone": {
          "description": "Maximum allowed number of GKE clusters to which a privately scoped zone can be attached.",
          "type": "integer",
          "format": "int32"
        },
        "targetNameServersPerManagedZone": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum allowed number of target name servers per managed forwarding zone."
        },
        "rrsetsPerManagedZone": {
          "description": "Maximum allowed number of ResourceRecordSets per zone in the project.",
          "type": "integer",
          "format": "int32"
        },
        "networksPerPolicy": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum allowed number of networks per policy."
        },
        "gkeClustersPerPolicy": {
          "type": "integer",
          "description": "Maximum allowed number of GKE clusters per policy.",
          "format": "int32"
        },
        "whitelistedKeySpecs": {
          "description": "DNSSEC algorithm and key length types that can be used for DnsKeys.",
          "type": "array",
          "items": {
            "$ref": "DnsKeySpec"
          }
        },
        "dnsKeysPerManagedZone": {
          "format": "int32",
          "description": "Maximum allowed number of DnsKeys per ManagedZone.",
          "type": "integer"
        },
        "policies": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum allowed number of policies per project."
        },
        "responsePolicies": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum allowed number of response policies per project."
        },
        "internetHealthChecksPerManagedZone": {
          "format": "int32",
          "type": "integer"
        },
        "kind": {
          "readOnly": true,
          "default": "dns#quota",
          "type": "string"
        },
        "outboundEndpointsPerPolicy": {
          "type": "integer",
          "description": "Maximum allowed number of outbound endpoints per policy.",
          "format": "int32"
        },
        "totalRrdataSizePerChange": {
          "format": "int32",
          "description": "Maximum allowed size for total rrdata in one ChangesCreateRequest in bytes.",
          "type": "integer"
        },
        "rrsetAdditionsPerChange": {
          "type": "integer",
          "description": "Maximum allowed number of ResourceRecordSets to add per ChangesCreateRequest.",
          "format": "int32"
        },
        "managedZonesPerNetwork": {
          "description": "Maximum allowed number of managed zones which can be attached to a network.",
          "format": "int32",
          "type": "integer"
        },
        "targetNameServersPerPolicy": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum allowed number of alternative target name servers per policy."
        },
        "managedZones": {
          "description": "Maximum allowed number of managed zones in the project.",
          "type": "integer",
          "format": "int32"
        },
        "rrsetDeletionsPerChange": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum allowed number of ResourceRecordSets to delete per ChangesCreateRequest."
        },
        "outboundEndpointsPerManagedZone": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum allowed number of outbound endpoints per managed zone."
        },
        "gkeClustersPerResponsePolicy": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum allowed number of GKE clusters per response policy."
        },
        "resourceRecordsPerRrset": {
          "format": "int32",
          "description": "Maximum allowed number of ResourceRecords per ResourceRecordSet.",
          "type": "integer"
        },
        "responsePolicyRulesPerResponsePolicy": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum allowed number of rules per response policy."
        },
        "networksPerResponsePolicy": {
          "description": "Maximum allowed number of networks per response policy.",
          "type": "integer",
          "format": "int32"
        },
        "peeringZonesPerTargetNetwork": {
          "format": "int32",
          "description": "Maximum allowed number of consumer peering zones per target network owned by this producer project",
          "type": "integer"
        },
        "networksPerManagedZone": {
          "format": "int32",
          "description": "Maximum allowed number of networks to which a privately scoped zone can be attached.",
          "type": "integer"
        }
      },
      "description": "Limits associated with a Project.",
      "id": "Quota"
    },
    "ManagedZonePeeringConfigTargetNetwork": {
      "type": "object",
      "properties": {
        "deactivateTime": {
          "type": "string",
          "description": "The time at which the zone was deactivated, in RFC 3339 date-time format. An empty string indicates that the peering connection is active. The producer network can deactivate a zone. The zone is automatically deactivated if the producer network that the zone targeted is deleted. Output only."
        },
        "kind": {
          "default": "dns#managedZonePeeringConfigTargetNetwork",
          "type": "string",
          "readOnly": true
        },
        "networkUrl": {
          "description": "The fully qualified URL of the VPC network to forward queries to. This should be formatted like `https://www.googleapis.com/compute/v1/projects/{project}/global/networks/{network}`",
          "type": "string"
        }
      },
      "id": "ManagedZonePeeringConfigTargetNetwork"
    },
    "PolicyAlternativeNameServerConfigTargetNameServer": {
      "id": "PolicyAlternativeNameServerConfigTargetNameServer",
      "properties": {
        "kind": {
          "readOnly": true,
          "type": "string",
          "default": "dns#policyAlternativeNameServerConfigTargetNameServer"
        },
        "forwardingPath": {
          "enum": [
            "default",
            "private"
          ],
          "enumDescriptions": [
            "Cloud DNS makes forwarding decision based on IP address ranges; that is, RFC1918 addresses forward to the target through the VPC and non-RFC1918 addresses forward to the target through the internet",
            "Cloud DNS always forwards to this target through the VPC."
          ],
          "description": "Forwarding path for this TargetNameServer. If unset or set to DEFAULT, Cloud DNS makes forwarding decisions based on address ranges; that is, RFC1918 addresses go to the VPC network, non-RFC1918 addresses go to the internet. When set to PRIVATE, Cloud DNS always sends queries through the VPC network for this target.",
          "type": "string"
        },
        "ipv4Address": {
          "type": "string",
          "description": "IPv4 address to forward queries to."
        },
        "ipv6Address": {
          "type": "string",
          "description": "IPv6 address to forward to. Does not accept both fields (ipv4 & ipv6) being populated. Public preview as of November 2022."
        }
      },
      "type": "object"
    },
    "GoogleIamV1Policy": {
      "id": "GoogleIamV1Policy",
      "type": "object",
      "properties": {
        "etag": {
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string"
        },
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        },
        "bindings": {
          "type": "array",
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "GoogleIamV1Binding"
          }
        },
        "auditConfigs": {
          "items": {
            "$ref": "GoogleIamV1AuditConfig"
          },
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array"
        }
      },
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
    },
    "RRSetRoutingPolicyWrrPolicyWrrPolicyItem": {
      "description": "A routing block which contains the routing information for one WRR item.",
      "properties": {
        "kind": {
          "default": "dns#rRSetRoutingPolicyWrrPolicyWrrPolicyItem",
          "type": "string",
          "readOnly": true
        },
        "weight": {
          "description": "The weight corresponding to this `WrrPolicyItem` object. When multiple `WrrPolicyItem` objects are configured, the probability of returning an `WrrPolicyItem` object's data is proportional to its weight relative to the sum of weights configured for all items. This weight must be non-negative.",
          "format": "double",
          "type": "number"
        },
        "rrdatas": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "signatureRrdatas": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "DNSSEC generated signatures for all the `rrdata` within this item. When using health-checked targets for DNSSEC-enabled zones, you can only use at most one health-checked IP address per item."
        },
        "healthCheckedTargets": {
          "description": "Endpoints that are health checked before making the routing decision. The unhealthy endpoints are omitted from the result. If all endpoints within a bucket are unhealthy, we choose a different bucket (sampled with respect to its weight) for responding. If DNSSEC is enabled for this zone, only one of `rrdata` or `health_checked_targets` can be set.",
          "$ref": "RRSetRoutingPolicyHealthCheckTargets"
        }
      },
      "id": "RRSetRoutingPolicyWrrPolicyWrrPolicyItem",
      "type": "object"
    },
    "RRSetRoutingPolicy": {
      "description": "A RRSetRoutingPolicy represents ResourceRecordSet data that is returned dynamically with the response varying based on configured properties such as geolocation or by weighted random selection.",
      "id": "RRSetRoutingPolicy",
      "type": "object",
      "properties": {
        "geo": {
          "$ref": "RRSetRoutingPolicyGeoPolicy"
        },
        "kind": {
          "default": "dns#rRSetRoutingPolicy",
          "type": "string",
          "readOnly": true
        },
        "healthCheck": {
          "description": "The fully qualified URL of the HealthCheck to use for this RRSetRoutingPolicy. Format this URL like `https://www.googleapis.com/compute/v1/projects/{project}/global/healthChecks/{healthCheck}`. https://cloud.google.com/compute/docs/reference/rest/v1/healthChecks",
          "type": "string"
        },
        "wrrPolicy": {
          "deprecated": true,
          "$ref": "RRSetRoutingPolicyWrrPolicy"
        },
        "wrr": {
          "$ref": "RRSetRoutingPolicyWrrPolicy"
        },
        "geoPolicy": {
          "deprecated": true,
          "$ref": "RRSetRoutingPolicyGeoPolicy"
        },
        "primaryBackup": {
          "$ref": "RRSetRoutingPolicyPrimaryBackupPolicy"
        }
      }
    },
    "ResponsePoliciesPatchResponse": {
      "type": "object",
      "properties": {
        "responsePolicy": {
          "$ref": "ResponsePolicy"
        }
      },
      "id": "ResponsePoliciesPatchResponse"
    },
    "PoliciesListResponse": {
      "type": "object",
      "properties": {
        "policies": {
          "type": "array",
          "description": "The policy resources.",
          "items": {
            "$ref": "Policy"
          }
        },
        "nextPageToken": {
          "description": "This field indicates that more results are available beyond the last page displayed. To fetch the results, make another list request and use this value as your page token. This lets you retrieve the complete contents of a very large collection one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned are an inconsistent view of the collection. You can't retrieve a consistent snapshot of a collection larger than the maximum page size.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Output only. Type of resource.",
          "default": "dns#policiesListResponse",
          "readOnly": true
        }
      },
      "id": "PoliciesListResponse"
    },
    "ListLocationsResponse": {
      "properties": {
        "locations": {
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object"
    },
    "ManagedZoneCloudLoggingConfig": {
      "id": "ManagedZoneCloudLoggingConfig",
      "description": "Cloud Logging configurations for publicly visible zones.",
      "type": "object",
      "properties": {
        "kind": {
          "default": "dns#managedZoneCloudLoggingConfig",
          "readOnly": true,
          "type": "string"
        },
        "enableLogging": {
          "description": "If set, enable query logging for this ManagedZone. False by default, making logging opt-in.",
          "type": "boolean"
        }
      }
    },
    "GoogleIamV1TestIamPermissionsResponse": {
      "id": "GoogleIamV1TestIamPermissionsResponse",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Response message for `TestIamPermissions` method."
    },
    "GoogleIamV1GetPolicyOptions": {
      "id": "GoogleIamV1GetPolicyOptions",
      "type": "object",
      "properties": {
        "requestedPolicyVersion": {
          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Encapsulates settings provided to GetIamPolicy."
    },
    "PolicyAlternativeNameServerConfig": {
      "properties": {
        "targetNameServers": {
          "items": {
            "$ref": "PolicyAlternativeNameServerConfigTargetNameServer"
          },
          "description": "Sets an alternative name server for the associated networks. When specified, all DNS queries are forwarded to a name server that you choose. Names such as .internal are not available when an alternative name server is specified.",
          "type": "array"
        },
        "outboundEndpoints": {
          "type": "array",
          "description": "The list of outbound endpoints to use for queries.",
          "items": {
            "$ref": "PolicyAlternativeNameServerConfigOutboundEndpoint"
          }
        },
        "kind": {
          "type": "string",
          "readOnly": true,
          "default": "dns#policyAlternativeNameServerConfig"
        }
      },
      "id": "PolicyAlternativeNameServerConfig",
      "type": "object"
    },
    "PolicyDns64Config": {
      "properties": {
        "scope": {
          "$ref": "PolicyDns64ConfigScope",
          "description": "The scope to which DNS64 config will be applied to."
        },
        "kind": {
          "type": "string",
          "readOnly": true,
          "default": "dns#policyDns64Config"
        }
      },
      "description": "DNS64 policies",
      "type": "object",
      "id": "PolicyDns64Config"
    },
    "ManagedZoneReverseLookupConfig": {
      "properties": {
        "kind": {
          "default": "dns#managedZoneReverseLookupConfig",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "ManagedZoneReverseLookupConfig",
      "type": "object"
    },
    "ResponsePolicyRule": {
      "id": "ResponsePolicyRule",
      "description": "A Response Policy Rule is a selector that applies its behavior to queries that match the selector. Selectors are DNS names, which may be wildcards or exact matches. Each DNS query subject to a Response Policy matches at most one ResponsePolicyRule, as identified by the dns_name field with the longest matching suffix.",
      "properties": {
        "behavior": {
          "enumDescriptions": [
            "",
            "Skip a less-specific Response Policy Rule and let the query logic continue. This mechanism, when used with wildcard selectors, lets you exempt specific subdomains from a broader Response Policy Rule and direct the queries to the public internet instead. For example, if the following rules exist: ``` *.example.com -> LocalData 1.2.3.4 foo.example.com -> Behavior 'passthrough' ``` A query for foo.example.com skips the wildcard rule. This functionality also facilitates allowlisting. Response Policy Zones (RPZs) can be applied at multiple levels within the hierarchy: for example, an organization, a folder, a project, or a VPC network. If an RPZ rule is applied at a higher level, adding a `passthrough` rule at a lower level will override it. Queries from affected virtual machines (VMs) to that domain bypass the RPZ and proceed with normal resolution."
          ],
          "enum": [
            "behaviorUnspecified",
            "bypassResponsePolicy"
          ],
          "type": "string",
          "description": "Answer this query with a behavior rather than DNS data."
        },
        "dnsName": {
          "description": "The DNS name (wildcard or exact) to apply this rule to. Must be unique within the Response Policy Rule.",
          "type": "string"
        },
        "ruleName": {
          "description": "An identifier for this rule. Must be unique with the ResponsePolicy.",
          "type": "string"
        },
        "localData": {
          "$ref": "ResponsePolicyRuleLocalData",
          "description": "Answer this query directly with DNS data. These ResourceRecordSets override any other DNS behavior for the matched name; in particular they override private zones, the public internet, and GCP internal DNS. No SOA nor NS types are allowed."
        },
        "kind": {
          "type": "string",
          "readOnly": true,
          "default": "dns#responsePolicyRule"
        }
      },
      "type": "object"
    },
    "OperationManagedZoneContext": {
      "type": "object",
      "properties": {
        "newValue": {
          "$ref": "ManagedZone",
          "description": "The post-operation ManagedZone resource."
        },
        "oldValue": {
          "description": "The pre-operation ManagedZone resource.",
          "$ref": "ManagedZone"
        }
      },
      "id": "OperationManagedZoneContext"
    },
    "GoogleLongrunningOperation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "format": "google.protobuf.Any",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "metadata": {
          "type": "object",
          "format": "google.protobuf.Any",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        }
      },
      "id": "GoogleLongrunningOperation"
    },
    "ManagedZoneForwardingConfigOutboundEndpoint": {
      "properties": {
        "name": {
          "description": "Specified as a resource path including project and region. This should be formatted like projects/{project}/locations/{location}/outboundEndpoints/{endpoint}",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "dns#managedZoneForwardingConfigOutboundEndpoint",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "ManagedZoneForwardingConfigOutboundEndpoint"
    },
    "PolicyAlternativeNameServerConfigOutboundEndpoint": {
      "id": "PolicyAlternativeNameServerConfigOutboundEndpoint",
      "type": "object",
      "properties": {
        "name": {
          "description": "Specified as a resource path including project and region. This should be formatted like projects/{project}/locations/{location}/outboundEndpoints/{endpoint}",
          "type": "string"
        },
        "kind": {
          "readOnly": true,
          "default": "dns#policyAlternativeNameServerConfigOutboundEndpoint",
          "type": "string"
        }
      }
    },
    "ResponsePoliciesUpdateResponse": {
      "id": "ResponsePoliciesUpdateResponse",
      "properties": {
        "responsePolicy": {
          "$ref": "ResponsePolicy"
        }
      },
      "type": "object"
    },
    "ManagedZoneServiceDirectoryConfigNamespace": {
      "type": "object",
      "properties": {
        "kind": {
          "default": "dns#managedZoneServiceDirectoryConfigNamespace",
          "readOnly": true,
          "type": "string"
        },
        "namespaceUrl": {
          "description": "The fully qualified URL of the namespace associated with the zone. Format must be `https://servicedirectory.googleapis.com/v1/projects/{project}/locations/{location}/namespaces/{namespace}`",
          "type": "string"
        },
        "deletionTime": {
          "description": "The time that the namespace backing this zone was deleted; an empty string if it still exists. This is in RFC3339 text format. Output only.",
          "type": "string"
        }
      },
      "id": "ManagedZoneServiceDirectoryConfigNamespace"
    },
    "ManagedZonePrivateVisibilityConfigGKECluster": {
      "type": "object",
      "properties": {
        "kind": {
          "readOnly": true,
          "type": "string",
          "default": "dns#managedZonePrivateVisibilityConfigGKECluster"
        },
        "gkeClusterName": {
          "description": "The resource name of the cluster to bind this ManagedZone to. This should be specified in the format like: projects/*/locations/*/clusters/*. This is referenced from GKE projects.locations.clusters.get API: https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/projects.locations.clusters/get",
          "type": "string"
        }
      },
      "id": "ManagedZonePrivateVisibilityConfigGKECluster"
    },
    "DnsKeySpec": {
      "type": "object",
      "properties": {
        "keyType": {
          "type": "string",
          "description": "Specifies whether this is a key signing key (KSK) or a zone signing key (ZSK). Key signing keys have the Secure Entry Point flag set and, when active, are only used to sign resource record sets of type DNSKEY. Zone signing keys do not have the Secure Entry Point flag set and are used to sign all other types of resource record sets.",
          "enum": [
            "keySigning",
            "zoneSigning"
          ],
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "kind": {
          "readOnly": true,
          "type": "string",
          "default": "dns#dnsKeySpec"
        },
        "algorithm": {
          "enum": [
            "rsasha1",
            "rsasha256",
            "rsasha512",
            "ecdsap256sha256",
            "ecdsap384sha384"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "String mnemonic specifying the DNSSEC algorithm of this key.",
          "type": "string"
        },
        "keyLength": {
          "format": "uint32",
          "description": "Length of the keys in bits.",
          "type": "integer"
        }
      },
      "description": "Parameters for DnsKey key generation. Used for generating initial keys for a new ManagedZone and as default when adding a new DnsKey.",
      "id": "DnsKeySpec"
    },
    "GoogleIamV1AuditLogConfig": {
      "properties": {
        "logType": {
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "description": "The log type that this config enables.",
          "type": "string"
        },
        "exemptedMembers": {
          "type": "array",
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleIamV1AuditLogConfig",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "type": "object"
    },
    "DnsKeyDigest": {
      "properties": {
        "digest": {
          "type": "string",
          "description": "The base-16 encoded bytes of this digest. Suitable for use in a DS resource record."
        },
        "type": {
          "description": "Specifies the algorithm used to calculate this digest.",
          "enum": [
            "sha1",
            "sha256",
            "sha384"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "DnsKeyDigest"
    }
  },
  "parameters": {
    "alt": {
      "location": "query",
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
[...]
