{
  "documentationLink": "https://cloud.google.com/dns/docs",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "baseUrl": "https://dns.googleapis.com/",
  "version": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "id": "dns:v1",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "servicePath": "",
  "batchPath": "batch",
  "description": "",
  "rootUrl": "https://dns.googleapis.com/",
  "mtlsRootUrl": "https://dns.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/ndev.clouddns.readwrite": {
          "description": "View and manage your DNS records hosted by Google Cloud DNS"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/ndev.clouddns.readonly": {
          "description": "View your DNS records hosted by Google Cloud DNS"
        }
      }
    }
  },
  "title": "Cloud DNS API",
  "canonicalName": "Dns",
  "revision": "20260915",
  "resources": {
    "responsePolicies": {
      "methods": {
        "patch": {
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}",
          "id": "dns.responsePolicies.patch",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "type": "string"
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            },
            "responsePolicy": {
              "location": "path",
              "required": true,
              "description": "User assigned name of the response policy addressed by this request.",
              "type": "string"
            }
          },
          "httpMethod": "PATCH",
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}",
          "response": {
            "$ref": "ResponsePoliciesPatchResponse"
          },
          "request": {
            "$ref": "ResponsePolicy"
          },
          "parameterOrder": [
            "project",
            "responsePolicy"
          ],
          "description": "Applies a partial update to an existing Response Policy."
        },
        "get": {
          "httpMethod": "GET",
          "description": "Fetches the representation of an existing Response Policy.",
          "id": "dns.responsePolicies.get",
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project",
            "responsePolicy"
          ],
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}",
          "response": {
            "$ref": "ResponsePolicy"
          },
          "parameters": {
            "project": {
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true
            },
            "clientOperationId": {
              "type": "string",
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            },
            "responsePolicy": {
              "description": "User assigned name of the Response Policy addressed by this request.",
              "type": "string",
              "location": "path",
              "required": true
            }
          }
        },
        "list": {
          "parameters": {
            "maxResults": {
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request."
            },
            "project": {
              "location": "path",
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "type": "string"
            }
          },
          "id": "dns.responsePolicies.list",
          "flatPath": "dns/v1/projects/{project}/responsePolicies",
          "response": {
            "$ref": "ResponsePoliciesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project"
          ],
          "description": "Enumerates all Response Policies associated with a project.",
          "path": "dns/v1/projects/{project}/responsePolicies",
          "httpMethod": "GET"
        },
        "delete": {
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "id": "dns.responsePolicies.delete",
          "parameterOrder": [
            "project",
            "responsePolicy"
          ],
          "httpMethod": "DELETE",
          "description": "Deletes a previously created Response Policy. Fails if the response policy is non-empty or still being referenced by a network.",
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}",
          "parameters": {
            "responsePolicy": {
              "description": "User assigned name of the Response Policy addressed by this request.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "clientOperationId": {
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string"
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          }
        },
        "update": {
          "request": {
            "$ref": "ResponsePolicy"
          },
          "httpMethod": "PUT",
          "parameterOrder": [
            "project",
            "responsePolicy"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}",
          "id": "dns.responsePolicies.update",
          "description": "Updates an existing Response Policy.",
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}",
          "response": {
            "$ref": "ResponsePoliciesUpdateResponse"
          },
          "parameters": {
            "clientOperationId": {
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string"
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "responsePolicy": {
              "type": "string",
              "description": "User assigned name of the Response Policy addressed by this request.",
              "location": "path",
              "required": true
            }
          }
        },
        "create": {
          "httpMethod": "POST",
          "flatPath": "dns/v1/projects/{project}/responsePolicies",
          "response": {
            "$ref": "ResponsePolicy"
          },
          "id": "dns.responsePolicies.create",
          "parameterOrder": [
            "project"
          ],
          "path": "dns/v1/projects/{project}/responsePolicies",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameters": {
            "project": {
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "clientOperationId": {
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string"
            }
          },
          "description": "Creates a new Response Policy",
          "request": {
            "$ref": "ResponsePolicy"
          }
        }
      }
    },
    "changes": {
      "methods": {
        "list": {
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "description": "Enumerates Changes to a ResourceRecordSet collection.",
          "id": "dns.changes.list",
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/changes",
          "response": {
            "$ref": "ChangesListResponse"
          },
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/changes",
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "location": "query"
            },
            "managedZone": {
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "sortOrder": {
              "location": "query",
              "type": "string",
              "description": "Sorting order direction: 'ascending' or 'descending'."
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return."
            },
            "sortBy": {
              "description": "Sorting criterion. The only supported value is change sequence.",
              "default": "changeSequence",
              "enumDescriptions": [
                ""
              ],
              "type": "string",
              "location": "query",
              "enum": [
                "changeSequence"
              ]
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "type": "string",
              "location": "path",
              "required": true
            }
          }
        },
        "create": {
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/changes",
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/changes",
          "response": {
            "$ref": "Change"
          },
          "parameters": {
            "clientOperationId": {
              "location": "query",
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            },
            "managedZone": {
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Identifies the project addressed by this request."
            }
          },
          "id": "dns.changes.create",
          "description": "Atomically updates the ResourceRecordSet collection. Note: While `dns.changes.create` is the baseline permission required to invoke this method, additional permissions are checked depending on the specific additions or deletions contained in the payload.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "request": {
            "$ref": "Change"
          },
          "httpMethod": "POST"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project",
            "managedZone",
            "changeId"
          ],
          "httpMethod": "GET",
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/changes/{changeId}",
          "response": {
            "$ref": "Change"
          },
          "id": "dns.changes.get",
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/changes/{changeId}",
          "parameters": {
            "changeId": {
              "type": "string",
              "description": "The identifier of the requested change, from a previous ResourceRecordSetsChangeResponse.",
              "location": "path",
              "required": true
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "managedZone": {
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "description": "Fetches the representation of an existing Change."
        }
      }
    },
    "managedZoneOperations": {
      "methods": {
        "list": {
          "id": "dns.managedZoneOperations.list",
          "description": "Enumerates Operations for the given ManagedZone.",
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/operations",
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameters": {
            "managedZone": {
              "description": "Identifies the managed zone addressed by this request.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "maxResults": {
              "format": "int32",
              "location": "query",
              "type": "integer",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return."
            },
            "sortBy": {
              "default": "startTime",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "startTime",
                "id"
              ],
              "type": "string",
              "description": "Sorting criterion. The only supported values are START_TIME and ID.",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/operations",
          "response": {
            "$ref": "ManagedZoneOperationsListResponse"
          }
        },
        "get": {
          "parameterOrder": [
            "project",
            "managedZone",
            "operation"
          ],
          "description": "Fetches the representation of an existing Operation.",
          "httpMethod": "GET",
          "id": "dns.managedZoneOperations.get",
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "type": "string"
            },
            "operation": {
              "description": "Identifies the operation addressed by this request (ID of the operation).",
              "type": "string",
              "location": "path",
              "required": true
            },
            "managedZone": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Identifies the managed zone addressed by this request."
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/operations/{operation}",
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/operations/{operation}",
          "response": {
            "$ref": "Operation"
          }
        }
      }
    },
    "policies": {
      "methods": {
        "create": {
          "description": "Creates a new policy.",
          "request": {
            "$ref": "Policy"
          },
          "path": "dns/v1/projects/{project}/policies",
          "parameterOrder": [
            "project"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameters": {
            "project": {
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query",
              "type": "string"
            }
          },
          "id": "dns.policies.create",
          "flatPath": "dns/v1/projects/{project}/policies",
          "response": {
            "$ref": "Policy"
          }
        },
        "list": {
          "parameters": {
            "maxResults": {
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "location": "query"
            },
            "project": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Identifies the project addressed by this request."
            }
          },
          "id": "dns.policies.list",
          "description": "Enumerates all policies associated with a project.",
          "path": "dns/v1/projects/{project}/policies",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "httpMethod": "GET",
          "flatPath": "dns/v1/projects/{project}/policies",
          "response": {
            "$ref": "PoliciesListResponse"
          },
          "parameterOrder": [
            "project"
          ]
        },
        "update": {
          "request": {
            "$ref": "Policy"
          },
          "httpMethod": "PUT",
          "flatPath": "dns/v1/projects/{project}/policies/{policy}",
          "response": {
            "$ref": "PoliciesUpdateResponse"
          },
          "path": "dns/v1/projects/{project}/policies/{policy}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameters": {
            "clientOperationId": {
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string"
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "policy": {
              "location": "path",
              "required": true,
              "description": "User given friendly name of the policy addressed by this request.",
              "type": "string"
            }
          },
          "id": "dns.policies.update",
          "description": "Updates an existing policy.",
          "parameterOrder": [
            "project",
            "policy"
          ]
        },
        "get": {
          "flatPath": "dns/v1/projects/{project}/policies/{policy}",
          "response": {
            "$ref": "Policy"
          },
          "id": "dns.policies.get",
          "parameters": {
            "policy": {
              "description": "User given friendly name of the policy addressed by this request.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "project": {
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true
            },
            "clientOperationId": {
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "project",
            "policy"
          ],
          "description": "Fetches the representation of an existing policy.",
          "path": "dns/v1/projects/{project}/policies/{policy}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "flatPath": "dns/v1/projects/{project}/policies/{policy}",
          "parameterOrder": [
            "project",
            "policy"
          ],
          "httpMethod": "DELETE",
          "id": "dns.policies.delete",
          "path": "dns/v1/projects/{project}/policies/{policy}",
          "description": "Deletes a previously created policy. Fails if the policy is still being referenced by a network.",
          "parameters": {
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string",
              "location": "query"
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "policy": {
              "description": "User given friendly name of the policy addressed by this request.",
              "type": "string",
              "location": "path",
              "required": true
            }
          }
        },
        "patch": {
          "httpMethod": "PATCH",
          "request": {
            "$ref": "Policy"
          },
          "path": "dns/v1/projects/{project}/policies/{policy}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "flatPath": "dns/v1/projects/{project}/policies/{policy}",
          "response": {
            "$ref": "PoliciesPatchResponse"
          },
          "parameterOrder": [
            "project",
            "policy"
          ],
          "description": "Applies a partial update to an existing policy.",
          "parameters": {
            "policy": {
              "location": "path",
              "required": true,
              "description": "User given friendly name of the policy addressed by this request.",
              "type": "string"
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string",
              "location": "query"
            }
          },
          "id": "dns.policies.patch"
        }
      }
    },
    "responsePolicyRules": {
      "methods": {
        "patch": {
          "description": "Applies a partial update to an existing Response Policy Rule.",
          "id": "dns.responsePolicyRules.patch",
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "response": {
            "$ref": "ResponsePolicyRulesPatchResponse"
          },
          "request": {
            "$ref": "ResponsePolicyRule"
          },
          "httpMethod": "PATCH",
          "parameters": {
            "clientOperationId": {
              "location": "query",
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "responsePolicyRule": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "User assigned name of the Response Policy Rule addressed by this request."
            },
            "responsePolicy": {
              "location": "path",
              "required": true,
              "description": "User assigned name of the Response Policy containing the Response Policy Rule.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "project",
            "responsePolicy",
            "responsePolicyRule"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}"
        },
        "update": {
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "response": {
            "$ref": "ResponsePolicyRulesUpdateResponse"
          },
          "parameters": {
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            },
            "responsePolicy": {
              "description": "User assigned name of the Response Policy containing the Response Policy Rule.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Identifies the project addressed by this request."
            },
            "responsePolicyRule": {
              "type": "string",
              "description": "User assigned name of the Response Policy Rule addressed by this request.",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "request": {
            "$ref": "ResponsePolicyRule"
          },
          "parameterOrder": [
            "project",
            "responsePolicy",
            "responsePolicyRule"
          ],
          "id": "dns.responsePolicyRules.update",
          "description": "Updates an existing Response Policy Rule.",
          "httpMethod": "PUT"
        },
        "create": {
          "request": {
            "$ref": "ResponsePolicyRule"
          },
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules",
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules",
          "response": {
            "$ref": "ResponsePolicyRule"
          },
          "id": "dns.responsePolicyRules.create",
          "parameterOrder": [
            "project",
            "responsePolicy"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameters": {
            "clientOperationId": {
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string"
            },
            "responsePolicy": {
              "description": "User assigned name of the Response Policy containing the Response Policy Rule.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "project": {
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "POST",
          "description": "Creates a new Response Policy Rule."
        },
        "get": {
          "description": "Fetches the representation of an existing Response Policy Rule.",
          "id": "dns.responsePolicyRules.get",
          "httpMethod": "GET",
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "parameters": {
            "responsePolicyRule": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "User assigned name of the Response Policy Rule addressed by this request."
            },
            "clientOperationId": {
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string"
            },
            "responsePolicy": {
              "description": "User assigned name of the Response Policy containing the Response Policy Rule.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "response": {
            "$ref": "ResponsePolicyRule"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project",
            "responsePolicy",
            "responsePolicyRule"
          ]
        },
        "delete": {
          "id": "dns.responsePolicyRules.delete",
          "httpMethod": "DELETE",
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "description": "Deletes a previously created Response Policy Rule.",
          "parameterOrder": [
            "project",
            "responsePolicy",
            "responsePolicyRule"
          ],
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "type": "string"
            },
            "responsePolicy": {
              "type": "string",
              "description": "User assigned name of the Response Policy containing the Response Policy Rule.",
              "location": "path",
              "required": true
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string",
              "location": "query"
            },
            "responsePolicyRule": {
              "description": "User assigned name of the Response Policy Rule addressed by this request.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        },
        "list": {
          "httpMethod": "GET",
          "description": "Enumerates all Response Policy Rules associated with a project.",
          "parameterOrder": [
            "project",
            "responsePolicy"
          ],
          "id": "dns.responsePolicyRules.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules",
          "response": {
            "$ref": "ResponsePolicyRulesListResponse"
          },
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request."
            },
            "project": {
              "location": "path",
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "type": "string"
            },
            "responsePolicy": {
              "type": "string",
              "description": "User assigned name of the Response Policy to list.",
              "location": "path",
              "required": true
            },
            "maxResults": {
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            }
          },
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules"
        }
      }
    },
    "projects": {
      "methods": {
        "get": {
          "path": "dns/v1/projects/{project}",
          "description": "Fetches the representation of an existing Project.",
          "parameters": {
            "project": {
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "id": "dns.projects.get",
          "flatPath": "dns/v1/projects/{project}",
          "response": {
            "$ref": "Project"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project"
          ],
          "httpMethod": "GET"
        }
      }
    },
    "dnsKeys": {
      "methods": {
        "list": {
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/dnsKeys",
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/dnsKeys",
          "response": {
            "$ref": "DnsKeysListResponse"
          },
          "parameters": {
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.",
              "location": "query"
            },
            "digestType": {
              "description": "An optional comma-separated list of digest types to compute and display for key signing keys. If omitted, the recommended digest type is computed and displayed.",
              "location": "query",
              "type": "string"
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "managedZone": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID."
            },
            "pageToken": {
              "location": "query",
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "type": "string"
            }
          },
          "description": "Enumerates DnsKeys to a ResourceRecordSet collection.",
          "httpMethod": "GET",
          "id": "dns.dnsKeys.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        },
        "get": {
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/dnsKeys/{dnsKeyId}",
          "parameters": {
            "digestType": {
              "location": "query",
              "description": "An optional comma-separated list of digest types to compute and display for key signing keys. If omitted, the recommended digest type is computed and displayed.",
              "type": "string"
            },
            "project": {
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true
            },
            "clientOperationId": {
              "location": "query",
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            },
            "dnsKeyId": {
              "description": "The identifier of the requested DnsKey.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "managedZone": {
              "location": "path",
              "required": true,
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "id": "dns.dnsKeys.get",
          "parameterOrder": [
            "project",
            "managedZone",
            "dnsKeyId"
          ],
          "description": "Fetches the representation of an existing DnsKey.",
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/dnsKeys/{dnsKeyId}",
          "response": {
            "$ref": "DnsKey"
          },
          "httpMethod": "GET"
        }
      }
    },
    "resourceRecordSets": {
      "methods": {
        "patch": {
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/rrsets/{name}/{type}",
          "response": {
            "$ref": "ResourceRecordSet"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "httpMethod": "PATCH",
          "id": "dns.resourceRecordSets.patch",
          "description": "Applies a partial update to an existing ResourceRecordSet.",
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/rrsets/{name}/{type}",
          "request": {
            "$ref": "ResourceRecordSet"
          },
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "type": "string"
            },
            "type": {
              "type": "string",
              "description": "RRSet type.",
              "location": "path",
              "required": true
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string",
              "location": "query"
            },
            "name": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Fully qualified domain name."
            },
            "managedZone": {
              "type": "string",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "project",
            "managedZone",
            "name",
            "type"
          ]
        },
        "create": {
          "parameters": {
            "project": {
              "description": "Identifies the project addressed by this request.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            },
            "managedZone": {
              "location": "path",
              "required": true,
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "type": "string"
            }
          },
          "request": {
            "$ref": "ResourceRecordSet"
          },
          "httpMethod": "POST",
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/rrsets",
          "response": {
            "$ref": "ResourceRecordSet"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "id": "dns.resourceRecordSets.create",
          "description": "Creates a new ResourceRecordSet.",
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/rrsets"
        },
        "list": {
          "description": "Enumerates ResourceRecordSets that you have created but not yet deleted.",
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/rrsets",
          "httpMethod": "GET",
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameters": {
            "filter": {
              "description": "Specify a filter expression to view records that exactly match the specified domain. Both the `name` and `type` parameters are not supported and must be omitted when you use `filter`. Your `filter` expression must conform to AIP-160 and you must specify a domain in the `name` field. Optionally, you can include the `type` field to filter records by type. You can also include the `has_suffix` function to view records that match by domain suffix. Examples: * `name`=\"example.com.\" * `name`=\"example.com.\" AND type=\"A\" * `name`=`has_suffix`(\"example.com.\") * `name`=`has_suffix`(\"example.com.\") AND type=\"A\"",
              "type": "string",
              "location": "query"
            },
            "managedZone": {
              "type": "string",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path",
              "required": true
            },
            "name": {
              "location": "query",
              "type": "string",
              "description": "Specify a fully qualified domain name to view only those records. The `name` parameter is not supported and must be omitted when you use `filter`."
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return."
            },
            "project": {
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true
            },
            "type": {
              "description": "Specify a record type to view only those records. You must also specify the `name` parameter. The `type` parameter is not supported and must be omitted when you use `filter`.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "type": "string"
            }
          },
          "id": "dns.resourceRecordSets.list",
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/rrsets",
          "response": {
            "$ref": "ResourceRecordSetsListResponse"
          }
        },
        "get": {
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/rrsets/{name}/{type}",
          "response": {
            "$ref": "ResourceRecordSet"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "id": "dns.resourceRecordSets.get",
          "parameterOrder": [
            "project",
            "managedZone",
            "name",
            "type"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "description": "Fully qualified domain name.",
              "location": "path",
              "required": true
            },
            "clientOperationId": {
              "location": "query",
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            },
            "project": {
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true
            },
            "type": {
              "type": "string",
              "description": "RRSet type.",
              "location": "path",
              "required": true
            },
            "managedZone": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID."
            }
          },
          "description": "Fetches the representation of an existing ResourceRecordSet.",
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/rrsets/{name}/{type}"
        },
        "delete": {
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/rrsets/{name}/{type}",
          "response": {
            "$ref": "ResourceRecordSetsDeleteResponse"
          },
          "httpMethod": "DELETE",
          "description": "Deletes a previously created ResourceRecordSet.",
          "parameterOrder": [
            "project",
            "managedZone",
            "name",
            "type"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "id": "dns.resourceRecordSets.delete",
          "parameters": {
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query",
              "type": "string"
            },
            "managedZone": {
              "type": "string",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path",
              "required": true
            },
            "type": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "RRSet type."
            },
            "name": {
              "location": "path",
              "required": true,
              "description": "Fully qualified domain name.",
              "type": "string"
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/rrsets/{name}/{type}"
        }
      }
    },
    "managedZones": {
      "methods": {
        "list": {
          "parameterOrder": [
            "project"
          ],
          "description": "Enumerates ManagedZones that have been created but not yet deleted.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "flatPath": "dns/v1/projects/{project}/managedZones",
          "response": {
            "$ref": "ManagedZonesListResponse"
          },
          "path": "dns/v1/projects/{project}/managedZones",
          "parameters": {
            "project": {
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true
            },
            "pageToken": {
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "dnsName": {
              "location": "query",
              "description": "Restricts the list to return only zones with this domain name.",
              "type": "string"
            }
          },
          "id": "dns.managedZones.list",
          "httpMethod": "GET"
        },
        "delete": {
          "id": "dns.managedZones.delete",
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Identifies the project addressed by this request."
            },
            "managedZone": {
              "type": "string",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path",
              "required": true
            },
            "clientOperationId": {
              "type": "string",
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "description": "Deletes a previously created ManagedZone.",
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}",
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}",
          "httpMethod": "DELETE"
        },
        "patch": {
          "id": "dns.managedZones.patch",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "ManagedZone"
          },
          "description": "Applies a partial update to an existing ManagedZone.",
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}",
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}",
          "parameters": {
            "managedZone": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID."
            },
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Identifies the project addressed by this request."
            },
            "clientOperationId": {
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "project",
            "managedZone"
          ]
        },
        "create": {
          "id": "dns.managedZones.create",
          "request": {
            "$ref": "ManagedZone"
          },
          "parameterOrder": [
            "project"
          ],
          "parameters": {
            "clientOperationId": {
              "type": "string",
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            },
            "project": {
              "location": "path",
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "type": "string"
            }
          },
          "flatPath": "dns/v1/projects/{project}/managedZones",
          "response": {
            "$ref": "ManagedZone"
          },
          "description": "Creates a new ManagedZone. Note: While `dns.managedZones.create` is the baseline permission required to invoke this method, additional permissions are required if the managed zone configuration references other resources.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "path": "dns/v1/projects/{project}/managedZones",
          "httpMethod": "POST"
        },
        "setIamPolicy": {
          "id": "dns.managedZones.setIamPolicy",
          "parameters": {
            "resource": {
              "required": true,
              "pattern": "^projects/[^/]+/managedZones/[^/]+$",
              "type": "string",
              "location": "path",
              "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
            }
          },
          "path": "dns/v1/{+resource}:setIamPolicy",
          "request": {
            "$ref": "GoogleIamV1SetIamPolicyRequest"
          },
          "flatPath": "dns/v1/projects/{projectsId}/managedZones/{managedZonesId}:setIamPolicy",
          "response": {
            "$ref": "GoogleIamV1Policy"
          },
          "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
          "parameterOrder": [
            "resource"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "httpMethod": "POST"
        },
        "get": {
          "parameters": {
            "clientOperationId": {
              "type": "string",
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            },
            "managedZone": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID."
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "id": "dns.managedZones.get",
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "description": "Fetches the representation of an existing ManagedZone.",
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}",
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}",
          "response": {
            "$ref": "ManagedZone"
          },
          "httpMethod": "GET"
        },
        "getIamPolicy": {
          "parameterOrder": [
            "resource"
          ],
          "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
          "parameters": {
            "resource": {
              "type": "string",
              "location": "path",
              "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "required": true,
              "pattern": "^projects/[^/]+/managedZones/[^/]+$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "httpMethod": "POST",
          "path": "dns/v1/{+resource}:getIamPolicy",
          "flatPath": "dns/v1/projects/{projectsId}/managedZones/{managedZonesId}:getIamPolicy",
          "response": {
            "$ref": "GoogleIamV1Policy"
          },
          "request": {
            "$ref": "GoogleIamV1GetIamPolicyRequest"
          },
          "id": "dns.managedZones.getIamPolicy"
        },
        "testIamPermissions": {
          "request": {
            "$ref": "GoogleIamV1TestIamPermissionsRequest"
          },
          "parameterOrder": [
            "resource"
          ],
          "httpMethod": "POST",
          "flatPath": "dns/v1/projects/{projectsId}/managedZones/{managedZonesId}:testIamPermissions",
          "response": {
            "$ref": "GoogleIamV1TestIamPermissionsResponse"
          },
          "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this returns an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
          "id": "dns.managedZones.testIamPermissions",
          "parameters": {
            "resource": {
              "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^projects/[^/]+/managedZones/[^/]+$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "path": "dns/v1/{+resource}:testIamPermissions"
        },
        "update": {
          "parameters": {
            "project": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Identifies the project addressed by this request."
            },
            "clientOperationId": {
              "location": "query",
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            },
            "managedZone": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID."
            }
          },
          "id": "dns.managedZones.update",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}",
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "description": "Updates an existing ManagedZone.",
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}",
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "PUT",
          "request": {
            "$ref": "ManagedZone"
          }
        }
      }
    }
  },
  "name": "dns",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "ManagedZoneServiceDirectoryConfig": {
      "description": "Contains information about Service Directory-backed zones.",
      "properties": {
        "kind": {
          "default": "dns#managedZoneServiceDirectoryConfig",
          "type": "string",
          "readOnly": true
        },
        "namespace": {
          "$ref": "ManagedZoneServiceDirectoryConfigNamespace",
          "description": "Contains information about the namespace associated with the zone."
        }
      },
      "id": "ManagedZoneServiceDirectoryConfig",
      "type": "object"
    },
    "DnsKeyDigest": {
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "sha1",
            "sha256",
            "sha384"
          ],
          "description": "Specifies the algorithm used to calculate this digest."
        },
        "digest": {
          "description": "The base-16 encoded bytes of this digest. Suitable for use in a DS resource record.",
          "type": "string"
        }
      },
      "id": "DnsKeyDigest"
    },
    "RRSetRoutingPolicyGeoPolicyGeoPolicyItem": {
      "id": "RRSetRoutingPolicyGeoPolicyGeoPolicyItem",
      "type": "object",
      "description": "ResourceRecordSet data for one geo location.",
      "properties": {
        "signatureRrdatas": {
          "type": "array",
          "description": "DNSSEC generated signatures for all the `rrdata` within this item. When using health-checked targets for DNSSEC-enabled zones, you can only use at most one health-checked IP address per item.",
          "items": {
            "type": "string"
          }
        },
        "healthCheckedTargets": {
          "$ref": "RRSetRoutingPolicyHealthCheckTargets",
          "description": "For A and AAAA types only. Endpoints to return in the query result only if they are healthy. These can be specified along with `rrdata` within this item."
        },
        "kind": {
          "type": "string",
          "readOnly": true,
          "default": "dns#rRSetRoutingPolicyGeoPolicyGeoPolicyItem"
        },
        "rrdatas": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "location": {
          "type": "string",
          "description": "The geo-location granularity is a GCP region. This location string should correspond to a GCP region. e.g. \"us-east1\", \"southamerica-east1\", \"asia-east1\", etc."
        }
      }
    },
    "ResponsePolicyRuleLocalData": {
      "id": "ResponsePolicyRuleLocalData",
      "type": "object",
      "properties": {
        "localDatas": {
          "description": "All resource record sets for this selector, one per resource record type. The name must match the dns_name.",
          "items": {
            "$ref": "ResourceRecordSet"
          },
          "type": "array"
        }
      }
    },
    "ManagedZoneCloudLoggingConfig": {
      "type": "object",
      "id": "ManagedZoneCloudLoggingConfig",
      "description": "Cloud Logging configurations for publicly visible zones.",
      "properties": {
        "enableLogging": {
          "description": "If set, enable query logging for this ManagedZone. False by default, making logging opt-in.",
          "type": "boolean"
        },
        "kind": {
          "type": "string",
          "default": "dns#managedZoneCloudLoggingConfig",
          "readOnly": true
        }
      }
    },
    "ManagedZoneForwardingConfig": {
      "properties": {
        "kind": {
          "readOnly": true,
          "type": "string",
          "default": "dns#managedZoneForwardingConfig"
        },
        "targetNameServers": {
          "items": {
            "$ref": "ManagedZoneForwardingConfigNameServerTarget"
          },
          "description": "List of target name servers to forward to. Cloud DNS selects the best available name server if more than one target is given.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "ManagedZoneForwardingConfig"
    },
    "DnsKeysListResponse": {
      "id": "DnsKeysListResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "This field indicates that more results are available beyond the last page displayed. To fetch the results, make another list request and use this value as your page token. This lets you retrieve the complete contents of a very large collection one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned are an inconsistent view of the collection. You can't retrieve a consistent snapshot of a collection larger than the maximum page size."
        },
        "dnsKeys": {
          "description": "The requested resources.",
          "type": "array",
          "items": {
            "$ref": "DnsKey"
          }
        },
        "kind": {
          "default": "dns#dnsKeysListResponse",
          "description": "Output only. Type of resource.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "The response to a request to enumerate DnsKeys in a ManagedZone."
    },
    "GoogleIamV1GetPolicyOptions": {
      "description": "Encapsulates settings provided to GetIamPolicy.",
      "properties": {
        "requestedPolicyVersion": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      },
      "id": "GoogleIamV1GetPolicyOptions",
      "type": "object"
    },
    "RRSetRoutingPolicyPrimaryBackupPolicy": {
      "type": "object",
      "properties": {
        "kind": {
          "readOnly": true,
          "default": "dns#rRSetRoutingPolicyPrimaryBackupPolicy",
          "type": "string"
        },
        "backupGeoTargets": {
          "$ref": "RRSetRoutingPolicyGeoPolicy",
          "description": "Backup targets provide a regional failover policy for the otherwise global primary targets. If serving state is set to `BACKUP`, this policy essentially becomes a geo routing policy."
        },
        "trickleTraffic": {
          "format": "double",
          "description": "When serving state is `PRIMARY`, this field provides the option of sending a small percentage of the traffic to the backup targets.",
          "type": "number"
        },
        "primaryTargets": {
          "description": "Endpoints that are health checked before making the routing decision. Unhealthy endpoints are omitted from the results. If all endpoints are unhealthy, we serve a response based on the `backup_geo_targets`.",
          "$ref": "RRSetRoutingPolicyHealthCheckTargets"
        }
      },
      "id": "RRSetRoutingPolicyPrimaryBackupPolicy",
      "description": "Configures a RRSetRoutingPolicy such that all queries are responded with the primary_targets if they are healthy. And if all of them are unhealthy, then we fallback to a geo localized policy."
    },
    "GoogleLongrunningOperation": {
      "id": "GoogleLongrunningOperation",
      "type": "object",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "metadata": {
          "format": "google.protobuf.Any",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "format": "google.protobuf.Any",
          "type": "object"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "ResponsePolicy": {
      "type": "object",
      "id": "ResponsePolicy",
      "description": "A Response Policy is a collection of selectors that apply to queries made against one or more Virtual Private Cloud networks.",
      "properties": {
        "gkeClusters": {
          "items": {
            "$ref": "ResponsePolicyGKECluster"
          },
          "description": "The list of Google Kubernetes Engine clusters to which this response policy is applied.",
          "type": "array"
        },
        "kind": {
          "default": "dns#responsePolicy",
          "type": "string",
          "readOnly": true
        },
        "labels": {
          "description": "User labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "responsePolicyName": {
          "description": "User assigned name for this Response Policy.",
          "type": "string"
        },
        "id": {
          "description": "Unique identifier for the resource; defined by the server (output only).",
          "format": "int64",
          "type": "string"
        },
        "networks": {
          "type": "array",
          "items": {
            "$ref": "ResponsePolicyNetwork"
          },
          "description": "List of network names specifying networks to which this policy is applied."
        },
        "description": {
          "description": "User-provided description for this Response Policy.",
          "type": "string"
        }
      }
    },
    "ResponsePolicyNetwork": {
      "properties": {
        "kind": {
          "readOnly": true,
          "default": "dns#responsePolicyNetwork",
          "type": "string"
        },
        "networkUrl": {
          "description": "The fully qualified URL of the VPC network to bind to. This should be formatted like `https://www.googleapis.com/compute/v1/projects/{project}/global/networks/{network}`",
          "type": "string"
        }
      },
      "id": "ResponsePolicyNetwork",
      "type": "object"
    },
    "GoogleIamV1SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string"
        },
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "GoogleIamV1Policy"
        }
      },
      "type": "object",
      "id": "GoogleIamV1SetIamPolicyRequest"
    },
    "ManagedZonePeeringConfig": {
      "type": "object",
      "id": "ManagedZonePeeringConfig",
      "properties": {
        "kind": {
          "type": "string",
          "readOnly": true,
          "default": "dns#managedZonePeeringConfig"
        },
        "targetNetwork": {
          "description": "The network with which to peer.",
          "$ref": "ManagedZonePeeringConfigTargetNetwork"
        }
      }
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "type": "object",
            "format": "google.protobuf.Any",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      }
    },
    "ManagedZone": {
      "id": "ManagedZone",
      "properties": {
        "nameServerSet": {
          "description": "Optionally specifies the NameServerSet for this ManagedZone. A NameServerSet is a set of DNS name servers that all host the same ManagedZones. Most users leave this field unset. If you need to use this field, contact your account team.",
          "type": "string"
        },
        "dnssecConfig": {
          "$ref": "ManagedZoneDnsSecConfig",
          "description": "DNSSEC configuration."
        },
        "reverseLookupConfig": {
          "description": "The presence of this field indicates that this is a managed reverse lookup zone and Cloud DNS resolves reverse lookup queries using automatically configured records for VPC resources. This only applies to networks listed under private_visibility_config.",
          "$ref": "ManagedZoneReverseLookupConfig"
        },
        "dnsName": {
          "description": "The DNS name of this managed zone, for instance \"example.com.\".",
          "type": "string"
        },
        "creationTime": {
          "description": "The time that this resource was created on the server. This is in RFC3339 text format. Output only.",
          "type": "string"
        },
        "kind": {
          "default": "dns#managedZone",
          "type": "string",
          "readOnly": true
        },
        "privateVisibilityConfig": {
          "description": "For privately visible zones, the set of Virtual Private Cloud resources that the zone is visible from.",
          "$ref": "ManagedZonePrivateVisibilityConfig"
        },
        "visibility": {
          "type": "string",
          "description": "The zone's visibility: public zones are exposed to the Internet, while private zones are visible only to Virtual Private Cloud resources.",
          "enum": [
            "public",
            "private"
          ],
          "enumDescriptions": [
            "Indicates that records in this zone can be queried from the public internet.",
            "Indicates that records in this zone cannot be queried from the public internet. Access to private zones depends on the zone configuration."
          ]
        },
        "id": {
          "type": "string",
          "description": "Unique identifier for the resource; defined by the server (output only)",
          "format": "uint64"
        },
        "name": {
          "type": "string",
          "description": "User assigned name for this resource. Must be unique within the project. The name must be 1-63 characters long, must begin with a letter, end with a letter or digit, and only contain lowercase letters, digits or dashes."
        },
        "description": {
          "type": "string",
          "description": "A mutable string of at most 1024 characters associated with this resource for the user's convenience. Has no effect on the managed zone's function."
        },
        "peeringConfig": {
          "description": "The presence of this field indicates that DNS Peering is enabled for this zone. The value of this field contains the network to peer with.",
          "$ref": "ManagedZonePeeringConfig"
        },
        "labels": {
          "type": "object",
          "description": "User labels.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "serviceDirectoryConfig": {
          "$ref": "ManagedZoneServiceDirectoryConfig",
          "description": "This field links to the associated service directory namespace. Do not set this field for public zones or forwarding zones."
        },
        "nameServers": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Delegate your managed_zone to these virtual name servers; defined by the server (output only)"
        },
        "cloudLoggingConfig": {
          "$ref": "ManagedZoneCloudLoggingConfig"
        },
        "forwardingConfig": {
          "description": "The presence for this field indicates that outbound forwarding is enabled for this zone. The value of this field contains the set of destinations to forward to.",
          "$ref": "ManagedZoneForwardingConfig"
        }
      },
      "type": "object",
      "description": "A zone is a subtree of the DNS namespace under one administrative responsibility. A ManagedZone is a resource that represents a DNS zone hosted by the Cloud DNS service."
    },
    "Change": {
      "type": "object",
      "description": "A Change represents a set of `ResourceRecordSet` additions and deletions applied atomically to a ManagedZone. ResourceRecordSets within a ManagedZone are modified by creating a new Change element in the Changes collection. In turn the Changes collection also records the past modifications to the `ResourceRecordSets` in a `ManagedZone`. The current state of the `ManagedZone` is the sum effect of applying all `Change` elements in the `Changes` collection in sequence.",
      "id": "Change",
      "properties": {
        "startTime": {
          "description": "The time that this operation was started by the server (output only). This is in RFC3339 text format.",
          "type": "string"
        },
        "status": {
          "type": "string",
          "description": "Status of the operation (output only). A status of \"done\" means that the request to update the authoritative servers has been sent, but the servers might not be updated yet.",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "pending",
            "done"
          ]
        },
        "deletions": {
          "type": "array",
          "description": "Which ResourceRecordSets to remove? Must match existing data exactly.",
          "items": {
            "$ref": "ResourceRecordSet"
          }
        },
        "kind": {
          "type": "string",
          "readOnly": true,
          "default": "dns#change"
        },
        "additions": {
          "items": {
            "$ref": "ResourceRecordSet"
          },
          "description": "Which ResourceRecordSets to add?",
          "type": "array"
        },
        "isServing": {
          "description": "If the DNS queries for the zone will be served.",
          "type": "boolean"
        },
        "id": {
          "description": "Unique identifier for the resource; defined by the server (output only).",
          "type": "string"
        }
      }
    },
    "PoliciesUpdateResponse": {
      "id": "PoliciesUpdateResponse",
      "type": "object",
      "properties": {
        "policy": {
          "$ref": "Policy"
        }
      }
    },
    "ResourceRecordSet": {
      "description": "A unit of data that is returned by the DNS servers.",
      "id": "ResourceRecordSet",
      "properties": {
        "type": {
          "type": "string",
          "description": "The identifier of a supported record type. See the list of Supported DNS record types."
        },
        "ttl": {
          "type": "integer",
          "description": "Number of seconds that this `ResourceRecordSet` can be cached by resolvers.",
          "format": "int32"
        },
        "routingPolicy": {
          "$ref": "RRSetRoutingPolicy",
          "description": "Configures dynamic query responses based on either the geo location of the querying user or a weighted round robin based routing policy. A valid `ResourceRecordSet` contains only `rrdata` (for static resolution) or a `routing_policy` (for dynamic resolution)."
        },
        "rrdatas": {
          "type": "array",
          "description": "As defined in RFC 1035 (section 5) and RFC 1034 (section 3.6.1) -- see examples.",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "default": "dns#resourceRecordSet",
          "type": "string",
          "readOnly": true
        },
        "signatureRrdatas": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "description": "For example, www.example.com.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ResponsePolicyGKECluster": {
      "type": "object",
      "properties": {
        "kind": {
          "readOnly": true,
          "default": "dns#responsePolicyGKECluster",
          "type": "string"
        },
        "gkeClusterName": {
          "description": "The resource name of the cluster to bind this response policy to. This should be specified in the format like: projects/*/locations/*/clusters/*. This is referenced from GKE projects.locations.clusters.get API: https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/projects.locations.clusters/get",
          "type": "string"
        }
      },
      "id": "ResponsePolicyGKECluster"
    },
    "ResponsePoliciesPatchResponse": {
      "id": "ResponsePoliciesPatchResponse",
      "type": "object",
      "properties": {
        "responsePolicy": {
          "$ref": "ResponsePolicy"
        }
      }
    },
    "Project": {
      "properties": {
        "quota": {
          "$ref": "Quota",
          "description": "Quotas assigned to this project (output only)."
        },
        "number": {
          "format": "uint64",
          "description": "Unique numeric identifier for the resource; defined by the server (output only).",
          "type": "string"
        },
        "kind": {
          "default": "dns#project",
          "readOnly": true,
          "type": "string"
        },
        "id": {
          "description": "User assigned unique identifier for the resource (output only).",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Project",
      "description": "A project resource. The project is a top level container for resources including Cloud DNS ManagedZones. Projects can be created only in the APIs console."
    },
    "ManagedZonePeeringConfigTargetNetwork": {
      "properties": {
        "deactivateTime": {
          "description": "The time at which the zone was deactivated, in RFC 3339 date-time format. An empty string indicates that the peering connection is active. The producer network can deactivate a zone. The zone is automatically deactivated if the producer network that the zone targeted is deleted. Output only.",
          "type": "string"
        },
        "networkUrl": {
          "type": "string",
          "description": "The fully qualified URL of the VPC network to forward queries to. This should be formatted like `https://www.googleapis.com/compute/v1/projects/{project}/global/networks/{network}`"
        },
        "kind": {
          "default": "dns#managedZonePeeringConfigTargetNetwork",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "ManagedZonePeeringConfigTargetNetwork"
    },
    "RRSetRoutingPolicyWrrPolicyWrrPolicyItem": {
      "properties": {
        "healthCheckedTargets": {
          "$ref": "RRSetRoutingPolicyHealthCheckTargets",
          "description": "Endpoints that are health checked before making the routing decision. The unhealthy endpoints are omitted from the result. If all endpoints within a bucket are unhealthy, we choose a different bucket (sampled with respect to its weight) for responding. If DNSSEC is enabled for this zone, only one of `rrdata` or `health_checked_targets` can be set."
        },
        "kind": {
          "type": "string",
          "readOnly": true,
          "default": "dns#rRSetRoutingPolicyWrrPolicyWrrPolicyItem"
        },
        "signatureRrdatas": {
          "description": "DNSSEC generated signatures for all the `rrdata` within this item. When using health-checked targets for DNSSEC-enabled zones, you can only use at most one health-checked IP address per item.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "weight": {
          "type": "number",
          "format": "double",
          "description": "The weight corresponding to this `WrrPolicyItem` object. When multiple `WrrPolicyItem` objects are configured, the probability of returning an `WrrPolicyItem` object's data is proportional to its weight relative to the sum of weights configured for all items. This weight must be non-negative."
        },
        "rrdatas": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "RRSetRoutingPolicyWrrPolicyWrrPolicyItem",
      "description": "A routing block which contains the routing information for one WRR item."
    },
    "RRSetRoutingPolicyHealthCheckTargets": {
      "description": "HealthCheckTargets describes endpoints to health-check when responding to Routing Policy queries. Only the healthy endpoints will be included in the response. Set either `internal_load_balancer` or `external_endpoints`. Do not set both.",
      "type": "object",
      "id": "RRSetRoutingPolicyHealthCheckTargets",
      "properties": {
        "internalLoadBalancers": {
          "type": "array",
          "items": {
            "$ref": "RRSetRoutingPolicyLoadBalancerTarget"
          },
          "description": "Configuration for internal load balancers to be health checked."
        },
[...]
