{
  "id": "dns:v1",
  "documentationLink": "https://cloud.google.com/dns/docs",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/ndev.clouddns.readwrite": {
          "description": "View and manage your DNS records hosted by Google Cloud DNS"
        },
        "https://www.googleapis.com/auth/ndev.clouddns.readonly": {
          "description": "View your DNS records hosted by Google Cloud DNS"
        }
      }
    }
  },
  "mtlsRootUrl": "https://dns.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "name": "dns",
  "rootUrl": "https://dns.googleapis.com/",
  "protocol": "rest",
  "baseUrl": "https://dns.googleapis.com/",
  "kind": "discovery#restDescription",
  "version": "v1",
  "resources": {
    "policies": {
      "methods": {
        "delete": {
          "path": "dns/v1/projects/{project}/policies/{policy}",
          "flatPath": "dns/v1/projects/{project}/policies/{policy}",
          "id": "dns.policies.delete",
          "parameterOrder": [
            "project",
            "policy"
          ],
          "description": "Deletes a previously created policy. Fails if the policy is still being referenced by a network.",
          "httpMethod": "DELETE",
          "parameters": {
            "policy": {
              "description": "User given friendly name of the policy addressed by this request.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query",
              "type": "string"
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        },
        "list": {
          "response": {
            "$ref": "PoliciesListResponse"
          },
          "description": "Enumerates all policies associated with a project.",
          "httpMethod": "GET",
          "flatPath": "dns/v1/projects/{project}/policies",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project"
          ],
          "id": "dns.policies.list",
          "path": "dns/v1/projects/{project}/policies",
          "parameters": {
            "maxResults": {
              "format": "int32",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "location": "query"
            },
            "project": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Identifies the project addressed by this request."
            }
          }
        },
        "create": {
          "parameters": {
            "project": {
              "description": "Identifies the project addressed by this request.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string",
              "location": "query"
            }
          },
          "path": "dns/v1/projects/{project}/policies",
          "id": "dns.policies.create",
          "response": {
            "$ref": "Policy"
          },
          "parameterOrder": [
            "project"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "httpMethod": "POST",
          "description": "Creates a new policy.",
          "request": {
            "$ref": "Policy"
          },
          "flatPath": "dns/v1/projects/{project}/policies"
        },
        "patch": {
          "response": {
            "$ref": "PoliciesPatchResponse"
          },
          "httpMethod": "PATCH",
          "path": "dns/v1/projects/{project}/policies/{policy}",
          "request": {
            "$ref": "Policy"
          },
          "parameterOrder": [
            "project",
            "policy"
          ],
          "flatPath": "dns/v1/projects/{project}/policies/{policy}",
          "id": "dns.policies.patch",
          "parameters": {
            "policy": {
              "type": "string",
              "description": "User given friendly name of the policy addressed by this request.",
              "location": "path",
              "required": true
            },
            "clientOperationId": {
              "type": "string",
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "description": "Applies a partial update to an existing policy."
        },
        "get": {
          "parameters": {
            "policy": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "User given friendly name of the policy addressed by this request."
            },
            "clientOperationId": {
              "type": "string",
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            },
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Identifies the project addressed by this request."
            }
          },
          "description": "Fetches the representation of an existing policy.",
          "response": {
            "$ref": "Policy"
          },
          "path": "dns/v1/projects/{project}/policies/{policy}",
          "httpMethod": "GET",
          "id": "dns.policies.get",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project",
            "policy"
          ],
          "flatPath": "dns/v1/projects/{project}/policies/{policy}"
        },
        "update": {
          "flatPath": "dns/v1/projects/{project}/policies/{policy}",
          "id": "dns.policies.update",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "httpMethod": "PUT",
          "request": {
            "$ref": "Policy"
          },
          "description": "Updates an existing policy.",
          "response": {
            "$ref": "PoliciesUpdateResponse"
          },
          "path": "dns/v1/projects/{project}/policies/{policy}",
          "parameters": {
            "clientOperationId": {
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string"
            },
            "project": {
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true
            },
            "policy": {
              "type": "string",
              "description": "User given friendly name of the policy addressed by this request.",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "project",
            "policy"
          ]
        }
      }
    },
    "managedZones": {
      "methods": {
        "setIamPolicy": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "flatPath": "dns/v1/projects/{projectsId}/managedZones/{managedZonesId}:setIamPolicy",
          "httpMethod": "POST",
          "id": "dns.managedZones.setIamPolicy",
          "request": {
            "$ref": "GoogleIamV1SetIamPolicyRequest"
          },
          "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
          "response": {
            "$ref": "GoogleIamV1Policy"
          },
          "parameters": {
            "resource": {
              "location": "path",
              "required": true,
              "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "type": "string",
              "pattern": "^projects/[^/]+/managedZones/[^/]+$"
            }
          },
          "path": "dns/v1/{+resource}:setIamPolicy",
          "parameterOrder": [
            "resource"
          ]
        },
        "patch": {
          "description": "Applies a partial update to an existing ManagedZone.",
          "httpMethod": "PATCH",
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}",
          "request": {
            "$ref": "ManagedZone"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "type": "string"
            },
            "clientOperationId": {
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string"
            },
            "managedZone": {
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "id": "dns.managedZones.patch",
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}"
        },
        "delete": {
          "id": "dns.managedZones.delete",
          "description": "Deletes a previously created ManagedZone.",
          "httpMethod": "DELETE",
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Identifies the project addressed by this request."
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            },
            "managedZone": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}",
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}",
          "parameterOrder": [
            "project",
            "managedZone"
          ]
        },
        "get": {
          "httpMethod": "GET",
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}",
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameters": {
            "managedZone": {
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "clientOperationId": {
              "location": "query",
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "ManagedZone"
          },
          "id": "dns.managedZones.get",
          "description": "Fetches the representation of an existing ManagedZone.",
          "parameterOrder": [
            "project",
            "managedZone"
          ]
        },
        "create": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "response": {
            "$ref": "ManagedZone"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "ManagedZone"
          },
          "flatPath": "dns/v1/projects/{project}/managedZones",
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "type": "string"
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            }
          },
          "id": "dns.managedZones.create",
          "parameterOrder": [
            "project"
          ],
          "path": "dns/v1/projects/{project}/managedZones",
          "description": "Creates a new ManagedZone. Note: While `dns.managedZones.create` is the baseline permission required to invoke this method, additional permissions are required if the managed zone configuration references other resources."
        },
        "update": {
          "description": "Updates an existing ManagedZone.",
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}",
          "parameters": {
            "project": {
              "description": "Identifies the project addressed by this request.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "managedZone": {
              "type": "string",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path",
              "required": true
            },
            "clientOperationId": {
              "location": "query",
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            }
          },
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}",
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "id": "dns.managedZones.update",
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "ManagedZone"
          }
        },
        "getIamPolicy": {
          "path": "dns/v1/{+resource}:getIamPolicy",
          "flatPath": "dns/v1/projects/{projectsId}/managedZones/{managedZonesId}:getIamPolicy",
          "request": {
            "$ref": "GoogleIamV1GetIamPolicyRequest"
          },
          "parameters": {
            "resource": {
              "type": "string",
              "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "location": "path",
              "required": true,
              "pattern": "^projects/[^/]+/managedZones/[^/]+$"
            }
          },
          "id": "dns.managedZones.getIamPolicy",
          "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
          "response": {
            "$ref": "GoogleIamV1Policy"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "httpMethod": "POST",
          "parameterOrder": [
            "resource"
          ]
        },
        "testIamPermissions": {
          "flatPath": "dns/v1/projects/{projectsId}/managedZones/{managedZonesId}:testIamPermissions",
          "path": "dns/v1/{+resource}:testIamPermissions",
          "parameters": {
            "resource": {
              "pattern": "^projects/[^/]+/managedZones/[^/]+$",
              "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this returns an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
          "response": {
            "$ref": "GoogleIamV1TestIamPermissionsResponse"
          },
          "id": "dns.managedZones.testIamPermissions",
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleIamV1TestIamPermissionsRequest"
          },
          "parameterOrder": [
            "resource"
          ]
        },
        "list": {
          "flatPath": "dns/v1/projects/{project}/managedZones",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "path": "dns/v1/projects/{project}/managedZones",
          "id": "dns.managedZones.list",
          "httpMethod": "GET",
          "description": "Enumerates ManagedZones that have been created but not yet deleted.",
          "response": {
            "$ref": "ManagedZonesListResponse"
          },
          "parameterOrder": [
            "project"
          ],
          "parameters": {
            "pageToken": {
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "type": "string",
              "location": "query"
            },
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Identifies the project addressed by this request."
            },
            "dnsName": {
              "type": "string",
              "location": "query",
              "description": "Restricts the list to return only zones with this domain name."
            },
            "maxResults": {
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            }
          }
        }
      }
    },
    "projects": {
      "methods": {
        "get": {
          "description": "Fetches the representation of an existing Project.",
          "id": "dns.projects.get",
          "httpMethod": "GET",
          "flatPath": "dns/v1/projects/{project}",
          "path": "dns/v1/projects/{project}",
          "parameters": {
            "project": {
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "response": {
            "$ref": "Project"
          },
          "parameterOrder": [
            "project"
          ]
        }
      }
    },
    "managedZoneOperations": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "parameterOrder": [
            "project",
            "managedZone",
            "operation"
          ],
          "description": "Fetches the representation of an existing Operation.",
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/operations/{operation}",
          "parameters": {
            "project": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Identifies the project addressed by this request."
            },
            "operation": {
              "description": "Identifies the operation addressed by this request (ID of the operation).",
              "type": "string",
              "location": "path",
              "required": true
            },
            "clientOperationId": {
              "location": "query",
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            },
            "managedZone": {
              "type": "string",
              "description": "Identifies the managed zone addressed by this request.",
              "location": "path",
              "required": true
            }
          },
          "id": "dns.managedZoneOperations.get",
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/operations/{operation}",
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        },
        "list": {
          "parameters": {
            "managedZone": {
              "description": "Identifies the managed zone addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true
            },
            "pageToken": {
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "type": "string",
              "location": "query"
            },
            "sortBy": {
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ],
              "description": "Sorting criterion. The only supported values are START_TIME and ID.",
              "default": "startTime",
              "enum": [
                "startTime",
                "id"
              ]
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.",
              "format": "int32"
            }
          },
          "description": "Enumerates Operations for the given ManagedZone.",
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/operations",
          "response": {
            "$ref": "ManagedZoneOperationsListResponse"
          },
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "id": "dns.managedZoneOperations.list",
          "httpMethod": "GET",
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/operations",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        }
      }
    },
    "responsePolicies": {
      "methods": {
        "update": {
          "response": {
            "$ref": "ResponsePoliciesUpdateResponse"
          },
          "httpMethod": "PUT",
          "description": "Updates an existing Response Policy.",
          "request": {
            "$ref": "ResponsePolicy"
          },
          "id": "dns.responsePolicies.update",
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}",
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}",
          "parameters": {
            "responsePolicy": {
              "description": "User assigned name of the Response Policy addressed by this request.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "clientOperationId": {
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project",
            "responsePolicy"
          ]
        },
        "list": {
          "response": {
            "$ref": "ResponsePoliciesListResponse"
          },
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request."
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return."
            }
          },
          "description": "Enumerates all Response Policies associated with a project.",
          "parameterOrder": [
            "project"
          ],
          "flatPath": "dns/v1/projects/{project}/responsePolicies",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "id": "dns.responsePolicies.list",
          "httpMethod": "GET",
          "path": "dns/v1/projects/{project}/responsePolicies"
        },
        "delete": {
          "description": "Deletes a previously created Response Policy. Fails if the response policy is non-empty or still being referenced by a network.",
          "parameterOrder": [
            "project",
            "responsePolicy"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "project": {
              "description": "Identifies the project addressed by this request.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "responsePolicy": {
              "description": "User assigned name of the Response Policy addressed by this request.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "clientOperationId": {
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "id": "dns.responsePolicies.delete",
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}",
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}"
        },
        "get": {
          "response": {
            "$ref": "ResponsePolicy"
          },
          "parameters": {
            "clientOperationId": {
              "location": "query",
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "responsePolicy": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "User assigned name of the Response Policy addressed by this request."
            }
          },
          "id": "dns.responsePolicies.get",
          "description": "Fetches the representation of an existing Response Policy.",
          "parameterOrder": [
            "project",
            "responsePolicy"
          ],
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}",
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "httpMethod": "GET"
        },
        "create": {
          "request": {
            "$ref": "ResponsePolicy"
          },
          "flatPath": "dns/v1/projects/{project}/responsePolicies",
          "id": "dns.responsePolicies.create",
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Identifies the project addressed by this request."
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            }
          },
          "description": "Creates a new Response Policy",
          "path": "dns/v1/projects/{project}/responsePolicies",
          "response": {
            "$ref": "ResponsePolicy"
          },
          "parameterOrder": [
            "project"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        },
        "patch": {
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}",
          "parameterOrder": [
            "project",
            "responsePolicy"
          ],
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Identifies the project addressed by this request."
            },
            "responsePolicy": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "User assigned name of the response policy addressed by this request."
            },
            "clientOperationId": {
              "type": "string",
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            }
          },
          "request": {
            "$ref": "ResponsePolicy"
          },
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}",
          "description": "Applies a partial update to an existing Response Policy.",
          "response": {
            "$ref": "ResponsePoliciesPatchResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "id": "dns.responsePolicies.patch",
          "httpMethod": "PATCH"
        }
      }
    },
    "responsePolicyRules": {
      "methods": {
        "delete": {
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "parameterOrder": [
            "project",
            "responsePolicy",
            "responsePolicyRule"
          ],
          "id": "dns.responsePolicyRules.delete",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "description": "Deletes a previously created Response Policy Rule.",
          "httpMethod": "DELETE",
          "parameters": {
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            },
            "responsePolicy": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "User assigned name of the Response Policy containing the Response Policy Rule."
            },
            "project": {
              "location": "path",
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "type": "string"
            },
            "responsePolicyRule": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "User assigned name of the Response Policy Rule addressed by this request."
            }
          },
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}"
        },
        "list": {
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules",
          "httpMethod": "GET",
          "description": "Enumerates all Response Policy Rules associated with a project.",
          "id": "dns.responsePolicyRules.list",
          "parameterOrder": [
            "project",
            "responsePolicy"
          ],
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request."
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return."
            },
            "responsePolicy": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "User assigned name of the Response Policy to list."
            },
            "project": {
              "location": "path",
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "ResponsePolicyRulesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules"
        },
        "create": {
          "parameters": {
            "project": {
              "description": "Identifies the project addressed by this request.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "clientOperationId": {
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string"
            },
            "responsePolicy": {
              "type": "string",
              "description": "User assigned name of the Response Policy containing the Response Policy Rule.",
              "location": "path",
              "required": true
            }
          },
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules",
          "parameterOrder": [
            "project",
            "responsePolicy"
          ],
          "response": {
            "$ref": "ResponsePolicyRule"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "ResponsePolicyRule"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "id": "dns.responsePolicyRules.create",
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules",
          "description": "Creates a new Response Policy Rule."
        },
        "get": {
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "response": {
            "$ref": "ResponsePolicyRule"
          },
          "id": "dns.responsePolicyRules.get",
          "parameterOrder": [
            "project",
            "responsePolicy",
            "responsePolicyRule"
          ],
          "description": "Fetches the representation of an existing Response Policy Rule.",
          "parameters": {
            "project": {
              "description": "Identifies the project addressed by this request.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "clientOperationId": {
              "location": "query",
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            },
            "responsePolicy": {
              "description": "User assigned name of the Response Policy containing the Response Policy Rule.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "responsePolicyRule": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "User assigned name of the Response Policy Rule addressed by this request."
            }
          }
        },
        "update": {
          "description": "Updates an existing Response Policy Rule.",
          "response": {
            "$ref": "ResponsePolicyRulesUpdateResponse"
          },
          "id": "dns.responsePolicyRules.update",
          "httpMethod": "PUT",
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "parameterOrder": [
            "project",
            "responsePolicy",
            "responsePolicyRule"
          ],
          "parameters": {
            "clientOperationId": {
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string"
            },
            "responsePolicy": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "User assigned name of the Response Policy containing the Response Policy Rule."
            },
            "responsePolicyRule": {
              "type": "string",
              "description": "User assigned name of the Response Policy Rule addressed by this request.",
              "location": "path",
              "required": true
            },
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Identifies the project addressed by this request."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "request": {
            "$ref": "ResponsePolicyRule"
          }
        },
        "patch": {
          "httpMethod": "PATCH",
          "description": "Applies a partial update to an existing Response Policy Rule.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "request": {
            "$ref": "ResponsePolicyRule"
          },
          "parameterOrder": [
            "project",
            "responsePolicy",
            "responsePolicyRule"
          ],
          "parameters": {
            "clientOperationId": {
              "type": "string",
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            },
            "project": {
              "location": "path",
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "type": "string"
            },
            "responsePolicyRule": {
              "description": "User assigned name of the Response Policy Rule addressed by this request.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "responsePolicy": {
              "type": "string",
              "description": "User assigned name of the Response Policy containing the Response Policy Rule.",
              "location": "path",
              "required": true
            }
          },
          "id": "dns.responsePolicyRules.patch",
          "response": {
            "$ref": "ResponsePolicyRulesPatchResponse"
          },
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}"
        }
      }
    },
    "dnsKeys": {
      "methods": {
        "list": {
          "parameters": {
            "pageToken": {
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "type": "string",
              "location": "query"
            },
            "managedZone": {
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "digestType": {
              "type": "string",
              "description": "An optional comma-separated list of digest types to compute and display for key signing keys. If omitted, the recommended digest type is computed and displayed.",
              "location": "query"
            },
            "maxResults": {
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            }
          },
          "id": "dns.dnsKeys.list",
          "response": {
            "$ref": "DnsKeysListResponse"
          },
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/dnsKeys",
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "httpMethod": "GET",
          "description": "Enumerates DnsKeys to a ResourceRecordSet collection.",
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/dnsKeys"
        },
        "get": {
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/dnsKeys/{dnsKeyId}",
          "parameterOrder": [
            "project",
            "managedZone",
            "dnsKeyId"
          ],
          "id": "dns.dnsKeys.get",
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/dnsKeys/{dnsKeyId}",
          "description": "Fetches the representation of an existing DnsKey.",
          "httpMethod": "GET",
          "response": {
            "$ref": "DnsKey"
          },
          "parameters": {
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string",
              "location": "query"
            },
            "managedZone": {
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "dnsKeyId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The identifier of the requested DnsKey."
            },
            "digestType": {
              "location": "query",
              "description": "An optional comma-separated list of digest types to compute and display for key signing keys. If omitted, the recommended digest type is computed and displayed.",
              "type": "string"
            },
            "project": {
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        }
      }
    },
    "resourceRecordSets": {
      "methods": {
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameters": {
            "managedZone": {
              "type": "string",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path",
              "required": true
            },
            "name": {
              "description": "Fully qualified domain name.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "type": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "RRSet type."
            },
            "clientOperationId": {
              "type": "string",
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            },
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Identifies the project addressed by this request."
            }
          },
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/rrsets/{name}/{type}",
          "description": "Applies a partial update to an existing ResourceRecordSet.",
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/rrsets/{name}/{type}",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "ResourceRecordSet"
          },
          "parameterOrder": [
            "project",
            "managedZone",
            "name",
            "type"
          ],
          "request": {
            "$ref": "ResourceRecordSet"
          },
          "id": "dns.resourceRecordSets.patch"
        },
        "list": {
          "id": "dns.resourceRecordSets.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameters": {
            "filter": {
              "location": "query",
              "description": "Specify a filter expression to view records that exactly match the specified domain. Both the `name` and `type` parameters are not supported and must be omitted when you use `filter`. Your `filter` expression must conform to AIP-160 and you must specify a domain in the `name` field. Optionally, you can include the `type` field to filter records by type. You can also include the `has_suffix` function to view records that match by domain suffix. Examples: * `name`=\"example.com.\" * `name`=\"example.com.\" AND type=\"A\" * `name`=`has_suffix`(\"example.com.\") * `name`=`has_suffix`(\"example.com.\") AND type=\"A\"",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request."
            },
            "project": {
              "location": "path",
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "type": "string"
            },
            "managedZone": {
              "location": "path",
              "required": true,
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "type": "string"
            },
            "name": {
              "location": "query",
              "description": "Specify a fully qualified domain name to view only those records. The `name` parameter is not supported and must be omitted when you use `filter`.",
              "type": "string"
            },
            "type": {
              "description": "Specify a record type to view only those records. You must also specify the `name` parameter. The `type` parameter is not supported and must be omitted when you use `filter`.",
              "type": "string",
              "location": "query"
            }
          },
          "description": "Enumerates ResourceRecordSets that you have created but not yet deleted.",
          "response": {
            "$ref": "ResourceRecordSetsListResponse"
          },
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/rrsets",
          "httpMethod": "GET",
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/rrsets"
        },
        "get": {
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Fully qualified domain name."
            },
            "type": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "RRSet type."
            },
            "clientOperationId": {
              "location": "query",
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            },
            "managedZone": {
              "location": "path",
              "required": true,
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "type": "string"
            },
            "project": {
              "location": "path",
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "type": "string"
            }
          },
          "description": "Fetches the representation of an existing ResourceRecordSet.",
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/rrsets/{name}/{type}",
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/rrsets/{name}/{type}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "id": "dns.resourceRecordSets.get",
          "httpMethod": "GET",
          "response": {
            "$ref": "ResourceRecordSet"
          },
          "parameterOrder": [
            "project",
            "managedZone",
            "name",
            "type"
          ]
        },
        "create": {
          "request": {
            "$ref": "ResourceRecordSet"
          },
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/rrsets",
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "description": "Creates a new ResourceRecordSet.",
          "response": {
            "$ref": "ResourceRecordSet"
          },
          "parameters": {
            "managedZone": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID."
            },
            "clientOperationId": {
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string"
            },
            "project": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Identifies the project addressed by this request."
            }
          },
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/rrsets",
          "id": "dns.resourceRecordSets.create",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        },
        "delete": {
          "httpMethod": "DELETE",
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/rrsets/{name}/{type}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project",
            "managedZone",
            "name",
            "type"
          ],
          "id": "dns.resourceRecordSets.delete",
          "response": {
            "$ref": "ResourceRecordSetsDeleteResponse"
          },
          "parameters": {
            "managedZone": {
              "type": "string",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path",
              "required": true
            },
            "project": {
              "location": "path",
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "type": "string"
            },
            "name": {
              "location": "path",
              "required": true,
              "description": "Fully qualified domain name.",
              "type": "string"
            },
            "type": {
              "type": "string",
              "description": "RRSet type.",
              "location": "path",
              "required": true
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string",
              "location": "query"
            }
          },
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/rrsets/{name}/{type}",
          "description": "Deletes a previously created ResourceRecordSet."
        }
      }
    },
    "changes": {
      "methods": {
        "create": {
          "parameters": {
            "project": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Identifies the project addressed by this request."
            },
            "managedZone": {
              "type": "string",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path",
              "required": true
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/changes",
          "id": "dns.changes.create",
          "httpMethod": "POST",
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/changes",
          "description": "Atomically updates the ResourceRecordSet collection. Note: While `dns.changes.create` is the baseline permission required to invoke this method, additional permissions are checked depending on the specific additions or deletions contained in the payload.",
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "request": {
            "$ref": "Change"
          },
          "response": {
            "$ref": "Change"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "ChangesListResponse"
          },
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/changes",
          "parameters": {
            "managedZone": {
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "sortBy": {
              "description": "Sorting criterion. The only supported value is change sequence.",
              "location": "query",
              "default": "changeSequence",
              "enum": [
                "changeSequence"
              ],
              "enumDescriptions": [
                ""
              ],
              "type": "string"
            },
            "pageToken": {
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "location": "query",
              "type": "string"
            },
            "sortOrder": {
              "location": "query",
              "description": "Sorting order direction: 'ascending' or 'descending'.",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.",
              "type": "integer",
              "format": "int32"
            }
          },
          "id": "dns.changes.list",
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/changes",
          "description": "Enumerates Changes to a ResourceRecordSet collection."
        },
        "get": {
          "description": "Fetches the representation of an existing Change.",
          "parameterOrder": [
            "project",
            "managedZone",
            "changeId"
          ],
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/changes/{changeId}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Identifies the project addressed by this request."
            },
            "changeId": {
              "type": "string",
              "description": "The identifier of the requested change, from a previous ResourceRecordSetsChangeResponse.",
              "location": "path",
              "required": true
            },
            "managedZone": {
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            }
          },
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/changes/{changeId}",
          "response": {
            "$ref": "Change"
          },
          "httpMethod": "GET",
          "id": "dns.changes.get"
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "revision": "20260917",
  "schemas": {
    "PoliciesListResponse": {
      "id": "PoliciesListResponse",
      "type": "object",
      "properties": {
        "policies": {
          "items": {
            "$ref": "Policy"
          },
          "description": "The policy resources.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "This field indicates that more results are available beyond the last page displayed. To fetch the results, make another list request and use this value as your page token. This lets you retrieve the complete contents of a very large collection one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned are an inconsistent view of the collection. You can't retrieve a consistent snapshot of a collection larger than the maximum page size.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Type of resource.",
          "default": "dns#policiesListResponse"
        }
      }
    },
    "GoogleIamV1AuditConfig": {
      "id": "GoogleIamV1AuditConfig",
      "properties": {
        "auditLogConfigs": {
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1AuditLogConfig"
          },
          "description": "The configuration for logging of each type of permission."
        },
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        }
      },
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "type": "object"
    },
    "GoogleIamV1GetIamPolicyRequest": {
      "description": "Request message for `GetIamPolicy` method.",
      "id": "GoogleIamV1GetIamPolicyRequest",
      "type": "object",
      "properties": {
        "options": {
          "$ref": "GoogleIamV1GetPolicyOptions",
          "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`."
        }
      }
    },
    "DnsKeySpec": {
      "description": "Parameters for DnsKey key generation. Used for generating initial keys for a new ManagedZone and as default when adding a new DnsKey.",
      "type": "object",
      "properties": {
        "kind": {
          "readOnly": true,
          "default": "dns#dnsKeySpec",
          "type": "string"
        },
        "algorithm": {
          "enum": [
            "rsasha1",
            "rsasha256",
            "rsasha512",
            "ecdsap256sha256",
            "ecdsap384sha384"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "String mnemonic specifying the DNSSEC algorithm of this key.",
          "type": "string"
        },
        "keyLength": {
          "format": "uint32",
          "type": "integer",
          "description": "Length of the keys in bits."
        },
        "keyType": {
          "enumDescriptions": [
            "",
            ""
          ],
          "description": "Specifies whether this is a key signing key (KSK) or a zone signing key (ZSK). Key signing keys have the Secure Entry Point flag set and, when active, are only used to sign resource record sets of type DNSKEY. Zone signing keys do not have the Secure Entry Point flag set and are used to sign all other types of resource record sets.",
          "enum": [
            "keySigning",
            "zoneSigning"
          ],
          "type": "string"
        }
      },
      "id": "DnsKeySpec"
    },
    "ManagedZoneCloudLoggingConfig": {
      "id": "ManagedZoneCloudLoggingConfig",
      "properties": {
        "enableLogging": {
          "description": "If set, enable query logging for this ManagedZone. False by default, making logging opt-in.",
          "type": "boolean"
        },
        "kind": {
          "readOnly": true,
          "type": "string",
          "default": "dns#managedZoneCloudLoggingConfig"
        }
      },
      "type": "object",
      "description": "Cloud Logging configurations for publicly visible zones."
    },
    "ResponsePoliciesListResponse": {
      "type": "object",
      "id": "ResponsePoliciesListResponse",
      "properties": {
        "nextPageToken": {
          "description": "This field indicates that more results are available beyond the last page displayed. To fetch the results, make another list request and use this value as your page token. This lets you retrieve the complete contents of a very large collection one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned are an inconsistent view of the collection. You can't retrieve a consistent snapshot of a collection larger than the maximum page size.",
          "type": "string"
        },
        "responsePolicies": {
          "description": "The Response Policy resources.",
          "items": {
            "$ref": "ResponsePolicy"
          },
          "type": "array"
        }
      }
    },
    "ManagedZonesListResponse": {
      "id": "ManagedZonesListResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "This field indicates that more results are available beyond the last page displayed. To fetch the results, make another list request and use this value as your page token. This lets you retrieve the complete contents of a very large collection one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned are an inconsistent view of the collection. You can't retrieve a consistent snapshot of a collection larger than the maximum page size.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "readOnly": true,
          "default": "dns#managedZonesListResponse",
          "description": "Output only. Type of resource."
        },
        "managedZones": {
          "type": "array",
          "description": "The managed zone resources.",
          "items": {
            "$ref": "ManagedZone"
          }
        }
      }
    },
    "Policy": {
      "id": "Policy",
      "description": "A policy is a collection of DNS rules applied to one or more Virtual Private Cloud resources.",
      "type": "object",
      "properties": {
        "networks": {
          "type": "array",
          "description": "List of network names specifying networks to which this policy is applied.",
          "items": {
            "$ref": "PolicyNetwork"
          }
        },
        "id": {
          "format": "uint64",
          "description": "Unique identifier for the resource; defined by the server (output only).",
          "type": "string"
        },
        "dns64Config": {
          "$ref": "PolicyDns64Config",
          "description": "Configurations related to DNS64 for this policy."
        },
        "name": {
          "description": "User-assigned name for this policy.",
          "type": "string"
        },
        "enableLogging": {
          "description": "Controls whether logging is enabled for the networks bound to this policy. Defaults to no logging if not set.",
          "type": "boolean"
        },
        "alternativeNameServerConfig": {
          "description": "Sets an alternative name server for the associated networks. When specified, all DNS queries are forwarded to a name server that you choose. Names such as .internal are not available when an alternative name server is specified.",
          "$ref": "PolicyAlternativeNameServerConfig"
        },
        "description": {
          "description": "A mutable string of at most 1024 characters associated with this resource for the user's convenience. Has no effect on the policy's function.",
          "type": "string"
        },
        "enableInboundForwarding": {
          "description": "Allows networks bound to this policy to receive DNS queries sent by VMs or applications over VPN connections. When enabled, a virtual IP address is allocated from each of the subnetworks that are bound to this policy.",
          "type": "boolean"
        },
        "kind": {
          "type": "string",
          "default": "dns#policy",
          "readOnly": true
        }
      }
    },
    "ResponsePolicyRulesUpdateResponse": {
      "properties": {
        "responsePolicyRule": {
          "$ref": "ResponsePolicyRule"
        }
      },
      "type": "object",
      "id": "ResponsePolicyRulesUpdateResponse"
    },
    "ResponsePolicyGKECluster": {
      "id": "ResponsePolicyGKECluster",
      "type": "object",
      "properties": {
        "kind": {
          "readOnly": true,
          "default": "dns#responsePolicyGKECluster",
          "type": "string"
        },
        "gkeClusterName": {
          "type": "string",
          "description": "The resource name of the cluster to bind this response policy to. This should be specified in the format like: projects/*/locations/*/clusters/*. This is referenced from GKE projects.locations.clusters.get API: https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/projects.locations.clusters/get"
        }
      }
    },
    "GoogleIamV1TestIamPermissionsResponse": {
      "type": "object",
      "description": "Response message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleIamV1TestIamPermissionsResponse"
    },
    "ResponsePolicy": {
      "id": "ResponsePolicy",
      "description": "A Response Policy is a collection of selectors that apply to queries made against one or more Virtual Private Cloud networks.",
      "type": "object",
      "properties": {
        "description": {
          "description": "User-provided description for this Response Policy.",
          "type": "string"
        },
        "networks": {
          "items": {
            "$ref": "ResponsePolicyNetwork"
          },
          "description": "List of network names specifying networks to which this policy is applied.",
          "type": "array"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "User labels."
        },
        "id": {
          "format": "int64",
          "type": "string",
          "description": "Unique identifier for the resource; defined by the server (output only)."
        },
        "kind": {
          "type": "string",
          "default": "dns#responsePolicy",
          "readOnly": true
        },
        "responsePolicyName": {
          "description": "User assigned name for this Response Policy.",
          "type": "string"
        },
        "gkeClusters": {
          "items": {
            "$ref": "ResponsePolicyGKECluster"
          },
          "type": "array",
          "description": "The list of Google Kubernetes Engine clusters to which this response policy is applied."
        }
      }
    },
    "OperationManagedZoneContext": {
      "properties": {
        "oldValue": {
          "description": "The pre-operation ManagedZone resource.",
          "$ref": "ManagedZone"
        },
        "newValue": {
          "description": "The post-operation ManagedZone resource.",
          "$ref": "ManagedZone"
        }
      },
      "id": "OperationManagedZoneContext",
      "type": "object"
    },
    "GoogleIamV1Binding": {
      "id": "GoogleIamV1Binding",
      "description": "Associates `members`, or principals, with a `role`.",
      "properties": {
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        },
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      },
      "type": "object"
    },
    "RRSetRoutingPolicyPrimaryBackupPolicy": {
      "id": "RRSetRoutingPolicyPrimaryBackupPolicy",
      "description": "Configures a RRSetRoutingPolicy such that all queries are responded with the primary_targets if they are healthy. And if all of them are unhealthy, then we fallback to a geo localized policy.",
      "type": "object",
      "properties": {
        "kind": {
          "default": "dns#rRSetRoutingPolicyPrimaryBackupPolicy",
          "readOnly": true,
          "type": "string"
        },
        "primaryTargets": {
          "$ref": "RRSetRoutingPolicyHealthCheckTargets",
          "description": "Endpoints that are health checked before making the routing decision. Unhealthy endpoints are omitted from the results. If all endpoints are unhealthy, we serve a response based on the `backup_geo_targets`."
        },
        "trickleTraffic": {
          "format": "double",
          "description": "When serving state is `PRIMARY`, this field provides the option of sending a small percentage of the traffic to the backup targets.",
          "type": "number"
        },
        "backupGeoTargets": {
          "$ref": "RRSetRoutingPolicyGeoPolicy",
          "description": "Backup targets provide a regional failover policy for the otherwise global primary targets. If serving state is set to `BACKUP`, this policy essentially becomes a geo routing policy."
        }
      }
    },
    "ManagedZoneReverseLookupConfig": {
      "id": "ManagedZoneReverseLookupConfig",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "default": "dns#managedZoneReverseLookupConfig",
          "readOnly": true
        }
      }
    },
    "PolicyDns64Config": {
      "type": "object",
      "description": "DNS64 policies",
      "id": "PolicyDns64Config",
      "properties": {
        "kind": {
          "default": "dns#policyDns64Config",
          "type": "string",
          "readOnly": true
        },
        "scope": {
          "description": "The scope to which DNS64 config will be applied to.",
          "$ref": "PolicyDns64ConfigScope"
        }
      }
    },
    "PoliciesPatchResponse": {
      "properties": {
        "policy": {
          "$ref": "Policy"
        }
      },
      "id": "PoliciesPatchResponse",
      "type": "object"
    },
    "ManagedZoneForwardingConfigNameServerTarget": {
      "type": "object",
      "properties": {
        "ipv6Address": {
          "description": "IPv6 address of a target name server. Does not accept both fields (ipv4 & ipv6) being populated. Public preview as of November 2022.",
          "type": "string"
        },
        "forwardingPath": {
          "description": "Forwarding path for this NameServerTarget. If unset or set to DEFAULT, Cloud DNS makes forwarding decisions based on IP address ranges; that is, RFC1918 addresses go to the VPC network, non-RFC1918 addresses go to the internet. When set to PRIVATE, Cloud DNS always sends queries through the VPC network for this target.",
          "enumDescriptions": [
            "Cloud DNS makes forwarding decisions based on address ranges; that is, RFC1918 addresses forward to the target through the VPC and non-RFC1918 addresses forward to the target through the internet",
            "Cloud DNS always forwards to this target through the VPC."
          ],
          "enum": [
            "default",
            "private"
          ],
          "type": "string"
        },
        "ipv4Address": {
          "type": "string",
          "description": "IPv4 address of a target name server."
        },
        "kind": {
          "default": "dns#managedZoneForwardingConfigNameServerTarget",
          "readOnly": true,
          "type": "string"
        },
        "domainName": {
          "type": "string",
          "description": "Fully qualified domain name for the forwarding target."
        }
      },
      "id": "ManagedZoneForwardingConfigNameServerTarget"
    },
    "ResponsePolicyRule": {
      "type": "object",
      "description": "A Response Policy Rule is a selector that applies its behavior to queries that match the selector. Selectors are DNS names, which may be wildcards or exact matches. Each DNS query subject to a Response Policy matches at most one ResponsePolicyRule, as identified by the dns_name field with the longest matching suffix.",
      "id": "ResponsePolicyRule",
      "properties": {
        "behavior": {
          "enumDescriptions": [
            "",
            "Skip a less-specific Response Policy Rule and let the query logic continue. This mechanism, when used with wildcard selectors, lets you exempt specific subdomains from a broader Response Policy Rule and direct the queries to the public internet instead. For example, if the following rules exist: ``` *.example.com -> LocalData 1.2.3.4 foo.example.com -> Behavior 'passthrough' ``` A query for foo.example.com skips the wildcard rule. This functionality also facilitates allowlisting. Response Policy Zones (RPZs) can be applied at multiple levels within the hierarchy: for example, an organization, a folder, a project, or a VPC network. If an RPZ rule is applied at a higher level, adding a `passthrough` rule at a lower level will override it. Queries from affected virtual machines (VMs) to that domain bypass the RPZ and proceed with normal resolution."
          ],
          "description": "Answer this query with a behavior rather than DNS data.",
          "type": "string",
          "enum": [
            "behaviorUnspecified",
            "bypassResponsePolicy"
          ]
        },
        "localData": {
          "$ref": "ResponsePolicyRuleLocalData",
          "description": "Answer this query directly with DNS data. These ResourceRecordSets override any other DNS behavior for the matched name; in particular they override private zones, the public internet, and GCP internal DNS. No SOA nor NS types are allowed."
        },
        "dnsName": {
          "description": "The DNS name (wildcard or exact) to apply this rule to. Must be unique within the Response Policy Rule.",
          "type": "string"
        },
        "ruleName": {
          "description": "An identifier for this rule. Must be unique with the ResponsePolicy.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "readOnly": true,
          "default": "dns#responsePolicyRule"
        }
      }
    },
    "ManagedZoneServiceDirectoryConfig": {
      "description": "Contains information about Service Directory-backed zones.",
      "id": "ManagedZoneServiceDirectoryConfig",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "readOnly": true,
          "default": "dns#managedZoneServiceDirectoryConfig"
        },
        "namespace": {
          "description": "Contains information about the namespace associated with the zone.",
          "$ref": "ManagedZoneServiceDirectoryConfigNamespace"
        }
      }
    },
    "ManagedZonePrivateVisibilityConfigNetwork": {
      "properties": {
        "kind": {
          "type": "string",
          "default": "dns#managedZonePrivateVisibilityConfigNetwork",
          "readOnly": true
        },
        "networkUrl": {
          "description": "The fully qualified URL of the VPC network to bind to. Format this URL like `https://www.googleapis.com/compute/v1/projects/{project}/global/networks/{network}`",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ManagedZonePrivateVisibilityConfigNetwork"
    },
    "RRSetRoutingPolicyLoadBalancerTarget": {
      "type": "object",
      "description": "The configuration for an individual load balancer to health check.",
      "id": "RRSetRoutingPolicyLoadBalancerTarget",
      "properties": {
        "project": {
          "type": "string",
          "description": "The project ID in which the load balancer is located."
        },
        "region": {
          "description": "The region in which the load balancer is located.",
          "type": "string"
        },
        "ipAddress": {
          "description": "The frontend IP address of the load balancer to health check.",
          "type": "string"
        },
        "kind": {
          "readOnly": true,
          "default": "dns#rRSetRoutingPolicyLoadBalancerTarget",
          "type": "string"
        },
        "networkUrl": {
          "type": "string",
          "description": "The fully qualified URL of the network that the load balancer is attached to. This should be formatted like `https://www.googleapis.com/compute/v1/projects/{project}/global/networks/{network}`."
        },
        "ipProtocol": {
          "description": "The protocol of the load balancer to health check.",
          "enumDescriptions": [
            "",
            "Indicates the load balancer is accessible via TCP.",
            "Indicates the load balancer is accessible via UDP."
          ],
          "enum": [
            "undefined",
            "tcp",
            "udp"
          ],
          "type": "string"
        },
        "port": {
          "type": "string",
          "description": "The configured port of the load balancer."
        },
        "loadBalancerType": {
          "description": "The type of load balancer specified by this target. This value must match the configuration of the load balancer located at the LoadBalancerTarget's IP address, port, and region. Use the following: - *regionalL4ilb*: for a regional internal passthrough Network Load Balancer. - *regionalL7ilb*: for a regional internal Application Load Balancer. - *globalL7ilb*: for a global internal Application Load Balancer. ",
          "type": "string",
          "enumDescriptions": [
            "",
            "Indicates the load balancer is a Cross-Region Application Load Balancer.",
            "Indicates the load balancer is a Regional Network Passthrough Load Balancer.",
            "Indicates the load balancer is a Regional Application Load Balancer."
          ],
          "enum": [
            "none",
            "globalL7ilb",
[...]
