{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/ndev.clouddns.readonly": {
          "description": "View your DNS records hosted by Google Cloud DNS"
        },
        "https://www.googleapis.com/auth/ndev.clouddns.readwrite": {
          "description": "View and manage your DNS records hosted by Google Cloud DNS"
        }
      }
    }
  },
  "revision": "20260804",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "name": "dns",
  "basePath": "",
  "baseUrl": "https://dns.googleapis.com/",
  "description": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "resources": {
    "responsePolicies": {
      "methods": {
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "httpMethod": "DELETE",
          "id": "dns.responsePolicies.delete",
          "flatPath": "dns/v1beta2/projects/{project}/responsePolicies/{responsePolicy}",
          "parameterOrder": [
            "project",
            "responsePolicy"
          ],
          "path": "dns/v1beta2/projects/{project}/responsePolicies/{responsePolicy}",
          "parameters": {
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query",
              "type": "string"
            },
            "responsePolicy": {
              "type": "string",
              "description": "User assigned name of the Response Policy addressed by this request.",
              "location": "path",
              "required": true
            },
            "project": {
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true
            }
          },
          "description": "Deletes a previously created Response Policy. Fails if the response policy is non-empty or still being referenced by a network."
        },
        "update": {
          "flatPath": "dns/v1beta2/projects/{project}/responsePolicies/{responsePolicy}",
          "parameterOrder": [
            "project",
            "responsePolicy"
          ],
          "path": "dns/v1beta2/projects/{project}/responsePolicies/{responsePolicy}",
          "description": "Updates an existing Response Policy.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "id": "dns.responsePolicies.update",
          "parameters": {
            "project": {
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query",
              "type": "string"
            },
            "responsePolicy": {
              "type": "string",
              "description": "User assigned name of the Response Policy addressed by this request.",
              "location": "path",
              "required": true
            }
          },
          "request": {
            "$ref": "ResponsePolicy"
          },
          "response": {
            "$ref": "ResponsePoliciesUpdateResponse"
          },
          "httpMethod": "PUT"
        },
        "get": {
          "description": "Fetches the representation of an existing Response Policy.",
          "path": "dns/v1beta2/projects/{project}/responsePolicies/{responsePolicy}",
          "parameterOrder": [
            "project",
            "responsePolicy"
          ],
          "flatPath": "dns/v1beta2/projects/{project}/responsePolicies/{responsePolicy}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameters": {
            "responsePolicy": {
              "type": "string",
              "description": "User assigned name of the Response Policy addressed by this request.",
              "location": "path",
              "required": true
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query",
              "type": "string"
            },
            "project": {
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true
            }
          },
          "id": "dns.responsePolicies.get",
          "httpMethod": "GET",
          "response": {
            "$ref": "ResponsePolicy"
          }
        },
        "create": {
          "flatPath": "dns/v1beta2/projects/{project}/responsePolicies",
          "parameterOrder": [
            "project"
          ],
          "path": "dns/v1beta2/projects/{project}/responsePolicies",
          "description": "Creates a new Response Policy",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "id": "dns.responsePolicies.create",
          "parameters": {
            "project": {
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query",
              "type": "string"
            }
          },
          "request": {
            "$ref": "ResponsePolicy"
          },
          "response": {
            "$ref": "ResponsePolicy"
          },
          "httpMethod": "POST"
        },
        "list": {
          "parameters": {
            "maxResults": {
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "project": {
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "location": "query"
            }
          },
          "id": "dns.responsePolicies.list",
          "response": {
            "$ref": "ResponsePoliciesListResponse"
          },
          "httpMethod": "GET",
          "path": "dns/v1beta2/projects/{project}/responsePolicies",
          "description": "Enumerates all Response Policies associated with a project.",
          "flatPath": "dns/v1beta2/projects/{project}/responsePolicies",
          "parameterOrder": [
            "project"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        },
        "patch": {
          "parameterOrder": [
            "project",
            "responsePolicy"
          ],
          "flatPath": "dns/v1beta2/projects/{project}/responsePolicies/{responsePolicy}",
          "description": "Applies a partial update to an existing Response Policy.",
          "path": "dns/v1beta2/projects/{project}/responsePolicies/{responsePolicy}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "id": "dns.responsePolicies.patch",
          "parameters": {
            "project": {
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "responsePolicy": {
              "type": "string",
              "description": "User assigned name of the response policy addressed by this request.",
              "location": "path",
              "required": true
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            }
          },
          "httpMethod": "PATCH",
          "request": {
            "$ref": "ResponsePolicy"
          },
          "response": {
            "$ref": "ResponsePoliciesPatchResponse"
          }
        }
      }
    },
    "dnsKeys": {
      "methods": {
        "get": {
          "parameterOrder": [
            "project",
            "managedZone",
            "dnsKeyId"
          ],
          "flatPath": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/dnsKeys/{dnsKeyId}",
          "description": "Fetches the representation of an existing DnsKey.",
          "path": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/dnsKeys/{dnsKeyId}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "id": "dns.dnsKeys.get",
          "parameters": {
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            },
            "project": {
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true
            },
            "managedZone": {
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "digestType": {
              "description": "An optional comma-separated list of digest types to compute and display for key signing keys. If omitted, the recommended digest type is computed and displayed.",
              "location": "query",
              "type": "string"
            },
            "dnsKeyId": {
              "type": "string",
              "description": "The identifier of the requested DnsKey.",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "DnsKey"
          }
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "description": "Enumerates DnsKeys to a ResourceRecordSet collection.",
          "path": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/dnsKeys",
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "flatPath": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/dnsKeys",
          "httpMethod": "GET",
          "response": {
            "$ref": "DnsKeysListResponse"
          },
          "parameters": {
            "pageToken": {
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "format": "int32",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.",
              "location": "query",
              "type": "integer"
            },
            "digestType": {
              "type": "string",
              "description": "An optional comma-separated list of digest types to compute and display for key signing keys. If omitted, the recommended digest type is computed and displayed.",
              "location": "query"
            },
            "managedZone": {
              "type": "string",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path",
              "required": true
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "id": "dns.dnsKeys.list"
        }
      }
    },
    "projects": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "path": "dns/v1beta2/projects/{project}",
          "description": "Fetches the representation of an existing Project.",
          "flatPath": "dns/v1beta2/projects/{project}",
          "parameterOrder": [
            "project"
          ],
          "response": {
            "$ref": "Project"
          },
          "httpMethod": "GET",
          "parameters": {
            "project": {
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            }
          },
          "id": "dns.projects.get"
        }
      }
    },
    "managedZoneOperations": {
      "methods": {
        "get": {
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "GET",
          "id": "dns.managedZoneOperations.get",
          "parameters": {
            "managedZone": {
              "type": "string",
              "description": "Identifies the managed zone addressed by this request.",
              "location": "path",
              "required": true
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            },
            "operation": {
              "description": "Identifies the operation addressed by this request (ID of the operation).",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "flatPath": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/operations/{operation}",
          "parameterOrder": [
            "project",
            "managedZone",
            "operation"
          ],
          "path": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/operations/{operation}",
          "description": "Fetches the representation of an existing Operation."
        },
        "list": {
          "response": {
            "$ref": "ManagedZoneOperationsListResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "managedZone": {
              "type": "string",
              "description": "Identifies the managed zone addressed by this request.",
              "location": "path",
              "required": true
            },
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "location": "query"
            },
            "sortBy": {
              "description": "Sorting criterion. The only supported values are START_TIME and ID.",
              "location": "query",
              "default": "startTime",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "startTime",
                "id"
              ],
              "type": "string"
            },
            "project": {
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true
            }
          },
          "id": "dns.managedZoneOperations.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "path": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/operations",
          "description": "Enumerates Operations for the given ManagedZone.",
          "flatPath": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/operations",
          "parameterOrder": [
            "project",
            "managedZone"
          ]
        }
      }
    },
    "changes": {
      "methods": {
        "create": {
          "path": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/changes",
          "description": "Atomically updates the ResourceRecordSet collection. Note: While `dns.changes.create` is the baseline permission required to invoke this method, additional permissions are checked depending on the specific additions or deletions contained in the payload.",
          "flatPath": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/changes",
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameters": {
            "managedZone": {
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query",
              "type": "string"
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "id": "dns.changes.create",
          "request": {
            "$ref": "Change"
          },
          "response": {
            "$ref": "Change"
          },
          "httpMethod": "POST"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "path": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/changes/{changeId}",
          "description": "Fetches the representation of an existing Change.",
          "flatPath": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/changes/{changeId}",
          "parameterOrder": [
            "project",
            "managedZone",
            "changeId"
          ],
          "response": {
            "$ref": "Change"
          },
          "httpMethod": "GET",
          "parameters": {
            "project": {
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true
            },
            "managedZone": {
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "changeId": {
              "description": "The identifier of the requested change, from a previous ResourceRecordSetsChangeResponse.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query",
              "type": "string"
            }
          },
          "id": "dns.changes.get"
        },
        "list": {
          "id": "dns.changes.list",
          "parameters": {
            "project": {
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true
            },
            "managedZone": {
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "sortOrder": {
              "type": "string",
              "description": "Sorting order direction: 'ascending' or 'descending'.",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.",
              "location": "query"
            },
            "pageToken": {
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "location": "query",
              "type": "string"
            },
            "sortBy": {
              "default": "changeSequence",
              "description": "Sorting criterion. The only supported value is change sequence.",
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                ""
              ],
              "enum": [
                "changeSequence"
              ]
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "ChangesListResponse"
          },
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "flatPath": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/changes",
          "description": "Enumerates Changes to a ResourceRecordSet collection.",
          "path": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/changes",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        }
      }
    },
    "responsePolicyRules": {
      "methods": {
        "delete": {
          "parameterOrder": [
            "project",
            "responsePolicy",
            "responsePolicyRule"
          ],
          "id": "dns.responsePolicyRules.delete",
          "flatPath": "dns/v1beta2/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "parameters": {
            "project": {
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query",
              "type": "string"
            },
            "responsePolicy": {
              "description": "User assigned name of the Response Policy containing the Response Policy Rule.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "responsePolicyRule": {
              "type": "string",
              "description": "User assigned name of the Response Policy Rule addressed by this request.",
              "location": "path",
              "required": true
            }
          },
          "description": "Deletes a previously created Response Policy Rule.",
          "path": "dns/v1beta2/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "httpMethod": "DELETE"
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "flatPath": "dns/v1beta2/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "parameterOrder": [
            "project",
            "responsePolicy",
            "responsePolicyRule"
          ],
          "path": "dns/v1beta2/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "description": "Updates an existing Response Policy Rule.",
          "request": {
            "$ref": "ResponsePolicyRule"
          },
          "response": {
            "$ref": "ResponsePolicyRulesUpdateResponse"
          },
          "httpMethod": "PUT",
          "id": "dns.responsePolicyRules.update",
          "parameters": {
            "project": {
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true
            },
            "responsePolicy": {
              "description": "User assigned name of the Response Policy containing the Response Policy Rule.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "responsePolicyRule": {
              "description": "User assigned name of the Response Policy Rule addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            }
          }
        },
        "get": {
          "httpMethod": "GET",
          "response": {
            "$ref": "ResponsePolicyRule"
          },
          "id": "dns.responsePolicyRules.get",
          "parameters": {
            "project": {
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "responsePolicy": {
              "type": "string",
              "description": "User assigned name of the Response Policy containing the Response Policy Rule.",
              "location": "path",
              "required": true
            },
            "responsePolicyRule": {
              "type": "string",
              "description": "User assigned name of the Response Policy Rule addressed by this request.",
              "location": "path",
              "required": true
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project",
            "responsePolicy",
            "responsePolicyRule"
          ],
          "flatPath": "dns/v1beta2/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "description": "Fetches the representation of an existing Response Policy Rule.",
          "path": "dns/v1beta2/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}"
        },
        "create": {
          "parameterOrder": [
            "project",
            "responsePolicy"
          ],
          "flatPath": "dns/v1beta2/projects/{project}/responsePolicies/{responsePolicy}/rules",
          "description": "Creates a new Response Policy Rule.",
          "path": "dns/v1beta2/projects/{project}/responsePolicies/{responsePolicy}/rules",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "id": "dns.responsePolicyRules.create",
          "parameters": {
            "project": {
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            },
            "responsePolicy": {
              "type": "string",
              "description": "User assigned name of the Response Policy containing the Response Policy Rule.",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "ResponsePolicyRule"
          },
          "response": {
            "$ref": "ResponsePolicyRule"
          }
        },
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "ResponsePolicyRulesListResponse"
          },
          "parameters": {
            "project": {
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "pageToken": {
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "location": "query",
              "type": "string"
            },
            "responsePolicy": {
              "description": "User assigned name of the Response Policy to list.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.",
              "location": "query"
            }
          },
          "id": "dns.responsePolicyRules.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "description": "Enumerates all Response Policy Rules associated with a project.",
          "path": "dns/v1beta2/projects/{project}/responsePolicies/{responsePolicy}/rules",
          "parameterOrder": [
            "project",
            "responsePolicy"
          ],
          "flatPath": "dns/v1beta2/projects/{project}/responsePolicies/{responsePolicy}/rules"
        },
        "patch": {
          "request": {
            "$ref": "ResponsePolicyRule"
          },
          "response": {
            "$ref": "ResponsePolicyRulesPatchResponse"
          },
          "httpMethod": "PATCH",
          "parameters": {
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query",
              "type": "string"
            },
            "responsePolicy": {
              "type": "string",
              "description": "User assigned name of the Response Policy containing the Response Policy Rule.",
              "location": "path",
              "required": true
            },
            "responsePolicyRule": {
              "type": "string",
              "description": "User assigned name of the Response Policy Rule addressed by this request.",
              "location": "path",
              "required": true
            },
            "project": {
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true
            }
          },
          "id": "dns.responsePolicyRules.patch",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "path": "dns/v1beta2/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "description": "Applies a partial update to an existing Response Policy Rule.",
          "flatPath": "dns/v1beta2/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "parameterOrder": [
            "project",
            "responsePolicy",
            "responsePolicyRule"
          ]
        }
      }
    },
    "resourceRecordSets": {
      "methods": {
        "create": {
          "request": {
            "$ref": "ResourceRecordSet"
          },
          "response": {
            "$ref": "ResourceRecordSet"
          },
          "httpMethod": "POST",
          "id": "dns.resourceRecordSets.create",
          "parameters": {
            "project": {
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true
            },
            "managedZone": {
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "flatPath": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/rrsets",
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "path": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/rrsets",
          "description": "Creates a new ResourceRecordSet."
        },
        "list": {
          "id": "dns.resourceRecordSets.list",
          "parameters": {
            "project": {
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "name": {
              "description": "Specify a fully qualified domain name to view only those records. The `name` parameter is not supported and must be omitted when you use `filter`.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "location": "query",
              "type": "string"
            },
            "filter": {
              "type": "string",
              "description": "Specify a filter expression to view records that exactly match the specified domain. Both the `name` and `type` parameters are not supported and must be omitted when you use `filter`. Your `filter` expression must conform to AIP-160 and you must specify a domain in the `name` field. Optionally, you can include the `type` field to filter records by type. You can also include the `has_suffix` function to view records that match by domain suffix. Examples: * `name`=\"example.com.\" * `name`=\"example.com.\" AND type=\"A\" * `name`=`has_suffix`(\"example.com.\") * `name`=`has_suffix`(\"example.com.\") AND type=\"A\"",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.",
              "location": "query",
              "format": "int32"
            },
            "type": {
              "type": "string",
              "description": "Specify a record type to view only those records. You must also specify the `name` parameter. The `type` parameter is not supported and must be omitted when you use `filter`.",
              "location": "query"
            },
            "managedZone": {
              "type": "string",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "ResourceRecordSetsListResponse"
          },
          "httpMethod": "GET",
          "flatPath": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/rrsets",
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "path": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/rrsets",
          "description": "Enumerates ResourceRecordSets that you have created but not yet deleted.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project",
            "managedZone",
            "name",
            "type"
          ],
          "flatPath": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/rrsets/{name}/{type}",
          "description": "Applies a partial update to an existing ResourceRecordSet.",
          "path": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/rrsets/{name}/{type}",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "ResourceRecordSet"
          },
          "response": {
            "$ref": "ResourceRecordSet"
          },
          "id": "dns.resourceRecordSets.patch",
          "parameters": {
            "type": {
              "description": "RRSet type.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "managedZone": {
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "name": {
              "description": "Fully qualified domain name.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query",
              "type": "string"
            },
            "project": {
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true
            }
          }
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "httpMethod": "DELETE",
          "id": "dns.resourceRecordSets.delete",
          "flatPath": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/rrsets/{name}/{type}",
          "parameterOrder": [
            "project",
            "managedZone",
            "name",
            "type"
          ],
          "path": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/rrsets/{name}/{type}",
          "parameters": {
            "project": {
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            },
            "name": {
              "description": "Fully qualified domain name.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "managedZone": {
              "type": "string",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path",
              "required": true
            },
            "type": {
              "description": "RRSet type.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "description": "Deletes a previously created ResourceRecordSet."
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "description": "Fetches the representation of an existing ResourceRecordSet.",
          "path": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/rrsets/{name}/{type}",
          "parameterOrder": [
            "project",
            "managedZone",
            "name",
            "type"
          ],
          "flatPath": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/rrsets/{name}/{type}",
          "httpMethod": "GET",
          "response": {
            "$ref": "ResourceRecordSet"
          },
          "parameters": {
            "managedZone": {
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "type": {
              "type": "string",
              "description": "RRSet type.",
              "location": "path",
              "required": true
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            },
            "name": {
              "type": "string",
              "description": "Fully qualified domain name.",
              "location": "path",
              "required": true
            },
            "project": {
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true
            }
          },
          "id": "dns.resourceRecordSets.get"
        }
      }
    },
    "policies": {
      "methods": {
        "delete": {
          "id": "dns.policies.delete",
          "flatPath": "dns/v1beta2/projects/{project}/policies/{policy}",
          "parameterOrder": [
            "project",
            "policy"
          ],
          "path": "dns/v1beta2/projects/{project}/policies/{policy}",
          "parameters": {
            "policy": {
              "description": "User given friendly name of the policy addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query",
              "type": "string"
            }
          },
          "description": "Deletes a previously created policy. Fails if the policy is still being referenced by a network.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "httpMethod": "DELETE"
        },
        "update": {
          "path": "dns/v1beta2/projects/{project}/policies/{policy}",
          "description": "Updates an existing policy.",
          "flatPath": "dns/v1beta2/projects/{project}/policies/{policy}",
          "parameterOrder": [
            "project",
            "policy"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameters": {
            "policy": {
              "description": "User given friendly name of the policy addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            }
          },
          "id": "dns.policies.update",
          "request": {
            "$ref": "Policy"
          },
          "response": {
            "$ref": "PoliciesUpdateResponse"
          },
          "httpMethod": "PUT"
        },
        "get": {
          "description": "Fetches the representation of an existing policy.",
          "path": "dns/v1beta2/projects/{project}/policies/{policy}",
          "parameterOrder": [
            "project",
            "policy"
          ],
          "flatPath": "dns/v1beta2/projects/{project}/policies/{policy}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameters": {
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            },
            "policy": {
              "description": "User given friendly name of the policy addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true
            }
          },
          "id": "dns.policies.get",
          "httpMethod": "GET",
          "response": {
            "$ref": "Policy"
          }
        },
        "create": {
          "flatPath": "dns/v1beta2/projects/{project}/policies",
          "parameterOrder": [
            "project"
          ],
          "path": "dns/v1beta2/projects/{project}/policies",
          "description": "Creates a new policy.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "id": "dns.policies.create",
          "parameters": {
            "project": {
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            }
          },
          "request": {
            "$ref": "Policy"
          },
          "response": {
            "$ref": "Policy"
          },
          "httpMethod": "POST"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project"
          ],
          "flatPath": "dns/v1beta2/projects/{project}/policies",
          "description": "Enumerates all policies associated with a project.",
          "path": "dns/v1beta2/projects/{project}/policies",
          "httpMethod": "GET",
          "response": {
            "$ref": "PoliciesListResponse"
          },
          "id": "dns.policies.list",
          "parameters": {
            "project": {
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.",
              "location": "query"
            }
          }
        },
        "patch": {
          "id": "dns.policies.patch",
          "parameters": {
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query",
              "type": "string"
            },
            "policy": {
              "type": "string",
              "description": "User given friendly name of the policy addressed by this request.",
              "location": "path",
              "required": true
            },
            "project": {
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true
            }
          },
          "request": {
            "$ref": "Policy"
          },
          "response": {
            "$ref": "PoliciesPatchResponse"
          },
          "httpMethod": "PATCH",
          "flatPath": "dns/v1beta2/projects/{project}/policies/{policy}",
          "parameterOrder": [
            "project",
            "policy"
          ],
          "path": "dns/v1beta2/projects/{project}/policies/{policy}",
          "description": "Applies a partial update to an existing policy.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        }
      }
    },
    "managedZones": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "ManagedZonesListResponse"
          },
          "parameters": {
            "dnsName": {
              "description": "Restricts the list to return only zones with this domain name.",
              "location": "query",
              "type": "string"
            },
            "project": {
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true
            },
            "pageToken": {
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.",
              "location": "query",
              "format": "int32"
            }
          },
          "id": "dns.managedZones.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "description": "Enumerates ManagedZones that have been created but not yet deleted.",
          "path": "dns/v1beta2/projects/{project}/managedZones",
          "parameterOrder": [
            "project"
          ],
          "flatPath": "dns/v1beta2/projects/{project}/managedZones"
        },
        "testIamPermissions": {
          "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this returns an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
          "path": "dns/v1beta2/{+resource}:testIamPermissions",
          "parameterOrder": [
            "resource"
          ],
          "flatPath": "dns/v1beta2/projects/{projectsId}/managedZones/{managedZonesId}:testIamPermissions",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameters": {
            "resource": {
              "required": true,
              "pattern": "^projects/[^/]+/managedZones/[^/]+$",
              "type": "string",
              "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "location": "path"
            }
          },
          "id": "dns.managedZones.testIamPermissions",
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleIamV1TestIamPermissionsRequest"
          },
          "response": {
            "$ref": "GoogleIamV1TestIamPermissionsResponse"
          }
        },
        "setIamPolicy": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
          "path": "dns/v1beta2/{+resource}:setIamPolicy",
          "parameterOrder": [
            "resource"
          ],
          "flatPath": "dns/v1beta2/projects/{projectsId}/managedZones/{managedZonesId}:setIamPolicy",
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleIamV1SetIamPolicyRequest"
          },
          "response": {
            "$ref": "GoogleIamV1Policy"
          },
          "parameters": {
            "resource": {
              "required": true,
              "pattern": "^projects/[^/]+/managedZones/[^/]+$",
              "type": "string",
              "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "location": "path"
            }
          },
          "id": "dns.managedZones.setIamPolicy"
        },
        "getIamPolicy": {
          "parameters": {
            "resource": {
              "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "location": "path",
              "pattern": "^projects/[^/]+/managedZones/[^/]+$",
              "type": "string",
              "required": true
            }
          },
          "id": "dns.managedZones.getIamPolicy",
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleIamV1GetIamPolicyRequest"
          },
          "response": {
            "$ref": "GoogleIamV1Policy"
          },
          "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
          "path": "dns/v1beta2/{+resource}:getIamPolicy",
          "parameterOrder": [
            "resource"
          ],
          "flatPath": "dns/v1beta2/projects/{projectsId}/managedZones/{managedZonesId}:getIamPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        },
        "delete": {
          "id": "dns.managedZones.delete",
          "flatPath": "dns/v1beta2/projects/{project}/managedZones/{managedZone}",
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "path": "dns/v1beta2/projects/{project}/managedZones/{managedZone}",
          "parameters": {
            "managedZone": {
              "type": "string",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path",
              "required": true
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query",
              "type": "string"
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "description": "Deletes a previously created ManagedZone.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "httpMethod": "DELETE"
        },
        "get": {
          "flatPath": "dns/v1beta2/projects/{project}/managedZones/{managedZone}",
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "path": "dns/v1beta2/projects/{project}/managedZones/{managedZone}",
          "description": "Fetches the representation of an existing ManagedZone.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "id": "dns.managedZones.get",
          "parameters": {
            "project": {
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true
            },
            "managedZone": {
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "ManagedZone"
          },
          "httpMethod": "GET"
        },
        "patch": {
          "parameters": {
            "managedZone": {
              "type": "string",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path",
              "required": true
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query",
              "type": "string"
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "id": "dns.managedZones.patch",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "ManagedZone"
          },
          "response": {
            "$ref": "Operation"
          },
          "description": "Applies a partial update to an existing ManagedZone.",
          "path": "dns/v1beta2/projects/{project}/managedZones/{managedZone}",
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "flatPath": "dns/v1beta2/projects/{project}/managedZones/{managedZone}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        },
        "create": {
          "description": "Creates a new ManagedZone. Note: While `dns.managedZones.create` is the baseline permission required to invoke this method, additional permissions are required if the managed zone configuration references other resources.",
          "path": "dns/v1beta2/projects/{project}/managedZones",
          "parameterOrder": [
            "project"
          ],
          "flatPath": "dns/v1beta2/projects/{project}/managedZones",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameters": {
            "project": {
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query",
              "type": "string"
            }
          },
          "id": "dns.managedZones.create",
          "httpMethod": "POST",
          "request": {
            "$ref": "ManagedZone"
          },
          "response": {
            "$ref": "ManagedZone"
          }
        },
        "update": {
          "flatPath": "dns/v1beta2/projects/{project}/managedZones/{managedZone}",
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "path": "dns/v1beta2/projects/{project}/managedZones/{managedZone}",
          "description": "Updates an existing ManagedZone.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "id": "dns.managedZones.update",
          "parameters": {
            "project": {
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true
            },
            "managedZone": {
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            }
          },
          "request": {
            "$ref": "ManagedZone"
          },
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "PUT"
        }
      }
    }
  },
  "schemas": {
    "OperationManagedZoneContext": {
      "id": "OperationManagedZoneContext",
      "type": "object",
      "properties": {
        "oldValue": {
          "description": "The pre-operation ManagedZone resource.",
          "$ref": "ManagedZone"
        },
        "newValue": {
          "$ref": "ManagedZone",
          "description": "The post-operation ManagedZone resource."
        }
      }
    },
    "ManagedZonePeeringConfig": {
      "id": "ManagedZonePeeringConfig",
      "type": "object",
      "properties": {
        "targetNetwork": {
          "description": "The network with which to peer.",
          "$ref": "ManagedZonePeeringConfigTargetNetwork"
        },
        "kind": {
          "default": "dns#managedZonePeeringConfig",
          "type": "string"
        }
      }
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "format": "google.protobuf.Any",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "PolicyDns64ConfigScope": {
      "id": "PolicyDns64ConfigScope",
      "type": "object",
      "properties": {
        "allQueries": {
          "type": "boolean",
          "description": "Controls whether DNS64 is enabled globally for all networks bound to the policy."
        },
        "kind": {
          "default": "dns#policyDns64ConfigScope",
          "type": "string"
        }
      }
    },
    "ManagedZonesListResponse": {
      "id": "ManagedZonesListResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "This field indicates that more results are available beyond the last page displayed. To fetch the results, make another list request and use this value as your page token. This lets you retrieve the complete contents of a very large collection one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned are an inconsistent view of the collection. You can't retrieve a consistent snapshot of a collection larger than the maximum page size."
        },
        "managedZones": {
          "description": "The managed zone resources.",
          "type": "array",
          "items": {
            "$ref": "ManagedZone"
          }
        },
        "kind": {
          "type": "string",
          "default": "dns#managedZonesListResponse",
          "description": "Type of resource."
        }
      }
    },
    "ManagedZoneServiceDirectoryConfigNamespace": {
      "id": "ManagedZoneServiceDirectoryConfigNamespace",
      "type": "object",
      "properties": {
        "deletionTime": {
          "type": "string",
          "description": "The time that the namespace backing this zone was deleted; an empty string if it still exists. This is in RFC3339 text format. Output only."
        },
        "namespaceUrl": {
          "type": "string",
          "description": "The fully qualified URL of the namespace associated with the zone. Format must be `https://servicedirectory.googleapis.com/v1/projects/{project}/locations/{location}/namespaces/{namespace}`"
        },
        "kind": {
          "default": "dns#managedZoneServiceDirectoryConfigNamespace",
          "type": "string"
        }
      }
    },
    "ManagedZoneOperationsListResponse": {
      "id": "ManagedZoneOperationsListResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "This field indicates that more results are available beyond the last page displayed. To fetch the results, make another list request and use this value as your page token. This lets you retrieve the complete contents of a very large collection one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned are an inconsistent view of the collection. You can't retrieve a consistent snapshot of a collection larger than the maximum page size.",
          "type": "string"
        },
        "operations": {
          "description": "The operation resources.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        },
        "kind": {
          "default": "dns#managedZoneOperationsListResponse",
          "description": "Type of resource.",
          "type": "string"
        }
      }
    },
    "GoogleIamV1GetPolicyOptions": {
      "id": "GoogleIamV1GetPolicyOptions",
      "type": "object",
      "properties": {
        "requestedPolicyVersion": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      },
      "description": "Encapsulates settings provided to GetIamPolicy."
    },
    "PolicyAlternativeNameServerConfig": {
      "id": "PolicyAlternativeNameServerConfig",
      "type": "object",
      "properties": {
        "targetNameServers": {
          "type": "array",
          "items": {
            "$ref": "PolicyAlternativeNameServerConfigTargetNameServer"
          },
          "description": "Sets an alternative name server for the associated networks. When specified, all DNS queries are forwarded to a name server that you choose. Names such as .internal are not available when an alternative name server is specified."
        },
        "kind": {
          "default": "dns#policyAlternativeNameServerConfig",
          "type": "string"
        }
      }
    },
    "GoogleIamV1TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "id": "GoogleIamV1TestIamPermissionsResponse",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "RRSetRoutingPolicyLoadBalancerTarget": {
      "description": "The configuration for an individual load balancer to health check.",
      "id": "RRSetRoutingPolicyLoadBalancerTarget",
      "type": "object",
      "properties": {
        "port": {
          "description": "The configured port of the load balancer.",
          "type": "string"
        },
        "ipProtocol": {
          "description": "The protocol of the load balancer to health check.",
          "enumDescriptions": [
            "",
            "Indicates the load balancer is accessible via TCP.",
            "Indicates the load balancer is accessible via UDP."
          ],
          "enum": [
            "undefined",
            "tcp",
            "udp"
          ],
          "type": "string"
        },
        "project": {
          "description": "The project ID in which the load balancer is located.",
          "type": "string"
        },
        "region": {
          "type": "string",
          "description": "The region in which the load balancer is located."
        },
        "loadBalancerType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Indicates the load balancer is a Cross-Region Application Load Balancer.",
            "Indicates the load balancer is a Regional Network Passthrough Load Balancer.",
            "Indicates the load balancer is a Regional Application Load Balancer."
          ],
          "enum": [
            "none",
            "globalL7ilb",
            "regionalL4ilb",
            "regionalL7ilb"
          ],
          "description": "The type of load balancer specified by this target. This value must match the configuration of the load balancer located at the LoadBalancerTarget's IP address, port, and region. Use the following: - *regionalL4ilb*: for a regional internal passthrough Network Load Balancer. - *regionalL7ilb*: for a regional internal Application Load Balancer. - *globalL7ilb*: for a global internal Application Load Balancer. "
        },
        "ipAddress": {
          "description": "The frontend IP address of the load balancer to health check.",
          "type": "string"
        },
        "networkUrl": {
          "type": "string",
          "description": "The fully qualified URL of the network that the load balancer is attached to. This should be formatted like `https://www.googleapis.com/compute/v1/projects/{project}/global/networks/{network}`."
        },
        "kind": {
          "default": "dns#rRSetRoutingPolicyLoadBalancerTarget",
          "type": "string"
        }
      }
    },
    "ResponsePoliciesUpdateResponse": {
      "id": "ResponsePoliciesUpdateResponse",
      "type": "object",
      "properties": {
        "responsePolicy": {
          "$ref": "ResponsePolicy"
        }
      }
    },
    "RRSetRoutingPolicyGeoPolicyGeoPolicyItem": {
      "id": "RRSetRoutingPolicyGeoPolicyGeoPolicyItem",
      "type": "object",
      "properties": {
        "rrdatas": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "signatureRrdatas": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "DNSSEC generated signatures for all the `rrdata` within this item. When using health-checked targets for DNSSEC-enabled zones, you can only use at most one health-checked IP address per item."
        },
        "healthCheckedTargets": {
          "description": "For A and AAAA types only. Endpoints to return in the query result only if they are healthy. These can be specified along with `rrdata` within this item.",
          "$ref": "RRSetRoutingPolicyHealthCheckTargets"
        },
        "kind": {
          "default": "dns#rRSetRoutingPolicyGeoPolicyGeoPolicyItem",
          "type": "string"
        },
        "location": {
          "description": "The geo-location granularity is a GCP region. This location string should correspond to a GCP region. e.g. \"us-east1\", \"southamerica-east1\", \"asia-east1\", etc.",
          "type": "string"
        }
      },
      "description": "ResourceRecordSet data for one geo location."
    },
    "GoogleIamV1AuditConfig": {
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "id": "GoogleIamV1AuditConfig",
      "type": "object",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "items": {
            "$ref": "GoogleIamV1AuditLogConfig"
          },
          "type": "array"
        }
      }
    },
    "Change": {
      "id": "Change",
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "pending",
            "done"
          ],
          "description": "Status of the operation (output only). A status of \"done\" means that the request to update the authoritative servers has been sent, but the servers might not be updated yet."
        },
        "additions": {
          "description": "Which ResourceRecordSets to add?",
          "items": {
            "$ref": "ResourceRecordSet"
          },
          "type": "array"
        },
        "isServing": {
          "description": "If the DNS queries for the zone will be served.",
          "type": "boolean"
        },
        "kind": {
          "default": "dns#change",
          "type": "string"
        },
        "deletions": {
          "description": "Which ResourceRecordSets to remove? Must match existing data exactly.",
          "type": "array",
          "items": {
            "$ref": "ResourceRecordSet"
          }
        },
        "startTime": {
          "description": "The time that this operation was started by the server (output only). This is in RFC3339 text format.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Unique identifier for the resource; defined by the server (output only)."
        }
      },
      "description": "A Change represents a set of `ResourceRecordSet` additions and deletions applied atomically to a ManagedZone. ResourceRecordSets within a ManagedZone are modified by creating a new Change element in the Changes collection. In turn the Changes collection also records the past modifications to the `ResourceRecordSets` in a `ManagedZone`. The current state of the `ManagedZone` is the sum effect of applying all `Change` elements in the `Changes` collection in sequence."
    },
    "ManagedZonePrivateVisibilityConfigGKECluster": {
      "id": "ManagedZonePrivateVisibilityConfigGKECluster",
      "type": "object",
      "properties": {
        "gkeClusterName": {
          "type": "string",
          "description": "The resource name of the cluster to bind this ManagedZone to. This should be specified in the format like: projects/*/locations/*/clusters/*. This is referenced from GKE projects.locations.clusters.get API: https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/projects.locations.clusters/get"
        },
        "kind": {
          "default": "dns#managedZonePrivateVisibilityConfigGKECluster",
          "type": "string"
        }
      }
    },
    "ResponsePolicyRulesUpdateResponse": {
      "id": "ResponsePolicyRulesUpdateResponse",
      "type": "object",
      "properties": {
        "responsePolicyRule": {
          "$ref": "ResponsePolicyRule"
        }
      }
    },
    "ResourceRecordSet": {
      "id": "ResourceRecordSet",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "For example, www.example.com."
        },
        "ttl": {
          "type": "integer",
          "format": "int32",
          "description": "Number of seconds that this `ResourceRecordSet` can be cached by resolvers."
        },
        "rrdatas": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "As defined in RFC 1035 (section 5) and RFC 1034 (section 3.6.1) -- see examples."
        },
        "routingPolicy": {
          "$ref": "RRSetRoutingPolicy",
          "description": "Configures dynamic query responses based on either the geo location of the querying user or a weighted round robin based routing policy. A valid `ResourceRecordSet` contains only `rrdata` (for static resolution) or a `routing_policy` (for dynamic resolution)."
        },
        "type": {
          "description": "The identifier of a supported record type. See the list of Supported DNS record types.",
          "type": "string"
        },
        "signatureRrdatas": {
          "description": "As defined in RFC 4034 (section 3.2).",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "kind": {
          "default": "dns#resourceRecordSet",
          "type": "string"
        }
      },
      "description": "A unit of data that is returned by the DNS servers."
    },
    "ManagedZoneServiceDirectoryConfig": {
      "id": "ManagedZoneServiceDirectoryConfig",
      "type": "object",
      "properties": {
        "namespace": {
          "$ref": "ManagedZoneServiceDirectoryConfigNamespace",
          "description": "Contains information about the namespace associated with the zone."
        },
        "kind": {
          "default": "dns#managedZoneServiceDirectoryConfig",
          "type": "string"
        }
      },
      "description": "Contains information about Service Directory-backed zones."
    },
    "RRSetRoutingPolicyWrrPolicy": {
      "id": "RRSetRoutingPolicyWrrPolicy",
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "RRSetRoutingPolicyWrrPolicyWrrPolicyItem"
          }
        },
        "kind": {
          "default": "dns#rRSetRoutingPolicyWrrPolicy",
          "type": "string"
        }
      },
      "description": "Configures a RRSetRoutingPolicy that routes in a weighted round robin fashion."
    },
    "ManagedZoneDnsSecConfig": {
      "id": "ManagedZoneDnsSecConfig",
      "type": "object",
      "properties": {
        "nonExistence": {
          "description": "Specifies the mechanism for authenticated denial-of-existence responses. Can only be changed while the state is OFF.",
          "enumDescriptions": [
            "Indicates that Cloud DNS will sign records in the managed zone according to RFC 4034 and respond with NSEC records for names that do not exist.",
            "Indicates that Cloud DNS will sign records in the managed zone according to RFC 5155 and respond with NSEC3 records for names that do not exist."
          ],
          "enum": [
            "nsec",
            "nsec3"
          ],
          "type": "string"
        },
        "kind": {
          "default": "dns#managedZoneDnsSecConfig",
          "type": "string"
        },
        "state": {
          "description": "Specifies whether DNSSEC is enabled, and what mode it is in.",
          "enumDescriptions": [
            "DNSSEC is disabled; the zone is not signed.",
            "DNSSEC is enabled; the zone is signed and fully managed.",
            "DNSSEC is enabled, but in a \"transfer\" mode."
          ],
          "enum": [
            "off",
            "on",
            "transfer"
          ],
          "type": "string"
        },
        "defaultKeySpecs": {
          "description": "Specifies parameters for generating initial DnsKeys for this ManagedZone. Can only be changed while the state is OFF.",
          "items": {
            "$ref": "DnsKeySpec"
          },
          "type": "array"
        }
      }
    },
    "ManagedZonePeeringConfigTargetNetwork": {
      "id": "ManagedZonePeeringConfigTargetNetwork",
      "type": "object",
      "properties": {
        "deactivateTime": {
          "description": "The time at which the zone was deactivated, in RFC 3339 date-time format. An empty string indicates that the peering connection is active. The producer network can deactivate a zone. The zone is automatically deactivated if the producer network that the zone targeted is deleted. Output only.",
          "type": "string"
        },
        "networkUrl": {
          "type": "string",
          "description": "The fully qualified URL of the VPC network to forward queries to. This should be formatted like `https://www.googleapis.com/compute/v1/projects/{project}/global/networks/{network}`"
        },
        "kind": {
          "default": "dns#managedZonePeeringConfigTargetNetwork",
          "type": "string"
        }
      }
    },
    "GoogleIamV1GetIamPolicyRequest": {
      "id": "GoogleIamV1GetIamPolicyRequest",
      "type": "object",
      "properties": {
        "options": {
          "$ref": "GoogleIamV1GetPolicyOptions",
          "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`."
        }
      },
      "description": "Request message for `GetIamPolicy` method."
    },
    "DnsKeyDigest": {
      "id": "DnsKeyDigest",
      "type": "object",
      "properties": {
        "digest": {
          "type": "string",
          "description": "The base-16 encoded bytes of this digest. Suitable for use in a DS resource record."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "sha1",
            "sha256",
            "sha384"
          ],
          "description": "Specifies the algorithm used to calculate this digest."
        }
      }
    },
    "ManagedZoneReverseLookupConfig": {
      "id": "ManagedZoneReverseLookupConfig",
      "type": "object",
      "properties": {
        "kind": {
          "default": "dns#managedZoneReverseLookupConfig",
          "type": "string"
        }
      }
    },
    "GoogleIamV1Policy": {
      "id": "GoogleIamV1Policy",
      "type": "object",
      "properties": {
        "version": {
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32"
        },
        "bindings": {
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1Binding"
          },
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte",
          "type": "string"
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1AuditConfig"
          }
        }
      },
[...]
