{
  "title": "Google Docs API",
  "documentationLink": "https://developers.google.com/workspace/docs/",
  "rootUrl": "https://docs.googleapis.com/",
  "resources": {
    "documents": {
      "methods": {
        "create": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/documents",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "id": "docs.documents.create",
          "parameters": {},
          "flatPath": "v1/documents",
          "request": {
            "$ref": "Document"
          },
          "response": {
            "$ref": "Document"
          },
          "parameterOrder": [],
          "description": "Creates a blank document using the title given in the request. Other fields in the request, including any provided content, are ignored. Returns the created document.",
          "path": "v1/documents"
        },
        "batchUpdate": {
          "request": {
            "$ref": "BatchUpdateDocumentRequest"
          },
          "description": "Applies one or more updates to the document. Each request is validated before being applied. If any request is not valid, then the entire request will fail and nothing will be applied. Some requests have replies to give you some information about how they are applied. Other requests do not need to return information; these each return an empty reply. The order of replies matches that of the requests. For example, suppose you call batchUpdate with four updates, and only the third one returns information. The response would have two empty replies, the reply to the third request, and another empty reply, in that order. Because other users may be editing the document, the document might not exactly reflect your changes: your changes may be altered with respect to collaborator changes. If there are no collaborators, the document should reflect your changes. In any case, the updates in your request are guaranteed to be applied together atomically.",
          "scopes": [
            "https://www.googleapis.com/auth/documents",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "id": "docs.documents.batchUpdate",
          "response": {
            "$ref": "BatchUpdateDocumentResponse"
          },
          "flatPath": "v1/documents/{documentId}:batchUpdate",
          "parameterOrder": [
            "documentId"
          ],
          "httpMethod": "POST",
          "path": "v1/documents/{documentId}:batchUpdate",
          "parameters": {
            "documentId": {
              "description": "The ID of the document to update.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          }
        },
        "get": {
          "parameters": {
            "documentId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the document to retrieve.",
              "required": true
            },
            "includeTabsContent": {
              "location": "query",
              "type": "boolean",
              "description": "Whether to populate the Document.tabs field instead of the text content fields like `body` and `documentStyle` on Document. - When `True`: Document content populates in the Document.tabs field instead of the text content fields in Document. - When `False`: The content of the document's first tab populates the content fields in Document excluding Document.tabs. If a document has only one tab, then that tab is used to populate the document content. Document.tabs will be empty."
            },
            "suggestionsViewMode": {
              "location": "query",
              "description": "The suggestions view mode to apply to the document. This allows viewing the document with all suggestions inline, accepted or rejected. If one is not specified, DEFAULT_FOR_CURRENT_ACCESS is used.",
              "type": "string",
              "enum": [
                "DEFAULT_FOR_CURRENT_ACCESS",
                "SUGGESTIONS_INLINE",
                "PREVIEW_SUGGESTIONS_ACCEPTED",
                "PREVIEW_WITHOUT_SUGGESTIONS"
              ],
              "enumDescriptions": [
                "The SuggestionsViewMode applied to the returned document depends on the user's current access level. If the user only has view access, PREVIEW_WITHOUT_SUGGESTIONS is applied. Otherwise, SUGGESTIONS_INLINE is applied. This is the default suggestions view mode.",
                "The returned document has suggestions inline. Suggested changes will be differentiated from base content within the document. Requests to retrieve a document using this mode will return a 403 error if the user does not have permission to view suggested changes.",
                "The returned document is a preview with all suggested changes accepted. Requests to retrieve a document using this mode will return a 403 error if the user does not have permission to view suggested changes.",
                "The returned document is a preview with all suggested changes rejected if there are any suggestions in the document."
              ]
            }
          },
          "parameterOrder": [
            "documentId"
          ],
          "httpMethod": "GET",
          "id": "docs.documents.get",
          "scopes": [
            "https://www.googleapis.com/auth/documents",
            "https://www.googleapis.com/auth/documents.readonly",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "path": "v1/documents/{documentId}",
          "flatPath": "v1/documents/{documentId}",
          "response": {
            "$ref": "Document"
          },
          "description": "Gets the latest version of the specified document."
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "canonicalName": "Docs",
  "version_module": true,
  "revision": "20260828",
  "basePath": "",
  "discoveryVersion": "v1",
  "name": "docs",
  "batchPath": "batch",
  "mtlsRootUrl": "https://docs.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "version": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/documents.readonly": {
          "description": "See all your Google Docs documents"
        },
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "See and download all your Google Drive files"
        },
        "https://www.googleapis.com/auth/documents": {
          "description": "See, edit, create, and delete all your Google Docs documents"
        },
        "https://www.googleapis.com/auth/drive.file": {
          "description": "See, edit, create, and delete only the specific Google Drive files you use with this app"
        }
      }
    }
  },
  "ownerName": "Google",
  "servicePath": "",
  "id": "docs:v1",
  "schemas": {
    "HorizontalRule": {
      "id": "HorizontalRule",
      "properties": {
        "textStyle": {
          "description": "The text style of this HorizontalRule. Similar to text content, like text runs and footnote references, the text style of a horizontal rule can affect content layout as well as the styling of text inserted next to it.",
          "$ref": "TextStyle"
        },
        "suggestedTextStyleChanges": {
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "description": "The suggested text style changes to this HorizontalRule, keyed by suggestion ID.",
          "type": "object"
        },
        "suggestedInsertionIds": {
          "description": "The suggested insertion IDs. A HorizontalRule may have multiple insertion IDs if it is a nested suggested change. If empty, then this is not a suggested insertion.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "suggestedDeletionIds": {
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "A ParagraphElement representing a horizontal line.",
      "type": "object"
    },
    "DeleteParagraphBulletsRequest": {
      "type": "object",
      "id": "DeleteParagraphBulletsRequest",
      "properties": {
        "range": {
          "description": "The range to delete bullets from.",
          "$ref": "Range"
        }
      },
      "description": "Deletes bullets from all of the paragraphs that overlap with the given range. The nesting level of each paragraph will be visually preserved by adding indent to the start of the corresponding paragraph."
    },
    "NamedStyleSuggestionState": {
      "properties": {
        "textStyleSuggestionState": {
          "$ref": "TextStyleSuggestionState",
          "description": "A mask that indicates which of the fields in text style have been changed in this suggestion."
        },
        "paragraphStyleSuggestionState": {
          "description": "A mask that indicates which of the fields in paragraph style have been changed in this suggestion.",
          "$ref": "ParagraphStyleSuggestionState"
        },
        "namedStyleType": {
          "description": "The named style type that this suggestion state corresponds to. This field is provided as a convenience for matching the NamedStyleSuggestionState with its corresponding NamedStyle.",
          "type": "string",
          "enum": [
            "NAMED_STYLE_TYPE_UNSPECIFIED",
            "NORMAL_TEXT",
            "TITLE",
            "SUBTITLE",
            "HEADING_1",
            "HEADING_2",
            "HEADING_3",
            "HEADING_4",
            "HEADING_5",
            "HEADING_6"
          ],
          "enumDescriptions": [
            "The type of named style is unspecified.",
            "Normal text.",
            "Title.",
            "Subtitle.",
            "Heading 1.",
            "Heading 2.",
            "Heading 3.",
            "Heading 4.",
            "Heading 5.",
            "Heading 6."
          ]
        }
      },
      "description": "A suggestion state of a NamedStyle message.",
      "id": "NamedStyleSuggestionState",
      "type": "object"
    },
    "NestingLevelSuggestionState": {
      "type": "object",
      "description": "A mask that indicates which of the fields on the base NestingLevel have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "properties": {
        "startNumberSuggested": {
          "description": "Indicates if there was a suggested change to start_number.",
          "type": "boolean"
        },
        "indentStartSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to indent_start."
        },
        "bulletAlignmentSuggested": {
          "description": "Indicates if there was a suggested change to bullet_alignment.",
          "type": "boolean"
        },
        "glyphSymbolSuggested": {
          "description": "Indicates if there was a suggested change to glyph_symbol.",
          "type": "boolean"
        },
        "glyphFormatSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to glyph_format."
        },
        "indentFirstLineSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to indent_first_line."
        },
        "textStyleSuggestionState": {
          "$ref": "TextStyleSuggestionState",
          "description": "A mask that indicates which of the fields in text style have been changed in this suggestion."
        },
        "glyphTypeSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to glyph_type."
        }
      },
      "id": "NestingLevelSuggestionState"
    },
    "UpdateTableCellStyleRequest": {
      "description": "Updates the style of a range of table cells.",
      "id": "UpdateTableCellStyleRequest",
      "type": "object",
      "properties": {
        "tableStartLocation": {
          "description": "The location where the table starts in the document. When specified, the updates are applied to all the cells in the table.",
          "$ref": "Location"
        },
        "tableCellStyle": {
          "description": "The style to set on the table cells. When updating borders, if a cell shares a border with an adjacent cell, the corresponding border property of the adjacent cell is updated as well. Borders that are merged and invisible are not updated. Since updating a border shared by adjacent cells in the same request can cause conflicting border updates, border updates are applied in the following order: - `border_right` - `border_left` - `border_bottom` - `border_top`",
          "$ref": "TableCellStyle"
        },
        "fields": {
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root `tableCellStyle` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the table cell background color, set `fields` to `\"backgroundColor\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset.",
          "format": "google-fieldmask"
        },
        "tableRange": {
          "description": "The table range representing the subset of the table to which the updates are applied.",
          "$ref": "TableRange"
        }
      }
    },
    "CreateFooterResponse": {
      "type": "object",
      "id": "CreateFooterResponse",
      "description": "The result of creating a footer.",
      "properties": {
        "footerId": {
          "description": "The ID of the created footer.",
          "type": "string"
        }
      }
    },
    "AddDocumentTabRequest": {
      "type": "object",
      "id": "AddDocumentTabRequest",
      "description": "Adds a document tab. When a tab is added at a given index, all subsequent tabs' indexes are incremented.",
      "properties": {
        "tabProperties": {
          "description": "The properties of the tab to add. All properties are optional.",
          "$ref": "TabProperties"
        }
      }
    },
    "FootnoteReference": {
      "description": "A ParagraphElement representing a footnote reference. A footnote reference is the inline content rendered with a number and is used to identify the footnote.",
      "type": "object",
      "id": "FootnoteReference",
      "properties": {
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The text style of this FootnoteReference."
        },
        "suggestedTextStyleChanges": {
          "description": "The suggested text style changes to this FootnoteReference, keyed by suggestion ID.",
          "type": "object",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          }
        },
        "footnoteNumber": {
          "description": "The rendered number of this footnote.",
          "type": "string"
        },
        "suggestedInsertionIds": {
          "type": "array",
          "description": "The suggested insertion IDs. A FootnoteReference may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.",
          "items": {
            "type": "string"
          }
        },
        "suggestedDeletionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content."
        },
        "footnoteId": {
          "description": "The ID of the footnote that contains the content of this footnote reference.",
          "type": "string"
        }
      }
    },
    "LinkedContentReference": {
      "id": "LinkedContentReference",
      "properties": {
        "sheetsChartReference": {
          "$ref": "SheetsChartReference",
          "description": "A reference to the linked chart."
        }
      },
      "description": "A reference to the external linked source content.",
      "type": "object"
    },
    "CropPropertiesSuggestionState": {
      "type": "object",
      "properties": {
        "angleSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to angle."
        },
        "offsetLeftSuggested": {
          "description": "Indicates if there was a suggested change to offset_left.",
          "type": "boolean"
        },
        "offsetTopSuggested": {
          "description": "Indicates if there was a suggested change to offset_top.",
          "type": "boolean"
        },
        "offsetRightSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to offset_right."
        },
        "offsetBottomSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to offset_bottom."
        }
      },
      "description": "A mask that indicates which of the fields on the base CropProperties have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "id": "CropPropertiesSuggestionState"
    },
    "Document": {
      "description": "A Google Docs document.",
      "id": "Document",
      "properties": {
        "namedRanges": {
          "type": "object",
          "additionalProperties": {
            "$ref": "NamedRanges"
          },
          "description": "Output only. The named ranges in the document, keyed by name. Legacy field: Instead, use Document.tabs.documentTab.namedRanges, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document."
        },
        "documentStyle": {
          "description": "Output only. The style of the document. Legacy field: Instead, use Document.tabs.documentTab.documentStyle, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
          "$ref": "DocumentStyle"
        },
        "revisionId": {
          "type": "string",
          "description": "Output only. The revision ID of the document. Can be used in update requests to specify which revision of a document to apply updates to and how the request should behave if the document has been edited since that revision. Only populated if the user has edit access to the document. The revision ID is not a sequential number but an opaque string. The format of the revision ID might change over time. A returned revision ID is only guaranteed to be valid for 24 hours after it has been returned and cannot be shared across users. If the revision ID is unchanged between calls, then the document has not changed. Conversely, a changed ID (for the same document and user) usually means the document has been updated. However, a changed ID can also be due to internal factors such as ID format changes."
        },
        "positionedObjects": {
          "type": "object",
          "description": "Output only. The positioned objects in the document, keyed by object ID. Legacy field: Instead, use Document.tabs.documentTab.positionedObjects, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
          "additionalProperties": {
            "$ref": "PositionedObject"
          }
        },
        "tabs": {
          "items": {
            "$ref": "Tab"
          },
          "type": "array",
          "description": "Tabs that are part of a document. Tabs can contain child tabs, a tab nested within another tab. Child tabs are represented by the Tab.childTabs field."
        },
        "documentId": {
          "description": "Output only. The ID of the document.",
          "type": "string"
        },
        "suggestedDocumentStyleChanges": {
          "type": "object",
          "additionalProperties": {
            "$ref": "SuggestedDocumentStyle"
          },
          "description": "Output only. The suggested changes to the style of the document, keyed by suggestion ID. Legacy field: Instead, use Document.tabs.documentTab.suggestedDocumentStyleChanges, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document."
        },
        "headers": {
          "additionalProperties": {
            "$ref": "Header"
          },
          "type": "object",
          "description": "Output only. The headers in the document, keyed by header ID. Legacy field: Instead, use Document.tabs.documentTab.headers, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document."
        },
        "suggestedNamedStylesChanges": {
          "description": "Output only. The suggested changes to the named styles of the document, keyed by suggestion ID. Legacy field: Instead, use Document.tabs.documentTab.suggestedNamedStylesChanges, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
          "type": "object",
          "additionalProperties": {
            "$ref": "SuggestedNamedStyles"
          }
        },
        "body": {
          "description": "Output only. The main body of the document. Legacy field: Instead, use Document.tabs.documentTab.body, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
          "$ref": "Body"
        },
        "title": {
          "type": "string",
          "description": "The title of the document."
        },
        "inlineObjects": {
          "description": "Output only. The inline objects in the document, keyed by object ID. Legacy field: Instead, use Document.tabs.documentTab.inlineObjects, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
          "type": "object",
          "additionalProperties": {
            "$ref": "InlineObject"
          }
        },
        "lists": {
          "type": "object",
          "additionalProperties": {
            "$ref": "List"
          },
          "description": "Output only. The lists in the document, keyed by list ID. Legacy field: Instead, use Document.tabs.documentTab.lists, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document."
        },
        "namedStyles": {
          "description": "Output only. The named styles of the document. Legacy field: Instead, use Document.tabs.documentTab.namedStyles, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
          "$ref": "NamedStyles"
        },
        "footers": {
          "description": "Output only. The footers in the document, keyed by footer ID. Legacy field: Instead, use Document.tabs.documentTab.footers, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
          "additionalProperties": {
            "$ref": "Footer"
          },
          "type": "object"
        },
        "suggestionsViewMode": {
          "description": "Output only. The suggestions view mode applied to the document. Note: When editing a document, changes must be based on a document with SUGGESTIONS_INLINE.",
          "type": "string",
          "enum": [
            "DEFAULT_FOR_CURRENT_ACCESS",
            "SUGGESTIONS_INLINE",
            "PREVIEW_SUGGESTIONS_ACCEPTED",
            "PREVIEW_WITHOUT_SUGGESTIONS"
          ],
          "enumDescriptions": [
            "The SuggestionsViewMode applied to the returned document depends on the user's current access level. If the user only has view access, PREVIEW_WITHOUT_SUGGESTIONS is applied. Otherwise, SUGGESTIONS_INLINE is applied. This is the default suggestions view mode.",
            "The returned document has suggestions inline. Suggested changes will be differentiated from base content within the document. Requests to retrieve a document using this mode will return a 403 error if the user does not have permission to view suggested changes.",
            "The returned document is a preview with all suggested changes accepted. Requests to retrieve a document using this mode will return a 403 error if the user does not have permission to view suggested changes.",
            "The returned document is a preview with all suggested changes rejected if there are any suggestions in the document."
          ]
        },
        "footnotes": {
          "description": "Output only. The footnotes in the document, keyed by footnote ID. Legacy field: Instead, use Document.tabs.documentTab.footnotes, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
          "additionalProperties": {
            "$ref": "Footnote"
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "RgbColor": {
      "id": "RgbColor",
      "type": "object",
      "properties": {
        "red": {
          "format": "float",
          "type": "number",
          "description": "The red component of the color, from 0.0 to 1.0."
        },
        "green": {
          "description": "The green component of the color, from 0.0 to 1.0.",
          "type": "number",
          "format": "float"
        },
        "blue": {
          "type": "number",
          "format": "float",
          "description": "The blue component of the color, from 0.0 to 1.0."
        }
      },
      "description": "An RGB color."
    },
    "CropProperties": {
      "id": "CropProperties",
      "description": "The crop properties of an image. The crop rectangle is represented using fractional offsets from the original content's 4 edges. - If the offset is in the interval (0, 1), the corresponding edge of crop rectangle is positioned inside of the image's original bounding rectangle. - If the offset is negative or greater than 1, the corresponding edge of crop rectangle is positioned outside of the image's original bounding rectangle. - If all offsets and rotation angles are 0, the image is not cropped.",
      "properties": {
        "angle": {
          "format": "float",
          "type": "number",
          "description": "The clockwise rotation angle of the crop rectangle around its center, in radians. Rotation is applied after the offsets."
        },
        "offsetBottom": {
          "type": "number",
          "format": "float",
          "description": "The offset specifies how far inwards the bottom edge of the crop rectangle is from the bottom edge of the original content as a fraction of the original content's height."
        },
        "offsetTop": {
          "type": "number",
          "format": "float",
          "description": "The offset specifies how far inwards the top edge of the crop rectangle is from the top edge of the original content as a fraction of the original content's height."
        },
        "offsetRight": {
          "description": "The offset specifies how far inwards the right edge of the crop rectangle is from the right edge of the original content as a fraction of the original content's width.",
          "format": "float",
          "type": "number"
        },
        "offsetLeft": {
          "type": "number",
          "description": "The offset specifies how far inwards the left edge of the crop rectangle is from the left edge of the original content as a fraction of the original content's width.",
          "format": "float"
        }
      },
      "type": "object"
    },
    "DeletePositionedObjectRequest": {
      "properties": {
        "objectId": {
          "description": "The ID of the positioned object to delete.",
          "type": "string"
        },
        "tabId": {
          "description": "The tab that the positioned object to delete is in. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document.",
          "type": "string"
        }
      },
      "id": "DeletePositionedObjectRequest",
      "type": "object",
      "description": "Deletes a PositionedObject from the document."
    },
    "InlineObjectProperties": {
      "description": "Properties of an InlineObject.",
      "properties": {
        "embeddedObject": {
          "$ref": "EmbeddedObject",
          "description": "The embedded object of this inline object."
        }
      },
      "id": "InlineObjectProperties",
      "type": "object"
    },
    "StructuralElement": {
      "type": "object",
      "properties": {
        "paragraph": {
          "$ref": "Paragraph",
          "description": "A paragraph type of structural element."
        },
        "startIndex": {
          "description": "The zero-based start index of this structural element, in UTF-16 code units.",
          "type": "integer",
          "format": "int32"
        },
        "tableOfContents": {
          "description": "A table of contents type of structural element.",
          "$ref": "TableOfContents"
        },
        "table": {
          "description": "A table type of structural element.",
          "$ref": "Table"
        },
        "endIndex": {
          "type": "integer",
          "description": "The zero-based end index of this structural element, exclusive, in UTF-16 code units.",
          "format": "int32"
        },
        "sectionBreak": {
          "$ref": "SectionBreak",
          "description": "A section break type of structural element."
        }
      },
      "id": "StructuralElement",
      "description": "A StructuralElement describes content that provides structure to the document."
    },
    "SuggestedDocumentStyle": {
      "description": "A suggested change to the DocumentStyle.",
      "type": "object",
      "id": "SuggestedDocumentStyle",
      "properties": {
        "documentStyle": {
          "$ref": "DocumentStyle",
          "description": "A DocumentStyle that only includes the changes made in this suggestion. This can be used along with the document_style_suggestion_state to see which fields have changed and their new values."
        },
        "documentStyleSuggestionState": {
          "description": "A mask that indicates which of the fields on the base DocumentStyle have been changed in this suggestion.",
          "$ref": "DocumentStyleSuggestionState"
        }
      }
    },
    "BulletSuggestionState": {
      "type": "object",
      "properties": {
        "textStyleSuggestionState": {
          "$ref": "TextStyleSuggestionState",
          "description": "A mask that indicates which of the fields in text style have been changed in this suggestion."
        },
        "nestingLevelSuggested": {
          "description": "Indicates if there was a suggested change to the nesting_level.",
          "type": "boolean"
        },
        "listIdSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to the list_id."
        }
      },
      "id": "BulletSuggestionState",
      "description": "A mask that indicates which of the fields on the base Bullet have been changed in this suggestion. For any field set to true, there's a new suggested value."
    },
    "ObjectReferences": {
      "type": "object",
      "description": "A collection of object IDs.",
      "id": "ObjectReferences",
      "properties": {
        "objectIds": {
          "items": {
            "type": "string"
          },
          "description": "The object IDs.",
          "type": "array"
        }
      }
    },
    "ReplaceAllTextResponse": {
      "properties": {
        "occurrencesChanged": {
          "format": "int32",
          "description": "The number of occurrences changed by replacing all text.",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "The result of replacing text.",
      "id": "ReplaceAllTextResponse"
    },
    "CreateFooterRequest": {
      "properties": {
        "type": {
          "enumDescriptions": [
            "The header/footer type is unspecified.",
            "A default header/footer."
          ],
          "type": "string",
          "enum": [
            "HEADER_FOOTER_TYPE_UNSPECIFIED",
            "DEFAULT"
          ],
          "description": "The type of footer to create."
        },
        "sectionBreakLocation": {
          "description": "The location of the SectionBreak immediately preceding the section whose SectionStyle this footer should belong to. If this is unset or refers to the first section break in the document, the footer applies to the document style.",
          "$ref": "Location"
        }
      },
      "id": "CreateFooterRequest",
      "description": "Creates a Footer. The new footer is applied to the SectionStyle at the location of the SectionBreak if specified, otherwise it is applied to the DocumentStyle. If a footer of the specified type already exists, a 400 bad request error is returned.",
      "type": "object"
    },
    "TextStyle": {
      "description": "Represents the styling that can be applied to text. Inherited text styles are represented as unset fields in this message. A text style's parent depends on where the text style is defined: * The TextStyle of text in a Paragraph inherits from the paragraph's corresponding named style type. * The TextStyle on a named style inherits from the normal text named style. * The TextStyle of the normal text named style inherits from the default text style in the Docs editor. * The TextStyle on a Paragraph element that's contained in a table may inherit its text style from the table style. If the text style does not inherit from a parent, unsetting fields will revert the style to a value matching the defaults in the Docs editor.",
      "id": "TextStyle",
      "properties": {
        "strikethrough": {
          "type": "boolean",
          "description": "Whether or not the text is struck through."
        },
        "smallCaps": {
          "description": "Whether or not the text is in small capital letters.",
          "type": "boolean"
        },
        "weightedFontFamily": {
          "description": "The font family and rendered weight of the text. If an update request specifies values for both `weighted_font_family` and `bold`, the `weighted_font_family` is applied first, then `bold`. If `weighted_font_family#weight` is not set, it defaults to `400`. If `weighted_font_family` is set, then `weighted_font_family#font_family` must also be set with a non-empty value. Otherwise, a 400 bad request error is returned.",
          "$ref": "WeightedFontFamily"
        },
        "link": {
          "$ref": "Link",
          "description": "The hyperlink destination of the text. If unset, there's no link. Links are not inherited from parent text. Changing the link in an update request causes some other changes to the text style of the range: * When setting a link, the text foreground color will be updated to the default link color and the text will be underlined. If these fields are modified in the same request, those values will be used instead of the link defaults. * Setting a link on a text range that overlaps with an existing link will also update the existing link to point to the new URL. * Links are not settable on newline characters. As a result, setting a link on a text range that crosses a paragraph boundary, such as `\"ABC\\n123\"`, will separate the newline character(s) into their own text runs. The link will be applied separately to the runs before and after the newline. * Removing a link will update the text style of the range to match the style of the preceding text (or the default text styles if the preceding text is another link) unless different styles are being set in the same request."
        },
        "baselineOffset": {
          "enumDescriptions": [
            "The text's baseline offset is inherited from the parent.",
            "The text is not vertically offset.",
            "The text is vertically offset upwards (superscript).",
            "The text is vertically offset downwards (subscript)."
          ],
          "description": "The text's vertical offset from its normal position. Text with `SUPERSCRIPT` or `SUBSCRIPT` baseline offsets is automatically rendered in a smaller font size, computed based on the `font_size` field. Changes in this field don't affect the `font_size`.",
          "type": "string",
          "enum": [
            "BASELINE_OFFSET_UNSPECIFIED",
            "NONE",
            "SUPERSCRIPT",
            "SUBSCRIPT"
          ]
        },
        "bold": {
          "description": "Whether or not the text is rendered as bold.",
          "type": "boolean"
        },
        "fontSize": {
          "$ref": "Dimension",
          "description": "The size of the text's font."
        },
        "italic": {
          "description": "Whether or not the text is italicized.",
          "type": "boolean"
        },
        "underline": {
          "type": "boolean",
          "description": "Whether or not the text is underlined."
        },
        "backgroundColor": {
          "$ref": "OptionalColor",
          "description": "The background color of the text. If set, the color is either an RGB color or transparent, depending on the `color` field."
        },
        "foregroundColor": {
          "description": "The foreground color of the text. If set, the color is either an RGB color or transparent, depending on the `color` field.",
          "$ref": "OptionalColor"
        }
      },
      "type": "object"
    },
    "TableCell": {
      "description": "The contents and style of a cell in a Table.",
      "properties": {
        "suggestedDeletionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content."
        },
        "endIndex": {
          "type": "integer",
          "description": "The zero-based end index of this cell, exclusive, in UTF-16 code units.",
          "format": "int32"
        },
        "tableCellStyle": {
          "description": "The style of the cell.",
          "$ref": "TableCellStyle"
        },
        "content": {
          "items": {
            "$ref": "StructuralElement"
          },
          "description": "The content of the cell.",
          "type": "array"
        },
        "suggestedInsertionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The suggested insertion IDs. A TableCell may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion."
        },
        "startIndex": {
          "type": "integer",
          "description": "The zero-based start index of this cell, in UTF-16 code units.",
          "format": "int32"
        },
        "suggestedTableCellStyleChanges": {
          "type": "object",
          "description": "The suggested changes to the table cell style, keyed by suggestion ID.",
          "additionalProperties": {
            "$ref": "SuggestedTableCellStyle"
          }
        }
      },
      "id": "TableCell",
      "type": "object"
    },
    "Shading": {
      "properties": {
        "backgroundColor": {
          "$ref": "OptionalColor",
          "description": "The background color of this paragraph shading."
        }
      },
      "id": "Shading",
      "description": "The shading of a paragraph.",
      "type": "object"
    },
    "UnmergeTableCellsRequest": {
      "properties": {
        "tableRange": {
          "$ref": "TableRange",
          "description": "The table range specifying which cells of the table to unmerge. All merged cells in this range will be unmerged, and cells that are already unmerged will not be affected. If the range has no merged cells, the request will do nothing. If there is text in any of the merged cells, the text will remain in the \"head\" cell of the resulting block of unmerged cells. The \"head\" cell is the upper-left cell when the content direction is from left to right, and the upper-right otherwise."
        }
      },
      "type": "object",
      "id": "UnmergeTableCellsRequest",
      "description": "Unmerges cells in a Table."
    },
    "UpdateParagraphStyleRequest": {
      "id": "UpdateParagraphStyleRequest",
      "properties": {
        "paragraphStyle": {
          "$ref": "ParagraphStyle",
          "description": "The styles to set on the paragraphs. Certain paragraph style changes may cause other changes in order to mirror the behavior of the Docs editor. See the documentation of ParagraphStyle for more information."
        },
        "fields": {
          "description": "The fields that should be updated. At least one field must be specified. The root `paragraph_style` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example, to update the paragraph style's alignment property, set `fields` to `\"alignment\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "range": {
          "description": "The range overlapping the paragraphs to style.",
          "$ref": "Range"
        }
      },
      "type": "object",
      "description": "Update the styling of all paragraphs that overlap with the given range."
    },
    "InsertInlineImageResponse": {
      "id": "InsertInlineImageResponse",
      "type": "object",
      "description": "The result of inserting an inline image.",
      "properties": {
        "objectId": {
          "type": "string",
          "description": "The ID of the created InlineObject."
        }
      }
    },
    "Range": {
      "description": "Specifies a contiguous range of text.",
      "id": "Range",
      "type": "object",
      "properties": {
        "startIndex": {
          "type": "integer",
          "format": "int32",
          "description": "The zero-based start index of this range, in UTF-16 code units. In all current uses, a start index must be provided. This field is an Int32Value in order to accommodate future use cases with open-ended ranges."
        },
        "segmentId": {
          "type": "string",
          "description": "The ID of the header, footer, or footnote that this range is contained in. An empty segment ID signifies the document's body."
        },
        "tabId": {
          "description": "The tab that contains this range. When omitted, the request applies to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document.",
          "type": "string"
        },
        "endIndex": {
          "description": "The zero-based end index of this range, exclusive, in UTF-16 code units. In all current uses, an end index must be provided. This field is an Int32Value in order to accommodate future use cases with open-ended ranges.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "Dimension": {
      "type": "object",
      "properties": {
        "unit": {
          "type": "string",
          "enum": [
            "UNIT_UNSPECIFIED",
            "PT"
          ],
          "description": "The units for magnitude.",
          "enumDescriptions": [
            "The units are unknown.",
            "A point, 1/72 of an inch."
          ]
        },
        "magnitude": {
          "format": "double",
          "description": "The magnitude.",
          "type": "number"
        }
      },
      "id": "Dimension",
      "description": "A magnitude in a single direction in the specified units."
    },
    "UpdateDocumentTabPropertiesRequest": {
      "properties": {
        "tabProperties": {
          "$ref": "TabProperties",
          "description": "The tab properties to update."
        },
        "fields": {
          "description": "The fields that should be updated. At least one field must be specified. The root `tab_properties` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field.",
          "type": "string",
          "format": "google-fieldmask"
        }
      },
      "description": "Update the properties of a document tab.",
      "id": "UpdateDocumentTabPropertiesRequest",
      "type": "object"
    },
    "BatchUpdateDocumentRequest": {
      "properties": {
        "requests": {
          "items": {
            "$ref": "Request"
          },
          "description": "A list of updates to apply to the document.",
          "type": "array"
        },
        "writeControl": {
          "$ref": "WriteControl",
          "description": "Provides control over how write requests are executed."
        }
      },
      "id": "BatchUpdateDocumentRequest",
      "description": "Request message for BatchUpdateDocument.",
      "type": "object"
    },
    "Equation": {
      "type": "object",
      "description": "A ParagraphElement representing an equation.",
      "id": "Equation",
      "properties": {
        "suggestedDeletionIds": {
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "suggestedInsertionIds": {
          "type": "array",
          "description": "The suggested insertion IDs. An Equation may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "TableRow": {
      "type": "object",
      "description": "The contents and style of a row in a Table.",
      "properties": {
        "suggestedInsertionIds": {
          "items": {
            "type": "string"
          },
          "description": "The suggested insertion IDs. A TableRow may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.",
          "type": "array"
        },
        "tableRowStyle": {
          "$ref": "TableRowStyle",
          "description": "The style of the table row."
        },
        "endIndex": {
          "description": "The zero-based end index of this row, exclusive, in UTF-16 code units.",
          "format": "int32",
          "type": "integer"
        },
        "startIndex": {
          "description": "The zero-based start index of this row, in UTF-16 code units.",
          "format": "int32",
          "type": "integer"
        },
        "tableCells": {
          "items": {
            "$ref": "TableCell"
          },
          "type": "array",
          "description": "The contents and style of each cell in this row. It's possible for a table to be non-rectangular, so some rows may have a different number of cells than other rows in the same table."
        },
        "suggestedTableRowStyleChanges": {
          "description": "The suggested style changes to this row, keyed by suggestion ID.",
          "type": "object",
          "additionalProperties": {
            "$ref": "SuggestedTableRowStyle"
          }
        },
        "suggestedDeletionIds": {
          "type": "array",
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "TableRow"
    },
    "WeightedFontFamily": {
      "properties": {
        "weight": {
          "format": "int32",
          "type": "integer",
          "description": "The weight of the font. This field can have any value that's a multiple of `100` between `100` and `900`, inclusive. This range corresponds to the numerical values described in the CSS 2.1 Specification, [section 15.6](https://www.w3.org/TR/CSS21/fonts.html#font-boldness), with non-numerical values disallowed. The default value is `400` (\"normal\"). The font weight makes up just one component of the rendered font weight. A combination of the `weight` and the text style's resolved `bold` value determine the rendered weight, after accounting for inheritance: * If the text is bold and the weight is less than `400`, the rendered weight is 400. * If the text is bold and the weight is greater than or equal to `400` but is less than `700`, the rendered weight is `700`. * If the weight is greater than or equal to `700`, the rendered weight is equal to the weight. * If the text is not bold, the rendered weight is equal to the weight."
        },
        "fontFamily": {
          "description": "The font family of the text. The font family can be any font from the Font menu in Docs or from [Google Fonts] (https://fonts.google.com/). If the font name is unrecognized, the text is rendered in `Arial`.",
          "type": "string"
        }
      },
      "id": "WeightedFontFamily",
      "description": "Represents a font family and weight of text.",
      "type": "object"
    },
    "DocumentTab": {
      "id": "DocumentTab",
      "properties": {
        "headers": {
          "additionalProperties": {
            "$ref": "Header"
          },
          "type": "object",
          "description": "The headers in the document tab, keyed by header ID."
        },
        "suggestedDocumentStyleChanges": {
          "additionalProperties": {
            "$ref": "SuggestedDocumentStyle"
          },
          "type": "object",
          "description": "The suggested changes to the style of the document tab, keyed by suggestion ID."
        },
        "inlineObjects": {
          "additionalProperties": {
            "$ref": "InlineObject"
          },
          "type": "object",
          "description": "The inline objects in the document tab, keyed by object ID."
        },
        "body": {
          "description": "The main body of the document tab.",
          "$ref": "Body"
        },
        "suggestedNamedStylesChanges": {
          "type": "object",
          "additionalProperties": {
            "$ref": "SuggestedNamedStyles"
          },
          "description": "The suggested changes to the named styles of the document tab, keyed by suggestion ID."
        },
        "footers": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Footer"
          },
          "description": "The footers in the document tab, keyed by footer ID."
        },
        "namedStyles": {
          "description": "The named styles of the document tab.",
          "$ref": "NamedStyles"
        },
        "documentStyle": {
          "description": "The style of the document tab.",
          "$ref": "DocumentStyle"
        },
        "footnotes": {
          "description": "The footnotes in the document tab, keyed by footnote ID.",
          "type": "object",
          "additionalProperties": {
            "$ref": "Footnote"
          }
        },
        "positionedObjects": {
          "type": "object",
          "description": "The positioned objects in the document tab, keyed by object ID.",
          "additionalProperties": {
            "$ref": "PositionedObject"
          }
        },
        "lists": {
          "additionalProperties": {
            "$ref": "List"
          },
          "description": "The lists in the document tab, keyed by list ID.",
          "type": "object"
        },
        "namedRanges": {
          "description": "The named ranges in the document tab, keyed by name.",
          "additionalProperties": {
            "$ref": "NamedRanges"
          },
          "type": "object"
        }
      },
      "description": "A tab with document contents.",
      "type": "object"
    },
    "PageBreak": {
      "type": "object",
      "description": "A ParagraphElement representing a page break. A page break makes the subsequent text start at the top of the next page.",
      "properties": {
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The text style of this PageBreak. Similar to text content, like text runs and footnote references, the text style of a page break can affect content layout as well as the styling of text inserted next to it."
        },
        "suggestedTextStyleChanges": {
          "type": "object",
          "description": "The suggested text style changes to this PageBreak, keyed by suggestion ID.",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          }
        },
        "suggestedInsertionIds": {
          "type": "array",
          "description": "The suggested insertion IDs. A PageBreak may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.",
          "items": {
            "type": "string"
          }
        },
        "suggestedDeletionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content."
        }
      },
      "id": "PageBreak"
    },
    "SheetsChartReference": {
      "description": "A reference to a linked chart embedded from Google Sheets.",
      "type": "object",
      "properties": {
        "spreadsheetId": {
          "description": "The ID of the Google Sheets spreadsheet that contains the source chart.",
          "type": "string"
        },
        "chartId": {
          "description": "The ID of the specific chart in the Google Sheets spreadsheet that's embedded.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "SheetsChartReference"
    },
    "TabProperties": {
      "properties": {
        "iconEmoji": {
          "description": "Optional. The emoji icon displayed with the tab. A valid emoji icon is represented by a non-empty Unicode string. Any set of characters that don't represent a single emoji is invalid. If an emoji is invalid, a 400 bad request error is returned. If this value is unset or empty, the tab will display the default tab icon.",
          "type": "string"
        },
        "nestingLevel": {
          "description": "Output only. The depth of the tab within the document. Root-level tabs start at 0.",
          "type": "integer",
          "format": "int32"
        },
        "parentTabId": {
          "type": "string",
          "description": "Optional. The ID of the parent tab. Empty when the current tab is a root-level tab, which means it doesn't have any parents."
        },
        "tabId": {
          "description": "The immutable ID of the tab.",
          "type": "string"
        },
        "index": {
          "description": "The zero-based index of the tab within the parent.",
          "format": "int32",
          "type": "integer"
        },
        "title": {
          "description": "The user-visible name of the tab.",
          "type": "string"
        }
      },
      "description": "Properties of a tab.",
      "id": "TabProperties",
      "type": "object"
    },
    "SuggestedTableCellStyle": {
      "description": "A suggested change to a TableCellStyle.",
      "id": "SuggestedTableCellStyle",
      "properties": {
        "tableCellStyle": {
          "description": "A TableCellStyle that only includes the changes made in this suggestion. This can be used along with the table_cell_style_suggestion_state to see which fields have changed and their new values.",
          "$ref": "TableCellStyle"
        },
        "tableCellStyleSuggestionState": {
          "description": "A mask that indicates which of the fields on the base TableCellStyle have been changed in this suggestion.",
          "$ref": "TableCellStyleSuggestionState"
        }
      },
      "type": "object"
    },
    "InlineObjectElement": {
      "description": "A ParagraphElement that contains an InlineObject.",
      "properties": {
        "textStyle": {
          "description": "The text style of this InlineObjectElement. Similar to text content, like text runs and footnote references, the text style of an inline object element can affect content layout as well as the styling of text inserted next to it.",
          "$ref": "TextStyle"
        },
        "suggestedTextStyleChanges": {
          "description": "The suggested text style changes to this InlineObject, keyed by suggestion ID.",
          "type": "object",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          }
        },
        "suggestedInsertionIds": {
          "description": "The suggested insertion IDs. An InlineObjectElement may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "suggestedDeletionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content."
        },
        "inlineObjectId": {
          "description": "The ID of the InlineObject this element contains.",
          "type": "string"
        }
      },
      "id": "InlineObjectElement",
      "type": "object"
    },
    "SuggestedParagraphStyle": {
      "id": "SuggestedParagraphStyle",
      "type": "object",
      "description": "A suggested change to a ParagraphStyle.",
      "properties": {
        "paragraphStyleSuggestionState": {
          "description": "A mask that indicates which of the fields on the base ParagraphStyle have been changed in this suggestion.",
          "$ref": "ParagraphStyleSuggestionState"
        },
        "paragraphStyle": {
          "description": "A ParagraphStyle that only includes the changes made in this suggestion. This can be used along with the paragraph_style_suggestion_state to see which fields have changed and their new values.",
          "$ref": "ParagraphStyle"
        }
      }
    },
    "TableOfContents": {
      "properties": {
        "suggestedInsertionIds": {
          "type": "array",
          "description": "The suggested insertion IDs. A TableOfContents may have multiple insertion IDs if it is a nested suggested change. If empty, then this is not a suggested insertion.",
          "items": {
            "type": "string"
          }
        },
        "suggestedDeletionIds": {
          "items": {
            "type": "string"
          },
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "type": "array"
        },
        "content": {
          "items": {
            "$ref": "StructuralElement"
          },
          "description": "The content of the table of contents.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "TableOfContents",
      "description": "A StructuralElement representing a table of contents."
    },
    "CreateNamedRangeRequest": {
      "properties": {
        "name": {
          "description": "The name of the NamedRange. Names do not need to be unique. Names must be at least 1 character and no more than 256 characters, measured in UTF-16 code units.",
          "type": "string"
        },
        "range": {
          "description": "The range to apply the name to.",
          "$ref": "Range"
        }
      },
      "id": "CreateNamedRangeRequest",
      "description": "Creates a NamedRange referencing the given range.",
      "type": "object"
    },
    "ImagePropertiesSuggestionState": {
      "id": "ImagePropertiesSuggestionState",
      "type": "object",
      "properties": {
        "sourceUriSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to source_uri."
        },
        "contentUriSuggested": {
          "description": "Indicates if there was a suggested change to content_uri.",
          "type": "boolean"
        },
        "transparencySuggested": {
          "description": "Indicates if there was a suggested change to transparency.",
          "type": "boolean"
        },
        "angleSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to angle."
        },
        "contrastSuggested": {
          "description": "Indicates if there was a suggested change to contrast.",
          "type": "boolean"
        },
        "brightnessSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to brightness."
        },
        "cropPropertiesSuggestionState": {
          "description": "A mask that indicates which of the fields in crop_properties have been changed in this suggestion.",
          "$ref": "CropPropertiesSuggestionState"
        }
      },
      "description": "A mask that indicates which of the fields on the base ImageProperties have been changed in this suggestion. For any field set to true, there's a new suggested value."
    },
    "SuggestedInlineObjectProperties": {
      "description": "A suggested change to InlineObjectProperties.",
      "properties": {
        "inlineObjectProperties": {
          "description": "An InlineObjectProperties that only includes the changes made in this suggestion. This can be used along with the inline_object_properties_suggestion_state to see which fields have changed and their new values.",
          "$ref": "InlineObjectProperties"
        },
        "inlineObjectPropertiesSuggestionState": {
          "$ref": "InlineObjectPropertiesSuggestionState",
          "description": "A mask that indicates which of the fields on the base InlineObjectProperties have been changed in this suggestion."
        }
      },
      "type": "object",
      "id": "SuggestedInlineObjectProperties"
    },
    "DateElementPropertiesSuggestionState": {
      "description": "A mask that indicates which of the fields on the base DateElementProperties have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "id": "DateElementPropertiesSuggestionState",
      "type": "object",
      "properties": {
        "timeZoneIdSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to time_zone_id."
        },
        "dateFormatSuggested": {
          "description": "Indicates if there was a suggested change to date_format.",
          "type": "boolean"
        },
        "timeFormatSuggested": {
          "description": "Indicates if there was a suggested change to time_format.",
          "type": "boolean"
        },
        "localeSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to locale."
        },
        "timestampSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to timestamp."
        }
      }
    },
    "PositionedObject": {
      "id": "PositionedObject",
      "description": "An object that's tethered to a Paragraph and positioned relative to the beginning of the paragraph. A PositionedObject contains an EmbeddedObject such as an image.",
      "type": "object",
      "properties": {
        "positionedObjectProperties": {
          "$ref": "PositionedObjectProperties",
          "description": "The properties of this positioned object."
        },
        "suggestedPositionedObjectPropertiesChanges": {
          "type": "object",
          "additionalProperties": {
            "$ref": "SuggestedPositionedObjectProperties"
          },
          "description": "The suggested changes to the positioned object properties, keyed by suggestion ID."
        },
        "suggestedInsertionId": {
          "description": "The suggested insertion ID. If empty, then this is not a suggested insertion.",
          "type": "string"
        },
        "objectId": {
          "description": "The ID of this positioned object.",
          "type": "string"
        },
        "suggestedDeletionIds": {
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "DeleteTableColumnRequest": {
      "properties": {
        "tableCellLocation": {
          "$ref": "TableCellLocation",
          "description": "The reference table cell location from which the column will be deleted. The column this cell spans will be deleted. If this is a merged cell that spans multiple columns, all columns that the cell spans will be deleted. If no columns remain in the table after this deletion, the whole table is deleted."
        }
      },
      "id": "DeleteTableColumnRequest",
      "description": "Deletes a column from a table.",
      "type": "object"
    },
    "SuggestedPositionedObjectProperties": {
      "id": "SuggestedPositionedObjectProperties",
      "description": "A suggested change to PositionedObjectProperties.",
      "type": "object",
      "properties": {
        "positionedObjectPropertiesSuggestionState": {
          "$ref": "PositionedObjectPropertiesSuggestionState",
          "description": "A mask that indicates which of the fields on the base PositionedObjectProperties have been changed in this suggestion."
        },
        "positionedObjectProperties": {
          "description": "A PositionedObjectProperties that only includes the changes made in this suggestion. This can be used along with the positioned_object_properties_suggestion_state to see which fields have changed and their new values.",
          "$ref": "PositionedObjectProperties"
        }
      }
    },
    "EmbeddedObjectBorderSuggestionState": {
      "description": "A mask that indicates which of the fields on the base EmbeddedObjectBorder have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "type": "object",
      "properties": {
        "propertyStateSuggested": {
          "description": "Indicates if there was a suggested change to property_state.",
          "type": "boolean"
        },
        "dashStyleSuggested": {
          "description": "Indicates if there was a suggested change to dash_style.",
          "type": "boolean"
        },
        "widthSuggested": {
          "description": "Indicates if there was a suggested change to width.",
          "type": "boolean"
        },
        "colorSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to color."
        }
      },
      "id": "EmbeddedObjectBorderSuggestionState"
    },
    "Link": {
      "description": "A reference to another portion of a document or an external URL resource.",
      "properties": {
        "bookmarkId": {
          "type": "string",
          "description": "The ID of a bookmark in this document. Legacy field: Instead, set includeTabsContent to `true` and use Link.bookmark for read and write operations. This field is only returned when includeTabsContent is set to `false` in documents containing a single tab and links to a bookmark within the singular tab. Otherwise, Link.bookmark is returned. If this field is used in a write request, the bookmark is considered to be from the tab ID specified in the request. If a tab ID is not specified in the request, it is considered to be from the first tab in the document."
        },
        "bookmark": {
          "$ref": "BookmarkLink",
          "description": "A bookmark in this document. In documents containing a single tab, links to bookmarks within the singular tab continue to return Link.bookmarkId when the includeTabsContent parameter is set to `false` or unset. Otherwise, this field is returned."
        },
        "heading": {
          "$ref": "HeadingLink",
          "description": "A heading in this document. In documents containing a single tab, links to headings within the singular tab continue to return Link.headingId when the includeTabsContent parameter is set to `false` or unset. Otherwise, this field is returned."
        },
        "headingId": {
          "type": "string",
          "description": "The ID of a heading in this document. Legacy field: Instead, set includeTabsContent to `true` and use Link.heading for read and write operations. This field is only returned when includeTabsContent is set to `false` in documents containing a single tab and links to a heading within the singular tab. Otherwise, Link.heading is returned. If this field is used in a write request, the heading is considered to be from the tab ID specified in the request. If a tab ID is not specified in the request, it is considered to be from the first tab in the document."
        },
        "tabId": {
          "description": "The ID of a tab in this document.",
          "type": "string"
        },
        "url": {
          "type": "string",
          "description": "An external URL."
        }
      },
      "id": "Link",
      "type": "object"
    },
    "OptionalColor": {
      "type": "object",
      "properties": {
        "color": {
          "description": "If set, this will be used as an opaque color. If unset, this represents a transparent color.",
          "$ref": "Color"
        }
      },
      "id": "OptionalColor",
      "description": "A color that can either be fully opaque or fully transparent."
    },
    "NamedRanges": {
      "id": "NamedRanges",
      "type": "object",
      "description": "A collection of all the NamedRanges in the document that share a given name.",
      "properties": {
        "namedRanges": {
          "type": "array",
          "description": "The NamedRanges that share the same name.",
          "items": {
            "$ref": "NamedRange"
          }
        },
        "name": {
          "description": "The name that all the named ranges share.",
          "type": "string"
        }
      }
    },
    "UpdateTableColumnPropertiesRequest": {
      "description": "Updates the TableColumnProperties of columns in a table.",
      "type": "object",
      "id": "UpdateTableColumnPropertiesRequest",
      "properties": {
        "tableColumnProperties": {
          "$ref": "TableColumnProperties",
          "description": "The table column properties to update. If the value of `table_column_properties#width` is less than 5 points (5/72 inch), a 400 bad request error is returned."
        },
        "fields": {
          "description": "The fields that should be updated. At least one field must be specified. The root `tableColumnProperties` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the column width, set `fields` to `\"width\"`.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "columnIndices": {
          "type": "array",
          "description": "The list of zero-based column indices whose property should be updated. If no indices are specified, all columns will be updated.",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        },
        "tableStartLocation": {
          "$ref": "Location",
          "description": "The location where the table starts in the document."
        }
      }
    },
    "BookmarkLink": {
      "id": "BookmarkLink",
      "description": "A reference to a bookmark in this document.",
      "type": "object",
      "properties": {
        "tabId": {
          "description": "The ID of the tab containing this bookmark.",
          "type": "string"
        },
        "id": {
          "description": "The ID of a bookmark in this document.",
          "type": "string"
        }
      }
    },
    "Paragraph": {
      "id": "Paragraph",
      "properties": {
        "suggestedPositionedObjectIds": {
          "additionalProperties": {
            "$ref": "ObjectReferences"
          },
          "description": "The IDs of the positioned objects suggested to be attached to this paragraph, keyed by suggestion ID.",
          "type": "object"
        },
        "bullet": {
          "description": "The bullet for this paragraph. If not present, the paragraph does not belong to a list.",
          "$ref": "Bullet"
        },
        "suggestedBulletChanges": {
          "additionalProperties": {
            "$ref": "SuggestedBullet"
          },
          "type": "object",
          "description": "The suggested changes to this paragraph's bullet."
        },
        "elements": {
          "description": "The content of the paragraph, broken down into its component parts.",
          "items": {
            "$ref": "ParagraphElement"
          },
          "type": "array"
        },
        "positionedObjectIds": {
          "description": "The IDs of the positioned objects tethered to this paragraph.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "suggestedParagraphStyleChanges": {
          "additionalProperties": {
            "$ref": "SuggestedParagraphStyle"
          },
          "description": "The suggested paragraph style changes to this paragraph, keyed by suggestion ID.",
          "type": "object"
        },
        "paragraphStyle": {
          "$ref": "ParagraphStyle",
          "description": "The style of this paragraph."
        }
      },
      "description": "A StructuralElement representing a paragraph. A paragraph is a range of content that's terminated with a newline character.",
      "type": "object"
    },
    "PositionedObjectPositioningSuggestionState": {
      "id": "PositionedObjectPositioningSuggestionState",
      "description": "A mask that indicates which of the fields on the base PositionedObjectPositioning have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "properties": {
        "leftOffsetSuggested": {
          "description": "Indicates if there was a suggested change to left_offset.",
          "type": "boolean"
        },
        "topOffsetSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to top_offset."
        },
        "layoutSuggested": {
          "description": "Indicates if there was a suggested change to layout.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "ReplaceAllTextRequest": {
      "description": "Replaces all instances of text matching a criteria with replace text.",
      "type": "object",
      "id": "ReplaceAllTextRequest",
      "properties": {
        "containsText": {
          "$ref": "SubstringMatchCriteria",
          "description": "Finds text in the document matching this substring."
        },
        "replaceText": {
          "type": "string",
          "description": "The text that will replace the matched text."
        },
        "tabsCriteria": {
          "description": "Optional. The criteria used to specify in which tabs the replacement occurs. When omitted, the replacement applies to all tabs. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the replacement applies to the singular tab. In a document containing multiple tabs: - If provided, the replacement applies to the specified tabs. - If omitted, the replacement applies to all tabs.",
          "$ref": "TabsCriteria"
        }
      }
    },
    "Background": {
      "properties": {
        "color": {
          "$ref": "OptionalColor",
          "description": "The background color."
        }
      },
      "type": "object",
      "description": "Represents the background of a document.",
      "id": "Background"
    },
    "DocumentFormat": {
      "type": "object",
      "description": "Represents document-level format settings.",
      "properties": {
        "documentMode": {
          "description": "Whether the document has pages or is pageless.",
          "enumDescriptions": [
            "The document mode is unspecified.",
            "The document has pages.",
            "The document is pageless."
          ],
          "type": "string",
          "enum": [
            "DOCUMENT_MODE_UNSPECIFIED",
            "PAGES",
            "PAGELESS"
          ]
        }
      },
      "id": "DocumentFormat"
    },
    "ParagraphElement": {
      "id": "ParagraphElement",
      "type": "object",
      "properties": {
        "columnBreak": {
          "$ref": "ColumnBreak",
          "description": "A column break paragraph element."
        },
        "endIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The zero-base end index of this paragraph element, exclusive, in UTF-16 code units."
        },
        "inlineObjectElement": {
          "$ref": "InlineObjectElement",
          "description": "An inline object paragraph element."
        },
        "dateElement": {
          "description": "A paragraph element that represents a date.",
          "$ref": "DateElement"
        },
        "footnoteReference": {
          "description": "A footnote reference paragraph element.",
          "$ref": "FootnoteReference"
        },
        "startIndex": {
          "type": "integer",
          "format": "int32",
          "description": "The zero-based start index of this paragraph element, in UTF-16 code units."
        },
        "textRun": {
          "description": "A text run paragraph element.",
          "$ref": "TextRun"
        },
        "equation": {
          "$ref": "Equation",
          "description": "An equation paragraph element."
        },
        "person": {
          "description": "A paragraph element that links to a person or email address.",
          "$ref": "Person"
        },
        "autoText": {
          "$ref": "AutoText",
          "description": "An auto text paragraph element."
        },
        "horizontalRule": {
          "$ref": "HorizontalRule",
          "description": "A horizontal rule paragraph element."
        },
        "pageBreak": {
          "description": "A page break paragraph element.",
          "$ref": "PageBreak"
        },
        "richLink": {
          "description": "A paragraph element that links to a Google resource (such as a file in Google Drive, a YouTube video, or a Calendar event.)",
          "$ref": "RichLink"
        }
      },
      "description": "A ParagraphElement describes content within a Paragraph."
    },
    "TextRun": {
      "id": "TextRun",
      "type": "object",
      "properties": {
        "content": {
          "description": "The text of this run. Any non-text elements in the run are replaced with the Unicode character U+E907.",
          "type": "string"
        },
        "suggestedTextStyleChanges": {
          "type": "object",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "description": "The suggested text style changes to this run, keyed by suggestion ID."
        },
        "suggestedInsertionIds": {
          "description": "The suggested insertion IDs. A TextRun may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "suggestedDeletionIds": {
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The text style of this run."
        }
      },
      "description": "A ParagraphElement that represents a run of text that all has the same styling."
    },
    "InsertPageBreakRequest": {
      "type": "object",
      "description": "Inserts a page break followed by a newline at the specified location.",
      "properties": {
        "endOfSegmentLocation": {
          "description": "Inserts the page break at the end of the document body. Page breaks cannot be inserted inside a footnote, header or footer. Since page breaks can only be inserted inside the body, the segment ID field must be empty.",
          "$ref": "EndOfSegmentLocation"
        },
        "location": {
          "description": "Inserts the page break at a specific index in the document. The page break must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between the table and its preceding paragraph). Page breaks cannot be inserted inside a table, equation, footnote, header or footer. Since page breaks can only be inserted inside the body, the segment ID field must be empty.",
          "$ref": "Location"
        }
      },
      "id": "InsertPageBreakRequest"
    },
    "PositionedObjectPositioning": {
      "description": "The positioning of a PositionedObject. The positioned object is positioned relative to the beginning of the Paragraph it's tethered to.",
      "id": "PositionedObjectPositioning",
      "properties": {
        "layout": {
          "type": "string",
          "enum": [
            "POSITIONED_OBJECT_LAYOUT_UNSPECIFIED",
            "WRAP_TEXT",
            "BREAK_LEFT",
            "BREAK_RIGHT",
            "BREAK_LEFT_RIGHT",
            "IN_FRONT_OF_TEXT",
            "BEHIND_TEXT"
          ],
          "enumDescriptions": [
            "The layout is unspecified.",
            "The text wraps around the positioned object.",
            "Breaks text such that the positioned object is on the left and text is on the right.",
            "Breaks text such that the positioned object is on the right and text is on the left.",
            "Breaks text such that there's no text on the left or right of the positioned object.",
            "The positioned object is in front of the text.",
            "The positioned object is behind the text."
          ],
          "description": "The layout of this positioned object."
        },
        "leftOffset": {
          "description": "The offset of the left edge of the positioned object relative to the beginning of the Paragraph it's tethered to. The exact positioning of the object can depend on other content in the document and the document's styling.",
          "$ref": "Dimension"
        },
        "topOffset": {
          "description": "The offset of the top edge of the positioned object relative to the beginning of the Paragraph it's tethered to. The exact positioning of the object can depend on other content in the document and the document's styling.",
          "$ref": "Dimension"
        }
      },
      "type": "object"
    },
    "Bullet": {
      "id": "Bullet",
      "type": "object",
      "description": "Describes the bullet of a paragraph.",
      "properties": {
        "nestingLevel": {
          "type": "integer",
          "format": "int32",
          "description": "The nesting level of this paragraph in the list."
        },
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The paragraph-specific text style applied to this bullet."
        },
        "listId": {
          "type": "string",
          "description": "The ID of the list this paragraph belongs to."
        }
      }
    },
    "TableRange": {
      "description": "A table range represents a reference to a subset of a table. It's important to note that the cells specified by a table range do not necessarily form a rectangle. For example, let's say we have a 3 x 3 table where all the cells of the last row are merged together. The table looks like this: [ ] A table range with table cell location = (table_start_location, row = 0, column = 0), row span = 3 and column span = 2 specifies the following cells: x x [ x x x ]",
      "properties": {
        "tableCellLocation": {
          "description": "The cell location where the table range starts.",
          "$ref": "TableCellLocation"
        },
        "columnSpan": {
          "format": "int32",
          "type": "integer",
          "description": "The column span of the table range."
        },
        "rowSpan": {
          "description": "The row span of the table range.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "TableRange"
    },
    "TableColumnProperties": {
      "properties": {
        "width": {
          "$ref": "Dimension",
          "description": "The width of the column. Set when the column's `width_type` is FIXED_WIDTH."
        },
        "widthType": {
          "enumDescriptions": [
            "The column width type is unspecified.",
            "The column width is evenly distributed among the other evenly distributed columns. The width of the column is automatically determined and will have an equal portion of the width remaining for the table after accounting for all columns with specified widths.",
            "A fixed column width. The width property contains the column's width."
          ],
          "type": "string",
          "enum": [
            "WIDTH_TYPE_UNSPECIFIED",
            "EVENLY_DISTRIBUTED",
            "FIXED_WIDTH"
          ],
          "description": "The width type of the column."
        }
      },
      "description": "The properties of a column in a table.",
      "id": "TableColumnProperties",
      "type": "object"
    },
    "TableRowStyle": {
      "id": "TableRowStyle",
      "properties": {
        "tableHeader": {
          "type": "boolean",
          "description": "Whether the row is a table header."
        },
        "minRowHeight": {
          "$ref": "Dimension",
          "description": "The minimum height of the row. The row will be rendered in the Docs editor at a height equal to or greater than this value in order to show all the content in the row's cells."
        },
        "preventOverflow": {
          "type": "boolean",
          "description": "Whether the row cannot overflow across page or column boundaries."
        }
      },
      "description": "Styles that apply to a table row.",
      "type": "object"
    },
    "InsertInlineImageRequest": {
      "id": "InsertInlineImageRequest",
      "description": "Inserts an InlineObject containing an image at the given location.",
      "type": "object",
      "properties": {
        "endOfSegmentLocation": {
          "$ref": "EndOfSegmentLocation",
          "description": "Inserts the text at the end of a header, footer or the document body. Inline images cannot be inserted inside a footnote."
        },
        "objectSize": {
          "$ref": "Size",
          "description": "The size that the image should appear as in the document. This property is optional and the final size of the image in the document is determined by the following rules: * If neither width nor height is specified, then a default size of the image is calculated based on its resolution. * If one dimension is specified then the other dimension is calculated to preserve the aspect ratio of the image. * If both width and height are specified, the image is scaled to fit within the provided dimensions while maintaining its aspect ratio."
        },
        "location": {
          "description": "Inserts the image at a specific index in the document. The image must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between the table and its preceding paragraph). Inline images cannot be inserted inside a footnote or equation.",
          "$ref": "Location"
        },
        "uri": {
          "description": "The image URI. The image is fetched once at insertion time and a copy is stored for display inside the document. Images must be less than 50MB in size, cannot exceed 25 megapixels, and must be in one of PNG, JPEG, or GIF format. The provided URI must be publicly accessible and at most 2 kB in length. The URI itself is saved with the image, and exposed via the ImageProperties.content_uri field.",
          "type": "string"
        }
      }
    },
    "InlineObjectPropertiesSuggestionState": {
      "id": "InlineObjectPropertiesSuggestionState",
      "description": "A mask that indicates which of the fields on the base InlineObjectProperties have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "properties": {
        "embeddedObjectSuggestionState": {
          "$ref": "EmbeddedObjectSuggestionState",
          "description": "A mask that indicates which of the fields in embedded_object have been changed in this suggestion."
        }
      },
      "type": "object"
    },
    "InsertDateRequest": {
      "type": "object",
      "id": "InsertDateRequest",
      "description": "Inserts a date at the specified location.",
      "properties": {
        "dateElementProperties": {
          "$ref": "DateElementProperties",
          "description": "The properties of the date to insert."
        },
        "endOfSegmentLocation": {
          "description": "Inserts the date at the end of the given header, footer or document body.",
          "$ref": "EndOfSegmentLocation"
        },
        "location": {
          "description": "Inserts the date at a specific index in the document. The date must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between an existing table and its preceding paragraph).",
          "$ref": "Location"
        }
      }
    },
    "TableRowStyleSuggestionState": {
      "id": "TableRowStyleSuggestionState",
      "description": "A mask that indicates which of the fields on the base TableRowStyle have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "type": "object",
      "properties": {
        "minRowHeightSuggested": {
          "description": "Indicates if there was a suggested change to min_row_height.",
          "type": "boolean"
        }
      }
    },
    "ParagraphBorder": {
      "type": "object",
      "properties": {
        "width": {
          "description": "The width of the border.",
          "$ref": "Dimension"
        },
        "dashStyle": {
          "description": "The dash style of the border.",
          "type": "string",
          "enum": [
            "DASH_STYLE_UNSPECIFIED",
            "SOLID",
            "DOT",
            "DASH"
          ],
          "enumDescriptions": [
            "Unspecified dash style.",
            "Solid line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'solid'. This is the default dash style.",
            "Dotted line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dot'.",
            "Dashed line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dash'."
          ]
        },
        "padding": {
          "$ref": "Dimension",
          "description": "The padding of the border."
        },
        "color": {
          "description": "The color of the border.",
          "$ref": "OptionalColor"
        }
      },
      "id": "ParagraphBorder",
      "description": "A border around a paragraph."
    },
    "EmbeddedObject": {
      "type": "object",
      "properties": {
        "embeddedObjectBorder": {
          "description": "The border of the embedded object.",
          "$ref": "EmbeddedObjectBorder"
        },
        "marginBottom": {
          "description": "The bottom margin of the embedded object.",
          "$ref": "Dimension"
        },
        "marginTop": {
          "description": "The top margin of the embedded object.",
          "$ref": "Dimension"
        },
        "title": {
          "description": "The title of the embedded object. The `title` and `description` are both combined to display alt text.",
          "type": "string"
        },
        "marginLeft": {
          "description": "The left margin of the embedded object.",
          "$ref": "Dimension"
        },
        "linkedContentReference": {
          "description": "A reference to the external linked source content. For example, it contains a reference to the source Google Sheets chart when the embedded object is a linked chart. If unset, then the embedded object is not linked.",
          "$ref": "LinkedContentReference"
        },
        "embeddedDrawingProperties": {
          "description": "The properties of an embedded drawing.",
          "$ref": "EmbeddedDrawingProperties"
        },
        "description": {
          "type": "string",
          "description": "The description of the embedded object. The `title` and `description` are both combined to display alt text."
        },
        "size": {
          "description": "The visible size of the image after cropping.",
          "$ref": "Size"
        },
        "imageProperties": {
          "description": "The properties of an image.",
          "$ref": "ImageProperties"
        },
        "marginRight": {
          "description": "The right margin of the embedded object.",
          "$ref": "Dimension"
        }
      },
      "description": "An embedded object in the document.",
      "id": "EmbeddedObject"
    },
    "InsertInlineSheetsChartResponse": {
      "type": "object",
      "id": "InsertInlineSheetsChartResponse",
      "description": "The result of inserting an embedded Google Sheets chart.",
      "properties": {
        "objectId": {
          "type": "string",
          "description": "The object ID of the inserted chart."
        }
      }
    },
    "SizeSuggestionState": {
      "type": "object",
      "description": "A mask that indicates which of the fields on the base Size have been changed in this suggestion. For any field set to true, the Size has a new suggested value.",
      "properties": {
        "heightSuggested": {
          "description": "Indicates if there was a suggested change to height.",
          "type": "boolean"
        },
        "widthSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to width."
        }
      },
      "id": "SizeSuggestionState"
    },
    "ReplaceImageRequest": {
      "type": "object",
      "description": "Replaces an existing image with a new image. Replacing an image removes some image effects from the existing image in order to mirror the behavior of the Docs editor.",
      "properties": {
        "imageReplaceMethod": {
          "enumDescriptions": [
            "Unspecified image replace method. This value must not be used.",
            "Scales and centers the image to fill the bounds of the original image. The image may be cropped in order to fill the original image's bounds. The rendered size of the image will be the same as the original image."
          ],
          "type": "string",
          "enum": [
            "IMAGE_REPLACE_METHOD_UNSPECIFIED",
            "CENTER_CROP"
          ],
          "description": "The replacement method."
        },
        "imageObjectId": {
          "description": "The ID of the existing image that will be replaced. The ID can be retrieved from the response of a get request.",
          "type": "string"
        },
        "uri": {
          "description": "The URI of the new image. The image is fetched once at insertion time and a copy is stored for display inside the document. Images must be less than 50MB, cannot exceed 25 megapixels, and must be in PNG, JPEG, or GIF format. The provided URI can't surpass 2 KB in length. The URI is saved with the image, and exposed through the ImageProperties.source_uri field.",
          "type": "string"
        },
        "tabId": {
          "type": "string",
          "description": "The tab that the image to be replaced is in. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document."
        }
      },
      "id": "ReplaceImageRequest"
    },
    "PinTableHeaderRowsRequest": {
      "properties": {
        "tableStartLocation": {
          "$ref": "Location",
          "description": "The location where the table starts in the document."
        },
        "pinnedHeaderRowsCount": {
          "description": "The number of table rows to pin, where 0 implies that all rows are unpinned.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "PinTableHeaderRowsRequest",
      "description": "Updates the number of pinned table header rows in a table."
    },
    "Request": {
      "description": "A single update to apply to a document.",
      "type": "object",
      "properties": {
        "insertTableRow": {
          "description": "Inserts an empty row into a table.",
          "$ref": "InsertTableRowRequest"
        },
        "insertPerson": {
          "$ref": "InsertPersonRequest",
          "description": "Inserts a person mention."
        },
        "replaceAllText": {
[...]
