{
  "mtlsRootUrl": "https://docs.mtls.googleapis.com/",
  "revision": "20260928",
  "discoveryVersion": "v1",
  "resources": {
    "documents": {
      "methods": {
        "get": {
          "id": "docs.documents.get",
          "parameters": {
            "includeTabsContent": {
              "description": "Whether to populate the `Document.tabs` field instead of the text content fields like `body` and `documentStyle` on `Document`. - When `true`: Document content populates in the `Document.tabs` field instead of the text content fields in `Document`. - When `false`: The content of the document's first tab populates the content fields in `Document` excluding `Document.tabs`. If a document has only one tab, then that tab is used to populate the document content. `Document.tabs` will be empty. If you use a field mask that references the `Document.tabs` field (or any subfield), the API implicitly treats the request as if you set `include_tabs_content` to `true`.",
              "type": "boolean",
              "location": "query"
            },
            "suggestionsViewMode": {
              "enum": [
                "DEFAULT_FOR_CURRENT_ACCESS",
                "SUGGESTIONS_INLINE",
                "PREVIEW_SUGGESTIONS_ACCEPTED",
                "PREVIEW_WITHOUT_SUGGESTIONS"
              ],
              "location": "query",
              "enumDescriptions": [
                "The SuggestionsViewMode applied to the returned document depends on the user's current access level. If the user only has view access, PREVIEW_WITHOUT_SUGGESTIONS is applied. Otherwise, SUGGESTIONS_INLINE is applied. This is the default suggestions view mode.",
                "The returned document has suggestions inline. Suggested changes will be differentiated from base content within the document. Requests to retrieve a document using this mode will return a 403 error if the user does not have permission to view suggested changes.",
                "The returned document is a preview with all suggested changes accepted. Requests to retrieve a document using this mode will return a 403 error if the user does not have permission to view suggested changes.",
                "The returned document is a preview with all suggested changes rejected if there are any suggestions in the document."
              ],
              "type": "string",
              "description": "The suggestions view mode to apply to the document. This allows viewing the document with all suggestions inline, accepted or rejected. If one is not specified, DEFAULT_FOR_CURRENT_ACCESS is used."
            },
            "documentId": {
              "type": "string",
              "required": true,
              "description": "The ID of the document to retrieve.",
              "location": "path"
            },
            "commentsViewMode": {
              "enum": [
                "COMMENTS_VIEW_MODE_UNSPECIFIED",
                "COMMENTS_VIEW_MODE_DEFAULT_FOR_CURRENT_ACCESS",
                "COMMENTS_VIEW_MODE_OMITTED",
                "COMMENTS_VIEW_MODE_INCLUDED"
              ],
              "type": "string",
              "enumDescriptions": [
                "The CommentsViewMode is unspecified. COMMENTS_VIEW_MODE_OMITTED is applied.",
                "The CommentsViewMode applied to the returned document depends on the user's current access level. If the user only has view access, COMMENTS_VIEW_MODE_OMITTED is applied. Otherwise, COMMENTS_VIEW_MODE_INCLUDED is applied.",
                "The returned document has comments omitted.",
                "The returned document has comments included. Requests to retrieve a document using this mode will return a 403 error if the user does not have permission to view comments. When set, suggestions_view_mode must also be set to SUGGESTIONS_INLINE. Returns a 400 bad request error otherwise."
              ],
              "description": "The comments view mode to apply to the document. This allows viewing the document with comments omitted or included. If one is not specified, COMMENTS_VIEW_MODE_OMITTED is used. If you set comments_view_mode to any value, you must also set include_tabs_content to `true` or use a field mask that references the Document.tabs field (or any subfield). If you set comments_view_mode to COMMENTS_VIEW_MODE_INCLUDED, you must also explicitly set suggestions_view_mode to SUGGESTIONS_INLINE. If you set comments_view_mode to COMMENTS_VIEW_MODE_INCLUDED or COMMENTS_VIEW_MODE_DEFAULT_FOR_CURRENT_ACCESS, you may not set suggestions_view_mode to PREVIEW_WITHOUT_SUGGESTIONS or PREVIEW_SUGGESTIONS_ACCEPTED. [Developer Preview](https://developers.google.com/workspace/preview).",
              "location": "query"
            }
          },
          "flatPath": "v1/documents/{documentId}",
          "parameterOrder": [
            "documentId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/documents",
            "https://www.googleapis.com/auth/documents.readonly",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "description": "Gets the latest version of the specified document.",
          "response": {
            "$ref": "Document"
          },
          "path": "v1/documents/{documentId}",
          "httpMethod": "GET"
        },
        "batchUpdate": {
          "parameters": {
            "documentId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the document to update.",
              "required": true
            }
          },
          "parameterOrder": [
            "documentId"
          ],
          "description": "Applies one or more updates to the document. Each request is validated before being applied. If any request is not valid, then the entire request will fail and nothing will be applied. Some requests have replies to give you some information about how they are applied. Other requests do not need to return information; these each return an empty reply. The order of replies matches that of the requests. For example, suppose you call batchUpdate with four updates, and only the third one returns information. The response would have two empty replies, the reply to the third request, and another empty reply, in that order. Because other users may be editing the document, the document might not exactly reflect your changes: your changes may be altered with respect to collaborator changes. If there are no collaborators, the document should reflect your changes. In any case, the updates in your request are guaranteed to be applied together atomically.",
          "id": "docs.documents.batchUpdate",
          "scopes": [
            "https://www.googleapis.com/auth/documents",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "flatPath": "v1/documents/{documentId}:batchUpdate",
          "path": "v1/documents/{documentId}:batchUpdate",
          "response": {
            "$ref": "BatchUpdateDocumentResponse"
          },
          "request": {
            "$ref": "BatchUpdateDocumentRequest"
          },
          "httpMethod": "POST"
        },
        "create": {
          "response": {
            "$ref": "Document"
          },
          "description": "Creates a blank document using the title given in the request. Other fields in the request, including any provided content, are ignored. Returns the created document.",
          "parameters": {},
          "httpMethod": "POST",
          "flatPath": "v1/documents",
          "path": "v1/documents",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/documents",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "request": {
            "$ref": "Document"
          },
          "id": "docs.documents.create"
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "schemas": {
    "InlineObjectPropertiesSuggestionState": {
      "type": "object",
      "description": "A mask that indicates which of the fields on the base InlineObjectProperties have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "properties": {
        "embeddedObjectSuggestionState": {
          "$ref": "EmbeddedObjectSuggestionState",
          "description": "A mask that indicates which of the fields in embedded_object have been changed in this suggestion."
        }
      },
      "id": "InlineObjectPropertiesSuggestionState"
    },
    "ReplaceNamedRangeContentRequest": {
      "properties": {
        "namedRangeId": {
          "type": "string",
          "description": "The ID of the named range whose content will be replaced. If there is no named range with the given ID a 400 bad request error is returned."
        },
        "tabsCriteria": {
          "$ref": "TabsCriteria",
          "description": "Optional. The criteria used to specify in which tabs the replacement occurs. When omitted, the replacement applies to all tabs. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the replacement applies to the singular tab. In a document containing multiple tabs: - If provided, the replacement applies to the specified tabs. - If omitted, the replacement applies to all tabs."
        },
        "namedRangeName": {
          "description": "The name of the NamedRanges whose content will be replaced. If there are multiple named ranges with the given name, then the content of each one will be replaced. If there are no named ranges with the given name, then the request will be a no-op.",
          "type": "string"
        },
        "text": {
          "type": "string",
          "description": "Replaces the content of the specified named range(s) with the given text."
        }
      },
      "description": "Replaces the contents of the specified NamedRange or NamedRanges with the given replacement content. Note that an individual NamedRange may consist of multiple discontinuous ranges. In this case, only the content in the first range will be replaced. The other ranges and their content will be deleted. In cases where replacing or deleting any ranges would result in an invalid document structure, a 400 bad request error is returned.",
      "type": "object",
      "id": "ReplaceNamedRangeContentRequest"
    },
    "Post": {
      "id": "Post",
      "properties": {
        "fromCopiedDocument": {
          "description": "Output only. Whether the post is from a copied document. This field cannot be set directly by callers.",
          "type": "boolean"
        },
        "fromImportedDocument": {
          "type": "boolean",
          "description": "Output only. Whether the post is from an imported document. This field cannot be set directly by callers."
        },
        "deleted": {
          "description": "Output only. Whether the post is deleted. If `true`, content and author fields will be empty.",
          "type": "boolean"
        },
        "commentAction": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "No action change in this post.",
            "This post resolves the thread.",
            "This post reopens the thread."
          ],
          "description": "Optional. The action type for comment posts.",
          "enum": [
            "COMMENT_ACTION_TYPE_UNSPECIFIED",
            "NO_COMMENT_ACTION_CHANGE",
            "RESOLVE",
            "REOPEN"
          ]
        },
        "assigneeEmail": {
          "description": "Optional. The email of the user who is being newly assigned to the thread as part of this post. Returns a 400 bad request error if: - The parent thread is a CommentThread whose headPost does not have an assignee. - The parent thread is a SuggestionThread. - commentAction is specified as `RESOLVE` or `REOPEN`. - `assigneeEmail` exceeds 2048 UTF-8 code units.",
          "type": "string"
        },
        "content": {
          "type": "string",
          "description": "The content of the post. Required to be non-empty if commentAction is not `RESOLVE` or `REOPEN`. This text content will be handled similarly to comments created in the Docs editor. It will have similar behaviors for formatting, notifications, etc. May not exceed 2048 UTF-8 code units."
        },
        "createTime": {
          "description": "Output only. The time the post was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "author": {
          "description": "Output only. The user who created the post.",
          "$ref": "PostAuthor"
        },
        "suggestionAction": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "No action change in this post.",
            "This post accepts the suggestion.",
            "This post rejects the suggestion."
          ],
          "description": "Output only. The action type for suggestion posts.",
          "enum": [
            "SUGGESTION_ACTION_TYPE_UNSPECIFIED",
            "NO_SUGGESTION_ACTION_CHANGE",
            "ACCEPT",
            "REJECT"
          ]
        },
        "contentHtml": {
          "type": "string",
          "description": "Output only. The content of the post as HTML."
        },
        "fromDocumentComparison": {
          "description": "Output only. Whether the post is from a document comparison. This field cannot be set directly by callers.",
          "type": "boolean"
        },
        "updateTime": {
          "description": "Output only. The time the post was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "postId": {
          "type": "string",
          "description": "Output only. The unique ID of the post."
        }
      },
      "type": "object",
      "description": "Represents a single post in a comment or suggestion thread. [Developer Preview](https://developers.google.com/workspace/preview)."
    },
    "UnmergeTableCellsRequest": {
      "properties": {
        "tableRange": {
          "description": "The table range specifying which cells of the table to unmerge. All merged cells in this range will be unmerged, and cells that are already unmerged will not be affected. If the range has no merged cells, the request will do nothing. If there is text in any of the merged cells, the text will remain in the \"head\" cell of the resulting block of unmerged cells. The \"head\" cell is the upper-left cell when the content direction is from left to right, and the upper-right otherwise.",
          "$ref": "TableRange"
        }
      },
      "description": "Unmerges cells in a Table.",
      "id": "UnmergeTableCellsRequest",
      "type": "object"
    },
    "Footer": {
      "properties": {
        "content": {
          "type": "array",
          "description": "The contents of the footer. The indexes for a footer's content begin at zero.",
          "items": {
            "$ref": "StructuralElement"
          }
        },
        "footerId": {
          "type": "string",
          "description": "The ID of the footer."
        }
      },
      "description": "A document footer.",
      "type": "object",
      "id": "Footer"
    },
    "SuggestedDateElementProperties": {
      "id": "SuggestedDateElementProperties",
      "description": "A suggested change to a DateElementProperties.",
      "properties": {
        "dateElementProperties": {
          "description": "DateElementProperties that only includes the changes made in this suggestion. This can be used along with the date_element_properties_suggestion_state to see which fields have changed and their new values.",
          "$ref": "DateElementProperties"
        },
        "dateElementPropertiesSuggestionState": {
          "description": "A mask that indicates which of the fields on the base DateElementProperties have been changed in this suggestion.",
          "$ref": "DateElementPropertiesSuggestionState"
        }
      },
      "type": "object"
    },
    "Body": {
      "description": "The document body. The body typically contains the full document contents except for headers, footers, and footnotes.",
      "properties": {
        "content": {
          "type": "array",
          "items": {
            "$ref": "StructuralElement"
          },
          "description": "The contents of the body. The indexes for the body's content begin at zero."
        }
      },
      "type": "object",
      "id": "Body"
    },
    "DeleteTableColumnRequest": {
      "properties": {
        "tableCellLocation": {
          "$ref": "TableCellLocation",
          "description": "The reference table cell location from which the column will be deleted. The column this cell spans will be deleted. If this is a merged cell that spans multiple columns, all columns that the cell spans will be deleted. If no columns remain in the table after this deletion, the whole table is deleted."
        }
      },
      "description": "Deletes a column from a table.",
      "type": "object",
      "id": "DeleteTableColumnRequest"
    },
    "ListPropertiesSuggestionState": {
      "properties": {
        "nestingLevelsSuggestionStates": {
          "description": "A mask that indicates which of the fields on the corresponding NestingLevel in nesting_levels have been changed in this suggestion. The nesting level suggestion states are returned in ascending order of the nesting level with the least nested returned first.",
          "type": "array",
          "items": {
            "$ref": "NestingLevelSuggestionState"
          }
        }
      },
      "type": "object",
      "description": "A mask that indicates which of the fields on the base ListProperties have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "id": "ListPropertiesSuggestionState"
    },
    "RgbColor": {
      "id": "RgbColor",
      "properties": {
        "blue": {
          "format": "float",
          "type": "number",
          "description": "The blue component of the color, from 0.0 to 1.0."
        },
        "green": {
          "type": "number",
          "format": "float",
          "description": "The green component of the color, from 0.0 to 1.0."
        },
        "red": {
          "type": "number",
          "format": "float",
          "description": "The red component of the color, from 0.0 to 1.0."
        }
      },
      "description": "An RGB color.",
      "type": "object"
    },
    "CommentAnchor": {
      "type": "object",
      "description": "One or more locations in the document that are tied to CommentThreads with the same anchorId. Note: Multiple anchors may refer to the same location. [Developer Preview](https://developers.google.com/workspace/preview).",
      "properties": {
        "anchorId": {
          "description": "The ID of the comment anchor.",
          "type": "string"
        },
        "ranges": {
          "items": {
            "$ref": "Range"
          },
          "type": "array",
          "description": "A collection of Ranges in the document which are tied to this anchor."
        }
      },
      "id": "CommentAnchor"
    },
    "Header": {
      "properties": {
        "headerId": {
          "description": "The ID of the header.",
          "type": "string"
        },
        "content": {
          "type": "array",
          "items": {
            "$ref": "StructuralElement"
          },
          "description": "The contents of the header. The indexes for a header's content begin at zero."
        }
      },
      "id": "Header",
      "description": "A document header.",
      "type": "object"
    },
    "BookmarkLink": {
      "id": "BookmarkLink",
      "type": "object",
      "description": "A reference to a bookmark in this document.",
      "properties": {
        "tabId": {
          "type": "string",
          "description": "The ID of the tab containing this bookmark."
        },
        "id": {
          "description": "The ID of a bookmark in this document.",
          "type": "string"
        }
      }
    },
    "SuggestedPositionedObjectProperties": {
      "description": "A suggested change to PositionedObjectProperties.",
      "type": "object",
      "id": "SuggestedPositionedObjectProperties",
      "properties": {
        "positionedObjectProperties": {
          "description": "A PositionedObjectProperties that only includes the changes made in this suggestion. This can be used along with the positioned_object_properties_suggestion_state to see which fields have changed and their new values.",
          "$ref": "PositionedObjectProperties"
        },
        "positionedObjectPropertiesSuggestionState": {
          "$ref": "PositionedObjectPropertiesSuggestionState",
          "description": "A mask that indicates which of the fields on the base PositionedObjectProperties have been changed in this suggestion."
        }
      }
    },
    "InsertCommentRequest": {
      "description": "Inserts a CommentThread into the document. [Developer Preview](https://developers.google.com/workspace/preview).",
      "id": "InsertCommentRequest",
      "properties": {
        "assigneeEmailAddress": {
          "type": "string",
          "description": "Optional. The email address of the assignee of the comment. Leave empty for a non-assigned comment. May not exceed 2048 UTF-8 code units."
        },
        "content": {
          "type": "string",
          "description": "The text of the comment, as plain text. This text content will be handled similarly to comments created in the Docs editor. It will have similar behaviors for formatting, notifications, etc. This field cannot be empty, and must not exceed 2048 UTF-8 code units."
        },
        "range": {
          "$ref": "Range",
          "description": "The Range in the document that is tied to this comment."
        }
      },
      "type": "object"
    },
    "CreateFootnoteRequest": {
      "id": "CreateFootnoteRequest",
      "properties": {
        "location": {
          "description": "Inserts the footnote reference at a specific index in the document. The footnote reference must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between the table and its preceding paragraph). Footnote references cannot be inserted inside an equation, header, footer or footnote. Since footnote references can only be inserted in the body, the segment ID field must be empty.",
          "$ref": "Location"
        },
        "endOfSegmentLocation": {
          "description": "Inserts the footnote reference at the end of the document body. Footnote references cannot be inserted inside a header, footer or footnote. Since footnote references can only be inserted in the body, the segment ID field must be empty.",
          "$ref": "EndOfSegmentLocation"
        }
      },
      "type": "object",
      "description": "Creates a Footnote segment and inserts a new FootnoteReference to it at the given location. The new Footnote segment will contain a space followed by a newline character."
    },
    "HorizontalRule": {
      "description": "A ParagraphElement representing a horizontal line.",
      "type": "object",
      "properties": {
        "suggestedDeletionIds": {
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "suggestedTextStyleChanges": {
          "description": "The suggested text style changes to this HorizontalRule, keyed by suggestion ID.",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "type": "object"
        },
        "textStyle": {
          "description": "The text style of this HorizontalRule. Similar to text content, like text runs and footnote references, the text style of a horizontal rule can affect content layout as well as the styling of text inserted next to it.",
          "$ref": "TextStyle"
        },
        "suggestedInsertionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The suggested insertion IDs. A HorizontalRule may have multiple insertion IDs if it is a nested suggested change. If empty, then this is not a suggested insertion."
        }
      },
      "id": "HorizontalRule"
    },
    "TableRowStyleSuggestionState": {
      "id": "TableRowStyleSuggestionState",
      "description": "A mask that indicates which of the fields on the base TableRowStyle have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "type": "object",
      "properties": {
        "minRowHeightSuggested": {
          "description": "Indicates if there was a suggested change to min_row_height.",
          "type": "boolean"
        }
      }
    },
    "ObjectReferences": {
      "id": "ObjectReferences",
      "properties": {
        "objectIds": {
          "description": "The object IDs.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "A collection of object IDs."
    },
    "InlineObject": {
      "description": "An object that appears inline with text. An InlineObject contains an EmbeddedObject such as an image.",
      "type": "object",
      "properties": {
        "suggestedInsertionId": {
          "type": "string",
          "description": "The suggested insertion ID. If empty, then this is not a suggested insertion."
        },
        "inlineObjectProperties": {
          "$ref": "InlineObjectProperties",
          "description": "The properties of this inline object."
        },
        "objectId": {
          "type": "string",
          "description": "The ID of this inline object. Can be used to update an object’s properties."
        },
        "suggestedInlineObjectPropertiesChanges": {
          "type": "object",
          "description": "The suggested changes to the inline object properties, keyed by suggestion ID.",
          "additionalProperties": {
            "$ref": "SuggestedInlineObjectProperties"
          }
        },
        "suggestedDeletionIds": {
          "items": {
            "type": "string"
          },
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "type": "array"
        }
      },
      "id": "InlineObject"
    },
    "Person": {
      "description": "A person or email address mentioned in a document. These mentions behave as a single, immutable element containing the person's name or email address.",
      "id": "Person",
      "type": "object",
      "properties": {
        "personProperties": {
          "$ref": "PersonProperties",
          "description": "Output only. The properties of this Person. This field is always present.",
          "readOnly": true
        },
        "suggestedTextStyleChanges": {
          "description": "The suggested text style changes to this Person, keyed by suggestion ID.",
          "type": "object",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          }
        },
        "suggestedDeletionIds": {
          "description": "IDs for suggestions that remove this person link from the document. A Person might have multiple deletion IDs if, for example, multiple users suggest deleting it. If empty, then this person link isn't suggested for deletion.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "personId": {
          "description": "Output only. The unique ID of this link.",
          "readOnly": true,
          "type": "string"
        },
        "suggestedInsertionIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "IDs for suggestions that insert this person link into the document. A Person might have multiple insertion IDs if it's a nested suggested change (a suggestion within a suggestion made by a different user, for example). If empty, then this person link isn't a suggested insertion."
        },
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The text style of this Person."
        }
      }
    },
    "TextRun": {
      "description": "A ParagraphElement that represents a run of text that all has the same styling.",
      "type": "object",
      "id": "TextRun",
      "properties": {
        "suggestedDeletionIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content."
        },
        "textStyle": {
          "description": "The text style of this run.",
          "$ref": "TextStyle"
        },
        "suggestedInsertionIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The suggested insertion IDs. A TextRun may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion."
        },
        "content": {
          "description": "The text of this run. Any non-text elements in the run are replaced with the Unicode character U+E907.",
          "type": "string"
        },
        "suggestedTextStyleChanges": {
          "description": "The suggested text style changes to this run, keyed by suggestion ID.",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "type": "object"
        }
      }
    },
    "PositionedObjectProperties": {
      "id": "PositionedObjectProperties",
      "type": "object",
      "description": "Properties of a PositionedObject.",
      "properties": {
        "positioning": {
          "$ref": "PositionedObjectPositioning",
          "description": "The positioning of this positioned object relative to the newline of the Paragraph that references this positioned object."
        },
        "embeddedObject": {
          "description": "The embedded object of this positioned object.",
          "$ref": "EmbeddedObject"
        }
      }
    },
    "PositionedObject": {
      "type": "object",
      "description": "An object that's tethered to a Paragraph and positioned relative to the beginning of the paragraph. A PositionedObject contains an EmbeddedObject such as an image.",
      "properties": {
        "suggestedInsertionId": {
          "description": "The suggested insertion ID. If empty, then this is not a suggested insertion.",
          "type": "string"
        },
        "positionedObjectProperties": {
          "description": "The properties of this positioned object.",
          "$ref": "PositionedObjectProperties"
        },
        "suggestedPositionedObjectPropertiesChanges": {
          "additionalProperties": {
            "$ref": "SuggestedPositionedObjectProperties"
          },
          "description": "The suggested changes to the positioned object properties, keyed by suggestion ID.",
          "type": "object"
        },
        "objectId": {
          "description": "The ID of this positioned object.",
          "type": "string"
        },
        "suggestedDeletionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content."
        }
      },
      "id": "PositionedObject"
    },
    "DeleteTabRequest": {
      "properties": {
        "tabId": {
          "description": "The ID of the tab to delete.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "DeleteTabRequest",
      "description": "Deletes a tab. If the tab has child tabs, they are deleted as well."
    },
    "InsertTableColumnRequest": {
      "properties": {
        "insertRight": {
          "description": "Whether to insert new column to the right of the reference cell location. - `True`: insert to the right. - `False`: insert to the left.",
          "type": "boolean"
        },
        "tableCellLocation": {
          "description": "The reference table cell location from which columns will be inserted. A new column will be inserted to the left (or right) of the column where the reference cell is. If the reference cell is a merged cell, a new column will be inserted to the left (or right) of the merged cell.",
          "$ref": "TableCellLocation"
        }
      },
      "id": "InsertTableColumnRequest",
      "type": "object",
      "description": "Inserts an empty column into a table."
    },
    "SuggestedParagraphStyle": {
      "properties": {
        "paragraphStyleSuggestionState": {
          "$ref": "ParagraphStyleSuggestionState",
          "description": "A mask that indicates which of the fields on the base ParagraphStyle have been changed in this suggestion."
        },
        "paragraphStyle": {
          "$ref": "ParagraphStyle",
          "description": "A ParagraphStyle that only includes the changes made in this suggestion. This can be used along with the paragraph_style_suggestion_state to see which fields have changed and their new values."
        }
      },
      "type": "object",
      "description": "A suggested change to a ParagraphStyle.",
      "id": "SuggestedParagraphStyle"
    },
    "DropdownDefinitionPropertiesSuggestionState": {
      "id": "DropdownDefinitionPropertiesSuggestionState",
      "properties": {
        "optionsSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to options."
        },
        "titleSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to title."
        }
      },
      "description": "A mask that indicates which of the fields on the base DropdownDefinitionProperties have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "type": "object"
    },
    "InsertTextRequest": {
      "properties": {
        "endOfSegmentLocation": {
          "description": "Inserts the text at the end of a header, footer, footnote or the document body.",
          "$ref": "EndOfSegmentLocation"
        },
        "text": {
          "type": "string",
          "description": "The text to be inserted. Inserting a newline character will implicitly create a new Paragraph at that index. The paragraph style of the new paragraph will be copied from the paragraph at the current insertion index, including lists and bullets. Text styles for inserted text will be determined automatically, generally preserving the styling of neighboring text. In most cases, the text style for the inserted text will match the text immediately before the insertion index. Some control characters (U+0000-U+0008, U+000C-U+001F) and characters from the Unicode Basic Multilingual Plane Private Use Area (U+E000-U+F8FF) will be stripped out of the inserted text."
        },
        "location": {
          "description": "Inserts the text at a specific index in the document. Text must be inserted inside the bounds of an existing Paragraph. For instance, text cannot be inserted at a table's start index (i.e. between the table and its preceding paragraph). The text must be inserted in the preceding paragraph.",
          "$ref": "Location"
        }
      },
      "description": "Inserts text at the specified location.",
      "type": "object",
      "id": "InsertTextRequest"
    },
    "TableCellStyleSuggestionState": {
      "description": "A mask that indicates which of the fields on the base TableCellStyle have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "properties": {
        "contentAlignmentSuggested": {
          "description": "Indicates if there was a suggested change to content_alignment.",
          "type": "boolean"
        },
        "borderRightSuggested": {
          "description": "Indicates if there was a suggested change to border_right.",
          "type": "boolean"
        },
        "borderLeftSuggested": {
          "description": "Indicates if there was a suggested change to border_left.",
          "type": "boolean"
        },
        "columnSpanSuggested": {
          "description": "Indicates if there was a suggested change to column_span.",
          "type": "boolean"
        },
        "paddingTopSuggested": {
          "description": "Indicates if there was a suggested change to padding_top.",
          "type": "boolean"
        },
        "backgroundColorSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to background_color."
        },
        "borderBottomSuggested": {
          "description": "Indicates if there was a suggested change to border_bottom.",
          "type": "boolean"
        },
        "borderTopSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to border_top."
        },
        "paddingBottomSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to padding_bottom."
        },
        "rowSpanSuggested": {
          "description": "Indicates if there was a suggested change to row_span.",
          "type": "boolean"
        },
        "paddingLeftSuggested": {
          "description": "Indicates if there was a suggested change to padding_left.",
          "type": "boolean"
        },
        "paddingRightSuggested": {
          "description": "Indicates if there was a suggested change to padding_right.",
          "type": "boolean"
        }
      },
      "id": "TableCellStyleSuggestionState",
      "type": "object"
    },
    "PositionedObjectPositioning": {
      "id": "PositionedObjectPositioning",
      "properties": {
        "topOffset": {
          "$ref": "Dimension",
          "description": "The offset of the top edge of the positioned object relative to the beginning of the Paragraph it's tethered to. The exact positioning of the object can depend on other content in the document and the document's styling."
        },
        "leftOffset": {
          "$ref": "Dimension",
          "description": "The offset of the left edge of the positioned object relative to the beginning of the Paragraph it's tethered to. The exact positioning of the object can depend on other content in the document and the document's styling."
        },
        "layout": {
          "description": "The layout of this positioned object.",
          "type": "string",
          "enumDescriptions": [
            "The layout is unspecified.",
            "The text wraps around the positioned object.",
            "Breaks text such that the positioned object is on the left and text is on the right.",
            "Breaks text such that the positioned object is on the right and text is on the left.",
            "Breaks text such that there's no text on the left or right of the positioned object.",
            "The positioned object is in front of the text.",
            "The positioned object is behind the text."
          ],
          "enum": [
            "POSITIONED_OBJECT_LAYOUT_UNSPECIFIED",
            "WRAP_TEXT",
            "BREAK_LEFT",
            "BREAK_RIGHT",
            "BREAK_LEFT_RIGHT",
            "IN_FRONT_OF_TEXT",
            "BEHIND_TEXT"
          ]
        }
      },
      "type": "object",
      "description": "The positioning of a PositionedObject. The positioned object is positioned relative to the beginning of the Paragraph it's tethered to."
    },
    "SuggestionThread": {
      "type": "object",
      "description": "Represents a single suggestion thread. Suggestion threads are created as a byproduct of saving changes to the document while in suggestion mode, and cannot be created directly. [Developer Preview](https://developers.google.com/workspace/preview).",
      "id": "SuggestionThread",
      "properties": {
        "headPost": {
          "$ref": "Post",
          "description": "The first post in the thread."
        },
        "summaryText": {
          "description": "Summary of the suggested differences in the document, in plain text. May be empty.",
          "type": "string"
        },
        "replies": {
          "description": "Replies to the head post.",
          "items": {
            "$ref": "Post"
          },
          "type": "array"
        },
        "status": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The suggestion thread is open.",
            "The suggestion thread is accepted.",
            "The suggestion thread is rejected."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "OPEN",
            "ACCEPTED",
            "REJECTED"
          ],
          "type": "string",
          "description": "Whether the thread is open, accepted, or rejected."
        },
        "suggestionId": {
          "description": "The unique ID of the suggestion.",
          "type": "string"
        },
        "summaryHtml": {
          "description": "Summary of the suggested differences in the document, in HTML. May be empty.",
          "type": "string"
        }
      }
    },
    "DeleteParagraphBulletsRequest": {
      "properties": {
        "range": {
          "$ref": "Range",
          "description": "The range to delete bullets from."
        }
      },
      "id": "DeleteParagraphBulletsRequest",
      "type": "object",
      "description": "Deletes bullets from all of the paragraphs that overlap with the given range. The nesting level of each paragraph will be visually preserved by adding indent to the start of the corresponding paragraph."
    },
    "NamedStyleSuggestionState": {
      "id": "NamedStyleSuggestionState",
      "type": "object",
      "properties": {
        "textStyleSuggestionState": {
          "$ref": "TextStyleSuggestionState",
          "description": "A mask that indicates which of the fields in text style have been changed in this suggestion."
        },
        "paragraphStyleSuggestionState": {
          "description": "A mask that indicates which of the fields in paragraph style have been changed in this suggestion.",
          "$ref": "ParagraphStyleSuggestionState"
        },
        "namedStyleType": {
          "description": "The named style type that this suggestion state corresponds to. This field is provided as a convenience for matching the NamedStyleSuggestionState with its corresponding NamedStyle.",
          "type": "string",
          "enum": [
            "NAMED_STYLE_TYPE_UNSPECIFIED",
            "NORMAL_TEXT",
            "TITLE",
            "SUBTITLE",
            "HEADING_1",
            "HEADING_2",
            "HEADING_3",
            "HEADING_4",
            "HEADING_5",
            "HEADING_6"
          ],
          "enumDescriptions": [
            "The type of named style is unspecified.",
            "Normal text.",
            "Title.",
            "Subtitle.",
            "Heading 1.",
            "Heading 2.",
            "Heading 3.",
            "Heading 4.",
            "Heading 5.",
            "Heading 6."
          ]
        }
      },
      "description": "A suggestion state of a NamedStyle message."
    },
    "TableCell": {
      "description": "The contents and style of a cell in a Table.",
      "id": "TableCell",
      "type": "object",
      "properties": {
        "suggestedDeletionIds": {
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "suggestedInsertionIds": {
          "description": "The suggested insertion IDs. A TableCell may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "content": {
          "description": "The content of the cell.",
          "type": "array",
          "items": {
            "$ref": "StructuralElement"
          }
        },
        "tableCellStyle": {
          "description": "The style of the cell.",
          "$ref": "TableCellStyle"
        },
        "startIndex": {
          "description": "The zero-based start index of this cell, in UTF-16 code units.",
          "type": "integer",
          "format": "int32"
        },
        "endIndex": {
          "description": "The zero-based end index of this cell, exclusive, in UTF-16 code units.",
          "type": "integer",
          "format": "int32"
        },
        "suggestedTableCellStyleChanges": {
          "description": "The suggested changes to the table cell style, keyed by suggestion ID.",
          "type": "object",
          "additionalProperties": {
            "$ref": "SuggestedTableCellStyle"
          }
        }
      }
    },
    "EmbeddedObjectBorder": {
      "type": "object",
      "id": "EmbeddedObjectBorder",
      "properties": {
        "dashStyle": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified dash style.",
            "Solid line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'solid'. This is the default dash style.",
            "Dotted line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dot'.",
            "Dashed line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dash'."
          ],
          "enum": [
            "DASH_STYLE_UNSPECIFIED",
            "SOLID",
            "DOT",
            "DASH"
          ],
          "description": "The dash style of the border."
        },
        "color": {
          "$ref": "OptionalColor",
          "description": "The color of the border."
        },
        "propertyState": {
          "enum": [
            "RENDERED",
            "NOT_RENDERED"
          ],
          "description": "The property state of the border property.",
          "type": "string",
          "enumDescriptions": [
            "If a property's state is RENDERED, then the element has the corresponding property when rendered in the document. This is the default value.",
            "If a property's state is NOT_RENDERED, then the element does not have the corresponding property when rendered in the document."
          ]
        },
        "width": {
          "description": "The width of the border.",
          "$ref": "Dimension"
        }
      },
      "description": "A border around an EmbeddedObject."
    },
    "DropdownDefinition": {
      "description": "A dropdown definition in the document.",
      "type": "object",
      "id": "DropdownDefinition",
      "properties": {
        "suggestedDropdownDefinitionPropertiesChanges": {
          "additionalProperties": {
            "$ref": "SuggestedDropdownDefinitionProperties"
          },
          "type": "object",
          "description": "Suggested property changes to this definition, keyed by suggestion ID."
        },
        "suggestedDeletionId": {
          "description": "ID for suggestion that deletes this dropdown definition.",
          "type": "string"
        },
        "suggestedInsertionId": {
          "description": "ID for suggestion that inserts this dropdown definition.",
          "type": "string"
        },
        "dropdownDefinitionId": {
          "description": "The ID of this dropdown definition. If you specify an ID, it must be unique among all IDs in the tab. The ID must start with `kix.` and match regex `^kix\\.[a-zA-Z0-9_-]{2,14}$` (length 6-18 chars). If you don't specify an ID, a unique one is generated.",
          "type": "string"
        },
        "dropdownDefinitionProperties": {
          "$ref": "DropdownDefinitionProperties",
          "description": "The properties of this dropdown definition."
        }
      }
    },
    "InsertDropdownResponse": {
      "description": "The result of inserting a Dropdown.",
      "id": "InsertDropdownResponse",
      "type": "object",
      "properties": {
        "dropdown": {
          "$ref": "Dropdown",
          "description": "The newly-inserted Dropdown."
        }
      }
    },
    "BackgroundSuggestionState": {
      "properties": {
        "backgroundColorSuggested": {
          "description": "Indicates whether the current background color has been modified in this suggestion.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "A mask that indicates which of the fields on the base Background have been changed in this suggestion. For any field set to true, the Backgound has a new suggested value.",
      "id": "BackgroundSuggestionState"
    },
    "Dimension": {
      "type": "object",
      "description": "A magnitude in a single direction in the specified units.",
      "id": "Dimension",
      "properties": {
        "unit": {
          "enumDescriptions": [
            "The units are unknown.",
            "A point, 1/72 of an inch."
          ],
          "description": "The units for magnitude.",
          "enum": [
            "UNIT_UNSPECIFIED",
            "PT"
          ],
          "type": "string"
        },
        "magnitude": {
          "type": "number",
          "description": "The magnitude.",
          "format": "double"
        }
      }
    },
    "Footnote": {
      "id": "Footnote",
      "description": "A document footnote.",
      "type": "object",
      "properties": {
        "content": {
          "type": "array",
          "items": {
            "$ref": "StructuralElement"
          },
          "description": "The contents of the footnote. The indexes for a footnote's content begin at zero."
        },
        "footnoteId": {
          "type": "string",
          "description": "The ID of the footnote."
        }
      }
    },
    "UpdateDropdownPropertiesRequest": {
      "properties": {
        "dropdownId": {
          "type": "string",
          "description": "Required. The Dropdown ID."
        },
        "tabId": {
          "description": "The ID of the tab that contains the dropdown to update. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document.",
          "type": "string"
        },
        "fields": {
          "description": "The fields that should be updated. At least one field must be specified. The root `dropdown_properties` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "dropdownProperties": {
          "description": "The properties to update.",
          "$ref": "DropdownProperties"
        }
      },
      "type": "object",
      "id": "UpdateDropdownPropertiesRequest",
      "description": "Updates the properties of a Dropdown."
    },
    "CreateHeaderResponse": {
      "type": "object",
      "description": "The result of creating a header.",
      "properties": {
        "headerId": {
          "type": "string",
          "description": "The ID of the created header."
        }
      },
      "id": "CreateHeaderResponse"
    },
    "ImagePropertiesSuggestionState": {
      "type": "object",
      "properties": {
        "cropPropertiesSuggestionState": {
          "$ref": "CropPropertiesSuggestionState",
          "description": "A mask that indicates which of the fields in crop_properties have been changed in this suggestion."
        },
        "contrastSuggested": {
          "description": "Indicates if there was a suggested change to contrast.",
          "type": "boolean"
        },
        "angleSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to angle."
        },
        "contentUriSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to content_uri."
        },
        "sourceUriSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to source_uri."
        },
        "brightnessSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to brightness."
        },
        "transparencySuggested": {
          "description": "Indicates if there was a suggested change to transparency.",
          "type": "boolean"
        }
      },
      "description": "A mask that indicates which of the fields on the base ImageProperties have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "id": "ImagePropertiesSuggestionState"
    },
    "SheetsChartReference": {
      "id": "SheetsChartReference",
      "properties": {
        "spreadsheetId": {
          "type": "string",
          "description": "The ID of the Google Sheets spreadsheet that contains the source chart."
        },
        "chartId": {
          "type": "integer",
          "format": "int32",
          "description": "The ID of the specific chart in the Google Sheets spreadsheet that's embedded."
        }
      },
      "description": "A reference to a linked chart embedded from Google Sheets.",
      "type": "object"
    },
    "NamedStyles": {
      "description": "The named styles. Paragraphs in the document can inherit their TextStyle and ParagraphStyle from these named styles.",
      "type": "object",
      "id": "NamedStyles",
      "properties": {
        "styles": {
          "description": "The named styles. There's an entry for each of the possible named style types.",
          "items": {
            "$ref": "NamedStyle"
          },
          "type": "array"
        }
      }
    },
    "Location": {
      "description": "A particular location in the document.",
      "id": "Location",
      "properties": {
        "tabId": {
          "type": "string",
          "description": "The tab that the location is in. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document."
        },
        "segmentId": {
          "description": "The ID of the header, footer or footnote the location is in. An empty segment ID signifies the document's body.",
          "type": "string"
        },
        "index": {
          "description": "The zero-based index, in UTF-16 code units. The index is relative to the beginning of the segment specified by segment_id.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "BatchUpdateDocumentRequest": {
      "properties": {
        "requests": {
          "description": "A list of updates to apply to the document.",
          "type": "array",
          "items": {
            "$ref": "Request"
          }
        },
        "writeControl": {
          "description": "Provides control over how write requests are executed.",
          "$ref": "WriteControl"
        }
      },
      "description": "Request message for BatchUpdateDocument.",
      "type": "object",
      "id": "BatchUpdateDocumentRequest"
    },
    "CreateFootnoteResponse": {
      "id": "CreateFootnoteResponse",
      "properties": {
        "footnoteId": {
          "description": "The ID of the created footnote.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The result of creating a footnote."
    },
    "SubstringMatchCriteria": {
      "type": "object",
      "id": "SubstringMatchCriteria",
      "description": "A criteria that matches a specific string of text in the document.",
      "properties": {
        "matchCase": {
          "type": "boolean",
          "description": "Indicates whether the search should respect case: - `True`: the search is case sensitive. - `False`: the search is case insensitive."
        },
        "text": {
          "type": "string",
          "description": "The text to search for in the document."
        },
        "searchByRegex": {
          "description": "Optional. True if the find value should be treated as a regular expression. Any backslashes in the pattern should be escaped. - `True`: the search text is treated as a regular expressions. - `False`: the search text is treated as a substring for matching.",
          "type": "boolean"
        }
      }
    },
    "NestingLevelSuggestionState": {
      "type": "object",
      "id": "NestingLevelSuggestionState",
      "description": "A mask that indicates which of the fields on the base NestingLevel have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "properties": {
        "glyphTypeSuggested": {
          "description": "Indicates if there was a suggested change to glyph_type.",
          "type": "boolean"
        },
        "bulletAlignmentSuggested": {
          "description": "Indicates if there was a suggested change to bullet_alignment.",
          "type": "boolean"
        },
        "textStyleSuggestionState": {
          "$ref": "TextStyleSuggestionState",
          "description": "A mask that indicates which of the fields in text style have been changed in this suggestion."
        },
        "indentStartSuggested": {
          "description": "Indicates if there was a suggested change to indent_start.",
          "type": "boolean"
        },
        "glyphFormatSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to glyph_format."
        },
        "glyphSymbolSuggested": {
          "description": "Indicates if there was a suggested change to glyph_symbol.",
          "type": "boolean"
        },
        "startNumberSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to start_number."
        },
        "indentFirstLineSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to indent_first_line."
        }
      }
    },
    "SuggestedInlineObjectProperties": {
      "properties": {
        "inlineObjectProperties": {
          "$ref": "InlineObjectProperties",
          "description": "An InlineObjectProperties that only includes the changes made in this suggestion. This can be used along with the inline_object_properties_suggestion_state to see which fields have changed and their new values."
        },
        "inlineObjectPropertiesSuggestionState": {
          "$ref": "InlineObjectPropertiesSuggestionState",
          "description": "A mask that indicates which of the fields on the base InlineObjectProperties have been changed in this suggestion."
        }
      },
      "id": "SuggestedInlineObjectProperties",
      "description": "A suggested change to InlineObjectProperties.",
      "type": "object"
    },
    "InsertPersonRequest": {
      "type": "object",
      "properties": {
        "endOfSegmentLocation": {
          "description": "Inserts the person mention at the end of a header, footer, footnote or the document body.",
          "$ref": "EndOfSegmentLocation"
        },
        "personProperties": {
          "description": "The properties of the person mention to insert.",
          "$ref": "PersonProperties"
        },
        "location": {
          "description": "Inserts the person mention at a specific index in the document. The person mention must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between the table and its preceding paragraph). Person mentions cannot be inserted inside an equation.",
          "$ref": "Location"
        }
      },
      "description": "Inserts a person mention.",
      "id": "InsertPersonRequest"
    },
    "TabProperties": {
      "type": "object",
      "id": "TabProperties",
      "description": "Properties of a tab.",
      "properties": {
        "nestingLevel": {
          "format": "int32",
          "description": "Output only. The depth of the tab within the document. Root-level tabs start at 0.",
          "type": "integer"
        },
        "parentTabId": {
          "type": "string",
          "description": "Optional. The ID of the parent tab. Empty when the current tab is a root-level tab, which means it doesn't have any parents."
        },
        "index": {
          "description": "The zero-based index of the tab within the parent.",
          "type": "integer",
          "format": "int32"
        },
        "iconEmoji": {
          "description": "Optional. The emoji icon displayed with the tab. A valid emoji icon is represented by a non-empty Unicode string. Any set of characters that don't represent a single emoji is invalid. If an emoji is invalid, a 400 bad request error is returned. If this value is unset or empty, the tab will display the default tab icon.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The user-visible name of the tab."
        },
        "tabId": {
          "type": "string",
          "description": "The immutable ID of the tab."
        }
      }
    },
    "SuggestedDropdownDefinitionProperties": {
      "id": "SuggestedDropdownDefinitionProperties",
      "description": "A suggested change to dropdown definition properties.",
      "type": "object",
      "properties": {
        "dropdownDefinitionProperties": {
          "description": "A DropdownDefinitionProperties that only includes the changes made in this suggestion. This can be used along with the dropdown_definition_properties_suggestion_state to see which fields have changed and their new values.",
          "$ref": "DropdownDefinitionProperties"
        },
        "dropdownDefinitionPropertiesSuggestionState": {
          "$ref": "DropdownDefinitionPropertiesSuggestionState",
          "description": "A mask that indicates which of the fields on the base DropdownDefinitionProperties have been changed in this suggestion."
        }
      }
    },
    "ReplaceImageRequest": {
      "id": "ReplaceImageRequest",
      "type": "object",
      "description": "Replaces an existing image with a new image. Replacing an image removes some image effects from the existing image in order to mirror the behavior of the Docs editor.",
      "properties": {
        "tabId": {
          "description": "The tab that the image to be replaced is in. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document.",
          "type": "string"
        },
        "imageReplaceMethod": {
          "description": "The replacement method.",
          "enum": [
            "IMAGE_REPLACE_METHOD_UNSPECIFIED",
            "CENTER_CROP"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified image replace method. This value must not be used.",
            "Scales and centers the image to fill the bounds of the original image. The image may be cropped in order to fill the original image's bounds. The rendered size of the image will be the same as the original image."
          ]
        },
        "imageObjectId": {
          "description": "The ID of the existing image that will be replaced. The ID can be retrieved from the response of a get request.",
          "type": "string"
        },
        "uri": {
          "description": "The URI of the new image. The image is fetched once at insertion time and a copy is stored for display inside the document. Images must be less than 50MB, cannot exceed 25 megapixels, and must be in PNG, JPEG, or GIF format. The provided URI can't surpass 2 KB in length. The URI is saved with the image, and exposed through the ImageProperties.source_uri field.",
          "type": "string"
        }
      }
    },
    "EmbeddedObjectBorderSuggestionState": {
      "description": "A mask that indicates which of the fields on the base EmbeddedObjectBorder have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "properties": {
        "dashStyleSuggested": {
          "description": "Indicates if there was a suggested change to dash_style.",
          "type": "boolean"
        },
        "widthSuggested": {
          "description": "Indicates if there was a suggested change to width.",
          "type": "boolean"
        },
        "propertyStateSuggested": {
          "description": "Indicates if there was a suggested change to property_state.",
          "type": "boolean"
        },
        "colorSuggested": {
          "description": "Indicates if there was a suggested change to color.",
          "type": "boolean"
        }
      },
      "id": "EmbeddedObjectBorderSuggestionState",
      "type": "object"
    },
    "EmbeddedDrawingProperties": {
      "type": "object",
      "description": "The properties of an embedded drawing and used to differentiate the object type. An embedded drawing is one that's created and edited within a document. Note that extensive details are not supported.",
      "id": "EmbeddedDrawingProperties",
      "properties": {}
    },
    "ColumnBreak": {
      "properties": {
        "suggestedDeletionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content."
        },
        "suggestedTextStyleChanges": {
          "description": "The suggested text style changes to this ColumnBreak, keyed by suggestion ID.",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "type": "object"
        },
        "suggestedInsertionIds": {
          "items": {
            "type": "string"
          },
          "description": "The suggested insertion IDs. A ColumnBreak may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.",
          "type": "array"
        },
        "textStyle": {
          "description": "The text style of this ColumnBreak. Similar to text content, like text runs and footnote references, the text style of a column break can affect content layout as well as the styling of text inserted next to it.",
          "$ref": "TextStyle"
        }
      },
      "type": "object",
      "id": "ColumnBreak",
      "description": "A ParagraphElement representing a column break. A column break makes the subsequent text start at the top of the next column."
    },
    "DeleteCommentReplyRequest": {
      "description": "Deletes a reply Post from a CommentThread or SuggestionThread. Returns a 400 bad request error if: - The requesting user is not the author of the post. - The reply post contains an action. - The reply post contains an assignee. [Developer Preview](https://developers.google.com/workspace/preview).",
      "type": "object",
      "properties": {
        "commentId": {
          "description": "The ID of the CommentThread which the post belongs to.",
          "type": "string"
        },
        "suggestionId": {
          "description": "The ID of the SuggestionThread which the post belongs to.",
          "type": "string"
        },
        "postId": {
          "description": "The ID of the reply Post being deleted.",
          "type": "string"
        }
      },
      "id": "DeleteCommentReplyRequest"
    },
    "SuggestedTableRowStyle": {
      "type": "object",
      "description": "A suggested change to a TableRowStyle.",
      "properties": {
        "tableRowStyle": {
          "description": "A TableRowStyle that only includes the changes made in this suggestion. This can be used along with the table_row_style_suggestion_state to see which fields have changed and their new values.",
          "$ref": "TableRowStyle"
        },
        "tableRowStyleSuggestionState": {
          "description": "A mask that indicates which of the fields on the base TableRowStyle have been changed in this suggestion.",
          "$ref": "TableRowStyleSuggestionState"
        }
      },
      "id": "SuggestedTableRowStyle"
    },
    "CreateDropdownDefinitionResponse": {
      "type": "object",
      "properties": {
        "dropdownDefinition": {
          "description": "The newly-created DropdownDefinition.",
          "$ref": "DropdownDefinition"
        }
      },
      "id": "CreateDropdownDefinitionResponse",
      "description": "Response message for creating a dropdown definition."
    },
    "PostAuthor": {
      "properties": {
        "user": {
          "type": "string",
          "description": "The resource name of the post author user, which can also be used to identify the user in the [Google People API](https://developers.google.com/people/api/rest/v1/people). Format: `users/{user}`. Will not be populated if the anonymous field is `true` or if the post is from an imported document."
        },
        "anonymous": {
          "description": "Whether the user is anonymous.",
          "type": "boolean"
        },
        "displayName": {
          "description": "The display name of the user. May be absent if the author is anonymous.",
          "type": "string"
        },
        "me": {
          "description": "Whether the user is the authenticated user making the request.",
          "type": "boolean"
        }
      },
      "description": "Represents a user who authored a comment or suggestion post. [Developer Preview](https://developers.google.com/workspace/preview).",
      "id": "PostAuthor",
      "type": "object"
    },
    "DeleteCommentRequest": {
      "description": "Deletes a CommentThread. Returns a 400 bad request error if the requesting user is not the author of the headPost. [Developer Preview](https://developers.google.com/workspace/preview).",
      "type": "object",
      "id": "DeleteCommentRequest",
      "properties": {
        "commentId": {
          "type": "string",
          "description": "The ID of the CommentThread that is being deleted."
        }
      }
    },
    "DropdownPropertiesSuggestionState": {
      "properties": {
        "selectedOptionIdSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to selected_option_id."
        }
      },
      "id": "DropdownPropertiesSuggestionState",
      "description": "A mask that indicates which of the fields on the base DropdownProperties have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "type": "object"
    },
    "SectionBreak": {
      "description": "A StructuralElement representing a section break. A section is a range of content that has the same SectionStyle. A section break represents the start of a new section, and the section style applies to the section after the section break. The document body always begins with a section break.",
      "type": "object",
      "properties": {
        "sectionStyle": {
          "$ref": "SectionStyle",
          "description": "The style of the section after this section break."
        },
        "suggestedDeletionIds": {
          "type": "array",
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "items": {
            "type": "string"
          }
        },
        "suggestedInsertionIds": {
          "description": "The suggested insertion IDs. A SectionBreak may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "SectionBreak"
    },
    "CropProperties": {
      "properties": {
        "offsetRight": {
          "format": "float",
          "type": "number",
          "description": "The offset specifies how far inwards the right edge of the crop rectangle is from the right edge of the original content as a fraction of the original content's width."
        },
        "angle": {
          "format": "float",
          "type": "number",
          "description": "The clockwise rotation angle of the crop rectangle around its center, in radians. Rotation is applied after the offsets."
        },
        "offsetTop": {
          "type": "number",
          "description": "The offset specifies how far inwards the top edge of the crop rectangle is from the top edge of the original content as a fraction of the original content's height.",
          "format": "float"
        },
        "offsetLeft": {
          "type": "number",
          "description": "The offset specifies how far inwards the left edge of the crop rectangle is from the left edge of the original content as a fraction of the original content's width.",
          "format": "float"
        },
        "offsetBottom": {
          "description": "The offset specifies how far inwards the bottom edge of the crop rectangle is from the bottom edge of the original content as a fraction of the original content's height.",
          "format": "float",
          "type": "number"
        }
      },
      "description": "The crop properties of an image. The crop rectangle is represented using fractional offsets from the original content's 4 edges. - If the offset is in the interval (0, 1), the corresponding edge of crop rectangle is positioned inside of the image's original bounding rectangle. - If the offset is negative or greater than 1, the corresponding edge of crop rectangle is positioned outside of the image's original bounding rectangle. - If all offsets and rotation angles are 0, the image is not cropped.",
      "id": "CropProperties",
      "type": "object"
    },
    "PositionedObjectPositioningSuggestionState": {
      "id": "PositionedObjectPositioningSuggestionState",
      "properties": {
        "layoutSuggested": {
          "description": "Indicates if there was a suggested change to layout.",
          "type": "boolean"
        },
        "leftOffsetSuggested": {
          "description": "Indicates if there was a suggested change to left_offset.",
          "type": "boolean"
        },
        "topOffsetSuggested": {
          "description": "Indicates if there was a suggested change to top_offset.",
          "type": "boolean"
        }
      },
      "description": "A mask that indicates which of the fields on the base PositionedObjectPositioning have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "type": "object"
    },
    "Color": {
      "properties": {
        "rgbColor": {
          "$ref": "RgbColor",
          "description": "The RGB color value."
        }
      },
      "id": "Color",
      "type": "object",
      "description": "A solid color."
    },
    "TableCellStyle": {
      "type": "object",
      "id": "TableCellStyle",
      "properties": {
        "paddingTop": {
          "description": "The top padding of the cell.",
          "$ref": "Dimension"
        },
        "rowSpan": {
          "description": "The row span of the cell. This property is read-only.",
          "type": "integer",
          "format": "int32"
        },
        "columnSpan": {
          "format": "int32",
          "description": "The column span of the cell. This property is read-only.",
          "type": "integer"
        },
        "borderBottom": {
          "description": "The bottom border of the cell.",
          "$ref": "TableCellBorder"
        },
        "contentAlignment": {
          "enumDescriptions": [
            "An unspecified content alignment. The content alignment is inherited from the parent if one exists.",
            "An unsupported content alignment.",
            "An alignment that aligns the content to the top of the content holder. Corresponds to ECMA-376 ST_TextAnchoringType 't'.",
            "An alignment that aligns the content to the middle of the content holder. Corresponds to ECMA-376 ST_TextAnchoringType 'ctr'.",
            "An alignment that aligns the content to the bottom of the content holder. Corresponds to ECMA-376 ST_TextAnchoringType 'b'."
          ],
          "description": "The alignment of the content in the table cell. The default alignment matches the alignment for newly created table cells in the Docs editor.",
          "enum": [
            "CONTENT_ALIGNMENT_UNSPECIFIED",
            "CONTENT_ALIGNMENT_UNSUPPORTED",
            "TOP",
            "MIDDLE",
            "BOTTOM"
          ],
          "type": "string"
        },
        "borderRight": {
          "description": "The right border of the cell.",
          "$ref": "TableCellBorder"
        },
        "paddingBottom": {
          "description": "The bottom padding of the cell.",
          "$ref": "Dimension"
        },
        "paddingRight": {
          "description": "The right padding of the cell.",
          "$ref": "Dimension"
        },
        "borderTop": {
          "$ref": "TableCellBorder",
          "description": "The top border of the cell."
        },
        "backgroundColor": {
          "description": "The background color of the cell.",
          "$ref": "OptionalColor"
        },
        "paddingLeft": {
          "description": "The left padding of the cell.",
          "$ref": "Dimension"
        },
        "borderLeft": {
          "$ref": "TableCellBorder",
          "description": "The left border of the cell."
        }
      },
      "description": "The style of a TableCell. Inherited table cell styles are represented as unset fields in this message. A table cell style can inherit from the table's style."
    },
    "UpdateNamedStyleRequest": {
      "properties": {
        "fields": {
          "description": "The NamedStyle fields that should be updated. At least `named_style_type` must be specified. The root `named_style` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example, to update the text style to bold, set `fields` to include `\"text_style\"` and `\"text_style.bold\"`. To update the paragraph style's alignment property, set `fields` to include `\"paragraph_style\"` and `\"paragraph_style.alignment\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset. Specifying `\"text_style\"` or `\"paragraph_style\"` with an empty TextStyle or ParagraphStyle will reset all of its nested fields.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "tabId": {
          "type": "string",
          "description": "The document tab to update. By default, the update is applied to the first tab."
        },
        "namedStyle": {
          "$ref": "NamedStyle",
          "description": "The document style to update."
        }
      },
      "type": "object",
      "description": "Updates a named style.",
      "id": "UpdateNamedStyleRequest"
    },
    "SheetsChartReferenceSuggestionState": {
      "id": "SheetsChartReferenceSuggestionState",
      "type": "object",
      "description": "A mask that indicates which of the fields on the base SheetsChartReference have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "properties": {
        "spreadsheetIdSuggested": {
          "description": "Indicates if there was a suggested change to spreadsheet_id.",
          "type": "boolean"
        },
        "chartIdSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to chart_id."
        }
      }
    },
    "Request": {
      "properties": {
        "insertDate": {
          "description": "Inserts a date.",
          "$ref": "InsertDateRequest"
        },
        "updateDropdownDefinitionProperties": {
          "description": "Updates the properties of a DropdownDefinition.",
          "$ref": "UpdateDropdownDefinitionPropertiesRequest"
        },
        "insertTableRow": {
          "description": "Inserts an empty row into a table.",
          "$ref": "InsertTableRowRequest"
        },
        "updateDocumentStyle": {
          "description": "Updates the style of the document.",
          "$ref": "UpdateDocumentStyleRequest"
        },
        "createFooter": {
          "description": "Creates a footer.",
          "$ref": "CreateFooterRequest"
        },
        "createFootnote": {
          "$ref": "CreateFootnoteRequest",
          "description": "Creates a footnote."
        },
        "deleteTableRow": {
          "$ref": "DeleteTableRowRequest",
          "description": "Deletes a row from a table."
        },
        "updateNamedStyle": {
          "$ref": "UpdateNamedStyleRequest",
          "description": "Updates a named style."
        },
        "acceptSuggestion": {
          "$ref": "AcceptSuggestionRequest",
          "description": "Accepts a suggestion. [Developer Preview](https://developers.google.com/workspace/preview)."
        },
        "deletePositionedObject": {
          "description": "Deletes a positioned object from the document.",
          "$ref": "DeletePositionedObjectRequest"
        },
        "insertTable": {
          "description": "Inserts a table at the specified location.",
          "$ref": "InsertTableRequest"
        },
        "updateTableRowStyle": {
          "description": "Updates the row style in a table.",
          "$ref": "UpdateTableRowStyleRequest"
        },
        "insertPerson": {
          "description": "Inserts a person mention.",
          "$ref": "InsertPersonRequest"
        },
        "rejectSuggestion": {
          "$ref": "RejectSuggestionRequest",
          "description": "Rejects a suggestion. [Developer Preview](https://developers.google.com/workspace/preview)."
        },
        "updateDocumentTabProperties": {
          "description": "Updates the properties of a document tab.",
          "$ref": "UpdateDocumentTabPropertiesRequest"
        },
        "createNamedRange": {
          "description": "Creates a named range.",
          "$ref": "CreateNamedRangeRequest"
        },
        "createParagraphBullets": {
          "description": "Creates bullets for paragraphs.",
          "$ref": "CreateParagraphBulletsRequest"
        },
        "insertSectionBreak": {
          "$ref": "InsertSectionBreakRequest",
          "description": "Inserts a section break at the specified location."
        },
        "insertInlineImage": {
          "description": "Inserts an inline image at the specified location.",
          "$ref": "InsertInlineImageRequest"
        },
        "deleteContentRange": {
          "description": "Deletes content from the document.",
          "$ref": "DeleteContentRangeRequest"
        },
        "insertPageBreak": {
          "$ref": "InsertPageBreakRequest",
          "description": "Inserts a page break at the specified location."
        },
        "updateTableCellStyle": {
          "description": "Updates the style of table cells.",
          "$ref": "UpdateTableCellStyleRequest"
        },
        "deleteHeader": {
          "description": "Deletes a header from the document.",
          "$ref": "DeleteHeaderRequest"
        },
        "deleteNamedRange": {
          "description": "Deletes a named range.",
          "$ref": "DeleteNamedRangeRequest"
        },
        "replaceNamedRangeContent": {
          "description": "Replaces the content in a named range.",
          "$ref": "ReplaceNamedRangeContentRequest"
        },
        "deleteFooter": {
          "$ref": "DeleteFooterRequest",
          "description": "Deletes a footer from the document."
        },
        "addCommentReply": {
          "description": "Adds a reply to a CommentThread or SuggestionThread. [Developer Preview](https://developers.google.com/workspace/preview).",
          "$ref": "AddCommentReplyRequest"
        },
        "updateCommentPost": {
          "description": "Updates an existing post (head post or reply) of a CommentThread or SuggestionThread. [Developer Preview](https://developers.google.com/workspace/preview).",
          "$ref": "UpdateCommentPostRequest"
        },
        "replaceImage": {
          "description": "Replaces an image in the document.",
          "$ref": "ReplaceImageRequest"
        },
        "insertText": {
          "description": "Inserts text at the specified location.",
          "$ref": "InsertTextRequest"
        },
        "deleteComment": {
          "$ref": "DeleteCommentRequest",
          "description": "Deletes a CommentThread. [Developer Preview](https://developers.google.com/workspace/preview)."
        },
        "updateSectionStyle": {
          "$ref": "UpdateSectionStyleRequest",
          "description": "Updates the section style of the specified range."
        },
        "updateDropdownProperties": {
          "$ref": "UpdateDropdownPropertiesRequest",
          "description": "Updates the properties of a Dropdown."
        },
        "insertDropdown": {
          "$ref": "InsertDropdownRequest",
          "description": "Inserts a Dropdown at the specified location."
        },
        "deleteSuggestion": {
          "$ref": "DeleteSuggestionRequest",
          "description": "Deletes a suggestion. [Developer Preview](https://developers.google.com/workspace/preview)."
        },
        "updateParagraphStyle": {
          "$ref": "UpdateParagraphStyleRequest",
          "description": "Updates the paragraph style at the specified range."
        },
        "deleteTableColumn": {
          "description": "Deletes a column from a table.",
          "$ref": "DeleteTableColumnRequest"
        },
        "insertTableColumn": {
          "description": "Inserts an empty column into a table.",
          "$ref": "InsertTableColumnRequest"
        },
        "pinTableHeaderRows": {
          "$ref": "PinTableHeaderRowsRequest",
          "description": "Updates the number of pinned header rows in a table."
        },
        "unmergeTableCells": {
          "$ref": "UnmergeTableCellsRequest",
          "description": "Unmerges cells in a table."
        },
        "deleteTab": {
          "description": "Deletes a document tab.",
          "$ref": "DeleteTabRequest"
        },
        "deleteParagraphBullets": {
          "description": "Deletes bullets from paragraphs.",
          "$ref": "DeleteParagraphBulletsRequest"
        },
        "deleteCommentReply": {
          "description": "Deletes a reply Post from a CommentThread or SuggestionThread. [Developer Preview](https://developers.google.com/workspace/preview).",
          "$ref": "DeleteCommentReplyRequest"
        },
        "updateTableColumnProperties": {
          "description": "Updates the properties of columns in a table.",
          "$ref": "UpdateTableColumnPropertiesRequest"
        },
        "deleteDropdownDefinition": {
          "description": "Deletes a DropdownDefinition.",
          "$ref": "DeleteDropdownDefinitionRequest"
        },
        "updateTextStyle": {
          "$ref": "UpdateTextStyleRequest",
          "description": "Updates the text style at the specified range."
        },
        "addDocumentTab": {
          "$ref": "AddDocumentTabRequest",
          "description": "Adds a document tab."
        },
        "insertComment": {
          "description": "Inserts a CommentThread into the document. [Developer Preview](https://developers.google.com/workspace/preview).",
          "$ref": "InsertCommentRequest"
        },
        "createDropdownDefinition": {
          "$ref": "CreateDropdownDefinitionRequest",
          "description": "Creates a DropdownDefinition."
        },
        "mergeTableCells": {
          "description": "Merges cells in a table.",
          "$ref": "MergeTableCellsRequest"
        },
        "replaceAllText": {
          "$ref": "ReplaceAllTextRequest",
          "description": "Replaces all instances of the specified text."
        },
        "insertRichLink": {
          "description": "Insert a rich link.",
          "$ref": "InsertRichLinkRequest"
        },
        "createHeader": {
          "description": "Creates a header.",
          "$ref": "CreateHeaderRequest"
        }
      },
      "id": "Request",
      "description": "A single update to apply to a document.",
      "type": "object"
    },
    "DeletePositionedObjectRequest": {
      "description": "Deletes a PositionedObject from the document.",
      "properties": {
        "tabId": {
          "description": "The tab that the positioned object to delete is in. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document.",
          "type": "string"
        },
        "objectId": {
          "type": "string",
          "description": "The ID of the positioned object to delete."
        }
      },
      "id": "DeletePositionedObjectRequest",
      "type": "object"
    },
    "TableOfContents": {
      "type": "object",
      "id": "TableOfContents",
      "description": "A StructuralElement representing a table of contents.",
      "properties": {
        "content": {
          "type": "array",
          "items": {
            "$ref": "StructuralElement"
          },
          "description": "The content of the table of contents."
        },
        "suggestedDeletionIds": {
          "items": {
            "type": "string"
          },
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "type": "array"
        },
        "suggestedInsertionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The suggested insertion IDs. A TableOfContents may have multiple insertion IDs if it is a nested suggested change. If empty, then this is not a suggested insertion."
        }
      }
    },
    "LinkedContentReferenceSuggestionState": {
      "type": "object",
      "description": "A mask that indicates which of the fields on the base LinkedContentReference have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "id": "LinkedContentReferenceSuggestionState",
      "properties": {
        "sheetsChartReferenceSuggestionState": {
          "description": "A mask that indicates which of the fields in sheets_chart_reference have been changed in this suggestion.",
          "$ref": "SheetsChartReferenceSuggestionState"
        }
      }
    },
    "UpdateDropdownDefinitionPropertiesRequest": {
      "properties": {
        "tabId": {
          "description": "The ID of the tab that contains the dropdown definition to update. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document.",
          "type": "string"
        },
        "fields": {
          "description": "The fields that should be updated. At least one field must be specified. The root `dropdown_definition_properties` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. When `dropdown_definition_properties.options` is included in the field mask, the full, complete list of desired options must be provided in `dropdown_definition_properties.options`.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "selectedOptionIdReplacements": {
          "type": "object",
          "description": "A map of option IDs to their replacements, used to automatically reassign orphaned Dropdown chips when an option is deleted. The keys are the IDs of the options being deleted, and the values are the IDs of their replacement options. If an option being deleted is selected in one or more Dropdown chips in the document, a replacement entry for that option must be provided in this map, and the replacement option ID must exist in the updated DropdownDefinition. If a replacement is required but not provided, a 400 bad request error is returned. Options being deleted that are not selected in any Dropdown chips do not require a replacement. For example, if option A is being replaced by option B, the map should be `{\"A\": \"B\"}`.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "dropdownDefinitionProperties": {
          "$ref": "DropdownDefinitionProperties",
          "description": "The properties to update."
        },
        "dropdownDefinitionId": {
          "type": "string",
          "description": "The ID of the DropdownDefinition to update."
        }
      },
      "type": "object",
      "id": "UpdateDropdownDefinitionPropertiesRequest",
      "description": "Updates the properties of a DropdownDefinition."
    },
    "InsertInlineImageResponse": {
      "id": "InsertInlineImageResponse",
      "description": "The result of inserting an inline image.",
      "type": "object",
      "properties": {
        "objectId": {
          "type": "string",
          "description": "The ID of the created InlineObject."
        }
      }
    },
    "TextStyleSuggestionState": {
      "type": "object",
      "description": "A mask that indicates which of the fields on the base TextStyle have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "id": "TextStyleSuggestionState",
      "properties": {
        "baselineOffsetSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to baseline_offset."
        },
        "backgroundColorSuggested": {
          "description": "Indicates if there was a suggested change to background_color.",
          "type": "boolean"
        },
        "foregroundColorSuggested": {
          "description": "Indicates if there was a suggested change to foreground_color.",
          "type": "boolean"
        },
        "boldSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to bold."
        },
        "fontSizeSuggested": {
          "description": "Indicates if there was a suggested change to font_size.",
          "type": "boolean"
        },
        "strikethroughSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to strikethrough."
        },
        "linkSuggested": {
          "description": "Indicates if there was a suggested change to link.",
          "type": "boolean"
        },
        "italicSuggested": {
          "description": "Indicates if there was a suggested change to italic.",
          "type": "boolean"
        },
        "underlineSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to underline."
        },
        "smallCapsSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to small_caps."
        },
        "weightedFontFamilySuggested": {
          "description": "Indicates if there was a suggested change to weighted_font_family.",
          "type": "boolean"
        }
      }
    },
    "SuggestedTextStyle": {
      "description": "A suggested change to a TextStyle.",
      "id": "SuggestedTextStyle",
      "properties": {
        "textStyle": {
          "description": "A TextStyle that only includes the changes made in this suggestion. This can be used along with the text_style_suggestion_state to see which fields have changed and their new values.",
          "$ref": "TextStyle"
        },
        "textStyleSuggestionState": {
          "$ref": "TextStyleSuggestionState",
          "description": "A mask that indicates which of the fields on the base TextStyle have been changed in this suggestion."
        }
      },
      "type": "object"
    },
    "InsertRichLinkRequest": {
      "id": "InsertRichLinkRequest",
      "properties": {
        "richLinkProperties": {
          "description": "The properties of the rich link to insert.",
          "$ref": "RichLinkProperties"
        },
        "location": {
          "description": "Inserts the rich link at a specific index in the document. The rich link must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between the table and its preceding paragraph). The rich link cannot be inserted inside an equation.",
          "$ref": "Location"
        },
        "endOfSegmentLocation": {
          "$ref": "EndOfSegmentLocation",
          "description": "Inserts the rich link at the end of a header, footer, footnote or the document body."
        }
      },
      "description": "Inserts a RichLink at the specified location.",
      "type": "object"
    },
    "MergeTableCellsRequest": {
      "type": "object",
      "id": "MergeTableCellsRequest",
      "description": "Merges cells in a Table.",
      "properties": {
        "tableRange": {
          "$ref": "TableRange",
          "description": "The table range specifying which cells of the table to merge. Any text in the cells being merged will be concatenated and stored in the \"head\" cell of the range. This is the upper-left cell of the range when the content direction is left to right, and the upper-right cell of the range otherwise. If the range is non-rectangular (which can occur in some cases where the range covers cells that are already merged or where the table is non-rectangular), a 400 bad request error is returned."
        }
      }
    },
    "InsertSectionBreakRequest": {
      "description": "Inserts a section break at the given location. A newline character will be inserted before the section break.",
      "type": "object",
      "properties": {
        "endOfSegmentLocation": {
          "$ref": "EndOfSegmentLocation",
[...]
