{
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "canonicalName": "Docs",
  "ownerName": "Google",
  "description": "Reads and writes Google Docs documents.",
  "version_module": true,
  "revision": "20260904",
  "title": "Google Docs API",
  "mtlsRootUrl": "https://docs.mtls.googleapis.com/",
  "parameters": {
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json",
      "description": "Data format for response."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "name": "docs",
  "ownerDomain": "google.com",
  "documentationLink": "https://developers.google.com/workspace/docs/",
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://docs.googleapis.com/",
  "discoveryVersion": "v1",
  "version": "v1",
  "kind": "discovery#restDescription",
  "basePath": "",
  "resources": {
    "documents": {
      "methods": {
        "create": {
          "description": "Creates a blank document using the title given in the request. Other fields in the request, including any provided content, are ignored. Returns the created document.",
          "scopes": [
            "https://www.googleapis.com/auth/documents",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameterOrder": [],
          "httpMethod": "POST",
          "path": "v1/documents",
          "id": "docs.documents.create",
          "request": {
            "$ref": "Document"
          },
          "parameters": {},
          "flatPath": "v1/documents",
          "response": {
            "$ref": "Document"
          }
        },
        "batchUpdate": {
          "parameters": {
            "documentId": {
              "required": true,
              "description": "The ID of the document to update.",
              "location": "path",
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/documents",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "request": {
            "$ref": "BatchUpdateDocumentRequest"
          },
          "id": "docs.documents.batchUpdate",
          "description": "Applies one or more updates to the document. Each request is validated before being applied. If any request is not valid, then the entire request will fail and nothing will be applied. Some requests have replies to give you some information about how they are applied. Other requests do not need to return information; these each return an empty reply. The order of replies matches that of the requests. For example, suppose you call batchUpdate with four updates, and only the third one returns information. The response would have two empty replies, the reply to the third request, and another empty reply, in that order. Because other users may be editing the document, the document might not exactly reflect your changes: your changes may be altered with respect to collaborator changes. If there are no collaborators, the document should reflect your changes. In any case, the updates in your request are guaranteed to be applied together atomically.",
          "path": "v1/documents/{documentId}:batchUpdate",
          "flatPath": "v1/documents/{documentId}:batchUpdate",
          "response": {
            "$ref": "BatchUpdateDocumentResponse"
          },
          "parameterOrder": [
            "documentId"
          ]
        },
        "get": {
          "path": "v1/documents/{documentId}",
          "parameters": {
            "documentId": {
              "required": true,
              "description": "The ID of the document to retrieve.",
              "type": "string",
              "location": "path"
            },
            "includeTabsContent": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to populate the `Document.tabs` field instead of the text content fields like `body` and `documentStyle` on `Document`. - When `true`: Document content populates in the `Document.tabs` field instead of the text content fields in `Document`. - When `false`: The content of the document's first tab populates the content fields in `Document` excluding `Document.tabs`. If a document has only one tab, then that tab is used to populate the document content. `Document.tabs` will be empty. If you use a field mask that references the `Document.tabs` field (or any subfield), the API implicitly treats the request as if you set `include_tabs_content` to `true`."
            },
            "suggestionsViewMode": {
              "enumDescriptions": [
                "The SuggestionsViewMode applied to the returned document depends on the user's current access level. If the user only has view access, PREVIEW_WITHOUT_SUGGESTIONS is applied. Otherwise, SUGGESTIONS_INLINE is applied. This is the default suggestions view mode.",
                "The returned document has suggestions inline. Suggested changes will be differentiated from base content within the document. Requests to retrieve a document using this mode will return a 403 error if the user does not have permission to view suggested changes.",
                "The returned document is a preview with all suggested changes accepted. Requests to retrieve a document using this mode will return a 403 error if the user does not have permission to view suggested changes.",
                "The returned document is a preview with all suggested changes rejected if there are any suggestions in the document."
              ],
              "enum": [
                "DEFAULT_FOR_CURRENT_ACCESS",
                "SUGGESTIONS_INLINE",
                "PREVIEW_SUGGESTIONS_ACCEPTED",
                "PREVIEW_WITHOUT_SUGGESTIONS"
              ],
              "type": "string",
              "description": "The suggestions view mode to apply to the document. This allows viewing the document with all suggestions inline, accepted or rejected. If one is not specified, DEFAULT_FOR_CURRENT_ACCESS is used.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/documents",
            "https://www.googleapis.com/auth/documents.readonly",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "id": "docs.documents.get",
          "httpMethod": "GET",
          "description": "Gets the latest version of the specified document.",
          "flatPath": "v1/documents/{documentId}",
          "response": {
            "$ref": "Document"
          },
          "parameterOrder": [
            "documentId"
          ]
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/documents": {
          "description": "See, edit, create, and delete all your Google Docs documents"
        },
        "https://www.googleapis.com/auth/documents.readonly": {
          "description": "See all your Google Docs documents"
        },
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "See and download all your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.file": {
          "description": "See, edit, create, and delete only the specific Google Drive files you use with this app"
        }
      }
    }
  },
  "id": "docs:v1",
  "schemas": {
    "CreateNamedRangeResponse": {
      "type": "object",
      "id": "CreateNamedRangeResponse",
      "properties": {
        "namedRangeId": {
          "description": "The ID of the created named range.",
          "type": "string"
        }
      },
      "description": "The result of creating a named range."
    },
    "NamedRange": {
      "properties": {
        "namedRangeId": {
          "type": "string",
          "description": "The ID of the named range."
        },
        "ranges": {
          "type": "array",
          "items": {
            "$ref": "Range"
          },
          "description": "The ranges that belong to this named range."
        },
        "name": {
          "type": "string",
          "description": "The name of the named range."
        }
      },
      "description": "A collection of Ranges with the same named range ID. Named ranges allow developers to associate parts of a document with an arbitrary user-defined label so their contents can be programmatically read or edited later. A document can contain multiple named ranges with the same name, but every named range has a unique ID. A named range is created with a single Range, and content inserted inside a named range generally expands that range. However, certain document changes can cause the range to be split into multiple ranges. Named ranges are not private. All applications and collaborators that have access to the document can see its named ranges.",
      "type": "object",
      "id": "NamedRange"
    },
    "TableCellLocation": {
      "id": "TableCellLocation",
      "properties": {
        "tableStartLocation": {
          "$ref": "Location",
          "description": "The location where the table starts in the document."
        },
        "columnIndex": {
          "type": "integer",
          "format": "int32",
          "description": "The zero-based column index. For example, the second column in the table has a column index of 1."
        },
        "rowIndex": {
          "format": "int32",
          "description": "The zero-based row index. For example, the second row in the table has a row index of 1.",
          "type": "integer"
        }
      },
      "description": "Location of a single cell within a table.",
      "type": "object"
    },
    "UpdateDocumentStyleRequest": {
      "description": "Updates the DocumentStyle.",
      "id": "UpdateDocumentStyleRequest",
      "type": "object",
      "properties": {
        "tabId": {
          "description": "The tab that contains the style to update. When omitted, the request applies to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If not provided, the request applies to the first tab in the document.",
          "type": "string"
        },
        "fields": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root `document_style` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the background, set `fields` to `\"background\"`."
        },
        "documentStyle": {
          "$ref": "DocumentStyle",
          "description": "The styles to set on the document. Certain document style changes may cause other changes in order to mirror the behavior of the Docs editor. See the documentation of DocumentStyle for more information."
        }
      }
    },
    "InsertRichLinkRequest": {
      "description": "Inserts a RichLink at the specified location.",
      "properties": {
        "richLinkProperties": {
          "description": "The properties of the rich link to insert.",
          "$ref": "RichLinkProperties"
        },
        "endOfSegmentLocation": {
          "description": "Inserts the rich link at the end of a header, footer, footnote or the document body.",
          "$ref": "EndOfSegmentLocation"
        },
        "location": {
          "$ref": "Location",
          "description": "Inserts the rich link at a specific index in the document. The rich link must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between the table and its preceding paragraph). The rich link cannot be inserted inside an equation."
        }
      },
      "type": "object",
      "id": "InsertRichLinkRequest"
    },
    "SuggestedTableRowStyle": {
      "properties": {
        "tableRowStyle": {
          "$ref": "TableRowStyle",
          "description": "A TableRowStyle that only includes the changes made in this suggestion. This can be used along with the table_row_style_suggestion_state to see which fields have changed and their new values."
        },
        "tableRowStyleSuggestionState": {
          "$ref": "TableRowStyleSuggestionState",
          "description": "A mask that indicates which of the fields on the base TableRowStyle have been changed in this suggestion."
        }
      },
      "description": "A suggested change to a TableRowStyle.",
      "type": "object",
      "id": "SuggestedTableRowStyle"
    },
    "NestingLevel": {
      "description": "Contains properties describing the look and feel of a list bullet at a given level of nesting.",
      "id": "NestingLevel",
      "type": "object",
      "properties": {
        "indentStart": {
          "$ref": "Dimension",
          "description": "The amount of indentation for paragraphs at this level of nesting. Applied to the side that corresponds to the start of the text, based on the paragraph's content direction."
        },
        "indentFirstLine": {
          "description": "The amount of indentation for the first line of paragraphs at this level of nesting.",
          "$ref": "Dimension"
        },
        "glyphSymbol": {
          "description": "A custom glyph symbol used by bullets when paragraphs at this level of nesting is unordered. The glyph symbol replaces placeholders within the glyph_format. For example, if the glyph_symbol is the solid circle corresponding to Unicode U+25cf code point and the glyph_format is `%0`, the rendered glyph would be the solid circle.",
          "type": "string"
        },
        "textStyle": {
          "description": "The text style of bullets at this level of nesting.",
          "$ref": "TextStyle"
        },
        "bulletAlignment": {
          "description": "The alignment of the bullet within the space allotted for rendering the bullet.",
          "enum": [
            "BULLET_ALIGNMENT_UNSPECIFIED",
            "START",
            "CENTER",
            "END"
          ],
          "type": "string",
          "enumDescriptions": [
            "The bullet alignment is unspecified.",
            "The bullet is aligned to the start of the space allotted for rendering the bullet. Left-aligned for LTR text, right-aligned otherwise.",
            "The bullet is aligned to the center of the space allotted for rendering the bullet.",
            "The bullet is aligned to the end of the space allotted for rendering the bullet. Right-aligned for LTR text, left-aligned otherwise."
          ]
        },
        "glyphFormat": {
          "description": "The format string used by bullets at this level of nesting. The glyph format contains one or more placeholders, and these placeholders are replaced with the appropriate values depending on the glyph_type or glyph_symbol. The placeholders follow the pattern `%[nesting_level]`. Furthermore, placeholders can have prefixes and suffixes. Thus, the glyph format follows the pattern `%[nesting_level]`. Note that the prefix and suffix are optional and can be arbitrary strings. For example, the glyph format `%0.` indicates that the rendered glyph will replace the placeholder with the corresponding glyph for nesting level 0 followed by a period as the suffix. So a list with a glyph type of UPPER_ALPHA and glyph format `%0.` at nesting level 0 will result in a list with rendered glyphs `A.` `B.` `C.` The glyph format can contain placeholders for the current nesting level as well as placeholders for parent nesting levels. For example, a list can have a glyph format of `%0.` at nesting level 0 and a glyph format of `%0.%1.` at nesting level 1. Assuming both nesting levels have DECIMAL glyph types, this would result in a list with rendered glyphs `1.` `2.` ` 2.1.` ` 2.2.` `3.` For nesting levels that are ordered, the string that replaces a placeholder in the glyph format for a particular paragraph depends on the paragraph's order within the list.",
          "type": "string"
        },
        "startNumber": {
          "description": "The number of the first list item at this nesting level. A value of 0 is treated as a value of 1 for lettered lists and Roman numeral lists. For values of both 0 and 1, lettered and Roman numeral lists will begin at `a` and `i` respectively. This value is ignored for nesting levels with unordered glyphs.",
          "type": "integer",
          "format": "int32"
        },
        "glyphType": {
          "description": "The type of glyph used by bullets when paragraphs at this level of nesting is ordered. The glyph type determines the type of glyph used to replace placeholders within the glyph_format when paragraphs at this level of nesting are ordered. For example, if the nesting level is 0, the glyph_format is `%0.` and the glyph type is DECIMAL, then the rendered glyph would replace the placeholder `%0` in the glyph format with a number corresponding to the list item's order within the list.",
          "type": "string",
          "enum": [
            "GLYPH_TYPE_UNSPECIFIED",
            "NONE",
            "DECIMAL",
            "ZERO_DECIMAL",
            "UPPER_ALPHA",
            "ALPHA",
            "UPPER_ROMAN",
            "ROMAN"
          ],
          "enumDescriptions": [
            "The glyph type is unspecified or unsupported.",
            "An empty string.",
            "A number, like `1`, `2`, or `3`.",
            "A number where single digit numbers are prefixed with a zero, like `01`, `02`, or `03`. Numbers with more than one digit are not prefixed with a zero.",
            "An uppercase letter, like `A`, `B`, or `C`.",
            "A lowercase letter, like `a`, `b`, or `c`.",
            "An uppercase Roman numeral, like `I`, `II`, or `III`.",
            "A lowercase Roman numeral, like `i`, `ii`, or `iii`."
          ]
        }
      }
    },
    "EmbeddedObject": {
      "type": "object",
      "description": "An embedded object in the document.",
      "id": "EmbeddedObject",
      "properties": {
        "embeddedObjectBorder": {
          "description": "The border of the embedded object.",
          "$ref": "EmbeddedObjectBorder"
        },
        "marginTop": {
          "description": "The top margin of the embedded object.",
          "$ref": "Dimension"
        },
        "embeddedDrawingProperties": {
          "description": "The properties of an embedded drawing.",
          "$ref": "EmbeddedDrawingProperties"
        },
        "marginLeft": {
          "description": "The left margin of the embedded object.",
          "$ref": "Dimension"
        },
        "imageProperties": {
          "$ref": "ImageProperties",
          "description": "The properties of an image."
        },
        "marginBottom": {
          "description": "The bottom margin of the embedded object.",
          "$ref": "Dimension"
        },
        "marginRight": {
          "$ref": "Dimension",
          "description": "The right margin of the embedded object."
        },
        "linkedContentReference": {
          "$ref": "LinkedContentReference",
          "description": "A reference to the external linked source content. For example, it contains a reference to the source Google Sheets chart when the embedded object is a linked chart. If unset, then the embedded object is not linked."
        },
        "size": {
          "description": "The visible size of the image after cropping.",
          "$ref": "Size"
        },
        "title": {
          "type": "string",
          "description": "The title of the embedded object. The `title` and `description` are both combined to display alt text."
        },
        "description": {
          "description": "The description of the embedded object. The `title` and `description` are both combined to display alt text.",
          "type": "string"
        }
      }
    },
    "PinTableHeaderRowsRequest": {
      "id": "PinTableHeaderRowsRequest",
      "type": "object",
      "properties": {
        "pinnedHeaderRowsCount": {
          "description": "The number of table rows to pin, where 0 implies that all rows are unpinned.",
          "type": "integer",
          "format": "int32"
        },
        "tableStartLocation": {
          "description": "The location where the table starts in the document.",
          "$ref": "Location"
        }
      },
      "description": "Updates the number of pinned table header rows in a table."
    },
    "Footnote": {
      "properties": {
        "footnoteId": {
          "type": "string",
          "description": "The ID of the footnote."
        },
        "content": {
          "type": "array",
          "description": "The contents of the footnote. The indexes for a footnote's content begin at zero.",
          "items": {
            "$ref": "StructuralElement"
          }
        }
      },
      "type": "object",
      "description": "A document footnote.",
      "id": "Footnote"
    },
    "SectionBreak": {
      "properties": {
        "suggestedDeletionIds": {
          "items": {
            "type": "string"
          },
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "type": "array"
        },
        "suggestedInsertionIds": {
          "type": "array",
          "description": "The suggested insertion IDs. A SectionBreak may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.",
          "items": {
            "type": "string"
          }
        },
        "sectionStyle": {
          "description": "The style of the section after this section break.",
          "$ref": "SectionStyle"
        }
      },
      "type": "object",
      "id": "SectionBreak",
      "description": "A StructuralElement representing a section break. A section is a range of content that has the same SectionStyle. A section break represents the start of a new section, and the section style applies to the section after the section break. The document body always begins with a section break."
    },
    "UpdateTextStyleRequest": {
      "description": "Update the styling of text.",
      "id": "UpdateTextStyleRequest",
      "type": "object",
      "properties": {
        "textStyle": {
          "description": "The styles to set on the text. If the value for a particular style matches that of the parent, that style will be set to inherit. Certain text style changes may cause other changes in order to to mirror the behavior of the Docs editor. See the documentation of TextStyle for more information.",
          "$ref": "TextStyle"
        },
        "range": {
          "$ref": "Range",
          "description": "The range of text to style. The range may be extended to include adjacent newlines. If the range fully contains a paragraph belonging to a list, the paragraph's bullet is also updated with the matching text style. Ranges cannot be inserted inside a relative UpdateTextStyleRequest."
        },
        "fields": {
          "description": "The fields that should be updated. At least one field must be specified. The root `text_style` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example, to update the text style to bold, set `fields` to `\"bold\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset.",
          "format": "google-fieldmask",
          "type": "string"
        }
      }
    },
    "InlineObjectElement": {
      "properties": {
        "suggestedTextStyleChanges": {
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "type": "object",
          "description": "The suggested text style changes to this InlineObject, keyed by suggestion ID."
        },
        "suggestedInsertionIds": {
          "description": "The suggested insertion IDs. An InlineObjectElement may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The text style of this InlineObjectElement. Similar to text content, like text runs and footnote references, the text style of an inline object element can affect content layout as well as the styling of text inserted next to it."
        },
        "inlineObjectId": {
          "description": "The ID of the InlineObject this element contains.",
          "type": "string"
        },
        "suggestedDeletionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content."
        }
      },
      "description": "A ParagraphElement that contains an InlineObject.",
      "id": "InlineObjectElement",
      "type": "object"
    },
    "Body": {
      "type": "object",
      "properties": {
        "content": {
          "items": {
            "$ref": "StructuralElement"
          },
          "type": "array",
          "description": "The contents of the body. The indexes for the body's content begin at zero."
        }
      },
      "description": "The document body. The body typically contains the full document contents except for headers, footers, and footnotes.",
      "id": "Body"
    },
    "TextStyleSuggestionState": {
      "id": "TextStyleSuggestionState",
      "description": "A mask that indicates which of the fields on the base TextStyle have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "properties": {
        "baselineOffsetSuggested": {
          "description": "Indicates if there was a suggested change to baseline_offset.",
          "type": "boolean"
        },
        "backgroundColorSuggested": {
          "description": "Indicates if there was a suggested change to background_color.",
          "type": "boolean"
        },
        "smallCapsSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to small_caps."
        },
        "linkSuggested": {
          "description": "Indicates if there was a suggested change to link.",
          "type": "boolean"
        },
        "strikethroughSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to strikethrough."
        },
        "boldSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to bold."
        },
        "underlineSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to underline."
        },
        "italicSuggested": {
          "description": "Indicates if there was a suggested change to italic.",
          "type": "boolean"
        },
        "weightedFontFamilySuggested": {
          "description": "Indicates if there was a suggested change to weighted_font_family.",
          "type": "boolean"
        },
        "foregroundColorSuggested": {
          "description": "Indicates if there was a suggested change to foreground_color.",
          "type": "boolean"
        },
        "fontSizeSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to font_size."
        }
      },
      "type": "object"
    },
    "SuggestedBullet": {
      "id": "SuggestedBullet",
      "type": "object",
      "description": "A suggested change to a Bullet.",
      "properties": {
        "bullet": {
          "$ref": "Bullet",
          "description": "A Bullet that only includes the changes made in this suggestion. This can be used along with the bullet_suggestion_state to see which fields have changed and their new values."
        },
        "bulletSuggestionState": {
          "description": "A mask that indicates which of the fields on the base Bullet have been changed in this suggestion.",
          "$ref": "BulletSuggestionState"
        }
      }
    },
    "ListPropertiesSuggestionState": {
      "type": "object",
      "id": "ListPropertiesSuggestionState",
      "description": "A mask that indicates which of the fields on the base ListProperties have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "properties": {
        "nestingLevelsSuggestionStates": {
          "items": {
            "$ref": "NestingLevelSuggestionState"
          },
          "description": "A mask that indicates which of the fields on the corresponding NestingLevel in nesting_levels have been changed in this suggestion. The nesting level suggestion states are returned in ascending order of the nesting level with the least nested returned first.",
          "type": "array"
        }
      }
    },
    "PersonProperties": {
      "id": "PersonProperties",
      "properties": {
        "email": {
          "description": "The email address linked to this Person. This field is always present.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the person if it's displayed in the link text instead of the person's email address."
        }
      },
      "description": "Properties specific to a linked Person.",
      "type": "object"
    },
    "BulletSuggestionState": {
      "id": "BulletSuggestionState",
      "description": "A mask that indicates which of the fields on the base Bullet have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "type": "object",
      "properties": {
        "listIdSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to the list_id."
        },
        "nestingLevelSuggested": {
          "description": "Indicates if there was a suggested change to the nesting_level.",
          "type": "boolean"
        },
        "textStyleSuggestionState": {
          "description": "A mask that indicates which of the fields in text style have been changed in this suggestion.",
          "$ref": "TextStyleSuggestionState"
        }
      }
    },
    "CropProperties": {
      "id": "CropProperties",
      "type": "object",
      "description": "The crop properties of an image. The crop rectangle is represented using fractional offsets from the original content's 4 edges. - If the offset is in the interval (0, 1), the corresponding edge of crop rectangle is positioned inside of the image's original bounding rectangle. - If the offset is negative or greater than 1, the corresponding edge of crop rectangle is positioned outside of the image's original bounding rectangle. - If all offsets and rotation angles are 0, the image is not cropped.",
      "properties": {
        "angle": {
          "description": "The clockwise rotation angle of the crop rectangle around its center, in radians. Rotation is applied after the offsets.",
          "type": "number",
          "format": "float"
        },
        "offsetLeft": {
          "type": "number",
          "description": "The offset specifies how far inwards the left edge of the crop rectangle is from the left edge of the original content as a fraction of the original content's width.",
          "format": "float"
        },
        "offsetBottom": {
          "type": "number",
          "format": "float",
          "description": "The offset specifies how far inwards the bottom edge of the crop rectangle is from the bottom edge of the original content as a fraction of the original content's height."
        },
        "offsetTop": {
          "type": "number",
          "description": "The offset specifies how far inwards the top edge of the crop rectangle is from the top edge of the original content as a fraction of the original content's height.",
          "format": "float"
        },
        "offsetRight": {
          "description": "The offset specifies how far inwards the right edge of the crop rectangle is from the right edge of the original content as a fraction of the original content's width.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "Document": {
      "description": "A Google Docs document.",
      "id": "Document",
      "type": "object",
      "properties": {
        "suggestionsViewMode": {
          "enum": [
            "DEFAULT_FOR_CURRENT_ACCESS",
            "SUGGESTIONS_INLINE",
            "PREVIEW_SUGGESTIONS_ACCEPTED",
            "PREVIEW_WITHOUT_SUGGESTIONS"
          ],
          "enumDescriptions": [
            "The SuggestionsViewMode applied to the returned document depends on the user's current access level. If the user only has view access, PREVIEW_WITHOUT_SUGGESTIONS is applied. Otherwise, SUGGESTIONS_INLINE is applied. This is the default suggestions view mode.",
            "The returned document has suggestions inline. Suggested changes will be differentiated from base content within the document. Requests to retrieve a document using this mode will return a 403 error if the user does not have permission to view suggested changes.",
            "The returned document is a preview with all suggested changes accepted. Requests to retrieve a document using this mode will return a 403 error if the user does not have permission to view suggested changes.",
            "The returned document is a preview with all suggested changes rejected if there are any suggestions in the document."
          ],
          "type": "string",
          "description": "Output only. The suggestions view mode applied to the document. Note: When editing a document, changes must be based on a document with SUGGESTIONS_INLINE."
        },
        "footers": {
          "additionalProperties": {
            "$ref": "Footer"
          },
          "type": "object",
          "description": "Output only. The footers in the document, keyed by footer ID. Legacy field: Instead, use Document.tabs.documentTab.footers, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document."
        },
        "namedStyles": {
          "description": "Output only. The named styles of the document. Legacy field: Instead, use Document.tabs.documentTab.namedStyles, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
          "$ref": "NamedStyles"
        },
        "revisionId": {
          "description": "Output only. The revision ID of the document. Can be used in update requests to specify which revision of a document to apply updates to and how the request should behave if the document has been edited since that revision. Only populated if the user has edit access to the document. The revision ID is not a sequential number but an opaque string. The format of the revision ID might change over time. A returned revision ID is only guaranteed to be valid for 24 hours after it has been returned and cannot be shared across users. If the revision ID is unchanged between calls, then the document has not changed. Conversely, a changed ID (for the same document and user) usually means the document has been updated. However, a changed ID can also be due to internal factors such as ID format changes.",
          "type": "string"
        },
        "documentId": {
          "description": "Output only. The ID of the document.",
          "type": "string"
        },
        "tabs": {
          "type": "array",
          "items": {
            "$ref": "Tab"
          },
          "description": "Output only. Tabs that are part of a document. Tabs can contain child tabs, a tab nested within another tab. Child tabs are represented by the Tab.childTabs field."
        },
        "documentStyle": {
          "$ref": "DocumentStyle",
          "description": "Output only. The style of the document. Legacy field: Instead, use Document.tabs.documentTab.documentStyle, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document."
        },
        "suggestedNamedStylesChanges": {
          "type": "object",
          "description": "Output only. The suggested changes to the named styles of the document, keyed by suggestion ID. Legacy field: Instead, use Document.tabs.documentTab.suggestedNamedStylesChanges, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
          "additionalProperties": {
            "$ref": "SuggestedNamedStyles"
          }
        },
        "footnotes": {
          "description": "Output only. The footnotes in the document, keyed by footnote ID. Legacy field: Instead, use Document.tabs.documentTab.footnotes, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
          "type": "object",
          "additionalProperties": {
            "$ref": "Footnote"
          }
        },
        "headers": {
          "description": "Output only. The headers in the document, keyed by header ID. Legacy field: Instead, use Document.tabs.documentTab.headers, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
          "additionalProperties": {
            "$ref": "Header"
          },
          "type": "object"
        },
        "inlineObjects": {
          "additionalProperties": {
            "$ref": "InlineObject"
          },
          "type": "object",
          "description": "Output only. The inline objects in the document, keyed by object ID. Legacy field: Instead, use Document.tabs.documentTab.inlineObjects, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document."
        },
        "namedRanges": {
          "description": "Output only. The named ranges in the document, keyed by name. Legacy field: Instead, use Document.tabs.documentTab.namedRanges, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
          "additionalProperties": {
            "$ref": "NamedRanges"
          },
          "type": "object"
        },
        "suggestedDocumentStyleChanges": {
          "type": "object",
          "additionalProperties": {
            "$ref": "SuggestedDocumentStyle"
          },
          "description": "Output only. The suggested changes to the style of the document, keyed by suggestion ID. Legacy field: Instead, use Document.tabs.documentTab.suggestedDocumentStyleChanges, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document."
        },
        "title": {
          "description": "The title of the document.",
          "type": "string"
        },
        "positionedObjects": {
          "type": "object",
          "description": "Output only. The positioned objects in the document, keyed by object ID. Legacy field: Instead, use Document.tabs.documentTab.positionedObjects, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
          "additionalProperties": {
            "$ref": "PositionedObject"
          }
        },
        "lists": {
          "type": "object",
          "additionalProperties": {
            "$ref": "List"
          },
          "description": "Output only. The lists in the document, keyed by list ID. Legacy field: Instead, use Document.tabs.documentTab.lists, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document."
        },
        "body": {
          "description": "Output only. The main body of the document. Legacy field: Instead, use Document.tabs.documentTab.body, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
          "$ref": "Body"
        }
      }
    },
    "Shading": {
      "description": "The shading of a paragraph.",
      "type": "object",
      "properties": {
        "backgroundColor": {
          "description": "The background color of this paragraph shading.",
          "$ref": "OptionalColor"
        }
      },
      "id": "Shading"
    },
    "Footer": {
      "id": "Footer",
      "type": "object",
      "properties": {
        "content": {
          "type": "array",
          "items": {
            "$ref": "StructuralElement"
          },
          "description": "The contents of the footer. The indexes for a footer's content begin at zero."
        },
        "footerId": {
          "description": "The ID of the footer.",
          "type": "string"
        }
      },
      "description": "A document footer."
    },
    "ObjectReferences": {
      "type": "object",
      "description": "A collection of object IDs.",
      "id": "ObjectReferences",
      "properties": {
        "objectIds": {
          "items": {
            "type": "string"
          },
          "description": "The object IDs.",
          "type": "array"
        }
      }
    },
    "StructuralElement": {
      "properties": {
        "tableOfContents": {
          "description": "A table of contents type of structural element.",
          "$ref": "TableOfContents"
        },
        "sectionBreak": {
          "$ref": "SectionBreak",
          "description": "A section break type of structural element."
        },
        "startIndex": {
          "type": "integer",
          "description": "The zero-based start index of this structural element, in UTF-16 code units.",
          "format": "int32"
        },
        "paragraph": {
          "description": "A paragraph type of structural element.",
          "$ref": "Paragraph"
        },
        "endIndex": {
          "type": "integer",
          "description": "The zero-based end index of this structural element, exclusive, in UTF-16 code units.",
          "format": "int32"
        },
        "table": {
          "description": "A table type of structural element.",
          "$ref": "Table"
        }
      },
      "id": "StructuralElement",
      "type": "object",
      "description": "A StructuralElement describes content that provides structure to the document."
    },
    "TableRow": {
      "properties": {
        "suggestedInsertionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The suggested insertion IDs. A TableRow may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion."
        },
        "suggestedDeletionIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content."
        },
        "tableRowStyle": {
          "description": "The style of the table row.",
          "$ref": "TableRowStyle"
        },
        "tableCells": {
          "type": "array",
          "description": "The contents and style of each cell in this row. It's possible for a table to be non-rectangular, so some rows may have a different number of cells than other rows in the same table.",
          "items": {
            "$ref": "TableCell"
          }
        },
        "suggestedTableRowStyleChanges": {
          "additionalProperties": {
            "$ref": "SuggestedTableRowStyle"
          },
          "type": "object",
          "description": "The suggested style changes to this row, keyed by suggestion ID."
        },
        "endIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The zero-based end index of this row, exclusive, in UTF-16 code units."
        },
        "startIndex": {
          "description": "The zero-based start index of this row, in UTF-16 code units.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "TableRow",
      "description": "The contents and style of a row in a Table.",
      "type": "object"
    },
    "CreateHeaderResponse": {
      "properties": {
        "headerId": {
          "type": "string",
          "description": "The ID of the created header."
        }
      },
      "id": "CreateHeaderResponse",
      "type": "object",
      "description": "The result of creating a header."
    },
    "PositionedObjectPositioning": {
      "description": "The positioning of a PositionedObject. The positioned object is positioned relative to the beginning of the Paragraph it's tethered to.",
      "id": "PositionedObjectPositioning",
      "type": "object",
      "properties": {
        "leftOffset": {
          "$ref": "Dimension",
          "description": "The offset of the left edge of the positioned object relative to the beginning of the Paragraph it's tethered to. The exact positioning of the object can depend on other content in the document and the document's styling."
        },
        "topOffset": {
          "$ref": "Dimension",
          "description": "The offset of the top edge of the positioned object relative to the beginning of the Paragraph it's tethered to. The exact positioning of the object can depend on other content in the document and the document's styling."
        },
        "layout": {
          "enum": [
            "POSITIONED_OBJECT_LAYOUT_UNSPECIFIED",
            "WRAP_TEXT",
            "BREAK_LEFT",
            "BREAK_RIGHT",
            "BREAK_LEFT_RIGHT",
            "IN_FRONT_OF_TEXT",
            "BEHIND_TEXT"
          ],
          "description": "The layout of this positioned object.",
          "enumDescriptions": [
            "The layout is unspecified.",
            "The text wraps around the positioned object.",
            "Breaks text such that the positioned object is on the left and text is on the right.",
            "Breaks text such that the positioned object is on the right and text is on the left.",
            "Breaks text such that there's no text on the left or right of the positioned object.",
            "The positioned object is in front of the text.",
            "The positioned object is behind the text."
          ],
          "type": "string"
        }
      }
    },
    "DeleteTableRowRequest": {
      "description": "Deletes a row from a table.",
      "id": "DeleteTableRowRequest",
      "properties": {
        "tableCellLocation": {
          "$ref": "TableCellLocation",
          "description": "The reference table cell location from which the row will be deleted. The row this cell spans will be deleted. If this is a merged cell that spans multiple rows, all rows that the cell spans will be deleted. If no rows remain in the table after this deletion, the whole table is deleted."
        }
      },
      "type": "object"
    },
    "DocumentStyleSuggestionState": {
      "id": "DocumentStyleSuggestionState",
      "type": "object",
      "description": "A mask that indicates which of the fields on the base DocumentStyle have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "properties": {
        "marginHeaderSuggested": {
          "description": "Indicates if there was a suggested change to margin_header.",
          "type": "boolean"
        },
        "defaultHeaderIdSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to default_header_id."
        },
        "marginBottomSuggested": {
          "description": "Indicates if there was a suggested change to margin_bottom.",
          "type": "boolean"
        },
        "marginFooterSuggested": {
          "description": "Indicates if there was a suggested change to margin_footer.",
          "type": "boolean"
        },
        "useCustomHeaderFooterMarginsSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to use_custom_header_footer_margins."
        },
        "firstPageFooterIdSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to first_page_footer_id."
        },
        "pageSizeSuggestionState": {
          "$ref": "SizeSuggestionState",
          "description": "A mask that indicates which of the fields in size have been changed in this suggestion."
        },
        "firstPageHeaderIdSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to first_page_header_id."
        },
        "flipPageOrientationSuggested": {
          "description": "Optional. Indicates if there was a suggested change to flip_page_orientation.",
          "type": "boolean"
        },
        "evenPageHeaderIdSuggested": {
          "description": "Indicates if there was a suggested change to even_page_header_id.",
          "type": "boolean"
        },
        "defaultFooterIdSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to default_footer_id."
        },
        "useEvenPageHeaderFooterSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to use_even_page_header_footer."
        },
        "evenPageFooterIdSuggested": {
          "description": "Indicates if there was a suggested change to even_page_footer_id.",
          "type": "boolean"
        },
        "marginLeftSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to margin_left."
        },
        "useFirstPageHeaderFooterSuggested": {
          "description": "Indicates if there was a suggested change to use_first_page_header_footer.",
          "type": "boolean"
        },
        "backgroundSuggestionState": {
          "description": "A mask that indicates which of the fields in background have been changed in this suggestion.",
          "$ref": "BackgroundSuggestionState"
        },
        "marginTopSuggested": {
          "description": "Indicates if there was a suggested change to margin_top.",
          "type": "boolean"
        },
        "pageNumberStartSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to page_number_start."
        },
        "marginRightSuggested": {
          "description": "Indicates if there was a suggested change to margin_right.",
          "type": "boolean"
        }
      }
    },
    "UpdateTableRowStyleRequest": {
      "description": "Updates the TableRowStyle of rows in a table.",
      "type": "object",
      "id": "UpdateTableRowStyleRequest",
      "properties": {
        "rowIndices": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array",
          "description": "The list of zero-based row indices whose style should be updated. If no indices are specified, all rows will be updated."
        },
        "tableStartLocation": {
          "$ref": "Location",
          "description": "The location where the table starts in the document."
        },
        "tableRowStyle": {
          "$ref": "TableRowStyle",
          "description": "The styles to be set on the rows."
        },
        "fields": {
          "description": "The fields that should be updated. At least one field must be specified. The root `tableRowStyle` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the minimum row height, set `fields` to `\"min_row_height\"`.",
          "type": "string",
          "format": "google-fieldmask"
        }
      }
    },
    "ListProperties": {
      "description": "The properties of a list that describe the look and feel of bullets belonging to paragraphs associated with a list.",
      "properties": {
        "nestingLevels": {
          "description": "Describes the properties of the bullets at the associated level. A list has at most 9 levels of nesting with nesting level 0 corresponding to the top-most level and nesting level 8 corresponding to the most nested level. The nesting levels are returned in ascending order with the least nested returned first.",
          "items": {
            "$ref": "NestingLevel"
          },
          "type": "array"
        }
      },
      "id": "ListProperties",
      "type": "object"
    },
    "NamedStylesSuggestionState": {
      "type": "object",
      "properties": {
        "stylesSuggestionStates": {
          "description": "A mask that indicates which of the fields on the corresponding NamedStyle in styles have been changed in this suggestion. The order of these named style suggestion states matches the order of the corresponding named style within the named styles suggestion.",
          "items": {
            "$ref": "NamedStyleSuggestionState"
          },
          "type": "array"
        }
      },
      "id": "NamedStylesSuggestionState",
      "description": "The suggestion state of a NamedStyles message."
    },
    "Tab": {
      "id": "Tab",
      "properties": {
        "documentTab": {
          "$ref": "DocumentTab",
          "description": "A tab with document contents, like text and images."
        },
        "childTabs": {
          "type": "array",
          "items": {
            "$ref": "Tab"
          },
          "description": "The child tabs nested within this tab."
        },
        "tabProperties": {
          "description": "The properties of the tab, like ID and title.",
          "$ref": "TabProperties"
        }
      },
      "type": "object",
      "description": "A tab in a document."
    },
    "TableCellBorder": {
      "description": "A border around a table cell. Table cell borders cannot be transparent. To hide a table cell border, make its width 0.",
      "type": "object",
      "properties": {
        "dashStyle": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified dash style.",
            "Solid line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'solid'. This is the default dash style.",
            "Dotted line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dot'.",
            "Dashed line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dash'."
          ],
          "enum": [
            "DASH_STYLE_UNSPECIFIED",
            "SOLID",
            "DOT",
            "DASH"
          ],
          "description": "The dash style of the border."
        },
        "width": {
          "description": "The width of the border.",
          "$ref": "Dimension"
        },
        "color": {
          "$ref": "OptionalColor",
          "description": "The color of the border. This color cannot be transparent."
        }
      },
      "id": "TableCellBorder"
    },
    "TabStop": {
      "id": "TabStop",
      "type": "object",
      "properties": {
        "offset": {
          "description": "The offset between this tab stop and the start margin.",
          "$ref": "Dimension"
        },
        "alignment": {
          "description": "The alignment of this tab stop. If unset, the value defaults to START.",
          "enum": [
            "TAB_STOP_ALIGNMENT_UNSPECIFIED",
            "START",
            "CENTER",
            "END"
          ],
          "enumDescriptions": [
            "The tab stop alignment is unspecified.",
            "The tab stop is aligned to the start of the line. This is the default.",
            "The tab stop is aligned to the center of the line.",
            "The tab stop is aligned to the end of the line."
          ],
          "type": "string"
        }
      },
      "description": "A tab stop within a paragraph."
    },
    "UpdateTableColumnPropertiesRequest": {
      "type": "object",
      "description": "Updates the TableColumnProperties of columns in a table.",
      "id": "UpdateTableColumnPropertiesRequest",
      "properties": {
        "fields": {
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root `tableColumnProperties` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the column width, set `fields` to `\"width\"`.",
          "format": "google-fieldmask"
        },
        "columnIndices": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array",
          "description": "The list of zero-based column indices whose property should be updated. If no indices are specified, all columns will be updated."
        },
        "tableColumnProperties": {
          "description": "The table column properties to update. If the value of `table_column_properties#width` is less than 5 points (5/72 inch), a 400 bad request error is returned.",
          "$ref": "TableColumnProperties"
        },
        "tableStartLocation": {
          "description": "The location where the table starts in the document.",
          "$ref": "Location"
        }
      }
    },
    "ReplaceImageRequest": {
      "properties": {
        "uri": {
          "description": "The URI of the new image. The image is fetched once at insertion time and a copy is stored for display inside the document. Images must be less than 50MB, cannot exceed 25 megapixels, and must be in PNG, JPEG, or GIF format. The provided URI can't surpass 2 KB in length. The URI is saved with the image, and exposed through the ImageProperties.source_uri field.",
          "type": "string"
        },
        "tabId": {
          "description": "The tab that the image to be replaced is in. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document.",
          "type": "string"
        },
        "imageObjectId": {
          "type": "string",
          "description": "The ID of the existing image that will be replaced. The ID can be retrieved from the response of a get request."
        },
        "imageReplaceMethod": {
          "description": "The replacement method.",
          "enum": [
            "IMAGE_REPLACE_METHOD_UNSPECIFIED",
            "CENTER_CROP"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified image replace method. This value must not be used.",
            "Scales and centers the image to fill the bounds of the original image. The image may be cropped in order to fill the original image's bounds. The rendered size of the image will be the same as the original image."
          ]
        }
      },
      "id": "ReplaceImageRequest",
      "type": "object",
      "description": "Replaces an existing image with a new image. Replacing an image removes some image effects from the existing image in order to mirror the behavior of the Docs editor."
    },
    "Location": {
      "id": "Location",
      "properties": {
        "segmentId": {
          "type": "string",
          "description": "The ID of the header, footer or footnote the location is in. An empty segment ID signifies the document's body."
        },
        "index": {
          "description": "The zero-based index, in UTF-16 code units. The index is relative to the beginning of the segment specified by segment_id.",
          "type": "integer",
          "format": "int32"
        },
        "tabId": {
          "description": "The tab that the location is in. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A particular location in the document."
    },
    "NamedStyles": {
      "properties": {
        "styles": {
          "type": "array",
          "items": {
            "$ref": "NamedStyle"
          },
          "description": "The named styles. There's an entry for each of the possible named style types."
        }
      },
      "description": "The named styles. Paragraphs in the document can inherit their TextStyle and ParagraphStyle from these named styles.",
      "type": "object",
      "id": "NamedStyles"
    },
    "TableOfContents": {
      "properties": {
        "suggestedInsertionIds": {
          "items": {
            "type": "string"
          },
          "description": "The suggested insertion IDs. A TableOfContents may have multiple insertion IDs if it is a nested suggested change. If empty, then this is not a suggested insertion.",
          "type": "array"
        },
        "suggestedDeletionIds": {
          "type": "array",
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "items": {
            "type": "string"
          }
        },
        "content": {
          "items": {
            "$ref": "StructuralElement"
          },
          "description": "The content of the table of contents.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "TableOfContents",
      "description": "A StructuralElement representing a table of contents."
    },
    "DeleteTableColumnRequest": {
      "description": "Deletes a column from a table.",
      "properties": {
        "tableCellLocation": {
          "$ref": "TableCellLocation",
          "description": "The reference table cell location from which the column will be deleted. The column this cell spans will be deleted. If this is a merged cell that spans multiple columns, all columns that the cell spans will be deleted. If no columns remain in the table after this deletion, the whole table is deleted."
        }
      },
      "id": "DeleteTableColumnRequest",
      "type": "object"
    },
    "UpdateTableCellStyleRequest": {
      "properties": {
        "tableRange": {
          "description": "The table range representing the subset of the table to which the updates are applied.",
          "$ref": "TableRange"
        },
        "tableCellStyle": {
          "description": "The style to set on the table cells. When updating borders, if a cell shares a border with an adjacent cell, the corresponding border property of the adjacent cell is updated as well. Borders that are merged and invisible are not updated. Since updating a border shared by adjacent cells in the same request can cause conflicting border updates, border updates are applied in the following order: - `border_right` - `border_left` - `border_bottom` - `border_top`",
          "$ref": "TableCellStyle"
        },
        "fields": {
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root `tableCellStyle` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the table cell background color, set `fields` to `\"backgroundColor\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset.",
          "format": "google-fieldmask"
        },
        "tableStartLocation": {
          "$ref": "Location",
          "description": "The location where the table starts in the document. When specified, the updates are applied to all the cells in the table."
        }
      },
      "type": "object",
      "id": "UpdateTableCellStyleRequest",
      "description": "Updates the style of a range of table cells."
    },
    "TableCellStyle": {
      "type": "object",
      "properties": {
        "paddingRight": {
          "$ref": "Dimension",
          "description": "The right padding of the cell."
        },
        "columnSpan": {
          "description": "The column span of the cell. This property is read-only.",
          "format": "int32",
          "type": "integer"
        },
        "borderBottom": {
          "$ref": "TableCellBorder",
          "description": "The bottom border of the cell."
        },
        "contentAlignment": {
          "enum": [
            "CONTENT_ALIGNMENT_UNSPECIFIED",
            "CONTENT_ALIGNMENT_UNSUPPORTED",
            "TOP",
            "MIDDLE",
            "BOTTOM"
          ],
          "description": "The alignment of the content in the table cell. The default alignment matches the alignment for newly created table cells in the Docs editor.",
          "enumDescriptions": [
            "An unspecified content alignment. The content alignment is inherited from the parent if one exists.",
            "An unsupported content alignment.",
            "An alignment that aligns the content to the top of the content holder. Corresponds to ECMA-376 ST_TextAnchoringType 't'.",
            "An alignment that aligns the content to the middle of the content holder. Corresponds to ECMA-376 ST_TextAnchoringType 'ctr'.",
            "An alignment that aligns the content to the bottom of the content holder. Corresponds to ECMA-376 ST_TextAnchoringType 'b'."
          ],
          "type": "string"
        },
        "paddingBottom": {
          "description": "The bottom padding of the cell.",
          "$ref": "Dimension"
        },
        "borderRight": {
          "$ref": "TableCellBorder",
          "description": "The right border of the cell."
        },
        "borderTop": {
          "description": "The top border of the cell.",
          "$ref": "TableCellBorder"
        },
        "paddingLeft": {
          "description": "The left padding of the cell.",
          "$ref": "Dimension"
        },
        "paddingTop": {
          "description": "The top padding of the cell.",
          "$ref": "Dimension"
        },
        "rowSpan": {
          "format": "int32",
          "description": "The row span of the cell. This property is read-only.",
          "type": "integer"
        },
        "borderLeft": {
          "description": "The left border of the cell.",
          "$ref": "TableCellBorder"
        },
        "backgroundColor": {
          "description": "The background color of the cell.",
          "$ref": "OptionalColor"
        }
      },
      "description": "The style of a TableCell. Inherited table cell styles are represented as unset fields in this message. A table cell style can inherit from the table's style.",
      "id": "TableCellStyle"
    },
    "Request": {
      "type": "object",
      "id": "Request",
      "properties": {
        "replaceAllText": {
          "description": "Replaces all instances of the specified text.",
          "$ref": "ReplaceAllTextRequest"
        },
        "createHeader": {
          "description": "Creates a header.",
          "$ref": "CreateHeaderRequest"
        },
        "deleteFooter": {
          "description": "Deletes a footer from the document.",
          "$ref": "DeleteFooterRequest"
        },
        "updateTextStyle": {
          "description": "Updates the text style at the specified range.",
          "$ref": "UpdateTextStyleRequest"
        },
        "insertTableRow": {
          "description": "Inserts an empty row into a table.",
          "$ref": "InsertTableRowRequest"
        },
        "deleteContentRange": {
          "description": "Deletes content from the document.",
          "$ref": "DeleteContentRangeRequest"
        },
        "insertInlineImage": {
          "description": "Inserts an inline image at the specified location.",
          "$ref": "InsertInlineImageRequest"
        },
        "insertRichLink": {
          "$ref": "InsertRichLinkRequest",
          "description": "Insert a rich link."
        },
        "updateDocumentTabProperties": {
          "description": "Updates the properties of a document tab.",
          "$ref": "UpdateDocumentTabPropertiesRequest"
        },
        "updateSectionStyle": {
          "$ref": "UpdateSectionStyleRequest",
          "description": "Updates the section style of the specified range."
        },
        "deleteHeader": {
          "description": "Deletes a header from the document.",
          "$ref": "DeleteHeaderRequest"
        },
        "insertText": {
          "description": "Inserts text at the specified location.",
          "$ref": "InsertTextRequest"
        },
        "updateDocumentStyle": {
          "description": "Updates the style of the document.",
          "$ref": "UpdateDocumentStyleRequest"
        },
        "updateParagraphStyle": {
          "$ref": "UpdateParagraphStyleRequest",
          "description": "Updates the paragraph style at the specified range."
        },
        "pinTableHeaderRows": {
          "$ref": "PinTableHeaderRowsRequest",
          "description": "Updates the number of pinned header rows in a table."
        },
        "deleteTableRow": {
          "description": "Deletes a row from a table.",
          "$ref": "DeleteTableRowRequest"
        },
        "deleteNamedRange": {
          "description": "Deletes a named range.",
          "$ref": "DeleteNamedRangeRequest"
        },
        "insertPerson": {
          "$ref": "InsertPersonRequest",
          "description": "Inserts a person mention."
        },
        "createParagraphBullets": {
          "description": "Creates bullets for paragraphs.",
          "$ref": "CreateParagraphBulletsRequest"
        },
        "insertPageBreak": {
          "description": "Inserts a page break at the specified location.",
          "$ref": "InsertPageBreakRequest"
        },
        "deletePositionedObject": {
          "description": "Deletes a positioned object from the document.",
          "$ref": "DeletePositionedObjectRequest"
        },
        "deleteTab": {
          "$ref": "DeleteTabRequest",
          "description": "Deletes a document tab."
        },
        "insertDate": {
          "description": "Inserts a date.",
          "$ref": "InsertDateRequest"
        },
        "insertTableColumn": {
          "$ref": "InsertTableColumnRequest",
          "description": "Inserts an empty column into a table."
        },
        "createNamedRange": {
          "description": "Creates a named range.",
          "$ref": "CreateNamedRangeRequest"
        },
        "mergeTableCells": {
          "$ref": "MergeTableCellsRequest",
          "description": "Merges cells in a table."
        },
        "insertSectionBreak": {
          "$ref": "InsertSectionBreakRequest",
          "description": "Inserts a section break at the specified location."
        },
        "unmergeTableCells": {
          "$ref": "UnmergeTableCellsRequest",
          "description": "Unmerges cells in a table."
        },
        "addDocumentTab": {
          "$ref": "AddDocumentTabRequest",
          "description": "Adds a document tab."
        },
        "updateTableRowStyle": {
          "description": "Updates the row style in a table.",
          "$ref": "UpdateTableRowStyleRequest"
        },
        "replaceImage": {
          "description": "Replaces an image in the document.",
          "$ref": "ReplaceImageRequest"
        },
        "updateTableCellStyle": {
          "description": "Updates the style of table cells.",
          "$ref": "UpdateTableCellStyleRequest"
        },
        "updateNamedStyle": {
          "description": "Updates a named style.",
          "$ref": "UpdateNamedStyleRequest"
        },
        "updateTableColumnProperties": {
          "description": "Updates the properties of columns in a table.",
          "$ref": "UpdateTableColumnPropertiesRequest"
        },
        "createFootnote": {
          "description": "Creates a footnote.",
          "$ref": "CreateFootnoteRequest"
        },
        "insertTable": {
          "$ref": "InsertTableRequest",
          "description": "Inserts a table at the specified location."
        },
        "createFooter": {
          "description": "Creates a footer.",
          "$ref": "CreateFooterRequest"
        },
        "replaceNamedRangeContent": {
          "$ref": "ReplaceNamedRangeContentRequest",
          "description": "Replaces the content in a named range."
        },
        "deleteTableColumn": {
          "description": "Deletes a column from a table.",
          "$ref": "DeleteTableColumnRequest"
        },
        "deleteParagraphBullets": {
          "description": "Deletes bullets from paragraphs.",
          "$ref": "DeleteParagraphBulletsRequest"
        }
      },
      "description": "A single update to apply to a document."
    },
    "SizeSuggestionState": {
      "description": "A mask that indicates which of the fields on the base Size have been changed in this suggestion. For any field set to true, the Size has a new suggested value.",
      "properties": {
        "widthSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to width."
        },
        "heightSuggested": {
          "description": "Indicates if there was a suggested change to height.",
          "type": "boolean"
        }
      },
      "id": "SizeSuggestionState",
      "type": "object"
    },
    "TableRange": {
      "properties": {
        "rowSpan": {
          "type": "integer",
          "format": "int32",
          "description": "The row span of the table range."
        },
        "tableCellLocation": {
          "description": "The cell location where the table range starts.",
          "$ref": "TableCellLocation"
        },
        "columnSpan": {
          "type": "integer",
          "format": "int32",
          "description": "The column span of the table range."
        }
      },
      "type": "object",
      "description": "A table range represents a reference to a subset of a table. It's important to note that the cells specified by a table range do not necessarily form a rectangle. For example, let's say we have a 3 x 3 table where all the cells of the last row are merged together. The table looks like this: [ ] A table range with table cell location = (table_start_location, row = 0, column = 0), row span = 3 and column span = 2 specifies the following cells: x x [ x x x ]",
      "id": "TableRange"
    },
    "BackgroundSuggestionState": {
      "id": "BackgroundSuggestionState",
      "properties": {
        "backgroundColorSuggested": {
          "type": "boolean",
          "description": "Indicates whether the current background color has been modified in this suggestion."
        }
      },
      "description": "A mask that indicates which of the fields on the base Background have been changed in this suggestion. For any field set to true, the Backgound has a new suggested value.",
      "type": "object"
    },
    "Response": {
      "description": "A single response from an update.",
      "id": "Response",
      "type": "object",
      "properties": {
        "replaceAllText": {
          "description": "The result of replacing text.",
          "$ref": "ReplaceAllTextResponse"
        },
        "addDocumentTab": {
          "description": "The result of adding a document tab.",
          "$ref": "AddDocumentTabResponse"
        },
        "createHeader": {
          "description": "The result of creating a header.",
          "$ref": "CreateHeaderResponse"
        },
        "createNamedRange": {
          "$ref": "CreateNamedRangeResponse",
          "description": "The result of creating a named range."
        },
        "createFootnote": {
          "$ref": "CreateFootnoteResponse",
          "description": "The result of creating a footnote."
        },
        "insertInlineImage": {
          "description": "The result of inserting an inline image.",
          "$ref": "InsertInlineImageResponse"
        },
        "createFooter": {
          "$ref": "CreateFooterResponse",
          "description": "The result of creating a footer."
        },
        "insertInlineSheetsChart": {
          "description": "The result of inserting an inline Google Sheets chart.",
          "$ref": "InsertInlineSheetsChartResponse"
        }
      }
    },
    "FootnoteReference": {
      "type": "object",
      "description": "A ParagraphElement representing a footnote reference. A footnote reference is the inline content rendered with a number and is used to identify the footnote.",
      "id": "FootnoteReference",
      "properties": {
        "textStyle": {
          "description": "The text style of this FootnoteReference.",
          "$ref": "TextStyle"
        },
        "footnoteId": {
          "description": "The ID of the footnote that contains the content of this footnote reference.",
          "type": "string"
        },
        "suggestedTextStyleChanges": {
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "description": "The suggested text style changes to this FootnoteReference, keyed by suggestion ID.",
          "type": "object"
        },
        "suggestedDeletionIds": {
          "type": "array",
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "items": {
            "type": "string"
          }
        },
        "footnoteNumber": {
          "description": "The rendered number of this footnote.",
          "type": "string"
        },
        "suggestedInsertionIds": {
          "description": "The suggested insertion IDs. A FootnoteReference may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "EndOfSegmentLocation": {
      "type": "object",
      "id": "EndOfSegmentLocation",
      "properties": {
        "segmentId": {
          "type": "string",
          "description": "The ID of the header, footer or footnote the location is in. An empty segment ID signifies the document's body."
        },
        "tabId": {
          "type": "string",
          "description": "The tab that the location is in. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document."
        }
      },
      "description": "Location at the end of a body, header, footer or footnote. The location is immediately before the last newline in the document segment."
    },
    "ParagraphStyle": {
      "description": "Styles that apply to a whole paragraph. Inherited paragraph styles are represented as unset fields in this message. A paragraph style's parent depends on where the paragraph style is defined: * The ParagraphStyle on a Paragraph inherits from the paragraph's corresponding named style type. * The ParagraphStyle on a named style inherits from the normal text named style. * The ParagraphStyle of the normal text named style inherits from the default paragraph style in the Docs editor. * The ParagraphStyle on a Paragraph element that's contained in a table may inherit its paragraph style from the table style. If the paragraph style does not inherit from a parent, unsetting fields will revert the style to a value matching the defaults in the Docs editor.",
      "type": "object",
      "id": "ParagraphStyle",
      "properties": {
        "borderBetween": {
          "description": "The border between this paragraph and the next and previous paragraphs. If unset, the value is inherited from the parent. The between border is rendered when the adjacent paragraph has the same border and indent properties. Paragraph borders cannot be partially updated. When changing a paragraph border, the new border must be specified in its entirety.",
          "$ref": "ParagraphBorder"
        },
        "lineSpacing": {
          "description": "The amount of space between lines, as a percentage of normal, where normal is represented as 100.0. If unset, the value is inherited from the parent.",
          "format": "float",
          "type": "number"
        },
        "pageBreakBefore": {
          "description": "Whether the current paragraph should always start at the beginning of a page. If unset, the value is inherited from the parent. Attempting to update page_break_before for paragraphs in unsupported regions, including Table, Header, Footer and Footnote, can result in an invalid document state that returns a 400 bad request error.",
          "type": "boolean"
        },
        "indentEnd": {
          "$ref": "Dimension",
          "description": "The amount of indentation for the paragraph on the side that corresponds to the end of the text, based on the current paragraph direction. If unset, the value is inherited from the parent."
        },
        "namedStyleType": {
          "type": "string",
          "enumDescriptions": [
            "The type of named style is unspecified.",
            "Normal text.",
            "Title.",
            "Subtitle.",
            "Heading 1.",
            "Heading 2.",
            "Heading 3.",
            "Heading 4.",
            "Heading 5.",
            "Heading 6."
          ],
          "description": "The named style type of the paragraph. Since updating the named style type affects other properties within ParagraphStyle, the named style type is applied before the other properties are updated.",
          "enum": [
            "NAMED_STYLE_TYPE_UNSPECIFIED",
            "NORMAL_TEXT",
            "TITLE",
            "SUBTITLE",
            "HEADING_1",
            "HEADING_2",
            "HEADING_3",
            "HEADING_4",
            "HEADING_5",
            "HEADING_6"
          ]
        },
        "avoidWidowAndOrphan": {
          "description": "Whether to avoid widows and orphans for the paragraph. If unset, the value is inherited from the parent.",
          "type": "boolean"
        },
        "keepWithNext": {
          "description": "Whether at least a part of this paragraph should be laid out on the same page or column as the next paragraph if possible. If unset, the value is inherited from the parent.",
          "type": "boolean"
        },
        "direction": {
          "description": "The text direction of this paragraph. If unset, the value defaults to LEFT_TO_RIGHT since paragraph direction is not inherited.",
          "enum": [
            "CONTENT_DIRECTION_UNSPECIFIED",
            "LEFT_TO_RIGHT",
            "RIGHT_TO_LEFT"
          ],
          "enumDescriptions": [
            "The content direction is unspecified.",
            "The content goes from left to right.",
            "The content goes from right to left."
          ],
          "type": "string"
        },
        "keepLinesTogether": {
          "description": "Whether all lines of the paragraph should be laid out on the same page or column if possible. If unset, the value is inherited from the parent.",
          "type": "boolean"
        },
        "indentStart": {
          "description": "The amount of indentation for the paragraph on the side that corresponds to the start of the text, based on the current paragraph direction. If unset, the value is inherited from the parent.",
          "$ref": "Dimension"
        },
        "shading": {
          "description": "The shading of the paragraph. If unset, the value is inherited from the parent.",
          "$ref": "Shading"
        },
        "headingId": {
          "description": "The heading ID of the paragraph. If empty, then this paragraph is not a heading. This property is read-only.",
          "type": "string"
        },
        "spacingMode": {
          "enum": [
            "SPACING_MODE_UNSPECIFIED",
            "NEVER_COLLAPSE",
            "COLLAPSE_LISTS"
          ],
          "enumDescriptions": [
            "The spacing mode is inherited from the parent.",
            "Paragraph spacing is always rendered.",
            "Paragraph spacing is skipped between list elements."
          ],
          "description": "The spacing mode for the paragraph.",
          "type": "string"
        },
        "borderTop": {
          "$ref": "ParagraphBorder",
          "description": "The border at the top of this paragraph. If unset, the value is inherited from the parent. The top border is rendered when the paragraph above has different border and indent properties. Paragraph borders cannot be partially updated. When changing a paragraph border, the new border must be specified in its entirety."
        },
        "indentFirstLine": {
          "$ref": "Dimension",
          "description": "The amount of indentation for the first line of the paragraph. If unset, the value is inherited from the parent."
        },
        "alignment": {
          "description": "The text alignment for this paragraph.",
          "enum": [
            "ALIGNMENT_UNSPECIFIED",
            "START",
            "CENTER",
            "END",
            "JUSTIFIED"
          ],
          "type": "string",
          "enumDescriptions": [
            "The paragraph alignment is inherited from the parent.",
            "The paragraph is aligned to the start of the line. Left-aligned for LTR text, right-aligned otherwise.",
            "The paragraph is centered.",
            "The paragraph is aligned to the end of the line. Right-aligned for LTR text, left-aligned otherwise.",
            "The paragraph is justified."
          ]
        },
        "borderLeft": {
          "$ref": "ParagraphBorder",
          "description": "The border to the left of this paragraph. If unset, the value is inherited from the parent. Paragraph borders cannot be partially updated. When changing a paragraph border, the new border must be specified in its entirety."
        },
        "borderBottom": {
          "$ref": "ParagraphBorder",
          "description": "The border at the bottom of this paragraph. If unset, the value is inherited from the parent. The bottom border is rendered when the paragraph below has different border and indent properties. Paragraph borders cannot be partially updated. When changing a paragraph border, the new border must be specified in its entirety."
        },
        "borderRight": {
          "description": "The border to the right of this paragraph. If unset, the value is inherited from the parent. Paragraph borders cannot be partially updated. When changing a paragraph border, the new border must be specified in its entirety.",
          "$ref": "ParagraphBorder"
        },
        "tabStops": {
          "description": "A list of the tab stops for this paragraph. The list of tab stops is not inherited. This property is read-only.",
          "type": "array",
          "items": {
            "$ref": "TabStop"
          }
        },
        "spaceBelow": {
          "$ref": "Dimension",
          "description": "The amount of extra space below the paragraph. If unset, the value is inherited from the parent."
        },
        "spaceAbove": {
          "description": "The amount of extra space above the paragraph. If unset, the value is inherited from the parent.",
          "$ref": "Dimension"
        }
      }
    },
    "UpdateDocumentTabPropertiesRequest": {
      "description": "Update the properties of a document tab.",
      "properties": {
        "fields": {
          "description": "The fields that should be updated. At least one field must be specified. The root `tab_properties` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "tabProperties": {
          "description": "The tab properties to update.",
          "$ref": "TabProperties"
        }
      },
      "type": "object",
      "id": "UpdateDocumentTabPropertiesRequest"
    },
    "HeadingLink": {
      "description": "A reference to a heading in this document.",
      "id": "HeadingLink",
      "type": "object",
      "properties": {
        "tabId": {
          "type": "string",
          "description": "The ID of the tab containing this heading."
        },
        "id": {
          "type": "string",
          "description": "The ID of a heading in this document."
        }
      }
    },
    "DateElement": {
      "properties": {
        "textStyle": {
          "description": "The text style of this DateElement.",
          "$ref": "TextStyle"
        },
        "dateId": {
          "type": "string",
          "description": "Output only. The unique ID of this date.",
          "readOnly": true
        },
        "suggestedDateElementPropertiesChanges": {
          "type": "object",
          "description": "The suggested changes to the date element properties, keyed by suggestion ID.",
          "additionalProperties": {
            "$ref": "SuggestedDateElementProperties"
          }
        },
        "suggestedTextStyleChanges": {
          "type": "object",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "description": "The suggested text style changes to this DateElement, keyed by suggestion ID."
        },
        "suggestedDeletionIds": {
          "description": "IDs for suggestions that remove this date from the document. A DateElement might have multiple deletion IDs if, for example, multiple users suggest deleting it. If empty, then this date isn't suggested for deletion.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "dateElementProperties": {
          "$ref": "DateElementProperties",
          "description": "The properties of this DateElement."
        },
        "suggestedInsertionIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "IDs for suggestions that insert this date into the document. A DateElement might have multiple insertion IDs if it's a nested suggested change (a suggestion within a suggestion made by a different user, for example). If empty, then this date isn't a suggested insertion."
        }
      },
      "type": "object",
      "description": "A date instance mentioned in a document.",
      "id": "DateElement"
    },
    "UpdateNamedStyleRequest": {
      "description": "Updates a named style.",
      "properties": {
        "namedStyle": {
          "description": "The document style to update.",
          "$ref": "NamedStyle"
        },
        "tabId": {
          "description": "The document tab to update. By default, the update is applied to the first tab.",
          "type": "string"
        },
        "fields": {
          "description": "The NamedStyle fields that should be updated. At least `named_style_type` must be specified. The root `named_style` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example, to update the text style to bold, set `fields` to include `\"text_style\"` and `\"text_style.bold\"`. To update the paragraph style's alignment property, set `fields` to include `\"paragraph_style\"` and `\"paragraph_style.alignment\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset. Specifying `\"text_style\"` or `\"paragraph_style\"` with an empty TextStyle or ParagraphStyle will reset all of its nested fields.",
          "type": "string",
          "format": "google-fieldmask"
        }
      },
      "type": "object",
      "id": "UpdateNamedStyleRequest"
    },
    "Bullet": {
      "properties": {
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The paragraph-specific text style applied to this bullet."
        },
        "listId": {
          "type": "string",
          "description": "The ID of the list this paragraph belongs to."
        },
        "nestingLevel": {
          "type": "integer",
          "format": "int32",
          "description": "The nesting level of this paragraph in the list."
        }
      },
      "description": "Describes the bullet of a paragraph.",
      "id": "Bullet",
      "type": "object"
    },
    "InlineObjectPropertiesSuggestionState": {
      "properties": {
        "embeddedObjectSuggestionState": {
          "$ref": "EmbeddedObjectSuggestionState",
          "description": "A mask that indicates which of the fields in embedded_object have been changed in this suggestion."
        }
      },
      "id": "InlineObjectPropertiesSuggestionState",
      "type": "object",
      "description": "A mask that indicates which of the fields on the base InlineObjectProperties have been changed in this suggestion. For any field set to true, there's a new suggested value."
    },
    "InsertSectionBreakRequest": {
      "type": "object",
      "properties": {
        "endOfSegmentLocation": {
          "description": "Inserts a newline and a section break at the end of the document body. Section breaks cannot be inserted inside a footnote, header or footer. Because section breaks can only be inserted inside the body, the segment ID field must be empty.",
          "$ref": "EndOfSegmentLocation"
        },
        "location": {
          "description": "Inserts a newline and a section break at a specific index in the document. The section break must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between the table and its preceding paragraph). Section breaks cannot be inserted inside a table, equation, footnote, header, or footer. Since section breaks can only be inserted inside the body, the segment ID field must be empty.",
          "$ref": "Location"
        },
        "sectionType": {
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "CONTINUOUS",
            "NEXT_PAGE"
          ],
          "enumDescriptions": [
            "The section type is unspecified.",
            "The section starts immediately after the last paragraph of the previous section.",
            "The section starts on the next page."
          ],
          "description": "The type of section to insert.",
          "type": "string"
        }
      },
      "description": "Inserts a section break at the given location. A newline character will be inserted before the section break.",
      "id": "InsertSectionBreakRequest"
    },
    "NestingLevelSuggestionState": {
      "type": "object",
      "description": "A mask that indicates which of the fields on the base NestingLevel have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "id": "NestingLevelSuggestionState",
      "properties": {
        "glyphFormatSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to glyph_format."
        },
        "glyphSymbolSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to glyph_symbol."
        },
        "glyphTypeSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to glyph_type."
[...]
