{
  "baseUrl": "https://docs.googleapis.com/",
  "version": "v1",
  "protocol": "rest",
  "rootUrl": "https://docs.googleapis.com/",
  "discoveryVersion": "v1",
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/documents": {
          "description": "See, edit, create, and delete all your Google Docs documents"
        },
        "https://www.googleapis.com/auth/documents.readonly": {
          "description": "See all your Google Docs documents"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "See and download all your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.file": {
          "description": "See, edit, create, and delete only the specific Google Drive files you use with this app"
        }
      }
    }
  },
  "canonicalName": "Docs",
  "mtlsRootUrl": "https://docs.mtls.googleapis.com/",
  "schemas": {
    "InsertTableRowRequest": {
      "description": "Inserts an empty row into a table.",
      "id": "InsertTableRowRequest",
      "type": "object",
      "properties": {
        "insertBelow": {
          "description": "Whether to insert new row below the reference cell location. - `True`: insert below the cell. - `False`: insert above the cell.",
          "type": "boolean"
        },
        "tableCellLocation": {
          "description": "The reference table cell location from which rows will be inserted. A new row will be inserted above (or below) the row where the reference cell is. If the reference cell is a merged cell, a new row will be inserted above (or below) the merged cell.",
          "$ref": "TableCellLocation"
        }
      }
    },
    "Location": {
      "type": "object",
      "description": "A particular location in the document.",
      "id": "Location",
      "properties": {
        "tabId": {
          "description": "The tab that the location is in. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document.",
          "type": "string"
        },
        "segmentId": {
          "description": "The ID of the header, footer or footnote the location is in. An empty segment ID signifies the document's body.",
          "type": "string"
        },
        "index": {
          "description": "The zero-based index, in UTF-16 code units. The index is relative to the beginning of the segment specified by segment_id.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "BookmarkLink": {
      "properties": {
        "tabId": {
          "description": "The ID of the tab containing this bookmark.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The ID of a bookmark in this document."
        }
      },
      "description": "A reference to a bookmark in this document.",
      "id": "BookmarkLink",
      "type": "object"
    },
    "Header": {
      "type": "object",
      "id": "Header",
      "description": "A document header.",
      "properties": {
        "headerId": {
          "description": "The ID of the header.",
          "type": "string"
        },
        "content": {
          "description": "The contents of the header. The indexes for a header's content begin at zero.",
          "type": "array",
          "items": {
            "$ref": "StructuralElement"
          }
        }
      }
    },
    "SuggestionResponse": {
      "id": "SuggestionResponse",
      "description": "The suggestions which were affected by a given update. [Developer Preview](https://developers.google.com/workspace/preview).",
      "properties": {
        "updatedSummarySuggestionIds": {
          "description": "The IDs of suggestions whose summaries were updated during the update.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "acceptedSuggestionIds": {
          "description": "The IDs of suggestions which were accepted during the update.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "rejectedSuggestionIds": {
          "type": "array",
          "description": "The IDs of suggestions which were rejected during the update.",
          "items": {
            "type": "string"
          }
        },
        "deletedSuggestionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The IDs of suggestions which were deleted during the update."
        },
        "createdSuggestionIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The IDs of suggestions which were created during the update."
        }
      },
      "type": "object"
    },
    "AddDocumentTabRequest": {
      "properties": {
        "tabProperties": {
          "description": "The properties of the tab to add. All properties are optional.",
          "$ref": "TabProperties"
        }
      },
      "description": "Adds a document tab. When a tab is added at a given index, all subsequent tabs' indexes are incremented.",
      "type": "object",
      "id": "AddDocumentTabRequest"
    },
    "DeleteDropdownDefinitionRequest": {
      "properties": {
        "dropdownDefinitionId": {
          "type": "string",
          "description": "The ID of the DropdownDefinition to delete."
        },
        "tabId": {
          "description": "The ID of the tab that contains the dropdown definition to delete. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document.",
          "type": "string"
        }
      },
      "id": "DeleteDropdownDefinitionRequest",
      "description": "Deletes a DropdownDefinition. If the dropdown definition is referenced by any dropdown instances (chips) in the document, a 400 bad request error is returned.",
      "type": "object"
    },
    "InsertDropdownRequest": {
      "properties": {
        "selectedOptionId": {
          "type": "string",
          "description": "Optional initial value for the dropdown. If this field is not specified, the new dropdown will default to selecting the first option defined in the dropdown definition. If this field is specified but does not reference a valid option in the dropdown definition, a 400 bad request error is returned."
        },
        "endOfSegmentLocation": {
          "description": "The EndOfSegmentLocation in the document to insert the dropdown at.",
          "$ref": "EndOfSegmentLocation"
        },
        "dropdownDefinitionId": {
          "description": "Required. The DropdownDefinition ID.",
          "type": "string"
        },
        "location": {
          "$ref": "Location",
          "description": "The Location in the document to insert the dropdown at."
        }
      },
      "id": "InsertDropdownRequest",
      "type": "object",
      "description": "Inserts a Dropdown at the specified location."
    },
    "AcceptSuggestionRequest": {
      "properties": {
        "suggestionId": {
          "description": "The ID of the suggestion.",
          "type": "string"
        }
      },
      "id": "AcceptSuggestionRequest",
      "type": "object",
      "description": "Accepts a suggestion. Returns a 403 forbidden error if the requesting user does not have edit access to the document. [Developer Preview](https://developers.google.com/workspace/preview)."
    },
    "DocumentStyleSuggestionState": {
      "properties": {
        "marginRightSuggested": {
          "description": "Indicates if there was a suggested change to margin_right.",
          "type": "boolean"
        },
        "marginLeftSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to margin_left."
        },
        "marginFooterSuggested": {
          "description": "Indicates if there was a suggested change to margin_footer.",
          "type": "boolean"
        },
        "flipPageOrientationSuggested": {
          "description": "Optional. Indicates if there was a suggested change to flip_page_orientation.",
          "type": "boolean"
        },
        "defaultHeaderIdSuggested": {
          "description": "Indicates if there was a suggested change to default_header_id.",
          "type": "boolean"
        },
        "marginHeaderSuggested": {
          "description": "Indicates if there was a suggested change to margin_header.",
          "type": "boolean"
        },
        "pageSizeSuggestionState": {
          "$ref": "SizeSuggestionState",
          "description": "A mask that indicates which of the fields in size have been changed in this suggestion."
        },
        "pageNumberStartSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to page_number_start."
        },
        "defaultFooterIdSuggested": {
          "description": "Indicates if there was a suggested change to default_footer_id.",
          "type": "boolean"
        },
        "firstPageFooterIdSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to first_page_footer_id."
        },
        "backgroundSuggestionState": {
          "$ref": "BackgroundSuggestionState",
          "description": "A mask that indicates which of the fields in background have been changed in this suggestion."
        },
        "firstPageHeaderIdSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to first_page_header_id."
        },
        "useEvenPageHeaderFooterSuggested": {
          "description": "Indicates if there was a suggested change to use_even_page_header_footer.",
          "type": "boolean"
        },
        "marginBottomSuggested": {
          "description": "Indicates if there was a suggested change to margin_bottom.",
          "type": "boolean"
        },
        "useCustomHeaderFooterMarginsSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to use_custom_header_footer_margins."
        },
        "useFirstPageHeaderFooterSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to use_first_page_header_footer."
        },
        "evenPageHeaderIdSuggested": {
          "description": "Indicates if there was a suggested change to even_page_header_id.",
          "type": "boolean"
        },
        "evenPageFooterIdSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to even_page_footer_id."
        },
        "marginTopSuggested": {
          "description": "Indicates if there was a suggested change to margin_top.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "DocumentStyleSuggestionState",
      "description": "A mask that indicates which of the fields on the base DocumentStyle have been changed in this suggestion. For any field set to true, there's a new suggested value."
    },
    "EmbeddedObjectBorder": {
      "id": "EmbeddedObjectBorder",
      "type": "object",
      "description": "A border around an EmbeddedObject.",
      "properties": {
        "dashStyle": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified dash style.",
            "Solid line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'solid'. This is the default dash style.",
            "Dotted line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dot'.",
            "Dashed line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dash'."
          ],
          "enum": [
            "DASH_STYLE_UNSPECIFIED",
            "SOLID",
            "DOT",
            "DASH"
          ],
          "description": "The dash style of the border."
        },
        "color": {
          "description": "The color of the border.",
          "$ref": "OptionalColor"
        },
        "width": {
          "description": "The width of the border.",
          "$ref": "Dimension"
        },
        "propertyState": {
          "enum": [
            "RENDERED",
            "NOT_RENDERED"
          ],
          "description": "The property state of the border property.",
          "type": "string",
          "enumDescriptions": [
            "If a property's state is RENDERED, then the element has the corresponding property when rendered in the document. This is the default value.",
            "If a property's state is NOT_RENDERED, then the element does not have the corresponding property when rendered in the document."
          ]
        }
      }
    },
    "SectionColumnProperties": {
      "type": "object",
      "properties": {
        "paddingEnd": {
          "description": "The padding at the end of the column.",
          "$ref": "Dimension"
        },
        "width": {
          "description": "Output only. The width of the column.",
          "$ref": "Dimension"
        }
      },
      "id": "SectionColumnProperties",
      "description": "Properties that apply to a section's column."
    },
    "InlineObjectElement": {
      "description": "A ParagraphElement that contains an InlineObject.",
      "id": "InlineObjectElement",
      "properties": {
        "suggestedInsertionIds": {
          "description": "The suggested insertion IDs. An InlineObjectElement may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "inlineObjectId": {
          "type": "string",
          "description": "The ID of the InlineObject this element contains."
        },
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The text style of this InlineObjectElement. Similar to text content, like text runs and footnote references, the text style of an inline object element can affect content layout as well as the styling of text inserted next to it."
        },
        "suggestedDeletionIds": {
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "suggestedTextStyleChanges": {
          "type": "object",
          "description": "The suggested text style changes to this InlineObject, keyed by suggestion ID.",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          }
        }
      },
      "type": "object"
    },
    "SuggestedBullet": {
      "properties": {
        "bulletSuggestionState": {
          "description": "A mask that indicates which of the fields on the base Bullet have been changed in this suggestion.",
          "$ref": "BulletSuggestionState"
        },
        "bullet": {
          "description": "A Bullet that only includes the changes made in this suggestion. This can be used along with the bullet_suggestion_state to see which fields have changed and their new values.",
          "$ref": "Bullet"
        }
      },
      "id": "SuggestedBullet",
      "type": "object",
      "description": "A suggested change to a Bullet."
    },
    "DeleteTableColumnRequest": {
      "type": "object",
      "description": "Deletes a column from a table.",
      "properties": {
        "tableCellLocation": {
          "description": "The reference table cell location from which the column will be deleted. The column this cell spans will be deleted. If this is a merged cell that spans multiple columns, all columns that the cell spans will be deleted. If no columns remain in the table after this deletion, the whole table is deleted.",
          "$ref": "TableCellLocation"
        }
      },
      "id": "DeleteTableColumnRequest"
    },
    "InlineObjectProperties": {
      "type": "object",
      "id": "InlineObjectProperties",
      "description": "Properties of an InlineObject.",
      "properties": {
        "embeddedObject": {
          "description": "The embedded object of this inline object.",
          "$ref": "EmbeddedObject"
        }
      }
    },
    "CreateDropdownDefinitionResponse": {
      "id": "CreateDropdownDefinitionResponse",
      "type": "object",
      "description": "Response message for creating a dropdown definition.",
      "properties": {
        "dropdownDefinition": {
          "description": "The newly-created DropdownDefinition.",
          "$ref": "DropdownDefinition"
        }
      }
    },
    "SuggestedDropdownDefinitionProperties": {
      "properties": {
        "dropdownDefinitionPropertiesSuggestionState": {
          "$ref": "DropdownDefinitionPropertiesSuggestionState",
          "description": "A mask that indicates which of the fields on the base DropdownDefinitionProperties have been changed in this suggestion."
        },
        "dropdownDefinitionProperties": {
          "$ref": "DropdownDefinitionProperties",
          "description": "A DropdownDefinitionProperties that only includes the changes made in this suggestion. This can be used along with the dropdown_definition_properties_suggestion_state to see which fields have changed and their new values."
        }
      },
      "description": "A suggested change to dropdown definition properties.",
      "id": "SuggestedDropdownDefinitionProperties",
      "type": "object"
    },
    "CreateFooterResponse": {
      "description": "The result of creating a footer.",
      "type": "object",
      "id": "CreateFooterResponse",
      "properties": {
        "footerId": {
          "description": "The ID of the created footer.",
          "type": "string"
        }
      }
    },
    "UpdateTextStyleRequest": {
      "description": "Update the styling of text.",
      "type": "object",
      "id": "UpdateTextStyleRequest",
      "properties": {
        "fields": {
          "description": "The fields that should be updated. At least one field must be specified. The root `text_style` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example, to update the text style to bold, set `fields` to `\"bold\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The styles to set on the text. If the value for a particular style matches that of the parent, that style will be set to inherit. Certain text style changes may cause other changes in order to to mirror the behavior of the Docs editor. See the documentation of TextStyle for more information."
        },
        "range": {
          "description": "The range of text to style. The range may be extended to include adjacent newlines. If the range fully contains a paragraph belonging to a list, the paragraph's bullet is also updated with the matching text style. Ranges cannot be inserted inside a relative UpdateTextStyleRequest.",
          "$ref": "Range"
        }
      }
    },
    "UpdateTableCellStyleRequest": {
      "properties": {
        "tableRange": {
          "description": "The table range representing the subset of the table to which the updates are applied.",
          "$ref": "TableRange"
        },
        "tableCellStyle": {
          "description": "The style to set on the table cells. When updating borders, if a cell shares a border with an adjacent cell, the corresponding border property of the adjacent cell is updated as well. Borders that are merged and invisible are not updated. Since updating a border shared by adjacent cells in the same request can cause conflicting border updates, border updates are applied in the following order: - `border_right` - `border_left` - `border_bottom` - `border_top`",
          "$ref": "TableCellStyle"
        },
        "fields": {
          "description": "The fields that should be updated. At least one field must be specified. The root `tableCellStyle` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the table cell background color, set `fields` to `\"backgroundColor\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "tableStartLocation": {
          "description": "The location where the table starts in the document. When specified, the updates are applied to all the cells in the table.",
          "$ref": "Location"
        }
      },
      "type": "object",
      "id": "UpdateTableCellStyleRequest",
      "description": "Updates the style of a range of table cells."
    },
    "PositionedObjectPropertiesSuggestionState": {
      "type": "object",
      "description": "A mask that indicates which of the fields on the base PositionedObjectProperties have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "properties": {
        "embeddedObjectSuggestionState": {
          "description": "A mask that indicates which of the fields in embedded_object have been changed in this suggestion.",
          "$ref": "EmbeddedObjectSuggestionState"
        },
        "positioningSuggestionState": {
          "description": "A mask that indicates which of the fields in positioning have been changed in this suggestion.",
          "$ref": "PositionedObjectPositioningSuggestionState"
        }
      },
      "id": "PositionedObjectPropertiesSuggestionState"
    },
    "InsertInlineImageResponse": {
      "type": "object",
      "id": "InsertInlineImageResponse",
      "properties": {
        "objectId": {
          "type": "string",
          "description": "The ID of the created InlineObject."
        }
      },
      "description": "The result of inserting an inline image."
    },
    "DeletePositionedObjectRequest": {
      "type": "object",
      "properties": {
        "tabId": {
          "type": "string",
          "description": "The tab that the positioned object to delete is in. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document."
        },
        "objectId": {
          "type": "string",
          "description": "The ID of the positioned object to delete."
        }
      },
      "id": "DeletePositionedObjectRequest",
      "description": "Deletes a PositionedObject from the document."
    },
    "InsertInlineSheetsChartResponse": {
      "type": "object",
      "properties": {
        "objectId": {
          "description": "The object ID of the inserted chart.",
          "type": "string"
        }
      },
      "id": "InsertInlineSheetsChartResponse",
      "description": "The result of inserting an embedded Google Sheets chart."
    },
    "UpdateSectionStyleRequest": {
      "properties": {
        "sectionStyle": {
          "$ref": "SectionStyle",
          "description": "The styles to be set on the section. Certain section style changes may cause other changes in order to mirror the behavior of the Docs editor. See the documentation of SectionStyle for more information."
        },
        "fields": {
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `section_style` is implied and must not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the left margin, set `fields` to `\"margin_left\"`.",
          "type": "string"
        },
        "range": {
          "description": "The range overlapping the sections to style. Because section breaks can only be inserted inside the body, the segment ID field must be empty.",
          "$ref": "Range"
        }
      },
      "type": "object",
      "description": "Updates the SectionStyle.",
      "id": "UpdateSectionStyleRequest"
    },
    "PostAuthor": {
      "type": "object",
      "description": "Represents a user who authored a comment or suggestion post. [Developer Preview](https://developers.google.com/workspace/preview).",
      "properties": {
        "anonymous": {
          "type": "boolean",
          "description": "Whether the user is anonymous."
        },
        "displayName": {
          "description": "The display name of the user. May be absent if the author is anonymous.",
          "type": "string"
        },
        "user": {
          "type": "string",
          "description": "The resource name of the post author user, which can also be used to identify the user in the [Google People API](https://developers.google.com/people/api/rest/v1/people). Format: `users/{user}`. Will not be populated if the anonymous field is `true` or if the post is from an imported document."
        },
        "me": {
          "description": "Whether the user is the authenticated user making the request.",
          "type": "boolean"
        }
      },
      "id": "PostAuthor"
    },
    "ParagraphStyleSuggestionState": {
      "properties": {
        "indentStartSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to indent_start."
        },
        "keepLinesTogetherSuggested": {
          "description": "Indicates if there was a suggested change to keep_lines_together.",
          "type": "boolean"
        },
        "indentFirstLineSuggested": {
          "description": "Indicates if there was a suggested change to indent_first_line.",
          "type": "boolean"
        },
        "namedStyleTypeSuggested": {
          "description": "Indicates if there was a suggested change to named_style_type.",
          "type": "boolean"
        },
        "borderBetweenSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to border_between."
        },
        "directionSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to direction."
        },
        "shadingSuggestionState": {
          "$ref": "ShadingSuggestionState",
          "description": "A mask that indicates which of the fields in shading have been changed in this suggestion."
        },
        "indentEndSuggested": {
          "description": "Indicates if there was a suggested change to indent_end.",
          "type": "boolean"
        },
        "borderBottomSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to border_bottom."
        },
        "borderTopSuggested": {
          "description": "Indicates if there was a suggested change to border_top.",
          "type": "boolean"
        },
        "borderRightSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to border_right."
        },
        "spaceBelowSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to space_below."
        },
        "keepWithNextSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to keep_with_next."
        },
        "avoidWidowAndOrphanSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to avoid_widow_and_orphan."
        },
        "spaceAboveSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to space_above."
        },
        "alignmentSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to alignment."
        },
        "lineSpacingSuggested": {
          "description": "Indicates if there was a suggested change to line_spacing.",
          "type": "boolean"
        },
        "headingIdSuggested": {
          "description": "Indicates if there was a suggested change to heading_id.",
          "type": "boolean"
        },
        "borderLeftSuggested": {
          "description": "Indicates if there was a suggested change to border_left.",
          "type": "boolean"
        },
        "spacingModeSuggested": {
          "description": "Indicates if there was a suggested change to spacing_mode.",
          "type": "boolean"
        },
        "pageBreakBeforeSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to page_break_before."
        }
      },
      "id": "ParagraphStyleSuggestionState",
      "description": "A mask that indicates which of the fields on the base ParagraphStyle have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "type": "object"
    },
    "SuggestionThread": {
      "id": "SuggestionThread",
      "properties": {
        "replies": {
          "description": "Replies to the head post.",
          "type": "array",
          "items": {
            "$ref": "Post"
          }
        },
        "headPost": {
          "$ref": "Post",
          "description": "The first post in the thread."
        },
        "status": {
          "description": "Whether the thread is open, accepted, or rejected.",
          "enum": [
            "STATUS_UNSPECIFIED",
            "OPEN",
            "ACCEPTED",
            "REJECTED"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The suggestion thread is open.",
            "The suggestion thread is accepted.",
            "The suggestion thread is rejected."
          ],
          "type": "string"
        },
        "suggestionId": {
          "description": "The unique ID of the suggestion.",
          "type": "string"
        },
        "summaryHtml": {
          "type": "string",
          "description": "Summary of the suggested differences in the document, in HTML. May be empty."
        },
        "summaryText": {
          "description": "Summary of the suggested differences in the document, in plain text. May be empty.",
          "type": "string"
        }
      },
      "description": "Represents a single suggestion thread. Suggestion threads are created as a byproduct of saving changes to the document while in suggestion mode, and cannot be created directly. [Developer Preview](https://developers.google.com/workspace/preview).",
      "type": "object"
    },
    "SheetsChartReference": {
      "id": "SheetsChartReference",
      "description": "A reference to a linked chart embedded from Google Sheets.",
      "properties": {
        "chartId": {
          "type": "integer",
          "format": "int32",
          "description": "The ID of the specific chart in the Google Sheets spreadsheet that's embedded."
        },
        "spreadsheetId": {
          "description": "The ID of the Google Sheets spreadsheet that contains the source chart.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "FootnoteReference": {
      "properties": {
        "suggestedTextStyleChanges": {
          "type": "object",
          "description": "The suggested text style changes to this FootnoteReference, keyed by suggestion ID.",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          }
        },
        "footnoteNumber": {
          "description": "The rendered number of this footnote.",
          "type": "string"
        },
        "suggestedInsertionIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The suggested insertion IDs. A FootnoteReference may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion."
        },
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The text style of this FootnoteReference."
        },
        "footnoteId": {
          "description": "The ID of the footnote that contains the content of this footnote reference.",
          "type": "string"
        },
        "suggestedDeletionIds": {
          "type": "array",
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "FootnoteReference",
      "type": "object",
      "description": "A ParagraphElement representing a footnote reference. A footnote reference is the inline content rendered with a number and is used to identify the footnote."
    },
    "RichLinkProperties": {
      "type": "object",
      "description": "Properties specific to a RichLink.",
      "properties": {
        "mimeType": {
          "description": "The [MIME type](https://developers.google.com/drive/api/v3/mime-types) of the RichLink, if there's one (for example, when it's a file in Drive).",
          "type": "string"
        },
        "uri": {
          "description": "The URI to the RichLink. This is always present.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The title of the RichLink as displayed in the link. This title matches the title of the linked resource at the time of the insertion or last update of the link. This field is always present."
        }
      },
      "id": "RichLinkProperties"
    },
    "TableOfContents": {
      "description": "A StructuralElement representing a table of contents.",
      "properties": {
        "suggestedDeletionIds": {
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "content": {
          "items": {
            "$ref": "StructuralElement"
          },
          "type": "array",
          "description": "The content of the table of contents."
        },
        "suggestedInsertionIds": {
          "description": "The suggested insertion IDs. A TableOfContents may have multiple insertion IDs if it is a nested suggested change. If empty, then this is not a suggested insertion.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "TableOfContents",
      "type": "object"
    },
    "TableCellBorder": {
      "id": "TableCellBorder",
      "description": "A border around a table cell. Table cell borders cannot be transparent. To hide a table cell border, make its width 0.",
      "properties": {
        "color": {
          "$ref": "OptionalColor",
          "description": "The color of the border. This color cannot be transparent."
        },
        "width": {
          "$ref": "Dimension",
          "description": "The width of the border."
        },
        "dashStyle": {
          "description": "The dash style of the border.",
          "enum": [
            "DASH_STYLE_UNSPECIFIED",
            "SOLID",
            "DOT",
            "DASH"
          ],
          "enumDescriptions": [
            "Unspecified dash style.",
            "Solid line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'solid'. This is the default dash style.",
            "Dotted line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dot'.",
            "Dashed line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dash'."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "NamedStyles": {
      "properties": {
        "styles": {
          "items": {
            "$ref": "NamedStyle"
          },
          "type": "array",
          "description": "The named styles. There's an entry for each of the possible named style types."
        }
      },
      "type": "object",
      "id": "NamedStyles",
      "description": "The named styles. Paragraphs in the document can inherit their TextStyle and ParagraphStyle from these named styles."
    },
    "InsertDateRequest": {
      "id": "InsertDateRequest",
      "type": "object",
      "description": "Inserts a date at the specified location.",
      "properties": {
        "dateElementProperties": {
          "description": "The properties of the date to insert.",
          "$ref": "DateElementProperties"
        },
        "location": {
          "description": "Inserts the date at a specific index in the document. The date must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between an existing table and its preceding paragraph).",
          "$ref": "Location"
        },
        "endOfSegmentLocation": {
          "description": "Inserts the date at the end of the given header, footer or document body.",
          "$ref": "EndOfSegmentLocation"
        }
      }
    },
    "NestingLevel": {
      "description": "Contains properties describing the look and feel of a list bullet at a given level of nesting.",
      "properties": {
        "glyphSymbol": {
          "description": "A custom glyph symbol used by bullets when paragraphs at this level of nesting is unordered. The glyph symbol replaces placeholders within the glyph_format. For example, if the glyph_symbol is the solid circle corresponding to Unicode U+25cf code point and the glyph_format is `%0`, the rendered glyph would be the solid circle.",
          "type": "string"
        },
        "indentFirstLine": {
          "$ref": "Dimension",
          "description": "The amount of indentation for the first line of paragraphs at this level of nesting."
        },
        "bulletAlignment": {
          "enum": [
            "BULLET_ALIGNMENT_UNSPECIFIED",
            "START",
            "CENTER",
            "END"
          ],
          "description": "The alignment of the bullet within the space allotted for rendering the bullet.",
          "enumDescriptions": [
            "The bullet alignment is unspecified.",
            "The bullet is aligned to the start of the space allotted for rendering the bullet. Left-aligned for LTR text, right-aligned otherwise.",
            "The bullet is aligned to the center of the space allotted for rendering the bullet.",
            "The bullet is aligned to the end of the space allotted for rendering the bullet. Right-aligned for LTR text, left-aligned otherwise."
          ],
          "type": "string"
        },
        "indentStart": {
          "$ref": "Dimension",
          "description": "The amount of indentation for paragraphs at this level of nesting. Applied to the side that corresponds to the start of the text, based on the paragraph's content direction."
        },
        "glyphType": {
          "description": "The type of glyph used by bullets when paragraphs at this level of nesting is ordered. The glyph type determines the type of glyph used to replace placeholders within the glyph_format when paragraphs at this level of nesting are ordered. For example, if the nesting level is 0, the glyph_format is `%0.` and the glyph type is DECIMAL, then the rendered glyph would replace the placeholder `%0` in the glyph format with a number corresponding to the list item's order within the list.",
          "type": "string",
          "enumDescriptions": [
            "The glyph type is unspecified or unsupported.",
            "An empty string.",
            "A number, like `1`, `2`, or `3`.",
            "A number where single digit numbers are prefixed with a zero, like `01`, `02`, or `03`. Numbers with more than one digit are not prefixed with a zero.",
            "An uppercase letter, like `A`, `B`, or `C`.",
            "A lowercase letter, like `a`, `b`, or `c`.",
            "An uppercase Roman numeral, like `I`, `II`, or `III`.",
            "A lowercase Roman numeral, like `i`, `ii`, or `iii`."
          ],
          "enum": [
            "GLYPH_TYPE_UNSPECIFIED",
            "NONE",
            "DECIMAL",
            "ZERO_DECIMAL",
            "UPPER_ALPHA",
            "ALPHA",
            "UPPER_ROMAN",
            "ROMAN"
          ]
        },
        "startNumber": {
          "description": "The number of the first list item at this nesting level. A value of 0 is treated as a value of 1 for lettered lists and Roman numeral lists. For values of both 0 and 1, lettered and Roman numeral lists will begin at `a` and `i` respectively. This value is ignored for nesting levels with unordered glyphs.",
          "format": "int32",
          "type": "integer"
        },
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The text style of bullets at this level of nesting."
        },
        "glyphFormat": {
          "description": "The format string used by bullets at this level of nesting. The glyph format contains one or more placeholders, and these placeholders are replaced with the appropriate values depending on the glyph_type or glyph_symbol. The placeholders follow the pattern `%[nesting_level]`. Furthermore, placeholders can have prefixes and suffixes. Thus, the glyph format follows the pattern `%[nesting_level]`. Note that the prefix and suffix are optional and can be arbitrary strings. For example, the glyph format `%0.` indicates that the rendered glyph will replace the placeholder with the corresponding glyph for nesting level 0 followed by a period as the suffix. So a list with a glyph type of UPPER_ALPHA and glyph format `%0.` at nesting level 0 will result in a list with rendered glyphs `A.` `B.` `C.` The glyph format can contain placeholders for the current nesting level as well as placeholders for parent nesting levels. For example, a list can have a glyph format of `%0.` at nesting level 0 and a glyph format of `%0.%1.` at nesting level 1. Assuming both nesting levels have DECIMAL glyph types, this would result in a list with rendered glyphs `1.` `2.` ` 2.1.` ` 2.2.` `3.` For nesting levels that are ordered, the string that replaces a placeholder in the glyph format for a particular paragraph depends on the paragraph's order within the list.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "NestingLevel"
    },
    "SuggestedListProperties": {
      "description": "A suggested change to ListProperties.",
      "id": "SuggestedListProperties",
      "properties": {
        "listPropertiesSuggestionState": {
          "description": "A mask that indicates which of the fields on the base ListProperties have been changed in this suggestion.",
          "$ref": "ListPropertiesSuggestionState"
        },
        "listProperties": {
          "description": "A ListProperties that only includes the changes made in this suggestion. This can be used along with the list_properties_suggestion_state to see which fields have changed and their new values.",
          "$ref": "ListProperties"
        }
      },
      "type": "object"
    },
    "InsertTableRequest": {
      "id": "InsertTableRequest",
      "description": "Inserts a table at the specified location. A newline character will be inserted before the inserted table.",
      "properties": {
        "endOfSegmentLocation": {
          "description": "Inserts the table at the end of the given header, footer or document body. A newline character will be inserted before the inserted table. Tables cannot be inserted inside a footnote.",
          "$ref": "EndOfSegmentLocation"
        },
        "rows": {
          "description": "The number of rows in the table.",
          "format": "int32",
          "type": "integer"
        },
        "columns": {
          "format": "int32",
          "type": "integer",
          "description": "The number of columns in the table."
        },
        "location": {
          "description": "Inserts the table at a specific model index. A newline character will be inserted before the inserted table, therefore the table start index will be at the specified location index + 1. The table must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between an existing table and its preceding paragraph). Tables cannot be inserted inside a footnote or equation.",
          "$ref": "Location"
        }
      },
      "type": "object"
    },
    "TableCell": {
      "description": "The contents and style of a cell in a Table.",
      "type": "object",
      "id": "TableCell",
      "properties": {
        "content": {
          "type": "array",
          "description": "The content of the cell.",
          "items": {
            "$ref": "StructuralElement"
          }
        },
        "tableCellStyle": {
          "description": "The style of the cell.",
          "$ref": "TableCellStyle"
        },
        "startIndex": {
          "description": "The zero-based start index of this cell, in UTF-16 code units.",
          "format": "int32",
          "type": "integer"
        },
        "suggestedDeletionIds": {
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "suggestedTableCellStyleChanges": {
          "description": "The suggested changes to the table cell style, keyed by suggestion ID.",
          "type": "object",
          "additionalProperties": {
            "$ref": "SuggestedTableCellStyle"
          }
        },
        "suggestedInsertionIds": {
          "type": "array",
          "description": "The suggested insertion IDs. A TableCell may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.",
          "items": {
            "type": "string"
          }
        },
        "endIndex": {
          "type": "integer",
          "format": "int32",
          "description": "The zero-based end index of this cell, exclusive, in UTF-16 code units."
        }
      }
    },
    "DropdownOption": {
      "properties": {
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The text style of this dropdown option. Currently, only the `foreground_color` and `background_color` properties are supported. If other properties are set, a 400 bad request error is returned."
        },
        "optionId": {
          "description": "The ID of this dropdown option. If you specify an ID, it must be unique among all options in this dropdown definition. The ID must start with `dropdownItem.` and match regex `^dropdownItem\\.[a-zA-Z0-9_-]{2,14}$` (length 15-27 chars). If you don't specify an ID, a unique one is generated.",
          "type": "string"
        },
        "displayValue": {
          "type": "string",
          "description": "The display value of this dropdown option."
        }
      },
      "description": "An option in a Dropdown.",
      "id": "DropdownOption",
      "type": "object"
    },
    "Table": {
      "type": "object",
      "description": "A StructuralElement representing a table.",
      "id": "Table",
      "properties": {
        "columns": {
          "format": "int32",
          "type": "integer",
          "description": "Number of columns in the table. It's possible for a table to be non-rectangular, so some rows may have a different number of cells."
        },
        "suggestedInsertionIds": {
          "description": "The suggested insertion IDs. A Table may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "rows": {
          "format": "int32",
          "description": "Number of rows in the table.",
          "type": "integer"
        },
        "tableStyle": {
          "$ref": "TableStyle",
          "description": "The style of the table."
        },
        "tableRows": {
          "description": "The contents and style of each row.",
          "items": {
            "$ref": "TableRow"
          },
          "type": "array"
        },
        "suggestedDeletionIds": {
          "items": {
            "type": "string"
          },
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "type": "array"
        }
      }
    },
    "CreateHeaderRequest": {
      "description": "Creates a Header. The new header is applied to the SectionStyle at the location of the SectionBreak if specified, otherwise it is applied to the DocumentStyle. If a header of the specified type already exists, a 400 bad request error is returned.",
      "type": "object",
      "id": "CreateHeaderRequest",
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of header to create.",
          "enumDescriptions": [
            "The header/footer type is unspecified.",
            "A default header/footer."
          ],
          "enum": [
            "HEADER_FOOTER_TYPE_UNSPECIFIED",
            "DEFAULT"
          ]
        },
        "sectionBreakLocation": {
          "$ref": "Location",
          "description": "The location of the SectionBreak which begins the section this header should belong to. If `section_break_location' is unset or if it refers to the first section break in the document body, the header applies to the DocumentStyle"
        }
      }
    },
    "DeleteFooterRequest": {
      "type": "object",
      "description": "Deletes a Footer from the document.",
      "id": "DeleteFooterRequest",
      "properties": {
        "tabId": {
          "type": "string",
          "description": "The tab that contains the footer to delete. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document."
        },
        "footerId": {
          "description": "The id of the footer to delete. If this footer is defined on DocumentStyle, the reference to this footer is removed, resulting in no footer of that type for the first section of the document. If this footer is defined on a SectionStyle, the reference to this footer is removed and the footer of that type is now continued from the previous section.",
          "type": "string"
        }
      }
    },
    "PinTableHeaderRowsRequest": {
      "id": "PinTableHeaderRowsRequest",
      "description": "Updates the number of pinned table header rows in a table.",
      "type": "object",
      "properties": {
        "tableStartLocation": {
          "description": "The location where the table starts in the document.",
          "$ref": "Location"
        },
        "pinnedHeaderRowsCount": {
          "description": "The number of table rows to pin, where 0 implies that all rows are unpinned.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "SuggestedTableRowStyle": {
      "properties": {
        "tableRowStyleSuggestionState": {
          "description": "A mask that indicates which of the fields on the base TableRowStyle have been changed in this suggestion.",
          "$ref": "TableRowStyleSuggestionState"
        },
        "tableRowStyle": {
          "description": "A TableRowStyle that only includes the changes made in this suggestion. This can be used along with the table_row_style_suggestion_state to see which fields have changed and their new values.",
          "$ref": "TableRowStyle"
        }
      },
      "id": "SuggestedTableRowStyle",
      "description": "A suggested change to a TableRowStyle.",
      "type": "object"
    },
    "CreateFooterRequest": {
      "id": "CreateFooterRequest",
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of footer to create.",
          "enum": [
            "HEADER_FOOTER_TYPE_UNSPECIFIED",
            "DEFAULT"
          ],
          "enumDescriptions": [
            "The header/footer type is unspecified.",
            "A default header/footer."
          ]
        },
        "sectionBreakLocation": {
          "$ref": "Location",
          "description": "The location of the SectionBreak immediately preceding the section whose SectionStyle this footer should belong to. If this is unset or refers to the first section break in the document, the footer applies to the document style."
        }
      },
      "description": "Creates a Footer. The new footer is applied to the SectionStyle at the location of the SectionBreak if specified, otherwise it is applied to the DocumentStyle. If a footer of the specified type already exists, a 400 bad request error is returned.",
      "type": "object"
    },
    "InsertDropdownResponse": {
      "description": "The result of inserting a Dropdown.",
      "properties": {
        "dropdown": {
          "description": "The newly-inserted Dropdown.",
          "$ref": "Dropdown"
        }
      },
      "id": "InsertDropdownResponse",
      "type": "object"
    },
    "UpdateNamedStyleRequest": {
      "type": "object",
      "description": "Updates a named style.",
      "properties": {
        "tabId": {
          "description": "The document tab to update. By default, the update is applied to the first tab.",
          "type": "string"
        },
        "fields": {
          "description": "The NamedStyle fields that should be updated. At least `named_style_type` must be specified. The root `named_style` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example, to update the text style to bold, set `fields` to include `\"text_style\"` and `\"text_style.bold\"`. To update the paragraph style's alignment property, set `fields` to include `\"paragraph_style\"` and `\"paragraph_style.alignment\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset. Specifying `\"text_style\"` or `\"paragraph_style\"` with an empty TextStyle or ParagraphStyle will reset all of its nested fields.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "namedStyle": {
          "$ref": "NamedStyle",
          "description": "The document style to update."
        }
      },
      "id": "UpdateNamedStyleRequest"
    },
    "CropPropertiesSuggestionState": {
      "id": "CropPropertiesSuggestionState",
      "type": "object",
      "properties": {
        "angleSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to angle."
        },
        "offsetBottomSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to offset_bottom."
        },
        "offsetLeftSuggested": {
          "description": "Indicates if there was a suggested change to offset_left.",
          "type": "boolean"
        },
        "offsetRightSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to offset_right."
        },
        "offsetTopSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to offset_top."
        }
      },
      "description": "A mask that indicates which of the fields on the base CropProperties have been changed in this suggestion. For any field set to true, there's a new suggested value."
    },
    "ParagraphElement": {
      "id": "ParagraphElement",
      "description": "A ParagraphElement describes content within a Paragraph.",
      "properties": {
        "dropdown": {
          "$ref": "Dropdown",
          "description": "A paragraph element that represents a dropdown menu."
        },
        "person": {
          "description": "A paragraph element that links to a person or email address.",
          "$ref": "Person"
        },
        "equation": {
          "$ref": "Equation",
          "description": "An equation paragraph element."
        },
        "richLink": {
          "description": "A paragraph element that links to a Google resource (such as a file in Google Drive, a YouTube video, or a Calendar event.)",
          "$ref": "RichLink"
        },
        "endIndex": {
          "description": "The zero-base end index of this paragraph element, exclusive, in UTF-16 code units.",
          "format": "int32",
          "type": "integer"
        },
        "dateElement": {
          "description": "A paragraph element that represents a date.",
          "$ref": "DateElement"
        },
        "columnBreak": {
          "description": "A column break paragraph element.",
          "$ref": "ColumnBreak"
        },
        "textRun": {
          "$ref": "TextRun",
          "description": "A text run paragraph element."
        },
        "inlineObjectElement": {
          "description": "An inline object paragraph element.",
          "$ref": "InlineObjectElement"
        },
        "horizontalRule": {
          "description": "A horizontal rule paragraph element.",
          "$ref": "HorizontalRule"
        },
        "startIndex": {
          "type": "integer",
          "description": "The zero-based start index of this paragraph element, in UTF-16 code units.",
          "format": "int32"
        },
        "pageBreak": {
          "$ref": "PageBreak",
          "description": "A page break paragraph element."
        },
        "autoText": {
          "description": "An auto text paragraph element.",
          "$ref": "AutoText"
        },
        "footnoteReference": {
          "description": "A footnote reference paragraph element.",
          "$ref": "FootnoteReference"
        }
      },
      "type": "object"
    },
    "UpdateTableRowStyleRequest": {
      "id": "UpdateTableRowStyleRequest",
      "description": "Updates the TableRowStyle of rows in a table.",
      "type": "object",
      "properties": {
        "fields": {
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root `tableRowStyle` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the minimum row height, set `fields` to `\"min_row_height\"`.",
          "format": "google-fieldmask"
        },
        "rowIndices": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array",
          "description": "The list of zero-based row indices whose style should be updated. If no indices are specified, all rows will be updated."
        },
        "tableRowStyle": {
          "description": "The styles to be set on the rows.",
          "$ref": "TableRowStyle"
        },
        "tableStartLocation": {
          "$ref": "Location",
          "description": "The location where the table starts in the document."
        }
      }
    },
    "Post": {
      "description": "Represents a single post in a comment or suggestion thread. [Developer Preview](https://developers.google.com/workspace/preview).",
      "type": "object",
      "properties": {
        "fromImportedDocument": {
          "type": "boolean",
          "description": "Output only. Whether the post is from an imported document. This field cannot be set directly by callers."
        },
        "suggestionAction": {
          "type": "string",
          "description": "Output only. The action type for suggestion posts.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "No action change in this post.",
            "This post accepts the suggestion.",
            "This post rejects the suggestion."
          ],
          "enum": [
            "SUGGESTION_ACTION_TYPE_UNSPECIFIED",
            "NO_SUGGESTION_ACTION_CHANGE",
            "ACCEPT",
            "REJECT"
          ]
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the post was created.",
          "format": "google-datetime"
        },
        "contentHtml": {
          "description": "Output only. The content of the post as HTML.",
          "type": "string"
        },
        "author": {
          "description": "Output only. The user who created the post.",
          "$ref": "PostAuthor"
        },
        "content": {
          "description": "The content of the post. Required to be non-empty if commentAction is not `RESOLVE` or `REOPEN`. This text content will be handled similarly to comments created in the Docs editor. It will have similar behaviors for formatting, notifications, etc. May not exceed 2048 UTF-8 code units.",
          "type": "string"
        },
        "commentAction": {
          "enum": [
            "COMMENT_ACTION_TYPE_UNSPECIFIED",
            "NO_COMMENT_ACTION_CHANGE",
            "RESOLVE",
            "REOPEN"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "No action change in this post.",
            "This post resolves the thread.",
            "This post reopens the thread."
          ],
          "type": "string",
          "description": "Optional. The action type for comment posts."
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The time the post was last updated.",
          "format": "google-datetime"
        },
        "fromDocumentComparison": {
          "type": "boolean",
          "description": "Output only. Whether the post is from a document comparison. This field cannot be set directly by callers."
        },
        "deleted": {
          "description": "Output only. Whether the post is deleted. If `true`, content and author fields will be empty.",
          "type": "boolean"
        },
        "assigneeEmail": {
          "type": "string",
          "description": "Optional. The email of the user who is being newly assigned to the thread as part of this post. Returns a 400 bad request error if: - The parent thread is a CommentThread whose headPost does not have an assignee. - The parent thread is a SuggestionThread. - commentAction is specified as `RESOLVE` or `REOPEN`. - `assigneeEmail` exceeds 2048 UTF-8 code units."
        },
        "postId": {
          "type": "string",
          "description": "Output only. The unique ID of the post."
        },
        "fromCopiedDocument": {
          "description": "Output only. Whether the post is from a copied document. This field cannot be set directly by callers.",
          "type": "boolean"
        }
      },
      "id": "Post"
    },
    "SuggestedTableCellStyle": {
      "id": "SuggestedTableCellStyle",
      "type": "object",
      "properties": {
        "tableCellStyleSuggestionState": {
          "description": "A mask that indicates which of the fields on the base TableCellStyle have been changed in this suggestion.",
          "$ref": "TableCellStyleSuggestionState"
        },
        "tableCellStyle": {
          "description": "A TableCellStyle that only includes the changes made in this suggestion. This can be used along with the table_cell_style_suggestion_state to see which fields have changed and their new values.",
          "$ref": "TableCellStyle"
        }
      },
      "description": "A suggested change to a TableCellStyle."
    },
    "TabStop": {
      "type": "object",
      "description": "A tab stop within a paragraph.",
      "properties": {
        "offset": {
          "$ref": "Dimension",
          "description": "The offset between this tab stop and the start margin."
        },
        "alignment": {
          "type": "string",
          "enumDescriptions": [
            "The tab stop alignment is unspecified.",
            "The tab stop is aligned to the start of the line. This is the default.",
            "The tab stop is aligned to the center of the line.",
            "The tab stop is aligned to the end of the line."
          ],
          "description": "The alignment of this tab stop. If unset, the value defaults to START.",
          "enum": [
            "TAB_STOP_ALIGNMENT_UNSPECIFIED",
            "START",
            "CENTER",
            "END"
          ]
        }
      },
      "id": "TabStop"
    },
    "TableRowStyleSuggestionState": {
      "type": "object",
      "properties": {
        "minRowHeightSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to min_row_height."
        }
      },
      "description": "A mask that indicates which of the fields on the base TableRowStyle have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "id": "TableRowStyleSuggestionState"
    },
    "DeleteCommentRequest": {
      "type": "object",
      "id": "DeleteCommentRequest",
      "description": "Deletes a CommentThread. Returns a 400 bad request error if the requesting user is not the author of the headPost. [Developer Preview](https://developers.google.com/workspace/preview).",
      "properties": {
        "commentId": {
          "description": "The ID of the CommentThread that is being deleted.",
          "type": "string"
        }
      }
    },
    "ReplaceAllTextResponse": {
      "type": "object",
      "description": "The result of replacing text.",
      "id": "ReplaceAllTextResponse",
      "properties": {
        "occurrencesChanged": {
          "type": "integer",
          "description": "The number of occurrences changed by replacing all text.",
          "format": "int32"
        }
      }
    },
    "PositionedObject": {
      "properties": {
        "positionedObjectProperties": {
          "$ref": "PositionedObjectProperties",
          "description": "The properties of this positioned object."
        },
        "suggestedPositionedObjectPropertiesChanges": {
          "type": "object",
          "description": "The suggested changes to the positioned object properties, keyed by suggestion ID.",
          "additionalProperties": {
            "$ref": "SuggestedPositionedObjectProperties"
          }
        },
        "suggestedDeletionIds": {
          "type": "array",
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "items": {
            "type": "string"
          }
        },
        "suggestedInsertionId": {
          "description": "The suggested insertion ID. If empty, then this is not a suggested insertion.",
          "type": "string"
        },
        "objectId": {
          "type": "string",
          "description": "The ID of this positioned object."
        }
      },
      "id": "PositionedObject",
      "description": "An object that's tethered to a Paragraph and positioned relative to the beginning of the paragraph. A PositionedObject contains an EmbeddedObject such as an image.",
      "type": "object"
    },
    "ImagePropertiesSuggestionState": {
      "description": "A mask that indicates which of the fields on the base ImageProperties have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "id": "ImagePropertiesSuggestionState",
      "type": "object",
      "properties": {
        "brightnessSuggested": {
          "description": "Indicates if there was a suggested change to brightness.",
          "type": "boolean"
        },
        "contentUriSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to content_uri."
        },
        "angleSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to angle."
        },
        "sourceUriSuggested": {
          "description": "Indicates if there was a suggested change to source_uri.",
          "type": "boolean"
        },
        "cropPropertiesSuggestionState": {
          "$ref": "CropPropertiesSuggestionState",
          "description": "A mask that indicates which of the fields in crop_properties have been changed in this suggestion."
        },
        "contrastSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to contrast."
        },
        "transparencySuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to transparency."
        }
      }
    },
    "DocumentStyle": {
      "type": "object",
      "description": "The style of the document.",
      "properties": {
        "pageNumberStart": {
          "format": "int32",
          "type": "integer",
          "description": "The page number from which to start counting the number of pages. If DocumentMode is PAGELESS, this property will not be rendered."
        },
        "marginBottom": {
          "$ref": "Dimension",
          "description": "The bottom page margin. Updating the bottom page margin on the document style clears the bottom page margin on all section styles. If DocumentMode is PAGELESS, this property will not be rendered."
        },
        "marginTop": {
          "$ref": "Dimension",
          "description": "The top page margin. Updating the top page margin on the document style clears the top page margin on all section styles. If DocumentMode is PAGELESS, this property will not be rendered."
        },
        "useCustomHeaderFooterMargins": {
          "type": "boolean",
          "description": "Indicates whether DocumentStyle margin_header, SectionStyle margin_header and DocumentStyle margin_footer, SectionStyle margin_footer are respected. When false, the default values in the Docs editor for header and footer margin is used. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only."
        },
        "marginHeader": {
          "description": "The amount of space between the top of the page and the contents of the header. If DocumentMode is PAGELESS, this property will not be rendered.",
          "$ref": "Dimension"
        },
        "evenPageFooterId": {
          "type": "string",
          "description": "The ID of the footer used only for even pages. The value of use_even_page_header_footer determines whether to use the default_footer_id or this value for the footer on even pages. If not set, there's no even page footer. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only."
        },
        "defaultFooterId": {
          "type": "string",
          "description": "The ID of the default footer. If not set, there's no default footer. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only."
        },
        "flipPageOrientation": {
          "type": "boolean",
          "description": "Optional. Indicates whether to flip the dimensions of the page_size, which allows changing the page orientation between portrait and landscape. If DocumentMode is PAGELESS, this property will not be rendered."
        },
        "firstPageFooterId": {
          "description": "The ID of the footer used only for the first page. If not set then a unique footer for the first page does not exist. The value of use_first_page_header_footer determines whether to use the default_footer_id or this value for the footer on the first page. If not set, there's no first page footer. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only.",
          "type": "string"
        },
        "firstPageHeaderId": {
          "type": "string",
          "description": "The ID of the header used only for the first page. If not set then a unique header for the first page does not exist. The value of use_first_page_header_footer determines whether to use the default_header_id or this value for the header on the first page. If not set, there's no first page header. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only."
        },
        "useEvenPageHeaderFooter": {
          "type": "boolean",
          "description": "Indicates whether to use the even page header / footer IDs for the even pages. If DocumentMode is PAGELESS, this property will not be rendered."
        },
        "evenPageHeaderId": {
          "description": "The ID of the header used only for even pages. The value of use_even_page_header_footer determines whether to use the default_header_id or this value for the header on even pages. If not set, there's no even page header. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only.",
          "type": "string"
        },
        "pageSize": {
          "$ref": "Size",
          "description": "The size of a page in the document. If DocumentMode is PAGELESS, this property will not be rendered."
        },
        "marginFooter": {
          "description": "The amount of space between the bottom of the page and the contents of the footer. If DocumentMode is PAGELESS, this property will not be rendered.",
          "$ref": "Dimension"
        },
        "marginLeft": {
          "$ref": "Dimension",
          "description": "The left page margin. Updating the left page margin on the document style clears the left page margin on all section styles. It may also cause columns to resize in all sections. If DocumentMode is PAGELESS, this property will not be rendered."
        },
        "marginRight": {
          "description": "The right page margin. Updating the right page margin on the document style clears the right page margin on all section styles. It may also cause columns to resize in all sections. If DocumentMode is PAGELESS, this property will not be rendered.",
          "$ref": "Dimension"
        },
        "documentFormat": {
          "description": "Specifies document-level format settings, such as the document mode (pages vs pageless).",
          "$ref": "DocumentFormat"
        },
        "useFirstPageHeaderFooter": {
          "description": "Indicates whether to use the first page header / footer IDs for the first page. If DocumentMode is PAGELESS, this property will not be rendered.",
          "type": "boolean"
        },
        "background": {
          "$ref": "Background",
          "description": "The background of the document. Documents cannot have a transparent background color."
        },
        "defaultHeaderId": {
          "type": "string",
          "description": "The ID of the default header. If not set, there's no default header. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only."
        }
      },
      "id": "DocumentStyle"
    },
    "Background": {
      "type": "object",
      "properties": {
        "color": {
          "description": "The background color.",
          "$ref": "OptionalColor"
        }
      },
      "id": "Background",
      "description": "Represents the background of a document."
    },
    "PositionedObjectPositioning": {
      "properties": {
        "topOffset": {
          "description": "The offset of the top edge of the positioned object relative to the beginning of the Paragraph it's tethered to. The exact positioning of the object can depend on other content in the document and the document's styling.",
          "$ref": "Dimension"
        },
        "leftOffset": {
          "description": "The offset of the left edge of the positioned object relative to the beginning of the Paragraph it's tethered to. The exact positioning of the object can depend on other content in the document and the document's styling.",
          "$ref": "Dimension"
        },
        "layout": {
          "description": "The layout of this positioned object.",
          "type": "string",
          "enumDescriptions": [
            "The layout is unspecified.",
            "The text wraps around the positioned object.",
            "Breaks text such that the positioned object is on the left and text is on the right.",
            "Breaks text such that the positioned object is on the right and text is on the left.",
            "Breaks text such that there's no text on the left or right of the positioned object.",
            "The positioned object is in front of the text.",
            "The positioned object is behind the text."
          ],
          "enum": [
            "POSITIONED_OBJECT_LAYOUT_UNSPECIFIED",
            "WRAP_TEXT",
            "BREAK_LEFT",
            "BREAK_RIGHT",
            "BREAK_LEFT_RIGHT",
            "IN_FRONT_OF_TEXT",
            "BEHIND_TEXT"
          ]
        }
      },
      "description": "The positioning of a PositionedObject. The positioned object is positioned relative to the beginning of the Paragraph it's tethered to.",
      "id": "PositionedObjectPositioning",
      "type": "object"
    },
    "MergeTableCellsRequest": {
      "properties": {
        "tableRange": {
          "description": "The table range specifying which cells of the table to merge. Any text in the cells being merged will be concatenated and stored in the \"head\" cell of the range. This is the upper-left cell of the range when the content direction is left to right, and the upper-right cell of the range otherwise. If the range is non-rectangular (which can occur in some cases where the range covers cells that are already merged or where the table is non-rectangular), a 400 bad request error is returned.",
          "$ref": "TableRange"
        }
      },
      "type": "object",
      "description": "Merges cells in a Table.",
      "id": "MergeTableCellsRequest"
    },
    "InsertTextRequest": {
      "id": "InsertTextRequest",
      "type": "object",
      "properties": {
        "text": {
          "type": "string",
          "description": "The text to be inserted. Inserting a newline character will implicitly create a new Paragraph at that index. The paragraph style of the new paragraph will be copied from the paragraph at the current insertion index, including lists and bullets. Text styles for inserted text will be determined automatically, generally preserving the styling of neighboring text. In most cases, the text style for the inserted text will match the text immediately before the insertion index. Some control characters (U+0000-U+0008, U+000C-U+001F) and characters from the Unicode Basic Multilingual Plane Private Use Area (U+E000-U+F8FF) will be stripped out of the inserted text."
        },
        "endOfSegmentLocation": {
          "description": "Inserts the text at the end of a header, footer, footnote or the document body.",
          "$ref": "EndOfSegmentLocation"
        },
        "location": {
          "$ref": "Location",
          "description": "Inserts the text at a specific index in the document. Text must be inserted inside the bounds of an existing Paragraph. For instance, text cannot be inserted at a table's start index (i.e. between the table and its preceding paragraph). The text must be inserted in the preceding paragraph."
        }
      },
      "description": "Inserts text at the specified location."
    },
    "RgbColor": {
      "id": "RgbColor",
      "properties": {
        "blue": {
          "description": "The blue component of the color, from 0.0 to 1.0.",
          "type": "number",
          "format": "float"
        },
        "red": {
          "format": "float",
          "description": "The red component of the color, from 0.0 to 1.0.",
          "type": "number"
        },
        "green": {
          "description": "The green component of the color, from 0.0 to 1.0.",
          "type": "number",
          "format": "float"
        }
      },
      "description": "An RGB color.",
      "type": "object"
    },
    "CreateFootnoteResponse": {
      "description": "The result of creating a footnote.",
      "type": "object",
      "id": "CreateFootnoteResponse",
      "properties": {
        "footnoteId": {
          "type": "string",
          "description": "The ID of the created footnote."
        }
      }
    },
    "NestingLevelSuggestionState": {
      "type": "object",
      "id": "NestingLevelSuggestionState",
      "description": "A mask that indicates which of the fields on the base NestingLevel have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "properties": {
        "bulletAlignmentSuggested": {
          "description": "Indicates if there was a suggested change to bullet_alignment.",
          "type": "boolean"
        },
        "glyphSymbolSuggested": {
          "description": "Indicates if there was a suggested change to glyph_symbol.",
          "type": "boolean"
        },
        "indentFirstLineSuggested": {
          "description": "Indicates if there was a suggested change to indent_first_line.",
          "type": "boolean"
        },
        "textStyleSuggestionState": {
          "description": "A mask that indicates which of the fields in text style have been changed in this suggestion.",
          "$ref": "TextStyleSuggestionState"
        },
        "glyphTypeSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to glyph_type."
        },
        "glyphFormatSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to glyph_format."
        },
        "indentStartSuggested": {
          "description": "Indicates if there was a suggested change to indent_start.",
          "type": "boolean"
        },
        "startNumberSuggested": {
          "description": "Indicates if there was a suggested change to start_number.",
          "type": "boolean"
        }
      }
    },
    "InsertSectionBreakRequest": {
      "id": "InsertSectionBreakRequest",
      "properties": {
        "endOfSegmentLocation": {
          "description": "Inserts a newline and a section break at the end of the document body. Section breaks cannot be inserted inside a footnote, header or footer. Because section breaks can only be inserted inside the body, the segment ID field must be empty.",
          "$ref": "EndOfSegmentLocation"
        },
        "sectionType": {
          "description": "The type of section to insert.",
          "enumDescriptions": [
            "The section type is unspecified.",
            "The section starts immediately after the last paragraph of the previous section.",
            "The section starts on the next page."
          ],
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "CONTINUOUS",
            "NEXT_PAGE"
          ],
          "type": "string"
        },
        "location": {
          "description": "Inserts a newline and a section break at a specific index in the document. The section break must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between the table and its preceding paragraph). Section breaks cannot be inserted inside a table, equation, footnote, header, or footer. Since section breaks can only be inserted inside the body, the segment ID field must be empty.",
          "$ref": "Location"
        }
      },
      "description": "Inserts a section break at the given location. A newline character will be inserted before the section break.",
      "type": "object"
    },
    "DateElement": {
      "id": "DateElement",
      "type": "object",
      "description": "A date instance mentioned in a document.",
      "properties": {
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The text style of this DateElement."
        },
        "suggestedTextStyleChanges": {
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "description": "The suggested text style changes to this DateElement, keyed by suggestion ID.",
          "type": "object"
        },
        "suggestedInsertionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "IDs for suggestions that insert this date into the document. A DateElement might have multiple insertion IDs if it's a nested suggested change (a suggestion within a suggestion made by a different user, for example). If empty, then this date isn't a suggested insertion."
        },
        "dateId": {
          "description": "Output only. The unique ID of this date.",
          "type": "string",
          "readOnly": true
        },
        "dateElementProperties": {
          "$ref": "DateElementProperties",
          "description": "The properties of this DateElement."
        },
        "suggestedDeletionIds": {
          "description": "IDs for suggestions that remove this date from the document. A DateElement might have multiple deletion IDs if, for example, multiple users suggest deleting it. If empty, then this date isn't suggested for deletion.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "suggestedDateElementPropertiesChanges": {
          "description": "The suggested changes to the date element properties, keyed by suggestion ID.",
          "additionalProperties": {
            "$ref": "SuggestedDateElementProperties"
          },
          "type": "object"
        }
      }
    },
    "Tab": {
      "description": "A tab in a document.",
      "id": "Tab",
      "properties": {
        "childTabs": {
          "description": "The child tabs nested within this tab.",
          "items": {
            "$ref": "Tab"
          },
          "type": "array"
        },
        "tabProperties": {
          "description": "The properties of the tab, like ID and title.",
          "$ref": "TabProperties"
        },
        "documentTab": {
          "description": "A tab with document contents, like text and images.",
          "$ref": "DocumentTab"
        }
      },
      "type": "object"
    },
    "AddDocumentTabResponse": {
      "type": "object",
      "id": "AddDocumentTabResponse",
      "description": "The result of adding a document tab.",
      "properties": {
        "tabProperties": {
          "$ref": "TabProperties",
          "description": "The properties of the newly added tab."
        }
      }
    },
    "CreateNamedRangeRequest": {
      "id": "CreateNamedRangeRequest",
      "description": "Creates a NamedRange referencing the given range.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the NamedRange. Names do not need to be unique. Names must be at least 1 character and no more than 256 characters, measured in UTF-16 code units."
        },
        "range": {
          "description": "The range to apply the name to.",
          "$ref": "Range"
        }
      }
    },
    "AutoText": {
      "type": "object",
      "id": "AutoText",
      "description": "A ParagraphElement representing a spot in the text that's dynamically replaced with content that can change over time, like a page number.",
      "properties": {
        "suggestedTextStyleChanges": {
          "description": "The suggested text style changes to this AutoText, keyed by suggestion ID.",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "type": "object"
        },
        "suggestedDeletionIds": {
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "textStyle": {
          "description": "The text style of this AutoText.",
          "$ref": "TextStyle"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "PAGE_NUMBER",
            "PAGE_COUNT"
          ],
          "description": "The type of this auto text.",
          "type": "string",
          "enumDescriptions": [
            "An unspecified auto text type.",
            "Type for auto text that represents the current page number.",
            "Type for auto text that represents the total number of pages in the document."
          ]
        },
        "suggestedInsertionIds": {
          "items": {
            "type": "string"
          },
          "description": "The suggested insertion IDs. An AutoText may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.",
          "type": "array"
        }
      }
    },
    "PersonProperties": {
      "type": "object",
      "id": "PersonProperties",
      "properties": {
        "email": {
          "description": "The email address linked to this Person. This field is always present.",
          "type": "string"
        },
        "name": {
          "description": "The name of the person if it's displayed in the link text instead of the person's email address.",
          "type": "string"
        }
      },
      "description": "Properties specific to a linked Person."
    },
    "Link": {
      "type": "object",
      "id": "Link",
      "description": "A reference to another portion of a document or an external URL resource.",
      "properties": {
        "url": {
          "description": "An external URL.",
          "type": "string"
        },
        "bookmarkId": {
          "description": "The ID of a bookmark in this document. Legacy field: Instead, set includeTabsContent to `true` and use Link.bookmark for read and write operations. This field is only returned when includeTabsContent is set to `false` in documents containing a single tab and links to a bookmark within the singular tab. Otherwise, Link.bookmark is returned. If this field is used in a write request, the bookmark is considered to be from the tab ID specified in the request. If a tab ID is not specified in the request, it is considered to be from the first tab in the document.",
          "type": "string"
        },
        "tabId": {
          "description": "The ID of a tab in this document.",
          "type": "string"
        },
        "headingId": {
          "description": "The ID of a heading in this document. Legacy field: Instead, set includeTabsContent to `true` and use Link.heading for read and write operations. This field is only returned when includeTabsContent is set to `false` in documents containing a single tab and links to a heading within the singular tab. Otherwise, Link.heading is returned. If this field is used in a write request, the heading is considered to be from the tab ID specified in the request. If a tab ID is not specified in the request, it is considered to be from the first tab in the document.",
          "type": "string"
        },
        "heading": {
          "description": "A heading in this document. In documents containing a single tab, links to headings within the singular tab continue to return Link.headingId when the includeTabsContent parameter is set to `false` or unset. Otherwise, this field is returned.",
          "$ref": "HeadingLink"
        },
        "bookmark": {
          "description": "A bookmark in this document. In documents containing a single tab, links to bookmarks within the singular tab continue to return Link.bookmarkId when the includeTabsContent parameter is set to `false` or unset. Otherwise, this field is returned.",
          "$ref": "BookmarkLink"
        }
      }
    },
    "Size": {
      "properties": {
        "width": {
          "$ref": "Dimension",
          "description": "The width of the object."
        },
        "height": {
          "description": "The height of the object.",
          "$ref": "Dimension"
        }
      },
      "id": "Size",
      "description": "A width and height.",
      "type": "object"
    },
    "TableRowStyle": {
      "type": "object",
      "id": "TableRowStyle",
      "properties": {
        "preventOverflow": {
          "description": "Whether the row cannot overflow across page or column boundaries.",
          "type": "boolean"
        },
        "minRowHeight": {
          "description": "The minimum height of the row. The row will be rendered in the Docs editor at a height equal to or greater than this value in order to show all the content in the row's cells.",
          "$ref": "Dimension"
        },
        "tableHeader": {
          "type": "boolean",
          "description": "Whether the row is a table header."
        }
      },
      "description": "Styles that apply to a table row."
    },
    "LinkedContentReferenceSuggestionState": {
      "properties": {
        "sheetsChartReferenceSuggestionState": {
          "description": "A mask that indicates which of the fields in sheets_chart_reference have been changed in this suggestion.",
          "$ref": "SheetsChartReferenceSuggestionState"
        }
      },
      "id": "LinkedContentReferenceSuggestionState",
      "type": "object",
      "description": "A mask that indicates which of the fields on the base LinkedContentReference have been changed in this suggestion. For any field set to true, there's a new suggested value."
    },
    "CommentThread": {
      "properties": {
        "anchorId": {
          "type": "string",
          "description": "The ID of the CommentAnchor in the document that this thread is tied to. Multiple comment threads may be anchored to the same CommentAnchor."
        },
        "replies": {
          "description": "Replies to the head post.",
          "type": "array",
          "items": {
            "$ref": "Post"
          }
        },
        "headPost": {
          "$ref": "Post",
          "description": "The first post in the thread."
        },
        "status": {
          "enum": [
            "STATUS_UNSPECIFIED",
            "OPEN",
            "RESOLVED"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The comment thread is open.",
            "The comment thread is resolved."
          ],
          "type": "string",
          "description": "Whether the thread is open or resolved."
        },
        "commentId": {
          "description": "The unique ID of the comment thread.",
          "type": "string"
        },
        "plainTextQuote": {
          "description": "The quoted text from the document when the comment was created, formatted as plain-text.",
          "type": "string"
        }
      },
      "description": "Represents a single comment thread. [Developer Preview](https://developers.google.com/workspace/preview).",
      "type": "object",
      "id": "CommentThread"
    },
    "UpdateParagraphStyleRequest": {
      "type": "object",
      "description": "Update the styling of all paragraphs that overlap with the given range.",
      "id": "UpdateParagraphStyleRequest",
      "properties": {
        "paragraphStyle": {
          "description": "The styles to set on the paragraphs. Certain paragraph style changes may cause other changes in order to mirror the behavior of the Docs editor. See the documentation of ParagraphStyle for more information.",
          "$ref": "ParagraphStyle"
        },
        "fields": {
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root `paragraph_style` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example, to update the paragraph style's alignment property, set `fields` to `\"alignment\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset.",
          "format": "google-fieldmask"
        },
        "range": {
          "$ref": "Range",
          "description": "The range overlapping the paragraphs to style."
        }
      }
    },
    "PositionedObjectProperties": {
      "description": "Properties of a PositionedObject.",
      "id": "PositionedObjectProperties",
      "properties": {
        "embeddedObject": {
          "description": "The embedded object of this positioned object.",
          "$ref": "EmbeddedObject"
        },
        "positioning": {
          "description": "The positioning of this positioned object relative to the newline of the Paragraph that references this positioned object.",
          "$ref": "PositionedObjectPositioning"
        }
      },
      "type": "object"
    },
    "SizeSuggestionState": {
      "id": "SizeSuggestionState",
      "type": "object",
      "properties": {
        "heightSuggested": {
          "description": "Indicates if there was a suggested change to height.",
          "type": "boolean"
        },
        "widthSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to width."
        }
      },
      "description": "A mask that indicates which of the fields on the base Size have been changed in this suggestion. For any field set to true, the Size has a new suggested value."
    },
    "ColumnBreak": {
      "description": "A ParagraphElement representing a column break. A column break makes the subsequent text start at the top of the next column.",
      "type": "object",
      "properties": {
        "suggestedTextStyleChanges": {
          "type": "object",
          "description": "The suggested text style changes to this ColumnBreak, keyed by suggestion ID.",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          }
        },
        "suggestedInsertionIds": {
          "type": "array",
          "description": "The suggested insertion IDs. A ColumnBreak may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.",
          "items": {
            "type": "string"
          }
        },
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The text style of this ColumnBreak. Similar to text content, like text runs and footnote references, the text style of a column break can affect content layout as well as the styling of text inserted next to it."
        },
        "suggestedDeletionIds": {
[...]
