{
  "batchPath": "batch",
  "basePath": "",
  "mtlsRootUrl": "https://docs.mtls.googleapis.com/",
  "version": "v1",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "rootUrl": "https://docs.googleapis.com/",
  "servicePath": "",
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "See and download all your Google Drive files"
        },
        "https://www.googleapis.com/auth/documents": {
          "description": "See, edit, create, and delete all your Google Docs documents"
        },
        "https://www.googleapis.com/auth/documents.readonly": {
          "description": "See all your Google Docs documents"
        },
        "https://www.googleapis.com/auth/drive.file": {
          "description": "See, edit, create, and delete only the specific Google Drive files you use with this app"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        }
      }
    }
  },
  "id": "docs:v1",
  "description": "Reads and writes Google Docs documents.",
  "schemas": {
    "Shading": {
      "id": "Shading",
      "properties": {
        "backgroundColor": {
          "$ref": "OptionalColor",
          "description": "The background color of this paragraph shading."
        }
      },
      "description": "The shading of a paragraph.",
      "type": "object"
    },
    "CreateDropdownDefinitionResponse": {
      "properties": {
        "dropdownDefinition": {
          "$ref": "DropdownDefinition",
          "description": "The newly-created DropdownDefinition."
        }
      },
      "type": "object",
      "description": "Response message for creating a dropdown definition.",
      "id": "CreateDropdownDefinitionResponse"
    },
    "Location": {
      "id": "Location",
      "description": "A particular location in the document.",
      "properties": {
        "index": {
          "description": "The zero-based index, in UTF-16 code units. The index is relative to the beginning of the segment specified by segment_id.",
          "type": "integer",
          "format": "int32"
        },
        "segmentId": {
          "type": "string",
          "description": "The ID of the header, footer or footnote the location is in. An empty segment ID signifies the document's body."
        },
        "tabId": {
          "description": "The tab that the location is in. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Response": {
      "id": "Response",
      "description": "A single response from an update.",
      "type": "object",
      "properties": {
        "createHeader": {
          "description": "The result of creating a header.",
          "$ref": "CreateHeaderResponse"
        },
        "insertInlineImage": {
          "description": "The result of inserting an inline image.",
          "$ref": "InsertInlineImageResponse"
        },
        "insertInlineSheetsChart": {
          "description": "The result of inserting an inline Google Sheets chart.",
          "$ref": "InsertInlineSheetsChartResponse"
        },
        "createNamedRange": {
          "$ref": "CreateNamedRangeResponse",
          "description": "The result of creating a named range."
        },
        "addDocumentTab": {
          "$ref": "AddDocumentTabResponse",
          "description": "The result of adding a document tab."
        },
        "insertComment": {
          "description": "The result of inserting a comment.",
          "$ref": "InsertCommentResponse"
        },
        "createFooter": {
          "description": "The result of creating a footer.",
          "$ref": "CreateFooterResponse"
        },
        "replaceAllText": {
          "$ref": "ReplaceAllTextResponse",
          "description": "The result of replacing text."
        },
        "addCommentReply": {
          "$ref": "AddCommentReplyResponse",
          "description": "The result of adding a reply to a comment or suggestion."
        },
        "createDropdownDefinition": {
          "description": "The result of creating a dropdown definition.",
          "$ref": "CreateDropdownDefinitionResponse"
        },
        "createFootnote": {
          "description": "The result of creating a footnote.",
          "$ref": "CreateFootnoteResponse"
        },
        "insertDropdown": {
          "$ref": "InsertDropdownResponse",
          "description": "The result of inserting a dropdown."
        }
      }
    },
    "InsertDropdownRequest": {
      "description": "Inserts a Dropdown at the specified location.",
      "type": "object",
      "properties": {
        "location": {
          "description": "The Location in the document to insert the dropdown at.",
          "$ref": "Location"
        },
        "dropdownDefinitionId": {
          "type": "string",
          "description": "Required. The DropdownDefinition ID."
        },
        "endOfSegmentLocation": {
          "$ref": "EndOfSegmentLocation",
          "description": "The EndOfSegmentLocation in the document to insert the dropdown at."
        },
        "selectedOptionId": {
          "type": "string",
          "description": "Optional initial value for the dropdown. If this field is not specified, the new dropdown will default to selecting the first option defined in the dropdown definition. If this field is specified but does not reference a valid option in the dropdown definition, a 400 bad request error is returned."
        }
      },
      "id": "InsertDropdownRequest"
    },
    "Table": {
      "description": "A StructuralElement representing a table.",
      "id": "Table",
      "type": "object",
      "properties": {
        "tableRows": {
          "items": {
            "$ref": "TableRow"
          },
          "description": "The contents and style of each row.",
          "type": "array"
        },
        "columns": {
          "format": "int32",
          "type": "integer",
          "description": "Number of columns in the table. It's possible for a table to be non-rectangular, so some rows may have a different number of cells."
        },
        "rows": {
          "type": "integer",
          "format": "int32",
          "description": "Number of rows in the table."
        },
        "tableStyle": {
          "description": "The style of the table.",
          "$ref": "TableStyle"
        },
        "suggestedDeletionIds": {
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "suggestedInsertionIds": {
          "description": "The suggested insertion IDs. A Table may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "PinTableHeaderRowsRequest": {
      "type": "object",
      "id": "PinTableHeaderRowsRequest",
      "properties": {
        "tableStartLocation": {
          "description": "The location where the table starts in the document.",
          "$ref": "Location"
        },
        "pinnedHeaderRowsCount": {
          "format": "int32",
          "description": "The number of table rows to pin, where 0 implies that all rows are unpinned.",
          "type": "integer"
        }
      },
      "description": "Updates the number of pinned table header rows in a table."
    },
    "OptionalColor": {
      "description": "A color that can either be fully opaque or fully transparent.",
      "id": "OptionalColor",
      "type": "object",
      "properties": {
        "color": {
          "$ref": "Color",
          "description": "If set, this will be used as an opaque color. If unset, this represents a transparent color."
        }
      }
    },
    "SuggestedTableCellStyle": {
      "type": "object",
      "id": "SuggestedTableCellStyle",
      "properties": {
        "tableCellStyleSuggestionState": {
          "description": "A mask that indicates which of the fields on the base TableCellStyle have been changed in this suggestion.",
          "$ref": "TableCellStyleSuggestionState"
        },
        "tableCellStyle": {
          "description": "A TableCellStyle that only includes the changes made in this suggestion. This can be used along with the table_cell_style_suggestion_state to see which fields have changed and their new values.",
          "$ref": "TableCellStyle"
        }
      },
      "description": "A suggested change to a TableCellStyle."
    },
    "InsertInlineImageRequest": {
      "description": "Inserts an InlineObject containing an image at the given location.",
      "id": "InsertInlineImageRequest",
      "type": "object",
      "properties": {
        "endOfSegmentLocation": {
          "$ref": "EndOfSegmentLocation",
          "description": "Inserts the text at the end of a header, footer or the document body. Inline images cannot be inserted inside a footnote."
        },
        "location": {
          "$ref": "Location",
          "description": "Inserts the image at a specific index in the document. The image must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between the table and its preceding paragraph). Inline images cannot be inserted inside a footnote or equation."
        },
        "uri": {
          "type": "string",
          "description": "The image URI. The image is fetched once at insertion time and a copy is stored for display inside the document. Images must be less than 50MB in size, cannot exceed 25 megapixels, and must be in one of PNG, JPEG, or GIF format. The provided URI must be publicly accessible and at most 2 kB in length. The URI itself is saved with the image, and exposed via the ImageProperties.content_uri field."
        },
        "objectSize": {
          "description": "The size that the image should appear as in the document. This property is optional and the final size of the image in the document is determined by the following rules: * If neither width nor height is specified, then a default size of the image is calculated based on its resolution. * If one dimension is specified then the other dimension is calculated to preserve the aspect ratio of the image. * If both width and height are specified, the image is scaled to fit within the provided dimensions while maintaining its aspect ratio.",
          "$ref": "Size"
        }
      }
    },
    "SuggestionResponse": {
      "type": "object",
      "description": "The suggestions which were affected by a given update.",
      "properties": {
        "updatedSummarySuggestionIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The IDs of suggestions whose summaries were updated during the update."
        },
        "deletedSuggestionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The IDs of suggestions which were deleted during the update."
        },
        "rejectedSuggestionIds": {
          "description": "The IDs of suggestions which were rejected during the update.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "acceptedSuggestionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The IDs of suggestions which were accepted during the update."
        },
        "createdSuggestionIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The IDs of suggestions which were created during the update."
        }
      },
      "id": "SuggestionResponse"
    },
    "DropdownProperties": {
      "id": "DropdownProperties",
      "properties": {
        "dropdownDefinitionId": {
          "type": "string",
          "description": "The ID of the DropdownDefinition that defines the options for this dropdown."
        },
        "displayValue": {
          "type": "string",
          "description": "The human-readable display text of the currently selected item. This field is populated by the server based on the dropdown definition and the selected option ID. It may differ from `DropdownOption.display_value` if the underlying option definition was modified or deleted, or during pending suggested changes."
        },
        "selectedOptionId": {
          "description": "The ID of the selected option in this dropdown.",
          "type": "string"
        }
      },
      "description": "Properties specific to a dropdown.",
      "type": "object"
    },
    "DocumentFormat": {
      "id": "DocumentFormat",
      "type": "object",
      "description": "Represents document-level format settings.",
      "properties": {
        "documentMode": {
          "type": "string",
          "enum": [
            "DOCUMENT_MODE_UNSPECIFIED",
            "PAGES",
            "PAGELESS"
          ],
          "description": "Whether the document has pages or is pageless.",
          "enumDescriptions": [
            "The document mode is unspecified.",
            "The document has pages.",
            "The document is pageless."
          ]
        }
      }
    },
    "WeightedFontFamily": {
      "type": "object",
      "properties": {
        "weight": {
          "description": "The weight of the font. This field can have any value that's a multiple of `100` between `100` and `900`, inclusive. This range corresponds to the numerical values described in the CSS 2.1 Specification, [section 15.6](https://www.w3.org/TR/CSS21/fonts.html#font-boldness), with non-numerical values disallowed. The default value is `400` (\"normal\"). The font weight makes up just one component of the rendered font weight. A combination of the `weight` and the text style's resolved `bold` value determine the rendered weight, after accounting for inheritance: * If the text is bold and the weight is less than `400`, the rendered weight is 400. * If the text is bold and the weight is greater than or equal to `400` but is less than `700`, the rendered weight is `700`. * If the weight is greater than or equal to `700`, the rendered weight is equal to the weight. * If the text is not bold, the rendered weight is equal to the weight.",
          "type": "integer",
          "format": "int32"
        },
        "fontFamily": {
          "type": "string",
          "description": "The font family of the text. The font family can be any font from the Font menu in Docs or from [Google Fonts] (https://fonts.google.com/). If the font name is unrecognized, the text is rendered in `Arial`."
        }
      },
      "description": "Represents a font family and weight of text.",
      "id": "WeightedFontFamily"
    },
    "CommentThread": {
      "type": "object",
      "description": "Represents a single comment thread.",
      "properties": {
        "headPost": {
          "description": "The first post in the thread.",
          "$ref": "Post"
        },
        "commentId": {
          "description": "The unique ID of the comment thread.",
          "type": "string"
        },
        "status": {
          "enum": [
            "STATUS_UNSPECIFIED",
            "OPEN",
            "RESOLVED"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The comment thread is open.",
            "The comment thread is resolved."
          ],
          "type": "string",
          "description": "Whether the thread is open or resolved."
        },
        "plainTextQuote": {
          "description": "The quoted text from the document when the comment was created, formatted as plain-text.",
          "type": "string"
        },
        "anchorId": {
          "description": "The ID of the CommentAnchor in the document that this thread is tied to. Multiple comment threads may be anchored to the same CommentAnchor.",
          "type": "string"
        },
        "replies": {
          "items": {
            "$ref": "Post"
          },
          "description": "Replies to the head post.",
          "type": "array"
        }
      },
      "id": "CommentThread"
    },
    "UpdateTextStyleRequest": {
      "type": "object",
      "properties": {
        "fields": {
          "description": "The fields that should be updated. At least one field must be specified. The root `text_style` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example, to update the text style to bold, set `fields` to `\"bold\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "range": {
          "$ref": "Range",
          "description": "The range of text to style. The range may be extended to include adjacent newlines. If the range fully contains a paragraph belonging to a list, the paragraph's bullet is also updated with the matching text style. Ranges cannot be inserted inside a relative UpdateTextStyleRequest."
        },
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The styles to set on the text. If the value for a particular style matches that of the parent, that style will be set to inherit. Certain text style changes may cause other changes in order to to mirror the behavior of the Docs editor. See the documentation of TextStyle for more information."
        }
      },
      "id": "UpdateTextStyleRequest",
      "description": "Update the styling of text."
    },
    "HorizontalRule": {
      "description": "A ParagraphElement representing a horizontal line.",
      "id": "HorizontalRule",
      "properties": {
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The text style of this HorizontalRule. Similar to text content, like text runs and footnote references, the text style of a horizontal rule can affect content layout as well as the styling of text inserted next to it."
        },
        "suggestedTextStyleChanges": {
          "type": "object",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "description": "The suggested text style changes to this HorizontalRule, keyed by suggestion ID."
        },
        "suggestedDeletionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content."
        },
        "suggestedInsertionIds": {
          "items": {
            "type": "string"
          },
          "description": "The suggested insertion IDs. A HorizontalRule may have multiple insertion IDs if it is a nested suggested change. If empty, then this is not a suggested insertion.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "InsertTextRequest": {
      "id": "InsertTextRequest",
      "type": "object",
      "description": "Inserts text at the specified location.",
      "properties": {
        "text": {
          "type": "string",
          "description": "The text to be inserted. Inserting a newline character will implicitly create a new Paragraph at that index. The paragraph style of the new paragraph will be copied from the paragraph at the current insertion index, including lists and bullets. Text styles for inserted text will be determined automatically, generally preserving the styling of neighboring text. In most cases, the text style for the inserted text will match the text immediately before the insertion index. Some control characters (U+0000-U+0008, U+000C-U+001F) and characters from the Unicode Basic Multilingual Plane Private Use Area (U+E000-U+F8FF) will be stripped out of the inserted text."
        },
        "endOfSegmentLocation": {
          "$ref": "EndOfSegmentLocation",
          "description": "Inserts the text at the end of a header, footer, footnote or the document body."
        },
        "location": {
          "description": "Inserts the text at a specific index in the document. Text must be inserted inside the bounds of an existing Paragraph. For instance, text cannot be inserted at a table's start index (i.e. between the table and its preceding paragraph). The text must be inserted in the preceding paragraph.",
          "$ref": "Location"
        }
      }
    },
    "DeleteParagraphBulletsRequest": {
      "id": "DeleteParagraphBulletsRequest",
      "description": "Deletes bullets from all of the paragraphs that overlap with the given range. The nesting level of each paragraph will be visually preserved by adding indent to the start of the corresponding paragraph.",
      "properties": {
        "range": {
          "description": "The range to delete bullets from.",
          "$ref": "Range"
        }
      },
      "type": "object"
    },
    "CreateNamedRangeResponse": {
      "properties": {
        "namedRangeId": {
          "description": "The ID of the created named range.",
          "type": "string"
        }
      },
      "id": "CreateNamedRangeResponse",
      "type": "object",
      "description": "The result of creating a named range."
    },
    "EmbeddedObjectBorderSuggestionState": {
      "properties": {
        "propertyStateSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to property_state."
        },
        "colorSuggested": {
          "description": "Indicates if there was a suggested change to color.",
          "type": "boolean"
        },
        "dashStyleSuggested": {
          "description": "Indicates if there was a suggested change to dash_style.",
          "type": "boolean"
        },
        "widthSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to width."
        }
      },
      "id": "EmbeddedObjectBorderSuggestionState",
      "description": "A mask that indicates which of the fields on the base EmbeddedObjectBorder have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "type": "object"
    },
    "ReplaceImageRequest": {
      "description": "Replaces an existing image with a new image. Replacing an image removes some image effects from the existing image in order to mirror the behavior of the Docs editor.",
      "id": "ReplaceImageRequest",
      "properties": {
        "imageObjectId": {
          "type": "string",
          "description": "The ID of the existing image that will be replaced. The ID can be retrieved from the response of a get request."
        },
        "uri": {
          "type": "string",
          "description": "The URI of the new image. The image is fetched once at insertion time and a copy is stored for display inside the document. Images must be less than 50MB, cannot exceed 25 megapixels, and must be in PNG, JPEG, or GIF format. The provided URI can't surpass 2 KB in length. The URI is saved with the image, and exposed through the ImageProperties.source_uri field."
        },
        "tabId": {
          "type": "string",
          "description": "The tab that the image to be replaced is in. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document."
        },
        "imageReplaceMethod": {
          "description": "The replacement method.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified image replace method. This value must not be used.",
            "Scales and centers the image to fill the bounds of the original image. The image may be cropped in order to fill the original image's bounds. The rendered size of the image will be the same as the original image."
          ],
          "enum": [
            "IMAGE_REPLACE_METHOD_UNSPECIFIED",
            "CENTER_CROP"
          ]
        }
      },
      "type": "object"
    },
    "TextRun": {
      "type": "object",
      "id": "TextRun",
      "description": "A ParagraphElement that represents a run of text that all has the same styling.",
      "properties": {
        "suggestedTextStyleChanges": {
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "description": "The suggested text style changes to this run, keyed by suggestion ID.",
          "type": "object"
        },
        "content": {
          "description": "The text of this run. Any non-text elements in the run are replaced with the Unicode character U+E907.",
          "type": "string"
        },
        "suggestedDeletionIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content."
        },
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The text style of this run."
        },
        "suggestedInsertionIds": {
          "items": {
            "type": "string"
          },
          "description": "The suggested insertion IDs. A TextRun may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.",
          "type": "array"
        }
      }
    },
    "UpdateDropdownDefinitionPropertiesRequest": {
      "id": "UpdateDropdownDefinitionPropertiesRequest",
      "properties": {
        "dropdownDefinitionId": {
          "type": "string",
          "description": "The ID of the DropdownDefinition to update."
        },
        "selectedOptionIdReplacements": {
          "description": "A map of option IDs to their replacements, used to automatically reassign orphaned Dropdown chips when an option is deleted. The keys are the IDs of the options being deleted, and the values are the IDs of their replacement options. If an option being deleted is selected in one or more Dropdown chips in the document, a replacement entry for that option must be provided in this map, and the replacement option ID must exist in the updated DropdownDefinition. If a replacement is required but not provided, a 400 bad request error is returned. Options being deleted that are not selected in any Dropdown chips do not require a replacement. For example, if option A is being replaced by option B, the map should be `{\"A\": \"B\"}`.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "fields": {
          "description": "The fields that should be updated. At least one field must be specified. The root `dropdown_definition_properties` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. When `dropdown_definition_properties.options` is included in the field mask, the full, complete list of desired options must be provided in `dropdown_definition_properties.options`.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "tabId": {
          "description": "The ID of the tab that contains the dropdown definition to update. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document.",
          "type": "string"
        },
        "dropdownDefinitionProperties": {
          "$ref": "DropdownDefinitionProperties",
          "description": "The properties to update."
        }
      },
      "type": "object",
      "description": "Updates the properties of a DropdownDefinition."
    },
    "CreateDropdownDefinitionRequest": {
      "id": "CreateDropdownDefinitionRequest",
      "properties": {
        "dropdownDefinition": {
          "$ref": "DropdownDefinition",
          "description": "Required. The DropdownDefinition to create."
        },
        "tabId": {
          "description": "The ID of the tab to create the dropdown definition in. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Creates a new DropdownDefinition in the document."
    },
    "InsertTableColumnRequest": {
      "properties": {
        "tableCellLocation": {
          "description": "The reference table cell location from which columns will be inserted. A new column will be inserted to the left (or right) of the column where the reference cell is. If the reference cell is a merged cell, a new column will be inserted to the left (or right) of the merged cell.",
          "$ref": "TableCellLocation"
        },
        "insertRight": {
          "type": "boolean",
          "description": "Whether to insert new column to the right of the reference cell location. - `True`: insert to the right. - `False`: insert to the left."
        }
      },
      "id": "InsertTableColumnRequest",
      "type": "object",
      "description": "Inserts an empty column into a table."
    },
    "DeleteDropdownDefinitionRequest": {
      "id": "DeleteDropdownDefinitionRequest",
      "type": "object",
      "description": "Deletes a DropdownDefinition. If the dropdown definition is referenced by any dropdown instances (chips) in the document, a 400 bad request error is returned.",
      "properties": {
        "tabId": {
          "description": "The ID of the tab that contains the dropdown definition to delete. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document.",
          "type": "string"
        },
        "dropdownDefinitionId": {
          "description": "The ID of the DropdownDefinition to delete.",
          "type": "string"
        }
      }
    },
    "EmbeddedDrawingPropertiesSuggestionState": {
      "type": "object",
      "properties": {},
      "id": "EmbeddedDrawingPropertiesSuggestionState",
      "description": "A mask that indicates which of the fields on the base EmbeddedDrawingProperties have been changed in this suggestion. For any field set to true, there's a new suggested value."
    },
    "PositionedObjectPositioningSuggestionState": {
      "description": "A mask that indicates which of the fields on the base PositionedObjectPositioning have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "id": "PositionedObjectPositioningSuggestionState",
      "type": "object",
      "properties": {
        "layoutSuggested": {
          "description": "Indicates if there was a suggested change to layout.",
          "type": "boolean"
        },
        "topOffsetSuggested": {
          "description": "Indicates if there was a suggested change to top_offset.",
          "type": "boolean"
        },
        "leftOffsetSuggested": {
          "description": "Indicates if there was a suggested change to left_offset.",
          "type": "boolean"
        }
      }
    },
    "ImageProperties": {
      "properties": {
        "cropProperties": {
          "description": "The crop properties of the image.",
          "$ref": "CropProperties"
        },
        "contrast": {
          "description": "The contrast effect of the image. The value should be in the interval [-1.0, 1.0], where 0 means no effect.",
          "type": "number",
          "format": "float"
        },
        "brightness": {
          "format": "float",
          "description": "The brightness effect of the image. The value should be in the interval [-1.0, 1.0], where 0 means no effect.",
          "type": "number"
        },
        "sourceUri": {
          "type": "string",
          "description": "The source URI is the URI used to insert the image. The source URI can be empty."
        },
        "contentUri": {
          "description": "A URI to the image with a default lifetime of 30 minutes. This URI is tagged with the account of the requester. Anyone with the URI effectively accesses the image as the original requester. Access to the image may be lost if the document's sharing settings change.",
          "type": "string"
        },
        "angle": {
          "description": "The clockwise rotation angle of the image, in radians.",
          "format": "float",
          "type": "number"
        },
        "transparency": {
          "description": "The transparency effect of the image. The value should be in the interval [0.0, 1.0], where 0 means no effect and 1 means transparent.",
          "type": "number",
          "format": "float"
        }
      },
      "id": "ImageProperties",
      "description": "The properties of an image.",
      "type": "object"
    },
    "StructuralElement": {
      "description": "A StructuralElement describes content that provides structure to the document.",
      "id": "StructuralElement",
      "properties": {
        "tableOfContents": {
          "description": "A table of contents type of structural element.",
          "$ref": "TableOfContents"
        },
        "startIndex": {
          "description": "The zero-based start index of this structural element, in UTF-16 code units.",
          "format": "int32",
          "type": "integer"
        },
        "table": {
          "description": "A table type of structural element.",
          "$ref": "Table"
        },
        "paragraph": {
          "$ref": "Paragraph",
          "description": "A paragraph type of structural element."
        },
        "endIndex": {
          "type": "integer",
          "description": "The zero-based end index of this structural element, exclusive, in UTF-16 code units.",
          "format": "int32"
        },
        "sectionBreak": {
          "$ref": "SectionBreak",
          "description": "A section break type of structural element."
        }
      },
      "type": "object"
    },
    "EmbeddedObjectSuggestionState": {
      "description": "A mask that indicates which of the fields on the base EmbeddedObject have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "id": "EmbeddedObjectSuggestionState",
      "type": "object",
      "properties": {
        "imagePropertiesSuggestionState": {
          "description": "A mask that indicates which of the fields in image_properties have been changed in this suggestion.",
          "$ref": "ImagePropertiesSuggestionState"
        },
        "marginBottomSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to margin_bottom."
        },
        "marginLeftSuggested": {
          "description": "Indicates if there was a suggested change to margin_left.",
          "type": "boolean"
        },
        "embeddedObjectBorderSuggestionState": {
          "$ref": "EmbeddedObjectBorderSuggestionState",
          "description": "A mask that indicates which of the fields in embedded_object_border have been changed in this suggestion."
        },
        "linkedContentReferenceSuggestionState": {
          "$ref": "LinkedContentReferenceSuggestionState",
          "description": "A mask that indicates which of the fields in linked_content_reference have been changed in this suggestion."
        },
        "titleSuggested": {
          "description": "Indicates if there was a suggested change to title.",
          "type": "boolean"
        },
        "marginRightSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to margin_right."
        },
        "embeddedDrawingPropertiesSuggestionState": {
          "$ref": "EmbeddedDrawingPropertiesSuggestionState",
          "description": "A mask that indicates which of the fields in embedded_drawing_properties have been changed in this suggestion."
        },
        "descriptionSuggested": {
          "description": "Indicates if there was a suggested change to description.",
          "type": "boolean"
        },
        "sizeSuggestionState": {
          "$ref": "SizeSuggestionState",
          "description": "A mask that indicates which of the fields in size have been changed in this suggestion."
        },
        "marginTopSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to margin_top."
        }
      }
    },
    "Document": {
      "properties": {
        "body": {
          "description": "Output only. The main body of the document. Legacy field: Instead, use Document.tabs.documentTab.body, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
          "$ref": "Body"
        },
        "inlineObjects": {
          "type": "object",
          "additionalProperties": {
            "$ref": "InlineObject"
          },
          "description": "Output only. The inline objects in the document, keyed by object ID. Legacy field: Instead, use Document.tabs.documentTab.inlineObjects, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document."
        },
        "headers": {
          "additionalProperties": {
            "$ref": "Header"
          },
          "description": "Output only. The headers in the document, keyed by header ID. Legacy field: Instead, use Document.tabs.documentTab.headers, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
          "type": "object"
        },
        "comments": {
          "description": "Output only. The comments associated with the document. Only populated if the commentsViewMode parameter is set to require comments (such as `COMMENTS_VIEW_MODE_INCLUDED`).",
          "items": {
            "$ref": "CommentThread"
          },
          "type": "array"
        },
        "lists": {
          "description": "Output only. The lists in the document, keyed by list ID. Legacy field: Instead, use Document.tabs.documentTab.lists, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
          "additionalProperties": {
            "$ref": "List"
          },
          "type": "object"
        },
        "namedStyles": {
          "description": "Output only. The named styles of the document. Legacy field: Instead, use Document.tabs.documentTab.namedStyles, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
          "$ref": "NamedStyles"
        },
        "footnotes": {
          "type": "object",
          "description": "Output only. The footnotes in the document, keyed by footnote ID. Legacy field: Instead, use Document.tabs.documentTab.footnotes, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
          "additionalProperties": {
            "$ref": "Footnote"
          }
        },
        "suggestionsViewMode": {
          "type": "string",
          "enumDescriptions": [
            "The SuggestionsViewMode applied to the returned document depends on the user's current access level. If the user only has view access, PREVIEW_WITHOUT_SUGGESTIONS is applied. Otherwise, SUGGESTIONS_INLINE is applied. This is the default suggestions view mode.",
            "The returned document has suggestions inline. Suggested changes will be differentiated from base content within the document. Requests to retrieve a document using this mode will return a 403 error if the user does not have permission to view suggested changes.",
            "The returned document is a preview with all suggested changes accepted. Requests to retrieve a document using this mode will return a 403 error if the user does not have permission to view suggested changes.",
            "The returned document is a preview with all suggested changes rejected if there are any suggestions in the document."
          ],
          "enum": [
            "DEFAULT_FOR_CURRENT_ACCESS",
            "SUGGESTIONS_INLINE",
            "PREVIEW_SUGGESTIONS_ACCEPTED",
            "PREVIEW_WITHOUT_SUGGESTIONS"
          ],
          "description": "Output only. The suggestions view mode applied to the document. Note: When editing a document, changes must be based on a document with SUGGESTIONS_INLINE."
        },
        "namedRanges": {
          "description": "Output only. The named ranges in the document, keyed by name. Legacy field: Instead, use Document.tabs.documentTab.namedRanges, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
          "additionalProperties": {
            "$ref": "NamedRanges"
          },
          "type": "object"
        },
        "commentsViewMode": {
          "type": "string",
          "description": "Output only. The comments view mode applied to the document.",
          "enum": [
            "COMMENTS_VIEW_MODE_UNSPECIFIED",
            "COMMENTS_VIEW_MODE_DEFAULT_FOR_CURRENT_ACCESS",
            "COMMENTS_VIEW_MODE_OMITTED",
            "COMMENTS_VIEW_MODE_INCLUDED"
          ],
          "enumDescriptions": [
            "The CommentsViewMode is unspecified. COMMENTS_VIEW_MODE_OMITTED is applied.",
            "The CommentsViewMode applied to the returned document depends on the user's current access level. If the user only has view access, COMMENTS_VIEW_MODE_OMITTED is applied. Otherwise, COMMENTS_VIEW_MODE_INCLUDED is applied.",
            "The returned document has comments omitted.",
            "The returned document has comments included. Requests to retrieve a document using this mode will return a 403 error if the user does not have permission to view comments. When set, suggestions_view_mode must also be set to SUGGESTIONS_INLINE. Returns a 400 bad request error otherwise."
          ]
        },
        "documentStyle": {
          "description": "Output only. The style of the document. Legacy field: Instead, use Document.tabs.documentTab.documentStyle, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
          "$ref": "DocumentStyle"
        },
        "revisionId": {
          "type": "string",
          "description": "Output only. The revision ID of the document. Can be used in update requests to specify which revision of a document to apply updates to and how the request should behave if the document has been edited since that revision. Only populated if the user has edit access to the document. The revision ID is not a sequential number but an opaque string. The format of the revision ID might change over time. A returned revision ID is only guaranteed to be valid for 24 hours after it has been returned and cannot be shared across users. If the revision ID is unchanged between calls, then the document has not changed. Conversely, a changed ID (for the same document and user) usually means the document has been updated. However, a changed ID can also be due to internal factors such as ID format changes."
        },
        "suggestions": {
          "description": "Output only. The suggestions associated with the document. Only populated if the commentsViewMode parameter is set to require comments (such as `COMMENTS_VIEW_MODE_INCLUDED`).",
          "type": "array",
          "items": {
            "$ref": "SuggestionThread"
          }
        },
        "positionedObjects": {
          "type": "object",
          "additionalProperties": {
            "$ref": "PositionedObject"
          },
          "description": "Output only. The positioned objects in the document, keyed by object ID. Legacy field: Instead, use Document.tabs.documentTab.positionedObjects, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document."
        },
        "documentId": {
          "type": "string",
          "description": "Output only. The ID of the document."
        },
        "footers": {
          "additionalProperties": {
            "$ref": "Footer"
          },
          "type": "object",
          "description": "Output only. The footers in the document, keyed by footer ID. Legacy field: Instead, use Document.tabs.documentTab.footers, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document."
        },
        "suggestedDocumentStyleChanges": {
          "additionalProperties": {
            "$ref": "SuggestedDocumentStyle"
          },
          "description": "Output only. The suggested changes to the style of the document, keyed by suggestion ID. Legacy field: Instead, use Document.tabs.documentTab.suggestedDocumentStyleChanges, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
          "type": "object"
        },
        "tabs": {
          "items": {
            "$ref": "Tab"
          },
          "type": "array",
          "description": "Output only. Tabs that are part of a document. Tabs can contain child tabs, a tab nested within another tab. Child tabs are represented by the Tab.childTabs field."
        },
        "title": {
          "description": "The title of the document.",
          "type": "string"
        },
        "suggestedNamedStylesChanges": {
          "description": "Output only. The suggested changes to the named styles of the document, keyed by suggestion ID. Legacy field: Instead, use Document.tabs.documentTab.suggestedNamedStylesChanges, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
          "type": "object",
          "additionalProperties": {
            "$ref": "SuggestedNamedStyles"
          }
        }
      },
      "type": "object",
      "id": "Document",
      "description": "A Google Docs document."
    },
    "AutoText": {
      "type": "object",
      "properties": {
        "textStyle": {
          "description": "The text style of this AutoText.",
          "$ref": "TextStyle"
        },
        "suggestedTextStyleChanges": {
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "description": "The suggested text style changes to this AutoText, keyed by suggestion ID.",
          "type": "object"
        },
        "suggestedDeletionIds": {
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "type": {
          "enumDescriptions": [
            "An unspecified auto text type.",
            "Type for auto text that represents the current page number.",
            "Type for auto text that represents the total number of pages in the document."
          ],
          "type": "string",
          "description": "The type of this auto text.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "PAGE_NUMBER",
            "PAGE_COUNT"
          ]
        },
        "suggestedInsertionIds": {
          "items": {
            "type": "string"
          },
          "description": "The suggested insertion IDs. An AutoText may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.",
          "type": "array"
        }
      },
      "id": "AutoText",
      "description": "A ParagraphElement representing a spot in the text that's dynamically replaced with content that can change over time, like a page number."
    },
    "InsertCommentResponse": {
      "type": "object",
      "id": "InsertCommentResponse",
      "description": "Response message for inserting a comment.",
      "properties": {
        "commentThread": {
          "description": "The newly-inserted comment thread.",
          "$ref": "CommentThread"
        }
      }
    },
    "SuggestedTableRowStyle": {
      "type": "object",
      "id": "SuggestedTableRowStyle",
      "description": "A suggested change to a TableRowStyle.",
      "properties": {
        "tableRowStyleSuggestionState": {
          "description": "A mask that indicates which of the fields on the base TableRowStyle have been changed in this suggestion.",
          "$ref": "TableRowStyleSuggestionState"
        },
        "tableRowStyle": {
          "description": "A TableRowStyle that only includes the changes made in this suggestion. This can be used along with the table_row_style_suggestion_state to see which fields have changed and their new values.",
          "$ref": "TableRowStyle"
        }
      }
    },
    "TableRowStyleSuggestionState": {
      "id": "TableRowStyleSuggestionState",
      "type": "object",
      "properties": {
        "minRowHeightSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to min_row_height."
        }
      },
      "description": "A mask that indicates which of the fields on the base TableRowStyle have been changed in this suggestion. For any field set to true, there's a new suggested value."
    },
    "PostAuthor": {
      "description": "Represents a user who authored a comment or suggestion post.",
      "type": "object",
      "id": "PostAuthor",
      "properties": {
        "me": {
          "description": "Whether the user is the authenticated user making the request.",
          "type": "boolean"
        },
        "user": {
          "type": "string",
          "description": "The resource name of the post author user, which can also be used to identify the user in the [Google People API](https://developers.google.com/people/api/rest/v1/people). Format: `users/{user}`. Will not be populated if the anonymous field is `true` or if the post is from an imported document."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the user. May be absent if the author is anonymous."
        },
        "anonymous": {
          "description": "Whether the user is anonymous.",
          "type": "boolean"
        }
      }
    },
    "ObjectReferences": {
      "id": "ObjectReferences",
      "type": "object",
      "description": "A collection of object IDs.",
      "properties": {
        "objectIds": {
          "description": "The object IDs.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Person": {
      "properties": {
        "textStyle": {
          "description": "The text style of this Person.",
          "$ref": "TextStyle"
        },
        "suggestedTextStyleChanges": {
          "type": "object",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "description": "The suggested text style changes to this Person, keyed by suggestion ID."
        },
        "personId": {
          "readOnly": true,
          "description": "Output only. The unique ID of this link.",
          "type": "string"
        },
        "suggestedInsertionIds": {
          "description": "IDs for suggestions that insert this person link into the document. A Person might have multiple insertion IDs if it's a nested suggested change (a suggestion within a suggestion made by a different user, for example). If empty, then this person link isn't a suggested insertion.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "suggestedDeletionIds": {
          "description": "IDs for suggestions that remove this person link from the document. A Person might have multiple deletion IDs if, for example, multiple users suggest deleting it. If empty, then this person link isn't suggested for deletion.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "personProperties": {
          "readOnly": true,
          "$ref": "PersonProperties",
          "description": "Output only. The properties of this Person. This field is always present."
        }
      },
      "id": "Person",
      "description": "A person or email address mentioned in a document. These mentions behave as a single, immutable element containing the person's name or email address.",
      "type": "object"
    },
    "AcceptSuggestionRequest": {
      "description": "Accepts a suggestion. Returns a 403 forbidden error if the requesting user does not have edit access to the document.",
      "id": "AcceptSuggestionRequest",
      "properties": {
        "suggestionId": {
          "description": "The ID of the suggestion.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "InsertDropdownResponse": {
      "type": "object",
      "id": "InsertDropdownResponse",
      "description": "The result of inserting a Dropdown.",
      "properties": {
        "dropdown": {
          "$ref": "Dropdown",
          "description": "The newly-inserted Dropdown."
        }
      }
    },
    "DeleteCommentReplyRequest": {
      "id": "DeleteCommentReplyRequest",
      "properties": {
        "commentId": {
          "type": "string",
          "description": "The ID of the CommentThread which the post belongs to."
        },
        "postId": {
          "type": "string",
          "description": "The ID of the reply Post being deleted."
        },
        "suggestionId": {
          "description": "The ID of the SuggestionThread which the post belongs to.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Deletes a reply Post from a CommentThread or SuggestionThread. Returns a 400 bad request error if: - The requesting user is not the author of the post. - The reply post contains an action. - The reply post contains an assignee."
    },
    "SuggestedDropdownDefinitionProperties": {
      "id": "SuggestedDropdownDefinitionProperties",
      "type": "object",
      "description": "A suggested change to dropdown definition properties.",
      "properties": {
        "dropdownDefinitionProperties": {
          "description": "A DropdownDefinitionProperties that only includes the changes made in this suggestion. This can be used along with the dropdown_definition_properties_suggestion_state to see which fields have changed and their new values.",
          "$ref": "DropdownDefinitionProperties"
        },
        "dropdownDefinitionPropertiesSuggestionState": {
          "$ref": "DropdownDefinitionPropertiesSuggestionState",
          "description": "A mask that indicates which of the fields on the base DropdownDefinitionProperties have been changed in this suggestion."
        }
      }
    },
    "CreateFootnoteRequest": {
      "id": "CreateFootnoteRequest",
      "properties": {
        "endOfSegmentLocation": {
          "description": "Inserts the footnote reference at the end of the document body. Footnote references cannot be inserted inside a header, footer or footnote. Since footnote references can only be inserted in the body, the segment ID field must be empty.",
          "$ref": "EndOfSegmentLocation"
        },
        "location": {
          "description": "Inserts the footnote reference at a specific index in the document. The footnote reference must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between the table and its preceding paragraph). Footnote references cannot be inserted inside an equation, header, footer or footnote. Since footnote references can only be inserted in the body, the segment ID field must be empty.",
          "$ref": "Location"
        }
      },
      "type": "object",
      "description": "Creates a Footnote segment and inserts a new FootnoteReference to it at the given location. The new Footnote segment will contain a space followed by a newline character."
    },
    "UnmergeTableCellsRequest": {
      "description": "Unmerges cells in a Table.",
      "properties": {
        "tableRange": {
          "$ref": "TableRange",
          "description": "The table range specifying which cells of the table to unmerge. All merged cells in this range will be unmerged, and cells that are already unmerged will not be affected. If the range has no merged cells, the request will do nothing. If there is text in any of the merged cells, the text will remain in the \"head\" cell of the resulting block of unmerged cells. The \"head\" cell is the upper-left cell when the content direction is from left to right, and the upper-right otherwise."
        }
      },
      "id": "UnmergeTableCellsRequest",
      "type": "object"
    },
    "WriteControl": {
      "properties": {
        "requiredRevisionId": {
          "description": "The optional revision ID of the document the write request is applied to. If this is not the latest revision of the document, the request is not processed and returns a 400 bad request error. When a required revision ID is returned in a response, it indicates the revision ID of the document after the request was applied.",
          "type": "string"
        },
        "targetRevisionId": {
          "description": "The optional target revision ID of the document the write request is applied to. If collaborator changes have occurred after the document was read using the API, the changes produced by this write request are applied against the collaborator changes. This results in a new revision of the document that incorporates both the collaborator changes and the changes in the request, with the Docs server resolving conflicting changes. When using target revision ID, the API client can be thought of as another collaborator of the document. The target revision ID can only be used to write to recent versions of a document. If the target revision is too far behind the latest revision, the request is not processed and returns a 400 bad request error. The request should be tried again after retrieving the latest version of the document. Usually a revision ID remains valid for use as a target revision for several minutes after it's read, but for frequently edited documents this window might be shorter.",
          "type": "string"
        },
        "writeMode": {
          "description": "How the request updates should be applied to the document. If unspecified, the request updates will be applied as normal edits.",
          "enumDescriptions": [
            "The write mode is unspecified. Defaults to EDIT behavior.",
            "Apply all updates as normal edits.",
            "Apply all updates as suggestions."
          ],
          "type": "string",
          "enum": [
            "WRITE_MODE_UNSPECIFIED",
            "EDIT",
            "SUGGEST"
          ]
        }
      },
      "id": "WriteControl",
      "type": "object",
      "description": "Provides control over how write requests are executed."
    },
    "NamedRanges": {
      "properties": {
        "name": {
          "description": "The name that all the named ranges share.",
          "type": "string"
        },
        "namedRanges": {
          "items": {
            "$ref": "NamedRange"
          },
          "type": "array",
          "description": "The NamedRanges that share the same name."
        }
      },
      "type": "object",
      "description": "A collection of all the NamedRanges in the document that share a given name.",
      "id": "NamedRanges"
    },
    "Link": {
      "properties": {
        "heading": {
          "description": "A heading in this document. In documents containing a single tab, links to headings within the singular tab continue to return Link.headingId when the includeTabsContent parameter is set to `false` or unset. Otherwise, this field is returned.",
          "$ref": "HeadingLink"
        },
        "tabId": {
          "description": "The ID of a tab in this document.",
          "type": "string"
        },
        "bookmark": {
          "description": "A bookmark in this document. In documents containing a single tab, links to bookmarks within the singular tab continue to return Link.bookmarkId when the includeTabsContent parameter is set to `false` or unset. Otherwise, this field is returned.",
          "$ref": "BookmarkLink"
        },
        "bookmarkId": {
          "description": "The ID of a bookmark in this document. Legacy field: Instead, set includeTabsContent to `true` and use Link.bookmark for read and write operations. This field is only returned when includeTabsContent is set to `false` in documents containing a single tab and links to a bookmark within the singular tab. Otherwise, Link.bookmark is returned. If this field is used in a write request, the bookmark is considered to be from the tab ID specified in the request. If a tab ID is not specified in the request, it is considered to be from the first tab in the document.",
          "type": "string"
        },
        "url": {
          "type": "string",
          "description": "An external URL."
        },
        "headingId": {
          "type": "string",
          "description": "The ID of a heading in this document. Legacy field: Instead, set includeTabsContent to `true` and use Link.heading for read and write operations. This field is only returned when includeTabsContent is set to `false` in documents containing a single tab and links to a heading within the singular tab. Otherwise, Link.heading is returned. If this field is used in a write request, the heading is considered to be from the tab ID specified in the request. If a tab ID is not specified in the request, it is considered to be from the first tab in the document."
        }
      },
      "description": "A reference to another portion of a document or an external URL resource.",
      "type": "object",
      "id": "Link"
    },
    "ReplaceAllTextResponse": {
      "id": "ReplaceAllTextResponse",
      "properties": {
        "occurrencesChanged": {
          "description": "The number of occurrences changed by replacing all text.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "The result of replacing text.",
      "type": "object"
    },
    "Dropdown": {
      "description": "A dropdown in the document. The chip is displayed as a dropdown menu that allows users to select an option from a configurable list of options.",
      "properties": {
        "dropdownProperties": {
          "description": "The properties of this dropdown.",
          "$ref": "DropdownProperties"
        },
        "suggestedDeletionIds": {
          "items": {
            "type": "string"
          },
          "description": "IDs for suggestions that remove this dropdown from the document. If empty, then this dropdown isn't suggested for deletion.",
          "type": "array"
        },
        "suggestedDropdownPropertiesChanges": {
          "type": "object",
          "description": "The suggested properties changes to this dropdown, keyed by suggestion ID.",
          "additionalProperties": {
            "$ref": "SuggestedDropdownProperties"
          }
        },
        "suggestedInsertionIds": {
          "description": "IDs for suggestions that insert this dropdown into the document. If empty, then this dropdown isn't a suggested insertion.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "suggestedTextStyleChanges": {
          "description": "The suggested text style changes to this dropdown, keyed by suggestion ID.",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "type": "object"
        },
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The text style of this dropdown."
        },
        "dropdownId": {
          "description": "The ID of this dropdown.",
          "type": "string"
        }
      },
      "id": "Dropdown",
      "type": "object"
    },
    "TableOfContents": {
      "description": "A StructuralElement representing a table of contents.",
      "properties": {
        "content": {
          "description": "The content of the table of contents.",
          "type": "array",
          "items": {
            "$ref": "StructuralElement"
          }
        },
        "suggestedInsertionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The suggested insertion IDs. A TableOfContents may have multiple insertion IDs if it is a nested suggested change. If empty, then this is not a suggested insertion."
        },
        "suggestedDeletionIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content."
        }
      },
      "id": "TableOfContents",
      "type": "object"
    },
    "BatchUpdateDocumentRequest": {
      "description": "Request message for BatchUpdateDocument.",
      "type": "object",
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "Request"
          },
          "description": "A list of updates to apply to the document."
        },
        "writeControl": {
          "description": "Provides control over how write requests are executed.",
          "$ref": "WriteControl"
        }
      },
      "id": "BatchUpdateDocumentRequest"
    },
    "SuggestedDocumentStyle": {
      "description": "A suggested change to the DocumentStyle.",
      "type": "object",
      "id": "SuggestedDocumentStyle",
      "properties": {
        "documentStyleSuggestionState": {
          "description": "A mask that indicates which of the fields on the base DocumentStyle have been changed in this suggestion.",
          "$ref": "DocumentStyleSuggestionState"
        },
        "documentStyle": {
          "description": "A DocumentStyle that only includes the changes made in this suggestion. This can be used along with the document_style_suggestion_state to see which fields have changed and their new values.",
          "$ref": "DocumentStyle"
        }
      }
    },
    "CreateHeaderRequest": {
      "id": "CreateHeaderRequest",
      "type": "object",
      "properties": {
        "sectionBreakLocation": {
          "description": "The location of the SectionBreak which begins the section this header should belong to. If `section_break_location' is unset or if it refers to the first section break in the document body, the header applies to the DocumentStyle",
          "$ref": "Location"
        },
        "type": {
          "description": "The type of header to create.",
          "type": "string",
          "enumDescriptions": [
            "The header/footer type is unspecified.",
            "A default header/footer."
          ],
          "enum": [
            "HEADER_FOOTER_TYPE_UNSPECIFIED",
            "DEFAULT"
          ]
        }
      },
      "description": "Creates a Header. The new header is applied to the SectionStyle at the location of the SectionBreak if specified, otherwise it is applied to the DocumentStyle. If a header of the specified type already exists, a 400 bad request error is returned."
    },
    "HeadingLink": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID of a heading in this document."
        },
        "tabId": {
          "type": "string",
          "description": "The ID of the tab containing this heading."
        }
      },
      "id": "HeadingLink",
      "description": "A reference to a heading in this document."
    },
    "TextStyle": {
      "description": "Represents the styling that can be applied to text. Inherited text styles are represented as unset fields in this message. A text style's parent depends on where the text style is defined: * The TextStyle of text in a Paragraph inherits from the paragraph's corresponding named style type. * The TextStyle on a named style inherits from the normal text named style. * The TextStyle of the normal text named style inherits from the default text style in the Docs editor. * The TextStyle on a Paragraph element that's contained in a table may inherit its text style from the table style. If the text style does not inherit from a parent, unsetting fields will revert the style to a value matching the defaults in the Docs editor.",
      "type": "object",
      "properties": {
        "weightedFontFamily": {
          "$ref": "WeightedFontFamily",
          "description": "The font family and rendered weight of the text. If an update request specifies values for both `weighted_font_family` and `bold`, the `weighted_font_family` is applied first, then `bold`. If `weighted_font_family#weight` is not set, it defaults to `400`. If `weighted_font_family` is set, then `weighted_font_family#font_family` must also be set with a non-empty value. Otherwise, a 400 bad request error is returned."
        },
        "strikethrough": {
          "type": "boolean",
          "description": "Whether or not the text is struck through."
        },
        "baselineOffset": {
          "description": "The text's vertical offset from its normal position. Text with `SUPERSCRIPT` or `SUBSCRIPT` baseline offsets is automatically rendered in a smaller font size, computed based on the `font_size` field. Changes in this field don't affect the `font_size`.",
          "enum": [
            "BASELINE_OFFSET_UNSPECIFIED",
            "NONE",
            "SUPERSCRIPT",
            "SUBSCRIPT"
          ],
          "type": "string",
          "enumDescriptions": [
            "The text's baseline offset is inherited from the parent.",
            "The text is not vertically offset.",
            "The text is vertically offset upwards (superscript).",
            "The text is vertically offset downwards (subscript)."
          ]
        },
        "underline": {
          "description": "Whether or not the text is underlined.",
          "type": "boolean"
        },
        "link": {
          "description": "The hyperlink destination of the text. If unset, there's no link. Links are not inherited from parent text. Changing the link in an update request causes some other changes to the text style of the range: * When setting a link, the text foreground color will be updated to the default link color and the text will be underlined. If these fields are modified in the same request, those values will be used instead of the link defaults. * Setting a link on a text range that overlaps with an existing link will also update the existing link to point to the new URL. * Links are not settable on newline characters. As a result, setting a link on a text range that crosses a paragraph boundary, such as `\"ABC\\n123\"`, will separate the newline character(s) into their own text runs. The link will be applied separately to the runs before and after the newline. * Removing a link will update the text style of the range to match the style of the preceding text (or the default text styles if the preceding text is another link) unless different styles are being set in the same request.",
          "$ref": "Link"
        },
        "italic": {
          "type": "boolean",
          "description": "Whether or not the text is italicized."
        },
        "fontSize": {
          "$ref": "Dimension",
          "description": "The size of the text's font."
        },
        "bold": {
          "type": "boolean",
          "description": "Whether or not the text is rendered as bold."
        },
        "foregroundColor": {
          "$ref": "OptionalColor",
          "description": "The foreground color of the text. If set, the color is either an RGB color or transparent, depending on the `color` field."
        },
        "backgroundColor": {
          "$ref": "OptionalColor",
          "description": "The background color of the text. If set, the color is either an RGB color or transparent, depending on the `color` field."
        },
        "smallCaps": {
          "type": "boolean",
          "description": "Whether or not the text is in small capital letters."
        }
      },
      "id": "TextStyle"
    },
    "SuggestedNamedStyles": {
      "description": "A suggested change to the NamedStyles.",
      "properties": {
        "namedStylesSuggestionState": {
          "$ref": "NamedStylesSuggestionState",
          "description": "A mask that indicates which of the fields on the base NamedStyles have been changed in this suggestion."
        },
        "namedStyles": {
          "$ref": "NamedStyles",
          "description": "A NamedStyles that only includes the changes made in this suggestion. This can be used along with the named_styles_suggestion_state to see which fields have changed and their new values."
        }
      },
      "type": "object",
      "id": "SuggestedNamedStyles"
    },
    "SheetsChartReference": {
      "properties": {
        "spreadsheetId": {
          "description": "The ID of the Google Sheets spreadsheet that contains the source chart.",
          "type": "string"
        },
        "chartId": {
          "type": "integer",
          "format": "int32",
          "description": "The ID of the specific chart in the Google Sheets spreadsheet that's embedded."
        }
      },
      "type": "object",
      "description": "A reference to a linked chart embedded from Google Sheets.",
      "id": "SheetsChartReference"
    },
    "NamedStylesSuggestionState": {
      "description": "The suggestion state of a NamedStyles message.",
      "type": "object",
      "properties": {
        "stylesSuggestionStates": {
          "items": {
            "$ref": "NamedStyleSuggestionState"
          },
          "type": "array",
          "description": "A mask that indicates which of the fields on the corresponding NamedStyle in styles have been changed in this suggestion. The order of these named style suggestion states matches the order of the corresponding named style within the named styles suggestion."
        }
      },
      "id": "NamedStylesSuggestionState"
    },
    "List": {
      "properties": {
        "suggestedListPropertiesChanges": {
          "additionalProperties": {
            "$ref": "SuggestedListProperties"
          },
          "type": "object",
          "description": "The suggested changes to the list properties, keyed by suggestion ID."
        },
        "listProperties": {
          "description": "The properties of the list.",
          "$ref": "ListProperties"
        },
        "suggestedInsertionId": {
          "type": "string",
          "description": "The suggested insertion ID. If empty, then this is not a suggested insertion."
        },
        "suggestedDeletionIds": {
          "items": {
            "type": "string"
          },
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this list.",
          "type": "array"
        }
      },
      "description": "A List represents the list attributes for a group of paragraphs that all belong to the same list. A paragraph that's part of a list has a reference to the list's ID in its bullet.",
      "type": "object",
      "id": "List"
    },
    "SubstringMatchCriteria": {
      "id": "SubstringMatchCriteria",
      "type": "object",
      "description": "A criteria that matches a specific string of text in the document.",
      "properties": {
        "searchByRegex": {
          "type": "boolean",
          "description": "Optional. True if the find value should be treated as a regular expression. Any backslashes in the pattern should be escaped. - `True`: the search text is treated as a regular expressions. - `False`: the search text is treated as a substring for matching."
        },
        "text": {
          "description": "The text to search for in the document.",
          "type": "string"
        },
        "matchCase": {
          "type": "boolean",
          "description": "Indicates whether the search should respect case: - `True`: the search is case sensitive. - `False`: the search is case insensitive."
        }
      }
    },
    "DropdownPropertiesSuggestionState": {
      "properties": {
        "selectedOptionIdSuggested": {
          "description": "Indicates if there was a suggested change to selected_option_id.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "DropdownPropertiesSuggestionState",
      "description": "A mask that indicates which of the fields on the base DropdownProperties have been changed in this suggestion. For any field set to true, there's a new suggested value."
    },
    "FootnoteReference": {
      "id": "FootnoteReference",
      "type": "object",
      "properties": {
        "footnoteNumber": {
          "description": "The rendered number of this footnote.",
          "type": "string"
        },
        "suggestedDeletionIds": {
          "items": {
            "type": "string"
          },
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "type": "array"
        },
        "suggestedInsertionIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The suggested insertion IDs. A FootnoteReference may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion."
        },
        "suggestedTextStyleChanges": {
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "description": "The suggested text style changes to this FootnoteReference, keyed by suggestion ID.",
          "type": "object"
        },
        "footnoteId": {
          "description": "The ID of the footnote that contains the content of this footnote reference.",
          "type": "string"
        },
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The text style of this FootnoteReference."
        }
      },
      "description": "A ParagraphElement representing a footnote reference. A footnote reference is the inline content rendered with a number and is used to identify the footnote."
    },
    "UpdateNamedStyleRequest": {
      "description": "Updates a named style.",
      "type": "object",
      "properties": {
        "tabId": {
          "description": "The document tab to update. By default, the update is applied to the first tab.",
          "type": "string"
        },
        "namedStyle": {
          "$ref": "NamedStyle",
          "description": "The document style to update."
        },
        "fields": {
          "description": "The NamedStyle fields that should be updated. At least `named_style_type` must be specified. The root `named_style` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example, to update the text style to bold, set `fields` to include `\"text_style\"` and `\"text_style.bold\"`. To update the paragraph style's alignment property, set `fields` to include `\"paragraph_style\"` and `\"paragraph_style.alignment\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset. Specifying `\"text_style\"` or `\"paragraph_style\"` with an empty TextStyle or ParagraphStyle will reset all of its nested fields.",
          "format": "google-fieldmask",
          "type": "string"
        }
      },
      "id": "UpdateNamedStyleRequest"
    },
    "DateElementProperties": {
      "properties": {
        "displayText": {
          "type": "string",
          "description": "Output only. Indicates how the DateElement is displayed in the document."
        },
        "locale": {
          "description": "The language code of the DateElement. For example, `en`. If unset, the default locale is `en`. Limited to the following locales: `af`, `am`, `ar`, `as`, `az`, `be`, `bg`, `bn`, `ca`, `cs`, `da`, `de`, `el`, `en`, `en-CA`, `en-GB`, `es`, `es-419`, `et`, `eu`, `fa`, `fi`, `fil`, `fr`, `fr-CA`, `gl`, `gu`, `hi`, `hr`, `hu`, `hy`, `id`, `is`, `it`, `iw`, `ja`, `ka`, `kk`, `km`, `kn`, `ko`, `lo`, `lt`, `lv`, `mk`, `ml`, `mn`, `mr`, `ms`, `ne`, `nl`, `no`, `or`, `pa`, `pl`, `pt-BR`, `pt-PT`, `ro`, `ru`, `si`, `sk`, `sl`, `sq`, `sr`, `sv`, `sw`, `ta`, `te`, `th`, `tr`, `uk`, `ur`, `uz`, `vi`, `zh-CN`, `zh-HK`, `zh-TW`, `zu`, `cy`, `my`.",
          "type": "string"
        },
        "dateFormat": {
          "type": "string",
          "description": "Determines how the date part of the DateElement will be displayed in the document. If unset, the default value is DATE_FORMAT_MONTH_DAY_YEAR_ABBREVIATED, indicating the DateElement will be formatted as `MMM d, y` in `en`, or locale specific equivalent.",
          "enum": [
            "DATE_FORMAT_UNSPECIFIED",
            "DATE_FORMAT_CUSTOM",
            "DATE_FORMAT_MONTH_DAY_ABBREVIATED",
            "DATE_FORMAT_MONTH_DAY_FULL",
            "DATE_FORMAT_MONTH_DAY_YEAR_ABBREVIATED",
            "DATE_FORMAT_ISO8601"
          ],
          "enumDescriptions": [
            "The date format is unspecified.",
            "Output only. The date format is imported from an external source.",
            "The date format is an abbreviated month followed by the day. For example, \"Jan 1\".",
            "The date format is a month followed by the day. For example, \"January 01\".",
            "The date format is an abbreviated month followed by the day and the year. For example, \"Jan 1, 1970\".",
            "The date format is in ISO 8601 format. For example, \"1970-01-01\"."
          ]
        },
        "timeFormat": {
          "enumDescriptions": [
            "The time format is unspecified.",
            "Indicates that the date does not have a time.",
            "The time format shows the hour and minute. For example, \"Jan 1, 1970 12:00 PM\".",
            "The time format shows the hour, minute, and timezone. For example, \"Jan 1, 1970 12:00 PM UTC\"."
          ],
          "description": "Determines how the time part of the DateElement will be displayed in the document. If unset, the default value is TIME_FORMAT_DISABLED, indicating no time should be shown.",
          "type": "string",
          "enum": [
            "TIME_FORMAT_UNSPECIFIED",
            "TIME_FORMAT_DISABLED",
            "TIME_FORMAT_HOUR_MINUTE",
            "TIME_FORMAT_HOUR_MINUTE_TIMEZONE"
          ]
        },
        "timestamp": {
          "description": "The point in time to represent, in seconds and nanoseconds since Unix epoch: January 1, 1970 at midnight UTC. Timestamp is expected to be in UTC. If time_zone_id is set, the timestamp is adjusted according to the time zone. For example, a timestamp of `18000` with a date format of `DATE_FORMAT_ISO8601` and time format of `TIME_FORMAT_HOUR_MINUTE` would be displayed as `1970-01-01 5:00 AM`. A timestamp of `18000` with date format of `DATE_FORMAT_ISO8601`, time format of `TIME_FORMAT_HOUR_MINUTE`, and time zone set to `America/New_York` will instead be `1970-01-01 12:00 AM`.",
          "type": "string",
          "format": "google-datetime"
        },
        "timeZoneId": {
          "description": "The time zone of the DateElement, as defined by the Unicode Common Locale Data Repository (CLDR) project. For example, `America/New_York`. If unset, the default time zone is `etc/UTC`.",
          "type": "string"
        }
      },
      "id": "DateElementProperties",
      "type": "object",
      "description": "Properties of a DateElement."
    },
    "CreateParagraphBulletsRequest": {
      "id": "CreateParagraphBulletsRequest",
      "properties": {
        "bulletPreset": {
          "enumDescriptions": [
            "The bullet glyph preset is unspecified.",
            "A bulleted list with a `DISC`, `CIRCLE` and `SQUARE` bullet glyph for the first 3 list nesting levels.",
            "A bulleted list with a `DIAMONDX`, `ARROW3D` and `SQUARE` bullet glyph for the first 3 list nesting levels.",
            "A bulleted list with `CHECKBOX` bullet glyphs for all list nesting levels.",
            "A bulleted list with a `ARROW`, `DIAMOND` and `DISC` bullet glyph for the first 3 list nesting levels.",
            "A bulleted list with a `STAR`, `CIRCLE` and `SQUARE` bullet glyph for the first 3 list nesting levels.",
            "A bulleted list with a `ARROW3D`, `CIRCLE` and `SQUARE` bullet glyph for the first 3 list nesting levels.",
            "A bulleted list with a `LEFTTRIANGLE`, `DIAMOND` and `DISC` bullet glyph for the first 3 list nesting levels.",
            "A bulleted list with a `DIAMONDX`, `HOLLOWDIAMOND` and `SQUARE` bullet glyph for the first 3 list nesting levels.",
            "A bulleted list with a `DIAMOND`, `CIRCLE` and `SQUARE` bullet glyph for the first 3 list nesting levels.",
            "A numbered list with `DECIMAL`, `ALPHA` and `ROMAN` numeric glyphs for the first 3 list nesting levels, followed by periods.",
            "A numbered list with `DECIMAL`, `ALPHA` and `ROMAN` numeric glyphs for the first 3 list nesting levels, followed by parenthesis.",
            "A numbered list with `DECIMAL` numeric glyphs separated by periods, where each nesting level uses the previous nesting level's glyph as a prefix. For example: '1.', '1.1.', '2.', '2.2.'.",
            "A numbered list with `UPPERALPHA`, `ALPHA` and `ROMAN` numeric glyphs for the first 3 list nesting levels, followed by periods.",
            "A numbered list with `UPPERROMAN`, `UPPERALPHA` and `DECIMAL` numeric glyphs for the first 3 list nesting levels, followed by periods.",
            "A numbered list with `ZERODECIMAL`, `ALPHA` and `ROMAN` numeric glyphs for the first 3 list nesting levels, followed by periods."
          ],
          "enum": [
            "BULLET_GLYPH_PRESET_UNSPECIFIED",
            "BULLET_DISC_CIRCLE_SQUARE",
            "BULLET_DIAMONDX_ARROW3D_SQUARE",
            "BULLET_CHECKBOX",
            "BULLET_ARROW_DIAMOND_DISC",
            "BULLET_STAR_CIRCLE_SQUARE",
            "BULLET_ARROW3D_CIRCLE_SQUARE",
            "BULLET_LEFTTRIANGLE_DIAMOND_DISC",
            "BULLET_DIAMONDX_HOLLOWDIAMOND_SQUARE",
            "BULLET_DIAMOND_CIRCLE_SQUARE",
            "NUMBERED_DECIMAL_ALPHA_ROMAN",
            "NUMBERED_DECIMAL_ALPHA_ROMAN_PARENS",
            "NUMBERED_DECIMAL_NESTED",
            "NUMBERED_UPPERALPHA_ALPHA_ROMAN",
            "NUMBERED_UPPERROMAN_UPPERALPHA_DECIMAL",
            "NUMBERED_ZERODECIMAL_ALPHA_ROMAN"
          ],
          "type": "string",
          "description": "The kinds of bullet glyphs to be used."
        },
        "range": {
          "$ref": "Range",
          "description": "The range to apply the bullet preset to."
        }
      },
      "description": "Creates bullets for all of the paragraphs that overlap with the given range. The nesting level of each paragraph will be determined by counting leading tabs in front of each paragraph. To avoid excess space between the bullet and the corresponding paragraph, these leading tabs are removed by this request. This may change the indices of parts of the text. If the paragraph immediately before paragraphs being updated is in a list with a matching preset, the paragraphs being updated are added to that preceding list.",
      "type": "object"
    },
    "UpdateDropdownPropertiesRequest": {
      "properties": {
        "dropdownProperties": {
          "$ref": "DropdownProperties",
          "description": "The properties to update."
        },
        "dropdownId": {
          "description": "Required. The Dropdown ID.",
          "type": "string"
        },
        "fields": {
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root `dropdown_properties` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field.",
          "format": "google-fieldmask"
        },
        "tabId": {
          "type": "string",
          "description": "The ID of the tab that contains the dropdown to update. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document."
        }
      },
      "description": "Updates the properties of a Dropdown.",
      "id": "UpdateDropdownPropertiesRequest",
      "type": "object"
    },
    "PositionedObjectProperties": {
      "description": "Properties of a PositionedObject.",
      "properties": {
        "embeddedObject": {
          "description": "The embedded object of this positioned object.",
          "$ref": "EmbeddedObject"
        },
        "positioning": {
          "description": "The positioning of this positioned object relative to the newline of the Paragraph that references this positioned object.",
          "$ref": "PositionedObjectPositioning"
        }
      },
      "id": "PositionedObjectProperties",
      "type": "object"
    },
    "EmbeddedObjectBorder": {
      "id": "EmbeddedObjectBorder",
      "description": "A border around an EmbeddedObject.",
      "type": "object",
      "properties": {
        "dashStyle": {
          "enumDescriptions": [
            "Unspecified dash style.",
            "Solid line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'solid'. This is the default dash style.",
            "Dotted line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dot'.",
            "Dashed line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dash'."
          ],
          "description": "The dash style of the border.",
          "enum": [
            "DASH_STYLE_UNSPECIFIED",
            "SOLID",
            "DOT",
            "DASH"
          ],
          "type": "string"
        },
        "propertyState": {
          "description": "The property state of the border property.",
          "type": "string",
          "enum": [
            "RENDERED",
            "NOT_RENDERED"
          ],
          "enumDescriptions": [
            "If a property's state is RENDERED, then the element has the corresponding property when rendered in the document. This is the default value.",
            "If a property's state is NOT_RENDERED, then the element does not have the corresponding property when rendered in the document."
          ]
        },
        "color": {
          "description": "The color of the border.",
          "$ref": "OptionalColor"
        },
        "width": {
          "description": "The width of the border.",
          "$ref": "Dimension"
        }
      }
    },
    "TabsCriteria": {
      "type": "object",
      "description": "A criteria that specifies in which tabs a request executes.",
      "id": "TabsCriteria",
      "properties": {
        "tabIds": {
          "description": "The list of tab IDs in which the request executes.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "DropdownOption": {
      "id": "DropdownOption",
      "type": "object",
      "description": "An option in a Dropdown.",
      "properties": {
        "textStyle": {
          "description": "The text style of this dropdown option. Currently, only the `foreground_color` and `background_color` properties are supported. If other properties are set, a 400 bad request error is returned.",
          "$ref": "TextStyle"
        },
        "optionId": {
          "type": "string",
          "description": "The ID of this dropdown option. If you specify an ID, it must be unique among all options in this dropdown definition. The ID must start with `dropdownItem.` and match regex `^dropdownItem\\.[a-zA-Z0-9_-]{2,14}$` (length 15-27 chars). If you don't specify an ID, a unique one is generated."
        },
        "displayValue": {
          "type": "string",
          "description": "The display value of this dropdown option."
        }
      }
    },
    "SuggestedBullet": {
      "id": "SuggestedBullet",
      "description": "A suggested change to a Bullet.",
      "type": "object",
      "properties": {
        "bulletSuggestionState": {
          "description": "A mask that indicates which of the fields on the base Bullet have been changed in this suggestion.",
          "$ref": "BulletSuggestionState"
        },
        "bullet": {
          "description": "A Bullet that only includes the changes made in this suggestion. This can be used along with the bullet_suggestion_state to see which fields have changed and their new values.",
          "$ref": "Bullet"
        }
      }
    },
    "PositionedObjectPositioning": {
      "properties": {
        "layout": {
          "description": "The layout of this positioned object.",
          "type": "string",
          "enum": [
            "POSITIONED_OBJECT_LAYOUT_UNSPECIFIED",
            "WRAP_TEXT",
            "BREAK_LEFT",
            "BREAK_RIGHT",
            "BREAK_LEFT_RIGHT",
            "IN_FRONT_OF_TEXT",
            "BEHIND_TEXT"
          ],
          "enumDescriptions": [
            "The layout is unspecified.",
            "The text wraps around the positioned object.",
            "Breaks text such that the positioned object is on the left and text is on the right.",
            "Breaks text such that the positioned object is on the right and text is on the left.",
            "Breaks text such that there's no text on the left or right of the positioned object.",
            "The positioned object is in front of the text.",
            "The positioned object is behind the text."
          ]
        },
        "leftOffset": {
          "$ref": "Dimension",
          "description": "The offset of the left edge of the positioned object relative to the beginning of the Paragraph it's tethered to. The exact positioning of the object can depend on other content in the document and the document's styling."
        },
        "topOffset": {
          "description": "The offset of the top edge of the positioned object relative to the beginning of the Paragraph it's tethered to. The exact positioning of the object can depend on other content in the document and the document's styling.",
          "$ref": "Dimension"
        }
      },
      "id": "PositionedObjectPositioning",
      "description": "The positioning of a PositionedObject. The positioned object is positioned relative to the beginning of the Paragraph it's tethered to.",
      "type": "object"
    },
    "Size": {
      "type": "object",
      "id": "Size",
      "description": "A width and height.",
      "properties": {
        "width": {
          "description": "The width of the object.",
          "$ref": "Dimension"
        },
        "height": {
          "description": "The height of the object.",
          "$ref": "Dimension"
        }
      }
    },
    "BatchUpdateDocumentResponse": {
      "type": "object",
      "description": "Response message from a BatchUpdateDocument request.",
      "id": "BatchUpdateDocumentResponse",
      "properties": {
        "documentId": {
          "type": "string",
          "description": "The ID of the document to which the updates were applied to."
        },
        "replies": {
          "type": "array",
          "description": "The reply of the updates. This maps 1:1 with the updates, although replies to some requests may be empty.",
          "items": {
            "$ref": "Response"
          }
        },
        "suggestionResponses": {
          "type": "array",
          "description": "The suggestions which were affected by each update. This maps 1:1 with the updates.",
          "items": {
            "$ref": "SuggestionResponse"
          }
        },
        "writeControl": {
          "description": "The updated write control after applying the request.",
          "$ref": "WriteControl"
        },
        "commentUpdateState": {
          "enumDescriptions": [
            "The status of comment updates is unspecified.",
            "No comment updates were requested in the batch request.",
            "All requested comment updates were applied in the batch request.",
            "All requested comment updates failed."
          ],
          "type": "string",
          "enum": [
            "COMMENT_UPDATE_STATE_UNSPECIFIED",
            "NO_UPDATES_REQUESTED",
            "ALL_SAVED",
            "ALL_FAILED_UNKNOWN_REASON"
          ],
          "description": "Whether comment updates were applied in the batch request."
        }
      }
    },
    "Dimension": {
      "type": "object",
[...]
