{
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "revision": "20260901",
  "version_module": true,
  "servicePath": "",
  "id": "docs:v1",
  "title": "Google Docs API",
  "basePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://docs.googleapis.com/",
  "name": "docs",
  "mtlsRootUrl": "https://docs.mtls.googleapis.com/",
  "documentationLink": "https://developers.google.com/workspace/docs/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/documents.readonly": {
          "description": "See all your Google Docs documents"
        },
        "https://www.googleapis.com/auth/drive.file": {
          "description": "See, edit, create, and delete only the specific Google Drive files you use with this app"
        },
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "See and download all your Google Drive files"
        },
        "https://www.googleapis.com/auth/documents": {
          "description": "See, edit, create, and delete all your Google Docs documents"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "description": "Reads and writes Google Docs documents.",
  "canonicalName": "Docs",
  "protocol": "rest",
  "baseUrl": "https://docs.googleapis.com/",
  "discoveryVersion": "v1",
  "resources": {
    "documents": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/documents",
            "https://www.googleapis.com/auth/documents.readonly",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "path": "v1/documents/{documentId}",
          "httpMethod": "GET",
          "parameters": {
            "includeTabsContent": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to populate the `Document.tabs` field instead of the text content fields like `body` and `documentStyle` on `Document`. - When `true`: Document content populates in the `Document.tabs` field instead of the text content fields in `Document`. - When `false`: The content of the document's first tab populates the content fields in `Document` excluding `Document.tabs`. If a document has only one tab, then that tab is used to populate the document content. `Document.tabs` will be empty. If you use a field mask that references the `Document.tabs` field (or any subfield), the API implicitly treats the request as if you set `include_tabs_content` to `true`."
            },
            "documentId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the document to retrieve."
            },
            "suggestionsViewMode": {
              "description": "The suggestions view mode to apply to the document. This allows viewing the document with all suggestions inline, accepted or rejected. If one is not specified, DEFAULT_FOR_CURRENT_ACCESS is used.",
              "enumDescriptions": [
                "The SuggestionsViewMode applied to the returned document depends on the user's current access level. If the user only has view access, PREVIEW_WITHOUT_SUGGESTIONS is applied. Otherwise, SUGGESTIONS_INLINE is applied. This is the default suggestions view mode.",
                "The returned document has suggestions inline. Suggested changes will be differentiated from base content within the document. Requests to retrieve a document using this mode will return a 403 error if the user does not have permission to view suggested changes.",
                "The returned document is a preview with all suggested changes accepted. Requests to retrieve a document using this mode will return a 403 error if the user does not have permission to view suggested changes.",
                "The returned document is a preview with all suggested changes rejected if there are any suggestions in the document."
              ],
              "type": "string",
              "enum": [
                "DEFAULT_FOR_CURRENT_ACCESS",
                "SUGGESTIONS_INLINE",
                "PREVIEW_SUGGESTIONS_ACCEPTED",
                "PREVIEW_WITHOUT_SUGGESTIONS"
              ],
              "location": "query"
            }
          },
          "parameterOrder": [
            "documentId"
          ],
          "response": {
            "$ref": "Document"
          },
          "flatPath": "v1/documents/{documentId}",
          "id": "docs.documents.get",
          "description": "Gets the latest version of the specified document."
        },
        "create": {
          "scopes": [
            "https://www.googleapis.com/auth/documents",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameterOrder": [],
          "id": "docs.documents.create",
          "description": "Creates a blank document using the title given in the request. Other fields in the request, including any provided content, are ignored. Returns the created document.",
          "httpMethod": "POST",
          "parameters": {},
          "response": {
            "$ref": "Document"
          },
          "flatPath": "v1/documents",
          "request": {
            "$ref": "Document"
          },
          "path": "v1/documents"
        },
        "batchUpdate": {
          "httpMethod": "POST",
          "parameters": {
            "documentId": {
              "description": "The ID of the document to update.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "parameterOrder": [
            "documentId"
          ],
          "id": "docs.documents.batchUpdate",
          "path": "v1/documents/{documentId}:batchUpdate",
          "request": {
            "$ref": "BatchUpdateDocumentRequest"
          },
          "description": "Applies one or more updates to the document. Each request is validated before being applied. If any request is not valid, then the entire request will fail and nothing will be applied. Some requests have replies to give you some information about how they are applied. Other requests do not need to return information; these each return an empty reply. The order of replies matches that of the requests. For example, suppose you call batchUpdate with four updates, and only the third one returns information. The response would have two empty replies, the reply to the third request, and another empty reply, in that order. Because other users may be editing the document, the document might not exactly reflect your changes: your changes may be altered with respect to collaborator changes. If there are no collaborators, the document should reflect your changes. In any case, the updates in your request are guaranteed to be applied together atomically.",
          "response": {
            "$ref": "BatchUpdateDocumentResponse"
          },
          "flatPath": "v1/documents/{documentId}:batchUpdate",
          "scopes": [
            "https://www.googleapis.com/auth/documents",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ]
        }
      }
    }
  },
  "schemas": {
    "SectionColumnProperties": {
      "description": "Properties that apply to a section's column.",
      "properties": {
        "width": {
          "$ref": "Dimension",
          "description": "Output only. The width of the column."
        },
        "paddingEnd": {
          "$ref": "Dimension",
          "description": "The padding at the end of the column."
        }
      },
      "id": "SectionColumnProperties",
      "type": "object"
    },
    "InsertRichLinkRequest": {
      "id": "InsertRichLinkRequest",
      "properties": {
        "location": {
          "description": "Inserts the rich link at a specific index in the document. The rich link must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between the table and its preceding paragraph). The rich link cannot be inserted inside an equation.",
          "$ref": "Location"
        },
        "richLinkProperties": {
          "description": "The properties of the rich link to insert.",
          "$ref": "RichLinkProperties"
        },
        "endOfSegmentLocation": {
          "description": "Inserts the rich link at the end of a header, footer, footnote or the document body.",
          "$ref": "EndOfSegmentLocation"
        }
      },
      "type": "object",
      "description": "Inserts a RichLink at the specified location."
    },
    "Person": {
      "properties": {
        "personProperties": {
          "description": "Output only. The properties of this Person. This field is always present.",
          "readOnly": true,
          "$ref": "PersonProperties"
        },
        "suggestedInsertionIds": {
          "description": "IDs for suggestions that insert this person link into the document. A Person might have multiple insertion IDs if it's a nested suggested change (a suggestion within a suggestion made by a different user, for example). If empty, then this person link isn't a suggested insertion.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "suggestedTextStyleChanges": {
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "description": "The suggested text style changes to this Person, keyed by suggestion ID.",
          "type": "object"
        },
        "suggestedDeletionIds": {
          "description": "IDs for suggestions that remove this person link from the document. A Person might have multiple deletion IDs if, for example, multiple users suggest deleting it. If empty, then this person link isn't suggested for deletion.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "textStyle": {
          "description": "The text style of this Person.",
          "$ref": "TextStyle"
        },
        "personId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The unique ID of this link."
        }
      },
      "description": "A person or email address mentioned in a document. These mentions behave as a single, immutable element containing the person's name or email address.",
      "id": "Person",
      "type": "object"
    },
    "TableRowStyleSuggestionState": {
      "type": "object",
      "properties": {
        "minRowHeightSuggested": {
          "description": "Indicates if there was a suggested change to min_row_height.",
          "type": "boolean"
        }
      },
      "id": "TableRowStyleSuggestionState",
      "description": "A mask that indicates which of the fields on the base TableRowStyle have been changed in this suggestion. For any field set to true, there's a new suggested value."
    },
    "PersonProperties": {
      "type": "object",
      "id": "PersonProperties",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the person if it's displayed in the link text instead of the person's email address."
        },
        "email": {
          "description": "The email address linked to this Person. This field is always present.",
          "type": "string"
        }
      },
      "description": "Properties specific to a linked Person."
    },
    "AddDocumentTabRequest": {
      "type": "object",
      "id": "AddDocumentTabRequest",
      "description": "Adds a document tab. When a tab is added at a given index, all subsequent tabs' indexes are incremented.",
      "properties": {
        "tabProperties": {
          "description": "The properties of the tab to add. All properties are optional.",
          "$ref": "TabProperties"
        }
      }
    },
    "Color": {
      "description": "A solid color.",
      "type": "object",
      "properties": {
        "rgbColor": {
          "description": "The RGB color value.",
          "$ref": "RgbColor"
        }
      },
      "id": "Color"
    },
    "Shading": {
      "description": "The shading of a paragraph.",
      "id": "Shading",
      "properties": {
        "backgroundColor": {
          "description": "The background color of this paragraph shading.",
          "$ref": "OptionalColor"
        }
      },
      "type": "object"
    },
    "ReplaceNamedRangeContentRequest": {
      "properties": {
        "namedRangeName": {
          "type": "string",
          "description": "The name of the NamedRanges whose content will be replaced. If there are multiple named ranges with the given name, then the content of each one will be replaced. If there are no named ranges with the given name, then the request will be a no-op."
        },
        "namedRangeId": {
          "description": "The ID of the named range whose content will be replaced. If there is no named range with the given ID a 400 bad request error is returned.",
          "type": "string"
        },
        "tabsCriteria": {
          "description": "Optional. The criteria used to specify in which tabs the replacement occurs. When omitted, the replacement applies to all tabs. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the replacement applies to the singular tab. In a document containing multiple tabs: - If provided, the replacement applies to the specified tabs. - If omitted, the replacement applies to all tabs.",
          "$ref": "TabsCriteria"
        },
        "text": {
          "description": "Replaces the content of the specified named range(s) with the given text.",
          "type": "string"
        }
      },
      "description": "Replaces the contents of the specified NamedRange or NamedRanges with the given replacement content. Note that an individual NamedRange may consist of multiple discontinuous ranges. In this case, only the content in the first range will be replaced. The other ranges and their content will be deleted. In cases where replacing or deleting any ranges would result in an invalid document structure, a 400 bad request error is returned.",
      "type": "object",
      "id": "ReplaceNamedRangeContentRequest"
    },
    "DeleteParagraphBulletsRequest": {
      "properties": {
        "range": {
          "description": "The range to delete bullets from.",
          "$ref": "Range"
        }
      },
      "type": "object",
      "description": "Deletes bullets from all of the paragraphs that overlap with the given range. The nesting level of each paragraph will be visually preserved by adding indent to the start of the corresponding paragraph.",
      "id": "DeleteParagraphBulletsRequest"
    },
    "PositionedObjectPositioning": {
      "type": "object",
      "properties": {
        "topOffset": {
          "$ref": "Dimension",
          "description": "The offset of the top edge of the positioned object relative to the beginning of the Paragraph it's tethered to. The exact positioning of the object can depend on other content in the document and the document's styling."
        },
        "layout": {
          "description": "The layout of this positioned object.",
          "enumDescriptions": [
            "The layout is unspecified.",
            "The text wraps around the positioned object.",
            "Breaks text such that the positioned object is on the left and text is on the right.",
            "Breaks text such that the positioned object is on the right and text is on the left.",
            "Breaks text such that there's no text on the left or right of the positioned object.",
            "The positioned object is in front of the text.",
            "The positioned object is behind the text."
          ],
          "enum": [
            "POSITIONED_OBJECT_LAYOUT_UNSPECIFIED",
            "WRAP_TEXT",
            "BREAK_LEFT",
            "BREAK_RIGHT",
            "BREAK_LEFT_RIGHT",
            "IN_FRONT_OF_TEXT",
            "BEHIND_TEXT"
          ],
          "type": "string"
        },
        "leftOffset": {
          "$ref": "Dimension",
          "description": "The offset of the left edge of the positioned object relative to the beginning of the Paragraph it's tethered to. The exact positioning of the object can depend on other content in the document and the document's styling."
        }
      },
      "description": "The positioning of a PositionedObject. The positioned object is positioned relative to the beginning of the Paragraph it's tethered to.",
      "id": "PositionedObjectPositioning"
    },
    "UpdateParagraphStyleRequest": {
      "properties": {
        "fields": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `paragraph_style` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example, to update the paragraph style's alignment property, set `fields` to `\"alignment\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset."
        },
        "paragraphStyle": {
          "description": "The styles to set on the paragraphs. Certain paragraph style changes may cause other changes in order to mirror the behavior of the Docs editor. See the documentation of ParagraphStyle for more information.",
          "$ref": "ParagraphStyle"
        },
        "range": {
          "description": "The range overlapping the paragraphs to style.",
          "$ref": "Range"
        }
      },
      "description": "Update the styling of all paragraphs that overlap with the given range.",
      "type": "object",
      "id": "UpdateParagraphStyleRequest"
    },
    "SuggestedTableRowStyle": {
      "type": "object",
      "id": "SuggestedTableRowStyle",
      "properties": {
        "tableRowStyle": {
          "$ref": "TableRowStyle",
          "description": "A TableRowStyle that only includes the changes made in this suggestion. This can be used along with the table_row_style_suggestion_state to see which fields have changed and their new values."
        },
        "tableRowStyleSuggestionState": {
          "$ref": "TableRowStyleSuggestionState",
          "description": "A mask that indicates which of the fields on the base TableRowStyle have been changed in this suggestion."
        }
      },
      "description": "A suggested change to a TableRowStyle."
    },
    "SuggestedTableCellStyle": {
      "description": "A suggested change to a TableCellStyle.",
      "properties": {
        "tableCellStyle": {
          "$ref": "TableCellStyle",
          "description": "A TableCellStyle that only includes the changes made in this suggestion. This can be used along with the table_cell_style_suggestion_state to see which fields have changed and their new values."
        },
        "tableCellStyleSuggestionState": {
          "$ref": "TableCellStyleSuggestionState",
          "description": "A mask that indicates which of the fields on the base TableCellStyle have been changed in this suggestion."
        }
      },
      "type": "object",
      "id": "SuggestedTableCellStyle"
    },
    "Range": {
      "description": "Specifies a contiguous range of text.",
      "properties": {
        "startIndex": {
          "type": "integer",
          "format": "int32",
          "description": "The zero-based start index of this range, in UTF-16 code units. In all current uses, a start index must be provided. This field is an Int32Value in order to accommodate future use cases with open-ended ranges."
        },
        "endIndex": {
          "format": "int32",
          "description": "The zero-based end index of this range, exclusive, in UTF-16 code units. In all current uses, an end index must be provided. This field is an Int32Value in order to accommodate future use cases with open-ended ranges.",
          "type": "integer"
        },
        "segmentId": {
          "description": "The ID of the header, footer, or footnote that this range is contained in. An empty segment ID signifies the document's body.",
          "type": "string"
        },
        "tabId": {
          "description": "The tab that contains this range. When omitted, the request applies to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Range"
    },
    "NamedStyleSuggestionState": {
      "description": "A suggestion state of a NamedStyle message.",
      "properties": {
        "paragraphStyleSuggestionState": {
          "description": "A mask that indicates which of the fields in paragraph style have been changed in this suggestion.",
          "$ref": "ParagraphStyleSuggestionState"
        },
        "namedStyleType": {
          "enumDescriptions": [
            "The type of named style is unspecified.",
            "Normal text.",
            "Title.",
            "Subtitle.",
            "Heading 1.",
            "Heading 2.",
            "Heading 3.",
            "Heading 4.",
            "Heading 5.",
            "Heading 6."
          ],
          "enum": [
            "NAMED_STYLE_TYPE_UNSPECIFIED",
            "NORMAL_TEXT",
            "TITLE",
            "SUBTITLE",
            "HEADING_1",
            "HEADING_2",
            "HEADING_3",
            "HEADING_4",
            "HEADING_5",
            "HEADING_6"
          ],
          "description": "The named style type that this suggestion state corresponds to. This field is provided as a convenience for matching the NamedStyleSuggestionState with its corresponding NamedStyle.",
          "type": "string"
        },
        "textStyleSuggestionState": {
          "$ref": "TextStyleSuggestionState",
          "description": "A mask that indicates which of the fields in text style have been changed in this suggestion."
        }
      },
      "type": "object",
      "id": "NamedStyleSuggestionState"
    },
    "OptionalColor": {
      "type": "object",
      "description": "A color that can either be fully opaque or fully transparent.",
      "properties": {
        "color": {
          "description": "If set, this will be used as an opaque color. If unset, this represents a transparent color.",
          "$ref": "Color"
        }
      },
      "id": "OptionalColor"
    },
    "UpdateTableCellStyleRequest": {
      "description": "Updates the style of a range of table cells.",
      "id": "UpdateTableCellStyleRequest",
      "properties": {
        "tableStartLocation": {
          "$ref": "Location",
          "description": "The location where the table starts in the document. When specified, the updates are applied to all the cells in the table."
        },
        "tableRange": {
          "description": "The table range representing the subset of the table to which the updates are applied.",
          "$ref": "TableRange"
        },
        "fields": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root `tableCellStyle` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the table cell background color, set `fields` to `\"backgroundColor\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset."
        },
        "tableCellStyle": {
          "description": "The style to set on the table cells. When updating borders, if a cell shares a border with an adjacent cell, the corresponding border property of the adjacent cell is updated as well. Borders that are merged and invisible are not updated. Since updating a border shared by adjacent cells in the same request can cause conflicting border updates, border updates are applied in the following order: - `border_right` - `border_left` - `border_bottom` - `border_top`",
          "$ref": "TableCellStyle"
        }
      },
      "type": "object"
    },
    "UpdateDocumentStyleRequest": {
      "id": "UpdateDocumentStyleRequest",
      "properties": {
        "fields": {
          "description": "The fields that should be updated. At least one field must be specified. The root `document_style` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the background, set `fields` to `\"background\"`.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "documentStyle": {
          "$ref": "DocumentStyle",
          "description": "The styles to set on the document. Certain document style changes may cause other changes in order to mirror the behavior of the Docs editor. See the documentation of DocumentStyle for more information."
        },
        "tabId": {
          "description": "The tab that contains the style to update. When omitted, the request applies to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If not provided, the request applies to the first tab in the document.",
          "type": "string"
        }
      },
      "description": "Updates the DocumentStyle.",
      "type": "object"
    },
    "InsertTableRowRequest": {
      "type": "object",
      "id": "InsertTableRowRequest",
      "properties": {
        "insertBelow": {
          "description": "Whether to insert new row below the reference cell location. - `True`: insert below the cell. - `False`: insert above the cell.",
          "type": "boolean"
        },
        "tableCellLocation": {
          "$ref": "TableCellLocation",
          "description": "The reference table cell location from which rows will be inserted. A new row will be inserted above (or below) the row where the reference cell is. If the reference cell is a merged cell, a new row will be inserted above (or below) the merged cell."
        }
      },
      "description": "Inserts an empty row into a table."
    },
    "ParagraphStyle": {
      "type": "object",
      "properties": {
        "tabStops": {
          "items": {
            "$ref": "TabStop"
          },
          "description": "A list of the tab stops for this paragraph. The list of tab stops is not inherited. This property is read-only.",
          "type": "array"
        },
        "spaceAbove": {
          "$ref": "Dimension",
          "description": "The amount of extra space above the paragraph. If unset, the value is inherited from the parent."
        },
        "borderBottom": {
          "description": "The border at the bottom of this paragraph. If unset, the value is inherited from the parent. The bottom border is rendered when the paragraph below has different border and indent properties. Paragraph borders cannot be partially updated. When changing a paragraph border, the new border must be specified in its entirety.",
          "$ref": "ParagraphBorder"
        },
        "indentFirstLine": {
          "description": "The amount of indentation for the first line of the paragraph. If unset, the value is inherited from the parent.",
          "$ref": "Dimension"
        },
        "spacingMode": {
          "enumDescriptions": [
            "The spacing mode is inherited from the parent.",
            "Paragraph spacing is always rendered.",
            "Paragraph spacing is skipped between list elements."
          ],
          "type": "string",
          "description": "The spacing mode for the paragraph.",
          "enum": [
            "SPACING_MODE_UNSPECIFIED",
            "NEVER_COLLAPSE",
            "COLLAPSE_LISTS"
          ]
        },
        "borderLeft": {
          "$ref": "ParagraphBorder",
          "description": "The border to the left of this paragraph. If unset, the value is inherited from the parent. Paragraph borders cannot be partially updated. When changing a paragraph border, the new border must be specified in its entirety."
        },
        "keepLinesTogether": {
          "description": "Whether all lines of the paragraph should be laid out on the same page or column if possible. If unset, the value is inherited from the parent.",
          "type": "boolean"
        },
        "spaceBelow": {
          "description": "The amount of extra space below the paragraph. If unset, the value is inherited from the parent.",
          "$ref": "Dimension"
        },
        "keepWithNext": {
          "type": "boolean",
          "description": "Whether at least a part of this paragraph should be laid out on the same page or column as the next paragraph if possible. If unset, the value is inherited from the parent."
        },
        "borderBetween": {
          "$ref": "ParagraphBorder",
          "description": "The border between this paragraph and the next and previous paragraphs. If unset, the value is inherited from the parent. The between border is rendered when the adjacent paragraph has the same border and indent properties. Paragraph borders cannot be partially updated. When changing a paragraph border, the new border must be specified in its entirety."
        },
        "borderTop": {
          "description": "The border at the top of this paragraph. If unset, the value is inherited from the parent. The top border is rendered when the paragraph above has different border and indent properties. Paragraph borders cannot be partially updated. When changing a paragraph border, the new border must be specified in its entirety.",
          "$ref": "ParagraphBorder"
        },
        "avoidWidowAndOrphan": {
          "type": "boolean",
          "description": "Whether to avoid widows and orphans for the paragraph. If unset, the value is inherited from the parent."
        },
        "namedStyleType": {
          "type": "string",
          "description": "The named style type of the paragraph. Since updating the named style type affects other properties within ParagraphStyle, the named style type is applied before the other properties are updated.",
          "enumDescriptions": [
            "The type of named style is unspecified.",
            "Normal text.",
            "Title.",
            "Subtitle.",
            "Heading 1.",
            "Heading 2.",
            "Heading 3.",
            "Heading 4.",
            "Heading 5.",
            "Heading 6."
          ],
          "enum": [
            "NAMED_STYLE_TYPE_UNSPECIFIED",
            "NORMAL_TEXT",
            "TITLE",
            "SUBTITLE",
            "HEADING_1",
            "HEADING_2",
            "HEADING_3",
            "HEADING_4",
            "HEADING_5",
            "HEADING_6"
          ]
        },
        "shading": {
          "$ref": "Shading",
          "description": "The shading of the paragraph. If unset, the value is inherited from the parent."
        },
        "indentStart": {
          "description": "The amount of indentation for the paragraph on the side that corresponds to the start of the text, based on the current paragraph direction. If unset, the value is inherited from the parent.",
          "$ref": "Dimension"
        },
        "pageBreakBefore": {
          "description": "Whether the current paragraph should always start at the beginning of a page. If unset, the value is inherited from the parent. Attempting to update page_break_before for paragraphs in unsupported regions, including Table, Header, Footer and Footnote, can result in an invalid document state that returns a 400 bad request error.",
          "type": "boolean"
        },
        "alignment": {
          "enum": [
            "ALIGNMENT_UNSPECIFIED",
            "START",
            "CENTER",
            "END",
            "JUSTIFIED"
          ],
          "type": "string",
          "description": "The text alignment for this paragraph.",
          "enumDescriptions": [
            "The paragraph alignment is inherited from the parent.",
            "The paragraph is aligned to the start of the line. Left-aligned for LTR text, right-aligned otherwise.",
            "The paragraph is centered.",
            "The paragraph is aligned to the end of the line. Right-aligned for LTR text, left-aligned otherwise.",
            "The paragraph is justified."
          ]
        },
        "lineSpacing": {
          "format": "float",
          "description": "The amount of space between lines, as a percentage of normal, where normal is represented as 100.0. If unset, the value is inherited from the parent.",
          "type": "number"
        },
        "headingId": {
          "description": "The heading ID of the paragraph. If empty, then this paragraph is not a heading. This property is read-only.",
          "type": "string"
        },
        "indentEnd": {
          "description": "The amount of indentation for the paragraph on the side that corresponds to the end of the text, based on the current paragraph direction. If unset, the value is inherited from the parent.",
          "$ref": "Dimension"
        },
        "borderRight": {
          "description": "The border to the right of this paragraph. If unset, the value is inherited from the parent. Paragraph borders cannot be partially updated. When changing a paragraph border, the new border must be specified in its entirety.",
          "$ref": "ParagraphBorder"
        },
        "direction": {
          "type": "string",
          "description": "The text direction of this paragraph. If unset, the value defaults to LEFT_TO_RIGHT since paragraph direction is not inherited.",
          "enumDescriptions": [
            "The content direction is unspecified.",
            "The content goes from left to right.",
            "The content goes from right to left."
          ],
          "enum": [
            "CONTENT_DIRECTION_UNSPECIFIED",
            "LEFT_TO_RIGHT",
            "RIGHT_TO_LEFT"
          ]
        }
      },
      "description": "Styles that apply to a whole paragraph. Inherited paragraph styles are represented as unset fields in this message. A paragraph style's parent depends on where the paragraph style is defined: * The ParagraphStyle on a Paragraph inherits from the paragraph's corresponding named style type. * The ParagraphStyle on a named style inherits from the normal text named style. * The ParagraphStyle of the normal text named style inherits from the default paragraph style in the Docs editor. * The ParagraphStyle on a Paragraph element that's contained in a table may inherit its paragraph style from the table style. If the paragraph style does not inherit from a parent, unsetting fields will revert the style to a value matching the defaults in the Docs editor.",
      "id": "ParagraphStyle"
    },
    "List": {
      "id": "List",
      "properties": {
        "suggestedDeletionIds": {
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this list.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "suggestedListPropertiesChanges": {
          "description": "The suggested changes to the list properties, keyed by suggestion ID.",
          "type": "object",
          "additionalProperties": {
            "$ref": "SuggestedListProperties"
          }
        },
        "suggestedInsertionId": {
          "description": "The suggested insertion ID. If empty, then this is not a suggested insertion.",
          "type": "string"
        },
        "listProperties": {
          "$ref": "ListProperties",
          "description": "The properties of the list."
        }
      },
      "description": "A List represents the list attributes for a group of paragraphs that all belong to the same list. A paragraph that's part of a list has a reference to the list's ID in its bullet.",
      "type": "object"
    },
    "Footnote": {
      "description": "A document footnote.",
      "properties": {
        "footnoteId": {
          "type": "string",
          "description": "The ID of the footnote."
        },
        "content": {
          "description": "The contents of the footnote. The indexes for a footnote's content begin at zero.",
          "items": {
            "$ref": "StructuralElement"
          },
          "type": "array"
        }
      },
      "id": "Footnote",
      "type": "object"
    },
    "InlineObject": {
      "type": "object",
      "id": "InlineObject",
      "properties": {
        "inlineObjectProperties": {
          "description": "The properties of this inline object.",
          "$ref": "InlineObjectProperties"
        },
        "objectId": {
          "type": "string",
          "description": "The ID of this inline object. Can be used to update an object’s properties."
        },
        "suggestedInlineObjectPropertiesChanges": {
          "additionalProperties": {
            "$ref": "SuggestedInlineObjectProperties"
          },
          "type": "object",
          "description": "The suggested changes to the inline object properties, keyed by suggestion ID."
        },
        "suggestedDeletionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content."
        },
        "suggestedInsertionId": {
          "description": "The suggested insertion ID. If empty, then this is not a suggested insertion.",
          "type": "string"
        }
      },
      "description": "An object that appears inline with text. An InlineObject contains an EmbeddedObject such as an image."
    },
    "NamedStyle": {
      "id": "NamedStyle",
      "type": "object",
      "properties": {
        "namedStyleType": {
          "type": "string",
          "enumDescriptions": [
            "The type of named style is unspecified.",
            "Normal text.",
            "Title.",
            "Subtitle.",
            "Heading 1.",
            "Heading 2.",
            "Heading 3.",
            "Heading 4.",
            "Heading 5.",
            "Heading 6."
          ],
          "description": "The type of this named style.",
          "enum": [
            "NAMED_STYLE_TYPE_UNSPECIFIED",
            "NORMAL_TEXT",
            "TITLE",
            "SUBTITLE",
            "HEADING_1",
            "HEADING_2",
            "HEADING_3",
            "HEADING_4",
            "HEADING_5",
            "HEADING_6"
          ]
        },
        "paragraphStyle": {
          "$ref": "ParagraphStyle",
          "description": "The paragraph style of this named style."
        },
        "textStyle": {
          "description": "The text style of this named style.",
          "$ref": "TextStyle"
        }
      },
      "description": "A named style. Paragraphs in the document can inherit their TextStyle and ParagraphStyle from this named style when they have the same named style type."
    },
    "InsertTableRequest": {
      "id": "InsertTableRequest",
      "type": "object",
      "description": "Inserts a table at the specified location. A newline character will be inserted before the inserted table.",
      "properties": {
        "rows": {
          "type": "integer",
          "description": "The number of rows in the table.",
          "format": "int32"
        },
        "columns": {
          "description": "The number of columns in the table.",
          "type": "integer",
          "format": "int32"
        },
        "location": {
          "$ref": "Location",
          "description": "Inserts the table at a specific model index. A newline character will be inserted before the inserted table, therefore the table start index will be at the specified location index + 1. The table must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between an existing table and its preceding paragraph). Tables cannot be inserted inside a footnote or equation."
        },
        "endOfSegmentLocation": {
          "$ref": "EndOfSegmentLocation",
          "description": "Inserts the table at the end of the given header, footer or document body. A newline character will be inserted before the inserted table. Tables cannot be inserted inside a footnote."
        }
      }
    },
    "PositionedObject": {
      "properties": {
        "objectId": {
          "description": "The ID of this positioned object.",
          "type": "string"
        },
        "suggestedInsertionId": {
          "description": "The suggested insertion ID. If empty, then this is not a suggested insertion.",
          "type": "string"
        },
        "positionedObjectProperties": {
          "description": "The properties of this positioned object.",
          "$ref": "PositionedObjectProperties"
        },
        "suggestedDeletionIds": {
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "suggestedPositionedObjectPropertiesChanges": {
          "type": "object",
          "description": "The suggested changes to the positioned object properties, keyed by suggestion ID.",
          "additionalProperties": {
            "$ref": "SuggestedPositionedObjectProperties"
          }
        }
      },
      "type": "object",
      "description": "An object that's tethered to a Paragraph and positioned relative to the beginning of the paragraph. A PositionedObject contains an EmbeddedObject such as an image.",
      "id": "PositionedObject"
    },
    "SuggestedDateElementProperties": {
      "description": "A suggested change to a DateElementProperties.",
      "type": "object",
      "properties": {
        "dateElementProperties": {
          "description": "DateElementProperties that only includes the changes made in this suggestion. This can be used along with the date_element_properties_suggestion_state to see which fields have changed and their new values.",
          "$ref": "DateElementProperties"
        },
        "dateElementPropertiesSuggestionState": {
          "description": "A mask that indicates which of the fields on the base DateElementProperties have been changed in this suggestion.",
          "$ref": "DateElementPropertiesSuggestionState"
        }
      },
      "id": "SuggestedDateElementProperties"
    },
    "ListPropertiesSuggestionState": {
      "type": "object",
      "properties": {
        "nestingLevelsSuggestionStates": {
          "type": "array",
          "description": "A mask that indicates which of the fields on the corresponding NestingLevel in nesting_levels have been changed in this suggestion. The nesting level suggestion states are returned in ascending order of the nesting level with the least nested returned first.",
          "items": {
            "$ref": "NestingLevelSuggestionState"
          }
        }
      },
      "id": "ListPropertiesSuggestionState",
      "description": "A mask that indicates which of the fields on the base ListProperties have been changed in this suggestion. For any field set to true, there's a new suggested value."
    },
    "TextStyleSuggestionState": {
      "description": "A mask that indicates which of the fields on the base TextStyle have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "properties": {
        "weightedFontFamilySuggested": {
          "description": "Indicates if there was a suggested change to weighted_font_family.",
          "type": "boolean"
        },
        "underlineSuggested": {
          "description": "Indicates if there was a suggested change to underline.",
          "type": "boolean"
        },
        "strikethroughSuggested": {
          "description": "Indicates if there was a suggested change to strikethrough.",
          "type": "boolean"
        },
        "foregroundColorSuggested": {
          "description": "Indicates if there was a suggested change to foreground_color.",
          "type": "boolean"
        },
        "baselineOffsetSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to baseline_offset."
        },
        "backgroundColorSuggested": {
          "description": "Indicates if there was a suggested change to background_color.",
          "type": "boolean"
        },
        "boldSuggested": {
          "description": "Indicates if there was a suggested change to bold.",
          "type": "boolean"
        },
        "smallCapsSuggested": {
          "description": "Indicates if there was a suggested change to small_caps.",
          "type": "boolean"
        },
        "fontSizeSuggested": {
          "description": "Indicates if there was a suggested change to font_size.",
          "type": "boolean"
        },
        "italicSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to italic."
        },
        "linkSuggested": {
          "description": "Indicates if there was a suggested change to link.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "TextStyleSuggestionState"
    },
    "TableStyle": {
      "type": "object",
      "description": "Styles that apply to a table.",
      "properties": {
        "tableColumnProperties": {
          "type": "array",
          "description": "The properties of each column. Note that in Docs, tables contain rows and rows contain cells, similar to HTML. So the properties for a row can be found on the row's table_row_style.",
          "items": {
            "$ref": "TableColumnProperties"
          }
        }
      },
      "id": "TableStyle"
    },
    "Table": {
      "id": "Table",
      "properties": {
        "tableRows": {
          "type": "array",
          "description": "The contents and style of each row.",
          "items": {
            "$ref": "TableRow"
          }
        },
        "columns": {
          "description": "Number of columns in the table. It's possible for a table to be non-rectangular, so some rows may have a different number of cells.",
          "type": "integer",
          "format": "int32"
        },
        "tableStyle": {
          "description": "The style of the table.",
          "$ref": "TableStyle"
        },
        "rows": {
          "type": "integer",
          "description": "Number of rows in the table.",
          "format": "int32"
        },
        "suggestedInsertionIds": {
          "type": "array",
          "description": "The suggested insertion IDs. A Table may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.",
          "items": {
            "type": "string"
          }
        },
        "suggestedDeletionIds": {
          "items": {
            "type": "string"
          },
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "type": "array"
        }
      },
      "description": "A StructuralElement representing a table.",
      "type": "object"
    },
    "DeleteTableColumnRequest": {
      "properties": {
        "tableCellLocation": {
          "description": "The reference table cell location from which the column will be deleted. The column this cell spans will be deleted. If this is a merged cell that spans multiple columns, all columns that the cell spans will be deleted. If no columns remain in the table after this deletion, the whole table is deleted.",
          "$ref": "TableCellLocation"
        }
      },
      "description": "Deletes a column from a table.",
      "type": "object",
      "id": "DeleteTableColumnRequest"
    },
    "ParagraphBorder": {
      "properties": {
        "dashStyle": {
          "enum": [
            "DASH_STYLE_UNSPECIFIED",
            "SOLID",
            "DOT",
            "DASH"
          ],
          "description": "The dash style of the border.",
          "enumDescriptions": [
            "Unspecified dash style.",
            "Solid line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'solid'. This is the default dash style.",
            "Dotted line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dot'.",
            "Dashed line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dash'."
          ],
          "type": "string"
        },
        "color": {
          "$ref": "OptionalColor",
          "description": "The color of the border."
        },
        "width": {
          "description": "The width of the border.",
          "$ref": "Dimension"
        },
        "padding": {
          "description": "The padding of the border.",
          "$ref": "Dimension"
        }
      },
      "description": "A border around a paragraph.",
      "type": "object",
      "id": "ParagraphBorder"
    },
    "InsertTextRequest": {
      "description": "Inserts text at the specified location.",
      "id": "InsertTextRequest",
      "properties": {
        "location": {
          "description": "Inserts the text at a specific index in the document. Text must be inserted inside the bounds of an existing Paragraph. For instance, text cannot be inserted at a table's start index (i.e. between the table and its preceding paragraph). The text must be inserted in the preceding paragraph.",
          "$ref": "Location"
        },
        "endOfSegmentLocation": {
          "$ref": "EndOfSegmentLocation",
          "description": "Inserts the text at the end of a header, footer, footnote or the document body."
        },
        "text": {
          "description": "The text to be inserted. Inserting a newline character will implicitly create a new Paragraph at that index. The paragraph style of the new paragraph will be copied from the paragraph at the current insertion index, including lists and bullets. Text styles for inserted text will be determined automatically, generally preserving the styling of neighboring text. In most cases, the text style for the inserted text will match the text immediately before the insertion index. Some control characters (U+0000-U+0008, U+000C-U+001F) and characters from the Unicode Basic Multilingual Plane Private Use Area (U+E000-U+F8FF) will be stripped out of the inserted text.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CreateHeaderResponse": {
      "properties": {
        "headerId": {
          "description": "The ID of the created header.",
          "type": "string"
        }
      },
      "id": "CreateHeaderResponse",
      "description": "The result of creating a header.",
      "type": "object"
    },
    "ShadingSuggestionState": {
      "description": "A mask that indicates which of the fields on the base Shading have been changed in this suggested change. For any field set to true, there's a new suggested value.",
      "id": "ShadingSuggestionState",
      "properties": {
        "backgroundColorSuggested": {
          "description": "Indicates if there was a suggested change to the Shading.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "CreateFooterResponse": {
      "id": "CreateFooterResponse",
      "type": "object",
      "properties": {
        "footerId": {
          "description": "The ID of the created footer.",
          "type": "string"
        }
      },
      "description": "The result of creating a footer."
    },
    "CreateFooterRequest": {
      "description": "Creates a Footer. The new footer is applied to the SectionStyle at the location of the SectionBreak if specified, otherwise it is applied to the DocumentStyle. If a footer of the specified type already exists, a 400 bad request error is returned.",
      "id": "CreateFooterRequest",
      "properties": {
        "sectionBreakLocation": {
          "description": "The location of the SectionBreak immediately preceding the section whose SectionStyle this footer should belong to. If this is unset or refers to the first section break in the document, the footer applies to the document style.",
          "$ref": "Location"
        },
        "type": {
          "enum": [
            "HEADER_FOOTER_TYPE_UNSPECIFIED",
            "DEFAULT"
          ],
          "type": "string",
          "enumDescriptions": [
            "The header/footer type is unspecified.",
            "A default header/footer."
          ],
          "description": "The type of footer to create."
        }
      },
      "type": "object"
    },
    "WeightedFontFamily": {
      "type": "object",
      "description": "Represents a font family and weight of text.",
      "properties": {
        "weight": {
          "format": "int32",
          "type": "integer",
          "description": "The weight of the font. This field can have any value that's a multiple of `100` between `100` and `900`, inclusive. This range corresponds to the numerical values described in the CSS 2.1 Specification, [section 15.6](https://www.w3.org/TR/CSS21/fonts.html#font-boldness), with non-numerical values disallowed. The default value is `400` (\"normal\"). The font weight makes up just one component of the rendered font weight. A combination of the `weight` and the text style's resolved `bold` value determine the rendered weight, after accounting for inheritance: * If the text is bold and the weight is less than `400`, the rendered weight is 400. * If the text is bold and the weight is greater than or equal to `400` but is less than `700`, the rendered weight is `700`. * If the weight is greater than or equal to `700`, the rendered weight is equal to the weight. * If the text is not bold, the rendered weight is equal to the weight."
        },
        "fontFamily": {
          "description": "The font family of the text. The font family can be any font from the Font menu in Docs or from [Google Fonts] (https://fonts.google.com/). If the font name is unrecognized, the text is rendered in `Arial`.",
          "type": "string"
        }
      },
      "id": "WeightedFontFamily"
    },
    "TableCellLocation": {
      "type": "object",
      "id": "TableCellLocation",
      "properties": {
        "rowIndex": {
          "type": "integer",
          "description": "The zero-based row index. For example, the second row in the table has a row index of 1.",
          "format": "int32"
        },
        "columnIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The zero-based column index. For example, the second column in the table has a column index of 1."
        },
        "tableStartLocation": {
          "description": "The location where the table starts in the document.",
          "$ref": "Location"
        }
      },
      "description": "Location of a single cell within a table."
    },
    "EmbeddedObjectBorderSuggestionState": {
      "description": "A mask that indicates which of the fields on the base EmbeddedObjectBorder have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "type": "object",
      "properties": {
        "dashStyleSuggested": {
          "description": "Indicates if there was a suggested change to dash_style.",
          "type": "boolean"
        },
        "propertyStateSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to property_state."
        },
        "widthSuggested": {
          "description": "Indicates if there was a suggested change to width.",
          "type": "boolean"
        },
        "colorSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to color."
        }
      },
      "id": "EmbeddedObjectBorderSuggestionState"
    },
    "LinkedContentReference": {
      "id": "LinkedContentReference",
      "type": "object",
      "properties": {
        "sheetsChartReference": {
          "$ref": "SheetsChartReference",
          "description": "A reference to the linked chart."
        }
      },
      "description": "A reference to the external linked source content."
    },
    "CreateFootnoteRequest": {
      "type": "object",
      "description": "Creates a Footnote segment and inserts a new FootnoteReference to it at the given location. The new Footnote segment will contain a space followed by a newline character.",
      "properties": {
        "location": {
          "$ref": "Location",
          "description": "Inserts the footnote reference at a specific index in the document. The footnote reference must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between the table and its preceding paragraph). Footnote references cannot be inserted inside an equation, header, footer or footnote. Since footnote references can only be inserted in the body, the segment ID field must be empty."
        },
        "endOfSegmentLocation": {
          "$ref": "EndOfSegmentLocation",
          "description": "Inserts the footnote reference at the end of the document body. Footnote references cannot be inserted inside a header, footer or footnote. Since footnote references can only be inserted in the body, the segment ID field must be empty."
        }
      },
      "id": "CreateFootnoteRequest"
    },
    "HeadingLink": {
      "type": "object",
      "properties": {
        "id": {
          "description": "The ID of a heading in this document.",
          "type": "string"
        },
        "tabId": {
          "description": "The ID of the tab containing this heading.",
          "type": "string"
        }
      },
      "description": "A reference to a heading in this document.",
      "id": "HeadingLink"
    },
    "InsertPageBreakRequest": {
      "id": "InsertPageBreakRequest",
      "type": "object",
      "properties": {
        "location": {
          "description": "Inserts the page break at a specific index in the document. The page break must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between the table and its preceding paragraph). Page breaks cannot be inserted inside a table, equation, footnote, header or footer. Since page breaks can only be inserted inside the body, the segment ID field must be empty.",
          "$ref": "Location"
        },
        "endOfSegmentLocation": {
          "description": "Inserts the page break at the end of the document body. Page breaks cannot be inserted inside a footnote, header or footer. Since page breaks can only be inserted inside the body, the segment ID field must be empty.",
          "$ref": "EndOfSegmentLocation"
        }
      },
      "description": "Inserts a page break followed by a newline at the specified location."
    },
    "TabProperties": {
      "properties": {
        "iconEmoji": {
          "type": "string",
          "description": "Optional. The emoji icon displayed with the tab. A valid emoji icon is represented by a non-empty Unicode string. Any set of characters that don't represent a single emoji is invalid. If an emoji is invalid, a 400 bad request error is returned. If this value is unset or empty, the tab will display the default tab icon."
        },
        "parentTabId": {
          "description": "Optional. The ID of the parent tab. Empty when the current tab is a root-level tab, which means it doesn't have any parents.",
          "type": "string"
        },
        "index": {
          "format": "int32",
          "description": "The zero-based index of the tab within the parent.",
          "type": "integer"
        },
        "tabId": {
          "description": "The immutable ID of the tab.",
          "type": "string"
        },
        "nestingLevel": {
          "description": "Output only. The depth of the tab within the document. Root-level tabs start at 0.",
          "format": "int32",
          "type": "integer"
        },
        "title": {
          "type": "string",
          "description": "The user-visible name of the tab."
        }
      },
      "description": "Properties of a tab.",
      "id": "TabProperties",
      "type": "object"
    },
    "ColumnBreak": {
      "description": "A ParagraphElement representing a column break. A column break makes the subsequent text start at the top of the next column.",
      "properties": {
        "suggestedTextStyleChanges": {
          "type": "object",
          "description": "The suggested text style changes to this ColumnBreak, keyed by suggestion ID.",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          }
        },
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The text style of this ColumnBreak. Similar to text content, like text runs and footnote references, the text style of a column break can affect content layout as well as the styling of text inserted next to it."
        },
        "suggestedInsertionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The suggested insertion IDs. A ColumnBreak may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion."
        },
        "suggestedDeletionIds": {
          "items": {
            "type": "string"
          },
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "type": "array"
        }
      },
      "id": "ColumnBreak",
      "type": "object"
    },
    "SuggestedBullet": {
      "id": "SuggestedBullet",
      "description": "A suggested change to a Bullet.",
      "type": "object",
      "properties": {
        "bulletSuggestionState": {
          "description": "A mask that indicates which of the fields on the base Bullet have been changed in this suggestion.",
          "$ref": "BulletSuggestionState"
        },
        "bullet": {
          "description": "A Bullet that only includes the changes made in this suggestion. This can be used along with the bullet_suggestion_state to see which fields have changed and their new values.",
          "$ref": "Bullet"
        }
      }
    },
    "UpdateTextStyleRequest": {
      "id": "UpdateTextStyleRequest",
      "type": "object",
      "properties": {
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The styles to set on the text. If the value for a particular style matches that of the parent, that style will be set to inherit. Certain text style changes may cause other changes in order to to mirror the behavior of the Docs editor. See the documentation of TextStyle for more information."
        },
        "range": {
          "description": "The range of text to style. The range may be extended to include adjacent newlines. If the range fully contains a paragraph belonging to a list, the paragraph's bullet is also updated with the matching text style. Ranges cannot be inserted inside a relative UpdateTextStyleRequest.",
          "$ref": "Range"
        },
        "fields": {
          "description": "The fields that should be updated. At least one field must be specified. The root `text_style` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example, to update the text style to bold, set `fields` to `\"bold\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset.",
          "type": "string",
          "format": "google-fieldmask"
        }
      },
      "description": "Update the styling of text."
    },
    "ReplaceImageRequest": {
      "description": "Replaces an existing image with a new image. Replacing an image removes some image effects from the existing image in order to mirror the behavior of the Docs editor.",
      "properties": {
        "tabId": {
          "description": "The tab that the image to be replaced is in. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document.",
          "type": "string"
        },
        "imageReplaceMethod": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified image replace method. This value must not be used.",
            "Scales and centers the image to fill the bounds of the original image. The image may be cropped in order to fill the original image's bounds. The rendered size of the image will be the same as the original image."
          ],
          "description": "The replacement method.",
          "enum": [
            "IMAGE_REPLACE_METHOD_UNSPECIFIED",
            "CENTER_CROP"
          ]
        },
        "imageObjectId": {
          "description": "The ID of the existing image that will be replaced. The ID can be retrieved from the response of a get request.",
          "type": "string"
        },
        "uri": {
          "description": "The URI of the new image. The image is fetched once at insertion time and a copy is stored for display inside the document. Images must be less than 50MB, cannot exceed 25 megapixels, and must be in PNG, JPEG, or GIF format. The provided URI can't surpass 2 KB in length. The URI is saved with the image, and exposed through the ImageProperties.source_uri field.",
          "type": "string"
        }
      },
      "id": "ReplaceImageRequest",
      "type": "object"
    },
    "TextRun": {
      "id": "TextRun",
      "description": "A ParagraphElement that represents a run of text that all has the same styling.",
      "type": "object",
      "properties": {
        "suggestedInsertionIds": {
          "description": "The suggested insertion IDs. A TextRun may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "content": {
          "description": "The text of this run. Any non-text elements in the run are replaced with the Unicode character U+E907.",
          "type": "string"
        },
        "textStyle": {
          "description": "The text style of this run.",
          "$ref": "TextStyle"
        },
        "suggestedTextStyleChanges": {
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "type": "object",
          "description": "The suggested text style changes to this run, keyed by suggestion ID."
        },
        "suggestedDeletionIds": {
          "items": {
            "type": "string"
          },
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "type": "array"
        }
      }
    },
    "EmbeddedDrawingProperties": {
      "properties": {},
      "id": "EmbeddedDrawingProperties",
      "type": "object",
      "description": "The properties of an embedded drawing and used to differentiate the object type. An embedded drawing is one that's created and edited within a document. Note that extensive details are not supported."
    },
    "Location": {
      "description": "A particular location in the document.",
      "type": "object",
      "properties": {
        "tabId": {
          "description": "The tab that the location is in. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document.",
          "type": "string"
        },
        "segmentId": {
          "description": "The ID of the header, footer or footnote the location is in. An empty segment ID signifies the document's body.",
          "type": "string"
        },
        "index": {
          "format": "int32",
          "type": "integer",
          "description": "The zero-based index, in UTF-16 code units. The index is relative to the beginning of the segment specified by segment_id."
        }
      },
      "id": "Location"
    },
    "Paragraph": {
      "description": "A StructuralElement representing a paragraph. A paragraph is a range of content that's terminated with a newline character.",
      "type": "object",
      "properties": {
        "positionedObjectIds": {
          "type": "array",
          "description": "The IDs of the positioned objects tethered to this paragraph.",
          "items": {
            "type": "string"
          }
        },
        "suggestedParagraphStyleChanges": {
          "type": "object",
          "description": "The suggested paragraph style changes to this paragraph, keyed by suggestion ID.",
          "additionalProperties": {
            "$ref": "SuggestedParagraphStyle"
          }
        },
        "paragraphStyle": {
          "description": "The style of this paragraph.",
          "$ref": "ParagraphStyle"
        },
        "elements": {
          "items": {
            "$ref": "ParagraphElement"
          },
          "type": "array",
          "description": "The content of the paragraph, broken down into its component parts."
        },
        "bullet": {
          "description": "The bullet for this paragraph. If not present, the paragraph does not belong to a list.",
          "$ref": "Bullet"
        },
        "suggestedPositionedObjectIds": {
          "description": "The IDs of the positioned objects suggested to be attached to this paragraph, keyed by suggestion ID.",
          "type": "object",
          "additionalProperties": {
            "$ref": "ObjectReferences"
          }
        },
        "suggestedBulletChanges": {
          "description": "The suggested changes to this paragraph's bullet.",
          "type": "object",
          "additionalProperties": {
            "$ref": "SuggestedBullet"
          }
        }
      },
      "id": "Paragraph"
    },
    "BatchUpdateDocumentRequest": {
      "id": "BatchUpdateDocumentRequest",
      "description": "Request message for BatchUpdateDocument.",
      "type": "object",
      "properties": {
        "requests": {
          "type": "array",
          "description": "A list of updates to apply to the document.",
          "items": {
            "$ref": "Request"
          }
        },
        "writeControl": {
          "$ref": "WriteControl",
          "description": "Provides control over how write requests are executed."
        }
      }
    },
    "Size": {
      "description": "A width and height.",
      "id": "Size",
      "properties": {
        "height": {
          "description": "The height of the object.",
          "$ref": "Dimension"
        },
        "width": {
          "$ref": "Dimension",
          "description": "The width of the object."
        }
      },
      "type": "object"
    },
    "CreateFootnoteResponse": {
      "id": "CreateFootnoteResponse",
      "properties": {
        "footnoteId": {
          "type": "string",
          "description": "The ID of the created footnote."
        }
      },
      "description": "The result of creating a footnote.",
      "type": "object"
    },
    "Link": {
      "properties": {
        "url": {
          "type": "string",
          "description": "An external URL."
        },
        "heading": {
          "description": "A heading in this document. In documents containing a single tab, links to headings within the singular tab continue to return Link.headingId when the includeTabsContent parameter is set to `false` or unset. Otherwise, this field is returned.",
          "$ref": "HeadingLink"
        },
        "tabId": {
          "type": "string",
          "description": "The ID of a tab in this document."
        },
        "bookmarkId": {
          "type": "string",
          "description": "The ID of a bookmark in this document. Legacy field: Instead, set includeTabsContent to `true` and use Link.bookmark for read and write operations. This field is only returned when includeTabsContent is set to `false` in documents containing a single tab and links to a bookmark within the singular tab. Otherwise, Link.bookmark is returned. If this field is used in a write request, the bookmark is considered to be from the tab ID specified in the request. If a tab ID is not specified in the request, it is considered to be from the first tab in the document."
        },
        "headingId": {
          "description": "The ID of a heading in this document. Legacy field: Instead, set includeTabsContent to `true` and use Link.heading for read and write operations. This field is only returned when includeTabsContent is set to `false` in documents containing a single tab and links to a heading within the singular tab. Otherwise, Link.heading is returned. If this field is used in a write request, the heading is considered to be from the tab ID specified in the request. If a tab ID is not specified in the request, it is considered to be from the first tab in the document.",
          "type": "string"
        },
        "bookmark": {
          "$ref": "BookmarkLink",
          "description": "A bookmark in this document. In documents containing a single tab, links to bookmarks within the singular tab continue to return Link.bookmarkId when the includeTabsContent parameter is set to `false` or unset. Otherwise, this field is returned."
        }
      },
      "type": "object",
      "description": "A reference to another portion of a document or an external URL resource.",
      "id": "Link"
    },
    "EmbeddedDrawingPropertiesSuggestionState": {
      "properties": {},
      "description": "A mask that indicates which of the fields on the base EmbeddedDrawingProperties have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "type": "object",
      "id": "EmbeddedDrawingPropertiesSuggestionState"
    },
    "RgbColor": {
      "properties": {
        "blue": {
          "description": "The blue component of the color, from 0.0 to 1.0.",
          "type": "number",
          "format": "float"
        },
        "green": {
          "type": "number",
          "format": "float",
          "description": "The green component of the color, from 0.0 to 1.0."
        },
        "red": {
          "description": "The red component of the color, from 0.0 to 1.0.",
          "format": "float",
          "type": "number"
        }
      },
      "description": "An RGB color.",
      "id": "RgbColor",
      "type": "object"
    },
    "SuggestedDocumentStyle": {
      "properties": {
        "documentStyleSuggestionState": {
          "description": "A mask that indicates which of the fields on the base DocumentStyle have been changed in this suggestion.",
          "$ref": "DocumentStyleSuggestionState"
        },
        "documentStyle": {
          "$ref": "DocumentStyle",
          "description": "A DocumentStyle that only includes the changes made in this suggestion. This can be used along with the document_style_suggestion_state to see which fields have changed and their new values."
        }
      },
      "id": "SuggestedDocumentStyle",
      "description": "A suggested change to the DocumentStyle.",
      "type": "object"
    },
    "MergeTableCellsRequest": {
      "id": "MergeTableCellsRequest",
      "description": "Merges cells in a Table.",
      "type": "object",
      "properties": {
        "tableRange": {
          "description": "The table range specifying which cells of the table to merge. Any text in the cells being merged will be concatenated and stored in the \"head\" cell of the range. This is the upper-left cell of the range when the content direction is left to right, and the upper-right cell of the range otherwise. If the range is non-rectangular (which can occur in some cases where the range covers cells that are already merged or where the table is non-rectangular), a 400 bad request error is returned.",
          "$ref": "TableRange"
        }
      }
    },
    "UpdateSectionStyleRequest": {
      "properties": {
        "fields": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `section_style` is implied and must not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the left margin, set `fields` to `\"margin_left\"`."
        },
        "range": {
          "$ref": "Range",
          "description": "The range overlapping the sections to style. Because section breaks can only be inserted inside the body, the segment ID field must be empty."
        },
        "sectionStyle": {
          "description": "The styles to be set on the section. Certain section style changes may cause other changes in order to mirror the behavior of the Docs editor. See the documentation of SectionStyle for more information.",
          "$ref": "SectionStyle"
        }
      },
      "description": "Updates the SectionStyle.",
      "id": "UpdateSectionStyleRequest",
      "type": "object"
    },
    "BackgroundSuggestionState": {
      "properties": {
        "backgroundColorSuggested": {
          "description": "Indicates whether the current background color has been modified in this suggestion.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "A mask that indicates which of the fields on the base Background have been changed in this suggestion. For any field set to true, the Backgound has a new suggested value.",
      "id": "BackgroundSuggestionState"
    },
    "DeleteTableRowRequest": {
      "description": "Deletes a row from a table.",
      "properties": {
        "tableCellLocation": {
          "$ref": "TableCellLocation",
          "description": "The reference table cell location from which the row will be deleted. The row this cell spans will be deleted. If this is a merged cell that spans multiple rows, all rows that the cell spans will be deleted. If no rows remain in the table after this deletion, the whole table is deleted."
        }
      },
      "id": "DeleteTableRowRequest",
      "type": "object"
    },
    "FootnoteReference": {
      "properties": {
        "footnoteId": {
          "type": "string",
          "description": "The ID of the footnote that contains the content of this footnote reference."
        },
        "suggestedInsertionIds": {
          "items": {
            "type": "string"
          },
          "description": "The suggested insertion IDs. A FootnoteReference may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.",
          "type": "array"
        },
        "suggestedDeletionIds": {
          "items": {
            "type": "string"
          },
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "type": "array"
        },
        "suggestedTextStyleChanges": {
          "description": "The suggested text style changes to this FootnoteReference, keyed by suggestion ID.",
          "type": "object",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          }
        },
        "footnoteNumber": {
          "type": "string",
          "description": "The rendered number of this footnote."
        },
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The text style of this FootnoteReference."
        }
      },
      "description": "A ParagraphElement representing a footnote reference. A footnote reference is the inline content rendered with a number and is used to identify the footnote.",
      "id": "FootnoteReference",
      "type": "object"
    },
    "NestingLevel": {
      "type": "object",
      "description": "Contains properties describing the look and feel of a list bullet at a given level of nesting.",
      "properties": {
        "glyphSymbol": {
          "description": "A custom glyph symbol used by bullets when paragraphs at this level of nesting is unordered. The glyph symbol replaces placeholders within the glyph_format. For example, if the glyph_symbol is the solid circle corresponding to Unicode U+25cf code point and the glyph_format is `%0`, the rendered glyph would be the solid circle.",
          "type": "string"
        },
        "indentStart": {
          "$ref": "Dimension",
          "description": "The amount of indentation for paragraphs at this level of nesting. Applied to the side that corresponds to the start of the text, based on the paragraph's content direction."
        },
        "startNumber": {
          "type": "integer",
          "description": "The number of the first list item at this nesting level. A value of 0 is treated as a value of 1 for lettered lists and Roman numeral lists. For values of both 0 and 1, lettered and Roman numeral lists will begin at `a` and `i` respectively. This value is ignored for nesting levels with unordered glyphs.",
          "format": "int32"
        },
        "bulletAlignment": {
          "enum": [
            "BULLET_ALIGNMENT_UNSPECIFIED",
            "START",
            "CENTER",
            "END"
          ],
          "description": "The alignment of the bullet within the space allotted for rendering the bullet.",
          "enumDescriptions": [
            "The bullet alignment is unspecified.",
            "The bullet is aligned to the start of the space allotted for rendering the bullet. Left-aligned for LTR text, right-aligned otherwise.",
            "The bullet is aligned to the center of the space allotted for rendering the bullet.",
            "The bullet is aligned to the end of the space allotted for rendering the bullet. Right-aligned for LTR text, left-aligned otherwise."
          ],
          "type": "string"
        },
        "indentFirstLine": {
          "description": "The amount of indentation for the first line of paragraphs at this level of nesting.",
          "$ref": "Dimension"
        },
        "glyphFormat": {
          "description": "The format string used by bullets at this level of nesting. The glyph format contains one or more placeholders, and these placeholders are replaced with the appropriate values depending on the glyph_type or glyph_symbol. The placeholders follow the pattern `%[nesting_level]`. Furthermore, placeholders can have prefixes and suffixes. Thus, the glyph format follows the pattern `%[nesting_level]`. Note that the prefix and suffix are optional and can be arbitrary strings. For example, the glyph format `%0.` indicates that the rendered glyph will replace the placeholder with the corresponding glyph for nesting level 0 followed by a period as the suffix. So a list with a glyph type of UPPER_ALPHA and glyph format `%0.` at nesting level 0 will result in a list with rendered glyphs `A.` `B.` `C.` The glyph format can contain placeholders for the current nesting level as well as placeholders for parent nesting levels. For example, a list can have a glyph format of `%0.` at nesting level 0 and a glyph format of `%0.%1.` at nesting level 1. Assuming both nesting levels have DECIMAL glyph types, this would result in a list with rendered glyphs `1.` `2.` ` 2.1.` ` 2.2.` `3.` For nesting levels that are ordered, the string that replaces a placeholder in the glyph format for a particular paragraph depends on the paragraph's order within the list.",
          "type": "string"
        },
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The text style of bullets at this level of nesting."
        },
        "glyphType": {
          "type": "string",
          "enum": [
            "GLYPH_TYPE_UNSPECIFIED",
            "NONE",
            "DECIMAL",
            "ZERO_DECIMAL",
            "UPPER_ALPHA",
            "ALPHA",
            "UPPER_ROMAN",
            "ROMAN"
          ],
          "description": "The type of glyph used by bullets when paragraphs at this level of nesting is ordered. The glyph type determines the type of glyph used to replace placeholders within the glyph_format when paragraphs at this level of nesting are ordered. For example, if the nesting level is 0, the glyph_format is `%0.` and the glyph type is DECIMAL, then the rendered glyph would replace the placeholder `%0` in the glyph format with a number corresponding to the list item's order within the list.",
          "enumDescriptions": [
            "The glyph type is unspecified or unsupported.",
            "An empty string.",
            "A number, like `1`, `2`, or `3`.",
            "A number where single digit numbers are prefixed with a zero, like `01`, `02`, or `03`. Numbers with more than one digit are not prefixed with a zero.",
            "An uppercase letter, like `A`, `B`, or `C`.",
            "A lowercase letter, like `a`, `b`, or `c`.",
            "An uppercase Roman numeral, like `I`, `II`, or `III`.",
            "A lowercase Roman numeral, like `i`, `ii`, or `iii`."
          ]
        }
      },
      "id": "NestingLevel"
    },
    "NestingLevelSuggestionState": {
      "id": "NestingLevelSuggestionState",
      "description": "A mask that indicates which of the fields on the base NestingLevel have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "type": "object",
      "properties": {
        "startNumberSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to start_number."
        },
        "glyphFormatSuggested": {
          "description": "Indicates if there was a suggested change to glyph_format.",
          "type": "boolean"
        },
        "glyphSymbolSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to glyph_symbol."
        },
        "textStyleSuggestionState": {
          "description": "A mask that indicates which of the fields in text style have been changed in this suggestion.",
          "$ref": "TextStyleSuggestionState"
        },
        "indentFirstLineSuggested": {
          "description": "Indicates if there was a suggested change to indent_first_line.",
          "type": "boolean"
        },
        "glyphTypeSuggested": {
          "description": "Indicates if there was a suggested change to glyph_type.",
          "type": "boolean"
        },
        "indentStartSuggested": {
          "description": "Indicates if there was a suggested change to indent_start.",
          "type": "boolean"
        },
        "bulletAlignmentSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to bullet_alignment."
        }
      }
    },
    "Request": {
      "properties": {
        "insertTable": {
          "description": "Inserts a table at the specified location.",
          "$ref": "InsertTableRequest"
        },
        "replaceNamedRangeContent": {
          "description": "Replaces the content in a named range.",
          "$ref": "ReplaceNamedRangeContentRequest"
        },
        "createParagraphBullets": {
          "$ref": "CreateParagraphBulletsRequest",
          "description": "Creates bullets for paragraphs."
        },
        "addDocumentTab": {
          "$ref": "AddDocumentTabRequest",
          "description": "Adds a document tab."
        },
        "updateTableColumnProperties": {
          "description": "Updates the properties of columns in a table.",
          "$ref": "UpdateTableColumnPropertiesRequest"
        },
        "updateSectionStyle": {
          "$ref": "UpdateSectionStyleRequest",
          "description": "Updates the section style of the specified range."
        },
        "unmergeTableCells": {
          "$ref": "UnmergeTableCellsRequest",
          "description": "Unmerges cells in a table."
        },
        "deleteTableRow": {
          "description": "Deletes a row from a table.",
          "$ref": "DeleteTableRowRequest"
        },
        "deleteFooter": {
          "$ref": "DeleteFooterRequest",
          "description": "Deletes a footer from the document."
        },
        "updateNamedStyle": {
          "description": "Updates a named style.",
          "$ref": "UpdateNamedStyleRequest"
        },
        "updateTableRowStyle": {
          "description": "Updates the row style in a table.",
          "$ref": "UpdateTableRowStyleRequest"
        },
        "insertInlineImage": {
          "description": "Inserts an inline image at the specified location.",
          "$ref": "InsertInlineImageRequest"
        },
        "deleteHeader": {
          "description": "Deletes a header from the document.",
          "$ref": "DeleteHeaderRequest"
        },
        "deleteContentRange": {
          "description": "Deletes content from the document.",
          "$ref": "DeleteContentRangeRequest"
        },
        "createFootnote": {
          "description": "Creates a footnote.",
          "$ref": "CreateFootnoteRequest"
        },
        "replaceAllText": {
          "description": "Replaces all instances of the specified text.",
          "$ref": "ReplaceAllTextRequest"
        },
        "insertTableColumn": {
          "$ref": "InsertTableColumnRequest",
          "description": "Inserts an empty column into a table."
        },
        "deletePositionedObject": {
          "$ref": "DeletePositionedObjectRequest",
          "description": "Deletes a positioned object from the document."
        },
        "updateDocumentStyle": {
          "description": "Updates the style of the document.",
          "$ref": "UpdateDocumentStyleRequest"
        },
        "deleteNamedRange": {
          "$ref": "DeleteNamedRangeRequest",
          "description": "Deletes a named range."
        },
        "insertSectionBreak": {
          "$ref": "InsertSectionBreakRequest",
          "description": "Inserts a section break at the specified location."
        },
        "createNamedRange": {
          "description": "Creates a named range.",
          "$ref": "CreateNamedRangeRequest"
        },
        "deleteTab": {
          "$ref": "DeleteTabRequest",
          "description": "Deletes a document tab."
        },
        "createHeader": {
          "description": "Creates a header.",
          "$ref": "CreateHeaderRequest"
        },
        "updateDocumentTabProperties": {
          "$ref": "UpdateDocumentTabPropertiesRequest",
          "description": "Updates the properties of a document tab."
        },
        "insertPerson": {
          "description": "Inserts a person mention.",
          "$ref": "InsertPersonRequest"
        },
        "insertDate": {
          "$ref": "InsertDateRequest",
          "description": "Inserts a date."
        },
        "createFooter": {
          "$ref": "CreateFooterRequest",
          "description": "Creates a footer."
        },
        "pinTableHeaderRows": {
          "description": "Updates the number of pinned header rows in a table.",
          "$ref": "PinTableHeaderRowsRequest"
        },
        "insertPageBreak": {
          "description": "Inserts a page break at the specified location.",
          "$ref": "InsertPageBreakRequest"
        },
        "deleteTableColumn": {
          "description": "Deletes a column from a table.",
          "$ref": "DeleteTableColumnRequest"
        },
        "insertTableRow": {
          "description": "Inserts an empty row into a table.",
          "$ref": "InsertTableRowRequest"
        },
        "replaceImage": {
          "$ref": "ReplaceImageRequest",
          "description": "Replaces an image in the document."
        },
        "updateTableCellStyle": {
          "$ref": "UpdateTableCellStyleRequest",
          "description": "Updates the style of table cells."
        },
        "insertText": {
          "description": "Inserts text at the specified location.",
          "$ref": "InsertTextRequest"
        },
        "mergeTableCells": {
          "$ref": "MergeTableCellsRequest",
          "description": "Merges cells in a table."
        },
        "insertRichLink": {
          "description": "Insert a rich link.",
          "$ref": "InsertRichLinkRequest"
        },
        "updateParagraphStyle": {
          "description": "Updates the paragraph style at the specified range.",
          "$ref": "UpdateParagraphStyleRequest"
        },
        "deleteParagraphBullets": {
          "description": "Deletes bullets from paragraphs.",
          "$ref": "DeleteParagraphBulletsRequest"
        },
        "updateTextStyle": {
          "description": "Updates the text style at the specified range.",
          "$ref": "UpdateTextStyleRequest"
        }
      },
      "description": "A single update to apply to a document.",
      "type": "object",
      "id": "Request"
    },
    "InsertInlineSheetsChartResponse": {
      "properties": {
        "objectId": {
          "description": "The object ID of the inserted chart.",
          "type": "string"
        }
      },
      "description": "The result of inserting an embedded Google Sheets chart.",
      "id": "InsertInlineSheetsChartResponse",
      "type": "object"
    },
    "PositionedObjectPositioningSuggestionState": {
      "id": "PositionedObjectPositioningSuggestionState",
      "properties": {
        "layoutSuggested": {
          "description": "Indicates if there was a suggested change to layout.",
          "type": "boolean"
        },
        "topOffsetSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to top_offset."
        },
        "leftOffsetSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to left_offset."
        }
      },
      "description": "A mask that indicates which of the fields on the base PositionedObjectPositioning have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "type": "object"
    },
    "SizeSuggestionState": {
      "type": "object",
      "properties": {
        "heightSuggested": {
          "description": "Indicates if there was a suggested change to height.",
          "type": "boolean"
        },
        "widthSuggested": {
          "description": "Indicates if there was a suggested change to width.",
          "type": "boolean"
        }
      },
      "description": "A mask that indicates which of the fields on the base Size have been changed in this suggestion. For any field set to true, the Size has a new suggested value.",
      "id": "SizeSuggestionState"
    },
    "AddDocumentTabResponse": {
      "description": "The result of adding a document tab.",
      "properties": {
        "tabProperties": {
          "$ref": "TabProperties",
          "description": "The properties of the newly added tab."
        }
      },
      "type": "object",
      "id": "AddDocumentTabResponse"
    },
    "DocumentTab": {
      "properties": {
        "namedRanges": {
          "type": "object",
          "description": "The named ranges in the document tab, keyed by name.",
          "additionalProperties": {
            "$ref": "NamedRanges"
          }
        },
        "inlineObjects": {
          "additionalProperties": {
            "$ref": "InlineObject"
          },
          "description": "The inline objects in the document tab, keyed by object ID.",
          "type": "object"
        },
        "suggestedNamedStylesChanges": {
          "additionalProperties": {
            "$ref": "SuggestedNamedStyles"
          },
          "description": "The suggested changes to the named styles of the document tab, keyed by suggestion ID.",
          "type": "object"
        },
        "suggestedDocumentStyleChanges": {
          "description": "The suggested changes to the style of the document tab, keyed by suggestion ID.",
          "additionalProperties": {
            "$ref": "SuggestedDocumentStyle"
          },
          "type": "object"
        },
        "footers": {
          "additionalProperties": {
            "$ref": "Footer"
          },
          "description": "The footers in the document tab, keyed by footer ID.",
          "type": "object"
        },
        "lists": {
          "description": "The lists in the document tab, keyed by list ID.",
          "type": "object",
          "additionalProperties": {
            "$ref": "List"
          }
        },
        "footnotes": {
          "additionalProperties": {
            "$ref": "Footnote"
          },
          "type": "object",
          "description": "The footnotes in the document tab, keyed by footnote ID."
        },
        "body": {
          "$ref": "Body",
          "description": "The main body of the document tab."
        },
        "headers": {
          "description": "The headers in the document tab, keyed by header ID.",
          "type": "object",
          "additionalProperties": {
            "$ref": "Header"
          }
        },
        "documentStyle": {
          "description": "The style of the document tab.",
          "$ref": "DocumentStyle"
        },
        "namedStyles": {
          "$ref": "NamedStyles",
          "description": "The named styles of the document tab."
        },
        "positionedObjects": {
          "type": "object",
          "additionalProperties": {
            "$ref": "PositionedObject"
          },
          "description": "The positioned objects in the document tab, keyed by object ID."
        }
      },
      "type": "object",
      "description": "A tab with document contents.",
      "id": "DocumentTab"
    },
    "ImageProperties": {
      "id": "ImageProperties",
      "type": "object",
      "description": "The properties of an image.",
      "properties": {
        "angle": {
          "format": "float",
          "description": "The clockwise rotation angle of the image, in radians.",
          "type": "number"
        },
        "contentUri": {
          "type": "string",
[...]
