{
  "baseUrl": "https://docs.googleapis.com/",
  "servicePath": "",
  "rootUrl": "https://docs.googleapis.com/",
  "basePath": "",
  "batchPath": "batch",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "name": "docs",
  "canonicalName": "Docs",
  "schemas": {
    "TextStyleSuggestionState": {
      "type": "object",
      "properties": {
        "linkSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to link."
        },
        "underlineSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to underline."
        },
        "smallCapsSuggested": {
          "description": "Indicates if there was a suggested change to small_caps.",
          "type": "boolean"
        },
        "weightedFontFamilySuggested": {
          "description": "Indicates if there was a suggested change to weighted_font_family.",
          "type": "boolean"
        },
        "boldSuggested": {
          "description": "Indicates if there was a suggested change to bold.",
          "type": "boolean"
        },
        "baselineOffsetSuggested": {
          "description": "Indicates if there was a suggested change to baseline_offset.",
          "type": "boolean"
        },
        "backgroundColorSuggested": {
          "description": "Indicates if there was a suggested change to background_color.",
          "type": "boolean"
        },
        "foregroundColorSuggested": {
          "description": "Indicates if there was a suggested change to foreground_color.",
          "type": "boolean"
        },
        "strikethroughSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to strikethrough."
        },
        "italicSuggested": {
          "description": "Indicates if there was a suggested change to italic.",
          "type": "boolean"
        },
        "fontSizeSuggested": {
          "description": "Indicates if there was a suggested change to font_size.",
          "type": "boolean"
        }
      },
      "id": "TextStyleSuggestionState",
      "description": "A mask that indicates which of the fields on the base TextStyle have been changed in this suggestion. For any field set to true, there's a new suggested value."
    },
    "HorizontalRule": {
      "properties": {
        "suggestedTextStyleChanges": {
          "description": "The suggested text style changes to this HorizontalRule, keyed by suggestion ID.",
          "type": "object",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          }
        },
        "suggestedDeletionIds": {
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "suggestedInsertionIds": {
          "type": "array",
          "description": "The suggested insertion IDs. A HorizontalRule may have multiple insertion IDs if it is a nested suggested change. If empty, then this is not a suggested insertion.",
          "items": {
            "type": "string"
          }
        },
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The text style of this HorizontalRule. Similar to text content, like text runs and footnote references, the text style of a horizontal rule can affect content layout as well as the styling of text inserted next to it."
        }
      },
      "description": "A ParagraphElement representing a horizontal line.",
      "type": "object",
      "id": "HorizontalRule"
    },
    "LinkedContentReference": {
      "description": "A reference to the external linked source content.",
      "properties": {
        "sheetsChartReference": {
          "$ref": "SheetsChartReference",
          "description": "A reference to the linked chart."
        }
      },
      "id": "LinkedContentReference",
      "type": "object"
    },
    "PageBreak": {
      "description": "A ParagraphElement representing a page break. A page break makes the subsequent text start at the top of the next page.",
      "properties": {
        "suggestedTextStyleChanges": {
          "type": "object",
          "description": "The suggested text style changes to this PageBreak, keyed by suggestion ID.",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          }
        },
        "suggestedInsertionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The suggested insertion IDs. A PageBreak may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion."
        },
        "suggestedDeletionIds": {
          "items": {
            "type": "string"
          },
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "type": "array"
        },
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The text style of this PageBreak. Similar to text content, like text runs and footnote references, the text style of a page break can affect content layout as well as the styling of text inserted next to it."
        }
      },
      "id": "PageBreak",
      "type": "object"
    },
    "SheetsChartReference": {
      "properties": {
        "chartId": {
          "type": "integer",
          "format": "int32",
          "description": "The ID of the specific chart in the Google Sheets spreadsheet that's embedded."
        },
        "spreadsheetId": {
          "description": "The ID of the Google Sheets spreadsheet that contains the source chart.",
          "type": "string"
        }
      },
      "description": "A reference to a linked chart embedded from Google Sheets.",
      "id": "SheetsChartReference",
      "type": "object"
    },
    "UpdateSectionStyleRequest": {
      "id": "UpdateSectionStyleRequest",
      "properties": {
        "sectionStyle": {
          "description": "The styles to be set on the section. Certain section style changes may cause other changes in order to mirror the behavior of the Docs editor. See the documentation of SectionStyle for more information.",
          "$ref": "SectionStyle"
        },
        "fields": {
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `section_style` is implied and must not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the left margin, set `fields` to `\"margin_left\"`.",
          "type": "string"
        },
        "range": {
          "$ref": "Range",
          "description": "The range overlapping the sections to style. Because section breaks can only be inserted inside the body, the segment ID field must be empty."
        }
      },
      "type": "object",
      "description": "Updates the SectionStyle."
    },
    "CreateNamedRangeResponse": {
      "type": "object",
      "description": "The result of creating a named range.",
      "properties": {
        "namedRangeId": {
          "type": "string",
          "description": "The ID of the created named range."
        }
      },
      "id": "CreateNamedRangeResponse"
    },
    "NamedRanges": {
      "description": "A collection of all the NamedRanges in the document that share a given name.",
      "id": "NamedRanges",
      "properties": {
        "namedRanges": {
          "items": {
            "$ref": "NamedRange"
          },
          "description": "The NamedRanges that share the same name.",
          "type": "array"
        },
        "name": {
          "description": "The name that all the named ranges share.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TableCellStyle": {
      "type": "object",
      "id": "TableCellStyle",
      "description": "The style of a TableCell. Inherited table cell styles are represented as unset fields in this message. A table cell style can inherit from the table's style.",
      "properties": {
        "borderRight": {
          "$ref": "TableCellBorder",
          "description": "The right border of the cell."
        },
        "borderTop": {
          "description": "The top border of the cell.",
          "$ref": "TableCellBorder"
        },
        "rowSpan": {
          "format": "int32",
          "type": "integer",
          "description": "The row span of the cell. This property is read-only."
        },
        "contentAlignment": {
          "enumDescriptions": [
            "An unspecified content alignment. The content alignment is inherited from the parent if one exists.",
            "An unsupported content alignment.",
            "An alignment that aligns the content to the top of the content holder. Corresponds to ECMA-376 ST_TextAnchoringType 't'.",
            "An alignment that aligns the content to the middle of the content holder. Corresponds to ECMA-376 ST_TextAnchoringType 'ctr'.",
            "An alignment that aligns the content to the bottom of the content holder. Corresponds to ECMA-376 ST_TextAnchoringType 'b'."
          ],
          "type": "string",
          "description": "The alignment of the content in the table cell. The default alignment matches the alignment for newly created table cells in the Docs editor.",
          "enum": [
            "CONTENT_ALIGNMENT_UNSPECIFIED",
            "CONTENT_ALIGNMENT_UNSUPPORTED",
            "TOP",
            "MIDDLE",
            "BOTTOM"
          ]
        },
        "paddingBottom": {
          "$ref": "Dimension",
          "description": "The bottom padding of the cell."
        },
        "paddingRight": {
          "description": "The right padding of the cell.",
          "$ref": "Dimension"
        },
        "paddingLeft": {
          "$ref": "Dimension",
          "description": "The left padding of the cell."
        },
        "backgroundColor": {
          "$ref": "OptionalColor",
          "description": "The background color of the cell."
        },
        "paddingTop": {
          "description": "The top padding of the cell.",
          "$ref": "Dimension"
        },
        "columnSpan": {
          "type": "integer",
          "description": "The column span of the cell. This property is read-only.",
          "format": "int32"
        },
        "borderBottom": {
          "description": "The bottom border of the cell.",
          "$ref": "TableCellBorder"
        },
        "borderLeft": {
          "description": "The left border of the cell.",
          "$ref": "TableCellBorder"
        }
      }
    },
    "Person": {
      "id": "Person",
      "description": "A person or email address mentioned in a document. These mentions behave as a single, immutable element containing the person's name or email address.",
      "properties": {
        "personProperties": {
          "description": "Output only. The properties of this Person. This field is always present.",
          "$ref": "PersonProperties",
          "readOnly": true
        },
        "suggestedTextStyleChanges": {
          "description": "The suggested text style changes to this Person, keyed by suggestion ID.",
          "type": "object",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          }
        },
        "personId": {
          "description": "Output only. The unique ID of this link.",
          "readOnly": true,
          "type": "string"
        },
        "suggestedInsertionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "IDs for suggestions that insert this person link into the document. A Person might have multiple insertion IDs if it's a nested suggested change (a suggestion within a suggestion made by a different user, for example). If empty, then this person link isn't a suggested insertion."
        },
        "suggestedDeletionIds": {
          "type": "array",
          "description": "IDs for suggestions that remove this person link from the document. A Person might have multiple deletion IDs if, for example, multiple users suggest deleting it. If empty, then this person link isn't suggested for deletion.",
          "items": {
            "type": "string"
          }
        },
        "textStyle": {
          "description": "The text style of this Person.",
          "$ref": "TextStyle"
        }
      },
      "type": "object"
    },
    "TableRange": {
      "type": "object",
      "id": "TableRange",
      "properties": {
        "rowSpan": {
          "description": "The row span of the table range.",
          "type": "integer",
          "format": "int32"
        },
        "tableCellLocation": {
          "$ref": "TableCellLocation",
          "description": "The cell location where the table range starts."
        },
        "columnSpan": {
          "description": "The column span of the table range.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "A table range represents a reference to a subset of a table. It's important to note that the cells specified by a table range do not necessarily form a rectangle. For example, let's say we have a 3 x 3 table where all the cells of the last row are merged together. The table looks like this: [ ] A table range with table cell location = (table_start_location, row = 0, column = 0), row span = 3 and column span = 2 specifies the following cells: x x [ x x x ]"
    },
    "Response": {
      "type": "object",
      "id": "Response",
      "properties": {
        "insertInlineSheetsChart": {
          "description": "The result of inserting an inline Google Sheets chart.",
          "$ref": "InsertInlineSheetsChartResponse"
        },
        "createFooter": {
          "$ref": "CreateFooterResponse",
          "description": "The result of creating a footer."
        },
        "addDocumentTab": {
          "description": "The result of adding a document tab.",
          "$ref": "AddDocumentTabResponse"
        },
        "insertInlineImage": {
          "$ref": "InsertInlineImageResponse",
          "description": "The result of inserting an inline image."
        },
        "createFootnote": {
          "$ref": "CreateFootnoteResponse",
          "description": "The result of creating a footnote."
        },
        "createNamedRange": {
          "description": "The result of creating a named range.",
          "$ref": "CreateNamedRangeResponse"
        },
        "replaceAllText": {
          "$ref": "ReplaceAllTextResponse",
          "description": "The result of replacing text."
        },
        "createHeader": {
          "description": "The result of creating a header.",
          "$ref": "CreateHeaderResponse"
        }
      },
      "description": "A single response from an update."
    },
    "ImageProperties": {
      "properties": {
        "contentUri": {
          "type": "string",
          "description": "A URI to the image with a default lifetime of 30 minutes. This URI is tagged with the account of the requester. Anyone with the URI effectively accesses the image as the original requester. Access to the image may be lost if the document's sharing settings change."
        },
        "angle": {
          "format": "float",
          "type": "number",
          "description": "The clockwise rotation angle of the image, in radians."
        },
        "cropProperties": {
          "description": "The crop properties of the image.",
          "$ref": "CropProperties"
        },
        "sourceUri": {
          "type": "string",
          "description": "The source URI is the URI used to insert the image. The source URI can be empty."
        },
        "brightness": {
          "type": "number",
          "description": "The brightness effect of the image. The value should be in the interval [-1.0, 1.0], where 0 means no effect.",
          "format": "float"
        },
        "contrast": {
          "description": "The contrast effect of the image. The value should be in the interval [-1.0, 1.0], where 0 means no effect.",
          "type": "number",
          "format": "float"
        },
        "transparency": {
          "description": "The transparency effect of the image. The value should be in the interval [0.0, 1.0], where 0 means no effect and 1 means transparent.",
          "type": "number",
          "format": "float"
        }
      },
      "type": "object",
      "id": "ImageProperties",
      "description": "The properties of an image."
    },
    "BackgroundSuggestionState": {
      "description": "A mask that indicates which of the fields on the base Background have been changed in this suggestion. For any field set to true, the Backgound has a new suggested value.",
      "id": "BackgroundSuggestionState",
      "type": "object",
      "properties": {
        "backgroundColorSuggested": {
          "description": "Indicates whether the current background color has been modified in this suggestion.",
          "type": "boolean"
        }
      }
    },
    "PositionedObject": {
      "description": "An object that's tethered to a Paragraph and positioned relative to the beginning of the paragraph. A PositionedObject contains an EmbeddedObject such as an image.",
      "type": "object",
      "properties": {
        "positionedObjectProperties": {
          "description": "The properties of this positioned object.",
          "$ref": "PositionedObjectProperties"
        },
        "objectId": {
          "type": "string",
          "description": "The ID of this positioned object."
        },
        "suggestedPositionedObjectPropertiesChanges": {
          "type": "object",
          "description": "The suggested changes to the positioned object properties, keyed by suggestion ID.",
          "additionalProperties": {
            "$ref": "SuggestedPositionedObjectProperties"
          }
        },
        "suggestedInsertionId": {
          "type": "string",
          "description": "The suggested insertion ID. If empty, then this is not a suggested insertion."
        },
        "suggestedDeletionIds": {
          "type": "array",
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "PositionedObject"
    },
    "DocumentStyleSuggestionState": {
      "id": "DocumentStyleSuggestionState",
      "description": "A mask that indicates which of the fields on the base DocumentStyle have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "type": "object",
      "properties": {
        "marginHeaderSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to margin_header."
        },
        "useCustomHeaderFooterMarginsSuggested": {
          "description": "Indicates if there was a suggested change to use_custom_header_footer_margins.",
          "type": "boolean"
        },
        "pageSizeSuggestionState": {
          "$ref": "SizeSuggestionState",
          "description": "A mask that indicates which of the fields in size have been changed in this suggestion."
        },
        "useEvenPageHeaderFooterSuggested": {
          "description": "Indicates if there was a suggested change to use_even_page_header_footer.",
          "type": "boolean"
        },
        "firstPageHeaderIdSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to first_page_header_id."
        },
        "marginTopSuggested": {
          "description": "Indicates if there was a suggested change to margin_top.",
          "type": "boolean"
        },
        "evenPageHeaderIdSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to even_page_header_id."
        },
        "defaultHeaderIdSuggested": {
          "description": "Indicates if there was a suggested change to default_header_id.",
          "type": "boolean"
        },
        "useFirstPageHeaderFooterSuggested": {
          "description": "Indicates if there was a suggested change to use_first_page_header_footer.",
          "type": "boolean"
        },
        "defaultFooterIdSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to default_footer_id."
        },
        "flipPageOrientationSuggested": {
          "description": "Optional. Indicates if there was a suggested change to flip_page_orientation.",
          "type": "boolean"
        },
        "firstPageFooterIdSuggested": {
          "description": "Indicates if there was a suggested change to first_page_footer_id.",
          "type": "boolean"
        },
        "marginLeftSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to margin_left."
        },
        "evenPageFooterIdSuggested": {
          "description": "Indicates if there was a suggested change to even_page_footer_id.",
          "type": "boolean"
        },
        "marginFooterSuggested": {
          "description": "Indicates if there was a suggested change to margin_footer.",
          "type": "boolean"
        },
        "backgroundSuggestionState": {
          "$ref": "BackgroundSuggestionState",
          "description": "A mask that indicates which of the fields in background have been changed in this suggestion."
        },
        "marginBottomSuggested": {
          "description": "Indicates if there was a suggested change to margin_bottom.",
          "type": "boolean"
        },
        "marginRightSuggested": {
          "description": "Indicates if there was a suggested change to margin_right.",
          "type": "boolean"
        },
        "pageNumberStartSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to page_number_start."
        }
      }
    },
    "DateElementPropertiesSuggestionState": {
      "id": "DateElementPropertiesSuggestionState",
      "properties": {
        "timestampSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to timestamp."
        },
        "timeZoneIdSuggested": {
          "description": "Indicates if there was a suggested change to time_zone_id.",
          "type": "boolean"
        },
        "dateFormatSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to date_format."
        },
        "localeSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to locale."
        },
        "timeFormatSuggested": {
          "description": "Indicates if there was a suggested change to time_format.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "A mask that indicates which of the fields on the base DateElementProperties have been changed in this suggestion. For any field set to true, there's a new suggested value."
    },
    "SectionColumnProperties": {
      "properties": {
        "width": {
          "$ref": "Dimension",
          "description": "Output only. The width of the column."
        },
        "paddingEnd": {
          "description": "The padding at the end of the column.",
          "$ref": "Dimension"
        }
      },
      "description": "Properties that apply to a section's column.",
      "id": "SectionColumnProperties",
      "type": "object"
    },
    "TabProperties": {
      "type": "object",
      "properties": {
        "nestingLevel": {
          "format": "int32",
          "description": "Output only. The depth of the tab within the document. Root-level tabs start at 0.",
          "type": "integer"
        },
        "index": {
          "format": "int32",
          "description": "The zero-based index of the tab within the parent.",
          "type": "integer"
        },
        "tabId": {
          "description": "The immutable ID of the tab.",
          "type": "string"
        },
        "title": {
          "description": "The user-visible name of the tab.",
          "type": "string"
        },
        "iconEmoji": {
          "type": "string",
          "description": "Optional. The emoji icon displayed with the tab. A valid emoji icon is represented by a non-empty Unicode string. Any set of characters that don't represent a single emoji is invalid. If an emoji is invalid, a 400 bad request error is returned. If this value is unset or empty, the tab will display the default tab icon."
        },
        "parentTabId": {
          "description": "Optional. The ID of the parent tab. Empty when the current tab is a root-level tab, which means it doesn't have any parents.",
          "type": "string"
        }
      },
      "description": "Properties of a tab.",
      "id": "TabProperties"
    },
    "SuggestedDateElementProperties": {
      "properties": {
        "dateElementProperties": {
          "$ref": "DateElementProperties",
          "description": "DateElementProperties that only includes the changes made in this suggestion. This can be used along with the date_element_properties_suggestion_state to see which fields have changed and their new values."
        },
        "dateElementPropertiesSuggestionState": {
          "description": "A mask that indicates which of the fields on the base DateElementProperties have been changed in this suggestion.",
          "$ref": "DateElementPropertiesSuggestionState"
        }
      },
      "description": "A suggested change to a DateElementProperties.",
      "id": "SuggestedDateElementProperties",
      "type": "object"
    },
    "Body": {
      "description": "The document body. The body typically contains the full document contents except for headers, footers, and footnotes.",
      "properties": {
        "content": {
          "description": "The contents of the body. The indexes for the body's content begin at zero.",
          "type": "array",
          "items": {
            "$ref": "StructuralElement"
          }
        }
      },
      "type": "object",
      "id": "Body"
    },
    "SectionStyle": {
      "type": "object",
      "description": "The styling that applies to a section.",
      "id": "SectionStyle",
      "properties": {
        "firstPageHeaderId": {
          "description": "The ID of the header used only for the first page of the section. If use_first_page_header_footer is true, this value is used for the header on the first page of the section. If it's false, the header on the first page of the section uses the default_header_id. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's first_page_header_id. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only.",
          "type": "string"
        },
        "columnProperties": {
          "type": "array",
          "description": "The section's columns properties. If empty, the section contains one column with the default properties in the Docs editor. A section can be updated to have no more than 3 columns. When updating this property, setting a concrete value is required. Unsetting this property will result in a 400 bad request error.",
          "items": {
            "$ref": "SectionColumnProperties"
          }
        },
        "columnSeparatorStyle": {
          "type": "string",
          "enum": [
            "COLUMN_SEPARATOR_STYLE_UNSPECIFIED",
            "NONE",
            "BETWEEN_EACH_COLUMN"
          ],
          "description": "The style of column separators. This style can be set even when there's one column in the section. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error.",
          "enumDescriptions": [
            "An unspecified column separator style.",
            "No column separator lines between columns.",
            "Renders a column separator line between each column."
          ]
        },
        "marginTop": {
          "$ref": "Dimension",
          "description": "The top page margin of the section. If unset, the value defaults to margin_top from DocumentStyle. If DocumentMode is PAGELESS, this property will not be rendered. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error."
        },
        "sectionType": {
          "description": "Output only. The type of section.",
          "enumDescriptions": [
            "The section type is unspecified.",
            "The section starts immediately after the last paragraph of the previous section.",
            "The section starts on the next page."
          ],
          "type": "string",
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "CONTINUOUS",
            "NEXT_PAGE"
          ]
        },
        "evenPageHeaderId": {
          "type": "string",
          "description": "The ID of the header used only for even pages. If the value of DocumentStyle's use_even_page_header_footer is true, this value is used for the headers on even pages in the section. If it is false, the headers on even pages use the default_header_id. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's even_page_header_id. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only."
        },
        "marginLeft": {
          "$ref": "Dimension",
          "description": "The left page margin of the section. If unset, the value defaults to margin_left from DocumentStyle. Updating the left margin causes columns in this section to resize. Since the margin affects column width, it's applied before column properties. If DocumentMode is PAGELESS, this property will not be rendered. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error."
        },
        "marginHeader": {
          "description": "The header margin of the section. If unset, the value defaults to margin_header from DocumentStyle. If updated, use_custom_header_footer_margins is set to true on DocumentStyle. The value of use_custom_header_footer_margins on DocumentStyle indicates if a header margin is being respected for this section. If DocumentMode is PAGELESS, this property will not be rendered. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error.",
          "$ref": "Dimension"
        },
        "defaultHeaderId": {
          "description": "The ID of the default header. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's default_header_id. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only.",
          "type": "string"
        },
        "marginFooter": {
          "$ref": "Dimension",
          "description": "The footer margin of the section. If unset, the value defaults to margin_footer from DocumentStyle. If updated, use_custom_header_footer_margins is set to true on DocumentStyle. The value of use_custom_header_footer_margins on DocumentStyle indicates if a footer margin is being respected for this section If DocumentMode is PAGELESS, this property will not be rendered. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error."
        },
        "marginBottom": {
          "$ref": "Dimension",
          "description": "The bottom page margin of the section. If unset, the value defaults to margin_bottom from DocumentStyle. If DocumentMode is PAGELESS, this property will not be rendered. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error."
        },
        "defaultFooterId": {
          "description": "The ID of the default footer. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's default_footer_id. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only.",
          "type": "string"
        },
        "contentDirection": {
          "type": "string",
          "description": "The content direction of this section. If unset, the value defaults to LEFT_TO_RIGHT. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error.",
          "enum": [
            "CONTENT_DIRECTION_UNSPECIFIED",
            "LEFT_TO_RIGHT",
            "RIGHT_TO_LEFT"
          ],
          "enumDescriptions": [
            "The content direction is unspecified.",
            "The content goes from left to right.",
            "The content goes from right to left."
          ]
        },
        "marginRight": {
          "description": "The right page margin of the section. If unset, the value defaults to margin_right from DocumentStyle. Updating the right margin causes columns in this section to resize. Since the margin affects column width, it's applied before column properties. If DocumentMode is PAGELESS, this property will not be rendered. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error.",
          "$ref": "Dimension"
        },
        "flipPageOrientation": {
          "description": "Optional. Indicates whether to flip the dimensions of DocumentStyle's page_size for this section, which allows changing the page orientation between portrait and landscape. If unset, the value inherits from DocumentStyle's flip_page_orientation. If DocumentMode is PAGELESS, this property will not be rendered. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error.",
          "type": "boolean"
        },
        "firstPageFooterId": {
          "description": "The ID of the footer used only for the first page of the section. If use_first_page_header_footer is true, this value is used for the footer on the first page of the section. If it's false, the footer on the first page of the section uses the default_footer_id. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's first_page_footer_id. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only.",
          "type": "string"
        },
        "useFirstPageHeaderFooter": {
          "type": "boolean",
          "description": "Indicates whether to use the first page header / footer IDs for the first page of the section. If unset, it inherits from DocumentStyle's use_first_page_header_footer for the first section. If the value is unset for subsequent sectors, it should be interpreted as false. If DocumentMode is PAGELESS, this property will not be rendered. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error."
        },
        "evenPageFooterId": {
          "description": "The ID of the footer used only for even pages. If the value of DocumentStyle's use_even_page_header_footer is true, this value is used for the footers on even pages in the section. If it is false, the footers on even pages use the default_footer_id. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's even_page_footer_id. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only.",
          "type": "string"
        },
        "pageNumberStart": {
          "type": "integer",
          "format": "int32",
          "description": "The page number from which to start counting the number of pages for this section. If unset, page numbering continues from the previous section. If the value is unset in the first SectionBreak, refer to DocumentStyle's page_number_start. If DocumentMode is PAGELESS, this property will not be rendered. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error."
        }
      }
    },
    "Footnote": {
      "type": "object",
      "properties": {
        "content": {
          "description": "The contents of the footnote. The indexes for a footnote's content begin at zero.",
          "items": {
            "$ref": "StructuralElement"
          },
          "type": "array"
        },
        "footnoteId": {
          "description": "The ID of the footnote.",
          "type": "string"
        }
      },
      "id": "Footnote",
      "description": "A document footnote."
    },
    "SuggestedListProperties": {
      "description": "A suggested change to ListProperties.",
      "properties": {
        "listProperties": {
          "description": "A ListProperties that only includes the changes made in this suggestion. This can be used along with the list_properties_suggestion_state to see which fields have changed and their new values.",
          "$ref": "ListProperties"
        },
        "listPropertiesSuggestionState": {
          "description": "A mask that indicates which of the fields on the base ListProperties have been changed in this suggestion.",
          "$ref": "ListPropertiesSuggestionState"
        }
      },
      "type": "object",
      "id": "SuggestedListProperties"
    },
    "DateElement": {
      "type": "object",
      "id": "DateElement",
      "properties": {
        "dateElementProperties": {
          "description": "The properties of this DateElement.",
          "$ref": "DateElementProperties"
        },
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The text style of this DateElement."
        },
        "suggestedDateElementPropertiesChanges": {
          "additionalProperties": {
            "$ref": "SuggestedDateElementProperties"
          },
          "type": "object",
          "description": "The suggested changes to the date element properties, keyed by suggestion ID."
        },
        "suggestedDeletionIds": {
          "description": "IDs for suggestions that remove this date from the document. A DateElement might have multiple deletion IDs if, for example, multiple users suggest deleting it. If empty, then this date isn't suggested for deletion.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "dateId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The unique ID of this date."
        },
        "suggestedTextStyleChanges": {
          "description": "The suggested text style changes to this DateElement, keyed by suggestion ID.",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "type": "object"
        },
        "suggestedInsertionIds": {
          "description": "IDs for suggestions that insert this date into the document. A DateElement might have multiple insertion IDs if it's a nested suggested change (a suggestion within a suggestion made by a different user, for example). If empty, then this date isn't a suggested insertion.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "A date instance mentioned in a document."
    },
    "Header": {
      "id": "Header",
      "properties": {
        "headerId": {
          "type": "string",
          "description": "The ID of the header."
        },
        "content": {
          "description": "The contents of the header. The indexes for a header's content begin at zero.",
          "type": "array",
          "items": {
            "$ref": "StructuralElement"
          }
        }
      },
      "description": "A document header.",
      "type": "object"
    },
    "CreateFooterResponse": {
      "type": "object",
      "properties": {
        "footerId": {
          "type": "string",
          "description": "The ID of the created footer."
        }
      },
      "id": "CreateFooterResponse",
      "description": "The result of creating a footer."
    },
    "TableCellLocation": {
      "type": "object",
      "properties": {
        "rowIndex": {
          "description": "The zero-based row index. For example, the second row in the table has a row index of 1.",
          "format": "int32",
          "type": "integer"
        },
        "columnIndex": {
          "format": "int32",
          "description": "The zero-based column index. For example, the second column in the table has a column index of 1.",
          "type": "integer"
        },
        "tableStartLocation": {
          "$ref": "Location",
          "description": "The location where the table starts in the document."
        }
      },
      "description": "Location of a single cell within a table.",
      "id": "TableCellLocation"
    },
    "ImagePropertiesSuggestionState": {
      "type": "object",
      "properties": {
        "sourceUriSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to source_uri."
        },
        "angleSuggested": {
          "description": "Indicates if there was a suggested change to angle.",
          "type": "boolean"
        },
        "cropPropertiesSuggestionState": {
          "description": "A mask that indicates which of the fields in crop_properties have been changed in this suggestion.",
          "$ref": "CropPropertiesSuggestionState"
        },
        "contentUriSuggested": {
          "description": "Indicates if there was a suggested change to content_uri.",
          "type": "boolean"
        },
        "brightnessSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to brightness."
        },
        "contrastSuggested": {
          "description": "Indicates if there was a suggested change to contrast.",
          "type": "boolean"
        },
        "transparencySuggested": {
          "description": "Indicates if there was a suggested change to transparency.",
          "type": "boolean"
        }
      },
      "id": "ImagePropertiesSuggestionState",
      "description": "A mask that indicates which of the fields on the base ImageProperties have been changed in this suggestion. For any field set to true, there's a new suggested value."
    },
    "Location": {
      "type": "object",
      "properties": {
        "index": {
          "format": "int32",
          "type": "integer",
          "description": "The zero-based index, in UTF-16 code units. The index is relative to the beginning of the segment specified by segment_id."
        },
        "segmentId": {
          "description": "The ID of the header, footer or footnote the location is in. An empty segment ID signifies the document's body.",
          "type": "string"
        },
        "tabId": {
          "description": "The tab that the location is in. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document.",
          "type": "string"
        }
      },
      "description": "A particular location in the document.",
      "id": "Location"
    },
    "Background": {
      "properties": {
        "color": {
          "$ref": "OptionalColor",
          "description": "The background color."
        }
      },
      "type": "object",
      "id": "Background",
      "description": "Represents the background of a document."
    },
    "Bullet": {
      "properties": {
        "textStyle": {
          "description": "The paragraph-specific text style applied to this bullet.",
          "$ref": "TextStyle"
        },
        "listId": {
          "type": "string",
          "description": "The ID of the list this paragraph belongs to."
        },
        "nestingLevel": {
          "format": "int32",
          "description": "The nesting level of this paragraph in the list.",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "Bullet",
      "description": "Describes the bullet of a paragraph."
    },
    "NestingLevelSuggestionState": {
      "id": "NestingLevelSuggestionState",
      "properties": {
        "startNumberSuggested": {
          "description": "Indicates if there was a suggested change to start_number.",
          "type": "boolean"
        },
        "bulletAlignmentSuggested": {
          "description": "Indicates if there was a suggested change to bullet_alignment.",
          "type": "boolean"
        },
        "glyphTypeSuggested": {
          "description": "Indicates if there was a suggested change to glyph_type.",
          "type": "boolean"
        },
        "glyphSymbolSuggested": {
          "description": "Indicates if there was a suggested change to glyph_symbol.",
          "type": "boolean"
        },
        "glyphFormatSuggested": {
          "description": "Indicates if there was a suggested change to glyph_format.",
          "type": "boolean"
        },
        "indentFirstLineSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to indent_first_line."
        },
        "textStyleSuggestionState": {
          "$ref": "TextStyleSuggestionState",
          "description": "A mask that indicates which of the fields in text style have been changed in this suggestion."
        },
        "indentStartSuggested": {
          "description": "Indicates if there was a suggested change to indent_start.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "A mask that indicates which of the fields on the base NestingLevel have been changed in this suggestion. For any field set to true, there's a new suggested value."
    },
    "ReplaceNamedRangeContentRequest": {
      "id": "ReplaceNamedRangeContentRequest",
      "properties": {
        "namedRangeName": {
          "type": "string",
          "description": "The name of the NamedRanges whose content will be replaced. If there are multiple named ranges with the given name, then the content of each one will be replaced. If there are no named ranges with the given name, then the request will be a no-op."
        },
        "text": {
          "type": "string",
          "description": "Replaces the content of the specified named range(s) with the given text."
        },
        "namedRangeId": {
          "description": "The ID of the named range whose content will be replaced. If there is no named range with the given ID a 400 bad request error is returned.",
          "type": "string"
        },
        "tabsCriteria": {
          "$ref": "TabsCriteria",
          "description": "Optional. The criteria used to specify in which tabs the replacement occurs. When omitted, the replacement applies to all tabs. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the replacement applies to the singular tab. In a document containing multiple tabs: - If provided, the replacement applies to the specified tabs. - If omitted, the replacement applies to all tabs."
        }
      },
      "description": "Replaces the contents of the specified NamedRange or NamedRanges with the given replacement content. Note that an individual NamedRange may consist of multiple discontinuous ranges. In this case, only the content in the first range will be replaced. The other ranges and their content will be deleted. In cases where replacing or deleting any ranges would result in an invalid document structure, a 400 bad request error is returned.",
      "type": "object"
    },
    "AddDocumentTabRequest": {
      "id": "AddDocumentTabRequest",
      "properties": {
        "tabProperties": {
          "$ref": "TabProperties",
          "description": "The properties of the tab to add. All properties are optional."
        }
      },
      "type": "object",
      "description": "Adds a document tab. When a tab is added at a given index, all subsequent tabs' indexes are incremented."
    },
    "DeleteContentRangeRequest": {
      "description": "Deletes content from the document.",
      "properties": {
        "range": {
          "$ref": "Range",
          "description": "The range of content to delete. Deleting text that crosses a paragraph boundary may result in changes to paragraph styles, lists, positioned objects and bookmarks as the two paragraphs are merged. Attempting to delete certain ranges can result in an invalid document structure in which case a 400 bad request error is returned. Some examples of invalid delete requests include: * Deleting one code unit of a surrogate pair. * Deleting the last newline character of a Body, Header, Footer, Footnote, TableCell or TableOfContents. * Deleting the start or end of a Table, TableOfContents or Equation without deleting the entire element. * Deleting the newline character before a Table, TableOfContents or SectionBreak without deleting the element. * Deleting individual rows or cells of a table. Deleting the content within a table cell is allowed."
        }
      },
      "type": "object",
      "id": "DeleteContentRangeRequest"
    },
    "NamedStyles": {
      "id": "NamedStyles",
      "properties": {
        "styles": {
          "type": "array",
          "description": "The named styles. There's an entry for each of the possible named style types.",
          "items": {
            "$ref": "NamedStyle"
          }
        }
      },
      "description": "The named styles. Paragraphs in the document can inherit their TextStyle and ParagraphStyle from these named styles.",
      "type": "object"
    },
    "ReplaceAllTextRequest": {
      "properties": {
        "tabsCriteria": {
          "$ref": "TabsCriteria",
          "description": "Optional. The criteria used to specify in which tabs the replacement occurs. When omitted, the replacement applies to all tabs. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the replacement applies to the singular tab. In a document containing multiple tabs: - If provided, the replacement applies to the specified tabs. - If omitted, the replacement applies to all tabs."
        },
        "containsText": {
          "description": "Finds text in the document matching this substring.",
          "$ref": "SubstringMatchCriteria"
        },
        "replaceText": {
          "type": "string",
          "description": "The text that will replace the matched text."
        }
      },
      "id": "ReplaceAllTextRequest",
      "type": "object",
      "description": "Replaces all instances of text matching a criteria with replace text."
    },
    "TableCellBorder": {
      "description": "A border around a table cell. Table cell borders cannot be transparent. To hide a table cell border, make its width 0.",
      "properties": {
        "color": {
          "$ref": "OptionalColor",
          "description": "The color of the border. This color cannot be transparent."
        },
        "width": {
          "description": "The width of the border.",
          "$ref": "Dimension"
        },
        "dashStyle": {
          "enum": [
            "DASH_STYLE_UNSPECIFIED",
            "SOLID",
            "DOT",
            "DASH"
          ],
          "enumDescriptions": [
            "Unspecified dash style.",
            "Solid line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'solid'. This is the default dash style.",
            "Dotted line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dot'.",
            "Dashed line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dash'."
          ],
          "type": "string",
          "description": "The dash style of the border."
        }
      },
      "type": "object",
      "id": "TableCellBorder"
    },
    "Equation": {
      "description": "A ParagraphElement representing an equation.",
      "type": "object",
      "properties": {
        "suggestedDeletionIds": {
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "suggestedInsertionIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The suggested insertion IDs. An Equation may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion."
        }
      },
      "id": "Equation"
    },
    "TabStop": {
      "properties": {
        "offset": {
          "$ref": "Dimension",
          "description": "The offset between this tab stop and the start margin."
        },
        "alignment": {
          "enum": [
            "TAB_STOP_ALIGNMENT_UNSPECIFIED",
            "START",
            "CENTER",
            "END"
          ],
          "enumDescriptions": [
            "The tab stop alignment is unspecified.",
            "The tab stop is aligned to the start of the line. This is the default.",
            "The tab stop is aligned to the center of the line.",
            "The tab stop is aligned to the end of the line."
          ],
          "description": "The alignment of this tab stop. If unset, the value defaults to START.",
          "type": "string"
        }
      },
      "id": "TabStop",
      "type": "object",
      "description": "A tab stop within a paragraph."
    },
    "TabsCriteria": {
      "type": "object",
      "properties": {
        "tabIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of tab IDs in which the request executes."
        }
      },
      "description": "A criteria that specifies in which tabs a request executes.",
      "id": "TabsCriteria"
    },
    "TableRowStyleSuggestionState": {
      "description": "A mask that indicates which of the fields on the base TableRowStyle have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "properties": {
        "minRowHeightSuggested": {
          "description": "Indicates if there was a suggested change to min_row_height.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "TableRowStyleSuggestionState"
    },
    "AddDocumentTabResponse": {
      "type": "object",
      "properties": {
        "tabProperties": {
          "$ref": "TabProperties",
          "description": "The properties of the newly added tab."
        }
      },
      "description": "The result of adding a document tab.",
      "id": "AddDocumentTabResponse"
    },
    "SuggestedBullet": {
      "type": "object",
      "description": "A suggested change to a Bullet.",
      "id": "SuggestedBullet",
      "properties": {
        "bullet": {
          "description": "A Bullet that only includes the changes made in this suggestion. This can be used along with the bullet_suggestion_state to see which fields have changed and their new values.",
          "$ref": "Bullet"
        },
        "bulletSuggestionState": {
          "$ref": "BulletSuggestionState",
          "description": "A mask that indicates which of the fields on the base Bullet have been changed in this suggestion."
        }
      }
    },
    "HeadingLink": {
      "description": "A reference to a heading in this document.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The ID of a heading in this document.",
          "type": "string"
        },
        "tabId": {
          "type": "string",
          "description": "The ID of the tab containing this heading."
        }
      },
      "id": "HeadingLink"
    },
    "TableColumnProperties": {
      "description": "The properties of a column in a table.",
      "type": "object",
      "id": "TableColumnProperties",
      "properties": {
        "widthType": {
          "type": "string",
          "enumDescriptions": [
            "The column width type is unspecified.",
            "The column width is evenly distributed among the other evenly distributed columns. The width of the column is automatically determined and will have an equal portion of the width remaining for the table after accounting for all columns with specified widths.",
            "A fixed column width. The width property contains the column's width."
          ],
          "enum": [
            "WIDTH_TYPE_UNSPECIFIED",
            "EVENLY_DISTRIBUTED",
            "FIXED_WIDTH"
          ],
          "description": "The width type of the column."
        },
        "width": {
          "$ref": "Dimension",
          "description": "The width of the column. Set when the column's `width_type` is FIXED_WIDTH."
        }
      }
    },
    "SuggestedTextStyle": {
      "id": "SuggestedTextStyle",
      "type": "object",
      "properties": {
        "textStyle": {
          "description": "A TextStyle that only includes the changes made in this suggestion. This can be used along with the text_style_suggestion_state to see which fields have changed and their new values.",
          "$ref": "TextStyle"
        },
        "textStyleSuggestionState": {
          "$ref": "TextStyleSuggestionState",
          "description": "A mask that indicates which of the fields on the base TextStyle have been changed in this suggestion."
        }
      },
      "description": "A suggested change to a TextStyle."
    },
    "NamedStyle": {
      "type": "object",
      "description": "A named style. Paragraphs in the document can inherit their TextStyle and ParagraphStyle from this named style when they have the same named style type.",
      "properties": {
        "namedStyleType": {
          "description": "The type of this named style.",
          "type": "string",
          "enumDescriptions": [
            "The type of named style is unspecified.",
            "Normal text.",
            "Title.",
            "Subtitle.",
            "Heading 1.",
            "Heading 2.",
            "Heading 3.",
            "Heading 4.",
            "Heading 5.",
            "Heading 6."
          ],
          "enum": [
            "NAMED_STYLE_TYPE_UNSPECIFIED",
            "NORMAL_TEXT",
            "TITLE",
            "SUBTITLE",
            "HEADING_1",
            "HEADING_2",
            "HEADING_3",
            "HEADING_4",
            "HEADING_5",
            "HEADING_6"
          ]
        },
        "paragraphStyle": {
          "description": "The paragraph style of this named style.",
          "$ref": "ParagraphStyle"
        },
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The text style of this named style."
        }
      },
      "id": "NamedStyle"
    },
    "Paragraph": {
      "type": "object",
      "id": "Paragraph",
      "description": "A StructuralElement representing a paragraph. A paragraph is a range of content that's terminated with a newline character.",
      "properties": {
        "suggestedPositionedObjectIds": {
          "type": "object",
          "additionalProperties": {
            "$ref": "ObjectReferences"
          },
          "description": "The IDs of the positioned objects suggested to be attached to this paragraph, keyed by suggestion ID."
        },
        "suggestedParagraphStyleChanges": {
          "type": "object",
          "additionalProperties": {
            "$ref": "SuggestedParagraphStyle"
          },
          "description": "The suggested paragraph style changes to this paragraph, keyed by suggestion ID."
        },
        "bullet": {
          "description": "The bullet for this paragraph. If not present, the paragraph does not belong to a list.",
          "$ref": "Bullet"
        },
        "paragraphStyle": {
          "$ref": "ParagraphStyle",
          "description": "The style of this paragraph."
        },
        "positionedObjectIds": {
          "description": "The IDs of the positioned objects tethered to this paragraph.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "suggestedBulletChanges": {
          "additionalProperties": {
            "$ref": "SuggestedBullet"
          },
          "description": "The suggested changes to this paragraph's bullet.",
          "type": "object"
        },
        "elements": {
          "description": "The content of the paragraph, broken down into its component parts.",
          "type": "array",
          "items": {
            "$ref": "ParagraphElement"
          }
        }
      }
    },
    "InsertDateRequest": {
      "id": "InsertDateRequest",
      "description": "Inserts a date at the specified location.",
      "type": "object",
      "properties": {
        "endOfSegmentLocation": {
          "$ref": "EndOfSegmentLocation",
          "description": "Inserts the date at the end of the given header, footer or document body."
        },
        "location": {
          "$ref": "Location",
          "description": "Inserts the date at a specific index in the document. The date must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between an existing table and its preceding paragraph)."
        },
        "dateElementProperties": {
          "description": "The properties of the date to insert.",
          "$ref": "DateElementProperties"
        }
      }
    },
    "CreateNamedRangeRequest": {
      "id": "CreateNamedRangeRequest",
      "properties": {
        "name": {
          "description": "The name of the NamedRange. Names do not need to be unique. Names must be at least 1 character and no more than 256 characters, measured in UTF-16 code units.",
          "type": "string"
        },
        "range": {
          "description": "The range to apply the name to.",
          "$ref": "Range"
        }
      },
      "type": "object",
      "description": "Creates a NamedRange referencing the given range."
    },
    "CreateHeaderRequest": {
      "id": "CreateHeaderRequest",
      "properties": {
        "type": {
          "description": "The type of header to create.",
          "enum": [
            "HEADER_FOOTER_TYPE_UNSPECIFIED",
            "DEFAULT"
          ],
          "enumDescriptions": [
            "The header/footer type is unspecified.",
            "A default header/footer."
          ],
          "type": "string"
        },
        "sectionBreakLocation": {
          "$ref": "Location",
          "description": "The location of the SectionBreak which begins the section this header should belong to. If `section_break_location' is unset or if it refers to the first section break in the document body, the header applies to the DocumentStyle"
        }
      },
      "type": "object",
      "description": "Creates a Header. The new header is applied to the SectionStyle at the location of the SectionBreak if specified, otherwise it is applied to the DocumentStyle. If a header of the specified type already exists, a 400 bad request error is returned."
    },
    "PositionedObjectProperties": {
      "type": "object",
      "description": "Properties of a PositionedObject.",
      "id": "PositionedObjectProperties",
      "properties": {
        "positioning": {
          "description": "The positioning of this positioned object relative to the newline of the Paragraph that references this positioned object.",
          "$ref": "PositionedObjectPositioning"
        },
        "embeddedObject": {
          "description": "The embedded object of this positioned object.",
          "$ref": "EmbeddedObject"
        }
      }
    },
    "DocumentTab": {
      "description": "A tab with document contents.",
      "id": "DocumentTab",
      "type": "object",
      "properties": {
        "footers": {
          "description": "The footers in the document tab, keyed by footer ID.",
          "additionalProperties": {
            "$ref": "Footer"
          },
          "type": "object"
        },
        "lists": {
          "type": "object",
          "description": "The lists in the document tab, keyed by list ID.",
          "additionalProperties": {
            "$ref": "List"
          }
        },
        "inlineObjects": {
          "type": "object",
          "description": "The inline objects in the document tab, keyed by object ID.",
          "additionalProperties": {
            "$ref": "InlineObject"
          }
        },
        "footnotes": {
          "description": "The footnotes in the document tab, keyed by footnote ID.",
          "type": "object",
          "additionalProperties": {
            "$ref": "Footnote"
          }
        },
        "headers": {
          "description": "The headers in the document tab, keyed by header ID.",
          "type": "object",
          "additionalProperties": {
            "$ref": "Header"
          }
        },
        "body": {
          "$ref": "Body",
          "description": "The main body of the document tab."
        },
        "documentStyle": {
          "description": "The style of the document tab.",
          "$ref": "DocumentStyle"
        },
        "suggestedDocumentStyleChanges": {
          "description": "The suggested changes to the style of the document tab, keyed by suggestion ID.",
          "additionalProperties": {
            "$ref": "SuggestedDocumentStyle"
          },
          "type": "object"
        },
        "positionedObjects": {
          "description": "The positioned objects in the document tab, keyed by object ID.",
          "additionalProperties": {
            "$ref": "PositionedObject"
          },
          "type": "object"
        },
        "namedStyles": {
          "description": "The named styles of the document tab.",
          "$ref": "NamedStyles"
        },
        "namedRanges": {
          "description": "The named ranges in the document tab, keyed by name.",
          "type": "object",
          "additionalProperties": {
            "$ref": "NamedRanges"
          }
        },
        "suggestedNamedStylesChanges": {
          "type": "object",
          "additionalProperties": {
            "$ref": "SuggestedNamedStyles"
          },
          "description": "The suggested changes to the named styles of the document tab, keyed by suggestion ID."
        }
      }
    },
    "NamedRange": {
      "type": "object",
      "id": "NamedRange",
      "properties": {
        "name": {
          "description": "The name of the named range.",
          "type": "string"
        },
        "namedRangeId": {
          "type": "string",
          "description": "The ID of the named range."
        },
        "ranges": {
          "items": {
            "$ref": "Range"
          },
          "description": "The ranges that belong to this named range.",
          "type": "array"
        }
      },
      "description": "A collection of Ranges with the same named range ID. Named ranges allow developers to associate parts of a document with an arbitrary user-defined label so their contents can be programmatically read or edited later. A document can contain multiple named ranges with the same name, but every named range has a unique ID. A named range is created with a single Range, and content inserted inside a named range generally expands that range. However, certain document changes can cause the range to be split into multiple ranges. Named ranges are not private. All applications and collaborators that have access to the document can see its named ranges."
    },
    "DocumentFormat": {
      "description": "Represents document-level format settings.",
      "properties": {
        "documentMode": {
          "enumDescriptions": [
            "The document mode is unspecified.",
            "The document has pages.",
            "The document is pageless."
          ],
          "description": "Whether the document has pages or is pageless.",
          "type": "string",
          "enum": [
            "DOCUMENT_MODE_UNSPECIFIED",
            "PAGES",
            "PAGELESS"
          ]
        }
      },
      "type": "object",
      "id": "DocumentFormat"
    },
    "CropPropertiesSuggestionState": {
      "description": "A mask that indicates which of the fields on the base CropProperties have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "properties": {
        "offsetBottomSuggested": {
          "description": "Indicates if there was a suggested change to offset_bottom.",
          "type": "boolean"
        },
        "offsetLeftSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to offset_left."
        },
        "offsetRightSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to offset_right."
        },
        "angleSuggested": {
          "description": "Indicates if there was a suggested change to angle.",
          "type": "boolean"
        },
        "offsetTopSuggested": {
          "description": "Indicates if there was a suggested change to offset_top.",
          "type": "boolean"
        }
      },
      "id": "CropPropertiesSuggestionState",
      "type": "object"
    },
    "InsertPageBreakRequest": {
      "description": "Inserts a page break followed by a newline at the specified location.",
      "properties": {
        "location": {
          "$ref": "Location",
          "description": "Inserts the page break at a specific index in the document. The page break must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between the table and its preceding paragraph). Page breaks cannot be inserted inside a table, equation, footnote, header or footer. Since page breaks can only be inserted inside the body, the segment ID field must be empty."
        },
        "endOfSegmentLocation": {
          "description": "Inserts the page break at the end of the document body. Page breaks cannot be inserted inside a footnote, header or footer. Since page breaks can only be inserted inside the body, the segment ID field must be empty.",
          "$ref": "EndOfSegmentLocation"
        }
      },
      "type": "object",
      "id": "InsertPageBreakRequest"
    },
    "WeightedFontFamily": {
      "type": "object",
      "description": "Represents a font family and weight of text.",
      "properties": {
        "fontFamily": {
          "description": "The font family of the text. The font family can be any font from the Font menu in Docs or from [Google Fonts] (https://fonts.google.com/). If the font name is unrecognized, the text is rendered in `Arial`.",
          "type": "string"
        },
        "weight": {
          "format": "int32",
          "description": "The weight of the font. This field can have any value that's a multiple of `100` between `100` and `900`, inclusive. This range corresponds to the numerical values described in the CSS 2.1 Specification, [section 15.6](https://www.w3.org/TR/CSS21/fonts.html#font-boldness), with non-numerical values disallowed. The default value is `400` (\"normal\"). The font weight makes up just one component of the rendered font weight. A combination of the `weight` and the text style's resolved `bold` value determine the rendered weight, after accounting for inheritance: * If the text is bold and the weight is less than `400`, the rendered weight is 400. * If the text is bold and the weight is greater than or equal to `400` but is less than `700`, the rendered weight is `700`. * If the weight is greater than or equal to `700`, the rendered weight is equal to the weight. * If the text is not bold, the rendered weight is equal to the weight.",
          "type": "integer"
        }
      },
      "id": "WeightedFontFamily"
    },
    "BookmarkLink": {
      "properties": {
        "tabId": {
          "description": "The ID of the tab containing this bookmark.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The ID of a bookmark in this document."
        }
      },
      "id": "BookmarkLink",
      "description": "A reference to a bookmark in this document.",
      "type": "object"
    },
    "InsertSectionBreakRequest": {
      "description": "Inserts a section break at the given location. A newline character will be inserted before the section break.",
      "id": "InsertSectionBreakRequest",
      "properties": {
        "endOfSegmentLocation": {
          "description": "Inserts a newline and a section break at the end of the document body. Section breaks cannot be inserted inside a footnote, header or footer. Because section breaks can only be inserted inside the body, the segment ID field must be empty.",
          "$ref": "EndOfSegmentLocation"
        },
        "sectionType": {
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "CONTINUOUS",
            "NEXT_PAGE"
          ],
          "type": "string",
          "enumDescriptions": [
            "The section type is unspecified.",
            "The section starts immediately after the last paragraph of the previous section.",
            "The section starts on the next page."
          ],
          "description": "The type of section to insert."
        },
        "location": {
          "description": "Inserts a newline and a section break at a specific index in the document. The section break must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between the table and its preceding paragraph). Section breaks cannot be inserted inside a table, equation, footnote, header, or footer. Since section breaks can only be inserted inside the body, the segment ID field must be empty.",
          "$ref": "Location"
        }
      },
      "type": "object"
    },
    "InsertTextRequest": {
      "type": "object",
      "id": "InsertTextRequest",
      "description": "Inserts text at the specified location.",
      "properties": {
        "endOfSegmentLocation": {
          "$ref": "EndOfSegmentLocation",
          "description": "Inserts the text at the end of a header, footer, footnote or the document body."
        },
        "text": {
          "description": "The text to be inserted. Inserting a newline character will implicitly create a new Paragraph at that index. The paragraph style of the new paragraph will be copied from the paragraph at the current insertion index, including lists and bullets. Text styles for inserted text will be determined automatically, generally preserving the styling of neighboring text. In most cases, the text style for the inserted text will match the text immediately before the insertion index. Some control characters (U+0000-U+0008, U+000C-U+001F) and characters from the Unicode Basic Multilingual Plane Private Use Area (U+E000-U+F8FF) will be stripped out of the inserted text.",
          "type": "string"
        },
        "location": {
          "$ref": "Location",
          "description": "Inserts the text at a specific index in the document. Text must be inserted inside the bounds of an existing Paragraph. For instance, text cannot be inserted at a table's start index (i.e. between the table and its preceding paragraph). The text must be inserted in the preceding paragraph."
        }
      }
    },
    "Size": {
      "type": "object",
      "description": "A width and height.",
      "properties": {
        "height": {
          "$ref": "Dimension",
          "description": "The height of the object."
        },
        "width": {
          "$ref": "Dimension",
          "description": "The width of the object."
        }
      },
      "id": "Size"
    },
    "OptionalColor": {
      "id": "OptionalColor",
      "description": "A color that can either be fully opaque or fully transparent.",
      "properties": {
        "color": {
          "description": "If set, this will be used as an opaque color. If unset, this represents a transparent color.",
          "$ref": "Color"
        }
      },
      "type": "object"
    },
    "CreateFootnoteResponse": {
      "id": "CreateFootnoteResponse",
      "properties": {
        "footnoteId": {
          "description": "The ID of the created footnote.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The result of creating a footnote."
    },
    "InsertTableColumnRequest": {
      "id": "InsertTableColumnRequest",
      "type": "object",
      "properties": {
        "insertRight": {
          "type": "boolean",
          "description": "Whether to insert new column to the right of the reference cell location. - `True`: insert to the right. - `False`: insert to the left."
        },
        "tableCellLocation": {
          "description": "The reference table cell location from which columns will be inserted. A new column will be inserted to the left (or right) of the column where the reference cell is. If the reference cell is a merged cell, a new column will be inserted to the left (or right) of the merged cell.",
          "$ref": "TableCellLocation"
        }
      },
      "description": "Inserts an empty column into a table."
    },
    "BatchUpdateDocumentResponse": {
      "type": "object",
      "properties": {
        "documentId": {
          "type": "string",
          "description": "The ID of the document to which the updates were applied to."
        },
        "replies": {
          "items": {
            "$ref": "Response"
          },
          "type": "array",
          "description": "The reply of the updates. This maps 1:1 with the updates, although replies to some requests may be empty."
        },
        "writeControl": {
          "$ref": "WriteControl",
          "description": "The updated write control after applying the request."
        }
      },
      "id": "BatchUpdateDocumentResponse",
      "description": "Response message from a BatchUpdateDocument request."
    },
    "SuggestedNamedStyles": {
      "description": "A suggested change to the NamedStyles.",
      "type": "object",
      "id": "SuggestedNamedStyles",
      "properties": {
        "namedStyles": {
          "description": "A NamedStyles that only includes the changes made in this suggestion. This can be used along with the named_styles_suggestion_state to see which fields have changed and their new values.",
          "$ref": "NamedStyles"
        },
        "namedStylesSuggestionState": {
          "description": "A mask that indicates which of the fields on the base NamedStyles have been changed in this suggestion.",
          "$ref": "NamedStylesSuggestionState"
        }
      }
    },
    "DeleteNamedRangeRequest": {
      "description": "Deletes a NamedRange.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the range(s) to delete. All named ranges with the given name will be deleted."
        },
        "namedRangeId": {
          "type": "string",
          "description": "The ID of the named range to delete."
        },
        "tabsCriteria": {
          "description": "Optional. The criteria used to specify which tab(s) the range deletion should occur in. When omitted, the range deletion is applied to all tabs. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the range deletion applies to the singular tab. In a document containing multiple tabs: - If provided, the range deletion applies to the specified tabs. - If not provided, the range deletion applies to all tabs.",
          "$ref": "TabsCriteria"
        }
      },
      "type": "object",
      "id": "DeleteNamedRangeRequest"
    },
    "CreateFootnoteRequest": {
      "description": "Creates a Footnote segment and inserts a new FootnoteReference to it at the given location. The new Footnote segment will contain a space followed by a newline character.",
      "properties": {
        "endOfSegmentLocation": {
          "$ref": "EndOfSegmentLocation",
          "description": "Inserts the footnote reference at the end of the document body. Footnote references cannot be inserted inside a header, footer or footnote. Since footnote references can only be inserted in the body, the segment ID field must be empty."
        },
        "location": {
          "description": "Inserts the footnote reference at a specific index in the document. The footnote reference must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between the table and its preceding paragraph). Footnote references cannot be inserted inside an equation, header, footer or footnote. Since footnote references can only be inserted in the body, the segment ID field must be empty.",
          "$ref": "Location"
        }
      },
      "type": "object",
      "id": "CreateFootnoteRequest"
    },
    "EmbeddedObject": {
      "properties": {
        "embeddedObjectBorder": {
          "$ref": "EmbeddedObjectBorder",
          "description": "The border of the embedded object."
        },
        "size": {
          "$ref": "Size",
          "description": "The visible size of the image after cropping."
        },
        "marginLeft": {
          "description": "The left margin of the embedded object.",
          "$ref": "Dimension"
        },
        "marginBottom": {
          "$ref": "Dimension",
          "description": "The bottom margin of the embedded object."
        },
        "embeddedDrawingProperties": {
          "description": "The properties of an embedded drawing.",
          "$ref": "EmbeddedDrawingProperties"
        },
        "marginTop": {
          "description": "The top margin of the embedded object.",
          "$ref": "Dimension"
        },
        "marginRight": {
          "$ref": "Dimension",
          "description": "The right margin of the embedded object."
        },
        "title": {
          "description": "The title of the embedded object. The `title` and `description` are both combined to display alt text.",
          "type": "string"
        },
        "linkedContentReference": {
          "description": "A reference to the external linked source content. For example, it contains a reference to the source Google Sheets chart when the embedded object is a linked chart. If unset, then the embedded object is not linked.",
          "$ref": "LinkedContentReference"
        },
        "description": {
          "description": "The description of the embedded object. The `title` and `description` are both combined to display alt text.",
          "type": "string"
        },
        "imageProperties": {
          "$ref": "ImageProperties",
          "description": "The properties of an image."
        }
      },
      "description": "An embedded object in the document.",
      "id": "EmbeddedObject",
      "type": "object"
    },
    "DeleteTabRequest": {
      "description": "Deletes a tab. If the tab has child tabs, they are deleted as well.",
      "type": "object",
      "id": "DeleteTabRequest",
      "properties": {
        "tabId": {
          "type": "string",
          "description": "The ID of the tab to delete."
        }
      }
    },
    "DeleteFooterRequest": {
      "id": "DeleteFooterRequest",
      "type": "object",
      "description": "Deletes a Footer from the document.",
      "properties": {
        "tabId": {
          "type": "string",
          "description": "The tab that contains the footer to delete. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document."
        },
        "footerId": {
          "description": "The id of the footer to delete. If this footer is defined on DocumentStyle, the reference to this footer is removed, resulting in no footer of that type for the first section of the document. If this footer is defined on a SectionStyle, the reference to this footer is removed and the footer of that type is now continued from the previous section.",
          "type": "string"
        }
      }
    },
    "InsertInlineImageResponse": {
      "description": "The result of inserting an inline image.",
      "properties": {
        "objectId": {
          "description": "The ID of the created InlineObject.",
          "type": "string"
        }
      },
      "id": "InsertInlineImageResponse",
      "type": "object"
    },
    "FootnoteReference": {
      "type": "object",
      "properties": {
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The text style of this FootnoteReference."
        },
        "suggestedDeletionIds": {
          "type": "array",
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "items": {
            "type": "string"
          }
        },
        "suggestedTextStyleChanges": {
          "description": "The suggested text style changes to this FootnoteReference, keyed by suggestion ID.",
          "type": "object",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          }
        },
        "footnoteId": {
          "description": "The ID of the footnote that contains the content of this footnote reference.",
          "type": "string"
        },
        "suggestedInsertionIds": {
          "items": {
            "type": "string"
          },
          "description": "The suggested insertion IDs. A FootnoteReference may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.",
          "type": "array"
        },
        "footnoteNumber": {
          "type": "string",
          "description": "The rendered number of this footnote."
        }
      },
      "id": "FootnoteReference",
      "description": "A ParagraphElement representing a footnote reference. A footnote reference is the inline content rendered with a number and is used to identify the footnote."
    },
    "SheetsChartReferenceSuggestionState": {
      "properties": {
        "spreadsheetIdSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to spreadsheet_id."
        },
        "chartIdSuggested": {
          "description": "Indicates if there was a suggested change to chart_id.",
          "type": "boolean"
        }
      },
      "description": "A mask that indicates which of the fields on the base SheetsChartReference have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "id": "SheetsChartReferenceSuggestionState",
      "type": "object"
    },
    "Dimension": {
      "id": "Dimension",
      "description": "A magnitude in a single direction in the specified units.",
      "type": "object",
      "properties": {
        "unit": {
          "enumDescriptions": [
            "The units are unknown.",
            "A point, 1/72 of an inch."
          ],
          "type": "string",
          "description": "The units for magnitude.",
          "enum": [
            "UNIT_UNSPECIFIED",
            "PT"
          ]
        },
        "magnitude": {
          "format": "double",
          "type": "number",
          "description": "The magnitude."
        }
      }
    },
    "LinkedContentReferenceSuggestionState": {
      "id": "LinkedContentReferenceSuggestionState",
      "type": "object",
      "properties": {
        "sheetsChartReferenceSuggestionState": {
          "$ref": "SheetsChartReferenceSuggestionState",
          "description": "A mask that indicates which of the fields in sheets_chart_reference have been changed in this suggestion."
        }
      },
      "description": "A mask that indicates which of the fields on the base LinkedContentReference have been changed in this suggestion. For any field set to true, there's a new suggested value."
    },
    "ColumnBreak": {
      "description": "A ParagraphElement representing a column break. A column break makes the subsequent text start at the top of the next column.",
      "id": "ColumnBreak",
      "properties": {
        "suggestedTextStyleChanges": {
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "type": "object",
          "description": "The suggested text style changes to this ColumnBreak, keyed by suggestion ID."
        },
        "textStyle": {
          "description": "The text style of this ColumnBreak. Similar to text content, like text runs and footnote references, the text style of a column break can affect content layout as well as the styling of text inserted next to it.",
          "$ref": "TextStyle"
        },
        "suggestedDeletionIds": {
          "items": {
            "type": "string"
          },
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "type": "array"
        },
        "suggestedInsertionIds": {
          "description": "The suggested insertion IDs. A ColumnBreak may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "Tab": {
      "type": "object",
      "properties": {
        "childTabs": {
          "type": "array",
          "items": {
            "$ref": "Tab"
          },
          "description": "The child tabs nested within this tab."
        },
        "documentTab": {
          "description": "A tab with document contents, like text and images.",
          "$ref": "DocumentTab"
        },
        "tabProperties": {
          "$ref": "TabProperties",
          "description": "The properties of the tab, like ID and title."
        }
      },
      "id": "Tab",
      "description": "A tab in a document."
    },
    "UpdateDocumentTabPropertiesRequest": {
      "id": "UpdateDocumentTabPropertiesRequest",
      "type": "object",
      "properties": {
        "tabProperties": {
          "description": "The tab properties to update.",
          "$ref": "TabProperties"
        },
        "fields": {
          "description": "The fields that should be updated. At least one field must be specified. The root `tab_properties` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field.",
          "type": "string",
          "format": "google-fieldmask"
        }
      },
      "description": "Update the properties of a document tab."
    },
    "MergeTableCellsRequest": {
      "id": "MergeTableCellsRequest",
      "description": "Merges cells in a Table.",
      "type": "object",
      "properties": {
        "tableRange": {
          "$ref": "TableRange",
          "description": "The table range specifying which cells of the table to merge. Any text in the cells being merged will be concatenated and stored in the \"head\" cell of the range. This is the upper-left cell of the range when the content direction is left to right, and the upper-right cell of the range otherwise. If the range is non-rectangular (which can occur in some cases where the range covers cells that are already merged or where the table is non-rectangular), a 400 bad request error is returned."
        }
      }
    },
    "InsertInlineImageRequest": {
      "type": "object",
      "description": "Inserts an InlineObject containing an image at the given location.",
      "id": "InsertInlineImageRequest",
      "properties": {
        "uri": {
          "description": "The image URI. The image is fetched once at insertion time and a copy is stored for display inside the document. Images must be less than 50MB in size, cannot exceed 25 megapixels, and must be in one of PNG, JPEG, or GIF format. The provided URI must be publicly accessible and at most 2 kB in length. The URI itself is saved with the image, and exposed via the ImageProperties.content_uri field.",
          "type": "string"
        },
        "endOfSegmentLocation": {
          "$ref": "EndOfSegmentLocation",
          "description": "Inserts the text at the end of a header, footer or the document body. Inline images cannot be inserted inside a footnote."
        },
        "objectSize": {
          "description": "The size that the image should appear as in the document. This property is optional and the final size of the image in the document is determined by the following rules: * If neither width nor height is specified, then a default size of the image is calculated based on its resolution. * If one dimension is specified then the other dimension is calculated to preserve the aspect ratio of the image. * If both width and height are specified, the image is scaled to fit within the provided dimensions while maintaining its aspect ratio.",
          "$ref": "Size"
        },
        "location": {
          "$ref": "Location",
          "description": "Inserts the image at a specific index in the document. The image must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between the table and its preceding paragraph). Inline images cannot be inserted inside a footnote or equation."
        }
      }
    },
    "PersonProperties": {
      "description": "Properties specific to a linked Person.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the person if it's displayed in the link text instead of the person's email address."
        },
        "email": {
          "description": "The email address linked to this Person. This field is always present.",
          "type": "string"
        }
      },
      "id": "PersonProperties"
    },
    "SuggestedParagraphStyle": {
      "type": "object",
      "id": "SuggestedParagraphStyle",
      "properties": {
        "paragraphStyle": {
          "$ref": "ParagraphStyle",
          "description": "A ParagraphStyle that only includes the changes made in this suggestion. This can be used along with the paragraph_style_suggestion_state to see which fields have changed and their new values."
        },
        "paragraphStyleSuggestionState": {
          "$ref": "ParagraphStyleSuggestionState",
          "description": "A mask that indicates which of the fields on the base ParagraphStyle have been changed in this suggestion."
        }
      },
      "description": "A suggested change to a ParagraphStyle."
    },
    "ObjectReferences": {
      "properties": {
        "objectIds": {
          "type": "array",
          "description": "The object IDs.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "A collection of object IDs.",
      "type": "object",
      "id": "ObjectReferences"
    },
    "EmbeddedObjectSuggestionState": {
      "description": "A mask that indicates which of the fields on the base EmbeddedObject have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "properties": {
        "embeddedDrawingPropertiesSuggestionState": {
          "$ref": "EmbeddedDrawingPropertiesSuggestionState",
          "description": "A mask that indicates which of the fields in embedded_drawing_properties have been changed in this suggestion."
        },
        "marginRightSuggested": {
          "description": "Indicates if there was a suggested change to margin_right.",
          "type": "boolean"
        },
        "titleSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to title."
        },
        "linkedContentReferenceSuggestionState": {
          "description": "A mask that indicates which of the fields in linked_content_reference have been changed in this suggestion.",
          "$ref": "LinkedContentReferenceSuggestionState"
        },
        "descriptionSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to description."
        },
        "embeddedObjectBorderSuggestionState": {
          "$ref": "EmbeddedObjectBorderSuggestionState",
          "description": "A mask that indicates which of the fields in embedded_object_border have been changed in this suggestion."
        },
        "marginTopSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to margin_top."
        },
        "imagePropertiesSuggestionState": {
          "description": "A mask that indicates which of the fields in image_properties have been changed in this suggestion.",
          "$ref": "ImagePropertiesSuggestionState"
        },
        "sizeSuggestionState": {
          "description": "A mask that indicates which of the fields in size have been changed in this suggestion.",
          "$ref": "SizeSuggestionState"
        },
        "marginLeftSuggested": {
          "description": "Indicates if there was a suggested change to margin_left.",
          "type": "boolean"
        },
        "marginBottomSuggested": {
          "description": "Indicates if there was a suggested change to margin_bottom.",
          "type": "boolean"
        }
      },
      "id": "EmbeddedObjectSuggestionState",
      "type": "object"
    },
    "SuggestedDocumentStyle": {
      "type": "object",
      "properties": {
        "documentStyleSuggestionState": {
          "description": "A mask that indicates which of the fields on the base DocumentStyle have been changed in this suggestion.",
          "$ref": "DocumentStyleSuggestionState"
        },
        "documentStyle": {
          "$ref": "DocumentStyle",
          "description": "A DocumentStyle that only includes the changes made in this suggestion. This can be used along with the document_style_suggestion_state to see which fields have changed and their new values."
        }
      },
      "id": "SuggestedDocumentStyle",
      "description": "A suggested change to the DocumentStyle."
    },
    "NamedStyleSuggestionState": {
      "properties": {
        "paragraphStyleSuggestionState": {
[...]
