{
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://documentai.googleapis.com/",
  "endpoints": [
    {
      "endpointUrl": "https://documentai.us.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://documentai.eu.rep.googleapis.com/",
      "location": "eu"
    },
    {
      "endpointUrl": "https://documentai.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south1"
    },
    {
      "location": "asia-southeast1",
      "endpointUrl": "https://documentai.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "northamerica-northeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://documentai.northamerica-northeast1.rep.googleapis.com/"
    },
    {
      "location": "australia-southeast1",
      "endpointUrl": "https://documentai.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://documentai.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west2"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west3",
      "endpointUrl": "https://documentai.europe-west3.rep.googleapis.com/"
    }
  ],
  "name": "documentai",
  "batchPath": "batch",
  "documentationLink": "https://cloud.google.com/document-ai/docs/",
  "discoveryVersion": "v1",
  "parameters": {
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string",
      "description": "Data format for response.",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "GoogleCloudDocumentaiV1TrainProcessorVersionMetadataDatasetValidation": {
      "properties": {
        "documentErrors": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "Error information pertaining to specific documents. A maximum of 10 document errors will be returned. Any document with errors will not be used throughout training.",
          "type": "array"
        },
        "documentErrorCount": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of document errors."
        },
        "datasetErrors": {
          "description": "Error information for the dataset as a whole. A maximum of 10 dataset errors will be returned. A single dataset error is terminal for training.",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        },
        "datasetErrorCount": {
          "format": "int32",
          "description": "The total number of dataset errors.",
          "type": "integer"
        }
      },
      "id": "GoogleCloudDocumentaiV1TrainProcessorVersionMetadataDatasetValidation",
      "type": "object",
      "description": "The dataset validation information. This includes any and all errors with documents and the dataset."
    },
    "GoogleCloudDocumentaiV1DeployProcessorVersionResponse": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDocumentaiV1DeployProcessorVersionResponse",
      "description": "Response message for the DeployProcessorVersion method."
    },
    "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleEntityAlignmentRule": {
      "properties": {
        "fields": {
          "description": "The fields to be aligned.",
          "type": "array",
          "items": {
            "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleField"
          }
        },
        "alignmentRule": {
          "description": "The alignment rule to apply to the fields.",
          "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleAlignmentRule"
        }
      },
      "type": "object",
      "id": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleEntityAlignmentRule",
      "description": "A rule that aligns specified fields with each other."
    },
    "GoogleCloudDocumentaiV1beta3DocumentPageAnchor": {
      "properties": {
        "pageRefs": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageAnchorPageRef"
          },
          "type": "array",
          "description": "One or more references to visual page elements"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DocumentPageAnchor",
      "description": "Referencing the visual context of the entity in the Document.pages. Page anchors can be cross-page, consist of multiple bounding polygons and optionally reference specific layout element types.",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3TrainProcessorVersionMetadata": {
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        },
        "testDatasetValidation": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3TrainProcessorVersionMetadataDatasetValidation",
          "description": "The test dataset validation information."
        },
        "trainingDatasetValidation": {
          "description": "The training dataset validation information.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3TrainProcessorVersionMetadataDatasetValidation"
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3TrainProcessorVersionMetadata",
      "description": "The metadata that represents a processor version being created.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3DocumentTextChange": {
      "description": "This message is used for text changes aka. OCR corrections.",
      "properties": {
        "changedText": {
          "description": "The text that replaces the text identified in the `text_anchor`.",
          "type": "string"
        },
        "provenance": {
          "description": "The history of this annotation.",
          "type": "array",
          "deprecated": true,
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentProvenance"
          }
        },
        "textAnchor": {
          "description": "Provenance of the correction. Text anchor indexing into the Document.text. There can only be a single `TextAnchor.text_segments` element. If the start and end index of the text segment are the same, the text change is inserted before that index.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentTextAnchor"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DocumentTextChange",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3BatchDatasetDocuments": {
      "description": "Dataset documents that the batch operation will be applied to.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3BatchDatasetDocuments",
      "properties": {
        "filter": {
          "description": "A filter matching the documents. Follows the same format and restriction as [google.cloud.documentai.master.ListDocumentsRequest.filter].",
          "type": "string"
        },
        "individualDocumentIds": {
          "description": "Document identifiers.",
          "$ref": "GoogleCloudDocumentaiV1beta3BatchDatasetDocumentsIndividualDocumentIds"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3ListSchemasResponse": {
      "id": "GoogleCloudDocumentaiV1beta3ListSchemasResponse",
      "description": "Response message for ListSchemas.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Points to the next Schema, otherwise empty.",
          "type": "string"
        },
        "schemas": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3NextSchema"
          },
          "type": "array",
          "description": "The list of Schemas."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3DocumentId": {
      "id": "GoogleCloudDocumentaiV1beta3DocumentId",
      "type": "object",
      "properties": {
        "revisionRef": {
          "description": "Points to a specific revision of the document if set.",
          "$ref": "GoogleCloudDocumentaiV1beta3RevisionRef"
        },
        "unmanagedDocId": {
          "description": "A document ID within unmanaged dataset.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentIdUnmanagedDocumentId"
        },
        "gcsManagedDocId": {
          "description": "A document ID within user-managed Cloud Storage.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentIdGCSManagedDocumentId"
        }
      },
      "description": "Document Identifier."
    },
    "GoogleCloudDocumentaiV1beta3DocumentDocumentLayoutDocumentLayoutBlockLayoutTableRow": {
      "id": "GoogleCloudDocumentaiV1beta3DocumentDocumentLayoutDocumentLayoutBlockLayoutTableRow",
      "description": "Represents a row in a table.",
      "properties": {
        "cells": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentDocumentLayoutDocumentLayoutBlockLayoutTableCell"
          },
          "description": "A table row is a list of table cells."
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3DocumentIdGCSManagedDocumentId": {
      "description": "Identifies a document uniquely within the scope of a dataset in the user-managed Cloud Storage option.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3DocumentIdGCSManagedDocumentId",
      "properties": {
        "gcsUri": {
          "type": "string",
          "description": "Required. The Cloud Storage URI where the actual document is stored."
        },
        "cwDocId": {
          "type": "string",
          "description": "ID of the document (indexed) managed by Content Warehouse.",
          "deprecated": true
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3DocumentDocumentLayoutDocumentLayoutBlockLayoutListBlock": {
      "properties": {
        "listEntries": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentDocumentLayoutDocumentLayoutBlockLayoutListEntry"
          },
          "description": "List entries that constitute a list block."
        },
        "type": {
          "type": "string",
          "description": "Type of the list_entries (if exist). Available options are `ordered` and `unordered`."
        }
      },
      "description": "Represents a list type block.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3DocumentDocumentLayoutDocumentLayoutBlockLayoutListBlock"
    },
    "GoogleCloudDocumentaiV1beta3ImportProcessorVersionResponse": {
      "id": "GoogleCloudDocumentaiV1beta3ImportProcessorVersionResponse",
      "description": "The response message for the ImportProcessorVersion method.",
      "type": "object",
      "properties": {
        "processorVersion": {
          "type": "string",
          "description": "The destination processor version name."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3DocumentPageSymbol": {
      "type": "object",
      "description": "A detected symbol.",
      "properties": {
        "layout": {
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageLayout",
          "description": "Layout for Symbol."
        },
        "detectedLanguages": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageDetectedLanguage"
          },
          "type": "array",
          "description": "A list of detected languages together with confidence."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DocumentPageSymbol"
    },
    "GoogleCloudDocumentaiV1beta3EvaluateProcessorVersionResponse": {
      "properties": {
        "evaluation": {
          "type": "string",
          "description": "The resource name of the created evaluation."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3EvaluateProcessorVersionResponse",
      "description": "Response of the EvaluateProcessorVersion method.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3SetDefaultProcessorVersionMetadata": {
      "description": "The long-running operation metadata for the SetDefaultProcessorVersion method.",
      "type": "object",
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3SetDefaultProcessorVersionMetadata"
    },
    "GoogleCloudDocumentaiV1beta3EnableProcessorMetadata": {
      "id": "GoogleCloudDocumentaiV1beta3EnableProcessorMetadata",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata"
        }
      },
      "type": "object",
      "description": "The long-running operation metadata for the EnableProcessor method."
    },
    "GoogleCloudDocumentaiV1beta3DatasetSchema": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Dataset schema resource name. Format: `projects/{project}/locations/{location}/processors/{processor}/dataset/datasetSchema`"
        },
        "documentSchema": {
          "description": "Optional. Schema of the dataset.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentSchema"
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "satisfiesPzi": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Reserved for future use."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DatasetSchema",
      "description": "Dataset Schema."
    },
    "GoogleCloudDocumentaiUiv1beta3RevisionRef": {
      "properties": {
        "revisionId": {
          "type": "string",
          "description": "Reads the revision given by the id."
        },
        "latestProcessorVersion": {
          "description": "Reads the revision generated by the processor version. The format takes the full resource name of processor version. `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}`",
          "type": "string"
        },
        "revisionCase": {
          "description": "Reads the revision by the predefined case.",
          "enum": [
            "REVISION_CASE_UNSPECIFIED",
            "LATEST_HUMAN_REVIEW",
            "LATEST_TIMESTAMP",
            "BASE_OCR_REVISION"
          ],
          "enumDescriptions": [
            "Unspecified case, fall back to read the `LATEST_HUMAN_REVIEW`.",
            "The latest revision made by a human.",
            "The latest revision based on timestamp.",
            "The first (OCR) revision."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "The revision reference specifies which revision on the document to read.",
      "id": "GoogleCloudDocumentaiUiv1beta3RevisionRef"
    },
    "GoogleCloudDocumentaiV1beta3DocumentRevision": {
      "description": "Contains past or forward revisions of this document.",
      "properties": {
        "processor": {
          "type": "string",
          "description": "If the annotation was made by processor identify the processor by its resource name."
        },
        "parent": {
          "description": "The revisions that this revision is based on. This can include one or more parent (when documents are merged.) This field represents the index into the `revisions` field.",
          "deprecated": true,
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        },
        "parentIds": {
          "description": "The revisions that this revision is based on. Must include all the ids that have anything to do with this revision - eg. there are `provenance.parent.revision` fields that index into this field.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time that the revision was created, internally generated by doc proto storage at the time of create."
        },
        "humanReview": {
          "description": "Human Review information of this revision.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentRevisionHumanReview"
        },
        "agent": {
          "type": "string",
          "description": "If the change was made by a person specify the name or ID of that person."
        },
        "id": {
          "description": "ID of the revision, internally generated by doc proto storage. Unique within the context of the document.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3DocumentRevision"
    },
    "GoogleCloudDocumentaiV1beta3BatchDeleteDocumentsResponse": {
      "description": "Response of the delete documents operation.",
      "id": "GoogleCloudDocumentaiV1beta3BatchDeleteDocumentsResponse",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata": {
      "id": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
      "type": "object",
      "description": "The common metadata for long running operations.",
      "properties": {
        "createTime": {
          "description": "The creation time of the operation.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "The last update time of the operation.",
          "format": "google-datetime",
          "type": "string"
        },
        "stateMessage": {
          "description": "A message providing more details about the current state of processing.",
          "type": "string"
        },
        "resource": {
          "description": "A related resource to this operation.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "Operation is still running.",
            "Operation is being cancelled.",
            "Operation succeeded.",
            "Operation failed.",
            "Operation is cancelled."
          ],
          "description": "The state of the operation.",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "CANCELLING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED"
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3ReviewDocumentResponse": {
      "description": "Response message for the ReviewDocument method.",
      "type": "object",
      "properties": {
        "gcsDestination": {
          "description": "The Cloud Storage uri for the human reviewed document if the review is succeeded.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "REJECTED",
            "SUCCEEDED"
          ],
          "description": "The state of the review operation.",
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The review operation is rejected by the reviewer.",
            "The review operation is succeeded."
          ]
        },
        "rejectionReason": {
          "description": "The reason why the review is rejected by reviewer.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3ReviewDocumentResponse"
    },
    "GoogleCloudDocumentaiUiv1beta3DeleteLabelerPoolOperationMetadata": {
      "description": "The long-running operation metadata for DeleteLabelerPool.",
      "id": "GoogleCloudDocumentaiUiv1beta3DeleteLabelerPoolOperationMetadata",
      "type": "object",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3DeployProcessorVersionResponse": {
      "properties": {},
      "id": "GoogleCloudDocumentaiUiv1beta3DeployProcessorVersionResponse",
      "type": "object",
      "description": "Response message for the DeployProcessorVersion method."
    },
    "GoogleCloudDocumentaiV1beta3RevisionRef": {
      "type": "object",
      "description": "The revision reference specifies which revision on the document to read.",
      "id": "GoogleCloudDocumentaiV1beta3RevisionRef",
      "properties": {
        "revisionId": {
          "type": "string",
          "description": "Reads the revision given by the id."
        },
        "revisionCase": {
          "enumDescriptions": [
            "Unspecified case, fall back to read the `LATEST_HUMAN_REVIEW`.",
            "The latest revision made by a human.",
            "The latest revision based on timestamp.",
            "The first (OCR) revision."
          ],
          "type": "string",
          "description": "Reads the revision by the predefined case.",
          "enum": [
            "REVISION_CASE_UNSPECIFIED",
            "LATEST_HUMAN_REVIEW",
            "LATEST_TIMESTAMP",
            "BASE_OCR_REVISION"
          ]
        },
        "latestProcessorVersion": {
          "description": "Reads the revision generated by the processor version. The format takes the full resource name of processor version. `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}`",
          "type": "string"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3BatchProcessRequestBatchInputConfig": {
      "properties": {
        "mimeType": {
          "type": "string",
          "description": "An IANA published [media type (MIME type)](https://www.iana.org/assignments/media-types/media-types.xhtml) of the input. If the input is a raw document, refer to [supported file types](https://cloud.google.com/document-ai/docs/file-types) for the list of media types. If the input is a Document, the type should be `application/json`."
        },
        "gcsSource": {
          "type": "string",
          "description": "The Cloud Storage location as the source of the document."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3BatchProcessRequestBatchInputConfig",
      "type": "object",
      "description": "The message for input config in batch process.",
      "deprecated": true
    },
    "GoogleCloudDocumentaiUiv1beta3SampleDocumentsResponse": {
      "id": "GoogleCloudDocumentaiUiv1beta3SampleDocumentsResponse",
      "description": "Response of the sample documents operation.",
      "properties": {
        "sampleTrainingStatus": {
          "description": "The status of sampling documents in training split.",
          "$ref": "GoogleRpcStatus"
        },
        "selectedDocuments": {
          "description": "The result of the sampling process.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3SampleDocumentsResponseSelectedDocument"
          }
        },
        "sampleTestStatus": {
          "description": "The status of sampling documents in test split.",
          "$ref": "GoogleRpcStatus"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3EvaluationMultiConfidenceMetrics": {
      "description": "Metrics across multiple confidence levels.",
      "type": "object",
      "properties": {
        "confidenceLevelMetricsExact": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3EvaluationConfidenceLevelMetrics"
          },
          "description": "Metrics across confidence levels with only exact matching."
        },
        "metricsType": {
          "enumDescriptions": [
            "The metrics type is unspecified. By default, metrics without a particular specification are for leaf entity types (i.e., top-level entity types without child types, or child types which are not parent types themselves).",
            "Indicates whether metrics for this particular label type represent an aggregate of metrics for other types instead of being based on actual TP/FP/FN values for the label type. Metrics for parent (i.e., non-leaf) entity types are an aggregate of metrics for their children."
          ],
          "type": "string",
          "description": "The metrics type for the label.",
          "enum": [
            "METRICS_TYPE_UNSPECIFIED",
            "AGGREGATE"
          ]
        },
        "auprcExact": {
          "format": "float",
          "description": "The AUPRC for metrics with fuzzy matching disabled, i.e., exact matching only.",
          "type": "number"
        },
        "auprc": {
          "type": "number",
          "format": "float",
          "description": "The calculated area under the precision recall curve (AUPRC), computed by integrating over all confidence thresholds."
        },
        "estimatedCalibrationErrorExact": {
          "format": "float",
          "description": "The ECE for the predicted entities with fuzzy matching disabled, i.e., exact matching only.",
          "type": "number"
        },
        "confidenceLevelMetrics": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3EvaluationConfidenceLevelMetrics"
          },
          "type": "array",
          "description": "Metrics across confidence levels with fuzzy matching enabled."
        },
        "estimatedCalibrationError": {
          "format": "float",
          "type": "number",
          "description": "The Estimated Calibration Error (ECE) of the confidence of the predicted entities."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3EvaluationMultiConfidenceMetrics"
    },
    "GoogleCloudDocumentaiV1beta3UndeployProcessorVersionResponse": {
      "id": "GoogleCloudDocumentaiV1beta3UndeployProcessorVersionResponse",
      "type": "object",
      "description": "Response message for the UndeployProcessorVersion method.",
      "properties": {}
    },
    "GoogleCloudDocumentaiV1beta3ListProcessorTypesResponse": {
      "type": "object",
      "description": "Response message for the ListProcessorTypes method.",
      "id": "GoogleCloudDocumentaiV1beta3ListProcessorTypesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Points to the next page, otherwise empty."
        },
        "processorTypes": {
          "description": "The processor types.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3ProcessorType"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDocumentaiV1UndeployProcessorVersionMetadata": {
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1CommonOperationMetadata"
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1UndeployProcessorVersionMetadata",
      "description": "The long-running operation metadata for the UndeployProcessorVersion method."
    },
    "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRule": {
      "properties": {
        "ruleId": {
          "type": "string",
          "description": "Unique identifier of the rule. Optional."
        },
        "childAlignmentRule": {
          "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleChildAlignmentRule"
        },
        "formValidation": {
          "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleFormValidation"
        },
        "description": {
          "type": "string",
          "description": "Description of the validation rule. This has no use but for documentation."
        },
        "fieldRegex": {
          "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleFieldRegex"
        },
        "entityAlignmentRule": {
          "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleEntityAlignmentRule"
        },
        "fieldOccurrences": {
          "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleFieldOccurrences"
        },
        "name": {
          "description": "Name of the validation rule.",
          "type": "string"
        }
      },
      "description": "Next ID: 9",
      "type": "object",
      "id": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRule"
    },
    "GoogleCloudDocumentaiV1beta3DocumentPageTableTableCell": {
      "properties": {
        "detectedLanguages": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageDetectedLanguage"
          },
          "type": "array",
          "description": "A list of detected languages together with confidence."
        },
        "colSpan": {
          "type": "integer",
          "format": "int32",
          "description": "How many columns this cell spans."
        },
        "rowSpan": {
          "format": "int32",
          "description": "How many rows this cell spans.",
          "type": "integer"
        },
        "layout": {
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageLayout",
          "description": "Layout for TableCell."
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3DocumentPageTableTableCell",
      "description": "A cell representation inside the table."
    },
    "GoogleCloudDocumentaiV1beta3DocumentSchema": {
      "id": "GoogleCloudDocumentaiV1beta3DocumentSchema",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Display name to show users.",
          "type": "string"
        },
        "entityTypes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentSchemaEntityType"
          },
          "description": "Entity types of the schema."
        },
        "description": {
          "description": "Description of the schema.",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata of the schema.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentSchemaMetadata"
        },
        "documentPrompt": {
          "description": "Optional. Document-level prompt provided by the user. This custom text is injected into the AI model's prompt to provide extra, document-wide guidance for processing.",
          "type": "string"
        }
      },
      "description": "The schema defines the output of the processed document by a processor."
    },
    "GoogleCloudDocumentaiV1beta3DeleteProcessorMetadata": {
      "description": "The long-running operation metadata for the DeleteProcessor method.",
      "id": "GoogleCloudDocumentaiV1beta3DeleteProcessorMetadata",
      "type": "object",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata"
        }
      }
    },
    "GoogleCloudDocumentaiV1DisableProcessorMetadata": {
      "id": "GoogleCloudDocumentaiV1DisableProcessorMetadata",
      "description": "The long-running operation metadata for the DisableProcessor method.",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1CommonOperationMetadata"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3ImportProcessorVersionResponse": {
      "description": "The response message for the ImportProcessorVersion method.",
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3ImportProcessorVersionResponse",
      "properties": {
        "processorVersion": {
          "description": "The destination processor version name.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3Dataset": {
      "properties": {
        "satisfiesPzs": {
          "readOnly": true,
          "description": "Output only. Reserved for future use.",
          "type": "boolean"
        },
        "satisfiesPzi": {
          "readOnly": true,
          "description": "Output only. Reserved for future use.",
          "type": "boolean"
        },
        "documentWarehouseConfig": {
          "deprecated": true,
          "description": "Optional. Deprecated. Warehouse-based dataset configuration is not supported.",
          "$ref": "GoogleCloudDocumentaiV1beta3DatasetDocumentWarehouseConfig"
        },
        "name": {
          "description": "Dataset resource name. Format: `projects/{project}/locations/{location}/processors/{processor}/dataset`",
          "type": "string"
        },
        "gcsManagedConfig": {
          "$ref": "GoogleCloudDocumentaiV1beta3DatasetGCSManagedConfig",
          "description": "Optional. User-managed Cloud Storage dataset configuration. Use this configuration if the dataset documents are stored under a user-managed Cloud Storage location."
        },
        "state": {
          "enumDescriptions": [
            "Default unspecified enum, should not be used.",
            "Dataset has not been initialized.",
            "Dataset is being initialized.",
            "Dataset has been initialized."
          ],
          "description": "Required. State of the dataset. Ignored when updating dataset.",
          "enum": [
            "STATE_UNSPECIFIED",
            "UNINITIALIZED",
            "INITIALIZING",
            "INITIALIZED"
          ],
          "type": "string"
        },
        "unmanagedDatasetConfig": {
          "$ref": "GoogleCloudDocumentaiV1beta3DatasetUnmanagedDatasetConfig",
          "description": "Optional. Unmanaged dataset configuration. Use this configuration if the dataset documents are managed by the document service internally (not user-managed)."
        }
      },
      "description": "A singleton resource under a Processor which configures a collection of documents.",
      "id": "GoogleCloudDocumentaiV1beta3Dataset",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3EvaluationEvaluationRevision": {
      "description": "A revision of the evaluation.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3EvaluationEvaluationRevision",
      "properties": {
        "allEntitiesMetrics": {
          "readOnly": true,
          "description": "Output only. Metrics for all the entities in aggregate.",
          "$ref": "GoogleCloudDocumentaiV1beta3EvaluationMultiConfidenceMetrics"
        },
        "documentCounters": {
          "$ref": "GoogleCloudDocumentaiV1beta3EvaluationCounters",
          "readOnly": true,
          "description": "Output only. Counters for the documents used in the evaluation."
        },
        "entityMetrics": {
          "readOnly": true,
          "description": "Output only. Metrics across confidence levels, for different entities.",
          "additionalProperties": {
            "$ref": "GoogleCloudDocumentaiV1beta3EvaluationMultiConfidenceMetrics"
          },
          "type": "object"
        },
        "revisionId": {
          "description": "Output only. The revision ID of the evaluation.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3SchemaEditabilityMetadata": {
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3SchemaEditabilityMetadata",
      "description": "Metadata that specifies whether a label is editable and reasons why. These fields are read-only. Changing these fields has no impact on the backend.",
      "properties": {
        "processorVersions": {
          "description": "Full resource name of processor versions that contain this label. e.g. `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}`",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "editable": {
          "type": "boolean",
          "description": "Explicit flag that controls whether the label is editable."
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3ImportDocumentsMetadataIndividualImportStatus": {
      "properties": {
        "status": {
          "$ref": "GoogleRpcStatus",
          "description": "The status of the importing of the document."
        },
        "inputGcsSource": {
          "type": "string",
          "description": "The source Cloud Storage URI of the document."
        },
        "outputDocumentId": {
          "description": "The document ID of imported document if it was successful, otherwise empty.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3DocumentId"
        },
        "outputGcsDestination": {
          "description": "The output_gcs_destination of the processed document if it was successful, otherwise empty.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The status of each individual document in the import process.",
      "id": "GoogleCloudDocumentaiUiv1beta3ImportDocumentsMetadataIndividualImportStatus"
    },
    "GoogleCloudDocumentaiUiv1beta3HumanReviewValidationMetadata": {
      "description": "Metadata for Human Review config.",
      "type": "object",
      "properties": {
        "confidenceThreshold": {
          "format": "float",
          "description": "The confidence threshold if human review validation is enabled.",
          "type": "number"
        },
        "enableValidation": {
          "description": "Whether to enable human review validation.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3HumanReviewValidationMetadata"
    },
    "GoogleCloudDocumentaiV1beta3DocumentDocumentLayoutDocumentLayoutBlockLayoutTableCell": {
      "description": "Represents a cell in a table row.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3DocumentDocumentLayoutDocumentLayoutBlockLayoutTableCell",
      "properties": {
        "colSpan": {
          "type": "integer",
          "description": "How many columns this cell spans.",
          "format": "int32"
        },
        "blocks": {
          "description": "A table cell is a list of blocks. Repeated blocks support further hierarchies and nested blocks.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentDocumentLayoutDocumentLayoutBlock"
          },
          "type": "array"
        },
        "rowSpan": {
          "format": "int32",
          "description": "How many rows this cell spans.",
          "type": "integer"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3ProcessOptionsIndividualPageSelector": {
      "type": "object",
      "properties": {
        "pages": {
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "description": "Optional. Indices of the pages (starting from 1).",
          "type": "array"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3ProcessOptionsIndividualPageSelector",
      "description": "A list of individual page numbers."
    },
    "GoogleCloudDocumentaiUiv1beta3FieldExtractionMetadata": {
      "properties": {
        "entityQuery": {
          "description": "Entity query config.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3FieldExtractionMetadataEntityQuery"
        },
        "summaryOptions": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3SummaryOptions",
          "description": "Summary options config."
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3FieldExtractionMetadata",
      "description": "Metadata for how this field value is extracted."
    },
    "GoogleCloudDocumentaiV1CommonOperationMetadata": {
      "type": "object",
      "description": "The common metadata for long running operations.",
      "id": "GoogleCloudDocumentaiV1CommonOperationMetadata",
      "properties": {
        "resource": {
          "description": "A related resource to this operation.",
          "type": "string"
        },
        "createTime": {
          "description": "The creation time of the operation.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "The last update time of the operation.",
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "Operation is still running.",
            "Operation is being cancelled.",
            "Operation succeeded.",
            "Operation failed.",
            "Operation is cancelled."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "CANCELLING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED"
          ],
          "description": "The state of the operation."
        },
        "stateMessage": {
          "description": "A message providing more details about the current state of processing.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3EntityTypeMetadata": {
      "description": "Metadata about an entity type.",
      "id": "GoogleCloudDocumentaiUiv1beta3EntityTypeMetadata",
      "properties": {
        "humanReviewLabelingMetadata": {
          "description": "Human review labeling config on the entity.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3HumanReviewLabelingMetadata"
        },
        "humanReviewMetadata": {
          "description": "Human review config on the entity.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3HumanReviewValidationMetadata"
        },
        "schemaInferenceMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3SchemaInferenceMetadata",
          "description": "Schema inference metadata on the entity."
        },
        "schemaEditabilityMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3SchemaEditabilityMetadata",
          "description": "Schema editability metadata on the entity."
        },
        "inactive": {
          "description": "Whether the entity type should be considered inactive.",
          "type": "boolean"
        },
        "fieldTierMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3FieldTierMetadata",
          "description": "Field tier metadata on the property"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3DisableProcessorResponse": {
      "properties": {},
      "description": "Response message for the DisableProcessor method. Intentionally empty proto for adding fields in future.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3DisableProcessorResponse"
    },
    "GoogleCloudDocumentaiV1beta3DocumentPageBlock": {
      "description": "A block has a set of lines (collected into paragraphs) that have a common line-spacing and orientation.",
      "id": "GoogleCloudDocumentaiV1beta3DocumentPageBlock",
      "type": "object",
      "properties": {
        "provenance": {
          "deprecated": true,
          "description": "The history of this annotation.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentProvenance"
        },
        "layout": {
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageLayout",
          "description": "Layout for Block."
        },
        "detectedLanguages": {
          "description": "A list of detected languages together with confidence.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageDetectedLanguage"
          }
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3DocumentEntitiesRevision": {
      "type": "object",
      "description": "Entity revision.",
      "id": "GoogleCloudDocumentaiV1beta3DocumentEntitiesRevision",
      "properties": {
        "provenance": {
          "description": "Optional. The history of this revision.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentProvenance"
        },
        "entities": {
          "description": "The entities in this revision.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentEntity"
          }
        },
        "revisionId": {
          "description": "The revision id.",
          "type": "string"
        },
        "entityValidationOutput": {
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentEntityValidationOutput",
          "description": "The entity validation output for this revision."
        }
      }
    },
    "GoogleCloudDocumentaiV1EnableProcessorResponse": {
      "description": "Response message for the EnableProcessor method. Intentionally empty proto for adding fields in future.",
      "properties": {},
      "id": "GoogleCloudDocumentaiV1EnableProcessorResponse",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3FieldExtractionMetadata": {
      "properties": {
        "summaryOptions": {
          "description": "Summary options config.",
          "$ref": "GoogleCloudDocumentaiV1beta3SummaryOptions"
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3FieldExtractionMetadata",
      "description": "Metadata for how this field value is extracted."
    },
    "GoogleCloudDocumentaiV1beta3NextSchema": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the Schema. Format: `projects/{project}/locations/{location}/schemas/{schema}`",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The user-defined name of the Schema.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Optional. The {{gcp_name_short}} labels for the Schema.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "description": "Output only. The time when the Schema was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The time when the Schema was last updated.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "NextSchema is a collection of SchemaVersions.",
      "id": "GoogleCloudDocumentaiV1beta3NextSchema"
    },
    "GoogleCloudDocumentaiUiv1beta3EnableProcessorMetadata": {
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3EnableProcessorMetadata",
      "type": "object",
      "description": "The long-running operation metadata for the EnableProcessor method."
    },
    "GoogleCloudDocumentaiV1beta3PropertyMetadata": {
      "description": "Metadata about a property.",
      "properties": {
        "fieldExtractionMetadata": {
          "$ref": "GoogleCloudDocumentaiV1beta3FieldExtractionMetadata",
          "description": "Field extraction metadata on the property."
        },
        "inactive": {
          "type": "boolean",
          "description": "Whether the property should be considered as \"inactive\"."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3PropertyMetadata",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3OcrConfigPremiumFeatures": {
      "type": "object",
      "properties": {
        "enableSelectionMarkDetection": {
          "description": "Turn on selection mark detector in OCR engine. Only available in OCR 2.0 (and later) processors.",
          "type": "boolean"
        },
        "enableMathOcr": {
          "description": "Turn on the model that can extract LaTeX math formulas.",
          "type": "boolean"
        },
        "computeStyleInfo": {
          "description": "Turn on font identification model and return font style information.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3OcrConfigPremiumFeatures",
      "description": "Configurations for premium OCR features."
    },
    "GoogleCloudDocumentaiV1beta3DocumentMetadata": {
      "description": "Metadata about a document.",
      "id": "GoogleCloudDocumentaiV1beta3DocumentMetadata",
      "properties": {
        "pageCount": {
          "format": "int32",
          "description": "Number of pages in the document.",
          "type": "integer"
        },
        "datasetType": {
          "enumDescriptions": [
            "Default value if the enum is not set.",
            "Identifies the train documents.",
            "Identifies the test documents.",
            "Identifies the unassigned documents."
          ],
          "enum": [
            "DATASET_SPLIT_TYPE_UNSPECIFIED",
            "DATASET_SPLIT_TRAIN",
            "DATASET_SPLIT_TEST",
            "DATASET_SPLIT_UNASSIGNED"
          ],
          "description": "Type of the dataset split to which the document belongs.",
          "type": "string"
        },
        "documentId": {
          "description": "Document identifier.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentId"
        },
        "displayName": {
          "description": "The display name of the document.",
          "type": "string"
        },
        "labelingState": {
          "enumDescriptions": [
            "Default value if the enum is not set.",
            "Document has been labeled.",
            "Document has not been labeled.",
            "Document has been auto-labeled."
          ],
          "type": "string",
          "description": "Labeling state of the document.",
          "enum": [
            "DOCUMENT_LABELING_STATE_UNSPECIFIED",
            "DOCUMENT_LABELED",
            "DOCUMENT_UNLABELED",
            "DOCUMENT_AUTO_LABELED"
          ]
        }
      },
      "type": "object"
    },
    "GoogleTypeTimeZone": {
      "type": "object",
      "properties": {
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        },
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        }
      },
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "id": "GoogleTypeTimeZone"
    },
    "GoogleCloudDocumentaiUiv1beta3ResyncDatasetMetadataIndividualDocumentResyncStatus": {
      "properties": {
        "status": {
          "description": "The status of resyncing the document with regards to the detected inconsistency. Empty if ResyncDatasetRequest.validate_only is `true`.",
          "$ref": "GoogleRpcStatus"
        },
        "documentInconsistencyType": {
          "description": "The type of document inconsistency.",
          "enum": [
            "DOCUMENT_INCONSISTENCY_TYPE_UNSPECIFIED",
            "DOCUMENT_INCONSISTENCY_TYPE_INVALID_DOCPROTO",
            "DOCUMENT_INCONSISTENCY_TYPE_MISMATCHED_METADATA",
            "DOCUMENT_INCONSISTENCY_TYPE_NO_PAGE_IMAGE"
          ],
          "enumDescriptions": [
            "Default value.",
            "The document proto is invalid.",
            "Indexed docproto metadata is mismatched.",
            "The page image or thumbnails are missing."
          ],
          "type": "string"
        },
        "documentId": {
          "description": "The document identifier.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3DocumentId"
        }
      },
      "description": "Resync status for each document per inconsistency type.",
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3ResyncDatasetMetadataIndividualDocumentResyncStatus"
    },
    "GoogleCloudDocumentaiV1beta3ImportDocumentsMetadata": {
      "description": "Metadata of the import document operation.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3ImportDocumentsMetadata",
      "properties": {
        "individualImportStatuses": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3ImportDocumentsMetadataIndividualImportStatus"
          },
          "description": "The list of response details of each document."
        },
        "importConfigValidationResults": {
          "description": "Validation statuses of the batch documents import config.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3ImportDocumentsMetadataImportConfigValidationResult"
          },
          "type": "array"
        },
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        },
        "totalDocumentCount": {
          "description": "Total number of the documents that are qualified for importing.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3BatchProcessRequestBatchOutputConfig": {
      "type": "object",
      "properties": {
        "gcsDestination": {
          "description": "The output Cloud Storage directory to put the processed documents.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3BatchProcessRequestBatchOutputConfig",
      "description": "The output configuration in the BatchProcessDocuments method.",
      "deprecated": true
    },
    "GoogleCloudDocumentaiV1beta3BatchDeleteDocumentsRequest": {
      "type": "object",
      "properties": {
        "datasetDocuments": {
          "description": "Required. Dataset documents input. If given `filter`, all documents satisfying the filter will be deleted. If given documentIds, a maximum of 50 documents can be deleted in a batch. The request will be rejected if more than 50 document_ids are provided.",
          "$ref": "GoogleCloudDocumentaiV1beta3BatchDatasetDocuments"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3BatchDeleteDocumentsRequest"
    },
    "GoogleCloudDocumentaiV1beta3ProcessorTypeLocationInfo": {
      "description": "The location information about where the processor is available.",
      "id": "GoogleCloudDocumentaiV1beta3ProcessorTypeLocationInfo",
      "type": "object",
      "properties": {
        "locationId": {
          "type": "string",
          "description": "The location ID. For supported locations, refer to [regional and multi-regional support](/document-ai/docs/regions)."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3GcsPrefix": {
      "id": "GoogleCloudDocumentaiV1beta3GcsPrefix",
      "type": "object",
      "properties": {
        "gcsUriPrefix": {
          "type": "string",
          "description": "The URI prefix."
        }
      },
      "description": "Specifies all documents on Cloud Storage with a common prefix."
    },
    "GoogleCloudDocumentaiV1beta3ImportDocumentsRequestBatchDocumentsImportConfig": {
      "type": "object",
      "properties": {
        "documentType": {
          "description": "Optional. If set, determines the type of the documents to be imported in this batch. It can be used to auto-label the documents with a single entity of the provided type. This field can only be used with a classifier or splitter processor. Providing this field is mutually exclusive with `entities` and `auto_labeling_config`.",
          "type": "string"
        },
        "datasetSplit": {
          "enumDescriptions": [
            "Default value if the enum is not set.",
            "Identifies the train documents.",
            "Identifies the test documents.",
            "Identifies the unassigned documents."
          ],
          "description": "Target dataset split where the documents must be stored.",
          "enum": [
            "DATASET_SPLIT_TYPE_UNSPECIFIED",
            "DATASET_SPLIT_TRAIN",
            "DATASET_SPLIT_TEST",
            "DATASET_SPLIT_UNASSIGNED"
          ],
          "type": "string"
        },
        "batchInputConfig": {
          "description": "The common config to specify a set of documents used as input.",
          "$ref": "GoogleCloudDocumentaiV1beta3BatchDocumentsInputConfig"
        },
        "autoSplitConfig": {
          "$ref": "GoogleCloudDocumentaiV1beta3ImportDocumentsRequestBatchDocumentsImportConfigAutoSplitConfig",
          "description": "If set, documents will be automatically split into training and test split category with the specified ratio."
        }
      },
      "description": "Config for importing documents. Each batch can have its own dataset split type.",
      "id": "GoogleCloudDocumentaiV1beta3ImportDocumentsRequestBatchDocumentsImportConfig"
    },
    "GoogleCloudDocumentaiV1beta3CommonOperationMetadata": {
      "type": "object",
      "properties": {
        "resource": {
          "type": "string",
          "description": "A related resource to this operation."
        },
        "createTime": {
          "description": "The creation time of the operation.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "The last update time of the operation.",
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "type": "string",
          "description": "The state of the operation.",
          "enumDescriptions": [
            "Unspecified state.",
            "Operation is still running.",
            "Operation is being cancelled.",
            "Operation succeeded.",
            "Operation failed.",
            "Operation is cancelled."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "CANCELLING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED"
          ]
        },
        "stateMessage": {
          "description": "A message providing more details about the current state of processing.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata",
      "description": "The common metadata for long running operations."
    },
    "GoogleCloudDocumentaiV1beta3DatasetDocumentWarehouseConfig": {
      "id": "GoogleCloudDocumentaiV1beta3DatasetDocumentWarehouseConfig",
      "type": "object",
      "properties": {
        "collection": {
          "type": "string",
          "description": "Output only. The collection in Document AI Warehouse associated with the dataset.",
          "readOnly": true
        },
        "schema": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The schema in Document AI Warehouse associated with the dataset."
        }
      },
      "description": "Configuration specific to the Document AI Warehouse-based implementation."
    },
    "GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadata": {
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        },
        "individualExportStatuses": {
          "type": "array",
          "description": "The list of response details of each document.",
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadataIndividualExportStatus"
          }
        },
        "splitExportStats": {
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadataSplitExportStat"
          },
          "description": "The list of statistics for each dataset split type.",
          "type": "array"
        }
      },
      "description": "Metadata of the batch export documents operation.",
      "id": "GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadata",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3Processor": {
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Immutable. The resource name of the processor. Format: `projects/{project}/locations/{location}/processors/{processor}`"
        },
        "defaultProcessorVersion": {
          "type": "string",
          "description": "The default processor version."
        },
        "processorVersionAliases": {
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3ProcessorVersionAlias"
          },
          "description": "Output only. The processor version aliases.",
          "readOnly": true,
          "type": "array"
        },
        "processEndpoint": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Immutable. The http endpoint that can be called to invoke processing."
        },
        "state": {
          "description": "Output only. The state of the processor.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED",
            "ENABLING",
            "DISABLING",
            "CREATING",
            "FAILED",
            "DELETING"
          ],
          "type": "string",
          "enumDescriptions": [
            "The processor is in an unspecified state.",
            "The processor is enabled, i.e., has an enabled version which can currently serve processing requests and all the feature dependencies have been successfully initialized.",
            "The processor is disabled.",
            "The processor is being enabled, will become `ENABLED` if successful.",
            "The processor is being disabled, will become `DISABLED` if successful.",
            "The processor is being created, will become either `ENABLED` (for successful creation) or `FAILED` (for failed ones). Once a processor is in this state, it can then be used for document processing, but the feature dependencies of the processor might not be fully created yet.",
            "The processor failed during creation or initialization of feature dependencies. The user should delete the processor and recreate one as all the functionalities of the processor are disabled.",
            "The processor is being deleted, will be removed if successful."
          ],
          "readOnly": true
        },
        "kmsKeyName": {
          "type": "string",
          "description": "The [KMS key](https://cloud.google.com/security-key-management) used for encryption and decryption in CMEK scenarios."
        },
        "type": {
          "type": "string",
          "description": "The processor type, such as: `OCR_PROCESSOR`, `INVOICE_PROCESSOR`. To get a list of processor types, see FetchProcessorTypes."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the processor."
        },
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "activeSchemaVersion": {
          "type": "string",
          "description": "Optional. SchemaVersion used by the Processor. It is the same as Processor's DatasetSchema.schema_version Format is `projects/{project}/locations/{location}/schemas/{schema}/schemaVersions/{schema_version}."
        },
        "createTime": {
          "description": "Output only. The time the processor was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "satisfiesPzs": {
          "readOnly": true,
          "description": "Output only. Reserved for future use.",
          "type": "boolean"
        }
      },
      "description": "The first-class citizen for Document AI. Each processor defines how to extract structural information from a document.",
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3Processor"
    },
    "GoogleCloudDocumentaiUiv1beta3DocumentSchemaEntityTypeProperty": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "User defined name for the property."
        },
        "propertyMetadata": {
          "description": "Any additional metadata about the property can be added here.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3PropertyMetadata"
        },
        "occurrenceType": {
          "enumDescriptions": [
            "Unspecified occurrence type.",
            "There will be zero or one instance of this entity type. The same entity instance may be mentioned multiple times.",
            "The entity type will appear zero or multiple times.",
            "The entity type will only appear exactly once. The same entity instance may be mentioned multiple times.",
            "The entity type will appear once or more times."
          ],
          "type": "string",
          "enum": [
            "OCCURRENCE_TYPE_UNSPECIFIED",
            "OPTIONAL_ONCE",
            "OPTIONAL_MULTIPLE",
            "REQUIRED_ONCE",
            "REQUIRED_MULTIPLE"
          ],
          "description": "Occurrence type limits the number of instances an entity type appears in the document."
        },
        "method": {
          "enumDescriptions": [
            "Unspecified method. It defaults to `EXTRACT`.",
            "The entity's value is directly extracted as-is from the document text.",
            "The entity's value is derived through inference and is not necessarily an exact text extraction from the document.",
            "Attempts to extract the position and value as-is from the document text. If the value cannot be grounded in the text, it falls back to derivation through inference, for both position and value. Note: The inference fallback is currently only supported for boolean entities."
          ],
          "enum": [
            "METHOD_UNSPECIFIED",
            "EXTRACT",
            "DERIVE",
            "RELAXED_EXTRACT"
          ],
          "description": "Specifies how the entity's value is obtained.",
          "type": "string"
        },
        "name": {
          "description": "The name of the property. Follows the same guidelines as the EntityType name.",
          "type": "string"
        },
        "valueType": {
          "type": "string",
          "description": "A reference to the value type of the property. This type is subject to the same conventions as the `Entity.base_types` field."
        },
        "description": {
          "type": "string",
          "description": "The description of the property. Could be used to provide more information about the property for model calls."
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3DocumentSchemaEntityTypeProperty",
      "description": "Defines properties that can be part of the entity type.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3SchemaGenerationIteration": {
      "description": "A single iteration of the schema generation.",
      "id": "GoogleCloudDocumentaiV1beta3SchemaGenerationIteration",
      "properties": {
        "generatedSchema": {
          "description": "Required. The schema version generated by the model.",
          "$ref": "GoogleCloudDocumentaiV1beta3SchemaVersion"
        },
        "adjustedSchema": {
          "$ref": "GoogleCloudDocumentaiV1beta3SchemaVersion",
          "description": "Optional. The previous schema version adjusted by the model."
        },
        "prompt": {
          "description": "Optional. The prompt used for the iteration.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleFieldRegex": {
      "id": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleFieldRegex",
      "type": "object",
      "properties": {
        "field": {
          "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleField"
        },
        "pattern": {
          "description": "Python regex to validate the field values.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3DeployProcessorVersionRequest": {
      "properties": {},
      "id": "GoogleCloudDocumentaiV1beta3DeployProcessorVersionRequest",
      "type": "object",
      "description": "Request message for the DeployProcessorVersion method."
    },
    "GoogleCloudDocumentaiV1beta3DocumentChunkedDocumentChunkImageChunkField": {
      "type": "object",
      "properties": {
        "blobAssetId": {
          "description": "Optional. Asset ID of the inline image. If set, find the image content in the blob_assets field.",
          "type": "string"
        },
        "dataUri": {
          "description": "Optional. Data URI of the image. It is composed of four parts: a prefix (data:), a MIME type indicating the type of data, an optional base64 token if non-textual, and the data itself: data:,",
          "type": "string"
        },
        "annotations": {
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentAnnotations",
          "description": "Annotation of the image chunk field."
        },
        "gcsUri": {
          "description": "Optional. Google Cloud Storage URI of the image.",
          "type": "string"
        }
      },
      "description": "The image chunk field in the chunk.",
      "id": "GoogleCloudDocumentaiV1beta3DocumentChunkedDocumentChunkImageChunkField"
    },
    "GoogleCloudDocumentaiV1beta3ListDocumentsResponse": {
      "id": "GoogleCloudDocumentaiV1beta3ListDocumentsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as ListDocumentsRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "documentMetadata": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentMetadata"
          },
          "description": "Document metadata corresponding to the listed documents.",
          "type": "array"
        },
        "totalSize": {
          "description": "Total count of documents queried.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3DocumentSchemaMetadata": {
      "id": "GoogleCloudDocumentaiV1beta3DocumentSchemaMetadata",
      "properties": {
        "prefixedNamingOnProperties": {
          "description": "If set, all the nested entities must be prefixed with the parents.",
          "type": "boolean"
        },
        "documentAllowMultipleLabels": {
          "description": "If true, on a given page, there can be multiple `document` annotations covering it.",
          "type": "boolean"
        },
        "skipNamingValidation": {
          "description": "If set, this will skip the naming format validation in the schema. So the string values in `DocumentSchema.EntityType.name` and `DocumentSchema.EntityType.Property.name` will not be checked.",
          "type": "boolean"
        },
        "documentSplitter": {
          "description": "If true, a `document` entity type can be applied to subdocument (splitting). Otherwise, it can only be applied to the entire document (classification).",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Metadata for global schema behavior."
    },
    "GoogleCloudDocumentaiV1beta3UndeployProcessorVersionRequest": {
      "id": "GoogleCloudDocumentaiV1beta3UndeployProcessorVersionRequest",
      "description": "Request message for the UndeployProcessorVersion method.",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3DocumentProvenance": {
      "type": "object",
      "description": "Structure to identify provenance relationships between annotations in different revisions.",
      "id": "GoogleCloudDocumentaiV1beta3DocumentProvenance",
      "properties": {
        "type": {
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            true,
            true,
            true
          ],
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "ADD",
            "REMOVE",
            "UPDATE",
            "REPLACE",
            "EVAL_REQUESTED",
            "EVAL_APPROVED",
            "EVAL_SKIPPED"
          ],
          "type": "string",
          "description": "The type of provenance operation.",
          "enumDescriptions": [
            "Operation type unspecified. If no operation is specified a provenance entry is simply used to match against a `parent`.",
            "Add an element.",
            "Remove an element identified by `parent`.",
            "Updates any fields within the given provenance scope of the message. It overwrites the fields rather than replacing them. Use this when you want to update a field value of an entity without also updating all the child properties.",
            "Currently unused. Replace an element identified by `parent`.",
            "Deprecated. Request human review for the element identified by `parent`.",
            "Deprecated. Element is reviewed and approved at human review, confidence will be set to 1.0.",
            "Deprecated. Element is skipped in the validation process."
          ]
        },
        "id": {
          "format": "int32",
          "deprecated": true,
          "description": "The ID of this operation. Needs to be unique within the scope of the revision.",
          "type": "integer"
        },
        "revision": {
          "type": "integer",
          "format": "int32",
          "deprecated": true,
          "description": "The index of the revision that produced this element."
        },
        "parents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentProvenanceParent"
          },
          "description": "References to the original elements that are replaced."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3ListProcessorsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Points to the next processor, otherwise empty."
        },
        "processors": {
          "description": "The list of processors.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3Processor"
          }
        }
      },
      "description": "Response message for the ListProcessors method.",
      "id": "GoogleCloudDocumentaiV1beta3ListProcessorsResponse",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DeployProcessorVersionMetadata": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1DeployProcessorVersionMetadata",
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiV1CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      },
      "description": "The long-running operation metadata for the DeployProcessorVersion method."
    },
    "GoogleCloudDocumentaiUiv1beta3SchemaInferenceMetadata": {
      "id": "GoogleCloudDocumentaiUiv1beta3SchemaInferenceMetadata",
      "type": "object",
      "properties": {
        "inferred": {
          "type": "boolean",
          "description": "True if is inferred by schema inference."
        }
      },
      "description": "Metadata for schema inference. Only used on dataset.schema for schema inference, can be safely ignored elsewhere."
    },
    "GoogleCloudDocumentaiV1beta3DocumentEntity": {
      "type": "object",
      "description": "An entity that could be a phrase in the text or a property that belongs to the document. It is a known entity type, such as a person, an organization, or location.",
      "id": "GoogleCloudDocumentaiV1beta3DocumentEntity",
      "properties": {
        "method": {
          "type": "string",
          "description": "Optional. Specifies how the entity's value is obtained.",
          "enumDescriptions": [
            "When the method is not specified, it should be treated as `EXTRACT`.",
            "The entity's value is directly extracted as-is from the document text.",
            "The entity's value is derived through inference and is not necessarily an exact text extraction from the document."
          ],
          "enum": [
            "METHOD_UNSPECIFIED",
            "EXTRACT",
            "DERIVE"
          ]
        },
        "normalizedValue": {
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentEntityNormalizedValue",
          "description": "Optional. Normalized entity value. Absent if the extracted value could not be converted or the type (for example, address) is not supported for certain parsers. This field is also only populated for certain supported document types."
        },
        "confidence": {
          "type": "number",
          "description": "Optional. Confidence of detected Schema entity. Range `[0, 1]`.",
          "format": "float"
        },
        "provenance": {
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentProvenance",
          "description": "Optional. The history of this annotation."
        },
        "pageAnchor": {
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageAnchor",
          "description": "Optional. Represents the provenance of this entity wrt. the location on the page where it was found."
        },
        "properties": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentEntity"
          },
          "type": "array",
          "description": "Optional. Entities can be nested to form a hierarchical data structure representing the content in the document."
        },
        "type": {
          "type": "string",
          "description": "Required. Entity type from a schema, for example, `Address`."
        },
        "mentionText": {
          "type": "string",
          "description": "Optional. Text value of the entity, for example, `1600 Amphitheatre Pkwy`."
        },
        "redacted": {
          "description": "Optional. Whether the entity will be redacted for de-identification purposes.",
          "type": "boolean"
        },
        "id": {
          "type": "string",
          "description": "Optional. Canonical id. This will be a unique value in the entity list for this document."
        },
        "mentionId": {
          "description": "Optional. Deprecated. Use `id` field instead.",
          "type": "string"
        },
        "textAnchor": {
          "description": "Optional. Provenance of the entity. Text anchor indexing into the Document.text.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentTextAnchor"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3ProcessOptions": {
      "description": "Options for Process API",
      "id": "GoogleCloudDocumentaiV1beta3ProcessOptions",
      "type": "object",
      "properties": {
        "ocrConfig": {
          "description": "Only applicable to `OCR_PROCESSOR` and `FORM_PARSER_PROCESSOR`. Returns error if set on other processor types.",
          "$ref": "GoogleCloudDocumentaiV1beta3OcrConfig"
        },
        "fromEnd": {
          "description": "Only process certain pages from the end, same as above.",
          "format": "int32",
          "type": "integer"
        },
        "individualPageSelector": {
          "$ref": "GoogleCloudDocumentaiV1beta3ProcessOptionsIndividualPageSelector",
          "description": "Which pages to process (1-indexed)."
        },
        "schemaOverride": {
          "description": "Optional. Override the schema of the ProcessorVersion. Will return an Invalid Argument error if this field is set when the underlying ProcessorVersion doesn't support schema override.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentSchema"
        },
        "layoutConfig": {
          "$ref": "GoogleCloudDocumentaiV1beta3ProcessOptionsLayoutConfig",
          "description": "Optional. Only applicable to `LAYOUT_PARSER_PROCESSOR`. Returns error if set on other processor types."
        },
        "fromStart": {
          "type": "integer",
          "format": "int32",
          "description": "Only process certain pages from the start. Process all if the document has fewer pages."
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3ProcessorVersion": {
      "id": "GoogleCloudDocumentaiUiv1beta3ProcessorVersion",
      "description": "A processor version is an implementation of a processor. Each processor can have multiple versions, pretrained by Google internally or uptrained by the customer. A processor can only have one default version at a time. Its document-processing behavior is defined by that version.",
      "properties": {
        "schema": {
          "description": "The schema of the processor version. Describes the output.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3Schema"
        },
        "kmsKeyName": {
          "type": "string",
          "description": "Output only. The KMS key name used for encryption.",
          "readOnly": true
        },
        "googleManaged": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Denotes that this `ProcessorVersion` is managed by Google."
        },
        "displayName": {
          "description": "The display name of the processor version.",
          "type": "string"
        },
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use.",
          "type": "boolean",
          "readOnly": true
        },
        "kmsKeyVersionName": {
          "description": "Output only. The KMS key version with which data is encrypted.",
          "type": "string",
          "readOnly": true
        },
        "documentSchema": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3DocumentSchema",
          "readOnly": true,
          "description": "Output only. The schema of the processor version. Describes the output."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the processor version was created.",
          "format": "google-datetime"
        },
        "deprecationInfo": {
          "description": "Output only. If set, information about the eventual deprecation of this version.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3ProcessorVersionDeprecationInfo",
          "readOnly": true
        },
        "satisfiesPzs": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Reserved for future use."
        },
        "genAiModelInfo": {
          "readOnly": true,
          "$ref": "GoogleCloudDocumentaiUiv1beta3ProcessorVersionGenAiModelInfo",
          "description": "Output only. Information about Generative AI model-based processor versions."
        },
        "latestEvaluation": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3EvaluationReference",
          "description": "Output only. The most recently invoked evaluation for the processor version.",
          "readOnly": true
        },
        "modelType": {
          "enumDescriptions": [
            "The processor version has unspecified model type.",
            "The processor version has generative model type.",
            "The processor version has custom model type."
          ],
          "readOnly": true,
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "MODEL_TYPE_GENERATIVE",
            "MODEL_TYPE_CUSTOM"
          ],
          "type": "string",
          "description": "Output only. The model type of this processor version."
        },
        "state": {
          "enumDescriptions": [
            "The processor version is in an unspecified state.",
            "The processor version is deployed and can be used for processing.",
            "The processor version is being deployed.",
            "The processor version is not deployed and cannot be used for processing.",
            "The processor version is being undeployed.",
            "The processor version is being created.",
            "The processor version is being deleted.",
            "The processor version failed and is in an indeterminate state.",
            "The processor version is being imported."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "DEPLOYED",
            "DEPLOYING",
            "UNDEPLOYED",
            "UNDEPLOYING",
            "CREATING",
            "DELETING",
            "FAILED",
            "IMPORTING"
          ],
          "description": "Output only. The state of the processor version.",
          "readOnly": true,
          "type": "string"
        },
        "deploymentAllowed": {
          "type": "boolean",
          "description": "Output only. Denotes that this `ProcessorVersion` can be deployed and undeployed.",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The resource name of the processor version. Format: `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processor_version}`",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3AutoLabelDocumentsResponse": {
      "description": "The response proto of AutoLabelDocuments method.",
      "id": "GoogleCloudDocumentaiUiv1beta3AutoLabelDocumentsResponse",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDocumentaiV1beta3ImportDocumentsResponse": {
      "description": "Response of the import document operation.",
      "id": "GoogleCloudDocumentaiV1beta3ImportDocumentsResponse",
      "type": "object",
      "properties": {}
    },
    "GoogleTypeDateTime": {
      "id": "GoogleTypeDateTime",
      "properties": {
        "timeZone": {
          "$ref": "GoogleTypeTimeZone",
          "description": "Time zone."
        },
        "hours": {
          "type": "integer",
          "description": "Optional. Hours of day in 24 hour format. Should be from 0 to 23, defaults to 0 (midnight). An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "format": "int32"
        },
        "minutes": {
          "type": "integer",
          "description": "Optional. Minutes of hour of day. Must be from 0 to 59, defaults to 0.",
          "format": "int32"
        },
        "day": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a datetime without a day."
        },
        "nanos": {
          "description": "Optional. Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999, defaults to 0.",
          "type": "integer",
          "format": "int32"
        },
        "utcOffset": {
          "description": "UTC offset. Must be whole seconds, between -18 hours and +18 hours. For example, a UTC offset of -4:00 would be represented as { seconds: -14400 }.",
          "format": "google-duration",
          "type": "string"
        },
        "year": {
          "description": "Optional. Year of date. Must be from 1 to 9999, or 0 if specifying a datetime without a year.",
          "type": "integer",
          "format": "int32"
        },
        "seconds": {
          "description": "Optional. Seconds of minutes of the time. Must normally be from 0 to 59, defaults to 0. An API may allow the value 60 if it allows leap-seconds.",
          "format": "int32",
          "type": "integer"
        },
        "month": {
          "description": "Optional. Month of year. Must be from 1 to 12, or 0 if specifying a datetime without a month.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Represents civil time (or occasionally physical time). This type can represent a civil time in one of a few possible ways: * When utc_offset is set and time_zone is unset: a civil time on a calendar day with a particular offset from UTC. * When time_zone is set and utc_offset is unset: a civil time on a calendar day in a particular time zone. * When neither time_zone nor utc_offset is set: a civil time on a calendar day in local time. The date is relative to the Proleptic Gregorian Calendar. If year, month, or day are 0, the DateTime is considered not to have a specific year, month, or day respectively. This type may also be used to represent a physical time if all the date and time fields are set and either case of the `time_offset` oneof is set. Consider using `Timestamp` message for physical time instead. If your use case also would like to store the user's timezone, that can be done in another field. This type is more flexible than some applications may want. Make sure to document and validate your application's limitations.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3DocumentChunkedDocumentChunkChunkPageSpan": {
      "type": "object",
      "description": "Represents where the chunk starts and ends in the document.",
      "properties": {
        "pageStart": {
          "type": "integer",
          "format": "int32",
          "description": "Page where chunk starts in the document."
        },
        "pageEnd": {
          "type": "integer",
          "description": "Page where chunk ends in the document.",
          "format": "int32"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DocumentChunkedDocumentChunkChunkPageSpan"
    },
    "GoogleCloudDocumentaiV1beta3BatchDeleteDocumentsMetadata": {
      "type": "object",
      "properties": {
        "errorDocumentCount": {
          "format": "int32",
          "type": "integer",
          "description": "Total number of documents that failed to be deleted in storage."
        },
        "individualBatchDeleteStatuses": {
          "description": "The list of response details of each document.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3BatchDeleteDocumentsMetadataIndividualBatchDeleteStatus"
          }
        },
        "totalDocumentCount": {
          "format": "int32",
          "type": "integer",
          "description": "Total number of documents deleting from dataset."
        },
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3BatchDeleteDocumentsMetadata"
    },
    "GoogleCloudDocumentaiV1beta3DocumentChunkedDocumentChunkChunkPageHeader": {
      "description": "Represents the page header associated with the chunk.",
      "properties": {
        "text": {
          "description": "Header in text format.",
          "type": "string"
        },
        "pageSpan": {
          "description": "Page span of the header.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentChunkedDocumentChunkChunkPageSpan"
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3DocumentChunkedDocumentChunkChunkPageHeader"
    },
    "GoogleCloudDocumentaiV1beta3Document": {
      "properties": {
        "entitiesRevisions": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentEntitiesRevision"
          },
          "type": "array",
          "description": "A list of entity revisions. The entity revisions are appended to the document in the processing order. This field can be used for comparing the entity extraction results at different stages of the processing."
        },
        "documentLayout": {
          "description": "Parsed layout of the document.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentDocumentLayout"
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "Any error that occurred while processing this document."
        },
        "entityValidationOutput": {
          "description": "The entity validation output for the document. This is the validation output for `document.entities` field.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentEntityValidationOutput"
        },
        "chunkedDocument": {
          "description": "Document chunked based on chunking config.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentChunkedDocument"
        },
        "entitiesRevisionId": {
          "description": "The entity revision ID that `document.entities` field is based on. If this field and `entities_revisions` are set, the entities in `document.entities` are the entities in the entity revision with this ID. The `document.entity_validation_output` field is the `entity_validation_output` field in this entity revision.",
          "type": "string"
        },
        "mimeType": {
          "description": "An IANA published [media type (MIME type)](https://www.iana.org/assignments/media-types/media-types.xhtml).",
          "type": "string"
        },
        "content": {
          "description": "Optional. Inline document content, represented as a stream of bytes. Note: As with all `bytes` fields, protobuffers use a pure binary representation, whereas JSON representations use base64.",
          "type": "string",
          "format": "byte"
        },
        "textChanges": {
          "description": "Placeholder. A list of text corrections made to Document.text. This is usually used for annotating corrections to OCR mistakes. Text changes for a given revision may not overlap with each other.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentTextChange"
          }
        },
        "shardInfo": {
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentShardInfo",
          "description": "Information about the sharding if this document is sharded part of a larger document. If the document is not sharded, this message is not specified."
        },
        "entityRelations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentEntityRelation"
          },
          "description": "Placeholder. Relationship among Document.entities."
        },
        "pages": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentPage"
          },
          "type": "array",
          "description": "Visual page layout for the Document."
        },
        "docid": {
          "description": "Optional. An internal identifier for document. Should be loggable (no PII).",
          "type": "string"
        },
        "text": {
          "description": "Optional. UTF-8 encoded text in reading order from the document.",
          "type": "string"
        },
        "uri": {
          "description": "Optional. Currently supports Google Cloud Storage URI of the form `gs://bucket_name/object_name`. Object versioning is not supported. For more information, refer to [Google Cloud Storage Request URIs](https://cloud.google.com/storage/docs/reference-uris).",
          "type": "string"
        },
        "revisions": {
          "description": "Placeholder. Revision history of this document.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentRevision"
          }
        },
        "blobAssets": {
          "description": "Optional. The blob assets in this document. This is used to store the content of the inline blobs in this document, for example, image bytes, such that it can be referenced by other fields in the document via asset ID.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentBlobAsset"
          }
        },
        "textStyles": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentStyle"
          },
          "deprecated": true,
          "type": "array",
          "description": "Styles for the Document.text."
        },
        "entities": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentEntity"
          },
          "description": "A list of entities detected on Document.text. For document shards, entities in this list may cross shard boundaries.",
          "type": "array"
        }
      },
[...]
