{
  "servicePath": "",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "title": "Cloud Document AI API",
  "version_module": true,
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "basePath": "",
  "canonicalName": "Document",
  "version": "v1beta3",
  "schemas": {
    "GoogleCloudDocumentaiV1beta3DocumentPage": {
      "id": "GoogleCloudDocumentaiV1beta3DocumentPage",
      "type": "object",
      "description": "A page in a Document.",
      "properties": {
        "image": {
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageImage",
          "description": "Rendered image for this page. This image is preprocessed to remove any skew, rotation, and distortions such that the annotation bounding boxes can be upright and axis-aligned."
        },
        "imageQualityScores": {
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageImageQualityScores",
          "description": "Image quality scores."
        },
        "lines": {
          "description": "A list of visually detected text lines on the page. A collection of tokens that a human would perceive as a line.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageLine"
          },
          "type": "array"
        },
        "visualElements": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageVisualElement"
          },
          "description": "A list of detected non-text visual elements, for example, checkbox, signature etc. on the page."
        },
        "detectedLanguages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageDetectedLanguage"
          },
          "description": "A list of detected languages together with confidence."
        },
        "provenance": {
          "deprecated": true,
          "description": "The history of this page.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentProvenance"
        },
        "dimension": {
          "description": "Physical dimension of the page.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageDimension"
        },
        "pageNumber": {
          "description": "1-based index for current Page in a parent Document. Useful when a page is taken out of a Document for individual processing.",
          "format": "int32",
          "type": "integer"
        },
        "layout": {
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageLayout",
          "description": "Layout for the page."
        },
        "formFields": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageFormField"
          },
          "description": "A list of visually detected form fields on the page.",
          "type": "array"
        },
        "symbols": {
          "type": "array",
          "description": "A list of visually detected symbols on the page.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageSymbol"
          }
        },
        "paragraphs": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageParagraph"
          },
          "description": "A list of visually detected text paragraphs on the page. A collection of lines that a human would perceive as a paragraph.",
          "type": "array"
        },
        "blocks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageBlock"
          },
          "description": "A list of visually detected text blocks on the page. A block has a set of lines (collected into paragraphs) that have a common line-spacing and orientation."
        },
        "tokens": {
          "description": "A list of visually detected tokens on the page.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageToken"
          },
          "type": "array"
        },
        "detectedBarcodes": {
          "description": "A list of detected barcodes.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageDetectedBarcode"
          },
          "type": "array"
        },
        "transforms": {
          "type": "array",
          "description": "Transformation matrices that were applied to the original document image to produce Page.image.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageMatrix"
          }
        },
        "tables": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageTable"
          },
          "description": "A list of visually detected tables on the page.",
          "type": "array"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3ImportDocumentsRequestBatchDocumentsImportConfigAutoSplitConfig": {
      "description": "The config for auto-split.",
      "properties": {
        "trainingSplitRatio": {
          "type": "number",
          "description": "Ratio of training dataset split.",
          "format": "float"
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3ImportDocumentsRequestBatchDocumentsImportConfigAutoSplitConfig"
    },
    "GoogleCloudDocumentaiV1beta3GcsPrefix": {
      "properties": {
        "gcsUriPrefix": {
          "type": "string",
          "description": "The URI prefix."
        }
      },
      "description": "Specifies all documents on Cloud Storage with a common prefix.",
      "id": "GoogleCloudDocumentaiV1beta3GcsPrefix",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3SchemaEntityType": {
      "id": "GoogleCloudDocumentaiUiv1beta3SchemaEntityType",
      "properties": {
        "source": {
          "description": "Source of this entity type.",
          "type": "string",
          "enum": [
            "SOURCE_UNSPECIFIED",
            "PREDEFINED",
            "USER_INPUT"
          ],
          "enumDescriptions": [
            "Unspecified source.",
            "The entity type is in the predefined schema of a pretrained version of a processor.",
            "The entity type is added by the users either: - during an uptraining of an existing processor, or - during the process of creating a customized processor."
          ]
        },
        "description": {
          "type": "string",
          "description": "Description of the entity type."
        },
        "occurrenceType": {
          "enumDescriptions": [
            "Unspecified occurrence type.",
            "The entity type will appear zero times or once.",
            "The entity type will appear zero or multiple times.",
            "The entity type will only appear exactly once.",
            "The entity type will appear once or more times."
          ],
          "type": "string",
          "enum": [
            "OCCURRENCE_TYPE_UNSPECIFIED",
            "OPTIONAL_ONCE",
            "OPTIONAL_MULTIPLE",
            "REQUIRED_ONCE",
            "REQUIRED_MULTIPLE"
          ],
          "description": "Occurrence type limits the number of times an entity type appears in the document."
        },
        "type": {
          "description": "Name of the type. It must satisfy the following constraints: 1. Must be unique within the set of same level types (with case-insensitive match). 2. Maximum 64 characters. 3. Must start with a letter. 4. Allowed characters: ASCII letters [a-zA-Z], ASCII digits [0-9], or one of the following punctuation characters: * underscore '_' (recommended) * hyphen '-' (allowed, not recommended) * colon ':' (allowed, not recommended) NOTE: Whitespace characters are not allowed. 5. Cannot end with a punctuation character. 6. Cannot contain the following restricted strings: \"google\", \"DocumentAI\" (case-insensitive match). 7. A slash character '/' is reserved as a separator in flattened representations of nested entity types (e.g., \"line_item/amount\") in which case each part (e.g., \"line_item\", \"amount\") must comply with the rules defined above. We recommend using the snake case (\"snake_case\") in entity type names.",
          "type": "string"
        },
        "properties": {
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3SchemaEntityType"
          },
          "type": "array",
          "description": "Describing the nested structure of an entity. An EntityType may consist of several other EntityTypes. For example, in a document there can be an EntityType `ID`, which consists of EntityType `name` and `address`, with corresponding attributes, such as TEXT for both types and ONCE for occurrence types."
        },
        "method": {
          "enumDescriptions": [
            "Unspecified method. It defaults to `EXTRACT`.",
            "The entity's value is directly extracted as-is from the document text.",
            "The entity's value is derived through inference and is not necessarily an exact text extraction from the document.",
            "Attempts to extract the position and value as-is from the document text. If the value cannot be grounded in the text, it falls back to derivation through inference, for both position and value. Note: The inference fallback is currently only supported for boolean entities."
          ],
          "description": "Specifies how the entity's value is obtained.",
          "type": "string",
          "enum": [
            "METHOD_UNSPECIFIED",
            "EXTRACT",
            "DERIVE",
            "RELAXED_EXTRACT"
          ]
        },
        "hide": {
          "description": "If the entity type is hidden in the schema. This provides the functionality to temporally \"disable\" an entity without deleting it.",
          "type": "boolean"
        },
        "baseType": {
          "type": "string"
        },
        "enumValues": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "If specified, lists all the possible values for this entity."
        }
      },
      "description": "EntityType is the wrapper of a label of the corresponding model with detailed attributes and limitations for entity-based processors. Multiple types can also compose a dependency tree to represent nested types.",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3HumanReviewLabelingMetadata": {
      "id": "GoogleCloudDocumentaiUiv1beta3HumanReviewLabelingMetadata",
      "type": "object",
      "description": "Metadata for human review labeling config.",
      "properties": {
        "enableNormalizationEditing": {
          "description": "Whether to enable normalization editing.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDocumentaiV1ReviewDocumentOperationMetadata": {
      "id": "GoogleCloudDocumentaiV1ReviewDocumentOperationMetadata",
      "type": "object",
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiV1CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        },
        "questionId": {
          "type": "string",
          "description": "The Crowd Compute question ID."
        }
      },
      "description": "The long-running operation metadata for the ReviewDocument method."
    },
    "GoogleCloudDocumentaiUiv1beta3DisableProcessorMetadata": {
      "description": "The long-running operation metadata for the DisableProcessor method.",
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3DisableProcessorMetadata",
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3EvaluateProcessorVersionResponse": {
      "properties": {
        "evaluation": {
          "description": "The resource name of the created evaluation.",
          "type": "string"
        }
      },
      "description": "Response of the EvaluateProcessorVersion method.",
      "id": "GoogleCloudDocumentaiUiv1beta3EvaluateProcessorVersionResponse",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3DocumentEntityValidationOutput": {
      "description": "The output of the validation given the document and the validation rules.",
      "properties": {
        "validationResults": {
          "description": "The result of each validation rule.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentEntityValidationOutputValidationResult"
          },
          "type": "array"
        },
        "passAllRules": {
          "type": "boolean",
          "description": "The overall result of the validation, true if all applicable rules are valid."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DocumentEntityValidationOutput",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3ProcessResponse": {
      "properties": {
        "humanReviewStatus": {
          "description": "The status of human review on the processed document.",
          "$ref": "GoogleCloudDocumentaiV1beta3HumanReviewStatus"
        },
        "humanReviewOperation": {
          "description": "The name of the operation triggered by the processed document. If the human review process isn't triggered, this field is empty. It has the same response type and metadata as the long-running operation returned by ReviewDocument.",
          "deprecated": true,
          "type": "string"
        },
        "document": {
          "$ref": "GoogleCloudDocumentaiV1beta3Document",
          "description": "The document payload, will populate fields based on the processor's behavior."
        }
      },
      "type": "object",
      "description": "Response message for the ProcessDocument method.",
      "id": "GoogleCloudDocumentaiV1beta3ProcessResponse"
    },
    "GoogleCloudDocumentaiV1beta3DocumentDocumentLayoutDocumentLayoutBlockLayoutImageBlock": {
      "description": "Represents an image type block.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3DocumentDocumentLayoutDocumentLayoutBlockLayoutImageBlock",
      "properties": {
        "blobAssetId": {
          "description": "Optional. Asset ID of the inline image. If set, find the image content in the blob_assets field.",
          "type": "string"
        },
        "imageText": {
          "description": "Text extracted from the image using OCR or alt text describing the image.",
          "type": "string"
        },
        "dataUri": {
          "type": "string",
          "description": "Optional. Data URI of the image. It is composed of four parts: a prefix (data:), a MIME type indicating the type of data, an optional base64 token if non-textual, and the data itself: data:,"
        },
        "annotations": {
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentAnnotations",
          "description": "Annotation of the image block."
        },
        "gcsUri": {
          "description": "Optional. Google Cloud Storage URI of the image.",
          "type": "string"
        },
        "mimeType": {
          "type": "string",
          "description": "Mime type of the image. An IANA published [media type (MIME type)] (https://www.iana.org/assignments/media-types/media-types.xhtml)."
        }
      }
    },
    "CloudAiDocumentaiLabHifiaToolsValidationValidatorInput": {
      "type": "object",
      "id": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInput",
      "properties": {
        "validationRules": {
          "items": {
            "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRule"
          },
          "type": "array"
        }
      },
      "description": "Definition of the validation rules. Those are the input to the validator logic and they are used to validate a document. Next ID: 3"
    },
    "GoogleCloudDocumentaiV1beta3DocumentEntitiesRevision": {
      "description": "Entity revision.",
      "id": "GoogleCloudDocumentaiV1beta3DocumentEntitiesRevision",
      "properties": {
        "entities": {
          "description": "The entities in this revision.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentEntity"
          }
        },
        "provenance": {
          "description": "Optional. The history of this revision.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentProvenance"
        },
        "revisionId": {
          "type": "string",
          "description": "The revision id."
        },
        "entityValidationOutput": {
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentEntityValidationOutput",
          "description": "The entity validation output for this revision."
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3DocumentDocumentLayoutDocumentLayoutBlockLayoutPageSpan": {
      "properties": {
        "pageEnd": {
          "type": "integer",
          "description": "Page where block ends in the document.",
          "format": "int32"
        },
        "pageStart": {
          "format": "int32",
          "description": "Page where block starts in the document.",
          "type": "integer"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DocumentDocumentLayoutDocumentLayoutBlockLayoutPageSpan",
      "description": "Represents where the block starts and ends in the document.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3TrainProcessorVersionMetadataDatasetValidation": {
      "properties": {
        "datasetErrors": {
          "type": "array",
          "description": "Error information for the dataset as a whole. A maximum of 10 dataset errors will be returned. A single dataset error is terminal for training.",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "documentErrorCount": {
          "format": "int32",
          "description": "The total number of document errors.",
          "type": "integer"
        },
        "documentErrors": {
          "type": "array",
          "description": "Error information pertaining to specific documents. A maximum of 10 document errors will be returned. Any document with errors will not be used throughout training.",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "datasetErrorCount": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of dataset errors."
        }
      },
      "description": "The dataset validation information. This includes any and all errors with documents and the dataset.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3TrainProcessorVersionMetadataDatasetValidation"
    },
    "GoogleCloudDocumentaiV1SetDefaultProcessorVersionMetadata": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1SetDefaultProcessorVersionMetadata",
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiV1CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      },
      "description": "The long-running operation metadata for the SetDefaultProcessorVersion method."
    },
    "GoogleCloudDocumentaiUiv1beta3ResyncDatasetResponse": {
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3ResyncDatasetResponse",
      "description": "The response proto of ResyncDataset method.",
      "properties": {}
    },
    "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleFormValidation": {
      "properties": {
        "validationOperator": {
          "type": "string",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "OPERATION_TYPE_EQ",
            "OPERATION_TYPE_NE",
            "OPERATION_TYPE_LT",
            "OPERATION_TYPE_LE",
            "OPERATION_TYPE_GT",
            "OPERATION_TYPE_GE"
          ],
          "description": "The relational operator to be applied to the operands.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "leftOperand": {
          "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleFormValidationOperation"
        },
        "rightOperand": {
          "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleFormValidationOperation"
        }
      },
      "type": "object",
      "id": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleFormValidation"
    },
    "GoogleCloudDocumentaiUiv1beta3SummaryOptions": {
      "properties": {
        "length": {
          "type": "string",
          "enum": [
            "LENGTH_UNSPECIFIED",
            "BRIEF",
            "MODERATE",
            "COMPREHENSIVE"
          ],
          "description": "How long the summary should be.",
          "enumDescriptions": [
            "Default.",
            "A brief summary of one or two sentences.",
            "A paragraph-length summary.",
            "The longest option available."
          ]
        },
        "format": {
          "description": "The format the summary should be in.",
          "enumDescriptions": [
            "Default.",
            "Format the output in paragraphs.",
            "Format the output in bullets."
          ],
          "type": "string",
          "enum": [
            "FORMAT_UNSPECIFIED",
            "PARAGRAPH",
            "BULLETS"
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3SummaryOptions",
      "description": "Metadata for document summarization."
    },
    "GoogleCloudDocumentaiV1beta3FieldExtractionMetadata": {
      "id": "GoogleCloudDocumentaiV1beta3FieldExtractionMetadata",
      "properties": {
        "summaryOptions": {
          "description": "Summary options config.",
          "$ref": "GoogleCloudDocumentaiV1beta3SummaryOptions"
        }
      },
      "type": "object",
      "description": "Metadata for how this field value is extracted."
    },
    "GoogleCloudDocumentaiV1beta3GenerateSchemaVersionRequest": {
      "description": "Request message for GenerateSchemaVersion.",
      "id": "GoogleCloudDocumentaiV1beta3GenerateSchemaVersionRequest",
      "properties": {
        "inlineDocuments": {
          "description": "The set of documents specified inline. For each document, its `uri` or `content` field must be set.",
          "$ref": "GoogleCloudDocumentaiV1beta3Documents"
        },
        "rawDocuments": {
          "description": "The set of raw documents.",
          "$ref": "GoogleCloudDocumentaiV1beta3RawDocuments"
        },
        "gcsDocuments": {
          "$ref": "GoogleCloudDocumentaiV1beta3GcsDocuments",
          "description": "The set of documents placed on Cloud Storage."
        },
        "generateSchemaVersionParams": {
          "description": "Optional. User specified parameters for the schema generation.",
          "$ref": "GoogleCloudDocumentaiV1beta3GenerateSchemaVersionRequestGenerateSchemaVersionParams"
        },
        "gcsPrefix": {
          "$ref": "GoogleCloudDocumentaiV1beta3GcsPrefix",
          "description": "The common prefix of documents placed on Cloud Storage."
        },
        "baseSchemaVersion": {
          "description": "The base schema version name to use for the schema generation. Format: `projects/{project}/locations/{location}/schemas/{schema}/schemaVersions/{schema_version}`",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3NormalizedVertex": {
      "properties": {
        "x": {
          "format": "float",
          "description": "X coordinate.",
          "type": "number"
        },
        "y": {
          "type": "number",
          "description": "Y coordinate (starts from the top of the image).",
          "format": "float"
        }
      },
      "type": "object",
      "description": "A vertex represents a 2D point in the image. NOTE: the normalized vertex coordinates are relative to the original image and range from 0 to 1.",
      "id": "GoogleCloudDocumentaiV1beta3NormalizedVertex"
    },
    "GoogleCloudDocumentaiV1beta3TrainProcessorVersionRequestInputData": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3TrainProcessorVersionRequestInputData",
      "description": "The input data used to train a new ProcessorVersion.",
      "properties": {
        "testDocuments": {
          "description": "The documents used for testing the trained version.",
          "$ref": "GoogleCloudDocumentaiV1beta3BatchDocumentsInputConfig"
        },
        "trainingDocuments": {
          "$ref": "GoogleCloudDocumentaiV1beta3BatchDocumentsInputConfig",
          "description": "The documents used for training the new version."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3DocumentChunkedDocumentChunkChunkPageFooter": {
      "properties": {
        "text": {
          "description": "Footer in text format.",
          "type": "string"
        },
        "pageSpan": {
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentChunkedDocumentChunkChunkPageSpan",
          "description": "Page span of the footer."
        }
      },
      "description": "Represents the page footer associated with the chunk.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3DocumentChunkedDocumentChunkChunkPageFooter"
    },
    "GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadata": {
      "description": "Metadata of the batch export documents operation.",
      "type": "object",
      "properties": {
        "splitExportStats": {
          "type": "array",
          "description": "The list of statistics for each dataset split type.",
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadataSplitExportStat"
          }
        },
        "individualExportStatuses": {
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadataIndividualExportStatus"
          },
          "type": "array",
          "description": "The list of response details of each document."
        },
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadata"
    },
    "GoogleCloudDocumentaiV1beta3RawDocument": {
      "description": "Payload message of raw document content (bytes).",
      "properties": {
        "displayName": {
          "description": "The display name of the document, it supports all Unicode characters except the following: `*`, `?`, `[`, `]`, `%`, `{`, `}`,`'`, `\\\"`, `,` `~`, `=` and `:` are reserved. If not specified, a default ID is generated.",
          "type": "string"
        },
        "content": {
          "description": "Inline document content.",
          "format": "byte",
          "type": "string"
        },
        "mimeType": {
          "description": "An IANA MIME type (RFC6838) indicating the nature and format of the content.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3RawDocument"
    },
    "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata": {
      "description": "The common metadata for long running operations.",
      "properties": {
        "resource": {
          "description": "A related resource to this operation.",
          "type": "string"
        },
        "stateMessage": {
          "type": "string",
          "description": "A message providing more details about the current state of processing."
        },
        "createTime": {
          "description": "The creation time of the operation.",
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "Operation is still running.",
            "Operation is being cancelled.",
            "Operation succeeded.",
            "Operation failed.",
            "Operation is cancelled."
          ],
          "description": "The state of the operation.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "CANCELLING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED"
          ]
        },
        "updateTime": {
          "type": "string",
          "description": "The last update time of the operation.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
    },
    "GoogleCloudDocumentaiV1beta3DocumentPageImage": {
      "type": "object",
      "description": "Rendered image contents for this page.",
      "id": "GoogleCloudDocumentaiV1beta3DocumentPageImage",
      "properties": {
        "width": {
          "format": "int32",
          "description": "Width of the image in pixels.",
          "type": "integer"
        },
        "height": {
          "type": "integer",
          "description": "Height of the image in pixels.",
          "format": "int32"
        },
        "mimeType": {
          "description": "Encoding [media type (MIME type)](https://www.iana.org/assignments/media-types/media-types.xhtml) for the image.",
          "type": "string"
        },
        "content": {
          "type": "string",
          "format": "byte",
          "description": "Raw byte content of the image."
        }
      }
    },
    "GoogleLongrunningListOperationsResponse": {
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "operations": {
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "GoogleLongrunningListOperationsResponse"
    },
    "GoogleCloudDocumentaiUiv1beta3ExportProcessorVersionMetadata": {
      "id": "GoogleCloudDocumentaiUiv1beta3ExportProcessorVersionMetadata",
      "description": "Metadata message associated with the ExportProcessorVersion operation.",
      "properties": {
        "commonMetadata": {
          "description": "The common metadata about the operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3UpdateDatasetOperationMetadata": {
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3UpdateDatasetOperationMetadata",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3GetDocumentResponse": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3GetDocumentResponse",
      "properties": {
        "document": {
          "$ref": "GoogleCloudDocumentaiV1beta3Document"
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3Processor": {
      "type": "object",
      "description": "The first-class citizen for Document AI. Each processor defines how to extract structural information from a document.",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Immutable. The resource name of the processor. Format: `projects/{project}/locations/{location}/processors/{processor}`"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the processor was created.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "The processor is in an unspecified state.",
            "The processor is enabled, i.e., has an enabled version which can currently serve processing requests and all the feature dependencies have been successfully initialized.",
            "The processor is disabled.",
            "The processor is being enabled, will become `ENABLED` if successful.",
            "The processor is being disabled, will become `DISABLED` if successful.",
            "The processor is being created, will become either `ENABLED` (for successful creation) or `FAILED` (for failed ones). Once a processor is in this state, it can then be used for document processing, but the feature dependencies of the processor might not be fully created yet.",
            "The processor failed during creation or initialization of feature dependencies. The user should delete the processor and recreate one as all the functionalities of the processor are disabled.",
            "The processor is being deleted, will be removed if successful."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED",
            "ENABLING",
            "DISABLING",
            "CREATING",
            "FAILED",
            "DELETING"
          ],
          "readOnly": true,
          "description": "Output only. The state of the processor."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the processor."
        },
        "activeSchemaVersion": {
          "type": "string",
          "description": "Optional. SchemaVersion used by the Processor. It is the same as Processor's DatasetSchema.schema_version Format is `projects/{project}/locations/{location}/schemas/{schema}/schemaVersions/{schema_version}."
        },
        "satisfiesPzs": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Reserved for future use."
        },
        "defaultProcessorVersion": {
          "description": "The default processor version.",
          "type": "string"
        },
        "processorVersionAliases": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. The processor version aliases.",
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3ProcessorVersionAlias"
          }
        },
        "kmsKeyName": {
          "description": "The [KMS key](https://cloud.google.com/security-key-management) used for encryption and decryption in CMEK scenarios.",
          "type": "string"
        },
        "type": {
          "description": "The processor type, such as: `OCR_PROCESSOR`, `INVOICE_PROCESSOR`. To get a list of processor types, see FetchProcessorTypes.",
          "type": "string"
        },
        "processEndpoint": {
          "description": "Output only. Immutable. The http endpoint that can be called to invoke processing.",
          "readOnly": true,
          "type": "string"
        },
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3Processor"
    },
    "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleConstant": {
      "id": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleConstant",
      "type": "object",
      "description": "The constant value used in the validation rules.",
      "properties": {
        "floatValue": {
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3ImportDocumentsMetadataImportConfigValidationResult": {
      "id": "GoogleCloudDocumentaiV1beta3ImportDocumentsMetadataImportConfigValidationResult",
      "description": "The validation status of each import config. Status is set to an error if there are no documents to import in the `import_config`, or `OK` if the operation will try to proceed with at least one document.",
      "type": "object",
      "properties": {
        "inputGcsSource": {
          "description": "The source Cloud Storage URI specified in the import config.",
          "type": "string"
        },
        "status": {
          "description": "The validation status of import config.",
          "$ref": "GoogleRpcStatus"
        }
      }
    },
    "GoogleCloudDocumentaiV1SetDefaultProcessorVersionResponse": {
      "properties": {},
      "description": "Response message for the SetDefaultProcessorVersion method.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1SetDefaultProcessorVersionResponse"
    },
    "GoogleCloudDocumentaiV1beta3DocumentSchemaEntityTypeProperty": {
      "properties": {
        "description": {
          "description": "The description of the property. Could be used to provide more information about the property for model calls.",
          "type": "string"
        },
        "propertyMetadata": {
          "$ref": "GoogleCloudDocumentaiV1beta3PropertyMetadata",
          "description": "Any additional metadata about the property can be added here."
        },
        "name": {
          "description": "The name of the property. Follows the same guidelines as the EntityType name.",
          "type": "string"
        },
        "method": {
          "description": "Specifies how the entity's value is obtained.",
          "type": "string",
          "enum": [
            "METHOD_UNSPECIFIED",
            "EXTRACT",
            "DERIVE",
            "RELAXED_EXTRACT"
          ],
          "enumDescriptions": [
            "Unspecified method. It defaults to `EXTRACT`.",
            "The entity's value is directly extracted as-is from the document text.",
            "The entity's value is derived through inference and is not necessarily an exact text extraction from the document.",
            "Attempts to extract the position and value as-is from the document text. If the value cannot be grounded in the text, it falls back to derivation through inference, for both position and value. Note: The inference fallback is currently only supported for boolean entities."
          ]
        },
        "valueType": {
          "description": "A reference to the value type of the property. This type is subject to the same conventions as the `Entity.base_types` field.",
          "type": "string"
        },
        "displayName": {
          "description": "User defined name for the property.",
          "type": "string"
        },
        "occurrenceType": {
          "description": "Occurrence type limits the number of instances an entity type appears in the document.",
          "enumDescriptions": [
            "Unspecified occurrence type.",
            "There will be zero or one instance of this entity type. The same entity instance may be mentioned multiple times.",
            "The entity type will appear zero or multiple times.",
            "The entity type will only appear exactly once. The same entity instance may be mentioned multiple times.",
            "The entity type will appear once or more times."
          ],
          "type": "string",
          "enum": [
            "OCCURRENCE_TYPE_UNSPECIFIED",
            "OPTIONAL_ONCE",
            "OPTIONAL_MULTIPLE",
            "REQUIRED_ONCE",
            "REQUIRED_MULTIPLE"
          ]
        }
      },
      "description": "Defines properties that can be part of the entity type.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3DocumentSchemaEntityTypeProperty"
    },
    "GoogleCloudDocumentaiV1beta3EvaluateProcessorVersionResponse": {
      "description": "Response of the EvaluateProcessorVersion method.",
      "type": "object",
      "properties": {
        "evaluation": {
          "description": "The resource name of the created evaluation.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3EvaluateProcessorVersionResponse"
    },
    "GoogleCloudDocumentaiV1beta3OcrConfigPremiumFeatures": {
      "id": "GoogleCloudDocumentaiV1beta3OcrConfigPremiumFeatures",
      "description": "Configurations for premium OCR features.",
      "type": "object",
      "properties": {
        "computeStyleInfo": {
          "type": "boolean",
          "description": "Turn on font identification model and return font style information."
        },
        "enableMathOcr": {
          "description": "Turn on the model that can extract LaTeX math formulas.",
          "type": "boolean"
        },
        "enableSelectionMarkDetection": {
          "description": "Turn on selection mark detector in OCR engine. Only available in OCR 2.0 (and later) processors.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDocumentaiV1DeleteProcessorMetadata": {
      "id": "GoogleCloudDocumentaiV1DeleteProcessorMetadata",
      "type": "object",
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiV1CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      },
      "description": "The long-running operation metadata for the DeleteProcessor method."
    },
    "GoogleCloudDocumentaiV1beta3ListDocumentsRequest": {
      "type": "object",
      "properties": {
        "filter": {
          "type": "string",
          "description": "Optional. Query to filter the documents based on https://google.aip.dev/160. ## Currently support query strings are: `SplitType=DATASET_SPLIT_TEST|DATASET_SPLIT_TRAIN|DATASET_SPLIT_UNASSIGNED` - `LabelingState=DOCUMENT_LABELED|DOCUMENT_UNLABELED|DOCUMENT_AUTO_LABELED` - `DisplayName=\\\"file_name.pdf\\\"` - `EntityType=abc/def` - `TagName=\\\"auto-labeling-running\\\"|\\\"sampled\\\"` Note: - Only `AND`, `=` and `!=` are supported. e.g. `DisplayName=file_name AND EntityType!=abc` IS supported. - Wildcard `*` is supported only in `DisplayName` filter - No duplicate filter keys are allowed, e.g. `EntityType=a AND EntityType=b` is NOT supported. - String match is case sensitive (for filter `DisplayName` & `EntityType`)."
        },
        "returnTotalSize": {
          "type": "boolean",
          "description": "Optional. Controls if the request requires a total size of matched documents. See ListDocumentsResponse.total_size. Enabling this flag may adversely impact performance. Defaults to false."
        },
        "pageToken": {
          "description": "A page token, received from a previous `ListDocuments` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListDocuments` must match the call that provided the page token.",
          "type": "string"
        },
        "pageSize": {
          "description": "The maximum number of documents to return. The service may return fewer than this value. If unspecified, at most 20 documents will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
          "format": "int32",
          "type": "integer"
        },
        "skip": {
          "description": "Optional. Number of results to skip beginning from the `page_token` if provided. https://google.aip.dev/158#skipping-results. It must be a non-negative integer. Negative values will be rejected. Note that this is not the number of pages to skip. If this value causes the cursor to move past the end of results, ListDocumentsResponse.document_metadata and ListDocumentsResponse.next_page_token will be empty.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3ListDocumentsRequest"
    },
    "GoogleCloudDocumentaiV1beta3ImportDocumentsResponse": {
      "properties": {},
      "description": "Response of the import document operation.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3ImportDocumentsResponse"
    },
    "GoogleCloudDocumentaiV1beta3GcsDocuments": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3GcsDocuments",
      "description": "Specifies a set of documents on Cloud Storage.",
      "properties": {
        "documents": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3GcsDocument"
          },
          "description": "The list of documents.",
          "type": "array"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3ImportDocumentsMetadataIndividualImportStatus": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3ImportDocumentsMetadataIndividualImportStatus",
      "description": "The status of each individual document in the import process.",
      "properties": {
        "outputDocumentId": {
          "description": "The document ID of imported document if it was successful, otherwise empty.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentId"
        },
        "inputGcsSource": {
          "type": "string",
          "description": "The source Cloud Storage URI of the document."
        },
        "status": {
          "description": "The status of the importing of the document.",
          "$ref": "GoogleRpcStatus"
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3UpdateDatasetOperationMetadata": {
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3UpdateDatasetOperationMetadata",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3DocumentStyleFontSize": {
      "properties": {
        "size": {
          "format": "float",
          "description": "Font size for the text.",
          "type": "number"
        },
        "unit": {
          "type": "string",
          "description": "Unit for the font size. Follows CSS naming (such as `in`, `px`, and `pt`)."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DocumentStyleFontSize",
      "type": "object",
      "description": "Font size with unit."
    },
    "GoogleCloudDocumentaiV1beta3DatasetUnmanagedDatasetConfig": {
      "type": "object",
      "description": "Configuration specific to an unmanaged dataset.",
      "id": "GoogleCloudDocumentaiV1beta3DatasetUnmanagedDatasetConfig",
      "properties": {}
    },
    "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleChildAlignmentRule": {
      "description": "A rule that aligns specified child fields with a parent field.",
      "id": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleChildAlignmentRule",
      "properties": {
        "alignmentRule": {
          "description": "The alignment rule to apply to the child fields.",
          "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleAlignmentRule"
        },
        "parentField": {
          "description": "The full path of the parent field.",
          "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleField"
        },
        "childFields": {
          "items": {
            "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleField"
          },
          "description": "The child fields to be aligned within the parent field.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3DocumentEntityValidationOutputValidationResult": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3DocumentEntityValidationOutputValidationResult",
      "description": "Validation result for a single validation rule.",
      "properties": {
        "ruleName": {
          "description": "The display name of the validation rule.",
          "type": "string"
        },
        "rule": {
          "type": "string",
          "description": "Optional. The name of the rule resource that is used for validation. Format: `projects/{project}/locations/{location}/rules/{rule}`"
        },
        "ruleDescription": {
          "description": "The description of the validation rule.",
          "type": "string"
        },
        "validationDetails": {
          "type": "string",
          "description": "The detailed information of the running the validation process using the entity from the document based on the validation rule."
        },
        "validationResultType": {
          "enumDescriptions": [
            "The validation result type is unspecified.",
            "The validation is valid.",
            "The validation is invalid.",
            "The validation is skipped.",
            "The validation is not applicable."
          ],
          "description": "The result of the validation rule.",
          "type": "string",
          "enum": [
            "VALIDATION_RESULT_TYPE_UNSPECIFIED",
            "VALIDATION_RESULT_TYPE_VALID",
            "VALIDATION_RESULT_TYPE_INVALID",
            "VALIDATION_RESULT_TYPE_SKIPPED",
            "VALIDATION_RESULT_TYPE_NOT_APPLICABLE"
          ]
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3Dataset": {
      "description": "A singleton resource under a Processor which configures a collection of documents.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Dataset resource name. Format: `projects/{project}/locations/{location}/processors/{processor}/dataset`"
        },
        "documentWarehouseConfig": {
          "$ref": "GoogleCloudDocumentaiV1beta3DatasetDocumentWarehouseConfig",
          "description": "Optional. Deprecated. Warehouse-based dataset configuration is not supported.",
          "deprecated": true
        },
        "satisfiesPzs": {
          "type": "boolean",
          "description": "Output only. Reserved for future use.",
          "readOnly": true
        },
        "gcsManagedConfig": {
          "$ref": "GoogleCloudDocumentaiV1beta3DatasetGCSManagedConfig",
          "description": "Optional. User-managed Cloud Storage dataset configuration. Use this configuration if the dataset documents are stored under a user-managed Cloud Storage location."
        },
        "satisfiesPzi": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Reserved for future use."
        },
        "unmanagedDatasetConfig": {
          "description": "Optional. Unmanaged dataset configuration. Use this configuration if the dataset documents are managed by the document service internally (not user-managed).",
          "$ref": "GoogleCloudDocumentaiV1beta3DatasetUnmanagedDatasetConfig"
        },
        "state": {
          "enumDescriptions": [
            "Default unspecified enum, should not be used.",
            "Dataset has not been initialized.",
            "Dataset is being initialized.",
            "Dataset has been initialized."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "UNINITIALIZED",
            "INITIALIZING",
            "INITIALIZED"
          ],
          "description": "Required. State of the dataset. Ignored when updating dataset."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3Dataset",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3ExportDocumentsResponse": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDocumentaiUiv1beta3ExportDocumentsResponse",
      "description": "The response proto of ExportDocuments method."
    },
    "GoogleCloudDocumentaiV1beta3ListSchemasResponse": {
      "properties": {
        "schemas": {
          "type": "array",
          "description": "The list of Schemas.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3NextSchema"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Points to the next Schema, otherwise empty."
        }
      },
      "description": "Response message for ListSchemas.",
      "id": "GoogleCloudDocumentaiV1beta3ListSchemasResponse",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3DocumentEntityRelation": {
      "id": "GoogleCloudDocumentaiV1beta3DocumentEntityRelation",
      "properties": {
        "objectId": {
          "description": "Object entity id.",
          "type": "string"
        },
        "relation": {
          "type": "string",
          "description": "Relationship description."
        },
        "subjectId": {
          "type": "string",
          "description": "Subject entity id."
        }
      },
      "description": "Relationship between Entities.",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3EvaluationMetrics": {
      "id": "GoogleCloudDocumentaiUiv1beta3EvaluationMetrics",
      "description": "Evaluation metrics, either in aggregate or about a specific entity.",
      "type": "object",
      "properties": {
        "falseNegativesCount": {
          "description": "The amount of false negatives.",
          "type": "integer",
          "format": "int32"
        },
        "predictedOccurrencesCount": {
          "type": "integer",
          "description": "The amount of occurrences in predicted documents.",
          "format": "int32"
        },
        "groundTruthOccurrencesCount": {
          "type": "integer",
          "format": "int32",
          "description": "The amount of occurrences in ground truth documents."
        },
        "f1Score": {
          "type": "number",
          "description": "The calculated F1 score.",
          "format": "float"
        },
        "recall": {
          "type": "number",
          "format": "float",
          "description": "The calculated recall."
        },
        "truePositivesCount": {
          "description": "The amount of true positives.",
          "format": "int32",
          "type": "integer"
        },
        "groundTruthDocumentCount": {
          "type": "integer",
          "format": "int32",
          "description": "The amount of documents with a ground truth occurrence."
        },
        "precision": {
          "format": "float",
          "description": "The calculated precision.",
          "type": "number"
        },
        "falsePositivesCount": {
          "type": "integer",
          "description": "The amount of false positives.",
          "format": "int32"
        },
        "totalDocumentsCount": {
          "description": "The amount of documents that had an occurrence of this label.",
          "type": "integer",
          "format": "int32"
        },
        "predictedDocumentCount": {
          "format": "int32",
          "description": "The amount of documents with a predicted occurrence.",
          "type": "integer"
        }
      }
    },
    "GoogleCloudDocumentaiV1EnableProcessorResponse": {
      "description": "Response message for the EnableProcessor method. Intentionally empty proto for adding fields in future.",
      "properties": {},
      "id": "GoogleCloudDocumentaiV1EnableProcessorResponse",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3DocumentPageDimension": {
      "id": "GoogleCloudDocumentaiV1beta3DocumentPageDimension",
      "description": "Dimension for the page.",
      "type": "object",
      "properties": {
        "height": {
          "format": "float",
          "type": "number",
          "description": "Page height."
        },
        "width": {
          "format": "float",
          "description": "Page width.",
          "type": "number"
        },
        "unit": {
          "type": "string",
          "description": "Dimension unit."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3DocumentPageImageQualityScores": {
      "id": "GoogleCloudDocumentaiV1beta3DocumentPageImageQualityScores",
      "description": "Image quality scores for the page image.",
      "properties": {
        "detectedDefects": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageImageQualityScoresDetectedDefect"
          },
          "type": "array",
          "description": "A list of detected defects."
        },
        "qualityScore": {
          "format": "float",
          "type": "number",
          "description": "The overall quality score. Range `[0, 1]` where `1` is perfect quality."
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3SchemaInferenceMetadata": {
      "type": "object",
      "description": "Metadata for schema inference. Only used on dataset.schema for schema inference, can be safely ignored elsewhere.",
      "id": "GoogleCloudDocumentaiUiv1beta3SchemaInferenceMetadata",
      "properties": {
        "inferred": {
          "description": "True if is inferred by schema inference.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3UndeployProcessorVersionRequest": {
      "description": "Request message for the UndeployProcessorVersion method.",
      "id": "GoogleCloudDocumentaiV1beta3UndeployProcessorVersionRequest",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3ListSchemaVersionsResponse": {
      "description": "Response message for ListSchemaVersions.",
      "properties": {
        "nextPageToken": {
          "description": "Points to the next SchemaVersion, otherwise empty.",
          "type": "string"
        },
        "schemaVersions": {
          "description": "The list of SchemaVersions.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3SchemaVersion"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3ListSchemaVersionsResponse",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3DatasetGCSManagedConfig": {
      "description": "Configuration specific to the Cloud Storage-based implementation.",
      "properties": {
        "gcsPrefix": {
          "description": "Required. The Cloud Storage URI (a directory) where the documents belonging to the dataset must be stored.",
          "$ref": "GoogleCloudDocumentaiV1beta3GcsPrefix"
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3DatasetGCSManagedConfig"
    },
    "GoogleCloudDocumentaiV1beta3DocumentPageDetectedLanguage": {
      "description": "Detected language for a structural component.",
      "properties": {
        "languageCode": {
          "description": "The [BCP-47 language code](https://www.unicode.org/reports/tr35/#Unicode_locale_identifier), such as `en-US` or `sr-Latn`.",
          "type": "string"
        },
        "confidence": {
          "format": "float",
          "type": "number",
          "description": "Confidence of detected language. Range `[0, 1]`."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DocumentPageDetectedLanguage",
      "type": "object"
    },
    "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleField": {
      "id": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleField",
      "properties": {
        "defaultValue": {
          "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleConstant",
          "description": "Default value to use if the field is not present. If the field is missing and the default value is not set, the validation run as if the field is not present in the validation logic."
        },
        "fieldName": {
          "type": "string",
          "description": "The field name to validate. This can be a simple field name or a nested field one using the ':' (meant as an aggregator) or '*' (meant as foreach) operators."
        }
      },
      "type": "object"
    },
    "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleFieldOccurrences": {
      "type": "object",
      "properties": {
        "minOccurrences": {
          "type": "integer",
          "format": "uint32",
          "description": "Min and max occurrences of the field. If not set, there is limit set. The defined interval is a closed-closed interval, i.e. [min, max]."
        },
        "field": {
          "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleField"
        },
        "maxOccurrences": {
          "type": "integer",
          "format": "uint32"
        }
      },
      "id": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleFieldOccurrences"
    },
    "GoogleCloudDocumentaiV1beta3BatchDatasetDocuments": {
      "description": "Dataset documents that the batch operation will be applied to.",
      "properties": {
        "filter": {
          "description": "A filter matching the documents. Follows the same format and restriction as [google.cloud.documentai.master.ListDocumentsRequest.filter].",
          "type": "string"
        },
        "individualDocumentIds": {
          "$ref": "GoogleCloudDocumentaiV1beta3BatchDatasetDocumentsIndividualDocumentIds",
          "description": "Document identifiers."
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3BatchDatasetDocuments"
    },
    "GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadataSplitExportStat": {
      "type": "object",
      "properties": {
        "totalDocumentCount": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of documents with the given dataset split type to be exported."
        },
        "splitType": {
          "description": "The dataset split type.",
          "type": "string",
          "enum": [
            "DATASET_SPLIT_TYPE_UNSPECIFIED",
            "DATASET_SPLIT_TRAIN",
            "DATASET_SPLIT_TEST",
            "DATASET_SPLIT_UNASSIGNED"
          ],
          "enumDescriptions": [
            "Default value if the enum is not set.",
            "Identifies the train documents.",
            "Identifies the test documents.",
            "Identifies the unassigned documents."
          ]
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadataSplitExportStat",
      "description": "The statistic representing a dataset split type for this export."
    },
    "GoogleCloudDocumentaiV1beta3EvaluationCounters": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3EvaluationCounters",
      "properties": {
        "invalidDocumentsCount": {
          "type": "integer",
          "description": "How many documents were not included in the evaluation as they didn't pass validation.",
          "format": "int32"
        },
        "evaluatedDocumentsCount": {
          "description": "How many documents were used in the evaluation.",
          "type": "integer",
          "format": "int32"
        },
        "failedDocumentsCount": {
          "description": "How many documents were not included in the evaluation as Document AI failed to process them.",
          "format": "int32",
          "type": "integer"
        },
        "inputDocumentsCount": {
          "format": "int32",
          "description": "How many documents were sent for evaluation.",
          "type": "integer"
        }
      },
      "description": "Evaluation counters for the documents that were used."
    },
    "GoogleCloudDocumentaiV1beta3Processor": {
      "id": "GoogleCloudDocumentaiV1beta3Processor",
      "description": "The first-class citizen for Document AI. Each processor defines how to extract structural information from a document.",
      "type": "object",
      "properties": {
        "activeSchemaVersion": {
          "description": "Optional. SchemaVersion used by the Processor. It is the same as Processor's DatasetSchema.schema_version Format is `projects/{project}/locations/{location}/schemas/{schema}/schemaVersions/{schema_version}.",
          "type": "string"
        },
        "satisfiesPzs": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Reserved for future use."
        },
        "type": {
          "description": "The processor type, such as: `OCR_PROCESSOR`, `INVOICE_PROCESSOR`. To get a list of processor types, see FetchProcessorTypes.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the processor."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the processor was created."
        },
        "name": {
          "description": "Output only. Immutable. The resource name of the processor. Format: `projects/{project}/locations/{location}/processors/{processor}`",
          "type": "string",
          "readOnly": true
        },
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The processor is in an unspecified state.",
            "The processor is enabled, i.e., has an enabled version which can currently serve processing requests and all the feature dependencies have been successfully initialized.",
            "The processor is disabled.",
            "The processor is being enabled, will become `ENABLED` if successful.",
            "The processor is being disabled, will become `DISABLED` if successful.",
            "The processor is being created, will become either `ENABLED` (for successful creation) or `FAILED` (for failed ones). Once a processor is in this state, it can then be used for document processing, but the feature dependencies of the processor might not be fully created yet.",
            "The processor failed during creation or initialization of feature dependencies. The user should delete the processor and recreate one as all the functionalities of the processor are disabled.",
            "The processor is being deleted, will be removed if successful."
          ],
          "description": "Output only. The state of the processor.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED",
            "ENABLING",
            "DISABLING",
            "CREATING",
            "FAILED",
            "DELETING"
          ]
        },
        "kmsKeyName": {
          "type": "string",
          "description": "The [KMS key](https://cloud.google.com/security-key-management) used for encryption and decryption in CMEK scenarios."
        },
        "processEndpoint": {
          "readOnly": true,
          "description": "Output only. Immutable. The http endpoint that can be called to invoke processing.",
          "type": "string"
        },
        "defaultProcessorVersion": {
          "type": "string",
          "description": "The default processor version."
        },
        "processorVersionAliases": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3ProcessorVersionAlias"
          },
          "description": "Output only. The processor version aliases.",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3SchemaVersion": {
      "description": "SchemaVersion is a version of the Schema which is created in SchemaGroup.",
      "properties": {
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The {{gcp_name_short}} labels for the SchemaVersion."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time when the SchemaVersion was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "displayName": {
          "description": "Required. The user-defined name of the SchemaVersion.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the SchemaVersion. Format: `projects/{project}/locations/{location}/schemas/{schema}/schemaVersions/{schema_version}`"
        },
        "schema": {
          "description": "Required. The schema of the SchemaVersion.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentSchema"
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3SchemaVersion"
    },
    "GoogleCloudDocumentaiV1beta3DocumentPageTokenStyleInfo": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3DocumentPageTokenStyleInfo",
      "properties": {
        "superscript": {
          "type": "boolean",
          "description": "Whether the text is a superscript. This feature is not supported yet."
        },
        "handwritten": {
          "type": "boolean",
          "description": "Whether the text is handwritten."
        },
        "italic": {
          "type": "boolean",
          "description": "Whether the text is italic."
        },
        "bold": {
          "description": "Whether the text is bold (equivalent to font_weight is at least `700`).",
          "type": "boolean"
        },
        "fontType": {
          "type": "string",
          "description": "Name or style of the font."
        },
        "smallcaps": {
          "type": "boolean",
          "description": "Whether the text is in small caps. This feature is not supported yet."
        },
        "fontWeight": {
          "type": "integer",
          "format": "int32",
          "description": "TrueType weight on a scale `100` (thin) to `1000` (ultra-heavy). Normal is `400`, bold is `700`."
        },
        "underlined": {
          "description": "Whether the text is underlined.",
          "type": "boolean"
        },
        "strikeout": {
          "description": "Whether the text is strikethrough. This feature is not supported yet.",
          "type": "boolean"
        },
        "textColor": {
          "description": "Color of the text.",
          "$ref": "GoogleTypeColor"
        },
        "letterSpacing": {
          "type": "number",
          "format": "double",
          "description": "Letter spacing in points."
        },
        "fontSize": {
          "type": "integer",
          "description": "Font size in points (`1` point is `¹⁄₇₂` inches).",
          "format": "int32"
        },
        "pixelFontSize": {
          "format": "double",
          "type": "number",
          "description": "Font size in pixels, equal to _unrounded font_size_ * _resolution_ ÷ `72.0`."
        },
        "subscript": {
          "type": "boolean",
          "description": "Whether the text is a subscript. This feature is not supported yet."
        },
        "backgroundColor": {
          "$ref": "GoogleTypeColor",
          "description": "Color of the background."
        }
      },
      "description": "Font and other text style attributes."
    },
    "GoogleCloudDocumentaiUiv1beta3BatchDeleteDocumentsMetadata": {
      "id": "GoogleCloudDocumentaiUiv1beta3BatchDeleteDocumentsMetadata",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        },
        "totalDocumentCount": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of documents deleting from dataset."
        },
        "individualBatchDeleteStatuses": {
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3BatchDeleteDocumentsMetadataIndividualBatchDeleteStatus"
          },
          "type": "array",
          "description": "The list of response details of each document."
        },
        "errorDocumentCount": {
          "format": "int32",
          "description": "Total number of documents that failed to be deleted in storage.",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3EntityTypeMetadata": {
      "properties": {
        "inactive": {
          "type": "boolean",
          "description": "Whether the entity type should be considered inactive."
        },
        "humanReviewLabelingMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3HumanReviewLabelingMetadata",
          "description": "Human review labeling config on the entity."
        },
        "humanReviewMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3HumanReviewValidationMetadata",
          "description": "Human review config on the entity."
        },
        "schemaEditabilityMetadata": {
          "description": "Schema editability metadata on the entity.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3SchemaEditabilityMetadata"
        },
        "fieldTierMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3FieldTierMetadata",
          "description": "Field tier metadata on the property"
        },
        "schemaInferenceMetadata": {
          "description": "Schema inference metadata on the entity.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3SchemaInferenceMetadata"
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3EntityTypeMetadata",
      "description": "Metadata about an entity type.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3ProcessOptionsLayoutConfigChunkingConfig": {
      "id": "GoogleCloudDocumentaiV1beta3ProcessOptionsLayoutConfigChunkingConfig",
      "type": "object",
      "description": "Serving config for chunking.",
      "properties": {
        "semanticChunkingGroupSize": {
          "type": "boolean",
          "description": "Optional. The number of tokens to group together when evaluating semantic similarity. **Note:** This field is not yet used."
        },
        "breakpointPercentileThreshold": {
          "description": "Optional. The percentile of cosine dissimilarity that must be exceeded between a group of tokens and the next. The smaller this number is, the more chunks will be generated. **Note:** This field is not yet used.",
          "type": "integer",
          "format": "int32"
        },
        "includeAncestorHeadings": {
          "type": "boolean",
          "description": "Optional. Whether or not to include ancestor headings when splitting."
        },
        "chunkSize": {
          "format": "int32",
          "description": "Optional. The chunk sizes to use when splitting documents, in order of level.",
          "type": "integer"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3SchemaGenerationIteration": {
      "properties": {
        "adjustedSchema": {
          "description": "Optional. The previous schema version adjusted by the model.",
          "$ref": "GoogleCloudDocumentaiV1beta3SchemaVersion"
        },
        "prompt": {
          "description": "Optional. The prompt used for the iteration.",
          "type": "string"
        },
        "generatedSchema": {
          "$ref": "GoogleCloudDocumentaiV1beta3SchemaVersion",
          "description": "Required. The schema version generated by the model."
        }
      },
      "type": "object",
      "description": "A single iteration of the schema generation.",
      "id": "GoogleCloudDocumentaiV1beta3SchemaGenerationIteration"
    },
    "GoogleCloudDocumentaiV1beta3DocumentPageLine": {
      "description": "A collection of tokens that a human would perceive as a line. Does not cross column boundaries, can be horizontal, vertical, etc.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3DocumentPageLine",
      "properties": {
        "provenance": {
          "deprecated": true,
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentProvenance",
          "description": "The history of this annotation."
        },
        "layout": {
          "description": "Layout for Line.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageLayout"
        },
        "detectedLanguages": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageDetectedLanguage"
          },
          "description": "A list of detected languages together with confidence.",
          "type": "array"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3DeployProcessorVersionRequest": {
      "properties": {},
      "type": "object",
      "description": "Request message for the DeployProcessorVersion method.",
      "id": "GoogleCloudDocumentaiV1beta3DeployProcessorVersionRequest"
    },
    "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleFieldRegex": {
      "properties": {
        "pattern": {
          "type": "string",
          "description": "Python regex to validate the field values."
        },
        "field": {
          "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleField"
        }
      },
      "id": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleFieldRegex",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3DocumentPageAnchor": {
      "description": "Referencing the visual context of the entity in the Document.pages. Page anchors can be cross-page, consist of multiple bounding polygons and optionally reference specific layout element types.",
      "properties": {
        "pageRefs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageAnchorPageRef"
          },
          "description": "One or more references to visual page elements"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DocumentPageAnchor",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3EvaluateProcessorVersionMetadata": {
      "description": "Metadata of the EvaluateProcessorVersion method.",
      "id": "GoogleCloudDocumentaiUiv1beta3EvaluateProcessorVersionMetadata",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3OcrConfigHints": {
      "id": "GoogleCloudDocumentaiV1beta3OcrConfigHints",
      "type": "object",
      "description": "Hints for OCR Engine",
      "properties": {
        "languageHints": {
          "description": "List of BCP-47 language codes to use for OCR. In most cases, not specifying it yields the best results since it enables automatic language detection. For languages based on the Latin alphabet, setting hints is not needed. In rare cases, when the language of the text in the image is known, setting a hint will help get better results (although it will be a significant hindrance if the hint is wrong).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleTypeTimeZone": {
      "id": "GoogleTypeTimeZone",
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "properties": {
        "version": {
          "type": "string",
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\"."
        },
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3ProcessorVersionDeprecationInfo": {
      "type": "object",
      "properties": {
        "replacementProcessorVersion": {
          "type": "string",
          "description": "If set, the processor version that will be used as a replacement."
        },
        "deprecationTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which this processor version will be deprecated."
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3ProcessorVersionDeprecationInfo",
      "description": "Information about the upcoming deprecation of this processor version."
    },
    "GoogleCloudDocumentaiV1beta3DocumentDocumentLayoutDocumentLayoutBlock": {
      "description": "Represents a block. A block could be one of the various types (text, table, list) supported.",
      "properties": {
        "listBlock": {
          "description": "Block consisting of list content/structure.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentDocumentLayoutDocumentLayoutBlockLayoutListBlock"
        },
        "tableBlock": {
          "description": "Block consisting of table content/structure.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentDocumentLayoutDocumentLayoutBlockLayoutTableBlock"
        },
        "imageBlock": {
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentDocumentLayoutDocumentLayoutBlockLayoutImageBlock",
          "description": "Block consisting of image content."
        },
        "pageSpan": {
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentDocumentLayoutDocumentLayoutBlockLayoutPageSpan",
          "description": "Page span of the block."
        },
        "boundingBox": {
          "description": "Identifies the bounding box for the block.",
          "$ref": "GoogleCloudDocumentaiV1beta3BoundingPoly"
        },
        "textBlock": {
          "description": "Block consisting of text content.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentDocumentLayoutDocumentLayoutBlockLayoutTextBlock"
        },
        "blockId": {
          "description": "ID of the block.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DocumentDocumentLayoutDocumentLayoutBlock",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3DocumentPageTokenDetectedBreak": {
      "id": "GoogleCloudDocumentaiV1beta3DocumentPageTokenDetectedBreak",
      "properties": {
        "type": {
          "description": "Detected break type.",
          "enumDescriptions": [
            "Unspecified break type.",
            "A single whitespace.",
            "A wider whitespace.",
            "A hyphen that indicates that a token has been split across lines."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "SPACE",
            "WIDE_SPACE",
            "HYPHEN"
          ]
        }
      },
      "type": "object",
      "description": "Detected break at the end of a Token."
    },
    "GoogleCloudDocumentaiV1beta3ListProcessorsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Points to the next processor, otherwise empty.",
          "type": "string"
        },
        "processors": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3Processor"
          },
          "description": "The list of processors.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response message for the ListProcessors method.",
      "id": "GoogleCloudDocumentaiV1beta3ListProcessorsResponse"
    },
    "GoogleCloudDocumentaiV1beta3DisableProcessorResponse": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3DisableProcessorResponse",
      "properties": {},
      "description": "Response message for the DisableProcessor method. Intentionally empty proto for adding fields in future."
    },
    "GoogleCloudDocumentaiUiv1beta3DocumentId": {
      "type": "object",
      "description": "Document Identifier.",
      "properties": {
        "unmanagedDocId": {
          "description": "A document ID within unmanaged dataset.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3DocumentIdUnmanagedDocumentId"
        },
        "revisionRef": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3RevisionRef",
          "description": "Points to a specific revision of the document if set."
        },
        "gcsManagedDocId": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3DocumentIdGCSManagedDocumentId",
          "description": "A document ID within user-managed Cloud Storage."
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3DocumentId"
    },
    "GoogleCloudDocumentaiV1beta3ImportProcessorVersionMetadata": {
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata",
          "description": "The basic metadata for the long-running operation."
        }
      },
      "type": "object",
      "description": "The long-running operation metadata for the ImportProcessorVersion method.",
      "id": "GoogleCloudDocumentaiV1beta3ImportProcessorVersionMetadata"
    },
    "GoogleCloudDocumentaiV1beta3BatchProcessRequest": {
      "type": "object",
      "properties": {
        "labels": {
          "description": "Optional. The labels with user-defined metadata for the request. Label keys and values can be no longer than 63 characters (Unicode codepoints) and can only contain lowercase letters, numeric characters, underscores, and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "inputConfigs": {
          "type": "array",
          "description": "The input config for each single document in the batch process.",
          "deprecated": true,
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3BatchProcessRequestBatchInputConfig"
          }
        },
        "skipHumanReview": {
          "deprecated": true,
          "description": "Whether human review should be skipped for this request. Default to `false`.",
          "type": "boolean"
        },
        "outputConfig": {
          "description": "The overall output config for batch process.",
          "$ref": "GoogleCloudDocumentaiV1beta3BatchProcessRequestBatchOutputConfig",
          "deprecated": true
        },
        "inputDocuments": {
          "description": "The input documents for the BatchProcessDocuments method.",
          "$ref": "GoogleCloudDocumentaiV1beta3BatchDocumentsInputConfig"
        },
        "processOptions": {
          "description": "Inference-time options for the process API",
          "$ref": "GoogleCloudDocumentaiV1beta3ProcessOptions"
        },
        "documentOutputConfig": {
          "description": "The output configuration for the BatchProcessDocuments method.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentOutputConfig"
        }
      },
      "description": "Request message for BatchProcessDocuments.",
      "id": "GoogleCloudDocumentaiV1beta3BatchProcessRequest"
    },
    "GoogleCloudDocumentaiV1EnableProcessorMetadata": {
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1CommonOperationMetadata"
        }
      },
      "id": "GoogleCloudDocumentaiV1EnableProcessorMetadata",
      "description": "The long-running operation metadata for the EnableProcessor method.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1EvaluateProcessorVersionMetadata": {
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiV1CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      },
      "id": "GoogleCloudDocumentaiV1EvaluateProcessorVersionMetadata",
      "description": "Metadata of the EvaluateProcessorVersion method.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3SchemaGenerationHistory": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3SchemaGenerationHistory",
      "description": "The history of schema generation iterations.",
      "properties": {
        "iterations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3SchemaGenerationIteration"
          },
          "description": "Required. Previous prompt-answers in a chronological order."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3DocumentPageFormField": {
      "description": "A form field detected on the page.",
      "type": "object",
      "properties": {
        "fieldName": {
          "description": "Layout for the FormField name. For example, `Address`, `Email`, `Grand total`, `Phone number`, etc.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageLayout"
        },
        "correctedKeyText": {
          "type": "string",
          "description": "Created for Labeling UI to export key text. If corrections were made to the text identified by the `field_name.text_anchor`, this field will contain the correction."
        },
        "provenance": {
          "description": "The history of this annotation.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentProvenance"
        },
        "valueDetectedLanguages": {
          "description": "A list of detected languages for value together with confidence.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageDetectedLanguage"
          },
          "type": "array"
        },
        "valueType": {
          "description": "If the value is non-textual, this field represents the type. Current valid values are: - blank (this indicates the `field_value` is normal text) - `unfilled_checkbox` - `filled_checkbox`",
          "type": "string"
        },
        "nameDetectedLanguages": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageDetectedLanguage"
          },
          "type": "array",
          "description": "A list of detected languages for name together with confidence."
        },
        "fieldValue": {
          "description": "Layout for the FormField value.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageLayout"
        },
        "correctedValueText": {
          "type": "string",
          "description": "Created for Labeling UI to export value text. If corrections were made to the text identified by the `field_value.text_anchor`, this field will contain the correction."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DocumentPageFormField"
    },
    "GoogleCloudDocumentaiV1beta3BatchDeleteDocumentsMetadata": {
      "properties": {
        "individualBatchDeleteStatuses": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3BatchDeleteDocumentsMetadataIndividualBatchDeleteStatus"
          },
          "description": "The list of response details of each document."
        },
        "errorDocumentCount": {
          "format": "int32",
          "description": "Total number of documents that failed to be deleted in storage.",
          "type": "integer"
        },
        "totalDocumentCount": {
          "type": "integer",
          "description": "Total number of documents deleting from dataset.",
          "format": "int32"
        },
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3BatchDeleteDocumentsMetadata",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3FetchProcessorTypesResponse": {
      "id": "GoogleCloudDocumentaiV1beta3FetchProcessorTypesResponse",
      "type": "object",
      "properties": {
        "processorTypes": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3ProcessorType"
          },
          "description": "The list of processor types.",
          "type": "array"
        }
      },
      "description": "Response message for the FetchProcessorTypes method."
    },
    "GoogleCloudDocumentaiV1beta3RevisionRef": {
      "description": "The revision reference specifies which revision on the document to read.",
      "id": "GoogleCloudDocumentaiV1beta3RevisionRef",
      "type": "object",
      "properties": {
        "latestProcessorVersion": {
          "description": "Reads the revision generated by the processor version. The format takes the full resource name of processor version. `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}`",
          "type": "string"
        },
        "revisionId": {
          "type": "string",
          "description": "Reads the revision given by the id."
        },
        "revisionCase": {
          "description": "Reads the revision by the predefined case.",
          "enumDescriptions": [
            "Unspecified case, fall back to read the `LATEST_HUMAN_REVIEW`.",
            "The latest revision made by a human.",
            "The latest revision based on timestamp.",
            "The first (OCR) revision."
          ],
          "type": "string",
          "enum": [
            "REVISION_CASE_UNSPECIFIED",
            "LATEST_HUMAN_REVIEW",
            "LATEST_TIMESTAMP",
            "BASE_OCR_REVISION"
          ]
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3SetDefaultProcessorVersionMetadata": {
      "id": "GoogleCloudDocumentaiV1beta3SetDefaultProcessorVersionMetadata",
      "type": "object",
      "description": "The long-running operation metadata for the SetDefaultProcessorVersion method.",
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3DeleteProcessorMetadata": {
      "description": "The long-running operation metadata for the DeleteProcessor method.",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3DeleteProcessorMetadata",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3EvaluationEvaluationRevision": {
      "properties": {
        "documentCounters": {
          "description": "Output only. Counters for the documents used in the evaluation.",
          "$ref": "GoogleCloudDocumentaiV1beta3EvaluationCounters",
          "readOnly": true
        },
        "allEntitiesMetrics": {
          "readOnly": true,
          "$ref": "GoogleCloudDocumentaiV1beta3EvaluationMultiConfidenceMetrics",
          "description": "Output only. Metrics for all the entities in aggregate."
        },
        "revisionId": {
          "readOnly": true,
          "description": "Output only. The revision ID of the evaluation.",
          "type": "string"
        },
        "entityMetrics": {
          "description": "Output only. Metrics across confidence levels, for different entities.",
          "readOnly": true,
          "additionalProperties": {
            "$ref": "GoogleCloudDocumentaiV1beta3EvaluationMultiConfidenceMetrics"
          },
          "type": "object"
        }
      },
      "description": "A revision of the evaluation.",
      "id": "GoogleCloudDocumentaiV1beta3EvaluationEvaluationRevision",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3NextSchema": {
      "id": "GoogleCloudDocumentaiV1beta3NextSchema",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the Schema. Format: `projects/{project}/locations/{location}/schemas/{schema}`"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The time when the Schema was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The user-defined name of the Schema."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. The {{gcp_name_short}} labels for the Schema."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the Schema was created.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "NextSchema is a collection of SchemaVersions."
    },
    "GoogleCloudDocumentaiV1beta3ImportDocumentsRequest": {
      "id": "GoogleCloudDocumentaiV1beta3ImportDocumentsRequest",
      "type": "object",
      "properties": {
        "batchDocumentsImportConfigs": {
          "description": "Required. The Cloud Storage uri containing raw documents that must be imported.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3ImportDocumentsRequestBatchDocumentsImportConfig"
          }
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3DocumentOutputConfigGcsOutputConfig": {
      "properties": {
        "gcsUri": {
          "type": "string",
          "description": "The Cloud Storage uri (a directory) of the output."
        },
        "shardingConfig": {
          "description": "Specifies the sharding config for the output document.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentOutputConfigGcsOutputConfigShardingConfig"
        },
        "fieldMask": {
          "description": "Specifies which fields to include in the output documents. Only supports top level document and pages field so it must be in the form of `{document_field_name}` or `pages.{page_field_name}`.",
          "type": "string",
          "format": "google-fieldmask"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DocumentOutputConfigGcsOutputConfig",
      "type": "object",
      "description": "The configuration used when outputting documents."
    },
    "GoogleCloudLocationLocation": {
      "id": "GoogleCloudLocationLocation",
      "properties": {
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
[...]
