{
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://documentai.googleapis.com/",
  "baseUrl": "https://documentai.googleapis.com/",
  "version": "v1beta3",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/document-ai/docs/",
  "version_module": true,
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "protocol": "rest",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "id": "documentai:v1beta3",
  "mtlsRootUrl": "https://documentai.mtls.googleapis.com/",
  "canonicalName": "Document",
  "servicePath": "",
  "title": "Cloud Document AI API",
  "description": "Service to parse structured information from unstructured or semi-structured documents using state-of-the-art Google AI such as natural language, computer vision, translation, and AutoML.",
  "ownerName": "Google",
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    }
  },
  "schemas": {
    "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRule": {
      "id": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRule",
      "properties": {
        "name": {
          "description": "Name of the validation rule.",
          "type": "string"
        },
        "ruleId": {
          "description": "Unique identifier of the rule. Optional.",
          "type": "string"
        },
        "formValidation": {
          "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleFormValidation"
        },
        "fieldRegex": {
          "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleFieldRegex"
        },
        "fieldOccurrences": {
          "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleFieldOccurrences"
        },
        "entityAlignmentRule": {
          "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleEntityAlignmentRule"
        },
        "childAlignmentRule": {
          "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleChildAlignmentRule"
        },
        "description": {
          "type": "string",
          "description": "Description of the validation rule. This has no use but for documentation."
        }
      },
      "type": "object",
      "description": "Next ID: 9"
    },
    "GoogleCloudDocumentaiUiv1beta3TrainProcessorVersionResponse": {
      "type": "object",
      "description": "The response for TrainProcessorVersion.",
      "id": "GoogleCloudDocumentaiUiv1beta3TrainProcessorVersionResponse",
      "properties": {
        "processorVersion": {
          "type": "string",
          "description": "The resource name of the processor version produced by training."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3BatchDocumentsInputConfig": {
      "id": "GoogleCloudDocumentaiV1beta3BatchDocumentsInputConfig",
      "description": "The common config to specify a set of documents used as input.",
      "type": "object",
      "properties": {
        "gcsDocuments": {
          "description": "The set of documents individually specified on Cloud Storage.",
          "$ref": "GoogleCloudDocumentaiV1beta3GcsDocuments"
        },
        "gcsPrefix": {
          "description": "The set of documents that match the specified Cloud Storage `gcs_prefix`.",
          "$ref": "GoogleCloudDocumentaiV1beta3GcsPrefix"
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3EnableProcessorResponse": {
      "type": "object",
      "description": "Response message for the EnableProcessor method. Intentionally empty proto for adding fields in future.",
      "properties": {},
      "id": "GoogleCloudDocumentaiUiv1beta3EnableProcessorResponse"
    },
    "GoogleCloudDocumentaiV1beta3DocumentOutputConfigGcsOutputConfig": {
      "description": "The configuration used when outputting documents.",
      "type": "object",
      "properties": {
        "shardingConfig": {
          "description": "Specifies the sharding config for the output document.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentOutputConfigGcsOutputConfigShardingConfig"
        },
        "gcsUri": {
          "description": "The Cloud Storage uri (a directory) of the output.",
          "type": "string"
        },
        "fieldMask": {
          "format": "google-fieldmask",
          "description": "Specifies which fields to include in the output documents. Only supports top level document and pages field so it must be in the form of `{document_field_name}` or `pages.{page_field_name}`.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DocumentOutputConfigGcsOutputConfig"
    },
    "GoogleCloudDocumentaiV1beta3DatasetSchema": {
      "description": "Dataset Schema.",
      "id": "GoogleCloudDocumentaiV1beta3DatasetSchema",
      "properties": {
        "documentSchema": {
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentSchema",
          "description": "Optional. Schema of the dataset."
        },
        "satisfiesPzi": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Reserved for future use."
        },
        "name": {
          "description": "Dataset schema resource name. Format: `projects/{project}/locations/{location}/processors/{processor}/dataset/datasetSchema`",
          "type": "string"
        },
        "satisfiesPzs": {
          "type": "boolean",
          "description": "Output only. Reserved for future use.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3Processor": {
      "id": "GoogleCloudDocumentaiV1beta3Processor",
      "properties": {
        "satisfiesPzs": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Reserved for future use."
        },
        "activeSchemaVersion": {
          "description": "Optional. SchemaVersion used by the Processor. It is the same as Processor's DatasetSchema.schema_version Format is `projects/{project}/locations/{location}/schemas/{schema}/schemaVersions/{schema_version}.",
          "type": "string"
        },
        "processorVersionAliases": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3ProcessorVersionAlias"
          },
          "type": "array",
          "description": "Output only. The processor version aliases."
        },
        "kmsKeyName": {
          "type": "string",
          "description": "The [KMS key](https://cloud.google.com/security-key-management) used for encryption and decryption in CMEK scenarios."
        },
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "createTime": {
          "description": "Output only. The time the processor was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Immutable. The resource name of the processor. Format: `projects/{project}/locations/{location}/processors/{processor}`"
        },
        "processEndpoint": {
          "readOnly": true,
          "description": "Output only. Immutable. The http endpoint that can be called to invoke processing.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the processor.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED",
            "ENABLING",
            "DISABLING",
            "CREATING",
            "FAILED",
            "DELETING"
          ],
          "description": "Output only. The state of the processor.",
          "readOnly": true,
          "enumDescriptions": [
            "The processor is in an unspecified state.",
            "The processor is enabled, i.e., has an enabled version which can currently serve processing requests and all the feature dependencies have been successfully initialized.",
            "The processor is disabled.",
            "The processor is being enabled, will become `ENABLED` if successful.",
            "The processor is being disabled, will become `DISABLED` if successful.",
            "The processor is being created, will become either `ENABLED` (for successful creation) or `FAILED` (for failed ones). Once a processor is in this state, it can then be used for document processing, but the feature dependencies of the processor might not be fully created yet.",
            "The processor failed during creation or initialization of feature dependencies. The user should delete the processor and recreate one as all the functionalities of the processor are disabled.",
            "The processor is being deleted, will be removed if successful."
          ],
          "type": "string"
        },
        "type": {
          "description": "The processor type, such as: `OCR_PROCESSOR`, `INVOICE_PROCESSOR`. To get a list of processor types, see FetchProcessorTypes.",
          "type": "string"
        },
        "defaultProcessorVersion": {
          "type": "string",
          "description": "The default processor version."
        }
      },
      "type": "object",
      "description": "The first-class citizen for Document AI. Each processor defines how to extract structural information from a document."
    },
    "GoogleCloudDocumentaiV1beta3DatasetUnmanagedDatasetConfig": {
      "description": "Configuration specific to an unmanaged dataset.",
      "properties": {},
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3DatasetUnmanagedDatasetConfig"
    },
    "GoogleCloudDocumentaiV1beta3ReviewDocumentRequest": {
      "description": "Request message for the ReviewDocument method.",
      "id": "GoogleCloudDocumentaiV1beta3ReviewDocumentRequest",
      "type": "object",
      "properties": {
        "priority": {
          "enum": [
            "DEFAULT",
            "URGENT"
          ],
          "enumDescriptions": [
            "The default priority level.",
            "The urgent priority level. The labeling manager should allocate labeler resource to the urgent task queue to respect this priority level."
          ],
          "description": "The priority of the human review task.",
          "type": "string"
        },
        "inlineDocument": {
          "$ref": "GoogleCloudDocumentaiV1beta3Document",
          "description": "An inline document proto."
        },
        "enableSchemaValidation": {
          "type": "boolean",
          "description": "Whether the validation should be performed on the ad-hoc review request."
        },
        "documentSchema": {
          "description": "The document schema of the human review task.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentSchema"
        },
        "document": {
          "$ref": "GoogleCloudDocumentaiV1beta3Document",
          "description": "The document that needs human review.",
          "deprecated": true
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3ProcessOptions": {
      "properties": {
        "individualPageSelector": {
          "description": "Which pages to process (1-indexed).",
          "$ref": "GoogleCloudDocumentaiV1beta3ProcessOptionsIndividualPageSelector"
        },
        "fromStart": {
          "format": "int32",
          "description": "Only process certain pages from the start. Process all if the document has fewer pages.",
          "type": "integer"
        },
        "layoutConfig": {
          "$ref": "GoogleCloudDocumentaiV1beta3ProcessOptionsLayoutConfig",
          "description": "Optional. Only applicable to `LAYOUT_PARSER_PROCESSOR`. Returns error if set on other processor types."
        },
        "schemaOverride": {
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentSchema",
          "description": "Optional. Override the schema of the ProcessorVersion. Will return an Invalid Argument error if this field is set when the underlying ProcessorVersion doesn't support schema override."
        },
        "ocrConfig": {
          "description": "Only applicable to `OCR_PROCESSOR` and `FORM_PARSER_PROCESSOR`. Returns error if set on other processor types.",
          "$ref": "GoogleCloudDocumentaiV1beta3OcrConfig"
        },
        "fromEnd": {
          "type": "integer",
          "format": "int32",
          "description": "Only process certain pages from the end, same as above."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3ProcessOptions",
      "description": "Options for Process API",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3DeployProcessorVersionMetadata": {
      "description": "The long-running operation metadata for the DeployProcessorVersion method.",
      "id": "GoogleCloudDocumentaiUiv1beta3DeployProcessorVersionMetadata",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3NextSchema": {
      "properties": {
        "displayName": {
          "description": "Required. The user-defined name of the Schema.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the Schema was last updated.",
          "format": "google-datetime"
        },
        "name": {
          "description": "Identifier. The resource name of the Schema. Format: `projects/{project}/locations/{location}/schemas/{schema}`",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The {{gcp_name_short}} labels for the Schema."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the Schema was created."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3NextSchema",
      "description": "NextSchema is a collection of SchemaVersions.",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3DisableProcessorResponse": {
      "id": "GoogleCloudDocumentaiUiv1beta3DisableProcessorResponse",
      "properties": {},
      "type": "object",
      "description": "Response message for the DisableProcessor method. Intentionally empty proto for adding fields in future."
    },
    "GoogleCloudDocumentaiUiv1beta3ExportDocumentsResponse": {
      "description": "The response proto of ExportDocuments method.",
      "properties": {},
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3ExportDocumentsResponse"
    },
    "GoogleCloudDocumentaiV1beta3TrainProcessorVersionRequestCustomDocumentExtractionOptions": {
      "id": "GoogleCloudDocumentaiV1beta3TrainProcessorVersionRequestCustomDocumentExtractionOptions",
      "description": "Options to control the training of the Custom Document Extraction (CDE) Processor.",
      "properties": {
        "trainingMethod": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "TRAINING_METHOD_UNSPECIFIED",
            "MODEL_BASED",
            "TEMPLATE_BASED"
          ],
          "description": "Optional. Training method to use for CDE training."
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1EnableProcessorMetadata": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1EnableProcessorMetadata",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1CommonOperationMetadata"
        }
      },
      "description": "The long-running operation metadata for the EnableProcessor method."
    },
    "GoogleCloudDocumentaiV1beta3DocumentSchemaEntityTypeProperty": {
      "type": "object",
      "description": "Defines properties that can be part of the entity type.",
      "id": "GoogleCloudDocumentaiV1beta3DocumentSchemaEntityTypeProperty",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "User defined name for the property."
        },
        "occurrenceType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified occurrence type.",
            "There will be zero or one instance of this entity type. The same entity instance may be mentioned multiple times.",
            "The entity type will appear zero or multiple times.",
            "The entity type will only appear exactly once. The same entity instance may be mentioned multiple times.",
            "The entity type will appear once or more times."
          ],
          "description": "Occurrence type limits the number of instances an entity type appears in the document.",
          "enum": [
            "OCCURRENCE_TYPE_UNSPECIFIED",
            "OPTIONAL_ONCE",
            "OPTIONAL_MULTIPLE",
            "REQUIRED_ONCE",
            "REQUIRED_MULTIPLE"
          ]
        },
        "method": {
          "description": "Specifies how the entity's value is obtained.",
          "enumDescriptions": [
            "Unspecified method. It defaults to `EXTRACT`.",
            "The entity's value is directly extracted as-is from the document text.",
            "The entity's value is derived through inference and is not necessarily an exact text extraction from the document.",
            "Attempts to extract the position and value as-is from the document text. If the value cannot be grounded in the text, it falls back to derivation through inference, for both position and value. Note: The inference fallback is currently only supported for boolean entities."
          ],
          "type": "string",
          "enum": [
            "METHOD_UNSPECIFIED",
            "EXTRACT",
            "DERIVE",
            "RELAXED_EXTRACT"
          ]
        },
        "description": {
          "description": "The description of the property. Could be used to provide more information about the property for model calls.",
          "type": "string"
        },
        "name": {
          "description": "The name of the property. Follows the same guidelines as the EntityType name.",
          "type": "string"
        },
        "valueType": {
          "description": "A reference to the value type of the property. This type is subject to the same conventions as the `Entity.base_types` field.",
          "type": "string"
        },
        "propertyMetadata": {
          "$ref": "GoogleCloudDocumentaiV1beta3PropertyMetadata",
          "description": "Any additional metadata about the property can be added here."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3DocumentTextAnchor": {
      "type": "object",
      "description": "Text reference indexing into the Document.text.",
      "properties": {
        "content": {
          "type": "string",
          "description": "Contains the content of the text span so that users do not have to look it up in the text_segments. It is always populated for formFields."
        },
        "textSegments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentTextAnchorTextSegment"
          },
          "description": "The text segments from the Document.text."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DocumentTextAnchor"
    },
    "GoogleCloudDocumentaiUiv1beta3ResyncDatasetMetadata": {
      "description": "The metadata proto of `ResyncDataset` method.",
      "properties": {
        "datasetResyncStatuses": {
          "type": "array",
          "description": "The list of dataset resync statuses. Not checked when ResyncDatasetRequest.dataset_documents is specified.",
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3ResyncDatasetMetadataDatasetResyncStatus"
          }
        },
        "individualDocumentResyncStatuses": {
          "description": "The list of document resync statuses. The same document could have multiple `individual_document_resync_statuses` if it has multiple inconsistencies.",
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3ResyncDatasetMetadataIndividualDocumentResyncStatus"
          },
          "type": "array"
        },
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3ResyncDatasetMetadata",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3DocumentPageToken": {
      "type": "object",
      "properties": {
        "detectedBreak": {
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageTokenDetectedBreak",
          "description": "Detected break at the end of a Token."
        },
        "provenance": {
          "description": "The history of this annotation.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentProvenance",
          "deprecated": true
        },
        "layout": {
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageLayout",
          "description": "Layout for Token."
        },
        "detectedLanguages": {
          "type": "array",
          "description": "A list of detected languages together with confidence.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageDetectedLanguage"
          }
        },
        "styleInfo": {
          "description": "Text style attributes.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageTokenStyleInfo"
        }
      },
      "description": "A detected token.",
      "id": "GoogleCloudDocumentaiV1beta3DocumentPageToken"
    },
    "GoogleCloudDocumentaiV1beta3BatchDeleteDocumentsRequest": {
      "properties": {
        "datasetDocuments": {
          "$ref": "GoogleCloudDocumentaiV1beta3BatchDatasetDocuments",
          "description": "Required. Dataset documents input. If given `filter`, all documents satisfying the filter will be deleted. If given documentIds, a maximum of 50 documents can be deleted in a batch. The request will be rejected if more than 50 document_ids are provided."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3BatchDeleteDocumentsRequest",
      "type": "object"
    },
    "GoogleRpcStatus": {
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "GoogleRpcStatus"
    },
    "GoogleCloudDocumentaiV1beta3GcsPrefix": {
      "description": "Specifies all documents on Cloud Storage with a common prefix.",
      "properties": {
        "gcsUriPrefix": {
          "description": "The URI prefix.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3GcsPrefix",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3ImportDocumentsRequestBatchDocumentsImportConfig": {
      "description": "Config for importing documents. Each batch can have its own dataset split type.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3ImportDocumentsRequestBatchDocumentsImportConfig",
      "properties": {
        "documentType": {
          "description": "Optional. If set, determines the type of the documents to be imported in this batch. It can be used to auto-label the documents with a single entity of the provided type. This field can only be used with a classifier or splitter processor. Providing this field is mutually exclusive with `entities` and `auto_labeling_config`.",
          "type": "string"
        },
        "autoSplitConfig": {
          "$ref": "GoogleCloudDocumentaiV1beta3ImportDocumentsRequestBatchDocumentsImportConfigAutoSplitConfig",
          "description": "If set, documents will be automatically split into training and test split category with the specified ratio."
        },
        "batchInputConfig": {
          "$ref": "GoogleCloudDocumentaiV1beta3BatchDocumentsInputConfig",
          "description": "The common config to specify a set of documents used as input."
        },
        "datasetSplit": {
          "description": "Target dataset split where the documents must be stored.",
          "enumDescriptions": [
            "Default value if the enum is not set.",
            "Identifies the train documents.",
            "Identifies the test documents.",
            "Identifies the unassigned documents."
          ],
          "type": "string",
          "enum": [
            "DATASET_SPLIT_TYPE_UNSPECIFIED",
            "DATASET_SPLIT_TRAIN",
            "DATASET_SPLIT_TEST",
            "DATASET_SPLIT_UNASSIGNED"
          ]
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3DocumentEntityRelation": {
      "properties": {
        "subjectId": {
          "type": "string",
          "description": "Subject entity id."
        },
        "relation": {
          "description": "Relationship description.",
          "type": "string"
        },
        "objectId": {
          "type": "string",
          "description": "Object entity id."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DocumentEntityRelation",
      "description": "Relationship between Entities.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3DocumentPageTokenStyleInfo": {
      "properties": {
        "underlined": {
          "description": "Whether the text is underlined.",
          "type": "boolean"
        },
        "superscript": {
          "type": "boolean",
          "description": "Whether the text is a superscript. This feature is not supported yet."
        },
        "strikeout": {
          "type": "boolean",
          "description": "Whether the text is strikethrough. This feature is not supported yet."
        },
        "subscript": {
          "description": "Whether the text is a subscript. This feature is not supported yet.",
          "type": "boolean"
        },
        "textColor": {
          "$ref": "GoogleTypeColor",
          "description": "Color of the text."
        },
        "backgroundColor": {
          "description": "Color of the background.",
          "$ref": "GoogleTypeColor"
        },
        "handwritten": {
          "description": "Whether the text is handwritten.",
          "type": "boolean"
        },
        "bold": {
          "description": "Whether the text is bold (equivalent to font_weight is at least `700`).",
          "type": "boolean"
        },
        "fontType": {
          "type": "string",
          "description": "Name or style of the font."
        },
        "letterSpacing": {
          "format": "double",
          "type": "number",
          "description": "Letter spacing in points."
        },
        "pixelFontSize": {
          "format": "double",
          "type": "number",
          "description": "Font size in pixels, equal to _unrounded font_size_ * _resolution_ ÷ `72.0`."
        },
        "fontSize": {
          "description": "Font size in points (`1` point is `¹⁄₇₂` inches).",
          "format": "int32",
          "type": "integer"
        },
        "fontWeight": {
          "description": "TrueType weight on a scale `100` (thin) to `1000` (ultra-heavy). Normal is `400`, bold is `700`.",
          "type": "integer",
          "format": "int32"
        },
        "smallcaps": {
          "description": "Whether the text is in small caps. This feature is not supported yet.",
          "type": "boolean"
        },
        "italic": {
          "description": "Whether the text is italic.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Font and other text style attributes.",
      "id": "GoogleCloudDocumentaiV1beta3DocumentPageTokenStyleInfo"
    },
    "GoogleCloudDocumentaiV1HumanReviewStatus": {
      "properties": {
        "state": {
          "description": "The state of human review on the processing request.",
          "enum": [
            "STATE_UNSPECIFIED",
            "SKIPPED",
            "VALIDATION_PASSED",
            "IN_PROGRESS",
            "ERROR"
          ],
          "type": "string",
          "enumDescriptions": [
            "Human review state is unspecified. Most likely due to an internal error.",
            "Human review is skipped for the document. This can happen because human review isn't enabled on the processor or the processing request has been set to skip this document.",
            "Human review validation is triggered and passed, so no review is needed.",
            "Human review validation is triggered and the document is under review.",
            "Some error happened during triggering human review, see the state_message for details."
          ]
        },
        "stateMessage": {
          "type": "string",
          "description": "A message providing more details about the human review state."
        },
        "humanReviewOperation": {
          "type": "string",
          "description": "The name of the operation triggered by the processed document. This field is populated only when the state is `HUMAN_REVIEW_IN_PROGRESS`. It has the same response type and metadata as the long-running operation returned by ReviewDocument."
        }
      },
      "id": "GoogleCloudDocumentaiV1HumanReviewStatus",
      "description": "The status of human review on a processed document.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3DocumentChunkedDocumentChunkChunkPageSpan": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3DocumentChunkedDocumentChunkChunkPageSpan",
      "properties": {
        "pageEnd": {
          "format": "int32",
          "type": "integer",
          "description": "Page where chunk ends in the document."
        },
        "pageStart": {
          "format": "int32",
          "type": "integer",
          "description": "Page where chunk starts in the document."
        }
      },
      "description": "Represents where the chunk starts and ends in the document."
    },
    "GoogleCloudDocumentaiUiv1beta3ProcessorVersionDeprecationInfo": {
      "description": "Information about the upcoming deprecation of this processor version.",
      "properties": {
        "deprecationTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which this processor version will be deprecated."
        },
        "replacementProcessorVersion": {
          "description": "If set, the processor version that will be used as a replacement.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3ProcessorVersionDeprecationInfo",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3GetDocumentResponse": {
      "properties": {
        "document": {
          "$ref": "GoogleCloudDocumentaiV1beta3Document"
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3GetDocumentResponse"
    },
    "GoogleCloudDocumentaiV1beta3ProcessorTypeLocationInfo": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3ProcessorTypeLocationInfo",
      "description": "The location information about where the processor is available.",
      "properties": {
        "locationId": {
          "type": "string",
          "description": "The location ID. For supported locations, refer to [regional and multi-regional support](/document-ai/docs/regions)."
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3DocumentIdUnmanagedDocumentId": {
      "type": "object",
      "properties": {
        "docId": {
          "type": "string",
          "description": "Required. The ID of the document."
        }
      },
      "description": "Identifies a document uniquely within the scope of a dataset in unmanaged option.",
      "id": "GoogleCloudDocumentaiUiv1beta3DocumentIdUnmanagedDocumentId"
    },
    "GoogleCloudDocumentaiUiv1beta3BatchMoveDocumentsMetadata": {
      "type": "object",
      "properties": {
        "destSplitType": {
          "description": "The destination dataset split type.",
          "type": "string",
          "enumDescriptions": [
            "Default value if the enum is not set.",
            "Identifies the train documents.",
            "Identifies the test documents.",
            "Identifies the unassigned documents."
          ],
          "enum": [
            "DATASET_SPLIT_TYPE_UNSPECIFIED",
            "DATASET_SPLIT_TRAIN",
            "DATASET_SPLIT_TEST",
            "DATASET_SPLIT_UNASSIGNED"
          ]
        },
        "destDatasetType": {
          "enum": [
            "DATASET_SPLIT_TYPE_UNSPECIFIED",
            "DATASET_SPLIT_TRAIN",
            "DATASET_SPLIT_TEST",
            "DATASET_SPLIT_UNASSIGNED"
          ],
          "deprecated": true,
          "enumDescriptions": [
            "Default value if the enum is not set.",
            "Identifies the train documents.",
            "Identifies the test documents.",
            "Identifies the unassigned documents."
          ],
          "type": "string",
          "description": "The destination dataset split type."
        },
        "individualBatchMoveStatuses": {
          "description": "The list of response details of each document.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3BatchMoveDocumentsMetadataIndividualBatchMoveStatus"
          }
        },
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3BatchMoveDocumentsMetadata"
    },
    "GoogleCloudDocumentaiV1beta3ListDocumentsRequest": {
      "id": "GoogleCloudDocumentaiV1beta3ListDocumentsRequest",
      "type": "object",
      "properties": {
        "filter": {
          "type": "string",
          "description": "Optional. Query to filter the documents based on https://google.aip.dev/160. ## Currently support query strings are: `SplitType=DATASET_SPLIT_TEST|DATASET_SPLIT_TRAIN|DATASET_SPLIT_UNASSIGNED` - `LabelingState=DOCUMENT_LABELED|DOCUMENT_UNLABELED|DOCUMENT_AUTO_LABELED` - `DisplayName=\\\"file_name.pdf\\\"` - `EntityType=abc/def` - `TagName=\\\"auto-labeling-running\\\"|\\\"sampled\\\"` Note: - Only `AND`, `=` and `!=` are supported. e.g. `DisplayName=file_name AND EntityType!=abc` IS supported. - Wildcard `*` is supported only in `DisplayName` filter - No duplicate filter keys are allowed, e.g. `EntityType=a AND EntityType=b` is NOT supported. - String match is case sensitive (for filter `DisplayName` & `EntityType`)."
        },
        "pageSize": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of documents to return. The service may return fewer than this value. If unspecified, at most 20 documents will be returned. The maximum value is 100; values above 100 will be coerced to 100."
        },
        "returnTotalSize": {
          "description": "Optional. Controls if the request requires a total size of matched documents. See ListDocumentsResponse.total_size. Enabling this flag may adversely impact performance. Defaults to false.",
          "type": "boolean"
        },
        "pageToken": {
          "description": "A page token, received from a previous `ListDocuments` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListDocuments` must match the call that provided the page token.",
          "type": "string"
        },
        "skip": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Number of results to skip beginning from the `page_token` if provided. https://google.aip.dev/158#skipping-results. It must be a non-negative integer. Negative values will be rejected. Note that this is not the number of pages to skip. If this value causes the cursor to move past the end of results, ListDocumentsResponse.document_metadata and ListDocumentsResponse.next_page_token will be empty."
        }
      }
    },
    "GoogleCloudDocumentaiV1BatchProcessMetadataIndividualProcessStatus": {
      "id": "GoogleCloudDocumentaiV1BatchProcessMetadataIndividualProcessStatus",
      "properties": {
        "inputGcsSource": {
          "description": "The source of the document, same as the input_gcs_source field in the request when the batch process started.",
          "type": "string"
        },
        "status": {
          "description": "The status processing the document.",
          "$ref": "GoogleRpcStatus"
        },
        "humanReviewStatus": {
          "$ref": "GoogleCloudDocumentaiV1HumanReviewStatus",
          "description": "The status of human review on the processed document."
        },
        "outputGcsDestination": {
          "type": "string",
          "description": "The Cloud Storage output destination (in the request as DocumentOutputConfig.GcsOutputConfig.gcs_uri) of the processed document if it was successful, otherwise empty."
        }
      },
      "type": "object",
      "description": "The status of a each individual document in the batch process."
    },
    "GoogleCloudDocumentaiV1beta3EntityTypeMetadata": {
      "properties": {
        "inactive": {
          "description": "Whether the entity type should be considered inactive.",
          "type": "boolean"
        }
      },
      "description": "Metadata about an entity type.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3EntityTypeMetadata"
    },
    "GoogleCloudDocumentaiV1beta3ProcessOptionsIndividualPageSelector": {
      "description": "A list of individual page numbers.",
      "id": "GoogleCloudDocumentaiV1beta3ProcessOptionsIndividualPageSelector",
      "properties": {
        "pages": {
          "description": "Optional. Indices of the pages (starting from 1).",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DeleteProcessorVersionMetadata": {
      "description": "The long-running operation metadata for the DeleteProcessorVersion method.",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1CommonOperationMetadata"
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1DeleteProcessorVersionMetadata"
    },
    "GoogleCloudDocumentaiUiv1beta3ImportDocumentsResponse": {
      "id": "GoogleCloudDocumentaiUiv1beta3ImportDocumentsResponse",
      "properties": {},
      "description": "Response of the import document operation.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3DocumentDocumentLayoutDocumentLayoutBlockLayoutListEntry": {
      "id": "GoogleCloudDocumentaiV1beta3DocumentDocumentLayoutDocumentLayoutBlockLayoutListEntry",
      "description": "Represents an entry in the list.",
      "type": "object",
      "properties": {
        "blocks": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentDocumentLayoutDocumentLayoutBlock"
          },
          "type": "array",
          "description": "A list entry is a list of blocks. Repeated blocks support further hierarchies and nested blocks."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3OcrConfigPremiumFeatures": {
      "properties": {
        "computeStyleInfo": {
          "description": "Turn on font identification model and return font style information.",
          "type": "boolean"
        },
        "enableSelectionMarkDetection": {
          "description": "Turn on selection mark detector in OCR engine. Only available in OCR 2.0 (and later) processors.",
          "type": "boolean"
        },
        "enableMathOcr": {
          "description": "Turn on the model that can extract LaTeX math formulas.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3OcrConfigPremiumFeatures",
      "description": "Configurations for premium OCR features."
    },
    "GoogleCloudDocumentaiV1beta3ListProcessorVersionsResponse": {
      "properties": {
        "processorVersions": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3ProcessorVersion"
          },
          "type": "array",
          "description": "The list of processors."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Points to the next processor, otherwise empty."
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3ListProcessorVersionsResponse",
      "description": "Response message for the ListProcessorVersions method."
    },
    "GoogleCloudDocumentaiV1beta3BatchProcessRequestBatchOutputConfig": {
      "id": "GoogleCloudDocumentaiV1beta3BatchProcessRequestBatchOutputConfig",
      "description": "The output configuration in the BatchProcessDocuments method.",
      "type": "object",
      "deprecated": true,
      "properties": {
        "gcsDestination": {
          "type": "string",
          "description": "The output Cloud Storage directory to put the processed documents."
        }
      }
    },
    "GoogleCloudDocumentaiV1DeployProcessorVersionResponse": {
      "id": "GoogleCloudDocumentaiV1DeployProcessorVersionResponse",
      "type": "object",
      "properties": {},
      "description": "Response message for the DeployProcessorVersion method."
    },
    "GoogleCloudDocumentaiV1beta3BatchDatasetDocumentsIndividualDocumentIds": {
      "id": "GoogleCloudDocumentaiV1beta3BatchDatasetDocumentsIndividualDocumentIds",
      "type": "object",
      "description": "List of individual DocumentIds.",
      "properties": {
        "documentIds": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentId"
          },
          "description": "Required. List of Document IDs indicating where the actual documents are stored.",
          "type": "array"
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3BatchDeleteDocumentsResponse": {
      "id": "GoogleCloudDocumentaiUiv1beta3BatchDeleteDocumentsResponse",
      "type": "object",
      "description": "Response of the delete documents operation.",
      "properties": {}
    },
    "GoogleCloudDocumentaiV1beta3GenerateSchemaVersionRequest": {
      "properties": {
        "gcsPrefix": {
          "description": "The common prefix of documents placed on Cloud Storage.",
          "$ref": "GoogleCloudDocumentaiV1beta3GcsPrefix"
        },
        "rawDocuments": {
          "description": "The set of raw documents.",
          "$ref": "GoogleCloudDocumentaiV1beta3RawDocuments"
        },
        "baseSchemaVersion": {
          "description": "The base schema version name to use for the schema generation. Format: `projects/{project}/locations/{location}/schemas/{schema}/schemaVersions/{schema_version}`",
          "type": "string"
        },
        "gcsDocuments": {
          "$ref": "GoogleCloudDocumentaiV1beta3GcsDocuments",
          "description": "The set of documents placed on Cloud Storage."
        },
        "generateSchemaVersionParams": {
          "description": "Optional. User specified parameters for the schema generation.",
          "$ref": "GoogleCloudDocumentaiV1beta3GenerateSchemaVersionRequestGenerateSchemaVersionParams"
        },
        "inlineDocuments": {
          "$ref": "GoogleCloudDocumentaiV1beta3Documents",
          "description": "The set of documents specified inline. For each document, its `uri` or `content` field must be set."
        }
      },
      "description": "Request message for GenerateSchemaVersion.",
      "id": "GoogleCloudDocumentaiV1beta3GenerateSchemaVersionRequest",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3Schema": {
      "id": "GoogleCloudDocumentaiUiv1beta3Schema",
      "description": "The schema defines the output of the processed document by a processor.",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Display name to show users."
        },
        "entityTypes": {
          "type": "array",
          "description": "Entity types of the schema.",
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3SchemaEntityType"
          }
        },
        "description": {
          "description": "Description of the schema.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3TrainProcessorVersionRequestInputData": {
      "type": "object",
      "properties": {
        "testDocuments": {
          "description": "The documents used for testing the trained version.",
          "$ref": "GoogleCloudDocumentaiV1beta3BatchDocumentsInputConfig"
        },
        "trainingDocuments": {
          "$ref": "GoogleCloudDocumentaiV1beta3BatchDocumentsInputConfig",
          "description": "The documents used for training the new version."
        }
      },
      "description": "The input data used to train a new ProcessorVersion.",
      "id": "GoogleCloudDocumentaiV1beta3TrainProcessorVersionRequestInputData"
    },
    "GoogleCloudDocumentaiV1beta3OcrConfigHints": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3OcrConfigHints",
      "properties": {
        "languageHints": {
          "description": "List of BCP-47 language codes to use for OCR. In most cases, not specifying it yields the best results since it enables automatic language detection. For languages based on the Latin alphabet, setting hints is not needed. In rare cases, when the language of the text in the image is known, setting a hint will help get better results (although it will be a significant hindrance if the hint is wrong).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Hints for OCR Engine"
    },
    "GoogleCloudDocumentaiV1beta3ImportDocumentsRequestBatchDocumentsImportConfigAutoSplitConfig": {
      "id": "GoogleCloudDocumentaiV1beta3ImportDocumentsRequestBatchDocumentsImportConfigAutoSplitConfig",
      "properties": {
        "trainingSplitRatio": {
          "format": "float",
          "description": "Ratio of training dataset split.",
          "type": "number"
        }
      },
      "description": "The config for auto-split.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1BatchProcessMetadata": {
      "id": "GoogleCloudDocumentaiV1BatchProcessMetadata",
      "type": "object",
      "properties": {
        "stateMessage": {
          "type": "string",
          "description": "A message providing more details about the current state of processing. For example, the error message if the operation is failed."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "WAITING",
            "RUNNING",
            "SUCCEEDED",
            "CANCELLING",
            "CANCELLED",
            "FAILED"
          ],
          "description": "The state of the current batch processing.",
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "Request operation is waiting for scheduling.",
            "Request is being processed.",
            "The batch processing completed successfully.",
            "The batch processing was being cancelled.",
            "The batch processing was cancelled.",
            "The batch processing has failed."
          ],
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The last update time of the operation."
        },
        "individualProcessStatuses": {
          "description": "The list of response details of each document.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1BatchProcessMetadataIndividualProcessStatus"
          },
          "type": "array"
        },
        "createTime": {
          "description": "The creation time of the operation.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "The long-running operation metadata for BatchProcessDocuments."
    },
    "GoogleCloudDocumentaiV1beta3DocumentChunkedDocumentChunkChunkPageFooter": {
      "properties": {
        "text": {
          "description": "Footer in text format.",
          "type": "string"
        },
        "pageSpan": {
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentChunkedDocumentChunkChunkPageSpan",
          "description": "Page span of the footer."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DocumentChunkedDocumentChunkChunkPageFooter",
      "type": "object",
      "description": "Represents the page footer associated with the chunk."
    },
    "GoogleCloudDocumentaiV1beta3DeleteProcessorVersionMetadata": {
      "id": "GoogleCloudDocumentaiV1beta3DeleteProcessorVersionMetadata",
      "type": "object",
      "description": "The long-running operation metadata for the DeleteProcessorVersion method.",
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      }
    },
    "GoogleLongrunningOperation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        }
      },
      "type": "object",
      "id": "GoogleLongrunningOperation"
    },
    "GoogleCloudDocumentaiV1beta3ProcessRequest": {
      "id": "GoogleCloudDocumentaiV1beta3ProcessRequest",
      "properties": {
        "skipHumanReview": {
          "description": "Whether human review should be skipped for this request. Default to `false`.",
          "type": "boolean",
          "deprecated": true
        },
        "gcsDocument": {
          "$ref": "GoogleCloudDocumentaiV1beta3GcsDocument",
          "description": "A raw document on Google Cloud Storage."
        },
        "imagelessMode": {
          "type": "boolean",
          "description": "Optional. Option to remove images from the document."
        },
        "inlineDocument": {
          "description": "An inline document proto.",
          "$ref": "GoogleCloudDocumentaiV1beta3Document"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels with user-defined metadata for the request. Label keys and values can be no longer than 63 characters (Unicode codepoints) and can only contain lowercase letters, numeric characters, underscores, and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter.",
          "type": "object"
        },
        "rawDocument": {
          "$ref": "GoogleCloudDocumentaiV1beta3RawDocument",
          "description": "A raw document content (bytes)."
        },
        "document": {
          "deprecated": true,
          "description": "The document payload, the content and mime_type fields must be set.",
          "$ref": "GoogleCloudDocumentaiV1beta3Document"
        },
        "fieldMask": {
          "type": "string",
          "description": "Specifies which fields to include in the ProcessResponse.document output. Only supports top-level document and pages field, so it must be in the form of `{document_field_name}` or `pages.{page_field_name}`.",
          "format": "google-fieldmask"
        },
        "processOptions": {
          "$ref": "GoogleCloudDocumentaiV1beta3ProcessOptions",
          "description": "Inference-time options for the process API"
        }
      },
      "type": "object",
      "description": "Request message for the ProcessDocument method."
    },
    "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleFieldOccurrences": {
      "id": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleFieldOccurrences",
      "type": "object",
      "properties": {
        "field": {
          "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleField"
        },
        "minOccurrences": {
          "type": "integer",
          "format": "uint32",
          "description": "Min and max occurrences of the field. If not set, there is limit set. The defined interval is a closed-closed interval, i.e. [min, max]."
        },
        "maxOccurrences": {
          "format": "uint32",
          "type": "integer"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3DocumentSchemaEntityType": {
      "description": "EntityType is the wrapper of a label of the corresponding model with detailed attributes and limitations for entity-based processors. Multiple types can also compose a dependency tree to represent nested types.",
      "properties": {
        "name": {
          "description": "Name of the type. It must be unique within the schema file and cannot be a \"Common Type\". The following naming conventions are used: - Use `snake_casing`. - Name matching is case-sensitive. - Maximum 64 characters. - Must start with a letter. - Allowed characters: ASCII letters `[a-z0-9_-]`. (For backward compatibility, internal infrastructure and tooling can handle any ASCII character.) - The `/` is sometimes used to denote a property of a type. For example, `line_item/amount`. This convention is deprecated, but will still be honored for backward compatibility.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "The description of the entity type. Could be used to provide more information about the entity type for model calls."
        },
        "entityTypeMetadata": {
          "$ref": "GoogleCloudDocumentaiV1beta3EntityTypeMetadata",
          "description": "Metadata for the entity type."
        },
        "baseTypes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The entity type that this type is derived from. For now, one and only one should be set."
        },
        "enumValues": {
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentSchemaEntityTypeEnumValues",
          "description": "If specified, lists all the possible values for this entity. This should not be more than a handful of values. If the number of values is >10 or could change frequently, use the `EntityType.value_ontology` field and specify a list of all possible values in a value ontology file."
        },
        "properties": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentSchemaEntityTypeProperty"
          },
          "type": "array",
          "description": "Description the nested structure, or composition of an entity."
        },
        "displayName": {
          "description": "User defined name for the type.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3DocumentSchemaEntityType"
    },
    "GoogleCloudDocumentaiV1beta3DocumentChunkedDocumentChunkChunkField": {
      "description": "The chunk field in the chunk. A chunk field could be one of the various types (for example, image, table) supported.",
      "type": "object",
      "properties": {
        "imageChunkField": {
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentChunkedDocumentChunkImageChunkField",
          "description": "The image chunk field in the chunk."
        },
        "tableChunkField": {
          "description": "The table chunk field in the chunk.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentChunkedDocumentChunkTableChunkField"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DocumentChunkedDocumentChunkChunkField"
    },
    "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleEntityAlignmentRule": {
      "description": "A rule that aligns specified fields with each other.",
      "type": "object",
      "id": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleEntityAlignmentRule",
      "properties": {
        "fields": {
          "description": "The fields to be aligned.",
          "type": "array",
          "items": {
            "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleField"
          }
        },
        "alignmentRule": {
          "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleAlignmentRule",
          "description": "The alignment rule to apply to the fields."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3Evaluation": {
      "type": "object",
      "properties": {
        "documentCounters": {
          "$ref": "GoogleCloudDocumentaiV1beta3EvaluationCounters",
          "description": "Counters for the documents used in the evaluation."
        },
        "kmsKeyName": {
          "description": "The KMS key name used for encryption.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The resource name of the evaluation. Format: `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processor_version}/evaluations/{evaluation}`"
        },
        "entityMetrics": {
          "description": "Metrics across confidence levels, for different entities.",
          "additionalProperties": {
            "$ref": "GoogleCloudDocumentaiV1beta3EvaluationMultiConfidenceMetrics"
          },
          "type": "object"
        },
        "allEntitiesMetrics": {
          "$ref": "GoogleCloudDocumentaiV1beta3EvaluationMultiConfidenceMetrics",
          "description": "Metrics for all the entities in aggregate."
        },
        "revisions": {
          "description": "Contains all revisions of the evaluation, excluding the latest one.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3EvaluationEvaluationRevision"
          }
        },
        "kmsKeyVersionName": {
          "type": "string",
          "description": "The KMS key version with which data is encrypted."
        },
        "createTime": {
          "type": "string",
          "description": "The time that the evaluation was created.",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3Evaluation",
      "description": "An evaluation of a ProcessorVersion's performance."
    },
    "GoogleCloudDocumentaiUiv1beta3UndeployProcessorVersionResponse": {
      "id": "GoogleCloudDocumentaiUiv1beta3UndeployProcessorVersionResponse",
      "description": "Response message for the UndeployProcessorVersion method.",
      "properties": {},
      "type": "object"
    },
    "CloudAiDocumentaiLabHifiaToolsValidationValidatorInput": {
      "type": "object",
      "description": "Definition of the validation rules. Those are the input to the validator logic and they are used to validate a document. Next ID: 3",
      "properties": {
        "validationRules": {
          "type": "array",
          "items": {
            "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRule"
          }
        }
      },
      "id": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInput"
    },
    "GoogleCloudDocumentaiV1beta3DocumentEntityValidationOutputValidationResult": {
      "description": "Validation result for a single validation rule.",
      "properties": {
        "validationResultType": {
          "type": "string",
          "enumDescriptions": [
            "The validation result type is unspecified.",
            "The validation is valid.",
            "The validation is invalid.",
            "The validation is skipped.",
            "The validation is not applicable."
          ],
          "enum": [
            "VALIDATION_RESULT_TYPE_UNSPECIFIED",
            "VALIDATION_RESULT_TYPE_VALID",
            "VALIDATION_RESULT_TYPE_INVALID",
            "VALIDATION_RESULT_TYPE_SKIPPED",
            "VALIDATION_RESULT_TYPE_NOT_APPLICABLE"
          ],
          "description": "The result of the validation rule."
        },
        "ruleName": {
          "type": "string",
          "description": "The display name of the validation rule."
        },
        "rule": {
          "type": "string",
          "description": "Optional. The name of the rule resource that is used for validation. Format: `projects/{project}/locations/{location}/rules/{rule}`"
        },
        "validationDetails": {
          "description": "The detailed information of the running the validation process using the entity from the document based on the validation rule.",
          "type": "string"
        },
        "ruleDescription": {
          "type": "string",
          "description": "The description of the validation rule."
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3DocumentEntityValidationOutputValidationResult"
    },
    "GoogleCloudDocumentaiV1beta3DatasetGCSManagedConfig": {
      "type": "object",
      "description": "Configuration specific to the Cloud Storage-based implementation.",
      "id": "GoogleCloudDocumentaiV1beta3DatasetGCSManagedConfig",
      "properties": {
        "gcsPrefix": {
          "description": "Required. The Cloud Storage URI (a directory) where the documents belonging to the dataset must be stored.",
          "$ref": "GoogleCloudDocumentaiV1beta3GcsPrefix"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3DocumentPageImage": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3DocumentPageImage",
      "description": "Rendered image contents for this page.",
      "properties": {
        "height": {
          "description": "Height of the image in pixels.",
          "format": "int32",
          "type": "integer"
        },
        "content": {
          "format": "byte",
          "type": "string",
          "description": "Raw byte content of the image."
        },
        "mimeType": {
          "description": "Encoding [media type (MIME type)](https://www.iana.org/assignments/media-types/media-types.xhtml) for the image.",
          "type": "string"
        },
        "width": {
          "format": "int32",
          "description": "Width of the image in pixels.",
          "type": "integer"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3DocumentDocumentLayoutDocumentLayoutBlockLayoutTableRow": {
      "properties": {
        "cells": {
          "description": "A table row is a list of table cells.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentDocumentLayoutDocumentLayoutBlockLayoutTableCell"
          }
        }
      },
      "description": "Represents a row in a table.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3DocumentDocumentLayoutDocumentLayoutBlockLayoutTableRow"
    },
    "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata": {
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
      "description": "The common metadata for long running operations.",
      "properties": {
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "Operation is still running.",
            "Operation is being cancelled.",
            "Operation succeeded.",
            "Operation failed.",
            "Operation is cancelled."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "CANCELLING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED"
          ],
          "description": "The state of the operation."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "The creation time of the operation.",
          "type": "string"
        },
        "resource": {
          "description": "A related resource to this operation.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The last update time of the operation."
        },
        "stateMessage": {
          "type": "string",
          "description": "A message providing more details about the current state of processing."
        }
      }
    },
    "GoogleCloudDocumentaiV1EvaluateProcessorVersionResponse": {
      "properties": {
        "evaluation": {
          "type": "string",
          "description": "The resource name of the created evaluation."
        }
      },
      "type": "object",
      "description": "Response of the EvaluateProcessorVersion method.",
      "id": "GoogleCloudDocumentaiV1EvaluateProcessorVersionResponse"
    },
    "GoogleCloudDocumentaiV1beta3DocumentStyleFontSize": {
      "description": "Font size with unit.",
      "id": "GoogleCloudDocumentaiV1beta3DocumentStyleFontSize",
      "properties": {
        "size": {
          "format": "float",
          "description": "Font size for the text.",
          "type": "number"
        },
        "unit": {
          "type": "string",
          "description": "Unit for the font size. Follows CSS naming (such as `in`, `px`, and `pt`)."
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3DocumentPageImageQualityScoresDetectedDefect": {
      "id": "GoogleCloudDocumentaiV1beta3DocumentPageImageQualityScoresDetectedDefect",
      "properties": {
        "type": {
          "type": "string",
          "description": "Name of the defect type. Supported values are: - `quality/defect_blurry` - `quality/defect_noisy` - `quality/defect_dark` - `quality/defect_faint` - `quality/defect_text_too_small` - `quality/defect_document_cutoff` - `quality/defect_text_cutoff` - `quality/defect_glare`"
        },
        "confidence": {
          "format": "float",
          "type": "number",
          "description": "Confidence of detected defect. Range `[0, 1]` where `1` indicates strong confidence that the defect exists."
        }
      },
      "type": "object",
      "description": "Image Quality Defects"
    },
    "GoogleCloudDocumentaiV1beta3Barcode": {
      "type": "object",
      "properties": {
        "valueFormat": {
          "description": "Value format describes the format of the value that a barcode encodes. The supported formats are: - `CONTACT_INFO`: Contact information. - `EMAIL`: Email address. - `ISBN`: ISBN identifier. - `PHONE`: Phone number. - `PRODUCT`: Product. - `SMS`: SMS message. - `TEXT`: Text string. - `URL`: URL address. - `WIFI`: Wifi information. - `GEO`: Geo-localization. - `CALENDAR_EVENT`: Calendar event. - `DRIVER_LICENSE`: Driver's license.",
          "type": "string"
        },
        "rawValue": {
          "description": "Raw value encoded in the barcode. For example: `'MEBKM:TITLE:Google;URL:https://www.google.com;;'`.",
          "type": "string"
        },
        "format": {
          "type": "string",
          "description": "Format of a barcode. The supported formats are: - `CODE_128`: Code 128 type. - `CODE_39`: Code 39 type. - `CODE_93`: Code 93 type. - `CODABAR`: Codabar type. - `DATA_MATRIX`: 2D Data Matrix type. - `ITF`: ITF type. - `EAN_13`: EAN-13 type. - `EAN_8`: EAN-8 type. - `QR_CODE`: 2D QR code type. - `UPC_A`: UPC-A type. - `UPC_E`: UPC-E type. - `PDF417`: PDF417 type. - `AZTEC`: 2D Aztec code type. - `DATABAR`: GS1 DataBar code type."
        }
      },
      "description": "Encodes the detailed information of a barcode.",
      "id": "GoogleCloudDocumentaiV1beta3Barcode"
    },
    "GoogleCloudDocumentaiV1beta3DocumentPageImageQualityScores": {
      "description": "Image quality scores for the page image.",
      "properties": {
        "qualityScore": {
          "description": "The overall quality score. Range `[0, 1]` where `1` is perfect quality.",
          "type": "number",
          "format": "float"
        },
        "detectedDefects": {
          "type": "array",
          "description": "A list of detected defects.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageImageQualityScoresDetectedDefect"
          }
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DocumentPageImageQualityScores",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3ProcessorVersionDeprecationInfo": {
      "description": "Information about the upcoming deprecation of this processor version.",
      "id": "GoogleCloudDocumentaiV1beta3ProcessorVersionDeprecationInfo",
      "properties": {
        "replacementProcessorVersion": {
          "description": "If set, the processor version that will be used as a replacement.",
          "type": "string"
        },
        "deprecationTime": {
          "description": "The time at which this processor version will be deprecated.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3Processor": {
      "id": "GoogleCloudDocumentaiUiv1beta3Processor",
      "type": "object",
      "description": "The first-class citizen for Document AI. Each processor defines how to extract structural information from a document.",
      "properties": {
        "processorVersionAliases": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The processor version aliases.",
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3ProcessorVersionAlias"
          }
        },
        "processEndpoint": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Immutable. The http endpoint that can be called to invoke processing."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the processor was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "activeSchemaVersion": {
          "description": "Optional. SchemaVersion used by the Processor. It is the same as Processor's DatasetSchema.schema_version Format is `projects/{project}/locations/{location}/schemas/{schema}/schemaVersions/{schema_version}.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Immutable. The resource name of the processor. Format: `projects/{project}/locations/{location}/processors/{processor}`",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "The processor is in an unspecified state.",
            "The processor is enabled, i.e., has an enabled version which can currently serve processing requests and all the feature dependencies have been successfully initialized.",
            "The processor is disabled.",
            "The processor is being enabled, will become `ENABLED` if successful.",
            "The processor is being disabled, will become `DISABLED` if successful.",
            "The processor is being created, will become either `ENABLED` (for successful creation) or `FAILED` (for failed ones). Once a processor is in this state, it can then be used for document processing, but the feature dependencies of the processor might not be fully created yet.",
            "The processor failed during creation or initialization of feature dependencies. The user should delete the processor and recreate one as all the functionalities of the processor are disabled.",
            "The processor is being deleted, will be removed if successful."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The state of the processor.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED",
            "ENABLING",
            "DISABLING",
            "CREATING",
            "FAILED",
            "DELETING"
          ]
        },
        "displayName": {
          "description": "The display name of the processor.",
          "type": "string"
        },
        "kmsKeyName": {
          "description": "The [KMS key](https://cloud.google.com/security-key-management) used for encryption and decryption in CMEK scenarios.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The processor type, such as: `OCR_PROCESSOR`, `INVOICE_PROCESSOR`. To get a list of processor types, see FetchProcessorTypes."
        },
        "defaultProcessorVersion": {
          "description": "The default processor version.",
          "type": "string"
        },
        "satisfiesPzs": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Reserved for future use."
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3EvaluationMetrics": {
      "id": "GoogleCloudDocumentaiUiv1beta3EvaluationMetrics",
      "description": "Evaluation metrics, either in aggregate or about a specific entity.",
      "properties": {
        "precision": {
          "format": "float",
          "description": "The calculated precision.",
          "type": "number"
        },
        "predictedOccurrencesCount": {
          "format": "int32",
          "description": "The amount of occurrences in predicted documents.",
          "type": "integer"
        },
        "recall": {
          "format": "float",
          "type": "number",
          "description": "The calculated recall."
        },
        "predictedDocumentCount": {
          "format": "int32",
          "description": "The amount of documents with a predicted occurrence.",
          "type": "integer"
        },
        "groundTruthDocumentCount": {
          "description": "The amount of documents with a ground truth occurrence.",
          "type": "integer",
          "format": "int32"
        },
        "falsePositivesCount": {
          "format": "int32",
          "type": "integer",
          "description": "The amount of false positives."
        },
        "groundTruthOccurrencesCount": {
          "description": "The amount of occurrences in ground truth documents.",
          "type": "integer",
          "format": "int32"
        },
        "totalDocumentsCount": {
          "description": "The amount of documents that had an occurrence of this label.",
          "type": "integer",
          "format": "int32"
        },
        "truePositivesCount": {
          "format": "int32",
          "description": "The amount of true positives.",
          "type": "integer"
        },
        "f1Score": {
          "format": "float",
          "description": "The calculated F1 score.",
          "type": "number"
        },
        "falseNegativesCount": {
          "description": "The amount of false negatives.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3CommonOperationMetadata": {
      "type": "object",
      "description": "The common metadata for long running operations.",
      "id": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The creation time of the operation."
        },
        "stateMessage": {
          "type": "string",
          "description": "A message providing more details about the current state of processing."
        },
        "resource": {
          "type": "string",
          "description": "A related resource to this operation."
        },
        "updateTime": {
          "description": "The last update time of the operation.",
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "type": "string",
          "description": "The state of the operation.",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "CANCELLING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "Operation is still running.",
            "Operation is being cancelled.",
            "Operation succeeded.",
            "Operation failed.",
            "Operation is cancelled."
          ]
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3DocumentPageSymbol": {
      "properties": {
        "layout": {
          "description": "Layout for Symbol.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageLayout"
        },
        "detectedLanguages": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageDetectedLanguage"
          },
          "type": "array",
          "description": "A list of detected languages together with confidence."
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3DocumentPageSymbol",
      "description": "A detected symbol."
    },
    "GoogleCloudDocumentaiUiv1beta3BatchUpdateDocumentsResponse": {
      "type": "object",
      "description": "Response of the batch update documents operation.",
      "properties": {},
      "id": "GoogleCloudDocumentaiUiv1beta3BatchUpdateDocumentsResponse"
    },
    "GoogleCloudDocumentaiUiv1beta3SampleDocumentsMetadata": {
      "type": "object",
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3SampleDocumentsMetadata",
      "description": "Metadata of the sample documents operation."
    },
    "GoogleCloudDocumentaiUiv1beta3UndeployProcessorVersionMetadata": {
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      },
      "description": "The long-running operation metadata for the UndeployProcessorVersion method.",
      "id": "GoogleCloudDocumentaiUiv1beta3UndeployProcessorVersionMetadata",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3ImportProcessorVersionRequestExternalProcessorVersionSource": {
      "properties": {
        "serviceEndpoint": {
          "type": "string",
          "description": "Optional. The Document AI service endpoint. For example, 'https://us-documentai.googleapis.com'"
        },
        "processorVersion": {
          "type": "string",
          "description": "Required. The processor version name. Format: `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}`"
        }
      },
      "type": "object",
      "description": "The external source processor version.",
      "id": "GoogleCloudDocumentaiV1beta3ImportProcessorVersionRequestExternalProcessorVersionSource"
    },
    "GoogleCloudDocumentaiUiv1beta3FieldExtractionMetadata": {
      "description": "Metadata for how this field value is extracted.",
      "id": "GoogleCloudDocumentaiUiv1beta3FieldExtractionMetadata",
      "type": "object",
      "properties": {
        "summaryOptions": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3SummaryOptions",
          "description": "Summary options config."
        },
        "entityQuery": {
          "description": "Entity query config.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3FieldExtractionMetadataEntityQuery"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3BatchProcessRequestBatchInputConfig": {
      "id": "GoogleCloudDocumentaiV1beta3BatchProcessRequestBatchInputConfig",
      "deprecated": true,
      "properties": {
        "mimeType": {
          "type": "string",
          "description": "An IANA published [media type (MIME type)](https://www.iana.org/assignments/media-types/media-types.xhtml) of the input. If the input is a raw document, refer to [supported file types](https://cloud.google.com/document-ai/docs/file-types) for the list of media types. If the input is a Document, the type should be `application/json`."
        },
        "gcsSource": {
          "type": "string",
          "description": "The Cloud Storage location as the source of the document."
        }
      },
      "type": "object",
      "description": "The message for input config in batch process."
    },
    "GoogleCloudDocumentaiV1beta3DocumentPageDetectedBarcode": {
      "description": "A detected barcode.",
      "properties": {
        "layout": {
          "description": "Layout for DetectedBarcode.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageLayout"
        },
        "barcode": {
          "description": "Detailed barcode information of the DetectedBarcode.",
          "$ref": "GoogleCloudDocumentaiV1beta3Barcode"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DocumentPageDetectedBarcode",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3BatchProcessMetadataIndividualProcessStatus": {
      "properties": {
        "humanReviewStatus": {
          "description": "The status of human review on the processed document.",
          "$ref": "GoogleCloudDocumentaiV1beta3HumanReviewStatus"
        },
        "outputGcsDestination": {
          "type": "string",
          "description": "The Cloud Storage output destination (in the request as DocumentOutputConfig.GcsOutputConfig.gcs_uri) of the processed document if it was successful, otherwise empty."
        },
        "inputGcsSource": {
          "type": "string",
          "description": "The source of the document, same as the input_gcs_source field in the request when the batch process started."
        },
        "humanReviewOperation": {
          "description": "The name of the operation triggered by the processed document. If the human review process isn't triggered, this field will be empty. It has the same response type and metadata as the long-running operation returned by the ReviewDocument method.",
          "type": "string",
          "deprecated": true
        },
        "status": {
          "description": "The status processing the document.",
          "$ref": "GoogleRpcStatus"
        }
      },
      "description": "The status of a each individual document in the batch process.",
      "id": "GoogleCloudDocumentaiV1beta3BatchProcessMetadataIndividualProcessStatus",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3BatchUpdateDocumentsMetadata": {
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3BatchUpdateDocumentsMetadata",
      "properties": {
        "individualBatchUpdateStatuses": {
          "type": "array",
          "description": "The list of response details of each document.",
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3BatchUpdateDocumentsMetadataIndividualBatchUpdateStatus"
          }
        },
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3DocumentIdGCSManagedDocumentId": {
      "id": "GoogleCloudDocumentaiUiv1beta3DocumentIdGCSManagedDocumentId",
      "type": "object",
      "properties": {
        "gcsUri": {
          "type": "string",
          "description": "Required. The Cloud Storage URI where the actual document is stored."
        },
        "cwDocId": {
          "description": "ID of the document (indexed) managed by Content Warehouse.",
          "type": "string",
          "deprecated": true
        }
      },
      "description": "Identifies a document uniquely within the scope of a dataset in the user-managed Cloud Storage option."
    },
    "GoogleCloudDocumentaiV1beta3EvaluateProcessorVersionMetadata": {
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3EvaluateProcessorVersionMetadata",
      "type": "object",
      "description": "Metadata of the EvaluateProcessorVersion method."
    },
    "GoogleCloudDocumentaiV1beta3ProcessorVersion": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3ProcessorVersion",
      "description": "A processor version is an implementation of a processor. Each processor can have multiple versions, pretrained by Google internally or uptrained by the customer. A processor can only have one default version at a time. Its document-processing behavior is defined by that version.",
      "properties": {
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the processor version was created."
        },
        "modelType": {
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "MODEL_TYPE_GENERATIVE",
            "MODEL_TYPE_CUSTOM"
          ],
          "description": "Output only. The model type of this processor version.",
          "readOnly": true,
          "enumDescriptions": [
            "The processor version has unspecified model type.",
            "The processor version has generative model type.",
            "The processor version has custom model type."
          ],
          "type": "string"
        },
        "documentSchema": {
          "readOnly": true,
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentSchema",
          "description": "Output only. The schema of the processor version. Describes the output."
        },
        "name": {
          "description": "Identifier. The resource name of the processor version. Format: `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processor_version}`",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "The processor version is in an unspecified state.",
            "The processor version is deployed and can be used for processing.",
            "The processor version is being deployed.",
            "The processor version is not deployed and cannot be used for processing.",
            "The processor version is being undeployed.",
            "The processor version is being created.",
            "The processor version is being deleted.",
            "The processor version failed and is in an indeterminate state.",
            "The processor version is being imported."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "DEPLOYED",
            "DEPLOYING",
            "UNDEPLOYED",
            "UNDEPLOYING",
            "CREATING",
            "DELETING",
            "FAILED",
            "IMPORTING"
          ],
          "readOnly": true,
          "description": "Output only. The state of the processor version."
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "googleManaged": {
          "readOnly": true,
          "description": "Output only. Denotes that this `ProcessorVersion` is managed by Google.",
          "type": "boolean"
        },
        "deprecationInfo": {
          "readOnly": true,
          "description": "Output only. If set, information about the eventual deprecation of this version.",
          "$ref": "GoogleCloudDocumentaiV1beta3ProcessorVersionDeprecationInfo"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the processor version."
        },
        "kmsKeyVersionName": {
          "readOnly": true,
          "description": "Output only. The KMS key version with which data is encrypted.",
          "type": "string"
        },
        "kmsKeyName": {
          "readOnly": true,
          "description": "Output only. The KMS key name used for encryption.",
          "type": "string"
        },
        "genAiModelInfo": {
          "$ref": "GoogleCloudDocumentaiV1beta3ProcessorVersionGenAiModelInfo",
          "description": "Output only. Information about Generative AI model-based processor versions.",
          "readOnly": true
        },
        "latestEvaluation": {
          "readOnly": true,
          "$ref": "GoogleCloudDocumentaiV1beta3EvaluationReference",
          "description": "Output only. The most recently invoked evaluation for the processor version."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3BatchProcessRequest": {
      "id": "GoogleCloudDocumentaiV1beta3BatchProcessRequest",
      "description": "Request message for BatchProcessDocuments.",
      "properties": {
        "inputConfigs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3BatchProcessRequestBatchInputConfig"
          },
          "deprecated": true,
          "description": "The input config for each single document in the batch process."
        },
        "processOptions": {
          "$ref": "GoogleCloudDocumentaiV1beta3ProcessOptions",
          "description": "Inference-time options for the process API"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. The labels with user-defined metadata for the request. Label keys and values can be no longer than 63 characters (Unicode codepoints) and can only contain lowercase letters, numeric characters, underscores, and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter."
        },
        "outputConfig": {
          "description": "The overall output config for batch process.",
          "$ref": "GoogleCloudDocumentaiV1beta3BatchProcessRequestBatchOutputConfig",
          "deprecated": true
        },
        "inputDocuments": {
          "$ref": "GoogleCloudDocumentaiV1beta3BatchDocumentsInputConfig",
          "description": "The input documents for the BatchProcessDocuments method."
        },
        "skipHumanReview": {
          "deprecated": true,
          "description": "Whether human review should be skipped for this request. Default to `false`.",
          "type": "boolean"
        },
        "documentOutputConfig": {
          "description": "The output configuration for the BatchProcessDocuments method.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentOutputConfig"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1EnableProcessorResponse": {
      "properties": {},
      "id": "GoogleCloudDocumentaiV1EnableProcessorResponse",
      "type": "object",
      "description": "Response message for the EnableProcessor method. Intentionally empty proto for adding fields in future."
    },
    "GoogleCloudDocumentaiUiv1beta3DocumentSchemaEntityTypeProperty": {
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3DocumentSchemaEntityTypeProperty",
      "description": "Defines properties that can be part of the entity type.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the property. Follows the same guidelines as the EntityType name."
        },
        "displayName": {
          "description": "User defined name for the property.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "The description of the property. Could be used to provide more information about the property for model calls."
        },
        "occurrenceType": {
          "enum": [
            "OCCURRENCE_TYPE_UNSPECIFIED",
            "OPTIONAL_ONCE",
            "OPTIONAL_MULTIPLE",
            "REQUIRED_ONCE",
            "REQUIRED_MULTIPLE"
          ],
          "description": "Occurrence type limits the number of instances an entity type appears in the document.",
          "enumDescriptions": [
            "Unspecified occurrence type.",
            "There will be zero or one instance of this entity type. The same entity instance may be mentioned multiple times.",
            "The entity type will appear zero or multiple times.",
            "The entity type will only appear exactly once. The same entity instance may be mentioned multiple times.",
            "The entity type will appear once or more times."
          ],
          "type": "string"
        },
        "propertyMetadata": {
          "description": "Any additional metadata about the property can be added here.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3PropertyMetadata"
        },
        "valueType": {
[...]
