{
  "mtlsRootUrl": "https://documentai.mtls.googleapis.com/",
  "description": "Service to parse structured information from unstructured or semi-structured documents using state-of-the-art Google AI such as natural language, computer vision, translation, and AutoML.",
  "discoveryVersion": "v1",
  "id": "documentai:v1beta3",
  "basePath": "",
  "baseUrl": "https://documentai.googleapis.com/",
  "documentationLink": "https://cloud.google.com/document-ai/docs/",
  "version": "v1beta3",
  "kind": "discovery#restDescription",
  "parameters": {
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    }
  },
  "rootUrl": "https://documentai.googleapis.com/",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta3/projects/{projectsId}/locations",
              "id": "documentai.projects.locations.list",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "type": "integer"
                },
                "extraLocationTypes": {
                  "repeated": true,
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage."
                },
                "pageToken": {
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query"
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "location": "path",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudLocationListLocationsResponse"
              },
              "path": "v1beta3/{+name}/locations",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "httpMethod": "GET"
            },
            "get": {
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Resource name for the location."
                }
              },
              "description": "Gets information about a location.",
              "path": "v1beta3/{+name}",
              "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}",
              "id": "documentai.projects.locations.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudLocationLocation"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ]
            },
            "fetchProcessorTypes": {
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "id": "documentai.projects.locations.fetchProcessorTypes",
              "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}:fetchProcessorTypes",
              "description": "Fetches processor types. Note that we don't use ListProcessorTypes here, because it isn't paginated.",
              "parameters": {
                "parent": {
                  "description": "Required. The location of processor types to list. Format: `projects/{project}/locations/{location}`.",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path"
                }
              },
              "path": "v1beta3/{+parent}:fetchProcessorTypes",
              "response": {
                "$ref": "GoogleCloudDocumentaiV1beta3FetchProcessorTypesResponse"
              }
            }
          },
          "resources": {
            "schemas": {
              "methods": {
                "get": {
                  "description": "Gets a schema.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDocumentaiV1beta3NextSchema"
                  },
                  "id": "documentai.projects.locations.schemas.get",
                  "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/schemas/{schemasId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the Schema to get. Format: `projects/{project}/locations/{location}/schemas/{schema}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/schemas/[^/]+$",
                      "required": true
                    }
                  },
                  "path": "v1beta3/{+name}"
                },
                "list": {
                  "path": "v1beta3/{+parent}/schemas",
                  "description": "Lists Schemas.",
                  "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/schemas",
                  "response": {
                    "$ref": "GoogleCloudDocumentaiV1beta3ListSchemasResponse"
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "documentai.projects.locations.schemas.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. Returns the schema groups sorted by creation time. The page token will point to the next Schema.",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of schema groups to return. If unspecified, at most `10` Schema will be returned. The maximum value is `20`. Values above `20` will be coerced to `20`.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. Format: `projects/{project}/locations/{location}`",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    }
                  }
                },
                "delete": {
                  "path": "v1beta3/{+name}",
                  "id": "documentai.projects.locations.schemas.delete",
                  "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/schemas/{schemasId}",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a schema.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the Schema to be deleted. Format: `projects/{project}/locations/{location}/schemas/{schema}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/schemas/[^/]+$",
                      "type": "string"
                    },
                    "force": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Optional. If set to true, any child resources of this Schema will also be deleted. (Otherwise, the request will only work if the Schema has no child resources.)"
                    }
                  }
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "GoogleCloudDocumentaiV1beta3NextSchema"
                  },
                  "path": "v1beta3/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/schemas/{schemasId}",
                  "description": "Updates a schema. Editable fields are: - `display_name` - `labels`",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "updateMask": {
                      "description": "Optional. The update mask to apply to the resource. **Note:** Only the following fields can be updated: - `display_name` - `labels`",
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/schemas/[^/]+$",
                      "type": "string",
                      "description": "Identifier. The resource name of the Schema. Format: `projects/{project}/locations/{location}/schemas/{schema}`"
                    }
                  },
                  "id": "documentai.projects.locations.schemas.patch",
                  "request": {
                    "$ref": "GoogleCloudDocumentaiV1beta3NextSchema"
                  }
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/schemas",
                  "httpMethod": "POST",
                  "id": "documentai.projects.locations.schemas.create",
                  "request": {
                    "$ref": "GoogleCloudDocumentaiV1beta3NextSchema"
                  },
                  "path": "v1beta3/{+parent}/schemas",
                  "response": {
                    "$ref": "GoogleCloudDocumentaiV1beta3NextSchema"
                  },
                  "description": "Creates a schema.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent (project and location) under which to create the Schema. Format: `projects/{project}/locations/{location}`",
                      "required": true,
                      "type": "string"
                    }
                  }
                }
              },
              "resources": {
                "schemaVersions": {
                  "methods": {
                    "list": {
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Returns the SchemaVersion sorted by creation time. The page token will point to the next SchemaVersion."
                        },
                        "parent": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/schemas/[^/]+$",
                          "location": "path",
                          "description": "Required. Format: `projects/{project}/locations/{location}/schemas/{schema}`"
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "Optional. The maximum number of SchemaVersion to return. If unspecified, at most `10` SchemaVersion will be returned. The maximum value is `20`. Values above `20` will be coerced to `20`.",
                          "location": "query",
                          "type": "integer"
                        }
                      },
                      "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/schemas/{schemasId}/schemaVersions",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists SchemaVersions.",
                      "id": "documentai.projects.locations.schemas.schemaVersions.list",
                      "response": {
                        "$ref": "GoogleCloudDocumentaiV1beta3ListSchemaVersionsResponse"
                      },
                      "path": "v1beta3/{+parent}/schemaVersions",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "generate": {
                      "id": "documentai.projects.locations.schemas.schemaVersions.generate",
                      "response": {
                        "$ref": "GoogleCloudDocumentaiV1beta3GenerateSchemaVersionResponse"
                      },
                      "description": "Generates a schema version.",
                      "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/schemas/{schemasId}/schemaVersions:generate",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudDocumentaiV1beta3GenerateSchemaVersionRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/schemas/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "description": "Required. The parent (project, location and schema) under which to generate the SchemaVersion. Format: `projects/{project}/locations/{location}/schemas/{schema}`",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1beta3/{+parent}/schemaVersions:generate"
                    },
                    "delete": {
                      "path": "v1beta3/{+name}",
                      "description": "Deletes a schema version.",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/schemas/[^/]+/schemaVersions/[^/]+$",
                          "description": "Required. The name of the SchemaVersion to delete. Format: `projects/{project}/locations/{location}/schemas/{schema}/schemaVersions/{schema_version}`"
                        }
                      },
                      "id": "documentai.projects.locations.schemas.schemaVersions.delete",
                      "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/schemas/{schemasId}/schemaVersions/{schemaVersionsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "DELETE"
                    },
                    "get": {
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDocumentaiV1beta3SchemaVersion"
                      },
                      "description": "Gets a schema version.",
                      "id": "documentai.projects.locations.schemas.schemaVersions.get",
                      "path": "v1beta3/{+name}",
                      "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/schemas/{schemasId}/schemaVersions/{schemaVersionsId}",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/schemas/[^/]+/schemaVersions/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Required. The name of the SchemaVersion to get. Format: `projects/{project}/locations/{location}/schemas/{schema}/schemaVersions/{schema_version}`"
                        }
                      }
                    },
                    "patch": {
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDocumentaiV1beta3SchemaVersion"
                      },
                      "response": {
                        "$ref": "GoogleCloudDocumentaiV1beta3SchemaVersion"
                      },
                      "path": "v1beta3/{+name}",
                      "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/schemas/{schemasId}/schemaVersions/{schemaVersionsId}",
                      "httpMethod": "PATCH",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Updates a schema version. Editable fields are: - `display_name` - `labels`",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/schemas/[^/]+/schemaVersions/[^/]+$",
                          "location": "path",
                          "description": "Identifier. The resource name of the SchemaVersion. Format: `projects/{project}/locations/{location}/schemas/{schema}/schemaVersions/{schema_version}`",
                          "required": true,
                          "type": "string"
                        },
                        "updateMask": {
                          "format": "google-fieldmask",
                          "location": "query",
                          "description": "Optional. The update mask to apply to the resource. **Note:** Only the following fields can be updated: - `display_name` - `labels`",
                          "type": "string"
                        }
                      },
                      "id": "documentai.projects.locations.schemas.schemaVersions.patch"
                    },
                    "create": {
                      "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/schemas/{schemasId}/schemaVersions",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "id": "documentai.projects.locations.schemas.schemaVersions.create",
                      "response": {
                        "$ref": "GoogleCloudDocumentaiV1beta3SchemaVersion"
                      },
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The parent (project and location) under which to create the SchemaVersion. Format: `projects/{project}/locations/{location}/schemas/{schema}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/schemas/[^/]+$"
                        }
                      },
                      "description": "Creates a schema version.",
                      "request": {
                        "$ref": "GoogleCloudDocumentaiV1beta3SchemaVersion"
                      },
                      "path": "v1beta3/{+parent}/schemaVersions"
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "list": {
                  "id": "documentai.projects.locations.operations.list",
                  "path": "v1beta3/{+name}",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/operations",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "The standard list page token.",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The standard list page size.",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "description": "The standard list filter.",
                      "location": "query"
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations$",
                      "description": "The name of the operation's parent resource.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  }
                },
                "cancel": {
                  "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "path": "v1beta3/{+name}:cancel",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "documentai.projects.locations.operations.cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
                },
                "get": {
                  "path": "v1beta3/{+name}",
                  "httpMethod": "GET",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "documentai.projects.locations.operations.get",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "The name of the operation resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "processors": {
              "methods": {
                "enable": {
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "httpMethod": "POST",
                  "id": "documentai.projects.locations.processors.enable",
                  "request": {
                    "$ref": "GoogleCloudDocumentaiV1beta3EnableProcessorRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}:enable",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The processor resource name to be enabled.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "Enables a processor",
                  "path": "v1beta3/{+name}:enable",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "setDefaultProcessorVersion": {
                  "id": "documentai.projects.locations.processors.setDefaultProcessorVersion",
                  "httpMethod": "POST",
                  "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}:setDefaultProcessorVersion",
                  "path": "v1beta3/{+processor}:setDefaultProcessorVersion",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameterOrder": [
                    "processor"
                  ],
                  "description": "Set the default (active) version of a Processor that will be used in ProcessDocument and BatchProcessDocuments.",
                  "parameters": {
                    "processor": {
                      "required": true,
                      "description": "Required. The resource name of the Processor to change default version.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+$",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudDocumentaiV1beta3SetDefaultProcessorVersionRequest"
                  }
                },
                "list": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1beta3/{+parent}/processors",
                  "response": {
                    "$ref": "GoogleCloudDocumentaiV1beta3ListProcessorsResponse"
                  },
                  "id": "documentai.projects.locations.processors.list",
                  "description": "Lists all processors which belong to this project.",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "The maximum number of processors to return. If unspecified, at most `50` processors will be returned. The maximum value is `100`. Values above `100` will be coerced to `100`."
                    },
                    "pageToken": {
                      "description": "We will return the processors sorted by creation time. The page token will point to the next processor.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The parent (project and location) which owns this collection of Processors. Format: `projects/{project}/locations/{location}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors"
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "description": "Required. The processor resource name to be deleted.",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+$"
                    }
                  },
                  "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "description": "Deletes the processor, unloads all deployed model artifacts if it was enabled and then deletes all artifacts associated with this processor.",
                  "id": "documentai.projects.locations.processors.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta3/{+name}",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "process": {
                  "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}:process",
                  "id": "documentai.projects.locations.processors.process",
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the Processor or ProcessorVersion to use for processing. If a Processor is specified, the server will use its default version. Format: `projects/{project}/locations/{location}/processors/{processor}`, or `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDocumentaiV1beta3ProcessRequest"
                  },
                  "response": {
                    "$ref": "GoogleCloudDocumentaiV1beta3ProcessResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Processes a single document.",
                  "httpMethod": "POST",
                  "path": "v1beta3/{+name}:process"
                },
                "create": {
                  "description": "Creates a processor from the ProcessorType provided. The processor will be at `ENABLED` state by default after its creation. Note that this method requires the `documentai.processors.create` permission on the project, which is highly privileged. A user or service account with this permission can create new processors that can interact with any gcs bucket in your project.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors",
                  "response": {
                    "$ref": "GoogleCloudDocumentaiV1beta3Processor"
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudDocumentaiV1beta3Processor"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent (project and location) under which to create the processor. Format: `projects/{project}/locations/{location}`",
                      "type": "string",
                      "required": true
                    }
                  },
                  "path": "v1beta3/{+parent}/processors",
                  "id": "documentai.projects.locations.processors.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "disable": {
                  "description": "Disables a processor",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}:disable",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The processor resource name to be disabled.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDocumentaiV1beta3DisableProcessorRequest"
                  },
                  "path": "v1beta3/{+name}:disable",
                  "id": "documentai.projects.locations.processors.disable",
                  "httpMethod": "POST"
                },
                "batchProcess": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The resource name of Processor or ProcessorVersion. Format: `projects/{project}/locations/{location}/processors/{processor}`, or `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}`",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudDocumentaiV1beta3BatchProcessRequest"
                  },
                  "description": "LRO endpoint to batch process many documents. The output is written to Cloud Storage as JSON in the [Document] format.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "httpMethod": "POST",
                  "path": "v1beta3/{+name}:batchProcess",
                  "id": "documentai.projects.locations.processors.batchProcess",
                  "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}:batchProcess"
                },
                "updateDataset": {
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "description": "The update mask applies to the resource.",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "Dataset resource name. Format: `projects/{project}/locations/{location}/processors/{processor}/dataset`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/dataset$",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDocumentaiV1beta3Dataset"
                  },
                  "path": "v1beta3/{+name}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/dataset",
                  "description": "Updates metadata associated with a dataset. Note that this method requires the `documentai.googleapis.com/datasets.update` permission on the project, which is highly privileged. A user or service account with this permission can create new processors that can interact with any gcs bucket in your project.",
                  "id": "documentai.projects.locations.processors.updateDataset",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH"
                },
                "get": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. The processor resource name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta3/{+name}",
                  "description": "Gets a processor detail.",
                  "id": "documentai.projects.locations.processors.get",
                  "response": {
                    "$ref": "GoogleCloudDocumentaiV1beta3Processor"
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              },
              "resources": {
                "humanReviewConfig": {
                  "deprecated": true,
                  "methods": {
                    "reviewDocument": {
                      "id": "documentai.projects.locations.processors.humanReviewConfig.reviewDocument",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/humanReviewConfig:reviewDocument",
                      "parameterOrder": [
                        "humanReviewConfig"
                      ],
                      "parameters": {
                        "humanReviewConfig": {
                          "required": true,
                          "location": "path",
                          "description": "Required. The resource name of the HumanReviewConfig that the document will be reviewed with.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/humanReviewConfig$"
                        }
                      },
                      "description": "Send a document for Human Review. The input document should be processed by the specified processor.",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudDocumentaiV1beta3ReviewDocumentRequest"
                      },
                      "path": "v1beta3/{+humanReviewConfig}:reviewDocument",
                      "deprecated": true,
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                },
                "processorVersions": {
                  "methods": {
                    "list": {
                      "path": "v1beta3/{+parent}/processorVersions",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "description": "We will return the processor versions sorted by creation time. The page token will point to the next processor version.",
                          "type": "string"
                        },
                        "parent": {
                          "description": "Required. The parent (project, location and processor) to list all versions. Format: `projects/{project}/locations/{location}/processors/{processor}`",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+$",
                          "type": "string",
                          "location": "path"
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "description": "The maximum number of processor versions to return. If unspecified, at most `10` processor versions will be returned. The maximum value is `20`. Values above `20` will be coerced to `20`.",
                          "type": "integer"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions",
                      "response": {
                        "$ref": "GoogleCloudDocumentaiV1beta3ListProcessorVersionsResponse"
                      },
                      "id": "documentai.projects.locations.processors.processorVersions.list",
                      "description": "Lists all versions of a processor."
                    },
                    "train": {
                      "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions:train",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "description": "Required. The parent (project, location and processor) to create the new version for. Format: `projects/{project}/locations/{location}/processors/{processor}`.",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+$"
                        }
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudDocumentaiV1beta3TrainProcessorVersionRequest"
                      },
                      "description": "Trains a new processor version. Operation metadata is returned as TrainProcessorVersionMetadata.",
                      "path": "v1beta3/{+parent}/processorVersions:train",
                      "id": "documentai.projects.locations.processors.processorVersions.train"
                    },
                    "undeploy": {
                      "httpMethod": "POST",
                      "path": "v1beta3/{+name}:undeploy",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "id": "documentai.projects.locations.processors.processorVersions.undeploy",
                      "request": {
                        "$ref": "GoogleCloudDocumentaiV1beta3UndeployProcessorVersionRequest"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Required. The processor version resource name to be undeployed.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/processorVersions/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions/{processorVersionsId}:undeploy",
                      "description": "Undeploys the processor version.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "importProcessorVersion": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Imports a processor version from source processor version.",
                      "parameters": {
                        "parent": {
                          "description": "Required. The destination processor name to create the processor version in. Format: `projects/{project}/locations/{location}/processors/{processor}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "path": "v1beta3/{+parent}/processorVersions:importProcessorVersion",
                      "httpMethod": "POST",
                      "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions:importProcessorVersion",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "documentai.projects.locations.processors.processorVersions.importProcessorVersion",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "request": {
                        "$ref": "GoogleCloudDocumentaiV1beta3ImportProcessorVersionRequest"
                      }
                    },
                    "get": {
                      "response": {
                        "$ref": "GoogleCloudDocumentaiV1beta3ProcessorVersion"
                      },
                      "description": "Gets a processor version detail.",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/processorVersions/[^/]+$",
                          "required": true,
                          "description": "Required. The processor resource name."
                        }
                      },
                      "path": "v1beta3/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions/{processorVersionsId}",
                      "httpMethod": "GET",
                      "id": "documentai.projects.locations.processors.processorVersions.get"
                    },
                    "batchProcess": {
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "httpMethod": "POST",
                      "path": "v1beta3/{+name}:batchProcess",
                      "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions/{processorVersionsId}:batchProcess",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "documentai.projects.locations.processors.processorVersions.batchProcess",
                      "description": "LRO endpoint to batch process many documents. The output is written to Cloud Storage as JSON in the [Document] format.",
                      "request": {
                        "$ref": "GoogleCloudDocumentaiV1beta3BatchProcessRequest"
                      },
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/processorVersions/[^/]+$",
                          "type": "string",
                          "description": "Required. The resource name of Processor or ProcessorVersion. Format: `projects/{project}/locations/{location}/processors/{processor}`, or `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}`"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "process": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "documentai.projects.locations.processors.processorVersions.process",
                      "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions/{processorVersionsId}:process",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/processorVersions/[^/]+$",
                          "required": true,
                          "description": "Required. The resource name of the Processor or ProcessorVersion to use for processing. If a Processor is specified, the server will use its default version. Format: `projects/{project}/locations/{location}/processors/{processor}`, or `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}`",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudDocumentaiV1beta3ProcessResponse"
                      },
                      "description": "Processes a single document.",
                      "httpMethod": "POST",
                      "path": "v1beta3/{+name}:process",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDocumentaiV1beta3ProcessRequest"
                      }
                    },
                    "deploy": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta3/{+name}:deploy",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudDocumentaiV1beta3DeployProcessorVersionRequest"
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "description": "Deploys the processor version.",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions/{processorVersionsId}:deploy",
                      "id": "documentai.projects.locations.processors.processorVersions.deploy",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Required. The processor version resource name to be deployed.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/processorVersions/[^/]+$",
                          "type": "string"
                        }
                      }
                    },
                    "evaluateProcessorVersion": {
                      "description": "Evaluates a ProcessorVersion against annotated documents, producing an Evaluation.",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions/{processorVersionsId}:evaluateProcessorVersion",
                      "path": "v1beta3/{+processorVersion}:evaluateProcessorVersion",
                      "id": "documentai.projects.locations.processors.processorVersions.evaluateProcessorVersion",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "processorVersion"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "processorVersion": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/processorVersions/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The resource name of the ProcessorVersion to evaluate. `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}`"
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudDocumentaiV1beta3EvaluateProcessorVersionRequest"
                      }
                    },
                    "delete": {
                      "description": "Deletes the processor version, all artifacts under the processor version will be deleted.",
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. The processor version resource name to be deleted.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/processorVersions/[^/]+$",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions/{processorVersionsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "documentai.projects.locations.processors.processorVersions.delete",
                      "path": "v1beta3/{+name}",
                      "httpMethod": "DELETE",
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  },
                  "resources": {
                    "evaluations": {
                      "methods": {
                        "get": {
                          "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions/{processorVersionsId}/evaluations/{evaluationsId}",
                          "path": "v1beta3/{+name}",
                          "description": "Retrieves a specific evaluation.",
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "documentai.projects.locations.processors.processorVersions.evaluations.get",
                          "response": {
                            "$ref": "GoogleCloudDocumentaiV1beta3Evaluation"
                          },
                          "httpMethod": "GET",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/processorVersions/[^/]+/evaluations/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "description": "Required. The resource name of the Evaluation to get. `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}/evaluations/{evaluation}`",
                              "required": true
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "list": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "GoogleCloudDocumentaiV1beta3ListEvaluationsResponse"
                          },
                          "path": "v1beta3/{+parent}/evaluations",
                          "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions/{processorVersionsId}/evaluations",
                          "parameters": {
                            "pageSize": {
                              "description": "The standard list page size. If unspecified, at most `5` evaluations are returned. The maximum value is `100`. Values above `100` are coerced to `100`.",
                              "location": "query",
                              "type": "integer",
                              "format": "int32"
                            },
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/processorVersions/[^/]+$",
                              "type": "string",
                              "description": "Required. The resource name of the ProcessorVersion to list evaluations for. `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}`",
                              "location": "path",
                              "required": true
                            },
                            "pageToken": {
                              "location": "query",
                              "description": "A page token, received from a previous `ListEvaluations` call. Provide this to retrieve the subsequent page.",
                              "type": "string"
                            }
                          },
                          "id": "documentai.projects.locations.processors.processorVersions.evaluations.list",
                          "httpMethod": "GET",
                          "description": "Retrieves a set of evaluations for a given processor version.",
                          "parameterOrder": [
                            "parent"
                          ]
                        }
                      }
                    }
                  }
                },
                "dataset": {
                  "methods": {
                    "getDatasetSchema": {
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets the `DatasetSchema` of a `Dataset`.",
                      "path": "v1beta3/{+name}",
                      "httpMethod": "GET",
                      "id": "documentai.projects.locations.processors.dataset.getDatasetSchema",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDocumentaiV1beta3DatasetSchema"
                      },
                      "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/dataset/datasetSchema",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/dataset/datasetSchema$",
                          "location": "path",
                          "description": "Required. The dataset schema resource name. Format: projects/{project}/locations/{location}/processors/{processor}/dataset/datasetSchema",
                          "required": true
                        },
                        "visibleFieldsOnly": {
                          "location": "query",
                          "description": "If set, only returns the visible fields of the schema.",
                          "type": "boolean"
                        }
                      }
                    },
                    "importDocuments": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "documentai.projects.locations.processors.dataset.importDocuments",
                      "parameterOrder": [
                        "dataset"
                      ],
                      "parameters": {
                        "dataset": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/dataset$",
                          "required": true,
                          "description": "Required. The dataset resource name. Format: projects/{project}/locations/{location}/processors/{processor}/dataset",
                          "location": "path"
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudDocumentaiV1beta3ImportDocumentsRequest"
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "httpMethod": "POST",
                      "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/dataset:importDocuments",
                      "path": "v1beta3/{+dataset}:importDocuments",
                      "description": "Import documents into a dataset."
                    },
                    "batchDeleteDocuments": {
                      "request": {
                        "$ref": "GoogleCloudDocumentaiV1beta3BatchDeleteDocumentsRequest"
                      },
                      "description": "Deletes a set of documents.",
                      "path": "v1beta3/{+dataset}:batchDeleteDocuments",
                      "parameters": {
                        "dataset": {
                          "type": "string",
                          "description": "Required. The dataset resource name. Format: projects/{project}/locations/{location}/processors/{processor}/dataset",
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/dataset$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "documentai.projects.locations.processors.dataset.batchDeleteDocuments",
                      "parameterOrder": [
                        "dataset"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/dataset:batchDeleteDocuments",
                      "httpMethod": "POST"
                    },
                    "listDocuments": {
                      "parameters": {
                        "dataset": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/dataset$",
                          "description": "Required. The resource name of the dataset to be listed. Format: projects/{project}/locations/{location}/processors/{processor}/dataset"
                        }
                      },
                      "path": "v1beta3/{+dataset}:listDocuments",
                      "description": "Returns a list of documents present in the dataset.",
                      "parameterOrder": [
                        "dataset"
                      ],
                      "id": "documentai.projects.locations.processors.dataset.listDocuments",
                      "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/dataset:listDocuments",
                      "response": {
                        "$ref": "GoogleCloudDocumentaiV1beta3ListDocumentsResponse"
                      },
                      "request": {
                        "$ref": "GoogleCloudDocumentaiV1beta3ListDocumentsRequest"
                      },
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "updateDatasetSchema": {
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "updateMask": {
                          "type": "string",
                          "description": "The update mask applies to the resource.",
                          "format": "google-fieldmask",
                          "location": "query"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/dataset/datasetSchema$",
                          "description": "Dataset schema resource name. Format: `projects/{project}/locations/{location}/processors/{processor}/dataset/datasetSchema`",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "httpMethod": "PATCH",
                      "description": "Updates a `DatasetSchema`.",
                      "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/dataset/datasetSchema",
                      "id": "documentai.projects.locations.processors.dataset.updateDatasetSchema",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDocumentaiV1beta3DatasetSchema"
                      },
                      "path": "v1beta3/{+name}",
                      "response": {
                        "$ref": "GoogleCloudDocumentaiV1beta3DatasetSchema"
                      }
                    },
                    "getDocument": {
                      "path": "v1beta3/{+dataset}:getDocument",
                      "parameters": {
                        "readMask": {
                          "type": "string",
                          "format": "google-fieldmask",
                          "location": "query",
                          "description": "If set, only fields listed here will be returned. Otherwise, all fields will be returned by default."
                        },
                        "pageRange.end": {
                          "location": "query",
                          "type": "integer",
                          "description": "Last page number (one-based index) to be returned.",
                          "format": "int32"
                        },
                        "documentId.revisionRef.revisionId": {
                          "description": "Reads the revision given by the id.",
                          "location": "query",
                          "type": "string"
                        },
                        "dataset": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/dataset$",
                          "location": "path",
                          "type": "string",
                          "description": "Required. The resource name of the dataset that the document belongs to . Format: projects/{project}/locations/{location}/processors/{processor}/dataset",
                          "required": true
                        },
                        "documentId.revisionRef.latestProcessorVersion": {
                          "type": "string",
                          "description": "Reads the revision generated by the processor version. The format takes the full resource name of processor version. `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}`",
                          "location": "query"
                        },
                        "documentId.gcsManagedDocId.gcsUri": {
                          "location": "query",
                          "type": "string",
                          "description": "Required. The Cloud Storage URI where the actual document is stored."
                        },
                        "documentId.revisionRef.revisionCase": {
                          "enum": [
                            "REVISION_CASE_UNSPECIFIED",
                            "LATEST_HUMAN_REVIEW",
                            "LATEST_TIMESTAMP",
                            "BASE_OCR_REVISION"
                          ],
                          "location": "query",
                          "description": "Reads the revision by the predefined case.",
                          "type": "string",
                          "enumDescriptions": [
                            "Unspecified case, fall back to read the `LATEST_HUMAN_REVIEW`.",
                            "The latest revision made by a human.",
                            "The latest revision based on timestamp.",
                            "The first (OCR) revision."
                          ]
                        },
                        "documentId.gcsManagedDocId.cwDocId": {
                          "type": "string",
                          "deprecated": true,
                          "description": "ID of the document (indexed) managed by Content Warehouse.",
                          "location": "query"
                        },
                        "pageRange.start": {
                          "description": "First page number (one-based index) to be returned.",
                          "format": "int32",
                          "type": "integer",
                          "location": "query"
                        },
                        "documentId.unmanagedDocId.docId": {
                          "location": "query",
                          "description": "Required. The ID of the document.",
                          "type": "string"
                        }
                      },
                      "description": "Returns relevant fields present in the requested document.",
                      "id": "documentai.projects.locations.processors.dataset.getDocument",
                      "parameterOrder": [
                        "dataset"
                      ],
                      "httpMethod": "GET",
                      "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/dataset:getDocument",
                      "response": {
                        "$ref": "GoogleCloudDocumentaiV1beta3GetDocumentResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              }
            },
            "processorTypes": {
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The processor type resource name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/processorTypes/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDocumentaiV1beta3ProcessorType"
                  },
                  "description": "Gets a processor type detail.",
                  "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processorTypes/{processorTypesId}",
                  "id": "documentai.projects.locations.processorTypes.get",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta3/{+name}"
                },
                "list": {
                  "response": {
                    "$ref": "GoogleCloudDocumentaiV1beta3ListProcessorTypesResponse"
                  },
                  "description": "Lists the processor types that exist.",
                  "id": "documentai.projects.locations.processorTypes.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta3/{+parent}/processorTypes",
                  "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processorTypes",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The location of processor types to list. Format: `projects/{project}/locations/{location}`.",
                      "location": "path"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "The maximum number of processor types to return. If unspecified, at most `100` processor types will be returned. The maximum value is `500`. Values above `500` will be coerced to `500`.",
                      "type": "integer",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Used to retrieve the next page of results, empty if at the end of the list.",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET"
                }
              }
            }
          }
        }
      }
    }
  },
  "version_module": true,
  "ownerName": "Google",
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "canonicalName": "Document",
  "protocol": "rest",
  "schemas": {
    "GoogleCloudDocumentaiV1beta3DeleteProcessorMetadata": {
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      },
      "description": "The long-running operation metadata for the DeleteProcessor method.",
      "id": "GoogleCloudDocumentaiV1beta3DeleteProcessorMetadata",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3ProcessorVersionGenAiModelInfoCustomGenAiModelInfo": {
      "properties": {
        "customModelType": {
          "description": "The type of custom model created by the user.",
          "type": "string",
          "enum": [
            "CUSTOM_MODEL_TYPE_UNSPECIFIED",
            "VERSIONED_FOUNDATION",
            "FINE_TUNED"
          ],
          "enumDescriptions": [
            "The model type is unspecified.",
            "The model is a versioned foundation model.",
            "The model is a finetuned foundation model."
          ]
        },
        "baseProcessorVersionId": {
          "description": "The base processor version ID for the custom model.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3ProcessorVersionGenAiModelInfoCustomGenAiModelInfo",
      "description": "Information for a custom Generative AI model created by the user. These are created with `Create New Version` in either the `Call foundation model` or `Fine tuning` tabs."
    },
    "GoogleCloudDocumentaiUiv1beta3DisableProcessorMetadata": {
      "id": "GoogleCloudDocumentaiUiv1beta3DisableProcessorMetadata",
      "description": "The long-running operation metadata for the DisableProcessor method.",
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3SummaryOptions": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3SummaryOptions",
      "description": "Metadata for document summarization.",
      "properties": {
        "length": {
          "enum": [
            "LENGTH_UNSPECIFIED",
            "BRIEF",
            "MODERATE",
            "COMPREHENSIVE"
          ],
          "description": "How long the summary should be.",
          "enumDescriptions": [
            "Default.",
            "A brief summary of one or two sentences.",
            "A paragraph-length summary.",
            "The longest option available."
          ],
          "type": "string"
        },
        "format": {
          "description": "The format the summary should be in.",
          "enumDescriptions": [
            "Default.",
            "Format the output in paragraphs.",
            "Format the output in bullets."
          ],
          "type": "string",
          "enum": [
            "FORMAT_UNSPECIFIED",
            "PARAGRAPH",
            "BULLETS"
          ]
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3OcrConfig": {
      "description": "Config for Document OCR.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3OcrConfig",
      "properties": {
        "enableSymbol": {
          "description": "Includes symbol level OCR information if set to true.",
          "type": "boolean"
        },
        "computeStyleInfo": {
          "deprecated": true,
          "type": "boolean",
          "description": "Turn on font identification model and return font style information. Deprecated, use PremiumFeatures.compute_style_info instead."
        },
        "advancedOcrOptions": {
          "description": "A list of advanced OCR options to further fine-tune OCR behavior. Current valid values are: - `legacy_layout`: a heuristics layout detection algorithm, which serves as an alternative to the current ML-based layout detection algorithm. Customers can choose the best suitable layout algorithm based on their situation.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "enableNativePdfParsing": {
          "description": "Enables special handling for PDFs with existing text information. Results in better text extraction quality in such PDF inputs.",
          "type": "boolean"
        },
        "enableImageQualityScores": {
          "type": "boolean",
          "description": "Enables intelligent document quality scores after OCR. Can help with diagnosing why OCR responses are of poor quality for a given input. Adds additional latency comparable to regular OCR to the process call."
        },
        "disableCharacterBoxesDetection": {
          "description": "Turn off character box detector in OCR engine. Character box detection is enabled by default in OCR 2.0 (and later) processors.",
          "type": "boolean"
        },
        "hints": {
          "$ref": "GoogleCloudDocumentaiV1beta3OcrConfigHints",
          "description": "Hints for the OCR model."
        },
        "premiumFeatures": {
          "$ref": "GoogleCloudDocumentaiV1beta3OcrConfigPremiumFeatures",
          "description": "Configurations for premium OCR features."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3DocumentPageImageQualityScoresDetectedDefect": {
      "type": "object",
      "description": "Image Quality Defects",
      "id": "GoogleCloudDocumentaiV1beta3DocumentPageImageQualityScoresDetectedDefect",
      "properties": {
        "confidence": {
          "format": "float",
          "description": "Confidence of detected defect. Range `[0, 1]` where `1` indicates strong confidence that the defect exists.",
          "type": "number"
        },
        "type": {
          "type": "string",
          "description": "Name of the defect type. Supported values are: - `quality/defect_blurry` - `quality/defect_noisy` - `quality/defect_dark` - `quality/defect_faint` - `quality/defect_text_too_small` - `quality/defect_document_cutoff` - `quality/defect_text_cutoff` - `quality/defect_glare`"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3TrainProcessorVersionRequestInputData": {
      "properties": {
        "trainingDocuments": {
          "$ref": "GoogleCloudDocumentaiV1beta3BatchDocumentsInputConfig",
          "description": "The documents used for training the new version."
        },
        "testDocuments": {
          "$ref": "GoogleCloudDocumentaiV1beta3BatchDocumentsInputConfig",
          "description": "The documents used for testing the trained version."
        }
      },
      "description": "The input data used to train a new ProcessorVersion.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3TrainProcessorVersionRequestInputData"
    },
    "GoogleCloudDocumentaiV1beta3TrainProcessorVersionMetadataDatasetValidation": {
      "description": "The dataset validation information. This includes any and all errors with documents and the dataset.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3TrainProcessorVersionMetadataDatasetValidation",
      "properties": {
        "datasetErrorCount": {
          "description": "The total number of dataset errors.",
          "format": "int32",
          "type": "integer"
        },
        "datasetErrors": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "Error information for the dataset as a whole. A maximum of 10 dataset errors will be returned. A single dataset error is terminal for training.",
          "type": "array"
        },
        "documentErrorCount": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of document errors."
        },
        "documentErrors": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array",
          "description": "Error information pertaining to specific documents. A maximum of 10 document errors will be returned. Any document with errors will not be used throughout training."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3DocumentTextAnchor": {
      "properties": {
        "textSegments": {
          "description": "The text segments from the Document.text.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentTextAnchorTextSegment"
          },
          "type": "array"
        },
        "content": {
          "description": "Contains the content of the text span so that users do not have to look it up in the text_segments. It is always populated for formFields.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DocumentTextAnchor",
      "description": "Text reference indexing into the Document.text.",
      "type": "object"
    },
    "GoogleCloudLocationLocation": {
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        }
      },
      "description": "A resource that represents a Google Cloud location.",
      "id": "GoogleCloudLocationLocation"
    },
    "GoogleCloudDocumentaiV1beta3DocumentChunkedDocumentChunkChunkPageSpan": {
      "id": "GoogleCloudDocumentaiV1beta3DocumentChunkedDocumentChunkChunkPageSpan",
      "properties": {
        "pageEnd": {
          "description": "Page where chunk ends in the document.",
          "type": "integer",
          "format": "int32"
        },
        "pageStart": {
          "type": "integer",
          "format": "int32",
          "description": "Page where chunk starts in the document."
        }
      },
      "type": "object",
      "description": "Represents where the chunk starts and ends in the document."
    },
    "GoogleCloudDocumentaiV1beta3DocumentDocumentLayoutDocumentLayoutBlockLayoutTableBlock": {
      "properties": {
        "headerRows": {
          "description": "Header rows at the top of the table.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentDocumentLayoutDocumentLayoutBlockLayoutTableRow"
          }
        },
        "bodyRows": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentDocumentLayoutDocumentLayoutBlockLayoutTableRow"
          },
          "description": "Body rows containing main table content.",
          "type": "array"
        },
        "annotations": {
          "description": "Annotation of the table block.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentAnnotations"
        },
        "caption": {
          "type": "string",
          "description": "Table caption/title."
        }
      },
      "type": "object",
      "description": "Represents a table type block.",
      "id": "GoogleCloudDocumentaiV1beta3DocumentDocumentLayoutDocumentLayoutBlockLayoutTableBlock"
    },
    "GoogleCloudDocumentaiV1EvaluateProcessorVersionResponse": {
      "type": "object",
      "properties": {
        "evaluation": {
          "description": "The resource name of the created evaluation.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiV1EvaluateProcessorVersionResponse",
      "description": "Response of the EvaluateProcessorVersion method."
    },
    "GoogleCloudDocumentaiV1DeleteProcessorVersionMetadata": {
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1CommonOperationMetadata"
        }
      },
      "id": "GoogleCloudDocumentaiV1DeleteProcessorVersionMetadata",
      "type": "object",
      "description": "The long-running operation metadata for the DeleteProcessorVersion method."
    },
    "GoogleCloudDocumentaiV1beta3ImportProcessorVersionRequestExternalProcessorVersionSource": {
      "id": "GoogleCloudDocumentaiV1beta3ImportProcessorVersionRequestExternalProcessorVersionSource",
      "description": "The external source processor version.",
      "properties": {
        "serviceEndpoint": {
          "description": "Optional. The Document AI service endpoint. For example, 'https://us-documentai.googleapis.com'",
          "type": "string"
        },
        "processorVersion": {
          "description": "Required. The processor version name. Format: `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}`",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3EnableProcessorMetadata": {
      "description": "The long-running operation metadata for the EnableProcessor method.",
      "id": "GoogleCloudDocumentaiUiv1beta3EnableProcessorMetadata",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3DocumentPageImage": {
      "properties": {
        "content": {
          "format": "byte",
          "type": "string",
          "description": "Raw byte content of the image."
        },
        "height": {
          "description": "Height of the image in pixels.",
          "type": "integer",
          "format": "int32"
        },
        "width": {
          "description": "Width of the image in pixels.",
          "format": "int32",
          "type": "integer"
        },
        "mimeType": {
          "description": "Encoding [media type (MIME type)](https://www.iana.org/assignments/media-types/media-types.xhtml) for the image.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DocumentPageImage",
      "type": "object",
      "description": "Rendered image contents for this page."
    },
    "GoogleTypeDate": {
      "properties": {
        "month": {
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer"
        },
        "year": {
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer"
        },
        "day": {
          "format": "int32",
[...]
