{
  "endpoints": [
    {
      "location": "us",
      "endpointUrl": "https://documentai.us.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://documentai.eu.rep.googleapis.com/",
      "location": "eu"
    },
    {
      "endpointUrl": "https://documentai.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south1"
    },
    {
      "location": "asia-southeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://documentai.asia-southeast1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://documentai.northamerica-northeast1.rep.googleapis.com/",
      "location": "northamerica-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://documentai.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "australia-southeast1"
    },
    {
      "endpointUrl": "https://documentai.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west2"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west3",
      "endpointUrl": "https://documentai.europe-west3.rep.googleapis.com/"
    }
  ],
  "title": "Cloud Document AI API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "protocol": "rest",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "documentai",
  "servicePath": "",
  "documentationLink": "https://cloud.google.com/document-ai/docs/",
  "parameters": {
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    }
  },
  "id": "documentai:v1beta3",
  "description": "Service to parse structured information from unstructured or semi-structured documents using state-of-the-art Google AI such as natural language, computer vision, translation, and AutoML.",
  "mtlsRootUrl": "https://documentai.mtls.googleapis.com/",
  "revision": "20260929",
  "rootUrl": "https://documentai.googleapis.com/",
  "baseUrl": "https://documentai.googleapis.com/",
  "basePath": "",
  "schemas": {
    "GoogleCloudDocumentaiV1beta3Vertex": {
      "id": "GoogleCloudDocumentaiV1beta3Vertex",
      "description": "A vertex represents a 2D point in the image. NOTE: the vertex coordinates are in the same scale as the original image.",
      "properties": {
        "x": {
          "type": "integer",
          "description": "X coordinate.",
          "format": "int32"
        },
        "y": {
          "type": "integer",
          "description": "Y coordinate (starts from the top of the image).",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3DocumentSchemaEntityTypeProperty": {
      "description": "Defines properties that can be part of the entity type.",
      "type": "object",
      "properties": {
        "valueType": {
          "type": "string",
          "description": "A reference to the value type of the property. This type is subject to the same conventions as the `Entity.base_types` field."
        },
        "name": {
          "description": "The name of the property. Follows the same guidelines as the EntityType name.",
          "type": "string"
        },
        "propertyMetadata": {
          "description": "Any additional metadata about the property can be added here.",
          "$ref": "GoogleCloudDocumentaiV1beta3PropertyMetadata"
        },
        "method": {
          "enum": [
            "METHOD_UNSPECIFIED",
            "EXTRACT",
            "DERIVE",
            "RELAXED_EXTRACT"
          ],
          "enumDescriptions": [
            "Unspecified method. It defaults to `EXTRACT`.",
            "The entity's value is directly extracted as-is from the document text.",
            "The entity's value is derived through inference and is not necessarily an exact text extraction from the document.",
            "Attempts to extract the position and value as-is from the document text. If the value cannot be grounded in the text, it falls back to derivation through inference, for both position and value. Note: The inference fallback is currently only supported for boolean entities."
          ],
          "type": "string",
          "description": "Specifies how the entity's value is obtained."
        },
        "occurrenceType": {
          "description": "Occurrence type limits the number of instances an entity type appears in the document.",
          "enum": [
            "OCCURRENCE_TYPE_UNSPECIFIED",
            "OPTIONAL_ONCE",
            "OPTIONAL_MULTIPLE",
            "REQUIRED_ONCE",
            "REQUIRED_MULTIPLE"
          ],
          "enumDescriptions": [
            "Unspecified occurrence type.",
            "There will be zero or one instance of this entity type. The same entity instance may be mentioned multiple times.",
            "The entity type will appear zero or multiple times.",
            "The entity type will only appear exactly once. The same entity instance may be mentioned multiple times.",
            "The entity type will appear once or more times."
          ],
          "type": "string"
        },
        "description": {
          "description": "The description of the property. Could be used to provide more information about the property for model calls.",
          "type": "string"
        },
        "displayName": {
          "description": "User defined name for the property.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DocumentSchemaEntityTypeProperty"
    },
    "GoogleCloudDocumentaiV1beta3DocumentChunkedDocumentChunkChunkPageHeader": {
      "description": "Represents the page header associated with the chunk.",
      "properties": {
        "pageSpan": {
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentChunkedDocumentChunkChunkPageSpan",
          "description": "Page span of the header."
        },
        "text": {
          "description": "Header in text format.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DocumentChunkedDocumentChunkChunkPageHeader",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3BatchProcessMetadata": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3BatchProcessMetadata",
      "properties": {
        "state": {
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "Request operation is waiting for scheduling.",
            "Request is being processed.",
            "The batch processing completed successfully.",
            "The batch processing was being cancelled.",
            "The batch processing was cancelled.",
            "The batch processing has failed."
          ],
          "description": "The state of the current batch processing.",
          "enum": [
            "STATE_UNSPECIFIED",
            "WAITING",
            "RUNNING",
            "SUCCEEDED",
            "CANCELLING",
            "CANCELLED",
            "FAILED"
          ],
          "type": "string"
        },
        "updateTime": {
          "description": "The last update time of the operation.",
          "format": "google-datetime",
          "type": "string"
        },
        "individualProcessStatuses": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3BatchProcessMetadataIndividualProcessStatus"
          },
          "description": "The list of response details of each document."
        },
        "stateMessage": {
          "type": "string",
          "description": "A message providing more details about the current state of processing. For example, the error message if the operation is failed."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The creation time of the operation."
        }
      },
      "description": "The long-running operation metadata for BatchProcessDocuments."
    },
    "GoogleCloudDocumentaiUiv1beta3ImportProcessorVersionMetadata": {
      "type": "object",
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
          "description": "The basic metadata for the long-running operation."
        }
      },
      "description": "The long-running operation metadata for the ImportProcessorVersion method.",
      "id": "GoogleCloudDocumentaiUiv1beta3ImportProcessorVersionMetadata"
    },
    "GoogleCloudDocumentaiUiv1beta3UndeployProcessorVersionResponse": {
      "description": "Response message for the UndeployProcessorVersion method.",
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDocumentaiUiv1beta3UndeployProcessorVersionResponse"
    },
    "GoogleCloudDocumentaiUiv1beta3HumanReviewLabelingMetadata": {
      "id": "GoogleCloudDocumentaiUiv1beta3HumanReviewLabelingMetadata",
      "type": "object",
      "properties": {
        "enableNormalizationEditing": {
          "type": "boolean",
          "description": "Whether to enable normalization editing."
        }
      },
      "description": "Metadata for human review labeling config."
    },
    "GoogleCloudDocumentaiV1beta3DocumentProvenance": {
      "id": "GoogleCloudDocumentaiV1beta3DocumentProvenance",
      "properties": {
        "id": {
          "description": "The ID of this operation. Needs to be unique within the scope of the revision.",
          "type": "integer",
          "format": "int32",
          "deprecated": true
        },
        "type": {
          "description": "The type of provenance operation.",
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            true,
            true,
            true
          ],
          "enumDescriptions": [
            "Operation type unspecified. If no operation is specified a provenance entry is simply used to match against a `parent`.",
            "Add an element.",
            "Remove an element identified by `parent`.",
            "Updates any fields within the given provenance scope of the message. It overwrites the fields rather than replacing them. Use this when you want to update a field value of an entity without also updating all the child properties.",
            "Currently unused. Replace an element identified by `parent`.",
            "Deprecated. Request human review for the element identified by `parent`.",
            "Deprecated. Element is reviewed and approved at human review, confidence will be set to 1.0.",
            "Deprecated. Element is skipped in the validation process."
          ],
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "ADD",
            "REMOVE",
            "UPDATE",
            "REPLACE",
            "EVAL_REQUESTED",
            "EVAL_APPROVED",
            "EVAL_SKIPPED"
          ]
        },
        "revision": {
          "description": "The index of the revision that produced this element.",
          "type": "integer",
          "format": "int32",
          "deprecated": true
        },
        "parents": {
          "type": "array",
          "description": "References to the original elements that are replaced.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentProvenanceParent"
          }
        }
      },
      "description": "Structure to identify provenance relationships between annotations in different revisions.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3ProcessOptionsIndividualPageSelector": {
      "type": "object",
      "description": "A list of individual page numbers.",
      "properties": {
        "pages": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "Optional. Indices of the pages (starting from 1)."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3ProcessOptionsIndividualPageSelector"
    },
    "GoogleCloudDocumentaiUiv1beta3SummaryOptions": {
      "properties": {
        "format": {
          "enum": [
            "FORMAT_UNSPECIFIED",
            "PARAGRAPH",
            "BULLETS"
          ],
          "description": "The format the summary should be in.",
          "type": "string",
          "enumDescriptions": [
            "Default.",
            "Format the output in paragraphs.",
            "Format the output in bullets."
          ]
        },
        "length": {
          "description": "How long the summary should be.",
          "enumDescriptions": [
            "Default.",
            "A brief summary of one or two sentences.",
            "A paragraph-length summary.",
            "The longest option available."
          ],
          "type": "string",
          "enum": [
            "LENGTH_UNSPECIFIED",
            "BRIEF",
            "MODERATE",
            "COMPREHENSIVE"
          ]
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3SummaryOptions",
      "type": "object",
      "description": "Metadata for document summarization."
    },
    "GoogleCloudDocumentaiV1beta3GenerateSchemaVersionResponse": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3GenerateSchemaVersionResponse",
      "properties": {
        "schemaVersion": {
          "$ref": "GoogleCloudDocumentaiV1beta3SchemaVersion",
          "description": "The schema version generated by the model."
        }
      },
      "description": "Response message for GenerateSchemaVersion."
    },
    "GoogleCloudDocumentaiV1HumanReviewStatus": {
      "id": "GoogleCloudDocumentaiV1HumanReviewStatus",
      "properties": {
        "humanReviewOperation": {
          "type": "string",
          "description": "The name of the operation triggered by the processed document. This field is populated only when the state is `HUMAN_REVIEW_IN_PROGRESS`. It has the same response type and metadata as the long-running operation returned by ReviewDocument."
        },
        "state": {
          "description": "The state of human review on the processing request.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "SKIPPED",
            "VALIDATION_PASSED",
            "IN_PROGRESS",
            "ERROR"
          ],
          "enumDescriptions": [
            "Human review state is unspecified. Most likely due to an internal error.",
            "Human review is skipped for the document. This can happen because human review isn't enabled on the processor or the processing request has been set to skip this document.",
            "Human review validation is triggered and passed, so no review is needed.",
            "Human review validation is triggered and the document is under review.",
            "Some error happened during triggering human review, see the state_message for details."
          ]
        },
        "stateMessage": {
          "description": "A message providing more details about the human review state.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The status of human review on a processed document."
    },
    "GoogleCloudDocumentaiV1beta3EvaluateProcessorVersionRequest": {
      "type": "object",
      "description": "Evaluates the given ProcessorVersion against the supplied documents.",
      "properties": {
        "evaluationDocuments": {
          "description": "Optional. The documents used in the evaluation. If unspecified, use the processor's dataset as evaluation input.",
          "$ref": "GoogleCloudDocumentaiV1beta3BatchDocumentsInputConfig"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3EvaluateProcessorVersionRequest"
    },
    "GoogleCloudDocumentaiV1beta3ImportDocumentsMetadata": {
      "id": "GoogleCloudDocumentaiV1beta3ImportDocumentsMetadata",
      "properties": {
        "importConfigValidationResults": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3ImportDocumentsMetadataImportConfigValidationResult"
          },
          "description": "Validation statuses of the batch documents import config.",
          "type": "array"
        },
        "totalDocumentCount": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of the documents that are qualified for importing."
        },
        "individualImportStatuses": {
          "description": "The list of response details of each document.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3ImportDocumentsMetadataIndividualImportStatus"
          }
        },
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata"
        }
      },
      "description": "Metadata of the import document operation.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1EnableProcessorMetadata": {
      "id": "GoogleCloudDocumentaiV1EnableProcessorMetadata",
      "description": "The long-running operation metadata for the EnableProcessor method.",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1CommonOperationMetadata"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1ReviewDocumentResponse": {
      "type": "object",
      "description": "Response message for the ReviewDocument method.",
      "properties": {
        "gcsDestination": {
          "type": "string",
          "description": "The Cloud Storage uri for the human reviewed document if the review is succeeded."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "REJECTED",
            "SUCCEEDED"
          ],
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The review operation is rejected by the reviewer.",
            "The review operation is succeeded."
          ],
          "type": "string",
          "description": "The state of the review operation."
        },
        "rejectionReason": {
          "description": "The reason why the review is rejected by reviewer.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiV1ReviewDocumentResponse"
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "GoogleCloudDocumentaiV1ReviewDocumentOperationMetadata": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1ReviewDocumentOperationMetadata",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1CommonOperationMetadata"
        },
        "questionId": {
          "type": "string",
          "description": "The Crowd Compute question ID."
        }
      },
      "description": "The long-running operation metadata for the ReviewDocument method."
    },
    "GoogleCloudDocumentaiV1beta3DocumentTextAnchor": {
      "properties": {
        "content": {
          "type": "string",
          "description": "Contains the content of the text span so that users do not have to look it up in the text_segments. It is always populated for formFields."
        },
        "textSegments": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentTextAnchorTextSegment"
          },
          "description": "The text segments from the Document.text.",
          "type": "array"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DocumentTextAnchor",
      "type": "object",
      "description": "Text reference indexing into the Document.text."
    },
    "GoogleCloudDocumentaiV1beta3BatchDeleteDocumentsRequest": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3BatchDeleteDocumentsRequest",
      "properties": {
        "datasetDocuments": {
          "description": "Required. Dataset documents input. If given `filter`, all documents satisfying the filter will be deleted. If given documentIds, a maximum of 50 documents can be deleted in a batch. The request will be rejected if more than 50 document_ids are provided.",
          "$ref": "GoogleCloudDocumentaiV1beta3BatchDatasetDocuments"
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3PropertyMetadata": {
      "description": "Metadata about a property.",
      "properties": {
        "humanReviewLabelingMetadata": {
          "description": "Human review labeling config on the property.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3HumanReviewLabelingMetadata"
        },
        "fieldTierMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3FieldTierMetadata",
          "description": "Field tier metadata on the property"
        },
        "schemaInferenceMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3SchemaInferenceMetadata",
          "description": "Schema inference metadata on the property."
        },
        "fieldExtractionMetadata": {
          "description": "Field extraction metadata on the property.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3FieldExtractionMetadata"
        },
        "humanReviewMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3HumanReviewValidationMetadata",
          "description": "Human review validation config on the property."
        },
        "inactive": {
          "description": "Whether the property should be considered as \"inactive\".",
          "type": "boolean"
        },
        "schemaEditabilityMetadata": {
          "description": "Schema editability metadata on the property.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3SchemaEditabilityMetadata"
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3PropertyMetadata"
    },
    "GoogleCloudDocumentaiV1beta3TrainProcessorVersionRequestFoundationModelTuningOptions": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3TrainProcessorVersionRequestFoundationModelTuningOptions",
      "description": "Options to control foundation model tuning of the processor.",
      "properties": {
        "learningRateMultiplier": {
          "format": "float",
          "type": "number",
          "description": "Optional. The multiplier to apply to the recommended learning rate. Valid values are between 0.1 and 10. If not provided, recommended learning rate will be used."
        },
        "trainSteps": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The number of steps to run for model tuning. Valid values are between 1 and 400. If not provided, recommended steps will be used."
        },
        "previousFineTunedProcessorVersionName": {
          "type": "string",
          "description": "Optional. Resource name of a previously fine tuned version ID to copy the overwritten configs from. The base_processor_version should be newer than the base processor version used to fine tune this provided processor version. Format: `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}`."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3ProcessorVersionOverrides": {
      "description": "Overrides to apply when creating a new processor version.",
      "properties": {
        "groundingSettings": {
          "description": "Optional. Grounding settings to override the default values.",
          "$ref": "GoogleCloudDocumentaiV1beta3GroundingSettings"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3ProcessorVersionOverrides",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3GenerateSchemaVersionRequestGenerateSchemaVersionParams": {
      "properties": {
        "history": {
          "$ref": "GoogleCloudDocumentaiV1beta3SchemaGenerationHistory",
          "description": "Optional. Previous prompt-answers in a chronological order."
        },
        "prompt": {
          "description": "Optional. The prompt used for the schema generation.",
          "type": "string"
        }
      },
      "description": "The parameters for the schema generation.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3GenerateSchemaVersionRequestGenerateSchemaVersionParams"
    },
    "GoogleCloudDocumentaiV1beta3DocumentDocumentLayoutDocumentLayoutBlock": {
      "description": "Represents a block. A block could be one of the various types (text, table, list) supported.",
      "type": "object",
      "properties": {
        "blockId": {
          "description": "ID of the block.",
          "type": "string"
        },
        "imageBlock": {
          "description": "Block consisting of image content.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentDocumentLayoutDocumentLayoutBlockLayoutImageBlock"
        },
        "textBlock": {
          "description": "Block consisting of text content.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentDocumentLayoutDocumentLayoutBlockLayoutTextBlock"
        },
        "boundingBox": {
          "$ref": "GoogleCloudDocumentaiV1beta3BoundingPoly",
          "description": "Identifies the bounding box for the block."
        },
        "pageSpan": {
          "description": "Page span of the block.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentDocumentLayoutDocumentLayoutBlockLayoutPageSpan"
        },
        "tableBlock": {
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentDocumentLayoutDocumentLayoutBlockLayoutTableBlock",
          "description": "Block consisting of table content/structure."
        },
        "listBlock": {
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentDocumentLayoutDocumentLayoutBlockLayoutListBlock",
          "description": "Block consisting of list content/structure."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DocumentDocumentLayoutDocumentLayoutBlock"
    },
    "GoogleCloudDocumentaiUiv1beta3ImportProcessorVersionResponse": {
      "id": "GoogleCloudDocumentaiUiv1beta3ImportProcessorVersionResponse",
      "type": "object",
      "properties": {
        "processorVersion": {
          "description": "The destination processor version name.",
          "type": "string"
        }
      },
      "description": "The response message for the ImportProcessorVersion method."
    },
    "GoogleCloudDocumentaiV1beta3BatchDatasetDocumentsIndividualDocumentIds": {
      "id": "GoogleCloudDocumentaiV1beta3BatchDatasetDocumentsIndividualDocumentIds",
      "description": "List of individual DocumentIds.",
      "type": "object",
      "properties": {
        "documentIds": {
          "description": "Required. List of Document IDs indicating where the actual documents are stored.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentId"
          }
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3ImportDocumentsRequest": {
      "properties": {
        "batchDocumentsImportConfigs": {
          "description": "Required. The Cloud Storage uri containing raw documents that must be imported.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3ImportDocumentsRequestBatchDocumentsImportConfig"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3ImportDocumentsRequest",
      "type": "object"
    },
    "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleConstant": {
      "description": "The constant value used in the validation rules.",
      "id": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleConstant",
      "type": "object",
      "properties": {
        "floatValue": {
          "format": "float",
          "type": "number"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3DocumentSchemaMetadata": {
      "description": "Metadata for global schema behavior.",
      "properties": {
        "prefixedNamingOnProperties": {
          "description": "If set, all the nested entities must be prefixed with the parents.",
          "type": "boolean"
        },
        "documentAllowMultipleLabels": {
          "type": "boolean",
          "description": "If true, on a given page, there can be multiple `document` annotations covering it."
        },
        "documentSplitter": {
          "description": "If true, a `document` entity type can be applied to subdocument (splitting). Otherwise, it can only be applied to the entire document (classification).",
          "type": "boolean"
        },
        "skipNamingValidation": {
          "description": "If set, this will skip the naming format validation in the schema. So the string values in `DocumentSchema.EntityType.name` and `DocumentSchema.EntityType.Property.name` will not be checked.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3DocumentSchemaMetadata"
    },
    "GoogleCloudDocumentaiUiv1beta3ResyncDatasetMetadataIndividualDocumentResyncStatus": {
      "id": "GoogleCloudDocumentaiUiv1beta3ResyncDatasetMetadataIndividualDocumentResyncStatus",
      "type": "object",
      "description": "Resync status for each document per inconsistency type.",
      "properties": {
        "documentId": {
          "description": "The document identifier.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3DocumentId"
        },
        "status": {
          "description": "The status of resyncing the document with regards to the detected inconsistency. Empty if ResyncDatasetRequest.validate_only is `true`.",
          "$ref": "GoogleRpcStatus"
        },
        "documentInconsistencyType": {
          "type": "string",
          "description": "The type of document inconsistency.",
          "enum": [
            "DOCUMENT_INCONSISTENCY_TYPE_UNSPECIFIED",
            "DOCUMENT_INCONSISTENCY_TYPE_INVALID_DOCPROTO",
            "DOCUMENT_INCONSISTENCY_TYPE_MISMATCHED_METADATA",
            "DOCUMENT_INCONSISTENCY_TYPE_NO_PAGE_IMAGE"
          ],
          "enumDescriptions": [
            "Default value.",
            "The document proto is invalid.",
            "Indexed docproto metadata is mismatched.",
            "The page image or thumbnails are missing."
          ]
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3DocumentChunkedDocument": {
      "type": "object",
      "description": "Represents the chunks that the document is divided into.",
      "id": "GoogleCloudDocumentaiV1beta3DocumentChunkedDocument",
      "properties": {
        "chunks": {
          "type": "array",
          "description": "List of chunks.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentChunkedDocumentChunk"
          }
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3EnableProcessorRequest": {
      "properties": {},
      "type": "object",
      "description": "Request message for the EnableProcessor method.",
      "id": "GoogleCloudDocumentaiV1beta3EnableProcessorRequest"
    },
    "GoogleCloudDocumentaiV1beta3DocumentPageSymbol": {
      "type": "object",
      "description": "A detected symbol.",
      "properties": {
        "detectedLanguages": {
          "description": "A list of detected languages together with confidence.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageDetectedLanguage"
          }
        },
        "layout": {
          "description": "Layout for Symbol.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageLayout"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DocumentPageSymbol"
    },
    "GoogleCloudDocumentaiUiv1beta3SetDefaultProcessorVersionResponse": {
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3SetDefaultProcessorVersionResponse",
      "description": "Response message for the SetDefaultProcessorVersion method.",
      "properties": {}
    },
    "GoogleCloudDocumentaiV1beta3TrainProcessorVersionRequestCustomDocumentExtractionOptions": {
      "id": "GoogleCloudDocumentaiV1beta3TrainProcessorVersionRequestCustomDocumentExtractionOptions",
      "description": "Options to control the training of the Custom Document Extraction (CDE) Processor.",
      "properties": {
        "trainingMethod": {
          "enum": [
            "TRAINING_METHOD_UNSPECIFIED",
            "MODEL_BASED",
            "TEMPLATE_BASED"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "Optional. Training method to use for CDE training."
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3BatchProcessRequest": {
      "properties": {
        "documentOutputConfig": {
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentOutputConfig",
          "description": "The output configuration for the BatchProcessDocuments method."
        },
        "processOptions": {
          "description": "Inference-time options for the process API",
          "$ref": "GoogleCloudDocumentaiV1beta3ProcessOptions"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. The labels with user-defined metadata for the request. Label keys and values can be no longer than 63 characters (Unicode codepoints) and can only contain lowercase letters, numeric characters, underscores, and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter."
        },
        "inputConfigs": {
          "description": "The input config for each single document in the batch process.",
          "deprecated": true,
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3BatchProcessRequestBatchInputConfig"
          },
          "type": "array"
        },
        "inputDocuments": {
          "description": "The input documents for the BatchProcessDocuments method.",
          "$ref": "GoogleCloudDocumentaiV1beta3BatchDocumentsInputConfig"
        },
        "skipHumanReview": {
          "description": "Whether human review should be skipped for this request. Default to `false`.",
          "type": "boolean",
          "deprecated": true
        },
        "outputConfig": {
          "description": "The overall output config for batch process.",
          "$ref": "GoogleCloudDocumentaiV1beta3BatchProcessRequestBatchOutputConfig",
          "deprecated": true
        }
      },
      "description": "Request message for BatchProcessDocuments.",
      "id": "GoogleCloudDocumentaiV1beta3BatchProcessRequest",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3UpdateDatasetOperationMetadata": {
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata"
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3UpdateDatasetOperationMetadata"
    },
    "GoogleCloudDocumentaiV1beta3ProcessorVersionGenAiModelInfoCustomGenAiModelInfo": {
      "properties": {
        "baseProcessorVersionId": {
          "type": "string",
          "description": "The base processor version ID for the custom model."
        },
        "customModelType": {
          "enumDescriptions": [
            "The model type is unspecified.",
            "The model is a versioned foundation model.",
            "The model is a finetuned foundation model."
          ],
          "description": "The type of custom model created by the user.",
          "type": "string",
          "enum": [
            "CUSTOM_MODEL_TYPE_UNSPECIFIED",
            "VERSIONED_FOUNDATION",
            "FINE_TUNED"
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3ProcessorVersionGenAiModelInfoCustomGenAiModelInfo",
      "description": "Information for a custom Generative AI model created by the user. These are created with `Create New Version` in either the `Call foundation model` or `Fine tuning` tabs."
    },
    "GoogleCloudDocumentaiV1UndeployProcessorVersionResponse": {
      "id": "GoogleCloudDocumentaiV1UndeployProcessorVersionResponse",
      "description": "Response message for the UndeployProcessorVersion method.",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3BatchDeleteDocumentsMetadata": {
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3BatchDeleteDocumentsMetadata",
      "properties": {
        "totalDocumentCount": {
          "type": "integer",
          "description": "Total number of documents deleting from dataset.",
          "format": "int32"
        },
        "individualBatchDeleteStatuses": {
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3BatchDeleteDocumentsMetadataIndividualBatchDeleteStatus"
          },
          "type": "array",
          "description": "The list of response details of each document."
        },
        "errorDocumentCount": {
          "format": "int32",
          "description": "Total number of documents that failed to be deleted in storage.",
          "type": "integer"
        },
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3DocumentAnnotations": {
      "description": "Represents the annotation of a block or a chunk.",
      "properties": {
        "description": {
          "description": "The description of the content with this annotation.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3DocumentAnnotations"
    },
    "GoogleCloudDocumentaiV1beta3DocumentIdGCSManagedDocumentId": {
      "id": "GoogleCloudDocumentaiV1beta3DocumentIdGCSManagedDocumentId",
      "properties": {
        "gcsUri": {
          "description": "Required. The Cloud Storage URI where the actual document is stored.",
          "type": "string"
        },
        "cwDocId": {
          "type": "string",
          "description": "ID of the document (indexed) managed by Content Warehouse.",
          "deprecated": true
        }
      },
      "description": "Identifies a document uniquely within the scope of a dataset in the user-managed Cloud Storage option.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3DocumentPageTable": {
      "properties": {
        "layout": {
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageLayout",
          "description": "Layout for Table."
        },
        "bodyRows": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageTableTableRow"
          },
          "description": "Body rows of the table.",
          "type": "array"
        },
        "headerRows": {
          "description": "Header rows of the table.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageTableTableRow"
          },
          "type": "array"
        },
        "provenance": {
          "deprecated": true,
          "description": "The history of this table.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentProvenance"
        },
        "detectedLanguages": {
          "type": "array",
          "description": "A list of detected languages together with confidence.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageDetectedLanguage"
          }
        }
      },
      "type": "object",
      "description": "A table representation similar to HTML table structure.",
      "id": "GoogleCloudDocumentaiV1beta3DocumentPageTable"
    },
    "GoogleCloudDocumentaiV1beta3HumanReviewStatus": {
      "properties": {
        "stateMessage": {
          "type": "string",
          "description": "A message providing more details about the human review state."
        },
        "state": {
          "enumDescriptions": [
            "Human review state is unspecified. Most likely due to an internal error.",
            "Human review is skipped for the document. This can happen because human review isn't enabled on the processor or the processing request has been set to skip this document.",
            "Human review validation is triggered and passed, so no review is needed.",
            "Human review validation is triggered and the document is under review.",
            "Some error happened during triggering human review, see the state_message for details."
          ],
          "description": "The state of human review on the processing request.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "SKIPPED",
            "VALIDATION_PASSED",
            "IN_PROGRESS",
            "ERROR"
          ]
        },
        "humanReviewOperation": {
          "description": "The name of the operation triggered by the processed document. This field is populated only when the state is `HUMAN_REVIEW_IN_PROGRESS`. It has the same response type and metadata as the long-running operation returned by ReviewDocument.",
          "type": "string"
        }
      },
      "description": "The status of human review on a processed document.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3HumanReviewStatus"
    },
    "GoogleCloudDocumentaiUiv1beta3SchemaEntityType": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Description of the entity type."
        },
        "source": {
          "type": "string",
          "enum": [
            "SOURCE_UNSPECIFIED",
            "PREDEFINED",
            "USER_INPUT"
          ],
          "enumDescriptions": [
            "Unspecified source.",
            "The entity type is in the predefined schema of a pretrained version of a processor.",
            "The entity type is added by the users either: - during an uptraining of an existing processor, or - during the process of creating a customized processor."
          ],
          "description": "Source of this entity type."
        },
        "properties": {
          "description": "Describing the nested structure of an entity. An EntityType may consist of several other EntityTypes. For example, in a document there can be an EntityType `ID`, which consists of EntityType `name` and `address`, with corresponding attributes, such as TEXT for both types and ONCE for occurrence types.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3SchemaEntityType"
          }
        },
        "enumValues": {
          "description": "If specified, lists all the possible values for this entity.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "baseType": {
          "type": "string"
        },
        "hide": {
          "type": "boolean",
          "description": "If the entity type is hidden in the schema. This provides the functionality to temporally \"disable\" an entity without deleting it."
        },
        "occurrenceType": {
          "type": "string",
          "enum": [
            "OCCURRENCE_TYPE_UNSPECIFIED",
            "OPTIONAL_ONCE",
            "OPTIONAL_MULTIPLE",
            "REQUIRED_ONCE",
            "REQUIRED_MULTIPLE"
          ],
          "enumDescriptions": [
            "Unspecified occurrence type.",
            "The entity type will appear zero times or once.",
            "The entity type will appear zero or multiple times.",
            "The entity type will only appear exactly once.",
            "The entity type will appear once or more times."
          ],
          "description": "Occurrence type limits the number of times an entity type appears in the document."
        },
        "type": {
          "description": "Name of the type. It must satisfy the following constraints: 1. Must be unique within the set of same level types (with case-insensitive match). 2. Maximum 64 characters. 3. Must start with a letter. 4. Allowed characters: ASCII letters [a-zA-Z], ASCII digits [0-9], or one of the following punctuation characters: * underscore '_' (recommended) * hyphen '-' (allowed, not recommended) * colon ':' (allowed, not recommended) NOTE: Whitespace characters are not allowed. 5. Cannot end with a punctuation character. 6. Cannot contain the following restricted strings: \"google\", \"DocumentAI\" (case-insensitive match). 7. A slash character '/' is reserved as a separator in flattened representations of nested entity types (e.g., \"line_item/amount\") in which case each part (e.g., \"line_item\", \"amount\") must comply with the rules defined above. We recommend using the snake case (\"snake_case\") in entity type names.",
          "type": "string"
        },
        "method": {
          "enumDescriptions": [
            "Unspecified method. It defaults to `EXTRACT`.",
            "The entity's value is directly extracted as-is from the document text.",
            "The entity's value is derived through inference and is not necessarily an exact text extraction from the document.",
            "Attempts to extract the position and value as-is from the document text. If the value cannot be grounded in the text, it falls back to derivation through inference, for both position and value. Note: The inference fallback is currently only supported for boolean entities."
          ],
          "type": "string",
          "enum": [
            "METHOD_UNSPECIFIED",
            "EXTRACT",
            "DERIVE",
            "RELAXED_EXTRACT"
          ],
          "description": "Specifies how the entity's value is obtained."
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3SchemaEntityType",
      "description": "EntityType is the wrapper of a label of the corresponding model with detailed attributes and limitations for entity-based processors. Multiple types can also compose a dependency tree to represent nested types.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3DocumentEntityValidationOutput": {
      "type": "object",
      "properties": {
        "validationResults": {
          "description": "The result of each validation rule.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentEntityValidationOutputValidationResult"
          }
        },
        "passAllRules": {
          "description": "The overall result of the validation, true if all applicable rules are valid.",
          "type": "boolean"
        }
      },
      "description": "The output of the validation given the document and the validation rules.",
      "id": "GoogleCloudDocumentaiV1beta3DocumentEntityValidationOutput"
    },
    "GoogleCloudDocumentaiV1beta3DocumentChunkedDocumentChunkChunkPageSpan": {
      "id": "GoogleCloudDocumentaiV1beta3DocumentChunkedDocumentChunkChunkPageSpan",
      "type": "object",
      "properties": {
        "pageStart": {
          "type": "integer",
          "description": "Page where chunk starts in the document.",
          "format": "int32"
        },
        "pageEnd": {
          "type": "integer",
          "format": "int32",
          "description": "Page where chunk ends in the document."
        }
      },
      "description": "Represents where the chunk starts and ends in the document."
    },
    "GoogleCloudDocumentaiV1beta3DocumentPageDimension": {
      "id": "GoogleCloudDocumentaiV1beta3DocumentPageDimension",
      "properties": {
        "width": {
          "description": "Page width.",
          "format": "float",
          "type": "number"
        },
        "unit": {
          "description": "Dimension unit.",
          "type": "string"
        },
        "height": {
          "description": "Page height.",
          "format": "float",
          "type": "number"
        }
      },
      "type": "object",
      "description": "Dimension for the page."
    },
    "GoogleCloudDocumentaiV1beta3EntityTypeMetadata": {
      "description": "Metadata about an entity type.",
      "properties": {
        "inactive": {
          "description": "Whether the entity type should be considered inactive.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3EntityTypeMetadata",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3DocumentPageLine": {
      "id": "GoogleCloudDocumentaiV1beta3DocumentPageLine",
      "type": "object",
      "description": "A collection of tokens that a human would perceive as a line. Does not cross column boundaries, can be horizontal, vertical, etc.",
      "properties": {
        "layout": {
          "description": "Layout for Line.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageLayout"
        },
        "detectedLanguages": {
          "description": "A list of detected languages together with confidence.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageDetectedLanguage"
          }
        },
        "provenance": {
          "description": "The history of this annotation.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentProvenance",
          "deprecated": true
        }
      }
    },
    "GoogleCloudDocumentaiV1DisableProcessorResponse": {
      "description": "Response message for the DisableProcessor method. Intentionally empty proto for adding fields in future.",
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDocumentaiV1DisableProcessorResponse"
    },
    "GoogleCloudDocumentaiV1beta3ProcessRequest": {
      "properties": {
        "document": {
          "description": "The document payload, the content and mime_type fields must be set.",
          "$ref": "GoogleCloudDocumentaiV1beta3Document",
          "deprecated": true
        },
        "fieldMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "Specifies which fields to include in the ProcessResponse.document output. Only supports top-level document and pages field, so it must be in the form of `{document_field_name}` or `pages.{page_field_name}`."
        },
        "rawDocument": {
          "description": "A raw document content (bytes).",
          "$ref": "GoogleCloudDocumentaiV1beta3RawDocument"
        },
        "imagelessMode": {
          "type": "boolean",
          "description": "Optional. Option to remove images from the document."
        },
        "gcsDocument": {
          "description": "A raw document on Google Cloud Storage.",
          "$ref": "GoogleCloudDocumentaiV1beta3GcsDocument"
        },
        "processOptions": {
          "$ref": "GoogleCloudDocumentaiV1beta3ProcessOptions",
          "description": "Inference-time options for the process API"
        },
        "skipHumanReview": {
          "deprecated": true,
          "description": "Whether human review should be skipped for this request. Default to `false`.",
          "type": "boolean"
        },
        "labels": {
          "type": "object",
          "description": "Optional. The labels with user-defined metadata for the request. Label keys and values can be no longer than 63 characters (Unicode codepoints) and can only contain lowercase letters, numeric characters, underscores, and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "inlineDocument": {
          "description": "An inline document proto.",
          "$ref": "GoogleCloudDocumentaiV1beta3Document"
        }
      },
      "description": "Request message for the ProcessDocument method.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3ProcessRequest"
    },
    "GoogleCloudDocumentaiV1beta3DocumentEntityValidationOutputValidationResult": {
      "id": "GoogleCloudDocumentaiV1beta3DocumentEntityValidationOutputValidationResult",
      "type": "object",
      "properties": {
        "rule": {
          "type": "string",
          "description": "Optional. The name of the rule resource that is used for validation. Format: `projects/{project}/locations/{location}/rules/{rule}`"
        },
        "validationDetails": {
          "description": "The detailed information of the running the validation process using the entity from the document based on the validation rule.",
          "type": "string"
        },
        "ruleName": {
          "type": "string",
          "description": "The display name of the validation rule."
        },
        "ruleDescription": {
          "type": "string",
          "description": "The description of the validation rule."
        },
        "validationResultType": {
          "type": "string",
          "enum": [
            "VALIDATION_RESULT_TYPE_UNSPECIFIED",
            "VALIDATION_RESULT_TYPE_VALID",
            "VALIDATION_RESULT_TYPE_INVALID",
            "VALIDATION_RESULT_TYPE_SKIPPED",
            "VALIDATION_RESULT_TYPE_NOT_APPLICABLE"
          ],
          "description": "The result of the validation rule.",
          "enumDescriptions": [
            "The validation result type is unspecified.",
            "The validation is valid.",
            "The validation is invalid.",
            "The validation is skipped.",
            "The validation is not applicable."
          ]
        }
      },
      "description": "Validation result for a single validation rule."
    },
    "GoogleCloudDocumentaiUiv1beta3ImportDocumentsMetadataImportConfigValidationResult": {
      "id": "GoogleCloudDocumentaiUiv1beta3ImportDocumentsMetadataImportConfigValidationResult",
      "description": "The validation status of each import config. Status is set to an error if there are no documents to import in the `import_config`, or `OK` if the operation will try to proceed with at least one document.",
      "type": "object",
      "properties": {
        "inputGcsSource": {
          "type": "string",
          "description": "The source Cloud Storage URI specified in the import config."
        },
        "status": {
          "description": "The validation status of import config.",
          "$ref": "GoogleRpcStatus"
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3ProcessorVersion": {
      "id": "GoogleCloudDocumentaiUiv1beta3ProcessorVersion",
      "properties": {
        "schema": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3Schema",
          "description": "The schema of the processor version. Describes the output."
        },
        "deploymentAllowed": {
          "type": "boolean",
          "description": "Output only. Denotes that this `ProcessorVersion` can be deployed and undeployed.",
          "readOnly": true
        },
        "documentSchema": {
          "description": "Output only. The schema of the processor version. Describes the output.",
          "readOnly": true,
          "$ref": "GoogleCloudDocumentaiUiv1beta3DocumentSchema"
        },
        "modelType": {
          "enumDescriptions": [
            "The processor version has unspecified model type.",
            "The processor version has generative model type.",
            "The processor version has custom model type."
          ],
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "MODEL_TYPE_GENERATIVE",
            "MODEL_TYPE_CUSTOM"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The model type of this processor version."
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "kmsKeyName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The KMS key name used for encryption."
        },
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "deprecationInfo": {
          "description": "Output only. If set, information about the eventual deprecation of this version.",
          "readOnly": true,
          "$ref": "GoogleCloudDocumentaiUiv1beta3ProcessorVersionDeprecationInfo"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the processor version. Format: `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processor_version}`"
        },
        "googleManaged": {
          "description": "Output only. Denotes that this `ProcessorVersion` is managed by Google.",
          "readOnly": true,
          "type": "boolean"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the processor version was created.",
          "format": "google-datetime"
        },
        "kmsKeyVersionName": {
          "description": "Output only. The KMS key version with which data is encrypted.",
          "type": "string",
          "readOnly": true
        },
        "genAiModelInfo": {
          "description": "Output only. Information about Generative AI model-based processor versions.",
          "readOnly": true,
          "$ref": "GoogleCloudDocumentaiUiv1beta3ProcessorVersionGenAiModelInfo"
        },
        "groundingSettings": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3GroundingSettings",
          "readOnly": true,
          "description": "Output only. The grounding settings of the processor version. This can only be set using TrainProcessorVersionRequest to override the default grounding settings."
        },
        "latestEvaluation": {
          "description": "Output only. The most recently invoked evaluation for the processor version.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3EvaluationReference",
          "readOnly": true
        },
        "state": {
          "description": "Output only. The state of the processor version.",
          "type": "string",
          "enumDescriptions": [
            "The processor version is in an unspecified state.",
            "The processor version is deployed and can be used for processing.",
            "The processor version is being deployed.",
            "The processor version is not deployed and cannot be used for processing.",
            "The processor version is being undeployed.",
            "The processor version is being created.",
            "The processor version is being deleted.",
            "The processor version failed and is in an indeterminate state.",
            "The processor version is being imported."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "DEPLOYED",
            "DEPLOYING",
            "UNDEPLOYED",
            "UNDEPLOYING",
            "CREATING",
            "DELETING",
            "FAILED",
            "IMPORTING"
          ]
        },
        "displayName": {
          "description": "The display name of the processor version.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A processor version is an implementation of a processor. Each processor can have multiple versions, pretrained by Google internally or uptrained by the customer. A processor can only have one default version at a time. Its document-processing behavior is defined by that version."
    },
    "GoogleTypeTimeZone": {
      "type": "object",
      "id": "GoogleTypeTimeZone",
      "properties": {
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\"."
        }
      },
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones)."
    },
    "GoogleCloudDocumentaiV1beta3DisableProcessorResponse": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDocumentaiV1beta3DisableProcessorResponse",
      "description": "Response message for the DisableProcessor method. Intentionally empty proto for adding fields in future."
    },
    "GoogleCloudDocumentaiV1DisableProcessorMetadata": {
      "id": "GoogleCloudDocumentaiV1DisableProcessorMetadata",
      "type": "object",
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiV1CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      },
      "description": "The long-running operation metadata for the DisableProcessor method."
    },
    "GoogleCloudDocumentaiUiv1beta3DeployProcessorVersionMetadata": {
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      },
      "description": "The long-running operation metadata for the DeployProcessorVersion method.",
      "id": "GoogleCloudDocumentaiUiv1beta3DeployProcessorVersionMetadata",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3ImportDocumentsRequestBatchDocumentsImportConfigAutoSplitConfig": {
      "id": "GoogleCloudDocumentaiV1beta3ImportDocumentsRequestBatchDocumentsImportConfigAutoSplitConfig",
      "description": "The config for auto-split.",
      "type": "object",
      "properties": {
        "trainingSplitRatio": {
          "type": "number",
          "description": "Ratio of training dataset split.",
          "format": "float"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3DocumentChunkedDocumentChunkTableChunkField": {
      "properties": {
        "annotations": {
          "description": "Annotation of the table chunk field.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentAnnotations"
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3DocumentChunkedDocumentChunkTableChunkField",
      "description": "The table chunk field in the chunk."
    },
    "GoogleCloudDocumentaiUiv1beta3ImportDocumentsMetadataIndividualImportStatus": {
      "description": "The status of each individual document in the import process.",
      "properties": {
        "outputDocumentId": {
          "description": "The document ID of imported document if it was successful, otherwise empty.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3DocumentId"
        },
        "inputGcsSource": {
          "type": "string",
          "description": "The source Cloud Storage URI of the document."
        },
        "outputGcsDestination": {
          "description": "The output_gcs_destination of the processed document if it was successful, otherwise empty.",
          "type": "string"
        },
        "status": {
          "$ref": "GoogleRpcStatus",
          "description": "The status of the importing of the document."
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3ImportDocumentsMetadataIndividualImportStatus"
    },
    "GoogleCloudDocumentaiUiv1beta3TrainProcessorVersionResponse": {
      "properties": {
        "processorVersion": {
          "description": "The resource name of the processor version produced by training.",
          "type": "string"
        }
      },
      "description": "The response for TrainProcessorVersion.",
      "id": "GoogleCloudDocumentaiUiv1beta3TrainProcessorVersionResponse",
      "type": "object"
    },
    "GoogleTypePostalAddress": {
      "type": "object",
      "description": "Represents a postal address, such as for postal delivery or payments addresses. With a postal address, a postal service can deliver items to a premise, P.O. box, or similar. A postal address is not intended to model geographical locations like roads, towns, or mountains. In typical usage, an address would be created by user input or from importing existing data, depending on the type of process. Advice on address input or editing: - Use an internationalization-ready address widget such as https://github.com/google/libaddressinput. - Users should not be presented with UI elements for input or editing of fields outside countries where that field is used. For more guidance on how to use this schema, see: https://support.google.com/business/answer/6397478.",
      "properties": {
        "locality": {
          "description": "Optional. Generally refers to the city or town portion of the address. Examples: US city, IT comune, UK post town. In regions of the world where localities are not well defined or do not fit into this structure well, leave `locality` empty and use `address_lines`.",
          "type": "string"
        },
        "regionCode": {
          "type": "string",
          "description": "Required. CLDR region code of the country/region of the address. This is never inferred and it is up to the user to ensure the value is correct. See https://cldr.unicode.org/ and https://www.unicode.org/cldr/charts/30/supplemental/territory_information.html for details. Example: \"CH\" for Switzerland."
        },
        "organization": {
          "type": "string",
          "description": "Optional. The name of the organization at the address."
        },
        "administrativeArea": {
          "description": "Optional. Highest administrative subdivision which is used for postal addresses of a country or region. For example, this can be a state, a province, an oblast, or a prefecture. For Spain, this is the province and not the autonomous community (for example, \"Barcelona\" and not \"Catalonia\"). Many countries don't use an administrative area in postal addresses. For example, in Switzerland, this should be left unpopulated.",
          "type": "string"
        },
        "sublocality": {
          "description": "Optional. Sublocality of the address. For example, this can be a neighborhood, borough, or district.",
          "type": "string"
        },
        "addressLines": {
          "items": {
            "type": "string"
          },
          "description": "Unstructured address lines describing the lower levels of an address. Because values in `address_lines` do not have type information and may sometimes contain multiple values in a single field (for example, \"Austin, TX\"), it is important that the line order is clear. The order of address lines should be \"envelope order\" for the country or region of the address. In places where this can vary (for example, Japan), `address_language` is used to make it explicit (for example, \"ja\" for large-to-small ordering and \"ja-Latn\" or \"en\" for small-to-large). In this way, the most specific line of an address can be selected based on the language. The minimum permitted structural representation of an address consists of a `region_code` with all remaining information placed in the `address_lines`. It would be possible to format such an address very approximately without geocoding, but no semantic reasoning could be made about any of the address components until it was at least partially resolved. Creating an address only containing a `region_code` and `address_lines` and then geocoding is the recommended way to handle completely unstructured addresses (as opposed to guessing which parts of the address should be localities or administrative areas).",
          "type": "array"
        },
        "sortingCode": {
          "description": "Optional. Additional, country-specific, sorting code. This is not used in most regions. Where it is used, the value is either a string like \"CEDEX\", optionally followed by a number (for example, \"CEDEX 7\"), or just a number alone, representing the \"sector code\" (Jamaica), \"delivery area indicator\" (Malawi) or \"post office indicator\" (Côte d'Ivoire).",
          "type": "string"
        },
        "postalCode": {
          "type": "string",
          "description": "Optional. Postal code of the address. Not all countries use or require postal codes to be present, but where they are used, they may trigger additional validation with other parts of the address (for example, state or zip code validation in the United States)."
        },
        "revision": {
          "type": "integer",
          "format": "int32",
          "description": "The schema revision of the `PostalAddress`. This must be set to 0, which is the latest revision. All new revisions **must** be backward compatible with old revisions."
        },
        "recipients": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The recipient at the address. This field may, under certain circumstances, contain multiline information. For example, it might contain \"care of\" information."
        },
        "languageCode": {
          "description": "Optional. BCP-47 language code of the contents of this address (if known). This is often the UI language of the input form or is expected to match one of the languages used in the address' country/region, or their transliterated equivalents. This can affect formatting in certain countries, but is not critical to the correctness of the data and will never affect any validation or other non-formatting related operations. If this value is not known, it should be omitted (rather than specifying a possibly incorrect default). Examples: \"zh-Hant\", \"ja\", \"ja-Latn\", \"en\".",
          "type": "string"
        }
      },
      "id": "GoogleTypePostalAddress"
    },
    "GoogleCloudDocumentaiV1beta3Dataset": {
      "properties": {
        "name": {
          "description": "Dataset resource name. Format: `projects/{project}/locations/{location}/processors/{processor}/dataset`",
          "type": "string"
        },
        "gcsManagedConfig": {
          "description": "Optional. User-managed Cloud Storage dataset configuration. Use this configuration if the dataset documents are stored under a user-managed Cloud Storage location.",
          "$ref": "GoogleCloudDocumentaiV1beta3DatasetGCSManagedConfig"
        },
        "documentWarehouseConfig": {
          "$ref": "GoogleCloudDocumentaiV1beta3DatasetDocumentWarehouseConfig",
          "deprecated": true,
          "description": "Optional. Deprecated. Warehouse-based dataset configuration is not supported."
        },
        "satisfiesPzi": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Reserved for future use."
        },
        "satisfiesPzs": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Reserved for future use."
        },
        "unmanagedDatasetConfig": {
          "$ref": "GoogleCloudDocumentaiV1beta3DatasetUnmanagedDatasetConfig",
          "description": "Optional. Unmanaged dataset configuration. Use this configuration if the dataset documents are managed by the document service internally (not user-managed)."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "UNINITIALIZED",
            "INITIALIZING",
            "INITIALIZED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default unspecified enum, should not be used.",
            "Dataset has not been initialized.",
            "Dataset is being initialized.",
            "Dataset has been initialized."
          ],
          "description": "Required. State of the dataset. Ignored when updating dataset."
        }
      },
      "description": "A singleton resource under a Processor which configures a collection of documents.",
      "id": "GoogleCloudDocumentaiV1beta3Dataset",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3DocumentSchemaEntityTypeEnumValues": {
      "properties": {
        "values": {
          "description": "The individual values that this enum values type can include.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3DocumentSchemaEntityTypeEnumValues",
      "description": "Defines the a list of enum values.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3BatchDeleteDocumentsMetadata": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3BatchDeleteDocumentsMetadata",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata"
        },
        "totalDocumentCount": {
          "description": "Total number of documents deleting from dataset.",
          "format": "int32",
          "type": "integer"
        },
        "individualBatchDeleteStatuses": {
          "type": "array",
          "description": "The list of response details of each document.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3BatchDeleteDocumentsMetadataIndividualBatchDeleteStatus"
          }
        },
        "errorDocumentCount": {
          "type": "integer",
          "description": "Total number of documents that failed to be deleted in storage.",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3DocumentStyleFontSize": {
      "id": "GoogleCloudDocumentaiV1beta3DocumentStyleFontSize",
      "description": "Font size with unit.",
      "type": "object",
      "properties": {
        "size": {
          "description": "Font size for the text.",
          "format": "float",
          "type": "number"
        },
        "unit": {
          "description": "Unit for the font size. Follows CSS naming (such as `in`, `px`, and `pt`).",
          "type": "string"
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3HumanReviewValidationMetadata": {
      "properties": {
        "enableValidation": {
          "type": "boolean",
          "description": "Whether to enable human review validation."
        },
        "confidenceThreshold": {
          "format": "float",
          "description": "The confidence threshold if human review validation is enabled.",
          "type": "number"
        }
      },
      "type": "object",
      "description": "Metadata for Human Review config.",
      "id": "GoogleCloudDocumentaiUiv1beta3HumanReviewValidationMetadata"
    },
    "GoogleCloudDocumentaiV1beta3ProcessorVersionAlias": {
      "id": "GoogleCloudDocumentaiV1beta3ProcessorVersionAlias",
      "type": "object",
      "description": "Contains the alias and the aliased resource name of processor version.",
      "properties": {
        "alias": {
          "type": "string",
          "description": "The alias in the form of `processor_version` resource name."
        },
        "processorVersion": {
          "type": "string",
          "description": "The resource name of aliased processor version."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3DocumentProvenanceParent": {
      "id": "GoogleCloudDocumentaiV1beta3DocumentProvenanceParent",
      "type": "object",
      "properties": {
        "revision": {
          "type": "integer",
          "format": "int32",
          "description": "The index of the index into current revision's parent_ids list."
        },
        "index": {
          "type": "integer",
          "description": "The index of the parent item in the corresponding item list (eg. list of entities, properties within entities, etc.) in the parent revision.",
          "format": "int32"
        },
        "id": {
          "format": "int32",
          "deprecated": true,
          "type": "integer",
          "description": "The ID of the parent provenance."
        }
      },
      "description": "The parent element the current element is based on. Used for referencing/aligning, removal and replacement operations."
    },
    "GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadata": {
      "properties": {
        "splitExportStats": {
          "type": "array",
          "description": "The list of statistics for each dataset split type.",
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadataSplitExportStat"
          }
        },
        "individualExportStatuses": {
          "description": "The list of response details of each document.",
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadataIndividualExportStatus"
          },
          "type": "array"
        },
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadata",
      "description": "Metadata of the batch export documents operation.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3ImportProcessorVersionRequestExternalProcessorVersionSource": {
      "description": "The external source processor version.",
      "properties": {
        "serviceEndpoint": {
          "description": "Optional. The Document AI service endpoint. For example, 'https://us-documentai.googleapis.com'",
          "type": "string"
        },
        "processorVersion": {
          "description": "Required. The processor version name. Format: `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}`",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3ImportProcessorVersionRequestExternalProcessorVersionSource"
    },
    "GoogleCloudDocumentaiV1beta3EvaluationReference": {
      "id": "GoogleCloudDocumentaiV1beta3EvaluationReference",
      "type": "object",
      "description": "Gives a short summary of an evaluation, and links to the evaluation itself.",
      "properties": {
        "aggregateMetrics": {
          "description": "An aggregate of the statistics for the evaluation with fuzzy matching on.",
          "$ref": "GoogleCloudDocumentaiV1beta3EvaluationMetrics"
        },
        "aggregateMetricsExact": {
          "$ref": "GoogleCloudDocumentaiV1beta3EvaluationMetrics",
          "description": "An aggregate of the statistics for the evaluation with fuzzy matching off."
        },
        "operation": {
          "type": "string",
          "description": "The resource name of the Long Running Operation for the evaluation."
        },
        "evaluation": {
          "description": "The resource name of the evaluation.",
          "type": "string"
        }
      }
    },
    "GoogleCloudLocationListLocationsResponse": {
      "id": "GoogleCloudLocationListLocationsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "locations": {
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "GoogleCloudLocationLocation"
          }
        }
      },
      "description": "The response message for Locations.ListLocations.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DeleteProcessorMetadata": {
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiV1CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1DeleteProcessorMetadata",
      "description": "The long-running operation metadata for the DeleteProcessor method."
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3DatasetGCSManagedConfig": {
      "type": "object",
      "properties": {
        "gcsPrefix": {
          "$ref": "GoogleCloudDocumentaiV1beta3GcsPrefix",
          "description": "Required. The Cloud Storage URI (a directory) where the documents belonging to the dataset must be stored."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DatasetGCSManagedConfig",
      "description": "Configuration specific to the Cloud Storage-based implementation."
    },
    "GoogleCloudDocumentaiV1beta3EnableProcessorResponse": {
      "description": "Response message for the EnableProcessor method. Intentionally empty proto for adding fields in future.",
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDocumentaiV1beta3EnableProcessorResponse"
    },
    "GoogleCloudDocumentaiUiv1beta3ResyncDatasetMetadataDatasetResyncStatus": {
      "id": "GoogleCloudDocumentaiUiv1beta3ResyncDatasetMetadataDatasetResyncStatus",
      "properties": {
        "datasetInconsistencyType": {
          "enumDescriptions": [
            "Default value.",
            "The marker file under the dataset folder is not found."
          ],
          "enum": [
            "DATASET_INCONSISTENCY_TYPE_UNSPECIFIED",
            "DATASET_INCONSISTENCY_TYPE_NO_STORAGE_MARKER"
          ],
          "description": "The type of the inconsistency of the dataset.",
          "type": "string"
        },
        "status": {
          "description": "The status of resyncing the dataset with regards to the detected inconsistency. Empty if ResyncDatasetRequest.validate_only is `true`.",
          "$ref": "GoogleRpcStatus"
        }
      },
      "description": "Resync status against inconsistency types on the dataset level.",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3ImportDocumentsMetadata": {
      "type": "object",
      "description": "Metadata of the import document operation.",
      "properties": {
        "importConfigValidationResults": {
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3ImportDocumentsMetadataImportConfigValidationResult"
          },
          "type": "array",
          "description": "Validation statuses of the batch documents import config."
        },
        "totalDocumentCount": {
          "description": "Total number of the documents that are qualified for importing.",
          "format": "int32",
          "type": "integer"
        },
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        },
        "individualImportStatuses": {
          "description": "The list of response details of each document.",
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3ImportDocumentsMetadataIndividualImportStatus"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3ImportDocumentsMetadata"
    },
    "GoogleCloudDocumentaiV1beta3ListSchemaVersionsResponse": {
      "id": "GoogleCloudDocumentaiV1beta3ListSchemaVersionsResponse",
      "properties": {
        "schemaVersions": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3SchemaVersion"
          },
          "type": "array",
          "description": "The list of SchemaVersions."
        },
        "nextPageToken": {
          "description": "Points to the next SchemaVersion, otherwise empty.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for ListSchemaVersions."
    },
    "GoogleCloudDocumentaiUiv1beta3TrainProcessorVersionMetadataDatasetValidation": {
      "properties": {
        "documentErrorCount": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of document errors."
        },
        "datasetErrorCount": {
          "description": "The total number of dataset errors.",
          "format": "int32",
          "type": "integer"
        },
        "documentErrors": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "Error information pertaining to specific documents. A maximum of 10 document errors will be returned. Any document with errors will not be used throughout training.",
          "type": "array"
        },
        "datasetErrors": {
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "Error information for the dataset as a whole. A maximum of 10 dataset errors will be returned. A single dataset error is terminal for training."
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3TrainProcessorVersionMetadataDatasetValidation",
      "description": "The dataset validation information. This includes any and all errors with documents and the dataset.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1BatchProcessMetadata": {
      "id": "GoogleCloudDocumentaiV1BatchProcessMetadata",
      "type": "object",
      "properties": {
        "stateMessage": {
          "description": "A message providing more details about the current state of processing. For example, the error message if the operation is failed.",
          "type": "string"
        },
        "individualProcessStatuses": {
          "description": "The list of response details of each document.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1BatchProcessMetadataIndividualProcessStatus"
          },
          "type": "array"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "The creation time of the operation.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The last update time of the operation."
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "WAITING",
            "RUNNING",
            "SUCCEEDED",
            "CANCELLING",
            "CANCELLED",
            "FAILED"
          ],
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "Request operation is waiting for scheduling.",
            "Request is being processed.",
            "The batch processing completed successfully.",
            "The batch processing was being cancelled.",
            "The batch processing was cancelled.",
            "The batch processing has failed."
          ],
          "description": "The state of the current batch processing."
        }
      },
      "description": "The long-running operation metadata for BatchProcessDocuments."
    },
    "GoogleCloudDocumentaiV1beta3BatchProcessRequestBatchOutputConfig": {
      "id": "GoogleCloudDocumentaiV1beta3BatchProcessRequestBatchOutputConfig",
      "properties": {
        "gcsDestination": {
          "type": "string",
          "description": "The output Cloud Storage directory to put the processed documents."
        }
      },
      "deprecated": true,
      "type": "object",
      "description": "The output configuration in the BatchProcessDocuments method."
    },
    "GoogleCloudDocumentaiUiv1beta3UpdateDatasetOperationMetadata": {
      "type": "object",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3UpdateDatasetOperationMetadata"
    },
    "GoogleCloudDocumentaiV1beta3SchemaGenerationHistory": {
      "description": "The history of schema generation iterations.",
      "properties": {
        "iterations": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3SchemaGenerationIteration"
          },
          "description": "Required. Previous prompt-answers in a chronological order.",
          "type": "array"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3SchemaGenerationHistory",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3DatasetSchema": {
      "description": "Dataset Schema.",
      "properties": {
        "satisfiesPzi": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Reserved for future use."
        },
        "name": {
          "description": "Dataset schema resource name. Format: `projects/{project}/locations/{location}/processors/{processor}/dataset/datasetSchema`",
          "type": "string"
        },
        "documentSchema": {
          "description": "Optional. Schema of the dataset.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentSchema"
        },
        "satisfiesPzs": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Reserved for future use."
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3DatasetSchema"
    },
    "GoogleTypeDateTime": {
      "type": "object",
      "properties": {
        "nanos": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999, defaults to 0."
        },
        "minutes": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Minutes of hour of day. Must be from 0 to 59, defaults to 0."
        },
        "utcOffset": {
          "description": "UTC offset. Must be whole seconds, between -18 hours and +18 hours. For example, a UTC offset of -4:00 would be represented as { seconds: -14400 }.",
          "type": "string",
          "format": "google-duration"
        },
        "day": {
          "format": "int32",
          "description": "Optional. Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a datetime without a day.",
          "type": "integer"
        },
        "timeZone": {
          "description": "Time zone.",
          "$ref": "GoogleTypeTimeZone"
        },
        "hours": {
          "description": "Optional. Hours of day in 24 hour format. Should be from 0 to 23, defaults to 0 (midnight). An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "type": "integer",
          "format": "int32"
        },
        "year": {
          "type": "integer",
          "description": "Optional. Year of date. Must be from 1 to 9999, or 0 if specifying a datetime without a year.",
          "format": "int32"
        },
        "seconds": {
          "description": "Optional. Seconds of minutes of the time. Must normally be from 0 to 59, defaults to 0. An API may allow the value 60 if it allows leap-seconds.",
          "type": "integer",
          "format": "int32"
        },
        "month": {
          "format": "int32",
          "description": "Optional. Month of year. Must be from 1 to 12, or 0 if specifying a datetime without a month.",
          "type": "integer"
        }
      },
      "id": "GoogleTypeDateTime",
      "description": "Represents civil time (or occasionally physical time). This type can represent a civil time in one of a few possible ways: * When utc_offset is set and time_zone is unset: a civil time on a calendar day with a particular offset from UTC. * When time_zone is set and utc_offset is unset: a civil time on a calendar day in a particular time zone. * When neither time_zone nor utc_offset is set: a civil time on a calendar day in local time. The date is relative to the Proleptic Gregorian Calendar. If year, month, or day are 0, the DateTime is considered not to have a specific year, month, or day respectively. This type may also be used to represent a physical time if all the date and time fields are set and either case of the `time_offset` oneof is set. Consider using `Timestamp` message for physical time instead. If your use case also would like to store the user's timezone, that can be done in another field. This type is more flexible than some applications may want. Make sure to document and validate your application's limitations."
    },
    "GoogleCloudDocumentaiV1beta3NextSchema": {
      "type": "object",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the Schema was last updated.",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The resource name of the Schema. Format: `projects/{project}/locations/{location}/schemas/{schema}`",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the Schema was created.",
          "format": "google-datetime"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The {{gcp_name_short}} labels for the Schema."
        },
        "displayName": {
          "type": "string",
          "description": "Required. The user-defined name of the Schema."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3NextSchema",
      "description": "NextSchema is a collection of SchemaVersions."
    },
    "GoogleCloudDocumentaiV1beta3EvaluationConfidenceLevelMetrics": {
      "description": "Evaluations metrics, at a specific confidence level.",
      "properties": {
        "metrics": {
          "$ref": "GoogleCloudDocumentaiV1beta3EvaluationMetrics",
          "description": "The metrics at the specific confidence level."
        },
        "confidenceLevel": {
          "description": "The confidence level.",
          "format": "float",
          "type": "number"
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3EvaluationConfidenceLevelMetrics"
    },
    "GoogleCloudDocumentaiV1beta3ImportDocumentsResponse": {
      "id": "GoogleCloudDocumentaiV1beta3ImportDocumentsResponse",
      "properties": {},
      "type": "object",
      "description": "Response of the import document operation."
    },
    "GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadataSplitExportStat": {
      "description": "The statistic representing a dataset split type for this export.",
      "id": "GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadataSplitExportStat",
      "type": "object",
      "properties": {
        "totalDocumentCount": {
          "description": "Total number of documents with the given dataset split type to be exported.",
          "type": "integer",
          "format": "int32"
        },
        "splitType": {
          "enumDescriptions": [
            "Default value if the enum is not set.",
            "Identifies the train documents.",
[...]
