{
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://documentai.mtls.googleapis.com/",
  "name": "documentai",
  "ownerDomain": "google.com",
  "id": "documentai:v1beta3",
  "schemas": {
    "GoogleCloudDocumentaiV1beta3DocumentPageTableTableRow": {
      "properties": {
        "cells": {
          "type": "array",
          "description": "Cells that make up this row.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageTableTableCell"
          }
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DocumentPageTableTableRow",
      "type": "object",
      "description": "A row of table cells."
    },
    "GoogleCloudDocumentaiV1beta3DocumentPageTableTableCell": {
      "id": "GoogleCloudDocumentaiV1beta3DocumentPageTableTableCell",
      "properties": {
        "layout": {
          "description": "Layout for TableCell.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageLayout"
        },
        "detectedLanguages": {
          "description": "A list of detected languages together with confidence.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageDetectedLanguage"
          },
          "type": "array"
        },
        "rowSpan": {
          "format": "int32",
          "description": "How many rows this cell spans.",
          "type": "integer"
        },
        "colSpan": {
          "description": "How many columns this cell spans.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "A cell representation inside the table.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DeleteProcessorVersionMetadata": {
      "id": "GoogleCloudDocumentaiV1DeleteProcessorVersionMetadata",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1CommonOperationMetadata"
        }
      },
      "description": "The long-running operation metadata for the DeleteProcessorVersion method.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3NextSchema": {
      "id": "GoogleCloudDocumentaiV1beta3NextSchema",
      "properties": {
        "labels": {
          "description": "Optional. The {{gcp_name_short}} labels for the Schema.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "description": "Identifier. The resource name of the Schema. Format: `projects/{project}/locations/{location}/schemas/{schema}`",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time when the Schema was last updated.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The user-defined name of the Schema."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the Schema was created."
        }
      },
      "description": "NextSchema is a collection of SchemaVersions.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3EvaluationReference": {
      "type": "object",
      "description": "Gives a short summary of an evaluation, and links to the evaluation itself.",
      "properties": {
        "operation": {
          "description": "The resource name of the Long Running Operation for the evaluation.",
          "type": "string"
        },
        "aggregateMetrics": {
          "description": "An aggregate of the statistics for the evaluation with fuzzy matching on.",
          "$ref": "GoogleCloudDocumentaiV1beta3EvaluationMetrics"
        },
        "aggregateMetricsExact": {
          "description": "An aggregate of the statistics for the evaluation with fuzzy matching off.",
          "$ref": "GoogleCloudDocumentaiV1beta3EvaluationMetrics"
        },
        "evaluation": {
          "type": "string",
          "description": "The resource name of the evaluation."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3EvaluationReference"
    },
    "GoogleCloudDocumentaiV1beta3DocumentProvenanceParent": {
      "type": "object",
      "description": "The parent element the current element is based on. Used for referencing/aligning, removal and replacement operations.",
      "properties": {
        "index": {
          "format": "int32",
          "type": "integer",
          "description": "The index of the parent item in the corresponding item list (eg. list of entities, properties within entities, etc.) in the parent revision."
        },
        "id": {
          "type": "integer",
          "description": "The ID of the parent provenance.",
          "deprecated": true,
          "format": "int32"
        },
        "revision": {
          "type": "integer",
          "description": "The index of the index into current revision's parent_ids list.",
          "format": "int32"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DocumentProvenanceParent"
    },
    "GoogleCloudDocumentaiV1beta3DocumentEntityValidationOutput": {
      "description": "The output of the validation given the document and the validation rules.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3DocumentEntityValidationOutput",
      "properties": {
        "passAllRules": {
          "type": "boolean",
          "description": "The overall result of the validation, true if all applicable rules are valid."
        },
        "validationResults": {
          "type": "array",
          "description": "The result of each validation rule.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentEntityValidationOutputValidationResult"
          }
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3OcrConfigHints": {
      "description": "Hints for OCR Engine",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3OcrConfigHints",
      "properties": {
        "languageHints": {
          "type": "array",
          "description": "List of BCP-47 language codes to use for OCR. In most cases, not specifying it yields the best results since it enables automatic language detection. For languages based on the Latin alphabet, setting hints is not needed. In rare cases, when the language of the text in the image is known, setting a hint will help get better results (although it will be a significant hindrance if the hint is wrong).",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3ProcessorVersionDeprecationInfo": {
      "type": "object",
      "description": "Information about the upcoming deprecation of this processor version.",
      "properties": {
        "deprecationTime": {
          "format": "google-datetime",
          "description": "The time at which this processor version will be deprecated.",
          "type": "string"
        },
        "replacementProcessorVersion": {
          "description": "If set, the processor version that will be used as a replacement.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3ProcessorVersionDeprecationInfo"
    },
    "GoogleCloudDocumentaiV1beta3DocumentDocumentLayoutDocumentLayoutBlock": {
      "id": "GoogleCloudDocumentaiV1beta3DocumentDocumentLayoutDocumentLayoutBlock",
      "properties": {
        "tableBlock": {
          "description": "Block consisting of table content/structure.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentDocumentLayoutDocumentLayoutBlockLayoutTableBlock"
        },
        "blockId": {
          "description": "ID of the block.",
          "type": "string"
        },
        "imageBlock": {
          "description": "Block consisting of image content.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentDocumentLayoutDocumentLayoutBlockLayoutImageBlock"
        },
        "textBlock": {
          "description": "Block consisting of text content.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentDocumentLayoutDocumentLayoutBlockLayoutTextBlock"
        },
        "listBlock": {
          "description": "Block consisting of list content/structure.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentDocumentLayoutDocumentLayoutBlockLayoutListBlock"
        },
        "pageSpan": {
          "description": "Page span of the block.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentDocumentLayoutDocumentLayoutBlockLayoutPageSpan"
        },
        "boundingBox": {
          "description": "Identifies the bounding box for the block.",
          "$ref": "GoogleCloudDocumentaiV1beta3BoundingPoly"
        }
      },
      "description": "Represents a block. A block could be one of the various types (text, table, list) supported.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3FetchProcessorTypesResponse": {
      "type": "object",
      "description": "Response message for the FetchProcessorTypes method.",
      "properties": {
        "processorTypes": {
          "description": "The list of processor types.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3ProcessorType"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3FetchProcessorTypesResponse"
    },
    "GoogleCloudDocumentaiUiv1beta3ExportDocumentsResponse": {
      "properties": {},
      "id": "GoogleCloudDocumentaiUiv1beta3ExportDocumentsResponse",
      "type": "object",
      "description": "The response proto of ExportDocuments method."
    },
    "GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadataIndividualExportStatus": {
      "id": "GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadataIndividualExportStatus",
      "properties": {
        "documentId": {
          "description": "The path to source docproto of the document.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3DocumentId"
        },
        "outputGcsDestination": {
          "type": "string",
          "description": "The output_gcs_destination of the exported document if it was successful, otherwise empty."
        },
        "status": {
          "description": "The status of the exporting of the document.",
          "$ref": "GoogleRpcStatus"
        }
      },
      "description": "The status of each individual document in the export process.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3DocumentDocumentLayout": {
      "description": "Represents the parsed layout of a document as a collection of blocks that the document is divided into.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3DocumentDocumentLayout",
      "properties": {
        "blocks": {
          "description": "List of blocks in the document.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentDocumentLayoutDocumentLayoutBlock"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3DatasetGCSManagedConfig": {
      "type": "object",
      "description": "Configuration specific to the Cloud Storage-based implementation.",
      "properties": {
        "gcsPrefix": {
          "description": "Required. The Cloud Storage URI (a directory) where the documents belonging to the dataset must be stored.",
          "$ref": "GoogleCloudDocumentaiV1beta3GcsPrefix"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DatasetGCSManagedConfig"
    },
    "GoogleCloudDocumentaiV1EvaluateProcessorVersionResponse": {
      "id": "GoogleCloudDocumentaiV1EvaluateProcessorVersionResponse",
      "properties": {
        "evaluation": {
          "type": "string",
          "description": "The resource name of the created evaluation."
        }
      },
      "description": "Response of the EvaluateProcessorVersion method.",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3DeleteProcessorVersionMetadata": {
      "id": "GoogleCloudDocumentaiUiv1beta3DeleteProcessorVersionMetadata",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      },
      "description": "The long-running operation metadata for the DeleteProcessorVersion method.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3HumanReviewStatus": {
      "properties": {
        "state": {
          "enumDescriptions": [
            "Human review state is unspecified. Most likely due to an internal error.",
            "Human review is skipped for the document. This can happen because human review isn't enabled on the processor or the processing request has been set to skip this document.",
            "Human review validation is triggered and passed, so no review is needed.",
            "Human review validation is triggered and the document is under review.",
            "Some error happened during triggering human review, see the state_message for details."
          ],
          "description": "The state of human review on the processing request.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "SKIPPED",
            "VALIDATION_PASSED",
            "IN_PROGRESS",
            "ERROR"
          ]
        },
        "humanReviewOperation": {
          "description": "The name of the operation triggered by the processed document. This field is populated only when the state is `HUMAN_REVIEW_IN_PROGRESS`. It has the same response type and metadata as the long-running operation returned by ReviewDocument.",
          "type": "string"
        },
        "stateMessage": {
          "description": "A message providing more details about the human review state.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3HumanReviewStatus",
      "type": "object",
      "description": "The status of human review on a processed document."
    },
    "GoogleCloudDocumentaiV1beta3EntityTypeMetadata": {
      "description": "Metadata about an entity type.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3EntityTypeMetadata",
      "properties": {
        "inactive": {
          "type": "boolean",
          "description": "Whether the entity type should be considered inactive."
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3UpdateDatasetOperationMetadata": {
      "id": "GoogleCloudDocumentaiUiv1beta3UpdateDatasetOperationMetadata",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3UpdateProcessorVersionMetadata": {
      "description": "The long-running operation metadata for the UpdateProcessorVersion method.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3UpdateProcessorVersionMetadata",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata for the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3DocumentEntityNormalizedValue": {
      "type": "object",
      "description": "Parsed and normalized entity value.",
      "properties": {
        "dateValue": {
          "description": "Date value. Includes year, month, day. See also: https://github.com/googleapis/googleapis/blob/master/google/type/date.proto",
          "$ref": "GoogleTypeDate"
        },
        "floatValue": {
          "format": "float",
          "description": "Float value.",
          "type": "number"
        },
        "signatureValue": {
          "type": "boolean",
          "description": "A signature, which is a graphical representation of a person's name, often used to sign a document."
        },
        "addressValue": {
          "description": "Postal address. See also: https://github.com/googleapis/googleapis/blob/master/google/type/postal_address.proto",
          "$ref": "GoogleTypePostalAddress"
        },
        "text": {
          "description": "Optional. An optional field to store a normalized string. For some entity types, one of respective `structured_value` fields may also be populated. Also not all the types of `structured_value` will be normalized. For example, some processors may not generate `float` or `integer` normalized text by default. Below are sample formats mapped to structured values. - Money/Currency type (`money_value`) is in the ISO 4217 text format. - Date type (`date_value`) is in the ISO 8601 text format. - Datetime type (`datetime_value`) is in the ISO 8601 text format.",
          "type": "string"
        },
        "booleanValue": {
          "description": "Boolean value. Can be used for entities with binary values, or for checkboxes.",
          "type": "boolean"
        },
        "moneyValue": {
          "description": "Money value. See also: https://github.com/googleapis/googleapis/blob/master/google/type/money.proto",
          "$ref": "GoogleTypeMoney"
        },
        "integerValue": {
          "format": "int32",
          "type": "integer",
          "description": "Integer value."
        },
        "datetimeValue": {
          "description": "DateTime value. Includes date, time, and timezone. See also: https://github.com/googleapis/googleapis/blob/master/google/type/datetime.proto",
          "$ref": "GoogleTypeDateTime"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DocumentEntityNormalizedValue"
    },
    "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleFieldOccurrences": {
      "id": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleFieldOccurrences",
      "properties": {
        "field": {
          "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleField"
        },
        "maxOccurrences": {
          "type": "integer",
          "format": "uint32"
        },
        "minOccurrences": {
          "description": "Min and max occurrences of the field. If not set, there is limit set. The defined interval is a closed-closed interval, i.e. [min, max].",
          "type": "integer",
          "format": "uint32"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3ImportProcessorVersionRequest": {
      "properties": {
        "processorVersionSource": {
          "type": "string",
          "description": "The source processor version to import from. The source processor version and destination processor need to be in the same environment and region."
        },
        "externalProcessorVersionSource": {
          "description": "The source processor version to import from. It can be from a different environment and region than the destination processor.",
          "$ref": "GoogleCloudDocumentaiV1beta3ImportProcessorVersionRequestExternalProcessorVersionSource"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3ImportProcessorVersionRequest",
      "type": "object",
      "description": "The request message for the ImportProcessorVersion method. The Document AI [Service Agent](https://cloud.google.com/iam/docs/service-agents) of the destination project must have [Document AI Editor role](https://cloud.google.com/document-ai/docs/access-control/iam-roles) on the source project. The destination project is specified as part of the parent field. The source project is specified as part of the source or external_processor_version_source field."
    },
    "GoogleCloudDocumentaiUiv1beta3ResyncDatasetMetadataDatasetResyncStatus": {
      "id": "GoogleCloudDocumentaiUiv1beta3ResyncDatasetMetadataDatasetResyncStatus",
      "properties": {
        "datasetInconsistencyType": {
          "type": "string",
          "enum": [
            "DATASET_INCONSISTENCY_TYPE_UNSPECIFIED",
            "DATASET_INCONSISTENCY_TYPE_NO_STORAGE_MARKER"
          ],
          "description": "The type of the inconsistency of the dataset.",
          "enumDescriptions": [
            "Default value.",
            "The marker file under the dataset folder is not found."
          ]
        },
        "status": {
          "description": "The status of resyncing the dataset with regards to the detected inconsistency. Empty if ResyncDatasetRequest.validate_only is `true`.",
          "$ref": "GoogleRpcStatus"
        }
      },
      "description": "Resync status against inconsistency types on the dataset level.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3DocumentMetadata": {
      "properties": {
        "datasetType": {
          "enumDescriptions": [
            "Default value if the enum is not set.",
            "Identifies the train documents.",
            "Identifies the test documents.",
            "Identifies the unassigned documents."
          ],
          "type": "string",
          "enum": [
            "DATASET_SPLIT_TYPE_UNSPECIFIED",
            "DATASET_SPLIT_TRAIN",
            "DATASET_SPLIT_TEST",
            "DATASET_SPLIT_UNASSIGNED"
          ],
          "description": "Type of the dataset split to which the document belongs."
        },
        "pageCount": {
          "format": "int32",
          "type": "integer",
          "description": "Number of pages in the document."
        },
        "displayName": {
          "description": "The display name of the document.",
          "type": "string"
        },
        "documentId": {
          "description": "Document identifier.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentId"
        },
        "labelingState": {
          "type": "string",
          "enum": [
            "DOCUMENT_LABELING_STATE_UNSPECIFIED",
            "DOCUMENT_LABELED",
            "DOCUMENT_UNLABELED",
            "DOCUMENT_AUTO_LABELED"
          ],
          "description": "Labeling state of the document.",
          "enumDescriptions": [
            "Default value if the enum is not set.",
            "Document has been labeled.",
            "Document has not been labeled.",
            "Document has been auto-labeled."
          ]
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DocumentMetadata",
      "type": "object",
      "description": "Metadata about a document."
    },
    "GoogleCloudDocumentaiV1beta3Vertex": {
      "type": "object",
      "description": "A vertex represents a 2D point in the image. NOTE: the vertex coordinates are in the same scale as the original image.",
      "properties": {
        "y": {
          "format": "int32",
          "type": "integer",
          "description": "Y coordinate (starts from the top of the image)."
        },
        "x": {
          "type": "integer",
          "description": "X coordinate.",
          "format": "int32"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3Vertex"
    },
    "GoogleCloudDocumentaiV1beta3DocumentChunkedDocumentChunkChunkPageFooter": {
      "properties": {
        "text": {
          "description": "Footer in text format.",
          "type": "string"
        },
        "pageSpan": {
          "description": "Page span of the footer.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentChunkedDocumentChunkChunkPageSpan"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DocumentChunkedDocumentChunkChunkPageFooter",
      "type": "object",
      "description": "Represents the page footer associated with the chunk."
    },
    "GoogleCloudDocumentaiV1beta3DocumentPageLayout": {
      "id": "GoogleCloudDocumentaiV1beta3DocumentPageLayout",
      "properties": {
        "confidence": {
          "description": "Confidence of the current Layout within context of the object this layout is for. For example, confidence can be for a single token, a table, a visual element, etc. depending on context. Range `[0, 1]`.",
          "type": "number",
          "format": "float"
        },
        "boundingPoly": {
          "description": "The bounding polygon for the Layout.",
          "$ref": "GoogleCloudDocumentaiV1beta3BoundingPoly"
        },
        "textAnchor": {
          "description": "Text anchor indexing into the Document.text.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentTextAnchor"
        },
        "orientation": {
          "description": "Detected orientation for the Layout.",
          "type": "string",
          "enum": [
            "ORIENTATION_UNSPECIFIED",
            "PAGE_UP",
            "PAGE_RIGHT",
            "PAGE_DOWN",
            "PAGE_LEFT"
          ],
          "enumDescriptions": [
            "Unspecified orientation.",
            "Orientation is aligned with page up.",
            "Orientation is aligned with page right. Turn the head 90 degrees clockwise from upright to read.",
            "Orientation is aligned with page down. Turn the head 180 degrees from upright to read.",
            "Orientation is aligned with page left. Turn the head 90 degrees counterclockwise from upright to read."
          ]
        }
      },
      "description": "Visual element describing a layout unit on a page.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3ListSchemaVersionsResponse": {
      "description": "Response message for ListSchemaVersions.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3ListSchemaVersionsResponse",
      "properties": {
        "schemaVersions": {
          "description": "The list of SchemaVersions.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3SchemaVersion"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Points to the next SchemaVersion, otherwise empty.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3DocumentSchemaEntityType": {
      "id": "GoogleCloudDocumentaiV1beta3DocumentSchemaEntityType",
      "properties": {
        "description": {
          "description": "The description of the entity type. Could be used to provide more information about the entity type for model calls.",
          "type": "string"
        },
        "baseTypes": {
          "type": "array",
          "description": "The entity type that this type is derived from. For now, one and only one should be set.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Name of the type. It must be unique within the schema file and cannot be a \"Common Type\". The following naming conventions are used: - Use `snake_casing`. - Name matching is case-sensitive. - Maximum 64 characters. - Must start with a letter. - Allowed characters: ASCII letters `[a-z0-9_-]`. (For backward compatibility, internal infrastructure and tooling can handle any ASCII character.) - The `/` is sometimes used to denote a property of a type. For example, `line_item/amount`. This convention is deprecated, but will still be honored for backward compatibility.",
          "type": "string"
        },
        "properties": {
          "description": "Description the nested structure, or composition of an entity.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentSchemaEntityTypeProperty"
          },
          "type": "array"
        },
        "enumValues": {
          "description": "If specified, lists all the possible values for this entity. This should not be more than a handful of values. If the number of values is >10 or could change frequently, use the `EntityType.value_ontology` field and specify a list of all possible values in a value ontology file.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentSchemaEntityTypeEnumValues"
        },
        "displayName": {
          "type": "string",
          "description": "User defined name for the type."
        },
        "entityTypeMetadata": {
          "description": "Metadata for the entity type.",
          "$ref": "GoogleCloudDocumentaiV1beta3EntityTypeMetadata"
        }
      },
      "description": "EntityType is the wrapper of a label of the corresponding model with detailed attributes and limitations for entity-based processors. Multiple types can also compose a dependency tree to represent nested types.",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3SampleDocumentsResponseSelectedDocument": {
      "properties": {
        "documentId": {
          "description": "An internal identifier for document.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3SampleDocumentsResponseSelectedDocument",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3ListProcessorTypesResponse": {
      "description": "Response message for the ListProcessorTypes method.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3ListProcessorTypesResponse",
      "properties": {
        "processorTypes": {
          "type": "array",
          "description": "The processor types.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3ProcessorType"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Points to the next page, otherwise empty."
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3DocumentSchemaMetadata": {
      "properties": {
        "documentSplitter": {
          "type": "boolean",
          "description": "If true, a `document` entity type can be applied to subdocument (splitting). Otherwise, it can only be applied to the entire document (classification)."
        },
        "documentAllowMultipleLabels": {
          "description": "If true, on a given page, there can be multiple `document` annotations covering it.",
          "type": "boolean"
        },
        "skipNamingValidation": {
          "type": "boolean",
          "description": "If set, this will skip the naming format validation in the schema. So the string values in `DocumentSchema.EntityType.name` and `DocumentSchema.EntityType.Property.name` will not be checked."
        },
        "prefixedNamingOnProperties": {
          "type": "boolean",
          "description": "If set, all the nested entities must be prefixed with the parents."
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3DocumentSchemaMetadata",
      "type": "object",
      "description": "Metadata for global schema behavior."
    },
    "GoogleCloudDocumentaiUiv1beta3ProcessorVersionGenAiModelInfoCustomGenAiModelInfo": {
      "type": "object",
      "description": "Information for a custom Generative AI model created by the user. These are created with `Create New Version` in either the `Call foundation model` or `Fine tuning` tabs.",
      "properties": {
        "customModelType": {
          "description": "The type of custom model created by the user.",
          "type": "string",
          "enum": [
            "CUSTOM_MODEL_TYPE_UNSPECIFIED",
            "VERSIONED_FOUNDATION",
            "FINE_TUNED"
          ],
          "enumDescriptions": [
            "The model type is unspecified.",
            "The model is a versioned foundation model.",
            "The model is a finetuned foundation model."
          ]
        },
        "baseProcessorVersionId": {
          "type": "string",
          "description": "The base processor version ID for the custom model."
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3ProcessorVersionGenAiModelInfoCustomGenAiModelInfo"
    },
    "CloudAiDocumentaiLabHifiaToolsValidationValidatorInput": {
      "type": "object",
      "description": "Definition of the validation rules. Those are the input to the validator logic and they are used to validate a document. Next ID: 3",
      "properties": {
        "validationRules": {
          "items": {
            "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRule"
          },
          "type": "array"
        }
      },
      "id": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInput"
    },
    "GoogleCloudDocumentaiUiv1beta3ImportDocumentsResponse": {
      "properties": {},
      "id": "GoogleCloudDocumentaiUiv1beta3ImportDocumentsResponse",
      "type": "object",
      "description": "Response of the import document operation."
    },
    "GoogleCloudDocumentaiUiv1beta3FieldTierMetadata": {
      "description": "Metadata for the field tier of a property.",
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3FieldTierMetadata",
      "properties": {
        "tierLevel": {
          "format": "int32",
          "type": "integer",
          "description": "Integer that indicates the tier of a property. e.g. Invoice has entities that are classified as tier 1 which is the most important, while tier 2 and tier 3 less so. This attribute can be used to filter schema attributes before running eval. e.g. compute F1 score for only tier 1 entities. If not present this attribute should be inferred as 1."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3GcsPrefix": {
      "type": "object",
      "description": "Specifies all documents on Cloud Storage with a common prefix.",
      "properties": {
        "gcsUriPrefix": {
          "description": "The URI prefix.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3GcsPrefix"
    },
    "GoogleCloudDocumentaiV1beta3DisableProcessorRequest": {
      "type": "object",
      "description": "Request message for the DisableProcessor method.",
      "properties": {},
      "id": "GoogleCloudDocumentaiV1beta3DisableProcessorRequest"
    },
    "GoogleCloudDocumentaiV1beta3TrainProcessorVersionMetadataDatasetValidation": {
      "description": "The dataset validation information. This includes any and all errors with documents and the dataset.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3TrainProcessorVersionMetadataDatasetValidation",
      "properties": {
        "datasetErrorCount": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of dataset errors."
        },
        "documentErrors": {
          "type": "array",
          "description": "Error information pertaining to specific documents. A maximum of 10 document errors will be returned. Any document with errors will not be used throughout training.",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "documentErrorCount": {
          "description": "The total number of document errors.",
          "type": "integer",
          "format": "int32"
        },
        "datasetErrors": {
          "type": "array",
          "description": "Error information for the dataset as a whole. A maximum of 10 dataset errors will be returned. A single dataset error is terminal for training.",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3EvaluateProcessorVersionMetadata": {
      "type": "object",
      "description": "Metadata of the EvaluateProcessorVersion method.",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3EvaluateProcessorVersionMetadata"
    },
    "GoogleCloudDocumentaiV1beta3SetDefaultProcessorVersionRequest": {
      "type": "object",
      "description": "Request message for the SetDefaultProcessorVersion method.",
      "properties": {
        "defaultProcessorVersion": {
          "description": "Required. The resource name of child ProcessorVersion to use as default. Format: `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{version}`",
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3SetDefaultProcessorVersionRequest"
    },
    "GoogleCloudDocumentaiV1beta3Dataset": {
      "type": "object",
      "description": "A singleton resource under a Processor which configures a collection of documents.",
      "properties": {
        "gcsManagedConfig": {
          "description": "Optional. User-managed Cloud Storage dataset configuration. Use this configuration if the dataset documents are stored under a user-managed Cloud Storage location.",
          "$ref": "GoogleCloudDocumentaiV1beta3DatasetGCSManagedConfig"
        },
        "satisfiesPzs": {
          "readOnly": true,
          "description": "Output only. Reserved for future use.",
          "type": "boolean"
        },
        "name": {
          "description": "Dataset resource name. Format: `projects/{project}/locations/{location}/processors/{processor}/dataset`",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Default unspecified enum, should not be used.",
            "Dataset has not been initialized.",
            "Dataset is being initialized.",
            "Dataset has been initialized."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "UNINITIALIZED",
            "INITIALIZING",
            "INITIALIZED"
          ],
          "description": "Required. State of the dataset. Ignored when updating dataset."
        },
        "documentWarehouseConfig": {
          "description": "Optional. Deprecated. Warehouse-based dataset configuration is not supported.",
          "deprecated": true,
          "$ref": "GoogleCloudDocumentaiV1beta3DatasetDocumentWarehouseConfig"
        },
        "unmanagedDatasetConfig": {
          "description": "Optional. Unmanaged dataset configuration. Use this configuration if the dataset documents are managed by the document service internally (not user-managed).",
          "$ref": "GoogleCloudDocumentaiV1beta3DatasetUnmanagedDatasetConfig"
        },
        "satisfiesPzi": {
          "readOnly": true,
          "description": "Output only. Reserved for future use.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3Dataset"
    },
    "GoogleCloudDocumentaiUiv1beta3BatchMoveDocumentsMetadata": {
      "id": "GoogleCloudDocumentaiUiv1beta3BatchMoveDocumentsMetadata",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        },
        "destDatasetType": {
          "enumDescriptions": [
            "Default value if the enum is not set.",
            "Identifies the train documents.",
            "Identifies the test documents.",
            "Identifies the unassigned documents."
          ],
          "description": "The destination dataset split type.",
          "type": "string",
          "deprecated": true,
          "enum": [
            "DATASET_SPLIT_TYPE_UNSPECIFIED",
            "DATASET_SPLIT_TRAIN",
            "DATASET_SPLIT_TEST",
            "DATASET_SPLIT_UNASSIGNED"
          ]
        },
        "individualBatchMoveStatuses": {
          "type": "array",
          "description": "The list of response details of each document.",
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3BatchMoveDocumentsMetadataIndividualBatchMoveStatus"
          }
        },
        "destSplitType": {
          "enumDescriptions": [
            "Default value if the enum is not set.",
            "Identifies the train documents.",
            "Identifies the test documents.",
            "Identifies the unassigned documents."
          ],
          "type": "string",
          "enum": [
            "DATASET_SPLIT_TYPE_UNSPECIFIED",
            "DATASET_SPLIT_TRAIN",
            "DATASET_SPLIT_TEST",
            "DATASET_SPLIT_UNASSIGNED"
          ],
          "description": "The destination dataset split type."
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3UndeployProcessorVersionRequest": {
      "description": "Request message for the UndeployProcessorVersion method.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3UndeployProcessorVersionRequest",
      "properties": {}
    },
    "GoogleCloudDocumentaiV1BatchProcessMetadataIndividualProcessStatus": {
      "id": "GoogleCloudDocumentaiV1BatchProcessMetadataIndividualProcessStatus",
      "properties": {
        "inputGcsSource": {
          "description": "The source of the document, same as the input_gcs_source field in the request when the batch process started.",
          "type": "string"
        },
        "status": {
          "description": "The status processing the document.",
          "$ref": "GoogleRpcStatus"
        },
        "humanReviewStatus": {
          "description": "The status of human review on the processed document.",
          "$ref": "GoogleCloudDocumentaiV1HumanReviewStatus"
        },
        "outputGcsDestination": {
          "description": "The Cloud Storage output destination (in the request as DocumentOutputConfig.GcsOutputConfig.gcs_uri) of the processed document if it was successful, otherwise empty.",
          "type": "string"
        }
      },
      "description": "The status of a each individual document in the batch process.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3DocumentTextAnchorTextSegment": {
      "type": "object",
      "description": "A text segment in the Document.text. The indices may be out of bounds which indicate that the text extends into another document shard for large sharded documents. See ShardInfo.text_offset",
      "properties": {
        "startIndex": {
          "description": "TextSegment start UTF-8 char index in the Document.text.",
          "type": "string",
          "format": "int64"
        },
        "endIndex": {
          "format": "int64",
          "type": "string",
          "description": "TextSegment half open end UTF-8 char index in the Document.text."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DocumentTextAnchorTextSegment"
    },
    "GoogleCloudDocumentaiUiv1beta3UndeployProcessorVersionResponse": {
      "id": "GoogleCloudDocumentaiUiv1beta3UndeployProcessorVersionResponse",
      "properties": {},
      "description": "Response message for the UndeployProcessorVersion method.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3DocumentDocumentLayoutDocumentLayoutBlockLayoutTableBlock": {
      "id": "GoogleCloudDocumentaiV1beta3DocumentDocumentLayoutDocumentLayoutBlockLayoutTableBlock",
      "properties": {
        "headerRows": {
          "type": "array",
          "description": "Header rows at the top of the table.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentDocumentLayoutDocumentLayoutBlockLayoutTableRow"
          }
        },
        "annotations": {
          "description": "Annotation of the table block.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentAnnotations"
        },
        "caption": {
          "description": "Table caption/title.",
          "type": "string"
        },
        "bodyRows": {
          "description": "Body rows containing main table content.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentDocumentLayoutDocumentLayoutBlockLayoutTableRow"
          },
          "type": "array"
        }
      },
      "description": "Represents a table type block.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1BatchProcessResponse": {
      "description": "Response message for BatchProcessDocuments.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1BatchProcessResponse",
      "properties": {}
    },
    "GoogleCloudDocumentaiV1beta3DocumentChunkedDocument": {
      "id": "GoogleCloudDocumentaiV1beta3DocumentChunkedDocument",
      "properties": {
        "chunks": {
          "type": "array",
          "description": "List of chunks.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentChunkedDocumentChunk"
          }
        }
      },
      "description": "Represents the chunks that the document is divided into.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3DocumentBlobAsset": {
      "description": "Represents a blob asset. It's used to store the content of the inline blob in this document, for example, image bytes, such that it can be referenced by other fields in the document via asset ID.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3DocumentBlobAsset",
      "properties": {
        "assetId": {
          "description": "Optional. The ID of the blob asset.",
          "type": "string"
        },
        "mimeType": {
          "type": "string",
          "description": "The mime type of the blob asset. An IANA published [media type (MIME type)](https://www.iana.org/assignments/media-types/media-types.xhtml)."
        },
        "content": {
          "type": "string",
          "description": "Optional. The content of the blob asset, for example, image bytes.",
          "format": "byte"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3ImportProcessorVersionRequestExternalProcessorVersionSource": {
      "id": "GoogleCloudDocumentaiV1beta3ImportProcessorVersionRequestExternalProcessorVersionSource",
      "properties": {
        "processorVersion": {
          "type": "string",
          "description": "Required. The processor version name. Format: `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}`"
        },
        "serviceEndpoint": {
          "description": "Optional. The Document AI service endpoint. For example, 'https://us-documentai.googleapis.com'",
          "type": "string"
        }
      },
      "description": "The external source processor version.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3DocumentPageTokenStyleInfo": {
      "description": "Font and other text style attributes.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3DocumentPageTokenStyleInfo",
      "properties": {
        "textColor": {
          "description": "Color of the text.",
          "$ref": "GoogleTypeColor"
        },
        "underlined": {
          "description": "Whether the text is underlined.",
          "type": "boolean"
        },
        "smallcaps": {
          "description": "Whether the text is in small caps. This feature is not supported yet.",
          "type": "boolean"
        },
        "subscript": {
          "description": "Whether the text is a subscript. This feature is not supported yet.",
          "type": "boolean"
        },
        "pixelFontSize": {
          "description": "Font size in pixels, equal to _unrounded font_size_ * _resolution_ ÷ `72.0`.",
          "type": "number",
          "format": "double"
        },
        "bold": {
          "description": "Whether the text is bold (equivalent to font_weight is at least `700`).",
          "type": "boolean"
        },
        "fontSize": {
          "type": "integer",
          "description": "Font size in points (`1` point is `¹⁄₇₂` inches).",
          "format": "int32"
        },
        "superscript": {
          "type": "boolean",
          "description": "Whether the text is a superscript. This feature is not supported yet."
        },
        "italic": {
          "description": "Whether the text is italic.",
          "type": "boolean"
        },
        "letterSpacing": {
          "format": "double",
          "type": "number",
          "description": "Letter spacing in points."
        },
        "backgroundColor": {
          "description": "Color of the background.",
          "$ref": "GoogleTypeColor"
        },
        "fontWeight": {
          "type": "integer",
          "description": "TrueType weight on a scale `100` (thin) to `1000` (ultra-heavy). Normal is `400`, bold is `700`.",
          "format": "int32"
        },
        "fontType": {
          "description": "Name or style of the font.",
          "type": "string"
        },
        "handwritten": {
          "description": "Whether the text is handwritten.",
          "type": "boolean"
        },
        "strikeout": {
          "description": "Whether the text is strikethrough. This feature is not supported yet.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3DocumentEntityValidationOutputValidationResult": {
      "type": "object",
      "description": "Validation result for a single validation rule.",
      "properties": {
        "rule": {
          "type": "string",
          "description": "Optional. The name of the rule resource that is used for validation. Format: `projects/{project}/locations/{location}/rules/{rule}`"
        },
        "validationResultType": {
          "enumDescriptions": [
            "The validation result type is unspecified.",
            "The validation is valid.",
            "The validation is invalid.",
            "The validation is skipped.",
            "The validation is not applicable."
          ],
          "type": "string",
          "enum": [
            "VALIDATION_RESULT_TYPE_UNSPECIFIED",
            "VALIDATION_RESULT_TYPE_VALID",
            "VALIDATION_RESULT_TYPE_INVALID",
            "VALIDATION_RESULT_TYPE_SKIPPED",
            "VALIDATION_RESULT_TYPE_NOT_APPLICABLE"
          ],
          "description": "The result of the validation rule."
        },
        "validationDetails": {
          "type": "string",
          "description": "The detailed information of the running the validation process using the entity from the document based on the validation rule."
        },
        "ruleDescription": {
          "description": "The description of the validation rule.",
          "type": "string"
        },
        "ruleName": {
          "type": "string",
          "description": "The display name of the validation rule."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DocumentEntityValidationOutputValidationResult"
    },
    "GoogleCloudDocumentaiUiv1beta3ResyncDatasetMetadata": {
      "description": "The metadata proto of `ResyncDataset` method.",
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3ResyncDatasetMetadata",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        },
        "individualDocumentResyncStatuses": {
          "type": "array",
          "description": "The list of document resync statuses. The same document could have multiple `individual_document_resync_statuses` if it has multiple inconsistencies.",
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3ResyncDatasetMetadataIndividualDocumentResyncStatus"
          }
        },
        "datasetResyncStatuses": {
          "description": "The list of dataset resync statuses. Not checked when ResyncDatasetRequest.dataset_documents is specified.",
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3ResyncDatasetMetadataDatasetResyncStatus"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3DeployProcessorVersionResponse": {
      "description": "Response message for the DeployProcessorVersion method.",
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3DeployProcessorVersionResponse",
      "properties": {}
    },
    "GoogleCloudDocumentaiV1beta3EvaluateProcessorVersionRequest": {
      "description": "Evaluates the given ProcessorVersion against the supplied documents.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3EvaluateProcessorVersionRequest",
      "properties": {
        "evaluationDocuments": {
          "description": "Optional. The documents used in the evaluation. If unspecified, use the processor's dataset as evaluation input.",
          "$ref": "GoogleCloudDocumentaiV1beta3BatchDocumentsInputConfig"
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3SchemaEntityType": {
      "properties": {
        "properties": {
          "description": "Describing the nested structure of an entity. An EntityType may consist of several other EntityTypes. For example, in a document there can be an EntityType `ID`, which consists of EntityType `name` and `address`, with corresponding attributes, such as TEXT for both types and ONCE for occurrence types.",
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3SchemaEntityType"
          },
          "type": "array"
        },
        "description": {
          "type": "string",
          "description": "Description of the entity type."
        },
        "hide": {
          "description": "If the entity type is hidden in the schema. This provides the functionality to temporally \"disable\" an entity without deleting it.",
          "type": "boolean"
        },
        "enumValues": {
          "type": "array",
          "description": "If specified, lists all the possible values for this entity.",
          "items": {
            "type": "string"
          }
        },
        "method": {
          "enumDescriptions": [
            "Unspecified method. It defaults to `EXTRACT`.",
            "The entity's value is directly extracted as-is from the document text.",
            "The entity's value is derived through inference and is not necessarily an exact text extraction from the document.",
            "Attempts to extract the position and value as-is from the document text. If the value cannot be grounded in the text, it falls back to derivation through inference, for both position and value. Note: The inference fallback is currently only supported for boolean entities."
          ],
          "description": "Specifies how the entity's value is obtained.",
          "type": "string",
          "enum": [
            "METHOD_UNSPECIFIED",
            "EXTRACT",
            "DERIVE",
            "RELAXED_EXTRACT"
          ]
        },
        "occurrenceType": {
          "type": "string",
          "enum": [
            "OCCURRENCE_TYPE_UNSPECIFIED",
            "OPTIONAL_ONCE",
            "OPTIONAL_MULTIPLE",
            "REQUIRED_ONCE",
            "REQUIRED_MULTIPLE"
          ],
          "description": "Occurrence type limits the number of times an entity type appears in the document.",
          "enumDescriptions": [
            "Unspecified occurrence type.",
            "The entity type will appear zero times or once.",
            "The entity type will appear zero or multiple times.",
            "The entity type will only appear exactly once.",
            "The entity type will appear once or more times."
          ]
        },
        "baseType": {
          "type": "string"
        },
        "source": {
          "description": "Source of this entity type.",
          "type": "string",
          "enum": [
            "SOURCE_UNSPECIFIED",
            "PREDEFINED",
            "USER_INPUT"
          ],
          "enumDescriptions": [
            "Unspecified source.",
            "The entity type is in the predefined schema of a pretrained version of a processor.",
            "The entity type is added by the users either: - during an uptraining of an existing processor, or - during the process of creating a customized processor."
          ]
        },
        "type": {
          "type": "string",
          "description": "Name of the type. It must satisfy the following constraints: 1. Must be unique within the set of same level types (with case-insensitive match). 2. Maximum 64 characters. 3. Must start with a letter. 4. Allowed characters: ASCII letters [a-zA-Z], ASCII digits [0-9], or one of the following punctuation characters: * underscore '_' (recommended) * hyphen '-' (allowed, not recommended) * colon ':' (allowed, not recommended) NOTE: Whitespace characters are not allowed. 5. Cannot end with a punctuation character. 6. Cannot contain the following restricted strings: \"google\", \"DocumentAI\" (case-insensitive match). 7. A slash character '/' is reserved as a separator in flattened representations of nested entity types (e.g., \"line_item/amount\") in which case each part (e.g., \"line_item\", \"amount\") must comply with the rules defined above. We recommend using the snake case (\"snake_case\") in entity type names."
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3SchemaEntityType",
      "type": "object",
      "description": "EntityType is the wrapper of a label of the corresponding model with detailed attributes and limitations for entity-based processors. Multiple types can also compose a dependency tree to represent nested types."
    },
    "GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadata": {
      "id": "GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadata",
      "properties": {
        "splitExportStats": {
          "description": "The list of statistics for each dataset split type.",
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadataSplitExportStat"
          },
          "type": "array"
        },
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        },
        "individualExportStatuses": {
          "description": "The list of response details of each document.",
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadataIndividualExportStatus"
          },
          "type": "array"
        }
      },
      "description": "Metadata of the batch export documents operation.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3DocumentEntityRelation": {
      "properties": {
        "objectId": {
          "description": "Object entity id.",
          "type": "string"
        },
        "relation": {
          "description": "Relationship description.",
          "type": "string"
        },
        "subjectId": {
          "description": "Subject entity id.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DocumentEntityRelation",
      "type": "object",
      "description": "Relationship between Entities."
    },
    "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleConstant": {
      "type": "object",
      "description": "The constant value used in the validation rules.",
      "properties": {
        "floatValue": {
          "type": "number",
          "format": "float"
        }
      },
      "id": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleConstant"
    },
    "GoogleCloudDocumentaiUiv1beta3EntityTypeMetadata": {
      "properties": {
        "humanReviewMetadata": {
          "description": "Human review config on the entity.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3HumanReviewValidationMetadata"
        },
        "schemaEditabilityMetadata": {
          "description": "Schema editability metadata on the entity.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3SchemaEditabilityMetadata"
        },
        "humanReviewLabelingMetadata": {
          "description": "Human review labeling config on the entity.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3HumanReviewLabelingMetadata"
        },
        "schemaInferenceMetadata": {
          "description": "Schema inference metadata on the entity.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3SchemaInferenceMetadata"
        },
        "fieldTierMetadata": {
          "description": "Field tier metadata on the property",
          "$ref": "GoogleCloudDocumentaiUiv1beta3FieldTierMetadata"
        },
        "inactive": {
          "description": "Whether the entity type should be considered inactive.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3EntityTypeMetadata",
      "type": "object",
      "description": "Metadata about an entity type."
    },
    "GoogleCloudDocumentaiUiv1beta3CreateLabelerPoolOperationMetadata": {
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3CreateLabelerPoolOperationMetadata",
      "type": "object",
      "description": "The long-running operation metadata for the CreateLabelerPool method."
    },
    "GoogleCloudDocumentaiV1beta3TrainProcessorVersionMetadata": {
      "properties": {
        "testDatasetValidation": {
          "description": "The test dataset validation information.",
          "$ref": "GoogleCloudDocumentaiV1beta3TrainProcessorVersionMetadataDatasetValidation"
        },
        "trainingDatasetValidation": {
          "description": "The training dataset validation information.",
          "$ref": "GoogleCloudDocumentaiV1beta3TrainProcessorVersionMetadataDatasetValidation"
        },
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3TrainProcessorVersionMetadata",
      "type": "object",
      "description": "The metadata that represents a processor version being created."
    },
    "GoogleCloudDocumentaiV1beta3DocumentPageDetectedBarcode": {
      "properties": {
        "layout": {
          "description": "Layout for DetectedBarcode.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageLayout"
        },
        "barcode": {
          "description": "Detailed barcode information of the DetectedBarcode.",
          "$ref": "GoogleCloudDocumentaiV1beta3Barcode"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DocumentPageDetectedBarcode",
      "type": "object",
      "description": "A detected barcode."
    },
    "GoogleCloudDocumentaiV1beta3DocumentPageToken": {
      "properties": {
        "styleInfo": {
          "description": "Text style attributes.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageTokenStyleInfo"
        },
        "provenance": {
          "description": "The history of this annotation.",
          "deprecated": true,
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentProvenance"
        },
        "detectedBreak": {
          "description": "Detected break at the end of a Token.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageTokenDetectedBreak"
        },
        "detectedLanguages": {
          "type": "array",
          "description": "A list of detected languages together with confidence.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageDetectedLanguage"
          }
        },
        "layout": {
          "description": "Layout for Token.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageLayout"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DocumentPageToken",
      "type": "object",
      "description": "A detected token."
    },
    "GoogleCloudDocumentaiV1UndeployProcessorVersionMetadata": {
      "type": "object",
      "description": "The long-running operation metadata for the UndeployProcessorVersion method.",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1CommonOperationMetadata"
        }
      },
      "id": "GoogleCloudDocumentaiV1UndeployProcessorVersionMetadata"
    },
    "GoogleCloudDocumentaiV1EnableProcessorResponse": {
      "id": "GoogleCloudDocumentaiV1EnableProcessorResponse",
      "properties": {},
      "description": "Response message for the EnableProcessor method. Intentionally empty proto for adding fields in future.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1EvaluateProcessorVersionMetadata": {
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1CommonOperationMetadata"
        }
      },
      "id": "GoogleCloudDocumentaiV1EvaluateProcessorVersionMetadata",
      "type": "object",
      "description": "Metadata of the EvaluateProcessorVersion method."
    },
    "GoogleCloudDocumentaiV1beta3BatchDocumentsInputConfig": {
      "id": "GoogleCloudDocumentaiV1beta3BatchDocumentsInputConfig",
      "properties": {
        "gcsPrefix": {
          "description": "The set of documents that match the specified Cloud Storage `gcs_prefix`.",
          "$ref": "GoogleCloudDocumentaiV1beta3GcsPrefix"
        },
        "gcsDocuments": {
          "description": "The set of documents individually specified on Cloud Storage.",
          "$ref": "GoogleCloudDocumentaiV1beta3GcsDocuments"
        }
      },
      "description": "The common config to specify a set of documents used as input.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3UpdateDatasetOperationMetadata": {
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3UpdateDatasetOperationMetadata",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3SampleDocumentsMetadata": {
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3SampleDocumentsMetadata",
      "type": "object",
      "description": "Metadata of the sample documents operation."
    },
    "GoogleCloudDocumentaiV1UndeployProcessorVersionResponse": {
      "properties": {},
      "id": "GoogleCloudDocumentaiV1UndeployProcessorVersionResponse",
      "type": "object",
      "description": "Response message for the UndeployProcessorVersion method."
    },
    "GoogleCloudDocumentaiV1beta3EvaluationCounters": {
      "id": "GoogleCloudDocumentaiV1beta3EvaluationCounters",
      "properties": {
        "inputDocumentsCount": {
          "format": "int32",
          "description": "How many documents were sent for evaluation.",
          "type": "integer"
        },
        "evaluatedDocumentsCount": {
          "description": "How many documents were used in the evaluation.",
          "type": "integer",
          "format": "int32"
        },
        "invalidDocumentsCount": {
          "description": "How many documents were not included in the evaluation as they didn't pass validation.",
          "type": "integer",
          "format": "int32"
        },
        "failedDocumentsCount": {
          "description": "How many documents were not included in the evaluation as Document AI failed to process them.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Evaluation counters for the documents that were used.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3ListEvaluationsResponse": {
      "id": "GoogleCloudDocumentaiV1beta3ListEvaluationsResponse",
      "properties": {
        "evaluations": {
          "type": "array",
          "description": "The evaluations requested.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3Evaluation"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "The response from `ListEvaluations`.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3Document": {
      "id": "GoogleCloudDocumentaiV1beta3Document",
      "properties": {
        "entityValidationOutput": {
          "description": "The entity validation output for the document. This is the validation output for `document.entities` field.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentEntityValidationOutput"
        },
        "content": {
          "format": "byte",
          "description": "Optional. Inline document content, represented as a stream of bytes. Note: As with all `bytes` fields, protobuffers use a pure binary representation, whereas JSON representations use base64.",
          "type": "string"
        },
        "entities": {
          "description": "A list of entities detected on Document.text. For document shards, entities in this list may cross shard boundaries.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentEntity"
          },
          "type": "array"
        },
        "shardInfo": {
          "description": "Information about the sharding if this document is sharded part of a larger document. If the document is not sharded, this message is not specified.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentShardInfo"
        },
        "error": {
          "description": "Any error that occurred while processing this document.",
          "$ref": "GoogleRpcStatus"
        },
        "blobAssets": {
          "type": "array",
          "description": "Optional. The blob assets in this document. This is used to store the content of the inline blobs in this document, for example, image bytes, such that it can be referenced by other fields in the document via asset ID.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentBlobAsset"
          }
        },
        "entityRelations": {
          "description": "Placeholder. Relationship among Document.entities.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentEntityRelation"
          },
          "type": "array"
        },
        "revisions": {
          "description": "Placeholder. Revision history of this document.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentRevision"
          },
          "type": "array"
        },
        "documentLayout": {
          "description": "Parsed layout of the document.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentDocumentLayout"
        },
        "textStyles": {
          "description": "Styles for the Document.text.",
          "deprecated": true,
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentStyle"
          },
          "type": "array"
        },
        "pages": {
          "type": "array",
          "description": "Visual page layout for the Document.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentPage"
          }
        },
        "textChanges": {
          "type": "array",
          "description": "Placeholder. A list of text corrections made to Document.text. This is usually used for annotating corrections to OCR mistakes. Text changes for a given revision may not overlap with each other.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentTextChange"
          }
        },
        "chunkedDocument": {
          "description": "Document chunked based on chunking config.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentChunkedDocument"
        },
        "entitiesRevisions": {
          "description": "A list of entity revisions. The entity revisions are appended to the document in the processing order. This field can be used for comparing the entity extraction results at different stages of the processing.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentEntitiesRevision"
          },
          "type": "array"
        },
        "docid": {
          "type": "string",
          "description": "Optional. An internal identifier for document. Should be loggable (no PII)."
        },
        "entitiesRevisionId": {
          "type": "string",
          "description": "The entity revision ID that `document.entities` field is based on. If this field and `entities_revisions` are set, the entities in `document.entities` are the entities in the entity revision with this ID. The `document.entity_validation_output` field is the `entity_validation_output` field in this entity revision."
        },
        "uri": {
          "description": "Optional. Currently supports Google Cloud Storage URI of the form `gs://bucket_name/object_name`. Object versioning is not supported. For more information, refer to [Google Cloud Storage Request URIs](https://cloud.google.com/storage/docs/reference-uris).",
          "type": "string"
        },
        "text": {
          "description": "Optional. UTF-8 encoded text in reading order from the document.",
          "type": "string"
        },
        "mimeType": {
          "type": "string",
          "description": "An IANA published [media type (MIME type)](https://www.iana.org/assignments/media-types/media-types.xhtml)."
        }
      },
      "description": "Document represents the canonical document resource in Document AI. It is an interchange format that provides insights into documents and allows for collaboration between users and Document AI to iterate and optimize for quality.",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3Processor": {
      "properties": {
        "satisfiesPzi": {
          "readOnly": true,
          "description": "Output only. Reserved for future use.",
          "type": "boolean"
        },
        "processorVersionAliases": {
          "readOnly": true,
          "description": "Output only. The processor version aliases.",
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3ProcessorVersionAlias"
          },
          "type": "array"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED",
            "ENABLING",
            "DISABLING",
            "CREATING",
            "FAILED",
            "DELETING"
          ],
          "type": "string",
          "description": "Output only. The state of the processor.",
          "enumDescriptions": [
            "The processor is in an unspecified state.",
            "The processor is enabled, i.e., has an enabled version which can currently serve processing requests and all the feature dependencies have been successfully initialized.",
            "The processor is disabled.",
            "The processor is being enabled, will become `ENABLED` if successful.",
            "The processor is being disabled, will become `DISABLED` if successful.",
            "The processor is being created, will become either `ENABLED` (for successful creation) or `FAILED` (for failed ones). Once a processor is in this state, it can then be used for document processing, but the feature dependencies of the processor might not be fully created yet.",
            "The processor failed during creation or initialization of feature dependencies. The user should delete the processor and recreate one as all the functionalities of the processor are disabled.",
            "The processor is being deleted, will be removed if successful."
          ],
          "readOnly": true
        },
        "type": {
          "description": "The processor type, such as: `OCR_PROCESSOR`, `INVOICE_PROCESSOR`. To get a list of processor types, see FetchProcessorTypes.",
          "type": "string"
        },
        "defaultProcessorVersion": {
          "type": "string",
          "description": "The default processor version."
        },
        "activeSchemaVersion": {
          "description": "Optional. SchemaVersion used by the Processor. It is the same as Processor's DatasetSchema.schema_version Format is `projects/{project}/locations/{location}/schemas/{schema}/schemaVersions/{schema_version}.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the processor."
        },
        "processEndpoint": {
          "readOnly": true,
          "description": "Output only. Immutable. The http endpoint that can be called to invoke processing.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the processor was created.",
          "type": "string"
        },
        "kmsKeyName": {
          "type": "string",
          "description": "The [KMS key](https://cloud.google.com/security-key-management) used for encryption and decryption in CMEK scenarios."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Immutable. The resource name of the processor. Format: `projects/{project}/locations/{location}/processors/{processor}`",
          "type": "string"
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "type": "boolean",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3Processor",
      "type": "object",
      "description": "The first-class citizen for Document AI. Each processor defines how to extract structural information from a document."
    },
    "GoogleCloudDocumentaiV1beta3DocumentTextAnchor": {
      "type": "object",
      "description": "Text reference indexing into the Document.text.",
      "properties": {
        "textSegments": {
          "description": "The text segments from the Document.text.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentTextAnchorTextSegment"
          },
          "type": "array"
        },
        "content": {
          "type": "string",
          "description": "Contains the content of the text span so that users do not have to look it up in the text_segments. It is always populated for formFields."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DocumentTextAnchor"
    },
    "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleFieldRegex": {
      "type": "object",
      "properties": {
        "field": {
          "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleField"
        },
        "pattern": {
          "description": "Python regex to validate the field values.",
          "type": "string"
        }
      },
      "id": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleFieldRegex"
    },
    "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleFormValidationOperation": {
      "type": "object",
      "id": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleFormValidationOperation",
      "properties": {
        "fields": {
          "type": "array",
          "description": "A list of fields to be used as operands.",
          "items": {
            "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleField"
          }
        },
        "operations": {
          "description": "A list of recursive operations to be used as operands.",
          "items": {
            "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleFormValidationOperation"
          },
          "type": "array"
        },
        "constants": {
          "description": "A list of constants to be used as operands.",
          "items": {
            "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleConstant"
          },
          "type": "array"
        },
        "operationType": {
          "type": "string",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "OPERATION_TYPE_SUM",
            "OPERATION_TYPE_SUB",
            "OPERATION_TYPE_MUL",
            "OPERATION_TYPE_DIV",
            "OPERATION_TYPE_MAX",
            "OPERATION_TYPE_MIN",
            "OPERATION_TYPE_ABS",
            "OPERATION_TYPE_UNIQUE",
            "OPERATION_TYPE_COUNT"
          ],
          "description": "The operation type to be applied to all the operands.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3DocumentSchemaEntityTypeEnumValues": {
      "id": "GoogleCloudDocumentaiUiv1beta3DocumentSchemaEntityTypeEnumValues",
      "properties": {
        "values": {
          "description": "The individual values that this enum values type can include.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Defines the a list of enum values.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3ImportDocumentsRequestBatchDocumentsImportConfigAutoSplitConfig": {
      "id": "GoogleCloudDocumentaiV1beta3ImportDocumentsRequestBatchDocumentsImportConfigAutoSplitConfig",
      "properties": {
        "trainingSplitRatio": {
          "description": "Ratio of training dataset split.",
          "type": "number",
          "format": "float"
        }
      },
      "description": "The config for auto-split.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3DocumentEntity": {
      "description": "An entity that could be a phrase in the text or a property that belongs to the document. It is a known entity type, such as a person, an organization, or location.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3DocumentEntity",
      "properties": {
        "redacted": {
          "description": "Optional. Whether the entity will be redacted for de-identification purposes.",
          "type": "boolean"
        },
        "mentionText": {
          "type": "string",
          "description": "Optional. Text value of the entity, for example, `1600 Amphitheatre Pkwy`."
        },
        "confidence": {
          "format": "float",
          "description": "Optional. Confidence of detected Schema entity. Range `[0, 1]`.",
          "type": "number"
        },
        "properties": {
          "type": "array",
          "description": "Optional. Entities can be nested to form a hierarchical data structure representing the content in the document.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentEntity"
          }
        },
        "textAnchor": {
          "description": "Optional. Provenance of the entity. Text anchor indexing into the Document.text.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentTextAnchor"
        },
        "pageAnchor": {
          "description": "Optional. Represents the provenance of this entity wrt. the location on the page where it was found.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageAnchor"
        },
        "provenance": {
          "description": "Optional. The history of this annotation.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentProvenance"
        },
        "type": {
          "description": "Required. Entity type from a schema, for example, `Address`.",
          "type": "string"
        },
        "normalizedValue": {
          "description": "Optional. Normalized entity value. Absent if the extracted value could not be converted or the type (for example, address) is not supported for certain parsers. This field is also only populated for certain supported document types.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentEntityNormalizedValue"
        },
        "mentionId": {
          "type": "string",
          "description": "Optional. Deprecated. Use `id` field instead."
        },
        "id": {
          "description": "Optional. Canonical id. This will be a unique value in the entity list for this document.",
          "type": "string"
        },
        "method": {
          "type": "string",
          "enum": [
            "METHOD_UNSPECIFIED",
            "EXTRACT",
            "DERIVE"
          ],
          "description": "Optional. Specifies how the entity's value is obtained.",
          "enumDescriptions": [
            "When the method is not specified, it should be treated as `EXTRACT`.",
            "The entity's value is directly extracted as-is from the document text.",
            "The entity's value is derived through inference and is not necessarily an exact text extraction from the document."
          ]
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3DocumentChunkedDocumentChunkTableChunkField": {
      "description": "The table chunk field in the chunk.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3DocumentChunkedDocumentChunkTableChunkField",
      "properties": {
        "annotations": {
          "description": "Annotation of the table chunk field.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentAnnotations"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3DocumentOutputConfigGcsOutputConfig": {
      "description": "The configuration used when outputting documents.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3DocumentOutputConfigGcsOutputConfig",
      "properties": {
        "fieldMask": {
          "format": "google-fieldmask",
          "description": "Specifies which fields to include in the output documents. Only supports top level document and pages field so it must be in the form of `{document_field_name}` or `pages.{page_field_name}`.",
          "type": "string"
        },
        "shardingConfig": {
          "description": "Specifies the sharding config for the output document.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentOutputConfigGcsOutputConfigShardingConfig"
        },
        "gcsUri": {
          "type": "string",
          "description": "The Cloud Storage uri (a directory) of the output."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3GenerateSchemaVersionRequest": {
      "description": "Request message for GenerateSchemaVersion.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3GenerateSchemaVersionRequest",
      "properties": {
        "inlineDocuments": {
          "description": "The set of documents specified inline. For each document, its `uri` or `content` field must be set.",
          "$ref": "GoogleCloudDocumentaiV1beta3Documents"
        },
        "rawDocuments": {
          "description": "The set of raw documents.",
          "$ref": "GoogleCloudDocumentaiV1beta3RawDocuments"
        },
        "gcsPrefix": {
          "description": "The common prefix of documents placed on Cloud Storage.",
          "$ref": "GoogleCloudDocumentaiV1beta3GcsPrefix"
        },
        "generateSchemaVersionParams": {
          "description": "Optional. User specified parameters for the schema generation.",
          "$ref": "GoogleCloudDocumentaiV1beta3GenerateSchemaVersionRequestGenerateSchemaVersionParams"
        },
        "baseSchemaVersion": {
          "type": "string",
          "description": "The base schema version name to use for the schema generation. Format: `projects/{project}/locations/{location}/schemas/{schema}/schemaVersions/{schema_version}`"
        },
        "gcsDocuments": {
          "description": "The set of documents placed on Cloud Storage.",
          "$ref": "GoogleCloudDocumentaiV1beta3GcsDocuments"
        }
      }
    },
    "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleAlignmentRule": {
      "description": "A rule for checking field alignment. Horizontal alignment checks if fields are on the same row by comparing y-coordinates of bounding box centers, while vertical alignment checks if fields are on the same column by comparing x-coordinates of bounding box centers.",
      "type": "object",
      "id": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleAlignmentRule",
      "properties": {
        "tolerance": {
          "format": "float",
          "description": "The tolerance to use when comparing coordinates.",
          "type": "number"
        },
        "alignmentType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ALIGNMENT_TYPE_UNSPECIFIED",
            "ALIGNMENT_TYPE_HORIZONTAL",
            "ALIGNMENT_TYPE_VERTICAL"
          ]
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3DocumentStyleFontSize": {
      "description": "Font size with unit.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3DocumentStyleFontSize",
      "properties": {
        "unit": {
          "type": "string",
          "description": "Unit for the font size. Follows CSS naming (such as `in`, `px`, and `pt`)."
        },
        "size": {
          "description": "Font size for the text.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3DocumentPageTokenDetectedBreak": {
      "type": "object",
      "description": "Detected break at the end of a Token.",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "SPACE",
            "WIDE_SPACE",
            "HYPHEN"
          ],
          "description": "Detected break type.",
          "enumDescriptions": [
            "Unspecified break type.",
            "A single whitespace.",
            "A wider whitespace.",
            "A hyphen that indicates that a token has been split across lines."
          ]
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DocumentPageTokenDetectedBreak"
    },
    "GoogleCloudDocumentaiUiv1beta3DocumentIdGCSManagedDocumentId": {
      "properties": {
        "cwDocId": {
          "type": "string",
          "description": "ID of the document (indexed) managed by Content Warehouse.",
          "deprecated": true
        },
        "gcsUri": {
          "description": "Required. The Cloud Storage URI where the actual document is stored.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3DocumentIdGCSManagedDocumentId",
      "type": "object",
      "description": "Identifies a document uniquely within the scope of a dataset in the user-managed Cloud Storage option."
    },
    "GoogleCloudDocumentaiUiv1beta3DocumentIdUnmanagedDocumentId": {
      "id": "GoogleCloudDocumentaiUiv1beta3DocumentIdUnmanagedDocumentId",
      "properties": {
        "docId": {
          "description": "Required. The ID of the document.",
          "type": "string"
        }
      },
      "description": "Identifies a document uniquely within the scope of a dataset in unmanaged option.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3RawDocument": {
      "description": "Payload message of raw document content (bytes).",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3RawDocument",
      "properties": {
        "mimeType": {
          "description": "An IANA MIME type (RFC6838) indicating the nature and format of the content.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the document, it supports all Unicode characters except the following: `*`, `?`, `[`, `]`, `%`, `{`, `}`,`'`, `\\\"`, `,` `~`, `=` and `:` are reserved. If not specified, a default ID is generated."
        },
        "content": {
          "type": "string",
          "description": "Inline document content.",
          "format": "byte"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3DocumentPageTable": {
      "description": "A table representation similar to HTML table structure.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3DocumentPageTable",
      "properties": {
        "detectedLanguages": {
          "description": "A list of detected languages together with confidence.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageDetectedLanguage"
          },
          "type": "array"
        },
        "layout": {
          "description": "Layout for Table.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageLayout"
        },
        "bodyRows": {
          "description": "Body rows of the table.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageTableTableRow"
          },
          "type": "array"
        },
        "provenance": {
          "description": "The history of this table.",
          "deprecated": true,
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentProvenance"
        },
        "headerRows": {
          "type": "array",
          "description": "Header rows of the table.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageTableTableRow"
          }
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3BatchMoveDocumentsMetadataIndividualBatchMoveStatus": {
      "id": "GoogleCloudDocumentaiUiv1beta3BatchMoveDocumentsMetadataIndividualBatchMoveStatus",
      "properties": {
        "status": {
          "description": "The status of moving the document.",
          "$ref": "GoogleRpcStatus"
        },
        "documentId": {
          "description": "The document ID of the document.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3DocumentId"
        }
      },
      "description": "The status of each individual document in the batch move process.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3DeployProcessorVersionMetadata": {
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DeployProcessorVersionMetadata",
      "type": "object",
      "description": "The long-running operation metadata for the DeployProcessorVersion method."
    },
    "GoogleCloudDocumentaiV1beta3GenerateSchemaVersionRequestGenerateSchemaVersionParams": {
      "id": "GoogleCloudDocumentaiV1beta3GenerateSchemaVersionRequestGenerateSchemaVersionParams",
      "properties": {
        "prompt": {
          "description": "Optional. The prompt used for the schema generation.",
          "type": "string"
        },
        "history": {
          "description": "Optional. Previous prompt-answers in a chronological order.",
          "$ref": "GoogleCloudDocumentaiV1beta3SchemaGenerationHistory"
        }
      },
      "description": "The parameters for the schema generation.",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3BatchDeleteDocumentsResponse": {
      "properties": {},
      "id": "GoogleCloudDocumentaiUiv1beta3BatchDeleteDocumentsResponse",
      "type": "object",
      "description": "Response of the delete documents operation."
    },
    "GoogleCloudDocumentaiV1beta3DocumentOutputConfig": {
      "properties": {
        "gcsOutputConfig": {
          "description": "Output config to write the results to Cloud Storage.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentOutputConfigGcsOutputConfig"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DocumentOutputConfig",
      "type": "object",
      "description": "Config that controls the output of documents. All documents will be written as a JSON file."
    },
    "GoogleCloudDocumentaiV1beta3EvaluateProcessorVersionResponse": {
      "properties": {
        "evaluation": {
          "description": "The resource name of the created evaluation.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3EvaluateProcessorVersionResponse",
      "type": "object",
      "description": "Response of the EvaluateProcessorVersion method."
    },
    "GoogleTypePostalAddress": {
      "properties": {
        "regionCode": {
          "description": "Required. CLDR region code of the country/region of the address. This is never inferred and it is up to the user to ensure the value is correct. See https://cldr.unicode.org/ and https://www.unicode.org/cldr/charts/30/supplemental/territory_information.html for details. Example: \"CH\" for Switzerland.",
          "type": "string"
        },
        "administrativeArea": {
          "description": "Optional. Highest administrative subdivision which is used for postal addresses of a country or region. For example, this can be a state, a province, an oblast, or a prefecture. For Spain, this is the province and not the autonomous community (for example, \"Barcelona\" and not \"Catalonia\"). Many countries don't use an administrative area in postal addresses. For example, in Switzerland, this should be left unpopulated.",
          "type": "string"
        },
        "postalCode": {
          "description": "Optional. Postal code of the address. Not all countries use or require postal codes to be present, but where they are used, they may trigger additional validation with other parts of the address (for example, state or zip code validation in the United States).",
          "type": "string"
        },
        "addressLines": {
          "description": "Unstructured address lines describing the lower levels of an address. Because values in `address_lines` do not have type information and may sometimes contain multiple values in a single field (for example, \"Austin, TX\"), it is important that the line order is clear. The order of address lines should be \"envelope order\" for the country or region of the address. In places where this can vary (for example, Japan), `address_language` is used to make it explicit (for example, \"ja\" for large-to-small ordering and \"ja-Latn\" or \"en\" for small-to-large). In this way, the most specific line of an address can be selected based on the language. The minimum permitted structural representation of an address consists of a `region_code` with all remaining information placed in the `address_lines`. It would be possible to format such an address very approximately without geocoding, but no semantic reasoning could be made about any of the address components until it was at least partially resolved. Creating an address only containing a `region_code` and `address_lines` and then geocoding is the recommended way to handle completely unstructured addresses (as opposed to guessing which parts of the address should be localities or administrative areas).",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "recipients": {
          "description": "Optional. The recipient at the address. This field may, under certain circumstances, contain multiline information. For example, it might contain \"care of\" information.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "organization": {
          "type": "string",
          "description": "Optional. The name of the organization at the address."
        },
        "sublocality": {
          "type": "string",
          "description": "Optional. Sublocality of the address. For example, this can be a neighborhood, borough, or district."
        },
        "languageCode": {
[...]
