{
  "description": "Service to parse structured information from unstructured or semi-structured documents using state-of-the-art Google AI such as natural language, computer vision, translation, and AutoML.",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://documentai.googleapis.com/",
  "documentationLink": "https://cloud.google.com/document-ai/docs/",
  "schemas": {
    "GoogleCloudDocumentaiV1Processor": {
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED",
            "ENABLING",
            "DISABLING",
            "CREATING",
            "FAILED",
            "DELETING"
          ],
          "description": "Output only. The state of the processor.",
          "readOnly": true,
          "enumDescriptions": [
            "The processor is in an unspecified state.",
            "The processor is enabled, i.e., has an enabled version which can currently serve processing requests and all the feature dependencies have been successfully initialized.",
            "The processor is disabled.",
            "The processor is being enabled, will become `ENABLED` if successful.",
            "The processor is being disabled, will become `DISABLED` if successful.",
            "The processor is being created, will become either `ENABLED` (for successful creation) or `FAILED` (for failed ones). Once a processor is in this state, it can then be used for document processing, but the feature dependencies of the processor might not be fully created yet.",
            "The processor failed during creation or initialization of feature dependencies. The user should delete the processor and recreate one as all the functionalities of the processor are disabled.",
            "The processor is being deleted, will be removed if successful."
          ]
        },
        "processorVersionAliases": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1ProcessorVersionAlias"
          },
          "readOnly": true,
          "description": "Output only. The processor version aliases.",
          "type": "array"
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the processor was created.",
          "format": "google-datetime"
        },
        "activeSchemaVersion": {
          "description": "Optional. SchemaVersion used by the Processor. It is the same as Processor's DatasetSchema.schema_version Format is `projects/{project}/locations/{location}/schemas/{schema}/schemaVersions/{schema_version}.",
          "type": "string"
        },
        "processEndpoint": {
          "type": "string",
          "description": "Output only. Immutable. The http endpoint that can be called to invoke processing.",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the processor."
        },
        "type": {
          "type": "string",
          "description": "The processor type, such as: `OCR_PROCESSOR`, `INVOICE_PROCESSOR`. To get a list of processor types, see FetchProcessorTypes."
        },
        "defaultProcessorVersion": {
          "description": "The default processor version.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. Immutable. The resource name of the processor. Format: `projects/{project}/locations/{location}/processors/{processor}`",
          "readOnly": true
        },
        "kmsKeyName": {
          "description": "The [KMS key](https://cloud.google.com/security-key-management) used for encryption and decryption in CMEK scenarios.",
          "type": "string"
        }
      },
      "description": "The first-class citizen for Document AI. Each processor defines how to extract structural information from a document.",
      "id": "GoogleCloudDocumentaiV1Processor"
    },
    "GoogleCloudDocumentaiV1DocumentSchema": {
      "id": "GoogleCloudDocumentaiV1DocumentSchema",
      "properties": {
        "description": {
          "description": "Description of the schema.",
          "type": "string"
        },
        "entityTypes": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentSchemaEntityType"
          },
          "description": "Entity types of the schema.",
          "type": "array"
        },
        "displayName": {
          "type": "string",
          "description": "Display name to show users."
        },
        "documentPrompt": {
          "description": "Optional. Document-level prompt provided by the user. This custom text is injected into the AI model's prompt to provide extra, document-wide guidance for processing.",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata of the schema.",
          "$ref": "GoogleCloudDocumentaiV1DocumentSchemaMetadata"
        }
      },
      "description": "The schema defines the output of the processed document by a processor.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1BatchProcessResponse": {
      "id": "GoogleCloudDocumentaiV1BatchProcessResponse",
      "description": "Response message for BatchProcessDocuments.",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDocumentaiV1ListSchemasResponse": {
      "description": "Response message for ListSchemas.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Points to the next Schema, otherwise empty."
        },
        "schemas": {
          "description": "The list of Schemas.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1NextSchema"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1ListSchemasResponse"
    },
    "GoogleCloudDocumentaiUiv1beta3TrainProcessorVersionMetadataDatasetValidation": {
      "description": "The dataset validation information. This includes any and all errors with documents and the dataset.",
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3TrainProcessorVersionMetadataDatasetValidation",
      "properties": {
        "documentErrorCount": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of document errors."
        },
        "datasetErrorCount": {
          "type": "integer",
          "description": "The total number of dataset errors.",
          "format": "int32"
        },
        "documentErrors": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "Error information pertaining to specific documents. A maximum of 10 document errors will be returned. Any document with errors will not be used throughout training.",
          "type": "array"
        },
        "datasetErrors": {
          "type": "array",
          "description": "Error information for the dataset as a whole. A maximum of 10 dataset errors will be returned. A single dataset error is terminal for training.",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3Dataset": {
      "properties": {
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "satisfiesPzi": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Reserved for future use."
        },
        "unmanagedDatasetConfig": {
          "$ref": "GoogleCloudDocumentaiV1beta3DatasetUnmanagedDatasetConfig",
          "description": "Optional. Unmanaged dataset configuration. Use this configuration if the dataset documents are managed by the document service internally (not user-managed)."
        },
        "documentWarehouseConfig": {
          "$ref": "GoogleCloudDocumentaiV1beta3DatasetDocumentWarehouseConfig",
          "description": "Optional. Deprecated. Warehouse-based dataset configuration is not supported.",
          "deprecated": true
        },
        "name": {
          "type": "string",
          "description": "Dataset resource name. Format: `projects/{project}/locations/{location}/processors/{processor}/dataset`"
        },
        "state": {
          "description": "Required. State of the dataset. Ignored when updating dataset.",
          "enumDescriptions": [
            "Default unspecified enum, should not be used.",
            "Dataset has not been initialized.",
            "Dataset is being initialized.",
            "Dataset has been initialized."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "UNINITIALIZED",
            "INITIALIZING",
            "INITIALIZED"
          ]
        },
        "gcsManagedConfig": {
          "$ref": "GoogleCloudDocumentaiV1beta3DatasetGCSManagedConfig",
          "description": "Optional. User-managed Cloud Storage dataset configuration. Use this configuration if the dataset documents are stored under a user-managed Cloud Storage location."
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3Dataset",
      "description": "A singleton resource under a Processor which configures a collection of documents."
    },
    "GoogleCloudDocumentaiV1beta3GcsPrefix": {
      "id": "GoogleCloudDocumentaiV1beta3GcsPrefix",
      "type": "object",
      "description": "Specifies all documents on Cloud Storage with a common prefix.",
      "properties": {
        "gcsUriPrefix": {
          "description": "The URI prefix.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3DocumentSchemaEntityTypeEnumValues": {
      "description": "Defines the a list of enum values.",
      "type": "object",
      "properties": {
        "values": {
          "description": "The individual values that this enum values type can include.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DocumentSchemaEntityTypeEnumValues"
    },
    "GoogleCloudDocumentaiUiv1beta3SetDefaultProcessorVersionResponse": {
      "id": "GoogleCloudDocumentaiUiv1beta3SetDefaultProcessorVersionResponse",
      "properties": {},
      "description": "Response message for the SetDefaultProcessorVersion method.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1TrainProcessorVersionMetadataDatasetValidation": {
      "type": "object",
      "properties": {
        "datasetErrorCount": {
          "type": "integer",
          "description": "The total number of dataset errors.",
          "format": "int32"
        },
        "documentErrorCount": {
          "description": "The total number of document errors.",
          "type": "integer",
          "format": "int32"
        },
        "documentErrors": {
          "type": "array",
          "description": "Error information pertaining to specific documents. A maximum of 10 document errors will be returned. Any document with errors will not be used throughout training.",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "datasetErrors": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "Error information for the dataset as a whole. A maximum of 10 dataset errors will be returned. A single dataset error is terminal for training.",
          "type": "array"
        }
      },
      "description": "The dataset validation information. This includes any and all errors with documents and the dataset.",
      "id": "GoogleCloudDocumentaiV1TrainProcessorVersionMetadataDatasetValidation"
    },
    "GoogleCloudDocumentaiV1GenerateSchemaVersionRequestGenerateSchemaVersionParams": {
      "description": "The parameters for the schema generation.",
      "type": "object",
      "properties": {
        "history": {
          "description": "Optional. Previous prompt-answers in a chronological order.",
          "$ref": "GoogleCloudDocumentaiV1SchemaGenerationHistory"
        },
        "prompt": {
          "type": "string",
          "description": "Optional. The prompt used for the schema generation."
        }
      },
      "id": "GoogleCloudDocumentaiV1GenerateSchemaVersionRequestGenerateSchemaVersionParams"
    },
    "GoogleCloudDocumentaiV1DocumentEntity": {
      "id": "GoogleCloudDocumentaiV1DocumentEntity",
      "type": "object",
      "properties": {
        "pageAnchor": {
          "$ref": "GoogleCloudDocumentaiV1DocumentPageAnchor",
          "description": "Optional. Represents the provenance of this entity wrt. the location on the page where it was found."
        },
        "type": {
          "description": "Required. Entity type from a schema, for example, `Address`.",
          "type": "string"
        },
        "mentionId": {
          "description": "Optional. Deprecated. Use `id` field instead.",
          "type": "string"
        },
        "properties": {
          "description": "Optional. Entities can be nested to form a hierarchical data structure representing the content in the document.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentEntity"
          }
        },
        "textAnchor": {
          "description": "Optional. Provenance of the entity. Text anchor indexing into the Document.text.",
          "$ref": "GoogleCloudDocumentaiV1DocumentTextAnchor"
        },
        "mentionText": {
          "type": "string",
          "description": "Optional. Text value of the entity, for example, `1600 Amphitheatre Pkwy`."
        },
        "provenance": {
          "description": "Optional. The history of this annotation.",
          "$ref": "GoogleCloudDocumentaiV1DocumentProvenance"
        },
        "redacted": {
          "type": "boolean",
          "description": "Optional. Whether the entity will be redacted for de-identification purposes."
        },
        "confidence": {
          "type": "number",
          "format": "float",
          "description": "Optional. Confidence of detected Schema entity. Range `[0, 1]`."
        },
        "normalizedValue": {
          "description": "Optional. Normalized entity value. Absent if the extracted value could not be converted or the type (for example, address) is not supported for certain parsers. This field is also only populated for certain supported document types.",
          "$ref": "GoogleCloudDocumentaiV1DocumentEntityNormalizedValue"
        },
        "method": {
          "enumDescriptions": [
            "When the method is not specified, it should be treated as `EXTRACT`.",
            "The entity's value is directly extracted as-is from the document text.",
            "The entity's value is derived through inference and is not necessarily an exact text extraction from the document."
          ],
          "description": "Optional. Specifies how the entity's value is obtained.",
          "type": "string",
          "enum": [
            "METHOD_UNSPECIFIED",
            "EXTRACT",
            "DERIVE"
          ]
        },
        "id": {
          "type": "string",
          "description": "Optional. Canonical id. This will be a unique value in the entity list for this document."
        }
      },
      "description": "An entity that could be a phrase in the text or a property that belongs to the document. It is a known entity type, such as a person, an organization, or location."
    },
    "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTableBlock": {
      "description": "Represents a table type block.",
      "type": "object",
      "properties": {
        "annotations": {
          "description": "Annotation of the table block.",
          "$ref": "GoogleCloudDocumentaiV1DocumentAnnotations"
        },
        "caption": {
          "description": "Table caption/title.",
          "type": "string"
        },
        "headerRows": {
          "type": "array",
          "description": "Header rows at the top of the table.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTableRow"
          }
        },
        "bodyRows": {
          "type": "array",
          "description": "Body rows containing main table content.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTableRow"
          }
        }
      },
      "id": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTableBlock"
    },
    "GoogleCloudDocumentaiV1DocumentTextAnchorTextSegment": {
      "type": "object",
      "description": "A text segment in the Document.text. The indices may be out of bounds which indicate that the text extends into another document shard for large sharded documents. See ShardInfo.text_offset",
      "id": "GoogleCloudDocumentaiV1DocumentTextAnchorTextSegment",
      "properties": {
        "startIndex": {
          "type": "string",
          "format": "int64",
          "description": "TextSegment start UTF-8 char index in the Document.text."
        },
        "endIndex": {
          "type": "string",
          "description": "TextSegment half open end UTF-8 char index in the Document.text.",
          "format": "int64"
        }
      }
    },
    "GoogleCloudDocumentaiV1DocumentPageBlock": {
      "description": "A block has a set of lines (collected into paragraphs) that have a common line-spacing and orientation.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1DocumentPageBlock",
      "properties": {
        "layout": {
          "description": "Layout for Block.",
          "$ref": "GoogleCloudDocumentaiV1DocumentPageLayout"
        },
        "provenance": {
          "deprecated": true,
          "description": "The history of this annotation.",
          "$ref": "GoogleCloudDocumentaiV1DocumentProvenance"
        },
        "detectedLanguages": {
          "description": "A list of detected languages together with confidence.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageDetectedLanguage"
          },
          "type": "array"
        }
      }
    },
    "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleFieldRegex": {
      "properties": {
        "pattern": {
          "type": "string",
          "description": "Python regex to validate the field values."
        },
        "field": {
          "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleField"
        }
      },
      "type": "object",
      "id": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleFieldRegex"
    },
    "GoogleCloudDocumentaiV1beta3EvaluateProcessorVersionResponse": {
      "id": "GoogleCloudDocumentaiV1beta3EvaluateProcessorVersionResponse",
      "description": "Response of the EvaluateProcessorVersion method.",
      "properties": {
        "evaluation": {
          "type": "string",
          "description": "The resource name of the created evaluation."
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1ListProcessorVersionsResponse": {
      "id": "GoogleCloudDocumentaiV1ListProcessorVersionsResponse",
      "type": "object",
      "description": "Response message for the ListProcessorVersions method.",
      "properties": {
        "processorVersions": {
          "description": "The list of processors.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1ProcessorVersion"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Points to the next processor, otherwise empty.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDocumentaiV1ProcessOptionsIndividualPageSelector": {
      "id": "GoogleCloudDocumentaiV1ProcessOptionsIndividualPageSelector",
      "description": "A list of individual page numbers.",
      "type": "object",
      "properties": {
        "pages": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array",
          "description": "Optional. Indices of the pages (starting from 1)."
        }
      }
    },
    "GoogleCloudDocumentaiV1DeployProcessorVersionResponse": {
      "id": "GoogleCloudDocumentaiV1DeployProcessorVersionResponse",
      "description": "Response message for the DeployProcessorVersion method.",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDocumentaiV1DocumentPageSymbol": {
      "id": "GoogleCloudDocumentaiV1DocumentPageSymbol",
      "type": "object",
      "properties": {
        "detectedLanguages": {
          "description": "A list of detected languages together with confidence.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageDetectedLanguage"
          }
        },
        "layout": {
          "description": "Layout for Symbol.",
          "$ref": "GoogleCloudDocumentaiV1DocumentPageLayout"
        }
      },
      "description": "A detected symbol."
    },
    "GoogleCloudDocumentaiV1RawDocuments": {
      "id": "GoogleCloudDocumentaiV1RawDocuments",
      "properties": {
        "documents": {
          "description": "Specifies raw document content and mime type.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1RawDocument"
          }
        }
      },
      "description": "Specifies a set of raw documents.",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3EvaluationMetrics": {
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3EvaluationMetrics",
      "properties": {
        "recall": {
          "description": "The calculated recall.",
          "format": "float",
          "type": "number"
        },
        "precision": {
          "description": "The calculated precision.",
          "type": "number",
          "format": "float"
        },
        "predictedOccurrencesCount": {
          "type": "integer",
          "format": "int32",
          "description": "The amount of occurrences in predicted documents."
        },
        "f1Score": {
          "format": "float",
          "type": "number",
          "description": "The calculated F1 score."
        },
        "truePositivesCount": {
          "format": "int32",
          "type": "integer",
          "description": "The amount of true positives."
        },
        "totalDocumentsCount": {
          "format": "int32",
          "description": "The amount of documents that had an occurrence of this label.",
          "type": "integer"
        },
        "predictedDocumentCount": {
          "description": "The amount of documents with a predicted occurrence.",
          "format": "int32",
          "type": "integer"
        },
        "falseNegativesCount": {
          "description": "The amount of false negatives.",
          "format": "int32",
          "type": "integer"
        },
        "groundTruthDocumentCount": {
          "type": "integer",
          "description": "The amount of documents with a ground truth occurrence.",
          "format": "int32"
        },
        "groundTruthOccurrencesCount": {
          "format": "int32",
          "description": "The amount of occurrences in ground truth documents.",
          "type": "integer"
        },
        "falsePositivesCount": {
          "description": "The amount of false positives.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Evaluation metrics, either in aggregate or about a specific entity."
    },
    "GoogleCloudDocumentaiV1EnableProcessorResponse": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudDocumentaiV1EnableProcessorResponse",
      "description": "Response message for the EnableProcessor method. Intentionally empty proto for adding fields in future."
    },
    "GoogleCloudDocumentaiV1beta3DocumentSchemaEntityTypeProperty": {
      "description": "Defines properties that can be part of the entity type.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3DocumentSchemaEntityTypeProperty",
      "properties": {
        "name": {
          "description": "The name of the property. Follows the same guidelines as the EntityType name.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "The description of the property. Could be used to provide more information about the property for model calls."
        },
        "displayName": {
          "type": "string",
          "description": "User defined name for the property."
        },
        "valueType": {
          "description": "A reference to the value type of the property. This type is subject to the same conventions as the `Entity.base_types` field.",
          "type": "string"
        },
        "occurrenceType": {
          "enumDescriptions": [
            "Unspecified occurrence type.",
            "There will be zero or one instance of this entity type. The same entity instance may be mentioned multiple times.",
            "The entity type will appear zero or multiple times.",
            "The entity type will only appear exactly once. The same entity instance may be mentioned multiple times.",
            "The entity type will appear once or more times."
          ],
          "description": "Occurrence type limits the number of instances an entity type appears in the document.",
          "type": "string",
          "enum": [
            "OCCURRENCE_TYPE_UNSPECIFIED",
            "OPTIONAL_ONCE",
            "OPTIONAL_MULTIPLE",
            "REQUIRED_ONCE",
            "REQUIRED_MULTIPLE"
          ]
        },
        "propertyMetadata": {
          "$ref": "GoogleCloudDocumentaiV1beta3PropertyMetadata",
          "description": "Any additional metadata about the property can be added here."
        },
        "method": {
          "description": "Specifies how the entity's value is obtained.",
          "enumDescriptions": [
            "Unspecified method. It defaults to `EXTRACT`.",
            "The entity's value is directly extracted as-is from the document text.",
            "The entity's value is derived through inference and is not necessarily an exact text extraction from the document.",
            "Attempts to extract the position and value as-is from the document text. If the value cannot be grounded in the text, it falls back to derivation through inference, for both position and value. Note: The inference fallback is currently only supported for boolean entities."
          ],
          "type": "string",
          "enum": [
            "METHOD_UNSPECIFIED",
            "EXTRACT",
            "DERIVE",
            "RELAXED_EXTRACT"
          ]
        }
      }
    },
    "GoogleCloudDocumentaiV1TrainProcessorVersionRequestFoundationModelTuningOptions": {
      "properties": {
        "trainSteps": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The number of steps to run for model tuning. Valid values are between 1 and 400. If not provided, recommended steps will be used."
        },
        "learningRateMultiplier": {
          "type": "number",
          "description": "Optional. The multiplier to apply to the recommended learning rate. Valid values are between 0.1 and 10. If not provided, recommended learning rate will be used.",
          "format": "float"
        },
        "previousFineTunedProcessorVersionName": {
          "type": "string",
          "description": "Optional. Resource name of a previously fine tuned version ID to copy the overwritten configs from. The base_processor_version should be newer than the base processor version used to fine tune this provided processor version. Format: `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}`."
        }
      },
      "description": "Options to control foundation model tuning of the processor.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1TrainProcessorVersionRequestFoundationModelTuningOptions"
    },
    "GoogleCloudDocumentaiV1ReviewDocumentResponse": {
      "id": "GoogleCloudDocumentaiV1ReviewDocumentResponse",
      "properties": {
        "gcsDestination": {
          "type": "string",
          "description": "The Cloud Storage uri for the human reviewed document if the review is succeeded."
        },
        "rejectionReason": {
          "type": "string",
          "description": "The reason why the review is rejected by reviewer."
        },
        "state": {
          "description": "The state of the review operation.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "REJECTED",
            "SUCCEEDED"
          ],
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The review operation is rejected by the reviewer.",
            "The review operation is succeeded."
          ]
        }
      },
      "type": "object",
      "description": "Response message for the ReviewDocument method."
    },
    "GoogleCloudDocumentaiV1OcrConfigPremiumFeatures": {
      "properties": {
        "enableSelectionMarkDetection": {
          "description": "Turn on selection mark detector in OCR engine. Only available in OCR 2.0 (and later) processors.",
          "type": "boolean"
        },
        "computeStyleInfo": {
          "description": "Turn on font identification model and return font style information.",
          "type": "boolean"
        },
        "enableMathOcr": {
          "description": "Turn on the model that can extract LaTeX math formulas.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDocumentaiV1OcrConfigPremiumFeatures",
      "type": "object",
      "description": "Configurations for premium OCR features."
    },
    "GoogleCloudDocumentaiUiv1beta3EnableProcessorResponse": {
      "description": "Response message for the EnableProcessor method. Intentionally empty proto for adding fields in future.",
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3EnableProcessorResponse",
      "properties": {}
    },
    "GoogleCloudDocumentaiV1beta3BatchDeleteDocumentsMetadata": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3BatchDeleteDocumentsMetadata",
      "properties": {
        "errorDocumentCount": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of documents that failed to be deleted in storage."
        },
        "totalDocumentCount": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of documents deleting from dataset."
        },
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata"
        },
        "individualBatchDeleteStatuses": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3BatchDeleteDocumentsMetadataIndividualBatchDeleteStatus"
          },
          "description": "The list of response details of each document.",
          "type": "array"
        }
      }
    },
    "GoogleCloudLocationListLocationsResponse": {
      "id": "GoogleCloudLocationListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudLocationLocation"
          }
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3UpdateProcessorVersionMetadata": {
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata for the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      },
      "description": "The long-running operation metadata for the UpdateProcessorVersion method.",
      "id": "GoogleCloudDocumentaiUiv1beta3UpdateProcessorVersionMetadata",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3DeleteLabelerPoolOperationMetadata": {
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3DeleteLabelerPoolOperationMetadata",
      "description": "The long-running operation metadata for DeleteLabelerPool."
    },
    "GoogleCloudDocumentaiV1beta3BatchDeleteDocumentsMetadataIndividualBatchDeleteStatus": {
      "id": "GoogleCloudDocumentaiV1beta3BatchDeleteDocumentsMetadataIndividualBatchDeleteStatus",
      "description": "The status of each individual document in the batch delete process.",
      "type": "object",
      "properties": {
        "documentId": {
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentId",
          "description": "The document ID of the document."
        },
        "status": {
          "$ref": "GoogleRpcStatus",
          "description": "The status of deleting the document in storage."
        }
      }
    },
    "GoogleCloudDocumentaiV1ProcessOptionsLayoutConfig": {
      "description": "Serving config for layout parser processor.",
      "id": "GoogleCloudDocumentaiV1ProcessOptionsLayoutConfig",
      "type": "object",
      "properties": {
        "returnBoundingBoxes": {
          "description": "Optional. Whether to include bounding boxes in layout parser processor response.",
          "type": "boolean"
        },
        "enableImageAnnotation": {
          "description": "Optional. Whether to include image annotations in layout parser response.",
          "type": "boolean"
        },
        "returnImages": {
          "description": "Optional. Whether to include images in layout parser processor response.",
          "type": "boolean"
        },
        "chunkingConfig": {
          "description": "Optional. Config for chunking in layout parser processor.",
          "$ref": "GoogleCloudDocumentaiV1ProcessOptionsLayoutConfigChunkingConfig"
        },
        "enableTableAnnotation": {
          "type": "boolean",
          "description": "Optional. Whether to include table annotations in layout parser response."
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3FieldTierMetadata": {
      "type": "object",
      "properties": {
        "tierLevel": {
          "format": "int32",
          "type": "integer",
          "description": "Integer that indicates the tier of a property. e.g. Invoice has entities that are classified as tier 1 which is the most important, while tier 2 and tier 3 less so. This attribute can be used to filter schema attributes before running eval. e.g. compute F1 score for only tier 1 entities. If not present this attribute should be inferred as 1."
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3FieldTierMetadata",
      "description": "Metadata for the field tier of a property."
    },
    "GoogleCloudDocumentaiUiv1beta3SampleDocumentsResponseSelectedDocument": {
      "properties": {
        "documentId": {
          "description": "An internal identifier for document.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3SampleDocumentsResponseSelectedDocument"
    },
    "GoogleCloudDocumentaiV1beta3DatasetDocumentWarehouseConfig": {
      "properties": {
        "collection": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The collection in Document AI Warehouse associated with the dataset."
        },
        "schema": {
          "readOnly": true,
          "description": "Output only. The schema in Document AI Warehouse associated with the dataset.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3DatasetDocumentWarehouseConfig",
      "description": "Configuration specific to the Document AI Warehouse-based implementation."
    },
    "GoogleCloudDocumentaiV1DocumentPageMatrix": {
      "properties": {
        "cols": {
          "format": "int32",
          "type": "integer",
          "description": "Number of columns in the matrix."
        },
        "data": {
          "format": "byte",
          "description": "The matrix data.",
          "type": "string"
        },
        "rows": {
          "description": "Number of rows in the matrix.",
          "type": "integer",
          "format": "int32"
        },
        "type": {
          "format": "int32",
          "type": "integer",
          "description": "This encodes information about what data type the matrix uses. For example, 0 (CV_8U) is an unsigned 8-bit image. For the full list of OpenCV primitive data types, please refer to https://docs.opencv.org/4.3.0/d1/d1b/group__core__hal__interface.html"
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1DocumentPageMatrix",
      "description": "Representation for transformation matrix, intended to be compatible and used with OpenCV format for image manipulation."
    },
    "GoogleCloudDocumentaiV1DeleteProcessorVersionMetadata": {
      "id": "GoogleCloudDocumentaiV1DeleteProcessorVersionMetadata",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1CommonOperationMetadata"
        }
      },
      "description": "The long-running operation metadata for the DeleteProcessorVersion method.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1EnableProcessorRequest": {
      "description": "Request message for the EnableProcessor method.",
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDocumentaiV1EnableProcessorRequest"
    },
    "GoogleCloudDocumentaiV1beta3ProcessorVersionGenAiModelInfoFoundationGenAiModelInfo": {
      "properties": {
        "finetuningAllowed": {
          "type": "boolean",
          "description": "Whether fine tuning is allowed for this base processor version."
        },
        "minTrainLabeledDocuments": {
          "format": "int32",
          "type": "integer",
          "description": "The minimum number of labeled documents in the training dataset required for fine tuning."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3ProcessorVersionGenAiModelInfoFoundationGenAiModelInfo",
      "type": "object",
      "description": "Information for a pretrained Google-managed foundation model."
    },
    "GoogleCloudDocumentaiV1beta3ImportDocumentsResponse": {
      "id": "GoogleCloudDocumentaiV1beta3ImportDocumentsResponse",
      "properties": {},
      "description": "Response of the import document operation.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3SetDefaultProcessorVersionMetadata": {
      "id": "GoogleCloudDocumentaiV1beta3SetDefaultProcessorVersionMetadata",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata"
        }
      },
      "description": "The long-running operation metadata for the SetDefaultProcessorVersion method.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1EvaluationConfidenceLevelMetrics": {
      "id": "GoogleCloudDocumentaiV1EvaluationConfidenceLevelMetrics",
      "type": "object",
      "description": "Evaluations metrics, at a specific confidence level.",
      "properties": {
        "confidenceLevel": {
          "format": "float",
          "type": "number",
          "description": "The confidence level."
        },
        "metrics": {
          "$ref": "GoogleCloudDocumentaiV1EvaluationMetrics",
          "description": "The metrics at the specific confidence level."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3ImportDocumentsMetadataImportConfigValidationResult": {
      "id": "GoogleCloudDocumentaiV1beta3ImportDocumentsMetadataImportConfigValidationResult",
      "type": "object",
      "properties": {
        "inputGcsSource": {
          "type": "string",
          "description": "The source Cloud Storage URI specified in the import config."
        },
        "status": {
          "description": "The validation status of import config.",
          "$ref": "GoogleRpcStatus"
        }
      },
      "description": "The validation status of each import config. Status is set to an error if there are no documents to import in the `import_config`, or `OK` if the operation will try to proceed with at least one document."
    },
    "GoogleCloudDocumentaiV1DocumentProvenance": {
      "description": "Structure to identify provenance relationships between annotations in different revisions.",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32",
          "deprecated": true,
          "description": "The ID of this operation. Needs to be unique within the scope of the revision."
        },
        "parents": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentProvenanceParent"
          },
          "type": "array",
          "description": "References to the original elements that are replaced."
        },
        "revision": {
          "description": "The index of the revision that produced this element.",
          "type": "integer",
          "format": "int32",
          "deprecated": true
        },
        "type": {
          "enumDescriptions": [
            "Operation type unspecified. If no operation is specified a provenance entry is simply used to match against a `parent`.",
            "Add an element.",
            "Remove an element identified by `parent`.",
            "Updates any fields within the given provenance scope of the message. It overwrites the fields rather than replacing them. Use this when you want to update a field value of an entity without also updating all the child properties.",
            "Currently unused. Replace an element identified by `parent`.",
            "Deprecated. Request human review for the element identified by `parent`.",
            "Deprecated. Element is reviewed and approved at human review, confidence will be set to 1.0.",
            "Deprecated. Element is skipped in the validation process."
          ],
          "description": "The type of provenance operation.",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            true,
            true,
            true
          ],
          "type": "string",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "ADD",
            "REMOVE",
            "UPDATE",
            "REPLACE",
            "EVAL_REQUESTED",
            "EVAL_APPROVED",
            "EVAL_SKIPPED"
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1DocumentProvenance"
    },
    "GoogleLongrunningOperation": {
      "properties": {
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "type": "object",
      "id": "GoogleLongrunningOperation",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "GoogleCloudDocumentaiUiv1beta3UpdateHumanReviewConfigMetadata": {
      "id": "GoogleCloudDocumentaiUiv1beta3UpdateHumanReviewConfigMetadata",
      "type": "object",
      "description": "The long-running operation metadata for updating the human review configuration.",
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      }
    },
    "GoogleTypeColor": {
      "type": "object",
      "id": "GoogleTypeColor",
      "description": "Represents a color in the RGBA color space. This representation is designed for simplicity of conversion to and from color representations in various languages over compactness. For example, the fields of this representation can be trivially provided to the constructor of `java.awt.Color` in Java; it can also be trivially provided to UIColor's `+colorWithRed:green:blue:alpha` method in iOS; and, with just a little work, it can be easily formatted into a CSS `rgba()` string in JavaScript. This reference page doesn't have information about the absolute color space that should be used to interpret the RGB value—for example, sRGB, Adobe RGB, DCI-P3, and BT.2020. By default, applications should assume the sRGB color space. When color equality needs to be decided, implementations, unless documented otherwise, treat two colors as equal if all their red, green, blue, and alpha values each differ by at most `1e-5`. Example (Java): import com.google.type.Color; // ... public static java.awt.Color fromProto(Color protocolor) { float alpha = protocolor.hasAlpha() ? protocolor.getAlpha().getValue() : 1.0; return new java.awt.Color( protocolor.getRed(), protocolor.getGreen(), protocolor.getBlue(), alpha); } public static Color toProto(java.awt.Color color) { float red = (float) color.getRed(); float green = (float) color.getGreen(); float blue = (float) color.getBlue(); float denominator = 255.0; Color.Builder resultBuilder = Color .newBuilder() .setRed(red / denominator) .setGreen(green / denominator) .setBlue(blue / denominator); int alpha = color.getAlpha(); if (alpha != 255) { result.setAlpha( FloatValue .newBuilder() .setValue(((float) alpha) / denominator) .build()); } return resultBuilder.build(); } // ... Example (iOS / Obj-C): // ... static UIColor* fromProto(Color* protocolor) { float red = [protocolor red]; float green = [protocolor green]; float blue = [protocolor blue]; FloatValue* alpha_wrapper = [protocolor alpha]; float alpha = 1.0; if (alpha_wrapper != nil) { alpha = [alpha_wrapper value]; } return [UIColor colorWithRed:red green:green blue:blue alpha:alpha]; } static Color* toProto(UIColor* color) { CGFloat red, green, blue, alpha; if (![color getRed:&red green:&green blue:&blue alpha:&alpha]) { return nil; } Color* result = [[Color alloc] init]; [result setRed:red]; [result setGreen:green]; [result setBlue:blue]; if (alpha <= 0.9999) { [result setAlpha:floatWrapperWithValue(alpha)]; } [result autorelease]; return result; } // ... Example (JavaScript): // ... var protoToCssColor = function(rgb_color) { var redFrac = rgb_color.red || 0.0; var greenFrac = rgb_color.green || 0.0; var blueFrac = rgb_color.blue || 0.0; var red = Math.floor(redFrac * 255); var green = Math.floor(greenFrac * 255); var blue = Math.floor(blueFrac * 255); if (!('alpha' in rgb_color)) { return rgbToCssColor(red, green, blue); } var alphaFrac = rgb_color.alpha.value || 0.0; var rgbParams = [red, green, blue].join(','); return ['rgba(', rgbParams, ',', alphaFrac, ')'].join(''); }; var rgbToCssColor = function(red, green, blue) { var rgbNumber = new Number((red << 16) | (green << 8) | blue); var hexString = rgbNumber.toString(16); var missingZeros = 6 - hexString.length; var resultBuilder = ['#']; for (var i = 0; i < missingZeros; i++) { resultBuilder.push('0'); } resultBuilder.push(hexString); return resultBuilder.join(''); }; // ...",
      "properties": {
        "green": {
          "format": "float",
          "type": "number",
          "description": "The amount of green in the color as a value in the interval [0, 1]."
        },
        "alpha": {
          "description": "The fraction of this color that should be applied to the pixel. That is, the final pixel color is defined by the equation: `pixel color = alpha * (this color) + (1.0 - alpha) * (background color)` This means that a value of 1.0 corresponds to a solid color, whereas a value of 0.0 corresponds to a completely transparent color. This uses a wrapper message rather than a simple float scalar so that it is possible to distinguish between a default value and the value being unset. If omitted, this color object is rendered as a solid color (as if the alpha value had been explicitly given a value of 1.0).",
          "type": "number",
          "format": "float"
        },
        "red": {
          "description": "The amount of red in the color as a value in the interval [0, 1].",
          "type": "number",
          "format": "float"
        },
        "blue": {
          "format": "float",
          "description": "The amount of blue in the color as a value in the interval [0, 1].",
          "type": "number"
        }
      }
    },
    "GoogleCloudDocumentaiV1DocumentStyleFontSize": {
      "id": "GoogleCloudDocumentaiV1DocumentStyleFontSize",
      "type": "object",
      "properties": {
        "unit": {
          "description": "Unit for the font size. Follows CSS naming (such as `in`, `px`, and `pt`).",
          "type": "string"
        },
        "size": {
          "description": "Font size for the text.",
          "type": "number",
          "format": "float"
        }
      },
      "description": "Font size with unit."
    },
    "GoogleCloudDocumentaiUiv1beta3DisableProcessorResponse": {
      "properties": {},
      "description": "Response message for the DisableProcessor method. Intentionally empty proto for adding fields in future.",
      "id": "GoogleCloudDocumentaiUiv1beta3DisableProcessorResponse",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3ImportProcessorVersionMetadata": {
      "id": "GoogleCloudDocumentaiUiv1beta3ImportProcessorVersionMetadata",
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
          "description": "The basic metadata for the long-running operation."
        }
      },
      "type": "object",
      "description": "The long-running operation metadata for the ImportProcessorVersion method."
    },
    "GoogleCloudDocumentaiV1DocumentProvenanceParent": {
      "type": "object",
      "description": "The parent element the current element is based on. Used for referencing/aligning, removal and replacement operations.",
      "id": "GoogleCloudDocumentaiV1DocumentProvenanceParent",
      "properties": {
        "id": {
          "type": "integer",
          "description": "The ID of the parent provenance.",
          "deprecated": true,
          "format": "int32"
        },
        "revision": {
          "type": "integer",
          "description": "The index of the index into current revision's parent_ids list.",
          "format": "int32"
        },
        "index": {
          "type": "integer",
          "description": "The index of the parent item in the corresponding item list (eg. list of entities, properties within entities, etc.) in the parent revision.",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkField": {
      "type": "object",
      "properties": {
        "imageChunkField": {
          "$ref": "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkImageChunkField",
          "description": "The image chunk field in the chunk."
        },
        "tableChunkField": {
          "$ref": "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkTableChunkField",
          "description": "The table chunk field in the chunk."
        }
      },
      "id": "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkField",
      "description": "The chunk field in the chunk. A chunk field could be one of the various types (for example, image, table) supported."
    },
    "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleField": {
      "id": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleField",
      "type": "object",
      "properties": {
        "fieldName": {
          "description": "The field name to validate. This can be a simple field name or a nested field one using the ':' (meant as an aggregator) or '*' (meant as foreach) operators.",
          "type": "string"
        },
        "defaultValue": {
          "description": "Default value to use if the field is not present. If the field is missing and the default value is not set, the validation run as if the field is not present in the validation logic.",
          "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleConstant"
        }
      }
    },
    "GoogleCloudDocumentaiV1ProcessorTypeLocationInfo": {
      "id": "GoogleCloudDocumentaiV1ProcessorTypeLocationInfo",
      "description": "The location information about where the processor is available.",
      "type": "object",
      "properties": {
        "locationId": {
          "description": "The location ID. For supported locations, refer to [regional and multi-regional support](/document-ai/docs/regions).",
          "type": "string"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3EvaluateProcessorVersionMetadata": {
      "id": "GoogleCloudDocumentaiV1beta3EvaluateProcessorVersionMetadata",
      "description": "Metadata of the EvaluateProcessorVersion method.",
      "type": "object",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata"
        }
      }
    },
    "GoogleRpcStatus": {
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "GoogleRpcStatus",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkTableChunkField": {
      "properties": {
        "annotations": {
          "description": "Annotation of the table chunk field.",
          "$ref": "GoogleCloudDocumentaiV1DocumentAnnotations"
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkTableChunkField",
      "description": "The table chunk field in the chunk."
    },
    "GoogleCloudDocumentaiV1EvaluateProcessorVersionRequest": {
      "id": "GoogleCloudDocumentaiV1EvaluateProcessorVersionRequest",
      "properties": {
        "evaluationDocuments": {
          "description": "Optional. The documents used in the evaluation. If unspecified, use the processor's dataset as evaluation input.",
          "$ref": "GoogleCloudDocumentaiV1BatchDocumentsInputConfig"
        }
      },
      "description": "Evaluates the given ProcessorVersion against the supplied documents.",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3DocumentSchema": {
      "id": "GoogleCloudDocumentaiUiv1beta3DocumentSchema",
      "description": "The schema defines the output of the processed document by a processor.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Display name to show users.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Description of the schema."
        },
        "entityTypes": {
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3DocumentSchemaEntityType"
          },
          "type": "array",
          "description": "Entity types of the schema."
        },
        "documentPrompt": {
          "type": "string",
          "description": "Optional. Document-level prompt provided by the user. This custom text is injected into the AI model's prompt to provide extra, document-wide guidance for processing."
        },
        "metadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3DocumentSchemaMetadata",
          "description": "Metadata of the schema."
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3FieldExtractionMetadata": {
      "type": "object",
      "properties": {
        "entityQuery": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3FieldExtractionMetadataEntityQuery",
          "description": "Entity query config."
        },
        "summaryOptions": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3SummaryOptions",
          "description": "Summary options config."
        }
      },
      "description": "Metadata for how this field value is extracted.",
      "id": "GoogleCloudDocumentaiUiv1beta3FieldExtractionMetadata"
    },
    "GoogleCloudDocumentaiV1DocumentPageDetectedBarcode": {
      "description": "A detected barcode.",
      "id": "GoogleCloudDocumentaiV1DocumentPageDetectedBarcode",
      "properties": {
        "barcode": {
          "$ref": "GoogleCloudDocumentaiV1Barcode",
          "description": "Detailed barcode information of the DetectedBarcode."
        },
        "layout": {
          "$ref": "GoogleCloudDocumentaiV1DocumentPageLayout",
          "description": "Layout for DetectedBarcode."
        }
      },
      "type": "object"
    },
    "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleEntityAlignmentRule": {
      "description": "A rule that aligns specified fields with each other.",
      "type": "object",
      "id": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleEntityAlignmentRule",
      "properties": {
        "fields": {
          "items": {
            "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleField"
          },
          "description": "The fields to be aligned.",
          "type": "array"
        },
        "alignmentRule": {
          "description": "The alignment rule to apply to the fields.",
          "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleAlignmentRule"
        }
      }
    },
    "GoogleCloudDocumentaiV1DocumentEntityRelation": {
      "type": "object",
      "properties": {
        "subjectId": {
          "description": "Subject entity id.",
          "type": "string"
        },
        "objectId": {
          "description": "Object entity id.",
          "type": "string"
        },
        "relation": {
          "description": "Relationship description.",
          "type": "string"
        }
      },
      "description": "Relationship between Entities.",
      "id": "GoogleCloudDocumentaiV1DocumentEntityRelation"
    },
    "GoogleCloudDocumentaiUiv1beta3BatchDeleteDocumentsResponse": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3BatchDeleteDocumentsResponse",
      "description": "Response of the delete documents operation."
    },
    "GoogleCloudDocumentaiV1beta3SummaryOptions": {
      "id": "GoogleCloudDocumentaiV1beta3SummaryOptions",
      "type": "object",
      "description": "Metadata for document summarization.",
      "properties": {
        "length": {
          "type": "string",
          "enum": [
            "LENGTH_UNSPECIFIED",
            "BRIEF",
            "MODERATE",
            "COMPREHENSIVE"
          ],
          "description": "How long the summary should be.",
          "enumDescriptions": [
            "Default.",
            "A brief summary of one or two sentences.",
            "A paragraph-length summary.",
            "The longest option available."
          ]
        },
        "format": {
          "type": "string",
          "enum": [
            "FORMAT_UNSPECIFIED",
            "PARAGRAPH",
            "BULLETS"
          ],
          "enumDescriptions": [
            "Default.",
            "Format the output in paragraphs.",
            "Format the output in bullets."
          ],
          "description": "The format the summary should be in."
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3HumanReviewValidationMetadata": {
      "description": "Metadata for Human Review config.",
      "id": "GoogleCloudDocumentaiUiv1beta3HumanReviewValidationMetadata",
      "type": "object",
      "properties": {
        "confidenceThreshold": {
          "format": "float",
          "type": "number",
          "description": "The confidence threshold if human review validation is enabled."
        },
        "enableValidation": {
          "description": "Whether to enable human review validation.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDocumentaiV1DocumentPageLayout": {
      "properties": {
        "confidence": {
          "description": "Confidence of the current Layout within context of the object this layout is for. For example, confidence can be for a single token, a table, a visual element, etc. depending on context. Range `[0, 1]`.",
          "type": "number",
          "format": "float"
        },
        "orientation": {
          "type": "string",
          "enum": [
            "ORIENTATION_UNSPECIFIED",
            "PAGE_UP",
            "PAGE_RIGHT",
            "PAGE_DOWN",
            "PAGE_LEFT"
          ],
          "enumDescriptions": [
            "Unspecified orientation.",
            "Orientation is aligned with page up.",
            "Orientation is aligned with page right. Turn the head 90 degrees clockwise from upright to read.",
            "Orientation is aligned with page down. Turn the head 180 degrees from upright to read.",
            "Orientation is aligned with page left. Turn the head 90 degrees counterclockwise from upright to read."
          ],
          "description": "Detected orientation for the Layout."
        },
        "boundingPoly": {
          "$ref": "GoogleCloudDocumentaiV1BoundingPoly",
          "description": "The bounding polygon for the Layout."
        },
        "textAnchor": {
          "description": "Text anchor indexing into the Document.text.",
          "$ref": "GoogleCloudDocumentaiV1DocumentTextAnchor"
        }
      },
      "description": "Visual element describing a layout unit on a page.",
      "id": "GoogleCloudDocumentaiV1DocumentPageLayout",
      "type": "object"
    },
    "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleConstant": {
      "properties": {
        "floatValue": {
          "type": "number",
          "format": "float"
        }
      },
      "type": "object",
      "description": "The constant value used in the validation rules.",
      "id": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleConstant"
    },
    "GoogleCloudDocumentaiV1beta3DocumentIdGCSManagedDocumentId": {
      "id": "GoogleCloudDocumentaiV1beta3DocumentIdGCSManagedDocumentId",
      "properties": {
        "gcsUri": {
          "type": "string",
          "description": "Required. The Cloud Storage URI where the actual document is stored."
        },
        "cwDocId": {
          "type": "string",
          "deprecated": true,
          "description": "ID of the document (indexed) managed by Content Warehouse."
        }
      },
      "type": "object",
      "description": "Identifies a document uniquely within the scope of a dataset in the user-managed Cloud Storage option."
    },
    "GoogleCloudDocumentaiV1DocumentPageTokenStyleInfo": {
      "properties": {
        "handwritten": {
          "type": "boolean",
          "description": "Whether the text is handwritten."
        },
        "fontWeight": {
          "format": "int32",
          "description": "TrueType weight on a scale `100` (thin) to `1000` (ultra-heavy). Normal is `400`, bold is `700`.",
          "type": "integer"
        },
        "fontType": {
          "description": "Name or style of the font.",
          "type": "string"
        },
        "italic": {
          "description": "Whether the text is italic.",
          "type": "boolean"
        },
        "backgroundColor": {
          "description": "Color of the background.",
          "$ref": "GoogleTypeColor"
        },
        "textColor": {
          "description": "Color of the text.",
          "$ref": "GoogleTypeColor"
        },
        "pixelFontSize": {
          "format": "double",
          "type": "number",
          "description": "Font size in pixels, equal to _unrounded font_size_ * _resolution_ ÷ `72.0`."
        },
        "bold": {
          "description": "Whether the text is bold (equivalent to font_weight is at least `700`).",
          "type": "boolean"
        },
        "superscript": {
          "description": "Whether the text is a superscript. This feature is not supported yet.",
          "type": "boolean"
        },
        "subscript": {
          "type": "boolean",
          "description": "Whether the text is a subscript. This feature is not supported yet."
        },
        "strikeout": {
          "description": "Whether the text is strikethrough. This feature is not supported yet.",
          "type": "boolean"
        },
        "underlined": {
          "type": "boolean",
          "description": "Whether the text is underlined."
        },
        "letterSpacing": {
          "type": "number",
          "description": "Letter spacing in points.",
          "format": "double"
        },
        "fontSize": {
          "description": "Font size in points (`1` point is `¹⁄₇₂` inches).",
          "type": "integer",
          "format": "int32"
        },
        "smallcaps": {
          "description": "Whether the text is in small caps. This feature is not supported yet.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1DocumentPageTokenStyleInfo",
      "description": "Font and other text style attributes."
    },
    "GoogleCloudDocumentaiV1beta3UndeployProcessorVersionMetadata": {
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata"
        }
      },
      "description": "The long-running operation metadata for the UndeployProcessorVersion method.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3UndeployProcessorVersionMetadata"
    },
    "GoogleCloudDocumentaiV1DocumentAnnotations": {
      "type": "object",
      "properties": {
        "description": {
          "description": "The description of the content with this annotation.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiV1DocumentAnnotations",
      "description": "Represents the annotation of a block or a chunk."
    },
    "GoogleCloudDocumentaiV1TrainProcessorVersionResponse": {
      "id": "GoogleCloudDocumentaiV1TrainProcessorVersionResponse",
      "properties": {
        "processorVersion": {
          "description": "The resource name of the processor version produced by training.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The response for TrainProcessorVersion."
    },
    "GoogleCloudDocumentaiV1beta3EntityTypeMetadata": {
      "description": "Metadata about an entity type.",
      "properties": {
        "inactive": {
          "description": "Whether the entity type should be considered inactive.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3EntityTypeMetadata"
    },
    "GoogleCloudDocumentaiUiv1beta3UpdateLabelerPoolOperationMetadata": {
      "id": "GoogleCloudDocumentaiUiv1beta3UpdateLabelerPoolOperationMetadata",
      "type": "object",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      },
      "description": "The long-running operation metadata for UpdateLabelerPool."
    },
    "GoogleCloudDocumentaiUiv1beta3UndeployProcessorVersionMetadata": {
      "type": "object",
      "description": "The long-running operation metadata for the UndeployProcessorVersion method.",
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3UndeployProcessorVersionMetadata"
    },
    "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTextBlock": {
      "properties": {
        "blocks": {
          "description": "A text block could further have child blocks. Repeated blocks support further hierarchies and nested blocks.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlock"
          },
          "type": "array"
        },
        "text": {
          "description": "Text content stored in the block.",
          "type": "string"
        },
        "type": {
          "description": "Type of the text in the block. Available options are: `paragraph`, `subtitle`, `heading-1`, `heading-2`, `heading-3`, `heading-4`, `heading-5`, `header`, `footer`.",
          "type": "string"
        },
        "annotations": {
          "description": "Annotation of the text block.",
          "$ref": "GoogleCloudDocumentaiV1DocumentAnnotations"
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTextBlock",
      "description": "Represents a text type block."
    },
    "GoogleCloudDocumentaiUiv1beta3UpdateDatasetOperationMetadata": {
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3UpdateDatasetOperationMetadata",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DisableProcessorResponse": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDocumentaiV1DisableProcessorResponse",
      "description": "Response message for the DisableProcessor method. Intentionally empty proto for adding fields in future."
    },
    "GoogleCloudDocumentaiUiv1beta3DeleteProcessorMetadata": {
      "type": "object",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3DeleteProcessorMetadata",
      "description": "The long-running operation metadata for the DeleteProcessor method."
    },
    "GoogleCloudDocumentaiV1DocumentPageParagraph": {
      "type": "object",
      "properties": {
        "provenance": {
          "$ref": "GoogleCloudDocumentaiV1DocumentProvenance",
          "deprecated": true,
          "description": "The history of this annotation."
        },
        "detectedLanguages": {
          "type": "array",
          "description": "A list of detected languages together with confidence.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageDetectedLanguage"
          }
        },
        "layout": {
          "description": "Layout for Paragraph.",
          "$ref": "GoogleCloudDocumentaiV1DocumentPageLayout"
        }
      },
      "description": "A collection of lines that a human would perceive as a paragraph.",
      "id": "GoogleCloudDocumentaiV1DocumentPageParagraph"
    },
    "GoogleCloudDocumentaiUiv1beta3HumanReviewLabelingMetadata": {
      "id": "GoogleCloudDocumentaiUiv1beta3HumanReviewLabelingMetadata",
      "properties": {
        "enableNormalizationEditing": {
          "type": "boolean",
          "description": "Whether to enable normalization editing."
        }
      },
      "type": "object",
      "description": "Metadata for human review labeling config."
    },
    "GoogleCloudDocumentaiV1DocumentEntitiesRevision": {
      "description": "Entity revision.",
      "id": "GoogleCloudDocumentaiV1DocumentEntitiesRevision",
      "type": "object",
      "properties": {
        "provenance": {
          "$ref": "GoogleCloudDocumentaiV1DocumentProvenance",
          "description": "Optional. The history of this revision."
        },
        "entities": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentEntity"
          },
          "type": "array",
          "description": "The entities in this revision."
        },
        "entityValidationOutput": {
          "$ref": "GoogleCloudDocumentaiV1DocumentEntityValidationOutput",
          "description": "The entity validation output for this revision."
        },
        "revisionId": {
          "type": "string",
          "description": "The revision id."
        }
      }
    },
    "GoogleCloudDocumentaiV1GcsDocuments": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1GcsDocuments",
      "properties": {
        "documents": {
          "description": "The list of documents.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1GcsDocument"
          },
          "type": "array"
        }
      },
      "description": "Specifies a set of documents on Cloud Storage."
    },
    "GoogleCloudDocumentaiV1DocumentStyle": {
      "properties": {
        "fontWeight": {
          "type": "string",
          "description": "[Font weight](https://www.w3schools.com/cssref/pr_font_weight.asp). Possible values are `normal`, `bold`, `bolder`, and `lighter`."
        },
        "color": {
          "$ref": "GoogleTypeColor",
          "description": "Text color."
        },
        "textDecoration": {
          "description": "[Text decoration](https://www.w3schools.com/cssref/pr_text_text-decoration.asp). Follows CSS standard. ",
          "type": "string"
        },
        "textAnchor": {
          "$ref": "GoogleCloudDocumentaiV1DocumentTextAnchor",
          "description": "Text anchor indexing into the Document.text."
        },
        "fontFamily": {
          "type": "string",
          "description": "Font family such as `Arial`, `Times New Roman`. https://www.w3schools.com/cssref/pr_font_font-family.asp"
        },
        "backgroundColor": {
          "description": "Text background color.",
          "$ref": "GoogleTypeColor"
        },
        "fontSize": {
          "description": "Font size.",
          "$ref": "GoogleCloudDocumentaiV1DocumentStyleFontSize"
        },
        "textStyle": {
          "description": "[Text style](https://www.w3schools.com/cssref/pr_font_font-style.asp). Possible values are `normal`, `italic`, and `oblique`.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiV1DocumentStyle",
      "description": "Annotation for common text style attributes. This adheres to CSS conventions as much as possible.",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3DeployProcessorVersionMetadata": {
      "id": "GoogleCloudDocumentaiUiv1beta3DeployProcessorVersionMetadata",
      "description": "The long-running operation metadata for the DeployProcessorVersion method.",
      "type": "object",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3EvaluationReference": {
      "description": "Gives a short summary of an evaluation, and links to the evaluation itself.",
      "id": "GoogleCloudDocumentaiUiv1beta3EvaluationReference",
      "type": "object",
      "properties": {
        "aggregateMetrics": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3EvaluationMetrics",
          "description": "An aggregate of the statistics for the evaluation with fuzzy matching on."
        },
        "aggregateMetricsExact": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3EvaluationMetrics",
          "description": "An aggregate of the statistics for the evaluation with fuzzy matching off."
        },
        "operation": {
          "description": "The resource name of the Long Running Operation for the evaluation.",
          "type": "string"
        },
        "evaluation": {
          "description": "The resource name of the evaluation.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDocumentaiV1DocumentRevision": {
      "type": "object",
      "properties": {
        "processor": {
          "description": "If the annotation was made by processor identify the processor by its resource name.",
          "type": "string"
        },
        "agent": {
          "type": "string",
          "description": "If the change was made by a person specify the name or ID of that person."
        },
        "parent": {
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "deprecated": true,
          "description": "The revisions that this revision is based on. This can include one or more parent (when documents are merged.) This field represents the index into the `revisions` field."
        },
        "id": {
          "type": "string",
          "description": "ID of the revision, internally generated by doc proto storage. Unique within the context of the document."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time that the revision was created, internally generated by doc proto storage at the time of create."
        },
        "humanReview": {
          "$ref": "GoogleCloudDocumentaiV1DocumentRevisionHumanReview",
          "description": "Human Review information of this revision."
        },
        "parentIds": {
          "description": "The revisions that this revision is based on. Must include all the ids that have anything to do with this revision - eg. there are `provenance.parent.revision` fields that index into this field.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Contains past or forward revisions of this document.",
      "id": "GoogleCloudDocumentaiV1DocumentRevision"
    },
    "GoogleTypeMoney": {
      "properties": {
        "currencyCode": {
          "type": "string",
          "description": "The three-letter currency code defined in ISO 4217."
        },
        "units": {
          "format": "int64",
          "type": "string",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar."
        },
        "nanos": {
          "format": "int32",
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "type": "integer"
        }
      },
      "description": "Represents an amount of money with its currency type.",
      "type": "object",
      "id": "GoogleTypeMoney"
    },
    "GoogleCloudDocumentaiUiv1beta3ImportProcessorVersionResponse": {
      "description": "The response message for the ImportProcessorVersion method.",
      "id": "GoogleCloudDocumentaiUiv1beta3ImportProcessorVersionResponse",
      "properties": {
        "processorVersion": {
          "description": "The destination processor version name.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DocumentPage": {
      "description": "A page in a Document.",
      "id": "GoogleCloudDocumentaiV1DocumentPage",
      "type": "object",
      "properties": {
        "detectedBarcodes": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageDetectedBarcode"
          },
          "description": "A list of detected barcodes.",
          "type": "array"
        },
        "image": {
          "description": "Rendered image for this page. This image is preprocessed to remove any skew, rotation, and distortions such that the annotation bounding boxes can be upright and axis-aligned.",
          "$ref": "GoogleCloudDocumentaiV1DocumentPageImage"
        },
        "layout": {
          "$ref": "GoogleCloudDocumentaiV1DocumentPageLayout",
          "description": "Layout for the page."
        },
        "symbols": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageSymbol"
          },
          "description": "A list of visually detected symbols on the page."
        },
        "formFields": {
          "type": "array",
          "description": "A list of visually detected form fields on the page.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageFormField"
          }
        },
        "imageQualityScores": {
          "description": "Image quality scores.",
          "$ref": "GoogleCloudDocumentaiV1DocumentPageImageQualityScores"
        },
        "detectedLanguages": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageDetectedLanguage"
          },
          "type": "array",
          "description": "A list of detected languages together with confidence."
        },
        "dimension": {
          "description": "Physical dimension of the page.",
          "$ref": "GoogleCloudDocumentaiV1DocumentPageDimension"
        },
        "transforms": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageMatrix"
          },
          "description": "Transformation matrices that were applied to the original document image to produce Page.image.",
          "type": "array"
        },
        "visualElements": {
          "description": "A list of detected non-text visual elements, for example, checkbox, signature etc. on the page.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageVisualElement"
          }
        },
        "blocks": {
          "type": "array",
          "description": "A list of visually detected text blocks on the page. A block has a set of lines (collected into paragraphs) that have a common line-spacing and orientation.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageBlock"
          }
        },
        "tables": {
          "type": "array",
          "description": "A list of visually detected tables on the page.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageTable"
          }
        },
        "tokens": {
          "type": "array",
          "description": "A list of visually detected tokens on the page.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageToken"
          }
        },
        "lines": {
          "description": "A list of visually detected text lines on the page. A collection of tokens that a human would perceive as a line.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageLine"
          }
        },
        "paragraphs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageParagraph"
          },
          "description": "A list of visually detected text paragraphs on the page. A collection of lines that a human would perceive as a paragraph."
        },
        "provenance": {
          "$ref": "GoogleCloudDocumentaiV1DocumentProvenance",
          "deprecated": true,
          "description": "The history of this page."
        },
        "pageNumber": {
          "type": "integer",
          "description": "1-based index for current Page in a parent Document. Useful when a page is taken out of a Document for individual processing.",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3ResyncDatasetMetadataDatasetResyncStatus": {
      "description": "Resync status against inconsistency types on the dataset level.",
      "id": "GoogleCloudDocumentaiUiv1beta3ResyncDatasetMetadataDatasetResyncStatus",
      "type": "object",
      "properties": {
        "datasetInconsistencyType": {
          "enumDescriptions": [
            "Default value.",
            "The marker file under the dataset folder is not found."
          ],
          "description": "The type of the inconsistency of the dataset.",
          "type": "string",
          "enum": [
            "DATASET_INCONSISTENCY_TYPE_UNSPECIFIED",
            "DATASET_INCONSISTENCY_TYPE_NO_STORAGE_MARKER"
          ]
        },
        "status": {
          "$ref": "GoogleRpcStatus",
          "description": "The status of resyncing the dataset with regards to the detected inconsistency. Empty if ResyncDatasetRequest.validate_only is `true`."
        }
      }
    },
    "GoogleLongrunningListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "operations": {
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleLongrunningListOperationsResponse"
    },
    "GoogleCloudDocumentaiV1GcsDocument": {
      "type": "object",
      "description": "Specifies a document stored on Cloud Storage.",
      "id": "GoogleCloudDocumentaiV1GcsDocument",
      "properties": {
        "gcsUri": {
          "type": "string",
          "description": "The Cloud Storage object uri."
        },
        "mimeType": {
          "description": "An IANA MIME type (RFC6838) of the content.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3ResyncDatasetMetadataIndividualDocumentResyncStatus": {
      "id": "GoogleCloudDocumentaiUiv1beta3ResyncDatasetMetadataIndividualDocumentResyncStatus",
      "type": "object",
      "description": "Resync status for each document per inconsistency type.",
      "properties": {
        "status": {
          "$ref": "GoogleRpcStatus",
          "description": "The status of resyncing the document with regards to the detected inconsistency. Empty if ResyncDatasetRequest.validate_only is `true`."
        },
        "documentInconsistencyType": {
          "type": "string",
          "enum": [
            "DOCUMENT_INCONSISTENCY_TYPE_UNSPECIFIED",
            "DOCUMENT_INCONSISTENCY_TYPE_INVALID_DOCPROTO",
            "DOCUMENT_INCONSISTENCY_TYPE_MISMATCHED_METADATA",
            "DOCUMENT_INCONSISTENCY_TYPE_NO_PAGE_IMAGE"
          ],
          "description": "The type of document inconsistency.",
          "enumDescriptions": [
            "Default value.",
            "The document proto is invalid.",
            "Indexed docproto metadata is mismatched.",
            "The page image or thumbnails are missing."
          ]
        },
        "documentId": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3DocumentId",
          "description": "The document identifier."
        }
      }
    },
    "GoogleCloudDocumentaiV1DocumentPageTokenDetectedBreak": {
      "properties": {
        "type": {
          "enumDescriptions": [
            "Unspecified break type.",
            "A single whitespace.",
            "A wider whitespace.",
            "A hyphen that indicates that a token has been split across lines."
          ],
          "description": "Detected break type.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "SPACE",
            "WIDE_SPACE",
            "HYPHEN"
          ]
        }
      },
      "type": "object",
      "description": "Detected break at the end of a Token.",
      "id": "GoogleCloudDocumentaiV1DocumentPageTokenDetectedBreak"
    },
    "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleChildAlignmentRule": {
      "id": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleChildAlignmentRule",
      "type": "object",
      "description": "A rule that aligns specified child fields with a parent field.",
      "properties": {
        "parentField": {
          "description": "The full path of the parent field.",
          "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleField"
        },
        "alignmentRule": {
          "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleAlignmentRule",
          "description": "The alignment rule to apply to the child fields."
        },
        "childFields": {
          "description": "The child fields to be aligned within the parent field.",
          "items": {
            "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleField"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDocumentaiV1DocumentPageAnchor": {
      "id": "GoogleCloudDocumentaiV1DocumentPageAnchor",
      "description": "Referencing the visual context of the entity in the Document.pages. Page anchors can be cross-page, consist of multiple bounding polygons and optionally reference specific layout element types.",
      "type": "object",
      "properties": {
        "pageRefs": {
          "description": "One or more references to visual page elements",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageAnchorPageRef"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3EnableProcessorResponse": {
      "description": "Response message for the EnableProcessor method. Intentionally empty proto for adding fields in future.",
      "id": "GoogleCloudDocumentaiV1beta3EnableProcessorResponse",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDocumentaiV1SchemaGenerationHistory": {
      "description": "The history of schema generation iterations.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1SchemaGenerationHistory",
      "properties": {
        "iterations": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1SchemaGenerationIteration"
          },
          "type": "array",
          "description": "Required. Previous prompt-answers in a chronological order."
        }
      }
    },
    "GoogleCloudDocumentaiV1CommonOperationMetadata": {
      "type": "object",
      "properties": {
        "stateMessage": {
          "description": "A message providing more details about the current state of processing.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The creation time of the operation."
        },
        "updateTime": {
          "type": "string",
          "description": "The last update time of the operation.",
          "format": "google-datetime"
        },
        "resource": {
          "description": "A related resource to this operation.",
          "type": "string"
        },
        "state": {
          "description": "The state of the operation.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "CANCELLING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "Operation is still running.",
            "Operation is being cancelled.",
            "Operation succeeded.",
            "Operation failed.",
            "Operation is cancelled."
          ]
        }
      },
      "id": "GoogleCloudDocumentaiV1CommonOperationMetadata",
      "description": "The common metadata for long running operations."
    },
    "GoogleCloudDocumentaiUiv1beta3ProcessorVersion": {
      "properties": {
        "googleManaged": {
          "description": "Output only. Denotes that this `ProcessorVersion` is managed by Google.",
          "readOnly": true,
          "type": "boolean"
        },
        "genAiModelInfo": {
          "description": "Output only. Information about Generative AI model-based processor versions.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3ProcessorVersionGenAiModelInfo",
          "readOnly": true
        },
        "satisfiesPzs": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Reserved for future use."
        },
        "satisfiesPzi": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Reserved for future use."
        },
        "kmsKeyVersionName": {
          "type": "string",
          "description": "Output only. The KMS key version with which data is encrypted.",
          "readOnly": true
        },
        "documentSchema": {
          "readOnly": true,
          "$ref": "GoogleCloudDocumentaiUiv1beta3DocumentSchema",
          "description": "Output only. The schema of the processor version. Describes the output."
        },
        "kmsKeyName": {
          "description": "Output only. The KMS key name used for encryption.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the processor version."
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "DEPLOYED",
            "DEPLOYING",
            "UNDEPLOYED",
            "UNDEPLOYING",
            "CREATING",
            "DELETING",
            "FAILED",
            "IMPORTING"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The processor version is in an unspecified state.",
            "The processor version is deployed and can be used for processing.",
            "The processor version is being deployed.",
            "The processor version is not deployed and cannot be used for processing.",
            "The processor version is being undeployed.",
            "The processor version is being created.",
            "The processor version is being deleted.",
            "The processor version failed and is in an indeterminate state.",
            "The processor version is being imported."
          ],
          "description": "Output only. The state of the processor version."
        },
        "deploymentAllowed": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Denotes that this `ProcessorVersion` can be deployed and undeployed."
        },
        "latestEvaluation": {
          "readOnly": true,
          "description": "Output only. The most recently invoked evaluation for the processor version.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3EvaluationReference"
        },
        "modelType": {
          "readOnly": true,
          "description": "Output only. The model type of this processor version.",
          "type": "string",
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "MODEL_TYPE_GENERATIVE",
[...]
