{
  "title": "Cloud Document AI API",
  "version_module": true,
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "description": "Service to parse structured information from unstructured or semi-structured documents using state-of-the-art Google AI such as natural language, computer vision, translation, and AutoML.",
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://cloud.google.com/document-ai/docs/",
  "kind": "discovery#restDescription",
  "servicePath": "",
  "baseUrl": "https://documentai.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "documentai:v1beta3",
  "protocol": "rest",
  "ownerName": "Google",
  "mtlsRootUrl": "https://documentai.mtls.googleapis.com/",
  "parameters": {
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "type": "string",
      "default": "json",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    }
  },
  "schemas": {
    "GoogleCloudDocumentaiV1beta3DocumentBlobAsset": {
      "description": "Represents a blob asset. It's used to store the content of the inline blob in this document, for example, image bytes, such that it can be referenced by other fields in the document via asset ID.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3DocumentBlobAsset",
      "properties": {
        "content": {
          "type": "string",
          "description": "Optional. The content of the blob asset, for example, image bytes.",
          "format": "byte"
        },
        "mimeType": {
          "type": "string",
          "description": "The mime type of the blob asset. An IANA published [media type (MIME type)](https://www.iana.org/assignments/media-types/media-types.xhtml)."
        },
        "assetId": {
          "type": "string",
          "description": "Optional. The ID of the blob asset."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3OcrConfigHints": {
      "type": "object",
      "description": "Hints for OCR Engine",
      "properties": {
        "languageHints": {
          "items": {
            "type": "string"
          },
          "description": "List of BCP-47 language codes to use for OCR. In most cases, not specifying it yields the best results since it enables automatic language detection. For languages based on the Latin alphabet, setting hints is not needed. In rare cases, when the language of the text in the image is known, setting a hint will help get better results (although it will be a significant hindrance if the hint is wrong).",
          "type": "array"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3OcrConfigHints"
    },
    "GoogleCloudDocumentaiUiv1beta3UpdateDatasetOperationMetadata": {
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3UpdateDatasetOperationMetadata"
    },
    "GoogleCloudDocumentaiV1beta3DocumentChunkedDocumentChunkChunkPageSpan": {
      "description": "Represents where the chunk starts and ends in the document.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3DocumentChunkedDocumentChunkChunkPageSpan",
      "properties": {
        "pageStart": {
          "description": "Page where chunk starts in the document.",
          "format": "int32",
          "type": "integer"
        },
        "pageEnd": {
          "description": "Page where chunk ends in the document.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3SchemaInferenceMetadata": {
      "id": "GoogleCloudDocumentaiUiv1beta3SchemaInferenceMetadata",
      "description": "Metadata for schema inference. Only used on dataset.schema for schema inference, can be safely ignored elsewhere.",
      "properties": {
        "inferred": {
          "type": "boolean",
          "description": "True if is inferred by schema inference."
        }
      },
      "type": "object"
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "details": {
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3EvaluationReference": {
      "properties": {
        "operation": {
          "description": "The resource name of the Long Running Operation for the evaluation.",
          "type": "string"
        },
        "aggregateMetricsExact": {
          "description": "An aggregate of the statistics for the evaluation with fuzzy matching off.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3EvaluationMetrics"
        },
        "evaluation": {
          "description": "The resource name of the evaluation.",
          "type": "string"
        },
        "aggregateMetrics": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3EvaluationMetrics",
          "description": "An aggregate of the statistics for the evaluation with fuzzy matching on."
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3EvaluationReference",
      "description": "Gives a short summary of an evaluation, and links to the evaluation itself."
    },
    "GoogleCloudDocumentaiV1beta3ProcessOptionsLayoutConfig": {
      "description": "Serving config for layout parser processor.",
      "properties": {
        "enableImageExtraction": {
          "type": "boolean",
          "description": "Optional. Whether to extract images in layout parser response."
        },
        "enableTableSplit": {
          "type": "boolean",
          "description": "Optional. Whether to split table."
        },
        "chunkingConfig": {
          "description": "Optional. Config for chunking in layout parser processor.",
          "$ref": "GoogleCloudDocumentaiV1beta3ProcessOptionsLayoutConfigChunkingConfig"
        },
        "enableLlmLayoutParsing": {
          "description": "Optional. Whether to refine PDF layout using LLM.",
          "type": "boolean"
        },
        "returnImages": {
          "description": "Optional. Whether to include images in layout parser processor response.",
          "type": "boolean"
        },
        "enableImageAnnotation": {
          "description": "Optional. Whether to include image annotations in layout parser response.",
          "type": "boolean"
        },
        "enableTableAnnotation": {
          "type": "boolean",
          "description": "Optional. Whether to include table annotations in layout parser response."
        },
        "returnBoundingBoxes": {
          "description": "Optional. Whether to include bounding boxes in layout parser processor response.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3ProcessOptionsLayoutConfig",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3ImportDocumentsMetadataImportConfigValidationResult": {
      "properties": {
        "inputGcsSource": {
          "description": "The source Cloud Storage URI specified in the import config.",
          "type": "string"
        },
        "status": {
          "$ref": "GoogleRpcStatus",
          "description": "The validation status of import config."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3ImportDocumentsMetadataImportConfigValidationResult",
      "type": "object",
      "description": "The validation status of each import config. Status is set to an error if there are no documents to import in the `import_config`, or `OK` if the operation will try to proceed with at least one document."
    },
    "GoogleCloudDocumentaiV1beta3BatchProcessRequest": {
      "id": "GoogleCloudDocumentaiV1beta3BatchProcessRequest",
      "properties": {
        "outputConfig": {
          "description": "The overall output config for batch process.",
          "deprecated": true,
          "$ref": "GoogleCloudDocumentaiV1beta3BatchProcessRequestBatchOutputConfig"
        },
        "documentOutputConfig": {
          "description": "The output configuration for the BatchProcessDocuments method.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentOutputConfig"
        },
        "inputDocuments": {
          "$ref": "GoogleCloudDocumentaiV1beta3BatchDocumentsInputConfig",
          "description": "The input documents for the BatchProcessDocuments method."
        },
        "skipHumanReview": {
          "type": "boolean",
          "deprecated": true,
          "description": "Whether human review should be skipped for this request. Default to `false`."
        },
        "labels": {
          "description": "Optional. The labels with user-defined metadata for the request. Label keys and values can be no longer than 63 characters (Unicode codepoints) and can only contain lowercase letters, numeric characters, underscores, and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "processOptions": {
          "description": "Inference-time options for the process API",
          "$ref": "GoogleCloudDocumentaiV1beta3ProcessOptions"
        },
        "inputConfigs": {
          "deprecated": true,
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3BatchProcessRequestBatchInputConfig"
          },
          "description": "The input config for each single document in the batch process.",
          "type": "array"
        }
      },
      "description": "Request message for BatchProcessDocuments.",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3ResyncDatasetMetadata": {
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3ResyncDatasetMetadata",
      "description": "The metadata proto of `ResyncDataset` method.",
      "properties": {
        "datasetResyncStatuses": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3ResyncDatasetMetadataDatasetResyncStatus"
          },
          "description": "The list of dataset resync statuses. Not checked when ResyncDatasetRequest.dataset_documents is specified."
        },
        "individualDocumentResyncStatuses": {
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3ResyncDatasetMetadataIndividualDocumentResyncStatus"
          },
          "type": "array",
          "description": "The list of document resync statuses. The same document could have multiple `individual_document_resync_statuses` if it has multiple inconsistencies."
        },
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadataSplitExportStat": {
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadataSplitExportStat",
      "description": "The statistic representing a dataset split type for this export.",
      "properties": {
        "totalDocumentCount": {
          "type": "integer",
          "description": "Total number of documents with the given dataset split type to be exported.",
          "format": "int32"
        },
        "splitType": {
          "enum": [
            "DATASET_SPLIT_TYPE_UNSPECIFIED",
            "DATASET_SPLIT_TRAIN",
            "DATASET_SPLIT_TEST",
            "DATASET_SPLIT_UNASSIGNED"
          ],
          "enumDescriptions": [
            "Default value if the enum is not set.",
            "Identifies the train documents.",
            "Identifies the test documents.",
            "Identifies the unassigned documents."
          ],
          "type": "string",
          "description": "The dataset split type."
        }
      }
    },
    "GoogleCloudDocumentaiV1CommonOperationMetadata": {
      "properties": {
        "state": {
          "type": "string",
          "description": "The state of the operation.",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "CANCELLING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "Operation is still running.",
            "Operation is being cancelled.",
            "Operation succeeded.",
            "Operation failed.",
            "Operation is cancelled."
          ]
        },
        "updateTime": {
          "description": "The last update time of the operation.",
          "type": "string",
          "format": "google-datetime"
        },
        "resource": {
          "type": "string",
          "description": "A related resource to this operation."
        },
        "createTime": {
          "type": "string",
          "description": "The creation time of the operation.",
          "format": "google-datetime"
        },
        "stateMessage": {
          "type": "string",
          "description": "A message providing more details about the current state of processing."
        }
      },
      "id": "GoogleCloudDocumentaiV1CommonOperationMetadata",
      "description": "The common metadata for long running operations.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3TrainProcessorVersionRequest": {
      "id": "GoogleCloudDocumentaiV1beta3TrainProcessorVersionRequest",
      "properties": {
        "foundationModelTuningOptions": {
          "$ref": "GoogleCloudDocumentaiV1beta3TrainProcessorVersionRequestFoundationModelTuningOptions",
          "description": "Options to control foundation model tuning of a processor."
        },
        "customDocumentExtractionOptions": {
          "$ref": "GoogleCloudDocumentaiV1beta3TrainProcessorVersionRequestCustomDocumentExtractionOptions",
          "description": "Options to control Custom Document Extraction (CDE) Processor."
        },
        "documentSchema": {
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentSchema",
          "description": "Optional. The schema the processor version will be trained with."
        },
        "inputData": {
          "$ref": "GoogleCloudDocumentaiV1beta3TrainProcessorVersionRequestInputData",
          "description": "Optional. The input data used to train the ProcessorVersion."
        },
        "processorVersion": {
          "$ref": "GoogleCloudDocumentaiV1beta3ProcessorVersion",
          "description": "Required. The processor version to be created."
        },
        "baseProcessorVersion": {
          "type": "string",
          "description": "Optional. The processor version to use as a base for training. This processor version must be a child of `parent`. Format: `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}`."
        }
      },
      "type": "object",
      "description": "Request message for the TrainProcessorVersion method."
    },
    "GoogleCloudDocumentaiV1beta3DocumentTextChange": {
      "description": "This message is used for text changes aka. OCR corrections.",
      "properties": {
        "textAnchor": {
          "description": "Provenance of the correction. Text anchor indexing into the Document.text. There can only be a single `TextAnchor.text_segments` element. If the start and end index of the text segment are the same, the text change is inserted before that index.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentTextAnchor"
        },
        "provenance": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentProvenance"
          },
          "deprecated": true,
          "description": "The history of this annotation."
        },
        "changedText": {
          "type": "string",
          "description": "The text that replaces the text identified in the `text_anchor`."
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3DocumentTextChange"
    },
    "GoogleLongrunningListOperationsResponse": {
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "type": "array"
        }
      },
      "id": "GoogleLongrunningListOperationsResponse",
      "type": "object",
      "description": "The response message for Operations.ListOperations."
    },
    "GoogleCloudDocumentaiUiv1beta3EnableProcessorMetadata": {
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3EnableProcessorMetadata",
      "type": "object",
      "description": "The long-running operation metadata for the EnableProcessor method."
    },
    "GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadataIndividualExportStatus": {
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadataIndividualExportStatus",
      "description": "The status of each individual document in the export process.",
      "properties": {
        "status": {
          "$ref": "GoogleRpcStatus",
          "description": "The status of the exporting of the document."
        },
        "documentId": {
          "description": "The path to source docproto of the document.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3DocumentId"
        },
        "outputGcsDestination": {
          "type": "string",
          "description": "The output_gcs_destination of the exported document if it was successful, otherwise empty."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3SchemaGenerationHistory": {
      "description": "The history of schema generation iterations.",
      "id": "GoogleCloudDocumentaiV1beta3SchemaGenerationHistory",
      "properties": {
        "iterations": {
          "type": "array",
          "description": "Required. Previous prompt-answers in a chronological order.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3SchemaGenerationIteration"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3DocumentSchema": {
      "description": "The schema defines the output of the processed document by a processor.",
      "id": "GoogleCloudDocumentaiUiv1beta3DocumentSchema",
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Metadata of the schema.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3DocumentSchemaMetadata"
        },
        "description": {
          "description": "Description of the schema.",
          "type": "string"
        },
        "documentPrompt": {
          "type": "string",
          "description": "Optional. Document-level prompt provided by the user. This custom text is injected into the AI model's prompt to provide extra, document-wide guidance for processing."
        },
        "entityTypes": {
          "description": "Entity types of the schema.",
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3DocumentSchemaEntityType"
          },
          "type": "array"
        },
        "displayName": {
          "description": "Display name to show users.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata": {
      "properties": {
        "state": {
          "description": "The state of the operation.",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "CANCELLING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "Operation is still running.",
            "Operation is being cancelled.",
            "Operation succeeded.",
            "Operation failed.",
            "Operation is cancelled."
          ],
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The creation time of the operation."
        },
        "updateTime": {
          "description": "The last update time of the operation.",
          "type": "string",
          "format": "google-datetime"
        },
        "stateMessage": {
          "description": "A message providing more details about the current state of processing.",
          "type": "string"
        },
        "resource": {
          "type": "string",
          "description": "A related resource to this operation."
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
      "description": "The common metadata for long running operations.",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3ResyncDatasetMetadataDatasetResyncStatus": {
      "id": "GoogleCloudDocumentaiUiv1beta3ResyncDatasetMetadataDatasetResyncStatus",
      "description": "Resync status against inconsistency types on the dataset level.",
      "type": "object",
      "properties": {
        "status": {
          "description": "The status of resyncing the dataset with regards to the detected inconsistency. Empty if ResyncDatasetRequest.validate_only is `true`.",
          "$ref": "GoogleRpcStatus"
        },
        "datasetInconsistencyType": {
          "enumDescriptions": [
            "Default value.",
            "The marker file under the dataset folder is not found."
          ],
          "type": "string",
          "description": "The type of the inconsistency of the dataset.",
          "enum": [
            "DATASET_INCONSISTENCY_TYPE_UNSPECIFIED",
            "DATASET_INCONSISTENCY_TYPE_NO_STORAGE_MARKER"
          ]
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3DatasetDocumentWarehouseConfig": {
      "id": "GoogleCloudDocumentaiV1beta3DatasetDocumentWarehouseConfig",
      "description": "Configuration specific to the Document AI Warehouse-based implementation.",
      "type": "object",
      "properties": {
        "collection": {
          "readOnly": true,
          "description": "Output only. The collection in Document AI Warehouse associated with the dataset.",
          "type": "string"
        },
        "schema": {
          "type": "string",
          "description": "Output only. The schema in Document AI Warehouse associated with the dataset.",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3PropertyMetadata": {
      "id": "GoogleCloudDocumentaiV1beta3PropertyMetadata",
      "type": "object",
      "properties": {
        "inactive": {
          "type": "boolean",
          "description": "Whether the property should be considered as \"inactive\"."
        },
        "fieldExtractionMetadata": {
          "description": "Field extraction metadata on the property.",
          "$ref": "GoogleCloudDocumentaiV1beta3FieldExtractionMetadata"
        }
      },
      "description": "Metadata about a property."
    },
    "GoogleCloudDocumentaiV1beta3DocumentStyleFontSize": {
      "type": "object",
      "properties": {
        "size": {
          "type": "number",
          "format": "float",
          "description": "Font size for the text."
        },
        "unit": {
          "description": "Unit for the font size. Follows CSS naming (such as `in`, `px`, and `pt`).",
          "type": "string"
        }
      },
      "description": "Font size with unit.",
      "id": "GoogleCloudDocumentaiV1beta3DocumentStyleFontSize"
    },
    "GoogleCloudDocumentaiUiv1beta3FieldExtractionMetadataEntityQuery": {
      "properties": {
        "userEntityQuery": {
          "description": "The original entity query inputed by the user.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3FieldExtractionMetadataEntityQuery",
      "type": "object",
      "description": "Message for entity query."
    },
    "GoogleCloudDocumentaiV1beta3ImportDocumentsMetadata": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3ImportDocumentsMetadata",
      "properties": {
        "totalDocumentCount": {
          "description": "Total number of the documents that are qualified for importing.",
          "format": "int32",
          "type": "integer"
        },
        "importConfigValidationResults": {
          "description": "Validation statuses of the batch documents import config.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3ImportDocumentsMetadataImportConfigValidationResult"
          }
        },
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        },
        "individualImportStatuses": {
          "type": "array",
          "description": "The list of response details of each document.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3ImportDocumentsMetadataIndividualImportStatus"
          }
        }
      },
      "description": "Metadata of the import document operation."
    },
    "GoogleCloudDocumentaiUiv1beta3PropertyMetadata": {
      "type": "object",
      "properties": {
        "fieldTierMetadata": {
          "description": "Field tier metadata on the property",
          "$ref": "GoogleCloudDocumentaiUiv1beta3FieldTierMetadata"
        },
        "fieldExtractionMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3FieldExtractionMetadata",
          "description": "Field extraction metadata on the property."
        },
        "schemaEditabilityMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3SchemaEditabilityMetadata",
          "description": "Schema editability metadata on the property."
        },
        "humanReviewLabelingMetadata": {
          "description": "Human review labeling config on the property.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3HumanReviewLabelingMetadata"
        },
        "humanReviewMetadata": {
          "description": "Human review validation config on the property.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3HumanReviewValidationMetadata"
        },
        "inactive": {
          "description": "Whether the property should be considered as \"inactive\".",
          "type": "boolean"
        },
        "schemaInferenceMetadata": {
          "description": "Schema inference metadata on the property.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3SchemaInferenceMetadata"
        }
      },
      "description": "Metadata about a property.",
      "id": "GoogleCloudDocumentaiUiv1beta3PropertyMetadata"
    },
    "GoogleCloudDocumentaiV1beta3ProcessorVersionGenAiModelInfoFoundationGenAiModelInfo": {
      "type": "object",
      "description": "Information for a pretrained Google-managed foundation model.",
      "properties": {
        "minTrainLabeledDocuments": {
          "type": "integer",
          "format": "int32",
          "description": "The minimum number of labeled documents in the training dataset required for fine tuning."
        },
        "finetuningAllowed": {
          "type": "boolean",
          "description": "Whether fine tuning is allowed for this base processor version."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3ProcessorVersionGenAiModelInfoFoundationGenAiModelInfo"
    },
    "GoogleCloudDocumentaiV1ReviewDocumentOperationMetadata": {
      "description": "The long-running operation metadata for the ReviewDocument method.",
      "id": "GoogleCloudDocumentaiV1ReviewDocumentOperationMetadata",
      "type": "object",
      "properties": {
        "questionId": {
          "description": "The Crowd Compute question ID.",
          "type": "string"
        },
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiV1CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3BatchDeleteDocumentsMetadata": {
      "type": "object",
      "properties": {
        "totalDocumentCount": {
          "format": "int32",
          "type": "integer",
          "description": "Total number of documents deleting from dataset."
        },
        "errorDocumentCount": {
          "description": "Total number of documents that failed to be deleted in storage.",
          "format": "int32",
          "type": "integer"
        },
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        },
        "individualBatchDeleteStatuses": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3BatchDeleteDocumentsMetadataIndividualBatchDeleteStatus"
          },
          "type": "array",
          "description": "The list of response details of each document."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3BatchDeleteDocumentsMetadata"
    },
    "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleChildAlignmentRule": {
      "type": "object",
      "id": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleChildAlignmentRule",
      "description": "A rule that aligns specified child fields with a parent field.",
      "properties": {
        "alignmentRule": {
          "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleAlignmentRule",
          "description": "The alignment rule to apply to the child fields."
        },
        "parentField": {
          "description": "The full path of the parent field.",
          "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleField"
        },
        "childFields": {
          "description": "The child fields to be aligned within the parent field.",
          "type": "array",
          "items": {
            "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleField"
          }
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3BatchDeleteDocumentsMetadata": {
      "properties": {
        "totalDocumentCount": {
          "description": "Total number of documents deleting from dataset.",
          "format": "int32",
          "type": "integer"
        },
        "errorDocumentCount": {
          "format": "int32",
          "description": "Total number of documents that failed to be deleted in storage.",
          "type": "integer"
        },
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        },
        "individualBatchDeleteStatuses": {
          "type": "array",
          "description": "The list of response details of each document.",
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3BatchDeleteDocumentsMetadataIndividualBatchDeleteStatus"
          }
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3BatchDeleteDocumentsMetadata",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3DeployProcessorVersionResponse": {
      "id": "GoogleCloudDocumentaiV1beta3DeployProcessorVersionResponse",
      "type": "object",
      "properties": {},
      "description": "Response message for the DeployProcessorVersion method."
    },
    "GoogleCloudDocumentaiUiv1beta3ImportDocumentsMetadata": {
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3ImportDocumentsMetadata",
      "description": "Metadata of the import document operation.",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        },
        "importConfigValidationResults": {
          "description": "Validation statuses of the batch documents import config.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3ImportDocumentsMetadataImportConfigValidationResult"
          }
        },
        "totalDocumentCount": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of the documents that are qualified for importing."
        },
        "individualImportStatuses": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3ImportDocumentsMetadataIndividualImportStatus"
          },
          "description": "The list of response details of each document."
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3ProcessorVersion": {
      "id": "GoogleCloudDocumentaiUiv1beta3ProcessorVersion",
      "type": "object",
      "properties": {
        "kmsKeyName": {
          "type": "string",
          "description": "Output only. The KMS key name used for encryption.",
          "readOnly": true
        },
        "satisfiesPzs": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Reserved for future use."
        },
        "documentSchema": {
          "readOnly": true,
          "description": "Output only. The schema of the processor version. Describes the output.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3DocumentSchema"
        },
        "createTime": {
          "description": "Output only. The time the processor version was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "googleManaged": {
          "description": "Output only. Denotes that this `ProcessorVersion` is managed by Google.",
          "type": "boolean",
          "readOnly": true
        },
        "deploymentAllowed": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Denotes that this `ProcessorVersion` can be deployed and undeployed."
        },
        "name": {
          "description": "Identifier. The resource name of the processor version. Format: `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processor_version}`",
          "type": "string"
        },
        "modelType": {
          "description": "Output only. The model type of this processor version.",
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "MODEL_TYPE_GENERATIVE",
            "MODEL_TYPE_CUSTOM"
          ],
          "type": "string",
          "enumDescriptions": [
            "The processor version has unspecified model type.",
            "The processor version has generative model type.",
            "The processor version has custom model type."
          ],
          "readOnly": true
        },
        "state": {
          "type": "string",
          "description": "Output only. The state of the processor version.",
          "enum": [
            "STATE_UNSPECIFIED",
            "DEPLOYED",
            "DEPLOYING",
            "UNDEPLOYED",
            "UNDEPLOYING",
            "CREATING",
            "DELETING",
            "FAILED",
            "IMPORTING"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The processor version is in an unspecified state.",
            "The processor version is deployed and can be used for processing.",
            "The processor version is being deployed.",
            "The processor version is not deployed and cannot be used for processing.",
            "The processor version is being undeployed.",
            "The processor version is being created.",
            "The processor version is being deleted.",
            "The processor version failed and is in an indeterminate state.",
            "The processor version is being imported."
          ]
        },
        "schema": {
          "description": "The schema of the processor version. Describes the output.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3Schema"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the processor version."
        },
        "genAiModelInfo": {
          "readOnly": true,
          "description": "Output only. Information about Generative AI model-based processor versions.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3ProcessorVersionGenAiModelInfo"
        },
        "deprecationInfo": {
          "description": "Output only. If set, information about the eventual deprecation of this version.",
          "readOnly": true,
          "$ref": "GoogleCloudDocumentaiUiv1beta3ProcessorVersionDeprecationInfo"
        },
        "kmsKeyVersionName": {
          "description": "Output only. The KMS key version with which data is encrypted.",
          "type": "string",
          "readOnly": true
        },
        "satisfiesPzi": {
          "type": "boolean",
          "description": "Output only. Reserved for future use.",
          "readOnly": true
        },
        "latestEvaluation": {
          "readOnly": true,
          "description": "Output only. The most recently invoked evaluation for the processor version.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3EvaluationReference"
        }
      },
      "description": "A processor version is an implementation of a processor. Each processor can have multiple versions, pretrained by Google internally or uptrained by the customer. A processor can only have one default version at a time. Its document-processing behavior is defined by that version."
    },
    "GoogleCloudDocumentaiV1beta3OcrConfigPremiumFeatures": {
      "properties": {
        "computeStyleInfo": {
          "type": "boolean",
          "description": "Turn on font identification model and return font style information."
        },
        "enableSelectionMarkDetection": {
          "description": "Turn on selection mark detector in OCR engine. Only available in OCR 2.0 (and later) processors.",
          "type": "boolean"
        },
        "enableMathOcr": {
          "description": "Turn on the model that can extract LaTeX math formulas.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3OcrConfigPremiumFeatures",
      "description": "Configurations for premium OCR features.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3ProcessorVersion": {
      "id": "GoogleCloudDocumentaiV1beta3ProcessorVersion",
      "properties": {
        "deprecationInfo": {
          "description": "Output only. If set, information about the eventual deprecation of this version.",
          "readOnly": true,
          "$ref": "GoogleCloudDocumentaiV1beta3ProcessorVersionDeprecationInfo"
        },
        "displayName": {
          "description": "The display name of the processor version.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "The processor version is in an unspecified state.",
            "The processor version is deployed and can be used for processing.",
            "The processor version is being deployed.",
            "The processor version is not deployed and cannot be used for processing.",
            "The processor version is being undeployed.",
            "The processor version is being created.",
            "The processor version is being deleted.",
            "The processor version failed and is in an indeterminate state.",
            "The processor version is being imported."
          ],
          "type": "string",
          "description": "Output only. The state of the processor version.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "DEPLOYED",
            "DEPLOYING",
            "UNDEPLOYED",
            "UNDEPLOYING",
            "CREATING",
            "DELETING",
            "FAILED",
            "IMPORTING"
          ]
        },
        "name": {
          "description": "Identifier. The resource name of the processor version. Format: `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processor_version}`",
          "type": "string"
        },
        "satisfiesPzs": {
          "readOnly": true,
          "description": "Output only. Reserved for future use.",
          "type": "boolean"
        },
        "genAiModelInfo": {
          "$ref": "GoogleCloudDocumentaiV1beta3ProcessorVersionGenAiModelInfo",
          "description": "Output only. Information about Generative AI model-based processor versions.",
          "readOnly": true
        },
        "kmsKeyName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The KMS key name used for encryption."
        },
        "kmsKeyVersionName": {
          "description": "Output only. The KMS key version with which data is encrypted.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the processor version was created.",
          "format": "google-datetime"
        },
        "modelType": {
          "description": "Output only. The model type of this processor version.",
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "MODEL_TYPE_GENERATIVE",
            "MODEL_TYPE_CUSTOM"
          ],
          "enumDescriptions": [
            "The processor version has unspecified model type.",
            "The processor version has generative model type.",
            "The processor version has custom model type."
          ],
          "readOnly": true,
          "type": "string"
        },
        "googleManaged": {
          "readOnly": true,
          "description": "Output only. Denotes that this `ProcessorVersion` is managed by Google.",
          "type": "boolean"
        },
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "latestEvaluation": {
          "description": "Output only. The most recently invoked evaluation for the processor version.",
          "$ref": "GoogleCloudDocumentaiV1beta3EvaluationReference",
          "readOnly": true
        },
        "documentSchema": {
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentSchema",
          "readOnly": true,
          "description": "Output only. The schema of the processor version. Describes the output."
        }
      },
      "description": "A processor version is an implementation of a processor. Each processor can have multiple versions, pretrained by Google internally or uptrained by the customer. A processor can only have one default version at a time. Its document-processing behavior is defined by that version.",
      "type": "object"
    },
    "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRule": {
      "properties": {
        "ruleId": {
          "description": "Unique identifier of the rule. Optional.",
          "type": "string"
        },
        "fieldOccurrences": {
          "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleFieldOccurrences"
        },
        "description": {
          "description": "Description of the validation rule. This has no use but for documentation.",
          "type": "string"
        },
        "formValidation": {
          "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleFormValidation"
        },
        "childAlignmentRule": {
          "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleChildAlignmentRule"
        },
        "fieldRegex": {
          "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleFieldRegex"
        },
        "name": {
          "description": "Name of the validation rule.",
          "type": "string"
        },
        "entityAlignmentRule": {
          "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleEntityAlignmentRule"
        }
      },
      "id": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRule",
      "description": "Next ID: 9",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3EntityTypeMetadata": {
      "description": "Metadata about an entity type.",
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3EntityTypeMetadata",
      "properties": {
        "humanReviewMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3HumanReviewValidationMetadata",
          "description": "Human review config on the entity."
        },
        "inactive": {
          "description": "Whether the entity type should be considered inactive.",
          "type": "boolean"
        },
        "humanReviewLabelingMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3HumanReviewLabelingMetadata",
          "description": "Human review labeling config on the entity."
        },
        "fieldTierMetadata": {
          "description": "Field tier metadata on the property",
          "$ref": "GoogleCloudDocumentaiUiv1beta3FieldTierMetadata"
        },
        "schemaEditabilityMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3SchemaEditabilityMetadata",
          "description": "Schema editability metadata on the entity."
        },
        "schemaInferenceMetadata": {
          "description": "Schema inference metadata on the entity.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3SchemaInferenceMetadata"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3ProcessOptionsLayoutConfigChunkingConfig": {
      "type": "object",
      "properties": {
        "includeAncestorHeadings": {
          "description": "Optional. Whether or not to include ancestor headings when splitting.",
          "type": "boolean"
        },
        "chunkSize": {
          "type": "integer",
          "description": "Optional. The chunk sizes to use when splitting documents, in order of level.",
          "format": "int32"
        },
        "breakpointPercentileThreshold": {
          "description": "Optional. The percentile of cosine dissimilarity that must be exceeded between a group of tokens and the next. The smaller this number is, the more chunks will be generated. **Note:** This field is not yet used.",
          "format": "int32",
          "type": "integer"
        },
        "semanticChunkingGroupSize": {
          "type": "boolean",
          "description": "Optional. The number of tokens to group together when evaluating semantic similarity. **Note:** This field is not yet used."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3ProcessOptionsLayoutConfigChunkingConfig",
      "description": "Serving config for chunking."
    },
    "GoogleCloudDocumentaiV1EvaluateProcessorVersionResponse": {
      "properties": {
        "evaluation": {
          "description": "The resource name of the created evaluation.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1EvaluateProcessorVersionResponse",
      "description": "Response of the EvaluateProcessorVersion method."
    },
    "GoogleCloudDocumentaiV1beta3Vertex": {
      "description": "A vertex represents a 2D point in the image. NOTE: the vertex coordinates are in the same scale as the original image.",
      "type": "object",
      "properties": {
        "x": {
          "type": "integer",
          "format": "int32",
          "description": "X coordinate."
        },
        "y": {
          "format": "int32",
          "type": "integer",
          "description": "Y coordinate (starts from the top of the image)."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3Vertex"
    },
    "GoogleCloudDocumentaiUiv1beta3HumanReviewLabelingMetadata": {
      "properties": {
        "enableNormalizationEditing": {
          "type": "boolean",
          "description": "Whether to enable normalization editing."
        }
      },
      "description": "Metadata for human review labeling config.",
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3HumanReviewLabelingMetadata"
    },
    "GoogleCloudDocumentaiUiv1beta3BatchMoveDocumentsResponse": {
      "properties": {},
      "type": "object",
      "description": "Response of the batch move documents operation.",
      "id": "GoogleCloudDocumentaiUiv1beta3BatchMoveDocumentsResponse"
    },
    "GoogleCloudDocumentaiV1DisableProcessorResponse": {
      "description": "Response message for the DisableProcessor method. Intentionally empty proto for adding fields in future.",
      "properties": {},
      "id": "GoogleCloudDocumentaiV1DisableProcessorResponse",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3DocumentDocumentLayoutDocumentLayoutBlockLayoutTextBlock": {
      "id": "GoogleCloudDocumentaiV1beta3DocumentDocumentLayoutDocumentLayoutBlockLayoutTextBlock",
      "properties": {
        "type": {
          "description": "Type of the text in the block. Available options are: `paragraph`, `subtitle`, `heading-1`, `heading-2`, `heading-3`, `heading-4`, `heading-5`, `header`, `footer`.",
          "type": "string"
        },
        "text": {
          "description": "Text content stored in the block.",
          "type": "string"
        },
        "annotations": {
          "description": "Annotation of the text block.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentAnnotations"
        },
        "blocks": {
          "description": "A text block could further have child blocks. Repeated blocks support further hierarchies and nested blocks.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentDocumentLayoutDocumentLayoutBlock"
          },
          "type": "array"
        }
      },
      "description": "Represents a text type block.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3DocumentPageTableTableCell": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3DocumentPageTableTableCell",
      "properties": {
        "colSpan": {
          "type": "integer",
          "description": "How many columns this cell spans.",
          "format": "int32"
        },
        "rowSpan": {
          "description": "How many rows this cell spans.",
          "format": "int32",
          "type": "integer"
        },
        "layout": {
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageLayout",
          "description": "Layout for TableCell."
        },
        "detectedLanguages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageDetectedLanguage"
          },
          "description": "A list of detected languages together with confidence."
        }
      },
      "description": "A cell representation inside the table."
    },
    "GoogleCloudDocumentaiV1beta3DocumentStyle": {
      "description": "Annotation for common text style attributes. This adheres to CSS conventions as much as possible.",
      "id": "GoogleCloudDocumentaiV1beta3DocumentStyle",
      "type": "object",
      "properties": {
        "fontSize": {
          "description": "Font size.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentStyleFontSize"
        },
        "backgroundColor": {
          "$ref": "GoogleTypeColor",
          "description": "Text background color."
        },
        "textDecoration": {
          "type": "string",
          "description": "[Text decoration](https://www.w3schools.com/cssref/pr_text_text-decoration.asp). Follows CSS standard. "
        },
        "textStyle": {
          "description": "[Text style](https://www.w3schools.com/cssref/pr_font_font-style.asp). Possible values are `normal`, `italic`, and `oblique`.",
          "type": "string"
        },
        "fontWeight": {
          "description": "[Font weight](https://www.w3schools.com/cssref/pr_font_weight.asp). Possible values are `normal`, `bold`, `bolder`, and `lighter`.",
          "type": "string"
        },
        "fontFamily": {
          "type": "string",
          "description": "Font family such as `Arial`, `Times New Roman`. https://www.w3schools.com/cssref/pr_font_font-family.asp"
        },
        "textAnchor": {
          "description": "Text anchor indexing into the Document.text.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentTextAnchor"
        },
        "color": {
          "$ref": "GoogleTypeColor",
          "description": "Text color."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3DocumentPageSymbol": {
      "description": "A detected symbol.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3DocumentPageSymbol",
      "properties": {
        "detectedLanguages": {
          "description": "A list of detected languages together with confidence.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageDetectedLanguage"
          },
          "type": "array"
        },
        "layout": {
          "description": "Layout for Symbol.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageLayout"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3EvaluationMultiConfidenceMetrics": {
      "properties": {
        "metricsType": {
          "type": "string",
          "enum": [
            "METRICS_TYPE_UNSPECIFIED",
            "AGGREGATE"
          ],
          "description": "The metrics type for the label.",
          "enumDescriptions": [
            "The metrics type is unspecified. By default, metrics without a particular specification are for leaf entity types (i.e., top-level entity types without child types, or child types which are not parent types themselves).",
            "Indicates whether metrics for this particular label type represent an aggregate of metrics for other types instead of being based on actual TP/FP/FN values for the label type. Metrics for parent (i.e., non-leaf) entity types are an aggregate of metrics for their children."
          ]
        },
        "confidenceLevelMetrics": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3EvaluationConfidenceLevelMetrics"
          },
          "description": "Metrics across confidence levels with fuzzy matching enabled.",
          "type": "array"
        },
        "estimatedCalibrationError": {
          "type": "number",
          "format": "float",
          "description": "The Estimated Calibration Error (ECE) of the confidence of the predicted entities."
        },
        "auprc": {
          "format": "float",
          "description": "The calculated area under the precision recall curve (AUPRC), computed by integrating over all confidence thresholds.",
          "type": "number"
        },
        "auprcExact": {
          "format": "float",
          "description": "The AUPRC for metrics with fuzzy matching disabled, i.e., exact matching only.",
          "type": "number"
        },
        "estimatedCalibrationErrorExact": {
          "type": "number",
          "format": "float",
          "description": "The ECE for the predicted entities with fuzzy matching disabled, i.e., exact matching only."
        },
        "confidenceLevelMetricsExact": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3EvaluationConfidenceLevelMetrics"
          },
          "type": "array",
          "description": "Metrics across confidence levels with only exact matching."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3EvaluationMultiConfidenceMetrics",
      "description": "Metrics across multiple confidence levels.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3DocumentAnnotations": {
      "properties": {
        "description": {
          "description": "The description of the content with this annotation.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DocumentAnnotations",
      "description": "Represents the annotation of a block or a chunk.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3ListProcessorVersionsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Points to the next processor, otherwise empty.",
          "type": "string"
        },
        "processorVersions": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3ProcessorVersion"
          },
          "description": "The list of processors.",
          "type": "array"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3ListProcessorVersionsResponse",
      "description": "Response message for the ListProcessorVersions method."
    },
    "GoogleCloudDocumentaiUiv1beta3BatchMoveDocumentsMetadata": {
      "id": "GoogleCloudDocumentaiUiv1beta3BatchMoveDocumentsMetadata",
      "type": "object",
      "properties": {
        "destDatasetType": {
          "type": "string",
          "enumDescriptions": [
            "Default value if the enum is not set.",
            "Identifies the train documents.",
            "Identifies the test documents.",
            "Identifies the unassigned documents."
          ],
          "deprecated": true,
          "description": "The destination dataset split type.",
          "enum": [
            "DATASET_SPLIT_TYPE_UNSPECIFIED",
            "DATASET_SPLIT_TRAIN",
            "DATASET_SPLIT_TEST",
            "DATASET_SPLIT_UNASSIGNED"
          ]
        },
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        },
        "destSplitType": {
          "description": "The destination dataset split type.",
          "enum": [
            "DATASET_SPLIT_TYPE_UNSPECIFIED",
            "DATASET_SPLIT_TRAIN",
            "DATASET_SPLIT_TEST",
            "DATASET_SPLIT_UNASSIGNED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value if the enum is not set.",
            "Identifies the train documents.",
            "Identifies the test documents.",
            "Identifies the unassigned documents."
          ]
        },
        "individualBatchMoveStatuses": {
          "description": "The list of response details of each document.",
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3BatchMoveDocumentsMetadataIndividualBatchMoveStatus"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3AutoLabelDocumentsMetadataIndividualAutoLabelStatus": {
      "properties": {
        "status": {
          "description": "The status of the document auto-labeling.",
          "$ref": "GoogleRpcStatus"
        },
        "documentId": {
          "description": "The document ID of the auto-labeled document. This will replace the gcs_uri.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3DocumentId"
        }
      },
      "description": "The status of individual documents in the auto-labeling process.",
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3AutoLabelDocumentsMetadataIndividualAutoLabelStatus"
    },
    "GoogleCloudDocumentaiV1beta3FieldExtractionMetadata": {
      "id": "GoogleCloudDocumentaiV1beta3FieldExtractionMetadata",
      "properties": {
        "summaryOptions": {
          "$ref": "GoogleCloudDocumentaiV1beta3SummaryOptions",
          "description": "Summary options config."
        }
      },
      "description": "Metadata for how this field value is extracted.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3DocumentTextAnchorTextSegment": {
      "description": "A text segment in the Document.text. The indices may be out of bounds which indicate that the text extends into another document shard for large sharded documents. See ShardInfo.text_offset",
      "properties": {
        "startIndex": {
          "format": "int64",
          "type": "string",
          "description": "TextSegment start UTF-8 char index in the Document.text."
        },
        "endIndex": {
          "type": "string",
          "format": "int64",
          "description": "TextSegment half open end UTF-8 char index in the Document.text."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DocumentTextAnchorTextSegment",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3DocumentChunkedDocumentChunk": {
      "id": "GoogleCloudDocumentaiV1beta3DocumentChunkedDocumentChunk",
      "properties": {
        "sourceBlockIds": {
          "description": "Unused.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "chunkId": {
          "description": "ID of the chunk.",
          "type": "string"
        },
        "chunkFields": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentChunkedDocumentChunkChunkField"
          },
          "type": "array",
          "description": "Chunk fields inside this chunk."
        },
        "content": {
          "type": "string",
          "description": "Text content of the chunk."
        },
        "pageHeaders": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentChunkedDocumentChunkChunkPageHeader"
          },
          "type": "array",
          "description": "Page headers associated with the chunk."
        },
        "pageSpan": {
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentChunkedDocumentChunkChunkPageSpan",
          "description": "Page span of the chunk."
        },
        "pageFooters": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentChunkedDocumentChunkChunkPageFooter"
          },
          "type": "array",
          "description": "Page footers associated with the chunk."
        }
      },
      "description": "Represents a chunk.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3DocumentDocumentLayoutDocumentLayoutBlock": {
      "type": "object",
      "description": "Represents a block. A block could be one of the various types (text, table, list) supported.",
      "id": "GoogleCloudDocumentaiV1beta3DocumentDocumentLayoutDocumentLayoutBlock",
      "properties": {
        "pageSpan": {
          "description": "Page span of the block.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentDocumentLayoutDocumentLayoutBlockLayoutPageSpan"
        },
        "boundingBox": {
          "description": "Identifies the bounding box for the block.",
          "$ref": "GoogleCloudDocumentaiV1beta3BoundingPoly"
        },
        "listBlock": {
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentDocumentLayoutDocumentLayoutBlockLayoutListBlock",
          "description": "Block consisting of list content/structure."
        },
        "imageBlock": {
          "description": "Block consisting of image content.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentDocumentLayoutDocumentLayoutBlockLayoutImageBlock"
        },
        "textBlock": {
          "description": "Block consisting of text content.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentDocumentLayoutDocumentLayoutBlockLayoutTextBlock"
        },
        "tableBlock": {
          "description": "Block consisting of table content/structure.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentDocumentLayoutDocumentLayoutBlockLayoutTableBlock"
        },
        "blockId": {
          "type": "string",
          "description": "ID of the block."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3DocumentDocumentLayoutDocumentLayoutBlockLayoutTableCell": {
      "id": "GoogleCloudDocumentaiV1beta3DocumentDocumentLayoutDocumentLayoutBlockLayoutTableCell",
      "properties": {
        "colSpan": {
          "type": "integer",
          "format": "int32",
          "description": "How many columns this cell spans."
        },
        "rowSpan": {
          "description": "How many rows this cell spans.",
          "format": "int32",
          "type": "integer"
        },
        "blocks": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentDocumentLayoutDocumentLayoutBlock"
          },
          "type": "array",
          "description": "A table cell is a list of blocks. Repeated blocks support further hierarchies and nested blocks."
        }
      },
      "description": "Represents a cell in a table row.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3DocumentChunkedDocumentChunkChunkPageFooter": {
      "type": "object",
      "properties": {
        "pageSpan": {
          "description": "Page span of the footer.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentChunkedDocumentChunkChunkPageSpan"
        },
        "text": {
          "description": "Footer in text format.",
          "type": "string"
        }
      },
      "description": "Represents the page footer associated with the chunk.",
      "id": "GoogleCloudDocumentaiV1beta3DocumentChunkedDocumentChunkChunkPageFooter"
    },
    "GoogleCloudDocumentaiV1beta3ProcessorVersionGenAiModelInfoCustomGenAiModelInfo": {
      "properties": {
        "baseProcessorVersionId": {
          "type": "string",
          "description": "The base processor version ID for the custom model."
        },
        "customModelType": {
          "enumDescriptions": [
            "The model type is unspecified.",
            "The model is a versioned foundation model.",
            "The model is a finetuned foundation model."
          ],
          "enum": [
            "CUSTOM_MODEL_TYPE_UNSPECIFIED",
            "VERSIONED_FOUNDATION",
            "FINE_TUNED"
          ],
          "description": "The type of custom model created by the user.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3ProcessorVersionGenAiModelInfoCustomGenAiModelInfo",
      "description": "Information for a custom Generative AI model created by the user. These are created with `Create New Version` in either the `Call foundation model` or `Fine tuning` tabs."
    },
    "GoogleCloudDocumentaiUiv1beta3DisableProcessorResponse": {
      "id": "GoogleCloudDocumentaiUiv1beta3DisableProcessorResponse",
      "description": "Response message for the DisableProcessor method. Intentionally empty proto for adding fields in future.",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDocumentaiV1beta3DocumentSchemaEntityType": {
      "properties": {
        "baseTypes": {
          "items": {
            "type": "string"
          },
          "description": "The entity type that this type is derived from. For now, one and only one should be set.",
          "type": "array"
        },
        "enumValues": {
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentSchemaEntityTypeEnumValues",
          "description": "If specified, lists all the possible values for this entity. This should not be more than a handful of values. If the number of values is >10 or could change frequently, use the `EntityType.value_ontology` field and specify a list of all possible values in a value ontology file."
        },
        "entityTypeMetadata": {
          "description": "Metadata for the entity type.",
          "$ref": "GoogleCloudDocumentaiV1beta3EntityTypeMetadata"
        },
        "description": {
          "description": "The description of the entity type. Could be used to provide more information about the entity type for model calls.",
          "type": "string"
        },
        "displayName": {
          "description": "User defined name for the type.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of the type. It must be unique within the schema file and cannot be a \"Common Type\". The following naming conventions are used: - Use `snake_casing`. - Name matching is case-sensitive. - Maximum 64 characters. - Must start with a letter. - Allowed characters: ASCII letters `[a-z0-9_-]`. (For backward compatibility, internal infrastructure and tooling can handle any ASCII character.) - The `/` is sometimes used to denote a property of a type. For example, `line_item/amount`. This convention is deprecated, but will still be honored for backward compatibility."
        },
        "properties": {
          "description": "Description the nested structure, or composition of an entity.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentSchemaEntityTypeProperty"
          }
        }
      },
      "type": "object",
      "description": "EntityType is the wrapper of a label of the corresponding model with detailed attributes and limitations for entity-based processors. Multiple types can also compose a dependency tree to represent nested types.",
      "id": "GoogleCloudDocumentaiV1beta3DocumentSchemaEntityType"
    },
    "GoogleCloudDocumentaiUiv1beta3FieldTierMetadata": {
      "id": "GoogleCloudDocumentaiUiv1beta3FieldTierMetadata",
      "properties": {
        "tierLevel": {
          "format": "int32",
          "type": "integer",
          "description": "Integer that indicates the tier of a property. e.g. Invoice has entities that are classified as tier 1 which is the most important, while tier 2 and tier 3 less so. This attribute can be used to filter schema attributes before running eval. e.g. compute F1 score for only tier 1 entities. If not present this attribute should be inferred as 1."
        }
      },
      "description": "Metadata for the field tier of a property.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3Barcode": {
      "properties": {
        "format": {
          "description": "Format of a barcode. The supported formats are: - `CODE_128`: Code 128 type. - `CODE_39`: Code 39 type. - `CODE_93`: Code 93 type. - `CODABAR`: Codabar type. - `DATA_MATRIX`: 2D Data Matrix type. - `ITF`: ITF type. - `EAN_13`: EAN-13 type. - `EAN_8`: EAN-8 type. - `QR_CODE`: 2D QR code type. - `UPC_A`: UPC-A type. - `UPC_E`: UPC-E type. - `PDF417`: PDF417 type. - `AZTEC`: 2D Aztec code type. - `DATABAR`: GS1 DataBar code type.",
          "type": "string"
        },
        "valueFormat": {
          "type": "string",
          "description": "Value format describes the format of the value that a barcode encodes. The supported formats are: - `CONTACT_INFO`: Contact information. - `EMAIL`: Email address. - `ISBN`: ISBN identifier. - `PHONE`: Phone number. - `PRODUCT`: Product. - `SMS`: SMS message. - `TEXT`: Text string. - `URL`: URL address. - `WIFI`: Wifi information. - `GEO`: Geo-localization. - `CALENDAR_EVENT`: Calendar event. - `DRIVER_LICENSE`: Driver's license."
        },
        "rawValue": {
          "description": "Raw value encoded in the barcode. For example: `'MEBKM:TITLE:Google;URL:https://www.google.com;;'`.",
          "type": "string"
        }
      },
      "description": "Encodes the detailed information of a barcode.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3Barcode"
    },
    "GoogleCloudDocumentaiV1beta3DocumentEntity": {
      "id": "GoogleCloudDocumentaiV1beta3DocumentEntity",
      "properties": {
        "properties": {
          "description": "Optional. Entities can be nested to form a hierarchical data structure representing the content in the document.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentEntity"
          }
        },
        "id": {
          "description": "Optional. Canonical id. This will be a unique value in the entity list for this document.",
          "type": "string"
        },
        "provenance": {
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentProvenance",
          "description": "Optional. The history of this annotation."
        },
        "normalizedValue": {
          "description": "Optional. Normalized entity value. Absent if the extracted value could not be converted or the type (for example, address) is not supported for certain parsers. This field is also only populated for certain supported document types.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentEntityNormalizedValue"
        },
        "type": {
          "description": "Required. Entity type from a schema, for example, `Address`.",
          "type": "string"
        },
        "mentionId": {
          "type": "string",
          "description": "Optional. Deprecated. Use `id` field instead."
        },
        "method": {
          "enumDescriptions": [
            "When the method is not specified, it should be treated as `EXTRACT`.",
            "The entity's value is directly extracted as-is from the document text.",
            "The entity's value is derived through inference and is not necessarily an exact text extraction from the document."
          ],
          "type": "string",
          "enum": [
            "METHOD_UNSPECIFIED",
            "EXTRACT",
            "DERIVE"
          ],
          "description": "Optional. Specifies how the entity's value is obtained."
        },
        "mentionText": {
          "type": "string",
          "description": "Optional. Text value of the entity, for example, `1600 Amphitheatre Pkwy`."
        },
        "confidence": {
          "format": "float",
          "description": "Optional. Confidence of detected Schema entity. Range `[0, 1]`.",
          "type": "number"
        },
        "redacted": {
          "description": "Optional. Whether the entity will be redacted for de-identification purposes.",
          "type": "boolean"
        },
        "pageAnchor": {
          "description": "Optional. Represents the provenance of this entity wrt. the location on the page where it was found.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageAnchor"
        },
        "textAnchor": {
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentTextAnchor",
          "description": "Optional. Provenance of the entity. Text anchor indexing into the Document.text."
        }
      },
      "type": "object",
      "description": "An entity that could be a phrase in the text or a property that belongs to the document. It is a known entity type, such as a person, an organization, or location."
    },
    "CloudAiDocumentaiLabHifiaToolsValidationValidatorInput": {
      "id": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInput",
      "properties": {
        "validationRules": {
          "items": {
            "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRule"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Definition of the validation rules. Those are the input to the validator logic and they are used to validate a document. Next ID: 3"
    },
    "GoogleCloudDocumentaiV1beta3BatchDatasetDocumentsIndividualDocumentIds": {
      "properties": {
        "documentIds": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentId"
          },
          "type": "array",
          "description": "Required. List of Document IDs indicating where the actual documents are stored."
        }
      },
      "description": "List of individual DocumentIds.",
      "id": "GoogleCloudDocumentaiV1beta3BatchDatasetDocumentsIndividualDocumentIds",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3SampleDocumentsResponse": {
      "properties": {
        "selectedDocuments": {
          "type": "array",
          "description": "The result of the sampling process.",
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3SampleDocumentsResponseSelectedDocument"
          }
        },
        "sampleTestStatus": {
          "description": "The status of sampling documents in test split.",
          "$ref": "GoogleRpcStatus"
        },
        "sampleTrainingStatus": {
          "$ref": "GoogleRpcStatus",
          "description": "The status of sampling documents in training split."
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3SampleDocumentsResponse",
      "description": "Response of the sample documents operation."
    },
    "GoogleCloudDocumentaiV1beta3DocumentPageLayout": {
      "properties": {
        "textAnchor": {
          "description": "Text anchor indexing into the Document.text.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentTextAnchor"
        },
        "orientation": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified orientation.",
            "Orientation is aligned with page up.",
            "Orientation is aligned with page right. Turn the head 90 degrees clockwise from upright to read.",
            "Orientation is aligned with page down. Turn the head 180 degrees from upright to read.",
            "Orientation is aligned with page left. Turn the head 90 degrees counterclockwise from upright to read."
          ],
          "description": "Detected orientation for the Layout.",
          "enum": [
            "ORIENTATION_UNSPECIFIED",
            "PAGE_UP",
            "PAGE_RIGHT",
            "PAGE_DOWN",
            "PAGE_LEFT"
          ]
        },
        "confidence": {
          "type": "number",
          "description": "Confidence of the current Layout within context of the object this layout is for. For example, confidence can be for a single token, a table, a visual element, etc. depending on context. Range `[0, 1]`.",
          "format": "float"
        },
        "boundingPoly": {
          "description": "The bounding polygon for the Layout.",
          "$ref": "GoogleCloudDocumentaiV1beta3BoundingPoly"
        }
      },
      "description": "Visual element describing a layout unit on a page.",
      "id": "GoogleCloudDocumentaiV1beta3DocumentPageLayout",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3SetDefaultProcessorVersionRequest": {
      "properties": {
        "defaultProcessorVersion": {
          "type": "string",
          "description": "Required. The resource name of child ProcessorVersion to use as default. Format: `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{version}`"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3SetDefaultProcessorVersionRequest",
      "description": "Request message for the SetDefaultProcessorVersion method.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3ListSchemasResponse": {
      "description": "Response message for ListSchemas.",
      "properties": {
        "nextPageToken": {
          "description": "Points to the next Schema, otherwise empty.",
          "type": "string"
        },
        "schemas": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3NextSchema"
          },
          "description": "The list of Schemas."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3ListSchemasResponse",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3EnableProcessorResponse": {
      "type": "object",
      "properties": {},
      "description": "Response message for the EnableProcessor method. Intentionally empty proto for adding fields in future.",
      "id": "GoogleCloudDocumentaiV1beta3EnableProcessorResponse"
    },
    "GoogleCloudDocumentaiUiv1beta3UndeployProcessorVersionMetadata": {
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3UndeployProcessorVersionMetadata",
      "description": "The long-running operation metadata for the UndeployProcessorVersion method.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3ListSchemaVersionsResponse": {
      "type": "object",
      "description": "Response message for ListSchemaVersions.",
      "id": "GoogleCloudDocumentaiV1beta3ListSchemaVersionsResponse",
      "properties": {
        "schemaVersions": {
          "type": "array",
          "description": "The list of SchemaVersions.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3SchemaVersion"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Points to the next SchemaVersion, otherwise empty."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3DocumentPageImage": {
      "properties": {
        "content": {
          "type": "string",
          "format": "byte",
          "description": "Raw byte content of the image."
        },
        "mimeType": {
          "type": "string",
          "description": "Encoding [media type (MIME type)](https://www.iana.org/assignments/media-types/media-types.xhtml) for the image."
        },
        "height": {
          "description": "Height of the image in pixels.",
          "format": "int32",
          "type": "integer"
        },
        "width": {
          "type": "integer",
          "description": "Width of the image in pixels.",
          "format": "int32"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DocumentPageImage",
      "description": "Rendered image contents for this page.",
      "type": "object"
    },
    "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleFormValidationOperation": {
      "type": "object",
      "properties": {
        "operationType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "OPERATION_TYPE_SUM",
            "OPERATION_TYPE_SUB",
            "OPERATION_TYPE_MUL",
            "OPERATION_TYPE_DIV",
            "OPERATION_TYPE_MAX",
            "OPERATION_TYPE_MIN",
            "OPERATION_TYPE_ABS",
            "OPERATION_TYPE_UNIQUE",
            "OPERATION_TYPE_COUNT"
          ],
          "description": "The operation type to be applied to all the operands."
        },
        "fields": {
          "type": "array",
          "description": "A list of fields to be used as operands.",
          "items": {
            "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleField"
          }
        },
        "operations": {
          "description": "A list of recursive operations to be used as operands.",
          "items": {
            "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleFormValidationOperation"
          },
          "type": "array"
        },
        "constants": {
          "type": "array",
          "description": "A list of constants to be used as operands.",
          "items": {
            "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleConstant"
          }
        }
      },
      "id": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleFormValidationOperation"
    },
    "GoogleCloudDocumentaiUiv1beta3ProcessorVersionDeprecationInfo": {
      "id": "GoogleCloudDocumentaiUiv1beta3ProcessorVersionDeprecationInfo",
      "properties": {
        "deprecationTime": {
          "type": "string",
          "description": "The time at which this processor version will be deprecated.",
          "format": "google-datetime"
        },
        "replacementProcessorVersion": {
          "description": "If set, the processor version that will be used as a replacement.",
          "type": "string"
        }
      },
      "description": "Information about the upcoming deprecation of this processor version.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3GenerateSchemaVersionResponse": {
      "type": "object",
      "description": "Response message for GenerateSchemaVersion.",
      "id": "GoogleCloudDocumentaiV1beta3GenerateSchemaVersionResponse",
      "properties": {
        "schemaVersion": {
          "$ref": "GoogleCloudDocumentaiV1beta3SchemaVersion",
          "description": "The schema version generated by the model."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3DocumentId": {
      "properties": {
        "revisionRef": {
          "$ref": "GoogleCloudDocumentaiV1beta3RevisionRef",
          "description": "Points to a specific revision of the document if set."
        },
        "unmanagedDocId": {
          "description": "A document ID within unmanaged dataset.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentIdUnmanagedDocumentId"
        },
        "gcsManagedDocId": {
          "description": "A document ID within user-managed Cloud Storage.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentIdGCSManagedDocumentId"
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3DocumentId",
      "description": "Document Identifier."
    },
    "GoogleCloudDocumentaiV1beta3ProcessOptionsIndividualPageSelector": {
      "description": "A list of individual page numbers.",
      "id": "GoogleCloudDocumentaiV1beta3ProcessOptionsIndividualPageSelector",
      "type": "object",
      "properties": {
        "pages": {
          "description": "Optional. Indices of the pages (starting from 1).",
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3SampleDocumentsResponseSelectedDocument": {
      "properties": {
        "documentId": {
          "type": "string",
          "description": "An internal identifier for document."
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3SampleDocumentsResponseSelectedDocument",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3GetDocumentResponse": {
      "properties": {
        "document": {
          "$ref": "GoogleCloudDocumentaiV1beta3Document"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3GetDocumentResponse",
      "type": "object"
    },
    "GoogleLongrunningOperation": {
      "type": "object",
      "properties": {
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        }
      },
      "id": "GoogleLongrunningOperation",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "GoogleCloudDocumentaiV1DeployProcessorVersionMetadata": {
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1CommonOperationMetadata"
        }
      },
      "description": "The long-running operation metadata for the DeployProcessorVersion method.",
      "id": "GoogleCloudDocumentaiV1DeployProcessorVersionMetadata",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1BatchProcessResponse": {
      "properties": {},
      "id": "GoogleCloudDocumentaiV1BatchProcessResponse",
      "description": "Response message for BatchProcessDocuments.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3TrainProcessorVersionMetadataDatasetValidation": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3TrainProcessorVersionMetadataDatasetValidation",
      "properties": {
        "documentErrorCount": {
          "type": "integer",
          "description": "The total number of document errors.",
          "format": "int32"
        },
        "datasetErrorCount": {
          "description": "The total number of dataset errors.",
          "format": "int32",
          "type": "integer"
        },
        "datasetErrors": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "Error information for the dataset as a whole. A maximum of 10 dataset errors will be returned. A single dataset error is terminal for training.",
          "type": "array"
        },
        "documentErrors": {
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "Error information pertaining to specific documents. A maximum of 10 document errors will be returned. Any document with errors will not be used throughout training."
        }
      },
      "description": "The dataset validation information. This includes any and all errors with documents and the dataset."
    },
    "GoogleCloudDocumentaiUiv1beta3EvaluationMetrics": {
      "properties": {
        "groundTruthOccurrencesCount": {
          "format": "int32",
          "type": "integer",
          "description": "The amount of occurrences in ground truth documents."
        },
        "totalDocumentsCount": {
          "type": "integer",
          "description": "The amount of documents that had an occurrence of this label.",
          "format": "int32"
        },
        "recall": {
          "format": "float",
          "description": "The calculated recall.",
          "type": "number"
        },
        "predictedOccurrencesCount": {
          "type": "integer",
          "description": "The amount of occurrences in predicted documents.",
          "format": "int32"
        },
        "predictedDocumentCount": {
          "format": "int32",
          "description": "The amount of documents with a predicted occurrence.",
          "type": "integer"
        },
        "falseNegativesCount": {
          "description": "The amount of false negatives.",
          "type": "integer",
          "format": "int32"
        },
        "f1Score": {
          "type": "number",
          "description": "The calculated F1 score.",
          "format": "float"
        },
        "truePositivesCount": {
          "type": "integer",
          "format": "int32",
          "description": "The amount of true positives."
        },
        "falsePositivesCount": {
          "format": "int32",
          "type": "integer",
          "description": "The amount of false positives."
        },
        "precision": {
          "description": "The calculated precision.",
          "format": "float",
          "type": "number"
        },
        "groundTruthDocumentCount": {
          "description": "The amount of documents with a ground truth occurrence.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Evaluation metrics, either in aggregate or about a specific entity.",
      "id": "GoogleCloudDocumentaiUiv1beta3EvaluationMetrics",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3SummaryOptions": {
      "type": "object",
      "properties": {
        "format": {
          "enumDescriptions": [
            "Default.",
            "Format the output in paragraphs.",
            "Format the output in bullets."
          ],
          "type": "string",
          "description": "The format the summary should be in.",
          "enum": [
            "FORMAT_UNSPECIFIED",
            "PARAGRAPH",
            "BULLETS"
          ]
        },
        "length": {
          "type": "string",
          "description": "How long the summary should be.",
          "enumDescriptions": [
            "Default.",
            "A brief summary of one or two sentences.",
            "A paragraph-length summary.",
            "The longest option available."
          ],
          "enum": [
            "LENGTH_UNSPECIFIED",
            "BRIEF",
            "MODERATE",
            "COMPREHENSIVE"
          ]
        }
      },
      "description": "Metadata for document summarization.",
      "id": "GoogleCloudDocumentaiV1beta3SummaryOptions"
    },
    "GoogleCloudDocumentaiV1beta3RawDocument": {
      "type": "object",
      "properties": {
        "mimeType": {
          "description": "An IANA MIME type (RFC6838) indicating the nature and format of the content.",
          "type": "string"
        },
        "content": {
          "description": "Inline document content.",
          "format": "byte",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the document, it supports all Unicode characters except the following: `*`, `?`, `[`, `]`, `%`, `{`, `}`,`'`, `\\\"`, `,` `~`, `=` and `:` are reserved. If not specified, a default ID is generated."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3RawDocument",
      "description": "Payload message of raw document content (bytes)."
    },
    "GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadata": {
      "description": "Metadata of the batch export documents operation.",
      "id": "GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadata",
      "type": "object",
      "properties": {
        "individualExportStatuses": {
          "type": "array",
          "description": "The list of response details of each document.",
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadataIndividualExportStatus"
          }
        },
        "splitExportStats": {
          "description": "The list of statistics for each dataset split type.",
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadataSplitExportStat"
          },
          "type": "array"
        },
        "commonMetadata": {
[...]
