{
  "revision": "20260929",
  "version": "v1beta3",
  "documentationLink": "https://cloud.google.com/document-ai/docs/",
  "name": "documentai",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "mtlsRootUrl": "https://documentai.mtls.googleapis.com/",
  "description": "Service to parse structured information from unstructured or semi-structured documents using state-of-the-art Google AI such as natural language, computer vision, translation, and AutoML.",
  "discoveryVersion": "v1",
  "rootUrl": "https://documentai.googleapis.com/",
  "title": "Cloud Document AI API",
  "ownerName": "Google",
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "batchPath": "batch",
  "canonicalName": "Document",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "processorTypes": {
              "methods": {
                "list": {
                  "description": "Lists the processor types that exist.",
                  "response": {
                    "$ref": "GoogleCloudDocumentaiV1beta3ListProcessorTypesResponse"
                  },
                  "id": "documentai.projects.locations.processorTypes.list",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Used to retrieve the next page of results, empty if at the end of the list."
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. The location of processor types to list. Format: `projects/{project}/locations/{location}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "The maximum number of processor types to return. If unspecified, at most `100` processor types will be returned. The maximum value is `500`. Values above `500` will be coerced to `500`.",
                      "format": "int32"
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1beta3/{+parent}/processorTypes",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processorTypes"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processorTypes/{processorTypesId}",
                  "description": "Gets a processor type detail.",
                  "parameters": {
                    "name": {
                      "description": "Required. The processor type resource name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/processorTypes/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDocumentaiV1beta3ProcessorType"
                  },
                  "id": "documentai.projects.locations.processorTypes.get",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta3/{+name}"
                }
              }
            },
            "operations": {
              "methods": {
                "get": {
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "id": "documentai.projects.locations.operations.get",
                  "httpMethod": "GET",
                  "path": "v1beta3/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "The name of the operation resource.",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}"
                },
                "list": {
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "path": "v1beta3/{+name}",
                  "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/operations",
                  "id": "documentai.projects.locations.operations.list",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "The standard list page token.",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "The standard list page size.",
                      "location": "query",
                      "format": "int32"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations$",
                      "location": "path",
                      "description": "The name of the operation's parent resource.",
                      "required": true,
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list filter."
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "cancel": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "id": "documentai.projects.locations.operations.cancel",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "path": "v1beta3/{+name}:cancel",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "processors": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDocumentaiV1beta3Processor"
                  },
                  "id": "documentai.projects.locations.processors.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta3/{+name}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The processor resource name.",
                      "required": true
                    }
                  },
                  "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}",
                  "description": "Gets a processor detail."
                },
                "enable": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Enables a processor",
                  "id": "documentai.projects.locations.processors.enable",
                  "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}:enable",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "path": "v1beta3/{+name}:enable",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+$",
                      "type": "string",
                      "description": "Required. The processor resource name to be enabled."
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudDocumentaiV1beta3EnableProcessorRequest"
                  }
                },
                "create": {
                  "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors",
                  "path": "v1beta3/{+parent}/processors",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The parent (project and location) under which to create the processor. Format: `projects/{project}/locations/{location}`",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDocumentaiV1beta3Processor"
                  },
                  "response": {
                    "$ref": "GoogleCloudDocumentaiV1beta3Processor"
                  },
                  "description": "Creates a processor from the ProcessorType provided. The processor will be at `ENABLED` state by default after its creation. Note that this method requires the `documentai.processors.create` permission on the project, which is highly privileged. A user or service account with this permission can create new processors that can interact with any gcs bucket in your project.",
                  "id": "documentai.projects.locations.processors.create"
                },
                "batchProcess": {
                  "description": "LRO endpoint to batch process many documents. The output is written to Cloud Storage as JSON in the [Document] format.",
                  "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}:batchProcess",
                  "request": {
                    "$ref": "GoogleCloudDocumentaiV1beta3BatchProcessRequest"
                  },
                  "id": "documentai.projects.locations.processors.batchProcess",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta3/{+name}:batchProcess",
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of Processor or ProcessorVersion. Format: `projects/{project}/locations/{location}/processors/{processor}`, or `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST"
                },
                "list": {
                  "id": "documentai.projects.locations.processors.list",
                  "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "The maximum number of processors to return. If unspecified, at most `50` processors will be returned. The maximum value is `100`. Values above `100` will be coerced to `100`."
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent (project and location) which owns this collection of Processors. Format: `projects/{project}/locations/{location}`"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "We will return the processors sorted by creation time. The page token will point to the next processor."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists all processors which belong to this project.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1beta3/{+parent}/processors",
                  "response": {
                    "$ref": "GoogleCloudDocumentaiV1beta3ListProcessorsResponse"
                  }
                },
                "disable": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "documentai.projects.locations.processors.disable",
                  "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}:disable",
                  "parameters": {
                    "name": {
                      "description": "Required. The processor resource name to be disabled.",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudDocumentaiV1beta3DisableProcessorRequest"
                  },
                  "description": "Disables a processor",
                  "path": "v1beta3/{+name}:disable"
                },
                "setDefaultProcessorVersion": {
                  "request": {
                    "$ref": "GoogleCloudDocumentaiV1beta3SetDefaultProcessorVersionRequest"
                  },
                  "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}:setDefaultProcessorVersion",
                  "httpMethod": "POST",
                  "id": "documentai.projects.locations.processors.setDefaultProcessorVersion",
                  "description": "Set the default (active) version of a Processor that will be used in ProcessDocument and BatchProcessDocuments.",
                  "parameters": {
                    "processor": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The resource name of the Processor to change default version."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "processor"
                  ],
                  "path": "v1beta3/{+processor}:setDefaultProcessorVersion",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  }
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes the processor, unloads all deployed model artifacts if it was enabled and then deletes all artifacts associated with this processor.",
                  "id": "documentai.projects.locations.processors.delete",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "httpMethod": "DELETE",
                  "path": "v1beta3/{+name}",
                  "parameters": {
                    "name": {
                      "description": "Required. The processor resource name to be deleted.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+$",
                      "required": true
                    }
                  },
                  "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "updateDataset": {
                  "path": "v1beta3/{+name}",
                  "id": "documentai.projects.locations.processors.updateDataset",
                  "request": {
                    "$ref": "GoogleCloudDocumentaiV1beta3Dataset"
                  },
                  "description": "Updates metadata associated with a dataset. Note that this method requires the `documentai.googleapis.com/datasets.update` permission on the project, which is highly privileged. A user or service account with this permission can create new processors that can interact with any gcs bucket in your project.",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "description": "The update mask applies to the resource.",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/dataset$",
                      "type": "string",
                      "location": "path",
                      "description": "Dataset resource name. Format: `projects/{project}/locations/{location}/processors/{processor}/dataset`",
                      "required": true
                    }
                  },
                  "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/dataset"
                },
                "process": {
                  "id": "documentai.projects.locations.processors.process",
                  "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}:process",
                  "request": {
                    "$ref": "GoogleCloudDocumentaiV1beta3ProcessRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the Processor or ProcessorVersion to use for processing. If a Processor is specified, the server will use its default version. Format: `projects/{project}/locations/{location}/processors/{processor}`, or `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}`",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+$"
                    }
                  },
                  "httpMethod": "POST",
                  "path": "v1beta3/{+name}:process",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Processes a single document.",
                  "response": {
                    "$ref": "GoogleCloudDocumentaiV1beta3ProcessResponse"
                  }
                }
              },
              "resources": {
                "dataset": {
                  "methods": {
                    "getDocument": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta3/{+dataset}:getDocument",
                      "httpMethod": "GET",
                      "parameters": {
                        "documentId.revisionRef.latestProcessorVersion": {
                          "description": "Reads the revision generated by the processor version. The format takes the full resource name of processor version. `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}`",
                          "location": "query",
                          "type": "string"
                        },
                        "pageRange.start": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32",
                          "description": "First page number (one-based index) to be returned."
                        },
                        "pageRange.end": {
                          "type": "integer",
                          "location": "query",
                          "description": "Last page number (one-based index) to be returned.",
                          "format": "int32"
                        },
                        "documentId.revisionRef.revisionCase": {
                          "enum": [
                            "REVISION_CASE_UNSPECIFIED",
                            "LATEST_HUMAN_REVIEW",
                            "LATEST_TIMESTAMP",
                            "BASE_OCR_REVISION"
                          ],
                          "location": "query",
                          "enumDescriptions": [
                            "Unspecified case, fall back to read the `LATEST_HUMAN_REVIEW`.",
                            "The latest revision made by a human.",
                            "The latest revision based on timestamp.",
                            "The first (OCR) revision."
                          ],
                          "description": "Reads the revision by the predefined case.",
                          "type": "string"
                        },
                        "dataset": {
                          "description": "Required. The resource name of the dataset that the document belongs to . Format: projects/{project}/locations/{location}/processors/{processor}/dataset",
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/dataset$",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "documentId.revisionRef.revisionId": {
                          "location": "query",
                          "description": "Reads the revision given by the id.",
                          "type": "string"
                        },
                        "readMask": {
                          "format": "google-fieldmask",
                          "location": "query",
                          "description": "If set, only fields listed here will be returned. Otherwise, all fields will be returned by default.",
                          "type": "string"
                        },
                        "documentId.unmanagedDocId.docId": {
                          "location": "query",
                          "type": "string",
                          "description": "Required. The ID of the document."
                        },
                        "documentId.gcsManagedDocId.gcsUri": {
                          "type": "string",
                          "description": "Required. The Cloud Storage URI where the actual document is stored.",
                          "location": "query"
                        },
                        "documentId.gcsManagedDocId.cwDocId": {
                          "type": "string",
                          "location": "query",
                          "deprecated": true,
                          "description": "ID of the document (indexed) managed by Content Warehouse."
                        }
                      },
                      "parameterOrder": [
                        "dataset"
                      ],
                      "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/dataset:getDocument",
                      "id": "documentai.projects.locations.processors.dataset.getDocument",
                      "response": {
                        "$ref": "GoogleCloudDocumentaiV1beta3GetDocumentResponse"
                      },
                      "description": "Returns relevant fields present in the requested document."
                    },
                    "importDocuments": {
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "description": "Import documents into a dataset.",
                      "path": "v1beta3/{+dataset}:importDocuments",
                      "id": "documentai.projects.locations.processors.dataset.importDocuments",
                      "httpMethod": "POST",
                      "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/dataset:importDocuments",
                      "parameters": {
                        "dataset": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/dataset$",
                          "description": "Required. The dataset resource name. Format: projects/{project}/locations/{location}/processors/{processor}/dataset",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudDocumentaiV1beta3ImportDocumentsRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "dataset"
                      ]
                    },
                    "getDatasetSchema": {
                      "id": "documentai.projects.locations.processors.dataset.getDatasetSchema",
                      "description": "Gets the `DatasetSchema` of a `Dataset`.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/dataset/datasetSchema",
                      "parameters": {
                        "visibleFieldsOnly": {
                          "location": "query",
                          "type": "boolean",
                          "description": "If set, only returns the visible fields of the schema."
                        },
                        "name": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/dataset/datasetSchema$",
                          "location": "path",
                          "description": "Required. The dataset schema resource name. Format: projects/{project}/locations/{location}/processors/{processor}/dataset/datasetSchema"
                        }
                      },
                      "httpMethod": "GET",
                      "path": "v1beta3/{+name}",
                      "response": {
                        "$ref": "GoogleCloudDocumentaiV1beta3DatasetSchema"
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "batchDeleteDocuments": {
                      "path": "v1beta3/{+dataset}:batchDeleteDocuments",
                      "httpMethod": "POST",
                      "parameters": {
                        "dataset": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/dataset$",
                          "type": "string",
                          "location": "path",
                          "description": "Required. The dataset resource name. Format: projects/{project}/locations/{location}/processors/{processor}/dataset",
                          "required": true
                        }
                      },
                      "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/dataset:batchDeleteDocuments",
                      "id": "documentai.projects.locations.processors.dataset.batchDeleteDocuments",
                      "description": "Deletes a set of documents.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "dataset"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "request": {
                        "$ref": "GoogleCloudDocumentaiV1beta3BatchDeleteDocumentsRequest"
                      }
                    },
                    "updateDatasetSchema": {
                      "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/dataset/datasetSchema",
                      "id": "documentai.projects.locations.processors.dataset.updateDatasetSchema",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta3/{+name}",
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/dataset/datasetSchema$",
                          "description": "Dataset schema resource name. Format: `projects/{project}/locations/{location}/processors/{processor}/dataset/datasetSchema`"
                        },
                        "updateMask": {
                          "format": "google-fieldmask",
                          "description": "The update mask applies to the resource.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "description": "Updates a `DatasetSchema`.",
                      "httpMethod": "PATCH",
                      "request": {
                        "$ref": "GoogleCloudDocumentaiV1beta3DatasetSchema"
                      },
                      "response": {
                        "$ref": "GoogleCloudDocumentaiV1beta3DatasetSchema"
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "listDocuments": {
                      "request": {
                        "$ref": "GoogleCloudDocumentaiV1beta3ListDocumentsRequest"
                      },
                      "path": "v1beta3/{+dataset}:listDocuments",
                      "parameterOrder": [
                        "dataset"
                      ],
                      "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/dataset:listDocuments",
                      "id": "documentai.projects.locations.processors.dataset.listDocuments",
                      "description": "Returns a list of documents present in the dataset.",
                      "parameters": {
                        "dataset": {
                          "description": "Required. The resource name of the dataset to be listed. Format: projects/{project}/locations/{location}/processors/{processor}/dataset",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/dataset$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "GoogleCloudDocumentaiV1beta3ListDocumentsResponse"
                      }
                    }
                  }
                },
                "humanReviewConfig": {
                  "methods": {
                    "reviewDocument": {
                      "request": {
                        "$ref": "GoogleCloudDocumentaiV1beta3ReviewDocumentRequest"
                      },
                      "description": "Send a document for Human Review. The input document should be processed by the specified processor.",
                      "parameterOrder": [
                        "humanReviewConfig"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "id": "documentai.projects.locations.processors.humanReviewConfig.reviewDocument",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "humanReviewConfig": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/humanReviewConfig$",
                          "location": "path",
                          "description": "Required. The resource name of the HumanReviewConfig that the document will be reviewed with.",
                          "required": true
                        }
                      },
                      "path": "v1beta3/{+humanReviewConfig}:reviewDocument",
                      "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/humanReviewConfig:reviewDocument",
                      "deprecated": true
                    }
                  },
                  "deprecated": true
                },
                "processorVersions": {
                  "methods": {
                    "list": {
                      "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists all versions of a processor.",
                      "path": "v1beta3/{+parent}/processorVersions",
                      "response": {
                        "$ref": "GoogleCloudDocumentaiV1beta3ListProcessorVersionsResponse"
                      },
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "Required. The parent (project, location and processor) to list all versions. Format: `projects/{project}/locations/{location}/processors/{processor}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+$"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "We will return the processor versions sorted by creation time. The page token will point to the next processor version."
                        },
                        "pageSize": {
                          "description": "The maximum number of processor versions to return. If unspecified, at most `10` processor versions will be returned. The maximum value is `20`. Values above `20` will be coerced to `20`.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        }
                      },
                      "httpMethod": "GET",
                      "id": "documentai.projects.locations.processors.processorVersions.list"
                    },
                    "process": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDocumentaiV1beta3ProcessResponse"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Processes a single document.",
                      "path": "v1beta3/{+name}:process",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/processorVersions/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The resource name of the Processor or ProcessorVersion to use for processing. If a Processor is specified, the server will use its default version. Format: `projects/{project}/locations/{location}/processors/{processor}`, or `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}`"
                        }
                      },
                      "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions/{processorVersionsId}:process",
                      "httpMethod": "POST",
                      "id": "documentai.projects.locations.processors.processorVersions.process",
                      "request": {
                        "$ref": "GoogleCloudDocumentaiV1beta3ProcessRequest"
                      }
                    },
                    "importProcessorVersion": {
                      "request": {
                        "$ref": "GoogleCloudDocumentaiV1beta3ImportProcessorVersionRequest"
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "id": "documentai.projects.locations.processors.processorVersions.importProcessorVersion",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta3/{+parent}/processorVersions:importProcessorVersion",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "description": "Required. The destination processor name to create the processor version in. Format: `projects/{project}/locations/{location}/processors/{processor}`",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+$",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Imports a processor version from source processor version.",
                      "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions:importProcessorVersion"
                    },
                    "delete": {
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta3/{+name}",
                      "description": "Deletes the processor version, all artifacts under the processor version will be deleted.",
                      "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions/{processorVersionsId}",
                      "id": "documentai.projects.locations.processors.processorVersions.delete",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. The processor version resource name to be deleted.",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/processorVersions/[^/]+$"
                        }
                      }
                    },
                    "undeploy": {
                      "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions/{processorVersionsId}:undeploy",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/processorVersions/[^/]+$",
                          "description": "Required. The processor version resource name to be undeployed."
                        }
                      },
                      "path": "v1beta3/{+name}:undeploy",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "id": "documentai.projects.locations.processors.processorVersions.undeploy",
                      "request": {
                        "$ref": "GoogleCloudDocumentaiV1beta3UndeployProcessorVersionRequest"
                      },
                      "description": "Undeploys the processor version."
                    },
                    "evaluateProcessorVersion": {
                      "path": "v1beta3/{+processorVersion}:evaluateProcessorVersion",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "documentai.projects.locations.processors.processorVersions.evaluateProcessorVersion",
                      "parameterOrder": [
                        "processorVersion"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameters": {
                        "processorVersion": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Required. The resource name of the ProcessorVersion to evaluate. `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/processorVersions/[^/]+$"
                        }
                      },
                      "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions/{processorVersionsId}:evaluateProcessorVersion",
                      "request": {
                        "$ref": "GoogleCloudDocumentaiV1beta3EvaluateProcessorVersionRequest"
                      },
                      "httpMethod": "POST",
                      "description": "Evaluates a ProcessorVersion against annotated documents, producing an Evaluation."
                    },
                    "get": {
                      "response": {
                        "$ref": "GoogleCloudDocumentaiV1beta3ProcessorVersion"
                      },
                      "id": "documentai.projects.locations.processors.processorVersions.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions/{processorVersionsId}",
                      "path": "v1beta3/{+name}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. The processor resource name.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/processorVersions/[^/]+$",
                          "location": "path"
                        }
                      },
                      "description": "Gets a processor version detail.",
                      "httpMethod": "GET"
                    },
                    "train": {
                      "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions:train",
                      "id": "documentai.projects.locations.processors.processorVersions.train",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta3/{+parent}/processorVersions:train",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "Required. The parent (project, location and processor) to create the new version for. Format: `projects/{project}/locations/{location}/processors/{processor}`."
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudDocumentaiV1beta3TrainProcessorVersionRequest"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "httpMethod": "POST",
                      "description": "Trains a new processor version. Operation metadata is returned as TrainProcessorVersionMetadata."
                    },
                    "deploy": {
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "description": "Deploys the processor version.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "documentai.projects.locations.processors.processorVersions.deploy",
                      "path": "v1beta3/{+name}:deploy",
                      "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions/{processorVersionsId}:deploy",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudDocumentaiV1beta3DeployProcessorVersionRequest"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/processorVersions/[^/]+$",
                          "required": true,
                          "description": "Required. The processor version resource name to be deployed.",
                          "type": "string"
                        }
                      }
                    },
                    "batchProcess": {
                      "request": {
                        "$ref": "GoogleCloudDocumentaiV1beta3BatchProcessRequest"
                      },
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/processorVersions/[^/]+$",
                          "description": "Required. The resource name of Processor or ProcessorVersion. Format: `projects/{project}/locations/{location}/processors/{processor}`, or `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}`"
                        }
                      },
                      "description": "LRO endpoint to batch process many documents. The output is written to Cloud Storage as JSON in the [Document] format.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta3/{+name}:batchProcess",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "documentai.projects.locations.processors.processorVersions.batchProcess",
                      "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions/{processorVersionsId}:batchProcess"
                    }
                  },
                  "resources": {
                    "evaluations": {
                      "methods": {
                        "get": {
                          "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions/{processorVersionsId}/evaluations/{evaluationsId}",
                          "path": "v1beta3/{+name}",
                          "description": "Retrieves a specific evaluation.",
                          "id": "documentai.projects.locations.processors.processorVersions.evaluations.get",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "GoogleCloudDocumentaiV1beta3Evaluation"
                          },
                          "httpMethod": "GET",
                          "parameters": {
                            "name": {
                              "description": "Required. The resource name of the Evaluation to get. `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}/evaluations/{evaluation}`",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/processorVersions/[^/]+/evaluations/[^/]+$",
                              "type": "string"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ]
                        },
                        "list": {
                          "description": "Retrieves a set of evaluations for a given processor version.",
                          "id": "documentai.projects.locations.processors.processorVersions.evaluations.list",
                          "parameters": {
                            "pageSize": {
                              "description": "The standard list page size. If unspecified, at most `5` evaluations are returned. The maximum value is `100`. Values above `100` are coerced to `100`.",
                              "location": "query",
                              "type": "integer",
                              "format": "int32"
                            },
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/processorVersions/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "description": "Required. The resource name of the ProcessorVersion to list evaluations for. `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}`"
                            },
                            "pageToken": {
                              "description": "A page token, received from a previous `ListEvaluations` call. Provide this to retrieve the subsequent page.",
                              "type": "string",
                              "location": "query"
                            }
                          },
                          "response": {
                            "$ref": "GoogleCloudDocumentaiV1beta3ListEvaluationsResponse"
                          },
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions/{processorVersionsId}/evaluations",
                          "path": "v1beta3/{+parent}/evaluations",
                          "parameterOrder": [
                            "parent"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            },
            "schemas": {
              "methods": {
                "delete": {
                  "httpMethod": "DELETE",
                  "path": "v1beta3/{+name}",
                  "parameters": {
                    "force": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. If set to true, any child resources of this Schema will also be deleted. (Otherwise, the request will only work if the Schema has no child resources.)"
                    },
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/schemas/[^/]+$",
                      "description": "Required. The name of the Schema to be deleted. Format: `projects/{project}/locations/{location}/schemas/{schema}`"
                    }
                  },
                  "description": "Deletes a schema.",
                  "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/schemas/{schemasId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "documentai.projects.locations.schemas.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  }
                },
                "list": {
                  "path": "v1beta3/{+parent}/schemas",
                  "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/schemas",
                  "description": "Lists Schemas.",
                  "response": {
                    "$ref": "GoogleCloudDocumentaiV1beta3ListSchemasResponse"
                  },
                  "id": "documentai.projects.locations.schemas.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. Format: `projects/{project}/locations/{location}`",
                      "type": "string",
                      "required": true
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. The maximum number of schema groups to return. If unspecified, at most `10` Schema will be returned. The maximum value is `20`. Values above `20` will be coerced to `20`.",
                      "type": "integer",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Returns the schema groups sorted by creation time. The page token will point to the next Schema."
                    }
                  }
                },
                "create": {
                  "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/schemas",
                  "id": "documentai.projects.locations.schemas.create",
                  "httpMethod": "POST",
                  "path": "v1beta3/{+parent}/schemas",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDocumentaiV1beta3NextSchema"
                  },
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The parent (project and location) under which to create the Schema. Format: `projects/{project}/locations/{location}`",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDocumentaiV1beta3NextSchema"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a schema."
                },
                "patch": {
                  "path": "v1beta3/{+name}",
                  "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/schemas/{schemasId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDocumentaiV1beta3NextSchema"
                  },
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "description": "Optional. The update mask to apply to the resource. **Note:** Only the following fields can be updated: - `display_name` - `labels`",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/schemas/[^/]+$",
                      "description": "Identifier. The resource name of the Schema. Format: `projects/{project}/locations/{location}/schemas/{schema}`",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDocumentaiV1beta3NextSchema"
                  },
                  "httpMethod": "PATCH",
                  "description": "Updates a schema. Editable fields are: - `display_name` - `labels`",
                  "id": "documentai.projects.locations.schemas.patch"
                },
                "get": {
                  "response": {
                    "$ref": "GoogleCloudDocumentaiV1beta3NextSchema"
                  },
                  "id": "documentai.projects.locations.schemas.get",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the Schema to get. Format: `projects/{project}/locations/{location}/schemas/{schema}`",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/schemas/[^/]+$"
                    }
                  },
                  "path": "v1beta3/{+name}",
                  "description": "Gets a schema.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/schemas/{schemasId}"
                }
              },
              "resources": {
                "schemaVersions": {
                  "methods": {
                    "get": {
                      "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/schemas/{schemasId}/schemaVersions/{schemaVersionsId}",
                      "path": "v1beta3/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDocumentaiV1beta3SchemaVersion"
                      },
                      "id": "documentai.projects.locations.schemas.schemaVersions.get",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Gets a schema version.",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the SchemaVersion to get. Format: `projects/{project}/locations/{location}/schemas/{schema}/schemaVersions/{schema_version}`",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/schemas/[^/]+/schemaVersions/[^/]+$",
                          "type": "string"
                        }
                      }
                    },
                    "create": {
                      "path": "v1beta3/{+parent}/schemaVersions",
                      "id": "documentai.projects.locations.schemas.schemaVersions.create",
                      "description": "Creates a schema version.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDocumentaiV1beta3SchemaVersion"
                      },
                      "parameters": {
                        "parent": {
                          "required": true,
                          "location": "path",
                          "description": "Required. The parent (project and location) under which to create the SchemaVersion. Format: `projects/{project}/locations/{location}/schemas/{schema}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/schemas/[^/]+$",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/schemas/{schemasId}/schemaVersions",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDocumentaiV1beta3SchemaVersion"
                      }
                    },
                    "patch": {
                      "httpMethod": "PATCH",
                      "id": "documentai.projects.locations.schemas.schemaVersions.patch",
                      "path": "v1beta3/{+name}",
                      "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/schemas/{schemasId}/schemaVersions/{schemaVersionsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "description": "Identifier. The resource name of the SchemaVersion. Format: `projects/{project}/locations/{location}/schemas/{schema}/schemaVersions/{schema_version}`",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/schemas/[^/]+/schemaVersions/[^/]+$",
                          "required": true
                        },
                        "updateMask": {
                          "description": "Optional. The update mask to apply to the resource. **Note:** Only the following fields can be updated: - `display_name` - `labels`",
                          "format": "google-fieldmask",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "description": "Updates a schema version. Editable fields are: - `display_name` - `labels`",
                      "request": {
                        "$ref": "GoogleCloudDocumentaiV1beta3SchemaVersion"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDocumentaiV1beta3SchemaVersion"
                      }
                    },
                    "delete": {
                      "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/schemas/{schemasId}/schemaVersions/{schemaVersionsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the SchemaVersion to delete. Format: `projects/{project}/locations/{location}/schemas/{schema}/schemaVersions/{schema_version}`",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/schemas/[^/]+/schemaVersions/[^/]+$"
                        }
                      },
                      "description": "Deletes a schema version.",
                      "id": "documentai.projects.locations.schemas.schemaVersions.delete",
                      "path": "v1beta3/{+name}"
                    },
                    "generate": {
                      "description": "Generates a schema version.",
                      "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/schemas/{schemasId}/schemaVersions:generate",
                      "request": {
                        "$ref": "GoogleCloudDocumentaiV1beta3GenerateSchemaVersionRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta3/{+parent}/schemaVersions:generate",
                      "id": "documentai.projects.locations.schemas.schemaVersions.generate",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDocumentaiV1beta3GenerateSchemaVersionResponse"
                      },
                      "parameters": {
                        "parent": {
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/schemas/[^/]+$",
                          "type": "string",
                          "description": "Required. The parent (project, location and schema) under which to generate the SchemaVersion. Format: `projects/{project}/locations/{location}/schemas/{schema}`"
                        }
                      },
                      "httpMethod": "POST"
                    },
                    "list": {
                      "path": "v1beta3/{+parent}/schemaVersions",
                      "id": "documentai.projects.locations.schemas.schemaVersions.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/schemas/{schemasId}/schemaVersions",
                      "description": "Lists SchemaVersions.",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "description": "Required. Format: `projects/{project}/locations/{location}/schemas/{schema}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/schemas/[^/]+$",
                          "location": "path",
                          "required": true
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. Returns the SchemaVersion sorted by creation time. The page token will point to the next SchemaVersion.",
                          "location": "query"
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "description": "Optional. The maximum number of SchemaVersion to return. If unspecified, at most `10` SchemaVersion will be returned. The maximum value is `20`. Values above `20` will be coerced to `20`.",
                          "format": "int32"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDocumentaiV1beta3ListSchemaVersionsResponse"
                      }
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "fetchProcessorTypes": {
              "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}:fetchProcessorTypes",
              "description": "Fetches processor types. Note that we don't use ListProcessorTypes here, because it isn't paginated.",
              "path": "v1beta3/{+parent}:fetchProcessorTypes",
              "id": "documentai.projects.locations.fetchProcessorTypes",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudDocumentaiV1beta3FetchProcessorTypesResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The location of processor types to list. Format: `projects/{project}/locations/{location}`.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              }
            },
            "list": {
              "parameters": {
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160)."
                },
                "name": {
                  "type": "string",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "format": "int32"
                },
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "type": "string",
                  "location": "query",
                  "repeated": true
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page."
                }
              },
              "id": "documentai.projects.locations.list",
              "httpMethod": "GET",
              "path": "v1beta3/{+name}/locations",
              "flatPath": "v1beta3/projects/{projectsId}/locations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "response": {
                "$ref": "GoogleCloudLocationListLocationsResponse"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "documentai.projects.locations.get",
              "path": "v1beta3/{+name}",
              "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudLocationLocation"
              },
              "parameters": {
                "name": {
                  "description": "Resource name for the location.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "description": "Gets information about a location."
            }
          }
        }
      }
    }
  },
  "basePath": "",
  "id": "documentai:v1beta3",
  "parameters": {
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "alt": {
      "default": "json",
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    }
  },
  "ownerDomain": "google.com",
  "baseUrl": "https://documentai.googleapis.com/",
  "schemas": {
    "GoogleCloudDocumentaiUiv1beta3UpdateProcessorVersionMetadata": {
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata for the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      },
      "type": "object",
      "description": "The long-running operation metadata for the UpdateProcessorVersion method.",
      "id": "GoogleCloudDocumentaiUiv1beta3UpdateProcessorVersionMetadata"
    },
    "GoogleCloudDocumentaiUiv1beta3SchemaEditabilityMetadata": {
      "type": "object",
      "description": "Metadata that specifies whether a label is editable and reasons why. These fields are read-only. Changing these fields has no impact on the backend.",
      "id": "GoogleCloudDocumentaiUiv1beta3SchemaEditabilityMetadata",
      "properties": {
        "editable": {
          "description": "Explicit flag that controls whether the label is editable.",
          "type": "boolean"
        },
        "processorVersions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Full resource name of processor versions that contain this label. e.g. `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}`"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3DocumentBlobAsset": {
      "id": "GoogleCloudDocumentaiV1beta3DocumentBlobAsset",
      "properties": {
        "content": {
          "description": "Optional. The content of the blob asset, for example, image bytes.",
          "type": "string",
          "format": "byte"
        },
        "assetId": {
          "type": "string",
          "description": "Optional. The ID of the blob asset."
        },
        "mimeType": {
          "description": "The mime type of the blob asset. An IANA published [media type (MIME type)](https://www.iana.org/assignments/media-types/media-types.xhtml).",
          "type": "string"
        }
      },
      "description": "Represents a blob asset. It's used to store the content of the inline blob in this document, for example, image bytes, such that it can be referenced by other fields in the document via asset ID.",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3ExportProcessorVersionResponse": {
      "id": "GoogleCloudDocumentaiUiv1beta3ExportProcessorVersionResponse",
      "description": "Response message associated with the ExportProcessorVersion operation.",
      "type": "object",
      "properties": {
        "gcsUri": {
          "type": "string",
          "description": "The Cloud Storage URI containing the output artifacts."
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3EnableProcessorResponse": {
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3EnableProcessorResponse",
      "properties": {},
      "description": "Response message for the EnableProcessor method. Intentionally empty proto for adding fields in future."
    },
    "GoogleCloudDocumentaiV1beta3DocumentPageLayout": {
      "id": "GoogleCloudDocumentaiV1beta3DocumentPageLayout",
      "type": "object",
      "description": "Visual element describing a layout unit on a page.",
      "properties": {
        "orientation": {
          "enum": [
            "ORIENTATION_UNSPECIFIED",
            "PAGE_UP",
            "PAGE_RIGHT",
            "PAGE_DOWN",
            "PAGE_LEFT"
          ],
          "type": "string",
          "description": "Detected orientation for the Layout.",
          "enumDescriptions": [
            "Unspecified orientation.",
            "Orientation is aligned with page up.",
            "Orientation is aligned with page right. Turn the head 90 degrees clockwise from upright to read.",
            "Orientation is aligned with page down. Turn the head 180 degrees from upright to read.",
            "Orientation is aligned with page left. Turn the head 90 degrees counterclockwise from upright to read."
          ]
        },
        "confidence": {
          "format": "float",
          "description": "Confidence of the current Layout within context of the object this layout is for. For example, confidence can be for a single token, a table, a visual element, etc. depending on context. Range `[0, 1]`.",
          "type": "number"
        },
        "textAnchor": {
          "description": "Text anchor indexing into the Document.text.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentTextAnchor"
        },
        "boundingPoly": {
          "$ref": "GoogleCloudDocumentaiV1beta3BoundingPoly",
          "description": "The bounding polygon for the Layout."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3DocumentDocumentLayout": {
      "description": "Represents the parsed layout of a document as a collection of blocks that the document is divided into.",
      "id": "GoogleCloudDocumentaiV1beta3DocumentDocumentLayout",
      "properties": {
        "blocks": {
          "type": "array",
          "description": "List of blocks in the document.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentDocumentLayoutDocumentLayoutBlock"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1ReviewDocumentResponse": {
      "properties": {
        "rejectionReason": {
          "description": "The reason why the review is rejected by reviewer.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "REJECTED",
            "SUCCEEDED"
          ],
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The review operation is rejected by the reviewer.",
            "The review operation is succeeded."
          ],
          "description": "The state of the review operation.",
          "type": "string"
        },
        "gcsDestination": {
          "description": "The Cloud Storage uri for the human reviewed document if the review is succeeded.",
          "type": "string"
        }
      },
      "description": "Response message for the ReviewDocument method.",
      "id": "GoogleCloudDocumentaiV1ReviewDocumentResponse",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3DocumentSchemaEntityTypeEnumValues": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3DocumentSchemaEntityTypeEnumValues",
      "properties": {
        "values": {
          "description": "The individual values that this enum values type can include.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Defines the a list of enum values."
    },
    "GoogleCloudDocumentaiUiv1beta3BatchDeleteDocumentsMetadata": {
      "properties": {
        "errorDocumentCount": {
          "description": "Total number of documents that failed to be deleted in storage.",
          "type": "integer",
          "format": "int32"
        },
        "individualBatchDeleteStatuses": {
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3BatchDeleteDocumentsMetadataIndividualBatchDeleteStatus"
          },
          "type": "array",
          "description": "The list of response details of each document."
        },
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        },
        "totalDocumentCount": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of documents deleting from dataset."
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3BatchDeleteDocumentsMetadata"
    },
    "GoogleCloudLocationLocation": {
      "properties": {
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        }
      },
      "description": "A resource that represents a Google Cloud location.",
      "id": "GoogleCloudLocationLocation",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3UndeployProcessorVersionMetadata": {
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      },
      "description": "The long-running operation metadata for the UndeployProcessorVersion method.",
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3UndeployProcessorVersionMetadata"
    },
    "GoogleCloudDocumentaiV1beta3BatchDeleteDocumentsMetadataIndividualBatchDeleteStatus": {
      "properties": {
        "documentId": {
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentId",
          "description": "The document ID of the document."
        },
        "status": {
          "$ref": "GoogleRpcStatus",
          "description": "The status of deleting the document in storage."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3BatchDeleteDocumentsMetadataIndividualBatchDeleteStatus",
      "type": "object",
      "description": "The status of each individual document in the batch delete process."
    },
    "GoogleCloudDocumentaiV1beta3GcsPrefix": {
      "id": "GoogleCloudDocumentaiV1beta3GcsPrefix",
      "properties": {
        "gcsUriPrefix": {
          "description": "The URI prefix.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Specifies all documents on Cloud Storage with a common prefix."
    },
    "GoogleCloudDocumentaiV1beta3DocumentTextChange": {
      "id": "GoogleCloudDocumentaiV1beta3DocumentTextChange",
      "type": "object",
      "properties": {
        "provenance": {
          "type": "array",
          "description": "The history of this annotation.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentProvenance"
          },
          "deprecated": true
        },
        "changedText": {
          "description": "The text that replaces the text identified in the `text_anchor`.",
          "type": "string"
        },
        "textAnchor": {
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentTextAnchor",
          "description": "Provenance of the correction. Text anchor indexing into the Document.text. There can only be a single `TextAnchor.text_segments` element. If the start and end index of the text segment are the same, the text change is inserted before that index."
        }
      },
      "description": "This message is used for text changes aka. OCR corrections."
    },
    "GoogleCloudDocumentaiV1beta3EvaluationEvaluationRevision": {
      "description": "A revision of the evaluation.",
      "properties": {
        "revisionId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The revision ID of the evaluation."
        },
        "documentCounters": {
          "$ref": "GoogleCloudDocumentaiV1beta3EvaluationCounters",
          "readOnly": true,
          "description": "Output only. Counters for the documents used in the evaluation."
        },
        "allEntitiesMetrics": {
          "readOnly": true,
          "description": "Output only. Metrics for all the entities in aggregate.",
          "$ref": "GoogleCloudDocumentaiV1beta3EvaluationMultiConfidenceMetrics"
        },
        "entityMetrics": {
          "type": "object",
          "readOnly": true,
          "description": "Output only. Metrics across confidence levels, for different entities.",
          "additionalProperties": {
            "$ref": "GoogleCloudDocumentaiV1beta3EvaluationMultiConfidenceMetrics"
          }
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3EvaluationEvaluationRevision",
      "type": "object"
    },
    "GoogleTypeMoney": {
      "type": "object",
      "id": "GoogleTypeMoney",
      "description": "Represents an amount of money with its currency type.",
      "properties": {
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        },
        "units": {
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "type": "string",
          "format": "int64"
        },
        "nanos": {
          "format": "int32",
          "type": "integer",
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000."
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3DocumentIdGCSManagedDocumentId": {
      "type": "object",
      "properties": {
        "gcsUri": {
          "description": "Required. The Cloud Storage URI where the actual document is stored.",
          "type": "string"
        },
        "cwDocId": {
          "description": "ID of the document (indexed) managed by Content Warehouse.",
          "type": "string",
          "deprecated": true
        }
      },
      "description": "Identifies a document uniquely within the scope of a dataset in the user-managed Cloud Storage option.",
      "id": "GoogleCloudDocumentaiUiv1beta3DocumentIdGCSManagedDocumentId"
    },
    "GoogleCloudDocumentaiV1beta3BatchProcessRequestBatchOutputConfig": {
      "id": "GoogleCloudDocumentaiV1beta3BatchProcessRequestBatchOutputConfig",
      "description": "The output configuration in the BatchProcessDocuments method.",
      "deprecated": true,
      "type": "object",
      "properties": {
        "gcsDestination": {
          "description": "The output Cloud Storage directory to put the processed documents.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3ProcessRequest": {
[...]
