{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://cloud.google.com/document-ai/docs/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "name": "documentai",
  "basePath": "",
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "rootUrl": "https://documentai.googleapis.com/",
  "baseUrl": "https://documentai.googleapis.com/",
  "revision": "20260929",
  "discoveryVersion": "v1",
  "id": "documentai:v1",
  "title": "Cloud Document AI API",
  "description": "Service to parse structured information from unstructured or semi-structured documents using state-of-the-art Google AI such as natural language, computer vision, translation, and AutoML.",
  "servicePath": "",
  "protocol": "rest",
  "schemas": {
    "GoogleCloudDocumentaiV1DisableProcessorRequest": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1DisableProcessorRequest",
      "properties": {},
      "description": "Request message for the DisableProcessor method."
    },
    "GoogleCloudDocumentaiUiv1beta3SummaryOptions": {
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3SummaryOptions",
      "properties": {
        "length": {
          "enum": [
            "LENGTH_UNSPECIFIED",
            "BRIEF",
            "MODERATE",
            "COMPREHENSIVE"
          ],
          "enumDescriptions": [
            "Default.",
            "A brief summary of one or two sentences.",
            "A paragraph-length summary.",
            "The longest option available."
          ],
          "type": "string",
          "description": "How long the summary should be."
        },
        "format": {
          "enumDescriptions": [
            "Default.",
            "Format the output in paragraphs.",
            "Format the output in bullets."
          ],
          "enum": [
            "FORMAT_UNSPECIFIED",
            "PARAGRAPH",
            "BULLETS"
          ],
          "type": "string",
          "description": "The format the summary should be in."
        }
      },
      "description": "Metadata for document summarization."
    },
    "GoogleCloudDocumentaiV1DeployProcessorVersionMetadata": {
      "id": "GoogleCloudDocumentaiV1DeployProcessorVersionMetadata",
      "type": "object",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1CommonOperationMetadata"
        }
      },
      "description": "The long-running operation metadata for the DeployProcessorVersion method."
    },
    "GoogleCloudDocumentaiV1beta3ReviewDocumentOperationMetadata": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3ReviewDocumentOperationMetadata",
      "properties": {
        "state": {
          "type": "string",
          "description": "Used only when Operation.done is false.",
          "enumDescriptions": [
            "Unspecified state.",
            "Operation is still running.",
            "Operation is being cancelled.",
            "Operation succeeded.",
            "Operation failed.",
            "Operation is cancelled."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "CANCELLING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED"
          ]
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The creation time of the operation."
        },
        "questionId": {
          "description": "The Crowd Compute question ID.",
          "type": "string"
        },
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The last update time of the operation."
        },
        "stateMessage": {
          "description": "A message providing more details about the current state of processing. For example, the error message if the operation is failed.",
          "type": "string"
        }
      },
      "description": "The long-running operation metadata for the ReviewDocument method."
    },
    "GoogleCloudDocumentaiV1EvaluationConfidenceLevelMetrics": {
      "description": "Evaluations metrics, at a specific confidence level.",
      "type": "object",
      "properties": {
        "metrics": {
          "description": "The metrics at the specific confidence level.",
          "$ref": "GoogleCloudDocumentaiV1EvaluationMetrics"
        },
        "confidenceLevel": {
          "format": "float",
          "description": "The confidence level.",
          "type": "number"
        }
      },
      "id": "GoogleCloudDocumentaiV1EvaluationConfidenceLevelMetrics"
    },
    "GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadataIndividualExportStatus": {
      "id": "GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadataIndividualExportStatus",
      "type": "object",
      "properties": {
        "outputGcsDestination": {
          "description": "The output_gcs_destination of the exported document if it was successful, otherwise empty.",
          "type": "string"
        },
        "status": {
          "description": "The status of the exporting of the document.",
          "$ref": "GoogleRpcStatus"
        },
        "documentId": {
          "description": "The path to source docproto of the document.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3DocumentId"
        }
      },
      "description": "The status of each individual document in the export process."
    },
    "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleFormValidationOperation": {
      "type": "object",
      "id": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleFormValidationOperation",
      "properties": {
        "operations": {
          "description": "A list of recursive operations to be used as operands.",
          "type": "array",
          "items": {
            "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleFormValidationOperation"
          }
        },
        "fields": {
          "type": "array",
          "description": "A list of fields to be used as operands.",
          "items": {
            "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleField"
          }
        },
        "constants": {
          "type": "array",
          "description": "A list of constants to be used as operands.",
          "items": {
            "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleConstant"
          }
        },
        "operationType": {
          "description": "The operation type to be applied to all the operands.",
          "type": "string",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "OPERATION_TYPE_SUM",
            "OPERATION_TYPE_SUB",
            "OPERATION_TYPE_MUL",
            "OPERATION_TYPE_DIV",
            "OPERATION_TYPE_MAX",
            "OPERATION_TYPE_MIN",
            "OPERATION_TYPE_ABS",
            "OPERATION_TYPE_UNIQUE",
            "OPERATION_TYPE_COUNT"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudDocumentaiV1DocumentPageLine": {
      "properties": {
        "detectedLanguages": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageDetectedLanguage"
          },
          "type": "array",
          "description": "A list of detected languages together with confidence."
        },
        "layout": {
          "$ref": "GoogleCloudDocumentaiV1DocumentPageLayout",
          "description": "Layout for Line."
        },
        "provenance": {
          "description": "The history of this annotation.",
          "deprecated": true,
          "$ref": "GoogleCloudDocumentaiV1DocumentProvenance"
        }
      },
      "description": "A collection of tokens that a human would perceive as a line. Does not cross column boundaries, can be horizontal, vertical, etc.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1DocumentPageLine"
    },
    "GoogleCloudDocumentaiV1ListEvaluationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "evaluations": {
          "description": "The evaluations requested.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1Evaluation"
          }
        }
      },
      "type": "object",
      "description": "The response from `ListEvaluations`.",
      "id": "GoogleCloudDocumentaiV1ListEvaluationsResponse"
    },
    "GoogleCloudDocumentaiUiv1beta3ImportProcessorVersionMetadata": {
      "description": "The long-running operation metadata for the ImportProcessorVersion method.",
      "type": "object",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata for the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3ImportProcessorVersionMetadata"
    },
    "GoogleCloudDocumentaiUiv1beta3SetDefaultProcessorVersionResponse": {
      "id": "GoogleCloudDocumentaiUiv1beta3SetDefaultProcessorVersionResponse",
      "properties": {},
      "type": "object",
      "description": "Response message for the SetDefaultProcessorVersion method."
    },
    "GoogleCloudDocumentaiV1ProcessRequest": {
      "description": "Request message for the ProcessDocument method.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1ProcessRequest",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. The labels with user-defined metadata for the request. Label keys and values can be no longer than 63 characters (Unicode codepoints) and can only contain lowercase letters, numeric characters, underscores, and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter."
        },
        "imagelessMode": {
          "type": "boolean",
          "description": "Optional. Option to remove images from the document."
        },
        "rawDocument": {
          "description": "A raw document content (bytes).",
          "$ref": "GoogleCloudDocumentaiV1RawDocument"
        },
        "gcsDocument": {
          "$ref": "GoogleCloudDocumentaiV1GcsDocument",
          "description": "A raw document on Google Cloud Storage."
        },
        "inlineDocument": {
          "$ref": "GoogleCloudDocumentaiV1Document",
          "description": "An inline document proto."
        },
        "skipHumanReview": {
          "deprecated": true,
          "description": "Whether human review should be skipped for this request. Default to `false`.",
          "type": "boolean"
        },
        "fieldMask": {
          "type": "string",
          "description": "Specifies which fields to include in the ProcessResponse.document output. Only supports top-level document and pages field, so it must be in the form of `{document_field_name}` or `pages.{page_field_name}`.",
          "format": "google-fieldmask"
        },
        "processOptions": {
          "$ref": "GoogleCloudDocumentaiV1ProcessOptions",
          "description": "Inference-time options for the process API"
        }
      }
    },
    "GoogleCloudDocumentaiV1ReviewDocumentRequest": {
      "properties": {
        "enableSchemaValidation": {
          "type": "boolean",
          "description": "Whether the validation should be performed on the ad-hoc review request."
        },
        "priority": {
          "description": "The priority of the human review task.",
          "enum": [
            "DEFAULT",
            "URGENT"
          ],
          "type": "string",
          "enumDescriptions": [
            "The default priority level.",
            "The urgent priority level. The labeling manager should allocate labeler resource to the urgent task queue to respect this priority level."
          ]
        },
        "inlineDocument": {
          "description": "An inline document proto.",
          "$ref": "GoogleCloudDocumentaiV1Document"
        },
        "documentSchema": {
          "$ref": "GoogleCloudDocumentaiV1DocumentSchema",
          "description": "The document schema of the human review task."
        }
      },
      "description": "Request message for the ReviewDocument method.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1ReviewDocumentRequest"
    },
    "GoogleCloudDocumentaiV1beta3ImportDocumentsResponse": {
      "id": "GoogleCloudDocumentaiV1beta3ImportDocumentsResponse",
      "properties": {},
      "description": "Response of the import document operation.",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3TrainProcessorVersionResponse": {
      "description": "The response for TrainProcessorVersion.",
      "properties": {
        "processorVersion": {
          "description": "The resource name of the processor version produced by training.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3TrainProcessorVersionResponse",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1TrainProcessorVersionMetadataDatasetValidation": {
      "description": "The dataset validation information. This includes any and all errors with documents and the dataset.",
      "properties": {
        "documentErrorCount": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of document errors."
        },
        "datasetErrors": {
          "description": "Error information for the dataset as a whole. A maximum of 10 dataset errors will be returned. A single dataset error is terminal for training.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "datasetErrorCount": {
          "type": "integer",
          "description": "The total number of dataset errors.",
          "format": "int32"
        },
        "documentErrors": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array",
          "description": "Error information pertaining to specific documents. A maximum of 10 document errors will be returned. Any document with errors will not be used throughout training."
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1TrainProcessorVersionMetadataDatasetValidation"
    },
    "GoogleCloudDocumentaiV1OcrConfigPremiumFeatures": {
      "properties": {
        "enableMathOcr": {
          "type": "boolean",
          "description": "Turn on the model that can extract LaTeX math formulas."
        },
        "computeStyleInfo": {
          "description": "Turn on font identification model and return font style information.",
          "type": "boolean"
        },
        "enableSelectionMarkDetection": {
          "description": "Turn on selection mark detector in OCR engine. Only available in OCR 2.0 (and later) processors.",
          "type": "boolean"
        }
      },
      "description": "Configurations for premium OCR features.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1OcrConfigPremiumFeatures"
    },
    "GoogleCloudLocationLocation": {
      "id": "GoogleCloudLocationLocation",
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        }
      },
      "description": "A resource that represents a Google Cloud location."
    },
    "GoogleCloudDocumentaiV1beta3DocumentId": {
      "type": "object",
      "description": "Document Identifier.",
      "properties": {
        "unmanagedDocId": {
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentIdUnmanagedDocumentId",
          "description": "A document ID within unmanaged dataset."
        },
        "revisionRef": {
          "description": "Points to a specific revision of the document if set.",
          "$ref": "GoogleCloudDocumentaiV1beta3RevisionRef"
        },
        "gcsManagedDocId": {
          "description": "A document ID within user-managed Cloud Storage.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentIdGCSManagedDocumentId"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DocumentId"
    },
    "GoogleCloudDocumentaiUiv1beta3EvaluateProcessorVersionResponse": {
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3EvaluateProcessorVersionResponse",
      "description": "Response of the EvaluateProcessorVersion method.",
      "properties": {
        "evaluation": {
          "description": "The resource name of the created evaluation.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDocumentaiV1DocumentChunkedDocument": {
      "description": "Represents the chunks that the document is divided into.",
      "properties": {
        "chunks": {
          "description": "List of chunks.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunk"
          }
        }
      },
      "id": "GoogleCloudDocumentaiV1DocumentChunkedDocument",
      "type": "object"
    },
    "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleEntityAlignmentRule": {
      "id": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleEntityAlignmentRule",
      "type": "object",
      "properties": {
        "alignmentRule": {
          "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleAlignmentRule",
          "description": "The alignment rule to apply to the fields."
        },
        "fields": {
          "items": {
            "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleField"
          },
          "description": "The fields to be aligned.",
          "type": "array"
        }
      },
      "description": "A rule that aligns specified fields with each other."
    },
    "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTableBlock": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTableBlock",
      "description": "Represents a table type block.",
      "properties": {
        "bodyRows": {
          "description": "Body rows containing main table content.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTableRow"
          },
          "type": "array"
        },
        "caption": {
          "description": "Table caption/title.",
          "type": "string"
        },
        "headerRows": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTableRow"
          },
          "type": "array",
          "description": "Header rows at the top of the table."
        },
        "annotations": {
          "description": "Annotation of the table block.",
          "$ref": "GoogleCloudDocumentaiV1DocumentAnnotations"
        }
      }
    },
    "GoogleCloudDocumentaiV1DocumentPageDetectedLanguage": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1DocumentPageDetectedLanguage",
      "description": "Detected language for a structural component.",
      "properties": {
        "confidence": {
          "type": "number",
          "format": "float",
          "description": "Confidence of detected language. Range `[0, 1]`."
        },
        "languageCode": {
          "description": "The [BCP-47 language code](https://www.unicode.org/reports/tr35/#Unicode_locale_identifier), such as `en-US` or `sr-Latn`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3BatchDeleteDocumentsResponse": {
      "type": "object",
      "description": "Response of the delete documents operation.",
      "id": "GoogleCloudDocumentaiUiv1beta3BatchDeleteDocumentsResponse",
      "properties": {}
    },
    "GoogleCloudDocumentaiV1ListSchemaVersionsResponse": {
      "id": "GoogleCloudDocumentaiV1ListSchemaVersionsResponse",
      "properties": {
        "schemaVersions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1SchemaVersion"
          },
          "description": "The list of SchemaVersions."
        },
        "nextPageToken": {
          "description": "Points to the next SchemaVersion, otherwise empty.",
          "type": "string"
        }
      },
      "description": "Response message for ListSchemaVersions.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1EvaluationMetrics": {
      "type": "object",
      "description": "Evaluation metrics, either in aggregate or about a specific entity.",
      "id": "GoogleCloudDocumentaiV1EvaluationMetrics",
      "properties": {
        "predictedDocumentCount": {
          "type": "integer",
          "format": "int32",
          "description": "The amount of documents with a predicted occurrence."
        },
        "falseNegativesCount": {
          "description": "The amount of false negatives.",
          "format": "int32",
          "type": "integer"
        },
        "recall": {
          "type": "number",
          "description": "The calculated recall.",
          "format": "float"
        },
        "falsePositivesCount": {
          "format": "int32",
          "type": "integer",
          "description": "The amount of false positives."
        },
        "groundTruthDocumentCount": {
          "format": "int32",
          "type": "integer",
          "description": "The amount of documents with a ground truth occurrence."
        },
        "f1Score": {
          "format": "float",
          "type": "number",
          "description": "The calculated F1 score."
        },
        "precision": {
          "description": "The calculated precision.",
          "format": "float",
          "type": "number"
        },
        "predictedOccurrencesCount": {
          "type": "integer",
          "description": "The amount of occurrences in predicted documents.",
          "format": "int32"
        },
        "truePositivesCount": {
          "type": "integer",
          "format": "int32",
          "description": "The amount of true positives."
        },
        "groundTruthOccurrencesCount": {
          "description": "The amount of occurrences in ground truth documents.",
          "format": "int32",
          "type": "integer"
        },
        "totalDocumentsCount": {
          "format": "int32",
          "type": "integer",
          "description": "The amount of documents that had an occurrence of this label."
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3TrainProcessorVersionMetadataDatasetValidation": {
      "type": "object",
      "description": "The dataset validation information. This includes any and all errors with documents and the dataset.",
      "properties": {
        "datasetErrors": {
          "type": "array",
          "description": "Error information for the dataset as a whole. A maximum of 10 dataset errors will be returned. A single dataset error is terminal for training.",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "documentErrorCount": {
          "description": "The total number of document errors.",
          "type": "integer",
          "format": "int32"
        },
        "datasetErrorCount": {
          "format": "int32",
          "description": "The total number of dataset errors.",
          "type": "integer"
        },
        "documentErrors": {
          "type": "array",
          "description": "Error information pertaining to specific documents. A maximum of 10 document errors will be returned. Any document with errors will not be used throughout training.",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3TrainProcessorVersionMetadataDatasetValidation"
    },
    "GoogleCloudDocumentaiV1beta3DisableProcessorResponse": {
      "properties": {},
      "type": "object",
      "description": "Response message for the DisableProcessor method. Intentionally empty proto for adding fields in future.",
      "id": "GoogleCloudDocumentaiV1beta3DisableProcessorResponse"
    },
    "GoogleCloudDocumentaiV1DeleteProcessorVersionMetadata": {
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1CommonOperationMetadata"
        }
      },
      "id": "GoogleCloudDocumentaiV1DeleteProcessorVersionMetadata",
      "description": "The long-running operation metadata for the DeleteProcessorVersion method.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3FieldExtractionMetadata": {
      "properties": {
        "summaryOptions": {
          "$ref": "GoogleCloudDocumentaiV1beta3SummaryOptions",
          "description": "Summary options config."
        }
      },
      "description": "Metadata for how this field value is extracted.",
      "id": "GoogleCloudDocumentaiV1beta3FieldExtractionMetadata",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1EvaluateProcessorVersionRequest": {
      "description": "Evaluates the given ProcessorVersion against the supplied documents.",
      "id": "GoogleCloudDocumentaiV1EvaluateProcessorVersionRequest",
      "type": "object",
      "properties": {
        "evaluationDocuments": {
          "$ref": "GoogleCloudDocumentaiV1BatchDocumentsInputConfig",
          "description": "Optional. The documents used in the evaluation. If unspecified, use the processor's dataset as evaluation input."
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3DeleteLabelerPoolOperationMetadata": {
      "description": "The long-running operation metadata for DeleteLabelerPool.",
      "type": "object",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3DeleteLabelerPoolOperationMetadata"
    },
    "GoogleCloudDocumentaiV1beta3DocumentIdGCSManagedDocumentId": {
      "description": "Identifies a document uniquely within the scope of a dataset in the user-managed Cloud Storage option.",
      "properties": {
        "cwDocId": {
          "deprecated": true,
          "description": "ID of the document (indexed) managed by Content Warehouse.",
          "type": "string"
        },
        "gcsUri": {
          "type": "string",
          "description": "Required. The Cloud Storage URI where the actual document is stored."
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3DocumentIdGCSManagedDocumentId"
    },
    "GoogleCloudDocumentaiV1beta3TrainProcessorVersionMetadataDatasetValidation": {
      "properties": {
        "datasetErrorCount": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of dataset errors."
        },
        "documentErrorCount": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of document errors."
        },
        "documentErrors": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array",
          "description": "Error information pertaining to specific documents. A maximum of 10 document errors will be returned. Any document with errors will not be used throughout training."
        },
        "datasetErrors": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "Error information for the dataset as a whole. A maximum of 10 dataset errors will be returned. A single dataset error is terminal for training.",
          "type": "array"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3TrainProcessorVersionMetadataDatasetValidation",
      "description": "The dataset validation information. This includes any and all errors with documents and the dataset.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3DocumentSchema": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3DocumentSchema",
      "properties": {
        "metadata": {
          "description": "Metadata of the schema.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentSchemaMetadata"
        },
        "displayName": {
          "description": "Display name to show users.",
          "type": "string"
        },
        "documentPrompt": {
          "description": "Optional. Document-level prompt provided by the user. This custom text is injected into the AI model's prompt to provide extra, document-wide guidance for processing.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Description of the schema."
        },
        "entityTypes": {
          "description": "Entity types of the schema.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentSchemaEntityType"
          }
        }
      },
      "description": "The schema defines the output of the processed document by a processor."
    },
    "GoogleCloudDocumentaiUiv1beta3EvaluateProcessorVersionMetadata": {
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3EvaluateProcessorVersionMetadata",
      "description": "Metadata of the EvaluateProcessorVersion method.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3ProcessorVersionGenAiModelInfoCustomGenAiModelInfo": {
      "description": "Information for a custom Generative AI model created by the user. These are created with `Create New Version` in either the `Call foundation model` or `Fine tuning` tabs.",
      "type": "object",
      "properties": {
        "customModelType": {
          "description": "The type of custom model created by the user.",
          "type": "string",
          "enum": [
            "CUSTOM_MODEL_TYPE_UNSPECIFIED",
            "VERSIONED_FOUNDATION",
            "FINE_TUNED"
          ],
          "enumDescriptions": [
            "The model type is unspecified.",
            "The model is a versioned foundation model.",
            "The model is a finetuned foundation model."
          ]
        },
        "baseProcessorVersionId": {
          "type": "string",
          "description": "The base processor version ID for the custom model."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3ProcessorVersionGenAiModelInfoCustomGenAiModelInfo"
    },
    "GoogleCloudDocumentaiV1ProcessOptions": {
      "id": "GoogleCloudDocumentaiV1ProcessOptions",
      "type": "object",
      "properties": {
        "layoutConfig": {
          "description": "Optional. Only applicable to `LAYOUT_PARSER_PROCESSOR`. Returns error if set on other processor types.",
          "$ref": "GoogleCloudDocumentaiV1ProcessOptionsLayoutConfig"
        },
        "fromEnd": {
          "description": "Only process certain pages from the end, same as above.",
          "format": "int32",
          "type": "integer"
        },
        "individualPageSelector": {
          "description": "Which pages to process (1-indexed).",
          "$ref": "GoogleCloudDocumentaiV1ProcessOptionsIndividualPageSelector"
        },
        "schemaOverride": {
          "description": "Optional. Override the schema of the ProcessorVersion. Will return an Invalid Argument error if this field is set when the underlying ProcessorVersion doesn't support schema override.",
          "$ref": "GoogleCloudDocumentaiV1DocumentSchema"
        },
        "fromStart": {
          "type": "integer",
          "description": "Only process certain pages from the start. Process all if the document has fewer pages.",
          "format": "int32"
        },
        "ocrConfig": {
          "$ref": "GoogleCloudDocumentaiV1OcrConfig",
          "description": "Only applicable to `OCR_PROCESSOR` and `FORM_PARSER_PROCESSOR`. Returns error if set on other processor types."
        }
      },
      "description": "Options for Process API"
    },
    "GoogleCloudDocumentaiV1DocumentPageTable": {
      "description": "A table representation similar to HTML table structure.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1DocumentPageTable",
      "properties": {
        "layout": {
          "$ref": "GoogleCloudDocumentaiV1DocumentPageLayout",
          "description": "Layout for Table."
        },
        "headerRows": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageTableTableRow"
          },
          "description": "Header rows of the table."
        },
        "provenance": {
          "$ref": "GoogleCloudDocumentaiV1DocumentProvenance",
          "description": "The history of this table.",
          "deprecated": true
        },
        "bodyRows": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageTableTableRow"
          },
          "description": "Body rows of the table."
        },
        "detectedLanguages": {
          "description": "A list of detected languages together with confidence.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageDetectedLanguage"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDocumentaiV1DocumentEntityValidationOutput": {
      "description": "The output of the validation given the document and the validation rules.",
      "type": "object",
      "properties": {
        "passAllRules": {
          "type": "boolean",
          "description": "The overall result of the validation, true if all applicable rules are valid."
        },
        "validationResults": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentEntityValidationOutputValidationResult"
          },
          "type": "array",
          "description": "The result of each validation rule."
        }
      },
      "id": "GoogleCloudDocumentaiV1DocumentEntityValidationOutput"
    },
    "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleFormValidation": {
      "type": "object",
      "properties": {
        "leftOperand": {
          "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleFormValidationOperation"
        },
        "rightOperand": {
          "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleFormValidationOperation"
        },
        "validationOperator": {
          "description": "The relational operator to be applied to the operands.",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "OPERATION_TYPE_EQ",
            "OPERATION_TYPE_NE",
            "OPERATION_TYPE_LT",
            "OPERATION_TYPE_LE",
            "OPERATION_TYPE_GT",
            "OPERATION_TYPE_GE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleFormValidation"
    },
    "GoogleCloudDocumentaiV1OcrConfigHints": {
      "description": "Hints for OCR Engine",
      "properties": {
        "languageHints": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of BCP-47 language codes to use for OCR. In most cases, not specifying it yields the best results since it enables automatic language detection. For languages based on the Latin alphabet, setting hints is not needed. In rare cases, when the language of the text in the image is known, setting a hint will help get better results (although it will be a significant hindrance if the hint is wrong)."
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1OcrConfigHints"
    },
    "GoogleCloudDocumentaiV1beta3ProcessorVersionAlias": {
      "description": "Contains the alias and the aliased resource name of processor version.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3ProcessorVersionAlias",
      "properties": {
        "processorVersion": {
          "description": "The resource name of aliased processor version.",
          "type": "string"
        },
        "alias": {
          "description": "The alias in the form of `processor_version` resource name.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDocumentaiV1DocumentPageFormField": {
      "id": "GoogleCloudDocumentaiV1DocumentPageFormField",
      "description": "A form field detected on the page.",
      "type": "object",
      "properties": {
        "provenance": {
          "$ref": "GoogleCloudDocumentaiV1DocumentProvenance",
          "description": "The history of this annotation."
        },
        "valueType": {
          "type": "string",
          "description": "If the value is non-textual, this field represents the type. Current valid values are: - blank (this indicates the `field_value` is normal text) - `unfilled_checkbox` - `filled_checkbox`"
        },
        "nameDetectedLanguages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageDetectedLanguage"
          },
          "description": "A list of detected languages for name together with confidence."
        },
        "fieldName": {
          "$ref": "GoogleCloudDocumentaiV1DocumentPageLayout",
          "description": "Layout for the FormField name. For example, `Address`, `Email`, `Grand total`, `Phone number`, etc."
        },
        "valueDetectedLanguages": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageDetectedLanguage"
          },
          "description": "A list of detected languages for value together with confidence.",
          "type": "array"
        },
        "fieldValue": {
          "description": "Layout for the FormField value.",
          "$ref": "GoogleCloudDocumentaiV1DocumentPageLayout"
        },
        "correctedKeyText": {
          "description": "Created for Labeling UI to export key text. If corrections were made to the text identified by the `field_name.text_anchor`, this field will contain the correction.",
          "type": "string"
        },
        "correctedValueText": {
          "description": "Created for Labeling UI to export value text. If corrections were made to the text identified by the `field_value.text_anchor`, this field will contain the correction.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3DeployProcessorVersionMetadata": {
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      },
      "description": "The long-running operation metadata for the DeployProcessorVersion method.",
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3DeployProcessorVersionMetadata"
    },
    "GoogleCloudDocumentaiV1ListProcessorVersionsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Points to the next processor, otherwise empty.",
          "type": "string"
        },
        "processorVersions": {
          "description": "The list of processors.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1ProcessorVersion"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDocumentaiV1ListProcessorVersionsResponse",
      "description": "Response message for the ListProcessorVersions method.",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3AutoLabelDocumentsMetadataIndividualAutoLabelStatus": {
      "description": "The status of individual documents in the auto-labeling process.",
      "type": "object",
      "properties": {
        "documentId": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3DocumentId",
          "description": "The document ID of the auto-labeled document. This will replace the gcs_uri."
        },
        "status": {
          "$ref": "GoogleRpcStatus",
          "description": "The status of the document auto-labeling."
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3AutoLabelDocumentsMetadataIndividualAutoLabelStatus"
    },
    "GoogleCloudDocumentaiV1NextSchema": {
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the Schema. Format: `projects/{project}/locations/{location}/schemas/{schema}`",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time when the Schema was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Optional. The {{gcp_name_short}} labels for the Schema.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "displayName": {
          "description": "Required. The user-defined name of the Schema.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the Schema was last updated.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "NextSchema is a collection of SchemaVersions.",
      "id": "GoogleCloudDocumentaiV1NextSchema"
    },
    "GoogleCloudDocumentaiUiv1beta3DocumentSchema": {
      "properties": {
        "metadata": {
          "description": "Metadata of the schema.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3DocumentSchemaMetadata"
        },
        "displayName": {
          "description": "Display name to show users.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Description of the schema."
        },
        "entityTypes": {
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3DocumentSchemaEntityType"
          },
          "type": "array",
          "description": "Entity types of the schema."
        },
        "documentPrompt": {
          "description": "Optional. Document-level prompt provided by the user. This custom text is injected into the AI model's prompt to provide extra, document-wide guidance for processing.",
          "type": "string"
        }
      },
      "description": "The schema defines the output of the processed document by a processor.",
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3DocumentSchema"
    },
    "GoogleCloudDocumentaiV1TrainProcessorVersionRequest": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1TrainProcessorVersionRequest",
      "description": "Request message for the TrainProcessorVersion method.",
      "properties": {
        "processorVersion": {
          "$ref": "GoogleCloudDocumentaiV1ProcessorVersion",
          "description": "Required. The processor version to be created."
        },
        "foundationModelTuningOptions": {
          "description": "Options to control foundation model tuning of a processor.",
          "$ref": "GoogleCloudDocumentaiV1TrainProcessorVersionRequestFoundationModelTuningOptions"
        },
        "customDocumentExtractionOptions": {
          "$ref": "GoogleCloudDocumentaiV1TrainProcessorVersionRequestCustomDocumentExtractionOptions",
          "description": "Options to control Custom Document Extraction (CDE) Processor."
        },
        "documentSchema": {
          "description": "Optional. The schema the processor version will be trained with.",
          "$ref": "GoogleCloudDocumentaiV1DocumentSchema"
        },
        "inputData": {
          "$ref": "GoogleCloudDocumentaiV1TrainProcessorVersionRequestInputData",
          "description": "Optional. The input data used to train the ProcessorVersion."
        },
        "baseProcessorVersion": {
          "type": "string",
          "description": "Optional. The processor version to use as a base for training. This processor version must be a child of `parent`. Format: `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}`."
        }
      }
    },
    "GoogleCloudDocumentaiV1EnableProcessorResponse": {
      "description": "Response message for the EnableProcessor method. Intentionally empty proto for adding fields in future.",
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDocumentaiV1EnableProcessorResponse"
    },
    "GoogleCloudDocumentaiV1Vertex": {
      "properties": {
        "y": {
          "type": "integer",
          "format": "int32",
          "description": "Y coordinate (starts from the top of the image)."
        },
        "x": {
          "type": "integer",
          "format": "int32",
          "description": "X coordinate."
        }
      },
      "description": "A vertex represents a 2D point in the image. NOTE: the vertex coordinates are in the same scale as the original image.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1Vertex"
    },
    "GoogleCloudDocumentaiV1DocumentPageTokenStyleInfo": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1DocumentPageTokenStyleInfo",
      "properties": {
        "pixelFontSize": {
          "description": "Font size in pixels, equal to _unrounded font_size_ * _resolution_ ÷ `72.0`.",
          "format": "double",
          "type": "number"
        },
        "bold": {
          "type": "boolean",
          "description": "Whether the text is bold (equivalent to font_weight is at least `700`)."
        },
        "underlined": {
          "description": "Whether the text is underlined.",
          "type": "boolean"
        },
        "fontType": {
          "description": "Name or style of the font.",
          "type": "string"
        },
        "italic": {
          "type": "boolean",
          "description": "Whether the text is italic."
        },
        "subscript": {
          "type": "boolean",
          "description": "Whether the text is a subscript. This feature is not supported yet."
        },
        "handwritten": {
          "description": "Whether the text is handwritten.",
          "type": "boolean"
        },
        "backgroundColor": {
          "description": "Color of the background.",
          "$ref": "GoogleTypeColor"
        },
        "strikeout": {
          "type": "boolean",
          "description": "Whether the text is strikethrough. This feature is not supported yet."
        },
        "superscript": {
          "type": "boolean",
          "description": "Whether the text is a superscript. This feature is not supported yet."
        },
        "fontWeight": {
          "type": "integer",
          "format": "int32",
          "description": "TrueType weight on a scale `100` (thin) to `1000` (ultra-heavy). Normal is `400`, bold is `700`."
        },
        "smallcaps": {
          "description": "Whether the text is in small caps. This feature is not supported yet.",
          "type": "boolean"
        },
        "textColor": {
          "$ref": "GoogleTypeColor",
          "description": "Color of the text."
        },
        "letterSpacing": {
          "type": "number",
          "description": "Letter spacing in points.",
          "format": "double"
        },
        "fontSize": {
          "description": "Font size in points (`1` point is `¹⁄₇₂` inches).",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Font and other text style attributes."
    },
    "GoogleCloudDocumentaiV1beta3DocumentIdUnmanagedDocumentId": {
      "description": "Identifies a document uniquely within the scope of a dataset in unmanaged option.",
      "type": "object",
      "properties": {
        "docId": {
          "type": "string",
          "description": "Required. The ID of the document."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DocumentIdUnmanagedDocumentId"
    },
    "GoogleCloudDocumentaiV1TrainProcessorVersionResponse": {
      "description": "The response for TrainProcessorVersion.",
      "type": "object",
      "properties": {
        "processorVersion": {
          "type": "string",
          "description": "The resource name of the processor version produced by training."
        }
      },
      "id": "GoogleCloudDocumentaiV1TrainProcessorVersionResponse"
    },
    "GoogleCloudDocumentaiV1ProcessOptionsLayoutConfig": {
      "id": "GoogleCloudDocumentaiV1ProcessOptionsLayoutConfig",
      "properties": {
        "returnImages": {
          "type": "boolean",
          "description": "Optional. Whether to include images in layout parser processor response."
        },
        "chunkingConfig": {
          "description": "Optional. Config for chunking in layout parser processor.",
          "$ref": "GoogleCloudDocumentaiV1ProcessOptionsLayoutConfigChunkingConfig"
        },
        "enableImageAnnotation": {
          "description": "Optional. Whether to include image annotations in layout parser response.",
          "type": "boolean"
        },
        "enableTableAnnotation": {
          "description": "Optional. Whether to include table annotations in layout parser response.",
          "type": "boolean"
        },
        "returnBoundingBoxes": {
          "type": "boolean",
          "description": "Optional. Whether to include bounding boxes in layout parser processor response."
        }
      },
      "type": "object",
      "description": "Serving config for layout parser processor."
    },
    "GoogleCloudDocumentaiV1beta3BatchProcessMetadataIndividualProcessStatus": {
      "id": "GoogleCloudDocumentaiV1beta3BatchProcessMetadataIndividualProcessStatus",
      "description": "The status of a each individual document in the batch process.",
      "type": "object",
      "properties": {
        "status": {
          "$ref": "GoogleRpcStatus",
          "description": "The status processing the document."
        },
        "outputGcsDestination": {
          "type": "string",
          "description": "The Cloud Storage output destination (in the request as DocumentOutputConfig.GcsOutputConfig.gcs_uri) of the processed document if it was successful, otherwise empty."
        },
        "humanReviewStatus": {
          "description": "The status of human review on the processed document.",
          "$ref": "GoogleCloudDocumentaiV1beta3HumanReviewStatus"
        },
        "inputGcsSource": {
          "description": "The source of the document, same as the input_gcs_source field in the request when the batch process started.",
          "type": "string"
        },
        "humanReviewOperation": {
          "deprecated": true,
          "type": "string",
          "description": "The name of the operation triggered by the processed document. If the human review process isn't triggered, this field will be empty. It has the same response type and metadata as the long-running operation returned by the ReviewDocument method."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3EntityTypeMetadata": {
      "type": "object",
      "properties": {
        "inactive": {
          "description": "Whether the entity type should be considered inactive.",
          "type": "boolean"
        }
      },
      "description": "Metadata about an entity type.",
      "id": "GoogleCloudDocumentaiV1beta3EntityTypeMetadata"
    },
    "GoogleCloudDocumentaiV1DisableProcessorMetadata": {
      "type": "object",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1CommonOperationMetadata"
        }
      },
      "description": "The long-running operation metadata for the DisableProcessor method.",
      "id": "GoogleCloudDocumentaiV1DisableProcessorMetadata"
    },
    "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunk": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunk",
      "description": "Represents a chunk.",
      "properties": {
        "chunkFields": {
          "type": "array",
          "description": "Chunk fields inside this chunk.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkField"
          }
        },
        "chunkId": {
          "description": "ID of the chunk.",
          "type": "string"
        },
        "pageHeaders": {
          "description": "Page headers associated with the chunk.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageHeader"
          }
        },
        "sourceBlockIds": {
          "description": "Unused.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "pageSpan": {
          "description": "Page span of the chunk.",
          "$ref": "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageSpan"
        },
        "pageFooters": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageFooter"
          },
          "type": "array",
          "description": "Page footers associated with the chunk."
        },
        "content": {
          "type": "string",
          "description": "Text content of the chunk."
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3ImportDocumentsMetadataImportConfigValidationResult": {
      "properties": {
        "inputGcsSource": {
          "type": "string",
          "description": "The source Cloud Storage URI specified in the import config."
        },
        "status": {
          "description": "The validation status of import config.",
          "$ref": "GoogleRpcStatus"
        }
      },
      "description": "The validation status of each import config. Status is set to an error if there are no documents to import in the `import_config`, or `OK` if the operation will try to proceed with at least one document.",
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3ImportDocumentsMetadataImportConfigValidationResult"
    },
    "GoogleCloudDocumentaiV1OcrConfig": {
      "properties": {
        "enableSymbol": {
          "description": "Includes symbol level OCR information if set to true.",
          "type": "boolean"
        },
        "premiumFeatures": {
          "$ref": "GoogleCloudDocumentaiV1OcrConfigPremiumFeatures",
          "description": "Configurations for premium OCR features."
        },
        "advancedOcrOptions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of advanced OCR options to further fine-tune OCR behavior. Current valid values are: - `legacy_layout`: a heuristics layout detection algorithm, which serves as an alternative to the current ML-based layout detection algorithm. Customers can choose the best suitable layout algorithm based on their situation."
        },
        "computeStyleInfo": {
          "type": "boolean",
          "description": "Turn on font identification model and return font style information. Deprecated, use PremiumFeatures.compute_style_info instead.",
          "deprecated": true
        },
        "enableNativePdfParsing": {
          "description": "Enables special handling for PDFs with existing text information. Results in better text extraction quality in such PDF inputs.",
          "type": "boolean"
        },
        "disableCharacterBoxesDetection": {
          "description": "Turn off character box detector in OCR engine. Character box detection is enabled by default in OCR 2.0 (and later) processors.",
          "type": "boolean"
        },
        "hints": {
          "$ref": "GoogleCloudDocumentaiV1OcrConfigHints",
          "description": "Hints for the OCR model."
        },
        "enableImageQualityScores": {
          "description": "Enables intelligent document quality scores after OCR. Can help with diagnosing why OCR responses are of poor quality for a given input. Adds additional latency comparable to regular OCR to the process call.",
          "type": "boolean"
        }
      },
      "description": "Config for Document OCR.",
      "id": "GoogleCloudDocumentaiV1OcrConfig",
      "type": "object"
    },
    "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleAlignmentRule": {
      "description": "A rule for checking field alignment. Horizontal alignment checks if fields are on the same row by comparing y-coordinates of bounding box centers, while vertical alignment checks if fields are on the same column by comparing x-coordinates of bounding box centers.",
      "properties": {
        "alignmentType": {
          "type": "string",
          "enum": [
            "ALIGNMENT_TYPE_UNSPECIFIED",
            "ALIGNMENT_TYPE_HORIZONTAL",
            "ALIGNMENT_TYPE_VERTICAL"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "tolerance": {
          "type": "number",
          "description": "The tolerance to use when comparing coordinates.",
          "format": "float"
        }
      },
      "type": "object",
      "id": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleAlignmentRule"
    },
    "GoogleCloudDocumentaiV1beta3DisableProcessorMetadata": {
      "description": "The long-running operation metadata for the DisableProcessor method.",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DisableProcessorMetadata",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3Processor": {
      "description": "The first-class citizen for Document AI. Each processor defines how to extract structural information from a document.",
      "properties": {
        "type": {
          "type": "string",
          "description": "The processor type, such as: `OCR_PROCESSOR`, `INVOICE_PROCESSOR`. To get a list of processor types, see FetchProcessorTypes."
        },
        "defaultProcessorVersion": {
          "type": "string",
          "description": "The default processor version."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time the processor was created.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "description": "Output only. The state of the processor.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The processor is in an unspecified state.",
            "The processor is enabled, i.e., has an enabled version which can currently serve processing requests and all the feature dependencies have been successfully initialized.",
            "The processor is disabled.",
            "The processor is being enabled, will become `ENABLED` if successful.",
            "The processor is being disabled, will become `DISABLED` if successful.",
            "The processor is being created, will become either `ENABLED` (for successful creation) or `FAILED` (for failed ones). Once a processor is in this state, it can then be used for document processing, but the feature dependencies of the processor might not be fully created yet.",
            "The processor failed during creation or initialization of feature dependencies. The user should delete the processor and recreate one as all the functionalities of the processor are disabled.",
            "The processor is being deleted, will be removed if successful."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED",
            "ENABLING",
            "DISABLING",
            "CREATING",
            "FAILED",
            "DELETING"
          ]
        },
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "activeSchemaVersion": {
          "type": "string",
          "description": "Optional. SchemaVersion used by the Processor. It is the same as Processor's DatasetSchema.schema_version Format is `projects/{project}/locations/{location}/schemas/{schema}/schemaVersions/{schema_version}."
        },
        "kmsKeyName": {
          "description": "The [KMS key](https://cloud.google.com/security-key-management) used for encryption and decryption in CMEK scenarios.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the processor."
        },
        "processorVersionAliases": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The processor version aliases.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3ProcessorVersionAlias"
          }
        },
        "processEndpoint": {
          "readOnly": true,
          "description": "Output only. Immutable. The http endpoint that can be called to invoke processing.",
          "type": "string"
        },
        "satisfiesPzs": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Reserved for future use."
        },
        "name": {
          "description": "Output only. Immutable. The resource name of the processor. Format: `projects/{project}/locations/{location}/processors/{processor}`",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3Processor",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3SetDefaultProcessorVersionMetadata": {
      "type": "object",
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3SetDefaultProcessorVersionMetadata",
      "description": "The long-running operation metadata for the SetDefaultProcessorVersion method."
    },
    "GoogleCloudDocumentaiV1beta3DeployProcessorVersionResponse": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3DeployProcessorVersionResponse",
      "description": "Response message for the DeployProcessorVersion method."
    },
    "GoogleCloudDocumentaiV1ListProcessorTypesResponse": {
      "type": "object",
      "properties": {
        "processorTypes": {
          "description": "The processor types.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1ProcessorType"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Points to the next page, otherwise empty."
        }
      },
      "description": "Response message for the ListProcessorTypes method.",
      "id": "GoogleCloudDocumentaiV1ListProcessorTypesResponse"
    },
    "GoogleCloudDocumentaiV1DocumentPageDetectedBarcode": {
      "properties": {
        "barcode": {
          "description": "Detailed barcode information of the DetectedBarcode.",
          "$ref": "GoogleCloudDocumentaiV1Barcode"
        },
        "layout": {
          "$ref": "GoogleCloudDocumentaiV1DocumentPageLayout",
          "description": "Layout for DetectedBarcode."
        }
      },
      "id": "GoogleCloudDocumentaiV1DocumentPageDetectedBarcode",
      "description": "A detected barcode.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3UpdateDatasetOperationMetadata": {
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3UpdateDatasetOperationMetadata",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3SampleDocumentsMetadata": {
      "type": "object",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3SampleDocumentsMetadata",
      "description": "Metadata of the sample documents operation."
    },
    "GoogleCloudDocumentaiV1beta3UndeployProcessorVersionMetadata": {
      "description": "The long-running operation metadata for the UndeployProcessorVersion method.",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3UndeployProcessorVersionMetadata",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3Dataset": {
      "type": "object",
      "properties": {
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "name": {
          "description": "Dataset resource name. Format: `projects/{project}/locations/{location}/processors/{processor}/dataset`",
          "type": "string"
        },
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified enum, should not be used.",
            "Dataset has not been initialized.",
            "Dataset is being initialized.",
            "Dataset has been initialized."
          ],
          "description": "Required. State of the dataset. Ignored when updating dataset.",
          "enum": [
            "STATE_UNSPECIFIED",
            "UNINITIALIZED",
            "INITIALIZING",
            "INITIALIZED"
          ]
        },
        "unmanagedDatasetConfig": {
          "description": "Optional. Unmanaged dataset configuration. Use this configuration if the dataset documents are managed by the document service internally (not user-managed).",
          "$ref": "GoogleCloudDocumentaiV1beta3DatasetUnmanagedDatasetConfig"
        },
        "documentWarehouseConfig": {
          "$ref": "GoogleCloudDocumentaiV1beta3DatasetDocumentWarehouseConfig",
          "deprecated": true,
          "description": "Optional. Deprecated. Warehouse-based dataset configuration is not supported."
        },
        "gcsManagedConfig": {
          "$ref": "GoogleCloudDocumentaiV1beta3DatasetGCSManagedConfig",
          "description": "Optional. User-managed Cloud Storage dataset configuration. Use this configuration if the dataset documents are stored under a user-managed Cloud Storage location."
        }
      },
      "description": "A singleton resource under a Processor which configures a collection of documents.",
      "id": "GoogleCloudDocumentaiV1beta3Dataset"
    },
    "GoogleCloudDocumentaiUiv1beta3ProcessorVersionGenAiModelInfo": {
      "id": "GoogleCloudDocumentaiUiv1beta3ProcessorVersionGenAiModelInfo",
      "type": "object",
      "description": "Information about Generative AI model-based processor versions.",
      "properties": {
        "foundationGenAiModelInfo": {
          "description": "Information for a pretrained Google-managed foundation model.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3ProcessorVersionGenAiModelInfoFoundationGenAiModelInfo"
        },
        "customGenAiModelInfo": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3ProcessorVersionGenAiModelInfoCustomGenAiModelInfo",
          "description": "Information for a custom Generative AI model created by the user."
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3ExportDocumentsResponse": {
      "description": "The response proto of ExportDocuments method.",
      "id": "GoogleCloudDocumentaiUiv1beta3ExportDocumentsResponse",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3EvaluationMetrics": {
      "properties": {
        "totalDocumentsCount": {
          "description": "The amount of documents that had an occurrence of this label.",
          "format": "int32",
          "type": "integer"
        },
        "recall": {
          "description": "The calculated recall.",
          "type": "number",
          "format": "float"
        },
        "predictedOccurrencesCount": {
          "type": "integer",
          "description": "The amount of occurrences in predicted documents.",
          "format": "int32"
        },
        "predictedDocumentCount": {
          "format": "int32",
          "description": "The amount of documents with a predicted occurrence.",
          "type": "integer"
        },
        "groundTruthDocumentCount": {
          "description": "The amount of documents with a ground truth occurrence.",
          "format": "int32",
          "type": "integer"
        },
        "f1Score": {
          "description": "The calculated F1 score.",
          "format": "float",
          "type": "number"
        },
        "precision": {
          "type": "number",
          "description": "The calculated precision.",
          "format": "float"
        },
        "truePositivesCount": {
          "format": "int32",
          "description": "The amount of true positives.",
          "type": "integer"
        },
        "falsePositivesCount": {
          "type": "integer",
          "description": "The amount of false positives.",
          "format": "int32"
        },
        "groundTruthOccurrencesCount": {
          "type": "integer",
          "description": "The amount of occurrences in ground truth documents.",
          "format": "int32"
        },
        "falseNegativesCount": {
          "format": "int32",
          "description": "The amount of false negatives.",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "Evaluation metrics, either in aggregate or about a specific entity.",
      "id": "GoogleCloudDocumentaiUiv1beta3EvaluationMetrics"
    },
    "GoogleCloudDocumentaiV1beta3ProcessorVersionDeprecationInfo": {
      "description": "Information about the upcoming deprecation of this processor version.",
      "properties": {
        "replacementProcessorVersion": {
          "type": "string",
          "description": "If set, the processor version that will be used as a replacement."
        },
        "deprecationTime": {
          "type": "string",
          "description": "The time at which this processor version will be deprecated.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3ProcessorVersionDeprecationInfo"
    },
    "GoogleCloudDocumentaiV1beta3EvaluationMetrics": {
      "type": "object",
      "properties": {
        "recall": {
          "format": "float",
          "type": "number",
          "description": "The calculated recall."
        },
        "f1Score": {
          "description": "The calculated F1 score.",
          "type": "number",
          "format": "float"
        },
        "totalDocumentsCount": {
          "format": "int32",
          "type": "integer",
          "description": "The amount of documents that had an occurrence of this label."
        },
        "predictedDocumentCount": {
          "format": "int32",
          "type": "integer",
          "description": "The amount of documents with a predicted occurrence."
        },
        "groundTruthDocumentCount": {
          "description": "The amount of documents with a ground truth occurrence.",
          "format": "int32",
          "type": "integer"
        },
        "precision": {
          "description": "The calculated precision.",
          "type": "number",
          "format": "float"
        },
        "groundTruthOccurrencesCount": {
          "type": "integer",
          "format": "int32",
          "description": "The amount of occurrences in ground truth documents."
        },
        "falseNegativesCount": {
          "description": "The amount of false negatives.",
          "type": "integer",
          "format": "int32"
        },
        "predictedOccurrencesCount": {
          "type": "integer",
          "format": "int32",
          "description": "The amount of occurrences in predicted documents."
        },
        "truePositivesCount": {
          "format": "int32",
          "type": "integer",
          "description": "The amount of true positives."
        },
        "falsePositivesCount": {
          "description": "The amount of false positives.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3EvaluationMetrics",
      "description": "Evaluation metrics, either in aggregate or about a specific entity."
    },
    "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkImageChunkField": {
      "id": "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkImageChunkField",
      "description": "The image chunk field in the chunk.",
      "type": "object",
      "properties": {
        "blobAssetId": {
          "description": "Optional. Asset ID of the inline image. If set, find the image content in the blob_assets field.",
          "type": "string"
        },
        "annotations": {
          "description": "Annotation of the image chunk field.",
          "$ref": "GoogleCloudDocumentaiV1DocumentAnnotations"
        },
        "dataUri": {
          "description": "Optional. Data URI of the image. It is composed of four parts: a prefix (data:), a MIME type indicating the type of data, an optional base64 token if non-textual, and the data itself: data:,",
          "type": "string"
        },
        "gcsUri": {
          "description": "Optional. Google Cloud Storage URI of the image.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDocumentaiV1SchemaVersion": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Required. The user-defined name of the SchemaVersion."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time when the SchemaVersion was created.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The {{gcp_name_short}} labels for the SchemaVersion.",
          "type": "object"
        },
        "name": {
          "description": "Identifier. The resource name of the SchemaVersion. Format: `projects/{project}/locations/{location}/schemas/{schema}/schemaVersions/{schema_version}`",
          "type": "string"
        },
        "schema": {
          "description": "Required. The schema of the SchemaVersion.",
          "$ref": "GoogleCloudDocumentaiV1DocumentSchema"
        }
      },
      "id": "GoogleCloudDocumentaiV1SchemaVersion",
      "type": "object",
      "description": "SchemaVersion is a version of the Schema which is created in SchemaGroup."
    },
    "GoogleCloudLocationListLocationsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudLocationLocation"
          }
        }
      },
      "id": "GoogleCloudLocationListLocationsResponse",
      "description": "The response message for Locations.ListLocations."
    },
    "GoogleCloudDocumentaiV1beta3ProcessorVersion": {
      "description": "A processor version is an implementation of a processor. Each processor can have multiple versions, pretrained by Google internally or uptrained by the customer. A processor can only have one default version at a time. Its document-processing behavior is defined by that version.",
      "id": "GoogleCloudDocumentaiV1beta3ProcessorVersion",
      "type": "object",
      "properties": {
        "kmsKeyName": {
          "description": "Output only. The KMS key name used for encryption.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the processor version."
        },
        "genAiModelInfo": {
          "$ref": "GoogleCloudDocumentaiV1beta3ProcessorVersionGenAiModelInfo",
          "description": "Output only. Information about Generative AI model-based processor versions.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the processor version. Format: `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processor_version}`"
        },
        "deprecationInfo": {
          "$ref": "GoogleCloudDocumentaiV1beta3ProcessorVersionDeprecationInfo",
          "description": "Output only. If set, information about the eventual deprecation of this version.",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "DEPLOYED",
            "DEPLOYING",
            "UNDEPLOYED",
            "UNDEPLOYING",
            "CREATING",
            "DELETING",
            "FAILED",
            "IMPORTING"
          ],
          "description": "Output only. The state of the processor version.",
          "enumDescriptions": [
            "The processor version is in an unspecified state.",
            "The processor version is deployed and can be used for processing.",
            "The processor version is being deployed.",
            "The processor version is not deployed and cannot be used for processing.",
            "The processor version is being undeployed.",
            "The processor version is being created.",
            "The processor version is being deleted.",
            "The processor version failed and is in an indeterminate state.",
            "The processor version is being imported."
          ]
        },
        "latestEvaluation": {
          "readOnly": true,
          "description": "Output only. The most recently invoked evaluation for the processor version.",
          "$ref": "GoogleCloudDocumentaiV1beta3EvaluationReference"
        },
        "googleManaged": {
          "description": "Output only. Denotes that this `ProcessorVersion` is managed by Google.",
          "readOnly": true,
          "type": "boolean"
        },
        "documentSchema": {
          "description": "Output only. The schema of the processor version. Describes the output.",
          "readOnly": true,
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentSchema"
        },
        "modelType": {
          "description": "Output only. The model type of this processor version.",
          "type": "string",
          "enumDescriptions": [
            "The processor version has unspecified model type.",
            "The processor version has generative model type.",
            "The processor version has custom model type."
          ],
          "readOnly": true,
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "MODEL_TYPE_GENERATIVE",
            "MODEL_TYPE_CUSTOM"
          ]
        },
        "kmsKeyVersionName": {
          "description": "Output only. The KMS key version with which data is encrypted.",
          "readOnly": true,
          "type": "string"
        },
        "satisfiesPzs": {
          "readOnly": true,
          "description": "Output only. Reserved for future use.",
          "type": "boolean"
        },
        "groundingSettings": {
          "readOnly": true,
          "description": "Output only. The grounding settings of the processor version. This can only be set using TrainProcessorVersionRequest to override the default grounding settings.",
          "$ref": "GoogleCloudDocumentaiV1beta3GroundingSettings"
        },
        "satisfiesPzi": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Reserved for future use."
        },
        "createTime": {
          "description": "Output only. The time the processor version was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDocumentaiV1DocumentPageTokenDetectedBreak": {
      "type": "object",
      "description": "Detected break at the end of a Token.",
      "id": "GoogleCloudDocumentaiV1DocumentPageTokenDetectedBreak",
      "properties": {
        "type": {
          "description": "Detected break type.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified break type.",
            "A single whitespace.",
            "A wider whitespace.",
            "A hyphen that indicates that a token has been split across lines."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "SPACE",
            "WIDE_SPACE",
            "HYPHEN"
          ]
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3DisableProcessorResponse": {
      "type": "object",
      "properties": {},
      "description": "Response message for the DisableProcessor method. Intentionally empty proto for adding fields in future.",
      "id": "GoogleCloudDocumentaiUiv1beta3DisableProcessorResponse"
    },
    "GoogleCloudDocumentaiUiv1beta3DeleteProcessorMetadata": {
      "id": "GoogleCloudDocumentaiUiv1beta3DeleteProcessorMetadata",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      },
      "description": "The long-running operation metadata for the DeleteProcessor method.",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3DocumentIdGCSManagedDocumentId": {
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3DocumentIdGCSManagedDocumentId",
      "description": "Identifies a document uniquely within the scope of a dataset in the user-managed Cloud Storage option.",
      "properties": {
        "gcsUri": {
          "description": "Required. The Cloud Storage URI where the actual document is stored.",
          "type": "string"
        },
        "cwDocId": {
          "deprecated": true,
          "description": "ID of the document (indexed) managed by Content Warehouse.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3CreateLabelerPoolOperationMetadata": {
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3CreateLabelerPoolOperationMetadata",
      "description": "The long-running operation metadata for the CreateLabelerPool method.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1GenerateSchemaVersionRequest": {
      "id": "GoogleCloudDocumentaiV1GenerateSchemaVersionRequest",
      "type": "object",
      "description": "Request message for GenerateSchemaVersion.",
      "properties": {
        "rawDocuments": {
          "$ref": "GoogleCloudDocumentaiV1RawDocuments",
          "description": "The set of raw documents."
        },
        "gcsDocuments": {
          "description": "The set of documents placed on Cloud Storage.",
          "$ref": "GoogleCloudDocumentaiV1GcsDocuments"
        },
        "inlineDocuments": {
          "$ref": "GoogleCloudDocumentaiV1Documents",
          "description": "The set of documents specified inline. For each document, its `uri` or `content` field must be set."
        },
        "generateSchemaVersionParams": {
          "$ref": "GoogleCloudDocumentaiV1GenerateSchemaVersionRequestGenerateSchemaVersionParams",
          "description": "Optional. User specified parameters for the schema generation."
        },
        "gcsPrefix": {
          "$ref": "GoogleCloudDocumentaiV1GcsPrefix",
          "description": "The common prefix of documents placed on Cloud Storage."
        },
        "baseSchemaVersion": {
          "description": "The base schema version name to use for the schema generation. Format: `projects/{project}/locations/{location}/schemas/{schema}/schemaVersions/{schema_version}`",
          "type": "string"
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadata": {
      "properties": {
        "individualExportStatuses": {
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadataIndividualExportStatus"
          },
          "type": "array",
          "description": "The list of response details of each document."
        },
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        },
        "splitExportStats": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadataSplitExportStat"
          },
          "description": "The list of statistics for each dataset split type."
        }
      },
      "description": "Metadata of the batch export documents operation.",
      "id": "GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadata",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3DeleteProcessorVersionMetadata": {
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3DeleteProcessorVersionMetadata",
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      },
      "description": "The long-running operation metadata for the DeleteProcessorVersion method."
    },
    "GoogleCloudDocumentaiV1ReviewDocumentOperationMetadata": {
      "description": "The long-running operation metadata for the ReviewDocument method.",
      "type": "object",
      "properties": {
        "questionId": {
          "type": "string",
          "description": "The Crowd Compute question ID."
        },
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiV1CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      },
      "id": "GoogleCloudDocumentaiV1ReviewDocumentOperationMetadata"
    },
    "GoogleCloudDocumentaiV1beta3DeleteProcessorVersionMetadata": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3DeleteProcessorVersionMetadata",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata"
        }
      },
      "description": "The long-running operation metadata for the DeleteProcessorVersion method."
    },
    "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkTableChunkField": {
      "id": "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkTableChunkField",
      "description": "The table chunk field in the chunk.",
      "type": "object",
      "properties": {
        "annotations": {
          "$ref": "GoogleCloudDocumentaiV1DocumentAnnotations",
          "description": "Annotation of the table chunk field."
        }
      }
    },
    "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleChildAlignmentRule": {
      "id": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleChildAlignmentRule",
      "properties": {
        "parentField": {
          "description": "The full path of the parent field.",
          "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleField"
        },
        "alignmentRule": {
          "description": "The alignment rule to apply to the child fields.",
          "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleAlignmentRule"
        },
        "childFields": {
          "description": "The child fields to be aligned within the parent field.",
          "items": {
            "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleField"
          },
          "type": "array"
        }
      },
      "description": "A rule that aligns specified child fields with a parent field.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1ProcessorType": {
      "description": "A processor type is responsible for performing a certain document understanding task on a certain type of document.",
      "id": "GoogleCloudDocumentaiV1ProcessorType",
      "type": "object",
      "properties": {
        "launchStage": {
          "type": "string",
          "description": "Launch stage of the processor type",
          "enumDescriptions": [
            "Do not use this default value.",
            "The feature is not yet implemented. Users can not use it.",
            "Prelaunch features are hidden from users and are only visible internally.",
            "Early Access features are limited to a closed group of testers. To use these features, you must sign up in advance and sign a Trusted Tester agreement (which includes confidentiality provisions). These features may be unstable, changed in backward-incompatible ways, and are not guaranteed to be released.",
            "Alpha is a limited availability test for releases before they are cleared for widespread use. By Alpha, all significant design issues are resolved and we are in the process of verifying functionality. Alpha customers need to apply for access, agree to applicable terms, and have their projects allowlisted. Alpha releases don't have to be feature complete, no SLAs are provided, and there are no technical support obligations, but they will be far enough along that customers can actually use them in test environments or for limited-use tests -- just like they would in normal production cases.",
            "Beta is the point at which we are ready to open a release for any customer to use. There are no SLA or technical support obligations in a Beta release. Products will be complete from a feature perspective, but may have some open outstanding issues. Beta releases are suitable for limited production use cases.",
            "GA features are open to all developers and are considered stable and fully qualified for production use.",
            "Deprecated features are scheduled to be shut down and removed. For more information, see the \"Deprecation Policy\" section of our [Terms of Service](https://cloud.google.com/terms/) and the [Google Cloud Platform Subject to the Deprecation Policy](https://cloud.google.com/terms/deprecation) documentation."
          ],
          "enum": [
            "LAUNCH_STAGE_UNSPECIFIED",
            "UNIMPLEMENTED",
            "PRELAUNCH",
            "EARLY_ACCESS",
            "ALPHA",
            "BETA",
            "GA",
            "DEPRECATED"
          ]
        },
        "type": {
          "type": "string",
          "description": "The processor type, such as: `OCR_PROCESSOR`, `INVOICE_PROCESSOR`."
        },
        "sampleDocumentUris": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A set of Cloud Storage URIs of sample documents for this processor."
        },
        "category": {
          "type": "string",
          "description": "The processor category, used by UI to group processor types."
        },
        "allowCreation": {
          "description": "Whether the processor type allows creation. If true, users can create a processor of this processor type. Otherwise, users need to request access.",
          "type": "boolean"
        },
        "name": {
          "description": "The resource name of the processor type. Format: `projects/{project}/processorTypes/{processor_type}`",
          "type": "string"
        },
        "availableLocations": {
          "description": "The locations in which this processor is available.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1ProcessorTypeLocationInfo"
          }
        }
      }
    },
    "GoogleCloudDocumentaiV1ListProcessorsResponse": {
      "properties": {
        "processors": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1Processor"
          },
          "description": "The list of processors.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Points to the next processor, otherwise empty.",
          "type": "string"
        }
      },
      "description": "Response message for the ListProcessors method.",
      "id": "GoogleCloudDocumentaiV1ListProcessorsResponse",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3Processor": {
      "description": "The first-class citizen for Document AI. Each processor defines how to extract structural information from a document.",
      "type": "object",
      "properties": {
        "satisfiesPzs": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Reserved for future use."
        },
        "processEndpoint": {
          "type": "string",
          "description": "Output only. Immutable. The http endpoint that can be called to invoke processing.",
          "readOnly": true
        },
        "processorVersionAliases": {
          "description": "Output only. The processor version aliases.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3ProcessorVersionAlias"
          }
        },
        "type": {
          "description": "The processor type, such as: `OCR_PROCESSOR`, `INVOICE_PROCESSOR`. To get a list of processor types, see FetchProcessorTypes.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the processor was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "state": {
          "description": "Output only. The state of the processor.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED",
            "ENABLING",
            "DISABLING",
            "CREATING",
            "FAILED",
            "DELETING"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The processor is in an unspecified state.",
            "The processor is enabled, i.e., has an enabled version which can currently serve processing requests and all the feature dependencies have been successfully initialized.",
            "The processor is disabled.",
            "The processor is being enabled, will become `ENABLED` if successful.",
            "The processor is being disabled, will become `DISABLED` if successful.",
            "The processor is being created, will become either `ENABLED` (for successful creation) or `FAILED` (for failed ones). Once a processor is in this state, it can then be used for document processing, but the feature dependencies of the processor might not be fully created yet.",
            "The processor failed during creation or initialization of feature dependencies. The user should delete the processor and recreate one as all the functionalities of the processor are disabled.",
            "The processor is being deleted, will be removed if successful."
          ]
        },
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the processor."
        },
        "name": {
          "description": "Output only. Immutable. The resource name of the processor. Format: `projects/{project}/locations/{location}/processors/{processor}`",
          "readOnly": true,
          "type": "string"
        },
        "defaultProcessorVersion": {
          "type": "string",
          "description": "The default processor version."
        },
        "kmsKeyName": {
          "description": "The [KMS key](https://cloud.google.com/security-key-management) used for encryption and decryption in CMEK scenarios.",
          "type": "string"
        },
        "activeSchemaVersion": {
[...]
