{
  "fullyEncodeReservedExpansion": true,
  "id": "domains:v1beta1",
  "discoveryVersion": "v1",
  "rootUrl": "https://domains.googleapis.com/",
  "documentationLink": "https://cloud.google.com/domains/",
  "canonicalName": "Cloud Domains",
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "baseUrl": "https://domains.googleapis.com/",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets information about a location.",
              "id": "domains.projects.locations.get",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Resource name for the location.",
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Location"
              },
              "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}",
              "httpMethod": "GET"
            },
            "list": {
              "flatPath": "v1beta1/projects/{projectsId}/locations",
              "id": "domains.projects.locations.list",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "The resource that owns the locations collection, if applicable."
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page."
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query"
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query",
                  "type": "string"
                },
                "extraLocationTypes": {
                  "repeated": true,
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1beta1/{+name}/locations"
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "id": "domains.projects.locations.operations.get",
                  "path": "v1beta1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "description": "The name of the operation resource."
                    }
                  }
                },
                "list": {
                  "path": "v1beta1/{+name}/operations",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "domains.projects.locations.operations.list",
                  "parameters": {
                    "returnPartialSuccess": {
                      "location": "query",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "description": "The standard list filter.",
                      "type": "string"
                    },
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "The name of the operation's parent resource.",
                      "location": "path"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "The standard list page size.",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/operations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "httpMethod": "GET"
                }
              }
            },
            "registrations": {
              "methods": {
                "register": {
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/registrations:register",
                  "request": {
                    "$ref": "RegisterDomainRequest"
                  },
                  "description": "Registers a new domain name and creates a corresponding `Registration` resource. Call `RetrieveRegisterParameters` first to check availability of the domain name and determine parameters like price that are needed to build a call to this method. A successful call creates a `Registration` resource in state `REGISTRATION_PENDING`, which resolves to `ACTIVE` within 1-2 minutes, indicating that the domain was successfully registered. If the resource ends up in state `REGISTRATION_FAILED`, it indicates that the domain was not registered successfully, and you can safely delete the resource and retry registration.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource of the `Registration`. Must be in the format `projects/*/locations/*`.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "id": "domains.projects.locations.registrations.register",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1beta1/{+parent}/registrations:register"
                },
                "retrieveTransferParameters": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deprecated: For more information, see [Cloud Domains feature deprecation](https://cloud.google.com/domains/docs/deprecations/feature-deprecations) Gets parameters needed to transfer a domain name from another registrar to Cloud Domains. For domains already managed by [Google Domains](https://domains.google/), use `ImportDomain` instead. Use the returned values to call `TransferDomain`.",
                  "path": "v1beta1/{+location}/registrations:retrieveTransferParameters",
                  "parameterOrder": [
                    "location"
                  ],
                  "response": {
                    "$ref": "RetrieveTransferParametersResponse"
                  },
                  "id": "domains.projects.locations.registrations.retrieveTransferParameters",
                  "deprecated": true,
                  "httpMethod": "GET",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/registrations:retrieveTransferParameters",
                  "parameters": {
                    "domainName": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. The domain name. Unicode domain names must be expressed in Punycode format."
                    },
                    "location": {
                      "description": "Required. The location. Must be in the format `projects/*/locations/*`.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    }
                  }
                },
                "resetAuthorizationCode": {
                  "parameters": {
                    "registration": {
                      "description": "Required. The name of the `Registration` whose authorization code is being reset, in the format `projects/*/locations/*/registrations/*`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/registrations/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "id": "domains.projects.locations.registrations.resetAuthorizationCode",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/registrations/{registrationsId}:resetAuthorizationCode",
                  "description": "Resets the authorization code of the `Registration` to a new random string. You can call this method only after 60 days have elapsed since the initial domain registration. Domains that have the `REQUIRE_PUSH_TRANSFER` property in the list of `domain_properties` don't support authorization codes and must use the `InitiatePushTransfer` method to initiate the process to transfer the domain to a different registrar.",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "ResetAuthorizationCodeRequest"
                  },
                  "response": {
                    "$ref": "AuthorizationCode"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+registration}:resetAuthorizationCode",
                  "parameterOrder": [
                    "registration"
                  ]
                },
                "retrieveAuthorizationCode": {
                  "response": {
                    "$ref": "AuthorizationCode"
                  },
                  "id": "domains.projects.locations.registrations.retrieveAuthorizationCode",
                  "description": "Gets the authorization code of the `Registration` for the purpose of transferring the domain to another registrar. You can call this method only after 60 days have elapsed since the initial domain registration. Domains that have the `REQUIRE_PUSH_TRANSFER` property in the list of `domain_properties` don't support authorization codes and must use the `InitiatePushTransfer` method to initiate the process to transfer the domain to a different registrar.",
                  "path": "v1beta1/{+registration}:retrieveAuthorizationCode",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/registrations/{registrationsId}:retrieveAuthorizationCode",
                  "parameters": {
                    "registration": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the `Registration` whose authorization code is being retrieved, in the format `projects/*/locations/*/registrations/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/registrations/[^/]+$",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "registration"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "testIamPermissions": {
                  "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "domains.projects.locations.registrations.testIamPermissions",
                  "path": "v1beta1/{+resource}:testIamPermissions",
                  "parameters": {
                    "resource": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/registrations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/registrations/{registrationsId}:testIamPermissions",
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  }
                },
                "searchDomains": {
                  "parameters": {
                    "query": {
                      "description": "Required. String used to search for available domain names.",
                      "location": "query",
                      "type": "string"
                    },
                    "location": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The location. Must be in the format `projects/*/locations/*`."
                    }
                  },
                  "parameterOrder": [
                    "location"
                  ],
                  "description": "Searches for available domain names similar to the provided query. Availability results from this method are approximate; call `RetrieveRegisterParameters` on a domain before registering to confirm availability.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "id": "domains.projects.locations.registrations.searchDomains",
                  "path": "v1beta1/{+location}/registrations:searchDomains",
                  "response": {
                    "$ref": "SearchDomainsResponse"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/registrations:searchDomains"
                },
                "configureDnsSettings": {
                  "description": "Updates a `Registration`'s DNS settings.",
                  "id": "domains.projects.locations.registrations.configureDnsSettings",
                  "request": {
                    "$ref": "ConfigureDnsSettingsRequest"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/registrations/{registrationsId}:configureDnsSettings",
                  "parameterOrder": [
                    "registration"
                  ],
                  "parameters": {
                    "registration": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/registrations/[^/]+$",
                      "description": "Required. The name of the `Registration` whose DNS settings are being updated, in the format `projects/*/locations/*/registrations/*`.",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1beta1/{+registration}:configureDnsSettings"
                },
                "configureManagementSettings": {
                  "id": "domains.projects.locations.registrations.configureManagementSettings",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+registration}:configureManagementSettings",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "ConfigureManagementSettingsRequest"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/registrations/{registrationsId}:configureManagementSettings",
                  "parameters": {
                    "registration": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/registrations/[^/]+$",
                      "description": "Required. The name of the `Registration` whose management settings are being updated, in the format `projects/*/locations/*/registrations/*`."
                    }
                  },
                  "parameterOrder": [
                    "registration"
                  ],
                  "description": "Updates a `Registration`'s management settings."
                },
                "setIamPolicy": {
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/registrations/{registrationsId}:setIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "domains.projects.locations.registrations.setIamPolicy",
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "response": {
                    "$ref": "Policy"
                  },
                  "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                  "path": "v1beta1/{+resource}:setIamPolicy",
                  "parameters": {
                    "resource": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/registrations/[^/]+$",
                      "location": "path",
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "httpMethod": "POST"
                },
                "delete": {
                  "description": "Deletes a `Registration` resource. This method works on any `Registration` resource using [Subscription or Commitment billing](/domains/pricing#billing-models), provided that the resource was created at least 1 day in the past. When an active registration is successfully deleted, you can continue to use the domain in [Google Domains](https://domains.google/) until it expires. The calling user becomes the domain's sole owner in Google Domains, and permissions for the domain are subsequently managed there. The domain does not renew automatically unless the new owner sets up billing in Google Domains. After January 2024 you will only be able to delete `Registration` resources when `state` is one of: `EXPORTED`, `EXPIRED`,`REGISTRATION_FAILED` or `TRANSFER_FAILED`. See [Cloud Domains feature deprecation](https://cloud.google.com/domains/docs/deprecations/feature-deprecations) for more details.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "domains.projects.locations.registrations.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "DELETE",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/registrations/{registrationsId}",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the `Registration` to delete, in the format `projects/*/locations/*/registrations/*`.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/registrations/[^/]+$",
                      "required": true
                    }
                  },
                  "path": "v1beta1/{+name}"
                },
                "configureContactSettings": {
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/registrations/{registrationsId}:configureContactSettings",
                  "parameterOrder": [
                    "registration"
                  ],
                  "description": "Updates a `Registration`'s contact settings. Some changes require confirmation by the domain's registrant contact . Caution: Please consider carefully any changes to contact privacy settings when changing from `REDACTED_CONTACT_DATA` to `PUBLIC_CONTACT_DATA.` There may be a delay in reflecting updates you make to registrant contact information such that any changes you make to contact privacy (including from `REDACTED_CONTACT_DATA` to `PUBLIC_CONTACT_DATA`) will be applied without delay but changes to registrant contact information may take a limited time to be publicized. This means that changes to contact privacy from `REDACTED_CONTACT_DATA` to `PUBLIC_CONTACT_DATA` may make the previous registrant contact data public until the modified registrant contact details are published.",
                  "request": {
                    "$ref": "ConfigureContactSettingsRequest"
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "registration": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/registrations/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the `Registration` whose contact settings are being updated, in the format `projects/*/locations/*/registrations/*`.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "id": "domains.projects.locations.registrations.configureContactSettings",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+registration}:configureContactSettings"
                },
                "import": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "domains.projects.locations.registrations.import",
                  "request": {
                    "$ref": "ImportDomainRequest"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/registrations:import",
                  "deprecated": true,
                  "httpMethod": "POST",
                  "description": "Deprecated: For more information, see [Cloud Domains feature deprecation](https://cloud.google.com/domains/docs/deprecations/feature-deprecations) Imports a domain name from [Google Domains](https://domains.google/) for use in Cloud Domains. To transfer a domain from another registrar, use the `TransferDomain` method instead. Since individual users can own domains in Google Domains, the calling user must have ownership permission on the domain.",
                  "path": "v1beta1/{+parent}/registrations:import",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent resource of the Registration. Must be in the format `projects/*/locations/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "export": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "domains.projects.locations.registrations.export",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "ExportRegistrationRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "deprecated": true,
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/registrations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the `Registration` to export, in the format `projects/*/locations/*/registrations/*`."
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/registrations/{registrationsId}:export",
                  "path": "v1beta1/{+name}:export",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Deprecated: For more information, see [Cloud Domains feature deprecation](https://cloud.google.com/domains/docs/deprecations/feature-deprecations) Exports a `Registration` resource, such that it is no longer managed by Cloud Domains. When an active domain is successfully exported, you can continue to use the domain in [Google Domains](https://domains.google/) until it expires. The calling user becomes the domain's sole owner in Google Domains, and permissions for the domain are subsequently managed there. The domain does not renew automatically unless the new owner sets up billing in Google Domains."
                },
                "retrieveGoogleDomainsForwardingConfig": {
                  "description": "Lists the deprecated domain and email forwarding configurations you set up in the deprecated Google Domains UI. The configuration is present only for domains with the `google_domains_redirects_data_available` set to `true` in the `Registration`'s `dns_settings`. A forwarding configuration might not work correctly if required DNS records are not present in the domain's authoritative DNS Zone.",
                  "parameterOrder": [
                    "registration"
                  ],
                  "httpMethod": "GET",
                  "id": "domains.projects.locations.registrations.retrieveGoogleDomainsForwardingConfig",
                  "response": {
                    "$ref": "RetrieveGoogleDomainsForwardingConfigResponse"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/registrations/{registrationsId}:retrieveGoogleDomainsForwardingConfig",
                  "path": "v1beta1/{+registration}:retrieveGoogleDomainsForwardingConfig",
                  "parameters": {
                    "registration": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/registrations/[^/]+$",
                      "description": "Required. The name of the `Registration` whose Google Domains forwarding configuration details are being retrieved, in the format `projects/*/locations/*/registrations/*`.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "transfer": {
                  "path": "v1beta1/{+parent}/registrations:transfer",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent resource of the `Registration`. Must be in the format `projects/*/locations/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/registrations:transfer",
                  "request": {
                    "$ref": "TransferDomainRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Deprecated: For more information, see [Cloud Domains feature deprecation](https://cloud.google.com/domains/docs/deprecations/feature-deprecations) Transfers a domain name from another registrar to Cloud Domains. For domains already managed by [Google Domains](https://domains.google/), use `ImportDomain` instead. Before calling this method, go to the domain's current registrar to unlock the domain for transfer and retrieve the domain's transfer authorization code. Then call `RetrieveTransferParameters` to confirm that the domain is unlocked and to get values needed to build a call to this method. A successful call creates a `Registration` resource in state `TRANSFER_PENDING`. It can take several days to complete the transfer process. The registrant can often speed up this process by approving the transfer through the current registrar, either by clicking a link in an email from the registrar or by visiting the registrar's website. A few minutes after transfer approval, the resource transitions to state `ACTIVE`, indicating that the transfer was successful. If the transfer is rejected or the request expires without being approved, the resource can end up in state `TRANSFER_FAILED`. If transfer fails, you can safely delete the resource and retry the transfer.",
                  "id": "domains.projects.locations.registrations.transfer",
                  "deprecated": true,
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST"
                },
                "patch": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/registrations/[^/]+$",
                      "description": "Output only. Name of the `Registration` resource, in the format `projects/*/locations/*/registrations/`.",
                      "location": "path",
                      "type": "string"
                    },
                    "updateMask": {
                      "description": "Required. The field mask describing which fields to update as a comma-separated list. For example, if only the labels are being updated, the `update_mask` is `\"labels\"`.",
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query"
                    },
                    "validateOnly": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. If set, validates the request without actually updating the registration."
                    }
                  },
                  "id": "domains.projects.locations.registrations.patch",
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "Registration"
                  },
                  "description": "Updates select fields of a `Registration` resource, notably `labels`. To update other fields, use the appropriate custom update method: * To update management settings, see `ConfigureManagementSettings` * To update DNS configuration, see `ConfigureDnsSettings` * To update contact information, see `ConfigureContactSettings`",
                  "path": "v1beta1/{+name}",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/registrations/{registrationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "initiatePushTransfer": {
                  "request": {
                    "$ref": "InitiatePushTransferRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "registration"
                  ],
                  "path": "v1beta1/{+registration}:initiatePushTransfer",
                  "id": "domains.projects.locations.registrations.initiatePushTransfer",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/registrations/{registrationsId}:initiatePushTransfer",
                  "parameters": {
                    "registration": {
                      "description": "Required. The name of the `Registration` for which the push transfer is initiated, in the format `projects/*/locations/*/registrations/*`.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/registrations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "description": "Initiates the `Push Transfer` process to transfer the domain to another registrar. The process might complete instantly or might require confirmation or additional work. Check the emails sent to the email address of the registrant. The process is aborted after a timeout if it's not completed. This method is only supported for domains that have the `REQUIRE_PUSH_TRANSFER` property in the list of `domain_properties`. The domain must also be unlocked before it can be transferred to a different registrar. For more information, see [Transfer a registered domain to another registrar](https://cloud.google.com/domains/docs/transfer-domain-to-another-registrar).",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "id": "domains.projects.locations.registrations.list",
                  "path": "v1beta1/{+parent}/registrations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "When set to the `next_page_token` from a prior response, provides the next page of results."
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Filter expression to restrict the `Registration`s returned. The expression must specify the field name, a comparison operator, and the value that you want to use for filtering. The value must be a string, a number, a boolean, or an enum value. The comparison operator should be one of =, !=, >, <, >=, <=, or : for prefix or wildcard matches. For example, to filter to a specific domain name, use an expression like `domainName=\"example.com\"`. You can also check for the existence of a field; for example, to find domains using custom DNS settings, use an expression like `dnsSettings.customDns:*`. You can also create compound filters by combining expressions with the `AND` and `OR` operators. For example, to find domains that are suspended or have specific issues flagged, use an expression like `(state=SUSPENDED) OR (issue:*)`."
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Maximum number of results to return.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The project and location from which to list `Registration`s, specified in the format `projects/*/locations/*`."
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/registrations",
                  "description": "Lists the `Registration` resources in a project.",
                  "response": {
                    "$ref": "ListRegistrationsResponse"
                  }
                },
                "retrieveGoogleDomainsDnsRecords": {
                  "description": "Lists the DNS records from the Google Domains DNS zone for domains that use the deprecated `google_domains_dns` in the `Registration`'s `dns_settings`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. When set to the `next_page_token` from a prior response, provides the next page of results.",
                      "type": "string",
                      "location": "query"
                    },
                    "registration": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/registrations/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the `Registration` whose Google Domains DNS records details you are retrieving, in the format `projects/*/locations/*/registrations/*`.",
                      "type": "string",
                      "required": true
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. Maximum number of results to return.",
                      "format": "int32",
                      "location": "query"
                    }
                  },
                  "id": "domains.projects.locations.registrations.retrieveGoogleDomainsDnsRecords",
                  "parameterOrder": [
                    "registration"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "RetrieveGoogleDomainsDnsRecordsResponse"
                  },
                  "path": "v1beta1/{+registration}:retrieveGoogleDomainsDnsRecords",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/registrations/{registrationsId}:retrieveGoogleDomainsDnsRecords"
                },
                "getIamPolicy": {
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/registrations/{registrationsId}:getIamPolicy",
                  "id": "domains.projects.locations.registrations.getIamPolicy",
                  "path": "v1beta1/{+resource}:getIamPolicy",
                  "parameterOrder": [
                    "resource"
                  ],
                  "response": {
                    "$ref": "Policy"
                  },
                  "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "options.requestedPolicyVersion": {
                      "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "resource": {
                      "type": "string",
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/registrations/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  }
                },
                "retrieveRegisterParameters": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "description": "Gets parameters needed to register a new domain name, including price and up-to-date availability. Use the returned values to call `RegisterDomain`.",
                  "path": "v1beta1/{+location}/registrations:retrieveRegisterParameters",
                  "parameters": {
                    "location": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The location. Must be in the format `projects/*/locations/*`."
                    },
                    "domainName": {
                      "location": "query",
                      "description": "Required. The domain name. Unicode domain names must be expressed in Punycode format.",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/registrations:retrieveRegisterParameters",
                  "parameterOrder": [
                    "location"
                  ],
                  "id": "domains.projects.locations.registrations.retrieveRegisterParameters",
                  "response": {
                    "$ref": "RetrieveRegisterParametersResponse"
                  }
                },
                "retrieveImportableDomains": {
                  "description": "Deprecated: For more information, see [Cloud Domains feature deprecation](https://cloud.google.com/domains/docs/deprecations/feature-deprecations) Lists domain names from [Google Domains](https://domains.google/) that can be imported to Cloud Domains using the `ImportDomain` method. Since individual users can own domains in Google Domains, the list of domains returned depends on the individual user making the call. Domains already managed by Cloud Domains are not returned.",
                  "parameterOrder": [
                    "location"
                  ],
                  "httpMethod": "GET",
                  "deprecated": true,
                  "response": {
                    "$ref": "RetrieveImportableDomainsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/registrations:retrieveImportableDomains",
                  "parameters": {
                    "location": {
                      "required": true,
                      "description": "Required. The location. Must be in the format `projects/*/locations/*`.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "description": "Maximum number of results to return.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "When set to the `next_page_token` from a prior response, provides the next page of results.",
                      "type": "string"
                    }
                  },
                  "path": "v1beta1/{+location}/registrations:retrieveImportableDomains",
                  "id": "domains.projects.locations.registrations.retrieveImportableDomains"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/registrations/{registrationsId}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/registrations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the `Registration` to get, in the format `projects/*/locations/*/registrations/*`.",
                      "type": "string"
                    }
                  },
                  "path": "v1beta1/{+name}",
                  "httpMethod": "GET",
                  "description": "Gets the details of a `Registration` resource.",
                  "id": "domains.projects.locations.registrations.get",
                  "response": {
                    "$ref": "Registration"
                  }
                },
                "renewDomain": {
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/registrations/{registrationsId}:renewDomain",
                  "parameters": {
                    "registration": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/registrations/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the `Registration` whish is being renewed, in the format `projects/*/locations/*/registrations/*`.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "domains.projects.locations.registrations.renewDomain",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "description": "Renews a recently expired domain. This method can only be called on domains that expired in the previous 30 days. After the renewal, the new expiration time of the domain is one year after the old expiration time and you are charged a `yearly_price` for the renewal.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "registration"
                  ],
                  "request": {
                    "$ref": "RenewDomainRequest"
                  },
                  "path": "v1beta1/{+registration}:renewDomain"
                }
              }
            }
          }
        }
      }
    }
  },
  "revision": "20260603",
  "protocol": "rest",
  "schemas": {
    "ResetAuthorizationCodeRequest": {
      "type": "object",
      "description": "Request for the `ResetAuthorizationCode` method.",
      "id": "ResetAuthorizationCodeRequest",
      "properties": {}
    },
    "Policy": {
      "properties": {
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "Binding"
          },
          "type": "array"
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte",
          "type": "string"
        },
        "version": {
          "format": "int32",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer"
        },
        "auditConfigs": {
          "items": {
            "$ref": "AuditConfig"
          },
          "type": "array",
          "description": "Specifies cloud audit logging configuration for this policy."
        }
      },
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "type": "object",
      "id": "Policy"
    },
    "ListRegistrationsResponse": {
      "properties": {
        "registrations": {
          "items": {
            "$ref": "Registration"
          },
          "type": "array",
          "description": "A list of `Registration`s."
        },
        "nextPageToken": {
          "type": "string",
          "description": "When present, there are more results to retrieve. Set `page_token` to this value on a subsequent call to get the next page of results."
        }
      },
      "description": "Response for the `ListRegistrations` method.",
      "id": "ListRegistrationsResponse",
      "type": "object"
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          }
        }
      },
      "description": "The response message for Locations.ListLocations."
    },
    "DomainForwarding": {
      "description": "Domain forwarding configuration.",
      "properties": {
        "sslEnabled": {
          "description": "If true, the forwarding works also over HTTPS.",
          "type": "boolean"
        },
        "pathForwarding": {
          "description": "If true, forwards the path after the domain name to the same path at the new address.",
          "type": "boolean"
        },
        "redirectType": {
          "description": "The redirect type.",
          "type": "string",
          "enum": [
            "REDIRECT_TYPE_UNSPECIFIED",
            "TEMPORARY",
            "PERMANENT"
          ],
          "enumDescriptions": [
            "Redirect Type is unspecified.",
            "301 redirect. Allows to propagate changes to the forwarding address quickly.",
            "302 redirect. Allows browsers to cache the forwarding address. This may help the address resolve more quickly. Changes may take longer to propagate"
          ]
        },
        "targetUri": {
          "type": "string",
          "description": "The target of the domain forwarding, i.e. the path to redirect the `subdomain` to."
        },
        "pemCertificate": {
          "description": "The PEM-encoded certificate chain.",
          "type": "string"
        },
        "subdomain": {
          "description": "The subdomain of the registered domain that is being forwarded. E.g. `www.example.com`, `example.com` (i.e. the registered domain itself) or `*.example.com` (i.e. all subdomains).",
          "type": "string"
        }
      },
      "id": "DomainForwarding",
      "type": "object"
    },
    "GeoPolicy": {
      "id": "GeoPolicy",
      "description": "Configures a `RRSetRoutingPolicy` that routes based on the geo location of the querying user.",
      "properties": {
        "enableFencing": {
          "type": "boolean",
          "description": "Without fencing, if health check fails for all configured items in the current geo bucket, we failover to the next nearest geo bucket. With fencing, if health checking is enabled, as long as some targets in the current geo bucket are healthy, we return only the healthy targets. However, if all targets are unhealthy, we don't failover to the next nearest bucket; instead, we return all the items in the current bucket even when all targets are unhealthy."
        },
        "item": {
          "type": "array",
          "description": "The primary geo routing configuration. If there are multiple items with the same location, an error is returned instead.",
          "items": {
            "$ref": "GeoPolicyItem"
          }
        }
      },
      "type": "object"
    },
    "Registration": {
      "description": "The `Registration` resource facilitates managing and configuring domain name registrations. There are several ways to create a new `Registration` resource: To create a new `Registration` resource, find a suitable domain name by calling the `SearchDomains` method with a query to see available domain name options. After choosing a name, call `RetrieveRegisterParameters` to ensure availability and obtain information like pricing, which is needed to build a call to `RegisterDomain`. Another way to create a new `Registration` is to transfer an existing domain from another registrar (Deprecated: For more information, see [Cloud Domains feature deprecation](https://cloud.google.com/domains/docs/deprecations/feature-deprecations)). First, go to the current registrar to unlock the domain for transfer and retrieve the domain's transfer authorization code. Then call `RetrieveTransferParameters` to confirm that the domain is unlocked and to get values needed to build a call to `TransferDomain`. Finally, you can create a new `Registration` by importing an existing domain managed with [Google Domains](https://domains.google/) (Deprecated: For more information, see [Cloud Domains feature deprecation](https://cloud.google.com/domains/docs/deprecations/feature-deprecations)). First, call `RetrieveImportableDomains` to list domains to which the calling user has sufficient access. Then call `ImportDomain` on any domain names you want to use with Cloud Domains.",
      "properties": {
        "contactSettings": {
          "$ref": "ContactSettings",
          "description": "Required. Settings for contact information linked to the `Registration`. You cannot update these with the `UpdateRegistration` method. To update these settings, use the `ConfigureContactSettings` method."
        },
        "expireTime": {
          "readOnly": true,
          "description": "Output only. The expiration timestamp of the `Registration`.",
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The creation timestamp of the `Registration` resource."
        },
        "domainProperties": {
          "items": {
            "enum": [
              "DOMAIN_PROPERTY_UNSPECIFIED",
              "TRANSFER_LOCK_UNSUPPORTED_BY_REGISTRY",
              "REQUIRE_PUSH_TRANSFER"
            ],
            "type": "string",
            "enumDescriptions": [
              "The property is undefined.",
              "The domain does not support transfer locks due to restrictions of the registry. Such domains are effectively always unlocked and any change made to `management_settings.transfer_lock_state` is ignored.",
              "The domain uses an alternative `Push Transfer` process to transfer the domain to another registrar. There are two important consequences: * Cloud Domains does not supply the authorization codes. * To initiate the process to transfer the domain to another registrar, you must provide a tag of the registrar you want to transfer to. You can do this by using the `InitiatePushTransfer` method. For more information, see [Transfer a registered domain to another registrar](https://cloud.google.com/domains/docs/transfer-domain-to-another-registrar)."
            ]
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Special properties of the domain."
        },
        "domainName": {
          "type": "string",
          "description": "Required. Immutable. The domain name. Unicode domain names must be expressed in Punycode format."
        },
        "registerFailureReason": {
          "enum": [
            "REGISTER_FAILURE_REASON_UNSPECIFIED",
            "REGISTER_FAILURE_REASON_UNKNOWN",
            "DOMAIN_NOT_AVAILABLE",
            "INVALID_CONTACTS"
          ],
          "description": "Output only. The reason the domain registration failed. Only set for domains in REGISTRATION_FAILED state.",
          "type": "string",
          "enumDescriptions": [
            "Register failure unspecified.",
            "Registration failed for an unknown reason.",
            "The domain is not available for registration.",
            "The provided contact information was rejected."
          ],
          "readOnly": true
        },
        "transferFailureReason": {
          "readOnly": true,
          "description": "Output only. Deprecated: For more information, see [Cloud Domains feature deprecation](https://cloud.google.com/domains/docs/deprecations/feature-deprecations). The reason the domain transfer failed. Only set for domains in TRANSFER_FAILED state.",
          "enumDescriptions": [
            "Transfer failure unspecified.",
            "Transfer failed for an unknown reason.",
            "An email confirmation sent to the user was rejected or expired.",
            "The domain is available for registration.",
            "The domain has a transfer lock with its current registrar which must be removed prior to transfer.",
            "The authorization code entered is not valid.",
            "The transfer was cancelled by the domain owner, current registrar, or TLD registry.",
            "The transfer was rejected by the current registrar. Contact the current registrar for more information.",
            "The registrant email address cannot be parsed from the domain's current public contact data.",
            "The domain is not eligible for transfer due requirements imposed by the current registrar or TLD registry.",
            "Another transfer is already pending for this domain. The existing transfer attempt must expire or be cancelled in order to proceed."
          ],
          "type": "string",
          "deprecated": true,
          "enum": [
            "TRANSFER_FAILURE_REASON_UNSPECIFIED",
            "TRANSFER_FAILURE_REASON_UNKNOWN",
            "EMAIL_CONFIRMATION_FAILURE",
            "DOMAIN_NOT_REGISTERED",
            "DOMAIN_HAS_TRANSFER_LOCK",
            "INVALID_AUTHORIZATION_CODE",
            "TRANSFER_CANCELLED",
            "TRANSFER_REJECTED",
            "INVALID_REGISTRANT_EMAIL_ADDRESS",
            "DOMAIN_NOT_ELIGIBLE_FOR_TRANSFER",
            "TRANSFER_ALREADY_PENDING"
          ]
        },
        "pendingContactSettings": {
          "$ref": "ContactSettings",
          "readOnly": true,
          "description": "Output only. Pending contact settings for the `Registration`. Updates to the `contact_settings` field that change its `registrant_contact` or `privacy` fields require email confirmation by the `registrant_contact` before taking effect. This field is set only if there are pending updates to the `contact_settings` that have not been confirmed. To confirm the changes, the `registrant_contact` must follow the instructions in the email they receive."
        },
        "issues": {
          "type": "array",
          "items": {
            "enum": [
              "ISSUE_UNSPECIFIED",
              "CONTACT_SUPPORT",
              "UNVERIFIED_EMAIL",
              "PROBLEM_WITH_BILLING",
              "DNS_NOT_ACTIVATED",
              "AUTO_RENEWAL_UPDATE_NOT_EFFECTIVE"
            ],
            "enumDescriptions": [
              "The issue is undefined.",
              "Contact the Cloud Support team to resolve a problem with this domain.",
              "[ICANN](https://icann.org/) requires verification of the email address in the `Registration`'s `contact_settings.registrant_contact` field. To verify the email address, follow the instructions in the email the `registrant_contact` receives following registration. If you do not complete email verification within 15 days of registration, the domain is suspended. To resend the verification email, call ConfigureContactSettings and provide the current `registrant_contact.email`.",
              "The billing account is not in good standing. The domain is not automatically renewed at its expiration time unless you resolve problems with your billing account.",
              "The registry failed to validate your DNS configuration and activate your domain. The failure might happen for the following reasons: * You recently registered the domain (wait up to 72 hours). * You provided invalid name servers or name servers that correspond to a newly created DNS zone. Verify your DNS configuration. If the configuration is incorrect, you must fix it. If the configuration is correct, either wait or call the ConfigureDnsSettings method to retry the registry validation.",
              "Due to SquareSpace's constraints, the auto-renewal update you made may not be effective during a certain period of time. Generally, the time period is 15 days before expiration for generic TLD domains, and 15 days before expiration + 3 days after expiration for country-code TLD domains."
            ],
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. The set of issues with the `Registration` that require attention."
        },
        "labels": {
          "type": "object",
          "description": "Set of labels associated with the `Registration`.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "dnsSettings": {
          "$ref": "DnsSettings",
          "description": "Settings controlling the DNS configuration of the `Registration`. You cannot update these with the `UpdateRegistration` method. To update these settings, use the `ConfigureDnsSettings` method."
        },
        "supportedPrivacy": {
          "readOnly": true,
          "description": "Output only. Set of options for the `contact_settings.privacy` field that this `Registration` supports.",
          "items": {
            "enumDescriptions": [
              "The contact privacy settings are undefined.",
              "All the data from `ContactSettings` is publicly available. When setting this option, you must also provide a `PUBLIC_CONTACT_DATA_ACKNOWLEDGEMENT` in the `contact_notices` field of the request.",
              "Deprecated: For more information, see [Cloud Domains feature deprecation](https://cloud.google.com/domains/docs/deprecations/feature-deprecations). None of the data from `ContactSettings` is publicly available. Instead, proxy contact data is published for your domain. Email sent to the proxy email address is forwarded to the registrant's email address. Cloud Domains provides this privacy proxy service at no additional cost.",
              "The organization name (if provided) and limited non-identifying data from `ContactSettings` is available to the public (e.g. country and state). The remaining data is marked as `REDACTED FOR PRIVACY` in the WHOIS database. The actual information redacted depends on the domain. For details, see [the registration privacy article](https://support.google.com/domains/answer/3251242)."
            ],
            "type": "string",
            "enum": [
              "CONTACT_PRIVACY_UNSPECIFIED",
              "PUBLIC_CONTACT_DATA",
              "PRIVATE_CONTACT_DATA",
              "REDACTED_CONTACT_DATA"
            ],
            "enumDeprecated": [
              false,
              false,
              true,
              false
            ]
          },
          "type": "array"
        },
        "name": {
          "description": "Output only. Name of the `Registration` resource, in the format `projects/*/locations/*/registrations/`.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            true,
            true,
            false,
            false,
            false,
            false
          ],
          "type": "string",
          "enumDescriptions": [
            "The state is undefined.",
            "The domain is being registered.",
            "The domain registration failed. You can delete resources in this state to allow registration to be retried.",
            "The domain is being transferred from another registrar to Cloud Domains.",
            "The attempt to transfer the domain from another registrar to Cloud Domains failed. You can delete resources in this state and retry the transfer.",
            "The domain is being imported from Google Domains to Cloud Domains.",
            "The domain is registered and operational. The domain renews automatically as long as it remains in this state and the `RenewalMethod` is set to `AUTOMATIC_RENEWAL`.",
            "The domain is suspended and inoperative. For more details, see the `issues` field.",
            "The domain is no longer managed with Cloud Domains. It may have been transferred to another registrar or exported for management in [Google Domains](https://domains.google/). You can no longer update it with this API, and information shown about it may be stale. Domains in this state are not automatically renewed by Cloud Domains.",
            "The domain is expired."
          ],
          "description": "Output only. The state of the `Registration`",
          "enum": [
            "STATE_UNSPECIFIED",
            "REGISTRATION_PENDING",
            "REGISTRATION_FAILED",
            "TRANSFER_PENDING",
            "TRANSFER_FAILED",
            "IMPORT_PENDING",
            "ACTIVE",
            "SUSPENDED",
            "EXPORTED",
            "EXPIRED"
          ]
        },
        "managementSettings": {
          "$ref": "ManagementSettings",
          "description": "Settings for management of the `Registration`, including renewal, billing, and transfer. You cannot update these with the `UpdateRegistration` method. To update these settings, use the `ConfigureManagementSettings` method."
        }
      },
      "type": "object",
      "id": "Registration"
    },
    "CustomDns": {
      "type": "object",
      "properties": {
        "nameServers": {
          "items": {
            "type": "string"
          },
          "description": "Required. A list of name servers that store the DNS zone for this domain. Each name server is a domain name, with Unicode domain names expressed in Punycode format.",
          "type": "array"
        },
        "dsRecords": {
          "description": "The list of DS records for this domain, which are used to enable DNSSEC. The domain's DNS provider can provide the values to set here. If this field is empty, DNSSEC is disabled.",
          "type": "array",
          "items": {
            "$ref": "DsRecord"
          }
        }
      },
      "description": "Configuration for an arbitrary DNS provider.",
      "id": "CustomDns"
    },
    "Operation": {
      "type": "object",
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        }
      }
    },
    "OperationMetadata": {
      "type": "object",
      "properties": {
        "endTime": {
          "description": "The time the operation finished running.",
          "format": "google-datetime",
          "type": "string"
        },
        "statusDetail": {
          "type": "string",
          "description": "Human-readable status of the operation, if any."
        },
        "target": {
          "description": "Server-defined resource path for the target of the operation.",
          "type": "string"
        },
        "createTime": {
          "description": "The time the operation was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "apiVersion": {
          "type": "string",
          "description": "API version used to start the operation."
        },
        "verb": {
          "description": "Name of the verb executed by the operation.",
          "type": "string"
        }
      },
      "description": "Represents the metadata of the long-running operation. Output only.",
      "id": "OperationMetadata"
    },
    "RetrieveGoogleDomainsForwardingConfigResponse": {
      "type": "object",
      "id": "RetrieveGoogleDomainsForwardingConfigResponse",
      "description": "Response for the `RetrieveGoogleDomainsForwardingConfig` method.",
      "properties": {
        "emailForwardings": {
          "type": "array",
          "items": {
            "$ref": "EmailForwarding"
          },
          "description": "The list of email forwarding configurations. A forwarding configuration might not work correctly if the required DNS records are not present in the domain's authoritative DNS zone."
        },
        "domainForwardings": {
          "description": "The list of domain forwarding configurations. A forwarding configuration might not work correctly if the required DNS records are not present in the domain's authoritative DNS zone.",
          "type": "array",
          "items": {
            "$ref": "DomainForwarding"
          }
        }
      }
    },
    "Binding": {
      "description": "Associates `members`, or principals, with a `role`.",
      "type": "object",
      "properties": {
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
        }
      },
      "id": "Binding"
    },
    "RetrieveGoogleDomainsDnsRecordsResponse": {
      "type": "object",
      "properties": {
        "rrset": {
          "items": {
            "$ref": "ResourceRecordSet"
          },
          "type": "array",
          "description": "The resource record set resources (DNS Zone records)."
        },
        "nextPageToken": {
          "description": "When present, there are more results to retrieve. Set `page_token` to this value on a subsequent call to get the next page of results.",
          "type": "string"
        }
      },
      "description": "Response for the `RetrieveGoogleDomainsDnsRecords` method.",
      "id": "RetrieveGoogleDomainsDnsRecordsResponse"
    },
    "RRSetRoutingPolicy": {
      "id": "RRSetRoutingPolicy",
      "type": "object",
      "description": "A RRSetRoutingPolicy represents ResourceRecordSet data that is returned dynamically with the response varying based on configured properties such as geolocation or by weighted random selection.",
      "properties": {
        "wrr": {
          "$ref": "WrrPolicy"
        },
        "healthCheck": {
          "type": "string",
          "description": "The fully qualified URL of the HealthCheck to use for this RRSetRoutingPolicy. Format this URL like `https://www.googleapis.com/compute/v1/projects/{project}/global/healthChecks/{healthCheck}`. https://cloud.google.com/compute/docs/reference/rest/v1/healthChecks"
        },
        "geoPolicy": {
          "deprecated": true,
          "$ref": "GeoPolicy"
        },
        "geo": {
          "$ref": "GeoPolicy"
        },
        "primaryBackup": {
          "$ref": "PrimaryBackupPolicy"
        },
        "wrrPolicy": {
          "$ref": "WrrPolicy",
          "deprecated": true
        }
      }
    },
    "RegisterDomainRequest": {
      "properties": {
        "yearlyPrice": {
          "description": "Required. Yearly price to register or renew the domain. The value that should be put here can be obtained from RetrieveRegisterParameters or SearchDomains calls.",
          "$ref": "Money"
        },
        "contactNotices": {
          "type": "array",
          "description": "The list of contact notices that the caller acknowledges. The notices needed here depend on the values specified in `registration.contact_settings`.",
          "items": {
            "enum": [
              "CONTACT_NOTICE_UNSPECIFIED",
              "PUBLIC_CONTACT_DATA_ACKNOWLEDGEMENT"
            ],
            "enumDescriptions": [
              "The notice is undefined.",
              "Required when setting the `privacy` field of `ContactSettings` to `PUBLIC_CONTACT_DATA`, which exposes contact data publicly."
            ],
            "type": "string"
          }
        },
        "domainNotices": {
          "type": "array",
          "description": "The list of domain notices that you acknowledge. Call `RetrieveRegisterParameters` to see the notices that need acknowledgement.",
          "items": {
            "enum": [
              "DOMAIN_NOTICE_UNSPECIFIED",
              "HSTS_PRELOADED"
            ],
            "enumDescriptions": [
              "The notice is undefined.",
              "Indicates that the domain is preloaded on the HTTP Strict Transport Security list in browsers. Serving a website on such domain requires an SSL certificate. For details, see [how to get an SSL certificate](https://support.google.com/domains/answer/7638036)."
            ],
            "type": "string"
          }
        },
        "registration": {
          "description": "Required. The complete `Registration` resource to be created.",
          "$ref": "Registration"
        },
        "validateOnly": {
          "type": "boolean",
          "description": "When true, only validation is performed, without actually registering the domain. Follows: https://cloud.google.com/apis/design/design_patterns#request_validation"
        }
      },
      "type": "object",
      "description": "Request for the `RegisterDomain` method.",
      "id": "RegisterDomainRequest"
    },
    "ImportDomainRequest": {
      "type": "object",
      "id": "ImportDomainRequest",
      "properties": {
        "domainName": {
          "description": "Required. The domain name. Unicode domain names must be expressed in Punycode format.",
          "type": "string"
        },
        "labels": {
          "description": "Set of labels associated with the `Registration`.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "deprecated": true,
      "description": "Deprecated: For more information, see [Cloud Domains feature deprecation](https://cloud.google.com/domains/docs/deprecations/feature-deprecations). Request for the `ImportDomain` method."
    },
    "ConfigureDnsSettingsRequest": {
      "description": "Request for the `ConfigureDnsSettings` method.",
      "properties": {
        "updateMask": {
          "description": "Required. The field mask describing which fields to update as a comma-separated list. For example, if only the name servers are being updated for an existing Custom DNS configuration, the `update_mask` is `\"custom_dns.name_servers\"`. When changing the DNS provider from one type to another, pass the new provider's field name as part of the field mask. For example, when changing from a Google Domains DNS configuration to a Custom DNS configuration, the `update_mask` is `\"custom_dns\"`. //",
          "type": "string",
          "format": "google-fieldmask"
        },
        "validateOnly": {
          "type": "boolean",
          "description": "Validate the request without actually updating the DNS settings."
        },
        "dnsSettings": {
          "description": "Fields of the `DnsSettings` to update.",
          "$ref": "DnsSettings"
        }
      },
      "type": "object",
      "id": "ConfigureDnsSettingsRequest"
    },
    "DsRecord": {
      "id": "DsRecord",
      "properties": {
        "digestType": {
          "type": "string",
          "enumDescriptions": [
            "The DigestType is unspecified.",
            "SHA-1. Not recommended for new deployments.",
            "SHA-256.",
            "GOST R 34.11-94.",
            "SHA-384."
          ],
          "enum": [
            "DIGEST_TYPE_UNSPECIFIED",
            "SHA1",
            "SHA256",
            "GOST3411",
            "SHA384"
          ],
          "description": "The hash function used to generate the digest of the referenced DNSKEY."
        },
        "digest": {
          "description": "The digest generated from the referenced DNSKEY.",
          "type": "string"
        },
        "algorithm": {
          "enumDescriptions": [
            "The algorithm is unspecified.",
            "RSA/MD5. Cannot be used for new deployments.",
            "Diffie-Hellman. Cannot be used for new deployments.",
            "DSA/SHA1. Not recommended for new deployments.",
            "ECC. Not recommended for new deployments.",
            "RSA/SHA-1. Not recommended for new deployments.",
            "DSA-NSEC3-SHA1. Not recommended for new deployments.",
            "RSA/SHA1-NSEC3-SHA1. Not recommended for new deployments.",
            "RSA/SHA-256.",
            "RSA/SHA-512.",
            "GOST R 34.10-2001.",
            "ECDSA Curve P-256 with SHA-256.",
            "ECDSA Curve P-384 with SHA-384.",
            "Ed25519.",
            "Ed448.",
            "Reserved for Indirect Keys. Cannot be used for new deployments.",
            "Private algorithm. Cannot be used for new deployments.",
            "Private algorithm OID. Cannot be used for new deployments."
          ],
          "enum": [
            "ALGORITHM_UNSPECIFIED",
            "RSAMD5",
            "DH",
            "DSA",
            "ECC",
            "RSASHA1",
            "DSANSEC3SHA1",
            "RSASHA1NSEC3SHA1",
            "RSASHA256",
            "RSASHA512",
            "ECCGOST",
            "ECDSAP256SHA256",
            "ECDSAP384SHA384",
            "ED25519",
            "ED448",
            "INDIRECT",
            "PRIVATEDNS",
            "PRIVATEOID"
          ],
          "description": "The algorithm used to generate the referenced DNSKEY.",
          "type": "string"
        },
        "keyTag": {
          "format": "int32",
          "type": "integer",
          "description": "The key tag of the record. Must be set in range 0 -- 65535."
        }
      },
      "description": "Defines a Delegation Signer (DS) record, which is needed to enable DNSSEC for a domain. It contains a digest (hash) of a DNSKEY record that must be present in the domain's DNS zone.",
      "type": "object"
    },
    "ResourceRecordSet": {
      "type": "object",
      "description": "A unit of data that is returned by the DNS servers.",
      "properties": {
        "signatureRrdata": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "As defined in RFC 4034 (section 3.2)."
        },
        "rrdata": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "As defined in RFC 1035 (section 5) and RFC 1034 (section 3.6.1) -- see examples."
        },
        "routingPolicy": {
          "$ref": "RRSetRoutingPolicy",
          "description": "Configures dynamic query responses based on either the geo location of the querying user or a weighted round robin based routing policy. A valid `ResourceRecordSet` contains only `rrdata` (for static resolution) or a `routing_policy` (for dynamic resolution)."
        },
        "name": {
          "type": "string",
          "description": "For example, www.example.com."
        },
        "type": {
          "description": "The identifier of a supported record type. See the list of Supported DNS record types.",
          "type": "string"
        },
        "ttl": {
          "description": "Number of seconds that this `ResourceRecordSet` can be cached by resolvers.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "ResourceRecordSet"
    },
    "HealthCheckTargets": {
      "id": "HealthCheckTargets",
      "properties": {
        "internalLoadBalancer": {
          "type": "array",
          "description": "Configuration for internal load balancers to be health checked.",
          "items": {
            "$ref": "LoadBalancerTarget"
          }
        },
        "externalEndpoints": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The Internet IP addresses to be health checked. The format matches the format of ResourceRecordSet.rrdata as defined in RFC 1035 (section 5) and RFC 1034 (section 3.6.1)"
        }
      },
      "type": "object",
      "description": "HealthCheckTargets describes endpoints to health-check when responding to Routing Policy queries. Only the healthy endpoints will be included in the response. Set either `internal_load_balancer` or `external_endpoints`. Do not set both."
    },
    "InitiatePushTransferRequest": {
      "type": "object",
      "id": "InitiatePushTransferRequest",
      "description": "Request for the `InitiatePushTransfer` method.",
      "properties": {
        "validateOnly": {
          "type": "boolean",
          "description": "Optional. If set, validates the request without actually initiating the transfer."
        },
        "tag": {
          "description": "Required. The Tag of the new registrar. Can be found at [List of registrars](https://nominet.uk/registrar-list/).",
          "type": "string"
        }
      }
    },
    "AuditConfig": {
      "id": "AuditConfig",
[...]
