{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/doubleclickbidmanager": {
          "description": "View and manage your reports in DoubleClick Bid Manager"
        }
      }
    }
  },
  "canonicalName": "DoubleClick Bid Manager",
  "basePath": "/v2/",
  "mtlsRootUrl": "https://doubleclickbidmanager.mtls.googleapis.com/",
  "batchPath": "batch",
  "servicePath": "v2/",
  "baseUrl": "https://doubleclickbidmanager.googleapis.com/v2/",
  "documentationLink": "https://developers.google.com/bid-manager/",
  "discoveryVersion": "v1",
  "name": "doubleclickbidmanager",
  "ownerName": "Google",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "title": "DoubleClick Bid Manager API",
  "version": "v2",
  "id": "doubleclickbidmanager:v2",
  "parameters": {
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "rootUrl": "https://doubleclickbidmanager.googleapis.com/",
  "revision": "20260902",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "description": "DoubleClick Bid Manager API allows users to manage and create campaigns and reports.",
  "resources": {
    "queries": {
      "methods": {
        "run": {
          "flatPath": "queries/{queryId}:run",
          "response": {
            "$ref": "Report"
          },
          "path": "queries/{queryId}:run",
          "parameterOrder": [
            "queryId"
          ],
          "parameters": {
            "synchronous": {
              "description": "Whether the query should be run synchronously. When `true`, the request won't return until the resulting report has finished running. This parameter is `false` by default. Setting this parameter to `true` is **not recommended**.",
              "type": "boolean",
              "location": "query"
            },
            "queryId": {
              "format": "int64",
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Required. The ID of the query to run."
            }
          },
          "request": {
            "$ref": "RunQueryRequest"
          },
          "id": "doubleclickbidmanager.queries.run",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "description": "Runs an existing query to generate a report.",
          "httpMethod": "POST"
        },
        "list": {
          "path": "queries",
          "id": "doubleclickbidmanager.queries.list",
          "description": "Lists queries created by the current user.",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "parameters": {
            "orderBy": {
              "location": "query",
              "type": "string",
              "description": "Field to sort the list by. Accepts the following values: * `queryId` (default) * `metadata.title` The default sorting order is ascending. To specify descending order for a field, add the suffix `desc` to the field name. For example, `queryId desc`."
            },
            "pageToken": {
              "type": "string",
              "description": "A token identifying which page of results the server should return. Typically, this is the value of nextPageToken, returned from the previous call to the `queries.list` method. If unspecified, the first page of results is returned.",
              "location": "query"
            },
            "pageSize": {
              "location": "query",
              "description": "Maximum number of results per page. Must be between `1` and `100`. Defaults to `100` if unspecified.",
              "type": "integer",
              "format": "int32"
            }
          },
          "parameterOrder": [],
          "flatPath": "queries",
          "response": {
            "$ref": "ListQueriesResponse"
          },
          "httpMethod": "GET"
        },
        "create": {
          "description": "Creates a new query.",
          "id": "doubleclickbidmanager.queries.create",
          "path": "queries",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "parameterOrder": [],
          "httpMethod": "POST",
          "request": {
            "$ref": "Query"
          },
          "flatPath": "queries",
          "response": {
            "$ref": "Query"
          }
        },
        "get": {
          "httpMethod": "GET",
          "description": "Retrieves a query.",
          "flatPath": "queries/{queryId}",
          "response": {
            "$ref": "Query"
          },
          "parameterOrder": [
            "queryId"
          ],
          "parameters": {
            "queryId": {
              "required": true,
              "location": "path",
              "description": "Required. The ID of the query to retrieve.",
              "type": "string",
              "format": "int64"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "path": "queries/{queryId}",
          "id": "doubleclickbidmanager.queries.get"
        },
        "delete": {
          "parameters": {
            "queryId": {
              "type": "string",
              "description": "Required. The ID of the query to delete.",
              "location": "path",
              "required": true,
              "format": "int64"
            }
          },
          "httpMethod": "DELETE",
          "parameterOrder": [
            "queryId"
          ],
          "id": "doubleclickbidmanager.queries.delete",
          "description": "Deletes an existing query as well as its generated reports.",
          "flatPath": "queries/{queryId}",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "path": "queries/{queryId}"
        }
      },
      "resources": {
        "reports": {
          "methods": {
            "list": {
              "flatPath": "queries/{queryId}/reports",
              "response": {
                "$ref": "ListReportsResponse"
              },
              "parameters": {
                "pageToken": {
                  "description": "A token identifying which page of results the server should return. Typically, this is the value of nextPageToken returned from the previous call to the `queries.reports.list` method. If unspecified, the first page of results is returned.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Maximum number of results per page. Must be between `1` and `100`. Defaults to `100` if unspecified.",
                  "location": "query",
                  "format": "int32"
                },
                "queryId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The ID of the query that generated the reports.",
                  "format": "int64"
                },
                "orderBy": {
                  "location": "query",
                  "description": "Field to sort the list by. Accepts the following values: * `key.reportId` (default) The default sorting order is ascending. To specify descending order for a field, add the suffix `desc` to the field name. For example, `key.reportId desc`.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclickbidmanager"
              ],
              "description": "Lists reports generated by the provided query.",
              "id": "doubleclickbidmanager.queries.reports.list",
              "path": "queries/{queryId}/reports",
              "httpMethod": "GET",
              "parameterOrder": [
                "queryId"
              ]
            },
            "get": {
              "id": "doubleclickbidmanager.queries.reports.get",
              "path": "queries/{queryId}/reports/{reportId}",
              "description": "Retrieves a report.",
              "parameters": {
                "reportId": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The ID of the query to retrieve.",
                  "format": "int64",
                  "required": true
                },
                "queryId": {
                  "location": "path",
                  "required": true,
                  "format": "int64",
                  "type": "string",
                  "description": "Required. The ID of the query that generated the report."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclickbidmanager"
              ],
              "flatPath": "queries/{queryId}/reports/{reportId}",
              "response": {
                "$ref": "Report"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "queryId",
                "reportId"
              ]
            }
          }
        }
      }
    }
  },
  "schemas": {
    "Date": {
      "type": "object",
      "properties": {
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32",
          "type": "integer"
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32",
          "type": "integer"
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "Date",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "QueryMetadata": {
      "type": "object",
      "id": "QueryMetadata",
      "properties": {
        "sendNotification": {
          "type": "boolean",
          "description": "Whether an email notification is sent to the query creator when a report generated by the query is ready. This value is `false` by default."
        },
        "title": {
          "type": "string",
          "description": "The display name of the query. This value will be used in the file name of reports generated by the query."
        },
        "dataRange": {
          "$ref": "DataRange",
          "description": "The date range the report generated by the query will report on. This date range will be defined by the time zone as used by the advertiser."
        },
        "shareEmailAddress": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of additional email addresses with which to share the query. If send_notification is `true`, these email addresses will receive a notification when a report generated by the query is ready. If these email addresses are connected to Display & Video 360 users, the query will be available to them in the Display & Video 360 interface."
        },
        "format": {
          "enum": [
            "FORMAT_UNSPECIFIED",
            "CSV",
            "XLSX"
          ],
          "description": "The format of the report generated by the query.",
          "type": "string",
          "enumDescriptions": [
            "Default value when format is not specified or is unknown in this version.",
            "CSV.",
            "Excel."
          ]
        }
      },
      "description": "The metadata of the query."
    },
    "ListReportsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `queries.reports.list` method to retrieve the next page of results."
        },
        "reports": {
          "items": {
            "$ref": "Report"
          },
          "type": "array",
          "description": "The list of reports. This field will be absent if empty."
        }
      },
      "id": "ListReportsResponse",
      "type": "object"
    },
    "ListQueriesResponse": {
      "id": "ListQueriesResponse",
      "type": "object",
      "properties": {
        "queries": {
          "type": "array",
          "items": {
            "$ref": "Query"
          },
          "description": "The list of queries. This field will be absent if empty."
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `queries.list` method to retrieve the next page of results.",
          "type": "string"
        }
      }
    },
    "ReportStatus": {
      "properties": {
        "format": {
          "type": "string",
          "enumDescriptions": [
            "Default value when format is not specified or is unknown in this version.",
            "CSV.",
            "Excel."
          ],
          "enum": [
            "FORMAT_UNSPECIFIED",
            "CSV",
            "XLSX"
          ],
          "description": "The format of the generated report file."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "QUEUED",
            "RUNNING",
            "DONE",
            "FAILED"
          ],
          "enumDescriptions": [
            "Default value when state is not specified or is unknown in this version.",
            "The report is queued to run.",
            "The report is currently running.",
            "The report has finished running successfully.",
            "The report has finished running in failure."
          ],
          "type": "string",
          "description": "Output only. The state of the report generation.",
          "readOnly": true
        },
        "finishTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp of when report generation finished successfully or in failure. This field will not be set unless state is `DONE` or `FAILED`."
        }
      },
      "type": "object",
      "description": "The status of a report.",
      "id": "ReportStatus"
    },
    "Report": {
      "description": "A single report generated by its parent report.",
      "properties": {
        "params": {
          "description": "The parameters of the report.",
          "$ref": "Parameters"
        },
        "key": {
          "description": "The key information identifying the report.",
          "$ref": "ReportKey"
        },
        "metadata": {
          "description": "The metadata of the report.",
          "$ref": "ReportMetadata"
        }
      },
      "type": "object",
      "id": "Report"
    },
    "Options": {
      "id": "Options",
      "type": "object",
      "description": "Report parameter options.",
      "properties": {
        "includeOnlyTargetedUserLists": {
          "description": "Whether to include data for audience lists specifically targeted by filtered line items or insertion orders. Requires the use of `FILTER_INSERTION_ORDER` or `FILTER_LINE_ITEM` filters.",
          "type": "boolean"
        }
      }
    },
    "RunQueryRequest": {
      "type": "object",
      "properties": {
        "dataRange": {
          "$ref": "DataRange",
          "description": "The date range used by the query to generate the report. If unspecified, the query's original data_range is used."
        }
      },
      "description": "Details specifying how to run a query.",
      "id": "RunQueryRequest"
    },
    "FilterPair": {
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of value to filter by. Defined by a [Filter](/bid-manager/reference/rest/v2/filters-metrics#filters) value."
        },
        "value": {
          "description": "The identifying value to filter by, such as a relevant resource ID.",
          "type": "string"
        }
      },
      "description": "Represents a single filter rule.",
      "id": "FilterPair",
      "type": "object"
    },
    "DataRange": {
      "description": "The date range to be reported on.",
      "properties": {
        "customStartDate": {
          "description": "If `CUSTOM_DATES` is assigned to range, this field specifies the starting date for the date range that is reported on. This field is required if using `CUSTOM_DATES` range and will be ignored otherwise.",
          "$ref": "Date"
        },
        "customEndDate": {
          "description": "If `CUSTOM_DATES` is assigned to range, this field specifies the end date for the date range that is reported on. This field is required if using `CUSTOM_DATES` range and will be ignored otherwise.",
          "$ref": "Date"
        },
        "range": {
          "enumDescriptions": [
            "Default value when range is not specified or is unknown in this version.",
            "Custom date range.",
            "Current day.",
            "Previous day.",
            "All days, including the current day, since the most recent Sunday.",
            "All days, including the current day, since the start of the current month.",
            "All days, including the current day, since the start of the current quarter.",
            "All days, including the current day, since the start of the current calendar year.",
            "The previous completed week, beginning from Sunday.",
            "The previous completed calendar month.",
            "The previous completed quarter.",
            "The previous completed calendar year.",
            "The previous 7 days, excluding the current day.",
            "The previous 30 days, excluding the current day.",
            "The previous 90 days, excluding the current day.",
            "The previous 365 days, excluding the current day.",
            "All time for which data is available, excluding the current day.",
            "The previous 14 days, excluding the current day.",
            "The previous 60 days, excluding the current day."
          ],
          "enum": [
            "RANGE_UNSPECIFIED",
            "CUSTOM_DATES",
            "CURRENT_DAY",
            "PREVIOUS_DAY",
            "WEEK_TO_DATE",
            "MONTH_TO_DATE",
            "QUARTER_TO_DATE",
            "YEAR_TO_DATE",
            "PREVIOUS_WEEK",
            "PREVIOUS_MONTH",
            "PREVIOUS_QUARTER",
            "PREVIOUS_YEAR",
            "LAST_7_DAYS",
            "LAST_30_DAYS",
            "LAST_90_DAYS",
            "LAST_365_DAYS",
            "ALL_TIME",
            "LAST_14_DAYS",
            "LAST_60_DAYS"
          ],
          "description": "The preset date range to be reported on. If `CUSTOM_DATES` is assigned to this field, fields custom_start_date and custom_end_date must be set to specify the custom date range.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "DataRange"
    },
    "ReportMetadata": {
      "properties": {
        "googleCloudStoragePath": {
          "description": "Output only. The location of the generated report file in Google Cloud Storage. This field will be absent if status.state is not `DONE`.",
          "readOnly": true,
          "type": "string"
        },
        "status": {
          "$ref": "ReportStatus",
          "description": "The status of the report."
        },
        "reportDataEndDate": {
          "$ref": "Date",
          "description": "The end date of the report data date range."
        },
        "reportDataStartDate": {
          "description": "The start date of the report data date range.",
          "$ref": "Date"
        }
      },
      "id": "ReportMetadata",
      "type": "object",
      "description": "The metadata of a report."
    },
    "QuerySchedule": {
      "id": "QuerySchedule",
      "properties": {
        "nextRunTimezoneCode": {
          "description": "The canonical code for the timezone the query schedule is based on. Scheduled runs are usually conducted in the morning of a given day. Defaults to `America/New_York`.",
          "type": "string"
        },
        "endDate": {
          "description": "The date on which to end the scheduled runs. This field is required if frequency is not set to `ONE_TIME`. Otherwise, it will be ignored.",
          "$ref": "Date"
        },
        "startDate": {
          "$ref": "Date",
          "description": "The date on which to begin the scheduled runs. This field is required if frequency is not set to `ONE_TIME`. Otherwise, it will be ignored."
        },
        "frequency": {
          "description": "How frequently to run the query. If set to `ONE_TIME`, the query will only be run when queries.run is called.",
          "type": "string",
          "enum": [
            "FREQUENCY_UNSPECIFIED",
            "ONE_TIME",
            "DAILY",
            "WEEKLY",
            "SEMI_MONTHLY",
            "MONTHLY",
            "QUARTERLY",
            "YEARLY"
          ],
          "enumDescriptions": [
            "Default value when frequency is not specified or is unknown in this version.",
            "Only when the query is run manually.",
            "Once a day.",
            "Once a week.",
            "Twice a month.",
            "Once a month.",
            "Once a quarter.",
            "Once a year."
          ]
        }
      },
      "type": "object",
      "description": "Settings on when and how frequently to run a query."
    },
    "Parameters": {
      "id": "Parameters",
      "type": "object",
      "description": "Parameters of a generated report.",
      "properties": {
        "type": {
          "enum": [
            "REPORT_TYPE_UNSPECIFIED",
            "STANDARD",
            "INVENTORY_AVAILABILITY",
            "AUDIENCE_COMPOSITION",
            "FLOODLIGHT",
            "YOUTUBE",
            "GRP",
            "YOUTUBE_PROGRAMMATIC_GUARANTEED",
            "REACH",
            "UNIQUE_REACH_AUDIENCE",
            "FULL_PATH",
            "PATH_ATTRIBUTION"
          ],
          "type": "string",
          "description": "The type of the report. The type of the report determines the dimesions, filters, and metrics that can be used.",
          "enumDescriptions": [
            "Default value when report type is not specified or is unknown in this version.",
            "Standard report.",
            "Inventory Availability report.",
            "Audience Composition report.",
            "Floodlight report.",
            "YouTube report.",
            "GRP report.",
            "YouTube Programmatic Guaranteed report.",
            "Reach report.",
            "Unique Reach Audience report.",
            "Full Path report.",
            "Path Attribution report."
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            true
          ]
        },
        "options": {
          "$ref": "Options",
          "description": "Additional report parameter options."
        },
        "groupBys": {
          "description": "Dimensions by which to segment and group the data. Defined by [Filter](/bid-manager/reference/rest/v2/filters-metrics#filters) values.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "filters": {
          "items": {
            "$ref": "FilterPair"
          },
          "description": "Filters to limit the scope of reported data.",
          "type": "array"
        },
        "metrics": {
          "description": "Metrics to define the data populating the report. Defined by [Metric](/bid-manager/reference/rest/v2/filters-metrics#metrics) values.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "Query": {
      "description": "A single query used to generate a report.",
      "type": "object",
      "properties": {
        "queryId": {
          "description": "Output only. The unique ID of the query.",
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "params": {
          "$ref": "Parameters",
          "description": "The parameters of the report generated by the query."
        },
        "metadata": {
          "description": "The metadata of the query.",
          "$ref": "QueryMetadata"
        },
        "schedule": {
          "description": "When and how often the query is scheduled to run. If the frequency field is set to `ONE_TIME`, the query will only run when queries.run is called.",
          "$ref": "QuerySchedule"
        }
      },
      "id": "Query"
    },
    "ReportKey": {
      "description": "Identifying information of a report.",
      "properties": {
        "queryId": {
          "description": "Output only. The unique ID of the query that generated the report.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "reportId": {
          "description": "Output only. The unique ID of the report.",
          "format": "int64",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "ReportKey"
    }
  },
  "kind": "discovery#restDescription"
}