{
  "id": "doubleclicksearch:v2",
  "protocol": "rest",
  "revision": "20260911",
  "discoveryVersion": "v1",
  "name": "doubleclicksearch",
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "alt": {
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    }
  },
  "documentationLink": "https://developers.google.com/search-ads",
  "rootUrl": "https://doubleclicksearch.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/doubleclicksearch": {
          "description": "View and manage your advertising data in DoubleClick Search"
        }
      }
    }
  },
  "version": "v2",
  "basePath": "",
  "title": "Search Ads 360 API",
  "schemas": {
    "UpdateAvailabilityResponse": {
      "id": "UpdateAvailabilityResponse",
      "properties": {
        "availabilities": {
          "items": {
            "$ref": "Availability"
          },
          "description": "The availabilities being returned.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "The response to a update availability request."
    },
    "UpdateAvailabilityRequest": {
      "description": "The request to update availability.",
      "type": "object",
      "id": "UpdateAvailabilityRequest",
      "properties": {
        "availabilities": {
          "type": "array",
          "description": "The availabilities being requested.",
          "items": {
            "$ref": "Availability"
          }
        }
      }
    },
    "ReportRequest": {
      "id": "ReportRequest",
      "type": "object",
      "properties": {
        "rowCount": {
          "format": "int32",
          "description": "Synchronous report only. The maximum number of rows to return; additional rows are dropped. Acceptable values are `0` to `10000`, inclusive. Defaults to `10000`.",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate"
            ]
          },
          "type": "integer"
        },
        "orderBy": {
          "description": "Synchronous report only. A list of columns and directions defining sorting to be performed on the report rows.\\ The maximum number of orderings per request is 300.",
          "items": {
            "type": "object",
            "properties": {
              "column": {
                "description": "Column to perform the sort on. This can be a DoubleClick Search-defined column or a saved column.",
                "$ref": "ReportApiColumnSpec"
              },
              "sortOrder": {
                "type": "string",
                "description": "The sort direction, which is either `ascending` or `descending`."
              }
            }
          },
          "type": "array"
        },
        "statisticsCurrency": {
          "type": "string",
          "description": "Specifies the currency in which monetary will be returned. Possible values are: `usd`, `agency` (valid if the report is scoped to agency or lower), `advertiser` (valid if the report is scoped to * advertiser or lower), or `account` (valid if the report is scoped to engine account or lower).",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate",
              "doubleclicksearch.reports.request"
            ]
          }
        },
        "verifySingleTimeZone": {
          "type": "boolean",
          "description": "If `true`, the report would only be created if all the requested stat data are sourced from a single timezone. Defaults to `false`."
        },
        "startRow": {
          "format": "int32",
          "type": "integer",
          "description": "Synchronous report only. Zero-based index of the first row to return. Acceptable values are `0` to `50000`, inclusive. Defaults to `0`.",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate"
            ]
          }
        },
        "columns": {
          "items": {
            "$ref": "ReportApiColumnSpec"
          },
          "description": "The columns to include in the report. This includes both DoubleClick Search columns and saved columns. For DoubleClick Search columns, only the `columnName` parameter is required. For saved columns only the `savedColumnName` parameter is required. Both `columnName` and `savedColumnName` cannot be set in the same stanza.\\ The maximum number of columns per request is 300.",
          "type": "array"
        },
        "includeDeletedEntities": {
          "type": "boolean",
          "description": "Determines if removed entities should be included in the report. Defaults to `false`. Deprecated, please use `includeRemovedEntities` instead."
        },
        "maxRowsPerFile": {
          "type": "integer",
          "description": "Asynchronous report only. The maximum number of rows per report file. A large report is split into many files based on this field. Acceptable values are `1000000` to `100000000`, inclusive.",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.request"
            ]
          },
          "format": "int32"
        },
        "filters": {
          "items": {
            "properties": {
              "operator": {
                "description": "Operator to use in the filter. See the filter reference for a list of available operators.",
                "type": "string"
              },
              "values": {
                "items": {
                  "type": "any"
                },
                "type": "array",
                "description": "A list of values to filter the column value against.\\ The maximum number of filter values per request is 300."
              },
              "column": {
                "description": "Column to perform the filter on. This can be a DoubleClick Search column or a saved column.",
                "$ref": "ReportApiColumnSpec"
              }
            },
            "type": "object"
          },
          "type": "array",
          "description": "A list of filters to be applied to the report.\\ The maximum number of filters per request is 300."
        },
        "includeRemovedEntities": {
          "description": "Determines if removed entities should be included in the report. Defaults to `false`.",
          "type": "boolean"
        },
        "downloadFormat": {
          "type": "string",
          "description": "Format that the report should be returned in. Currently `csv` or `tsv` is supported.",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.request"
            ]
          }
        },
        "reportScope": {
          "type": "object",
          "description": "The reportScope is a set of IDs that are used to determine which subset of entities will be returned in the report. The full lineage of IDs from the lowest scoped level desired up through agency is required.",
          "properties": {
            "adGroupId": {
              "description": "DS ad group ID.",
              "format": "int64",
              "type": "string"
            },
            "adId": {
              "description": "DS ad ID.",
              "type": "string",
              "format": "int64"
            },
            "advertiserId": {
              "format": "int64",
              "description": "DS advertiser ID.",
              "type": "string"
            },
            "campaignId": {
              "format": "int64",
              "type": "string",
              "description": "DS campaign ID."
            },
            "agencyId": {
              "type": "string",
              "format": "int64",
              "description": "DS agency ID."
            },
            "engineAccountId": {
              "type": "string",
              "format": "int64",
              "description": "DS engine account ID."
            },
            "keywordId": {
              "format": "int64",
              "type": "string",
              "description": "DS keyword ID."
            }
          }
        },
        "reportType": {
          "description": "Determines the type of rows that are returned in the report. For example, if you specify `reportType: keyword`, each row in the report will contain data about a keyword. See the [Types of Reports](/search-ads/v2/report-types/) reference for the columns that are available for each type.",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate",
              "doubleclicksearch.reports.request"
            ]
          },
          "type": "string"
        },
        "timeRange": {
          "type": "object",
          "description": "If metrics are requested in a report, this argument will be used to restrict the metrics to a specific time range.",
          "properties": {
            "endDate": {
              "type": "string",
              "description": "Inclusive date in YYYY-MM-DD format."
            },
            "changedMetricsSinceTimestamp": {
              "type": "string",
              "description": "Inclusive UTC timestamp in RFC format, e.g., `2013-07-16T10:16:23.555Z`. See additional references on how changed metrics reports work."
            },
            "changedAttributesSinceTimestamp": {
              "type": "string",
              "description": "Inclusive UTC timestamp in RFC format, e.g., `2013-07-16T10:16:23.555Z`. See additional references on how changed attribute reports work."
            },
            "startDate": {
              "type": "string",
              "description": "Inclusive date in YYYY-MM-DD format."
            }
          }
        }
      },
      "description": "A request object used to create a DoubleClick Search report."
    },
    "IdMappingFile": {
      "properties": {},
      "id": "IdMappingFile",
      "description": "File returned to https://developers.google.com/search-ads/v2/reference/reports/getIdMappingFile.",
      "type": "object"
    },
    "CustomDimension": {
      "type": "object",
      "properties": {
        "value": {
          "description": "Custom dimension value.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Custom dimension name."
        }
      },
      "id": "CustomDimension",
      "description": "A message containing the custom dimension."
    },
    "ReportRow": {
      "description": "A row in a DoubleClick Search report.",
      "additionalProperties": {
        "description": "Indicates the columns that are represented in this row. That is, each key corresponds to a column with a non-empty cell in this row.",
        "type": "any"
      },
      "id": "ReportRow",
      "type": "object"
    },
    "SavedColumn": {
      "type": "object",
      "id": "SavedColumn",
      "properties": {
        "type": {
          "description": "The type of data this saved column will produce.",
          "type": "string"
        },
        "savedColumnName": {
          "description": "The name of the saved column.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies this as a SavedColumn resource. Value: the fixed string doubleclicksearch#savedColumn."
        }
      },
      "description": "A saved column"
    },
    "Report": {
      "description": "A DoubleClick Search report. This object contains the report request, some report metadata such as currency code, and the generated report rows or report files.",
      "properties": {
        "statisticsCurrencyCode": {
          "description": "The currency code of all monetary values produced in the report, including values that are set by users (e.g., keyword bid settings) and metrics (e.g., cost and revenue). The currency code of a report is determined by the `statisticsCurrency` field of the report request.",
          "type": "string"
        },
        "rowCount": {
          "type": "integer",
          "description": "The number of report rows generated by the report, not including headers.",
          "format": "int32"
        },
        "statisticsTimeZone": {
          "type": "string",
          "description": "If all statistics of the report are sourced from the same time zone, this would be it. Otherwise the field is unset."
        },
        "kind": {
          "type": "string",
          "description": "Identifies this as a Report resource. Value: the fixed string `doubleclicksearch#report`."
        },
        "files": {
          "type": "array",
          "items": {
            "properties": {
              "byteCount": {
                "format": "int64",
                "type": "string",
                "description": "The size of this report file in bytes."
              },
              "url": {
                "description": "Use this url to download the report file.",
                "type": "string"
              }
            },
            "type": "object"
          },
          "description": "Asynchronous report only. Contains a list of generated report files once the report has successfully completed."
        },
        "id": {
          "description": "Asynchronous report only. Id of the report.",
          "type": "string"
        },
        "rows": {
          "description": "Synchronous report only. Generated report rows.",
          "items": {
            "$ref": "ReportRow"
          },
          "type": "array"
        },
        "isReportReady": {
          "type": "boolean",
          "description": "Asynchronous report only. True if and only if the report has completed successfully and the report files are ready to be downloaded."
        },
        "request": {
          "$ref": "ReportRequest",
          "description": "The request that created the report. Optional fields not specified in the original request are filled with default values."
        }
      },
      "type": "object",
      "id": "Report"
    },
    "CustomMetric": {
      "type": "object",
      "id": "CustomMetric",
      "properties": {
        "name": {
          "type": "string",
          "description": "Custom metric name."
        },
        "value": {
          "type": "number",
          "description": "Custom metric numeric value.",
          "format": "double"
        }
      },
      "description": "A message containing the custom metric."
    },
    "Availability": {
      "properties": {
        "segmentationId": {
          "description": "The numeric segmentation identifier (for example, DoubleClick Search Floodlight activity ID).",
          "type": "string",
          "format": "int64"
        },
        "availabilityTimestamp": {
          "type": "string",
          "format": "int64",
          "description": "The time by which all conversions have been uploaded, in epoch millis UTC.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          }
        },
        "segmentationType": {
          "description": "The segmentation type that this availability is for (its default value is `FLOODLIGHT`).",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          },
          "type": "string"
        },
        "customerId": {
          "description": "Customer ID of a client account in the new Search Ads 360 experience.",
          "type": "string"
        },
        "segmentationName": {
          "type": "string",
          "description": "The friendly segmentation identifier (for example, DoubleClick Search Floodlight activity name)."
        },
        "agencyId": {
          "format": "int64",
          "description": "DS agency ID.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          },
          "type": "string"
        },
        "advertiserId": {
          "description": "DS advertiser ID.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          },
          "type": "string",
          "format": "int64"
        }
      },
      "description": "A message containing availability data relevant to DoubleClick Search.",
      "type": "object",
      "id": "Availability"
    },
    "ReportApiColumnSpec": {
      "description": "A request object used to create a DoubleClick Search report.",
      "properties": {
        "customMetricName": {
          "type": "string",
          "description": "Name of a custom metric to include in the report. The report must be scoped to an advertiser or lower, and the custom metric must already be set up in DoubleClick Search. The custom metric name, which appears in DoubleClick Search, is case sensitive."
        },
        "groupByColumn": {
          "type": "boolean",
          "description": "Synchronous report only. Set to `true` to group by this column. Defaults to `false`."
        },
        "startDate": {
          "description": "Inclusive date in YYYY-MM-DD format. When provided, this overrides the overall time range of the report for this column only. Must be provided together with `endDate`.",
          "type": "string"
        },
        "productReportPerspective": {
          "description": "Returns metrics only for a specific type of product activity. Accepted values are: - \"`sold`\": returns metrics only for products that were sold - \"`advertised`\": returns metrics only for products that were advertised in a Shopping campaign, and that might or might not have been sold ",
          "type": "string"
        },
        "columnName": {
          "type": "string",
          "description": "Name of a DoubleClick Search column to include in the report."
        },
        "savedColumnName": {
          "description": "Name of a saved column to include in the report. The report must be scoped at advertiser or lower, and this saved column must already be created in the DoubleClick Search UI.",
          "type": "string"
        },
        "endDate": {
          "type": "string",
          "description": "Inclusive day in YYYY-MM-DD format. When provided, this overrides the overall time range of the report for this column only. Must be provided together with `startDate`."
        },
        "platformSource": {
          "description": "The platform that is used to provide data for the custom dimension. Acceptable values are \"floodlight\".",
          "type": "string"
        },
        "headerText": {
          "description": "Text used to identify this column in the report output; defaults to `columnName` or `savedColumnName` when not specified. This can be used to prevent collisions between DoubleClick Search columns and saved columns with the same name.",
          "type": "string"
        },
        "customDimensionName": {
          "type": "string",
          "description": "Segments a report by a custom dimension. The report must be scoped to an advertiser or lower, and the custom dimension must already be set up in DoubleClick Search. The custom dimension name, which appears in DoubleClick Search, is case sensitive.\\ If used in a conversion report, returns the value of the specified custom dimension for the given conversion, if set. This column does not segment the conversion report."
        }
      },
      "type": "object",
      "id": "ReportApiColumnSpec"
    },
    "ConversionList": {
      "description": "A list of conversions.",
      "properties": {
        "conversion": {
          "items": {
            "$ref": "Conversion"
          },
          "description": "The conversions being requested.",
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Identifies this as a ConversionList resource. Value: the fixed string doubleclicksearch#conversionList."
        }
      },
      "id": "ConversionList",
      "type": "object"
    },
    "Conversion": {
      "properties": {
        "inventoryAccountId": {
          "format": "int64",
          "description": "ID that DS generates and uses to uniquely identify the inventory account that contains the product.",
          "type": "string"
        },
        "conversionTimestamp": {
          "description": "The time at which the conversion took place, in epoch millis UTC.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          },
          "type": "string"
        },
        "revenueMicros": {
          "description": "The revenue amount of this `TRANSACTION` conversion, in micros (value multiplied by 1000000, no decimal). For example, to specify a revenue value of \"10\" enter \"10000000\" (10 million) in your request.",
          "type": "string"
        },
        "attributionModel": {
          "description": "Available to advertisers only after contacting DoubleClick Search customer support.",
          "type": "string"
        },
        "clickId": {
          "description": "DS click ID for the conversion.",
          "type": "string"
        },
        "storeId": {
          "type": "string",
          "description": "The ID of the local store for which the product was advertised. Applicable only when the channel is \"`local`\"."
        },
        "adGroupId": {
          "type": "string",
          "format": "int64",
          "description": "DS ad group ID."
        },
        "productLanguage": {
          "type": "string",
          "description": "The language registered for the Merchant Center feed that contains the product. Use an ISO 639 code to specify a language."
        },
        "conversionId": {
          "type": "string",
          "description": "For offline conversions, advertisers provide this ID. Advertisers can specify any ID that is meaningful to them. Each conversion in a request must specify a unique ID, and the combination of ID and timestamp must be unique amongst all conversions within the advertiser. For online conversions, DS copies the `dsConversionId` or `floodlightOrderId` into this property depending on the advertiser's Floodlight instructions.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          }
        },
        "customMetric": {
          "items": {
            "$ref": "CustomMetric"
          },
          "type": "array",
          "description": "Custom metrics for the conversion."
        },
        "currencyCode": {
          "type": "string",
          "description": "The currency code for the conversion's revenue. Should be in ISO 4217 alphabetic (3-char) format."
        },
        "channel": {
          "description": "Sales channel for the product. Acceptable values are: - \"`local`\": a physical store - \"`online`\": an online store ",
          "type": "string"
        },
        "customerId": {
          "description": "Customer ID of a client account in the new Search Ads 360 experience.",
          "type": "string"
        },
        "dsConversionId": {
          "format": "int64",
          "type": "string",
          "description": "ID that DoubleClick Search generates for each conversion."
        },
        "campaignId": {
          "type": "string",
          "description": "DS campaign ID.",
          "format": "int64"
        },
        "criterionId": {
          "description": "DS criterion (keyword) ID.",
          "format": "int64",
          "type": "string"
        },
        "productGroupId": {
          "description": "DS product group ID.",
          "type": "string",
          "format": "int64"
        },
        "type": {
          "type": "string",
          "description": "The type of the conversion, that is, either `ACTION` or `TRANSACTION`. An `ACTION` conversion is an action by the user that has no monetarily quantifiable value, while a `TRANSACTION` conversion is an action that does have a monetarily quantifiable value. Examples are email list signups (`ACTION`) versus ecommerce purchases (`TRANSACTION`)."
        },
        "adId": {
          "format": "int64",
          "description": "DS ad ID.",
          "type": "string"
        },
        "adUserDataConsent": {
          "type": "string",
          "enum": [
            "UNKNOWN",
            "GRANTED",
            "DENIED"
          ],
          "description": "Represents consent for core platform services (CPS) preferences in settings. No default value. Acceptable values are: GRANTED: The desired consent status is to grant. Read the CPS preferences from GTE settings. DENIED: The desired consent status is to deny; CPS list is empty.",
          "enumDescriptions": [
            "Not specified.",
            "Granted.",
            "Denied."
          ]
        },
        "agencyId": {
          "description": "DS agency ID.",
          "type": "string",
          "format": "int64"
        },
        "productId": {
          "type": "string",
          "description": "The product ID (SKU)."
        },
        "conversionModifiedTimestamp": {
          "format": "int64",
          "type": "string",
          "description": "The time at which the conversion was last modified, in epoch millis UTC."
        },
        "countMillis": {
          "description": "Available to advertisers only after contacting DoubleClick Search customer support.",
          "format": "int64",
          "type": "string"
        },
        "advertiserId": {
          "type": "string",
          "format": "int64",
          "description": "DS advertiser ID."
        },
        "customDimension": {
          "type": "array",
          "description": "Custom dimensions for the conversion, which can be used to filter data in a report.",
          "items": {
            "$ref": "CustomDimension"
          }
        },
        "state": {
          "description": "The state of the conversion, that is, either `ACTIVE` or `REMOVED`. Note: state DELETED is deprecated.",
          "type": "string"
        },
        "segmentationType": {
          "type": "string",
          "description": "The segmentation type of this conversion (for example, `FLOODLIGHT`).",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          }
        },
        "engineAccountId": {
          "format": "int64",
          "type": "string",
          "description": "DS engine account ID."
        },
        "deviceType": {
          "type": "string",
          "description": "The type of device on which the conversion occurred."
        },
        "floodlightOrderId": {
          "type": "string",
          "description": "The Floodlight order ID provided by the advertiser for the conversion."
        },
        "quantityMillis": {
          "type": "string",
          "description": "The quantity of this conversion, in millis.",
          "format": "int64"
        },
        "segmentationId": {
          "type": "string",
          "format": "int64",
          "description": "The numeric segmentation identifier (for example, DoubleClick Search Floodlight activity ID)."
        },
        "productCountry": {
          "type": "string",
          "description": "The country registered for the Merchant Center feed that contains the product. Use an ISO 3166 code to specify a country."
        },
        "segmentationName": {
          "description": "The friendly segmentation identifier (for example, DoubleClick Search Floodlight activity name).",
          "type": "string"
        }
      },
      "description": "A conversion containing data relevant to DoubleClick Search. Common DS3 API conversion fields: Id Range [1 - 2800]. Next Id to use: 33",
      "id": "Conversion",
      "type": "object"
    },
    "SavedColumnList": {
      "properties": {
        "items": {
          "type": "array",
          "description": "The saved columns being requested.",
          "items": {
            "$ref": "SavedColumn"
          }
        },
        "kind": {
          "description": "Identifies this as a SavedColumnList resource. Value: the fixed string doubleclicksearch#savedColumnList.",
          "type": "string"
        }
      },
      "id": "SavedColumnList",
      "type": "object",
      "description": "A list of saved columns. Advertisers create saved columns to report on Floodlight activities, Google Analytics goals, or custom KPIs. To request reports with saved columns, you'll need the saved column names that are available from this list."
    }
  },
  "servicePath": "",
  "ownerName": "Google",
  "description": "The Search Ads 360 API allows developers to automate uploading conversions and downloading reports from Search Ads 360.",
  "mtlsRootUrl": "https://doubleclicksearch.mtls.googleapis.com/",
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "baseUrl": "https://doubleclicksearch.googleapis.com/",
  "canonicalName": "Doubleclicksearch",
  "resources": {
    "savedColumns": {
      "methods": {
        "list": {
          "description": "Retrieve the list of saved columns for a specified advertiser.",
          "httpMethod": "GET",
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/savedcolumns",
          "parameterOrder": [
            "agencyId",
            "advertiserId"
          ],
          "id": "doubleclicksearch.savedColumns.list",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/savedcolumns",
          "response": {
            "$ref": "SavedColumnList"
          },
          "parameters": {
            "advertiserId": {
              "required": true,
              "format": "int64",
              "location": "path",
              "description": "DS ID of the advertiser.",
              "type": "string"
            },
            "agencyId": {
              "location": "path",
              "type": "string",
              "required": true,
              "format": "int64",
              "description": "DS ID of the agency."
            }
          }
        }
      }
    },
    "reports": {
      "methods": {
        "get": {
          "description": "Polls for the status of a report request.",
          "flatPath": "doubleclicksearch/v2/reports/{reportId}",
          "parameters": {
            "reportId": {
              "required": true,
              "description": "ID of the report request being polled.",
              "location": "path",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "doubleclicksearch.reports.get",
          "parameterOrder": [
            "reportId"
          ],
          "response": {
            "$ref": "Report"
          },
          "httpMethod": "GET",
          "path": "doubleclicksearch/v2/reports/{reportId}"
        },
        "generate": {
          "id": "doubleclicksearch.reports.generate",
          "flatPath": "doubleclicksearch/v2/reports/generate",
          "parameters": {},
          "httpMethod": "POST",
          "path": "doubleclicksearch/v2/reports/generate",
          "request": {
            "$ref": "ReportRequest"
          },
          "response": {
            "$ref": "Report"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "description": "Generates and returns a report immediately.",
          "parameterOrder": []
        },
        "getFile": {
          "parameters": {
            "reportId": {
              "type": "string",
              "location": "path",
              "description": "ID of the report.",
              "required": true
            },
            "reportFragment": {
              "minimum": "0",
              "required": true,
              "description": "The index of the report fragment to download.",
              "type": "integer",
              "location": "path",
              "format": "int32"
            }
          },
          "parameterOrder": [
            "reportId",
            "reportFragment"
          ],
          "id": "doubleclicksearch.reports.getFile",
          "supportsMediaDownload": true,
          "description": "Downloads a report file encoded in UTF-8.",
          "path": "doubleclicksearch/v2/reports/{reportId}/files/{reportFragment}",
          "flatPath": "doubleclicksearch/v2/reports/{reportId}/files/{reportFragment}",
          "useMediaDownloadService": true,
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "httpMethod": "GET"
        },
        "request": {
          "httpMethod": "POST",
          "path": "doubleclicksearch/v2/reports",
          "parameterOrder": [],
          "response": {
            "$ref": "Report"
          },
          "id": "doubleclicksearch.reports.request",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "description": "Inserts a report request into the reporting system.",
          "request": {
            "$ref": "ReportRequest"
          },
          "parameters": {},
          "flatPath": "doubleclicksearch/v2/reports"
        },
        "getIdMappingFile": {
          "response": {
            "$ref": "IdMappingFile"
          },
          "useMediaDownloadService": true,
          "httpMethod": "GET",
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/idmapping",
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/idmapping",
          "parameters": {
            "agencyId": {
              "location": "path",
              "required": true,
              "format": "int64",
              "type": "string",
              "description": "Legacy SA360 agency ID."
            },
            "advertiserId": {
              "description": "Legacy SA360 advertiser ID.",
              "format": "int64",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "description": "Downloads a csv file(encoded in UTF-8) that contains ID mappings between legacy SA360 and new SA360. The file includes all children entities of the given advertiser(e.g. engine accounts, campaigns, ad groups, etc.) that exist in both legacy SA360 and new SA360.",
          "parameterOrder": [
            "agencyId",
            "advertiserId"
          ],
          "id": "doubleclicksearch.reports.getIdMappingFile",
          "supportsMediaDownload": true,
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ]
        }
      }
    },
    "conversion": {
      "methods": {
        "get": {
          "parameters": {
            "customerId": {
              "type": "string",
              "description": "Customer ID of a client account in the new Search Ads 360 experience.",
              "location": "query"
            },
            "adId": {
              "type": "string",
              "description": "Numeric ID of the ad.",
              "location": "query",
              "format": "int64"
            },
            "campaignId": {
              "location": "query",
              "format": "int64",
              "type": "string",
              "description": "Numeric ID of the campaign."
            },
            "endDate": {
              "required": true,
              "location": "query",
              "type": "integer",
              "format": "int32",
              "minimum": "20091101",
              "maximum": "99991231",
              "description": "Last date (inclusive) on which to retrieve conversions. Format is yyyymmdd."
            },
            "adGroupId": {
              "description": "Numeric ID of the ad group.",
              "format": "int64",
              "location": "query",
              "type": "string"
            },
            "startRow": {
              "type": "integer",
              "format": "uint32",
              "location": "query",
              "description": "The 0-based starting index for retrieving conversions results.",
              "required": true
            },
            "criterionId": {
              "format": "int64",
              "location": "query",
              "description": "Numeric ID of the criterion.",
              "type": "string"
            },
            "rowCount": {
              "format": "int32",
              "description": "The number of conversions to return per call.",
              "type": "integer",
              "required": true,
              "location": "query",
              "minimum": "1",
              "maximum": "1000"
            },
            "engineAccountId": {
              "type": "string",
              "format": "int64",
              "location": "path",
              "required": true,
              "description": "Numeric ID of the engine account."
            },
            "startDate": {
              "minimum": "20091101",
              "maximum": "99991231",
              "description": "First date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "type": "integer",
              "required": true,
              "format": "int32",
              "location": "query"
            },
            "advertiserId": {
              "description": "Numeric ID of the advertiser.",
              "required": true,
              "type": "string",
              "location": "path",
              "format": "int64"
            },
            "agencyId": {
              "location": "path",
              "format": "int64",
              "required": true,
              "type": "string",
              "description": "Numeric ID of the agency."
            }
          },
          "id": "doubleclicksearch.conversion.get",
          "response": {
            "$ref": "ConversionList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameterOrder": [
            "agencyId",
            "advertiserId",
            "engineAccountId",
            "endDate",
            "rowCount",
            "startDate",
            "startRow"
          ],
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/engine/{engineAccountId}/conversion",
          "description": "Retrieves a list of conversions from a DoubleClick Search engine account.",
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/engine/{engineAccountId}/conversion",
          "httpMethod": "GET"
        },
        "updateAvailability": {
          "flatPath": "doubleclicksearch/v2/conversion/updateAvailability",
          "description": "Updates the availabilities of a batch of floodlight activities in DoubleClick Search.",
          "parameters": {},
          "httpMethod": "POST",
          "response": {
            "$ref": "UpdateAvailabilityResponse"
          },
          "id": "doubleclicksearch.conversion.updateAvailability",
          "path": "doubleclicksearch/v2/conversion/updateAvailability",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameterOrder": [],
          "request": {
            "$ref": "UpdateAvailabilityRequest"
          }
        },
        "getByCustomerId": {
          "id": "doubleclicksearch.conversion.getByCustomerId",
          "flatPath": "doubleclicksearch/v2/customer/{customerId}/conversion",
          "parameterOrder": [
            "customerId",
            "endDate",
            "rowCount",
            "startDate",
            "startRow"
          ],
          "parameters": {
            "customerId": {
              "location": "path",
              "required": true,
              "description": "Customer ID of a client account in the new Search Ads 360 experience.",
              "type": "string"
            },
            "startDate": {
              "location": "query",
              "required": true,
              "format": "int32",
              "minimum": "20091101",
              "maximum": "99991231",
              "description": "First date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "type": "integer"
            },
            "startRow": {
              "location": "query",
              "required": true,
              "description": "The 0-based starting index for retrieving conversions results.",
              "format": "uint32",
              "type": "integer"
            },
            "engineAccountId": {
              "location": "query",
              "format": "int64",
              "description": "Numeric ID of the engine account.",
              "type": "string"
            },
            "adId": {
              "format": "int64",
              "description": "Numeric ID of the ad.",
              "type": "string",
              "location": "query"
            },
            "campaignId": {
              "format": "int64",
              "type": "string",
              "description": "Numeric ID of the campaign.",
              "location": "query"
            },
            "rowCount": {
              "location": "query",
              "type": "integer",
              "required": true,
              "format": "int32",
              "minimum": "1",
              "maximum": "1000",
              "description": "The number of conversions to return per call."
            },
            "agencyId": {
              "description": "Numeric ID of the agency.",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "adGroupId": {
              "location": "query",
              "format": "int64",
              "description": "Numeric ID of the ad group.",
              "type": "string"
            },
            "advertiserId": {
              "description": "Numeric ID of the advertiser.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "criterionId": {
              "location": "query",
              "type": "string",
              "description": "Numeric ID of the criterion.",
              "format": "int64"
            },
            "endDate": {
              "location": "query",
              "format": "int32",
              "required": true,
              "type": "integer",
              "description": "Last date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "minimum": "20091101",
              "maximum": "99991231"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "path": "doubleclicksearch/v2/customer/{customerId}/conversion",
          "description": "Retrieves a list of conversions from a DoubleClick Search engine account.",
          "httpMethod": "GET",
          "response": {
            "$ref": "ConversionList"
          }
        },
        "insert": {
          "description": "Inserts a batch of new conversions into DoubleClick Search.",
          "flatPath": "doubleclicksearch/v2/conversion",
          "id": "doubleclicksearch.conversion.insert",
          "request": {
            "$ref": "ConversionList"
          },
          "httpMethod": "POST",
          "parameters": {},
          "path": "doubleclicksearch/v2/conversion",
          "response": {
            "$ref": "ConversionList"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ]
        },
        "update": {
          "request": {
            "$ref": "ConversionList"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "response": {
            "$ref": "ConversionList"
          },
          "id": "doubleclicksearch.conversion.update",
          "flatPath": "doubleclicksearch/v2/conversion",
          "httpMethod": "PUT",
          "parameterOrder": [],
          "path": "doubleclicksearch/v2/conversion",
          "description": "Updates a batch of conversions in DoubleClick Search."
        }
      }
    }
  },
  "ownerDomain": "google.com"
}