{
  "title": "DoubleClick Bid Manager API",
  "discoveryVersion": "v1",
  "name": "doubleclickbidmanager",
  "schemas": {
    "Query": {
      "type": "object",
      "description": "A single query used to generate a report.",
      "id": "Query",
      "properties": {
        "queryId": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. The unique ID of the query."
        },
        "metadata": {
          "description": "The metadata of the query.",
          "$ref": "QueryMetadata"
        },
        "schedule": {
          "description": "When and how often the query is scheduled to run. If the frequency field is set to `ONE_TIME`, the query will only run when queries.run is called.",
          "$ref": "QuerySchedule"
        },
        "params": {
          "description": "The parameters of the report generated by the query.",
          "$ref": "Parameters"
        }
      }
    },
    "ListQueriesResponse": {
      "id": "ListQueriesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `queries.list` method to retrieve the next page of results.",
          "type": "string"
        },
        "queries": {
          "type": "array",
          "description": "The list of queries. This field will be absent if empty.",
          "items": {
            "$ref": "Query"
          }
        }
      }
    },
    "FilterPair": {
      "id": "FilterPair",
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "The identifying value to filter by, such as a relevant resource ID."
        },
        "type": {
          "description": "The type of value to filter by. Defined by a [Filter](/bid-manager/reference/rest/v2/filters-metrics#filters) value.",
          "type": "string"
        }
      },
      "description": "Represents a single filter rule."
    },
    "QuerySchedule": {
      "properties": {
        "frequency": {
          "enumDescriptions": [
            "Default value when frequency is not specified or is unknown in this version.",
            "Only when the query is run manually.",
            "Once a day.",
            "Once a week.",
            "Twice a month.",
            "Once a month.",
            "Once a quarter.",
            "Once a year."
          ],
          "enum": [
            "FREQUENCY_UNSPECIFIED",
            "ONE_TIME",
            "DAILY",
            "WEEKLY",
            "SEMI_MONTHLY",
            "MONTHLY",
            "QUARTERLY",
            "YEARLY"
          ],
          "type": "string",
          "description": "How frequently to run the query. If set to `ONE_TIME`, the query will only be run when queries.run is called."
        },
        "nextRunTimezoneCode": {
          "description": "The canonical code for the timezone the query schedule is based on. Scheduled runs are usually conducted in the morning of a given day. Defaults to `America/New_York`.",
          "type": "string"
        },
        "endDate": {
          "$ref": "Date",
          "description": "The date on which to end the scheduled runs. This field is required if frequency is not set to `ONE_TIME`. Otherwise, it will be ignored."
        },
        "startDate": {
          "description": "The date on which to begin the scheduled runs. This field is required if frequency is not set to `ONE_TIME`. Otherwise, it will be ignored.",
          "$ref": "Date"
        }
      },
      "type": "object",
      "id": "QuerySchedule",
      "description": "Settings on when and how frequently to run a query."
    },
    "ListReportsResponse": {
      "type": "object",
      "id": "ListReportsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `queries.reports.list` method to retrieve the next page of results."
        },
        "reports": {
          "type": "array",
          "items": {
            "$ref": "Report"
          },
          "description": "The list of reports. This field will be absent if empty."
        }
      }
    },
    "ReportKey": {
      "type": "object",
      "description": "Identifying information of a report.",
      "properties": {
        "queryId": {
          "format": "int64",
          "description": "Output only. The unique ID of the query that generated the report.",
          "type": "string",
          "readOnly": true
        },
        "reportId": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. The unique ID of the report."
        }
      },
      "id": "ReportKey"
    },
    "ReportMetadata": {
      "description": "The metadata of a report.",
      "properties": {
        "status": {
          "$ref": "ReportStatus",
          "description": "The status of the report."
        },
        "reportDataStartDate": {
          "description": "The start date of the report data date range.",
          "$ref": "Date"
        },
        "reportDataEndDate": {
          "$ref": "Date",
          "description": "The end date of the report data date range."
        },
        "googleCloudStoragePath": {
          "readOnly": true,
          "description": "Output only. The location of the generated report file in Google Cloud Storage. This field will be absent if status.state is not `DONE`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ReportMetadata"
    },
    "RunQueryRequest": {
      "properties": {
        "dataRange": {
          "$ref": "DataRange",
          "description": "The date range used by the query to generate the report. If unspecified, the query's original data_range is used."
        }
      },
      "type": "object",
      "id": "RunQueryRequest",
      "description": "Details specifying how to run a query."
    },
    "DataRange": {
      "type": "object",
      "description": "The date range to be reported on.",
      "properties": {
        "customEndDate": {
          "$ref": "Date",
          "description": "If `CUSTOM_DATES` is assigned to range, this field specifies the end date for the date range that is reported on. This field is required if using `CUSTOM_DATES` range and will be ignored otherwise."
        },
        "customStartDate": {
          "description": "If `CUSTOM_DATES` is assigned to range, this field specifies the starting date for the date range that is reported on. This field is required if using `CUSTOM_DATES` range and will be ignored otherwise.",
          "$ref": "Date"
        },
        "range": {
          "enumDescriptions": [
            "Default value when range is not specified or is unknown in this version.",
            "Custom date range.",
            "Current day.",
            "Previous day.",
            "All days, including the current day, since the most recent Sunday.",
            "All days, including the current day, since the start of the current month.",
            "All days, including the current day, since the start of the current quarter.",
            "All days, including the current day, since the start of the current calendar year.",
            "The previous completed week, beginning from Sunday.",
            "The previous completed calendar month.",
            "The previous completed quarter.",
            "The previous completed calendar year.",
            "The previous 7 days, excluding the current day.",
            "The previous 30 days, excluding the current day.",
            "The previous 90 days, excluding the current day.",
            "The previous 365 days, excluding the current day.",
            "All time for which data is available, excluding the current day.",
            "The previous 14 days, excluding the current day.",
            "The previous 60 days, excluding the current day."
          ],
          "enum": [
            "RANGE_UNSPECIFIED",
            "CUSTOM_DATES",
            "CURRENT_DAY",
            "PREVIOUS_DAY",
            "WEEK_TO_DATE",
            "MONTH_TO_DATE",
            "QUARTER_TO_DATE",
            "YEAR_TO_DATE",
            "PREVIOUS_WEEK",
            "PREVIOUS_MONTH",
            "PREVIOUS_QUARTER",
            "PREVIOUS_YEAR",
            "LAST_7_DAYS",
            "LAST_30_DAYS",
            "LAST_90_DAYS",
            "LAST_365_DAYS",
            "ALL_TIME",
            "LAST_14_DAYS",
            "LAST_60_DAYS"
          ],
          "type": "string",
          "description": "The preset date range to be reported on. If `CUSTOM_DATES` is assigned to this field, fields custom_start_date and custom_end_date must be set to specify the custom date range."
        }
      },
      "id": "DataRange"
    },
    "Parameters": {
      "id": "Parameters",
      "description": "Parameters of a generated report.",
      "properties": {
        "metrics": {
          "items": {
            "type": "string"
          },
          "description": "Metrics to define the data populating the report. Defined by [Metric](/bid-manager/reference/rest/v2/filters-metrics#metrics) values.",
          "type": "array"
        },
        "filters": {
          "type": "array",
          "description": "Filters to limit the scope of reported data.",
          "items": {
            "$ref": "FilterPair"
          }
        },
        "groupBys": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Dimensions by which to segment and group the data. Defined by [Filter](/bid-manager/reference/rest/v2/filters-metrics#filters) values."
        },
        "options": {
          "description": "Additional report parameter options.",
          "$ref": "Options"
        },
        "type": {
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            true
          ],
          "type": "string",
          "description": "The type of the report. The type of the report determines the dimesions, filters, and metrics that can be used.",
          "enumDescriptions": [
            "Default value when report type is not specified or is unknown in this version.",
            "Standard report.",
            "Inventory Availability report.",
            "Audience Composition report.",
            "Floodlight report.",
            "YouTube report.",
            "GRP report.",
            "YouTube Programmatic Guaranteed report.",
            "Reach report.",
            "Unique Reach Audience report.",
            "Full Path report.",
            "Path Attribution report."
          ],
          "enum": [
            "REPORT_TYPE_UNSPECIFIED",
            "STANDARD",
            "INVENTORY_AVAILABILITY",
            "AUDIENCE_COMPOSITION",
            "FLOODLIGHT",
            "YOUTUBE",
            "GRP",
            "YOUTUBE_PROGRAMMATIC_GUARANTEED",
            "REACH",
            "UNIQUE_REACH_AUDIENCE",
            "FULL_PATH",
            "PATH_ATTRIBUTION"
          ]
        }
      },
      "type": "object"
    },
    "Date": {
      "type": "object",
      "id": "Date",
      "properties": {
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32",
          "type": "integer"
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer"
        }
      },
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "Report": {
      "type": "object",
      "properties": {
        "params": {
          "description": "The parameters of the report.",
          "$ref": "Parameters"
        },
        "key": {
          "description": "The key information identifying the report.",
          "$ref": "ReportKey"
        },
        "metadata": {
          "$ref": "ReportMetadata",
          "description": "The metadata of the report."
        }
      },
      "description": "A single report generated by its parent report.",
      "id": "Report"
    },
    "ReportStatus": {
      "description": "The status of a report.",
      "id": "ReportStatus",
      "type": "object",
      "properties": {
        "format": {
          "enum": [
            "FORMAT_UNSPECIFIED",
            "CSV",
            "XLSX"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value when format is not specified or is unknown in this version.",
            "CSV.",
            "Excel."
          ],
          "description": "The format of the generated report file."
        },
        "state": {
          "enumDescriptions": [
            "Default value when state is not specified or is unknown in this version.",
            "The report is queued to run.",
            "The report is currently running.",
            "The report has finished running successfully.",
            "The report has finished running in failure."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "QUEUED",
            "RUNNING",
            "DONE",
            "FAILED"
          ],
          "readOnly": true,
          "description": "Output only. The state of the report generation.",
          "type": "string"
        },
        "finishTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp of when report generation finished successfully or in failure. This field will not be set unless state is `DONE` or `FAILED`."
        }
      }
    },
    "Options": {
      "type": "object",
      "id": "Options",
      "properties": {
        "includeOnlyTargetedUserLists": {
          "description": "Whether to include data for audience lists specifically targeted by filtered line items or insertion orders. Requires the use of `FILTER_INSERTION_ORDER` or `FILTER_LINE_ITEM` filters.",
          "type": "boolean"
        }
      },
      "description": "Report parameter options."
    },
    "QueryMetadata": {
      "properties": {
        "dataRange": {
          "$ref": "DataRange",
          "description": "The date range the report generated by the query will report on. This date range will be defined by the time zone as used by the advertiser."
        },
        "title": {
          "type": "string",
          "description": "The display name of the query. This value will be used in the file name of reports generated by the query."
        },
        "sendNotification": {
          "description": "Whether an email notification is sent to the query creator when a report generated by the query is ready. This value is `false` by default.",
          "type": "boolean"
        },
        "shareEmailAddress": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of additional email addresses with which to share the query. If send_notification is `true`, these email addresses will receive a notification when a report generated by the query is ready. If these email addresses are connected to Display & Video 360 users, the query will be available to them in the Display & Video 360 interface."
        },
        "format": {
          "type": "string",
          "enum": [
            "FORMAT_UNSPECIFIED",
            "CSV",
            "XLSX"
          ],
          "enumDescriptions": [
            "Default value when format is not specified or is unknown in this version.",
            "CSV.",
            "Excel."
          ],
          "description": "The format of the report generated by the query."
        }
      },
      "id": "QueryMetadata",
      "description": "The metadata of the query.",
      "type": "object"
    }
  },
  "description": "DoubleClick Bid Manager API allows users to manage and create campaigns and reports.",
  "documentationLink": "https://developers.google.com/bid-manager/",
  "id": "doubleclickbidmanager:v2",
  "rootUrl": "https://doubleclickbidmanager.googleapis.com/",
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/doubleclickbidmanager": {
          "description": "View and manage your reports in DoubleClick Bid Manager"
        }
      }
    }
  },
  "mtlsRootUrl": "https://doubleclickbidmanager.mtls.googleapis.com/",
  "revision": "20260916",
  "canonicalName": "DoubleClick Bid Manager",
  "resources": {
    "queries": {
      "methods": {
        "get": {
          "parameters": {
            "queryId": {
              "location": "path",
              "description": "Required. The ID of the query to retrieve.",
              "format": "int64",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "queries/{queryId}",
          "description": "Retrieves a query.",
          "path": "queries/{queryId}",
          "response": {
            "$ref": "Query"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "parameterOrder": [
            "queryId"
          ],
          "id": "doubleclickbidmanager.queries.get",
          "httpMethod": "GET"
        },
        "run": {
          "parameters": {
            "synchronous": {
              "location": "query",
              "description": "Whether the query should be run synchronously. When `true`, the request won't return until the resulting report has finished running. This parameter is `false` by default. Setting this parameter to `true` is **not recommended**.",
              "type": "boolean"
            },
            "queryId": {
              "location": "path",
              "format": "int64",
              "required": true,
              "type": "string",
              "description": "Required. The ID of the query to run."
            }
          },
          "path": "queries/{queryId}:run",
          "response": {
            "$ref": "Report"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "id": "doubleclickbidmanager.queries.run",
          "description": "Runs an existing query to generate a report.",
          "request": {
            "$ref": "RunQueryRequest"
          },
          "httpMethod": "POST",
          "flatPath": "queries/{queryId}:run",
          "parameterOrder": [
            "queryId"
          ]
        },
        "delete": {
          "path": "queries/{queryId}",
          "parameters": {
            "queryId": {
              "required": true,
              "format": "int64",
              "description": "Required. The ID of the query to delete.",
              "type": "string",
              "location": "path"
            }
          },
          "description": "Deletes an existing query as well as its generated reports.",
          "flatPath": "queries/{queryId}",
          "id": "doubleclickbidmanager.queries.delete",
          "parameterOrder": [
            "queryId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "httpMethod": "DELETE"
        },
        "list": {
          "response": {
            "$ref": "ListQueriesResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "A token identifying which page of results the server should return. Typically, this is the value of nextPageToken, returned from the previous call to the `queries.list` method. If unspecified, the first page of results is returned."
            },
            "pageSize": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Maximum number of results per page. Must be between `1` and `100`. Defaults to `100` if unspecified."
            },
            "orderBy": {
              "description": "Field to sort the list by. Accepts the following values: * `queryId` (default) * `metadata.title` The default sorting order is ascending. To specify descending order for a field, add the suffix `desc` to the field name. For example, `queryId desc`.",
              "location": "query",
              "type": "string"
            }
          },
          "id": "doubleclickbidmanager.queries.list",
          "flatPath": "queries",
          "path": "queries",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "description": "Lists queries created by the current user."
        },
        "create": {
          "flatPath": "queries",
          "request": {
            "$ref": "Query"
          },
          "parameters": {},
          "path": "queries",
          "parameterOrder": [],
          "id": "doubleclickbidmanager.queries.create",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "response": {
            "$ref": "Query"
          },
          "httpMethod": "POST",
          "description": "Creates a new query."
        }
      },
      "resources": {
        "reports": {
          "methods": {
            "list": {
              "flatPath": "queries/{queryId}/reports",
              "description": "Lists reports generated by the provided query.",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclickbidmanager"
              ],
              "httpMethod": "GET",
              "id": "doubleclickbidmanager.queries.reports.list",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A token identifying which page of results the server should return. Typically, this is the value of nextPageToken returned from the previous call to the `queries.reports.list` method. If unspecified, the first page of results is returned."
                },
                "queryId": {
                  "required": true,
                  "format": "int64",
                  "description": "Required. The ID of the query that generated the reports.",
                  "type": "string",
                  "location": "path"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Maximum number of results per page. Must be between `1` and `100`. Defaults to `100` if unspecified.",
                  "location": "query",
                  "format": "int32"
                },
                "orderBy": {
                  "location": "query",
                  "description": "Field to sort the list by. Accepts the following values: * `key.reportId` (default) The default sorting order is ascending. To specify descending order for a field, add the suffix `desc` to the field name. For example, `key.reportId desc`.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "queryId"
              ],
              "response": {
                "$ref": "ListReportsResponse"
              },
              "path": "queries/{queryId}/reports"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/doubleclickbidmanager"
              ],
              "response": {
                "$ref": "Report"
              },
              "parameters": {
                "queryId": {
                  "format": "int64",
                  "location": "path",
                  "description": "Required. The ID of the query that generated the report.",
                  "required": true,
                  "type": "string"
                },
                "reportId": {
                  "format": "int64",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The ID of the query to retrieve."
                }
              },
              "description": "Retrieves a report.",
              "parameterOrder": [
                "queryId",
                "reportId"
              ],
              "httpMethod": "GET",
              "flatPath": "queries/{queryId}/reports/{reportId}",
              "path": "queries/{queryId}/reports/{reportId}",
              "id": "doubleclickbidmanager.queries.reports.get"
            }
          }
        }
      }
    }
  },
  "ownerName": "Google",
  "basePath": "/v2/",
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "version": "v2",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "baseUrl": "https://doubleclickbidmanager.googleapis.com/v2/",
  "kind": "discovery#restDescription",
  "servicePath": "v2/",
  "parameters": {
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  }
}