{
  "protocol": "rest",
  "rootUrl": "https://doubleclicksearch.googleapis.com/",
  "title": "Search Ads 360 API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/doubleclicksearch": {
          "description": "View and manage your advertising data in DoubleClick Search"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query",
      "default": "json"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    }
  },
  "baseUrl": "https://doubleclicksearch.googleapis.com/",
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "id": "doubleclicksearch:v2",
  "revision": "20260902",
  "batchPath": "batch",
  "schemas": {
    "IdMappingFile": {
      "properties": {},
      "description": "File returned to https://developers.google.com/search-ads/v2/reference/reports/getIdMappingFile.",
      "id": "IdMappingFile",
      "type": "object"
    },
    "CustomMetric": {
      "type": "object",
      "id": "CustomMetric",
      "properties": {
        "name": {
          "type": "string",
          "description": "Custom metric name."
        },
        "value": {
          "format": "double",
          "type": "number",
          "description": "Custom metric numeric value."
        }
      },
      "description": "A message containing the custom metric."
    },
    "CustomDimension": {
      "description": "A message containing the custom dimension.",
      "properties": {
        "name": {
          "description": "Custom dimension name.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Custom dimension value."
        }
      },
      "type": "object",
      "id": "CustomDimension"
    },
    "SavedColumnList": {
      "type": "object",
      "id": "SavedColumnList",
      "description": "A list of saved columns. Advertisers create saved columns to report on Floodlight activities, Google Analytics goals, or custom KPIs. To request reports with saved columns, you'll need the saved column names that are available from this list.",
      "properties": {
        "items": {
          "items": {
            "$ref": "SavedColumn"
          },
          "type": "array",
          "description": "The saved columns being requested."
        },
        "kind": {
          "type": "string",
          "description": "Identifies this as a SavedColumnList resource. Value: the fixed string doubleclicksearch#savedColumnList."
        }
      }
    },
    "ReportRow": {
      "description": "A row in a DoubleClick Search report.",
      "id": "ReportRow",
      "type": "object",
      "additionalProperties": {
        "type": "any",
        "description": "Indicates the columns that are represented in this row. That is, each key corresponds to a column with a non-empty cell in this row."
      }
    },
    "SavedColumn": {
      "type": "object",
      "properties": {
        "savedColumnName": {
          "type": "string",
          "description": "The name of the saved column."
        },
        "type": {
          "type": "string",
          "description": "The type of data this saved column will produce."
        },
        "kind": {
          "description": "Identifies this as a SavedColumn resource. Value: the fixed string doubleclicksearch#savedColumn.",
          "type": "string"
        }
      },
      "id": "SavedColumn",
      "description": "A saved column"
    },
    "UpdateAvailabilityResponse": {
      "type": "object",
      "id": "UpdateAvailabilityResponse",
      "description": "The response to a update availability request.",
      "properties": {
        "availabilities": {
          "items": {
            "$ref": "Availability"
          },
          "description": "The availabilities being returned.",
          "type": "array"
        }
      }
    },
    "ReportRequest": {
      "type": "object",
      "properties": {
        "includeRemovedEntities": {
          "type": "boolean",
          "description": "Determines if removed entities should be included in the report. Defaults to `false`."
        },
        "includeDeletedEntities": {
          "type": "boolean",
          "description": "Determines if removed entities should be included in the report. Defaults to `false`. Deprecated, please use `includeRemovedEntities` instead."
        },
        "downloadFormat": {
          "type": "string",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.request"
            ]
          },
          "description": "Format that the report should be returned in. Currently `csv` or `tsv` is supported."
        },
        "verifySingleTimeZone": {
          "type": "boolean",
          "description": "If `true`, the report would only be created if all the requested stat data are sourced from a single timezone. Defaults to `false`."
        },
        "rowCount": {
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate"
            ]
          },
          "type": "integer",
          "description": "Synchronous report only. The maximum number of rows to return; additional rows are dropped. Acceptable values are `0` to `10000`, inclusive. Defaults to `10000`.",
          "format": "int32"
        },
        "orderBy": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "sortOrder": {
                "type": "string",
                "description": "The sort direction, which is either `ascending` or `descending`."
              },
              "column": {
                "$ref": "ReportApiColumnSpec",
                "description": "Column to perform the sort on. This can be a DoubleClick Search-defined column or a saved column."
              }
            }
          },
          "description": "Synchronous report only. A list of columns and directions defining sorting to be performed on the report rows.\\ The maximum number of orderings per request is 300."
        },
        "timeRange": {
          "description": "If metrics are requested in a report, this argument will be used to restrict the metrics to a specific time range.",
          "type": "object",
          "properties": {
            "startDate": {
              "type": "string",
              "description": "Inclusive date in YYYY-MM-DD format."
            },
            "changedMetricsSinceTimestamp": {
              "description": "Inclusive UTC timestamp in RFC format, e.g., `2013-07-16T10:16:23.555Z`. See additional references on how changed metrics reports work.",
              "type": "string"
            },
            "changedAttributesSinceTimestamp": {
              "description": "Inclusive UTC timestamp in RFC format, e.g., `2013-07-16T10:16:23.555Z`. See additional references on how changed attribute reports work.",
              "type": "string"
            },
            "endDate": {
              "description": "Inclusive date in YYYY-MM-DD format.",
              "type": "string"
            }
          }
        },
        "reportType": {
          "description": "Determines the type of rows that are returned in the report. For example, if you specify `reportType: keyword`, each row in the report will contain data about a keyword. See the [Types of Reports](/search-ads/v2/report-types/) reference for the columns that are available for each type.",
          "type": "string",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate",
              "doubleclicksearch.reports.request"
            ]
          }
        },
        "maxRowsPerFile": {
          "annotations": {
            "required": [
              "doubleclicksearch.reports.request"
            ]
          },
          "format": "int32",
          "type": "integer",
          "description": "Asynchronous report only. The maximum number of rows per report file. A large report is split into many files based on this field. Acceptable values are `1000000` to `100000000`, inclusive."
        },
        "startRow": {
          "type": "integer",
          "description": "Synchronous report only. Zero-based index of the first row to return. Acceptable values are `0` to `50000`, inclusive. Defaults to `0`.",
          "format": "int32",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate"
            ]
          }
        },
        "columns": {
          "items": {
            "$ref": "ReportApiColumnSpec"
          },
          "type": "array",
          "description": "The columns to include in the report. This includes both DoubleClick Search columns and saved columns. For DoubleClick Search columns, only the `columnName` parameter is required. For saved columns only the `savedColumnName` parameter is required. Both `columnName` and `savedColumnName` cannot be set in the same stanza.\\ The maximum number of columns per request is 300."
        },
        "statisticsCurrency": {
          "description": "Specifies the currency in which monetary will be returned. Possible values are: `usd`, `agency` (valid if the report is scoped to agency or lower), `advertiser` (valid if the report is scoped to * advertiser or lower), or `account` (valid if the report is scoped to engine account or lower).",
          "type": "string",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate",
              "doubleclicksearch.reports.request"
            ]
          }
        },
        "filters": {
          "description": "A list of filters to be applied to the report.\\ The maximum number of filters per request is 300.",
          "items": {
            "type": "object",
            "properties": {
              "operator": {
                "description": "Operator to use in the filter. See the filter reference for a list of available operators.",
                "type": "string"
              },
              "values": {
                "description": "A list of values to filter the column value against.\\ The maximum number of filter values per request is 300.",
                "items": {
                  "type": "any"
                },
                "type": "array"
              },
              "column": {
                "$ref": "ReportApiColumnSpec",
                "description": "Column to perform the filter on. This can be a DoubleClick Search column or a saved column."
              }
            }
          },
          "type": "array"
        },
        "reportScope": {
          "properties": {
            "adGroupId": {
              "format": "int64",
              "type": "string",
              "description": "DS ad group ID."
            },
            "keywordId": {
              "description": "DS keyword ID.",
              "format": "int64",
              "type": "string"
            },
            "campaignId": {
              "description": "DS campaign ID.",
              "format": "int64",
              "type": "string"
            },
            "advertiserId": {
              "description": "DS advertiser ID.",
              "format": "int64",
              "type": "string"
            },
            "adId": {
              "format": "int64",
              "description": "DS ad ID.",
              "type": "string"
            },
            "engineAccountId": {
              "format": "int64",
              "description": "DS engine account ID.",
              "type": "string"
            },
            "agencyId": {
              "type": "string",
              "format": "int64",
              "description": "DS agency ID."
            }
          },
          "description": "The reportScope is a set of IDs that are used to determine which subset of entities will be returned in the report. The full lineage of IDs from the lowest scoped level desired up through agency is required.",
          "type": "object"
        }
      },
      "id": "ReportRequest",
      "description": "A request object used to create a DoubleClick Search report."
    },
    "Conversion": {
      "id": "Conversion",
      "description": "A conversion containing data relevant to DoubleClick Search. Common DS3 API conversion fields: Id Range [1 - 2800]. Next Id to use: 33",
      "type": "object",
      "properties": {
        "engineAccountId": {
          "type": "string",
          "format": "int64",
          "description": "DS engine account ID."
        },
        "adGroupId": {
          "type": "string",
          "description": "DS ad group ID.",
          "format": "int64"
        },
        "inventoryAccountId": {
          "description": "ID that DS generates and uses to uniquely identify the inventory account that contains the product.",
          "type": "string",
          "format": "int64"
        },
        "conversionModifiedTimestamp": {
          "type": "string",
          "description": "The time at which the conversion was last modified, in epoch millis UTC.",
          "format": "int64"
        },
        "agencyId": {
          "format": "int64",
          "type": "string",
          "description": "DS agency ID."
        },
        "dsConversionId": {
          "format": "int64",
          "type": "string",
          "description": "ID that DoubleClick Search generates for each conversion."
        },
        "countMillis": {
          "description": "Available to advertisers only after contacting DoubleClick Search customer support.",
          "format": "int64",
          "type": "string"
        },
        "quantityMillis": {
          "description": "The quantity of this conversion, in millis.",
          "type": "string",
          "format": "int64"
        },
        "segmentationId": {
          "type": "string",
          "description": "The numeric segmentation identifier (for example, DoubleClick Search Floodlight activity ID).",
          "format": "int64"
        },
        "customMetric": {
          "items": {
            "$ref": "CustomMetric"
          },
          "description": "Custom metrics for the conversion.",
          "type": "array"
        },
        "floodlightOrderId": {
          "description": "The Floodlight order ID provided by the advertiser for the conversion.",
          "type": "string"
        },
        "deviceType": {
          "description": "The type of device on which the conversion occurred.",
          "type": "string"
        },
        "conversionTimestamp": {
          "type": "string",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          },
          "description": "The time at which the conversion took place, in epoch millis UTC."
        },
        "state": {
          "type": "string",
          "description": "The state of the conversion, that is, either `ACTIVE` or `REMOVED`. Note: state DELETED is deprecated."
        },
        "adUserDataConsent": {
          "description": "Represents consent for core platform services (CPS) preferences in settings. No default value. Acceptable values are: GRANTED: The desired consent status is to grant. Read the CPS preferences from GTE settings. DENIED: The desired consent status is to deny; CPS list is empty.",
          "enumDescriptions": [
            "Not specified.",
            "Granted.",
            "Denied."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "GRANTED",
            "DENIED"
          ]
        },
        "currencyCode": {
          "description": "The currency code for the conversion's revenue. Should be in ISO 4217 alphabetic (3-char) format.",
          "type": "string"
        },
        "revenueMicros": {
          "description": "The revenue amount of this `TRANSACTION` conversion, in micros (value multiplied by 1000000, no decimal). For example, to specify a revenue value of \"10\" enter \"10000000\" (10 million) in your request.",
          "type": "string"
        },
        "customDimension": {
          "type": "array",
          "items": {
            "$ref": "CustomDimension"
          },
          "description": "Custom dimensions for the conversion, which can be used to filter data in a report."
        },
        "customerId": {
          "type": "string",
          "description": "Customer ID of a client account in the new Search Ads 360 experience."
        },
        "criterionId": {
          "description": "DS criterion (keyword) ID.",
          "format": "int64",
          "type": "string"
        },
        "productId": {
          "type": "string",
          "description": "The product ID (SKU)."
        },
        "channel": {
          "type": "string",
          "description": "Sales channel for the product. Acceptable values are: - \"`local`\": a physical store - \"`online`\": an online store "
        },
        "storeId": {
          "description": "The ID of the local store for which the product was advertised. Applicable only when the channel is \"`local`\".",
          "type": "string"
        },
        "adId": {
          "type": "string",
          "description": "DS ad ID.",
          "format": "int64"
        },
        "campaignId": {
          "type": "string",
          "description": "DS campaign ID.",
          "format": "int64"
        },
        "productCountry": {
          "type": "string",
          "description": "The country registered for the Merchant Center feed that contains the product. Use an ISO 3166 code to specify a country."
        },
        "type": {
          "type": "string",
          "description": "The type of the conversion, that is, either `ACTION` or `TRANSACTION`. An `ACTION` conversion is an action by the user that has no monetarily quantifiable value, while a `TRANSACTION` conversion is an action that does have a monetarily quantifiable value. Examples are email list signups (`ACTION`) versus ecommerce purchases (`TRANSACTION`)."
        },
        "productGroupId": {
          "description": "DS product group ID.",
          "format": "int64",
          "type": "string"
        },
        "segmentationName": {
          "description": "The friendly segmentation identifier (for example, DoubleClick Search Floodlight activity name).",
          "type": "string"
        },
        "attributionModel": {
          "description": "Available to advertisers only after contacting DoubleClick Search customer support.",
          "type": "string"
        },
        "productLanguage": {
          "description": "The language registered for the Merchant Center feed that contains the product. Use an ISO 639 code to specify a language.",
          "type": "string"
        },
        "clickId": {
          "description": "DS click ID for the conversion.",
          "type": "string"
        },
        "advertiserId": {
          "description": "DS advertiser ID.",
          "format": "int64",
          "type": "string"
        },
        "segmentationType": {
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          },
          "type": "string",
          "description": "The segmentation type of this conversion (for example, `FLOODLIGHT`)."
        },
        "conversionId": {
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          },
          "type": "string",
          "description": "For offline conversions, advertisers provide this ID. Advertisers can specify any ID that is meaningful to them. Each conversion in a request must specify a unique ID, and the combination of ID and timestamp must be unique amongst all conversions within the advertiser. For online conversions, DS copies the `dsConversionId` or `floodlightOrderId` into this property depending on the advertiser's Floodlight instructions."
        }
      }
    },
    "Report": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Asynchronous report only. Id of the report."
        },
        "isReportReady": {
          "description": "Asynchronous report only. True if and only if the report has completed successfully and the report files are ready to be downloaded.",
          "type": "boolean"
        },
        "rowCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of report rows generated by the report, not including headers."
        },
        "rows": {
          "items": {
            "$ref": "ReportRow"
          },
          "type": "array",
          "description": "Synchronous report only. Generated report rows."
        },
        "statisticsTimeZone": {
          "type": "string",
          "description": "If all statistics of the report are sourced from the same time zone, this would be it. Otherwise the field is unset."
        },
        "files": {
          "description": "Asynchronous report only. Contains a list of generated report files once the report has successfully completed.",
          "type": "array",
          "items": {
            "properties": {
              "url": {
                "description": "Use this url to download the report file.",
                "type": "string"
              },
              "byteCount": {
                "description": "The size of this report file in bytes.",
                "type": "string",
                "format": "int64"
              }
            },
            "type": "object"
          }
        },
        "statisticsCurrencyCode": {
          "type": "string",
          "description": "The currency code of all monetary values produced in the report, including values that are set by users (e.g., keyword bid settings) and metrics (e.g., cost and revenue). The currency code of a report is determined by the `statisticsCurrency` field of the report request."
        },
        "request": {
          "description": "The request that created the report. Optional fields not specified in the original request are filled with default values.",
          "$ref": "ReportRequest"
        },
        "kind": {
          "description": "Identifies this as a Report resource. Value: the fixed string `doubleclicksearch#report`.",
          "type": "string"
        }
      },
      "id": "Report",
      "description": "A DoubleClick Search report. This object contains the report request, some report metadata such as currency code, and the generated report rows or report files.",
      "type": "object"
    },
    "ConversionList": {
      "id": "ConversionList",
      "properties": {
        "kind": {
          "description": "Identifies this as a ConversionList resource. Value: the fixed string doubleclicksearch#conversionList.",
          "type": "string"
        },
        "conversion": {
          "type": "array",
          "items": {
            "$ref": "Conversion"
          },
          "description": "The conversions being requested."
        }
      },
      "description": "A list of conversions.",
      "type": "object"
    },
    "UpdateAvailabilityRequest": {
      "type": "object",
      "description": "The request to update availability.",
      "id": "UpdateAvailabilityRequest",
      "properties": {
        "availabilities": {
          "type": "array",
          "description": "The availabilities being requested.",
          "items": {
            "$ref": "Availability"
          }
        }
      }
    },
    "Availability": {
      "id": "Availability",
      "properties": {
        "agencyId": {
          "description": "DS agency ID.",
          "type": "string",
          "format": "int64",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          }
        },
        "advertiserId": {
          "type": "string",
          "format": "int64",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          },
          "description": "DS advertiser ID."
        },
        "segmentationType": {
          "type": "string",
          "description": "The segmentation type that this availability is for (its default value is `FLOODLIGHT`).",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          }
        },
        "segmentationId": {
          "type": "string",
          "description": "The numeric segmentation identifier (for example, DoubleClick Search Floodlight activity ID).",
          "format": "int64"
        },
        "segmentationName": {
          "description": "The friendly segmentation identifier (for example, DoubleClick Search Floodlight activity name).",
          "type": "string"
        },
        "customerId": {
          "type": "string",
          "description": "Customer ID of a client account in the new Search Ads 360 experience."
        },
        "availabilityTimestamp": {
          "description": "The time by which all conversions have been uploaded, in epoch millis UTC.",
          "format": "int64",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          },
          "type": "string"
        }
      },
      "description": "A message containing availability data relevant to DoubleClick Search.",
      "type": "object"
    },
    "ReportApiColumnSpec": {
      "properties": {
        "customMetricName": {
          "type": "string",
          "description": "Name of a custom metric to include in the report. The report must be scoped to an advertiser or lower, and the custom metric must already be set up in DoubleClick Search. The custom metric name, which appears in DoubleClick Search, is case sensitive."
        },
        "headerText": {
          "description": "Text used to identify this column in the report output; defaults to `columnName` or `savedColumnName` when not specified. This can be used to prevent collisions between DoubleClick Search columns and saved columns with the same name.",
          "type": "string"
        },
        "customDimensionName": {
          "description": "Segments a report by a custom dimension. The report must be scoped to an advertiser or lower, and the custom dimension must already be set up in DoubleClick Search. The custom dimension name, which appears in DoubleClick Search, is case sensitive.\\ If used in a conversion report, returns the value of the specified custom dimension for the given conversion, if set. This column does not segment the conversion report.",
          "type": "string"
        },
        "productReportPerspective": {
          "description": "Returns metrics only for a specific type of product activity. Accepted values are: - \"`sold`\": returns metrics only for products that were sold - \"`advertised`\": returns metrics only for products that were advertised in a Shopping campaign, and that might or might not have been sold ",
          "type": "string"
        },
        "savedColumnName": {
          "description": "Name of a saved column to include in the report. The report must be scoped at advertiser or lower, and this saved column must already be created in the DoubleClick Search UI.",
          "type": "string"
        },
        "startDate": {
          "type": "string",
          "description": "Inclusive date in YYYY-MM-DD format. When provided, this overrides the overall time range of the report for this column only. Must be provided together with `endDate`."
        },
        "endDate": {
          "type": "string",
          "description": "Inclusive day in YYYY-MM-DD format. When provided, this overrides the overall time range of the report for this column only. Must be provided together with `startDate`."
        },
        "platformSource": {
          "type": "string",
          "description": "The platform that is used to provide data for the custom dimension. Acceptable values are \"floodlight\"."
        },
        "columnName": {
          "description": "Name of a DoubleClick Search column to include in the report.",
          "type": "string"
        },
        "groupByColumn": {
          "type": "boolean",
          "description": "Synchronous report only. Set to `true` to group by this column. Defaults to `false`."
        }
      },
      "id": "ReportApiColumnSpec",
      "description": "A request object used to create a DoubleClick Search report.",
      "type": "object"
    }
  },
  "basePath": "",
  "mtlsRootUrl": "https://doubleclicksearch.mtls.googleapis.com/",
  "servicePath": "",
  "description": "The Search Ads 360 API allows developers to automate uploading conversions and downloading reports from Search Ads 360.",
  "name": "doubleclicksearch",
  "ownerDomain": "google.com",
  "version": "v2",
  "documentationLink": "https://developers.google.com/search-ads",
  "canonicalName": "Doubleclicksearch",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "resources": {
    "savedColumns": {
      "methods": {
        "list": {
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/savedcolumns",
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/savedcolumns",
          "id": "doubleclicksearch.savedColumns.list",
          "description": "Retrieve the list of saved columns for a specified advertiser.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "response": {
            "$ref": "SavedColumnList"
          },
          "parameterOrder": [
            "agencyId",
            "advertiserId"
          ],
          "parameters": {
            "agencyId": {
              "format": "int64",
              "description": "DS ID of the agency.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "advertiserId": {
              "location": "path",
              "required": true,
              "description": "DS ID of the advertiser.",
              "type": "string",
              "format": "int64"
            }
          }
        }
      }
    },
    "conversion": {
      "methods": {
        "get": {
          "parameters": {
            "engineAccountId": {
              "description": "Numeric ID of the engine account.",
              "format": "int64",
              "type": "string",
              "location": "path",
              "required": true
            },
            "advertiserId": {
              "location": "path",
              "required": true,
              "description": "Numeric ID of the advertiser.",
              "format": "int64",
              "type": "string"
            },
            "endDate": {
              "minimum": "20091101",
              "maximum": "99991231",
              "format": "int32",
              "location": "query",
              "required": true,
              "type": "integer",
              "description": "Last date (inclusive) on which to retrieve conversions. Format is yyyymmdd."
            },
            "rowCount": {
              "location": "query",
              "required": true,
              "type": "integer",
              "format": "int32",
              "description": "The number of conversions to return per call.",
              "minimum": "1",
              "maximum": "1000"
            },
            "startDate": {
              "description": "First date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "location": "query",
              "required": true,
              "minimum": "20091101",
              "maximum": "99991231",
              "format": "int32",
              "type": "integer"
            },
            "campaignId": {
              "format": "int64",
              "type": "string",
              "description": "Numeric ID of the campaign.",
              "location": "query"
            },
            "customerId": {
              "type": "string",
              "location": "query",
              "description": "Customer ID of a client account in the new Search Ads 360 experience."
            },
            "adGroupId": {
              "type": "string",
              "format": "int64",
              "description": "Numeric ID of the ad group.",
              "location": "query"
            },
            "adId": {
              "description": "Numeric ID of the ad.",
              "type": "string",
              "format": "int64",
              "location": "query"
            },
            "startRow": {
              "type": "integer",
              "location": "query",
              "required": true,
              "description": "The 0-based starting index for retrieving conversions results.",
              "format": "uint32"
            },
            "criterionId": {
              "type": "string",
              "format": "int64",
              "description": "Numeric ID of the criterion.",
              "location": "query"
            },
            "agencyId": {
              "format": "int64",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Numeric ID of the agency."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/engine/{engineAccountId}/conversion",
          "id": "doubleclicksearch.conversion.get",
          "description": "Retrieves a list of conversions from a DoubleClick Search engine account.",
          "httpMethod": "GET",
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/engine/{engineAccountId}/conversion",
          "response": {
            "$ref": "ConversionList"
          },
          "parameterOrder": [
            "agencyId",
            "advertiserId",
            "engineAccountId",
            "endDate",
            "rowCount",
            "startDate",
            "startRow"
          ]
        },
        "update": {
          "parameterOrder": [],
          "id": "doubleclicksearch.conversion.update",
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "flatPath": "doubleclicksearch/v2/conversion",
          "description": "Updates a batch of conversions in DoubleClick Search.",
          "path": "doubleclicksearch/v2/conversion",
          "response": {
            "$ref": "ConversionList"
          },
          "request": {
            "$ref": "ConversionList"
          },
          "parameters": {}
        },
        "getByCustomerId": {
          "path": "doubleclicksearch/v2/customer/{customerId}/conversion",
          "id": "doubleclicksearch.conversion.getByCustomerId",
          "flatPath": "doubleclicksearch/v2/customer/{customerId}/conversion",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "description": "Retrieves a list of conversions from a DoubleClick Search engine account.",
          "response": {
            "$ref": "ConversionList"
          },
          "parameters": {
            "rowCount": {
              "type": "integer",
              "description": "The number of conversions to return per call.",
              "location": "query",
              "required": true,
              "format": "int32",
              "minimum": "1",
              "maximum": "1000"
            },
            "advertiserId": {
              "type": "string",
              "format": "int64",
              "location": "query",
              "description": "Numeric ID of the advertiser."
            },
            "adId": {
              "type": "string",
              "location": "query",
              "description": "Numeric ID of the ad.",
              "format": "int64"
            },
            "criterionId": {
              "description": "Numeric ID of the criterion.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "adGroupId": {
              "location": "query",
              "type": "string",
              "description": "Numeric ID of the ad group.",
              "format": "int64"
            },
            "startDate": {
              "description": "First date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "location": "query",
              "required": true,
              "type": "integer",
              "format": "int32",
              "minimum": "20091101",
              "maximum": "99991231"
            },
            "customerId": {
              "description": "Customer ID of a client account in the new Search Ads 360 experience.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "campaignId": {
              "type": "string",
              "location": "query",
              "description": "Numeric ID of the campaign.",
              "format": "int64"
            },
            "endDate": {
              "description": "Last date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "minimum": "20091101",
              "maximum": "99991231",
              "format": "int32",
              "type": "integer",
              "location": "query",
              "required": true
            },
            "engineAccountId": {
              "type": "string",
              "location": "query",
              "description": "Numeric ID of the engine account.",
              "format": "int64"
            },
            "agencyId": {
              "location": "query",
              "type": "string",
              "format": "int64",
              "description": "Numeric ID of the agency."
            },
            "startRow": {
              "format": "uint32",
              "location": "query",
              "required": true,
              "description": "The 0-based starting index for retrieving conversions results.",
              "type": "integer"
            }
          },
          "parameterOrder": [
            "customerId",
            "endDate",
            "rowCount",
            "startDate",
            "startRow"
          ]
        },
        "insert": {
          "httpMethod": "POST",
          "path": "doubleclicksearch/v2/conversion",
          "parameterOrder": [],
          "description": "Inserts a batch of new conversions into DoubleClick Search.",
          "id": "doubleclicksearch.conversion.insert",
          "flatPath": "doubleclicksearch/v2/conversion",
          "parameters": {},
          "response": {
            "$ref": "ConversionList"
          },
          "request": {
            "$ref": "ConversionList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ]
        },
        "updateAvailability": {
          "parameters": {},
          "response": {
            "$ref": "UpdateAvailabilityResponse"
          },
          "description": "Updates the availabilities of a batch of floodlight activities in DoubleClick Search.",
          "request": {
            "$ref": "UpdateAvailabilityRequest"
          },
          "path": "doubleclicksearch/v2/conversion/updateAvailability",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "doubleclicksearch.conversion.updateAvailability",
          "flatPath": "doubleclicksearch/v2/conversion/updateAvailability",
          "httpMethod": "POST",
          "parameterOrder": []
        }
      }
    },
    "reports": {
      "methods": {
        "getIdMappingFile": {
          "description": "Downloads a csv file(encoded in UTF-8) that contains ID mappings between legacy SA360 and new SA360. The file includes all children entities of the given advertiser(e.g. engine accounts, campaigns, ad groups, etc.) that exist in both legacy SA360 and new SA360.",
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/idmapping",
          "response": {
            "$ref": "IdMappingFile"
          },
          "parameters": {
            "agencyId": {
              "location": "path",
              "required": true,
              "description": "Legacy SA360 agency ID.",
              "format": "int64",
              "type": "string"
            },
            "advertiserId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Legacy SA360 advertiser ID.",
              "format": "int64"
            }
          },
          "parameterOrder": [
            "agencyId",
            "advertiserId"
          ],
          "id": "doubleclicksearch.reports.getIdMappingFile",
          "useMediaDownloadService": true,
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/idmapping",
          "httpMethod": "GET",
          "supportsMediaDownload": true,
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ]
        },
        "generate": {
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameterOrder": [],
          "response": {
            "$ref": "Report"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "ReportRequest"
          },
          "description": "Generates and returns a report immediately.",
          "flatPath": "doubleclicksearch/v2/reports/generate",
          "path": "doubleclicksearch/v2/reports/generate",
          "id": "doubleclicksearch.reports.generate",
          "parameters": {}
        },
        "request": {
          "description": "Inserts a report request into the reporting system.",
          "path": "doubleclicksearch/v2/reports",
          "id": "doubleclicksearch.reports.request",
          "response": {
            "$ref": "Report"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "flatPath": "doubleclicksearch/v2/reports",
          "parameterOrder": [],
          "request": {
            "$ref": "ReportRequest"
          },
          "httpMethod": "POST"
        },
        "get": {
          "flatPath": "doubleclicksearch/v2/reports/{reportId}",
          "parameters": {
            "reportId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "ID of the report request being polled."
            }
          },
          "response": {
            "$ref": "Report"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "doubleclicksearch.reports.get",
          "description": "Polls for the status of a report request.",
          "httpMethod": "GET",
          "path": "doubleclicksearch/v2/reports/{reportId}",
          "parameterOrder": [
            "reportId"
          ]
        },
        "getFile": {
          "parameters": {
            "reportId": {
              "description": "ID of the report.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "reportFragment": {
              "type": "integer",
              "format": "int32",
              "minimum": "0",
              "description": "The index of the report fragment to download.",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "doubleclicksearch/v2/reports/{reportId}/files/{reportFragment}",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "description": "Downloads a report file encoded in UTF-8.",
          "supportsMediaDownload": true,
          "httpMethod": "GET",
          "useMediaDownloadService": true,
          "path": "doubleclicksearch/v2/reports/{reportId}/files/{reportFragment}",
          "id": "doubleclicksearch.reports.getFile",
          "parameterOrder": [
            "reportId",
            "reportFragment"
          ]
        }
      }
    }
  }
}