{
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    }
  },
  "ownerName": "Google",
  "mtlsRootUrl": "https://doubleclicksearch.mtls.googleapis.com/",
  "basePath": "",
  "description": "The Search Ads 360 API allows developers to automate uploading conversions and downloading reports from Search Ads 360.",
  "ownerDomain": "google.com",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "v2",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "schemas": {
    "Availability": {
      "type": "object",
      "properties": {
        "segmentationName": {
          "description": "The friendly segmentation identifier (for example, DoubleClick Search Floodlight activity name).",
          "type": "string"
        },
        "segmentationType": {
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          },
          "description": "The segmentation type that this availability is for (its default value is `FLOODLIGHT`).",
          "type": "string"
        },
        "segmentationId": {
          "type": "string",
          "description": "The numeric segmentation identifier (for example, DoubleClick Search Floodlight activity ID).",
          "format": "int64"
        },
        "customerId": {
          "description": "Customer ID of a client account in the new Search Ads 360 experience.",
          "type": "string"
        },
        "agencyId": {
          "description": "DS agency ID.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          },
          "type": "string",
          "format": "int64"
        },
        "advertiserId": {
          "format": "int64",
          "description": "DS advertiser ID.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          },
          "type": "string"
        },
        "availabilityTimestamp": {
          "description": "The time by which all conversions have been uploaded, in epoch millis UTC.",
          "format": "int64",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          },
          "type": "string"
        }
      },
      "id": "Availability",
      "description": "A message containing availability data relevant to DoubleClick Search."
    },
    "SavedColumn": {
      "description": "A saved column",
      "id": "SavedColumn",
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of data this saved column will produce."
        },
        "savedColumnName": {
          "description": "The name of the saved column.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies this as a SavedColumn resource. Value: the fixed string doubleclicksearch#savedColumn."
        }
      },
      "type": "object"
    },
    "ReportRow": {
      "description": "A row in a DoubleClick Search report.",
      "type": "object",
      "id": "ReportRow",
      "additionalProperties": {
        "type": "any",
        "description": "Indicates the columns that are represented in this row. That is, each key corresponds to a column with a non-empty cell in this row."
      }
    },
    "UpdateAvailabilityResponse": {
      "id": "UpdateAvailabilityResponse",
      "type": "object",
      "properties": {
        "availabilities": {
          "items": {
            "$ref": "Availability"
          },
          "description": "The availabilities being returned.",
          "type": "array"
        }
      },
      "description": "The response to a update availability request."
    },
    "IdMappingFile": {
      "type": "object",
      "id": "IdMappingFile",
      "properties": {},
      "description": "File returned to https://developers.google.com/search-ads/v2/reference/reports/getIdMappingFile."
    },
    "Report": {
      "description": "A DoubleClick Search report. This object contains the report request, some report metadata such as currency code, and the generated report rows or report files.",
      "type": "object",
      "id": "Report",
      "properties": {
        "request": {
          "$ref": "ReportRequest",
          "description": "The request that created the report. Optional fields not specified in the original request are filled with default values."
        },
        "statisticsCurrencyCode": {
          "type": "string",
          "description": "The currency code of all monetary values produced in the report, including values that are set by users (e.g., keyword bid settings) and metrics (e.g., cost and revenue). The currency code of a report is determined by the `statisticsCurrency` field of the report request."
        },
        "id": {
          "description": "Asynchronous report only. Id of the report.",
          "type": "string"
        },
        "files": {
          "items": {
            "type": "object",
            "properties": {
              "byteCount": {
                "description": "The size of this report file in bytes.",
                "type": "string",
                "format": "int64"
              },
              "url": {
                "description": "Use this url to download the report file.",
                "type": "string"
              }
            }
          },
          "description": "Asynchronous report only. Contains a list of generated report files once the report has successfully completed.",
          "type": "array"
        },
        "isReportReady": {
          "description": "Asynchronous report only. True if and only if the report has completed successfully and the report files are ready to be downloaded.",
          "type": "boolean"
        },
        "rowCount": {
          "format": "int32",
          "description": "The number of report rows generated by the report, not including headers.",
          "type": "integer"
        },
        "rows": {
          "items": {
            "$ref": "ReportRow"
          },
          "description": "Synchronous report only. Generated report rows.",
          "type": "array"
        },
        "statisticsTimeZone": {
          "description": "If all statistics of the report are sourced from the same time zone, this would be it. Otherwise the field is unset.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies this as a Report resource. Value: the fixed string `doubleclicksearch#report`."
        }
      }
    },
    "CustomDimension": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Custom dimension name."
        },
        "value": {
          "type": "string",
          "description": "Custom dimension value."
        }
      },
      "id": "CustomDimension",
      "description": "A message containing the custom dimension.",
      "type": "object"
    },
    "UpdateAvailabilityRequest": {
      "type": "object",
      "description": "The request to update availability.",
      "id": "UpdateAvailabilityRequest",
      "properties": {
        "availabilities": {
          "type": "array",
          "items": {
            "$ref": "Availability"
          },
          "description": "The availabilities being requested."
        }
      }
    },
    "ReportApiColumnSpec": {
      "type": "object",
      "properties": {
        "groupByColumn": {
          "type": "boolean",
          "description": "Synchronous report only. Set to `true` to group by this column. Defaults to `false`."
        },
        "columnName": {
          "description": "Name of a DoubleClick Search column to include in the report.",
          "type": "string"
        },
        "savedColumnName": {
          "type": "string",
          "description": "Name of a saved column to include in the report. The report must be scoped at advertiser or lower, and this saved column must already be created in the DoubleClick Search UI."
        },
        "customDimensionName": {
          "description": "Segments a report by a custom dimension. The report must be scoped to an advertiser or lower, and the custom dimension must already be set up in DoubleClick Search. The custom dimension name, which appears in DoubleClick Search, is case sensitive.\\ If used in a conversion report, returns the value of the specified custom dimension for the given conversion, if set. This column does not segment the conversion report.",
          "type": "string"
        },
        "headerText": {
          "description": "Text used to identify this column in the report output; defaults to `columnName` or `savedColumnName` when not specified. This can be used to prevent collisions between DoubleClick Search columns and saved columns with the same name.",
          "type": "string"
        },
        "startDate": {
          "description": "Inclusive date in YYYY-MM-DD format. When provided, this overrides the overall time range of the report for this column only. Must be provided together with `endDate`.",
          "type": "string"
        },
        "productReportPerspective": {
          "description": "Returns metrics only for a specific type of product activity. Accepted values are: - \"`sold`\": returns metrics only for products that were sold - \"`advertised`\": returns metrics only for products that were advertised in a Shopping campaign, and that might or might not have been sold ",
          "type": "string"
        },
        "platformSource": {
          "type": "string",
          "description": "The platform that is used to provide data for the custom dimension. Acceptable values are \"floodlight\"."
        },
        "customMetricName": {
          "description": "Name of a custom metric to include in the report. The report must be scoped to an advertiser or lower, and the custom metric must already be set up in DoubleClick Search. The custom metric name, which appears in DoubleClick Search, is case sensitive.",
          "type": "string"
        },
        "endDate": {
          "type": "string",
          "description": "Inclusive day in YYYY-MM-DD format. When provided, this overrides the overall time range of the report for this column only. Must be provided together with `startDate`."
        }
      },
      "id": "ReportApiColumnSpec",
      "description": "A request object used to create a DoubleClick Search report."
    },
    "Conversion": {
      "type": "object",
      "id": "Conversion",
      "description": "A conversion containing data relevant to DoubleClick Search. Common DS3 API conversion fields: Id Range [1 - 2800]. Next Id to use: 33",
      "properties": {
        "segmentationName": {
          "description": "The friendly segmentation identifier (for example, DoubleClick Search Floodlight activity name).",
          "type": "string"
        },
        "state": {
          "type": "string",
          "description": "The state of the conversion, that is, either `ACTIVE` or `REMOVED`. Note: state DELETED is deprecated."
        },
        "adId": {
          "description": "DS ad ID.",
          "type": "string",
          "format": "int64"
        },
        "conversionModifiedTimestamp": {
          "description": "The time at which the conversion was last modified, in epoch millis UTC.",
          "type": "string",
          "format": "int64"
        },
        "floodlightOrderId": {
          "type": "string",
          "description": "The Floodlight order ID provided by the advertiser for the conversion."
        },
        "quantityMillis": {
          "format": "int64",
          "description": "The quantity of this conversion, in millis.",
          "type": "string"
        },
        "inventoryAccountId": {
          "type": "string",
          "format": "int64",
          "description": "ID that DS generates and uses to uniquely identify the inventory account that contains the product."
        },
        "clickId": {
          "type": "string",
          "description": "DS click ID for the conversion."
        },
        "adGroupId": {
          "type": "string",
          "format": "int64",
          "description": "DS ad group ID."
        },
        "advertiserId": {
          "type": "string",
          "format": "int64",
          "description": "DS advertiser ID."
        },
        "deviceType": {
          "description": "The type of device on which the conversion occurred.",
          "type": "string"
        },
        "storeId": {
          "type": "string",
          "description": "The ID of the local store for which the product was advertised. Applicable only when the channel is \"`local`\"."
        },
        "productLanguage": {
          "description": "The language registered for the Merchant Center feed that contains the product. Use an ISO 639 code to specify a language.",
          "type": "string"
        },
        "agencyId": {
          "type": "string",
          "description": "DS agency ID.",
          "format": "int64"
        },
        "revenueMicros": {
          "type": "string",
          "description": "The revenue amount of this `TRANSACTION` conversion, in micros (value multiplied by 1000000, no decimal). For example, to specify a revenue value of \"10\" enter \"10000000\" (10 million) in your request."
        },
        "adUserDataConsent": {
          "description": "Represents consent for core platform services (CPS) preferences in settings. No default value. Acceptable values are: GRANTED: The desired consent status is to grant. Read the CPS preferences from GTE settings. DENIED: The desired consent status is to deny; CPS list is empty.",
          "type": "string",
          "enum": [
            "UNKNOWN",
            "GRANTED",
            "DENIED"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Granted.",
            "Denied."
          ]
        },
        "conversionTimestamp": {
          "type": "string",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          },
          "description": "The time at which the conversion took place, in epoch millis UTC."
        },
        "type": {
          "description": "The type of the conversion, that is, either `ACTION` or `TRANSACTION`. An `ACTION` conversion is an action by the user that has no monetarily quantifiable value, while a `TRANSACTION` conversion is an action that does have a monetarily quantifiable value. Examples are email list signups (`ACTION`) versus ecommerce purchases (`TRANSACTION`).",
          "type": "string"
        },
        "segmentationType": {
          "description": "The segmentation type of this conversion (for example, `FLOODLIGHT`).",
          "type": "string",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          }
        },
        "currencyCode": {
          "description": "The currency code for the conversion's revenue. Should be in ISO 4217 alphabetic (3-char) format.",
          "type": "string"
        },
        "customDimension": {
          "items": {
            "$ref": "CustomDimension"
          },
          "description": "Custom dimensions for the conversion, which can be used to filter data in a report.",
          "type": "array"
        },
        "channel": {
          "description": "Sales channel for the product. Acceptable values are: - \"`local`\": a physical store - \"`online`\": an online store ",
          "type": "string"
        },
        "productCountry": {
          "description": "The country registered for the Merchant Center feed that contains the product. Use an ISO 3166 code to specify a country.",
          "type": "string"
        },
        "productId": {
          "type": "string",
          "description": "The product ID (SKU)."
        },
        "productGroupId": {
          "format": "int64",
          "type": "string",
          "description": "DS product group ID."
        },
        "campaignId": {
          "description": "DS campaign ID.",
          "format": "int64",
          "type": "string"
        },
        "conversionId": {
          "description": "For offline conversions, advertisers provide this ID. Advertisers can specify any ID that is meaningful to them. Each conversion in a request must specify a unique ID, and the combination of ID and timestamp must be unique amongst all conversions within the advertiser. For online conversions, DS copies the `dsConversionId` or `floodlightOrderId` into this property depending on the advertiser's Floodlight instructions.",
          "type": "string",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          }
        },
        "segmentationId": {
          "description": "The numeric segmentation identifier (for example, DoubleClick Search Floodlight activity ID).",
          "format": "int64",
          "type": "string"
        },
        "engineAccountId": {
          "description": "DS engine account ID.",
          "format": "int64",
          "type": "string"
        },
        "customerId": {
          "description": "Customer ID of a client account in the new Search Ads 360 experience.",
          "type": "string"
        },
        "attributionModel": {
          "description": "Available to advertisers only after contacting DoubleClick Search customer support.",
          "type": "string"
        },
        "customMetric": {
          "type": "array",
          "items": {
            "$ref": "CustomMetric"
          },
          "description": "Custom metrics for the conversion."
        },
        "criterionId": {
          "description": "DS criterion (keyword) ID.",
          "type": "string",
          "format": "int64"
        },
        "countMillis": {
          "description": "Available to advertisers only after contacting DoubleClick Search customer support.",
          "type": "string",
          "format": "int64"
        },
        "dsConversionId": {
          "type": "string",
          "description": "ID that DoubleClick Search generates for each conversion.",
          "format": "int64"
        }
      }
    },
    "SavedColumnList": {
      "properties": {
        "items": {
          "description": "The saved columns being requested.",
          "items": {
            "$ref": "SavedColumn"
          },
          "type": "array"
        },
        "kind": {
          "description": "Identifies this as a SavedColumnList resource. Value: the fixed string doubleclicksearch#savedColumnList.",
          "type": "string"
        }
      },
      "id": "SavedColumnList",
      "type": "object",
      "description": "A list of saved columns. Advertisers create saved columns to report on Floodlight activities, Google Analytics goals, or custom KPIs. To request reports with saved columns, you'll need the saved column names that are available from this list."
    },
    "CustomMetric": {
      "id": "CustomMetric",
      "type": "object",
      "properties": {
        "value": {
          "description": "Custom metric numeric value.",
          "type": "number",
          "format": "double"
        },
        "name": {
          "type": "string",
          "description": "Custom metric name."
        }
      },
      "description": "A message containing the custom metric."
    },
    "ReportRequest": {
      "description": "A request object used to create a DoubleClick Search report.",
      "type": "object",
      "id": "ReportRequest",
      "properties": {
        "includeDeletedEntities": {
          "type": "boolean",
          "description": "Determines if removed entities should be included in the report. Defaults to `false`. Deprecated, please use `includeRemovedEntities` instead."
        },
        "startRow": {
          "type": "integer",
          "format": "int32",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate"
            ]
          },
          "description": "Synchronous report only. Zero-based index of the first row to return. Acceptable values are `0` to `50000`, inclusive. Defaults to `0`."
        },
        "orderBy": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "column": {
                "$ref": "ReportApiColumnSpec",
                "description": "Column to perform the sort on. This can be a DoubleClick Search-defined column or a saved column."
              },
              "sortOrder": {
                "type": "string",
                "description": "The sort direction, which is either `ascending` or `descending`."
              }
            }
          },
          "description": "Synchronous report only. A list of columns and directions defining sorting to be performed on the report rows.\\ The maximum number of orderings per request is 300."
        },
        "timeRange": {
          "description": "If metrics are requested in a report, this argument will be used to restrict the metrics to a specific time range.",
          "type": "object",
          "properties": {
            "startDate": {
              "type": "string",
              "description": "Inclusive date in YYYY-MM-DD format."
            },
            "changedMetricsSinceTimestamp": {
              "type": "string",
              "description": "Inclusive UTC timestamp in RFC format, e.g., `2013-07-16T10:16:23.555Z`. See additional references on how changed metrics reports work."
            },
            "changedAttributesSinceTimestamp": {
              "description": "Inclusive UTC timestamp in RFC format, e.g., `2013-07-16T10:16:23.555Z`. See additional references on how changed attribute reports work.",
              "type": "string"
            },
            "endDate": {
              "type": "string",
              "description": "Inclusive date in YYYY-MM-DD format."
            }
          }
        },
        "includeRemovedEntities": {
          "description": "Determines if removed entities should be included in the report. Defaults to `false`.",
          "type": "boolean"
        },
        "filters": {
          "type": "array",
          "description": "A list of filters to be applied to the report.\\ The maximum number of filters per request is 300.",
          "items": {
            "properties": {
              "column": {
                "$ref": "ReportApiColumnSpec",
                "description": "Column to perform the filter on. This can be a DoubleClick Search column or a saved column."
              },
              "values": {
                "description": "A list of values to filter the column value against.\\ The maximum number of filter values per request is 300.",
                "items": {
                  "type": "any"
                },
                "type": "array"
              },
              "operator": {
                "type": "string",
                "description": "Operator to use in the filter. See the filter reference for a list of available operators."
              }
            },
            "type": "object"
          }
        },
        "downloadFormat": {
          "type": "string",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.request"
            ]
          },
          "description": "Format that the report should be returned in. Currently `csv` or `tsv` is supported."
        },
        "statisticsCurrency": {
          "description": "Specifies the currency in which monetary will be returned. Possible values are: `usd`, `agency` (valid if the report is scoped to agency or lower), `advertiser` (valid if the report is scoped to * advertiser or lower), or `account` (valid if the report is scoped to engine account or lower).",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate",
              "doubleclicksearch.reports.request"
            ]
          },
          "type": "string"
        },
        "reportType": {
          "type": "string",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate",
              "doubleclicksearch.reports.request"
            ]
          },
          "description": "Determines the type of rows that are returned in the report. For example, if you specify `reportType: keyword`, each row in the report will contain data about a keyword. See the [Types of Reports](/search-ads/v2/report-types/) reference for the columns that are available for each type."
        },
        "verifySingleTimeZone": {
          "description": "If `true`, the report would only be created if all the requested stat data are sourced from a single timezone. Defaults to `false`.",
          "type": "boolean"
        },
        "columns": {
          "type": "array",
          "description": "The columns to include in the report. This includes both DoubleClick Search columns and saved columns. For DoubleClick Search columns, only the `columnName` parameter is required. For saved columns only the `savedColumnName` parameter is required. Both `columnName` and `savedColumnName` cannot be set in the same stanza.\\ The maximum number of columns per request is 300.",
          "items": {
            "$ref": "ReportApiColumnSpec"
          }
        },
        "maxRowsPerFile": {
          "type": "integer",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.request"
            ]
          },
          "format": "int32",
          "description": "Asynchronous report only. The maximum number of rows per report file. A large report is split into many files based on this field. Acceptable values are `1000000` to `100000000`, inclusive."
        },
        "reportScope": {
          "description": "The reportScope is a set of IDs that are used to determine which subset of entities will be returned in the report. The full lineage of IDs from the lowest scoped level desired up through agency is required.",
          "properties": {
            "advertiserId": {
              "description": "DS advertiser ID.",
              "format": "int64",
              "type": "string"
            },
            "adGroupId": {
              "description": "DS ad group ID.",
              "format": "int64",
              "type": "string"
            },
            "keywordId": {
              "format": "int64",
              "type": "string",
              "description": "DS keyword ID."
            },
            "campaignId": {
              "format": "int64",
              "description": "DS campaign ID.",
              "type": "string"
            },
            "adId": {
              "type": "string",
              "description": "DS ad ID.",
              "format": "int64"
            },
            "engineAccountId": {
              "format": "int64",
              "description": "DS engine account ID.",
              "type": "string"
            },
            "agencyId": {
              "description": "DS agency ID.",
              "type": "string",
              "format": "int64"
            }
          },
          "type": "object"
        },
        "rowCount": {
          "type": "integer",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate"
            ]
          },
          "description": "Synchronous report only. The maximum number of rows to return; additional rows are dropped. Acceptable values are `0` to `10000`, inclusive. Defaults to `10000`.",
          "format": "int32"
        }
      }
    },
    "ConversionList": {
      "properties": {
        "conversion": {
          "items": {
            "$ref": "Conversion"
          },
          "type": "array",
          "description": "The conversions being requested."
        },
        "kind": {
          "type": "string",
          "description": "Identifies this as a ConversionList resource. Value: the fixed string doubleclicksearch#conversionList."
        }
      },
      "id": "ConversionList",
      "type": "object",
      "description": "A list of conversions."
    }
  },
  "protocol": "rest",
  "title": "Search Ads 360 API",
  "baseUrl": "https://doubleclicksearch.googleapis.com/",
  "name": "doubleclicksearch",
  "revision": "20260901",
  "rootUrl": "https://doubleclicksearch.googleapis.com/",
  "documentationLink": "https://developers.google.com/search-ads",
  "id": "doubleclicksearch:v2",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/doubleclicksearch": {
          "description": "View and manage your advertising data in DoubleClick Search"
        }
      }
    }
  },
  "servicePath": "",
  "canonicalName": "Doubleclicksearch",
  "resources": {
    "savedColumns": {
      "methods": {
        "list": {
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/savedcolumns",
          "parameters": {
            "advertiserId": {
              "description": "DS ID of the advertiser.",
              "location": "path",
              "format": "int64",
              "type": "string",
              "required": true
            },
            "agencyId": {
              "required": true,
              "format": "int64",
              "description": "DS ID of the agency.",
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "id": "doubleclicksearch.savedColumns.list",
          "description": "Retrieve the list of saved columns for a specified advertiser.",
          "response": {
            "$ref": "SavedColumnList"
          },
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/savedcolumns",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameterOrder": [
            "agencyId",
            "advertiserId"
          ]
        }
      }
    },
    "reports": {
      "methods": {
        "request": {
          "request": {
            "$ref": "ReportRequest"
          },
          "path": "doubleclicksearch/v2/reports",
          "parameterOrder": [],
          "parameters": {},
          "flatPath": "doubleclicksearch/v2/reports",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "doubleclicksearch.reports.request",
          "response": {
            "$ref": "Report"
          },
          "httpMethod": "POST",
          "description": "Inserts a report request into the reporting system."
        },
        "generate": {
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "request": {
            "$ref": "ReportRequest"
          },
          "parameters": {},
          "httpMethod": "POST",
          "path": "doubleclicksearch/v2/reports/generate",
          "description": "Generates and returns a report immediately.",
          "flatPath": "doubleclicksearch/v2/reports/generate",
          "response": {
            "$ref": "Report"
          },
          "id": "doubleclicksearch.reports.generate",
          "parameterOrder": []
        },
        "getIdMappingFile": {
          "useMediaDownloadService": true,
          "description": "Downloads a csv file(encoded in UTF-8) that contains ID mappings between legacy SA360 and new SA360. The file includes all children entities of the given advertiser(e.g. engine accounts, campaigns, ad groups, etc.) that exist in both legacy SA360 and new SA360.",
          "response": {
            "$ref": "IdMappingFile"
          },
          "supportsMediaDownload": true,
          "id": "doubleclicksearch.reports.getIdMappingFile",
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/idmapping",
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/idmapping",
          "parameterOrder": [
            "agencyId",
            "advertiserId"
          ],
          "parameters": {
            "agencyId": {
              "required": true,
              "type": "string",
              "description": "Legacy SA360 agency ID.",
              "format": "int64",
              "location": "path"
            },
            "advertiserId": {
              "required": true,
              "type": "string",
              "format": "int64",
              "description": "Legacy SA360 advertiser ID.",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "httpMethod": "GET"
        },
        "getFile": {
          "useMediaDownloadService": true,
          "path": "doubleclicksearch/v2/reports/{reportId}/files/{reportFragment}",
          "supportsMediaDownload": true,
          "flatPath": "doubleclicksearch/v2/reports/{reportId}/files/{reportFragment}",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameters": {
            "reportId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "ID of the report."
            },
            "reportFragment": {
              "format": "int32",
              "location": "path",
              "required": true,
              "minimum": "0",
              "description": "The index of the report fragment to download.",
              "type": "integer"
            }
          },
          "parameterOrder": [
            "reportId",
            "reportFragment"
          ],
          "id": "doubleclicksearch.reports.getFile",
          "description": "Downloads a report file encoded in UTF-8.",
          "httpMethod": "GET"
        },
        "get": {
          "id": "doubleclicksearch.reports.get",
          "path": "doubleclicksearch/v2/reports/{reportId}",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "reportId"
          ],
          "flatPath": "doubleclicksearch/v2/reports/{reportId}",
          "description": "Polls for the status of a report request.",
          "response": {
            "$ref": "Report"
          },
          "parameters": {
            "reportId": {
              "required": true,
              "type": "string",
              "description": "ID of the report request being polled.",
              "location": "path"
            }
          }
        }
      }
    },
    "conversion": {
      "methods": {
        "insert": {
          "description": "Inserts a batch of new conversions into DoubleClick Search.",
          "path": "doubleclicksearch/v2/conversion",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameters": {},
          "parameterOrder": [],
          "id": "doubleclicksearch.conversion.insert",
          "response": {
            "$ref": "ConversionList"
          },
          "request": {
            "$ref": "ConversionList"
          },
          "flatPath": "doubleclicksearch/v2/conversion",
          "httpMethod": "POST"
        },
        "update": {
          "id": "doubleclicksearch.conversion.update",
          "parameterOrder": [],
          "request": {
            "$ref": "ConversionList"
          },
          "flatPath": "doubleclicksearch/v2/conversion",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "response": {
            "$ref": "ConversionList"
          },
          "description": "Updates a batch of conversions in DoubleClick Search.",
          "httpMethod": "PUT",
          "path": "doubleclicksearch/v2/conversion"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "description": "Retrieves a list of conversions from a DoubleClick Search engine account.",
          "httpMethod": "GET",
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/engine/{engineAccountId}/conversion",
          "response": {
            "$ref": "ConversionList"
          },
          "parameters": {
            "agencyId": {
              "location": "path",
              "format": "int64",
              "description": "Numeric ID of the agency.",
              "type": "string",
              "required": true
            },
            "advertiserId": {
              "location": "path",
              "required": true,
              "description": "Numeric ID of the advertiser.",
              "format": "int64",
              "type": "string"
            },
            "startDate": {
              "type": "integer",
              "required": true,
              "maximum": "99991231",
              "location": "query",
              "description": "First date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "minimum": "20091101",
              "format": "int32"
            },
            "rowCount": {
              "description": "The number of conversions to return per call.",
              "format": "int32",
              "minimum": "1",
              "location": "query",
              "type": "integer",
              "maximum": "1000",
              "required": true
            },
            "engineAccountId": {
              "location": "path",
              "type": "string",
              "description": "Numeric ID of the engine account.",
              "format": "int64",
              "required": true
            },
            "customerId": {
              "type": "string",
              "description": "Customer ID of a client account in the new Search Ads 360 experience.",
              "location": "query"
            },
            "adGroupId": {
              "location": "query",
              "format": "int64",
              "description": "Numeric ID of the ad group.",
              "type": "string"
            },
            "criterionId": {
              "type": "string",
              "location": "query",
              "format": "int64",
              "description": "Numeric ID of the criterion."
            },
            "campaignId": {
              "description": "Numeric ID of the campaign.",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "adId": {
              "location": "query",
              "description": "Numeric ID of the ad.",
              "format": "int64",
              "type": "string"
            },
            "startRow": {
              "location": "query",
              "required": true,
              "type": "integer",
              "description": "The 0-based starting index for retrieving conversions results.",
              "format": "uint32"
            },
            "endDate": {
              "minimum": "20091101",
              "format": "int32",
              "type": "integer",
              "location": "query",
              "required": true,
              "maximum": "99991231",
              "description": "Last date (inclusive) on which to retrieve conversions. Format is yyyymmdd."
            }
          },
          "id": "doubleclicksearch.conversion.get",
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/engine/{engineAccountId}/conversion",
          "parameterOrder": [
            "agencyId",
            "advertiserId",
            "engineAccountId",
            "endDate",
            "rowCount",
            "startDate",
            "startRow"
          ]
        },
        "updateAvailability": {
          "httpMethod": "POST",
          "parameters": {},
          "description": "Updates the availabilities of a batch of floodlight activities in DoubleClick Search.",
          "request": {
            "$ref": "UpdateAvailabilityRequest"
          },
          "path": "doubleclicksearch/v2/conversion/updateAvailability",
          "flatPath": "doubleclicksearch/v2/conversion/updateAvailability",
          "response": {
            "$ref": "UpdateAvailabilityResponse"
          },
          "parameterOrder": [],
          "id": "doubleclicksearch.conversion.updateAvailability",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ]
        },
        "getByCustomerId": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "description": "Retrieves a list of conversions from a DoubleClick Search engine account.",
          "path": "doubleclicksearch/v2/customer/{customerId}/conversion",
          "parameters": {
            "startRow": {
              "required": true,
              "description": "The 0-based starting index for retrieving conversions results.",
              "format": "uint32",
              "location": "query",
              "type": "integer"
            },
            "adGroupId": {
              "description": "Numeric ID of the ad group.",
              "format": "int64",
              "type": "string",
              "location": "query"
            },
            "criterionId": {
              "location": "query",
              "format": "int64",
              "description": "Numeric ID of the criterion.",
              "type": "string"
            },
            "startDate": {
              "maximum": "99991231",
              "required": true,
              "type": "integer",
              "description": "First date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "format": "int32",
              "minimum": "20091101",
              "location": "query"
            },
            "campaignId": {
              "location": "query",
              "type": "string",
              "format": "int64",
              "description": "Numeric ID of the campaign."
            },
            "customerId": {
              "location": "path",
              "description": "Customer ID of a client account in the new Search Ads 360 experience.",
              "type": "string",
              "required": true
            },
            "endDate": {
              "location": "query",
              "type": "integer",
              "maximum": "99991231",
              "description": "Last date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "minimum": "20091101",
              "format": "int32",
              "required": true
            },
            "adId": {
              "type": "string",
              "format": "int64",
              "location": "query",
              "description": "Numeric ID of the ad."
            },
            "agencyId": {
              "format": "int64",
              "description": "Numeric ID of the agency.",
              "type": "string",
              "location": "query"
            },
            "engineAccountId": {
              "description": "Numeric ID of the engine account.",
              "format": "int64",
              "type": "string",
              "location": "query"
            },
            "advertiserId": {
              "type": "string",
              "format": "int64",
              "location": "query",
              "description": "Numeric ID of the advertiser."
            },
            "rowCount": {
              "required": true,
              "maximum": "1000",
              "description": "The number of conversions to return per call.",
              "type": "integer",
              "minimum": "1",
              "location": "query",
              "format": "int32"
            }
          },
          "id": "doubleclicksearch.conversion.getByCustomerId",
          "flatPath": "doubleclicksearch/v2/customer/{customerId}/conversion",
          "parameterOrder": [
            "customerId",
            "endDate",
            "rowCount",
            "startDate",
            "startRow"
          ],
          "response": {
            "$ref": "ConversionList"
          }
        }
      }
    }
  }
}