{
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "id": "doubleclickbidmanager:v2",
  "servicePath": "v2/",
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/doubleclickbidmanager": {
          "description": "View and manage your reports in DoubleClick Bid Manager"
        }
      }
    }
  },
  "schemas": {
    "RunQueryRequest": {
      "type": "object",
      "properties": {
        "dataRange": {
          "description": "The date range used by the query to generate the report. If unspecified, the query's original data_range is used.",
          "$ref": "DataRange"
        }
      },
      "id": "RunQueryRequest",
      "description": "Details specifying how to run a query."
    },
    "Report": {
      "description": "A single report generated by its parent report.",
      "type": "object",
      "properties": {
        "key": {
          "$ref": "ReportKey",
          "description": "The key information identifying the report."
        },
        "metadata": {
          "$ref": "ReportMetadata",
          "description": "The metadata of the report."
        },
        "params": {
          "description": "The parameters of the report.",
          "$ref": "Parameters"
        }
      },
      "id": "Report"
    },
    "ListReportsResponse": {
      "id": "ListReportsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `queries.reports.list` method to retrieve the next page of results.",
          "type": "string"
        },
        "reports": {
          "items": {
            "$ref": "Report"
          },
          "type": "array",
          "description": "The list of reports. This field will be absent if empty."
        }
      }
    },
    "Parameters": {
      "properties": {
        "type": {
          "description": "The type of the report. The type of the report determines the dimesions, filters, and metrics that can be used.",
          "enum": [
            "REPORT_TYPE_UNSPECIFIED",
            "STANDARD",
            "INVENTORY_AVAILABILITY",
            "AUDIENCE_COMPOSITION",
            "FLOODLIGHT",
            "YOUTUBE",
            "GRP",
            "YOUTUBE_PROGRAMMATIC_GUARANTEED",
            "REACH",
            "UNIQUE_REACH_AUDIENCE",
            "FULL_PATH",
            "PATH_ATTRIBUTION"
          ],
          "enumDescriptions": [
            "Default value when report type is not specified or is unknown in this version.",
            "Standard report.",
            "Inventory Availability report.",
            "Audience Composition report.",
            "Floodlight report.",
            "YouTube report.",
            "GRP report.",
            "YouTube Programmatic Guaranteed report.",
            "Reach report.",
            "Unique Reach Audience report.",
            "Full Path report.",
            "Path Attribution report."
          ],
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            true
          ]
        },
        "groupBys": {
          "description": "Dimensions by which to segment and group the data. Defined by [Filter](/bid-manager/reference/rest/v2/filters-metrics#filters) values.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "options": {
          "description": "Additional report parameter options.",
          "$ref": "Options"
        },
        "filters": {
          "description": "Filters to limit the scope of reported data.",
          "type": "array",
          "items": {
            "$ref": "FilterPair"
          }
        },
        "metrics": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Metrics to define the data populating the report. Defined by [Metric](/bid-manager/reference/rest/v2/filters-metrics#metrics) values."
        }
      },
      "description": "Parameters of a generated report.",
      "type": "object",
      "id": "Parameters"
    },
    "Date": {
      "properties": {
        "day": {
          "type": "integer",
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        },
        "month": {
          "type": "integer",
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        },
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "Date",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "FilterPair": {
      "properties": {
        "value": {
          "type": "string",
          "description": "The identifying value to filter by, such as a relevant resource ID."
        },
        "type": {
          "description": "The type of value to filter by. Defined by a [Filter](/bid-manager/reference/rest/v2/filters-metrics#filters) value.",
          "type": "string"
        }
      },
      "id": "FilterPair",
      "description": "Represents a single filter rule.",
      "type": "object"
    },
    "ReportMetadata": {
      "type": "object",
      "properties": {
        "googleCloudStoragePath": {
          "readOnly": true,
          "description": "Output only. The location of the generated report file in Google Cloud Storage. This field will be absent if status.state is not `DONE`.",
          "type": "string"
        },
        "status": {
          "$ref": "ReportStatus",
          "description": "The status of the report."
        },
        "reportDataEndDate": {
          "$ref": "Date",
          "description": "The end date of the report data date range."
        },
        "reportDataStartDate": {
          "description": "The start date of the report data date range.",
          "$ref": "Date"
        }
      },
      "description": "The metadata of a report.",
      "id": "ReportMetadata"
    },
    "QueryMetadata": {
      "properties": {
        "dataRange": {
          "$ref": "DataRange",
          "description": "The date range the report generated by the query will report on. This date range will be defined by the time zone as used by the advertiser."
        },
        "shareEmailAddress": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of additional email addresses with which to share the query. If send_notification is `true`, these email addresses will receive a notification when a report generated by the query is ready. If these email addresses are connected to Display & Video 360 users, the query will be available to them in the Display & Video 360 interface."
        },
        "title": {
          "description": "The display name of the query. This value will be used in the file name of reports generated by the query.",
          "type": "string"
        },
        "format": {
          "enumDescriptions": [
            "Default value when format is not specified or is unknown in this version.",
            "CSV.",
            "Excel."
          ],
          "type": "string",
          "description": "The format of the report generated by the query.",
          "enum": [
            "FORMAT_UNSPECIFIED",
            "CSV",
            "XLSX"
          ]
        },
        "sendNotification": {
          "type": "boolean",
          "description": "Whether an email notification is sent to the query creator when a report generated by the query is ready. This value is `false` by default."
        }
      },
      "type": "object",
      "description": "The metadata of the query.",
      "id": "QueryMetadata"
    },
    "Options": {
      "description": "Report parameter options.",
      "id": "Options",
      "properties": {
        "includeOnlyTargetedUserLists": {
          "description": "Whether to include data for audience lists specifically targeted by filtered line items or insertion orders. Requires the use of `FILTER_INSERTION_ORDER` or `FILTER_LINE_ITEM` filters.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "QuerySchedule": {
      "id": "QuerySchedule",
      "properties": {
        "endDate": {
          "description": "The date on which to end the scheduled runs. This field is required if frequency is not set to `ONE_TIME`. Otherwise, it will be ignored.",
          "$ref": "Date"
        },
        "startDate": {
          "$ref": "Date",
          "description": "The date on which to begin the scheduled runs. This field is required if frequency is not set to `ONE_TIME`. Otherwise, it will be ignored."
        },
        "frequency": {
          "enumDescriptions": [
            "Default value when frequency is not specified or is unknown in this version.",
            "Only when the query is run manually.",
            "Once a day.",
            "Once a week.",
            "Twice a month.",
            "Once a month.",
            "Once a quarter.",
            "Once a year."
          ],
          "enum": [
            "FREQUENCY_UNSPECIFIED",
            "ONE_TIME",
            "DAILY",
            "WEEKLY",
            "SEMI_MONTHLY",
            "MONTHLY",
            "QUARTERLY",
            "YEARLY"
          ],
          "description": "How frequently to run the query. If set to `ONE_TIME`, the query will only be run when queries.run is called.",
          "type": "string"
        },
        "nextRunTimezoneCode": {
          "type": "string",
          "description": "The canonical code for the timezone the query schedule is based on. Scheduled runs are usually conducted in the morning of a given day. Defaults to `America/New_York`."
        }
      },
      "description": "Settings on when and how frequently to run a query.",
      "type": "object"
    },
    "ReportKey": {
      "description": "Identifying information of a report.",
      "properties": {
        "reportId": {
          "description": "Output only. The unique ID of the report.",
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "queryId": {
          "description": "Output only. The unique ID of the query that generated the report.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "ReportKey"
    },
    "DataRange": {
      "description": "The date range to be reported on.",
      "id": "DataRange",
      "properties": {
        "customEndDate": {
          "description": "If `CUSTOM_DATES` is assigned to range, this field specifies the end date for the date range that is reported on. This field is required if using `CUSTOM_DATES` range and will be ignored otherwise.",
          "$ref": "Date"
        },
        "customStartDate": {
          "description": "If `CUSTOM_DATES` is assigned to range, this field specifies the starting date for the date range that is reported on. This field is required if using `CUSTOM_DATES` range and will be ignored otherwise.",
          "$ref": "Date"
        },
        "range": {
          "description": "The preset date range to be reported on. If `CUSTOM_DATES` is assigned to this field, fields custom_start_date and custom_end_date must be set to specify the custom date range.",
          "type": "string",
          "enumDescriptions": [
            "Default value when range is not specified or is unknown in this version.",
            "Custom date range.",
            "Current day.",
            "Previous day.",
            "All days, including the current day, since the most recent Sunday.",
            "All days, including the current day, since the start of the current month.",
            "All days, including the current day, since the start of the current quarter.",
            "All days, including the current day, since the start of the current calendar year.",
            "The previous completed week, beginning from Sunday.",
            "The previous completed calendar month.",
            "The previous completed quarter.",
            "The previous completed calendar year.",
            "The previous 7 days, excluding the current day.",
            "The previous 30 days, excluding the current day.",
            "The previous 90 days, excluding the current day.",
            "The previous 365 days, excluding the current day.",
            "All time for which data is available, excluding the current day.",
            "The previous 14 days, excluding the current day.",
            "The previous 60 days, excluding the current day."
          ],
          "enum": [
            "RANGE_UNSPECIFIED",
            "CUSTOM_DATES",
            "CURRENT_DAY",
            "PREVIOUS_DAY",
            "WEEK_TO_DATE",
            "MONTH_TO_DATE",
            "QUARTER_TO_DATE",
            "YEAR_TO_DATE",
            "PREVIOUS_WEEK",
            "PREVIOUS_MONTH",
            "PREVIOUS_QUARTER",
            "PREVIOUS_YEAR",
            "LAST_7_DAYS",
            "LAST_30_DAYS",
            "LAST_90_DAYS",
            "LAST_365_DAYS",
            "ALL_TIME",
            "LAST_14_DAYS",
            "LAST_60_DAYS"
          ]
        }
      },
      "type": "object"
    },
    "Query": {
      "description": "A single query used to generate a report.",
      "type": "object",
      "properties": {
        "params": {
          "$ref": "Parameters",
          "description": "The parameters of the report generated by the query."
        },
        "metadata": {
          "$ref": "QueryMetadata",
          "description": "The metadata of the query."
        },
        "schedule": {
          "description": "When and how often the query is scheduled to run. If the frequency field is set to `ONE_TIME`, the query will only run when queries.run is called.",
          "$ref": "QuerySchedule"
        },
        "queryId": {
          "format": "int64",
          "type": "string",
          "description": "Output only. The unique ID of the query.",
          "readOnly": true
        }
      },
      "id": "Query"
    },
    "ReportStatus": {
      "type": "object",
      "description": "The status of a report.",
      "id": "ReportStatus",
      "properties": {
        "finishTime": {
          "readOnly": true,
          "description": "Output only. The timestamp of when report generation finished successfully or in failure. This field will not be set unless state is `DONE` or `FAILED`.",
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "enumDescriptions": [
            "Default value when state is not specified or is unknown in this version.",
            "The report is queued to run.",
            "The report is currently running.",
            "The report has finished running successfully.",
            "The report has finished running in failure."
          ],
          "readOnly": true,
          "description": "Output only. The state of the report generation.",
          "enum": [
            "STATE_UNSPECIFIED",
            "QUEUED",
            "RUNNING",
            "DONE",
            "FAILED"
          ],
          "type": "string"
        },
        "format": {
          "enum": [
            "FORMAT_UNSPECIFIED",
            "CSV",
            "XLSX"
          ],
          "enumDescriptions": [
            "Default value when format is not specified or is unknown in this version.",
            "CSV.",
            "Excel."
          ],
          "type": "string",
          "description": "The format of the generated report file."
        }
      }
    },
    "ListQueriesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `queries.list` method to retrieve the next page of results."
        },
        "queries": {
          "description": "The list of queries. This field will be absent if empty.",
          "items": {
            "$ref": "Query"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListQueriesResponse"
    }
  },
  "documentationLink": "https://developers.google.com/bid-manager/",
  "version": "v2",
  "baseUrl": "https://doubleclickbidmanager.googleapis.com/v2/",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "title": "DoubleClick Bid Manager API",
  "revision": "20260916",
  "basePath": "/v2/",
  "canonicalName": "DoubleClick Bid Manager",
  "rootUrl": "https://doubleclickbidmanager.googleapis.com/",
  "batchPath": "batch",
  "protocol": "rest",
  "mtlsRootUrl": "https://doubleclickbidmanager.mtls.googleapis.com/",
  "name": "doubleclickbidmanager",
  "resources": {
    "queries": {
      "methods": {
        "run": {
          "path": "queries/{queryId}:run",
          "httpMethod": "POST",
          "parameters": {
            "synchronous": {
              "type": "boolean",
              "location": "query",
              "description": "Whether the query should be run synchronously. When `true`, the request won't return until the resulting report has finished running. This parameter is `false` by default. Setting this parameter to `true` is **not recommended**."
            },
            "queryId": {
              "type": "string",
              "format": "int64",
              "location": "path",
              "description": "Required. The ID of the query to run.",
              "required": true
            }
          },
          "id": "doubleclickbidmanager.queries.run",
          "flatPath": "queries/{queryId}:run",
          "description": "Runs an existing query to generate a report.",
          "response": {
            "$ref": "Report"
          },
          "parameterOrder": [
            "queryId"
          ],
          "request": {
            "$ref": "RunQueryRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ]
        },
        "get": {
          "id": "doubleclickbidmanager.queries.get",
          "parameterOrder": [
            "queryId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "flatPath": "queries/{queryId}",
          "response": {
            "$ref": "Query"
          },
          "description": "Retrieves a query.",
          "parameters": {
            "queryId": {
              "format": "int64",
              "required": true,
              "type": "string",
              "description": "Required. The ID of the query to retrieve.",
              "location": "path"
            }
          },
          "path": "queries/{queryId}",
          "httpMethod": "GET"
        },
        "list": {
          "httpMethod": "GET",
          "id": "doubleclickbidmanager.queries.list",
          "parameters": {
            "orderBy": {
              "description": "Field to sort the list by. Accepts the following values: * `queryId` (default) * `metadata.title` The default sorting order is ascending. To specify descending order for a field, add the suffix `desc` to the field name. For example, `queryId desc`.",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "Maximum number of results per page. Must be between `1` and `100`. Defaults to `100` if unspecified."
            },
            "pageToken": {
              "description": "A token identifying which page of results the server should return. Typically, this is the value of nextPageToken, returned from the previous call to the `queries.list` method. If unspecified, the first page of results is returned.",
              "type": "string",
              "location": "query"
            }
          },
          "description": "Lists queries created by the current user.",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "response": {
            "$ref": "ListQueriesResponse"
          },
          "flatPath": "queries",
          "path": "queries",
          "parameterOrder": []
        },
        "create": {
          "httpMethod": "POST",
          "id": "doubleclickbidmanager.queries.create",
          "parameters": {},
          "parameterOrder": [],
          "flatPath": "queries",
          "response": {
            "$ref": "Query"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "description": "Creates a new query.",
          "request": {
            "$ref": "Query"
          },
          "path": "queries"
        },
        "delete": {
          "path": "queries/{queryId}",
          "parameters": {
            "queryId": {
              "type": "string",
              "format": "int64",
              "description": "Required. The ID of the query to delete.",
              "required": true,
              "location": "path"
            }
          },
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "parameterOrder": [
            "queryId"
          ],
          "flatPath": "queries/{queryId}",
          "description": "Deletes an existing query as well as its generated reports.",
          "id": "doubleclickbidmanager.queries.delete"
        }
      },
      "resources": {
        "reports": {
          "methods": {
            "list": {
              "parameters": {
                "orderBy": {
                  "location": "query",
                  "description": "Field to sort the list by. Accepts the following values: * `key.reportId` (default) The default sorting order is ascending. To specify descending order for a field, add the suffix `desc` to the field name. For example, `key.reportId desc`.",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Maximum number of results per page. Must be between `1` and `100`. Defaults to `100` if unspecified.",
                  "location": "query",
                  "format": "int32"
                },
                "queryId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The ID of the query that generated the reports.",
                  "format": "int64"
                },
                "pageToken": {
                  "description": "A token identifying which page of results the server should return. Typically, this is the value of nextPageToken returned from the previous call to the `queries.reports.list` method. If unspecified, the first page of results is returned.",
                  "type": "string",
                  "location": "query"
                }
              },
              "path": "queries/{queryId}/reports",
              "httpMethod": "GET",
              "description": "Lists reports generated by the provided query.",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclickbidmanager"
              ],
              "parameterOrder": [
                "queryId"
              ],
              "id": "doubleclickbidmanager.queries.reports.list",
              "flatPath": "queries/{queryId}/reports",
              "response": {
                "$ref": "ListReportsResponse"
              }
            },
            "get": {
              "id": "doubleclickbidmanager.queries.reports.get",
              "description": "Retrieves a report.",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclickbidmanager"
              ],
              "flatPath": "queries/{queryId}/reports/{reportId}",
              "response": {
                "$ref": "Report"
              },
              "path": "queries/{queryId}/reports/{reportId}",
              "parameterOrder": [
                "queryId",
                "reportId"
              ],
              "parameters": {
                "queryId": {
                  "format": "int64",
                  "description": "Required. The ID of the query that generated the report.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "reportId": {
                  "description": "Required. The ID of the query to retrieve.",
                  "location": "path",
                  "type": "string",
                  "format": "int64",
                  "required": true
                }
              },
              "httpMethod": "GET"
            }
          }
        }
      }
    }
  },
  "description": "DoubleClick Bid Manager API allows users to manage and create campaigns and reports."
}