{
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/doubleclickbidmanager": {
          "description": "View and manage your reports in DoubleClick Bid Manager"
        }
      }
    }
  },
  "protocol": "rest",
  "revision": "20260930",
  "basePath": "/v2/",
  "kind": "discovery#restDescription",
  "parameters": {
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    }
  },
  "version": "v2",
  "name": "doubleclickbidmanager",
  "discoveryVersion": "v1",
  "canonicalName": "DoubleClick Bid Manager",
  "documentationLink": "https://developers.google.com/bid-manager/",
  "id": "doubleclickbidmanager:v2",
  "servicePath": "v2/",
  "baseUrl": "https://doubleclickbidmanager.googleapis.com/v2/",
  "mtlsRootUrl": "https://doubleclickbidmanager.mtls.googleapis.com/",
  "batchPath": "batch",
  "title": "DoubleClick Bid Manager API",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "rootUrl": "https://doubleclickbidmanager.googleapis.com/",
  "resources": {
    "queries": {
      "methods": {
        "run": {
          "path": "queries/{queryId}:run",
          "flatPath": "queries/{queryId}:run",
          "httpMethod": "POST",
          "parameters": {
            "synchronous": {
              "location": "query",
              "type": "boolean",
              "description": "Whether the query should be run synchronously. When `true`, the request won't return until the resulting report has finished running. This parameter is `false` by default. Setting this parameter to `true` is **not recommended**."
            },
            "queryId": {
              "type": "string",
              "format": "int64",
              "required": true,
              "description": "Required. The ID of the query to run.",
              "location": "path"
            }
          },
          "response": {
            "$ref": "Report"
          },
          "id": "doubleclickbidmanager.queries.run",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "request": {
            "$ref": "RunQueryRequest"
          },
          "parameterOrder": [
            "queryId"
          ],
          "description": "Runs an existing query to generate a report."
        },
        "delete": {
          "httpMethod": "DELETE",
          "parameters": {
            "queryId": {
              "format": "int64",
              "description": "Required. The ID of the query to delete.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "description": "Deletes an existing query as well as its generated reports.",
          "path": "queries/{queryId}",
          "flatPath": "queries/{queryId}",
          "parameterOrder": [
            "queryId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "id": "doubleclickbidmanager.queries.delete"
        },
        "create": {
          "path": "queries",
          "description": "Creates a new query.",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "flatPath": "queries",
          "httpMethod": "POST",
          "parameters": {},
          "request": {
            "$ref": "Query"
          },
          "response": {
            "$ref": "Query"
          },
          "id": "doubleclickbidmanager.queries.create"
        },
        "list": {
          "id": "doubleclickbidmanager.queries.list",
          "flatPath": "queries",
          "httpMethod": "GET",
          "parameters": {
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "description": "Maximum number of results per page. Must be between `1` and `100`. Defaults to `100` if unspecified.",
              "location": "query"
            },
            "orderBy": {
              "type": "string",
              "location": "query",
              "description": "Field to sort the list by. Accepts the following values: * `queryId` (default) * `metadata.title` The default sorting order is ascending. To specify descending order for a field, add the suffix `desc` to the field name. For example, `queryId desc`."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "A token identifying which page of results the server should return. Typically, this is the value of nextPageToken, returned from the previous call to the `queries.list` method. If unspecified, the first page of results is returned."
            }
          },
          "path": "queries",
          "response": {
            "$ref": "ListQueriesResponse"
          },
          "description": "Lists queries created by the current user.",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ]
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "path": "queries/{queryId}",
          "httpMethod": "GET",
          "parameters": {
            "queryId": {
              "location": "path",
              "format": "int64",
              "required": true,
              "type": "string",
              "description": "Required. The ID of the query to retrieve."
            }
          },
          "description": "Retrieves a query.",
          "id": "doubleclickbidmanager.queries.get",
          "flatPath": "queries/{queryId}",
          "parameterOrder": [
            "queryId"
          ],
          "response": {
            "$ref": "Query"
          }
        }
      },
      "resources": {
        "reports": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/doubleclickbidmanager"
              ],
              "response": {
                "$ref": "Report"
              },
              "description": "Retrieves a report.",
              "parameterOrder": [
                "queryId",
                "reportId"
              ],
              "httpMethod": "GET",
              "parameters": {
                "queryId": {
                  "description": "Required. The ID of the query that generated the report.",
                  "type": "string",
                  "required": true,
                  "format": "int64",
                  "location": "path"
                },
                "reportId": {
                  "description": "Required. The ID of the query to retrieve.",
                  "location": "path",
                  "required": true,
                  "format": "int64",
                  "type": "string"
                }
              },
              "flatPath": "queries/{queryId}/reports/{reportId}",
              "path": "queries/{queryId}/reports/{reportId}",
              "id": "doubleclickbidmanager.queries.reports.get"
            },
            "list": {
              "response": {
                "$ref": "ListReportsResponse"
              },
              "parameterOrder": [
                "queryId"
              ],
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "description": "A token identifying which page of results the server should return. Typically, this is the value of nextPageToken returned from the previous call to the `queries.reports.list` method. If unspecified, the first page of results is returned.",
                  "type": "string",
                  "location": "query"
                },
                "orderBy": {
                  "type": "string",
                  "location": "query",
                  "description": "Field to sort the list by. Accepts the following values: * `key.reportId` (default) The default sorting order is ascending. To specify descending order for a field, add the suffix `desc` to the field name. For example, `key.reportId desc`."
                },
                "queryId": {
                  "description": "Required. The ID of the query that generated the reports.",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "format": "int64"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "Maximum number of results per page. Must be between `1` and `100`. Defaults to `100` if unspecified.",
                  "type": "integer"
                }
              },
              "flatPath": "queries/{queryId}/reports",
              "path": "queries/{queryId}/reports",
              "id": "doubleclickbidmanager.queries.reports.list",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclickbidmanager"
              ],
              "description": "Lists reports generated by the provided query."
            }
          }
        }
      }
    }
  },
  "description": "DoubleClick Bid Manager API allows users to manage and create campaigns and reports.",
  "ownerDomain": "google.com",
  "schemas": {
    "Query": {
      "id": "Query",
      "properties": {
        "schedule": {
          "description": "When and how often the query is scheduled to run. If the frequency field is set to `ONE_TIME`, the query will only run when queries.run is called.",
          "$ref": "QuerySchedule"
        },
        "params": {
          "description": "The parameters of the report generated by the query.",
          "$ref": "Parameters"
        },
        "queryId": {
          "format": "int64",
          "description": "Output only. The unique ID of the query.",
          "type": "string",
          "readOnly": true
        },
        "metadata": {
          "$ref": "QueryMetadata",
          "description": "The metadata of the query."
        }
      },
      "description": "A single query used to generate a report.",
      "type": "object"
    },
    "Options": {
      "description": "Report parameter options.",
      "properties": {
        "includeOnlyTargetedUserLists": {
          "type": "boolean",
          "description": "Whether to include data for audience lists specifically targeted by filtered line items or insertion orders. Requires the use of `FILTER_INSERTION_ORDER` or `FILTER_LINE_ITEM` filters."
        }
      },
      "id": "Options",
      "type": "object"
    },
    "ListReportsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `queries.reports.list` method to retrieve the next page of results."
        },
        "reports": {
          "description": "The list of reports. This field will be absent if empty.",
          "items": {
            "$ref": "Report"
          },
          "type": "array"
        }
      },
      "id": "ListReportsResponse",
      "type": "object"
    },
    "FilterPair": {
      "id": "FilterPair",
      "description": "Represents a single filter rule.",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of value to filter by. Defined by a [Filter](/bid-manager/reference/rest/v2/filters-metrics#filters) value."
        },
        "value": {
          "type": "string",
          "description": "The identifying value to filter by, such as a relevant resource ID."
        }
      }
    },
    "ReportMetadata": {
      "properties": {
        "reportDataStartDate": {
          "$ref": "Date",
          "description": "The start date of the report data date range."
        },
        "googleCloudStoragePath": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The location of the generated report file in Google Cloud Storage. This field will be absent if status.state is not `DONE`."
        },
        "reportDataEndDate": {
          "$ref": "Date",
          "description": "The end date of the report data date range."
        },
        "status": {
          "description": "The status of the report.",
          "$ref": "ReportStatus"
        }
      },
      "type": "object",
      "description": "The metadata of a report.",
      "id": "ReportMetadata"
    },
    "Parameters": {
      "id": "Parameters",
      "type": "object",
      "properties": {
        "options": {
          "description": "Additional report parameter options.",
          "$ref": "Options"
        },
        "type": {
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            true
          ],
          "type": "string",
          "enum": [
            "REPORT_TYPE_UNSPECIFIED",
            "STANDARD",
            "INVENTORY_AVAILABILITY",
            "AUDIENCE_COMPOSITION",
            "FLOODLIGHT",
            "YOUTUBE",
            "GRP",
            "YOUTUBE_PROGRAMMATIC_GUARANTEED",
            "REACH",
            "UNIQUE_REACH_AUDIENCE",
            "FULL_PATH",
            "PATH_ATTRIBUTION"
          ],
          "enumDescriptions": [
            "Default value when report type is not specified or is unknown in this version.",
            "Standard report.",
            "Inventory Availability report.",
            "Audience Composition report.",
            "Floodlight report.",
            "YouTube report.",
            "GRP report.",
            "YouTube Programmatic Guaranteed report.",
            "Reach report.",
            "Unique Reach Audience report.",
            "Full Path report.",
            "Path Attribution report."
          ],
          "description": "The type of the report. The type of the report determines the dimesions, filters, and metrics that can be used."
        },
        "groupBys": {
          "type": "array",
          "description": "Dimensions by which to segment and group the data. Defined by [Filter](/bid-manager/reference/rest/v2/filters-metrics#filters) values.",
          "items": {
            "type": "string"
          }
        },
        "filters": {
          "type": "array",
          "items": {
            "$ref": "FilterPair"
          },
          "description": "Filters to limit the scope of reported data."
        },
        "metrics": {
          "type": "array",
          "description": "Metrics to define the data populating the report. Defined by [Metric](/bid-manager/reference/rest/v2/filters-metrics#metrics) values.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Parameters of a generated report."
    },
    "ReportStatus": {
      "description": "The status of a report.",
      "type": "object",
      "properties": {
        "format": {
          "type": "string",
          "enum": [
            "FORMAT_UNSPECIFIED",
            "CSV",
            "XLSX"
          ],
          "description": "The format of the generated report file.",
          "enumDescriptions": [
            "Default value when format is not specified or is unknown in this version.",
            "CSV.",
            "Excel."
          ]
        },
        "state": {
          "description": "Output only. The state of the report generation.",
          "readOnly": true,
          "enumDescriptions": [
            "Default value when state is not specified or is unknown in this version.",
            "The report is queued to run.",
            "The report is currently running.",
            "The report has finished running successfully.",
            "The report has finished running in failure."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "QUEUED",
            "RUNNING",
            "DONE",
            "FAILED"
          ]
        },
        "finishTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp of when report generation finished successfully or in failure. This field will not be set unless state is `DONE` or `FAILED`."
        }
      },
      "id": "ReportStatus"
    },
    "ReportKey": {
      "properties": {
        "reportId": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The unique ID of the report."
        },
        "queryId": {
          "description": "Output only. The unique ID of the query that generated the report.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        }
      },
      "description": "Identifying information of a report.",
      "type": "object",
      "id": "ReportKey"
    },
    "QueryMetadata": {
      "properties": {
        "format": {
          "description": "The format of the report generated by the query.",
          "enumDescriptions": [
            "Default value when format is not specified or is unknown in this version.",
            "CSV.",
            "Excel."
          ],
          "type": "string",
          "enum": [
            "FORMAT_UNSPECIFIED",
            "CSV",
            "XLSX"
          ]
        },
        "sendNotification": {
          "type": "boolean",
          "description": "Whether an email notification is sent to the query creator when a report generated by the query is ready. This value is `false` by default."
        },
        "dataRange": {
          "$ref": "DataRange",
          "description": "The date range the report generated by the query will report on. This date range will be defined by the time zone as used by the advertiser."
        },
        "shareEmailAddress": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of additional email addresses with which to share the query. If send_notification is `true`, these email addresses will receive a notification when a report generated by the query is ready. If these email addresses are connected to Display & Video 360 users, the query will be available to them in the Display & Video 360 interface."
        },
        "title": {
          "description": "The display name of the query. This value will be used in the file name of reports generated by the query.",
          "type": "string"
        }
      },
      "description": "The metadata of the query.",
      "type": "object",
      "id": "QueryMetadata"
    },
    "QuerySchedule": {
      "type": "object",
      "description": "Settings on when and how frequently to run a query.",
      "properties": {
        "nextRunTimezoneCode": {
          "type": "string",
          "description": "The canonical code for the timezone the query schedule is based on. Scheduled runs are usually conducted in the morning of a given day. Defaults to `America/New_York`."
        },
        "startDate": {
          "$ref": "Date",
          "description": "The date on which to begin the scheduled runs. This field is required if frequency is not set to `ONE_TIME`. Otherwise, it will be ignored."
        },
        "frequency": {
          "description": "How frequently to run the query. If set to `ONE_TIME`, the query will only be run when queries.run is called.",
          "enumDescriptions": [
            "Default value when frequency is not specified or is unknown in this version.",
            "Only when the query is run manually.",
            "Once a day.",
            "Once a week.",
            "Twice a month.",
            "Once a month.",
            "Once a quarter.",
            "Once a year."
          ],
          "type": "string",
          "enum": [
            "FREQUENCY_UNSPECIFIED",
            "ONE_TIME",
            "DAILY",
            "WEEKLY",
            "SEMI_MONTHLY",
            "MONTHLY",
            "QUARTERLY",
            "YEARLY"
          ]
        },
        "endDate": {
          "$ref": "Date",
          "description": "The date on which to end the scheduled runs. This field is required if frequency is not set to `ONE_TIME`. Otherwise, it will be ignored."
        }
      },
      "id": "QuerySchedule"
    },
    "DataRange": {
      "type": "object",
      "description": "The date range to be reported on.",
      "properties": {
        "range": {
          "enumDescriptions": [
            "Default value when range is not specified or is unknown in this version.",
            "Custom date range.",
            "Current day.",
            "Previous day.",
            "All days, including the current day, since the most recent Sunday.",
            "All days, including the current day, since the start of the current month.",
            "All days, including the current day, since the start of the current quarter.",
            "All days, including the current day, since the start of the current calendar year.",
            "The previous completed week, beginning from Sunday.",
            "The previous completed calendar month.",
            "The previous completed quarter.",
            "The previous completed calendar year.",
            "The previous 7 days, excluding the current day.",
            "The previous 30 days, excluding the current day.",
            "The previous 90 days, excluding the current day.",
            "The previous 365 days, excluding the current day.",
            "All time for which data is available, excluding the current day.",
            "The previous 14 days, excluding the current day.",
            "The previous 60 days, excluding the current day."
          ],
          "description": "The preset date range to be reported on. If `CUSTOM_DATES` is assigned to this field, fields custom_start_date and custom_end_date must be set to specify the custom date range.",
          "type": "string",
          "enum": [
            "RANGE_UNSPECIFIED",
            "CUSTOM_DATES",
            "CURRENT_DAY",
            "PREVIOUS_DAY",
            "WEEK_TO_DATE",
            "MONTH_TO_DATE",
            "QUARTER_TO_DATE",
            "YEAR_TO_DATE",
            "PREVIOUS_WEEK",
            "PREVIOUS_MONTH",
            "PREVIOUS_QUARTER",
            "PREVIOUS_YEAR",
            "LAST_7_DAYS",
            "LAST_30_DAYS",
            "LAST_90_DAYS",
            "LAST_365_DAYS",
            "ALL_TIME",
            "LAST_14_DAYS",
            "LAST_60_DAYS"
          ]
        },
        "customStartDate": {
          "$ref": "Date",
          "description": "If `CUSTOM_DATES` is assigned to range, this field specifies the starting date for the date range that is reported on. This field is required if using `CUSTOM_DATES` range and will be ignored otherwise."
        },
        "customEndDate": {
          "$ref": "Date",
          "description": "If `CUSTOM_DATES` is assigned to range, this field specifies the end date for the date range that is reported on. This field is required if using `CUSTOM_DATES` range and will be ignored otherwise."
        }
      },
      "id": "DataRange"
    },
    "ListQueriesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `queries.list` method to retrieve the next page of results.",
          "type": "string"
        },
        "queries": {
          "items": {
            "$ref": "Query"
          },
          "description": "The list of queries. This field will be absent if empty.",
          "type": "array"
        }
      },
      "id": "ListQueriesResponse",
      "type": "object"
    },
    "Date": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "id": "Date",
      "type": "object",
      "properties": {
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32",
          "type": "integer"
        },
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "type": "integer",
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        }
      }
    },
    "RunQueryRequest": {
      "id": "RunQueryRequest",
      "type": "object",
      "description": "Details specifying how to run a query.",
      "properties": {
        "dataRange": {
          "description": "The date range used by the query to generate the report. If unspecified, the query's original data_range is used.",
          "$ref": "DataRange"
        }
      }
    },
    "Report": {
      "properties": {
        "metadata": {
          "description": "The metadata of the report.",
          "$ref": "ReportMetadata"
        },
        "params": {
          "$ref": "Parameters",
          "description": "The parameters of the report."
        },
        "key": {
          "description": "The key information identifying the report.",
          "$ref": "ReportKey"
        }
      },
      "description": "A single report generated by its parent report.",
      "type": "object",
      "id": "Report"
    }
  }
}