{
  "parameters": {
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "mtlsRootUrl": "https://doubleclicksearch.mtls.googleapis.com/",
  "baseUrl": "https://doubleclicksearch.googleapis.com/",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/search-ads",
  "basePath": "",
  "schemas": {
    "CustomMetric": {
      "type": "object",
      "id": "CustomMetric",
      "description": "A message containing the custom metric.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Custom metric name."
        },
        "value": {
          "description": "Custom metric numeric value.",
          "format": "double",
          "type": "number"
        }
      }
    },
    "ReportApiColumnSpec": {
      "properties": {
        "columnName": {
          "type": "string",
          "description": "Name of a DoubleClick Search column to include in the report."
        },
        "customDimensionName": {
          "description": "Segments a report by a custom dimension. The report must be scoped to an advertiser or lower, and the custom dimension must already be set up in DoubleClick Search. The custom dimension name, which appears in DoubleClick Search, is case sensitive.\\ If used in a conversion report, returns the value of the specified custom dimension for the given conversion, if set. This column does not segment the conversion report.",
          "type": "string"
        },
        "groupByColumn": {
          "description": "Synchronous report only. Set to `true` to group by this column. Defaults to `false`.",
          "type": "boolean"
        },
        "endDate": {
          "type": "string",
          "description": "Inclusive day in YYYY-MM-DD format. When provided, this overrides the overall time range of the report for this column only. Must be provided together with `startDate`."
        },
        "productReportPerspective": {
          "type": "string",
          "description": "Returns metrics only for a specific type of product activity. Accepted values are: - \"`sold`\": returns metrics only for products that were sold - \"`advertised`\": returns metrics only for products that were advertised in a Shopping campaign, and that might or might not have been sold "
        },
        "startDate": {
          "description": "Inclusive date in YYYY-MM-DD format. When provided, this overrides the overall time range of the report for this column only. Must be provided together with `endDate`.",
          "type": "string"
        },
        "customMetricName": {
          "description": "Name of a custom metric to include in the report. The report must be scoped to an advertiser or lower, and the custom metric must already be set up in DoubleClick Search. The custom metric name, which appears in DoubleClick Search, is case sensitive.",
          "type": "string"
        },
        "platformSource": {
          "description": "The platform that is used to provide data for the custom dimension. Acceptable values are \"floodlight\".",
          "type": "string"
        },
        "savedColumnName": {
          "description": "Name of a saved column to include in the report. The report must be scoped at advertiser or lower, and this saved column must already be created in the DoubleClick Search UI.",
          "type": "string"
        },
        "headerText": {
          "description": "Text used to identify this column in the report output; defaults to `columnName` or `savedColumnName` when not specified. This can be used to prevent collisions between DoubleClick Search columns and saved columns with the same name.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ReportApiColumnSpec",
      "description": "A request object used to create a DoubleClick Search report."
    },
    "Conversion": {
      "properties": {
        "segmentationName": {
          "type": "string",
          "description": "The friendly segmentation identifier (for example, DoubleClick Search Floodlight activity name)."
        },
        "type": {
          "description": "The type of the conversion, that is, either `ACTION` or `TRANSACTION`. An `ACTION` conversion is an action by the user that has no monetarily quantifiable value, while a `TRANSACTION` conversion is an action that does have a monetarily quantifiable value. Examples are email list signups (`ACTION`) versus ecommerce purchases (`TRANSACTION`).",
          "type": "string"
        },
        "campaignId": {
          "description": "DS campaign ID.",
          "type": "string",
          "format": "int64"
        },
        "productCountry": {
          "description": "The country registered for the Merchant Center feed that contains the product. Use an ISO 3166 code to specify a country.",
          "type": "string"
        },
        "customDimension": {
          "description": "Custom dimensions for the conversion, which can be used to filter data in a report.",
          "items": {
            "$ref": "CustomDimension"
          },
          "type": "array"
        },
        "currencyCode": {
          "description": "The currency code for the conversion's revenue. Should be in ISO 4217 alphabetic (3-char) format.",
          "type": "string"
        },
        "productId": {
          "description": "The product ID (SKU).",
          "type": "string"
        },
        "customerId": {
          "description": "Customer ID of a client account in the new Search Ads 360 experience.",
          "type": "string"
        },
        "attributionModel": {
          "description": "Available to advertisers only after contacting DoubleClick Search customer support.",
          "type": "string"
        },
        "productGroupId": {
          "type": "string",
          "description": "DS product group ID.",
          "format": "int64"
        },
        "engineAccountId": {
          "type": "string",
          "format": "int64",
          "description": "DS engine account ID."
        },
        "agencyId": {
          "type": "string",
          "description": "DS agency ID.",
          "format": "int64"
        },
        "clickId": {
          "description": "DS click ID for the conversion.",
          "type": "string"
        },
        "inventoryAccountId": {
          "type": "string",
          "description": "ID that DS generates and uses to uniquely identify the inventory account that contains the product.",
          "format": "int64"
        },
        "adId": {
          "type": "string",
          "description": "DS ad ID.",
          "format": "int64"
        },
        "floodlightOrderId": {
          "description": "The Floodlight order ID provided by the advertiser for the conversion.",
          "type": "string"
        },
        "conversionId": {
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          },
          "type": "string",
          "description": "For offline conversions, advertisers provide this ID. Advertisers can specify any ID that is meaningful to them. Each conversion in a request must specify a unique ID, and the combination of ID and timestamp must be unique amongst all conversions within the advertiser. For online conversions, DS copies the `dsConversionId` or `floodlightOrderId` into this property depending on the advertiser's Floodlight instructions."
        },
        "revenueMicros": {
          "description": "The revenue amount of this `TRANSACTION` conversion, in micros (value multiplied by 1000000, no decimal). For example, to specify a revenue value of \"10\" enter \"10000000\" (10 million) in your request.",
          "type": "string"
        },
        "productLanguage": {
          "type": "string",
          "description": "The language registered for the Merchant Center feed that contains the product. Use an ISO 639 code to specify a language."
        },
        "channel": {
          "description": "Sales channel for the product. Acceptable values are: - \"`local`\": a physical store - \"`online`\": an online store ",
          "type": "string"
        },
        "advertiserId": {
          "type": "string",
          "format": "int64",
          "description": "DS advertiser ID."
        },
        "segmentationType": {
          "type": "string",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          },
          "description": "The segmentation type of this conversion (for example, `FLOODLIGHT`)."
        },
        "dsConversionId": {
          "format": "int64",
          "type": "string",
          "description": "ID that DoubleClick Search generates for each conversion."
        },
        "deviceType": {
          "description": "The type of device on which the conversion occurred.",
          "type": "string"
        },
        "countMillis": {
          "format": "int64",
          "description": "Available to advertisers only after contacting DoubleClick Search customer support.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "description": "The state of the conversion, that is, either `ACTIVE` or `REMOVED`. Note: state DELETED is deprecated."
        },
        "conversionTimestamp": {
          "description": "The time at which the conversion took place, in epoch millis UTC.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          },
          "type": "string"
        },
        "segmentationId": {
          "format": "int64",
          "type": "string",
          "description": "The numeric segmentation identifier (for example, DoubleClick Search Floodlight activity ID)."
        },
        "storeId": {
          "description": "The ID of the local store for which the product was advertised. Applicable only when the channel is \"`local`\".",
          "type": "string"
        },
        "adUserDataConsent": {
          "enum": [
            "UNKNOWN",
            "GRANTED",
            "DENIED"
          ],
          "description": "Represents consent for core platform services (CPS) preferences in settings. No default value. Acceptable values are: GRANTED: The desired consent status is to grant. Read the CPS preferences from GTE settings. DENIED: The desired consent status is to deny; CPS list is empty.",
          "enumDescriptions": [
            "Not specified.",
            "Granted.",
            "Denied."
          ],
          "type": "string"
        },
        "criterionId": {
          "type": "string",
          "format": "int64",
          "description": "DS criterion (keyword) ID."
        },
        "quantityMillis": {
          "type": "string",
          "description": "The quantity of this conversion, in millis.",
          "format": "int64"
        },
        "customMetric": {
          "items": {
            "$ref": "CustomMetric"
          },
          "description": "Custom metrics for the conversion.",
          "type": "array"
        },
        "conversionModifiedTimestamp": {
          "format": "int64",
          "description": "The time at which the conversion was last modified, in epoch millis UTC.",
          "type": "string"
        },
        "adGroupId": {
          "description": "DS ad group ID.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "A conversion containing data relevant to DoubleClick Search. Common DS3 API conversion fields: Id Range [1 - 2800]. Next Id to use: 33",
      "id": "Conversion"
    },
    "SavedColumn": {
      "description": "A saved column",
      "properties": {
        "kind": {
          "description": "Identifies this as a SavedColumn resource. Value: the fixed string doubleclicksearch#savedColumn.",
          "type": "string"
        },
        "savedColumnName": {
          "description": "The name of the saved column.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The type of data this saved column will produce."
        }
      },
      "type": "object",
      "id": "SavedColumn"
    },
    "SavedColumnList": {
      "type": "object",
      "description": "A list of saved columns. Advertisers create saved columns to report on Floodlight activities, Google Analytics goals, or custom KPIs. To request reports with saved columns, you'll need the saved column names that are available from this list.",
      "properties": {
        "items": {
          "description": "The saved columns being requested.",
          "items": {
            "$ref": "SavedColumn"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Identifies this as a SavedColumnList resource. Value: the fixed string doubleclicksearch#savedColumnList."
        }
      },
      "id": "SavedColumnList"
    },
    "ReportRequest": {
      "properties": {
        "downloadFormat": {
          "description": "Format that the report should be returned in. Currently `csv` or `tsv` is supported.",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.request"
            ]
          },
          "type": "string"
        },
        "maxRowsPerFile": {
          "annotations": {
            "required": [
              "doubleclicksearch.reports.request"
            ]
          },
          "format": "int32",
          "description": "Asynchronous report only. The maximum number of rows per report file. A large report is split into many files based on this field. Acceptable values are `1000000` to `100000000`, inclusive.",
          "type": "integer"
        },
        "verifySingleTimeZone": {
          "type": "boolean",
          "description": "If `true`, the report would only be created if all the requested stat data are sourced from a single timezone. Defaults to `false`."
        },
        "filters": {
          "description": "A list of filters to be applied to the report.\\ The maximum number of filters per request is 300.",
          "items": {
            "type": "object",
            "properties": {
              "operator": {
                "description": "Operator to use in the filter. See the filter reference for a list of available operators.",
                "type": "string"
              },
              "column": {
                "description": "Column to perform the filter on. This can be a DoubleClick Search column or a saved column.",
                "$ref": "ReportApiColumnSpec"
              },
              "values": {
                "items": {
                  "type": "any"
                },
                "type": "array",
                "description": "A list of values to filter the column value against.\\ The maximum number of filter values per request is 300."
              }
            }
          },
          "type": "array"
        },
        "reportType": {
          "description": "Determines the type of rows that are returned in the report. For example, if you specify `reportType: keyword`, each row in the report will contain data about a keyword. See the [Types of Reports](/search-ads/v2/report-types/) reference for the columns that are available for each type.",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate",
              "doubleclicksearch.reports.request"
            ]
          },
          "type": "string"
        },
        "timeRange": {
          "description": "If metrics are requested in a report, this argument will be used to restrict the metrics to a specific time range.",
          "type": "object",
          "properties": {
            "changedAttributesSinceTimestamp": {
              "type": "string",
              "description": "Inclusive UTC timestamp in RFC format, e.g., `2013-07-16T10:16:23.555Z`. See additional references on how changed attribute reports work."
            },
            "changedMetricsSinceTimestamp": {
              "description": "Inclusive UTC timestamp in RFC format, e.g., `2013-07-16T10:16:23.555Z`. See additional references on how changed metrics reports work.",
              "type": "string"
            },
            "endDate": {
              "type": "string",
              "description": "Inclusive date in YYYY-MM-DD format."
            },
            "startDate": {
              "description": "Inclusive date in YYYY-MM-DD format.",
              "type": "string"
            }
          }
        },
        "columns": {
          "items": {
            "$ref": "ReportApiColumnSpec"
          },
          "description": "The columns to include in the report. This includes both DoubleClick Search columns and saved columns. For DoubleClick Search columns, only the `columnName` parameter is required. For saved columns only the `savedColumnName` parameter is required. Both `columnName` and `savedColumnName` cannot be set in the same stanza.\\ The maximum number of columns per request is 300.",
          "type": "array"
        },
        "includeRemovedEntities": {
          "type": "boolean",
          "description": "Determines if removed entities should be included in the report. Defaults to `false`."
        },
        "statisticsCurrency": {
          "description": "Specifies the currency in which monetary will be returned. Possible values are: `usd`, `agency` (valid if the report is scoped to agency or lower), `advertiser` (valid if the report is scoped to * advertiser or lower), or `account` (valid if the report is scoped to engine account or lower).",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate",
              "doubleclicksearch.reports.request"
            ]
          },
          "type": "string"
        },
        "orderBy": {
          "items": {
            "properties": {
              "sortOrder": {
                "description": "The sort direction, which is either `ascending` or `descending`.",
                "type": "string"
              },
              "column": {
                "description": "Column to perform the sort on. This can be a DoubleClick Search-defined column or a saved column.",
                "$ref": "ReportApiColumnSpec"
              }
            },
            "type": "object"
          },
          "type": "array",
          "description": "Synchronous report only. A list of columns and directions defining sorting to be performed on the report rows.\\ The maximum number of orderings per request is 300."
        },
        "startRow": {
          "format": "int32",
          "type": "integer",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate"
            ]
          },
          "description": "Synchronous report only. Zero-based index of the first row to return. Acceptable values are `0` to `50000`, inclusive. Defaults to `0`."
        },
        "reportScope": {
          "properties": {
            "advertiserId": {
              "description": "DS advertiser ID.",
              "type": "string",
              "format": "int64"
            },
            "campaignId": {
              "description": "DS campaign ID.",
              "type": "string",
              "format": "int64"
            },
            "engineAccountId": {
              "type": "string",
              "format": "int64",
              "description": "DS engine account ID."
            },
            "adId": {
              "format": "int64",
              "type": "string",
              "description": "DS ad ID."
            },
            "adGroupId": {
              "format": "int64",
              "description": "DS ad group ID.",
              "type": "string"
            },
            "keywordId": {
              "type": "string",
              "description": "DS keyword ID.",
              "format": "int64"
            },
            "agencyId": {
              "format": "int64",
              "description": "DS agency ID.",
              "type": "string"
            }
          },
          "type": "object",
          "description": "The reportScope is a set of IDs that are used to determine which subset of entities will be returned in the report. The full lineage of IDs from the lowest scoped level desired up through agency is required."
        },
        "includeDeletedEntities": {
          "type": "boolean",
          "description": "Determines if removed entities should be included in the report. Defaults to `false`. Deprecated, please use `includeRemovedEntities` instead."
        },
        "rowCount": {
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate"
            ]
          },
          "format": "int32",
          "type": "integer",
          "description": "Synchronous report only. The maximum number of rows to return; additional rows are dropped. Acceptable values are `0` to `10000`, inclusive. Defaults to `10000`."
        }
      },
      "description": "A request object used to create a DoubleClick Search report.",
      "type": "object",
      "id": "ReportRequest"
    },
    "Availability": {
      "id": "Availability",
      "type": "object",
      "description": "A message containing availability data relevant to DoubleClick Search.",
      "properties": {
        "segmentationName": {
          "description": "The friendly segmentation identifier (for example, DoubleClick Search Floodlight activity name).",
          "type": "string"
        },
        "availabilityTimestamp": {
          "description": "The time by which all conversions have been uploaded, in epoch millis UTC.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          },
          "format": "int64",
          "type": "string"
        },
        "advertiserId": {
          "description": "DS advertiser ID.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          },
          "format": "int64",
          "type": "string"
        },
        "agencyId": {
          "format": "int64",
          "type": "string",
          "description": "DS agency ID.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          }
        },
        "segmentationId": {
          "type": "string",
          "description": "The numeric segmentation identifier (for example, DoubleClick Search Floodlight activity ID).",
          "format": "int64"
        },
        "segmentationType": {
          "description": "The segmentation type that this availability is for (its default value is `FLOODLIGHT`).",
          "type": "string",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          }
        },
        "customerId": {
          "type": "string",
          "description": "Customer ID of a client account in the new Search Ads 360 experience."
        }
      }
    },
    "UpdateAvailabilityRequest": {
      "type": "object",
      "id": "UpdateAvailabilityRequest",
      "description": "The request to update availability.",
      "properties": {
        "availabilities": {
          "items": {
            "$ref": "Availability"
          },
          "description": "The availabilities being requested.",
          "type": "array"
        }
      }
    },
    "UpdateAvailabilityResponse": {
      "type": "object",
      "id": "UpdateAvailabilityResponse",
      "description": "The response to a update availability request.",
      "properties": {
        "availabilities": {
          "description": "The availabilities being returned.",
          "items": {
            "$ref": "Availability"
          },
          "type": "array"
        }
      }
    },
    "ConversionList": {
      "id": "ConversionList",
      "description": "A list of conversions.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies this as a ConversionList resource. Value: the fixed string doubleclicksearch#conversionList."
        },
        "conversion": {
          "type": "array",
          "items": {
            "$ref": "Conversion"
          },
          "description": "The conversions being requested."
        }
      },
      "type": "object"
    },
    "CustomDimension": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Custom dimension name."
        },
        "value": {
          "description": "Custom dimension value.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A message containing the custom dimension.",
      "id": "CustomDimension"
    },
    "Report": {
      "id": "Report",
      "properties": {
        "statisticsTimeZone": {
          "description": "If all statistics of the report are sourced from the same time zone, this would be it. Otherwise the field is unset.",
          "type": "string"
        },
        "statisticsCurrencyCode": {
          "description": "The currency code of all monetary values produced in the report, including values that are set by users (e.g., keyword bid settings) and metrics (e.g., cost and revenue). The currency code of a report is determined by the `statisticsCurrency` field of the report request.",
          "type": "string"
        },
        "rows": {
          "type": "array",
          "items": {
            "$ref": "ReportRow"
          },
          "description": "Synchronous report only. Generated report rows."
        },
        "kind": {
          "description": "Identifies this as a Report resource. Value: the fixed string `doubleclicksearch#report`.",
          "type": "string"
        },
        "rowCount": {
          "type": "integer",
          "description": "The number of report rows generated by the report, not including headers.",
          "format": "int32"
        },
        "id": {
          "description": "Asynchronous report only. Id of the report.",
          "type": "string"
        },
        "request": {
          "description": "The request that created the report. Optional fields not specified in the original request are filled with default values.",
          "$ref": "ReportRequest"
        },
        "files": {
          "items": {
            "properties": {
              "byteCount": {
                "type": "string",
                "description": "The size of this report file in bytes.",
                "format": "int64"
              },
              "url": {
                "description": "Use this url to download the report file.",
                "type": "string"
              }
            },
            "type": "object"
          },
          "description": "Asynchronous report only. Contains a list of generated report files once the report has successfully completed.",
          "type": "array"
        },
        "isReportReady": {
          "description": "Asynchronous report only. True if and only if the report has completed successfully and the report files are ready to be downloaded.",
          "type": "boolean"
        }
      },
      "description": "A DoubleClick Search report. This object contains the report request, some report metadata such as currency code, and the generated report rows or report files.",
      "type": "object"
    },
    "IdMappingFile": {
      "description": "File returned to https://developers.google.com/search-ads/v2/reference/reports/getIdMappingFile.",
      "type": "object",
      "id": "IdMappingFile",
      "properties": {}
    },
    "ReportRow": {
      "id": "ReportRow",
      "description": "A row in a DoubleClick Search report.",
      "additionalProperties": {
        "description": "Indicates the columns that are represented in this row. That is, each key corresponds to a column with a non-empty cell in this row.",
        "type": "any"
      },
      "type": "object"
    }
  },
  "canonicalName": "Doubleclicksearch",
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "resources": {
    "reports": {
      "methods": {
        "generate": {
          "response": {
            "$ref": "Report"
          },
          "flatPath": "doubleclicksearch/v2/reports/generate",
          "id": "doubleclicksearch.reports.generate",
          "path": "doubleclicksearch/v2/reports/generate",
          "parameters": {},
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "request": {
            "$ref": "ReportRequest"
          },
          "parameterOrder": [],
          "description": "Generates and returns a report immediately."
        },
        "getIdMappingFile": {
          "supportsMediaDownload": true,
          "parameterOrder": [
            "agencyId",
            "advertiserId"
          ],
          "description": "Downloads a csv file(encoded in UTF-8) that contains ID mappings between legacy SA360 and new SA360. The file includes all children entities of the given advertiser(e.g. engine accounts, campaigns, ad groups, etc.) that exist in both legacy SA360 and new SA360.",
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/idmapping",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "doubleclicksearch.reports.getIdMappingFile",
          "response": {
            "$ref": "IdMappingFile"
          },
          "httpMethod": "GET",
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/idmapping",
          "parameters": {
            "advertiserId": {
              "location": "path",
              "type": "string",
              "format": "int64",
              "required": true,
              "description": "Legacy SA360 advertiser ID."
            },
            "agencyId": {
              "location": "path",
              "type": "string",
              "format": "int64",
              "required": true,
              "description": "Legacy SA360 agency ID."
            }
          },
          "useMediaDownloadService": true
        },
        "request": {
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "doubleclicksearch.reports.request",
          "flatPath": "doubleclicksearch/v2/reports",
          "response": {
            "$ref": "Report"
          },
          "httpMethod": "POST",
          "path": "doubleclicksearch/v2/reports",
          "parameterOrder": [],
          "parameters": {},
          "description": "Inserts a report request into the reporting system.",
          "request": {
            "$ref": "ReportRequest"
          }
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "path": "doubleclicksearch/v2/reports/{reportId}",
          "parameters": {
            "reportId": {
              "description": "ID of the report request being polled.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "parameterOrder": [
            "reportId"
          ],
          "httpMethod": "GET",
          "description": "Polls for the status of a report request.",
          "response": {
            "$ref": "Report"
          },
          "flatPath": "doubleclicksearch/v2/reports/{reportId}",
          "id": "doubleclicksearch.reports.get"
        },
        "getFile": {
          "supportsMediaDownload": true,
          "id": "doubleclicksearch.reports.getFile",
          "description": "Downloads a report file encoded in UTF-8.",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "path": "doubleclicksearch/v2/reports/{reportId}/files/{reportFragment}",
          "flatPath": "doubleclicksearch/v2/reports/{reportId}/files/{reportFragment}",
          "useMediaDownloadService": true,
          "parameterOrder": [
            "reportId",
            "reportFragment"
          ],
          "parameters": {
            "reportFragment": {
              "minimum": "0",
              "location": "path",
              "format": "int32",
              "required": true,
              "type": "integer",
              "description": "The index of the report fragment to download."
            },
            "reportId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "ID of the report."
            }
          },
          "httpMethod": "GET"
        }
      }
    },
    "conversion": {
      "methods": {
        "get": {
          "id": "doubleclicksearch.conversion.get",
          "parameterOrder": [
            "agencyId",
            "advertiserId",
            "engineAccountId",
            "endDate",
            "rowCount",
            "startDate",
            "startRow"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "ConversionList"
          },
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/engine/{engineAccountId}/conversion",
          "parameters": {
            "startRow": {
              "description": "The 0-based starting index for retrieving conversions results.",
              "required": true,
              "format": "uint32",
              "type": "integer",
              "location": "query"
            },
            "engineAccountId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Numeric ID of the engine account.",
              "format": "int64"
            },
            "customerId": {
              "location": "query",
              "description": "Customer ID of a client account in the new Search Ads 360 experience.",
              "type": "string"
            },
            "criterionId": {
              "description": "Numeric ID of the criterion.",
              "type": "string",
              "location": "query",
              "format": "int64"
            },
            "startDate": {
              "maximum": "99991231",
              "minimum": "20091101",
              "type": "integer",
              "required": true,
              "format": "int32",
              "description": "First date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "location": "query"
            },
            "campaignId": {
              "description": "Numeric ID of the campaign.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "rowCount": {
              "location": "query",
              "type": "integer",
              "required": true,
              "description": "The number of conversions to return per call.",
              "format": "int32",
              "minimum": "1",
              "maximum": "1000"
            },
            "endDate": {
              "minimum": "20091101",
              "maximum": "99991231",
              "type": "integer",
              "description": "Last date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "location": "query",
              "format": "int32",
              "required": true
            },
            "agencyId": {
              "type": "string",
              "location": "path",
              "format": "int64",
              "required": true,
              "description": "Numeric ID of the agency."
            },
            "adId": {
              "format": "int64",
              "description": "Numeric ID of the ad.",
              "type": "string",
              "location": "query"
            },
            "advertiserId": {
              "required": true,
              "description": "Numeric ID of the advertiser.",
              "format": "int64",
              "location": "path",
              "type": "string"
            },
            "adGroupId": {
              "format": "int64",
              "location": "query",
              "description": "Numeric ID of the ad group.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/engine/{engineAccountId}/conversion",
          "description": "Retrieves a list of conversions from a DoubleClick Search engine account."
        },
        "update": {
          "httpMethod": "PUT",
          "description": "Updates a batch of conversions in DoubleClick Search.",
          "parameters": {},
          "response": {
            "$ref": "ConversionList"
          },
          "flatPath": "doubleclicksearch/v2/conversion",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "request": {
            "$ref": "ConversionList"
          },
          "id": "doubleclicksearch.conversion.update",
          "path": "doubleclicksearch/v2/conversion",
          "parameterOrder": []
        },
        "updateAvailability": {
          "description": "Updates the availabilities of a batch of floodlight activities in DoubleClick Search.",
          "id": "doubleclicksearch.conversion.updateAvailability",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "UpdateAvailabilityResponse"
          },
          "flatPath": "doubleclicksearch/v2/conversion/updateAvailability",
          "request": {
            "$ref": "UpdateAvailabilityRequest"
          },
          "parameters": {},
          "parameterOrder": [],
          "path": "doubleclicksearch/v2/conversion/updateAvailability"
        },
        "getByCustomerId": {
          "path": "doubleclicksearch/v2/customer/{customerId}/conversion",
          "httpMethod": "GET",
          "description": "Retrieves a list of conversions from a DoubleClick Search engine account.",
          "parameterOrder": [
            "customerId",
            "endDate",
            "rowCount",
            "startDate",
            "startRow"
          ],
          "parameters": {
            "agencyId": {
              "description": "Numeric ID of the agency.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "adId": {
              "description": "Numeric ID of the ad.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "startDate": {
              "required": true,
              "minimum": "20091101",
              "maximum": "99991231",
              "format": "int32",
              "type": "integer",
              "description": "First date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "location": "query"
            },
            "startRow": {
              "location": "query",
              "format": "uint32",
              "type": "integer",
              "description": "The 0-based starting index for retrieving conversions results.",
              "required": true
            },
            "campaignId": {
              "description": "Numeric ID of the campaign.",
              "format": "int64",
              "type": "string",
              "location": "query"
            },
            "endDate": {
              "format": "int32",
              "required": true,
              "minimum": "20091101",
              "maximum": "99991231",
              "location": "query",
              "type": "integer",
              "description": "Last date (inclusive) on which to retrieve conversions. Format is yyyymmdd."
            },
            "criterionId": {
              "type": "string",
              "description": "Numeric ID of the criterion.",
              "location": "query",
              "format": "int64"
            },
            "adGroupId": {
              "format": "int64",
              "description": "Numeric ID of the ad group.",
              "type": "string",
              "location": "query"
            },
            "customerId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Customer ID of a client account in the new Search Ads 360 experience."
            },
            "advertiserId": {
              "description": "Numeric ID of the advertiser.",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "engineAccountId": {
              "description": "Numeric ID of the engine account.",
              "format": "int64",
              "location": "query",
              "type": "string"
            },
            "rowCount": {
              "description": "The number of conversions to return per call.",
              "required": true,
              "format": "int32",
              "maximum": "1000",
              "minimum": "1",
              "type": "integer",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "flatPath": "doubleclicksearch/v2/customer/{customerId}/conversion",
          "response": {
            "$ref": "ConversionList"
          },
          "id": "doubleclicksearch.conversion.getByCustomerId"
        },
        "insert": {
          "request": {
            "$ref": "ConversionList"
          },
          "flatPath": "doubleclicksearch/v2/conversion",
          "id": "doubleclicksearch.conversion.insert",
          "response": {
            "$ref": "ConversionList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "httpMethod": "POST",
          "parameters": {},
          "path": "doubleclicksearch/v2/conversion",
          "parameterOrder": [],
          "description": "Inserts a batch of new conversions into DoubleClick Search."
        }
      }
    },
    "savedColumns": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "response": {
            "$ref": "SavedColumnList"
          },
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/savedcolumns",
          "httpMethod": "GET",
          "id": "doubleclicksearch.savedColumns.list",
          "parameters": {
            "advertiserId": {
              "location": "path",
              "description": "DS ID of the advertiser.",
              "type": "string",
              "format": "int64",
              "required": true
            },
            "agencyId": {
              "location": "path",
              "type": "string",
              "format": "int64",
              "required": true,
              "description": "DS ID of the agency."
            }
          },
          "description": "Retrieve the list of saved columns for a specified advertiser.",
          "parameterOrder": [
            "agencyId",
            "advertiserId"
          ],
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/savedcolumns"
        }
      }
    }
  },
  "rootUrl": "https://doubleclicksearch.googleapis.com/",
  "title": "Search Ads 360 API",
  "name": "doubleclicksearch",
  "id": "doubleclicksearch:v2",
  "description": "The Search Ads 360 API allows developers to automate uploading conversions and downloading reports from Search Ads 360.",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "protocol": "rest",
  "revision": "20261005",
  "ownerName": "Google",
  "servicePath": "",
  "version": "v2",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/doubleclicksearch": {
          "description": "View and manage your advertising data in DoubleClick Search"
        }
      }
    }
  }
}