{
  "canonicalName": "Doubleclicksearch",
  "discoveryVersion": "v1",
  "version": "v2",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/doubleclicksearch": {
          "description": "View and manage your advertising data in DoubleClick Search"
        }
      }
    }
  },
  "basePath": "",
  "name": "doubleclicksearch",
  "mtlsRootUrl": "https://doubleclicksearch.mtls.googleapis.com/",
  "description": "The Search Ads 360 API allows developers to automate uploading conversions and downloading reports from Search Ads 360.",
  "kind": "discovery#restDescription",
  "servicePath": "",
  "baseUrl": "https://doubleclicksearch.googleapis.com/",
  "rootUrl": "https://doubleclicksearch.googleapis.com/",
  "parameters": {
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    }
  },
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "protocol": "rest",
  "ownerName": "Google",
  "title": "Search Ads 360 API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "Conversion": {
      "type": "object",
      "description": "A conversion containing data relevant to DoubleClick Search. Common DS3 API conversion fields: Id Range [1 - 2800]. Next Id to use: 33",
      "id": "Conversion",
      "properties": {
        "productCountry": {
          "description": "The country registered for the Merchant Center feed that contains the product. Use an ISO 3166 code to specify a country.",
          "type": "string"
        },
        "campaignId": {
          "description": "DS campaign ID.",
          "type": "string",
          "format": "int64"
        },
        "customerId": {
          "description": "Customer ID of a client account in the new Search Ads 360 experience.",
          "type": "string"
        },
        "floodlightOrderId": {
          "description": "The Floodlight order ID provided by the advertiser for the conversion.",
          "type": "string"
        },
        "productLanguage": {
          "description": "The language registered for the Merchant Center feed that contains the product. Use an ISO 639 code to specify a language.",
          "type": "string"
        },
        "clickId": {
          "description": "DS click ID for the conversion.",
          "type": "string"
        },
        "customMetric": {
          "type": "array",
          "items": {
            "$ref": "CustomMetric"
          },
          "description": "Custom metrics for the conversion."
        },
        "quantityMillis": {
          "description": "The quantity of this conversion, in millis.",
          "type": "string",
          "format": "int64"
        },
        "attributionModel": {
          "description": "Available to advertisers only after contacting DoubleClick Search customer support.",
          "type": "string"
        },
        "adUserDataConsent": {
          "type": "string",
          "enum": [
            "UNKNOWN",
            "GRANTED",
            "DENIED"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Granted.",
            "Denied."
          ],
          "description": "Represents consent for core platform services (CPS) preferences in settings. No default value. Acceptable values are: GRANTED: The desired consent status is to grant. Read the CPS preferences from GTE settings. DENIED: The desired consent status is to deny; CPS list is empty."
        },
        "conversionModifiedTimestamp": {
          "description": "The time at which the conversion was last modified, in epoch millis UTC.",
          "type": "string",
          "format": "int64"
        },
        "segmentationName": {
          "type": "string",
          "description": "The friendly segmentation identifier (for example, DoubleClick Search Floodlight activity name)."
        },
        "agencyId": {
          "format": "int64",
          "description": "DS agency ID.",
          "type": "string"
        },
        "inventoryAccountId": {
          "type": "string",
          "description": "ID that DS generates and uses to uniquely identify the inventory account that contains the product.",
          "format": "int64"
        },
        "currencyCode": {
          "type": "string",
          "description": "The currency code for the conversion's revenue. Should be in ISO 4217 alphabetic (3-char) format."
        },
        "type": {
          "type": "string",
          "description": "The type of the conversion, that is, either `ACTION` or `TRANSACTION`. An `ACTION` conversion is an action by the user that has no monetarily quantifiable value, while a `TRANSACTION` conversion is an action that does have a monetarily quantifiable value. Examples are email list signups (`ACTION`) versus ecommerce purchases (`TRANSACTION`)."
        },
        "storeId": {
          "description": "The ID of the local store for which the product was advertised. Applicable only when the channel is \"`local`\".",
          "type": "string"
        },
        "conversionTimestamp": {
          "description": "The time at which the conversion took place, in epoch millis UTC.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          },
          "type": "string"
        },
        "criterionId": {
          "type": "string",
          "description": "DS criterion (keyword) ID.",
          "format": "int64"
        },
        "advertiserId": {
          "description": "DS advertiser ID.",
          "format": "int64",
          "type": "string"
        },
        "productGroupId": {
          "format": "int64",
          "type": "string",
          "description": "DS product group ID."
        },
        "productId": {
          "type": "string",
          "description": "The product ID (SKU)."
        },
        "state": {
          "description": "The state of the conversion, that is, either `ACTIVE` or `REMOVED`. Note: state DELETED is deprecated.",
          "type": "string"
        },
        "deviceType": {
          "description": "The type of device on which the conversion occurred.",
          "type": "string"
        },
        "adId": {
          "format": "int64",
          "description": "DS ad ID.",
          "type": "string"
        },
        "segmentationType": {
          "description": "The segmentation type of this conversion (for example, `FLOODLIGHT`).",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          },
          "type": "string"
        },
        "engineAccountId": {
          "description": "DS engine account ID.",
          "format": "int64",
          "type": "string"
        },
        "conversionId": {
          "description": "For offline conversions, advertisers provide this ID. Advertisers can specify any ID that is meaningful to them. Each conversion in a request must specify a unique ID, and the combination of ID and timestamp must be unique amongst all conversions within the advertiser. For online conversions, DS copies the `dsConversionId` or `floodlightOrderId` into this property depending on the advertiser's Floodlight instructions.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          },
          "type": "string"
        },
        "adGroupId": {
          "type": "string",
          "description": "DS ad group ID.",
          "format": "int64"
        },
        "countMillis": {
          "description": "Available to advertisers only after contacting DoubleClick Search customer support.",
          "type": "string",
          "format": "int64"
        },
        "segmentationId": {
          "description": "The numeric segmentation identifier (for example, DoubleClick Search Floodlight activity ID).",
          "type": "string",
          "format": "int64"
        },
        "revenueMicros": {
          "description": "The revenue amount of this `TRANSACTION` conversion, in micros (value multiplied by 1000000, no decimal). For example, to specify a revenue value of \"10\" enter \"10000000\" (10 million) in your request.",
          "type": "string"
        },
        "channel": {
          "description": "Sales channel for the product. Acceptable values are: - \"`local`\": a physical store - \"`online`\": an online store ",
          "type": "string"
        },
        "dsConversionId": {
          "type": "string",
          "description": "ID that DoubleClick Search generates for each conversion.",
          "format": "int64"
        },
        "customDimension": {
          "items": {
            "$ref": "CustomDimension"
          },
          "description": "Custom dimensions for the conversion, which can be used to filter data in a report.",
          "type": "array"
        }
      }
    },
    "SavedColumn": {
      "id": "SavedColumn",
      "description": "A saved column",
      "type": "object",
      "properties": {
        "savedColumnName": {
          "type": "string",
          "description": "The name of the saved column."
        },
        "type": {
          "description": "The type of data this saved column will produce.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies this as a SavedColumn resource. Value: the fixed string doubleclicksearch#savedColumn."
        }
      }
    },
    "Report": {
      "description": "A DoubleClick Search report. This object contains the report request, some report metadata such as currency code, and the generated report rows or report files.",
      "type": "object",
      "id": "Report",
      "properties": {
        "isReportReady": {
          "description": "Asynchronous report only. True if and only if the report has completed successfully and the report files are ready to be downloaded.",
          "type": "boolean"
        },
        "statisticsCurrencyCode": {
          "description": "The currency code of all monetary values produced in the report, including values that are set by users (e.g., keyword bid settings) and metrics (e.g., cost and revenue). The currency code of a report is determined by the `statisticsCurrency` field of the report request.",
          "type": "string"
        },
        "statisticsTimeZone": {
          "description": "If all statistics of the report are sourced from the same time zone, this would be it. Otherwise the field is unset.",
          "type": "string"
        },
        "rows": {
          "description": "Synchronous report only. Generated report rows.",
          "items": {
            "$ref": "ReportRow"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Identifies this as a Report resource. Value: the fixed string `doubleclicksearch#report`."
        },
        "files": {
          "items": {
            "properties": {
              "url": {
                "description": "Use this url to download the report file.",
                "type": "string"
              },
              "byteCount": {
                "description": "The size of this report file in bytes.",
                "format": "int64",
                "type": "string"
              }
            },
            "type": "object"
          },
          "type": "array",
          "description": "Asynchronous report only. Contains a list of generated report files once the report has successfully completed."
        },
        "request": {
          "description": "The request that created the report. Optional fields not specified in the original request are filled with default values.",
          "$ref": "ReportRequest"
        },
        "id": {
          "description": "Asynchronous report only. Id of the report.",
          "type": "string"
        },
        "rowCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of report rows generated by the report, not including headers."
        }
      }
    },
    "UpdateAvailabilityResponse": {
      "description": "The response to a update availability request.",
      "properties": {
        "availabilities": {
          "items": {
            "$ref": "Availability"
          },
          "description": "The availabilities being returned.",
          "type": "array"
        }
      },
      "id": "UpdateAvailabilityResponse",
      "type": "object"
    },
    "Availability": {
      "type": "object",
      "id": "Availability",
      "properties": {
        "segmentationType": {
          "type": "string",
          "description": "The segmentation type that this availability is for (its default value is `FLOODLIGHT`).",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          }
        },
        "segmentationId": {
          "type": "string",
          "description": "The numeric segmentation identifier (for example, DoubleClick Search Floodlight activity ID).",
          "format": "int64"
        },
        "advertiserId": {
          "format": "int64",
          "type": "string",
          "description": "DS advertiser ID.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          }
        },
        "agencyId": {
          "description": "DS agency ID.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          },
          "format": "int64",
          "type": "string"
        },
        "availabilityTimestamp": {
          "description": "The time by which all conversions have been uploaded, in epoch millis UTC.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          },
          "format": "int64",
          "type": "string"
        },
        "customerId": {
          "description": "Customer ID of a client account in the new Search Ads 360 experience.",
          "type": "string"
        },
        "segmentationName": {
          "description": "The friendly segmentation identifier (for example, DoubleClick Search Floodlight activity name).",
          "type": "string"
        }
      },
      "description": "A message containing availability data relevant to DoubleClick Search."
    },
    "SavedColumnList": {
      "id": "SavedColumnList",
      "description": "A list of saved columns. Advertisers create saved columns to report on Floodlight activities, Google Analytics goals, or custom KPIs. To request reports with saved columns, you'll need the saved column names that are available from this list.",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies this as a SavedColumnList resource. Value: the fixed string doubleclicksearch#savedColumnList."
        },
        "items": {
          "type": "array",
          "description": "The saved columns being requested.",
          "items": {
            "$ref": "SavedColumn"
          }
        }
      }
    },
    "CustomMetric": {
      "id": "CustomMetric",
      "type": "object",
      "description": "A message containing the custom metric.",
      "properties": {
        "value": {
          "description": "Custom metric numeric value.",
          "type": "number",
          "format": "double"
        },
        "name": {
          "description": "Custom metric name.",
          "type": "string"
        }
      }
    },
    "UpdateAvailabilityRequest": {
      "description": "The request to update availability.",
      "properties": {
        "availabilities": {
          "items": {
            "$ref": "Availability"
          },
          "type": "array",
          "description": "The availabilities being requested."
        }
      },
      "type": "object",
      "id": "UpdateAvailabilityRequest"
    },
    "CustomDimension": {
      "description": "A message containing the custom dimension.",
      "id": "CustomDimension",
      "properties": {
        "value": {
          "description": "Custom dimension value.",
          "type": "string"
        },
        "name": {
          "description": "Custom dimension name.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "IdMappingFile": {
      "type": "object",
      "id": "IdMappingFile",
      "properties": {},
      "description": "File returned to https://developers.google.com/search-ads/v2/reference/reports/getIdMappingFile."
    },
    "ReportRequest": {
      "properties": {
        "startRow": {
          "format": "int32",
          "description": "Synchronous report only. Zero-based index of the first row to return. Acceptable values are `0` to `50000`, inclusive. Defaults to `0`.",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate"
            ]
          },
          "type": "integer"
        },
        "maxRowsPerFile": {
          "format": "int32",
          "description": "Asynchronous report only. The maximum number of rows per report file. A large report is split into many files based on this field. Acceptable values are `1000000` to `100000000`, inclusive.",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.request"
            ]
          },
          "type": "integer"
        },
        "includeRemovedEntities": {
          "description": "Determines if removed entities should be included in the report. Defaults to `false`.",
          "type": "boolean"
        },
        "verifySingleTimeZone": {
          "type": "boolean",
          "description": "If `true`, the report would only be created if all the requested stat data are sourced from a single timezone. Defaults to `false`."
        },
        "reportScope": {
          "description": "The reportScope is a set of IDs that are used to determine which subset of entities will be returned in the report. The full lineage of IDs from the lowest scoped level desired up through agency is required.",
          "properties": {
            "campaignId": {
              "format": "int64",
              "description": "DS campaign ID.",
              "type": "string"
            },
            "engineAccountId": {
              "type": "string",
              "format": "int64",
              "description": "DS engine account ID."
            },
            "keywordId": {
              "description": "DS keyword ID.",
              "format": "int64",
              "type": "string"
            },
            "advertiserId": {
              "description": "DS advertiser ID.",
              "type": "string",
              "format": "int64"
            },
            "adId": {
              "description": "DS ad ID.",
              "type": "string",
              "format": "int64"
            },
            "agencyId": {
              "format": "int64",
              "type": "string",
              "description": "DS agency ID."
            },
            "adGroupId": {
              "description": "DS ad group ID.",
              "type": "string",
              "format": "int64"
            }
          },
          "type": "object"
        },
        "includeDeletedEntities": {
          "type": "boolean",
          "description": "Determines if removed entities should be included in the report. Defaults to `false`. Deprecated, please use `includeRemovedEntities` instead."
        },
        "rowCount": {
          "description": "Synchronous report only. The maximum number of rows to return; additional rows are dropped. Acceptable values are `0` to `10000`, inclusive. Defaults to `10000`.",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate"
            ]
          },
          "type": "integer",
          "format": "int32"
        },
        "statisticsCurrency": {
          "description": "Specifies the currency in which monetary will be returned. Possible values are: `usd`, `agency` (valid if the report is scoped to agency or lower), `advertiser` (valid if the report is scoped to * advertiser or lower), or `account` (valid if the report is scoped to engine account or lower).",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate",
              "doubleclicksearch.reports.request"
            ]
          },
          "type": "string"
        },
        "timeRange": {
          "properties": {
            "startDate": {
              "description": "Inclusive date in YYYY-MM-DD format.",
              "type": "string"
            },
            "changedAttributesSinceTimestamp": {
              "type": "string",
              "description": "Inclusive UTC timestamp in RFC format, e.g., `2013-07-16T10:16:23.555Z`. See additional references on how changed attribute reports work."
            },
            "endDate": {
              "description": "Inclusive date in YYYY-MM-DD format.",
              "type": "string"
            },
            "changedMetricsSinceTimestamp": {
              "description": "Inclusive UTC timestamp in RFC format, e.g., `2013-07-16T10:16:23.555Z`. See additional references on how changed metrics reports work.",
              "type": "string"
            }
          },
          "description": "If metrics are requested in a report, this argument will be used to restrict the metrics to a specific time range.",
          "type": "object"
        },
        "reportType": {
          "description": "Determines the type of rows that are returned in the report. For example, if you specify `reportType: keyword`, each row in the report will contain data about a keyword. See the [Types of Reports](/search-ads/v2/report-types/) reference for the columns that are available for each type.",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate",
              "doubleclicksearch.reports.request"
            ]
          },
          "type": "string"
        },
        "filters": {
          "type": "array",
          "description": "A list of filters to be applied to the report.\\ The maximum number of filters per request is 300.",
          "items": {
            "type": "object",
            "properties": {
              "column": {
                "$ref": "ReportApiColumnSpec",
                "description": "Column to perform the filter on. This can be a DoubleClick Search column or a saved column."
              },
              "values": {
                "items": {
                  "type": "any"
                },
                "description": "A list of values to filter the column value against.\\ The maximum number of filter values per request is 300.",
                "type": "array"
              },
              "operator": {
                "type": "string",
                "description": "Operator to use in the filter. See the filter reference for a list of available operators."
              }
            }
          }
        },
        "orderBy": {
          "description": "Synchronous report only. A list of columns and directions defining sorting to be performed on the report rows.\\ The maximum number of orderings per request is 300.",
          "items": {
            "type": "object",
            "properties": {
              "sortOrder": {
                "type": "string",
                "description": "The sort direction, which is either `ascending` or `descending`."
              },
              "column": {
                "$ref": "ReportApiColumnSpec",
                "description": "Column to perform the sort on. This can be a DoubleClick Search-defined column or a saved column."
              }
            }
          },
          "type": "array"
        },
        "downloadFormat": {
          "description": "Format that the report should be returned in. Currently `csv` or `tsv` is supported.",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.request"
            ]
          },
          "type": "string"
        },
        "columns": {
          "type": "array",
          "description": "The columns to include in the report. This includes both DoubleClick Search columns and saved columns. For DoubleClick Search columns, only the `columnName` parameter is required. For saved columns only the `savedColumnName` parameter is required. Both `columnName` and `savedColumnName` cannot be set in the same stanza.\\ The maximum number of columns per request is 300.",
          "items": {
            "$ref": "ReportApiColumnSpec"
          }
        }
      },
      "id": "ReportRequest",
      "type": "object",
      "description": "A request object used to create a DoubleClick Search report."
    },
    "ReportRow": {
      "description": "A row in a DoubleClick Search report.",
      "additionalProperties": {
        "type": "any",
        "description": "Indicates the columns that are represented in this row. That is, each key corresponds to a column with a non-empty cell in this row."
      },
      "id": "ReportRow",
      "type": "object"
    },
    "ConversionList": {
      "description": "A list of conversions.",
      "properties": {
        "conversion": {
          "items": {
            "$ref": "Conversion"
          },
          "type": "array",
          "description": "The conversions being requested."
        },
        "kind": {
          "description": "Identifies this as a ConversionList resource. Value: the fixed string doubleclicksearch#conversionList.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ConversionList"
    },
    "ReportApiColumnSpec": {
      "type": "object",
      "description": "A request object used to create a DoubleClick Search report.",
      "properties": {
        "endDate": {
          "type": "string",
          "description": "Inclusive day in YYYY-MM-DD format. When provided, this overrides the overall time range of the report for this column only. Must be provided together with `startDate`."
        },
        "headerText": {
          "description": "Text used to identify this column in the report output; defaults to `columnName` or `savedColumnName` when not specified. This can be used to prevent collisions between DoubleClick Search columns and saved columns with the same name.",
          "type": "string"
        },
        "customMetricName": {
          "type": "string",
          "description": "Name of a custom metric to include in the report. The report must be scoped to an advertiser or lower, and the custom metric must already be set up in DoubleClick Search. The custom metric name, which appears in DoubleClick Search, is case sensitive."
        },
        "productReportPerspective": {
          "type": "string",
          "description": "Returns metrics only for a specific type of product activity. Accepted values are: - \"`sold`\": returns metrics only for products that were sold - \"`advertised`\": returns metrics only for products that were advertised in a Shopping campaign, and that might or might not have been sold "
        },
        "customDimensionName": {
          "description": "Segments a report by a custom dimension. The report must be scoped to an advertiser or lower, and the custom dimension must already be set up in DoubleClick Search. The custom dimension name, which appears in DoubleClick Search, is case sensitive.\\ If used in a conversion report, returns the value of the specified custom dimension for the given conversion, if set. This column does not segment the conversion report.",
          "type": "string"
        },
        "platformSource": {
          "type": "string",
          "description": "The platform that is used to provide data for the custom dimension. Acceptable values are \"floodlight\"."
        },
        "startDate": {
          "type": "string",
          "description": "Inclusive date in YYYY-MM-DD format. When provided, this overrides the overall time range of the report for this column only. Must be provided together with `endDate`."
        },
        "columnName": {
          "description": "Name of a DoubleClick Search column to include in the report.",
          "type": "string"
        },
        "groupByColumn": {
          "description": "Synchronous report only. Set to `true` to group by this column. Defaults to `false`.",
          "type": "boolean"
        },
        "savedColumnName": {
          "description": "Name of a saved column to include in the report. The report must be scoped at advertiser or lower, and this saved column must already be created in the DoubleClick Search UI.",
          "type": "string"
        }
      },
      "id": "ReportApiColumnSpec"
    }
  },
  "resources": {
    "reports": {
      "methods": {
        "request": {
          "parameters": {},
          "parameterOrder": [],
          "httpMethod": "POST",
          "request": {
            "$ref": "ReportRequest"
          },
          "flatPath": "doubleclicksearch/v2/reports",
          "response": {
            "$ref": "Report"
          },
          "description": "Inserts a report request into the reporting system.",
          "id": "doubleclicksearch.reports.request",
          "path": "doubleclicksearch/v2/reports",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ]
        },
        "generate": {
          "description": "Generates and returns a report immediately.",
          "flatPath": "doubleclicksearch/v2/reports/generate",
          "id": "doubleclicksearch.reports.generate",
          "request": {
            "$ref": "ReportRequest"
          },
          "httpMethod": "POST",
          "parameters": {},
          "response": {
            "$ref": "Report"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "path": "doubleclicksearch/v2/reports/generate",
          "parameterOrder": []
        },
        "getIdMappingFile": {
          "response": {
            "$ref": "IdMappingFile"
          },
          "id": "doubleclicksearch.reports.getIdMappingFile",
          "useMediaDownloadService": true,
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/idmapping",
          "parameterOrder": [
            "agencyId",
            "advertiserId"
          ],
          "description": "Downloads a csv file(encoded in UTF-8) that contains ID mappings between legacy SA360 and new SA360. The file includes all children entities of the given advertiser(e.g. engine accounts, campaigns, ad groups, etc.) that exist in both legacy SA360 and new SA360.",
          "supportsMediaDownload": true,
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/idmapping",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "httpMethod": "GET",
          "parameters": {
            "advertiserId": {
              "description": "Legacy SA360 advertiser ID.",
              "type": "string",
              "location": "path",
              "required": true,
              "format": "int64"
            },
            "agencyId": {
              "required": true,
              "type": "string",
              "format": "int64",
              "description": "Legacy SA360 agency ID.",
              "location": "path"
            }
          }
        },
        "get": {
          "description": "Polls for the status of a report request.",
          "path": "doubleclicksearch/v2/reports/{reportId}",
          "flatPath": "doubleclicksearch/v2/reports/{reportId}",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameterOrder": [
            "reportId"
          ],
          "response": {
            "$ref": "Report"
          },
          "id": "doubleclicksearch.reports.get",
          "httpMethod": "GET",
          "parameters": {
            "reportId": {
              "type": "string",
              "location": "path",
              "description": "ID of the report request being polled.",
              "required": true
            }
          }
        },
        "getFile": {
          "parameterOrder": [
            "reportId",
            "reportFragment"
          ],
          "supportsMediaDownload": true,
          "flatPath": "doubleclicksearch/v2/reports/{reportId}/files/{reportFragment}",
          "useMediaDownloadService": true,
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "doubleclicksearch.reports.getFile",
          "description": "Downloads a report file encoded in UTF-8.",
          "httpMethod": "GET",
          "path": "doubleclicksearch/v2/reports/{reportId}/files/{reportFragment}",
          "parameters": {
            "reportFragment": {
              "minimum": "0",
              "required": true,
              "description": "The index of the report fragment to download.",
              "type": "integer",
              "format": "int32",
              "location": "path"
            },
            "reportId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "ID of the report."
            }
          }
        }
      }
    },
    "savedColumns": {
      "methods": {
        "list": {
          "parameterOrder": [
            "agencyId",
            "advertiserId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "agencyId": {
              "location": "path",
              "type": "string",
              "description": "DS ID of the agency.",
              "required": true,
              "format": "int64"
            },
            "advertiserId": {
              "required": true,
              "description": "DS ID of the advertiser.",
              "format": "int64",
              "type": "string",
              "location": "path"
            }
          },
          "response": {
            "$ref": "SavedColumnList"
          },
          "description": "Retrieve the list of saved columns for a specified advertiser.",
          "id": "doubleclicksearch.savedColumns.list",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/savedcolumns",
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/savedcolumns"
        }
      }
    },
    "conversion": {
      "methods": {
        "getByCustomerId": {
          "response": {
            "$ref": "ConversionList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "httpMethod": "GET",
          "path": "doubleclicksearch/v2/customer/{customerId}/conversion",
          "description": "Retrieves a list of conversions from a DoubleClick Search engine account.",
          "parameters": {
            "customerId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Customer ID of a client account in the new Search Ads 360 experience."
            },
            "engineAccountId": {
              "description": "Numeric ID of the engine account.",
              "type": "string",
              "format": "int64",
              "location": "query"
            },
            "adId": {
              "type": "string",
              "description": "Numeric ID of the ad.",
              "location": "query",
              "format": "int64"
            },
            "endDate": {
              "type": "integer",
              "maximum": "99991231",
              "required": true,
              "minimum": "20091101",
              "location": "query",
              "format": "int32",
              "description": "Last date (inclusive) on which to retrieve conversions. Format is yyyymmdd."
            },
            "criterionId": {
              "description": "Numeric ID of the criterion.",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "startDate": {
              "maximum": "99991231",
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "First date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "required": true,
              "minimum": "20091101"
            },
            "rowCount": {
              "description": "The number of conversions to return per call.",
              "location": "query",
              "maximum": "1000",
              "format": "int32",
              "minimum": "1",
              "required": true,
              "type": "integer"
            },
            "adGroupId": {
              "location": "query",
              "format": "int64",
              "description": "Numeric ID of the ad group.",
              "type": "string"
            },
            "advertiserId": {
              "type": "string",
              "format": "int64",
              "location": "query",
              "description": "Numeric ID of the advertiser."
            },
            "startRow": {
              "required": true,
              "description": "The 0-based starting index for retrieving conversions results.",
              "location": "query",
              "format": "uint32",
              "type": "integer"
            },
            "campaignId": {
              "description": "Numeric ID of the campaign.",
              "format": "int64",
              "type": "string",
              "location": "query"
            },
            "agencyId": {
              "location": "query",
              "format": "int64",
              "description": "Numeric ID of the agency.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "customerId",
            "endDate",
            "rowCount",
            "startDate",
            "startRow"
          ],
          "id": "doubleclicksearch.conversion.getByCustomerId",
          "flatPath": "doubleclicksearch/v2/customer/{customerId}/conversion"
        },
        "updateAvailability": {
          "id": "doubleclicksearch.conversion.updateAvailability",
          "description": "Updates the availabilities of a batch of floodlight activities in DoubleClick Search.",
          "path": "doubleclicksearch/v2/conversion/updateAvailability",
          "response": {
            "$ref": "UpdateAvailabilityResponse"
          },
          "parameters": {},
          "flatPath": "doubleclicksearch/v2/conversion/updateAvailability",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "request": {
            "$ref": "UpdateAvailabilityRequest"
          },
          "parameterOrder": [],
          "httpMethod": "POST"
        },
        "get": {
          "parameters": {
            "customerId": {
              "location": "query",
              "type": "string",
              "description": "Customer ID of a client account in the new Search Ads 360 experience."
            },
            "startDate": {
              "format": "int32",
              "location": "query",
              "type": "integer",
              "maximum": "99991231",
              "minimum": "20091101",
              "description": "First date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "required": true
            },
            "engineAccountId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Numeric ID of the engine account.",
              "format": "int64"
            },
            "rowCount": {
              "minimum": "1",
              "description": "The number of conversions to return per call.",
              "required": true,
              "type": "integer",
              "location": "query",
              "maximum": "1000",
              "format": "int32"
            },
            "adId": {
              "location": "query",
              "description": "Numeric ID of the ad.",
              "type": "string",
              "format": "int64"
            },
            "advertiserId": {
              "required": true,
              "format": "int64",
              "type": "string",
              "description": "Numeric ID of the advertiser.",
              "location": "path"
            },
            "startRow": {
              "type": "integer",
              "required": true,
              "location": "query",
              "description": "The 0-based starting index for retrieving conversions results.",
              "format": "uint32"
            },
            "campaignId": {
              "location": "query",
              "format": "int64",
              "description": "Numeric ID of the campaign.",
              "type": "string"
            },
            "agencyId": {
              "required": true,
              "description": "Numeric ID of the agency.",
              "type": "string",
              "format": "int64",
              "location": "path"
            },
            "endDate": {
              "minimum": "20091101",
              "required": true,
              "type": "integer",
              "description": "Last date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "maximum": "99991231",
              "format": "int32",
              "location": "query"
            },
            "criterionId": {
              "type": "string",
              "location": "query",
              "format": "int64",
              "description": "Numeric ID of the criterion."
            },
            "adGroupId": {
              "description": "Numeric ID of the ad group.",
              "location": "query",
              "type": "string",
              "format": "int64"
            }
          },
          "httpMethod": "GET",
          "id": "doubleclicksearch.conversion.get",
          "description": "Retrieves a list of conversions from a DoubleClick Search engine account.",
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/engine/{engineAccountId}/conversion",
          "response": {
            "$ref": "ConversionList"
          },
          "parameterOrder": [
            "agencyId",
            "advertiserId",
            "engineAccountId",
            "endDate",
            "rowCount",
            "startDate",
            "startRow"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/engine/{engineAccountId}/conversion"
        },
        "insert": {
          "description": "Inserts a batch of new conversions into DoubleClick Search.",
          "parameterOrder": [],
          "httpMethod": "POST",
          "parameters": {},
          "request": {
            "$ref": "ConversionList"
          },
          "response": {
            "$ref": "ConversionList"
          },
          "id": "doubleclicksearch.conversion.insert",
          "path": "doubleclicksearch/v2/conversion",
          "flatPath": "doubleclicksearch/v2/conversion",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ]
        },
        "update": {
          "parameters": {},
          "id": "doubleclicksearch.conversion.update",
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "flatPath": "doubleclicksearch/v2/conversion",
          "response": {
            "$ref": "ConversionList"
          },
          "description": "Updates a batch of conversions in DoubleClick Search.",
          "parameterOrder": [],
          "path": "doubleclicksearch/v2/conversion",
          "request": {
            "$ref": "ConversionList"
          }
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/search-ads",
  "revision": "20260922",
  "id": "doubleclicksearch:v2"
}