{
  "kind": "discovery#restDescription",
  "version": "v2",
  "discoveryVersion": "v1",
  "schemas": {
    "SavedColumn": {
      "properties": {
        "savedColumnName": {
          "description": "The name of the saved column.",
          "type": "string"
        },
        "type": {
          "description": "The type of data this saved column will produce.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies this as a SavedColumn resource. Value: the fixed string doubleclicksearch#savedColumn.",
          "type": "string"
        }
      },
      "id": "SavedColumn",
      "description": "A saved column",
      "type": "object"
    },
    "CustomDimension": {
      "id": "CustomDimension",
      "properties": {
        "value": {
          "type": "string",
          "description": "Custom dimension value."
        },
        "name": {
          "type": "string",
          "description": "Custom dimension name."
        }
      },
      "description": "A message containing the custom dimension.",
      "type": "object"
    },
    "ReportRequest": {
      "type": "object",
      "properties": {
        "columns": {
          "description": "The columns to include in the report. This includes both DoubleClick Search columns and saved columns. For DoubleClick Search columns, only the `columnName` parameter is required. For saved columns only the `savedColumnName` parameter is required. Both `columnName` and `savedColumnName` cannot be set in the same stanza.\\ The maximum number of columns per request is 300.",
          "items": {
            "$ref": "ReportApiColumnSpec"
          },
          "type": "array"
        },
        "maxRowsPerFile": {
          "type": "integer",
          "description": "Asynchronous report only. The maximum number of rows per report file. A large report is split into many files based on this field. Acceptable values are `1000000` to `100000000`, inclusive.",
          "format": "int32",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.request"
            ]
          }
        },
        "timeRange": {
          "type": "object",
          "description": "If metrics are requested in a report, this argument will be used to restrict the metrics to a specific time range.",
          "properties": {
            "startDate": {
              "description": "Inclusive date in YYYY-MM-DD format.",
              "type": "string"
            },
            "changedMetricsSinceTimestamp": {
              "type": "string",
              "description": "Inclusive UTC timestamp in RFC format, e.g., `2013-07-16T10:16:23.555Z`. See additional references on how changed metrics reports work."
            },
            "changedAttributesSinceTimestamp": {
              "type": "string",
              "description": "Inclusive UTC timestamp in RFC format, e.g., `2013-07-16T10:16:23.555Z`. See additional references on how changed attribute reports work."
            },
            "endDate": {
              "type": "string",
              "description": "Inclusive date in YYYY-MM-DD format."
            }
          }
        },
        "rowCount": {
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate"
            ]
          },
          "type": "integer",
          "format": "int32",
          "description": "Synchronous report only. The maximum number of rows to return; additional rows are dropped. Acceptable values are `0` to `10000`, inclusive. Defaults to `10000`."
        },
        "downloadFormat": {
          "annotations": {
            "required": [
              "doubleclicksearch.reports.request"
            ]
          },
          "type": "string",
          "description": "Format that the report should be returned in. Currently `csv` or `tsv` is supported."
        },
        "reportScope": {
          "type": "object",
          "properties": {
            "keywordId": {
              "description": "DS keyword ID.",
              "format": "int64",
              "type": "string"
            },
            "engineAccountId": {
              "description": "DS engine account ID.",
              "type": "string",
              "format": "int64"
            },
            "adId": {
              "description": "DS ad ID.",
              "format": "int64",
              "type": "string"
            },
            "campaignId": {
              "format": "int64",
              "description": "DS campaign ID.",
              "type": "string"
            },
            "agencyId": {
              "type": "string",
              "format": "int64",
              "description": "DS agency ID."
            },
            "advertiserId": {
              "description": "DS advertiser ID.",
              "format": "int64",
              "type": "string"
            },
            "adGroupId": {
              "format": "int64",
              "type": "string",
              "description": "DS ad group ID."
            }
          },
          "description": "The reportScope is a set of IDs that are used to determine which subset of entities will be returned in the report. The full lineage of IDs from the lowest scoped level desired up through agency is required."
        },
        "orderBy": {
          "description": "Synchronous report only. A list of columns and directions defining sorting to be performed on the report rows.\\ The maximum number of orderings per request is 300.",
          "type": "array",
          "items": {
            "properties": {
              "column": {
                "description": "Column to perform the sort on. This can be a DoubleClick Search-defined column or a saved column.",
                "$ref": "ReportApiColumnSpec"
              },
              "sortOrder": {
                "type": "string",
                "description": "The sort direction, which is either `ascending` or `descending`."
              }
            },
            "type": "object"
          }
        },
        "startRow": {
          "type": "integer",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate"
            ]
          },
          "description": "Synchronous report only. Zero-based index of the first row to return. Acceptable values are `0` to `50000`, inclusive. Defaults to `0`.",
          "format": "int32"
        },
        "statisticsCurrency": {
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate",
              "doubleclicksearch.reports.request"
            ]
          },
          "type": "string",
          "description": "Specifies the currency in which monetary will be returned. Possible values are: `usd`, `agency` (valid if the report is scoped to agency or lower), `advertiser` (valid if the report is scoped to * advertiser or lower), or `account` (valid if the report is scoped to engine account or lower)."
        },
        "includeRemovedEntities": {
          "type": "boolean",
          "description": "Determines if removed entities should be included in the report. Defaults to `false`."
        },
        "verifySingleTimeZone": {
          "description": "If `true`, the report would only be created if all the requested stat data are sourced from a single timezone. Defaults to `false`.",
          "type": "boolean"
        },
        "includeDeletedEntities": {
          "description": "Determines if removed entities should be included in the report. Defaults to `false`. Deprecated, please use `includeRemovedEntities` instead.",
          "type": "boolean"
        },
        "reportType": {
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate",
              "doubleclicksearch.reports.request"
            ]
          },
          "description": "Determines the type of rows that are returned in the report. For example, if you specify `reportType: keyword`, each row in the report will contain data about a keyword. See the [Types of Reports](/search-ads/v2/report-types/) reference for the columns that are available for each type.",
          "type": "string"
        },
        "filters": {
          "description": "A list of filters to be applied to the report.\\ The maximum number of filters per request is 300.",
          "items": {
            "type": "object",
            "properties": {
              "column": {
                "description": "Column to perform the filter on. This can be a DoubleClick Search column or a saved column.",
                "$ref": "ReportApiColumnSpec"
              },
              "values": {
                "items": {
                  "type": "any"
                },
                "description": "A list of values to filter the column value against.\\ The maximum number of filter values per request is 300.",
                "type": "array"
              },
              "operator": {
                "type": "string",
                "description": "Operator to use in the filter. See the filter reference for a list of available operators."
              }
            }
          },
          "type": "array"
        }
      },
      "description": "A request object used to create a DoubleClick Search report.",
      "id": "ReportRequest"
    },
    "IdMappingFile": {
      "type": "object",
      "properties": {},
      "description": "File returned to https://developers.google.com/search-ads/v2/reference/reports/getIdMappingFile.",
      "id": "IdMappingFile"
    },
    "ConversionList": {
      "description": "A list of conversions.",
      "id": "ConversionList",
      "properties": {
        "kind": {
          "description": "Identifies this as a ConversionList resource. Value: the fixed string doubleclicksearch#conversionList.",
          "type": "string"
        },
        "conversion": {
          "type": "array",
          "description": "The conversions being requested.",
          "items": {
            "$ref": "Conversion"
          }
        }
      },
      "type": "object"
    },
    "CustomMetric": {
      "type": "object",
      "description": "A message containing the custom metric.",
      "properties": {
        "name": {
          "description": "Custom metric name.",
          "type": "string"
        },
        "value": {
          "type": "number",
          "format": "double",
          "description": "Custom metric numeric value."
        }
      },
      "id": "CustomMetric"
    },
    "SavedColumnList": {
      "properties": {
        "kind": {
          "description": "Identifies this as a SavedColumnList resource. Value: the fixed string doubleclicksearch#savedColumnList.",
          "type": "string"
        },
        "items": {
          "description": "The saved columns being requested.",
          "type": "array",
          "items": {
            "$ref": "SavedColumn"
          }
        }
      },
      "description": "A list of saved columns. Advertisers create saved columns to report on Floodlight activities, Google Analytics goals, or custom KPIs. To request reports with saved columns, you'll need the saved column names that are available from this list.",
      "type": "object",
      "id": "SavedColumnList"
    },
    "Report": {
      "properties": {
        "rowCount": {
          "description": "The number of report rows generated by the report, not including headers.",
          "format": "int32",
          "type": "integer"
        },
        "kind": {
          "type": "string",
          "description": "Identifies this as a Report resource. Value: the fixed string `doubleclicksearch#report`."
        },
        "isReportReady": {
          "description": "Asynchronous report only. True if and only if the report has completed successfully and the report files are ready to be downloaded.",
          "type": "boolean"
        },
        "statisticsCurrencyCode": {
          "type": "string",
          "description": "The currency code of all monetary values produced in the report, including values that are set by users (e.g., keyword bid settings) and metrics (e.g., cost and revenue). The currency code of a report is determined by the `statisticsCurrency` field of the report request."
        },
        "statisticsTimeZone": {
          "description": "If all statistics of the report are sourced from the same time zone, this would be it. Otherwise the field is unset.",
          "type": "string"
        },
        "files": {
          "description": "Asynchronous report only. Contains a list of generated report files once the report has successfully completed.",
          "type": "array",
          "items": {
            "properties": {
              "url": {
                "type": "string",
                "description": "Use this url to download the report file."
              },
              "byteCount": {
                "description": "The size of this report file in bytes.",
                "type": "string",
                "format": "int64"
              }
            },
            "type": "object"
          }
        },
        "id": {
          "description": "Asynchronous report only. Id of the report.",
          "type": "string"
        },
        "request": {
          "$ref": "ReportRequest",
          "description": "The request that created the report. Optional fields not specified in the original request are filled with default values."
        },
        "rows": {
          "description": "Synchronous report only. Generated report rows.",
          "items": {
            "$ref": "ReportRow"
          },
          "type": "array"
        }
      },
      "description": "A DoubleClick Search report. This object contains the report request, some report metadata such as currency code, and the generated report rows or report files.",
      "id": "Report",
      "type": "object"
    },
    "Conversion": {
      "type": "object",
      "properties": {
        "clickId": {
          "description": "DS click ID for the conversion.",
          "type": "string"
        },
        "countMillis": {
          "format": "int64",
          "description": "Available to advertisers only after contacting DoubleClick Search customer support.",
          "type": "string"
        },
        "conversionId": {
          "type": "string",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          },
          "description": "For offline conversions, advertisers provide this ID. Advertisers can specify any ID that is meaningful to them. Each conversion in a request must specify a unique ID, and the combination of ID and timestamp must be unique amongst all conversions within the advertiser. For online conversions, DS copies the `dsConversionId` or `floodlightOrderId` into this property depending on the advertiser's Floodlight instructions."
        },
        "conversionModifiedTimestamp": {
          "description": "The time at which the conversion was last modified, in epoch millis UTC.",
          "type": "string",
          "format": "int64"
        },
        "currencyCode": {
          "description": "The currency code for the conversion's revenue. Should be in ISO 4217 alphabetic (3-char) format.",
          "type": "string"
        },
        "campaignId": {
          "format": "int64",
          "description": "DS campaign ID.",
          "type": "string"
        },
        "customDimension": {
          "items": {
            "$ref": "CustomDimension"
          },
          "description": "Custom dimensions for the conversion, which can be used to filter data in a report.",
          "type": "array"
        },
        "type": {
          "type": "string",
          "description": "The type of the conversion, that is, either `ACTION` or `TRANSACTION`. An `ACTION` conversion is an action by the user that has no monetarily quantifiable value, while a `TRANSACTION` conversion is an action that does have a monetarily quantifiable value. Examples are email list signups (`ACTION`) versus ecommerce purchases (`TRANSACTION`)."
        },
        "productCountry": {
          "type": "string",
          "description": "The country registered for the Merchant Center feed that contains the product. Use an ISO 3166 code to specify a country."
        },
        "inventoryAccountId": {
          "type": "string",
          "description": "ID that DS generates and uses to uniquely identify the inventory account that contains the product.",
          "format": "int64"
        },
        "advertiserId": {
          "description": "DS advertiser ID.",
          "type": "string",
          "format": "int64"
        },
        "adGroupId": {
          "description": "DS ad group ID.",
          "type": "string",
          "format": "int64"
        },
        "dsConversionId": {
          "type": "string",
          "description": "ID that DoubleClick Search generates for each conversion.",
          "format": "int64"
        },
        "quantityMillis": {
          "description": "The quantity of this conversion, in millis.",
          "type": "string",
          "format": "int64"
        },
        "engineAccountId": {
          "description": "DS engine account ID.",
          "type": "string",
          "format": "int64"
        },
        "revenueMicros": {
          "type": "string",
          "description": "The revenue amount of this `TRANSACTION` conversion, in micros (value multiplied by 1000000, no decimal). For example, to specify a revenue value of \"10\" enter \"10000000\" (10 million) in your request."
        },
        "adUserDataConsent": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Granted.",
            "Denied."
          ],
          "description": "Represents consent for core platform services (CPS) preferences in settings. No default value. Acceptable values are: GRANTED: The desired consent status is to grant. Read the CPS preferences from GTE settings. DENIED: The desired consent status is to deny; CPS list is empty.",
          "enum": [
            "UNKNOWN",
            "GRANTED",
            "DENIED"
          ]
        },
        "segmentationId": {
          "description": "The numeric segmentation identifier (for example, DoubleClick Search Floodlight activity ID).",
          "type": "string",
          "format": "int64"
        },
        "segmentationName": {
          "type": "string",
          "description": "The friendly segmentation identifier (for example, DoubleClick Search Floodlight activity name)."
        },
        "deviceType": {
          "description": "The type of device on which the conversion occurred.",
          "type": "string"
        },
        "attributionModel": {
          "description": "Available to advertisers only after contacting DoubleClick Search customer support.",
          "type": "string"
        },
        "productGroupId": {
          "description": "DS product group ID.",
          "format": "int64",
          "type": "string"
        },
        "segmentationType": {
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          },
          "description": "The segmentation type of this conversion (for example, `FLOODLIGHT`).",
          "type": "string"
        },
        "customMetric": {
          "type": "array",
          "description": "Custom metrics for the conversion.",
          "items": {
            "$ref": "CustomMetric"
          }
        },
        "agencyId": {
          "format": "int64",
          "description": "DS agency ID.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "description": "The state of the conversion, that is, either `ACTIVE` or `REMOVED`. Note: state DELETED is deprecated."
        },
        "storeId": {
          "type": "string",
          "description": "The ID of the local store for which the product was advertised. Applicable only when the channel is \"`local`\"."
        },
        "customerId": {
          "description": "Customer ID of a client account in the new Search Ads 360 experience.",
          "type": "string"
        },
        "floodlightOrderId": {
          "description": "The Floodlight order ID provided by the advertiser for the conversion.",
          "type": "string"
        },
        "criterionId": {
          "type": "string",
          "description": "DS criterion (keyword) ID.",
          "format": "int64"
        },
        "productId": {
          "description": "The product ID (SKU).",
          "type": "string"
        },
        "productLanguage": {
          "type": "string",
          "description": "The language registered for the Merchant Center feed that contains the product. Use an ISO 639 code to specify a language."
        },
        "adId": {
          "type": "string",
          "description": "DS ad ID.",
          "format": "int64"
        },
        "channel": {
          "type": "string",
          "description": "Sales channel for the product. Acceptable values are: - \"`local`\": a physical store - \"`online`\": an online store "
        },
        "conversionTimestamp": {
          "description": "The time at which the conversion took place, in epoch millis UTC.",
          "type": "string",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          }
        }
      },
      "id": "Conversion",
      "description": "A conversion containing data relevant to DoubleClick Search. Common DS3 API conversion fields: Id Range [1 - 2800]. Next Id to use: 33"
    },
    "UpdateAvailabilityRequest": {
      "description": "The request to update availability.",
      "type": "object",
      "properties": {
        "availabilities": {
          "items": {
            "$ref": "Availability"
          },
          "description": "The availabilities being requested.",
          "type": "array"
        }
      },
      "id": "UpdateAvailabilityRequest"
    },
    "Availability": {
      "type": "object",
      "id": "Availability",
      "properties": {
        "segmentationName": {
          "description": "The friendly segmentation identifier (for example, DoubleClick Search Floodlight activity name).",
          "type": "string"
        },
        "availabilityTimestamp": {
          "description": "The time by which all conversions have been uploaded, in epoch millis UTC.",
          "type": "string",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          },
          "format": "int64"
        },
        "segmentationType": {
          "type": "string",
          "description": "The segmentation type that this availability is for (its default value is `FLOODLIGHT`).",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          }
        },
        "customerId": {
          "type": "string",
          "description": "Customer ID of a client account in the new Search Ads 360 experience."
        },
        "segmentationId": {
          "format": "int64",
          "description": "The numeric segmentation identifier (for example, DoubleClick Search Floodlight activity ID).",
          "type": "string"
        },
        "advertiserId": {
          "format": "int64",
          "type": "string",
          "description": "DS advertiser ID.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          }
        },
        "agencyId": {
          "type": "string",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          },
          "description": "DS agency ID.",
          "format": "int64"
        }
      },
      "description": "A message containing availability data relevant to DoubleClick Search."
    },
    "ReportRow": {
      "type": "object",
      "additionalProperties": {
        "type": "any",
        "description": "Indicates the columns that are represented in this row. That is, each key corresponds to a column with a non-empty cell in this row."
      },
      "id": "ReportRow",
      "description": "A row in a DoubleClick Search report."
    },
    "UpdateAvailabilityResponse": {
      "description": "The response to a update availability request.",
      "properties": {
        "availabilities": {
          "items": {
            "$ref": "Availability"
          },
          "description": "The availabilities being returned.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "UpdateAvailabilityResponse"
    },
    "ReportApiColumnSpec": {
      "type": "object",
      "description": "A request object used to create a DoubleClick Search report.",
      "properties": {
        "productReportPerspective": {
          "description": "Returns metrics only for a specific type of product activity. Accepted values are: - \"`sold`\": returns metrics only for products that were sold - \"`advertised`\": returns metrics only for products that were advertised in a Shopping campaign, and that might or might not have been sold ",
          "type": "string"
        },
        "columnName": {
          "description": "Name of a DoubleClick Search column to include in the report.",
          "type": "string"
        },
        "platformSource": {
          "type": "string",
          "description": "The platform that is used to provide data for the custom dimension. Acceptable values are \"floodlight\"."
        },
        "startDate": {
          "description": "Inclusive date in YYYY-MM-DD format. When provided, this overrides the overall time range of the report for this column only. Must be provided together with `endDate`.",
          "type": "string"
        },
        "headerText": {
          "type": "string",
          "description": "Text used to identify this column in the report output; defaults to `columnName` or `savedColumnName` when not specified. This can be used to prevent collisions between DoubleClick Search columns and saved columns with the same name."
        },
        "groupByColumn": {
          "type": "boolean",
          "description": "Synchronous report only. Set to `true` to group by this column. Defaults to `false`."
        },
        "endDate": {
          "description": "Inclusive day in YYYY-MM-DD format. When provided, this overrides the overall time range of the report for this column only. Must be provided together with `startDate`.",
          "type": "string"
        },
        "customDimensionName": {
          "description": "Segments a report by a custom dimension. The report must be scoped to an advertiser or lower, and the custom dimension must already be set up in DoubleClick Search. The custom dimension name, which appears in DoubleClick Search, is case sensitive.\\ If used in a conversion report, returns the value of the specified custom dimension for the given conversion, if set. This column does not segment the conversion report.",
          "type": "string"
        },
        "customMetricName": {
          "type": "string",
          "description": "Name of a custom metric to include in the report. The report must be scoped to an advertiser or lower, and the custom metric must already be set up in DoubleClick Search. The custom metric name, which appears in DoubleClick Search, is case sensitive."
        },
        "savedColumnName": {
          "description": "Name of a saved column to include in the report. The report must be scoped at advertiser or lower, and this saved column must already be created in the DoubleClick Search UI.",
          "type": "string"
        }
      },
      "id": "ReportApiColumnSpec"
    }
  },
  "revision": "20260930",
  "servicePath": "",
  "documentationLink": "https://developers.google.com/search-ads",
  "description": "The Search Ads 360 API allows developers to automate uploading conversions and downloading reports from Search Ads 360.",
  "id": "doubleclicksearch:v2",
  "protocol": "rest",
  "title": "Search Ads 360 API",
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "canonicalName": "Doubleclicksearch",
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    }
  },
  "batchPath": "batch",
  "resources": {
    "conversion": {
      "methods": {
        "insert": {
          "response": {
            "$ref": "ConversionList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "doubleclicksearch.conversion.insert",
          "parameterOrder": [],
          "description": "Inserts a batch of new conversions into DoubleClick Search.",
          "flatPath": "doubleclicksearch/v2/conversion",
          "parameters": {},
          "request": {
            "$ref": "ConversionList"
          },
          "httpMethod": "POST",
          "path": "doubleclicksearch/v2/conversion"
        },
        "get": {
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/engine/{engineAccountId}/conversion",
          "id": "doubleclicksearch.conversion.get",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "description": "Retrieves a list of conversions from a DoubleClick Search engine account.",
          "response": {
            "$ref": "ConversionList"
          },
          "parameterOrder": [
            "agencyId",
            "advertiserId",
            "engineAccountId",
            "endDate",
            "rowCount",
            "startDate",
            "startRow"
          ],
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/engine/{engineAccountId}/conversion",
          "httpMethod": "GET",
          "parameters": {
            "advertiserId": {
              "type": "string",
              "description": "Numeric ID of the advertiser.",
              "location": "path",
              "required": true,
              "format": "int64"
            },
            "endDate": {
              "location": "query",
              "minimum": "20091101",
              "format": "int32",
              "description": "Last date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "required": true,
              "type": "integer",
              "maximum": "99991231"
            },
            "agencyId": {
              "type": "string",
              "location": "path",
              "format": "int64",
              "required": true,
              "description": "Numeric ID of the agency."
            },
            "adGroupId": {
              "type": "string",
              "description": "Numeric ID of the ad group.",
              "format": "int64",
              "location": "query"
            },
            "startRow": {
              "required": true,
              "type": "integer",
              "description": "The 0-based starting index for retrieving conversions results.",
              "location": "query",
              "format": "uint32"
            },
            "criterionId": {
              "type": "string",
              "location": "query",
              "format": "int64",
              "description": "Numeric ID of the criterion."
            },
            "adId": {
              "location": "query",
              "type": "string",
              "format": "int64",
              "description": "Numeric ID of the ad."
            },
            "engineAccountId": {
              "required": true,
              "format": "int64",
              "description": "Numeric ID of the engine account.",
              "type": "string",
              "location": "path"
            },
            "startDate": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "maximum": "99991231",
              "description": "First date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "minimum": "20091101",
              "required": true
            },
            "campaignId": {
              "format": "int64",
              "location": "query",
              "type": "string",
              "description": "Numeric ID of the campaign."
            },
            "customerId": {
              "location": "query",
              "type": "string",
              "description": "Customer ID of a client account in the new Search Ads 360 experience."
            },
            "rowCount": {
              "type": "integer",
              "required": true,
              "maximum": "1000",
              "description": "The number of conversions to return per call.",
              "format": "int32",
              "minimum": "1",
              "location": "query"
            }
          }
        },
        "getByCustomerId": {
          "description": "Retrieves a list of conversions from a DoubleClick Search engine account.",
          "response": {
            "$ref": "ConversionList"
          },
          "flatPath": "doubleclicksearch/v2/customer/{customerId}/conversion",
          "path": "doubleclicksearch/v2/customer/{customerId}/conversion",
          "parameterOrder": [
            "customerId",
            "endDate",
            "rowCount",
            "startDate",
            "startRow"
          ],
          "parameters": {
            "advertiserId": {
              "type": "string",
              "format": "int64",
              "description": "Numeric ID of the advertiser.",
              "location": "query"
            },
            "customerId": {
              "description": "Customer ID of a client account in the new Search Ads 360 experience.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "campaignId": {
              "description": "Numeric ID of the campaign.",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "adId": {
              "location": "query",
              "description": "Numeric ID of the ad.",
              "format": "int64",
              "type": "string"
            },
            "rowCount": {
              "required": true,
              "minimum": "1",
              "type": "integer",
              "description": "The number of conversions to return per call.",
              "format": "int32",
              "location": "query",
              "maximum": "1000"
            },
            "criterionId": {
              "location": "query",
              "type": "string",
              "format": "int64",
              "description": "Numeric ID of the criterion."
            },
            "endDate": {
              "format": "int32",
              "minimum": "20091101",
              "type": "integer",
              "description": "Last date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "location": "query",
              "required": true,
              "maximum": "99991231"
            },
            "engineAccountId": {
              "type": "string",
              "location": "query",
              "format": "int64",
              "description": "Numeric ID of the engine account."
            },
            "startRow": {
              "location": "query",
              "type": "integer",
              "format": "uint32",
              "required": true,
              "description": "The 0-based starting index for retrieving conversions results."
            },
            "agencyId": {
              "format": "int64",
              "description": "Numeric ID of the agency.",
              "type": "string",
              "location": "query"
            },
            "adGroupId": {
              "format": "int64",
              "description": "Numeric ID of the ad group.",
              "location": "query",
              "type": "string"
            },
            "startDate": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "maximum": "99991231",
              "minimum": "20091101",
              "description": "First date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "doubleclicksearch.conversion.getByCustomerId",
          "httpMethod": "GET"
        },
        "updateAvailability": {
          "request": {
            "$ref": "UpdateAvailabilityRequest"
          },
          "id": "doubleclicksearch.conversion.updateAvailability",
          "response": {
            "$ref": "UpdateAvailabilityResponse"
          },
          "parameterOrder": [],
          "flatPath": "doubleclicksearch/v2/conversion/updateAvailability",
          "description": "Updates the availabilities of a batch of floodlight activities in DoubleClick Search.",
          "parameters": {},
          "path": "doubleclicksearch/v2/conversion/updateAvailability",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "httpMethod": "POST"
        },
        "update": {
          "response": {
            "$ref": "ConversionList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "flatPath": "doubleclicksearch/v2/conversion",
          "request": {
            "$ref": "ConversionList"
          },
          "parameterOrder": [],
          "id": "doubleclicksearch.conversion.update",
          "parameters": {},
          "httpMethod": "PUT",
          "path": "doubleclicksearch/v2/conversion",
          "description": "Updates a batch of conversions in DoubleClick Search."
        }
      }
    },
    "reports": {
      "methods": {
        "get": {
          "description": "Polls for the status of a report request.",
          "parameterOrder": [
            "reportId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "doubleclicksearch.reports.get",
          "httpMethod": "GET",
          "flatPath": "doubleclicksearch/v2/reports/{reportId}",
          "response": {
            "$ref": "Report"
          },
          "parameters": {
            "reportId": {
              "description": "ID of the report request being polled.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "doubleclicksearch/v2/reports/{reportId}"
        },
        "generate": {
          "id": "doubleclicksearch.reports.generate",
          "path": "doubleclicksearch/v2/reports/generate",
          "request": {
            "$ref": "ReportRequest"
          },
          "parameterOrder": [],
          "description": "Generates and returns a report immediately.",
          "httpMethod": "POST",
          "flatPath": "doubleclicksearch/v2/reports/generate",
          "response": {
            "$ref": "Report"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameters": {}
        },
        "getFile": {
          "path": "doubleclicksearch/v2/reports/{reportId}/files/{reportFragment}",
          "id": "doubleclicksearch.reports.getFile",
          "flatPath": "doubleclicksearch/v2/reports/{reportId}/files/{reportFragment}",
          "useMediaDownloadService": true,
          "parameters": {
            "reportId": {
              "description": "ID of the report.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "reportFragment": {
              "required": true,
              "description": "The index of the report fragment to download.",
              "location": "path",
              "type": "integer",
              "minimum": "0",
              "format": "int32"
            }
          },
          "description": "Downloads a report file encoded in UTF-8.",
          "parameterOrder": [
            "reportId",
            "reportFragment"
          ],
          "supportsMediaDownload": true,
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ]
        },
        "request": {
          "path": "doubleclicksearch/v2/reports",
          "request": {
            "$ref": "ReportRequest"
          },
          "flatPath": "doubleclicksearch/v2/reports",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "response": {
            "$ref": "Report"
          },
          "description": "Inserts a report request into the reporting system.",
          "parameterOrder": [],
          "httpMethod": "POST",
          "parameters": {},
          "id": "doubleclicksearch.reports.request"
        },
        "getIdMappingFile": {
          "useMediaDownloadService": true,
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/idmapping",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "response": {
            "$ref": "IdMappingFile"
          },
          "parameterOrder": [
            "agencyId",
            "advertiserId"
          ],
          "id": "doubleclicksearch.reports.getIdMappingFile",
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/idmapping",
          "httpMethod": "GET",
          "description": "Downloads a csv file(encoded in UTF-8) that contains ID mappings between legacy SA360 and new SA360. The file includes all children entities of the given advertiser(e.g. engine accounts, campaigns, ad groups, etc.) that exist in both legacy SA360 and new SA360.",
          "parameters": {
            "advertiserId": {
              "required": true,
              "type": "string",
              "format": "int64",
              "description": "Legacy SA360 advertiser ID.",
              "location": "path"
            },
            "agencyId": {
              "location": "path",
              "description": "Legacy SA360 agency ID.",
              "format": "int64",
              "type": "string",
              "required": true
            }
          },
          "supportsMediaDownload": true
        }
      }
    },
    "savedColumns": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "doubleclicksearch.savedColumns.list",
          "parameters": {
            "agencyId": {
              "format": "int64",
              "description": "DS ID of the agency.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "advertiserId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "DS ID of the advertiser.",
              "format": "int64"
            }
          },
          "response": {
            "$ref": "SavedColumnList"
          },
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/savedcolumns",
          "description": "Retrieve the list of saved columns for a specified advertiser.",
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/savedcolumns",
          "httpMethod": "GET",
          "parameterOrder": [
            "agencyId",
            "advertiserId"
          ]
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/doubleclicksearch": {
          "description": "View and manage your advertising data in DoubleClick Search"
        }
      }
    }
  },
  "rootUrl": "https://doubleclicksearch.googleapis.com/",
  "name": "doubleclicksearch",
  "basePath": "",
  "mtlsRootUrl": "https://doubleclicksearch.mtls.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "baseUrl": "https://doubleclicksearch.googleapis.com/"
}