{
  "ownerDomain": "google.com",
  "version": "v2",
  "mtlsRootUrl": "https://doubleclicksearch.mtls.googleapis.com/",
  "id": "doubleclicksearch:v2",
  "name": "doubleclicksearch",
  "canonicalName": "Doubleclicksearch",
  "parameters": {
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response.",
      "default": "json"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    }
  },
  "discoveryVersion": "v1",
  "revision": "20260908",
  "ownerName": "Google",
  "schemas": {
    "ReportRequest": {
      "id": "ReportRequest",
      "description": "A request object used to create a DoubleClick Search report.",
      "properties": {
        "rowCount": {
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate"
            ]
          },
          "type": "integer",
          "format": "int32",
          "description": "Synchronous report only. The maximum number of rows to return; additional rows are dropped. Acceptable values are `0` to `10000`, inclusive. Defaults to `10000`."
        },
        "reportScope": {
          "type": "object",
          "properties": {
            "agencyId": {
              "description": "DS agency ID.",
              "type": "string",
              "format": "int64"
            },
            "adGroupId": {
              "description": "DS ad group ID.",
              "type": "string",
              "format": "int64"
            },
            "keywordId": {
              "type": "string",
              "format": "int64",
              "description": "DS keyword ID."
            },
            "engineAccountId": {
              "description": "DS engine account ID.",
              "type": "string",
              "format": "int64"
            },
            "adId": {
              "format": "int64",
              "type": "string",
              "description": "DS ad ID."
            },
            "advertiserId": {
              "type": "string",
              "description": "DS advertiser ID.",
              "format": "int64"
            },
            "campaignId": {
              "type": "string",
              "description": "DS campaign ID.",
              "format": "int64"
            }
          },
          "description": "The reportScope is a set of IDs that are used to determine which subset of entities will be returned in the report. The full lineage of IDs from the lowest scoped level desired up through agency is required."
        },
        "columns": {
          "type": "array",
          "items": {
            "$ref": "ReportApiColumnSpec"
          },
          "description": "The columns to include in the report. This includes both DoubleClick Search columns and saved columns. For DoubleClick Search columns, only the `columnName` parameter is required. For saved columns only the `savedColumnName` parameter is required. Both `columnName` and `savedColumnName` cannot be set in the same stanza.\\ The maximum number of columns per request is 300."
        },
        "reportType": {
          "description": "Determines the type of rows that are returned in the report. For example, if you specify `reportType: keyword`, each row in the report will contain data about a keyword. See the [Types of Reports](/search-ads/v2/report-types/) reference for the columns that are available for each type.",
          "type": "string",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate",
              "doubleclicksearch.reports.request"
            ]
          }
        },
        "downloadFormat": {
          "description": "Format that the report should be returned in. Currently `csv` or `tsv` is supported.",
          "type": "string",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.request"
            ]
          }
        },
        "includeDeletedEntities": {
          "type": "boolean",
          "description": "Determines if removed entities should be included in the report. Defaults to `false`. Deprecated, please use `includeRemovedEntities` instead."
        },
        "maxRowsPerFile": {
          "type": "integer",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.request"
            ]
          },
          "description": "Asynchronous report only. The maximum number of rows per report file. A large report is split into many files based on this field. Acceptable values are `1000000` to `100000000`, inclusive.",
          "format": "int32"
        },
        "timeRange": {
          "properties": {
            "endDate": {
              "description": "Inclusive date in YYYY-MM-DD format.",
              "type": "string"
            },
            "changedMetricsSinceTimestamp": {
              "description": "Inclusive UTC timestamp in RFC format, e.g., `2013-07-16T10:16:23.555Z`. See additional references on how changed metrics reports work.",
              "type": "string"
            },
            "changedAttributesSinceTimestamp": {
              "description": "Inclusive UTC timestamp in RFC format, e.g., `2013-07-16T10:16:23.555Z`. See additional references on how changed attribute reports work.",
              "type": "string"
            },
            "startDate": {
              "type": "string",
              "description": "Inclusive date in YYYY-MM-DD format."
            }
          },
          "description": "If metrics are requested in a report, this argument will be used to restrict the metrics to a specific time range.",
          "type": "object"
        },
        "filters": {
          "items": {
            "properties": {
              "column": {
                "$ref": "ReportApiColumnSpec",
                "description": "Column to perform the filter on. This can be a DoubleClick Search column or a saved column."
              },
              "operator": {
                "description": "Operator to use in the filter. See the filter reference for a list of available operators.",
                "type": "string"
              },
              "values": {
                "items": {
                  "type": "any"
                },
                "description": "A list of values to filter the column value against.\\ The maximum number of filter values per request is 300.",
                "type": "array"
              }
            },
            "type": "object"
          },
          "type": "array",
          "description": "A list of filters to be applied to the report.\\ The maximum number of filters per request is 300."
        },
        "startRow": {
          "type": "integer",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate"
            ]
          },
          "format": "int32",
          "description": "Synchronous report only. Zero-based index of the first row to return. Acceptable values are `0` to `50000`, inclusive. Defaults to `0`."
        },
        "verifySingleTimeZone": {
          "description": "If `true`, the report would only be created if all the requested stat data are sourced from a single timezone. Defaults to `false`.",
          "type": "boolean"
        },
        "statisticsCurrency": {
          "description": "Specifies the currency in which monetary will be returned. Possible values are: `usd`, `agency` (valid if the report is scoped to agency or lower), `advertiser` (valid if the report is scoped to * advertiser or lower), or `account` (valid if the report is scoped to engine account or lower).",
          "type": "string",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate",
              "doubleclicksearch.reports.request"
            ]
          }
        },
        "includeRemovedEntities": {
          "description": "Determines if removed entities should be included in the report. Defaults to `false`.",
          "type": "boolean"
        },
        "orderBy": {
          "type": "array",
          "description": "Synchronous report only. A list of columns and directions defining sorting to be performed on the report rows.\\ The maximum number of orderings per request is 300.",
          "items": {
            "properties": {
              "column": {
                "$ref": "ReportApiColumnSpec",
                "description": "Column to perform the sort on. This can be a DoubleClick Search-defined column or a saved column."
              },
              "sortOrder": {
                "description": "The sort direction, which is either `ascending` or `descending`.",
                "type": "string"
              }
            },
            "type": "object"
          }
        }
      },
      "type": "object"
    },
    "SavedColumnList": {
      "id": "SavedColumnList",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies this as a SavedColumnList resource. Value: the fixed string doubleclicksearch#savedColumnList."
        },
        "items": {
          "items": {
            "$ref": "SavedColumn"
          },
          "type": "array",
          "description": "The saved columns being requested."
        }
      },
      "description": "A list of saved columns. Advertisers create saved columns to report on Floodlight activities, Google Analytics goals, or custom KPIs. To request reports with saved columns, you'll need the saved column names that are available from this list.",
      "type": "object"
    },
    "ConversionList": {
      "id": "ConversionList",
      "type": "object",
      "properties": {
        "conversion": {
          "items": {
            "$ref": "Conversion"
          },
          "type": "array",
          "description": "The conversions being requested."
        },
        "kind": {
          "type": "string",
          "description": "Identifies this as a ConversionList resource. Value: the fixed string doubleclicksearch#conversionList."
        }
      },
      "description": "A list of conversions."
    },
    "CustomMetric": {
      "properties": {
        "value": {
          "description": "Custom metric numeric value.",
          "format": "double",
          "type": "number"
        },
        "name": {
          "description": "Custom metric name.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CustomMetric",
      "description": "A message containing the custom metric."
    },
    "ReportRow": {
      "additionalProperties": {
        "description": "Indicates the columns that are represented in this row. That is, each key corresponds to a column with a non-empty cell in this row.",
        "type": "any"
      },
      "id": "ReportRow",
      "type": "object",
      "description": "A row in a DoubleClick Search report."
    },
    "UpdateAvailabilityRequest": {
      "id": "UpdateAvailabilityRequest",
      "type": "object",
      "description": "The request to update availability.",
      "properties": {
        "availabilities": {
          "type": "array",
          "description": "The availabilities being requested.",
          "items": {
            "$ref": "Availability"
          }
        }
      }
    },
    "CustomDimension": {
      "type": "object",
      "description": "A message containing the custom dimension.",
      "id": "CustomDimension",
      "properties": {
        "name": {
          "type": "string",
          "description": "Custom dimension name."
        },
        "value": {
          "type": "string",
          "description": "Custom dimension value."
        }
      }
    },
    "Conversion": {
      "description": "A conversion containing data relevant to DoubleClick Search. Common DS3 API conversion fields: Id Range [1 - 2800]. Next Id to use: 33",
      "type": "object",
      "id": "Conversion",
      "properties": {
        "currencyCode": {
          "type": "string",
          "description": "The currency code for the conversion's revenue. Should be in ISO 4217 alphabetic (3-char) format."
        },
        "productId": {
          "description": "The product ID (SKU).",
          "type": "string"
        },
        "customerId": {
          "description": "Customer ID of a client account in the new Search Ads 360 experience.",
          "type": "string"
        },
        "criterionId": {
          "format": "int64",
          "type": "string",
          "description": "DS criterion (keyword) ID."
        },
        "floodlightOrderId": {
          "description": "The Floodlight order ID provided by the advertiser for the conversion.",
          "type": "string"
        },
        "attributionModel": {
          "description": "Available to advertisers only after contacting DoubleClick Search customer support.",
          "type": "string"
        },
        "customMetric": {
          "description": "Custom metrics for the conversion.",
          "items": {
            "$ref": "CustomMetric"
          },
          "type": "array"
        },
        "adUserDataConsent": {
          "description": "Represents consent for core platform services (CPS) preferences in settings. No default value. Acceptable values are: GRANTED: The desired consent status is to grant. Read the CPS preferences from GTE settings. DENIED: The desired consent status is to deny; CPS list is empty.",
          "enumDescriptions": [
            "Not specified.",
            "Granted.",
            "Denied."
          ],
          "enum": [
            "UNKNOWN",
            "GRANTED",
            "DENIED"
          ],
          "type": "string"
        },
        "clickId": {
          "description": "DS click ID for the conversion.",
          "type": "string"
        },
        "adGroupId": {
          "description": "DS ad group ID.",
          "format": "int64",
          "type": "string"
        },
        "state": {
          "type": "string",
          "description": "The state of the conversion, that is, either `ACTIVE` or `REMOVED`. Note: state DELETED is deprecated."
        },
        "conversionId": {
          "type": "string",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          },
          "description": "For offline conversions, advertisers provide this ID. Advertisers can specify any ID that is meaningful to them. Each conversion in a request must specify a unique ID, and the combination of ID and timestamp must be unique amongst all conversions within the advertiser. For online conversions, DS copies the `dsConversionId` or `floodlightOrderId` into this property depending on the advertiser's Floodlight instructions."
        },
        "deviceType": {
          "description": "The type of device on which the conversion occurred.",
          "type": "string"
        },
        "dsConversionId": {
          "type": "string",
          "format": "int64",
          "description": "ID that DoubleClick Search generates for each conversion."
        },
        "inventoryAccountId": {
          "description": "ID that DS generates and uses to uniquely identify the inventory account that contains the product.",
          "format": "int64",
          "type": "string"
        },
        "revenueMicros": {
          "type": "string",
          "description": "The revenue amount of this `TRANSACTION` conversion, in micros (value multiplied by 1000000, no decimal). For example, to specify a revenue value of \"10\" enter \"10000000\" (10 million) in your request."
        },
        "conversionModifiedTimestamp": {
          "description": "The time at which the conversion was last modified, in epoch millis UTC.",
          "format": "int64",
          "type": "string"
        },
        "quantityMillis": {
          "type": "string",
          "format": "int64",
          "description": "The quantity of this conversion, in millis."
        },
        "segmentationName": {
          "type": "string",
          "description": "The friendly segmentation identifier (for example, DoubleClick Search Floodlight activity name)."
        },
        "engineAccountId": {
          "description": "DS engine account ID.",
          "type": "string",
          "format": "int64"
        },
        "storeId": {
          "description": "The ID of the local store for which the product was advertised. Applicable only when the channel is \"`local`\".",
          "type": "string"
        },
        "productLanguage": {
          "description": "The language registered for the Merchant Center feed that contains the product. Use an ISO 639 code to specify a language.",
          "type": "string"
        },
        "productCountry": {
          "type": "string",
          "description": "The country registered for the Merchant Center feed that contains the product. Use an ISO 3166 code to specify a country."
        },
        "conversionTimestamp": {
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          },
          "type": "string",
          "description": "The time at which the conversion took place, in epoch millis UTC."
        },
        "advertiserId": {
          "format": "int64",
          "type": "string",
          "description": "DS advertiser ID."
        },
        "segmentationId": {
          "format": "int64",
          "description": "The numeric segmentation identifier (for example, DoubleClick Search Floodlight activity ID).",
          "type": "string"
        },
        "customDimension": {
          "items": {
            "$ref": "CustomDimension"
          },
          "description": "Custom dimensions for the conversion, which can be used to filter data in a report.",
          "type": "array"
        },
        "countMillis": {
          "format": "int64",
          "description": "Available to advertisers only after contacting DoubleClick Search customer support.",
          "type": "string"
        },
        "type": {
          "description": "The type of the conversion, that is, either `ACTION` or `TRANSACTION`. An `ACTION` conversion is an action by the user that has no monetarily quantifiable value, while a `TRANSACTION` conversion is an action that does have a monetarily quantifiable value. Examples are email list signups (`ACTION`) versus ecommerce purchases (`TRANSACTION`).",
          "type": "string"
        },
        "campaignId": {
          "format": "int64",
          "type": "string",
          "description": "DS campaign ID."
        },
        "channel": {
          "description": "Sales channel for the product. Acceptable values are: - \"`local`\": a physical store - \"`online`\": an online store ",
          "type": "string"
        },
        "segmentationType": {
          "type": "string",
          "description": "The segmentation type of this conversion (for example, `FLOODLIGHT`).",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          }
        },
        "adId": {
          "description": "DS ad ID.",
          "format": "int64",
          "type": "string"
        },
        "productGroupId": {
          "format": "int64",
          "type": "string",
          "description": "DS product group ID."
        },
        "agencyId": {
          "format": "int64",
          "type": "string",
          "description": "DS agency ID."
        }
      }
    },
    "IdMappingFile": {
      "type": "object",
      "id": "IdMappingFile",
      "properties": {},
      "description": "File returned to https://developers.google.com/search-ads/v2/reference/reports/getIdMappingFile."
    },
    "SavedColumn": {
      "id": "SavedColumn",
      "description": "A saved column",
      "properties": {
        "kind": {
          "description": "Identifies this as a SavedColumn resource. Value: the fixed string doubleclicksearch#savedColumn.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The type of data this saved column will produce."
        },
        "savedColumnName": {
          "description": "The name of the saved column.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ReportApiColumnSpec": {
      "description": "A request object used to create a DoubleClick Search report.",
      "type": "object",
      "properties": {
        "platformSource": {
          "type": "string",
          "description": "The platform that is used to provide data for the custom dimension. Acceptable values are \"floodlight\"."
        },
        "startDate": {
          "description": "Inclusive date in YYYY-MM-DD format. When provided, this overrides the overall time range of the report for this column only. Must be provided together with `endDate`.",
          "type": "string"
        },
        "columnName": {
          "type": "string",
          "description": "Name of a DoubleClick Search column to include in the report."
        },
        "customDimensionName": {
          "type": "string",
          "description": "Segments a report by a custom dimension. The report must be scoped to an advertiser or lower, and the custom dimension must already be set up in DoubleClick Search. The custom dimension name, which appears in DoubleClick Search, is case sensitive.\\ If used in a conversion report, returns the value of the specified custom dimension for the given conversion, if set. This column does not segment the conversion report."
        },
        "endDate": {
          "description": "Inclusive day in YYYY-MM-DD format. When provided, this overrides the overall time range of the report for this column only. Must be provided together with `startDate`.",
          "type": "string"
        },
        "customMetricName": {
          "description": "Name of a custom metric to include in the report. The report must be scoped to an advertiser or lower, and the custom metric must already be set up in DoubleClick Search. The custom metric name, which appears in DoubleClick Search, is case sensitive.",
          "type": "string"
        },
        "headerText": {
          "type": "string",
          "description": "Text used to identify this column in the report output; defaults to `columnName` or `savedColumnName` when not specified. This can be used to prevent collisions between DoubleClick Search columns and saved columns with the same name."
        },
        "savedColumnName": {
          "description": "Name of a saved column to include in the report. The report must be scoped at advertiser or lower, and this saved column must already be created in the DoubleClick Search UI.",
          "type": "string"
        },
        "productReportPerspective": {
          "type": "string",
          "description": "Returns metrics only for a specific type of product activity. Accepted values are: - \"`sold`\": returns metrics only for products that were sold - \"`advertised`\": returns metrics only for products that were advertised in a Shopping campaign, and that might or might not have been sold "
        },
        "groupByColumn": {
          "type": "boolean",
          "description": "Synchronous report only. Set to `true` to group by this column. Defaults to `false`."
        }
      },
      "id": "ReportApiColumnSpec"
    },
    "Availability": {
      "properties": {
        "availabilityTimestamp": {
          "format": "int64",
          "description": "The time by which all conversions have been uploaded, in epoch millis UTC.",
          "type": "string",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          }
        },
        "segmentationId": {
          "description": "The numeric segmentation identifier (for example, DoubleClick Search Floodlight activity ID).",
          "format": "int64",
          "type": "string"
        },
        "advertiserId": {
          "format": "int64",
          "type": "string",
          "description": "DS advertiser ID.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          }
        },
        "agencyId": {
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          },
          "format": "int64",
          "type": "string",
          "description": "DS agency ID."
        },
        "segmentationName": {
          "type": "string",
          "description": "The friendly segmentation identifier (for example, DoubleClick Search Floodlight activity name)."
        },
        "segmentationType": {
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          },
          "type": "string",
          "description": "The segmentation type that this availability is for (its default value is `FLOODLIGHT`)."
        },
        "customerId": {
          "type": "string",
          "description": "Customer ID of a client account in the new Search Ads 360 experience."
        }
      },
      "type": "object",
      "id": "Availability",
      "description": "A message containing availability data relevant to DoubleClick Search."
    },
    "Report": {
      "description": "A DoubleClick Search report. This object contains the report request, some report metadata such as currency code, and the generated report rows or report files.",
      "id": "Report",
      "type": "object",
      "properties": {
        "request": {
          "$ref": "ReportRequest",
          "description": "The request that created the report. Optional fields not specified in the original request are filled with default values."
        },
        "statisticsCurrencyCode": {
          "description": "The currency code of all monetary values produced in the report, including values that are set by users (e.g., keyword bid settings) and metrics (e.g., cost and revenue). The currency code of a report is determined by the `statisticsCurrency` field of the report request.",
          "type": "string"
        },
        "id": {
          "description": "Asynchronous report only. Id of the report.",
          "type": "string"
        },
        "rowCount": {
          "description": "The number of report rows generated by the report, not including headers.",
          "type": "integer",
          "format": "int32"
        },
        "isReportReady": {
          "description": "Asynchronous report only. True if and only if the report has completed successfully and the report files are ready to be downloaded.",
          "type": "boolean"
        },
        "kind": {
          "description": "Identifies this as a Report resource. Value: the fixed string `doubleclicksearch#report`.",
          "type": "string"
        },
        "rows": {
          "items": {
            "$ref": "ReportRow"
          },
          "type": "array",
          "description": "Synchronous report only. Generated report rows."
        },
        "files": {
          "type": "array",
          "description": "Asynchronous report only. Contains a list of generated report files once the report has successfully completed.",
          "items": {
            "properties": {
              "url": {
                "type": "string",
                "description": "Use this url to download the report file."
              },
              "byteCount": {
                "type": "string",
                "format": "int64",
                "description": "The size of this report file in bytes."
              }
            },
            "type": "object"
          }
        },
        "statisticsTimeZone": {
          "type": "string",
          "description": "If all statistics of the report are sourced from the same time zone, this would be it. Otherwise the field is unset."
        }
      }
    },
    "UpdateAvailabilityResponse": {
      "description": "The response to a update availability request.",
      "id": "UpdateAvailabilityResponse",
      "type": "object",
      "properties": {
        "availabilities": {
          "type": "array",
          "items": {
            "$ref": "Availability"
          },
          "description": "The availabilities being returned."
        }
      }
    }
  },
  "baseUrl": "https://doubleclicksearch.googleapis.com/",
  "basePath": "",
  "description": "The Search Ads 360 API allows developers to automate uploading conversions and downloading reports from Search Ads 360.",
  "batchPath": "batch",
  "resources": {
    "savedColumns": {
      "methods": {
        "list": {
          "parameterOrder": [
            "agencyId",
            "advertiserId"
          ],
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/savedcolumns",
          "httpMethod": "GET",
          "description": "Retrieve the list of saved columns for a specified advertiser.",
          "parameters": {
            "agencyId": {
              "location": "path",
              "description": "DS ID of the agency.",
              "required": true,
              "format": "int64",
              "type": "string"
            },
            "advertiserId": {
              "location": "path",
              "required": true,
              "format": "int64",
              "description": "DS ID of the advertiser.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "SavedColumnList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/savedcolumns",
          "id": "doubleclicksearch.savedColumns.list"
        }
      }
    },
    "reports": {
      "methods": {
        "getFile": {
          "parameterOrder": [
            "reportId",
            "reportFragment"
          ],
          "parameters": {
            "reportId": {
              "description": "ID of the report.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "reportFragment": {
              "description": "The index of the report fragment to download.",
              "minimum": "0",
              "type": "integer",
              "location": "path",
              "required": true,
              "format": "int32"
            }
          },
          "description": "Downloads a report file encoded in UTF-8.",
          "flatPath": "doubleclicksearch/v2/reports/{reportId}/files/{reportFragment}",
          "supportsMediaDownload": true,
          "path": "doubleclicksearch/v2/reports/{reportId}/files/{reportFragment}",
          "useMediaDownloadService": true,
          "id": "doubleclicksearch.reports.getFile",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "httpMethod": "GET"
        },
        "generate": {
          "httpMethod": "POST",
          "flatPath": "doubleclicksearch/v2/reports/generate",
          "id": "doubleclicksearch.reports.generate",
          "description": "Generates and returns a report immediately.",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "request": {
            "$ref": "ReportRequest"
          },
          "response": {
            "$ref": "Report"
          },
          "parameterOrder": [],
          "path": "doubleclicksearch/v2/reports/generate",
          "parameters": {}
        },
        "request": {
          "description": "Inserts a report request into the reporting system.",
          "response": {
            "$ref": "Report"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "flatPath": "doubleclicksearch/v2/reports",
          "id": "doubleclicksearch.reports.request",
          "path": "doubleclicksearch/v2/reports",
          "httpMethod": "POST",
          "parameters": {},
          "parameterOrder": [],
          "request": {
            "$ref": "ReportRequest"
          }
        },
        "get": {
          "path": "doubleclicksearch/v2/reports/{reportId}",
          "description": "Polls for the status of a report request.",
          "parameters": {
            "reportId": {
              "type": "string",
              "location": "path",
              "description": "ID of the report request being polled.",
              "required": true
            }
          },
          "id": "doubleclicksearch.reports.get",
          "flatPath": "doubleclicksearch/v2/reports/{reportId}",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameterOrder": [
            "reportId"
          ],
          "response": {
            "$ref": "Report"
          },
          "httpMethod": "GET"
        },
        "getIdMappingFile": {
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "doubleclicksearch.reports.getIdMappingFile",
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/idmapping",
          "response": {
            "$ref": "IdMappingFile"
          },
          "description": "Downloads a csv file(encoded in UTF-8) that contains ID mappings between legacy SA360 and new SA360. The file includes all children entities of the given advertiser(e.g. engine accounts, campaigns, ad groups, etc.) that exist in both legacy SA360 and new SA360.",
          "httpMethod": "GET",
          "parameters": {
            "advertiserId": {
              "format": "int64",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Legacy SA360 advertiser ID."
            },
            "agencyId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Legacy SA360 agency ID.",
              "format": "int64"
            }
          },
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/idmapping",
          "useMediaDownloadService": true,
          "parameterOrder": [
            "agencyId",
            "advertiserId"
          ],
          "supportsMediaDownload": true
        }
      }
    },
    "conversion": {
      "methods": {
        "update": {
          "id": "doubleclicksearch.conversion.update",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameterOrder": [],
          "request": {
            "$ref": "ConversionList"
          },
          "description": "Updates a batch of conversions in DoubleClick Search.",
          "httpMethod": "PUT",
          "response": {
            "$ref": "ConversionList"
          },
          "path": "doubleclicksearch/v2/conversion",
          "parameters": {},
          "flatPath": "doubleclicksearch/v2/conversion"
        },
        "get": {
          "id": "doubleclicksearch.conversion.get",
          "response": {
            "$ref": "ConversionList"
          },
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/engine/{engineAccountId}/conversion",
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/engine/{engineAccountId}/conversion",
          "description": "Retrieves a list of conversions from a DoubleClick Search engine account.",
          "parameters": {
            "adGroupId": {
              "description": "Numeric ID of the ad group.",
              "format": "int64",
              "type": "string",
              "location": "query"
            },
            "startRow": {
              "location": "query",
              "format": "uint32",
              "description": "The 0-based starting index for retrieving conversions results.",
              "required": true,
              "type": "integer"
            },
            "advertiserId": {
              "location": "path",
              "format": "int64",
              "required": true,
              "description": "Numeric ID of the advertiser.",
              "type": "string"
            },
            "campaignId": {
              "format": "int64",
              "location": "query",
              "description": "Numeric ID of the campaign.",
              "type": "string"
            },
            "startDate": {
              "description": "First date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "maximum": "99991231",
              "format": "int32",
              "type": "integer",
              "required": true,
              "minimum": "20091101",
              "location": "query"
            },
            "adId": {
              "location": "query",
              "type": "string",
              "description": "Numeric ID of the ad.",
              "format": "int64"
            },
            "rowCount": {
              "type": "integer",
              "description": "The number of conversions to return per call.",
              "maximum": "1000",
              "required": true,
              "minimum": "1",
              "format": "int32",
              "location": "query"
            },
            "engineAccountId": {
              "location": "path",
              "format": "int64",
              "type": "string",
              "required": true,
              "description": "Numeric ID of the engine account."
            },
            "criterionId": {
              "format": "int64",
              "location": "query",
              "type": "string",
              "description": "Numeric ID of the criterion."
            },
            "endDate": {
              "description": "Last date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "type": "integer",
              "location": "query",
              "format": "int32",
              "minimum": "20091101",
              "required": true,
              "maximum": "99991231"
            },
            "agencyId": {
              "type": "string",
              "format": "int64",
              "description": "Numeric ID of the agency.",
              "location": "path",
              "required": true
            },
            "customerId": {
              "description": "Customer ID of a client account in the new Search Ads 360 experience.",
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "agencyId",
            "advertiserId",
            "engineAccountId",
            "endDate",
            "rowCount",
            "startDate",
            "startRow"
          ]
        },
        "getByCustomerId": {
          "description": "Retrieves a list of conversions from a DoubleClick Search engine account.",
          "parameterOrder": [
            "customerId",
            "endDate",
            "rowCount",
            "startDate",
            "startRow"
          ],
          "parameters": {
            "engineAccountId": {
              "location": "query",
              "type": "string",
              "description": "Numeric ID of the engine account.",
              "format": "int64"
            },
            "rowCount": {
              "format": "int32",
              "location": "query",
              "type": "integer",
              "required": true,
              "description": "The number of conversions to return per call.",
              "maximum": "1000",
              "minimum": "1"
            },
            "adId": {
              "format": "int64",
              "type": "string",
              "location": "query",
              "description": "Numeric ID of the ad."
            },
            "startRow": {
              "required": true,
              "location": "query",
              "format": "uint32",
              "type": "integer",
              "description": "The 0-based starting index for retrieving conversions results."
            },
            "customerId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Customer ID of a client account in the new Search Ads 360 experience."
            },
            "advertiserId": {
              "type": "string",
              "location": "query",
              "format": "int64",
              "description": "Numeric ID of the advertiser."
            },
            "agencyId": {
              "format": "int64",
              "location": "query",
              "description": "Numeric ID of the agency.",
              "type": "string"
            },
            "adGroupId": {
              "format": "int64",
              "description": "Numeric ID of the ad group.",
              "type": "string",
              "location": "query"
            },
            "campaignId": {
              "format": "int64",
              "location": "query",
              "type": "string",
              "description": "Numeric ID of the campaign."
            },
            "criterionId": {
              "format": "int64",
              "description": "Numeric ID of the criterion.",
              "location": "query",
              "type": "string"
            },
            "endDate": {
              "format": "int32",
              "type": "integer",
              "minimum": "20091101",
              "description": "Last date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "required": true,
              "maximum": "99991231",
              "location": "query"
            },
            "startDate": {
              "description": "First date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "maximum": "99991231",
              "format": "int32",
              "location": "query",
              "minimum": "20091101",
              "required": true,
              "type": "integer"
            }
          },
          "response": {
            "$ref": "ConversionList"
          },
          "path": "doubleclicksearch/v2/customer/{customerId}/conversion",
          "id": "doubleclicksearch.conversion.getByCustomerId",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "httpMethod": "GET",
          "flatPath": "doubleclicksearch/v2/customer/{customerId}/conversion"
        },
        "insert": {
          "path": "doubleclicksearch/v2/conversion",
          "httpMethod": "POST",
          "parameterOrder": [],
          "request": {
            "$ref": "ConversionList"
          },
          "description": "Inserts a batch of new conversions into DoubleClick Search.",
          "response": {
            "$ref": "ConversionList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "doubleclicksearch.conversion.insert",
          "flatPath": "doubleclicksearch/v2/conversion",
          "parameters": {}
        },
        "updateAvailability": {
          "flatPath": "doubleclicksearch/v2/conversion/updateAvailability",
          "response": {
            "$ref": "UpdateAvailabilityResponse"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "request": {
            "$ref": "UpdateAvailabilityRequest"
          },
          "parameters": {},
          "description": "Updates the availabilities of a batch of floodlight activities in DoubleClick Search.",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "doubleclicksearch.conversion.updateAvailability",
          "path": "doubleclicksearch/v2/conversion/updateAvailability"
        }
      }
    }
  },
  "title": "Search Ads 360 API",
  "kind": "discovery#restDescription",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/doubleclicksearch": {
          "description": "View and manage your advertising data in DoubleClick Search"
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/search-ads",
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://doubleclicksearch.googleapis.com/",
  "servicePath": ""
}