{
  "canonicalName": "DoubleClick Bid Manager",
  "revision": "20260902",
  "mtlsRootUrl": "https://doubleclickbidmanager.mtls.googleapis.com/",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "description": "DoubleClick Bid Manager API allows users to manage and create campaigns and reports.",
  "rootUrl": "https://doubleclickbidmanager.googleapis.com/",
  "documentationLink": "https://developers.google.com/bid-manager/",
  "servicePath": "v2/",
  "ownerDomain": "google.com",
  "schemas": {
    "ReportMetadata": {
      "id": "ReportMetadata",
      "description": "The metadata of a report.",
      "properties": {
        "status": {
          "description": "The status of the report.",
          "$ref": "ReportStatus"
        },
        "googleCloudStoragePath": {
          "readOnly": true,
          "description": "Output only. The location of the generated report file in Google Cloud Storage. This field will be absent if status.state is not `DONE`.",
          "type": "string"
        },
        "reportDataStartDate": {
          "$ref": "Date",
          "description": "The start date of the report data date range."
        },
        "reportDataEndDate": {
          "description": "The end date of the report data date range.",
          "$ref": "Date"
        }
      },
      "type": "object"
    },
    "Parameters": {
      "id": "Parameters",
      "description": "Parameters of a generated report.",
      "type": "object",
      "properties": {
        "groupBys": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Dimensions by which to segment and group the data. Defined by [Filter](/bid-manager/reference/rest/v2/filters-metrics#filters) values."
        },
        "metrics": {
          "type": "array",
          "description": "Metrics to define the data populating the report. Defined by [Metric](/bid-manager/reference/rest/v2/filters-metrics#metrics) values.",
          "items": {
            "type": "string"
          }
        },
        "options": {
          "$ref": "Options",
          "description": "Additional report parameter options."
        },
        "filters": {
          "type": "array",
          "items": {
            "$ref": "FilterPair"
          },
          "description": "Filters to limit the scope of reported data."
        },
        "type": {
          "enum": [
            "REPORT_TYPE_UNSPECIFIED",
            "STANDARD",
            "INVENTORY_AVAILABILITY",
            "AUDIENCE_COMPOSITION",
            "FLOODLIGHT",
            "YOUTUBE",
            "GRP",
            "YOUTUBE_PROGRAMMATIC_GUARANTEED",
            "REACH",
            "UNIQUE_REACH_AUDIENCE",
            "FULL_PATH",
            "PATH_ATTRIBUTION"
          ],
          "description": "The type of the report. The type of the report determines the dimesions, filters, and metrics that can be used.",
          "enumDescriptions": [
            "Default value when report type is not specified or is unknown in this version.",
            "Standard report.",
            "Inventory Availability report.",
            "Audience Composition report.",
            "Floodlight report.",
            "YouTube report.",
            "GRP report.",
            "YouTube Programmatic Guaranteed report.",
            "Reach report.",
            "Unique Reach Audience report.",
            "Full Path report.",
            "Path Attribution report."
          ],
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            true
          ]
        }
      }
    },
    "RunQueryRequest": {
      "id": "RunQueryRequest",
      "properties": {
        "dataRange": {
          "description": "The date range used by the query to generate the report. If unspecified, the query's original data_range is used.",
          "$ref": "DataRange"
        }
      },
      "type": "object",
      "description": "Details specifying how to run a query."
    },
    "QuerySchedule": {
      "id": "QuerySchedule",
      "description": "Settings on when and how frequently to run a query.",
      "type": "object",
      "properties": {
        "startDate": {
          "$ref": "Date",
          "description": "The date on which to begin the scheduled runs. This field is required if frequency is not set to `ONE_TIME`. Otherwise, it will be ignored."
        },
        "frequency": {
          "type": "string",
          "enumDescriptions": [
            "Default value when frequency is not specified or is unknown in this version.",
            "Only when the query is run manually.",
            "Once a day.",
            "Once a week.",
            "Twice a month.",
            "Once a month.",
            "Once a quarter.",
            "Once a year."
          ],
          "enum": [
            "FREQUENCY_UNSPECIFIED",
            "ONE_TIME",
            "DAILY",
            "WEEKLY",
            "SEMI_MONTHLY",
            "MONTHLY",
            "QUARTERLY",
            "YEARLY"
          ],
          "description": "How frequently to run the query. If set to `ONE_TIME`, the query will only be run when queries.run is called."
        },
        "endDate": {
          "$ref": "Date",
          "description": "The date on which to end the scheduled runs. This field is required if frequency is not set to `ONE_TIME`. Otherwise, it will be ignored."
        },
        "nextRunTimezoneCode": {
          "type": "string",
          "description": "The canonical code for the timezone the query schedule is based on. Scheduled runs are usually conducted in the morning of a given day. Defaults to `America/New_York`."
        }
      }
    },
    "ReportKey": {
      "properties": {
        "reportId": {
          "readOnly": true,
          "description": "Output only. The unique ID of the report.",
          "format": "int64",
          "type": "string"
        },
        "queryId": {
          "type": "string",
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The unique ID of the query that generated the report."
        }
      },
      "description": "Identifying information of a report.",
      "id": "ReportKey",
      "type": "object"
    },
    "QueryMetadata": {
      "properties": {
        "sendNotification": {
          "description": "Whether an email notification is sent to the query creator when a report generated by the query is ready. This value is `false` by default.",
          "type": "boolean"
        },
        "title": {
          "description": "The display name of the query. This value will be used in the file name of reports generated by the query.",
          "type": "string"
        },
        "format": {
          "description": "The format of the report generated by the query.",
          "enumDescriptions": [
            "Default value when format is not specified or is unknown in this version.",
            "CSV.",
            "Excel."
          ],
          "type": "string",
          "enum": [
            "FORMAT_UNSPECIFIED",
            "CSV",
            "XLSX"
          ]
        },
        "shareEmailAddress": {
          "description": "List of additional email addresses with which to share the query. If send_notification is `true`, these email addresses will receive a notification when a report generated by the query is ready. If these email addresses are connected to Display & Video 360 users, the query will be available to them in the Display & Video 360 interface.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "dataRange": {
          "$ref": "DataRange",
          "description": "The date range the report generated by the query will report on. This date range will be defined by the time zone as used by the advertiser."
        }
      },
      "id": "QueryMetadata",
      "type": "object",
      "description": "The metadata of the query."
    },
    "Date": {
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "year": {
          "type": "integer",
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        },
        "month": {
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer"
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "Date"
    },
    "Report": {
      "id": "Report",
      "type": "object",
      "description": "A single report generated by its parent report.",
      "properties": {
        "params": {
          "description": "The parameters of the report.",
          "$ref": "Parameters"
        },
        "metadata": {
          "description": "The metadata of the report.",
          "$ref": "ReportMetadata"
        },
        "key": {
          "$ref": "ReportKey",
          "description": "The key information identifying the report."
        }
      }
    },
    "FilterPair": {
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of value to filter by. Defined by a [Filter](/bid-manager/reference/rest/v2/filters-metrics#filters) value."
        },
        "value": {
          "description": "The identifying value to filter by, such as a relevant resource ID.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents a single filter rule.",
      "id": "FilterPair"
    },
    "ListReportsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `queries.reports.list` method to retrieve the next page of results.",
          "type": "string"
        },
        "reports": {
          "description": "The list of reports. This field will be absent if empty.",
          "items": {
            "$ref": "Report"
          },
          "type": "array"
        }
      },
      "id": "ListReportsResponse"
    },
    "Options": {
      "description": "Report parameter options.",
      "properties": {
        "includeOnlyTargetedUserLists": {
          "description": "Whether to include data for audience lists specifically targeted by filtered line items or insertion orders. Requires the use of `FILTER_INSERTION_ORDER` or `FILTER_LINE_ITEM` filters.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "Options"
    },
    "Query": {
      "type": "object",
      "properties": {
        "params": {
          "$ref": "Parameters",
          "description": "The parameters of the report generated by the query."
        },
        "metadata": {
          "$ref": "QueryMetadata",
          "description": "The metadata of the query."
        },
        "queryId": {
          "type": "string",
          "description": "Output only. The unique ID of the query.",
          "format": "int64",
          "readOnly": true
        },
        "schedule": {
          "description": "When and how often the query is scheduled to run. If the frequency field is set to `ONE_TIME`, the query will only run when queries.run is called.",
          "$ref": "QuerySchedule"
        }
      },
      "id": "Query",
      "description": "A single query used to generate a report."
    },
    "ListQueriesResponse": {
      "id": "ListQueriesResponse",
      "type": "object",
      "properties": {
        "queries": {
          "type": "array",
          "description": "The list of queries. This field will be absent if empty.",
          "items": {
            "$ref": "Query"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `queries.list` method to retrieve the next page of results.",
          "type": "string"
        }
      }
    },
    "DataRange": {
      "type": "object",
      "id": "DataRange",
      "properties": {
        "customStartDate": {
          "$ref": "Date",
          "description": "If `CUSTOM_DATES` is assigned to range, this field specifies the starting date for the date range that is reported on. This field is required if using `CUSTOM_DATES` range and will be ignored otherwise."
        },
        "customEndDate": {
          "description": "If `CUSTOM_DATES` is assigned to range, this field specifies the end date for the date range that is reported on. This field is required if using `CUSTOM_DATES` range and will be ignored otherwise.",
          "$ref": "Date"
        },
        "range": {
          "description": "The preset date range to be reported on. If `CUSTOM_DATES` is assigned to this field, fields custom_start_date and custom_end_date must be set to specify the custom date range.",
          "type": "string",
          "enumDescriptions": [
            "Default value when range is not specified or is unknown in this version.",
            "Custom date range.",
            "Current day.",
            "Previous day.",
            "All days, including the current day, since the most recent Sunday.",
            "All days, including the current day, since the start of the current month.",
            "All days, including the current day, since the start of the current quarter.",
            "All days, including the current day, since the start of the current calendar year.",
            "The previous completed week, beginning from Sunday.",
            "The previous completed calendar month.",
            "The previous completed quarter.",
            "The previous completed calendar year.",
            "The previous 7 days, excluding the current day.",
            "The previous 30 days, excluding the current day.",
            "The previous 90 days, excluding the current day.",
            "The previous 365 days, excluding the current day.",
            "All time for which data is available, excluding the current day.",
            "The previous 14 days, excluding the current day.",
            "The previous 60 days, excluding the current day."
          ],
          "enum": [
            "RANGE_UNSPECIFIED",
            "CUSTOM_DATES",
            "CURRENT_DAY",
            "PREVIOUS_DAY",
            "WEEK_TO_DATE",
            "MONTH_TO_DATE",
            "QUARTER_TO_DATE",
            "YEAR_TO_DATE",
            "PREVIOUS_WEEK",
            "PREVIOUS_MONTH",
            "PREVIOUS_QUARTER",
            "PREVIOUS_YEAR",
            "LAST_7_DAYS",
            "LAST_30_DAYS",
            "LAST_90_DAYS",
            "LAST_365_DAYS",
            "ALL_TIME",
            "LAST_14_DAYS",
            "LAST_60_DAYS"
          ]
        }
      },
      "description": "The date range to be reported on."
    },
    "ReportStatus": {
      "properties": {
        "format": {
          "enum": [
            "FORMAT_UNSPECIFIED",
            "CSV",
            "XLSX"
          ],
          "description": "The format of the generated report file.",
          "type": "string",
          "enumDescriptions": [
            "Default value when format is not specified or is unknown in this version.",
            "CSV.",
            "Excel."
          ]
        },
        "state": {
          "description": "Output only. The state of the report generation.",
          "enum": [
            "STATE_UNSPECIFIED",
            "QUEUED",
            "RUNNING",
            "DONE",
            "FAILED"
          ],
          "enumDescriptions": [
            "Default value when state is not specified or is unknown in this version.",
            "The report is queued to run.",
            "The report is currently running.",
            "The report has finished running successfully.",
            "The report has finished running in failure."
          ],
          "readOnly": true,
          "type": "string"
        },
        "finishTime": {
          "type": "string",
          "description": "Output only. The timestamp of when report generation finished successfully or in failure. This field will not be set unless state is `DONE` or `FAILED`.",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "The status of a report.",
      "id": "ReportStatus"
    }
  },
  "basePath": "/v2/",
  "ownerName": "Google",
  "resources": {
    "queries": {
      "resources": {
        "reports": {
          "methods": {
            "get": {
              "parameterOrder": [
                "queryId",
                "reportId"
              ],
              "flatPath": "queries/{queryId}/reports/{reportId}",
              "description": "Retrieves a report.",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclickbidmanager"
              ],
              "id": "doubleclickbidmanager.queries.reports.get",
              "path": "queries/{queryId}/reports/{reportId}",
              "httpMethod": "GET",
              "response": {
                "$ref": "Report"
              },
              "parameters": {
                "queryId": {
                  "required": true,
                  "format": "int64",
                  "type": "string",
                  "description": "Required. The ID of the query that generated the report.",
                  "location": "path"
                },
                "reportId": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The ID of the query to retrieve.",
                  "location": "path",
                  "format": "int64"
                }
              }
            },
            "list": {
              "response": {
                "$ref": "ListReportsResponse"
              },
              "path": "queries/{queryId}/reports",
              "parameterOrder": [
                "queryId"
              ],
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "Maximum number of results per page. Must be between `1` and `100`. Defaults to `100` if unspecified.",
                  "format": "int32"
                },
                "orderBy": {
                  "type": "string",
                  "location": "query",
                  "description": "Field to sort the list by. Accepts the following values: * `key.reportId` (default) The default sorting order is ascending. To specify descending order for a field, add the suffix `desc` to the field name. For example, `key.reportId desc`."
                },
                "pageToken": {
                  "description": "A token identifying which page of results the server should return. Typically, this is the value of nextPageToken returned from the previous call to the `queries.reports.list` method. If unspecified, the first page of results is returned.",
                  "type": "string",
                  "location": "query"
                },
                "queryId": {
                  "format": "int64",
                  "required": true,
                  "location": "path",
                  "description": "Required. The ID of the query that generated the reports.",
                  "type": "string"
                }
              },
              "id": "doubleclickbidmanager.queries.reports.list",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclickbidmanager"
              ],
              "description": "Lists reports generated by the provided query.",
              "flatPath": "queries/{queryId}/reports",
              "httpMethod": "GET"
            }
          }
        }
      },
      "methods": {
        "delete": {
          "parameterOrder": [
            "queryId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "description": "Deletes an existing query as well as its generated reports.",
          "parameters": {
            "queryId": {
              "location": "path",
              "format": "int64",
              "description": "Required. The ID of the query to delete.",
              "type": "string",
              "required": true
            }
          },
          "path": "queries/{queryId}",
          "httpMethod": "DELETE",
          "flatPath": "queries/{queryId}",
          "id": "doubleclickbidmanager.queries.delete"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "id": "doubleclickbidmanager.queries.get",
          "path": "queries/{queryId}",
          "flatPath": "queries/{queryId}",
          "httpMethod": "GET",
          "response": {
            "$ref": "Query"
          },
          "parameterOrder": [
            "queryId"
          ],
          "description": "Retrieves a query.",
          "parameters": {
            "queryId": {
              "location": "path",
              "description": "Required. The ID of the query to retrieve.",
              "format": "int64",
              "type": "string",
              "required": true
            }
          }
        },
        "list": {
          "response": {
            "$ref": "ListQueriesResponse"
          },
          "httpMethod": "GET",
          "description": "Lists queries created by the current user.",
          "id": "doubleclickbidmanager.queries.list",
          "parameterOrder": [],
          "parameters": {
            "pageSize": {
              "location": "query",
              "description": "Maximum number of results per page. Must be between `1` and `100`. Defaults to `100` if unspecified.",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "A token identifying which page of results the server should return. Typically, this is the value of nextPageToken, returned from the previous call to the `queries.list` method. If unspecified, the first page of results is returned."
            },
            "orderBy": {
              "type": "string",
              "description": "Field to sort the list by. Accepts the following values: * `queryId` (default) * `metadata.title` The default sorting order is ascending. To specify descending order for a field, add the suffix `desc` to the field name. For example, `queryId desc`.",
              "location": "query"
            }
          },
          "path": "queries",
          "flatPath": "queries",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ]
        },
        "run": {
          "response": {
            "$ref": "Report"
          },
          "request": {
            "$ref": "RunQueryRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "httpMethod": "POST",
          "parameterOrder": [
            "queryId"
          ],
          "id": "doubleclickbidmanager.queries.run",
          "parameters": {
            "synchronous": {
              "description": "Whether the query should be run synchronously. When `true`, the request won't return until the resulting report has finished running. This parameter is `false` by default. Setting this parameter to `true` is **not recommended**.",
              "type": "boolean",
              "location": "query"
            },
            "queryId": {
              "required": true,
              "description": "Required. The ID of the query to run.",
              "format": "int64",
              "location": "path",
              "type": "string"
            }
          },
          "description": "Runs an existing query to generate a report.",
          "path": "queries/{queryId}:run",
          "flatPath": "queries/{queryId}:run"
        },
        "create": {
          "parameters": {},
          "description": "Creates a new query.",
          "flatPath": "queries",
          "parameterOrder": [],
          "request": {
            "$ref": "Query"
          },
          "response": {
            "$ref": "Query"
          },
          "path": "queries",
          "id": "doubleclickbidmanager.queries.create",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ]
        }
      }
    }
  },
  "version": "v2",
  "parameters": {
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string",
      "description": "Data format for response.",
      "default": "json"
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "name": "doubleclickbidmanager",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "baseUrl": "https://doubleclickbidmanager.googleapis.com/v2/",
  "id": "doubleclickbidmanager:v2",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/doubleclickbidmanager": {
          "description": "View and manage your reports in DoubleClick Bid Manager"
        }
      }
    }
  },
  "title": "DoubleClick Bid Manager API"
}