{
  "ownerName": "Google",
  "protocol": "rest",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "description": "The Search Ads 360 API allows developers to automate uploading conversions and downloading reports from Search Ads 360.",
  "kind": "discovery#restDescription",
  "version": "v2",
  "name": "doubleclicksearch",
  "title": "Search Ads 360 API",
  "documentationLink": "https://developers.google.com/search-ads",
  "servicePath": "",
  "mtlsRootUrl": "https://doubleclicksearch.mtls.googleapis.com/",
  "canonicalName": "Doubleclicksearch",
  "id": "doubleclicksearch:v2",
  "baseUrl": "https://doubleclicksearch.googleapis.com/",
  "schemas": {
    "ReportApiColumnSpec": {
      "id": "ReportApiColumnSpec",
      "type": "object",
      "properties": {
        "groupByColumn": {
          "description": "Synchronous report only. Set to `true` to group by this column. Defaults to `false`.",
          "type": "boolean"
        },
        "customMetricName": {
          "description": "Name of a custom metric to include in the report. The report must be scoped to an advertiser or lower, and the custom metric must already be set up in DoubleClick Search. The custom metric name, which appears in DoubleClick Search, is case sensitive.",
          "type": "string"
        },
        "headerText": {
          "type": "string",
          "description": "Text used to identify this column in the report output; defaults to `columnName` or `savedColumnName` when not specified. This can be used to prevent collisions between DoubleClick Search columns and saved columns with the same name."
        },
        "customDimensionName": {
          "description": "Segments a report by a custom dimension. The report must be scoped to an advertiser or lower, and the custom dimension must already be set up in DoubleClick Search. The custom dimension name, which appears in DoubleClick Search, is case sensitive.\\ If used in a conversion report, returns the value of the specified custom dimension for the given conversion, if set. This column does not segment the conversion report.",
          "type": "string"
        },
        "savedColumnName": {
          "type": "string",
          "description": "Name of a saved column to include in the report. The report must be scoped at advertiser or lower, and this saved column must already be created in the DoubleClick Search UI."
        },
        "columnName": {
          "type": "string",
          "description": "Name of a DoubleClick Search column to include in the report."
        },
        "startDate": {
          "description": "Inclusive date in YYYY-MM-DD format. When provided, this overrides the overall time range of the report for this column only. Must be provided together with `endDate`.",
          "type": "string"
        },
        "productReportPerspective": {
          "description": "Returns metrics only for a specific type of product activity. Accepted values are: - \"`sold`\": returns metrics only for products that were sold - \"`advertised`\": returns metrics only for products that were advertised in a Shopping campaign, and that might or might not have been sold ",
          "type": "string"
        },
        "platformSource": {
          "type": "string",
          "description": "The platform that is used to provide data for the custom dimension. Acceptable values are \"floodlight\"."
        },
        "endDate": {
          "type": "string",
          "description": "Inclusive day in YYYY-MM-DD format. When provided, this overrides the overall time range of the report for this column only. Must be provided together with `startDate`."
        }
      },
      "description": "A request object used to create a DoubleClick Search report."
    },
    "UpdateAvailabilityRequest": {
      "properties": {
        "availabilities": {
          "description": "The availabilities being requested.",
          "type": "array",
          "items": {
            "$ref": "Availability"
          }
        }
      },
      "description": "The request to update availability.",
      "type": "object",
      "id": "UpdateAvailabilityRequest"
    },
    "UpdateAvailabilityResponse": {
      "description": "The response to a update availability request.",
      "properties": {
        "availabilities": {
          "type": "array",
          "description": "The availabilities being returned.",
          "items": {
            "$ref": "Availability"
          }
        }
      },
      "id": "UpdateAvailabilityResponse",
      "type": "object"
    },
    "SavedColumn": {
      "id": "SavedColumn",
      "properties": {
        "savedColumnName": {
          "description": "The name of the saved column.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The type of data this saved column will produce."
        },
        "kind": {
          "type": "string",
          "description": "Identifies this as a SavedColumn resource. Value: the fixed string doubleclicksearch#savedColumn."
        }
      },
      "type": "object",
      "description": "A saved column"
    },
    "Conversion": {
      "description": "A conversion containing data relevant to DoubleClick Search. Common DS3 API conversion fields: Id Range [1 - 2800]. Next Id to use: 33",
      "properties": {
        "clickId": {
          "description": "DS click ID for the conversion.",
          "type": "string"
        },
        "attributionModel": {
          "description": "Available to advertisers only after contacting DoubleClick Search customer support.",
          "type": "string"
        },
        "dsConversionId": {
          "type": "string",
          "format": "int64",
          "description": "ID that DoubleClick Search generates for each conversion."
        },
        "currencyCode": {
          "type": "string",
          "description": "The currency code for the conversion's revenue. Should be in ISO 4217 alphabetic (3-char) format."
        },
        "productCountry": {
          "description": "The country registered for the Merchant Center feed that contains the product. Use an ISO 3166 code to specify a country.",
          "type": "string"
        },
        "productId": {
          "description": "The product ID (SKU).",
          "type": "string"
        },
        "conversionId": {
          "description": "For offline conversions, advertisers provide this ID. Advertisers can specify any ID that is meaningful to them. Each conversion in a request must specify a unique ID, and the combination of ID and timestamp must be unique amongst all conversions within the advertiser. For online conversions, DS copies the `dsConversionId` or `floodlightOrderId` into this property depending on the advertiser's Floodlight instructions.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          },
          "type": "string"
        },
        "adUserDataConsent": {
          "enumDescriptions": [
            "Not specified.",
            "Granted.",
            "Denied."
          ],
          "type": "string",
          "description": "Represents consent for core platform services (CPS) preferences in settings. No default value. Acceptable values are: GRANTED: The desired consent status is to grant. Read the CPS preferences from GTE settings. DENIED: The desired consent status is to deny; CPS list is empty.",
          "enum": [
            "UNKNOWN",
            "GRANTED",
            "DENIED"
          ]
        },
        "customDimension": {
          "description": "Custom dimensions for the conversion, which can be used to filter data in a report.",
          "items": {
            "$ref": "CustomDimension"
          },
          "type": "array"
        },
        "criterionId": {
          "format": "int64",
          "type": "string",
          "description": "DS criterion (keyword) ID."
        },
        "floodlightOrderId": {
          "type": "string",
          "description": "The Floodlight order ID provided by the advertiser for the conversion."
        },
        "revenueMicros": {
          "type": "string",
          "description": "The revenue amount of this `TRANSACTION` conversion, in micros (value multiplied by 1000000, no decimal). For example, to specify a revenue value of \"10\" enter \"10000000\" (10 million) in your request."
        },
        "customMetric": {
          "type": "array",
          "items": {
            "$ref": "CustomMetric"
          },
          "description": "Custom metrics for the conversion."
        },
        "segmentationId": {
          "description": "The numeric segmentation identifier (for example, DoubleClick Search Floodlight activity ID).",
          "format": "int64",
          "type": "string"
        },
        "channel": {
          "description": "Sales channel for the product. Acceptable values are: - \"`local`\": a physical store - \"`online`\": an online store ",
          "type": "string"
        },
        "inventoryAccountId": {
          "description": "ID that DS generates and uses to uniquely identify the inventory account that contains the product.",
          "type": "string",
          "format": "int64"
        },
        "storeId": {
          "type": "string",
          "description": "The ID of the local store for which the product was advertised. Applicable only when the channel is \"`local`\"."
        },
        "conversionModifiedTimestamp": {
          "format": "int64",
          "type": "string",
          "description": "The time at which the conversion was last modified, in epoch millis UTC."
        },
        "adId": {
          "format": "int64",
          "description": "DS ad ID.",
          "type": "string"
        },
        "quantityMillis": {
          "type": "string",
          "format": "int64",
          "description": "The quantity of this conversion, in millis."
        },
        "type": {
          "description": "The type of the conversion, that is, either `ACTION` or `TRANSACTION`. An `ACTION` conversion is an action by the user that has no monetarily quantifiable value, while a `TRANSACTION` conversion is an action that does have a monetarily quantifiable value. Examples are email list signups (`ACTION`) versus ecommerce purchases (`TRANSACTION`).",
          "type": "string"
        },
        "campaignId": {
          "format": "int64",
          "description": "DS campaign ID.",
          "type": "string"
        },
        "segmentationType": {
          "type": "string",
          "description": "The segmentation type of this conversion (for example, `FLOODLIGHT`).",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          }
        },
        "conversionTimestamp": {
          "description": "The time at which the conversion took place, in epoch millis UTC.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          },
          "type": "string"
        },
        "engineAccountId": {
          "format": "int64",
          "type": "string",
          "description": "DS engine account ID."
        },
        "productGroupId": {
          "format": "int64",
          "description": "DS product group ID.",
          "type": "string"
        },
        "adGroupId": {
          "type": "string",
          "description": "DS ad group ID.",
          "format": "int64"
        },
        "state": {
          "description": "The state of the conversion, that is, either `ACTIVE` or `REMOVED`. Note: state DELETED is deprecated.",
          "type": "string"
        },
        "countMillis": {
          "format": "int64",
          "type": "string",
          "description": "Available to advertisers only after contacting DoubleClick Search customer support."
        },
        "advertiserId": {
          "type": "string",
          "description": "DS advertiser ID.",
          "format": "int64"
        },
        "productLanguage": {
          "type": "string",
          "description": "The language registered for the Merchant Center feed that contains the product. Use an ISO 639 code to specify a language."
        },
        "agencyId": {
          "format": "int64",
          "type": "string",
          "description": "DS agency ID."
        },
        "segmentationName": {
          "description": "The friendly segmentation identifier (for example, DoubleClick Search Floodlight activity name).",
          "type": "string"
        },
        "deviceType": {
          "description": "The type of device on which the conversion occurred.",
          "type": "string"
        },
        "customerId": {
          "description": "Customer ID of a client account in the new Search Ads 360 experience.",
          "type": "string"
        }
      },
      "id": "Conversion",
      "type": "object"
    },
    "ReportRequest": {
      "type": "object",
      "id": "ReportRequest",
      "description": "A request object used to create a DoubleClick Search report.",
      "properties": {
        "verifySingleTimeZone": {
          "description": "If `true`, the report would only be created if all the requested stat data are sourced from a single timezone. Defaults to `false`.",
          "type": "boolean"
        },
        "filters": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "values": {
                "items": {
                  "type": "any"
                },
                "type": "array",
                "description": "A list of values to filter the column value against.\\ The maximum number of filter values per request is 300."
              },
              "operator": {
                "description": "Operator to use in the filter. See the filter reference for a list of available operators.",
                "type": "string"
              },
              "column": {
                "$ref": "ReportApiColumnSpec",
                "description": "Column to perform the filter on. This can be a DoubleClick Search column or a saved column."
              }
            }
          },
          "description": "A list of filters to be applied to the report.\\ The maximum number of filters per request is 300."
        },
        "startRow": {
          "type": "integer",
          "format": "int32",
          "description": "Synchronous report only. Zero-based index of the first row to return. Acceptable values are `0` to `50000`, inclusive. Defaults to `0`.",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate"
            ]
          }
        },
        "statisticsCurrency": {
          "description": "Specifies the currency in which monetary will be returned. Possible values are: `usd`, `agency` (valid if the report is scoped to agency or lower), `advertiser` (valid if the report is scoped to * advertiser or lower), or `account` (valid if the report is scoped to engine account or lower).",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate",
              "doubleclicksearch.reports.request"
            ]
          },
          "type": "string"
        },
        "columns": {
          "items": {
            "$ref": "ReportApiColumnSpec"
          },
          "description": "The columns to include in the report. This includes both DoubleClick Search columns and saved columns. For DoubleClick Search columns, only the `columnName` parameter is required. For saved columns only the `savedColumnName` parameter is required. Both `columnName` and `savedColumnName` cannot be set in the same stanza.\\ The maximum number of columns per request is 300.",
          "type": "array"
        },
        "reportScope": {
          "description": "The reportScope is a set of IDs that are used to determine which subset of entities will be returned in the report. The full lineage of IDs from the lowest scoped level desired up through agency is required.",
          "properties": {
            "adId": {
              "description": "DS ad ID.",
              "format": "int64",
              "type": "string"
            },
            "engineAccountId": {
              "type": "string",
              "description": "DS engine account ID.",
              "format": "int64"
            },
            "keywordId": {
              "description": "DS keyword ID.",
              "type": "string",
              "format": "int64"
            },
            "adGroupId": {
              "type": "string",
              "description": "DS ad group ID.",
              "format": "int64"
            },
            "campaignId": {
              "format": "int64",
              "type": "string",
              "description": "DS campaign ID."
            },
            "advertiserId": {
              "type": "string",
              "description": "DS advertiser ID.",
              "format": "int64"
            },
            "agencyId": {
              "format": "int64",
              "description": "DS agency ID.",
              "type": "string"
            }
          },
          "type": "object"
        },
        "includeDeletedEntities": {
          "description": "Determines if removed entities should be included in the report. Defaults to `false`. Deprecated, please use `includeRemovedEntities` instead.",
          "type": "boolean"
        },
        "downloadFormat": {
          "description": "Format that the report should be returned in. Currently `csv` or `tsv` is supported.",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.request"
            ]
          },
          "type": "string"
        },
        "maxRowsPerFile": {
          "type": "integer",
          "format": "int32",
          "description": "Asynchronous report only. The maximum number of rows per report file. A large report is split into many files based on this field. Acceptable values are `1000000` to `100000000`, inclusive.",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.request"
            ]
          }
        },
        "orderBy": {
          "description": "Synchronous report only. A list of columns and directions defining sorting to be performed on the report rows.\\ The maximum number of orderings per request is 300.",
          "items": {
            "properties": {
              "column": {
                "description": "Column to perform the sort on. This can be a DoubleClick Search-defined column or a saved column.",
                "$ref": "ReportApiColumnSpec"
              },
              "sortOrder": {
                "type": "string",
                "description": "The sort direction, which is either `ascending` or `descending`."
              }
            },
            "type": "object"
          },
          "type": "array"
        },
        "rowCount": {
          "type": "integer",
          "format": "int32",
          "description": "Synchronous report only. The maximum number of rows to return; additional rows are dropped. Acceptable values are `0` to `10000`, inclusive. Defaults to `10000`.",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate"
            ]
          }
        },
        "timeRange": {
          "description": "If metrics are requested in a report, this argument will be used to restrict the metrics to a specific time range.",
          "type": "object",
          "properties": {
            "endDate": {
              "description": "Inclusive date in YYYY-MM-DD format.",
              "type": "string"
            },
            "startDate": {
              "description": "Inclusive date in YYYY-MM-DD format.",
              "type": "string"
            },
            "changedMetricsSinceTimestamp": {
              "description": "Inclusive UTC timestamp in RFC format, e.g., `2013-07-16T10:16:23.555Z`. See additional references on how changed metrics reports work.",
              "type": "string"
            },
            "changedAttributesSinceTimestamp": {
              "type": "string",
              "description": "Inclusive UTC timestamp in RFC format, e.g., `2013-07-16T10:16:23.555Z`. See additional references on how changed attribute reports work."
            }
          }
        },
        "reportType": {
          "description": "Determines the type of rows that are returned in the report. For example, if you specify `reportType: keyword`, each row in the report will contain data about a keyword. See the [Types of Reports](/search-ads/v2/report-types/) reference for the columns that are available for each type.",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate",
              "doubleclicksearch.reports.request"
            ]
          },
          "type": "string"
        },
        "includeRemovedEntities": {
          "description": "Determines if removed entities should be included in the report. Defaults to `false`.",
          "type": "boolean"
        }
      }
    },
    "CustomDimension": {
      "description": "A message containing the custom dimension.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Custom dimension name."
        },
        "value": {
          "description": "Custom dimension value.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CustomDimension"
    },
    "ConversionList": {
      "type": "object",
      "id": "ConversionList",
      "description": "A list of conversions.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies this as a ConversionList resource. Value: the fixed string doubleclicksearch#conversionList."
        },
        "conversion": {
          "items": {
            "$ref": "Conversion"
          },
          "description": "The conversions being requested.",
          "type": "array"
        }
      }
    },
    "CustomMetric": {
      "type": "object",
      "id": "CustomMetric",
      "description": "A message containing the custom metric.",
      "properties": {
        "name": {
          "description": "Custom metric name.",
          "type": "string"
        },
        "value": {
          "description": "Custom metric numeric value.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "IdMappingFile": {
      "id": "IdMappingFile",
      "description": "File returned to https://developers.google.com/search-ads/v2/reference/reports/getIdMappingFile.",
      "properties": {},
      "type": "object"
    },
    "Availability": {
      "properties": {
        "availabilityTimestamp": {
          "format": "int64",
          "type": "string",
          "description": "The time by which all conversions have been uploaded, in epoch millis UTC.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          }
        },
        "segmentationType": {
          "description": "The segmentation type that this availability is for (its default value is `FLOODLIGHT`).",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          },
          "type": "string"
        },
        "segmentationName": {
          "type": "string",
          "description": "The friendly segmentation identifier (for example, DoubleClick Search Floodlight activity name)."
        },
        "customerId": {
          "type": "string",
          "description": "Customer ID of a client account in the new Search Ads 360 experience."
        },
        "advertiserId": {
          "type": "string",
          "description": "DS advertiser ID.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          },
          "format": "int64"
        },
        "agencyId": {
          "type": "string",
          "format": "int64",
          "description": "DS agency ID.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          }
        },
        "segmentationId": {
          "type": "string",
          "format": "int64",
          "description": "The numeric segmentation identifier (for example, DoubleClick Search Floodlight activity ID)."
        }
      },
      "type": "object",
      "id": "Availability",
      "description": "A message containing availability data relevant to DoubleClick Search."
    },
    "ReportRow": {
      "description": "A row in a DoubleClick Search report.",
      "additionalProperties": {
        "description": "Indicates the columns that are represented in this row. That is, each key corresponds to a column with a non-empty cell in this row.",
        "type": "any"
      },
      "type": "object",
      "id": "ReportRow"
    },
    "Report": {
      "description": "A DoubleClick Search report. This object contains the report request, some report metadata such as currency code, and the generated report rows or report files.",
      "id": "Report",
      "properties": {
        "statisticsCurrencyCode": {
          "description": "The currency code of all monetary values produced in the report, including values that are set by users (e.g., keyword bid settings) and metrics (e.g., cost and revenue). The currency code of a report is determined by the `statisticsCurrency` field of the report request.",
          "type": "string"
        },
        "rowCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of report rows generated by the report, not including headers."
        },
        "statisticsTimeZone": {
          "description": "If all statistics of the report are sourced from the same time zone, this would be it. Otherwise the field is unset.",
          "type": "string"
        },
        "id": {
          "description": "Asynchronous report only. Id of the report.",
          "type": "string"
        },
        "files": {
          "items": {
            "type": "object",
            "properties": {
              "url": {
                "description": "Use this url to download the report file.",
                "type": "string"
              },
              "byteCount": {
                "type": "string",
                "format": "int64",
                "description": "The size of this report file in bytes."
              }
            }
          },
          "type": "array",
          "description": "Asynchronous report only. Contains a list of generated report files once the report has successfully completed."
        },
        "kind": {
          "type": "string",
          "description": "Identifies this as a Report resource. Value: the fixed string `doubleclicksearch#report`."
        },
        "isReportReady": {
          "type": "boolean",
          "description": "Asynchronous report only. True if and only if the report has completed successfully and the report files are ready to be downloaded."
        },
        "request": {
          "description": "The request that created the report. Optional fields not specified in the original request are filled with default values.",
          "$ref": "ReportRequest"
        },
        "rows": {
          "description": "Synchronous report only. Generated report rows.",
          "type": "array",
          "items": {
            "$ref": "ReportRow"
          }
        }
      },
      "type": "object"
    },
    "SavedColumnList": {
      "description": "A list of saved columns. Advertisers create saved columns to report on Floodlight activities, Google Analytics goals, or custom KPIs. To request reports with saved columns, you'll need the saved column names that are available from this list.",
      "type": "object",
      "properties": {
        "items": {
          "description": "The saved columns being requested.",
          "type": "array",
          "items": {
            "$ref": "SavedColumn"
          }
        },
        "kind": {
          "type": "string",
          "description": "Identifies this as a SavedColumnList resource. Value: the fixed string doubleclicksearch#savedColumnList."
        }
      },
      "id": "SavedColumnList"
    }
  },
  "resources": {
    "conversion": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "doubleclicksearch.conversion.get",
          "response": {
            "$ref": "ConversionList"
          },
          "parameters": {
            "agencyId": {
              "format": "int64",
              "type": "string",
              "required": true,
              "description": "Numeric ID of the agency.",
              "location": "path"
            },
            "engineAccountId": {
              "description": "Numeric ID of the engine account.",
              "location": "path",
              "required": true,
              "format": "int64",
              "type": "string"
            },
            "advertiserId": {
              "type": "string",
              "description": "Numeric ID of the advertiser.",
              "location": "path",
              "format": "int64",
              "required": true
            },
            "startRow": {
              "description": "The 0-based starting index for retrieving conversions results.",
              "format": "uint32",
              "type": "integer",
              "required": true,
              "location": "query"
            },
            "criterionId": {
              "description": "Numeric ID of the criterion.",
              "type": "string",
              "location": "query",
              "format": "int64"
            },
            "rowCount": {
              "minimum": "1",
              "required": true,
              "location": "query",
              "description": "The number of conversions to return per call.",
              "type": "integer",
              "maximum": "1000",
              "format": "int32"
            },
            "endDate": {
              "minimum": "20091101",
              "description": "Last date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "type": "integer",
              "format": "int32",
              "required": true,
              "maximum": "99991231",
              "location": "query"
            },
            "customerId": {
              "description": "Customer ID of a client account in the new Search Ads 360 experience.",
              "type": "string",
              "location": "query"
            },
            "adId": {
              "location": "query",
              "format": "int64",
              "type": "string",
              "description": "Numeric ID of the ad."
            },
            "startDate": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "required": true,
              "maximum": "99991231",
              "description": "First date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "minimum": "20091101"
            },
            "campaignId": {
              "location": "query",
              "type": "string",
              "format": "int64",
              "description": "Numeric ID of the campaign."
            },
            "adGroupId": {
              "location": "query",
              "description": "Numeric ID of the ad group.",
              "format": "int64",
              "type": "string"
            }
          },
          "description": "Retrieves a list of conversions from a DoubleClick Search engine account.",
          "parameterOrder": [
            "agencyId",
            "advertiserId",
            "engineAccountId",
            "endDate",
            "rowCount",
            "startDate",
            "startRow"
          ],
          "httpMethod": "GET",
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/engine/{engineAccountId}/conversion",
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/engine/{engineAccountId}/conversion"
        },
        "getByCustomerId": {
          "httpMethod": "GET",
          "id": "doubleclicksearch.conversion.getByCustomerId",
          "description": "Retrieves a list of conversions from a DoubleClick Search engine account.",
          "parameters": {
            "adGroupId": {
              "format": "int64",
              "location": "query",
              "type": "string",
              "description": "Numeric ID of the ad group."
            },
            "startRow": {
              "type": "integer",
              "description": "The 0-based starting index for retrieving conversions results.",
              "format": "uint32",
              "required": true,
              "location": "query"
            },
            "criterionId": {
              "format": "int64",
              "type": "string",
              "description": "Numeric ID of the criterion.",
              "location": "query"
            },
            "endDate": {
              "location": "query",
              "description": "Last date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "required": true,
              "maximum": "99991231",
              "type": "integer",
              "format": "int32",
              "minimum": "20091101"
            },
            "rowCount": {
              "maximum": "1000",
              "description": "The number of conversions to return per call.",
              "type": "integer",
              "minimum": "1",
              "location": "query",
              "format": "int32",
              "required": true
            },
            "customerId": {
              "description": "Customer ID of a client account in the new Search Ads 360 experience.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "startDate": {
              "format": "int32",
              "type": "integer",
              "maximum": "99991231",
              "location": "query",
              "description": "First date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "required": true,
              "minimum": "20091101"
            },
            "agencyId": {
              "description": "Numeric ID of the agency.",
              "format": "int64",
              "location": "query",
              "type": "string"
            },
            "advertiserId": {
              "description": "Numeric ID of the advertiser.",
              "format": "int64",
              "location": "query",
              "type": "string"
            },
            "campaignId": {
              "location": "query",
              "type": "string",
              "format": "int64",
              "description": "Numeric ID of the campaign."
            },
            "engineAccountId": {
              "format": "int64",
              "description": "Numeric ID of the engine account.",
              "type": "string",
              "location": "query"
            },
            "adId": {
              "description": "Numeric ID of the ad.",
              "format": "int64",
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "ConversionList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "flatPath": "doubleclicksearch/v2/customer/{customerId}/conversion",
          "parameterOrder": [
            "customerId",
            "endDate",
            "rowCount",
            "startDate",
            "startRow"
          ],
          "path": "doubleclicksearch/v2/customer/{customerId}/conversion"
        },
        "update": {
          "parameterOrder": [],
          "parameters": {},
          "id": "doubleclicksearch.conversion.update",
          "response": {
            "$ref": "ConversionList"
          },
          "path": "doubleclicksearch/v2/conversion",
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "request": {
            "$ref": "ConversionList"
          },
          "description": "Updates a batch of conversions in DoubleClick Search.",
          "flatPath": "doubleclicksearch/v2/conversion"
        },
        "updateAvailability": {
          "flatPath": "doubleclicksearch/v2/conversion/updateAvailability",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameterOrder": [],
          "path": "doubleclicksearch/v2/conversion/updateAvailability",
          "httpMethod": "POST",
          "description": "Updates the availabilities of a batch of floodlight activities in DoubleClick Search.",
          "request": {
            "$ref": "UpdateAvailabilityRequest"
          },
          "response": {
            "$ref": "UpdateAvailabilityResponse"
          },
          "id": "doubleclicksearch.conversion.updateAvailability"
        },
        "insert": {
          "httpMethod": "POST",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "response": {
            "$ref": "ConversionList"
          },
          "description": "Inserts a batch of new conversions into DoubleClick Search.",
          "request": {
            "$ref": "ConversionList"
          },
          "id": "doubleclicksearch.conversion.insert",
          "flatPath": "doubleclicksearch/v2/conversion",
          "path": "doubleclicksearch/v2/conversion",
          "parameterOrder": []
        }
      }
    },
    "savedColumns": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "description": "Retrieve the list of saved columns for a specified advertiser.",
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/savedcolumns",
          "parameterOrder": [
            "agencyId",
            "advertiserId"
          ],
          "parameters": {
            "advertiserId": {
              "required": true,
              "location": "path",
              "format": "int64",
              "description": "DS ID of the advertiser.",
              "type": "string"
            },
            "agencyId": {
              "description": "DS ID of the agency.",
              "format": "int64",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "SavedColumnList"
          },
          "id": "doubleclicksearch.savedColumns.list",
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/savedcolumns",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ]
        }
      }
    },
    "reports": {
      "methods": {
        "getFile": {
          "flatPath": "doubleclicksearch/v2/reports/{reportId}/files/{reportFragment}",
          "id": "doubleclicksearch.reports.getFile",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "useMediaDownloadService": true,
          "parameters": {
            "reportId": {
              "description": "ID of the report.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "reportFragment": {
              "description": "The index of the report fragment to download.",
              "minimum": "0",
              "required": true,
              "location": "path",
              "type": "integer",
              "format": "int32"
            }
          },
          "path": "doubleclicksearch/v2/reports/{reportId}/files/{reportFragment}",
          "supportsMediaDownload": true,
          "httpMethod": "GET",
          "description": "Downloads a report file encoded in UTF-8.",
          "parameterOrder": [
            "reportId",
            "reportFragment"
          ]
        },
        "request": {
          "parameterOrder": [],
          "response": {
            "$ref": "Report"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "description": "Inserts a report request into the reporting system.",
          "id": "doubleclicksearch.reports.request",
          "parameters": {},
          "request": {
            "$ref": "ReportRequest"
          },
          "httpMethod": "POST",
          "path": "doubleclicksearch/v2/reports",
          "flatPath": "doubleclicksearch/v2/reports"
        },
        "get": {
          "id": "doubleclicksearch.reports.get",
          "parameterOrder": [
            "reportId"
          ],
          "description": "Polls for the status of a report request.",
          "flatPath": "doubleclicksearch/v2/reports/{reportId}",
          "path": "doubleclicksearch/v2/reports/{reportId}",
          "httpMethod": "GET",
          "response": {
            "$ref": "Report"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameters": {
            "reportId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "ID of the report request being polled."
            }
          }
        },
        "getIdMappingFile": {
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/idmapping",
          "id": "doubleclicksearch.reports.getIdMappingFile",
          "description": "Downloads a csv file(encoded in UTF-8) that contains ID mappings between legacy SA360 and new SA360. The file includes all children entities of the given advertiser(e.g. engine accounts, campaigns, ad groups, etc.) that exist in both legacy SA360 and new SA360.",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameterOrder": [
            "agencyId",
            "advertiserId"
          ],
          "supportsMediaDownload": true,
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/idmapping",
          "useMediaDownloadService": true,
          "httpMethod": "GET",
          "response": {
            "$ref": "IdMappingFile"
          },
          "parameters": {
            "agencyId": {
              "type": "string",
              "format": "int64",
              "description": "Legacy SA360 agency ID.",
              "required": true,
              "location": "path"
            },
            "advertiserId": {
              "type": "string",
              "location": "path",
              "format": "int64",
              "description": "Legacy SA360 advertiser ID.",
              "required": true
            }
          }
        },
        "generate": {
          "description": "Generates and returns a report immediately.",
          "httpMethod": "POST",
          "parameterOrder": [],
          "request": {
            "$ref": "ReportRequest"
          },
          "flatPath": "doubleclicksearch/v2/reports/generate",
          "parameters": {},
          "id": "doubleclicksearch.reports.generate",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "response": {
            "$ref": "Report"
          },
          "path": "doubleclicksearch/v2/reports/generate"
        }
      }
    }
  },
  "basePath": "",
  "rootUrl": "https://doubleclicksearch.googleapis.com/",
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/doubleclicksearch": {
          "description": "View and manage your advertising data in DoubleClick Search"
        }
      }
    }
  },
  "revision": "20260908",
  "parameters": {
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  }
}