{
  "rootUrl": "https://doubleclickbidmanager.googleapis.com/",
  "basePath": "/v2/",
  "name": "doubleclickbidmanager",
  "revision": "20260923",
  "version": "v2",
  "discoveryVersion": "v1",
  "schemas": {
    "Options": {
      "id": "Options",
      "properties": {
        "includeOnlyTargetedUserLists": {
          "description": "Whether to include data for audience lists specifically targeted by filtered line items or insertion orders. Requires the use of `FILTER_INSERTION_ORDER` or `FILTER_LINE_ITEM` filters.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Report parameter options."
    },
    "RunQueryRequest": {
      "id": "RunQueryRequest",
      "description": "Details specifying how to run a query.",
      "type": "object",
      "properties": {
        "dataRange": {
          "$ref": "DataRange",
          "description": "The date range used by the query to generate the report. If unspecified, the query's original data_range is used."
        }
      }
    },
    "Date": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "id": "Date",
      "type": "object",
      "properties": {
        "year": {
          "type": "integer",
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        },
        "month": {
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32"
        },
        "day": {
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer"
        }
      }
    },
    "ListReportsResponse": {
      "id": "ListReportsResponse",
      "properties": {
        "reports": {
          "description": "The list of reports. This field will be absent if empty.",
          "items": {
            "$ref": "Report"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `queries.reports.list` method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Query": {
      "properties": {
        "schedule": {
          "$ref": "QuerySchedule",
          "description": "When and how often the query is scheduled to run. If the frequency field is set to `ONE_TIME`, the query will only run when queries.run is called."
        },
        "params": {
          "$ref": "Parameters",
          "description": "The parameters of the report generated by the query."
        },
        "metadata": {
          "$ref": "QueryMetadata",
          "description": "The metadata of the query."
        },
        "queryId": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The unique ID of the query."
        }
      },
      "description": "A single query used to generate a report.",
      "type": "object",
      "id": "Query"
    },
    "FilterPair": {
      "type": "object",
      "description": "Represents a single filter rule.",
      "properties": {
        "value": {
          "description": "The identifying value to filter by, such as a relevant resource ID.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The type of value to filter by. Defined by a [Filter](/bid-manager/reference/rest/v2/filters-metrics#filters) value."
        }
      },
      "id": "FilterPair"
    },
    "QueryMetadata": {
      "properties": {
        "format": {
          "enumDescriptions": [
            "Default value when format is not specified or is unknown in this version.",
            "CSV.",
            "Excel."
          ],
          "description": "The format of the report generated by the query.",
          "type": "string",
          "enum": [
            "FORMAT_UNSPECIFIED",
            "CSV",
            "XLSX"
          ]
        },
        "sendNotification": {
          "description": "Whether an email notification is sent to the query creator when a report generated by the query is ready. This value is `false` by default.",
          "type": "boolean"
        },
        "title": {
          "type": "string",
          "description": "The display name of the query. This value will be used in the file name of reports generated by the query."
        },
        "shareEmailAddress": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of additional email addresses with which to share the query. If send_notification is `true`, these email addresses will receive a notification when a report generated by the query is ready. If these email addresses are connected to Display & Video 360 users, the query will be available to them in the Display & Video 360 interface."
        },
        "dataRange": {
          "description": "The date range the report generated by the query will report on. This date range will be defined by the time zone as used by the advertiser.",
          "$ref": "DataRange"
        }
      },
      "id": "QueryMetadata",
      "description": "The metadata of the query.",
      "type": "object"
    },
    "Parameters": {
      "description": "Parameters of a generated report.",
      "type": "object",
      "id": "Parameters",
      "properties": {
        "metrics": {
          "type": "array",
          "description": "Metrics to define the data populating the report. Defined by [Metric](/bid-manager/reference/rest/v2/filters-metrics#metrics) values.",
          "items": {
            "type": "string"
          }
        },
        "groupBys": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Dimensions by which to segment and group the data. Defined by [Filter](/bid-manager/reference/rest/v2/filters-metrics#filters) values."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default value when report type is not specified or is unknown in this version.",
            "Standard report.",
            "Inventory Availability report.",
            "Audience Composition report.",
            "Floodlight report.",
            "YouTube report.",
            "GRP report.",
            "YouTube Programmatic Guaranteed report.",
            "Reach report.",
            "Unique Reach Audience report.",
            "Full Path report.",
            "Path Attribution report."
          ],
          "enum": [
            "REPORT_TYPE_UNSPECIFIED",
            "STANDARD",
            "INVENTORY_AVAILABILITY",
            "AUDIENCE_COMPOSITION",
            "FLOODLIGHT",
            "YOUTUBE",
            "GRP",
            "YOUTUBE_PROGRAMMATIC_GUARANTEED",
            "REACH",
            "UNIQUE_REACH_AUDIENCE",
            "FULL_PATH",
            "PATH_ATTRIBUTION"
          ],
          "description": "The type of the report. The type of the report determines the dimesions, filters, and metrics that can be used.",
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            true
          ]
        },
        "options": {
          "description": "Additional report parameter options.",
          "$ref": "Options"
        },
        "filters": {
          "type": "array",
          "description": "Filters to limit the scope of reported data.",
          "items": {
            "$ref": "FilterPair"
          }
        }
      }
    },
    "QuerySchedule": {
      "type": "object",
      "description": "Settings on when and how frequently to run a query.",
      "id": "QuerySchedule",
      "properties": {
        "frequency": {
          "type": "string",
          "enum": [
            "FREQUENCY_UNSPECIFIED",
            "ONE_TIME",
            "DAILY",
            "WEEKLY",
            "SEMI_MONTHLY",
            "MONTHLY",
            "QUARTERLY",
            "YEARLY"
          ],
          "enumDescriptions": [
            "Default value when frequency is not specified or is unknown in this version.",
            "Only when the query is run manually.",
            "Once a day.",
            "Once a week.",
            "Twice a month.",
            "Once a month.",
            "Once a quarter.",
            "Once a year."
          ],
          "description": "How frequently to run the query. If set to `ONE_TIME`, the query will only be run when queries.run is called."
        },
        "nextRunTimezoneCode": {
          "description": "The canonical code for the timezone the query schedule is based on. Scheduled runs are usually conducted in the morning of a given day. Defaults to `America/New_York`.",
          "type": "string"
        },
        "endDate": {
          "$ref": "Date",
          "description": "The date on which to end the scheduled runs. This field is required if frequency is not set to `ONE_TIME`. Otherwise, it will be ignored."
        },
        "startDate": {
          "$ref": "Date",
          "description": "The date on which to begin the scheduled runs. This field is required if frequency is not set to `ONE_TIME`. Otherwise, it will be ignored."
        }
      }
    },
    "ListQueriesResponse": {
      "id": "ListQueriesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `queries.list` method to retrieve the next page of results.",
          "type": "string"
        },
        "queries": {
          "items": {
            "$ref": "Query"
          },
          "description": "The list of queries. This field will be absent if empty.",
          "type": "array"
        }
      }
    },
    "ReportKey": {
      "type": "object",
      "description": "Identifying information of a report.",
      "properties": {
        "reportId": {
          "type": "string",
          "description": "Output only. The unique ID of the report.",
          "format": "int64",
          "readOnly": true
        },
        "queryId": {
          "type": "string",
          "description": "Output only. The unique ID of the query that generated the report.",
          "readOnly": true,
          "format": "int64"
        }
      },
      "id": "ReportKey"
    },
    "DataRange": {
      "description": "The date range to be reported on.",
      "id": "DataRange",
      "properties": {
        "range": {
          "enumDescriptions": [
            "Default value when range is not specified or is unknown in this version.",
            "Custom date range.",
            "Current day.",
            "Previous day.",
            "All days, including the current day, since the most recent Sunday.",
            "All days, including the current day, since the start of the current month.",
            "All days, including the current day, since the start of the current quarter.",
            "All days, including the current day, since the start of the current calendar year.",
            "The previous completed week, beginning from Sunday.",
            "The previous completed calendar month.",
            "The previous completed quarter.",
            "The previous completed calendar year.",
            "The previous 7 days, excluding the current day.",
            "The previous 30 days, excluding the current day.",
            "The previous 90 days, excluding the current day.",
            "The previous 365 days, excluding the current day.",
            "All time for which data is available, excluding the current day.",
            "The previous 14 days, excluding the current day.",
            "The previous 60 days, excluding the current day."
          ],
          "description": "The preset date range to be reported on. If `CUSTOM_DATES` is assigned to this field, fields custom_start_date and custom_end_date must be set to specify the custom date range.",
          "type": "string",
          "enum": [
            "RANGE_UNSPECIFIED",
            "CUSTOM_DATES",
            "CURRENT_DAY",
            "PREVIOUS_DAY",
            "WEEK_TO_DATE",
            "MONTH_TO_DATE",
            "QUARTER_TO_DATE",
            "YEAR_TO_DATE",
            "PREVIOUS_WEEK",
            "PREVIOUS_MONTH",
            "PREVIOUS_QUARTER",
            "PREVIOUS_YEAR",
            "LAST_7_DAYS",
            "LAST_30_DAYS",
            "LAST_90_DAYS",
            "LAST_365_DAYS",
            "ALL_TIME",
            "LAST_14_DAYS",
            "LAST_60_DAYS"
          ]
        },
        "customEndDate": {
          "$ref": "Date",
          "description": "If `CUSTOM_DATES` is assigned to range, this field specifies the end date for the date range that is reported on. This field is required if using `CUSTOM_DATES` range and will be ignored otherwise."
        },
        "customStartDate": {
          "description": "If `CUSTOM_DATES` is assigned to range, this field specifies the starting date for the date range that is reported on. This field is required if using `CUSTOM_DATES` range and will be ignored otherwise.",
          "$ref": "Date"
        }
      },
      "type": "object"
    },
    "ReportStatus": {
      "description": "The status of a report.",
      "type": "object",
      "properties": {
        "finishTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp of when report generation finished successfully or in failure. This field will not be set unless state is `DONE` or `FAILED`.",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "description": "Output only. The state of the report generation.",
          "readOnly": true,
          "enumDescriptions": [
            "Default value when state is not specified or is unknown in this version.",
            "The report is queued to run.",
            "The report is currently running.",
            "The report has finished running successfully.",
            "The report has finished running in failure."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "QUEUED",
            "RUNNING",
            "DONE",
            "FAILED"
          ]
        },
        "format": {
          "enumDescriptions": [
            "Default value when format is not specified or is unknown in this version.",
            "CSV.",
            "Excel."
          ],
          "description": "The format of the generated report file.",
          "type": "string",
          "enum": [
            "FORMAT_UNSPECIFIED",
            "CSV",
            "XLSX"
          ]
        }
      },
      "id": "ReportStatus"
    },
    "ReportMetadata": {
      "description": "The metadata of a report.",
      "properties": {
        "status": {
          "description": "The status of the report.",
          "$ref": "ReportStatus"
        },
        "googleCloudStoragePath": {
          "description": "Output only. The location of the generated report file in Google Cloud Storage. This field will be absent if status.state is not `DONE`.",
          "type": "string",
          "readOnly": true
        },
        "reportDataStartDate": {
          "description": "The start date of the report data date range.",
          "$ref": "Date"
        },
        "reportDataEndDate": {
          "description": "The end date of the report data date range.",
          "$ref": "Date"
        }
      },
      "id": "ReportMetadata",
      "type": "object"
    },
    "Report": {
      "properties": {
        "metadata": {
          "description": "The metadata of the report.",
          "$ref": "ReportMetadata"
        },
        "params": {
          "description": "The parameters of the report.",
          "$ref": "Parameters"
        },
        "key": {
          "$ref": "ReportKey",
          "description": "The key information identifying the report."
        }
      },
      "type": "object",
      "description": "A single report generated by its parent report.",
      "id": "Report"
    }
  },
  "mtlsRootUrl": "https://doubleclickbidmanager.mtls.googleapis.com/",
  "ownerName": "Google",
  "batchPath": "batch",
  "servicePath": "v2/",
  "baseUrl": "https://doubleclickbidmanager.googleapis.com/v2/",
  "description": "DoubleClick Bid Manager API allows users to manage and create campaigns and reports.",
  "documentationLink": "https://developers.google.com/bid-manager/",
  "ownerDomain": "google.com",
  "resources": {
    "queries": {
      "resources": {
        "reports": {
          "methods": {
            "get": {
              "parameters": {
                "queryId": {
                  "format": "int64",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The ID of the query that generated the report."
                },
                "reportId": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The ID of the query to retrieve.",
                  "format": "int64",
                  "location": "path"
                }
              },
              "path": "queries/{queryId}/reports/{reportId}",
              "description": "Retrieves a report.",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclickbidmanager"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "Report"
              },
              "parameterOrder": [
                "queryId",
                "reportId"
              ],
              "id": "doubleclickbidmanager.queries.reports.get",
              "flatPath": "queries/{queryId}/reports/{reportId}"
            },
            "list": {
              "description": "Lists reports generated by the provided query.",
              "httpMethod": "GET",
              "path": "queries/{queryId}/reports",
              "id": "doubleclickbidmanager.queries.reports.list",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclickbidmanager"
              ],
              "parameters": {
                "orderBy": {
                  "location": "query",
                  "description": "Field to sort the list by. Accepts the following values: * `key.reportId` (default) The default sorting order is ascending. To specify descending order for a field, add the suffix `desc` to the field name. For example, `key.reportId desc`.",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "Maximum number of results per page. Must be between `1` and `100`. Defaults to `100` if unspecified.",
                  "type": "integer"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A token identifying which page of results the server should return. Typically, this is the value of nextPageToken returned from the previous call to the `queries.reports.list` method. If unspecified, the first page of results is returned.",
                  "type": "string"
                },
                "queryId": {
                  "type": "string",
                  "description": "Required. The ID of the query that generated the reports.",
                  "format": "int64",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "ListReportsResponse"
              },
              "flatPath": "queries/{queryId}/reports",
              "parameterOrder": [
                "queryId"
              ]
            }
          }
        }
      },
      "methods": {
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "ListQueriesResponse"
          },
          "description": "Lists queries created by the current user.",
          "flatPath": "queries",
          "path": "queries",
          "id": "doubleclickbidmanager.queries.list",
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "A token identifying which page of results the server should return. Typically, this is the value of nextPageToken, returned from the previous call to the `queries.list` method. If unspecified, the first page of results is returned."
            },
            "orderBy": {
              "description": "Field to sort the list by. Accepts the following values: * `queryId` (default) * `metadata.title` The default sorting order is ascending. To specify descending order for a field, add the suffix `desc` to the field name. For example, `queryId desc`.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "location": "query",
              "format": "int32",
              "description": "Maximum number of results per page. Must be between `1` and `100`. Defaults to `100` if unspecified.",
              "type": "integer"
            }
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ]
        },
        "delete": {
          "parameterOrder": [
            "queryId"
          ],
          "flatPath": "queries/{queryId}",
          "path": "queries/{queryId}",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "queryId": {
              "required": true,
              "format": "int64",
              "description": "Required. The ID of the query to delete.",
              "type": "string",
              "location": "path"
            }
          },
          "description": "Deletes an existing query as well as its generated reports.",
          "id": "doubleclickbidmanager.queries.delete"
        },
        "run": {
          "id": "doubleclickbidmanager.queries.run",
          "request": {
            "$ref": "RunQueryRequest"
          },
          "parameters": {
            "synchronous": {
              "type": "boolean",
              "location": "query",
              "description": "Whether the query should be run synchronously. When `true`, the request won't return until the resulting report has finished running. This parameter is `false` by default. Setting this parameter to `true` is **not recommended**."
            },
            "queryId": {
              "required": true,
              "location": "path",
              "format": "int64",
              "type": "string",
              "description": "Required. The ID of the query to run."
            }
          },
          "description": "Runs an existing query to generate a report.",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "path": "queries/{queryId}:run",
          "parameterOrder": [
            "queryId"
          ],
          "response": {
            "$ref": "Report"
          },
          "httpMethod": "POST",
          "flatPath": "queries/{queryId}:run"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "description": "Retrieves a query.",
          "parameterOrder": [
            "queryId"
          ],
          "parameters": {
            "queryId": {
              "format": "int64",
              "description": "Required. The ID of the query to retrieve.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "Query"
          },
          "id": "doubleclickbidmanager.queries.get",
          "path": "queries/{queryId}",
          "flatPath": "queries/{queryId}",
          "httpMethod": "GET"
        },
        "create": {
          "description": "Creates a new query.",
          "parameters": {},
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "flatPath": "queries",
          "id": "doubleclickbidmanager.queries.create",
          "httpMethod": "POST",
          "path": "queries",
          "response": {
            "$ref": "Query"
          },
          "request": {
            "$ref": "Query"
          }
        }
      }
    }
  },
  "id": "doubleclickbidmanager:v2",
  "protocol": "rest",
  "parameters": {
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    }
  },
  "title": "DoubleClick Bid Manager API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/doubleclickbidmanager": {
          "description": "View and manage your reports in DoubleClick Bid Manager"
        }
      }
    }
  },
  "canonicalName": "DoubleClick Bid Manager",
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  }
}