{
  "ownerName": "Google",
  "baseUrl": "https://doubleclickbidmanager.googleapis.com/v2/",
  "mtlsRootUrl": "https://doubleclickbidmanager.mtls.googleapis.com/",
  "parameters": {
    "alt": {
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    }
  },
  "id": "doubleclickbidmanager:v2",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "rootUrl": "https://doubleclickbidmanager.googleapis.com/",
  "documentationLink": "https://developers.google.com/bid-manager/",
  "kind": "discovery#restDescription",
  "description": "DoubleClick Bid Manager API allows users to manage and create campaigns and reports.",
  "version": "v2",
  "revision": "20260826",
  "batchPath": "batch",
  "canonicalName": "DoubleClick Bid Manager",
  "protocol": "rest",
  "resources": {
    "queries": {
      "methods": {
        "run": {
          "request": {
            "$ref": "RunQueryRequest"
          },
          "parameters": {
            "synchronous": {
              "type": "boolean",
              "location": "query",
              "description": "Whether the query should be run synchronously. When `true`, the request won't return until the resulting report has finished running. This parameter is `false` by default. Setting this parameter to `true` is **not recommended**."
            },
            "queryId": {
              "format": "int64",
              "type": "string",
              "description": "Required. The ID of the query to run.",
              "required": true,
              "location": "path"
            }
          },
          "path": "queries/{queryId}:run",
          "id": "doubleclickbidmanager.queries.run",
          "parameterOrder": [
            "queryId"
          ],
          "flatPath": "queries/{queryId}:run",
          "response": {
            "$ref": "Report"
          },
          "description": "Runs an existing query to generate a report.",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ]
        },
        "create": {
          "id": "doubleclickbidmanager.queries.create",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "httpMethod": "POST",
          "path": "queries",
          "parameterOrder": [],
          "response": {
            "$ref": "Query"
          },
          "description": "Creates a new query.",
          "request": {
            "$ref": "Query"
          },
          "flatPath": "queries"
        },
        "delete": {
          "parameterOrder": [
            "queryId"
          ],
          "httpMethod": "DELETE",
          "path": "queries/{queryId}",
          "description": "Deletes an existing query as well as its generated reports.",
          "parameters": {
            "queryId": {
              "type": "string",
              "format": "int64",
              "location": "path",
              "required": true,
              "description": "Required. The ID of the query to delete."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "id": "doubleclickbidmanager.queries.delete",
          "flatPath": "queries/{queryId}"
        },
        "list": {
          "description": "Lists queries created by the current user.",
          "path": "queries",
          "flatPath": "queries",
          "parameters": {
            "pageSize": {
              "description": "Maximum number of results per page. Must be between `1` and `100`. Defaults to `100` if unspecified.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "orderBy": {
              "location": "query",
              "description": "Field to sort the list by. Accepts the following values: * `queryId` (default) * `metadata.title` The default sorting order is ascending. To specify descending order for a field, add the suffix `desc` to the field name. For example, `queryId desc`.",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "description": "A token identifying which page of results the server should return. Typically, this is the value of nextPageToken, returned from the previous call to the `queries.list` method. If unspecified, the first page of results is returned.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "ListQueriesResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "httpMethod": "GET",
          "parameterOrder": [],
          "id": "doubleclickbidmanager.queries.list"
        },
        "get": {
          "description": "Retrieves a query.",
          "httpMethod": "GET",
          "flatPath": "queries/{queryId}",
          "response": {
            "$ref": "Query"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "parameterOrder": [
            "queryId"
          ],
          "parameters": {
            "queryId": {
              "type": "string",
              "format": "int64",
              "description": "Required. The ID of the query to retrieve.",
              "location": "path",
              "required": true
            }
          },
          "path": "queries/{queryId}",
          "id": "doubleclickbidmanager.queries.get"
        }
      },
      "resources": {
        "reports": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListReportsResponse"
              },
              "path": "queries/{queryId}/reports",
              "flatPath": "queries/{queryId}/reports",
              "id": "doubleclickbidmanager.queries.reports.list",
              "httpMethod": "GET",
              "description": "Lists reports generated by the provided query.",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclickbidmanager"
              ],
              "parameters": {
                "queryId": {
                  "description": "Required. The ID of the query that generated the reports.",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "format": "int64"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Maximum number of results per page. Must be between `1` and `100`. Defaults to `100` if unspecified.",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "description": "A token identifying which page of results the server should return. Typically, this is the value of nextPageToken returned from the previous call to the `queries.reports.list` method. If unspecified, the first page of results is returned.",
                  "location": "query"
                },
                "orderBy": {
                  "type": "string",
                  "location": "query",
                  "description": "Field to sort the list by. Accepts the following values: * `key.reportId` (default) The default sorting order is ascending. To specify descending order for a field, add the suffix `desc` to the field name. For example, `key.reportId desc`."
                }
              },
              "parameterOrder": [
                "queryId"
              ]
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/doubleclickbidmanager"
              ],
              "httpMethod": "GET",
              "id": "doubleclickbidmanager.queries.reports.get",
              "path": "queries/{queryId}/reports/{reportId}",
              "parameters": {
                "reportId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "format": "int64",
                  "description": "Required. The ID of the query to retrieve."
                },
                "queryId": {
                  "format": "int64",
                  "required": true,
                  "description": "Required. The ID of the query that generated the report.",
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "queryId",
                "reportId"
              ],
              "flatPath": "queries/{queryId}/reports/{reportId}",
              "description": "Retrieves a report.",
              "response": {
                "$ref": "Report"
              }
            }
          }
        }
      }
    }
  },
  "name": "doubleclickbidmanager",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/doubleclickbidmanager": {
          "description": "View and manage your reports in DoubleClick Bid Manager"
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "schemas": {
    "Date": {
      "id": "Date",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "month": {
          "type": "integer",
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32",
          "type": "integer"
        },
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "ReportKey": {
      "type": "object",
      "id": "ReportKey",
      "description": "Identifying information of a report.",
      "properties": {
        "queryId": {
          "type": "string",
          "description": "Output only. The unique ID of the query that generated the report.",
          "readOnly": true,
          "format": "int64"
        },
        "reportId": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The unique ID of the report.",
          "type": "string"
        }
      }
    },
    "QueryMetadata": {
      "type": "object",
      "properties": {
        "shareEmailAddress": {
          "description": "List of additional email addresses with which to share the query. If send_notification is `true`, these email addresses will receive a notification when a report generated by the query is ready. If these email addresses are connected to Display & Video 360 users, the query will be available to them in the Display & Video 360 interface.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "format": {
          "description": "The format of the report generated by the query.",
          "enumDescriptions": [
            "Default value when format is not specified or is unknown in this version.",
            "CSV.",
            "Excel."
          ],
          "enum": [
            "FORMAT_UNSPECIFIED",
            "CSV",
            "XLSX"
          ],
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The display name of the query. This value will be used in the file name of reports generated by the query."
        },
        "sendNotification": {
          "type": "boolean",
          "description": "Whether an email notification is sent to the query creator when a report generated by the query is ready. This value is `false` by default."
        },
        "dataRange": {
          "$ref": "DataRange",
          "description": "The date range the report generated by the query will report on. This date range will be defined by the time zone as used by the advertiser."
        }
      },
      "description": "The metadata of the query.",
      "id": "QueryMetadata"
    },
    "Parameters": {
      "id": "Parameters",
      "description": "Parameters of a generated report.",
      "type": "object",
      "properties": {
        "filters": {
          "items": {
            "$ref": "FilterPair"
          },
          "type": "array",
          "description": "Filters to limit the scope of reported data."
        },
        "type": {
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            true
          ],
          "type": "string",
          "description": "The type of the report. The type of the report determines the dimesions, filters, and metrics that can be used.",
          "enumDescriptions": [
            "Default value when report type is not specified or is unknown in this version.",
            "Standard report.",
            "Inventory Availability report.",
            "Audience Composition report.",
            "Floodlight report.",
            "YouTube report.",
            "GRP report.",
            "YouTube Programmatic Guaranteed report.",
            "Reach report.",
            "Unique Reach Audience report.",
            "Full Path report.",
            "Path Attribution report."
          ],
          "enum": [
            "REPORT_TYPE_UNSPECIFIED",
            "STANDARD",
            "INVENTORY_AVAILABILITY",
            "AUDIENCE_COMPOSITION",
            "FLOODLIGHT",
            "YOUTUBE",
            "GRP",
            "YOUTUBE_PROGRAMMATIC_GUARANTEED",
            "REACH",
            "UNIQUE_REACH_AUDIENCE",
            "FULL_PATH",
            "PATH_ATTRIBUTION"
          ]
        },
        "metrics": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Metrics to define the data populating the report. Defined by [Metric](/bid-manager/reference/rest/v2/filters-metrics#metrics) values."
        },
        "options": {
          "description": "Additional report parameter options.",
          "$ref": "Options"
        },
        "groupBys": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Dimensions by which to segment and group the data. Defined by [Filter](/bid-manager/reference/rest/v2/filters-metrics#filters) values."
        }
      }
    },
    "ListReportsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `queries.reports.list` method to retrieve the next page of results.",
          "type": "string"
        },
        "reports": {
          "description": "The list of reports. This field will be absent if empty.",
          "type": "array",
          "items": {
            "$ref": "Report"
          }
        }
      },
      "id": "ListReportsResponse"
    },
    "FilterPair": {
      "properties": {
        "type": {
          "description": "The type of value to filter by. Defined by a [Filter](/bid-manager/reference/rest/v2/filters-metrics#filters) value.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "The identifying value to filter by, such as a relevant resource ID."
        }
      },
      "type": "object",
      "id": "FilterPair",
      "description": "Represents a single filter rule."
    },
    "Report": {
      "properties": {
        "key": {
          "description": "The key information identifying the report.",
          "$ref": "ReportKey"
        },
        "params": {
          "$ref": "Parameters",
          "description": "The parameters of the report."
        },
        "metadata": {
          "description": "The metadata of the report.",
          "$ref": "ReportMetadata"
        }
      },
      "type": "object",
      "id": "Report",
      "description": "A single report generated by its parent report."
    },
    "ListQueriesResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `queries.list` method to retrieve the next page of results.",
          "type": "string"
        },
        "queries": {
          "description": "The list of queries. This field will be absent if empty.",
          "type": "array",
          "items": {
            "$ref": "Query"
          }
        }
      },
      "id": "ListQueriesResponse"
    },
    "Options": {
      "properties": {
        "includeOnlyTargetedUserLists": {
          "type": "boolean",
          "description": "Whether to include data for audience lists specifically targeted by filtered line items or insertion orders. Requires the use of `FILTER_INSERTION_ORDER` or `FILTER_LINE_ITEM` filters."
        }
      },
      "type": "object",
      "description": "Report parameter options.",
      "id": "Options"
    },
    "Query": {
      "properties": {
        "schedule": {
          "$ref": "QuerySchedule",
          "description": "When and how often the query is scheduled to run. If the frequency field is set to `ONE_TIME`, the query will only run when queries.run is called."
        },
        "metadata": {
          "$ref": "QueryMetadata",
          "description": "The metadata of the query."
        },
        "params": {
          "$ref": "Parameters",
          "description": "The parameters of the report generated by the query."
        },
        "queryId": {
          "readOnly": true,
          "description": "Output only. The unique ID of the query.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "Query",
      "description": "A single query used to generate a report.",
      "type": "object"
    },
    "ReportStatus": {
      "properties": {
        "finishTime": {
          "description": "Output only. The timestamp of when report generation finished successfully or in failure. This field will not be set unless state is `DONE` or `FAILED`.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "format": {
          "enumDescriptions": [
            "Default value when format is not specified or is unknown in this version.",
            "CSV.",
            "Excel."
          ],
          "type": "string",
          "enum": [
            "FORMAT_UNSPECIFIED",
            "CSV",
            "XLSX"
          ],
          "description": "The format of the generated report file."
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "QUEUED",
            "RUNNING",
            "DONE",
            "FAILED"
          ],
          "description": "Output only. The state of the report generation.",
          "enumDescriptions": [
            "Default value when state is not specified or is unknown in this version.",
            "The report is queued to run.",
            "The report is currently running.",
            "The report has finished running successfully.",
            "The report has finished running in failure."
          ],
          "type": "string"
        }
      },
      "id": "ReportStatus",
      "type": "object",
      "description": "The status of a report."
    },
    "ReportMetadata": {
      "id": "ReportMetadata",
      "description": "The metadata of a report.",
      "type": "object",
      "properties": {
        "reportDataStartDate": {
          "description": "The start date of the report data date range.",
          "$ref": "Date"
        },
        "status": {
          "$ref": "ReportStatus",
          "description": "The status of the report."
        },
        "reportDataEndDate": {
          "$ref": "Date",
          "description": "The end date of the report data date range."
        },
        "googleCloudStoragePath": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The location of the generated report file in Google Cloud Storage. This field will be absent if status.state is not `DONE`."
        }
      }
    },
    "QuerySchedule": {
      "id": "QuerySchedule",
      "description": "Settings on when and how frequently to run a query.",
      "type": "object",
      "properties": {
        "startDate": {
          "$ref": "Date",
          "description": "The date on which to begin the scheduled runs. This field is required if frequency is not set to `ONE_TIME`. Otherwise, it will be ignored."
        },
        "nextRunTimezoneCode": {
          "type": "string",
          "description": "The canonical code for the timezone the query schedule is based on. Scheduled runs are usually conducted in the morning of a given day. Defaults to `America/New_York`."
        },
        "endDate": {
          "description": "The date on which to end the scheduled runs. This field is required if frequency is not set to `ONE_TIME`. Otherwise, it will be ignored.",
          "$ref": "Date"
        },
        "frequency": {
          "enumDescriptions": [
            "Default value when frequency is not specified or is unknown in this version.",
            "Only when the query is run manually.",
            "Once a day.",
            "Once a week.",
            "Twice a month.",
            "Once a month.",
            "Once a quarter.",
            "Once a year."
          ],
          "type": "string",
          "description": "How frequently to run the query. If set to `ONE_TIME`, the query will only be run when queries.run is called.",
          "enum": [
            "FREQUENCY_UNSPECIFIED",
            "ONE_TIME",
            "DAILY",
            "WEEKLY",
            "SEMI_MONTHLY",
            "MONTHLY",
            "QUARTERLY",
            "YEARLY"
          ]
        }
      }
    },
    "DataRange": {
      "properties": {
        "range": {
          "type": "string",
          "enumDescriptions": [
            "Default value when range is not specified or is unknown in this version.",
            "Custom date range.",
            "Current day.",
            "Previous day.",
            "All days, including the current day, since the most recent Sunday.",
            "All days, including the current day, since the start of the current month.",
            "All days, including the current day, since the start of the current quarter.",
            "All days, including the current day, since the start of the current calendar year.",
            "The previous completed week, beginning from Sunday.",
            "The previous completed calendar month.",
            "The previous completed quarter.",
            "The previous completed calendar year.",
            "The previous 7 days, excluding the current day.",
            "The previous 30 days, excluding the current day.",
            "The previous 90 days, excluding the current day.",
            "The previous 365 days, excluding the current day.",
            "All time for which data is available, excluding the current day.",
            "The previous 14 days, excluding the current day.",
            "The previous 60 days, excluding the current day."
          ],
          "enum": [
            "RANGE_UNSPECIFIED",
            "CUSTOM_DATES",
            "CURRENT_DAY",
            "PREVIOUS_DAY",
            "WEEK_TO_DATE",
            "MONTH_TO_DATE",
            "QUARTER_TO_DATE",
            "YEAR_TO_DATE",
            "PREVIOUS_WEEK",
            "PREVIOUS_MONTH",
            "PREVIOUS_QUARTER",
            "PREVIOUS_YEAR",
            "LAST_7_DAYS",
            "LAST_30_DAYS",
            "LAST_90_DAYS",
            "LAST_365_DAYS",
            "ALL_TIME",
            "LAST_14_DAYS",
            "LAST_60_DAYS"
          ],
          "description": "The preset date range to be reported on. If `CUSTOM_DATES` is assigned to this field, fields custom_start_date and custom_end_date must be set to specify the custom date range."
        },
        "customStartDate": {
          "$ref": "Date",
          "description": "If `CUSTOM_DATES` is assigned to range, this field specifies the starting date for the date range that is reported on. This field is required if using `CUSTOM_DATES` range and will be ignored otherwise."
        },
        "customEndDate": {
          "description": "If `CUSTOM_DATES` is assigned to range, this field specifies the end date for the date range that is reported on. This field is required if using `CUSTOM_DATES` range and will be ignored otherwise.",
          "$ref": "Date"
        }
      },
      "description": "The date range to be reported on.",
      "type": "object",
      "id": "DataRange"
    },
    "RunQueryRequest": {
      "properties": {
        "dataRange": {
          "$ref": "DataRange",
          "description": "The date range used by the query to generate the report. If unspecified, the query's original data_range is used."
        }
      },
      "description": "Details specifying how to run a query.",
      "id": "RunQueryRequest",
      "type": "object"
    }
  },
  "basePath": "/v2/",
  "servicePath": "v2/",
  "title": "DoubleClick Bid Manager API"
}