{
  "ownerName": "Google",
  "documentationLink": "https://developers.google.com/search-ads",
  "discoveryVersion": "v1",
  "version": "v2",
  "parameters": {
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "servicePath": "",
  "canonicalName": "Doubleclicksearch",
  "name": "doubleclicksearch",
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://doubleclicksearch.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/doubleclicksearch": {
          "description": "View and manage your advertising data in DoubleClick Search"
        }
      }
    }
  },
  "baseUrl": "https://doubleclicksearch.googleapis.com/",
  "description": "The Search Ads 360 API allows developers to automate uploading conversions and downloading reports from Search Ads 360.",
  "schemas": {
    "ReportApiColumnSpec": {
      "description": "A request object used to create a DoubleClick Search report.",
      "type": "object",
      "properties": {
        "columnName": {
          "type": "string",
          "description": "Name of a DoubleClick Search column to include in the report."
        },
        "savedColumnName": {
          "description": "Name of a saved column to include in the report. The report must be scoped at advertiser or lower, and this saved column must already be created in the DoubleClick Search UI.",
          "type": "string"
        },
        "headerText": {
          "description": "Text used to identify this column in the report output; defaults to `columnName` or `savedColumnName` when not specified. This can be used to prevent collisions between DoubleClick Search columns and saved columns with the same name.",
          "type": "string"
        },
        "customMetricName": {
          "description": "Name of a custom metric to include in the report. The report must be scoped to an advertiser or lower, and the custom metric must already be set up in DoubleClick Search. The custom metric name, which appears in DoubleClick Search, is case sensitive.",
          "type": "string"
        },
        "endDate": {
          "type": "string",
          "description": "Inclusive day in YYYY-MM-DD format. When provided, this overrides the overall time range of the report for this column only. Must be provided together with `startDate`."
        },
        "customDimensionName": {
          "type": "string",
          "description": "Segments a report by a custom dimension. The report must be scoped to an advertiser or lower, and the custom dimension must already be set up in DoubleClick Search. The custom dimension name, which appears in DoubleClick Search, is case sensitive.\\ If used in a conversion report, returns the value of the specified custom dimension for the given conversion, if set. This column does not segment the conversion report."
        },
        "productReportPerspective": {
          "description": "Returns metrics only for a specific type of product activity. Accepted values are: - \"`sold`\": returns metrics only for products that were sold - \"`advertised`\": returns metrics only for products that were advertised in a Shopping campaign, and that might or might not have been sold ",
          "type": "string"
        },
        "startDate": {
          "description": "Inclusive date in YYYY-MM-DD format. When provided, this overrides the overall time range of the report for this column only. Must be provided together with `endDate`.",
          "type": "string"
        },
        "platformSource": {
          "description": "The platform that is used to provide data for the custom dimension. Acceptable values are \"floodlight\".",
          "type": "string"
        },
        "groupByColumn": {
          "type": "boolean",
          "description": "Synchronous report only. Set to `true` to group by this column. Defaults to `false`."
        }
      },
      "id": "ReportApiColumnSpec"
    },
    "IdMappingFile": {
      "description": "File returned to https://developers.google.com/search-ads/v2/reference/reports/getIdMappingFile.",
      "properties": {},
      "id": "IdMappingFile",
      "type": "object"
    },
    "CustomDimension": {
      "id": "CustomDimension",
      "type": "object",
      "properties": {
        "name": {
          "description": "Custom dimension name.",
          "type": "string"
        },
        "value": {
          "description": "Custom dimension value.",
          "type": "string"
        }
      },
      "description": "A message containing the custom dimension."
    },
    "SavedColumnList": {
      "id": "SavedColumnList",
      "description": "A list of saved columns. Advertisers create saved columns to report on Floodlight activities, Google Analytics goals, or custom KPIs. To request reports with saved columns, you'll need the saved column names that are available from this list.",
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "description": "The saved columns being requested.",
          "items": {
            "$ref": "SavedColumn"
          }
        },
        "kind": {
          "type": "string",
          "description": "Identifies this as a SavedColumnList resource. Value: the fixed string doubleclicksearch#savedColumnList."
        }
      }
    },
    "Conversion": {
      "description": "A conversion containing data relevant to DoubleClick Search. Common DS3 API conversion fields: Id Range [1 - 2800]. Next Id to use: 33",
      "id": "Conversion",
      "type": "object",
      "properties": {
        "conversionModifiedTimestamp": {
          "type": "string",
          "description": "The time at which the conversion was last modified, in epoch millis UTC.",
          "format": "int64"
        },
        "quantityMillis": {
          "format": "int64",
          "type": "string",
          "description": "The quantity of this conversion, in millis."
        },
        "criterionId": {
          "format": "int64",
          "description": "DS criterion (keyword) ID.",
          "type": "string"
        },
        "productLanguage": {
          "description": "The language registered for the Merchant Center feed that contains the product. Use an ISO 639 code to specify a language.",
          "type": "string"
        },
        "productCountry": {
          "description": "The country registered for the Merchant Center feed that contains the product. Use an ISO 3166 code to specify a country.",
          "type": "string"
        },
        "segmentationName": {
          "description": "The friendly segmentation identifier (for example, DoubleClick Search Floodlight activity name).",
          "type": "string"
        },
        "conversionTimestamp": {
          "description": "The time at which the conversion took place, in epoch millis UTC.",
          "type": "string",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          }
        },
        "campaignId": {
          "format": "int64",
          "description": "DS campaign ID.",
          "type": "string"
        },
        "clickId": {
          "description": "DS click ID for the conversion.",
          "type": "string"
        },
        "advertiserId": {
          "format": "int64",
          "type": "string",
          "description": "DS advertiser ID."
        },
        "productId": {
          "description": "The product ID (SKU).",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The type of the conversion, that is, either `ACTION` or `TRANSACTION`. An `ACTION` conversion is an action by the user that has no monetarily quantifiable value, while a `TRANSACTION` conversion is an action that does have a monetarily quantifiable value. Examples are email list signups (`ACTION`) versus ecommerce purchases (`TRANSACTION`)."
        },
        "conversionId": {
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          },
          "description": "For offline conversions, advertisers provide this ID. Advertisers can specify any ID that is meaningful to them. Each conversion in a request must specify a unique ID, and the combination of ID and timestamp must be unique amongst all conversions within the advertiser. For online conversions, DS copies the `dsConversionId` or `floodlightOrderId` into this property depending on the advertiser's Floodlight instructions.",
          "type": "string"
        },
        "floodlightOrderId": {
          "description": "The Floodlight order ID provided by the advertiser for the conversion.",
          "type": "string"
        },
        "adUserDataConsent": {
          "enumDescriptions": [
            "Not specified.",
            "Granted.",
            "Denied."
          ],
          "enum": [
            "UNKNOWN",
            "GRANTED",
            "DENIED"
          ],
          "description": "Represents consent for core platform services (CPS) preferences in settings. No default value. Acceptable values are: GRANTED: The desired consent status is to grant. Read the CPS preferences from GTE settings. DENIED: The desired consent status is to deny; CPS list is empty.",
          "type": "string"
        },
        "segmentationId": {
          "type": "string",
          "description": "The numeric segmentation identifier (for example, DoubleClick Search Floodlight activity ID).",
          "format": "int64"
        },
        "customMetric": {
          "description": "Custom metrics for the conversion.",
          "type": "array",
          "items": {
            "$ref": "CustomMetric"
          }
        },
        "agencyId": {
          "format": "int64",
          "description": "DS agency ID.",
          "type": "string"
        },
        "engineAccountId": {
          "description": "DS engine account ID.",
          "format": "int64",
          "type": "string"
        },
        "dsConversionId": {
          "description": "ID that DoubleClick Search generates for each conversion.",
          "format": "int64",
          "type": "string"
        },
        "countMillis": {
          "description": "Available to advertisers only after contacting DoubleClick Search customer support.",
          "type": "string",
          "format": "int64"
        },
        "segmentationType": {
          "description": "The segmentation type of this conversion (for example, `FLOODLIGHT`).",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          },
          "type": "string"
        },
        "adId": {
          "format": "int64",
          "type": "string",
          "description": "DS ad ID."
        },
        "storeId": {
          "description": "The ID of the local store for which the product was advertised. Applicable only when the channel is \"`local`\".",
          "type": "string"
        },
        "customDimension": {
          "type": "array",
          "description": "Custom dimensions for the conversion, which can be used to filter data in a report.",
          "items": {
            "$ref": "CustomDimension"
          }
        },
        "currencyCode": {
          "type": "string",
          "description": "The currency code for the conversion's revenue. Should be in ISO 4217 alphabetic (3-char) format."
        },
        "attributionModel": {
          "description": "Available to advertisers only after contacting DoubleClick Search customer support.",
          "type": "string"
        },
        "customerId": {
          "description": "Customer ID of a client account in the new Search Ads 360 experience.",
          "type": "string"
        },
        "inventoryAccountId": {
          "format": "int64",
          "type": "string",
          "description": "ID that DS generates and uses to uniquely identify the inventory account that contains the product."
        },
        "revenueMicros": {
          "description": "The revenue amount of this `TRANSACTION` conversion, in micros (value multiplied by 1000000, no decimal). For example, to specify a revenue value of \"10\" enter \"10000000\" (10 million) in your request.",
          "type": "string"
        },
        "channel": {
          "type": "string",
          "description": "Sales channel for the product. Acceptable values are: - \"`local`\": a physical store - \"`online`\": an online store "
        },
        "productGroupId": {
          "format": "int64",
          "description": "DS product group ID.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "description": "The state of the conversion, that is, either `ACTIVE` or `REMOVED`. Note: state DELETED is deprecated."
        },
        "deviceType": {
          "description": "The type of device on which the conversion occurred.",
          "type": "string"
        },
        "adGroupId": {
          "format": "int64",
          "type": "string",
          "description": "DS ad group ID."
        }
      }
    },
    "CustomMetric": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Custom metric name."
        },
        "value": {
          "format": "double",
          "type": "number",
          "description": "Custom metric numeric value."
        }
      },
      "id": "CustomMetric",
      "description": "A message containing the custom metric."
    },
    "UpdateAvailabilityRequest": {
      "type": "object",
      "description": "The request to update availability.",
      "id": "UpdateAvailabilityRequest",
      "properties": {
        "availabilities": {
          "description": "The availabilities being requested.",
          "items": {
            "$ref": "Availability"
          },
          "type": "array"
        }
      }
    },
    "ReportRequest": {
      "id": "ReportRequest",
      "type": "object",
      "properties": {
        "verifySingleTimeZone": {
          "type": "boolean",
          "description": "If `true`, the report would only be created if all the requested stat data are sourced from a single timezone. Defaults to `false`."
        },
        "statisticsCurrency": {
          "type": "string",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate",
              "doubleclicksearch.reports.request"
            ]
          },
          "description": "Specifies the currency in which monetary will be returned. Possible values are: `usd`, `agency` (valid if the report is scoped to agency or lower), `advertiser` (valid if the report is scoped to * advertiser or lower), or `account` (valid if the report is scoped to engine account or lower)."
        },
        "rowCount": {
          "description": "Synchronous report only. The maximum number of rows to return; additional rows are dropped. Acceptable values are `0` to `10000`, inclusive. Defaults to `10000`.",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate"
            ]
          },
          "type": "integer",
          "format": "int32"
        },
        "startRow": {
          "type": "integer",
          "description": "Synchronous report only. Zero-based index of the first row to return. Acceptable values are `0` to `50000`, inclusive. Defaults to `0`.",
          "format": "int32",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate"
            ]
          }
        },
        "reportScope": {
          "properties": {
            "adId": {
              "format": "int64",
              "type": "string",
              "description": "DS ad ID."
            },
            "adGroupId": {
              "format": "int64",
              "description": "DS ad group ID.",
              "type": "string"
            },
            "advertiserId": {
              "type": "string",
              "description": "DS advertiser ID.",
              "format": "int64"
            },
            "campaignId": {
              "type": "string",
              "format": "int64",
              "description": "DS campaign ID."
            },
            "agencyId": {
              "type": "string",
              "format": "int64",
              "description": "DS agency ID."
            },
            "keywordId": {
              "type": "string",
              "format": "int64",
              "description": "DS keyword ID."
            },
            "engineAccountId": {
              "description": "DS engine account ID.",
              "format": "int64",
              "type": "string"
            }
          },
          "description": "The reportScope is a set of IDs that are used to determine which subset of entities will be returned in the report. The full lineage of IDs from the lowest scoped level desired up through agency is required.",
          "type": "object"
        },
        "reportType": {
          "type": "string",
          "description": "Determines the type of rows that are returned in the report. For example, if you specify `reportType: keyword`, each row in the report will contain data about a keyword. See the [Types of Reports](/search-ads/v2/report-types/) reference for the columns that are available for each type.",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate",
              "doubleclicksearch.reports.request"
            ]
          }
        },
        "columns": {
          "items": {
            "$ref": "ReportApiColumnSpec"
          },
          "type": "array",
          "description": "The columns to include in the report. This includes both DoubleClick Search columns and saved columns. For DoubleClick Search columns, only the `columnName` parameter is required. For saved columns only the `savedColumnName` parameter is required. Both `columnName` and `savedColumnName` cannot be set in the same stanza.\\ The maximum number of columns per request is 300."
        },
        "downloadFormat": {
          "type": "string",
          "description": "Format that the report should be returned in. Currently `csv` or `tsv` is supported.",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.request"
            ]
          }
        },
        "filters": {
          "description": "A list of filters to be applied to the report.\\ The maximum number of filters per request is 300.",
          "items": {
            "properties": {
              "values": {
                "items": {
                  "type": "any"
                },
                "description": "A list of values to filter the column value against.\\ The maximum number of filter values per request is 300.",
                "type": "array"
              },
              "column": {
                "$ref": "ReportApiColumnSpec",
                "description": "Column to perform the filter on. This can be a DoubleClick Search column or a saved column."
              },
              "operator": {
                "description": "Operator to use in the filter. See the filter reference for a list of available operators.",
                "type": "string"
              }
            },
            "type": "object"
          },
          "type": "array"
        },
        "orderBy": {
          "description": "Synchronous report only. A list of columns and directions defining sorting to be performed on the report rows.\\ The maximum number of orderings per request is 300.",
          "items": {
            "type": "object",
            "properties": {
              "column": {
                "description": "Column to perform the sort on. This can be a DoubleClick Search-defined column or a saved column.",
                "$ref": "ReportApiColumnSpec"
              },
              "sortOrder": {
                "description": "The sort direction, which is either `ascending` or `descending`.",
                "type": "string"
              }
            }
          },
          "type": "array"
        },
        "maxRowsPerFile": {
          "type": "integer",
          "description": "Asynchronous report only. The maximum number of rows per report file. A large report is split into many files based on this field. Acceptable values are `1000000` to `100000000`, inclusive.",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.request"
            ]
          },
          "format": "int32"
        },
        "includeDeletedEntities": {
          "type": "boolean",
          "description": "Determines if removed entities should be included in the report. Defaults to `false`. Deprecated, please use `includeRemovedEntities` instead."
        },
        "includeRemovedEntities": {
          "description": "Determines if removed entities should be included in the report. Defaults to `false`.",
          "type": "boolean"
        },
        "timeRange": {
          "type": "object",
          "properties": {
            "changedMetricsSinceTimestamp": {
              "type": "string",
              "description": "Inclusive UTC timestamp in RFC format, e.g., `2013-07-16T10:16:23.555Z`. See additional references on how changed metrics reports work."
            },
            "endDate": {
              "description": "Inclusive date in YYYY-MM-DD format.",
              "type": "string"
            },
            "startDate": {
              "description": "Inclusive date in YYYY-MM-DD format.",
              "type": "string"
            },
            "changedAttributesSinceTimestamp": {
              "description": "Inclusive UTC timestamp in RFC format, e.g., `2013-07-16T10:16:23.555Z`. See additional references on how changed attribute reports work.",
              "type": "string"
            }
          },
          "description": "If metrics are requested in a report, this argument will be used to restrict the metrics to a specific time range."
        }
      },
      "description": "A request object used to create a DoubleClick Search report."
    },
    "ReportRow": {
      "additionalProperties": {
        "description": "Indicates the columns that are represented in this row. That is, each key corresponds to a column with a non-empty cell in this row.",
        "type": "any"
      },
      "id": "ReportRow",
      "description": "A row in a DoubleClick Search report.",
      "type": "object"
    },
    "Report": {
      "description": "A DoubleClick Search report. This object contains the report request, some report metadata such as currency code, and the generated report rows or report files.",
      "properties": {
        "rowCount": {
          "format": "int32",
          "description": "The number of report rows generated by the report, not including headers.",
          "type": "integer"
        },
        "files": {
          "items": {
            "properties": {
              "byteCount": {
                "type": "string",
                "description": "The size of this report file in bytes.",
                "format": "int64"
              },
              "url": {
                "description": "Use this url to download the report file.",
                "type": "string"
              }
            },
            "type": "object"
          },
          "description": "Asynchronous report only. Contains a list of generated report files once the report has successfully completed.",
          "type": "array"
        },
        "rows": {
          "description": "Synchronous report only. Generated report rows.",
          "type": "array",
          "items": {
            "$ref": "ReportRow"
          }
        },
        "id": {
          "description": "Asynchronous report only. Id of the report.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies this as a Report resource. Value: the fixed string `doubleclicksearch#report`.",
          "type": "string"
        },
        "statisticsCurrencyCode": {
          "type": "string",
          "description": "The currency code of all monetary values produced in the report, including values that are set by users (e.g., keyword bid settings) and metrics (e.g., cost and revenue). The currency code of a report is determined by the `statisticsCurrency` field of the report request."
        },
        "request": {
          "$ref": "ReportRequest",
          "description": "The request that created the report. Optional fields not specified in the original request are filled with default values."
        },
        "statisticsTimeZone": {
          "type": "string",
          "description": "If all statistics of the report are sourced from the same time zone, this would be it. Otherwise the field is unset."
        },
        "isReportReady": {
          "type": "boolean",
          "description": "Asynchronous report only. True if and only if the report has completed successfully and the report files are ready to be downloaded."
        }
      },
      "id": "Report",
      "type": "object"
    },
    "SavedColumn": {
      "properties": {
        "savedColumnName": {
          "type": "string",
          "description": "The name of the saved column."
        },
        "kind": {
          "description": "Identifies this as a SavedColumn resource. Value: the fixed string doubleclicksearch#savedColumn.",
          "type": "string"
        },
        "type": {
          "description": "The type of data this saved column will produce.",
          "type": "string"
        }
      },
      "id": "SavedColumn",
      "type": "object",
      "description": "A saved column"
    },
    "Availability": {
      "properties": {
        "customerId": {
          "description": "Customer ID of a client account in the new Search Ads 360 experience.",
          "type": "string"
        },
        "advertiserId": {
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          },
          "description": "DS advertiser ID.",
          "type": "string",
          "format": "int64"
        },
        "agencyId": {
          "type": "string",
          "description": "DS agency ID.",
          "format": "int64",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          }
        },
        "availabilityTimestamp": {
          "description": "The time by which all conversions have been uploaded, in epoch millis UTC.",
          "type": "string",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          },
          "format": "int64"
        },
        "segmentationType": {
          "type": "string",
          "description": "The segmentation type that this availability is for (its default value is `FLOODLIGHT`).",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          }
        },
        "segmentationName": {
          "description": "The friendly segmentation identifier (for example, DoubleClick Search Floodlight activity name).",
          "type": "string"
        },
        "segmentationId": {
          "format": "int64",
          "type": "string",
          "description": "The numeric segmentation identifier (for example, DoubleClick Search Floodlight activity ID)."
        }
      },
      "description": "A message containing availability data relevant to DoubleClick Search.",
      "type": "object",
      "id": "Availability"
    },
    "UpdateAvailabilityResponse": {
      "properties": {
        "availabilities": {
          "type": "array",
          "description": "The availabilities being returned.",
          "items": {
            "$ref": "Availability"
          }
        }
      },
      "id": "UpdateAvailabilityResponse",
      "type": "object",
      "description": "The response to a update availability request."
    },
    "ConversionList": {
      "id": "ConversionList",
      "description": "A list of conversions.",
      "properties": {
        "kind": {
          "description": "Identifies this as a ConversionList resource. Value: the fixed string doubleclicksearch#conversionList.",
          "type": "string"
        },
        "conversion": {
          "description": "The conversions being requested.",
          "items": {
            "$ref": "Conversion"
          },
          "type": "array"
        }
      },
      "type": "object"
    }
  },
  "resources": {
    "savedColumns": {
      "methods": {
        "list": {
          "response": {
            "$ref": "SavedColumnList"
          },
          "id": "doubleclicksearch.savedColumns.list",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameters": {
            "agencyId": {
              "description": "DS ID of the agency.",
              "type": "string",
              "required": true,
              "format": "int64",
              "location": "path"
            },
            "advertiserId": {
              "location": "path",
              "description": "DS ID of the advertiser.",
              "format": "int64",
              "type": "string",
              "required": true
            }
          },
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/savedcolumns",
          "description": "Retrieve the list of saved columns for a specified advertiser.",
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/savedcolumns",
          "parameterOrder": [
            "agencyId",
            "advertiserId"
          ],
          "httpMethod": "GET"
        }
      }
    },
    "reports": {
      "methods": {
        "getIdMappingFile": {
          "parameterOrder": [
            "agencyId",
            "advertiserId"
          ],
          "id": "doubleclicksearch.reports.getIdMappingFile",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "httpMethod": "GET",
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/idmapping",
          "parameters": {
            "agencyId": {
              "type": "string",
              "location": "path",
              "description": "Legacy SA360 agency ID.",
              "format": "int64",
              "required": true
            },
            "advertiserId": {
              "location": "path",
              "format": "int64",
              "required": true,
              "type": "string",
              "description": "Legacy SA360 advertiser ID."
            }
          },
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/idmapping",
          "useMediaDownloadService": true,
          "response": {
            "$ref": "IdMappingFile"
          },
          "description": "Downloads a csv file(encoded in UTF-8) that contains ID mappings between legacy SA360 and new SA360. The file includes all children entities of the given advertiser(e.g. engine accounts, campaigns, ad groups, etc.) that exist in both legacy SA360 and new SA360.",
          "supportsMediaDownload": true
        },
        "get": {
          "parameterOrder": [
            "reportId"
          ],
          "parameters": {
            "reportId": {
              "type": "string",
              "location": "path",
              "description": "ID of the report request being polled.",
              "required": true
            }
          },
          "flatPath": "doubleclicksearch/v2/reports/{reportId}",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "path": "doubleclicksearch/v2/reports/{reportId}",
          "httpMethod": "GET",
          "description": "Polls for the status of a report request.",
          "response": {
            "$ref": "Report"
          },
          "id": "doubleclicksearch.reports.get"
        },
        "generate": {
          "flatPath": "doubleclicksearch/v2/reports/generate",
          "id": "doubleclicksearch.reports.generate",
          "parameterOrder": [],
          "request": {
            "$ref": "ReportRequest"
          },
          "description": "Generates and returns a report immediately.",
          "path": "doubleclicksearch/v2/reports/generate",
          "response": {
            "$ref": "Report"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameters": {}
        },
        "request": {
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "response": {
            "$ref": "Report"
          },
          "description": "Inserts a report request into the reporting system.",
          "parameters": {},
          "httpMethod": "POST",
          "path": "doubleclicksearch/v2/reports",
          "id": "doubleclicksearch.reports.request",
          "flatPath": "doubleclicksearch/v2/reports",
          "request": {
            "$ref": "ReportRequest"
          }
        },
        "getFile": {
          "httpMethod": "GET",
          "parameterOrder": [
            "reportId",
            "reportFragment"
          ],
          "id": "doubleclicksearch.reports.getFile",
          "description": "Downloads a report file encoded in UTF-8.",
          "parameters": {
            "reportId": {
              "location": "path",
              "description": "ID of the report.",
              "type": "string",
              "required": true
            },
            "reportFragment": {
              "minimum": "0",
              "required": true,
              "format": "int32",
              "location": "path",
              "description": "The index of the report fragment to download.",
              "type": "integer"
            }
          },
          "path": "doubleclicksearch/v2/reports/{reportId}/files/{reportFragment}",
          "flatPath": "doubleclicksearch/v2/reports/{reportId}/files/{reportFragment}",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "useMediaDownloadService": true,
          "supportsMediaDownload": true
        }
      }
    },
    "conversion": {
      "methods": {
        "getByCustomerId": {
          "description": "Retrieves a list of conversions from a DoubleClick Search engine account.",
          "response": {
            "$ref": "ConversionList"
          },
          "parameters": {
            "criterionId": {
              "format": "int64",
              "type": "string",
              "description": "Numeric ID of the criterion.",
              "location": "query"
            },
            "startDate": {
              "maximum": "99991231",
              "location": "query",
              "description": "First date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "required": true,
              "format": "int32",
              "type": "integer",
              "minimum": "20091101"
            },
            "startRow": {
              "required": true,
              "type": "integer",
              "location": "query",
              "format": "uint32",
              "description": "The 0-based starting index for retrieving conversions results."
            },
            "rowCount": {
              "maximum": "1000",
              "location": "query",
              "description": "The number of conversions to return per call.",
              "format": "int32",
              "minimum": "1",
              "required": true,
              "type": "integer"
            },
            "advertiserId": {
              "type": "string",
              "location": "query",
              "format": "int64",
              "description": "Numeric ID of the advertiser."
            },
            "agencyId": {
              "format": "int64",
              "location": "query",
              "description": "Numeric ID of the agency.",
              "type": "string"
            },
            "adGroupId": {
              "type": "string",
              "location": "query",
              "format": "int64",
              "description": "Numeric ID of the ad group."
            },
            "engineAccountId": {
              "type": "string",
              "format": "int64",
              "location": "query",
              "description": "Numeric ID of the engine account."
            },
            "adId": {
              "location": "query",
              "type": "string",
              "format": "int64",
              "description": "Numeric ID of the ad."
            },
            "customerId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Customer ID of a client account in the new Search Ads 360 experience."
            },
            "endDate": {
              "format": "int32",
              "description": "Last date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "type": "integer",
              "location": "query",
              "minimum": "20091101",
              "required": true,
              "maximum": "99991231"
            },
            "campaignId": {
              "type": "string",
              "format": "int64",
              "location": "query",
              "description": "Numeric ID of the campaign."
            }
          },
          "path": "doubleclicksearch/v2/customer/{customerId}/conversion",
          "parameterOrder": [
            "customerId",
            "endDate",
            "rowCount",
            "startDate",
            "startRow"
          ],
          "httpMethod": "GET",
          "id": "doubleclicksearch.conversion.getByCustomerId",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "flatPath": "doubleclicksearch/v2/customer/{customerId}/conversion"
        },
        "insert": {
          "description": "Inserts a batch of new conversions into DoubleClick Search.",
          "request": {
            "$ref": "ConversionList"
          },
          "parameters": {},
          "flatPath": "doubleclicksearch/v2/conversion",
          "path": "doubleclicksearch/v2/conversion",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "doubleclicksearch.conversion.insert",
          "response": {
            "$ref": "ConversionList"
          },
          "parameterOrder": []
        },
        "updateAvailability": {
          "description": "Updates the availabilities of a batch of floodlight activities in DoubleClick Search.",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "response": {
            "$ref": "UpdateAvailabilityResponse"
          },
          "path": "doubleclicksearch/v2/conversion/updateAvailability",
          "flatPath": "doubleclicksearch/v2/conversion/updateAvailability",
          "parameters": {},
          "id": "doubleclicksearch.conversion.updateAvailability",
          "request": {
            "$ref": "UpdateAvailabilityRequest"
          },
          "httpMethod": "POST"
        },
        "get": {
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/engine/{engineAccountId}/conversion",
          "description": "Retrieves a list of conversions from a DoubleClick Search engine account.",
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/engine/{engineAccountId}/conversion",
          "parameterOrder": [
            "agencyId",
            "advertiserId",
            "engineAccountId",
            "endDate",
            "rowCount",
            "startDate",
            "startRow"
          ],
          "id": "doubleclicksearch.conversion.get",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "response": {
            "$ref": "ConversionList"
          },
          "parameters": {
            "startRow": {
              "format": "uint32",
              "description": "The 0-based starting index for retrieving conversions results.",
              "required": true,
              "type": "integer",
              "location": "query"
            },
            "adId": {
              "type": "string",
              "location": "query",
              "format": "int64",
              "description": "Numeric ID of the ad."
            },
            "rowCount": {
              "location": "query",
              "minimum": "1",
              "type": "integer",
              "format": "int32",
              "maximum": "1000",
              "required": true,
              "description": "The number of conversions to return per call."
            },
            "engineAccountId": {
              "description": "Numeric ID of the engine account.",
              "location": "path",
              "format": "int64",
              "type": "string",
              "required": true
            },
            "advertiserId": {
              "description": "Numeric ID of the advertiser.",
              "type": "string",
              "format": "int64",
              "location": "path",
              "required": true
            },
            "campaignId": {
              "type": "string",
              "description": "Numeric ID of the campaign.",
              "location": "query",
              "format": "int64"
            },
            "agencyId": {
              "location": "path",
              "required": true,
              "format": "int64",
              "description": "Numeric ID of the agency.",
              "type": "string"
            },
            "customerId": {
              "description": "Customer ID of a client account in the new Search Ads 360 experience.",
              "location": "query",
              "type": "string"
            },
            "adGroupId": {
              "format": "int64",
              "description": "Numeric ID of the ad group.",
              "type": "string",
              "location": "query"
            },
            "endDate": {
              "type": "integer",
              "required": true,
              "minimum": "20091101",
              "description": "Last date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "format": "int32",
              "location": "query",
              "maximum": "99991231"
            },
            "criterionId": {
              "type": "string",
              "description": "Numeric ID of the criterion.",
              "location": "query",
              "format": "int64"
            },
            "startDate": {
              "minimum": "20091101",
              "required": true,
              "description": "First date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "location": "query",
              "maximum": "99991231",
              "format": "int32",
              "type": "integer"
            }
          }
        },
        "update": {
          "httpMethod": "PUT",
          "response": {
            "$ref": "ConversionList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "request": {
            "$ref": "ConversionList"
          },
          "parameters": {},
          "flatPath": "doubleclicksearch/v2/conversion",
          "parameterOrder": [],
          "id": "doubleclicksearch.conversion.update",
          "path": "doubleclicksearch/v2/conversion",
          "description": "Updates a batch of conversions in DoubleClick Search."
        }
      }
    }
  },
  "title": "Search Ads 360 API",
  "id": "doubleclicksearch:v2",
  "basePath": "",
  "protocol": "rest",
  "revision": "20260929",
  "kind": "discovery#restDescription",
  "rootUrl": "https://doubleclicksearch.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch"
}