{
  "batchPath": "batch",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "kind": "discovery#restDescription",
  "version": "v2",
  "canonicalName": "Doubleclicksearch",
  "discoveryVersion": "v1",
  "servicePath": "",
  "schemas": {
    "Report": {
      "id": "Report",
      "properties": {
        "statisticsCurrencyCode": {
          "type": "string",
          "description": "The currency code of all monetary values produced in the report, including values that are set by users (e.g., keyword bid settings) and metrics (e.g., cost and revenue). The currency code of a report is determined by the `statisticsCurrency` field of the report request."
        },
        "rowCount": {
          "description": "The number of report rows generated by the report, not including headers.",
          "type": "integer",
          "format": "int32"
        },
        "files": {
          "description": "Asynchronous report only. Contains a list of generated report files once the report has successfully completed.",
          "type": "array",
          "items": {
            "properties": {
              "byteCount": {
                "description": "The size of this report file in bytes.",
                "type": "string",
                "format": "int64"
              },
              "url": {
                "description": "Use this url to download the report file.",
                "type": "string"
              }
            },
            "type": "object"
          }
        },
        "isReportReady": {
          "description": "Asynchronous report only. True if and only if the report has completed successfully and the report files are ready to be downloaded.",
          "type": "boolean"
        },
        "rows": {
          "description": "Synchronous report only. Generated report rows.",
          "type": "array",
          "items": {
            "$ref": "ReportRow"
          }
        },
        "request": {
          "$ref": "ReportRequest",
          "description": "The request that created the report. Optional fields not specified in the original request are filled with default values."
        },
        "statisticsTimeZone": {
          "description": "If all statistics of the report are sourced from the same time zone, this would be it. Otherwise the field is unset.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies this as a Report resource. Value: the fixed string `doubleclicksearch#report`.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Asynchronous report only. Id of the report."
        }
      },
      "description": "A DoubleClick Search report. This object contains the report request, some report metadata such as currency code, and the generated report rows or report files.",
      "type": "object"
    },
    "CustomMetric": {
      "description": "A message containing the custom metric.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Custom metric name.",
          "type": "string"
        },
        "value": {
          "type": "number",
          "description": "Custom metric numeric value.",
          "format": "double"
        }
      },
      "id": "CustomMetric"
    },
    "UpdateAvailabilityResponse": {
      "properties": {
        "availabilities": {
          "type": "array",
          "items": {
            "$ref": "Availability"
          },
          "description": "The availabilities being returned."
        }
      },
      "id": "UpdateAvailabilityResponse",
      "type": "object",
      "description": "The response to a update availability request."
    },
    "Conversion": {
      "id": "Conversion",
      "description": "A conversion containing data relevant to DoubleClick Search. Common DS3 API conversion fields: Id Range [1 - 2800]. Next Id to use: 33",
      "properties": {
        "segmentationName": {
          "type": "string",
          "description": "The friendly segmentation identifier (for example, DoubleClick Search Floodlight activity name)."
        },
        "productGroupId": {
          "type": "string",
          "description": "DS product group ID.",
          "format": "int64"
        },
        "agencyId": {
          "type": "string",
          "format": "int64",
          "description": "DS agency ID."
        },
        "countMillis": {
          "description": "Available to advertisers only after contacting DoubleClick Search customer support.",
          "type": "string",
          "format": "int64"
        },
        "criterionId": {
          "type": "string",
          "format": "int64",
          "description": "DS criterion (keyword) ID."
        },
        "customDimension": {
          "description": "Custom dimensions for the conversion, which can be used to filter data in a report.",
          "items": {
            "$ref": "CustomDimension"
          },
          "type": "array"
        },
        "storeId": {
          "type": "string",
          "description": "The ID of the local store for which the product was advertised. Applicable only when the channel is \"`local`\"."
        },
        "attributionModel": {
          "description": "Available to advertisers only after contacting DoubleClick Search customer support.",
          "type": "string"
        },
        "clickId": {
          "type": "string",
          "description": "DS click ID for the conversion."
        },
        "customMetric": {
          "items": {
            "$ref": "CustomMetric"
          },
          "description": "Custom metrics for the conversion.",
          "type": "array"
        },
        "segmentationId": {
          "description": "The numeric segmentation identifier (for example, DoubleClick Search Floodlight activity ID).",
          "format": "int64",
          "type": "string"
        },
        "engineAccountId": {
          "description": "DS engine account ID.",
          "type": "string",
          "format": "int64"
        },
        "revenueMicros": {
          "type": "string",
          "description": "The revenue amount of this `TRANSACTION` conversion, in micros (value multiplied by 1000000, no decimal). For example, to specify a revenue value of \"10\" enter \"10000000\" (10 million) in your request."
        },
        "inventoryAccountId": {
          "description": "ID that DS generates and uses to uniquely identify the inventory account that contains the product.",
          "format": "int64",
          "type": "string"
        },
        "quantityMillis": {
          "description": "The quantity of this conversion, in millis.",
          "format": "int64",
          "type": "string"
        },
        "conversionTimestamp": {
          "type": "string",
          "description": "The time at which the conversion took place, in epoch millis UTC.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          }
        },
        "conversionId": {
          "description": "For offline conversions, advertisers provide this ID. Advertisers can specify any ID that is meaningful to them. Each conversion in a request must specify a unique ID, and the combination of ID and timestamp must be unique amongst all conversions within the advertiser. For online conversions, DS copies the `dsConversionId` or `floodlightOrderId` into this property depending on the advertiser's Floodlight instructions.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          },
          "type": "string"
        },
        "adGroupId": {
          "type": "string",
          "description": "DS ad group ID.",
          "format": "int64"
        },
        "productId": {
          "type": "string",
          "description": "The product ID (SKU)."
        },
        "segmentationType": {
          "description": "The segmentation type of this conversion (for example, `FLOODLIGHT`).",
          "type": "string",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          }
        },
        "productCountry": {
          "type": "string",
          "description": "The country registered for the Merchant Center feed that contains the product. Use an ISO 3166 code to specify a country."
        },
        "type": {
          "type": "string",
          "description": "The type of the conversion, that is, either `ACTION` or `TRANSACTION`. An `ACTION` conversion is an action by the user that has no monetarily quantifiable value, while a `TRANSACTION` conversion is an action that does have a monetarily quantifiable value. Examples are email list signups (`ACTION`) versus ecommerce purchases (`TRANSACTION`)."
        },
        "channel": {
          "type": "string",
          "description": "Sales channel for the product. Acceptable values are: - \"`local`\": a physical store - \"`online`\": an online store "
        },
        "state": {
          "description": "The state of the conversion, that is, either `ACTIVE` or `REMOVED`. Note: state DELETED is deprecated.",
          "type": "string"
        },
        "productLanguage": {
          "description": "The language registered for the Merchant Center feed that contains the product. Use an ISO 639 code to specify a language.",
          "type": "string"
        },
        "adId": {
          "type": "string",
          "description": "DS ad ID.",
          "format": "int64"
        },
        "floodlightOrderId": {
          "description": "The Floodlight order ID provided by the advertiser for the conversion.",
          "type": "string"
        },
        "campaignId": {
          "type": "string",
          "format": "int64",
          "description": "DS campaign ID."
        },
        "dsConversionId": {
          "type": "string",
          "format": "int64",
          "description": "ID that DoubleClick Search generates for each conversion."
        },
        "customerId": {
          "type": "string",
          "description": "Customer ID of a client account in the new Search Ads 360 experience."
        },
        "adUserDataConsent": {
          "type": "string",
          "enum": [
            "UNKNOWN",
            "GRANTED",
            "DENIED"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Granted.",
            "Denied."
          ],
          "description": "Represents consent for core platform services (CPS) preferences in settings. No default value. Acceptable values are: GRANTED: The desired consent status is to grant. Read the CPS preferences from GTE settings. DENIED: The desired consent status is to deny; CPS list is empty."
        },
        "conversionModifiedTimestamp": {
          "description": "The time at which the conversion was last modified, in epoch millis UTC.",
          "format": "int64",
          "type": "string"
        },
        "deviceType": {
          "type": "string",
          "description": "The type of device on which the conversion occurred."
        },
        "advertiserId": {
          "type": "string",
          "description": "DS advertiser ID.",
          "format": "int64"
        },
        "currencyCode": {
          "description": "The currency code for the conversion's revenue. Should be in ISO 4217 alphabetic (3-char) format.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ReportRow": {
      "id": "ReportRow",
      "description": "A row in a DoubleClick Search report.",
      "additionalProperties": {
        "description": "Indicates the columns that are represented in this row. That is, each key corresponds to a column with a non-empty cell in this row.",
        "type": "any"
      },
      "type": "object"
    },
    "ConversionList": {
      "type": "object",
      "description": "A list of conversions.",
      "properties": {
        "conversion": {
          "items": {
            "$ref": "Conversion"
          },
          "description": "The conversions being requested.",
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Identifies this as a ConversionList resource. Value: the fixed string doubleclicksearch#conversionList."
        }
      },
      "id": "ConversionList"
    },
    "ReportRequest": {
      "type": "object",
      "id": "ReportRequest",
      "description": "A request object used to create a DoubleClick Search report.",
      "properties": {
        "columns": {
          "description": "The columns to include in the report. This includes both DoubleClick Search columns and saved columns. For DoubleClick Search columns, only the `columnName` parameter is required. For saved columns only the `savedColumnName` parameter is required. Both `columnName` and `savedColumnName` cannot be set in the same stanza.\\ The maximum number of columns per request is 300.",
          "type": "array",
          "items": {
            "$ref": "ReportApiColumnSpec"
          }
        },
        "reportScope": {
          "description": "The reportScope is a set of IDs that are used to determine which subset of entities will be returned in the report. The full lineage of IDs from the lowest scoped level desired up through agency is required.",
          "properties": {
            "agencyId": {
              "format": "int64",
              "type": "string",
              "description": "DS agency ID."
            },
            "advertiserId": {
              "description": "DS advertiser ID.",
              "type": "string",
              "format": "int64"
            },
            "keywordId": {
              "type": "string",
              "format": "int64",
              "description": "DS keyword ID."
            },
            "adGroupId": {
              "type": "string",
              "format": "int64",
              "description": "DS ad group ID."
            },
            "campaignId": {
              "description": "DS campaign ID.",
              "type": "string",
              "format": "int64"
            },
            "adId": {
              "format": "int64",
              "type": "string",
              "description": "DS ad ID."
            },
            "engineAccountId": {
              "type": "string",
              "description": "DS engine account ID.",
              "format": "int64"
            }
          },
          "type": "object"
        },
        "includeRemovedEntities": {
          "description": "Determines if removed entities should be included in the report. Defaults to `false`.",
          "type": "boolean"
        },
        "maxRowsPerFile": {
          "format": "int32",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.request"
            ]
          },
          "type": "integer",
          "description": "Asynchronous report only. The maximum number of rows per report file. A large report is split into many files based on this field. Acceptable values are `1000000` to `100000000`, inclusive."
        },
        "includeDeletedEntities": {
          "description": "Determines if removed entities should be included in the report. Defaults to `false`. Deprecated, please use `includeRemovedEntities` instead.",
          "type": "boolean"
        },
        "verifySingleTimeZone": {
          "type": "boolean",
          "description": "If `true`, the report would only be created if all the requested stat data are sourced from a single timezone. Defaults to `false`."
        },
        "orderBy": {
          "items": {
            "type": "object",
            "properties": {
              "sortOrder": {
                "description": "The sort direction, which is either `ascending` or `descending`.",
                "type": "string"
              },
              "column": {
                "description": "Column to perform the sort on. This can be a DoubleClick Search-defined column or a saved column.",
                "$ref": "ReportApiColumnSpec"
              }
            }
          },
          "type": "array",
          "description": "Synchronous report only. A list of columns and directions defining sorting to be performed on the report rows.\\ The maximum number of orderings per request is 300."
        },
        "downloadFormat": {
          "annotations": {
            "required": [
              "doubleclicksearch.reports.request"
            ]
          },
          "type": "string",
          "description": "Format that the report should be returned in. Currently `csv` or `tsv` is supported."
        },
        "rowCount": {
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate"
            ]
          },
          "format": "int32",
          "description": "Synchronous report only. The maximum number of rows to return; additional rows are dropped. Acceptable values are `0` to `10000`, inclusive. Defaults to `10000`.",
          "type": "integer"
        },
        "timeRange": {
          "description": "If metrics are requested in a report, this argument will be used to restrict the metrics to a specific time range.",
          "type": "object",
          "properties": {
            "endDate": {
              "description": "Inclusive date in YYYY-MM-DD format.",
              "type": "string"
            },
            "changedAttributesSinceTimestamp": {
              "type": "string",
              "description": "Inclusive UTC timestamp in RFC format, e.g., `2013-07-16T10:16:23.555Z`. See additional references on how changed attribute reports work."
            },
            "startDate": {
              "description": "Inclusive date in YYYY-MM-DD format.",
              "type": "string"
            },
            "changedMetricsSinceTimestamp": {
              "description": "Inclusive UTC timestamp in RFC format, e.g., `2013-07-16T10:16:23.555Z`. See additional references on how changed metrics reports work.",
              "type": "string"
            }
          }
        },
        "filters": {
          "items": {
            "type": "object",
            "properties": {
              "column": {
                "$ref": "ReportApiColumnSpec",
                "description": "Column to perform the filter on. This can be a DoubleClick Search column or a saved column."
              },
              "values": {
                "items": {
                  "type": "any"
                },
                "type": "array",
                "description": "A list of values to filter the column value against.\\ The maximum number of filter values per request is 300."
              },
              "operator": {
                "description": "Operator to use in the filter. See the filter reference for a list of available operators.",
                "type": "string"
              }
            }
          },
          "description": "A list of filters to be applied to the report.\\ The maximum number of filters per request is 300.",
          "type": "array"
        },
        "statisticsCurrency": {
          "type": "string",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate",
              "doubleclicksearch.reports.request"
            ]
          },
          "description": "Specifies the currency in which monetary will be returned. Possible values are: `usd`, `agency` (valid if the report is scoped to agency or lower), `advertiser` (valid if the report is scoped to * advertiser or lower), or `account` (valid if the report is scoped to engine account or lower)."
        },
        "reportType": {
          "type": "string",
          "description": "Determines the type of rows that are returned in the report. For example, if you specify `reportType: keyword`, each row in the report will contain data about a keyword. See the [Types of Reports](/search-ads/v2/report-types/) reference for the columns that are available for each type.",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate",
              "doubleclicksearch.reports.request"
            ]
          }
        },
        "startRow": {
          "type": "integer",
          "format": "int32",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate"
            ]
          },
          "description": "Synchronous report only. Zero-based index of the first row to return. Acceptable values are `0` to `50000`, inclusive. Defaults to `0`."
        }
      }
    },
    "SavedColumnList": {
      "id": "SavedColumnList",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies this as a SavedColumnList resource. Value: the fixed string doubleclicksearch#savedColumnList.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "The saved columns being requested.",
          "items": {
            "$ref": "SavedColumn"
          }
        }
      },
      "description": "A list of saved columns. Advertisers create saved columns to report on Floodlight activities, Google Analytics goals, or custom KPIs. To request reports with saved columns, you'll need the saved column names that are available from this list."
    },
    "ReportApiColumnSpec": {
      "description": "A request object used to create a DoubleClick Search report.",
      "properties": {
        "savedColumnName": {
          "description": "Name of a saved column to include in the report. The report must be scoped at advertiser or lower, and this saved column must already be created in the DoubleClick Search UI.",
          "type": "string"
        },
        "startDate": {
          "type": "string",
          "description": "Inclusive date in YYYY-MM-DD format. When provided, this overrides the overall time range of the report for this column only. Must be provided together with `endDate`."
        },
        "platformSource": {
          "description": "The platform that is used to provide data for the custom dimension. Acceptable values are \"floodlight\".",
          "type": "string"
        },
        "headerText": {
          "description": "Text used to identify this column in the report output; defaults to `columnName` or `savedColumnName` when not specified. This can be used to prevent collisions between DoubleClick Search columns and saved columns with the same name.",
          "type": "string"
        },
        "productReportPerspective": {
          "description": "Returns metrics only for a specific type of product activity. Accepted values are: - \"`sold`\": returns metrics only for products that were sold - \"`advertised`\": returns metrics only for products that were advertised in a Shopping campaign, and that might or might not have been sold ",
          "type": "string"
        },
        "customDimensionName": {
          "type": "string",
          "description": "Segments a report by a custom dimension. The report must be scoped to an advertiser or lower, and the custom dimension must already be set up in DoubleClick Search. The custom dimension name, which appears in DoubleClick Search, is case sensitive.\\ If used in a conversion report, returns the value of the specified custom dimension for the given conversion, if set. This column does not segment the conversion report."
        },
        "columnName": {
          "description": "Name of a DoubleClick Search column to include in the report.",
          "type": "string"
        },
        "groupByColumn": {
          "description": "Synchronous report only. Set to `true` to group by this column. Defaults to `false`.",
          "type": "boolean"
        },
        "customMetricName": {
          "type": "string",
          "description": "Name of a custom metric to include in the report. The report must be scoped to an advertiser or lower, and the custom metric must already be set up in DoubleClick Search. The custom metric name, which appears in DoubleClick Search, is case sensitive."
        },
        "endDate": {
          "type": "string",
          "description": "Inclusive day in YYYY-MM-DD format. When provided, this overrides the overall time range of the report for this column only. Must be provided together with `startDate`."
        }
      },
      "id": "ReportApiColumnSpec",
      "type": "object"
    },
    "Availability": {
      "properties": {
        "agencyId": {
          "format": "int64",
          "description": "DS agency ID.",
          "type": "string",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          }
        },
        "advertiserId": {
          "type": "string",
          "format": "int64",
          "description": "DS advertiser ID.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          }
        },
        "customerId": {
          "type": "string",
          "description": "Customer ID of a client account in the new Search Ads 360 experience."
        },
        "availabilityTimestamp": {
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          },
          "description": "The time by which all conversions have been uploaded, in epoch millis UTC.",
          "type": "string",
          "format": "int64"
        },
        "segmentationType": {
          "type": "string",
          "description": "The segmentation type that this availability is for (its default value is `FLOODLIGHT`).",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          }
        },
        "segmentationName": {
          "type": "string",
          "description": "The friendly segmentation identifier (for example, DoubleClick Search Floodlight activity name)."
        },
        "segmentationId": {
          "description": "The numeric segmentation identifier (for example, DoubleClick Search Floodlight activity ID).",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "Availability",
      "description": "A message containing availability data relevant to DoubleClick Search."
    },
    "SavedColumn": {
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of data this saved column will produce."
        },
        "kind": {
          "description": "Identifies this as a SavedColumn resource. Value: the fixed string doubleclicksearch#savedColumn.",
          "type": "string"
        },
        "savedColumnName": {
          "description": "The name of the saved column.",
          "type": "string"
        }
      },
      "id": "SavedColumn",
      "description": "A saved column",
      "type": "object"
    },
    "CustomDimension": {
      "properties": {
        "name": {
          "description": "Custom dimension name.",
          "type": "string"
        },
        "value": {
          "description": "Custom dimension value.",
          "type": "string"
        }
      },
      "description": "A message containing the custom dimension.",
      "type": "object",
      "id": "CustomDimension"
    },
    "UpdateAvailabilityRequest": {
      "type": "object",
      "description": "The request to update availability.",
      "properties": {
        "availabilities": {
          "type": "array",
          "description": "The availabilities being requested.",
          "items": {
            "$ref": "Availability"
          }
        }
      },
      "id": "UpdateAvailabilityRequest"
    },
    "IdMappingFile": {
      "properties": {},
      "id": "IdMappingFile",
      "type": "object",
      "description": "File returned to https://developers.google.com/search-ads/v2/reference/reports/getIdMappingFile."
    }
  },
  "description": "The Search Ads 360 API allows developers to automate uploading conversions and downloading reports from Search Ads 360.",
  "ownerName": "Google",
  "resources": {
    "savedColumns": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "doubleclicksearch.savedColumns.list",
          "httpMethod": "GET",
          "response": {
            "$ref": "SavedColumnList"
          },
          "parameterOrder": [
            "agencyId",
            "advertiserId"
          ],
          "parameters": {
            "advertiserId": {
              "location": "path",
              "description": "DS ID of the advertiser.",
              "type": "string",
              "required": true,
              "format": "int64"
            },
            "agencyId": {
              "format": "int64",
              "required": true,
              "type": "string",
              "description": "DS ID of the agency.",
              "location": "path"
            }
          },
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/savedcolumns",
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/savedcolumns",
          "description": "Retrieve the list of saved columns for a specified advertiser."
        }
      }
    },
    "conversion": {
      "methods": {
        "insert": {
          "flatPath": "doubleclicksearch/v2/conversion",
          "description": "Inserts a batch of new conversions into DoubleClick Search.",
          "request": {
            "$ref": "ConversionList"
          },
          "id": "doubleclicksearch.conversion.insert",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "response": {
            "$ref": "ConversionList"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "parameters": {},
          "path": "doubleclicksearch/v2/conversion"
        },
        "getByCustomerId": {
          "response": {
            "$ref": "ConversionList"
          },
          "path": "doubleclicksearch/v2/customer/{customerId}/conversion",
          "id": "doubleclicksearch.conversion.getByCustomerId",
          "description": "Retrieves a list of conversions from a DoubleClick Search engine account.",
          "parameterOrder": [
            "customerId",
            "endDate",
            "rowCount",
            "startDate",
            "startRow"
          ],
          "parameters": {
            "adGroupId": {
              "description": "Numeric ID of the ad group.",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "rowCount": {
              "required": true,
              "maximum": "1000",
              "format": "int32",
              "location": "query",
              "description": "The number of conversions to return per call.",
              "minimum": "1",
              "type": "integer"
            },
            "endDate": {
              "description": "Last date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "maximum": "99991231",
              "location": "query",
              "format": "int32",
              "minimum": "20091101",
              "type": "integer",
              "required": true
            },
            "advertiserId": {
              "description": "Numeric ID of the advertiser.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "criterionId": {
              "type": "string",
              "description": "Numeric ID of the criterion.",
              "format": "int64",
              "location": "query"
            },
            "adId": {
              "location": "query",
              "format": "int64",
              "description": "Numeric ID of the ad.",
              "type": "string"
            },
            "agencyId": {
              "format": "int64",
              "description": "Numeric ID of the agency.",
              "location": "query",
              "type": "string"
            },
            "engineAccountId": {
              "format": "int64",
              "description": "Numeric ID of the engine account.",
              "location": "query",
              "type": "string"
            },
            "campaignId": {
              "location": "query",
              "description": "Numeric ID of the campaign.",
              "type": "string",
              "format": "int64"
            },
            "startDate": {
              "type": "integer",
              "minimum": "20091101",
              "location": "query",
              "description": "First date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "format": "int32",
              "required": true,
              "maximum": "99991231"
            },
            "customerId": {
              "description": "Customer ID of a client account in the new Search Ads 360 experience.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "startRow": {
              "type": "integer",
              "location": "query",
              "required": true,
              "format": "uint32",
              "description": "The 0-based starting index for retrieving conversions results."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "flatPath": "doubleclicksearch/v2/customer/{customerId}/conversion",
          "httpMethod": "GET"
        },
        "update": {
          "flatPath": "doubleclicksearch/v2/conversion",
          "httpMethod": "PUT",
          "path": "doubleclicksearch/v2/conversion",
          "parameterOrder": [],
          "parameters": {},
          "request": {
            "$ref": "ConversionList"
          },
          "id": "doubleclicksearch.conversion.update",
          "response": {
            "$ref": "ConversionList"
          },
          "description": "Updates a batch of conversions in DoubleClick Search.",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ]
        },
        "get": {
          "description": "Retrieves a list of conversions from a DoubleClick Search engine account.",
          "httpMethod": "GET",
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/engine/{engineAccountId}/conversion",
          "parameters": {
            "startDate": {
              "minimum": "20091101",
              "format": "int32",
              "location": "query",
              "maximum": "99991231",
              "description": "First date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "type": "integer",
              "required": true
            },
            "agencyId": {
              "location": "path",
              "description": "Numeric ID of the agency.",
              "format": "int64",
              "type": "string",
              "required": true
            },
            "adId": {
              "type": "string",
              "description": "Numeric ID of the ad.",
              "location": "query",
              "format": "int64"
            },
            "criterionId": {
              "description": "Numeric ID of the criterion.",
              "type": "string",
              "format": "int64",
              "location": "query"
            },
            "engineAccountId": {
              "type": "string",
              "required": true,
              "description": "Numeric ID of the engine account.",
              "format": "int64",
              "location": "path"
            },
            "startRow": {
              "location": "query",
              "description": "The 0-based starting index for retrieving conversions results.",
              "type": "integer",
              "required": true,
              "format": "uint32"
            },
            "advertiserId": {
              "type": "string",
              "required": true,
              "format": "int64",
              "description": "Numeric ID of the advertiser.",
              "location": "path"
            },
            "endDate": {
              "minimum": "20091101",
              "description": "Last date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "format": "int32",
              "location": "query",
              "type": "integer",
              "maximum": "99991231",
              "required": true
            },
            "adGroupId": {
              "type": "string",
              "format": "int64",
              "description": "Numeric ID of the ad group.",
              "location": "query"
            },
            "customerId": {
              "type": "string",
              "description": "Customer ID of a client account in the new Search Ads 360 experience.",
              "location": "query"
            },
            "rowCount": {
              "maximum": "1000",
              "location": "query",
              "description": "The number of conversions to return per call.",
              "format": "int32",
              "type": "integer",
              "required": true,
              "minimum": "1"
            },
            "campaignId": {
              "location": "query",
              "description": "Numeric ID of the campaign.",
              "format": "int64",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "doubleclicksearch.conversion.get",
          "parameterOrder": [
            "agencyId",
            "advertiserId",
            "engineAccountId",
            "endDate",
            "rowCount",
            "startDate",
            "startRow"
          ],
          "response": {
            "$ref": "ConversionList"
          },
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/engine/{engineAccountId}/conversion"
        },
        "updateAvailability": {
          "path": "doubleclicksearch/v2/conversion/updateAvailability",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "doubleclicksearch.conversion.updateAvailability",
          "description": "Updates the availabilities of a batch of floodlight activities in DoubleClick Search.",
          "request": {
            "$ref": "UpdateAvailabilityRequest"
          },
          "flatPath": "doubleclicksearch/v2/conversion/updateAvailability",
          "httpMethod": "POST",
          "response": {
            "$ref": "UpdateAvailabilityResponse"
          },
          "parameterOrder": [],
          "parameters": {}
        }
      }
    },
    "reports": {
      "methods": {
        "get": {
          "path": "doubleclicksearch/v2/reports/{reportId}",
          "flatPath": "doubleclicksearch/v2/reports/{reportId}",
          "id": "doubleclicksearch.reports.get",
          "description": "Polls for the status of a report request.",
          "parameters": {
            "reportId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "ID of the report request being polled."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameterOrder": [
            "reportId"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "Report"
          }
        },
        "generate": {
          "description": "Generates and returns a report immediately.",
          "id": "doubleclicksearch.reports.generate",
          "flatPath": "doubleclicksearch/v2/reports/generate",
          "path": "doubleclicksearch/v2/reports/generate",
          "parameterOrder": [],
          "request": {
            "$ref": "ReportRequest"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "response": {
            "$ref": "Report"
          },
          "parameters": {}
        },
        "getFile": {
          "id": "doubleclicksearch.reports.getFile",
          "description": "Downloads a report file encoded in UTF-8.",
          "parameters": {
            "reportFragment": {
              "location": "path",
              "format": "int32",
              "type": "integer",
              "description": "The index of the report fragment to download.",
              "minimum": "0",
              "required": true
            },
            "reportId": {
              "location": "path",
              "required": true,
              "description": "ID of the report.",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "reportId",
            "reportFragment"
          ],
          "flatPath": "doubleclicksearch/v2/reports/{reportId}/files/{reportFragment}",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "path": "doubleclicksearch/v2/reports/{reportId}/files/{reportFragment}",
          "useMediaDownloadService": true,
          "supportsMediaDownload": true
        },
        "request": {
          "flatPath": "doubleclicksearch/v2/reports",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "doubleclicksearch.reports.request",
          "request": {
            "$ref": "ReportRequest"
          },
          "path": "doubleclicksearch/v2/reports",
          "httpMethod": "POST",
          "parameterOrder": [],
          "response": {
            "$ref": "Report"
          },
          "description": "Inserts a report request into the reporting system.",
          "parameters": {}
        },
        "getIdMappingFile": {
          "description": "Downloads a csv file(encoded in UTF-8) that contains ID mappings between legacy SA360 and new SA360. The file includes all children entities of the given advertiser(e.g. engine accounts, campaigns, ad groups, etc.) that exist in both legacy SA360 and new SA360.",
          "id": "doubleclicksearch.reports.getIdMappingFile",
          "response": {
            "$ref": "IdMappingFile"
          },
          "supportsMediaDownload": true,
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/idmapping",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/idmapping",
          "parameters": {
            "agencyId": {
              "location": "path",
              "description": "Legacy SA360 agency ID.",
              "type": "string",
              "required": true,
              "format": "int64"
            },
            "advertiserId": {
              "type": "string",
              "required": true,
              "format": "int64",
              "description": "Legacy SA360 advertiser ID.",
              "location": "path"
            }
          },
          "useMediaDownloadService": true,
          "parameterOrder": [
            "agencyId",
            "advertiserId"
          ]
        }
      }
    }
  },
  "title": "Search Ads 360 API",
  "protocol": "rest",
  "rootUrl": "https://doubleclicksearch.googleapis.com/",
  "name": "doubleclicksearch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/doubleclicksearch": {
          "description": "View and manage your advertising data in DoubleClick Search"
        }
      }
    }
  },
  "id": "doubleclicksearch:v2",
  "baseUrl": "https://doubleclicksearch.googleapis.com/",
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://doubleclicksearch.mtls.googleapis.com/",
  "revision": "20260921",
  "basePath": "",
  "parameters": {
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "alt": {
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    }
  },
  "documentationLink": "https://developers.google.com/search-ads"
}