{
  "id": "drive:v2",
  "parameters": {
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    }
  },
  "description": "The Google Drive API allows clients to access resources from Google Drive.",
  "basePath": "/drive/v2/",
  "servicePath": "drive/v2/",
  "batchPath": "batch/drive/v2",
  "rootUrl": "https://www.googleapis.com/",
  "title": "Google Drive API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "resources": {
    "children": {
      "methods": {
        "get": {
          "flatPath": "files/{folderId}/children/{childId}",
          "response": {
            "$ref": "ChildReference"
          },
          "id": "drive.children.get",
          "httpMethod": "GET",
          "parameters": {
            "folderId": {
              "location": "path",
              "description": "The ID of the folder.",
              "required": true,
              "type": "string"
            },
            "childId": {
              "description": "The ID of the child.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "description": "Gets a specific child reference.",
          "parameterOrder": [
            "folderId",
            "childId"
          ],
          "path": "files/{folderId}/children/{childId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ]
        },
        "insert": {
          "request": {
            "$ref": "ChildReference"
          },
          "path": "files/{folderId}/children",
          "parameterOrder": [
            "folderId"
          ],
          "description": "Inserts a file into a folder.",
          "id": "drive.children.insert",
          "flatPath": "files/{folderId}/children",
          "response": {
            "$ref": "ChildReference"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameters": {
            "enforceSingleParent": {
              "deprecated": true,
              "default": "false",
              "description": "Deprecated: Adding files to multiple folders is no longer supported. Use `shortcuts` instead.",
              "type": "boolean",
              "location": "query"
            },
            "folderId": {
              "description": "The ID of the folder.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            },
            "supportsTeamDrives": {
              "deprecated": true,
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean",
              "default": "false",
              "location": "query"
            }
          },
          "httpMethod": "POST"
        },
        "delete": {
          "httpMethod": "DELETE",
          "parameterOrder": [
            "folderId",
            "childId"
          ],
          "description": "Removes a child from a folder.",
          "id": "drive.children.delete",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameters": {
            "folderId": {
              "location": "path",
              "description": "The ID of the folder.",
              "required": true,
              "type": "string"
            },
            "enforceSingleParent": {
              "description": "Deprecated: If an item is not in a shared drive and its last parent is removed, the item is placed under its owner's root.",
              "location": "query",
              "deprecated": true,
              "default": "false",
              "type": "boolean"
            },
            "childId": {
              "required": true,
              "description": "The ID of the child.",
              "location": "path",
              "type": "string"
            }
          },
          "path": "files/{folderId}/children/{childId}",
          "flatPath": "files/{folderId}/children/{childId}"
        },
        "list": {
          "description": "Lists a folder's children.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameterOrder": [
            "folderId"
          ],
          "path": "files/{folderId}/children",
          "id": "drive.children.list",
          "httpMethod": "GET",
          "parameters": {
            "folderId": {
              "location": "path",
              "required": true,
              "description": "The ID of the folder.",
              "type": "string"
            },
            "maxResults": {
              "minimum": "0",
              "default": "100",
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "Maximum number of children to return."
            },
            "orderBy": {
              "description": "A comma-separated list of sort keys. Valid keys are `createdDate`, `folder`, `lastViewedByMeDate`, `modifiedByMeDate`, `modifiedDate`, `quotaBytesUsed`, `recency`, `sharedWithMeDate`, `starred`, and `title`. Each key sorts ascending by default, but may be reversed with the `desc` modifier. Example usage: ?orderBy=folder,modifiedDate desc,title. Please note that there is a current limitation for users with approximately one million files in which the requested sort order is ignored.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "Page token for children.",
              "location": "query"
            },
            "q": {
              "location": "query",
              "type": "string",
              "description": "Query string for searching children."
            }
          },
          "flatPath": "files/{folderId}/children",
          "response": {
            "$ref": "ChildList"
          }
        }
      }
    },
    "replies": {
      "methods": {
        "update": {
          "parameterOrder": [
            "fileId",
            "commentId",
            "replyId"
          ],
          "httpMethod": "PUT",
          "request": {
            "$ref": "CommentReply"
          },
          "description": "Updates an existing reply.",
          "path": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "parameters": {
            "replyId": {
              "required": true,
              "location": "path",
              "description": "The ID of the reply.",
              "type": "string"
            },
            "commentId": {
              "type": "string",
              "required": true,
              "description": "The ID of the comment.",
              "location": "path"
            },
            "fileId": {
              "location": "path",
              "description": "The ID of the file.",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "id": "drive.replies.update",
          "flatPath": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "response": {
            "$ref": "CommentReply"
          }
        },
        "insert": {
          "path": "files/{fileId}/comments/{commentId}/replies",
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "request": {
            "$ref": "CommentReply"
          },
          "httpMethod": "POST",
          "parameters": {
            "commentId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the comment."
            },
            "fileId": {
              "location": "path",
              "description": "The ID of the file.",
              "type": "string",
              "required": true
            }
          },
          "description": "Creates a new reply to the given comment.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "id": "drive.replies.insert",
          "flatPath": "files/{fileId}/comments/{commentId}/replies",
          "response": {
            "$ref": "CommentReply"
          }
        },
        "get": {
          "httpMethod": "GET",
          "parameters": {
            "includeDeleted": {
              "type": "boolean",
              "location": "query",
              "default": "false",
              "description": "If set, this will succeed when retrieving a deleted reply."
            },
            "commentId": {
              "required": true,
              "location": "path",
              "description": "The ID of the comment.",
              "type": "string"
            },
            "replyId": {
              "type": "string",
              "description": "The ID of the reply.",
              "required": true,
              "location": "path"
            },
            "fileId": {
              "description": "The ID of the file.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "fileId",
            "commentId",
            "replyId"
          ],
          "description": "Gets a reply.",
          "flatPath": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "response": {
            "$ref": "CommentReply"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "id": "drive.replies.get",
          "path": "files/{fileId}/comments/{commentId}/replies/{replyId}"
        },
        "list": {
          "httpMethod": "GET",
          "path": "files/{fileId}/comments/{commentId}/replies",
          "parameters": {
            "maxResults": {
              "maximum": "100",
              "location": "query",
              "default": "20",
              "format": "int32",
              "description": "The maximum number of replies to include in the response, used for paging.",
              "type": "integer",
              "minimum": "0"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The continuation token, used to page through large result sets. To get the next page of results, set this parameter to the value of \"nextPageToken\" from the previous response."
            },
            "fileId": {
              "type": "string",
              "description": "The ID of the file.",
              "location": "path",
              "required": true
            },
            "commentId": {
              "required": true,
              "type": "string",
              "description": "The ID of the comment.",
              "location": "path"
            },
            "includeDeleted": {
              "type": "boolean",
              "default": "false",
              "location": "query",
              "description": "If set, all replies, including deleted replies (with content stripped) will be returned."
            }
          },
          "description": "Lists all of the replies to a comment.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "id": "drive.replies.list",
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "flatPath": "files/{fileId}/comments/{commentId}/replies",
          "response": {
            "$ref": "CommentReplyList"
          }
        },
        "delete": {
          "flatPath": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "parameters": {
            "replyId": {
              "type": "string",
              "description": "The ID of the reply.",
              "required": true,
              "location": "path"
            },
            "commentId": {
              "location": "path",
              "description": "The ID of the comment.",
              "required": true,
              "type": "string"
            },
            "fileId": {
              "description": "The ID of the file.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "DELETE",
          "path": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "parameterOrder": [
            "fileId",
            "commentId",
            "replyId"
          ],
          "id": "drive.replies.delete",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "description": "Deletes a reply."
        },
        "patch": {
          "flatPath": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "response": {
            "$ref": "CommentReply"
          },
          "parameterOrder": [
            "fileId",
            "commentId",
            "replyId"
          ],
          "request": {
            "$ref": "CommentReply"
          },
          "description": "Updates an existing reply.",
          "id": "drive.replies.patch",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "path": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "httpMethod": "PATCH",
          "parameters": {
            "replyId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the reply."
            },
            "commentId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The ID of the comment."
            },
            "fileId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the file.",
              "required": true
            }
          }
        }
      }
    },
    "parents": {
      "methods": {
        "insert": {
          "request": {
            "$ref": "ParentReference"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameters": {
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "default": "false",
              "type": "boolean",
              "deprecated": true,
              "location": "query"
            },
            "fileId": {
              "type": "string",
              "description": "The ID of the file.",
              "required": true,
              "location": "path"
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "type": "boolean",
              "default": "false"
            },
            "enforceSingleParent": {
              "location": "query",
              "default": "false",
              "deprecated": true,
              "type": "boolean",
              "description": "Deprecated: Adding files to multiple folders is no longer supported. Use `shortcuts` instead."
            }
          },
          "path": "files/{fileId}/parents",
          "httpMethod": "POST",
          "id": "drive.parents.insert",
          "parameterOrder": [
            "fileId"
          ],
          "flatPath": "files/{fileId}/parents",
          "response": {
            "$ref": "ParentReference"
          },
          "description": "Adds a parent folder for a file."
        },
        "list": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameters": {
            "fileId": {
              "location": "path",
              "description": "The ID of the file.",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "fileId"
          ],
          "path": "files/{fileId}/parents",
          "description": "Lists a file's parents.",
          "flatPath": "files/{fileId}/parents",
          "response": {
            "$ref": "ParentList"
          },
          "id": "drive.parents.list"
        },
        "get": {
          "id": "drive.parents.get",
          "flatPath": "files/{fileId}/parents/{parentId}",
          "response": {
            "$ref": "ParentReference"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameterOrder": [
            "fileId",
            "parentId"
          ],
          "description": "Gets a specific parent reference.",
          "path": "files/{fileId}/parents/{parentId}",
          "parameters": {
            "parentId": {
              "description": "The ID of the parent.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "fileId": {
              "location": "path",
              "required": true,
              "description": "The ID of the file.",
              "type": "string"
            }
          },
          "httpMethod": "GET"
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "path": "files/{fileId}/parents/{parentId}",
          "parameterOrder": [
            "fileId",
            "parentId"
          ],
          "id": "drive.parents.delete",
          "parameters": {
            "parentId": {
              "required": true,
              "description": "The ID of the parent.",
              "location": "path",
              "type": "string"
            },
            "fileId": {
              "required": true,
              "location": "path",
              "description": "The ID of the file.",
              "type": "string"
            },
            "enforceSingleParent": {
              "description": "Deprecated: If an item is not in a shared drive and its last parent is removed, the item is placed under its owner's root.",
              "location": "query",
              "type": "boolean",
              "deprecated": true,
              "default": "false"
            }
          },
          "description": "Removes a parent from a file.",
          "httpMethod": "DELETE",
          "flatPath": "files/{fileId}/parents/{parentId}"
        }
      }
    },
    "channels": {
      "methods": {
        "stop": {
          "path": "channels/stop",
          "request": {
            "parameterName": "resource",
            "$ref": "Channel"
          },
          "description": "Stops watching resources through this channel.",
          "parameterOrder": [],
          "httpMethod": "POST",
          "flatPath": "channels/stop",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "id": "drive.channels.stop"
        }
      }
    },
    "properties": {
      "methods": {
        "delete": {
          "flatPath": "files/{fileId}/properties/{propertyKey}",
          "parameters": {
            "fileId": {
              "location": "path",
              "description": "The ID of the file.",
              "required": true,
              "type": "string"
            },
            "propertyKey": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The key of the property."
            },
            "visibility": {
              "location": "query",
              "description": "The visibility of the property.",
              "type": "string",
              "default": "private"
            }
          },
          "httpMethod": "DELETE",
          "path": "files/{fileId}/properties/{propertyKey}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "id": "drive.properties.delete",
          "parameterOrder": [
            "fileId",
            "propertyKey"
          ],
          "description": "Deletes a property."
        },
        "get": {
          "path": "files/{fileId}/properties/{propertyKey}",
          "httpMethod": "GET",
          "parameters": {
            "visibility": {
              "location": "query",
              "description": "The visibility of the property.",
              "type": "string",
              "default": "private"
            },
            "propertyKey": {
              "type": "string",
              "description": "The key of the property.",
              "required": true,
              "location": "path"
            },
            "fileId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the file.",
              "required": true
            }
          },
          "description": "Gets a property by its key.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "id": "drive.properties.get",
          "parameterOrder": [
            "fileId",
            "propertyKey"
          ],
          "flatPath": "files/{fileId}/properties/{propertyKey}",
          "response": {
            "$ref": "Property"
          }
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "description": "Lists a file's properties.",
          "id": "drive.properties.list",
          "httpMethod": "GET",
          "path": "files/{fileId}/properties",
          "flatPath": "files/{fileId}/properties",
          "response": {
            "$ref": "PropertyList"
          },
          "parameterOrder": [
            "fileId"
          ]
        },
        "update": {
          "httpMethod": "PUT",
          "path": "files/{fileId}/properties/{propertyKey}",
          "flatPath": "files/{fileId}/properties/{propertyKey}",
          "response": {
            "$ref": "Property"
          },
          "parameterOrder": [
            "fileId",
            "propertyKey"
          ],
          "description": "Updates a property.",
          "parameters": {
            "visibility": {
              "description": "The visibility of the property. Allowed values are PRIVATE and PUBLIC. (Default: PRIVATE)",
              "default": "private",
              "location": "query",
              "type": "string"
            },
            "fileId": {
              "type": "string",
              "description": "The ID of the file.",
              "location": "path",
              "required": true
            },
            "propertyKey": {
              "type": "string",
              "required": true,
              "description": "The key of the property.",
              "location": "path"
            }
          },
          "id": "drive.properties.update",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "request": {
            "$ref": "Property"
          }
        },
        "patch": {
          "id": "drive.properties.patch",
          "parameterOrder": [
            "fileId",
            "propertyKey"
          ],
          "flatPath": "files/{fileId}/properties/{propertyKey}",
          "response": {
            "$ref": "Property"
          },
          "path": "files/{fileId}/properties/{propertyKey}",
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "visibility": {
              "location": "query",
              "type": "string",
              "default": "private",
              "description": "The visibility of the property. Allowed values are PRIVATE and PUBLIC. (Default: PRIVATE)"
            },
            "propertyKey": {
              "required": true,
              "description": "The key of the property.",
              "location": "path",
              "type": "string"
            }
          },
          "httpMethod": "PATCH",
          "description": "Updates a property.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "request": {
            "$ref": "Property"
          }
        },
        "insert": {
          "flatPath": "files/{fileId}/properties",
          "response": {
            "$ref": "Property"
          },
          "id": "drive.properties.insert",
          "httpMethod": "POST",
          "parameterOrder": [
            "fileId"
          ],
          "parameters": {
            "fileId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the file."
            }
          },
          "request": {
            "$ref": "Property"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "path": "files/{fileId}/properties",
          "description": "Adds a property to a file, or updates it if it already exists."
        }
      }
    },
    "permissions": {
      "methods": {
        "update": {
          "parameterOrder": [
            "fileId",
            "permissionId"
          ],
          "parameters": {
            "enforceExpansiveAccess": {
              "location": "query",
              "description": "Deprecated: All requests use the expansive access rules.",
              "type": "boolean",
              "default": "false",
              "deprecated": true
            },
            "useDomainAdminAccess": {
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs.",
              "type": "boolean",
              "default": "false",
              "location": "query"
            },
            "removeExpiration": {
              "location": "query",
              "description": "Whether to remove the expiration date.",
              "type": "boolean",
              "default": "false"
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean",
              "location": "query",
              "deprecated": true,
              "default": "false"
            },
            "fileId": {
              "type": "string",
              "required": true,
              "description": "The ID for the file or shared drive.",
              "location": "path"
            },
            "supportsAllDrives": {
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false",
              "location": "query"
            },
            "transferOwnership": {
              "default": "false",
              "description": "Whether changing a role to `owner` downgrades the current owners to writers. Does nothing if the specified role is not `owner`.",
              "location": "query",
              "type": "boolean"
            },
            "permissionId": {
              "type": "string",
              "description": "The ID for the permission.",
              "required": true,
              "location": "path"
            }
          },
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "flatPath": "files/{fileId}/permissions/{permissionId}",
          "response": {
            "$ref": "Permission"
          },
          "path": "files/{fileId}/permissions/{permissionId}",
          "description": "Updates a permission. **Warning:** Concurrent permission modifications (such as update or delete) on the same file, folder, or shared drive aren't supported across any users or clients; only the last update is applied.",
          "id": "drive.permissions.update",
          "request": {
            "$ref": "Permission"
          }
        },
        "getIdForEmail": {
          "description": "Returns the permission ID for an email address.",
          "httpMethod": "GET",
          "flatPath": "permissionIds/{email}",
          "response": {
            "$ref": "PermissionId"
          },
          "parameters": {
            "email": {
              "location": "path",
              "required": true,
              "description": "The email address for which to return a permission ID",
              "type": "string"
            }
          },
          "parameterOrder": [
            "email"
          ],
          "path": "permissionIds/{email}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "id": "drive.permissions.getIdForEmail"
        },
        "insert": {
          "parameters": {
            "emailMessage": {
              "description": "A plain text custom message to include in notification emails.",
              "type": "string",
              "location": "query"
            },
            "supportsAllDrives": {
              "type": "boolean",
              "default": "false",
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            },
            "moveToNewOwnersRoot": {
              "type": "boolean",
              "description": "This parameter will only take effect if the item is not in a shared drive and the request is attempting to transfer the ownership of the item. If set to `true`, the item will be moved to the new owner's My Drive root folder and all prior parents removed. If set to `false`, parents are not changed.",
              "default": "false",
              "location": "query"
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean",
              "deprecated": true,
              "default": "false",
              "location": "query"
            },
            "sendNotificationEmails": {
              "default": "true",
              "description": "Whether to send notification emails when sharing to users or groups. This parameter is ignored and an email is sent if the `role` is `owner`.",
              "type": "boolean",
              "location": "query"
            },
            "enforceExpansiveAccess": {
              "location": "query",
              "description": "Deprecated: All requests use the expansive access rules.",
              "type": "boolean",
              "default": "false",
              "deprecated": true
            },
            "fileId": {
              "description": "The ID for the file or shared drive.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "useDomainAdminAccess": {
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs.",
              "type": "boolean",
              "default": "false",
              "location": "query"
            },
            "enforceSingleParent": {
              "deprecated": true,
              "type": "boolean",
              "location": "query",
              "description": "Deprecated: See `moveToNewOwnersRoot` for details.",
              "default": "false"
            }
          },
          "parameterOrder": [
            "fileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "path": "files/{fileId}/permissions",
          "httpMethod": "POST",
          "id": "drive.permissions.insert",
          "request": {
            "$ref": "Permission"
          },
          "flatPath": "files/{fileId}/permissions",
          "response": {
            "$ref": "Permission"
          },
          "description": "Inserts a permission for a file or shared drive. **Warning:** Concurrent permission modifications (such as update or delete) on the same file, folder, or shared drive aren't supported across any users or clients; only the last update is applied."
        },
        "list": {
          "parameters": {
            "includePermissionsForView": {
              "location": "query",
              "type": "string",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported."
            },
            "useDomainAdminAccess": {
              "type": "boolean",
              "location": "query",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs.",
              "default": "false"
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "default": "false",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response."
            },
            "supportsTeamDrives": {
              "type": "boolean",
              "deprecated": true,
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query"
            },
            "fileId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID for the file or shared drive."
            },
            "maxResults": {
              "type": "integer",
              "minimum": "1",
              "description": "The maximum number of permissions to return per page. When not set for files in a shared drive, at most 100 results will be returned. When not set for files that are not in a shared drive, the entire list will be returned.",
              "format": "int32",
              "maximum": "100",
              "location": "query"
            }
          },
          "path": "files/{fileId}/permissions",
          "httpMethod": "GET",
          "flatPath": "files/{fileId}/permissions",
          "response": {
            "$ref": "PermissionList"
          },
          "id": "drive.permissions.list",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameterOrder": [
            "fileId"
          ],
          "description": "Lists a file's or shared drive's permissions."
        },
        "patch": {
          "request": {
            "$ref": "Permission"
          },
          "path": "files/{fileId}/permissions/{permissionId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameterOrder": [
            "fileId",
            "permissionId"
          ],
          "parameters": {
            "supportsAllDrives": {
              "type": "boolean",
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query"
            },
            "transferOwnership": {
              "location": "query",
              "default": "false",
              "description": "Whether changing a role to `owner` downgrades the current owners to writers. Does nothing if the specified role is not `owner`.",
              "type": "boolean"
            },
            "useDomainAdminAccess": {
              "default": "false",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs.",
              "type": "boolean",
              "location": "query"
            },
            "supportsTeamDrives": {
              "location": "query",
              "deprecated": true,
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean",
              "default": "false"
            },
            "fileId": {
              "required": true,
              "location": "path",
              "description": "The ID for the file or shared drive.",
              "type": "string"
            },
            "enforceExpansiveAccess": {
              "default": "false",
              "location": "query",
              "description": "Deprecated: All requests use the expansive access rules.",
              "type": "boolean",
              "deprecated": true
            },
            "permissionId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID for the permission."
            },
            "removeExpiration": {
              "default": "false",
              "type": "boolean",
              "location": "query",
              "description": "Whether to remove the expiration date."
            }
          },
          "httpMethod": "PATCH",
          "id": "drive.permissions.patch",
          "description": "Updates a permission using patch semantics. **Warning:** Concurrent permission modifications (such as update or delete) on the same file, folder, or shared drive aren't supported across any users or clients; only the last update is applied.",
          "flatPath": "files/{fileId}/permissions/{permissionId}",
          "response": {
            "$ref": "Permission"
          }
        },
        "get": {
          "httpMethod": "GET",
          "flatPath": "files/{fileId}/permissions/{permissionId}",
          "response": {
            "$ref": "Permission"
          },
          "parameters": {
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false",
              "type": "boolean",
              "location": "query"
            },
            "fileId": {
              "description": "The ID for the file or shared drive.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "useDomainAdminAccess": {
              "location": "query",
              "default": "false",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs.",
              "type": "boolean"
            },
            "permissionId": {
              "type": "string",
              "location": "path",
              "description": "The ID for the permission.",
              "required": true
            },
            "supportsTeamDrives": {
              "deprecated": true,
              "default": "false",
              "location": "query",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean"
            }
          },
          "path": "files/{fileId}/permissions/{permissionId}",
          "id": "drive.permissions.get",
          "description": "Gets a permission by ID.",
          "parameterOrder": [
            "fileId",
            "permissionId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ]
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "description": "Deletes a permission from a file or shared drive. **Warning:** Concurrent permission modifications (such as update or delete) on the same file, folder, or shared drive aren't supported across any users or clients; only the last update is applied.",
          "flatPath": "files/{fileId}/permissions/{permissionId}",
          "id": "drive.permissions.delete",
          "path": "files/{fileId}/permissions/{permissionId}",
          "parameters": {
            "useDomainAdminAccess": {
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs.",
              "type": "boolean",
              "default": "false",
              "location": "query"
            },
            "supportsTeamDrives": {
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "deprecated": true,
              "default": "false",
              "location": "query"
            },
            "supportsAllDrives": {
              "type": "boolean",
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false"
            },
            "fileId": {
              "description": "The ID for the file or shared drive.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "enforceExpansiveAccess": {
              "location": "query",
              "default": "false",
              "description": "Deprecated: All requests use the expansive access rules.",
              "type": "boolean",
              "deprecated": true
            },
            "permissionId": {
              "description": "The ID for the permission.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "httpMethod": "DELETE",
          "parameterOrder": [
            "fileId",
            "permissionId"
          ]
        }
      }
    },
    "comments": {
      "methods": {
        "update": {
          "request": {
            "$ref": "Comment"
          },
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "description": "Updates an existing comment.",
          "flatPath": "files/{fileId}/comments/{commentId}",
          "response": {
            "$ref": "Comment"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "id": "drive.comments.update",
          "path": "files/{fileId}/comments/{commentId}",
          "httpMethod": "PUT",
          "parameters": {
            "commentId": {
              "description": "The ID of the comment.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "fileId": {
              "type": "string",
              "required": true,
              "description": "The ID of the file.",
              "location": "path"
            }
          }
        },
        "insert": {
          "description": "Creates a new comment on the given file.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "httpMethod": "POST",
          "flatPath": "files/{fileId}/comments",
          "response": {
            "$ref": "Comment"
          },
          "request": {
            "$ref": "Comment"
          },
          "parameters": {
            "fileId": {
              "location": "path",
              "description": "The ID of the file.",
              "required": true,
              "type": "string"
            }
          },
          "path": "files/{fileId}/comments",
          "parameterOrder": [
            "fileId"
          ],
          "id": "drive.comments.insert"
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "path": "files/{fileId}/comments/{commentId}",
          "description": "Deletes a comment.",
          "flatPath": "files/{fileId}/comments/{commentId}",
          "parameters": {
            "commentId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the comment."
            },
            "fileId": {
              "required": true,
              "description": "The ID of the file.",
              "location": "path",
              "type": "string"
            }
          },
          "httpMethod": "DELETE",
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "id": "drive.comments.delete"
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameters": {
            "commentId": {
              "description": "The ID of the comment.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "fileId": {
              "description": "The ID of the file.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "PATCH",
          "path": "files/{fileId}/comments/{commentId}",
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "description": "Updates an existing comment.",
          "flatPath": "files/{fileId}/comments/{commentId}",
          "response": {
            "$ref": "Comment"
          },
          "id": "drive.comments.patch",
          "request": {
            "$ref": "Comment"
          }
        },
        "get": {
          "id": "drive.comments.get",
          "path": "files/{fileId}/comments/{commentId}",
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "includeDeleted": {
              "type": "boolean",
              "description": "If set, this will succeed when retrieving a deleted comment, and will include any deleted replies.",
              "location": "query",
              "default": "false"
            },
            "commentId": {
              "description": "The ID of the comment.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "description": "Gets a comment by ID.",
          "flatPath": "files/{fileId}/comments/{commentId}",
          "response": {
            "$ref": "Comment"
          }
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "description": "Lists a file's comments.",
          "parameters": {
            "maxResults": {
              "type": "integer",
              "maximum": "100",
              "description": "The maximum number of discussions to include in the response, used for paging.",
              "default": "20",
              "location": "query",
              "format": "int32",
              "minimum": "0"
            },
            "includeDeleted": {
              "description": "If set, all comments and replies, including deleted comments and replies (with content stripped) will be returned.",
              "location": "query",
              "type": "boolean",
              "default": "false"
            },
            "fileId": {
              "required": true,
              "description": "The ID of the file.",
              "location": "path",
              "type": "string"
            },
            "pageToken": {
              "description": "The continuation token, used to page through large result sets. To get the next page of results, set this parameter to the value of \"nextPageToken\" from the previous response.",
              "type": "string",
              "location": "query"
            },
            "updatedMin": {
              "description": "Only discussions that were updated after this timestamp will be returned. Formatted as an RFC 3339 timestamp.",
              "location": "query",
              "type": "string"
            }
          },
          "id": "drive.comments.list",
          "httpMethod": "GET",
          "path": "files/{fileId}/comments",
          "flatPath": "files/{fileId}/comments",
          "response": {
            "$ref": "CommentList"
          },
          "parameterOrder": [
            "fileId"
          ]
        }
      }
    },
    "revisions": {
      "methods": {
        "update": {
          "httpMethod": "PUT",
          "parameterOrder": [
            "fileId",
            "revisionId"
          ],
          "flatPath": "files/{fileId}/revisions/{revisionId}",
          "response": {
            "$ref": "Revision"
          },
          "request": {
            "$ref": "Revision"
          },
          "parameters": {
            "revisionId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID for the revision."
            },
            "fileId": {
              "required": true,
              "location": "path",
              "description": "The ID for the file.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "description": "Updates a revision.",
          "path": "files/{fileId}/revisions/{revisionId}",
          "id": "drive.revisions.update"
        },
        "get": {
          "parameterOrder": [
            "fileId",
            "revisionId"
          ],
          "flatPath": "files/{fileId}/revisions/{revisionId}",
          "response": {
            "$ref": "Revision"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "id": "drive.revisions.get",
          "description": "Gets a specific revision.",
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "revisionId": {
              "required": true,
              "description": "The ID of the revision.",
              "location": "path",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "path": "files/{fileId}/revisions/{revisionId}"
        },
        "delete": {
          "id": "drive.revisions.delete",
          "parameterOrder": [
            "fileId",
            "revisionId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "path": "files/{fileId}/revisions/{revisionId}",
          "flatPath": "files/{fileId}/revisions/{revisionId}",
          "parameters": {
            "revisionId": {
              "type": "string",
              "description": "The ID of the revision.",
              "location": "path",
              "required": true
            },
            "fileId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The ID of the file."
            }
          },
          "description": "Permanently deletes a file version. You can only delete revisions for files with binary content, like images or videos. Revisions for other files, like Google Docs or Sheets, and the last remaining file version can't be deleted.",
          "httpMethod": "DELETE"
        },
        "list": {
          "description": "Lists a file's revisions. **Important:** The list of revisions returned by this method might be incomplete for files with a large revision history, including frequently edited Google Docs, Sheets, and Slides. Older revisions might be omitted from the response, meaning the first revision returned may not be the oldest existing revision. The revision history visible in the Workspace editor user interface might be more complete than the list returned by the API.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "id": "drive.revisions.list",
          "flatPath": "files/{fileId}/revisions",
          "response": {
            "$ref": "RevisionList"
          },
          "parameterOrder": [
            "fileId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "fileId": {
              "required": true,
              "description": "The ID of the file.",
              "type": "string",
              "location": "path"
            },
            "maxResults": {
              "minimum": "1",
              "default": "200",
              "maximum": "1000",
              "type": "integer",
              "location": "query",
              "description": "Maximum number of revisions to return.",
              "format": "int32"
            },
            "pageToken": {
              "type": "string",
              "description": "Page token for revisions. To get the next page of results, set this parameter to the value of \"nextPageToken\" from the previous response.",
              "location": "query"
            }
          },
          "path": "files/{fileId}/revisions"
        },
        "patch": {
          "description": "Updates a revision.",
          "request": {
            "$ref": "Revision"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "id": "drive.revisions.patch",
          "parameters": {
            "fileId": {
              "location": "path",
              "type": "string",
              "description": "The ID for the file.",
              "required": true
            },
            "revisionId": {
              "location": "path",
              "description": "The ID for the revision.",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "PATCH",
          "path": "files/{fileId}/revisions/{revisionId}",
          "flatPath": "files/{fileId}/revisions/{revisionId}",
          "response": {
            "$ref": "Revision"
          },
          "parameterOrder": [
            "fileId",
            "revisionId"
          ]
        }
      }
    },
    "files": {
      "methods": {
        "emptyTrash": {
          "httpMethod": "DELETE",
          "path": "files/trash",
          "parameters": {
            "driveId": {
              "type": "string",
              "location": "query",
              "description": "If set, empties the trash of the provided shared drive."
            },
            "enforceSingleParent": {
              "description": "Deprecated: If an item is not in a shared drive and its last parent is deleted but the item itself is not, the item is placed under its owner's root.",
              "deprecated": true,
              "default": "false",
              "location": "query",
              "type": "boolean"
            }
          },
          "flatPath": "files/trash",
          "description": "Permanently deletes all of the user's trashed files.",
          "id": "drive.files.emptyTrash",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ]
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "supportsSubscription": true,
          "useMediaDownloadService": true,
          "flatPath": "files/{fileId}",
          "response": {
            "$ref": "File"
          },
          "description": " Gets a file's metadata or content by ID. If you provide the URL parameter `alt=media`, then the response includes the file contents in the response body. Downloading content with `alt=media` only works if the file is stored in Drive. To download Google Docs, Sheets, and Slides use [`files.export`](https://developers.google.com/workspace/drive/api/reference/rest/v2/files/export) instead. For more information, see [Download & export files](https://developers.google.com/workspace/drive/api/guides/manage-downloads).",
          "parameterOrder": [
            "fileId"
          ],
          "parameters": {
            "updateViewedDate": {
              "location": "query",
              "description": "Deprecated: Use `files.update` with `modifiedDateBehavior=noChange, updateViewedDate=true` and an empty request body.",
              "default": "false",
              "type": "boolean",
              "deprecated": true
            },
            "supportsAllDrives": {
              "default": "false",
              "type": "boolean",
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            },
            "fileId": {
              "description": "The ID for the file in question.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "revisionId": {
              "type": "string",
              "location": "query",
              "description": "Specifies the Revision ID that should be downloaded. Ignored unless alt=media is specified."
            },
            "supportsTeamDrives": {
              "type": "boolean",
              "deprecated": true,
              "default": "false",
              "location": "query",
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "projection": {
              "location": "query",
              "enumDescriptions": [
                "Deprecated.",
                "Deprecated."
              ],
              "type": "string",
              "enum": [
                "BASIC",
                "FULL"
              ],
              "description": "Deprecated: This parameter has no function.",
              "deprecated": true
            },
            "includePermissionsForView": {
              "type": "string",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query"
            },
            "acknowledgeAbuse": {
              "default": "false",
              "description": "Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when the `alt` parameter is set to `media` and the user is the owner of the file or an organizer of the shared drive in which the file resides.",
              "location": "query",
              "type": "boolean"
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query",
              "type": "string"
            }
          },
          "id": "drive.files.get",
          "supportsMediaDownload": true,
          "httpMethod": "GET",
          "path": "files/{fileId}"
        },
        "trash": {
          "description": "Moves a file to the trash. The currently authenticated user must own the file or be at least a `fileOrganizer` on the parent for shared drive files.",
          "id": "drive.files.trash",
          "httpMethod": "POST",
          "parameterOrder": [
            "fileId"
          ],
          "parameters": {
            "fileId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the file to trash."
            },
            "supportsAllDrives": {
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "default": "false"
            },
            "supportsTeamDrives": {
              "location": "query",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "default": "false",
              "type": "boolean",
              "deprecated": true
            },
            "includeLabels": {
              "type": "string",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query"
            },
            "includePermissionsForView": {
              "location": "query",
              "type": "string",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported."
            }
          },
          "path": "files/{fileId}/trash",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "flatPath": "files/{fileId}/trash",
          "response": {
            "$ref": "File"
          }
        },
        "watch": {
          "parameterOrder": [
            "fileId"
          ],
          "parameters": {
            "includePermissionsForView": {
              "type": "string",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query"
            },
            "updateViewedDate": {
              "deprecated": true,
              "type": "boolean",
              "location": "query",
              "description": "Deprecated: Use files.update with modifiedDateBehavior=noChange, updateViewedDate=true and an empty request body.",
              "default": "false"
            },
            "supportsTeamDrives": {
              "deprecated": true,
              "type": "boolean",
              "default": "false",
              "location": "query",
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "revisionId": {
              "location": "query",
              "type": "string",
              "description": "Specifies the Revision ID that should be downloaded. Ignored unless alt=media is specified."
            },
            "fileId": {
              "required": true,
              "location": "path",
              "description": "The ID for the file in question.",
              "type": "string"
            },
            "projection": {
              "location": "query",
              "deprecated": true,
              "enumDescriptions": [
                "Deprecated.",
                "Deprecated."
              ],
              "type": "string",
              "enum": [
                "BASIC",
                "FULL"
              ],
              "description": "Deprecated: This parameter has no function."
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "default": "false",
              "location": "query"
            },
            "includeLabels": {
              "type": "string",
              "location": "query",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response."
            },
            "acknowledgeAbuse": {
              "default": "false",
              "type": "boolean",
              "location": "query",
              "description": "Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when the `alt` parameter is set to `media` and the user is the owner of the file or an organizer of the shared drive in which the file resides."
            }
          },
          "flatPath": "files/{fileId}/watch",
          "response": {
            "$ref": "Channel"
          },
          "supportsSubscription": true,
          "httpMethod": "POST",
          "id": "drive.files.watch",
          "request": {
            "$ref": "Channel",
            "parameterName": "resource"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "path": "files/{fileId}/watch",
          "description": "Subscribes to changes to a file."
        },
        "copy": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.photos.readonly"
          ],
          "id": "drive.files.copy",
          "httpMethod": "POST",
          "parameters": {
            "timedTextLanguage": {
              "type": "string",
              "location": "query",
              "description": "The language of the timed text."
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query",
              "type": "string"
            },
            "pinned": {
              "location": "query",
              "default": "false",
              "type": "boolean",
              "description": "Whether to pin the head revision of the new copy. A file can have a maximum of 200 pinned revisions."
            },
            "convert": {
              "default": "false",
              "location": "query",
              "type": "boolean",
              "description": "Whether to convert this file to the corresponding Docs Editors format."
            },
            "timedTextTrackName": {
              "type": "string",
              "description": "The timed text track name.",
              "location": "query"
            },
            "fileId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the file to copy."
            },
            "ocr": {
              "default": "false",
              "location": "query",
              "description": "Whether to attempt OCR on .jpg, .png, .gif, or .pdf uploads.",
              "type": "boolean"
            },
            "visibility": {
              "type": "string",
              "enum": [
                "DEFAULT",
                "PRIVATE"
              ],
              "description": "The visibility of the new file. Permissions are still inherited from parent folders. This parameter is only relevant when the source is not a Google Doc file and when `convert=false`.",
              "enumDescriptions": [
                "The visibility of the new file is determined by the user's default visibility or sharing policies.",
                "The user's default visibility or sharing policies are ignored, and the new file is only visible to the owner and any users with permissions inherited from the parent folder."
              ],
              "location": "query",
              "default": "DEFAULT"
            },
            "enforceSingleParent": {
              "description": "Deprecated: Copying files into multiple folders is no longer supported. Use shortcuts instead.",
              "location": "query",
              "deprecated": true,
              "type": "boolean",
              "default": "false"
            },
            "ocrLanguage": {
              "description": "If `ocr` is true, hints at the language to use. Valid values are BCP 47 codes.",
              "type": "string",
              "location": "query"
            },
            "supportsAllDrives": {
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "default": "false"
            },
            "includePermissionsForView": {
              "location": "query",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "type": "string"
            },
            "supportsTeamDrives": {
              "location": "query",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean",
              "default": "false",
              "deprecated": true
            }
          },
          "request": {
            "$ref": "File"
          },
          "path": "files/{fileId}/copy",
          "parameterOrder": [
            "fileId"
          ],
          "flatPath": "files/{fileId}/copy",
          "response": {
            "$ref": "File"
          },
          "description": "Creates a copy of the specified file."
        },
        "patch": {
          "path": "files/{fileId}",
          "flatPath": "files/{fileId}",
          "response": {
            "$ref": "File"
          },
          "parameterOrder": [
            "fileId"
          ],
          "request": {
            "$ref": "File"
          },
          "httpMethod": "PATCH",
          "description": "Updates a file's metadata and/or content. When calling this method, only populate fields in the request that you want to modify. When updating fields, some fields might change automatically, such as modifiedDate. This method supports patch semantics.",
          "parameters": {
            "setModifiedDate": {
              "location": "query",
              "type": "boolean",
              "description": "Whether to set the modified date using the value supplied in the request body. Setting this field to `true` is equivalent to `modifiedDateBehavior=fromBodyOrNow`, and `false` is equivalent to `modifiedDateBehavior=now`. To prevent any changes to the modified date set `modifiedDateBehavior=noChange`.",
              "default": "false"
            },
            "enforceSingleParent": {
              "type": "boolean",
              "deprecated": true,
              "location": "query",
              "default": "false",
              "description": "Deprecated: Adding files to multiple folders is no longer supported. Use `shortcuts` instead."
            },
            "fileId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the file to update."
            },
            "modifiedDateBehavior": {
              "type": "string",
              "enum": [
                "fromBody",
                "fromBodyIfNeeded",
                "fromBodyOrNow",
                "noChange",
                "now",
                "nowIfNeeded"
              ],
              "enumDescriptions": [
                "Set `modifiedDate` to the value provided in the body of the request. No change if no value was provided.",
                "Set `modifiedDate` to the value provided in the body of the request depending on other contents of the update.",
                "Set modifiedDate to the value provided in the body of the request, or to the current time if no value was provided.",
                "Maintain the previous value of `modifiedDate`.",
                "Set `modifiedDate` to the current time.",
                "Set `modifiedDate` to the current time depending on contents of the update."
              ],
              "location": "query",
              "description": "Determines the behavior in which `modifiedDate` is updated. This overrides `setModifiedDate`."
            },
            "removeParents": {
              "location": "query",
              "type": "string",
              "description": "Comma-separated list of parent IDs to remove."
            },
            "pinned": {
              "location": "query",
              "description": "Whether to pin the new revision. A file can have a maximum of 200 pinned revisions. Note that this field is ignored if there is no payload in the request.",
              "type": "boolean",
              "default": "false"
            },
            "addParents": {
              "type": "string",
              "location": "query",
              "description": "Comma-separated list of parent IDs to add."
            },
            "includePermissionsForView": {
              "type": "string",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query"
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "default": "false",
              "type": "boolean"
            },
            "timedTextTrackName": {
              "type": "string",
              "description": "The timed text track name.",
              "location": "query"
            },
            "updateViewedDate": {
              "type": "boolean",
              "description": "Whether to update the view date after successfully updating the file.",
              "default": "true",
              "location": "query"
            },
            "ocrLanguage": {
              "location": "query",
              "type": "string",
              "description": "If ocr is true, hints at the language to use. Valid values are BCP 47 codes."
            },
            "timedTextLanguage": {
              "location": "query",
              "description": "The language of the timed text.",
              "type": "string"
            },
            "convert": {
              "location": "query",
              "deprecated": true,
              "type": "boolean",
              "description": "Deprecated: This parameter has no function.",
              "default": "false"
            },
            "includeLabels": {
              "location": "query",
              "type": "string",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response."
            },
            "useContentAsIndexableText": {
              "default": "false",
              "type": "boolean",
              "description": "Whether to use the content as indexable text.",
              "location": "query"
            },
            "ocr": {
              "location": "query",
              "default": "false",
              "type": "boolean",
              "description": "Whether to attempt OCR on .jpg, .png, .gif, or .pdf uploads."
            },
            "newRevision": {
              "type": "boolean",
              "location": "query",
              "description": "Whether a blob upload should create a new revision. If false, the blob data in the current head revision is replaced. If true or not set, a new blob is created as head revision, and previous unpinned revisions are preserved for a short period of time. Pinned revisions are stored indefinitely, using additional storage quota, up to a maximum of 200 revisions. For details on how revisions are retained, see the [Drive Help Center](https://support.google.com/drive/answer/2409045). Note that this field is ignored if there is no payload in the request.",
              "default": "true"
            },
            "supportsTeamDrives": {
              "type": "boolean",
              "location": "query",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "default": "false",
              "deprecated": true
            }
          },
          "id": "drive.files.patch",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.scripts"
          ]
        },
        "export": {
          "useMediaDownloadService": true,
          "id": "drive.files.export",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameterOrder": [
            "fileId",
            "mimeType"
          ],
          "flatPath": "files/{fileId}/export",
          "httpMethod": "GET",
          "parameters": {
            "fileId": {
              "type": "string",
              "description": "The ID of the file.",
              "required": true,
              "location": "path"
            },
            "mimeType": {
              "type": "string",
              "required": true,
              "location": "query",
              "description": "Required. The MIME type of the format requested for this export."
            }
          },
          "description": "Exports a Google Workspace document to the requested MIME type and returns exported byte content. Note that the exported content is limited to 10MB.",
          "path": "files/{fileId}/export",
          "supportsMediaDownload": true
        },
        "insert": {
          "description": " Inserts a new file. This method supports an */upload* URI and accepts uploaded media with the following characteristics: - *Maximum file size:* 5,120 GB - *Accepted Media MIME types:*`*/*` Note: Specify a valid MIME type, rather than the literal `*/*` value. The literal `*/*` is only used to indicate that any valid MIME type can be uploaded. For more information on uploading files, see [Upload file data](https://developers.google.com/workspace/drive/api/guides/manage-uploads). Apps creating shortcuts with `files.insert` must specify the MIME type `application/vnd.google-apps.shortcut`. Apps should specify a file extension in the `title` property when inserting files with the API. For example, an operation to insert a JPEG file should specify something like `\"title\": \"cat.jpg\"` in the metadata. Subsequent `GET` requests include the read-only `fileExtension` property populated with the extension originally specified in the `title` property. When a Google Drive user requests to download a file, or when the file is downloaded through the sync client, Drive builds a full filename (with extension) based on the title. In cases where the extension is missing, Drive attempts to determine the extension based on the file's MIME type.",
          "path": "files",
          "parameters": {
            "enforceSingleParent": {
              "description": "Deprecated: Creating files in multiple folders is no longer supported.",
              "type": "boolean",
              "default": "false",
              "location": "query",
              "deprecated": true
            },
            "ocrLanguage": {
              "description": "If ocr is true, hints at the language to use. Valid values are BCP 47 codes.",
              "type": "string",
              "location": "query"
            },
            "supportsTeamDrives": {
              "type": "boolean",
              "deprecated": true,
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query"
            },
            "supportsAllDrives": {
              "type": "boolean",
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query"
            },
            "visibility": {
              "type": "string",
              "enum": [
                "DEFAULT",
                "PRIVATE"
              ],
              "location": "query",
              "description": "The visibility of the new file. Permissions are still inherited from parent folders. This parameter is only relevant when `convert=false`.",
              "enumDescriptions": [
                "The visibility of the new file is determined by the user's default visibility or sharing policies.",
                "The user's default visibility or sharing policies are ignored, and the new file is only visible to the owner and any users with permissions inherited from the parent folder."
              ],
              "default": "DEFAULT"
            },
            "ocr": {
              "location": "query",
              "description": "Whether to attempt OCR on .jpg, .png, .gif, or .pdf uploads.",
              "default": "false",
              "type": "boolean"
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string",
              "location": "query"
            },
            "pinned": {
              "description": "Whether to pin the head revision of the uploaded file. A file can have a maximum of 200 pinned revisions.",
              "default": "false",
              "type": "boolean",
              "location": "query"
            },
            "includePermissionsForView": {
              "type": "string",
              "location": "query",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported."
            },
            "timedTextLanguage": {
              "type": "string",
              "location": "query",
              "description": "The language of the timed text."
            },
            "convert": {
              "location": "query",
              "type": "boolean",
              "description": "Whether to convert this file to the corresponding Docs Editors format.",
              "default": "false"
            },
            "timedTextTrackName": {
              "location": "query",
              "type": "string",
              "description": "The timed text track name."
            },
            "useContentAsIndexableText": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "Whether to use the content as indexable text."
            }
          },
          "httpMethod": "POST",
          "supportsMediaUpload": true,
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "request": {
            "$ref": "File"
          },
          "id": "drive.files.insert",
          "mediaUpload": {
            "maxSize": "5497558138880",
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/drive/v2/files"
              },
              "simple": {
                "path": "/upload/drive/v2/files",
                "multipart": true
              }
            },
            "accept": [
              "*/*"
            ]
          },
          "flatPath": "files",
          "response": {
            "$ref": "File"
          }
        },
        "delete": {
          "description": "Permanently deletes a file owned by the user without moving it to the trash. If the file belongs to a shared drive, the user must be an `organizer` on the parent folder. If the target is a folder, all descendants owned by the user are also deleted.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "id": "drive.files.delete",
          "parameterOrder": [
            "fileId"
          ],
          "path": "files/{fileId}",
          "httpMethod": "DELETE",
          "parameters": {
            "enforceSingleParent": {
              "type": "boolean",
              "description": "Deprecated: If an item is not in a shared drive and its last parent is deleted but the item itself is not, the item is placed under its owner's root.",
              "location": "query",
              "deprecated": true,
              "default": "false"
            },
            "fileId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the file to delete."
            },
            "supportsTeamDrives": {
              "type": "boolean",
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "deprecated": true
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "default": "false",
              "type": "boolean"
            }
          },
          "flatPath": "files/{fileId}"
        },
        "generateIds": {
          "parameters": {
            "type": {
              "location": "query",
              "default": "files",
              "type": "string",
              "description": "The type of items which the IDs can be used for. Supported values are `files` and `shortcuts`. Note that `shortcuts` are only supported in the `drive` `space`. (Default: `files`)"
            },
            "space": {
              "description": "The space in which the IDs can be used to create new files. Supported values are `drive` and `appDataFolder`. (Default: `drive`)",
              "type": "string",
              "location": "query",
              "default": "drive"
            },
            "maxResults": {
              "format": "int32",
              "maximum": "1000",
              "description": "Maximum number of IDs to return.",
              "location": "query",
              "default": "10",
              "minimum": "1",
              "type": "integer"
            }
          },
          "id": "drive.files.generateIds",
          "httpMethod": "GET",
          "flatPath": "files/generateIds",
          "response": {
            "$ref": "GeneratedIds"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameterOrder": [],
          "description": "Generates a set of file IDs which can be provided in insert or copy requests.",
          "path": "files/generateIds"
        },
        "untrash": {
          "httpMethod": "POST",
          "parameters": {
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query",
              "type": "string"
            },
[...]
