{
  "discoveryVersion": "v1",
  "parameters": {
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    }
  },
  "ownerName": "Google",
  "revision": "20260825",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "Post": {
      "id": "Post",
      "properties": {
        "subtype": {
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "RESOLVED",
            "REOPENED"
          ],
          "enumDescriptions": [
            "Subtype not available.",
            "A post was added.",
            "A post was deleted.",
            "A reply was added.",
            "A reply was deleted.",
            "A posted comment was resolved.",
            "A posted comment was reopened."
          ],
          "description": "The sub-type of this event.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A regular posted comment."
    },
    "AppliedLabelChangeDetail": {
      "id": "AppliedLabelChangeDetail",
      "type": "object",
      "properties": {
        "label": {
          "description": "The Label name representing the Label that changed. This name always contains the revision of the Label that was used when this Action occurred. The format is `labels/id@revision`.",
          "type": "string"
        },
        "types": {
          "description": "The types of changes made to the Label on the Target.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "The type of change to this Label is not available.",
              "The identified Label was added to the Target.",
              "The identified Label was removed from the Target.",
              "Field values were changed on the Target.",
              "The Label was applied as a side-effect of Drive item creation."
            ],
            "enum": [
              "TYPE_UNSPECIFIED",
              "LABEL_ADDED",
              "LABEL_REMOVED",
              "LABEL_FIELD_VALUE_CHANGED",
              "LABEL_APPLIED_BY_ITEM_CREATE"
            ]
          }
        },
        "title": {
          "type": "string",
          "description": "The human-readable title of the label that changed."
        },
        "fieldChanges": {
          "items": {
            "$ref": "FieldValueChange"
          },
          "type": "array",
          "description": "Field Changes. Only present if `types` contains `LABEL_FIELD_VALUE_CHANGED`."
        }
      },
      "description": "A change made to a Label on the Target."
    },
    "Target": {
      "id": "Target",
      "type": "object",
      "properties": {
        "driveItem": {
          "description": "The target is a Drive item.",
          "$ref": "DriveItem"
        },
        "teamDrive": {
          "deprecated": true,
          "$ref": "TeamDrive",
          "description": "This field is deprecated; please use the `drive` field instead."
        },
        "drive": {
          "description": "The target is a shared drive.",
          "$ref": "Drive"
        },
        "fileComment": {
          "description": "The target is a comment on a Drive file.",
          "$ref": "FileComment"
        }
      },
      "description": "Information about the target of activity. For more information on how activity history is shared with users, see [Activity history visibility](https://developers.google.com/workspace/drive/activity/v2#activityhistory)."
    },
    "Legacy": {
      "properties": {},
      "id": "Legacy",
      "type": "object",
      "description": "A strategy that consolidates activities using the grouping rules from the legacy V1 Activity API. Similar actions occurring within a window of time can be grouped across multiple targets (such as moving a set of files at once) or multiple actors (such as several users editing the same item). Grouping rules for this strategy are specific to each type of action."
    },
    "FieldValue": {
      "description": "Contains a value of a Field.",
      "id": "FieldValue",
      "properties": {
        "textList": {
          "$ref": "TextList",
          "description": "Text List Field value."
        },
        "user": {
          "$ref": "SingleUser",
          "description": "User Field value."
        },
        "date": {
          "$ref": "Date",
          "description": "Date Field value."
        },
        "integer": {
          "description": "Integer Field value.",
          "$ref": "Integer"
        },
        "text": {
          "description": "Text Field value.",
          "$ref": "Text"
        },
        "userList": {
          "$ref": "UserList",
          "description": "User List Field value."
        },
        "selectionList": {
          "$ref": "SelectionList",
          "description": "Selection List Field value."
        },
        "selection": {
          "$ref": "Selection",
          "description": "Selection Field value."
        }
      },
      "type": "object"
    },
    "Upload": {
      "id": "Upload",
      "type": "object",
      "properties": {},
      "description": "An object was uploaded into Drive."
    },
    "Date": {
      "id": "Date",
      "properties": {
        "value": {
          "type": "string",
          "format": "google-datetime",
          "description": "Date value."
        }
      },
      "description": "Wrapper for Date Field value.",
      "type": "object"
    },
    "Move": {
      "type": "object",
      "description": "An object was moved.",
      "properties": {
        "addedParents": {
          "description": "The added parent object(s).",
          "items": {
            "$ref": "TargetReference"
          },
          "type": "array"
        },
        "removedParents": {
          "items": {
            "$ref": "TargetReference"
          },
          "type": "array",
          "description": "The removed parent object(s)."
        }
      },
      "id": "Move"
    },
    "QueryDriveActivityResponse": {
      "id": "QueryDriveActivityResponse",
      "properties": {
        "activities": {
          "type": "array",
          "items": {
            "$ref": "DriveActivity"
          },
          "description": "List of activity requested."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      },
      "type": "object",
      "description": "Response message for querying Drive activity."
    },
    "Folder": {
      "properties": {
        "type": {
          "enumDescriptions": [
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead."
          ],
          "type": "string",
          "description": "This field is deprecated; please see `DriveFolder.type` instead.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "MY_DRIVE_ROOT",
            "TEAM_DRIVE_ROOT",
            "STANDARD_FOLDER"
          ]
        }
      },
      "id": "Folder",
      "type": "object",
      "description": "This item is deprecated; please see `DriveFolder` instead.",
      "deprecated": true
    },
    "DriveFolder": {
      "properties": {
        "type": {
          "description": "The type of Drive folder.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "MY_DRIVE_ROOT",
            "SHARED_DRIVE_ROOT",
            "STANDARD_FOLDER"
          ],
          "enumDescriptions": [
            "The folder type is unknown.",
            "The folder is the root of a user's MyDrive.",
            "The folder is the root of a shared drive.",
            "The folder is a standard, non-root, folder."
          ],
          "type": "string"
        }
      },
      "description": "A Drive item which is a folder.",
      "type": "object",
      "id": "DriveFolder"
    },
    "Rename": {
      "description": "An object was renamed.",
      "properties": {
        "oldTitle": {
          "description": "The previous title of the drive object.",
          "type": "string"
        },
        "newTitle": {
          "type": "string",
          "description": "The new title of the drive object."
        }
      },
      "type": "object",
      "id": "Rename"
    },
    "KnownUser": {
      "properties": {
        "personName": {
          "type": "string",
          "description": "The identifier for this user that can be used with the People API to get more information. The format is `people/ACCOUNT_ID`. See https://developers.google.com/people/."
        },
        "isCurrentUser": {
          "description": "True if this is the user making the request.",
          "type": "boolean"
        }
      },
      "id": "KnownUser",
      "description": "A known user.",
      "type": "object"
    },
    "RestrictionChange": {
      "id": "RestrictionChange",
      "properties": {
        "feature": {
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false
          ],
          "description": "The feature which had a change in restriction policy.",
          "type": "string",
          "enum": [
            "FEATURE_UNSPECIFIED",
            "SHARING_OUTSIDE_DOMAIN",
            "DIRECT_SHARING",
            "ITEM_DUPLICATION",
            "DRIVE_FILE_STREAM",
            "FILE_ORGANIZER_CAN_SHARE_FOLDERS",
            "READERS_CAN_DOWNLOAD",
            "WRITERS_CAN_DOWNLOAD"
          ],
          "enumDescriptions": [
            "The feature which changed restriction settings was not available.",
            "When restricted, this prevents items from being shared outside the domain.",
            "When restricted, this prevents direct sharing of individual items.",
            "Deprecated: Use READERS_CAN_DOWNLOAD instead.",
            "When restricted, this prevents use of Drive File Stream.",
            "When restricted, this limits sharing of folders to managers only.",
            "When restricted, this prevents actions like copy, download, and print for readers. Replaces ITEM_DUPLICATION.",
            "When restricted, this prevents actions like copy, download, and print for writers."
          ]
        },
        "newRestriction": {
          "enum": [
            "RESTRICTION_UNSPECIFIED",
            "UNRESTRICTED",
            "FULLY_RESTRICTED"
          ],
          "description": "The restriction in place after the change.",
          "type": "string",
          "enumDescriptions": [
            "The type of restriction is not available.",
            "The feature is available without restriction.",
            "The use of this feature is fully restricted."
          ]
        }
      },
      "type": "object",
      "description": "Information about restriction policy changes to a feature."
    },
    "TargetReference": {
      "type": "object",
      "description": "A lightweight reference to the target of activity.",
      "id": "TargetReference",
      "properties": {
        "drive": {
          "description": "The target is a shared drive.",
          "$ref": "DriveReference"
        },
        "driveItem": {
          "description": "The target is a Drive item.",
          "$ref": "DriveItemReference"
        },
        "teamDrive": {
          "description": "This field is deprecated; please use the `drive` field instead.",
          "$ref": "TeamDriveReference",
          "deprecated": true
        }
      }
    },
    "Suggestion": {
      "properties": {
        "subtype": {
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "ACCEPTED",
            "REJECTED",
            "ACCEPT_DELETED",
            "REJECT_DELETED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Subtype not available.",
            "A suggestion was added.",
            "A suggestion was deleted.",
            "A suggestion reply was added.",
            "A suggestion reply was deleted.",
            "A suggestion was accepted.",
            "A suggestion was rejected.",
            "An accepted suggestion was deleted.",
            "A rejected suggestion was deleted."
          ],
          "description": "The sub-type of this event."
        }
      },
      "description": "A suggestion.",
      "id": "Suggestion",
      "type": "object"
    },
    "Group": {
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "description": "The email address of the group."
        },
        "title": {
          "description": "The title of the group.",
          "type": "string"
        }
      },
      "description": "Information about a group.",
      "id": "Group"
    },
    "Edit": {
      "id": "Edit",
      "description": "An empty message indicating an object was edited.",
      "properties": {},
      "type": "object"
    },
    "DeletedUser": {
      "id": "DeletedUser",
      "type": "object",
      "description": "A user whose account has since been deleted.",
      "properties": {}
    },
    "DataLeakPreventionChange": {
      "description": "A change in the object's data leak prevention status.",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "FLAGGED",
            "CLEARED"
          ],
          "enumDescriptions": [
            "An update to the DLP state that is neither FLAGGED or CLEARED.",
            "Document has been flagged as containing sensitive content.",
            "Document is no longer flagged as containing sensitive content."
          ],
          "description": "The type of Data Leak Prevention (DLP) change.",
          "type": "string"
        }
      },
      "id": "DataLeakPreventionChange",
      "type": "object"
    },
    "ActionDetail": {
      "description": "Data describing the type and additional information of an action.",
      "type": "object",
      "properties": {
        "edit": {
          "description": "An object was edited.",
          "$ref": "Edit"
        },
        "restore": {
          "$ref": "Restore",
          "description": "A deleted object was restored."
        },
        "dlpChange": {
          "$ref": "DataLeakPreventionChange",
          "description": "A change happened in data leak prevention status."
        },
        "reference": {
          "description": "An object was referenced in an application outside of Drive/Docs.",
          "$ref": "ApplicationReference"
        },
        "create": {
          "$ref": "Create",
          "description": "An object was created."
        },
        "appliedLabelChange": {
          "$ref": "AppliedLabelChange",
          "description": "Label was changed."
        },
        "permissionChange": {
          "$ref": "PermissionChange",
          "description": "The permission on an object was changed."
        },
        "delete": {
          "$ref": "Delete",
          "description": "An object was deleted."
        },
        "rename": {
          "description": "An object was renamed.",
          "$ref": "Rename"
        },
        "move": {
          "description": "An object was moved.",
          "$ref": "Move"
        },
        "comment": {
          "description": "A change about comments was made.",
          "$ref": "Comment"
        },
        "settingsChange": {
          "description": "Settings were changed.",
          "$ref": "SettingsChange"
        }
      },
      "id": "ActionDetail"
    },
    "Anyone": {
      "description": "Represents any user (including a logged out user).",
      "properties": {},
      "type": "object",
      "id": "Anyone"
    },
    "FieldValueChange": {
      "type": "object",
      "id": "FieldValueChange",
      "description": "Change to a Field value.",
      "properties": {
        "oldValue": {
          "description": "The value that was previously set on the field. If not present, the field was newly set. At least one of {old_value|new_value} is always set.",
          "$ref": "FieldValue"
        },
        "displayName": {
          "type": "string",
          "description": "The human-readable display name for this field."
        },
        "fieldId": {
          "type": "string",
          "description": "The ID of this field. Field IDs are unique within a Label."
        },
        "newValue": {
          "$ref": "FieldValue",
          "description": "The value that is now set on the field. If not present, the field was cleared. At least one of {old_value|new_value} is always set."
        }
      }
    },
    "DriveItem": {
      "properties": {
        "driveFile": {
          "description": "The Drive item is a file.",
          "$ref": "DriveFile"
        },
        "name": {
          "type": "string",
          "description": "The target Drive item. The format is `items/ITEM_ID`."
        },
        "file": {
          "description": "This field is deprecated; please use the `driveFile` field instead.",
          "deprecated": true,
          "$ref": "File"
        },
        "folder": {
          "deprecated": true,
          "description": "This field is deprecated; please use the `driveFolder` field instead.",
          "$ref": "Folder"
        },
        "driveFolder": {
          "$ref": "DriveFolder",
          "description": "The Drive item is a folder. Includes information about the type of folder."
        },
        "owner": {
          "$ref": "Owner",
          "description": "Information about the owner of this Drive item."
        },
        "mimeType": {
          "description": "The MIME type of the Drive item. See https://developers.google.com/workspace/drive/v3/web/mime-types.",
          "type": "string"
        },
        "title": {
          "description": "The title of the Drive item.",
          "type": "string"
        }
      },
      "id": "DriveItem",
      "type": "object",
      "description": "A Drive item, such as a file or folder."
    },
    "Permission": {
      "type": "object",
      "id": "Permission",
      "properties": {
        "anyone": {
          "$ref": "Anyone",
          "description": "If set, this permission applies to anyone, even logged out users."
        },
        "allowDiscovery": {
          "type": "boolean",
          "description": "If true, the item can be discovered (e.g. in the user's \"Shared with me\" collection) without needing a link to the item."
        },
        "domain": {
          "$ref": "Domain",
          "description": "The domain to whom this permission applies."
        },
        "group": {
          "$ref": "Group",
          "description": "The group to whom this permission applies."
        },
        "user": {
          "$ref": "User",
          "description": "The user to whom this permission applies."
        },
        "role": {
          "type": "string",
          "description": "Indicates the [Google Drive permissions role](https://developers.google.com/workspace/drive/web/manage-sharing#roles). The role determines a user's ability to read, write, and comment on items.",
          "enum": [
            "ROLE_UNSPECIFIED",
            "OWNER",
            "ORGANIZER",
            "FILE_ORGANIZER",
            "EDITOR",
            "COMMENTER",
            "VIEWER",
            "PUBLISHED_VIEWER"
          ],
          "enumDescriptions": [
            "The role is not available.",
            "A role granting full access.",
            "A role granting the ability to manage people and settings.",
            "A role granting the ability to contribute and manage content.",
            "A role granting the ability to contribute content. This role is sometimes also known as \"writer\".",
            "A role granting the ability to view and comment on content.",
            "A role granting the ability to view content. This role is sometimes also known as \"reader\".",
            "A role granting the ability to view content only after it has been published to the web. This role is sometimes also known as \"published reader\". See https://support.google.com/sites/answer/6372880 for more information."
          ]
        }
      },
      "description": "The permission setting of an object."
    },
    "TimeRange": {
      "id": "TimeRange",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The start of the time range."
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The end of the time range."
        }
      },
      "type": "object",
      "description": "Information about time ranges."
    },
    "Copy": {
      "description": "An object was created by copying an existing object.",
      "properties": {
        "originalObject": {
          "$ref": "TargetReference",
          "description": "The original object."
        }
      },
      "id": "Copy",
      "type": "object"
    },
    "Impersonation": {
      "id": "Impersonation",
      "properties": {
        "impersonatedUser": {
          "$ref": "User",
          "description": "The impersonated user."
        }
      },
      "type": "object",
      "description": "Information about an impersonation, where an admin acts on behalf of an end user. Information about the acting admin is not currently available."
    },
    "New": {
      "type": "object",
      "properties": {},
      "description": "An object was created from scratch.",
      "id": "New"
    },
    "UserList": {
      "description": "Wrapper for UserList Field value.",
      "id": "UserList",
      "properties": {
        "values": {
          "type": "array",
          "description": "User values.",
          "items": {
            "$ref": "SingleUser"
          }
        }
      },
      "type": "object"
    },
    "Comment": {
      "type": "object",
      "properties": {
        "mentionedUsers": {
          "description": "Users who are mentioned in this comment.",
          "items": {
            "$ref": "User"
          },
          "type": "array"
        },
        "assignment": {
          "$ref": "Assignment",
          "description": "A change on an assignment."
        },
        "post": {
          "description": "A change on a regular posted comment.",
          "$ref": "Post"
        },
        "suggestion": {
          "description": "A change on a suggestion.",
          "$ref": "Suggestion"
        }
      },
      "id": "Comment",
      "description": "A change about comments on an object."
    },
    "User": {
      "properties": {
        "deletedUser": {
          "description": "A user whose account has since been deleted.",
          "$ref": "DeletedUser"
        },
        "unknownUser": {
          "$ref": "UnknownUser",
          "description": "A user about whom nothing is currently known."
        },
        "knownUser": {
          "description": "A known user.",
          "$ref": "KnownUser"
        }
      },
      "id": "User",
      "type": "object",
      "description": "Information about an end user."
    },
    "Actor": {
      "id": "Actor",
      "properties": {
        "impersonation": {
          "$ref": "Impersonation",
          "description": "An account acting on behalf of another."
        },
        "administrator": {
          "description": "An administrator.",
          "$ref": "Administrator"
        },
        "system": {
          "$ref": "SystemEvent",
          "description": "A non-user actor (i.e. system triggered)."
        },
        "anonymous": {
          "$ref": "AnonymousUser",
          "description": "An anonymous user."
        },
        "user": {
          "$ref": "User",
          "description": "An end user."
        }
      },
      "type": "object",
      "description": "The actor of a Drive activity."
    },
    "Owner": {
      "type": "object",
      "id": "Owner",
      "properties": {
        "teamDrive": {
          "description": "This field is deprecated; please use the `drive` field instead.",
          "deprecated": true,
          "$ref": "TeamDriveReference"
        },
        "drive": {
          "description": "The drive that owns the item.",
          "$ref": "DriveReference"
        },
        "domain": {
          "description": "The domain of the Drive item owner.",
          "$ref": "Domain"
        },
        "user": {
          "$ref": "User",
          "description": "The user that owns the Drive item."
        }
      },
      "description": "Information about the owner of a Drive item."
    },
    "Drive": {
      "type": "object",
      "properties": {
        "root": {
          "description": "The root of this shared drive.",
          "$ref": "DriveItem"
        },
        "title": {
          "description": "The title of the shared drive.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The resource name of the shared drive. The format is `COLLECTION_ID/DRIVE_ID`. Clients should not assume a specific collection ID for this resource name."
        }
      },
      "description": "Information about a shared drive.",
      "id": "Drive"
    },
    "File": {
      "id": "File",
      "description": "This item is deprecated; please see `DriveFile` instead.",
      "deprecated": true,
      "properties": {},
      "type": "object"
    },
    "Delete": {
      "properties": {
        "type": {
          "enumDescriptions": [
            "Deletion type is not available.",
            "An object was put into the trash.",
            "An object was deleted permanently."
          ],
          "type": "string",
          "description": "The type of delete action taken.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TRASH",
            "PERMANENT_DELETE"
          ]
        }
      },
      "id": "Delete",
      "description": "An object was deleted.",
      "type": "object"
    },
    "SingleUser": {
      "description": "Wrapper for User Field value.",
      "properties": {
        "value": {
          "description": "User value as email.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SingleUser"
    },
    "TeamDrive": {
      "type": "object",
      "properties": {
        "root": {
          "description": "This field is deprecated; please see `Drive.root` instead.",
          "$ref": "DriveItem"
        },
        "name": {
          "description": "This field is deprecated; please see `Drive.name` instead.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "This field is deprecated; please see `Drive.title` instead."
        }
      },
      "id": "TeamDrive",
      "description": "This item is deprecated; please see `Drive` instead.",
      "deprecated": true
    },
    "QueryDriveActivityRequest": {
      "id": "QueryDriveActivityRequest",
      "properties": {
        "consolidationStrategy": {
          "description": "Details on how to consolidate related actions that make up the activity. If not set, then related actions aren't consolidated.",
          "$ref": "ConsolidationStrategy"
        },
        "pageSize": {
          "type": "integer",
          "format": "int32",
          "description": "The minimum number of activities desired in the response; the server attempts to return at least this quantity. The server may also return fewer activities if it has a partial response ready before the request times out. If not set, a default value is used."
        },
        "pageToken": {
          "type": "string",
          "description": "The token identifies which page of results to return. Set this to the next_page_token value returned from a previous query to obtain the following page of results. If not set, the first page of results is returned."
        },
        "itemName": {
          "type": "string",
          "description": "Return activities for this Drive item. The format is `items/ITEM_ID`."
        },
        "ancestorName": {
          "description": "Return activities for this Drive folder, plus all children and descendants. The format is `items/ITEM_ID`.",
          "type": "string"
        },
        "filter": {
          "description": "The filtering for items returned from this query request. The format of the filter string is a sequence of expressions, joined by an optional \"AND\", where each expression is of the form \"field operator value\". Supported fields: - `time`: Uses numerical operators on date values either in terms of milliseconds since Jan 1, 1970 or in RFC 3339 format. Examples: - `time > 1452409200000 AND time <= 1492812924310` - `time >= \"2016-01-10T01:02:03-05:00\"` - `detail.action_detail_case`: Uses the \"has\" operator (:) and either a singular value or a list of allowed action types enclosed in parentheses, separated by a space. To exclude a result from the response, prepend a hyphen (`-`) to the beginning of the filter string. Examples: - `detail.action_detail_case:RENAME` - `detail.action_detail_case:(CREATE RESTORE)` - `-detail.action_detail_case:MOVE` ",
          "type": "string"
        }
      },
      "description": "The request message for querying Drive activity.",
      "type": "object"
    },
    "FileComment": {
      "type": "object",
      "description": "A comment on a file.",
      "properties": {
        "legacyCommentId": {
          "description": "The comment in the discussion thread. This identifier is an opaque string compatible with the Drive API; see https://developers.google.com/workspace/drive/v3/reference/comments/get",
          "type": "string"
        },
        "linkToDiscussion": {
          "description": "The link to the discussion thread containing this comment, for example, `https://docs.google.com/DOCUMENT_ID/edit?disco=THREAD_ID`.",
          "type": "string"
        },
        "parent": {
          "description": "The Drive item containing this comment.",
          "$ref": "DriveItem"
        },
        "legacyDiscussionId": {
          "type": "string",
          "description": "The discussion thread to which the comment was added. This identifier is an opaque string compatible with the Drive API and references the first comment in a discussion; see https://developers.google.com/workspace/drive/v3/reference/comments/get"
        }
      },
      "id": "FileComment"
    },
    "Create": {
      "id": "Create",
      "description": "An object was created.",
      "type": "object",
      "properties": {
        "new": {
          "description": "If present, indicates the object was newly created (e.g. as a blank document), not derived from a Drive object or external object.",
          "$ref": "New"
        },
        "upload": {
          "$ref": "Upload",
          "description": "If present, indicates the object originated externally and was uploaded to Drive."
        },
        "copy": {
          "$ref": "Copy",
          "description": "If present, indicates the object was created by copying an existing Drive object."
        }
      }
    },
    "TextList": {
      "description": "Wrapper for Text List Field value.",
      "properties": {
        "values": {
          "type": "array",
          "description": "Text values.",
          "items": {
            "$ref": "Text"
          }
        }
      },
      "type": "object",
      "id": "TextList"
    },
    "NoConsolidation": {
      "properties": {},
      "type": "object",
      "description": "A strategy that does no consolidation of individual activities.",
      "id": "NoConsolidation"
    },
    "ConsolidationStrategy": {
      "type": "object",
      "description": "How the individual activities are consolidated. If a set of activities is related they can be consolidated into one combined activity, such as one actor performing the same action on multiple targets, or multiple actors performing the same action on a single target. The strategy defines the rules for which activities are related.",
      "properties": {
        "none": {
          "description": "The individual activities are not consolidated.",
          "$ref": "NoConsolidation"
        },
        "legacy": {
          "$ref": "Legacy",
          "description": "The individual activities are consolidated using the legacy strategy."
        }
      },
      "id": "ConsolidationStrategy"
    },
    "DriveActivity": {
      "description": "A single Drive activity comprising one or more Actions by one or more Actors on one or more Targets. Some Action groupings occur spontaneously, such as moving an item into a shared folder triggering a permission change. Other groupings of related Actions, such as multiple Actors editing one item or moving multiple files into a new folder, are controlled by the selection of a ConsolidationStrategy in the QueryDriveActivityRequest.",
      "type": "object",
      "properties": {
        "primaryActionDetail": {
          "description": "Key information about the primary action for this activity. This is either representative, or the most important, of all actions in the activity, according to the ConsolidationStrategy in the request.",
          "$ref": "ActionDetail"
        },
        "targets": {
          "type": "array",
          "items": {
            "$ref": "Target"
          },
          "description": "All Google Drive objects this activity is about (e.g. file, folder, drive). This represents the state of the target immediately after the actions occurred."
        },
        "actors": {
          "items": {
            "$ref": "Actor"
          },
          "type": "array",
          "description": "All actor(s) responsible for the activity."
        },
        "timestamp": {
          "description": "The activity occurred at this specific time.",
          "type": "string",
          "format": "google-datetime"
        },
        "timeRange": {
          "$ref": "TimeRange",
          "description": "The activity occurred over this time range."
        },
        "actions": {
          "description": "Details on all actions in this activity.",
          "type": "array",
          "items": {
            "$ref": "Action"
          }
        }
      },
      "id": "DriveActivity"
    },
    "SelectionList": {
      "type": "object",
      "id": "SelectionList",
      "properties": {
        "values": {
          "description": "Selection values.",
          "type": "array",
          "items": {
            "$ref": "Selection"
          }
        }
      },
      "description": "Wrapper for SelectionList Field value."
    },
    "AppliedLabelChange": {
      "id": "AppliedLabelChange",
      "properties": {
        "changes": {
          "type": "array",
          "items": {
            "$ref": "AppliedLabelChangeDetail"
          },
          "description": "Changes that were made to the Label on the Target."
        }
      },
      "type": "object",
      "description": "Label changes that were made on the Target."
    },
    "Administrator": {
      "type": "object",
      "properties": {},
      "id": "Administrator",
      "description": "Empty message representing an administrator."
    },
    "Restore": {
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "UNTRASH"
          ],
          "description": "The type of restore action taken.",
          "type": "string",
          "enumDescriptions": [
            "The type is not available.",
            "An object was restored from the trash."
          ]
        }
      },
      "description": "A deleted object was restored.",
      "id": "Restore"
    },
    "Action": {
      "description": "Information about the action.",
      "id": "Action",
      "type": "object",
      "properties": {
        "detail": {
          "description": "The type and detailed information about the action.",
          "$ref": "ActionDetail"
        },
        "target": {
          "$ref": "Target",
          "description": "The target this action affects (or empty if affecting all targets). This represents the state of the target immediately after this action occurred."
        },
        "actor": {
          "$ref": "Actor",
          "description": "The actor responsible for this action (or empty if all actors are responsible)."
        },
        "timestamp": {
          "format": "google-datetime",
          "description": "The action occurred at this specific time.",
          "type": "string"
        },
        "timeRange": {
          "description": "The action occurred over this time range.",
          "$ref": "TimeRange"
        }
      }
    },
    "SettingsChange": {
      "id": "SettingsChange",
      "type": "object",
      "description": "Information about settings changes.",
      "properties": {
        "restrictionChanges": {
          "type": "array",
          "description": "The set of changes made to restrictions.",
          "items": {
            "$ref": "RestrictionChange"
          }
        }
      }
    },
    "AnonymousUser": {
      "id": "AnonymousUser",
      "properties": {},
      "type": "object",
      "description": "Empty message representing an anonymous user or indicating the authenticated user should be anonymized."
    },
    "Text": {
      "id": "Text",
      "type": "object",
      "properties": {
        "value": {
          "description": "Value of Text Field.",
          "type": "string"
        }
      },
      "description": "Wrapper for Text Field value."
    },
    "UnknownUser": {
      "description": "A user about whom nothing is currently known.",
      "properties": {},
      "id": "UnknownUser",
      "type": "object"
    },
    "SystemEvent": {
      "properties": {
        "type": {
          "description": "The type of the system event that may triggered activity.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "USER_DELETION",
            "TRASH_AUTO_PURGE"
          ],
          "enumDescriptions": [
            "The event type is unspecified.",
            "The event is a consequence of a user account being deleted.",
            "The event is due to the system automatically purging trash."
          ],
          "type": "string"
        }
      },
      "id": "SystemEvent",
      "description": "Event triggered by system operations instead of end users.",
      "type": "object"
    },
    "ApplicationReference": {
      "id": "ApplicationReference",
      "type": "object",
      "properties": {
        "type": {
          "description": "The reference type corresponding to this event.",
          "enum": [
            "UNSPECIFIED_REFERENCE_TYPE",
            "LINK",
            "DISCUSS"
          ],
          "enumDescriptions": [
            "The type is not available.",
            "The links of one or more Drive items were posted.",
            "Comments were made regarding a Drive item."
          ],
          "type": "string"
        }
      },
      "description": "Activity in applications other than Drive."
    },
    "Assignment": {
      "description": "A comment with an assignment.",
      "properties": {
        "assignedUser": {
          "$ref": "User",
          "description": "The user to whom the comment was assigned."
        },
        "subtype": {
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "RESOLVED",
            "REOPENED",
            "REASSIGNED"
          ],
          "description": "The sub-type of this event.",
          "type": "string",
          "enumDescriptions": [
            "Subtype not available.",
            "An assignment was added.",
            "An assignment was deleted.",
            "An assignment reply was added.",
            "An assignment reply was deleted.",
            "An assignment was resolved.",
            "A resolved assignment was reopened.",
            "An assignment was reassigned."
          ]
        }
      },
      "type": "object",
      "id": "Assignment"
    },
    "DriveItemReference": {
      "description": "A lightweight reference to a Drive item, such as a file or folder.",
      "properties": {
        "driveFile": {
          "description": "The Drive item is a file.",
          "$ref": "DriveFile"
        },
        "driveFolder": {
          "$ref": "DriveFolder",
          "description": "The Drive item is a folder. Includes information about the type of folder."
        },
        "title": {
          "type": "string",
          "description": "The title of the Drive item."
        },
        "folder": {
          "deprecated": true,
          "description": "This field is deprecated; please use the `driveFolder` field instead.",
          "$ref": "Folder"
        },
        "name": {
          "description": "The target Drive item. The format is `items/ITEM_ID`.",
          "type": "string"
        },
        "file": {
          "description": "This field is deprecated; please use the `driveFile` field instead.",
          "deprecated": true,
          "$ref": "File"
        }
      },
      "type": "object",
      "id": "DriveItemReference"
    },
    "PermissionChange": {
      "description": "A change of the permission setting on an item.",
      "properties": {
        "addedPermissions": {
          "description": "The set of permissions added by this change.",
          "type": "array",
          "items": {
            "$ref": "Permission"
          }
        },
        "removedPermissions": {
          "items": {
            "$ref": "Permission"
          },
          "description": "The set of permissions removed by this change.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "PermissionChange"
    },
    "Integer": {
      "type": "object",
      "id": "Integer",
      "description": "Wrapper for Integer Field value.",
      "properties": {
        "value": {
          "type": "string",
          "description": "Integer value.",
          "format": "int64"
        }
      }
    },
    "DriveFile": {
      "properties": {},
      "id": "DriveFile",
      "description": "A Drive item which is a file.",
      "type": "object"
    },
    "TeamDriveReference": {
      "deprecated": true,
      "type": "object",
      "properties": {
        "title": {
          "description": "This field is deprecated; please see `DriveReference.title` instead.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "This field is deprecated; please see `DriveReference.name` instead."
        }
      },
      "id": "TeamDriveReference",
      "description": "This item is deprecated; please see `DriveReference` instead."
    },
    "DriveReference": {
      "id": "DriveReference",
      "properties": {
        "name": {
          "description": "The resource name of the shared drive. The format is `COLLECTION_ID/DRIVE_ID`. Clients should not assume a specific collection ID for this resource name.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The title of the shared drive."
        }
      },
      "type": "object",
      "description": "A lightweight reference to a shared drive."
    },
    "Domain": {
      "id": "Domain",
      "description": "Information about a domain.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the domain, e.g. `google.com`."
        },
        "legacyId": {
          "description": "An opaque string used to identify this domain.",
          "type": "string"
        }
      }
    },
    "Selection": {
      "properties": {
        "value": {
          "description": "Selection value as Field Choice ID.",
          "type": "string"
        },
        "displayName": {
          "description": "Selection value as human-readable display string.",
          "type": "string"
        }
      },
      "id": "Selection",
      "description": "Wrapper for Selection Field value as combined value/display_name pair for selected choice.",
      "type": "object"
    }
  },
  "version": "v2",
  "version_module": true,
  "canonicalName": "Drive Activity",
  "mtlsRootUrl": "https://driveactivity.mtls.googleapis.com/",
  "resources": {
    "activity": {
      "methods": {
        "query": {
          "httpMethod": "POST",
          "path": "v2/activity:query",
          "description": "Query past activity in Google Drive.",
          "id": "driveactivity.activity.query",
          "scopes": [
            "https://www.googleapis.com/auth/drive.activity",
            "https://www.googleapis.com/auth/drive.activity.readonly"
          ],
          "parameters": {},
          "parameterOrder": [],
          "response": {
            "$ref": "QueryDriveActivityResponse"
          },
          "flatPath": "v2/activity:query",
          "request": {
            "$ref": "QueryDriveActivityRequest"
          }
        }
      }
    }
  },
  "title": "Drive Activity API",
  "documentationLink": "https://developers.google.com/workspace/drive/activity/",
  "servicePath": "",
  "rootUrl": "https://driveactivity.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.activity": {
          "description": "View and add to the activity record of files in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.activity.readonly": {
          "description": "View the activity record of files in your Google Drive"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "description": "Provides a historical view of activity in Google Drive.",
  "fullyEncodeReservedExpansion": true,
  "name": "driveactivity",
  "baseUrl": "https://driveactivity.googleapis.com/",
  "batchPath": "batch",
  "basePath": "",
  "id": "driveactivity:v2",
  "protocol": "rest",
  "ownerDomain": "google.com"
}