{
  "description": "Provides a historical view of activity in Google Drive.",
  "discoveryVersion": "v1",
  "title": "Drive Activity API",
  "basePath": "",
  "version": "v2",
  "documentationLink": "https://developers.google.com/workspace/drive/activity/",
  "rootUrl": "https://driveactivity.googleapis.com/",
  "baseUrl": "https://driveactivity.googleapis.com/",
  "schemas": {
    "Move": {
      "description": "An object was moved.",
      "type": "object",
      "id": "Move",
      "properties": {
        "addedParents": {
          "items": {
            "$ref": "TargetReference"
          },
          "type": "array",
          "description": "The added parent object(s)."
        },
        "removedParents": {
          "items": {
            "$ref": "TargetReference"
          },
          "description": "The removed parent object(s).",
          "type": "array"
        }
      }
    },
    "QueryDriveActivityResponse": {
      "type": "object",
      "id": "QueryDriveActivityResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "activities": {
          "description": "List of activity requested.",
          "type": "array",
          "items": {
            "$ref": "DriveActivity"
          }
        }
      },
      "description": "Response message for querying Drive activity."
    },
    "SettingsChange": {
      "type": "object",
      "properties": {
        "restrictionChanges": {
          "items": {
            "$ref": "RestrictionChange"
          },
          "type": "array",
          "description": "The set of changes made to restrictions."
        }
      },
      "description": "Information about settings changes.",
      "id": "SettingsChange"
    },
    "Text": {
      "properties": {
        "value": {
          "description": "Value of Text Field.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Wrapper for Text Field value.",
      "id": "Text"
    },
    "Target": {
      "description": "Information about the target of activity. For more information on how activity history is shared with users, see [Activity history visibility](https://developers.google.com/workspace/drive/activity/v2#activityhistory).",
      "type": "object",
      "properties": {
        "driveItem": {
          "description": "The target is a Drive item.",
          "$ref": "DriveItem"
        },
        "fileComment": {
          "description": "The target is a comment on a Drive file.",
          "$ref": "FileComment"
        },
        "teamDrive": {
          "deprecated": true,
          "$ref": "TeamDrive",
          "description": "This field is deprecated; please use the `drive` field instead."
        },
        "drive": {
          "description": "The target is a shared drive.",
          "$ref": "Drive"
        }
      },
      "id": "Target"
    },
    "Permission": {
      "description": "The permission setting of an object.",
      "type": "object",
      "properties": {
        "group": {
          "description": "The group to whom this permission applies.",
          "$ref": "Group"
        },
        "domain": {
          "description": "The domain to whom this permission applies.",
          "$ref": "Domain"
        },
        "anyone": {
          "description": "If set, this permission applies to anyone, even logged out users.",
          "$ref": "Anyone"
        },
        "allowDiscovery": {
          "description": "If true, the item can be discovered (e.g. in the user's \"Shared with me\" collection) without needing a link to the item.",
          "type": "boolean"
        },
        "role": {
          "description": "Indicates the [Google Drive permissions role](https://developers.google.com/workspace/drive/web/manage-sharing#roles). The role determines a user's ability to read, write, and comment on items.",
          "enumDescriptions": [
            "The role is not available.",
            "A role granting full access.",
            "A role granting the ability to manage people and settings.",
            "A role granting the ability to contribute and manage content.",
            "A role granting the ability to contribute content. This role is sometimes also known as \"writer\".",
            "A role granting the ability to view and comment on content.",
            "A role granting the ability to view content. This role is sometimes also known as \"reader\".",
            "A role granting the ability to view content only after it has been published to the web. This role is sometimes also known as \"published reader\". See https://support.google.com/sites/answer/6372880 for more information."
          ],
          "type": "string",
          "enum": [
            "ROLE_UNSPECIFIED",
            "OWNER",
            "ORGANIZER",
            "FILE_ORGANIZER",
            "EDITOR",
            "COMMENTER",
            "VIEWER",
            "PUBLISHED_VIEWER"
          ]
        },
        "user": {
          "description": "The user to whom this permission applies.",
          "$ref": "User"
        }
      },
      "id": "Permission"
    },
    "DriveActivity": {
      "description": "A single Drive activity comprising one or more Actions by one or more Actors on one or more Targets. Some Action groupings occur spontaneously, such as moving an item into a shared folder triggering a permission change. Other groupings of related Actions, such as multiple Actors editing one item or moving multiple files into a new folder, are controlled by the selection of a ConsolidationStrategy in the QueryDriveActivityRequest.",
      "type": "object",
      "properties": {
        "timestamp": {
          "description": "The activity occurred at this specific time.",
          "type": "string",
          "format": "google-datetime"
        },
        "actors": {
          "type": "array",
          "description": "All actor(s) responsible for the activity.",
          "items": {
            "$ref": "Actor"
          }
        },
        "timeRange": {
          "description": "The activity occurred over this time range.",
          "$ref": "TimeRange"
        },
        "primaryActionDetail": {
          "$ref": "ActionDetail",
          "description": "Key information about the primary action for this activity. This is either representative, or the most important, of all actions in the activity, according to the ConsolidationStrategy in the request."
        },
        "actions": {
          "items": {
            "$ref": "Action"
          },
          "description": "Details on all actions in this activity.",
          "type": "array"
        },
        "targets": {
          "items": {
            "$ref": "Target"
          },
          "type": "array",
          "description": "All Google Drive objects this activity is about (e.g. file, folder, drive). This represents the state of the target immediately after the actions occurred."
        }
      },
      "id": "DriveActivity"
    },
    "Suggestion": {
      "properties": {
        "subtype": {
          "enumDescriptions": [
            "Subtype not available.",
            "A suggestion was added.",
            "A suggestion was deleted.",
            "A suggestion reply was added.",
            "A suggestion reply was deleted.",
            "A suggestion was accepted.",
            "A suggestion was rejected.",
            "An accepted suggestion was deleted.",
            "A rejected suggestion was deleted."
          ],
          "description": "The sub-type of this event.",
          "type": "string",
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "ACCEPTED",
            "REJECTED",
            "ACCEPT_DELETED",
            "REJECT_DELETED"
          ]
        }
      },
      "description": "A suggestion.",
      "id": "Suggestion",
      "type": "object"
    },
    "Edit": {
      "description": "An empty message indicating an object was edited.",
      "properties": {},
      "type": "object",
      "id": "Edit"
    },
    "ConsolidationStrategy": {
      "description": "How the individual activities are consolidated. If a set of activities is related they can be consolidated into one combined activity, such as one actor performing the same action on multiple targets, or multiple actors performing the same action on a single target. The strategy defines the rules for which activities are related.",
      "properties": {
        "none": {
          "$ref": "NoConsolidation",
          "description": "The individual activities are not consolidated."
        },
        "legacy": {
          "description": "The individual activities are consolidated using the legacy strategy.",
          "$ref": "Legacy"
        }
      },
      "type": "object",
      "id": "ConsolidationStrategy"
    },
    "DriveItem": {
      "type": "object",
      "id": "DriveItem",
      "description": "A Drive item, such as a file or folder.",
      "properties": {
        "driveFile": {
          "description": "The Drive item is a file.",
          "$ref": "DriveFile"
        },
        "folder": {
          "description": "This field is deprecated; please use the `driveFolder` field instead.",
          "$ref": "Folder",
          "deprecated": true
        },
        "driveFolder": {
          "description": "The Drive item is a folder. Includes information about the type of folder.",
          "$ref": "DriveFolder"
        },
        "mimeType": {
          "type": "string",
          "description": "The MIME type of the Drive item. See https://developers.google.com/workspace/drive/v3/web/mime-types."
        },
        "title": {
          "description": "The title of the Drive item.",
          "type": "string"
        },
        "owner": {
          "$ref": "Owner",
          "description": "Information about the owner of this Drive item."
        },
        "file": {
          "$ref": "File",
          "deprecated": true,
          "description": "This field is deprecated; please use the `driveFile` field instead."
        },
        "name": {
          "type": "string",
          "description": "The target Drive item. The format is `items/ITEM_ID`."
        }
      }
    },
    "QueryDriveActivityRequest": {
      "type": "object",
      "id": "QueryDriveActivityRequest",
      "description": "The request message for querying Drive activity.",
      "properties": {
        "filter": {
          "description": "The filtering for items returned from this query request. The format of the filter string is a sequence of expressions, joined by an optional \"AND\", where each expression is of the form \"field operator value\". Supported fields: - `time`: Uses numerical operators on date values either in terms of milliseconds since Jan 1, 1970 or in RFC 3339 format. Examples: - `time > 1452409200000 AND time <= 1492812924310` - `time >= \"2016-01-10T01:02:03-05:00\"` - `detail.action_detail_case`: Uses the \"has\" operator (:) and either a singular value or a list of allowed action types enclosed in parentheses, separated by a space. To exclude a result from the response, prepend a hyphen (`-`) to the beginning of the filter string. Examples: - `detail.action_detail_case:RENAME` - `detail.action_detail_case:(CREATE RESTORE)` - `-detail.action_detail_case:MOVE` ",
          "type": "string"
        },
        "ancestorName": {
          "type": "string",
          "description": "Return activities for this Drive folder, plus all children and descendants. The format is `items/ITEM_ID`."
        },
        "pageToken": {
          "type": "string",
          "description": "The token identifies which page of results to return. Set this to the next_page_token value returned from a previous query to obtain the following page of results. If not set, the first page of results is returned."
        },
        "itemName": {
          "type": "string",
          "description": "Return activities for this Drive item. The format is `items/ITEM_ID`."
        },
        "pageSize": {
          "description": "The minimum number of activities desired in the response; the server attempts to return at least this quantity. The server may also return fewer activities if it has a partial response ready before the request times out. If not set, a default value is used.",
          "format": "int32",
          "type": "integer"
        },
        "consolidationStrategy": {
          "description": "Details on how to consolidate related actions that make up the activity. If not set, then related actions aren't consolidated.",
          "$ref": "ConsolidationStrategy"
        }
      }
    },
    "Legacy": {
      "properties": {},
      "type": "object",
      "id": "Legacy",
      "description": "A strategy that consolidates activities using the grouping rules from the legacy V1 Activity API. Similar actions occurring within a window of time can be grouped across multiple targets (such as moving a set of files at once) or multiple actors (such as several users editing the same item). Grouping rules for this strategy are specific to each type of action."
    },
    "DriveReference": {
      "properties": {
        "title": {
          "description": "The title of the shared drive.",
          "type": "string"
        },
        "name": {
          "description": "The resource name of the shared drive. The format is `COLLECTION_ID/DRIVE_ID`. Clients should not assume a specific collection ID for this resource name.",
          "type": "string"
        }
      },
      "id": "DriveReference",
      "description": "A lightweight reference to a shared drive.",
      "type": "object"
    },
    "Assignment": {
      "properties": {
        "assignedUser": {
          "description": "The user to whom the comment was assigned.",
          "$ref": "User"
        },
        "subtype": {
          "type": "string",
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "RESOLVED",
            "REOPENED",
            "REASSIGNED"
          ],
          "enumDescriptions": [
            "Subtype not available.",
            "An assignment was added.",
            "An assignment was deleted.",
            "An assignment reply was added.",
            "An assignment reply was deleted.",
            "An assignment was resolved.",
            "A resolved assignment was reopened.",
            "An assignment was reassigned."
          ],
          "description": "The sub-type of this event."
        }
      },
      "description": "A comment with an assignment.",
      "id": "Assignment",
      "type": "object"
    },
    "Selection": {
      "properties": {
        "value": {
          "description": "Selection value as Field Choice ID.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Selection value as human-readable display string."
        }
      },
      "id": "Selection",
      "type": "object",
      "description": "Wrapper for Selection Field value as combined value/display_name pair for selected choice."
    },
    "UnknownUser": {
      "properties": {},
      "type": "object",
      "id": "UnknownUser",
      "description": "A user about whom nothing is currently known."
    },
    "Rename": {
      "id": "Rename",
      "description": "An object was renamed.",
      "properties": {
        "oldTitle": {
          "type": "string",
          "description": "The previous title of the drive object."
        },
        "newTitle": {
          "type": "string",
          "description": "The new title of the drive object."
        }
      },
      "type": "object"
    },
    "TeamDriveReference": {
      "deprecated": true,
      "id": "TeamDriveReference",
      "description": "This item is deprecated; please see `DriveReference` instead.",
      "type": "object",
      "properties": {
        "name": {
          "description": "This field is deprecated; please see `DriveReference.name` instead.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "This field is deprecated; please see `DriveReference.title` instead."
        }
      }
    },
    "Domain": {
      "properties": {
        "name": {
          "description": "The name of the domain, e.g. `google.com`.",
          "type": "string"
        },
        "legacyId": {
          "description": "An opaque string used to identify this domain.",
          "type": "string"
        }
      },
      "description": "Information about a domain.",
      "id": "Domain",
      "type": "object"
    },
    "Integer": {
      "description": "Wrapper for Integer Field value.",
      "properties": {
        "value": {
          "description": "Integer value.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "Integer",
      "type": "object"
    },
    "FieldValue": {
      "id": "FieldValue",
      "description": "Contains a value of a Field.",
      "properties": {
        "textList": {
          "description": "Text List Field value.",
          "$ref": "TextList"
        },
        "userList": {
          "description": "User List Field value.",
          "$ref": "UserList"
        },
        "user": {
          "description": "User Field value.",
          "$ref": "SingleUser"
        },
        "integer": {
          "description": "Integer Field value.",
          "$ref": "Integer"
        },
        "date": {
          "$ref": "Date",
          "description": "Date Field value."
        },
        "selection": {
          "description": "Selection Field value.",
          "$ref": "Selection"
        },
        "text": {
          "description": "Text Field value.",
          "$ref": "Text"
        },
        "selectionList": {
          "$ref": "SelectionList",
          "description": "Selection List Field value."
        }
      },
      "type": "object"
    },
    "FileComment": {
      "description": "A comment on a file.",
      "properties": {
        "legacyDiscussionId": {
          "type": "string",
          "description": "The discussion thread to which the comment was added. This identifier is an opaque string compatible with the Drive API and references the first comment in a discussion; see https://developers.google.com/workspace/drive/v3/reference/comments/get"
        },
        "parent": {
          "$ref": "DriveItem",
          "description": "The Drive item containing this comment."
        },
        "legacyCommentId": {
          "type": "string",
          "description": "The comment in the discussion thread. This identifier is an opaque string compatible with the Drive API; see https://developers.google.com/workspace/drive/v3/reference/comments/get"
        },
        "linkToDiscussion": {
          "description": "The link to the discussion thread containing this comment, for example, `https://docs.google.com/DOCUMENT_ID/edit?disco=THREAD_ID`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "FileComment"
    },
    "UserList": {
      "description": "Wrapper for UserList Field value.",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "$ref": "SingleUser"
          },
          "description": "User values."
        }
      },
      "id": "UserList",
      "type": "object"
    },
    "AnonymousUser": {
      "type": "object",
      "id": "AnonymousUser",
      "description": "Empty message representing an anonymous user or indicating the authenticated user should be anonymized.",
      "properties": {}
    },
    "DeletedUser": {
      "properties": {},
      "description": "A user whose account has since been deleted.",
      "id": "DeletedUser",
      "type": "object"
    },
    "DriveFolder": {
      "type": "object",
      "description": "A Drive item which is a folder.",
      "id": "DriveFolder",
      "properties": {
        "type": {
          "description": "The type of Drive folder.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "MY_DRIVE_ROOT",
            "SHARED_DRIVE_ROOT",
            "STANDARD_FOLDER"
          ],
          "enumDescriptions": [
            "The folder type is unknown.",
            "The folder is the root of a user's MyDrive.",
            "The folder is the root of a shared drive.",
            "The folder is a standard, non-root, folder."
          ]
        }
      }
    },
    "Folder": {
      "properties": {
        "type": {
          "description": "This field is deprecated; please see `DriveFolder.type` instead.",
          "enumDescriptions": [
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "MY_DRIVE_ROOT",
            "TEAM_DRIVE_ROOT",
            "STANDARD_FOLDER"
          ]
        }
      },
      "id": "Folder",
      "type": "object",
      "deprecated": true,
      "description": "This item is deprecated; please see `DriveFolder` instead."
    },
    "DriveItemReference": {
      "properties": {
        "folder": {
          "description": "This field is deprecated; please use the `driveFolder` field instead.",
          "$ref": "Folder",
          "deprecated": true
        },
        "title": {
          "description": "The title of the Drive item.",
          "type": "string"
        },
        "driveFolder": {
          "description": "The Drive item is a folder. Includes information about the type of folder.",
          "$ref": "DriveFolder"
        },
        "name": {
          "description": "The target Drive item. The format is `items/ITEM_ID`.",
          "type": "string"
        },
        "driveFile": {
          "description": "The Drive item is a file.",
          "$ref": "DriveFile"
        },
        "file": {
          "$ref": "File",
          "description": "This field is deprecated; please use the `driveFile` field instead.",
          "deprecated": true
        }
      },
      "id": "DriveItemReference",
      "description": "A lightweight reference to a Drive item, such as a file or folder.",
      "type": "object"
    },
    "Administrator": {
      "type": "object",
      "description": "Empty message representing an administrator.",
      "properties": {},
      "id": "Administrator"
    },
    "Restore": {
      "id": "Restore",
      "properties": {
        "type": {
          "description": "The type of restore action taken.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "UNTRASH"
          ],
          "enumDescriptions": [
            "The type is not available.",
            "An object was restored from the trash."
          ]
        }
      },
      "type": "object",
      "description": "A deleted object was restored."
    },
    "New": {
      "type": "object",
      "id": "New",
      "description": "An object was created from scratch.",
      "properties": {}
    },
    "NoConsolidation": {
      "type": "object",
      "id": "NoConsolidation",
      "description": "A strategy that does no consolidation of individual activities.",
      "properties": {}
    },
    "ActionDetail": {
      "properties": {
        "dlpChange": {
          "$ref": "DataLeakPreventionChange",
          "description": "A change happened in data leak prevention status."
        },
        "comment": {
          "description": "A change about comments was made.",
          "$ref": "Comment"
        },
        "appliedLabelChange": {
          "description": "Label was changed.",
          "$ref": "AppliedLabelChange"
        },
        "create": {
          "$ref": "Create",
          "description": "An object was created."
        },
        "edit": {
          "description": "An object was edited.",
          "$ref": "Edit"
        },
        "rename": {
          "$ref": "Rename",
          "description": "An object was renamed."
        },
        "permissionChange": {
          "description": "The permission on an object was changed.",
          "$ref": "PermissionChange"
        },
        "reference": {
          "description": "An object was referenced in an application outside of Drive/Docs.",
          "$ref": "ApplicationReference"
        },
        "restore": {
          "$ref": "Restore",
          "description": "A deleted object was restored."
        },
        "settingsChange": {
          "description": "Settings were changed.",
          "$ref": "SettingsChange"
        },
        "delete": {
          "description": "An object was deleted.",
          "$ref": "Delete"
        },
        "move": {
          "description": "An object was moved.",
          "$ref": "Move"
        }
      },
      "description": "Data describing the type and additional information of an action.",
      "type": "object",
      "id": "ActionDetail"
    },
    "Comment": {
      "type": "object",
      "id": "Comment",
      "description": "A change about comments on an object.",
      "properties": {
        "assignment": {
          "description": "A change on an assignment.",
          "$ref": "Assignment"
        },
        "post": {
          "$ref": "Post",
          "description": "A change on a regular posted comment."
        },
        "suggestion": {
          "description": "A change on a suggestion.",
          "$ref": "Suggestion"
        },
        "mentionedUsers": {
          "items": {
            "$ref": "User"
          },
          "description": "Users who are mentioned in this comment.",
          "type": "array"
        }
      }
    },
    "Post": {
      "description": "A regular posted comment.",
      "properties": {
        "subtype": {
          "enumDescriptions": [
            "Subtype not available.",
            "A post was added.",
            "A post was deleted.",
            "A reply was added.",
            "A reply was deleted.",
            "A posted comment was resolved.",
            "A posted comment was reopened."
          ],
          "type": "string",
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "RESOLVED",
            "REOPENED"
          ],
          "description": "The sub-type of this event."
        }
      },
      "id": "Post",
      "type": "object"
    },
    "TextList": {
      "id": "TextList",
      "type": "object",
      "description": "Wrapper for Text List Field value.",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "$ref": "Text"
          },
          "description": "Text values."
        }
      }
    },
    "Drive": {
      "id": "Drive",
      "description": "Information about a shared drive.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of the shared drive. The format is `COLLECTION_ID/DRIVE_ID`. Clients should not assume a specific collection ID for this resource name."
        },
        "root": {
          "description": "The root of this shared drive.",
          "$ref": "DriveItem"
        },
        "title": {
          "description": "The title of the shared drive.",
          "type": "string"
        }
      }
    },
    "SystemEvent": {
      "description": "Event triggered by system operations instead of end users.",
      "id": "SystemEvent",
      "properties": {
        "type": {
          "enumDescriptions": [
            "The event type is unspecified.",
            "The event is a consequence of a user account being deleted.",
            "The event is due to the system automatically purging trash."
          ],
          "description": "The type of the system event that may triggered activity.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "USER_DELETION",
            "TRASH_AUTO_PURGE"
          ]
        }
      },
      "type": "object"
    },
    "DriveFile": {
      "description": "A Drive item which is a file.",
      "properties": {},
      "id": "DriveFile",
      "type": "object"
    },
    "AppliedLabelChangeDetail": {
      "id": "AppliedLabelChangeDetail",
      "description": "A change made to a Label on the Target.",
      "properties": {
        "types": {
          "items": {
            "enumDescriptions": [
              "The type of change to this Label is not available.",
              "The identified Label was added to the Target.",
              "The identified Label was removed from the Target.",
              "Field values were changed on the Target.",
              "The Label was applied as a side-effect of Drive item creation."
            ],
            "type": "string",
            "enum": [
              "TYPE_UNSPECIFIED",
              "LABEL_ADDED",
              "LABEL_REMOVED",
              "LABEL_FIELD_VALUE_CHANGED",
              "LABEL_APPLIED_BY_ITEM_CREATE"
            ]
          },
          "type": "array",
          "description": "The types of changes made to the Label on the Target."
        },
        "fieldChanges": {
          "description": "Field Changes. Only present if `types` contains `LABEL_FIELD_VALUE_CHANGED`.",
          "items": {
            "$ref": "FieldValueChange"
          },
          "type": "array"
        },
        "label": {
          "description": "The Label name representing the Label that changed. This name always contains the revision of the Label that was used when this Action occurred. The format is `labels/id@revision`.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The human-readable title of the label that changed."
        }
      },
      "type": "object"
    },
    "Delete": {
      "id": "Delete",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TRASH",
            "PERMANENT_DELETE"
          ],
          "enumDescriptions": [
            "Deletion type is not available.",
            "An object was put into the trash.",
            "An object was deleted permanently."
          ],
          "description": "The type of delete action taken."
        }
      },
      "description": "An object was deleted."
    },
    "SingleUser": {
      "type": "object",
      "id": "SingleUser",
      "properties": {
        "value": {
          "type": "string",
          "description": "User value as email."
        }
      },
      "description": "Wrapper for User Field value."
    },
    "Date": {
      "id": "Date",
      "type": "object",
      "description": "Wrapper for Date Field value.",
      "properties": {
        "value": {
          "format": "google-datetime",
          "description": "Date value.",
          "type": "string"
        }
      }
    },
    "Impersonation": {
      "type": "object",
      "description": "Information about an impersonation, where an admin acts on behalf of an end user. Information about the acting admin is not currently available.",
      "properties": {
        "impersonatedUser": {
          "$ref": "User",
          "description": "The impersonated user."
        }
      },
      "id": "Impersonation"
    },
    "Action": {
      "description": "Information about the action.",
      "properties": {
        "timeRange": {
          "$ref": "TimeRange",
          "description": "The action occurred over this time range."
        },
        "actor": {
          "description": "The actor responsible for this action (or empty if all actors are responsible).",
          "$ref": "Actor"
        },
        "target": {
          "description": "The target this action affects (or empty if affecting all targets). This represents the state of the target immediately after this action occurred.",
          "$ref": "Target"
        },
        "timestamp": {
          "type": "string",
          "description": "The action occurred at this specific time.",
          "format": "google-datetime"
        },
        "detail": {
          "description": "The type and detailed information about the action.",
          "$ref": "ActionDetail"
        }
      },
      "type": "object",
      "id": "Action"
    },
    "ApplicationReference": {
      "id": "ApplicationReference",
      "properties": {
        "type": {
          "description": "The reference type corresponding to this event.",
          "type": "string",
          "enum": [
            "UNSPECIFIED_REFERENCE_TYPE",
            "LINK",
            "DISCUSS"
          ],
          "enumDescriptions": [
            "The type is not available.",
            "The links of one or more Drive items were posted.",
            "Comments were made regarding a Drive item."
          ]
        }
      },
      "description": "Activity in applications other than Drive.",
      "type": "object"
    },
    "AppliedLabelChange": {
      "type": "object",
      "properties": {
        "changes": {
          "type": "array",
          "items": {
            "$ref": "AppliedLabelChangeDetail"
          },
          "description": "Changes that were made to the Label on the Target."
        }
      },
      "id": "AppliedLabelChange",
      "description": "Label changes that were made on the Target."
    },
    "File": {
      "id": "File",
      "properties": {},
      "description": "This item is deprecated; please see `DriveFile` instead.",
      "type": "object",
      "deprecated": true
    },
    "SelectionList": {
      "description": "Wrapper for SelectionList Field value.",
      "type": "object",
      "id": "SelectionList",
      "properties": {
        "values": {
          "description": "Selection values.",
          "type": "array",
          "items": {
            "$ref": "Selection"
          }
        }
      }
    },
    "Anyone": {
      "description": "Represents any user (including a logged out user).",
      "properties": {},
      "id": "Anyone",
      "type": "object"
    },
    "PermissionChange": {
      "type": "object",
      "id": "PermissionChange",
      "description": "A change of the permission setting on an item.",
      "properties": {
        "removedPermissions": {
          "type": "array",
          "description": "The set of permissions removed by this change.",
          "items": {
            "$ref": "Permission"
          }
        },
        "addedPermissions": {
          "items": {
            "$ref": "Permission"
          },
          "description": "The set of permissions added by this change.",
          "type": "array"
        }
      }
    },
    "TimeRange": {
      "properties": {
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The end of the time range."
        },
        "startTime": {
          "format": "google-datetime",
          "description": "The start of the time range.",
          "type": "string"
        }
      },
      "description": "Information about time ranges.",
      "type": "object",
      "id": "TimeRange"
    },
    "DataLeakPreventionChange": {
      "id": "DataLeakPreventionChange",
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "An update to the DLP state that is neither FLAGGED or CLEARED.",
            "Document has been flagged as containing sensitive content.",
            "Document is no longer flagged as containing sensitive content."
          ],
          "description": "The type of Data Leak Prevention (DLP) change.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "FLAGGED",
            "CLEARED"
          ]
        }
      },
      "description": "A change in the object's data leak prevention status."
    },
    "TeamDrive": {
      "description": "This item is deprecated; please see `Drive` instead.",
      "deprecated": true,
      "properties": {
        "title": {
          "type": "string",
          "description": "This field is deprecated; please see `Drive.title` instead."
        },
        "name": {
          "description": "This field is deprecated; please see `Drive.name` instead.",
          "type": "string"
        },
        "root": {
          "$ref": "DriveItem",
          "description": "This field is deprecated; please see `Drive.root` instead."
        }
      },
      "type": "object",
      "id": "TeamDrive"
    },
    "User": {
      "properties": {
        "knownUser": {
          "$ref": "KnownUser",
          "description": "A known user."
        },
        "deletedUser": {
          "description": "A user whose account has since been deleted.",
          "$ref": "DeletedUser"
        },
        "unknownUser": {
          "$ref": "UnknownUser",
          "description": "A user about whom nothing is currently known."
        }
      },
      "description": "Information about an end user.",
      "type": "object",
      "id": "User"
    },
    "KnownUser": {
      "type": "object",
      "id": "KnownUser",
      "properties": {
        "personName": {
          "type": "string",
          "description": "The identifier for this user that can be used with the People API to get more information. The format is `people/ACCOUNT_ID`. See https://developers.google.com/people/."
        },
        "isCurrentUser": {
          "description": "True if this is the user making the request.",
          "type": "boolean"
        }
      },
      "description": "A known user."
    },
    "Group": {
      "type": "object",
      "description": "Information about a group.",
      "properties": {
        "title": {
          "type": "string",
          "description": "The title of the group."
        },
        "email": {
          "description": "The email address of the group.",
          "type": "string"
        }
      },
      "id": "Group"
    },
    "Copy": {
      "description": "An object was created by copying an existing object.",
      "id": "Copy",
      "properties": {
        "originalObject": {
          "description": "The original object.",
          "$ref": "TargetReference"
        }
      },
      "type": "object"
    },
    "Create": {
      "id": "Create",
      "properties": {
        "new": {
          "$ref": "New",
          "description": "If present, indicates the object was newly created (e.g. as a blank document), not derived from a Drive object or external object."
        },
        "copy": {
          "$ref": "Copy",
          "description": "If present, indicates the object was created by copying an existing Drive object."
        },
        "upload": {
          "$ref": "Upload",
          "description": "If present, indicates the object originated externally and was uploaded to Drive."
        }
      },
      "description": "An object was created.",
      "type": "object"
    },
    "RestrictionChange": {
      "properties": {
        "feature": {
          "type": "string",
          "enumDescriptions": [
            "The feature which changed restriction settings was not available.",
            "When restricted, this prevents items from being shared outside the domain.",
            "When restricted, this prevents direct sharing of individual items.",
            "Deprecated: Use READERS_CAN_DOWNLOAD instead.",
            "When restricted, this prevents use of Drive File Stream.",
            "When restricted, this limits sharing of folders to managers only.",
            "When restricted, this prevents actions like copy, download, and print for readers. Replaces ITEM_DUPLICATION.",
            "When restricted, this prevents actions like copy, download, and print for writers."
          ],
          "description": "The feature which had a change in restriction policy.",
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "FEATURE_UNSPECIFIED",
            "SHARING_OUTSIDE_DOMAIN",
            "DIRECT_SHARING",
            "ITEM_DUPLICATION",
            "DRIVE_FILE_STREAM",
            "FILE_ORGANIZER_CAN_SHARE_FOLDERS",
            "READERS_CAN_DOWNLOAD",
            "WRITERS_CAN_DOWNLOAD"
          ]
        },
        "newRestriction": {
          "description": "The restriction in place after the change.",
          "enumDescriptions": [
            "The type of restriction is not available.",
            "The feature is available without restriction.",
            "The use of this feature is fully restricted."
          ],
          "type": "string",
          "enum": [
            "RESTRICTION_UNSPECIFIED",
            "UNRESTRICTED",
            "FULLY_RESTRICTED"
          ]
        }
      },
      "id": "RestrictionChange",
      "type": "object",
      "description": "Information about restriction policy changes to a feature."
    },
    "Actor": {
      "type": "object",
      "id": "Actor",
      "properties": {
        "user": {
          "$ref": "User",
          "description": "An end user."
        },
        "anonymous": {
          "description": "An anonymous user.",
          "$ref": "AnonymousUser"
        },
        "impersonation": {
          "$ref": "Impersonation",
          "description": "An account acting on behalf of another."
        },
        "administrator": {
          "description": "An administrator.",
          "$ref": "Administrator"
        },
        "system": {
          "description": "A non-user actor (i.e. system triggered).",
          "$ref": "SystemEvent"
        }
      },
      "description": "The actor of a Drive activity."
    },
    "Upload": {
      "id": "Upload",
      "type": "object",
      "properties": {},
      "description": "An object was uploaded into Drive."
    },
    "Owner": {
      "type": "object",
      "description": "Information about the owner of a Drive item.",
      "properties": {
        "user": {
          "$ref": "User",
          "description": "The user that owns the Drive item."
        },
        "teamDrive": {
          "$ref": "TeamDriveReference",
          "description": "This field is deprecated; please use the `drive` field instead.",
          "deprecated": true
        },
        "domain": {
          "description": "The domain of the Drive item owner.",
          "$ref": "Domain"
        },
        "drive": {
          "description": "The drive that owns the item.",
          "$ref": "DriveReference"
        }
      },
      "id": "Owner"
    },
    "FieldValueChange": {
      "description": "Change to a Field value.",
      "type": "object",
      "properties": {
        "oldValue": {
          "$ref": "FieldValue",
          "description": "The value that was previously set on the field. If not present, the field was newly set. At least one of {old_value|new_value} is always set."
        },
        "newValue": {
          "description": "The value that is now set on the field. If not present, the field was cleared. At least one of {old_value|new_value} is always set.",
          "$ref": "FieldValue"
        },
        "displayName": {
          "description": "The human-readable display name for this field.",
          "type": "string"
        },
        "fieldId": {
          "description": "The ID of this field. Field IDs are unique within a Label.",
          "type": "string"
        }
      },
      "id": "FieldValueChange"
    },
    "TargetReference": {
      "type": "object",
      "id": "TargetReference",
      "description": "A lightweight reference to the target of activity.",
      "properties": {
        "drive": {
          "description": "The target is a shared drive.",
          "$ref": "DriveReference"
        },
        "driveItem": {
          "description": "The target is a Drive item.",
          "$ref": "DriveItemReference"
        },
        "teamDrive": {
          "$ref": "TeamDriveReference",
          "description": "This field is deprecated; please use the `drive` field instead.",
          "deprecated": true
        }
      }
    }
  },
  "resources": {
    "activity": {
      "methods": {
        "query": {
          "httpMethod": "POST",
          "flatPath": "v2/activity:query",
          "path": "v2/activity:query",
          "description": "Query past activity in Google Drive.",
          "scopes": [
            "https://www.googleapis.com/auth/drive.activity",
            "https://www.googleapis.com/auth/drive.activity.readonly"
          ],
          "request": {
            "$ref": "QueryDriveActivityRequest"
          },
          "id": "driveactivity.activity.query",
          "response": {
            "$ref": "QueryDriveActivityResponse"
          },
          "parameters": {},
          "parameterOrder": []
        }
      }
    }
  },
  "batchPath": "batch",
  "ownerName": "Google",
  "servicePath": "",
  "revision": "20260825",
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://driveactivity.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.activity.readonly": {
          "description": "View the activity record of files in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.activity": {
          "description": "View and add to the activity record of files in your Google Drive"
        }
      }
    }
  },
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "alt": {
      "type": "string",
      "default": "json",
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    }
  },
  "id": "driveactivity:v2",
  "name": "driveactivity",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "canonicalName": "Drive Activity"
}