{
  "version": "v2",
  "kind": "discovery#restDescription",
  "name": "drive",
  "servicePath": "drive/v2/",
  "id": "drive:v2",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "description": "The Google Drive API allows clients to access resources from Google Drive.",
  "basePath": "/drive/v2/",
  "ownerName": "Google",
  "documentationLink": "https://developers.google.com/workspace/drive/",
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://www.mtls.googleapis.com/",
  "title": "Google Drive API",
  "resources": {
    "revisions": {
      "methods": {
        "delete": {
          "description": "Permanently deletes a file version. You can only delete revisions for files with binary content, like images or videos. Revisions for other files, like Google Docs or Sheets, and the last remaining file version can't be deleted.",
          "parameters": {
            "fileId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the file.",
              "required": true
            },
            "revisionId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the revision."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "path": "files/{fileId}/revisions/{revisionId}",
          "parameterOrder": [
            "fileId",
            "revisionId"
          ],
          "flatPath": "files/{fileId}/revisions/{revisionId}",
          "httpMethod": "DELETE",
          "id": "drive.revisions.delete"
        },
        "update": {
          "response": {
            "$ref": "Revision"
          },
          "description": "Updates a revision.",
          "parameterOrder": [
            "fileId",
            "revisionId"
          ],
          "parameters": {
            "fileId": {
              "location": "path",
              "type": "string",
              "description": "The ID for the file.",
              "required": true
            },
            "revisionId": {
              "description": "The ID for the revision.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "id": "drive.revisions.update",
          "path": "files/{fileId}/revisions/{revisionId}",
          "flatPath": "files/{fileId}/revisions/{revisionId}",
          "request": {
            "$ref": "Revision"
          },
          "httpMethod": "PUT"
        },
        "list": {
          "httpMethod": "GET",
          "flatPath": "files/{fileId}/revisions",
          "path": "files/{fileId}/revisions",
          "description": "Lists a file's revisions. **Important:** The list of revisions returned by this method might be incomplete for files with a large revision history, including frequently edited Google Docs, Sheets, and Slides. Older revisions might be omitted from the response, meaning the first revision returned may not be the oldest existing revision. The revision history visible in the Workspace editor user interface might be more complete than the list returned by the API.",
          "response": {
            "$ref": "RevisionList"
          },
          "id": "drive.revisions.list",
          "parameterOrder": [
            "fileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "Page token for revisions. To get the next page of results, set this parameter to the value of \"nextPageToken\" from the previous response.",
              "location": "query"
            },
            "fileId": {
              "location": "path",
              "description": "The ID of the file.",
              "required": true,
              "type": "string"
            },
            "maxResults": {
              "minimum": "1",
              "maximum": "1000",
              "default": "200",
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "Maximum number of revisions to return."
            }
          }
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "files/{fileId}/revisions/{revisionId}",
          "httpMethod": "GET",
          "id": "drive.revisions.get",
          "description": "Gets a specific revision.",
          "parameterOrder": [
            "fileId",
            "revisionId"
          ],
          "path": "files/{fileId}/revisions/{revisionId}",
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "revisionId": {
              "description": "The ID of the revision.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "Revision"
          }
        },
        "patch": {
          "httpMethod": "PATCH",
          "flatPath": "files/{fileId}/revisions/{revisionId}",
          "parameterOrder": [
            "fileId",
            "revisionId"
          ],
          "request": {
            "$ref": "Revision"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "path": "files/{fileId}/revisions/{revisionId}",
          "description": "Updates a revision.",
          "parameters": {
            "revisionId": {
              "description": "The ID for the revision.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "fileId": {
              "required": true,
              "description": "The ID for the file.",
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Revision"
          },
          "id": "drive.revisions.patch"
        }
      }
    },
    "replies": {
      "methods": {
        "update": {
          "flatPath": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "description": "Updates an existing reply.",
          "parameterOrder": [
            "fileId",
            "commentId",
            "replyId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "httpMethod": "PUT",
          "path": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "id": "drive.replies.update",
          "parameters": {
            "fileId": {
              "required": true,
              "description": "The ID of the file.",
              "location": "path",
              "type": "string"
            },
            "replyId": {
              "required": true,
              "description": "The ID of the reply.",
              "location": "path",
              "type": "string"
            },
            "commentId": {
              "location": "path",
              "description": "The ID of the comment.",
              "required": true,
              "type": "string"
            }
          },
          "request": {
            "$ref": "CommentReply"
          },
          "response": {
            "$ref": "CommentReply"
          }
        },
        "patch": {
          "request": {
            "$ref": "CommentReply"
          },
          "path": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "httpMethod": "PATCH",
          "flatPath": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "id": "drive.replies.patch",
          "response": {
            "$ref": "CommentReply"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameterOrder": [
            "fileId",
            "commentId",
            "replyId"
          ],
          "description": "Updates an existing reply.",
          "parameters": {
            "commentId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the comment."
            },
            "replyId": {
              "type": "string",
              "description": "The ID of the reply.",
              "location": "path",
              "required": true
            },
            "fileId": {
              "required": true,
              "description": "The ID of the file.",
              "type": "string",
              "location": "path"
            }
          }
        },
        "list": {
          "description": "Lists all of the replies to a comment.",
          "response": {
            "$ref": "CommentReplyList"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "path": "files/{fileId}/comments/{commentId}/replies",
          "flatPath": "files/{fileId}/comments/{commentId}/replies",
          "parameters": {
            "includeDeleted": {
              "location": "query",
              "default": "false",
              "type": "boolean",
              "description": "If set, all replies, including deleted replies (with content stripped) will be returned."
            },
            "commentId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the comment."
            },
            "maxResults": {
              "description": "The maximum number of replies to include in the response, used for paging.",
              "type": "integer",
              "minimum": "0",
              "maximum": "100",
              "location": "query",
              "default": "20",
              "format": "int32"
            },
            "pageToken": {
              "type": "string",
              "description": "The continuation token, used to page through large result sets. To get the next page of results, set this parameter to the value of \"nextPageToken\" from the previous response.",
              "location": "query"
            },
            "fileId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The ID of the file."
            }
          },
          "id": "drive.replies.list",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ]
        },
        "delete": {
          "httpMethod": "DELETE",
          "parameterOrder": [
            "fileId",
            "commentId",
            "replyId"
          ],
          "flatPath": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "parameters": {
            "replyId": {
              "required": true,
              "description": "The ID of the reply.",
              "type": "string",
              "location": "path"
            },
            "fileId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the file."
            },
            "commentId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the comment.",
              "required": true
            }
          },
          "id": "drive.replies.delete",
          "path": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "description": "Deletes a reply.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ]
        },
        "insert": {
          "flatPath": "files/{fileId}/comments/{commentId}/replies",
          "description": "Creates a new reply to the given comment.",
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "commentId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the comment.",
              "required": true
            }
          },
          "id": "drive.replies.insert",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "response": {
            "$ref": "CommentReply"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "CommentReply"
          },
          "path": "files/{fileId}/comments/{commentId}/replies",
          "parameterOrder": [
            "fileId",
            "commentId"
          ]
        },
        "get": {
          "response": {
            "$ref": "CommentReply"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "httpMethod": "GET",
          "id": "drive.replies.get",
          "path": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "parameterOrder": [
            "fileId",
            "commentId",
            "replyId"
          ],
          "flatPath": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "parameters": {
            "commentId": {
              "description": "The ID of the comment.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "replyId": {
              "location": "path",
              "required": true,
              "description": "The ID of the reply.",
              "type": "string"
            },
            "fileId": {
              "type": "string",
              "description": "The ID of the file.",
              "location": "path",
              "required": true
            },
            "includeDeleted": {
              "location": "query",
              "description": "If set, this will succeed when retrieving a deleted reply.",
              "type": "boolean",
              "default": "false"
            }
          },
          "description": "Gets a reply."
        }
      }
    },
    "changes": {
      "methods": {
        "get": {
          "description": "Deprecated: Use `changes.getStartPageToken` and `changes.list` to retrieve recent changes.",
          "httpMethod": "GET",
          "flatPath": "changes/{changeId}",
          "response": {
            "$ref": "Change"
          },
          "id": "drive.changes.get",
          "path": "changes/{changeId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameters": {
            "teamDriveId": {
              "deprecated": true,
              "location": "query",
              "description": "Deprecated: Use `driveId` instead.",
              "type": "string"
            },
            "changeId": {
              "type": "string",
              "required": true,
              "description": "The ID of the change.",
              "location": "path"
            },
            "supportsTeamDrives": {
              "location": "query",
              "deprecated": true,
              "type": "boolean",
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "supportsAllDrives": {
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "default": "false"
            },
            "driveId": {
              "description": "The shared drive from which the change will be returned.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [
            "changeId"
          ]
        },
        "list": {
          "id": "drive.changes.list",
          "description": "Lists the changes for a user or shared drive.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "changes",
          "path": "changes",
          "parameters": {
            "spaces": {
              "type": "string",
              "description": "A comma-separated list of spaces to query. Supported values are `drive`, `appDataFolder` and `photos`.",
              "location": "query"
            },
            "pageToken": {
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response or to the response from the getStartPageToken method.",
              "type": "string",
              "location": "query"
            },
            "driveId": {
              "location": "query",
              "type": "string",
              "description": "The shared drive from which changes will be returned. If specified the change IDs will be reflective of the shared drive; use the combined drive ID and change ID as an identifier."
            },
            "supportsAllDrives": {
              "location": "query",
              "default": "false",
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            },
            "supportsTeamDrives": {
              "default": "false",
              "type": "boolean",
              "location": "query",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "deprecated": true
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query",
              "type": "string"
            },
            "startChangeId": {
              "description": "Deprecated: Use `pageToken` instead.",
              "deprecated": true,
              "type": "string",
              "format": "int64",
              "location": "query"
            },
            "includeTeamDriveItems": {
              "location": "query",
              "default": "false",
              "deprecated": true,
              "description": "Deprecated: Use `includeItemsFromAllDrives` instead.",
              "type": "boolean"
            },
            "includeItemsFromAllDrives": {
              "description": "Whether both My Drive and shared drive items should be included in results.",
              "default": "false",
              "location": "query",
              "type": "boolean"
            },
            "includeCorpusRemovals": {
              "description": "Whether changes should include the file resource if the file is still accessible by the user at the time of the request, even when a file was removed from the list of changes and there will be no further change entries for this file.",
              "location": "query",
              "default": "false",
              "type": "boolean"
            },
            "includeDeleted": {
              "location": "query",
              "description": "Whether to include changes indicating that items have been removed from the list of changes, for example by deletion or loss of access.",
              "default": "true",
              "type": "boolean"
            },
            "includeSubscribed": {
              "location": "query",
              "default": "true",
              "type": "boolean",
              "description": "Whether to include changes outside the My Drive hierarchy in the result. When set to false, changes to files such as those in the Application Data folder or shared files which have not been added to My Drive will be omitted from the result."
            },
            "maxResults": {
              "description": "Maximum number of changes to return.",
              "format": "int32",
              "location": "query",
              "type": "integer",
              "minimum": "1",
              "default": "100"
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query",
              "type": "string"
            },
            "teamDriveId": {
              "description": "Deprecated: Use `driveId` instead.",
              "location": "query",
              "deprecated": true,
              "type": "string"
            }
          },
          "supportsSubscription": true,
          "response": {
            "$ref": "ChangeList"
          },
          "parameterOrder": []
        },
        "getStartPageToken": {
          "flatPath": "changes/startPageToken",
          "httpMethod": "GET",
          "id": "drive.changes.getStartPageToken",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "description": "Gets the starting pageToken for listing future changes.",
          "response": {
            "$ref": "StartPageToken"
          },
          "parameters": {
            "teamDriveId": {
              "deprecated": true,
              "description": "Deprecated: Use `driveId` instead.",
              "type": "string",
              "location": "query"
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "default": "false",
              "location": "query"
            },
            "supportsTeamDrives": {
              "type": "boolean",
              "deprecated": true,
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "default": "false",
              "location": "query"
            },
            "driveId": {
              "description": "The ID of the shared drive for which the starting pageToken for listing future changes from that shared drive will be returned.",
              "type": "string",
              "location": "query"
            }
          },
          "path": "changes/startPageToken"
        },
        "watch": {
          "flatPath": "changes/watch",
          "parameters": {
            "startChangeId": {
              "location": "query",
              "type": "string",
              "description": "Deprecated: Use `pageToken` instead.",
              "deprecated": true,
              "format": "int64"
            },
            "driveId": {
              "type": "string",
              "location": "query",
              "description": "The shared drive from which changes will be returned. If specified the change IDs will be reflective of the shared drive; use the combined drive ID and change ID as an identifier."
            },
            "supportsAllDrives": {
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "default": "false"
            },
            "teamDriveId": {
              "deprecated": true,
              "description": "Deprecated: Use `driveId` instead.",
              "location": "query",
              "type": "string"
            },
            "includePermissionsForView": {
              "type": "string",
              "location": "query",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported."
            },
            "includeCorpusRemovals": {
              "type": "boolean",
              "location": "query",
              "default": "false",
              "description": "Whether changes should include the file resource if the file is still accessible by the user at the time of the request, even when a file was removed from the list of changes and there will be no further change entries for this file."
            },
            "includeLabels": {
              "location": "query",
              "type": "string",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response."
            },
            "includeTeamDriveItems": {
              "deprecated": true,
              "description": "Deprecated: Use `includeItemsFromAllDrives` instead.",
              "type": "boolean",
              "default": "false",
              "location": "query"
            },
            "spaces": {
              "description": "A comma-separated list of spaces to query. Supported values are `drive`, `appDataFolder` and `photos`.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response or to the response from the getStartPageToken method.",
              "type": "string"
            },
            "includeItemsFromAllDrives": {
              "description": "Whether both My Drive and shared drive items should be included in results.",
              "type": "boolean",
              "default": "false",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "minimum": "1",
              "description": "Maximum number of changes to return.",
              "format": "int32",
              "default": "100",
              "location": "query"
            },
            "includeDeleted": {
              "default": "true",
              "location": "query",
              "description": "Whether to include changes indicating that items have been removed from the list of changes, for example by deletion or loss of access.",
              "type": "boolean"
            },
            "includeSubscribed": {
              "description": "Whether to include changes outside the My Drive hierarchy in the result. When set to false, changes to files such as those in the Application Data folder or shared files which have not been added to My Drive will be omitted from the result.",
              "default": "true",
              "location": "query",
              "type": "boolean"
            },
            "supportsTeamDrives": {
              "location": "query",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean",
              "deprecated": true,
              "default": "false"
            }
          },
          "description": "Subscribe to changes for a user.",
          "request": {
            "parameterName": "resource",
            "$ref": "Channel"
          },
          "path": "changes/watch",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "response": {
            "$ref": "Channel"
          },
          "httpMethod": "POST",
          "id": "drive.changes.watch",
          "supportsSubscription": true,
          "parameterOrder": []
        }
      }
    },
    "files": {
      "methods": {
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "flatPath": "files",
          "description": " Inserts a new file. This method supports an */upload* URI and accepts uploaded media with the following characteristics: - *Maximum file size:* 5,120 GB - *Accepted Media MIME types:*`*/*` Note: Specify a valid MIME type, rather than the literal `*/*` value. The literal `*/*` is only used to indicate that any valid MIME type can be uploaded. For more information on uploading files, see [Upload file data](https://developers.google.com/workspace/drive/api/guides/manage-uploads). Apps creating shortcuts with `files.insert` must specify the MIME type `application/vnd.google-apps.shortcut`. Apps should specify a file extension in the `title` property when inserting files with the API. For example, an operation to insert a JPEG file should specify something like `\"title\": \"cat.jpg\"` in the metadata. Subsequent `GET` requests include the read-only `fileExtension` property populated with the extension originally specified in the `title` property. When a Google Drive user requests to download a file, or when the file is downloaded through the sync client, Drive builds a full filename (with extension) based on the title. In cases where the extension is missing, Drive attempts to determine the extension based on the file's MIME type.",
          "parameters": {
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "default": "false",
              "type": "boolean",
              "deprecated": true
            },
            "includePermissionsForView": {
              "location": "query",
              "type": "string",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported."
            },
            "timedTextLanguage": {
              "description": "The language of the timed text.",
              "location": "query",
              "type": "string"
            },
            "convert": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to convert this file to the corresponding Docs Editors format.",
              "default": "false"
            },
            "useContentAsIndexableText": {
              "type": "boolean",
              "default": "false",
              "location": "query",
              "description": "Whether to use the content as indexable text."
            },
            "includeLabels": {
              "location": "query",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string"
            },
            "timedTextTrackName": {
              "type": "string",
              "location": "query",
              "description": "The timed text track name."
            },
            "enforceSingleParent": {
              "type": "boolean",
              "default": "false",
              "description": "Deprecated: Creating files in multiple folders is no longer supported.",
              "location": "query",
              "deprecated": true
            },
            "ocr": {
              "description": "Whether to attempt OCR on .jpg, .png, .gif, or .pdf uploads.",
              "default": "false",
              "type": "boolean",
              "location": "query"
            },
            "supportsAllDrives": {
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false",
              "location": "query"
            },
            "visibility": {
              "enumDescriptions": [
                "The visibility of the new file is determined by the user's default visibility or sharing policies.",
                "The user's default visibility or sharing policies are ignored, and the new file is only visible to the owner and any users with permissions inherited from the parent folder."
              ],
              "type": "string",
              "location": "query",
              "description": "The visibility of the new file. Permissions are still inherited from parent folders. This parameter is only relevant when `convert=false`.",
              "default": "DEFAULT",
              "enum": [
                "DEFAULT",
                "PRIVATE"
              ]
            },
            "pinned": {
              "type": "boolean",
              "default": "false",
              "description": "Whether to pin the head revision of the uploaded file. A file can have a maximum of 200 pinned revisions.",
              "location": "query"
            },
            "ocrLanguage": {
              "location": "query",
              "description": "If ocr is true, hints at the language to use. Valid values are BCP 47 codes.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "File"
          },
          "httpMethod": "POST",
          "path": "files",
          "request": {
            "$ref": "File"
          },
          "supportsMediaUpload": true,
          "parameterOrder": [],
          "id": "drive.files.insert",
          "mediaUpload": {
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/drive/v2/files"
              },
              "resumable": {
                "path": "/resumable/upload/drive/v2/files",
                "multipart": true
              }
            },
            "accept": [
              "*/*"
            ],
            "maxSize": "5497558138880"
          }
        },
        "generateIds": {
          "flatPath": "files/generateIds",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "id": "drive.files.generateIds",
          "parameters": {
            "type": {
              "default": "files",
              "description": "The type of items which the IDs can be used for. Supported values are `files` and `shortcuts`. Note that `shortcuts` are only supported in the `drive` `space`. (Default: `files`)",
              "location": "query",
              "type": "string"
            },
            "space": {
              "type": "string",
              "location": "query",
              "default": "drive",
              "description": "The space in which the IDs can be used to create new files. Supported values are `drive` and `appDataFolder`. (Default: `drive`)"
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "minimum": "1",
              "maximum": "1000",
              "format": "int32",
              "default": "10",
              "description": "Maximum number of IDs to return."
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "GeneratedIds"
          },
          "path": "files/generateIds",
          "description": "Generates a set of file IDs which can be provided in insert or copy requests."
        },
        "update": {
          "path": "files/{fileId}",
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "protocols": {
              "resumable": {
                "path": "/resumable/upload/drive/v2/files/{fileId}",
                "multipart": true
              },
              "simple": {
                "path": "/upload/drive/v2/files/{fileId}",
                "multipart": true
              }
            },
            "maxSize": "5497558138880"
          },
          "parameters": {
            "timedTextLanguage": {
              "description": "The language of the timed text.",
              "location": "query",
              "type": "string"
            },
            "includeLabels": {
              "location": "query",
              "type": "string",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response."
            },
            "enforceSingleParent": {
              "description": "Deprecated: Adding files to multiple folders is no longer supported. Use `shortcuts` instead.",
              "default": "false",
              "location": "query",
              "deprecated": true,
              "type": "boolean"
            },
            "ocrLanguage": {
              "type": "string",
              "description": "If ocr is true, hints at the language to use. Valid values are BCP 47 codes.",
              "location": "query"
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "default": "false",
              "type": "boolean",
              "deprecated": true,
              "location": "query"
            },
            "addParents": {
              "location": "query",
              "type": "string",
              "description": "Comma-separated list of parent IDs to add."
            },
            "includePermissionsForView": {
              "location": "query",
              "type": "string",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported."
            },
            "supportsAllDrives": {
              "default": "false",
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean"
            },
            "modifiedDateBehavior": {
              "type": "string",
              "description": "Determines the behavior in which `modifiedDate` is updated. This overrides `setModifiedDate`.",
              "enum": [
                "fromBody",
                "fromBodyIfNeeded",
                "fromBodyOrNow",
                "noChange",
                "now",
                "nowIfNeeded"
              ],
              "location": "query",
              "enumDescriptions": [
                "Set `modifiedDate` to the value provided in the body of the request. No change if no value was provided.",
                "Set `modifiedDate` to the value provided in the body of the request depending on other contents of the update.",
                "Set modifiedDate to the value provided in the body of the request, or to the current time if no value was provided.",
                "Maintain the previous value of `modifiedDate`.",
                "Set `modifiedDate` to the current time.",
                "Set `modifiedDate` to the current time depending on contents of the update."
              ]
            },
            "updateViewedDate": {
              "description": "Whether to update the view date after successfully updating the file.",
              "default": "true",
              "location": "query",
              "type": "boolean"
            },
            "convert": {
              "location": "query",
              "deprecated": true,
              "default": "false",
              "type": "boolean",
              "description": "Deprecated: This parameter has no function."
            },
            "timedTextTrackName": {
              "location": "query",
              "type": "string",
              "description": "The timed text track name."
            },
            "removeParents": {
              "location": "query",
              "type": "string",
              "description": "Comma-separated list of parent IDs to remove."
            },
            "ocr": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to attempt OCR on .jpg, .png, .gif, or .pdf uploads.",
              "default": "false"
            },
            "fileId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the file to update."
            },
            "newRevision": {
              "location": "query",
              "description": "Whether a blob upload should create a new revision. If false, the blob data in the current head revision is replaced. If true or not set, a new blob is created as head revision, and previous unpinned revisions are preserved for a short period of time. Pinned revisions are stored indefinitely, using additional storage quota, up to a maximum of 200 revisions. For details on how revisions are retained, see the [Drive Help Center](https://support.google.com/drive/answer/2409045).",
              "default": "true",
              "type": "boolean"
            },
            "useContentAsIndexableText": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to use the content as indexable text.",
              "default": "false"
            },
            "setModifiedDate": {
              "description": "Whether to set the modified date using the value supplied in the request body. Setting this field to `true` is equivalent to `modifiedDateBehavior=fromBodyOrNow`, and `false` is equivalent to `modifiedDateBehavior=now`. To prevent any changes to the modified date set `modifiedDateBehavior=noChange`.",
              "location": "query",
              "default": "false",
              "type": "boolean"
            },
            "pinned": {
              "location": "query",
              "description": "Whether to pin the new revision. A file can have a maximum of 200 pinned revisions.",
              "default": "false",
              "type": "boolean"
            }
          },
          "parameterOrder": [
            "fileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.scripts"
          ],
          "request": {
            "$ref": "File"
          },
          "flatPath": "files/{fileId}",
          "description": " Updates a file's metadata, content, or both. When calling this method, only populate fields in the request that you want to modify. When updating fields, some fields might be changed automatically, such as `modifiedDate`. This method supports patch semantics. This method supports an */upload* URI and accepts uploaded media with the following characteristics: - *Maximum file size:* 5,120 GB - *Accepted Media MIME types:* `*/*` (Specify a valid MIME type, rather than the literal `*/*` value. The literal `*/*` is only used to indicate that any valid MIME type can be uploaded. For more information, see [Google Workspace and Google Drive supported MIME types](https://developers.google.com/workspace/drive/api/guides/mime-types).) For more information on uploading files, see [Upload file data](https://developers.google.com/workspace/drive/api/guides/manage-uploads).",
          "response": {
            "$ref": "File"
          },
          "httpMethod": "PUT",
          "id": "drive.files.update",
          "supportsMediaUpload": true
        },
        "trash": {
          "parameters": {
            "supportsAllDrives": {
              "location": "query",
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false"
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "type": "string",
              "location": "query"
            },
            "supportsTeamDrives": {
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "default": "false",
              "deprecated": true,
              "location": "query"
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query",
              "type": "string"
            },
            "fileId": {
              "description": "The ID of the file to trash.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "files/{fileId}/trash",
          "parameterOrder": [
            "fileId"
          ],
          "path": "files/{fileId}/trash",
          "response": {
            "$ref": "File"
          },
          "id": "drive.files.trash",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "description": "Moves a file to the trash. The currently authenticated user must own the file or be at least a `fileOrganizer` on the parent for shared drive files.",
          "httpMethod": "POST"
        },
        "modifyLabels": {
          "response": {
            "$ref": "ModifyLabelsResponse"
          },
          "parameters": {
            "fileId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the file to which the labels belong.",
              "required": true
            }
          },
          "path": "files/{fileId}/modifyLabels",
          "id": "drive.files.modifyLabels",
          "request": {
            "$ref": "ModifyLabelsRequest"
          },
          "parameterOrder": [
            "fileId"
          ],
          "description": "Modifies the set of labels applied to a file. Returns a list of the labels that were added or modified.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "flatPath": "files/{fileId}/modifyLabels",
          "httpMethod": "POST"
        },
        "delete": {
          "httpMethod": "DELETE",
          "path": "files/{fileId}",
          "flatPath": "files/{fileId}",
          "id": "drive.files.delete",
          "parameters": {
            "supportsTeamDrives": {
              "deprecated": true,
              "type": "boolean",
              "location": "query",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "default": "false"
            },
            "fileId": {
              "description": "The ID of the file to delete.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "supportsAllDrives": {
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "default": "false"
            },
            "enforceSingleParent": {
              "type": "boolean",
              "default": "false",
              "description": "Deprecated: If an item is not in a shared drive and its last parent is deleted but the item itself is not, the item is placed under its owner's root.",
              "location": "query",
              "deprecated": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "description": "Permanently deletes a file owned by the user without moving it to the trash. If the file belongs to a shared drive, the user must be an `organizer` on the parent folder. If the target is a folder, all descendants owned by the user are also deleted.",
          "parameterOrder": [
            "fileId"
          ]
        },
        "untrash": {
          "path": "files/{fileId}/untrash",
          "flatPath": "files/{fileId}/untrash",
          "id": "drive.files.untrash",
          "parameters": {
            "includePermissionsForView": {
              "type": "string",
              "location": "query",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported."
            },
            "fileId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the file to untrash."
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "deprecated": true,
              "type": "boolean",
              "default": "false"
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false",
              "type": "boolean",
              "location": "query"
            },
            "includeLabels": {
              "type": "string",
              "location": "query",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response."
            }
          },
          "parameterOrder": [
            "fileId"
          ],
          "response": {
            "$ref": "File"
          },
          "description": "Restores a file from the trash. The currently authenticated user must own the file or be at least a `fileOrganizer` on the parent for shared drive files.",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file"
          ]
        },
        "emptyTrash": {
          "parameterOrder": [],
          "parameters": {
            "enforceSingleParent": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "deprecated": true,
              "description": "Deprecated: If an item is not in a shared drive and its last parent is deleted but the item itself is not, the item is placed under its owner's root."
            },
            "driveId": {
              "location": "query",
              "type": "string",
              "description": "If set, empties the trash of the provided shared drive."
            }
          },
          "description": "Permanently deletes all of the user's trashed files.",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "path": "files/trash",
          "id": "drive.files.emptyTrash",
          "httpMethod": "DELETE",
          "flatPath": "files/trash"
        },
        "patch": {
          "response": {
            "$ref": "File"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.scripts"
          ],
          "description": "Updates a file's metadata and/or content. When calling this method, only populate fields in the request that you want to modify. When updating fields, some fields might change automatically, such as modifiedDate. This method supports patch semantics.",
          "request": {
            "$ref": "File"
          },
          "parameters": {
            "convert": {
              "location": "query",
              "default": "false",
              "type": "boolean",
              "description": "Deprecated: This parameter has no function.",
              "deprecated": true
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean",
              "default": "false",
              "deprecated": true,
              "location": "query"
            },
            "timedTextLanguage": {
              "location": "query",
              "description": "The language of the timed text.",
              "type": "string"
            },
            "removeParents": {
              "location": "query",
              "description": "Comma-separated list of parent IDs to remove.",
              "type": "string"
            },
            "addParents": {
              "type": "string",
              "location": "query",
              "description": "Comma-separated list of parent IDs to add."
            },
            "ocr": {
              "location": "query",
              "default": "false",
              "type": "boolean",
              "description": "Whether to attempt OCR on .jpg, .png, .gif, or .pdf uploads."
            },
            "newRevision": {
              "default": "true",
              "type": "boolean",
              "location": "query",
              "description": "Whether a blob upload should create a new revision. If false, the blob data in the current head revision is replaced. If true or not set, a new blob is created as head revision, and previous unpinned revisions are preserved for a short period of time. Pinned revisions are stored indefinitely, using additional storage quota, up to a maximum of 200 revisions. For details on how revisions are retained, see the [Drive Help Center](https://support.google.com/drive/answer/2409045). Note that this field is ignored if there is no payload in the request."
            },
            "enforceSingleParent": {
              "location": "query",
              "deprecated": true,
              "type": "boolean",
              "default": "false",
              "description": "Deprecated: Adding files to multiple folders is no longer supported. Use `shortcuts` instead."
            },
            "timedTextTrackName": {
              "location": "query",
              "description": "The timed text track name.",
              "type": "string"
            },
            "includeLabels": {
              "location": "query",
              "type": "string",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response."
            },
            "modifiedDateBehavior": {
              "description": "Determines the behavior in which `modifiedDate` is updated. This overrides `setModifiedDate`.",
              "enum": [
                "fromBody",
                "fromBodyIfNeeded",
                "fromBodyOrNow",
                "noChange",
                "now",
                "nowIfNeeded"
              ],
              "enumDescriptions": [
                "Set `modifiedDate` to the value provided in the body of the request. No change if no value was provided.",
                "Set `modifiedDate` to the value provided in the body of the request depending on other contents of the update.",
                "Set modifiedDate to the value provided in the body of the request, or to the current time if no value was provided.",
                "Maintain the previous value of `modifiedDate`.",
                "Set `modifiedDate` to the current time.",
                "Set `modifiedDate` to the current time depending on contents of the update."
              ],
              "type": "string",
              "location": "query"
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query",
              "type": "string"
            },
            "pinned": {
              "location": "query",
              "default": "false",
              "type": "boolean",
              "description": "Whether to pin the new revision. A file can have a maximum of 200 pinned revisions. Note that this field is ignored if there is no payload in the request."
            },
            "fileId": {
              "required": true,
              "description": "The ID of the file to update.",
              "type": "string",
              "location": "path"
            },
            "useContentAsIndexableText": {
              "type": "boolean",
              "default": "false",
              "description": "Whether to use the content as indexable text.",
              "location": "query"
            },
            "supportsAllDrives": {
              "default": "false",
              "type": "boolean",
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            },
            "updateViewedDate": {
              "description": "Whether to update the view date after successfully updating the file.",
              "location": "query",
              "default": "true",
              "type": "boolean"
            },
            "setModifiedDate": {
              "type": "boolean",
              "location": "query",
              "default": "false",
              "description": "Whether to set the modified date using the value supplied in the request body. Setting this field to `true` is equivalent to `modifiedDateBehavior=fromBodyOrNow`, and `false` is equivalent to `modifiedDateBehavior=now`. To prevent any changes to the modified date set `modifiedDateBehavior=noChange`."
            },
            "ocrLanguage": {
              "location": "query",
              "type": "string",
              "description": "If ocr is true, hints at the language to use. Valid values are BCP 47 codes."
            }
          },
          "path": "files/{fileId}",
          "httpMethod": "PATCH",
          "flatPath": "files/{fileId}",
          "id": "drive.files.patch",
          "parameterOrder": [
            "fileId"
          ]
        },
        "touch": {
          "flatPath": "files/{fileId}/touch",
          "parameterOrder": [
            "fileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "id": "drive.files.touch",
          "parameters": {
            "fileId": {
              "location": "path",
              "required": true,
              "description": "The ID of the file to update.",
              "type": "string"
            },
            "supportsAllDrives": {
              "type": "boolean",
              "default": "false",
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            },
            "includeLabels": {
              "type": "string",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query"
            },
            "includePermissionsForView": {
              "location": "query",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "type": "string"
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "deprecated": true,
              "type": "boolean",
              "default": "false"
            }
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "File"
          },
          "path": "files/{fileId}/touch",
          "description": "Set the file's updated time to the current server time."
        },
        "generateCseToken": {
          "parameterOrder": [],
          "flatPath": "files/generateCseToken",
          "description": "Generates a CSE token which can be used to create or update CSE files.",
          "parameters": {
            "fileId": {
              "description": "The ID of the file for which the JWT should be generated. If not provided, an id will be generated.",
              "type": "string",
              "location": "query"
            },
            "parent": {
              "location": "query",
              "type": "string",
              "description": "The ID of the expected parent of the file. Used when generating a JWT for a new CSE file. If specified, the parent will be fetched, and if the parent is a shared drive item, the shared drive's policy will be used to determine the KACLS that should be used. It is invalid to specify both file_id and parent in a single request."
            }
          },
          "id": "drive.files.generateCseToken",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "httpMethod": "GET",
          "path": "files/generateCseToken",
          "response": {
            "$ref": "GenerateCseTokenResponse"
          }
        },
        "watch": {
          "supportsSubscription": true,
          "httpMethod": "POST",
          "request": {
            "parameterName": "resource",
            "$ref": "Channel"
          },
          "flatPath": "files/{fileId}/watch",
          "id": "drive.files.watch",
          "description": "Subscribes to changes to a file.",
          "response": {
            "$ref": "Channel"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameters": {
            "acknowledgeAbuse": {
              "location": "query",
              "description": "Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when the `alt` parameter is set to `media` and the user is the owner of the file or an organizer of the shared drive in which the file resides.",
              "default": "false",
              "type": "boolean"
            },
            "revisionId": {
              "description": "Specifies the Revision ID that should be downloaded. Ignored unless alt=media is specified.",
              "location": "query",
              "type": "string"
            },
            "updateViewedDate": {
              "type": "boolean",
              "default": "false",
              "description": "Deprecated: Use files.update with modifiedDateBehavior=noChange, updateViewedDate=true and an empty request body.",
              "location": "query",
              "deprecated": true
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string",
              "location": "query"
            },
            "projection": {
              "deprecated": true,
              "enum": [
                "BASIC",
                "FULL"
              ],
              "enumDescriptions": [
                "Deprecated.",
                "Deprecated."
              ],
              "type": "string",
              "location": "query",
              "description": "Deprecated: This parameter has no function."
            },
            "includePermissionsForView": {
              "location": "query",
              "type": "string",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported."
            },
            "supportsTeamDrives": {
              "location": "query",
              "default": "false",
              "deprecated": true,
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean"
            },
            "fileId": {
              "location": "path",
              "description": "The ID for the file in question.",
              "required": true,
              "type": "string"
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            }
          },
          "path": "files/{fileId}/watch",
          "parameterOrder": [
            "fileId"
          ]
        },
        "copy": {
          "httpMethod": "POST",
          "request": {
            "$ref": "File"
          },
          "description": "Creates a copy of the specified file.",
          "id": "drive.files.copy",
          "parameterOrder": [
            "fileId"
          ],
          "path": "files/{fileId}/copy",
          "flatPath": "files/{fileId}/copy",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.photos.readonly"
          ],
          "response": {
            "$ref": "File"
          },
          "parameters": {
            "fileId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the file to copy.",
              "required": true
            },
            "pinned": {
              "type": "boolean",
              "default": "false",
              "location": "query",
              "description": "Whether to pin the head revision of the new copy. A file can have a maximum of 200 pinned revisions."
            },
            "visibility": {
              "description": "The visibility of the new file. Permissions are still inherited from parent folders. This parameter is only relevant when the source is not a Google Doc file and when `convert=false`.",
              "type": "string",
              "enumDescriptions": [
                "The visibility of the new file is determined by the user's default visibility or sharing policies.",
                "The user's default visibility or sharing policies are ignored, and the new file is only visible to the owner and any users with permissions inherited from the parent folder."
              ],
              "default": "DEFAULT",
              "enum": [
                "DEFAULT",
                "PRIVATE"
              ],
              "location": "query"
            },
            "includePermissionsForView": {
              "type": "string",
              "location": "query",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported."
            },
            "ocr": {
              "default": "false",
              "type": "boolean",
              "description": "Whether to attempt OCR on .jpg, .png, .gif, or .pdf uploads.",
              "location": "query"
            },
            "convert": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "Whether to convert this file to the corresponding Docs Editors format."
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false",
              "type": "boolean",
              "location": "query"
            },
            "enforceSingleParent": {
              "default": "false",
              "location": "query",
              "description": "Deprecated: Copying files into multiple folders is no longer supported. Use shortcuts instead.",
              "type": "boolean",
              "deprecated": true
            },
            "supportsTeamDrives": {
              "location": "query",
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "deprecated": true,
              "default": "false"
            },
            "ocrLanguage": {
              "description": "If `ocr` is true, hints at the language to use. Valid values are BCP 47 codes.",
              "type": "string",
              "location": "query"
            },
            "timedTextLanguage": {
              "type": "string",
              "location": "query",
              "description": "The language of the timed text."
            },
            "includeLabels": {
              "location": "query",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string"
            },
            "timedTextTrackName": {
              "location": "query",
              "description": "The timed text track name.",
              "type": "string"
            }
          }
        },
        "export": {
          "httpMethod": "GET",
          "description": "Exports a Google Workspace document to the requested MIME type and returns exported byte content. Note that the exported content is limited to 10MB.",
          "parameterOrder": [
            "fileId",
            "mimeType"
          ],
          "id": "drive.files.export",
          "useMediaDownloadService": true,
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "path": "files/{fileId}/export",
          "flatPath": "files/{fileId}/export",
          "parameters": {
            "mimeType": {
              "required": true,
              "type": "string",
              "description": "Required. The MIME type of the format requested for this export.",
              "location": "query"
            },
            "fileId": {
              "location": "path",
              "description": "The ID of the file.",
              "required": true,
              "type": "string"
            }
          },
          "supportsMediaDownload": true
        },
        "get": {
          "flatPath": "files/{fileId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "path": "files/{fileId}",
          "httpMethod": "GET",
          "supportsMediaDownload": true,
          "description": " Gets a file's metadata or content by ID. If you provide the URL parameter `alt=media`, then the response includes the file contents in the response body. Downloading content with `alt=media` only works if the file is stored in Drive. To download Google Docs, Sheets, and Slides use [`files.export`](https://developers.google.com/workspace/drive/api/reference/rest/v2/files/export) instead. For more information, see [Download & export files](https://developers.google.com/workspace/drive/api/guides/manage-downloads).",
          "useMediaDownloadService": true,
          "supportsSubscription": true,
          "parameterOrder": [
            "fileId"
          ],
          "id": "drive.files.get",
          "response": {
            "$ref": "File"
          },
          "parameters": {
            "includePermissionsForView": {
              "location": "query",
              "type": "string",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported."
            },
            "projection": {
              "deprecated": true,
              "type": "string",
              "enumDescriptions": [
                "Deprecated.",
                "Deprecated."
              ],
              "location": "query",
              "description": "Deprecated: This parameter has no function.",
              "enum": [
                "BASIC",
                "FULL"
              ]
            },
            "includeLabels": {
              "location": "query",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string"
            },
            "fileId": {
              "location": "path",
              "type": "string",
              "description": "The ID for the file in question.",
              "required": true
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean",
              "deprecated": true,
              "default": "false",
              "location": "query"
            },
            "revisionId": {
              "location": "query",
              "description": "Specifies the Revision ID that should be downloaded. Ignored unless alt=media is specified.",
              "type": "string"
            },
            "updateViewedDate": {
              "type": "boolean",
              "description": "Deprecated: Use `files.update` with `modifiedDateBehavior=noChange, updateViewedDate=true` and an empty request body.",
              "location": "query",
              "default": "false",
              "deprecated": true
            },
            "acknowledgeAbuse": {
              "default": "false",
              "location": "query",
              "description": "Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when the `alt` parameter is set to `media` and the user is the owner of the file or an organizer of the shared drive in which the file resides.",
              "type": "boolean"
            },
            "supportsAllDrives": {
              "default": "false",
              "type": "boolean",
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            }
          }
        },
        "list": {
          "parameters": {
            "includeItemsFromAllDrives": {
              "type": "boolean",
              "default": "false",
              "location": "query",
              "description": "Whether both My Drive and shared drive items should be included in results."
            },
            "supportsTeamDrives": {
              "default": "false",
              "deprecated": true,
              "location": "query",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Page token for files."
            },
            "includeTeamDriveItems": {
              "description": "Deprecated: Use `includeItemsFromAllDrives` instead.",
              "type": "boolean",
              "location": "query",
              "deprecated": true,
              "default": "false"
            },
            "driveId": {
              "description": "ID of the shared drive to search.",
              "location": "query",
              "type": "string"
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query",
              "type": "string"
            },
            "orderBy": {
              "location": "query",
              "description": "A comma-separated list of sort keys. Valid keys are: * `createdDate`: When the file was created. * `folder`: The folder ID. This field is sorted using alphabetical ordering. * `lastViewedByMeDate`: The last time the file was viewed by the user. * `modifiedByMeDate`: The last time the file was modified by the user. * `modifiedDate`: The last time the file was modified by anyone. * `quotaBytesUsed`: The number of storage quota bytes used by the file. * `recency`: The most recent timestamp from the file's date-time fields. * `sharedWithMeDate`: When the file was shared with the user, if applicable. * `starred`: Whether the user has starred the file. * `title`: The title of the file. This field is sorted using alphabetical ordering, so 1, 12, 2, 22. * `title_natural`: The title of the file. This field is sorted using natural sort ordering, so 1, 2, 12, 22. Each key sorts ascending by default, but can be reversed with the 'desc' modifier. Example usage: `?orderBy=folder,modifiedDate desc,title`. Note that there's a current limitation for users with approximately one million files in which the requested sort order is ignored.",
              "type": "string"
            },
            "teamDriveId": {
              "location": "query",
              "type": "string",
              "deprecated": true,
              "description": "Deprecated: Use `driveId` instead."
            },
            "q": {
              "type": "string",
              "location": "query",
              "description": "Query string for searching files."
            },
            "supportsAllDrives": {
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false",
              "type": "boolean"
            },
            "spaces": {
              "type": "string",
              "location": "query",
              "description": "A comma-separated list of spaces to query. Supported values are `drive`, and `appDataFolder`."
            },
            "corpora": {
              "type": "string",
              "location": "query",
              "description": "Bodies of items (files/documents) to which the query applies. Supported bodies are `default`, `domain`, `drive` and `allDrives`. Prefer `default` or `drive` to `allDrives` for efficiency."
            },
            "includePermissionsForView": {
              "location": "query",
              "type": "string",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported."
            },
            "maxResults": {
              "type": "integer",
              "default": "100",
              "minimum": "0",
              "format": "int32",
              "location": "query",
              "description": "The maximum number of files to return per page. Partial or empty result pages are possible even before the end of the files list has been reached."
            },
            "projection": {
              "deprecated": true,
              "description": "Deprecated: This parameter has no function.",
              "type": "string",
              "location": "query",
              "enum": [
                "BASIC",
                "FULL"
              ],
              "enumDescriptions": [
                "Deprecated.",
                "Deprecated."
              ]
            },
            "corpus": {
              "description": "Deprecated: The body of items (files/documents) to which the query applies. Use `corpora` instead.",
              "enum": [
                "DEFAULT",
                "DOMAIN"
              ],
              "deprecated": true,
              "type": "string",
              "enumDescriptions": [
                "The items that the user has accessed.",
                "Items shared to the user's domain."
              ],
              "location": "query"
            }
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "description": " Lists the user's files. For more information, see [Search for files and folders](https://developers.google.com/workspace/drive/api/guides/search-files). This method accepts the `q` parameter, which is a search query combining one or more search terms. This method returns *all* files by default, including trashed files. If you don't want trashed files to appear in the list, use the `trashed=false` query parameter to remove trashed files from the results.",
          "path": "files",
          "flatPath": "files",
          "id": "drive.files.list",
          "response": {
            "$ref": "FileList"
          },
          "httpMethod": "GET"
        },
        "listLabels": {
          "response": {
            "$ref": "LabelList"
          },
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response.",
              "type": "string"
            },
            "fileId": {
              "description": "The ID for the file.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "maxResults": {
              "default": "100",
              "location": "query",
              "format": "int32",
              "type": "integer",
              "minimum": "1",
              "maximum": "100",
              "description": "The maximum number of labels to return per page. When not set, defaults to 100."
            }
          },
          "description": "Lists the labels on a file.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "path": "files/{fileId}/listLabels",
          "id": "drive.files.listLabels",
          "parameterOrder": [
            "fileId"
          ],
          "flatPath": "files/{fileId}/listLabels",
          "httpMethod": "GET"
        }
      }
    },
    "about": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "httpMethod": "GET",
          "description": "Gets the information about the current user along with Drive API settings",
          "flatPath": "about",
          "id": "drive.about.get",
          "response": {
            "$ref": "About"
          },
          "path": "about",
          "parameters": {
            "includeSubscribed": {
              "default": "true",
              "type": "boolean",
              "location": "query",
              "description": "Whether to count changes outside the My Drive hierarchy. When set to false, changes to files such as those in the Application Data folder or shared files which have not been added to My Drive will be omitted from the `maxChangeIdCount`."
            },
            "startChangeId": {
              "location": "query",
              "description": "Change ID to start counting from when calculating number of remaining change IDs",
              "format": "int64",
              "type": "string"
            },
            "maxChangeIdCount": {
              "type": "string",
              "default": "1",
              "format": "int64",
              "location": "query",
              "description": "Maximum number of remaining change IDs to count"
            }
          },
          "parameterOrder": []
        }
      }
    },
    "apps": {
      "methods": {
        "list": {
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/drive.apps.readonly"
          ],
          "response": {
            "$ref": "AppList"
          },
          "id": "drive.apps.list",
          "parameters": {
            "languageCode": {
              "type": "string",
              "description": "A language or locale code, as defined by BCP 47, with some extensions from Unicode's LDML format (http://www.unicode.org/reports/tr35/).",
              "location": "query"
            },
            "appFilterExtensions": {
              "type": "string",
              "default": "",
              "description": "A comma-separated list of file extensions for open with filtering. All apps within the given app query scope which can open any of the given file extensions will be included in the response. If `appFilterMimeTypes` are provided as well, the result is a union of the two resulting app lists.",
              "location": "query"
            },
            "appFilterMimeTypes": {
              "default": "",
              "type": "string",
              "description": "A comma-separated list of MIME types for open with filtering. All apps within the given app query scope which can open any of the given MIME types will be included in the response. If `appFilterExtensions` are provided as well, the result is a union of the two resulting app lists.",
              "location": "query"
            }
          },
          "flatPath": "apps",
          "httpMethod": "GET",
          "description": "Lists a user's installed apps.",
          "path": "apps"
        },
        "get": {
          "httpMethod": "GET",
          "path": "apps/{appId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "id": "drive.apps.get",
          "flatPath": "apps/{appId}",
          "parameterOrder": [
            "appId"
          ],
          "response": {
            "$ref": "App"
          },
          "parameters": {
            "appId": {
              "description": "The ID of the app.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "description": "Gets a specific app."
        }
      }
    },
    "children": {
      "methods": {
        "list": {
          "description": "Lists a folder's children.",
          "httpMethod": "GET",
          "flatPath": "files/{folderId}/children",
          "id": "drive.children.list",
          "parameterOrder": [
            "folderId"
          ],
          "parameters": {
            "q": {
              "type": "string",
              "description": "Query string for searching children.",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "Page token for children.",
              "type": "string"
            },
            "folderId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the folder."
            },
            "maxResults": {
              "description": "Maximum number of children to return.",
              "type": "integer",
              "format": "int32",
              "minimum": "0",
              "default": "100",
              "location": "query"
            },
            "orderBy": {
              "description": "A comma-separated list of sort keys. Valid keys are `createdDate`, `folder`, `lastViewedByMeDate`, `modifiedByMeDate`, `modifiedDate`, `quotaBytesUsed`, `recency`, `sharedWithMeDate`, `starred`, and `title`. Each key sorts ascending by default, but may be reversed with the `desc` modifier. Example usage: ?orderBy=folder,modifiedDate desc,title. Please note that there is a current limitation for users with approximately one million files in which the requested sort order is ignored.",
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "path": "files/{folderId}/children",
          "response": {
            "$ref": "ChildList"
          }
        },
        "get": {
          "parameterOrder": [
            "folderId",
            "childId"
          ],
          "id": "drive.children.get",
          "httpMethod": "GET",
          "flatPath": "files/{folderId}/children/{childId}",
          "description": "Gets a specific child reference.",
          "response": {
            "$ref": "ChildReference"
          },
          "parameters": {
            "folderId": {
              "location": "path",
              "description": "The ID of the folder.",
              "type": "string",
              "required": true
            },
            "childId": {
              "required": true,
              "type": "string",
              "description": "The ID of the child.",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "path": "files/{folderId}/children/{childId}"
        },
        "insert": {
          "id": "drive.children.insert",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "flatPath": "files/{folderId}/children",
          "httpMethod": "POST",
          "request": {
            "$ref": "ChildReference"
          },
          "path": "files/{folderId}/children",
          "description": "Inserts a file into a folder.",
          "response": {
            "$ref": "ChildReference"
          },
          "parameters": {
            "enforceSingleParent": {
              "deprecated": true,
              "type": "boolean",
              "default": "false",
              "description": "Deprecated: Adding files to multiple folders is no longer supported. Use `shortcuts` instead.",
              "location": "query"
            },
            "supportsTeamDrives": {
              "deprecated": true,
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "default": "false",
              "type": "boolean",
              "location": "query"
            },
            "supportsAllDrives": {
              "type": "boolean",
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false"
            },
            "folderId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the folder.",
              "required": true
            }
          },
          "parameterOrder": [
            "folderId"
          ]
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameterOrder": [
            "folderId",
            "childId"
          ],
          "parameters": {
            "childId": {
              "location": "path",
              "description": "The ID of the child.",
              "required": true,
              "type": "string"
            },
            "enforceSingleParent": {
              "description": "Deprecated: If an item is not in a shared drive and its last parent is removed, the item is placed under its owner's root.",
              "location": "query",
              "type": "boolean",
              "default": "false",
              "deprecated": true
            },
            "folderId": {
              "required": true,
              "description": "The ID of the folder.",
              "location": "path",
              "type": "string"
            }
          },
          "path": "files/{folderId}/children/{childId}",
          "flatPath": "files/{folderId}/children/{childId}",
          "description": "Removes a child from a folder.",
          "id": "drive.children.delete",
          "httpMethod": "DELETE"
        }
      }
    },
    "teamdrives": {
      "methods": {
        "list": {
          "description": "Deprecated: Use `drives.list` instead.",
          "response": {
            "$ref": "TeamDriveList"
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "parameters": {
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "description": "Maximum number of Team Drives to return.",
              "location": "query",
              "default": "10",
              "minimum": "1",
              "maximum": "100"
            },
            "useDomainAdminAccess": {
              "type": "boolean",
              "default": "false",
              "location": "query",
[...]
