{
  "parameters": {
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    }
  },
  "ownerDomain": "google.com",
  "revision": "20260929",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "protocol": "rest",
  "version": "v3",
  "batchPath": "batch/drive/v3",
  "discoveryVersion": "v1",
  "rootUrl": "https://www.googleapis.com/",
  "description": "The Google Drive API allows clients to access resources from Google Drive.",
  "basePath": "/drive/v3/",
  "name": "drive",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.appdata": {
          "description": "See, create, and delete its own configuration data in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.scripts": {
          "description": "Modify your Google Apps Script scripts' behavior"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.metadata": {
          "description": "View and manage metadata of files in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.meet.readonly": {
          "description": "See and download your Google Drive files that were created or edited by Google Meet."
        },
        "https://www.googleapis.com/auth/drive.metadata.readonly": {
          "description": "See information about your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "See and download all your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.file": {
          "description": "See, edit, create, and delete only the specific Google Drive files you use with this app"
        },
        "https://www.googleapis.com/auth/drive.photos.readonly": {
          "description": "View the photos, videos and albums in your Google Photos"
        },
        "https://www.googleapis.com/auth/drive.apps.readonly": {
          "description": "View your Google Drive apps"
        }
      }
    }
  },
  "ownerName": "Google",
  "id": "drive:v3",
  "kind": "discovery#restDescription",
  "schemas": {
    "Drive": {
      "properties": {
        "restrictions": {
          "description": "A set of restrictions that apply to this shared drive or items inside this shared drive. Note that restrictions can't be set when creating a shared drive. To add a restriction, first create a shared drive and then use `drives.update` to add restrictions.",
          "type": "object",
          "properties": {
            "downloadRestriction": {
              "description": "Download restrictions applied by shared drive managers.",
              "$ref": "DownloadRestriction"
            },
            "sharingFoldersRequiresOrganizerPermission": {
              "description": "If true, only users with the organizer role can share folders. If false, users with either the organizer role or the file organizer role can share folders.",
              "type": "boolean"
            },
            "driveMembersOnly": {
              "type": "boolean",
              "description": "Whether access to items inside this shared drive is restricted to its members."
            },
            "adminManagedRestrictions": {
              "description": "Whether administrative privileges on this shared drive are required to modify restrictions.",
              "type": "boolean"
            },
            "domainUsersOnly": {
              "type": "boolean",
              "description": "Whether access to this shared drive and items inside this shared drive is restricted to users of the domain to which this shared drive belongs. This restriction may be overridden by other sharing policies controlled outside of this shared drive."
            },
            "copyRequiresWriterPermission": {
              "description": "Whether the options to copy, print, or download files inside this shared drive, should be disabled for readers and commenters. When this restriction is set to `true`, it will override the similarly named field to `true` for any file inside this shared drive.",
              "type": "boolean"
            }
          }
        },
        "hidden": {
          "description": "Whether the shared drive is hidden from default view.",
          "type": "boolean"
        },
        "name": {
          "description": "The name of this shared drive.",
          "type": "string"
        },
        "createdTime": {
          "format": "date-time",
          "description": "The time at which the shared drive was created (RFC 3339 date-time).",
          "type": "string"
        },
        "backgroundImageLink": {
          "description": "Output only. A short-lived link to this shared drive's background image.",
          "type": "string"
        },
        "themeId": {
          "description": "The ID of the theme from which the background image and color will be set. The set of possible `driveThemes` can be retrieved from a `drive.about.get` response. When not specified on a `drive.drives.create` request, a random theme is chosen from which the background image and color are set. This is a write-only field; it can only be set on requests that don't set `colorRgb` or `backgroundImageFile`.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "drive#drive",
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#drive\"`."
        },
        "id": {
          "type": "string",
          "description": "Output only. The ID of this shared drive which is also the ID of the top level folder of this shared drive."
        },
        "backgroundImageFile": {
          "description": "An image file and cropping parameters from which a background image for this shared drive is set. This is a write only field; it can only be set on `drive.drives.update` requests that don't set `themeId`. When specified, all fields of the `backgroundImageFile` must be set.",
          "properties": {
            "xCoordinate": {
              "description": "The X coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the horizontal distance from the left side of the entire image to the left side of the cropping area divided by the width of the entire image.",
              "type": "number",
              "format": "float"
            },
            "id": {
              "type": "string",
              "description": "The ID of an image file in Google Drive to use for the background image."
            },
            "yCoordinate": {
              "type": "number",
              "format": "float",
              "description": "The Y coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the vertical distance from the top side of the entire image to the top side of the cropping area divided by the height of the entire image."
            },
            "width": {
              "format": "float",
              "description": "The width of the cropped image in the closed range of 0 to 1. This value represents the width of the cropped image divided by the width of the entire image. The height is computed by applying a width to height aspect ratio of 80 to 9. The resulting image must be at least 1280 pixels wide and 144 pixels high.",
              "type": "number"
            }
          },
          "type": "object"
        },
        "capabilities": {
          "properties": {
            "canChangeDomainUsersOnlyRestriction": {
              "description": "Output only. Whether the current user can change the `domainUsersOnly` restriction of this shared drive.",
              "type": "boolean"
            },
            "canChangeDriveBackground": {
              "type": "boolean",
              "description": "Output only. Whether the current user can change the background of this shared drive."
            },
            "canShare": {
              "description": "Output only. Whether the current user can share files or folders in this shared drive.",
              "type": "boolean"
            },
            "canComment": {
              "type": "boolean",
              "description": "Output only. Whether the current user can comment on files in this shared drive."
            },
            "canDownload": {
              "description": "Output only. Whether the current user can download files in this shared drive.",
              "type": "boolean"
            },
            "canResetDriveRestrictions": {
              "type": "boolean",
              "description": "Output only. Whether the current user can reset the shared drive restrictions to defaults."
            },
            "canDeleteChildren": {
              "description": "Output only. Whether the current user can delete children from folders in this shared drive.",
              "type": "boolean"
            },
            "canRename": {
              "type": "boolean",
              "description": "Output only. Whether the current user can rename files or folders in this shared drive."
            },
            "canChangeDownloadRestriction": {
              "description": "Output only. Whether the current user can change organizer-applied download restrictions of this shared drive.",
              "type": "boolean"
            },
            "canRenameDrive": {
              "description": "Output only. Whether the current user can rename this shared drive.",
              "type": "boolean"
            },
            "canManageMembers": {
              "type": "boolean",
              "description": "Output only. Whether the current user can add members to this shared drive or remove them or change their role."
            },
            "canChangeDriveMembersOnlyRestriction": {
              "description": "Output only. Whether the current user can change the `driveMembersOnly` restriction of this shared drive.",
              "type": "boolean"
            },
            "canChangeSharingFoldersRequiresOrganizerPermissionRestriction": {
              "description": "Output only. Whether the current user can change the `sharingFoldersRequiresOrganizerPermission` restriction of this shared drive.",
              "type": "boolean"
            },
            "canChangeCopyRequiresWriterPermissionRestriction": {
              "type": "boolean",
              "description": "Output only. Whether the current user can change the `copyRequiresWriterPermission` restriction of this shared drive."
            },
            "canEdit": {
              "description": "Output only. Whether the current user can edit files in this shared drive",
              "type": "boolean"
            },
            "canTrashChildren": {
              "type": "boolean",
              "description": "Output only. Whether the current user can trash children from folders in this shared drive."
            },
            "canDeleteDrive": {
              "type": "boolean",
              "description": "Output only. Whether the current user can delete this shared drive. Attempting to delete the shared drive may still fail if there are untrashed items inside the shared drive."
            },
            "canListChildren": {
              "type": "boolean",
              "description": "Output only. Whether the current user can list the children of folders in this shared drive."
            },
            "canCopy": {
              "description": "Output only. Whether the current user can copy files in this shared drive.",
              "type": "boolean"
            },
            "canAddChildren": {
              "type": "boolean",
              "description": "Output only. Whether the current user can add children to folders in this shared drive."
            },
            "canReadRevisions": {
              "type": "boolean",
              "description": "Output only. Whether the current user can read the revisions resource of files in this shared drive."
            }
          },
          "type": "object",
          "description": "Output only. Capabilities the current user has on this shared drive."
        },
        "orgUnitId": {
          "type": "string",
          "description": "Output only. The organizational unit of this shared drive. This field is only populated on `drives.list` responses when the `useDomainAdminAccess` parameter is set to `true`."
        },
        "colorRgb": {
          "description": "The color of this shared drive as an RGB hex string. It can only be set on a `drive.drives.update` request that does not set `themeId`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Representation of a shared drive. Some resource methods (such as `drives.update`) require a `driveId`. Use the `drives.list` method to retrieve the ID for a shared drive.",
      "id": "Drive"
    },
    "DecryptionMetadata": {
      "type": "object",
      "description": "Representation of the CSE DecryptionMetadata.",
      "id": "DecryptionMetadata",
      "properties": {
        "kaclsName": {
          "description": "The name of the KACLS (Key ACL Service) used to encrypt the file.",
          "type": "string"
        },
        "keyFormat": {
          "description": "Key format for the unwrapped key. Must be `tinkAesGcmKey`.",
          "type": "string"
        },
        "jwt": {
          "type": "string",
          "description": "The signed JSON Web Token (JWT) which can be used to authorize the requesting user with the Key ACL Service (KACLS). The JWT asserts that the requesting user has at least read permissions on the file."
        },
        "encryptionResourceKeyHash": {
          "type": "string",
          "description": "The URL-safe Base64 encoded HMAC-SHA256 digest of the resource metadata with its DEK (Data Encryption Key); see https://developers.google.com/workspace/cse/reference"
        },
        "wrappedKey": {
          "type": "string",
          "description": "The URL-safe Base64 encoded wrapped key used to encrypt the contents of the file."
        },
        "kaclsId": {
          "type": "string",
          "description": "The ID of the KACLS (Key ACL Service) used to encrypt the file.",
          "format": "int64"
        },
        "aes256GcmChunkSize": {
          "description": "Chunk size used if content was encrypted with the AES 256 GCM Cipher. Possible values are: - default - small ",
          "type": "string"
        }
      }
    },
    "ReplyList": {
      "properties": {
        "replies": {
          "items": {
            "$ref": "Reply"
          },
          "description": "The list of replies. If `nextPageToken` is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The page token for the next page of replies. This will be absent if the end of the replies list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#replyList\"`.",
          "default": "drive#replyList"
        }
      },
      "description": "A list of replies to a comment on a file.",
      "id": "ReplyList",
      "type": "object"
    },
    "Change": {
      "properties": {
        "teamDrive": {
          "description": "Deprecated: Use `drive` instead.",
          "deprecated": true,
          "$ref": "TeamDrive"
        },
        "changeType": {
          "description": "The type of the change. Possible values are `file` and `drive`.",
          "type": "string"
        },
        "type": {
          "description": "Deprecated: Use `changeType` instead.",
          "deprecated": true,
          "type": "string"
        },
        "teamDriveId": {
          "type": "string",
          "deprecated": true,
          "description": "Deprecated: Use `driveId` instead."
        },
        "file": {
          "description": "The updated state of the file. Present if the type is file and the file has not been removed from this list of changes.",
          "$ref": "File"
        },
        "time": {
          "description": "The time of this change (RFC 3339 date-time).",
          "type": "string",
          "format": "date-time"
        },
        "fileId": {
          "description": "The ID of the file which has changed.",
          "type": "string"
        },
        "removed": {
          "type": "boolean",
          "description": "Whether the file or shared drive has been removed from this list of changes, for example by deletion or loss of access."
        },
        "kind": {
          "default": "drive#change",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#change\"`.",
          "type": "string"
        },
        "drive": {
          "description": "The updated state of the shared drive. Present if the changeType is drive, the user is still a member of the shared drive, and the shared drive has not been deleted.",
          "$ref": "Drive"
        },
        "driveId": {
          "description": "The ID of the shared drive associated with this change.",
          "type": "string"
        }
      },
      "id": "Change",
      "type": "object",
      "description": "A change to a file or shared drive."
    },
    "LabelField": {
      "type": "object",
      "description": "Representation of field, which is a typed key-value pair.",
      "properties": {
        "id": {
          "description": "The identifier of this label field.",
          "type": "string"
        },
        "text": {
          "description": "Only present if `valueType` is `text`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "valueType": {
          "description": "The field type. While new values may be supported in the future, the following are currently allowed: * `dateString` * `integer` * `selection` * `text` * `user`",
          "type": "string"
        },
        "selection": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Only present if `valueType` is `selection`"
        },
        "user": {
          "items": {
            "$ref": "User"
          },
          "description": "Only present if `valueType` is `user`.",
          "type": "array"
        },
        "dateString": {
          "type": "array",
          "description": "Only present if valueType is dateString. RFC 3339 formatted date: YYYY-MM-DD.",
          "items": {
            "type": "string",
            "format": "date"
          }
        },
        "integer": {
          "description": "Only present if `valueType` is `integer`.",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "kind": {
          "description": "This is always drive#labelField.",
          "type": "string"
        }
      },
      "id": "LabelField"
    },
    "ModifyLabelsRequest": {
      "type": "object",
      "description": "A request to modify the set of labels on a file. This request may contain many modifications that will either all succeed or all fail atomically.",
      "id": "ModifyLabelsRequest",
      "properties": {
        "labelModifications": {
          "description": "The list of modifications to apply to the labels on the file.",
          "type": "array",
          "items": {
            "$ref": "LabelModification"
          }
        },
        "kind": {
          "type": "string",
          "description": "This is always `\"drive#modifyLabelsRequest\"`."
        }
      }
    },
    "User": {
      "id": "User",
      "description": "Information about a Drive user.",
      "type": "object",
      "properties": {
        "emailAddress": {
          "description": "Output only. The email address of the user. This may not be present in certain contexts if the user has not made their email address visible to the requester.",
          "readOnly": true,
          "type": "string"
        },
        "kind": {
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `drive#user`.",
          "readOnly": true,
          "type": "string",
          "default": "drive#user"
        },
        "displayName": {
          "description": "Output only. A plain text displayable name for this user.",
          "type": "string",
          "readOnly": true
        },
        "photoLink": {
          "description": "Output only. A link to the user's profile photo, if available.",
          "type": "string",
          "readOnly": true
        },
        "me": {
          "description": "Output only. Whether this user is the requesting user.",
          "readOnly": true,
          "type": "boolean"
        },
        "permissionId": {
          "description": "Output only. The user's ID as visible in Permission resources.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Channel": {
      "description": "A notification channel used to watch for resource changes.",
      "id": "Channel",
      "properties": {
        "expiration": {
          "description": "Date and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds. Optional.",
          "type": "string",
          "format": "int64"
        },
        "id": {
          "type": "string",
          "description": "A UUID or similar unique string that identifies this channel."
        },
        "resourceUri": {
          "type": "string",
          "description": "A version-specific identifier for the watched resource."
        },
        "params": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Additional parameters controlling delivery channel behavior. Optional."
        },
        "kind": {
          "type": "string",
          "default": "api#channel",
          "description": "Identifies this as a notification channel used to watch for changes to a resource, which is `api#channel`."
        },
        "payload": {
          "description": "A Boolean value to indicate whether payload is wanted. Optional.",
          "type": "boolean"
        },
        "address": {
          "description": "The address where notifications are delivered for this channel.",
          "type": "string"
        },
        "token": {
          "description": "An arbitrary string delivered to the target address with each notification delivered over this channel. Optional.",
          "type": "string"
        },
        "resourceId": {
          "description": "An opaque ID that identifies the resource being watched on this channel. Stable across different API versions.",
          "type": "string"
        },
        "type": {
          "description": "The type of delivery mechanism used for this channel. Valid values are \"web_hook\" or \"webhook\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "LabelFieldModification": {
      "properties": {
        "setSelectionValues": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Replaces a `selection` field with these new values."
        },
        "setIntegerValues": {
          "description": "Replaces the value of an `integer` field with these new values.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "setDateValues": {
          "type": "array",
          "description": "Replaces the value of a dateString Field with these new values. The string must be in the RFC 3339 full-date format: YYYY-MM-DD.",
          "items": {
            "format": "date",
            "type": "string"
          }
        },
        "setTextValues": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Sets the value of a `text` field."
        },
        "unsetValues": {
          "description": "Unsets the values for this field.",
          "type": "boolean"
        },
        "kind": {
          "description": "This is always `\"drive#labelFieldModification\"`.",
          "type": "string"
        },
        "fieldId": {
          "description": "The ID of the field to be modified.",
          "type": "string"
        },
        "setUserValues": {
          "items": {
            "type": "string"
          },
          "description": "Replaces a `user` field with these new values. The values must be a valid email addresses.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "A modification to a label's field.",
      "id": "LabelFieldModification"
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "Approval": {
      "type": "object",
      "properties": {
        "completeTime": {
          "description": "Output only. The time the approval was completed.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "reviewerResponses": {
          "description": "The responses made on the approval by reviewers.",
          "items": {
            "$ref": "ReviewerResponse"
          },
          "type": "array"
        },
        "initiator": {
          "$ref": "User",
          "description": "The user that requested the approval."
        },
        "targetFileId": {
          "type": "string",
          "description": "Target file id of the approval."
        },
        "status": {
          "description": "Output only. The status of the approval at the time this resource was requested.",
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "IN_PROGRESS",
            "APPROVED",
            "CANCELLED",
            "DECLINED"
          ],
          "enumDescriptions": [
            "The approval status has not been set or was set to an invalid value.",
            "The approval process has started and not finished.",
            "The approval process is finished and the target was approved.",
            "The approval process was cancelled before it finished.",
            "The approval process is finished and the target was declined."
          ],
          "readOnly": true
        },
        "fileContentChangeBehavior": {
          "enumDescriptions": [
            "The behavior is unspecified.",
            "Any ReviewerResponse with a Response of APPROVED will be reset to NO_DECISION when the file content changes while the approval has a Status of IN_PROGRESS. When the approval has a Status of APPROVED and RESET_APPROVAL is selected, the file is locked.",
            "No action is taken when the file content changes."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "FILE_CONTENT_CHANGE_BEHAVIOR_UNSPECIFIED",
            "RESET_APPROVAL",
            "NO_APPROVAL_ACTION"
          ],
          "description": "Output only. The behavior of the approval when the file content changes."
        },
        "dueTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time that the approval is due."
        },
        "approvalId": {
          "description": "The approval ID.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always drive#approval."
        },
        "modifyTime": {
          "description": "Output only. The most recent time the approval was modified.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the approval was created.",
          "format": "google-datetime"
        }
      },
      "id": "Approval",
      "description": "Metadata for an approval. An approval is a review or approve process for a Drive item."
    },
    "ListAccessProposalsResponse": {
      "type": "object",
      "properties": {
        "accessProposals": {
          "items": {
            "$ref": "AccessProposal"
          },
          "type": "array",
          "description": "The list of access proposals. This field is only populated in Drive API v3."
        },
        "nextPageToken": {
          "description": "The continuation token for the next page of results. This will be absent if the end of the results list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        }
      },
      "id": "ListAccessProposalsResponse",
      "description": "The response to an access proposal list request."
    },
    "Label": {
      "properties": {
        "revisionId": {
          "description": "The revision ID of the label.",
          "type": "string"
        },
        "fields": {
          "description": "A map of the fields on the label, keyed by the field's ID.",
          "additionalProperties": {
            "$ref": "LabelField"
          },
          "type": "object"
        },
        "kind": {
          "type": "string",
          "description": "This is always drive#label"
        },
        "id": {
          "type": "string",
          "description": "The ID of the label."
        }
      },
      "id": "Label",
      "type": "object",
      "description": "Representation of label and label fields."
    },
    "LabelList": {
      "id": "LabelList",
      "properties": {
        "kind": {
          "description": "This is always `\"drive#labelList\"`.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The page token for the next page of labels. This field will be absent if the end of the list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ.",
          "type": "string"
        },
        "labels": {
          "items": {
            "$ref": "Label"
          },
          "type": "array",
          "description": "The list of labels."
        }
      },
      "type": "object",
      "description": "A list of labels applied to a file."
    },
    "AppList": {
      "id": "AppList",
      "properties": {
        "defaultAppIds": {
          "description": "The list of app IDs that the user has specified to use by default. The list is in reverse-priority order (lowest to highest).",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "kind": {
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string \"drive#appList\".",
          "default": "drive#appList",
          "type": "string"
        },
        "items": {
          "description": "The list of apps.",
          "type": "array",
          "items": {
            "$ref": "App"
          }
        },
        "selfLink": {
          "description": "A link back to this list.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A list of third-party applications which the user has installed or given access to Google Drive."
    },
    "CommentList": {
      "properties": {
        "nextPageToken": {
          "description": "The page token for the next page of comments. This will be absent if the end of the comments list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ.",
          "type": "string"
        },
        "comments": {
          "type": "array",
          "description": "The list of comments. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "items": {
            "$ref": "Comment"
          }
        },
        "kind": {
          "default": "drive#commentList",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#commentList\"`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A list of comments on a file.",
      "id": "CommentList"
    },
    "ApprovalList": {
      "id": "ApprovalList",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always drive#approvalList"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The page token for the next page of approvals. This is absent if the end of the approvals list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results."
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Approval"
          },
          "description": "The list of approvals. If `nextPageToken` is populated, then this list may be incomplete and an additional page of results should be fetched."
        }
      },
      "description": "The response of an approvals list request."
    },
    "Reply": {
      "description": "A reply to a comment on a file. Some resource methods (such as `replies.update`) require a `replyId`. Use the `replies.list` method to retrieve the ID for a reply.",
      "type": "object",
      "id": "Reply",
      "properties": {
        "htmlContent": {
          "description": "Output only. The content of the reply with HTML formatting.",
          "type": "string"
        },
        "deleted": {
          "description": "Output only. Whether the reply has been deleted. A deleted reply has no content.",
          "type": "boolean"
        },
        "author": {
          "$ref": "User",
          "description": "Output only. The author of the reply. The author's email address and permission ID won't be populated."
        },
        "id": {
          "description": "Output only. The ID of the reply.",
          "type": "string"
        },
        "action": {
          "type": "string",
          "description": "The action the reply performed to the parent comment. The supported values are: * `resolve` * `reopen`"
        },
        "createdTime": {
          "format": "date-time",
          "description": "The time at which the reply was created (RFC 3339 date-time).",
          "type": "string"
        },
        "assigneeEmailAddress": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The email address of the user assigned to this comment. If no user is assigned, the field is unset."
        },
        "modifiedTime": {
          "type": "string",
          "description": "The last time the reply was modified (RFC 3339 date-time).",
          "format": "date-time"
        },
        "content": {
          "type": "string",
          "description": "The plain text content of the reply. This field is used for setting the content, while `htmlContent` should be displayed. This field is required by the `create` method if no `action` value is specified.",
          "annotations": {
            "required": [
              "drive.replies.update"
            ]
          }
        },
        "mentionedEmailAddresses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. A list of email addresses for users mentioned in this comment. If no users are mentioned, the list is empty."
        },
        "kind": {
          "default": "drive#reply",
          "type": "string",
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#reply\"`."
        }
      }
    },
    "Operation": {
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        }
      }
    },
    "GenerateCseTokenResponse": {
      "description": "JWT and associated metadata used to generate CSE files.",
      "type": "object",
      "id": "GenerateCseTokenResponse",
      "properties": {
        "fileId": {
          "description": "The fileId for which the JWT was generated.",
          "type": "string"
        },
        "currentKaclsId": {
          "description": "The current Key ACL Service (KACLS) ID associated with the JWT.",
          "format": "int64",
          "type": "string"
        },
        "jwt": {
          "type": "string",
          "description": "The signed JSON Web Token (JWT) for the file."
        },
        "kind": {
          "type": "string",
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#generateCseTokenResponse\"`."
        },
        "currentKaclsName": {
          "description": "Name of the KACLs that the returned KACLs ID points to.",
          "type": "string"
        }
      }
    },
    "PermissionList": {
      "id": "PermissionList",
      "description": "A list of permissions for a file.",
      "properties": {
        "kind": {
          "default": "drive#permissionList",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#permissionList\"`.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The page token for the next page of permissions. This field will be absent if the end of the permissions list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ."
        },
        "permissions": {
          "items": {
            "$ref": "Permission"
          },
          "type": "array",
          "description": "The list of permissions. If `nextPageToken` is populated, then this list may be incomplete and an additional page of results should be fetched."
        }
      },
      "type": "object"
    },
    "FileList": {
      "id": "FileList",
      "properties": {
        "nextPageToken": {
          "description": "The page token for the next page of files. This will be absent if the end of the files list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#fileList\"`.",
          "type": "string",
          "default": "drive#fileList"
        },
        "incompleteSearch": {
          "description": "Whether the search process was incomplete. If true, then some search results might be missing, since all documents were not searched. This can occur when searching multiple drives with the `allDrives` corpora, but all corpora couldn't be searched. When this happens, it's suggested that clients narrow their query by choosing a different corpus such as `user` or `drive`.",
          "type": "boolean"
        },
        "files": {
          "items": {
            "$ref": "File"
          },
          "description": "The list of files. If `nextPageToken` is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "type": "array"
        }
      },
      "description": "A list of files.",
      "type": "object"
    },
    "DownloadRestrictionsMetadata": {
      "type": "object",
      "description": "Download restrictions applied to the file.",
      "id": "DownloadRestrictionsMetadata",
      "properties": {
        "itemDownloadRestriction": {
          "$ref": "DownloadRestriction",
          "description": "The download restriction of the file applied directly by the owner or organizer. This doesn't take into account shared drive settings or DLP rules."
        },
        "effectiveDownloadRestrictionWithContext": {
          "description": "Output only. The effective download restriction applied to this file. This considers all restriction settings and DLP rules.",
          "$ref": "DownloadRestriction"
        }
      }
    },
    "ChangeList": {
      "description": "A list of changes for a user.",
      "properties": {
        "kind": {
          "default": "drive#changeList",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#changeList\"`.",
          "type": "string"
        },
        "newStartPageToken": {
          "type": "string",
          "description": "The starting page token for future changes. This will be present only if the end of the current changes list has been reached. The page token doesn't expire."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The page token for the next page of changes. This will be absent if the end of the changes list has been reached. The page token doesn't expire."
        },
        "changes": {
          "description": "The list of changes. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "type": "array",
          "items": {
            "$ref": "Change"
          }
        }
      },
      "id": "ChangeList",
      "type": "object"
    },
    "DeclineApprovalRequest": {
      "type": "object",
      "id": "DeclineApprovalRequest",
      "description": "Request for declining an approval as a reviewer.",
      "properties": {
        "message": {
          "description": "Optional. A message to accompany the reviewer response on the approval. This message is included in notifications for the action and in the approval activity log.",
          "type": "string"
        }
      }
    },
    "CommentApprovalRequest": {
      "description": "Request for commenting on an approval.",
      "id": "CommentApprovalRequest",
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "Required. A message to comment on the approval. This message is included in notifications for the action and in the approval activity log."
        }
      }
    },
    "AppIcons": {
      "properties": {
        "category": {
          "description": "Category of the icon. Allowed values are: * `application` - The icon for the application. * `document` - The icon for a file associated with the app. * `documentShared` - The icon for a shared file associated with the app.",
          "type": "string"
        },
        "iconUrl": {
          "type": "string",
          "description": "URL for the icon."
        },
        "size": {
          "description": "Size of the icon. Represented as the maximum of the width and height.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "AppIcons",
      "type": "object"
    },
    "ClientEncryptionDetails": {
      "type": "object",
      "description": "Details about the client-side encryption applied to the file.",
      "id": "ClientEncryptionDetails",
      "properties": {
        "decryptionMetadata": {
          "$ref": "DecryptionMetadata",
          "description": "The metadata used for client-side operations."
        },
        "encryptionState": {
          "description": "The encryption state of the file. The values expected here are: - encrypted - unencrypted ",
          "type": "string"
        }
      }
    },
    "About": {
      "id": "About",
      "type": "object",
      "properties": {
        "maxImportSizes": {
          "additionalProperties": {
            "format": "int64",
            "type": "string"
          },
          "type": "object",
          "description": "A map of maximum import sizes by MIME type, in bytes."
        },
        "canCreateDrives": {
          "description": "Whether the user can create shared drives.",
          "type": "boolean"
        },
        "storageQuota": {
          "description": "The user's storage quota limits and usage. For users that are part of an organization with pooled storage, information about the limit and usage across all services is for the organization, rather than the individual user. All fields are measured in bytes.",
          "properties": {
            "limit": {
              "description": "The usage limit, if applicable. This will not be present if the user has unlimited storage. For users that are part of an organization with pooled storage, this is the limit for the organization, rather than the individual user.",
              "format": "int64",
              "type": "string"
            },
            "usageInDriveTrash": {
              "format": "int64",
              "description": "The usage by trashed files in Google Drive.",
              "type": "string"
            },
            "usage": {
              "description": "The total usage across all services. For users that are part of an organization with pooled storage, this is the usage across all services for the organization, rather than the individual user.",
              "format": "int64",
              "type": "string"
            },
            "usageInDrive": {
              "type": "string",
              "format": "int64",
              "description": "The usage by all files in Google Drive."
            }
          },
          "type": "object"
        },
        "maxUploadSize": {
          "format": "int64",
          "description": "The maximum upload size in bytes.",
          "type": "string"
        },
        "importFormats": {
          "description": "A map of source MIME type to possible targets for all supported imports.",
          "type": "object",
          "additionalProperties": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "user": {
          "description": "The authenticated user.",
          "$ref": "User"
        },
        "exportFormats": {
          "additionalProperties": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "type": "object",
          "description": "A map of source MIME type to possible targets for all supported exports."
        },
        "kind": {
          "default": "drive#about",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#about\"`.",
          "type": "string"
        },
        "folderColorPalette": {
          "description": "The currently supported folder colors as RGB hex strings.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "driveThemes": {
          "description": "A list of themes that are supported for shared drives.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "colorRgb": {
                "type": "string",
                "description": "The color of this theme as an RGB hex string."
              },
              "id": {
                "type": "string",
                "description": "The ID of the theme."
              },
              "backgroundImageLink": {
                "description": "A link to this theme's background image.",
                "type": "string"
              }
            }
          }
        },
        "appInstalled": {
          "type": "boolean",
          "description": "Whether the user has installed the requesting app."
        },
        "teamDriveThemes": {
          "deprecated": true,
          "description": "Deprecated: Use `driveThemes` instead.",
          "items": {
            "type": "object",
            "properties": {
              "backgroundImageLink": {
                "description": "Deprecated: Use `driveThemes/backgroundImageLink` instead.",
                "deprecated": true,
                "type": "string"
              },
              "id": {
                "description": "Deprecated: Use `driveThemes/id` instead.",
                "deprecated": true,
                "type": "string"
              },
              "colorRgb": {
                "deprecated": true,
                "type": "string",
                "description": "Deprecated: Use `driveThemes/colorRgb` instead."
              }
            }
          },
          "type": "array"
        },
        "canCreateTeamDrives": {
          "type": "boolean",
          "description": "Deprecated: Use `canCreateDrives` instead.",
          "deprecated": true
        }
      },
      "description": "Information about the user, the user's Drive, and system capabilities."
    },
    "ContentRestriction": {
      "description": "A restriction for accessing the content of the file.",
      "id": "ContentRestriction",
      "properties": {
        "restrictingUser": {
          "description": "Output only. The user who set the content restriction. Only populated if `readOnly=true`.",
          "$ref": "User"
        },
        "ownerRestricted": {
          "description": "Whether the content restriction can only be modified or removed by a user who owns the file. For files in shared drives, any user with `organizer` capabilities can modify or remove this content restriction.",
          "type": "boolean"
        },
        "readOnly": {
          "description": "Whether the content of the file is read-only. If a file is read-only, a new revision of the file may not be added, comments may not be added or modified, and the title of the file may not be modified.",
          "type": "boolean"
        },
        "systemRestricted": {
          "description": "Output only. Whether the content restriction was applied by the system, for example due to an esignature. Users cannot modify or remove system restricted content restrictions.",
          "type": "boolean"
        },
        "reason": {
          "description": "Reason for why the content of the file is restricted. This is only mutable on requests that also set `readOnly=true`.",
          "type": "string"
        },
        "restrictionTime": {
          "description": "The time at which the content restriction was set (formatted RFC 3339 timestamp). Only populated if readOnly is true.",
          "type": "string",
          "format": "date-time"
        },
        "type": {
          "type": "string",
          "description": "Output only. The type of the content restriction. Currently the only possible value is `globalContentRestriction`."
        }
      },
      "type": "object"
    },
    "DriveList": {
      "description": "A list of shared drives.",
      "properties": {
        "drives": {
          "items": {
            "$ref": "Drive"
          },
          "type": "array",
          "description": "The list of shared drives. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The page token for the next page of shared drives. This will be absent if the end of the list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#driveList\"`.",
          "type": "string",
          "default": "drive#driveList"
        }
      },
      "type": "object",
      "id": "DriveList"
    },
    "ModifyLabelsResponse": {
      "id": "ModifyLabelsResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always `\"drive#modifyLabelsResponse\"`."
        },
        "modifiedLabels": {
          "description": "The list of labels which were added or updated by the request.",
          "type": "array",
          "items": {
            "$ref": "Label"
          }
        }
      },
      "type": "object",
      "description": "Response to a `ModifyLabels` request. This contains only those labels which were added or updated by the request."
    },
    "AccessProposalRoleAndView": {
      "type": "object",
      "id": "AccessProposalRoleAndView",
      "properties": {
        "role": {
          "type": "string",
          "description": "The role that was proposed by the requester. The supported values are: * `writer` * `commenter` * `reader`"
        },
        "view": {
          "description": "Indicates the view for this access proposal. Only populated for proposals that belong to a view. Only `published` is supported.",
          "type": "string"
        }
      },
      "description": "A wrapper for the role and view of an access proposal. For more information, see [Roles and permissions](https://developers.google.com/workspace/drive/api/guides/ref-roles)."
    },
    "AccessProposal": {
      "id": "AccessProposal",
      "description": "Manage outstanding access proposals on a file.",
      "properties": {
        "rolesAndViews": {
          "type": "array",
          "description": "A wrapper for the role and view of an access proposal. For more information, see [Roles and permissions](https://developers.google.com/workspace/drive/api/guides/ref-roles).",
          "items": {
            "$ref": "AccessProposalRoleAndView"
          }
        },
        "requestMessage": {
          "description": "The message that the requester added to the proposal.",
          "type": "string"
        },
        "requesterEmailAddress": {
          "description": "The email address of the requesting user.",
          "type": "string"
        },
        "proposalId": {
          "description": "The ID of the access proposal.",
          "type": "string"
        },
        "fileId": {
          "description": "The file ID that the proposal for access is on.",
          "type": "string"
        },
        "recipientEmailAddress": {
          "type": "string",
          "description": "The email address of the user that will receive permissions, if accepted."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The creation time."
        }
      },
      "type": "object"
    },
    "ReassignApprovalRequest": {
      "properties": {
        "replaceReviewers": {
          "type": "array",
          "description": "Optional. The list of reviewer replacements.",
          "items": {
            "$ref": "ReplaceReviewer"
          }
        },
        "addReviewers": {
          "description": "Optional. The list of reviewers to add.",
          "type": "array",
          "items": {
            "$ref": "AddReviewer"
          }
        },
        "message": {
          "description": "Optional. A message to send to the new reviewers. This message is included in notifications for the action and in the approval activity log.",
          "type": "string"
        }
      },
      "id": "ReassignApprovalRequest",
      "type": "object",
      "description": "Request for reassigning an approval. Reviewers can be added or replaced, but not removed."
    },
    "ApproveApprovalRequest": {
      "id": "ApproveApprovalRequest",
      "properties": {
        "message": {
          "description": "Optional. A message to accompany the reviewer response on the approval. This message is included in notifications for the action and in the approval activity log.",
          "type": "string"
        }
      },
      "description": "Request for approving an approval as a reviewer.",
      "type": "object"
    },
    "File": {
      "id": "File",
      "properties": {
        "version": {
          "type": "string",
          "format": "int64",
          "description": "Output only. A monotonically increasing version number for the file. This reflects every change made to the file on the server, even those not visible to the user."
        },
        "sha256Checksum": {
          "type": "string",
          "description": "Output only. The SHA256 checksum associated with this file, if available. This field is only populated for files with content stored in Google Drive; it's not populated for Docs Editors or shortcut files."
        },
        "description": {
          "type": "string",
          "description": "A short description of the file."
        },
        "explicitlyTrashed": {
          "description": "Output only. Whether the file has been explicitly trashed, as opposed to recursively trashed from a parent folder.",
          "type": "boolean"
        },
        "copyRequiresWriterPermission": {
          "type": "boolean",
          "description": "Whether the options to copy, print, or download this file should be disabled for readers and commenters."
        },
        "fileExtension": {
          "type": "string",
          "description": "Output only. The final component of `fullFileExtension`. This is only available for files with binary content in Google Drive."
        },
        "trashed": {
          "description": "Whether the file has been trashed, either explicitly or from a trashed parent folder. Only the owner may trash a file, but other users can still access the file in the owner's trash until it's permanently deleted.",
          "type": "boolean"
        },
        "starred": {
          "type": "boolean",
          "description": "Whether the user has starred the file."
        },
        "contentHints": {
          "description": "Additional information about the content of the file. These fields are never populated in responses.",
          "properties": {
            "indexableText": {
              "description": "Text to be indexed for the file to improve fullText queries. This is limited to 128 KB in length and may contain HTML elements.",
              "type": "string"
            },
            "thumbnail": {
              "type": "object",
              "properties": {
                "mimeType": {
                  "description": "The MIME type of the thumbnail.",
                  "type": "string"
                },
                "image": {
                  "description": "The thumbnail data encoded with URL-safe Base64 ([RFC 4648 section 5](https://datatracker.ietf.org/doc/html/rfc4648#section-5)).",
                  "format": "byte",
                  "type": "string"
                }
              },
              "description": "A thumbnail for the file. This will only be used if Google Drive cannot generate a standard thumbnail."
            }
          },
          "type": "object"
        },
        "sha1Checksum": {
          "type": "string",
          "description": "Output only. The SHA1 checksum associated with this file, if available. This field is only populated for files with content stored in Google Drive; it's not populated for Docs Editors or shortcut files."
        },
        "webViewLink": {
          "type": "string",
          "description": "Output only. A link for opening the file in a relevant Google editor or viewer in a browser."
        },
        "modifiedByMeTime": {
          "type": "string",
          "format": "date-time",
          "description": "The last time the file was modified by the user (RFC 3339 date-time)."
        },
        "downloadRestrictions": {
          "$ref": "DownloadRestrictionsMetadata",
          "description": "Download restrictions applied on the file."
        },
        "resourceKey": {
          "description": "Output only. A key needed to access the item via a shared link.",
          "type": "string"
        },
        "ownedByMe": {
          "description": "Output only. Whether the user owns the file. Not populated for items in shared drives.",
          "type": "boolean"
        },
        "viewersCanCopyContent": {
          "deprecated": true,
          "description": "Deprecated: Use `copyRequiresWriterPermission` instead.",
          "type": "boolean"
        },
        "trashedTime": {
          "format": "date-time",
          "description": "The time that the item was trashed (RFC 3339 date-time). Only populated for items in shared drives.",
          "type": "string"
        },
        "kind": {
          "default": "drive#file",
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#file\"`.",
          "type": "string"
        },
        "md5Checksum": {
          "type": "string",
          "description": "Output only. The MD5 checksum for the content of the file. This is only applicable to files with binary content in Google Drive."
        },
        "trashingUser": {
          "description": "Output only. If the file has been explicitly trashed, the user who trashed it. Only populated for items in shared drives.",
          "$ref": "User"
        },
        "shared": {
          "description": "Output only. Whether the file has been shared. Not populated for items in shared drives.",
          "type": "boolean"
        },
        "videoMediaMetadata": {
          "description": "Output only. Additional metadata about video media. This may not be available immediately upon upload.",
          "type": "object",
          "properties": {
            "durationMillis": {
              "format": "int64",
              "type": "string",
              "description": "Output only. The duration of the video in milliseconds."
            },
            "width": {
              "type": "integer",
              "description": "Output only. The width of the video in pixels.",
              "format": "int32"
            },
            "height": {
              "description": "Output only. The height of the video in pixels.",
              "type": "integer",
              "format": "int32"
            }
          }
        },
        "clientEncryptionDetails": {
          "description": "Client Side Encryption related details. Contains details about the encryption state of the file and details regarding the encryption mechanism that clients need to use when decrypting the contents of this item. This will only be present on files and not on folders or shortcuts.",
          "$ref": "ClientEncryptionDetails"
        },
        "quotaBytesUsed": {
          "format": "int64",
          "type": "string",
          "description": "Output only. The number of storage quota bytes used by the file. This includes the head revision as well as previous revisions with `keepForever` enabled."
        },
        "contentRestrictions": {
          "description": "Restrictions for accessing the content of the file. Only populated if such a restriction exists.",
          "items": {
            "$ref": "ContentRestriction"
          },
          "type": "array"
        },
        "headRevisionId": {
          "type": "string",
          "description": "Output only. The ID of the file's head revision. This is currently only available for files with binary content in Google Drive."
        },
        "size": {
          "type": "string",
          "description": "Output only. Size in bytes of blobs and Google Workspace editor files. Won't be populated for files that have no size, like shortcuts and folders.",
          "format": "int64"
        },
        "sharedWithMeTime": {
          "format": "date-time",
          "description": "The time at which the file was shared with the user, if applicable (RFC 3339 date-time).",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The ID of the file."
        },
        "permissions": {
          "type": "array",
          "items": {
            "$ref": "Permission"
          },
          "description": "Output only. The full list of permissions for the file. This is only available if the requesting user can share the file. Not populated for items in shared drives."
        },
        "parents": {
          "description": "The ID of the parent folder containing the file. A file can only have one parent folder; specifying multiple parents isn't supported. If not specified as part of a create request, the file is placed directly in the user's My Drive folder. If not specified as part of a copy request, the file inherits any discoverable parent of the source file. Update requests must use the `addParents` and `removeParents` parameters to modify the parents list.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "isAppAuthorized": {
          "type": "boolean",
          "description": "Output only. Whether the file was created or opened by the requesting app."
        },
        "name": {
          "type": "string",
          "description": "The name of the file. This isn't necessarily unique within a folder. Note that for immutable items such as the top-level folders of shared drives, the My Drive root folder, and the Application Data folder, the name is constant."
        },
        "iconLink": {
          "description": "Output only. A static, unauthenticated link to the file's icon.",
          "type": "string"
        },
        "capabilities": {
          "properties": {
            "canChangeCopyRequiresWriterPermission": {
              "type": "boolean",
              "description": "Output only. Whether the current user can change the `copyRequiresWriterPermission` restriction of this file."
            },
            "canAddChildren": {
              "type": "boolean",
              "description": "Output only. Whether the current user can add children to this folder. This is always `false` when the item isn't a folder."
            },
            "canDelete": {
              "description": "Output only. Whether the current user can delete this file.",
              "type": "boolean"
            },
            "canEdit": {
              "type": "boolean",
              "description": "Output only. Whether the current user can edit this file. Other factors may limit the type of changes a user can make to a file. For example, see `canChangeCopyRequiresWriterPermission` or `canModifyContent`."
            },
            "canChangeViewersCanCopyContent": {
              "type": "boolean",
              "description": "Deprecated: Output only.",
              "deprecated": true
            },
            "canRename": {
              "description": "Output only. Whether the current user can rename this file.",
              "type": "boolean"
            },
            "canTrashChildren": {
              "type": "boolean",
              "description": "Output only. Whether the current user can trash children of this folder. This is `false` when the item isn't a folder. Only populated for items in shared drives."
            },
            "canRemoveContentRestriction": {
              "description": "Output only. Whether there's a content restriction on the file that can be removed by the current user.",
              "type": "boolean"
            },
            "canModifyLabels": {
              "description": "Output only. Whether the current user can modify the labels on the file.",
              "type": "boolean"
            },
            "canShare": {
              "type": "boolean",
              "description": "Output only. Whether the current user can modify the sharing settings for this file."
            },
            "canMoveChildrenWithinTeamDrive": {
              "type": "boolean",
              "deprecated": true,
              "description": "Deprecated: Output only. Use `canMoveChildrenWithinDrive` instead."
            },
            "canMoveItemOutOfDrive": {
              "description": "Output only. Whether the current user can move this item outside of this drive by changing its parent. Note that a request to change the parent of the item may still fail depending on the new parent that's being added.",
              "type": "boolean"
            },
            "canDownload": {
              "description": "Output only. Whether the current user can download this file.",
              "type": "boolean"
            },
            "canReadLabels": {
              "description": "Output only. Whether the current user can read the labels on the file.",
              "type": "boolean"
            },
            "canComment": {
              "type": "boolean",
              "description": "Output only. Whether the current user can comment on this file."
            },
            "canDeleteChildren": {
              "description": "Output only. Whether the current user can delete children of this folder. This is `false` when the item isn't a folder. Only populated for items in shared drives.",
              "type": "boolean"
            },
            "canAccessViaGenAi": {
              "description": "Whether the current user can access this file via Gen AI features. For more information, see [Drive MCP file eligibility](https://developers.google.com/workspace/drive/api/guides/drive-mcp-server-file-eligibility).",
              "type": "boolean"
            },
            "canMoveItemIntoTeamDrive": {
              "type": "boolean",
              "description": "Deprecated: Output only. Use `canMoveItemOutOfDrive` instead.",
              "deprecated": true
            },
            "canReadTeamDrive": {
              "description": "Deprecated: Output only. Use `canReadDrive` instead.",
              "deprecated": true,
              "type": "boolean"
            },
            "canEnableInheritedPermissions": {
              "type": "boolean",
              "description": "Whether a user can re-enable inherited permissions."
            },
            "canRemoveMyDriveParent": {
              "description": "Output only. Whether the current user can remove a parent from the item without adding another parent in the same request. Not populated for shared drive files.",
              "type": "boolean"
            },
            "canMoveChildrenOutOfTeamDrive": {
              "type": "boolean",
              "deprecated": true,
              "description": "Deprecated: Output only. Use `canMoveChildrenOutOfDrive` instead."
            },
            "canReadRevisions": {
              "description": "Output only. Whether the current user can read the revisions resource of this file. For a shared drive item, whether revisions of non-folder descendants of this item, or this item if it's not a folder, can be read.",
              "type": "boolean"
            },
            "canModifyContentRestriction": {
              "description": "Deprecated: Output only. Use one of `canModifyEditorContentRestriction`, `canModifyOwnerContentRestriction`, or `canRemoveContentRestriction`.",
              "type": "boolean",
              "deprecated": true
            },
            "canMoveTeamDriveItem": {
              "description": "Deprecated: Output only. Use `canMoveItemWithinDrive` or `canMoveItemOutOfDrive` instead.",
              "type": "boolean",
              "deprecated": true
            },
            "canChangeSecurityUpdateEnabled": {
              "description": "Output only. Whether the current user can change the `securityUpdateEnabled` field on link share metadata.",
              "type": "boolean"
            },
            "canStartApproval": {
              "type": "boolean",
              "description": "Whether the current user can start an approval on the file."
            },
            "canListChildren": {
              "type": "boolean",
              "description": "Output only. Whether the current user can list the children of this folder. This is always `false` when the item isn't a folder."
            },
            "canRemoveChildren": {
              "description": "Output only. Whether the current user can remove children from this folder. This is always `false` when the item isn't a folder. For a folder in a shared drive, use `canDeleteChildren` or `canTrashChildren` instead.",
              "type": "boolean"
            },
            "canUntrash": {
              "description": "Output only. Whether the current user can restore this file from trash.",
              "type": "boolean"
            },
            "canModifyOwnerContentRestriction": {
              "description": "Output only. Whether the current user can add or modify content restrictions which are owner restricted.",
              "type": "boolean"
            },
            "canTrash": {
              "description": "Output only. Whether the current user can move this file to trash.",
              "type": "boolean"
            },
            "canModifyContent": {
              "type": "boolean",
              "description": "Output only. Whether the current user can modify the content of this file."
            },
            "canMoveItemOutOfTeamDrive": {
              "deprecated": true,
              "type": "boolean",
              "description": "Deprecated: Output only. Use `canMoveItemOutOfDrive` instead."
            },
            "canCopy": {
              "type": "boolean",
              "description": "Output only. Whether the current user can copy this file. For an item in a shared drive, whether the current user can copy non-folder descendants of this item, or this item if it's not a folder."
            },
            "canModifyEditorContentRestriction": {
              "description": "Output only. Whether the current user can add or modify content restrictions on the file which are editor restricted.",
              "type": "boolean"
            },
            "canMoveChildrenWithinDrive": {
              "description": "Output only. Whether the current user can move children of this folder within this drive. This is `false` when the item isn't a folder. Note that a request to move the child may still fail depending on the current user's access to the child and to the destination folder.",
              "type": "boolean"
            },
            "canMoveItemWithinTeamDrive": {
              "deprecated": true,
              "type": "boolean",
              "description": "Deprecated: Output only. Use `canMoveItemWithinDrive` instead."
            },
            "canAddMyDriveParent": {
              "description": "Output only. Whether the current user can add a parent for the item without removing an existing parent in the same request. Not populated for shared drive files.",
              "type": "boolean"
            },
            "canMoveChildrenOutOfDrive": {
              "description": "Output only. Whether the current user can move children of this folder outside of the shared drive. This is `false` when the item isn't a folder. Only populated for items in shared drives.",
              "type": "boolean"
            },
            "canMoveItemWithinDrive": {
              "type": "boolean",
              "description": "Output only. Whether the current user can move this item within this drive. Note that a request to change the parent of the item may still fail depending on the new parent that's being added and the parent that is being removed."
            },
            "canChangeItemDownloadRestriction": {
              "description": "Output only. Whether the current user can change the owner or organizer-applied download restrictions of the file.",
              "type": "boolean"
            },
            "canAddFolderFromAnotherDrive": {
              "type": "boolean",
              "description": "Output only. Whether the current user can add a folder from another drive (different shared drive or My Drive) to this folder. This is `false` when the item isn't a folder. Only populated for items in shared drives."
            },
            "canReadDrive": {
              "description": "Output only. Whether the current user can read the shared drive to which this file belongs. Only populated for items in shared drives.",
              "type": "boolean"
            },
            "canDisableInheritedPermissions": {
              "type": "boolean",
              "description": "Whether a user can disable inherited permissions."
            },
            "canAcceptOwnership": {
              "description": "Output only. Whether the current user is the pending owner of the file. Not populated for shared drive files.",
              "type": "boolean"
            }
          },
          "type": "object",
          "description": "Output only. Capabilities the current user has on this file. Each capability corresponds to a fine-grained action that a user may take. For more information, see [Understand file capabilities](https://developers.google.com/workspace/drive/api/guides/manage-sharing#capabilities)."
        },
        "writersCanShare": {
          "description": "Whether users with only `writer` permission can modify the file's permissions. Not populated for items in shared drives.",
          "type": "boolean"
        },
        "shortcutDetails": {
          "type": "object",
          "properties": {
            "targetId": {
              "description": "The ID of the file that this shortcut points to. Can only be set on `files.create` requests.",
              "type": "string"
            },
            "targetResourceKey": {
              "description": "Output only. The `resourceKey` for the target file.",
              "type": "string"
            },
            "targetMimeType": {
              "type": "string",
              "description": "Output only. The MIME type of the file that this shortcut points to. The value of this field is a snapshot of the target's MIME type, captured when the shortcut is created."
            }
          },
          "description": "Information about a shortcut file."
        },
        "inheritedPermissionsDisabled": {
          "type": "boolean",
          "description": "Whether this file has inherited permissions disabled. Inherited permissions are enabled by default."
        },
        "hasAugmentedPermissions": {
          "type": "boolean",
          "description": "Output only. Whether there are permissions directly on this file. This field is only populated for items in shared drives."
        },
        "exportLinks": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Output only. Links for exporting Docs Editors files to specific formats.",
          "readOnly": true
        },
        "mimeType": {
          "description": "The MIME type of the file. Google Drive attempts to automatically detect an appropriate value from uploaded content, if no value is provided. The value cannot be changed unless a new revision is uploaded. If a file is created with a Google Doc MIME type, the uploaded content is imported, if possible. The supported import formats are published in the [`about`](/workspace/drive/api/reference/rest/v3/about) resource.",
          "type": "string"
        },
        "webContentLink": {
          "description": "Output only. A link for downloading the content of the file in a browser. This is only available for files with binary content in Google Drive.",
          "type": "string"
        },
        "thumbnailVersion": {
          "format": "int64",
          "description": "Output only. The thumbnail version for use in thumbnail cache invalidation.",
          "type": "string"
        },
        "appProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "A collection of arbitrary key-value pairs which are private to the requesting app.\nEntries with null values are cleared in update and copy requests. These properties can only be retrieved using an authenticated request. An authenticated request uses an access token obtained with a OAuth 2 client ID. You cannot use an API key to retrieve private properties."
        },
        "sharingUser": {
          "$ref": "User",
          "description": "Output only. The user who shared the file with the requesting user, if applicable."
        },
        "hasThumbnail": {
          "description": "Output only. Whether this file has a thumbnail. This doesn't indicate whether the requesting app has access to the thumbnail. To check access, look for the presence of the thumbnailLink field.",
          "type": "boolean"
        },
        "teamDriveId": {
          "type": "string",
          "deprecated": true,
          "description": "Deprecated: Output only. Use `driveId` instead."
        },
        "modifiedTime": {
          "format": "date-time",
          "description": "he last time the file was modified by anyone (RFC 3339 date-time). Note that setting modifiedTime will also update modifiedByMeTime for the user.",
          "type": "string"
        },
        "viewedByMe": {
          "type": "boolean",
          "description": "Output only. Whether the file has been viewed by this user."
        },
        "properties": {
          "description": "A collection of arbitrary key-value pairs which are visible to all apps.\nEntries with null values are cleared in update and copy requests.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "owners": {
          "type": "array",
          "items": {
            "$ref": "User"
          },
          "description": "Output only. The owner of this file. Only certain legacy files may have more than one owner. This field isn't populated for items in shared drives."
        },
        "originalFilename": {
          "description": "The original filename of the uploaded content if available, or else the original value of the `name` field. This is only available for files with binary content in Google Drive.",
          "type": "string"
        },
        "imageMediaMetadata": {
          "properties": {
            "width": {
              "description": "Output only. The width of the image in pixels.",
              "format": "int32",
              "type": "integer"
            },
            "meteringMode": {
              "description": "Output only. The metering mode used to create the photo.",
              "type": "string"
            },
            "exposureMode": {
              "type": "string",
              "description": "Output only. The exposure mode used to create the photo."
            },
            "time": {
              "description": "Output only. The date and time the photo was taken (EXIF DateTime).",
              "type": "string"
            },
            "aperture": {
              "format": "float",
              "type": "number",
              "description": "Output only. The aperture used to create the photo (f-number)."
            },
            "exposureBias": {
              "description": "Output only. The exposure bias of the photo (APEX value).",
              "format": "float",
              "type": "number"
            },
            "cameraModel": {
              "type": "string",
              "description": "Output only. The model of the camera used to create the photo."
            },
            "subjectDistance": {
              "description": "Output only. The distance to the subject of the photo, in meters.",
              "type": "integer",
              "format": "int32"
            },
            "whiteBalance": {
              "description": "Output only. The white balance mode used to create the photo.",
              "type": "string"
            },
            "lens": {
              "description": "Output only. The lens used to create the photo.",
              "type": "string"
            },
            "location": {
              "type": "object",
              "description": "Output only. Geographic location information stored in the image.",
              "properties": {
                "latitude": {
                  "type": "number",
                  "description": "Output only. The latitude stored in the image.",
                  "format": "double"
                },
                "longitude": {
                  "format": "double",
                  "type": "number",
                  "description": "Output only. The longitude stored in the image."
                },
                "altitude": {
                  "description": "Output only. The altitude stored in the image.",
                  "type": "number",
                  "format": "double"
                }
              }
            },
            "rotation": {
              "type": "integer",
              "description": "Output only. The number of clockwise 90 degree rotations applied from the image's original orientation.",
              "format": "int32"
            },
            "height": {
              "type": "integer",
              "description": "Output only. The height of the image in pixels.",
              "format": "int32"
            },
            "focalLength": {
              "description": "Output only. The focal length used to create the photo, in millimeters.",
              "type": "number",
              "format": "float"
            },
            "isoSpeed": {
              "format": "int32",
              "description": "Output only. The ISO speed used to create the photo.",
              "type": "integer"
            },
            "cameraMake": {
              "description": "Output only. The make of the camera used to create the photo.",
              "type": "string"
            },
            "colorSpace": {
              "type": "string",
              "description": "Output only. The color space of the photo."
            },
            "flashUsed": {
              "description": "Output only. Whether a flash was used to create the photo.",
              "type": "boolean"
            },
            "maxApertureValue": {
              "description": "Output only. The smallest f-number of the lens at the focal length used to create the photo (APEX value).",
              "type": "number",
              "format": "float"
            },
            "sensor": {
              "description": "Output only. The type of sensor used to create the photo.",
              "type": "string"
            },
            "exposureTime": {
              "format": "float",
              "description": "Output only. The length of the exposure, in seconds.",
              "type": "number"
            }
          },
          "type": "object",
          "description": "Output only. Additional metadata about image media, if available."
        },
        "modifiedByMe": {
          "description": "Output only. Whether the file has been modified by this user.",
          "type": "boolean"
        },
        "viewedByMeTime": {
          "format": "date-time",
          "description": "The last time the file was viewed by the user (RFC 3339 date-time).",
          "type": "string"
        },
        "labelInfo": {
          "properties": {
            "labels": {
              "items": {
                "$ref": "Label"
              },
              "type": "array",
              "description": "Output only. The set of labels on the file as requested by the label IDs in the `includeLabels` parameter. By default, no labels are returned."
            }
          },
          "description": "Label information on the file.",
          "type": "object"
        },
        "createdTime": {
          "type": "string",
          "format": "date-time",
          "description": "The time at which the file was created (RFC 3339 date-time)."
        },
        "driveId": {
          "description": "Output only. ID of the shared drive the file resides in. Only populated for items in shared drives.",
          "type": "string"
        },
        "fullFileExtension": {
          "type": "string",
          "description": "Output only. The full file extension extracted from the `name` field. May contain multiple concatenated extensions, such as \"tar.gz\". This is only available for files with binary content in Google Drive. This is automatically updated when the `name` field changes, however it's not cleared if the new name doesn't contain a valid extension."
        },
        "folderColorRgb": {
          "type": "string",
          "description": "The color for a folder or a shortcut to a folder as an RGB hex string. The supported colors are published in the `folderColorPalette` field of the [`about`](/workspace/drive/api/reference/rest/v3/about) resource. If an unsupported color is specified, the closest color in the palette is used instead."
        },
        "lastModifyingUser": {
          "$ref": "User",
          "description": "Output only. The last user to modify the file. This field is only populated when the last modification was performed by a signed-in user."
        },
        "linkShareMetadata": {
          "properties": {
            "securityUpdateEnabled": {
              "description": "Output only. Whether the security update is enabled for this file.",
              "type": "boolean"
            },
            "securityUpdateEligible": {
              "description": "Output only. Whether the file is eligible for security update.",
              "type": "boolean"
            }
          },
          "description": "Contains details about the link URLs that clients are using to refer to this item.",
          "type": "object"
        },
        "permissionIds": {
          "description": "Output only. List of permission IDs for users with access to this file.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "spaces": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. The list of spaces which contain the file. The currently supported values are `drive`, `appDataFolder`, and `photos`."
        },
        "thumbnailLink": {
          "description": "Output only. A short-lived link to the file's thumbnail, if available. Typically lasts on the order of hours. Not intended for direct usage on web applications due to [Cross-Origin Resource Sharing (CORS)](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS) policies. Consider using a proxy server. Only populated when the requesting app can access the file's content. If the file isn't shared publicly, the URL returned in `files.thumbnailLink` must be fetched using a credentialed request.",
          "type": "string"
        }
      },
      "description": "The metadata for a file. Some resource methods (such as `files.update`) require a `fileId`. Use the `files.list` method to retrieve the ID for a file.",
      "type": "object"
    },
    "CancelApprovalRequest": {
      "type": "object",
      "properties": {
        "message": {
          "description": "Optional. A message to accompany the cancellation of the approval. This message is included in notifications for the action and in the approval activity log.",
          "type": "string"
        }
      },
      "description": "Request for cancelling an approval as an initiator.",
      "id": "CancelApprovalRequest"
    },
    "App": {
      "id": "App",
      "type": "object",
      "properties": {
        "secondaryFileExtensions": {
          "items": {
            "type": "string"
          },
          "description": "The list of secondary file extensions.",
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "The name of the app."
        },
        "productUrl": {
          "type": "string",
          "description": "A link to the product listing for this app."
        },
        "supportsImport": {
          "type": "boolean",
          "description": "Whether this app supports importing from Google Docs."
        },
        "createInFolderTemplate": {
          "type": "string",
          "description": "The template URL to create a file with this app in a given folder. The template contains the {folderId} to be replaced by the folder ID house the new file."
        },
        "kind": {
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string \"drive#app\".",
          "default": "drive#app",
          "type": "string"
        },
        "primaryMimeTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of primary MIME types."
        },
        "installed": {
          "type": "boolean",
          "description": "Whether the app is installed."
        },
[...]
