{
  "discoveryVersion": "v1",
  "parameters": {
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    }
  },
  "rootUrl": "https://www.googleapis.com/",
  "ownerDomain": "google.com",
  "servicePath": "drive/v2/",
  "resources": {
    "about": {
      "methods": {
        "get": {
          "flatPath": "about",
          "httpMethod": "GET",
          "parameterOrder": [],
          "description": "Gets the information about the current user along with Drive API settings",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "path": "about",
          "response": {
            "$ref": "About"
          },
          "parameters": {
            "includeSubscribed": {
              "description": "Whether to count changes outside the My Drive hierarchy. When set to false, changes to files such as those in the Application Data folder or shared files which have not been added to My Drive will be omitted from the `maxChangeIdCount`.",
              "default": "true",
              "location": "query",
              "type": "boolean"
            },
            "startChangeId": {
              "description": "Change ID to start counting from when calculating number of remaining change IDs",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "maxChangeIdCount": {
              "type": "string",
              "format": "int64",
              "default": "1",
              "location": "query",
              "description": "Maximum number of remaining change IDs to count"
            }
          },
          "id": "drive.about.get"
        }
      }
    },
    "apps": {
      "methods": {
        "get": {
          "parameters": {
            "appId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the app."
            }
          },
          "flatPath": "apps/{appId}",
          "description": "Gets a specific app.",
          "path": "apps/{appId}",
          "parameterOrder": [
            "appId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "id": "drive.apps.get",
          "httpMethod": "GET",
          "response": {
            "$ref": "App"
          }
        },
        "list": {
          "flatPath": "apps",
          "parameterOrder": [],
          "path": "apps",
          "parameters": {
            "appFilterExtensions": {
              "location": "query",
              "type": "string",
              "description": "A comma-separated list of file extensions for open with filtering. All apps within the given app query scope which can open any of the given file extensions will be included in the response. If `appFilterMimeTypes` are provided as well, the result is a union of the two resulting app lists.",
              "default": ""
            },
            "languageCode": {
              "description": "A language or locale code, as defined by BCP 47, with some extensions from Unicode's LDML format (http://www.unicode.org/reports/tr35/).",
              "type": "string",
              "location": "query"
            },
            "appFilterMimeTypes": {
              "location": "query",
              "default": "",
              "type": "string",
              "description": "A comma-separated list of MIME types for open with filtering. All apps within the given app query scope which can open any of the given MIME types will be included in the response. If `appFilterExtensions` are provided as well, the result is a union of the two resulting app lists."
            }
          },
          "id": "drive.apps.list",
          "httpMethod": "GET",
          "description": "Lists a user's installed apps.",
          "response": {
            "$ref": "AppList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive.apps.readonly"
          ]
        }
      }
    },
    "permissions": {
      "methods": {
        "patch": {
          "id": "drive.permissions.patch",
          "request": {
            "$ref": "Permission"
          },
          "flatPath": "files/{fileId}/permissions/{permissionId}",
          "parameters": {
            "removeExpiration": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "Whether to remove the expiration date."
            },
            "useDomainAdminAccess": {
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs.",
              "default": "false",
              "type": "boolean",
              "location": "query"
            },
            "supportsTeamDrives": {
              "location": "query",
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "deprecated": true,
              "default": "false"
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "type": "boolean",
              "default": "false"
            },
            "transferOwnership": {
              "location": "query",
              "default": "false",
              "description": "Whether changing a role to `owner` downgrades the current owners to writers. Does nothing if the specified role is not `owner`.",
              "type": "boolean"
            },
            "permissionId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID for the permission."
            },
            "fileId": {
              "location": "path",
              "required": true,
              "description": "The ID for the file or shared drive.",
              "type": "string"
            },
            "enforceExpansiveAccess": {
              "description": "Deprecated: All requests use the expansive access rules.",
              "location": "query",
              "deprecated": true,
              "type": "boolean",
              "default": "false"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "path": "files/{fileId}/permissions/{permissionId}",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "Permission"
          },
          "description": "Updates a permission using patch semantics. **Warning:** Concurrent permissions operations on the same file are not supported; only the last update is applied.",
          "parameterOrder": [
            "fileId",
            "permissionId"
          ]
        },
        "get": {
          "flatPath": "files/{fileId}/permissions/{permissionId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameters": {
            "permissionId": {
              "type": "string",
              "description": "The ID for the permission.",
              "location": "path",
              "required": true
            },
            "supportsAllDrives": {
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "location": "query"
            },
            "fileId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID for the file or shared drive."
            },
            "supportsTeamDrives": {
              "deprecated": true,
              "type": "boolean",
              "location": "query",
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "useDomainAdminAccess": {
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs.",
              "location": "query",
              "default": "false",
              "type": "boolean"
            }
          },
          "description": "Gets a permission by ID.",
          "parameterOrder": [
            "fileId",
            "permissionId"
          ],
          "path": "files/{fileId}/permissions/{permissionId}",
          "id": "drive.permissions.get",
          "httpMethod": "GET",
          "response": {
            "$ref": "Permission"
          }
        },
        "update": {
          "id": "drive.permissions.update",
          "response": {
            "$ref": "Permission"
          },
          "path": "files/{fileId}/permissions/{permissionId}",
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameterOrder": [
            "fileId",
            "permissionId"
          ],
          "parameters": {
            "removeExpiration": {
              "type": "boolean",
              "description": "Whether to remove the expiration date.",
              "default": "false",
              "location": "query"
            },
            "fileId": {
              "location": "path",
              "required": true,
              "description": "The ID for the file or shared drive.",
              "type": "string"
            },
            "supportsAllDrives": {
              "default": "false",
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean"
            },
            "transferOwnership": {
              "default": "false",
              "description": "Whether changing a role to `owner` downgrades the current owners to writers. Does nothing if the specified role is not `owner`.",
              "location": "query",
              "type": "boolean"
            },
            "useDomainAdminAccess": {
              "location": "query",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs.",
              "type": "boolean",
              "default": "false"
            },
            "permissionId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID for the permission."
            },
            "enforceExpansiveAccess": {
              "type": "boolean",
              "deprecated": true,
              "description": "Deprecated: All requests use the expansive access rules.",
              "default": "false",
              "location": "query"
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "default": "false",
              "deprecated": true,
              "type": "boolean"
            }
          },
          "request": {
            "$ref": "Permission"
          },
          "flatPath": "files/{fileId}/permissions/{permissionId}",
          "description": "Updates a permission. **Warning:** Concurrent permissions operations on the same file are not supported; only the last update is applied."
        },
        "getIdForEmail": {
          "flatPath": "permissionIds/{email}",
          "parameters": {
            "email": {
              "location": "path",
              "required": true,
              "description": "The email address for which to return a permission ID",
              "type": "string"
            }
          },
          "description": "Returns the permission ID for an email address.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameterOrder": [
            "email"
          ],
          "httpMethod": "GET",
          "path": "permissionIds/{email}",
          "id": "drive.permissions.getIdForEmail",
          "response": {
            "$ref": "PermissionId"
          }
        },
        "insert": {
          "request": {
            "$ref": "Permission"
          },
          "path": "files/{fileId}/permissions",
          "parameterOrder": [
            "fileId"
          ],
          "httpMethod": "POST",
          "flatPath": "files/{fileId}/permissions",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "response": {
            "$ref": "Permission"
          },
          "parameters": {
            "enforceExpansiveAccess": {
              "type": "boolean",
              "deprecated": true,
              "location": "query",
              "description": "Deprecated: All requests use the expansive access rules.",
              "default": "false"
            },
            "emailMessage": {
              "description": "A plain text custom message to include in notification emails.",
              "type": "string",
              "location": "query"
            },
            "supportsTeamDrives": {
              "deprecated": true,
              "default": "false",
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query"
            },
            "fileId": {
              "description": "The ID for the file or shared drive.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "moveToNewOwnersRoot": {
              "location": "query",
              "type": "boolean",
              "description": "This parameter will only take effect if the item is not in a shared drive and the request is attempting to transfer the ownership of the item. If set to `true`, the item will be moved to the new owner's My Drive root folder and all prior parents removed. If set to `false`, parents are not changed.",
              "default": "false"
            },
            "useDomainAdminAccess": {
              "location": "query",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs.",
              "default": "false",
              "type": "boolean"
            },
            "enforceSingleParent": {
              "deprecated": true,
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "Deprecated: See `moveToNewOwnersRoot` for details."
            },
            "supportsAllDrives": {
              "type": "boolean",
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false"
            },
            "sendNotificationEmails": {
              "description": "Whether to send notification emails when sharing to users or groups. This parameter is ignored and an email is sent if the `role` is `owner`.",
              "default": "true",
              "location": "query",
              "type": "boolean"
            }
          },
          "description": "Inserts a permission for a file or shared drive. **Warning:** Concurrent permissions operations on the same file are not supported; only the last update is applied.",
          "id": "drive.permissions.insert"
        },
        "list": {
          "path": "files/{fileId}/permissions",
          "parameters": {
            "pageToken": {
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response.",
              "type": "string",
              "location": "query"
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean",
              "location": "query",
              "default": "false",
              "deprecated": true
            },
            "supportsAllDrives": {
              "type": "boolean",
              "location": "query",
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            },
            "fileId": {
              "location": "path",
              "required": true,
              "description": "The ID for the file or shared drive.",
              "type": "string"
            },
            "maxResults": {
              "description": "The maximum number of permissions to return per page. When not set for files in a shared drive, at most 100 results will be returned. When not set for files that are not in a shared drive, the entire list will be returned.",
              "location": "query",
              "minimum": "1",
              "format": "int32",
              "type": "integer",
              "maximum": "100"
            },
            "includePermissionsForView": {
              "type": "string",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query"
            },
            "useDomainAdminAccess": {
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs.",
              "location": "query",
              "type": "boolean",
              "default": "false"
            }
          },
          "description": "Lists a file's or shared drive's permissions.",
          "response": {
            "$ref": "PermissionList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "id": "drive.permissions.list",
          "httpMethod": "GET",
          "parameterOrder": [
            "fileId"
          ],
          "flatPath": "files/{fileId}/permissions"
        },
        "delete": {
          "parameterOrder": [
            "fileId",
            "permissionId"
          ],
          "flatPath": "files/{fileId}/permissions/{permissionId}",
          "parameters": {
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "default": "false",
              "deprecated": true,
              "type": "boolean"
            },
            "supportsAllDrives": {
              "type": "boolean",
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query"
            },
            "useDomainAdminAccess": {
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            },
            "enforceExpansiveAccess": {
              "default": "false",
              "description": "Deprecated: All requests use the expansive access rules.",
              "location": "query",
              "deprecated": true,
              "type": "boolean"
            },
            "permissionId": {
              "type": "string",
              "description": "The ID for the permission.",
              "location": "path",
              "required": true
            },
            "fileId": {
              "type": "string",
              "description": "The ID for the file or shared drive.",
              "location": "path",
              "required": true
            }
          },
          "path": "files/{fileId}/permissions/{permissionId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "description": "Deletes a permission from a file or shared drive. **Warning:** Concurrent permissions operations on the same file are not supported; only the last update is applied.",
          "httpMethod": "DELETE",
          "id": "drive.permissions.delete"
        }
      }
    },
    "channels": {
      "methods": {
        "stop": {
          "request": {
            "parameterName": "resource",
            "$ref": "Channel"
          },
          "path": "channels/stop",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "id": "drive.channels.stop",
          "httpMethod": "POST",
          "flatPath": "channels/stop",
          "parameterOrder": [],
          "description": "Stops watching resources through this channel."
        }
      }
    },
    "comments": {
      "methods": {
        "delete": {
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "commentId": {
              "description": "The ID of the comment.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "flatPath": "files/{fileId}/comments/{commentId}",
          "description": "Deletes a comment.",
          "id": "drive.comments.delete",
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "httpMethod": "DELETE",
          "path": "files/{fileId}/comments/{commentId}"
        },
        "get": {
          "flatPath": "files/{fileId}/comments/{commentId}",
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "commentId": {
              "description": "The ID of the comment.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "includeDeleted": {
              "type": "boolean",
              "location": "query",
              "default": "false",
              "description": "If set, this will succeed when retrieving a deleted comment, and will include any deleted replies."
            }
          },
          "path": "files/{fileId}/comments/{commentId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "response": {
            "$ref": "Comment"
          },
          "id": "drive.comments.get",
          "description": "Gets a comment by ID."
        },
        "patch": {
          "flatPath": "files/{fileId}/comments/{commentId}",
          "request": {
            "$ref": "Comment"
          },
          "httpMethod": "PATCH",
          "path": "files/{fileId}/comments/{commentId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "response": {
            "$ref": "Comment"
          },
          "id": "drive.comments.patch",
          "parameters": {
            "commentId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the comment."
            },
            "fileId": {
              "location": "path",
              "required": true,
              "description": "The ID of the file.",
              "type": "string"
            }
          },
          "description": "Updates an existing comment.",
          "parameterOrder": [
            "fileId",
            "commentId"
          ]
        },
        "insert": {
          "httpMethod": "POST",
          "id": "drive.comments.insert",
          "flatPath": "files/{fileId}/comments",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "path": "files/{fileId}/comments",
          "parameterOrder": [
            "fileId"
          ],
          "response": {
            "$ref": "Comment"
          },
          "request": {
            "$ref": "Comment"
          },
          "parameters": {
            "fileId": {
              "location": "path",
              "required": true,
              "description": "The ID of the file.",
              "type": "string"
            }
          },
          "description": "Creates a new comment on the given file."
        },
        "update": {
          "parameters": {
            "commentId": {
              "description": "The ID of the comment.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "fileId": {
              "description": "The ID of the file.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "description": "Updates an existing comment.",
          "path": "files/{fileId}/comments/{commentId}",
          "flatPath": "files/{fileId}/comments/{commentId}",
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "id": "drive.comments.update",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "response": {
            "$ref": "Comment"
          },
          "httpMethod": "PUT",
          "request": {
            "$ref": "Comment"
          }
        },
        "list": {
          "response": {
            "$ref": "CommentList"
          },
          "httpMethod": "GET",
          "id": "drive.comments.list",
          "path": "files/{fileId}/comments",
          "description": "Lists a file's comments.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "files/{fileId}/comments",
          "parameters": {
            "fileId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the file."
            },
            "pageToken": {
              "type": "string",
              "description": "The continuation token, used to page through large result sets. To get the next page of results, set this parameter to the value of \"nextPageToken\" from the previous response.",
              "location": "query"
            },
            "maxResults": {
              "format": "int32",
              "default": "20",
              "description": "The maximum number of discussions to include in the response, used for paging.",
              "minimum": "0",
              "type": "integer",
              "maximum": "100",
              "location": "query"
            },
            "includeDeleted": {
              "location": "query",
              "default": "false",
              "description": "If set, all comments and replies, including deleted comments and replies (with content stripped) will be returned.",
              "type": "boolean"
            },
            "updatedMin": {
              "location": "query",
              "type": "string",
              "description": "Only discussions that were updated after this timestamp will be returned. Formatted as an RFC 3339 timestamp."
            }
          },
          "parameterOrder": [
            "fileId"
          ]
        }
      }
    },
    "revisions": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "path": "files/{fileId}/revisions/{revisionId}",
          "id": "drive.revisions.get",
          "parameterOrder": [
            "fileId",
            "revisionId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "files/{fileId}/revisions/{revisionId}",
          "response": {
            "$ref": "Revision"
          },
          "description": "Gets a specific revision.",
          "parameters": {
            "fileId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the file."
            },
            "revisionId": {
              "location": "path",
              "required": true,
              "description": "The ID of the revision.",
              "type": "string"
            }
          }
        },
        "list": {
          "flatPath": "files/{fileId}/revisions",
          "id": "drive.revisions.list",
          "description": "Lists a file's revisions. **Important:** The list of revisions returned by this method might be incomplete for files with a large revision history, including frequently edited Google Docs, Sheets, and Slides. Older revisions might be omitted from the response, meaning the first revision returned may not be the oldest existing revision. The revision history visible in the Workspace editor user interface might be more complete than the list returned by the API.",
          "path": "files/{fileId}/revisions",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Page token for revisions. To get the next page of results, set this parameter to the value of \"nextPageToken\" from the previous response."
            },
            "maxResults": {
              "location": "query",
              "minimum": "1",
              "format": "int32",
              "type": "integer",
              "default": "200",
              "description": "Maximum number of revisions to return.",
              "maximum": "1000"
            },
            "fileId": {
              "description": "The ID of the file.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "fileId"
          ],
          "response": {
            "$ref": "RevisionList"
          }
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameters": {
            "fileId": {
              "type": "string",
              "description": "The ID for the file.",
              "location": "path",
              "required": true
            },
            "revisionId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID for the revision."
            }
          },
          "response": {
            "$ref": "Revision"
          },
          "id": "drive.revisions.update",
          "request": {
            "$ref": "Revision"
          },
          "path": "files/{fileId}/revisions/{revisionId}",
          "parameterOrder": [
            "fileId",
            "revisionId"
          ],
          "flatPath": "files/{fileId}/revisions/{revisionId}",
          "description": "Updates a revision.",
          "httpMethod": "PUT"
        },
        "patch": {
          "flatPath": "files/{fileId}/revisions/{revisionId}",
          "httpMethod": "PATCH",
          "id": "drive.revisions.patch",
          "path": "files/{fileId}/revisions/{revisionId}",
          "parameterOrder": [
            "fileId",
            "revisionId"
          ],
          "description": "Updates a revision.",
          "request": {
            "$ref": "Revision"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "response": {
            "$ref": "Revision"
          },
          "parameters": {
            "fileId": {
              "location": "path",
              "required": true,
              "description": "The ID for the file.",
              "type": "string"
            },
            "revisionId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID for the revision."
            }
          }
        },
        "delete": {
          "path": "files/{fileId}/revisions/{revisionId}",
          "parameters": {
            "fileId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the file."
            },
            "revisionId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the revision."
            }
          },
          "flatPath": "files/{fileId}/revisions/{revisionId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "description": "Permanently deletes a file version. You can only delete revisions for files with binary content, like images or videos. Revisions for other files, like Google Docs or Sheets, and the last remaining file version can't be deleted.",
          "httpMethod": "DELETE",
          "id": "drive.revisions.delete",
          "parameterOrder": [
            "fileId",
            "revisionId"
          ]
        }
      }
    },
    "teamdrives": {
      "methods": {
        "delete": {
          "parameterOrder": [
            "teamDriveId"
          ],
          "httpMethod": "DELETE",
          "flatPath": "teamdrives/{teamDriveId}",
          "path": "teamdrives/{teamDriveId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "id": "drive.teamdrives.delete",
          "description": "Deprecated: Use `drives.delete` instead.",
          "parameters": {
            "teamDriveId": {
              "location": "path",
              "required": true,
              "description": "The ID of the Team Drive",
              "type": "string"
            }
          }
        },
        "get": {
          "flatPath": "teamdrives/{teamDriveId}",
          "id": "drive.teamdrives.get",
          "path": "teamdrives/{teamDriveId}",
          "parameterOrder": [
            "teamDriveId"
          ],
          "parameters": {
            "teamDriveId": {
              "location": "path",
              "required": true,
              "description": "The ID of the Team Drive",
              "type": "string"
            },
            "useDomainAdminAccess": {
              "default": "false",
              "type": "boolean",
              "location": "query",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the Team Drive belongs."
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "description": "Deprecated: Use `drives.get` instead.",
          "response": {
            "$ref": "TeamDrive"
          }
        },
        "insert": {
          "flatPath": "teamdrives",
          "id": "drive.teamdrives.insert",
          "request": {
            "$ref": "TeamDrive"
          },
          "parameterOrder": [
            "requestId"
          ],
          "path": "teamdrives",
          "parameters": {
            "requestId": {
              "type": "string",
              "description": "Required. An ID, such as a random UUID, which uniquely identifies this user's request for idempotent creation of a Team Drive. A repeated request by the same user and with the same request ID will avoid creating duplicates by attempting to create the same Team Drive. If the Team Drive already exists a 409 error will be returned.",
              "location": "query",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "httpMethod": "POST",
          "description": "Deprecated: Use `drives.insert` instead.",
          "response": {
            "$ref": "TeamDrive"
          }
        },
        "list": {
          "description": "Deprecated: Use `drives.list` instead.",
          "response": {
            "$ref": "TeamDriveList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "Page token for Team Drives.",
              "location": "query"
            },
            "useDomainAdminAccess": {
              "description": "Issue the request as a domain administrator; if set to true, then all Team Drives of the domain in which the requester is an administrator are returned.",
              "location": "query",
              "default": "false",
              "type": "boolean"
            },
            "q": {
              "type": "string",
              "description": "Query string for searching Team Drives.",
              "location": "query"
            },
            "maxResults": {
              "maximum": "100",
              "format": "int32",
              "description": "Maximum number of Team Drives to return.",
              "type": "integer",
              "default": "10",
              "location": "query",
              "minimum": "1"
            }
          },
          "httpMethod": "GET",
          "id": "drive.teamdrives.list",
          "flatPath": "teamdrives",
          "path": "teamdrives",
          "parameterOrder": []
        },
        "update": {
          "flatPath": "teamdrives/{teamDriveId}",
          "path": "teamdrives/{teamDriveId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "parameters": {
            "teamDriveId": {
              "type": "string",
              "description": "The ID of the Team Drive",
              "location": "path",
              "required": true
            },
            "useDomainAdminAccess": {
              "type": "boolean",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the Team Drive belongs.",
              "default": "false",
              "location": "query"
            }
          },
          "id": "drive.teamdrives.update",
          "description": "Deprecated: Use `drives.update` instead.",
          "httpMethod": "PUT",
          "response": {
            "$ref": "TeamDrive"
          },
          "request": {
            "$ref": "TeamDrive"
          },
          "parameterOrder": [
            "teamDriveId"
          ]
        }
      }
    },
    "changes": {
      "methods": {
        "get": {
          "parameters": {
            "teamDriveId": {
              "deprecated": true,
              "location": "query",
              "description": "Deprecated: Use `driveId` instead.",
              "type": "string"
            },
            "supportsTeamDrives": {
              "location": "query",
              "deprecated": true,
              "type": "boolean",
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "driveId": {
              "description": "The shared drive from which the change will be returned.",
              "type": "string",
              "location": "query"
            },
            "changeId": {
              "type": "string",
              "description": "The ID of the change.",
              "location": "path",
              "required": true
            },
            "supportsAllDrives": {
              "default": "false",
              "type": "boolean",
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            }
          },
          "description": "Deprecated: Use `changes.getStartPageToken` and `changes.list` to retrieve recent changes.",
          "parameterOrder": [
            "changeId"
          ],
          "flatPath": "changes/{changeId}",
          "response": {
            "$ref": "Change"
          },
          "path": "changes/{changeId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "id": "drive.changes.get",
          "httpMethod": "GET"
        },
        "list": {
          "supportsSubscription": true,
          "id": "drive.changes.list",
          "description": "Lists the changes for a user or shared drive.",
          "flatPath": "changes",
          "path": "changes",
          "parameters": {
            "includePermissionsForView": {
              "type": "string",
              "location": "query",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported."
            },
            "supportsTeamDrives": {
              "location": "query",
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean",
              "deprecated": true
            },
            "maxResults": {
              "description": "Maximum number of changes to return.",
              "location": "query",
              "type": "integer",
              "minimum": "1",
              "default": "100",
              "format": "int32"
            },
            "includeSubscribed": {
              "description": "Whether to include changes outside the My Drive hierarchy in the result. When set to false, changes to files such as those in the Application Data folder or shared files which have not been added to My Drive will be omitted from the result.",
              "default": "true",
              "type": "boolean",
              "location": "query"
            },
            "includeCorpusRemovals": {
              "type": "boolean",
              "location": "query",
              "default": "false",
              "description": "Whether changes should include the file resource if the file is still accessible by the user at the time of the request, even when a file was removed from the list of changes and there will be no further change entries for this file."
            },
            "startChangeId": {
              "format": "int64",
              "location": "query",
              "description": "Deprecated: Use `pageToken` instead.",
              "deprecated": true,
              "type": "string"
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string",
              "location": "query"
            },
            "includeItemsFromAllDrives": {
              "description": "Whether both My Drive and shared drive items should be included in results.",
              "default": "false",
              "location": "query",
              "type": "boolean"
            },
            "driveId": {
              "location": "query",
              "type": "string",
              "description": "The shared drive from which changes will be returned. If specified the change IDs will be reflective of the shared drive; use the combined drive ID and change ID as an identifier."
            },
            "includeDeleted": {
              "default": "true",
              "description": "Whether to include changes indicating that items have been removed from the list of changes, for example by deletion or loss of access.",
              "location": "query",
              "type": "boolean"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response or to the response from the getStartPageToken method."
            },
            "spaces": {
              "type": "string",
              "location": "query",
              "description": "A comma-separated list of spaces to query. Supported values are `drive`, `appDataFolder` and `photos`."
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "default": "false",
              "location": "query"
            },
            "includeTeamDriveItems": {
              "type": "boolean",
              "location": "query",
              "deprecated": true,
              "default": "false",
              "description": "Deprecated: Use `includeItemsFromAllDrives` instead."
            },
            "teamDriveId": {
              "description": "Deprecated: Use `driveId` instead.",
              "location": "query",
              "deprecated": true,
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "ChangeList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameterOrder": []
        },
        "watch": {
          "request": {
            "parameterName": "resource",
            "$ref": "Channel"
          },
          "description": "Subscribe to changes for a user.",
          "parameterOrder": [],
          "flatPath": "changes/watch",
          "supportsSubscription": true,
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameters": {
            "includeDeleted": {
              "location": "query",
              "type": "boolean",
              "default": "true",
              "description": "Whether to include changes indicating that items have been removed from the list of changes, for example by deletion or loss of access."
            },
            "includeItemsFromAllDrives": {
              "default": "false",
              "type": "boolean",
              "description": "Whether both My Drive and shared drive items should be included in results.",
              "location": "query"
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean",
              "deprecated": true,
              "default": "false",
              "location": "query"
            },
            "includeSubscribed": {
              "type": "boolean",
              "location": "query",
              "default": "true",
              "description": "Whether to include changes outside the My Drive hierarchy in the result. When set to false, changes to files such as those in the Application Data folder or shared files which have not been added to My Drive will be omitted from the result."
            },
            "spaces": {
              "location": "query",
              "description": "A comma-separated list of spaces to query. Supported values are `drive`, `appDataFolder` and `photos`.",
              "type": "string"
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response or to the response from the getStartPageToken method."
            },
            "includeTeamDriveItems": {
              "location": "query",
              "type": "boolean",
              "description": "Deprecated: Use `includeItemsFromAllDrives` instead.",
              "default": "false",
              "deprecated": true
            },
            "maxResults": {
              "format": "int32",
              "location": "query",
              "type": "integer",
              "minimum": "1",
              "default": "100",
              "description": "Maximum number of changes to return."
            },
            "teamDriveId": {
              "deprecated": true,
              "description": "Deprecated: Use `driveId` instead.",
              "location": "query",
              "type": "string"
            },
            "includeCorpusRemovals": {
              "description": "Whether changes should include the file resource if the file is still accessible by the user at the time of the request, even when a file was removed from the list of changes and there will be no further change entries for this file.",
              "default": "false",
              "location": "query",
              "type": "boolean"
            },
            "driveId": {
              "location": "query",
              "type": "string",
              "description": "The shared drive from which changes will be returned. If specified the change IDs will be reflective of the shared drive; use the combined drive ID and change ID as an identifier."
            },
            "startChangeId": {
              "format": "int64",
              "deprecated": true,
              "location": "query",
              "type": "string",
              "description": "Deprecated: Use `pageToken` instead."
            },
            "includeLabels": {
              "location": "query",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string"
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "default": "false",
              "location": "query"
            }
          },
          "id": "drive.changes.watch",
          "response": {
            "$ref": "Channel"
          },
          "httpMethod": "POST",
          "path": "changes/watch"
        },
        "getStartPageToken": {
          "id": "drive.changes.getStartPageToken",
          "httpMethod": "GET",
          "description": "Gets the starting pageToken for listing future changes.",
          "response": {
            "$ref": "StartPageToken"
          },
          "path": "changes/startPageToken",
          "flatPath": "changes/startPageToken",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameters": {
            "teamDriveId": {
              "location": "query",
              "description": "Deprecated: Use `driveId` instead.",
              "type": "string",
              "deprecated": true
            },
            "driveId": {
              "type": "string",
              "description": "The ID of the shared drive for which the starting pageToken for listing future changes from that shared drive will be returned.",
              "location": "query"
            },
            "supportsAllDrives": {
              "location": "query",
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false"
            },
            "supportsTeamDrives": {
              "location": "query",
              "deprecated": true,
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean"
            }
          },
          "parameterOrder": []
        }
      }
    },
    "replies": {
      "methods": {
        "patch": {
          "path": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "parameterOrder": [
            "fileId",
            "commentId",
            "replyId"
          ],
          "id": "drive.replies.patch",
          "response": {
            "$ref": "CommentReply"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "request": {
            "$ref": "CommentReply"
          },
          "parameters": {
            "commentId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the comment."
            },
            "replyId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the reply."
            },
            "fileId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the file."
            }
          },
          "httpMethod": "PATCH",
          "description": "Updates an existing reply.",
          "flatPath": "files/{fileId}/comments/{commentId}/replies/{replyId}"
        },
        "update": {
          "request": {
            "$ref": "CommentReply"
          },
          "description": "Updates an existing reply.",
          "parameterOrder": [
            "fileId",
            "commentId",
            "replyId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "flatPath": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "parameters": {
            "replyId": {
              "description": "The ID of the reply.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "commentId": {
              "description": "The ID of the comment.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "fileId": {
              "description": "The ID of the file.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "id": "drive.replies.update",
          "httpMethod": "PUT",
          "response": {
            "$ref": "CommentReply"
          },
          "path": "files/{fileId}/comments/{commentId}/replies/{replyId}"
        },
        "insert": {
          "id": "drive.replies.insert",
          "flatPath": "files/{fileId}/comments/{commentId}/replies",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "description": "Creates a new reply to the given comment.",
          "parameters": {
            "commentId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the comment."
            },
            "fileId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the file."
            }
          },
          "path": "files/{fileId}/comments/{commentId}/replies",
          "httpMethod": "POST",
          "request": {
            "$ref": "CommentReply"
          },
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "response": {
            "$ref": "CommentReply"
          }
        },
        "get": {
          "parameterOrder": [
            "fileId",
            "commentId",
            "replyId"
          ],
          "parameters": {
            "commentId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the comment."
            },
            "includeDeleted": {
              "description": "If set, this will succeed when retrieving a deleted reply.",
              "type": "boolean",
              "default": "false",
              "location": "query"
            },
            "fileId": {
              "type": "string",
              "description": "The ID of the file.",
              "location": "path",
              "required": true
            },
            "replyId": {
              "description": "The ID of the reply.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "CommentReply"
          },
          "id": "drive.replies.get",
          "httpMethod": "GET",
          "flatPath": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "path": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "description": "Gets a reply."
        },
        "list": {
          "path": "files/{fileId}/comments/{commentId}/replies",
          "response": {
            "$ref": "CommentReplyList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameters": {
            "fileId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the file."
            },
            "includeDeleted": {
              "default": "false",
              "location": "query",
              "type": "boolean",
              "description": "If set, all replies, including deleted replies (with content stripped) will be returned."
            },
            "maxResults": {
              "maximum": "100",
              "format": "int32",
              "type": "integer",
              "location": "query",
              "default": "20",
              "minimum": "0",
              "description": "The maximum number of replies to include in the response, used for paging."
            },
            "commentId": {
              "location": "path",
              "required": true,
              "description": "The ID of the comment.",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The continuation token, used to page through large result sets. To get the next page of results, set this parameter to the value of \"nextPageToken\" from the previous response."
            }
          },
          "flatPath": "files/{fileId}/comments/{commentId}/replies",
          "httpMethod": "GET",
          "id": "drive.replies.list",
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "description": "Lists all of the replies to a comment."
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "httpMethod": "DELETE",
          "id": "drive.replies.delete",
          "flatPath": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "parameters": {
            "replyId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the reply."
            },
            "commentId": {
              "type": "string",
              "description": "The ID of the comment.",
              "location": "path",
              "required": true
            },
            "fileId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the file."
            }
          },
          "description": "Deletes a reply.",
          "parameterOrder": [
            "fileId",
            "commentId",
            "replyId"
          ],
          "path": "files/{fileId}/comments/{commentId}/replies/{replyId}"
        }
      }
    },
    "properties": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "response": {
            "$ref": "Property"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameterOrder": [
            "fileId",
            "propertyKey"
          ],
          "path": "files/{fileId}/properties/{propertyKey}",
          "flatPath": "files/{fileId}/properties/{propertyKey}",
          "id": "drive.properties.get",
          "description": "Gets a property by its key.",
          "parameters": {
            "fileId": {
              "location": "path",
              "required": true,
              "description": "The ID of the file.",
              "type": "string"
            },
            "propertyKey": {
              "type": "string",
              "description": "The key of the property.",
              "location": "path",
              "required": true
            },
            "visibility": {
              "location": "query",
              "description": "The visibility of the property.",
              "default": "private",
              "type": "string"
            }
          }
        },
        "update": {
          "response": {
            "$ref": "Property"
          },
          "request": {
            "$ref": "Property"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "httpMethod": "PUT",
          "path": "files/{fileId}/properties/{propertyKey}",
          "parameterOrder": [
            "fileId",
            "propertyKey"
          ],
          "id": "drive.properties.update",
          "parameters": {
            "fileId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the file."
            },
            "visibility": {
              "type": "string",
              "description": "The visibility of the property. Allowed values are PRIVATE and PUBLIC. (Default: PRIVATE)",
              "location": "query",
              "default": "private"
            },
            "propertyKey": {
              "location": "path",
              "required": true,
              "description": "The key of the property.",
              "type": "string"
            }
          },
          "flatPath": "files/{fileId}/properties/{propertyKey}",
          "description": "Updates a property."
        },
        "insert": {
          "flatPath": "files/{fileId}/properties",
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "id": "drive.properties.insert",
          "request": {
            "$ref": "Property"
          },
          "path": "files/{fileId}/properties",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "description": "Adds a property to a file, or updates it if it already exists.",
          "httpMethod": "POST",
          "parameterOrder": [
            "fileId"
          ],
          "response": {
            "$ref": "Property"
          }
        },
        "delete": {
          "parameterOrder": [
            "fileId",
            "propertyKey"
          ],
          "httpMethod": "DELETE",
          "description": "Deletes a property.",
          "path": "files/{fileId}/properties/{propertyKey}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "visibility": {
              "default": "private",
              "description": "The visibility of the property.",
              "type": "string",
              "location": "query"
            },
            "propertyKey": {
              "description": "The key of the property.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "files/{fileId}/properties/{propertyKey}",
          "id": "drive.properties.delete"
        },
        "patch": {
          "parameterOrder": [
            "fileId",
            "propertyKey"
          ],
          "id": "drive.properties.patch",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "Property"
          },
          "parameters": {
            "visibility": {
              "default": "private",
              "type": "string",
              "description": "The visibility of the property. Allowed values are PRIVATE and PUBLIC. (Default: PRIVATE)",
              "location": "query"
            },
            "propertyKey": {
              "description": "The key of the property.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "fileId": {
              "description": "The ID of the file.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "files/{fileId}/properties/{propertyKey}",
          "request": {
            "$ref": "Property"
          },
          "path": "files/{fileId}/properties/{propertyKey}",
          "description": "Updates a property.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ]
        },
        "list": {
          "id": "drive.properties.list",
          "description": "Lists a file's properties.",
          "response": {
            "$ref": "PropertyList"
          },
          "path": "files/{fileId}/properties",
          "parameters": {
            "fileId": {
              "type": "string",
              "description": "The ID of the file.",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameterOrder": [
            "fileId"
          ],
          "httpMethod": "GET",
          "flatPath": "files/{fileId}/properties"
        }
      }
    },
    "drives": {
      "methods": {
        "insert": {
          "request": {
            "$ref": "Drive"
          },
          "description": "Creates a new shared drive.",
          "flatPath": "drives",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "httpMethod": "POST",
          "id": "drive.drives.insert",
          "parameters": {
            "requestId": {
              "location": "query",
              "required": true,
              "type": "string",
              "description": "Required. An ID, such as a random UUID, which uniquely identifies this user's request for idempotent creation of a shared drive. A repeated request by the same user and with the same request ID will avoid creating duplicates by attempting to create the same shared drive. If the shared drive already exists a 409 error will be returned."
            }
          },
          "parameterOrder": [
            "requestId"
          ],
          "response": {
            "$ref": "Drive"
          },
          "path": "drives"
        },
        "hide": {
          "parameters": {
            "driveId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the shared drive."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "response": {
            "$ref": "Drive"
          },
          "id": "drive.drives.hide",
          "description": "Hides a shared drive from the default view.",
          "flatPath": "drives/{driveId}/hide",
          "parameterOrder": [
            "driveId"
          ],
          "httpMethod": "POST",
          "path": "drives/{driveId}/hide"
        },
        "unhide": {
          "response": {
            "$ref": "Drive"
          },
          "parameters": {
            "driveId": {
              "description": "The ID of the shared drive.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "path": "drives/{driveId}/unhide",
          "parameterOrder": [
            "driveId"
          ],
          "id": "drive.drives.unhide",
          "description": "Restores a shared drive to the default view.",
          "flatPath": "drives/{driveId}/unhide",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ]
        },
        "update": {
          "description": "Updates the metadata for a shared drive.",
          "request": {
            "$ref": "Drive"
          },
          "response": {
            "$ref": "Drive"
          },
          "id": "drive.drives.update",
          "parameterOrder": [
            "driveId"
          ],
          "parameters": {
            "useDomainAdminAccess": {
              "location": "query",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the shared drive belongs.",
              "default": "false",
              "type": "boolean"
            },
            "driveId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the shared drive."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "httpMethod": "PUT",
          "path": "drives/{driveId}",
          "flatPath": "drives/{driveId}"
        },
        "delete": {
          "parameters": {
            "driveId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the shared drive."
            },
            "allowItemDeletion": {
              "default": "false",
              "description": "Whether any items inside the shared drive should also be deleted. This option is only supported when `useDomainAdminAccess` is also set to `true`.",
              "location": "query",
              "type": "boolean"
            },
            "useDomainAdminAccess": {
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the shared drive belongs.",
              "type": "boolean",
              "default": "false",
              "location": "query"
            }
          },
          "path": "drives/{driveId}",
          "description": "Permanently deletes a shared drive for which the user is an `organizer`. The shared drive cannot contain any untrashed items.",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "id": "drive.drives.delete",
          "httpMethod": "DELETE",
          "flatPath": "drives/{driveId}",
          "parameterOrder": [
            "driveId"
          ]
        },
        "get": {
          "httpMethod": "GET",
          "description": "Gets a shared drive's metadata by ID.",
          "response": {
            "$ref": "Drive"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "drives/{driveId}",
          "path": "drives/{driveId}",
          "parameterOrder": [
            "driveId"
          ],
          "parameters": {
            "useDomainAdminAccess": {
              "type": "boolean",
              "location": "query",
              "default": "false",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the shared drive belongs."
            },
            "driveId": {
              "location": "path",
              "required": true,
              "description": "The ID of the shared drive.",
              "type": "string"
            }
          },
          "id": "drive.drives.get"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "httpMethod": "GET",
          "parameterOrder": [],
          "path": "drives",
          "response": {
            "$ref": "DriveList"
          },
          "flatPath": "drives",
          "parameters": {
            "maxResults": {
              "type": "integer",
              "maximum": "100",
              "minimum": "1",
              "location": "query",
              "description": "Maximum number of shared drives to return per page.",
              "default": "10",
              "format": "int32"
            },
            "pageToken": {
              "type": "string",
              "description": "Page token for shared drives.",
              "location": "query"
            },
            "q": {
              "type": "string",
              "description": "Query string for searching shared drives.",
              "location": "query"
            },
            "useDomainAdminAccess": {
              "description": "Issue the request as a domain administrator; if set to true, then all shared drives of the domain in which the requester is an administrator are returned.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            }
          },
          "id": "drive.drives.list",
          "description": " Lists the user's shared drives. This method accepts the `q` parameter, which is a search query combining one or more search terms. For more information, see the [Search for shared drives](https://developers.google.com/workspace/drive/api/guides/search-shareddrives) guide."
        }
      }
    },
    "files": {
      "methods": {
        "trash": {
          "parameters": {
            "supportsTeamDrives": {
              "default": "false",
              "type": "boolean",
              "deprecated": true,
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query"
            },
            "supportsAllDrives": {
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false",
              "type": "boolean"
            },
            "fileId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the file to trash."
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string",
              "location": "query"
            },
            "includePermissionsForView": {
              "type": "string",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query"
            }
          },
          "flatPath": "files/{fileId}/trash",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "response": {
            "$ref": "File"
          },
          "id": "drive.files.trash",
          "path": "files/{fileId}/trash",
          "description": "Moves a file to the trash. The currently authenticated user must own the file or be at least a `fileOrganizer` on the parent for shared drive files.",
          "httpMethod": "POST",
          "parameterOrder": [
            "fileId"
          ]
        },
        "generateCseToken": {
          "response": {
            "$ref": "GenerateCseTokenResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "httpMethod": "GET",
          "parameters": {
            "fileId": {
              "location": "query",
              "type": "string",
              "description": "The ID of the file for which the JWT should be generated. If not provided, an id will be generated."
            },
            "parent": {
              "type": "string",
              "location": "query",
              "description": "The ID of the expected parent of the file. Used when generating a JWT for a new CSE file. If specified, the parent will be fetched, and if the parent is a shared drive item, the shared drive's policy will be used to determine the KACLS that should be used. It is invalid to specify both file_id and parent in a single request."
            }
          },
          "description": "Generates a CSE token which can be used to create or update CSE files.",
          "id": "drive.files.generateCseToken",
          "parameterOrder": [],
          "flatPath": "files/generateCseToken",
          "path": "files/generateCseToken"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "FileList"
          },
          "parameters": {
            "maxResults": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "The maximum number of files to return per page. Partial or empty result pages are possible even before the end of the files list has been reached.",
              "default": "100",
              "minimum": "0"
            },
            "pageToken": {
              "type": "string",
              "description": "Page token for files.",
              "location": "query"
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "type": "string",
              "location": "query"
            },
            "projection": {
              "description": "Deprecated: This parameter has no function.",
              "type": "string",
              "enum": [
                "BASIC",
                "FULL"
              ],
              "deprecated": true,
              "enumDescriptions": [
                "Deprecated.",
                "Deprecated."
              ],
              "location": "query"
            },
            "spaces": {
              "description": "A comma-separated list of spaces to query. Supported values are `drive`, and `appDataFolder`.",
              "location": "query",
              "type": "string"
            },
            "supportsAllDrives": {
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false",
              "location": "query"
            },
            "includeLabels": {
              "location": "query",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string"
            },
            "orderBy": {
              "type": "string",
              "description": "A comma-separated list of sort keys. Valid keys are: * `createdDate`: When the file was created. * `folder`: The folder ID. This field is sorted using alphabetical ordering. * `lastViewedByMeDate`: The last time the file was viewed by the user. * `modifiedByMeDate`: The last time the file was modified by the user. * `modifiedDate`: The last time the file was modified by anyone. * `quotaBytesUsed`: The number of storage quota bytes used by the file. * `recency`: The most recent timestamp from the file's date-time fields. * `sharedWithMeDate`: When the file was shared with the user, if applicable. * `starred`: Whether the user has starred the file. * `title`: The title of the file. This field is sorted using alphabetical ordering, so 1, 12, 2, 22. * `title_natural`: The title of the file. This field is sorted using natural sort ordering, so 1, 2, 12, 22. Each key sorts ascending by default, but can be reversed with the 'desc' modifier. Example usage: `?orderBy=folder,modifiedDate desc,title`. Note that there's a current limitation for users with approximately one million files in which the requested sort order is ignored.",
              "location": "query"
            },
            "corpus": {
              "deprecated": true,
              "type": "string",
              "enum": [
                "DEFAULT",
                "DOMAIN"
              ],
              "description": "Deprecated: The body of items (files/documents) to which the query applies. Use `corpora` instead.",
              "enumDescriptions": [
                "The items that the user has accessed.",
                "Items shared to the user's domain."
              ],
              "location": "query"
            },
            "q": {
              "type": "string",
              "description": "Query string for searching files.",
              "location": "query"
            },
            "includeItemsFromAllDrives": {
              "type": "boolean",
              "default": "false",
              "description": "Whether both My Drive and shared drive items should be included in results.",
              "location": "query"
            },
            "teamDriveId": {
              "type": "string",
              "location": "query",
              "deprecated": true,
              "description": "Deprecated: Use `driveId` instead."
            },
            "includeTeamDriveItems": {
              "description": "Deprecated: Use `includeItemsFromAllDrives` instead.",
              "location": "query",
              "deprecated": true,
              "type": "boolean",
              "default": "false"
            },
            "corpora": {
              "description": "Bodies of items (files/documents) to which the query applies. Supported bodies are `default`, `domain`, `drive` and `allDrives`. Prefer `default` or `drive` to `allDrives` for efficiency.",
              "type": "string",
              "location": "query"
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "deprecated": true,
              "type": "boolean",
              "default": "false"
            },
            "driveId": {
              "type": "string",
              "description": "ID of the shared drive to search.",
              "location": "query"
            }
          },
          "path": "files",
          "flatPath": "files",
          "id": "drive.files.list",
          "parameterOrder": [],
          "description": " Lists the user's files. For more information, see [Search for files and folders](https://developers.google.com/workspace/drive/api/guides/search-files). This method accepts the `q` parameter, which is a search query combining one or more search terms. This method returns *all* files by default, including trashed files. If you don't want trashed files to appear in the list, use the `trashed=false` query parameter to remove trashed files from the results."
        },
        "modifyLabels": {
          "response": {
            "$ref": "ModifyLabelsResponse"
          },
          "parameters": {
            "fileId": {
              "description": "The ID of the file to which the labels belong.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "description": "Modifies the set of labels applied to a file. Returns a list of the labels that were added or modified.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "id": "drive.files.modifyLabels",
          "parameterOrder": [
            "fileId"
          ],
          "request": {
            "$ref": "ModifyLabelsRequest"
          },
          "httpMethod": "POST",
          "path": "files/{fileId}/modifyLabels",
          "flatPath": "files/{fileId}/modifyLabels"
        },
        "untrash": {
          "flatPath": "files/{fileId}/untrash",
          "id": "drive.files.untrash",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameterOrder": [
            "fileId"
          ],
          "parameters": {
            "supportsAllDrives": {
              "location": "query",
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean"
            },
            "fileId": {
              "description": "The ID of the file to untrash.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "includePermissionsForView": {
              "type": "string",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query"
            },
            "supportsTeamDrives": {
              "deprecated": true,
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "default": "false",
              "location": "query",
              "type": "boolean"
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string",
              "location": "query"
            }
          },
          "path": "files/{fileId}/untrash",
          "response": {
            "$ref": "File"
          },
          "description": "Restores a file from the trash. The currently authenticated user must own the file or be at least a `fileOrganizer` on the parent for shared drive files."
        },
        "update": {
          "id": "drive.files.update",
          "supportsMediaUpload": true,
[...]
