{
  "documentationLink": "https://developers.google.com/workspace/drive/",
  "mtlsRootUrl": "https://www.mtls.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "description": "The Google Drive API allows clients to access resources from Google Drive.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.file": {
          "description": "See, edit, create, and delete only the specific Google Drive files you use with this app"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.metadata": {
          "description": "View and manage metadata of files in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.scripts": {
          "description": "Modify your Google Apps Script scripts' behavior"
        },
        "https://www.googleapis.com/auth/drive.metadata.readonly": {
          "description": "See information about your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.meet.readonly": {
          "description": "See and download your Google Drive files that were created or edited by Google Meet."
        },
        "https://www.googleapis.com/auth/drive.apps.readonly": {
          "description": "View your Google Drive apps"
        },
        "https://www.googleapis.com/auth/drive.appdata": {
          "description": "See, create, and delete its own configuration data in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.photos.readonly": {
          "description": "View the photos, videos and albums in your Google Photos"
        },
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "See and download all your Google Drive files"
        }
      }
    }
  },
  "batchPath": "batch/drive/v3",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "parameters": {
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string",
      "default": "json",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    }
  },
  "rootUrl": "https://www.googleapis.com/",
  "protocol": "rest",
  "servicePath": "drive/v3/",
  "title": "Google Drive API",
  "name": "drive",
  "version": "v3",
  "revision": "20260901",
  "id": "drive:v3",
  "basePath": "/drive/v3/",
  "resources": {
    "apps": {
      "methods": {
        "list": {
          "parameterOrder": [],
          "response": {
            "$ref": "AppList"
          },
          "path": "apps",
          "httpMethod": "GET",
          "description": "Lists a user's installed apps. For more information, see [Return user info](https://developers.google.com/workspace/drive/api/guides/user-info).",
          "parameters": {
            "appFilterMimeTypes": {
              "description": "A comma-separated list of file extensions to limit returned results. All results within the given app query scope which can open any of the given MIME types will be included in the response. If `appFilterExtensions` are provided as well, the result is a union of the two resulting app lists.",
              "location": "query",
              "type": "string",
              "default": ""
            },
            "appFilterExtensions": {
              "location": "query",
              "description": "A comma-separated list of file extensions to limit returned results. All results within the given app query scope which can open any of the given file extensions are included in the response. If `appFilterMimeTypes` are provided as well, the result is a union of the two resulting app lists.",
              "default": "",
              "type": "string"
            },
            "languageCode": {
              "location": "query",
              "type": "string",
              "description": "A language or locale code, as defined by BCP 47, with some extensions from Unicode's LDML format (http://www.unicode.org/reports/tr35/)."
            }
          },
          "id": "drive.apps.list",
          "scopes": [
            "https://www.googleapis.com/auth/drive.apps.readonly"
          ],
          "flatPath": "apps"
        },
        "get": {
          "path": "apps/{appId}",
          "response": {
            "$ref": "App"
          },
          "description": "Gets a specific app. For more information, see [Return user info](https://developers.google.com/workspace/drive/api/guides/user-info).",
          "parameters": {
            "appId": {
              "location": "path",
              "required": true,
              "description": "The ID of the app.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "appId"
          ],
          "httpMethod": "GET",
          "id": "drive.apps.get",
          "flatPath": "apps/{appId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ]
        }
      }
    },
    "accessproposals": {
      "methods": {
        "list": {
          "id": "drive.accessproposals.list",
          "response": {
            "$ref": "ListAccessProposalsResponse"
          },
          "path": "files/{fileId}/accessproposals",
          "httpMethod": "GET",
          "parameters": {
            "pageSize": {
              "location": "query",
              "format": "int32",
              "description": "Optional. The number of results per page.",
              "type": "integer"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. The continuation token on the list of access requests."
            },
            "fileId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. The ID of the item the request is on."
            }
          },
          "description": "List the access proposals on a file. For more information, see [Manage pending access proposals](https://developers.google.com/workspace/drive/api/guides/pending-access). Note: Only approvers are able to list access proposals on a file. If the user isn't an approver, a 403 error is returned.",
          "flatPath": "files/{fileId}/accessproposals",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameterOrder": [
            "fileId"
          ]
        },
        "get": {
          "response": {
            "$ref": "AccessProposal"
          },
          "parameterOrder": [
            "fileId",
            "proposalId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "description": "Retrieves an access proposal by ID. For more information, see [Manage pending access proposals](https://developers.google.com/workspace/drive/api/guides/pending-access).",
          "parameters": {
            "fileId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. The ID of the item the request is on."
            },
            "proposalId": {
              "location": "path",
              "required": true,
              "description": "Required. The ID of the access proposal to resolve.",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "path": "files/{fileId}/accessproposals/{proposalId}",
          "flatPath": "files/{fileId}/accessproposals/{proposalId}",
          "id": "drive.accessproposals.get"
        },
        "resolve": {
          "parameters": {
            "fileId": {
              "location": "path",
              "required": true,
              "description": "Required. The ID of the item the request is on.",
              "type": "string"
            },
            "proposalId": {
              "type": "string",
              "description": "Required. The ID of the access proposal to resolve.",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "POST",
          "id": "drive.accessproposals.resolve",
          "request": {
            "$ref": "ResolveAccessProposalRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "path": "files/{fileId}/accessproposals/{proposalId}:resolve",
          "description": "Approves or denies an access proposal. For more information, see [Manage pending access proposals](https://developers.google.com/workspace/drive/api/guides/pending-access).",
          "parameterOrder": [
            "fileId",
            "proposalId"
          ],
          "flatPath": "files/{fileId}/accessproposals/{proposalId}:resolve"
        }
      }
    },
    "about": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "response": {
            "$ref": "About"
          },
          "path": "about",
          "description": "Gets information about the user, the user's Drive, and system capabilities. For more information, see [Return user info](https://developers.google.com/workspace/drive/api/guides/user-info). Required: The `fields` parameter must be set. To return the exact fields you need, see [Return specific fields](https://developers.google.com/workspace/drive/api/guides/fields-parameter).",
          "parameters": {},
          "flatPath": "about",
          "id": "drive.about.get",
          "parameterOrder": [],
          "httpMethod": "GET"
        }
      }
    },
    "files": {
      "methods": {
        "emptyTrash": {
          "description": "Permanently deletes all of the user's trashed files. For more information, see [Trash or delete files and folders](https://developers.google.com/workspace/drive/api/guides/delete).",
          "flatPath": "files/trash",
          "path": "files/trash",
          "parameters": {
            "enforceSingleParent": {
              "location": "query",
              "deprecated": true,
              "default": "false",
              "type": "boolean",
              "description": "Deprecated: If an item isn't in a shared drive and its last parent is deleted but the item itself isn't, the item will be placed under its owner's root."
            },
            "driveId": {
              "location": "query",
              "description": "If set, empties the trash of the provided shared drive.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "parameterOrder": [],
          "id": "drive.files.emptyTrash",
          "httpMethod": "DELETE"
        },
        "generateCseToken": {
          "parameterOrder": [],
          "response": {
            "$ref": "GenerateCseTokenResponse"
          },
          "path": "files/generateCseToken",
          "httpMethod": "GET",
          "description": "Generates a CSE token which can be used to create or update CSE files.",
          "id": "drive.files.generateCseToken",
          "parameters": {
            "fileId": {
              "description": "The ID of the file for which the JWT should be generated. If not provided, an id will be generated.",
              "type": "string",
              "location": "query"
            },
            "parent": {
              "type": "string",
              "location": "query",
              "description": "The ID of the expected parent of the file. Used when generating a JWT for a new CSE file. If specified, the parent will be fetched, and if the parent is a shared drive item, the shared drive's policy will be used to determine the KACLS that should be used. It is invalid to specify both file_id and parent in a single request."
            }
          },
          "flatPath": "files/generateCseToken",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ]
        },
        "modifyLabels": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "description": "Modifies the set of labels applied to a file. For more information, see [Set a label field on a file](https://developers.google.com/workspace/drive/api/guides/set-label). Returns a list of the labels that were added or modified.",
          "id": "drive.files.modifyLabels",
          "flatPath": "files/{fileId}/modifyLabels",
          "httpMethod": "POST",
          "response": {
            "$ref": "ModifyLabelsResponse"
          },
          "request": {
            "$ref": "ModifyLabelsRequest"
          },
          "parameters": {
            "fileId": {
              "description": "The ID of the file to which the labels belong.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "path": "files/{fileId}/modifyLabels",
          "parameterOrder": [
            "fileId"
          ]
        },
        "update": {
          "id": "drive.files.update",
          "supportsMediaUpload": true,
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.scripts"
          ],
          "response": {
            "$ref": "File"
          },
          "httpMethod": "PATCH",
          "path": "files/{fileId}",
          "parameters": {
            "useContentAsIndexableText": {
              "description": "Whether to use the uploaded content as indexable text.",
              "default": "false",
              "location": "query",
              "type": "boolean"
            },
            "ocrLanguage": {
              "description": "A language hint for OCR processing during image import (ISO 639-1 code).",
              "location": "query",
              "type": "string"
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query",
              "type": "string"
            },
            "fileId": {
              "location": "path",
              "required": true,
              "description": "The ID of the file.",
              "type": "string"
            },
            "removeParents": {
              "type": "string",
              "description": "A comma-separated list of parent IDs to remove.",
              "location": "query"
            },
            "supportsTeamDrives": {
              "deprecated": true,
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "default": "false",
              "location": "query"
            },
            "enforceSingleParent": {
              "description": "Deprecated: Adding files to multiple folders is no longer supported. Use shortcuts instead.",
              "type": "boolean",
              "deprecated": true,
              "default": "false",
              "location": "query"
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string",
              "location": "query"
            },
            "addParents": {
              "description": "A comma-separated list of parent IDs to add.",
              "type": "string",
              "location": "query"
            },
            "keepRevisionForever": {
              "default": "false",
              "description": "Whether to set the `keepForever` field in the new head revision. This is only applicable to files with binary content in Google Drive. Only 200 revisions for the file can be kept forever. If the limit is reached, try deleting pinned revisions.",
              "type": "boolean",
              "location": "query"
            },
            "supportsAllDrives": {
              "location": "query",
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false"
            }
          },
          "request": {
            "$ref": "File"
          },
          "flatPath": "files/{fileId}",
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "maxSize": "5497558138880",
            "protocols": {
              "simple": {
                "path": "/upload/drive/v3/files/{fileId}",
                "multipart": true
              },
              "resumable": {
                "path": "/resumable/upload/drive/v3/files/{fileId}",
                "multipart": true
              }
            }
          },
          "parameterOrder": [
            "fileId"
          ],
          "description": " Updates a file's metadata, content, or both. When calling this method, only populate fields in the request that you want to modify. When updating fields, some fields might be changed automatically, such as `modifiedDate`. This method supports patch semantics. This method supports an */upload* URI and accepts uploaded media with the following characteristics: - *Maximum file size:* 5,120 GB - *Accepted Media MIME types:* `*/*` (Specify a valid MIME type, rather than the literal `*/*` value. The literal `*/*` is only used to indicate that any valid MIME type can be uploaded. For more information, see [Google Workspace and Google Drive supported MIME types](https://developers.google.com/workspace/drive/api/guides/mime-types).) For more information on uploading files, see [Upload file data](https://developers.google.com/workspace/drive/api/guides/manage-uploads)."
        },
        "delete": {
          "path": "files/{fileId}",
          "description": "Permanently deletes a file owned by the user without moving it to the trash. For more information, see [Trash or delete files and folders](https://developers.google.com/workspace/drive/api/guides/delete). If the file belongs to a shared drive, the user must be an `organizer` on the parent folder. If the target is a folder, all descendants owned by the user are also deleted.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameterOrder": [
            "fileId"
          ],
          "flatPath": "files/{fileId}",
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "supportsTeamDrives": {
              "type": "boolean",
              "deprecated": true,
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "default": "false"
            },
            "enforceSingleParent": {
              "type": "boolean",
              "deprecated": true,
              "default": "false",
              "location": "query",
              "description": "Deprecated: If an item isn't in a shared drive and its last parent is deleted but the item itself isn't, the item will be placed under its owner's root."
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false",
              "type": "boolean",
              "location": "query"
            }
          },
          "id": "drive.files.delete",
          "httpMethod": "DELETE"
        },
        "export": {
          "flatPath": "files/{fileId}/export",
          "path": "files/{fileId}/export",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameterOrder": [
            "fileId",
            "mimeType"
          ],
          "supportsMediaDownload": true,
          "id": "drive.files.export",
          "parameters": {
            "mimeType": {
              "location": "query",
              "required": true,
              "type": "string",
              "description": "Required. The MIME type of the format requested for this export. For a list of supported MIME types, see [Export MIME types for Google Workspace documents](/workspace/drive/api/guides/ref-export-formats)."
            },
            "fileId": {
              "description": "The ID of the file.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "GET",
          "useMediaDownloadService": true,
          "description": "Exports a Google Workspace document to the requested MIME type and returns exported byte content. For more information, see [Download and export files](https://developers.google.com/workspace/drive/api/guides/manage-downloads). Note that the exported content is limited to 10 MB."
        },
        "listLabels": {
          "description": "Lists the labels on a file. For more information, see [List labels on a file](https://developers.google.com/workspace/drive/api/guides/list-labels).",
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response."
            },
            "maxResults": {
              "format": "int32",
              "maximum": "100",
              "description": "The maximum number of labels to return per page. When not set, defaults to 100.",
              "default": "100",
              "location": "query",
              "type": "integer",
              "minimum": "1"
            },
            "fileId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID for the file."
            }
          },
          "flatPath": "files/{fileId}/listLabels",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "httpMethod": "GET",
          "path": "files/{fileId}/listLabels",
          "parameterOrder": [
            "fileId"
          ],
          "response": {
            "$ref": "LabelList"
          },
          "id": "drive.files.listLabels"
        },
        "generateIds": {
          "parameters": {
            "space": {
              "type": "string",
              "default": "drive",
              "location": "query",
              "description": "The space in which the IDs can be used to create files. Supported values are `drive` and `appDataFolder`. (Default: `drive`.) For more information, see [File organization](https://developers.google.com/workspace/drive/api/guides/about-files#file-organization)."
            },
            "count": {
              "maximum": "1000",
              "type": "integer",
              "description": "The number of IDs to return.",
              "format": "int32",
              "location": "query",
              "default": "10",
              "minimum": "1"
            },
            "type": {
              "description": "The type of items which the IDs can be used for. Supported values are `files` and `shortcuts`. Note that `shortcuts` are only supported in the `drive` `space`. (Default: `files`.) For more information, see [File organization](https://developers.google.com/workspace/drive/api/guides/about-files#file-organization).",
              "location": "query",
              "type": "string",
              "default": "files"
            }
          },
          "httpMethod": "GET",
          "id": "drive.files.generateIds",
          "response": {
            "$ref": "GeneratedIds"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "flatPath": "files/generateIds",
          "parameterOrder": [],
          "path": "files/generateIds",
          "description": "Generates a set of file IDs which can be provided in create or copy requests. For more information, see [Create and manage files](https://developers.google.com/workspace/drive/api/guides/create-file)."
        },
        "watch": {
          "description": "Subscribes to changes to a file. For more information, see [Notifications for resource changes](https://developers.google.com/workspace/drive/api/guides/push).",
          "parameters": {
            "supportsAllDrives": {
              "default": "false",
              "location": "query",
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            },
            "supportsTeamDrives": {
              "deprecated": true,
              "location": "query",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean",
              "default": "false"
            },
            "includePermissionsForView": {
              "location": "query",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "type": "string"
            },
            "fileId": {
              "description": "The ID of the file.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "acknowledgeAbuse": {
              "location": "query",
              "description": "Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when the `alt` parameter is set to `media` and the user is the owner of the file or an organizer of the shared drive in which the file resides.",
              "type": "boolean",
              "default": "false"
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Channel"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameterOrder": [
            "fileId"
          ],
          "flatPath": "files/{fileId}/watch",
          "request": {
            "parameterName": "resource",
            "$ref": "Channel"
          },
          "supportsSubscription": true,
          "id": "drive.files.watch",
          "path": "files/{fileId}/watch"
        },
        "copy": {
          "flatPath": "files/{fileId}/copy",
          "parameterOrder": [
            "fileId"
          ],
          "path": "files/{fileId}/copy",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.photos.readonly"
          ],
          "id": "drive.files.copy",
          "description": "Creates a copy of a file and applies any requested updates with patch semantics. For more information, see [Create and manage files](https://developers.google.com/workspace/drive/api/guides/create-file).",
          "httpMethod": "POST",
          "parameters": {
            "ignoreDefaultVisibility": {
              "location": "query",
              "description": "Whether to ignore the domain's default visibility settings for the created file. Domain administrators can choose to make all uploaded files visible to the domain by default; this parameter bypasses that behavior for the request. Permissions are still inherited from parent folders.",
              "default": "false",
              "type": "boolean"
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query",
              "type": "string"
            },
            "copyComments": {
              "description": "Whether to copy the comments associated with the file.",
              "default": "false",
              "type": "boolean",
              "location": "query"
            },
            "supportsTeamDrives": {
              "deprecated": true,
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "type": "boolean",
              "default": "false"
            },
            "fileId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the file."
            },
            "enforceSingleParent": {
              "description": "Deprecated: Copying files into multiple folders is no longer supported. Use shortcuts instead.",
              "location": "query",
              "type": "boolean",
              "deprecated": true,
              "default": "false"
            },
            "supportsAllDrives": {
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "type": "boolean"
            },
            "ocrLanguage": {
              "description": "A language hint for OCR processing during image import (ISO 639-1 code).",
              "location": "query",
              "type": "string"
            },
            "keepRevisionForever": {
              "default": "false",
              "description": "Whether to set the `keepForever` field in the new head revision. This is only applicable to files with binary content in Google Drive. Only 200 revisions for the file can be kept forever. If the limit is reached, try deleting pinned revisions.",
              "type": "boolean",
              "location": "query"
            },
            "includeLabels": {
              "type": "string",
              "location": "query",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response."
            }
          },
          "response": {
            "$ref": "File"
          },
          "request": {
            "$ref": "File"
          }
        },
        "list": {
          "flatPath": "files",
          "id": "drive.files.list",
          "description": " Lists the user's files. For more information, see [Search for files and folders](https://developers.google.com/workspace/drive/api/guides/search-files). This method accepts the `q` parameter, which is a search query combining one or more search terms. This method returns *all* files by default, including trashed files. If you don't want trashed files to appear in the list, use the `trashed=false` query parameter to remove trashed files from the results.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "path": "files",
          "parameterOrder": [],
          "httpMethod": "GET",
          "parameters": {
            "corpus": {
              "description": "Deprecated: The source of files to list. Use `corpora` instead.",
              "type": "string",
              "enumDescriptions": [
                "Files shared to the user's domain.",
                "Files owned by or shared to the user."
              ],
              "enum": [
                "domain",
                "user"
              ],
              "deprecated": true,
              "location": "query"
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query",
              "type": "string"
            },
            "corpora": {
              "type": "string",
              "description": "Specifies a collection of items (files or documents) to which the query applies. Supported items include: * `user` * `domain` * `drive` * `allDrives` Prefer `user` or `drive` to `allDrives` for efficiency. By default, corpora is set to `user`. However, this can change depending on the filter set through the `q` parameter. For more information, see [File organization](https://developers.google.com/workspace/drive/api/guides/about-files#file-organization).",
              "location": "query"
            },
            "teamDriveId": {
              "description": "Deprecated: Use `driveId` instead.",
              "type": "string",
              "location": "query",
              "deprecated": true
            },
            "includeTeamDriveItems": {
              "location": "query",
              "deprecated": true,
              "description": "Deprecated: Use `includeItemsFromAllDrives` instead.",
              "default": "false",
              "type": "boolean"
            },
            "pageSize": {
              "minimum": "1",
              "type": "integer",
              "location": "query",
              "default": "100",
              "description": "The maximum number of files to return. The service may return fewer than this value. If unspecified, at most 100 files will be returned for shared drives, and the entire list of files for non-shared drives. The maximum value is 1000; values above 1000 will be coerced to 1000.",
              "maximum": "1000",
              "format": "int32"
            },
            "supportsTeamDrives": {
              "location": "query",
              "default": "false",
              "deprecated": true,
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "spaces": {
              "default": "drive",
              "type": "string",
              "location": "query",
              "description": "A comma-separated list of spaces to query within the corpora. Supported values are `drive` and `appDataFolder`. For more information, see [File organization](https://developers.google.com/workspace/drive/api/guides/about-files#file-organization)."
            },
            "driveId": {
              "location": "query",
              "type": "string",
              "description": "ID of the shared drive to search."
            },
            "orderBy": {
              "description": "A comma-separated list of sort keys. Valid keys are: * `createdTime`: When the file was created. Avoid using this key for queries on large item collections as it might result in timeouts or other issues. For time-related sorting on large item collections, use `modifiedTime desc` instead. * `folder`: The folder ID. This field is sorted using alphabetical ordering. * `modifiedByMeTime`: The last time the file was modified by the user. * `modifiedTime`: The last time the file was modified by anyone. * `name`: The name of the file. This field is sorted using alphabetical ordering, so 1, 12, 2, 22. * `name_natural`: The name of the file. This field is sorted using natural sort ordering, so 1, 2, 12, 22. * `quotaBytesUsed`: The number of storage quota bytes used by the file. * `recency`: The most recent timestamp from the file's date-time fields. * `sharedWithMeTime`: When the file was shared with the user, if applicable. * `starred`: Whether the user has starred the file. * `viewedByMeTime`: The last time the file was viewed by the user. Each key sorts ascending by default, but can be reversed with the `desc` modifier. Example usage: `?orderBy=folder,modifiedTime desc,name`.",
              "location": "query",
              "type": "string"
            },
            "q": {
              "location": "query",
              "type": "string",
              "description": "A query for filtering the file results. For supported syntax, see [Search for files and folders](/workspace/drive/api/guides/search-files)."
            },
            "includeLabels": {
              "type": "string",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response."
            },
            "includeItemsFromAllDrives": {
              "type": "boolean",
              "description": "Whether both My Drive and shared drive items should be included in results.",
              "location": "query",
              "default": "false"
            },
            "supportsAllDrives": {
              "location": "query",
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false"
            }
          },
          "response": {
            "$ref": "FileList"
          }
        },
        "get": {
          "response": {
            "$ref": "File"
          },
          "httpMethod": "GET",
          "description": " Gets a file's metadata or content by ID. For more information, see [Search for files and folders](https://developers.google.com/workspace/drive/api/guides/search-files). If you provide the URL parameter `alt=media`, then the response includes the file contents in the response body. Downloading content with `alt=media` only works if the file is stored in Drive. To download Google Docs, Sheets, and Slides use [`files.export`](https://developers.google.com/workspace/drive/api/reference/rest/v3/files/export) instead. For more information, see [Download and export files](https://developers.google.com/workspace/drive/api/guides/manage-downloads).",
          "supportsSubscription": true,
          "id": "drive.files.get",
          "supportsMediaDownload": true,
          "parameters": {
            "supportsTeamDrives": {
              "type": "boolean",
              "default": "false",
              "location": "query",
              "deprecated": true,
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "includePermissionsForView": {
              "type": "string",
              "location": "query",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported."
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string",
              "location": "query"
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "default": "false",
              "location": "query"
            },
            "acknowledgeAbuse": {
              "default": "false",
              "location": "query",
              "description": "Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when the `alt` parameter is set to `media` and the user is the owner of the file or an organizer of the shared drive in which the file resides.",
              "type": "boolean"
            },
            "fileId": {
              "location": "path",
              "required": true,
              "description": "The ID of the file.",
              "type": "string"
            }
          },
          "path": "files/{fileId}",
          "useMediaDownloadService": true,
          "flatPath": "files/{fileId}",
          "parameterOrder": [
            "fileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ]
        },
        "create": {
          "mediaUpload": {
            "maxSize": "5497558138880",
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/drive/v3/files"
              },
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/drive/v3/files"
              }
            },
            "accept": [
              "*/*"
            ]
          },
          "supportsMediaUpload": true,
          "path": "files",
          "response": {
            "$ref": "File"
          },
          "description": " Creates a file. For more information, see [Create and manage files](https://developers.google.com/workspace/drive/api/guides/create-file). This method supports an */upload* URI and accepts uploaded media with the following characteristics: - *Maximum file size:* 5,120 GB - *Accepted Media MIME types:* `*/*` (Specify a valid MIME type, rather than the literal `*/*` value. The literal `*/*` is only used to indicate that any valid MIME type can be uploaded. For more information, see [Google Workspace and Google Drive supported MIME types](https://developers.google.com/workspace/drive/api/guides/mime-types).) For more information on uploading files, see [Upload file data](https://developers.google.com/workspace/drive/api/guides/manage-uploads). Apps creating shortcuts with the `create` method must specify the MIME type `application/vnd.google-apps.shortcut`. Apps should specify a file extension in the `name` property when inserting files with the API. For example, an operation to insert a JPEG file should specify something like `\"name\": \"cat.jpg\"` in the metadata. Subsequent `GET` requests include the read-only `fileExtension` property populated with the extension originally specified in the `name` property. When a Google Drive user requests to download a file, or when the file is downloaded through the sync client, Drive builds a full filename (with extension) based on the name. In cases where the extension is missing, Drive attempts to determine the extension based on the file's MIME type.",
          "parameters": {
            "useContentAsIndexableText": {
              "description": "Whether to use the uploaded content as indexable text.",
              "location": "query",
              "default": "false",
              "type": "boolean"
            },
            "includeLabels": {
              "type": "string",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query"
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "type": "string",
              "location": "query"
            },
            "ocrLanguage": {
              "location": "query",
              "description": "A language hint for OCR processing during image import (ISO 639-1 code).",
              "type": "string"
            },
            "supportsAllDrives": {
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "type": "boolean"
            },
            "supportsTeamDrives": {
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "default": "false",
              "deprecated": true
            },
            "enforceSingleParent": {
              "deprecated": true,
              "type": "boolean",
              "default": "false",
              "location": "query",
              "description": "Deprecated: Creating files in multiple folders is no longer supported."
            },
            "keepRevisionForever": {
              "description": "Whether to set the `keepForever` field in the new head revision. This is only applicable to files with binary content in Google Drive. Only 200 revisions for the file can be kept forever. If the limit is reached, try deleting pinned revisions.",
              "default": "false",
              "type": "boolean",
              "location": "query"
            },
            "ignoreDefaultVisibility": {
              "location": "query",
              "default": "false",
              "type": "boolean",
              "description": "Whether to ignore the domain's default visibility settings for the created file. Domain administrators can choose to make all uploaded files visible to the domain by default; this parameter bypasses that behavior for the request. Permissions are still inherited from parent folders."
            }
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "id": "drive.files.create",
          "flatPath": "files",
          "request": {
            "$ref": "File"
          },
          "parameterOrder": []
        },
        "download": {
          "id": "drive.files.download",
          "flatPath": "files/{fileId}/download",
          "parameterOrder": [
            "fileId"
          ],
          "httpMethod": "POST",
          "parameters": {
            "fileId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. The ID of the file to download."
            },
            "revisionId": {
              "description": "Optional. The revision ID of the file to download. This field can only be set when downloading blob files, Google Docs, and Google Sheets. Returns `INVALID_ARGUMENT` if downloading a specific revision on the file is unsupported.",
              "type": "string",
              "location": "query"
            },
            "mimeType": {
              "description": "Optional. The MIME type the file should be downloaded as. This field can only be set when downloading Google Workspace documents. For a list of supported MIME types, see [Export MIME types for Google Workspace documents](/workspace/drive/api/guides/ref-export-formats). If not set, a Google Workspace document is downloaded with a default MIME type. The default MIME type might change in the future.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "files/{fileId}/download",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "description": "Downloads the content of a file. For more information, see [Download and export files](https://developers.google.com/workspace/drive/api/guides/manage-downloads). Operations are valid for 24 hours from the time of creation.",
          "response": {
            "$ref": "Operation"
          }
        }
      }
    },
    "teamdrives": {
      "methods": {
        "update": {
          "parameters": {
            "useDomainAdminAccess": {
              "default": "false",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the Team Drive belongs.",
              "location": "query",
              "type": "boolean"
            },
            "teamDriveId": {
              "description": "The ID of the Team Drive",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "PATCH",
          "path": "teamdrives/{teamDriveId}",
          "response": {
            "$ref": "TeamDrive"
          },
          "flatPath": "teamdrives/{teamDriveId}",
          "id": "drive.teamdrives.update",
          "parameterOrder": [
            "teamDriveId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "description": "Deprecated: Use `drives.update` instead.",
          "request": {
            "$ref": "TeamDrive"
          }
        },
        "get": {
          "response": {
            "$ref": "TeamDrive"
          },
          "parameterOrder": [
            "teamDriveId"
          ],
          "path": "teamdrives/{teamDriveId}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameters": {
            "teamDriveId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the Team Drive"
            },
            "useDomainAdminAccess": {
              "location": "query",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the Team Drive belongs.",
              "type": "boolean",
              "default": "false"
            }
          },
          "description": "Deprecated: Use `drives.get` instead.",
          "id": "drive.teamdrives.get",
          "flatPath": "teamdrives/{teamDriveId}"
        },
        "create": {
          "description": "Deprecated: Use `drives.create` instead.",
          "response": {
            "$ref": "TeamDrive"
          },
          "request": {
            "$ref": "TeamDrive"
          },
          "path": "teamdrives",
          "parameters": {
            "requestId": {
              "description": "Required. An ID, such as a random UUID, which uniquely identifies this user's request for idempotent creation of a Team Drive. A repeated request by the same user and with the same request ID will avoid creating duplicates by attempting to create the same Team Drive. If the Team Drive already exists a 409 error will be returned.",
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "requestId"
          ],
          "id": "drive.teamdrives.create",
          "flatPath": "teamdrives",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ]
        },
        "delete": {
          "parameterOrder": [
            "teamDriveId"
          ],
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "parameters": {
            "teamDriveId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the Team Drive"
            }
          },
          "id": "drive.teamdrives.delete",
          "path": "teamdrives/{teamDriveId}",
          "description": "Deprecated: Use `drives.delete` instead.",
          "flatPath": "teamdrives/{teamDriveId}"
        },
        "list": {
          "response": {
            "$ref": "TeamDriveList"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "description": "Deprecated: Use `drives.list` instead.",
          "flatPath": "teamdrives",
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Page token for Team Drives."
            },
            "pageSize": {
              "location": "query",
              "format": "int32",
              "description": "Maximum number of Team Drives to return.",
              "minimum": "1",
              "type": "integer",
              "maximum": "100",
              "default": "10"
            },
            "q": {
              "location": "query",
              "type": "string",
              "description": "Query string for searching Team Drives."
            },
            "useDomainAdminAccess": {
              "location": "query",
              "default": "false",
              "description": "Issue the request as a domain administrator; if set to true, then all Team Drives of the domain in which the requester is an administrator are returned.",
              "type": "boolean"
            }
          },
          "id": "drive.teamdrives.list",
          "httpMethod": "GET",
          "path": "teamdrives"
        }
      }
    },
    "channels": {
      "methods": {
        "stop": {
          "id": "drive.channels.stop",
          "path": "channels/stop",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameters": {},
          "parameterOrder": [],
          "flatPath": "channels/stop",
          "request": {
            "$ref": "Channel",
            "parameterName": "resource"
          },
          "description": "Stops watching resources through this channel. For more information, see [Notifications for resource changes](https://developers.google.com/workspace/drive/api/guides/push)."
        }
      }
    },
    "changes": {
      "methods": {
        "getStartPageToken": {
          "httpMethod": "GET",
          "parameters": {
            "driveId": {
              "description": "The ID of the shared drive for which the starting pageToken for listing future changes from that shared drive will be returned.",
              "location": "query",
              "type": "string"
            },
            "supportsTeamDrives": {
              "deprecated": true,
              "location": "query",
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "default": "false"
            },
            "teamDriveId": {
              "description": "Deprecated: Use `driveId` instead.",
              "location": "query",
              "deprecated": true,
              "type": "string"
            },
            "supportsAllDrives": {
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "default": "false"
            }
          },
          "description": "Gets the starting pageToken for listing future changes. For more information, see [Retrieve changes](https://developers.google.com/workspace/drive/api/guides/manage-changes).",
          "parameterOrder": [],
          "response": {
            "$ref": "StartPageToken"
          },
          "path": "changes/startPageToken",
          "id": "drive.changes.getStartPageToken",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "changes/startPageToken"
        },
        "list": {
          "parameterOrder": [
            "pageToken"
          ],
          "id": "drive.changes.list",
          "response": {
            "$ref": "ChangeList"
          },
          "path": "changes",
          "parameters": {
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "default": "false",
              "type": "boolean"
            },
            "supportsTeamDrives": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "deprecated": true
            },
            "includeLabels": {
              "type": "string",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query"
            },
            "spaces": {
              "description": "A comma-separated list of spaces to query within the corpora. Supported values are 'drive' and 'appDataFolder'.",
              "default": "drive",
              "location": "query",
              "type": "string"
            },
            "driveId": {
              "location": "query",
              "description": "The shared drive from which changes will be returned. If specified the change IDs will be reflective of the shared drive; use the combined drive ID and change ID as an identifier.",
              "type": "string"
            },
            "includeItemsFromAllDrives": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "Whether both My Drive and shared drive items should be included in results."
            },
            "includeTeamDriveItems": {
              "location": "query",
              "deprecated": true,
              "default": "false",
              "type": "boolean",
              "description": "Deprecated: Use `includeItemsFromAllDrives` instead."
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "required": true,
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response or to the response from the getStartPageToken method."
            },
            "restrictToMyDrive": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "Whether to restrict the results to changes inside the My Drive hierarchy. This omits changes to files such as those in the Application Data folder or shared files which have not been added to My Drive."
            },
            "pageSize": {
              "maximum": "1000",
              "default": "100",
              "type": "integer",
              "location": "query",
              "format": "int32",
              "minimum": "1",
              "description": "The maximum number of changes to return. The service may return fewer than this value. If unspecified, at most 100 changes will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
            },
            "includeRemoved": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to include changes indicating that items have been removed from the list of changes, for example by deletion or loss of access.",
              "default": "true"
            },
            "teamDriveId": {
              "type": "string",
              "deprecated": true,
              "description": "Deprecated: Use `driveId` instead.",
              "location": "query"
            },
            "includeCorpusRemovals": {
              "default": "false",
              "type": "boolean",
              "description": "Whether changes should include the file resource if the file is still accessible by the user at the time of the request, even when a file was removed from the list of changes and there will be no further change entries for this file.",
              "location": "query"
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only 'published' is supported.",
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "httpMethod": "GET",
          "description": "Lists the changes for a user or shared drive. For more information, see [Retrieve changes](https://developers.google.com/workspace/drive/api/guides/manage-changes).",
          "supportsSubscription": true,
          "flatPath": "changes"
        },
        "watch": {
          "request": {
            "$ref": "Channel",
            "parameterName": "resource"
          },
          "path": "changes/watch",
          "flatPath": "changes/watch",
          "supportsSubscription": true,
          "id": "drive.changes.watch",
          "description": "Subscribes to changes for a user. For more information, see [Notifications for resource changes](https://developers.google.com/workspace/drive/api/guides/push).",
          "httpMethod": "POST",
          "response": {
            "$ref": "Channel"
          },
          "parameters": {
            "includeRemoved": {
              "location": "query",
              "type": "boolean",
              "default": "true",
              "description": "Whether to include changes indicating that items have been removed from the list of changes, for example by deletion or loss of access."
            },
            "includeCorpusRemovals": {
              "type": "boolean",
              "default": "false",
              "location": "query",
              "description": "Whether changes should include the file resource if the file is still accessible by the user at the time of the request, even when a file was removed from the list of changes and there will be no further change entries for this file."
            },
            "restrictToMyDrive": {
              "description": "Whether to restrict the results to changes inside the My Drive hierarchy. This omits changes to files such as those in the Application Data folder or shared files which have not been added to My Drive.",
              "default": "false",
              "location": "query",
              "type": "boolean"
            },
            "pageToken": {
              "location": "query",
              "required": true,
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response or to the response from the getStartPageToken method.",
              "type": "string"
            },
            "driveId": {
              "location": "query",
              "type": "string",
              "description": "The shared drive from which changes will be returned. If specified the change IDs will be reflective of the shared drive; use the combined drive ID and change ID as an identifier."
            },
            "includeItemsFromAllDrives": {
              "location": "query",
              "default": "false",
              "type": "boolean",
              "description": "Whether both My Drive and shared drive items should be included in results."
            },
            "supportsTeamDrives": {
              "default": "false",
              "deprecated": true,
              "location": "query",
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "includeTeamDriveItems": {
              "type": "boolean",
              "description": "Deprecated: Use `includeItemsFromAllDrives` instead.",
              "location": "query",
              "default": "false",
              "deprecated": true
            },
            "spaces": {
              "location": "query",
              "description": "A comma-separated list of spaces to query within the corpora. Supported values are 'drive' and 'appDataFolder'.",
              "type": "string",
              "default": "drive"
            },
            "supportsAllDrives": {
              "location": "query",
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false"
            },
            "teamDriveId": {
              "location": "query",
              "description": "Deprecated: Use `driveId` instead.",
              "deprecated": true,
              "type": "string"
            },
            "includeLabels": {
              "location": "query",
              "type": "string",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response."
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only 'published' is supported.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "location": "query",
              "description": "The maximum number of changes to return. The service may return fewer than this value. If unspecified, at most 100 changes will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
              "maximum": "1000",
              "format": "int32",
              "default": "100",
              "minimum": "1",
              "type": "integer"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameterOrder": [
            "pageToken"
          ]
        }
      }
    },
    "comments": {
      "methods": {
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "path": "files/{fileId}/comments/{commentId}",
          "description": "Deletes a comment. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments).",
          "id": "drive.comments.delete",
          "parameters": {
            "commentId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the comment."
            },
            "fileId": {
              "description": "The ID of the file.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "DELETE",
          "flatPath": "files/{fileId}/comments/{commentId}"
        },
        "get": {
          "flatPath": "files/{fileId}/comments/{commentId}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameters": {
            "includeDeleted": {
              "description": "Whether to return deleted comments. Deleted comments will not include their original content.",
              "type": "boolean",
              "default": "false",
              "location": "query"
            },
            "commentId": {
              "location": "path",
              "required": true,
              "description": "The ID of the comment.",
              "type": "string"
            },
            "fileId": {
              "location": "path",
              "required": true,
              "description": "The ID of the file.",
              "type": "string"
            }
          },
          "description": "Gets a comment by ID. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments). Required: The `fields` parameter must be set. To return the exact fields you need, see [Return specific fields](https://developers.google.com/workspace/drive/api/guides/fields-parameter).",
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "path": "files/{fileId}/comments/{commentId}",
          "id": "drive.comments.get",
          "response": {
            "$ref": "Comment"
          }
        },
        "list": {
          "flatPath": "files/{fileId}/comments",
          "parameterOrder": [
            "fileId"
          ],
          "path": "files/{fileId}/comments",
          "httpMethod": "GET",
          "description": "Lists a file's comments. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments). Required: The `fields` parameter must be set. To return the exact fields you need, see [Return specific fields](https://developers.google.com/workspace/drive/api/guides/fields-parameter).",
          "id": "drive.comments.list",
          "parameters": {
            "includeDeleted": {
              "description": "Whether to include deleted comments. Deleted comments will not include their original content.",
              "location": "query",
              "type": "boolean",
              "default": "false"
            },
            "pageSize": {
              "minimum": "1",
              "location": "query",
              "format": "int32",
              "default": "20",
              "description": "The maximum number of comments to return. The service may return fewer than this value. If unspecified, at most 20 comments will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
              "type": "integer",
              "maximum": "100"
            },
            "fileId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the file."
            },
            "pageToken": {
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response.",
              "location": "query",
              "type": "string"
            },
            "startModifiedTime": {
              "type": "string",
              "description": "The minimum value of 'modifiedTime' for the result comments (RFC 3339 date-time).",
              "location": "query"
            }
          },
          "response": {
            "$ref": "CommentList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ]
        },
        "update": {
          "description": "Updates a comment with patch semantics. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments). Required: The `fields` parameter must be set. To return the exact fields you need, see [Return specific fields](https://developers.google.com/workspace/drive/api/guides/fields-parameter).",
          "request": {
            "$ref": "Comment"
          },
          "flatPath": "files/{fileId}/comments/{commentId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "response": {
            "$ref": "Comment"
          },
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "path": "files/{fileId}/comments/{commentId}",
          "id": "drive.comments.update",
          "parameters": {
            "fileId": {
              "location": "path",
              "required": true,
              "description": "The ID of the file.",
              "type": "string"
            },
            "commentId": {
              "location": "path",
              "required": true,
              "description": "The ID of the comment.",
              "type": "string"
            }
          },
          "httpMethod": "PATCH"
        },
        "create": {
          "parameterOrder": [
            "fileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "response": {
            "$ref": "Comment"
          },
          "request": {
            "$ref": "Comment"
          },
          "id": "drive.comments.create",
          "httpMethod": "POST",
          "description": "Creates a comment on a file. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments). Required: The `fields` parameter must be set. To return the exact fields you need, see [Return specific fields](https://developers.google.com/workspace/drive/api/guides/fields-parameter).",
          "parameters": {
            "fileId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the file."
            }
          },
          "path": "files/{fileId}/comments",
          "flatPath": "files/{fileId}/comments"
        }
      }
    },
    "replies": {
      "methods": {
        "create": {
          "parameters": {
            "fileId": {
              "location": "path",
              "required": true,
              "description": "The ID of the file.",
              "type": "string"
            },
            "commentId": {
              "location": "path",
              "required": true,
              "description": "The ID of the comment.",
              "type": "string"
            }
          },
          "flatPath": "files/{fileId}/comments/{commentId}/replies",
          "httpMethod": "POST",
          "request": {
            "$ref": "Reply"
          },
          "description": "Creates a reply to a comment. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments).",
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "id": "drive.replies.create",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "path": "files/{fileId}/comments/{commentId}/replies",
          "response": {
            "$ref": "Reply"
          }
        },
        "update": {
          "path": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "Reply"
          },
          "id": "drive.replies.update",
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "commentId": {
              "description": "The ID of the comment.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "replyId": {
              "location": "path",
              "required": true,
              "description": "The ID of the reply.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Reply"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "flatPath": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "description": "Updates a reply with patch semantics. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments).",
          "parameterOrder": [
            "fileId",
            "commentId",
            "replyId"
          ]
        },
        "get": {
          "parameters": {
            "replyId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the reply."
            },
            "commentId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the comment."
            },
            "includeDeleted": {
              "default": "false",
              "type": "boolean",
              "description": "Whether to return deleted replies. Deleted replies don't include their original content.",
              "location": "query"
            },
            "fileId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the file."
            }
          },
          "httpMethod": "GET",
          "flatPath": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "id": "drive.replies.get",
          "description": "Gets a reply by ID. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments).",
          "path": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "response": {
            "$ref": "Reply"
          },
          "parameterOrder": [
            "fileId",
            "commentId",
            "replyId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ]
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "description": "Lists a comment's replies. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments).",
          "httpMethod": "GET",
          "flatPath": "files/{fileId}/comments/{commentId}/replies",
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response.",
              "type": "string"
            },
            "pageSize": {
              "maximum": "100",
              "type": "integer",
              "default": "20",
              "format": "int32",
              "description": "The maximum number of replies to return. The service may return fewer than this value. If unspecified, at most 20 replies will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
              "minimum": "1",
              "location": "query"
            },
            "fileId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the file."
            },
            "includeDeleted": {
              "description": "Whether to include deleted replies. Deleted replies don't include their original content.",
              "location": "query",
              "default": "false",
              "type": "boolean"
            },
            "commentId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the comment."
            }
          },
          "id": "drive.replies.list",
          "response": {
            "$ref": "ReplyList"
          },
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "path": "files/{fileId}/comments/{commentId}/replies"
        },
        "delete": {
          "parameters": {
            "fileId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the file."
            },
            "commentId": {
              "location": "path",
              "required": true,
              "description": "The ID of the comment.",
              "type": "string"
            },
            "replyId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the reply."
            }
          },
          "flatPath": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "id": "drive.replies.delete",
          "httpMethod": "DELETE",
          "path": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "description": "Deletes a reply. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments).",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameterOrder": [
            "fileId",
            "commentId",
            "replyId"
          ]
        }
      }
    },
    "drives": {
      "methods": {
        "delete": {
          "id": "drive.drives.delete",
          "parameterOrder": [
            "driveId"
          ],
          "description": "Permanently deletes a shared drive for which the user is an `organizer`. The shared drive cannot contain any untrashed items. For more information, see [Manage shared drives](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives).",
          "path": "drives/{driveId}",
          "flatPath": "drives/{driveId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "parameters": {
            "driveId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the shared drive."
            },
            "useDomainAdminAccess": {
              "type": "boolean",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the shared drive belongs.",
              "default": "false",
              "location": "query"
            },
            "allowItemDeletion": {
              "location": "query",
              "description": "Whether any items inside the shared drive should also be deleted. This option is only supported when `useDomainAdminAccess` is also set to `true`.",
              "default": "false",
              "type": "boolean"
            }
          },
          "httpMethod": "DELETE"
        },
        "list": {
          "description": " Lists the user's shared drives. This method accepts the `q` parameter, which is a search query combining one or more search terms. For more information, see the [Search for shared drives](https://developers.google.com/workspace/drive/api/guides/search-shareddrives) guide.",
          "response": {
            "$ref": "DriveList"
          },
          "parameters": {
            "q": {
              "description": "Query string for searching shared drives.",
              "type": "string",
              "location": "query"
            },
            "useDomainAdminAccess": {
              "description": "Issue the request as a domain administrator; if set to true, then all shared drives of the domain in which the requester is an administrator are returned.",
              "default": "false",
              "type": "boolean",
              "location": "query"
            },
            "pageSize": {
              "format": "int32",
              "type": "integer",
              "minimum": "1",
              "location": "query",
              "description": "The maximum number of shared drives to return. The service may return fewer than this value. If unspecified, at most 10 shared drives will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
              "maximum": "100",
              "default": "10"
            },
            "pageToken": {
              "description": "Page token for shared drives.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "id": "drive.drives.list",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "path": "drives",
          "flatPath": "drives"
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "response": {
            "$ref": "Drive"
          },
          "request": {
            "$ref": "Drive"
          },
          "parameterOrder": [
            "driveId"
          ],
          "httpMethod": "PATCH",
          "description": "Updates the metadata for a shared drive. For more information, see [Manage shared drives](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives).",
          "parameters": {
            "driveId": {
              "description": "The ID of the shared drive.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "useDomainAdminAccess": {
              "type": "boolean",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the shared drive belongs.",
              "location": "query",
              "default": "false"
            }
          },
          "id": "drive.drives.update",
          "path": "drives/{driveId}",
          "flatPath": "drives/{driveId}"
        },
        "hide": {
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "flatPath": "drives/{driveId}/hide",
          "description": "Hides a shared drive from the default view. For more information, see [Manage shared drives](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives).",
          "id": "drive.drives.hide",
          "parameterOrder": [
            "driveId"
          ],
          "parameters": {
            "driveId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the shared drive."
            }
          },
          "httpMethod": "POST",
          "path": "drives/{driveId}/hide",
          "response": {
            "$ref": "Drive"
          }
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "response": {
            "$ref": "Drive"
          },
          "parameterOrder": [
            "driveId"
          ],
          "description": "Gets a shared drive's metadata by ID. For more information, see [Manage shared drives](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives).",
          "parameters": {
            "driveId": {
              "description": "The ID of the shared drive.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "useDomainAdminAccess": {
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the shared drive belongs.",
              "default": "false",
              "type": "boolean",
              "location": "query"
            }
          },
          "id": "drive.drives.get",
          "httpMethod": "GET",
          "flatPath": "drives/{driveId}",
          "path": "drives/{driveId}"
        },
        "create": {
          "parameters": {
            "requestId": {
              "location": "query",
              "required": true,
              "description": "Required. An ID, such as a random UUID, which uniquely identifies this user's request for idempotent creation of a shared drive. A repeated request by the same user and with the same request ID will avoid creating duplicates by attempting to create the same shared drive. If the shared drive already exists a 409 error will be returned.",
              "type": "string"
            }
          },
          "path": "drives",
          "flatPath": "drives",
          "description": "Creates a shared drive. For more information, see [Manage shared drives](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives).",
          "httpMethod": "POST",
          "id": "drive.drives.create",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "request": {
            "$ref": "Drive"
          },
          "parameterOrder": [
            "requestId"
          ],
          "response": {
            "$ref": "Drive"
          }
        },
        "unhide": {
          "parameterOrder": [
            "driveId"
          ],
          "response": {
            "$ref": "Drive"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "description": "Restores a shared drive to the default view. For more information, see [Manage shared drives](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives).",
          "id": "drive.drives.unhide",
          "flatPath": "drives/{driveId}/unhide",
          "httpMethod": "POST",
          "path": "drives/{driveId}/unhide",
          "parameters": {
            "driveId": {
              "description": "The ID of the shared drive.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          }
        }
      }
    },
    "operations": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "id": "drive.operations.get",
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The name of the operation resource."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "operations/{name}",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "name"
          ],
          "path": "operations/{name}",
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
        }
      }
    },
    "revisions": {
      "methods": {
        "list": {
          "path": "files/{fileId}/revisions",
          "parameters": {
            "pageToken": {
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "minimum": "1",
              "location": "query",
              "maximum": "1000",
[...]
