{
  "basePath": "/drive/v2/",
  "revision": "20260904",
  "baseUrl": "https://www.googleapis.com/drive/v2/",
  "ownerName": "Google",
  "parameters": {
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "batchPath": "batch/drive/v2",
  "mtlsRootUrl": "https://www.mtls.googleapis.com/",
  "id": "drive:v2",
  "description": "The Google Drive API allows clients to access resources from Google Drive.",
  "rootUrl": "https://www.googleapis.com/",
  "name": "drive",
  "documentationLink": "https://developers.google.com/workspace/drive/",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "resources": {
    "parents": {
      "methods": {
        "list": {
          "id": "drive.parents.list",
          "flatPath": "files/{fileId}/parents",
          "description": "Lists a file's parents.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "response": {
            "$ref": "ParentList"
          },
          "parameterOrder": [
            "fileId"
          ],
          "parameters": {
            "fileId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the file."
            }
          },
          "path": "files/{fileId}/parents"
        },
        "insert": {
          "request": {
            "$ref": "ParentReference"
          },
          "flatPath": "files/{fileId}/parents",
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "supportsAllDrives": {
              "default": "false",
              "location": "query",
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            },
            "enforceSingleParent": {
              "default": "false",
              "type": "boolean",
              "description": "Deprecated: Adding files to multiple folders is no longer supported. Use `shortcuts` instead.",
              "deprecated": true,
              "location": "query"
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "default": "false",
              "type": "boolean",
              "deprecated": true,
              "location": "query"
            }
          },
          "path": "files/{fileId}/parents",
          "parameterOrder": [
            "fileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "description": "Adds a parent folder for a file.",
          "id": "drive.parents.insert",
          "response": {
            "$ref": "ParentReference"
          },
          "httpMethod": "POST"
        },
        "get": {
          "id": "drive.parents.get",
          "parameters": {
            "parentId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the parent."
            },
            "fileId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the file.",
              "required": true
            }
          },
          "path": "files/{fileId}/parents/{parentId}",
          "flatPath": "files/{fileId}/parents/{parentId}",
          "response": {
            "$ref": "ParentReference"
          },
          "description": "Gets a specific parent reference.",
          "parameterOrder": [
            "fileId",
            "parentId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "httpMethod": "GET"
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "id": "drive.parents.delete",
          "description": "Removes a parent from a file.",
          "parameterOrder": [
            "fileId",
            "parentId"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "fileId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the file."
            },
            "parentId": {
              "description": "The ID of the parent.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "enforceSingleParent": {
              "deprecated": true,
              "description": "Deprecated: If an item is not in a shared drive and its last parent is removed, the item is placed under its owner's root.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            }
          },
          "flatPath": "files/{fileId}/parents/{parentId}",
          "path": "files/{fileId}/parents/{parentId}"
        }
      }
    },
    "revisions": {
      "methods": {
        "delete": {
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameterOrder": [
            "fileId",
            "revisionId"
          ],
          "parameters": {
            "fileId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the file."
            },
            "revisionId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the revision."
            }
          },
          "id": "drive.revisions.delete",
          "path": "files/{fileId}/revisions/{revisionId}",
          "description": "Permanently deletes a file version. You can only delete revisions for files with binary content, like images or videos. Revisions for other files, like Google Docs or Sheets, and the last remaining file version can't be deleted.",
          "flatPath": "files/{fileId}/revisions/{revisionId}"
        },
        "get": {
          "parameters": {
            "fileId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the file.",
              "required": true
            },
            "revisionId": {
              "location": "path",
              "required": true,
              "description": "The ID of the revision.",
              "type": "string"
            }
          },
          "description": "Gets a specific revision.",
          "flatPath": "files/{fileId}/revisions/{revisionId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "id": "drive.revisions.get",
          "httpMethod": "GET",
          "parameterOrder": [
            "fileId",
            "revisionId"
          ],
          "response": {
            "$ref": "Revision"
          },
          "path": "files/{fileId}/revisions/{revisionId}"
        },
        "update": {
          "description": "Updates a revision.",
          "parameters": {
            "fileId": {
              "type": "string",
              "description": "The ID for the file.",
              "location": "path",
              "required": true
            },
            "revisionId": {
              "description": "The ID for the revision.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "response": {
            "$ref": "Revision"
          },
          "id": "drive.revisions.update",
          "path": "files/{fileId}/revisions/{revisionId}",
          "request": {
            "$ref": "Revision"
          },
          "httpMethod": "PUT",
          "parameterOrder": [
            "fileId",
            "revisionId"
          ],
          "flatPath": "files/{fileId}/revisions/{revisionId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ]
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "id": "drive.revisions.patch",
          "parameterOrder": [
            "fileId",
            "revisionId"
          ],
          "path": "files/{fileId}/revisions/{revisionId}",
          "flatPath": "files/{fileId}/revisions/{revisionId}",
          "httpMethod": "PATCH",
          "description": "Updates a revision.",
          "response": {
            "$ref": "Revision"
          },
          "request": {
            "$ref": "Revision"
          },
          "parameters": {
            "revisionId": {
              "required": true,
              "description": "The ID for the revision.",
              "location": "path",
              "type": "string"
            },
            "fileId": {
              "required": true,
              "location": "path",
              "description": "The ID for the file.",
              "type": "string"
            }
          }
        },
        "list": {
          "parameterOrder": [
            "fileId"
          ],
          "id": "drive.revisions.list",
          "path": "files/{fileId}/revisions",
          "flatPath": "files/{fileId}/revisions",
          "parameters": {
            "maxResults": {
              "default": "200",
              "location": "query",
              "minimum": "1",
              "description": "Maximum number of revisions to return.",
              "maximum": "1000",
              "format": "int32",
              "type": "integer"
            },
            "fileId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the file."
            },
            "pageToken": {
              "description": "Page token for revisions. To get the next page of results, set this parameter to the value of \"nextPageToken\" from the previous response.",
              "type": "string",
              "location": "query"
            }
          },
          "description": "Lists a file's revisions. **Important:** The list of revisions returned by this method might be incomplete for files with a large revision history, including frequently edited Google Docs, Sheets, and Slides. Older revisions might be omitted from the response, meaning the first revision returned may not be the oldest existing revision. The revision history visible in the Workspace editor user interface might be more complete than the list returned by the API.",
          "response": {
            "$ref": "RevisionList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "httpMethod": "GET"
        }
      }
    },
    "replies": {
      "methods": {
        "delete": {
          "parameterOrder": [
            "fileId",
            "commentId",
            "replyId"
          ],
          "path": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "id": "drive.replies.delete",
          "flatPath": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "description": "Deletes a reply.",
          "parameters": {
            "fileId": {
              "type": "string",
              "description": "The ID of the file.",
              "required": true,
              "location": "path"
            },
            "commentId": {
              "location": "path",
              "required": true,
              "description": "The ID of the comment.",
              "type": "string"
            },
            "replyId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the reply."
            }
          },
          "httpMethod": "DELETE"
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "response": {
            "$ref": "CommentReply"
          },
          "request": {
            "$ref": "CommentReply"
          },
          "parameters": {
            "fileId": {
              "required": true,
              "description": "The ID of the file.",
              "location": "path",
              "type": "string"
            },
            "commentId": {
              "required": true,
              "description": "The ID of the comment.",
              "location": "path",
              "type": "string"
            }
          },
          "id": "drive.replies.insert",
          "httpMethod": "POST",
          "path": "files/{fileId}/comments/{commentId}/replies",
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "flatPath": "files/{fileId}/comments/{commentId}/replies",
          "description": "Creates a new reply to the given comment."
        },
        "patch": {
          "path": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "response": {
            "$ref": "CommentReply"
          },
          "httpMethod": "PATCH",
          "parameterOrder": [
            "fileId",
            "commentId",
            "replyId"
          ],
          "request": {
            "$ref": "CommentReply"
          },
          "description": "Updates an existing reply.",
          "parameters": {
            "commentId": {
              "location": "path",
              "required": true,
              "description": "The ID of the comment.",
              "type": "string"
            },
            "fileId": {
              "description": "The ID of the file.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "replyId": {
              "description": "The ID of the reply.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "flatPath": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "id": "drive.replies.patch"
        },
        "update": {
          "request": {
            "$ref": "CommentReply"
          },
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "id": "drive.replies.update",
          "response": {
            "$ref": "CommentReply"
          },
          "flatPath": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "parameterOrder": [
            "fileId",
            "commentId",
            "replyId"
          ],
          "description": "Updates an existing reply.",
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "replyId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the reply."
            },
            "commentId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the comment."
            }
          },
          "path": "files/{fileId}/comments/{commentId}/replies/{replyId}"
        },
        "get": {
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "replyId": {
              "required": true,
              "location": "path",
              "description": "The ID of the reply.",
              "type": "string"
            },
            "includeDeleted": {
              "type": "boolean",
              "location": "query",
              "description": "If set, this will succeed when retrieving a deleted reply.",
              "default": "false"
            },
            "commentId": {
              "location": "path",
              "required": true,
              "description": "The ID of the comment.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "fileId",
            "commentId",
            "replyId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "description": "Gets a reply.",
          "id": "drive.replies.get",
          "httpMethod": "GET",
          "path": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "response": {
            "$ref": "CommentReply"
          }
        },
        "list": {
          "flatPath": "files/{fileId}/comments/{commentId}/replies",
          "parameters": {
            "fileId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the file."
            },
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "minimum": "0",
              "description": "The maximum number of replies to include in the response, used for paging.",
              "default": "20",
              "maximum": "100",
              "location": "query"
            },
            "includeDeleted": {
              "default": "false",
              "location": "query",
              "type": "boolean",
              "description": "If set, all replies, including deleted replies (with content stripped) will be returned."
            },
            "pageToken": {
              "type": "string",
              "description": "The continuation token, used to page through large result sets. To get the next page of results, set this parameter to the value of \"nextPageToken\" from the previous response.",
              "location": "query"
            },
            "commentId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the comment."
            }
          },
          "id": "drive.replies.list",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "CommentReplyList"
          },
          "description": "Lists all of the replies to a comment.",
          "path": "files/{fileId}/comments/{commentId}/replies"
        }
      }
    },
    "about": {
      "methods": {
        "get": {
          "id": "drive.about.get",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "path": "about",
          "flatPath": "about",
          "parameters": {
            "maxChangeIdCount": {
              "description": "Maximum number of remaining change IDs to count",
              "default": "1",
              "type": "string",
              "location": "query",
              "format": "int64"
            },
            "startChangeId": {
              "location": "query",
              "format": "int64",
              "type": "string",
              "description": "Change ID to start counting from when calculating number of remaining change IDs"
            },
            "includeSubscribed": {
              "default": "true",
              "type": "boolean",
              "description": "Whether to count changes outside the My Drive hierarchy. When set to false, changes to files such as those in the Application Data folder or shared files which have not been added to My Drive will be omitted from the `maxChangeIdCount`.",
              "location": "query"
            }
          },
          "description": "Gets the information about the current user along with Drive API settings",
          "response": {
            "$ref": "About"
          },
          "parameterOrder": [],
          "httpMethod": "GET"
        }
      }
    },
    "children": {
      "methods": {
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameterOrder": [
            "folderId",
            "childId"
          ],
          "id": "drive.children.delete",
          "description": "Removes a child from a folder.",
          "httpMethod": "DELETE",
          "parameters": {
            "folderId": {
              "type": "string",
              "required": true,
              "description": "The ID of the folder.",
              "location": "path"
            },
            "enforceSingleParent": {
              "default": "false",
              "location": "query",
              "deprecated": true,
              "description": "Deprecated: If an item is not in a shared drive and its last parent is removed, the item is placed under its owner's root.",
              "type": "boolean"
            },
            "childId": {
              "description": "The ID of the child.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "files/{folderId}/children/{childId}",
          "flatPath": "files/{folderId}/children/{childId}"
        },
        "list": {
          "parameterOrder": [
            "folderId"
          ],
          "id": "drive.children.list",
          "flatPath": "files/{folderId}/children",
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "Page token for children.",
              "location": "query"
            },
            "folderId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the folder."
            },
            "maxResults": {
              "description": "Maximum number of children to return.",
              "minimum": "0",
              "format": "int32",
              "default": "100",
              "location": "query",
              "type": "integer"
            },
            "q": {
              "location": "query",
              "type": "string",
              "description": "Query string for searching children."
            },
            "orderBy": {
              "description": "A comma-separated list of sort keys. Valid keys are `createdDate`, `folder`, `lastViewedByMeDate`, `modifiedByMeDate`, `modifiedDate`, `quotaBytesUsed`, `recency`, `sharedWithMeDate`, `starred`, and `title`. Each key sorts ascending by default, but may be reversed with the `desc` modifier. Example usage: ?orderBy=folder,modifiedDate desc,title. Please note that there is a current limitation for users with approximately one million files in which the requested sort order is ignored.",
              "location": "query",
              "type": "string"
            }
          },
          "description": "Lists a folder's children.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "path": "files/{folderId}/children",
          "response": {
            "$ref": "ChildList"
          },
          "httpMethod": "GET"
        },
        "get": {
          "flatPath": "files/{folderId}/children/{childId}",
          "parameters": {
            "folderId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the folder."
            },
            "childId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the child."
            }
          },
          "id": "drive.children.get",
          "description": "Gets a specific child reference.",
          "path": "files/{folderId}/children/{childId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameterOrder": [
            "folderId",
            "childId"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "ChildReference"
          }
        },
        "insert": {
          "flatPath": "files/{folderId}/children",
          "parameterOrder": [
            "folderId"
          ],
          "id": "drive.children.insert",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameters": {
            "supportsTeamDrives": {
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "default": "false",
              "deprecated": true
            },
            "folderId": {
              "location": "path",
              "description": "The ID of the folder.",
              "required": true,
              "type": "string"
            },
            "supportsAllDrives": {
              "default": "false",
              "type": "boolean",
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            },
            "enforceSingleParent": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "Deprecated: Adding files to multiple folders is no longer supported. Use `shortcuts` instead.",
              "deprecated": true
            }
          },
          "request": {
            "$ref": "ChildReference"
          },
          "description": "Inserts a file into a folder.",
          "path": "files/{folderId}/children",
          "httpMethod": "POST",
          "response": {
            "$ref": "ChildReference"
          }
        }
      }
    },
    "comments": {
      "methods": {
        "update": {
          "flatPath": "files/{fileId}/comments/{commentId}",
          "path": "files/{fileId}/comments/{commentId}",
          "httpMethod": "PUT",
          "request": {
            "$ref": "Comment"
          },
          "description": "Updates an existing comment.",
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "id": "drive.comments.update",
          "parameters": {
            "commentId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the comment."
            },
            "fileId": {
              "description": "The ID of the file.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Comment"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ]
        },
        "patch": {
          "httpMethod": "PATCH",
          "response": {
            "$ref": "Comment"
          },
          "path": "files/{fileId}/comments/{commentId}",
          "description": "Updates an existing comment.",
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "flatPath": "files/{fileId}/comments/{commentId}",
          "parameters": {
            "commentId": {
              "description": "The ID of the comment.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "fileId": {
              "type": "string",
              "description": "The ID of the file.",
              "required": true,
              "location": "path"
            }
          },
          "request": {
            "$ref": "Comment"
          },
          "id": "drive.comments.patch"
        },
        "get": {
          "flatPath": "files/{fileId}/comments/{commentId}",
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "httpMethod": "GET",
          "id": "drive.comments.get",
          "description": "Gets a comment by ID.",
          "response": {
            "$ref": "Comment"
          },
          "path": "files/{fileId}/comments/{commentId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameters": {
            "fileId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the file."
            },
            "includeDeleted": {
              "description": "If set, this will succeed when retrieving a deleted comment, and will include any deleted replies.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            },
            "commentId": {
              "type": "string",
              "description": "The ID of the comment.",
              "required": true,
              "location": "path"
            }
          }
        },
        "list": {
          "flatPath": "files/{fileId}/comments",
          "parameterOrder": [
            "fileId"
          ],
          "parameters": {
            "pageToken": {
              "description": "The continuation token, used to page through large result sets. To get the next page of results, set this parameter to the value of \"nextPageToken\" from the previous response.",
              "location": "query",
              "type": "string"
            },
            "updatedMin": {
              "type": "string",
              "description": "Only discussions that were updated after this timestamp will be returned. Formatted as an RFC 3339 timestamp.",
              "location": "query"
            },
            "fileId": {
              "description": "The ID of the file.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "includeDeleted": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "If set, all comments and replies, including deleted comments and replies (with content stripped) will be returned."
            },
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "maximum": "100",
              "description": "The maximum number of discussions to include in the response, used for paging.",
              "location": "query",
              "minimum": "0",
              "default": "20"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "description": "Lists a file's comments.",
          "id": "drive.comments.list",
          "path": "files/{fileId}/comments",
          "httpMethod": "GET",
          "response": {
            "$ref": "CommentList"
          }
        },
        "insert": {
          "response": {
            "$ref": "Comment"
          },
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "id": "drive.comments.insert",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameterOrder": [
            "fileId"
          ],
          "request": {
            "$ref": "Comment"
          },
          "flatPath": "files/{fileId}/comments",
          "path": "files/{fileId}/comments",
          "description": "Creates a new comment on the given file."
        },
        "delete": {
          "flatPath": "files/{fileId}/comments/{commentId}",
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "description": "Deletes a comment.",
          "path": "files/{fileId}/comments/{commentId}",
          "id": "drive.comments.delete",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameters": {
            "commentId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The ID of the comment."
            },
            "fileId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the file."
            }
          },
          "httpMethod": "DELETE"
        }
      }
    },
    "drives": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameterOrder": [],
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Page token for shared drives."
            },
            "maxResults": {
              "location": "query",
              "maximum": "100",
              "description": "Maximum number of shared drives to return per page.",
              "default": "10",
              "type": "integer",
              "minimum": "1",
              "format": "int32"
            },
            "q": {
              "location": "query",
              "type": "string",
              "description": "Query string for searching shared drives."
            },
            "useDomainAdminAccess": {
              "type": "boolean",
              "default": "false",
              "location": "query",
              "description": "Issue the request as a domain administrator; if set to true, then all shared drives of the domain in which the requester is an administrator are returned."
            }
          },
          "response": {
            "$ref": "DriveList"
          },
          "path": "drives",
          "flatPath": "drives",
          "httpMethod": "GET",
          "description": " Lists the user's shared drives. This method accepts the `q` parameter, which is a search query combining one or more search terms. For more information, see the [Search for shared drives](https://developers.google.com/workspace/drive/api/guides/search-shareddrives) guide.",
          "id": "drive.drives.list"
        },
        "unhide": {
          "flatPath": "drives/{driveId}/unhide",
          "parameters": {
            "driveId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the shared drive."
            }
          },
          "path": "drives/{driveId}/unhide",
          "description": "Restores a shared drive to the default view.",
          "response": {
            "$ref": "Drive"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "id": "drive.drives.unhide",
          "httpMethod": "POST",
          "parameterOrder": [
            "driveId"
          ]
        },
        "update": {
          "request": {
            "$ref": "Drive"
          },
          "parameterOrder": [
            "driveId"
          ],
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "response": {
            "$ref": "Drive"
          },
          "description": "Updates the metadata for a shared drive.",
          "flatPath": "drives/{driveId}",
          "parameters": {
            "useDomainAdminAccess": {
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the shared drive belongs.",
              "default": "false",
              "type": "boolean",
              "location": "query"
            },
            "driveId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the shared drive."
            }
          },
          "path": "drives/{driveId}",
          "id": "drive.drives.update"
        },
        "get": {
          "parameterOrder": [
            "driveId"
          ],
          "id": "drive.drives.get",
          "parameters": {
            "driveId": {
              "description": "The ID of the shared drive.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "useDomainAdminAccess": {
              "default": "false",
              "location": "query",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the shared drive belongs.",
              "type": "boolean"
            }
          },
          "flatPath": "drives/{driveId}",
          "path": "drives/{driveId}",
          "response": {
            "$ref": "Drive"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "description": "Gets a shared drive's metadata by ID.",
          "httpMethod": "GET"
        },
        "insert": {
          "httpMethod": "POST",
          "request": {
            "$ref": "Drive"
          },
          "flatPath": "drives",
          "parameters": {
            "requestId": {
              "required": true,
              "location": "query",
              "description": "Required. An ID, such as a random UUID, which uniquely identifies this user's request for idempotent creation of a shared drive. A repeated request by the same user and with the same request ID will avoid creating duplicates by attempting to create the same shared drive. If the shared drive already exists a 409 error will be returned.",
              "type": "string"
            }
          },
          "path": "drives",
          "response": {
            "$ref": "Drive"
          },
          "description": "Creates a new shared drive.",
          "id": "drive.drives.insert",
          "parameterOrder": [
            "requestId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ]
        },
        "hide": {
          "flatPath": "drives/{driveId}/hide",
          "parameterOrder": [
            "driveId"
          ],
          "id": "drive.drives.hide",
          "parameters": {
            "driveId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the shared drive.",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "description": "Hides a shared drive from the default view.",
          "httpMethod": "POST",
          "path": "drives/{driveId}/hide",
          "response": {
            "$ref": "Drive"
          }
        },
        "delete": {
          "parameters": {
            "driveId": {
              "type": "string",
              "required": true,
              "description": "The ID of the shared drive.",
              "location": "path"
            },
            "useDomainAdminAccess": {
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the shared drive belongs.",
              "default": "false",
              "type": "boolean",
              "location": "query"
            },
            "allowItemDeletion": {
              "default": "false",
              "description": "Whether any items inside the shared drive should also be deleted. This option is only supported when `useDomainAdminAccess` is also set to `true`.",
              "location": "query",
              "type": "boolean"
            }
          },
          "httpMethod": "DELETE",
          "flatPath": "drives/{driveId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "path": "drives/{driveId}",
          "parameterOrder": [
            "driveId"
          ],
          "description": "Permanently deletes a shared drive for which the user is an `organizer`. The shared drive cannot contain any untrashed items.",
          "id": "drive.drives.delete"
        }
      }
    },
    "apps": {
      "methods": {
        "get": {
          "flatPath": "apps/{appId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameters": {
            "appId": {
              "type": "string",
              "description": "The ID of the app.",
              "location": "path",
              "required": true
            }
          },
          "id": "drive.apps.get",
          "path": "apps/{appId}",
          "description": "Gets a specific app.",
          "httpMethod": "GET",
          "response": {
            "$ref": "App"
          },
          "parameterOrder": [
            "appId"
          ]
        },
        "list": {
          "flatPath": "apps",
          "parameters": {
            "languageCode": {
              "description": "A language or locale code, as defined by BCP 47, with some extensions from Unicode's LDML format (http://www.unicode.org/reports/tr35/).",
              "type": "string",
              "location": "query"
            },
            "appFilterExtensions": {
              "location": "query",
              "description": "A comma-separated list of file extensions for open with filtering. All apps within the given app query scope which can open any of the given file extensions will be included in the response. If `appFilterMimeTypes` are provided as well, the result is a union of the two resulting app lists.",
              "type": "string",
              "default": ""
            },
            "appFilterMimeTypes": {
              "description": "A comma-separated list of MIME types for open with filtering. All apps within the given app query scope which can open any of the given MIME types will be included in the response. If `appFilterExtensions` are provided as well, the result is a union of the two resulting app lists.",
              "location": "query",
              "type": "string",
              "default": ""
            }
          },
          "description": "Lists a user's installed apps.",
          "id": "drive.apps.list",
          "path": "apps",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/drive.apps.readonly"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "AppList"
          }
        }
      }
    },
    "channels": {
      "methods": {
        "stop": {
          "httpMethod": "POST",
          "flatPath": "channels/stop",
          "description": "Stops watching resources through this channel.",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "path": "channels/stop",
          "request": {
            "$ref": "Channel",
            "parameterName": "resource"
          },
          "parameterOrder": [],
          "id": "drive.channels.stop"
        }
      }
    },
    "changes": {
      "methods": {
        "getStartPageToken": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "response": {
            "$ref": "StartPageToken"
          },
          "id": "drive.changes.getStartPageToken",
          "httpMethod": "GET",
          "path": "changes/startPageToken",
          "description": "Gets the starting pageToken for listing future changes.",
          "parameters": {
            "teamDriveId": {
              "location": "query",
              "deprecated": true,
              "type": "string",
              "description": "Deprecated: Use `driveId` instead."
            },
            "supportsTeamDrives": {
              "type": "boolean",
              "deprecated": true,
              "location": "query",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "default": "false"
            },
            "driveId": {
              "location": "query",
              "type": "string",
              "description": "The ID of the shared drive for which the starting pageToken for listing future changes from that shared drive will be returned."
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "default": "false",
              "type": "boolean"
            }
          },
          "parameterOrder": [],
          "flatPath": "changes/startPageToken"
        },
        "watch": {
          "path": "changes/watch",
          "description": "Subscribe to changes for a user.",
          "request": {
            "parameterName": "resource",
            "$ref": "Channel"
          },
          "parameters": {
            "teamDriveId": {
              "description": "Deprecated: Use `driveId` instead.",
              "deprecated": true,
              "location": "query",
              "type": "string"
            },
            "includeDeleted": {
              "location": "query",
              "description": "Whether to include changes indicating that items have been removed from the list of changes, for example by deletion or loss of access.",
              "type": "boolean",
              "default": "true"
            },
            "includeSubscribed": {
              "location": "query",
              "type": "boolean",
              "default": "true",
              "description": "Whether to include changes outside the My Drive hierarchy in the result. When set to false, changes to files such as those in the Application Data folder or shared files which have not been added to My Drive will be omitted from the result."
            },
            "driveId": {
              "location": "query",
              "type": "string",
              "description": "The shared drive from which changes will be returned. If specified the change IDs will be reflective of the shared drive; use the combined drive ID and change ID as an identifier."
            },
            "includeLabels": {
              "type": "string",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query"
            },
            "supportsTeamDrives": {
              "default": "false",
              "deprecated": true,
              "type": "boolean",
              "location": "query",
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "includeCorpusRemovals": {
              "description": "Whether changes should include the file resource if the file is still accessible by the user at the time of the request, even when a file was removed from the list of changes and there will be no further change entries for this file.",
              "location": "query",
              "default": "false",
              "type": "boolean"
            },
            "includeTeamDriveItems": {
              "location": "query",
              "type": "boolean",
              "deprecated": true,
              "description": "Deprecated: Use `includeItemsFromAllDrives` instead.",
              "default": "false"
            },
            "maxResults": {
              "description": "Maximum number of changes to return.",
              "location": "query",
              "format": "int32",
              "type": "integer",
              "minimum": "1",
              "default": "100"
            },
            "includeItemsFromAllDrives": {
              "location": "query",
              "type": "boolean",
              "description": "Whether both My Drive and shared drive items should be included in results.",
              "default": "false"
            },
            "pageToken": {
              "type": "string",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response or to the response from the getStartPageToken method.",
              "location": "query"
            },
            "startChangeId": {
              "type": "string",
              "location": "query",
              "deprecated": true,
              "description": "Deprecated: Use `pageToken` instead.",
              "format": "int64"
            },
            "supportsAllDrives": {
              "location": "query",
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false"
            },
            "spaces": {
              "location": "query",
              "description": "A comma-separated list of spaces to query. Supported values are `drive`, `appDataFolder` and `photos`.",
              "type": "string"
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "changes/watch",
          "id": "drive.changes.watch",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "response": {
            "$ref": "Channel"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "supportsSubscription": true
        },
        "list": {
          "httpMethod": "GET",
          "path": "changes",
          "flatPath": "changes",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "description": "Lists the changes for a user or shared drive.",
          "parameterOrder": [],
          "parameters": {
            "supportsTeamDrives": {
              "deprecated": true,
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "type": "boolean"
            },
            "spaces": {
              "description": "A comma-separated list of spaces to query. Supported values are `drive`, `appDataFolder` and `photos`.",
              "type": "string",
              "location": "query"
            },
            "teamDriveId": {
              "deprecated": true,
              "type": "string",
              "location": "query",
              "description": "Deprecated: Use `driveId` instead."
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query",
              "type": "string"
            },
            "includeItemsFromAllDrives": {
              "default": "false",
              "type": "boolean",
              "description": "Whether both My Drive and shared drive items should be included in results.",
              "location": "query"
            },
            "includeTeamDriveItems": {
              "description": "Deprecated: Use `includeItemsFromAllDrives` instead.",
              "type": "boolean",
              "default": "false",
              "deprecated": true,
              "location": "query"
            },
            "supportsAllDrives": {
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "location": "query"
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query",
              "type": "string"
            },
            "driveId": {
              "location": "query",
              "description": "The shared drive from which changes will be returned. If specified the change IDs will be reflective of the shared drive; use the combined drive ID and change ID as an identifier.",
              "type": "string"
            },
            "includeCorpusRemovals": {
              "description": "Whether changes should include the file resource if the file is still accessible by the user at the time of the request, even when a file was removed from the list of changes and there will be no further change entries for this file.",
              "default": "false",
              "type": "boolean",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response or to the response from the getStartPageToken method.",
              "location": "query"
            },
            "includeSubscribed": {
              "location": "query",
              "type": "boolean",
              "default": "true",
              "description": "Whether to include changes outside the My Drive hierarchy in the result. When set to false, changes to files such as those in the Application Data folder or shared files which have not been added to My Drive will be omitted from the result."
            },
            "includeDeleted": {
              "type": "boolean",
              "description": "Whether to include changes indicating that items have been removed from the list of changes, for example by deletion or loss of access.",
              "default": "true",
              "location": "query"
            },
            "startChangeId": {
              "location": "query",
              "format": "int64",
              "description": "Deprecated: Use `pageToken` instead.",
              "type": "string",
              "deprecated": true
            },
            "maxResults": {
              "description": "Maximum number of changes to return.",
              "type": "integer",
              "location": "query",
              "default": "100",
              "minimum": "1",
              "format": "int32"
            }
          },
          "response": {
            "$ref": "ChangeList"
          },
          "supportsSubscription": true,
          "id": "drive.changes.list"
        },
        "get": {
          "description": "Deprecated: Use `changes.getStartPageToken` and `changes.list` to retrieve recent changes.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "response": {
            "$ref": "Change"
          },
          "path": "changes/{changeId}",
          "httpMethod": "GET",
          "parameterOrder": [
            "changeId"
          ],
          "flatPath": "changes/{changeId}",
          "parameters": {
            "driveId": {
              "location": "query",
              "description": "The shared drive from which the change will be returned.",
              "type": "string"
            },
            "changeId": {
              "required": true,
              "location": "path",
              "description": "The ID of the change.",
              "type": "string"
            },
            "supportsAllDrives": {
              "type": "boolean",
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query"
            },
            "supportsTeamDrives": {
              "type": "boolean",
              "location": "query",
              "deprecated": true,
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "teamDriveId": {
              "deprecated": true,
              "type": "string",
              "description": "Deprecated: Use `driveId` instead.",
              "location": "query"
            }
          },
          "id": "drive.changes.get"
        }
      }
    },
    "teamdrives": {
      "methods": {
        "insert": {
          "response": {
            "$ref": "TeamDrive"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "httpMethod": "POST",
          "parameterOrder": [
            "requestId"
          ],
          "id": "drive.teamdrives.insert",
          "description": "Deprecated: Use `drives.insert` instead.",
          "path": "teamdrives",
          "request": {
            "$ref": "TeamDrive"
          },
          "parameters": {
            "requestId": {
              "description": "Required. An ID, such as a random UUID, which uniquely identifies this user's request for idempotent creation of a Team Drive. A repeated request by the same user and with the same request ID will avoid creating duplicates by attempting to create the same Team Drive. If the Team Drive already exists a 409 error will be returned.",
              "type": "string",
              "required": true,
              "location": "query"
            }
          },
          "flatPath": "teamdrives"
        },
        "delete": {
          "description": "Deprecated: Use `drives.delete` instead.",
          "parameters": {
            "teamDriveId": {
              "location": "path",
              "description": "The ID of the Team Drive",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "teamdrives/{teamDriveId}",
          "httpMethod": "DELETE",
          "id": "drive.teamdrives.delete",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "path": "teamdrives/{teamDriveId}",
          "parameterOrder": [
            "teamDriveId"
          ]
        },
        "list": {
          "parameters": {
            "useDomainAdminAccess": {
              "location": "query",
              "default": "false",
              "description": "Issue the request as a domain administrator; if set to true, then all Team Drives of the domain in which the requester is an administrator are returned.",
              "type": "boolean"
            },
            "q": {
              "description": "Query string for searching Team Drives.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "Page token for Team Drives.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "format": "int32",
              "maximum": "100",
              "location": "query",
              "minimum": "1",
              "default": "10",
              "description": "Maximum number of Team Drives to return.",
              "type": "integer"
            }
          },
          "flatPath": "teamdrives",
          "parameterOrder": [],
          "path": "teamdrives",
          "id": "drive.teamdrives.list",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "TeamDriveList"
          },
          "description": "Deprecated: Use `drives.list` instead."
        },
        "update": {
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "request": {
            "$ref": "TeamDrive"
          },
          "id": "drive.teamdrives.update",
          "flatPath": "teamdrives/{teamDriveId}",
          "path": "teamdrives/{teamDriveId}",
          "parameters": {
            "teamDriveId": {
              "description": "The ID of the Team Drive",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "useDomainAdminAccess": {
              "default": "false",
              "type": "boolean",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the Team Drive belongs.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "TeamDrive"
          },
          "description": "Deprecated: Use `drives.update` instead.",
          "parameterOrder": [
            "teamDriveId"
          ]
        },
        "get": {
          "response": {
            "$ref": "TeamDrive"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "httpMethod": "GET",
          "id": "drive.teamdrives.get",
          "description": "Deprecated: Use `drives.get` instead.",
          "parameters": {
            "useDomainAdminAccess": {
              "type": "boolean",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the Team Drive belongs.",
              "default": "false",
              "location": "query"
            },
            "teamDriveId": {
              "description": "The ID of the Team Drive",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "path": "teamdrives/{teamDriveId}",
          "parameterOrder": [
            "teamDriveId"
          ],
          "flatPath": "teamdrives/{teamDriveId}"
        }
      }
    },
    "permissions": {
      "methods": {
        "update": {
          "path": "files/{fileId}/permissions/{permissionId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "flatPath": "files/{fileId}/permissions/{permissionId}",
          "description": "Updates a permission. **Warning:** Concurrent permissions operations on the same file are not supported; only the last update is applied.",
          "request": {
            "$ref": "Permission"
          },
          "httpMethod": "PUT",
          "parameterOrder": [
            "fileId",
            "permissionId"
          ],
          "id": "drive.permissions.update",
          "response": {
            "$ref": "Permission"
          },
          "parameters": {
            "transferOwnership": {
              "type": "boolean",
              "description": "Whether changing a role to `owner` downgrades the current owners to writers. Does nothing if the specified role is not `owner`.",
              "location": "query",
              "default": "false"
            },
            "removeExpiration": {
              "default": "false",
              "type": "boolean",
              "location": "query",
              "description": "Whether to remove the expiration date."
            },
            "fileId": {
              "required": true,
              "location": "path",
              "description": "The ID for the file or shared drive.",
              "type": "string"
            },
            "useDomainAdminAccess": {
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs.",
              "location": "query",
              "type": "boolean",
              "default": "false"
            },
            "supportsAllDrives": {
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false",
              "location": "query"
            },
            "permissionId": {
              "required": true,
              "location": "path",
              "description": "The ID for the permission.",
              "type": "string"
            },
            "enforceExpansiveAccess": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "deprecated": true,
              "description": "Deprecated: All requests use the expansive access rules."
            },
            "supportsTeamDrives": {
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "default": "false",
              "deprecated": true,
              "location": "query"
            }
          }
        },
        "getIdForEmail": {
          "httpMethod": "GET",
          "description": "Returns the permission ID for an email address.",
          "path": "permissionIds/{email}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "permissionIds/{email}",
          "id": "drive.permissions.getIdForEmail",
          "response": {
            "$ref": "PermissionId"
          },
          "parameters": {
            "email": {
              "required": true,
              "description": "The email address for which to return a permission ID",
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "email"
          ]
        },
        "patch": {
          "description": "Updates a permission using patch semantics. **Warning:** Concurrent permissions operations on the same file are not supported; only the last update is applied.",
          "flatPath": "files/{fileId}/permissions/{permissionId}",
          "request": {
            "$ref": "Permission"
          },
          "path": "files/{fileId}/permissions/{permissionId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "id": "drive.permissions.patch",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "fileId",
            "permissionId"
          ],
          "response": {
            "$ref": "Permission"
          },
          "parameters": {
            "fileId": {
              "location": "path",
              "description": "The ID for the file or shared drive.",
              "required": true,
              "type": "string"
            },
            "enforceExpansiveAccess": {
              "location": "query",
              "deprecated": true,
              "description": "Deprecated: All requests use the expansive access rules.",
              "default": "false",
              "type": "boolean"
            },
            "useDomainAdminAccess": {
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs.",
              "default": "false",
              "location": "query",
              "type": "boolean"
            },
            "transferOwnership": {
              "type": "boolean",
              "location": "query",
              "description": "Whether changing a role to `owner` downgrades the current owners to writers. Does nothing if the specified role is not `owner`.",
              "default": "false"
            },
            "removeExpiration": {
              "description": "Whether to remove the expiration date.",
              "location": "query",
              "default": "false",
              "type": "boolean"
            },
            "supportsAllDrives": {
              "type": "boolean",
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false"
            },
            "supportsTeamDrives": {
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "default": "false",
              "deprecated": true
            },
            "permissionId": {
              "location": "path",
              "description": "The ID for the permission.",
              "required": true,
              "type": "string"
            }
          }
        },
        "list": {
          "id": "drive.permissions.list",
          "description": "Lists a file's or shared drive's permissions.",
          "response": {
            "$ref": "PermissionList"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "path": "files/{fileId}/permissions",
          "flatPath": "files/{fileId}/permissions",
          "parameterOrder": [
            "fileId"
          ],
          "parameters": {
            "fileId": {
              "location": "path",
              "description": "The ID for the file or shared drive.",
              "required": true,
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "minimum": "1",
              "description": "The maximum number of permissions to return per page. When not set for files in a shared drive, at most 100 results will be returned. When not set for files that are not in a shared drive, the entire list will be returned.",
              "format": "int32",
              "type": "integer",
              "maximum": "100"
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "type": "string",
              "location": "query"
            },
            "supportsTeamDrives": {
              "type": "boolean",
              "deprecated": true,
              "location": "query",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "default": "false"
            },
            "supportsAllDrives": {
              "default": "false",
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean"
            },
            "useDomainAdminAccess": {
              "default": "false",
              "location": "query",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs.",
              "type": "boolean"
            },
            "pageToken": {
              "type": "string",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response.",
              "location": "query"
            }
          }
        },
        "insert": {
          "parameterOrder": [
            "fileId"
          ],
          "response": {
            "$ref": "Permission"
          },
          "httpMethod": "POST",
          "path": "files/{fileId}/permissions",
          "description": "Inserts a permission for a file or shared drive. **Warning:** Concurrent permissions operations on the same file are not supported; only the last update is applied.",
          "request": {
            "$ref": "Permission"
          },
          "id": "drive.permissions.insert",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameters": {
            "useDomainAdminAccess": {
              "default": "false",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs.",
              "type": "boolean",
              "location": "query"
            },
            "sendNotificationEmails": {
              "default": "true",
              "description": "Whether to send notification emails when sharing to users or groups. This parameter is ignored and an email is sent if the `role` is `owner`.",
              "location": "query",
              "type": "boolean"
            },
            "emailMessage": {
              "description": "A plain text custom message to include in notification emails.",
              "type": "string",
              "location": "query"
            },
            "fileId": {
              "type": "string",
              "location": "path",
              "description": "The ID for the file or shared drive.",
              "required": true
            },
            "enforceSingleParent": {
              "default": "false",
              "type": "boolean",
              "location": "query",
              "description": "Deprecated: See `moveToNewOwnersRoot` for details.",
              "deprecated": true
            },
            "moveToNewOwnersRoot": {
              "description": "This parameter will only take effect if the item is not in a shared drive and the request is attempting to transfer the ownership of the item. If set to `true`, the item will be moved to the new owner's My Drive root folder and all prior parents removed. If set to `false`, parents are not changed.",
              "default": "false",
              "location": "query",
              "type": "boolean"
            },
            "supportsTeamDrives": {
              "location": "query",
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "default": "false",
              "deprecated": true
            },
            "supportsAllDrives": {
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "default": "false"
            },
            "enforceExpansiveAccess": {
              "deprecated": true,
              "location": "query",
              "description": "Deprecated: All requests use the expansive access rules.",
              "type": "boolean",
              "default": "false"
            }
          },
          "flatPath": "files/{fileId}/permissions"
        },
        "delete": {
          "parameters": {
            "enforceExpansiveAccess": {
              "location": "query",
              "description": "Deprecated: All requests use the expansive access rules.",
              "type": "boolean",
              "default": "false",
              "deprecated": true
            },
            "supportsTeamDrives": {
              "deprecated": true,
              "default": "false",
              "location": "query",
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "useDomainAdminAccess": {
              "type": "boolean",
              "default": "false",
              "location": "query",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs."
            },
            "fileId": {
              "description": "The ID for the file or shared drive.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "permissionId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID for the permission."
            },
            "supportsAllDrives": {
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "location": "query"
            }
          },
          "httpMethod": "DELETE",
          "flatPath": "files/{fileId}/permissions/{permissionId}",
          "parameterOrder": [
            "fileId",
            "permissionId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "id": "drive.permissions.delete",
          "path": "files/{fileId}/permissions/{permissionId}",
          "description": "Deletes a permission from a file or shared drive. **Warning:** Concurrent permissions operations on the same file are not supported; only the last update is applied."
        },
        "get": {
          "parameterOrder": [
            "fileId",
            "permissionId"
          ],
          "httpMethod": "GET",
          "id": "drive.permissions.get",
          "flatPath": "files/{fileId}/permissions/{permissionId}",
          "path": "files/{fileId}/permissions/{permissionId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "response": {
            "$ref": "Permission"
          },
          "parameters": {
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "default": "false",
              "location": "query"
            },
            "supportsTeamDrives": {
              "default": "false",
              "location": "query",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean",
              "deprecated": true
            },
            "fileId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID for the file or shared drive."
            },
            "useDomainAdminAccess": {
              "type": "boolean",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs.",
              "location": "query",
              "default": "false"
            },
            "permissionId": {
              "description": "The ID for the permission.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "description": "Gets a permission by ID."
        }
      }
    },
    "properties": {
      "methods": {
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "parameters": {
            "visibility": {
              "description": "The visibility of the property.",
              "location": "query",
              "default": "private",
              "type": "string"
            },
            "fileId": {
              "description": "The ID of the file.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "propertyKey": {
              "description": "The key of the property.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "path": "files/{fileId}/properties/{propertyKey}",
          "flatPath": "files/{fileId}/properties/{propertyKey}",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "fileId",
            "propertyKey"
          ],
          "id": "drive.properties.delete",
          "description": "Deletes a property."
        },
        "insert": {
          "flatPath": "files/{fileId}/properties",
          "path": "files/{fileId}/properties",
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "fileId"
          ],
          "description": "Adds a property to a file, or updates it if it already exists.",
          "request": {
            "$ref": "Property"
          },
          "id": "drive.properties.insert",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "Property"
          }
        },
        "get": {
          "httpMethod": "GET",
          "description": "Gets a property by its key.",
          "parameterOrder": [
            "fileId",
            "propertyKey"
          ],
          "flatPath": "files/{fileId}/properties/{propertyKey}",
          "response": {
            "$ref": "Property"
          },
          "parameters": {
            "visibility": {
              "location": "query",
              "default": "private",
              "description": "The visibility of the property.",
              "type": "string"
            },
            "propertyKey": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The key of the property."
            },
            "fileId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the file.",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "path": "files/{fileId}/properties/{propertyKey}",
          "id": "drive.properties.get"
        },
        "list": {
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "description": "Lists a file's properties.",
          "parameterOrder": [
            "fileId"
          ],
          "path": "files/{fileId}/properties",
          "response": {
            "$ref": "PropertyList"
          },
          "flatPath": "files/{fileId}/properties",
          "httpMethod": "GET",
          "id": "drive.properties.list"
        },
        "update": {
          "flatPath": "files/{fileId}/properties/{propertyKey}",
          "path": "files/{fileId}/properties/{propertyKey}",
          "parameters": {
            "fileId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the file."
            },
            "visibility": {
              "location": "query",
              "type": "string",
              "description": "The visibility of the property. Allowed values are PRIVATE and PUBLIC. (Default: PRIVATE)",
              "default": "private"
            },
            "propertyKey": {
              "type": "string",
              "description": "The key of the property.",
              "required": true,
              "location": "path"
            }
          },
          "description": "Updates a property.",
          "request": {
            "$ref": "Property"
          },
          "httpMethod": "PUT",
          "id": "drive.properties.update",
          "parameterOrder": [
            "fileId",
            "propertyKey"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "response": {
            "$ref": "Property"
          }
        },
        "patch": {
          "flatPath": "files/{fileId}/properties/{propertyKey}",
          "parameterOrder": [
            "fileId",
            "propertyKey"
          ],
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "request": {
            "$ref": "Property"
          },
          "description": "Updates a property.",
          "path": "files/{fileId}/properties/{propertyKey}",
          "parameters": {
            "propertyKey": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The key of the property."
            },
            "fileId": {
              "description": "The ID of the file.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "visibility": {
              "location": "query",
              "type": "string",
              "default": "private",
              "description": "The visibility of the property. Allowed values are PRIVATE and PUBLIC. (Default: PRIVATE)"
            }
          },
          "id": "drive.properties.patch",
          "response": {
            "$ref": "Property"
          }
        }
      }
    },
    "files": {
      "methods": {
        "patch": {
          "parameterOrder": [
            "fileId"
          ],
          "description": "Updates a file's metadata and/or content. When calling this method, only populate fields in the request that you want to modify. When updating fields, some fields might change automatically, such as modifiedDate. This method supports patch semantics.",
          "response": {
            "$ref": "File"
          },
          "parameters": {
            "modifiedDateBehavior": {
              "enumDescriptions": [
[...]
