{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.appdata": {
          "description": "See, create, and delete its own configuration data in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.apps.readonly": {
          "description": "View your Google Drive apps"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.meet.readonly": {
          "description": "See and download your Google Drive files that were created or edited by Google Meet."
        },
        "https://www.googleapis.com/auth/drive.photos.readonly": {
          "description": "View the photos, videos and albums in your Google Photos"
        },
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "See and download all your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.file": {
          "description": "See, edit, create, and delete only the specific Google Drive files you use with this app"
        },
        "https://www.googleapis.com/auth/drive.scripts": {
          "description": "Modify your Google Apps Script scripts' behavior"
        },
        "https://www.googleapis.com/auth/drive.metadata": {
          "description": "View and manage metadata of files in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.metadata.readonly": {
          "description": "See information about your Google Drive files"
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://www.mtls.googleapis.com/",
  "protocol": "rest",
  "documentationLink": "https://developers.google.com/workspace/drive/",
  "basePath": "/drive/v3/",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "drive/v3/",
  "parameters": {
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format."
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    }
  },
  "discoveryVersion": "v1",
  "version": "v3",
  "rootUrl": "https://www.googleapis.com/",
  "resources": {
    "approvals": {
      "methods": {
        "reassign": {
          "request": {
            "$ref": "ReassignApprovalRequest"
          },
          "parameterOrder": [
            "fileId",
            "approvalId"
          ],
          "flatPath": "files/{fileId}/approvals/{approvalId}:reassign",
          "id": "drive.approvals.reassign",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "description": "Reassigns the reviewers on an approval. For more information, see [Manage approvals](https://developers.google.com/workspace/drive/api/guides/approvals). Adds or replaces reviewers in the ReviewerResponse of the approval. This can be called by any user with the `writer` permission on the file while the approval Status is `IN_PROGRESS` and the Response for the reviewer being reassigned is `NO_RESPONSE`. A user with the `reader` permission can only reassign an approval that's assigned to themselves. Removing a reviewer isn't allowed.",
          "response": {
            "$ref": "Approval"
          },
          "httpMethod": "POST",
          "path": "files/{fileId}/approvals/{approvalId}:reassign",
          "parameters": {
            "fileId": {
              "description": "Required. The ID of the file that the approval is on.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "approvalId": {
              "location": "path",
              "type": "string",
              "description": "Required. The ID of the approval to reassign.",
              "required": true
            }
          }
        },
        "cancel": {
          "flatPath": "files/{fileId}/approvals/{approvalId}:cancel",
          "description": "Cancels an approval. For more information, see [Manage approvals](https://developers.google.com/workspace/drive/api/guides/approvals). Updates the approval Status to `CANCELLED`. This can be called by any user with the `writer` permission on the file while the approval Status is `IN_PROGRESS`.",
          "path": "files/{fileId}/approvals/{approvalId}:cancel",
          "id": "drive.approvals.cancel",
          "response": {
            "$ref": "Approval"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "parameters": {
            "approvalId": {
              "required": true,
              "location": "path",
              "description": "Required. The ID of the approval to cancel.",
              "type": "string"
            },
            "fileId": {
              "location": "path",
              "type": "string",
              "description": "Required. The ID of the file that the approval is on.",
              "required": true
            }
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "CancelApprovalRequest"
          },
          "parameterOrder": [
            "fileId",
            "approvalId"
          ]
        },
        "decline": {
          "flatPath": "files/{fileId}/approvals/{approvalId}:decline",
          "id": "drive.approvals.decline",
          "description": "Declines an approval. For more information, see [Manage approvals](https://developers.google.com/workspace/drive/api/guides/approvals). This is used to update the ReviewerResponse of the requesting user with a Response of `DECLINED`. This also completes the approval and sets the approval Status to `DECLINED`.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "DeclineApprovalRequest"
          },
          "path": "files/{fileId}/approvals/{approvalId}:decline",
          "parameters": {
            "fileId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. The ID of the file that the approval is on."
            },
            "approvalId": {
              "required": true,
              "description": "Required. The ID of the approval to decline.",
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "fileId",
            "approvalId"
          ],
          "response": {
            "$ref": "Approval"
          }
        },
        "start": {
          "parameterOrder": [
            "fileId"
          ],
          "flatPath": "files/{fileId}/approvals:start",
          "description": "Starts an approval on a file. For more information, see [Manage approvals](https://developers.google.com/workspace/drive/api/guides/approvals).",
          "httpMethod": "POST",
          "parameters": {
            "fileId": {
              "description": "Required. The ID of the file that the approval is created on.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "id": "drive.approvals.start",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "request": {
            "$ref": "StartApprovalRequest"
          },
          "response": {
            "$ref": "Approval"
          },
          "path": "files/{fileId}/approvals:start"
        },
        "list": {
          "parameterOrder": [
            "fileId"
          ],
          "response": {
            "$ref": "ApprovalList"
          },
          "id": "drive.approvals.list",
          "path": "files/{fileId}/approvals",
          "description": "Lists the approvals on a file. For more information, see [Manage approvals](https://developers.google.com/workspace/drive/api/guides/approvals). By default, this method returns a minimal response that may not include the items array. To retrieve approval details, you must explicitly specify the fields you want using the `fields` query parameter. To return the exact fields you need, see [Return specific fields](https://developers.google.com/workspace/drive/api/guides/fields-parameter).",
          "httpMethod": "GET",
          "flatPath": "files/{fileId}/approvals",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameters": {
            "fileId": {
              "required": true,
              "description": "Required. The ID of the file that the approval is on.",
              "type": "string",
              "location": "path"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response."
            },
            "pageSize": {
              "type": "integer",
              "location": "query",
              "description": "The maximum number of approvals to return. When not set, at most 100 approvals are returned.",
              "format": "int32"
            }
          }
        },
        "comment": {
          "description": "Comments on an approval. For more information, see [Manage approvals](https://developers.google.com/workspace/drive/api/guides/approvals). This sends a notification to both the initiator and the reviewers. Additionally, a message is also added to the approval activity log.",
          "path": "files/{fileId}/approvals/{approvalId}:comment",
          "request": {
            "$ref": "CommentApprovalRequest"
          },
          "response": {
            "$ref": "Approval"
          },
          "id": "drive.approvals.comment",
          "parameterOrder": [
            "fileId",
            "approvalId"
          ],
          "flatPath": "files/{fileId}/approvals/{approvalId}:comment",
          "parameters": {
            "fileId": {
              "required": true,
              "type": "string",
              "description": "Required. The ID of the file that the approval is on.",
              "location": "path"
            },
            "approvalId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Required. The ID of the approval to comment on."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "httpMethod": "POST"
        },
        "approve": {
          "flatPath": "files/{fileId}/approvals/{approvalId}:approve",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "parameterOrder": [
            "fileId",
            "approvalId"
          ],
          "path": "files/{fileId}/approvals/{approvalId}:approve",
          "parameters": {
            "fileId": {
              "required": true,
              "type": "string",
              "description": "Required. The ID of the file that the approval is on.",
              "location": "path"
            },
            "approvalId": {
              "required": true,
              "type": "string",
              "description": "Required. The ID of the approval to approve.",
              "location": "path"
            }
          },
          "request": {
            "$ref": "ApproveApprovalRequest"
          },
          "httpMethod": "POST",
          "description": "Approves an approval. For more information, see [Manage approvals](https://developers.google.com/workspace/drive/api/guides/approvals). This is used to update the ReviewerResponse of the requesting user with a Response of `APPROVED`. If this is the last required reviewer response, this also completes the approval and sets the approval Status to `APPROVED`.",
          "response": {
            "$ref": "Approval"
          },
          "id": "drive.approvals.approve"
        },
        "get": {
          "response": {
            "$ref": "Approval"
          },
          "path": "files/{fileId}/approvals/{approvalId}",
          "id": "drive.approvals.get",
          "parameterOrder": [
            "fileId",
            "approvalId"
          ],
          "flatPath": "files/{fileId}/approvals/{approvalId}",
          "httpMethod": "GET",
          "parameters": {
            "fileId": {
              "type": "string",
              "location": "path",
              "description": "Required. The ID of the file that the approval is on.",
              "required": true
            },
            "approvalId": {
              "location": "path",
              "type": "string",
              "description": "Required. The ID of the approval.",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "description": "Gets an approval by ID. For more information, see [Manage approvals](https://developers.google.com/workspace/drive/api/guides/approvals)."
        }
      }
    },
    "drives": {
      "methods": {
        "unhide": {
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "path": "drives/{driveId}/unhide",
          "response": {
            "$ref": "Drive"
          },
          "flatPath": "drives/{driveId}/unhide",
          "httpMethod": "POST",
          "parameters": {
            "driveId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The ID of the shared drive."
            }
          },
          "description": "Restores a shared drive to the default view. For more information, see [Manage shared drives](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives).",
          "parameterOrder": [
            "driveId"
          ],
          "id": "drive.drives.unhide"
        },
        "delete": {
          "path": "drives/{driveId}",
          "description": "Permanently deletes a shared drive for which the user is an `organizer`. The shared drive cannot contain any untrashed items. For more information, see [Manage shared drives](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives).",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "flatPath": "drives/{driveId}",
          "httpMethod": "DELETE",
          "id": "drive.drives.delete",
          "parameters": {
            "allowItemDeletion": {
              "location": "query",
              "description": "Whether any items inside the shared drive should also be deleted. This option is only supported when `useDomainAdminAccess` is also set to `true`.",
              "type": "boolean",
              "default": "false"
            },
            "driveId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the shared drive.",
              "required": true
            },
            "useDomainAdminAccess": {
              "type": "boolean",
              "location": "query",
              "default": "false",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the shared drive belongs."
            }
          },
          "parameterOrder": [
            "driveId"
          ]
        },
        "get": {
          "parameters": {
            "useDomainAdminAccess": {
              "location": "query",
              "type": "boolean",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the shared drive belongs.",
              "default": "false"
            },
            "driveId": {
              "location": "path",
              "description": "The ID of the shared drive.",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "httpMethod": "GET",
          "description": "Gets a shared drive's metadata by ID. For more information, see [Manage shared drives](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives).",
          "flatPath": "drives/{driveId}",
          "response": {
            "$ref": "Drive"
          },
          "path": "drives/{driveId}",
          "id": "drive.drives.get",
          "parameterOrder": [
            "driveId"
          ]
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "response": {
            "$ref": "DriveList"
          },
          "id": "drive.drives.list",
          "path": "drives",
          "description": " Lists the user's shared drives. This method accepts the `q` parameter, which is a search query combining one or more search terms. For more information, see the [Search for shared drives](https://developers.google.com/workspace/drive/api/guides/search-shareddrives) guide.",
          "parameters": {
            "useDomainAdminAccess": {
              "type": "boolean",
              "default": "false",
              "description": "Issue the request as a domain administrator; if set to true, then all shared drives of the domain in which the requester is an administrator are returned.",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Page token for shared drives."
            },
            "pageSize": {
              "maximum": "100",
              "minimum": "1",
              "description": "The maximum number of shared drives to return. The service may return fewer than this value. If unspecified, at most 10 shared drives will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
              "format": "int32",
              "type": "integer",
              "location": "query",
              "default": "10"
            },
            "q": {
              "description": "Query string for searching shared drives.",
              "type": "string",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [],
          "flatPath": "drives"
        },
        "create": {
          "parameters": {
            "requestId": {
              "location": "query",
              "type": "string",
              "required": true,
              "description": "Required. An ID, such as a random UUID, which uniquely identifies this user's request for idempotent creation of a shared drive. A repeated request by the same user and with the same request ID will avoid creating duplicates by attempting to create the same shared drive. If the shared drive already exists a 409 error will be returned."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "httpMethod": "POST",
          "parameterOrder": [
            "requestId"
          ],
          "response": {
            "$ref": "Drive"
          },
          "description": "Creates a shared drive. For more information, see [Manage shared drives](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives).",
          "id": "drive.drives.create",
          "flatPath": "drives",
          "request": {
            "$ref": "Drive"
          },
          "path": "drives"
        },
        "update": {
          "flatPath": "drives/{driveId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "description": "Updates the metadata for a shared drive. For more information, see [Manage shared drives](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives).",
          "parameterOrder": [
            "driveId"
          ],
          "id": "drive.drives.update",
          "request": {
            "$ref": "Drive"
          },
          "response": {
            "$ref": "Drive"
          },
          "parameters": {
            "driveId": {
              "location": "path",
              "description": "The ID of the shared drive.",
              "required": true,
              "type": "string"
            },
            "useDomainAdminAccess": {
              "type": "boolean",
              "default": "false",
              "location": "query",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the shared drive belongs."
            }
          },
          "httpMethod": "PATCH",
          "path": "drives/{driveId}"
        },
        "hide": {
          "path": "drives/{driveId}/hide",
          "parameters": {
            "driveId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the shared drive."
            }
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "driveId"
          ],
          "flatPath": "drives/{driveId}/hide",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "id": "drive.drives.hide",
          "description": "Hides a shared drive from the default view. For more information, see [Manage shared drives](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives).",
          "response": {
            "$ref": "Drive"
          }
        }
      }
    },
    "about": {
      "methods": {
        "get": {
          "flatPath": "about",
          "id": "drive.about.get",
          "parameterOrder": [],
          "response": {
            "$ref": "About"
          },
          "description": "Gets information about the user, the user's Drive, and system capabilities. For more information, see [Return user info](https://developers.google.com/workspace/drive/api/guides/user-info). Required: The `fields` parameter must be set. To return the exact fields you need, see [Return specific fields](https://developers.google.com/workspace/drive/api/guides/fields-parameter).",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "path": "about",
          "httpMethod": "GET",
          "parameters": {}
        }
      }
    },
    "revisions": {
      "methods": {
        "update": {
          "response": {
            "$ref": "Revision"
          },
          "id": "drive.revisions.update",
          "request": {
            "$ref": "Revision"
          },
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "revisionId": {
              "required": true,
              "type": "string",
              "description": "The ID of the revision.",
              "location": "path"
            }
          },
          "description": "Updates a revision with patch semantics. For more information, see [Manage file revisions](https://developers.google.com/workspace/drive/api/guides/manage-revisions).",
          "httpMethod": "PATCH",
          "flatPath": "files/{fileId}/revisions/{revisionId}",
          "parameterOrder": [
            "fileId",
            "revisionId"
          ],
          "path": "files/{fileId}/revisions/{revisionId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ]
        },
        "get": {
          "useMediaDownloadService": true,
          "parameters": {
            "revisionId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the revision."
            },
            "acknowledgeAbuse": {
              "default": "false",
              "description": "Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when the `alt` parameter is set to `media` and the user is the owner of the file or an organizer of the shared drive in which the file resides.",
              "location": "query",
              "type": "boolean"
            },
            "fileId": {
              "location": "path",
              "description": "The ID of the file.",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "Revision"
          },
          "supportsMediaDownload": true,
          "id": "drive.revisions.get",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "description": "Gets a revision's metadata or content by ID. For more information, see [Manage file revisions](https://developers.google.com/workspace/drive/api/guides/manage-revisions).",
          "parameterOrder": [
            "fileId",
            "revisionId"
          ],
          "path": "files/{fileId}/revisions/{revisionId}",
          "flatPath": "files/{fileId}/revisions/{revisionId}"
        },
        "list": {
          "response": {
            "$ref": "RevisionList"
          },
          "parameterOrder": [
            "fileId"
          ],
          "path": "files/{fileId}/revisions",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "description": "Lists a file's revisions. For more information, see [Manage file revisions](https://developers.google.com/workspace/drive/api/guides/manage-revisions). **Important:** The list of revisions returned by this method might be incomplete for files with a large revision history, including frequently edited Google Docs, Sheets, and Slides. Older revisions might be omitted from the response, meaning the first revision returned may not be the oldest existing revision. The revision history visible in the Workspace editor user interface might be more complete than the list returned by the API.",
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response.",
              "location": "query"
            },
            "pageSize": {
              "default": "200",
              "type": "integer",
              "description": "The maximum number of revisions to return. The service may return fewer than this value. If unspecified, at most 200 revisions will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
              "format": "int32",
              "maximum": "1000",
              "location": "query",
              "minimum": "1"
            },
            "fileId": {
              "required": true,
              "description": "The ID of the file.",
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "id": "drive.revisions.list",
          "flatPath": "files/{fileId}/revisions"
        },
        "delete": {
          "httpMethod": "DELETE",
          "parameters": {
            "fileId": {
              "location": "path",
              "description": "The ID of the file.",
              "required": true,
              "type": "string"
            },
            "revisionId": {
              "location": "path",
              "description": "The ID of the revision.",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "files/{fileId}/revisions/{revisionId}",
          "description": "Permanently deletes a file version. You can only delete revisions for files with binary content in Google Drive, like images or videos. Revisions for other files, like Google Docs or Sheets, and the last remaining file version can't be deleted. For more information, see [Manage file revisions](https://developers.google.com/drive/api/guides/manage-revisions).",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "path": "files/{fileId}/revisions/{revisionId}",
          "id": "drive.revisions.delete",
          "parameterOrder": [
            "fileId",
            "revisionId"
          ]
        }
      }
    },
    "operations": {
      "methods": {
        "get": {
          "path": "operations/{name}",
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
          "flatPath": "operations/{name}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "id": "drive.operations.get",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "description": "The name of the operation resource.",
              "location": "path"
            }
          },
          "httpMethod": "GET"
        }
      }
    },
    "files": {
      "methods": {
        "delete": {
          "path": "files/{fileId}",
          "id": "drive.files.delete",
          "parameters": {
            "supportsAllDrives": {
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false",
              "location": "query"
            },
            "supportsTeamDrives": {
              "deprecated": true,
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "default": "false",
              "type": "boolean"
            },
            "enforceSingleParent": {
              "deprecated": true,
              "type": "boolean",
              "description": "Deprecated: If an item isn't in a shared drive and its last parent is deleted but the item itself isn't, the item will be placed under its owner's root.",
              "location": "query",
              "default": "false"
            },
            "fileId": {
              "description": "The ID of the file.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "DELETE",
          "description": "Permanently deletes a file owned by the user without moving it to the trash. For more information, see [Trash or delete files and folders](https://developers.google.com/workspace/drive/api/guides/delete). If the file belongs to a shared drive, the user must be an `organizer` on the parent folder. If the target is a folder, all descendants owned by the user are also deleted.",
          "parameterOrder": [
            "fileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "flatPath": "files/{fileId}"
        },
        "emptyTrash": {
          "flatPath": "files/trash",
          "httpMethod": "DELETE",
          "parameters": {
            "enforceSingleParent": {
              "location": "query",
              "deprecated": true,
              "default": "false",
              "description": "Deprecated: If an item isn't in a shared drive and its last parent is deleted but the item itself isn't, the item will be placed under its owner's root.",
              "type": "boolean"
            },
            "driveId": {
              "type": "string",
              "location": "query",
              "description": "If set, empties the trash of the provided shared drive."
            }
          },
          "description": "Permanently deletes all of the user's trashed files. For more information, see [Trash or delete files and folders](https://developers.google.com/workspace/drive/api/guides/delete).",
          "id": "drive.files.emptyTrash",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "parameterOrder": [],
          "path": "files/trash"
        },
        "get": {
          "httpMethod": "GET",
          "flatPath": "files/{fileId}",
          "parameters": {
            "acknowledgeAbuse": {
              "description": "Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when the `alt` parameter is set to `media` and the user is the owner of the file or an organizer of the shared drive in which the file resides.",
              "type": "boolean",
              "default": "false",
              "location": "query"
            },
            "supportsTeamDrives": {
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "deprecated": true,
              "location": "query",
              "default": "false"
            },
            "includeLabels": {
              "location": "query",
              "type": "string",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response."
            },
            "includePermissionsForView": {
              "location": "query",
              "type": "string",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported."
            },
            "supportsAllDrives": {
              "default": "false",
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query"
            },
            "fileId": {
              "location": "path",
              "description": "The ID of the file.",
              "type": "string",
              "required": true
            }
          },
          "useMediaDownloadService": true,
          "parameterOrder": [
            "fileId"
          ],
          "supportsMediaDownload": true,
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "supportsSubscription": true,
          "id": "drive.files.get",
          "path": "files/{fileId}",
          "response": {
            "$ref": "File"
          },
          "description": " Gets a file's metadata or content by ID. For more information, see [Search for files and folders](https://developers.google.com/workspace/drive/api/guides/search-files). If you provide the URL parameter `alt=media`, then the response includes the file contents in the response body. Downloading content with `alt=media` only works if the file is stored in Drive. To download Google Docs, Sheets, and Slides use [`files.export`](https://developers.google.com/workspace/drive/api/reference/rest/v3/files/export) instead. For more information, see [Download and export files](https://developers.google.com/workspace/drive/api/guides/manage-downloads)."
        },
        "generateIds": {
          "parameters": {
            "type": {
              "default": "files",
              "description": "The type of items which the IDs can be used for. Supported values are `files` and `shortcuts`. Note that `shortcuts` are only supported in the `drive` `space`. (Default: `files`.) For more information, see [File organization](https://developers.google.com/workspace/drive/api/guides/about-files#file-organization).",
              "type": "string",
              "location": "query"
            },
            "count": {
              "maximum": "1000",
              "location": "query",
              "minimum": "1",
              "type": "integer",
              "description": "The number of IDs to return.",
              "format": "int32",
              "default": "10"
            },
            "space": {
              "location": "query",
              "default": "drive",
              "type": "string",
              "description": "The space in which the IDs can be used to create files. Supported values are `drive` and `appDataFolder`. (Default: `drive`.) For more information, see [File organization](https://developers.google.com/workspace/drive/api/guides/about-files#file-organization)."
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "GeneratedIds"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "path": "files/generateIds",
          "description": "Generates a set of file IDs which can be provided in create or copy requests. For more information, see [Create and manage files](https://developers.google.com/workspace/drive/api/guides/create-file).",
          "id": "drive.files.generateIds",
          "flatPath": "files/generateIds",
          "parameterOrder": []
        },
        "watch": {
          "parameterOrder": [
            "fileId"
          ],
          "id": "drive.files.watch",
          "parameters": {
            "includePermissionsForView": {
              "type": "string",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query"
            },
            "acknowledgeAbuse": {
              "location": "query",
              "description": "Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when the `alt` parameter is set to `media` and the user is the owner of the file or an organizer of the shared drive in which the file resides.",
              "type": "boolean",
              "default": "false"
            },
            "supportsAllDrives": {
              "location": "query",
              "default": "false",
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            },
            "supportsTeamDrives": {
              "default": "false",
              "type": "boolean",
              "location": "query",
              "deprecated": true,
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "fileId": {
              "type": "string",
              "required": true,
              "description": "The ID of the file.",
              "location": "path"
            },
            "includeLabels": {
              "location": "query",
              "type": "string",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response."
            }
          },
          "description": "Subscribes to changes to a file. For more information, see [Notifications for resource changes](https://developers.google.com/workspace/drive/api/guides/push).",
          "httpMethod": "POST",
          "request": {
            "parameterName": "resource",
            "$ref": "Channel"
          },
          "path": "files/{fileId}/watch",
          "flatPath": "files/{fileId}/watch",
          "response": {
            "$ref": "Channel"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "supportsSubscription": true
        },
        "list": {
          "flatPath": "files",
          "id": "drive.files.list",
          "description": " Lists the user's files. For more information, see [Search for files and folders](https://developers.google.com/workspace/drive/api/guides/search-files). This method accepts the `q` parameter, which is a search query combining one or more search terms. This method returns *all* files by default, including trashed files. If you don't want trashed files to appear in the list, use the `trashed=false` query parameter to remove trashed files from the results.",
          "path": "files",
          "httpMethod": "GET",
          "parameters": {
            "includeItemsFromAllDrives": {
              "type": "boolean",
              "default": "false",
              "location": "query",
              "description": "Whether both My Drive and shared drive items should be included in results."
            },
            "teamDriveId": {
              "description": "Deprecated: Use `driveId` instead.",
              "deprecated": true,
              "location": "query",
              "type": "string"
            },
            "orderBy": {
              "type": "string",
              "location": "query",
              "description": "A comma-separated list of sort keys. Valid keys are: * `createdTime`: When the file was created. Avoid using this key for queries on large item collections as it might result in timeouts or other issues. For time-related sorting on large item collections, use `modifiedTime desc` instead. * `folder`: The folder ID. This field is sorted using alphabetical ordering. * `modifiedByMeTime`: The last time the file was modified by the user. * `modifiedTime`: The last time the file was modified by anyone. * `name`: The name of the file. This field is sorted using alphabetical ordering, so 1, 12, 2, 22. * `name_natural`: The name of the file. This field is sorted using natural sort ordering, so 1, 2, 12, 22. * `quotaBytesUsed`: The number of storage quota bytes used by the file. * `recency`: The most recent timestamp from the file's date-time fields. * `sharedWithMeTime`: When the file was shared with the user, if applicable. * `starred`: Whether the user has starred the file. * `viewedByMeTime`: The last time the file was viewed by the user. Each key sorts ascending by default, but can be reversed with the `desc` modifier. Example usage: `?orderBy=folder,modifiedTime desc,name`."
            },
            "corpora": {
              "type": "string",
              "location": "query",
              "description": "Specifies a collection of items (files or documents) to which the query applies. Supported items include: * `user` * `domain` * `drive` * `allDrives` Prefer `user` or `drive` to `allDrives` for efficiency. By default, corpora is set to `user`. However, this can change depending on the filter set through the `q` parameter. For more information, see [File organization](https://developers.google.com/workspace/drive/api/guides/about-files#file-organization)."
            },
            "pageToken": {
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response.",
              "type": "string",
              "location": "query"
            },
            "supportsAllDrives": {
              "default": "false",
              "location": "query",
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            },
            "includeTeamDriveItems": {
              "default": "false",
              "type": "boolean",
              "description": "Deprecated: Use `includeItemsFromAllDrives` instead.",
              "deprecated": true,
              "location": "query"
            },
            "corpus": {
              "enum": [
                "domain",
                "user"
              ],
              "description": "Deprecated: The source of files to list. Use `corpora` instead.",
              "location": "query",
              "deprecated": true,
              "type": "string",
              "enumDescriptions": [
                "Files shared to the user's domain.",
                "Files owned by or shared to the user."
              ]
            },
            "driveId": {
              "type": "string",
              "location": "query",
              "description": "ID of the shared drive to search."
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query",
              "type": "string"
            },
            "includePermissionsForView": {
              "location": "query",
              "type": "string",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported."
            },
            "spaces": {
              "location": "query",
              "type": "string",
              "default": "drive",
              "description": "A comma-separated list of spaces to query within the corpora. Supported values are `drive` and `appDataFolder`. For more information, see [File organization](https://developers.google.com/workspace/drive/api/guides/about-files#file-organization)."
            },
            "supportsTeamDrives": {
              "default": "false",
              "deprecated": true,
              "type": "boolean",
              "location": "query",
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "pageSize": {
              "minimum": "1",
              "location": "query",
              "maximum": "1000",
              "type": "integer",
              "format": "int32",
              "default": "100",
              "description": "The maximum number of files to return. The service may return fewer than this value. If unspecified, at most 100 files will be returned for shared drives, and the entire list of files for non-shared drives. The maximum value is 1000; values above 1000 will be coerced to 1000."
            },
            "q": {
              "description": "A query for filtering the file results. For supported syntax, see [Search for files and folders](/workspace/drive/api/guides/search-files).",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "response": {
            "$ref": "FileList"
          }
        },
        "modifyLabels": {
          "path": "files/{fileId}/modifyLabels",
          "parameterOrder": [
            "fileId"
          ],
          "httpMethod": "POST",
          "parameters": {
            "fileId": {
              "required": true,
              "type": "string",
              "description": "The ID of the file to which the labels belong.",
              "location": "path"
            }
          },
          "request": {
            "$ref": "ModifyLabelsRequest"
          },
          "flatPath": "files/{fileId}/modifyLabels",
          "response": {
            "$ref": "ModifyLabelsResponse"
          },
          "description": "Modifies the set of labels applied to a file. For more information, see [Set a label field on a file](https://developers.google.com/workspace/drive/api/guides/set-label). Returns a list of the labels that were added or modified.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "id": "drive.files.modifyLabels"
        },
        "copy": {
          "parameterOrder": [
            "fileId"
          ],
          "request": {
            "$ref": "File"
          },
          "description": "Creates a copy of a file and applies any requested updates with patch semantics. For more information, see [Create and manage files](https://developers.google.com/workspace/drive/api/guides/create-file).",
          "flatPath": "files/{fileId}/copy",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.photos.readonly"
          ],
          "response": {
            "$ref": "File"
          },
          "parameters": {
            "ignoreDefaultVisibility": {
              "default": "false",
              "description": "Whether to ignore the domain's default visibility settings for the created file. Domain administrators can choose to make all uploaded files visible to the domain by default; this parameter bypasses that behavior for the request. Permissions are still inherited from parent folders.",
              "location": "query",
              "type": "boolean"
            },
            "enforceSingleParent": {
              "default": "false",
              "location": "query",
              "type": "boolean",
              "description": "Deprecated: Copying files into multiple folders is no longer supported. Use shortcuts instead.",
              "deprecated": true
            },
            "includePermissionsForView": {
              "location": "query",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "type": "string"
            },
            "copyComments": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to copy the open (unresolved) comments associated with the file.",
              "default": "false"
            },
            "ocrLanguage": {
              "type": "string",
              "description": "A language hint for OCR processing during image import (ISO 639-1 code).",
              "location": "query"
            },
            "supportsTeamDrives": {
              "deprecated": true,
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "supportsAllDrives": {
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "default": "false"
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query",
              "type": "string"
            },
            "fileId": {
              "required": true,
              "description": "The ID of the file.",
              "type": "string",
              "location": "path"
            },
            "keepRevisionForever": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to set the `keepForever` field in the new head revision. This is only applicable to files with binary content in Google Drive. Only 200 revisions for the file can be kept forever. If the limit is reached, try deleting pinned revisions.",
              "default": "false"
            }
          },
          "id": "drive.files.copy",
          "httpMethod": "POST",
          "path": "files/{fileId}/copy"
        },
        "update": {
          "id": "drive.files.update",
          "parameterOrder": [
            "fileId"
          ],
          "path": "files/{fileId}",
          "parameters": {
            "includePermissionsForView": {
              "type": "string",
              "location": "query",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported."
            },
            "useContentAsIndexableText": {
              "location": "query",
              "type": "boolean",
              "description": "Whether to use the uploaded content as indexable text.",
              "default": "false"
            },
            "supportsTeamDrives": {
              "type": "boolean",
              "deprecated": true,
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "default": "false"
            },
            "removeParents": {
              "location": "query",
              "type": "string",
              "description": "A comma-separated list of parent IDs to remove."
            },
            "keepRevisionForever": {
              "default": "false",
              "type": "boolean",
              "location": "query",
              "description": "Whether to set the `keepForever` field in the new head revision. This is only applicable to files with binary content in Google Drive. Only 200 revisions for the file can be kept forever. If the limit is reached, try deleting pinned revisions."
            },
            "addParents": {
              "location": "query",
              "type": "string",
              "description": "A comma-separated list of parent IDs to add."
            },
            "ocrLanguage": {
              "description": "A language hint for OCR processing during image import (ISO 639-1 code).",
              "location": "query",
              "type": "string"
            },
            "fileId": {
              "required": true,
              "type": "string",
              "description": "The ID of the file.",
              "location": "path"
            },
            "enforceSingleParent": {
              "default": "false",
              "type": "boolean",
              "location": "query",
              "description": "Deprecated: Adding files to multiple folders is no longer supported. Use shortcuts instead.",
              "deprecated": true
            },
            "includeLabels": {
              "location": "query",
              "type": "string",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response."
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "default": "false",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.scripts"
          ],
          "httpMethod": "PATCH",
          "description": " Updates a file's metadata, content, or both. When calling this method, only populate fields in the request that you want to modify. When updating fields, some fields might be changed automatically, such as `modifiedDate`. This method supports patch semantics. This method supports an */upload* URI and accepts uploaded media with the following characteristics: - *Maximum file size:* 5,120 GB - *Accepted Media MIME types:* `*/*` (Specify a valid MIME type, rather than the literal `*/*` value. The literal `*/*` is only used to indicate that any valid MIME type can be uploaded. For more information, see [Google Workspace and Google Drive supported MIME types](https://developers.google.com/workspace/drive/api/guides/mime-types).) For more information on uploading files, see [Upload file data](https://developers.google.com/workspace/drive/api/guides/manage-uploads).",
          "mediaUpload": {
            "maxSize": "5497558138880",
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/drive/v3/files/{fileId}"
              },
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/drive/v3/files/{fileId}"
              }
            }
          },
          "request": {
            "$ref": "File"
          },
          "flatPath": "files/{fileId}",
          "response": {
            "$ref": "File"
          },
          "supportsMediaUpload": true
        },
        "generateCseToken": {
          "description": "Generates a CSE token which can be used to create or update CSE files.",
          "flatPath": "files/generateCseToken",
          "path": "files/generateCseToken",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "response": {
            "$ref": "GenerateCseTokenResponse"
          },
          "parameters": {
            "fileId": {
              "description": "The ID of the file for which the JWT should be generated. If not provided, an id will be generated.",
              "location": "query",
              "type": "string"
            },
            "parent": {
              "type": "string",
              "location": "query",
              "description": "The ID of the expected parent of the file. Used when generating a JWT for a new CSE file. If specified, the parent will be fetched, and if the parent is a shared drive item, the shared drive's policy will be used to determine the KACLS that should be used. It is invalid to specify both file_id and parent in a single request."
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [],
          "id": "drive.files.generateCseToken"
        },
        "export": {
          "flatPath": "files/{fileId}/export",
          "parameters": {
            "fileId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the file."
            },
            "mimeType": {
              "description": "Required. The MIME type of the format requested for this export. For a list of supported MIME types, see [Export MIME types for Google Workspace documents](/workspace/drive/api/guides/ref-export-formats).",
              "type": "string",
              "location": "query",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "httpMethod": "GET",
          "id": "drive.files.export",
          "supportsMediaDownload": true,
          "useMediaDownloadService": true,
          "parameterOrder": [
            "fileId",
            "mimeType"
          ],
          "description": "Exports a Google Workspace document to the requested MIME type and returns exported byte content. For more information, see [Download and export files](https://developers.google.com/workspace/drive/api/guides/manage-downloads). Note that the exported content is limited to 10 MB.",
          "path": "files/{fileId}/export"
        },
        "download": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "response": {
            "$ref": "Operation"
          },
          "path": "files/{fileId}/download",
          "parameterOrder": [
            "fileId"
          ],
          "description": "Downloads the content of a file. For more information, see [Download and export files](https://developers.google.com/workspace/drive/api/guides/manage-downloads). Operations are valid for 24 hours from the time of creation.",
          "parameters": {
            "revisionId": {
              "location": "query",
              "description": "Optional. The revision ID of the file to download. This field can only be set when downloading blob files, Google Docs, and Google Sheets. Returns `INVALID_ARGUMENT` if downloading a specific revision on the file is unsupported.",
              "type": "string"
            },
            "mimeType": {
              "type": "string",
              "location": "query",
              "description": "Optional. The MIME type the file should be downloaded as. This field can only be set when downloading Google Workspace documents. For a list of supported MIME types, see [Export MIME types for Google Workspace documents](/workspace/drive/api/guides/ref-export-formats). If not set, a Google Workspace document is downloaded with a default MIME type. The default MIME type might change in the future."
            },
            "fileId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. The ID of the file to download."
            }
          },
          "id": "drive.files.download",
          "flatPath": "files/{fileId}/download",
          "httpMethod": "POST"
        },
        "listLabels": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "files/{fileId}/listLabels",
          "path": "files/{fileId}/listLabels",
          "parameterOrder": [
            "fileId"
          ],
          "parameters": {
            "pageToken": {
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response.",
              "location": "query",
              "type": "string"
            },
            "fileId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID for the file."
            },
            "maxResults": {
              "minimum": "1",
              "location": "query",
              "description": "The maximum number of labels to return per page. When not set, defaults to 100.",
              "maximum": "100",
              "type": "integer",
              "format": "int32",
              "default": "100"
            }
          },
          "httpMethod": "GET",
          "description": "Lists the labels on a file. For more information, see [List labels on a file](https://developers.google.com/workspace/drive/api/guides/list-labels).",
          "id": "drive.files.listLabels",
          "response": {
            "$ref": "LabelList"
          }
        },
        "create": {
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "maxSize": "5497558138880",
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/drive/v3/files"
              },
              "resumable": {
                "path": "/resumable/upload/drive/v3/files",
                "multipart": true
              }
            }
          },
          "supportsMediaUpload": true,
          "httpMethod": "POST",
          "flatPath": "files",
          "parameterOrder": [],
          "parameters": {
            "includeLabels": {
              "type": "string",
              "location": "query",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response."
            },
            "includePermissionsForView": {
              "location": "query",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "type": "string"
            },
            "ignoreDefaultVisibility": {
              "location": "query",
              "default": "false",
              "type": "boolean",
              "description": "Whether to ignore the domain's default visibility settings for the created file. Domain administrators can choose to make all uploaded files visible to the domain by default; this parameter bypasses that behavior for the request. Permissions are still inherited from parent folders."
            },
            "enforceSingleParent": {
              "location": "query",
              "description": "Deprecated: Creating files in multiple folders is no longer supported.",
              "deprecated": true,
              "default": "false",
              "type": "boolean"
            },
            "useContentAsIndexableText": {
              "default": "false",
              "description": "Whether to use the uploaded content as indexable text.",
              "location": "query",
              "type": "boolean"
            },
            "ocrLanguage": {
              "type": "string",
              "description": "A language hint for OCR processing during image import (ISO 639-1 code).",
              "location": "query"
            },
            "supportsAllDrives": {
              "default": "false",
              "location": "query",
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            },
            "supportsTeamDrives": {
              "location": "query",
              "deprecated": true,
              "type": "boolean",
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "keepRevisionForever": {
              "type": "boolean",
              "default": "false",
              "description": "Whether to set the `keepForever` field in the new head revision. This is only applicable to files with binary content in Google Drive. Only 200 revisions for the file can be kept forever. If the limit is reached, try deleting pinned revisions.",
              "location": "query"
            }
          },
          "id": "drive.files.create",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "path": "files",
          "description": " Creates a file. For more information, see [Create and manage files](https://developers.google.com/workspace/drive/api/guides/create-file). This method supports an */upload* URI and accepts uploaded media with the following characteristics: - *Maximum file size:* 5,120 GB - *Accepted Media MIME types:* `*/*` (Specify a valid MIME type, rather than the literal `*/*` value. The literal `*/*` is only used to indicate that any valid MIME type can be uploaded. For more information, see [Google Workspace and Google Drive supported MIME types](https://developers.google.com/workspace/drive/api/guides/mime-types).) For more information on uploading files, see [Upload file data](https://developers.google.com/workspace/drive/api/guides/manage-uploads). Apps creating shortcuts with the `create` method must specify the MIME type `application/vnd.google-apps.shortcut`. Apps should specify a file extension in the `name` property when inserting files with the API. For example, an operation to insert a JPEG file should specify something like `\"name\": \"cat.jpg\"` in the metadata. Subsequent `GET` requests include the read-only `fileExtension` property populated with the extension originally specified in the `name` property. When a Google Drive user requests to download a file, or when the file is downloaded through the sync client, Drive builds a full filename (with extension) based on the name. In cases where the extension is missing, Drive attempts to determine the extension based on the file's MIME type.",
          "response": {
            "$ref": "File"
          },
          "request": {
            "$ref": "File"
          }
        }
      }
    },
    "teamdrives": {
      "methods": {
        "delete": {
          "parameterOrder": [
            "teamDriveId"
          ],
          "httpMethod": "DELETE",
          "flatPath": "teamdrives/{teamDriveId}",
          "parameters": {
            "teamDriveId": {
              "description": "The ID of the Team Drive",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "description": "Deprecated: Use `drives.delete` instead.",
          "id": "drive.teamdrives.delete",
          "path": "teamdrives/{teamDriveId}"
        },
        "list": {
          "parameterOrder": [],
          "flatPath": "teamdrives",
          "httpMethod": "GET",
          "description": "Deprecated: Use `drives.list` instead.",
          "parameters": {
            "pageSize": {
              "format": "int32",
              "minimum": "1",
              "maximum": "100",
              "default": "10",
              "type": "integer",
              "location": "query",
              "description": "Maximum number of Team Drives to return."
            },
            "useDomainAdminAccess": {
              "description": "Issue the request as a domain administrator; if set to true, then all Team Drives of the domain in which the requester is an administrator are returned.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            },
            "pageToken": {
              "description": "Page token for Team Drives.",
              "location": "query",
              "type": "string"
            },
            "q": {
              "description": "Query string for searching Team Drives.",
              "type": "string",
              "location": "query"
            }
          },
          "response": {
            "$ref": "TeamDriveList"
          },
          "id": "drive.teamdrives.list",
          "path": "teamdrives",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ]
        },
        "create": {
          "flatPath": "teamdrives",
          "httpMethod": "POST",
          "request": {
            "$ref": "TeamDrive"
          },
          "parameters": {
            "requestId": {
              "location": "query",
              "type": "string",
              "description": "Required. An ID, such as a random UUID, which uniquely identifies this user's request for idempotent creation of a Team Drive. A repeated request by the same user and with the same request ID will avoid creating duplicates by attempting to create the same Team Drive. If the Team Drive already exists a 409 error will be returned.",
              "required": true
            }
          },
          "description": "Deprecated: Use `drives.create` instead.",
          "path": "teamdrives",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "parameterOrder": [
            "requestId"
          ],
          "id": "drive.teamdrives.create",
          "response": {
            "$ref": "TeamDrive"
          }
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameterOrder": [
            "teamDriveId"
          ],
          "parameters": {
            "useDomainAdminAccess": {
              "default": "false",
              "type": "boolean",
              "location": "query",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the Team Drive belongs."
            },
            "teamDriveId": {
              "required": true,
              "type": "string",
              "description": "The ID of the Team Drive",
              "location": "path"
            }
          },
          "id": "drive.teamdrives.get",
          "httpMethod": "GET",
          "description": "Deprecated: Use `drives.get` instead.",
          "flatPath": "teamdrives/{teamDriveId}",
          "response": {
            "$ref": "TeamDrive"
          },
          "path": "teamdrives/{teamDriveId}"
        },
        "update": {
          "httpMethod": "PATCH",
          "parameterOrder": [
            "teamDriveId"
          ],
          "parameters": {
            "teamDriveId": {
              "required": true,
              "description": "The ID of the Team Drive",
              "type": "string",
              "location": "path"
            },
            "useDomainAdminAccess": {
              "default": "false",
              "type": "boolean",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the Team Drive belongs.",
              "location": "query"
            }
          },
          "path": "teamdrives/{teamDriveId}",
          "response": {
            "$ref": "TeamDrive"
          },
          "description": "Deprecated: Use `drives.update` instead.",
          "flatPath": "teamdrives/{teamDriveId}",
          "request": {
            "$ref": "TeamDrive"
          },
          "id": "drive.teamdrives.update",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ]
        }
      }
    },
    "replies": {
      "methods": {
        "list": {
          "response": {
            "$ref": "ReplyList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "parameters": {
            "fileId": {
              "required": true,
              "type": "string",
              "description": "The ID of the file.",
              "location": "path"
            },
            "commentId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the comment."
            },
            "includeDeleted": {
              "default": "false",
              "description": "Whether to include deleted replies. Deleted replies don't include their original content.",
              "location": "query",
              "type": "boolean"
            },
            "pageToken": {
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "minimum": "1",
              "type": "integer",
              "maximum": "100",
              "location": "query",
              "format": "int32",
              "default": "20",
              "description": "The maximum number of replies to return. The service may return fewer than this value. If unspecified, at most 20 replies will be returned. The maximum value is 100; values above 100 will be coerced to 100."
            }
          },
          "httpMethod": "GET",
          "id": "drive.replies.list",
          "path": "files/{fileId}/comments/{commentId}/replies",
          "flatPath": "files/{fileId}/comments/{commentId}/replies",
          "description": "Lists a comment's replies. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments)."
        },
        "get": {
          "httpMethod": "GET",
          "parameterOrder": [
            "fileId",
            "commentId",
            "replyId"
          ],
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "includeDeleted": {
              "default": "false",
              "type": "boolean",
              "description": "Whether to return deleted replies. Deleted replies don't include their original content.",
              "location": "query"
            },
            "replyId": {
              "description": "The ID of the reply.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "commentId": {
              "description": "The ID of the comment.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "id": "drive.replies.get",
          "flatPath": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "response": {
            "$ref": "Reply"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "path": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "description": "Gets a reply by ID. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments)."
        },
        "delete": {
          "parameters": {
            "replyId": {
              "required": true,
              "description": "The ID of the reply.",
              "type": "string",
              "location": "path"
            },
            "commentId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the comment."
            },
            "fileId": {
              "required": true,
              "description": "The ID of the file.",
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "flatPath": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "description": "Deletes a reply. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments).",
          "path": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "parameterOrder": [
            "fileId",
            "commentId",
            "replyId"
          ],
          "id": "drive.replies.delete"
        },
        "create": {
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "commentId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the comment."
            }
          },
          "response": {
            "$ref": "Reply"
          },
          "request": {
            "$ref": "Reply"
          },
          "httpMethod": "POST",
          "id": "drive.replies.create",
          "flatPath": "files/{fileId}/comments/{commentId}/replies",
          "path": "files/{fileId}/comments/{commentId}/replies",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "description": "Creates a reply to a comment. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments)."
        },
        "update": {
          "id": "drive.replies.update",
          "description": "Updates a reply with patch semantics. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments).",
          "flatPath": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "parameterOrder": [
            "fileId",
            "commentId",
            "replyId"
          ],
          "response": {
            "$ref": "Reply"
          },
          "parameters": {
            "commentId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The ID of the comment."
            },
            "replyId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the reply.",
              "required": true
            },
            "fileId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the file."
            }
          },
          "path": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "request": {
            "$ref": "Reply"
          }
        }
      }
    },
    "comments": {
      "methods": {
        "delete": {
          "path": "files/{fileId}/comments/{commentId}",
          "id": "drive.comments.delete",
          "httpMethod": "DELETE",
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "commentId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the comment.",
              "required": true
            }
          },
          "description": "Deletes a comment. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments).",
          "flatPath": "files/{fileId}/comments/{commentId}",
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ]
        },
        "get": {
          "httpMethod": "GET",
          "response": {
            "$ref": "Comment"
          },
          "parameters": {
            "fileId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the file."
            },
            "includeDeleted": {
              "default": "false",
              "type": "boolean",
              "description": "Whether to return deleted comments. Deleted comments will not include their original content.",
              "location": "query"
            },
            "commentId": {
              "required": true,
              "description": "The ID of the comment.",
              "type": "string",
              "location": "path"
            }
          },
          "id": "drive.comments.get",
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "description": "Gets a comment by ID. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments). Required: The `fields` parameter must be set. To return the exact fields you need, see [Return specific fields](https://developers.google.com/workspace/drive/api/guides/fields-parameter).",
          "path": "files/{fileId}/comments/{commentId}",
          "flatPath": "files/{fileId}/comments/{commentId}"
        },
        "create": {
          "id": "drive.comments.create",
          "parameterOrder": [
            "fileId"
          ],
          "path": "files/{fileId}/comments",
          "flatPath": "files/{fileId}/comments",
          "parameters": {
            "fileId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the file."
            }
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "Comment"
          },
          "description": "Creates a comment on a file. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments). Required: The `fields` parameter must be set. To return the exact fields you need, see [Return specific fields](https://developers.google.com/workspace/drive/api/guides/fields-parameter).",
          "response": {
            "$ref": "Comment"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ]
        },
        "update": {
          "request": {
            "$ref": "Comment"
          },
          "path": "files/{fileId}/comments/{commentId}",
          "description": "Updates a comment with patch semantics. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments). Required: The `fields` parameter must be set. To return the exact fields you need, see [Return specific fields](https://developers.google.com/workspace/drive/api/guides/fields-parameter).",
          "flatPath": "files/{fileId}/comments/{commentId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "id": "drive.comments.update",
          "response": {
            "$ref": "Comment"
          },
          "parameters": {
            "commentId": {
              "type": "string",
              "description": "The ID of the comment.",
              "required": true,
              "location": "path"
            },
            "fileId": {
              "description": "The ID of the file.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "httpMethod": "PATCH",
          "parameterOrder": [
            "fileId",
            "commentId"
          ]
        },
        "list": {
          "flatPath": "files/{fileId}/comments",
          "id": "drive.comments.list",
          "path": "files/{fileId}/comments",
          "description": "Lists a file's comments. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments). Required: The `fields` parameter must be set. To return the exact fields you need, see [Return specific fields](https://developers.google.com/workspace/drive/api/guides/fields-parameter).",
          "parameterOrder": [
            "fileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "response": {
            "$ref": "CommentList"
          },
          "httpMethod": "GET",
          "parameters": {
            "startModifiedTime": {
              "type": "string",
              "location": "query",
              "description": "The minimum value of 'modifiedTime' for the result comments (RFC 3339 date-time)."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response."
            },
            "pageSize": {
              "format": "int32",
              "location": "query",
              "minimum": "1",
              "description": "The maximum number of comments to return. The service may return fewer than this value. If unspecified, at most 20 comments will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
              "maximum": "100",
              "type": "integer",
              "default": "20"
            },
            "fileId": {
              "location": "path",
              "description": "The ID of the file.",
              "required": true,
              "type": "string"
            },
            "includeDeleted": {
              "description": "Whether to include deleted comments. Deleted comments will not include their original content.",
              "default": "false",
              "type": "boolean",
              "location": "query"
            }
          }
        }
      }
    },
    "changes": {
      "methods": {
        "list": {
          "parameterOrder": [
            "pageToken"
          ],
          "response": {
            "$ref": "ChangeList"
          },
          "path": "changes",
          "supportsSubscription": true,
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "description": "Lists the changes for a user or shared drive. For more information, see [Retrieve changes](https://developers.google.com/workspace/drive/api/guides/manage-changes).",
          "flatPath": "changes",
          "httpMethod": "GET",
          "parameters": {
            "includePermissionsForView": {
              "location": "query",
              "type": "string",
              "description": "Specifies which additional view's permissions to include in the response. Only 'published' is supported."
            },
            "includeLabels": {
              "type": "string",
              "location": "query",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response."
            },
            "includeCorpusRemovals": {
              "type": "boolean",
              "description": "Whether changes should include the file resource if the file is still accessible by the user at the time of the request, even when a file was removed from the list of changes and there will be no further change entries for this file.",
              "location": "query",
              "default": "false"
            },
            "spaces": {
              "default": "drive",
              "location": "query",
              "type": "string",
              "description": "A comma-separated list of spaces to query within the corpora. Supported values are 'drive' and 'appDataFolder'."
            },
            "pageToken": {
              "type": "string",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response or to the response from the getStartPageToken method.",
              "required": true,
              "location": "query"
            },
            "supportsTeamDrives": {
              "default": "false",
              "location": "query",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean",
              "deprecated": true
            },
            "pageSize": {
              "maximum": "1000",
              "minimum": "1",
[...]
