{
  "canonicalName": "Drive Labels",
  "servicePath": "",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "documentationLink": "https://developers.google.com/workspace/drive/labels",
  "name": "drivelabels",
  "resources": {
    "users": {
      "methods": {
        "getCapabilities": {
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2UserCapabilities"
          },
          "flatPath": "v2/users/{usersId}/capabilities",
          "path": "v2/{+name}",
          "id": "drivelabels.users.getCapabilities",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.admin.labels.readonly",
            "https://www.googleapis.com/auth/drive.labels",
            "https://www.googleapis.com/auth/drive.labels.readonly"
          ],
          "description": "Gets the user capabilities.",
          "parameters": {
            "customer": {
              "type": "string",
              "location": "query",
              "description": "The customer to scope this request to. For example: `customers/abcd1234`. If unset, it will return settings within the current customer."
            },
            "name": {
              "pattern": "^users/[^/]+/capabilities$",
              "type": "string",
              "required": true,
              "description": "Required. The resource name of the user. Only \"users/me/capabilities\" is supported.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "name"
          ]
        }
      }
    },
    "labels": {
      "methods": {
        "updateLabelEnabledAppSettings": {
          "httpMethod": "POST",
          "id": "drivelabels.labels.updateLabelEnabledAppSettings",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2Label"
          },
          "flatPath": "v2/labels/{labelsId}:updateLabelEnabledAppSettings",
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2UpdateLabelEnabledAppSettingsRequest"
          },
          "description": "Updates a label's `EnabledAppSettings`. Enabling a label in a Google Workspace app allows it to be used in that app. This change isn't revisioned, doesn't require publishing, and takes effect immediately.",
          "path": "v2/{+name}:updateLabelEnabledAppSettings",
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "description": "Required. The resource name of the label to update. The resource name of the label to update.",
              "pattern": "^labels/[^/]+$",
              "required": true
            }
          },
          "parameterOrder": [
            "name"
          ]
        },
        "publish": {
          "id": "drivelabels.labels.publish",
          "flatPath": "v2/labels/{labelsId}:publish",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2Label"
          },
          "description": "Publish all draft changes to the label. Once published, the label may not return to its draft state. For more information, see [Create and publish a label](https://developers.google.com/workspace/drive/labels/guides/create-label). Publishing a label will result in a new published revision. All previous draft revisions will be deleted. Previous published revisions will be kept but are subject to automated deletion as needed. For more information, see [Label lifecycle](https://developers.google.com/workspace/drive/labels/guides/label-lifecycle). Once published, some changes are no longer permitted. Generally, any change that would invalidate or cause new restrictions on existing metadata related to the label will be rejected. For example, the following changes to a label will be rejected after the label is published: * The label cannot be directly deleted. It must be disabled first, then deleted. * `Field.FieldType` cannot be changed. * Changes to field validation options cannot reject something that was previously accepted. * Reducing the maximum entries.",
          "path": "v2/{+name}:publish",
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2PublishLabelRequest"
          },
          "parameters": {
            "name": {
              "description": "Required. Label resource name.",
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^labels/[^/]+$"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "POST"
        },
        "updatePermissions": {
          "parameterOrder": [
            "parent"
          ],
          "description": "Updates a label's permissions. If a permission for the indicated principal doesn't exist, a label permission is created, otherwise the existing permission is updated. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
          "httpMethod": "PATCH",
          "path": "v2/{+parent}/permissions",
          "flatPath": "v2/labels/{labelsId}/permissions",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "id": "drivelabels.labels.updatePermissions",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2LabelPermission"
          },
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2LabelPermission"
          },
          "parameters": {
            "useAdminAccess": {
              "type": "boolean",
              "location": "query",
              "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
            },
            "parent": {
              "type": "string",
              "description": "Required. The parent label resource name.",
              "pattern": "^labels/[^/]+$",
              "location": "path",
              "required": true
            }
          }
        },
        "create": {
          "path": "v2/labels",
          "id": "drivelabels.labels.create",
          "parameters": {
            "useAdminAccess": {
              "location": "query",
              "description": "Set to `true` in order to use the user's admin privileges. The server will verify the user is an admin before allowing access.",
              "type": "boolean"
            },
            "languageCode": {
              "location": "query",
              "type": "string",
              "description": "The BCP-47 language code to use for evaluating localized field labels in response. When not specified, values in the default configured language will be used."
            }
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2Label"
          },
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2Label"
          },
          "description": "Creates a label. For more information, see [Create and publish a label](https://developers.google.com/workspace/drive/labels/guides/create-label).",
          "flatPath": "v2/labels",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "parameterOrder": []
        },
        "delta": {
          "path": "v2/{+name}:delta",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^labels/[^/]+$",
              "location": "path",
              "type": "string",
              "description": "Required. The resource name of the label to update."
            }
          },
          "description": "Updates a single label by applying a set of update requests resulting in a new draft revision. For more information, see [Update a label](https://developers.google.com/workspace/drive/labels/guides/update-label). The batch update is all-or-nothing: If any of the update requests are invalid, no changes are applied. The resulting draft revision must be published before the changes may be used with Drive items.",
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequest"
          },
          "flatPath": "v2/labels/{labelsId}:delta",
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponse"
          },
          "id": "drivelabels.labels.delta",
          "parameterOrder": [
            "name"
          ]
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "httpMethod": "DELETE",
          "id": "drivelabels.labels.delete",
          "description": "Permanently deletes a label and related metadata on Drive items. For more information, see [Disable, enable, and delete a label](https://developers.google.com/workspace/drive/labels/guides/disable-delete-label). Once deleted, the label and related Drive item metadata will be deleted. Only draft labels and disabled labels may be deleted.",
          "path": "v2/{+name}",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "flatPath": "v2/labels/{labelsId}",
          "parameters": {
            "name": {
              "description": "Required. Label resource name.",
              "pattern": "^labels/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "useAdminAccess": {
              "location": "query",
              "type": "boolean",
              "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
            },
            "writeControl.requiredRevisionId": {
              "description": "The revision ID of the label that the write request will be applied to. If this isn't the latest revision of the label, the request will not be processed and will return a 400 Bad Request error.",
              "location": "query",
              "type": "string"
            }
          }
        },
        "get": {
          "httpMethod": "GET",
          "flatPath": "v2/labels/{labelsId}",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2Label"
          },
          "path": "v2/{+name}",
          "parameterOrder": [
            "name"
          ],
          "id": "drivelabels.labels.get",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.admin.labels.readonly",
            "https://www.googleapis.com/auth/drive.labels",
            "https://www.googleapis.com/auth/drive.labels.readonly"
          ],
          "parameters": {
            "view": {
              "enumDescriptions": [
                "Implies the field mask: `name,id,revision_id,label_type,properties.*`",
                "All possible fields."
              ],
              "enum": [
                "LABEL_VIEW_BASIC",
                "LABEL_VIEW_FULL"
              ],
              "description": "When specified, only certain fields belonging to the indicated view are returned.",
              "location": "query",
              "type": "string"
            },
            "languageCode": {
              "location": "query",
              "type": "string",
              "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language are used."
            },
            "name": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. Label resource name. May be any of: * `labels/{id}` (equivalent to labels/{id}@latest) * `labels/{id}@latest` * `labels/{id}@published` * `labels/{id}@{revision_id}`",
              "pattern": "^labels/[^/]+$"
            },
            "useAdminAccess": {
              "type": "boolean",
              "location": "query",
              "description": "Set to `true` in order to use the user's admin credentials. The server verifies that the user is an admin for the label before allowing access."
            }
          },
          "description": "Get a label by its resource name. For more information, see [Search for labels](https://developers.google.com/workspace/drive/labels/guides/search-label). Resource name may be any of: * `labels/{id}` - See `labels/{id}@latest` * `labels/{id}@latest` - Gets the latest revision of the label. * `labels/{id}@published` - Gets the current published revision of the label. * `labels/{id}@{revision_id}` - Gets the label at the specified revision ID."
        },
        "list": {
          "parameters": {
            "languageCode": {
              "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language are used.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token of the page to return."
            },
            "view": {
              "location": "query",
              "enum": [
                "LABEL_VIEW_BASIC",
                "LABEL_VIEW_FULL"
              ],
              "enumDescriptions": [
                "Implies the field mask: `name,id,revision_id,label_type,properties.*`",
                "All possible fields."
              ],
              "type": "string",
              "description": "When specified, only certain fields belonging to the indicated view are returned."
            },
            "pageSize": {
              "description": "Maximum number of labels to return per page. Default: 50. Max: 200.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "customer": {
              "description": "The customer to scope this list request to. For example: `customers/abcd1234`. If unset, will return all labels within the current customer.",
              "location": "query",
              "type": "string"
            },
            "publishedOnly": {
              "location": "query",
              "description": "Whether to include only published labels in the results. * When `true`, only the current published label revisions are returned. Disabled labels are included. Returned label resource names reference the published revision (`labels/{id}/{revision_id}`). * When `false`, the current label revisions are returned, which might not be published. Returned label resource names don't reference a specific revision (`labels/{id}`).",
              "type": "boolean"
            },
            "useAdminAccess": {
              "description": "Set to `true` in order to use the user's admin credentials. This will return all labels within the customer.",
              "location": "query",
              "type": "boolean"
            },
            "minimumRole": {
              "location": "query",
              "enum": [
                "LABEL_ROLE_UNSPECIFIED",
                "READER",
                "APPLIER",
                "ORGANIZER",
                "EDITOR"
              ],
              "description": "Specifies the level of access the user must have on the returned labels. The minimum role a user must have on a label. Defaults to `READER`.",
              "type": "string",
              "enumDescriptions": [
                "Unknown role.",
                "A reader can read the label and associated metadata applied to Drive items.",
                "An applier can write associated metadata on Drive items in which they also have write access to. Implies `READER`.",
                "An organizer can pin this label in shared drives they manage and add new appliers to the label.",
                "Editors can make any update including deleting the label which also deletes the associated Drive item metadata. Implies `APPLIER`."
              ]
            }
          },
          "parameterOrder": [],
          "id": "drivelabels.labels.list",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.admin.labels.readonly",
            "https://www.googleapis.com/auth/drive.labels",
            "https://www.googleapis.com/auth/drive.labels.readonly"
          ],
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2ListLabelsResponse"
          },
          "flatPath": "v2/labels",
          "description": "List labels. For more information, see [Search for labels](https://developers.google.com/workspace/drive/labels/guides/search-label).",
          "path": "v2/labels",
          "httpMethod": "GET"
        },
        "disable": {
          "path": "v2/{+name}:disable",
          "id": "drivelabels.labels.disable",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "httpMethod": "POST",
          "description": "Disable a published label. For more information, see [Disable, enable, and delete a label](https://developers.google.com/workspace/drive/labels/guides/disable-delete-label). Disabling a label will result in a new disabled published revision based on the current published revision. If there's a draft revision, a new disabled draft revision will be created based on the latest draft revision. Older draft revisions will be deleted. Once disabled, a label may be deleted with `DeleteLabel`.",
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2DisableLabelRequest"
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v2/labels/{labelsId}:disable",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2Label"
          },
          "parameters": {
            "name": {
              "description": "Required. Label resource name.",
              "type": "string",
              "location": "path",
              "pattern": "^labels/[^/]+$",
              "required": true
            }
          }
        },
        "enable": {
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2EnableLabelRequest"
          },
          "parameterOrder": [
            "name"
          ],
          "id": "drivelabels.labels.enable",
          "path": "v2/{+name}:enable",
          "flatPath": "v2/labels/{labelsId}:enable",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2Label"
          },
          "description": "Enable a disabled label and restore it to its published state. For more information, see [Disable, enable, and delete a label](https://developers.google.com/workspace/drive/labels/guides/disable-delete-label). This will result in a new published revision based on the current disabled published revision. If there's an existing disabled draft revision, a new revision will be created based on that draft and will be enabled.",
          "parameters": {
            "name": {
              "pattern": "^labels/[^/]+$",
              "description": "Required. Label resource name.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          }
        },
        "updateLabelCopyMode": {
          "parameters": {
            "name": {
              "pattern": "^labels/[^/]+$",
              "type": "string",
              "description": "Required. The resource name of the label to update.",
              "required": true,
              "location": "path"
            }
          },
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2UpdateLabelCopyModeRequest"
          },
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2Label"
          },
          "flatPath": "v2/labels/{labelsId}:updateLabelCopyMode",
          "httpMethod": "POST",
          "description": "Updates a label's `CopyMode`. Changes to this policy aren't revisioned, don't require publishing, and take effect immediately.",
          "parameterOrder": [
            "name"
          ],
          "path": "v2/{+name}:updateLabelCopyMode",
          "id": "drivelabels.labels.updateLabelCopyMode",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ]
        }
      },
      "resources": {
        "locks": {
          "methods": {
            "list": {
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "description": "Maximum number of locks to return per page. Default: 100. Max: 200.",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "The token of the page to return."
                },
                "parent": {
                  "location": "path",
                  "pattern": "^labels/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. Label on which locks are applied. Format: `labels/{label}`."
                }
              },
              "description": "Lists the label locks on a label.",
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.admin.labels.readonly",
                "https://www.googleapis.com/auth/drive.labels",
                "https://www.googleapis.com/auth/drive.labels.readonly"
              ],
              "response": {
                "$ref": "GoogleAppsDriveLabelsV2ListLabelLocksResponse"
              },
              "flatPath": "v2/labels/{labelsId}/locks",
              "parameterOrder": [
                "parent"
              ],
              "path": "v2/{+parent}/locks",
              "httpMethod": "GET",
              "id": "drivelabels.labels.locks.list"
            }
          }
        },
        "permissions": {
          "methods": {
            "create": {
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleAppsDriveLabelsV2LabelPermission"
              },
              "description": "Updates a label's permissions. If a permission for the indicated principal doesn't exist, a label permission is created, otherwise the existing permission is updated. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
              "response": {
                "$ref": "GoogleAppsDriveLabelsV2LabelPermission"
              },
              "flatPath": "v2/labels/{labelsId}/permissions",
              "parameterOrder": [
                "parent"
              ],
              "path": "v2/{+parent}/permissions",
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.labels"
              ],
              "parameters": {
                "useAdminAccess": {
                  "type": "boolean",
                  "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^labels/[^/]+$",
                  "type": "string",
                  "description": "Required. The parent label resource name on the label permission is created. Format: `labels/{label}`."
                }
              },
              "id": "drivelabels.labels.permissions.create"
            },
            "delete": {
              "flatPath": "v2/labels/{labelsId}/permissions/{permissionsId}",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.labels"
              ],
              "path": "v2/{+name}",
              "id": "drivelabels.labels.permissions.delete",
              "description": "Deletes a label's permission. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. Label permission resource name.",
                  "pattern": "^labels/[^/]+/permissions/.*$"
                },
                "useAdminAccess": {
                  "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
                  "location": "query",
                  "type": "boolean"
                }
              }
            },
            "batchUpdate": {
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^labels/[^/]+$",
                  "description": "Required. The parent label resource name shared by all permissions being updated. Format: `labels/{label}`. If this is set, the parent field in the `UpdateLabelPermissionRequest` messages must either be empty or match this field.",
                  "required": true
                }
              },
              "flatPath": "v2/labels/{labelsId}/permissions:batchUpdate",
              "description": "Updates label permissions. If a permission for the indicated principal doesn't exist, a label permission is created, otherwise the existing permission is updated. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
              "request": {
                "$ref": "GoogleAppsDriveLabelsV2BatchUpdateLabelPermissionsRequest"
              },
              "response": {
                "$ref": "GoogleAppsDriveLabelsV2BatchUpdateLabelPermissionsResponse"
              },
              "id": "drivelabels.labels.permissions.batchUpdate",
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.labels"
              ],
              "path": "v2/{+parent}/permissions:batchUpdate",
              "httpMethod": "POST"
            },
            "list": {
              "id": "drivelabels.labels.permissions.list",
              "description": "Lists a label's permissions.",
              "path": "v2/{+parent}/permissions",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.admin.labels.readonly",
                "https://www.googleapis.com/auth/drive.labels",
                "https://www.googleapis.com/auth/drive.labels.readonly"
              ],
              "parameters": {
                "pageSize": {
                  "description": "Maximum number of permissions to return per page. Default: 50. Max: 200.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "The token of the page to return.",
                  "location": "query",
                  "type": "string"
                },
                "useAdminAccess": {
                  "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
                  "type": "boolean",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. The parent label resource name on which label permissions are listed. Format: `labels/{label}`.",
                  "type": "string",
                  "pattern": "^labels/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v2/labels/{labelsId}/permissions",
              "response": {
                "$ref": "GoogleAppsDriveLabelsV2ListLabelPermissionsResponse"
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "batchDelete": {
              "request": {
                "$ref": "GoogleAppsDriveLabelsV2BatchDeleteLabelPermissionsRequest"
              },
              "description": "Deletes label permissions. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
              "parameters": {
                "parent": {
                  "description": "Required. The parent label resource name shared by all permissions being deleted. Format: `labels/{label}`. If this is set, the parent field in the `UpdateLabelPermissionRequest` messages must either be empty or match this field.",
                  "pattern": "^labels/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "v2/labels/{labelsId}/permissions:batchDelete",
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.labels"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "path": "v2/{+parent}/permissions:batchDelete",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "id": "drivelabels.labels.permissions.batchDelete"
            }
          }
        },
        "revisions": {
          "methods": {
            "updatePermissions": {
              "request": {
                "$ref": "GoogleAppsDriveLabelsV2LabelPermission"
              },
              "id": "drivelabels.labels.revisions.updatePermissions",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The parent label resource name.",
                  "pattern": "^labels/[^/]+/revisions/[^/]+$"
                },
                "useAdminAccess": {
                  "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
                  "type": "boolean",
                  "location": "query"
                }
              },
              "httpMethod": "PATCH",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v2/labels/{labelsId}/revisions/{revisionsId}/permissions",
              "path": "v2/{+parent}/permissions",
              "response": {
                "$ref": "GoogleAppsDriveLabelsV2LabelPermission"
              },
              "description": "Updates a label's permissions. If a permission for the indicated principal doesn't exist, a label permission is created, otherwise the existing permission is updated. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.labels"
              ]
            }
          },
          "resources": {
            "permissions": {
              "methods": {
                "batchDelete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/drive.admin.labels",
                    "https://www.googleapis.com/auth/drive.labels"
                  ],
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "id": "drivelabels.labels.revisions.permissions.batchDelete",
                  "request": {
                    "$ref": "GoogleAppsDriveLabelsV2BatchDeleteLabelPermissionsRequest"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^labels/[^/]+/revisions/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent label resource name shared by all permissions being deleted. Format: `labels/{label}`. If this is set, the parent field in the `UpdateLabelPermissionRequest` messages must either be empty or match this field.",
                      "type": "string"
                    }
                  },
                  "flatPath": "v2/labels/{labelsId}/revisions/{revisionsId}/permissions:batchDelete",
                  "description": "Deletes label permissions. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
                  "path": "v2/{+parent}/permissions:batchDelete"
                },
                "batchUpdate": {
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The parent label resource name shared by all permissions being updated. Format: `labels/{label}`. If this is set, the parent field in the `UpdateLabelPermissionRequest` messages must either be empty or match this field.",
                      "location": "path",
                      "pattern": "^labels/[^/]+/revisions/[^/]+$",
                      "required": true
                    }
                  },
                  "id": "drivelabels.labels.revisions.permissions.batchUpdate",
                  "scopes": [
                    "https://www.googleapis.com/auth/drive.admin.labels",
                    "https://www.googleapis.com/auth/drive.labels"
                  ],
                  "path": "v2/{+parent}/permissions:batchUpdate",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v2/labels/{labelsId}/revisions/{revisionsId}/permissions:batchUpdate",
                  "description": "Updates label permissions. If a permission for the indicated principal doesn't exist, a label permission is created, otherwise the existing permission is updated. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleAppsDriveLabelsV2BatchUpdateLabelPermissionsResponse"
                  },
                  "request": {
                    "$ref": "GoogleAppsDriveLabelsV2BatchUpdateLabelPermissionsRequest"
                  }
                },
                "create": {
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^labels/[^/]+/revisions/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent label resource name on the label permission is created. Format: `labels/{label}`."
                    },
                    "useAdminAccess": {
                      "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
                      "type": "boolean",
                      "location": "query"
                    }
                  },
                  "flatPath": "v2/labels/{labelsId}/revisions/{revisionsId}/permissions",
                  "scopes": [
                    "https://www.googleapis.com/auth/drive.admin.labels",
                    "https://www.googleapis.com/auth/drive.labels"
                  ],
                  "response": {
                    "$ref": "GoogleAppsDriveLabelsV2LabelPermission"
                  },
                  "request": {
                    "$ref": "GoogleAppsDriveLabelsV2LabelPermission"
                  },
                  "id": "drivelabels.labels.revisions.permissions.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "path": "v2/{+parent}/permissions",
                  "description": "Updates a label's permissions. If a permission for the indicated principal doesn't exist, a label permission is created, otherwise the existing permission is updated. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing."
                },
                "delete": {
                  "flatPath": "v2/labels/{labelsId}/revisions/{revisionsId}/permissions/{permissionsId}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameters": {
                    "useAdminAccess": {
                      "location": "query",
                      "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
                      "type": "boolean"
                    },
                    "name": {
                      "pattern": "^labels/[^/]+/revisions/[^/]+/permissions/.*$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. Label permission resource name."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/drive.admin.labels",
                    "https://www.googleapis.com/auth/drive.labels"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a label's permission. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
                  "id": "drivelabels.labels.revisions.permissions.delete",
                  "httpMethod": "DELETE",
                  "path": "v2/{+name}"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/drive.admin.labels",
                    "https://www.googleapis.com/auth/drive.admin.labels.readonly",
                    "https://www.googleapis.com/auth/drive.labels",
                    "https://www.googleapis.com/auth/drive.labels.readonly"
                  ],
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Maximum number of permissions to return per page. Default: 50. Max: 200.",
                      "format": "int32"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^labels/[^/]+/revisions/[^/]+$",
                      "type": "string",
                      "description": "Required. The parent label resource name on which label permissions are listed. Format: `labels/{label}`."
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The token of the page to return.",
                      "type": "string"
                    },
                    "useAdminAccess": {
                      "location": "query",
                      "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
                      "type": "boolean"
                    }
                  },
                  "description": "Lists a label's permissions.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "id": "drivelabels.labels.revisions.permissions.list",
                  "path": "v2/{+parent}/permissions",
                  "flatPath": "v2/labels/{labelsId}/revisions/{revisionsId}/permissions",
                  "response": {
                    "$ref": "GoogleAppsDriveLabelsV2ListLabelPermissionsResponse"
                  }
                }
              }
            },
            "locks": {
              "methods": {
                "list": {
                  "description": "Lists the label locks on a label.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/drive.admin.labels",
                    "https://www.googleapis.com/auth/drive.admin.labels.readonly",
                    "https://www.googleapis.com/auth/drive.labels",
                    "https://www.googleapis.com/auth/drive.labels.readonly"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. Label on which locks are applied. Format: `labels/{label}`.",
                      "pattern": "^labels/[^/]+/revisions/[^/]+$"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Maximum number of locks to return per page. Default: 100. Max: 200.",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The token of the page to return."
                    }
                  },
                  "id": "drivelabels.labels.revisions.locks.list",
                  "flatPath": "v2/labels/{labelsId}/revisions/{revisionsId}/locks",
                  "response": {
                    "$ref": "GoogleAppsDriveLabelsV2ListLabelLocksResponse"
                  },
                  "httpMethod": "GET",
                  "path": "v2/{+parent}/locks"
                }
              }
            }
          }
        }
      }
    },
    "limits": {
      "methods": {
        "getLabel": {
          "path": "v2/limits/label",
          "description": "Get the constraints on the structure of a label; such as, the maximum number of fields allowed and maximum length of the label title.",
          "id": "drivelabels.limits.getLabel",
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2LabelLimits"
          },
          "flatPath": "v2/limits/label",
          "parameterOrder": [],
          "parameters": {
            "name": {
              "type": "string",
              "location": "query",
              "description": "Required. Label revision resource name must be: \"limits/label\"."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.admin.labels.readonly",
            "https://www.googleapis.com/auth/drive.labels",
            "https://www.googleapis.com/auth/drive.labels.readonly"
          ]
        }
      }
    }
  },
  "mtlsRootUrl": "https://drivelabels.mtls.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDeleteFieldResponse": {
      "properties": {},
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDeleteFieldResponse",
      "type": "object",
      "description": "Response following field delete."
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseEnableSelectionChoiceResponse": {
      "properties": {},
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseEnableSelectionChoiceResponse",
      "description": "Response following choice enable."
    },
    "GoogleAppsDriveLabelsV2LabelProperties": {
      "id": "GoogleAppsDriveLabelsV2LabelProperties",
      "description": "Basic properties of the label.",
      "properties": {
        "title": {
          "type": "string",
          "description": "Required. Title of the label."
        },
        "description": {
          "type": "string",
          "description": "The description of the label."
        }
      },
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2UpdateLabelPermissionRequest": {
      "properties": {
        "labelPermission": {
          "description": "Required. The permission to create or update on the label.",
          "$ref": "GoogleAppsDriveLabelsV2LabelPermission"
        },
        "useAdminAccess": {
          "type": "boolean",
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
        },
        "parent": {
          "type": "string",
          "description": "Required. The parent label resource name."
        }
      },
      "description": "Updates a label permission. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
      "id": "GoogleAppsDriveLabelsV2UpdateLabelPermissionRequest",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceAppliedCapabilities": {
      "description": "The capabilities related to this choice on applied metadata.",
      "properties": {
        "canSelect": {
          "description": "Whether the user can select this choice on an item.",
          "type": "boolean"
        },
        "canRead": {
          "description": "Whether the user can read related applied metadata on items.",
          "type": "boolean"
        },
        "canSearch": {
          "type": "boolean",
          "description": "Whether the user can use this choice in search queries."
        }
      },
      "id": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceAppliedCapabilities",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2FieldTextOptions": {
      "id": "GoogleAppsDriveLabelsV2FieldTextOptions",
      "properties": {
        "minLength": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "Output only. The minimum valid length of values for the text field."
        },
        "maxLength": {
          "type": "integer",
          "format": "int32",
          "readOnly": true,
          "description": "Output only. The maximum valid length of values for the text field."
        }
      },
      "type": "object",
      "description": "Options for the Text field type."
    },
    "GoogleAppsDriveLabelsV2FieldDisplayHints": {
      "description": "UI display hints for rendering a field.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2FieldDisplayHints",
      "properties": {
        "required": {
          "type": "boolean",
          "description": "Whether the field should be shown as required in the UI."
        },
        "shownInApply": {
          "type": "boolean",
          "description": "This field should be shown in the apply menu when applying values to a Drive item."
        },
        "hiddenInSearch": {
          "description": "This field should be hidden in the search menu when searching for Drive items.",
          "type": "boolean"
        },
        "disabled": {
          "description": "Whether the field should be shown in the UI as disabled.",
          "type": "boolean"
        }
      }
    },
    "GoogleAppsDriveLabelsV2IntegerLimits": {
      "description": "Limits for integer field type.",
      "id": "GoogleAppsDriveLabelsV2IntegerLimits",
      "type": "object",
      "properties": {
        "maxValue": {
          "format": "int64",
          "description": "Maximum value for an integer field type.",
          "type": "string"
        },
        "minValue": {
          "format": "int64",
          "type": "string",
          "description": "Minimum value for an integer field type."
        }
      }
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseResponse": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseResponse",
      "type": "object",
      "description": "A single response from an update.",
      "properties": {
        "disableSelectionChoice": {
          "description": "Disables a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDisableSelectionChoiceResponse"
        },
        "deleteField": {
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDeleteFieldResponse",
          "description": "Deletes a field from the label."
        },
        "updateFieldType": {
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateFieldTypeResponse",
          "description": "Updates field type and/or type options."
        },
        "createField": {
          "description": "Creates a field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseCreateFieldResponse"
        },
        "updateField": {
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateFieldPropertiesResponse",
          "description": "Updates basic properties of a field."
        },
        "deleteSelectionChoice": {
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDeleteSelectionChoiceResponse",
          "description": "Deletes a choice from a selection field."
        },
        "enableField": {
          "description": "Enables field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseEnableFieldResponse"
        },
        "updateSelectionChoiceProperties": {
          "description": "Updates a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateSelectionChoicePropertiesResponse"
        },
        "updateLabel": {
          "description": "Updates basic properties of a label.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateLabelPropertiesResponse"
        },
        "disableField": {
          "description": "Disables field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDisableFieldResponse"
        },
        "enableSelectionChoice": {
          "description": "Enables a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseEnableSelectionChoiceResponse"
        },
        "createSelectionChoice": {
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseCreateSelectionChoiceResponse",
          "description": "Creates a selection list option to add to a selection field."
        }
      }
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDeleteSelectionChoiceResponse": {
      "description": "Response following choice delete.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDeleteSelectionChoiceResponse",
      "properties": {}
    },
    "GoogleAppsDriveLabelsV2UserLimits": {
      "description": "Limits for Field.Type.USER.",
      "properties": {
        "listLimits": {
          "description": "Limits for list-variant of a field type.",
          "$ref": "GoogleAppsDriveLabelsV2ListLimits"
        }
      },
      "id": "GoogleAppsDriveLabelsV2UserLimits",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateFieldTypeResponse": {
      "properties": {},
      "type": "object",
      "description": "Response following update to field type.",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateFieldTypeResponse"
    },
    "GoogleAppsDriveLabelsV2FieldSchemaCapabilities": {
      "description": "The capabilities related to this field when editing the field.",
      "properties": {
        "canDelete": {
          "description": "Whether the user can delete this field. The user must have permission and the field must be deprecated.",
          "type": "boolean"
        },
        "canUpdate": {
          "type": "boolean",
          "description": "Whether the user can change this field."
        },
        "canEnable": {
          "description": "Whether the user can enable this field. The user must have permission and this field must be disabled.",
          "type": "boolean"
        },
        "canDisable": {
          "description": "Whether the user can disable this field. The user must have permission and this field must not already be disabled.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2FieldSchemaCapabilities"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDisableFieldResponse": {
      "properties": {},
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDisableFieldResponse",
      "description": "Response following field disable.",
      "type": "object"
    },
    "GoogleTypeColor": {
      "properties": {
        "green": {
          "description": "The amount of green in the color as a value in the interval [0, 1].",
          "type": "number",
          "format": "float"
        },
        "alpha": {
          "format": "float",
          "description": "The fraction of this color that should be applied to the pixel. That is, the final pixel color is defined by the equation: `pixel color = alpha * (this color) + (1.0 - alpha) * (background color)` This means that a value of 1.0 corresponds to a solid color, whereas a value of 0.0 corresponds to a completely transparent color. This uses a wrapper message rather than a simple float scalar so that it is possible to distinguish between a default value and the value being unset. If omitted, this color object is rendered as a solid color (as if the alpha value had been explicitly given a value of 1.0).",
          "type": "number"
        },
        "red": {
          "description": "The amount of red in the color as a value in the interval [0, 1].",
          "format": "float",
          "type": "number"
        },
        "blue": {
          "description": "The amount of blue in the color as a value in the interval [0, 1].",
          "type": "number",
          "format": "float"
        }
      },
      "id": "GoogleTypeColor",
      "description": "Represents a color in the RGBA color space. This representation is designed for simplicity of conversion to and from color representations in various languages over compactness. For example, the fields of this representation can be trivially provided to the constructor of `java.awt.Color` in Java; it can also be trivially provided to UIColor's `+colorWithRed:green:blue:alpha` method in iOS; and, with just a little work, it can be easily formatted into a CSS `rgba()` string in JavaScript. This reference page doesn't have information about the absolute color space that should be used to interpret the RGB value—for example, sRGB, Adobe RGB, DCI-P3, and BT.2020. By default, applications should assume the sRGB color space. When color equality needs to be decided, implementations, unless documented otherwise, treat two colors as equal if all their red, green, blue, and alpha values each differ by at most `1e-5`. Example (Java): import com.google.type.Color; // ... public static java.awt.Color fromProto(Color protocolor) { float alpha = protocolor.hasAlpha() ? protocolor.getAlpha().getValue() : 1.0; return new java.awt.Color( protocolor.getRed(), protocolor.getGreen(), protocolor.getBlue(), alpha); } public static Color toProto(java.awt.Color color) { float red = (float) color.getRed(); float green = (float) color.getGreen(); float blue = (float) color.getBlue(); float denominator = 255.0; Color.Builder resultBuilder = Color .newBuilder() .setRed(red / denominator) .setGreen(green / denominator) .setBlue(blue / denominator); int alpha = color.getAlpha(); if (alpha != 255) { result.setAlpha( FloatValue .newBuilder() .setValue(((float) alpha) / denominator) .build()); } return resultBuilder.build(); } // ... Example (iOS / Obj-C): // ... static UIColor* fromProto(Color* protocolor) { float red = [protocolor red]; float green = [protocolor green]; float blue = [protocolor blue]; FloatValue* alpha_wrapper = [protocolor alpha]; float alpha = 1.0; if (alpha_wrapper != nil) { alpha = [alpha_wrapper value]; } return [UIColor colorWithRed:red green:green blue:blue alpha:alpha]; } static Color* toProto(UIColor* color) { CGFloat red, green, blue, alpha; if (![color getRed:&red green:&green blue:&blue alpha:&alpha]) { return nil; } Color* result = [[Color alloc] init]; [result setRed:red]; [result setGreen:green]; [result setBlue:blue]; if (alpha <= 0.9999) { [result setAlpha:floatWrapperWithValue(alpha)]; } [result autorelease]; return result; } // ... Example (JavaScript): // ... var protoToCssColor = function(rgb_color) { var redFrac = rgb_color.red || 0.0; var greenFrac = rgb_color.green || 0.0; var blueFrac = rgb_color.blue || 0.0; var red = Math.floor(redFrac * 255); var green = Math.floor(greenFrac * 255); var blue = Math.floor(blueFrac * 255); if (!('alpha' in rgb_color)) { return rgbToCssColor(red, green, blue); } var alphaFrac = rgb_color.alpha.value || 0.0; var rgbParams = [red, green, blue].join(','); return ['rgba(', rgbParams, ',', alphaFrac, ')'].join(''); }; var rgbToCssColor = function(red, green, blue) { var rgbNumber = new Number((red << 16) | (green << 8) | blue); var hexString = rgbNumber.toString(16); var missingZeros = 6 - hexString.length; var resultBuilder = ['#']; for (var i = 0; i < missingZeros; i++) { resultBuilder.push('0'); } resultBuilder.push(hexString); return resultBuilder.join(''); }; // ...",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2FieldIntegerOptions": {
      "properties": {
        "minValue": {
          "description": "Output only. The minimum valid value for the integer field.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "maxValue": {
          "description": "Output only. The maximum valid value for the integer field.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        }
      },
      "id": "GoogleAppsDriveLabelsV2FieldIntegerOptions",
      "type": "object",
      "description": "Options for the Integer field type."
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestCreateSelectionChoiceRequest": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestCreateSelectionChoiceRequest",
      "properties": {
        "choice": {
          "$ref": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoice",
          "description": "Required. The choice to create."
        },
        "fieldId": {
          "description": "Required. The selection field in which a choice will be created.",
          "type": "string"
        }
      },
      "description": "Request to create a selection choice.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2Label": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2Label",
      "properties": {
        "lockStatus": {
          "description": "Output only. The `LockStatus` of this label.",
          "$ref": "GoogleAppsDriveLabelsV2LockStatus",
          "readOnly": true
        },
        "disabler": {
          "description": "Output only. The user who disabled this label. This value has no meaning when the label isn't disabled.",
          "$ref": "GoogleAppsDriveLabelsV2UserInfo",
          "readOnly": true
        },
        "revisionCreator": {
          "readOnly": true,
          "description": "Output only. The user who created this label revision.",
          "$ref": "GoogleAppsDriveLabelsV2UserInfo"
        },
        "disableTime": {
          "readOnly": true,
          "description": "Output only. The time this label was disabled. This value has no meaning when the label isn't disabled.",
          "type": "string",
          "format": "google-datetime"
        },
        "creator": {
          "description": "Output only. The user who created this label.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2UserInfo"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Globally unique identifier of this label. ID makes up part of the label `name`, but unlike `name`, ID is consistent between revisions. Matches the regex: `([a-zA-Z0-9])+`."
        },
        "revisionCreateTime": {
          "readOnly": true,
          "description": "Output only. The time this label revision was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "displayHints": {
          "description": "Output only. UI display hints for rendering the label.",
          "$ref": "GoogleAppsDriveLabelsV2LabelDisplayHints",
          "readOnly": true
        },
        "revisionId": {
          "description": "Output only. Revision ID of the label. Revision ID might be part of the label `name` depending on the request issued. A new revision is created whenever revisioned properties of a label are changed. Matches the regex: `([a-zA-Z0-9])+`.",
          "readOnly": true,
          "type": "string"
        },
        "learnMoreUri": {
          "type": "string",
          "description": "Custom URL to present to users to allow them to learn more about this label and how it should be used."
        },
        "customer": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The customer this label belongs to. For example: `customers/123abc789`."
        },
        "publishTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time this label was published. This value has no meaning when the label isn't published."
        },
        "publisher": {
          "description": "Output only. The user who published this label. This value has no meaning when the label isn't published.>>",
          "$ref": "GoogleAppsDriveLabelsV2UserInfo",
          "readOnly": true
        },
        "enabledAppSettings": {
          "$ref": "GoogleAppsDriveLabelsV2LabelEnabledAppSettings",
          "description": "Optional. The `EnabledAppSettings` for this Label."
        },
        "schemaCapabilities": {
          "readOnly": true,
          "description": "Output only. The capabilities the user has on this label.",
          "$ref": "GoogleAppsDriveLabelsV2LabelSchemaCapabilities"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time this label was created.",
          "format": "google-datetime"
        },
        "labelType": {
          "type": "string",
          "description": "Required. The type of label.",
          "enumDescriptions": [
            "Unknown label type.",
            "Shared labels may be shared with users to apply to Drive items.",
            "Admin-owned label. Only creatable and editable by admins. Supports some additional admin-only features.",
            "A label owned by an internal Google application rather than a customer. These labels are read-only."
          ],
          "enum": [
            "LABEL_TYPE_UNSPECIFIED",
            "SHARED",
            "ADMIN",
            "GOOGLE_APP"
          ]
        },
        "properties": {
          "description": "Required. The basic properties of the label.",
          "$ref": "GoogleAppsDriveLabelsV2LabelProperties"
        },
        "name": {
          "description": "Output only. Resource name of the label. Will be in the form of either: `labels/{id}` or `labels/{id}@{revision_id}` depending on the request. See `id` and `revision_id` below.",
          "type": "string",
          "readOnly": true
        },
        "lifecycle": {
          "$ref": "GoogleAppsDriveLabelsV2Lifecycle",
          "readOnly": true,
          "description": "Output only. The lifecycle state of the label including whether it's published, deprecated, and has draft changes."
        },
        "appliedLabelPolicy": {
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2LabelAppliedLabelPolicy",
          "description": "Output only. Behavior of this label when it's applied to Drive items."
        },
        "fields": {
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2Field"
          },
          "description": "List of fields in descending priority order.",
          "type": "array"
        },
        "appliedCapabilities": {
          "$ref": "GoogleAppsDriveLabelsV2LabelAppliedCapabilities",
          "readOnly": true,
          "description": "Output only. The capabilities related to this label on applied metadata."
        }
      },
      "description": "A label defines a taxonomy that can be applied to Drive items in order to organize and search across items. Labels can be simple strings, or can contain fields that describe additional metadata that can be further used to organize and search Drive items."
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateLabelPropertiesResponse": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateLabelPropertiesResponse",
      "description": "Response following update to label properties.",
      "properties": {},
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequest": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequest",
      "description": "The set of requests for updating aspects of a label. If any request isn't valid, no requests will be applied.",
      "type": "object",
      "properties": {
        "requests": {
          "type": "array",
          "description": "A list of updates to apply to the label. Requests will be applied in the order they are specified.",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestRequest"
          }
        },
        "languageCode": {
          "type": "string",
          "description": "The BCP-47 language code to use for evaluating localized field labels when `include_label_in_response` is `true`."
        },
        "writeControl": {
          "$ref": "GoogleAppsDriveLabelsV2WriteControl",
          "description": "Provides control over how write requests are executed."
        },
        "view": {
          "description": "When specified, only certain fields belonging to the indicated view will be returned.",
          "type": "string",
          "enum": [
            "LABEL_VIEW_BASIC",
            "LABEL_VIEW_FULL"
          ],
          "enumDescriptions": [
            "Implies the field mask: `name,id,revision_id,label_type,properties.*`",
            "All possible fields."
          ]
        },
        "useAdminAccess": {
          "type": "boolean",
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
        }
      }
    },
    "GoogleAppsDriveLabelsV2PublishLabelRequest": {
      "properties": {
        "writeControl": {
          "$ref": "GoogleAppsDriveLabelsV2WriteControl",
          "description": "Provides control over how write requests are executed. Defaults to unset, which means the last write wins."
        },
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
          "type": "boolean"
        },
        "languageCode": {
          "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request to publish a label.",
      "id": "GoogleAppsDriveLabelsV2PublishLabelRequest"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDeleteSelectionChoiceRequest": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDeleteSelectionChoiceRequest",
      "properties": {
        "id": {
          "description": "Required. Choice to delete.",
          "type": "string"
        },
        "fieldId": {
          "type": "string",
          "description": "Required. The selection field from which a choice will be deleted."
        }
      },
      "type": "object",
      "description": "Request to delete a choice."
    },
    "GoogleAppsDriveLabelsV2FieldLimits": {
      "properties": {
        "selectionLimits": {
          "$ref": "GoogleAppsDriveLabelsV2SelectionLimits",
          "description": "Selection field limits."
        },
        "textLimits": {
          "$ref": "GoogleAppsDriveLabelsV2TextLimits",
          "description": "The relevant limits for the specified Field.Type. Text field limits."
        },
        "longTextLimits": {
          "$ref": "GoogleAppsDriveLabelsV2LongTextLimits",
          "description": "Long text field limits."
        },
        "maxDisplayNameLength": {
          "type": "integer",
          "format": "int32",
          "description": "Limits for field title."
        },
        "dateLimits": {
          "description": "Date field limits.",
          "$ref": "GoogleAppsDriveLabelsV2DateLimits"
        },
        "maxIdLength": {
          "type": "integer",
          "description": "Maximum length for the id.",
          "format": "int32"
        },
        "integerLimits": {
          "$ref": "GoogleAppsDriveLabelsV2IntegerLimits",
          "description": "Integer field limits."
        },
        "userLimits": {
          "$ref": "GoogleAppsDriveLabelsV2UserLimits",
          "description": "User field limits."
        },
        "maxDescriptionLength": {
          "type": "integer",
          "format": "int32",
          "description": "Limits for field description, also called help text."
        }
      },
      "description": "Field constants governing the structure of a field; such as, the maximum title length, minimum and maximum field values or length, etc.",
      "id": "GoogleAppsDriveLabelsV2FieldLimits",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2FieldListOptions": {
      "properties": {
        "maxEntries": {
          "type": "integer",
          "description": "Maximum number of entries permitted.",
          "format": "int32"
        }
      },
      "id": "GoogleAppsDriveLabelsV2FieldListOptions",
      "type": "object",
      "description": "Options for a multi-valued variant of an associated field type."
    },
    "GoogleAppsDriveLabelsV2FieldUserOptions": {
      "properties": {
        "listOptions": {
          "$ref": "GoogleAppsDriveLabelsV2FieldListOptions",
          "description": "When specified, indicates that this field supports a list of values. Once the field is published, this cannot be changed."
        }
      },
      "type": "object",
      "description": "Options for the user field type.",
      "id": "GoogleAppsDriveLabelsV2FieldUserOptions"
    },
    "GoogleAppsDriveLabelsV2ListLimits": {
      "id": "GoogleAppsDriveLabelsV2ListLimits",
      "properties": {
        "maxEntries": {
          "format": "int32",
          "description": "Maximum number of values allowed for the field type.",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "Limits for list-variant of a field type."
    },
    "GoogleAppsDriveLabelsV2DisableLabelRequest": {
      "properties": {
        "useAdminAccess": {
          "type": "boolean",
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
        },
        "disabledPolicy": {
          "description": "Disabled policy to use.",
          "$ref": "GoogleAppsDriveLabelsV2LifecycleDisabledPolicy"
        },
        "updateMask": {
          "description": "The fields that should be updated. At least one field must be specified. The root `disabled_policy` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "writeControl": {
          "$ref": "GoogleAppsDriveLabelsV2WriteControl",
          "description": "Provides control over how write requests are executed. Defaults to unset, which means the last write wins."
        },
        "languageCode": {
          "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used.",
          "type": "string"
        }
      },
      "id": "GoogleAppsDriveLabelsV2DisableLabelRequest",
      "description": "Request to deprecate a published label.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2EnableLabelRequest": {
      "type": "object",
      "description": "Request to enable a label.",
      "id": "GoogleAppsDriveLabelsV2EnableLabelRequest",
      "properties": {
        "writeControl": {
          "$ref": "GoogleAppsDriveLabelsV2WriteControl",
          "description": "Provides control over how write requests are executed. Defaults to unset, which means the last write wins."
        },
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
          "type": "boolean"
        },
        "languageCode": {
          "type": "string",
          "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used."
        }
      }
    },
    "GoogleAppsDriveLabelsV2LabelDisplayHints": {
      "description": "The UI display hints for rendering the label.",
      "id": "GoogleAppsDriveLabelsV2LabelDisplayHints",
      "properties": {
        "shownInApply": {
          "description": "This label should be shown in the apply menu when applying values to a Drive item.",
          "type": "boolean"
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether the label should be shown in the UI as disabled."
        },
        "priority": {
          "description": "The order to display labels in a list.",
          "type": "string",
          "format": "int64"
        },
        "hiddenInSearch": {
          "type": "boolean",
          "description": "This label should be hidden in the search menu when searching for Drive items."
        }
      },
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2LabelSchemaCapabilities": {
      "id": "GoogleAppsDriveLabelsV2LabelSchemaCapabilities",
      "properties": {
        "canUpdate": {
          "type": "boolean",
          "description": "Whether the user can change this label."
        },
        "canEnable": {
          "type": "boolean",
          "description": "Whether the user can enable this label. The user must have permission and this label must be disabled."
        },
        "canDisable": {
          "description": "Whether the user can disable this label. The user must have permission and this label must not already be disabled.",
          "type": "boolean"
        },
        "canDelete": {
          "type": "boolean",
          "description": "Whether the user can delete this label. The user must have permission and the label must be disabled."
        }
      },
      "description": "The capabilities related to this label when editing the label.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestEnableSelectionChoiceRequest": {
      "description": "Request to enable a choice.",
      "properties": {
        "fieldId": {
          "description": "Required. The selection field in which a choice will be enabled.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Required. Choice to enable."
        }
      },
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestEnableSelectionChoiceRequest"
    },
    "GoogleAppsDriveLabelsV2UserInfo": {
      "properties": {
        "person": {
          "description": "The identifier for this user that can be used with the [People API](https://developers.google.com/people) to get more information. For example, `people/12345678`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Information about a user.",
      "id": "GoogleAppsDriveLabelsV2UserInfo"
    },
    "GoogleAppsDriveLabelsV2Lifecycle": {
      "description": "The lifecycle state of an object, such as label, field, or choice. For more information, see [Label lifecycle](https://developers.google.com/workspace/drive/labels/guides/label-lifecycle). The lifecycle enforces the following transitions: * `UNPUBLISHED_DRAFT` (starting state) * `UNPUBLISHED_DRAFT` -> `PUBLISHED` * `UNPUBLISHED_DRAFT` -> (Deleted) * `PUBLISHED` -> `DISABLED` * `DISABLED` -> `PUBLISHED` * `DISABLED` -> (Deleted) The published and disabled states have some distinct characteristics: * `Published`: Some kinds of changes might be made to an object in this state, in which case `has_unpublished_changes` will be true. Also, some kinds of changes aren't permitted. Generally, any change that would invalidate or cause new restrictions on existing metadata related to the label are rejected. * `Disabled`: When disabled, the configured `DisabledPolicy` takes effect.",
      "type": "object",
      "properties": {
        "disabledPolicy": {
          "$ref": "GoogleAppsDriveLabelsV2LifecycleDisabledPolicy",
          "description": "The policy that governs how to show a disabled label, field, or selection choice."
        },
        "hasUnpublishedChanges": {
          "description": "Output only. Whether the object associated with this lifecycle has unpublished changes.",
          "type": "boolean",
          "readOnly": true
        },
        "state": {
          "description": "Output only. The state of the object associated with this lifecycle.",
          "enumDescriptions": [
            "Unknown State.",
            "The initial state of an object. Once published, the object can never return to this state. Once an object is published, certain kinds of changes are no longer permitted.",
            "The object has been published. The object might have unpublished draft changes as indicated by `has_unpublished_changes`.",
            "The object has been published and has since been disabled. The object might have unpublished draft changes as indicated by `has_unpublished_changes`.",
            "The object has been deleted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "UNPUBLISHED_DRAFT",
            "PUBLISHED",
            "DISABLED",
            "DELETED"
          ],
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleAppsDriveLabelsV2Lifecycle"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDeleteFieldRequest": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Required. ID of the field to delete."
        }
      },
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDeleteFieldRequest",
      "description": "Request to delete the field."
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseCreateFieldResponse": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseCreateFieldResponse",
      "properties": {
        "id": {
          "description": "The field of the created field. When left blank in a create request, a key will be autogenerated and can be identified here.",
          "type": "string"
        },
        "priority": {
          "description": "The priority of the created field. The priority may change from what was specified to assure contiguous priorities between fields (1-n).",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "Response following field create."
    },
    "GoogleAppsDriveLabelsV2BatchUpdateLabelPermissionsResponse": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2BatchUpdateLabelPermissionsResponse",
      "description": "Response for updating one or more label permissions.",
      "properties": {
        "permissions": {
          "description": "Required. Permissions updated.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2LabelPermission"
          }
        }
      }
    },
    "GoogleAppsDriveLabelsV2WriteControl": {
      "description": "Provides control over how write requests are executed. When not specified, the last write wins.",
      "properties": {
        "requiredRevisionId": {
          "type": "string",
          "description": "The revision ID of the label that the write request will be applied to. If this isn't the latest revision of the label, the request will not be processed and will return a 400 Bad Request error."
        }
      },
      "id": "GoogleAppsDriveLabelsV2WriteControl",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2LifecycleDisabledPolicy": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2LifecycleDisabledPolicy",
      "description": "The policy that governs how to treat a disabled label, field, or selection choice in different contexts.",
      "properties": {
        "showInApply": {
          "description": "Whether to show this disabled object in the apply menu on Drive items. * When `true`, the object is generally shown in the UI as disabled and is unselectable. * When `false`, the object is generally hidden in the UI.",
          "type": "boolean"
        },
        "hideInSearch": {
          "description": "Whether to hide this disabled object in the search menu for Drive items. * When `false`, the object is generally shown in the UI as disabled but it appears in the search results when searching for Drive items. * When `true`, the object is generally hidden in the UI when searching for Drive items.",
          "type": "boolean"
        }
      }
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateSelectionChoicePropertiesRequest": {
      "type": "object",
      "description": "Request to update a choice property.",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateSelectionChoicePropertiesRequest",
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root `properties` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field."
        },
        "fieldId": {
          "description": "Required. The selection field to update.",
          "type": "string"
        },
        "properties": {
          "$ref": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceProperties",
          "description": "Required. The choice properties to update."
        },
        "id": {
          "type": "string",
          "description": "Required. The choice to update."
        }
      }
    },
    "GoogleTypeDate": {
      "type": "object",
      "properties": {
        "month": {
          "type": "integer",
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        },
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer"
        }
      },
      "id": "GoogleTypeDate",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "GoogleAppsDriveLabelsV2ListLabelLocksResponse": {
      "id": "GoogleAppsDriveLabelsV2ListLabelLocksResponse",
      "properties": {
        "nextPageToken": {
          "description": "The token of the next page in the response.",
          "type": "string"
        },
        "labelLocks": {
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2LabelLock"
          },
          "type": "array",
          "description": "Label locks."
        }
      },
      "description": "The response to a `ListLabelLocksRequest`.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestEnableFieldRequest": {
      "properties": {
        "id": {
          "description": "Required. ID of the field to enable.",
          "type": "string"
        }
      },
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestEnableFieldRequest",
      "description": "Request to enable the field.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceSchemaCapabilities": {
      "properties": {
        "canDelete": {
          "type": "boolean",
          "description": "Whether the user can delete this choice."
        },
        "canDisable": {
          "description": "Whether the user can disable this choice.",
          "type": "boolean"
        },
        "canUpdate": {
          "type": "boolean",
          "description": "Whether the user can update this choice."
        },
        "canEnable": {
          "description": "Whether the user can enable this choice.",
          "type": "boolean"
        }
      },
      "id": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceSchemaCapabilities",
      "type": "object",
      "description": "The capabilities related to this choice when editing the choice."
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDisableFieldRequest": {
      "type": "object",
      "description": "Request to disable the field.",
      "properties": {
        "disabledPolicy": {
          "$ref": "GoogleAppsDriveLabelsV2LifecycleDisabledPolicy",
          "description": "Required. Field disabled policy."
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `disabled_policy` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field."
        },
        "id": {
          "description": "Required. Key of the field to disable.",
          "type": "string"
        }
      },
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDisableFieldRequest"
    },
    "GoogleAppsDriveLabelsV2TextLimits": {
      "id": "GoogleAppsDriveLabelsV2TextLimits",
      "properties": {
        "minLength": {
          "type": "integer",
          "description": "Minimum length allowed for a text field type.",
          "format": "int32"
        },
        "maxLength": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum length allowed for a text field type."
        }
      },
      "description": "Limits for text field type.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDisableSelectionChoiceResponse": {
      "properties": {},
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDisableSelectionChoiceResponse",
      "type": "object",
      "description": "Response following choice disable."
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponse": {
      "type": "object",
      "description": "Response for label update.",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponse",
      "properties": {
        "responses": {
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseResponse"
          },
          "description": "The reply of the updates. This maps 1:1 with the updates, although responses to some requests may be empty."
        },
        "updatedLabel": {
          "description": "The label after updates were applied. This is only set if `include_label_in_response` is `true` and there were no errors.",
          "$ref": "GoogleAppsDriveLabelsV2Label"
        }
      }
    },
    "GoogleAppsDriveLabelsV2LongTextLimits": {
      "description": "Limits for long text field type.",
      "type": "object",
      "properties": {
        "minLength": {
          "type": "integer",
          "description": "Minimum length allowed for a long text field type.",
          "format": "int32"
        },
        "maxLength": {
          "description": "Maximum length allowed for a long text field type.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleAppsDriveLabelsV2LongTextLimits"
    },
    "GoogleAppsDriveLabelsV2FieldSelectionOptions": {
      "id": "GoogleAppsDriveLabelsV2FieldSelectionOptions",
      "type": "object",
      "properties": {
        "listOptions": {
          "description": "When specified, indicates this field supports a list of values. Once the field is published, this cannot be changed.",
          "$ref": "GoogleAppsDriveLabelsV2FieldListOptions"
        },
        "choices": {
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoice"
          },
          "description": "The options available for this selection field. The list order is consistent, and modified with `insert_before_choice`.",
          "type": "array"
        }
      },
      "description": "Options for the selection field type."
    },
    "GoogleAppsDriveLabelsV2LockStatus": {
      "properties": {
        "locked": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates whether this label component is the (direct) target of a label lock. A label component can be implicitly locked even if it's not the direct target of a label lock, in which case this field is set to false."
        }
      },
      "description": "Contains information about whether a label component should be considered locked.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2LockStatus"
    },
    "GoogleAppsDriveLabelsV2ListLabelsResponse": {
      "type": "object",
      "description": "Response for listing labels.",
      "properties": {
        "nextPageToken": {
          "description": "The token of the next page in the response.",
          "type": "string"
        },
        "labels": {
          "type": "array",
          "description": "Labels.",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2Label"
          }
        }
      },
      "id": "GoogleAppsDriveLabelsV2ListLabelsResponse"
    },
    "GoogleAppsDriveLabelsV2LabelLockCapabilities": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2LabelLockCapabilities",
      "description": "A description of a user's capabilities on a label lock.",
      "properties": {
        "canViewPolicy": {
          "type": "boolean",
          "description": "True if the user is authorized to view the policy."
        }
      }
    },
    "GoogleAppsDriveLabelsV2UpdateLabelEnabledAppSettingsRequest": {
      "type": "object",
      "description": "Request to update the `EnabledAppSettings` of the given label. This change is not revisioned, doesn't require publishing, and takes effect immediately. \\",
      "properties": {
        "useAdminAccess": {
          "type": "boolean",
          "description": "Optional. Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
        },
        "view": {
          "enum": [
            "LABEL_VIEW_BASIC",
            "LABEL_VIEW_FULL"
          ],
          "enumDescriptions": [
            "Implies the field mask: `name,id,revision_id,label_type,properties.*`",
            "All possible fields."
          ],
          "description": "Optional. When specified, only certain fields belonging to the indicated view will be returned.",
          "type": "string"
        },
        "languageCode": {
          "type": "string",
          "description": "Optional. The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used."
        },
        "enabledAppSettings": {
          "description": "Required. The new `EnabledAppSettings` value for the label.",
          "$ref": "GoogleAppsDriveLabelsV2LabelEnabledAppSettings"
        }
      },
      "id": "GoogleAppsDriveLabelsV2UpdateLabelEnabledAppSettingsRequest"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateFieldPropertiesResponse": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateFieldPropertiesResponse",
      "type": "object",
      "properties": {
        "priority": {
          "type": "integer",
          "description": "The priority of the updated field. The priority may change from what was specified to assure contiguous priorities between fields (1-n).",
          "format": "int32"
        }
      },
      "description": "Response following update to field properties."
    },
    "GoogleAppsDriveLabelsV2LabelEnabledAppSettingsEnabledApp": {
      "description": "An app where the label can be used.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2LabelEnabledAppSettingsEnabledApp",
      "properties": {
        "app": {
          "enum": [
            "APP_UNSPECIFIED",
            "DRIVE",
            "GMAIL"
          ],
          "enumDescriptions": [
            "Unspecified",
            "Drive",
            "Gmail"
          ],
          "type": "string",
          "description": "Optional. The name of the app."
        }
      }
    },
    "GoogleAppsDriveLabelsV2FieldProperties": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2FieldProperties",
      "description": "The basic properties of the field.",
      "properties": {
        "insertBeforeField": {
          "type": "string",
          "description": "Input only. Insert or move this field before the indicated field. If empty, the field is placed at the end of the list."
        },
        "displayName": {
          "description": "Required. The display text to show in the UI identifying this field.",
          "type": "string"
        },
        "required": {
          "description": "Whether the field should be marked as required.",
          "type": "boolean"
        }
      }
    },
    "GoogleAppsDriveLabelsV2FieldDateOptions": {
      "properties": {
        "dateFormatType": {
          "enum": [
            "DATE_FORMAT_UNSPECIFIED",
            "LONG_DATE",
            "SHORT_DATE"
          ],
          "enumDescriptions": [
            "Date format unspecified.",
            "Includes full month name. For example, January 12, 1999 (MMMM d, y)",
            "Short, numeric, representation. For example, 12/13/99 (M/d/yy)"
          ],
          "description": "Localized date formatting option. Field values are rendered in this format according to their locale.",
          "type": "string"
        },
        "maxValue": {
          "readOnly": true,
          "description": "Output only. Maximum valid value (year, month, day).",
          "$ref": "GoogleTypeDate"
        },
        "dateFormat": {
          "description": "Output only. ICU date format.",
          "type": "string",
          "readOnly": true
        },
        "minValue": {
          "readOnly": true,
          "description": "Output only. Minimum valid value (year, month, day).",
          "$ref": "GoogleTypeDate"
        }
      },
      "description": "Options for the date field type.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2FieldDateOptions"
    },
    "GoogleAppsDriveLabelsV2BatchUpdateLabelPermissionsRequest": {
      "type": "object",
      "description": "Updates one or more label permissions.",
      "properties": {
        "requests": {
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2UpdateLabelPermissionRequest"
          },
          "description": "Required. The request message specifying the resources to update.",
          "type": "array"
        },
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access. If this is set, the `use_admin_access` field in the `UpdateLabelPermissionRequest` messages must either be empty or match this field.",
          "type": "boolean"
        }
      },
      "id": "GoogleAppsDriveLabelsV2BatchUpdateLabelPermissionsRequest"
    },
    "GoogleAppsDriveLabelsV2FieldAppliedCapabilities": {
      "id": "GoogleAppsDriveLabelsV2FieldAppliedCapabilities",
      "type": "object",
[...]
