{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "v2",
  "mtlsRootUrl": "https://www.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.file": {
          "description": "See, edit, create, and delete only the specific Google Drive files you use with this app"
        },
        "https://www.googleapis.com/auth/drive.photos.readonly": {
          "description": "View the photos, videos and albums in your Google Photos"
        },
        "https://www.googleapis.com/auth/drive.metadata": {
          "description": "View and manage metadata of files in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.scripts": {
          "description": "Modify your Google Apps Script scripts' behavior"
        },
        "https://www.googleapis.com/auth/drive.appdata": {
          "description": "See, create, and delete its own configuration data in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "See and download all your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.meet.readonly": {
          "description": "See and download your Google Drive files that were created or edited by Google Meet."
        },
        "https://www.googleapis.com/auth/drive.apps.readonly": {
          "description": "View your Google Drive apps"
        },
        "https://www.googleapis.com/auth/drive.metadata.readonly": {
          "description": "See information about your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "title": "Google Drive API",
  "documentationLink": "https://developers.google.com/workspace/drive/",
  "schemas": {
    "CommentReplyList": {
      "id": "CommentReplyList",
      "properties": {
        "kind": {
          "default": "drive#commentReplyList",
          "type": "string",
          "description": "This is always `drive#commentReplyList`."
        },
        "nextLink": {
          "description": "A link to the next page of replies.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "CommentReply"
          },
          "description": "The list of replies. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched."
        },
        "nextPageToken": {
          "description": "The page token for the next page of replies. This will be absent if the end of the replies list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        },
        "selfLink": {
          "description": "A link back to this list.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A list of replies to a comment on a file in Google Drive."
    },
    "CommentList": {
      "properties": {
        "items": {
          "type": "array",
          "description": "The list of comments. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "items": {
            "$ref": "Comment"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The page token for the next page of comments. This will be absent if the end of the comments list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results."
        },
        "nextLink": {
          "description": "A link to the next page of comments.",
          "type": "string"
        },
        "selfLink": {
          "description": "A link back to this list.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "drive#commentList",
          "description": "This is always drive#commentList."
        }
      },
      "id": "CommentList",
      "description": "A list of comments on a file in Google Drive.",
      "type": "object"
    },
    "PropertyList": {
      "properties": {
        "selfLink": {
          "description": "The link back to this list.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "The ETag of the list."
        },
        "items": {
          "items": {
            "$ref": "Property"
          },
          "description": "The list of properties.",
          "type": "array"
        },
        "kind": {
          "description": "This is always `drive#propertyList`.",
          "type": "string",
          "default": "drive#propertyList"
        }
      },
      "id": "PropertyList",
      "description": "A collection of properties, key-value pairs that are either public or private to an application.",
      "type": "object"
    },
    "ChildReference": {
      "id": "ChildReference",
      "description": "A reference to a folder's child. Some resource methods (such as `children.get`) require a `childId`. Use the `children.list` method to retrieve the ID of the child.",
      "type": "object",
      "properties": {
        "id": {
          "annotations": {
            "required": [
              "drive.children.insert"
            ]
          },
          "description": "The ID of the child.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Output only. This is always `drive#childReference`.",
          "default": "drive#childReference"
        },
        "selfLink": {
          "type": "string",
          "description": "Output only. A link back to this reference."
        },
        "childLink": {
          "type": "string",
          "description": "Output only. A link to the child."
        }
      }
    },
    "Drive": {
      "description": "Representation of a shared drive. Some resource methods (such as `drives.update`) require a `driveId`. Use the `drives.list` method to retrieve the ID for a shared drive.",
      "type": "object",
      "id": "Drive",
      "properties": {
        "restrictions": {
          "description": "A set of restrictions that apply to this shared drive or items inside this shared drive.",
          "properties": {
            "adminManagedRestrictions": {
              "description": "Whether administrative privileges on this shared drive are required to modify restrictions.",
              "type": "boolean"
            },
            "domainUsersOnly": {
              "description": "Whether access to this shared drive and items inside this shared drive is restricted to users of the domain to which this shared drive belongs. This restriction may be overridden by other sharing policies controlled outside of this shared drive.",
              "type": "boolean"
            },
            "driveMembersOnly": {
              "description": "Whether access to items inside this shared drive is restricted to its members.",
              "type": "boolean"
            },
            "sharingFoldersRequiresOrganizerPermission": {
              "description": "If true, only users with the organizer role can share folders. If false, users with either the organizer role or the file organizer role can share folders.",
              "type": "boolean"
            },
            "copyRequiresWriterPermission": {
              "description": "Whether the options to copy, print, or download files inside this shared drive, should be disabled for readers and commenters. When this restriction is set to `true`, it will override the similarly named field to `true` for any file inside this shared drive.",
              "type": "boolean"
            }
          },
          "type": "object"
        },
        "createdDate": {
          "format": "date-time",
          "type": "string",
          "description": "The time at which the shared drive was created (RFC 3339 date-time)."
        },
        "name": {
          "annotations": {
            "required": [
              "drive.drives.insert"
            ]
          },
          "type": "string",
          "description": "The name of this shared drive."
        },
        "capabilities": {
          "description": "Output only. Capabilities the current user has on this shared drive.",
          "properties": {
            "canChangeSharingFoldersRequiresOrganizerPermissionRestriction": {
              "description": "Output only. Whether the current user can change the `sharingFoldersRequiresOrganizerPermission` restriction of this shared drive.",
              "type": "boolean"
            },
            "canChangeDriveBackground": {
              "description": "Output only. Whether the current user can change the background of this shared drive.",
              "type": "boolean"
            },
            "canComment": {
              "type": "boolean",
              "description": "Output only. Whether the current user can comment on files in this shared drive."
            },
            "canTrashChildren": {
              "description": "Output only. Whether the current user can trash children from folders in this shared drive.",
              "type": "boolean"
            },
            "canCopy": {
              "type": "boolean",
              "description": "Output only. Whether the current user can copy files in this shared drive."
            },
            "canRename": {
              "description": "Output only. Whether the current user can rename files or folders in this shared drive.",
              "type": "boolean"
            },
            "canListChildren": {
              "description": "Output only. Whether the current user can list the children of folders in this shared drive.",
              "type": "boolean"
            },
            "canShare": {
              "description": "Output only. Whether the current user can share files or folders in this shared drive.",
              "type": "boolean"
            },
            "canDeleteDrive": {
              "description": "Output only. Whether the current user can delete this shared drive. Attempting to delete the shared drive may still fail if there are untrashed items inside the shared drive.",
              "type": "boolean"
            },
            "canManageMembers": {
              "type": "boolean",
              "description": "Output only. Whether the current user can add members to this shared drive or remove them or change their role."
            },
            "canDownload": {
              "type": "boolean",
              "description": "Output only. Whether the current user can download files in this shared drive."
            },
            "canChangeDriveMembersOnlyRestriction": {
              "description": "Output only. Whether the current user can change the `driveMembersOnly` restriction of this shared drive.",
              "type": "boolean"
            },
            "canChangeCopyRequiresWriterPermissionRestriction": {
              "description": "Output only. Whether the current user can change the `copyRequiresWriterPermission` restriction of this shared drive.",
              "type": "boolean"
            },
            "canAddChildren": {
              "type": "boolean",
              "description": "Output only. Whether the current user can add children to folders in this shared drive."
            },
            "canResetDriveRestrictions": {
              "type": "boolean",
              "description": "Output only. Whether the current user can reset the shared drive restrictions to defaults."
            },
            "canEdit": {
              "type": "boolean",
              "description": "Output only. Whether the current user can edit files in this shared drive"
            },
            "canDeleteChildren": {
              "type": "boolean",
              "description": "Output only. Whether the current user can delete children from folders in this shared drive."
            },
            "canRenameDrive": {
              "type": "boolean",
              "description": "Output only. Whether the current user can rename this shared drive."
            },
            "canReadRevisions": {
              "description": "Output only. Whether the current user can read the revisions resource of files in this shared drive.",
              "type": "boolean"
            },
            "canChangeDomainUsersOnlyRestriction": {
              "type": "boolean",
              "description": "Output only. Whether the current user can change the `domainUsersOnly` restriction of this shared drive."
            }
          },
          "type": "object"
        },
        "backgroundImageLink": {
          "type": "string",
          "description": "Output only. A short-lived link to this shared drive's background image."
        },
        "id": {
          "description": "Output only. The ID of this shared drive which is also the ID of the top level folder of this shared drive.",
          "type": "string"
        },
        "backgroundImageFile": {
          "properties": {
            "width": {
              "format": "float",
              "description": "The width of the cropped image in the closed range of 0 to 1. This value represents the width of the cropped image divided by the width of the entire image. The height is computed by applying a width to height aspect ratio of 80 to 9. The resulting image must be at least 1280 pixels wide and 144 pixels high.",
              "type": "number"
            },
            "yCoordinate": {
              "format": "float",
              "type": "number",
              "description": "The Y coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the vertical distance from the top side of the entire image to the top side of the cropping area divided by the height of the entire image."
            },
            "id": {
              "description": "The ID of an image file in Google Drive to use for the background image.",
              "type": "string"
            },
            "xCoordinate": {
              "description": "The X coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the horizontal distance from the left side of the entire image to the left side of the cropping area divided by the width of the entire image.",
              "format": "float",
              "type": "number"
            }
          },
          "type": "object",
          "description": "An image file and cropping parameters from which a background image for this shared drive is set. This is a write only field; it can only be set on `drive.drives.update` requests that don't set `themeId`. When specified, all fields of the `backgroundImageFile` must be set."
        },
        "themeId": {
          "type": "string",
          "description": "The ID of the theme from which the background image and color will be set. The set of possible `driveThemes` can be retrieved from a `drive.about.get` response. When not specified on a `drive.drives.insert` request, a random theme is chosen from which the background image and color are set. This is a write-only field; it can only be set on requests that don't set `colorRgb` or `backgroundImageFile`."
        },
        "kind": {
          "description": "Output only. This is always `drive#drive`",
          "type": "string",
          "default": "drive#drive"
        },
        "orgUnitId": {
          "description": "Output only. The organizational unit of this shared drive. This field is only populated on `drives.list` responses when the `useDomainAdminAccess` parameter is set to `true`.",
          "type": "string"
        },
        "hidden": {
          "type": "boolean",
          "description": "Whether the shared drive is hidden from default view."
        },
        "colorRgb": {
          "description": "The color of this shared drive as an RGB hex string. It can only be set on a `drive.drives.update` request that does not set `themeId`.",
          "type": "string"
        }
      }
    },
    "ChildList": {
      "id": "ChildList",
      "description": "A list of children of a file.",
      "properties": {
        "etag": {
          "type": "string",
          "description": "The ETag of the list."
        },
        "selfLink": {
          "type": "string",
          "description": "A link back to this list."
        },
        "items": {
          "description": "The list of children. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "items": {
            "$ref": "ChildReference"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The page token for the next page of children. This will be absent if the end of the children list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        },
        "kind": {
          "default": "drive#childList",
          "description": "This is always `drive#childList`.",
          "type": "string"
        },
        "nextLink": {
          "type": "string",
          "description": "A link to the next page of children."
        }
      },
      "type": "object"
    },
    "TeamDrive": {
      "type": "object",
      "description": "Deprecated: Use the `drive` collection instead.",
      "id": "TeamDrive",
      "properties": {
        "capabilities": {
          "properties": {
            "canChangeDomainUsersOnlyRestriction": {
              "type": "boolean",
              "description": "Whether the current user can change the `domainUsersOnly` restriction of this Team Drive."
            },
            "canReadRevisions": {
              "description": "Whether the current user can read the revisions resource of files in this Team Drive.",
              "type": "boolean"
            },
            "canDeleteTeamDrive": {
              "description": "Whether the current user can delete this Team Drive. Attempting to delete the Team Drive may still fail if there are untrashed items inside the Team Drive.",
              "type": "boolean"
            },
            "canChangeTeamDriveBackground": {
              "description": "Whether the current user can change the background of this Team Drive.",
              "type": "boolean"
            },
            "canComment": {
              "description": "Whether the current user can comment on files in this Team Drive.",
              "type": "boolean"
            },
            "canDeleteChildren": {
              "description": "Whether the current user can delete children from folders in this Team Drive.",
              "type": "boolean"
            },
            "canCopy": {
              "type": "boolean",
              "description": "Whether the current user can copy files in this Team Drive."
            },
            "canAddChildren": {
              "type": "boolean",
              "description": "Whether the current user can add children to folders in this Team Drive."
            },
            "canRemoveChildren": {
              "deprecated": true,
              "description": "Deprecated: Use `canDeleteChildren` or `canTrashChildren` instead.",
              "type": "boolean"
            },
            "canManageMembers": {
              "description": "Whether the current user can add members to this Team Drive or remove them or change their role.",
              "type": "boolean"
            },
            "canRename": {
              "description": "Whether the current user can rename files or folders in this Team Drive.",
              "type": "boolean"
            },
            "canResetTeamDriveRestrictions": {
              "description": "Whether the current user can reset the Team Drive restrictions to defaults.",
              "type": "boolean"
            },
            "canRenameTeamDrive": {
              "description": "Whether the current user can rename this Team Drive.",
              "type": "boolean"
            },
            "canEdit": {
              "description": "Whether the current user can edit files in this Team Drive",
              "type": "boolean"
            },
            "canChangeTeamMembersOnlyRestriction": {
              "type": "boolean",
              "description": "Whether the current user can change the `teamMembersOnly` restriction of this Team Drive."
            },
            "canDownload": {
              "description": "Whether the current user can download files in this Team Drive.",
              "type": "boolean"
            },
            "canChangeSharingFoldersRequiresOrganizerPermissionRestriction": {
              "description": "Whether the current user can change the `sharingFoldersRequiresOrganizerPermission` restriction of this Team Drive.",
              "type": "boolean"
            },
            "canChangeCopyRequiresWriterPermissionRestriction": {
              "description": "Whether the current user can change the `copyRequiresWriterPermission` restriction of this Team Drive.",
              "type": "boolean"
            },
            "canTrashChildren": {
              "description": "Whether the current user can trash children from folders in this Team Drive.",
              "type": "boolean"
            },
            "canListChildren": {
              "type": "boolean",
              "description": "Whether the current user can list the children of folders in this Team Drive."
            },
            "canShare": {
              "description": "Whether the current user can share files or folders in this Team Drive.",
              "type": "boolean"
            }
          },
          "type": "object",
          "description": "Capabilities the current user has on this Team Drive."
        },
        "restrictions": {
          "properties": {
            "domainUsersOnly": {
              "description": "Whether access to this Team Drive and items inside this Team Drive is restricted to users of the domain to which this Team Drive belongs. This restriction may be overridden by other sharing policies controlled outside of this Team Drive.",
              "type": "boolean"
            },
            "copyRequiresWriterPermission": {
              "type": "boolean",
              "description": "Whether the options to copy, print, or download files inside this Team Drive, should be disabled for readers and commenters. When this restriction is set to `true`, it will override the similarly named field to `true` for any file inside this Team Drive."
            },
            "sharingFoldersRequiresOrganizerPermission": {
              "description": "If true, only users with the organizer role can share folders. If false, users with either the organizer role or the file organizer role can share folders.",
              "type": "boolean"
            },
            "adminManagedRestrictions": {
              "description": "Whether administrative privileges on this Team Drive are required to modify restrictions.",
              "type": "boolean"
            },
            "teamMembersOnly": {
              "description": "Whether access to items inside this Team Drive is restricted to members of this Team Drive.",
              "type": "boolean"
            }
          },
          "type": "object",
          "description": "A set of restrictions that apply to this Team Drive or items inside this Team Drive."
        },
        "backgroundImageFile": {
          "properties": {
            "width": {
              "type": "number",
              "format": "float",
              "description": "The width of the cropped image in the closed range of 0 to 1. This value represents the width of the cropped image divided by the width of the entire image. The height is computed by applying a width to height aspect ratio of 80 to 9. The resulting image must be at least 1280 pixels wide and 144 pixels high."
            },
            "yCoordinate": {
              "description": "The Y coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the vertical distance from the top side of the entire image to the top side of the cropping area divided by the height of the entire image.",
              "type": "number",
              "format": "float"
            },
            "id": {
              "description": "The ID of an image file in Drive to use for the background image.",
              "type": "string"
            },
            "xCoordinate": {
              "type": "number",
              "format": "float",
              "description": "The X coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the horizontal distance from the left side of the entire image to the left side of the cropping area divided by the width of the entire image."
            }
          },
          "description": "An image file and cropping parameters from which a background image for this Team Drive is set. This is a write only field; it can only be set on `drive.teamdrives.update` requests that don't set `themeId`. When specified, all fields of the `backgroundImageFile` must be set.",
          "type": "object"
        },
        "id": {
          "type": "string",
          "description": "The ID of this Team Drive which is also the ID of the top level folder of this Team Drive."
        },
        "name": {
          "description": "The name of this Team Drive.",
          "annotations": {
            "required": [
              "drive.teamdrives.insert"
            ]
          },
          "type": "string"
        },
        "orgUnitId": {
          "description": "The organizational unit of this shared drive. This field is only populated on `drives.list` responses when the `useDomainAdminAccess` parameter is set to `true`.",
          "type": "string"
        },
        "createdDate": {
          "format": "date-time",
          "description": "The time at which the Team Drive was created (RFC 3339 date-time).",
          "type": "string"
        },
        "kind": {
          "default": "drive#teamDrive",
          "description": "This is always `drive#teamDrive`",
          "type": "string"
        },
        "colorRgb": {
          "description": "The color of this Team Drive as an RGB hex string. It can only be set on a `drive.teamdrives.update` request that does not set `themeId`.",
          "type": "string"
        },
        "backgroundImageLink": {
          "type": "string",
          "description": "A short-lived link to this Team Drive's background image."
        },
        "themeId": {
          "type": "string",
          "description": "The ID of the theme from which the background image and color will be set. The set of possible `teamDriveThemes` can be retrieved from a `drive.about.get` response. When not specified on a `drive.teamdrives.insert` request, a random theme is chosen from which the background image and color are set. This is a write-only field; it can only be set on requests that don't set `colorRgb` or `backgroundImageFile`."
        }
      }
    },
    "LabelFieldModification": {
      "id": "LabelFieldModification",
      "properties": {
        "setUserValues": {
          "description": "Replaces a `user` field with these new values. The values must be valid email addresses.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "setSelectionValues": {
          "type": "array",
          "description": "Replaces a `selection` field with these new values.",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "default": "drive#labelFieldModification",
          "type": "string",
          "description": "This is always `drive#labelFieldModification`."
        },
        "fieldId": {
          "description": "The ID of the field to be modified.",
          "type": "string"
        },
        "setDateValues": {
          "description": "Replaces the value of a dateString Field with these new values. The string must be in the RFC 3339 full-date format: YYYY-MM-DD.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "date"
          }
        },
        "unsetValues": {
          "type": "boolean",
          "description": "Unsets the values for this field."
        },
        "setIntegerValues": {
          "type": "array",
          "description": "Replaces the value of an `integer` field with these new values.",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "setTextValues": {
          "description": "Sets the value of a `text` field.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "A modification to a label's field.",
      "type": "object"
    },
    "Revision": {
      "description": "A revision of a file. Some resource methods (such as `revisions.update`) require a `revisionId`. Use the `revisions.list` method to retrieve the ID for a revision.",
      "properties": {
        "lastModifyingUserName": {
          "type": "string",
          "description": "Output only. Name of the last user to modify this revision."
        },
        "publishedLink": {
          "description": "Output only. A link to the published revision. This is only populated for Docs Editors files.",
          "type": "string"
        },
        "pinned": {
          "description": "Whether this revision is pinned to prevent automatic purging. If not set, the revision is automatically purged 30 days after newer content is uploaded. This field can only be modified on files with content stored in Drive, excluding Docs Editors files. Revisions can also be pinned when they are created through the drive.files.insert/update/copy by using the pinned query parameter. Pinned revisions are stored indefinitely using additional storage quota, up to a maximum of 200 revisions.",
          "type": "boolean"
        },
        "fileSize": {
          "format": "int64",
          "description": "Output only. The size of the revision in bytes. This will only be populated on files with content stored in Drive.",
          "type": "string"
        },
        "selfLink": {
          "type": "string",
          "description": "Output only. A link back to this revision."
        },
        "mimeType": {
          "type": "string",
          "description": "Output only. The MIME type of the revision."
        },
        "etag": {
          "description": "Output only. The ETag of the revision.",
          "type": "string"
        },
        "modifiedDate": {
          "format": "date-time",
          "description": "Last time this revision was modified (formatted RFC 3339 timestamp).",
          "type": "string"
        },
        "exportLinks": {
          "description": "Output only. Links for exporting Docs Editors files to specific formats.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "md5Checksum": {
          "type": "string",
          "description": "Output only. An MD5 checksum for the content of this revision. This will only be populated on files with content stored in Drive."
        },
        "publishAuto": {
          "description": "Whether subsequent revisions will be automatically republished. This is only populated and can only be modified for Docs Editors files.",
          "type": "boolean"
        },
        "publishedOutsideDomain": {
          "description": "Whether this revision is published outside the domain. This is only populated and can only be modified for Docs Editors files.",
          "type": "boolean"
        },
        "published": {
          "description": "Whether this revision is published. This is only populated and can only be modified for Docs Editors files.",
          "type": "boolean"
        },
        "originalFilename": {
          "description": "Output only. The original filename when this revision was created. This will only be populated on files with content stored in Drive.",
          "type": "string"
        },
        "lastModifyingUser": {
          "description": "Output only. The last user to modify this revision. This field is only populated when the last modification was performed by a signed-in user.",
          "$ref": "User"
        },
        "id": {
          "description": "Output only. The ID of the revision.",
          "type": "string"
        },
        "downloadUrl": {
          "description": "Output only. Short term download URL for the file. This will only be populated on files with content stored in Drive.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "drive#revision",
          "description": "Output only. This is always `drive#revision`."
        }
      },
      "id": "Revision",
      "type": "object"
    },
    "RevisionList": {
      "type": "object",
      "description": "A list of revisions of a file.",
      "id": "RevisionList",
      "properties": {
        "kind": {
          "type": "string",
          "default": "drive#revisionList",
          "description": "This is always `drive#revisionList`."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The page token for the next page of revisions. This field will be absent if the end of the revisions list has been reached. If the token is rejected for any reason, it should be discarded and pagination should be restarted from the first page of results."
        },
        "selfLink": {
          "description": "A link back to this list.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "Revision"
          },
          "type": "array",
          "description": "The list of revisions. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched."
        },
        "etag": {
          "type": "string",
          "description": "The ETag of the list."
        }
      }
    },
    "User": {
      "description": "Information about a Drive user.",
      "properties": {
        "picture": {
          "description": "Output only. The user's profile picture.",
          "type": "object",
          "properties": {
            "url": {
              "type": "string",
              "description": "Output only. A URL that points to a profile picture of this user.",
              "readOnly": true
            }
          },
          "readOnly": true
        },
        "permissionId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The user's ID as visible in Permission resources."
        },
        "isAuthenticatedUser": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether this user is the same as the authenticated user for whom the request was made."
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. A plain text displayable name for this user.",
          "type": "string"
        },
        "emailAddress": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The email address of the user. This may not be present in certain contexts if the user has not made their email address visible to the requester."
        },
        "kind": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `drive#user`.",
          "default": "drive#user"
        }
      },
      "id": "User",
      "type": "object"
    },
    "ChangeList": {
      "id": "ChangeList",
      "description": "A list of changes for a user.",
      "properties": {
        "newStartPageToken": {
          "type": "string",
          "description": "The starting page token for future changes. This will be present only if the end of the current changes list has been reached."
        },
        "selfLink": {
          "type": "string",
          "description": "A link back to this list."
        },
        "etag": {
          "description": "The ETag of the list.",
          "type": "string"
        },
        "items": {
          "description": "The list of changes. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "type": "array",
          "items": {
            "$ref": "Change"
          }
        },
        "nextPageToken": {
          "description": "The page token for the next page of changes. This will be absent if the end of the changes list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        },
        "largestChangeId": {
          "format": "int64",
          "description": "The current largest change ID.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `drive#changeList`.",
          "type": "string",
          "default": "drive#changeList"
        },
        "nextLink": {
          "type": "string",
          "description": "A link to the next page of changes."
        }
      },
      "type": "object"
    },
    "FileList": {
      "description": "A list of files.",
      "properties": {
        "nextLink": {
          "type": "string",
          "description": "A link to the next page of files."
        },
        "items": {
          "description": "The list of files. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "items": {
            "$ref": "File"
          },
          "type": "array"
        },
        "kind": {
          "default": "drive#fileList",
          "type": "string",
          "description": "This is always `drive#fileList`."
        },
        "incompleteSearch": {
          "description": "Whether the search process was incomplete. If true, then some search results may be missing, since all documents were not searched. This may occur when searching multiple drives with the \"allDrives\" corpora, but all corpora could not be searched. When this happens, it is suggested that clients narrow their query by choosing a different corpus such as \"default\" or \"drive\".",
          "type": "boolean"
        },
        "nextPageToken": {
          "description": "The page token for the next page of files. This will be absent if the end of the files list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        },
        "selfLink": {
          "type": "string",
          "description": "A link back to this list."
        },
        "etag": {
          "description": "The ETag of the list.",
          "type": "string"
        }
      },
      "id": "FileList",
      "type": "object"
    },
    "ParentReference": {
      "id": "ParentReference",
      "type": "object",
      "description": "A reference to a file's parent. A file can only have one parent folder; specifying multiple parents isn't supported. Some resource methods (such as `parents.get`) require a `parentId`. Use the `parents.list` method to retrieve the ID for a parent.",
      "properties": {
        "isRoot": {
          "type": "boolean",
          "description": "Output only. Whether or not the parent is the root folder."
        },
        "kind": {
          "description": "Output only. This is always `drive#parentReference`.",
          "type": "string",
          "default": "drive#parentReference"
        },
        "parentLink": {
          "type": "string",
          "description": "Output only. A link to the parent."
        },
        "selfLink": {
          "description": "Output only. A link back to this reference.",
          "type": "string"
        },
        "id": {
          "description": "The ID of the parent.",
          "annotations": {
            "required": [
              "drive.parents.insert"
            ]
          },
          "type": "string"
        }
      }
    },
    "Property": {
      "properties": {
        "selfLink": {
          "description": "Output only. The link back to this property.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Output only. This is always `drive#property`.",
          "default": "drive#property"
        },
        "etag": {
          "description": "Output only. ETag of the property.",
          "type": "string"
        },
        "visibility": {
          "type": "string",
          "description": "The visibility of this property. Allowed values are PRIVATE (default) and PUBLIC. Private properties can only be retrieved using an authenticated request. An authenticated request uses an access token obtained with a OAuth 2 client ID. You cannot use an API key to retrieve private properties."
        },
        "value": {
          "description": "The value of this property.",
          "type": "string"
        },
        "key": {
          "type": "string",
          "description": "The key of this property.",
          "annotations": {
            "required": [
              "drive.properties.insert"
            ]
          }
        }
      },
      "description": "A key-value pair attached to a file that is either public or private to an application. The following limits apply to file properties: * Maximum of 100 properties total per file * Maximum of 30 private properties per app * Maximum of 30 public properties * Maximum of 124 bytes size limit on (key + value) string in UTF-8 encoding for a single property Some resource methods (such as `properties.update`) require a `propertyKey`. Use the `properties.list` method to retrieve the key for a property.",
      "id": "Property",
      "type": "object"
    },
    "Permission": {
      "id": "Permission",
      "description": "A permission for a file. A permission grants a user, group, domain, or the world access to a file or a folder hierarchy. Some resource methods (such as `permissions.update`) require a `permissionId`. Use the `permissions.list` method to retrieve the ID for a file, folder, or shared drive.",
      "properties": {
        "role": {
          "annotations": {
            "required": [
              "drive.permissions.insert"
            ]
          },
          "type": "string",
          "description": "The primary role for this user. While new values may be supported in the future, the following are currently allowed: * `owner` * `organizer` * `fileOrganizer` * `writer` * `reader`"
        },
        "emailAddress": {
          "type": "string",
          "description": "Output only. The email address of the user or group this permission refers to. This is an output-only field which is present when the permission type is `user` or `group`."
        },
        "deleted": {
          "description": "Output only. Whether the account associated with this permission has been deleted. This field only pertains to user and group permissions.",
          "type": "boolean"
        },
        "name": {
          "description": "Output only. The name for this permission.",
          "type": "string"
        },
        "kind": {
          "description": "Output only. This is always `drive#permission`.",
          "default": "drive#permission",
          "type": "string"
        },
        "view": {
          "description": "Indicates the view for this permission. Only populated for permissions that belong to a view. published and metadata are the only supported values. - published: The permission's role is published_reader. - metadata: The item is only visible to the metadata view because the item has limited access and the scope has at least read access to the parent. Note: The metadata view is currently only supported on folders. ",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "The email address or domain name for the entity. This is used during inserts and is not populated in responses. When making a `drive.permissions.insert` request, exactly one of the `id` or `value` fields must be specified unless the permission type is `anyone`, in which case both `id` and `value` are ignored."
        },
        "domain": {
          "type": "string",
          "description": "Output only. The domain name of the entity this permission refers to. This is an output-only field which is present when the permission type is `user`, `group` or `domain`."
        },
        "withLink": {
          "description": "Whether the link is required for this permission.",
          "type": "boolean"
        },
        "additionalRoles": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Additional roles for this user. Only `commenter` is currently allowed, though more may be supported in the future."
        },
        "pendingOwner": {
          "description": "Whether the account associated with this permission is a pending owner. Only populated for `user` type permissions for files that are not in a shared drive.",
          "type": "boolean"
        },
        "authKey": {
          "deprecated": true,
          "description": "Output only. Deprecated.",
          "type": "string"
        },
        "permissionDetails": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Details of whether the permissions on this item are inherited or directly on this item.",
          "items": {
            "type": "object",
            "properties": {
              "inherited": {
                "type": "boolean",
                "description": "Output only. Whether this permission is inherited. This field is always populated."
              },
              "inheritedFrom": {
                "description": "Output only. The ID of the item from which this permission is inherited. This is only populated for items in shared drives.",
                "type": "string"
              },
              "additionalRoles": {
                "items": {
                  "type": "string"
                },
                "description": "Output only. Additional roles for this user. Only `commenter` is currently possible, though more may be supported in the future.",
                "type": "array"
              },
              "permissionType": {
                "type": "string",
                "description": "Output only. The permission type for this user. While new values may be added in future, the following are currently possible: * `file` * `member`"
              },
              "role": {
                "description": "Output only. The primary role for this user. While new values may be added in the future, the following are currently possible: * `organizer` * `fileOrganizer` * `writer` * `reader`",
                "type": "string"
              }
            }
          }
        },
        "id": {
          "type": "string",
          "description": "The ID of the user this permission refers to, and identical to the `permissionId` in the About and Files resources. When making a `drive.permissions.insert` request, exactly one of the `id` or `value` fields must be specified unless the permission type is `anyone`, in which case both `id` and `value` are ignored."
        },
        "expirationDate": {
          "description": "The time at which this permission will expire (RFC 3339 date-time). Expiration dates have the following restrictions: - They can only be set on user and group permissions - The date must be in the future - The date cannot be more than a year in the future - The date can only be set on drive.permissions.update or drive.permissions.patch requests",
          "type": "string",
          "format": "date-time"
        },
        "type": {
          "type": "string",
          "description": "The account type. Allowed values are: * `user` * `group` * `domain` * `anyone`",
          "annotations": {
            "required": [
              "drive.permissions.insert"
            ]
          }
        },
        "photoLink": {
          "type": "string",
          "description": "Output only. A link to the profile photo, if available."
        },
        "inheritedPermissionsDisabled": {
          "description": "When true, only organizers, owners, and users with permissions added directly on the item can access it.",
          "type": "boolean"
        },
        "selfLink": {
          "description": "Output only. A link back to this permission.",
          "type": "string"
        },
        "teamDrivePermissionDetails": {
          "deprecated": true,
          "items": {
            "type": "object",
            "properties": {
              "teamDrivePermissionType": {
                "deprecated": true,
                "description": "Output only. Deprecated: Use `permissionDetails/permissionType` instead.",
                "type": "string"
              },
              "role": {
                "description": "Output only. Deprecated: Use `permissionDetails/role` instead.",
                "deprecated": true,
                "type": "string"
              },
              "additionalRoles": {
                "description": "Output only. Deprecated: Use `permissionDetails/additionalRoles` instead.",
                "type": "array",
                "items": {
                  "type": "string"
                },
                "deprecated": true
              },
              "inheritedFrom": {
                "description": "Output only. Deprecated: Use `permissionDetails/inheritedFrom` instead.",
                "deprecated": true,
                "type": "string"
              },
              "inherited": {
                "type": "boolean",
                "description": "Output only. Deprecated: Use `permissionDetails/inherited` instead.",
                "deprecated": true
              }
            }
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. Deprecated: Use `permissionDetails` instead."
        },
        "etag": {
          "description": "Output only. The ETag of the permission.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ModifyLabelsRequest": {
      "id": "ModifyLabelsRequest",
      "description": "A request to modify the set of labels on a file. This request may contain many modifications that will either all succeed or all fail atomically.",
      "type": "object",
      "properties": {
        "kind": {
          "default": "drive#modifyLabelsRequest",
          "type": "string",
          "description": "This is always `drive#modifyLabelsRequest`."
        },
        "labelModifications": {
          "items": {
            "$ref": "LabelModification"
          },
          "type": "array",
          "description": "The list of modifications to apply to the labels on the file."
        }
      }
    },
    "ContentRestriction": {
      "id": "ContentRestriction",
      "properties": {
        "systemRestricted": {
          "description": "Output only. Whether the content restriction was applied by the system, for example due to an esignature. Users cannot modify or remove system restricted content restrictions.",
          "type": "boolean"
        },
        "readOnly": {
          "type": "boolean",
          "description": "Whether the content of the file is read-only. If a file is read-only, a new revision of the file may not be added, comments may not be added or modified, and the title of the file may not be modified."
        },
        "reason": {
          "type": "string",
          "description": "Reason for why the content of the file is restricted. This is only mutable on requests that also set `readOnly=true`."
        },
        "ownerRestricted": {
          "type": "boolean",
          "description": "Whether the content restriction can only be modified or removed by a user who owns the file. For files in shared drives, any user with `organizer` capabilities can modify or remove this content restriction."
        },
        "restrictingUser": {
          "$ref": "User",
          "description": "Output only. The user who set the content restriction. Only populated if `readOnly` is true."
        },
        "type": {
          "type": "string",
          "description": "Output only. The type of the content restriction. Currently the only possible value is `globalContentRestriction`."
        },
        "restrictionDate": {
          "description": "The time at which the content restriction was set (formatted RFC 3339 timestamp). Only populated if readOnly is true.",
          "type": "string",
          "format": "date-time"
        }
      },
      "type": "object",
      "description": "A restriction for accessing the content of the file."
    },
    "ModifyLabelsResponse": {
      "description": "Response to a ModifyLabels request. This contains only those labels which were added or updated by the request.",
      "properties": {
        "modifiedLabels": {
          "description": "The list of labels which were added or updated by the request.",
          "items": {
            "$ref": "Label"
          },
          "type": "array"
        },
        "kind": {
          "description": "This is always `drive#modifyLabelsResponse`",
          "type": "string",
          "default": "drive#modifyLabelsResponse"
        }
      },
      "id": "ModifyLabelsResponse",
      "type": "object"
    },
    "CommentReply": {
      "type": "object",
      "id": "CommentReply",
      "properties": {
        "content": {
          "description": "The plain text content used to create this reply. This is not HTML safe and should only be used as a starting point to make edits to a reply's content. This field is required on inserts if no verb is specified (resolve/reopen).",
          "annotations": {
            "required": [
              "drive.replies.patch",
              "drive.replies.update"
            ]
          },
          "type": "string"
        },
        "kind": {
          "default": "drive#commentReply",
          "type": "string",
          "description": "This is always drive#commentReply."
        },
        "replyId": {
          "type": "string",
          "description": "The ID of the reply."
        },
        "author": {
          "$ref": "User",
          "description": "The user who wrote this reply."
        },
        "createdDate": {
          "format": "date-time",
          "type": "string",
          "description": "The date when this reply was first created."
        },
        "verb": {
          "description": "The action this reply performed to the parent comment. When creating a new reply this is the action to be perform tSo the parent comment. Possible values are: * `resolve` - To resolve a comment. * `reopen` - To reopen (un-resolve) a comment.",
          "type": "string"
        },
        "htmlContent": {
          "type": "string",
          "description": "HTML formatted content for this reply."
        },
        "deleted": {
          "type": "boolean",
          "description": "Whether this reply has been deleted. If a reply has been deleted the content will be cleared and this will only represent a reply that once existed."
        },
        "modifiedDate": {
          "format": "date-time",
          "type": "string",
          "description": "The date when this reply was last modified."
        }
      },
      "description": "A reply to a comment on a file in Google Drive."
    },
    "GeneratedIds": {
      "description": "A list of generated IDs which can be provided in insert requests",
      "id": "GeneratedIds",
      "properties": {
        "space": {
          "description": "The type of file that can be created with these IDs.",
          "type": "string"
        },
        "kind": {
          "default": "drive#generatedIds",
          "type": "string",
          "description": "This is always `drive#generatedIds`"
        },
        "ids": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The IDs generated for the requesting user in the specified space."
        }
      },
      "type": "object"
    },
    "Channel": {
      "type": "object",
      "properties": {
        "expiration": {
          "description": "Date and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds. Optional.",
          "format": "int64",
          "type": "string"
        },
        "token": {
          "type": "string",
          "description": "An arbitrary string delivered to the target address with each notification delivered over this channel. Optional."
        },
        "resourceUri": {
          "description": "A version-specific identifier for the watched resource.",
          "type": "string"
        },
        "id": {
          "description": "A UUID or similar unique string that identifies this channel.",
          "type": "string"
        },
        "address": {
          "description": "The address where notifications are delivered for this channel.",
          "type": "string"
        },
        "type": {
          "description": "The type of delivery mechanism used for this channel. Valid values are \"web_hook\" or \"webhook\".",
          "type": "string"
        },
        "resourceId": {
          "description": "An opaque ID that identifies the resource being watched on this channel. Stable across different API versions.",
          "type": "string"
        },
        "payload": {
          "description": "A Boolean value to indicate whether payload is wanted. Optional.",
          "type": "boolean"
        },
        "kind": {
          "default": "api#channel",
          "type": "string",
          "description": "Identifies this as a notification channel used to watch for changes to a resource, which is `api#channel`."
        },
        "params": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Additional parameters controlling delivery channel behavior. Optional."
        }
      },
      "description": "A notification channel used to watch for resource changes.",
      "id": "Channel"
    },
    "App": {
      "properties": {
        "primaryFileExtensions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of primary file extensions."
        },
        "supportsMultiOpen": {
          "description": "Whether this app supports opening more than one file.",
          "type": "boolean"
        },
        "objectType": {
          "description": "The type of object this app creates (e.g. Chart). If empty, the app name should be used instead.",
          "type": "string"
        },
        "supportsCreate": {
          "description": "Whether this app supports creating new objects.",
          "type": "boolean"
        },
        "authorized": {
          "type": "boolean",
          "description": "Whether the app is authorized to access data on the user's Drive."
        },
        "createInFolderTemplate": {
          "description": "The template url to create a new file with this app in a given folder. The template will contain {folderId} to be replaced by the folder to create the new file in.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `drive#app`.",
          "type": "string",
          "default": "drive#app"
        },
        "id": {
          "type": "string",
          "description": "The ID of the app."
        },
        "icons": {
          "description": "The various icons for the app.",
          "items": {
            "properties": {
              "iconUrl": {
                "type": "string",
                "description": "URL for the icon."
              },
              "category": {
                "description": "Category of the icon. Allowed values are: * `application` - icon for the application * `document` - icon for a file associated with the app * `documentShared` - icon for a shared file associated with the app",
                "type": "string"
              },
              "size": {
                "type": "integer",
                "description": "Size of the icon. Represented as the maximum of the width and height.",
                "format": "int32"
              }
            },
            "type": "object"
          },
          "type": "array"
        },
        "name": {
          "description": "The name of the app.",
          "type": "string"
        },
        "openUrlTemplate": {
          "description": "The template url for opening files with this app. The template will contain `{ids}` and/or `{exportIds}` to be replaced by the actual file ids. See Open Files for the full documentation.",
          "type": "string"
        },
        "hasDriveWideScope": {
          "type": "boolean",
          "description": "Whether the app has drive-wide scope. An app with drive-wide scope can access all files in the user's drive."
        },
        "primaryMimeTypes": {
          "description": "The list of primary mime types.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "secondaryMimeTypes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of secondary mime types."
        },
        "productId": {
          "type": "string",
          "description": "The ID of the product listing for this app."
        },
        "secondaryFileExtensions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of secondary file extensions."
        },
        "createUrl": {
          "description": "The url to create a new file with this app.",
          "type": "string"
        },
        "supportsImport": {
          "description": "Whether this app supports importing from Docs Editors.",
          "type": "boolean"
        },
        "longDescription": {
          "type": "string",
          "description": "A long description of the app."
        },
        "productUrl": {
          "description": "A link to the product listing for this app.",
          "type": "string"
        },
        "useByDefault": {
          "type": "boolean",
          "description": "Whether the app is selected as the default handler for the types it supports."
        },
        "supportsOfflineCreate": {
          "type": "boolean",
          "description": "Whether this app supports creating new files when offline."
        },
        "shortDescription": {
          "description": "A short description of the app.",
          "type": "string"
        },
        "installed": {
          "description": "Whether the app is installed.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "The apps resource provides a list of the apps that a user has installed, with information about each app's supported MIME types, file extensions, and other details. Some resource methods (such as `apps.get`) require an `appId`. Use the `apps.list` method to retrieve the ID for an installed application.",
      "id": "App"
    },
    "PermissionList": {
      "id": "PermissionList",
      "description": "A list of permissions associated with a file.",
      "properties": {
        "nextPageToken": {
          "description": "The page token for the next page of permissions. This field will be absent if the end of the permissions list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        },
        "selfLink": {
          "description": "A link back to this list.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "The ETag of the list."
        },
        "items": {
          "items": {
            "$ref": "Permission"
          },
          "type": "array",
          "description": "The list of permissions."
        },
        "kind": {
          "description": "This is always `drive#permissionList`.",
          "type": "string",
          "default": "drive#permissionList"
        }
      },
      "type": "object"
    },
    "ClientEncryptionDetails": {
      "type": "object",
      "properties": {
        "decryptionMetadata": {
          "description": "The metadata used for client-side operations.",
          "$ref": "DecryptionMetadata"
        },
        "encryptionState": {
          "description": "The encryption state of the file. The values expected here are: - encrypted - unencrypted ",
          "type": "string"
        }
      },
      "description": "Details about the client-side encryption applied to the file.",
      "id": "ClientEncryptionDetails"
    },
    "TeamDriveList": {
      "id": "TeamDriveList",
      "description": "A list of Team Drives.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always `drive#teamDriveList`",
          "default": "drive#teamDriveList"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The page token for the next page of Team Drives."
        },
        "items": {
          "type": "array",
          "description": "The list of Team Drives.",
          "items": {
            "$ref": "TeamDrive"
          }
        }
      },
      "type": "object"
    },
    "ParentList": {
      "type": "object",
      "properties": {
        "etag": {
          "type": "string",
          "description": "The ETag of the list."
        },
        "selfLink": {
          "description": "A link back to this list.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `drive#parentList`.",
          "type": "string",
          "default": "drive#parentList"
        },
        "items": {
          "description": "The list of parents.",
          "type": "array",
          "items": {
            "$ref": "ParentReference"
          }
        }
      },
      "description": "A list of a file's parents.",
      "id": "ParentList"
    },
    "Comment": {
      "description": "A comment on a file in Google Drive.",
      "properties": {
        "modifiedDate": {
          "description": "The date when this comment or any of its replies were last modified.",
          "format": "date-time",
          "type": "string"
        },
        "author": {
          "description": "The user who wrote this comment.",
          "$ref": "User"
        },
        "selfLink": {
          "description": "A link back to this comment.",
          "type": "string"
        },
        "fileTitle": {
          "description": "The title of the file which this comment is addressing.",
          "type": "string"
        },
        "status": {
          "description": "The status of this comment. Status can be changed by posting a reply to a comment with the desired status. Possible values are: * `open` - The comment is still open. * `resolved` - The comment has been resolved by one of its replies.",
          "type": "string"
        },
        "anchor": {
          "description": "A region of the document represented as a JSON string. For details on defining anchor properties, refer to [Manage comments and replies](https://developers.google.com/workspace/drive/api/v3/manage-comments).",
          "type": "string"
        },
        "content": {
          "description": "The plain text content used to create this comment. This is not HTML safe and should only be used as a starting point to make edits to a comment's content.",
          "type": "string",
          "annotations": {
            "required": [
              "drive.comments.insert",
              "drive.comments.patch",
              "drive.comments.update"
            ]
          }
        },
        "context": {
          "properties": {
            "value": {
              "description": "Data representation of the segment of the file being commented on. In the case of a text file for example, this would be the actual text that the comment is about.",
              "type": "string"
            },
            "type": {
              "type": "string",
              "description": "The MIME type of the context snippet."
            }
          },
          "type": "object",
          "description": "Context of a file which is being commented on."
        },
        "htmlContent": {
          "description": "HTML formatted content for this comment.",
          "type": "string"
        },
        "replies": {
          "description": "Replies to this post.",
          "items": {
            "$ref": "CommentReply"
          },
          "type": "array"
        },
        "deleted": {
          "type": "boolean",
          "description": "Whether this comment has been deleted. If a comment has been deleted the content will be cleared and this will only represent a comment that once existed."
        },
        "fileId": {
          "type": "string",
          "description": "The file which this comment is addressing."
        },
        "kind": {
          "description": "This is always drive#comment.",
          "default": "drive#comment",
          "type": "string"
        },
        "commentId": {
          "type": "string",
          "description": "The ID of the comment."
        },
        "createdDate": {
          "type": "string",
          "description": "The date when this comment was first created.",
          "format": "date-time"
        }
      },
      "type": "object",
      "id": "Comment"
    },
    "DriveList": {
      "properties": {
        "kind": {
          "description": "This is always `drive#driveList`",
          "type": "string",
          "default": "drive#driveList"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The page token for the next page of shared drives. This will be absent if the end of the list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results."
        },
        "items": {
          "items": {
            "$ref": "Drive"
          },
          "description": "The list of shared drives. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "DriveList",
      "description": "A list of shared drives."
    },
    "GenerateCseTokenResponse": {
      "id": "GenerateCseTokenResponse",
      "type": "object",
      "description": "JWT and associated metadata used to generate CSE files.",
      "properties": {
        "jwt": {
          "description": "The signed JSON Web Token (JWT) for the file.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#generateCseTokenResponse\"`."
        },
        "fileId": {
          "type": "string",
          "description": "The fileId for which the JWT was generated."
        },
        "currentKaclsId": {
          "format": "int64",
          "type": "string",
          "description": "The current Key ACL Service (KACLS) ID associated with the JWT."
        },
        "currentKaclsName": {
          "type": "string",
          "description": "Name of the KACLs that the returned KACLs ID points to."
        }
      }
    },
    "AppList": {
      "properties": {
        "kind": {
          "description": "This is always `drive#appList`.",
          "type": "string",
          "default": "drive#appList"
        },
        "defaultAppIds": {
          "description": "List of app IDs that the user has specified to use by default. The list is in reverse-priority order (lowest to highest).",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "items": {
          "items": {
            "$ref": "App"
          },
          "description": "The list of apps.",
          "type": "array"
        },
        "selfLink": {
          "description": "A link back to this list.",
          "type": "string"
        },
        "etag": {
          "description": "The ETag of the list.",
          "type": "string"
        }
      },
      "description": "A list of third-party applications which the user has installed or given access to Google Drive.",
      "type": "object",
      "id": "AppList"
    },
    "File": {
      "description": "The metadata for a file. Some resource methods (such as `files.update`) require a `fileId`. Use the `files.list` method to retrieve the ID for a file.",
      "properties": {
        "capabilities": {
          "type": "object",
          "description": "Output only. Capabilities the current user has on this file. Each capability corresponds to a fine-grained action that a user may take.",
          "properties": {
            "canModifyOwnerContentRestriction": {
              "type": "boolean",
              "description": "Output only. Whether the current user can add or modify content restrictions which are owner restricted."
            },
            "canMoveItemOutOfDrive": {
              "type": "boolean",
              "description": "Output only. Whether the current user can move this item outside of this drive by changing its parent. Note that a request to change the parent of the item may still fail depending on the new parent that is being added."
            },
            "canEnableInheritedPermissions": {
              "description": "Output only. Whether a user can re-enable inherited permissions.",
              "type": "boolean",
              "readOnly": true
            },
            "canListChildren": {
              "description": "Output only. Whether the current user can list the children of this folder. This is always false when the item is not a folder.",
              "type": "boolean"
            },
            "canEdit": {
              "description": "Output only. Whether the current user can edit this file. Other factors may limit the type of changes a user can make to a file. For example, see `canChangeCopyRequiresWriterPermission` or `canModifyContent`.",
              "type": "boolean"
            },
            "canRemoveMyDriveParent": {
              "type": "boolean",
              "description": "Output only. Whether the current user can remove a parent from the item without adding another parent in the same request. Not populated for shared drive files."
            },
            "canMoveChildrenWithinDrive": {
              "type": "boolean",
              "description": "Output only. Whether the current user can move children of this folder within this drive. This is false when the item is not a folder. Note that a request to move the child may still fail depending on the current user's access to the child and to the destination folder."
            },
            "canComment": {
              "description": "Output only. Whether the current user can comment on this file.",
              "type": "boolean"
            },
            "canReadDrive": {
              "description": "Output only. Whether the current user can read the shared drive to which this file belongs. Only populated for items in shared drives.",
              "type": "boolean"
            },
            "canTrash": {
              "type": "boolean",
              "description": "Output only. Whether the current user can move this file to trash."
            },
            "canMoveChildrenOutOfDrive": {
              "description": "Output only. Whether the current user can move children of this folder outside of the shared drive. This is false when the item is not a folder. Only populated for items in shared drives.",
              "type": "boolean"
            },
            "canAddMyDriveParent": {
              "description": "Output only. Whether the current user can add a parent for the item without removing an existing parent in the same request. Not populated for shared drive files.",
              "type": "boolean"
            },
            "canChangeCopyRequiresWriterPermission": {
              "type": "boolean",
              "description": "Output only. Whether the current user can change the `copyRequiresWriterPermission` restriction of this file."
            },
            "canDelete": {
              "description": "Output only. Whether the current user can delete this file.",
              "type": "boolean"
            },
            "canCopy": {
              "description": "Output only. Whether the current user can copy this file. For an item in a shared drive, whether the current user can copy non-folder descendants of this item, or this item itself if it is not a folder.",
              "type": "boolean"
            },
            "canModifyLabels": {
              "description": "Output only. Whether the current user can modify the labels on the file.",
              "type": "boolean"
            },
            "canModifyEditorContentRestriction": {
              "description": "Output only. Whether the current user can add or modify content restrictions on the file which are editor restricted.",
              "type": "boolean"
            },
            "canModifyContentRestriction": {
              "type": "boolean",
              "description": "Deprecated: Output only. Use one of `canModifyEditorContentRestriction`, `canModifyOwnerContentRestriction` or `canRemoveContentRestriction`.",
              "deprecated": true
            },
            "canMoveTeamDriveItem": {
              "deprecated": true,
              "description": "Output only. Deprecated: Use `canMoveItemWithinDrive` or `canMoveItemOutOfDrive` instead.",
              "type": "boolean"
            },
            "canUntrash": {
              "description": "Output only. Whether the current user can restore this file from trash.",
              "type": "boolean"
            },
            "canTrashChildren": {
              "description": "Output only. Whether the current user can trash children of this folder. This is false when the item is not a folder. Only populated for items in shared drives.",
              "type": "boolean"
            },
            "canMoveChildrenOutOfTeamDrive": {
              "deprecated": true,
              "type": "boolean",
              "description": "Output only. Deprecated: Use `canMoveChildrenOutOfDrive` instead."
            },
            "canAcceptOwnership": {
              "type": "boolean",
              "description": "Output only. Whether the current user is the pending owner of the file. Not populated for shared drive files."
            },
            "canRename": {
              "description": "Output only. Whether the current user can rename this file.",
              "type": "boolean"
            },
            "canMoveItemWithinDrive": {
              "type": "boolean",
              "description": "Output only. Whether the current user can move this item within this drive. Note that a request to change the parent of the item may still fail depending on the new parent that is being added and the parent that is being removed."
            },
            "canReadLabels": {
              "description": "Output only. Whether the current user can read the labels on the file.",
              "type": "boolean"
            },
            "canChangeRestrictedDownload": {
              "type": "boolean",
              "description": "Output only. Deprecated.",
              "deprecated": true
            },
            "canMoveChildrenWithinTeamDrive": {
              "type": "boolean",
              "description": "Output only. Deprecated: Use `canMoveChildrenWithinDrive` instead.",
              "deprecated": true
            },
            "canChangeSecurityUpdateEnabled": {
              "description": "Output only. Whether the current user can change the securityUpdateEnabled field on link share metadata.",
              "type": "boolean"
            },
            "canAddChildren": {
              "description": "Output only. Whether the current user can add children to this folder. This is always false when the item is not a folder.",
              "type": "boolean"
            },
            "canDownload": {
              "description": "Output only. Whether the current user can download this file.",
              "type": "boolean"
            },
            "canDisableInheritedPermissions": {
              "description": "Output only. Whether a user can disable inherited permissions.",
              "type": "boolean",
              "readOnly": true
            },
            "canModifyContent": {
              "type": "boolean",
              "description": "Output only. Whether the current user can modify the content of this file."
            },
            "canShare": {
              "type": "boolean",
              "description": "Output only. Whether the current user can modify the sharing settings for this file."
            },
            "canMoveItemWithinTeamDrive": {
              "deprecated": true,
              "description": "Output only. Deprecated: Use `canMoveItemWithinDrive` instead.",
              "type": "boolean"
            },
            "canAddFolderFromAnotherDrive": {
              "type": "boolean",
              "description": "Output only. Whether the current user can add a folder from another drive (different shared drive or My Drive) to this folder. This is false when the item is not a folder. Only populated for items in shared drives."
            },
            "canRemoveContentRestriction": {
              "type": "boolean",
              "description": "Output only. Whether there is a content restriction on the file that can be removed by the current user."
            },
            "canReadTeamDrive": {
              "deprecated": true,
              "description": "Output only. Deprecated: Use `canReadDrive` instead.",
              "type": "boolean"
            },
            "canDeleteChildren": {
              "description": "Output only. Whether the current user can delete children of this folder. This is false when the item is not a folder. Only populated for items in shared drives.",
              "type": "boolean"
            },
            "canReadRevisions": {
              "type": "boolean",
              "description": "Output only. Whether the current user can read the revisions resource of this file. For a shared drive item, whether revisions of non-folder descendants of this item, or this item itself if it is not a folder, can be read."
            },
            "canMoveItemOutOfTeamDrive": {
              "description": "Output only. Deprecated: Use `canMoveItemOutOfDrive` instead.",
              "type": "boolean",
              "deprecated": true
            },
            "canMoveItemIntoTeamDrive": {
              "type": "boolean",
              "description": "Output only. Deprecated: Use `canMoveItemOutOfDrive` instead.",
              "deprecated": true
            },
            "canRemoveChildren": {
              "description": "Output only. Whether the current user can remove children from this folder. This is always false when the item is not a folder. For a folder in a shared drive, use `canDeleteChildren` or `canTrashChildren` instead.",
              "type": "boolean"
            }
          }
        },
        "explicitlyTrashed": {
          "description": "Output only. Whether this file has been explicitly trashed, as opposed to recursively trashed.",
          "type": "boolean"
        },
        "lastViewedByMeDate": {
          "format": "date-time",
          "type": "string",
          "description": "Last time this file was viewed by the user (formatted RFC 3339 timestamp)."
        },
        "exportLinks": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. Links for exporting Docs Editors files to specific formats.",
          "readOnly": true,
          "type": "object"
        },
        "driveId": {
          "description": "Output only. ID of the shared drive the file resides in. Only populated for items in shared drives.",
          "type": "string"
        },
        "webContentLink": {
          "type": "string",
          "description": "Output only. A link for downloading the content of the file in a browser using cookie based authentication. In cases where the content is shared publicly, the content can be downloaded without any credentials."
        },
        "title": {
          "type": "string",
          "description": "The title of this file. Note that for immutable items such as the top level folders of shared drives, My Drive root folder, and Application Data folder the title is constant."
        },
        "modifiedByMeDate": {
          "description": "Last time this file was modified by the user (formatted RFC 3339 timestamp). Note that setting modifiedDate will also update the modifiedByMe date for the user which set the date.",
          "type": "string",
          "format": "date-time"
        },
        "inheritedPermissionsDisabled": {
          "description": "Whether this file has inherited permissions disabled. Inherited permissions are enabled by default.",
          "type": "boolean"
        },
        "openWithLinks": {
          "description": "Output only. A map of the id of each of the user's apps to a link to open this file with that app. Only populated when the drive.apps.readonly scope is used.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "modifiedDate": {
          "type": "string",
          "description": "Last time this file was modified by anyone (formatted RFC 3339 timestamp). This is only mutable on update when the setModifiedDate parameter is set.",
          "format": "date-time"
        },
        "trashingUser": {
          "description": "Output only. If the file has been explicitly trashed, the user who trashed it. Only populated for items in shared drives.",
          "$ref": "User"
        },
        "originalFilename": {
          "description": "The original filename of the uploaded content if available, or else the original value of the `title` field. This is only available for files with binary content in Google Drive.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The ID of the file."
        },
        "owners": {
          "description": "Output only. The owner of this file. Only certain legacy files may have more than one owner. This field isn't populated for items in shared drives.",
          "type": "array",
          "items": {
            "$ref": "User"
          }
        },
        "folderColorRgb": {
          "description": "Folder color as an RGB hex string if the file is a folder or a shortcut to a folder. The list of supported colors is available in the folderColorPalette field of the About resource. If an unsupported color is specified, it will be changed to the closest color in the palette.",
          "type": "string"
        },
        "headRevisionId": {
          "type": "string",
          "description": "Output only. The ID of the file's head revision. This field is only populated for files with content stored in Google Drive; it is not populated for Docs Editors or shortcut files."
        },
        "fileExtension": {
          "type": "string",
          "description": "Output only. The final component of `fullFileExtension` with trailing text that does not appear to be part of the extension removed. This field is only populated for files with content stored in Google Drive; it is not populated for Docs Editors or shortcut files."
        },
        "embedLink": {
          "description": "Output only. A link for embedding the file.",
          "type": "string"
        },
        "shareable": {
          "type": "boolean",
          "description": "Output only. Deprecated: Use `capabilities/canShare` instead.",
          "deprecated": true
        },
        "etag": {
          "type": "string",
          "description": "Output only. ETag of the file."
        },
        "appDataContents": {
          "description": "Output only. Whether this file is in the Application Data folder.",
          "type": "boolean"
        },
        "labelInfo": {
          "type": "object",
          "properties": {
            "labels": {
              "description": "Output only. The set of labels on the file as requested by the label IDs in the `includeLabels` parameter. By default, no labels are returned.",
              "type": "array",
              "items": {
                "$ref": "Label"
              }
            }
          },
          "description": "Output only. An overview of the labels on the file."
        },
        "lastModifyingUserName": {
          "type": "string",
          "description": "Output only. Name of the last user to modify this file."
        },
        "permissions": {
          "description": "Output only. The list of permissions for users with access to this file. Not populated for items in shared drives.",
          "type": "array",
          "items": {
            "$ref": "Permission"
          }
        },
        "trashedDate": {
          "format": "date-time",
          "description": "The time that the item was trashed (formatted RFC 3339 timestamp). Only populated for items in shared drives.",
          "type": "string"
        },
        "videoMediaMetadata": {
          "type": "object",
          "properties": {
            "height": {
              "description": "Output only. The height of the video in pixels.",
              "type": "integer",
              "format": "int32"
            },
            "width": {
              "format": "int32",
              "description": "Output only. The width of the video in pixels.",
              "type": "integer"
            },
            "durationMillis": {
              "format": "int64",
              "type": "string",
              "description": "Output only. The duration of the video in milliseconds."
            }
          },
          "description": "Output only. Metadata about video media. This will only be present for video types."
        },
        "kind": {
          "description": "Output only. The type of file. This is always `drive#file`.",
          "type": "string",
          "default": "drive#file"
        },
        "copyable": {
          "deprecated": true,
          "description": "Output only. Deprecated: Use `capabilities/canCopy` instead.",
          "type": "boolean"
        },
        "createdDate": {
          "description": "Create time for this file (formatted RFC 3339 timestamp).",
          "format": "date-time",
          "type": "string"
        },
        "hasAugmentedPermissions": {
          "description": "Output only. Whether there are permissions directly on this file. This field is only populated for items in shared drives.",
          "type": "boolean"
        },
        "linkShareMetadata": {
          "properties": {
            "securityUpdateEligible": {
              "type": "boolean",
              "description": "Output only. Whether the file is eligible for security update."
            },
            "securityUpdateEnabled": {
              "description": "Output only. Whether the security update is enabled for this file.",
              "type": "boolean"
            }
          },
          "description": "Contains details about the link URLs that clients are using to refer to this item.",
          "type": "object"
        },
        "imageMediaMetadata": {
          "description": "Output only. Metadata about image media. This will only be present for image types, and its contents will depend on what can be parsed from the image content.",
          "properties": {
            "cameraModel": {
              "type": "string",
              "description": "Output only. The model of the camera used to create the photo."
            },
            "exposureTime": {
              "description": "Output only. The length of the exposure, in seconds.",
              "type": "number",
              "format": "float"
            },
            "subjectDistance": {
              "type": "integer",
              "description": "Output only. The distance to the subject of the photo, in meters.",
              "format": "int32"
            },
            "meteringMode": {
              "type": "string",
              "description": "Output only. The metering mode used to create the photo."
            },
            "width": {
              "type": "integer",
              "format": "int32",
              "description": "Output only. The width of the image in pixels."
            },
            "focalLength": {
              "format": "float",
              "description": "Output only. The focal length used to create the photo, in millimeters.",
              "type": "number"
            },
            "cameraMake": {
              "description": "Output only. The make of the camera used to create the photo.",
              "type": "string"
            },
            "colorSpace": {
              "type": "string",
              "description": "Output only. The color space of the photo."
            },
            "whiteBalance": {
              "description": "Output only. The white balance mode used to create the photo.",
              "type": "string"
            },
            "exposureMode": {
              "description": "Output only. The exposure mode used to create the photo.",
              "type": "string"
            },
            "location": {
              "description": "Output only. Geographic location information stored in the image.",
              "properties": {
                "altitude": {
                  "format": "double",
                  "description": "Output only. The altitude stored in the image.",
                  "type": "number"
                },
                "longitude": {
                  "format": "double",
                  "type": "number",
                  "description": "Output only. The longitude stored in the image."
                },
                "latitude": {
                  "description": "Output only. The latitude stored in the image.",
                  "type": "number",
                  "format": "double"
                }
              },
              "type": "object"
            },
            "height": {
              "type": "integer",
              "description": "Output only. The height of the image in pixels.",
              "format": "int32"
            },
            "date": {
              "type": "string",
              "description": "Output only. The date and time the photo was taken (EXIF format timestamp)."
            },
            "maxApertureValue": {
              "description": "Output only. The smallest f-number of the lens at the focal length used to create the photo (APEX value).",
              "format": "float",
              "type": "number"
            },
            "rotation": {
              "type": "integer",
              "format": "int32",
              "description": "Output only. The number of clockwise 90 degree rotations applied from the image's original orientation."
            },
            "aperture": {
              "format": "float",
              "type": "number",
              "description": "Output only. The aperture used to create the photo (f-number)."
            },
            "exposureBias": {
              "format": "float",
              "type": "number",
              "description": "Output only. The exposure bias of the photo (APEX value)."
            },
            "isoSpeed": {
              "description": "Output only. The ISO speed used to create the photo.",
              "format": "int32",
              "type": "integer"
            },
            "flashUsed": {
              "description": "Output only. Whether a flash was used to create the photo.",
              "type": "boolean"
            },
            "sensor": {
              "type": "string",
              "description": "Output only. The type of sensor used to create the photo."
            },
            "lens": {
              "description": "Output only. The lens used to create the photo.",
              "type": "string"
            }
          },
          "type": "object"
        },
        "sha1Checksum": {
          "description": "Output only. The SHA1 checksum associated with this file, if available. This field is only populated for files with content stored in Google Drive; it is not populated for Docs Editors or shortcut files.",
          "type": "string"
        },
        "resourceKey": {
          "description": "Output only. A key needed to access the item via a shared link.",
          "type": "string"
        },
        "labels": {
          "properties": {
            "modified": {
              "type": "boolean",
              "description": "Output only. Whether the file has been modified by this user."
            },
            "restricted": {
              "description": "Output only. Deprecated: Use `copyRequiresWriterPermission` instead.",
              "deprecated": true,
              "type": "boolean"
            },
            "hidden": {
              "description": "Output only. Deprecated.",
              "type": "boolean",
              "deprecated": true
            },
            "starred": {
              "description": "Whether this file is starred by the user.",
              "type": "boolean"
            },
            "trashed": {
              "description": "Whether this file has been trashed. This label applies to all users accessing the file; however, only owners are allowed to see and untrash files.",
              "type": "boolean"
            },
            "viewed": {
              "description": "Whether this file has been viewed by this user.",
              "type": "boolean"
            }
          },
[...]
