{
  "discoveryVersion": "v1",
  "resources": {
    "operations": {
      "methods": {
        "get": {
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "GET",
          "flatPath": "operations/{name}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
          "id": "drive.operations.get",
          "parameterOrder": [
            "name"
          ],
          "path": "operations/{name}",
          "parameters": {
            "name": {
              "description": "The name of the operation resource.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          }
        }
      }
    },
    "drives": {
      "methods": {
        "create": {
          "response": {
            "$ref": "Drive"
          },
          "description": "Creates a shared drive. For more information, see [Manage shared drives](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives).",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "parameterOrder": [
            "requestId"
          ],
          "path": "drives",
          "flatPath": "drives",
          "id": "drive.drives.create",
          "parameters": {
            "requestId": {
              "required": true,
              "description": "Required. An ID, such as a random UUID, which uniquely identifies this user's request for idempotent creation of a shared drive. A repeated request by the same user and with the same request ID will avoid creating duplicates by attempting to create the same shared drive. If the shared drive already exists a 409 error will be returned.",
              "type": "string",
              "location": "query"
            }
          },
          "request": {
            "$ref": "Drive"
          }
        },
        "delete": {
          "parameterOrder": [
            "driveId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "parameters": {
            "useDomainAdminAccess": {
              "type": "boolean",
              "location": "query",
              "default": "false",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the shared drive belongs."
            },
            "driveId": {
              "required": true,
              "location": "path",
              "description": "The ID of the shared drive.",
              "type": "string"
            },
            "allowItemDeletion": {
              "type": "boolean",
              "location": "query",
              "description": "Whether any items inside the shared drive should also be deleted. This option is only supported when `useDomainAdminAccess` is also set to `true`.",
              "default": "false"
            }
          },
          "id": "drive.drives.delete",
          "flatPath": "drives/{driveId}",
          "httpMethod": "DELETE",
          "description": "Permanently deletes a shared drive for which the user is an `organizer`. The shared drive cannot contain any untrashed items. For more information, see [Manage shared drives](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives).",
          "path": "drives/{driveId}"
        },
        "unhide": {
          "flatPath": "drives/{driveId}/unhide",
          "path": "drives/{driveId}/unhide",
          "parameters": {
            "driveId": {
              "required": true,
              "description": "The ID of the shared drive.",
              "type": "string",
              "location": "path"
            }
          },
          "id": "drive.drives.unhide",
          "response": {
            "$ref": "Drive"
          },
          "parameterOrder": [
            "driveId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "description": "Restores a shared drive to the default view. For more information, see [Manage shared drives](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives).",
          "httpMethod": "POST"
        },
        "hide": {
          "description": "Hides a shared drive from the default view. For more information, see [Manage shared drives](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives).",
          "httpMethod": "POST",
          "parameters": {
            "driveId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the shared drive.",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "path": "drives/{driveId}/hide",
          "flatPath": "drives/{driveId}/hide",
          "parameterOrder": [
            "driveId"
          ],
          "response": {
            "$ref": "Drive"
          },
          "id": "drive.drives.hide"
        },
        "get": {
          "path": "drives/{driveId}",
          "description": "Gets a shared drive's metadata by ID. For more information, see [Manage shared drives](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives).",
          "httpMethod": "GET",
          "flatPath": "drives/{driveId}",
          "response": {
            "$ref": "Drive"
          },
          "parameterOrder": [
            "driveId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "id": "drive.drives.get",
          "parameters": {
            "useDomainAdminAccess": {
              "type": "boolean",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the shared drive belongs.",
              "default": "false",
              "location": "query"
            },
            "driveId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the shared drive.",
              "required": true
            }
          }
        },
        "update": {
          "path": "drives/{driveId}",
          "id": "drive.drives.update",
          "httpMethod": "PATCH",
          "parameters": {
            "useDomainAdminAccess": {
              "type": "boolean",
              "location": "query",
              "default": "false",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the shared drive belongs."
            },
            "driveId": {
              "required": true,
              "type": "string",
              "description": "The ID of the shared drive.",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "flatPath": "drives/{driveId}",
          "request": {
            "$ref": "Drive"
          },
          "parameterOrder": [
            "driveId"
          ],
          "response": {
            "$ref": "Drive"
          },
          "description": "Updates the metadata for a shared drive. For more information, see [Manage shared drives](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives)."
        },
        "list": {
          "response": {
            "$ref": "DriveList"
          },
          "path": "drives",
          "parameterOrder": [],
          "parameters": {
            "useDomainAdminAccess": {
              "type": "boolean",
              "description": "Issue the request as a domain administrator; if set to true, then all shared drives of the domain in which the requester is an administrator are returned.",
              "default": "false",
              "location": "query"
            },
            "pageSize": {
              "default": "10",
              "minimum": "1",
              "type": "integer",
              "maximum": "100",
              "format": "int32",
              "description": "The maximum number of shared drives to return. The service may return fewer than this value. If unspecified, at most 10 shared drives will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
              "location": "query"
            },
            "pageToken": {
              "description": "Page token for shared drives.",
              "type": "string",
              "location": "query"
            },
            "q": {
              "location": "query",
              "type": "string",
              "description": "Query string for searching shared drives."
            }
          },
          "flatPath": "drives",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "id": "drive.drives.list",
          "description": " Lists the user's shared drives. This method accepts the `q` parameter, which is a search query combining one or more search terms. For more information, see the [Search for shared drives](https://developers.google.com/workspace/drive/api/guides/search-shareddrives) guide."
        }
      }
    },
    "comments": {
      "methods": {
        "create": {
          "response": {
            "$ref": "Comment"
          },
          "request": {
            "$ref": "Comment"
          },
          "id": "drive.comments.create",
          "flatPath": "files/{fileId}/comments",
          "path": "files/{fileId}/comments",
          "httpMethod": "POST",
          "parameters": {
            "fileId": {
              "location": "path",
              "description": "The ID of the file.",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameterOrder": [
            "fileId"
          ],
          "description": "Creates a comment on a file. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments). Required: The `fields` parameter must be set. To return the exact fields you need, see [Return specific fields](https://developers.google.com/workspace/drive/api/guides/fields-parameter)."
        },
        "delete": {
          "path": "files/{fileId}/comments/{commentId}",
          "httpMethod": "DELETE",
          "id": "drive.comments.delete",
          "flatPath": "files/{fileId}/comments/{commentId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameters": {
            "commentId": {
              "description": "The ID of the comment.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "fileId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the file.",
              "required": true
            }
          },
          "description": "Deletes a comment. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments).",
          "parameterOrder": [
            "fileId",
            "commentId"
          ]
        },
        "get": {
          "parameters": {
            "includeDeleted": {
              "location": "query",
              "description": "Whether to return deleted comments. Deleted comments will not include their original content.",
              "type": "boolean",
              "default": "false"
            },
            "fileId": {
              "required": true,
              "location": "path",
              "description": "The ID of the file.",
              "type": "string"
            },
            "commentId": {
              "location": "path",
              "required": true,
              "description": "The ID of the comment.",
              "type": "string"
            }
          },
          "path": "files/{fileId}/comments/{commentId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "id": "drive.comments.get",
          "flatPath": "files/{fileId}/comments/{commentId}",
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "response": {
            "$ref": "Comment"
          },
          "description": "Gets a comment by ID. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments). Required: The `fields` parameter must be set. To return the exact fields you need, see [Return specific fields](https://developers.google.com/workspace/drive/api/guides/fields-parameter).",
          "httpMethod": "GET"
        },
        "list": {
          "path": "files/{fileId}/comments",
          "httpMethod": "GET",
          "parameterOrder": [
            "fileId"
          ],
          "description": "Lists a file's comments. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments). Required: The `fields` parameter must be set. To return the exact fields you need, see [Return specific fields](https://developers.google.com/workspace/drive/api/guides/fields-parameter).",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "response": {
            "$ref": "CommentList"
          },
          "parameters": {
            "startModifiedTime": {
              "location": "query",
              "description": "The minimum value of 'modifiedTime' for the result comments (RFC 3339 date-time).",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response."
            },
            "includeDeleted": {
              "default": "false",
              "location": "query",
              "description": "Whether to include deleted comments. Deleted comments will not include their original content.",
              "type": "boolean"
            },
            "fileId": {
              "description": "The ID of the file.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "pageSize": {
              "maximum": "100",
              "type": "integer",
              "default": "20",
              "location": "query",
              "minimum": "1",
              "format": "int32",
              "description": "The maximum number of comments to return. The service may return fewer than this value. If unspecified, at most 20 comments will be returned. The maximum value is 100; values above 100 will be coerced to 100."
            }
          },
          "id": "drive.comments.list",
          "flatPath": "files/{fileId}/comments"
        },
        "update": {
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "description": "Updates a comment with patch semantics. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments). Required: The `fields` parameter must be set. To return the exact fields you need, see [Return specific fields](https://developers.google.com/workspace/drive/api/guides/fields-parameter).",
          "parameters": {
            "commentId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the comment."
            },
            "fileId": {
              "required": true,
              "type": "string",
              "description": "The ID of the file.",
              "location": "path"
            }
          },
          "flatPath": "files/{fileId}/comments/{commentId}",
          "id": "drive.comments.update",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "Comment"
          },
          "path": "files/{fileId}/comments/{commentId}",
          "response": {
            "$ref": "Comment"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ]
        }
      }
    },
    "files": {
      "methods": {
        "copy": {
          "id": "drive.files.copy",
          "parameterOrder": [
            "fileId"
          ],
          "response": {
            "$ref": "File"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.photos.readonly"
          ],
          "path": "files/{fileId}/copy",
          "flatPath": "files/{fileId}/copy",
          "request": {
            "$ref": "File"
          },
          "parameters": {
            "enforceSingleParent": {
              "deprecated": true,
              "location": "query",
              "default": "false",
              "description": "Deprecated: Copying files into multiple folders is no longer supported. Use shortcuts instead.",
              "type": "boolean"
            },
            "includeLabels": {
              "location": "query",
              "type": "string",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response."
            },
            "fileId": {
              "description": "The ID of the file.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "includePermissionsForView": {
              "type": "string",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query"
            },
            "supportsAllDrives": {
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false",
              "type": "boolean"
            },
            "ignoreDefaultVisibility": {
              "location": "query",
              "default": "false",
              "description": "Whether to ignore the domain's default visibility settings for the created file. Domain administrators can choose to make all uploaded files visible to the domain by default; this parameter bypasses that behavior for the request. Permissions are still inherited from parent folders.",
              "type": "boolean"
            },
            "copyComments": {
              "location": "query",
              "description": "Whether to copy the open (unresolved) comments associated with the file.",
              "type": "boolean",
              "default": "false"
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean",
              "location": "query",
              "deprecated": true,
              "default": "false"
            },
            "keepRevisionForever": {
              "description": "Whether to set the `keepForever` field in the new head revision. This is only applicable to files with binary content in Google Drive. Only 200 revisions for the file can be kept forever. If the limit is reached, try deleting pinned revisions.",
              "location": "query",
              "type": "boolean",
              "default": "false"
            },
            "ocrLanguage": {
              "location": "query",
              "type": "string",
              "description": "A language hint for OCR processing during image import (ISO 639-1 code)."
            }
          },
          "httpMethod": "POST",
          "description": "Creates a copy of a file and applies any requested updates with patch semantics. For more information, see [Create and manage files](https://developers.google.com/workspace/drive/api/guides/create-file)."
        },
        "emptyTrash": {
          "path": "files/trash",
          "parameters": {
            "enforceSingleParent": {
              "default": "false",
              "location": "query",
              "deprecated": true,
              "description": "Deprecated: If an item isn't in a shared drive and its last parent is deleted but the item itself isn't, the item will be placed under its owner's root.",
              "type": "boolean"
            },
            "driveId": {
              "location": "query",
              "type": "string",
              "description": "If set, empties the trash of the provided shared drive."
            }
          },
          "id": "drive.files.emptyTrash",
          "parameterOrder": [],
          "flatPath": "files/trash",
          "httpMethod": "DELETE",
          "description": "Permanently deletes all of the user's trashed files. For more information, see [Trash or delete files and folders](https://developers.google.com/workspace/drive/api/guides/delete).",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ]
        },
        "create": {
          "httpMethod": "POST",
          "path": "files",
          "supportsMediaUpload": true,
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "mediaUpload": {
            "maxSize": "5497558138880",
            "protocols": {
              "simple": {
                "path": "/upload/drive/v3/files",
                "multipart": true
              },
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/drive/v3/files"
              }
            },
            "accept": [
              "*/*"
            ]
          },
          "description": " Creates a file. For more information, see [Create and manage files](https://developers.google.com/workspace/drive/api/guides/create-file). This method supports an */upload* URI and accepts uploaded media with the following characteristics: - *Maximum file size:* 5,120 GB - *Accepted Media MIME types:* `*/*` (Specify a valid MIME type, rather than the literal `*/*` value. The literal `*/*` is only used to indicate that any valid MIME type can be uploaded. For more information, see [Google Workspace and Google Drive supported MIME types](https://developers.google.com/workspace/drive/api/guides/mime-types).) For more information on uploading files, see [Upload file data](https://developers.google.com/workspace/drive/api/guides/manage-uploads). Apps creating shortcuts with the `create` method must specify the MIME type `application/vnd.google-apps.shortcut`. Apps should specify a file extension in the `name` property when inserting files with the API. For example, an operation to insert a JPEG file should specify something like `\"name\": \"cat.jpg\"` in the metadata. Subsequent `GET` requests include the read-only `fileExtension` property populated with the extension originally specified in the `name` property. When a Google Drive user requests to download a file, or when the file is downloaded through the sync client, Drive builds a full filename (with extension) based on the name. In cases where the extension is missing, Drive attempts to determine the extension based on the file's MIME type.",
          "response": {
            "$ref": "File"
          },
          "parameterOrder": [],
          "flatPath": "files",
          "parameters": {
            "supportsTeamDrives": {
              "default": "false",
              "location": "query",
              "type": "boolean",
              "deprecated": true,
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "keepRevisionForever": {
              "location": "query",
              "default": "false",
              "description": "Whether to set the `keepForever` field in the new head revision. This is only applicable to files with binary content in Google Drive. Only 200 revisions for the file can be kept forever. If the limit is reached, try deleting pinned revisions.",
              "type": "boolean"
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false",
              "type": "boolean",
              "location": "query"
            },
            "includeLabels": {
              "type": "string",
              "location": "query",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response."
            },
            "useContentAsIndexableText": {
              "type": "boolean",
              "description": "Whether to use the uploaded content as indexable text.",
              "default": "false",
              "location": "query"
            },
            "ocrLanguage": {
              "type": "string",
              "description": "A language hint for OCR processing during image import (ISO 639-1 code).",
              "location": "query"
            },
            "ignoreDefaultVisibility": {
              "default": "false",
              "location": "query",
              "type": "boolean",
              "description": "Whether to ignore the domain's default visibility settings for the created file. Domain administrators can choose to make all uploaded files visible to the domain by default; this parameter bypasses that behavior for the request. Permissions are still inherited from parent folders."
            },
            "enforceSingleParent": {
              "default": "false",
              "description": "Deprecated: Creating files in multiple folders is no longer supported.",
              "location": "query",
              "type": "boolean",
              "deprecated": true
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "type": "string",
              "location": "query"
            }
          },
          "request": {
            "$ref": "File"
          },
          "id": "drive.files.create"
        },
        "export": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "id": "drive.files.export",
          "description": "Exports a Google Workspace document to the requested MIME type and returns exported byte content. For more information, see [Download and export files](https://developers.google.com/workspace/drive/api/guides/manage-downloads). Note that the exported content is limited to 10 MB.",
          "parameterOrder": [
            "fileId",
            "mimeType"
          ],
          "flatPath": "files/{fileId}/export",
          "httpMethod": "GET",
          "parameters": {
            "fileId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the file.",
              "required": true
            },
            "mimeType": {
              "location": "query",
              "description": "Required. The MIME type of the format requested for this export. For a list of supported MIME types, see [Export MIME types for Google Workspace documents](/workspace/drive/api/guides/ref-export-formats).",
              "type": "string",
              "required": true
            }
          },
          "path": "files/{fileId}/export",
          "supportsMediaDownload": true,
          "useMediaDownloadService": true
        },
        "modifyLabels": {
          "parameters": {
            "fileId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the file to which the labels belong."
            }
          },
          "parameterOrder": [
            "fileId"
          ],
          "description": "Modifies the set of labels applied to a file. For more information, see [Set a label field on a file](https://developers.google.com/workspace/drive/api/guides/set-label). Returns a list of the labels that were added or modified.",
          "id": "drive.files.modifyLabels",
          "path": "files/{fileId}/modifyLabels",
          "response": {
            "$ref": "ModifyLabelsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "request": {
            "$ref": "ModifyLabelsRequest"
          },
          "httpMethod": "POST",
          "flatPath": "files/{fileId}/modifyLabels"
        },
        "listLabels": {
          "parameterOrder": [
            "fileId"
          ],
          "path": "files/{fileId}/listLabels",
          "httpMethod": "GET",
          "id": "drive.files.listLabels",
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response."
            },
            "maxResults": {
              "format": "int32",
              "description": "The maximum number of labels to return per page. When not set, defaults to 100.",
              "type": "integer",
              "maximum": "100",
              "location": "query",
              "minimum": "1",
              "default": "100"
            },
            "fileId": {
              "description": "The ID for the file.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "LabelList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "files/{fileId}/listLabels",
          "description": "Lists the labels on a file. For more information, see [List labels on a file](https://developers.google.com/workspace/drive/api/guides/list-labels)."
        },
        "update": {
          "request": {
            "$ref": "File"
          },
          "flatPath": "files/{fileId}",
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "path": "/upload/drive/v3/files/{fileId}",
                "multipart": true
              },
              "resumable": {
                "path": "/resumable/upload/drive/v3/files/{fileId}",
                "multipart": true
              }
            },
            "maxSize": "5497558138880"
          },
          "parameters": {
            "useContentAsIndexableText": {
              "type": "boolean",
              "default": "false",
              "description": "Whether to use the uploaded content as indexable text.",
              "location": "query"
            },
            "keepRevisionForever": {
              "description": "Whether to set the `keepForever` field in the new head revision. This is only applicable to files with binary content in Google Drive. Only 200 revisions for the file can be kept forever. If the limit is reached, try deleting pinned revisions.",
              "default": "false",
              "type": "boolean",
              "location": "query"
            },
            "ocrLanguage": {
              "description": "A language hint for OCR processing during image import (ISO 639-1 code).",
              "type": "string",
              "location": "query"
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query",
              "type": "string"
            },
            "supportsTeamDrives": {
              "type": "boolean",
              "deprecated": true,
              "location": "query",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "default": "false"
            },
            "addParents": {
              "location": "query",
              "type": "string",
              "description": "A comma-separated list of parent IDs to add."
            },
            "fileId": {
              "type": "string",
              "description": "The ID of the file.",
              "location": "path",
              "required": true
            },
            "supportsAllDrives": {
              "default": "false",
              "type": "boolean",
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            },
            "removeParents": {
              "type": "string",
              "location": "query",
              "description": "A comma-separated list of parent IDs to remove."
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string",
              "location": "query"
            },
            "enforceSingleParent": {
              "description": "Deprecated: Adding files to multiple folders is no longer supported. Use shortcuts instead.",
              "default": "false",
              "location": "query",
              "type": "boolean",
              "deprecated": true
            }
          },
          "response": {
            "$ref": "File"
          },
          "path": "files/{fileId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.scripts"
          ],
          "parameterOrder": [
            "fileId"
          ],
          "description": " Updates a file's metadata, content, or both. When calling this method, only populate fields in the request that you want to modify. When updating fields, some fields might be changed automatically, such as `modifiedDate`. This method supports patch semantics. This method supports an */upload* URI and accepts uploaded media with the following characteristics: - *Maximum file size:* 5,120 GB - *Accepted Media MIME types:* `*/*` (Specify a valid MIME type, rather than the literal `*/*` value. The literal `*/*` is only used to indicate that any valid MIME type can be uploaded. For more information, see [Google Workspace and Google Drive supported MIME types](https://developers.google.com/workspace/drive/api/guides/mime-types).) For more information on uploading files, see [Upload file data](https://developers.google.com/workspace/drive/api/guides/manage-uploads).",
          "httpMethod": "PATCH",
          "id": "drive.files.update",
          "supportsMediaUpload": true
        },
        "delete": {
          "flatPath": "files/{fileId}",
          "path": "files/{fileId}",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "fileId"
          ],
          "id": "drive.files.delete",
          "description": "Permanently deletes a file owned by the user without moving it to the trash. For more information, see [Trash or delete files and folders](https://developers.google.com/workspace/drive/api/guides/delete). If the file belongs to a shared drive, the user must be an `organizer` on the parent folder. If the target is a folder, all descendants owned by the user are also deleted.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameters": {
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "deprecated": true,
              "default": "false",
              "type": "boolean"
            },
            "supportsAllDrives": {
              "location": "query",
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean"
            },
            "enforceSingleParent": {
              "location": "query",
              "deprecated": true,
              "description": "Deprecated: If an item isn't in a shared drive and its last parent is deleted but the item itself isn't, the item will be placed under its owner's root.",
              "default": "false",
              "type": "boolean"
            },
            "fileId": {
              "description": "The ID of the file.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          }
        },
        "generateCseToken": {
          "description": "Generates a CSE token which can be used to create or update CSE files.",
          "httpMethod": "GET",
          "parameterOrder": [],
          "flatPath": "files/generateCseToken",
          "path": "files/generateCseToken",
          "response": {
            "$ref": "GenerateCseTokenResponse"
          },
          "id": "drive.files.generateCseToken",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "parameters": {
            "fileId": {
              "type": "string",
              "description": "The ID of the file for which the JWT should be generated. If not provided, an id will be generated.",
              "location": "query"
            },
            "parent": {
              "type": "string",
              "location": "query",
              "description": "The ID of the expected parent of the file. Used when generating a JWT for a new CSE file. If specified, the parent will be fetched, and if the parent is a shared drive item, the shared drive's policy will be used to determine the KACLS that should be used. It is invalid to specify both file_id and parent in a single request."
            }
          }
        },
        "generateIds": {
          "path": "files/generateIds",
          "parameters": {
            "type": {
              "location": "query",
              "default": "files",
              "type": "string",
              "description": "The type of items which the IDs can be used for. Supported values are `files` and `shortcuts`. Note that `shortcuts` are only supported in the `drive` `space`. (Default: `files`.) For more information, see [File organization](https://developers.google.com/workspace/drive/api/guides/about-files#file-organization)."
            },
            "count": {
              "description": "The number of IDs to return.",
              "type": "integer",
              "default": "10",
              "minimum": "1",
              "format": "int32",
              "location": "query",
              "maximum": "1000"
            },
            "space": {
              "type": "string",
              "default": "drive",
              "location": "query",
              "description": "The space in which the IDs can be used to create files. Supported values are `drive` and `appDataFolder`. (Default: `drive`.) For more information, see [File organization](https://developers.google.com/workspace/drive/api/guides/about-files#file-organization)."
            }
          },
          "id": "drive.files.generateIds",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameterOrder": [],
          "httpMethod": "GET",
          "flatPath": "files/generateIds",
          "description": "Generates a set of file IDs which can be provided in create or copy requests. For more information, see [Create and manage files](https://developers.google.com/workspace/drive/api/guides/create-file).",
          "response": {
            "$ref": "GeneratedIds"
          }
        },
        "download": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameters": {
            "revisionId": {
              "location": "query",
              "description": "Optional. The revision ID of the file to download. This field can only be set when downloading blob files, Google Docs, and Google Sheets. Returns `INVALID_ARGUMENT` if downloading a specific revision on the file is unsupported.",
              "type": "string"
            },
            "fileId": {
              "description": "Required. The ID of the file to download.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "mimeType": {
              "description": "Optional. The MIME type the file should be downloaded as. This field can only be set when downloading Google Workspace documents. For a list of supported MIME types, see [Export MIME types for Google Workspace documents](/workspace/drive/api/guides/ref-export-formats). If not set, a Google Workspace document is downloaded with a default MIME type. The default MIME type might change in the future.",
              "type": "string",
              "location": "query"
            }
          },
          "id": "drive.files.download",
          "parameterOrder": [
            "fileId"
          ],
          "description": "Downloads the content of a file. For more information, see [Download and export files](https://developers.google.com/workspace/drive/api/guides/manage-downloads). Operations are valid for 24 hours from the time of creation.",
          "response": {
            "$ref": "Operation"
          },
          "path": "files/{fileId}/download",
          "httpMethod": "POST",
          "flatPath": "files/{fileId}/download"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "path": "files",
          "parameters": {
            "q": {
              "type": "string",
              "location": "query",
              "description": "A query for filtering the file results. For supported syntax, see [Search for files and folders](/workspace/drive/api/guides/search-files)."
            },
            "teamDriveId": {
              "location": "query",
              "deprecated": true,
              "description": "Deprecated: Use `driveId` instead.",
              "type": "string"
            },
            "corpora": {
              "description": "Specifies a collection of items (files or documents) to which the query applies. Supported items include: * `user` * `domain` * `drive` * `allDrives` Prefer `user` or `drive` to `allDrives` for efficiency. By default, corpora is set to `user`. However, this can change depending on the filter set through the `q` parameter. For more information, see [File organization](https://developers.google.com/workspace/drive/api/guides/about-files#file-organization).",
              "type": "string",
              "location": "query"
            },
            "includeTeamDriveItems": {
              "deprecated": true,
              "default": "false",
              "description": "Deprecated: Use `includeItemsFromAllDrives` instead.",
              "type": "boolean",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response.",
              "type": "string"
            },
            "corpus": {
              "deprecated": true,
              "location": "query",
              "description": "Deprecated: The source of files to list. Use `corpora` instead.",
              "enum": [
                "domain",
                "user"
              ],
              "enumDescriptions": [
                "Files shared to the user's domain.",
                "Files owned by or shared to the user."
              ],
              "type": "string"
            },
            "includeItemsFromAllDrives": {
              "location": "query",
              "type": "boolean",
              "description": "Whether both My Drive and shared drive items should be included in results.",
              "default": "false"
            },
            "driveId": {
              "location": "query",
              "type": "string",
              "description": "ID of the shared drive to search."
            },
            "orderBy": {
              "type": "string",
              "location": "query",
              "description": "A comma-separated list of sort keys. Valid keys are: * `createdTime`: When the file was created. Avoid using this key for queries on large item collections as it might result in timeouts or other issues. For time-related sorting on large item collections, use `modifiedTime desc` instead. * `folder`: The folder ID. This field is sorted using alphabetical ordering. * `modifiedByMeTime`: The last time the file was modified by the user. * `modifiedTime`: The last time the file was modified by anyone. * `name`: The name of the file. This field is sorted using alphabetical ordering, so 1, 12, 2, 22. * `name_natural`: The name of the file. This field is sorted using natural sort ordering, so 1, 2, 12, 22. * `quotaBytesUsed`: The number of storage quota bytes used by the file. * `recency`: The most recent timestamp from the file's date-time fields. * `sharedWithMeTime`: When the file was shared with the user, if applicable. * `starred`: Whether the user has starred the file. * `viewedByMeTime`: The last time the file was viewed by the user. Each key sorts ascending by default, but can be reversed with the `desc` modifier. Example usage: `?orderBy=folder,modifiedTime desc,name`."
            },
            "spaces": {
              "type": "string",
              "location": "query",
              "description": "A comma-separated list of spaces to query within the corpora. Supported values are `drive` and `appDataFolder`. For more information, see [File organization](https://developers.google.com/workspace/drive/api/guides/about-files#file-organization).",
              "default": "drive"
            },
            "includeLabels": {
              "type": "string",
              "location": "query",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response."
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false",
              "location": "query",
              "type": "boolean"
            },
            "supportsTeamDrives": {
              "location": "query",
              "deprecated": true,
              "default": "false",
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "pageSize": {
              "description": "The maximum number of files to return. The service may return fewer than this value. If unspecified, at most 100 files will be returned for shared drives, and the entire list of files for non-shared drives. The maximum value is 1000; values above 1000 will be coerced to 1000.",
              "format": "int32",
              "maximum": "1000",
              "location": "query",
              "type": "integer",
              "default": "100",
              "minimum": "1"
            },
            "includePermissionsForView": {
              "location": "query",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "type": "string"
            }
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "response": {
            "$ref": "FileList"
          },
          "description": " Lists the user's files. For more information, see [Search for files and folders](https://developers.google.com/workspace/drive/api/guides/search-files). This method accepts the `q` parameter, which is a search query combining one or more search terms. This method returns *all* files by default, including trashed files. If you don't want trashed files to appear in the list, use the `trashed=false` query parameter to remove trashed files from the results.",
          "id": "drive.files.list",
          "flatPath": "files"
        },
        "get": {
          "supportsMediaDownload": true,
          "parameters": {
            "includeLabels": {
              "type": "string",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query"
            },
            "fileId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the file.",
              "required": true
            },
            "acknowledgeAbuse": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when the `alt` parameter is set to `media` and the user is the owner of the file or an organizer of the shared drive in which the file resides."
            },
            "includePermissionsForView": {
              "type": "string",
              "location": "query",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported."
            },
            "supportsAllDrives": {
              "default": "false",
              "type": "boolean",
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            },
            "supportsTeamDrives": {
              "deprecated": true,
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead."
            }
          },
          "supportsSubscription": true,
          "description": " Gets a file's metadata or content by ID. For more information, see [Search for files and folders](https://developers.google.com/workspace/drive/api/guides/search-files). If you provide the URL parameter `alt=media`, then the response includes the file contents in the response body. Downloading content with `alt=media` only works if the file is stored in Drive. To download Google Docs, Sheets, and Slides use [`files.export`](https://developers.google.com/workspace/drive/api/reference/rest/v3/files/export) instead. For more information, see [Download and export files](https://developers.google.com/workspace/drive/api/guides/manage-downloads).",
          "httpMethod": "GET",
          "useMediaDownloadService": true,
          "response": {
            "$ref": "File"
          },
          "path": "files/{fileId}",
          "id": "drive.files.get",
          "parameterOrder": [
            "fileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "files/{fileId}"
        },
        "watch": {
          "parameters": {
            "supportsAllDrives": {
              "type": "boolean",
              "location": "query",
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            },
            "fileId": {
              "required": true,
              "type": "string",
              "description": "The ID of the file.",
              "location": "path"
            },
            "supportsTeamDrives": {
              "default": "false",
              "deprecated": true,
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean",
              "location": "query"
            },
            "includePermissionsForView": {
              "type": "string",
              "location": "query",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported."
            },
            "includeLabels": {
              "location": "query",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string"
            },
            "acknowledgeAbuse": {
              "description": "Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when the `alt` parameter is set to `media` and the user is the owner of the file or an organizer of the shared drive in which the file resides.",
              "type": "boolean",
              "default": "false",
              "location": "query"
            }
          },
          "request": {
            "parameterName": "resource",
            "$ref": "Channel"
          },
          "description": "Subscribes to changes to a file. For more information, see [Notifications for resource changes](https://developers.google.com/workspace/drive/api/guides/push).",
          "path": "files/{fileId}/watch",
          "response": {
            "$ref": "Channel"
          },
          "httpMethod": "POST",
          "flatPath": "files/{fileId}/watch",
          "parameterOrder": [
            "fileId"
          ],
          "supportsSubscription": true,
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "id": "drive.files.watch"
        }
      }
    },
    "channels": {
      "methods": {
        "stop": {
          "flatPath": "channels/stop",
          "description": "Stops watching resources through this channel. For more information, see [Notifications for resource changes](https://developers.google.com/workspace/drive/api/guides/push).",
          "httpMethod": "POST",
          "path": "channels/stop",
          "id": "drive.channels.stop",
          "request": {
            "$ref": "Channel",
            "parameterName": "resource"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameters": {},
          "parameterOrder": []
        }
      }
    },
    "replies": {
      "methods": {
        "update": {
          "httpMethod": "PATCH",
          "id": "drive.replies.update",
          "request": {
            "$ref": "Reply"
          },
          "flatPath": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "description": "Updates a reply with patch semantics. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments).",
          "parameterOrder": [
            "fileId",
            "commentId",
            "replyId"
          ],
          "path": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "response": {
            "$ref": "Reply"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameters": {
            "commentId": {
              "description": "The ID of the comment.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "replyId": {
              "location": "path",
              "description": "The ID of the reply.",
              "required": true,
              "type": "string"
            },
            "fileId": {
              "required": true,
              "description": "The ID of the file.",
              "type": "string",
              "location": "path"
            }
          }
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "id": "drive.replies.list",
          "path": "files/{fileId}/comments/{commentId}/replies",
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "parameters": {
            "pageSize": {
              "minimum": "1",
              "default": "20",
              "description": "The maximum number of replies to return. The service may return fewer than this value. If unspecified, at most 20 replies will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
              "maximum": "100",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "pageToken": {
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response.",
              "type": "string",
              "location": "query"
            },
            "commentId": {
              "location": "path",
              "description": "The ID of the comment.",
              "type": "string",
              "required": true
            },
            "includeDeleted": {
              "description": "Whether to include deleted replies. Deleted replies don't include their original content.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            },
            "fileId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the file.",
              "required": true
            }
          },
          "httpMethod": "GET",
          "flatPath": "files/{fileId}/comments/{commentId}/replies",
          "description": "Lists a comment's replies. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments).",
          "response": {
            "$ref": "ReplyList"
          }
        },
        "get": {
          "description": "Gets a reply by ID. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments).",
          "response": {
            "$ref": "Reply"
          },
          "parameterOrder": [
            "fileId",
            "commentId",
            "replyId"
          ],
          "path": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "parameters": {
            "includeDeleted": {
              "location": "query",
              "description": "Whether to return deleted replies. Deleted replies don't include their original content.",
              "type": "boolean",
              "default": "false"
            },
            "replyId": {
              "required": true,
              "description": "The ID of the reply.",
              "location": "path",
              "type": "string"
            },
            "fileId": {
              "description": "The ID of the file.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "commentId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the comment.",
              "required": true
            }
          },
          "flatPath": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "id": "drive.replies.get"
        },
        "create": {
          "request": {
            "$ref": "Reply"
          },
          "parameters": {
            "commentId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the comment."
            },
            "fileId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the file."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "flatPath": "files/{fileId}/comments/{commentId}/replies",
          "id": "drive.replies.create",
          "httpMethod": "POST",
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "description": "Creates a reply to a comment. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments).",
          "path": "files/{fileId}/comments/{commentId}/replies",
          "response": {
            "$ref": "Reply"
          }
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameterOrder": [
            "fileId",
            "commentId",
            "replyId"
          ],
          "httpMethod": "DELETE",
          "id": "drive.replies.delete",
          "parameters": {
            "fileId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The ID of the file."
            },
            "replyId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the reply.",
              "required": true
            },
            "commentId": {
              "location": "path",
              "description": "The ID of the comment.",
              "type": "string",
              "required": true
            }
          },
          "path": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "flatPath": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "description": "Deletes a reply. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments)."
        }
      }
    },
    "changes": {
      "methods": {
        "watch": {
          "path": "changes/watch",
          "flatPath": "changes/watch",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "id": "drive.changes.watch",
          "response": {
            "$ref": "Channel"
          },
          "parameters": {
            "driveId": {
              "type": "string",
              "description": "The shared drive from which changes will be returned. If specified the change IDs will be reflective of the shared drive; use the combined drive ID and change ID as an identifier.",
              "location": "query"
            },
            "pageToken": {
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response or to the response from the getStartPageToken method.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "pageSize": {
              "location": "query",
              "format": "int32",
              "maximum": "1000",
              "description": "The maximum number of changes to return. The service may return fewer than this value. If unspecified, at most 100 changes will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
              "type": "integer",
              "minimum": "1",
              "default": "100"
            },
            "includeItemsFromAllDrives": {
              "default": "false",
              "description": "Whether both My Drive and shared drive items should be included in results.",
              "type": "boolean",
              "location": "query"
            },
            "includeRemoved": {
              "description": "Whether to include changes indicating that items have been removed from the list of changes, for example by deletion or loss of access.",
              "type": "boolean",
              "default": "true",
              "location": "query"
            },
            "includeTeamDriveItems": {
              "deprecated": true,
              "default": "false",
              "location": "query",
              "type": "boolean",
              "description": "Deprecated: Use `includeItemsFromAllDrives` instead."
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string",
              "location": "query"
            },
            "restrictToMyDrive": {
              "default": "false",
              "location": "query",
              "description": "Whether to restrict the results to changes inside the My Drive hierarchy. This omits changes to files such as those in the Application Data folder or shared files which have not been added to My Drive.",
              "type": "boolean"
            },
            "teamDriveId": {
              "type": "string",
              "location": "query",
              "description": "Deprecated: Use `driveId` instead.",
              "deprecated": true
            },
            "spaces": {
              "location": "query",
              "type": "string",
              "default": "drive",
              "description": "A comma-separated list of spaces to query within the corpora. Supported values are 'drive' and 'appDataFolder'."
            },
            "includePermissionsForView": {
              "type": "string",
              "location": "query",
              "description": "Specifies which additional view's permissions to include in the response. Only 'published' is supported."
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean",
              "deprecated": true,
              "location": "query",
              "default": "false"
            },
            "supportsAllDrives": {
              "default": "false",
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean"
            },
            "includeCorpusRemovals": {
              "description": "Whether changes should include the file resource if the file is still accessible by the user at the time of the request, even when a file was removed from the list of changes and there will be no further change entries for this file.",
              "location": "query",
              "default": "false",
              "type": "boolean"
            }
          },
          "description": "Subscribes to changes for a user. For more information, see [Notifications for resource changes](https://developers.google.com/workspace/drive/api/guides/push).",
          "supportsSubscription": true,
          "parameterOrder": [
            "pageToken"
          ],
          "request": {
            "parameterName": "resource",
            "$ref": "Channel"
          },
          "httpMethod": "POST"
        },
        "list": {
          "supportsSubscription": true,
          "response": {
            "$ref": "ChangeList"
          },
          "description": "Lists the changes for a user or shared drive. For more information, see [Retrieve changes](https://developers.google.com/workspace/drive/api/guides/manage-changes).",
          "parameterOrder": [
            "pageToken"
          ],
          "parameters": {
            "includeCorpusRemovals": {
              "location": "query",
              "description": "Whether changes should include the file resource if the file is still accessible by the user at the time of the request, even when a file was removed from the list of changes and there will be no further change entries for this file.",
              "default": "false",
              "type": "boolean"
            },
            "spaces": {
              "description": "A comma-separated list of spaces to query within the corpora. Supported values are 'drive' and 'appDataFolder'.",
              "default": "drive",
              "location": "query",
              "type": "string"
            },
            "includeItemsFromAllDrives": {
              "location": "query",
              "default": "false",
              "description": "Whether both My Drive and shared drive items should be included in results.",
              "type": "boolean"
            },
            "includeRemoved": {
              "location": "query",
              "type": "boolean",
              "default": "true",
              "description": "Whether to include changes indicating that items have been removed from the list of changes, for example by deletion or loss of access."
            },
            "pageSize": {
              "default": "100",
              "minimum": "1",
              "location": "query",
              "maximum": "1000",
              "description": "The maximum number of changes to return. The service may return fewer than this value. If unspecified, at most 100 changes will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
              "type": "integer",
              "format": "int32"
            },
            "driveId": {
              "location": "query",
              "description": "The shared drive from which changes will be returned. If specified the change IDs will be reflective of the shared drive; use the combined drive ID and change ID as an identifier.",
              "type": "string"
            },
            "pageToken": {
              "required": true,
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response or to the response from the getStartPageToken method.",
              "location": "query",
              "type": "string"
            },
            "includeTeamDriveItems": {
              "type": "boolean",
              "description": "Deprecated: Use `includeItemsFromAllDrives` instead.",
              "location": "query",
              "deprecated": true,
              "default": "false"
            },
            "restrictToMyDrive": {
              "location": "query",
              "default": "false",
              "type": "boolean",
              "description": "Whether to restrict the results to changes inside the My Drive hierarchy. This omits changes to files such as those in the Application Data folder or shared files which have not been added to My Drive."
            },
            "supportsTeamDrives": {
              "location": "query",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "deprecated": true,
              "type": "boolean",
              "default": "false"
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only 'published' is supported.",
              "type": "string",
              "location": "query"
            },
            "supportsAllDrives": {
              "location": "query",
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean"
            },
            "teamDriveId": {
              "location": "query",
              "deprecated": true,
              "description": "Deprecated: Use `driveId` instead.",
              "type": "string"
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "changes",
          "path": "changes",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "id": "drive.changes.list"
        },
        "getStartPageToken": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "changes/startPageToken",
          "path": "changes/startPageToken",
          "httpMethod": "GET",
          "response": {
            "$ref": "StartPageToken"
          },
          "description": "Gets the starting pageToken for listing future changes. For more information, see [Retrieve changes](https://developers.google.com/workspace/drive/api/guides/manage-changes).",
          "parameters": {
            "teamDriveId": {
              "type": "string",
              "description": "Deprecated: Use `driveId` instead.",
              "deprecated": true,
              "location": "query"
            },
            "supportsAllDrives": {
              "type": "boolean",
              "location": "query",
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            },
            "driveId": {
              "location": "query",
              "type": "string",
              "description": "The ID of the shared drive for which the starting pageToken for listing future changes from that shared drive will be returned."
            },
            "supportsTeamDrives": {
              "deprecated": true,
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "default": "false",
              "type": "boolean"
            }
          },
          "parameterOrder": [],
          "id": "drive.changes.getStartPageToken"
        }
      }
    },
    "permissions": {
      "methods": {
        "create": {
          "request": {
            "$ref": "Permission"
          },
          "description": "Creates a permission for a file or shared drive. For more information, see [Share files, folders, and drives](https://developers.google.com/workspace/drive/api/guides/manage-sharing). **Warning:** Concurrent permission modifications (such as update or delete) on the same file, folder, or shared drive aren't supported across any users or clients; only the last update is applied.",
          "path": "files/{fileId}/permissions",
          "parameters": {
            "supportsAllDrives": {
              "default": "false",
              "type": "boolean",
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            },
            "emailMessage": {
              "location": "query",
              "description": "A plain text custom message to include in the notification email.",
              "type": "string"
            },
            "sendNotificationEmail": {
              "description": "Whether to send a notification email when sharing to users or groups. This defaults to `true` for users and groups, and is not allowed for other requests. It must not be disabled for ownership transfers.",
              "type": "boolean",
              "location": "query"
            },
            "supportsTeamDrives": {
              "default": "false",
              "type": "boolean",
              "location": "query",
              "deprecated": true,
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "fileId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the file or shared drive."
            },
            "transferOwnership": {
              "type": "boolean",
              "default": "false",
              "description": "Whether to transfer ownership to the specified user and downgrade the current owner to a writer. This parameter is required as an acknowledgement of the side effect. For more information, see [Transfer file ownership](https://developers.google.com/workspace/drive/api/guides/transfer-file).",
              "location": "query"
            },
            "enforceSingleParent": {
              "description": "Deprecated: See `moveToNewOwnersRoot` for details.",
              "default": "false",
              "deprecated": true,
              "type": "boolean",
              "location": "query"
            },
            "moveToNewOwnersRoot": {
              "description": "This parameter only takes effect if the item isn't in a shared drive and the request is attempting to transfer the ownership of the item. If set to `true`, the item is moved to the new owner's My Drive root folder and all prior parents removed. If set to `false`, parents aren't changed.",
              "location": "query",
              "type": "boolean",
              "default": "false"
            },
            "enforceExpansiveAccess": {
              "description": "Deprecated: All requests use the expansive access rules.",
              "type": "boolean",
              "default": "false",
              "location": "query",
              "deprecated": true
            },
            "useDomainAdminAccess": {
              "location": "query",
              "default": "false",
              "type": "boolean",
              "description": "Issue the request as a domain administrator. If set to `true`, and if the following additional conditions are met, the requester is granted access: 1. The file ID parameter refers to a shared drive. 2. The requester is an administrator of the domain to which the shared drive belongs. For more information, see [Manage shared drives as domain administrators](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives#manage-administrators)."
            }
          },
          "flatPath": "files/{fileId}/permissions",
          "httpMethod": "POST",
          "response": {
            "$ref": "Permission"
          },
          "id": "drive.permissions.create",
          "parameterOrder": [
            "fileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ]
        },
        "delete": {
          "id": "drive.permissions.delete",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameters": {
            "fileId": {
              "required": true,
              "type": "string",
              "description": "The ID of the file or shared drive.",
              "location": "path"
            },
            "supportsTeamDrives": {
              "default": "false",
              "deprecated": true,
              "type": "boolean",
              "location": "query",
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "supportsAllDrives": {
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "default": "false"
            },
            "useDomainAdminAccess": {
              "location": "query",
              "description": "Issue the request as a domain administrator. If set to `true`, and if the following additional conditions are met, the requester is granted access: 1. The file ID parameter refers to a shared drive. 2. The requester is an administrator of the domain to which the shared drive belongs. For more information, see [Manage shared drives as domain administrators](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives#manage-administrators).",
              "default": "false",
              "type": "boolean"
            },
            "permissionId": {
              "description": "The ID of the permission.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "enforceExpansiveAccess": {
              "default": "false",
              "deprecated": true,
              "location": "query",
              "type": "boolean",
              "description": "Deprecated: All requests use the expansive access rules."
            }
          },
          "parameterOrder": [
            "fileId",
            "permissionId"
          ],
          "path": "files/{fileId}/permissions/{permissionId}",
          "httpMethod": "DELETE",
          "flatPath": "files/{fileId}/permissions/{permissionId}",
          "description": "Deletes a permission. For more information, see [Share files, folders, and drives](https://developers.google.com/workspace/drive/api/guides/manage-sharing). **Warning:** Concurrent permission modifications (such as update or delete) on the same file, folder, or shared drive aren't supported across any users or clients; only the last update is applied."
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "id": "drive.permissions.list",
          "httpMethod": "GET",
          "path": "files/{fileId}/permissions",
          "parameters": {
            "pageSize": {
              "location": "query",
              "maximum": "100",
              "description": "The maximum number of permissions to return. The service may return fewer than this value. If unspecified, at most 100 permissions will be returned for shared drives, and the entire list of permissions for non-shared drives. The maximum value is 100; values above 100 will be coerced to 100.",
              "minimum": "1",
              "type": "integer",
              "format": "int32"
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false",
              "type": "boolean",
              "location": "query"
            },
            "includePermissionsForView": {
              "location": "query",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "type": "string"
            },
            "supportsTeamDrives": {
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean",
              "deprecated": true,
              "location": "query"
            },
            "pageToken": {
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response.",
              "type": "string",
              "location": "query"
            },
            "fileId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The ID of the file or shared drive."
            },
            "useDomainAdminAccess": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "Issue the request as a domain administrator. If set to `true`, and if the following additional conditions are met, the requester is granted access: 1. The file ID parameter refers to a shared drive. 2. The requester is an administrator of the domain to which the shared drive belongs. For more information, see [Manage shared drives as domain administrators](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives#manage-administrators)."
            }
          },
          "response": {
            "$ref": "PermissionList"
          },
          "parameterOrder": [
            "fileId"
          ],
          "description": "Lists a file's or shared drive's permissions. For more information, see [Share files, folders, and drives](https://developers.google.com/workspace/drive/api/guides/manage-sharing).",
          "flatPath": "files/{fileId}/permissions"
        },
        "get": {
          "path": "files/{fileId}/permissions/{permissionId}",
          "httpMethod": "GET",
          "parameterOrder": [
            "fileId",
            "permissionId"
          ],
          "id": "drive.permissions.get",
          "description": "Gets a permission by ID. For more information, see [Share files, folders, and drives](https://developers.google.com/workspace/drive/api/guides/manage-sharing).",
          "response": {
            "$ref": "Permission"
          },
          "parameters": {
            "fileId": {
              "location": "path",
              "description": "The ID of the file.",
              "type": "string",
              "required": true
            },
            "useDomainAdminAccess": {
              "type": "boolean",
              "default": "false",
              "description": "Issue the request as a domain administrator. If set to `true`, and if the following additional conditions are met, the requester is granted access: 1. The file ID parameter refers to a shared drive. 2. The requester is an administrator of the domain to which the shared drive belongs. For more information, see [Manage shared drives as domain administrators](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives#manage-administrators).",
              "location": "query"
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false",
              "location": "query",
              "type": "boolean"
            },
            "supportsTeamDrives": {
              "default": "false",
              "deprecated": true,
              "type": "boolean",
              "location": "query",
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "permissionId": {
              "required": true,
              "description": "The ID of the permission.",
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "files/{fileId}/permissions/{permissionId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ]
        },
        "update": {
          "description": "Updates a permission with patch semantics. For more information, see [Share files, folders, and drives](https://developers.google.com/workspace/drive/api/guides/manage-sharing). **Warning:** Concurrent permission modifications (such as update or delete) on the same file, folder, or shared drive aren't supported across any users or clients; only the last update is applied.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "response": {
            "$ref": "Permission"
          },
          "httpMethod": "PATCH",
          "request": {
            "$ref": "Permission"
          },
          "flatPath": "files/{fileId}/permissions/{permissionId}",
          "id": "drive.permissions.update",
          "path": "files/{fileId}/permissions/{permissionId}",
          "parameters": {
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false",
              "type": "boolean",
              "location": "query"
            },
            "transferOwnership": {
              "default": "false",
              "type": "boolean",
              "location": "query",
              "description": "Whether to transfer ownership to the specified user and downgrade the current owner to a writer. This parameter is required as an acknowledgement of the side effect. For more information, see [Transfer file ownership](https://developers.google.com//workspace/drive/api/guides/transfer-file)."
            },
            "useDomainAdminAccess": {
              "type": "boolean",
              "location": "query",
              "default": "false",
              "description": "Issue the request as a domain administrator. If set to `true`, and if the following additional conditions are met, the requester is granted access: 1. The file ID parameter refers to a shared drive. 2. The requester is an administrator of the domain to which the shared drive belongs. For more information, see [Manage shared drives as domain administrators](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives#manage-administrators)."
            },
            "fileId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the file or shared drive."
            },
            "supportsTeamDrives": {
              "deprecated": true,
              "location": "query",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean",
              "default": "false"
            },
            "enforceExpansiveAccess": {
              "location": "query",
              "type": "boolean",
              "description": "Deprecated: All requests use the expansive access rules.",
              "deprecated": true,
              "default": "false"
            },
            "removeExpiration": {
              "description": "Whether to remove the expiration date.",
              "default": "false",
              "type": "boolean",
              "location": "query"
            },
            "permissionId": {
              "description": "The ID of the permission.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "fileId",
            "permissionId"
          ]
        }
      }
    },
    "approvals": {
      "methods": {
        "list": {
          "id": "drive.approvals.list",
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response."
            },
            "fileId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. The ID of the file that the approval is on."
            },
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "description": "The maximum number of approvals to return. When not set, at most 100 approvals are returned.",
              "location": "query"
            }
          },
          "flatPath": "files/{fileId}/approvals",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "description": "Lists the approvals on a file. For more information, see [Manage approvals](https://developers.google.com/workspace/drive/api/guides/approvals). By default, this method returns a minimal response that may not include the items array. To retrieve approval details, you must explicitly specify the fields you want using the `fields` query parameter. To return the exact fields you need, see [Return specific fields](https://developers.google.com/workspace/drive/api/guides/fields-parameter).",
          "response": {
            "$ref": "ApprovalList"
          },
          "path": "files/{fileId}/approvals",
          "parameterOrder": [
            "fileId"
          ]
        },
        "approve": {
          "description": "Approves an approval. For more information, see [Manage approvals](https://developers.google.com/workspace/drive/api/guides/approvals). This is used to update the ReviewerResponse of the requesting user with a Response of `APPROVED`. If this is the last required reviewer response, this also completes the approval and sets the approval Status to `APPROVED`.",
          "parameterOrder": [
            "fileId",
            "approvalId"
          ],
[...]
