{
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "id": "driveactivity:v2",
  "description": "Provides a historical view of activity in Google Drive.",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://developers.google.com/workspace/drive/activity/",
  "version_module": true,
  "revision": "20260915",
  "parameters": {
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    }
  },
  "rootUrl": "https://driveactivity.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "version": "v2",
  "canonicalName": "Drive Activity",
  "mtlsRootUrl": "https://driveactivity.mtls.googleapis.com/",
  "basePath": "",
  "name": "driveactivity",
  "ownerName": "Google",
  "title": "Drive Activity API",
  "servicePath": "",
  "resources": {
    "activity": {
      "methods": {
        "query": {
          "request": {
            "$ref": "QueryDriveActivityRequest"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "QueryDriveActivityResponse"
          },
          "path": "v2/activity:query",
          "parameterOrder": [],
          "id": "driveactivity.activity.query",
          "scopes": [
            "https://www.googleapis.com/auth/drive.activity",
            "https://www.googleapis.com/auth/drive.activity.readonly"
          ],
          "parameters": {},
          "flatPath": "v2/activity:query",
          "description": "Query past activity in Google Drive."
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "protocol": "rest",
  "baseUrl": "https://driveactivity.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.activity": {
          "description": "View and add to the activity record of files in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.activity.readonly": {
          "description": "View the activity record of files in your Google Drive"
        }
      }
    }
  },
  "schemas": {
    "Delete": {
      "id": "Delete",
      "description": "An object was deleted.",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TRASH",
            "PERMANENT_DELETE"
          ],
          "description": "The type of delete action taken.",
          "enumDescriptions": [
            "Deletion type is not available.",
            "An object was put into the trash.",
            "An object was deleted permanently."
          ]
        }
      }
    },
    "Administrator": {
      "type": "object",
      "properties": {},
      "id": "Administrator",
      "description": "Empty message representing an administrator."
    },
    "Date": {
      "id": "Date",
      "type": "object",
      "properties": {
        "value": {
          "format": "google-datetime",
          "description": "Date value.",
          "type": "string"
        }
      },
      "description": "Wrapper for Date Field value."
    },
    "RestrictionChange": {
      "properties": {
        "newRestriction": {
          "type": "string",
          "enum": [
            "RESTRICTION_UNSPECIFIED",
            "UNRESTRICTED",
            "FULLY_RESTRICTED"
          ],
          "description": "The restriction in place after the change.",
          "enumDescriptions": [
            "The type of restriction is not available.",
            "The feature is available without restriction.",
            "The use of this feature is fully restricted."
          ]
        },
        "feature": {
          "enum": [
            "FEATURE_UNSPECIFIED",
            "SHARING_OUTSIDE_DOMAIN",
            "DIRECT_SHARING",
            "ITEM_DUPLICATION",
            "DRIVE_FILE_STREAM",
            "FILE_ORGANIZER_CAN_SHARE_FOLDERS",
            "READERS_CAN_DOWNLOAD",
            "WRITERS_CAN_DOWNLOAD"
          ],
          "description": "The feature which had a change in restriction policy.",
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "The feature which changed restriction settings was not available.",
            "When restricted, this prevents items from being shared outside the domain.",
            "When restricted, this prevents direct sharing of individual items.",
            "Deprecated: Use READERS_CAN_DOWNLOAD instead.",
            "When restricted, this prevents use of Drive File Stream.",
            "When restricted, this limits sharing of folders to managers only.",
            "When restricted, this prevents actions like copy, download, and print for readers. Replaces ITEM_DUPLICATION.",
            "When restricted, this prevents actions like copy, download, and print for writers."
          ],
          "type": "string"
        }
      },
      "description": "Information about restriction policy changes to a feature.",
      "id": "RestrictionChange",
      "type": "object"
    },
    "New": {
      "id": "New",
      "type": "object",
      "properties": {},
      "description": "An object was created from scratch."
    },
    "AppliedLabelChange": {
      "id": "AppliedLabelChange",
      "description": "Label changes that were made on the Target.",
      "properties": {
        "changes": {
          "type": "array",
          "description": "Changes that were made to the Label on the Target.",
          "items": {
            "$ref": "AppliedLabelChangeDetail"
          }
        }
      },
      "type": "object"
    },
    "Legacy": {
      "description": "A strategy that consolidates activities using the grouping rules from the legacy V1 Activity API. Similar actions occurring within a window of time can be grouped across multiple targets (such as moving a set of files at once) or multiple actors (such as several users editing the same item). Grouping rules for this strategy are specific to each type of action.",
      "properties": {},
      "type": "object",
      "id": "Legacy"
    },
    "ConsolidationStrategy": {
      "properties": {
        "legacy": {
          "description": "The individual activities are consolidated using the legacy strategy.",
          "$ref": "Legacy"
        },
        "none": {
          "$ref": "NoConsolidation",
          "description": "The individual activities are not consolidated."
        }
      },
      "description": "How the individual activities are consolidated. If a set of activities is related they can be consolidated into one combined activity, such as one actor performing the same action on multiple targets, or multiple actors performing the same action on a single target. The strategy defines the rules for which activities are related.",
      "id": "ConsolidationStrategy",
      "type": "object"
    },
    "Impersonation": {
      "type": "object",
      "description": "Information about an impersonation, where an admin acts on behalf of an end user. Information about the acting admin is not currently available.",
      "id": "Impersonation",
      "properties": {
        "impersonatedUser": {
          "description": "The impersonated user.",
          "$ref": "User"
        }
      }
    },
    "PermissionChange": {
      "id": "PermissionChange",
      "properties": {
        "removedPermissions": {
          "description": "The set of permissions removed by this change.",
          "items": {
            "$ref": "Permission"
          },
          "type": "array"
        },
        "addedPermissions": {
          "items": {
            "$ref": "Permission"
          },
          "description": "The set of permissions added by this change.",
          "type": "array"
        }
      },
      "description": "A change of the permission setting on an item.",
      "type": "object"
    },
    "SystemEvent": {
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "The event type is unspecified.",
            "The event is a consequence of a user account being deleted.",
            "The event is due to the system automatically purging trash."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "USER_DELETION",
            "TRASH_AUTO_PURGE"
          ],
          "description": "The type of the system event that may triggered activity."
        }
      },
      "id": "SystemEvent",
      "description": "Event triggered by system operations instead of end users."
    },
    "SettingsChange": {
      "description": "Information about settings changes.",
      "type": "object",
      "properties": {
        "restrictionChanges": {
          "type": "array",
          "description": "The set of changes made to restrictions.",
          "items": {
            "$ref": "RestrictionChange"
          }
        }
      },
      "id": "SettingsChange"
    },
    "Target": {
      "id": "Target",
      "type": "object",
      "description": "Information about the target of activity. For more information on how activity history is shared with users, see [Activity history visibility](https://developers.google.com/workspace/drive/activity/v2#activityhistory).",
      "properties": {
        "fileComment": {
          "description": "The target is a comment on a Drive file.",
          "$ref": "FileComment"
        },
        "drive": {
          "$ref": "Drive",
          "description": "The target is a shared drive."
        },
        "driveItem": {
          "description": "The target is a Drive item.",
          "$ref": "DriveItem"
        },
        "teamDrive": {
          "deprecated": true,
          "description": "This field is deprecated; please use the `drive` field instead.",
          "$ref": "TeamDrive"
        }
      }
    },
    "Restore": {
      "properties": {
        "type": {
          "enumDescriptions": [
            "The type is not available.",
            "An object was restored from the trash."
          ],
          "description": "The type of restore action taken.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "UNTRASH"
          ]
        }
      },
      "type": "object",
      "id": "Restore",
      "description": "A deleted object was restored."
    },
    "Rename": {
      "id": "Rename",
      "description": "An object was renamed.",
      "type": "object",
      "properties": {
        "newTitle": {
          "type": "string",
          "description": "The new title of the drive object."
        },
        "oldTitle": {
          "description": "The previous title of the drive object.",
          "type": "string"
        }
      }
    },
    "QueryDriveActivityResponse": {
      "description": "Response message for querying Drive activity.",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "activities": {
          "description": "List of activity requested.",
          "type": "array",
          "items": {
            "$ref": "DriveActivity"
          }
        }
      },
      "id": "QueryDriveActivityResponse",
      "type": "object"
    },
    "Integer": {
      "properties": {
        "value": {
          "description": "Integer value.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Wrapper for Integer Field value.",
      "id": "Integer",
      "type": "object"
    },
    "FieldValueChange": {
      "properties": {
        "newValue": {
          "description": "The value that is now set on the field. If not present, the field was cleared. At least one of {old_value|new_value} is always set.",
          "$ref": "FieldValue"
        },
        "fieldId": {
          "type": "string",
          "description": "The ID of this field. Field IDs are unique within a Label."
        },
        "displayName": {
          "description": "The human-readable display name for this field.",
          "type": "string"
        },
        "oldValue": {
          "$ref": "FieldValue",
          "description": "The value that was previously set on the field. If not present, the field was newly set. At least one of {old_value|new_value} is always set."
        }
      },
      "description": "Change to a Field value.",
      "id": "FieldValueChange",
      "type": "object"
    },
    "FileComment": {
      "properties": {
        "legacyDiscussionId": {
          "description": "The discussion thread to which the comment was added. This identifier is an opaque string compatible with the Drive API and references the first comment in a discussion; see https://developers.google.com/workspace/drive/v3/reference/comments/get",
          "type": "string"
        },
        "linkToDiscussion": {
          "type": "string",
          "description": "The link to the discussion thread containing this comment, for example, `https://docs.google.com/DOCUMENT_ID/edit?disco=THREAD_ID`."
        },
        "parent": {
          "description": "The Drive item containing this comment.",
          "$ref": "DriveItem"
        },
        "legacyCommentId": {
          "description": "The comment in the discussion thread. This identifier is an opaque string compatible with the Drive API; see https://developers.google.com/workspace/drive/v3/reference/comments/get",
          "type": "string"
        }
      },
      "description": "A comment on a file.",
      "type": "object",
      "id": "FileComment"
    },
    "UnknownUser": {
      "id": "UnknownUser",
      "type": "object",
      "description": "A user about whom nothing is currently known.",
      "properties": {}
    },
    "ActionDetail": {
      "description": "Data describing the type and additional information of an action.",
      "properties": {
        "permissionChange": {
          "$ref": "PermissionChange",
          "description": "The permission on an object was changed."
        },
        "dlpChange": {
          "description": "A change happened in data leak prevention status.",
          "$ref": "DataLeakPreventionChange"
        },
        "reference": {
          "$ref": "ApplicationReference",
          "description": "An object was referenced in an application outside of Drive/Docs."
        },
        "delete": {
          "$ref": "Delete",
          "description": "An object was deleted."
        },
        "settingsChange": {
          "$ref": "SettingsChange",
          "description": "Settings were changed."
        },
        "appliedLabelChange": {
          "$ref": "AppliedLabelChange",
          "description": "Label was changed."
        },
        "comment": {
          "description": "A change about comments was made.",
          "$ref": "Comment"
        },
        "create": {
          "description": "An object was created.",
          "$ref": "Create"
        },
        "restore": {
          "description": "A deleted object was restored.",
          "$ref": "Restore"
        },
        "edit": {
          "$ref": "Edit",
          "description": "An object was edited."
        },
        "move": {
          "description": "An object was moved.",
          "$ref": "Move"
        },
        "rename": {
          "$ref": "Rename",
          "description": "An object was renamed."
        }
      },
      "type": "object",
      "id": "ActionDetail"
    },
    "DeletedUser": {
      "id": "DeletedUser",
      "properties": {},
      "description": "A user whose account has since been deleted.",
      "type": "object"
    },
    "TimeRange": {
      "type": "object",
      "id": "TimeRange",
      "description": "Information about time ranges.",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "description": "The start of the time range.",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "The end of the time range.",
          "format": "google-datetime"
        }
      }
    },
    "Assignment": {
      "id": "Assignment",
      "properties": {
        "subtype": {
          "enumDescriptions": [
            "Subtype not available.",
            "An assignment was added.",
            "An assignment was deleted.",
            "An assignment reply was added.",
            "An assignment reply was deleted.",
            "An assignment was resolved.",
            "A resolved assignment was reopened.",
            "An assignment was reassigned."
          ],
          "type": "string",
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "RESOLVED",
            "REOPENED",
            "REASSIGNED"
          ],
          "description": "The sub-type of this event."
        },
        "assignedUser": {
          "description": "The user to whom the comment was assigned.",
          "$ref": "User"
        }
      },
      "description": "A comment with an assignment.",
      "type": "object"
    },
    "Anyone": {
      "description": "Represents any user (including a logged out user).",
      "properties": {},
      "type": "object",
      "id": "Anyone"
    },
    "Actor": {
      "type": "object",
      "properties": {
        "system": {
          "$ref": "SystemEvent",
          "description": "A non-user actor (i.e. system triggered)."
        },
        "impersonation": {
          "description": "An account acting on behalf of another.",
          "$ref": "Impersonation"
        },
        "anonymous": {
          "description": "An anonymous user.",
          "$ref": "AnonymousUser"
        },
        "administrator": {
          "$ref": "Administrator",
          "description": "An administrator."
        },
        "user": {
          "$ref": "User",
          "description": "An end user."
        }
      },
      "id": "Actor",
      "description": "The actor of a Drive activity."
    },
    "Drive": {
      "id": "Drive",
      "description": "Information about a shared drive.",
      "type": "object",
      "properties": {
        "root": {
          "$ref": "DriveItem",
          "description": "The root of this shared drive."
        },
        "title": {
          "type": "string",
          "description": "The title of the shared drive."
        },
        "name": {
          "type": "string",
          "description": "The resource name of the shared drive. The format is `COLLECTION_ID/DRIVE_ID`. Clients should not assume a specific collection ID for this resource name."
        }
      }
    },
    "DataLeakPreventionChange": {
      "description": "A change in the object's data leak prevention status.",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "FLAGGED",
            "CLEARED"
          ],
          "description": "The type of Data Leak Prevention (DLP) change.",
          "enumDescriptions": [
            "An update to the DLP state that is neither FLAGGED or CLEARED.",
            "Document has been flagged as containing sensitive content.",
            "Document is no longer flagged as containing sensitive content."
          ]
        }
      },
      "id": "DataLeakPreventionChange",
      "type": "object"
    },
    "DriveActivity": {
      "id": "DriveActivity",
      "type": "object",
      "properties": {
        "timeRange": {
          "$ref": "TimeRange",
          "description": "The activity occurred over this time range."
        },
        "targets": {
          "type": "array",
          "description": "All Google Drive objects this activity is about (e.g. file, folder, drive). This represents the state of the target immediately after the actions occurred.",
          "items": {
            "$ref": "Target"
          }
        },
        "actions": {
          "description": "Details on all actions in this activity.",
          "type": "array",
          "items": {
            "$ref": "Action"
          }
        },
        "timestamp": {
          "format": "google-datetime",
          "description": "The activity occurred at this specific time.",
          "type": "string"
        },
        "actors": {
          "type": "array",
          "items": {
            "$ref": "Actor"
          },
          "description": "All actor(s) responsible for the activity."
        },
        "primaryActionDetail": {
          "description": "Key information about the primary action for this activity. This is either representative, or the most important, of all actions in the activity, according to the ConsolidationStrategy in the request.",
          "$ref": "ActionDetail"
        }
      },
      "description": "A single Drive activity comprising one or more Actions by one or more Actors on one or more Targets. Some Action groupings occur spontaneously, such as moving an item into a shared folder triggering a permission change. Other groupings of related Actions, such as multiple Actors editing one item or moving multiple files into a new folder, are controlled by the selection of a ConsolidationStrategy in the QueryDriveActivityRequest."
    },
    "DriveFolder": {
      "description": "A Drive item which is a folder.",
      "id": "DriveFolder",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "MY_DRIVE_ROOT",
            "SHARED_DRIVE_ROOT",
            "STANDARD_FOLDER"
          ],
          "enumDescriptions": [
            "The folder type is unknown.",
            "The folder is the root of a user's MyDrive.",
            "The folder is the root of a shared drive.",
            "The folder is a standard, non-root, folder."
          ],
          "description": "The type of Drive folder."
        }
      },
      "type": "object"
    },
    "Edit": {
      "id": "Edit",
      "description": "An empty message indicating an object was edited.",
      "properties": {},
      "type": "object"
    },
    "Permission": {
      "id": "Permission",
      "properties": {
        "anyone": {
          "description": "If set, this permission applies to anyone, even logged out users.",
          "$ref": "Anyone"
        },
        "group": {
          "$ref": "Group",
          "description": "The group to whom this permission applies."
        },
        "domain": {
          "$ref": "Domain",
          "description": "The domain to whom this permission applies."
        },
        "role": {
          "enumDescriptions": [
            "The role is not available.",
            "A role granting full access.",
            "A role granting the ability to manage people and settings.",
            "A role granting the ability to contribute and manage content.",
            "A role granting the ability to contribute content. This role is sometimes also known as \"writer\".",
            "A role granting the ability to view and comment on content.",
            "A role granting the ability to view content. This role is sometimes also known as \"reader\".",
            "A role granting the ability to view content only after it has been published to the web. This role is sometimes also known as \"published reader\". See https://support.google.com/sites/answer/6372880 for more information."
          ],
          "description": "Indicates the [Google Drive permissions role](https://developers.google.com/workspace/drive/web/manage-sharing#roles). The role determines a user's ability to read, write, and comment on items.",
          "type": "string",
          "enum": [
            "ROLE_UNSPECIFIED",
            "OWNER",
            "ORGANIZER",
            "FILE_ORGANIZER",
            "EDITOR",
            "COMMENTER",
            "VIEWER",
            "PUBLISHED_VIEWER"
          ]
        },
        "allowDiscovery": {
          "type": "boolean",
          "description": "If true, the item can be discovered (e.g. in the user's \"Shared with me\" collection) without needing a link to the item."
        },
        "user": {
          "$ref": "User",
          "description": "The user to whom this permission applies."
        }
      },
      "description": "The permission setting of an object.",
      "type": "object"
    },
    "Upload": {
      "properties": {},
      "id": "Upload",
      "description": "An object was uploaded into Drive.",
      "type": "object"
    },
    "Selection": {
      "type": "object",
      "id": "Selection",
      "description": "Wrapper for Selection Field value as combined value/display_name pair for selected choice.",
      "properties": {
        "value": {
          "description": "Selection value as Field Choice ID.",
          "type": "string"
        },
        "displayName": {
          "description": "Selection value as human-readable display string.",
          "type": "string"
        }
      }
    },
    "Copy": {
      "properties": {
        "originalObject": {
          "description": "The original object.",
          "$ref": "TargetReference"
        }
      },
      "description": "An object was created by copying an existing object.",
      "type": "object",
      "id": "Copy"
    },
    "SelectionList": {
      "properties": {
        "values": {
          "description": "Selection values.",
          "type": "array",
          "items": {
            "$ref": "Selection"
          }
        }
      },
      "id": "SelectionList",
      "type": "object",
      "description": "Wrapper for SelectionList Field value."
    },
    "Text": {
      "properties": {
        "value": {
          "description": "Value of Text Field.",
          "type": "string"
        }
      },
      "id": "Text",
      "description": "Wrapper for Text Field value.",
      "type": "object"
    },
    "AnonymousUser": {
      "type": "object",
      "properties": {},
      "description": "Empty message representing an anonymous user or indicating the authenticated user should be anonymized.",
      "id": "AnonymousUser"
    },
    "Create": {
      "description": "An object was created.",
      "type": "object",
      "properties": {
        "new": {
          "$ref": "New",
          "description": "If present, indicates the object was newly created (e.g. as a blank document), not derived from a Drive object or external object."
        },
        "upload": {
          "description": "If present, indicates the object originated externally and was uploaded to Drive.",
          "$ref": "Upload"
        },
        "copy": {
          "description": "If present, indicates the object was created by copying an existing Drive object.",
          "$ref": "Copy"
        }
      },
      "id": "Create"
    },
    "Comment": {
      "description": "A change about comments on an object.",
      "type": "object",
      "properties": {
        "assignment": {
          "$ref": "Assignment",
          "description": "A change on an assignment."
        },
        "suggestion": {
          "description": "A change on a suggestion.",
          "$ref": "Suggestion"
        },
        "mentionedUsers": {
          "description": "Users who are mentioned in this comment.",
          "items": {
            "$ref": "User"
          },
          "type": "array"
        },
        "post": {
          "description": "A change on a regular posted comment.",
          "$ref": "Post"
        }
      },
      "id": "Comment"
    },
    "UserList": {
      "description": "Wrapper for UserList Field value.",
      "type": "object",
      "properties": {
        "values": {
          "description": "User values.",
          "items": {
            "$ref": "SingleUser"
          },
          "type": "array"
        }
      },
      "id": "UserList"
    },
    "DriveItemReference": {
      "type": "object",
      "properties": {
        "driveFolder": {
          "description": "The Drive item is a folder. Includes information about the type of folder.",
          "$ref": "DriveFolder"
        },
        "title": {
          "type": "string",
          "description": "The title of the Drive item."
        },
        "folder": {
          "description": "This field is deprecated; please use the `driveFolder` field instead.",
          "deprecated": true,
          "$ref": "Folder"
        },
        "name": {
          "description": "The target Drive item. The format is `items/ITEM_ID`.",
          "type": "string"
        },
        "file": {
          "description": "This field is deprecated; please use the `driveFile` field instead.",
          "$ref": "File",
          "deprecated": true
        },
        "driveFile": {
          "description": "The Drive item is a file.",
          "$ref": "DriveFile"
        }
      },
      "description": "A lightweight reference to a Drive item, such as a file or folder.",
      "id": "DriveItemReference"
    },
    "ApplicationReference": {
      "type": "object",
      "description": "Activity in applications other than Drive.",
      "id": "ApplicationReference",
      "properties": {
        "type": {
          "description": "The reference type corresponding to this event.",
          "type": "string",
          "enumDescriptions": [
            "The type is not available.",
            "The links of one or more Drive items were posted.",
            "Comments were made regarding a Drive item."
          ],
          "enum": [
            "UNSPECIFIED_REFERENCE_TYPE",
            "LINK",
            "DISCUSS"
          ]
        }
      }
    },
    "Move": {
      "id": "Move",
      "description": "An object was moved.",
      "type": "object",
      "properties": {
        "removedParents": {
          "items": {
            "$ref": "TargetReference"
          },
          "type": "array",
          "description": "The removed parent object(s)."
        },
        "addedParents": {
          "type": "array",
          "items": {
            "$ref": "TargetReference"
          },
          "description": "The added parent object(s)."
        }
      }
    },
    "Group": {
      "id": "Group",
      "properties": {
        "email": {
          "description": "The email address of the group.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The title of the group."
        }
      },
      "type": "object",
      "description": "Information about a group."
    },
    "AppliedLabelChangeDetail": {
      "id": "AppliedLabelChangeDetail",
      "properties": {
        "label": {
          "description": "The Label name representing the Label that changed. This name always contains the revision of the Label that was used when this Action occurred. The format is `labels/id@revision`.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The human-readable title of the label that changed."
        },
        "types": {
          "description": "The types of changes made to the Label on the Target.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "TYPE_UNSPECIFIED",
              "LABEL_ADDED",
              "LABEL_REMOVED",
              "LABEL_FIELD_VALUE_CHANGED",
              "LABEL_APPLIED_BY_ITEM_CREATE"
            ],
            "enumDescriptions": [
              "The type of change to this Label is not available.",
              "The identified Label was added to the Target.",
              "The identified Label was removed from the Target.",
              "Field values were changed on the Target.",
              "The Label was applied as a side-effect of Drive item creation."
            ]
          }
        },
        "fieldChanges": {
          "type": "array",
          "description": "Field Changes. Only present if `types` contains `LABEL_FIELD_VALUE_CHANGED`.",
          "items": {
            "$ref": "FieldValueChange"
          }
        }
      },
      "type": "object",
      "description": "A change made to a Label on the Target."
    },
    "NoConsolidation": {
      "properties": {},
      "description": "A strategy that does no consolidation of individual activities.",
      "type": "object",
      "id": "NoConsolidation"
    },
    "TargetReference": {
      "type": "object",
      "id": "TargetReference",
      "properties": {
        "driveItem": {
          "$ref": "DriveItemReference",
          "description": "The target is a Drive item."
        },
        "teamDrive": {
          "description": "This field is deprecated; please use the `drive` field instead.",
          "$ref": "TeamDriveReference",
          "deprecated": true
        },
        "drive": {
          "$ref": "DriveReference",
          "description": "The target is a shared drive."
        }
      },
      "description": "A lightweight reference to the target of activity."
    },
    "Domain": {
      "id": "Domain",
      "description": "Information about a domain.",
      "type": "object",
      "properties": {
        "legacyId": {
          "type": "string",
          "description": "An opaque string used to identify this domain."
        },
        "name": {
          "type": "string",
          "description": "The name of the domain, e.g. `google.com`."
        }
      }
    },
    "Post": {
      "id": "Post",
      "type": "object",
      "properties": {
        "subtype": {
          "description": "The sub-type of this event.",
          "type": "string",
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "RESOLVED",
            "REOPENED"
          ],
          "enumDescriptions": [
            "Subtype not available.",
            "A post was added.",
            "A post was deleted.",
            "A reply was added.",
            "A reply was deleted.",
            "A posted comment was resolved.",
            "A posted comment was reopened."
          ]
        }
      },
      "description": "A regular posted comment."
    },
    "TeamDrive": {
      "id": "TeamDrive",
      "deprecated": true,
      "type": "object",
      "properties": {
        "title": {
          "description": "This field is deprecated; please see `Drive.title` instead.",
          "type": "string"
        },
        "root": {
          "$ref": "DriveItem",
          "description": "This field is deprecated; please see `Drive.root` instead."
        },
        "name": {
          "type": "string",
          "description": "This field is deprecated; please see `Drive.name` instead."
        }
      },
      "description": "This item is deprecated; please see `Drive` instead."
    },
    "KnownUser": {
      "description": "A known user.",
      "id": "KnownUser",
      "type": "object",
      "properties": {
        "personName": {
          "type": "string",
          "description": "The identifier for this user that can be used with the People API to get more information. The format is `people/ACCOUNT_ID`. See https://developers.google.com/people/."
        },
        "isCurrentUser": {
          "description": "True if this is the user making the request.",
          "type": "boolean"
        }
      }
    },
    "FieldValue": {
      "id": "FieldValue",
      "type": "object",
      "properties": {
        "selectionList": {
          "description": "Selection List Field value.",
          "$ref": "SelectionList"
        },
        "userList": {
          "description": "User List Field value.",
          "$ref": "UserList"
        },
        "text": {
          "$ref": "Text",
          "description": "Text Field value."
        },
        "integer": {
          "$ref": "Integer",
          "description": "Integer Field value."
        },
        "selection": {
          "description": "Selection Field value.",
          "$ref": "Selection"
        },
        "date": {
          "$ref": "Date",
          "description": "Date Field value."
        },
        "textList": {
          "$ref": "TextList",
          "description": "Text List Field value."
        },
        "user": {
          "description": "User Field value.",
          "$ref": "SingleUser"
        }
      },
      "description": "Contains a value of a Field."
    },
    "SingleUser": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "User value as email."
        }
      },
      "description": "Wrapper for User Field value.",
      "id": "SingleUser"
    },
    "Owner": {
      "description": "Information about the owner of a Drive item.",
      "id": "Owner",
      "type": "object",
      "properties": {
        "user": {
          "$ref": "User",
          "description": "The user that owns the Drive item."
        },
        "teamDrive": {
          "description": "This field is deprecated; please use the `drive` field instead.",
          "$ref": "TeamDriveReference",
          "deprecated": true
        },
        "drive": {
          "$ref": "DriveReference",
          "description": "The drive that owns the item."
        },
        "domain": {
          "description": "The domain of the Drive item owner.",
          "$ref": "Domain"
        }
      }
    },
    "TeamDriveReference": {
      "id": "TeamDriveReference",
      "description": "This item is deprecated; please see `DriveReference` instead.",
      "properties": {
        "title": {
          "type": "string",
          "description": "This field is deprecated; please see `DriveReference.title` instead."
        },
        "name": {
          "description": "This field is deprecated; please see `DriveReference.name` instead.",
          "type": "string"
        }
      },
      "type": "object",
      "deprecated": true
    },
    "File": {
      "description": "This item is deprecated; please see `DriveFile` instead.",
      "id": "File",
      "properties": {},
      "deprecated": true,
      "type": "object"
    },
    "QueryDriveActivityRequest": {
      "description": "The request message for querying Drive activity.",
      "id": "QueryDriveActivityRequest",
      "type": "object",
      "properties": {
        "consolidationStrategy": {
          "description": "Details on how to consolidate related actions that make up the activity. If not set, then related actions aren't consolidated.",
          "$ref": "ConsolidationStrategy"
        },
        "pageToken": {
          "type": "string",
          "description": "The token identifies which page of results to return. Set this to the next_page_token value returned from a previous query to obtain the following page of results. If not set, the first page of results is returned."
        },
        "ancestorName": {
          "type": "string",
          "description": "Return activities for this Drive folder, plus all children and descendants. The format is `items/ITEM_ID`."
        },
        "itemName": {
          "description": "Return activities for this Drive item. The format is `items/ITEM_ID`.",
          "type": "string"
        },
        "filter": {
          "description": "The filtering for items returned from this query request. The format of the filter string is a sequence of expressions, joined by an optional \"AND\", where each expression is of the form \"field operator value\". Supported fields: - `time`: Uses numerical operators on date values either in terms of milliseconds since Jan 1, 1970 or in RFC 3339 format. Examples: - `time > 1452409200000 AND time <= 1492812924310` - `time >= \"2016-01-10T01:02:03-05:00\"` - `detail.action_detail_case`: Uses the \"has\" operator (:) and either a singular value or a list of allowed action types enclosed in parentheses, separated by a space. To exclude a result from the response, prepend a hyphen (`-`) to the beginning of the filter string. Examples: - `detail.action_detail_case:RENAME` - `detail.action_detail_case:(CREATE RESTORE)` - `-detail.action_detail_case:MOVE` ",
          "type": "string"
        },
        "pageSize": {
          "type": "integer",
          "description": "The minimum number of activities desired in the response; the server attempts to return at least this quantity. The server may also return fewer activities if it has a partial response ready before the request times out. If not set, a default value is used.",
          "format": "int32"
        }
      }
    },
    "Suggestion": {
      "type": "object",
      "id": "Suggestion",
      "description": "A suggestion.",
      "properties": {
        "subtype": {
          "description": "The sub-type of this event.",
          "type": "string",
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "ACCEPTED",
            "REJECTED",
            "ACCEPT_DELETED",
            "REJECT_DELETED"
          ],
          "enumDescriptions": [
            "Subtype not available.",
            "A suggestion was added.",
            "A suggestion was deleted.",
            "A suggestion reply was added.",
            "A suggestion reply was deleted.",
            "A suggestion was accepted.",
            "A suggestion was rejected.",
            "An accepted suggestion was deleted.",
            "A rejected suggestion was deleted."
          ]
        }
      }
    },
    "Action": {
      "description": "Information about the action.",
      "id": "Action",
      "type": "object",
      "properties": {
        "detail": {
          "description": "The type and detailed information about the action.",
          "$ref": "ActionDetail"
        },
        "timeRange": {
          "$ref": "TimeRange",
          "description": "The action occurred over this time range."
        },
        "actor": {
          "description": "The actor responsible for this action (or empty if all actors are responsible).",
          "$ref": "Actor"
        },
        "timestamp": {
          "type": "string",
          "description": "The action occurred at this specific time.",
          "format": "google-datetime"
        },
        "target": {
          "$ref": "Target",
          "description": "The target this action affects (or empty if affecting all targets). This represents the state of the target immediately after this action occurred."
        }
      }
    },
    "Folder": {
      "id": "Folder",
      "description": "This item is deprecated; please see `DriveFolder` instead.",
      "properties": {
        "type": {
          "description": "This field is deprecated; please see `DriveFolder.type` instead.",
          "enumDescriptions": [
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "MY_DRIVE_ROOT",
            "TEAM_DRIVE_ROOT",
            "STANDARD_FOLDER"
          ]
        }
      },
      "deprecated": true,
      "type": "object"
    },
    "DriveReference": {
      "description": "A lightweight reference to a shared drive.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name of the shared drive. The format is `COLLECTION_ID/DRIVE_ID`. Clients should not assume a specific collection ID for this resource name.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The title of the shared drive."
        }
      },
      "id": "DriveReference"
    },
    "DriveFile": {
      "id": "DriveFile",
      "properties": {},
      "description": "A Drive item which is a file.",
      "type": "object"
    },
    "User": {
      "properties": {
        "deletedUser": {
          "description": "A user whose account has since been deleted.",
          "$ref": "DeletedUser"
        },
        "unknownUser": {
          "description": "A user about whom nothing is currently known.",
          "$ref": "UnknownUser"
        },
        "knownUser": {
          "description": "A known user.",
          "$ref": "KnownUser"
        }
      },
      "description": "Information about an end user.",
      "type": "object",
      "id": "User"
    },
    "TextList": {
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "$ref": "Text"
          },
          "description": "Text values."
        }
      },
      "description": "Wrapper for Text List Field value.",
      "type": "object",
      "id": "TextList"
    },
    "DriveItem": {
      "id": "DriveItem",
      "type": "object",
      "description": "A Drive item, such as a file or folder.",
      "properties": {
        "name": {
          "description": "The target Drive item. The format is `items/ITEM_ID`.",
          "type": "string"
        },
        "file": {
          "description": "This field is deprecated; please use the `driveFile` field instead.",
          "$ref": "File",
          "deprecated": true
        },
        "driveFile": {
          "$ref": "DriveFile",
          "description": "The Drive item is a file."
        },
        "driveFolder": {
          "$ref": "DriveFolder",
          "description": "The Drive item is a folder. Includes information about the type of folder."
        },
        "mimeType": {
          "description": "The MIME type of the Drive item. See https://developers.google.com/workspace/drive/v3/web/mime-types.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The title of the Drive item."
        },
        "owner": {
          "$ref": "Owner",
          "description": "Information about the owner of this Drive item."
        },
        "folder": {
          "description": "This field is deprecated; please use the `driveFolder` field instead.",
          "$ref": "Folder",
          "deprecated": true
        }
      }
    }
  }
}