{
  "version": "v3",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "mtlsRootUrl": "https://www.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "servicePath": "drive/v3/",
  "ownerName": "Google",
  "id": "drive:v3",
  "baseUrl": "https://www.googleapis.com/drive/v3/",
  "basePath": "/drive/v3/",
  "title": "Google Drive API",
  "schemas": {
    "CommentList": {
      "description": "A list of comments on a file.",
      "properties": {
        "kind": {
          "default": "drive#commentList",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#commentList\"`.",
          "type": "string"
        },
        "comments": {
          "type": "array",
          "description": "The list of comments. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "items": {
            "$ref": "Comment"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The page token for the next page of comments. This will be absent if the end of the comments list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ."
        }
      },
      "id": "CommentList",
      "type": "object"
    },
    "TeamDriveList": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The page token for the next page of Team Drives. This will be absent if the end of the Team Drives list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#teamDriveList\"`.",
          "default": "drive#teamDriveList"
        },
        "teamDrives": {
          "items": {
            "$ref": "TeamDrive"
          },
          "type": "array",
          "description": "The list of Team Drives. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched."
        }
      },
      "id": "TeamDriveList",
      "description": "A list of Team Drives."
    },
    "DecryptionMetadata": {
      "id": "DecryptionMetadata",
      "type": "object",
      "properties": {
        "jwt": {
          "type": "string",
          "description": "The signed JSON Web Token (JWT) which can be used to authorize the requesting user with the Key ACL Service (KACLS). The JWT asserts that the requesting user has at least read permissions on the file."
        },
        "aes256GcmChunkSize": {
          "description": "Chunk size used if content was encrypted with the AES 256 GCM Cipher. Possible values are: - default - small ",
          "type": "string"
        },
        "keyFormat": {
          "description": "Key format for the unwrapped key. Must be `tinkAesGcmKey`.",
          "type": "string"
        },
        "kaclsName": {
          "description": "The name of the KACLS (Key ACL Service) used to encrypt the file.",
          "type": "string"
        },
        "wrappedKey": {
          "description": "The URL-safe Base64 encoded wrapped key used to encrypt the contents of the file.",
          "type": "string"
        },
        "encryptionResourceKeyHash": {
          "description": "The URL-safe Base64 encoded HMAC-SHA256 digest of the resource metadata with its DEK (Data Encryption Key); see https://developers.google.com/workspace/cse/reference",
          "type": "string"
        },
        "kaclsId": {
          "type": "string",
          "description": "The ID of the KACLS (Key ACL Service) used to encrypt the file.",
          "format": "int64"
        }
      },
      "description": "Representation of the CSE DecryptionMetadata."
    },
    "ListAccessProposalsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The continuation token for the next page of results. This will be absent if the end of the results list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results."
        },
        "accessProposals": {
          "items": {
            "$ref": "AccessProposal"
          },
          "description": "The list of access proposals. This field is only populated in Drive API v3.",
          "type": "array"
        }
      },
      "description": "The response to an access proposal list request.",
      "id": "ListAccessProposalsResponse"
    },
    "ReplaceReviewer": {
      "description": "Representation of a reviewer replacement.",
      "properties": {
        "addedReviewerEmail": {
          "description": "Required. The email of the reviewer to add.",
          "type": "string"
        },
        "removedReviewerEmail": {
          "type": "string",
          "description": "Required. The email of the reviewer to remove."
        }
      },
      "id": "ReplaceReviewer",
      "type": "object"
    },
    "Permission": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Output only. The ID of this permission. This is a unique identifier for the grantee, and is published in the [User resource](https://developers.google.com/workspace/drive/api/reference/rest/v3/User) as `permissionId`. IDs should be treated as opaque values."
        },
        "emailAddress": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The email address of the user or group to which this permission refers."
        },
        "displayName": {
          "type": "string",
          "description": "Output only. The \"pretty\" name of the value of the permission. The following is a list of examples for each type of permission: * `user` - User's full name, as defined for their Google Account, such as \"Dana A.\" * `group` - Name of the Google Group, such as \"The Company Administrators.\" * `domain` - String domain name, such as \"cymbalgroup.com.\" * `anyone` - No `displayName` is present."
        },
        "role": {
          "annotations": {
            "required": [
              "drive.permissions.create"
            ]
          },
          "type": "string",
          "description": "The role granted by this permission. Supported values include: * `owner` * `organizer` * `fileOrganizer` * `writer` * `commenter` * `reader` For more information, see [Roles and permissions](https://developers.google.com/workspace/drive/api/guides/ref-roles)."
        },
        "domain": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The domain to which this permission refers."
        },
        "view": {
          "description": "Indicates the view for this permission. Only populated for permissions that belong to a view. The only supported values are `published` and `metadata`: * `published`: The permission's role is `publishedReader`. * `metadata`: The item is only visible to the `metadata` view because the item has limited access and the scope has at least read access to the parent. The `metadata` view is only supported on folders. For more information, see [Views](https://developers.google.com/workspace/drive/api/guides/ref-roles#views).",
          "type": "string"
        },
        "permissionDetails": {
          "items": {
            "type": "object",
            "properties": {
              "permissionType": {
                "type": "string",
                "description": "Output only. The permission type for this user. Supported values include: * `file` * `member`"
              },
              "inheritedFrom": {
                "readOnly": true,
                "type": "string",
                "description": "Output only. The ID of the item from which this permission is inherited. This is only populated for items in shared drives."
              },
              "role": {
                "type": "string",
                "description": "Output only. The primary role for this user. Supported values include: * `owner` * `organizer` * `fileOrganizer` * `writer` * `commenter` * `reader` For more information, see [Roles and permissions](https://developers.google.com/workspace/drive/api/guides/ref-roles)."
              },
              "inherited": {
                "type": "boolean",
                "description": "Output only. Whether this permission is inherited. This field is always populated. This is an output-only field."
              }
            }
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. Details of whether the permissions on this item are inherited or are directly on this item."
        },
        "expirationTime": {
          "format": "date-time",
          "type": "string",
          "description": "The time at which this permission will expire (RFC 3339 date-time). Expiration times have the following restrictions: - They can only be set on user and group permissions - The time must be in the future - The time cannot be more than a year in the future"
        },
        "kind": {
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#permission\"`.",
          "default": "drive#permission",
          "type": "string"
        },
        "photoLink": {
          "description": "Output only. A link to the user's profile photo, if available.",
          "type": "string"
        },
        "allowFileDiscovery": {
          "description": "Whether the permission allows the file to be discovered through search. This is only applicable for permissions of type `domain` or `anyone`.",
          "type": "boolean"
        },
        "pendingOwner": {
          "type": "boolean",
          "description": "Whether the account associated with this permission is a pending owner. Only populated for permissions of type `user` for files that aren't in a shared drive."
        },
        "deleted": {
          "type": "boolean",
          "description": "Output only. Whether the account associated with this permission has been deleted. This field only pertains to permissions of type `user` or `group`."
        },
        "type": {
          "type": "string",
          "annotations": {
            "required": [
              "drive.permissions.create"
            ]
          },
          "description": "The type of the grantee. Supported values include: * `user` * `group` * `domain` * `anyone` When creating a permission, if `type` is `user` or `group`, you must provide an `emailAddress` for the user or group. If `type` is `domain`, you must provide a `domain`. If `type` is `anyone`, no extra information is required."
        },
        "teamDrivePermissionDetails": {
          "description": "Output only. Deprecated: Output only. Use `permissionDetails` instead.",
          "items": {
            "properties": {
              "inheritedFrom": {
                "description": "Deprecated: Output only. Use `permissionDetails/inheritedFrom` instead.",
                "type": "string",
                "deprecated": true
              },
              "role": {
                "type": "string",
                "deprecated": true,
                "description": "Deprecated: Output only. Use `permissionDetails/role` instead."
              },
              "inherited": {
                "deprecated": true,
                "description": "Deprecated: Output only. Use `permissionDetails/inherited` instead.",
                "type": "boolean"
              },
              "teamDrivePermissionType": {
                "type": "string",
                "description": "Deprecated: Output only. Use `permissionDetails/permissionType` instead.",
                "deprecated": true
              }
            },
            "type": "object"
          },
          "deprecated": true,
          "readOnly": true,
          "type": "array"
        },
        "inheritedPermissionsDisabled": {
          "description": "When `true`, only organizers, owners, and users with permissions added directly on the item can access it.",
          "type": "boolean"
        }
      },
      "description": "A permission for a file. A permission grants a user, group, domain, or the world access to a file or a folder hierarchy. For more information, see [Share files, folders, and drives](https://developers.google.com/workspace/drive/api/guides/manage-sharing). By default, permission requests only return a subset of fields. Permission `kind`, `ID`, `type`, and `role` are always returned. To retrieve specific fields, see [Return specific fields](https://developers.google.com/workspace/drive/api/guides/fields-parameter). Some resource methods (such as `permissions.update`) require a `permissionId`. Use the `permissions.list` method to retrieve the ID for a file, folder, or shared drive.",
      "type": "object",
      "id": "Permission"
    },
    "TeamDrive": {
      "type": "object",
      "properties": {
        "themeId": {
          "description": "The ID of the theme from which the background image and color will be set. The set of possible `teamDriveThemes` can be retrieved from a `drive.about.get` response. When not specified on a `drive.teamdrives.create` request, a random theme is chosen from which the background image and color are set. This is a write-only field; it can only be set on requests that don't set `colorRgb` or `backgroundImageFile`.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#teamDrive\"`.",
          "default": "drive#teamDrive"
        },
        "colorRgb": {
          "description": "The color of this Team Drive as an RGB hex string. It can only be set on a `drive.teamdrives.update` request that does not set `themeId`.",
          "type": "string"
        },
        "createdTime": {
          "description": "The time at which the Team Drive was created (RFC 3339 date-time).",
          "format": "date-time",
          "type": "string"
        },
        "name": {
          "description": "The name of this Team Drive.",
          "type": "string"
        },
        "backgroundImageLink": {
          "type": "string",
          "description": "A short-lived link to this Team Drive's background image."
        },
        "restrictions": {
          "type": "object",
          "properties": {
            "sharingFoldersRequiresOrganizerPermission": {
              "description": "If true, only users with the organizer role can share folders. If false, users with either the organizer role or the file organizer role can share folders.",
              "type": "boolean"
            },
            "adminManagedRestrictions": {
              "description": "Whether administrative privileges on this Team Drive are required to modify restrictions.",
              "type": "boolean"
            },
            "copyRequiresWriterPermission": {
              "type": "boolean",
              "description": "Whether the options to copy, print, or download files inside this Team Drive, should be disabled for readers and commenters. When this restriction is set to `true`, it will override the similarly named field to `true` for any file inside this Team Drive."
            },
            "domainUsersOnly": {
              "description": "Whether access to this Team Drive and items inside this Team Drive is restricted to users of the domain to which this Team Drive belongs. This restriction may be overridden by other sharing policies controlled outside of this Team Drive.",
              "type": "boolean"
            },
            "teamMembersOnly": {
              "type": "boolean",
              "description": "Whether access to items inside this Team Drive is restricted to members of this Team Drive."
            },
            "downloadRestriction": {
              "description": "Download restrictions applied by shared drive managers.",
              "$ref": "DownloadRestriction"
            }
          },
          "description": "A set of restrictions that apply to this Team Drive or items inside this Team Drive."
        },
        "id": {
          "description": "The ID of this Team Drive which is also the ID of the top level folder of this Team Drive.",
          "type": "string"
        },
        "capabilities": {
          "description": "Capabilities the current user has on this Team Drive.",
          "type": "object",
          "properties": {
            "canChangeSharingFoldersRequiresOrganizerPermissionRestriction": {
              "type": "boolean",
              "description": "Whether the current user can change the `sharingFoldersRequiresOrganizerPermission` restriction of this Team Drive."
            },
            "canEdit": {
              "description": "Whether the current user can edit files in this Team Drive",
              "type": "boolean"
            },
            "canRemoveChildren": {
              "description": "Deprecated: Use `canDeleteChildren` or `canTrashChildren` instead.",
              "type": "boolean",
              "deprecated": true
            },
            "canChangeDownloadRestriction": {
              "type": "boolean",
              "description": "Output only. Whether the current user can change organizer-applied download restrictions of this shared drive.",
              "readOnly": true
            },
            "canCopy": {
              "type": "boolean",
              "description": "Whether the current user can copy files in this Team Drive."
            },
            "canManageMembers": {
              "description": "Whether the current user can add members to this Team Drive or remove them or change their role.",
              "type": "boolean"
            },
            "canRenameTeamDrive": {
              "description": "Whether the current user can rename this Team Drive.",
              "type": "boolean"
            },
            "canListChildren": {
              "description": "Whether the current user can list the children of folders in this Team Drive.",
              "type": "boolean"
            },
            "canShare": {
              "type": "boolean",
              "description": "Whether the current user can share files or folders in this Team Drive."
            },
            "canRename": {
              "type": "boolean",
              "description": "Whether the current user can rename files or folders in this Team Drive."
            },
            "canChangeDomainUsersOnlyRestriction": {
              "description": "Whether the current user can change the `domainUsersOnly` restriction of this Team Drive.",
              "type": "boolean"
            },
            "canResetTeamDriveRestrictions": {
              "description": "Whether the current user can reset the Team Drive restrictions to defaults.",
              "type": "boolean"
            },
            "canChangeTeamMembersOnlyRestriction": {
              "type": "boolean",
              "description": "Whether the current user can change the `teamMembersOnly` restriction of this Team Drive."
            },
            "canDeleteChildren": {
              "description": "Whether the current user can delete children from folders in this Team Drive.",
              "type": "boolean"
            },
            "canTrashChildren": {
              "type": "boolean",
              "description": "Whether the current user can trash children from folders in this Team Drive."
            },
            "canDeleteTeamDrive": {
              "description": "Whether the current user can delete this Team Drive. Attempting to delete the Team Drive may still fail if there are untrashed items inside the Team Drive.",
              "type": "boolean"
            },
            "canChangeTeamDriveBackground": {
              "type": "boolean",
              "description": "Whether the current user can change the background of this Team Drive."
            },
            "canAddChildren": {
              "type": "boolean",
              "description": "Whether the current user can add children to folders in this Team Drive."
            },
            "canDownload": {
              "description": "Whether the current user can download files in this Team Drive.",
              "type": "boolean"
            },
            "canComment": {
              "description": "Whether the current user can comment on files in this Team Drive.",
              "type": "boolean"
            },
            "canChangeCopyRequiresWriterPermissionRestriction": {
              "type": "boolean",
              "description": "Whether the current user can change the `copyRequiresWriterPermission` restriction of this Team Drive."
            },
            "canReadRevisions": {
              "type": "boolean",
              "description": "Whether the current user can read the revisions resource of files in this Team Drive."
            }
          }
        },
        "orgUnitId": {
          "description": "The organizational unit of this shared drive. This field is only populated on `drives.list` responses when the `useDomainAdminAccess` parameter is set to `true`.",
          "type": "string"
        },
        "backgroundImageFile": {
          "description": "The background image file for a Team Drive.",
          "properties": {
            "width": {
              "type": "number",
              "description": "The width of the cropped image in the closed range of 0 to 1. This value represents the width of the cropped image divided by the width of the entire image. The height is computed by applying a width to height aspect ratio of 80 to 9. The resulting image must be at least 1280 pixels wide and 144 pixels high.",
              "format": "float"
            },
            "id": {
              "type": "string",
              "description": "The ID of an image file in Drive to use for the background image."
            },
            "yCoordinate": {
              "format": "float",
              "description": "The Y coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the vertical distance from the top side of the entire image to the top side of the cropping area divided by the height of the entire image.",
              "type": "number"
            },
            "xCoordinate": {
              "type": "number",
              "format": "float",
              "description": "The X coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the horizontal distance from the left side of the entire image to the left side of the cropping area divided by the width of the entire image."
            }
          },
          "type": "object"
        }
      },
      "description": "Deprecated: use the drive collection instead. Next ID: 33",
      "id": "TeamDrive"
    },
    "AppIcons": {
      "type": "object",
      "id": "AppIcons",
      "properties": {
        "category": {
          "type": "string",
          "description": "Category of the icon. Allowed values are: * `application` - The icon for the application. * `document` - The icon for a file associated with the app. * `documentShared` - The icon for a shared file associated with the app."
        },
        "iconUrl": {
          "description": "URL for the icon.",
          "type": "string"
        },
        "size": {
          "format": "int32",
          "type": "integer",
          "description": "Size of the icon. Represented as the maximum of the width and height."
        }
      }
    },
    "LabelFieldModification": {
      "id": "LabelFieldModification",
      "description": "A modification to a label's field.",
      "type": "object",
      "properties": {
        "setTextValues": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Sets the value of a `text` field."
        },
        "setSelectionValues": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Replaces a `selection` field with these new values."
        },
        "setIntegerValues": {
          "type": "array",
          "description": "Replaces the value of an `integer` field with these new values.",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "fieldId": {
          "type": "string",
          "description": "The ID of the field to be modified."
        },
        "kind": {
          "type": "string",
          "description": "This is always `\"drive#labelFieldModification\"`."
        },
        "unsetValues": {
          "type": "boolean",
          "description": "Unsets the values for this field."
        },
        "setDateValues": {
          "items": {
            "type": "string",
            "format": "date"
          },
          "description": "Replaces the value of a dateString Field with these new values. The string must be in the RFC 3339 full-date format: YYYY-MM-DD.",
          "type": "array"
        },
        "setUserValues": {
          "description": "Replaces a `user` field with these new values. The values must be a valid email addresses.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "DownloadRestrictionsMetadata": {
      "description": "Download restrictions applied to the file.",
      "properties": {
        "effectiveDownloadRestrictionWithContext": {
          "description": "Output only. The effective download restriction applied to this file. This considers all restriction settings and DLP rules.",
          "$ref": "DownloadRestriction"
        },
        "itemDownloadRestriction": {
          "description": "The download restriction of the file applied directly by the owner or organizer. This doesn't take into account shared drive settings or DLP rules.",
          "$ref": "DownloadRestriction"
        }
      },
      "id": "DownloadRestrictionsMetadata",
      "type": "object"
    },
    "AccessProposal": {
      "id": "AccessProposal",
      "properties": {
        "proposalId": {
          "type": "string",
          "description": "The ID of the access proposal."
        },
        "requesterEmailAddress": {
          "description": "The email address of the requesting user.",
          "type": "string"
        },
        "recipientEmailAddress": {
          "description": "The email address of the user that will receive permissions, if accepted.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "The creation time.",
          "type": "string"
        },
        "rolesAndViews": {
          "type": "array",
          "description": "A wrapper for the role and view of an access proposal. For more information, see [Roles and permissions](https://developers.google.com/workspace/drive/api/guides/ref-roles).",
          "items": {
            "$ref": "AccessProposalRoleAndView"
          }
        },
        "requestMessage": {
          "description": "The message that the requester added to the proposal.",
          "type": "string"
        },
        "fileId": {
          "type": "string",
          "description": "The file ID that the proposal for access is on."
        }
      },
      "type": "object",
      "description": "Manage outstanding access proposals on a file."
    },
    "ModifyLabelsRequest": {
      "id": "ModifyLabelsRequest",
      "description": "A request to modify the set of labels on a file. This request may contain many modifications that will either all succeed or all fail atomically.",
      "type": "object",
      "properties": {
        "labelModifications": {
          "description": "The list of modifications to apply to the labels on the file.",
          "type": "array",
          "items": {
            "$ref": "LabelModification"
          }
        },
        "kind": {
          "type": "string",
          "description": "This is always `\"drive#modifyLabelsRequest\"`."
        }
      }
    },
    "User": {
      "properties": {
        "kind": {
          "readOnly": true,
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `drive#user`.",
          "type": "string",
          "default": "drive#user"
        },
        "displayName": {
          "description": "Output only. A plain text displayable name for this user.",
          "type": "string",
          "readOnly": true
        },
        "photoLink": {
          "description": "Output only. A link to the user's profile photo, if available.",
          "readOnly": true,
          "type": "string"
        },
        "me": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether this user is the requesting user."
        },
        "permissionId": {
          "readOnly": true,
          "description": "Output only. The user's ID as visible in Permission resources.",
          "type": "string"
        },
        "emailAddress": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The email address of the user. This may not be present in certain contexts if the user has not made their email address visible to the requester."
        }
      },
      "type": "object",
      "description": "Information about a Drive user.",
      "id": "User"
    },
    "AppList": {
      "id": "AppList",
      "description": "A list of third-party applications which the user has installed or given access to Google Drive.",
      "type": "object",
      "properties": {
        "defaultAppIds": {
          "description": "The list of app IDs that the user has specified to use by default. The list is in reverse-priority order (lowest to highest).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "selfLink": {
          "type": "string",
          "description": "A link back to this list."
        },
        "kind": {
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string \"drive#appList\".",
          "type": "string",
          "default": "drive#appList"
        },
        "items": {
          "items": {
            "$ref": "App"
          },
          "description": "The list of apps.",
          "type": "array"
        }
      }
    },
    "About": {
      "type": "object",
      "id": "About",
      "properties": {
        "importFormats": {
          "description": "A map of source MIME type to possible targets for all supported imports.",
          "type": "object",
          "additionalProperties": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "driveThemes": {
          "description": "A list of themes that are supported for shared drives.",
          "type": "array",
          "items": {
            "properties": {
              "id": {
                "description": "The ID of the theme.",
                "type": "string"
              },
              "backgroundImageLink": {
                "type": "string",
                "description": "A link to this theme's background image."
              },
              "colorRgb": {
                "type": "string",
                "description": "The color of this theme as an RGB hex string."
              }
            },
            "type": "object"
          }
        },
        "kind": {
          "default": "drive#about",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#about\"`.",
          "type": "string"
        },
        "folderColorPalette": {
          "description": "The currently supported folder colors as RGB hex strings.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "canCreateTeamDrives": {
          "type": "boolean",
          "deprecated": true,
          "description": "Deprecated: Use `canCreateDrives` instead."
        },
        "teamDriveThemes": {
          "description": "Deprecated: Use `driveThemes` instead.",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "deprecated": true,
                "type": "string",
                "description": "Deprecated: Use `driveThemes/id` instead."
              },
              "colorRgb": {
                "type": "string",
                "deprecated": true,
                "description": "Deprecated: Use `driveThemes/colorRgb` instead."
              },
              "backgroundImageLink": {
                "deprecated": true,
                "description": "Deprecated: Use `driveThemes/backgroundImageLink` instead.",
                "type": "string"
              }
            }
          },
          "deprecated": true,
          "type": "array"
        },
        "exportFormats": {
          "type": "object",
          "description": "A map of source MIME type to possible targets for all supported exports.",
          "additionalProperties": {
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "user": {
          "description": "The authenticated user.",
          "$ref": "User"
        },
        "maxUploadSize": {
          "description": "The maximum upload size in bytes.",
          "format": "int64",
          "type": "string"
        },
        "canCreateDrives": {
          "type": "boolean",
          "description": "Whether the user can create shared drives."
        },
        "appInstalled": {
          "description": "Whether the user has installed the requesting app.",
          "type": "boolean"
        },
        "storageQuota": {
          "type": "object",
          "properties": {
            "limit": {
              "description": "The usage limit, if applicable. This will not be present if the user has unlimited storage. For users that are part of an organization with pooled storage, this is the limit for the organization, rather than the individual user.",
              "type": "string",
              "format": "int64"
            },
            "usageInDriveTrash": {
              "type": "string",
              "format": "int64",
              "description": "The usage by trashed files in Google Drive."
            },
            "usage": {
              "format": "int64",
              "type": "string",
              "description": "The total usage across all services. For users that are part of an organization with pooled storage, this is the usage across all services for the organization, rather than the individual user."
            },
            "usageInDrive": {
              "description": "The usage by all files in Google Drive.",
              "format": "int64",
              "type": "string"
            }
          },
          "description": "The user's storage quota limits and usage. For users that are part of an organization with pooled storage, information about the limit and usage across all services is for the organization, rather than the individual user. All fields are measured in bytes."
        },
        "maxImportSizes": {
          "additionalProperties": {
            "format": "int64",
            "type": "string"
          },
          "type": "object",
          "description": "A map of maximum import sizes by MIME type, in bytes."
        }
      },
      "description": "Information about the user, the user's Drive, and system capabilities."
    },
    "LabelList": {
      "type": "object",
      "description": "A list of labels applied to a file.",
      "properties": {
        "labels": {
          "description": "The list of labels.",
          "type": "array",
          "items": {
            "$ref": "Label"
          }
        },
        "kind": {
          "type": "string",
          "description": "This is always `\"drive#labelList\"`."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The page token for the next page of labels. This field will be absent if the end of the list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ."
        }
      },
      "id": "LabelList"
    },
    "ReassignApprovalRequest": {
      "id": "ReassignApprovalRequest",
      "type": "object",
      "properties": {
        "replaceReviewers": {
          "type": "array",
          "items": {
            "$ref": "ReplaceReviewer"
          },
          "description": "Optional. The list of reviewer replacements."
        },
        "message": {
          "type": "string",
          "description": "Optional. A message to send to the new reviewers. This message is included in notifications for the action and in the approval activity log."
        },
        "addReviewers": {
          "type": "array",
          "items": {
            "$ref": "AddReviewer"
          },
          "description": "Optional. The list of reviewers to add."
        }
      },
      "description": "Request for reassigning an approval. Reviewers can be added or replaced, but not removed."
    },
    "ReviewerResponse": {
      "properties": {
        "kind": {
          "description": "This is always drive#reviewerResponse.",
          "type": "string"
        },
        "reviewer": {
          "description": "The user that's responsible for this response.",
          "$ref": "User"
        },
        "response": {
          "type": "string",
          "enum": [
            "RESPONSE_UNSPECIFIED",
            "NO_RESPONSE",
            "APPROVED",
            "DECLINED"
          ],
          "enumDescriptions": [
            "The response was set to an unrecognized value.",
            "The reviewer hasn't responded.",
            "The reviewer has approved the item.",
            "The reviewer has declined the item."
          ],
          "description": "A reviewer’s response for the approval."
        }
      },
      "description": "A response on an approval made by a specific reviewer.",
      "id": "ReviewerResponse",
      "type": "object"
    },
    "Status": {
      "id": "Status",
      "properties": {
        "details": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "ModifyLabelsResponse": {
      "description": "Response to a `ModifyLabels` request. This contains only those labels which were added or updated by the request.",
      "properties": {
        "kind": {
          "description": "This is always `\"drive#modifyLabelsResponse\"`.",
          "type": "string"
        },
        "modifiedLabels": {
          "type": "array",
          "items": {
            "$ref": "Label"
          },
          "description": "The list of labels which were added or updated by the request."
        }
      },
      "id": "ModifyLabelsResponse",
      "type": "object"
    },
    "CommentApprovalRequest": {
      "id": "CommentApprovalRequest",
      "description": "Request for commenting on an approval.",
      "type": "object",
      "properties": {
        "message": {
          "description": "Required. A message to comment on the approval. This message is included in notifications for the action and in the approval activity log.",
          "type": "string"
        }
      }
    },
    "GenerateCseTokenResponse": {
      "id": "GenerateCseTokenResponse",
      "properties": {
        "kind": {
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#generateCseTokenResponse\"`.",
          "type": "string"
        },
        "fileId": {
          "description": "The fileId for which the JWT was generated.",
          "type": "string"
        },
        "currentKaclsId": {
          "type": "string",
          "description": "The current Key ACL Service (KACLS) ID associated with the JWT.",
          "format": "int64"
        },
        "jwt": {
          "description": "The signed JSON Web Token (JWT) for the file.",
          "type": "string"
        },
        "currentKaclsName": {
          "description": "Name of the KACLs that the returned KACLs ID points to.",
          "type": "string"
        }
      },
      "description": "JWT and associated metadata used to generate CSE files.",
      "type": "object"
    },
    "ReplyList": {
      "id": "ReplyList",
      "description": "A list of replies to a comment on a file.",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#replyList\"`.",
          "type": "string",
          "default": "drive#replyList"
        },
        "nextPageToken": {
          "description": "The page token for the next page of replies. This will be absent if the end of the replies list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ.",
          "type": "string"
        },
        "replies": {
          "description": "The list of replies. If `nextPageToken` is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "items": {
            "$ref": "Reply"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "CancelApprovalRequest": {
      "type": "object",
      "id": "CancelApprovalRequest",
      "description": "Request for cancelling an approval as an initiator.",
      "properties": {
        "message": {
          "type": "string",
          "description": "Optional. A message to accompany the cancellation of the approval. This message is included in notifications for the action and in the approval activity log."
        }
      }
    },
    "Label": {
      "description": "Representation of label and label fields.",
      "id": "Label",
      "type": "object",
      "properties": {
        "fields": {
          "description": "A map of the fields on the label, keyed by the field's ID.",
          "additionalProperties": {
            "$ref": "LabelField"
          },
          "type": "object"
        },
        "kind": {
          "description": "This is always drive#label",
          "type": "string"
        },
        "revisionId": {
          "description": "The revision ID of the label.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The ID of the label."
        }
      }
    },
    "Drive": {
      "type": "object",
      "id": "Drive",
      "properties": {
        "kind": {
          "default": "drive#drive",
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#drive\"`.",
          "type": "string"
        },
        "id": {
          "description": "Output only. The ID of this shared drive which is also the ID of the top level folder of this shared drive.",
          "type": "string"
        },
        "colorRgb": {
          "description": "The color of this shared drive as an RGB hex string. It can only be set on a `drive.drives.update` request that does not set `themeId`.",
          "type": "string"
        },
        "capabilities": {
          "properties": {
            "canComment": {
              "description": "Output only. Whether the current user can comment on files in this shared drive.",
              "type": "boolean"
            },
            "canAddChildren": {
              "type": "boolean",
              "description": "Output only. Whether the current user can add children to folders in this shared drive."
            },
            "canChangeDomainUsersOnlyRestriction": {
              "description": "Output only. Whether the current user can change the `domainUsersOnly` restriction of this shared drive.",
              "type": "boolean"
            },
            "canShare": {
              "type": "boolean",
              "description": "Output only. Whether the current user can share files or folders in this shared drive."
            },
            "canManageMembers": {
              "type": "boolean",
              "description": "Output only. Whether the current user can add members to this shared drive or remove them or change their role."
            },
            "canListChildren": {
              "description": "Output only. Whether the current user can list the children of folders in this shared drive.",
              "type": "boolean"
            },
            "canCopy": {
              "description": "Output only. Whether the current user can copy files in this shared drive.",
              "type": "boolean"
            },
            "canEdit": {
              "type": "boolean",
              "description": "Output only. Whether the current user can edit files in this shared drive"
            },
            "canChangeDriveBackground": {
              "type": "boolean",
              "description": "Output only. Whether the current user can change the background of this shared drive."
            },
            "canChangeCopyRequiresWriterPermissionRestriction": {
              "type": "boolean",
              "description": "Output only. Whether the current user can change the `copyRequiresWriterPermission` restriction of this shared drive."
            },
            "canReadRevisions": {
              "description": "Output only. Whether the current user can read the revisions resource of files in this shared drive.",
              "type": "boolean"
            },
            "canDownload": {
              "description": "Output only. Whether the current user can download files in this shared drive.",
              "type": "boolean"
            },
            "canDeleteChildren": {
              "description": "Output only. Whether the current user can delete children from folders in this shared drive.",
              "type": "boolean"
            },
            "canDeleteDrive": {
              "type": "boolean",
              "description": "Output only. Whether the current user can delete this shared drive. Attempting to delete the shared drive may still fail if there are untrashed items inside the shared drive."
            },
            "canResetDriveRestrictions": {
              "type": "boolean",
              "description": "Output only. Whether the current user can reset the shared drive restrictions to defaults."
            },
            "canRename": {
              "description": "Output only. Whether the current user can rename files or folders in this shared drive.",
              "type": "boolean"
            },
            "canChangeDriveMembersOnlyRestriction": {
              "type": "boolean",
              "description": "Output only. Whether the current user can change the `driveMembersOnly` restriction of this shared drive."
            },
            "canTrashChildren": {
              "description": "Output only. Whether the current user can trash children from folders in this shared drive.",
              "type": "boolean"
            },
            "canChangeSharingFoldersRequiresOrganizerPermissionRestriction": {
              "type": "boolean",
              "description": "Output only. Whether the current user can change the `sharingFoldersRequiresOrganizerPermission` restriction of this shared drive."
            },
            "canRenameDrive": {
              "description": "Output only. Whether the current user can rename this shared drive.",
              "type": "boolean"
            },
            "canChangeDownloadRestriction": {
              "description": "Output only. Whether the current user can change organizer-applied download restrictions of this shared drive.",
              "type": "boolean"
            }
          },
          "description": "Output only. Capabilities the current user has on this shared drive.",
          "type": "object"
        },
        "themeId": {
          "description": "The ID of the theme from which the background image and color will be set. The set of possible `driveThemes` can be retrieved from a `drive.about.get` response. When not specified on a `drive.drives.create` request, a random theme is chosen from which the background image and color are set. This is a write-only field; it can only be set on requests that don't set `colorRgb` or `backgroundImageFile`.",
          "type": "string"
        },
        "name": {
          "description": "The name of this shared drive.",
          "type": "string"
        },
        "restrictions": {
          "description": "A set of restrictions that apply to this shared drive or items inside this shared drive. Note that restrictions can't be set when creating a shared drive. To add a restriction, first create a shared drive and then use `drives.update` to add restrictions.",
          "type": "object",
          "properties": {
            "domainUsersOnly": {
              "description": "Whether access to this shared drive and items inside this shared drive is restricted to users of the domain to which this shared drive belongs. This restriction may be overridden by other sharing policies controlled outside of this shared drive.",
              "type": "boolean"
            },
            "sharingFoldersRequiresOrganizerPermission": {
              "description": "If true, only users with the organizer role can share folders. If false, users with either the organizer role or the file organizer role can share folders.",
              "type": "boolean"
            },
            "adminManagedRestrictions": {
              "description": "Whether administrative privileges on this shared drive are required to modify restrictions.",
              "type": "boolean"
            },
            "driveMembersOnly": {
              "description": "Whether access to items inside this shared drive is restricted to its members.",
              "type": "boolean"
            },
            "downloadRestriction": {
              "description": "Download restrictions applied by shared drive managers.",
              "$ref": "DownloadRestriction"
            },
            "copyRequiresWriterPermission": {
              "type": "boolean",
              "description": "Whether the options to copy, print, or download files inside this shared drive, should be disabled for readers and commenters. When this restriction is set to `true`, it will override the similarly named field to `true` for any file inside this shared drive."
            }
          }
        },
        "backgroundImageFile": {
          "description": "An image file and cropping parameters from which a background image for this shared drive is set. This is a write only field; it can only be set on `drive.drives.update` requests that don't set `themeId`. When specified, all fields of the `backgroundImageFile` must be set.",
          "type": "object",
          "properties": {
            "width": {
              "description": "The width of the cropped image in the closed range of 0 to 1. This value represents the width of the cropped image divided by the width of the entire image. The height is computed by applying a width to height aspect ratio of 80 to 9. The resulting image must be at least 1280 pixels wide and 144 pixels high.",
              "type": "number",
              "format": "float"
            },
            "id": {
              "type": "string",
              "description": "The ID of an image file in Google Drive to use for the background image."
            },
            "xCoordinate": {
              "type": "number",
              "format": "float",
              "description": "The X coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the horizontal distance from the left side of the entire image to the left side of the cropping area divided by the width of the entire image."
            },
            "yCoordinate": {
              "type": "number",
              "format": "float",
              "description": "The Y coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the vertical distance from the top side of the entire image to the top side of the cropping area divided by the height of the entire image."
            }
          }
        },
        "orgUnitId": {
          "type": "string",
          "description": "Output only. The organizational unit of this shared drive. This field is only populated on `drives.list` responses when the `useDomainAdminAccess` parameter is set to `true`."
        },
        "createdTime": {
          "format": "date-time",
          "description": "The time at which the shared drive was created (RFC 3339 date-time).",
          "type": "string"
        },
        "backgroundImageLink": {
          "type": "string",
          "description": "Output only. A short-lived link to this shared drive's background image."
        },
        "hidden": {
          "type": "boolean",
          "description": "Whether the shared drive is hidden from default view."
        }
      },
      "description": "Representation of a shared drive. Some resource methods (such as `drives.update`) require a `driveId`. Use the `drives.list` method to retrieve the ID for a shared drive."
    },
    "GeneratedIds": {
      "type": "object",
      "description": "A list of generated file IDs which can be provided in create requests.",
      "id": "GeneratedIds",
      "properties": {
        "space": {
          "description": "The type of file that can be created with these IDs.",
          "type": "string"
        },
        "ids": {
          "description": "The IDs generated for the requesting user in the specified space.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#generatedIds\"`.",
          "default": "drive#generatedIds",
          "type": "string"
        }
      }
    },
    "Comment": {
      "description": "A comment on a file. Some resource methods (such as `comments.update`) require a `commentId`. Use the `comments.list` method to retrieve the ID for a comment in a file.",
      "properties": {
        "createdTime": {
          "format": "date-time",
          "type": "string",
          "description": "The time at which the comment was created (RFC 3339 date-time)."
        },
        "mentionedEmailAddresses": {
          "readOnly": true,
          "description": "Output only. A list of email addresses for users mentioned in this comment. If no users are mentioned, the list is empty.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "htmlContent": {
          "description": "Output only. The content of the comment with HTML formatting.",
          "type": "string"
        },
        "kind": {
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#comment\"`.",
          "default": "drive#comment",
          "type": "string"
        },
        "content": {
          "description": "The plain text content of the comment. This field is used for setting the content, while `htmlContent` should be displayed.",
          "annotations": {
            "required": [
              "drive.comments.create",
              "drive.comments.update"
            ]
          },
          "type": "string"
        },
        "assigneeEmailAddress": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The email address of the user assigned to this comment. If no user is assigned, the field is unset."
        },
        "resolved": {
          "type": "boolean",
          "description": "Output only. Whether the comment has been resolved by one of its replies."
        },
        "quotedFileContent": {
          "description": "The file content to which the comment refers, typically within the anchor region. For a text file, for example, this would be the text at the location of the comment.",
          "type": "object",
          "properties": {
            "mimeType": {
              "type": "string",
              "description": "The MIME type of the quoted content."
            },
            "value": {
              "type": "string",
              "description": "The quoted content itself. This is interpreted as plain text if set through the API."
            }
          }
        },
        "modifiedTime": {
          "description": "The last time the comment or any of its replies was modified (RFC 3339 date-time).",
          "type": "string",
          "format": "date-time"
        },
        "id": {
          "description": "Output only. The ID of the comment.",
          "type": "string"
        },
        "replies": {
          "type": "array",
          "items": {
            "$ref": "Reply"
          },
          "description": "Output only. The full list of replies to the comment in chronological order."
        },
        "deleted": {
          "description": "Output only. Whether the comment has been deleted. A deleted comment has no content.",
          "type": "boolean"
        },
        "anchor": {
          "type": "string",
          "description": "A region of the document represented as a JSON string. For details on defining anchor properties, refer to [Manage comments and replies](https://developers.google.com/workspace/drive/api/v3/manage-comments)."
        },
        "author": {
          "description": "Output only. The author of the comment. The author's email address and permission ID will not be populated.",
          "$ref": "User"
        }
      },
      "type": "object",
      "id": "Comment"
    },
    "LabelModification": {
      "type": "object",
      "properties": {
        "fieldModifications": {
          "description": "The list of modifications to this label's fields.",
          "items": {
            "$ref": "LabelFieldModification"
          },
          "type": "array"
        },
        "kind": {
          "description": "This is always `\"drive#labelModification\"`.",
          "type": "string"
        },
        "removeLabel": {
          "description": "If true, the label will be removed from the file.",
          "type": "boolean"
        },
        "labelId": {
          "description": "The ID of the label to modify.",
          "annotations": {
            "required": [
              "drive.files.modifyLabels"
            ]
          },
          "type": "string"
        }
      },
      "description": "A modification to a label on a file. A `LabelModification` can be used to apply a label to a file, update an existing label on a file, or remove a label from a file.",
      "id": "LabelModification"
    },
    "PermissionList": {
      "description": "A list of permissions for a file.",
      "properties": {
        "permissions": {
          "items": {
            "$ref": "Permission"
          },
          "type": "array",
          "description": "The list of permissions. If `nextPageToken` is populated, then this list may be incomplete and an additional page of results should be fetched."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#permissionList\"`.",
          "default": "drive#permissionList",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The page token for the next page of permissions. This field will be absent if the end of the permissions list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ."
        }
      },
      "id": "PermissionList",
      "type": "object"
    },
    "DriveList": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The page token for the next page of shared drives. This will be absent if the end of the list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ.",
          "type": "string"
        },
        "drives": {
          "type": "array",
          "items": {
            "$ref": "Drive"
          },
          "description": "The list of shared drives. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched."
        },
        "kind": {
          "default": "drive#driveList",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#driveList\"`."
        }
      },
      "id": "DriveList",
      "description": "A list of shared drives."
    },
    "Revision": {
      "type": "object",
      "id": "Revision",
      "description": "The metadata for a revision to a file. Some resource methods (such as `revisions.update`) require a `revisionId`. Use the `revisions.list` method to retrieve the ID for a revision.",
      "properties": {
        "publishedOutsideDomain": {
          "description": "Whether this revision is published outside the domain. This is only applicable to Docs Editors files.",
          "type": "boolean"
        },
        "size": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The size of the revision's content in bytes. This is only applicable to files with binary content in Drive."
        },
        "modifiedTime": {
          "description": "The last time the revision was modified (RFC 3339 date-time).",
          "format": "date-time",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "drive#revision",
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#revision\"`."
        },
        "exportLinks": {
          "description": "Output only. Links for exporting Docs Editors files to specific formats.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "keepForever": {
          "type": "boolean",
          "description": "Whether to keep this revision forever, even if it is no longer the head revision. If not set, the revision will be automatically purged 30 days after newer content is uploaded. This can be set on a maximum of 200 revisions for a file. This field is only applicable to files with binary content in Drive."
        },
        "mimeType": {
          "description": "Output only. The MIME type of the revision.",
          "type": "string"
        },
        "lastModifyingUser": {
          "$ref": "User",
          "description": "Output only. The last user to modify this revision. This field is only populated when the last modification was performed by a signed-in user."
        },
        "published": {
          "description": "Whether this revision is published. This is only applicable to Docs Editors files.",
          "type": "boolean"
        },
        "id": {
          "description": "Output only. The ID of the revision.",
          "type": "string"
        },
        "originalFilename": {
          "type": "string",
          "description": "Output only. The original filename used to create this revision. This is only applicable to files with binary content in Drive."
        },
        "publishAuto": {
          "type": "boolean",
          "description": "Whether subsequent revisions will be automatically republished. This is only applicable to Docs Editors files."
        },
        "md5Checksum": {
          "description": "Output only. The MD5 checksum of the revision's content. This is only applicable to files with binary content in Drive.",
          "type": "string"
        },
        "publishedLink": {
          "description": "Output only. A link to the published revision. This is only populated for Docs Editors files.",
          "type": "string"
        }
      }
    },
    "App": {
      "id": "App",
      "type": "object",
      "properties": {
        "supportsMultiOpen": {
          "description": "Whether this app supports opening more than one file.",
          "type": "boolean"
        },
        "secondaryFileExtensions": {
          "items": {
            "type": "string"
          },
          "description": "The list of secondary file extensions.",
          "type": "array"
        },
        "openUrlTemplate": {
          "type": "string",
          "description": "The template URL for opening files with this app. The template contains {ids} or {exportIds} to be replaced by the actual file IDs. For more information, see Open Files for the full documentation."
        },
        "supportsOfflineCreate": {
          "type": "boolean",
          "description": "Whether this app supports creating files when offline."
        },
        "secondaryMimeTypes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of secondary MIME types."
        },
        "primaryMimeTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of primary MIME types."
        },
        "name": {
          "type": "string",
          "description": "The name of the app."
        },
        "createInFolderTemplate": {
          "type": "string",
          "description": "The template URL to create a file with this app in a given folder. The template contains the {folderId} to be replaced by the folder ID house the new file."
        },
        "objectType": {
          "type": "string",
          "description": "The type of object this app creates such as a Chart. If empty, the app name should be used instead."
        },
        "kind": {
          "default": "drive#app",
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string \"drive#app\".",
          "type": "string"
        },
        "longDescription": {
          "type": "string",
          "description": "A long description of the app."
        },
        "shortDescription": {
          "description": "A short description of the app.",
          "type": "string"
        },
        "hasDriveWideScope": {
          "description": "Whether the app has Drive-wide scope. An app with Drive-wide scope can access all files in the user's Drive.",
          "type": "boolean"
        },
        "installed": {
          "type": "boolean",
          "description": "Whether the app is installed."
        },
        "id": {
          "type": "string",
          "description": "The ID of the app."
        },
        "icons": {
          "items": {
            "$ref": "AppIcons"
          },
          "type": "array",
          "description": "The various icons for the app."
        },
        "supportsCreate": {
          "description": "Whether this app supports creating objects.",
          "type": "boolean"
        },
        "supportsImport": {
          "type": "boolean",
          "description": "Whether this app supports importing from Google Docs."
        },
        "useByDefault": {
          "description": "Whether the app is selected as the default handler for the types it supports.",
          "type": "boolean"
        },
        "authorized": {
          "description": "Whether the app is authorized to access data on the user's Drive.",
          "type": "boolean"
        },
        "createUrl": {
          "description": "The URL to create a file with this app.",
          "type": "string"
        },
        "productId": {
          "description": "The ID of the product listing for this app.",
          "type": "string"
        },
        "productUrl": {
          "type": "string",
          "description": "A link to the product listing for this app."
        },
        "primaryFileExtensions": {
          "description": "The list of primary file extensions.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The `apps` resource provides a list of apps that a user has installed, with information about each app's supported MIME types, file extensions, and other details. Some resource methods (such as `apps.get`) require an `appId`. Use the `apps.list` method to retrieve the ID for an installed application."
    },
    "DownloadRestriction": {
      "type": "object",
      "description": "A restriction for copy and download of the file.",
      "properties": {
        "restrictedForReaders": {
          "description": "Whether download and copy is restricted for readers.",
          "type": "boolean"
        },
        "restrictedForWriters": {
          "type": "boolean",
          "description": "Whether download and copy is restricted for writers. If true, download is also restricted for readers."
        }
      },
      "id": "DownloadRestriction"
    },
    "ContentRestriction": {
      "type": "object",
      "properties": {
        "restrictionTime": {
          "description": "The time at which the content restriction was set (formatted RFC 3339 timestamp). Only populated if readOnly is true.",
          "format": "date-time",
          "type": "string"
        },
        "reason": {
          "type": "string",
          "description": "Reason for why the content of the file is restricted. This is only mutable on requests that also set `readOnly=true`."
        },
        "type": {
          "type": "string",
          "description": "Output only. The type of the content restriction. Currently the only possible value is `globalContentRestriction`."
        },
        "readOnly": {
          "description": "Whether the content of the file is read-only. If a file is read-only, a new revision of the file may not be added, comments may not be added or modified, and the title of the file may not be modified.",
          "type": "boolean"
        },
        "systemRestricted": {
          "type": "boolean",
          "description": "Output only. Whether the content restriction was applied by the system, for example due to an esignature. Users cannot modify or remove system restricted content restrictions."
        },
        "restrictingUser": {
          "description": "Output only. The user who set the content restriction. Only populated if `readOnly=true`.",
          "$ref": "User"
        },
        "ownerRestricted": {
          "type": "boolean",
          "description": "Whether the content restriction can only be modified or removed by a user who owns the file. For files in shared drives, any user with `organizer` capabilities can modify or remove this content restriction."
        }
      },
      "id": "ContentRestriction",
      "description": "A restriction for accessing the content of the file."
    },
    "ChangeList": {
      "properties": {
        "newStartPageToken": {
          "type": "string",
          "description": "The starting page token for future changes. This will be present only if the end of the current changes list has been reached. The page token doesn't expire."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#changeList\"`.",
          "default": "drive#changeList"
        },
        "changes": {
          "description": "The list of changes. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "items": {
            "$ref": "Change"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The page token for the next page of changes. This will be absent if the end of the changes list has been reached. The page token doesn't expire.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A list of changes for a user.",
      "id": "ChangeList"
    },
    "Channel": {
      "id": "Channel",
      "description": "A notification channel used to watch for resource changes.",
      "properties": {
        "payload": {
          "description": "A Boolean value to indicate whether payload is wanted. Optional.",
          "type": "boolean"
        },
        "kind": {
          "description": "Identifies this as a notification channel used to watch for changes to a resource, which is `api#channel`.",
          "type": "string",
          "default": "api#channel"
        },
        "params": {
          "description": "Additional parameters controlling delivery channel behavior. Optional.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "id": {
          "description": "A UUID or similar unique string that identifies this channel.",
          "type": "string"
        },
        "expiration": {
          "description": "Date and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds. Optional.",
          "type": "string",
          "format": "int64"
        },
        "token": {
          "description": "An arbitrary string delivered to the target address with each notification delivered over this channel. Optional.",
          "type": "string"
        },
        "address": {
          "type": "string",
          "description": "The address where notifications are delivered for this channel."
        },
        "resourceId": {
          "type": "string",
          "description": "An opaque ID that identifies the resource being watched on this channel. Stable across different API versions."
        },
        "type": {
          "type": "string",
          "description": "The type of delivery mechanism used for this channel. Valid values are \"web_hook\" or \"webhook\"."
        },
        "resourceUri": {
          "type": "string",
          "description": "A version-specific identifier for the watched resource."
        }
      },
      "type": "object"
    },
    "File": {
      "properties": {
        "lastModifyingUser": {
          "$ref": "User",
          "description": "Output only. The last user to modify the file. This field is only populated when the last modification was performed by a signed-in user."
        },
        "fileExtension": {
          "description": "Output only. The final component of `fullFileExtension`. This is only available for files with binary content in Google Drive.",
          "type": "string"
        },
        "originalFilename": {
          "description": "The original filename of the uploaded content if available, or else the original value of the `name` field. This is only available for files with binary content in Google Drive.",
          "type": "string"
        },
        "trashingUser": {
          "description": "Output only. If the file has been explicitly trashed, the user who trashed it. Only populated for items in shared drives.",
          "$ref": "User"
        },
        "sharingUser": {
          "description": "Output only. The user who shared the file with the requesting user, if applicable.",
          "$ref": "User"
        },
        "trashedTime": {
          "description": "The time that the item was trashed (RFC 3339 date-time). Only populated for items in shared drives.",
          "format": "date-time",
          "type": "string"
        },
        "spaces": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. The list of spaces which contain the file. The currently supported values are `drive`, `appDataFolder`, and `photos`."
        },
        "isAppAuthorized": {
          "type": "boolean",
          "description": "Output only. Whether the file was created or opened by the requesting app."
        },
        "thumbnailVersion": {
          "description": "Output only. The thumbnail version for use in thumbnail cache invalidation.",
          "type": "string",
          "format": "int64"
        },
        "mimeType": {
          "type": "string",
          "description": "The MIME type of the file. Google Drive attempts to automatically detect an appropriate value from uploaded content, if no value is provided. The value cannot be changed unless a new revision is uploaded. If a file is created with a Google Doc MIME type, the uploaded content is imported, if possible. The supported import formats are published in the [`about`](/workspace/drive/api/reference/rest/v3/about) resource."
        },
        "md5Checksum": {
          "type": "string",
          "description": "Output only. The MD5 checksum for the content of the file. This is only applicable to files with binary content in Google Drive."
        },
        "downloadRestrictions": {
          "description": "Download restrictions applied on the file.",
          "$ref": "DownloadRestrictionsMetadata"
        },
        "teamDriveId": {
          "deprecated": true,
          "type": "string",
          "description": "Deprecated: Output only. Use `driveId` instead."
        },
        "clientEncryptionDetails": {
          "$ref": "ClientEncryptionDetails",
          "description": "Client Side Encryption related details. Contains details about the encryption state of the file and details regarding the encryption mechanism that clients need to use when decrypting the contents of this item. This will only be present on files and not on folders or shortcuts."
        },
        "copyRequiresWriterPermission": {
          "description": "Whether the options to copy, print, or download this file should be disabled for readers and commenters.",
          "type": "boolean"
        },
        "name": {
          "description": "The name of the file. This isn't necessarily unique within a folder. Note that for immutable items such as the top-level folders of shared drives, the My Drive root folder, and the Application Data folder, the name is constant.",
          "type": "string"
        },
        "thumbnailLink": {
          "description": "Output only. A short-lived link to the file's thumbnail, if available. Typically lasts on the order of hours. Not intended for direct usage on web applications due to [Cross-Origin Resource Sharing (CORS)](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS) policies. Consider using a proxy server. Only populated when the requesting app can access the file's content. If the file isn't shared publicly, the URL returned in `files.thumbnailLink` must be fetched using a credentialed request.",
          "type": "string"
        },
        "kind": {
          "default": "drive#file",
          "type": "string",
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#file\"`."
        },
        "properties": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "A collection of arbitrary key-value pairs which are visible to all apps.\nEntries with null values are cleared in update and copy requests."
        },
        "modifiedTime": {
          "type": "string",
          "format": "date-time",
          "description": "he last time the file was modified by anyone (RFC 3339 date-time). Note that setting modifiedTime will also update modifiedByMeTime for the user."
        },
        "permissions": {
          "items": {
            "$ref": "Permission"
          },
          "description": "Output only. The full list of permissions for the file. This is only available if the requesting user can share the file. Not populated for items in shared drives.",
          "type": "array"
        },
        "sha1Checksum": {
          "type": "string",
          "description": "Output only. The SHA1 checksum associated with this file, if available. This field is only populated for files with content stored in Google Drive; it's not populated for Docs Editors or shortcut files."
        },
        "writersCanShare": {
          "description": "Whether users with only `writer` permission can modify the file's permissions. Not populated for items in shared drives.",
          "type": "boolean"
        },
        "capabilities": {
          "description": "Output only. Capabilities the current user has on this file. Each capability corresponds to a fine-grained action that a user may take. For more information, see [Understand file capabilities](https://developers.google.com/workspace/drive/api/guides/manage-sharing#capabilities).",
          "properties": {
            "canMoveItemWithinDrive": {
              "description": "Output only. Whether the current user can move this item within this drive. Note that a request to change the parent of the item may still fail depending on the new parent that's being added and the parent that is being removed.",
              "type": "boolean"
            },
            "canTrash": {
              "description": "Output only. Whether the current user can move this file to trash.",
              "type": "boolean"
            },
            "canMoveItemIntoTeamDrive": {
              "type": "boolean",
              "deprecated": true,
              "description": "Deprecated: Output only. Use `canMoveItemOutOfDrive` instead."
            },
            "canAddChildren": {
              "description": "Output only. Whether the current user can add children to this folder. This is always `false` when the item isn't a folder.",
              "type": "boolean"
            },
            "canChangeViewersCanCopyContent": {
              "deprecated": true,
              "description": "Deprecated: Output only.",
              "type": "boolean"
            },
            "canShare": {
              "description": "Output only. Whether the current user can modify the sharing settings for this file.",
              "type": "boolean"
            },
            "canStartApproval": {
              "description": "Whether the current user can start an approval on the file.",
              "type": "boolean"
            },
            "canRename": {
              "description": "Output only. Whether the current user can rename this file.",
              "type": "boolean"
            },
            "canReadRevisions": {
              "description": "Output only. Whether the current user can read the revisions resource of this file. For a shared drive item, whether revisions of non-folder descendants of this item, or this item if it's not a folder, can be read.",
              "type": "boolean"
            },
            "canMoveTeamDriveItem": {
              "deprecated": true,
              "description": "Deprecated: Output only. Use `canMoveItemWithinDrive` or `canMoveItemOutOfDrive` instead.",
              "type": "boolean"
            },
            "canDelete": {
              "type": "boolean",
              "description": "Output only. Whether the current user can delete this file."
            },
            "canMoveItemWithinTeamDrive": {
              "deprecated": true,
              "description": "Deprecated: Output only. Use `canMoveItemWithinDrive` instead.",
              "type": "boolean"
            },
            "canListChildren": {
              "description": "Output only. Whether the current user can list the children of this folder. This is always `false` when the item isn't a folder.",
              "type": "boolean"
            },
            "canDisableInheritedPermissions": {
              "description": "Whether a user can disable inherited permissions.",
              "type": "boolean"
            },
            "canEdit": {
              "type": "boolean",
              "description": "Output only. Whether the current user can edit this file. Other factors may limit the type of changes a user can make to a file. For example, see `canChangeCopyRequiresWriterPermission` or `canModifyContent`."
            },
            "canChangeItemDownloadRestriction": {
              "description": "Output only. Whether the current user can change the owner or organizer-applied download restrictions of the file.",
              "type": "boolean"
            },
            "canMoveChildrenWithinDrive": {
              "description": "Output only. Whether the current user can move children of this folder within this drive. This is `false` when the item isn't a folder. Note that a request to move the child may still fail depending on the current user's access to the child and to the destination folder.",
              "type": "boolean"
            },
            "canComment": {
              "type": "boolean",
              "description": "Output only. Whether the current user can comment on this file."
            },
            "canReadTeamDrive": {
              "description": "Deprecated: Output only. Use `canReadDrive` instead.",
              "deprecated": true,
              "type": "boolean"
            },
            "canAcceptOwnership": {
              "description": "Output only. Whether the current user is the pending owner of the file. Not populated for shared drive files.",
              "type": "boolean"
            },
            "canRemoveChildren": {
              "type": "boolean",
              "description": "Output only. Whether the current user can remove children from this folder. This is always `false` when the item isn't a folder. For a folder in a shared drive, use `canDeleteChildren` or `canTrashChildren` instead."
            },
            "canDownload": {
              "type": "boolean",
              "description": "Output only. Whether the current user can download this file."
            },
            "canModifyOwnerContentRestriction": {
              "type": "boolean",
              "description": "Output only. Whether the current user can add or modify content restrictions which are owner restricted."
            },
            "canMoveChildrenOutOfDrive": {
              "type": "boolean",
              "description": "Output only. Whether the current user can move children of this folder outside of the shared drive. This is `false` when the item isn't a folder. Only populated for items in shared drives."
            },
            "canEnableInheritedPermissions": {
              "description": "Whether a user can re-enable inherited permissions.",
              "type": "boolean"
            },
            "canMoveChildrenWithinTeamDrive": {
              "description": "Deprecated: Output only. Use `canMoveChildrenWithinDrive` instead.",
              "type": "boolean",
              "deprecated": true
            },
            "canAccessViaGenAi": {
              "type": "boolean",
              "description": "Whether the current user can access this file via Gen AI features. For more information, see [Drive MCP file eligibility](https://developers.google.com/workspace/drive/api/guides/drive-mcp-server-file-eligibility)."
            },
            "canTrashChildren": {
              "description": "Output only. Whether the current user can trash children of this folder. This is `false` when the item isn't a folder. Only populated for items in shared drives.",
              "type": "boolean"
            },
            "canUntrash": {
              "type": "boolean",
              "description": "Output only. Whether the current user can restore this file from trash."
            },
            "canDeleteChildren": {
              "type": "boolean",
              "description": "Output only. Whether the current user can delete children of this folder. This is `false` when the item isn't a folder. Only populated for items in shared drives."
            },
            "canMoveItemOutOfDrive": {
              "description": "Output only. Whether the current user can move this item outside of this drive by changing its parent. Note that a request to change the parent of the item may still fail depending on the new parent that's being added.",
              "type": "boolean"
            },
            "canReadLabels": {
              "description": "Output only. Whether the current user can read the labels on the file.",
              "type": "boolean"
            },
            "canChangeCopyRequiresWriterPermission": {
              "type": "boolean",
              "description": "Output only. Whether the current user can change the `copyRequiresWriterPermission` restriction of this file."
            },
            "canAddFolderFromAnotherDrive": {
              "type": "boolean",
              "description": "Output only. Whether the current user can add a folder from another drive (different shared drive or My Drive) to this folder. This is `false` when the item isn't a folder. Only populated for items in shared drives."
            },
            "canRemoveContentRestriction": {
              "description": "Output only. Whether there's a content restriction on the file that can be removed by the current user.",
              "type": "boolean"
            },
            "canReadDrive": {
              "type": "boolean",
              "description": "Output only. Whether the current user can read the shared drive to which this file belongs. Only populated for items in shared drives."
            },
            "canModifyContent": {
              "description": "Output only. Whether the current user can modify the content of this file.",
              "type": "boolean"
            },
            "canMoveItemOutOfTeamDrive": {
              "deprecated": true,
              "type": "boolean",
              "description": "Deprecated: Output only. Use `canMoveItemOutOfDrive` instead."
            },
            "canAddMyDriveParent": {
              "type": "boolean",
              "description": "Output only. Whether the current user can add a parent for the item without removing an existing parent in the same request. Not populated for shared drive files."
            },
            "canModifyLabels": {
              "type": "boolean",
              "description": "Output only. Whether the current user can modify the labels on the file."
            },
            "canCopy": {
              "type": "boolean",
              "description": "Output only. Whether the current user can copy this file. For an item in a shared drive, whether the current user can copy non-folder descendants of this item, or this item if it's not a folder."
            },
            "canModifyContentRestriction": {
              "description": "Deprecated: Output only. Use one of `canModifyEditorContentRestriction`, `canModifyOwnerContentRestriction`, or `canRemoveContentRestriction`.",
              "type": "boolean",
              "deprecated": true
            },
            "canRemoveMyDriveParent": {
              "type": "boolean",
              "description": "Output only. Whether the current user can remove a parent from the item without adding another parent in the same request. Not populated for shared drive files."
            },
            "canModifyEditorContentRestriction": {
              "type": "boolean",
              "description": "Output only. Whether the current user can add or modify content restrictions on the file which are editor restricted."
            },
            "canMoveChildrenOutOfTeamDrive": {
              "description": "Deprecated: Output only. Use `canMoveChildrenOutOfDrive` instead.",
              "deprecated": true,
              "type": "boolean"
            },
            "canChangeSecurityUpdateEnabled": {
              "description": "Output only. Whether the current user can change the `securityUpdateEnabled` field on link share metadata.",
              "type": "boolean"
            }
          },
          "type": "object"
        },
        "sha256Checksum": {
          "type": "string",
          "description": "Output only. The SHA256 checksum associated with this file, if available. This field is only populated for files with content stored in Google Drive; it's not populated for Docs Editors or shortcut files."
        },
        "inheritedPermissionsDisabled": {
          "type": "boolean",
          "description": "Whether this file has inherited permissions disabled. Inherited permissions are enabled by default."
        },
        "appProperties": {
          "type": "object",
          "description": "A collection of arbitrary key-value pairs which are private to the requesting app.\nEntries with null values are cleared in update and copy requests. These properties can only be retrieved using an authenticated request. An authenticated request uses an access token obtained with a OAuth 2 client ID. You cannot use an API key to retrieve private properties.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "videoMediaMetadata": {
          "type": "object",
          "properties": {
            "height": {
              "format": "int32",
              "type": "integer",
              "description": "Output only. The height of the video in pixels."
            },
            "durationMillis": {
              "description": "Output only. The duration of the video in milliseconds.",
              "type": "string",
              "format": "int64"
            },
            "width": {
              "description": "Output only. The width of the video in pixels.",
              "format": "int32",
              "type": "integer"
            }
          },
          "description": "Output only. Additional metadata about video media. This may not be available immediately upon upload."
        },
        "shared": {
          "type": "boolean",
          "description": "Output only. Whether the file has been shared. Not populated for items in shared drives."
        },
        "webViewLink": {
          "type": "string",
          "description": "Output only. A link for opening the file in a relevant Google editor or viewer in a browser."
        },
        "webContentLink": {
          "type": "string",
          "description": "Output only. A link for downloading the content of the file in a browser. This is only available for files with binary content in Google Drive."
        },
        "driveId": {
          "description": "Output only. ID of the shared drive the file resides in. Only populated for items in shared drives.",
          "type": "string"
        },
        "resourceKey": {
          "type": "string",
          "description": "Output only. A key needed to access the item via a shared link."
        },
        "sharedWithMeTime": {
          "format": "date-time",
          "type": "string",
          "description": "The time at which the file was shared with the user, if applicable (RFC 3339 date-time)."
        },
        "fullFileExtension": {
          "description": "Output only. The full file extension extracted from the `name` field. May contain multiple concatenated extensions, such as \"tar.gz\". This is only available for files with binary content in Google Drive. This is automatically updated when the `name` field changes, however it's not cleared if the new name doesn't contain a valid extension.",
          "type": "string"
        },
        "quotaBytesUsed": {
          "format": "int64",
          "type": "string",
          "description": "Output only. The number of storage quota bytes used by the file. This includes the head revision as well as previous revisions with `keepForever` enabled."
        },
        "trashed": {
          "type": "boolean",
          "description": "Whether the file has been trashed, either explicitly or from a trashed parent folder. Only the owner may trash a file, but other users can still access the file in the owner's trash until it's permanently deleted."
        },
        "hasAugmentedPermissions": {
          "description": "Output only. Whether there are permissions directly on this file. This field is only populated for items in shared drives.",
          "type": "boolean"
        },
        "id": {
          "description": "The ID of the file.",
          "type": "string"
        },
        "folderColorRgb": {
[...]
