{
  "ownerDomain": "google.com",
  "parameters": {
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    }
  },
  "id": "drivelabels:v2",
  "name": "drivelabels",
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/workspace/drive/labels",
  "schemas": {
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestCreateSelectionChoiceRequest": {
      "description": "Request to create a selection choice.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestCreateSelectionChoiceRequest",
      "properties": {
        "fieldId": {
          "type": "string",
          "description": "Required. The selection field in which a choice will be created."
        },
        "choice": {
          "$ref": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoice",
          "description": "Required. The choice to create."
        }
      }
    },
    "GoogleAppsDriveLabelsV2WriteControl": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2WriteControl",
      "description": "Provides control over how write requests are executed. When not specified, the last write wins.",
      "properties": {
        "requiredRevisionId": {
          "type": "string",
          "description": "The revision ID of the label that the write request will be applied to. If this isn't the latest revision of the label, the request will not be processed and will return a 400 Bad Request error."
        }
      }
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDeleteSelectionChoiceRequest": {
      "description": "Request to delete a choice.",
      "type": "object",
      "properties": {
        "fieldId": {
          "type": "string",
          "description": "Required. The selection field from which a choice will be deleted."
        },
        "id": {
          "type": "string",
          "description": "Required. Choice to delete."
        }
      },
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDeleteSelectionChoiceRequest"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseCreateFieldResponse": {
      "properties": {
        "id": {
          "description": "The field of the created field. When left blank in a create request, a key will be autogenerated and can be identified here.",
          "type": "string"
        },
        "priority": {
          "format": "int32",
          "type": "integer",
          "description": "The priority of the created field. The priority may change from what was specified to assure contiguous priorities between fields (1-n)."
        }
      },
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseCreateFieldResponse",
      "type": "object",
      "description": "Response following field create."
    },
    "GoogleAppsDriveLabelsV2LockStatus": {
      "id": "GoogleAppsDriveLabelsV2LockStatus",
      "properties": {
        "locked": {
          "description": "Output only. Indicates whether this label component is the (direct) target of a label lock. A label component can be implicitly locked even if it's not the direct target of a label lock, in which case this field is set to false.",
          "type": "boolean",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Contains information about whether a label component should be considered locked."
    },
    "GoogleAppsDriveLabelsV2FieldListOptions": {
      "type": "object",
      "description": "Options for a multi-valued variant of an associated field type.",
      "properties": {
        "maxEntries": {
          "description": "Maximum number of entries permitted.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleAppsDriveLabelsV2FieldListOptions"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateFieldPropertiesResponse": {
      "description": "Response following update to field properties.",
      "properties": {
        "priority": {
          "type": "integer",
          "format": "int32",
          "description": "The priority of the updated field. The priority may change from what was specified to assure contiguous priorities between fields (1-n)."
        }
      },
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateFieldPropertiesResponse"
    },
    "GoogleTypeDate": {
      "properties": {
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32",
          "type": "integer"
        },
        "month": {
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32"
        },
        "day": {
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32"
        }
      },
      "id": "GoogleTypeDate",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2BadgeConfig": {
      "properties": {
        "color": {
          "$ref": "GoogleTypeColor",
          "description": "The color of the badge. When not specified, no badge is rendered. The background, foreground, and solo (light and dark mode) colors set here are changed in the Drive UI into the closest recommended supported color."
        },
        "priorityOverride": {
          "type": "string",
          "description": "Override the default global priority of this badge. When set to 0, the default priority heuristic is used.",
          "format": "int64"
        }
      },
      "id": "GoogleAppsDriveLabelsV2BadgeConfig",
      "type": "object",
      "description": "Badge status of the label."
    },
    "GoogleAppsDriveLabelsV2ListLimits": {
      "description": "Limits for list-variant of a field type.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2ListLimits",
      "properties": {
        "maxEntries": {
          "description": "Maximum number of values allowed for the field type.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleAppsDriveLabelsV2FieldSelectionOptions": {
      "properties": {
        "choices": {
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoice"
          },
          "description": "The options available for this selection field. The list order is consistent, and modified with `insert_before_choice`.",
          "type": "array"
        },
        "listOptions": {
          "description": "When specified, indicates this field supports a list of values. Once the field is published, this cannot be changed.",
          "$ref": "GoogleAppsDriveLabelsV2FieldListOptions"
        }
      },
      "description": "Options for the selection field type.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2FieldSelectionOptions"
    },
    "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceAppliedCapabilities": {
      "description": "The capabilities related to this choice on applied metadata.",
      "id": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceAppliedCapabilities",
      "type": "object",
      "properties": {
        "canSelect": {
          "description": "Whether the user can select this choice on an item.",
          "type": "boolean"
        },
        "canSearch": {
          "type": "boolean",
          "description": "Whether the user can use this choice in search queries."
        },
        "canRead": {
          "description": "Whether the user can read related applied metadata on items.",
          "type": "boolean"
        }
      }
    },
    "GoogleAppsDriveLabelsV2LifecycleDisabledPolicy": {
      "description": "The policy that governs how to treat a disabled label, field, or selection choice in different contexts.",
      "properties": {
        "hideInSearch": {
          "type": "boolean",
          "description": "Whether to hide this disabled object in the search menu for Drive items. * When `false`, the object is generally shown in the UI as disabled but it appears in the search results when searching for Drive items. * When `true`, the object is generally hidden in the UI when searching for Drive items."
        },
        "showInApply": {
          "description": "Whether to show this disabled object in the apply menu on Drive items. * When `true`, the object is generally shown in the UI as disabled and is unselectable. * When `false`, the object is generally hidden in the UI.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2LifecycleDisabledPolicy"
    },
    "GoogleAppsDriveLabelsV2LabelLockCapabilities": {
      "type": "object",
      "description": "A description of a user's capabilities on a label lock.",
      "id": "GoogleAppsDriveLabelsV2LabelLockCapabilities",
      "properties": {
        "canViewPolicy": {
          "description": "True if the user is authorized to view the policy.",
          "type": "boolean"
        }
      }
    },
    "GoogleAppsDriveLabelsV2ListLabelPermissionsResponse": {
      "type": "object",
      "description": "Response for listing the permissions on a label.",
      "properties": {
        "nextPageToken": {
          "description": "The token of the next page in the response.",
          "type": "string"
        },
        "labelPermissions": {
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2LabelPermission"
          },
          "type": "array",
          "description": "Label permissions."
        }
      },
      "id": "GoogleAppsDriveLabelsV2ListLabelPermissionsResponse"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateFieldTypeRequest": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateFieldTypeRequest",
      "properties": {
        "selectionOptions": {
          "description": "Update field to Selection.",
          "$ref": "GoogleAppsDriveLabelsV2FieldSelectionOptions"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root of `type_options` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "type": "string"
        },
        "userOptions": {
          "$ref": "GoogleAppsDriveLabelsV2FieldUserOptions",
          "description": "Update field to User."
        },
        "integerOptions": {
          "$ref": "GoogleAppsDriveLabelsV2FieldIntegerOptions",
          "description": "Update field to Integer."
        },
        "textOptions": {
          "$ref": "GoogleAppsDriveLabelsV2FieldTextOptions",
          "description": "Update field to Text."
        },
        "id": {
          "type": "string",
          "description": "Required. The field to update."
        },
        "dateOptions": {
          "$ref": "GoogleAppsDriveLabelsV2FieldDateOptions",
          "description": "Update field to Date."
        }
      },
      "type": "object",
      "description": "Request to change the type of a field."
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateSelectionChoicePropertiesRequest": {
      "description": "Request to update a choice property.",
      "properties": {
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `properties` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field."
        },
        "properties": {
          "$ref": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceProperties",
          "description": "Required. The choice properties to update."
        },
        "fieldId": {
          "type": "string",
          "description": "Required. The selection field to update."
        },
        "id": {
          "type": "string",
          "description": "Required. The choice to update."
        }
      },
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateSelectionChoicePropertiesRequest"
    },
    "GoogleAppsDriveLabelsV2Field": {
      "properties": {
        "lockStatus": {
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2LockStatus",
          "description": "Output only. The `LockStatus` of this field."
        },
        "textOptions": {
          "$ref": "GoogleAppsDriveLabelsV2FieldTextOptions",
          "description": "Text field options."
        },
        "properties": {
          "description": "The basic properties of the field.",
          "$ref": "GoogleAppsDriveLabelsV2FieldProperties"
        },
        "creator": {
          "$ref": "GoogleAppsDriveLabelsV2UserInfo",
          "description": "Output only. The user who created this field.",
          "readOnly": true
        },
        "selectionOptions": {
          "description": "Selection field options.",
          "$ref": "GoogleAppsDriveLabelsV2FieldSelectionOptions"
        },
        "displayHints": {
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2FieldDisplayHints",
          "description": "Output only. UI display hints for rendering a field."
        },
        "queryKey": {
          "description": "Output only. The key to use when constructing Drive search queries to find files based on values defined for this field on files. For example, \"`{query_key}` > 2001-01-01\".",
          "readOnly": true,
          "type": "string"
        },
        "schemaCapabilities": {
          "$ref": "GoogleAppsDriveLabelsV2FieldSchemaCapabilities",
          "description": "Output only. The capabilities this user has when editing this field.",
          "readOnly": true
        },
        "updater": {
          "$ref": "GoogleAppsDriveLabelsV2UserInfo",
          "description": "Output only. The user who modified this field.",
          "readOnly": true
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The key of a field, unique within a label or library. This value is autogenerated. Matches the regex: `([a-zA-Z0-9])+`."
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time this field was updated.",
          "type": "string"
        },
        "integerOptions": {
          "$ref": "GoogleAppsDriveLabelsV2FieldIntegerOptions",
          "description": "Integer field options."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time this field was created.",
          "readOnly": true,
          "type": "string"
        },
        "publisher": {
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2UserInfo",
          "description": "Output only. The user who published this field. This value has no meaning when the field is not published."
        },
        "dateOptions": {
          "$ref": "GoogleAppsDriveLabelsV2FieldDateOptions",
          "description": "Date field options."
        },
        "disableTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time this field was disabled. This value has no meaning when the field is not disabled."
        },
        "appliedCapabilities": {
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2FieldAppliedCapabilities",
          "description": "Output only. The capabilities this user has on this field and its value when the label is applied on Drive items."
        },
        "userOptions": {
          "description": "User field options.",
          "$ref": "GoogleAppsDriveLabelsV2FieldUserOptions"
        },
        "lifecycle": {
          "description": "Output only. The lifecycle of this field.",
          "$ref": "GoogleAppsDriveLabelsV2Lifecycle",
          "readOnly": true
        },
        "disabler": {
          "readOnly": true,
          "description": "Output only. The user who disabled this field. This value has no meaning when the field is not disabled.",
          "$ref": "GoogleAppsDriveLabelsV2UserInfo"
        }
      },
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2Field",
      "description": "Defines a field that has a display name, data type, and other configuration options. This field defines the kind of metadata that may be set on a Drive item."
    },
    "GoogleAppsDriveLabelsV2LongTextLimits": {
      "type": "object",
      "properties": {
        "minLength": {
          "type": "integer",
          "format": "int32",
          "description": "Minimum length allowed for a long text field type."
        },
        "maxLength": {
          "format": "int32",
          "description": "Maximum length allowed for a long text field type.",
          "type": "integer"
        }
      },
      "description": "Limits for long text field type.",
      "id": "GoogleAppsDriveLabelsV2LongTextLimits"
    },
    "GoogleAppsDriveLabelsV2Lifecycle": {
      "properties": {
        "disabledPolicy": {
          "$ref": "GoogleAppsDriveLabelsV2LifecycleDisabledPolicy",
          "description": "The policy that governs how to show a disabled label, field, or selection choice."
        },
        "hasUnpublishedChanges": {
          "description": "Output only. Whether the object associated with this lifecycle has unpublished changes.",
          "type": "boolean",
          "readOnly": true
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "UNPUBLISHED_DRAFT",
            "PUBLISHED",
            "DISABLED",
            "DELETED"
          ],
          "readOnly": true,
          "description": "Output only. The state of the object associated with this lifecycle.",
          "type": "string",
          "enumDescriptions": [
            "Unknown State.",
            "The initial state of an object. Once published, the object can never return to this state. Once an object is published, certain kinds of changes are no longer permitted.",
            "The object has been published. The object might have unpublished draft changes as indicated by `has_unpublished_changes`.",
            "The object has been published and has since been disabled. The object might have unpublished draft changes as indicated by `has_unpublished_changes`.",
            "The object has been deleted."
          ]
        }
      },
      "description": "The lifecycle state of an object, such as label, field, or choice. For more information, see [Label lifecycle](https://developers.google.com/workspace/drive/labels/guides/label-lifecycle). The lifecycle enforces the following transitions: * `UNPUBLISHED_DRAFT` (starting state) * `UNPUBLISHED_DRAFT` -> `PUBLISHED` * `UNPUBLISHED_DRAFT` -> (Deleted) * `PUBLISHED` -> `DISABLED` * `DISABLED` -> `PUBLISHED` * `DISABLED` -> (Deleted) The published and disabled states have some distinct characteristics: * `Published`: Some kinds of changes might be made to an object in this state, in which case `has_unpublished_changes` will be true. Also, some kinds of changes aren't permitted. Generally, any change that would invalidate or cause new restrictions on existing metadata related to the label are rejected. * `Disabled`: When disabled, the configured `DisabledPolicy` takes effect.",
      "id": "GoogleAppsDriveLabelsV2Lifecycle",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2DisableLabelRequest": {
      "type": "object",
      "description": "Request to deprecate a published label.",
      "properties": {
        "disabledPolicy": {
          "description": "Disabled policy to use.",
          "$ref": "GoogleAppsDriveLabelsV2LifecycleDisabledPolicy"
        },
        "updateMask": {
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root `disabled_policy` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "format": "google-fieldmask"
        },
        "writeControl": {
          "$ref": "GoogleAppsDriveLabelsV2WriteControl",
          "description": "Provides control over how write requests are executed. Defaults to unset, which means the last write wins."
        },
        "useAdminAccess": {
          "type": "boolean",
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
        },
        "languageCode": {
          "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used.",
          "type": "string"
        }
      },
      "id": "GoogleAppsDriveLabelsV2DisableLabelRequest"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestCreateFieldRequest": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestCreateFieldRequest",
      "description": "Request to create a field within a label.",
      "properties": {
        "field": {
          "$ref": "GoogleAppsDriveLabelsV2Field",
          "description": "Required. Field to create."
        }
      },
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateFieldTypeResponse": {
      "properties": {},
      "type": "object",
      "description": "Response following update to field type.",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateFieldTypeResponse"
    },
    "GoogleAppsDriveLabelsV2LabelEnabledAppSettingsEnabledApp": {
      "properties": {
        "app": {
          "enumDescriptions": [
            "Unspecified",
            "Drive",
            "Gmail"
          ],
          "type": "string",
          "description": "Optional. The name of the app.",
          "enum": [
            "APP_UNSPECIFIED",
            "DRIVE",
            "GMAIL"
          ]
        }
      },
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2LabelEnabledAppSettingsEnabledApp",
      "description": "An app where the label can be used."
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestEnableFieldRequest": {
      "properties": {
        "id": {
          "description": "Required. ID of the field to enable.",
          "type": "string"
        }
      },
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestEnableFieldRequest",
      "type": "object",
      "description": "Request to enable the field."
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateSelectionChoicePropertiesResponse": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateSelectionChoicePropertiesResponse",
      "description": "Response following update to selection choice properties.",
      "properties": {
        "priority": {
          "description": "The priority of the updated choice. The priority may change from what was specified to assure contiguous priorities between choices (1-n).",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2SelectionLimits": {
      "id": "GoogleAppsDriveLabelsV2SelectionLimits",
      "properties": {
        "maxDisplayNameLength": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum length for display name."
        },
        "maxChoices": {
          "type": "integer",
          "description": "Maximum number of choices.",
          "format": "int32"
        },
        "maxIdLength": {
          "type": "integer",
          "description": "Maximum ID length for a selection option.",
          "format": "int32"
        },
        "listLimits": {
          "$ref": "GoogleAppsDriveLabelsV2ListLimits",
          "description": "Limits for list-variant of a field type."
        },
        "maxDeletedChoices": {
          "type": "integer",
          "description": "Maximum number of deleted choices.",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "Limits for selection field type."
    },
    "GoogleAppsDriveLabelsV2UserInfo": {
      "properties": {
        "person": {
          "type": "string",
          "description": "The identifier for this user that can be used with the [People API](https://developers.google.com/people) to get more information. For example, `people/12345678`."
        }
      },
      "description": "Information about a user.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2UserInfo"
    },
    "GoogleAppsDriveLabelsV2FieldTextOptions": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2FieldTextOptions",
      "properties": {
        "minLength": {
          "description": "Output only. The minimum valid length of values for the text field.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "maxLength": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The maximum valid length of values for the text field."
        }
      },
      "description": "Options for the Text field type."
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseEnableFieldResponse": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseEnableFieldResponse",
      "type": "object",
      "properties": {},
      "description": "Response following field enable."
    },
    "GoogleAppsDriveLabelsV2LabelProperties": {
      "properties": {
        "title": {
          "type": "string",
          "description": "Required. Title of the label."
        },
        "description": {
          "description": "The description of the label.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Basic properties of the label.",
      "id": "GoogleAppsDriveLabelsV2LabelProperties"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequest": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequest",
      "properties": {
        "view": {
          "enumDescriptions": [
            "Implies the field mask: `name,id,revision_id,label_type,properties.*`",
            "All possible fields."
          ],
          "type": "string",
          "enum": [
            "LABEL_VIEW_BASIC",
            "LABEL_VIEW_FULL"
          ],
          "description": "When specified, only certain fields belonging to the indicated view will be returned."
        },
        "useAdminAccess": {
          "type": "boolean",
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
        },
        "languageCode": {
          "description": "The BCP-47 language code to use for evaluating localized field labels when `include_label_in_response` is `true`.",
          "type": "string"
        },
        "writeControl": {
          "description": "Provides control over how write requests are executed.",
          "$ref": "GoogleAppsDriveLabelsV2WriteControl"
        },
        "requests": {
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestRequest"
          },
          "description": "A list of updates to apply to the label. Requests will be applied in the order they are specified."
        }
      },
      "description": "The set of requests for updating aspects of a label. If any request isn't valid, no requests will be applied.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2UserCapabilities": {
      "id": "GoogleAppsDriveLabelsV2UserCapabilities",
      "type": "object",
      "properties": {
        "canCreateSharedLabels": {
          "description": "Output only. Whether the user is allowed to create shared labels.",
          "readOnly": true,
          "type": "boolean"
        },
        "name": {
          "description": "Output only. Resource name for the user capabilities.",
          "readOnly": true,
          "type": "string"
        },
        "canAccessLabelManager": {
          "readOnly": true,
          "description": "Output only. Whether the user is allowed access to the label manager.",
          "type": "boolean"
        },
        "canAdministrateLabels": {
          "type": "boolean",
          "description": "Output only. Whether the user is an administrator for the shared labels feature.",
          "readOnly": true
        },
        "canCreateAdminLabels": {
          "type": "boolean",
          "description": "Output only. Whether the user is allowed to create admin labels.",
          "readOnly": true
        }
      },
      "description": "The capabilities of a user."
    },
    "GoogleAppsDriveLabelsV2LabelLock": {
      "description": "A lock that can be applied to a label, field, or choice.",
      "properties": {
        "capabilities": {
          "$ref": "GoogleAppsDriveLabelsV2LabelLockCapabilities",
          "readOnly": true,
          "description": "Output only. The user's capabilities on this label lock."
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Unknown state.",
            "The label lock is active and is being enforced by the server.",
            "The label lock is being deleted. The label lock will continue to be enforced by the server until it has been fully removed."
          ],
          "readOnly": true,
          "description": "Output only. This label lock's state.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETING"
          ]
        },
        "creator": {
          "description": "Output only. The user whose credentials were used to create the label lock. Not present if no user was responsible for creating the label lock.",
          "$ref": "GoogleAppsDriveLabelsV2UserInfo",
          "readOnly": true
        },
        "fieldId": {
          "description": "The ID of the field that should be locked. Empty if the whole label should be locked.",
          "type": "string"
        },
        "deleteTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. A timestamp indicating when this label lock was scheduled for deletion. Present only if this label lock is in the `DELETING` state."
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of this label lock.",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time this label lock was created.",
          "format": "google-datetime"
        },
        "choiceId": {
          "description": "The ID of the selection field choice that should be locked. If present, `field_id` must also be present.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2LabelLock"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseResponse": {
      "description": "A single response from an update.",
      "properties": {
        "updateField": {
          "description": "Updates basic properties of a field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateFieldPropertiesResponse"
        },
        "deleteSelectionChoice": {
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDeleteSelectionChoiceResponse",
          "description": "Deletes a choice from a selection field."
        },
        "enableField": {
          "description": "Enables field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseEnableFieldResponse"
        },
        "deleteField": {
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDeleteFieldResponse",
          "description": "Deletes a field from the label."
        },
        "createSelectionChoice": {
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseCreateSelectionChoiceResponse",
          "description": "Creates a selection list option to add to a selection field."
        },
        "disableField": {
          "description": "Disables field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDisableFieldResponse"
        },
        "createField": {
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseCreateFieldResponse",
          "description": "Creates a field."
        },
        "updateLabel": {
          "description": "Updates basic properties of a label.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateLabelPropertiesResponse"
        },
        "updateSelectionChoiceProperties": {
          "description": "Updates a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateSelectionChoicePropertiesResponse"
        },
        "updateFieldType": {
          "description": "Updates field type and/or type options.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateFieldTypeResponse"
        },
        "enableSelectionChoice": {
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseEnableSelectionChoiceResponse",
          "description": "Enables a choice within a selection field."
        },
        "disableSelectionChoice": {
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDisableSelectionChoiceResponse",
          "description": "Disables a choice within a selection field."
        }
      },
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseResponse"
    },
    "GoogleAppsDriveLabelsV2LabelAppliedLabelPolicy": {
      "id": "GoogleAppsDriveLabelsV2LabelAppliedLabelPolicy",
      "description": "Behavior of this label when it's applied to Drive items.",
      "type": "object",
      "properties": {
        "copyMode": {
          "type": "string",
          "description": "Indicates how the applied label and field values should be copied when a Drive item is copied.",
          "enumDescriptions": [
            "Copy mode unspecified.",
            "The applied label and field values aren't copied by default when the Drive item it's applied to is copied.",
            "The applied label and field values are always copied when the Drive item it's applied to is copied. Only admins can use this mode.",
            "The applied label and field values are copied if the label is appliable by the user making the copy."
          ],
          "enum": [
            "COPY_MODE_UNSPECIFIED",
            "DO_NOT_COPY",
            "ALWAYS_COPY",
            "COPY_APPLIABLE"
          ]
        }
      }
    },
    "GoogleAppsDriveLabelsV2FieldLimits": {
      "type": "object",
      "description": "Field constants governing the structure of a field; such as, the maximum title length, minimum and maximum field values or length, etc.",
      "properties": {
        "textLimits": {
          "description": "The relevant limits for the specified Field.Type. Text field limits.",
          "$ref": "GoogleAppsDriveLabelsV2TextLimits"
        },
        "maxDescriptionLength": {
          "type": "integer",
          "format": "int32",
          "description": "Limits for field description, also called help text."
        },
        "userLimits": {
          "description": "User field limits.",
          "$ref": "GoogleAppsDriveLabelsV2UserLimits"
        },
        "maxDisplayNameLength": {
          "type": "integer",
          "description": "Limits for field title.",
          "format": "int32"
        },
        "dateLimits": {
          "$ref": "GoogleAppsDriveLabelsV2DateLimits",
          "description": "Date field limits."
        },
        "longTextLimits": {
          "description": "Long text field limits.",
          "$ref": "GoogleAppsDriveLabelsV2LongTextLimits"
        },
        "integerLimits": {
          "$ref": "GoogleAppsDriveLabelsV2IntegerLimits",
          "description": "Integer field limits."
        },
        "selectionLimits": {
          "$ref": "GoogleAppsDriveLabelsV2SelectionLimits",
          "description": "Selection field limits."
        },
        "maxIdLength": {
          "description": "Maximum length for the id.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleAppsDriveLabelsV2FieldLimits"
    },
    "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceProperties": {
      "description": "Basic properties of the choice.",
      "id": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceProperties",
      "properties": {
        "displayName": {
          "description": "Required. The display text to show in the UI identifying this field.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "The description of this label."
        },
        "insertBeforeChoice": {
          "type": "string",
          "description": "Input only. Insert or move this choice before the indicated choice. If empty, the choice is placed at the end of the list."
        },
        "badgeConfig": {
          "$ref": "GoogleAppsDriveLabelsV2BadgeConfig",
          "description": "The badge configuration for this choice. When set, the label that owns this choice is considered a \"badged label\"."
        }
      },
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2BadgeColors": {
      "properties": {
        "backgroundColor": {
          "readOnly": true,
          "$ref": "GoogleTypeColor",
          "description": "Output only. Badge background that pairs with the foreground."
        },
        "foregroundColor": {
          "readOnly": true,
          "$ref": "GoogleTypeColor",
          "description": "Output only. Badge foreground that pairs with the background."
        },
        "soloColor": {
          "description": "Output only. Color that can be used for text without a background.",
          "$ref": "GoogleTypeColor",
          "readOnly": true
        }
      },
      "id": "GoogleAppsDriveLabelsV2BadgeColors",
      "type": "object",
      "description": "The color derived from BadgeConfig and changed to the closest recommended supported color."
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDisableFieldResponse": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDisableFieldResponse",
      "type": "object",
      "description": "Response following field disable.",
      "properties": {}
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDisableSelectionChoiceRequest": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDisableSelectionChoiceRequest",
      "description": "Request to disable a choice.",
      "type": "object",
      "properties": {
        "fieldId": {
          "type": "string",
          "description": "Required. The selection field in which a choice will be disabled."
        },
        "updateMask": {
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root `disabled_policy` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "format": "google-fieldmask"
        },
        "disabledPolicy": {
          "$ref": "GoogleAppsDriveLabelsV2LifecycleDisabledPolicy",
          "description": "Required. The disabled policy to update."
        },
        "id": {
          "type": "string",
          "description": "Required. Choice to disable."
        }
      }
    },
    "GoogleAppsDriveLabelsV2UpdateLabelPermissionRequest": {
      "type": "object",
      "description": "Updates a label permission. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
      "properties": {
        "parent": {
          "description": "Required. The parent label resource name.",
          "type": "string"
        },
        "labelPermission": {
          "description": "Required. The permission to create or update on the label.",
          "$ref": "GoogleAppsDriveLabelsV2LabelPermission"
        },
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
          "type": "boolean"
        }
      },
      "id": "GoogleAppsDriveLabelsV2UpdateLabelPermissionRequest"
    },
    "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceDisplayHints": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceDisplayHints",
      "description": "UI display hints for rendering an option.",
      "properties": {
        "disabled": {
          "description": "Whether the option should be shown in the UI as disabled.",
          "type": "boolean"
        },
        "badgePriority": {
          "description": "The priority of this badge. Used to compare and sort between multiple badges. A lower number means the badge should be shown first. When a badging configuration is not present, this will be 0. Otherwise, this will be set to `BadgeConfig.priority_override` or the default heuristic which prefers creation date of the label, and field and option priority.",
          "format": "int64",
          "type": "string"
        },
        "shownInApply": {
          "type": "boolean",
          "description": "This option should be shown in the apply menu when applying values to a Drive item."
        },
        "badgeColors": {
          "$ref": "GoogleAppsDriveLabelsV2BadgeColors",
          "description": "The colors to use for the badge. Changed to Google Material colors based on the chosen `properties.badge_config.color`."
        },
        "darkBadgeColors": {
          "description": "The dark-mode color to use for the badge. Changed to Google Material colors based on the chosen `properties.badge_config.color`.",
          "$ref": "GoogleAppsDriveLabelsV2BadgeColors"
        },
        "hiddenInSearch": {
          "description": "This option should be hidden in the search menu when searching for Drive items.",
          "type": "boolean"
        }
      }
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDeleteSelectionChoiceResponse": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDeleteSelectionChoiceResponse",
      "description": "Response following choice delete.",
      "properties": {}
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateLabelPropertiesRequest": {
      "description": "Updates basic properties of a label.",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateLabelPropertiesRequest",
      "properties": {
        "properties": {
          "description": "Required. Label properties to update.",
          "$ref": "GoogleAppsDriveLabelsV2LabelProperties"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `label_properties` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2DateLimits": {
      "properties": {
        "maxValue": {
          "description": "Maximum value for the date field type.",
          "$ref": "GoogleTypeDate"
        },
        "minValue": {
          "description": "Minimum value for the date field type.",
          "$ref": "GoogleTypeDate"
        }
      },
      "id": "GoogleAppsDriveLabelsV2DateLimits",
      "type": "object",
      "description": "Limits for date field type."
    },
    "GoogleAppsDriveLabelsV2PublishLabelRequest": {
      "type": "object",
      "description": "Request to publish a label.",
      "properties": {
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
          "type": "boolean"
        },
        "writeControl": {
          "$ref": "GoogleAppsDriveLabelsV2WriteControl",
          "description": "Provides control over how write requests are executed. Defaults to unset, which means the last write wins."
        },
        "languageCode": {
          "type": "string",
          "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used."
        }
      },
      "id": "GoogleAppsDriveLabelsV2PublishLabelRequest"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateFieldPropertiesRequest": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateFieldPropertiesRequest",
      "type": "object",
      "properties": {
        "id": {
          "description": "Required. The field to update.",
          "type": "string"
        },
        "properties": {
          "$ref": "GoogleAppsDriveLabelsV2FieldProperties",
          "description": "Required. Basic field properties."
        },
        "updateMask": {
          "description": "The fields that should be updated. At least one field must be specified. The root `properties` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "type": "string",
          "format": "google-fieldmask"
        }
      },
      "description": "Request to update field properties."
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateLabelPropertiesResponse": {
      "properties": {},
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateLabelPropertiesResponse",
      "type": "object",
      "description": "Response following update to label properties."
    },
    "GoogleAppsDriveLabelsV2FieldDateOptions": {
      "description": "Options for the date field type.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2FieldDateOptions",
      "properties": {
        "dateFormatType": {
          "enum": [
            "DATE_FORMAT_UNSPECIFIED",
            "LONG_DATE",
            "SHORT_DATE"
          ],
          "description": "Localized date formatting option. Field values are rendered in this format according to their locale.",
          "type": "string",
          "enumDescriptions": [
            "Date format unspecified.",
            "Includes full month name. For example, January 12, 1999 (MMMM d, y)",
            "Short, numeric, representation. For example, 12/13/99 (M/d/yy)"
          ]
        },
        "minValue": {
          "description": "Output only. Minimum valid value (year, month, day).",
          "$ref": "GoogleTypeDate",
          "readOnly": true
        },
        "dateFormat": {
          "description": "Output only. ICU date format.",
          "type": "string",
          "readOnly": true
        },
        "maxValue": {
          "description": "Output only. Maximum valid value (year, month, day).",
          "readOnly": true,
          "$ref": "GoogleTypeDate"
        }
      }
    },
    "GoogleAppsDriveLabelsV2LabelDisplayHints": {
      "type": "object",
      "description": "The UI display hints for rendering the label.",
      "properties": {
        "disabled": {
          "description": "Whether the label should be shown in the UI as disabled.",
          "type": "boolean"
        },
        "hiddenInSearch": {
          "description": "This label should be hidden in the search menu when searching for Drive items.",
          "type": "boolean"
        },
        "priority": {
          "type": "string",
          "description": "The order to display labels in a list.",
          "format": "int64"
        },
        "shownInApply": {
          "type": "boolean",
          "description": "This label should be shown in the apply menu when applying values to a Drive item."
        }
      },
      "id": "GoogleAppsDriveLabelsV2LabelDisplayHints"
    },
    "GoogleAppsDriveLabelsV2ListLabelLocksResponse": {
      "type": "object",
      "properties": {
        "labelLocks": {
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2LabelLock"
          },
          "description": "Label locks."
        },
        "nextPageToken": {
          "description": "The token of the next page in the response.",
          "type": "string"
        }
      },
      "description": "The response to a `ListLabelLocksRequest`.",
      "id": "GoogleAppsDriveLabelsV2ListLabelLocksResponse"
    },
    "GoogleAppsDriveLabelsV2LabelEnabledAppSettings": {
      "id": "GoogleAppsDriveLabelsV2LabelEnabledAppSettings",
      "properties": {
        "enabledApps": {
          "description": "Optional. The list of apps where the label can be used.",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2LabelEnabledAppSettingsEnabledApp"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Describes the Google Workspace apps in which the label can be used."
    },
    "GoogleAppsDriveLabelsV2TextLimits": {
      "description": "Limits for text field type.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2TextLimits",
      "properties": {
        "minLength": {
          "description": "Minimum length allowed for a text field type.",
          "format": "int32",
          "type": "integer"
        },
        "maxLength": {
          "type": "integer",
          "description": "Maximum length allowed for a text field type.",
          "format": "int32"
        }
      }
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDeleteFieldRequest": {
      "properties": {
        "id": {
          "description": "Required. ID of the field to delete.",
          "type": "string"
        }
      },
      "description": "Request to delete the field.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDeleteFieldRequest"
    },
    "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceSchemaCapabilities": {
      "id": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceSchemaCapabilities",
      "description": "The capabilities related to this choice when editing the choice.",
      "type": "object",
      "properties": {
        "canUpdate": {
          "type": "boolean",
          "description": "Whether the user can update this choice."
        },
        "canDelete": {
          "type": "boolean",
          "description": "Whether the user can delete this choice."
        },
        "canEnable": {
          "type": "boolean",
          "description": "Whether the user can enable this choice."
        },
        "canDisable": {
          "description": "Whether the user can disable this choice.",
          "type": "boolean"
        }
      }
    },
    "GoogleAppsDriveLabelsV2LabelPermission": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2LabelPermission",
      "description": "The permission that applies to a principal (user, group, audience) on a label.",
      "properties": {
        "person": {
          "description": "Person resource name.",
          "type": "string"
        },
        "email": {
          "description": "Specifies the email address for a user or group principal. Not populated for audience principals. User and group permissions may only be inserted using an email address. On update requests, if email address is specified, no principal should be specified.",
          "type": "string"
        },
        "name": {
          "description": "Resource name of this permission.",
          "type": "string"
        },
        "audience": {
          "description": "Audience to grant a role to. The magic value of `audiences/default` may be used to apply the role to the default audience in the context of the organization that owns the label.",
          "type": "string"
        },
        "group": {
          "description": "Group resource name.",
          "type": "string"
        },
        "role": {
          "type": "string",
          "description": "The role the principal should have.",
          "enum": [
            "LABEL_ROLE_UNSPECIFIED",
            "READER",
            "APPLIER",
            "ORGANIZER",
            "EDITOR"
          ],
          "enumDescriptions": [
            "Unknown role.",
            "A reader can read the label and associated metadata applied to Drive items.",
            "An applier can write associated metadata on Drive items in which they also have write access to. Implies `READER`.",
            "An organizer can pin this label in shared drives they manage and add new appliers to the label.",
            "Editors can make any update including deleting the label which also deletes the associated Drive item metadata. Implies `APPLIER`."
          ]
        }
      }
    },
    "GoogleAppsDriveLabelsV2UpdateLabelCopyModeRequest": {
      "description": "Request to update the `CopyMode` of the given label. Changes to this policy aren't revisioned, don't require publishing, and take effect immediately. \\",
      "type": "object",
      "properties": {
        "view": {
          "enumDescriptions": [
            "Implies the field mask: `name,id,revision_id,label_type,properties.*`",
            "All possible fields."
          ],
          "description": "When specified, only certain fields belonging to the indicated view will be returned.",
          "type": "string",
          "enum": [
            "LABEL_VIEW_BASIC",
            "LABEL_VIEW_FULL"
          ]
        },
        "languageCode": {
          "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used.",
          "type": "string"
        },
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
          "type": "boolean"
        },
        "copyMode": {
          "description": "Required. Indicates how the applied label and field values should be copied when a Drive item is copied.",
          "type": "string",
          "enumDescriptions": [
            "Copy mode unspecified.",
            "The applied label and field values aren't copied by default when the Drive item it's applied to is copied.",
            "The applied label and field values are always copied when the Drive item it's applied to is copied. Only admins can use this mode.",
            "The applied label and field values are copied if the label is appliable by the user making the copy."
          ],
          "enum": [
            "COPY_MODE_UNSPECIFIED",
            "DO_NOT_COPY",
            "ALWAYS_COPY",
            "COPY_APPLIABLE"
          ]
        }
      },
      "id": "GoogleAppsDriveLabelsV2UpdateLabelCopyModeRequest"
    },
    "GoogleAppsDriveLabelsV2FieldDisplayHints": {
      "description": "UI display hints for rendering a field.",
      "type": "object",
      "properties": {
        "shownInApply": {
          "description": "This field should be shown in the apply menu when applying values to a Drive item.",
          "type": "boolean"
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether the field should be shown in the UI as disabled."
        },
        "required": {
          "type": "boolean",
          "description": "Whether the field should be shown as required in the UI."
        },
        "hiddenInSearch": {
          "type": "boolean",
          "description": "This field should be hidden in the search menu when searching for Drive items."
        }
      },
      "id": "GoogleAppsDriveLabelsV2FieldDisplayHints"
    },
    "GoogleAppsDriveLabelsV2IntegerLimits": {
      "id": "GoogleAppsDriveLabelsV2IntegerLimits",
      "description": "Limits for integer field type.",
      "properties": {
        "maxValue": {
          "format": "int64",
          "type": "string",
          "description": "Maximum value for an integer field type."
        },
        "minValue": {
          "format": "int64",
          "description": "Minimum value for an integer field type.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseEnableSelectionChoiceResponse": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseEnableSelectionChoiceResponse",
      "type": "object",
      "description": "Response following choice enable.",
      "properties": {}
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDisableFieldRequest": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDisableFieldRequest",
      "properties": {
        "updateMask": {
          "description": "The fields that should be updated. At least one field must be specified. The root `disabled_policy` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "disabledPolicy": {
          "$ref": "GoogleAppsDriveLabelsV2LifecycleDisabledPolicy",
          "description": "Required. Field disabled policy."
        },
        "id": {
          "description": "Required. Key of the field to disable.",
          "type": "string"
        }
      },
      "description": "Request to disable the field."
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponse": {
      "description": "Response for label update.",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponse",
      "type": "object",
      "properties": {
        "responses": {
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseResponse"
          },
          "description": "The reply of the updates. This maps 1:1 with the updates, although responses to some requests may be empty."
        },
        "updatedLabel": {
          "$ref": "GoogleAppsDriveLabelsV2Label",
          "description": "The label after updates were applied. This is only set if `include_label_in_response` is `true` and there were no errors."
        }
      }
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestRequest": {
      "description": "A single kind of update to apply to a label.",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestRequest",
      "properties": {
        "disableSelectionChoice": {
          "description": "Disable a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDisableSelectionChoiceRequest"
        },
        "updateSelectionChoiceProperties": {
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateSelectionChoicePropertiesRequest",
          "description": "Update a choice property within a selection field."
        },
        "updateLabel": {
          "description": "Updates the label properties.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateLabelPropertiesRequest"
        },
        "enableSelectionChoice": {
          "description": "Enable a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestEnableSelectionChoiceRequest"
        },
        "disableField": {
          "description": "Disables the field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDisableFieldRequest"
        },
        "updateField": {
          "description": "Updates basic properties of a field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateFieldPropertiesRequest"
        },
        "enableField": {
          "description": "Enables the field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestEnableFieldRequest"
        },
        "deleteField": {
          "description": "Deletes a field from the label.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDeleteFieldRequest"
        },
        "createField": {
          "description": "Creates a field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestCreateFieldRequest"
        },
        "createSelectionChoice": {
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestCreateSelectionChoiceRequest",
          "description": "Create a choice within a selection field."
        },
        "updateFieldType": {
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateFieldTypeRequest",
          "description": "Update field type and/or type options."
        },
        "deleteSelectionChoice": {
          "description": "Delete a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDeleteSelectionChoiceRequest"
        }
      },
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDisableSelectionChoiceResponse": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDisableSelectionChoiceResponse",
      "type": "object",
      "properties": {},
      "description": "Response following choice disable."
    },
    "GoogleTypeColor": {
      "properties": {
        "blue": {
          "type": "number",
          "format": "float",
          "description": "The amount of blue in the color as a value in the interval [0, 1]."
        },
        "red": {
          "format": "float",
          "type": "number",
          "description": "The amount of red in the color as a value in the interval [0, 1]."
        },
        "green": {
          "description": "The amount of green in the color as a value in the interval [0, 1].",
          "type": "number",
          "format": "float"
        },
        "alpha": {
          "format": "float",
          "type": "number",
          "description": "The fraction of this color that should be applied to the pixel. That is, the final pixel color is defined by the equation: `pixel color = alpha * (this color) + (1.0 - alpha) * (background color)` This means that a value of 1.0 corresponds to a solid color, whereas a value of 0.0 corresponds to a completely transparent color. This uses a wrapper message rather than a simple float scalar so that it is possible to distinguish between a default value and the value being unset. If omitted, this color object is rendered as a solid color (as if the alpha value had been explicitly given a value of 1.0)."
        }
      },
      "id": "GoogleTypeColor",
      "type": "object",
      "description": "Represents a color in the RGBA color space. This representation is designed for simplicity of conversion to and from color representations in various languages over compactness. For example, the fields of this representation can be trivially provided to the constructor of `java.awt.Color` in Java; it can also be trivially provided to UIColor's `+colorWithRed:green:blue:alpha` method in iOS; and, with just a little work, it can be easily formatted into a CSS `rgba()` string in JavaScript. This reference page doesn't have information about the absolute color space that should be used to interpret the RGB value—for example, sRGB, Adobe RGB, DCI-P3, and BT.2020. By default, applications should assume the sRGB color space. When color equality needs to be decided, implementations, unless documented otherwise, treat two colors as equal if all their red, green, blue, and alpha values each differ by at most `1e-5`. Example (Java): import com.google.type.Color; // ... public static java.awt.Color fromProto(Color protocolor) { float alpha = protocolor.hasAlpha() ? protocolor.getAlpha().getValue() : 1.0; return new java.awt.Color( protocolor.getRed(), protocolor.getGreen(), protocolor.getBlue(), alpha); } public static Color toProto(java.awt.Color color) { float red = (float) color.getRed(); float green = (float) color.getGreen(); float blue = (float) color.getBlue(); float denominator = 255.0; Color.Builder resultBuilder = Color .newBuilder() .setRed(red / denominator) .setGreen(green / denominator) .setBlue(blue / denominator); int alpha = color.getAlpha(); if (alpha != 255) { result.setAlpha( FloatValue .newBuilder() .setValue(((float) alpha) / denominator) .build()); } return resultBuilder.build(); } // ... Example (iOS / Obj-C): // ... static UIColor* fromProto(Color* protocolor) { float red = [protocolor red]; float green = [protocolor green]; float blue = [protocolor blue]; FloatValue* alpha_wrapper = [protocolor alpha]; float alpha = 1.0; if (alpha_wrapper != nil) { alpha = [alpha_wrapper value]; } return [UIColor colorWithRed:red green:green blue:blue alpha:alpha]; } static Color* toProto(UIColor* color) { CGFloat red, green, blue, alpha; if (![color getRed:&red green:&green blue:&blue alpha:&alpha]) { return nil; } Color* result = [[Color alloc] init]; [result setRed:red]; [result setGreen:green]; [result setBlue:blue]; if (alpha <= 0.9999) { [result setAlpha:floatWrapperWithValue(alpha)]; } [result autorelease]; return result; } // ... Example (JavaScript): // ... var protoToCssColor = function(rgb_color) { var redFrac = rgb_color.red || 0.0; var greenFrac = rgb_color.green || 0.0; var blueFrac = rgb_color.blue || 0.0; var red = Math.floor(redFrac * 255); var green = Math.floor(greenFrac * 255); var blue = Math.floor(blueFrac * 255); if (!('alpha' in rgb_color)) { return rgbToCssColor(red, green, blue); } var alphaFrac = rgb_color.alpha.value || 0.0; var rgbParams = [red, green, blue].join(','); return ['rgba(', rgbParams, ',', alphaFrac, ')'].join(''); }; var rgbToCssColor = function(red, green, blue) { var rgbNumber = new Number((red << 16) | (green << 8) | blue); var hexString = rgbNumber.toString(16); var missingZeros = 6 - hexString.length; var resultBuilder = ['#']; for (var i = 0; i < missingZeros; i++) { resultBuilder.push('0'); } resultBuilder.push(hexString); return resultBuilder.join(''); }; // ..."
    },
    "GoogleAppsDriveLabelsV2FieldUserOptions": {
      "type": "object",
      "description": "Options for the user field type.",
      "properties": {
        "listOptions": {
          "$ref": "GoogleAppsDriveLabelsV2FieldListOptions",
          "description": "When specified, indicates that this field supports a list of values. Once the field is published, this cannot be changed."
        }
      },
      "id": "GoogleAppsDriveLabelsV2FieldUserOptions"
    },
    "GoogleAppsDriveLabelsV2Label": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2Label",
      "description": "A label defines a taxonomy that can be applied to Drive items in order to organize and search across items. Labels can be simple strings, or can contain fields that describe additional metadata that can be further used to organize and search Drive items.",
      "properties": {
        "enabledAppSettings": {
          "description": "Optional. The `EnabledAppSettings` for this Label.",
          "$ref": "GoogleAppsDriveLabelsV2LabelEnabledAppSettings"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of the label. Will be in the form of either: `labels/{id}` or `labels/{id}@{revision_id}` depending on the request. See `id` and `revision_id` below."
        },
        "publisher": {
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2UserInfo",
          "description": "Output only. The user who published this label. This value has no meaning when the label isn't published.>>"
        },
        "disableTime": {
          "format": "google-datetime",
          "description": "Output only. The time this label was disabled. This value has no meaning when the label isn't disabled.",
          "readOnly": true,
          "type": "string"
        },
        "creator": {
          "$ref": "GoogleAppsDriveLabelsV2UserInfo",
          "description": "Output only. The user who created this label.",
          "readOnly": true
        },
        "appliedCapabilities": {
          "readOnly": true,
          "description": "Output only. The capabilities related to this label on applied metadata.",
          "$ref": "GoogleAppsDriveLabelsV2LabelAppliedCapabilities"
        },
        "revisionCreateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time this label revision was created."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time this label was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "displayHints": {
          "description": "Output only. UI display hints for rendering the label.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2LabelDisplayHints"
        },
        "lifecycle": {
          "description": "Output only. The lifecycle state of the label including whether it's published, deprecated, and has draft changes.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2Lifecycle"
        },
        "customer": {
          "description": "Output only. The customer this label belongs to. For example: `customers/123abc789`.",
          "type": "string",
          "readOnly": true
        },
        "appliedLabelPolicy": {
          "description": "Output only. Behavior of this label when it's applied to Drive items.",
          "$ref": "GoogleAppsDriveLabelsV2LabelAppliedLabelPolicy",
          "readOnly": true
        },
        "disabler": {
          "description": "Output only. The user who disabled this label. This value has no meaning when the label isn't disabled.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2UserInfo"
        },
        "properties": {
          "description": "Required. The basic properties of the label.",
          "$ref": "GoogleAppsDriveLabelsV2LabelProperties"
        },
        "labelType": {
          "type": "string",
          "enumDescriptions": [
            "Unknown label type.",
            "Shared labels may be shared with users to apply to Drive items.",
            "Admin-owned label. Only creatable and editable by admins. Supports some additional admin-only features.",
            "A label owned by an internal Google application rather than a customer. These labels are read-only."
          ],
          "enum": [
            "LABEL_TYPE_UNSPECIFIED",
            "SHARED",
            "ADMIN",
            "GOOGLE_APP"
          ],
          "description": "Required. The type of label."
        },
        "schemaCapabilities": {
          "readOnly": true,
          "description": "Output only. The capabilities the user has on this label.",
          "$ref": "GoogleAppsDriveLabelsV2LabelSchemaCapabilities"
        },
        "learnMoreUri": {
          "type": "string",
          "description": "Custom URL to present to users to allow them to learn more about this label and how it should be used."
        },
        "lockStatus": {
          "$ref": "GoogleAppsDriveLabelsV2LockStatus",
          "description": "Output only. The `LockStatus` of this label.",
          "readOnly": true
        },
        "publishTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time this label was published. This value has no meaning when the label isn't published.",
          "type": "string"
        },
        "fields": {
          "description": "List of fields in descending priority order.",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2Field"
          },
          "type": "array"
        },
        "revisionId": {
          "description": "Output only. Revision ID of the label. Revision ID might be part of the label `name` depending on the request issued. A new revision is created whenever revisioned properties of a label are changed. Matches the regex: `([a-zA-Z0-9])+`.",
          "readOnly": true,
          "type": "string"
        },
        "revisionCreator": {
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2UserInfo",
          "description": "Output only. The user who created this label revision."
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Globally unique identifier of this label. ID makes up part of the label `name`, but unlike `name`, ID is consistent between revisions. Matches the regex: `([a-zA-Z0-9])+`."
        }
      }
    },
    "GoogleAppsDriveLabelsV2DeleteLabelPermissionRequest": {
      "properties": {
        "name": {
          "description": "Required. Label permission resource name.",
          "type": "string"
        },
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2DeleteLabelPermissionRequest",
      "description": "Deletes a label permission. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing."
    },
    "GoogleAppsDriveLabelsV2LabelLimits": {
      "id": "GoogleAppsDriveLabelsV2LabelLimits",
      "properties": {
        "fieldLimits": {
          "$ref": "GoogleAppsDriveLabelsV2FieldLimits",
          "description": "The limits for fields."
        },
        "maxDraftRevisions": {
          "description": "The maximum number of draft revisions that will be kept before deleting old drafts.",
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "description": "Resource name.",
          "type": "string"
        },
        "maxFields": {
          "description": "The maximum number of fields allowed within the label.",
          "format": "int32",
          "type": "integer"
        },
        "maxDescriptionLength": {
          "type": "integer",
          "description": "The maximum number of characters allowed for the description.",
          "format": "int32"
        },
        "maxTitleLength": {
          "format": "int32",
          "description": "The maximum number of characters allowed for the title.",
          "type": "integer"
        },
        "maxDeletedFields": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of published fields that can be deleted."
        }
      },
      "description": "Label constraints governing the structure of a label; such as, the maximum number of fields allowed and maximum length of the label title.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2FieldAppliedCapabilities": {
      "properties": {
        "canRead": {
          "type": "boolean",
          "description": "Whether the user can read related applied metadata on items."
        },
        "canSearch": {
          "type": "boolean",
          "description": "Whether the user can search for Drive items referencing this field."
        },
        "canWrite": {
          "type": "boolean",
          "description": "Whether the user can set this field on Drive items."
        }
      },
      "id": "GoogleAppsDriveLabelsV2FieldAppliedCapabilities",
      "type": "object",
      "description": "The capabilities related to this field on applied metadata."
    },
    "GoogleAppsDriveLabelsV2BatchDeleteLabelPermissionsRequest": {
      "id": "GoogleAppsDriveLabelsV2BatchDeleteLabelPermissionsRequest",
      "type": "object",
      "description": "Deletes one or more label permissions.",
      "properties": {
        "requests": {
          "type": "array",
          "description": "Required. The request message specifying the resources to update.",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2DeleteLabelPermissionRequest"
          }
        },
        "useAdminAccess": {
          "type": "boolean",
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access. If this is set, the `use_admin_access` field in the `DeleteLabelPermissionRequest` messages must either be empty or match this field."
        }
      }
    },
    "GoogleAppsDriveLabelsV2FieldProperties": {
      "id": "GoogleAppsDriveLabelsV2FieldProperties",
      "type": "object",
      "description": "The basic properties of the field.",
      "properties": {
        "insertBeforeField": {
          "type": "string",
          "description": "Input only. Insert or move this field before the indicated field. If empty, the field is placed at the end of the list."
        },
        "required": {
          "type": "boolean",
          "description": "Whether the field should be marked as required."
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display text to show in the UI identifying this field."
        }
      }
    },
    "GoogleAppsDriveLabelsV2ListLabelsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token of the next page in the response."
        },
        "labels": {
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2Label"
          },
          "type": "array",
          "description": "Labels."
        }
      },
      "type": "object",
      "description": "Response for listing labels.",
      "id": "GoogleAppsDriveLabelsV2ListLabelsResponse"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseCreateSelectionChoiceResponse": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseCreateSelectionChoiceResponse",
      "properties": {
        "fieldId": {
          "type": "string",
          "description": "The server-generated ID of the field."
        },
        "id": {
          "type": "string",
          "description": "The server-generated ID of the created choice within the field."
        }
      },
      "type": "object",
      "description": "Response following selection choice create."
    },
    "GoogleAppsDriveLabelsV2UserLimits": {
      "description": "Limits for Field.Type.USER.",
      "properties": {
        "listLimits": {
          "description": "Limits for list-variant of a field type.",
          "$ref": "GoogleAppsDriveLabelsV2ListLimits"
        }
      },
      "id": "GoogleAppsDriveLabelsV2UserLimits",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2EnableLabelRequest": {
      "description": "Request to enable a label.",
      "id": "GoogleAppsDriveLabelsV2EnableLabelRequest",
      "type": "object",
      "properties": {
        "writeControl": {
          "description": "Provides control over how write requests are executed. Defaults to unset, which means the last write wins.",
          "$ref": "GoogleAppsDriveLabelsV2WriteControl"
        },
        "languageCode": {
          "type": "string",
          "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used."
        },
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
          "type": "boolean"
        }
      }
    },
    "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoice": {
      "id": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoice",
      "type": "object",
      "description": "Selection field choice.",
      "properties": {
        "updater": {
          "$ref": "GoogleAppsDriveLabelsV2UserInfo",
          "readOnly": true,
          "description": "Output only. The user who updated this choice last."
        },
        "appliedCapabilities": {
          "$ref": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceAppliedCapabilities",
          "description": "Output only. The capabilities related to this choice on applied metadata.",
          "readOnly": true
        },
        "properties": {
          "$ref": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceProperties",
          "description": "Basic properties of the choice."
        },
        "lockStatus": {
          "description": "Output only. The `LockStatus` of this choice.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2LockStatus"
        },
        "creator": {
          "$ref": "GoogleAppsDriveLabelsV2UserInfo",
          "description": "Output only. The user who created this choice.",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. The time this choice was updated last.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "displayHints": {
          "description": "Output only. UI display hints for rendering a choice.",
          "$ref": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceDisplayHints",
          "readOnly": true
        },
        "id": {
          "description": "The unique value of the choice. This ID is autogenerated. Matches the regex: `([a-zA-Z0-9_])+`.",
          "type": "string"
        },
        "disableTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time this choice was disabled. This value has no meaning when the choice is not disabled."
        },
        "schemaCapabilities": {
          "description": "Output only. The capabilities related to this option when editing the option.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceSchemaCapabilities"
        },
        "publisher": {
          "$ref": "GoogleAppsDriveLabelsV2UserInfo",
          "description": "Output only. The user who published this choice. This value has no meaning when the choice is not published.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time this choice was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "disabler": {
          "$ref": "GoogleAppsDriveLabelsV2UserInfo",
          "readOnly": true,
          "description": "Output only. The user who disabled this choice. This value has no meaning when the option is not disabled."
        },
        "publishTime": {
          "readOnly": true,
          "description": "Output only. The time this choice was published. This value has no meaning when the choice is not published.",
          "format": "google-datetime",
          "type": "string"
        },
        "lifecycle": {
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2Lifecycle",
          "description": "Output only. Lifecycle of the choice."
        }
      }
    },
    "GoogleAppsDriveLabelsV2FieldIntegerOptions": {
      "properties": {
        "minValue": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The minimum valid value for the integer field.",
          "type": "string"
        },
        "maxValue": {
          "description": "Output only. The maximum valid value for the integer field.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2FieldIntegerOptions",
      "description": "Options for the Integer field type."
    },
    "GoogleAppsDriveLabelsV2BatchUpdateLabelPermissionsResponse": {
      "description": "Response for updating one or more label permissions.",
      "type": "object",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2LabelPermission"
          },
          "description": "Required. Permissions updated."
        }
      },
      "id": "GoogleAppsDriveLabelsV2BatchUpdateLabelPermissionsResponse"
    },
    "GoogleAppsDriveLabelsV2BatchUpdateLabelPermissionsRequest": {
      "id": "GoogleAppsDriveLabelsV2BatchUpdateLabelPermissionsRequest",
      "description": "Updates one or more label permissions.",
      "type": "object",
      "properties": {
        "requests": {
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2UpdateLabelPermissionRequest"
          },
          "type": "array",
          "description": "Required. The request message specifying the resources to update."
        },
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access. If this is set, the `use_admin_access` field in the `UpdateLabelPermissionRequest` messages must either be empty or match this field.",
          "type": "boolean"
        }
      }
    },
    "GoogleAppsDriveLabelsV2FieldSchemaCapabilities": {
      "id": "GoogleAppsDriveLabelsV2FieldSchemaCapabilities",
      "type": "object",
      "properties": {
        "canDelete": {
          "description": "Whether the user can delete this field. The user must have permission and the field must be deprecated.",
          "type": "boolean"
        },
        "canUpdate": {
          "description": "Whether the user can change this field.",
          "type": "boolean"
        },
        "canEnable": {
          "description": "Whether the user can enable this field. The user must have permission and this field must be disabled.",
          "type": "boolean"
        },
        "canDisable": {
          "description": "Whether the user can disable this field. The user must have permission and this field must not already be disabled.",
          "type": "boolean"
        }
      },
      "description": "The capabilities related to this field when editing the field."
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDeleteFieldResponse": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDeleteFieldResponse",
      "description": "Response following field delete.",
      "properties": {},
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestEnableSelectionChoiceRequest": {
      "description": "Request to enable a choice.",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestEnableSelectionChoiceRequest",
      "type": "object",
      "properties": {
        "fieldId": {
          "description": "Required. The selection field in which a choice will be enabled.",
          "type": "string"
        },
        "id": {
          "description": "Required. Choice to enable.",
          "type": "string"
        }
      }
    },
    "GoogleAppsDriveLabelsV2UpdateLabelEnabledAppSettingsRequest": {
      "properties": {
        "languageCode": {
          "type": "string",
          "description": "Optional. The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used."
        },
        "useAdminAccess": {
          "type": "boolean",
          "description": "Optional. Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
        },
        "enabledAppSettings": {
          "description": "Required. The new `EnabledAppSettings` value for the label.",
          "$ref": "GoogleAppsDriveLabelsV2LabelEnabledAppSettings"
        },
        "view": {
          "enum": [
            "LABEL_VIEW_BASIC",
            "LABEL_VIEW_FULL"
          ],
          "description": "Optional. When specified, only certain fields belonging to the indicated view will be returned.",
          "enumDescriptions": [
            "Implies the field mask: `name,id,revision_id,label_type,properties.*`",
            "All possible fields."
          ],
          "type": "string"
        }
      },
      "id": "GoogleAppsDriveLabelsV2UpdateLabelEnabledAppSettingsRequest",
      "description": "Request to update the `EnabledAppSettings` of the given label. This change is not revisioned, doesn't require publishing, and takes effect immediately. \\",
      "type": "object"
    },
    "GoogleProtobufEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object",
      "id": "GoogleProtobufEmpty"
    },
    "GoogleAppsDriveLabelsV2LabelSchemaCapabilities": {
      "id": "GoogleAppsDriveLabelsV2LabelSchemaCapabilities",
      "type": "object",
      "description": "The capabilities related to this label when editing the label.",
      "properties": {
        "canDisable": {
          "description": "Whether the user can disable this label. The user must have permission and this label must not already be disabled.",
          "type": "boolean"
        },
        "canEnable": {
          "description": "Whether the user can enable this label. The user must have permission and this label must be disabled.",
          "type": "boolean"
        },
        "canUpdate": {
          "description": "Whether the user can change this label.",
          "type": "boolean"
        },
        "canDelete": {
          "type": "boolean",
          "description": "Whether the user can delete this label. The user must have permission and the label must be disabled."
        }
      }
    },
    "GoogleAppsDriveLabelsV2LabelAppliedCapabilities": {
      "id": "GoogleAppsDriveLabelsV2LabelAppliedCapabilities",
      "properties": {
        "canRead": {
          "type": "boolean",
          "description": "Whether the user can read applied metadata related to this label."
        },
        "canApply": {
          "description": "Whether the user can apply this label to items.",
          "type": "boolean"
        },
        "canRemove": {
          "type": "boolean",
          "description": "Whether the user can remove this label from items."
        }
      },
      "description": "The capabilities a user has on this label's applied metadata.",
      "type": "object"
    }
  },
  "servicePath": "",
  "revision": "20261007",
  "mtlsRootUrl": "https://drivelabels.mtls.googleapis.com/",
  "version": "v2",
  "canonicalName": "Drive Labels",
  "resources": {
    "users": {
      "methods": {
        "getCapabilities": {
          "parameters": {
            "customer": {
              "location": "query",
              "type": "string",
              "description": "The customer to scope this request to. For example: `customers/abcd1234`. If unset, it will return settings within the current customer."
            },
            "name": {
              "location": "path",
              "pattern": "^users/[^/]+/capabilities$",
              "type": "string",
              "required": true,
              "description": "Required. The resource name of the user. Only \"users/me/capabilities\" is supported."
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.admin.labels.readonly",
            "https://www.googleapis.com/auth/drive.labels",
            "https://www.googleapis.com/auth/drive.labels.readonly"
          ],
          "flatPath": "v2/users/{usersId}/capabilities",
          "description": "Gets the user capabilities.",
          "id": "drivelabels.users.getCapabilities",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2UserCapabilities"
          },
          "path": "v2/{+name}"
        }
      }
    },
    "labels": {
      "resources": {
        "locks": {
          "methods": {
            "list": {
              "parameters": {
                "pageSize": {
                  "description": "Maximum number of locks to return per page. Default: 100. Max: 200.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "parent": {
                  "type": "string",
                  "description": "Required. Label on which locks are applied. Format: `labels/{label}`.",
                  "location": "path",
                  "pattern": "^labels/[^/]+$",
                  "required": true
                },
                "pageToken": {
                  "description": "The token of the page to return.",
                  "location": "query",
                  "type": "string"
                }
              },
              "flatPath": "v2/labels/{labelsId}/locks",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.admin.labels.readonly",
                "https://www.googleapis.com/auth/drive.labels",
                "https://www.googleapis.com/auth/drive.labels.readonly"
              ],
              "id": "drivelabels.labels.locks.list",
              "parameterOrder": [
                "parent"
              ],
              "path": "v2/{+parent}/locks",
              "description": "Lists the label locks on a label.",
              "response": {
                "$ref": "GoogleAppsDriveLabelsV2ListLabelLocksResponse"
              }
            }
          }
        },
        "permissions": {
          "methods": {
            "batchDelete": {
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^labels/[^/]+$",
                  "description": "Required. The parent label resource name shared by all permissions being deleted. Format: `labels/{label}`. If this is set, the parent field in the `UpdateLabelPermissionRequest` messages must either be empty or match this field.",
                  "required": true
                }
              },
              "description": "Deletes label permissions. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.labels"
              ],
              "flatPath": "v2/labels/{labelsId}/permissions:batchDelete",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleAppsDriveLabelsV2BatchDeleteLabelPermissionsRequest"
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "path": "v2/{+parent}/permissions:batchDelete",
              "id": "drivelabels.labels.permissions.batchDelete"
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.labels"
              ],
              "path": "v2/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^labels/[^/]+/permissions/.*$",
                  "description": "Required. Label permission resource name.",
                  "type": "string",
                  "location": "path"
                },
                "useAdminAccess": {
                  "type": "boolean",
                  "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
                  "location": "query"
                }
              },
              "id": "drivelabels.labels.permissions.delete",
              "description": "Deletes a label's permission. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
              "flatPath": "v2/labels/{labelsId}/permissions/{permissionsId}",
              "httpMethod": "DELETE",
[...]
