{
  "rootUrl": "https://www.googleapis.com/",
  "version": "v2",
  "mtlsRootUrl": "https://www.mtls.googleapis.com/",
  "servicePath": "drive/v2/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.meet.readonly": {
          "description": "See and download your Google Drive files that were created or edited by Google Meet."
        },
        "https://www.googleapis.com/auth/drive.metadata": {
          "description": "View and manage metadata of files in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.appdata": {
          "description": "See, create, and delete its own configuration data in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.metadata.readonly": {
          "description": "See information about your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "See and download all your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.scripts": {
          "description": "Modify your Google Apps Script scripts' behavior"
        },
        "https://www.googleapis.com/auth/drive.file": {
          "description": "See, edit, create, and delete only the specific Google Drive files you use with this app"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.photos.readonly": {
          "description": "View the photos, videos and albums in your Google Photos"
        },
        "https://www.googleapis.com/auth/drive.apps.readonly": {
          "description": "View your Google Drive apps"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "baseUrl": "https://www.googleapis.com/drive/v2/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "resources": {
    "channels": {
      "methods": {
        "stop": {
          "description": "Stops watching resources through this channel.",
          "path": "channels/stop",
          "httpMethod": "POST",
          "id": "drive.channels.stop",
          "parameters": {},
          "request": {
            "$ref": "Channel",
            "parameterName": "resource"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "channels/stop",
          "parameterOrder": []
        }
      }
    },
    "files": {
      "methods": {
        "patch": {
          "parameterOrder": [
            "fileId"
          ],
          "id": "drive.files.patch",
          "request": {
            "$ref": "File"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.scripts"
          ],
          "description": "Updates a file's metadata and/or content. When calling this method, only populate fields in the request that you want to modify. When updating fields, some fields might change automatically, such as modifiedDate. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "File"
          },
          "flatPath": "files/{fileId}",
          "path": "files/{fileId}",
          "parameters": {
            "enforceSingleParent": {
              "type": "boolean",
              "description": "Deprecated: Adding files to multiple folders is no longer supported. Use `shortcuts` instead.",
              "location": "query",
              "deprecated": true,
              "default": "false"
            },
            "ocrLanguage": {
              "description": "If ocr is true, hints at the language to use. Valid values are BCP 47 codes.",
              "location": "query",
              "type": "string"
            },
            "setModifiedDate": {
              "description": "Whether to set the modified date using the value supplied in the request body. Setting this field to `true` is equivalent to `modifiedDateBehavior=fromBodyOrNow`, and `false` is equivalent to `modifiedDateBehavior=now`. To prevent any changes to the modified date set `modifiedDateBehavior=noChange`.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            },
            "addParents": {
              "type": "string",
              "location": "query",
              "description": "Comma-separated list of parent IDs to add."
            },
            "convert": {
              "deprecated": true,
              "description": "Deprecated: This parameter has no function.",
              "location": "query",
              "default": "false",
              "type": "boolean"
            },
            "removeParents": {
              "description": "Comma-separated list of parent IDs to remove.",
              "type": "string",
              "location": "query"
            },
            "ocr": {
              "description": "Whether to attempt OCR on .jpg, .png, .gif, or .pdf uploads.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            },
            "includePermissionsForView": {
              "location": "query",
              "type": "string",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported."
            },
            "updateViewedDate": {
              "location": "query",
              "type": "boolean",
              "description": "Whether to update the view date after successfully updating the file.",
              "default": "true"
            },
            "useContentAsIndexableText": {
              "description": "Whether to use the content as indexable text.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            },
            "supportsTeamDrives": {
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "deprecated": true,
              "type": "boolean"
            },
            "fileId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the file to update.",
              "required": true
            },
            "timedTextTrackName": {
              "location": "query",
              "type": "string",
              "description": "The timed text track name."
            },
            "pinned": {
              "default": "false",
              "location": "query",
              "type": "boolean",
              "description": "Whether to pin the new revision. A file can have a maximum of 200 pinned revisions. Note that this field is ignored if there is no payload in the request."
            },
            "supportsAllDrives": {
              "type": "boolean",
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query"
            },
            "modifiedDateBehavior": {
              "enumDescriptions": [
                "Set `modifiedDate` to the value provided in the body of the request. No change if no value was provided.",
                "Set `modifiedDate` to the value provided in the body of the request depending on other contents of the update.",
                "Set modifiedDate to the value provided in the body of the request, or to the current time if no value was provided.",
                "Maintain the previous value of `modifiedDate`.",
                "Set `modifiedDate` to the current time.",
                "Set `modifiedDate` to the current time depending on contents of the update."
              ],
              "location": "query",
              "description": "Determines the behavior in which `modifiedDate` is updated. This overrides `setModifiedDate`.",
              "type": "string",
              "enum": [
                "fromBody",
                "fromBodyIfNeeded",
                "fromBodyOrNow",
                "noChange",
                "now",
                "nowIfNeeded"
              ]
            },
            "newRevision": {
              "location": "query",
              "description": "Whether a blob upload should create a new revision. If false, the blob data in the current head revision is replaced. If true or not set, a new blob is created as head revision, and previous unpinned revisions are preserved for a short period of time. Pinned revisions are stored indefinitely, using additional storage quota, up to a maximum of 200 revisions. For details on how revisions are retained, see the [Drive Help Center](https://support.google.com/drive/answer/2409045). Note that this field is ignored if there is no payload in the request.",
              "default": "true",
              "type": "boolean"
            },
            "timedTextLanguage": {
              "location": "query",
              "type": "string",
              "description": "The language of the timed text."
            },
            "includeLabels": {
              "location": "query",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string"
            }
          }
        },
        "watch": {
          "supportsSubscription": true,
          "parameterOrder": [
            "fileId"
          ],
          "path": "files/{fileId}/watch",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameters": {
            "fileId": {
              "description": "The ID for the file in question.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "acknowledgeAbuse": {
              "description": "Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when the `alt` parameter is set to `media` and the user is the owner of the file or an organizer of the shared drive in which the file resides.",
              "default": "false",
              "type": "boolean",
              "location": "query"
            },
            "updateViewedDate": {
              "description": "Deprecated: Use files.update with modifiedDateBehavior=noChange, updateViewedDate=true and an empty request body.",
              "type": "boolean",
              "default": "false",
              "location": "query",
              "deprecated": true
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false",
              "location": "query",
              "type": "boolean"
            },
            "projection": {
              "location": "query",
              "deprecated": true,
              "enumDescriptions": [
                "Deprecated.",
                "Deprecated."
              ],
              "type": "string",
              "enum": [
                "BASIC",
                "FULL"
              ],
              "description": "Deprecated: This parameter has no function."
            },
            "includePermissionsForView": {
              "location": "query",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "type": "string"
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "default": "false",
              "location": "query",
              "deprecated": true,
              "type": "boolean"
            },
            "includeLabels": {
              "location": "query",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string"
            },
            "revisionId": {
              "description": "Specifies the Revision ID that should be downloaded. Ignored unless alt=media is specified.",
              "type": "string",
              "location": "query"
            }
          },
          "response": {
            "$ref": "Channel"
          },
          "request": {
            "parameterName": "resource",
            "$ref": "Channel"
          },
          "id": "drive.files.watch",
          "description": "Subscribes to changes to a file.",
          "httpMethod": "POST",
          "flatPath": "files/{fileId}/watch"
        },
        "emptyTrash": {
          "path": "files/trash",
          "parameters": {
            "enforceSingleParent": {
              "deprecated": true,
              "type": "boolean",
              "default": "false",
              "location": "query",
              "description": "Deprecated: If an item is not in a shared drive and its last parent is deleted but the item itself is not, the item is placed under its owner's root."
            },
            "driveId": {
              "type": "string",
              "description": "If set, empties the trash of the provided shared drive.",
              "location": "query"
            }
          },
          "parameterOrder": [],
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "description": "Permanently deletes all of the user's trashed files.",
          "flatPath": "files/trash",
          "id": "drive.files.emptyTrash"
        },
        "trash": {
          "description": "Moves a file to the trash. The currently authenticated user must own the file or be at least a `fileOrganizer` on the parent for shared drive files.",
          "parameterOrder": [
            "fileId"
          ],
          "flatPath": "files/{fileId}/trash",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "id": "drive.files.trash",
          "path": "files/{fileId}/trash",
          "parameters": {
            "includePermissionsForView": {
              "location": "query",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "type": "string"
            },
            "supportsAllDrives": {
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false",
              "location": "query"
            },
            "supportsTeamDrives": {
              "location": "query",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "deprecated": true,
              "type": "boolean",
              "default": "false"
            },
            "fileId": {
              "type": "string",
              "description": "The ID of the file to trash.",
              "location": "path",
              "required": true
            },
            "includeLabels": {
              "location": "query",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "File"
          }
        },
        "list": {
          "parameterOrder": [],
          "description": " Lists the user's files. For more information, see [Search for files and folders](https://developers.google.com/workspace/drive/api/guides/search-files). This method accepts the `q` parameter, which is a search query combining one or more search terms. This method returns *all* files by default, including trashed files. If you don't want trashed files to appear in the list, use the `trashed=false` query parameter to remove trashed files from the results.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameters": {
            "driveId": {
              "description": "ID of the shared drive to search.",
              "type": "string",
              "location": "query"
            },
            "orderBy": {
              "type": "string",
              "location": "query",
              "description": "A comma-separated list of sort keys. Valid keys are: * `createdDate`: When the file was created. * `folder`: The folder ID. This field is sorted using alphabetical ordering. * `lastViewedByMeDate`: The last time the file was viewed by the user. * `modifiedByMeDate`: The last time the file was modified by the user. * `modifiedDate`: The last time the file was modified by anyone. * `quotaBytesUsed`: The number of storage quota bytes used by the file. * `recency`: The most recent timestamp from the file's date-time fields. * `sharedWithMeDate`: When the file was shared with the user, if applicable. * `starred`: Whether the user has starred the file. * `title`: The title of the file. This field is sorted using alphabetical ordering, so 1, 12, 2, 22. * `title_natural`: The title of the file. This field is sorted using natural sort ordering, so 1, 2, 12, 22. Each key sorts ascending by default, but can be reversed with the 'desc' modifier. Example usage: `?orderBy=folder,modifiedDate desc,title`. Note that there's a current limitation for users with approximately one million files in which the requested sort order is ignored."
            },
            "includeTeamDriveItems": {
              "location": "query",
              "deprecated": true,
              "description": "Deprecated: Use `includeItemsFromAllDrives` instead.",
              "type": "boolean",
              "default": "false"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Page token for files."
            },
            "q": {
              "location": "query",
              "description": "Query string for searching files.",
              "type": "string"
            },
            "teamDriveId": {
              "type": "string",
              "location": "query",
              "deprecated": true,
              "description": "Deprecated: Use `driveId` instead."
            },
            "spaces": {
              "type": "string",
              "location": "query",
              "description": "A comma-separated list of spaces to query. Supported values are `drive`, and `appDataFolder`."
            },
            "supportsTeamDrives": {
              "location": "query",
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean",
              "deprecated": true
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query",
              "type": "string"
            },
            "projection": {
              "enumDescriptions": [
                "Deprecated.",
                "Deprecated."
              ],
              "location": "query",
              "description": "Deprecated: This parameter has no function.",
              "deprecated": true,
              "type": "string",
              "enum": [
                "BASIC",
                "FULL"
              ]
            },
            "supportsAllDrives": {
              "type": "boolean",
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false"
            },
            "includeItemsFromAllDrives": {
              "description": "Whether both My Drive and shared drive items should be included in results.",
              "type": "boolean",
              "default": "false",
              "location": "query"
            },
            "includePermissionsForView": {
              "type": "string",
              "location": "query",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported."
            },
            "corpus": {
              "description": "Deprecated: The body of items (files/documents) to which the query applies. Use `corpora` instead.",
              "enumDescriptions": [
                "The items that the user has accessed.",
                "Items shared to the user's domain."
              ],
              "location": "query",
              "deprecated": true,
              "type": "string",
              "enum": [
                "DEFAULT",
                "DOMAIN"
              ]
            },
            "maxResults": {
              "minimum": "0",
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "The maximum number of files to return per page. Partial or empty result pages are possible even before the end of the files list has been reached.",
              "default": "100"
            },
            "corpora": {
              "location": "query",
              "type": "string",
              "description": "Bodies of items (files/documents) to which the query applies. Supported bodies are `default`, `domain`, `drive` and `allDrives`. Prefer `default` or `drive` to `allDrives` for efficiency."
            }
          },
          "response": {
            "$ref": "FileList"
          },
          "path": "files",
          "httpMethod": "GET",
          "flatPath": "files",
          "id": "drive.files.list"
        },
        "generateCseToken": {
          "flatPath": "files/generateCseToken",
          "parameterOrder": [],
          "parameters": {
            "fileId": {
              "type": "string",
              "location": "query",
              "description": "The ID of the file for which the JWT should be generated. If not provided, an id will be generated."
            },
            "parent": {
              "type": "string",
              "location": "query",
              "description": "The ID of the expected parent of the file. Used when generating a JWT for a new CSE file. If specified, the parent will be fetched, and if the parent is a shared drive item, the shared drive's policy will be used to determine the KACLS that should be used. It is invalid to specify both file_id and parent in a single request."
            }
          },
          "id": "drive.files.generateCseToken",
          "response": {
            "$ref": "GenerateCseTokenResponse"
          },
          "path": "files/generateCseToken",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "description": "Generates a CSE token which can be used to create or update CSE files."
        },
        "get": {
          "httpMethod": "GET",
          "flatPath": "files/{fileId}",
          "useMediaDownloadService": true,
          "parameterOrder": [
            "fileId"
          ],
          "response": {
            "$ref": "File"
          },
          "parameters": {
            "acknowledgeAbuse": {
              "description": "Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when the `alt` parameter is set to `media` and the user is the owner of the file or an organizer of the shared drive in which the file resides.",
              "location": "query",
              "default": "false",
              "type": "boolean"
            },
            "updateViewedDate": {
              "location": "query",
              "deprecated": true,
              "description": "Deprecated: Use `files.update` with `modifiedDateBehavior=noChange, updateViewedDate=true` and an empty request body.",
              "default": "false",
              "type": "boolean"
            },
            "revisionId": {
              "location": "query",
              "type": "string",
              "description": "Specifies the Revision ID that should be downloaded. Ignored unless alt=media is specified."
            },
            "includeLabels": {
              "type": "string",
              "location": "query",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response."
            },
            "fileId": {
              "description": "The ID for the file in question.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "supportsTeamDrives": {
              "type": "boolean",
              "location": "query",
              "deprecated": true,
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "supportsAllDrives": {
              "default": "false",
              "type": "boolean",
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query",
              "type": "string"
            },
            "projection": {
              "enumDescriptions": [
                "Deprecated.",
                "Deprecated."
              ],
              "description": "Deprecated: This parameter has no function.",
              "location": "query",
              "type": "string",
              "enum": [
                "BASIC",
                "FULL"
              ],
              "deprecated": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "supportsSubscription": true,
          "path": "files/{fileId}",
          "id": "drive.files.get",
          "description": " Gets a file's metadata or content by ID. If you provide the URL parameter `alt=media`, then the response includes the file contents in the response body. Downloading content with `alt=media` only works if the file is stored in Drive. To download Google Docs, Sheets, and Slides use [`files.export`](https://developers.google.com/workspace/drive/api/reference/rest/v2/files/export) instead. For more information, see [Download & export files](https://developers.google.com/workspace/drive/api/guides/manage-downloads).",
          "supportsMediaDownload": true
        },
        "copy": {
          "description": "Creates a copy of the specified file.",
          "response": {
            "$ref": "File"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.photos.readonly"
          ],
          "flatPath": "files/{fileId}/copy",
          "parameters": {
            "fileId": {
              "description": "The ID of the file to copy.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "pinned": {
              "default": "false",
              "description": "Whether to pin the head revision of the new copy. A file can have a maximum of 200 pinned revisions.",
              "location": "query",
              "type": "boolean"
            },
            "includeLabels": {
              "type": "string",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query"
            },
            "ocr": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "Whether to attempt OCR on .jpg, .png, .gif, or .pdf uploads."
            },
            "enforceSingleParent": {
              "type": "boolean",
              "default": "false",
              "location": "query",
              "description": "Deprecated: Copying files into multiple folders is no longer supported. Use shortcuts instead.",
              "deprecated": true
            },
            "convert": {
              "location": "query",
              "description": "Whether to convert this file to the corresponding Docs Editors format.",
              "default": "false",
              "type": "boolean"
            },
            "timedTextLanguage": {
              "type": "string",
              "description": "The language of the timed text.",
              "location": "query"
            },
            "includePermissionsForView": {
              "type": "string",
              "location": "query",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported."
            },
            "timedTextTrackName": {
              "type": "string",
              "location": "query",
              "description": "The timed text track name."
            },
            "ocrLanguage": {
              "location": "query",
              "type": "string",
              "description": "If `ocr` is true, hints at the language to use. Valid values are BCP 47 codes."
            },
            "supportsAllDrives": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            },
            "supportsTeamDrives": {
              "default": "false",
              "location": "query",
              "type": "boolean",
              "deprecated": true,
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "visibility": {
              "description": "The visibility of the new file. Permissions are still inherited from parent folders. This parameter is only relevant when the source is not a Google Doc file and when `convert=false`.",
              "enumDescriptions": [
                "The visibility of the new file is determined by the user's default visibility or sharing policies.",
                "The user's default visibility or sharing policies are ignored, and the new file is only visible to the owner and any users with permissions inherited from the parent folder."
              ],
              "default": "DEFAULT",
              "location": "query",
              "type": "string",
              "enum": [
                "DEFAULT",
                "PRIVATE"
              ]
            }
          },
          "path": "files/{fileId}/copy",
          "id": "drive.files.copy",
          "httpMethod": "POST",
          "parameterOrder": [
            "fileId"
          ],
          "request": {
            "$ref": "File"
          }
        },
        "listLabels": {
          "parameters": {
            "maxResults": {
              "default": "100",
              "maximum": "100",
              "minimum": "1",
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "The maximum number of labels to return per page. When not set, defaults to 100."
            },
            "pageToken": {
              "location": "query",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response.",
              "type": "string"
            },
            "fileId": {
              "description": "The ID for the file.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "fileId"
          ],
          "id": "drive.files.listLabels",
          "description": "Lists the labels on a file.",
          "path": "files/{fileId}/listLabels",
          "flatPath": "files/{fileId}/listLabels",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "response": {
            "$ref": "LabelList"
          }
        },
        "export": {
          "flatPath": "files/{fileId}/export",
          "supportsMediaDownload": true,
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "id": "drive.files.export",
          "parameterOrder": [
            "fileId",
            "mimeType"
          ],
          "httpMethod": "GET",
          "useMediaDownloadService": true,
          "description": "Exports a Google Workspace document to the requested MIME type and returns exported byte content. Note that the exported content is limited to 10MB.",
          "path": "files/{fileId}/export",
          "parameters": {
            "fileId": {
              "location": "path",
              "required": true,
              "description": "The ID of the file.",
              "type": "string"
            },
            "mimeType": {
              "location": "query",
              "description": "Required. The MIME type of the format requested for this export.",
              "type": "string",
              "required": true
            }
          }
        },
        "untrash": {
          "parameters": {
            "supportsAllDrives": {
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "default": "false"
            },
            "fileId": {
              "required": true,
              "location": "path",
              "description": "The ID of the file to untrash.",
              "type": "string"
            },
            "supportsTeamDrives": {
              "type": "boolean",
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "deprecated": true,
              "location": "query"
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query",
              "type": "string"
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "httpMethod": "POST",
          "path": "files/{fileId}/untrash",
          "response": {
            "$ref": "File"
          },
          "description": "Restores a file from the trash. The currently authenticated user must own the file or be at least a `fileOrganizer` on the parent for shared drive files.",
          "parameterOrder": [
            "fileId"
          ],
          "flatPath": "files/{fileId}/untrash",
          "id": "drive.files.untrash"
        },
        "delete": {
          "description": "Permanently deletes a file owned by the user without moving it to the trash. If the file belongs to a shared drive, the user must be an `organizer` on the parent folder. If the target is a folder, all descendants owned by the user are also deleted.",
          "parameters": {
            "fileId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the file to delete."
            },
            "enforceSingleParent": {
              "description": "Deprecated: If an item is not in a shared drive and its last parent is deleted but the item itself is not, the item is placed under its owner's root.",
              "default": "false",
              "type": "boolean",
              "location": "query",
              "deprecated": true
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "default": "false",
              "deprecated": true,
              "location": "query",
              "type": "boolean"
            },
            "supportsAllDrives": {
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "default": "false"
            }
          },
          "path": "files/{fileId}",
          "flatPath": "files/{fileId}",
          "id": "drive.files.delete",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "httpMethod": "DELETE",
          "parameterOrder": [
            "fileId"
          ]
        },
        "generateIds": {
          "parameters": {
            "space": {
              "location": "query",
              "type": "string",
              "default": "drive",
              "description": "The space in which the IDs can be used to create new files. Supported values are `drive` and `appDataFolder`. (Default: `drive`)"
            },
            "maxResults": {
              "description": "Maximum number of IDs to return.",
              "minimum": "1",
              "location": "query",
              "type": "integer",
              "default": "10",
              "maximum": "1000",
              "format": "int32"
            },
            "type": {
              "type": "string",
              "default": "files",
              "description": "The type of items which the IDs can be used for. Supported values are `files` and `shortcuts`. Note that `shortcuts` are only supported in the `drive` `space`. (Default: `files`)",
              "location": "query"
            }
          },
          "id": "drive.files.generateIds",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "httpMethod": "GET",
          "parameterOrder": [],
          "response": {
            "$ref": "GeneratedIds"
          },
          "description": "Generates a set of file IDs which can be provided in insert or copy requests.",
          "path": "files/generateIds",
          "flatPath": "files/generateIds"
        },
        "update": {
          "request": {
            "$ref": "File"
          },
          "description": " Updates a file's metadata, content, or both. When calling this method, only populate fields in the request that you want to modify. When updating fields, some fields might be changed automatically, such as `modifiedDate`. This method supports patch semantics. This method supports an */upload* URI and accepts uploaded media with the following characteristics: - *Maximum file size:* 5,120 GB - *Accepted Media MIME types:* `*/*` (Specify a valid MIME type, rather than the literal `*/*` value. The literal `*/*` is only used to indicate that any valid MIME type can be uploaded. For more information, see [Google Workspace and Google Drive supported MIME types](https://developers.google.com/workspace/drive/api/guides/mime-types).) For more information on uploading files, see [Upload file data](https://developers.google.com/workspace/drive/api/guides/manage-uploads).",
          "parameterOrder": [
            "fileId"
          ],
          "supportsMediaUpload": true,
          "response": {
            "$ref": "File"
          },
          "path": "files/{fileId}",
          "httpMethod": "PUT",
          "id": "drive.files.update",
          "mediaUpload": {
            "maxSize": "5497558138880",
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/drive/v2/files/{fileId}"
              },
              "simple": {
                "multipart": true,
                "path": "/upload/drive/v2/files/{fileId}"
              }
            },
            "accept": [
              "*/*"
            ]
          },
          "parameters": {
            "includeLabels": {
              "type": "string",
              "location": "query",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response."
            },
            "newRevision": {
              "type": "boolean",
              "default": "true",
              "location": "query",
              "description": "Whether a blob upload should create a new revision. If false, the blob data in the current head revision is replaced. If true or not set, a new blob is created as head revision, and previous unpinned revisions are preserved for a short period of time. Pinned revisions are stored indefinitely, using additional storage quota, up to a maximum of 200 revisions. For details on how revisions are retained, see the [Drive Help Center](https://support.google.com/drive/answer/2409045)."
            },
            "convert": {
              "type": "boolean",
              "default": "false",
              "description": "Deprecated: This parameter has no function.",
              "location": "query",
              "deprecated": true
            },
            "modifiedDateBehavior": {
              "type": "string",
              "enum": [
                "fromBody",
                "fromBodyIfNeeded",
                "fromBodyOrNow",
                "noChange",
                "now",
                "nowIfNeeded"
              ],
              "location": "query",
              "description": "Determines the behavior in which `modifiedDate` is updated. This overrides `setModifiedDate`.",
              "enumDescriptions": [
                "Set `modifiedDate` to the value provided in the body of the request. No change if no value was provided.",
                "Set `modifiedDate` to the value provided in the body of the request depending on other contents of the update.",
                "Set modifiedDate to the value provided in the body of the request, or to the current time if no value was provided.",
                "Maintain the previous value of `modifiedDate`.",
                "Set `modifiedDate` to the current time.",
                "Set `modifiedDate` to the current time depending on contents of the update."
              ]
            },
            "enforceSingleParent": {
              "deprecated": true,
              "type": "boolean",
              "default": "false",
              "location": "query",
              "description": "Deprecated: Adding files to multiple folders is no longer supported. Use `shortcuts` instead."
            },
            "timedTextTrackName": {
              "description": "The timed text track name.",
              "type": "string",
              "location": "query"
            },
            "fileId": {
              "description": "The ID of the file to update.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "addParents": {
              "location": "query",
              "description": "Comma-separated list of parent IDs to add.",
              "type": "string"
            },
            "pinned": {
              "location": "query",
              "description": "Whether to pin the new revision. A file can have a maximum of 200 pinned revisions.",
              "default": "false",
              "type": "boolean"
            },
            "ocr": {
              "default": "false",
              "type": "boolean",
              "description": "Whether to attempt OCR on .jpg, .png, .gif, or .pdf uploads.",
              "location": "query"
            },
            "includePermissionsForView": {
              "location": "query",
              "type": "string",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported."
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            },
            "supportsTeamDrives": {
              "deprecated": true,
              "location": "query",
              "default": "false",
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "timedTextLanguage": {
              "description": "The language of the timed text.",
              "location": "query",
              "type": "string"
            },
            "updateViewedDate": {
              "description": "Whether to update the view date after successfully updating the file.",
              "default": "true",
              "location": "query",
              "type": "boolean"
            },
            "removeParents": {
              "location": "query",
              "description": "Comma-separated list of parent IDs to remove.",
              "type": "string"
            },
            "useContentAsIndexableText": {
              "description": "Whether to use the content as indexable text.",
              "default": "false",
              "type": "boolean",
              "location": "query"
            },
            "setModifiedDate": {
              "default": "false",
              "location": "query",
              "description": "Whether to set the modified date using the value supplied in the request body. Setting this field to `true` is equivalent to `modifiedDateBehavior=fromBodyOrNow`, and `false` is equivalent to `modifiedDateBehavior=now`. To prevent any changes to the modified date set `modifiedDateBehavior=noChange`.",
              "type": "boolean"
            },
            "ocrLanguage": {
              "description": "If ocr is true, hints at the language to use. Valid values are BCP 47 codes.",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "files/{fileId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.scripts"
          ]
        },
        "touch": {
          "parameterOrder": [
            "fileId"
          ],
          "id": "drive.files.touch",
          "httpMethod": "POST",
          "flatPath": "files/{fileId}/touch",
          "parameters": {
            "supportsTeamDrives": {
              "default": "false",
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "deprecated": true
            },
            "includeLabels": {
              "location": "query",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string"
            },
            "includePermissionsForView": {
              "type": "string",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query"
            },
            "fileId": {
              "type": "string",
              "description": "The ID of the file to update.",
              "required": true,
              "location": "path"
            },
            "supportsAllDrives": {
              "location": "query",
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false"
            }
          },
          "response": {
            "$ref": "File"
          },
          "description": "Set the file's updated time to the current server time.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "path": "files/{fileId}/touch"
        },
        "insert": {
          "mediaUpload": {
            "maxSize": "5497558138880",
            "accept": [
              "*/*"
            ],
            "protocols": {
              "resumable": {
                "path": "/resumable/upload/drive/v2/files",
                "multipart": true
              },
              "simple": {
                "multipart": true,
                "path": "/upload/drive/v2/files"
              }
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "id": "drive.files.insert",
          "supportsMediaUpload": true,
          "request": {
            "$ref": "File"
          },
          "parameterOrder": [],
          "response": {
            "$ref": "File"
          },
          "httpMethod": "POST",
          "path": "files",
          "description": " Inserts a new file. This method supports an */upload* URI and accepts uploaded media with the following characteristics: - *Maximum file size:* 5,120 GB - *Accepted Media MIME types:*`*/*` Note: Specify a valid MIME type, rather than the literal `*/*` value. The literal `*/*` is only used to indicate that any valid MIME type can be uploaded. For more information on uploading files, see [Upload file data](https://developers.google.com/workspace/drive/api/guides/manage-uploads). Apps creating shortcuts with `files.insert` must specify the MIME type `application/vnd.google-apps.shortcut`. Apps should specify a file extension in the `title` property when inserting files with the API. For example, an operation to insert a JPEG file should specify something like `\"title\": \"cat.jpg\"` in the metadata. Subsequent `GET` requests include the read-only `fileExtension` property populated with the extension originally specified in the `title` property. When a Google Drive user requests to download a file, or when the file is downloaded through the sync client, Drive builds a full filename (with extension) based on the title. In cases where the extension is missing, Drive attempts to determine the extension based on the file's MIME type.",
          "flatPath": "files",
          "parameters": {
            "ocr": {
              "type": "boolean",
              "location": "query",
              "default": "false",
              "description": "Whether to attempt OCR on .jpg, .png, .gif, or .pdf uploads."
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query",
              "type": "string"
            },
            "pinned": {
              "location": "query",
              "description": "Whether to pin the head revision of the uploaded file. A file can have a maximum of 200 pinned revisions.",
              "type": "boolean",
              "default": "false"
            },
            "supportsAllDrives": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            },
            "timedTextLanguage": {
              "description": "The language of the timed text.",
              "location": "query",
              "type": "string"
            },
            "useContentAsIndexableText": {
              "location": "query",
              "default": "false",
              "description": "Whether to use the content as indexable text.",
              "type": "boolean"
            },
            "timedTextTrackName": {
              "description": "The timed text track name.",
              "type": "string",
              "location": "query"
            },
            "supportsTeamDrives": {
              "default": "false",
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "deprecated": true,
              "location": "query"
            },
            "ocrLanguage": {
              "description": "If ocr is true, hints at the language to use. Valid values are BCP 47 codes.",
              "location": "query",
              "type": "string"
            },
            "enforceSingleParent": {
              "deprecated": true,
              "default": "false",
              "type": "boolean",
              "description": "Deprecated: Creating files in multiple folders is no longer supported.",
              "location": "query"
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string",
              "location": "query"
            },
            "convert": {
              "description": "Whether to convert this file to the corresponding Docs Editors format.",
              "default": "false",
              "location": "query",
              "type": "boolean"
            },
            "visibility": {
              "location": "query",
              "type": "string",
              "enum": [
                "DEFAULT",
                "PRIVATE"
              ],
              "default": "DEFAULT",
              "description": "The visibility of the new file. Permissions are still inherited from parent folders. This parameter is only relevant when `convert=false`.",
              "enumDescriptions": [
                "The visibility of the new file is determined by the user's default visibility or sharing policies.",
                "The user's default visibility or sharing policies are ignored, and the new file is only visible to the owner and any users with permissions inherited from the parent folder."
              ]
            }
          }
        },
        "modifyLabels": {
          "description": "Modifies the set of labels applied to a file. Returns a list of the labels that were added or modified.",
          "httpMethod": "POST",
          "parameters": {
            "fileId": {
              "description": "The ID of the file to which the labels belong.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "request": {
            "$ref": "ModifyLabelsRequest"
          },
          "flatPath": "files/{fileId}/modifyLabels",
          "id": "drive.files.modifyLabels",
          "parameterOrder": [
            "fileId"
          ],
          "path": "files/{fileId}/modifyLabels",
          "response": {
            "$ref": "ModifyLabelsResponse"
          }
        }
      }
    },
    "teamdrives": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "path": "teamdrives/{teamDriveId}",
          "parameterOrder": [
            "teamDriveId"
          ],
          "description": "Deprecated: Use `drives.get` instead.",
          "httpMethod": "GET",
          "response": {
            "$ref": "TeamDrive"
          },
          "id": "drive.teamdrives.get",
          "parameters": {
            "useDomainAdminAccess": {
              "default": "false",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the Team Drive belongs.",
              "location": "query",
              "type": "boolean"
            },
            "teamDriveId": {
              "type": "string",
              "required": true,
              "description": "The ID of the Team Drive",
              "location": "path"
            }
          },
          "flatPath": "teamdrives/{teamDriveId}"
        },
        "update": {
          "parameterOrder": [
            "teamDriveId"
          ],
          "request": {
            "$ref": "TeamDrive"
          },
          "description": "Deprecated: Use `drives.update` instead.",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "parameters": {
            "teamDriveId": {
              "description": "The ID of the Team Drive",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "useDomainAdminAccess": {
              "location": "query",
              "type": "boolean",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the Team Drive belongs.",
              "default": "false"
            }
          },
          "response": {
            "$ref": "TeamDrive"
          },
          "id": "drive.teamdrives.update",
          "flatPath": "teamdrives/{teamDriveId}",
          "httpMethod": "PUT",
          "path": "teamdrives/{teamDriveId}"
        },
        "delete": {
          "id": "drive.teamdrives.delete",
          "description": "Deprecated: Use `drives.delete` instead.",
          "parameterOrder": [
            "teamDriveId"
          ],
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "flatPath": "teamdrives/{teamDriveId}",
          "parameters": {
            "teamDriveId": {
              "required": true,
              "description": "The ID of the Team Drive",
              "type": "string",
              "location": "path"
            }
          },
          "path": "teamdrives/{teamDriveId}"
        },
        "list": {
          "flatPath": "teamdrives",
          "id": "drive.teamdrives.list",
          "httpMethod": "GET",
          "parameterOrder": [],
          "response": {
            "$ref": "TeamDriveList"
          },
          "parameters": {
            "maxResults": {
              "format": "int32",
              "location": "query",
              "default": "10",
              "maximum": "100",
              "type": "integer",
              "description": "Maximum number of Team Drives to return.",
              "minimum": "1"
            },
            "useDomainAdminAccess": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "Issue the request as a domain administrator; if set to true, then all Team Drives of the domain in which the requester is an administrator are returned."
            },
            "q": {
              "description": "Query string for searching Team Drives.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "description": "Page token for Team Drives.",
              "type": "string"
            }
          },
          "path": "teamdrives",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "description": "Deprecated: Use `drives.list` instead."
        },
        "insert": {
          "httpMethod": "POST",
          "id": "drive.teamdrives.insert",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "parameters": {
            "requestId": {
              "description": "Required. An ID, such as a random UUID, which uniquely identifies this user's request for idempotent creation of a Team Drive. A repeated request by the same user and with the same request ID will avoid creating duplicates by attempting to create the same Team Drive. If the Team Drive already exists a 409 error will be returned.",
              "location": "query",
              "type": "string",
              "required": true
            }
          },
          "request": {
            "$ref": "TeamDrive"
          },
          "flatPath": "teamdrives",
          "description": "Deprecated: Use `drives.insert` instead.",
          "response": {
            "$ref": "TeamDrive"
          },
          "parameterOrder": [
            "requestId"
          ],
          "path": "teamdrives"
        }
      }
    },
    "comments": {
      "methods": {
        "list": {
          "parameterOrder": [
            "fileId"
          ],
          "httpMethod": "GET",
          "description": "Lists a file's comments.",
          "parameters": {
            "fileId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the file.",
              "required": true
            },
            "includeDeleted": {
              "location": "query",
              "description": "If set, all comments and replies, including deleted comments and replies (with content stripped) will be returned.",
              "default": "false",
              "type": "boolean"
            },
            "pageToken": {
              "location": "query",
              "description": "The continuation token, used to page through large result sets. To get the next page of results, set this parameter to the value of \"nextPageToken\" from the previous response.",
              "type": "string"
            },
            "maxResults": {
              "format": "int32",
              "type": "integer",
              "default": "20",
              "maximum": "100",
              "location": "query",
              "minimum": "0",
              "description": "The maximum number of discussions to include in the response, used for paging."
            },
            "updatedMin": {
              "description": "Only discussions that were updated after this timestamp will be returned. Formatted as an RFC 3339 timestamp.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "files/{fileId}/comments",
          "response": {
            "$ref": "CommentList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "files/{fileId}/comments",
          "id": "drive.comments.list"
        },
        "insert": {
          "description": "Creates a new comment on the given file.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "path": "files/{fileId}/comments",
          "httpMethod": "POST",
          "parameterOrder": [
            "fileId"
          ],
          "parameters": {
            "fileId": {
              "location": "path",
              "description": "The ID of the file.",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "Comment"
          },
          "request": {
            "$ref": "Comment"
          },
          "flatPath": "files/{fileId}/comments",
          "id": "drive.comments.insert"
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameters": {
            "fileId": {
              "required": true,
              "type": "string",
              "description": "The ID of the file.",
              "location": "path"
            },
            "commentId": {
              "location": "path",
              "description": "The ID of the comment.",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "files/{fileId}/comments/{commentId}",
          "description": "Deletes a comment.",
          "path": "files/{fileId}/comments/{commentId}",
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "id": "drive.comments.delete",
          "httpMethod": "DELETE"
        },
        "patch": {
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameters": {
            "fileId": {
              "required": true,
              "location": "path",
              "description": "The ID of the file.",
              "type": "string"
            },
            "commentId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the comment.",
              "required": true
            }
          },
          "description": "Updates an existing comment.",
          "id": "drive.comments.patch",
          "request": {
            "$ref": "Comment"
          },
          "response": {
            "$ref": "Comment"
          },
          "flatPath": "files/{fileId}/comments/{commentId}",
          "path": "files/{fileId}/comments/{commentId}"
        },
        "update": {
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "parameters": {
            "commentId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the comment."
            },
            "fileId": {
              "description": "The ID of the file.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "request": {
            "$ref": "Comment"
          },
          "httpMethod": "PUT",
          "flatPath": "files/{fileId}/comments/{commentId}",
          "description": "Updates an existing comment.",
          "path": "files/{fileId}/comments/{commentId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "response": {
            "$ref": "Comment"
          },
          "id": "drive.comments.update"
        },
        "get": {
          "parameters": {
            "fileId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The ID of the file."
            },
            "includeDeleted": {
              "location": "query",
              "description": "If set, this will succeed when retrieving a deleted comment, and will include any deleted replies.",
              "default": "false",
              "type": "boolean"
            },
            "commentId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the comment."
            }
          },
          "id": "drive.comments.get",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "files/{fileId}/comments/{commentId}",
          "description": "Gets a comment by ID.",
          "response": {
            "$ref": "Comment"
          },
          "path": "files/{fileId}/comments/{commentId}",
          "parameterOrder": [
            "fileId",
            "commentId"
          ]
        }
      }
    },
    "permissions": {
      "methods": {
        "getIdForEmail": {
          "parameterOrder": [
            "email"
          ],
          "id": "drive.permissions.getIdForEmail",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "description": "Returns the permission ID for an email address.",
          "parameters": {
            "email": {
              "description": "The email address for which to return a permission ID",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "path": "permissionIds/{email}",
          "flatPath": "permissionIds/{email}",
          "response": {
            "$ref": "PermissionId"
          }
        },
        "delete": {
          "flatPath": "files/{fileId}/permissions/{permissionId}",
          "description": "Deletes a permission from a file or shared drive. **Warning:** Concurrent permission modifications (such as update or delete) on the same file, folder, or shared drive aren't supported across any users or clients; only the last update is applied.",
          "httpMethod": "DELETE",
          "path": "files/{fileId}/permissions/{permissionId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "id": "drive.permissions.delete",
          "parameterOrder": [
            "fileId",
            "permissionId"
          ],
          "parameters": {
            "useDomainAdminAccess": {
              "location": "query",
              "type": "boolean",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs.",
              "default": "false"
            },
            "enforceExpansiveAccess": {
              "type": "boolean",
              "deprecated": true,
              "location": "query",
              "default": "false",
              "description": "Deprecated: All requests use the expansive access rules."
            },
            "permissionId": {
              "required": true,
              "description": "The ID for the permission.",
              "location": "path",
              "type": "string"
            },
            "supportsAllDrives": {
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false",
              "location": "query"
            },
            "fileId": {
              "type": "string",
              "description": "The ID for the file or shared drive.",
              "location": "path",
              "required": true
            },
            "supportsTeamDrives": {
              "location": "query",
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "deprecated": true,
              "default": "false"
            }
          }
        },
        "list": {
          "description": "Lists a file's or shared drive's permissions.",
          "id": "drive.permissions.list",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "response": {
            "$ref": "PermissionList"
          },
          "parameterOrder": [
            "fileId"
          ],
          "path": "files/{fileId}/permissions",
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response.",
              "location": "query"
            },
            "includePermissionsForView": {
              "type": "string",
              "location": "query",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported."
            },
            "useDomainAdminAccess": {
              "default": "false",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs.",
              "type": "boolean",
              "location": "query"
            },
            "fileId": {
              "required": true,
              "description": "The ID for the file or shared drive.",
              "type": "string",
              "location": "path"
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false",
              "location": "query",
              "type": "boolean"
            },
            "maxResults": {
              "location": "query",
              "format": "int32",
              "minimum": "1",
              "type": "integer",
              "description": "The maximum number of permissions to return per page. When not set for files in a shared drive, at most 100 results will be returned. When not set for files that are not in a shared drive, the entire list will be returned.",
              "maximum": "100"
            },
            "supportsTeamDrives": {
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "default": "false",
              "deprecated": true
            }
          },
          "flatPath": "files/{fileId}/permissions",
          "httpMethod": "GET"
        },
        "update": {
          "request": {
            "$ref": "Permission"
          },
          "parameters": {
            "fileId": {
              "description": "The ID for the file or shared drive.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "removeExpiration": {
              "location": "query",
              "default": "false",
              "type": "boolean",
              "description": "Whether to remove the expiration date."
            },
            "supportsTeamDrives": {
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "default": "false",
              "location": "query",
              "deprecated": true
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "default": "false",
              "location": "query"
            },
            "enforceExpansiveAccess": {
              "description": "Deprecated: All requests use the expansive access rules.",
              "type": "boolean",
              "default": "false",
              "location": "query",
              "deprecated": true
            },
            "permissionId": {
              "required": true,
              "description": "The ID for the permission.",
              "type": "string",
              "location": "path"
            },
            "transferOwnership": {
              "default": "false",
              "description": "Whether changing a role to `owner` downgrades the current owners to writers. Does nothing if the specified role is not `owner`.",
              "type": "boolean",
              "location": "query"
            },
            "useDomainAdminAccess": {
              "location": "query",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs.",
              "default": "false",
              "type": "boolean"
            }
          },
          "parameterOrder": [
            "fileId",
            "permissionId"
          ],
          "path": "files/{fileId}/permissions/{permissionId}",
          "description": "Updates a permission. **Warning:** Concurrent permission modifications (such as update or delete) on the same file, folder, or shared drive aren't supported across any users or clients; only the last update is applied.",
          "flatPath": "files/{fileId}/permissions/{permissionId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "httpMethod": "PUT",
          "response": {
            "$ref": "Permission"
          },
          "id": "drive.permissions.update"
        },
        "patch": {
          "path": "files/{fileId}/permissions/{permissionId}",
          "parameterOrder": [
            "fileId",
            "permissionId"
          ],
          "description": "Updates a permission using patch semantics. **Warning:** Concurrent permission modifications (such as update or delete) on the same file, folder, or shared drive aren't supported across any users or clients; only the last update is applied.",
          "parameters": {
            "removeExpiration": {
              "type": "boolean",
              "default": "false",
              "location": "query",
              "description": "Whether to remove the expiration date."
            },
            "enforceExpansiveAccess": {
              "location": "query",
              "description": "Deprecated: All requests use the expansive access rules.",
              "default": "false",
              "deprecated": true,
              "type": "boolean"
            },
            "transferOwnership": {
              "default": "false",
              "description": "Whether changing a role to `owner` downgrades the current owners to writers. Does nothing if the specified role is not `owner`.",
              "type": "boolean",
              "location": "query"
            },
            "permissionId": {
              "location": "path",
              "type": "string",
              "description": "The ID for the permission.",
              "required": true
            },
            "useDomainAdminAccess": {
              "location": "query",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs.",
              "type": "boolean",
              "default": "false"
            },
            "supportsTeamDrives": {
              "deprecated": true,
              "location": "query",
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean"
            },
            "fileId": {
              "type": "string",
              "required": true,
              "description": "The ID for the file or shared drive.",
              "location": "path"
            },
            "supportsAllDrives": {
              "default": "false",
              "location": "query",
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            }
          },
          "response": {
            "$ref": "Permission"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "request": {
            "$ref": "Permission"
          },
          "flatPath": "files/{fileId}/permissions/{permissionId}",
          "httpMethod": "PATCH",
          "id": "drive.permissions.patch"
        },
        "insert": {
          "flatPath": "files/{fileId}/permissions",
          "request": {
            "$ref": "Permission"
          },
          "response": {
            "$ref": "Permission"
          },
          "path": "files/{fileId}/permissions",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "description": "Inserts a permission for a file or shared drive. **Warning:** Concurrent permission modifications (such as update or delete) on the same file, folder, or shared drive aren't supported across any users or clients; only the last update is applied.",
          "id": "drive.permissions.insert",
          "httpMethod": "POST",
          "parameters": {
            "supportsTeamDrives": {
              "deprecated": true,
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "sendNotificationEmails": {
              "location": "query",
              "description": "Whether to send notification emails when sharing to users or groups. This parameter is ignored and an email is sent if the `role` is `owner`.",
              "default": "true",
              "type": "boolean"
            },
            "useDomainAdminAccess": {
              "default": "false",
              "location": "query",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs.",
              "type": "boolean"
            },
            "fileId": {
              "description": "The ID for the file or shared drive.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "emailMessage": {
              "description": "A plain text custom message to include in notification emails.",
              "type": "string",
              "location": "query"
            },
            "moveToNewOwnersRoot": {
              "description": "This parameter will only take effect if the item is not in a shared drive and the request is attempting to transfer the ownership of the item. If set to `true`, the item will be moved to the new owner's My Drive root folder and all prior parents removed. If set to `false`, parents are not changed.",
              "default": "false",
              "location": "query",
              "type": "boolean"
            },
            "enforceExpansiveAccess": {
              "default": "false",
              "location": "query",
              "deprecated": true,
              "description": "Deprecated: All requests use the expansive access rules.",
              "type": "boolean"
            },
            "enforceSingleParent": {
              "location": "query",
              "deprecated": true,
              "description": "Deprecated: See `moveToNewOwnersRoot` for details.",
              "default": "false",
              "type": "boolean"
            },
            "supportsAllDrives": {
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "location": "query"
            }
          },
          "parameterOrder": [
            "fileId"
          ]
        },
        "get": {
          "path": "files/{fileId}/permissions/{permissionId}",
          "parameters": {
            "permissionId": {
              "required": true,
              "description": "The ID for the permission.",
              "type": "string",
              "location": "path"
            },
            "supportsTeamDrives": {
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean",
              "location": "query",
              "deprecated": true
            },
            "useDomainAdminAccess": {
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs.",
              "type": "boolean",
              "default": "false",
              "location": "query"
            },
            "fileId": {
              "required": true,
              "description": "The ID for the file or shared drive.",
              "location": "path",
              "type": "string"
            },
            "supportsAllDrives": {
              "default": "false",
              "location": "query",
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            }
          },
          "flatPath": "files/{fileId}/permissions/{permissionId}",
          "parameterOrder": [
            "fileId",
            "permissionId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "Permission"
          },
          "description": "Gets a permission by ID.",
          "id": "drive.permissions.get"
        }
      }
    },
    "about": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "description": "Gets the information about the current user along with Drive API settings",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameters": {
            "maxChangeIdCount": {
              "description": "Maximum number of remaining change IDs to count",
              "location": "query",
              "format": "int64",
              "default": "1",
              "type": "string"
            },
            "includeSubscribed": {
              "description": "Whether to count changes outside the My Drive hierarchy. When set to false, changes to files such as those in the Application Data folder or shared files which have not been added to My Drive will be omitted from the `maxChangeIdCount`.",
              "default": "true",
              "type": "boolean",
              "location": "query"
            },
            "startChangeId": {
              "format": "int64",
              "location": "query",
              "type": "string",
              "description": "Change ID to start counting from when calculating number of remaining change IDs"
            }
          },
          "response": {
            "$ref": "About"
          },
          "path": "about",
          "flatPath": "about",
          "id": "drive.about.get",
          "parameterOrder": []
        }
      }
    },
    "properties": {
      "methods": {
        "list": {
          "parameterOrder": [
            "fileId"
          ],
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "path": "files/{fileId}/properties",
          "id": "drive.properties.list",
          "httpMethod": "GET",
          "description": "Lists a file's properties.",
          "flatPath": "files/{fileId}/properties",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "response": {
            "$ref": "PropertyList"
          }
        },
        "get": {
          "flatPath": "files/{fileId}/properties/{propertyKey}",
          "id": "drive.properties.get",
          "path": "files/{fileId}/properties/{propertyKey}",
          "response": {
            "$ref": "Property"
          },
          "description": "Gets a property by its key.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "fileId",
            "propertyKey"
          ],
          "parameters": {
            "visibility": {
              "default": "private",
              "description": "The visibility of the property.",
              "type": "string",
              "location": "query"
            },
            "propertyKey": {
              "location": "path",
              "type": "string",
              "description": "The key of the property.",
              "required": true
            },
            "fileId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the file.",
              "required": true
            }
          }
        },
        "insert": {
          "id": "drive.properties.insert",
          "parameterOrder": [
            "fileId"
          ],
          "parameters": {
            "fileId": {
              "type": "string",
              "required": true,
              "description": "The ID of the file.",
              "location": "path"
            }
          },
          "description": "Adds a property to a file, or updates it if it already exists.",
          "flatPath": "files/{fileId}/properties",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "Property"
          },
          "request": {
            "$ref": "Property"
          },
          "path": "files/{fileId}/properties"
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "flatPath": "files/{fileId}/properties/{propertyKey}",
          "description": "Updates a property.",
          "parameterOrder": [
            "fileId",
            "propertyKey"
          ],
          "response": {
            "$ref": "Property"
          },
          "path": "files/{fileId}/properties/{propertyKey}",
          "id": "drive.properties.update",
          "parameters": {
            "propertyKey": {
              "location": "path",
              "description": "The key of the property.",
              "required": true,
              "type": "string"
            },
            "fileId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the file.",
              "required": true
            },
            "visibility": {
              "description": "The visibility of the property. Allowed values are PRIVATE and PUBLIC. (Default: PRIVATE)",
              "default": "private",
              "type": "string",
              "location": "query"
            }
          },
          "httpMethod": "PUT",
          "request": {
            "$ref": "Property"
          }
        },
        "delete": {
          "description": "Deletes a property.",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "flatPath": "files/{fileId}/properties/{propertyKey}",
          "path": "files/{fileId}/properties/{propertyKey}",
          "parameterOrder": [
            "fileId",
            "propertyKey"
          ],
          "parameters": {
            "visibility": {
              "description": "The visibility of the property.",
              "location": "query",
              "type": "string",
              "default": "private"
            },
            "propertyKey": {
              "type": "string",
              "required": true,
              "description": "The key of the property.",
              "location": "path"
            },
            "fileId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the file.",
              "required": true
            }
          },
          "id": "drive.properties.delete"
        },
        "patch": {
          "flatPath": "files/{fileId}/properties/{propertyKey}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
[...]
