{
  "ownerName": "Google",
  "baseUrl": "https://driveactivity.googleapis.com/",
  "mtlsRootUrl": "https://driveactivity.mtls.googleapis.com/",
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    }
  },
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "name": "driveactivity",
  "canonicalName": "Drive Activity",
  "schemas": {
    "FileComment": {
      "type": "object",
      "id": "FileComment",
      "properties": {
        "parent": {
          "description": "The Drive item containing this comment.",
          "$ref": "DriveItem"
        },
        "legacyCommentId": {
          "type": "string",
          "description": "The comment in the discussion thread. This identifier is an opaque string compatible with the Drive API; see https://developers.google.com/workspace/drive/v3/reference/comments/get"
        },
        "legacyDiscussionId": {
          "description": "The discussion thread to which the comment was added. This identifier is an opaque string compatible with the Drive API and references the first comment in a discussion; see https://developers.google.com/workspace/drive/v3/reference/comments/get",
          "type": "string"
        },
        "linkToDiscussion": {
          "type": "string",
          "description": "The link to the discussion thread containing this comment, for example, `https://docs.google.com/DOCUMENT_ID/edit?disco=THREAD_ID`."
        }
      },
      "description": "A comment on a file."
    },
    "File": {
      "type": "object",
      "deprecated": true,
      "description": "This item is deprecated; please see `DriveFile` instead.",
      "properties": {},
      "id": "File"
    },
    "DriveItemReference": {
      "description": "A lightweight reference to a Drive item, such as a file or folder.",
      "type": "object",
      "id": "DriveItemReference",
      "properties": {
        "driveFile": {
          "$ref": "DriveFile",
          "description": "The Drive item is a file."
        },
        "title": {
          "description": "The title of the Drive item.",
          "type": "string"
        },
        "driveFolder": {
          "description": "The Drive item is a folder. Includes information about the type of folder.",
          "$ref": "DriveFolder"
        },
        "folder": {
          "description": "This field is deprecated; please use the `driveFolder` field instead.",
          "deprecated": true,
          "$ref": "Folder"
        },
        "name": {
          "description": "The target Drive item. The format is `items/ITEM_ID`.",
          "type": "string"
        },
        "file": {
          "$ref": "File",
          "deprecated": true,
          "description": "This field is deprecated; please use the `driveFile` field instead."
        }
      }
    },
    "TeamDriveReference": {
      "properties": {
        "title": {
          "description": "This field is deprecated; please see `DriveReference.title` instead.",
          "type": "string"
        },
        "name": {
          "description": "This field is deprecated; please see `DriveReference.name` instead.",
          "type": "string"
        }
      },
      "deprecated": true,
      "id": "TeamDriveReference",
      "type": "object",
      "description": "This item is deprecated; please see `DriveReference` instead."
    },
    "ActionDetail": {
      "description": "Data describing the type and additional information of an action.",
      "properties": {
        "edit": {
          "description": "An object was edited.",
          "$ref": "Edit"
        },
        "rename": {
          "description": "An object was renamed.",
          "$ref": "Rename"
        },
        "settingsChange": {
          "$ref": "SettingsChange",
          "description": "Settings were changed."
        },
        "comment": {
          "description": "A change about comments was made.",
          "$ref": "Comment"
        },
        "restore": {
          "description": "A deleted object was restored.",
          "$ref": "Restore"
        },
        "permissionChange": {
          "description": "The permission on an object was changed.",
          "$ref": "PermissionChange"
        },
        "create": {
          "description": "An object was created.",
          "$ref": "Create"
        },
        "delete": {
          "description": "An object was deleted.",
          "$ref": "Delete"
        },
        "reference": {
          "description": "An object was referenced in an application outside of Drive/Docs.",
          "$ref": "ApplicationReference"
        },
        "dlpChange": {
          "description": "A change happened in data leak prevention status.",
          "$ref": "DataLeakPreventionChange"
        },
        "move": {
          "description": "An object was moved.",
          "$ref": "Move"
        },
        "appliedLabelChange": {
          "$ref": "AppliedLabelChange",
          "description": "Label was changed."
        }
      },
      "id": "ActionDetail",
      "type": "object"
    },
    "Action": {
      "type": "object",
      "id": "Action",
      "description": "Information about the action.",
      "properties": {
        "actor": {
          "description": "The actor responsible for this action (or empty if all actors are responsible).",
          "$ref": "Actor"
        },
        "detail": {
          "description": "The type and detailed information about the action.",
          "$ref": "ActionDetail"
        },
        "target": {
          "description": "The target this action affects (or empty if affecting all targets). This represents the state of the target immediately after this action occurred.",
          "$ref": "Target"
        },
        "timeRange": {
          "description": "The action occurred over this time range.",
          "$ref": "TimeRange"
        },
        "timestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "The action occurred at this specific time."
        }
      }
    },
    "Target": {
      "properties": {
        "driveItem": {
          "$ref": "DriveItem",
          "description": "The target is a Drive item."
        },
        "drive": {
          "description": "The target is a shared drive.",
          "$ref": "Drive"
        },
        "fileComment": {
          "description": "The target is a comment on a Drive file.",
          "$ref": "FileComment"
        },
        "teamDrive": {
          "description": "This field is deprecated; please use the `drive` field instead.",
          "deprecated": true,
          "$ref": "TeamDrive"
        }
      },
      "id": "Target",
      "description": "Information about the target of activity. For more information on how activity history is shared with users, see [Activity history visibility](https://developers.google.com/workspace/drive/activity/v2#activityhistory).",
      "type": "object"
    },
    "Drive": {
      "id": "Drive",
      "description": "Information about a shared drive.",
      "properties": {
        "name": {
          "description": "The resource name of the shared drive. The format is `COLLECTION_ID/DRIVE_ID`. Clients should not assume a specific collection ID for this resource name.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The title of the shared drive."
        },
        "root": {
          "description": "The root of this shared drive.",
          "$ref": "DriveItem"
        }
      },
      "type": "object"
    },
    "Comment": {
      "properties": {
        "assignment": {
          "$ref": "Assignment",
          "description": "A change on an assignment."
        },
        "post": {
          "description": "A change on a regular posted comment.",
          "$ref": "Post"
        },
        "mentionedUsers": {
          "type": "array",
          "items": {
            "$ref": "User"
          },
          "description": "Users who are mentioned in this comment."
        },
        "suggestion": {
          "description": "A change on a suggestion.",
          "$ref": "Suggestion"
        }
      },
      "type": "object",
      "description": "A change about comments on an object.",
      "id": "Comment"
    },
    "Domain": {
      "id": "Domain",
      "properties": {
        "name": {
          "description": "The name of the domain, e.g. `google.com`.",
          "type": "string"
        },
        "legacyId": {
          "description": "An opaque string used to identify this domain.",
          "type": "string"
        }
      },
      "description": "Information about a domain.",
      "type": "object"
    },
    "TextList": {
      "description": "Wrapper for Text List Field value.",
      "type": "object",
      "id": "TextList",
      "properties": {
        "values": {
          "items": {
            "$ref": "Text"
          },
          "type": "array",
          "description": "Text values."
        }
      }
    },
    "ApplicationReference": {
      "id": "ApplicationReference",
      "description": "Activity in applications other than Drive.",
      "properties": {
        "type": {
          "enumDescriptions": [
            "The type is not available.",
            "The links of one or more Drive items were posted.",
            "Comments were made regarding a Drive item."
          ],
          "description": "The reference type corresponding to this event.",
          "enum": [
            "UNSPECIFIED_REFERENCE_TYPE",
            "LINK",
            "DISCUSS"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "PermissionChange": {
      "properties": {
        "removedPermissions": {
          "type": "array",
          "description": "The set of permissions removed by this change.",
          "items": {
            "$ref": "Permission"
          }
        },
        "addedPermissions": {
          "type": "array",
          "items": {
            "$ref": "Permission"
          },
          "description": "The set of permissions added by this change."
        }
      },
      "id": "PermissionChange",
      "description": "A change of the permission setting on an item.",
      "type": "object"
    },
    "UserList": {
      "id": "UserList",
      "properties": {
        "values": {
          "description": "User values.",
          "items": {
            "$ref": "SingleUser"
          },
          "type": "array"
        }
      },
      "description": "Wrapper for UserList Field value.",
      "type": "object"
    },
    "Edit": {
      "description": "An empty message indicating an object was edited.",
      "id": "Edit",
      "type": "object",
      "properties": {}
    },
    "AppliedLabelChangeDetail": {
      "description": "A change made to a Label on the Target.",
      "id": "AppliedLabelChangeDetail",
      "type": "object",
      "properties": {
        "title": {
          "type": "string",
          "description": "The human-readable title of the label that changed."
        },
        "types": {
          "description": "The types of changes made to the Label on the Target.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "The type of change to this Label is not available.",
              "The identified Label was added to the Target.",
              "The identified Label was removed from the Target.",
              "Field values were changed on the Target.",
              "The Label was applied as a side-effect of Drive item creation."
            ],
            "enum": [
              "TYPE_UNSPECIFIED",
              "LABEL_ADDED",
              "LABEL_REMOVED",
              "LABEL_FIELD_VALUE_CHANGED",
              "LABEL_APPLIED_BY_ITEM_CREATE"
            ]
          },
          "type": "array"
        },
        "label": {
          "type": "string",
          "description": "The Label name representing the Label that changed. This name always contains the revision of the Label that was used when this Action occurred. The format is `labels/id@revision`."
        },
        "fieldChanges": {
          "description": "Field Changes. Only present if `types` contains `LABEL_FIELD_VALUE_CHANGED`.",
          "type": "array",
          "items": {
            "$ref": "FieldValueChange"
          }
        }
      }
    },
    "SelectionList": {
      "id": "SelectionList",
      "type": "object",
      "description": "Wrapper for SelectionList Field value.",
      "properties": {
        "values": {
          "items": {
            "$ref": "Selection"
          },
          "description": "Selection values.",
          "type": "array"
        }
      }
    },
    "Move": {
      "description": "An object was moved.",
      "properties": {
        "removedParents": {
          "description": "The removed parent object(s).",
          "items": {
            "$ref": "TargetReference"
          },
          "type": "array"
        },
        "addedParents": {
          "type": "array",
          "items": {
            "$ref": "TargetReference"
          },
          "description": "The added parent object(s)."
        }
      },
      "type": "object",
      "id": "Move"
    },
    "DriveItem": {
      "properties": {
        "folder": {
          "deprecated": true,
          "description": "This field is deprecated; please use the `driveFolder` field instead.",
          "$ref": "Folder"
        },
        "driveFile": {
          "description": "The Drive item is a file.",
          "$ref": "DriveFile"
        },
        "owner": {
          "$ref": "Owner",
          "description": "Information about the owner of this Drive item."
        },
        "mimeType": {
          "description": "The MIME type of the Drive item. See https://developers.google.com/workspace/drive/v3/web/mime-types.",
          "type": "string"
        },
        "title": {
          "description": "The title of the Drive item.",
          "type": "string"
        },
        "name": {
          "description": "The target Drive item. The format is `items/ITEM_ID`.",
          "type": "string"
        },
        "driveFolder": {
          "description": "The Drive item is a folder. Includes information about the type of folder.",
          "$ref": "DriveFolder"
        },
        "file": {
          "$ref": "File",
          "deprecated": true,
          "description": "This field is deprecated; please use the `driveFile` field instead."
        }
      },
      "description": "A Drive item, such as a file or folder.",
      "id": "DriveItem",
      "type": "object"
    },
    "SystemEvent": {
      "description": "Event triggered by system operations instead of end users.",
      "properties": {
        "type": {
          "description": "The type of the system event that may triggered activity.",
          "enumDescriptions": [
            "The event type is unspecified.",
            "The event is a consequence of a user account being deleted.",
            "The event is due to the system automatically purging trash."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "USER_DELETION",
            "TRASH_AUTO_PURGE"
          ]
        }
      },
      "id": "SystemEvent",
      "type": "object"
    },
    "User": {
      "id": "User",
      "properties": {
        "deletedUser": {
          "description": "A user whose account has since been deleted.",
          "$ref": "DeletedUser"
        },
        "unknownUser": {
          "description": "A user about whom nothing is currently known.",
          "$ref": "UnknownUser"
        },
        "knownUser": {
          "$ref": "KnownUser",
          "description": "A known user."
        }
      },
      "description": "Information about an end user.",
      "type": "object"
    },
    "New": {
      "description": "An object was created from scratch.",
      "type": "object",
      "id": "New",
      "properties": {}
    },
    "Legacy": {
      "type": "object",
      "id": "Legacy",
      "description": "A strategy that consolidates activities using the grouping rules from the legacy V1 Activity API. Similar actions occurring within a window of time can be grouped across multiple targets (such as moving a set of files at once) or multiple actors (such as several users editing the same item). Grouping rules for this strategy are specific to each type of action.",
      "properties": {}
    },
    "DriveActivity": {
      "description": "A single Drive activity comprising one or more Actions by one or more Actors on one or more Targets. Some Action groupings occur spontaneously, such as moving an item into a shared folder triggering a permission change. Other groupings of related Actions, such as multiple Actors editing one item or moving multiple files into a new folder, are controlled by the selection of a ConsolidationStrategy in the QueryDriveActivityRequest.",
      "type": "object",
      "properties": {
        "actions": {
          "items": {
            "$ref": "Action"
          },
          "type": "array",
          "description": "Details on all actions in this activity."
        },
        "timeRange": {
          "$ref": "TimeRange",
          "description": "The activity occurred over this time range."
        },
        "timestamp": {
          "format": "google-datetime",
          "description": "The activity occurred at this specific time.",
          "type": "string"
        },
        "targets": {
          "type": "array",
          "description": "All Google Drive objects this activity is about (e.g. file, folder, drive). This represents the state of the target immediately after the actions occurred.",
          "items": {
            "$ref": "Target"
          }
        },
        "primaryActionDetail": {
          "$ref": "ActionDetail",
          "description": "Key information about the primary action for this activity. This is either representative, or the most important, of all actions in the activity, according to the ConsolidationStrategy in the request."
        },
        "actors": {
          "items": {
            "$ref": "Actor"
          },
          "type": "array",
          "description": "All actor(s) responsible for the activity."
        }
      },
      "id": "DriveActivity"
    },
    "SettingsChange": {
      "type": "object",
      "id": "SettingsChange",
      "properties": {
        "restrictionChanges": {
          "description": "The set of changes made to restrictions.",
          "items": {
            "$ref": "RestrictionChange"
          },
          "type": "array"
        }
      },
      "description": "Information about settings changes."
    },
    "Suggestion": {
      "description": "A suggestion.",
      "id": "Suggestion",
      "properties": {
        "subtype": {
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "ACCEPTED",
            "REJECTED",
            "ACCEPT_DELETED",
            "REJECT_DELETED"
          ],
          "type": "string",
          "description": "The sub-type of this event.",
          "enumDescriptions": [
            "Subtype not available.",
            "A suggestion was added.",
            "A suggestion was deleted.",
            "A suggestion reply was added.",
            "A suggestion reply was deleted.",
            "A suggestion was accepted.",
            "A suggestion was rejected.",
            "An accepted suggestion was deleted.",
            "A rejected suggestion was deleted."
          ]
        }
      },
      "type": "object"
    },
    "Group": {
      "description": "Information about a group.",
      "properties": {
        "email": {
          "type": "string",
          "description": "The email address of the group."
        },
        "title": {
          "description": "The title of the group.",
          "type": "string"
        }
      },
      "id": "Group",
      "type": "object"
    },
    "Post": {
      "description": "A regular posted comment.",
      "properties": {
        "subtype": {
          "type": "string",
          "enumDescriptions": [
            "Subtype not available.",
            "A post was added.",
            "A post was deleted.",
            "A reply was added.",
            "A reply was deleted.",
            "A posted comment was resolved.",
            "A posted comment was reopened."
          ],
          "description": "The sub-type of this event.",
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "RESOLVED",
            "REOPENED"
          ]
        }
      },
      "id": "Post",
      "type": "object"
    },
    "Actor": {
      "type": "object",
      "properties": {
        "administrator": {
          "description": "An administrator.",
          "$ref": "Administrator"
        },
        "system": {
          "$ref": "SystemEvent",
          "description": "A non-user actor (i.e. system triggered)."
        },
        "user": {
          "description": "An end user.",
          "$ref": "User"
        },
        "impersonation": {
          "description": "An account acting on behalf of another.",
          "$ref": "Impersonation"
        },
        "anonymous": {
          "$ref": "AnonymousUser",
          "description": "An anonymous user."
        }
      },
      "description": "The actor of a Drive activity.",
      "id": "Actor"
    },
    "QueryDriveActivityRequest": {
      "id": "QueryDriveActivityRequest",
      "type": "object",
      "properties": {
        "filter": {
          "description": "The filtering for items returned from this query request. The format of the filter string is a sequence of expressions, joined by an optional \"AND\", where each expression is of the form \"field operator value\". Supported fields: - `time`: Uses numerical operators on date values either in terms of milliseconds since Jan 1, 1970 or in RFC 3339 format. Examples: - `time > 1452409200000 AND time <= 1492812924310` - `time >= \"2016-01-10T01:02:03-05:00\"` - `detail.action_detail_case`: Uses the \"has\" operator (:) and either a singular value or a list of allowed action types enclosed in parentheses, separated by a space. To exclude a result from the response, prepend a hyphen (`-`) to the beginning of the filter string. Examples: - `detail.action_detail_case:RENAME` - `detail.action_detail_case:(CREATE RESTORE)` - `-detail.action_detail_case:MOVE` ",
          "type": "string"
        },
        "itemName": {
          "type": "string",
          "description": "Return activities for this Drive item. The format is `items/ITEM_ID`."
        },
        "pageToken": {
          "type": "string",
          "description": "The token identifies which page of results to return. Set this to the next_page_token value returned from a previous query to obtain the following page of results. If not set, the first page of results is returned."
        },
        "ancestorName": {
          "type": "string",
          "description": "Return activities for this Drive folder, plus all children and descendants. The format is `items/ITEM_ID`."
        },
        "pageSize": {
          "format": "int32",
          "type": "integer",
          "description": "The minimum number of activities desired in the response; the server attempts to return at least this quantity. The server may also return fewer activities if it has a partial response ready before the request times out. If not set, a default value is used."
        },
        "consolidationStrategy": {
          "description": "Details on how to consolidate related actions that make up the activity. If not set, then related actions aren't consolidated.",
          "$ref": "ConsolidationStrategy"
        }
      },
      "description": "The request message for querying Drive activity."
    },
    "Selection": {
      "description": "Wrapper for Selection Field value as combined value/display_name pair for selected choice.",
      "id": "Selection",
      "properties": {
        "value": {
          "type": "string",
          "description": "Selection value as Field Choice ID."
        },
        "displayName": {
          "description": "Selection value as human-readable display string.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DataLeakPreventionChange": {
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of Data Leak Prevention (DLP) change.",
          "enumDescriptions": [
            "An update to the DLP state that is neither FLAGGED or CLEARED.",
            "Document has been flagged as containing sensitive content.",
            "Document is no longer flagged as containing sensitive content."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "FLAGGED",
            "CLEARED"
          ]
        }
      },
      "type": "object",
      "id": "DataLeakPreventionChange",
      "description": "A change in the object's data leak prevention status."
    },
    "TargetReference": {
      "type": "object",
      "properties": {
        "teamDrive": {
          "description": "This field is deprecated; please use the `drive` field instead.",
          "deprecated": true,
          "$ref": "TeamDriveReference"
        },
        "driveItem": {
          "description": "The target is a Drive item.",
          "$ref": "DriveItemReference"
        },
        "drive": {
          "$ref": "DriveReference",
          "description": "The target is a shared drive."
        }
      },
      "description": "A lightweight reference to the target of activity.",
      "id": "TargetReference"
    },
    "TimeRange": {
      "id": "TimeRange",
      "description": "Information about time ranges.",
      "properties": {
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The end of the time range."
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The start of the time range."
        }
      },
      "type": "object"
    },
    "AnonymousUser": {
      "description": "Empty message representing an anonymous user or indicating the authenticated user should be anonymized.",
      "properties": {},
      "id": "AnonymousUser",
      "type": "object"
    },
    "NoConsolidation": {
      "properties": {},
      "id": "NoConsolidation",
      "description": "A strategy that does no consolidation of individual activities.",
      "type": "object"
    },
    "SingleUser": {
      "properties": {
        "value": {
          "description": "User value as email.",
          "type": "string"
        }
      },
      "description": "Wrapper for User Field value.",
      "type": "object",
      "id": "SingleUser"
    },
    "Permission": {
      "id": "Permission",
      "properties": {
        "domain": {
          "description": "The domain to whom this permission applies.",
          "$ref": "Domain"
        },
        "user": {
          "$ref": "User",
          "description": "The user to whom this permission applies."
        },
        "role": {
          "description": "Indicates the [Google Drive permissions role](https://developers.google.com/workspace/drive/web/manage-sharing#roles). The role determines a user's ability to read, write, and comment on items.",
          "type": "string",
          "enumDescriptions": [
            "The role is not available.",
            "A role granting full access.",
            "A role granting the ability to manage people and settings.",
            "A role granting the ability to contribute and manage content.",
            "A role granting the ability to contribute content. This role is sometimes also known as \"writer\".",
            "A role granting the ability to view and comment on content.",
            "A role granting the ability to view content. This role is sometimes also known as \"reader\".",
            "A role granting the ability to view content only after it has been published to the web. This role is sometimes also known as \"published reader\". See https://support.google.com/sites/answer/6372880 for more information."
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "OWNER",
            "ORGANIZER",
            "FILE_ORGANIZER",
            "EDITOR",
            "COMMENTER",
            "VIEWER",
            "PUBLISHED_VIEWER"
          ]
        },
        "anyone": {
          "description": "If set, this permission applies to anyone, even logged out users.",
          "$ref": "Anyone"
        },
        "allowDiscovery": {
          "type": "boolean",
          "description": "If true, the item can be discovered (e.g. in the user's \"Shared with me\" collection) without needing a link to the item."
        },
        "group": {
          "description": "The group to whom this permission applies.",
          "$ref": "Group"
        }
      },
      "description": "The permission setting of an object.",
      "type": "object"
    },
    "Impersonation": {
      "properties": {
        "impersonatedUser": {
          "description": "The impersonated user.",
          "$ref": "User"
        }
      },
      "type": "object",
      "description": "Information about an impersonation, where an admin acts on behalf of an end user. Information about the acting admin is not currently available.",
      "id": "Impersonation"
    },
    "Assignment": {
      "id": "Assignment",
      "description": "A comment with an assignment.",
      "type": "object",
      "properties": {
        "subtype": {
          "description": "The sub-type of this event.",
          "type": "string",
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "RESOLVED",
            "REOPENED",
            "REASSIGNED"
          ],
          "enumDescriptions": [
            "Subtype not available.",
            "An assignment was added.",
            "An assignment was deleted.",
            "An assignment reply was added.",
            "An assignment reply was deleted.",
            "An assignment was resolved.",
            "A resolved assignment was reopened.",
            "An assignment was reassigned."
          ]
        },
        "assignedUser": {
          "description": "The user to whom the comment was assigned.",
          "$ref": "User"
        }
      }
    },
    "DriveFolder": {
      "type": "object",
      "description": "A Drive item which is a folder.",
      "id": "DriveFolder",
      "properties": {
        "type": {
          "enumDescriptions": [
            "The folder type is unknown.",
            "The folder is the root of a user's MyDrive.",
            "The folder is the root of a shared drive.",
            "The folder is a standard, non-root, folder."
          ],
          "type": "string",
          "description": "The type of Drive folder.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "MY_DRIVE_ROOT",
            "SHARED_DRIVE_ROOT",
            "STANDARD_FOLDER"
          ]
        }
      }
    },
    "Text": {
      "id": "Text",
      "description": "Wrapper for Text Field value.",
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "Value of Text Field."
        }
      }
    },
    "Folder": {
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "MY_DRIVE_ROOT",
            "TEAM_DRIVE_ROOT",
            "STANDARD_FOLDER"
          ],
          "description": "This field is deprecated; please see `DriveFolder.type` instead.",
          "type": "string"
        }
      },
      "deprecated": true,
      "description": "This item is deprecated; please see `DriveFolder` instead.",
      "id": "Folder"
    },
    "Rename": {
      "description": "An object was renamed.",
      "type": "object",
      "properties": {
        "oldTitle": {
          "description": "The previous title of the drive object.",
          "type": "string"
        },
        "newTitle": {
          "description": "The new title of the drive object.",
          "type": "string"
        }
      },
      "id": "Rename"
    },
    "KnownUser": {
      "type": "object",
      "properties": {
        "personName": {
          "type": "string",
          "description": "The identifier for this user that can be used with the People API to get more information. The format is `people/ACCOUNT_ID`. See https://developers.google.com/people/."
        },
        "isCurrentUser": {
          "type": "boolean",
          "description": "True if this is the user making the request."
        }
      },
      "description": "A known user.",
      "id": "KnownUser"
    },
    "Copy": {
      "type": "object",
      "description": "An object was created by copying an existing object.",
      "id": "Copy",
      "properties": {
        "originalObject": {
          "$ref": "TargetReference",
          "description": "The original object."
        }
      }
    },
    "FieldValueChange": {
      "description": "Change to a Field value.",
      "properties": {
        "fieldId": {
          "description": "The ID of this field. Field IDs are unique within a Label.",
          "type": "string"
        },
        "displayName": {
          "description": "The human-readable display name for this field.",
          "type": "string"
        },
        "newValue": {
          "description": "The value that is now set on the field. If not present, the field was cleared. At least one of {old_value|new_value} is always set.",
          "$ref": "FieldValue"
        },
        "oldValue": {
          "$ref": "FieldValue",
          "description": "The value that was previously set on the field. If not present, the field was newly set. At least one of {old_value|new_value} is always set."
        }
      },
      "id": "FieldValueChange",
      "type": "object"
    },
    "UnknownUser": {
      "properties": {},
      "description": "A user about whom nothing is currently known.",
      "id": "UnknownUser",
      "type": "object"
    },
    "ConsolidationStrategy": {
      "type": "object",
      "description": "How the individual activities are consolidated. If a set of activities is related they can be consolidated into one combined activity, such as one actor performing the same action on multiple targets, or multiple actors performing the same action on a single target. The strategy defines the rules for which activities are related.",
      "id": "ConsolidationStrategy",
      "properties": {
        "legacy": {
          "$ref": "Legacy",
          "description": "The individual activities are consolidated using the legacy strategy."
        },
        "none": {
          "description": "The individual activities are not consolidated.",
          "$ref": "NoConsolidation"
        }
      }
    },
    "FieldValue": {
      "type": "object",
      "properties": {
        "user": {
          "$ref": "SingleUser",
          "description": "User Field value."
        },
        "selection": {
          "description": "Selection Field value.",
          "$ref": "Selection"
        },
        "selectionList": {
          "description": "Selection List Field value.",
          "$ref": "SelectionList"
        },
        "textList": {
          "description": "Text List Field value.",
          "$ref": "TextList"
        },
        "userList": {
          "$ref": "UserList",
          "description": "User List Field value."
        },
        "text": {
          "description": "Text Field value.",
          "$ref": "Text"
        },
        "date": {
          "description": "Date Field value.",
          "$ref": "Date"
        },
        "integer": {
          "$ref": "Integer",
          "description": "Integer Field value."
        }
      },
      "description": "Contains a value of a Field.",
      "id": "FieldValue"
    },
    "Upload": {
      "properties": {},
      "id": "Upload",
      "description": "An object was uploaded into Drive.",
      "type": "object"
    },
    "Integer": {
      "id": "Integer",
      "type": "object",
      "description": "Wrapper for Integer Field value.",
      "properties": {
        "value": {
          "type": "string",
          "description": "Integer value.",
          "format": "int64"
        }
      }
    },
    "AppliedLabelChange": {
      "description": "Label changes that were made on the Target.",
      "id": "AppliedLabelChange",
      "type": "object",
      "properties": {
        "changes": {
          "description": "Changes that were made to the Label on the Target.",
          "type": "array",
          "items": {
            "$ref": "AppliedLabelChangeDetail"
          }
        }
      }
    },
    "DriveFile": {
      "description": "A Drive item which is a file.",
      "id": "DriveFile",
      "type": "object",
      "properties": {}
    },
    "Anyone": {
      "description": "Represents any user (including a logged out user).",
      "id": "Anyone",
      "properties": {},
      "type": "object"
    },
    "Restore": {
      "properties": {
        "type": {
          "description": "The type of restore action taken.",
          "type": "string",
          "enumDescriptions": [
            "The type is not available.",
            "An object was restored from the trash."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "UNTRASH"
          ]
        }
      },
      "type": "object",
      "description": "A deleted object was restored.",
      "id": "Restore"
    },
    "QueryDriveActivityResponse": {
      "description": "Response message for querying Drive activity.",
      "id": "QueryDriveActivityResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "activities": {
          "description": "List of activity requested.",
          "items": {
            "$ref": "DriveActivity"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "DeletedUser": {
      "properties": {},
      "id": "DeletedUser",
      "type": "object",
      "description": "A user whose account has since been deleted."
    },
    "Administrator": {
      "id": "Administrator",
      "description": "Empty message representing an administrator.",
      "properties": {},
      "type": "object"
    },
    "Date": {
      "id": "Date",
      "properties": {
        "value": {
          "description": "Date value.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "Wrapper for Date Field value.",
      "type": "object"
    },
    "Owner": {
      "description": "Information about the owner of a Drive item.",
      "id": "Owner",
      "properties": {
        "drive": {
          "$ref": "DriveReference",
          "description": "The drive that owns the item."
        },
        "domain": {
          "description": "The domain of the Drive item owner.",
          "$ref": "Domain"
        },
        "teamDrive": {
          "description": "This field is deprecated; please use the `drive` field instead.",
          "$ref": "TeamDriveReference",
          "deprecated": true
        },
        "user": {
          "description": "The user that owns the Drive item.",
          "$ref": "User"
        }
      },
      "type": "object"
    },
    "Delete": {
      "type": "object",
      "description": "An object was deleted.",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Deletion type is not available.",
            "An object was put into the trash.",
            "An object was deleted permanently."
          ],
          "type": "string",
          "description": "The type of delete action taken.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TRASH",
            "PERMANENT_DELETE"
          ]
        }
      },
      "id": "Delete"
    },
    "TeamDrive": {
      "properties": {
        "root": {
          "description": "This field is deprecated; please see `Drive.root` instead.",
          "$ref": "DriveItem"
        },
        "title": {
          "type": "string",
          "description": "This field is deprecated; please see `Drive.title` instead."
        },
        "name": {
          "type": "string",
          "description": "This field is deprecated; please see `Drive.name` instead."
        }
      },
      "type": "object",
      "deprecated": true,
      "id": "TeamDrive",
      "description": "This item is deprecated; please see `Drive` instead."
    },
    "Create": {
      "description": "An object was created.",
      "type": "object",
      "id": "Create",
      "properties": {
        "new": {
          "$ref": "New",
          "description": "If present, indicates the object was newly created (e.g. as a blank document), not derived from a Drive object or external object."
        },
        "upload": {
          "$ref": "Upload",
          "description": "If present, indicates the object originated externally and was uploaded to Drive."
        },
        "copy": {
          "$ref": "Copy",
          "description": "If present, indicates the object was created by copying an existing Drive object."
        }
      }
    },
    "RestrictionChange": {
      "id": "RestrictionChange",
      "description": "Information about restriction policy changes to a feature.",
      "properties": {
        "feature": {
          "description": "The feature which had a change in restriction policy.",
          "enumDescriptions": [
            "The feature which changed restriction settings was not available.",
            "When restricted, this prevents items from being shared outside the domain.",
            "When restricted, this prevents direct sharing of individual items.",
            "Deprecated: Use READERS_CAN_DOWNLOAD instead.",
            "When restricted, this prevents use of Drive File Stream.",
            "When restricted, this limits sharing of folders to managers only.",
            "When restricted, this prevents actions like copy, download, and print for readers. Replaces ITEM_DUPLICATION.",
            "When restricted, this prevents actions like copy, download, and print for writers."
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "FEATURE_UNSPECIFIED",
            "SHARING_OUTSIDE_DOMAIN",
            "DIRECT_SHARING",
            "ITEM_DUPLICATION",
            "DRIVE_FILE_STREAM",
            "FILE_ORGANIZER_CAN_SHARE_FOLDERS",
            "READERS_CAN_DOWNLOAD",
            "WRITERS_CAN_DOWNLOAD"
          ],
          "type": "string"
        },
        "newRestriction": {
          "enum": [
            "RESTRICTION_UNSPECIFIED",
            "UNRESTRICTED",
            "FULLY_RESTRICTED"
          ],
          "enumDescriptions": [
            "The type of restriction is not available.",
            "The feature is available without restriction.",
            "The use of this feature is fully restricted."
          ],
          "description": "The restriction in place after the change.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DriveReference": {
      "type": "object",
      "description": "A lightweight reference to a shared drive.",
      "id": "DriveReference",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of the shared drive. The format is `COLLECTION_ID/DRIVE_ID`. Clients should not assume a specific collection ID for this resource name."
        },
        "title": {
          "description": "The title of the shared drive.",
          "type": "string"
        }
      }
    }
  },
  "rootUrl": "https://driveactivity.googleapis.com/",
  "version": "v2",
  "documentationLink": "https://developers.google.com/workspace/drive/activity/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.activity.readonly": {
          "description": "View the activity record of files in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.activity": {
          "description": "View and add to the activity record of files in your Google Drive"
        }
      }
    }
  },
  "servicePath": "",
  "batchPath": "batch",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "description": "Provides a historical view of activity in Google Drive.",
  "kind": "discovery#restDescription",
  "resources": {
    "activity": {
      "methods": {
        "query": {
          "flatPath": "v2/activity:query",
          "response": {
            "$ref": "QueryDriveActivityResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive.activity",
            "https://www.googleapis.com/auth/drive.activity.readonly"
          ],
          "id": "driveactivity.activity.query",
          "parameters": {},
          "httpMethod": "POST",
          "parameterOrder": [],
          "request": {
            "$ref": "QueryDriveActivityRequest"
          },
          "description": "Query past activity in Google Drive.",
          "path": "v2/activity:query"
        }
      }
    }
  },
  "basePath": "",
  "title": "Drive Activity API",
  "version_module": true,
  "id": "driveactivity:v2",
  "protocol": "rest",
  "revision": "20261004",
  "ownerDomain": "google.com"
}