{
  "revision": "20261001",
  "ownerDomain": "google.com",
  "rootUrl": "https://www.googleapis.com/",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "baseUrl": "https://www.googleapis.com/drive/v2/",
  "schemas": {
    "ChangeList": {
      "id": "ChangeList",
      "type": "object",
      "description": "A list of changes for a user.",
      "properties": {
        "largestChangeId": {
          "type": "string",
          "description": "The current largest change ID.",
          "format": "int64"
        },
        "nextPageToken": {
          "description": "The page token for the next page of changes. This will be absent if the end of the changes list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        },
        "selfLink": {
          "description": "A link back to this list.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "The ETag of the list."
        },
        "nextLink": {
          "description": "A link to the next page of changes.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `drive#changeList`.",
          "default": "drive#changeList",
          "type": "string"
        },
        "items": {
          "description": "The list of changes. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "type": "array",
          "items": {
            "$ref": "Change"
          }
        },
        "newStartPageToken": {
          "description": "The starting page token for future changes. This will be present only if the end of the current changes list has been reached.",
          "type": "string"
        }
      }
    },
    "DecryptionMetadata": {
      "properties": {
        "encryptionResourceKeyHash": {
          "description": "The URL-safe Base64 encoded HMAC-SHA256 digest of the resource metadata with its DEK (Data Encryption Key); see https://developers.google.com/workspace/cse/reference",
          "type": "string"
        },
        "kaclsName": {
          "description": "The name of the KACLS (Key ACL Service) used to encrypt the file.",
          "type": "string"
        },
        "wrappedKey": {
          "description": "The URL-safe Base64 encoded wrapped key used to encrypt the contents of the file.",
          "type": "string"
        },
        "kaclsId": {
          "format": "int64",
          "description": "The ID of the KACLS (Key ACL Service) used to encrypt the file.",
          "type": "string"
        },
        "keyFormat": {
          "type": "string",
          "description": "Key format for the unwrapped key. Must be `tinkAesGcmKey`."
        },
        "jwt": {
          "description": "The signed JSON Web Token (JWT) which can be used to authorize the requesting user with the Key ACL Service (KACLS). The JWT asserts that the requesting user has at least read permissions on the file.",
          "type": "string"
        },
        "aes256GcmChunkSize": {
          "type": "string",
          "description": "Chunk size used if content was encrypted with the AES 256 GCM Cipher. Possible values are: - default - small "
        }
      },
      "description": "Representation of the CSE DecryptionMetadata.",
      "id": "DecryptionMetadata",
      "type": "object"
    },
    "Channel": {
      "description": "A notification channel used to watch for resource changes.",
      "id": "Channel",
      "type": "object",
      "properties": {
        "address": {
          "description": "The address where notifications are delivered for this channel.",
          "type": "string"
        },
        "expiration": {
          "type": "string",
          "format": "int64",
          "description": "Date and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds. Optional."
        },
        "resourceUri": {
          "description": "A version-specific identifier for the watched resource.",
          "type": "string"
        },
        "payload": {
          "description": "A Boolean value to indicate whether payload is wanted. Optional.",
          "type": "boolean"
        },
        "resourceId": {
          "description": "An opaque ID that identifies the resource being watched on this channel. Stable across different API versions.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies this as a notification channel used to watch for changes to a resource, which is `api#channel`.",
          "default": "api#channel"
        },
        "token": {
          "type": "string",
          "description": "An arbitrary string delivered to the target address with each notification delivered over this channel. Optional."
        },
        "params": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Additional parameters controlling delivery channel behavior. Optional.",
          "type": "object"
        },
        "id": {
          "type": "string",
          "description": "A UUID or similar unique string that identifies this channel."
        },
        "type": {
          "description": "The type of delivery mechanism used for this channel. Valid values are \"web_hook\" or \"webhook\".",
          "type": "string"
        }
      }
    },
    "RevisionList": {
      "id": "RevisionList",
      "properties": {
        "nextPageToken": {
          "description": "The page token for the next page of revisions. This field will be absent if the end of the revisions list has been reached. If the token is rejected for any reason, it should be discarded and pagination should be restarted from the first page of results.",
          "type": "string"
        },
        "kind": {
          "default": "drive#revisionList",
          "type": "string",
          "description": "This is always `drive#revisionList`."
        },
        "items": {
          "description": "The list of revisions. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "items": {
            "$ref": "Revision"
          },
          "type": "array"
        },
        "etag": {
          "type": "string",
          "description": "The ETag of the list."
        },
        "selfLink": {
          "description": "A link back to this list.",
          "type": "string"
        }
      },
      "description": "A list of revisions of a file.",
      "type": "object"
    },
    "ParentList": {
      "properties": {
        "kind": {
          "default": "drive#parentList",
          "type": "string",
          "description": "This is always `drive#parentList`."
        },
        "etag": {
          "description": "The ETag of the list.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "The list of parents.",
          "items": {
            "$ref": "ParentReference"
          }
        },
        "selfLink": {
          "type": "string",
          "description": "A link back to this list."
        }
      },
      "description": "A list of a file's parents.",
      "id": "ParentList",
      "type": "object"
    },
    "ClientEncryptionDetails": {
      "properties": {
        "encryptionState": {
          "description": "The encryption state of the file. The values expected here are: - encrypted - unencrypted ",
          "type": "string"
        },
        "decryptionMetadata": {
          "description": "The metadata used for client-side operations.",
          "$ref": "DecryptionMetadata"
        }
      },
      "id": "ClientEncryptionDetails",
      "type": "object",
      "description": "Details about the client-side encryption applied to the file."
    },
    "TeamDrive": {
      "description": "Deprecated: Use the `drive` collection instead.",
      "id": "TeamDrive",
      "properties": {
        "backgroundImageLink": {
          "type": "string",
          "description": "A short-lived link to this Team Drive's background image."
        },
        "kind": {
          "default": "drive#teamDrive",
          "description": "This is always `drive#teamDrive`",
          "type": "string"
        },
        "restrictions": {
          "type": "object",
          "properties": {
            "copyRequiresWriterPermission": {
              "description": "Whether the options to copy, print, or download files inside this Team Drive, should be disabled for readers and commenters. When this restriction is set to `true`, it will override the similarly named field to `true` for any file inside this Team Drive.",
              "type": "boolean"
            },
            "adminManagedRestrictions": {
              "type": "boolean",
              "description": "Whether administrative privileges on this Team Drive are required to modify restrictions."
            },
            "sharingFoldersRequiresOrganizerPermission": {
              "type": "boolean",
              "description": "If true, only users with the organizer role can share folders. If false, users with either the organizer role or the file organizer role can share folders."
            },
            "teamMembersOnly": {
              "description": "Whether access to items inside this Team Drive is restricted to members of this Team Drive.",
              "type": "boolean"
            },
            "domainUsersOnly": {
              "description": "Whether access to this Team Drive and items inside this Team Drive is restricted to users of the domain to which this Team Drive belongs. This restriction may be overridden by other sharing policies controlled outside of this Team Drive.",
              "type": "boolean"
            }
          },
          "description": "A set of restrictions that apply to this Team Drive or items inside this Team Drive."
        },
        "colorRgb": {
          "description": "The color of this Team Drive as an RGB hex string. It can only be set on a `drive.teamdrives.update` request that does not set `themeId`.",
          "type": "string"
        },
        "themeId": {
          "description": "The ID of the theme from which the background image and color will be set. The set of possible `teamDriveThemes` can be retrieved from a `drive.about.get` response. When not specified on a `drive.teamdrives.insert` request, a random theme is chosen from which the background image and color are set. This is a write-only field; it can only be set on requests that don't set `colorRgb` or `backgroundImageFile`.",
          "type": "string"
        },
        "orgUnitId": {
          "type": "string",
          "description": "The organizational unit of this shared drive. This field is only populated on `drives.list` responses when the `useDomainAdminAccess` parameter is set to `true`."
        },
        "backgroundImageFile": {
          "description": "An image file and cropping parameters from which a background image for this Team Drive is set. This is a write only field; it can only be set on `drive.teamdrives.update` requests that don't set `themeId`. When specified, all fields of the `backgroundImageFile` must be set.",
          "properties": {
            "id": {
              "description": "The ID of an image file in Drive to use for the background image.",
              "type": "string"
            },
            "xCoordinate": {
              "description": "The X coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the horizontal distance from the left side of the entire image to the left side of the cropping area divided by the width of the entire image.",
              "format": "float",
              "type": "number"
            },
            "width": {
              "format": "float",
              "description": "The width of the cropped image in the closed range of 0 to 1. This value represents the width of the cropped image divided by the width of the entire image. The height is computed by applying a width to height aspect ratio of 80 to 9. The resulting image must be at least 1280 pixels wide and 144 pixels high.",
              "type": "number"
            },
            "yCoordinate": {
              "type": "number",
              "format": "float",
              "description": "The Y coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the vertical distance from the top side of the entire image to the top side of the cropping area divided by the height of the entire image."
            }
          },
          "type": "object"
        },
        "capabilities": {
          "properties": {
            "canChangeCopyRequiresWriterPermissionRestriction": {
              "description": "Whether the current user can change the `copyRequiresWriterPermission` restriction of this Team Drive.",
              "type": "boolean"
            },
            "canRenameTeamDrive": {
              "type": "boolean",
              "description": "Whether the current user can rename this Team Drive."
            },
            "canManageMembers": {
              "description": "Whether the current user can add members to this Team Drive or remove them or change their role.",
              "type": "boolean"
            },
            "canResetTeamDriveRestrictions": {
              "description": "Whether the current user can reset the Team Drive restrictions to defaults.",
              "type": "boolean"
            },
            "canDownload": {
              "type": "boolean",
              "description": "Whether the current user can download files in this Team Drive."
            },
            "canDeleteChildren": {
              "description": "Whether the current user can delete children from folders in this Team Drive.",
              "type": "boolean"
            },
            "canAddChildren": {
              "type": "boolean",
              "description": "Whether the current user can add children to folders in this Team Drive."
            },
            "canComment": {
              "description": "Whether the current user can comment on files in this Team Drive.",
              "type": "boolean"
            },
            "canCopy": {
              "type": "boolean",
              "description": "Whether the current user can copy files in this Team Drive."
            },
            "canListChildren": {
              "type": "boolean",
              "description": "Whether the current user can list the children of folders in this Team Drive."
            },
            "canChangeTeamMembersOnlyRestriction": {
              "type": "boolean",
              "description": "Whether the current user can change the `teamMembersOnly` restriction of this Team Drive."
            },
            "canDeleteTeamDrive": {
              "type": "boolean",
              "description": "Whether the current user can delete this Team Drive. Attempting to delete the Team Drive may still fail if there are untrashed items inside the Team Drive."
            },
            "canRemoveChildren": {
              "description": "Deprecated: Use `canDeleteChildren` or `canTrashChildren` instead.",
              "deprecated": true,
              "type": "boolean"
            },
            "canReadRevisions": {
              "type": "boolean",
              "description": "Whether the current user can read the revisions resource of files in this Team Drive."
            },
            "canChangeSharingFoldersRequiresOrganizerPermissionRestriction": {
              "description": "Whether the current user can change the `sharingFoldersRequiresOrganizerPermission` restriction of this Team Drive.",
              "type": "boolean"
            },
            "canChangeTeamDriveBackground": {
              "type": "boolean",
              "description": "Whether the current user can change the background of this Team Drive."
            },
            "canRename": {
              "type": "boolean",
              "description": "Whether the current user can rename files or folders in this Team Drive."
            },
            "canShare": {
              "type": "boolean",
              "description": "Whether the current user can share files or folders in this Team Drive."
            },
            "canTrashChildren": {
              "description": "Whether the current user can trash children from folders in this Team Drive.",
              "type": "boolean"
            },
            "canChangeDomainUsersOnlyRestriction": {
              "description": "Whether the current user can change the `domainUsersOnly` restriction of this Team Drive.",
              "type": "boolean"
            },
            "canEdit": {
              "description": "Whether the current user can edit files in this Team Drive",
              "type": "boolean"
            }
          },
          "description": "Capabilities the current user has on this Team Drive.",
          "type": "object"
        },
        "createdDate": {
          "format": "date-time",
          "type": "string",
          "description": "The time at which the Team Drive was created (RFC 3339 date-time)."
        },
        "name": {
          "annotations": {
            "required": [
              "drive.teamdrives.insert"
            ]
          },
          "description": "The name of this Team Drive.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The ID of this Team Drive which is also the ID of the top level folder of this Team Drive."
        }
      },
      "type": "object"
    },
    "File": {
      "description": "The metadata for a file. Some resource methods (such as `files.update`) require a `fileId`. Use the `files.list` method to retrieve the ID for a file.",
      "type": "object",
      "properties": {
        "selfLink": {
          "description": "Output only. A link back to this file.",
          "type": "string"
        },
        "lastModifyingUserName": {
          "type": "string",
          "description": "Output only. Name of the last user to modify this file."
        },
        "hasAugmentedPermissions": {
          "description": "Output only. Whether there are permissions directly on this file. This field is only populated for items in shared drives.",
          "type": "boolean"
        },
        "explicitlyTrashed": {
          "description": "Output only. Whether this file has been explicitly trashed, as opposed to recursively trashed.",
          "type": "boolean"
        },
        "thumbnailVersion": {
          "description": "Output only. The thumbnail version for use in thumbnail cache invalidation.",
          "type": "string",
          "format": "int64"
        },
        "videoMediaMetadata": {
          "type": "object",
          "description": "Output only. Metadata about video media. This will only be present for video types.",
          "properties": {
            "width": {
              "description": "Output only. The width of the video in pixels.",
              "type": "integer",
              "format": "int32"
            },
            "height": {
              "format": "int32",
              "type": "integer",
              "description": "Output only. The height of the video in pixels."
            },
            "durationMillis": {
              "type": "string",
              "format": "int64",
              "description": "Output only. The duration of the video in milliseconds."
            }
          }
        },
        "clientEncryptionDetails": {
          "description": "Client Side Encryption related details. Contains details about the encryption state of the file and details regarding the encryption mechanism that clients need to use when decrypting the contents of this item. This will only be present on files and not on folders or shortcuts.",
          "$ref": "ClientEncryptionDetails"
        },
        "defaultOpenWithLink": {
          "type": "string",
          "description": "Output only. A link to open this file with the user's default app for this file. Only populated when the drive.apps.readonly scope is used."
        },
        "createdDate": {
          "format": "date-time",
          "description": "Create time for this file (formatted RFC 3339 timestamp).",
          "type": "string"
        },
        "title": {
          "description": "The title of this file. Note that for immutable items such as the top level folders of shared drives, My Drive root folder, and Application Data folder the title is constant.",
          "type": "string"
        },
        "userPermission": {
          "description": "Output only. The permissions for the authenticated user on this file.",
          "$ref": "Permission"
        },
        "writersCanShare": {
          "description": "Whether writers can share the document with other users. Not populated for items in shared drives.",
          "type": "boolean"
        },
        "linkShareMetadata": {
          "properties": {
            "securityUpdateEnabled": {
              "type": "boolean",
              "description": "Output only. Whether the security update is enabled for this file."
            },
            "securityUpdateEligible": {
              "type": "boolean",
              "description": "Output only. Whether the file is eligible for security update."
            }
          },
          "description": "Contains details about the link URLs that clients are using to refer to this item.",
          "type": "object"
        },
        "description": {
          "description": "A short description of the file.",
          "type": "string"
        },
        "fullFileExtension": {
          "type": "string",
          "description": "Output only. The full file extension; extracted from the title. May contain multiple concatenated extensions, such as \"tar.gz\". Removing an extension from the title does not clear this field; however, changing the extension on the title does update this field. This field is only populated for files with content stored in Google Drive; it is not populated for Docs Editors or shortcut files."
        },
        "owners": {
          "type": "array",
          "description": "Output only. The owner of this file. Only certain legacy files may have more than one owner. This field isn't populated for items in shared drives.",
          "items": {
            "$ref": "User"
          }
        },
        "properties": {
          "type": "array",
          "description": "The list of properties.",
          "items": {
            "$ref": "Property"
          }
        },
        "ownerNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Name(s) of the owner(s) of this file. Not populated for items in shared drives."
        },
        "webViewLink": {
          "type": "string",
          "description": "Output only. A link only available on public folders for viewing their static web assets (HTML, CSS, JS, etc) via Google Drive's Website Hosting."
        },
        "openWithLinks": {
          "description": "Output only. A map of the id of each of the user's apps to a link to open this file with that app. Only populated when the drive.apps.readonly scope is used.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "capabilities": {
          "properties": {
            "canModifyOwnerContentRestriction": {
              "type": "boolean",
              "description": "Output only. Whether the current user can add or modify content restrictions which are owner restricted."
            },
            "canReadTeamDrive": {
              "description": "Output only. Deprecated: Use `canReadDrive` instead.",
              "deprecated": true,
              "type": "boolean"
            },
            "canAddFolderFromAnotherDrive": {
              "description": "Output only. Whether the current user can add a folder from another drive (different shared drive or My Drive) to this folder. This is false when the item is not a folder. Only populated for items in shared drives.",
              "type": "boolean"
            },
            "canDeleteChildren": {
              "description": "Output only. Whether the current user can delete children of this folder. This is false when the item is not a folder. Only populated for items in shared drives.",
              "type": "boolean"
            },
            "canMoveItemOutOfTeamDrive": {
              "deprecated": true,
              "type": "boolean",
              "description": "Output only. Deprecated: Use `canMoveItemOutOfDrive` instead."
            },
            "canMoveItemWithinDrive": {
              "type": "boolean",
              "description": "Output only. Whether the current user can move this item within this drive. Note that a request to change the parent of the item may still fail depending on the new parent that is being added and the parent that is being removed."
            },
            "canAddChildren": {
              "description": "Output only. Whether the current user can add children to this folder. This is always false when the item is not a folder.",
              "type": "boolean"
            },
            "canMoveChildrenOutOfTeamDrive": {
              "deprecated": true,
              "type": "boolean",
              "description": "Output only. Deprecated: Use `canMoveChildrenOutOfDrive` instead."
            },
            "canModifyContent": {
              "description": "Output only. Whether the current user can modify the content of this file.",
              "type": "boolean"
            },
            "canMoveItemIntoTeamDrive": {
              "type": "boolean",
              "deprecated": true,
              "description": "Output only. Deprecated: Use `canMoveItemOutOfDrive` instead."
            },
            "canMoveChildrenWithinDrive": {
              "description": "Output only. Whether the current user can move children of this folder within this drive. This is false when the item is not a folder. Note that a request to move the child may still fail depending on the current user's access to the child and to the destination folder.",
              "type": "boolean"
            },
            "canDownload": {
              "description": "Output only. Whether the current user can download this file.",
              "type": "boolean"
            },
            "canListChildren": {
              "description": "Output only. Whether the current user can list the children of this folder. This is always false when the item is not a folder.",
              "type": "boolean"
            },
            "canCopy": {
              "description": "Output only. Whether the current user can copy this file. For an item in a shared drive, whether the current user can copy non-folder descendants of this item, or this item itself if it is not a folder.",
              "type": "boolean"
            },
            "canChangeSecurityUpdateEnabled": {
              "description": "Output only. Whether the current user can change the securityUpdateEnabled field on link share metadata.",
              "type": "boolean"
            },
            "canShare": {
              "type": "boolean",
              "description": "Output only. Whether the current user can modify the sharing settings for this file."
            },
            "canRename": {
              "type": "boolean",
              "description": "Output only. Whether the current user can rename this file."
            },
            "canReadDrive": {
              "type": "boolean",
              "description": "Output only. Whether the current user can read the shared drive to which this file belongs. Only populated for items in shared drives."
            },
            "canComment": {
              "description": "Output only. Whether the current user can comment on this file.",
              "type": "boolean"
            },
            "canUntrash": {
              "description": "Output only. Whether the current user can restore this file from trash.",
              "type": "boolean"
            },
            "canRemoveContentRestriction": {
              "description": "Output only. Whether there is a content restriction on the file that can be removed by the current user.",
              "type": "boolean"
            },
            "canRemoveChildren": {
              "type": "boolean",
              "description": "Output only. Whether the current user can remove children from this folder. This is always false when the item is not a folder. For a folder in a shared drive, use `canDeleteChildren` or `canTrashChildren` instead."
            },
            "canEdit": {
              "description": "Output only. Whether the current user can edit this file. Other factors may limit the type of changes a user can make to a file. For example, see `canChangeCopyRequiresWriterPermission` or `canModifyContent`.",
              "type": "boolean"
            },
            "canMoveChildrenWithinTeamDrive": {
              "type": "boolean",
              "description": "Output only. Deprecated: Use `canMoveChildrenWithinDrive` instead.",
              "deprecated": true
            },
            "canChangeRestrictedDownload": {
              "deprecated": true,
              "description": "Output only. Deprecated.",
              "type": "boolean"
            },
            "canTrash": {
              "description": "Output only. Whether the current user can move this file to trash.",
              "type": "boolean"
            },
            "canMoveTeamDriveItem": {
              "deprecated": true,
              "type": "boolean",
              "description": "Output only. Deprecated: Use `canMoveItemWithinDrive` or `canMoveItemOutOfDrive` instead."
            },
            "canReadLabels": {
              "type": "boolean",
              "description": "Output only. Whether the current user can read the labels on the file."
            },
            "canDisableInheritedPermissions": {
              "readOnly": true,
              "type": "boolean",
              "description": "Output only. Whether a user can disable inherited permissions."
            },
            "canMoveChildrenOutOfDrive": {
              "type": "boolean",
              "description": "Output only. Whether the current user can move children of this folder outside of the shared drive. This is false when the item is not a folder. Only populated for items in shared drives."
            },
            "canMoveItemOutOfDrive": {
              "type": "boolean",
              "description": "Output only. Whether the current user can move this item outside of this drive by changing its parent. Note that a request to change the parent of the item may still fail depending on the new parent that is being added."
            },
            "canEnableInheritedPermissions": {
              "type": "boolean",
              "description": "Output only. Whether a user can re-enable inherited permissions.",
              "readOnly": true
            },
            "canDelete": {
              "description": "Output only. Whether the current user can delete this file.",
              "type": "boolean"
            },
            "canAcceptOwnership": {
              "type": "boolean",
              "description": "Output only. Whether the current user is the pending owner of the file. Not populated for shared drive files."
            },
            "canTrashChildren": {
              "type": "boolean",
              "description": "Output only. Whether the current user can trash children of this folder. This is false when the item is not a folder. Only populated for items in shared drives."
            },
            "canChangeCopyRequiresWriterPermission": {
              "type": "boolean",
              "description": "Output only. Whether the current user can change the `copyRequiresWriterPermission` restriction of this file."
            },
            "canAddMyDriveParent": {
              "type": "boolean",
              "description": "Output only. Whether the current user can add a parent for the item without removing an existing parent in the same request. Not populated for shared drive files."
            },
            "canReadRevisions": {
              "description": "Output only. Whether the current user can read the revisions resource of this file. For a shared drive item, whether revisions of non-folder descendants of this item, or this item itself if it is not a folder, can be read.",
              "type": "boolean"
            },
            "canModifyLabels": {
              "description": "Output only. Whether the current user can modify the labels on the file.",
              "type": "boolean"
            },
            "canRemoveMyDriveParent": {
              "type": "boolean",
              "description": "Output only. Whether the current user can remove a parent from the item without adding another parent in the same request. Not populated for shared drive files."
            },
            "canMoveItemWithinTeamDrive": {
              "description": "Output only. Deprecated: Use `canMoveItemWithinDrive` instead.",
              "type": "boolean",
              "deprecated": true
            },
            "canModifyEditorContentRestriction": {
              "type": "boolean",
              "description": "Output only. Whether the current user can add or modify content restrictions on the file which are editor restricted."
            },
            "canModifyContentRestriction": {
              "description": "Deprecated: Output only. Use one of `canModifyEditorContentRestriction`, `canModifyOwnerContentRestriction` or `canRemoveContentRestriction`.",
              "type": "boolean",
              "deprecated": true
            }
          },
          "description": "Output only. Capabilities the current user has on this file. Each capability corresponds to a fine-grained action that a user may take.",
          "type": "object"
        },
        "appDataContents": {
          "description": "Output only. Whether this file is in the Application Data folder.",
          "type": "boolean"
        },
        "shared": {
          "description": "Output only. Whether the file has been shared. Not populated for items in shared drives.",
          "type": "boolean"
        },
        "contentRestrictions": {
          "type": "array",
          "description": "Restrictions for accessing the content of the file. Only populated if such a restriction exists.",
          "items": {
            "$ref": "ContentRestriction"
          }
        },
        "hasThumbnail": {
          "type": "boolean",
          "description": "Output only. Whether this file has a thumbnail. This does not indicate whether the requesting app has access to the thumbnail. To check access, look for the presence of the thumbnailLink field."
        },
        "labelInfo": {
          "description": "Output only. An overview of the labels on the file.",
          "type": "object",
          "properties": {
            "labels": {
              "type": "array",
              "items": {
                "$ref": "Label"
              },
              "description": "Output only. The set of labels on the file as requested by the label IDs in the `includeLabels` parameter. By default, no labels are returned."
            }
          }
        },
        "webContentLink": {
          "description": "Output only. A link for downloading the content of the file in a browser using cookie based authentication. In cases where the content is shared publicly, the content can be downloaded without any credentials.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Output only. The type of file. This is always `drive#file`.",
          "default": "drive#file"
        },
        "iconLink": {
          "description": "Output only. A link to the file's icon.",
          "type": "string"
        },
        "modifiedDate": {
          "format": "date-time",
          "type": "string",
          "description": "Last time this file was modified by anyone (formatted RFC 3339 timestamp). This is only mutable on update when the setModifiedDate parameter is set."
        },
        "etag": {
          "description": "Output only. ETag of the file.",
          "type": "string"
        },
        "id": {
          "description": "The ID of the file.",
          "type": "string"
        },
        "indexableText": {
          "description": "Indexable text attributes for the file (can only be written)",
          "type": "object",
          "properties": {
            "text": {
              "description": "The text to be indexed for this file.",
              "type": "string"
            }
          }
        },
        "sharingUser": {
          "$ref": "User",
          "description": "Output only. User that shared the item with the current user, if available."
        },
        "sharedWithMeDate": {
          "description": "Time at which this file was shared with the user (formatted RFC 3339 timestamp).",
          "type": "string",
          "format": "date-time"
        },
        "version": {
          "format": "int64",
          "type": "string",
          "description": "Output only. A monotonically increasing version number for the file. This reflects every change made to the file on the server, even those not visible to the requesting user."
        },
        "inheritedPermissionsDisabled": {
          "type": "boolean",
          "description": "Whether this file has inherited permissions disabled. Inherited permissions are enabled by default."
        },
        "shareable": {
          "type": "boolean",
          "deprecated": true,
          "description": "Output only. Deprecated: Use `capabilities/canShare` instead."
        },
        "imageMediaMetadata": {
          "type": "object",
          "description": "Output only. Metadata about image media. This will only be present for image types, and its contents will depend on what can be parsed from the image content.",
          "properties": {
            "lens": {
              "description": "Output only. The lens used to create the photo.",
              "type": "string"
            },
            "isoSpeed": {
              "description": "Output only. The ISO speed used to create the photo.",
              "type": "integer",
              "format": "int32"
            },
            "flashUsed": {
              "description": "Output only. Whether a flash was used to create the photo.",
              "type": "boolean"
            },
            "maxApertureValue": {
              "description": "Output only. The smallest f-number of the lens at the focal length used to create the photo (APEX value).",
              "type": "number",
              "format": "float"
            },
            "rotation": {
              "type": "integer",
              "format": "int32",
              "description": "Output only. The number of clockwise 90 degree rotations applied from the image's original orientation."
            },
            "aperture": {
              "description": "Output only. The aperture used to create the photo (f-number).",
              "format": "float",
              "type": "number"
            },
            "height": {
              "format": "int32",
              "description": "Output only. The height of the image in pixels.",
              "type": "integer"
            },
            "exposureBias": {
              "format": "float",
              "type": "number",
              "description": "Output only. The exposure bias of the photo (APEX value)."
            },
            "colorSpace": {
              "type": "string",
              "description": "Output only. The color space of the photo."
            },
            "focalLength": {
              "description": "Output only. The focal length used to create the photo, in millimeters.",
              "format": "float",
              "type": "number"
            },
            "sensor": {
              "type": "string",
              "description": "Output only. The type of sensor used to create the photo."
            },
            "whiteBalance": {
              "description": "Output only. The white balance mode used to create the photo.",
              "type": "string"
            },
            "subjectDistance": {
              "format": "int32",
              "type": "integer",
              "description": "Output only. The distance to the subject of the photo, in meters."
            },
            "date": {
              "description": "Output only. The date and time the photo was taken (EXIF format timestamp).",
              "type": "string"
            },
            "cameraMake": {
              "description": "Output only. The make of the camera used to create the photo.",
              "type": "string"
            },
            "location": {
              "description": "Output only. Geographic location information stored in the image.",
              "properties": {
                "longitude": {
                  "type": "number",
                  "description": "Output only. The longitude stored in the image.",
                  "format": "double"
                },
                "altitude": {
                  "description": "Output only. The altitude stored in the image.",
                  "type": "number",
                  "format": "double"
                },
                "latitude": {
                  "type": "number",
                  "format": "double",
                  "description": "Output only. The latitude stored in the image."
                }
              },
              "type": "object"
            },
            "exposureTime": {
              "type": "number",
              "format": "float",
              "description": "Output only. The length of the exposure, in seconds."
            },
            "width": {
              "description": "Output only. The width of the image in pixels.",
              "type": "integer",
              "format": "int32"
            },
            "meteringMode": {
              "description": "Output only. The metering mode used to create the photo.",
              "type": "string"
            },
            "exposureMode": {
              "description": "Output only. The exposure mode used to create the photo.",
              "type": "string"
            },
            "cameraModel": {
              "type": "string",
              "description": "Output only. The model of the camera used to create the photo."
            }
          }
        },
        "quotaBytesUsed": {
          "format": "int64",
          "type": "string",
          "description": "Output only. The number of quota bytes used by this file."
        },
        "exportLinks": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. Links for exporting Docs Editors files to specific formats.",
          "readOnly": true
        },
        "shortcutDetails": {
          "description": "Shortcut file details. Only populated for shortcut files, which have the mimeType field set to `application/vnd.google-apps.shortcut`. Can only be set on `files.insert` requests.",
          "type": "object",
          "properties": {
            "targetMimeType": {
              "description": "Output only. The MIME type of the file that this shortcut points to. The value of this field is a snapshot of the target's MIME type, captured when the shortcut is created.",
              "type": "string"
            },
            "targetResourceKey": {
              "description": "Output only. The ResourceKey for the target file.",
              "type": "string"
            },
            "targetId": {
              "type": "string",
              "description": "The ID of the file that this shortcut points to. Can only be set on `files.insert` requests."
            }
          }
        },
        "copyRequiresWriterPermission": {
          "description": "Whether the options to copy, print, or download this file, should be disabled for readers and commenters.",
          "type": "boolean"
        },
        "trashingUser": {
          "description": "Output only. If the file has been explicitly trashed, the user who trashed it. Only populated for items in shared drives.",
          "$ref": "User"
        },
        "lastModifyingUser": {
          "description": "Output only. The last user to modify this file. This field is only populated when the last modification was performed by a signed-in user.",
          "$ref": "User"
        },
        "downloadUrl": {
          "type": "string",
          "description": "Output only. Short lived download URL for the file. This field is only populated for files with content stored in Google Drive; it is not populated for Google Docs or shortcut files."
        },
        "permissions": {
          "type": "array",
          "items": {
            "$ref": "Permission"
          },
          "description": "Output only. The list of permissions for users with access to this file. Not populated for items in shared drives."
        },
        "md5Checksum": {
          "description": "Output only. An MD5 checksum for the content of this file. This field is only populated for files with content stored in Google Drive; it is not populated for Docs Editors or shortcut files.",
          "type": "string"
        },
        "alternateLink": {
          "description": "Output only. A link for opening the file in a relevant Google editor or viewer.",
          "type": "string"
        },
        "embedLink": {
          "type": "string",
          "description": "Output only. A link for embedding the file."
        },
        "copyable": {
          "description": "Output only. Deprecated: Use `capabilities/canCopy` instead.",
          "deprecated": true,
          "type": "boolean"
        },
        "canComment": {
          "deprecated": true,
          "type": "boolean",
          "description": "Output only. Deprecated: Use `capabilities/canComment` instead."
        },
        "spaces": {
          "type": "array",
          "description": "Output only. The list of spaces which contain the file. Supported values are `drive`, `appDataFolder` and `photos`.",
          "items": {
            "type": "string"
          }
        },
        "thumbnail": {
          "properties": {
            "image": {
              "description": "The URL-safe Base64 encoded bytes of the thumbnail image. It should conform to RFC 4648 section 5.",
              "format": "byte",
              "type": "string"
            },
            "mimeType": {
              "description": "The MIME type of the thumbnail.",
              "type": "string"
            }
          },
          "description": "A thumbnail for the file. This will only be used if a standard thumbnail cannot be generated.",
          "type": "object"
        },
        "parents": {
          "items": {
            "$ref": "ParentReference"
          },
          "type": "array",
          "description": "The ID of the parent folder containing the file. A file can only have one parent folder; specifying multiple parents isn't supported. If not specified as part of an insert request, the file is placed directly in the user's My Drive folder. If not specified as part of a copy request, the file inherits any discoverable parent of the source file. Update requests must use the `addParents` and `removeParents` parameters to modify the parents list."
        },
        "resourceKey": {
          "type": "string",
          "description": "Output only. A key needed to access the item via a shared link."
        },
        "isAppAuthorized": {
          "description": "Output only. Whether the file was created or opened by the requesting app.",
          "type": "boolean"
        },
        "sha1Checksum": {
          "description": "Output only. The SHA1 checksum associated with this file, if available. This field is only populated for files with content stored in Google Drive; it is not populated for Docs Editors or shortcut files.",
          "type": "string"
        },
        "permissionIds": {
          "type": "array",
          "description": "Output only. List of permission IDs for users with access to this file.",
          "items": {
            "type": "string"
          }
        },
        "folderColorRgb": {
          "description": "Folder color as an RGB hex string if the file is a folder or a shortcut to a folder. The list of supported colors is available in the folderColorPalette field of the About resource. If an unsupported color is specified, it will be changed to the closest color in the palette.",
          "type": "string"
        },
        "thumbnailLink": {
          "description": "Output only. A short-lived link to the file's thumbnail, if available. Typically lasts on the order of hours. Not intended for direct usage on web applications due to [Cross-Origin Resource Sharing (CORS)](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS), consider using a proxy server. Only populated when the requesting app can access the file's content. If the file isn't shared publicly, the URL returned in `Files.thumbnailLink` must be fetched using a credentialed request.",
          "type": "string"
        },
        "fileSize": {
          "type": "string",
          "description": "Output only. Size in bytes of blobs and first party editor files. Won't be populated for files that have no size, like shortcuts and folders.",
          "format": "int64"
        },
        "editable": {
          "deprecated": true,
          "type": "boolean",
          "description": "Output only. Deprecated: Use `capabilities/canEdit` instead."
        },
        "markedViewedByMeDate": {
          "type": "string",
          "format": "date-time",
          "description": "Deprecated."
        },
        "headRevisionId": {
          "type": "string",
          "description": "Output only. The ID of the file's head revision. This field is only populated for files with content stored in Google Drive; it is not populated for Docs Editors or shortcut files."
        },
        "originalFilename": {
          "description": "The original filename of the uploaded content if available, or else the original value of the `title` field. This is only available for files with binary content in Google Drive.",
          "type": "string"
        },
        "ownedByMe": {
          "description": "Output only. Whether the file is owned by the current user. Not populated for items in shared drives.",
          "type": "boolean"
        },
        "sha256Checksum": {
          "description": "Output only. The SHA256 checksum associated with this file, if available. This field is only populated for files with content stored in Google Drive; it is not populated for Docs Editors or shortcut files.",
          "type": "string"
        },
        "lastViewedByMeDate": {
          "type": "string",
          "description": "Last time this file was viewed by the user (formatted RFC 3339 timestamp).",
          "format": "date-time"
        },
        "teamDriveId": {
          "type": "string",
          "deprecated": true,
          "description": "Output only. Deprecated: Use `driveId` instead."
        },
        "modifiedByMeDate": {
          "format": "date-time",
          "description": "Last time this file was modified by the user (formatted RFC 3339 timestamp). Note that setting modifiedDate will also update the modifiedByMe date for the user which set the date.",
          "type": "string"
        },
        "mimeType": {
          "description": "The MIME type of the file. This is only mutable on update when uploading new content. This field can be left blank, and the mimetype will be determined from the uploaded content's MIME type.",
          "type": "string"
        },
        "canReadRevisions": {
          "description": "Output only. Deprecated: Use `capabilities/canReadRevisions` instead.",
          "type": "boolean",
          "deprecated": true
        },
        "trashedDate": {
          "format": "date-time",
          "type": "string",
          "description": "The time that the item was trashed (formatted RFC 3339 timestamp). Only populated for items in shared drives."
        },
        "labels": {
          "properties": {
            "hidden": {
              "deprecated": true,
              "description": "Output only. Deprecated.",
              "type": "boolean"
            },
            "modified": {
              "description": "Output only. Whether the file has been modified by this user.",
              "type": "boolean"
            },
            "viewed": {
              "description": "Whether this file has been viewed by this user.",
              "type": "boolean"
            },
            "trashed": {
              "type": "boolean",
              "description": "Whether this file has been trashed. This label applies to all users accessing the file; however, only owners are allowed to see and untrash files."
            },
            "starred": {
              "description": "Whether this file is starred by the user.",
              "type": "boolean"
            },
            "restricted": {
              "deprecated": true,
              "description": "Output only. Deprecated: Use `copyRequiresWriterPermission` instead.",
              "type": "boolean"
            }
          },
          "type": "object",
          "description": "A group of labels for the file."
        },
        "driveId": {
          "description": "Output only. ID of the shared drive the file resides in. Only populated for items in shared drives.",
          "type": "string"
        },
        "fileExtension": {
          "type": "string",
          "description": "Output only. The final component of `fullFileExtension` with trailing text that does not appear to be part of the extension removed. This field is only populated for files with content stored in Google Drive; it is not populated for Docs Editors or shortcut files."
        }
      },
      "id": "File"
    },
    "ModifyLabelsRequest": {
      "id": "ModifyLabelsRequest",
      "type": "object",
      "properties": {
        "labelModifications": {
          "description": "The list of modifications to apply to the labels on the file.",
          "type": "array",
          "items": {
            "$ref": "LabelModification"
          }
        },
        "kind": {
          "type": "string",
          "default": "drive#modifyLabelsRequest",
          "description": "This is always `drive#modifyLabelsRequest`."
        }
      },
      "description": "A request to modify the set of labels on a file. This request may contain many modifications that will either all succeed or all fail atomically."
    },
    "ChildList": {
      "type": "object",
      "description": "A list of children of a file.",
      "id": "ChildList",
      "properties": {
        "items": {
          "type": "array",
          "description": "The list of children. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "items": {
            "$ref": "ChildReference"
          }
        },
        "nextPageToken": {
          "description": "The page token for the next page of children. This will be absent if the end of the children list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        },
        "nextLink": {
          "description": "A link to the next page of children.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always `drive#childList`.",
          "default": "drive#childList"
        },
        "etag": {
          "type": "string",
          "description": "The ETag of the list."
        },
        "selfLink": {
          "description": "A link back to this list.",
          "type": "string"
        }
      }
    },
    "CommentList": {
      "id": "CommentList",
      "properties": {
        "nextLink": {
          "description": "A link to the next page of comments.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The page token for the next page of comments. This will be absent if the end of the comments list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always drive#commentList.",
          "default": "drive#commentList"
        },
        "items": {
          "type": "array",
          "description": "The list of comments. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "items": {
            "$ref": "Comment"
          }
        },
        "selfLink": {
          "description": "A link back to this list.",
          "type": "string"
        }
      },
      "description": "A list of comments on a file in Google Drive.",
      "type": "object"
    },
    "GenerateCseTokenResponse": {
      "properties": {
        "currentKaclsId": {
          "format": "int64",
          "description": "The current Key ACL Service (KACLS) ID associated with the JWT.",
          "type": "string"
        },
        "currentKaclsName": {
          "description": "Name of the KACLs that the returned KACLs ID points to.",
          "type": "string"
        },
        "fileId": {
          "description": "The fileId for which the JWT was generated.",
          "type": "string"
        },
        "kind": {
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#generateCseTokenResponse\"`.",
          "type": "string"
        },
        "jwt": {
          "description": "The signed JSON Web Token (JWT) for the file.",
          "type": "string"
        }
      },
      "description": "JWT and associated metadata used to generate CSE files.",
      "id": "GenerateCseTokenResponse",
      "type": "object"
    },
    "LabelFieldModification": {
      "type": "object",
      "description": "A modification to a label's field.",
      "properties": {
        "fieldId": {
          "description": "The ID of the field to be modified.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "drive#labelFieldModification",
          "description": "This is always `drive#labelFieldModification`."
        },
        "setSelectionValues": {
          "items": {
            "type": "string"
          },
          "description": "Replaces a `selection` field with these new values.",
          "type": "array"
        },
        "setDateValues": {
          "items": {
            "format": "date",
            "type": "string"
          },
          "type": "array",
          "description": "Replaces the value of a dateString Field with these new values. The string must be in the RFC 3339 full-date format: YYYY-MM-DD."
        },
        "setUserValues": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Replaces a `user` field with these new values. The values must be valid email addresses."
        },
        "setIntegerValues": {
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "Replaces the value of an `integer` field with these new values."
        },
        "unsetValues": {
          "type": "boolean",
          "description": "Unsets the values for this field."
        },
        "setTextValues": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Sets the value of a `text` field."
        }
      },
      "id": "LabelFieldModification"
    },
    "LabelModification": {
      "properties": {
        "kind": {
          "description": "This is always `drive#labelModification`.",
          "default": "drive#labelModification",
          "type": "string"
        },
        "labelId": {
          "annotations": {
            "required": [
              "drive.files.modifyLabels"
            ]
          },
          "type": "string",
          "description": "The ID of the label to modify."
        },
        "removeLabel": {
          "description": "If true, the label will be removed from the file.",
          "type": "boolean"
        },
        "fieldModifications": {
          "type": "array",
          "description": "The list of modifications to this label's fields.",
          "items": {
            "$ref": "LabelFieldModification"
          }
        }
      },
      "description": "A modification to a label on a file. A LabelModification can be used to apply a label to a file, update an existing label on a file, or remove a label from a file.",
      "type": "object",
      "id": "LabelModification"
    },
    "User": {
      "type": "object",
      "description": "Information about a Drive user.",
      "id": "User",
      "properties": {
        "permissionId": {
          "description": "Output only. The user's ID as visible in Permission resources.",
          "type": "string",
          "readOnly": true
        },
        "isAuthenticatedUser": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether this user is the same as the authenticated user for whom the request was made."
        },
        "emailAddress": {
          "type": "string",
          "description": "Output only. The email address of the user. This may not be present in certain contexts if the user has not made their email address visible to the requester.",
          "readOnly": true
        },
        "picture": {
          "description": "Output only. The user's profile picture.",
          "readOnly": true,
          "properties": {
            "url": {
              "type": "string",
              "readOnly": true,
              "description": "Output only. A URL that points to a profile picture of this user."
            }
          },
          "type": "object"
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. A plain text displayable name for this user.",
          "type": "string"
        },
        "kind": {
          "default": "drive#user",
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `drive#user`.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "PermissionId": {
      "id": "PermissionId",
      "description": "An ID for a user or group as seen in Permission items.",
      "properties": {
        "id": {
          "description": "The permission ID.",
          "type": "string"
        },
        "kind": {
          "default": "drive#permissionId",
          "type": "string",
          "description": "This is always `drive#permissionId`."
        }
      },
      "type": "object"
    },
    "CommentReplyList": {
      "id": "CommentReplyList",
      "type": "object",
      "description": "A list of replies to a comment on a file in Google Drive.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The page token for the next page of replies. This will be absent if the end of the replies list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results."
        },
        "nextLink": {
          "type": "string",
          "description": "A link to the next page of replies."
        },
        "kind": {
          "default": "drive#commentReplyList",
          "type": "string",
          "description": "This is always `drive#commentReplyList`."
        },
        "items": {
          "items": {
            "$ref": "CommentReply"
          },
          "type": "array",
          "description": "The list of replies. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched."
        },
        "selfLink": {
          "type": "string",
          "description": "A link back to this list."
        }
      }
    },
    "Change": {
      "type": "object",
      "id": "Change",
      "properties": {
        "fileId": {
          "type": "string",
          "description": "The ID of the file associated with this change."
        },
        "type": {
          "type": "string",
          "description": "Deprecated: Use `changeType` instead.",
          "deprecated": true
        },
        "changeType": {
          "type": "string",
          "description": "The type of the change. Possible values are `file` and `drive`."
        },
        "modificationDate": {
          "type": "string",
          "format": "date-time",
          "description": "The time of this modification."
        },
        "selfLink": {
          "description": "A link back to this change.",
          "type": "string"
        },
        "file": {
          "$ref": "File",
          "description": "The updated state of the file. Present if the type is file and the file has not been removed from this list of changes."
        },
        "deleted": {
          "type": "boolean",
          "description": "Whether the file or shared drive has been removed from this list of changes, for example by deletion or loss of access."
        },
        "drive": {
          "$ref": "Drive",
          "description": "The updated state of the shared drive. Present if the changeType is drive, the user is still a member of the shared drive, and the shared drive has not been deleted."
        },
        "driveId": {
          "description": "The ID of the shared drive associated with this change.",
          "type": "string"
        },
        "id": {
          "format": "int64",
          "type": "string",
          "description": "The ID of the change."
        },
        "teamDriveId": {
          "type": "string",
          "deprecated": true,
          "description": "Deprecated: Use `driveId` instead."
        },
        "teamDrive": {
          "deprecated": true,
          "description": "Deprecated: Use `drive` instead.",
          "$ref": "TeamDrive"
        },
        "kind": {
          "type": "string",
          "description": "This is always `drive#change`.",
          "default": "drive#change"
        }
      },
      "description": "Representation of a change to a file or shared drive."
    },
    "App": {
      "id": "App",
      "properties": {
        "installed": {
          "description": "Whether the app is installed.",
          "type": "boolean"
        },
        "productId": {
          "description": "The ID of the product listing for this app.",
          "type": "string"
        },
        "supportsOfflineCreate": {
          "type": "boolean",
          "description": "Whether this app supports creating new files when offline."
        },
        "supportsCreate": {
          "description": "Whether this app supports creating new objects.",
          "type": "boolean"
        },
        "shortDescription": {
          "description": "A short description of the app.",
          "type": "string"
        },
        "supportsImport": {
          "type": "boolean",
          "description": "Whether this app supports importing from Docs Editors."
        },
        "createInFolderTemplate": {
          "description": "The template url to create a new file with this app in a given folder. The template will contain {folderId} to be replaced by the folder to create the new file in.",
          "type": "string"
        },
        "createUrl": {
          "description": "The url to create a new file with this app.",
          "type": "string"
        },
        "longDescription": {
          "type": "string",
          "description": "A long description of the app."
        },
        "kind": {
          "type": "string",
          "description": "This is always `drive#app`.",
          "default": "drive#app"
        },
        "objectType": {
          "type": "string",
          "description": "The type of object this app creates (e.g. Chart). If empty, the app name should be used instead."
        },
        "secondaryFileExtensions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of secondary file extensions."
        },
        "secondaryMimeTypes": {
          "description": "The list of secondary mime types.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "primaryMimeTypes": {
          "description": "The list of primary mime types.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "authorized": {
          "description": "Whether the app is authorized to access data on the user's Drive.",
          "type": "boolean"
        },
        "hasDriveWideScope": {
          "description": "Whether the app has drive-wide scope. An app with drive-wide scope can access all files in the user's drive.",
          "type": "boolean"
        },
        "openUrlTemplate": {
          "description": "The template url for opening files with this app. The template will contain `{ids}` and/or `{exportIds}` to be replaced by the actual file ids. See Open Files for the full documentation.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The ID of the app."
        },
        "icons": {
          "type": "array",
          "description": "The various icons for the app.",
          "items": {
            "type": "object",
            "properties": {
              "category": {
                "description": "Category of the icon. Allowed values are: * `application` - icon for the application * `document` - icon for a file associated with the app * `documentShared` - icon for a shared file associated with the app",
                "type": "string"
              },
              "iconUrl": {
                "description": "URL for the icon.",
                "type": "string"
              },
              "size": {
                "type": "integer",
                "format": "int32",
                "description": "Size of the icon. Represented as the maximum of the width and height."
              }
            }
          }
        },
        "useByDefault": {
          "description": "Whether the app is selected as the default handler for the types it supports.",
          "type": "boolean"
        },
        "primaryFileExtensions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of primary file extensions."
        },
        "productUrl": {
          "type": "string",
          "description": "A link to the product listing for this app."
        },
        "name": {
          "type": "string",
          "description": "The name of the app."
        },
        "supportsMultiOpen": {
          "type": "boolean",
          "description": "Whether this app supports opening more than one file."
        }
      },
      "description": "The apps resource provides a list of the apps that a user has installed, with information about each app's supported MIME types, file extensions, and other details. Some resource methods (such as `apps.get`) require an `appId`. Use the `apps.list` method to retrieve the ID for an installed application.",
      "type": "object"
    },
    "AppList": {
      "type": "object",
      "description": "A list of third-party applications which the user has installed or given access to Google Drive.",
      "properties": {
        "defaultAppIds": {
          "description": "List of app IDs that the user has specified to use by default. The list is in reverse-priority order (lowest to highest).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "App"
          },
          "description": "The list of apps."
        },
        "selfLink": {
          "description": "A link back to this list.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "drive#appList",
          "description": "This is always `drive#appList`."
        },
        "etag": {
          "description": "The ETag of the list.",
          "type": "string"
        }
      },
      "id": "AppList"
    },
    "PropertyList": {
      "type": "object",
      "properties": {
        "items": {
          "description": "The list of properties.",
          "items": {
            "$ref": "Property"
          },
          "type": "array"
        },
        "selfLink": {
          "description": "The link back to this list.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `drive#propertyList`.",
          "default": "drive#propertyList",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "The ETag of the list."
        }
      },
      "id": "PropertyList",
      "description": "A collection of properties, key-value pairs that are either public or private to an application."
    },
    "ChildReference": {
      "properties": {
        "selfLink": {
          "description": "Output only. A link back to this reference.",
          "type": "string"
        },
        "id": {
          "description": "The ID of the child.",
          "type": "string",
          "annotations": {
            "required": [
              "drive.children.insert"
            ]
          }
        },
        "childLink": {
          "type": "string",
          "description": "Output only. A link to the child."
        },
        "kind": {
          "type": "string",
          "default": "drive#childReference",
          "description": "Output only. This is always `drive#childReference`."
        }
      },
      "id": "ChildReference",
      "type": "object",
      "description": "A reference to a folder's child. Some resource methods (such as `children.get`) require a `childId`. Use the `children.list` method to retrieve the ID of the child."
    },
    "Revision": {
      "description": "A revision of a file. Some resource methods (such as `revisions.update`) require a `revisionId`. Use the `revisions.list` method to retrieve the ID for a revision.",
      "id": "Revision",
      "type": "object",
      "properties": {
        "publishedLink": {
          "type": "string",
          "description": "Output only. A link to the published revision. This is only populated for Docs Editors files."
        },
        "published": {
          "description": "Whether this revision is published. This is only populated and can only be modified for Docs Editors files.",
          "type": "boolean"
        },
        "md5Checksum": {
          "description": "Output only. An MD5 checksum for the content of this revision. This will only be populated on files with content stored in Drive.",
          "type": "string"
        },
        "publishedOutsideDomain": {
          "type": "boolean",
          "description": "Whether this revision is published outside the domain. This is only populated and can only be modified for Docs Editors files."
        },
        "mimeType": {
          "description": "Output only. The MIME type of the revision.",
          "type": "string"
        },
        "publishAuto": {
          "description": "Whether subsequent revisions will be automatically republished. This is only populated and can only be modified for Docs Editors files.",
          "type": "boolean"
        },
        "exportLinks": {
          "description": "Output only. Links for exporting Docs Editors files to specific formats.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "etag": {
          "description": "Output only. The ETag of the revision.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Output only. The ID of the revision."
        },
        "kind": {
          "default": "drive#revision",
          "description": "Output only. This is always `drive#revision`.",
          "type": "string"
        },
        "pinned": {
          "description": "Whether this revision is pinned to prevent automatic purging. If not set, the revision is automatically purged 30 days after newer content is uploaded. This field can only be modified on files with content stored in Drive, excluding Docs Editors files. Revisions can also be pinned when they are created through the drive.files.insert/update/copy by using the pinned query parameter. Pinned revisions are stored indefinitely using additional storage quota, up to a maximum of 200 revisions.",
          "type": "boolean"
        },
        "fileSize": {
          "format": "int64",
          "description": "Output only. The size of the revision in bytes. This will only be populated on files with content stored in Drive.",
          "type": "string"
        },
        "downloadUrl": {
          "description": "Output only. Short term download URL for the file. This will only be populated on files with content stored in Drive.",
          "type": "string"
        },
        "modifiedDate": {
          "description": "Last time this revision was modified (formatted RFC 3339 timestamp).",
          "type": "string",
          "format": "date-time"
        },
        "originalFilename": {
          "description": "Output only. The original filename when this revision was created. This will only be populated on files with content stored in Drive.",
          "type": "string"
        },
        "lastModifyingUserName": {
          "description": "Output only. Name of the last user to modify this revision.",
          "type": "string"
        },
        "lastModifyingUser": {
          "description": "Output only. The last user to modify this revision. This field is only populated when the last modification was performed by a signed-in user.",
          "$ref": "User"
        },
        "selfLink": {
          "type": "string",
          "description": "Output only. A link back to this revision."
        }
      }
    },
    "ParentReference": {
      "type": "object",
      "properties": {
        "kind": {
          "default": "drive#parentReference",
          "type": "string",
          "description": "Output only. This is always `drive#parentReference`."
        },
        "selfLink": {
          "description": "Output only. A link back to this reference.",
          "type": "string"
        },
        "parentLink": {
          "type": "string",
          "description": "Output only. A link to the parent."
        },
        "id": {
          "annotations": {
            "required": [
              "drive.parents.insert"
            ]
          },
          "type": "string",
          "description": "The ID of the parent."
        },
        "isRoot": {
          "description": "Output only. Whether or not the parent is the root folder.",
          "type": "boolean"
        }
      },
      "id": "ParentReference",
      "description": "A reference to a file's parent. A file can only have one parent folder; specifying multiple parents isn't supported. Some resource methods (such as `parents.get`) require a `parentId`. Use the `parents.list` method to retrieve the ID for a parent."
    },
    "TeamDriveList": {
      "properties": {
        "nextPageToken": {
          "description": "The page token for the next page of Team Drives.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always `drive#teamDriveList`",
          "default": "drive#teamDriveList"
        },
        "items": {
          "description": "The list of Team Drives.",
          "type": "array",
          "items": {
            "$ref": "TeamDrive"
          }
        }
      },
      "description": "A list of Team Drives.",
      "type": "object",
      "id": "TeamDriveList"
    },
    "Property": {
      "type": "object",
      "properties": {
        "etag": {
          "type": "string",
          "description": "Output only. ETag of the property."
        },
        "selfLink": {
          "type": "string",
          "description": "Output only. The link back to this property."
        },
        "kind": {
          "default": "drive#property",
          "description": "Output only. This is always `drive#property`.",
          "type": "string"
        },
        "visibility": {
          "description": "The visibility of this property. Allowed values are PRIVATE (default) and PUBLIC. Private properties can only be retrieved using an authenticated request. An authenticated request uses an access token obtained with a OAuth 2 client ID. You cannot use an API key to retrieve private properties.",
          "type": "string"
        },
        "key": {
          "description": "The key of this property.",
          "type": "string",
          "annotations": {
            "required": [
              "drive.properties.insert"
            ]
          }
        },
        "value": {
          "description": "The value of this property.",
          "type": "string"
        }
      },
      "id": "Property",
      "description": "A key-value pair attached to a file that is either public or private to an application. The following limits apply to file properties: * Maximum of 100 properties total per file * Maximum of 30 private properties per app * Maximum of 30 public properties * Maximum of 124 bytes size limit on (key + value) string in UTF-8 encoding for a single property Some resource methods (such as `properties.update`) require a `propertyKey`. Use the `properties.list` method to retrieve the key for a property."
    },
    "GeneratedIds": {
      "description": "A list of generated IDs which can be provided in insert requests",
      "id": "GeneratedIds",
      "properties": {
        "kind": {
          "description": "This is always `drive#generatedIds`",
          "default": "drive#generatedIds",
          "type": "string"
        },
        "space": {
          "type": "string",
          "description": "The type of file that can be created with these IDs."
        },
        "ids": {
          "description": "The IDs generated for the requesting user in the specified space.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "About": {
      "description": "An item with user information and settings.",
      "type": "object",
      "properties": {
        "canCreateTeamDrives": {
          "description": "Deprecated: Use `canCreateDrives` instead.",
          "deprecated": true,
          "type": "boolean"
        },
        "teamDriveThemes": {
          "type": "array",
          "description": "Deprecated: Use `driveThemes` instead.",
          "items": {
            "properties": {
              "id": {
                "type": "string",
                "deprecated": true,
                "description": "Deprecated: Use `driveThemes/id` instead."
              },
              "backgroundImageLink": {
                "deprecated": true,
                "description": "Deprecated: Use `driveThemes/backgroundImageLink` instead.",
                "type": "string"
              },
              "colorRgb": {
                "type": "string",
                "description": "Deprecated: Use `driveThemes/colorRgb` instead.",
                "deprecated": true
              }
            },
            "type": "object"
          },
          "deprecated": true
        },
        "maxUploadSizes": {
          "type": "array",
          "description": "List of max upload sizes for each file type. The most specific type takes precedence.",
          "items": {
            "properties": {
              "type": {
                "description": "The file type.",
                "type": "string"
              },
              "size": {
                "description": "The max upload size for this type.",
                "format": "int64",
                "type": "string"
              }
            },
            "type": "object"
          }
        },
        "quotaBytesUsedInTrash": {
          "type": "string",
          "description": "The number of quota bytes used by trashed items.",
          "format": "int64"
        },
        "quotaBytesByService": {
          "items": {
            "properties": {
              "serviceName": {
                "description": "The service's name, e.g. DRIVE, GMAIL, or PHOTOS.",
                "type": "string"
              },
              "bytesUsed": {
                "type": "string",
                "format": "int64",
                "description": "The storage quota bytes used by the service."
              }
            },
            "type": "object"
          },
          "description": "The amount of storage quota used by different Google services.",
          "type": "array"
        },
        "isCurrentAppInstalled": {
          "description": "A boolean indicating whether the authenticated app is installed by the authenticated user.",
          "type": "boolean"
        },
        "user": {
          "description": "The authenticated user.",
          "$ref": "User"
        },
        "folderColorPalette": {
          "items": {
            "type": "string"
          },
          "description": "The palette of allowable folder colors as RGB hex strings.",
          "type": "array"
        },
        "largestChangeId": {
          "type": "string",
          "format": "int64",
          "description": "The largest change id."
        },
        "quotaType": {
          "description": "The type of the user's storage quota. Possible values are: * `LIMITED` * `UNLIMITED`",
          "type": "string"
        },
        "etag": {
          "description": "The ETag of the item.",
          "type": "string"
        },
        "languageCode": {
          "type": "string",
          "description": "The user's language or locale code, as defined by BCP 47, with some extensions from Unicode's LDML format (http://www.unicode.org/reports/tr35/)."
        },
        "exportFormats": {
          "items": {
            "type": "object",
            "properties": {
              "source": {
                "description": "The content type to convert from.",
                "type": "string"
              },
              "targets": {
                "description": "The possible content types to convert to.",
                "items": {
                  "type": "string"
                },
                "type": "array"
              }
            }
          },
          "type": "array",
          "description": "The allowable export formats."
        },
        "canCreateDrives": {
          "description": "Whether the user can create shared drives.",
          "type": "boolean"
        },
        "quotaBytesUsed": {
          "type": "string",
          "description": "The number of quota bytes used by Google Drive.",
          "format": "int64"
        },
        "selfLink": {
          "description": "A link back to this item.",
          "type": "string"
        },
        "rootFolderId": {
          "type": "string",
          "description": "The id of the root folder."
        },
        "kind": {
          "description": "This is always `drive#about`.",
          "type": "string",
          "default": "drive#about"
        },
        "additionalRoleInfo": {
          "description": "Information about supported additional roles per file type. The most specific type takes precedence.",
          "items": {
            "properties": {
              "type": {
                "type": "string",
                "description": "The content type that this additional role info applies to."
              },
              "roleSets": {
                "description": "The supported additional roles per primary role.",
                "type": "array",
                "items": {
                  "properties": {
                    "additionalRoles": {
                      "items": {
                        "type": "string"
                      },
                      "description": "The supported additional roles with the primary role.",
                      "type": "array"
                    },
                    "primaryRole": {
                      "description": "A primary permission role.",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "type": "object"
          },
          "type": "array"
        },
        "name": {
          "description": "The name of the current user.",
          "type": "string"
        },
        "quotaBytesTotal": {
          "type": "string",
          "description": "The total number of quota bytes. This is only relevant when quotaType is LIMITED.",
          "format": "int64"
        },
        "remainingChangeIds": {
          "description": "The number of remaining change ids, limited to no more than 2500.",
          "format": "int64",
          "type": "string"
        },
        "driveThemes": {
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "The ID of the theme."
              },
              "colorRgb": {
                "description": "The color of this theme as an RGB hex string.",
                "type": "string"
              },
              "backgroundImageLink": {
                "type": "string",
                "description": "A link to this theme's background image."
              }
            }
          },
          "description": "A list of themes that are supported for shared drives.",
          "type": "array"
        },
        "permissionId": {
          "description": "The current user's ID as visible in the permissions collection.",
          "type": "string"
        },
        "quotaBytesUsedAggregate": {
          "type": "string",
          "format": "int64",
          "description": "The number of quota bytes used by all Google apps (Drive, Picasa, etc.)."
        },
        "domainSharingPolicy": {
          "description": "Deprecated: Does not granularly represent allowlisted domains or Trust Rules. The domain sharing policy for the current user. Possible values are: * `allowed` * `allowedWithWarning` * `incomingOnly` * `disallowed` Note that if the user is enrolled in Trust Rules, `disallowed` will always be returned. If sharing is restricted to allowlisted domains, either `incomingOnly` or `allowedWithWarning` will be returned, depending on whether receiving files from outside the allowlisted domains is permitted.",
          "deprecated": true,
          "type": "string"
        },
        "importFormats": {
          "type": "array",
          "description": "The allowable import formats.",
          "items": {
            "type": "object",
            "properties": {
              "source": {
                "type": "string",
                "description": "The imported file's content type to convert from."
              },
              "targets": {
                "items": {
                  "type": "string"
                },
                "description": "The possible content types to convert to.",
                "type": "array"
              }
            }
          }
        },
        "features": {
          "type": "array",
          "items": {
            "properties": {
              "featureName": {
                "description": "The name of the feature.",
                "type": "string"
              },
              "featureRate": {
                "description": "The request limit rate for this feature, in queries per second.",
                "type": "number",
                "format": "double"
              }
            },
            "type": "object"
          },
          "description": "List of additional features enabled on this account."
        }
      },
      "id": "About"
    },
    "Drive": {
      "description": "Representation of a shared drive. Some resource methods (such as `drives.update`) require a `driveId`. Use the `drives.list` method to retrieve the ID for a shared drive.",
      "properties": {
        "hidden": {
          "type": "boolean",
          "description": "Whether the shared drive is hidden from default view."
        },
        "createdDate": {
          "type": "string",
          "format": "date-time",
          "description": "The time at which the shared drive was created (RFC 3339 date-time)."
        },
        "kind": {
          "description": "Output only. This is always `drive#drive`",
          "default": "drive#drive",
          "type": "string"
        },
        "themeId": {
          "type": "string",
          "description": "The ID of the theme from which the background image and color will be set. The set of possible `driveThemes` can be retrieved from a `drive.about.get` response. When not specified on a `drive.drives.insert` request, a random theme is chosen from which the background image and color are set. This is a write-only field; it can only be set on requests that don't set `colorRgb` or `backgroundImageFile`."
        },
        "restrictions": {
          "type": "object",
          "properties": {
            "sharingFoldersRequiresOrganizerPermission": {
              "type": "boolean",
              "description": "If true, only users with the organizer role can share folders. If false, users with either the organizer role or the file organizer role can share folders."
            },
            "adminManagedRestrictions": {
              "description": "Whether administrative privileges on this shared drive are required to modify restrictions.",
              "type": "boolean"
            },
            "copyRequiresWriterPermission": {
              "type": "boolean",
              "description": "Whether the options to copy, print, or download files inside this shared drive, should be disabled for readers and commenters. When this restriction is set to `true`, it will override the similarly named field to `true` for any file inside this shared drive."
            },
            "driveMembersOnly": {
              "type": "boolean",
              "description": "Whether access to items inside this shared drive is restricted to its members."
            },
            "domainUsersOnly": {
              "type": "boolean",
              "description": "Whether access to this shared drive and items inside this shared drive is restricted to users of the domain to which this shared drive belongs. This restriction may be overridden by other sharing policies controlled outside of this shared drive."
            }
          },
          "description": "A set of restrictions that apply to this shared drive or items inside this shared drive."
        },
        "orgUnitId": {
          "description": "Output only. The organizational unit of this shared drive. This field is only populated on `drives.list` responses when the `useDomainAdminAccess` parameter is set to `true`.",
          "type": "string"
        },
        "backgroundImageLink": {
          "type": "string",
          "description": "Output only. A short-lived link to this shared drive's background image."
        },
        "capabilities": {
          "description": "Output only. Capabilities the current user has on this shared drive.",
          "type": "object",
          "properties": {
            "canChangeCopyRequiresWriterPermissionRestriction": {
              "description": "Output only. Whether the current user can change the `copyRequiresWriterPermission` restriction of this shared drive.",
              "type": "boolean"
            },
            "canChangeDomainUsersOnlyRestriction": {
              "description": "Output only. Whether the current user can change the `domainUsersOnly` restriction of this shared drive.",
              "type": "boolean"
            },
            "canManageMembers": {
              "type": "boolean",
              "description": "Output only. Whether the current user can add members to this shared drive or remove them or change their role."
            },
            "canDeleteDrive": {
              "description": "Output only. Whether the current user can delete this shared drive. Attempting to delete the shared drive may still fail if there are untrashed items inside the shared drive.",
              "type": "boolean"
            },
            "canEdit": {
              "type": "boolean",
              "description": "Output only. Whether the current user can edit files in this shared drive"
            },
            "canComment": {
              "description": "Output only. Whether the current user can comment on files in this shared drive.",
              "type": "boolean"
            },
            "canTrashChildren": {
              "description": "Output only. Whether the current user can trash children from folders in this shared drive.",
              "type": "boolean"
            },
            "canRenameDrive": {
              "type": "boolean",
              "description": "Output only. Whether the current user can rename this shared drive."
            },
            "canChangeDriveMembersOnlyRestriction": {
              "type": "boolean",
              "description": "Output only. Whether the current user can change the `driveMembersOnly` restriction of this shared drive."
            },
            "canShare": {
              "description": "Output only. Whether the current user can share files or folders in this shared drive.",
              "type": "boolean"
            },
            "canListChildren": {
              "description": "Output only. Whether the current user can list the children of folders in this shared drive.",
              "type": "boolean"
            },
            "canDeleteChildren": {
              "description": "Output only. Whether the current user can delete children from folders in this shared drive.",
              "type": "boolean"
            },
            "canChangeDriveBackground": {
[...]
