{
  "title": "Google Drive API",
  "rootUrl": "https://www.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "drive:v3",
  "discoveryVersion": "v1",
  "schemas": {
    "Permission": {
      "id": "Permission",
      "type": "object",
      "description": "A permission for a file. A permission grants a user, group, domain, or the world access to a file or a folder hierarchy. For more information, see [Share files, folders, and drives](https://developers.google.com/workspace/drive/api/guides/manage-sharing). By default, permission requests only return a subset of fields. Permission `kind`, `ID`, `type`, and `role` are always returned. To retrieve specific fields, see [Return specific fields](https://developers.google.com/workspace/drive/api/guides/fields-parameter). Some resource methods (such as `permissions.update`) require a `permissionId`. Use the `permissions.list` method to retrieve the ID for a file, folder, or shared drive.",
      "properties": {
        "domain": {
          "description": "Output only. The domain to which this permission refers.",
          "readOnly": true,
          "type": "string"
        },
        "expirationTime": {
          "format": "date-time",
          "description": "The time at which this permission will expire (RFC 3339 date-time). Expiration times have the following restrictions: - They can only be set on user and group permissions - The time must be in the future - The time cannot be more than a year in the future",
          "type": "string"
        },
        "emailAddress": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The email address of the user or group to which this permission refers."
        },
        "permissionDetails": {
          "description": "Output only. Details of whether the permissions on this item are inherited or are directly on this item.",
          "items": {
            "properties": {
              "role": {
                "description": "Output only. The primary role for this user. Supported values include: * `owner` * `organizer` * `fileOrganizer` * `writer` * `commenter` * `reader` For more information, see [Roles and permissions](https://developers.google.com/workspace/drive/api/guides/ref-roles).",
                "type": "string"
              },
              "permissionType": {
                "description": "Output only. The permission type for this user. Supported values include: * `file` * `member`",
                "type": "string"
              },
              "inheritedFrom": {
                "type": "string",
                "description": "Output only. The ID of the item from which this permission is inherited. This is only populated for items in shared drives.",
                "readOnly": true
              },
              "inherited": {
                "description": "Output only. Whether this permission is inherited. This field is always populated. This is an output-only field.",
                "type": "boolean"
              }
            },
            "type": "object"
          },
          "readOnly": true,
          "type": "array"
        },
        "id": {
          "type": "string",
          "description": "Output only. The ID of this permission. This is a unique identifier for the grantee, and is published in the [User resource](https://developers.google.com/workspace/drive/api/reference/rest/v3/User) as `permissionId`. IDs should be treated as opaque values."
        },
        "inheritedPermissionsDisabled": {
          "description": "When `true`, only organizers, owners, and users with permissions added directly on the item can access it.",
          "type": "boolean"
        },
        "view": {
          "description": "Indicates the view for this permission. Only populated for permissions that belong to a view. The only supported values are `published` and `metadata`: * `published`: The permission's role is `publishedReader`. * `metadata`: The item is only visible to the `metadata` view because the item has limited access and the scope has at least read access to the parent. The `metadata` view is only supported on folders. For more information, see [Views](https://developers.google.com/workspace/drive/api/guides/ref-roles#views).",
          "type": "string"
        },
        "pendingOwner": {
          "description": "Whether the account associated with this permission is a pending owner. Only populated for permissions of type `user` for files that aren't in a shared drive.",
          "type": "boolean"
        },
        "kind": {
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#permission\"`.",
          "type": "string",
          "default": "drive#permission"
        },
        "role": {
          "type": "string",
          "description": "The role granted by this permission. Supported values include: * `owner` * `organizer` * `fileOrganizer` * `writer` * `commenter` * `reader` For more information, see [Roles and permissions](https://developers.google.com/workspace/drive/api/guides/ref-roles).",
          "annotations": {
            "required": [
              "drive.permissions.create"
            ]
          }
        },
        "deleted": {
          "description": "Output only. Whether the account associated with this permission has been deleted. This field only pertains to permissions of type `user` or `group`.",
          "type": "boolean"
        },
        "type": {
          "type": "string",
          "description": "The type of the grantee. Supported values include: * `user` * `group` * `domain` * `anyone` When creating a permission, if `type` is `user` or `group`, you must provide an `emailAddress` for the user or group. If `type` is `domain`, you must provide a `domain`. If `type` is `anyone`, no extra information is required.",
          "annotations": {
            "required": [
              "drive.permissions.create"
            ]
          }
        },
        "allowFileDiscovery": {
          "description": "Whether the permission allows the file to be discovered through search. This is only applicable for permissions of type `domain` or `anyone`.",
          "type": "boolean"
        },
        "displayName": {
          "description": "Output only. The \"pretty\" name of the value of the permission. The following is a list of examples for each type of permission: * `user` - User's full name, as defined for their Google Account, such as \"Dana A.\" * `group` - Name of the Google Group, such as \"The Company Administrators.\" * `domain` - String domain name, such as \"cymbalgroup.com.\" * `anyone` - No `displayName` is present.",
          "type": "string"
        },
        "photoLink": {
          "description": "Output only. A link to the user's profile photo, if available.",
          "type": "string"
        },
        "teamDrivePermissionDetails": {
          "type": "array",
          "items": {
            "properties": {
              "teamDrivePermissionType": {
                "type": "string",
                "deprecated": true,
                "description": "Deprecated: Output only. Use `permissionDetails/permissionType` instead."
              },
              "role": {
                "deprecated": true,
                "type": "string",
                "description": "Deprecated: Output only. Use `permissionDetails/role` instead."
              },
              "inheritedFrom": {
                "description": "Deprecated: Output only. Use `permissionDetails/inheritedFrom` instead.",
                "deprecated": true,
                "type": "string"
              },
              "inherited": {
                "deprecated": true,
                "type": "boolean",
                "description": "Deprecated: Output only. Use `permissionDetails/inherited` instead."
              }
            },
            "type": "object"
          },
          "deprecated": true,
          "description": "Output only. Deprecated: Output only. Use `permissionDetails` instead.",
          "readOnly": true
        }
      }
    },
    "GenerateCseTokenResponse": {
      "properties": {
        "currentKaclsId": {
          "description": "The current Key ACL Service (KACLS) ID associated with the JWT.",
          "type": "string",
          "format": "int64"
        },
        "fileId": {
          "description": "The fileId for which the JWT was generated.",
          "type": "string"
        },
        "currentKaclsName": {
          "type": "string",
          "description": "Name of the KACLs that the returned KACLs ID points to."
        },
        "jwt": {
          "description": "The signed JSON Web Token (JWT) for the file.",
          "type": "string"
        },
        "kind": {
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#generateCseTokenResponse\"`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "JWT and associated metadata used to generate CSE files.",
      "id": "GenerateCseTokenResponse"
    },
    "ReplyList": {
      "properties": {
        "kind": {
          "default": "drive#replyList",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#replyList\"`.",
          "type": "string"
        },
        "replies": {
          "items": {
            "$ref": "Reply"
          },
          "type": "array",
          "description": "The list of replies. If `nextPageToken` is populated, then this list may be incomplete and an additional page of results should be fetched."
        },
        "nextPageToken": {
          "description": "The page token for the next page of replies. This will be absent if the end of the replies list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ.",
          "type": "string"
        }
      },
      "description": "A list of replies to a comment on a file.",
      "id": "ReplyList",
      "type": "object"
    },
    "Change": {
      "properties": {
        "fileId": {
          "description": "The ID of the file which has changed.",
          "type": "string"
        },
        "type": {
          "deprecated": true,
          "description": "Deprecated: Use `changeType` instead.",
          "type": "string"
        },
        "teamDriveId": {
          "type": "string",
          "deprecated": true,
          "description": "Deprecated: Use `driveId` instead."
        },
        "file": {
          "$ref": "File",
          "description": "The updated state of the file. Present if the type is file and the file has not been removed from this list of changes."
        },
        "teamDrive": {
          "description": "Deprecated: Use `drive` instead.",
          "deprecated": true,
          "$ref": "TeamDrive"
        },
        "changeType": {
          "type": "string",
          "description": "The type of the change. Possible values are `file` and `drive`."
        },
        "removed": {
          "type": "boolean",
          "description": "Whether the file or shared drive has been removed from this list of changes, for example by deletion or loss of access."
        },
        "kind": {
          "type": "string",
          "default": "drive#change",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#change\"`."
        },
        "drive": {
          "$ref": "Drive",
          "description": "The updated state of the shared drive. Present if the changeType is drive, the user is still a member of the shared drive, and the shared drive has not been deleted."
        },
        "time": {
          "type": "string",
          "format": "date-time",
          "description": "The time of this change (RFC 3339 date-time)."
        },
        "driveId": {
          "description": "The ID of the shared drive associated with this change.",
          "type": "string"
        }
      },
      "description": "A change to a file or shared drive.",
      "id": "Change",
      "type": "object"
    },
    "ClientEncryptionDetails": {
      "description": "Details about the client-side encryption applied to the file.",
      "id": "ClientEncryptionDetails",
      "type": "object",
      "properties": {
        "encryptionState": {
          "description": "The encryption state of the file. The values expected here are: - encrypted - unencrypted ",
          "type": "string"
        },
        "decryptionMetadata": {
          "description": "The metadata used for client-side operations.",
          "$ref": "DecryptionMetadata"
        }
      }
    },
    "StartApprovalRequest": {
      "properties": {
        "dueTime": {
          "format": "google-datetime",
          "description": "Optional. The time that the approval is due.",
          "type": "string"
        },
        "reviewerEmails": {
          "description": "Required. The emails of the users who are set to review the approval.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "message": {
          "description": "Optional. A message to send to reviewers when notifying them of the approval request.",
          "type": "string"
        },
        "lockFile": {
          "description": "Optional. Whether to lock the file when starting the approval.",
          "type": "boolean"
        },
        "fileContentChangeBehavior": {
          "description": "Optional. The behavior of the approval when the file content changes.",
          "type": "string",
          "enum": [
            "FILE_CONTENT_CHANGE_BEHAVIOR_UNSPECIFIED",
            "RESET_APPROVAL",
            "NO_APPROVAL_ACTION"
          ],
          "enumDescriptions": [
            "The behavior is unspecified.",
            "Any ReviewerResponse with a Response of APPROVED will be reset to NO_DECISION when the file content changes while the approval has a Status of IN_PROGRESS. When the approval has a Status of APPROVED and RESET_APPROVAL is selected, the file is locked.",
            "No action is taken when the file content changes."
          ]
        }
      },
      "type": "object",
      "id": "StartApprovalRequest",
      "description": "Allows creating an approval on a file."
    },
    "DriveList": {
      "type": "object",
      "description": "A list of shared drives.",
      "id": "DriveList",
      "properties": {
        "drives": {
          "description": "The list of shared drives. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "items": {
            "$ref": "Drive"
          },
          "type": "array"
        },
        "kind": {
          "default": "drive#driveList",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#driveList\"`.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The page token for the next page of shared drives. This will be absent if the end of the list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ."
        }
      }
    },
    "TeamDrive": {
      "description": "Deprecated: use the drive collection instead. Next ID: 33",
      "type": "object",
      "properties": {
        "id": {
          "description": "The ID of this Team Drive which is also the ID of the top level folder of this Team Drive.",
          "type": "string"
        },
        "colorRgb": {
          "description": "The color of this Team Drive as an RGB hex string. It can only be set on a `drive.teamdrives.update` request that does not set `themeId`.",
          "type": "string"
        },
        "backgroundImageFile": {
          "properties": {
            "id": {
              "description": "The ID of an image file in Drive to use for the background image.",
              "type": "string"
            },
            "yCoordinate": {
              "description": "The Y coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the vertical distance from the top side of the entire image to the top side of the cropping area divided by the height of the entire image.",
              "type": "number",
              "format": "float"
            },
            "xCoordinate": {
              "type": "number",
              "description": "The X coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the horizontal distance from the left side of the entire image to the left side of the cropping area divided by the width of the entire image.",
              "format": "float"
            },
            "width": {
              "type": "number",
              "format": "float",
              "description": "The width of the cropped image in the closed range of 0 to 1. This value represents the width of the cropped image divided by the width of the entire image. The height is computed by applying a width to height aspect ratio of 80 to 9. The resulting image must be at least 1280 pixels wide and 144 pixels high."
            }
          },
          "description": "The background image file for a Team Drive.",
          "type": "object"
        },
        "name": {
          "description": "The name of this Team Drive.",
          "type": "string"
        },
        "restrictions": {
          "type": "object",
          "properties": {
            "domainUsersOnly": {
              "description": "Whether access to this Team Drive and items inside this Team Drive is restricted to users of the domain to which this Team Drive belongs. This restriction may be overridden by other sharing policies controlled outside of this Team Drive.",
              "type": "boolean"
            },
            "teamMembersOnly": {
              "type": "boolean",
              "description": "Whether access to items inside this Team Drive is restricted to members of this Team Drive."
            },
            "downloadRestriction": {
              "$ref": "DownloadRestriction",
              "description": "Download restrictions applied by shared drive managers."
            },
            "adminManagedRestrictions": {
              "type": "boolean",
              "description": "Whether administrative privileges on this Team Drive are required to modify restrictions."
            },
            "copyRequiresWriterPermission": {
              "type": "boolean",
              "description": "Whether the options to copy, print, or download files inside this Team Drive, should be disabled for readers and commenters. When this restriction is set to `true`, it will override the similarly named field to `true` for any file inside this Team Drive."
            },
            "sharingFoldersRequiresOrganizerPermission": {
              "type": "boolean",
              "description": "If true, only users with the organizer role can share folders. If false, users with either the organizer role or the file organizer role can share folders."
            }
          },
          "description": "A set of restrictions that apply to this Team Drive or items inside this Team Drive."
        },
        "backgroundImageLink": {
          "type": "string",
          "description": "A short-lived link to this Team Drive's background image."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#teamDrive\"`.",
          "default": "drive#teamDrive",
          "type": "string"
        },
        "createdTime": {
          "description": "The time at which the Team Drive was created (RFC 3339 date-time).",
          "type": "string",
          "format": "date-time"
        },
        "capabilities": {
          "type": "object",
          "properties": {
            "canChangeTeamMembersOnlyRestriction": {
              "type": "boolean",
              "description": "Whether the current user can change the `teamMembersOnly` restriction of this Team Drive."
            },
            "canAddChildren": {
              "description": "Whether the current user can add children to folders in this Team Drive.",
              "type": "boolean"
            },
            "canCopy": {
              "description": "Whether the current user can copy files in this Team Drive.",
              "type": "boolean"
            },
            "canComment": {
              "description": "Whether the current user can comment on files in this Team Drive.",
              "type": "boolean"
            },
            "canRename": {
              "description": "Whether the current user can rename files or folders in this Team Drive.",
              "type": "boolean"
            },
            "canReadRevisions": {
              "description": "Whether the current user can read the revisions resource of files in this Team Drive.",
              "type": "boolean"
            },
            "canTrashChildren": {
              "description": "Whether the current user can trash children from folders in this Team Drive.",
              "type": "boolean"
            },
            "canChangeCopyRequiresWriterPermissionRestriction": {
              "description": "Whether the current user can change the `copyRequiresWriterPermission` restriction of this Team Drive.",
              "type": "boolean"
            },
            "canChangeTeamDriveBackground": {
              "type": "boolean",
              "description": "Whether the current user can change the background of this Team Drive."
            },
            "canEdit": {
              "type": "boolean",
              "description": "Whether the current user can edit files in this Team Drive"
            },
            "canRemoveChildren": {
              "description": "Deprecated: Use `canDeleteChildren` or `canTrashChildren` instead.",
              "deprecated": true,
              "type": "boolean"
            },
            "canChangeDownloadRestriction": {
              "description": "Output only. Whether the current user can change organizer-applied download restrictions of this shared drive.",
              "type": "boolean",
              "readOnly": true
            },
            "canChangeDomainUsersOnlyRestriction": {
              "type": "boolean",
              "description": "Whether the current user can change the `domainUsersOnly` restriction of this Team Drive."
            },
            "canChangeSharingFoldersRequiresOrganizerPermissionRestriction": {
              "description": "Whether the current user can change the `sharingFoldersRequiresOrganizerPermission` restriction of this Team Drive.",
              "type": "boolean"
            },
            "canRenameTeamDrive": {
              "description": "Whether the current user can rename this Team Drive.",
              "type": "boolean"
            },
            "canDownload": {
              "description": "Whether the current user can download files in this Team Drive.",
              "type": "boolean"
            },
            "canDeleteChildren": {
              "type": "boolean",
              "description": "Whether the current user can delete children from folders in this Team Drive."
            },
            "canListChildren": {
              "type": "boolean",
              "description": "Whether the current user can list the children of folders in this Team Drive."
            },
            "canShare": {
              "description": "Whether the current user can share files or folders in this Team Drive.",
              "type": "boolean"
            },
            "canDeleteTeamDrive": {
              "description": "Whether the current user can delete this Team Drive. Attempting to delete the Team Drive may still fail if there are untrashed items inside the Team Drive.",
              "type": "boolean"
            },
            "canManageMembers": {
              "description": "Whether the current user can add members to this Team Drive or remove them or change their role.",
              "type": "boolean"
            },
            "canResetTeamDriveRestrictions": {
              "description": "Whether the current user can reset the Team Drive restrictions to defaults.",
              "type": "boolean"
            }
          },
          "description": "Capabilities the current user has on this Team Drive."
        },
        "orgUnitId": {
          "description": "The organizational unit of this shared drive. This field is only populated on `drives.list` responses when the `useDomainAdminAccess` parameter is set to `true`.",
          "type": "string"
        },
        "themeId": {
          "type": "string",
          "description": "The ID of the theme from which the background image and color will be set. The set of possible `teamDriveThemes` can be retrieved from a `drive.about.get` response. When not specified on a `drive.teamdrives.create` request, a random theme is chosen from which the background image and color are set. This is a write-only field; it can only be set on requests that don't set `colorRgb` or `backgroundImageFile`."
        }
      },
      "id": "TeamDrive"
    },
    "AddReviewer": {
      "id": "AddReviewer",
      "type": "object",
      "description": "Representation of a reviewer addition.",
      "properties": {
        "addedReviewerEmail": {
          "description": "Required. The email of the reviewer to add.",
          "type": "string"
        }
      }
    },
    "ReplaceReviewer": {
      "properties": {
        "addedReviewerEmail": {
          "type": "string",
          "description": "Required. The email of the reviewer to add."
        },
        "removedReviewerEmail": {
          "type": "string",
          "description": "Required. The email of the reviewer to remove."
        }
      },
      "type": "object",
      "id": "ReplaceReviewer",
      "description": "Representation of a reviewer replacement."
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "id": "Operation",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      }
    },
    "CancelApprovalRequest": {
      "properties": {
        "message": {
          "type": "string",
          "description": "Optional. A message to accompany the cancellation of the approval. This message is included in notifications for the action and in the approval activity log."
        }
      },
      "id": "CancelApprovalRequest",
      "description": "Request for cancelling an approval as an initiator.",
      "type": "object"
    },
    "RevisionList": {
      "description": "A list of revisions of a file.",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "default": "drive#revisionList",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#revisionList\"`."
        },
        "revisions": {
          "description": "The list of revisions. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "items": {
            "$ref": "Revision"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The page token for the next page of revisions. This will be absent if the end of the revisions list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ."
        }
      },
      "id": "RevisionList"
    },
    "ContentRestriction": {
      "properties": {
        "restrictingUser": {
          "description": "Output only. The user who set the content restriction. Only populated if `readOnly=true`.",
          "$ref": "User"
        },
        "ownerRestricted": {
          "description": "Whether the content restriction can only be modified or removed by a user who owns the file. For files in shared drives, any user with `organizer` capabilities can modify or remove this content restriction.",
          "type": "boolean"
        },
        "restrictionTime": {
          "format": "date-time",
          "type": "string",
          "description": "The time at which the content restriction was set (formatted RFC 3339 timestamp). Only populated if readOnly is true."
        },
        "readOnly": {
          "description": "Whether the content of the file is read-only. If a file is read-only, a new revision of the file may not be added, comments may not be added or modified, and the title of the file may not be modified.",
          "type": "boolean"
        },
        "reason": {
          "type": "string",
          "description": "Reason for why the content of the file is restricted. This is only mutable on requests that also set `readOnly=true`."
        },
        "systemRestricted": {
          "description": "Output only. Whether the content restriction was applied by the system, for example due to an esignature. Users cannot modify or remove system restricted content restrictions.",
          "type": "boolean"
        },
        "type": {
          "description": "Output only. The type of the content restriction. Currently the only possible value is `globalContentRestriction`.",
          "type": "string"
        }
      },
      "description": "A restriction for accessing the content of the file.",
      "id": "ContentRestriction",
      "type": "object"
    },
    "About": {
      "properties": {
        "storageQuota": {
          "properties": {
            "usage": {
              "type": "string",
              "format": "int64",
              "description": "The total usage across all services. For users that are part of an organization with pooled storage, this is the usage across all services for the organization, rather than the individual user."
            },
            "usageInDriveTrash": {
              "type": "string",
              "description": "The usage by trashed files in Google Drive.",
              "format": "int64"
            },
            "usageInDrive": {
              "type": "string",
              "description": "The usage by all files in Google Drive.",
              "format": "int64"
            },
            "limit": {
              "format": "int64",
              "description": "The usage limit, if applicable. This will not be present if the user has unlimited storage. For users that are part of an organization with pooled storage, this is the limit for the organization, rather than the individual user.",
              "type": "string"
            }
          },
          "description": "The user's storage quota limits and usage. For users that are part of an organization with pooled storage, information about the limit and usage across all services is for the organization, rather than the individual user. All fields are measured in bytes.",
          "type": "object"
        },
        "user": {
          "description": "The authenticated user.",
          "$ref": "User"
        },
        "exportFormats": {
          "type": "object",
          "additionalProperties": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "description": "A map of source MIME type to possible targets for all supported exports."
        },
        "maxUploadSize": {
          "format": "int64",
          "type": "string",
          "description": "The maximum upload size in bytes."
        },
        "appInstalled": {
          "type": "boolean",
          "description": "Whether the user has installed the requesting app."
        },
        "teamDriveThemes": {
          "items": {
            "properties": {
              "id": {
                "description": "Deprecated: Use `driveThemes/id` instead.",
                "type": "string",
                "deprecated": true
              },
              "backgroundImageLink": {
                "type": "string",
                "description": "Deprecated: Use `driveThemes/backgroundImageLink` instead.",
                "deprecated": true
              },
              "colorRgb": {
                "description": "Deprecated: Use `driveThemes/colorRgb` instead.",
                "deprecated": true,
                "type": "string"
              }
            },
            "type": "object"
          },
          "type": "array",
          "deprecated": true,
          "description": "Deprecated: Use `driveThemes` instead."
        },
        "importFormats": {
          "additionalProperties": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "description": "A map of source MIME type to possible targets for all supported imports.",
          "type": "object"
        },
        "driveThemes": {
          "items": {
            "properties": {
              "backgroundImageLink": {
                "description": "A link to this theme's background image.",
                "type": "string"
              },
              "id": {
                "type": "string",
                "description": "The ID of the theme."
              },
              "colorRgb": {
                "type": "string",
                "description": "The color of this theme as an RGB hex string."
              }
            },
            "type": "object"
          },
          "type": "array",
          "description": "A list of themes that are supported for shared drives."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#about\"`.",
          "default": "drive#about"
        },
        "canCreateTeamDrives": {
          "type": "boolean",
          "description": "Deprecated: Use `canCreateDrives` instead.",
          "deprecated": true
        },
        "canCreateDrives": {
          "type": "boolean",
          "description": "Whether the user can create shared drives."
        },
        "folderColorPalette": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The currently supported folder colors as RGB hex strings."
        },
        "maxImportSizes": {
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          },
          "type": "object",
          "description": "A map of maximum import sizes by MIME type, in bytes."
        }
      },
      "type": "object",
      "description": "Information about the user, the user's Drive, and system capabilities.",
      "id": "About"
    },
    "ApproveApprovalRequest": {
      "properties": {
        "message": {
          "description": "Optional. A message to accompany the reviewer response on the approval. This message is included in notifications for the action and in the approval activity log.",
          "type": "string"
        }
      },
      "description": "Request for approving an approval as a reviewer.",
      "type": "object",
      "id": "ApproveApprovalRequest"
    },
    "AccessProposal": {
      "description": "Manage outstanding access proposals on a file.",
      "properties": {
        "requestMessage": {
          "description": "The message that the requester added to the proposal.",
          "type": "string"
        },
        "rolesAndViews": {
          "description": "A wrapper for the role and view of an access proposal. For more information, see [Roles and permissions](https://developers.google.com/workspace/drive/api/guides/ref-roles).",
          "items": {
            "$ref": "AccessProposalRoleAndView"
          },
          "type": "array"
        },
        "proposalId": {
          "type": "string",
          "description": "The ID of the access proposal."
        },
        "fileId": {
          "description": "The file ID that the proposal for access is on.",
          "type": "string"
        },
        "requesterEmailAddress": {
          "type": "string",
          "description": "The email address of the requesting user."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The creation time."
        },
        "recipientEmailAddress": {
          "type": "string",
          "description": "The email address of the user that will receive permissions, if accepted."
        }
      },
      "type": "object",
      "id": "AccessProposal"
    },
    "ReassignApprovalRequest": {
      "properties": {
        "addReviewers": {
          "description": "Optional. The list of reviewers to add.",
          "type": "array",
          "items": {
            "$ref": "AddReviewer"
          }
        },
        "replaceReviewers": {
          "type": "array",
          "description": "Optional. The list of reviewer replacements.",
          "items": {
            "$ref": "ReplaceReviewer"
          }
        },
        "message": {
          "type": "string",
          "description": "Optional. A message to send to the new reviewers. This message is included in notifications for the action and in the approval activity log."
        }
      },
      "type": "object",
      "id": "ReassignApprovalRequest",
      "description": "Request for reassigning an approval. Reviewers can be added or replaced, but not removed."
    },
    "LabelField": {
      "type": "object",
      "description": "Representation of field, which is a typed key-value pair.",
      "id": "LabelField",
      "properties": {
        "valueType": {
          "type": "string",
          "description": "The field type. While new values may be supported in the future, the following are currently allowed: * `dateString` * `integer` * `selection` * `text` * `user`"
        },
        "id": {
          "type": "string",
          "description": "The identifier of this label field."
        },
        "kind": {
          "type": "string",
          "description": "This is always drive#labelField."
        },
        "dateString": {
          "items": {
            "format": "date",
            "type": "string"
          },
          "type": "array",
          "description": "Only present if valueType is dateString. RFC 3339 formatted date: YYYY-MM-DD."
        },
        "integer": {
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "Only present if `valueType` is `integer`."
        },
        "selection": {
          "description": "Only present if `valueType` is `selection`",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "text": {
          "type": "array",
          "description": "Only present if `valueType` is `text`.",
          "items": {
            "type": "string"
          }
        },
        "user": {
          "items": {
            "$ref": "User"
          },
          "type": "array",
          "description": "Only present if `valueType` is `user`."
        }
      }
    },
    "Status": {
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "Status"
    },
    "Approval": {
      "description": "Metadata for an approval. An approval is a review or approve process for a Drive item.",
      "properties": {
        "dueTime": {
          "type": "string",
          "description": "The time that the approval is due.",
          "format": "google-datetime"
        },
        "approvalId": {
          "type": "string",
          "description": "The approval ID."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the approval was created.",
          "type": "string"
        },
        "completeTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the approval was completed.",
          "format": "google-datetime"
        },
        "kind": {
          "type": "string",
          "description": "This is always drive#approval."
        },
        "status": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The status of the approval at the time this resource was requested.",
          "enum": [
            "STATUS_UNSPECIFIED",
            "IN_PROGRESS",
            "APPROVED",
            "CANCELLED",
            "DECLINED"
          ],
          "enumDescriptions": [
            "The approval status has not been set or was set to an invalid value.",
            "The approval process has started and not finished.",
            "The approval process is finished and the target was approved.",
            "The approval process was cancelled before it finished.",
            "The approval process is finished and the target was declined."
          ]
        },
        "targetFileId": {
          "type": "string",
          "description": "Target file id of the approval."
        },
        "initiator": {
          "$ref": "User",
          "description": "The user that requested the approval."
        },
        "modifyTime": {
          "type": "string",
          "description": "Output only. The most recent time the approval was modified.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "reviewerResponses": {
          "description": "The responses made on the approval by reviewers.",
          "type": "array",
          "items": {
            "$ref": "ReviewerResponse"
          }
        },
        "fileContentChangeBehavior": {
          "enum": [
            "FILE_CONTENT_CHANGE_BEHAVIOR_UNSPECIFIED",
            "RESET_APPROVAL",
            "NO_APPROVAL_ACTION"
          ],
          "enumDescriptions": [
            "The behavior is unspecified.",
            "Any ReviewerResponse with a Response of APPROVED will be reset to NO_DECISION when the file content changes while the approval has a Status of IN_PROGRESS. When the approval has a Status of APPROVED and RESET_APPROVAL is selected, the file is locked.",
            "No action is taken when the file content changes."
          ],
          "description": "Output only. The behavior of the approval when the file content changes.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "Approval"
    },
    "ChangeList": {
      "id": "ChangeList",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#changeList\"`.",
          "default": "drive#changeList"
        },
        "changes": {
          "description": "The list of changes. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "items": {
            "$ref": "Change"
          },
          "type": "array"
        },
        "newStartPageToken": {
          "type": "string",
          "description": "The starting page token for future changes. This will be present only if the end of the current changes list has been reached. The page token doesn't expire."
        },
        "nextPageToken": {
          "description": "The page token for the next page of changes. This will be absent if the end of the changes list has been reached. The page token doesn't expire.",
          "type": "string"
        }
      },
      "description": "A list of changes for a user."
    },
    "TeamDriveList": {
      "description": "A list of Team Drives.",
      "type": "object",
      "id": "TeamDriveList",
      "properties": {
        "teamDrives": {
          "items": {
            "$ref": "TeamDrive"
          },
          "description": "The list of Team Drives. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "type": "array"
        },
        "kind": {
          "default": "drive#teamDriveList",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#teamDriveList\"`."
        },
        "nextPageToken": {
          "description": "The page token for the next page of Team Drives. This will be absent if the end of the Team Drives list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ.",
          "type": "string"
        }
      }
    },
    "ReviewerResponse": {
      "type": "object",
      "properties": {
        "reviewer": {
          "description": "The user that's responsible for this response.",
          "$ref": "User"
        },
        "response": {
          "enumDescriptions": [
            "The response was set to an unrecognized value.",
            "The reviewer hasn't responded.",
            "The reviewer has approved the item.",
            "The reviewer has declined the item."
          ],
          "description": "A reviewer’s response for the approval.",
          "type": "string",
          "enum": [
            "RESPONSE_UNSPECIFIED",
            "NO_RESPONSE",
            "APPROVED",
            "DECLINED"
          ]
        },
        "kind": {
          "description": "This is always drive#reviewerResponse.",
          "type": "string"
        }
      },
      "id": "ReviewerResponse",
      "description": "A response on an approval made by a specific reviewer."
    },
    "AppList": {
      "type": "object",
      "description": "A list of third-party applications which the user has installed or given access to Google Drive.",
      "properties": {
        "defaultAppIds": {
          "type": "array",
          "description": "The list of app IDs that the user has specified to use by default. The list is in reverse-priority order (lowest to highest).",
          "items": {
            "type": "string"
          }
        },
        "selfLink": {
          "type": "string",
          "description": "A link back to this list."
        },
        "kind": {
          "default": "drive#appList",
          "type": "string",
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string \"drive#appList\"."
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "App"
          },
          "description": "The list of apps."
        }
      },
      "id": "AppList"
    },
    "Reply": {
      "type": "object",
      "id": "Reply",
      "description": "A reply to a comment on a file. Some resource methods (such as `replies.update`) require a `replyId`. Use the `replies.list` method to retrieve the ID for a reply.",
      "properties": {
        "kind": {
          "default": "drive#reply",
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#reply\"`.",
          "type": "string"
        },
        "content": {
          "description": "The plain text content of the reply. This field is used for setting the content, while `htmlContent` should be displayed. This field is required by the `create` method if no `action` value is specified.",
          "annotations": {
            "required": [
              "drive.replies.update"
            ]
          },
          "type": "string"
        },
        "id": {
          "description": "Output only. The ID of the reply.",
          "type": "string"
        },
        "assigneeEmailAddress": {
          "type": "string",
          "description": "Output only. The email address of the user assigned to this comment. If no user is assigned, the field is unset.",
          "readOnly": true
        },
        "mentionedEmailAddresses": {
          "type": "array",
          "description": "Output only. A list of email addresses for users mentioned in this comment. If no users are mentioned, the list is empty.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "author": {
          "$ref": "User",
          "description": "Output only. The author of the reply. The author's email address and permission ID won't be populated."
        },
        "deleted": {
          "type": "boolean",
          "description": "Output only. Whether the reply has been deleted. A deleted reply has no content."
        },
        "createdTime": {
          "type": "string",
          "format": "date-time",
          "description": "The time at which the reply was created (RFC 3339 date-time)."
        },
        "htmlContent": {
          "type": "string",
          "description": "Output only. The content of the reply with HTML formatting."
        },
        "action": {
          "type": "string",
          "description": "The action the reply performed to the parent comment. The supported values are: * `resolve` * `reopen`"
        },
        "modifiedTime": {
          "format": "date-time",
          "description": "The last time the reply was modified (RFC 3339 date-time).",
          "type": "string"
        }
      }
    },
    "StartPageToken": {
      "type": "object",
      "properties": {
        "kind": {
          "default": "drive#startPageToken",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#startPageToken\"`.",
          "type": "string"
        },
        "startPageToken": {
          "description": "The starting page token for listing future changes. The page token doesn't expire.",
          "type": "string"
        }
      },
      "id": "StartPageToken"
    },
    "GeneratedIds": {
      "description": "A list of generated file IDs which can be provided in create requests.",
      "type": "object",
      "id": "GeneratedIds",
      "properties": {
        "kind": {
          "type": "string",
          "default": "drive#generatedIds",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#generatedIds\"`."
        },
        "space": {
          "type": "string",
          "description": "The type of file that can be created with these IDs."
        },
        "ids": {
          "type": "array",
          "description": "The IDs generated for the requesting user in the specified space.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Drive": {
      "description": "Representation of a shared drive. Some resource methods (such as `drives.update`) require a `driveId`. Use the `drives.list` method to retrieve the ID for a shared drive.",
      "type": "object",
      "properties": {
        "backgroundImageFile": {
          "type": "object",
          "description": "An image file and cropping parameters from which a background image for this shared drive is set. This is a write only field; it can only be set on `drive.drives.update` requests that don't set `themeId`. When specified, all fields of the `backgroundImageFile` must be set.",
          "properties": {
            "yCoordinate": {
              "type": "number",
              "description": "The Y coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the vertical distance from the top side of the entire image to the top side of the cropping area divided by the height of the entire image.",
              "format": "float"
            },
            "width": {
              "format": "float",
              "type": "number",
              "description": "The width of the cropped image in the closed range of 0 to 1. This value represents the width of the cropped image divided by the width of the entire image. The height is computed by applying a width to height aspect ratio of 80 to 9. The resulting image must be at least 1280 pixels wide and 144 pixels high."
            },
            "id": {
              "type": "string",
              "description": "The ID of an image file in Google Drive to use for the background image."
            },
            "xCoordinate": {
              "format": "float",
              "description": "The X coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the horizontal distance from the left side of the entire image to the left side of the cropping area divided by the width of the entire image.",
              "type": "number"
            }
          }
        },
        "themeId": {
          "type": "string",
          "description": "The ID of the theme from which the background image and color will be set. The set of possible `driveThemes` can be retrieved from a `drive.about.get` response. When not specified on a `drive.drives.create` request, a random theme is chosen from which the background image and color are set. This is a write-only field; it can only be set on requests that don't set `colorRgb` or `backgroundImageFile`."
        },
        "id": {
          "description": "Output only. The ID of this shared drive which is also the ID of the top level folder of this shared drive.",
          "type": "string"
        },
        "name": {
          "description": "The name of this shared drive.",
          "type": "string"
        },
        "capabilities": {
          "type": "object",
          "description": "Output only. Capabilities the current user has on this shared drive.",
          "properties": {
            "canReadRevisions": {
              "description": "Output only. Whether the current user can read the revisions resource of files in this shared drive.",
              "type": "boolean"
            },
            "canTrashChildren": {
              "description": "Output only. Whether the current user can trash children from folders in this shared drive.",
              "type": "boolean"
            },
            "canChangeDownloadRestriction": {
              "description": "Output only. Whether the current user can change organizer-applied download restrictions of this shared drive.",
              "type": "boolean"
            },
            "canEdit": {
              "type": "boolean",
              "description": "Output only. Whether the current user can edit files in this shared drive"
            },
            "canShare": {
              "description": "Output only. Whether the current user can share files or folders in this shared drive.",
              "type": "boolean"
            },
            "canAddChildren": {
              "type": "boolean",
              "description": "Output only. Whether the current user can add children to folders in this shared drive."
            },
            "canChangeDomainUsersOnlyRestriction": {
              "type": "boolean",
              "description": "Output only. Whether the current user can change the `domainUsersOnly` restriction of this shared drive."
            },
            "canListChildren": {
              "description": "Output only. Whether the current user can list the children of folders in this shared drive.",
              "type": "boolean"
            },
            "canDownload": {
              "description": "Output only. Whether the current user can download files in this shared drive.",
              "type": "boolean"
            },
            "canChangeCopyRequiresWriterPermissionRestriction": {
              "type": "boolean",
              "description": "Output only. Whether the current user can change the `copyRequiresWriterPermission` restriction of this shared drive."
            },
            "canChangeDriveMembersOnlyRestriction": {
              "type": "boolean",
              "description": "Output only. Whether the current user can change the `driveMembersOnly` restriction of this shared drive."
            },
            "canCopy": {
              "type": "boolean",
              "description": "Output only. Whether the current user can copy files in this shared drive."
            },
            "canDeleteDrive": {
              "type": "boolean",
              "description": "Output only. Whether the current user can delete this shared drive. Attempting to delete the shared drive may still fail if there are untrashed items inside the shared drive."
            },
            "canRename": {
              "type": "boolean",
              "description": "Output only. Whether the current user can rename files or folders in this shared drive."
            },
            "canDeleteChildren": {
              "type": "boolean",
              "description": "Output only. Whether the current user can delete children from folders in this shared drive."
            },
            "canChangeSharingFoldersRequiresOrganizerPermissionRestriction": {
              "type": "boolean",
              "description": "Output only. Whether the current user can change the `sharingFoldersRequiresOrganizerPermission` restriction of this shared drive."
            },
            "canResetDriveRestrictions": {
              "description": "Output only. Whether the current user can reset the shared drive restrictions to defaults.",
              "type": "boolean"
            },
            "canComment": {
              "type": "boolean",
              "description": "Output only. Whether the current user can comment on files in this shared drive."
            },
            "canManageMembers": {
              "description": "Output only. Whether the current user can add members to this shared drive or remove them or change their role.",
              "type": "boolean"
            },
            "canChangeDriveBackground": {
              "description": "Output only. Whether the current user can change the background of this shared drive.",
              "type": "boolean"
            },
            "canRenameDrive": {
              "description": "Output only. Whether the current user can rename this shared drive.",
              "type": "boolean"
            }
          }
        },
        "orgUnitId": {
          "description": "Output only. The organizational unit of this shared drive. This field is only populated on `drives.list` responses when the `useDomainAdminAccess` parameter is set to `true`.",
          "type": "string"
        },
        "colorRgb": {
          "type": "string",
          "description": "The color of this shared drive as an RGB hex string. It can only be set on a `drive.drives.update` request that does not set `themeId`."
        },
        "kind": {
          "default": "drive#drive",
          "type": "string",
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#drive\"`."
        },
        "backgroundImageLink": {
          "type": "string",
          "description": "Output only. A short-lived link to this shared drive's background image."
        },
        "restrictions": {
          "type": "object",
          "description": "A set of restrictions that apply to this shared drive or items inside this shared drive. Note that restrictions can't be set when creating a shared drive. To add a restriction, first create a shared drive and then use `drives.update` to add restrictions.",
          "properties": {
            "domainUsersOnly": {
              "type": "boolean",
              "description": "Whether access to this shared drive and items inside this shared drive is restricted to users of the domain to which this shared drive belongs. This restriction may be overridden by other sharing policies controlled outside of this shared drive."
            },
            "adminManagedRestrictions": {
              "description": "Whether administrative privileges on this shared drive are required to modify restrictions.",
              "type": "boolean"
            },
            "downloadRestriction": {
              "$ref": "DownloadRestriction",
              "description": "Download restrictions applied by shared drive managers."
            },
            "driveMembersOnly": {
              "type": "boolean",
              "description": "Whether access to items inside this shared drive is restricted to its members."
            },
            "sharingFoldersRequiresOrganizerPermission": {
              "description": "If true, only users with the organizer role can share folders. If false, users with either the organizer role or the file organizer role can share folders.",
              "type": "boolean"
            },
            "copyRequiresWriterPermission": {
              "type": "boolean",
              "description": "Whether the options to copy, print, or download files inside this shared drive, should be disabled for readers and commenters. When this restriction is set to `true`, it will override the similarly named field to `true` for any file inside this shared drive."
            }
          }
        },
        "hidden": {
          "description": "Whether the shared drive is hidden from default view.",
          "type": "boolean"
        },
        "createdTime": {
          "type": "string",
          "description": "The time at which the shared drive was created (RFC 3339 date-time).",
          "format": "date-time"
        }
      },
      "id": "Drive"
    },
    "Revision": {
      "description": "The metadata for a revision to a file. Some resource methods (such as `revisions.update`) require a `revisionId`. Use the `revisions.list` method to retrieve the ID for a revision.",
      "properties": {
        "exportLinks": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. Links for exporting Docs Editors files to specific formats."
        },
        "published": {
          "type": "boolean",
          "description": "Whether this revision is published. This is only applicable to Docs Editors files."
        },
        "keepForever": {
          "type": "boolean",
          "description": "Whether to keep this revision forever, even if it is no longer the head revision. If not set, the revision will be automatically purged 30 days after newer content is uploaded. This can be set on a maximum of 200 revisions for a file. This field is only applicable to files with binary content in Drive."
        },
        "publishedLink": {
          "description": "Output only. A link to the published revision. This is only populated for Docs Editors files.",
          "type": "string"
        },
        "publishAuto": {
          "description": "Whether subsequent revisions will be automatically republished. This is only applicable to Docs Editors files.",
          "type": "boolean"
        },
        "md5Checksum": {
          "type": "string",
          "description": "Output only. The MD5 checksum of the revision's content. This is only applicable to files with binary content in Drive."
        },
        "lastModifyingUser": {
          "$ref": "User",
          "description": "Output only. The last user to modify this revision. This field is only populated when the last modification was performed by a signed-in user."
        },
        "mimeType": {
          "type": "string",
          "description": "Output only. The MIME type of the revision."
        },
        "modifiedTime": {
          "description": "The last time the revision was modified (RFC 3339 date-time).",
          "type": "string",
          "format": "date-time"
        },
        "size": {
          "description": "Output only. The size of the revision's content in bytes. This is only applicable to files with binary content in Drive.",
          "type": "string",
          "format": "int64"
        },
        "originalFilename": {
          "description": "Output only. The original filename used to create this revision. This is only applicable to files with binary content in Drive.",
          "type": "string"
        },
        "kind": {
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#revision\"`.",
          "default": "drive#revision",
          "type": "string"
        },
        "publishedOutsideDomain": {
          "description": "Whether this revision is published outside the domain. This is only applicable to Docs Editors files.",
          "type": "boolean"
        },
        "id": {
          "type": "string",
          "description": "Output only. The ID of the revision."
        }
      },
      "type": "object",
      "id": "Revision"
    },
    "PermissionList": {
      "description": "A list of permissions for a file.",
      "id": "PermissionList",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The page token for the next page of permissions. This field will be absent if the end of the permissions list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ."
        },
        "kind": {
          "default": "drive#permissionList",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#permissionList\"`.",
          "type": "string"
        },
        "permissions": {
          "items": {
            "$ref": "Permission"
          },
          "description": "The list of permissions. If `nextPageToken` is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "User": {
      "type": "object",
      "description": "Information about a Drive user.",
      "id": "User",
      "properties": {
        "emailAddress": {
          "description": "Output only. The email address of the user. This may not be present in certain contexts if the user has not made their email address visible to the requester.",
          "type": "string",
          "readOnly": true
        },
        "photoLink": {
          "readOnly": true,
          "description": "Output only. A link to the user's profile photo, if available.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `drive#user`.",
          "default": "drive#user",
          "readOnly": true
        },
        "me": {
          "description": "Output only. Whether this user is the requesting user.",
          "readOnly": true,
          "type": "boolean"
        },
        "permissionId": {
          "description": "Output only. The user's ID as visible in Permission resources.",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "description": "Output only. A plain text displayable name for this user.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Comment": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Output only. The ID of the comment.",
          "type": "string"
        },
        "replies": {
          "type": "array",
          "items": {
            "$ref": "Reply"
          },
          "description": "Output only. The full list of replies to the comment in chronological order."
        },
        "modifiedTime": {
          "format": "date-time",
          "type": "string",
          "description": "The last time the comment or any of its replies was modified (RFC 3339 date-time)."
        },
        "mentionedEmailAddresses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. A list of email addresses for users mentioned in this comment. If no users are mentioned, the list is empty."
        },
        "author": {
          "description": "Output only. The author of the comment. The author's email address and permission ID will not be populated.",
          "$ref": "User"
        },
        "htmlContent": {
          "type": "string",
          "description": "Output only. The content of the comment with HTML formatting."
        },
        "anchor": {
          "type": "string",
          "description": "A region of the document represented as a JSON string. For details on defining anchor properties, refer to [Manage comments and replies](https://developers.google.com/workspace/drive/api/v3/manage-comments)."
        },
        "resolved": {
          "description": "Output only. Whether the comment has been resolved by one of its replies.",
          "type": "boolean"
        },
        "content": {
          "type": "string",
          "description": "The plain text content of the comment. This field is used for setting the content, while `htmlContent` should be displayed.",
          "annotations": {
            "required": [
              "drive.comments.create",
              "drive.comments.update"
            ]
          }
        },
        "assigneeEmailAddress": {
          "readOnly": true,
          "description": "Output only. The email address of the user assigned to this comment. If no user is assigned, the field is unset.",
          "type": "string"
        },
        "deleted": {
          "type": "boolean",
          "description": "Output only. Whether the comment has been deleted. A deleted comment has no content."
        },
        "quotedFileContent": {
          "description": "The file content to which the comment refers, typically within the anchor region. For a text file, for example, this would be the text at the location of the comment.",
          "properties": {
            "mimeType": {
              "description": "The MIME type of the quoted content.",
              "type": "string"
            },
            "value": {
              "description": "The quoted content itself. This is interpreted as plain text if set through the API.",
              "type": "string"
            }
          },
          "type": "object"
        },
        "createdTime": {
          "description": "The time at which the comment was created (RFC 3339 date-time).",
          "type": "string",
          "format": "date-time"
        },
        "kind": {
          "type": "string",
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#comment\"`.",
          "default": "drive#comment"
        }
      },
      "description": "A comment on a file. Some resource methods (such as `comments.update`) require a `commentId`. Use the `comments.list` method to retrieve the ID for a comment in a file.",
      "id": "Comment"
    },
    "LabelFieldModification": {
      "type": "object",
      "id": "LabelFieldModification",
      "properties": {
        "setUserValues": {
          "description": "Replaces a `user` field with these new values. The values must be a valid email addresses.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "fieldId": {
          "description": "The ID of the field to be modified.",
          "type": "string"
        },
        "unsetValues": {
          "description": "Unsets the values for this field.",
          "type": "boolean"
        },
        "setSelectionValues": {
          "description": "Replaces a `selection` field with these new values.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "setIntegerValues": {
          "description": "Replaces the value of an `integer` field with these new values.",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "setTextValues": {
          "type": "array",
          "description": "Sets the value of a `text` field.",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "description": "This is always `\"drive#labelFieldModification\"`.",
          "type": "string"
        },
        "setDateValues": {
          "description": "Replaces the value of a dateString Field with these new values. The string must be in the RFC 3339 full-date format: YYYY-MM-DD.",
          "items": {
            "type": "string",
            "format": "date"
          },
          "type": "array"
        }
      },
      "description": "A modification to a label's field."
    },
    "FileList": {
      "description": "A list of files.",
      "id": "FileList",
      "properties": {
        "files": {
          "description": "The list of files. If `nextPageToken` is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "items": {
            "$ref": "File"
          },
          "type": "array"
        },
        "incompleteSearch": {
          "type": "boolean",
          "description": "Whether the search process was incomplete. If true, then some search results might be missing, since all documents were not searched. This can occur when searching multiple drives with the `allDrives` corpora, but all corpora couldn't be searched. When this happens, it's suggested that clients narrow their query by choosing a different corpus such as `user` or `drive`."
        },
        "kind": {
          "type": "string",
          "default": "drive#fileList",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#fileList\"`."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The page token for the next page of files. This will be absent if the end of the files list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ."
        }
      },
      "type": "object"
    },
    "LabelModification": {
      "properties": {
        "removeLabel": {
          "description": "If true, the label will be removed from the file.",
          "type": "boolean"
        },
        "fieldModifications": {
          "type": "array",
          "items": {
            "$ref": "LabelFieldModification"
          },
          "description": "The list of modifications to this label's fields."
        },
        "kind": {
          "description": "This is always `\"drive#labelModification\"`.",
          "type": "string"
        },
        "labelId": {
          "type": "string",
          "description": "The ID of the label to modify.",
          "annotations": {
            "required": [
              "drive.files.modifyLabels"
            ]
          }
        }
      },
      "type": "object",
      "description": "A modification to a label on a file. A `LabelModification` can be used to apply a label to a file, update an existing label on a file, or remove a label from a file.",
      "id": "LabelModification"
    },
    "LabelList": {
      "type": "object",
      "properties": {
        "labels": {
          "description": "The list of labels.",
          "type": "array",
          "items": {
            "$ref": "Label"
          }
        },
        "nextPageToken": {
          "description": "The page token for the next page of labels. This field will be absent if the end of the list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `\"drive#labelList\"`.",
          "type": "string"
        }
      },
      "id": "LabelList",
      "description": "A list of labels applied to a file."
    },
    "AccessProposalRoleAndView": {
      "properties": {
        "role": {
          "type": "string",
          "description": "The role that was proposed by the requester. The supported values are: * `writer` * `commenter` * `reader`"
        },
        "view": {
          "description": "Indicates the view for this access proposal. Only populated for proposals that belong to a view. Only `published` is supported.",
          "type": "string"
        }
      },
      "description": "A wrapper for the role and view of an access proposal. For more information, see [Roles and permissions](https://developers.google.com/workspace/drive/api/guides/ref-roles).",
      "id": "AccessProposalRoleAndView",
      "type": "object"
    },
    "ResolveAccessProposalRequest": {
      "description": "Request message for resolving an AccessProposal on a file.",
      "properties": {
        "sendNotification": {
          "description": "Optional. Whether to send an email to the requester when the access proposal is denied or accepted.",
          "type": "boolean"
        },
        "view": {
          "type": "string",
          "description": "Optional. Indicates the view for this access proposal. This should only be set when the proposal belongs to a view. Only `published` is supported."
        },
        "role": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The roles that the approver has allowed, if any. For more information, see [Roles and permissions](https://developers.google.com/workspace/drive/api/guides/ref-roles). Note: This field is required for the `ACCEPT` action."
        },
        "action": {
          "type": "string",
          "enum": [
            "ACTION_UNSPECIFIED",
            "ACCEPT",
            "DENY"
          ],
          "description": "Required. The action to take on the access proposal.",
          "enumDescriptions": [
            "Unspecified action",
            "The user accepts the access proposal. Note: If this action is used, the `role` field must have at least one value.",
            "The user denies the access proposal."
          ]
        }
      },
      "id": "ResolveAccessProposalRequest",
      "type": "object"
    },
    "ListAccessProposalsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The continuation token for the next page of results. This will be absent if the end of the results list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        },
        "accessProposals": {
          "items": {
            "$ref": "AccessProposal"
          },
          "description": "The list of access proposals. This field is only populated in Drive API v3.",
          "type": "array"
        }
      },
      "description": "The response to an access proposal list request.",
      "type": "object",
      "id": "ListAccessProposalsResponse"
    },
    "DecryptionMetadata": {
      "properties": {
        "kaclsId": {
          "description": "The ID of the KACLS (Key ACL Service) used to encrypt the file.",
          "type": "string",
          "format": "int64"
        },
        "kaclsName": {
          "type": "string",
          "description": "The name of the KACLS (Key ACL Service) used to encrypt the file."
        },
        "aes256GcmChunkSize": {
          "description": "Chunk size used if content was encrypted with the AES 256 GCM Cipher. Possible values are: - default - small ",
          "type": "string"
        },
        "encryptionResourceKeyHash": {
          "description": "The URL-safe Base64 encoded HMAC-SHA256 digest of the resource metadata with its DEK (Data Encryption Key); see https://developers.google.com/workspace/cse/reference",
          "type": "string"
        },
        "jwt": {
          "type": "string",
          "description": "The signed JSON Web Token (JWT) which can be used to authorize the requesting user with the Key ACL Service (KACLS). The JWT asserts that the requesting user has at least read permissions on the file."
        },
        "keyFormat": {
          "type": "string",
          "description": "Key format for the unwrapped key. Must be `tinkAesGcmKey`."
        },
        "wrappedKey": {
          "description": "The URL-safe Base64 encoded wrapped key used to encrypt the contents of the file.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Representation of the CSE DecryptionMetadata.",
      "id": "DecryptionMetadata"
    },
    "ModifyLabelsResponse": {
      "type": "object",
      "description": "Response to a `ModifyLabels` request. This contains only those labels which were added or updated by the request.",
      "id": "ModifyLabelsResponse",
      "properties": {
        "modifiedLabels": {
          "type": "array",
          "items": {
            "$ref": "Label"
          },
          "description": "The list of labels which were added or updated by the request."
        },
        "kind": {
          "type": "string",
          "description": "This is always `\"drive#modifyLabelsResponse\"`."
        }
      }
    },
    "File": {
      "id": "File",
      "properties": {
        "permissionIds": {
          "description": "Output only. List of permission IDs for users with access to this file.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "properties": {
          "description": "A collection of arbitrary key-value pairs which are visible to all apps.\nEntries with null values are cleared in update and copy requests.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "clientEncryptionDetails": {
          "$ref": "ClientEncryptionDetails",
          "description": "Client Side Encryption related details. Contains details about the encryption state of the file and details regarding the encryption mechanism that clients need to use when decrypting the contents of this item. This will only be present on files and not on folders or shortcuts."
        },
        "inheritedPermissionsDisabled": {
          "description": "Whether this file has inherited permissions disabled. Inherited permissions are enabled by default.",
          "type": "boolean"
        },
        "name": {
          "description": "The name of the file. This isn't necessarily unique within a folder. Note that for immutable items such as the top-level folders of shared drives, the My Drive root folder, and the Application Data folder, the name is constant.",
          "type": "string"
        },
        "capabilities": {
          "description": "Output only. Capabilities the current user has on this file. Each capability corresponds to a fine-grained action that a user may take. For more information, see [Understand file capabilities](https://developers.google.com/workspace/drive/api/guides/manage-sharing#capabilities).",
          "type": "object",
          "properties": {
            "canCopy": {
              "type": "boolean",
              "description": "Output only. Whether the current user can copy this file. For an item in a shared drive, whether the current user can copy non-folder descendants of this item, or this item if it's not a folder."
            },
            "canMoveTeamDriveItem": {
              "description": "Deprecated: Output only. Use `canMoveItemWithinDrive` or `canMoveItemOutOfDrive` instead.",
              "deprecated": true,
              "type": "boolean"
            },
            "canModifyEditorContentRestriction": {
              "description": "Output only. Whether the current user can add or modify content restrictions on the file which are editor restricted.",
              "type": "boolean"
            },
            "canAddChildren": {
              "description": "Output only. Whether the current user can add children to this folder. This is always `false` when the item isn't a folder.",
              "type": "boolean"
            },
            "canStartApproval": {
              "type": "boolean",
              "description": "Whether the current user can start an approval on the file."
            },
            "canUntrash": {
              "description": "Output only. Whether the current user can restore this file from trash.",
              "type": "boolean"
            },
            "canMoveItemIntoTeamDrive": {
              "description": "Deprecated: Output only. Use `canMoveItemOutOfDrive` instead.",
              "deprecated": true,
              "type": "boolean"
            },
            "canMoveChildrenOutOfDrive": {
              "type": "boolean",
              "description": "Output only. Whether the current user can move children of this folder outside of the shared drive. This is `false` when the item isn't a folder. Only populated for items in shared drives."
            },
            "canDownload": {
              "type": "boolean",
              "description": "Output only. Whether the current user can download this file."
            },
            "canChangeViewersCanCopyContent": {
              "description": "Deprecated: Output only.",
              "deprecated": true,
              "type": "boolean"
            },
            "canModifyContentRestriction": {
              "description": "Deprecated: Output only. Use one of `canModifyEditorContentRestriction`, `canModifyOwnerContentRestriction`, or `canRemoveContentRestriction`.",
              "deprecated": true,
              "type": "boolean"
            },
            "canAccessViaGenAi": {
              "description": "Whether the current user can access this file via Gen AI features. For more information, see [Drive MCP file eligibility](https://developers.google.com/workspace/drive/api/guides/drive-mcp-server-file-eligibility).",
              "type": "boolean"
            },
            "canReadTeamDrive": {
              "description": "Deprecated: Output only. Use `canReadDrive` instead.",
              "deprecated": true,
              "type": "boolean"
            },
            "canDisableInheritedPermissions": {
              "type": "boolean",
              "description": "Whether a user can disable inherited permissions."
            },
            "canReadDrive": {
              "type": "boolean",
              "description": "Output only. Whether the current user can read the shared drive to which this file belongs. Only populated for items in shared drives."
            },
            "canRemoveChildren": {
              "type": "boolean",
              "description": "Output only. Whether the current user can remove children from this folder. This is always `false` when the item isn't a folder. For a folder in a shared drive, use `canDeleteChildren` or `canTrashChildren` instead."
            },
            "canListChildren": {
              "description": "Output only. Whether the current user can list the children of this folder. This is always `false` when the item isn't a folder.",
              "type": "boolean"
            },
            "canRename": {
              "description": "Output only. Whether the current user can rename this file.",
              "type": "boolean"
            },
            "canRemoveContentRestriction": {
              "description": "Output only. Whether there's a content restriction on the file that can be removed by the current user.",
              "type": "boolean"
            },
            "canAddFolderFromAnotherDrive": {
              "type": "boolean",
              "description": "Output only. Whether the current user can add a folder from another drive (different shared drive or My Drive) to this folder. This is `false` when the item isn't a folder. Only populated for items in shared drives."
            },
            "canMoveChildrenWithinDrive": {
              "description": "Output only. Whether the current user can move children of this folder within this drive. This is `false` when the item isn't a folder. Note that a request to move the child may still fail depending on the current user's access to the child and to the destination folder.",
              "type": "boolean"
            },
            "canModifyOwnerContentRestriction": {
              "type": "boolean",
              "description": "Output only. Whether the current user can add or modify content restrictions which are owner restricted."
            },
            "canMoveItemOutOfTeamDrive": {
              "type": "boolean",
              "description": "Deprecated: Output only. Use `canMoveItemOutOfDrive` instead.",
              "deprecated": true
            },
            "canChangeItemDownloadRestriction": {
              "type": "boolean",
              "description": "Output only. Whether the current user can change the owner or organizer-applied download restrictions of the file."
            },
            "canEdit": {
              "description": "Output only. Whether the current user can edit this file. Other factors may limit the type of changes a user can make to a file. For example, see `canChangeCopyRequiresWriterPermission` or `canModifyContent`.",
              "type": "boolean"
            },
            "canRemoveMyDriveParent": {
              "type": "boolean",
              "description": "Output only. Whether the current user can remove a parent from the item without adding another parent in the same request. Not populated for shared drive files."
            },
            "canModifyContent": {
              "type": "boolean",
              "description": "Output only. Whether the current user can modify the content of this file."
            },
            "canReadLabels": {
              "type": "boolean",
              "description": "Output only. Whether the current user can read the labels on the file."
            },
            "canMoveItemWithinTeamDrive": {
              "deprecated": true,
              "description": "Deprecated: Output only. Use `canMoveItemWithinDrive` instead.",
              "type": "boolean"
            },
            "canMoveChildrenOutOfTeamDrive": {
              "type": "boolean",
              "description": "Deprecated: Output only. Use `canMoveChildrenOutOfDrive` instead.",
              "deprecated": true
            },
            "canDelete": {
              "type": "boolean",
              "description": "Output only. Whether the current user can delete this file."
            },
            "canComment": {
              "description": "Output only. Whether the current user can comment on this file.",
              "type": "boolean"
            },
            "canModifyLabels": {
              "description": "Output only. Whether the current user can modify the labels on the file.",
              "type": "boolean"
            },
            "canDeleteChildren": {
              "description": "Output only. Whether the current user can delete children of this folder. This is `false` when the item isn't a folder. Only populated for items in shared drives.",
              "type": "boolean"
            },
            "canMoveItemOutOfDrive": {
              "type": "boolean",
              "description": "Output only. Whether the current user can move this item outside of this drive by changing its parent. Note that a request to change the parent of the item may still fail depending on the new parent that's being added."
            },
            "canChangeSecurityUpdateEnabled": {
              "type": "boolean",
              "description": "Output only. Whether the current user can change the `securityUpdateEnabled` field on link share metadata."
            },
            "canMoveChildrenWithinTeamDrive": {
              "deprecated": true,
              "description": "Deprecated: Output only. Use `canMoveChildrenWithinDrive` instead.",
              "type": "boolean"
            },
            "canChangeCopyRequiresWriterPermission": {
              "type": "boolean",
              "description": "Output only. Whether the current user can change the `copyRequiresWriterPermission` restriction of this file."
            },
            "canMoveItemWithinDrive": {
              "type": "boolean",
              "description": "Output only. Whether the current user can move this item within this drive. Note that a request to change the parent of the item may still fail depending on the new parent that's being added and the parent that is being removed."
            },
            "canShare": {
              "type": "boolean",
              "description": "Output only. Whether the current user can modify the sharing settings for this file."
            },
            "canEnableInheritedPermissions": {
              "description": "Whether a user can re-enable inherited permissions.",
              "type": "boolean"
            },
            "canTrash": {
              "type": "boolean",
              "description": "Output only. Whether the current user can move this file to trash."
            },
            "canAcceptOwnership": {
              "description": "Output only. Whether the current user is the pending owner of the file. Not populated for shared drive files.",
              "type": "boolean"
            },
            "canReadRevisions": {
              "description": "Output only. Whether the current user can read the revisions resource of this file. For a shared drive item, whether revisions of non-folder descendants of this item, or this item if it's not a folder, can be read.",
              "type": "boolean"
            },
            "canTrashChildren": {
              "description": "Output only. Whether the current user can trash children of this folder. This is `false` when the item isn't a folder. Only populated for items in shared drives.",
              "type": "boolean"
            },
            "canAddMyDriveParent": {
              "type": "boolean",
              "description": "Output only. Whether the current user can add a parent for the item without removing an existing parent in the same request. Not populated for shared drive files."
            }
          }
        },
        "folderColorRgb": {
          "description": "The color for a folder or a shortcut to a folder as an RGB hex string. The supported colors are published in the `folderColorPalette` field of the [`about`](/workspace/drive/api/reference/rest/v3/about) resource. If an unsupported color is specified, the closest color in the palette is used instead.",
          "type": "string"
        },
        "thumbnailLink": {
[...]
