{
  "mtlsRootUrl": "https://driveactivity.mtls.googleapis.com/",
  "name": "driveactivity",
  "version": "v2",
  "version_module": true,
  "ownerDomain": "google.com",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "parameters": {
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    }
  },
  "documentationLink": "https://developers.google.com/workspace/drive/activity/",
  "discoveryVersion": "v1",
  "baseUrl": "https://driveactivity.googleapis.com/",
  "kind": "discovery#restDescription",
  "basePath": "",
  "rootUrl": "https://driveactivity.googleapis.com/",
  "description": "Provides a historical view of activity in Google Drive.",
  "ownerName": "Google",
  "revision": "20260908",
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.activity": {
          "description": "View and add to the activity record of files in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.activity.readonly": {
          "description": "View the activity record of files in your Google Drive"
        }
      }
    }
  },
  "title": "Drive Activity API",
  "servicePath": "",
  "batchPath": "batch",
  "schemas": {
    "Action": {
      "description": "Information about the action.",
      "type": "object",
      "id": "Action",
      "properties": {
        "detail": {
          "$ref": "ActionDetail",
          "description": "The type and detailed information about the action."
        },
        "actor": {
          "description": "The actor responsible for this action (or empty if all actors are responsible).",
          "$ref": "Actor"
        },
        "target": {
          "description": "The target this action affects (or empty if affecting all targets). This represents the state of the target immediately after this action occurred.",
          "$ref": "Target"
        },
        "timeRange": {
          "description": "The action occurred over this time range.",
          "$ref": "TimeRange"
        },
        "timestamp": {
          "format": "google-datetime",
          "description": "The action occurred at this specific time.",
          "type": "string"
        }
      }
    },
    "File": {
      "properties": {},
      "description": "This item is deprecated; please see `DriveFile` instead.",
      "deprecated": true,
      "id": "File",
      "type": "object"
    },
    "DataLeakPreventionChange": {
      "properties": {
        "type": {
          "description": "The type of Data Leak Prevention (DLP) change.",
          "enumDescriptions": [
            "An update to the DLP state that is neither FLAGGED or CLEARED.",
            "Document has been flagged as containing sensitive content.",
            "Document is no longer flagged as containing sensitive content."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "FLAGGED",
            "CLEARED"
          ]
        }
      },
      "description": "A change in the object's data leak prevention status.",
      "id": "DataLeakPreventionChange",
      "type": "object"
    },
    "Anyone": {
      "description": "Represents any user (including a logged out user).",
      "id": "Anyone",
      "properties": {},
      "type": "object"
    },
    "PermissionChange": {
      "id": "PermissionChange",
      "properties": {
        "removedPermissions": {
          "items": {
            "$ref": "Permission"
          },
          "type": "array",
          "description": "The set of permissions removed by this change."
        },
        "addedPermissions": {
          "type": "array",
          "items": {
            "$ref": "Permission"
          },
          "description": "The set of permissions added by this change."
        }
      },
      "type": "object",
      "description": "A change of the permission setting on an item."
    },
    "DriveItemReference": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The target Drive item. The format is `items/ITEM_ID`."
        },
        "driveFile": {
          "$ref": "DriveFile",
          "description": "The Drive item is a file."
        },
        "file": {
          "$ref": "File",
          "deprecated": true,
          "description": "This field is deprecated; please use the `driveFile` field instead."
        },
        "folder": {
          "$ref": "Folder",
          "description": "This field is deprecated; please use the `driveFolder` field instead.",
          "deprecated": true
        },
        "title": {
          "description": "The title of the Drive item.",
          "type": "string"
        },
        "driveFolder": {
          "description": "The Drive item is a folder. Includes information about the type of folder.",
          "$ref": "DriveFolder"
        }
      },
      "description": "A lightweight reference to a Drive item, such as a file or folder.",
      "id": "DriveItemReference"
    },
    "RestrictionChange": {
      "properties": {
        "feature": {
          "enum": [
            "FEATURE_UNSPECIFIED",
            "SHARING_OUTSIDE_DOMAIN",
            "DIRECT_SHARING",
            "ITEM_DUPLICATION",
            "DRIVE_FILE_STREAM",
            "FILE_ORGANIZER_CAN_SHARE_FOLDERS",
            "READERS_CAN_DOWNLOAD",
            "WRITERS_CAN_DOWNLOAD"
          ],
          "description": "The feature which had a change in restriction policy.",
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false
          ],
          "type": "string",
          "enumDescriptions": [
            "The feature which changed restriction settings was not available.",
            "When restricted, this prevents items from being shared outside the domain.",
            "When restricted, this prevents direct sharing of individual items.",
            "Deprecated: Use READERS_CAN_DOWNLOAD instead.",
            "When restricted, this prevents use of Drive File Stream.",
            "When restricted, this limits sharing of folders to managers only.",
            "When restricted, this prevents actions like copy, download, and print for readers. Replaces ITEM_DUPLICATION.",
            "When restricted, this prevents actions like copy, download, and print for writers."
          ]
        },
        "newRestriction": {
          "type": "string",
          "enum": [
            "RESTRICTION_UNSPECIFIED",
            "UNRESTRICTED",
            "FULLY_RESTRICTED"
          ],
          "description": "The restriction in place after the change.",
          "enumDescriptions": [
            "The type of restriction is not available.",
            "The feature is available without restriction.",
            "The use of this feature is fully restricted."
          ]
        }
      },
      "description": "Information about restriction policy changes to a feature.",
      "type": "object",
      "id": "RestrictionChange"
    },
    "Date": {
      "description": "Wrapper for Date Field value.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Date value.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "Date"
    },
    "Restore": {
      "description": "A deleted object was restored.",
      "properties": {
        "type": {
          "description": "The type of restore action taken.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "UNTRASH"
          ],
          "enumDescriptions": [
            "The type is not available.",
            "An object was restored from the trash."
          ]
        }
      },
      "type": "object",
      "id": "Restore"
    },
    "FileComment": {
      "type": "object",
      "description": "A comment on a file.",
      "properties": {
        "linkToDiscussion": {
          "type": "string",
          "description": "The link to the discussion thread containing this comment, for example, `https://docs.google.com/DOCUMENT_ID/edit?disco=THREAD_ID`."
        },
        "legacyDiscussionId": {
          "description": "The discussion thread to which the comment was added. This identifier is an opaque string compatible with the Drive API and references the first comment in a discussion; see https://developers.google.com/workspace/drive/v3/reference/comments/get",
          "type": "string"
        },
        "parent": {
          "$ref": "DriveItem",
          "description": "The Drive item containing this comment."
        },
        "legacyCommentId": {
          "description": "The comment in the discussion thread. This identifier is an opaque string compatible with the Drive API; see https://developers.google.com/workspace/drive/v3/reference/comments/get",
          "type": "string"
        }
      },
      "id": "FileComment"
    },
    "DriveFile": {
      "properties": {},
      "type": "object",
      "id": "DriveFile",
      "description": "A Drive item which is a file."
    },
    "DriveReference": {
      "properties": {
        "name": {
          "description": "The resource name of the shared drive. The format is `COLLECTION_ID/DRIVE_ID`. Clients should not assume a specific collection ID for this resource name.",
          "type": "string"
        },
        "title": {
          "description": "The title of the shared drive.",
          "type": "string"
        }
      },
      "description": "A lightweight reference to a shared drive.",
      "type": "object",
      "id": "DriveReference"
    },
    "TeamDrive": {
      "deprecated": true,
      "id": "TeamDrive",
      "properties": {
        "name": {
          "type": "string",
          "description": "This field is deprecated; please see `Drive.name` instead."
        },
        "root": {
          "description": "This field is deprecated; please see `Drive.root` instead.",
          "$ref": "DriveItem"
        },
        "title": {
          "description": "This field is deprecated; please see `Drive.title` instead.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "This item is deprecated; please see `Drive` instead."
    },
    "QueryDriveActivityRequest": {
      "type": "object",
      "description": "The request message for querying Drive activity.",
      "properties": {
        "pageToken": {
          "description": "The token identifies which page of results to return. Set this to the next_page_token value returned from a previous query to obtain the following page of results. If not set, the first page of results is returned.",
          "type": "string"
        },
        "itemName": {
          "type": "string",
          "description": "Return activities for this Drive item. The format is `items/ITEM_ID`."
        },
        "pageSize": {
          "description": "The minimum number of activities desired in the response; the server attempts to return at least this quantity. The server may also return fewer activities if it has a partial response ready before the request times out. If not set, a default value is used.",
          "format": "int32",
          "type": "integer"
        },
        "consolidationStrategy": {
          "$ref": "ConsolidationStrategy",
          "description": "Details on how to consolidate related actions that make up the activity. If not set, then related actions aren't consolidated."
        },
        "filter": {
          "description": "The filtering for items returned from this query request. The format of the filter string is a sequence of expressions, joined by an optional \"AND\", where each expression is of the form \"field operator value\". Supported fields: - `time`: Uses numerical operators on date values either in terms of milliseconds since Jan 1, 1970 or in RFC 3339 format. Examples: - `time > 1452409200000 AND time <= 1492812924310` - `time >= \"2016-01-10T01:02:03-05:00\"` - `detail.action_detail_case`: Uses the \"has\" operator (:) and either a singular value or a list of allowed action types enclosed in parentheses, separated by a space. To exclude a result from the response, prepend a hyphen (`-`) to the beginning of the filter string. Examples: - `detail.action_detail_case:RENAME` - `detail.action_detail_case:(CREATE RESTORE)` - `-detail.action_detail_case:MOVE` ",
          "type": "string"
        },
        "ancestorName": {
          "description": "Return activities for this Drive folder, plus all children and descendants. The format is `items/ITEM_ID`.",
          "type": "string"
        }
      },
      "id": "QueryDriveActivityRequest"
    },
    "Impersonation": {
      "properties": {
        "impersonatedUser": {
          "$ref": "User",
          "description": "The impersonated user."
        }
      },
      "description": "Information about an impersonation, where an admin acts on behalf of an end user. Information about the acting admin is not currently available.",
      "type": "object",
      "id": "Impersonation"
    },
    "DeletedUser": {
      "id": "DeletedUser",
      "properties": {},
      "type": "object",
      "description": "A user whose account has since been deleted."
    },
    "AppliedLabelChangeDetail": {
      "description": "A change made to a Label on the Target.",
      "type": "object",
      "id": "AppliedLabelChangeDetail",
      "properties": {
        "fieldChanges": {
          "description": "Field Changes. Only present if `types` contains `LABEL_FIELD_VALUE_CHANGED`.",
          "items": {
            "$ref": "FieldValueChange"
          },
          "type": "array"
        },
        "title": {
          "type": "string",
          "description": "The human-readable title of the label that changed."
        },
        "label": {
          "type": "string",
          "description": "The Label name representing the Label that changed. This name always contains the revision of the Label that was used when this Action occurred. The format is `labels/id@revision`."
        },
        "types": {
          "items": {
            "enumDescriptions": [
              "The type of change to this Label is not available.",
              "The identified Label was added to the Target.",
              "The identified Label was removed from the Target.",
              "Field values were changed on the Target.",
              "The Label was applied as a side-effect of Drive item creation."
            ],
            "type": "string",
            "enum": [
              "TYPE_UNSPECIFIED",
              "LABEL_ADDED",
              "LABEL_REMOVED",
              "LABEL_FIELD_VALUE_CHANGED",
              "LABEL_APPLIED_BY_ITEM_CREATE"
            ]
          },
          "description": "The types of changes made to the Label on the Target.",
          "type": "array"
        }
      }
    },
    "TargetReference": {
      "properties": {
        "driveItem": {
          "description": "The target is a Drive item.",
          "$ref": "DriveItemReference"
        },
        "drive": {
          "$ref": "DriveReference",
          "description": "The target is a shared drive."
        },
        "teamDrive": {
          "description": "This field is deprecated; please use the `drive` field instead.",
          "deprecated": true,
          "$ref": "TeamDriveReference"
        }
      },
      "type": "object",
      "id": "TargetReference",
      "description": "A lightweight reference to the target of activity."
    },
    "Text": {
      "type": "object",
      "description": "Wrapper for Text Field value.",
      "id": "Text",
      "properties": {
        "value": {
          "description": "Value of Text Field.",
          "type": "string"
        }
      }
    },
    "QueryDriveActivityResponse": {
      "type": "object",
      "properties": {
        "activities": {
          "type": "array",
          "items": {
            "$ref": "DriveActivity"
          },
          "description": "List of activity requested."
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "description": "Response message for querying Drive activity.",
      "id": "QueryDriveActivityResponse"
    },
    "SelectionList": {
      "id": "SelectionList",
      "description": "Wrapper for SelectionList Field value.",
      "type": "object",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "$ref": "Selection"
          },
          "description": "Selection values."
        }
      }
    },
    "User": {
      "id": "User",
      "type": "object",
      "properties": {
        "deletedUser": {
          "description": "A user whose account has since been deleted.",
          "$ref": "DeletedUser"
        },
        "knownUser": {
          "description": "A known user.",
          "$ref": "KnownUser"
        },
        "unknownUser": {
          "description": "A user about whom nothing is currently known.",
          "$ref": "UnknownUser"
        }
      },
      "description": "Information about an end user."
    },
    "Move": {
      "id": "Move",
      "description": "An object was moved.",
      "type": "object",
      "properties": {
        "removedParents": {
          "type": "array",
          "items": {
            "$ref": "TargetReference"
          },
          "description": "The removed parent object(s)."
        },
        "addedParents": {
          "type": "array",
          "description": "The added parent object(s).",
          "items": {
            "$ref": "TargetReference"
          }
        }
      }
    },
    "NoConsolidation": {
      "properties": {},
      "description": "A strategy that does no consolidation of individual activities.",
      "type": "object",
      "id": "NoConsolidation"
    },
    "AnonymousUser": {
      "properties": {},
      "description": "Empty message representing an anonymous user or indicating the authenticated user should be anonymized.",
      "type": "object",
      "id": "AnonymousUser"
    },
    "FieldValueChange": {
      "type": "object",
      "properties": {
        "fieldId": {
          "description": "The ID of this field. Field IDs are unique within a Label.",
          "type": "string"
        },
        "oldValue": {
          "$ref": "FieldValue",
          "description": "The value that was previously set on the field. If not present, the field was newly set. At least one of {old_value|new_value} is always set."
        },
        "displayName": {
          "description": "The human-readable display name for this field.",
          "type": "string"
        },
        "newValue": {
          "description": "The value that is now set on the field. If not present, the field was cleared. At least one of {old_value|new_value} is always set.",
          "$ref": "FieldValue"
        }
      },
      "description": "Change to a Field value.",
      "id": "FieldValueChange"
    },
    "SystemEvent": {
      "type": "object",
      "description": "Event triggered by system operations instead of end users.",
      "id": "SystemEvent",
      "properties": {
        "type": {
          "description": "The type of the system event that may triggered activity.",
          "enumDescriptions": [
            "The event type is unspecified.",
            "The event is a consequence of a user account being deleted.",
            "The event is due to the system automatically purging trash."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "USER_DELETION",
            "TRASH_AUTO_PURGE"
          ]
        }
      }
    },
    "UserList": {
      "properties": {
        "values": {
          "items": {
            "$ref": "SingleUser"
          },
          "description": "User values.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Wrapper for UserList Field value.",
      "id": "UserList"
    },
    "Administrator": {
      "description": "Empty message representing an administrator.",
      "type": "object",
      "properties": {},
      "id": "Administrator"
    },
    "TimeRange": {
      "type": "object",
      "properties": {
        "endTime": {
          "type": "string",
          "description": "The end of the time range.",
          "format": "google-datetime"
        },
        "startTime": {
          "type": "string",
          "description": "The start of the time range.",
          "format": "google-datetime"
        }
      },
      "description": "Information about time ranges.",
      "id": "TimeRange"
    },
    "Legacy": {
      "id": "Legacy",
      "type": "object",
      "description": "A strategy that consolidates activities using the grouping rules from the legacy V1 Activity API. Similar actions occurring within a window of time can be grouped across multiple targets (such as moving a set of files at once) or multiple actors (such as several users editing the same item). Grouping rules for this strategy are specific to each type of action.",
      "properties": {}
    },
    "Comment": {
      "description": "A change about comments on an object.",
      "type": "object",
      "id": "Comment",
      "properties": {
        "suggestion": {
          "description": "A change on a suggestion.",
          "$ref": "Suggestion"
        },
        "post": {
          "description": "A change on a regular posted comment.",
          "$ref": "Post"
        },
        "assignment": {
          "$ref": "Assignment",
          "description": "A change on an assignment."
        },
        "mentionedUsers": {
          "items": {
            "$ref": "User"
          },
          "type": "array",
          "description": "Users who are mentioned in this comment."
        }
      }
    },
    "Domain": {
      "id": "Domain",
      "description": "Information about a domain.",
      "properties": {
        "legacyId": {
          "description": "An opaque string used to identify this domain.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the domain, e.g. `google.com`."
        }
      },
      "type": "object"
    },
    "Post": {
      "description": "A regular posted comment.",
      "type": "object",
      "properties": {
        "subtype": {
          "description": "The sub-type of this event.",
          "enumDescriptions": [
            "Subtype not available.",
            "A post was added.",
            "A post was deleted.",
            "A reply was added.",
            "A reply was deleted.",
            "A posted comment was resolved.",
            "A posted comment was reopened."
          ],
          "type": "string",
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "RESOLVED",
            "REOPENED"
          ]
        }
      },
      "id": "Post"
    },
    "Group": {
      "description": "Information about a group.",
      "type": "object",
      "properties": {
        "email": {
          "description": "The email address of the group.",
          "type": "string"
        },
        "title": {
          "description": "The title of the group.",
          "type": "string"
        }
      },
      "id": "Group"
    },
    "Folder": {
      "description": "This item is deprecated; please see `DriveFolder` instead.",
      "deprecated": true,
      "properties": {
        "type": {
          "enumDescriptions": [
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead."
          ],
          "description": "This field is deprecated; please see `DriveFolder.type` instead.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "MY_DRIVE_ROOT",
            "TEAM_DRIVE_ROOT",
            "STANDARD_FOLDER"
          ]
        }
      },
      "type": "object",
      "id": "Folder"
    },
    "DriveActivity": {
      "type": "object",
      "description": "A single Drive activity comprising one or more Actions by one or more Actors on one or more Targets. Some Action groupings occur spontaneously, such as moving an item into a shared folder triggering a permission change. Other groupings of related Actions, such as multiple Actors editing one item or moving multiple files into a new folder, are controlled by the selection of a ConsolidationStrategy in the QueryDriveActivityRequest.",
      "properties": {
        "actors": {
          "type": "array",
          "description": "All actor(s) responsible for the activity.",
          "items": {
            "$ref": "Actor"
          }
        },
        "targets": {
          "description": "All Google Drive objects this activity is about (e.g. file, folder, drive). This represents the state of the target immediately after the actions occurred.",
          "type": "array",
          "items": {
            "$ref": "Target"
          }
        },
        "actions": {
          "items": {
            "$ref": "Action"
          },
          "description": "Details on all actions in this activity.",
          "type": "array"
        },
        "primaryActionDetail": {
          "$ref": "ActionDetail",
          "description": "Key information about the primary action for this activity. This is either representative, or the most important, of all actions in the activity, according to the ConsolidationStrategy in the request."
        },
        "timeRange": {
          "description": "The activity occurred over this time range.",
          "$ref": "TimeRange"
        },
        "timestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "The activity occurred at this specific time."
        }
      },
      "id": "DriveActivity"
    },
    "KnownUser": {
      "properties": {
        "personName": {
          "type": "string",
          "description": "The identifier for this user that can be used with the People API to get more information. The format is `people/ACCOUNT_ID`. See https://developers.google.com/people/."
        },
        "isCurrentUser": {
          "description": "True if this is the user making the request.",
          "type": "boolean"
        }
      },
      "description": "A known user.",
      "type": "object",
      "id": "KnownUser"
    },
    "SingleUser": {
      "description": "Wrapper for User Field value.",
      "type": "object",
      "id": "SingleUser",
      "properties": {
        "value": {
          "type": "string",
          "description": "User value as email."
        }
      }
    },
    "DriveItem": {
      "type": "object",
      "id": "DriveItem",
      "description": "A Drive item, such as a file or folder.",
      "properties": {
        "driveFolder": {
          "description": "The Drive item is a folder. Includes information about the type of folder.",
          "$ref": "DriveFolder"
        },
        "title": {
          "description": "The title of the Drive item.",
          "type": "string"
        },
        "owner": {
          "$ref": "Owner",
          "description": "Information about the owner of this Drive item."
        },
        "file": {
          "deprecated": true,
          "$ref": "File",
          "description": "This field is deprecated; please use the `driveFile` field instead."
        },
        "mimeType": {
          "type": "string",
          "description": "The MIME type of the Drive item. See https://developers.google.com/workspace/drive/v3/web/mime-types."
        },
        "driveFile": {
          "description": "The Drive item is a file.",
          "$ref": "DriveFile"
        },
        "folder": {
          "description": "This field is deprecated; please use the `driveFolder` field instead.",
          "deprecated": true,
          "$ref": "Folder"
        },
        "name": {
          "description": "The target Drive item. The format is `items/ITEM_ID`.",
          "type": "string"
        }
      }
    },
    "Target": {
      "type": "object",
      "description": "Information about the target of activity. For more information on how activity history is shared with users, see [Activity history visibility](https://developers.google.com/workspace/drive/activity/v2#activityhistory).",
      "id": "Target",
      "properties": {
        "drive": {
          "description": "The target is a shared drive.",
          "$ref": "Drive"
        },
        "driveItem": {
          "$ref": "DriveItem",
          "description": "The target is a Drive item."
        },
        "teamDrive": {
          "$ref": "TeamDrive",
          "description": "This field is deprecated; please use the `drive` field instead.",
          "deprecated": true
        },
        "fileComment": {
          "description": "The target is a comment on a Drive file.",
          "$ref": "FileComment"
        }
      }
    },
    "Delete": {
      "properties": {
        "type": {
          "enumDescriptions": [
            "Deletion type is not available.",
            "An object was put into the trash.",
            "An object was deleted permanently."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TRASH",
            "PERMANENT_DELETE"
          ],
          "description": "The type of delete action taken."
        }
      },
      "description": "An object was deleted.",
      "type": "object",
      "id": "Delete"
    },
    "TeamDriveReference": {
      "id": "TeamDriveReference",
      "type": "object",
      "properties": {
        "title": {
          "type": "string",
          "description": "This field is deprecated; please see `DriveReference.title` instead."
        },
        "name": {
          "description": "This field is deprecated; please see `DriveReference.name` instead.",
          "type": "string"
        }
      },
      "description": "This item is deprecated; please see `DriveReference` instead.",
      "deprecated": true
    },
    "Integer": {
      "description": "Wrapper for Integer Field value.",
      "id": "Integer",
      "properties": {
        "value": {
          "description": "Integer value.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "SettingsChange": {
      "properties": {
        "restrictionChanges": {
          "items": {
            "$ref": "RestrictionChange"
          },
          "description": "The set of changes made to restrictions.",
          "type": "array"
        }
      },
      "description": "Information about settings changes.",
      "id": "SettingsChange",
      "type": "object"
    },
    "Rename": {
      "type": "object",
      "properties": {
        "oldTitle": {
          "description": "The previous title of the drive object.",
          "type": "string"
        },
        "newTitle": {
          "description": "The new title of the drive object.",
          "type": "string"
        }
      },
      "id": "Rename",
      "description": "An object was renamed."
    },
    "Actor": {
      "properties": {
        "administrator": {
          "$ref": "Administrator",
          "description": "An administrator."
        },
        "anonymous": {
          "description": "An anonymous user.",
          "$ref": "AnonymousUser"
        },
        "user": {
          "$ref": "User",
          "description": "An end user."
        },
        "impersonation": {
          "$ref": "Impersonation",
          "description": "An account acting on behalf of another."
        },
        "system": {
          "$ref": "SystemEvent",
          "description": "A non-user actor (i.e. system triggered)."
        }
      },
      "id": "Actor",
      "description": "The actor of a Drive activity.",
      "type": "object"
    },
    "UnknownUser": {
      "id": "UnknownUser",
      "type": "object",
      "description": "A user about whom nothing is currently known.",
      "properties": {}
    },
    "Upload": {
      "id": "Upload",
      "description": "An object was uploaded into Drive.",
      "type": "object",
      "properties": {}
    },
    "Permission": {
      "id": "Permission",
      "properties": {
        "user": {
          "description": "The user to whom this permission applies.",
          "$ref": "User"
        },
        "anyone": {
          "$ref": "Anyone",
          "description": "If set, this permission applies to anyone, even logged out users."
        },
        "domain": {
          "$ref": "Domain",
          "description": "The domain to whom this permission applies."
        },
        "group": {
          "$ref": "Group",
          "description": "The group to whom this permission applies."
        },
        "role": {
          "type": "string",
          "enum": [
            "ROLE_UNSPECIFIED",
            "OWNER",
            "ORGANIZER",
            "FILE_ORGANIZER",
            "EDITOR",
            "COMMENTER",
            "VIEWER",
            "PUBLISHED_VIEWER"
          ],
          "description": "Indicates the [Google Drive permissions role](https://developers.google.com/workspace/drive/web/manage-sharing#roles). The role determines a user's ability to read, write, and comment on items.",
          "enumDescriptions": [
            "The role is not available.",
            "A role granting full access.",
            "A role granting the ability to manage people and settings.",
            "A role granting the ability to contribute and manage content.",
            "A role granting the ability to contribute content. This role is sometimes also known as \"writer\".",
            "A role granting the ability to view and comment on content.",
            "A role granting the ability to view content. This role is sometimes also known as \"reader\".",
            "A role granting the ability to view content only after it has been published to the web. This role is sometimes also known as \"published reader\". See https://support.google.com/sites/answer/6372880 for more information."
          ]
        },
        "allowDiscovery": {
          "description": "If true, the item can be discovered (e.g. in the user's \"Shared with me\" collection) without needing a link to the item.",
          "type": "boolean"
        }
      },
      "description": "The permission setting of an object.",
      "type": "object"
    },
    "ActionDetail": {
      "id": "ActionDetail",
      "description": "Data describing the type and additional information of an action.",
      "type": "object",
      "properties": {
        "dlpChange": {
          "$ref": "DataLeakPreventionChange",
          "description": "A change happened in data leak prevention status."
        },
        "reference": {
          "$ref": "ApplicationReference",
          "description": "An object was referenced in an application outside of Drive/Docs."
        },
        "restore": {
          "description": "A deleted object was restored.",
          "$ref": "Restore"
        },
        "delete": {
          "$ref": "Delete",
          "description": "An object was deleted."
        },
        "create": {
          "description": "An object was created.",
          "$ref": "Create"
        },
        "rename": {
          "$ref": "Rename",
          "description": "An object was renamed."
        },
        "settingsChange": {
          "$ref": "SettingsChange",
          "description": "Settings were changed."
        },
        "move": {
          "description": "An object was moved.",
          "$ref": "Move"
        },
        "permissionChange": {
          "$ref": "PermissionChange",
          "description": "The permission on an object was changed."
        },
        "comment": {
          "description": "A change about comments was made.",
          "$ref": "Comment"
        },
        "appliedLabelChange": {
          "description": "Label was changed.",
          "$ref": "AppliedLabelChange"
        },
        "edit": {
          "description": "An object was edited.",
          "$ref": "Edit"
        }
      }
    },
    "DriveFolder": {
      "description": "A Drive item which is a folder.",
      "id": "DriveFolder",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "MY_DRIVE_ROOT",
            "SHARED_DRIVE_ROOT",
            "STANDARD_FOLDER"
          ],
          "description": "The type of Drive folder.",
          "enumDescriptions": [
            "The folder type is unknown.",
            "The folder is the root of a user's MyDrive.",
            "The folder is the root of a shared drive.",
            "The folder is a standard, non-root, folder."
          ]
        }
      },
      "type": "object"
    },
    "Owner": {
      "id": "Owner",
      "type": "object",
      "properties": {
        "user": {
          "description": "The user that owns the Drive item.",
          "$ref": "User"
        },
        "teamDrive": {
          "$ref": "TeamDriveReference",
          "description": "This field is deprecated; please use the `drive` field instead.",
          "deprecated": true
        },
        "domain": {
          "$ref": "Domain",
          "description": "The domain of the Drive item owner."
        },
        "drive": {
          "$ref": "DriveReference",
          "description": "The drive that owns the item."
        }
      },
      "description": "Information about the owner of a Drive item."
    },
    "Assignment": {
      "properties": {
        "assignedUser": {
          "$ref": "User",
          "description": "The user to whom the comment was assigned."
        },
        "subtype": {
          "description": "The sub-type of this event.",
          "type": "string",
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "RESOLVED",
            "REOPENED",
            "REASSIGNED"
          ],
          "enumDescriptions": [
            "Subtype not available.",
            "An assignment was added.",
            "An assignment was deleted.",
            "An assignment reply was added.",
            "An assignment reply was deleted.",
            "An assignment was resolved.",
            "A resolved assignment was reopened.",
            "An assignment was reassigned."
          ]
        }
      },
      "type": "object",
      "description": "A comment with an assignment.",
      "id": "Assignment"
    },
    "Edit": {
      "id": "Edit",
      "description": "An empty message indicating an object was edited.",
      "properties": {},
      "type": "object"
    },
    "FieldValue": {
      "id": "FieldValue",
      "description": "Contains a value of a Field.",
      "type": "object",
      "properties": {
        "text": {
          "description": "Text Field value.",
          "$ref": "Text"
        },
        "date": {
          "$ref": "Date",
          "description": "Date Field value."
        },
        "selectionList": {
          "description": "Selection List Field value.",
          "$ref": "SelectionList"
        },
        "integer": {
          "description": "Integer Field value.",
          "$ref": "Integer"
        },
        "userList": {
          "$ref": "UserList",
          "description": "User List Field value."
        },
        "selection": {
          "description": "Selection Field value.",
          "$ref": "Selection"
        },
        "textList": {
          "description": "Text List Field value.",
          "$ref": "TextList"
        },
        "user": {
          "description": "User Field value.",
          "$ref": "SingleUser"
        }
      }
    },
    "New": {
      "type": "object",
      "id": "New",
      "description": "An object was created from scratch.",
      "properties": {}
    },
    "Suggestion": {
      "description": "A suggestion.",
      "properties": {
        "subtype": {
          "enumDescriptions": [
            "Subtype not available.",
            "A suggestion was added.",
            "A suggestion was deleted.",
            "A suggestion reply was added.",
            "A suggestion reply was deleted.",
            "A suggestion was accepted.",
            "A suggestion was rejected.",
            "An accepted suggestion was deleted.",
            "A rejected suggestion was deleted."
          ],
          "description": "The sub-type of this event.",
          "type": "string",
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "ACCEPTED",
            "REJECTED",
            "ACCEPT_DELETED",
            "REJECT_DELETED"
          ]
        }
      },
      "id": "Suggestion",
      "type": "object"
    },
    "Copy": {
      "id": "Copy",
      "type": "object",
      "description": "An object was created by copying an existing object.",
      "properties": {
        "originalObject": {
          "description": "The original object.",
          "$ref": "TargetReference"
        }
      }
    },
    "Create": {
      "properties": {
        "copy": {
          "description": "If present, indicates the object was created by copying an existing Drive object.",
          "$ref": "Copy"
        },
        "new": {
          "$ref": "New",
          "description": "If present, indicates the object was newly created (e.g. as a blank document), not derived from a Drive object or external object."
        },
        "upload": {
          "$ref": "Upload",
          "description": "If present, indicates the object originated externally and was uploaded to Drive."
        }
      },
      "type": "object",
      "description": "An object was created.",
      "id": "Create"
    },
    "ApplicationReference": {
      "type": "object",
      "id": "ApplicationReference",
      "description": "Activity in applications other than Drive.",
      "properties": {
        "type": {
          "description": "The reference type corresponding to this event.",
          "type": "string",
          "enum": [
            "UNSPECIFIED_REFERENCE_TYPE",
            "LINK",
            "DISCUSS"
          ],
          "enumDescriptions": [
            "The type is not available.",
            "The links of one or more Drive items were posted.",
            "Comments were made regarding a Drive item."
          ]
        }
      }
    },
    "AppliedLabelChange": {
      "id": "AppliedLabelChange",
      "description": "Label changes that were made on the Target.",
      "properties": {
        "changes": {
          "description": "Changes that were made to the Label on the Target.",
          "items": {
            "$ref": "AppliedLabelChangeDetail"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ConsolidationStrategy": {
      "description": "How the individual activities are consolidated. If a set of activities is related they can be consolidated into one combined activity, such as one actor performing the same action on multiple targets, or multiple actors performing the same action on a single target. The strategy defines the rules for which activities are related.",
      "properties": {
        "legacy": {
          "description": "The individual activities are consolidated using the legacy strategy.",
          "$ref": "Legacy"
        },
        "none": {
          "description": "The individual activities are not consolidated.",
          "$ref": "NoConsolidation"
        }
      },
      "type": "object",
      "id": "ConsolidationStrategy"
    },
    "TextList": {
      "id": "TextList",
      "description": "Wrapper for Text List Field value.",
      "properties": {
        "values": {
          "type": "array",
          "description": "Text values.",
          "items": {
            "$ref": "Text"
          }
        }
      },
      "type": "object"
    },
    "Drive": {
      "description": "Information about a shared drive.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of the shared drive. The format is `COLLECTION_ID/DRIVE_ID`. Clients should not assume a specific collection ID for this resource name."
        },
        "root": {
          "$ref": "DriveItem",
          "description": "The root of this shared drive."
        },
        "title": {
          "description": "The title of the shared drive.",
          "type": "string"
        }
      },
      "id": "Drive"
    },
    "Selection": {
      "id": "Selection",
      "type": "object",
      "description": "Wrapper for Selection Field value as combined value/display_name pair for selected choice.",
      "properties": {
        "displayName": {
          "description": "Selection value as human-readable display string.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Selection value as Field Choice ID."
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "activity": {
      "methods": {
        "query": {
          "response": {
            "$ref": "QueryDriveActivityResponse"
          },
          "path": "v2/activity:query",
          "parameters": {},
          "request": {
            "$ref": "QueryDriveActivityRequest"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "description": "Query past activity in Google Drive.",
          "scopes": [
            "https://www.googleapis.com/auth/drive.activity",
            "https://www.googleapis.com/auth/drive.activity.readonly"
          ],
          "flatPath": "v2/activity:query",
          "id": "driveactivity.activity.query"
        }
      }
    }
  },
  "canonicalName": "Drive Activity",
  "id": "driveactivity:v2"
}