{
  "version": "v2",
  "basePath": "/drive/v2/",
  "kind": "discovery#restDescription",
  "id": "drive:v2",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "title": "Google Drive API",
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/workspace/drive/",
  "schemas": {
    "ModifyLabelsRequest": {
      "type": "object",
      "description": "A request to modify the set of labels on a file. This request may contain many modifications that will either all succeed or all fail atomically.",
      "properties": {
        "kind": {
          "description": "This is always `drive#modifyLabelsRequest`.",
          "type": "string",
          "default": "drive#modifyLabelsRequest"
        },
        "labelModifications": {
          "items": {
            "$ref": "LabelModification"
          },
          "description": "The list of modifications to apply to the labels on the file.",
          "type": "array"
        }
      },
      "id": "ModifyLabelsRequest"
    },
    "StartPageToken": {
      "type": "object",
      "id": "StartPageToken",
      "properties": {
        "startPageToken": {
          "type": "string",
          "description": "The starting page token for listing changes."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#startPageToken\"`.",
          "type": "string",
          "default": "drive#startPageToken"
        }
      }
    },
    "ModifyLabelsResponse": {
      "properties": {
        "kind": {
          "default": "drive#modifyLabelsResponse",
          "description": "This is always `drive#modifyLabelsResponse`",
          "type": "string"
        },
        "modifiedLabels": {
          "description": "The list of labels which were added or updated by the request.",
          "type": "array",
          "items": {
            "$ref": "Label"
          }
        }
      },
      "type": "object",
      "id": "ModifyLabelsResponse",
      "description": "Response to a ModifyLabels request. This contains only those labels which were added or updated by the request."
    },
    "File": {
      "id": "File",
      "type": "object",
      "description": "The metadata for a file. Some resource methods (such as `files.update`) require a `fileId`. Use the `files.list` method to retrieve the ID for a file.",
      "properties": {
        "headRevisionId": {
          "description": "Output only. The ID of the file's head revision. This field is only populated for files with content stored in Google Drive; it is not populated for Docs Editors or shortcut files.",
          "type": "string"
        },
        "editable": {
          "description": "Output only. Deprecated: Use `capabilities/canEdit` instead.",
          "type": "boolean",
          "deprecated": true
        },
        "contentRestrictions": {
          "items": {
            "$ref": "ContentRestriction"
          },
          "description": "Restrictions for accessing the content of the file. Only populated if such a restriction exists.",
          "type": "array"
        },
        "markedViewedByMeDate": {
          "type": "string",
          "description": "Deprecated.",
          "format": "date-time"
        },
        "sha256Checksum": {
          "type": "string",
          "description": "Output only. The SHA256 checksum associated with this file, if available. This field is only populated for files with content stored in Google Drive; it is not populated for Docs Editors or shortcut files."
        },
        "trashingUser": {
          "$ref": "User",
          "description": "Output only. If the file has been explicitly trashed, the user who trashed it. Only populated for items in shared drives."
        },
        "modifiedByMeDate": {
          "description": "Last time this file was modified by the user (formatted RFC 3339 timestamp). Note that setting modifiedDate will also update the modifiedByMe date for the user which set the date.",
          "format": "date-time",
          "type": "string"
        },
        "iconLink": {
          "description": "Output only. A link to the file's icon.",
          "type": "string"
        },
        "openWithLinks": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. A map of the id of each of the user's apps to a link to open this file with that app. Only populated when the drive.apps.readonly scope is used.",
          "type": "object"
        },
        "trashedDate": {
          "description": "The time that the item was trashed (formatted RFC 3339 timestamp). Only populated for items in shared drives.",
          "type": "string",
          "format": "date-time"
        },
        "isAppAuthorized": {
          "type": "boolean",
          "description": "Output only. Whether the file was created or opened by the requesting app."
        },
        "spaces": {
          "type": "array",
          "description": "Output only. The list of spaces which contain the file. Supported values are `drive`, `appDataFolder` and `photos`.",
          "items": {
            "type": "string"
          }
        },
        "lastViewedByMeDate": {
          "type": "string",
          "format": "date-time",
          "description": "Last time this file was viewed by the user (formatted RFC 3339 timestamp)."
        },
        "shortcutDetails": {
          "properties": {
            "targetMimeType": {
              "description": "Output only. The MIME type of the file that this shortcut points to. The value of this field is a snapshot of the target's MIME type, captured when the shortcut is created.",
              "type": "string"
            },
            "targetId": {
              "description": "The ID of the file that this shortcut points to. Can only be set on `files.insert` requests.",
              "type": "string"
            },
            "targetResourceKey": {
              "description": "Output only. The ResourceKey for the target file.",
              "type": "string"
            }
          },
          "type": "object",
          "description": "Shortcut file details. Only populated for shortcut files, which have the mimeType field set to `application/vnd.google-apps.shortcut`. Can only be set on `files.insert` requests."
        },
        "clientEncryptionDetails": {
          "description": "Client Side Encryption related details. Contains details about the encryption state of the file and details regarding the encryption mechanism that clients need to use when decrypting the contents of this item. This will only be present on files and not on folders or shortcuts.",
          "$ref": "ClientEncryptionDetails"
        },
        "selfLink": {
          "description": "Output only. A link back to this file.",
          "type": "string"
        },
        "fileExtension": {
          "description": "Output only. The final component of `fullFileExtension` with trailing text that does not appear to be part of the extension removed. This field is only populated for files with content stored in Google Drive; it is not populated for Docs Editors or shortcut files.",
          "type": "string"
        },
        "properties": {
          "type": "array",
          "description": "The list of properties.",
          "items": {
            "$ref": "Property"
          }
        },
        "ownedByMe": {
          "type": "boolean",
          "description": "Output only. Whether the file is owned by the current user. Not populated for items in shared drives."
        },
        "mimeType": {
          "description": "The MIME type of the file. This is only mutable on update when uploading new content. This field can be left blank, and the mimetype will be determined from the uploaded content's MIME type.",
          "type": "string"
        },
        "owners": {
          "description": "Output only. The owner of this file. Only certain legacy files may have more than one owner. This field isn't populated for items in shared drives.",
          "items": {
            "$ref": "User"
          },
          "type": "array"
        },
        "canReadRevisions": {
          "description": "Output only. Deprecated: Use `capabilities/canReadRevisions` instead.",
          "type": "boolean",
          "deprecated": true
        },
        "driveId": {
          "description": "Output only. ID of the shared drive the file resides in. Only populated for items in shared drives.",
          "type": "string"
        },
        "inheritedPermissionsDisabled": {
          "description": "Whether this file has inherited permissions disabled. Inherited permissions are enabled by default.",
          "type": "boolean"
        },
        "thumbnail": {
          "description": "A thumbnail for the file. This will only be used if a standard thumbnail cannot be generated.",
          "type": "object",
          "properties": {
            "mimeType": {
              "type": "string",
              "description": "The MIME type of the thumbnail."
            },
            "image": {
              "description": "The URL-safe Base64 encoded bytes of the thumbnail image. It should conform to RFC 4648 section 5.",
              "type": "string",
              "format": "byte"
            }
          }
        },
        "etag": {
          "type": "string",
          "description": "Output only. ETag of the file."
        },
        "id": {
          "type": "string",
          "description": "The ID of the file."
        },
        "userPermission": {
          "description": "Output only. The permissions for the authenticated user on this file.",
          "$ref": "Permission"
        },
        "thumbnailLink": {
          "type": "string",
          "description": "Output only. A short-lived link to the file's thumbnail, if available. Typically lasts on the order of hours. Not intended for direct usage on web applications due to [Cross-Origin Resource Sharing (CORS)](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS), consider using a proxy server. Only populated when the requesting app can access the file's content. If the file isn't shared publicly, the URL returned in `Files.thumbnailLink` must be fetched using a credentialed request."
        },
        "permissions": {
          "items": {
            "$ref": "Permission"
          },
          "type": "array",
          "description": "Output only. The list of permissions for users with access to this file. Not populated for items in shared drives."
        },
        "appDataContents": {
          "type": "boolean",
          "description": "Output only. Whether this file is in the Application Data folder."
        },
        "md5Checksum": {
          "description": "Output only. An MD5 checksum for the content of this file. This field is only populated for files with content stored in Google Drive; it is not populated for Docs Editors or shortcut files.",
          "type": "string"
        },
        "alternateLink": {
          "description": "Output only. A link for opening the file in a relevant Google editor or viewer.",
          "type": "string"
        },
        "teamDriveId": {
          "description": "Output only. Deprecated: Use `driveId` instead.",
          "type": "string",
          "deprecated": true
        },
        "webViewLink": {
          "type": "string",
          "description": "Output only. A link only available on public folders for viewing their static web assets (HTML, CSS, JS, etc) via Google Drive's Website Hosting."
        },
        "description": {
          "type": "string",
          "description": "A short description of the file."
        },
        "modifiedDate": {
          "format": "date-time",
          "type": "string",
          "description": "Last time this file was modified by anyone (formatted RFC 3339 timestamp). This is only mutable on update when the setModifiedDate parameter is set."
        },
        "sha1Checksum": {
          "type": "string",
          "description": "Output only. The SHA1 checksum associated with this file, if available. This field is only populated for files with content stored in Google Drive; it is not populated for Docs Editors or shortcut files."
        },
        "copyRequiresWriterPermission": {
          "type": "boolean",
          "description": "Whether the options to copy, print, or download this file, should be disabled for readers and commenters."
        },
        "defaultOpenWithLink": {
          "description": "Output only. A link to open this file with the user's default app for this file. Only populated when the drive.apps.readonly scope is used.",
          "type": "string"
        },
        "permissionIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. List of permission IDs for users with access to this file."
        },
        "capabilities": {
          "type": "object",
          "properties": {
            "canMoveChildrenOutOfDrive": {
              "description": "Output only. Whether the current user can move children of this folder outside of the shared drive. This is false when the item is not a folder. Only populated for items in shared drives.",
              "type": "boolean"
            },
            "canDeleteChildren": {
              "type": "boolean",
              "description": "Output only. Whether the current user can delete children of this folder. This is false when the item is not a folder. Only populated for items in shared drives."
            },
            "canAcceptOwnership": {
              "type": "boolean",
              "description": "Output only. Whether the current user is the pending owner of the file. Not populated for shared drive files."
            },
            "canChangeRestrictedDownload": {
              "description": "Output only. Deprecated.",
              "type": "boolean",
              "deprecated": true
            },
            "canListChildren": {
              "description": "Output only. Whether the current user can list the children of this folder. This is always false when the item is not a folder.",
              "type": "boolean"
            },
            "canReadLabels": {
              "type": "boolean",
              "description": "Output only. Whether the current user can read the labels on the file."
            },
            "canReadRevisions": {
              "description": "Output only. Whether the current user can read the revisions resource of this file. For a shared drive item, whether revisions of non-folder descendants of this item, or this item itself if it is not a folder, can be read.",
              "type": "boolean"
            },
            "canChangeSecurityUpdateEnabled": {
              "description": "Output only. Whether the current user can change the securityUpdateEnabled field on link share metadata.",
              "type": "boolean"
            },
            "canTrash": {
              "description": "Output only. Whether the current user can move this file to trash.",
              "type": "boolean"
            },
            "canModifyLabels": {
              "type": "boolean",
              "description": "Output only. Whether the current user can modify the labels on the file."
            },
            "canMoveChildrenOutOfTeamDrive": {
              "deprecated": true,
              "type": "boolean",
              "description": "Output only. Deprecated: Use `canMoveChildrenOutOfDrive` instead."
            },
            "canShare": {
              "description": "Output only. Whether the current user can modify the sharing settings for this file.",
              "type": "boolean"
            },
            "canTrashChildren": {
              "type": "boolean",
              "description": "Output only. Whether the current user can trash children of this folder. This is false when the item is not a folder. Only populated for items in shared drives."
            },
            "canComment": {
              "description": "Output only. Whether the current user can comment on this file.",
              "type": "boolean"
            },
            "canReadTeamDrive": {
              "description": "Output only. Deprecated: Use `canReadDrive` instead.",
              "deprecated": true,
              "type": "boolean"
            },
            "canReadDrive": {
              "description": "Output only. Whether the current user can read the shared drive to which this file belongs. Only populated for items in shared drives.",
              "type": "boolean"
            },
            "canMoveItemWithinDrive": {
              "description": "Output only. Whether the current user can move this item within this drive. Note that a request to change the parent of the item may still fail depending on the new parent that is being added and the parent that is being removed.",
              "type": "boolean"
            },
            "canDisableInheritedPermissions": {
              "description": "Output only. Whether a user can disable inherited permissions.",
              "type": "boolean",
              "readOnly": true
            },
            "canRemoveMyDriveParent": {
              "type": "boolean",
              "description": "Output only. Whether the current user can remove a parent from the item without adding another parent in the same request. Not populated for shared drive files."
            },
            "canModifyContentRestriction": {
              "deprecated": true,
              "description": "Deprecated: Output only. Use one of `canModifyEditorContentRestriction`, `canModifyOwnerContentRestriction` or `canRemoveContentRestriction`.",
              "type": "boolean"
            },
            "canEnableInheritedPermissions": {
              "readOnly": true,
              "description": "Output only. Whether a user can re-enable inherited permissions.",
              "type": "boolean"
            },
            "canRemoveChildren": {
              "type": "boolean",
              "description": "Output only. Whether the current user can remove children from this folder. This is always false when the item is not a folder. For a folder in a shared drive, use `canDeleteChildren` or `canTrashChildren` instead."
            },
            "canMoveItemIntoTeamDrive": {
              "description": "Output only. Deprecated: Use `canMoveItemOutOfDrive` instead.",
              "deprecated": true,
              "type": "boolean"
            },
            "canModifyOwnerContentRestriction": {
              "type": "boolean",
              "description": "Output only. Whether the current user can add or modify content restrictions which are owner restricted."
            },
            "canEdit": {
              "description": "Output only. Whether the current user can edit this file. Other factors may limit the type of changes a user can make to a file. For example, see `canChangeCopyRequiresWriterPermission` or `canModifyContent`.",
              "type": "boolean"
            },
            "canDownload": {
              "description": "Output only. Whether the current user can download this file.",
              "type": "boolean"
            },
            "canMoveItemWithinTeamDrive": {
              "description": "Output only. Deprecated: Use `canMoveItemWithinDrive` instead.",
              "type": "boolean",
              "deprecated": true
            },
            "canModifyEditorContentRestriction": {
              "description": "Output only. Whether the current user can add or modify content restrictions on the file which are editor restricted.",
              "type": "boolean"
            },
            "canModifyContent": {
              "description": "Output only. Whether the current user can modify the content of this file.",
              "type": "boolean"
            },
            "canRename": {
              "type": "boolean",
              "description": "Output only. Whether the current user can rename this file."
            },
            "canDelete": {
              "description": "Output only. Whether the current user can delete this file.",
              "type": "boolean"
            },
            "canRemoveContentRestriction": {
              "description": "Output only. Whether there is a content restriction on the file that can be removed by the current user.",
              "type": "boolean"
            },
            "canAddChildren": {
              "description": "Output only. Whether the current user can add children to this folder. This is always false when the item is not a folder.",
              "type": "boolean"
            },
            "canMoveItemOutOfTeamDrive": {
              "description": "Output only. Deprecated: Use `canMoveItemOutOfDrive` instead.",
              "deprecated": true,
              "type": "boolean"
            },
            "canAddFolderFromAnotherDrive": {
              "type": "boolean",
              "description": "Output only. Whether the current user can add a folder from another drive (different shared drive or My Drive) to this folder. This is false when the item is not a folder. Only populated for items in shared drives."
            },
            "canUntrash": {
              "type": "boolean",
              "description": "Output only. Whether the current user can restore this file from trash."
            },
            "canChangeCopyRequiresWriterPermission": {
              "description": "Output only. Whether the current user can change the `copyRequiresWriterPermission` restriction of this file.",
              "type": "boolean"
            },
            "canMoveChildrenWithinDrive": {
              "type": "boolean",
              "description": "Output only. Whether the current user can move children of this folder within this drive. This is false when the item is not a folder. Note that a request to move the child may still fail depending on the current user's access to the child and to the destination folder."
            },
            "canMoveItemOutOfDrive": {
              "description": "Output only. Whether the current user can move this item outside of this drive by changing its parent. Note that a request to change the parent of the item may still fail depending on the new parent that is being added.",
              "type": "boolean"
            },
            "canAddMyDriveParent": {
              "type": "boolean",
              "description": "Output only. Whether the current user can add a parent for the item without removing an existing parent in the same request. Not populated for shared drive files."
            },
            "canMoveChildrenWithinTeamDrive": {
              "type": "boolean",
              "description": "Output only. Deprecated: Use `canMoveChildrenWithinDrive` instead.",
              "deprecated": true
            },
            "canMoveTeamDriveItem": {
              "deprecated": true,
              "description": "Output only. Deprecated: Use `canMoveItemWithinDrive` or `canMoveItemOutOfDrive` instead.",
              "type": "boolean"
            },
            "canCopy": {
              "description": "Output only. Whether the current user can copy this file. For an item in a shared drive, whether the current user can copy non-folder descendants of this item, or this item itself if it is not a folder.",
              "type": "boolean"
            }
          },
          "description": "Output only. Capabilities the current user has on this file. Each capability corresponds to a fine-grained action that a user may take."
        },
        "hasThumbnail": {
          "description": "Output only. Whether this file has a thumbnail. This does not indicate whether the requesting app has access to the thumbnail. To check access, look for the presence of the thumbnailLink field.",
          "type": "boolean"
        },
        "fullFileExtension": {
          "type": "string",
          "description": "Output only. The full file extension; extracted from the title. May contain multiple concatenated extensions, such as \"tar.gz\". Removing an extension from the title does not clear this field; however, changing the extension on the title does update this field. This field is only populated for files with content stored in Google Drive; it is not populated for Docs Editors or shortcut files."
        },
        "embedLink": {
          "description": "Output only. A link for embedding the file.",
          "type": "string"
        },
        "videoMediaMetadata": {
          "type": "object",
          "description": "Output only. Metadata about video media. This will only be present for video types.",
          "properties": {
            "width": {
              "description": "Output only. The width of the video in pixels.",
              "type": "integer",
              "format": "int32"
            },
            "height": {
              "format": "int32",
              "type": "integer",
              "description": "Output only. The height of the video in pixels."
            },
            "durationMillis": {
              "format": "int64",
              "type": "string",
              "description": "Output only. The duration of the video in milliseconds."
            }
          }
        },
        "canComment": {
          "description": "Output only. Deprecated: Use `capabilities/canComment` instead.",
          "type": "boolean",
          "deprecated": true
        },
        "parents": {
          "items": {
            "$ref": "ParentReference"
          },
          "type": "array",
          "description": "The ID of the parent folder containing the file. A file can only have one parent folder; specifying multiple parents isn't supported. If not specified as part of an insert request, the file is placed directly in the user's My Drive folder. If not specified as part of a copy request, the file inherits any discoverable parent of the source file. Update requests must use the `addParents` and `removeParents` parameters to modify the parents list."
        },
        "imageMediaMetadata": {
          "description": "Output only. Metadata about image media. This will only be present for image types, and its contents will depend on what can be parsed from the image content.",
          "properties": {
            "exposureBias": {
              "type": "number",
              "description": "Output only. The exposure bias of the photo (APEX value).",
              "format": "float"
            },
            "cameraMake": {
              "description": "Output only. The make of the camera used to create the photo.",
              "type": "string"
            },
            "cameraModel": {
              "description": "Output only. The model of the camera used to create the photo.",
              "type": "string"
            },
            "width": {
              "format": "int32",
              "description": "Output only. The width of the image in pixels.",
              "type": "integer"
            },
            "sensor": {
              "type": "string",
              "description": "Output only. The type of sensor used to create the photo."
            },
            "rotation": {
              "type": "integer",
              "description": "Output only. The number of clockwise 90 degree rotations applied from the image's original orientation.",
              "format": "int32"
            },
            "date": {
              "type": "string",
              "description": "Output only. The date and time the photo was taken (EXIF format timestamp)."
            },
            "focalLength": {
              "format": "float",
              "description": "Output only. The focal length used to create the photo, in millimeters.",
              "type": "number"
            },
            "isoSpeed": {
              "type": "integer",
              "description": "Output only. The ISO speed used to create the photo.",
              "format": "int32"
            },
            "colorSpace": {
              "type": "string",
              "description": "Output only. The color space of the photo."
            },
            "subjectDistance": {
              "type": "integer",
              "description": "Output only. The distance to the subject of the photo, in meters.",
              "format": "int32"
            },
            "meteringMode": {
              "description": "Output only. The metering mode used to create the photo.",
              "type": "string"
            },
            "lens": {
              "description": "Output only. The lens used to create the photo.",
              "type": "string"
            },
            "exposureMode": {
              "description": "Output only. The exposure mode used to create the photo.",
              "type": "string"
            },
            "exposureTime": {
              "type": "number",
              "description": "Output only. The length of the exposure, in seconds.",
              "format": "float"
            },
            "aperture": {
              "type": "number",
              "format": "float",
              "description": "Output only. The aperture used to create the photo (f-number)."
            },
            "maxApertureValue": {
              "description": "Output only. The smallest f-number of the lens at the focal length used to create the photo (APEX value).",
              "type": "number",
              "format": "float"
            },
            "flashUsed": {
              "type": "boolean",
              "description": "Output only. Whether a flash was used to create the photo."
            },
            "location": {
              "type": "object",
              "description": "Output only. Geographic location information stored in the image.",
              "properties": {
                "longitude": {
                  "format": "double",
                  "type": "number",
                  "description": "Output only. The longitude stored in the image."
                },
                "altitude": {
                  "description": "Output only. The altitude stored in the image.",
                  "format": "double",
                  "type": "number"
                },
                "latitude": {
                  "type": "number",
                  "format": "double",
                  "description": "Output only. The latitude stored in the image."
                }
              }
            },
            "height": {
              "type": "integer",
              "format": "int32",
              "description": "Output only. The height of the image in pixels."
            },
            "whiteBalance": {
              "type": "string",
              "description": "Output only. The white balance mode used to create the photo."
            }
          },
          "type": "object"
        },
        "labelInfo": {
          "type": "object",
          "properties": {
            "labels": {
              "items": {
                "$ref": "Label"
              },
              "description": "Output only. The set of labels on the file as requested by the label IDs in the `includeLabels` parameter. By default, no labels are returned.",
              "type": "array"
            }
          },
          "description": "Output only. An overview of the labels on the file."
        },
        "version": {
          "format": "int64",
          "type": "string",
          "description": "Output only. A monotonically increasing version number for the file. This reflects every change made to the file on the server, even those not visible to the requesting user."
        },
        "createdDate": {
          "format": "date-time",
          "description": "Create time for this file (formatted RFC 3339 timestamp).",
          "type": "string"
        },
        "linkShareMetadata": {
          "description": "Contains details about the link URLs that clients are using to refer to this item.",
          "properties": {
            "securityUpdateEnabled": {
              "description": "Output only. Whether the security update is enabled for this file.",
              "type": "boolean"
            },
            "securityUpdateEligible": {
              "type": "boolean",
              "description": "Output only. Whether the file is eligible for security update."
            }
          },
          "type": "object"
        },
        "folderColorRgb": {
          "description": "Folder color as an RGB hex string if the file is a folder or a shortcut to a folder. The list of supported colors is available in the folderColorPalette field of the About resource. If an unsupported color is specified, it will be changed to the closest color in the palette.",
          "type": "string"
        },
        "quotaBytesUsed": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The number of quota bytes used by this file."
        },
        "resourceKey": {
          "description": "Output only. A key needed to access the item via a shared link.",
          "type": "string"
        },
        "indexableText": {
          "description": "Indexable text attributes for the file (can only be written)",
          "type": "object",
          "properties": {
            "text": {
              "description": "The text to be indexed for this file.",
              "type": "string"
            }
          }
        },
        "sharedWithMeDate": {
          "description": "Time at which this file was shared with the user (formatted RFC 3339 timestamp).",
          "type": "string",
          "format": "date-time"
        },
        "ownerNames": {
          "description": "Output only. Name(s) of the owner(s) of this file. Not populated for items in shared drives.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "lastModifyingUserName": {
          "description": "Output only. Name of the last user to modify this file.",
          "type": "string"
        },
        "fileSize": {
          "format": "int64",
          "description": "Output only. Size in bytes of blobs and first party editor files. Won't be populated for files that have no size, like shortcuts and folders.",
          "type": "string"
        },
        "explicitlyTrashed": {
          "description": "Output only. Whether this file has been explicitly trashed, as opposed to recursively trashed.",
          "type": "boolean"
        },
        "webContentLink": {
          "type": "string",
          "description": "Output only. A link for downloading the content of the file in a browser using cookie based authentication. In cases where the content is shared publicly, the content can be downloaded without any credentials."
        },
        "title": {
          "description": "The title of this file. Note that for immutable items such as the top level folders of shared drives, My Drive root folder, and Application Data folder the title is constant.",
          "type": "string"
        },
        "copyable": {
          "deprecated": true,
          "type": "boolean",
          "description": "Output only. Deprecated: Use `capabilities/canCopy` instead."
        },
        "exportLinks": {
          "type": "object",
          "readOnly": true,
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. Links for exporting Docs Editors files to specific formats."
        },
        "shared": {
          "description": "Output only. Whether the file has been shared. Not populated for items in shared drives.",
          "type": "boolean"
        },
        "shareable": {
          "description": "Output only. Deprecated: Use `capabilities/canShare` instead.",
          "type": "boolean",
          "deprecated": true
        },
        "sharingUser": {
          "description": "Output only. User that shared the item with the current user, if available.",
          "$ref": "User"
        },
        "labels": {
          "description": "A group of labels for the file.",
          "type": "object",
          "properties": {
            "hidden": {
              "description": "Output only. Deprecated.",
              "type": "boolean",
              "deprecated": true
            },
            "trashed": {
              "type": "boolean",
              "description": "Whether this file has been trashed. This label applies to all users accessing the file; however, only owners are allowed to see and untrash files."
            },
            "starred": {
              "description": "Whether this file is starred by the user.",
              "type": "boolean"
            },
            "restricted": {
              "deprecated": true,
              "type": "boolean",
              "description": "Output only. Deprecated: Use `copyRequiresWriterPermission` instead."
            },
            "viewed": {
              "type": "boolean",
              "description": "Whether this file has been viewed by this user."
            },
            "modified": {
              "description": "Output only. Whether the file has been modified by this user.",
              "type": "boolean"
            }
          }
        },
        "originalFilename": {
          "description": "The original filename of the uploaded content if available, or else the original value of the `title` field. This is only available for files with binary content in Google Drive.",
          "type": "string"
        },
        "hasAugmentedPermissions": {
          "description": "Output only. Whether there are permissions directly on this file. This field is only populated for items in shared drives.",
          "type": "boolean"
        },
        "downloadUrl": {
          "description": "Output only. Short lived download URL for the file. This field is only populated for files with content stored in Google Drive; it is not populated for Google Docs or shortcut files.",
          "type": "string"
        },
        "lastModifyingUser": {
          "$ref": "User",
          "description": "Output only. The last user to modify this file. This field is only populated when the last modification was performed by a signed-in user."
        },
        "writersCanShare": {
          "type": "boolean",
          "description": "Whether writers can share the document with other users. Not populated for items in shared drives."
        },
        "thumbnailVersion": {
          "format": "int64",
          "type": "string",
          "description": "Output only. The thumbnail version for use in thumbnail cache invalidation."
        },
        "kind": {
          "default": "drive#file",
          "description": "Output only. The type of file. This is always `drive#file`.",
          "type": "string"
        }
      }
    },
    "App": {
      "description": "The apps resource provides a list of the apps that a user has installed, with information about each app's supported MIME types, file extensions, and other details. Some resource methods (such as `apps.get`) require an `appId`. Use the `apps.list` method to retrieve the ID for an installed application.",
      "id": "App",
      "type": "object",
      "properties": {
        "hasDriveWideScope": {
          "type": "boolean",
          "description": "Whether the app has drive-wide scope. An app with drive-wide scope can access all files in the user's drive."
        },
        "primaryFileExtensions": {
          "description": "The list of primary file extensions.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "openUrlTemplate": {
          "type": "string",
          "description": "The template url for opening files with this app. The template will contain `{ids}` and/or `{exportIds}` to be replaced by the actual file ids. See Open Files for the full documentation."
        },
        "authorized": {
          "description": "Whether the app is authorized to access data on the user's Drive.",
          "type": "boolean"
        },
        "createUrl": {
          "description": "The url to create a new file with this app.",
          "type": "string"
        },
        "objectType": {
          "description": "The type of object this app creates (e.g. Chart). If empty, the app name should be used instead.",
          "type": "string"
        },
        "secondaryFileExtensions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of secondary file extensions."
        },
        "primaryMimeTypes": {
          "description": "The list of primary mime types.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "kind": {
          "default": "drive#app",
          "type": "string",
          "description": "This is always `drive#app`."
        },
        "icons": {
          "type": "array",
          "description": "The various icons for the app.",
          "items": {
            "properties": {
              "category": {
                "description": "Category of the icon. Allowed values are: * `application` - icon for the application * `document` - icon for a file associated with the app * `documentShared` - icon for a shared file associated with the app",
                "type": "string"
              },
              "iconUrl": {
                "description": "URL for the icon.",
                "type": "string"
              },
              "size": {
                "type": "integer",
                "format": "int32",
                "description": "Size of the icon. Represented as the maximum of the width and height."
              }
            },
            "type": "object"
          }
        },
        "supportsOfflineCreate": {
          "description": "Whether this app supports creating new files when offline.",
          "type": "boolean"
        },
        "supportsImport": {
          "description": "Whether this app supports importing from Docs Editors.",
          "type": "boolean"
        },
        "supportsMultiOpen": {
          "type": "boolean",
          "description": "Whether this app supports opening more than one file."
        },
        "shortDescription": {
          "type": "string",
          "description": "A short description of the app."
        },
        "longDescription": {
          "type": "string",
          "description": "A long description of the app."
        },
        "secondaryMimeTypes": {
          "description": "The list of secondary mime types.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "createInFolderTemplate": {
          "description": "The template url to create a new file with this app in a given folder. The template will contain {folderId} to be replaced by the folder to create the new file in.",
          "type": "string"
        },
        "name": {
          "description": "The name of the app.",
          "type": "string"
        },
        "productId": {
          "type": "string",
          "description": "The ID of the product listing for this app."
        },
        "id": {
          "type": "string",
          "description": "The ID of the app."
        },
        "productUrl": {
          "description": "A link to the product listing for this app.",
          "type": "string"
        },
        "useByDefault": {
          "description": "Whether the app is selected as the default handler for the types it supports.",
          "type": "boolean"
        },
        "installed": {
          "type": "boolean",
          "description": "Whether the app is installed."
        },
        "supportsCreate": {
          "description": "Whether this app supports creating new objects.",
          "type": "boolean"
        }
      }
    },
    "LabelField": {
      "description": "Representation of field, which is a typed key-value pair.",
      "properties": {
        "kind": {
          "description": "This is always `drive#labelField`.",
          "default": "drive#labelField",
          "type": "string"
        },
        "text": {
          "description": "Only present if `valueType` is `text`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "user": {
          "items": {
            "$ref": "User"
          },
          "description": "Only present if `valueType` is `user`.",
          "type": "array"
        },
        "dateString": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "date"
          },
          "description": "Only present if valueType is dateString. RFC 3339 formatted date: YYYY-MM-DD."
        },
        "valueType": {
          "type": "string",
          "description": "The field type. While new values may be supported in the future, the following are currently allowed: * `dateString` * `integer` * `selection` * `text` * `user`"
        },
        "selection": {
          "items": {
            "type": "string"
          },
          "description": "Only present if `valueType` is `selection`",
          "type": "array"
        },
        "integer": {
          "type": "array",
          "description": "Only present if `valueType` is `integer`.",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "id": {
          "description": "The identifier of this label field.",
          "type": "string"
        }
      },
      "id": "LabelField",
      "type": "object"
    },
    "Comment": {
      "id": "Comment",
      "description": "A comment on a file in Google Drive.",
      "type": "object",
      "properties": {
        "context": {
          "description": "Context of a file which is being commented on.",
          "properties": {
            "type": {
              "description": "The MIME type of the context snippet.",
              "type": "string"
            },
            "value": {
              "type": "string",
              "description": "Data representation of the segment of the file being commented on. In the case of a text file for example, this would be the actual text that the comment is about."
            }
          },
          "type": "object"
        },
        "status": {
          "type": "string",
          "description": "The status of this comment. Status can be changed by posting a reply to a comment with the desired status. Possible values are: * `open` - The comment is still open. * `resolved` - The comment has been resolved by one of its replies."
        },
        "modifiedDate": {
          "type": "string",
          "format": "date-time",
          "description": "The date when this comment or any of its replies were last modified."
        },
        "fileTitle": {
          "description": "The title of the file which this comment is addressing.",
          "type": "string"
        },
        "createdDate": {
          "format": "date-time",
          "type": "string",
          "description": "The date when this comment was first created."
        },
        "content": {
          "type": "string",
          "description": "The plain text content used to create this comment. This is not HTML safe and should only be used as a starting point to make edits to a comment's content.",
          "annotations": {
            "required": [
              "drive.comments.insert",
              "drive.comments.patch",
              "drive.comments.update"
            ]
          }
        },
        "commentId": {
          "description": "The ID of the comment.",
          "type": "string"
        },
        "fileId": {
          "description": "The file which this comment is addressing.",
          "type": "string"
        },
        "anchor": {
          "type": "string",
          "description": "A region of the document represented as a JSON string. For details on defining anchor properties, refer to [Manage comments and replies](https://developers.google.com/workspace/drive/api/v3/manage-comments)."
        },
        "selfLink": {
          "description": "A link back to this comment.",
          "type": "string"
        },
        "replies": {
          "description": "Replies to this post.",
          "items": {
            "$ref": "CommentReply"
          },
          "type": "array"
        },
        "kind": {
          "default": "drive#comment",
          "type": "string",
          "description": "This is always drive#comment."
        },
        "author": {
          "$ref": "User",
          "description": "The user who wrote this comment."
        },
        "deleted": {
          "description": "Whether this comment has been deleted. If a comment has been deleted the content will be cleared and this will only represent a comment that once existed.",
          "type": "boolean"
        },
        "htmlContent": {
          "type": "string",
          "description": "HTML formatted content for this comment."
        }
      }
    },
    "CommentReplyList": {
      "id": "CommentReplyList",
      "description": "A list of replies to a comment on a file in Google Drive.",
      "properties": {
        "nextLink": {
          "type": "string",
          "description": "A link to the next page of replies."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The page token for the next page of replies. This will be absent if the end of the replies list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results."
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "CommentReply"
          },
          "description": "The list of replies. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched."
        },
        "selfLink": {
          "type": "string",
          "description": "A link back to this list."
        },
        "kind": {
          "description": "This is always `drive#commentReplyList`.",
          "default": "drive#commentReplyList",
          "type": "string"
        }
      },
      "type": "object"
    },
    "User": {
      "id": "User",
      "type": "object",
      "properties": {
        "permissionId": {
          "description": "Output only. The user's ID as visible in Permission resources.",
          "type": "string",
          "readOnly": true
        },
        "kind": {
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `drive#user`.",
          "readOnly": true,
          "default": "drive#user",
          "type": "string"
        },
        "isAuthenticatedUser": {
          "description": "Output only. Whether this user is the same as the authenticated user for whom the request was made.",
          "type": "boolean",
          "readOnly": true
        },
        "emailAddress": {
          "description": "Output only. The email address of the user. This may not be present in certain contexts if the user has not made their email address visible to the requester.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Output only. A plain text displayable name for this user.",
          "readOnly": true,
          "type": "string"
        },
        "picture": {
          "description": "Output only. The user's profile picture.",
          "type": "object",
          "properties": {
            "url": {
              "description": "Output only. A URL that points to a profile picture of this user.",
              "readOnly": true,
              "type": "string"
            }
          },
          "readOnly": true
        }
      },
      "description": "Information about a Drive user."
    },
    "ChangeList": {
      "description": "A list of changes for a user.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The page token for the next page of changes. This will be absent if the end of the changes list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results."
        },
        "etag": {
          "description": "The ETag of the list.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "The list of changes. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "items": {
            "$ref": "Change"
          }
        },
        "nextLink": {
          "description": "A link to the next page of changes.",
          "type": "string"
        },
        "largestChangeId": {
          "type": "string",
          "description": "The current largest change ID.",
          "format": "int64"
        },
        "kind": {
          "description": "This is always `drive#changeList`.",
          "type": "string",
          "default": "drive#changeList"
        },
        "selfLink": {
          "description": "A link back to this list.",
          "type": "string"
        },
        "newStartPageToken": {
          "description": "The starting page token for future changes. This will be present only if the end of the current changes list has been reached.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ChangeList"
    },
    "ClientEncryptionDetails": {
      "id": "ClientEncryptionDetails",
      "description": "Details about the client-side encryption applied to the file.",
      "type": "object",
      "properties": {
        "decryptionMetadata": {
          "$ref": "DecryptionMetadata",
          "description": "The metadata used for client-side operations."
        },
        "encryptionState": {
          "description": "The encryption state of the file. The values expected here are: - encrypted - unencrypted ",
          "type": "string"
        }
      }
    },
    "GenerateCseTokenResponse": {
      "properties": {
        "currentKaclsId": {
          "description": "The current Key ACL Service (KACLS) ID associated with the JWT.",
          "type": "string",
          "format": "int64"
        },
        "currentKaclsName": {
          "description": "Name of the KACLs that the returned KACLs ID points to.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#generateCseTokenResponse\"`."
        },
        "jwt": {
          "description": "The signed JSON Web Token (JWT) for the file.",
          "type": "string"
        },
        "fileId": {
          "description": "The fileId for which the JWT was generated.",
          "type": "string"
        }
      },
      "description": "JWT and associated metadata used to generate CSE files.",
      "type": "object",
      "id": "GenerateCseTokenResponse"
    },
    "Change": {
      "description": "Representation of a change to a file or shared drive.",
      "id": "Change",
      "properties": {
        "driveId": {
          "description": "The ID of the shared drive associated with this change.",
          "type": "string"
        },
        "changeType": {
          "description": "The type of the change. Possible values are `file` and `drive`.",
          "type": "string"
        },
        "modificationDate": {
          "format": "date-time",
          "type": "string",
          "description": "The time of this modification."
        },
        "drive": {
          "description": "The updated state of the shared drive. Present if the changeType is drive, the user is still a member of the shared drive, and the shared drive has not been deleted.",
          "$ref": "Drive"
        },
        "teamDrive": {
          "description": "Deprecated: Use `drive` instead.",
          "$ref": "TeamDrive",
          "deprecated": true
        },
        "type": {
          "deprecated": true,
          "type": "string",
          "description": "Deprecated: Use `changeType` instead."
        },
        "file": {
          "$ref": "File",
          "description": "The updated state of the file. Present if the type is file and the file has not been removed from this list of changes."
        },
        "id": {
          "format": "int64",
          "type": "string",
          "description": "The ID of the change."
        },
        "fileId": {
          "type": "string",
          "description": "The ID of the file associated with this change."
        },
        "kind": {
          "type": "string",
          "default": "drive#change",
          "description": "This is always `drive#change`."
        },
        "deleted": {
          "type": "boolean",
          "description": "Whether the file or shared drive has been removed from this list of changes, for example by deletion or loss of access."
        },
        "teamDriveId": {
          "description": "Deprecated: Use `driveId` instead.",
          "type": "string",
          "deprecated": true
        },
        "selfLink": {
          "type": "string",
          "description": "A link back to this change."
        }
      },
      "type": "object"
    },
    "LabelList": {
      "id": "LabelList",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The page token for the next page of labels. This field will be absent if the end of the list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results."
        },
        "kind": {
          "description": "This is always `drive#labelList`",
          "default": "drive#labelList",
          "type": "string"
        },
        "items": {
          "description": "The list of labels.",
          "type": "array",
          "items": {
            "$ref": "Label"
          }
        }
      },
      "description": "A list of labels applied to a file."
    },
    "DecryptionMetadata": {
      "description": "Representation of the CSE DecryptionMetadata.",
      "properties": {
        "wrappedKey": {
          "description": "The URL-safe Base64 encoded wrapped key used to encrypt the contents of the file.",
          "type": "string"
        },
        "encryptionResourceKeyHash": {
          "type": "string",
          "description": "The URL-safe Base64 encoded HMAC-SHA256 digest of the resource metadata with its DEK (Data Encryption Key); see https://developers.google.com/workspace/cse/reference"
        },
        "kaclsName": {
          "type": "string",
          "description": "The name of the KACLS (Key ACL Service) used to encrypt the file."
        },
        "keyFormat": {
          "description": "Key format for the unwrapped key. Must be `tinkAesGcmKey`.",
          "type": "string"
        },
        "aes256GcmChunkSize": {
          "type": "string",
          "description": "Chunk size used if content was encrypted with the AES 256 GCM Cipher. Possible values are: - default - small "
        },
        "jwt": {
          "type": "string",
          "description": "The signed JSON Web Token (JWT) which can be used to authorize the requesting user with the Key ACL Service (KACLS). The JWT asserts that the requesting user has at least read permissions on the file."
        },
        "kaclsId": {
          "format": "int64",
          "type": "string",
          "description": "The ID of the KACLS (Key ACL Service) used to encrypt the file."
        }
      },
      "type": "object",
      "id": "DecryptionMetadata"
    },
    "Drive": {
      "description": "Representation of a shared drive. Some resource methods (such as `drives.update`) require a `driveId`. Use the `drives.list` method to retrieve the ID for a shared drive.",
      "id": "Drive",
      "properties": {
        "capabilities": {
          "description": "Output only. Capabilities the current user has on this shared drive.",
          "properties": {
            "canChangeDomainUsersOnlyRestriction": {
              "type": "boolean",
              "description": "Output only. Whether the current user can change the `domainUsersOnly` restriction of this shared drive."
            },
            "canTrashChildren": {
              "type": "boolean",
              "description": "Output only. Whether the current user can trash children from folders in this shared drive."
            },
            "canEdit": {
              "type": "boolean",
              "description": "Output only. Whether the current user can edit files in this shared drive"
            },
            "canManageMembers": {
              "type": "boolean",
              "description": "Output only. Whether the current user can add members to this shared drive or remove them or change their role."
            },
            "canDownload": {
              "description": "Output only. Whether the current user can download files in this shared drive.",
              "type": "boolean"
            },
            "canChangeSharingFoldersRequiresOrganizerPermissionRestriction": {
              "description": "Output only. Whether the current user can change the `sharingFoldersRequiresOrganizerPermission` restriction of this shared drive.",
              "type": "boolean"
            },
            "canDeleteDrive": {
              "type": "boolean",
              "description": "Output only. Whether the current user can delete this shared drive. Attempting to delete the shared drive may still fail if there are untrashed items inside the shared drive."
            },
            "canChangeCopyRequiresWriterPermissionRestriction": {
              "description": "Output only. Whether the current user can change the `copyRequiresWriterPermission` restriction of this shared drive.",
              "type": "boolean"
            },
            "canCopy": {
              "type": "boolean",
              "description": "Output only. Whether the current user can copy files in this shared drive."
            },
            "canChangeDriveMembersOnlyRestriction": {
              "description": "Output only. Whether the current user can change the `driveMembersOnly` restriction of this shared drive.",
              "type": "boolean"
            },
            "canResetDriveRestrictions": {
              "description": "Output only. Whether the current user can reset the shared drive restrictions to defaults.",
              "type": "boolean"
            },
            "canComment": {
              "description": "Output only. Whether the current user can comment on files in this shared drive.",
              "type": "boolean"
            },
            "canDeleteChildren": {
              "type": "boolean",
              "description": "Output only. Whether the current user can delete children from folders in this shared drive."
            },
            "canAddChildren": {
              "type": "boolean",
              "description": "Output only. Whether the current user can add children to folders in this shared drive."
            },
            "canListChildren": {
              "type": "boolean",
              "description": "Output only. Whether the current user can list the children of folders in this shared drive."
            },
            "canChangeDriveBackground": {
              "description": "Output only. Whether the current user can change the background of this shared drive.",
              "type": "boolean"
            },
            "canReadRevisions": {
              "description": "Output only. Whether the current user can read the revisions resource of files in this shared drive.",
              "type": "boolean"
            },
            "canShare": {
              "type": "boolean",
              "description": "Output only. Whether the current user can share files or folders in this shared drive."
            },
            "canRename": {
              "type": "boolean",
              "description": "Output only. Whether the current user can rename files or folders in this shared drive."
            },
            "canRenameDrive": {
              "type": "boolean",
              "description": "Output only. Whether the current user can rename this shared drive."
            }
          },
          "type": "object"
        },
        "id": {
          "type": "string",
          "description": "Output only. The ID of this shared drive which is also the ID of the top level folder of this shared drive."
        },
        "themeId": {
          "description": "The ID of the theme from which the background image and color will be set. The set of possible `driveThemes` can be retrieved from a `drive.about.get` response. When not specified on a `drive.drives.insert` request, a random theme is chosen from which the background image and color are set. This is a write-only field; it can only be set on requests that don't set `colorRgb` or `backgroundImageFile`.",
          "type": "string"
        },
        "createdDate": {
          "description": "The time at which the shared drive was created (RFC 3339 date-time).",
          "type": "string",
          "format": "date-time"
        },
        "orgUnitId": {
          "type": "string",
          "description": "Output only. The organizational unit of this shared drive. This field is only populated on `drives.list` responses when the `useDomainAdminAccess` parameter is set to `true`."
        },
        "name": {
          "type": "string",
          "annotations": {
            "required": [
              "drive.drives.insert"
            ]
          },
          "description": "The name of this shared drive."
        },
        "colorRgb": {
          "description": "The color of this shared drive as an RGB hex string. It can only be set on a `drive.drives.update` request that does not set `themeId`.",
          "type": "string"
        },
        "backgroundImageLink": {
          "type": "string",
          "description": "Output only. A short-lived link to this shared drive's background image."
        },
        "hidden": {
          "description": "Whether the shared drive is hidden from default view.",
          "type": "boolean"
        },
        "restrictions": {
          "properties": {
            "domainUsersOnly": {
              "description": "Whether access to this shared drive and items inside this shared drive is restricted to users of the domain to which this shared drive belongs. This restriction may be overridden by other sharing policies controlled outside of this shared drive.",
              "type": "boolean"
            },
            "sharingFoldersRequiresOrganizerPermission": {
              "description": "If true, only users with the organizer role can share folders. If false, users with either the organizer role or the file organizer role can share folders.",
              "type": "boolean"
            },
            "adminManagedRestrictions": {
              "type": "boolean",
              "description": "Whether administrative privileges on this shared drive are required to modify restrictions."
            },
            "driveMembersOnly": {
              "type": "boolean",
              "description": "Whether access to items inside this shared drive is restricted to its members."
            },
            "copyRequiresWriterPermission": {
              "description": "Whether the options to copy, print, or download files inside this shared drive, should be disabled for readers and commenters. When this restriction is set to `true`, it will override the similarly named field to `true` for any file inside this shared drive.",
              "type": "boolean"
            }
          },
          "description": "A set of restrictions that apply to this shared drive or items inside this shared drive.",
          "type": "object"
        },
        "kind": {
          "description": "Output only. This is always `drive#drive`",
          "default": "drive#drive",
          "type": "string"
        },
        "backgroundImageFile": {
          "properties": {
            "width": {
              "format": "float",
              "type": "number",
              "description": "The width of the cropped image in the closed range of 0 to 1. This value represents the width of the cropped image divided by the width of the entire image. The height is computed by applying a width to height aspect ratio of 80 to 9. The resulting image must be at least 1280 pixels wide and 144 pixels high."
            },
            "xCoordinate": {
              "format": "float",
              "description": "The X coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the horizontal distance from the left side of the entire image to the left side of the cropping area divided by the width of the entire image.",
              "type": "number"
            },
            "id": {
              "description": "The ID of an image file in Google Drive to use for the background image.",
              "type": "string"
            },
            "yCoordinate": {
              "type": "number",
              "format": "float",
              "description": "The Y coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the vertical distance from the top side of the entire image to the top side of the cropping area divided by the height of the entire image."
            }
          },
          "description": "An image file and cropping parameters from which a background image for this shared drive is set. This is a write only field; it can only be set on `drive.drives.update` requests that don't set `themeId`. When specified, all fields of the `backgroundImageFile` must be set.",
          "type": "object"
        }
      },
      "type": "object"
    },
    "ParentList": {
      "properties": {
        "etag": {
          "description": "The ETag of the list.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `drive#parentList`.",
          "default": "drive#parentList",
          "type": "string"
        },
        "items": {
          "description": "The list of parents.",
          "type": "array",
          "items": {
            "$ref": "ParentReference"
          }
        },
        "selfLink": {
          "type": "string",
          "description": "A link back to this list."
        }
      },
      "type": "object",
      "description": "A list of a file's parents.",
      "id": "ParentList"
    },
    "PermissionId": {
      "id": "PermissionId",
      "description": "An ID for a user or group as seen in Permission items.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "This is always `drive#permissionId`.",
          "type": "string",
          "default": "drive#permissionId"
        },
        "id": {
          "type": "string",
          "description": "The permission ID."
        }
      }
    },
    "TeamDrive": {
      "id": "TeamDrive",
      "properties": {
        "colorRgb": {
          "type": "string",
          "description": "The color of this Team Drive as an RGB hex string. It can only be set on a `drive.teamdrives.update` request that does not set `themeId`."
        },
        "name": {
          "description": "The name of this Team Drive.",
          "type": "string",
          "annotations": {
            "required": [
              "drive.teamdrives.insert"
            ]
          }
        },
        "orgUnitId": {
          "type": "string",
          "description": "The organizational unit of this shared drive. This field is only populated on `drives.list` responses when the `useDomainAdminAccess` parameter is set to `true`."
        },
        "restrictions": {
          "type": "object",
          "properties": {
            "sharingFoldersRequiresOrganizerPermission": {
              "type": "boolean",
              "description": "If true, only users with the organizer role can share folders. If false, users with either the organizer role or the file organizer role can share folders."
            },
            "copyRequiresWriterPermission": {
              "type": "boolean",
              "description": "Whether the options to copy, print, or download files inside this Team Drive, should be disabled for readers and commenters. When this restriction is set to `true`, it will override the similarly named field to `true` for any file inside this Team Drive."
            },
            "teamMembersOnly": {
              "type": "boolean",
              "description": "Whether access to items inside this Team Drive is restricted to members of this Team Drive."
            },
            "domainUsersOnly": {
              "description": "Whether access to this Team Drive and items inside this Team Drive is restricted to users of the domain to which this Team Drive belongs. This restriction may be overridden by other sharing policies controlled outside of this Team Drive.",
              "type": "boolean"
            },
            "adminManagedRestrictions": {
              "description": "Whether administrative privileges on this Team Drive are required to modify restrictions.",
              "type": "boolean"
            }
          },
          "description": "A set of restrictions that apply to this Team Drive or items inside this Team Drive."
        },
        "backgroundImageLink": {
          "description": "A short-lived link to this Team Drive's background image.",
          "type": "string"
        },
        "capabilities": {
          "type": "object",
          "description": "Capabilities the current user has on this Team Drive.",
          "properties": {
            "canCopy": {
              "description": "Whether the current user can copy files in this Team Drive.",
              "type": "boolean"
            },
            "canChangeDomainUsersOnlyRestriction": {
              "type": "boolean",
              "description": "Whether the current user can change the `domainUsersOnly` restriction of this Team Drive."
            },
            "canReadRevisions": {
              "type": "boolean",
              "description": "Whether the current user can read the revisions resource of files in this Team Drive."
            },
            "canChangeCopyRequiresWriterPermissionRestriction": {
              "type": "boolean",
              "description": "Whether the current user can change the `copyRequiresWriterPermission` restriction of this Team Drive."
            },
            "canComment": {
              "type": "boolean",
              "description": "Whether the current user can comment on files in this Team Drive."
            },
            "canAddChildren": {
              "type": "boolean",
              "description": "Whether the current user can add children to folders in this Team Drive."
            },
            "canDeleteChildren": {
              "description": "Whether the current user can delete children from folders in this Team Drive.",
              "type": "boolean"
            },
            "canDeleteTeamDrive": {
              "type": "boolean",
              "description": "Whether the current user can delete this Team Drive. Attempting to delete the Team Drive may still fail if there are untrashed items inside the Team Drive."
            },
            "canChangeTeamDriveBackground": {
              "type": "boolean",
              "description": "Whether the current user can change the background of this Team Drive."
            },
            "canRenameTeamDrive": {
              "description": "Whether the current user can rename this Team Drive.",
              "type": "boolean"
            },
            "canRename": {
              "type": "boolean",
              "description": "Whether the current user can rename files or folders in this Team Drive."
            },
            "canRemoveChildren": {
              "description": "Deprecated: Use `canDeleteChildren` or `canTrashChildren` instead.",
              "deprecated": true,
              "type": "boolean"
            },
            "canShare": {
              "description": "Whether the current user can share files or folders in this Team Drive.",
              "type": "boolean"
            },
            "canManageMembers": {
              "type": "boolean",
              "description": "Whether the current user can add members to this Team Drive or remove them or change their role."
            },
            "canDownload": {
              "description": "Whether the current user can download files in this Team Drive.",
              "type": "boolean"
            },
            "canChangeTeamMembersOnlyRestriction": {
              "description": "Whether the current user can change the `teamMembersOnly` restriction of this Team Drive.",
              "type": "boolean"
            },
            "canTrashChildren": {
              "description": "Whether the current user can trash children from folders in this Team Drive.",
              "type": "boolean"
            },
            "canChangeSharingFoldersRequiresOrganizerPermissionRestriction": {
              "description": "Whether the current user can change the `sharingFoldersRequiresOrganizerPermission` restriction of this Team Drive.",
              "type": "boolean"
            },
            "canEdit": {
              "type": "boolean",
              "description": "Whether the current user can edit files in this Team Drive"
            },
            "canListChildren": {
              "description": "Whether the current user can list the children of folders in this Team Drive.",
              "type": "boolean"
            },
            "canResetTeamDriveRestrictions": {
              "type": "boolean",
              "description": "Whether the current user can reset the Team Drive restrictions to defaults."
            }
          }
        },
        "createdDate": {
          "type": "string",
          "format": "date-time",
          "description": "The time at which the Team Drive was created (RFC 3339 date-time)."
        },
        "themeId": {
          "type": "string",
          "description": "The ID of the theme from which the background image and color will be set. The set of possible `teamDriveThemes` can be retrieved from a `drive.about.get` response. When not specified on a `drive.teamdrives.insert` request, a random theme is chosen from which the background image and color are set. This is a write-only field; it can only be set on requests that don't set `colorRgb` or `backgroundImageFile`."
        },
        "backgroundImageFile": {
          "type": "object",
          "description": "An image file and cropping parameters from which a background image for this Team Drive is set. This is a write only field; it can only be set on `drive.teamdrives.update` requests that don't set `themeId`. When specified, all fields of the `backgroundImageFile` must be set.",
          "properties": {
            "id": {
              "description": "The ID of an image file in Drive to use for the background image.",
              "type": "string"
            },
            "xCoordinate": {
              "description": "The X coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the horizontal distance from the left side of the entire image to the left side of the cropping area divided by the width of the entire image.",
              "type": "number",
              "format": "float"
            },
            "yCoordinate": {
              "format": "float",
              "type": "number",
              "description": "The Y coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the vertical distance from the top side of the entire image to the top side of the cropping area divided by the height of the entire image."
            },
            "width": {
              "format": "float",
              "type": "number",
              "description": "The width of the cropped image in the closed range of 0 to 1. This value represents the width of the cropped image divided by the width of the entire image. The height is computed by applying a width to height aspect ratio of 80 to 9. The resulting image must be at least 1280 pixels wide and 144 pixels high."
            }
          }
        },
        "kind": {
          "description": "This is always `drive#teamDrive`",
          "type": "string",
          "default": "drive#teamDrive"
        },
        "id": {
          "type": "string",
          "description": "The ID of this Team Drive which is also the ID of the top level folder of this Team Drive."
        }
      },
      "description": "Deprecated: Use the `drive` collection instead.",
      "type": "object"
    },
    "ChildList": {
      "properties": {
        "nextPageToken": {
          "description": "The page token for the next page of children. This will be absent if the end of the children list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "drive#childList",
          "description": "This is always `drive#childList`."
        },
        "nextLink": {
          "type": "string",
          "description": "A link to the next page of children."
        },
        "etag": {
          "type": "string",
          "description": "The ETag of the list."
        },
        "items": {
          "items": {
            "$ref": "ChildReference"
          },
          "type": "array",
          "description": "The list of children. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched."
        },
        "selfLink": {
          "description": "A link back to this list.",
          "type": "string"
        }
      },
      "description": "A list of children of a file.",
      "id": "ChildList",
      "type": "object"
    },
    "About": {
      "id": "About",
      "properties": {
        "permissionId": {
          "type": "string",
          "description": "The current user's ID as visible in the permissions collection."
        },
        "isCurrentAppInstalled": {
          "description": "A boolean indicating whether the authenticated app is installed by the authenticated user.",
          "type": "boolean"
        },
        "features": {
          "description": "List of additional features enabled on this account.",
          "type": "array",
          "items": {
            "properties": {
              "featureName": {
                "type": "string",
                "description": "The name of the feature."
              },
              "featureRate": {
                "type": "number",
                "format": "double",
                "description": "The request limit rate for this feature, in queries per second."
              }
            },
            "type": "object"
          }
        },
        "domainSharingPolicy": {
          "type": "string",
          "description": "Deprecated: Does not granularly represent allowlisted domains or Trust Rules. The domain sharing policy for the current user. Possible values are: * `allowed` * `allowedWithWarning` * `incomingOnly` * `disallowed` Note that if the user is enrolled in Trust Rules, `disallowed` will always be returned. If sharing is restricted to allowlisted domains, either `incomingOnly` or `allowedWithWarning` will be returned, depending on whether receiving files from outside the allowlisted domains is permitted.",
          "deprecated": true
        },
        "selfLink": {
          "type": "string",
          "description": "A link back to this item."
        },
        "quotaBytesUsedInTrash": {
          "description": "The number of quota bytes used by trashed items.",
          "format": "int64",
          "type": "string"
        },
        "driveThemes": {
          "items": {
            "properties": {
              "backgroundImageLink": {
                "description": "A link to this theme's background image.",
                "type": "string"
              },
              "id": {
                "type": "string",
                "description": "The ID of the theme."
              },
              "colorRgb": {
                "description": "The color of this theme as an RGB hex string.",
                "type": "string"
              }
            },
            "type": "object"
          },
          "description": "A list of themes that are supported for shared drives.",
          "type": "array"
        },
        "quotaBytesUsed": {
          "description": "The number of quota bytes used by Google Drive.",
          "format": "int64",
          "type": "string"
        },
        "maxUploadSizes": {
          "type": "array",
          "items": {
            "properties": {
              "type": {
                "description": "The file type.",
                "type": "string"
              },
              "size": {
                "type": "string",
                "format": "int64",
                "description": "The max upload size for this type."
              }
            },
            "type": "object"
          },
          "description": "List of max upload sizes for each file type. The most specific type takes precedence."
        },
        "teamDriveThemes": {
          "items": {
            "type": "object",
            "properties": {
              "backgroundImageLink": {
                "type": "string",
                "description": "Deprecated: Use `driveThemes/backgroundImageLink` instead.",
                "deprecated": true
              },
              "id": {
                "deprecated": true,
                "type": "string",
                "description": "Deprecated: Use `driveThemes/id` instead."
              },
              "colorRgb": {
                "type": "string",
                "description": "Deprecated: Use `driveThemes/colorRgb` instead.",
                "deprecated": true
              }
            }
          },
          "deprecated": true,
          "description": "Deprecated: Use `driveThemes` instead.",
          "type": "array"
        },
        "canCreateDrives": {
          "description": "Whether the user can create shared drives.",
          "type": "boolean"
        },
        "user": {
          "description": "The authenticated user.",
          "$ref": "User"
        },
        "quotaBytesUsedAggregate": {
          "description": "The number of quota bytes used by all Google apps (Drive, Picasa, etc.).",
          "format": "int64",
          "type": "string"
        },
        "quotaBytesTotal": {
          "type": "string",
          "description": "The total number of quota bytes. This is only relevant when quotaType is LIMITED.",
          "format": "int64"
        },
        "languageCode": {
          "type": "string",
          "description": "The user's language or locale code, as defined by BCP 47, with some extensions from Unicode's LDML format (http://www.unicode.org/reports/tr35/)."
        },
        "largestChangeId": {
          "type": "string",
          "format": "int64",
          "description": "The largest change id."
        },
        "quotaBytesByService": {
          "description": "The amount of storage quota used by different Google services.",
          "items": {
            "type": "object",
            "properties": {
              "serviceName": {
                "type": "string",
                "description": "The service's name, e.g. DRIVE, GMAIL, or PHOTOS."
              },
              "bytesUsed": {
                "description": "The storage quota bytes used by the service.",
                "type": "string",
                "format": "int64"
              }
            }
          },
          "type": "array"
        },
        "exportFormats": {
          "type": "array",
          "items": {
            "properties": {
              "targets": {
                "description": "The possible content types to convert to.",
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              "source": {
                "type": "string",
                "description": "The content type to convert from."
              }
            },
            "type": "object"
          },
          "description": "The allowable export formats."
        },
        "rootFolderId": {
          "description": "The id of the root folder.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `drive#about`.",
          "default": "drive#about",
          "type": "string"
        },
        "etag": {
          "description": "The ETag of the item.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the current user."
        },
        "quotaType": {
          "type": "string",
          "description": "The type of the user's storage quota. Possible values are: * `LIMITED` * `UNLIMITED`"
        },
        "folderColorPalette": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The palette of allowable folder colors as RGB hex strings."
        },
        "remainingChangeIds": {
          "type": "string",
          "description": "The number of remaining change ids, limited to no more than 2500.",
          "format": "int64"
        },
        "canCreateTeamDrives": {
          "deprecated": true,
          "type": "boolean",
          "description": "Deprecated: Use `canCreateDrives` instead."
        },
        "additionalRoleInfo": {
          "type": "array",
          "items": {
            "properties": {
              "type": {
                "description": "The content type that this additional role info applies to.",
                "type": "string"
              },
              "roleSets": {
                "items": {
                  "properties": {
                    "additionalRoles": {
                      "items": {
                        "type": "string"
                      },
                      "description": "The supported additional roles with the primary role.",
                      "type": "array"
                    },
                    "primaryRole": {
                      "description": "A primary permission role.",
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "description": "The supported additional roles per primary role.",
                "type": "array"
              }
            },
            "type": "object"
          },
          "description": "Information about supported additional roles per file type. The most specific type takes precedence."
        },
        "importFormats": {
          "description": "The allowable import formats.",
          "items": {
            "type": "object",
            "properties": {
              "source": {
                "description": "The imported file's content type to convert from.",
                "type": "string"
              },
              "targets": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "The possible content types to convert to."
              }
            }
          },
          "type": "array"
        }
      },
      "description": "An item with user information and settings.",
      "type": "object"
    },
    "LabelModification": {
      "properties": {
        "fieldModifications": {
          "description": "The list of modifications to this label's fields.",
          "type": "array",
          "items": {
            "$ref": "LabelFieldModification"
          }
        },
        "removeLabel": {
          "description": "If true, the label will be removed from the file.",
          "type": "boolean"
        },
        "kind": {
          "type": "string",
          "default": "drive#labelModification",
          "description": "This is always `drive#labelModification`."
        },
        "labelId": {
          "type": "string",
          "annotations": {
            "required": [
              "drive.files.modifyLabels"
            ]
          },
          "description": "The ID of the label to modify."
        }
      },
      "description": "A modification to a label on a file. A LabelModification can be used to apply a label to a file, update an existing label on a file, or remove a label from a file.",
      "type": "object",
      "id": "LabelModification"
    },
    "ContentRestriction": {
      "id": "ContentRestriction",
      "type": "object",
      "description": "A restriction for accessing the content of the file.",
      "properties": {
        "type": {
          "type": "string",
          "description": "Output only. The type of the content restriction. Currently the only possible value is `globalContentRestriction`."
        },
        "restrictionDate": {
          "description": "The time at which the content restriction was set (formatted RFC 3339 timestamp). Only populated if readOnly is true.",
          "type": "string",
          "format": "date-time"
        },
        "restrictingUser": {
          "$ref": "User",
          "description": "Output only. The user who set the content restriction. Only populated if `readOnly` is true."
        },
        "ownerRestricted": {
          "type": "boolean",
          "description": "Whether the content restriction can only be modified or removed by a user who owns the file. For files in shared drives, any user with `organizer` capabilities can modify or remove this content restriction."
        },
        "systemRestricted": {
          "type": "boolean",
          "description": "Output only. Whether the content restriction was applied by the system, for example due to an esignature. Users cannot modify or remove system restricted content restrictions."
        },
        "readOnly": {
          "type": "boolean",
          "description": "Whether the content of the file is read-only. If a file is read-only, a new revision of the file may not be added, comments may not be added or modified, and the title of the file may not be modified."
        },
        "reason": {
          "description": "Reason for why the content of the file is restricted. This is only mutable on requests that also set `readOnly=true`.",
          "type": "string"
        }
      }
    },
    "PropertyList": {
      "description": "A collection of properties, key-value pairs that are either public or private to an application.",
      "properties": {
        "selfLink": {
          "description": "The link back to this list.",
          "type": "string"
        },
        "kind": {
          "default": "drive#propertyList",
          "type": "string",
          "description": "This is always `drive#propertyList`."
        },
        "items": {
          "items": {
            "$ref": "Property"
          },
          "type": "array",
          "description": "The list of properties."
        },
        "etag": {
          "description": "The ETag of the list.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "PropertyList"
    },
    "FileList": {
      "type": "object",
      "description": "A list of files.",
      "id": "FileList",
      "properties": {
        "kind": {
          "default": "drive#fileList",
          "type": "string",
          "description": "This is always `drive#fileList`."
        },
        "etag": {
          "type": "string",
          "description": "The ETag of the list."
        },
        "nextPageToken": {
          "description": "The page token for the next page of files. This will be absent if the end of the files list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        },
        "selfLink": {
          "description": "A link back to this list.",
          "type": "string"
        },
        "incompleteSearch": {
          "description": "Whether the search process was incomplete. If true, then some search results may be missing, since all documents were not searched. This may occur when searching multiple drives with the \"allDrives\" corpora, but all corpora could not be searched. When this happens, it is suggested that clients narrow their query by choosing a different corpus such as \"default\" or \"drive\".",
          "type": "boolean"
        },
        "items": {
          "description": "The list of files. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "items": {
            "$ref": "File"
          },
          "type": "array"
        },
        "nextLink": {
          "type": "string",
          "description": "A link to the next page of files."
        }
      }
    },
    "GeneratedIds": {
      "id": "GeneratedIds",
      "type": "object",
      "description": "A list of generated IDs which can be provided in insert requests",
      "properties": {
        "ids": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The IDs generated for the requesting user in the specified space."
        },
        "space": {
          "type": "string",
          "description": "The type of file that can be created with these IDs."
        },
        "kind": {
          "type": "string",
          "default": "drive#generatedIds",
          "description": "This is always `drive#generatedIds`"
        }
      }
    },
    "Label": {
      "properties": {
        "revisionId": {
          "description": "The revision ID of the label.",
          "type": "string"
        },
        "fields": {
          "type": "object",
          "description": "A map of the fields on the label, keyed by the field's ID.",
          "additionalProperties": {
            "$ref": "LabelField"
          }
        },
        "id": {
          "type": "string",
          "description": "The ID of the label."
        },
        "kind": {
          "description": "This is always `drive#label`",
          "default": "drive#label",
          "type": "string"
        }
      },
      "id": "Label",
      "description": "Representation of a label and label fields.",
      "type": "object"
    },
    "ChildReference": {
      "properties": {
        "kind": {
[...]
