{
  "servicePath": "drive/v3/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.photos.readonly": {
          "description": "View the photos, videos and albums in your Google Photos"
        },
        "https://www.googleapis.com/auth/drive.file": {
          "description": "See, edit, create, and delete only the specific Google Drive files you use with this app"
        },
        "https://www.googleapis.com/auth/drive.appdata": {
          "description": "See, create, and delete its own configuration data in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "See and download all your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.metadata.readonly": {
          "description": "See information about your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.apps.readonly": {
          "description": "View your Google Drive apps"
        },
        "https://www.googleapis.com/auth/drive.meet.readonly": {
          "description": "See and download your Google Drive files that were created or edited by Google Meet."
        },
        "https://www.googleapis.com/auth/drive.metadata": {
          "description": "View and manage metadata of files in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.scripts": {
          "description": "Modify your Google Apps Script scripts' behavior"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "parameters": {
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "alt": {
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "description": "Data format for response."
    }
  },
  "batchPath": "batch/drive/v3",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "basePath": "/drive/v3/",
  "documentationLink": "https://developers.google.com/workspace/drive/",
  "ownerName": "Google",
  "baseUrl": "https://www.googleapis.com/drive/v3/",
  "id": "drive:v3",
  "schemas": {
    "ReviewerResponse": {
      "description": "A response on an approval made by a specific reviewer.",
      "id": "ReviewerResponse",
      "type": "object",
      "properties": {
        "response": {
          "type": "string",
          "description": "A reviewer’s response for the approval.",
          "enumDescriptions": [
            "The response was set to an unrecognized value.",
            "The reviewer hasn't responded.",
            "The reviewer has approved the item.",
            "The reviewer has declined the item."
          ],
          "enum": [
            "RESPONSE_UNSPECIFIED",
            "NO_RESPONSE",
            "APPROVED",
            "DECLINED"
          ]
        },
        "kind": {
          "type": "string",
          "description": "This is always drive#reviewerResponse."
        },
        "reviewer": {
          "description": "The user that's responsible for this response.",
          "$ref": "User"
        }
      }
    },
    "Approval": {
      "type": "object",
      "id": "Approval",
      "properties": {
        "modifyTime": {
          "description": "Output only. The most recent time the approval was modified.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "dueTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time that the approval is due."
        },
        "completeTime": {
          "description": "Output only. The time the approval was completed.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "status": {
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "IN_PROGRESS",
            "APPROVED",
            "CANCELLED",
            "DECLINED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The approval status has not been set or was set to an invalid value.",
            "The approval process has started and not finished.",
            "The approval process is finished and the target was approved.",
            "The approval process was cancelled before it finished.",
            "The approval process is finished and the target was declined."
          ],
          "description": "Output only. The status of the approval at the time this resource was requested."
        },
        "targetFileId": {
          "description": "Target file id of the approval.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time the approval was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "initiator": {
          "$ref": "User",
          "description": "The user that requested the approval."
        },
        "reviewerResponses": {
          "description": "The responses made on the approval by reviewers.",
          "type": "array",
          "items": {
            "$ref": "ReviewerResponse"
          }
        },
        "approvalId": {
          "description": "The approval ID.",
          "type": "string"
        },
        "fileContentChangeBehavior": {
          "enum": [
            "FILE_CONTENT_CHANGE_BEHAVIOR_UNSPECIFIED",
            "RESET_APPROVAL",
            "NO_APPROVAL_ACTION"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The behavior is unspecified.",
            "Any ReviewerResponse with a Response of APPROVED will be reset to NO_DECISION when the file content changes while the approval has a Status of IN_PROGRESS. When the approval has a Status of APPROVED and RESET_APPROVAL is selected, the file is locked.",
            "No action is taken when the file content changes."
          ],
          "description": "Output only. The behavior of the approval when the file content changes."
        },
        "kind": {
          "description": "This is always drive#approval.",
          "type": "string"
        }
      },
      "description": "Metadata for an approval. An approval is a review or approve process for a Drive item."
    },
    "Revision": {
      "id": "Revision",
      "properties": {
        "publishAuto": {
          "description": "Whether subsequent revisions will be automatically republished. This is only applicable to Docs Editors files.",
          "type": "boolean"
        },
        "size": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The size of the revision's content in bytes. This is only applicable to files with binary content in Drive."
        },
        "modifiedTime": {
          "description": "The last time the revision was modified (RFC 3339 date-time).",
          "type": "string",
          "format": "date-time"
        },
        "lastModifyingUser": {
          "$ref": "User",
          "description": "Output only. The last user to modify this revision. This field is only populated when the last modification was performed by a signed-in user."
        },
        "originalFilename": {
          "type": "string",
          "description": "Output only. The original filename used to create this revision. This is only applicable to files with binary content in Drive."
        },
        "md5Checksum": {
          "type": "string",
          "description": "Output only. The MD5 checksum of the revision's content. This is only applicable to files with binary content in Drive."
        },
        "kind": {
          "default": "drive#revision",
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#revision\"`.",
          "type": "string"
        },
        "exportLinks": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. Links for exporting Docs Editors files to specific formats.",
          "type": "object"
        },
        "publishedOutsideDomain": {
          "type": "boolean",
          "description": "Whether this revision is published outside the domain. This is only applicable to Docs Editors files."
        },
        "keepForever": {
          "type": "boolean",
          "description": "Whether to keep this revision forever, even if it is no longer the head revision. If not set, the revision will be automatically purged 30 days after newer content is uploaded. This can be set on a maximum of 200 revisions for a file. This field is only applicable to files with binary content in Drive."
        },
        "published": {
          "description": "Whether this revision is published. This is only applicable to Docs Editors files.",
          "type": "boolean"
        },
        "mimeType": {
          "type": "string",
          "description": "Output only. The MIME type of the revision."
        },
        "publishedLink": {
          "type": "string",
          "description": "Output only. A link to the published revision. This is only populated for Docs Editors files."
        },
        "id": {
          "type": "string",
          "description": "Output only. The ID of the revision."
        }
      },
      "type": "object",
      "description": "The metadata for a revision to a file. Some resource methods (such as `revisions.update`) require a `revisionId`. Use the `revisions.list` method to retrieve the ID for a revision."
    },
    "Channel": {
      "description": "A notification channel used to watch for resource changes.",
      "properties": {
        "params": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Additional parameters controlling delivery channel behavior. Optional."
        },
        "resourceId": {
          "type": "string",
          "description": "An opaque ID that identifies the resource being watched on this channel. Stable across different API versions."
        },
        "token": {
          "description": "An arbitrary string delivered to the target address with each notification delivered over this channel. Optional.",
          "type": "string"
        },
        "id": {
          "description": "A UUID or similar unique string that identifies this channel.",
          "type": "string"
        },
        "address": {
          "type": "string",
          "description": "The address where notifications are delivered for this channel."
        },
        "type": {
          "type": "string",
          "description": "The type of delivery mechanism used for this channel. Valid values are \"web_hook\" or \"webhook\"."
        },
        "resourceUri": {
          "type": "string",
          "description": "A version-specific identifier for the watched resource."
        },
        "payload": {
          "type": "boolean",
          "description": "A Boolean value to indicate whether payload is wanted. Optional."
        },
        "kind": {
          "description": "Identifies this as a notification channel used to watch for changes to a resource, which is `api#channel`.",
          "default": "api#channel",
          "type": "string"
        },
        "expiration": {
          "format": "int64",
          "type": "string",
          "description": "Date and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds. Optional."
        }
      },
      "type": "object",
      "id": "Channel"
    },
    "About": {
      "type": "object",
      "id": "About",
      "description": "Information about the user, the user's Drive, and system capabilities.",
      "properties": {
        "user": {
          "description": "The authenticated user.",
          "$ref": "User"
        },
        "appInstalled": {
          "description": "Whether the user has installed the requesting app.",
          "type": "boolean"
        },
        "teamDriveThemes": {
          "type": "array",
          "items": {
            "properties": {
              "colorRgb": {
                "type": "string",
                "deprecated": true,
                "description": "Deprecated: Use `driveThemes/colorRgb` instead."
              },
              "id": {
                "deprecated": true,
                "description": "Deprecated: Use `driveThemes/id` instead.",
                "type": "string"
              },
              "backgroundImageLink": {
                "description": "Deprecated: Use `driveThemes/backgroundImageLink` instead.",
                "type": "string",
                "deprecated": true
              }
            },
            "type": "object"
          },
          "deprecated": true,
          "description": "Deprecated: Use `driveThemes` instead."
        },
        "canCreateTeamDrives": {
          "description": "Deprecated: Use `canCreateDrives` instead.",
          "deprecated": true,
          "type": "boolean"
        },
        "driveThemes": {
          "description": "A list of themes that are supported for shared drives.",
          "items": {
            "properties": {
              "colorRgb": {
                "type": "string",
                "description": "The color of this theme as an RGB hex string."
              },
              "id": {
                "type": "string",
                "description": "The ID of the theme."
              },
              "backgroundImageLink": {
                "type": "string",
                "description": "A link to this theme's background image."
              }
            },
            "type": "object"
          },
          "type": "array"
        },
        "maxUploadSize": {
          "type": "string",
          "format": "int64",
          "description": "The maximum upload size in bytes."
        },
        "storageQuota": {
          "properties": {
            "usage": {
              "description": "The total usage across all services. For users that are part of an organization with pooled storage, this is the usage across all services for the organization, rather than the individual user.",
              "type": "string",
              "format": "int64"
            },
            "usageInDrive": {
              "format": "int64",
              "type": "string",
              "description": "The usage by all files in Google Drive."
            },
            "usageInDriveTrash": {
              "type": "string",
              "description": "The usage by trashed files in Google Drive.",
              "format": "int64"
            },
            "limit": {
              "description": "The usage limit, if applicable. This will not be present if the user has unlimited storage. For users that are part of an organization with pooled storage, this is the limit for the organization, rather than the individual user.",
              "type": "string",
              "format": "int64"
            }
          },
          "description": "The user's storage quota limits and usage. For users that are part of an organization with pooled storage, information about the limit and usage across all services is for the organization, rather than the individual user. All fields are measured in bytes.",
          "type": "object"
        },
        "exportFormats": {
          "type": "object",
          "description": "A map of source MIME type to possible targets for all supported exports.",
          "additionalProperties": {
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "maxImportSizes": {
          "type": "object",
          "additionalProperties": {
            "format": "int64",
            "type": "string"
          },
          "description": "A map of maximum import sizes by MIME type, in bytes."
        },
        "canCreateDrives": {
          "type": "boolean",
          "description": "Whether the user can create shared drives."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#about\"`.",
          "default": "drive#about",
          "type": "string"
        },
        "folderColorPalette": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The currently supported folder colors as RGB hex strings."
        },
        "importFormats": {
          "additionalProperties": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "description": "A map of source MIME type to possible targets for all supported imports.",
          "type": "object"
        }
      }
    },
    "DeclineApprovalRequest": {
      "id": "DeclineApprovalRequest",
      "properties": {
        "message": {
          "type": "string",
          "description": "Optional. A message to accompany the reviewer response on the approval. This message is included in notifications for the action and in the approval activity log."
        }
      },
      "description": "Request for declining an approval as a reviewer.",
      "type": "object"
    },
    "ListAccessProposalsResponse": {
      "description": "The response to an access proposal list request.",
      "properties": {
        "nextPageToken": {
          "description": "The continuation token for the next page of results. This will be absent if the end of the results list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        },
        "accessProposals": {
          "type": "array",
          "description": "The list of access proposals. This field is only populated in Drive API v3.",
          "items": {
            "$ref": "AccessProposal"
          }
        }
      },
      "type": "object",
      "id": "ListAccessProposalsResponse"
    },
    "RevisionList": {
      "id": "RevisionList",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The page token for the next page of revisions. This will be absent if the end of the revisions list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ."
        },
        "revisions": {
          "type": "array",
          "description": "The list of revisions. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "items": {
            "$ref": "Revision"
          }
        },
        "kind": {
          "type": "string",
          "default": "drive#revisionList",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#revisionList\"`."
        }
      },
      "description": "A list of revisions of a file.",
      "type": "object"
    },
    "Operation": {
      "id": "Operation",
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "ContentRestriction": {
      "id": "ContentRestriction",
      "type": "object",
      "description": "A restriction for accessing the content of the file.",
      "properties": {
        "restrictionTime": {
          "description": "The time at which the content restriction was set (formatted RFC 3339 timestamp). Only populated if readOnly is true.",
          "type": "string",
          "format": "date-time"
        },
        "ownerRestricted": {
          "description": "Whether the content restriction can only be modified or removed by a user who owns the file. For files in shared drives, any user with `organizer` capabilities can modify or remove this content restriction.",
          "type": "boolean"
        },
        "type": {
          "type": "string",
          "description": "Output only. The type of the content restriction. Currently the only possible value is `globalContentRestriction`."
        },
        "readOnly": {
          "description": "Whether the content of the file is read-only. If a file is read-only, a new revision of the file may not be added, comments may not be added or modified, and the title of the file may not be modified.",
          "type": "boolean"
        },
        "systemRestricted": {
          "description": "Output only. Whether the content restriction was applied by the system, for example due to an esignature. Users cannot modify or remove system restricted content restrictions.",
          "type": "boolean"
        },
        "restrictingUser": {
          "$ref": "User",
          "description": "Output only. The user who set the content restriction. Only populated if `readOnly=true`."
        },
        "reason": {
          "description": "Reason for why the content of the file is restricted. This is only mutable on requests that also set `readOnly=true`.",
          "type": "string"
        }
      }
    },
    "ResolveAccessProposalRequest": {
      "properties": {
        "sendNotification": {
          "type": "boolean",
          "description": "Optional. Whether to send an email to the requester when the access proposal is denied or accepted."
        },
        "view": {
          "description": "Optional. Indicates the view for this access proposal. This should only be set when the proposal belongs to a view. Only `published` is supported.",
          "type": "string"
        },
        "role": {
          "type": "array",
          "description": "Optional. The roles that the approver has allowed, if any. For more information, see [Roles and permissions](https://developers.google.com/workspace/drive/api/guides/ref-roles). Note: This field is required for the `ACCEPT` action.",
          "items": {
            "type": "string"
          }
        },
        "action": {
          "enum": [
            "ACTION_UNSPECIFIED",
            "ACCEPT",
            "DENY"
          ],
          "description": "Required. The action to take on the access proposal.",
          "enumDescriptions": [
            "Unspecified action",
            "The user accepts the access proposal. Note: If this action is used, the `role` field must have at least one value.",
            "The user denies the access proposal."
          ],
          "type": "string"
        }
      },
      "id": "ResolveAccessProposalRequest",
      "description": "Request message for resolving an AccessProposal on a file.",
      "type": "object"
    },
    "ClientEncryptionDetails": {
      "properties": {
        "encryptionState": {
          "type": "string",
          "description": "The encryption state of the file. The values expected here are: - encrypted - unencrypted "
        },
        "decryptionMetadata": {
          "description": "The metadata used for client-side operations.",
          "$ref": "DecryptionMetadata"
        }
      },
      "description": "Details about the client-side encryption applied to the file.",
      "id": "ClientEncryptionDetails",
      "type": "object"
    },
    "TeamDrive": {
      "id": "TeamDrive",
      "type": "object",
      "properties": {
        "backgroundImageFile": {
          "type": "object",
          "description": "The background image file for a Team Drive.",
          "properties": {
            "xCoordinate": {
              "type": "number",
              "description": "The X coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the horizontal distance from the left side of the entire image to the left side of the cropping area divided by the width of the entire image.",
              "format": "float"
            },
            "yCoordinate": {
              "type": "number",
              "format": "float",
              "description": "The Y coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the vertical distance from the top side of the entire image to the top side of the cropping area divided by the height of the entire image."
            },
            "width": {
              "format": "float",
              "type": "number",
              "description": "The width of the cropped image in the closed range of 0 to 1. This value represents the width of the cropped image divided by the width of the entire image. The height is computed by applying a width to height aspect ratio of 80 to 9. The resulting image must be at least 1280 pixels wide and 144 pixels high."
            },
            "id": {
              "description": "The ID of an image file in Drive to use for the background image.",
              "type": "string"
            }
          }
        },
        "restrictions": {
          "description": "A set of restrictions that apply to this Team Drive or items inside this Team Drive.",
          "properties": {
            "sharingFoldersRequiresOrganizerPermission": {
              "description": "If true, only users with the organizer role can share folders. If false, users with either the organizer role or the file organizer role can share folders.",
              "type": "boolean"
            },
            "adminManagedRestrictions": {
              "description": "Whether administrative privileges on this Team Drive are required to modify restrictions.",
              "type": "boolean"
            },
            "domainUsersOnly": {
              "type": "boolean",
              "description": "Whether access to this Team Drive and items inside this Team Drive is restricted to users of the domain to which this Team Drive belongs. This restriction may be overridden by other sharing policies controlled outside of this Team Drive."
            },
            "copyRequiresWriterPermission": {
              "description": "Whether the options to copy, print, or download files inside this Team Drive, should be disabled for readers and commenters. When this restriction is set to `true`, it will override the similarly named field to `true` for any file inside this Team Drive.",
              "type": "boolean"
            },
            "downloadRestriction": {
              "$ref": "DownloadRestriction",
              "description": "Download restrictions applied by shared drive managers."
            },
            "teamMembersOnly": {
              "description": "Whether access to items inside this Team Drive is restricted to members of this Team Drive.",
              "type": "boolean"
            }
          },
          "type": "object"
        },
        "colorRgb": {
          "type": "string",
          "description": "The color of this Team Drive as an RGB hex string. It can only be set on a `drive.teamdrives.update` request that does not set `themeId`."
        },
        "orgUnitId": {
          "description": "The organizational unit of this shared drive. This field is only populated on `drives.list` responses when the `useDomainAdminAccess` parameter is set to `true`.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of this Team Drive."
        },
        "backgroundImageLink": {
          "type": "string",
          "description": "A short-lived link to this Team Drive's background image."
        },
        "capabilities": {
          "description": "Capabilities the current user has on this Team Drive.",
          "type": "object",
          "properties": {
            "canChangeTeamMembersOnlyRestriction": {
              "description": "Whether the current user can change the `teamMembersOnly` restriction of this Team Drive.",
              "type": "boolean"
            },
            "canChangeTeamDriveBackground": {
              "type": "boolean",
              "description": "Whether the current user can change the background of this Team Drive."
            },
            "canDownload": {
              "type": "boolean",
              "description": "Whether the current user can download files in this Team Drive."
            },
            "canEdit": {
              "type": "boolean",
              "description": "Whether the current user can edit files in this Team Drive"
            },
            "canResetTeamDriveRestrictions": {
              "description": "Whether the current user can reset the Team Drive restrictions to defaults.",
              "type": "boolean"
            },
            "canManageMembers": {
              "type": "boolean",
              "description": "Whether the current user can add members to this Team Drive or remove them or change their role."
            },
            "canReadRevisions": {
              "description": "Whether the current user can read the revisions resource of files in this Team Drive.",
              "type": "boolean"
            },
            "canRename": {
              "description": "Whether the current user can rename files or folders in this Team Drive.",
              "type": "boolean"
            },
            "canDeleteTeamDrive": {
              "description": "Whether the current user can delete this Team Drive. Attempting to delete the Team Drive may still fail if there are untrashed items inside the Team Drive.",
              "type": "boolean"
            },
            "canDeleteChildren": {
              "description": "Whether the current user can delete children from folders in this Team Drive.",
              "type": "boolean"
            },
            "canChangeSharingFoldersRequiresOrganizerPermissionRestriction": {
              "type": "boolean",
              "description": "Whether the current user can change the `sharingFoldersRequiresOrganizerPermission` restriction of this Team Drive."
            },
            "canChangeCopyRequiresWriterPermissionRestriction": {
              "description": "Whether the current user can change the `copyRequiresWriterPermission` restriction of this Team Drive.",
              "type": "boolean"
            },
            "canChangeDownloadRestriction": {
              "description": "Output only. Whether the current user can change organizer-applied download restrictions of this shared drive.",
              "readOnly": true,
              "type": "boolean"
            },
            "canListChildren": {
              "description": "Whether the current user can list the children of folders in this Team Drive.",
              "type": "boolean"
            },
            "canChangeDomainUsersOnlyRestriction": {
              "description": "Whether the current user can change the `domainUsersOnly` restriction of this Team Drive.",
              "type": "boolean"
            },
            "canTrashChildren": {
              "description": "Whether the current user can trash children from folders in this Team Drive.",
              "type": "boolean"
            },
            "canRenameTeamDrive": {
              "description": "Whether the current user can rename this Team Drive.",
              "type": "boolean"
            },
            "canAddChildren": {
              "type": "boolean",
              "description": "Whether the current user can add children to folders in this Team Drive."
            },
            "canRemoveChildren": {
              "deprecated": true,
              "type": "boolean",
              "description": "Deprecated: Use `canDeleteChildren` or `canTrashChildren` instead."
            },
            "canCopy": {
              "type": "boolean",
              "description": "Whether the current user can copy files in this Team Drive."
            },
            "canComment": {
              "description": "Whether the current user can comment on files in this Team Drive.",
              "type": "boolean"
            },
            "canShare": {
              "description": "Whether the current user can share files or folders in this Team Drive.",
              "type": "boolean"
            }
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#teamDrive\"`.",
          "default": "drive#teamDrive",
          "type": "string"
        },
        "themeId": {
          "type": "string",
          "description": "The ID of the theme from which the background image and color will be set. The set of possible `teamDriveThemes` can be retrieved from a `drive.about.get` response. When not specified on a `drive.teamdrives.create` request, a random theme is chosen from which the background image and color are set. This is a write-only field; it can only be set on requests that don't set `colorRgb` or `backgroundImageFile`."
        },
        "createdTime": {
          "type": "string",
          "description": "The time at which the Team Drive was created (RFC 3339 date-time).",
          "format": "date-time"
        },
        "id": {
          "description": "The ID of this Team Drive which is also the ID of the top level folder of this Team Drive.",
          "type": "string"
        }
      },
      "description": "Deprecated: use the drive collection instead. Next ID: 33"
    },
    "ApprovalList": {
      "description": "The response of an approvals list request.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The page token for the next page of approvals. This is absent if the end of the approvals list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        },
        "kind": {
          "description": "This is always drive#approvalList",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Approval"
          },
          "description": "The list of approvals. If `nextPageToken` is populated, then this list may be incomplete and an additional page of results should be fetched."
        }
      },
      "id": "ApprovalList"
    },
    "CommentApprovalRequest": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "Required. A message to comment on the approval. This message is included in notifications for the action and in the approval activity log."
        }
      },
      "id": "CommentApprovalRequest",
      "description": "Request for commenting on an approval."
    },
    "AddReviewer": {
      "type": "object",
      "properties": {
        "addedReviewerEmail": {
          "description": "Required. The email of the reviewer to add.",
          "type": "string"
        }
      },
      "id": "AddReviewer",
      "description": "Representation of a reviewer addition."
    },
    "Comment": {
      "id": "Comment",
      "type": "object",
      "properties": {
        "resolved": {
          "description": "Output only. Whether the comment has been resolved by one of its replies.",
          "type": "boolean"
        },
        "deleted": {
          "description": "Output only. Whether the comment has been deleted. A deleted comment has no content.",
          "type": "boolean"
        },
        "assigneeEmailAddress": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The email address of the user assigned to this comment. If no user is assigned, the field is unset."
        },
        "modifiedTime": {
          "description": "The last time the comment or any of its replies was modified (RFC 3339 date-time).",
          "format": "date-time",
          "type": "string"
        },
        "content": {
          "type": "string",
          "description": "The plain text content of the comment. This field is used for setting the content, while `htmlContent` should be displayed.",
          "annotations": {
            "required": [
              "drive.comments.create",
              "drive.comments.update"
            ]
          }
        },
        "mentionedEmailAddresses": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. A list of email addresses for users mentioned in this comment. If no users are mentioned, the list is empty.",
          "readOnly": true
        },
        "author": {
          "$ref": "User",
          "description": "Output only. The author of the comment. The author's email address and permission ID will not be populated."
        },
        "htmlContent": {
          "description": "Output only. The content of the comment with HTML formatting.",
          "type": "string"
        },
        "replies": {
          "type": "array",
          "description": "Output only. The full list of replies to the comment in chronological order.",
          "items": {
            "$ref": "Reply"
          }
        },
        "anchor": {
          "description": "A region of the document represented as a JSON string. For details on defining anchor properties, refer to [Manage comments and replies](https://developers.google.com/workspace/drive/api/v3/manage-comments).",
          "type": "string"
        },
        "createdTime": {
          "description": "The time at which the comment was created (RFC 3339 date-time).",
          "format": "date-time",
          "type": "string"
        },
        "quotedFileContent": {
          "description": "The file content to which the comment refers, typically within the anchor region. For a text file, for example, this would be the text at the location of the comment.",
          "type": "object",
          "properties": {
            "mimeType": {
              "type": "string",
              "description": "The MIME type of the quoted content."
            },
            "value": {
              "description": "The quoted content itself. This is interpreted as plain text if set through the API.",
              "type": "string"
            }
          }
        },
        "id": {
          "description": "Output only. The ID of the comment.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#comment\"`.",
          "default": "drive#comment"
        }
      },
      "description": "A comment on a file. Some resource methods (such as `comments.update`) require a `commentId`. Use the `comments.list` method to retrieve the ID for a comment in a file."
    },
    "Change": {
      "id": "Change",
      "description": "A change to a file or shared drive.",
      "type": "object",
      "properties": {
        "teamDrive": {
          "deprecated": true,
          "description": "Deprecated: Use `drive` instead.",
          "$ref": "TeamDrive"
        },
        "changeType": {
          "type": "string",
          "description": "The type of the change. Possible values are `file` and `drive`."
        },
        "fileId": {
          "description": "The ID of the file which has changed.",
          "type": "string"
        },
        "drive": {
          "description": "The updated state of the shared drive. Present if the changeType is drive, the user is still a member of the shared drive, and the shared drive has not been deleted.",
          "$ref": "Drive"
        },
        "teamDriveId": {
          "description": "Deprecated: Use `driveId` instead.",
          "deprecated": true,
          "type": "string"
        },
        "removed": {
          "description": "Whether the file or shared drive has been removed from this list of changes, for example by deletion or loss of access.",
          "type": "boolean"
        },
        "type": {
          "type": "string",
          "description": "Deprecated: Use `changeType` instead.",
          "deprecated": true
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#change\"`.",
          "type": "string",
          "default": "drive#change"
        },
        "time": {
          "type": "string",
          "description": "The time of this change (RFC 3339 date-time).",
          "format": "date-time"
        },
        "driveId": {
          "type": "string",
          "description": "The ID of the shared drive associated with this change."
        },
        "file": {
          "$ref": "File",
          "description": "The updated state of the file. Present if the type is file and the file has not been removed from this list of changes."
        }
      }
    },
    "StartPageToken": {
      "id": "StartPageToken",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "default": "drive#startPageToken",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#startPageToken\"`."
        },
        "startPageToken": {
          "type": "string",
          "description": "The starting page token for listing future changes. The page token doesn't expire."
        }
      }
    },
    "ChangeList": {
      "description": "A list of changes for a user.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The page token for the next page of changes. This will be absent if the end of the changes list has been reached. The page token doesn't expire."
        },
        "kind": {
          "default": "drive#changeList",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#changeList\"`."
        },
        "newStartPageToken": {
          "description": "The starting page token for future changes. This will be present only if the end of the current changes list has been reached. The page token doesn't expire.",
          "type": "string"
        },
        "changes": {
          "type": "array",
          "items": {
            "$ref": "Change"
          },
          "description": "The list of changes. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched."
        }
      },
      "type": "object",
      "id": "ChangeList"
    },
    "LabelModification": {
      "id": "LabelModification",
      "description": "A modification to a label on a file. A `LabelModification` can be used to apply a label to a file, update an existing label on a file, or remove a label from a file.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "This is always `\"drive#labelModification\"`.",
          "type": "string"
        },
        "fieldModifications": {
          "type": "array",
          "items": {
            "$ref": "LabelFieldModification"
          },
          "description": "The list of modifications to this label's fields."
        },
        "labelId": {
          "annotations": {
            "required": [
              "drive.files.modifyLabels"
            ]
          },
          "type": "string",
          "description": "The ID of the label to modify."
        },
        "removeLabel": {
          "type": "boolean",
          "description": "If true, the label will be removed from the file."
        }
      }
    },
    "PermissionList": {
      "description": "A list of permissions for a file.",
      "id": "PermissionList",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The page token for the next page of permissions. This field will be absent if the end of the permissions list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ."
        },
        "kind": {
          "default": "drive#permissionList",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#permissionList\"`.",
          "type": "string"
        },
        "permissions": {
          "items": {
            "$ref": "Permission"
          },
          "type": "array",
          "description": "The list of permissions. If `nextPageToken` is populated, then this list may be incomplete and an additional page of results should be fetched."
        }
      }
    },
    "ReplaceReviewer": {
      "description": "Representation of a reviewer replacement.",
      "type": "object",
      "properties": {
        "removedReviewerEmail": {
          "description": "Required. The email of the reviewer to remove.",
          "type": "string"
        },
        "addedReviewerEmail": {
          "type": "string",
          "description": "Required. The email of the reviewer to add."
        }
      },
      "id": "ReplaceReviewer"
    },
    "Label": {
      "type": "object",
      "id": "Label",
      "description": "Representation of label and label fields.",
      "properties": {
        "kind": {
          "description": "This is always drive#label",
          "type": "string"
        },
        "fields": {
          "description": "A map of the fields on the label, keyed by the field's ID.",
          "type": "object",
          "additionalProperties": {
            "$ref": "LabelField"
          }
        },
        "revisionId": {
          "description": "The revision ID of the label.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The ID of the label."
        }
      }
    },
    "AppList": {
      "properties": {
        "items": {
          "type": "array",
          "description": "The list of apps.",
          "items": {
            "$ref": "App"
          }
        },
        "selfLink": {
          "type": "string",
          "description": "A link back to this list."
        },
        "kind": {
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string \"drive#appList\".",
          "type": "string",
          "default": "drive#appList"
        },
        "defaultAppIds": {
          "description": "The list of app IDs that the user has specified to use by default. The list is in reverse-priority order (lowest to highest).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "AppList",
      "description": "A list of third-party applications which the user has installed or given access to Google Drive.",
      "type": "object"
    },
    "App": {
      "properties": {
        "supportsOfflineCreate": {
          "description": "Whether this app supports creating files when offline.",
          "type": "boolean"
        },
        "createInFolderTemplate": {
          "description": "The template URL to create a file with this app in a given folder. The template contains the {folderId} to be replaced by the folder ID house the new file.",
          "type": "string"
        },
        "productUrl": {
          "type": "string",
          "description": "A link to the product listing for this app."
        },
        "supportsImport": {
          "type": "boolean",
          "description": "Whether this app supports importing from Google Docs."
        },
        "createUrl": {
          "description": "The URL to create a file with this app.",
          "type": "string"
        },
        "longDescription": {
          "description": "A long description of the app.",
          "type": "string"
        },
        "icons": {
          "items": {
            "$ref": "AppIcons"
          },
          "description": "The various icons for the app.",
          "type": "array"
        },
        "kind": {
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string \"drive#app\".",
          "type": "string",
          "default": "drive#app"
        },
        "useByDefault": {
          "description": "Whether the app is selected as the default handler for the types it supports.",
          "type": "boolean"
        },
        "id": {
          "description": "The ID of the app.",
          "type": "string"
        },
        "secondaryFileExtensions": {
          "description": "The list of secondary file extensions.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "primaryFileExtensions": {
          "items": {
            "type": "string"
          },
          "description": "The list of primary file extensions.",
          "type": "array"
        },
        "hasDriveWideScope": {
          "description": "Whether the app has Drive-wide scope. An app with Drive-wide scope can access all files in the user's Drive.",
          "type": "boolean"
        },
        "supportsMultiOpen": {
          "description": "Whether this app supports opening more than one file.",
          "type": "boolean"
        },
        "objectType": {
          "description": "The type of object this app creates such as a Chart. If empty, the app name should be used instead.",
          "type": "string"
        },
        "installed": {
          "description": "Whether the app is installed.",
          "type": "boolean"
        },
        "shortDescription": {
          "description": "A short description of the app.",
          "type": "string"
        },
        "productId": {
          "type": "string",
          "description": "The ID of the product listing for this app."
        },
        "supportsCreate": {
          "type": "boolean",
          "description": "Whether this app supports creating objects."
        },
        "authorized": {
          "description": "Whether the app is authorized to access data on the user's Drive.",
          "type": "boolean"
        },
        "secondaryMimeTypes": {
          "type": "array",
          "description": "The list of secondary MIME types.",
          "items": {
            "type": "string"
          }
        },
        "primaryMimeTypes": {
          "items": {
            "type": "string"
          },
          "description": "The list of primary MIME types.",
          "type": "array"
        },
        "name": {
          "description": "The name of the app.",
          "type": "string"
        },
        "openUrlTemplate": {
          "description": "The template URL for opening files with this app. The template contains {ids} or {exportIds} to be replaced by the actual file IDs. For more information, see Open Files for the full documentation.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The `apps` resource provides a list of apps that a user has installed, with information about each app's supported MIME types, file extensions, and other details. Some resource methods (such as `apps.get`) require an `appId`. Use the `apps.list` method to retrieve the ID for an installed application.",
      "id": "App"
    },
    "Reply": {
      "id": "Reply",
      "description": "A reply to a comment on a file. Some resource methods (such as `replies.update`) require a `replyId`. Use the `replies.list` method to retrieve the ID for a reply.",
      "type": "object",
      "properties": {
        "createdTime": {
          "type": "string",
          "description": "The time at which the reply was created (RFC 3339 date-time).",
          "format": "date-time"
        },
        "deleted": {
          "type": "boolean",
          "description": "Output only. Whether the reply has been deleted. A deleted reply has no content."
        },
        "id": {
          "type": "string",
          "description": "Output only. The ID of the reply."
        },
        "action": {
          "description": "The action the reply performed to the parent comment. The supported values are: * `resolve` * `reopen`",
          "type": "string"
        },
        "content": {
          "description": "The plain text content of the reply. This field is used for setting the content, while `htmlContent` should be displayed. This field is required by the `create` method if no `action` value is specified.",
          "annotations": {
            "required": [
              "drive.replies.update"
            ]
          },
          "type": "string"
        },
        "assigneeEmailAddress": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The email address of the user assigned to this comment. If no user is assigned, the field is unset."
        },
        "htmlContent": {
          "description": "Output only. The content of the reply with HTML formatting.",
          "type": "string"
        },
        "author": {
          "$ref": "User",
          "description": "Output only. The author of the reply. The author's email address and permission ID won't be populated."
        },
        "modifiedTime": {
          "description": "The last time the reply was modified (RFC 3339 date-time).",
          "format": "date-time",
          "type": "string"
        },
        "mentionedEmailAddresses": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. A list of email addresses for users mentioned in this comment. If no users are mentioned, the list is empty."
        },
        "kind": {
          "default": "drive#reply",
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#reply\"`.",
          "type": "string"
        }
      }
    },
    "StartApprovalRequest": {
      "description": "Allows creating an approval on a file.",
      "type": "object",
      "id": "StartApprovalRequest",
      "properties": {
        "reviewerEmails": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The emails of the users who are set to review the approval."
        },
        "dueTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. The time that the approval is due."
        },
        "fileContentChangeBehavior": {
          "enumDescriptions": [
            "The behavior is unspecified.",
            "Any ReviewerResponse with a Response of APPROVED will be reset to NO_DECISION when the file content changes while the approval has a Status of IN_PROGRESS. When the approval has a Status of APPROVED and RESET_APPROVAL is selected, the file is locked.",
            "No action is taken when the file content changes."
          ],
          "enum": [
            "FILE_CONTENT_CHANGE_BEHAVIOR_UNSPECIFIED",
            "RESET_APPROVAL",
            "NO_APPROVAL_ACTION"
          ],
          "type": "string",
          "description": "Optional. The behavior of the approval when the file content changes."
        },
        "lockFile": {
          "type": "boolean",
          "description": "Optional. Whether to lock the file when starting the approval."
        },
        "message": {
          "description": "Optional. A message to send to reviewers when notifying them of the approval request.",
          "type": "string"
        }
      }
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "Status",
      "type": "object"
    },
    "ApproveApprovalRequest": {
      "id": "ApproveApprovalRequest",
      "type": "object",
      "description": "Request for approving an approval as a reviewer.",
      "properties": {
        "message": {
          "type": "string",
          "description": "Optional. A message to accompany the reviewer response on the approval. This message is included in notifications for the action and in the approval activity log."
        }
      }
    },
    "CommentList": {
      "type": "object",
      "description": "A list of comments on a file.",
      "id": "CommentList",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The page token for the next page of comments. This will be absent if the end of the comments list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ."
        },
        "comments": {
          "items": {
            "$ref": "Comment"
          },
          "description": "The list of comments. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "type": "array"
        },
        "kind": {
          "type": "string",
          "default": "drive#commentList",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#commentList\"`."
        }
      }
    },
    "DecryptionMetadata": {
      "id": "DecryptionMetadata",
      "properties": {
        "kaclsId": {
          "description": "The ID of the KACLS (Key ACL Service) used to encrypt the file.",
          "format": "int64",
          "type": "string"
        },
        "encryptionResourceKeyHash": {
          "type": "string",
          "description": "The URL-safe Base64 encoded HMAC-SHA256 digest of the resource metadata with its DEK (Data Encryption Key); see https://developers.google.com/workspace/cse/reference"
        },
        "jwt": {
          "description": "The signed JSON Web Token (JWT) which can be used to authorize the requesting user with the Key ACL Service (KACLS). The JWT asserts that the requesting user has at least read permissions on the file.",
          "type": "string"
        },
        "aes256GcmChunkSize": {
          "type": "string",
          "description": "Chunk size used if content was encrypted with the AES 256 GCM Cipher. Possible values are: - default - small "
        },
        "wrappedKey": {
          "description": "The URL-safe Base64 encoded wrapped key used to encrypt the contents of the file.",
          "type": "string"
        },
        "kaclsName": {
          "type": "string",
          "description": "The name of the KACLS (Key ACL Service) used to encrypt the file."
        },
        "keyFormat": {
          "type": "string",
          "description": "Key format for the unwrapped key. Must be `tinkAesGcmKey`."
        }
      },
      "description": "Representation of the CSE DecryptionMetadata.",
      "type": "object"
    },
    "AppIcons": {
      "id": "AppIcons",
      "properties": {
        "size": {
          "type": "integer",
          "description": "Size of the icon. Represented as the maximum of the width and height.",
          "format": "int32"
        },
        "category": {
          "type": "string",
          "description": "Category of the icon. Allowed values are: * `application` - The icon for the application. * `document` - The icon for a file associated with the app. * `documentShared` - The icon for a shared file associated with the app."
        },
        "iconUrl": {
          "type": "string",
          "description": "URL for the icon."
        }
      },
      "type": "object"
    },
    "FileList": {
      "type": "object",
      "description": "A list of files.",
      "id": "FileList",
      "properties": {
        "files": {
          "type": "array",
          "items": {
            "$ref": "File"
          },
          "description": "The list of files. If `nextPageToken` is populated, then this list may be incomplete and an additional page of results should be fetched."
        },
        "incompleteSearch": {
          "type": "boolean",
          "description": "Whether the search process was incomplete. If true, then some search results might be missing, since all documents were not searched. This can occur when searching multiple drives with the `allDrives` corpora, but all corpora couldn't be searched. When this happens, it's suggested that clients narrow their query by choosing a different corpus such as `user` or `drive`."
        },
        "kind": {
          "default": "drive#fileList",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#fileList\"`."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The page token for the next page of files. This will be absent if the end of the files list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ."
        }
      }
    },
    "ModifyLabelsRequest": {
      "description": "A request to modify the set of labels on a file. This request may contain many modifications that will either all succeed or all fail atomically.",
      "type": "object",
      "id": "ModifyLabelsRequest",
      "properties": {
        "labelModifications": {
          "type": "array",
          "description": "The list of modifications to apply to the labels on the file.",
          "items": {
            "$ref": "LabelModification"
          }
        },
        "kind": {
          "type": "string",
          "description": "This is always `\"drive#modifyLabelsRequest\"`."
        }
      }
    },
    "CancelApprovalRequest": {
      "description": "Request for cancelling an approval as an initiator.",
      "type": "object",
      "properties": {
        "message": {
          "description": "Optional. A message to accompany the cancellation of the approval. This message is included in notifications for the action and in the approval activity log.",
          "type": "string"
        }
      },
      "id": "CancelApprovalRequest"
    },
    "GenerateCseTokenResponse": {
      "id": "GenerateCseTokenResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#generateCseTokenResponse\"`."
        },
        "fileId": {
          "description": "The fileId for which the JWT was generated.",
          "type": "string"
        },
        "jwt": {
          "type": "string",
          "description": "The signed JSON Web Token (JWT) for the file."
        },
        "currentKaclsName": {
          "type": "string",
          "description": "Name of the KACLs that the returned KACLs ID points to."
        },
        "currentKaclsId": {
          "description": "The current Key ACL Service (KACLS) ID associated with the JWT.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "description": "JWT and associated metadata used to generate CSE files."
    },
    "Permission": {
      "type": "object",
      "description": "A permission for a file. A permission grants a user, group, domain, or the world access to a file or a folder hierarchy. For more information, see [Share files, folders, and drives](https://developers.google.com/workspace/drive/api/guides/manage-sharing). By default, permission requests only return a subset of fields. Permission `kind`, `ID`, `type`, and `role` are always returned. To retrieve specific fields, see [Return specific fields](https://developers.google.com/workspace/drive/api/guides/fields-parameter). Some resource methods (such as `permissions.update`) require a `permissionId`. Use the `permissions.list` method to retrieve the ID for a file, folder, or shared drive.",
      "id": "Permission",
      "properties": {
        "kind": {
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#permission\"`.",
          "type": "string",
          "default": "drive#permission"
        },
        "displayName": {
          "type": "string",
          "description": "Output only. The \"pretty\" name of the value of the permission. The following is a list of examples for each type of permission: * `user` - User's full name, as defined for their Google Account, such as \"Dana A.\" * `group` - Name of the Google Group, such as \"The Company Administrators.\" * `domain` - String domain name, such as \"cymbalgroup.com.\" * `anyone` - No `displayName` is present."
        },
        "emailAddress": {
          "description": "Output only. The email address of the user or group to which this permission refers.",
          "type": "string",
          "readOnly": true
        },
        "teamDrivePermissionDetails": {
          "type": "array",
          "readOnly": true,
          "deprecated": true,
          "items": {
            "type": "object",
            "properties": {
              "inherited": {
                "description": "Deprecated: Output only. Use `permissionDetails/inherited` instead.",
                "type": "boolean",
                "deprecated": true
              },
              "inheritedFrom": {
                "type": "string",
                "description": "Deprecated: Output only. Use `permissionDetails/inheritedFrom` instead.",
                "deprecated": true
              },
              "teamDrivePermissionType": {
                "deprecated": true,
                "type": "string",
                "description": "Deprecated: Output only. Use `permissionDetails/permissionType` instead."
              },
              "role": {
                "description": "Deprecated: Output only. Use `permissionDetails/role` instead.",
                "deprecated": true,
                "type": "string"
              }
            }
          },
          "description": "Output only. Deprecated: Output only. Use `permissionDetails` instead."
        },
        "pendingOwner": {
          "description": "Whether the account associated with this permission is a pending owner. Only populated for permissions of type `user` for files that aren't in a shared drive.",
          "type": "boolean"
        },
        "view": {
          "description": "Indicates the view for this permission. Only populated for permissions that belong to a view. The only supported values are `published` and `metadata`: * `published`: The permission's role is `publishedReader`. * `metadata`: The item is only visible to the `metadata` view because the item has limited access and the scope has at least read access to the parent. The `metadata` view is only supported on folders. For more information, see [Views](https://developers.google.com/workspace/drive/api/guides/ref-roles#views).",
          "type": "string"
        },
        "photoLink": {
          "type": "string",
          "description": "Output only. A link to the user's profile photo, if available."
        },
        "allowFileDiscovery": {
          "description": "Whether the permission allows the file to be discovered through search. This is only applicable for permissions of type `domain` or `anyone`.",
          "type": "boolean"
        },
        "role": {
          "annotations": {
            "required": [
              "drive.permissions.create"
            ]
          },
          "type": "string",
          "description": "The role granted by this permission. Supported values include: * `owner` * `organizer` * `fileOrganizer` * `writer` * `commenter` * `reader` For more information, see [Roles and permissions](https://developers.google.com/workspace/drive/api/guides/ref-roles)."
        },
        "permissionDetails": {
          "readOnly": true,
          "description": "Output only. Details of whether the permissions on this item are inherited or are directly on this item.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "inherited": {
                "type": "boolean",
                "description": "Output only. Whether this permission is inherited. This field is always populated. This is an output-only field."
              },
              "inheritedFrom": {
                "description": "Output only. The ID of the item from which this permission is inherited. This is only populated for items in shared drives.",
                "type": "string",
                "readOnly": true
              },
              "permissionType": {
                "description": "Output only. The permission type for this user. Supported values include: * `file` * `member`",
                "type": "string"
              },
              "role": {
                "type": "string",
                "description": "Output only. The primary role for this user. Supported values include: * `owner` * `organizer` * `fileOrganizer` * `writer` * `commenter` * `reader` For more information, see [Roles and permissions](https://developers.google.com/workspace/drive/api/guides/ref-roles)."
              }
            }
          }
        },
        "type": {
          "type": "string",
          "description": "The type of the grantee. Supported values include: * `user` * `group` * `domain` * `anyone` When creating a permission, if `type` is `user` or `group`, you must provide an `emailAddress` for the user or group. If `type` is `domain`, you must provide a `domain`. If `type` is `anyone`, no extra information is required.",
          "annotations": {
            "required": [
              "drive.permissions.create"
            ]
          }
        },
        "id": {
          "description": "Output only. The ID of this permission. This is a unique identifier for the grantee, and is published in the [User resource](https://developers.google.com/workspace/drive/api/reference/rest/v3/User) as `permissionId`. IDs should be treated as opaque values.",
          "type": "string"
        },
        "inheritedPermissionsDisabled": {
          "type": "boolean",
          "description": "When `true`, only organizers, owners, and users with permissions added directly on the item can access it."
        },
        "deleted": {
          "type": "boolean",
          "description": "Output only. Whether the account associated with this permission has been deleted. This field only pertains to permissions of type `user` or `group`."
        },
        "domain": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The domain to which this permission refers."
        },
        "expirationTime": {
          "type": "string",
          "description": "The time at which this permission will expire (RFC 3339 date-time). Expiration times have the following restrictions: - They can only be set on user and group permissions - The time must be in the future - The time cannot be more than a year in the future",
          "format": "date-time"
        }
      }
    },
    "User": {
      "type": "object",
      "id": "User",
      "properties": {
        "photoLink": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A link to the user's profile photo, if available."
        },
        "emailAddress": {
          "description": "Output only. The email address of the user. This may not be present in certain contexts if the user has not made their email address visible to the requester.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Output only. A plain text displayable name for this user.",
          "readOnly": true,
          "type": "string"
        },
        "permissionId": {
          "readOnly": true,
          "description": "Output only. The user's ID as visible in Permission resources.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `drive#user`.",
          "default": "drive#user",
          "readOnly": true
        },
        "me": {
          "type": "boolean",
          "description": "Output only. Whether this user is the requesting user.",
          "readOnly": true
        }
      },
      "description": "Information about a Drive user."
    },
    "AccessProposalRoleAndView": {
      "properties": {
        "role": {
          "description": "The role that was proposed by the requester. The supported values are: * `writer` * `commenter` * `reader`",
          "type": "string"
        },
        "view": {
          "description": "Indicates the view for this access proposal. Only populated for proposals that belong to a view. Only `published` is supported.",
          "type": "string"
        }
      },
      "id": "AccessProposalRoleAndView",
      "type": "object",
      "description": "A wrapper for the role and view of an access proposal. For more information, see [Roles and permissions](https://developers.google.com/workspace/drive/api/guides/ref-roles)."
    },
    "DownloadRestrictionsMetadata": {
      "description": "Download restrictions applied to the file.",
      "type": "object",
      "properties": {
        "itemDownloadRestriction": {
          "description": "The download restriction of the file applied directly by the owner or organizer. This doesn't take into account shared drive settings or DLP rules.",
          "$ref": "DownloadRestriction"
        },
        "effectiveDownloadRestrictionWithContext": {
          "$ref": "DownloadRestriction",
          "description": "Output only. The effective download restriction applied to this file. This considers all restriction settings and DLP rules."
        }
      },
      "id": "DownloadRestrictionsMetadata"
    },
    "AccessProposal": {
      "properties": {
        "fileId": {
          "type": "string",
          "description": "The file ID that the proposal for access is on."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The creation time."
        },
        "recipientEmailAddress": {
          "type": "string",
          "description": "The email address of the user that will receive permissions, if accepted."
        },
        "requestMessage": {
          "type": "string",
          "description": "The message that the requester added to the proposal."
        },
        "requesterEmailAddress": {
          "type": "string",
          "description": "The email address of the requesting user."
        },
        "rolesAndViews": {
          "type": "array",
          "items": {
            "$ref": "AccessProposalRoleAndView"
          },
          "description": "A wrapper for the role and view of an access proposal. For more information, see [Roles and permissions](https://developers.google.com/workspace/drive/api/guides/ref-roles)."
        },
        "proposalId": {
          "description": "The ID of the access proposal.",
          "type": "string"
        }
      },
      "description": "Manage outstanding access proposals on a file.",
      "type": "object",
      "id": "AccessProposal"
    },
    "DownloadRestriction": {
      "type": "object",
      "properties": {
        "restrictedForReaders": {
          "type": "boolean",
          "description": "Whether download and copy is restricted for readers."
        },
        "restrictedForWriters": {
          "type": "boolean",
          "description": "Whether download and copy is restricted for writers. If true, download is also restricted for readers."
        }
      },
      "id": "DownloadRestriction",
      "description": "A restriction for copy and download of the file."
    },
    "Drive": {
      "properties": {
        "capabilities": {
          "type": "object",
          "properties": {
            "canListChildren": {
              "description": "Output only. Whether the current user can list the children of folders in this shared drive.",
              "type": "boolean"
            },
            "canComment": {
              "description": "Output only. Whether the current user can comment on files in this shared drive.",
              "type": "boolean"
            },
            "canRename": {
              "description": "Output only. Whether the current user can rename files or folders in this shared drive.",
              "type": "boolean"
            },
            "canCopy": {
              "description": "Output only. Whether the current user can copy files in this shared drive.",
              "type": "boolean"
            },
            "canManageMembers": {
              "description": "Output only. Whether the current user can add members to this shared drive or remove them or change their role.",
              "type": "boolean"
            },
            "canReadRevisions": {
              "type": "boolean",
              "description": "Output only. Whether the current user can read the revisions resource of files in this shared drive."
            },
            "canChangeCopyRequiresWriterPermissionRestriction": {
              "description": "Output only. Whether the current user can change the `copyRequiresWriterPermission` restriction of this shared drive.",
              "type": "boolean"
            },
            "canChangeDomainUsersOnlyRestriction": {
              "description": "Output only. Whether the current user can change the `domainUsersOnly` restriction of this shared drive.",
              "type": "boolean"
            },
            "canDeleteDrive": {
              "description": "Output only. Whether the current user can delete this shared drive. Attempting to delete the shared drive may still fail if there are untrashed items inside the shared drive.",
              "type": "boolean"
            },
            "canChangeSharingFoldersRequiresOrganizerPermissionRestriction": {
              "type": "boolean",
              "description": "Output only. Whether the current user can change the `sharingFoldersRequiresOrganizerPermission` restriction of this shared drive."
            },
            "canDownload": {
              "description": "Output only. Whether the current user can download files in this shared drive.",
              "type": "boolean"
            },
            "canChangeDownloadRestriction": {
              "type": "boolean",
              "description": "Output only. Whether the current user can change organizer-applied download restrictions of this shared drive."
            },
            "canResetDriveRestrictions": {
              "type": "boolean",
              "description": "Output only. Whether the current user can reset the shared drive restrictions to defaults."
            },
            "canRenameDrive": {
              "type": "boolean",
              "description": "Output only. Whether the current user can rename this shared drive."
            },
            "canEdit": {
              "description": "Output only. Whether the current user can edit files in this shared drive",
              "type": "boolean"
            },
            "canChangeDriveBackground": {
              "type": "boolean",
              "description": "Output only. Whether the current user can change the background of this shared drive."
            },
            "canDeleteChildren": {
              "type": "boolean",
              "description": "Output only. Whether the current user can delete children from folders in this shared drive."
            },
            "canShare": {
              "type": "boolean",
              "description": "Output only. Whether the current user can share files or folders in this shared drive."
            },
            "canTrashChildren": {
              "description": "Output only. Whether the current user can trash children from folders in this shared drive.",
              "type": "boolean"
            },
            "canAddChildren": {
              "type": "boolean",
              "description": "Output only. Whether the current user can add children to folders in this shared drive."
            },
            "canChangeDriveMembersOnlyRestriction": {
              "type": "boolean",
              "description": "Output only. Whether the current user can change the `driveMembersOnly` restriction of this shared drive."
            }
          },
          "description": "Output only. Capabilities the current user has on this shared drive."
        },
        "kind": {
          "default": "drive#drive",
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#drive\"`.",
          "type": "string"
        },
        "backgroundImageFile": {
          "type": "object",
          "properties": {
            "xCoordinate": {
              "type": "number",
              "format": "float",
              "description": "The X coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the horizontal distance from the left side of the entire image to the left side of the cropping area divided by the width of the entire image."
            },
            "yCoordinate": {
              "format": "float",
              "description": "The Y coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the vertical distance from the top side of the entire image to the top side of the cropping area divided by the height of the entire image.",
              "type": "number"
            },
            "width": {
              "type": "number",
              "description": "The width of the cropped image in the closed range of 0 to 1. This value represents the width of the cropped image divided by the width of the entire image. The height is computed by applying a width to height aspect ratio of 80 to 9. The resulting image must be at least 1280 pixels wide and 144 pixels high.",
              "format": "float"
            },
            "id": {
              "description": "The ID of an image file in Google Drive to use for the background image.",
              "type": "string"
            }
          },
          "description": "An image file and cropping parameters from which a background image for this shared drive is set. This is a write only field; it can only be set on `drive.drives.update` requests that don't set `themeId`. When specified, all fields of the `backgroundImageFile` must be set."
        },
        "colorRgb": {
          "description": "The color of this shared drive as an RGB hex string. It can only be set on a `drive.drives.update` request that does not set `themeId`.",
          "type": "string"
        },
        "hidden": {
          "description": "Whether the shared drive is hidden from default view.",
          "type": "boolean"
        },
        "orgUnitId": {
          "type": "string",
          "description": "Output only. The organizational unit of this shared drive. This field is only populated on `drives.list` responses when the `useDomainAdminAccess` parameter is set to `true`."
        },
        "themeId": {
          "description": "The ID of the theme from which the background image and color will be set. The set of possible `driveThemes` can be retrieved from a `drive.about.get` response. When not specified on a `drive.drives.create` request, a random theme is chosen from which the background image and color are set. This is a write-only field; it can only be set on requests that don't set `colorRgb` or `backgroundImageFile`.",
          "type": "string"
        },
        "restrictions": {
          "type": "object",
          "properties": {
            "driveMembersOnly": {
              "type": "boolean",
              "description": "Whether access to items inside this shared drive is restricted to its members."
            },
            "copyRequiresWriterPermission": {
              "type": "boolean",
              "description": "Whether the options to copy, print, or download files inside this shared drive, should be disabled for readers and commenters. When this restriction is set to `true`, it will override the similarly named field to `true` for any file inside this shared drive."
            },
            "sharingFoldersRequiresOrganizerPermission": {
              "type": "boolean",
              "description": "If true, only users with the organizer role can share folders. If false, users with either the organizer role or the file organizer role can share folders."
            },
            "downloadRestriction": {
              "description": "Download restrictions applied by shared drive managers.",
              "$ref": "DownloadRestriction"
            },
            "adminManagedRestrictions": {
              "type": "boolean",
              "description": "Whether administrative privileges on this shared drive are required to modify restrictions."
            },
            "domainUsersOnly": {
              "type": "boolean",
              "description": "Whether access to this shared drive and items inside this shared drive is restricted to users of the domain to which this shared drive belongs. This restriction may be overridden by other sharing policies controlled outside of this shared drive."
            }
          },
          "description": "A set of restrictions that apply to this shared drive or items inside this shared drive. Note that restrictions can't be set when creating a shared drive. To add a restriction, first create a shared drive and then use `drives.update` to add restrictions."
        },
        "id": {
          "type": "string",
          "description": "Output only. The ID of this shared drive which is also the ID of the top level folder of this shared drive."
        },
        "createdTime": {
          "description": "The time at which the shared drive was created (RFC 3339 date-time).",
          "type": "string",
          "format": "date-time"
        },
        "backgroundImageLink": {
          "description": "Output only. A short-lived link to this shared drive's background image.",
          "type": "string"
        },
        "name": {
          "description": "The name of this shared drive.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Drive",
      "description": "Representation of a shared drive. Some resource methods (such as `drives.update`) require a `driveId`. Use the `drives.list` method to retrieve the ID for a shared drive."
    },
    "File": {
      "description": "The metadata for a file. Some resource methods (such as `files.update`) require a `fileId`. Use the `files.list` method to retrieve the ID for a file.",
      "type": "object",
      "id": "File",
      "properties": {
        "hasAugmentedPermissions": {
          "type": "boolean",
          "description": "Output only. Whether there are permissions directly on this file. This field is only populated for items in shared drives."
        },
        "labelInfo": {
          "description": "Label information on the file.",
          "type": "object",
          "properties": {
            "labels": {
              "items": {
                "$ref": "Label"
              },
              "type": "array",
              "description": "Output only. The set of labels on the file as requested by the label IDs in the `includeLabels` parameter. By default, no labels are returned."
            }
          }
        },
        "iconLink": {
          "type": "string",
          "description": "Output only. A static, unauthenticated link to the file's icon."
        },
        "driveId": {
          "description": "Output only. ID of the shared drive the file resides in. Only populated for items in shared drives.",
          "type": "string"
        },
        "trashed": {
          "description": "Whether the file has been trashed, either explicitly or from a trashed parent folder. Only the owner may trash a file, but other users can still access the file in the owner's trash until it's permanently deleted.",
          "type": "boolean"
        },
        "mimeType": {
          "description": "The MIME type of the file. Google Drive attempts to automatically detect an appropriate value from uploaded content, if no value is provided. The value cannot be changed unless a new revision is uploaded. If a file is created with a Google Doc MIME type, the uploaded content is imported, if possible. The supported import formats are published in the [`about`](/workspace/drive/api/reference/rest/v3/about) resource.",
          "type": "string"
        },
        "contentRestrictions": {
          "type": "array",
          "description": "Restrictions for accessing the content of the file. Only populated if such a restriction exists.",
          "items": {
            "$ref": "ContentRestriction"
          }
        },
        "appProperties": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "A collection of arbitrary key-value pairs which are private to the requesting app.\nEntries with null values are cleared in update and copy requests. These properties can only be retrieved using an authenticated request. An authenticated request uses an access token obtained with a OAuth 2 client ID. You cannot use an API key to retrieve private properties.",
          "type": "object"
        },
        "sha1Checksum": {
          "description": "Output only. The SHA1 checksum associated with this file, if available. This field is only populated for files with content stored in Google Drive; it's not populated for Docs Editors or shortcut files.",
          "type": "string"
        },
        "webContentLink": {
          "description": "Output only. A link for downloading the content of the file in a browser. This is only available for files with binary content in Google Drive.",
          "type": "string"
        },
        "originalFilename": {
          "description": "The original filename of the uploaded content if available, or else the original value of the `name` field. This is only available for files with binary content in Google Drive.",
          "type": "string"
        },
        "shortcutDetails": {
          "description": "Information about a shortcut file.",
          "properties": {
            "targetMimeType": {
              "type": "string",
              "description": "Output only. The MIME type of the file that this shortcut points to. The value of this field is a snapshot of the target's MIME type, captured when the shortcut is created."
            },
            "targetResourceKey": {
              "description": "Output only. The `resourceKey` for the target file.",
              "type": "string"
            },
            "targetId": {
              "type": "string",
              "description": "The ID of the file that this shortcut points to. Can only be set on `files.create` requests."
            }
          },
          "type": "object"
        },
        "starred": {
          "description": "Whether the user has starred the file.",
          "type": "boolean"
        },
        "folderColorRgb": {
          "type": "string",
          "description": "The color for a folder or a shortcut to a folder as an RGB hex string. The supported colors are published in the `folderColorPalette` field of the [`about`](/workspace/drive/api/reference/rest/v3/about) resource. If an unsupported color is specified, the closest color in the palette is used instead."
        },
        "owners": {
          "items": {
            "$ref": "User"
          },
          "type": "array",
          "description": "Output only. The owner of this file. Only certain legacy files may have more than one owner. This field isn't populated for items in shared drives."
        },
        "thumbnailVersion": {
          "format": "int64",
          "type": "string",
          "description": "Output only. The thumbnail version for use in thumbnail cache invalidation."
        },
        "shared": {
          "type": "boolean",
          "description": "Output only. Whether the file has been shared. Not populated for items in shared drives."
        },
        "writersCanShare": {
          "description": "Whether users with only `writer` permission can modify the file's permissions. Not populated for items in shared drives.",
          "type": "boolean"
        },
        "sha256Checksum": {
          "description": "Output only. The SHA256 checksum associated with this file, if available. This field is only populated for files with content stored in Google Drive; it's not populated for Docs Editors or shortcut files.",
          "type": "string"
        },
        "name": {
          "description": "The name of the file. This isn't necessarily unique within a folder. Note that for immutable items such as the top-level folders of shared drives, the My Drive root folder, and the Application Data folder, the name is constant.",
          "type": "string"
        },
        "properties": {
          "description": "A collection of arbitrary key-value pairs which are visible to all apps.\nEntries with null values are cleared in update and copy requests.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "copyRequiresWriterPermission": {
[...]
