{
  "title": "Google Drive API",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "basePath": "/drive/v3/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "description": "The Google Drive API allows clients to access resources from Google Drive.",
  "mtlsRootUrl": "https://www.mtls.googleapis.com/",
  "documentationLink": "https://developers.google.com/workspace/drive/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "See and download all your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.metadata.readonly": {
          "description": "See information about your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.metadata": {
          "description": "View and manage metadata of files in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.apps.readonly": {
          "description": "View your Google Drive apps"
        },
        "https://www.googleapis.com/auth/drive.meet.readonly": {
          "description": "See and download your Google Drive files that were created or edited by Google Meet."
        },
        "https://www.googleapis.com/auth/drive.scripts": {
          "description": "Modify your Google Apps Script scripts' behavior"
        },
        "https://www.googleapis.com/auth/drive.photos.readonly": {
          "description": "View the photos, videos and albums in your Google Photos"
        },
        "https://www.googleapis.com/auth/drive.appdata": {
          "description": "See, create, and delete its own configuration data in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.file": {
          "description": "See, edit, create, and delete only the specific Google Drive files you use with this app"
        }
      }
    }
  },
  "version": "v3",
  "name": "drive",
  "discoveryVersion": "v1",
  "servicePath": "drive/v3/",
  "resources": {
    "files": {
      "methods": {
        "listLabels": {
          "flatPath": "files/{fileId}/listLabels",
          "httpMethod": "GET",
          "parameters": {
            "maxResults": {
              "description": "The maximum number of labels to return per page. When not set, defaults to 100.",
              "default": "100",
              "type": "integer",
              "format": "int32",
              "maximum": "100",
              "location": "query",
              "minimum": "1"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response."
            },
            "fileId": {
              "description": "The ID for the file.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "description": "Lists the labels on a file. For more information, see [List labels on a file](https://developers.google.com/workspace/drive/api/guides/list-labels).",
          "path": "files/{fileId}/listLabels",
          "response": {
            "$ref": "LabelList"
          },
          "parameterOrder": [
            "fileId"
          ],
          "id": "drive.files.listLabels",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ]
        },
        "download": {
          "parameters": {
            "mimeType": {
              "type": "string",
              "location": "query",
              "description": "Optional. The MIME type the file should be downloaded as. This field can only be set when downloading Google Workspace documents. For a list of supported MIME types, see [Export MIME types for Google Workspace documents](/workspace/drive/api/guides/ref-export-formats). If not set, a Google Workspace document is downloaded with a default MIME type. The default MIME type might change in the future."
            },
            "revisionId": {
              "description": "Optional. The revision ID of the file to download. This field can only be set when downloading blob files, Google Docs, and Google Sheets. Returns `INVALID_ARGUMENT` if downloading a specific revision on the file is unsupported.",
              "type": "string",
              "location": "query"
            },
            "fileId": {
              "required": true,
              "description": "Required. The ID of the file to download.",
              "location": "path",
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "id": "drive.files.download",
          "flatPath": "files/{fileId}/download",
          "path": "files/{fileId}/download",
          "parameterOrder": [
            "fileId"
          ],
          "response": {
            "$ref": "Operation"
          },
          "description": "Downloads the content of a file. For more information, see [Download and export files](https://developers.google.com/workspace/drive/api/guides/manage-downloads). Operations are valid for 24 hours from the time of creation."
        },
        "emptyTrash": {
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "parameters": {
            "enforceSingleParent": {
              "location": "query",
              "type": "boolean",
              "deprecated": true,
              "default": "false",
              "description": "Deprecated: If an item isn't in a shared drive and its last parent is deleted but the item itself isn't, the item will be placed under its owner's root."
            },
            "driveId": {
              "type": "string",
              "location": "query",
              "description": "If set, empties the trash of the provided shared drive."
            }
          },
          "description": "Permanently deletes all of the user's trashed files. For more information, see [Trash or delete files and folders](https://developers.google.com/workspace/drive/api/guides/delete).",
          "httpMethod": "DELETE",
          "parameterOrder": [],
          "id": "drive.files.emptyTrash",
          "path": "files/trash",
          "flatPath": "files/trash"
        },
        "generateIds": {
          "response": {
            "$ref": "GeneratedIds"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "path": "files/generateIds",
          "description": "Generates a set of file IDs which can be provided in create or copy requests. For more information, see [Create and manage files](https://developers.google.com/workspace/drive/api/guides/create-file).",
          "parameterOrder": [],
          "id": "drive.files.generateIds",
          "flatPath": "files/generateIds",
          "httpMethod": "GET",
          "parameters": {
            "type": {
              "location": "query",
              "description": "The type of items which the IDs can be used for. Supported values are `files` and `shortcuts`. Note that `shortcuts` are only supported in the `drive` `space`. (Default: `files`.) For more information, see [File organization](https://developers.google.com/workspace/drive/api/guides/about-files#file-organization).",
              "type": "string",
              "default": "files"
            },
            "count": {
              "default": "10",
              "location": "query",
              "description": "The number of IDs to return.",
              "type": "integer",
              "format": "int32",
              "maximum": "1000",
              "minimum": "1"
            },
            "space": {
              "type": "string",
              "location": "query",
              "default": "drive",
              "description": "The space in which the IDs can be used to create files. Supported values are `drive` and `appDataFolder`. (Default: `drive`.) For more information, see [File organization](https://developers.google.com/workspace/drive/api/guides/about-files#file-organization)."
            }
          }
        },
        "modifyLabels": {
          "httpMethod": "POST",
          "parameters": {
            "fileId": {
              "location": "path",
              "description": "The ID of the file to which the labels belong.",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "ModifyLabelsResponse"
          },
          "id": "drive.files.modifyLabels",
          "request": {
            "$ref": "ModifyLabelsRequest"
          },
          "flatPath": "files/{fileId}/modifyLabels",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "parameterOrder": [
            "fileId"
          ],
          "description": "Modifies the set of labels applied to a file. For more information, see [Set a label field on a file](https://developers.google.com/workspace/drive/api/guides/set-label). Returns a list of the labels that were added or modified.",
          "path": "files/{fileId}/modifyLabels"
        },
        "create": {
          "mediaUpload": {
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/drive/v3/files"
              },
              "resumable": {
                "path": "/resumable/upload/drive/v3/files",
                "multipart": true
              }
            },
            "maxSize": "5497558138880",
            "accept": [
              "*/*"
            ]
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "flatPath": "files",
          "id": "drive.files.create",
          "parameterOrder": [],
          "response": {
            "$ref": "File"
          },
          "supportsMediaUpload": true,
          "description": " Creates a file. For more information, see [Create and manage files](https://developers.google.com/workspace/drive/api/guides/create-file). This method supports an */upload* URI and accepts uploaded media with the following characteristics: - *Maximum file size:* 5,120 GB - *Accepted Media MIME types:* `*/*` (Specify a valid MIME type, rather than the literal `*/*` value. The literal `*/*` is only used to indicate that any valid MIME type can be uploaded. For more information, see [Google Workspace and Google Drive supported MIME types](https://developers.google.com/workspace/drive/api/guides/mime-types).) For more information on uploading files, see [Upload file data](https://developers.google.com/workspace/drive/api/guides/manage-uploads). Apps creating shortcuts with the `create` method must specify the MIME type `application/vnd.google-apps.shortcut`. Apps should specify a file extension in the `name` property when inserting files with the API. For example, an operation to insert a JPEG file should specify something like `\"name\": \"cat.jpg\"` in the metadata. Subsequent `GET` requests include the read-only `fileExtension` property populated with the extension originally specified in the `name` property. When a Google Drive user requests to download a file, or when the file is downloaded through the sync client, Drive builds a full filename (with extension) based on the name. In cases where the extension is missing, Drive attempts to determine the extension based on the file's MIME type.",
          "httpMethod": "POST",
          "parameters": {
            "ocrLanguage": {
              "description": "A language hint for OCR processing during image import (ISO 639-1 code).",
              "type": "string",
              "location": "query"
            },
            "supportsTeamDrives": {
              "deprecated": true,
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "default": "false"
            },
            "useContentAsIndexableText": {
              "description": "Whether to use the uploaded content as indexable text.",
              "default": "false",
              "location": "query",
              "type": "boolean"
            },
            "includeLabels": {
              "type": "string",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query"
            },
            "enforceSingleParent": {
              "description": "Deprecated: Creating files in multiple folders is no longer supported.",
              "location": "query",
              "default": "false",
              "type": "boolean",
              "deprecated": true
            },
            "includePermissionsForView": {
              "type": "string",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query"
            },
            "ignoreDefaultVisibility": {
              "location": "query",
              "description": "Whether to ignore the domain's default visibility settings for the created file. Domain administrators can choose to make all uploaded files visible to the domain by default; this parameter bypasses that behavior for the request. Permissions are still inherited from parent folders.",
              "type": "boolean",
              "default": "false"
            },
            "supportsAllDrives": {
              "default": "false",
              "type": "boolean",
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            },
            "keepRevisionForever": {
              "description": "Whether to set the `keepForever` field in the new head revision. This is only applicable to files with binary content in Google Drive. Only 200 revisions for the file can be kept forever. If the limit is reached, try deleting pinned revisions.",
              "location": "query",
              "type": "boolean",
              "default": "false"
            }
          },
          "request": {
            "$ref": "File"
          },
          "path": "files"
        },
        "update": {
          "request": {
            "$ref": "File"
          },
          "description": " Updates a file's metadata, content, or both. When calling this method, only populate fields in the request that you want to modify. When updating fields, some fields might be changed automatically, such as `modifiedDate`. This method supports patch semantics. This method supports an */upload* URI and accepts uploaded media with the following characteristics: - *Maximum file size:* 5,120 GB - *Accepted Media MIME types:* `*/*` (Specify a valid MIME type, rather than the literal `*/*` value. The literal `*/*` is only used to indicate that any valid MIME type can be uploaded. For more information, see [Google Workspace and Google Drive supported MIME types](https://developers.google.com/workspace/drive/api/guides/mime-types).) For more information on uploading files, see [Upload file data](https://developers.google.com/workspace/drive/api/guides/manage-uploads).",
          "supportsMediaUpload": true,
          "flatPath": "files/{fileId}",
          "path": "files/{fileId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.scripts"
          ],
          "mediaUpload": {
            "maxSize": "5497558138880",
            "accept": [
              "*/*"
            ],
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/drive/v3/files/{fileId}"
              },
              "simple": {
                "multipart": true,
                "path": "/upload/drive/v3/files/{fileId}"
              }
            }
          },
          "response": {
            "$ref": "File"
          },
          "httpMethod": "PATCH",
          "parameters": {
            "keepRevisionForever": {
              "location": "query",
              "description": "Whether to set the `keepForever` field in the new head revision. This is only applicable to files with binary content in Google Drive. Only 200 revisions for the file can be kept forever. If the limit is reached, try deleting pinned revisions.",
              "type": "boolean",
              "default": "false"
            },
            "useContentAsIndexableText": {
              "description": "Whether to use the uploaded content as indexable text.",
              "location": "query",
              "type": "boolean",
              "default": "false"
            },
            "fileId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the file."
            },
            "supportsAllDrives": {
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "location": "query"
            },
            "ocrLanguage": {
              "description": "A language hint for OCR processing during image import (ISO 639-1 code).",
              "type": "string",
              "location": "query"
            },
            "enforceSingleParent": {
              "description": "Deprecated: Adding files to multiple folders is no longer supported. Use shortcuts instead.",
              "type": "boolean",
              "location": "query",
              "default": "false",
              "deprecated": true
            },
            "removeParents": {
              "type": "string",
              "location": "query",
              "description": "A comma-separated list of parent IDs to remove."
            },
            "includePermissionsForView": {
              "location": "query",
              "type": "string",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported."
            },
            "addParents": {
              "location": "query",
              "description": "A comma-separated list of parent IDs to add.",
              "type": "string"
            },
            "supportsTeamDrives": {
              "deprecated": true,
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "default": "false",
              "type": "boolean",
              "location": "query"
            },
            "includeLabels": {
              "type": "string",
              "location": "query",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response."
            }
          },
          "parameterOrder": [
            "fileId"
          ],
          "id": "drive.files.update"
        },
        "generateCseToken": {
          "parameters": {
            "parent": {
              "description": "The ID of the expected parent of the file. Used when generating a JWT for a new CSE file. If specified, the parent will be fetched, and if the parent is a shared drive item, the shared drive's policy will be used to determine the KACLS that should be used. It is invalid to specify both file_id and parent in a single request.",
              "location": "query",
              "type": "string"
            },
            "fileId": {
              "location": "query",
              "type": "string",
              "description": "The ID of the file for which the JWT should be generated. If not provided, an id will be generated."
            }
          },
          "httpMethod": "GET",
          "description": "Generates a CSE token which can be used to create or update CSE files.",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "parameterOrder": [],
          "flatPath": "files/generateCseToken",
          "path": "files/generateCseToken",
          "response": {
            "$ref": "GenerateCseTokenResponse"
          },
          "id": "drive.files.generateCseToken"
        },
        "get": {
          "description": " Gets a file's metadata or content by ID. For more information, see [Search for files and folders](https://developers.google.com/workspace/drive/api/guides/search-files). If you provide the URL parameter `alt=media`, then the response includes the file contents in the response body. Downloading content with `alt=media` only works if the file is stored in Drive. To download Google Docs, Sheets, and Slides use [`files.export`](https://developers.google.com/workspace/drive/api/reference/rest/v3/files/export) instead. For more information, see [Download and export files](https://developers.google.com/workspace/drive/api/guides/manage-downloads).",
          "supportsSubscription": true,
          "id": "drive.files.get",
          "response": {
            "$ref": "File"
          },
          "parameters": {
            "fileId": {
              "required": true,
              "location": "path",
              "description": "The ID of the file.",
              "type": "string"
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "deprecated": true,
              "type": "boolean",
              "default": "false",
              "location": "query"
            },
            "supportsAllDrives": {
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "default": "false"
            },
            "acknowledgeAbuse": {
              "description": "Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when the `alt` parameter is set to `media` and the user is the owner of the file or an organizer of the shared drive in which the file resides.",
              "location": "query",
              "default": "false",
              "type": "boolean"
            },
            "includeLabels": {
              "type": "string",
              "location": "query",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response."
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "useMediaDownloadService": true,
          "path": "files/{fileId}",
          "supportsMediaDownload": true,
          "parameterOrder": [
            "fileId"
          ],
          "flatPath": "files/{fileId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ]
        },
        "export": {
          "parameterOrder": [
            "fileId",
            "mimeType"
          ],
          "useMediaDownloadService": true,
          "id": "drive.files.export",
          "supportsMediaDownload": true,
          "flatPath": "files/{fileId}/export",
          "description": "Exports a Google Workspace document to the requested MIME type and returns exported byte content. For more information, see [Download and export files](https://developers.google.com/workspace/drive/api/guides/manage-downloads). Note that the exported content is limited to 10 MB.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "path": "files/{fileId}/export",
          "parameters": {
            "fileId": {
              "type": "string",
              "description": "The ID of the file.",
              "required": true,
              "location": "path"
            },
            "mimeType": {
              "location": "query",
              "required": true,
              "type": "string",
              "description": "Required. The MIME type of the format requested for this export. For a list of supported MIME types, see [Export MIME types for Google Workspace documents](/workspace/drive/api/guides/ref-export-formats)."
            }
          }
        },
        "copy": {
          "response": {
            "$ref": "File"
          },
          "id": "drive.files.copy",
          "parameterOrder": [
            "fileId"
          ],
          "request": {
            "$ref": "File"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.photos.readonly"
          ],
          "httpMethod": "POST",
          "flatPath": "files/{fileId}/copy",
          "parameters": {
            "ocrLanguage": {
              "type": "string",
              "location": "query",
              "description": "A language hint for OCR processing during image import (ISO 639-1 code)."
            },
            "copyComments": {
              "default": "false",
              "description": "Whether to copy the open (unresolved) comments associated with the file.",
              "location": "query",
              "type": "boolean"
            },
            "includeLabels": {
              "location": "query",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string"
            },
            "ignoreDefaultVisibility": {
              "description": "Whether to ignore the domain's default visibility settings for the created file. Domain administrators can choose to make all uploaded files visible to the domain by default; this parameter bypasses that behavior for the request. Permissions are still inherited from parent folders.",
              "type": "boolean",
              "default": "false",
              "location": "query"
            },
            "includePermissionsForView": {
              "type": "string",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query"
            },
            "fileId": {
              "location": "path",
              "required": true,
              "description": "The ID of the file.",
              "type": "string"
            },
            "keepRevisionForever": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "Whether to set the `keepForever` field in the new head revision. This is only applicable to files with binary content in Google Drive. Only 200 revisions for the file can be kept forever. If the limit is reached, try deleting pinned revisions."
            },
            "supportsAllDrives": {
              "type": "boolean",
              "location": "query",
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            },
            "supportsTeamDrives": {
              "deprecated": true,
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean",
              "default": "false",
              "location": "query"
            },
            "enforceSingleParent": {
              "deprecated": true,
              "description": "Deprecated: Copying files into multiple folders is no longer supported. Use shortcuts instead.",
              "type": "boolean",
              "default": "false",
              "location": "query"
            }
          },
          "description": "Creates a copy of a file and applies any requested updates with patch semantics. For more information, see [Create and manage files](https://developers.google.com/workspace/drive/api/guides/create-file).",
          "path": "files/{fileId}/copy"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameterOrder": [],
          "response": {
            "$ref": "FileList"
          },
          "description": " Lists the user's files. For more information, see [Search for files and folders](https://developers.google.com/workspace/drive/api/guides/search-files). This method accepts the `q` parameter, which is a search query combining one or more search terms. This method returns *all* files by default, including trashed files. If you don't want trashed files to appear in the list, use the `trashed=false` query parameter to remove trashed files from the results.",
          "path": "files",
          "flatPath": "files",
          "id": "drive.files.list",
          "httpMethod": "GET",
          "parameters": {
            "supportsTeamDrives": {
              "deprecated": true,
              "type": "boolean",
              "location": "query",
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "orderBy": {
              "type": "string",
              "location": "query",
              "description": "A comma-separated list of sort keys. Valid keys are: * `createdTime`: When the file was created. Avoid using this key for queries on large item collections as it might result in timeouts or other issues. For time-related sorting on large item collections, use `modifiedTime desc` instead. * `folder`: The folder ID. This field is sorted using alphabetical ordering. * `modifiedByMeTime`: The last time the file was modified by the user. * `modifiedTime`: The last time the file was modified by anyone. * `name`: The name of the file. This field is sorted using alphabetical ordering, so 1, 12, 2, 22. * `name_natural`: The name of the file. This field is sorted using natural sort ordering, so 1, 2, 12, 22. * `quotaBytesUsed`: The number of storage quota bytes used by the file. * `recency`: The most recent timestamp from the file's date-time fields. * `sharedWithMeTime`: When the file was shared with the user, if applicable. * `starred`: Whether the user has starred the file. * `viewedByMeTime`: The last time the file was viewed by the user. Each key sorts ascending by default, but can be reversed with the `desc` modifier. Example usage: `?orderBy=folder,modifiedTime desc,name`."
            },
            "pageToken": {
              "location": "query",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response.",
              "type": "string"
            },
            "teamDriveId": {
              "location": "query",
              "deprecated": true,
              "description": "Deprecated: Use `driveId` instead.",
              "type": "string"
            },
            "corpora": {
              "location": "query",
              "type": "string",
              "description": "Specifies a collection of items (files or documents) to which the query applies. Supported items include: * `user` * `domain` * `drive` * `allDrives` Prefer `user` or `drive` to `allDrives` for efficiency. By default, corpora is set to `user`. However, this can change depending on the filter set through the `q` parameter. For more information, see [File organization](https://developers.google.com/workspace/drive/api/guides/about-files#file-organization)."
            },
            "includeItemsFromAllDrives": {
              "type": "boolean",
              "description": "Whether both My Drive and shared drive items should be included in results.",
              "location": "query",
              "default": "false"
            },
            "pageSize": {
              "default": "100",
              "format": "int32",
              "location": "query",
              "type": "integer",
              "description": "The maximum number of files to return. The service may return fewer than this value. If unspecified, at most 100 files will be returned for shared drives, and the entire list of files for non-shared drives. The maximum value is 1000; values above 1000 will be coerced to 1000.",
              "maximum": "1000",
              "minimum": "1"
            },
            "spaces": {
              "location": "query",
              "default": "drive",
              "type": "string",
              "description": "A comma-separated list of spaces to query within the corpora. Supported values are `drive` and `appDataFolder`. For more information, see [File organization](https://developers.google.com/workspace/drive/api/guides/about-files#file-organization)."
            },
            "q": {
              "location": "query",
              "description": "A query for filtering the file results. For supported syntax, see [Search for files and folders](/workspace/drive/api/guides/search-files).",
              "type": "string"
            },
            "corpus": {
              "type": "string",
              "enumDescriptions": [
                "Files shared to the user's domain.",
                "Files owned by or shared to the user."
              ],
              "location": "query",
              "description": "Deprecated: The source of files to list. Use `corpora` instead.",
              "deprecated": true,
              "enum": [
                "domain",
                "user"
              ]
            },
            "driveId": {
              "location": "query",
              "description": "ID of the shared drive to search.",
              "type": "string"
            },
            "includeLabels": {
              "location": "query",
              "type": "string",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response."
            },
            "includeTeamDriveItems": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "Deprecated: Use `includeItemsFromAllDrives` instead.",
              "deprecated": true
            },
            "includePermissionsForView": {
              "location": "query",
              "type": "string",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported."
            },
            "supportsAllDrives": {
              "default": "false",
              "location": "query",
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            }
          }
        },
        "watch": {
          "supportsSubscription": true,
          "flatPath": "files/{fileId}/watch",
          "httpMethod": "POST",
          "path": "files/{fileId}/watch",
          "parameters": {
            "supportsTeamDrives": {
              "location": "query",
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "deprecated": true,
              "default": "false"
            },
            "fileId": {
              "type": "string",
              "description": "The ID of the file.",
              "required": true,
              "location": "path"
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "type": "string",
              "location": "query"
            },
            "includeLabels": {
              "location": "query",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string"
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            },
            "acknowledgeAbuse": {
              "default": "false",
              "type": "boolean",
              "location": "query",
              "description": "Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when the `alt` parameter is set to `media` and the user is the owner of the file or an organizer of the shared drive in which the file resides."
            }
          },
          "response": {
            "$ref": "Channel"
          },
          "parameterOrder": [
            "fileId"
          ],
          "id": "drive.files.watch",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "request": {
            "parameterName": "resource",
            "$ref": "Channel"
          },
          "description": "Subscribes to changes to a file. For more information, see [Notifications for resource changes](https://developers.google.com/workspace/drive/api/guides/push)."
        },
        "delete": {
          "path": "files/{fileId}",
          "description": "Permanently deletes a file owned by the user without moving it to the trash. For more information, see [Trash or delete files and folders](https://developers.google.com/workspace/drive/api/guides/delete). If the file belongs to a shared drive, the user must be an `organizer` on the parent folder. If the target is a folder, all descendants owned by the user are also deleted.",
          "flatPath": "files/{fileId}",
          "parameterOrder": [
            "fileId"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "fileId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the file."
            },
            "enforceSingleParent": {
              "deprecated": true,
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "Deprecated: If an item isn't in a shared drive and its last parent is deleted but the item itself isn't, the item will be placed under its owner's root."
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "type": "boolean",
              "default": "false"
            },
            "supportsTeamDrives": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "deprecated": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "id": "drive.files.delete"
        }
      }
    },
    "channels": {
      "methods": {
        "stop": {
          "id": "drive.channels.stop",
          "request": {
            "parameterName": "resource",
            "$ref": "Channel"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "path": "channels/stop",
          "flatPath": "channels/stop",
          "httpMethod": "POST",
          "parameters": {},
          "parameterOrder": [],
          "description": "Stops watching resources through this channel. For more information, see [Notifications for resource changes](https://developers.google.com/workspace/drive/api/guides/push)."
        }
      }
    },
    "comments": {
      "methods": {
        "get": {
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "flatPath": "files/{fileId}/comments/{commentId}",
          "parameters": {
            "includeDeleted": {
              "default": "false",
              "location": "query",
              "description": "Whether to return deleted comments. Deleted comments will not include their original content.",
              "type": "boolean"
            },
            "fileId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the file."
            },
            "commentId": {
              "description": "The ID of the comment.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "path": "files/{fileId}/comments/{commentId}",
          "httpMethod": "GET",
          "response": {
            "$ref": "Comment"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "description": "Gets a comment by ID. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments). Required: The `fields` parameter must be set. To return the exact fields you need, see [Return specific fields](https://developers.google.com/workspace/drive/api/guides/fields-parameter).",
          "id": "drive.comments.get"
        },
        "delete": {
          "description": "Deletes a comment. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments).",
          "flatPath": "files/{fileId}/comments/{commentId}",
          "id": "drive.comments.delete",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "parameters": {
            "commentId": {
              "required": true,
              "description": "The ID of the comment.",
              "location": "path",
              "type": "string"
            },
            "fileId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the file.",
              "required": true
            }
          },
          "path": "files/{fileId}/comments/{commentId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ]
        },
        "list": {
          "response": {
            "$ref": "CommentList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "id": "drive.comments.list",
          "path": "files/{fileId}/comments",
          "httpMethod": "GET",
          "flatPath": "files/{fileId}/comments",
          "parameters": {
            "pageSize": {
              "description": "The maximum number of comments to return. The service may return fewer than this value. If unspecified, at most 20 comments will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
              "format": "int32",
              "minimum": "1",
              "type": "integer",
              "location": "query",
              "maximum": "100",
              "default": "20"
            },
            "includeDeleted": {
              "location": "query",
              "type": "boolean",
              "description": "Whether to include deleted comments. Deleted comments will not include their original content.",
              "default": "false"
            },
            "startModifiedTime": {
              "location": "query",
              "type": "string",
              "description": "The minimum value of 'modifiedTime' for the result comments (RFC 3339 date-time)."
            },
            "pageToken": {
              "location": "query",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response.",
              "type": "string"
            },
            "fileId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the file."
            }
          },
          "parameterOrder": [
            "fileId"
          ],
          "description": "Lists a file's comments. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments). Required: The `fields` parameter must be set. To return the exact fields you need, see [Return specific fields](https://developers.google.com/workspace/drive/api/guides/fields-parameter)."
        },
        "update": {
          "response": {
            "$ref": "Comment"
          },
          "httpMethod": "PATCH",
          "parameters": {
            "fileId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the file."
            },
            "commentId": {
              "required": true,
              "type": "string",
              "description": "The ID of the comment.",
              "location": "path"
            }
          },
          "description": "Updates a comment with patch semantics. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments). Required: The `fields` parameter must be set. To return the exact fields you need, see [Return specific fields](https://developers.google.com/workspace/drive/api/guides/fields-parameter).",
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "flatPath": "files/{fileId}/comments/{commentId}",
          "id": "drive.comments.update",
          "request": {
            "$ref": "Comment"
          },
          "path": "files/{fileId}/comments/{commentId}"
        },
        "create": {
          "request": {
            "$ref": "Comment"
          },
          "description": "Creates a comment on a file. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments). Required: The `fields` parameter must be set. To return the exact fields you need, see [Return specific fields](https://developers.google.com/workspace/drive/api/guides/fields-parameter).",
          "response": {
            "$ref": "Comment"
          },
          "httpMethod": "POST",
          "id": "drive.comments.create",
          "parameters": {
            "fileId": {
              "type": "string",
              "description": "The ID of the file.",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "path": "files/{fileId}/comments",
          "parameterOrder": [
            "fileId"
          ],
          "flatPath": "files/{fileId}/comments"
        }
      }
    },
    "replies": {
      "methods": {
        "update": {
          "response": {
            "$ref": "Reply"
          },
          "description": "Updates a reply with patch semantics. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments).",
          "request": {
            "$ref": "Reply"
          },
          "parameterOrder": [
            "fileId",
            "commentId",
            "replyId"
          ],
          "path": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "flatPath": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "httpMethod": "PATCH",
          "id": "drive.replies.update",
          "parameters": {
            "replyId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the reply.",
              "required": true
            },
            "fileId": {
              "description": "The ID of the file.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "commentId": {
              "description": "The ID of the comment.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ]
        },
        "create": {
          "httpMethod": "POST",
          "request": {
            "$ref": "Reply"
          },
          "response": {
            "$ref": "Reply"
          },
          "parameters": {
            "fileId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the file."
            },
            "commentId": {
              "description": "The ID of the comment.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "flatPath": "files/{fileId}/comments/{commentId}/replies",
          "id": "drive.replies.create",
          "path": "files/{fileId}/comments/{commentId}/replies",
          "description": "Creates a reply to a comment. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments)."
        },
        "get": {
          "id": "drive.replies.get",
          "response": {
            "$ref": "Reply"
          },
          "httpMethod": "GET",
          "parameters": {
            "includeDeleted": {
              "location": "query",
              "default": "false",
              "description": "Whether to return deleted replies. Deleted replies don't include their original content.",
              "type": "boolean"
            },
            "commentId": {
              "location": "path",
              "description": "The ID of the comment.",
              "type": "string",
              "required": true
            },
            "replyId": {
              "description": "The ID of the reply.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "fileId": {
              "location": "path",
              "required": true,
              "description": "The ID of the file.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "path": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "parameterOrder": [
            "fileId",
            "commentId",
            "replyId"
          ],
          "flatPath": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "description": "Gets a reply by ID. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments)."
        },
        "list": {
          "parameters": {
            "includeDeleted": {
              "default": "false",
              "location": "query",
              "type": "boolean",
              "description": "Whether to include deleted replies. Deleted replies don't include their original content."
            },
            "pageSize": {
              "default": "20",
              "format": "int32",
              "description": "The maximum number of replies to return. The service may return fewer than this value. If unspecified, at most 20 replies will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
              "maximum": "100",
              "type": "integer",
              "location": "query",
              "minimum": "1"
            },
            "pageToken": {
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response.",
              "location": "query",
              "type": "string"
            },
            "commentId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the comment."
            },
            "fileId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the file."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "id": "drive.replies.list",
          "flatPath": "files/{fileId}/comments/{commentId}/replies",
          "path": "files/{fileId}/comments/{commentId}/replies",
          "description": "Lists a comment's replies. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments).",
          "response": {
            "$ref": "ReplyList"
          }
        },
        "delete": {
          "path": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "description": "Deletes a reply. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments).",
          "parameterOrder": [
            "fileId",
            "commentId",
            "replyId"
          ],
          "id": "drive.replies.delete",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameters": {
            "fileId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the file.",
              "required": true
            },
            "replyId": {
              "description": "The ID of the reply.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "commentId": {
              "description": "The ID of the comment.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "DELETE",
          "flatPath": "files/{fileId}/comments/{commentId}/replies/{replyId}"
        }
      }
    },
    "permissions": {
      "methods": {
        "delete": {
          "id": "drive.permissions.delete",
          "description": "Deletes a permission. For more information, see [Share files, folders, and drives](https://developers.google.com/workspace/drive/api/guides/manage-sharing). **Warning:** Concurrent permission modifications (such as update or delete) on the same file, folder, or shared drive aren't supported across any users or clients; only the last update is applied.",
          "path": "files/{fileId}/permissions/{permissionId}",
          "parameterOrder": [
            "fileId",
            "permissionId"
          ],
          "flatPath": "files/{fileId}/permissions/{permissionId}",
          "httpMethod": "DELETE",
          "parameters": {
            "useDomainAdminAccess": {
              "default": "false",
              "description": "Issue the request as a domain administrator. If set to `true`, and if the following additional conditions are met, the requester is granted access: 1. The file ID parameter refers to a shared drive. 2. The requester is an administrator of the domain to which the shared drive belongs. For more information, see [Manage shared drives as domain administrators](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives#manage-administrators).",
              "type": "boolean",
              "location": "query"
            },
            "fileId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the file or shared drive.",
              "required": true
            },
            "supportsAllDrives": {
              "default": "false",
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean"
            },
            "permissionId": {
              "location": "path",
              "required": true,
              "description": "The ID of the permission.",
              "type": "string"
            },
            "supportsTeamDrives": {
              "deprecated": true,
              "location": "query",
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean"
            },
            "enforceExpansiveAccess": {
              "location": "query",
              "default": "false",
              "description": "Deprecated: All requests use the expansive access rules.",
              "type": "boolean",
              "deprecated": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ]
        },
        "create": {
          "id": "drive.permissions.create",
          "response": {
            "$ref": "Permission"
          },
          "parameters": {
            "fileId": {
              "description": "The ID of the file or shared drive.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "transferOwnership": {
              "type": "boolean",
              "description": "Whether to transfer ownership to the specified user and downgrade the current owner to a writer. This parameter is required as an acknowledgement of the side effect. For more information, see [Transfer file ownership](https://developers.google.com/workspace/drive/api/guides/transfer-file).",
              "location": "query",
              "default": "false"
            },
            "moveToNewOwnersRoot": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "This parameter only takes effect if the item isn't in a shared drive and the request is attempting to transfer the ownership of the item. If set to `true`, the item is moved to the new owner's My Drive root folder and all prior parents removed. If set to `false`, parents aren't changed."
            },
            "sendNotificationEmail": {
              "description": "Whether to send a notification email when sharing to users or groups. This defaults to `true` for users and groups, and is not allowed for other requests. It must not be disabled for ownership transfers.",
              "type": "boolean",
              "location": "query"
            },
            "emailMessage": {
              "type": "string",
              "description": "A plain text custom message to include in the notification email.",
              "location": "query"
            },
            "enforceSingleParent": {
              "description": "Deprecated: See `moveToNewOwnersRoot` for details.",
              "default": "false",
              "type": "boolean",
              "deprecated": true,
              "location": "query"
            },
            "supportsTeamDrives": {
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "deprecated": true,
              "type": "boolean",
              "location": "query"
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            },
            "useDomainAdminAccess": {
              "description": "Issue the request as a domain administrator. If set to `true`, and if the following additional conditions are met, the requester is granted access: 1. The file ID parameter refers to a shared drive. 2. The requester is an administrator of the domain to which the shared drive belongs. For more information, see [Manage shared drives as domain administrators](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives#manage-administrators).",
              "type": "boolean",
              "location": "query",
              "default": "false"
            },
            "enforceExpansiveAccess": {
              "description": "Deprecated: All requests use the expansive access rules.",
              "type": "boolean",
              "deprecated": true,
              "default": "false",
              "location": "query"
            }
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "Permission"
          },
          "parameterOrder": [
            "fileId"
          ],
          "description": "Creates a permission for a file or shared drive. For more information, see [Share files, folders, and drives](https://developers.google.com/workspace/drive/api/guides/manage-sharing). **Warning:** Concurrent permission modifications (such as update or delete) on the same file, folder, or shared drive aren't supported across any users or clients; only the last update is applied.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "flatPath": "files/{fileId}/permissions",
          "path": "files/{fileId}/permissions"
        },
        "list": {
          "parameters": {
            "pageSize": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "The maximum number of permissions to return. The service may return fewer than this value. If unspecified, at most 100 permissions will be returned for shared drives, and the entire list of permissions for non-shared drives. The maximum value is 100; values above 100 will be coerced to 100.",
              "minimum": "1",
              "maximum": "100"
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "type": "string",
              "location": "query"
            },
            "useDomainAdminAccess": {
              "description": "Issue the request as a domain administrator. If set to `true`, and if the following additional conditions are met, the requester is granted access: 1. The file ID parameter refers to a shared drive. 2. The requester is an administrator of the domain to which the shared drive belongs. For more information, see [Manage shared drives as domain administrators](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives#manage-administrators).",
              "location": "query",
              "type": "boolean",
              "default": "false"
            },
            "fileId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the file or shared drive."
            },
            "supportsAllDrives": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "default": "false",
              "type": "boolean",
              "location": "query",
              "deprecated": true
            },
            "pageToken": {
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response.",
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "httpMethod": "GET",
          "flatPath": "files/{fileId}/permissions",
          "parameterOrder": [
            "fileId"
          ],
          "description": "Lists a file's or shared drive's permissions. For more information, see [Share files, folders, and drives](https://developers.google.com/workspace/drive/api/guides/manage-sharing).",
          "path": "files/{fileId}/permissions",
          "id": "drive.permissions.list",
          "response": {
            "$ref": "PermissionList"
          }
        },
        "update": {
          "request": {
            "$ref": "Permission"
          },
          "parameterOrder": [
            "fileId",
            "permissionId"
          ],
          "response": {
            "$ref": "Permission"
          },
          "path": "files/{fileId}/permissions/{permissionId}",
          "parameters": {
            "enforceExpansiveAccess": {
              "default": "false",
              "description": "Deprecated: All requests use the expansive access rules.",
              "location": "query",
              "type": "boolean",
              "deprecated": true
            },
            "fileId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the file or shared drive."
            },
            "supportsTeamDrives": {
              "deprecated": true,
              "default": "false",
              "type": "boolean",
              "location": "query",
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "removeExpiration": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "Whether to remove the expiration date."
            },
            "useDomainAdminAccess": {
              "default": "false",
              "type": "boolean",
              "location": "query",
              "description": "Issue the request as a domain administrator. If set to `true`, and if the following additional conditions are met, the requester is granted access: 1. The file ID parameter refers to a shared drive. 2. The requester is an administrator of the domain to which the shared drive belongs. For more information, see [Manage shared drives as domain administrators](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives#manage-administrators)."
            },
            "supportsAllDrives": {
              "default": "false",
              "location": "query",
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            },
            "permissionId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the permission."
            },
            "transferOwnership": {
              "description": "Whether to transfer ownership to the specified user and downgrade the current owner to a writer. This parameter is required as an acknowledgement of the side effect. For more information, see [Transfer file ownership](https://developers.google.com//workspace/drive/api/guides/transfer-file).",
              "location": "query",
              "default": "false",
              "type": "boolean"
            }
          },
          "description": "Updates a permission with patch semantics. For more information, see [Share files, folders, and drives](https://developers.google.com/workspace/drive/api/guides/manage-sharing). **Warning:** Concurrent permission modifications (such as update or delete) on the same file, folder, or shared drive aren't supported across any users or clients; only the last update is applied.",
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "flatPath": "files/{fileId}/permissions/{permissionId}",
          "id": "drive.permissions.update"
        },
        "get": {
          "response": {
            "$ref": "Permission"
          },
          "id": "drive.permissions.get",
          "flatPath": "files/{fileId}/permissions/{permissionId}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "description": "Gets a permission by ID. For more information, see [Share files, folders, and drives](https://developers.google.com/workspace/drive/api/guides/manage-sharing).",
          "parameters": {
            "permissionId": {
              "type": "string",
              "description": "The ID of the permission.",
              "required": true,
              "location": "path"
            },
            "fileId": {
              "location": "path",
              "description": "The ID of the file.",
              "required": true,
              "type": "string"
            },
            "supportsTeamDrives": {
              "location": "query",
              "default": "false",
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "deprecated": true
            },
            "supportsAllDrives": {
              "default": "false",
              "location": "query",
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            },
            "useDomainAdminAccess": {
              "default": "false",
              "location": "query",
              "type": "boolean",
              "description": "Issue the request as a domain administrator. If set to `true`, and if the following additional conditions are met, the requester is granted access: 1. The file ID parameter refers to a shared drive. 2. The requester is an administrator of the domain to which the shared drive belongs. For more information, see [Manage shared drives as domain administrators](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives#manage-administrators)."
            }
          },
          "path": "files/{fileId}/permissions/{permissionId}",
          "parameterOrder": [
            "fileId",
            "permissionId"
          ]
        }
      }
    },
    "teamdrives": {
      "methods": {
        "create": {
          "path": "teamdrives",
          "response": {
            "$ref": "TeamDrive"
          },
          "httpMethod": "POST",
          "parameters": {
            "requestId": {
              "required": true,
              "description": "Required. An ID, such as a random UUID, which uniquely identifies this user's request for idempotent creation of a Team Drive. A repeated request by the same user and with the same request ID will avoid creating duplicates by attempting to create the same Team Drive. If the Team Drive already exists a 409 error will be returned.",
              "location": "query",
              "type": "string"
            }
          },
          "request": {
            "$ref": "TeamDrive"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "id": "drive.teamdrives.create",
          "flatPath": "teamdrives",
          "description": "Deprecated: Use `drives.create` instead.",
          "parameterOrder": [
            "requestId"
          ]
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameterOrder": [
            "teamDriveId"
          ],
          "response": {
            "$ref": "TeamDrive"
          },
          "path": "teamdrives/{teamDriveId}",
          "httpMethod": "GET",
          "parameters": {
            "useDomainAdminAccess": {
              "default": "false",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the Team Drive belongs.",
              "location": "query",
              "type": "boolean"
            },
            "teamDriveId": {
              "description": "The ID of the Team Drive",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "teamdrives/{teamDriveId}",
          "description": "Deprecated: Use `drives.get` instead.",
          "id": "drive.teamdrives.get"
        },
        "update": {
          "parameters": {
            "teamDriveId": {
              "description": "The ID of the Team Drive",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "useDomainAdminAccess": {
              "type": "boolean",
              "location": "query",
              "default": "false",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the Team Drive belongs."
            }
          },
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "description": "Deprecated: Use `drives.update` instead.",
          "path": "teamdrives/{teamDriveId}",
          "parameterOrder": [
            "teamDriveId"
          ],
          "flatPath": "teamdrives/{teamDriveId}",
          "request": {
            "$ref": "TeamDrive"
          },
          "response": {
            "$ref": "TeamDrive"
          },
          "id": "drive.teamdrives.update"
        },
        "delete": {
          "parameterOrder": [
            "teamDriveId"
          ],
          "path": "teamdrives/{teamDriveId}",
          "flatPath": "teamdrives/{teamDriveId}",
          "id": "drive.teamdrives.delete",
          "httpMethod": "DELETE",
          "parameters": {
            "teamDriveId": {
              "description": "The ID of the Team Drive",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "description": "Deprecated: Use `drives.delete` instead."
        },
        "list": {
          "parameters": {
            "useDomainAdminAccess": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "Issue the request as a domain administrator; if set to true, then all Team Drives of the domain in which the requester is an administrator are returned."
            },
            "q": {
              "type": "string",
              "description": "Query string for searching Team Drives.",
              "location": "query"
            },
            "pageSize": {
              "default": "10",
              "format": "int32",
              "description": "Maximum number of Team Drives to return.",
              "type": "integer",
              "location": "query",
              "maximum": "100",
              "minimum": "1"
            },
            "pageToken": {
              "description": "Page token for Team Drives.",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "teamdrives",
          "httpMethod": "GET",
          "response": {
            "$ref": "TeamDriveList"
          },
          "description": "Deprecated: Use `drives.list` instead.",
          "path": "teamdrives",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "id": "drive.teamdrives.list",
          "parameterOrder": []
        }
      }
    },
    "accessproposals": {
      "methods": {
        "resolve": {
          "id": "drive.accessproposals.resolve",
          "flatPath": "files/{fileId}/accessproposals/{proposalId}:resolve",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "path": "files/{fileId}/accessproposals/{proposalId}:resolve",
          "description": "Approves or denies an access proposal. For more information, see [Manage pending access proposals](https://developers.google.com/workspace/drive/api/guides/pending-access).",
          "httpMethod": "POST",
          "parameters": {
            "fileId": {
              "description": "Required. The ID of the item the request is on.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "proposalId": {
              "description": "Required. The ID of the access proposal to resolve.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "request": {
            "$ref": "ResolveAccessProposalRequest"
          },
          "parameterOrder": [
            "fileId",
            "proposalId"
          ]
        },
        "get": {
          "description": "Retrieves an access proposal by ID. For more information, see [Manage pending access proposals](https://developers.google.com/workspace/drive/api/guides/pending-access).",
          "flatPath": "files/{fileId}/accessproposals/{proposalId}",
          "parameterOrder": [
            "fileId",
            "proposalId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "fileId": {
              "type": "string",
              "required": true,
              "description": "Required. The ID of the item the request is on.",
              "location": "path"
            },
            "proposalId": {
              "description": "Required. The ID of the access proposal to resolve.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "id": "drive.accessproposals.get",
          "response": {
            "$ref": "AccessProposal"
          },
          "path": "files/{fileId}/accessproposals/{proposalId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ]
        },
        "list": {
          "response": {
            "$ref": "ListAccessProposalsResponse"
          },
          "id": "drive.accessproposals.list",
          "path": "files/{fileId}/accessproposals",
          "httpMethod": "GET",
          "parameters": {
            "fileId": {
              "description": "Required. The ID of the item the request is on.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "pageSize": {
              "description": "Optional. The number of results per page.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. The continuation token on the list of access requests."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "files/{fileId}/accessproposals",
          "description": "List the access proposals on a file. For more information, see [Manage pending access proposals](https://developers.google.com/workspace/drive/api/guides/pending-access). Note: Only approvers are able to list access proposals on a file. If the user isn't an approver, a 403 error is returned.",
          "parameterOrder": [
            "fileId"
          ]
        }
      }
    },
    "operations": {
      "methods": {
        "get": {
          "parameters": {
            "name": {
              "required": true,
              "description": "The name of the operation resource.",
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "response": {
            "$ref": "Operation"
          },
          "path": "operations/{name}",
          "parameterOrder": [
            "name"
          ],
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
          "flatPath": "operations/{name}",
          "id": "drive.operations.get"
        }
      }
    },
    "approvals": {
      "methods": {
        "comment": {
          "request": {
            "$ref": "CommentApprovalRequest"
          },
          "response": {
            "$ref": "Approval"
          },
          "path": "files/{fileId}/approvals/{approvalId}:comment",
          "parameterOrder": [
            "fileId",
            "approvalId"
          ],
          "id": "drive.approvals.comment",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "parameters": {
            "fileId": {
              "description": "Required. The ID of the file that the approval is on.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "approvalId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. The ID of the approval to comment on."
            }
          },
          "httpMethod": "POST",
          "flatPath": "files/{fileId}/approvals/{approvalId}:comment",
          "description": "Comments on an approval. For more information, see [Manage approvals](https://developers.google.com/workspace/drive/api/guides/approvals). This sends a notification to both the initiator and the reviewers. Additionally, a message is also added to the approval activity log."
        },
        "get": {
          "parameters": {
            "fileId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Required. The ID of the file that the approval is on."
            },
            "approvalId": {
              "description": "Required. The ID of the approval.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "Approval"
          },
          "path": "files/{fileId}/approvals/{approvalId}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "description": "Gets an approval by ID. For more information, see [Manage approvals](https://developers.google.com/workspace/drive/api/guides/approvals).",
          "parameterOrder": [
            "fileId",
            "approvalId"
          ],
          "flatPath": "files/{fileId}/approvals/{approvalId}",
          "id": "drive.approvals.get"
        },
        "cancel": {
          "request": {
            "$ref": "CancelApprovalRequest"
          },
          "parameterOrder": [
            "fileId",
            "approvalId"
          ],
          "response": {
            "$ref": "Approval"
          },
          "httpMethod": "POST",
          "parameters": {
            "fileId": {
              "type": "string",
              "required": true,
              "description": "Required. The ID of the file that the approval is on.",
              "location": "path"
            },
            "approvalId": {
              "description": "Required. The ID of the approval to cancel.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "description": "Cancels an approval. For more information, see [Manage approvals](https://developers.google.com/workspace/drive/api/guides/approvals). Updates the approval Status to `CANCELLED`. This can be called by any user with the `writer` permission on the file while the approval Status is `IN_PROGRESS`.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "flatPath": "files/{fileId}/approvals/{approvalId}:cancel",
          "path": "files/{fileId}/approvals/{approvalId}:cancel",
          "id": "drive.approvals.cancel"
        },
        "approve": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "response": {
            "$ref": "Approval"
          },
          "id": "drive.approvals.approve",
          "request": {
            "$ref": "ApproveApprovalRequest"
          },
          "parameterOrder": [
            "fileId",
            "approvalId"
          ],
          "flatPath": "files/{fileId}/approvals/{approvalId}:approve",
          "httpMethod": "POST",
          "parameters": {
            "approvalId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Required. The ID of the approval to approve."
            },
            "fileId": {
              "type": "string",
              "description": "Required. The ID of the file that the approval is on.",
              "required": true,
              "location": "path"
            }
          },
          "path": "files/{fileId}/approvals/{approvalId}:approve",
          "description": "Approves an approval. For more information, see [Manage approvals](https://developers.google.com/workspace/drive/api/guides/approvals). This is used to update the ReviewerResponse of the requesting user with a Response of `APPROVED`. If this is the last required reviewer response, this also completes the approval and sets the approval Status to `APPROVED`."
        },
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "pageSize": {
              "type": "integer",
              "location": "query",
              "description": "The maximum number of approvals to return. When not set, at most 100 approvals are returned.",
              "format": "int32"
            },
            "pageToken": {
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response.",
              "location": "query",
              "type": "string"
            },
            "fileId": {
              "type": "string",
              "location": "path",
              "description": "Required. The ID of the file that the approval is on.",
              "required": true
            }
          },
          "id": "drive.approvals.list",
          "flatPath": "files/{fileId}/approvals",
          "parameterOrder": [
            "fileId"
          ],
          "path": "files/{fileId}/approvals",
          "response": {
            "$ref": "ApprovalList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "description": "Lists the approvals on a file. For more information, see [Manage approvals](https://developers.google.com/workspace/drive/api/guides/approvals). By default, this method returns a minimal response that may not include the items array. To retrieve approval details, you must explicitly specify the fields you want using the `fields` query parameter. To return the exact fields you need, see [Return specific fields](https://developers.google.com/workspace/drive/api/guides/fields-parameter)."
        },
        "reassign": {
          "flatPath": "files/{fileId}/approvals/{approvalId}:reassign",
          "path": "files/{fileId}/approvals/{approvalId}:reassign",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "request": {
            "$ref": "ReassignApprovalRequest"
          },
          "id": "drive.approvals.reassign",
          "response": {
            "$ref": "Approval"
          },
          "httpMethod": "POST",
          "parameters": {
            "fileId": {
              "type": "string",
              "location": "path",
              "description": "Required. The ID of the file that the approval is on.",
              "required": true
            },
            "approvalId": {
              "location": "path",
              "description": "Required. The ID of the approval to reassign.",
              "type": "string",
              "required": true
            }
          },
          "description": "Reassigns the reviewers on an approval. For more information, see [Manage approvals](https://developers.google.com/workspace/drive/api/guides/approvals). Adds or replaces reviewers in the ReviewerResponse of the approval. This can be called by any user with the `writer` permission on the file while the approval Status is `IN_PROGRESS` and the Response for the reviewer being reassigned is `NO_RESPONSE`. A user with the `reader` permission can only reassign an approval that's assigned to themselves. Removing a reviewer isn't allowed.",
          "parameterOrder": [
            "fileId",
            "approvalId"
          ]
        },
        "start": {
          "response": {
            "$ref": "Approval"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "request": {
            "$ref": "StartApprovalRequest"
          },
          "id": "drive.approvals.start",
          "httpMethod": "POST",
          "flatPath": "files/{fileId}/approvals:start",
          "parameters": {
            "fileId": {
              "required": true,
              "location": "path",
              "description": "Required. The ID of the file that the approval is created on.",
              "type": "string"
            }
          },
          "path": "files/{fileId}/approvals:start",
          "description": "Starts an approval on a file. For more information, see [Manage approvals](https://developers.google.com/workspace/drive/api/guides/approvals).",
          "parameterOrder": [
            "fileId"
          ]
        },
        "decline": {
          "response": {
            "$ref": "Approval"
          },
          "httpMethod": "POST",
          "path": "files/{fileId}/approvals/{approvalId}:decline",
          "parameters": {
            "approvalId": {
              "location": "path",
              "description": "Required. The ID of the approval to decline.",
              "type": "string",
              "required": true
            },
            "fileId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. The ID of the file that the approval is on."
            }
          },
          "parameterOrder": [
            "fileId",
            "approvalId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "flatPath": "files/{fileId}/approvals/{approvalId}:decline",
          "description": "Declines an approval. For more information, see [Manage approvals](https://developers.google.com/workspace/drive/api/guides/approvals). This is used to update the ReviewerResponse of the requesting user with a Response of `DECLINED`. This also completes the approval and sets the approval Status to `DECLINED`.",
          "request": {
            "$ref": "DeclineApprovalRequest"
          },
          "id": "drive.approvals.decline"
        }
      }
    },
    "apps": {
      "methods": {
[...]
