{
  "discoveryVersion": "v1",
  "schemas": {
    "StartPageToken": {
      "id": "StartPageToken",
      "type": "object",
      "properties": {
        "startPageToken": {
          "type": "string",
          "description": "The starting page token for listing changes."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#startPageToken\"`.",
          "default": "drive#startPageToken"
        }
      }
    },
    "Change": {
      "id": "Change",
      "description": "Representation of a change to a file or shared drive.",
      "properties": {
        "teamDrive": {
          "$ref": "TeamDrive",
          "deprecated": true,
          "description": "Deprecated: Use `drive` instead."
        },
        "kind": {
          "description": "This is always `drive#change`.",
          "type": "string",
          "default": "drive#change"
        },
        "fileId": {
          "description": "The ID of the file associated with this change.",
          "type": "string"
        },
        "selfLink": {
          "description": "A link back to this change.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The ID of the change.",
          "format": "int64"
        },
        "modificationDate": {
          "format": "date-time",
          "type": "string",
          "description": "The time of this modification."
        },
        "driveId": {
          "type": "string",
          "description": "The ID of the shared drive associated with this change."
        },
        "changeType": {
          "description": "The type of the change. Possible values are `file` and `drive`.",
          "type": "string"
        },
        "teamDriveId": {
          "type": "string",
          "description": "Deprecated: Use `driveId` instead.",
          "deprecated": true
        },
        "type": {
          "deprecated": true,
          "type": "string",
          "description": "Deprecated: Use `changeType` instead."
        },
        "deleted": {
          "type": "boolean",
          "description": "Whether the file or shared drive has been removed from this list of changes, for example by deletion or loss of access."
        },
        "drive": {
          "$ref": "Drive",
          "description": "The updated state of the shared drive. Present if the changeType is drive, the user is still a member of the shared drive, and the shared drive has not been deleted."
        },
        "file": {
          "$ref": "File",
          "description": "The updated state of the file. Present if the type is file and the file has not been removed from this list of changes."
        }
      },
      "type": "object"
    },
    "App": {
      "description": "The apps resource provides a list of the apps that a user has installed, with information about each app's supported MIME types, file extensions, and other details. Some resource methods (such as `apps.get`) require an `appId`. Use the `apps.list` method to retrieve the ID for an installed application.",
      "id": "App",
      "type": "object",
      "properties": {
        "primaryMimeTypes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of primary mime types."
        },
        "shortDescription": {
          "description": "A short description of the app.",
          "type": "string"
        },
        "productUrl": {
          "type": "string",
          "description": "A link to the product listing for this app."
        },
        "kind": {
          "description": "This is always `drive#app`.",
          "default": "drive#app",
          "type": "string"
        },
        "supportsCreate": {
          "description": "Whether this app supports creating new objects.",
          "type": "boolean"
        },
        "supportsImport": {
          "type": "boolean",
          "description": "Whether this app supports importing from Docs Editors."
        },
        "secondaryFileExtensions": {
          "description": "The list of secondary file extensions.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "longDescription": {
          "description": "A long description of the app.",
          "type": "string"
        },
        "createUrl": {
          "description": "The url to create a new file with this app.",
          "type": "string"
        },
        "authorized": {
          "type": "boolean",
          "description": "Whether the app is authorized to access data on the user's Drive."
        },
        "createInFolderTemplate": {
          "description": "The template url to create a new file with this app in a given folder. The template will contain {folderId} to be replaced by the folder to create the new file in.",
          "type": "string"
        },
        "installed": {
          "description": "Whether the app is installed.",
          "type": "boolean"
        },
        "id": {
          "description": "The ID of the app.",
          "type": "string"
        },
        "openUrlTemplate": {
          "type": "string",
          "description": "The template url for opening files with this app. The template will contain `{ids}` and/or `{exportIds}` to be replaced by the actual file ids. See Open Files for the full documentation."
        },
        "name": {
          "type": "string",
          "description": "The name of the app."
        },
        "secondaryMimeTypes": {
          "items": {
            "type": "string"
          },
          "description": "The list of secondary mime types.",
          "type": "array"
        },
        "useByDefault": {
          "description": "Whether the app is selected as the default handler for the types it supports.",
          "type": "boolean"
        },
        "primaryFileExtensions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of primary file extensions."
        },
        "supportsMultiOpen": {
          "description": "Whether this app supports opening more than one file.",
          "type": "boolean"
        },
        "productId": {
          "description": "The ID of the product listing for this app.",
          "type": "string"
        },
        "objectType": {
          "type": "string",
          "description": "The type of object this app creates (e.g. Chart). If empty, the app name should be used instead."
        },
        "icons": {
          "type": "array",
          "description": "The various icons for the app.",
          "items": {
            "properties": {
              "category": {
                "description": "Category of the icon. Allowed values are: * `application` - icon for the application * `document` - icon for a file associated with the app * `documentShared` - icon for a shared file associated with the app",
                "type": "string"
              },
              "iconUrl": {
                "description": "URL for the icon.",
                "type": "string"
              },
              "size": {
                "format": "int32",
                "description": "Size of the icon. Represented as the maximum of the width and height.",
                "type": "integer"
              }
            },
            "type": "object"
          }
        },
        "supportsOfflineCreate": {
          "type": "boolean",
          "description": "Whether this app supports creating new files when offline."
        },
        "hasDriveWideScope": {
          "description": "Whether the app has drive-wide scope. An app with drive-wide scope can access all files in the user's drive.",
          "type": "boolean"
        }
      }
    },
    "RevisionList": {
      "id": "RevisionList",
      "properties": {
        "kind": {
          "description": "This is always `drive#revisionList`.",
          "type": "string",
          "default": "drive#revisionList"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The page token for the next page of revisions. This field will be absent if the end of the revisions list has been reached. If the token is rejected for any reason, it should be discarded and pagination should be restarted from the first page of results."
        },
        "selfLink": {
          "description": "A link back to this list.",
          "type": "string"
        },
        "items": {
          "description": "The list of revisions. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "type": "array",
          "items": {
            "$ref": "Revision"
          }
        },
        "etag": {
          "description": "The ETag of the list.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A list of revisions of a file."
    },
    "CommentReply": {
      "type": "object",
      "id": "CommentReply",
      "properties": {
        "createdDate": {
          "type": "string",
          "format": "date-time",
          "description": "The date when this reply was first created."
        },
        "verb": {
          "description": "The action this reply performed to the parent comment. When creating a new reply this is the action to be perform tSo the parent comment. Possible values are: * `resolve` - To resolve a comment. * `reopen` - To reopen (un-resolve) a comment.",
          "type": "string"
        },
        "author": {
          "description": "The user who wrote this reply.",
          "$ref": "User"
        },
        "replyId": {
          "description": "The ID of the reply.",
          "type": "string"
        },
        "deleted": {
          "description": "Whether this reply has been deleted. If a reply has been deleted the content will be cleared and this will only represent a reply that once existed.",
          "type": "boolean"
        },
        "modifiedDate": {
          "format": "date-time",
          "description": "The date when this reply was last modified.",
          "type": "string"
        },
        "htmlContent": {
          "description": "HTML formatted content for this reply.",
          "type": "string"
        },
        "content": {
          "type": "string",
          "description": "The plain text content used to create this reply. This is not HTML safe and should only be used as a starting point to make edits to a reply's content. This field is required on inserts if no verb is specified (resolve/reopen).",
          "annotations": {
            "required": [
              "drive.replies.patch",
              "drive.replies.update"
            ]
          }
        },
        "kind": {
          "default": "drive#commentReply",
          "type": "string",
          "description": "This is always drive#commentReply."
        }
      },
      "description": "A reply to a comment on a file in Google Drive."
    },
    "Property": {
      "description": "A key-value pair attached to a file that is either public or private to an application. The following limits apply to file properties: * Maximum of 100 properties total per file * Maximum of 30 private properties per app * Maximum of 30 public properties * Maximum of 124 bytes size limit on (key + value) string in UTF-8 encoding for a single property Some resource methods (such as `properties.update`) require a `propertyKey`. Use the `properties.list` method to retrieve the key for a property.",
      "id": "Property",
      "properties": {
        "key": {
          "type": "string",
          "description": "The key of this property.",
          "annotations": {
            "required": [
              "drive.properties.insert"
            ]
          }
        },
        "value": {
          "type": "string",
          "description": "The value of this property."
        },
        "etag": {
          "description": "Output only. ETag of the property.",
          "type": "string"
        },
        "kind": {
          "description": "Output only. This is always `drive#property`.",
          "default": "drive#property",
          "type": "string"
        },
        "selfLink": {
          "description": "Output only. The link back to this property.",
          "type": "string"
        },
        "visibility": {
          "description": "The visibility of this property. Allowed values are PRIVATE (default) and PUBLIC. Private properties can only be retrieved using an authenticated request. An authenticated request uses an access token obtained with a OAuth 2 client ID. You cannot use an API key to retrieve private properties.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ContentRestriction": {
      "id": "ContentRestriction",
      "description": "A restriction for accessing the content of the file.",
      "type": "object",
      "properties": {
        "ownerRestricted": {
          "description": "Whether the content restriction can only be modified or removed by a user who owns the file. For files in shared drives, any user with `organizer` capabilities can modify or remove this content restriction.",
          "type": "boolean"
        },
        "readOnly": {
          "type": "boolean",
          "description": "Whether the content of the file is read-only. If a file is read-only, a new revision of the file may not be added, comments may not be added or modified, and the title of the file may not be modified."
        },
        "reason": {
          "type": "string",
          "description": "Reason for why the content of the file is restricted. This is only mutable on requests that also set `readOnly=true`."
        },
        "systemRestricted": {
          "type": "boolean",
          "description": "Output only. Whether the content restriction was applied by the system, for example due to an esignature. Users cannot modify or remove system restricted content restrictions."
        },
        "type": {
          "type": "string",
          "description": "Output only. The type of the content restriction. Currently the only possible value is `globalContentRestriction`."
        },
        "restrictingUser": {
          "description": "Output only. The user who set the content restriction. Only populated if `readOnly` is true.",
          "$ref": "User"
        },
        "restrictionDate": {
          "type": "string",
          "description": "The time at which the content restriction was set (formatted RFC 3339 timestamp). Only populated if readOnly is true.",
          "format": "date-time"
        }
      }
    },
    "TeamDriveList": {
      "id": "TeamDriveList",
      "description": "A list of Team Drives.",
      "type": "object",
      "properties": {
        "items": {
          "items": {
            "$ref": "TeamDrive"
          },
          "type": "array",
          "description": "The list of Team Drives."
        },
        "nextPageToken": {
          "description": "The page token for the next page of Team Drives.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "drive#teamDriveList",
          "description": "This is always `drive#teamDriveList`"
        }
      }
    },
    "AppList": {
      "type": "object",
      "properties": {
        "etag": {
          "description": "The ETag of the list.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "The list of apps.",
          "items": {
            "$ref": "App"
          }
        },
        "defaultAppIds": {
          "items": {
            "type": "string"
          },
          "description": "List of app IDs that the user has specified to use by default. The list is in reverse-priority order (lowest to highest).",
          "type": "array"
        },
        "selfLink": {
          "type": "string",
          "description": "A link back to this list."
        },
        "kind": {
          "default": "drive#appList",
          "type": "string",
          "description": "This is always `drive#appList`."
        }
      },
      "description": "A list of third-party applications which the user has installed or given access to Google Drive.",
      "id": "AppList"
    },
    "GeneratedIds": {
      "properties": {
        "ids": {
          "type": "array",
          "description": "The IDs generated for the requesting user in the specified space.",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "default": "drive#generatedIds",
          "type": "string",
          "description": "This is always `drive#generatedIds`"
        },
        "space": {
          "description": "The type of file that can be created with these IDs.",
          "type": "string"
        }
      },
      "description": "A list of generated IDs which can be provided in insert requests",
      "type": "object",
      "id": "GeneratedIds"
    },
    "File": {
      "id": "File",
      "type": "object",
      "properties": {
        "fileSize": {
          "description": "Output only. Size in bytes of blobs and first party editor files. Won't be populated for files that have no size, like shortcuts and folders.",
          "type": "string",
          "format": "int64"
        },
        "videoMediaMetadata": {
          "description": "Output only. Metadata about video media. This will only be present for video types.",
          "properties": {
            "width": {
              "description": "Output only. The width of the video in pixels.",
              "format": "int32",
              "type": "integer"
            },
            "durationMillis": {
              "description": "Output only. The duration of the video in milliseconds.",
              "type": "string",
              "format": "int64"
            },
            "height": {
              "format": "int32",
              "type": "integer",
              "description": "Output only. The height of the video in pixels."
            }
          },
          "type": "object"
        },
        "linkShareMetadata": {
          "properties": {
            "securityUpdateEnabled": {
              "description": "Output only. Whether the security update is enabled for this file.",
              "type": "boolean"
            },
            "securityUpdateEligible": {
              "type": "boolean",
              "description": "Output only. Whether the file is eligible for security update."
            }
          },
          "description": "Contains details about the link URLs that clients are using to refer to this item.",
          "type": "object"
        },
        "downloadUrl": {
          "type": "string",
          "description": "Output only. Short lived download URL for the file. This field is only populated for files with content stored in Google Drive; it is not populated for Google Docs or shortcut files."
        },
        "etag": {
          "type": "string",
          "description": "Output only. ETag of the file."
        },
        "alternateLink": {
          "description": "Output only. A link for opening the file in a relevant Google editor or viewer.",
          "type": "string"
        },
        "defaultOpenWithLink": {
          "description": "Output only. A link to open this file with the user's default app for this file. Only populated when the drive.apps.readonly scope is used.",
          "type": "string"
        },
        "modifiedByMeDate": {
          "format": "date-time",
          "type": "string",
          "description": "Last time this file was modified by the user (formatted RFC 3339 timestamp). Note that setting modifiedDate will also update the modifiedByMe date for the user which set the date."
        },
        "fileExtension": {
          "type": "string",
          "description": "Output only. The final component of `fullFileExtension` with trailing text that does not appear to be part of the extension removed. This field is only populated for files with content stored in Google Drive; it is not populated for Docs Editors or shortcut files."
        },
        "headRevisionId": {
          "type": "string",
          "description": "Output only. The ID of the file's head revision. This field is only populated for files with content stored in Google Drive; it is not populated for Docs Editors or shortcut files."
        },
        "kind": {
          "default": "drive#file",
          "description": "Output only. The type of file. This is always `drive#file`.",
          "type": "string"
        },
        "exportLinks": {
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. Links for exporting Docs Editors files to specific formats.",
          "type": "object"
        },
        "capabilities": {
          "type": "object",
          "description": "Output only. Capabilities the current user has on this file. Each capability corresponds to a fine-grained action that a user may take.",
          "properties": {
            "canModifyOwnerContentRestriction": {
              "type": "boolean",
              "description": "Output only. Whether the current user can add or modify content restrictions which are owner restricted."
            },
            "canComment": {
              "description": "Output only. Whether the current user can comment on this file.",
              "type": "boolean"
            },
            "canModifyContentRestriction": {
              "deprecated": true,
              "description": "Deprecated: Output only. Use one of `canModifyEditorContentRestriction`, `canModifyOwnerContentRestriction` or `canRemoveContentRestriction`.",
              "type": "boolean"
            },
            "canMoveChildrenWithinTeamDrive": {
              "deprecated": true,
              "description": "Output only. Deprecated: Use `canMoveChildrenWithinDrive` instead.",
              "type": "boolean"
            },
            "canAddFolderFromAnotherDrive": {
              "description": "Output only. Whether the current user can add a folder from another drive (different shared drive or My Drive) to this folder. This is false when the item is not a folder. Only populated for items in shared drives.",
              "type": "boolean"
            },
            "canMoveChildrenWithinDrive": {
              "type": "boolean",
              "description": "Output only. Whether the current user can move children of this folder within this drive. This is false when the item is not a folder. Note that a request to move the child may still fail depending on the current user's access to the child and to the destination folder."
            },
            "canMoveItemOutOfTeamDrive": {
              "description": "Output only. Deprecated: Use `canMoveItemOutOfDrive` instead.",
              "type": "boolean",
              "deprecated": true
            },
            "canDisableInheritedPermissions": {
              "description": "Output only. Whether a user can disable inherited permissions.",
              "type": "boolean",
              "readOnly": true
            },
            "canListChildren": {
              "type": "boolean",
              "description": "Output only. Whether the current user can list the children of this folder. This is always false when the item is not a folder."
            },
            "canAddChildren": {
              "description": "Output only. Whether the current user can add children to this folder. This is always false when the item is not a folder.",
              "type": "boolean"
            },
            "canRemoveMyDriveParent": {
              "type": "boolean",
              "description": "Output only. Whether the current user can remove a parent from the item without adding another parent in the same request. Not populated for shared drive files."
            },
            "canRename": {
              "description": "Output only. Whether the current user can rename this file.",
              "type": "boolean"
            },
            "canMoveChildrenOutOfTeamDrive": {
              "description": "Output only. Deprecated: Use `canMoveChildrenOutOfDrive` instead.",
              "deprecated": true,
              "type": "boolean"
            },
            "canRemoveChildren": {
              "description": "Output only. Whether the current user can remove children from this folder. This is always false when the item is not a folder. For a folder in a shared drive, use `canDeleteChildren` or `canTrashChildren` instead.",
              "type": "boolean"
            },
            "canMoveItemOutOfDrive": {
              "description": "Output only. Whether the current user can move this item outside of this drive by changing its parent. Note that a request to change the parent of the item may still fail depending on the new parent that is being added.",
              "type": "boolean"
            },
            "canDownload": {
              "description": "Output only. Whether the current user can download this file.",
              "type": "boolean"
            },
            "canReadDrive": {
              "type": "boolean",
              "description": "Output only. Whether the current user can read the shared drive to which this file belongs. Only populated for items in shared drives."
            },
            "canReadTeamDrive": {
              "deprecated": true,
              "description": "Output only. Deprecated: Use `canReadDrive` instead.",
              "type": "boolean"
            },
            "canChangeSecurityUpdateEnabled": {
              "description": "Output only. Whether the current user can change the securityUpdateEnabled field on link share metadata.",
              "type": "boolean"
            },
            "canModifyContent": {
              "description": "Output only. Whether the current user can modify the content of this file.",
              "type": "boolean"
            },
            "canMoveItemWithinDrive": {
              "type": "boolean",
              "description": "Output only. Whether the current user can move this item within this drive. Note that a request to change the parent of the item may still fail depending on the new parent that is being added and the parent that is being removed."
            },
            "canAcceptOwnership": {
              "description": "Output only. Whether the current user is the pending owner of the file. Not populated for shared drive files.",
              "type": "boolean"
            },
            "canChangeRestrictedDownload": {
              "type": "boolean",
              "deprecated": true,
              "description": "Output only. Deprecated."
            },
            "canEnableInheritedPermissions": {
              "type": "boolean",
              "readOnly": true,
              "description": "Output only. Whether a user can re-enable inherited permissions."
            },
            "canShare": {
              "type": "boolean",
              "description": "Output only. Whether the current user can modify the sharing settings for this file."
            },
            "canTrash": {
              "description": "Output only. Whether the current user can move this file to trash.",
              "type": "boolean"
            },
            "canMoveItemIntoTeamDrive": {
              "deprecated": true,
              "type": "boolean",
              "description": "Output only. Deprecated: Use `canMoveItemOutOfDrive` instead."
            },
            "canEdit": {
              "type": "boolean",
              "description": "Output only. Whether the current user can edit this file. Other factors may limit the type of changes a user can make to a file. For example, see `canChangeCopyRequiresWriterPermission` or `canModifyContent`."
            },
            "canRemoveContentRestriction": {
              "description": "Output only. Whether there is a content restriction on the file that can be removed by the current user.",
              "type": "boolean"
            },
            "canAddMyDriveParent": {
              "type": "boolean",
              "description": "Output only. Whether the current user can add a parent for the item without removing an existing parent in the same request. Not populated for shared drive files."
            },
            "canReadRevisions": {
              "description": "Output only. Whether the current user can read the revisions resource of this file. For a shared drive item, whether revisions of non-folder descendants of this item, or this item itself if it is not a folder, can be read.",
              "type": "boolean"
            },
            "canTrashChildren": {
              "type": "boolean",
              "description": "Output only. Whether the current user can trash children of this folder. This is false when the item is not a folder. Only populated for items in shared drives."
            },
            "canMoveChildrenOutOfDrive": {
              "description": "Output only. Whether the current user can move children of this folder outside of the shared drive. This is false when the item is not a folder. Only populated for items in shared drives.",
              "type": "boolean"
            },
            "canDelete": {
              "type": "boolean",
              "description": "Output only. Whether the current user can delete this file."
            },
            "canModifyLabels": {
              "type": "boolean",
              "description": "Output only. Whether the current user can modify the labels on the file."
            },
            "canCopy": {
              "type": "boolean",
              "description": "Output only. Whether the current user can copy this file. For an item in a shared drive, whether the current user can copy non-folder descendants of this item, or this item itself if it is not a folder."
            },
            "canChangeCopyRequiresWriterPermission": {
              "description": "Output only. Whether the current user can change the `copyRequiresWriterPermission` restriction of this file.",
              "type": "boolean"
            },
            "canUntrash": {
              "type": "boolean",
              "description": "Output only. Whether the current user can restore this file from trash."
            },
            "canReadLabels": {
              "type": "boolean",
              "description": "Output only. Whether the current user can read the labels on the file."
            },
            "canDeleteChildren": {
              "description": "Output only. Whether the current user can delete children of this folder. This is false when the item is not a folder. Only populated for items in shared drives.",
              "type": "boolean"
            },
            "canMoveTeamDriveItem": {
              "description": "Output only. Deprecated: Use `canMoveItemWithinDrive` or `canMoveItemOutOfDrive` instead.",
              "type": "boolean",
              "deprecated": true
            },
            "canMoveItemWithinTeamDrive": {
              "type": "boolean",
              "description": "Output only. Deprecated: Use `canMoveItemWithinDrive` instead.",
              "deprecated": true
            },
            "canModifyEditorContentRestriction": {
              "description": "Output only. Whether the current user can add or modify content restrictions on the file which are editor restricted.",
              "type": "boolean"
            }
          }
        },
        "embedLink": {
          "description": "Output only. A link for embedding the file.",
          "type": "string"
        },
        "trashedDate": {
          "format": "date-time",
          "type": "string",
          "description": "The time that the item was trashed (formatted RFC 3339 timestamp). Only populated for items in shared drives."
        },
        "teamDriveId": {
          "description": "Output only. Deprecated: Use `driveId` instead.",
          "type": "string",
          "deprecated": true
        },
        "copyable": {
          "deprecated": true,
          "description": "Output only. Deprecated: Use `capabilities/canCopy` instead.",
          "type": "boolean"
        },
        "quotaBytesUsed": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The number of quota bytes used by this file."
        },
        "lastViewedByMeDate": {
          "type": "string",
          "description": "Last time this file was viewed by the user (formatted RFC 3339 timestamp).",
          "format": "date-time"
        },
        "copyRequiresWriterPermission": {
          "type": "boolean",
          "description": "Whether the options to copy, print, or download this file, should be disabled for readers and commenters."
        },
        "lastModifyingUserName": {
          "description": "Output only. Name of the last user to modify this file.",
          "type": "string"
        },
        "permissionIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. List of permission IDs for users with access to this file."
        },
        "clientEncryptionDetails": {
          "description": "Client Side Encryption related details. Contains details about the encryption state of the file and details regarding the encryption mechanism that clients need to use when decrypting the contents of this item. This will only be present on files and not on folders or shortcuts.",
          "$ref": "ClientEncryptionDetails"
        },
        "isAppAuthorized": {
          "description": "Output only. Whether the file was created or opened by the requesting app.",
          "type": "boolean"
        },
        "webContentLink": {
          "type": "string",
          "description": "Output only. A link for downloading the content of the file in a browser using cookie based authentication. In cases where the content is shared publicly, the content can be downloaded without any credentials."
        },
        "sha1Checksum": {
          "type": "string",
          "description": "Output only. The SHA1 checksum associated with this file, if available. This field is only populated for files with content stored in Google Drive; it is not populated for Docs Editors or shortcut files."
        },
        "sharingUser": {
          "description": "Output only. User that shared the item with the current user, if available.",
          "$ref": "User"
        },
        "thumbnailLink": {
          "type": "string",
          "description": "Output only. A short-lived link to the file's thumbnail, if available. Typically lasts on the order of hours. Not intended for direct usage on web applications due to [Cross-Origin Resource Sharing (CORS)](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS), consider using a proxy server. Only populated when the requesting app can access the file's content. If the file isn't shared publicly, the URL returned in `Files.thumbnailLink` must be fetched using a credentialed request."
        },
        "appDataContents": {
          "description": "Output only. Whether this file is in the Application Data folder.",
          "type": "boolean"
        },
        "labelInfo": {
          "description": "Output only. An overview of the labels on the file.",
          "properties": {
            "labels": {
              "type": "array",
              "items": {
                "$ref": "Label"
              },
              "description": "Output only. The set of labels on the file as requested by the label IDs in the `includeLabels` parameter. By default, no labels are returned."
            }
          },
          "type": "object"
        },
        "lastModifyingUser": {
          "$ref": "User",
          "description": "Output only. The last user to modify this file. This field is only populated when the last modification was performed by a signed-in user."
        },
        "shortcutDetails": {
          "properties": {
            "targetMimeType": {
              "description": "Output only. The MIME type of the file that this shortcut points to. The value of this field is a snapshot of the target's MIME type, captured when the shortcut is created.",
              "type": "string"
            },
            "targetResourceKey": {
              "type": "string",
              "description": "Output only. The ResourceKey for the target file."
            },
            "targetId": {
              "description": "The ID of the file that this shortcut points to. Can only be set on `files.insert` requests.",
              "type": "string"
            }
          },
          "description": "Shortcut file details. Only populated for shortcut files, which have the mimeType field set to `application/vnd.google-apps.shortcut`. Can only be set on `files.insert` requests.",
          "type": "object"
        },
        "iconLink": {
          "description": "Output only. A link to the file's icon.",
          "type": "string"
        },
        "writersCanShare": {
          "type": "boolean",
          "description": "Whether writers can share the document with other users. Not populated for items in shared drives."
        },
        "permissions": {
          "type": "array",
          "description": "Output only. The list of permissions for users with access to this file. Not populated for items in shared drives.",
          "items": {
            "$ref": "Permission"
          }
        },
        "description": {
          "description": "A short description of the file.",
          "type": "string"
        },
        "hasThumbnail": {
          "type": "boolean",
          "description": "Output only. Whether this file has a thumbnail. This does not indicate whether the requesting app has access to the thumbnail. To check access, look for the presence of the thumbnailLink field."
        },
        "thumbnail": {
          "description": "A thumbnail for the file. This will only be used if a standard thumbnail cannot be generated.",
          "properties": {
            "image": {
              "format": "byte",
              "description": "The URL-safe Base64 encoded bytes of the thumbnail image. It should conform to RFC 4648 section 5.",
              "type": "string"
            },
            "mimeType": {
              "description": "The MIME type of the thumbnail.",
              "type": "string"
            }
          },
          "type": "object"
        },
        "id": {
          "type": "string",
          "description": "The ID of the file."
        },
        "hasAugmentedPermissions": {
          "description": "Output only. Whether there are permissions directly on this file. This field is only populated for items in shared drives.",
          "type": "boolean"
        },
        "properties": {
          "type": "array",
          "description": "The list of properties.",
          "items": {
            "$ref": "Property"
          }
        },
        "createdDate": {
          "description": "Create time for this file (formatted RFC 3339 timestamp).",
          "format": "date-time",
          "type": "string"
        },
        "imageMediaMetadata": {
          "properties": {
            "width": {
              "format": "int32",
              "description": "Output only. The width of the image in pixels.",
              "type": "integer"
            },
            "colorSpace": {
              "type": "string",
              "description": "Output only. The color space of the photo."
            },
            "cameraMake": {
              "description": "Output only. The make of the camera used to create the photo.",
              "type": "string"
            },
            "exposureBias": {
              "format": "float",
              "type": "number",
              "description": "Output only. The exposure bias of the photo (APEX value)."
            },
            "aperture": {
              "format": "float",
              "description": "Output only. The aperture used to create the photo (f-number).",
              "type": "number"
            },
            "whiteBalance": {
              "description": "Output only. The white balance mode used to create the photo.",
              "type": "string"
            },
            "meteringMode": {
              "description": "Output only. The metering mode used to create the photo.",
              "type": "string"
            },
            "cameraModel": {
              "description": "Output only. The model of the camera used to create the photo.",
              "type": "string"
            },
            "sensor": {
              "description": "Output only. The type of sensor used to create the photo.",
              "type": "string"
            },
            "rotation": {
              "type": "integer",
              "description": "Output only. The number of clockwise 90 degree rotations applied from the image's original orientation.",
              "format": "int32"
            },
            "maxApertureValue": {
              "format": "float",
              "type": "number",
              "description": "Output only. The smallest f-number of the lens at the focal length used to create the photo (APEX value)."
            },
            "exposureMode": {
              "description": "Output only. The exposure mode used to create the photo.",
              "type": "string"
            },
            "exposureTime": {
              "format": "float",
              "description": "Output only. The length of the exposure, in seconds.",
              "type": "number"
            },
            "focalLength": {
              "type": "number",
              "description": "Output only. The focal length used to create the photo, in millimeters.",
              "format": "float"
            },
            "date": {
              "description": "Output only. The date and time the photo was taken (EXIF format timestamp).",
              "type": "string"
            },
            "location": {
              "description": "Output only. Geographic location information stored in the image.",
              "properties": {
                "longitude": {
                  "format": "double",
                  "description": "Output only. The longitude stored in the image.",
                  "type": "number"
                },
                "latitude": {
                  "format": "double",
                  "type": "number",
                  "description": "Output only. The latitude stored in the image."
                },
                "altitude": {
                  "description": "Output only. The altitude stored in the image.",
                  "format": "double",
                  "type": "number"
                }
              },
              "type": "object"
            },
            "lens": {
              "description": "Output only. The lens used to create the photo.",
              "type": "string"
            },
            "subjectDistance": {
              "description": "Output only. The distance to the subject of the photo, in meters.",
              "format": "int32",
              "type": "integer"
            },
            "flashUsed": {
              "description": "Output only. Whether a flash was used to create the photo.",
              "type": "boolean"
            },
            "height": {
              "type": "integer",
              "description": "Output only. The height of the image in pixels.",
              "format": "int32"
            },
            "isoSpeed": {
              "type": "integer",
              "format": "int32",
              "description": "Output only. The ISO speed used to create the photo."
            }
          },
          "description": "Output only. Metadata about image media. This will only be present for image types, and its contents will depend on what can be parsed from the image content.",
          "type": "object"
        },
        "title": {
          "type": "string",
          "description": "The title of this file. Note that for immutable items such as the top level folders of shared drives, My Drive root folder, and Application Data folder the title is constant."
        },
        "thumbnailVersion": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The thumbnail version for use in thumbnail cache invalidation."
        },
        "modifiedDate": {
          "format": "date-time",
          "type": "string",
          "description": "Last time this file was modified by anyone (formatted RFC 3339 timestamp). This is only mutable on update when the setModifiedDate parameter is set."
        },
        "ownedByMe": {
          "type": "boolean",
          "description": "Output only. Whether the file is owned by the current user. Not populated for items in shared drives."
        },
        "fullFileExtension": {
          "type": "string",
          "description": "Output only. The full file extension; extracted from the title. May contain multiple concatenated extensions, such as \"tar.gz\". Removing an extension from the title does not clear this field; however, changing the extension on the title does update this field. This field is only populated for files with content stored in Google Drive; it is not populated for Docs Editors or shortcut files."
        },
        "spaces": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. The list of spaces which contain the file. Supported values are `drive`, `appDataFolder` and `photos`."
        },
        "canComment": {
          "description": "Output only. Deprecated: Use `capabilities/canComment` instead.",
          "deprecated": true,
          "type": "boolean"
        },
        "resourceKey": {
          "type": "string",
          "description": "Output only. A key needed to access the item via a shared link."
        },
        "md5Checksum": {
          "type": "string",
          "description": "Output only. An MD5 checksum for the content of this file. This field is only populated for files with content stored in Google Drive; it is not populated for Docs Editors or shortcut files."
        },
        "markedViewedByMeDate": {
          "format": "date-time",
          "type": "string",
          "description": "Deprecated."
        },
        "labels": {
          "description": "A group of labels for the file.",
          "type": "object",
          "properties": {
            "starred": {
              "description": "Whether this file is starred by the user.",
              "type": "boolean"
            },
            "hidden": {
              "type": "boolean",
              "deprecated": true,
              "description": "Output only. Deprecated."
            },
            "viewed": {
              "type": "boolean",
              "description": "Whether this file has been viewed by this user."
            },
            "modified": {
              "description": "Output only. Whether the file has been modified by this user.",
              "type": "boolean"
            },
            "trashed": {
              "description": "Whether this file has been trashed. This label applies to all users accessing the file; however, only owners are allowed to see and untrash files.",
              "type": "boolean"
            },
            "restricted": {
              "deprecated": true,
              "type": "boolean",
              "description": "Output only. Deprecated: Use `copyRequiresWriterPermission` instead."
            }
          }
        },
        "inheritedPermissionsDisabled": {
          "description": "Whether this file has inherited permissions disabled. Inherited permissions are enabled by default.",
          "type": "boolean"
        },
        "folderColorRgb": {
          "description": "Folder color as an RGB hex string if the file is a folder or a shortcut to a folder. The list of supported colors is available in the folderColorPalette field of the About resource. If an unsupported color is specified, it will be changed to the closest color in the palette.",
          "type": "string"
        },
        "mimeType": {
          "type": "string",
          "description": "The MIME type of the file. This is only mutable on update when uploading new content. This field can be left blank, and the mimetype will be determined from the uploaded content's MIME type."
        },
        "explicitlyTrashed": {
          "type": "boolean",
          "description": "Output only. Whether this file has been explicitly trashed, as opposed to recursively trashed."
        },
        "contentRestrictions": {
          "type": "array",
          "items": {
            "$ref": "ContentRestriction"
          },
          "description": "Restrictions for accessing the content of the file. Only populated if such a restriction exists."
        },
        "driveId": {
          "description": "Output only. ID of the shared drive the file resides in. Only populated for items in shared drives.",
          "type": "string"
        },
        "parents": {
          "items": {
            "$ref": "ParentReference"
          },
          "type": "array",
          "description": "The ID of the parent folder containing the file. A file can only have one parent folder; specifying multiple parents isn't supported. If not specified as part of an insert request, the file is placed directly in the user's My Drive folder. If not specified as part of a copy request, the file inherits any discoverable parent of the source file. Update requests must use the `addParents` and `removeParents` parameters to modify the parents list."
        },
        "indexableText": {
          "description": "Indexable text attributes for the file (can only be written)",
          "type": "object",
          "properties": {
            "text": {
              "description": "The text to be indexed for this file.",
              "type": "string"
            }
          }
        },
        "ownerNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Name(s) of the owner(s) of this file. Not populated for items in shared drives."
        },
        "editable": {
          "deprecated": true,
          "type": "boolean",
          "description": "Output only. Deprecated: Use `capabilities/canEdit` instead."
        },
        "webViewLink": {
          "description": "Output only. A link only available on public folders for viewing their static web assets (HTML, CSS, JS, etc) via Google Drive's Website Hosting.",
          "type": "string"
        },
        "owners": {
          "description": "Output only. The owner of this file. Only certain legacy files may have more than one owner. This field isn't populated for items in shared drives.",
          "type": "array",
          "items": {
            "$ref": "User"
          }
        },
        "sha256Checksum": {
          "type": "string",
          "description": "Output only. The SHA256 checksum associated with this file, if available. This field is only populated for files with content stored in Google Drive; it is not populated for Docs Editors or shortcut files."
        },
        "version": {
          "description": "Output only. A monotonically increasing version number for the file. This reflects every change made to the file on the server, even those not visible to the requesting user.",
          "format": "int64",
          "type": "string"
        },
        "selfLink": {
          "description": "Output only. A link back to this file.",
          "type": "string"
        },
        "shareable": {
          "type": "boolean",
          "deprecated": true,
          "description": "Output only. Deprecated: Use `capabilities/canShare` instead."
        },
        "originalFilename": {
          "type": "string",
          "description": "The original filename of the uploaded content if available, or else the original value of the `title` field. This is only available for files with binary content in Google Drive."
        },
        "openWithLinks": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. A map of the id of each of the user's apps to a link to open this file with that app. Only populated when the drive.apps.readonly scope is used."
        },
        "trashingUser": {
          "$ref": "User",
          "description": "Output only. If the file has been explicitly trashed, the user who trashed it. Only populated for items in shared drives."
        },
        "canReadRevisions": {
          "deprecated": true,
          "type": "boolean",
          "description": "Output only. Deprecated: Use `capabilities/canReadRevisions` instead."
        },
        "shared": {
          "type": "boolean",
          "description": "Output only. Whether the file has been shared. Not populated for items in shared drives."
        },
        "sharedWithMeDate": {
          "format": "date-time",
          "type": "string",
          "description": "Time at which this file was shared with the user (formatted RFC 3339 timestamp)."
        },
        "userPermission": {
          "$ref": "Permission",
          "description": "Output only. The permissions for the authenticated user on this file."
        }
      },
      "description": "The metadata for a file. Some resource methods (such as `files.update`) require a `fileId`. Use the `files.list` method to retrieve the ID for a file."
    },
    "About": {
      "type": "object",
      "properties": {
        "domainSharingPolicy": {
          "description": "Deprecated: Does not granularly represent allowlisted domains or Trust Rules. The domain sharing policy for the current user. Possible values are: * `allowed` * `allowedWithWarning` * `incomingOnly` * `disallowed` Note that if the user is enrolled in Trust Rules, `disallowed` will always be returned. If sharing is restricted to allowlisted domains, either `incomingOnly` or `allowedWithWarning` will be returned, depending on whether receiving files from outside the allowlisted domains is permitted.",
          "deprecated": true,
          "type": "string"
        },
        "remainingChangeIds": {
          "description": "The number of remaining change ids, limited to no more than 2500.",
          "format": "int64",
          "type": "string"
        },
        "selfLink": {
          "type": "string",
          "description": "A link back to this item."
        },
        "quotaBytesUsedAggregate": {
          "description": "The number of quota bytes used by all Google apps (Drive, Picasa, etc.).",
          "format": "int64",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "The ETag of the item."
        },
        "additionalRoleInfo": {
          "description": "Information about supported additional roles per file type. The most specific type takes precedence.",
          "items": {
            "properties": {
              "roleSets": {
                "description": "The supported additional roles per primary role.",
                "items": {
                  "type": "object",
                  "properties": {
                    "primaryRole": {
                      "description": "A primary permission role.",
                      "type": "string"
                    },
                    "additionalRoles": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The supported additional roles with the primary role."
                    }
                  }
                },
                "type": "array"
              },
              "type": {
                "description": "The content type that this additional role info applies to.",
                "type": "string"
              }
            },
            "type": "object"
          },
          "type": "array"
        },
        "canCreateTeamDrives": {
          "deprecated": true,
          "description": "Deprecated: Use `canCreateDrives` instead.",
          "type": "boolean"
        },
        "quotaBytesUsed": {
          "format": "int64",
          "description": "The number of quota bytes used by Google Drive.",
          "type": "string"
        },
        "isCurrentAppInstalled": {
          "description": "A boolean indicating whether the authenticated app is installed by the authenticated user.",
          "type": "boolean"
        },
        "permissionId": {
          "type": "string",
          "description": "The current user's ID as visible in the permissions collection."
        },
        "rootFolderId": {
          "description": "The id of the root folder.",
          "type": "string"
        },
        "quotaBytesTotal": {
          "description": "The total number of quota bytes. This is only relevant when quotaType is LIMITED.",
          "format": "int64",
          "type": "string"
        },
        "kind": {
          "description": "This is always `drive#about`.",
          "type": "string",
          "default": "drive#about"
        },
        "largestChangeId": {
          "type": "string",
          "description": "The largest change id.",
          "format": "int64"
        },
        "quotaType": {
          "type": "string",
          "description": "The type of the user's storage quota. Possible values are: * `LIMITED` * `UNLIMITED`"
        },
        "features": {
          "description": "List of additional features enabled on this account.",
          "items": {
            "type": "object",
            "properties": {
              "featureName": {
                "description": "The name of the feature.",
                "type": "string"
              },
              "featureRate": {
                "format": "double",
                "description": "The request limit rate for this feature, in queries per second.",
                "type": "number"
              }
            }
          },
          "type": "array"
        },
        "languageCode": {
          "description": "The user's language or locale code, as defined by BCP 47, with some extensions from Unicode's LDML format (http://www.unicode.org/reports/tr35/).",
          "type": "string"
        },
        "user": {
          "$ref": "User",
          "description": "The authenticated user."
        },
        "importFormats": {
          "type": "array",
          "items": {
            "properties": {
              "targets": {
                "items": {
                  "type": "string"
                },
                "description": "The possible content types to convert to.",
                "type": "array"
              },
              "source": {
                "description": "The imported file's content type to convert from.",
                "type": "string"
              }
            },
            "type": "object"
          },
          "description": "The allowable import formats."
        },
        "quotaBytesUsedInTrash": {
          "format": "int64",
          "type": "string",
          "description": "The number of quota bytes used by trashed items."
        },
        "name": {
          "description": "The name of the current user.",
          "type": "string"
        },
        "maxUploadSizes": {
          "type": "array",
          "items": {
            "properties": {
              "type": {
                "type": "string",
                "description": "The file type."
              },
              "size": {
                "format": "int64",
                "description": "The max upload size for this type.",
                "type": "string"
              }
            },
            "type": "object"
          },
          "description": "List of max upload sizes for each file type. The most specific type takes precedence."
        },
        "canCreateDrives": {
          "description": "Whether the user can create shared drives.",
          "type": "boolean"
        },
        "teamDriveThemes": {
          "items": {
            "properties": {
              "backgroundImageLink": {
                "deprecated": true,
                "type": "string",
                "description": "Deprecated: Use `driveThemes/backgroundImageLink` instead."
              },
              "colorRgb": {
                "deprecated": true,
                "description": "Deprecated: Use `driveThemes/colorRgb` instead.",
                "type": "string"
              },
              "id": {
                "description": "Deprecated: Use `driveThemes/id` instead.",
                "deprecated": true,
                "type": "string"
              }
            },
            "type": "object"
          },
          "deprecated": true,
          "description": "Deprecated: Use `driveThemes` instead.",
          "type": "array"
        },
        "quotaBytesByService": {
          "type": "array",
          "description": "The amount of storage quota used by different Google services.",
          "items": {
            "properties": {
              "serviceName": {
                "description": "The service's name, e.g. DRIVE, GMAIL, or PHOTOS.",
                "type": "string"
              },
              "bytesUsed": {
                "description": "The storage quota bytes used by the service.",
                "type": "string",
                "format": "int64"
              }
            },
            "type": "object"
          }
        },
        "folderColorPalette": {
          "description": "The palette of allowable folder colors as RGB hex strings.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "driveThemes": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "colorRgb": {
                "description": "The color of this theme as an RGB hex string.",
                "type": "string"
              },
              "backgroundImageLink": {
                "description": "A link to this theme's background image.",
                "type": "string"
              },
              "id": {
                "description": "The ID of the theme.",
                "type": "string"
              }
            }
          },
          "description": "A list of themes that are supported for shared drives."
        },
        "exportFormats": {
          "description": "The allowable export formats.",
          "type": "array",
          "items": {
            "properties": {
              "source": {
                "description": "The content type to convert from.",
                "type": "string"
              },
              "targets": {
                "items": {
                  "type": "string"
                },
                "description": "The possible content types to convert to.",
                "type": "array"
              }
            },
            "type": "object"
          }
        }
      },
      "id": "About",
      "description": "An item with user information and settings."
    },
    "ModifyLabelsResponse": {
      "type": "object",
      "id": "ModifyLabelsResponse",
      "properties": {
        "modifiedLabels": {
          "type": "array",
          "description": "The list of labels which were added or updated by the request.",
          "items": {
            "$ref": "Label"
          }
        },
        "kind": {
          "default": "drive#modifyLabelsResponse",
          "description": "This is always `drive#modifyLabelsResponse`",
          "type": "string"
        }
      },
      "description": "Response to a ModifyLabels request. This contains only those labels which were added or updated by the request."
    },
    "PropertyList": {
      "id": "PropertyList",
      "properties": {
        "selfLink": {
          "description": "The link back to this list.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "The ETag of the list."
        },
        "items": {
          "description": "The list of properties.",
          "type": "array",
          "items": {
            "$ref": "Property"
          }
        },
        "kind": {
          "default": "drive#propertyList",
          "description": "This is always `drive#propertyList`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A collection of properties, key-value pairs that are either public or private to an application."
    },
    "PermissionList": {
      "type": "object",
      "description": "A list of permissions associated with a file.",
      "id": "PermissionList",
      "properties": {
        "selfLink": {
          "type": "string",
          "description": "A link back to this list."
        },
        "items": {
          "type": "array",
          "description": "The list of permissions.",
          "items": {
            "$ref": "Permission"
          }
        },
        "kind": {
          "type": "string",
          "description": "This is always `drive#permissionList`.",
          "default": "drive#permissionList"
        },
        "etag": {
          "description": "The ETag of the list.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The page token for the next page of permissions. This field will be absent if the end of the permissions list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results."
        }
      }
    },
    "Permission": {
      "description": "A permission for a file. A permission grants a user, group, domain, or the world access to a file or a folder hierarchy. Some resource methods (such as `permissions.update`) require a `permissionId`. Use the `permissions.list` method to retrieve the ID for a file, folder, or shared drive.",
      "type": "object",
      "id": "Permission",
      "properties": {
        "domain": {
          "description": "Output only. The domain name of the entity this permission refers to. This is an output-only field which is present when the permission type is `user`, `group` or `domain`.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "annotations": {
            "required": [
              "drive.permissions.insert"
            ]
          },
          "description": "The account type. Allowed values are: * `user` * `group` * `domain` * `anyone`"
        },
        "role": {
          "description": "The primary role for this user. While new values may be supported in the future, the following are currently allowed: * `owner` * `organizer` * `fileOrganizer` * `writer` * `reader`",
          "type": "string",
          "annotations": {
            "required": [
              "drive.permissions.insert"
            ]
          }
        },
        "value": {
          "description": "The email address or domain name for the entity. This is used during inserts and is not populated in responses. When making a `drive.permissions.insert` request, exactly one of the `id` or `value` fields must be specified unless the permission type is `anyone`, in which case both `id` and `value` are ignored.",
          "type": "string"
        },
        "selfLink": {
          "description": "Output only. A link back to this permission.",
          "type": "string"
        },
        "photoLink": {
          "type": "string",
          "description": "Output only. A link to the profile photo, if available."
        },
        "view": {
          "type": "string",
          "description": "Indicates the view for this permission. Only populated for permissions that belong to a view. published and metadata are the only supported values. - published: The permission's role is published_reader. - metadata: The item is only visible to the metadata view because the item has limited access and the scope has at least read access to the parent. Note: The metadata view is currently only supported on folders. "
        },
        "etag": {
          "type": "string",
          "description": "Output only. The ETag of the permission."
        },
        "emailAddress": {
          "description": "Output only. The email address of the user or group this permission refers to. This is an output-only field which is present when the permission type is `user` or `group`.",
          "type": "string"
        },
        "id": {
          "description": "The ID of the user this permission refers to, and identical to the `permissionId` in the About and Files resources. When making a `drive.permissions.insert` request, exactly one of the `id` or `value` fields must be specified unless the permission type is `anyone`, in which case both `id` and `value` are ignored.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. The name for this permission."
        },
        "deleted": {
          "type": "boolean",
          "description": "Output only. Whether the account associated with this permission has been deleted. This field only pertains to user and group permissions."
        },
        "pendingOwner": {
          "description": "Whether the account associated with this permission is a pending owner. Only populated for `user` type permissions for files that are not in a shared drive.",
          "type": "boolean"
        },
        "withLink": {
          "type": "boolean",
          "description": "Whether the link is required for this permission."
        },
        "teamDrivePermissionDetails": {
          "deprecated": true,
          "type": "array",
          "items": {
            "properties": {
              "role": {
                "description": "Output only. Deprecated: Use `permissionDetails/role` instead.",
                "type": "string",
                "deprecated": true
              },
              "additionalRoles": {
                "type": "array",
                "deprecated": true,
                "items": {
                  "type": "string"
                },
                "description": "Output only. Deprecated: Use `permissionDetails/additionalRoles` instead."
              },
              "teamDrivePermissionType": {
                "type": "string",
                "deprecated": true,
                "description": "Output only. Deprecated: Use `permissionDetails/permissionType` instead."
              },
              "inheritedFrom": {
                "deprecated": true,
                "type": "string",
                "description": "Output only. Deprecated: Use `permissionDetails/inheritedFrom` instead."
              },
              "inherited": {
                "deprecated": true,
                "description": "Output only. Deprecated: Use `permissionDetails/inherited` instead.",
                "type": "boolean"
              }
            },
            "type": "object"
          },
          "readOnly": true,
          "description": "Output only. Deprecated: Use `permissionDetails` instead."
        },
        "expirationDate": {
          "type": "string",
          "format": "date-time",
          "description": "The time at which this permission will expire (RFC 3339 date-time). Expiration dates have the following restrictions: - They can only be set on user and group permissions - The date must be in the future - The date cannot be more than a year in the future - The date can only be set on drive.permissions.update or drive.permissions.patch requests"
        },
        "permissionDetails": {
          "type": "array",
          "description": "Output only. Details of whether the permissions on this item are inherited or directly on this item.",
          "items": {
            "properties": {
              "inherited": {
                "description": "Output only. Whether this permission is inherited. This field is always populated.",
                "type": "boolean"
              },
              "permissionType": {
                "description": "Output only. The permission type for this user. While new values may be added in future, the following are currently possible: * `file` * `member`",
                "type": "string"
              },
              "inheritedFrom": {
                "type": "string",
                "description": "Output only. The ID of the item from which this permission is inherited. This is only populated for items in shared drives."
              },
              "additionalRoles": {
                "items": {
                  "type": "string"
                },
                "type": "array",
                "description": "Output only. Additional roles for this user. Only `commenter` is currently possible, though more may be supported in the future."
              },
              "role": {
                "description": "Output only. The primary role for this user. While new values may be added in the future, the following are currently possible: * `organizer` * `fileOrganizer` * `writer` * `reader`",
                "type": "string"
              }
            },
            "type": "object"
          },
          "readOnly": true
        },
        "inheritedPermissionsDisabled": {
          "description": "When true, only organizers, owners, and users with permissions added directly on the item can access it.",
          "type": "boolean"
        },
        "authKey": {
          "deprecated": true,
          "type": "string",
          "description": "Output only. Deprecated."
        },
        "kind": {
          "description": "Output only. This is always `drive#permission`.",
          "type": "string",
          "default": "drive#permission"
        },
        "additionalRoles": {
          "description": "Additional roles for this user. Only `commenter` is currently allowed, though more may be supported in the future.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Revision": {
      "type": "object",
      "id": "Revision",
      "properties": {
        "published": {
          "type": "boolean",
          "description": "Whether this revision is published. This is only populated and can only be modified for Docs Editors files."
        },
        "id": {
          "type": "string",
          "description": "Output only. The ID of the revision."
        },
        "exportLinks": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Output only. Links for exporting Docs Editors files to specific formats."
        },
        "md5Checksum": {
          "description": "Output only. An MD5 checksum for the content of this revision. This will only be populated on files with content stored in Drive.",
          "type": "string"
        },
        "lastModifyingUser": {
          "description": "Output only. The last user to modify this revision. This field is only populated when the last modification was performed by a signed-in user.",
          "$ref": "User"
        },
        "selfLink": {
          "type": "string",
          "description": "Output only. A link back to this revision."
        },
        "etag": {
          "type": "string",
          "description": "Output only. The ETag of the revision."
        },
        "pinned": {
          "type": "boolean",
          "description": "Whether this revision is pinned to prevent automatic purging. If not set, the revision is automatically purged 30 days after newer content is uploaded. This field can only be modified on files with content stored in Drive, excluding Docs Editors files. Revisions can also be pinned when they are created through the drive.files.insert/update/copy by using the pinned query parameter. Pinned revisions are stored indefinitely using additional storage quota, up to a maximum of 200 revisions."
        },
        "publishedOutsideDomain": {
          "type": "boolean",
          "description": "Whether this revision is published outside the domain. This is only populated and can only be modified for Docs Editors files."
        },
        "mimeType": {
          "type": "string",
          "description": "Output only. The MIME type of the revision."
        },
        "downloadUrl": {
          "type": "string",
          "description": "Output only. Short term download URL for the file. This will only be populated on files with content stored in Drive."
        },
        "modifiedDate": {
          "format": "date-time",
          "description": "Last time this revision was modified (formatted RFC 3339 timestamp).",
          "type": "string"
        },
        "originalFilename": {
          "type": "string",
          "description": "Output only. The original filename when this revision was created. This will only be populated on files with content stored in Drive."
        },
        "fileSize": {
          "format": "int64",
          "type": "string",
          "description": "Output only. The size of the revision in bytes. This will only be populated on files with content stored in Drive."
        },
        "publishAuto": {
          "type": "boolean",
          "description": "Whether subsequent revisions will be automatically republished. This is only populated and can only be modified for Docs Editors files."
        },
        "lastModifyingUserName": {
          "description": "Output only. Name of the last user to modify this revision.",
          "type": "string"
        },
        "publishedLink": {
          "type": "string",
          "description": "Output only. A link to the published revision. This is only populated for Docs Editors files."
        },
        "kind": {
          "description": "Output only. This is always `drive#revision`.",
          "type": "string",
          "default": "drive#revision"
        }
      },
      "description": "A revision of a file. Some resource methods (such as `revisions.update`) require a `revisionId`. Use the `revisions.list` method to retrieve the ID for a revision."
    },
    "LabelList": {
      "type": "object",
      "id": "LabelList",
      "description": "A list of labels applied to a file.",
      "properties": {
        "nextPageToken": {
          "description": "The page token for the next page of labels. This field will be absent if the end of the list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        },
        "kind": {
          "default": "drive#labelList",
          "description": "This is always `drive#labelList`",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Label"
          },
          "description": "The list of labels."
        }
      }
    },
    "ModifyLabelsRequest": {
      "id": "ModifyLabelsRequest",
      "type": "object",
      "properties": {
        "labelModifications": {
          "type": "array",
          "description": "The list of modifications to apply to the labels on the file.",
          "items": {
            "$ref": "LabelModification"
          }
        },
        "kind": {
          "description": "This is always `drive#modifyLabelsRequest`.",
          "default": "drive#modifyLabelsRequest",
          "type": "string"
        }
      },
      "description": "A request to modify the set of labels on a file. This request may contain many modifications that will either all succeed or all fail atomically."
    },
    "TeamDrive": {
      "type": "object",
      "description": "Deprecated: Use the `drive` collection instead.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID of this Team Drive which is also the ID of the top level folder of this Team Drive."
        },
        "backgroundImageFile": {
          "properties": {
            "id": {
              "description": "The ID of an image file in Drive to use for the background image.",
              "type": "string"
            },
            "yCoordinate": {
              "type": "number",
              "description": "The Y coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the vertical distance from the top side of the entire image to the top side of the cropping area divided by the height of the entire image.",
              "format": "float"
            },
            "xCoordinate": {
              "format": "float",
              "description": "The X coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the horizontal distance from the left side of the entire image to the left side of the cropping area divided by the width of the entire image.",
              "type": "number"
            },
            "width": {
              "type": "number",
              "format": "float",
              "description": "The width of the cropped image in the closed range of 0 to 1. This value represents the width of the cropped image divided by the width of the entire image. The height is computed by applying a width to height aspect ratio of 80 to 9. The resulting image must be at least 1280 pixels wide and 144 pixels high."
            }
          },
          "type": "object",
          "description": "An image file and cropping parameters from which a background image for this Team Drive is set. This is a write only field; it can only be set on `drive.teamdrives.update` requests that don't set `themeId`. When specified, all fields of the `backgroundImageFile` must be set."
        },
        "capabilities": {
          "description": "Capabilities the current user has on this Team Drive.",
          "properties": {
            "canCopy": {
              "type": "boolean",
              "description": "Whether the current user can copy files in this Team Drive."
            },
            "canChangeDomainUsersOnlyRestriction": {
              "description": "Whether the current user can change the `domainUsersOnly` restriction of this Team Drive.",
              "type": "boolean"
            },
            "canComment": {
              "description": "Whether the current user can comment on files in this Team Drive.",
              "type": "boolean"
            },
            "canManageMembers": {
              "description": "Whether the current user can add members to this Team Drive or remove them or change their role.",
              "type": "boolean"
            },
            "canResetTeamDriveRestrictions": {
              "description": "Whether the current user can reset the Team Drive restrictions to defaults.",
              "type": "boolean"
            },
            "canListChildren": {
              "type": "boolean",
              "description": "Whether the current user can list the children of folders in this Team Drive."
            },
            "canShare": {
              "type": "boolean",
              "description": "Whether the current user can share files or folders in this Team Drive."
            },
            "canDeleteTeamDrive": {
              "type": "boolean",
              "description": "Whether the current user can delete this Team Drive. Attempting to delete the Team Drive may still fail if there are untrashed items inside the Team Drive."
            },
            "canRename": {
              "description": "Whether the current user can rename files or folders in this Team Drive.",
              "type": "boolean"
            },
            "canChangeTeamDriveBackground": {
              "description": "Whether the current user can change the background of this Team Drive.",
              "type": "boolean"
            },
            "canRemoveChildren": {
              "description": "Deprecated: Use `canDeleteChildren` or `canTrashChildren` instead.",
              "type": "boolean",
              "deprecated": true
            },
            "canChangeTeamMembersOnlyRestriction": {
              "description": "Whether the current user can change the `teamMembersOnly` restriction of this Team Drive.",
              "type": "boolean"
            },
            "canDeleteChildren": {
              "type": "boolean",
              "description": "Whether the current user can delete children from folders in this Team Drive."
            },
            "canDownload": {
              "description": "Whether the current user can download files in this Team Drive.",
              "type": "boolean"
            },
            "canRenameTeamDrive": {
              "description": "Whether the current user can rename this Team Drive.",
              "type": "boolean"
            },
            "canEdit": {
              "description": "Whether the current user can edit files in this Team Drive",
              "type": "boolean"
            },
            "canAddChildren": {
              "description": "Whether the current user can add children to folders in this Team Drive.",
              "type": "boolean"
            },
            "canTrashChildren": {
              "type": "boolean",
              "description": "Whether the current user can trash children from folders in this Team Drive."
            },
            "canChangeCopyRequiresWriterPermissionRestriction": {
              "type": "boolean",
              "description": "Whether the current user can change the `copyRequiresWriterPermission` restriction of this Team Drive."
            },
            "canReadRevisions": {
              "type": "boolean",
              "description": "Whether the current user can read the revisions resource of files in this Team Drive."
            },
            "canChangeSharingFoldersRequiresOrganizerPermissionRestriction": {
              "type": "boolean",
              "description": "Whether the current user can change the `sharingFoldersRequiresOrganizerPermission` restriction of this Team Drive."
            }
          },
          "type": "object"
        },
        "colorRgb": {
          "type": "string",
          "description": "The color of this Team Drive as an RGB hex string. It can only be set on a `drive.teamdrives.update` request that does not set `themeId`."
        },
        "kind": {
          "type": "string",
          "description": "This is always `drive#teamDrive`",
          "default": "drive#teamDrive"
        },
        "name": {
          "type": "string",
          "description": "The name of this Team Drive.",
          "annotations": {
            "required": [
              "drive.teamdrives.insert"
            ]
          }
        },
        "orgUnitId": {
          "description": "The organizational unit of this shared drive. This field is only populated on `drives.list` responses when the `useDomainAdminAccess` parameter is set to `true`.",
          "type": "string"
        },
        "createdDate": {
          "format": "date-time",
          "description": "The time at which the Team Drive was created (RFC 3339 date-time).",
          "type": "string"
        },
        "themeId": {
          "description": "The ID of the theme from which the background image and color will be set. The set of possible `teamDriveThemes` can be retrieved from a `drive.about.get` response. When not specified on a `drive.teamdrives.insert` request, a random theme is chosen from which the background image and color are set. This is a write-only field; it can only be set on requests that don't set `colorRgb` or `backgroundImageFile`.",
          "type": "string"
        },
        "restrictions": {
          "type": "object",
          "description": "A set of restrictions that apply to this Team Drive or items inside this Team Drive.",
          "properties": {
            "domainUsersOnly": {
              "description": "Whether access to this Team Drive and items inside this Team Drive is restricted to users of the domain to which this Team Drive belongs. This restriction may be overridden by other sharing policies controlled outside of this Team Drive.",
              "type": "boolean"
            },
            "teamMembersOnly": {
              "type": "boolean",
              "description": "Whether access to items inside this Team Drive is restricted to members of this Team Drive."
            },
            "adminManagedRestrictions": {
              "type": "boolean",
              "description": "Whether administrative privileges on this Team Drive are required to modify restrictions."
            },
            "sharingFoldersRequiresOrganizerPermission": {
              "description": "If true, only users with the organizer role can share folders. If false, users with either the organizer role or the file organizer role can share folders.",
              "type": "boolean"
            },
            "copyRequiresWriterPermission": {
              "type": "boolean",
              "description": "Whether the options to copy, print, or download files inside this Team Drive, should be disabled for readers and commenters. When this restriction is set to `true`, it will override the similarly named field to `true` for any file inside this Team Drive."
            }
          }
        },
        "backgroundImageLink": {
          "type": "string",
          "description": "A short-lived link to this Team Drive's background image."
        }
      },
      "id": "TeamDrive"
    },
    "ChildReference": {
      "description": "A reference to a folder's child. Some resource methods (such as `children.get`) require a `childId`. Use the `children.list` method to retrieve the ID of the child.",
      "id": "ChildReference",
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID of the child.",
          "annotations": {
            "required": [
              "drive.children.insert"
            ]
          }
        },
        "kind": {
          "default": "drive#childReference",
          "type": "string",
          "description": "Output only. This is always `drive#childReference`."
        },
        "selfLink": {
          "description": "Output only. A link back to this reference.",
          "type": "string"
        },
        "childLink": {
          "description": "Output only. A link to the child.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "LabelFieldModification": {
      "id": "LabelFieldModification",
      "description": "A modification to a label's field.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "This is always `drive#labelFieldModification`.",
          "type": "string",
          "default": "drive#labelFieldModification"
        },
        "fieldId": {
          "description": "The ID of the field to be modified.",
          "type": "string"
        },
        "setIntegerValues": {
          "description": "Replaces the value of an `integer` field with these new values.",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        },
        "setTextValues": {
          "items": {
            "type": "string"
          },
          "description": "Sets the value of a `text` field.",
          "type": "array"
        },
        "unsetValues": {
          "description": "Unsets the values for this field.",
          "type": "boolean"
        },
        "setSelectionValues": {
          "type": "array",
          "description": "Replaces a `selection` field with these new values.",
          "items": {
            "type": "string"
          }
        },
        "setUserValues": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Replaces a `user` field with these new values. The values must be valid email addresses."
        },
        "setDateValues": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "date"
          },
          "description": "Replaces the value of a dateString Field with these new values. The string must be in the RFC 3339 full-date format: YYYY-MM-DD."
        }
      }
    },
    "GenerateCseTokenResponse": {
      "id": "GenerateCseTokenResponse",
      "description": "JWT and associated metadata used to generate CSE files.",
      "properties": {
        "fileId": {
          "description": "The fileId for which the JWT was generated.",
          "type": "string"
        },
        "kind": {
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#generateCseTokenResponse\"`.",
          "type": "string"
        },
        "currentKaclsId": {
          "type": "string",
          "description": "The current Key ACL Service (KACLS) ID associated with the JWT.",
          "format": "int64"
        },
        "currentKaclsName": {
          "description": "Name of the KACLs that the returned KACLs ID points to.",
          "type": "string"
        },
        "jwt": {
          "description": "The signed JSON Web Token (JWT) for the file.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "LabelField": {
      "type": "object",
      "id": "LabelField",
      "description": "Representation of field, which is a typed key-value pair.",
      "properties": {
        "kind": {
          "description": "This is always `drive#labelField`.",
          "default": "drive#labelField",
          "type": "string"
        },
        "id": {
          "description": "The identifier of this label field.",
          "type": "string"
        },
        "valueType": {
          "type": "string",
          "description": "The field type. While new values may be supported in the future, the following are currently allowed: * `dateString` * `integer` * `selection` * `text` * `user`"
        },
        "user": {
          "type": "array",
          "items": {
            "$ref": "User"
          },
          "description": "Only present if `valueType` is `user`."
        },
        "dateString": {
          "items": {
            "type": "string",
            "format": "date"
          },
          "description": "Only present if valueType is dateString. RFC 3339 formatted date: YYYY-MM-DD.",
          "type": "array"
        },
        "text": {
          "description": "Only present if `valueType` is `text`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "selection": {
          "items": {
            "type": "string"
          },
          "description": "Only present if `valueType` is `selection`",
          "type": "array"
        },
        "integer": {
          "description": "Only present if `valueType` is `integer`.",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        }
      }
    },
    "PermissionId": {
      "properties": {
        "kind": {
          "default": "drive#permissionId",
          "description": "This is always `drive#permissionId`.",
          "type": "string"
        },
        "id": {
          "description": "The permission ID.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "PermissionId",
      "description": "An ID for a user or group as seen in Permission items."
    },
    "CommentReplyList": {
      "properties": {
        "items": {
          "items": {
            "$ref": "CommentReply"
          },
          "description": "The list of replies. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "type": "array"
        },
        "kind": {
          "description": "This is always `drive#commentReplyList`.",
          "default": "drive#commentReplyList",
          "type": "string"
        },
        "selfLink": {
          "description": "A link back to this list.",
          "type": "string"
        },
        "nextLink": {
          "description": "A link to the next page of replies.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The page token for the next page of replies. This will be absent if the end of the replies list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        }
      },
      "description": "A list of replies to a comment on a file in Google Drive.",
      "id": "CommentReplyList",
      "type": "object"
    },
    "DecryptionMetadata": {
      "properties": {
        "kaclsName": {
          "type": "string",
          "description": "The name of the KACLS (Key ACL Service) used to encrypt the file."
        },
        "jwt": {
          "description": "The signed JSON Web Token (JWT) which can be used to authorize the requesting user with the Key ACL Service (KACLS). The JWT asserts that the requesting user has at least read permissions on the file.",
          "type": "string"
        },
        "aes256GcmChunkSize": {
          "description": "Chunk size used if content was encrypted with the AES 256 GCM Cipher. Possible values are: - default - small ",
          "type": "string"
        },
        "encryptionResourceKeyHash": {
          "description": "The URL-safe Base64 encoded HMAC-SHA256 digest of the resource metadata with its DEK (Data Encryption Key); see https://developers.google.com/workspace/cse/reference",
          "type": "string"
        },
        "keyFormat": {
          "description": "Key format for the unwrapped key. Must be `tinkAesGcmKey`.",
          "type": "string"
        },
        "wrappedKey": {
          "description": "The URL-safe Base64 encoded wrapped key used to encrypt the contents of the file.",
          "type": "string"
        },
        "kaclsId": {
          "format": "int64",
          "description": "The ID of the KACLS (Key ACL Service) used to encrypt the file.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Representation of the CSE DecryptionMetadata.",
      "id": "DecryptionMetadata"
    },
    "User": {
      "type": "object",
      "id": "User",
      "properties": {
        "emailAddress": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The email address of the user. This may not be present in certain contexts if the user has not made their email address visible to the requester."
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
[...]
