{
  "ownerName": "Google",
  "basePath": "/drive/v2/",
  "parameters": {
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    }
  },
  "version": "v2",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://www.mtls.googleapis.com/",
  "batchPath": "batch/drive/v2",
  "baseUrl": "https://www.googleapis.com/drive/v2/",
  "id": "drive:v2",
  "resources": {
    "apps": {
      "methods": {
        "list": {
          "path": "apps",
          "scopes": [
            "https://www.googleapis.com/auth/drive.apps.readonly"
          ],
          "response": {
            "$ref": "AppList"
          },
          "id": "drive.apps.list",
          "description": "Lists a user's installed apps.",
          "flatPath": "apps",
          "httpMethod": "GET",
          "parameterOrder": [],
          "parameters": {
            "appFilterExtensions": {
              "default": "",
              "description": "A comma-separated list of file extensions for open with filtering. All apps within the given app query scope which can open any of the given file extensions will be included in the response. If `appFilterMimeTypes` are provided as well, the result is a union of the two resulting app lists.",
              "type": "string",
              "location": "query"
            },
            "appFilterMimeTypes": {
              "location": "query",
              "description": "A comma-separated list of MIME types for open with filtering. All apps within the given app query scope which can open any of the given MIME types will be included in the response. If `appFilterExtensions` are provided as well, the result is a union of the two resulting app lists.",
              "type": "string",
              "default": ""
            },
            "languageCode": {
              "description": "A language or locale code, as defined by BCP 47, with some extensions from Unicode's LDML format (http://www.unicode.org/reports/tr35/).",
              "type": "string",
              "location": "query"
            }
          }
        },
        "get": {
          "parameters": {
            "appId": {
              "required": true,
              "description": "The ID of the app.",
              "type": "string",
              "location": "path"
            }
          },
          "response": {
            "$ref": "App"
          },
          "id": "drive.apps.get",
          "httpMethod": "GET",
          "parameterOrder": [
            "appId"
          ],
          "flatPath": "apps/{appId}",
          "path": "apps/{appId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "description": "Gets a specific app."
        }
      }
    },
    "properties": {
      "methods": {
        "delete": {
          "parameterOrder": [
            "fileId",
            "propertyKey"
          ],
          "parameters": {
            "propertyKey": {
              "location": "path",
              "type": "string",
              "description": "The key of the property.",
              "required": true
            },
            "visibility": {
              "type": "string",
              "default": "private",
              "description": "The visibility of the property.",
              "location": "query"
            },
            "fileId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the file."
            }
          },
          "description": "Deletes a property.",
          "id": "drive.properties.delete",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "flatPath": "files/{fileId}/properties/{propertyKey}",
          "path": "files/{fileId}/properties/{propertyKey}",
          "httpMethod": "DELETE"
        },
        "update": {
          "id": "drive.properties.update",
          "request": {
            "$ref": "Property"
          },
          "parameters": {
            "fileId": {
              "location": "path",
              "description": "The ID of the file.",
              "type": "string",
              "required": true
            },
            "propertyKey": {
              "description": "The key of the property.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "visibility": {
              "default": "private",
              "type": "string",
              "location": "query",
              "description": "The visibility of the property. Allowed values are PRIVATE and PUBLIC. (Default: PRIVATE)"
            }
          },
          "flatPath": "files/{fileId}/properties/{propertyKey}",
          "httpMethod": "PUT",
          "description": "Updates a property.",
          "parameterOrder": [
            "fileId",
            "propertyKey"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "path": "files/{fileId}/properties/{propertyKey}",
          "response": {
            "$ref": "Property"
          }
        },
        "insert": {
          "httpMethod": "POST",
          "request": {
            "$ref": "Property"
          },
          "description": "Adds a property to a file, or updates it if it already exists.",
          "response": {
            "$ref": "Property"
          },
          "path": "files/{fileId}/properties",
          "id": "drive.properties.insert",
          "parameterOrder": [
            "fileId"
          ],
          "parameters": {
            "fileId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the file."
            }
          },
          "flatPath": "files/{fileId}/properties",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ]
        },
        "patch": {
          "response": {
            "$ref": "Property"
          },
          "path": "files/{fileId}/properties/{propertyKey}",
          "parameters": {
            "fileId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The ID of the file."
            },
            "visibility": {
              "type": "string",
              "default": "private",
              "location": "query",
              "description": "The visibility of the property. Allowed values are PRIVATE and PUBLIC. (Default: PRIVATE)"
            },
            "propertyKey": {
              "required": true,
              "description": "The key of the property.",
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "fileId",
            "propertyKey"
          ],
          "httpMethod": "PATCH",
          "request": {
            "$ref": "Property"
          },
          "flatPath": "files/{fileId}/properties/{propertyKey}",
          "id": "drive.properties.patch",
          "description": "Updates a property.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ]
        },
        "list": {
          "response": {
            "$ref": "PropertyList"
          },
          "description": "Lists a file's properties.",
          "parameters": {
            "fileId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the file.",
              "required": true
            }
          },
          "flatPath": "files/{fileId}/properties",
          "parameterOrder": [
            "fileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "path": "files/{fileId}/properties",
          "id": "drive.properties.list",
          "httpMethod": "GET"
        },
        "get": {
          "httpMethod": "GET",
          "response": {
            "$ref": "Property"
          },
          "id": "drive.properties.get",
          "parameters": {
            "fileId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The ID of the file."
            },
            "propertyKey": {
              "description": "The key of the property.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "visibility": {
              "location": "query",
              "default": "private",
              "type": "string",
              "description": "The visibility of the property."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "files/{fileId}/properties/{propertyKey}",
          "path": "files/{fileId}/properties/{propertyKey}",
          "description": "Gets a property by its key.",
          "parameterOrder": [
            "fileId",
            "propertyKey"
          ]
        }
      }
    },
    "comments": {
      "methods": {
        "delete": {
          "parameters": {
            "fileId": {
              "type": "string",
              "description": "The ID of the file.",
              "required": true,
              "location": "path"
            },
            "commentId": {
              "description": "The ID of the comment.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "flatPath": "files/{fileId}/comments/{commentId}",
          "path": "files/{fileId}/comments/{commentId}",
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "description": "Deletes a comment.",
          "httpMethod": "DELETE",
          "id": "drive.comments.delete"
        },
        "update": {
          "description": "Updates an existing comment.",
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "flatPath": "files/{fileId}/comments/{commentId}",
          "request": {
            "$ref": "Comment"
          },
          "path": "files/{fileId}/comments/{commentId}",
          "id": "drive.comments.update",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "response": {
            "$ref": "Comment"
          },
          "httpMethod": "PUT",
          "parameters": {
            "fileId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the file.",
              "required": true
            },
            "commentId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the comment.",
              "required": true
            }
          }
        },
        "patch": {
          "description": "Updates an existing comment.",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "Comment"
          },
          "response": {
            "$ref": "Comment"
          },
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "parameters": {
            "commentId": {
              "type": "string",
              "required": true,
              "description": "The ID of the comment.",
              "location": "path"
            },
            "fileId": {
              "required": true,
              "description": "The ID of the file.",
              "type": "string",
              "location": "path"
            }
          },
          "id": "drive.comments.patch",
          "path": "files/{fileId}/comments/{commentId}",
          "flatPath": "files/{fileId}/comments/{commentId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ]
        },
        "insert": {
          "id": "drive.comments.insert",
          "response": {
            "$ref": "Comment"
          },
          "httpMethod": "POST",
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "fileId"
          ],
          "request": {
            "$ref": "Comment"
          },
          "description": "Creates a new comment on the given file.",
          "flatPath": "files/{fileId}/comments",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "path": "files/{fileId}/comments"
        },
        "get": {
          "response": {
            "$ref": "Comment"
          },
          "description": "Gets a comment by ID.",
          "path": "files/{fileId}/comments/{commentId}",
          "id": "drive.comments.get",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "files/{fileId}/comments/{commentId}",
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "includeDeleted": {
              "type": "boolean",
              "description": "If set, this will succeed when retrieving a deleted comment, and will include any deleted replies.",
              "location": "query",
              "default": "false"
            },
            "commentId": {
              "description": "The ID of the comment.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "httpMethod": "GET"
        },
        "list": {
          "flatPath": "files/{fileId}/comments",
          "path": "files/{fileId}/comments",
          "description": "Lists a file's comments.",
          "parameterOrder": [
            "fileId"
          ],
          "response": {
            "$ref": "CommentList"
          },
          "parameters": {
            "includeDeleted": {
              "default": "false",
              "type": "boolean",
              "description": "If set, all comments and replies, including deleted comments and replies (with content stripped) will be returned.",
              "location": "query"
            },
            "maxResults": {
              "maximum": "100",
              "format": "int32",
              "location": "query",
              "default": "20",
              "description": "The maximum number of discussions to include in the response, used for paging.",
              "minimum": "0",
              "type": "integer"
            },
            "fileId": {
              "required": true,
              "description": "The ID of the file.",
              "type": "string",
              "location": "path"
            },
            "updatedMin": {
              "description": "Only discussions that were updated after this timestamp will be returned. Formatted as an RFC 3339 timestamp.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "The continuation token, used to page through large result sets. To get the next page of results, set this parameter to the value of \"nextPageToken\" from the previous response.",
              "type": "string",
              "location": "query"
            }
          },
          "id": "drive.comments.list",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "httpMethod": "GET"
        }
      }
    },
    "files": {
      "methods": {
        "watch": {
          "httpMethod": "POST",
          "flatPath": "files/{fileId}/watch",
          "parameterOrder": [
            "fileId"
          ],
          "parameters": {
            "supportsTeamDrives": {
              "location": "query",
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "deprecated": true,
              "type": "boolean"
            },
            "updateViewedDate": {
              "default": "false",
              "location": "query",
              "deprecated": true,
              "description": "Deprecated: Use files.update with modifiedDateBehavior=noChange, updateViewedDate=true and an empty request body.",
              "type": "boolean"
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "type": "string",
              "location": "query"
            },
            "acknowledgeAbuse": {
              "default": "false",
              "description": "Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when the `alt` parameter is set to `media` and the user is the owner of the file or an organizer of the shared drive in which the file resides.",
              "type": "boolean",
              "location": "query"
            },
            "includeLabels": {
              "location": "query",
              "type": "string",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response."
            },
            "supportsAllDrives": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            },
            "fileId": {
              "description": "The ID for the file in question.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "revisionId": {
              "type": "string",
              "description": "Specifies the Revision ID that should be downloaded. Ignored unless alt=media is specified.",
              "location": "query"
            },
            "projection": {
              "deprecated": true,
              "enum": [
                "BASIC",
                "FULL"
              ],
              "enumDescriptions": [
                "Deprecated.",
                "Deprecated."
              ],
              "location": "query",
              "type": "string",
              "description": "Deprecated: This parameter has no function."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "id": "drive.files.watch",
          "path": "files/{fileId}/watch",
          "supportsSubscription": true,
          "request": {
            "parameterName": "resource",
            "$ref": "Channel"
          },
          "description": "Subscribes to changes to a file.",
          "response": {
            "$ref": "Channel"
          }
        },
        "get": {
          "supportsSubscription": true,
          "description": " Gets a file's metadata or content by ID. If you provide the URL parameter `alt=media`, then the response includes the file contents in the response body. Downloading content with `alt=media` only works if the file is stored in Drive. To download Google Docs, Sheets, and Slides use [`files.export`](https://developers.google.com/workspace/drive/api/reference/rest/v2/files/export) instead. For more information, see [Download & export files](https://developers.google.com/workspace/drive/api/guides/manage-downloads).",
          "path": "files/{fileId}",
          "response": {
            "$ref": "File"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "supportsMediaDownload": true,
          "httpMethod": "GET",
          "parameterOrder": [
            "fileId"
          ],
          "parameters": {
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false",
              "location": "query",
              "type": "boolean"
            },
            "fileId": {
              "required": true,
              "type": "string",
              "description": "The ID for the file in question.",
              "location": "path"
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "default": "false",
              "type": "boolean",
              "deprecated": true
            },
            "includeLabels": {
              "type": "string",
              "location": "query",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response."
            },
            "acknowledgeAbuse": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when the `alt` parameter is set to `media` and the user is the owner of the file or an organizer of the shared drive in which the file resides."
            },
            "includePermissionsForView": {
              "type": "string",
              "location": "query",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported."
            },
            "updateViewedDate": {
              "type": "boolean",
              "description": "Deprecated: Use `files.update` with `modifiedDateBehavior=noChange, updateViewedDate=true` and an empty request body.",
              "deprecated": true,
              "default": "false",
              "location": "query"
            },
            "projection": {
              "location": "query",
              "type": "string",
              "description": "Deprecated: This parameter has no function.",
              "deprecated": true,
              "enum": [
                "BASIC",
                "FULL"
              ],
              "enumDescriptions": [
                "Deprecated.",
                "Deprecated."
              ]
            },
            "revisionId": {
              "location": "query",
              "description": "Specifies the Revision ID that should be downloaded. Ignored unless alt=media is specified.",
              "type": "string"
            }
          },
          "flatPath": "files/{fileId}",
          "id": "drive.files.get",
          "useMediaDownloadService": true
        },
        "untrash": {
          "id": "drive.files.untrash",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "flatPath": "files/{fileId}/untrash",
          "path": "files/{fileId}/untrash",
          "description": "Restores a file from the trash. The currently authenticated user must own the file or be at least a `fileOrganizer` on the parent for shared drive files.",
          "parameters": {
            "fileId": {
              "type": "string",
              "description": "The ID of the file to untrash.",
              "required": true,
              "location": "path"
            },
            "includePermissionsForView": {
              "location": "query",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "type": "string"
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query",
              "type": "string"
            },
            "supportsTeamDrives": {
              "type": "boolean",
              "default": "false",
              "deprecated": true,
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query"
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false",
              "location": "query",
              "type": "boolean"
            }
          },
          "response": {
            "$ref": "File"
          },
          "parameterOrder": [
            "fileId"
          ],
          "httpMethod": "POST"
        },
        "export": {
          "description": "Exports a Google Workspace document to the requested MIME type and returns exported byte content. Note that the exported content is limited to 10MB.",
          "parameterOrder": [
            "fileId",
            "mimeType"
          ],
          "supportsMediaDownload": true,
          "httpMethod": "GET",
          "id": "drive.files.export",
          "useMediaDownloadService": true,
          "path": "files/{fileId}/export",
          "flatPath": "files/{fileId}/export",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameters": {
            "fileId": {
              "location": "path",
              "description": "The ID of the file.",
              "type": "string",
              "required": true
            },
            "mimeType": {
              "type": "string",
              "required": true,
              "description": "Required. The MIME type of the format requested for this export.",
              "location": "query"
            }
          }
        },
        "generateIds": {
          "parameters": {
            "maxResults": {
              "maximum": "1000",
              "type": "integer",
              "description": "Maximum number of IDs to return.",
              "default": "10",
              "format": "int32",
              "location": "query",
              "minimum": "1"
            },
            "type": {
              "description": "The type of items which the IDs can be used for. Supported values are `files` and `shortcuts`. Note that `shortcuts` are only supported in the `drive` `space`. (Default: `files`)",
              "type": "string",
              "location": "query",
              "default": "files"
            },
            "space": {
              "location": "query",
              "type": "string",
              "description": "The space in which the IDs can be used to create new files. Supported values are `drive` and `appDataFolder`. (Default: `drive`)",
              "default": "drive"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "GeneratedIds"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "id": "drive.files.generateIds",
          "description": "Generates a set of file IDs which can be provided in insert or copy requests.",
          "parameterOrder": [],
          "path": "files/generateIds",
          "flatPath": "files/generateIds"
        },
        "update": {
          "response": {
            "$ref": "File"
          },
          "parameterOrder": [
            "fileId"
          ],
          "httpMethod": "PUT",
          "supportsMediaUpload": true,
          "request": {
            "$ref": "File"
          },
          "parameters": {
            "ocrLanguage": {
              "type": "string",
              "location": "query",
              "description": "If ocr is true, hints at the language to use. Valid values are BCP 47 codes."
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "deprecated": true,
              "default": "false",
              "type": "boolean",
              "location": "query"
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query",
              "type": "string"
            },
            "ocr": {
              "description": "Whether to attempt OCR on .jpg, .png, .gif, or .pdf uploads.",
              "default": "false",
              "type": "boolean",
              "location": "query"
            },
            "pinned": {
              "description": "Whether to pin the new revision. A file can have a maximum of 200 pinned revisions.",
              "default": "false",
              "type": "boolean",
              "location": "query"
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false",
              "type": "boolean",
              "location": "query"
            },
            "timedTextTrackName": {
              "description": "The timed text track name.",
              "type": "string",
              "location": "query"
            },
            "useContentAsIndexableText": {
              "description": "Whether to use the content as indexable text.",
              "location": "query",
              "default": "false",
              "type": "boolean"
            },
            "modifiedDateBehavior": {
              "enumDescriptions": [
                "Set `modifiedDate` to the value provided in the body of the request. No change if no value was provided.",
                "Set `modifiedDate` to the value provided in the body of the request depending on other contents of the update.",
                "Set modifiedDate to the value provided in the body of the request, or to the current time if no value was provided.",
                "Maintain the previous value of `modifiedDate`.",
                "Set `modifiedDate` to the current time.",
                "Set `modifiedDate` to the current time depending on contents of the update."
              ],
              "type": "string",
              "description": "Determines the behavior in which `modifiedDate` is updated. This overrides `setModifiedDate`.",
              "location": "query",
              "enum": [
                "fromBody",
                "fromBodyIfNeeded",
                "fromBodyOrNow",
                "noChange",
                "now",
                "nowIfNeeded"
              ]
            },
            "addParents": {
              "location": "query",
              "description": "Comma-separated list of parent IDs to add.",
              "type": "string"
            },
            "convert": {
              "location": "query",
              "deprecated": true,
              "type": "boolean",
              "default": "false",
              "description": "Deprecated: This parameter has no function."
            },
            "setModifiedDate": {
              "type": "boolean",
              "default": "false",
              "location": "query",
              "description": "Whether to set the modified date using the value supplied in the request body. Setting this field to `true` is equivalent to `modifiedDateBehavior=fromBodyOrNow`, and `false` is equivalent to `modifiedDateBehavior=now`. To prevent any changes to the modified date set `modifiedDateBehavior=noChange`."
            },
            "updateViewedDate": {
              "description": "Whether to update the view date after successfully updating the file.",
              "type": "boolean",
              "location": "query",
              "default": "true"
            },
            "timedTextLanguage": {
              "location": "query",
              "description": "The language of the timed text.",
              "type": "string"
            },
            "fileId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the file to update.",
              "required": true
            },
            "newRevision": {
              "description": "Whether a blob upload should create a new revision. If false, the blob data in the current head revision is replaced. If true or not set, a new blob is created as head revision, and previous unpinned revisions are preserved for a short period of time. Pinned revisions are stored indefinitely, using additional storage quota, up to a maximum of 200 revisions. For details on how revisions are retained, see the [Drive Help Center](https://support.google.com/drive/answer/2409045).",
              "type": "boolean",
              "location": "query",
              "default": "true"
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string",
              "location": "query"
            },
            "enforceSingleParent": {
              "default": "false",
              "deprecated": true,
              "description": "Deprecated: Adding files to multiple folders is no longer supported. Use `shortcuts` instead.",
              "location": "query",
              "type": "boolean"
            },
            "removeParents": {
              "type": "string",
              "description": "Comma-separated list of parent IDs to remove.",
              "location": "query"
            }
          },
          "description": " Updates a file's metadata, content, or both. When calling this method, only populate fields in the request that you want to modify. When updating fields, some fields might be changed automatically, such as `modifiedDate`. This method supports patch semantics. This method supports an */upload* URI and accepts uploaded media with the following characteristics: - *Maximum file size:* 5,120 GB - *Accepted Media MIME types:* `*/*` (Specify a valid MIME type, rather than the literal `*/*` value. The literal `*/*` is only used to indicate that any valid MIME type can be uploaded. For more information, see [Google Workspace and Google Drive supported MIME types](https://developers.google.com/workspace/drive/api/guides/mime-types).) For more information on uploading files, see [Upload file data](https://developers.google.com/workspace/drive/api/guides/manage-uploads).",
          "path": "files/{fileId}",
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "maxSize": "5497558138880",
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/drive/v2/files/{fileId}"
              },
              "resumable": {
                "path": "/resumable/upload/drive/v2/files/{fileId}",
                "multipart": true
              }
            }
          },
          "flatPath": "files/{fileId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.scripts"
          ],
          "id": "drive.files.update"
        },
        "modifyLabels": {
          "flatPath": "files/{fileId}/modifyLabels",
          "request": {
            "$ref": "ModifyLabelsRequest"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "ModifyLabelsResponse"
          },
          "path": "files/{fileId}/modifyLabels",
          "id": "drive.files.modifyLabels",
          "description": "Modifies the set of labels applied to a file. Returns a list of the labels that were added or modified.",
          "parameterOrder": [
            "fileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "parameters": {
            "fileId": {
              "location": "path",
              "required": true,
              "description": "The ID of the file to which the labels belong.",
              "type": "string"
            }
          }
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.scripts"
          ],
          "parameters": {
            "fileId": {
              "description": "The ID of the file to update.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "updateViewedDate": {
              "description": "Whether to update the view date after successfully updating the file.",
              "type": "boolean",
              "location": "query",
              "default": "true"
            },
            "includePermissionsForView": {
              "location": "query",
              "type": "string",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported."
            },
            "supportsTeamDrives": {
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "type": "boolean",
              "deprecated": true
            },
            "ocrLanguage": {
              "description": "If ocr is true, hints at the language to use. Valid values are BCP 47 codes.",
              "location": "query",
              "type": "string"
            },
            "convert": {
              "deprecated": true,
              "type": "boolean",
              "location": "query",
              "description": "Deprecated: This parameter has no function.",
              "default": "false"
            },
            "setModifiedDate": {
              "location": "query",
              "description": "Whether to set the modified date using the value supplied in the request body. Setting this field to `true` is equivalent to `modifiedDateBehavior=fromBodyOrNow`, and `false` is equivalent to `modifiedDateBehavior=now`. To prevent any changes to the modified date set `modifiedDateBehavior=noChange`.",
              "default": "false",
              "type": "boolean"
            },
            "modifiedDateBehavior": {
              "enum": [
                "fromBody",
                "fromBodyIfNeeded",
                "fromBodyOrNow",
                "noChange",
                "now",
                "nowIfNeeded"
              ],
              "type": "string",
              "enumDescriptions": [
                "Set `modifiedDate` to the value provided in the body of the request. No change if no value was provided.",
                "Set `modifiedDate` to the value provided in the body of the request depending on other contents of the update.",
                "Set modifiedDate to the value provided in the body of the request, or to the current time if no value was provided.",
                "Maintain the previous value of `modifiedDate`.",
                "Set `modifiedDate` to the current time.",
                "Set `modifiedDate` to the current time depending on contents of the update."
              ],
              "description": "Determines the behavior in which `modifiedDate` is updated. This overrides `setModifiedDate`.",
              "location": "query"
            },
            "timedTextTrackName": {
              "description": "The timed text track name.",
              "type": "string",
              "location": "query"
            },
            "useContentAsIndexableText": {
              "description": "Whether to use the content as indexable text.",
              "default": "false",
              "location": "query",
              "type": "boolean"
            },
            "timedTextLanguage": {
              "type": "string",
              "description": "The language of the timed text.",
              "location": "query"
            },
            "supportsAllDrives": {
              "type": "boolean",
              "location": "query",
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            },
            "addParents": {
              "description": "Comma-separated list of parent IDs to add.",
              "location": "query",
              "type": "string"
            },
            "ocr": {
              "default": "false",
              "type": "boolean",
              "description": "Whether to attempt OCR on .jpg, .png, .gif, or .pdf uploads.",
              "location": "query"
            },
            "enforceSingleParent": {
              "default": "false",
              "deprecated": true,
              "location": "query",
              "description": "Deprecated: Adding files to multiple folders is no longer supported. Use `shortcuts` instead.",
              "type": "boolean"
            },
            "includeLabels": {
              "type": "string",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query"
            },
            "removeParents": {
              "description": "Comma-separated list of parent IDs to remove.",
              "location": "query",
              "type": "string"
            },
            "pinned": {
              "description": "Whether to pin the new revision. A file can have a maximum of 200 pinned revisions. Note that this field is ignored if there is no payload in the request.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            },
            "newRevision": {
              "default": "true",
              "location": "query",
              "type": "boolean",
              "description": "Whether a blob upload should create a new revision. If false, the blob data in the current head revision is replaced. If true or not set, a new blob is created as head revision, and previous unpinned revisions are preserved for a short period of time. Pinned revisions are stored indefinitely, using additional storage quota, up to a maximum of 200 revisions. For details on how revisions are retained, see the [Drive Help Center](https://support.google.com/drive/answer/2409045). Note that this field is ignored if there is no payload in the request."
            }
          },
          "response": {
            "$ref": "File"
          },
          "description": "Updates a file's metadata and/or content. When calling this method, only populate fields in the request that you want to modify. When updating fields, some fields might change automatically, such as modifiedDate. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "path": "files/{fileId}",
          "parameterOrder": [
            "fileId"
          ],
          "flatPath": "files/{fileId}",
          "request": {
            "$ref": "File"
          },
          "id": "drive.files.patch"
        },
        "touch": {
          "path": "files/{fileId}/touch",
          "parameters": {
            "fileId": {
              "type": "string",
              "description": "The ID of the file to update.",
              "location": "path",
              "required": true
            },
            "supportsAllDrives": {
              "location": "query",
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false"
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "type": "string",
              "location": "query"
            },
            "supportsTeamDrives": {
              "deprecated": true,
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "default": "false"
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "files/{fileId}/touch",
          "id": "drive.files.touch",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "response": {
            "$ref": "File"
          },
          "description": "Set the file's updated time to the current server time.",
          "parameterOrder": [
            "fileId"
          ]
        },
        "copy": {
          "httpMethod": "POST",
          "parameters": {
            "fileId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the file to copy.",
              "required": true
            },
            "visibility": {
              "location": "query",
              "enumDescriptions": [
                "The visibility of the new file is determined by the user's default visibility or sharing policies.",
                "The user's default visibility or sharing policies are ignored, and the new file is only visible to the owner and any users with permissions inherited from the parent folder."
              ],
              "default": "DEFAULT",
              "enum": [
                "DEFAULT",
                "PRIVATE"
              ],
              "description": "The visibility of the new file. Permissions are still inherited from parent folders. This parameter is only relevant when the source is not a Google Doc file and when `convert=false`.",
              "type": "string"
            },
            "timedTextTrackName": {
              "type": "string",
              "description": "The timed text track name.",
              "location": "query"
            },
            "convert": {
              "description": "Whether to convert this file to the corresponding Docs Editors format.",
              "default": "false",
              "location": "query",
              "type": "boolean"
            },
            "ocrLanguage": {
              "location": "query",
              "type": "string",
              "description": "If `ocr` is true, hints at the language to use. Valid values are BCP 47 codes."
            },
            "supportsTeamDrives": {
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "deprecated": true,
              "default": "false"
            },
            "timedTextLanguage": {
              "description": "The language of the timed text.",
              "location": "query",
              "type": "string"
            },
            "ocr": {
              "type": "boolean",
              "description": "Whether to attempt OCR on .jpg, .png, .gif, or .pdf uploads.",
              "default": "false",
              "location": "query"
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query",
              "type": "string"
            },
            "supportsAllDrives": {
              "location": "query",
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false"
            },
            "includePermissionsForView": {
              "location": "query",
              "type": "string",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported."
            },
            "enforceSingleParent": {
              "deprecated": true,
              "description": "Deprecated: Copying files into multiple folders is no longer supported. Use shortcuts instead.",
              "default": "false",
              "type": "boolean",
              "location": "query"
            },
            "pinned": {
              "type": "boolean",
              "location": "query",
              "default": "false",
              "description": "Whether to pin the head revision of the new copy. A file can have a maximum of 200 pinned revisions."
            }
          },
          "description": "Creates a copy of the specified file.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.photos.readonly"
          ],
          "flatPath": "files/{fileId}/copy",
          "path": "files/{fileId}/copy",
          "response": {
            "$ref": "File"
          },
          "id": "drive.files.copy",
          "parameterOrder": [
            "fileId"
          ],
          "request": {
            "$ref": "File"
          }
        },
        "generateCseToken": {
          "response": {
            "$ref": "GenerateCseTokenResponse"
          },
          "id": "drive.files.generateCseToken",
          "path": "files/generateCseToken",
          "parameterOrder": [],
          "flatPath": "files/generateCseToken",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "parameters": {
            "fileId": {
              "location": "query",
              "description": "The ID of the file for which the JWT should be generated. If not provided, an id will be generated.",
              "type": "string"
            },
            "parent": {
              "location": "query",
              "type": "string",
              "description": "The ID of the expected parent of the file. Used when generating a JWT for a new CSE file. If specified, the parent will be fetched, and if the parent is a shared drive item, the shared drive's policy will be used to determine the KACLS that should be used. It is invalid to specify both file_id and parent in a single request."
            }
          },
          "description": "Generates a CSE token which can be used to create or update CSE files."
        },
        "delete": {
          "parameterOrder": [
            "fileId"
          ],
          "flatPath": "files/{fileId}",
          "parameters": {
            "fileId": {
              "location": "path",
              "description": "The ID of the file to delete.",
              "type": "string",
              "required": true
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "deprecated": true,
              "type": "boolean",
              "default": "false"
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "default": "false",
              "type": "boolean"
            },
            "enforceSingleParent": {
              "type": "boolean",
              "description": "Deprecated: If an item is not in a shared drive and its last parent is deleted but the item itself is not, the item is placed under its owner's root.",
              "default": "false",
              "location": "query",
              "deprecated": true
            }
          },
          "path": "files/{fileId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "httpMethod": "DELETE",
          "description": "Permanently deletes a file owned by the user without moving it to the trash. If the file belongs to a shared drive, the user must be an `organizer` on the parent folder. If the target is a folder, all descendants owned by the user are also deleted.",
          "id": "drive.files.delete"
        },
        "emptyTrash": {
          "httpMethod": "DELETE",
          "id": "drive.files.emptyTrash",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "flatPath": "files/trash",
          "description": "Permanently deletes all of the user's trashed files.",
          "path": "files/trash",
          "parameterOrder": [],
          "parameters": {
            "enforceSingleParent": {
              "default": "false",
              "location": "query",
              "deprecated": true,
              "type": "boolean",
              "description": "Deprecated: If an item is not in a shared drive and its last parent is deleted but the item itself is not, the item is placed under its owner's root."
            },
            "driveId": {
              "type": "string",
              "location": "query",
              "description": "If set, empties the trash of the provided shared drive."
            }
          }
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "id": "drive.files.insert",
          "response": {
            "$ref": "File"
          },
          "request": {
            "$ref": "File"
          },
          "description": " Inserts a new file. This method supports an */upload* URI and accepts uploaded media with the following characteristics: - *Maximum file size:* 5,120 GB - *Accepted Media MIME types:*`*/*` Note: Specify a valid MIME type, rather than the literal `*/*` value. The literal `*/*` is only used to indicate that any valid MIME type can be uploaded. For more information on uploading files, see [Upload file data](https://developers.google.com/workspace/drive/api/guides/manage-uploads). Apps creating shortcuts with `files.insert` must specify the MIME type `application/vnd.google-apps.shortcut`. Apps should specify a file extension in the `title` property when inserting files with the API. For example, an operation to insert a JPEG file should specify something like `\"title\": \"cat.jpg\"` in the metadata. Subsequent `GET` requests include the read-only `fileExtension` property populated with the extension originally specified in the `title` property. When a Google Drive user requests to download a file, or when the file is downloaded through the sync client, Drive builds a full filename (with extension) based on the title. In cases where the extension is missing, Drive attempts to determine the extension based on the file's MIME type.",
          "parameterOrder": [],
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "maxSize": "5497558138880",
            "protocols": {
              "resumable": {
                "path": "/resumable/upload/drive/v2/files",
                "multipart": true
              },
              "simple": {
                "multipart": true,
                "path": "/upload/drive/v2/files"
              }
            }
          },
          "path": "files",
          "supportsMediaUpload": true,
          "flatPath": "files",
          "parameters": {
            "pinned": {
              "default": "false",
              "location": "query",
              "type": "boolean",
              "description": "Whether to pin the head revision of the uploaded file. A file can have a maximum of 200 pinned revisions."
            },
            "includeLabels": {
              "type": "string",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query"
            },
            "enforceSingleParent": {
              "deprecated": true,
              "description": "Deprecated: Creating files in multiple folders is no longer supported.",
              "location": "query",
              "default": "false",
              "type": "boolean"
            },
            "timedTextLanguage": {
              "description": "The language of the timed text.",
              "location": "query",
              "type": "string"
            },
            "ocrLanguage": {
              "location": "query",
              "type": "string",
              "description": "If ocr is true, hints at the language to use. Valid values are BCP 47 codes."
            },
            "timedTextTrackName": {
              "type": "string",
              "description": "The timed text track name.",
              "location": "query"
            },
            "useContentAsIndexableText": {
              "location": "query",
              "description": "Whether to use the content as indexable text.",
              "type": "boolean",
              "default": "false"
            },
            "supportsAllDrives": {
              "type": "boolean",
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query"
            },
            "visibility": {
              "default": "DEFAULT",
              "enum": [
                "DEFAULT",
                "PRIVATE"
              ],
              "description": "The visibility of the new file. Permissions are still inherited from parent folders. This parameter is only relevant when `convert=false`.",
              "enumDescriptions": [
                "The visibility of the new file is determined by the user's default visibility or sharing policies.",
                "The user's default visibility or sharing policies are ignored, and the new file is only visible to the owner and any users with permissions inherited from the parent folder."
              ],
              "location": "query",
              "type": "string"
            },
            "convert": {
              "description": "Whether to convert this file to the corresponding Docs Editors format.",
              "location": "query",
              "default": "false",
              "type": "boolean"
            },
            "supportsTeamDrives": {
              "deprecated": true,
              "default": "false",
              "type": "boolean",
              "location": "query",
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query",
              "type": "string"
            },
            "ocr": {
              "location": "query",
              "description": "Whether to attempt OCR on .jpg, .png, .gif, or .pdf uploads.",
              "default": "false",
              "type": "boolean"
            }
          },
          "httpMethod": "POST"
        },
        "trash": {
          "response": {
            "$ref": "File"
          },
          "parameterOrder": [
            "fileId"
          ],
          "id": "drive.files.trash",
          "parameters": {
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false",
              "type": "boolean",
              "location": "query"
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query",
              "type": "string"
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query",
              "type": "string"
            },
            "supportsTeamDrives": {
              "location": "query",
              "deprecated": true,
              "default": "false",
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "fileId": {
              "type": "string",
              "description": "The ID of the file to trash.",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "POST",
          "description": "Moves a file to the trash. The currently authenticated user must own the file or be at least a `fileOrganizer` on the parent for shared drive files.",
          "flatPath": "files/{fileId}/trash",
          "path": "files/{fileId}/trash",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file"
          ]
        },
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "corpus": {
              "type": "string",
              "enumDescriptions": [
                "The items that the user has accessed.",
                "Items shared to the user's domain."
              ],
              "location": "query",
              "enum": [
                "DEFAULT",
                "DOMAIN"
              ],
              "deprecated": true,
              "description": "Deprecated: The body of items (files/documents) to which the query applies. Use `corpora` instead."
            },
            "spaces": {
              "location": "query",
              "type": "string",
              "description": "A comma-separated list of spaces to query. Supported values are `drive`, and `appDataFolder`."
            },
            "corpora": {
              "description": "Bodies of items (files/documents) to which the query applies. Supported bodies are `default`, `domain`, `drive` and `allDrives`. Prefer `default` or `drive` to `allDrives` for efficiency.",
              "location": "query",
              "type": "string"
            },
            "driveId": {
              "location": "query",
              "description": "ID of the shared drive to search.",
              "type": "string"
            },
            "projection": {
              "type": "string",
              "location": "query",
              "description": "Deprecated: This parameter has no function.",
              "enum": [
                "BASIC",
                "FULL"
              ],
              "enumDescriptions": [
                "Deprecated.",
                "Deprecated."
              ],
              "deprecated": true
            },
            "includePermissionsForView": {
              "location": "query",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "type": "string"
            },
            "teamDriveId": {
              "type": "string",
              "location": "query",
              "deprecated": true,
              "description": "Deprecated: Use `driveId` instead."
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "deprecated": true,
              "default": "false",
              "type": "boolean",
              "location": "query"
            },
            "orderBy": {
              "type": "string",
              "location": "query",
              "description": "A comma-separated list of sort keys. Valid keys are: * `createdDate`: When the file was created. * `folder`: The folder ID. This field is sorted using alphabetical ordering. * `lastViewedByMeDate`: The last time the file was viewed by the user. * `modifiedByMeDate`: The last time the file was modified by the user. * `modifiedDate`: The last time the file was modified by anyone. * `quotaBytesUsed`: The number of storage quota bytes used by the file. * `recency`: The most recent timestamp from the file's date-time fields. * `sharedWithMeDate`: When the file was shared with the user, if applicable. * `starred`: Whether the user has starred the file. * `title`: The title of the file. This field is sorted using alphabetical ordering, so 1, 12, 2, 22. * `title_natural`: The title of the file. This field is sorted using natural sort ordering, so 1, 2, 12, 22. Each key sorts ascending by default, but can be reversed with the 'desc' modifier. Example usage: `?orderBy=folder,modifiedDate desc,title`. Note that there's a current limitation for users with approximately one million files in which the requested sort order is ignored."
            },
            "q": {
              "type": "string",
              "location": "query",
              "description": "Query string for searching files."
            },
            "includeTeamDriveItems": {
              "deprecated": true,
              "location": "query",
              "description": "Deprecated: Use `includeItemsFromAllDrives` instead.",
              "default": "false",
              "type": "boolean"
            },
            "pageToken": {
              "type": "string",
              "description": "Page token for files.",
              "location": "query"
            },
            "maxResults": {
              "location": "query",
              "minimum": "0",
              "format": "int32",
              "description": "The maximum number of files to return per page. Partial or empty result pages are possible even before the end of the files list has been reached.",
              "default": "100",
              "type": "integer"
            },
            "supportsAllDrives": {
              "default": "false",
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean"
            },
            "includeLabels": {
              "location": "query",
              "type": "string",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response."
            },
            "includeItemsFromAllDrives": {
              "type": "boolean",
              "default": "false",
              "location": "query",
              "description": "Whether both My Drive and shared drive items should be included in results."
            }
          },
          "description": " Lists the user's files. For more information, see [Search for files and folders](https://developers.google.com/workspace/drive/api/guides/search-files). This method accepts the `q` parameter, which is a search query combining one or more search terms. This method returns *all* files by default, including trashed files. If you don't want trashed files to appear in the list, use the `trashed=false` query parameter to remove trashed files from the results.",
          "parameterOrder": [],
          "flatPath": "files",
          "path": "files",
          "id": "drive.files.list",
          "response": {
            "$ref": "FileList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ]
        },
        "listLabels": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "response": {
            "$ref": "LabelList"
          },
          "description": "Lists the labels on a file.",
          "flatPath": "files/{fileId}/listLabels",
          "id": "drive.files.listLabels",
          "parameters": {
            "maxResults": {
              "location": "query",
              "minimum": "1",
              "description": "The maximum number of labels to return per page. When not set, defaults to 100.",
              "format": "int32",
              "default": "100",
              "type": "integer",
              "maximum": "100"
            },
            "fileId": {
              "required": true,
              "description": "The ID for the file.",
              "location": "path",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response.",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "fileId"
          ],
          "path": "files/{fileId}/listLabels"
        }
      }
    },
    "children": {
      "methods": {
        "insert": {
          "description": "Inserts a file into a folder.",
          "httpMethod": "POST",
          "id": "drive.children.insert",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameters": {
            "supportsTeamDrives": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "deprecated": true,
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "supportsAllDrives": {
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "location": "query"
            },
            "enforceSingleParent": {
              "description": "Deprecated: Adding files to multiple folders is no longer supported. Use `shortcuts` instead.",
              "default": "false",
              "type": "boolean",
              "deprecated": true,
              "location": "query"
            },
            "folderId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the folder."
            }
          },
          "path": "files/{folderId}/children",
          "flatPath": "files/{folderId}/children",
          "parameterOrder": [
            "folderId"
          ],
          "request": {
            "$ref": "ChildReference"
          },
          "response": {
            "$ref": "ChildReference"
          }
        },
        "delete": {
          "parameters": {
            "childId": {
              "description": "The ID of the child.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "folderId": {
              "location": "path",
              "description": "The ID of the folder.",
              "type": "string",
              "required": true
            },
            "enforceSingleParent": {
              "description": "Deprecated: If an item is not in a shared drive and its last parent is removed, the item is placed under its owner's root.",
              "default": "false",
              "deprecated": true,
              "location": "query",
              "type": "boolean"
            }
          },
          "id": "drive.children.delete",
          "parameterOrder": [
            "folderId",
            "childId"
          ],
          "path": "files/{folderId}/children/{childId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "httpMethod": "DELETE",
          "flatPath": "files/{folderId}/children/{childId}",
          "description": "Removes a child from a folder."
        },
        "list": {
          "parameters": {
            "orderBy": {
              "description": "A comma-separated list of sort keys. Valid keys are `createdDate`, `folder`, `lastViewedByMeDate`, `modifiedByMeDate`, `modifiedDate`, `quotaBytesUsed`, `recency`, `sharedWithMeDate`, `starred`, and `title`. Each key sorts ascending by default, but may be reversed with the `desc` modifier. Example usage: ?orderBy=folder,modifiedDate desc,title. Please note that there is a current limitation for users with approximately one million files in which the requested sort order is ignored.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "description": "Page token for children.",
              "type": "string"
            },
            "q": {
              "description": "Query string for searching children.",
              "location": "query",
              "type": "string"
            },
            "folderId": {
              "description": "The ID of the folder.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "maxResults": {
              "format": "int32",
              "default": "100",
              "minimum": "0",
              "description": "Maximum number of children to return.",
              "location": "query",
              "type": "integer"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameterOrder": [
            "folderId"
          ],
          "id": "drive.children.list",
          "flatPath": "files/{folderId}/children",
          "httpMethod": "GET",
          "path": "files/{folderId}/children",
          "description": "Lists a folder's children.",
          "response": {
            "$ref": "ChildList"
          }
        },
        "get": {
          "parameterOrder": [
            "folderId",
            "childId"
          ],
          "flatPath": "files/{folderId}/children/{childId}",
          "description": "Gets a specific child reference.",
          "parameters": {
            "folderId": {
              "required": true,
              "type": "string",
              "description": "The ID of the folder.",
              "location": "path"
            },
            "childId": {
              "description": "The ID of the child.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "path": "files/{folderId}/children/{childId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "ChildReference"
          },
          "id": "drive.children.get"
        }
      }
    },
    "parents": {
      "methods": {
        "list": {
          "parameters": {
            "fileId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the file.",
              "required": true
            }
          },
          "id": "drive.parents.list",
          "response": {
            "$ref": "ParentList"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "path": "files/{fileId}/parents",
          "parameterOrder": [
            "fileId"
          ],
          "description": "Lists a file's parents.",
          "flatPath": "files/{fileId}/parents"
        },
        "insert": {
          "id": "drive.parents.insert",
          "parameters": {
            "fileId": {
              "location": "path",
              "description": "The ID of the file.",
              "type": "string",
              "required": true
            },
            "supportsAllDrives": {
              "default": "false",
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query"
            },
            "enforceSingleParent": {
              "deprecated": true,
              "type": "boolean",
              "default": "false",
              "location": "query",
              "description": "Deprecated: Adding files to multiple folders is no longer supported. Use `shortcuts` instead."
            },
            "supportsTeamDrives": {
              "type": "boolean",
              "deprecated": true,
              "default": "false",
              "location": "query",
              "description": "Deprecated: Use `supportsAllDrives` instead."
            }
          },
          "httpMethod": "POST",
          "flatPath": "files/{fileId}/parents",
          "description": "Adds a parent folder for a file.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "path": "files/{fileId}/parents",
          "response": {
            "$ref": "ParentReference"
          },
          "request": {
            "$ref": "ParentReference"
          },
          "parameterOrder": [
            "fileId"
          ]
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "files/{fileId}/parents/{parentId}",
          "parameterOrder": [
            "fileId",
            "parentId"
          ],
          "description": "Gets a specific parent reference.",
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "parentId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The ID of the parent."
            }
          },
          "id": "drive.parents.get",
          "httpMethod": "GET",
          "response": {
            "$ref": "ParentReference"
          },
          "path": "files/{fileId}/parents/{parentId}"
        },
        "delete": {
          "parameterOrder": [
            "fileId",
            "parentId"
          ],
          "httpMethod": "DELETE",
          "flatPath": "files/{fileId}/parents/{parentId}",
          "id": "drive.parents.delete",
          "description": "Removes a parent from a file.",
          "path": "files/{fileId}/parents/{parentId}",
          "parameters": {
            "fileId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the file.",
              "required": true
            },
            "enforceSingleParent": {
              "location": "query",
              "deprecated": true,
              "type": "boolean",
              "description": "Deprecated: If an item is not in a shared drive and its last parent is removed, the item is placed under its owner's root.",
              "default": "false"
            },
            "parentId": {
              "description": "The ID of the parent.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ]
        }
      }
    },
    "channels": {
      "methods": {
        "stop": {
          "id": "drive.channels.stop",
          "flatPath": "channels/stop",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameters": {},
          "request": {
            "$ref": "Channel",
            "parameterName": "resource"
          },
          "parameterOrder": [],
          "description": "Stops watching resources through this channel.",
          "path": "channels/stop"
        }
      }
    },
    "drives": {
      "methods": {
        "get": {
          "description": "Gets a shared drive's metadata by ID.",
          "parameters": {
            "driveId": {
              "type": "string",
              "required": true,
              "description": "The ID of the shared drive.",
              "location": "path"
            },
            "useDomainAdminAccess": {
              "default": "false",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the shared drive belongs.",
              "location": "query",
              "type": "boolean"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "httpMethod": "GET",
          "flatPath": "drives/{driveId}",
          "path": "drives/{driveId}",
          "id": "drive.drives.get",
          "response": {
            "$ref": "Drive"
          },
          "parameterOrder": [
            "driveId"
          ]
        },
        "delete": {
          "description": "Permanently deletes a shared drive for which the user is an `organizer`. The shared drive cannot contain any untrashed items.",
          "parameterOrder": [
            "driveId"
          ],
          "path": "drives/{driveId}",
          "flatPath": "drives/{driveId}",
          "id": "drive.drives.delete",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "parameters": {
            "allowItemDeletion": {
              "location": "query",
              "type": "boolean",
              "description": "Whether any items inside the shared drive should also be deleted. This option is only supported when `useDomainAdminAccess` is also set to `true`.",
              "default": "false"
            },
            "driveId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the shared drive."
            },
            "useDomainAdminAccess": {
              "location": "query",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the shared drive belongs.",
              "default": "false",
              "type": "boolean"
            }
          }
        },
        "unhide": {
          "httpMethod": "POST",
          "path": "drives/{driveId}/unhide",
          "parameterOrder": [
            "driveId"
          ],
          "id": "drive.drives.unhide",
          "description": "Restores a shared drive to the default view.",
          "response": {
            "$ref": "Drive"
          },
          "parameters": {
            "driveId": {
              "location": "path",
              "description": "The ID of the shared drive.",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "drives/{driveId}/unhide",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ]
        },
        "update": {
          "path": "drives/{driveId}",
          "flatPath": "drives/{driveId}",
          "parameterOrder": [
            "driveId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "id": "drive.drives.update",
          "description": "Updates the metadata for a shared drive.",
          "request": {
            "$ref": "Drive"
          },
          "response": {
            "$ref": "Drive"
          },
          "httpMethod": "PUT",
          "parameters": {
            "useDomainAdminAccess": {
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the shared drive belongs.",
              "default": "false",
              "location": "query",
              "type": "boolean"
            },
            "driveId": {
              "description": "The ID of the shared drive.",
              "type": "string",
              "location": "path",
              "required": true
            }
          }
        },
        "list": {
          "response": {
            "$ref": "DriveList"
          },
          "path": "drives",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameterOrder": [],
          "description": " Lists the user's shared drives. This method accepts the `q` parameter, which is a search query combining one or more search terms. For more information, see the [Search for shared drives](https://developers.google.com/workspace/drive/api/guides/search-shareddrives) guide.",
          "parameters": {
            "maxResults": {
              "default": "10",
              "type": "integer",
              "minimum": "1",
              "location": "query",
              "description": "Maximum number of shared drives to return per page.",
              "format": "int32",
              "maximum": "100"
            },
            "pageToken": {
              "description": "Page token for shared drives.",
              "location": "query",
              "type": "string"
            },
            "useDomainAdminAccess": {
              "location": "query",
              "type": "boolean",
              "description": "Issue the request as a domain administrator; if set to true, then all shared drives of the domain in which the requester is an administrator are returned.",
              "default": "false"
            },
            "q": {
              "type": "string",
              "location": "query",
              "description": "Query string for searching shared drives."
            }
          },
          "id": "drive.drives.list",
          "flatPath": "drives",
          "httpMethod": "GET"
        },
        "insert": {
          "response": {
            "$ref": "Drive"
          },
          "parameters": {
            "requestId": {
              "description": "Required. An ID, such as a random UUID, which uniquely identifies this user's request for idempotent creation of a shared drive. A repeated request by the same user and with the same request ID will avoid creating duplicates by attempting to create the same shared drive. If the shared drive already exists a 409 error will be returned.",
              "required": true,
              "location": "query",
              "type": "string"
            }
          },
          "description": "Creates a new shared drive.",
          "path": "drives",
          "httpMethod": "POST",
          "parameterOrder": [
            "requestId"
          ],
          "id": "drive.drives.insert",
          "flatPath": "drives",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "request": {
            "$ref": "Drive"
          }
        },
        "hide": {
          "id": "drive.drives.hide",
          "parameters": {
            "driveId": {
              "description": "The ID of the shared drive.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Drive"
          },
          "httpMethod": "POST",
          "flatPath": "drives/{driveId}/hide",
          "description": "Hides a shared drive from the default view.",
          "path": "drives/{driveId}/hide",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "parameterOrder": [
            "driveId"
          ]
        }
      }
    },
    "permissions": {
      "methods": {
        "patch": {
          "parameterOrder": [
            "fileId",
            "permissionId"
          ],
          "description": "Updates a permission using patch semantics. **Warning:** Concurrent permission modifications (such as update or delete) on the same file, folder, or shared drive aren't supported across any users or clients; only the last update is applied.",
          "parameters": {
            "transferOwnership": {
              "description": "Whether changing a role to `owner` downgrades the current owners to writers. Does nothing if the specified role is not `owner`.",
              "location": "query",
              "default": "false",
              "type": "boolean"
            },
            "enforceExpansiveAccess": {
              "default": "false",
              "description": "Deprecated: All requests use the expansive access rules.",
              "location": "query",
              "deprecated": true,
              "type": "boolean"
            },
            "fileId": {
              "location": "path",
              "description": "The ID for the file or shared drive.",
              "required": true,
              "type": "string"
            },
            "useDomainAdminAccess": {
              "default": "false",
[...]
