{
  "protocol": "rest",
  "basePath": "",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "description": "Provides a historical view of activity in Google Drive.",
  "rootUrl": "https://driveactivity.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "id": "driveactivity:v2",
  "baseUrl": "https://driveactivity.googleapis.com/",
  "version_module": true,
  "discoveryVersion": "v1",
  "name": "driveactivity",
  "canonicalName": "Drive Activity",
  "version": "v2",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.activity": {
          "description": "View and add to the activity record of files in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.activity.readonly": {
          "description": "View the activity record of files in your Google Drive"
        }
      }
    }
  },
  "revision": "20260825",
  "resources": {
    "activity": {
      "methods": {
        "query": {
          "parameters": {},
          "path": "v2/activity:query",
          "response": {
            "$ref": "QueryDriveActivityResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive.activity",
            "https://www.googleapis.com/auth/drive.activity.readonly"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "QueryDriveActivityRequest"
          },
          "description": "Query past activity in Google Drive.",
          "parameterOrder": [],
          "flatPath": "v2/activity:query",
          "id": "driveactivity.activity.query"
        }
      }
    }
  },
  "ownerName": "Google",
  "documentationLink": "https://developers.google.com/workspace/drive/activity/",
  "parameters": {
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    }
  },
  "mtlsRootUrl": "https://driveactivity.mtls.googleapis.com/",
  "schemas": {
    "FileComment": {
      "description": "A comment on a file.",
      "properties": {
        "legacyCommentId": {
          "type": "string",
          "description": "The comment in the discussion thread. This identifier is an opaque string compatible with the Drive API; see https://developers.google.com/workspace/drive/v3/reference/comments/get"
        },
        "legacyDiscussionId": {
          "description": "The discussion thread to which the comment was added. This identifier is an opaque string compatible with the Drive API and references the first comment in a discussion; see https://developers.google.com/workspace/drive/v3/reference/comments/get",
          "type": "string"
        },
        "parent": {
          "description": "The Drive item containing this comment.",
          "$ref": "DriveItem"
        },
        "linkToDiscussion": {
          "type": "string",
          "description": "The link to the discussion thread containing this comment, for example, `https://docs.google.com/DOCUMENT_ID/edit?disco=THREAD_ID`."
        }
      },
      "type": "object",
      "id": "FileComment"
    },
    "UnknownUser": {
      "properties": {},
      "description": "A user about whom nothing is currently known.",
      "id": "UnknownUser",
      "type": "object"
    },
    "Move": {
      "type": "object",
      "id": "Move",
      "description": "An object was moved.",
      "properties": {
        "removedParents": {
          "items": {
            "$ref": "TargetReference"
          },
          "description": "The removed parent object(s).",
          "type": "array"
        },
        "addedParents": {
          "type": "array",
          "description": "The added parent object(s).",
          "items": {
            "$ref": "TargetReference"
          }
        }
      }
    },
    "Comment": {
      "type": "object",
      "id": "Comment",
      "properties": {
        "suggestion": {
          "$ref": "Suggestion",
          "description": "A change on a suggestion."
        },
        "mentionedUsers": {
          "description": "Users who are mentioned in this comment.",
          "items": {
            "$ref": "User"
          },
          "type": "array"
        },
        "post": {
          "description": "A change on a regular posted comment.",
          "$ref": "Post"
        },
        "assignment": {
          "description": "A change on an assignment.",
          "$ref": "Assignment"
        }
      },
      "description": "A change about comments on an object."
    },
    "SingleUser": {
      "id": "SingleUser",
      "description": "Wrapper for User Field value.",
      "type": "object",
      "properties": {
        "value": {
          "description": "User value as email.",
          "type": "string"
        }
      }
    },
    "TargetReference": {
      "description": "A lightweight reference to the target of activity.",
      "id": "TargetReference",
      "properties": {
        "driveItem": {
          "description": "The target is a Drive item.",
          "$ref": "DriveItemReference"
        },
        "drive": {
          "$ref": "DriveReference",
          "description": "The target is a shared drive."
        },
        "teamDrive": {
          "$ref": "TeamDriveReference",
          "description": "This field is deprecated; please use the `drive` field instead.",
          "deprecated": true
        }
      },
      "type": "object"
    },
    "Post": {
      "description": "A regular posted comment.",
      "type": "object",
      "id": "Post",
      "properties": {
        "subtype": {
          "type": "string",
          "enumDescriptions": [
            "Subtype not available.",
            "A post was added.",
            "A post was deleted.",
            "A reply was added.",
            "A reply was deleted.",
            "A posted comment was resolved.",
            "A posted comment was reopened."
          ],
          "description": "The sub-type of this event.",
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "RESOLVED",
            "REOPENED"
          ]
        }
      }
    },
    "QueryDriveActivityResponse": {
      "description": "Response message for querying Drive activity.",
      "id": "QueryDriveActivityResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "activities": {
          "items": {
            "$ref": "DriveActivity"
          },
          "type": "array",
          "description": "List of activity requested."
        }
      }
    },
    "Actor": {
      "properties": {
        "system": {
          "$ref": "SystemEvent",
          "description": "A non-user actor (i.e. system triggered)."
        },
        "impersonation": {
          "description": "An account acting on behalf of another.",
          "$ref": "Impersonation"
        },
        "anonymous": {
          "description": "An anonymous user.",
          "$ref": "AnonymousUser"
        },
        "administrator": {
          "description": "An administrator.",
          "$ref": "Administrator"
        },
        "user": {
          "$ref": "User",
          "description": "An end user."
        }
      },
      "description": "The actor of a Drive activity.",
      "id": "Actor",
      "type": "object"
    },
    "TimeRange": {
      "type": "object",
      "description": "Information about time ranges.",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The start of the time range."
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The end of the time range."
        }
      },
      "id": "TimeRange"
    },
    "TeamDriveReference": {
      "id": "TeamDriveReference",
      "description": "This item is deprecated; please see `DriveReference` instead.",
      "properties": {
        "title": {
          "description": "This field is deprecated; please see `DriveReference.title` instead.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "This field is deprecated; please see `DriveReference.name` instead."
        }
      },
      "type": "object",
      "deprecated": true
    },
    "Action": {
      "description": "Information about the action.",
      "type": "object",
      "id": "Action",
      "properties": {
        "detail": {
          "$ref": "ActionDetail",
          "description": "The type and detailed information about the action."
        },
        "timestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "The action occurred at this specific time."
        },
        "actor": {
          "description": "The actor responsible for this action (or empty if all actors are responsible).",
          "$ref": "Actor"
        },
        "timeRange": {
          "description": "The action occurred over this time range.",
          "$ref": "TimeRange"
        },
        "target": {
          "$ref": "Target",
          "description": "The target this action affects (or empty if affecting all targets). This represents the state of the target immediately after this action occurred."
        }
      }
    },
    "TextList": {
      "id": "TextList",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "$ref": "Text"
          },
          "description": "Text values."
        }
      },
      "type": "object",
      "description": "Wrapper for Text List Field value."
    },
    "Rename": {
      "id": "Rename",
      "type": "object",
      "properties": {
        "oldTitle": {
          "description": "The previous title of the drive object.",
          "type": "string"
        },
        "newTitle": {
          "description": "The new title of the drive object.",
          "type": "string"
        }
      },
      "description": "An object was renamed."
    },
    "PermissionChange": {
      "id": "PermissionChange",
      "type": "object",
      "properties": {
        "addedPermissions": {
          "description": "The set of permissions added by this change.",
          "type": "array",
          "items": {
            "$ref": "Permission"
          }
        },
        "removedPermissions": {
          "items": {
            "$ref": "Permission"
          },
          "description": "The set of permissions removed by this change.",
          "type": "array"
        }
      },
      "description": "A change of the permission setting on an item."
    },
    "Upload": {
      "properties": {},
      "type": "object",
      "id": "Upload",
      "description": "An object was uploaded into Drive."
    },
    "Group": {
      "id": "Group",
      "type": "object",
      "properties": {
        "email": {
          "description": "The email address of the group.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The title of the group."
        }
      },
      "description": "Information about a group."
    },
    "AppliedLabelChange": {
      "id": "AppliedLabelChange",
      "type": "object",
      "properties": {
        "changes": {
          "type": "array",
          "items": {
            "$ref": "AppliedLabelChangeDetail"
          },
          "description": "Changes that were made to the Label on the Target."
        }
      },
      "description": "Label changes that were made on the Target."
    },
    "Integer": {
      "properties": {
        "value": {
          "format": "int64",
          "type": "string",
          "description": "Integer value."
        }
      },
      "description": "Wrapper for Integer Field value.",
      "id": "Integer",
      "type": "object"
    },
    "KnownUser": {
      "id": "KnownUser",
      "type": "object",
      "description": "A known user.",
      "properties": {
        "isCurrentUser": {
          "description": "True if this is the user making the request.",
          "type": "boolean"
        },
        "personName": {
          "description": "The identifier for this user that can be used with the People API to get more information. The format is `people/ACCOUNT_ID`. See https://developers.google.com/people/.",
          "type": "string"
        }
      }
    },
    "DriveActivity": {
      "id": "DriveActivity",
      "properties": {
        "actors": {
          "items": {
            "$ref": "Actor"
          },
          "description": "All actor(s) responsible for the activity.",
          "type": "array"
        },
        "targets": {
          "type": "array",
          "items": {
            "$ref": "Target"
          },
          "description": "All Google Drive objects this activity is about (e.g. file, folder, drive). This represents the state of the target immediately after the actions occurred."
        },
        "timeRange": {
          "description": "The activity occurred over this time range.",
          "$ref": "TimeRange"
        },
        "actions": {
          "description": "Details on all actions in this activity.",
          "items": {
            "$ref": "Action"
          },
          "type": "array"
        },
        "primaryActionDetail": {
          "$ref": "ActionDetail",
          "description": "Key information about the primary action for this activity. This is either representative, or the most important, of all actions in the activity, according to the ConsolidationStrategy in the request."
        },
        "timestamp": {
          "format": "google-datetime",
          "type": "string",
          "description": "The activity occurred at this specific time."
        }
      },
      "type": "object",
      "description": "A single Drive activity comprising one or more Actions by one or more Actors on one or more Targets. Some Action groupings occur spontaneously, such as moving an item into a shared folder triggering a permission change. Other groupings of related Actions, such as multiple Actors editing one item or moving multiple files into a new folder, are controlled by the selection of a ConsolidationStrategy in the QueryDriveActivityRequest."
    },
    "File": {
      "deprecated": true,
      "properties": {},
      "type": "object",
      "description": "This item is deprecated; please see `DriveFile` instead.",
      "id": "File"
    },
    "Anyone": {
      "id": "Anyone",
      "type": "object",
      "description": "Represents any user (including a logged out user).",
      "properties": {}
    },
    "NoConsolidation": {
      "type": "object",
      "id": "NoConsolidation",
      "description": "A strategy that does no consolidation of individual activities.",
      "properties": {}
    },
    "QueryDriveActivityRequest": {
      "properties": {
        "filter": {
          "type": "string",
          "description": "The filtering for items returned from this query request. The format of the filter string is a sequence of expressions, joined by an optional \"AND\", where each expression is of the form \"field operator value\". Supported fields: - `time`: Uses numerical operators on date values either in terms of milliseconds since Jan 1, 1970 or in RFC 3339 format. Examples: - `time > 1452409200000 AND time <= 1492812924310` - `time >= \"2016-01-10T01:02:03-05:00\"` - `detail.action_detail_case`: Uses the \"has\" operator (:) and either a singular value or a list of allowed action types enclosed in parentheses, separated by a space. To exclude a result from the response, prepend a hyphen (`-`) to the beginning of the filter string. Examples: - `detail.action_detail_case:RENAME` - `detail.action_detail_case:(CREATE RESTORE)` - `-detail.action_detail_case:MOVE` "
        },
        "pageSize": {
          "format": "int32",
          "description": "The minimum number of activities desired in the response; the server attempts to return at least this quantity. The server may also return fewer activities if it has a partial response ready before the request times out. If not set, a default value is used.",
          "type": "integer"
        },
        "itemName": {
          "description": "Return activities for this Drive item. The format is `items/ITEM_ID`.",
          "type": "string"
        },
        "ancestorName": {
          "type": "string",
          "description": "Return activities for this Drive folder, plus all children and descendants. The format is `items/ITEM_ID`."
        },
        "pageToken": {
          "description": "The token identifies which page of results to return. Set this to the next_page_token value returned from a previous query to obtain the following page of results. If not set, the first page of results is returned.",
          "type": "string"
        },
        "consolidationStrategy": {
          "description": "Details on how to consolidate related actions that make up the activity. If not set, then related actions aren't consolidated.",
          "$ref": "ConsolidationStrategy"
        }
      },
      "type": "object",
      "description": "The request message for querying Drive activity.",
      "id": "QueryDriveActivityRequest"
    },
    "DriveItem": {
      "id": "DriveItem",
      "properties": {
        "title": {
          "description": "The title of the Drive item.",
          "type": "string"
        },
        "owner": {
          "description": "Information about the owner of this Drive item.",
          "$ref": "Owner"
        },
        "file": {
          "$ref": "File",
          "description": "This field is deprecated; please use the `driveFile` field instead.",
          "deprecated": true
        },
        "folder": {
          "deprecated": true,
          "$ref": "Folder",
          "description": "This field is deprecated; please use the `driveFolder` field instead."
        },
        "driveFile": {
          "$ref": "DriveFile",
          "description": "The Drive item is a file."
        },
        "mimeType": {
          "description": "The MIME type of the Drive item. See https://developers.google.com/workspace/drive/v3/web/mime-types.",
          "type": "string"
        },
        "name": {
          "description": "The target Drive item. The format is `items/ITEM_ID`.",
          "type": "string"
        },
        "driveFolder": {
          "description": "The Drive item is a folder. Includes information about the type of folder.",
          "$ref": "DriveFolder"
        }
      },
      "description": "A Drive item, such as a file or folder.",
      "type": "object"
    },
    "ActionDetail": {
      "id": "ActionDetail",
      "type": "object",
      "properties": {
        "restore": {
          "$ref": "Restore",
          "description": "A deleted object was restored."
        },
        "permissionChange": {
          "$ref": "PermissionChange",
          "description": "The permission on an object was changed."
        },
        "settingsChange": {
          "$ref": "SettingsChange",
          "description": "Settings were changed."
        },
        "create": {
          "$ref": "Create",
          "description": "An object was created."
        },
        "rename": {
          "description": "An object was renamed.",
          "$ref": "Rename"
        },
        "appliedLabelChange": {
          "$ref": "AppliedLabelChange",
          "description": "Label was changed."
        },
        "move": {
          "$ref": "Move",
          "description": "An object was moved."
        },
        "delete": {
          "description": "An object was deleted.",
          "$ref": "Delete"
        },
        "edit": {
          "description": "An object was edited.",
          "$ref": "Edit"
        },
        "reference": {
          "description": "An object was referenced in an application outside of Drive/Docs.",
          "$ref": "ApplicationReference"
        },
        "dlpChange": {
          "$ref": "DataLeakPreventionChange",
          "description": "A change happened in data leak prevention status."
        },
        "comment": {
          "$ref": "Comment",
          "description": "A change about comments was made."
        }
      },
      "description": "Data describing the type and additional information of an action."
    },
    "Impersonation": {
      "id": "Impersonation",
      "type": "object",
      "properties": {
        "impersonatedUser": {
          "description": "The impersonated user.",
          "$ref": "User"
        }
      },
      "description": "Information about an impersonation, where an admin acts on behalf of an end user. Information about the acting admin is not currently available."
    },
    "SettingsChange": {
      "type": "object",
      "description": "Information about settings changes.",
      "id": "SettingsChange",
      "properties": {
        "restrictionChanges": {
          "items": {
            "$ref": "RestrictionChange"
          },
          "type": "array",
          "description": "The set of changes made to restrictions."
        }
      }
    },
    "DriveItemReference": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The target Drive item. The format is `items/ITEM_ID`."
        },
        "file": {
          "description": "This field is deprecated; please use the `driveFile` field instead.",
          "$ref": "File",
          "deprecated": true
        },
        "driveFile": {
          "$ref": "DriveFile",
          "description": "The Drive item is a file."
        },
        "driveFolder": {
          "$ref": "DriveFolder",
          "description": "The Drive item is a folder. Includes information about the type of folder."
        },
        "folder": {
          "$ref": "Folder",
          "deprecated": true,
          "description": "This field is deprecated; please use the `driveFolder` field instead."
        },
        "title": {
          "type": "string",
          "description": "The title of the Drive item."
        }
      },
      "id": "DriveItemReference",
      "type": "object",
      "description": "A lightweight reference to a Drive item, such as a file or folder."
    },
    "SystemEvent": {
      "properties": {
        "type": {
          "description": "The type of the system event that may triggered activity.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "USER_DELETION",
            "TRASH_AUTO_PURGE"
          ],
          "type": "string",
          "enumDescriptions": [
            "The event type is unspecified.",
            "The event is a consequence of a user account being deleted.",
            "The event is due to the system automatically purging trash."
          ]
        }
      },
      "id": "SystemEvent",
      "type": "object",
      "description": "Event triggered by system operations instead of end users."
    },
    "Folder": {
      "description": "This item is deprecated; please see `DriveFolder` instead.",
      "type": "object",
      "deprecated": true,
      "id": "Folder",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "MY_DRIVE_ROOT",
            "TEAM_DRIVE_ROOT",
            "STANDARD_FOLDER"
          ],
          "enumDescriptions": [
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead."
          ],
          "description": "This field is deprecated; please see `DriveFolder.type` instead.",
          "type": "string"
        }
      }
    },
    "Selection": {
      "id": "Selection",
      "type": "object",
      "description": "Wrapper for Selection Field value as combined value/display_name pair for selected choice.",
      "properties": {
        "displayName": {
          "description": "Selection value as human-readable display string.",
          "type": "string"
        },
        "value": {
          "description": "Selection value as Field Choice ID.",
          "type": "string"
        }
      }
    },
    "AppliedLabelChangeDetail": {
      "properties": {
        "fieldChanges": {
          "type": "array",
          "items": {
            "$ref": "FieldValueChange"
          },
          "description": "Field Changes. Only present if `types` contains `LABEL_FIELD_VALUE_CHANGED`."
        },
        "label": {
          "description": "The Label name representing the Label that changed. This name always contains the revision of the Label that was used when this Action occurred. The format is `labels/id@revision`.",
          "type": "string"
        },
        "types": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "The type of change to this Label is not available.",
              "The identified Label was added to the Target.",
              "The identified Label was removed from the Target.",
              "Field values were changed on the Target.",
              "The Label was applied as a side-effect of Drive item creation."
            ],
            "enum": [
              "TYPE_UNSPECIFIED",
              "LABEL_ADDED",
              "LABEL_REMOVED",
              "LABEL_FIELD_VALUE_CHANGED",
              "LABEL_APPLIED_BY_ITEM_CREATE"
            ],
            "type": "string"
          },
          "description": "The types of changes made to the Label on the Target."
        },
        "title": {
          "type": "string",
          "description": "The human-readable title of the label that changed."
        }
      },
      "description": "A change made to a Label on the Target.",
      "type": "object",
      "id": "AppliedLabelChangeDetail"
    },
    "AnonymousUser": {
      "description": "Empty message representing an anonymous user or indicating the authenticated user should be anonymized.",
      "type": "object",
      "properties": {},
      "id": "AnonymousUser"
    },
    "TeamDrive": {
      "properties": {
        "root": {
          "description": "This field is deprecated; please see `Drive.root` instead.",
          "$ref": "DriveItem"
        },
        "name": {
          "description": "This field is deprecated; please see `Drive.name` instead.",
          "type": "string"
        },
        "title": {
          "description": "This field is deprecated; please see `Drive.title` instead.",
          "type": "string"
        }
      },
      "id": "TeamDrive",
      "deprecated": true,
      "description": "This item is deprecated; please see `Drive` instead.",
      "type": "object"
    },
    "Target": {
      "type": "object",
      "properties": {
        "fileComment": {
          "description": "The target is a comment on a Drive file.",
          "$ref": "FileComment"
        },
        "teamDrive": {
          "deprecated": true,
          "description": "This field is deprecated; please use the `drive` field instead.",
          "$ref": "TeamDrive"
        },
        "drive": {
          "$ref": "Drive",
          "description": "The target is a shared drive."
        },
        "driveItem": {
          "description": "The target is a Drive item.",
          "$ref": "DriveItem"
        }
      },
      "description": "Information about the target of activity. For more information on how activity history is shared with users, see [Activity history visibility](https://developers.google.com/workspace/drive/activity/v2#activityhistory).",
      "id": "Target"
    },
    "RestrictionChange": {
      "id": "RestrictionChange",
      "properties": {
        "feature": {
          "description": "The feature which had a change in restriction policy.",
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false
          ],
          "type": "string",
          "enum": [
            "FEATURE_UNSPECIFIED",
            "SHARING_OUTSIDE_DOMAIN",
            "DIRECT_SHARING",
            "ITEM_DUPLICATION",
            "DRIVE_FILE_STREAM",
            "FILE_ORGANIZER_CAN_SHARE_FOLDERS",
            "READERS_CAN_DOWNLOAD",
            "WRITERS_CAN_DOWNLOAD"
          ],
          "enumDescriptions": [
            "The feature which changed restriction settings was not available.",
            "When restricted, this prevents items from being shared outside the domain.",
            "When restricted, this prevents direct sharing of individual items.",
            "Deprecated: Use READERS_CAN_DOWNLOAD instead.",
            "When restricted, this prevents use of Drive File Stream.",
            "When restricted, this limits sharing of folders to managers only.",
            "When restricted, this prevents actions like copy, download, and print for readers. Replaces ITEM_DUPLICATION.",
            "When restricted, this prevents actions like copy, download, and print for writers."
          ]
        },
        "newRestriction": {
          "enum": [
            "RESTRICTION_UNSPECIFIED",
            "UNRESTRICTED",
            "FULLY_RESTRICTED"
          ],
          "enumDescriptions": [
            "The type of restriction is not available.",
            "The feature is available without restriction.",
            "The use of this feature is fully restricted."
          ],
          "description": "The restriction in place after the change.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Information about restriction policy changes to a feature."
    },
    "DriveReference": {
      "type": "object",
      "description": "A lightweight reference to a shared drive.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of the shared drive. The format is `COLLECTION_ID/DRIVE_ID`. Clients should not assume a specific collection ID for this resource name."
        },
        "title": {
          "description": "The title of the shared drive.",
          "type": "string"
        }
      },
      "id": "DriveReference"
    },
    "Owner": {
      "properties": {
        "teamDrive": {
          "$ref": "TeamDriveReference",
          "description": "This field is deprecated; please use the `drive` field instead.",
          "deprecated": true
        },
        "drive": {
          "$ref": "DriveReference",
          "description": "The drive that owns the item."
        },
        "user": {
          "description": "The user that owns the Drive item.",
          "$ref": "User"
        },
        "domain": {
          "$ref": "Domain",
          "description": "The domain of the Drive item owner."
        }
      },
      "type": "object",
      "description": "Information about the owner of a Drive item.",
      "id": "Owner"
    },
    "SelectionList": {
      "type": "object",
      "id": "SelectionList",
      "description": "Wrapper for SelectionList Field value.",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "$ref": "Selection"
          },
          "description": "Selection values."
        }
      }
    },
    "UserList": {
      "id": "UserList",
      "description": "Wrapper for UserList Field value.",
      "properties": {
        "values": {
          "items": {
            "$ref": "SingleUser"
          },
          "type": "array",
          "description": "User values."
        }
      },
      "type": "object"
    },
    "New": {
      "id": "New",
      "type": "object",
      "properties": {},
      "description": "An object was created from scratch."
    },
    "Edit": {
      "id": "Edit",
      "properties": {},
      "type": "object",
      "description": "An empty message indicating an object was edited."
    },
    "Drive": {
      "properties": {
        "title": {
          "type": "string",
          "description": "The title of the shared drive."
        },
        "name": {
          "type": "string",
          "description": "The resource name of the shared drive. The format is `COLLECTION_ID/DRIVE_ID`. Clients should not assume a specific collection ID for this resource name."
        },
        "root": {
          "description": "The root of this shared drive.",
          "$ref": "DriveItem"
        }
      },
      "id": "Drive",
      "description": "Information about a shared drive.",
      "type": "object"
    },
    "Restore": {
      "description": "A deleted object was restored.",
      "id": "Restore",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "The type is not available.",
            "An object was restored from the trash."
          ],
          "description": "The type of restore action taken.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "UNTRASH"
          ]
        }
      }
    },
    "DriveFile": {
      "id": "DriveFile",
      "type": "object",
      "description": "A Drive item which is a file.",
      "properties": {}
    },
    "FieldValueChange": {
      "properties": {
        "newValue": {
          "$ref": "FieldValue",
          "description": "The value that is now set on the field. If not present, the field was cleared. At least one of {old_value|new_value} is always set."
        },
        "displayName": {
          "description": "The human-readable display name for this field.",
          "type": "string"
        },
        "fieldId": {
          "description": "The ID of this field. Field IDs are unique within a Label.",
          "type": "string"
        },
        "oldValue": {
          "description": "The value that was previously set on the field. If not present, the field was newly set. At least one of {old_value|new_value} is always set.",
          "$ref": "FieldValue"
        }
      },
      "id": "FieldValueChange",
      "description": "Change to a Field value.",
      "type": "object"
    },
    "Administrator": {
      "type": "object",
      "properties": {},
      "description": "Empty message representing an administrator.",
      "id": "Administrator"
    },
    "Copy": {
      "type": "object",
      "id": "Copy",
      "description": "An object was created by copying an existing object.",
      "properties": {
        "originalObject": {
          "$ref": "TargetReference",
          "description": "The original object."
        }
      }
    },
    "Suggestion": {
      "description": "A suggestion.",
      "id": "Suggestion",
      "properties": {
        "subtype": {
          "enumDescriptions": [
            "Subtype not available.",
            "A suggestion was added.",
            "A suggestion was deleted.",
            "A suggestion reply was added.",
            "A suggestion reply was deleted.",
            "A suggestion was accepted.",
            "A suggestion was rejected.",
            "An accepted suggestion was deleted.",
            "A rejected suggestion was deleted."
          ],
          "type": "string",
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "ACCEPTED",
            "REJECTED",
            "ACCEPT_DELETED",
            "REJECT_DELETED"
          ],
          "description": "The sub-type of this event."
        }
      },
      "type": "object"
    },
    "DriveFolder": {
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "MY_DRIVE_ROOT",
            "SHARED_DRIVE_ROOT",
            "STANDARD_FOLDER"
          ],
          "enumDescriptions": [
            "The folder type is unknown.",
            "The folder is the root of a user's MyDrive.",
            "The folder is the root of a shared drive.",
            "The folder is a standard, non-root, folder."
          ],
          "description": "The type of Drive folder.",
          "type": "string"
        }
      },
      "description": "A Drive item which is a folder.",
      "id": "DriveFolder",
      "type": "object"
    },
    "Legacy": {
      "type": "object",
      "properties": {},
      "id": "Legacy",
      "description": "A strategy that consolidates activities using the grouping rules from the legacy V1 Activity API. Similar actions occurring within a window of time can be grouped across multiple targets (such as moving a set of files at once) or multiple actors (such as several users editing the same item). Grouping rules for this strategy are specific to each type of action."
    },
    "DataLeakPreventionChange": {
      "id": "DataLeakPreventionChange",
      "description": "A change in the object's data leak prevention status.",
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of Data Leak Prevention (DLP) change.",
          "enumDescriptions": [
            "An update to the DLP state that is neither FLAGGED or CLEARED.",
            "Document has been flagged as containing sensitive content.",
            "Document is no longer flagged as containing sensitive content."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "FLAGGED",
            "CLEARED"
          ]
        }
      },
      "type": "object"
    },
    "Permission": {
      "description": "The permission setting of an object.",
      "properties": {
        "group": {
          "$ref": "Group",
          "description": "The group to whom this permission applies."
        },
        "domain": {
          "$ref": "Domain",
          "description": "The domain to whom this permission applies."
        },
        "anyone": {
          "description": "If set, this permission applies to anyone, even logged out users.",
          "$ref": "Anyone"
        },
        "user": {
          "description": "The user to whom this permission applies.",
          "$ref": "User"
        },
        "allowDiscovery": {
          "type": "boolean",
          "description": "If true, the item can be discovered (e.g. in the user's \"Shared with me\" collection) without needing a link to the item."
        },
        "role": {
          "description": "Indicates the [Google Drive permissions role](https://developers.google.com/workspace/drive/web/manage-sharing#roles). The role determines a user's ability to read, write, and comment on items.",
          "enumDescriptions": [
            "The role is not available.",
            "A role granting full access.",
            "A role granting the ability to manage people and settings.",
            "A role granting the ability to contribute and manage content.",
            "A role granting the ability to contribute content. This role is sometimes also known as \"writer\".",
            "A role granting the ability to view and comment on content.",
            "A role granting the ability to view content. This role is sometimes also known as \"reader\".",
            "A role granting the ability to view content only after it has been published to the web. This role is sometimes also known as \"published reader\". See https://support.google.com/sites/answer/6372880 for more information."
          ],
          "type": "string",
          "enum": [
            "ROLE_UNSPECIFIED",
            "OWNER",
            "ORGANIZER",
            "FILE_ORGANIZER",
            "EDITOR",
            "COMMENTER",
            "VIEWER",
            "PUBLISHED_VIEWER"
          ]
        }
      },
      "id": "Permission",
      "type": "object"
    },
    "Date": {
      "id": "Date",
      "description": "Wrapper for Date Field value.",
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "format": "google-datetime",
          "description": "Date value."
        }
      }
    },
    "ApplicationReference": {
      "description": "Activity in applications other than Drive.",
      "id": "ApplicationReference",
      "type": "object",
      "properties": {
        "type": {
          "description": "The reference type corresponding to this event.",
          "enum": [
            "UNSPECIFIED_REFERENCE_TYPE",
            "LINK",
            "DISCUSS"
          ],
          "type": "string",
          "enumDescriptions": [
            "The type is not available.",
            "The links of one or more Drive items were posted.",
            "Comments were made regarding a Drive item."
          ]
        }
      }
    },
    "Text": {
      "description": "Wrapper for Text Field value.",
      "id": "Text",
      "type": "object",
      "properties": {
        "value": {
          "description": "Value of Text Field.",
          "type": "string"
        }
      }
    },
    "Create": {
      "type": "object",
      "id": "Create",
      "description": "An object was created.",
      "properties": {
        "upload": {
          "$ref": "Upload",
          "description": "If present, indicates the object originated externally and was uploaded to Drive."
        },
        "copy": {
          "description": "If present, indicates the object was created by copying an existing Drive object.",
          "$ref": "Copy"
        },
        "new": {
          "$ref": "New",
          "description": "If present, indicates the object was newly created (e.g. as a blank document), not derived from a Drive object or external object."
        }
      }
    },
    "Assignment": {
      "type": "object",
      "description": "A comment with an assignment.",
      "id": "Assignment",
      "properties": {
        "subtype": {
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "RESOLVED",
            "REOPENED",
            "REASSIGNED"
          ],
          "description": "The sub-type of this event.",
          "type": "string",
          "enumDescriptions": [
            "Subtype not available.",
            "An assignment was added.",
            "An assignment was deleted.",
            "An assignment reply was added.",
            "An assignment reply was deleted.",
            "An assignment was resolved.",
            "A resolved assignment was reopened.",
            "An assignment was reassigned."
          ]
        },
        "assignedUser": {
          "description": "The user to whom the comment was assigned.",
          "$ref": "User"
        }
      }
    },
    "ConsolidationStrategy": {
      "properties": {
        "legacy": {
          "description": "The individual activities are consolidated using the legacy strategy.",
          "$ref": "Legacy"
        },
        "none": {
          "description": "The individual activities are not consolidated.",
          "$ref": "NoConsolidation"
        }
      },
      "type": "object",
      "description": "How the individual activities are consolidated. If a set of activities is related they can be consolidated into one combined activity, such as one actor performing the same action on multiple targets, or multiple actors performing the same action on a single target. The strategy defines the rules for which activities are related.",
      "id": "ConsolidationStrategy"
    },
    "DeletedUser": {
      "type": "object",
      "description": "A user whose account has since been deleted.",
      "id": "DeletedUser",
      "properties": {}
    },
    "FieldValue": {
      "type": "object",
      "id": "FieldValue",
      "description": "Contains a value of a Field.",
      "properties": {
        "textList": {
          "$ref": "TextList",
          "description": "Text List Field value."
        },
        "date": {
          "$ref": "Date",
          "description": "Date Field value."
        },
        "selectionList": {
          "description": "Selection List Field value.",
          "$ref": "SelectionList"
        },
        "selection": {
          "description": "Selection Field value.",
          "$ref": "Selection"
        },
        "integer": {
          "$ref": "Integer",
          "description": "Integer Field value."
        },
        "userList": {
          "description": "User List Field value.",
          "$ref": "UserList"
        },
        "text": {
          "$ref": "Text",
          "description": "Text Field value."
        },
        "user": {
          "$ref": "SingleUser",
          "description": "User Field value."
        }
      }
    },
    "Domain": {
      "description": "Information about a domain.",
      "id": "Domain",
      "type": "object",
      "properties": {
        "legacyId": {
          "type": "string",
          "description": "An opaque string used to identify this domain."
        },
        "name": {
          "type": "string",
          "description": "The name of the domain, e.g. `google.com`."
        }
      }
    },
    "User": {
      "description": "Information about an end user.",
      "type": "object",
      "id": "User",
      "properties": {
        "knownUser": {
          "$ref": "KnownUser",
          "description": "A known user."
        },
        "deletedUser": {
          "description": "A user whose account has since been deleted.",
          "$ref": "DeletedUser"
        },
        "unknownUser": {
          "description": "A user about whom nothing is currently known.",
          "$ref": "UnknownUser"
        }
      }
    },
    "Delete": {
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "TRASH",
            "PERMANENT_DELETE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Deletion type is not available.",
            "An object was put into the trash.",
            "An object was deleted permanently."
          ],
          "description": "The type of delete action taken."
        }
      },
      "type": "object",
      "id": "Delete",
      "description": "An object was deleted."
    }
  },
  "title": "Drive Activity API"
}