{
  "name": "essentialcontacts",
  "discoveryVersion": "v1",
  "rootUrl": "https://essentialcontacts.googleapis.com/",
  "ownerName": "Google",
  "basePath": "",
  "kind": "discovery#restDescription",
  "parameters": {
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    }
  },
  "batchPath": "batch",
  "mtlsRootUrl": "https://essentialcontacts.mtls.googleapis.com/",
  "documentationLink": "https://cloud.google.com/essentialcontacts/docs/",
  "version": "v1",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "id": "essentialcontacts:v1",
  "resources": {
    "organizations": {
      "resources": {
        "contacts": {
          "methods": {
            "delete": {
              "path": "v1/{+name}",
              "description": "Deletes a contact.",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^organizations/[^/]+/contacts/[^/]+$",
                  "description": "Required. The name of the contact to delete. Format: organizations/{organization}/contacts/{contact}, folders/{folder}/contacts/{contact} or projects/{project}/contacts/{contact} (where {project} is the project number)",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/organizations/{organizationsId}/contacts/{contactsId}",
              "id": "essentialcontacts.organizations.contacts.delete"
            },
            "get": {
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/contacts/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the contact to retrieve. Format: organizations/{organization}/contacts/{contact}, folders/{folder}/contacts/{contact} or projects/{project}/contacts/{contact} (where {project} is the project number)"
                }
              },
              "flatPath": "v1/organizations/{organizationsId}/contacts/{contactsId}",
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets a single contact.",
              "parameterOrder": [
                "name"
              ],
              "id": "essentialcontacts.organizations.contacts.get"
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "id": "essentialcontacts.organizations.contacts.patch",
              "request": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              },
              "flatPath": "v1/organizations/{organizationsId}/contacts/{contactsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              },
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "description": "Optional. The update mask applied to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                  "location": "query"
                },
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/contacts/[^/]+$",
                  "description": "Output only. The identifier for the contact. Format: {resource_type}/{resource_id}/contacts/{contact_id}",
                  "required": true
                }
              },
              "path": "v1/{+name}",
              "httpMethod": "PATCH",
              "description": "Updates a contact. Note: A contact's email address cannot be changed."
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1ListContactsResponse"
              },
              "description": "Lists the contacts that have been set on a resource.",
              "id": "essentialcontacts.organizations.contacts.list",
              "httpMethod": "GET",
              "path": "v1/{+parent}/contacts",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/organizations/{organizationsId}/contacts",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. If present, retrieves the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of other method parameters should be identical to those in the previous call."
                },
                "pageSize": {
                  "description": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. The presence of `next_page_token` in the response indicates that more results might be available. If not specified, the default page_size is 100.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. The parent resource name. Format: organizations/{organization}, folders/{folder} or projects/{project} (where {project} is the project number)",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^organizations/[^/]+$"
                }
              }
            },
            "create": {
              "httpMethod": "POST",
              "flatPath": "v1/organizations/{organizationsId}/contacts",
              "description": "Adds a new contact for a resource.",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+$",
                  "description": "Required. The resource to save this contact for. Format: organizations/{organization}, folders/{folder} or projects/{project} (where {project} is the project number)"
                }
              },
              "id": "essentialcontacts.organizations.contacts.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              },
              "path": "v1/{+parent}/contacts",
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              }
            },
            "sendTestMessage": {
              "flatPath": "v1/organizations/{organizationsId}/contacts:sendTestMessage",
              "request": {
                "$ref": "GoogleCloudEssentialcontactsV1SendTestMessageRequest"
              },
              "id": "essentialcontacts.organizations.contacts.sendTestMessage",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+resource}/contacts:sendTestMessage",
              "parameterOrder": [
                "resource"
              ],
              "parameters": {
                "resource": {
                  "required": true,
                  "pattern": "^organizations/[^/]+$",
                  "description": "Required. The name of the resource to send the test message for. All contacts must either be set directly on this resource or inherited from another resource that is an ancestor of this one. Format: organizations/{organization}, folders/{folder} or projects/{project} (where {project} is the project number)",
                  "type": "string",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "httpMethod": "POST",
              "description": "Allows a contact admin to send a test message to contact to verify that it has been configured correctly."
            },
            "compute": {
              "path": "v1/{+parent}/contacts:compute",
              "parameterOrder": [
                "parent"
              ],
              "id": "essentialcontacts.organizations.contacts.compute",
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1ComputeContactsResponse"
              },
              "flatPath": "v1/organizations/{organizationsId}/contacts:compute",
              "httpMethod": "GET",
              "description": "Lists all contacts for the resource that are subscribed to the specified notification categories, including contacts inherited from any parent resources.",
              "parameters": {
                "notificationCategories": {
                  "location": "query",
                  "description": "The categories of notifications to compute contacts for. If ALL is included in this list, contacts subscribed to any notification category will be returned.",
                  "enumDescriptions": [
                    "Notification category is unrecognized or unspecified.",
                    "All notifications related to the resource, including notifications pertaining to categories added in the future.",
                    "Notifications related to imminent account suspension.",
                    "Notifications related to security/privacy incidents, notifications, and vulnerabilities.",
                    "Notifications related to technical events and issues such as outages, errors, or bugs.",
                    "Notifications related to billing and payments notifications, price updates, errors, or credits.",
                    "Notifications related to enforcement actions, regulatory compliance, or government notices.",
                    "Notifications related to new versions, product terms updates, or deprecations.",
                    "Child category of TECHNICAL. If assigned, technical incident notifications will go to these contacts instead of TECHNICAL."
                  ],
                  "repeated": true,
                  "enum": [
                    "NOTIFICATION_CATEGORY_UNSPECIFIED",
                    "ALL",
                    "SUSPENSION",
                    "SECURITY",
                    "TECHNICAL",
                    "BILLING",
                    "LEGAL",
                    "PRODUCT_UPDATES",
                    "TECHNICAL_INCIDENTS"
                  ],
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "pattern": "^organizations/[^/]+$",
                  "description": "Required. The name of the resource to compute contacts for. Format: organizations/{organization}, folders/{folder} or projects/{project} (where {project} is the project number)",
                  "type": "string",
                  "location": "path"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. The presence of `next_page_token` in the response indicates that more results might be available. If not specified, the default page_size is 100.",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "Optional. If present, retrieves the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of other method parameters should be identical to those in the previous call.",
                  "type": "string",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "contacts": {
          "methods": {
            "create": {
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "path": "v1/{+parent}/contacts",
              "request": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              },
              "description": "Adds a new contact for a resource.",
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. The resource to save this contact for. Format: organizations/{organization}, folders/{folder} or projects/{project} (where {project} is the project number)",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "essentialcontacts.projects.contacts.create",
              "flatPath": "v1/projects/{projectsId}/contacts"
            },
            "get": {
              "description": "Gets a single contact.",
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              },
              "id": "essentialcontacts.projects.contacts.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/contacts/{contactsId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/contacts/[^/]+$",
                  "description": "Required. The name of the contact to retrieve. Format: organizations/{organization}/contacts/{contact}, folders/{folder}/contacts/{contact} or projects/{project}/contacts/{contact} (where {project} is the project number)",
                  "type": "string",
                  "required": true
                }
              }
            },
            "delete": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "id": "essentialcontacts.projects.contacts.delete",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "DELETE",
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/contacts/{contactsId}",
              "description": "Deletes a contact.",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the contact to delete. Format: organizations/{organization}/contacts/{contact}, folders/{folder}/contacts/{contact} or projects/{project}/contacts/{contact} (where {project} is the project number)",
                  "type": "string",
                  "pattern": "^projects/[^/]+/contacts/[^/]+$",
                  "required": true
                }
              }
            },
            "patch": {
              "flatPath": "v1/projects/{projectsId}/contacts/{contactsId}",
              "id": "essentialcontacts.projects.contacts.patch",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/contacts/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Output only. The identifier for the contact. Format: {resource_type}/{resource_id}/contacts/{contact_id}"
                },
                "updateMask": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. The update mask applied to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                  "format": "google-fieldmask"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "request": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              },
              "path": "v1/{+name}",
              "description": "Updates a contact. Note: A contact's email address cannot be changed.",
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              }
            },
            "compute": {
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1ComputeContactsResponse"
              },
              "id": "essentialcontacts.projects.contacts.compute",
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists all contacts for the resource that are subscribed to the specified notification categories, including contacts inherited from any parent resources.",
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. The presence of `next_page_token` in the response indicates that more results might be available. If not specified, the default page_size is 100.",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. If present, retrieves the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of other method parameters should be identical to those in the previous call.",
                  "type": "string"
                },
                "notificationCategories": {
                  "repeated": true,
                  "enum": [
                    "NOTIFICATION_CATEGORY_UNSPECIFIED",
                    "ALL",
                    "SUSPENSION",
                    "SECURITY",
                    "TECHNICAL",
                    "BILLING",
                    "LEGAL",
                    "PRODUCT_UPDATES",
                    "TECHNICAL_INCIDENTS"
                  ],
                  "type": "string",
                  "description": "The categories of notifications to compute contacts for. If ALL is included in this list, contacts subscribed to any notification category will be returned.",
                  "location": "query",
                  "enumDescriptions": [
                    "Notification category is unrecognized or unspecified.",
                    "All notifications related to the resource, including notifications pertaining to categories added in the future.",
                    "Notifications related to imminent account suspension.",
                    "Notifications related to security/privacy incidents, notifications, and vulnerabilities.",
                    "Notifications related to technical events and issues such as outages, errors, or bugs.",
                    "Notifications related to billing and payments notifications, price updates, errors, or credits.",
                    "Notifications related to enforcement actions, regulatory compliance, or government notices.",
                    "Notifications related to new versions, product terms updates, or deprecations.",
                    "Child category of TECHNICAL. If assigned, technical incident notifications will go to these contacts instead of TECHNICAL."
                  ]
                },
                "parent": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the resource to compute contacts for. Format: organizations/{organization}, folders/{folder} or projects/{project} (where {project} is the project number)",
                  "location": "path",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "flatPath": "v1/projects/{projectsId}/contacts:compute",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+parent}/contacts:compute"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/contacts",
              "id": "essentialcontacts.projects.contacts.list",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1ListContactsResponse"
              },
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "description": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. The presence of `next_page_token` in the response indicates that more results might be available. If not specified, the default page_size is 100.",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. If present, retrieves the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of other method parameters should be identical to those in the previous call.",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The parent resource name. Format: organizations/{organization}, folders/{folder} or projects/{project} (where {project} is the project number)",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Lists the contacts that have been set on a resource.",
              "path": "v1/{+parent}/contacts",
              "httpMethod": "GET"
            },
            "sendTestMessage": {
              "path": "v1/{+resource}/contacts:sendTestMessage",
              "flatPath": "v1/projects/{projectsId}/contacts:sendTestMessage",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "resource": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the resource to send the test message for. All contacts must either be set directly on this resource or inherited from another resource that is an ancestor of this one. Format: organizations/{organization}, folders/{folder} or projects/{project} (where {project} is the project number)",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                }
              },
              "description": "Allows a contact admin to send a test message to contact to verify that it has been configured correctly.",
              "request": {
                "$ref": "GoogleCloudEssentialcontactsV1SendTestMessageRequest"
              },
              "parameterOrder": [
                "resource"
              ],
              "id": "essentialcontacts.projects.contacts.sendTestMessage",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              }
            }
          }
        }
      }
    },
    "folders": {
      "resources": {
        "contacts": {
          "methods": {
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "description": "Updates a contact. Note: A contact's email address cannot be changed.",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "description": "Optional. The update mask applied to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                  "format": "google-fieldmask",
                  "location": "query"
                },
                "name": {
                  "pattern": "^folders/[^/]+/contacts/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Output only. The identifier for the contact. Format: {resource_type}/{resource_id}/contacts/{contact_id}",
                  "required": true
                }
              },
              "path": "v1/{+name}",
              "id": "essentialcontacts.folders.contacts.patch",
              "request": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              },
              "flatPath": "v1/folders/{foldersId}/contacts/{contactsId}"
            },
            "sendTestMessage": {
              "flatPath": "v1/folders/{foldersId}/contacts:sendTestMessage",
              "id": "essentialcontacts.folders.contacts.sendTestMessage",
              "request": {
                "$ref": "GoogleCloudEssentialcontactsV1SendTestMessageRequest"
              },
              "parameterOrder": [
                "resource"
              ],
              "path": "v1/{+resource}/contacts:sendTestMessage",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "resource": {
                  "required": true,
                  "description": "Required. The name of the resource to send the test message for. All contacts must either be set directly on this resource or inherited from another resource that is an ancestor of this one. Format: organizations/{organization}, folders/{folder} or projects/{project} (where {project} is the project number)",
                  "pattern": "^folders/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "Allows a contact admin to send a test message to contact to verify that it has been configured correctly.",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              }
            },
            "compute": {
              "flatPath": "v1/folders/{foldersId}/contacts:compute",
              "path": "v1/{+parent}/contacts:compute",
              "description": "Lists all contacts for the resource that are subscribed to the specified notification categories, including contacts inherited from any parent resources.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "essentialcontacts.folders.contacts.compute",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1ComputeContactsResponse"
              },
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. If present, retrieves the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of other method parameters should be identical to those in the previous call."
                },
                "notificationCategories": {
                  "enumDescriptions": [
                    "Notification category is unrecognized or unspecified.",
                    "All notifications related to the resource, including notifications pertaining to categories added in the future.",
                    "Notifications related to imminent account suspension.",
                    "Notifications related to security/privacy incidents, notifications, and vulnerabilities.",
                    "Notifications related to technical events and issues such as outages, errors, or bugs.",
                    "Notifications related to billing and payments notifications, price updates, errors, or credits.",
                    "Notifications related to enforcement actions, regulatory compliance, or government notices.",
                    "Notifications related to new versions, product terms updates, or deprecations.",
                    "Child category of TECHNICAL. If assigned, technical incident notifications will go to these contacts instead of TECHNICAL."
                  ],
                  "location": "query",
                  "description": "The categories of notifications to compute contacts for. If ALL is included in this list, contacts subscribed to any notification category will be returned.",
                  "type": "string",
                  "repeated": true,
                  "enum": [
                    "NOTIFICATION_CATEGORY_UNSPECIFIED",
                    "ALL",
                    "SUSPENSION",
                    "SECURITY",
                    "TECHNICAL",
                    "BILLING",
                    "LEGAL",
                    "PRODUCT_UPDATES",
                    "TECHNICAL_INCIDENTS"
                  ]
                },
                "parent": {
                  "location": "path",
                  "description": "Required. The name of the resource to compute contacts for. Format: organizations/{organization}, folders/{folder} or projects/{project} (where {project} is the project number)",
                  "pattern": "^folders/[^/]+$",
                  "type": "string",
                  "required": true
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. The presence of `next_page_token` in the response indicates that more results might be available. If not specified, the default page_size is 100."
                }
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "flatPath": "v1/folders/{foldersId}/contacts/{contactsId}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "essentialcontacts.folders.contacts.get",
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              },
              "description": "Gets a single contact.",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^folders/[^/]+/contacts/[^/]+$",
                  "description": "Required. The name of the contact to retrieve. Format: organizations/{organization}/contacts/{contact}, folders/{folder}/contacts/{contact} or projects/{project}/contacts/{contact} (where {project} is the project number)",
                  "type": "string",
                  "required": true
                }
              }
            },
            "delete": {
              "httpMethod": "DELETE",
              "description": "Deletes a contact.",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameters": {
                "name": {
                  "pattern": "^folders/[^/]+/contacts/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the contact to delete. Format: organizations/{organization}/contacts/{contact}, folders/{folder}/contacts/{contact} or projects/{project}/contacts/{contact} (where {project} is the project number)"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "flatPath": "v1/folders/{foldersId}/contacts/{contactsId}",
              "parameterOrder": [
                "name"
              ],
              "id": "essentialcontacts.folders.contacts.delete"
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              },
              "description": "Adds a new contact for a resource.",
              "httpMethod": "POST",
              "flatPath": "v1/folders/{foldersId}/contacts",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The resource to save this contact for. Format: organizations/{organization}, folders/{folder} or projects/{project} (where {project} is the project number)",
                  "pattern": "^folders/[^/]+$",
                  "required": true
                }
              },
              "path": "v1/{+parent}/contacts",
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              },
              "id": "essentialcontacts.folders.contacts.create"
            },
            "list": {
              "path": "v1/{+parent}/contacts",
              "description": "Lists the contacts that have been set on a resource.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/folders/{foldersId}/contacts",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1ListContactsResponse"
              },
              "id": "essentialcontacts.folders.contacts.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. The presence of `next_page_token` in the response indicates that more results might be available. If not specified, the default page_size is 100."
                },
                "pageToken": {
                  "description": "Optional. If present, retrieves the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of other method parameters should be identical to those in the previous call.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "pattern": "^folders/[^/]+$",
                  "description": "Required. The parent resource name. Format: organizations/{organization}, folders/{folder} or projects/{project} (where {project} is the project number)",
                  "location": "path",
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "revision": "20260901",
  "version_module": true,
  "description": "",
  "servicePath": "",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "title": "Essential Contacts API",
  "baseUrl": "https://essentialcontacts.googleapis.com/",
  "canonicalName": "Essentialcontacts",
  "schemas": {
    "GoogleCloudEssentialcontactsV1SendTestMessageRequest": {
      "properties": {
        "notificationCategory": {
          "enumDescriptions": [
            "Notification category is unrecognized or unspecified.",
            "All notifications related to the resource, including notifications pertaining to categories added in the future.",
            "Notifications related to imminent account suspension.",
            "Notifications related to security/privacy incidents, notifications, and vulnerabilities.",
            "Notifications related to technical events and issues such as outages, errors, or bugs.",
            "Notifications related to billing and payments notifications, price updates, errors, or credits.",
            "Notifications related to enforcement actions, regulatory compliance, or government notices.",
            "Notifications related to new versions, product terms updates, or deprecations.",
            "Child category of TECHNICAL. If assigned, technical incident notifications will go to these contacts instead of TECHNICAL."
          ],
          "type": "string",
          "description": "Required. The notification category to send the test message for. All contacts must be subscribed to this category.",
          "enum": [
            "NOTIFICATION_CATEGORY_UNSPECIFIED",
            "ALL",
            "SUSPENSION",
            "SECURITY",
            "TECHNICAL",
            "BILLING",
            "LEGAL",
            "PRODUCT_UPDATES",
            "TECHNICAL_INCIDENTS"
          ]
        },
        "contacts": {
          "description": "Required. The list of names of the contacts to send a test message to. Format: organizations/{organization}/contacts/{contact}, folders/{folder}/contacts/{contact} or projects/{project}/contacts/{contact} (where {project} is the project number)",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudEssentialcontactsV1SendTestMessageRequest",
      "description": "Request message for the SendTestMessage method."
    },
    "GoogleCloudEssentialcontactsV1Contact": {
      "id": "GoogleCloudEssentialcontactsV1Contact",
      "properties": {
        "email": {
          "type": "string",
          "description": "Required. The email address to send notifications to. The email address does not need to be a Google Account."
        },
        "notificationCategorySubscriptions": {
          "description": "Required. The categories of notifications that the contact will receive communications for.",
          "items": {
            "type": "string",
            "enum": [
              "NOTIFICATION_CATEGORY_UNSPECIFIED",
              "ALL",
              "SUSPENSION",
              "SECURITY",
              "TECHNICAL",
              "BILLING",
              "LEGAL",
              "PRODUCT_UPDATES",
              "TECHNICAL_INCIDENTS"
            ],
            "enumDescriptions": [
              "Notification category is unrecognized or unspecified.",
              "All notifications related to the resource, including notifications pertaining to categories added in the future.",
              "Notifications related to imminent account suspension.",
              "Notifications related to security/privacy incidents, notifications, and vulnerabilities.",
              "Notifications related to technical events and issues such as outages, errors, or bugs.",
              "Notifications related to billing and payments notifications, price updates, errors, or credits.",
              "Notifications related to enforcement actions, regulatory compliance, or government notices.",
              "Notifications related to new versions, product terms updates, or deprecations.",
              "Child category of TECHNICAL. If assigned, technical incident notifications will go to these contacts instead of TECHNICAL."
            ]
          },
          "type": "array"
        },
        "languageTag": {
          "type": "string",
          "description": "Required. The preferred language for notifications, as a ISO 639-1 language code. See [Supported languages](https://cloud.google.com/resource-manager/docs/managing-notification-contacts#supported-languages) for a list of supported languages."
        },
        "validationState": {
          "enumDescriptions": [
            "The validation state is unknown or unspecified.",
            "The contact is marked as valid. This is usually done manually by the contact admin. All new contacts begin in the valid state.",
            "The contact is considered invalid. This may become the state if the contact's email is found to be unreachable."
          ],
          "enum": [
            "VALIDATION_STATE_UNSPECIFIED",
            "VALID",
            "INVALID"
          ],
          "description": "Output only. The validity of the contact. A contact is considered valid if it is the correct recipient for notifications for a particular resource.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output only. The identifier for the contact. Format: {resource_type}/{resource_id}/contacts/{contact_id}",
          "readOnly": true
        },
        "validateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The last time the validation_state was updated, either manually or automatically. A contact is considered stale if its validation state was updated more than 1 year ago.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "A contact that will receive notifications from Google Cloud."
    },
    "GoogleCloudEssentialcontactsV1ComputeContactsResponse": {
      "description": "Response message for the ComputeContacts method.",
      "type": "object",
      "id": "GoogleCloudEssentialcontactsV1ComputeContactsResponse",
      "properties": {
        "nextPageToken": {
          "description": "If there are more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token` and the rest of the parameters the same as the original request.",
          "type": "string"
        },
        "contacts": {
          "description": "All contacts for the resource that are subscribed to the specified notification categories, including contacts inherited from any parent resources.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudEssentialcontactsV1Contact"
          }
        }
      }
    },
    "GoogleProtobufEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object",
      "id": "GoogleProtobufEmpty"
    },
    "GoogleCloudEssentialcontactsV1ListContactsResponse": {
      "description": "Response message for the ListContacts method.",
      "properties": {
        "contacts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudEssentialcontactsV1Contact"
          },
          "description": "The contacts for the specified resource."
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there are more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token` and the rest of the parameters the same as the original request."
        }
      },
      "type": "object",
      "id": "GoogleCloudEssentialcontactsV1ListContactsResponse"
    }
  }
}