{
  "version_module": true,
  "revision": "20260927",
  "batchPath": "batch",
  "description": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/factchecktools": {
          "description": "Read, create, update, and delete your ClaimReview data."
        }
      }
    }
  },
  "mtlsRootUrl": "https://factchecktools.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "id": "factchecktools:v1alpha1",
  "fullyEncodeReservedExpansion": true,
  "version": "v1alpha1",
  "name": "factchecktools",
  "ownerName": "Google",
  "parameters": {
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    }
  },
  "servicePath": "",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "rootUrl": "https://factchecktools.googleapis.com/",
  "title": "Fact Check Tools API",
  "protocol": "rest",
  "resources": {
    "claims": {
      "methods": {
        "imageSearch": {
          "id": "factchecktools.claims.imageSearch",
          "parameters": {
            "offset": {
              "description": "Optional. An integer that specifies the current offset (that is, starting result location) in search results. This field is only considered if `page_token` is unset. For example, 0 means to return results starting from the first matching result, and 10 means to return from the 11th result.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "imageUri": {
              "location": "query",
              "type": "string",
              "description": "Required. The URI of the source image. This must be a publicly-accessible image HTTP/HTTPS URL. When fetching images from HTTP/HTTPS URLs, Google cannot guarantee that the request will be completed. Your request may fail if the specified host denies the request (e.g. due to request throttling or DOS prevention), or if Google throttles requests to the site for abuse prevention. You should not depend on externally-hosted images for production applications."
            },
            "pageSize": {
              "location": "query",
              "description": "Optional. The pagination size. We will return up to that many results. Defaults to 10 if not set.",
              "format": "int32",
              "type": "integer"
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. The pagination token. You may provide the `next_page_token` returned from a previous List request, if any, in order to get the next page. All other fields must have the same values as in the previous request.",
              "location": "query"
            },
            "languageCode": {
              "type": "string",
              "description": "Optional. The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". Can be used to restrict results by language, though we do not currently consider the region.",
              "location": "query"
            }
          },
          "path": "v1alpha1/claims:imageSearch",
          "httpMethod": "GET",
          "description": "Search through fact-checked claims using an image as the query.",
          "flatPath": "v1alpha1/claims:imageSearch",
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimImageSearchResponse"
          }
        },
        "search": {
          "flatPath": "v1alpha1/claims:search",
          "id": "factchecktools.claims.search",
          "path": "v1alpha1/claims:search",
          "response": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimSearchResponse"
          },
          "httpMethod": "GET",
          "parameterOrder": [],
          "parameters": {
            "query": {
              "type": "string",
              "description": "Textual query string. Required unless `review_publisher_site_filter` is specified.",
              "location": "query"
            },
            "maxAgeDays": {
              "description": "The maximum age of the returned search results, in days. Age is determined by either claim date or review date, whichever is newer.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The pagination token. You may provide the `next_page_token` returned from a previous List request, if any, in order to get the next page. All other fields must have the same values as in the previous request."
            },
            "languageCode": {
              "type": "string",
              "description": "The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". Can be used to restrict results by language, though we do not currently consider the region.",
              "location": "query"
            },
            "offset": {
              "format": "int32",
              "description": "An integer that specifies the current offset (that is, starting result location) in search results. This field is only considered if `page_token` is unset. For example, 0 means to return results starting from the first matching result, and 10 means to return from the 11th result.",
              "location": "query",
              "type": "integer"
            },
            "reviewPublisherSiteFilter": {
              "location": "query",
              "type": "string",
              "description": "The review publisher site to filter results by, e.g. nytimes.com."
            },
            "pageSize": {
              "location": "query",
              "format": "int32",
              "description": "The pagination size. We will return up to that many results. Defaults to 10 if not set.",
              "type": "integer"
            }
          },
          "description": "Search through fact-checked claims."
        }
      }
    },
    "pages": {
      "methods": {
        "update": {
          "parameters": {
            "name": {
              "location": "path",
              "description": "The name of this `ClaimReview` markup page resource, in the form of `pages/{page_id}`. Except for update requests, this field is output-only and should not be set by the user.",
              "type": "string",
              "required": true,
              "pattern": "^pages/[^/]+$"
            }
          },
          "response": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage"
          },
          "request": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage"
          },
          "description": "Update for all `ClaimReview` markup on a page Note that this is a full update. To retain the existing `ClaimReview` markup on a page, first perform a Get operation, then modify the returned markup, and finally call Update with the entire `ClaimReview` markup as the body.",
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/factchecktools"
          ],
          "path": "v1alpha1/{+name}",
          "id": "factchecktools.pages.update",
          "flatPath": "v1alpha1/pages/{pagesId}",
          "parameterOrder": [
            "name"
          ]
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/factchecktools"
          ],
          "id": "factchecktools.pages.list",
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The pagination token. You may provide the `next_page_token` returned from a previous List request, if any, in order to get the next page. All other fields must have the same values as in the previous request."
            },
            "url": {
              "location": "query",
              "description": "The URL from which to get `ClaimReview` markup. There will be at most one result. If markup is associated with a more canonical version of the URL provided, we will return that URL instead. Cannot be specified along with an organization.",
              "type": "string"
            },
            "organization": {
              "description": "The organization for which we want to fetch markups for. For instance, \"site.com\". Cannot be specified along with an URL.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "The pagination size. We will return up to that many results. Defaults to 10 if not set. Has no effect if a URL is requested."
            },
            "offset": {
              "location": "query",
              "description": "An integer that specifies the current offset (that is, starting result location) in search results. This field is only considered if `page_token` is unset, and if the request is not for a specific URL. For example, 0 means to return results starting from the first matching result, and 10 means to return from the 11th result.",
              "format": "int32",
              "type": "integer"
            }
          },
          "description": "List the `ClaimReview` markup pages for a specific URL or for an organization.",
          "httpMethod": "GET",
          "flatPath": "v1alpha1/pages",
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ListClaimReviewMarkupPagesResponse"
          },
          "path": "v1alpha1/pages"
        },
        "get": {
          "flatPath": "v1alpha1/pages/{pagesId}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/factchecktools"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^pages/[^/]+$",
              "description": "The name of the resource to get, in the form of `pages/{page_id}`.",
              "required": true
            }
          },
          "description": "Get all `ClaimReview` markup on a page.",
          "parameterOrder": [
            "name"
          ],
          "path": "v1alpha1/{+name}",
          "id": "factchecktools.pages.get",
          "response": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage"
          }
        },
        "delete": {
          "path": "v1alpha1/{+name}",
          "flatPath": "v1alpha1/pages/{pagesId}",
          "description": "Delete all `ClaimReview` markup on a page.",
          "parameters": {
            "name": {
              "location": "path",
              "description": "The name of the resource to delete, in the form of `pages/{page_id}`.",
              "type": "string",
              "pattern": "^pages/[^/]+$",
              "required": true
            }
          },
          "httpMethod": "DELETE",
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "id": "factchecktools.pages.delete",
          "scopes": [
            "https://www.googleapis.com/auth/factchecktools"
          ],
          "parameterOrder": [
            "name"
          ]
        },
        "create": {
          "response": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage"
          },
          "parameterOrder": [],
          "parameters": {},
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage"
          },
          "description": "Create `ClaimReview` markup on a page.",
          "flatPath": "v1alpha1/pages",
          "scopes": [
            "https://www.googleapis.com/auth/factchecktools"
          ],
          "id": "factchecktools.pages.create",
          "path": "v1alpha1/pages"
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/fact-check/tools/api/",
  "baseUrl": "https://factchecktools.googleapis.com/",
  "basePath": "",
  "ownerDomain": "google.com",
  "schemas": {
    "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimSearchResponse": {
      "type": "object",
      "properties": {
        "claims": {
          "items": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1Claim"
          },
          "type": "array",
          "description": "The list of claims and all of their associated information."
        },
        "nextPageToken": {
          "description": "The next pagination token in the Search response. It should be used as the `page_token` for the following request. An empty value means no more results.",
          "type": "string"
        }
      },
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimSearchResponse",
      "description": "Response from searching fact-checked claims."
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkup": {
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkup",
      "properties": {
        "claimAuthor": {
          "description": "Info about the author of this claim.",
          "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimAuthor"
        },
        "url": {
          "description": "This field is optional, and will default to the page URL. We provide this field to allow you the override the default value, but the only permitted override is the page URL plus an optional anchor link (\"page jump\"). Corresponds to `ClaimReview.url`",
          "type": "string"
        },
        "claimFirstAppearance": {
          "description": "A link to a work in which this claim first appears. Corresponds to `ClaimReview.itemReviewed[@type=Claim].firstAppearance.url`.",
          "type": "string"
        },
        "claimLocation": {
          "description": "The location where this claim was made. Corresponds to `ClaimReview.itemReviewed.name`.",
          "type": "string"
        },
        "claimReviewed": {
          "description": "A short summary of the claim being evaluated. Corresponds to `ClaimReview.claimReviewed`.",
          "type": "string"
        },
        "rating": {
          "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimRating",
          "description": "Info about the rating of this claim review."
        },
        "claimAppearances": {
          "items": {
            "type": "string"
          },
          "description": "A list of links to works in which this claim appears, aside from the one specified in `claim_first_appearance`. Corresponds to `ClaimReview.itemReviewed[@type=Claim].appearance.url`.",
          "type": "array"
        },
        "claimDate": {
          "description": "The date when the claim was made or entered public discourse. Corresponds to `ClaimReview.itemReviewed.datePublished`.",
          "type": "string"
        }
      },
      "description": "Fields for an individual `ClaimReview` element. Except for sub-messages that group fields together, each of these fields correspond those in https://schema.org/ClaimReview. We list the precise mapping for each field.",
      "type": "object"
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1Publisher": {
      "description": "Information about the publisher.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of this publisher. For instance, \"Awesome Fact Checks\"."
        },
        "site": {
          "type": "string",
          "description": "Host-level site name, without the protocol or \"www\" prefix. For instance, \"awesomefactchecks.com\". This value of this field is based purely on the claim review URL."
        }
      },
      "type": "object",
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1Publisher"
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1ClaimAuthor": {
      "properties": {
        "jobTitle": {
          "type": "string",
          "description": "Corresponds to `ClaimReview.itemReviewed.author.jobTitle`."
        },
        "sameAs": {
          "description": "Corresponds to `ClaimReview.itemReviewed.author.sameAs`.",
          "type": "string"
        },
        "name": {
          "description": "A person or organization stating the claim. For instance, \"John Doe\". Corresponds to `ClaimReview.itemReviewed.author.name`.",
          "type": "string"
        },
        "imageUrl": {
          "description": "Corresponds to `ClaimReview.itemReviewed.author.image`.",
          "type": "string"
        }
      },
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimAuthor",
      "type": "object",
      "description": "Information about the claim author."
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimImageSearchResponseResult": {
      "type": "object",
      "properties": {
        "claim": {
          "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1Claim",
          "description": "A claim which matched the query."
        }
      },
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimImageSearchResponseResult",
      "description": "A claim and its associated information."
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewAuthor": {
      "properties": {
        "imageUrl": {
          "description": "Corresponds to `ClaimReview.author.image`.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of the organization that is publishing the fact check. Corresponds to `ClaimReview.author.name`."
        }
      },
      "type": "object",
      "description": "Information about the claim review author.",
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewAuthor"
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimImageSearchResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The next pagination token in the Search response. It should be used as the `page_token` for the following request. An empty value means no more results.",
          "type": "string"
        },
        "results": {
          "items": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimImageSearchResponseResult"
          },
          "type": "array",
          "description": "The list of claims and all of their associated information."
        }
      },
      "description": "Response from searching fact-checked claims by image.",
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimImageSearchResponse"
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReview": {
      "properties": {
        "languageCode": {
          "description": "The language this review was written in. For instance, \"en\" or \"de\".",
          "type": "string"
        },
        "url": {
          "description": "The URL of this claim review.",
          "type": "string"
        },
        "reviewDate": {
          "description": "The date the claim was reviewed.",
          "format": "google-datetime",
          "type": "string"
        },
        "publisher": {
          "description": "The publisher of this claim review.",
          "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1Publisher"
        },
        "textualRating": {
          "description": "Textual rating. For instance, \"Mostly false\".",
          "type": "string"
        },
        "title": {
          "description": "The title of this claim review, if it can be determined.",
          "type": "string"
        }
      },
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReview",
      "description": "Information about a claim review.",
      "type": "object"
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1ListClaimReviewMarkupPagesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The next pagination token in the Search response. It should be used as the `page_token` for the following request. An empty value means no more results.",
          "type": "string"
        },
        "claimReviewMarkupPages": {
          "items": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage"
          },
          "description": "The result list of pages of `ClaimReview` markup.",
          "type": "array"
        }
      },
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1ListClaimReviewMarkupPagesResponse",
      "type": "object",
      "description": "Response from listing `ClaimReview` markup."
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1Claim": {
      "type": "object",
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1Claim",
      "properties": {
        "claimReview": {
          "items": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReview"
          },
          "type": "array",
          "description": "One or more reviews of this claim (namely, a fact-checking article)."
        },
        "claimant": {
          "description": "A person or organization stating the claim. For instance, \"John Doe\".",
          "type": "string"
        },
        "claimDate": {
          "type": "string",
          "format": "google-datetime",
          "description": "The date that the claim was made."
        },
        "text": {
          "description": "The claim text. For instance, \"Crime has doubled in the last 2 years.\"",
          "type": "string"
        }
      },
      "description": "Information about the claim."
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1ClaimRating": {
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimRating",
      "type": "object",
      "properties": {
        "ratingValue": {
          "type": "integer",
          "description": "A numeric rating of this claim, in the range worstRating — bestRating inclusive. Corresponds to `ClaimReview.reviewRating.ratingValue`.",
          "format": "int32"
        },
        "worstRating": {
          "type": "integer",
          "format": "int32",
          "description": "For numeric ratings, the worst value possible in the scale from worst to best. Corresponds to `ClaimReview.reviewRating.worstRating`."
        },
        "textualRating": {
          "type": "string",
          "description": "The truthfulness rating as a human-readible short word or phrase. Corresponds to `ClaimReview.reviewRating.alternateName`."
        },
        "ratingExplanation": {
          "description": "Corresponds to `ClaimReview.reviewRating.ratingExplanation`.",
          "type": "string"
        },
        "imageUrl": {
          "description": "Corresponds to `ClaimReview.reviewRating.image`.",
          "type": "string"
        },
        "bestRating": {
          "description": "For numeric ratings, the best value possible in the scale from worst to best. Corresponds to `ClaimReview.reviewRating.bestRating`.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Information about the claim rating."
    },
    "GoogleProtobufEmpty": {
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "GoogleProtobufEmpty"
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage": {
      "description": "Holds one or more instances of `ClaimReview` markup for a webpage.",
      "type": "object",
      "properties": {
        "versionId": {
          "description": "The version ID for this markup. Except for update requests, this field is output-only and should not be set by the user.",
          "type": "string"
        },
        "claimReviewMarkups": {
          "type": "array",
          "description": "A list of individual claim reviews for this page. Each item in the list corresponds to one `ClaimReview` element.",
          "items": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkup"
          }
        },
        "pageUrl": {
          "description": "The URL of the page associated with this `ClaimReview` markup. While every individual `ClaimReview` has its own URL field, semantically this is a page-level field, and each `ClaimReview` on this page will use this value unless individually overridden. Corresponds to `ClaimReview.url`",
          "type": "string"
        },
        "publishDate": {
          "description": "The date when the fact check was published. Similar to the URL, semantically this is a page-level field, and each `ClaimReview` on this page will contain the same value. Corresponds to `ClaimReview.datePublished`",
          "type": "string"
        },
        "claimReviewAuthor": {
          "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewAuthor",
          "description": "Info about the author of this claim review. Similar to the above, semantically these are page-level fields, and each `ClaimReview` on this page will contain the same values."
        },
        "name": {
          "type": "string",
          "description": "The name of this `ClaimReview` markup page resource, in the form of `pages/{page_id}`. Except for update requests, this field is output-only and should not be set by the user."
        }
      },
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage"
    }
  },
  "canonicalName": "Fact Check Tools",
  "kind": "discovery#restDescription"
}