{
  "canonicalName": "Fact Check Tools",
  "discoveryVersion": "v1",
  "title": "Fact Check Tools API",
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://factchecktools.googleapis.com/",
  "ownerDomain": "google.com",
  "id": "factchecktools:v1alpha1",
  "protocol": "rest",
  "resources": {
    "pages": {
      "methods": {
        "update": {
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^pages/[^/]+$",
              "description": "The name of this `ClaimReview` markup page resource, in the form of `pages/{page_id}`. Except for update requests, this field is output-only and should not be set by the user.",
              "location": "path",
              "type": "string"
            }
          },
          "id": "factchecktools.pages.update",
          "flatPath": "v1alpha1/pages/{pagesId}",
          "description": "Update for all `ClaimReview` markup on a page Note that this is a full update. To retain the existing `ClaimReview` markup on a page, first perform a Get operation, then modify the returned markup, and finally call Update with the entire `ClaimReview` markup as the body.",
          "request": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage"
          },
          "path": "v1alpha1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/factchecktools"
          ],
          "response": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage"
          },
          "httpMethod": "PUT",
          "parameterOrder": [
            "name"
          ]
        },
        "list": {
          "httpMethod": "GET",
          "parameterOrder": [],
          "flatPath": "v1alpha1/pages",
          "description": "List the `ClaimReview` markup pages for a specific URL or for an organization.",
          "path": "v1alpha1/pages",
          "parameters": {
            "organization": {
              "location": "query",
              "type": "string",
              "description": "The organization for which we want to fetch markups for. For instance, \"site.com\". Cannot be specified along with an URL."
            },
            "url": {
              "type": "string",
              "description": "The URL from which to get `ClaimReview` markup. There will be at most one result. If markup is associated with a more canonical version of the URL provided, we will return that URL instead. Cannot be specified along with an organization.",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The pagination token. You may provide the `next_page_token` returned from a previous List request, if any, in order to get the next page. All other fields must have the same values as in the previous request."
            },
            "pageSize": {
              "type": "integer",
              "location": "query",
              "description": "The pagination size. We will return up to that many results. Defaults to 10 if not set. Has no effect if a URL is requested.",
              "format": "int32"
            },
            "offset": {
              "description": "An integer that specifies the current offset (that is, starting result location) in search results. This field is only considered if `page_token` is unset, and if the request is not for a specific URL. For example, 0 means to return results starting from the first matching result, and 10 means to return from the 11th result.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            }
          },
          "response": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ListClaimReviewMarkupPagesResponse"
          },
          "id": "factchecktools.pages.list",
          "scopes": [
            "https://www.googleapis.com/auth/factchecktools"
          ]
        },
        "create": {
          "response": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage"
          },
          "id": "factchecktools.pages.create",
          "path": "v1alpha1/pages",
          "httpMethod": "POST",
          "description": "Create `ClaimReview` markup on a page.",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/factchecktools"
          ],
          "parameters": {},
          "request": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage"
          },
          "flatPath": "v1alpha1/pages"
        },
        "delete": {
          "description": "Delete all `ClaimReview` markup on a page.",
          "parameters": {
            "name": {
              "location": "path",
              "description": "The name of the resource to delete, in the form of `pages/{page_id}`.",
              "type": "string",
              "required": true,
              "pattern": "^pages/[^/]+$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/factchecktools"
          ],
          "id": "factchecktools.pages.delete",
          "flatPath": "v1alpha1/pages/{pagesId}",
          "path": "v1alpha1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "httpMethod": "DELETE"
        },
        "get": {
          "id": "factchecktools.pages.get",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1alpha1/pages/{pagesId}",
          "parameters": {
            "name": {
              "description": "The name of the resource to get, in the form of `pages/{page_id}`.",
              "location": "path",
              "type": "string",
              "pattern": "^pages/[^/]+$",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/factchecktools"
          ],
          "httpMethod": "GET",
          "description": "Get all `ClaimReview` markup on a page.",
          "response": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage"
          },
          "path": "v1alpha1/{+name}"
        }
      }
    },
    "claims": {
      "methods": {
        "imageSearch": {
          "parameters": {
            "offset": {
              "format": "int32",
              "description": "Optional. An integer that specifies the current offset (that is, starting result location) in search results. This field is only considered if `page_token` is unset. For example, 0 means to return results starting from the first matching result, and 10 means to return from the 11th result.",
              "location": "query",
              "type": "integer"
            },
            "imageUri": {
              "description": "Required. The URI of the source image. This must be a publicly-accessible image HTTP/HTTPS URL. When fetching images from HTTP/HTTPS URLs, Google cannot guarantee that the request will be completed. Your request may fail if the specified host denies the request (e.g. due to request throttling or DOS prevention), or if Google throttles requests to the site for abuse prevention. You should not depend on externally-hosted images for production applications.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. The pagination token. You may provide the `next_page_token` returned from a previous List request, if any, in order to get the next page. All other fields must have the same values as in the previous request.",
              "location": "query"
            },
            "languageCode": {
              "description": "Optional. The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". Can be used to restrict results by language, though we do not currently consider the region.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "type": "integer",
              "description": "Optional. The pagination size. We will return up to that many results. Defaults to 10 if not set.",
              "format": "int32",
              "location": "query"
            }
          },
          "flatPath": "v1alpha1/claims:imageSearch",
          "id": "factchecktools.claims.imageSearch",
          "path": "v1alpha1/claims:imageSearch",
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimImageSearchResponse"
          },
          "description": "Search through fact-checked claims using an image as the query.",
          "parameterOrder": []
        },
        "search": {
          "response": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimSearchResponse"
          },
          "parameterOrder": [],
          "parameters": {
            "pageToken": {
              "description": "The pagination token. You may provide the `next_page_token` returned from a previous List request, if any, in order to get the next page. All other fields must have the same values as in the previous request.",
              "location": "query",
              "type": "string"
            },
            "languageCode": {
              "description": "The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". Can be used to restrict results by language, though we do not currently consider the region.",
              "type": "string",
              "location": "query"
            },
            "query": {
              "type": "string",
              "description": "Textual query string. Required unless `review_publisher_site_filter` is specified.",
              "location": "query"
            },
            "reviewPublisherSiteFilter": {
              "type": "string",
              "location": "query",
              "description": "The review publisher site to filter results by, e.g. nytimes.com."
            },
            "maxAgeDays": {
              "type": "integer",
              "description": "The maximum age of the returned search results, in days. Age is determined by either claim date or review date, whichever is newer.",
              "format": "int32",
              "location": "query"
            },
            "pageSize": {
              "type": "integer",
              "description": "The pagination size. We will return up to that many results. Defaults to 10 if not set.",
              "format": "int32",
              "location": "query"
            },
            "offset": {
              "format": "int32",
              "location": "query",
              "description": "An integer that specifies the current offset (that is, starting result location) in search results. This field is only considered if `page_token` is unset. For example, 0 means to return results starting from the first matching result, and 10 means to return from the 11th result.",
              "type": "integer"
            }
          },
          "description": "Search through fact-checked claims.",
          "id": "factchecktools.claims.search",
          "path": "v1alpha1/claims:search",
          "httpMethod": "GET",
          "flatPath": "v1alpha1/claims:search"
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "mtlsRootUrl": "https://factchecktools.mtls.googleapis.com/",
  "revision": "20260920",
  "description": "",
  "basePath": "",
  "batchPath": "batch",
  "parameters": {
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    }
  },
  "name": "factchecktools",
  "servicePath": "",
  "documentationLink": "https://developers.google.com/fact-check/tools/api/",
  "version": "v1alpha1",
  "version_module": true,
  "baseUrl": "https://factchecktools.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/factchecktools": {
          "description": "Read, create, update, and delete your ClaimReview data."
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "schemas": {
    "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimImageSearchResponseResult": {
      "properties": {
        "claim": {
          "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1Claim",
          "description": "A claim which matched the query."
        }
      },
      "description": "A claim and its associated information.",
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimImageSearchResponseResult",
      "type": "object"
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimImageSearchResponse": {
      "type": "object",
      "description": "Response from searching fact-checked claims by image.",
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimImageSearchResponse",
      "properties": {
        "results": {
          "type": "array",
          "description": "The list of claims and all of their associated information.",
          "items": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimImageSearchResponseResult"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The next pagination token in the Search response. It should be used as the `page_token` for the following request. An empty value means no more results."
        }
      }
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1Claim": {
      "type": "object",
      "description": "Information about the claim.",
      "properties": {
        "text": {
          "type": "string",
          "description": "The claim text. For instance, \"Crime has doubled in the last 2 years.\""
        },
        "claimDate": {
          "description": "The date that the claim was made.",
          "format": "google-datetime",
          "type": "string"
        },
        "claimant": {
          "description": "A person or organization stating the claim. For instance, \"John Doe\".",
          "type": "string"
        },
        "claimReview": {
          "description": "One or more reviews of this claim (namely, a fact-checking article).",
          "type": "array",
          "items": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReview"
          }
        }
      },
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1Claim"
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewAuthor": {
      "description": "Information about the claim review author.",
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewAuthor",
      "properties": {
        "imageUrl": {
          "type": "string",
          "description": "Corresponds to `ClaimReview.author.image`."
        },
        "name": {
          "description": "Name of the organization that is publishing the fact check. Corresponds to `ClaimReview.author.name`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkup": {
      "properties": {
        "claimFirstAppearance": {
          "description": "A link to a work in which this claim first appears. Corresponds to `ClaimReview.itemReviewed[@type=Claim].firstAppearance.url`.",
          "type": "string"
        },
        "url": {
          "description": "This field is optional, and will default to the page URL. We provide this field to allow you the override the default value, but the only permitted override is the page URL plus an optional anchor link (\"page jump\"). Corresponds to `ClaimReview.url`",
          "type": "string"
        },
        "claimReviewed": {
          "description": "A short summary of the claim being evaluated. Corresponds to `ClaimReview.claimReviewed`.",
          "type": "string"
        },
        "claimAppearances": {
          "items": {
            "type": "string"
          },
          "description": "A list of links to works in which this claim appears, aside from the one specified in `claim_first_appearance`. Corresponds to `ClaimReview.itemReviewed[@type=Claim].appearance.url`.",
          "type": "array"
        },
        "claimAuthor": {
          "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimAuthor",
          "description": "Info about the author of this claim."
        },
        "rating": {
          "description": "Info about the rating of this claim review.",
          "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimRating"
        },
        "claimLocation": {
          "description": "The location where this claim was made. Corresponds to `ClaimReview.itemReviewed.name`.",
          "type": "string"
        },
        "claimDate": {
          "description": "The date when the claim was made or entered public discourse. Corresponds to `ClaimReview.itemReviewed.datePublished`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkup",
      "description": "Fields for an individual `ClaimReview` element. Except for sub-messages that group fields together, each of these fields correspond those in https://schema.org/ClaimReview. We list the precise mapping for each field."
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1Publisher": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of this publisher. For instance, \"Awesome Fact Checks\"."
        },
        "site": {
          "type": "string",
          "description": "Host-level site name, without the protocol or \"www\" prefix. For instance, \"awesomefactchecks.com\". This value of this field is based purely on the claim review URL."
        }
      },
      "description": "Information about the publisher.",
      "type": "object",
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1Publisher"
    },
    "GoogleProtobufEmpty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "GoogleProtobufEmpty"
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1ClaimRating": {
      "type": "object",
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimRating",
      "description": "Information about the claim rating.",
      "properties": {
        "bestRating": {
          "format": "int32",
          "description": "For numeric ratings, the best value possible in the scale from worst to best. Corresponds to `ClaimReview.reviewRating.bestRating`.",
          "type": "integer"
        },
        "worstRating": {
          "format": "int32",
          "description": "For numeric ratings, the worst value possible in the scale from worst to best. Corresponds to `ClaimReview.reviewRating.worstRating`.",
          "type": "integer"
        },
        "imageUrl": {
          "type": "string",
          "description": "Corresponds to `ClaimReview.reviewRating.image`."
        },
        "ratingExplanation": {
          "description": "Corresponds to `ClaimReview.reviewRating.ratingExplanation`.",
          "type": "string"
        },
        "textualRating": {
          "type": "string",
          "description": "The truthfulness rating as a human-readible short word or phrase. Corresponds to `ClaimReview.reviewRating.alternateName`."
        },
        "ratingValue": {
          "description": "A numeric rating of this claim, in the range worstRating — bestRating inclusive. Corresponds to `ClaimReview.reviewRating.ratingValue`.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1ListClaimReviewMarkupPagesResponse": {
      "type": "object",
      "properties": {
        "claimReviewMarkupPages": {
          "type": "array",
          "items": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage"
          },
          "description": "The result list of pages of `ClaimReview` markup."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The next pagination token in the Search response. It should be used as the `page_token` for the following request. An empty value means no more results."
        }
      },
      "description": "Response from listing `ClaimReview` markup.",
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1ListClaimReviewMarkupPagesResponse"
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage": {
      "type": "object",
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage",
      "description": "Holds one or more instances of `ClaimReview` markup for a webpage.",
      "properties": {
        "claimReviewAuthor": {
          "description": "Info about the author of this claim review. Similar to the above, semantically these are page-level fields, and each `ClaimReview` on this page will contain the same values.",
          "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewAuthor"
        },
        "versionId": {
          "description": "The version ID for this markup. Except for update requests, this field is output-only and should not be set by the user.",
          "type": "string"
        },
        "publishDate": {
          "description": "The date when the fact check was published. Similar to the URL, semantically this is a page-level field, and each `ClaimReview` on this page will contain the same value. Corresponds to `ClaimReview.datePublished`",
          "type": "string"
        },
        "pageUrl": {
          "description": "The URL of the page associated with this `ClaimReview` markup. While every individual `ClaimReview` has its own URL field, semantically this is a page-level field, and each `ClaimReview` on this page will use this value unless individually overridden. Corresponds to `ClaimReview.url`",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of this `ClaimReview` markup page resource, in the form of `pages/{page_id}`. Except for update requests, this field is output-only and should not be set by the user."
        },
        "claimReviewMarkups": {
          "items": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkup"
          },
          "description": "A list of individual claim reviews for this page. Each item in the list corresponds to one `ClaimReview` element.",
          "type": "array"
        }
      }
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimSearchResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The next pagination token in the Search response. It should be used as the `page_token` for the following request. An empty value means no more results."
        },
        "claims": {
          "type": "array",
          "description": "The list of claims and all of their associated information.",
          "items": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1Claim"
          }
        }
      },
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimSearchResponse",
      "type": "object",
      "description": "Response from searching fact-checked claims."
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReview": {
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReview",
      "description": "Information about a claim review.",
      "type": "object",
      "properties": {
        "url": {
          "description": "The URL of this claim review.",
          "type": "string"
        },
        "languageCode": {
          "description": "The language this review was written in. For instance, \"en\" or \"de\".",
          "type": "string"
        },
        "reviewDate": {
          "type": "string",
          "format": "google-datetime",
          "description": "The date the claim was reviewed."
        },
        "textualRating": {
          "type": "string",
          "description": "Textual rating. For instance, \"Mostly false\"."
        },
        "title": {
          "type": "string",
          "description": "The title of this claim review, if it can be determined."
        },
        "publisher": {
          "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1Publisher",
          "description": "The publisher of this claim review."
        }
      }
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1ClaimAuthor": {
      "type": "object",
      "description": "Information about the claim author.",
      "properties": {
        "name": {
          "description": "A person or organization stating the claim. For instance, \"John Doe\". Corresponds to `ClaimReview.itemReviewed.author.name`.",
          "type": "string"
        },
        "sameAs": {
          "description": "Corresponds to `ClaimReview.itemReviewed.author.sameAs`.",
          "type": "string"
        },
        "jobTitle": {
          "type": "string",
          "description": "Corresponds to `ClaimReview.itemReviewed.author.jobTitle`."
        },
        "imageUrl": {
          "description": "Corresponds to `ClaimReview.itemReviewed.author.image`.",
          "type": "string"
        }
      },
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimAuthor"
    }
  }
}