{
  "documentationLink": "https://developers.google.com/fact-check/tools/api/",
  "title": "Fact Check Tools API",
  "canonicalName": "Fact Check Tools",
  "parameters": {
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    }
  },
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "baseUrl": "https://factchecktools.googleapis.com/",
  "mtlsRootUrl": "https://factchecktools.mtls.googleapis.com/",
  "version": "v1alpha1",
  "rootUrl": "https://factchecktools.googleapis.com/",
  "version_module": true,
  "basePath": "",
  "schemas": {
    "GoogleFactcheckingFactchecktoolsV1alpha1ClaimRating": {
      "type": "object",
      "properties": {
        "imageUrl": {
          "type": "string",
          "description": "Corresponds to `ClaimReview.reviewRating.image`."
        },
        "worstRating": {
          "format": "int32",
          "description": "For numeric ratings, the worst value possible in the scale from worst to best. Corresponds to `ClaimReview.reviewRating.worstRating`.",
          "type": "integer"
        },
        "textualRating": {
          "description": "The truthfulness rating as a human-readible short word or phrase. Corresponds to `ClaimReview.reviewRating.alternateName`.",
          "type": "string"
        },
        "bestRating": {
          "format": "int32",
          "description": "For numeric ratings, the best value possible in the scale from worst to best. Corresponds to `ClaimReview.reviewRating.bestRating`.",
          "type": "integer"
        },
        "ratingExplanation": {
          "type": "string",
          "description": "Corresponds to `ClaimReview.reviewRating.ratingExplanation`."
        },
        "ratingValue": {
          "format": "int32",
          "description": "A numeric rating of this claim, in the range worstRating — bestRating inclusive. Corresponds to `ClaimReview.reviewRating.ratingValue`.",
          "type": "integer"
        }
      },
      "description": "Information about the claim rating.",
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimRating"
    },
    "GoogleProtobufEmpty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "GoogleProtobufEmpty",
      "properties": {}
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimImageSearchResponseResult": {
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimImageSearchResponseResult",
      "properties": {
        "claim": {
          "description": "A claim which matched the query.",
          "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1Claim"
        }
      },
      "description": "A claim and its associated information.",
      "type": "object"
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage": {
      "description": "Holds one or more instances of `ClaimReview` markup for a webpage.",
      "properties": {
        "name": {
          "description": "The name of this `ClaimReview` markup page resource, in the form of `pages/{page_id}`. Except for update requests, this field is output-only and should not be set by the user.",
          "type": "string"
        },
        "versionId": {
          "type": "string",
          "description": "The version ID for this markup. Except for update requests, this field is output-only and should not be set by the user."
        },
        "claimReviewMarkups": {
          "description": "A list of individual claim reviews for this page. Each item in the list corresponds to one `ClaimReview` element.",
          "type": "array",
          "items": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkup"
          }
        },
        "publishDate": {
          "type": "string",
          "description": "The date when the fact check was published. Similar to the URL, semantically this is a page-level field, and each `ClaimReview` on this page will contain the same value. Corresponds to `ClaimReview.datePublished`"
        },
        "claimReviewAuthor": {
          "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewAuthor",
          "description": "Info about the author of this claim review. Similar to the above, semantically these are page-level fields, and each `ClaimReview` on this page will contain the same values."
        },
        "pageUrl": {
          "description": "The URL of the page associated with this `ClaimReview` markup. While every individual `ClaimReview` has its own URL field, semantically this is a page-level field, and each `ClaimReview` on this page will use this value unless individually overridden. Corresponds to `ClaimReview.url`",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage"
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimSearchResponse": {
      "description": "Response from searching fact-checked claims.",
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimSearchResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The next pagination token in the Search response. It should be used as the `page_token` for the following request. An empty value means no more results.",
          "type": "string"
        },
        "claims": {
          "items": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1Claim"
          },
          "type": "array",
          "description": "The list of claims and all of their associated information."
        }
      }
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewAuthor": {
      "description": "Information about the claim review author.",
      "type": "object",
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewAuthor",
      "properties": {
        "name": {
          "description": "Name of the organization that is publishing the fact check. Corresponds to `ClaimReview.author.name`.",
          "type": "string"
        },
        "imageUrl": {
          "description": "Corresponds to `ClaimReview.author.image`.",
          "type": "string"
        }
      }
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReview": {
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReview",
      "description": "Information about a claim review.",
      "type": "object",
      "properties": {
        "reviewDate": {
          "type": "string",
          "description": "The date the claim was reviewed.",
          "format": "google-datetime"
        },
        "languageCode": {
          "description": "The language this review was written in. For instance, \"en\" or \"de\".",
          "type": "string"
        },
        "title": {
          "description": "The title of this claim review, if it can be determined.",
          "type": "string"
        },
        "url": {
          "description": "The URL of this claim review.",
          "type": "string"
        },
        "textualRating": {
          "description": "Textual rating. For instance, \"Mostly false\".",
          "type": "string"
        },
        "publisher": {
          "description": "The publisher of this claim review.",
          "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1Publisher"
        }
      }
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkup": {
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkup",
      "type": "object",
      "description": "Fields for an individual `ClaimReview` element. Except for sub-messages that group fields together, each of these fields correspond those in https://schema.org/ClaimReview. We list the precise mapping for each field.",
      "properties": {
        "claimAuthor": {
          "description": "Info about the author of this claim.",
          "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimAuthor"
        },
        "claimAppearances": {
          "type": "array",
          "description": "A list of links to works in which this claim appears, aside from the one specified in `claim_first_appearance`. Corresponds to `ClaimReview.itemReviewed[@type=Claim].appearance.url`.",
          "items": {
            "type": "string"
          }
        },
        "claimReviewed": {
          "type": "string",
          "description": "A short summary of the claim being evaluated. Corresponds to `ClaimReview.claimReviewed`."
        },
        "claimDate": {
          "type": "string",
          "description": "The date when the claim was made or entered public discourse. Corresponds to `ClaimReview.itemReviewed.datePublished`."
        },
        "claimFirstAppearance": {
          "description": "A link to a work in which this claim first appears. Corresponds to `ClaimReview.itemReviewed[@type=Claim].firstAppearance.url`.",
          "type": "string"
        },
        "claimLocation": {
          "type": "string",
          "description": "The location where this claim was made. Corresponds to `ClaimReview.itemReviewed.name`."
        },
        "rating": {
          "description": "Info about the rating of this claim review.",
          "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimRating"
        },
        "url": {
          "description": "This field is optional, and will default to the page URL. We provide this field to allow you the override the default value, but the only permitted override is the page URL plus an optional anchor link (\"page jump\"). Corresponds to `ClaimReview.url`",
          "type": "string"
        }
      }
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1Publisher": {
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1Publisher",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of this publisher. For instance, \"Awesome Fact Checks\"."
        },
        "site": {
          "type": "string",
          "description": "Host-level site name, without the protocol or \"www\" prefix. For instance, \"awesomefactchecks.com\". This value of this field is based purely on the claim review URL."
        }
      },
      "type": "object",
      "description": "Information about the publisher."
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1ClaimAuthor": {
      "description": "Information about the claim author.",
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimAuthor",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "A person or organization stating the claim. For instance, \"John Doe\". Corresponds to `ClaimReview.itemReviewed.author.name`."
        },
        "jobTitle": {
          "type": "string",
          "description": "Corresponds to `ClaimReview.itemReviewed.author.jobTitle`."
        },
        "imageUrl": {
          "type": "string",
          "description": "Corresponds to `ClaimReview.itemReviewed.author.image`."
        },
        "sameAs": {
          "type": "string",
          "description": "Corresponds to `ClaimReview.itemReviewed.author.sameAs`."
        }
      }
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1Claim": {
      "type": "object",
      "properties": {
        "text": {
          "description": "The claim text. For instance, \"Crime has doubled in the last 2 years.\"",
          "type": "string"
        },
        "claimant": {
          "description": "A person or organization stating the claim. For instance, \"John Doe\".",
          "type": "string"
        },
        "claimDate": {
          "format": "google-datetime",
          "type": "string",
          "description": "The date that the claim was made."
        },
        "claimReview": {
          "items": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReview"
          },
          "description": "One or more reviews of this claim (namely, a fact-checking article).",
          "type": "array"
        }
      },
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1Claim",
      "description": "Information about the claim."
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimImageSearchResponse": {
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimImageSearchResponse",
      "properties": {
        "results": {
          "type": "array",
          "items": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimImageSearchResponseResult"
          },
          "description": "The list of claims and all of their associated information."
        },
        "nextPageToken": {
          "description": "The next pagination token in the Search response. It should be used as the `page_token` for the following request. An empty value means no more results.",
          "type": "string"
        }
      },
      "description": "Response from searching fact-checked claims by image.",
      "type": "object"
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1ListClaimReviewMarkupPagesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The next pagination token in the Search response. It should be used as the `page_token` for the following request. An empty value means no more results.",
          "type": "string"
        },
        "claimReviewMarkupPages": {
          "description": "The result list of pages of `ClaimReview` markup.",
          "items": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1ListClaimReviewMarkupPagesResponse",
      "description": "Response from listing `ClaimReview` markup."
    }
  },
  "name": "factchecktools",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/factchecktools": {
          "description": "Read, create, update, and delete your ClaimReview data."
        }
      }
    }
  },
  "protocol": "rest",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "id": "factchecktools:v1alpha1",
  "servicePath": "",
  "revision": "20260830",
  "description": "",
  "resources": {
    "claims": {
      "methods": {
        "search": {
          "parameters": {
            "pageSize": {
              "description": "The pagination size. We will return up to that many results. Defaults to 10 if not set.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "maxAgeDays": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "The maximum age of the returned search results, in days. Age is determined by either claim date or review date, whichever is newer."
            },
            "languageCode": {
              "type": "string",
              "description": "The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". Can be used to restrict results by language, though we do not currently consider the region.",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The pagination token. You may provide the `next_page_token` returned from a previous List request, if any, in order to get the next page. All other fields must have the same values as in the previous request."
            },
            "offset": {
              "description": "An integer that specifies the current offset (that is, starting result location) in search results. This field is only considered if `page_token` is unset. For example, 0 means to return results starting from the first matching result, and 10 means to return from the 11th result.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "reviewPublisherSiteFilter": {
              "location": "query",
              "type": "string",
              "description": "The review publisher site to filter results by, e.g. nytimes.com."
            },
            "query": {
              "type": "string",
              "description": "Textual query string. Required unless `review_publisher_site_filter` is specified.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimSearchResponse"
          },
          "parameterOrder": [],
          "description": "Search through fact-checked claims.",
          "path": "v1alpha1/claims:search",
          "id": "factchecktools.claims.search",
          "httpMethod": "GET",
          "flatPath": "v1alpha1/claims:search"
        },
        "imageSearch": {
          "parameterOrder": [],
          "description": "Search through fact-checked claims using an image as the query.",
          "id": "factchecktools.claims.imageSearch",
          "parameters": {
            "languageCode": {
              "description": "Optional. The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". Can be used to restrict results by language, though we do not currently consider the region.",
              "type": "string",
              "location": "query"
            },
            "offset": {
              "format": "int32",
              "location": "query",
              "description": "Optional. An integer that specifies the current offset (that is, starting result location) in search results. This field is only considered if `page_token` is unset. For example, 0 means to return results starting from the first matching result, and 10 means to return from the 11th result.",
              "type": "integer"
            },
            "pageSize": {
              "location": "query",
              "description": "Optional. The pagination size. We will return up to that many results. Defaults to 10 if not set.",
              "format": "int32",
              "type": "integer"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Optional. The pagination token. You may provide the `next_page_token` returned from a previous List request, if any, in order to get the next page. All other fields must have the same values as in the previous request."
            },
            "imageUri": {
              "type": "string",
              "location": "query",
              "description": "Required. The URI of the source image. This must be a publicly-accessible image HTTP/HTTPS URL. When fetching images from HTTP/HTTPS URLs, Google cannot guarantee that the request will be completed. Your request may fail if the specified host denies the request (e.g. due to request throttling or DOS prevention), or if Google throttles requests to the site for abuse prevention. You should not depend on externally-hosted images for production applications."
            }
          },
          "flatPath": "v1alpha1/claims:imageSearch",
          "response": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimImageSearchResponse"
          },
          "path": "v1alpha1/claims:imageSearch",
          "httpMethod": "GET"
        }
      }
    },
    "pages": {
      "methods": {
        "update": {
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage"
          },
          "id": "factchecktools.pages.update",
          "flatPath": "v1alpha1/pages/{pagesId}",
          "httpMethod": "PUT",
          "description": "Update for all `ClaimReview` markup on a page Note that this is a full update. To retain the existing `ClaimReview` markup on a page, first perform a Get operation, then modify the returned markup, and finally call Update with the entire `ClaimReview` markup as the body.",
          "path": "v1alpha1/{+name}",
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "description": "The name of this `ClaimReview` markup page resource, in the form of `pages/{page_id}`. Except for update requests, this field is output-only and should not be set by the user.",
              "pattern": "^pages/[^/]+$",
              "required": true
            }
          },
          "request": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage"
          },
          "scopes": [
            "https://www.googleapis.com/auth/factchecktools"
          ]
        },
        "delete": {
          "parameters": {
            "name": {
              "required": true,
              "description": "The name of the resource to delete, in the form of `pages/{page_id}`.",
              "type": "string",
              "pattern": "^pages/[^/]+$",
              "location": "path"
            }
          },
          "id": "factchecktools.pages.delete",
          "flatPath": "v1alpha1/pages/{pagesId}",
          "scopes": [
            "https://www.googleapis.com/auth/factchecktools"
          ],
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "description": "Delete all `ClaimReview` markup on a page.",
          "path": "v1alpha1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "DELETE"
        },
        "list": {
          "description": "List the `ClaimReview` markup pages for a specific URL or for an organization.",
          "scopes": [
            "https://www.googleapis.com/auth/factchecktools"
          ],
          "response": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ListClaimReviewMarkupPagesResponse"
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "flatPath": "v1alpha1/pages",
          "id": "factchecktools.pages.list",
          "path": "v1alpha1/pages",
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "The pagination token. You may provide the `next_page_token` returned from a previous List request, if any, in order to get the next page. All other fields must have the same values as in the previous request.",
              "type": "string"
            },
            "pageSize": {
              "format": "int32",
              "type": "integer",
              "description": "The pagination size. We will return up to that many results. Defaults to 10 if not set. Has no effect if a URL is requested.",
              "location": "query"
            },
            "organization": {
              "description": "The organization for which we want to fetch markups for. For instance, \"site.com\". Cannot be specified along with an URL.",
              "type": "string",
              "location": "query"
            },
            "url": {
              "location": "query",
              "description": "The URL from which to get `ClaimReview` markup. There will be at most one result. If markup is associated with a more canonical version of the URL provided, we will return that URL instead. Cannot be specified along with an organization.",
              "type": "string"
            },
            "offset": {
              "type": "integer",
              "format": "int32",
              "description": "An integer that specifies the current offset (that is, starting result location) in search results. This field is only considered if `page_token` is unset, and if the request is not for a specific URL. For example, 0 means to return results starting from the first matching result, and 10 means to return from the 11th result.",
              "location": "query"
            }
          }
        },
        "create": {
          "scopes": [
            "https://www.googleapis.com/auth/factchecktools"
          ],
          "request": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage"
          },
          "description": "Create `ClaimReview` markup on a page.",
          "parameters": {},
          "id": "factchecktools.pages.create",
          "httpMethod": "POST",
          "flatPath": "v1alpha1/pages",
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage"
          },
          "path": "v1alpha1/pages"
        },
        "get": {
          "flatPath": "v1alpha1/pages/{pagesId}",
          "httpMethod": "GET",
          "description": "Get all `ClaimReview` markup on a page.",
          "path": "v1alpha1/{+name}",
          "response": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage"
          },
          "scopes": [
            "https://www.googleapis.com/auth/factchecktools"
          ],
          "id": "factchecktools.pages.get",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "pattern": "^pages/[^/]+$",
              "required": true,
              "description": "The name of the resource to get, in the form of `pages/{page_id}`.",
              "location": "path",
              "type": "string"
            }
          }
        }
      }
    }
  }
}