{
  "title": "Fact Check Tools API",
  "mtlsRootUrl": "https://factchecktools.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "schemas": {
    "GoogleFactcheckingFactchecktoolsV1alpha1Publisher": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of this publisher. For instance, \"Awesome Fact Checks\"."
        },
        "site": {
          "description": "Host-level site name, without the protocol or \"www\" prefix. For instance, \"awesomefactchecks.com\". This value of this field is based purely on the claim review URL.",
          "type": "string"
        }
      },
      "description": "Information about the publisher.",
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1Publisher",
      "type": "object"
    },
    "GoogleProtobufEmpty": {
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "GoogleProtobufEmpty"
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimImageSearchResponse": {
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimImageSearchResponse",
      "description": "Response from searching fact-checked claims by image.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The next pagination token in the Search response. It should be used as the `page_token` for the following request. An empty value means no more results.",
          "type": "string"
        },
        "results": {
          "type": "array",
          "description": "The list of claims and all of their associated information.",
          "items": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimImageSearchResponseResult"
          }
        }
      }
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimImageSearchResponseResult": {
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimImageSearchResponseResult",
      "description": "A claim and its associated information.",
      "type": "object",
      "properties": {
        "claim": {
          "description": "A claim which matched the query.",
          "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1Claim"
        }
      }
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage": {
      "description": "Holds one or more instances of `ClaimReview` markup for a webpage.",
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage",
      "properties": {
        "claimReviewMarkups": {
          "description": "A list of individual claim reviews for this page. Each item in the list corresponds to one `ClaimReview` element.",
          "items": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkup"
          },
          "type": "array"
        },
        "versionId": {
          "description": "The version ID for this markup. Except for update requests, this field is output-only and should not be set by the user.",
          "type": "string"
        },
        "pageUrl": {
          "description": "The URL of the page associated with this `ClaimReview` markup. While every individual `ClaimReview` has its own URL field, semantically this is a page-level field, and each `ClaimReview` on this page will use this value unless individually overridden. Corresponds to `ClaimReview.url`",
          "type": "string"
        },
        "name": {
          "description": "The name of this `ClaimReview` markup page resource, in the form of `pages/{page_id}`. Except for update requests, this field is output-only and should not be set by the user.",
          "type": "string"
        },
        "claimReviewAuthor": {
          "description": "Info about the author of this claim review. Similar to the above, semantically these are page-level fields, and each `ClaimReview` on this page will contain the same values.",
          "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewAuthor"
        },
        "publishDate": {
          "description": "The date when the fact check was published. Similar to the URL, semantically this is a page-level field, and each `ClaimReview` on this page will contain the same value. Corresponds to `ClaimReview.datePublished`",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1ListClaimReviewMarkupPagesResponse": {
      "description": "Response from listing `ClaimReview` markup.",
      "type": "object",
      "properties": {
        "claimReviewMarkupPages": {
          "type": "array",
          "items": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage"
          },
          "description": "The result list of pages of `ClaimReview` markup."
        },
        "nextPageToken": {
          "description": "The next pagination token in the Search response. It should be used as the `page_token` for the following request. An empty value means no more results.",
          "type": "string"
        }
      },
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1ListClaimReviewMarkupPagesResponse"
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1ClaimRating": {
      "properties": {
        "imageUrl": {
          "description": "Corresponds to `ClaimReview.reviewRating.image`.",
          "type": "string"
        },
        "textualRating": {
          "type": "string",
          "description": "The truthfulness rating as a human-readible short word or phrase. Corresponds to `ClaimReview.reviewRating.alternateName`."
        },
        "ratingValue": {
          "description": "A numeric rating of this claim, in the range worstRating — bestRating inclusive. Corresponds to `ClaimReview.reviewRating.ratingValue`.",
          "format": "int32",
          "type": "integer"
        },
        "worstRating": {
          "format": "int32",
          "description": "For numeric ratings, the worst value possible in the scale from worst to best. Corresponds to `ClaimReview.reviewRating.worstRating`.",
          "type": "integer"
        },
        "bestRating": {
          "format": "int32",
          "description": "For numeric ratings, the best value possible in the scale from worst to best. Corresponds to `ClaimReview.reviewRating.bestRating`.",
          "type": "integer"
        },
        "ratingExplanation": {
          "type": "string",
          "description": "Corresponds to `ClaimReview.reviewRating.ratingExplanation`."
        }
      },
      "type": "object",
      "description": "Information about the claim rating.",
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimRating"
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimSearchResponse": {
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimSearchResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The next pagination token in the Search response. It should be used as the `page_token` for the following request. An empty value means no more results."
        },
        "claims": {
          "description": "The list of claims and all of their associated information.",
          "type": "array",
          "items": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1Claim"
          }
        }
      },
      "description": "Response from searching fact-checked claims.",
      "type": "object"
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReview": {
      "properties": {
        "reviewDate": {
          "format": "google-datetime",
          "type": "string",
          "description": "The date the claim was reviewed."
        },
        "title": {
          "description": "The title of this claim review, if it can be determined.",
          "type": "string"
        },
        "publisher": {
          "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1Publisher",
          "description": "The publisher of this claim review."
        },
        "textualRating": {
          "description": "Textual rating. For instance, \"Mostly false\".",
          "type": "string"
        },
        "url": {
          "description": "The URL of this claim review.",
          "type": "string"
        },
        "languageCode": {
          "type": "string",
          "description": "The language this review was written in. For instance, \"en\" or \"de\"."
        }
      },
      "type": "object",
      "description": "Information about a claim review.",
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReview"
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1ClaimAuthor": {
      "description": "Information about the claim author.",
      "type": "object",
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimAuthor",
      "properties": {
        "name": {
          "type": "string",
          "description": "A person or organization stating the claim. For instance, \"John Doe\". Corresponds to `ClaimReview.itemReviewed.author.name`."
        },
        "sameAs": {
          "description": "Corresponds to `ClaimReview.itemReviewed.author.sameAs`.",
          "type": "string"
        },
        "imageUrl": {
          "description": "Corresponds to `ClaimReview.itemReviewed.author.image`.",
          "type": "string"
        },
        "jobTitle": {
          "description": "Corresponds to `ClaimReview.itemReviewed.author.jobTitle`.",
          "type": "string"
        }
      }
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkup": {
      "properties": {
        "rating": {
          "description": "Info about the rating of this claim review.",
          "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimRating"
        },
        "claimFirstAppearance": {
          "type": "string",
          "description": "A link to a work in which this claim first appears. Corresponds to `ClaimReview.itemReviewed[@type=Claim].firstAppearance.url`."
        },
        "url": {
          "description": "This field is optional, and will default to the page URL. We provide this field to allow you the override the default value, but the only permitted override is the page URL plus an optional anchor link (\"page jump\"). Corresponds to `ClaimReview.url`",
          "type": "string"
        },
        "claimReviewed": {
          "type": "string",
          "description": "A short summary of the claim being evaluated. Corresponds to `ClaimReview.claimReviewed`."
        },
        "claimLocation": {
          "description": "The location where this claim was made. Corresponds to `ClaimReview.itemReviewed.name`.",
          "type": "string"
        },
        "claimDate": {
          "type": "string",
          "description": "The date when the claim was made or entered public discourse. Corresponds to `ClaimReview.itemReviewed.datePublished`."
        },
        "claimAuthor": {
          "description": "Info about the author of this claim.",
          "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimAuthor"
        },
        "claimAppearances": {
          "type": "array",
          "description": "A list of links to works in which this claim appears, aside from the one specified in `claim_first_appearance`. Corresponds to `ClaimReview.itemReviewed[@type=Claim].appearance.url`.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkup",
      "description": "Fields for an individual `ClaimReview` element. Except for sub-messages that group fields together, each of these fields correspond those in https://schema.org/ClaimReview. We list the precise mapping for each field."
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewAuthor": {
      "type": "object",
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewAuthor",
      "description": "Information about the claim review author.",
      "properties": {
        "imageUrl": {
          "type": "string",
          "description": "Corresponds to `ClaimReview.author.image`."
        },
        "name": {
          "type": "string",
          "description": "Name of the organization that is publishing the fact check. Corresponds to `ClaimReview.author.name`."
        }
      }
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1Claim": {
      "type": "object",
      "description": "Information about the claim.",
      "properties": {
        "claimDate": {
          "format": "google-datetime",
          "description": "The date that the claim was made.",
          "type": "string"
        },
        "claimant": {
          "type": "string",
          "description": "A person or organization stating the claim. For instance, \"John Doe\"."
        },
        "claimReview": {
          "type": "array",
          "description": "One or more reviews of this claim (namely, a fact-checking article).",
          "items": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReview"
          }
        },
        "text": {
          "type": "string",
          "description": "The claim text. For instance, \"Crime has doubled in the last 2 years.\""
        }
      },
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1Claim"
    }
  },
  "resources": {
    "pages": {
      "methods": {
        "get": {
          "flatPath": "v1alpha1/pages/{pagesId}",
          "parameterOrder": [
            "name"
          ],
          "path": "v1alpha1/{+name}",
          "parameters": {
            "name": {
              "pattern": "^pages/[^/]+$",
              "description": "The name of the resource to get, in the form of `pages/{page_id}`.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/factchecktools"
          ],
          "id": "factchecktools.pages.get",
          "httpMethod": "GET",
          "description": "Get all `ClaimReview` markup on a page.",
          "response": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage"
          }
        },
        "list": {
          "id": "factchecktools.pages.list",
          "description": "List the `ClaimReview` markup pages for a specific URL or for an organization.",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/factchecktools"
          ],
          "response": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ListClaimReviewMarkupPagesResponse"
          },
          "path": "v1alpha1/pages",
          "parameters": {
            "pageToken": {
              "description": "The pagination token. You may provide the `next_page_token` returned from a previous List request, if any, in order to get the next page. All other fields must have the same values as in the previous request.",
              "location": "query",
              "type": "string"
            },
            "url": {
              "description": "The URL from which to get `ClaimReview` markup. There will be at most one result. If markup is associated with a more canonical version of the URL provided, we will return that URL instead. Cannot be specified along with an organization.",
              "location": "query",
              "type": "string"
            },
            "organization": {
              "location": "query",
              "type": "string",
              "description": "The organization for which we want to fetch markups for. For instance, \"site.com\". Cannot be specified along with an URL."
            },
            "pageSize": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "The pagination size. We will return up to that many results. Defaults to 10 if not set. Has no effect if a URL is requested."
            },
            "offset": {
              "format": "int32",
              "location": "query",
              "type": "integer",
              "description": "An integer that specifies the current offset (that is, starting result location) in search results. This field is only considered if `page_token` is unset, and if the request is not for a specific URL. For example, 0 means to return results starting from the first matching result, and 10 means to return from the 11th result."
            }
          },
          "httpMethod": "GET",
          "flatPath": "v1alpha1/pages"
        },
        "delete": {
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "description": "Delete all `ClaimReview` markup on a page.",
          "id": "factchecktools.pages.delete",
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "description": "The name of the resource to delete, in the form of `pages/{page_id}`.",
              "type": "string",
              "pattern": "^pages/[^/]+$"
            }
          },
          "flatPath": "v1alpha1/pages/{pagesId}",
          "path": "v1alpha1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/factchecktools"
          ]
        },
        "create": {
          "httpMethod": "POST",
          "description": "Create `ClaimReview` markup on a page.",
          "flatPath": "v1alpha1/pages",
          "parameterOrder": [],
          "request": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage"
          },
          "scopes": [
            "https://www.googleapis.com/auth/factchecktools"
          ],
          "parameters": {},
          "response": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage"
          },
          "id": "factchecktools.pages.create",
          "path": "v1alpha1/pages"
        },
        "update": {
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage"
          },
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^pages/[^/]+$",
              "description": "The name of this `ClaimReview` markup page resource, in the form of `pages/{page_id}`. Except for update requests, this field is output-only and should not be set by the user."
            }
          },
          "description": "Update for all `ClaimReview` markup on a page Note that this is a full update. To retain the existing `ClaimReview` markup on a page, first perform a Get operation, then modify the returned markup, and finally call Update with the entire `ClaimReview` markup as the body.",
          "request": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage"
          },
          "path": "v1alpha1/{+name}",
          "httpMethod": "PUT",
          "flatPath": "v1alpha1/pages/{pagesId}",
          "id": "factchecktools.pages.update",
          "scopes": [
            "https://www.googleapis.com/auth/factchecktools"
          ]
        }
      }
    },
    "claims": {
      "methods": {
        "search": {
          "description": "Search through fact-checked claims.",
          "id": "factchecktools.claims.search",
          "parameters": {
            "query": {
              "location": "query",
              "description": "Textual query string. Required unless `review_publisher_site_filter` is specified.",
              "type": "string"
            },
            "maxAgeDays": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "The maximum age of the returned search results, in days. Age is determined by either claim date or review date, whichever is newer."
            },
            "languageCode": {
              "type": "string",
              "location": "query",
              "description": "The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". Can be used to restrict results by language, though we do not currently consider the region."
            },
            "offset": {
              "location": "query",
              "format": "int32",
              "description": "An integer that specifies the current offset (that is, starting result location) in search results. This field is only considered if `page_token` is unset. For example, 0 means to return results starting from the first matching result, and 10 means to return from the 11th result.",
              "type": "integer"
            },
            "reviewPublisherSiteFilter": {
              "location": "query",
              "type": "string",
              "description": "The review publisher site to filter results by, e.g. nytimes.com."
            },
            "pageToken": {
              "type": "string",
              "description": "The pagination token. You may provide the `next_page_token` returned from a previous List request, if any, in order to get the next page. All other fields must have the same values as in the previous request.",
              "location": "query"
            },
            "pageSize": {
              "location": "query",
              "format": "int32",
              "description": "The pagination size. We will return up to that many results. Defaults to 10 if not set.",
              "type": "integer"
            }
          },
          "path": "v1alpha1/claims:search",
          "httpMethod": "GET",
          "parameterOrder": [],
          "flatPath": "v1alpha1/claims:search",
          "response": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimSearchResponse"
          }
        },
        "imageSearch": {
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Optional. The pagination token. You may provide the `next_page_token` returned from a previous List request, if any, in order to get the next page. All other fields must have the same values as in the previous request."
            },
            "offset": {
              "location": "query",
              "type": "integer",
              "description": "Optional. An integer that specifies the current offset (that is, starting result location) in search results. This field is only considered if `page_token` is unset. For example, 0 means to return results starting from the first matching result, and 10 means to return from the 11th result.",
              "format": "int32"
            },
            "pageSize": {
              "description": "Optional. The pagination size. We will return up to that many results. Defaults to 10 if not set.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "languageCode": {
              "description": "Optional. The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". Can be used to restrict results by language, though we do not currently consider the region.",
              "location": "query",
              "type": "string"
            },
            "imageUri": {
              "location": "query",
              "description": "Required. The URI of the source image. This must be a publicly-accessible image HTTP/HTTPS URL. When fetching images from HTTP/HTTPS URLs, Google cannot guarantee that the request will be completed. Your request may fail if the specified host denies the request (e.g. due to request throttling or DOS prevention), or if Google throttles requests to the site for abuse prevention. You should not depend on externally-hosted images for production applications.",
              "type": "string"
            }
          },
          "flatPath": "v1alpha1/claims:imageSearch",
          "response": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimImageSearchResponse"
          },
          "parameterOrder": [],
          "path": "v1alpha1/claims:imageSearch",
          "id": "factchecktools.claims.imageSearch",
          "description": "Search through fact-checked claims using an image as the query.",
          "httpMethod": "GET"
        }
      }
    }
  },
  "parameters": {
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    }
  },
  "description": "",
  "ownerName": "Google",
  "rootUrl": "https://factchecktools.googleapis.com/",
  "version_module": true,
  "ownerDomain": "google.com",
  "servicePath": "",
  "name": "factchecktools",
  "kind": "discovery#restDescription",
  "basePath": "",
  "version": "v1alpha1",
  "batchPath": "batch",
  "canonicalName": "Fact Check Tools",
  "documentationLink": "https://developers.google.com/fact-check/tools/api/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/factchecktools": {
          "description": "Read, create, update, and delete your ClaimReview data."
        }
      }
    }
  },
  "id": "factchecktools:v1alpha1",
  "revision": "20261004",
  "baseUrl": "https://factchecktools.googleapis.com/"
}