{
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "documentationLink": "https://cloud.google.com/filestore/",
  "mtlsRootUrl": "https://file.mtls.googleapis.com/",
  "version": "v1beta1",
  "rootUrl": "https://file.googleapis.com/",
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.africa-south1.rep.googleapis.com/",
      "location": "africa-south1"
    },
    {
      "location": "asia-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.asia-east1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://file.asia-east2.rep.googleapis.com/",
      "location": "asia-east2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://file.asia-northeast1.rep.googleapis.com/",
      "location": "asia-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.asia-northeast2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.asia-northeast3.rep.googleapis.com/",
      "location": "asia-northeast3"
    },
    {
      "endpointUrl": "https://file.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south1"
    },
    {
      "endpointUrl": "https://file.asia-south2.rep.googleapis.com/",
      "location": "asia-south2",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-southeast1",
      "endpointUrl": "https://file.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-southeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.asia-southeast2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-southeast3",
      "endpointUrl": "https://file.asia-southeast3.rep.googleapis.com/"
    },
    {
      "location": "australia-southeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.australia-southeast1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.australia-southeast2.rep.googleapis.com/",
      "location": "australia-southeast2"
    },
    {
      "endpointUrl": "https://file.europe-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-central2"
    },
    {
      "endpointUrl": "https://file.europe-north1.rep.googleapis.com/",
      "location": "europe-north1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-north2",
      "endpointUrl": "https://file.europe-north2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.europe-southwest1.rep.googleapis.com/",
      "location": "europe-southwest1"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west1",
      "endpointUrl": "https://file.europe-west1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://file.europe-west10.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west10"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.europe-west12.rep.googleapis.com/",
      "location": "europe-west12"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.europe-west15.rep.googleapis.com/",
      "location": "europe-west15"
    },
    {
      "location": "europe-west2",
      "endpointUrl": "https://file.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west3",
      "endpointUrl": "https://file.europe-west3.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://file.europe-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west4"
    },
    {
      "location": "europe-west6",
      "endpointUrl": "https://file.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west8",
      "endpointUrl": "https://file.europe-west8.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://file.europe-west9.rep.googleapis.com/",
      "location": "europe-west9",
      "description": "Regional Endpoint"
    },
    {
      "location": "me-central1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.me-central1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "me-central2",
      "endpointUrl": "https://file.me-central2.rep.googleapis.com/"
    },
    {
      "location": "me-west1",
      "endpointUrl": "https://file.me-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://file.northamerica-northeast1.rep.googleapis.com/",
      "location": "northamerica-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://file.northamerica-northeast2.rep.googleapis.com/",
      "location": "northamerica-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://file.northamerica-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-south1"
    },
    {
      "location": "southamerica-east1",
      "endpointUrl": "https://file.southamerica-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://file.southamerica-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "southamerica-west1"
    },
    {
      "endpointUrl": "https://file.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central1"
    },
    {
      "endpointUrl": "https://file.us-central2.rep.googleapis.com/",
      "location": "us-central2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://file.us-east1.rep.googleapis.com/",
      "location": "us-east1",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east4",
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.us-east4.rep.googleapis.com/"
    },
    {
      "location": "us-east5",
      "endpointUrl": "https://file.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east7",
      "endpointUrl": "https://file.us-east7.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-south1",
      "endpointUrl": "https://file.us-south1.rep.googleapis.com/"
    },
    {
      "location": "us-west1",
      "endpointUrl": "https://file.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://file.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.us-west3.rep.googleapis.com/",
      "location": "us-west3"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.us-west4.rep.googleapis.com/",
      "location": "us-west4"
    },
    {
      "location": "us-west8",
      "endpointUrl": "https://file.us-west8.rep.googleapis.com/",
      "description": "Regional Endpoint"
    }
  ],
  "version_module": true,
  "parameters": {
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    }
  },
  "description": "The Cloud Filestore API is used for creating and managing cloud file servers.",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "name": "file",
  "basePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "canonicalName": "Cloud Filestore",
  "id": "file:v1beta1",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "volumePools": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "path": "v1beta1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets the details of a specific volume pool.",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/volumePools/{volumePoolsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/volumePools/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The volume pool resource name, in the format `projects/{project}/locations/{location}/volumePools/{volume_pool}`."
                    }
                  },
                  "id": "file.projects.locations.volumePools.get",
                  "response": {
                    "$ref": "VolumePool"
                  }
                },
                "patch": {
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/volumePools/{volumePoolsId}",
                  "path": "v1beta1/{+name}",
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Mask of fields to update. At least one path must be supplied in this field.",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "type": "string",
                      "description": "Identifier. The resource name of the volume pool, in the format `projects/{project}/locations/{location}/volumePools/{volume_pool}`.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/volumePools/[^/]+$"
                    }
                  },
                  "description": "Updates the settings of a specific volume pool.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "file.projects.locations.volumePools.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "VolumePool"
                  },
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "path": "v1beta1/{+name}",
                  "id": "file.projects.locations.volumePools.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/volumePools/[^/]+$",
                      "required": true,
                      "description": "Required. The volume pool resource name, in the format `projects/{project}/locations/{location}/volumePools/{volume_pool}`."
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a volume pool.",
                  "httpMethod": "DELETE",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/volumePools/{volumePoolsId}"
                },
                "create": {
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The project and location for which to create the volume pool, in the format `projects/{project}/locations/{location}`.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "volumePoolId": {
                      "description": "Required. The ID to use for the volume pool, which will become the final component of the volume pool's resource name.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/volumePools",
                  "path": "v1beta1/{+parent}/volumePools",
                  "id": "file.projects.locations.volumePools.create",
                  "description": "Creates a volume pool.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "VolumePool"
                  }
                },
                "list": {
                  "path": "v1beta1/{+parent}/volumePools",
                  "parameters": {
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. Sort results. Supported values are \"name\", \"name desc\" or \"\" (unsorted).",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. The next_page_token value to use if there are additional results to retrieve for this list request.",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The project and location for which to retrieve volume pool information, in the format `projects/{project}/locations/{location}`. To retrieve volume pool information for all locations, use \"-\" as the value of `{location}`.",
                      "type": "string",
                      "required": true
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. List filter."
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. The maximum number of items to return.",
                      "location": "query"
                    }
                  },
                  "id": "file.projects.locations.volumePools.list",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/volumePools",
                  "description": "Lists all volume pools in a project for either a specified location or for all locations.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListVolumePoolsResponse"
                  }
                }
              },
              "resources": {
                "volumes": {
                  "methods": {
                    "get": {
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/volumePools/{volumePoolsId}/volumes/{volumesId}",
                      "httpMethod": "GET",
                      "description": "Gets the details of a specific volume.",
                      "response": {
                        "$ref": "Volume"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "file.projects.locations.volumePools.volumes.get",
                      "path": "v1beta1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The volume resource name, in the format `projects/{project}/locations/{location}/volumePools/{volume_pool}/volumes/{volume}`.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumePools/[^/]+/volumes/[^/]+$"
                        }
                      }
                    },
                    "list": {
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/volumePools/{volumePoolsId}/volumes",
                      "path": "v1beta1/{+parent}/volumes",
                      "parameters": {
                        "pageToken": {
                          "description": "Optional. The next_page_token value to use if there are additional results to retrieve for this list request.",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumePools/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "description": "Required. The volume pool for which to retrieve volume information, in the format `projects/{project}/locations/{location}/volumePools/{volume_pool}`."
                        },
                        "filter": {
                          "description": "Optional. List filter.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "format": "int32",
                          "description": "Optional. The maximum number of items to return."
                        },
                        "orderBy": {
                          "description": "Optional. Sort results. Supported values are \"name\", \"name desc\" or \"\" (unsorted).",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "id": "file.projects.locations.volumePools.volumes.list",
                      "description": "Lists all volumes for a specified volume pool.",
                      "response": {
                        "$ref": "ListVolumesResponse"
                      }
                    },
                    "create": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "volumeId": {
                          "type": "string",
                          "location": "query",
                          "description": "Required. The ID to use for the volume. The ID must be unique within the specified volume pool."
                        },
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumePools/[^/]+$",
                          "description": "Required. The parent volume pool path, in the format `projects/{project}/locations/{location}/volumePools/{volume_pool}`.",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "description": "Creates a volume.",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/volumePools/{volumePoolsId}/volumes",
                      "path": "v1beta1/{+parent}/volumes",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "file.projects.locations.volumePools.volumes.create",
                      "request": {
                        "$ref": "Volume"
                      },
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "Volume"
                      }
                    },
                    "delete": {
                      "parameters": {
                        "name": {
                          "description": "Required. The volume resource name, in the format `projects/{project}/locations/{location}/volumePools/{volume_pool}/volumes/{volume}`.",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumePools/[^/]+/volumes/[^/]+$"
                        }
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/volumePools/{volumePoolsId}/volumes/{volumesId}",
                      "description": "Deletes a volume.",
                      "response": {
                        "$ref": "Empty"
                      },
                      "id": "file.projects.locations.volumePools.volumes.delete",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "DELETE",
                      "path": "v1beta1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              }
            },
            "sharePools": {
              "methods": {
                "acquireShare": {
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent share pool path, in the format `projects/{project}/locations/{location}/sharePools/{share_pool}`.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/sharePools/[^/]+$"
                    }
                  },
                  "description": "Acquires a share synchronously from the pre-provisioned share pool.",
                  "path": "v1beta1/{+parent}:acquireShare",
                  "request": {
                    "$ref": "AcquireShareRequest"
                  },
                  "response": {
                    "$ref": "AcquireShareResponse"
                  },
                  "id": "file.projects.locations.sharePools.acquireShare",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/sharePools/{sharePoolsId}:acquireShare"
                },
                "releaseShare": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ReleaseShareResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/sharePools/[^/]+$",
                      "description": "Required. The parent share pool path, in the format `projects/{project}/locations/{location}/sharePools/{share_pool}`.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "ReleaseShareRequest"
                  },
                  "id": "file.projects.locations.sharePools.releaseShare",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/sharePools/{sharePoolsId}:releaseShare",
                  "path": "v1beta1/{+parent}:releaseShare",
                  "httpMethod": "POST",
                  "description": "Releases a share synchronously, marking it for background scrubbing."
                }
              }
            },
            "backups": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets the details of a specific backup.",
                  "id": "file.projects.locations.backups.get",
                  "response": {
                    "$ref": "Backup"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The backup resource name, in the format `projects/{project_id}/locations/{location}/backups/{backup_id}`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/backups/[^/]+$"
                    }
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/backups/{backupsId}",
                  "path": "v1beta1/{+name}"
                },
                "list": {
                  "id": "file.projects.locations.backups.list",
                  "response": {
                    "$ref": "ListBackupsResponse"
                  },
                  "path": "v1beta1/{+parent}/backups",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The project and location for which to retrieve backup information, in the format `projects/{project_id}/locations/{location}`. In Filestore, backup locations map to Google Cloud regions, for example **us-west1**. To retrieve backup information for all locations, use \"-\" for the `{location}` value.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "filter": {
                      "description": "List filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "type": "string",
                      "location": "query",
                      "description": "Sort results. Supported values are \"name\", \"name desc\" or \"\" (unsorted)."
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The next_page_token value to use if there are additional results to retrieve for this list request.",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "The maximum number of items to return.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    }
                  },
                  "description": "Lists all backups in a project for either a specified location or for all locations.",
                  "httpMethod": "GET",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/backups",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "patch": {
                  "path": "v1beta1/{+name}",
                  "id": "file.projects.locations.backups.patch",
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Required. Mask of fields to update. At least one path must be supplied in this field."
                    },
                    "name": {
                      "location": "path",
                      "description": "Output only. The resource name of the backup, in the format `projects/{project_id}/locations/{location_id}/backups/{backup_id}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/backups/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "Backup"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "description": "Updates the settings of a specific backup.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/backups/{backupsId}"
                },
                "delete": {
                  "description": "Deletes a backup.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1beta1/{+name}",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/backups/{backupsId}",
                  "id": "file.projects.locations.backups.delete",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The backup resource name, in the format `projects/{project_id}/locations/{location}/backups/{backup_id}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/backups/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  }
                },
                "create": {
                  "path": "v1beta1/{+parent}/backups",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/backups",
                  "id": "file.projects.locations.backups.create",
                  "parameters": {
                    "parent": {
                      "description": "Required. The backup's project and location, in the format `projects/{project_id}/locations/{location}`. In Filestore, backup locations map to Google Cloud regions, for example **us-west1**.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "backupId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. The ID to use for the backup. The ID must be unique within the specified project and location. This value must start with a lowercase letter followed by up to 62 lowercase letters, numbers, or hyphens, and cannot end with a hyphen."
                    }
                  },
                  "description": "Creates a backup.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "Backup"
                  }
                }
              }
            },
            "instances": {
              "resources": {
                "snapshots": {
                  "methods": {
                    "list": {
                      "httpMethod": "GET",
                      "description": "Lists all snapshots in a project for either a specified location or for all locations.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListSnapshotsResponse"
                      },
                      "id": "file.projects.locations.instances.snapshots.list",
                      "parameters": {
                        "returnPartialSuccess": {
                          "type": "boolean",
                          "location": "query",
                          "description": "Optional. If true, allow partial responses for multi-regional Aggregated List requests."
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "The next_page_token value to use if there are additional results to retrieve for this list request."
                        },
                        "pageSize": {
                          "description": "The maximum number of items to return.",
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        },
                        "orderBy": {
                          "description": "Sort results. Supported values are \"name\", \"name desc\" or \"\" (unsorted).",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                          "required": true,
                          "description": "Required. The instance for which to retrieve snapshot information, in the format `projects/{project_id}/locations/{location}/instances/{instance_id}`."
                        },
                        "filter": {
                          "description": "List filter.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/snapshots",
                      "path": "v1beta1/{+parent}/snapshots"
                    },
                    "create": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "parent": {
                          "required": true,
                          "description": "Required. The Filestore Instance to create the snapshots of, in the format `projects/{project_id}/locations/{location}/instances/{instance_id}`",
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$"
                        },
                        "snapshotId": {
                          "description": "Required. The ID to use for the snapshot. The ID must be unique within the specified instance. This value must start with a lowercase letter followed by up to 62 lowercase letters, numbers, or hyphens, and cannot end with a hyphen.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/snapshots",
                      "path": "v1beta1/{+parent}/snapshots",
                      "id": "file.projects.locations.instances.snapshots.create",
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "Snapshot"
                      },
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Creates a snapshot."
                    },
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "file.projects.locations.instances.snapshots.delete",
                      "description": "Deletes a snapshot.",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+/snapshots/[^/]+$",
                          "description": "Required. The snapshot resource name, in the format `projects/{project_id}/locations/{location}/instances/{instance_id}/snapshots/{snapshot_id}`"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1beta1/{+name}",
                      "httpMethod": "DELETE",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/snapshots/{snapshotsId}"
                    },
                    "get": {
                      "response": {
                        "$ref": "Snapshot"
                      },
                      "id": "file.projects.locations.instances.snapshots.get",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets the details of a specific snapshot.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta1/{+name}",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/snapshots/{snapshotsId}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+/snapshots/[^/]+$",
                          "description": "Required. The snapshot resource name, in the format `projects/{project_id}/locations/{location}/instances/{instance_id}/snapshots/{snapshot_id}`"
                        }
                      }
                    },
                    "patch": {
                      "request": {
                        "$ref": "Snapshot"
                      },
                      "httpMethod": "PATCH",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/snapshots/{snapshotsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+/snapshots/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Output only. The resource name of the snapshot, in the format `projects/{project_id}/locations/{location_id}/instances/{instance_id}/snapshots/{snapshot_id}`."
                        },
                        "updateMask": {
                          "location": "query",
                          "description": "Required. Mask of fields to update. At least one path must be supplied in this field.",
                          "type": "string",
                          "format": "google-fieldmask"
                        }
                      },
                      "description": "Updates the settings of a specific snapshot.",
                      "id": "file.projects.locations.instances.snapshots.patch"
                    }
                  }
                },
                "shares": {
                  "methods": {
                    "create": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. The Filestore Instance to create the share for, in the format `projects/{project_id}/locations/{location}/instances/{instance_id}`"
                        },
                        "shareId": {
                          "description": "Required. The ID to use for the share. The ID must be unique within the specified instance. This value must start with a lowercase letter followed by up to 62 lowercase letters, numbers, or hyphens, and cannot end with a hyphen.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "description": "Creates a share.",
                      "path": "v1beta1/{+parent}/shares",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/shares",
                      "request": {
                        "$ref": "Share"
                      },
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "file.projects.locations.instances.shares.create"
                    },
                    "patch": {
                      "id": "file.projects.locations.instances.shares.patch",
                      "path": "v1beta1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "PATCH",
                      "description": "Updates the settings of a specific share.",
                      "parameters": {
                        "updateMask": {
                          "format": "google-fieldmask",
                          "type": "string",
                          "description": "Required. Mask of fields to update. At least one path must be supplied in this field. The elements of the repeated paths field may only include these fields: * \"description\" * \"capacity_gb\" * \"labels\" * \"nfs_export_options\"",
                          "location": "query"
                        },
                        "name": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Output only. The resource name of the share, in the format `projects/{project_id}/locations/{location_id}/instances/{instance_id}/shares/{share_id}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+/shares/[^/]+$"
                        }
                      },
                      "request": {
                        "$ref": "Share"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/shares/{sharesId}"
                    },
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "file.projects.locations.instances.shares.delete",
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Deletes a share.",
                      "httpMethod": "DELETE",
                      "path": "v1beta1/{+name}",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/shares/{sharesId}",
                      "parameters": {
                        "name": {
                          "description": "Required. The share resource name, in the format `projects/{project_id}/locations/{location}/instances/{instance_id}/share/{share_id}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+/shares/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        }
                      }
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists all shares for a specified instance.",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                          "description": "Required. The instance for which to retrieve share information, in the format `projects/{project_id}/locations/{location}/instances/{instance_id}`.",
                          "location": "path",
                          "type": "string"
                        },
                        "filter": {
                          "type": "string",
                          "description": "List filter.",
                          "location": "query"
                        },
                        "pageSize": {
                          "description": "The maximum number of items to return.",
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "The next_page_token value to use if there are additional results to retrieve for this list request."
                        },
                        "orderBy": {
                          "location": "query",
                          "description": "Sort results. Supported values are \"name\", \"name desc\" or \"\" (unsorted).",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "ListSharesResponse"
                      },
                      "httpMethod": "GET",
                      "path": "v1beta1/{+parent}/shares",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/shares",
                      "id": "file.projects.locations.instances.shares.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "get": {
                      "response": {
                        "$ref": "Share"
                      },
                      "path": "v1beta1/{+name}",
                      "description": "Gets the details of a specific share.",
                      "id": "file.projects.locations.instances.shares.get",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+/shares/[^/]+$",
                          "location": "path",
                          "description": "Required. The share resource name, in the format `projects/{project_id}/locations/{location}/instances/{instance_id}/shares/{share_id}`",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/shares/{sharesId}",
                      "httpMethod": "GET"
                    }
                  }
                }
              },
              "methods": {
                "delete": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "file.projects.locations.instances.delete",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The instance resource name, in the format `projects/{project_id}/locations/{location}/instances/{instance_id}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "type": "string"
                    },
                    "force": {
                      "type": "boolean",
                      "location": "query",
                      "description": "If set to true, any snapshots of the instance will also be deleted. (Otherwise, the request will only work if the instance has no snapshots.)"
                    }
                  },
                  "path": "v1beta1/{+name}",
                  "description": "Deletes an instance.",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "restore": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "location": "path",
                      "description": "Required. The resource name of the instance, in the format `projects/{project_id}/locations/{location_id}/instances/{instance_id}`."
                    }
                  },
                  "request": {
                    "$ref": "RestoreInstanceRequest"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:restore",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Restores an existing instance's file share from a backup. The capacity of the instance needs to be equal to or larger than the capacity of the backup (and also equal to or larger than the minimum capacity of the tier).",
                  "id": "file.projects.locations.instances.restore",
                  "path": "v1beta1/{+name}:restore",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST"
                },
                "create": {
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1beta1/{+parent}/instances",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances",
                  "id": "file.projects.locations.instances.create",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The instance's project and location, in the format `projects/{project_id}/locations/{location}`. In Filestore, locations map to Google Cloud zones, for example **us-west1-b**.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "instanceId": {
                      "type": "string",
                      "description": "Required. The ID of the instance to create. The ID must be unique within the specified project and location. This value must start with a lowercase letter followed by up to 62 lowercase letters, numbers, or hyphens, and cannot end with a hyphen.",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates an instance. When creating from a backup, the capacity of the new instance needs to be equal to or larger than the capacity of the backup (and also equal to or larger than the minimum capacity of the tier).",
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "Instance"
                  }
                },
                "revert": {
                  "description": "Revert an existing instance's file system to a specified snapshot.",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:revert",
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the instance, in the format `projects/{project_id}/locations/{location_id}/instances/{instance_id}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "RevertInstanceRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "file.projects.locations.instances.revert",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1beta1/{+name}:revert",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST"
                },
                "promoteReplica": {
                  "id": "file.projects.locations.instances.promoteReplica",
                  "description": "Promote the standby instance (replica).",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "path": "v1beta1/{+name}:promoteReplica",
                  "request": {
                    "$ref": "PromoteReplicaRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:promoteReplica",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The resource name of the instance, in the format `projects/{project_id}/locations/{location_id}/instances/{instance_id}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  }
                },
                "list": {
                  "description": "Lists all instances in a project for either a specified location or for all locations.",
                  "path": "v1beta1/{+parent}/instances",
                  "parameters": {
                    "orderBy": {
                      "type": "string",
                      "location": "query",
                      "description": "Sort results. Supported values are \"name\", \"name desc\" or \"\" (unsorted)."
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "The maximum number of items to return."
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The project and location for which to retrieve instance information, in the format `projects/{project_id}/locations/{location}`. In Cloud Filestore, locations map to Google Cloud zones, for example **us-west1-b**. To retrieve instance information for all locations, use \"-\" for the `{location}` value.",
                      "required": true
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "List filter."
                    },
                    "pageToken": {
                      "description": "The next_page_token value to use if there are additional results to retrieve for this list request.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "id": "file.projects.locations.instances.list",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListInstancesResponse"
                  }
                },
                "get": {
                  "response": {
                    "$ref": "Instance"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "id": "file.projects.locations.instances.get",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The instance resource name, in the format `projects/{project_id}/locations/{location}/instances/{instance_id}`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$"
                    }
                  },
                  "path": "v1beta1/{+name}",
                  "description": "Gets the details of a specific instance."
                },
                "pauseReplica": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Pause the standby instance (replica). WARNING: This operation makes the standby instance's NFS filesystem writable. Any data written to the standby instance while paused will be lost when the replica is resumed or promoted.",
                  "path": "v1beta1/{+name}:pauseReplica",
                  "id": "file.projects.locations.instances.pauseReplica",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The resource name of the instance, in the format `projects/{project_id}/locations/{location_id}/instances/{instance_id}`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "PauseReplicaRequest"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:pauseReplica",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                  "path": "v1beta1/{+name}",
                  "request": {
                    "$ref": "Instance"
                  },
                  "id": "file.projects.locations.instances.patch",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Output only. The resource name of the instance, in the format `projects/{project_id}/locations/{location_id}/instances/{instance_id}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "type": "string",
                      "required": true
                    },
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Required. Mask of fields to update. At least one path must be supplied in this field. The elements of the repeated paths field may only include these fields: * \"description\" * \"directory_services\" * \"file_shares\" * \"labels\" * \"performance_config\" * \"deletion_protection_enabled\" * \"deletion_protection_reason\"",
                      "location": "query"
                    }
                  },
                  "description": "Updates the settings of a specific instance.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "resumeReplica": {
                  "description": "Resume the standby instance (replica). WARNING: Any data written to the standby instance while paused will be lost when the replica is resumed.",
                  "path": "v1beta1/{+name}:resumeReplica",
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the instance, in the format `projects/{project_id}/locations/{location_id}/instances/{instance_id}`.",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$"
                    }
                  },
                  "id": "file.projects.locations.instances.resumeReplica",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "ResumeReplicaRequest"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:resumeReplica",
                  "httpMethod": "POST"
                }
              }
            },
            "operations": {
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "description": "The name of the operation resource.",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "path": "v1beta1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "id": "file.projects.locations.operations.get"
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "The name of the operation resource to be deleted.",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "file.projects.locations.operations.delete",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta1/{+name}",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}"
                },
                "list": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "parameters": {
                    "returnPartialSuccess": {
                      "location": "query",
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "The standard list page size."
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list page token."
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list filter."
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "The name of the operation's parent resource.",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+name}/operations",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "id": "file.projects.locations.operations.list",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/operations"
                },
                "cancel": {
                  "id": "file.projects.locations.operations.cancel",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "path": "v1beta1/{+name}:cancel",
                  "response": {
                    "$ref": "Empty"
                  },
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be cancelled.",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel"
                }
              }
            }
          },
          "methods": {
            "get": {
              "path": "v1beta1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Location"
              },
              "description": "Gets information about a location.",
              "id": "file.projects.locations.get",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Resource name for the location."
                }
              },
              "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET"
            },
            "list": {
              "id": "file.projects.locations.list",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "location": "path",
                  "type": "string"
                },
                "extraLocationTypes": {
                  "location": "query",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "type": "string",
                  "repeated": true
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page."
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/locations",
              "path": "v1beta1/{+name}/locations"
            }
          }
        }
      }
    }
  },
  "schemas": {
    "MaintenancePolicy": {
      "description": "Defines policies to service maintenance events.",
      "type": "object",
      "properties": {
        "state": {
          "description": "Optional. The state of the policy.",
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "DELETING"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "Resource is ready to be used.",
            "Resource is being deleted. It can no longer be attached to instances."
          ]
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of what this policy is for. Create/Update methods return INVALID_ARGUMENT if the length is greater than 512."
        },
        "updateTime": {
          "description": "Output only. The time when the resource was updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the resource was created."
        },
        "labels": {
          "type": "object",
          "description": "Optional. Resource labels to represent user provided metadata. Each label is a key-value pair, where both the key and the value are arbitrary strings provided by the user.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "updatePolicy": {
          "description": "Maintenance policy applicable to instance update.",
          "$ref": "UpdatePolicy"
        },
        "name": {
          "description": "Required. MaintenancePolicy name using the form: `projects/{project_id}/locations/{location_id}/maintenancePolicies/{maintenance_policy_id}` where {project_id} refers to a GCP consumer project ID, {location_id} refers to a GCP region/zone, {maintenance_policy_id} must be 1-63 characters long and match the regular expression `[a-z0-9]([-a-z0-9]*[a-z0-9])?`.",
          "type": "string"
        }
      },
      "id": "MaintenancePolicy"
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        }
      }
    },
    "VolumePool": {
      "type": "object",
      "properties": {
        "activeVolumeIops": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The number of IOPs provisioned per active volume."
        },
        "defaultVolumeQuotaMib": {
          "type": "integer",
          "description": "Optional. The default quota per volume in MiB. Default: 1024 MiB.",
          "format": "int32"
        },
        "uid": {
          "type": "string",
          "description": "Output only. System-assigned unique identifier for the volume pool.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time when the volume pool was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "network": {
          "type": "string",
          "description": "Required. The VPC network to which the VolumePool should be attached. Only Private Service Connect (PSC) is supported."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Resource labels to represent user provided metadata."
        },
        "name": {
          "description": "Identifier. The resource name of the volume pool, in the format `projects/{project}/locations/{location}/volumePools/{volume_pool}`.",
          "type": "string"
        },
        "description": {
          "description": "Optional. A description of the volume pool with 2048 characters or less.",
          "type": "string"
        }
      },
      "description": "VolumePool representation of a Cloud Filestore volume pool.",
      "id": "VolumePool"
    },
    "LdapConfig": {
      "properties": {
        "domain": {
          "type": "string",
          "description": "Required. The LDAP domain name in the format of `my-domain.com`."
        },
        "servers": {
          "description": "Required. The servers names are used for specifying the LDAP servers names. The LDAP servers names can come with two formats: 1. DNS name, for example: `ldap.example1.com`, `ldap.example2.com`. 2. IP address, for example: `10.0.0.1`, `10.0.0.2`, `10.0.0.3`. All servers names must be in the same format: either all DNS names or all IP addresses.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "groupsOu": {
          "description": "Optional. The groups Organizational Unit (OU) is optional. This parameter is a hint to allow faster lookup in the LDAP namespace. In case that this parameter is not provided, Filestore instance will query the whole LDAP namespace.",
          "type": "string"
        },
        "usersOu": {
          "type": "string",
          "description": "Optional. The users Organizational Unit (OU) is optional. This parameter is a hint to allow faster lookup in the LDAP namespace. In case that this parameter is not provided, Filestore instance will query the whole LDAP namespace."
        }
      },
      "id": "LdapConfig",
      "type": "object",
      "description": "LdapConfig contains all the parameters for connecting to LDAP servers."
    },
    "ReleaseShareRequest": {
      "id": "ReleaseShareRequest",
      "description": "Request message for ReleaseShare.",
      "type": "object",
      "properties": {
        "ipAddress": {
          "type": "string",
          "description": "Required. The IP address of the physical Filestore instance hosting the share."
        },
        "shareId": {
          "type": "string",
          "description": "Required. The specific share ID on the instance."
        }
      }
    },
    "GoogleCloudSaasacceleratorManagementProvidersV1PerSliSloEligibility": {
      "id": "GoogleCloudSaasacceleratorManagementProvidersV1PerSliSloEligibility",
      "description": "PerSliSloEligibility is a mapping from an SLI name to eligibility.",
      "properties": {
        "eligibilities": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1SloEligibility"
          },
          "description": "An entry in the eligibilities map specifies an eligibility for a particular SLI for the given instance. The SLI key in the name must be a valid SLI name specified in the Eligibility Exporter binary flags otherwise an error will be emitted by Eligibility Exporter and the oncaller will be alerted. If an SLI has been defined in the binary flags but the eligibilities map does not contain it, the corresponding SLI time series will not be emitted by the Eligibility Exporter. This ensures a smooth rollout and compatibility between the data produced by different versions of the Eligibility Exporters. If eligibilities map contains a key for an SLI which has not been declared in the binary flags, there will be an error message emitted in the Eligibility Exporter log and the metric for the SLI in question will not be emitted."
        }
      },
      "type": "object"
    },
    "ManagedActiveDirectoryConfig": {
      "type": "object",
      "id": "ManagedActiveDirectoryConfig",
      "properties": {
        "computer": {
          "description": "Required. The computer name is used as a prefix in the command to mount the remote target. For example: if the computer is `my-computer`, the mount command will look like: `$mount -o vers=4.1,sec=krb5 my-computer.filestore.: `.",
          "type": "string"
        },
        "domain": {
          "description": "Required. The domain resource name, in the format `projects/{project_id}/locations/global/domains/{domain}`.",
          "type": "string"
        }
      },
      "description": "ManagedActiveDirectoryConfig contains all the parameters for connecting to Managed Service for Microsoft Active Directory (Managed Microsoft AD)."
    },
    "Volume": {
      "properties": {
        "description": {
          "description": "Optional. A description of the volume with 2048 characters or less. Requests with longer descriptions will be rejected.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the volume, in the format `projects/{project}/locations/{location}/volumePools/{volume_pool}/volumes/{volume}`."
        },
        "mountPoint": {
          "readOnly": true,
          "$ref": "MountPoint",
          "description": "Output only. The mount point of the volume."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Resource labels to represent user provided metadata."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time when the volume was created.",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "Volume",
      "description": "Volume representation of a Cloud Filestore volume."
    },
    "DailyCycle": {
      "properties": {
        "startTime": {
          "description": "Time within the day to start the operations.",
          "$ref": "TimeOfDay"
        },
        "duration": {
          "type": "string",
          "format": "google-duration",
          "description": "Output only. Duration of the time window, set by service producer."
        }
      },
      "id": "DailyCycle",
      "type": "object",
      "description": "Time window specified for daily operations."
    },
    "GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSchedule": {
      "description": "Maintenance schedule which is exposed to customer and potentially end user, indicating published upcoming future maintenance schedule",
      "properties": {
        "rolloutManagementPolicy": {
          "description": "The rollout management policy this maintenance schedule is associated with. When doing reschedule update request, the reschedule should be against this given policy.",
          "type": "string"
        },
        "scheduleDeadlineTime": {
          "description": "schedule_deadline_time is the time deadline any schedule start time cannot go beyond, including reschedule. It's normally the initial schedule start time plus maintenance window length (1 day or 1 week). Maintenance cannot be scheduled to start beyond this deadline.",
          "format": "google-datetime",
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "The scheduled start time for the maintenance.",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The scheduled end time for the maintenance."
        },
        "canReschedule": {
          "description": "This field is deprecated, and will be always set to true since reschedule can happen multiple times now. This field should not be removed until all service producers remove this for their customers.",
          "deprecated": true,
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSchedule"
    },
    "PerformanceLimits": {
      "id": "PerformanceLimits",
      "properties": {
        "maxWriteIops": {
          "format": "int64",
          "type": "string",
          "description": "Output only. The maximum write IOPS.",
          "readOnly": true
        },
        "maxWriteThroughputBps": {
          "description": "Output only. The maximumwrite throughput in bytes per second.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "maxReadIops": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The maximum read IOPS.",
          "type": "string"
        },
        "maxIops": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The maximum IOPS.",
          "type": "string"
        },
        "maxReadThroughputBps": {
          "format": "int64",
          "description": "Output only. The maximum read throughput in bytes per second.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "The enforced performance limits, calculated from the instance's performance configuration."
    },
    "Status": {
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "Status"
    },
    "PromoteReplicaRequest": {
      "type": "object",
      "properties": {
        "peerInstance": {
          "type": "string",
          "description": "Optional. The resource name of the peer instance to promote, in the format `projects/{project_id}/locations/{location_id}/instances/{instance_id}`. The peer instance is required if the operation is called on an active instance."
        }
      },
      "id": "PromoteReplicaRequest",
      "description": "PromoteReplicaRequest promotes a Filestore standby instance (replica)."
    },
    "TimeOfDay": {
      "id": "TimeOfDay",
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "properties": {
        "hours": {
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "type": "integer",
          "format": "int32"
        },
        "minutes": {
          "format": "int32",
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "type": "integer"
        },
        "seconds": {
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "format": "int32",
          "type": "integer"
        },
        "nanos": {
          "format": "int32",
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "Date": {
      "id": "Date",
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "year": {
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32"
        },
        "day": {
          "format": "int32",
[...]
