{
  "rootUrl": "https://file.googleapis.com/",
  "mtlsRootUrl": "https://file.mtls.googleapis.com/",
  "version_module": true,
  "discoveryVersion": "v1",
  "baseUrl": "https://file.googleapis.com/",
  "canonicalName": "Cloud Filestore",
  "basePath": "",
  "endpoints": [
    {
      "location": "africa-south1",
      "endpointUrl": "https://file.africa-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-east1",
      "endpointUrl": "https://file.asia-east1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://file.asia-east2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-east2"
    },
    {
      "endpointUrl": "https://file.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast1"
    },
    {
      "location": "asia-northeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.asia-northeast2.rep.googleapis.com/"
    },
    {
      "location": "asia-northeast3",
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.asia-northeast3.rep.googleapis.com/"
    },
    {
      "location": "asia-south1",
      "endpointUrl": "https://file.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://file.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.asia-southeast1.rep.googleapis.com/",
      "location": "asia-southeast1"
    },
    {
      "endpointUrl": "https://file.asia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast2"
    },
    {
      "endpointUrl": "https://file.asia-southeast3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast3"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.australia-southeast1.rep.googleapis.com/",
      "location": "australia-southeast1"
    },
    {
      "location": "australia-southeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.australia-southeast2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.europe-central2.rep.googleapis.com/",
      "location": "europe-central2"
    },
    {
      "endpointUrl": "https://file.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-north1"
    },
    {
      "endpointUrl": "https://file.europe-north2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-north2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.europe-southwest1.rep.googleapis.com/",
      "location": "europe-southwest1"
    },
    {
      "location": "europe-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.europe-west1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://file.europe-west10.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west10"
    },
    {
      "endpointUrl": "https://file.europe-west12.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west12"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.europe-west15.rep.googleapis.com/",
      "location": "europe-west15"
    },
    {
      "endpointUrl": "https://file.europe-west2.rep.googleapis.com/",
      "location": "europe-west2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west3",
      "endpointUrl": "https://file.europe-west3.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.europe-west4.rep.googleapis.com/",
      "location": "europe-west4"
    },
    {
      "location": "europe-west6",
      "endpointUrl": "https://file.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://file.europe-west8.rep.googleapis.com/",
      "location": "europe-west8",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west9",
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.europe-west9.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.me-central1.rep.googleapis.com/",
      "location": "me-central1"
    },
    {
      "endpointUrl": "https://file.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-central2"
    },
    {
      "description": "Regional Endpoint",
      "location": "me-west1",
      "endpointUrl": "https://file.me-west1.rep.googleapis.com/"
    },
    {
      "location": "northamerica-northeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.northamerica-northeast1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://file.northamerica-northeast2.rep.googleapis.com/",
      "location": "northamerica-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://file.northamerica-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-south1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.southamerica-east1.rep.googleapis.com/",
      "location": "southamerica-east1"
    },
    {
      "endpointUrl": "https://file.southamerica-west1.rep.googleapis.com/",
      "location": "southamerica-west1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.us-central1.rep.googleapis.com/",
      "location": "us-central1"
    },
    {
      "location": "us-central2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.us-central2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://file.us-east1.rep.googleapis.com/",
      "location": "us-east1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://file.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east4"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.us-east5.rep.googleapis.com/",
      "location": "us-east5"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.us-east7.rep.googleapis.com/",
      "location": "us-east7"
    },
    {
      "location": "us-south1",
      "endpointUrl": "https://file.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.us-west1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://file.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west2"
    },
    {
      "endpointUrl": "https://file.us-west3.rep.googleapis.com/",
      "location": "us-west3",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.us-west4.rep.googleapis.com/",
      "location": "us-west4"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.us-west8.rep.googleapis.com/",
      "location": "us-west8"
    }
  ],
  "name": "file",
  "description": "The Cloud Filestore API is used for creating and managing cloud file servers.",
  "schemas": {
    "Backup": {
      "id": "Backup",
      "description": "A Filestore backup.",
      "type": "object",
      "properties": {
        "state": {
          "description": "Output only. The backup state.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "FINALIZING",
            "READY",
            "DELETING",
            "INVALID"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "State not set.",
            "Backup is being created.",
            "Backup has been taken and the operation is being finalized. At this point, changes to the file share will not be reflected in the backup.",
            "Backup is available for use.",
            "Backup is being deleted.",
            "Backup is not valid and cannot be used for creating new instances or restoring existing instances."
          ]
        },
        "sourceInstance": {
          "type": "string",
          "description": "The resource name of the source Filestore instance, in the format `projects/{project_id}/locations/{location_id}/instances/{instance_id}`, used to create this backup."
        },
        "tags": {
          "description": "Optional. Input only. Immutable. Tag key-value pairs bound to this resource. Each key must be a namespaced name and each value a short name. Example: \"123456789012/environment\" : \"production\", \"123456789013/costCenter\" : \"marketing\" See the documentation for more information: - Namespaced name: https://cloud.google.com/resource-manager/docs/tags/tags-creating-and-managing#retrieving_tag_key - Short name: https://cloud.google.com/resource-manager/docs/tags/tags-creating-and-managing#retrieving_tag_value",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "type": "boolean",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name of the backup, in the format `projects/{project_id}/locations/{location_id}/backups/{backup_id}`.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the backup was created."
        },
        "satisfiesPzi": {
          "readOnly": true,
          "description": "Output only. Reserved for future use.",
          "type": "boolean"
        },
        "labels": {
          "description": "Resource labels to represent user provided metadata.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "description": {
          "description": "A description of the backup with 2048 characters or less. Requests with longer descriptions will be rejected.",
          "type": "string"
        },
        "kmsKeyName": {
          "description": "Immutable. KMS key name used for data encryption.",
          "type": "string"
        },
        "sourceVolume": {
          "type": "string",
          "description": "Optional. The resource name of the Filestore volume that the backup is created from. Should be in the format: projects/{project_id}/locations/{location_id}/volumePools/{volume_pool_id}/volumes/{volume_id}"
        },
        "fileSystemProtocol": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "FILE_PROTOCOL_UNSPECIFIED serves a \"not set\" default value when a FileProtocol is a separate field in a message.",
            "NFS 3.0.",
            "NFS 4.1."
          ],
          "enum": [
            "FILE_PROTOCOL_UNSPECIFIED",
            "NFS_V3",
            "NFS_V4_1"
          ],
          "description": "Output only. The file system protocol of the source Filestore instance that this backup is created from."
        },
        "storageBytes": {
          "format": "int64",
          "type": "string",
          "description": "Output only. The size of the storage used by the backup. As backups share storage, this number is expected to change with backup creation/deletion.",
          "readOnly": true
        },
        "downloadBytes": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Amount of bytes that will be downloaded if the backup is restored"
        },
        "sourceFileShare": {
          "description": "Name of the file share in the source Filestore instance that the backup is created from.",
          "type": "string"
        },
        "capacityGb": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Capacity of the source file share when the backup was created.",
          "type": "string"
        },
        "sourceInstanceTier": {
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "STANDARD tier. BASIC_HDD is the preferred term for this tier.",
            "PREMIUM tier. BASIC_SSD is the preferred term for this tier.",
            "BASIC instances offer a maximum capacity of 63.9 TB. BASIC_HDD is an alias for STANDARD Tier, offering economical performance backed by HDD.",
            "BASIC instances offer a maximum capacity of 63.9 TB. BASIC_SSD is an alias for PREMIUM Tier, and offers improved performance backed by SSD.",
            "HIGH_SCALE instances offer expanded capacity and performance scaling capabilities.",
            "ENTERPRISE instances offer the features and availability needed for mission-critical workloads.",
            "ZONAL instances offer expanded capacity and performance scaling capabilities.",
            "REGIONAL instances offer the features and availability needed for mission-critical workloads."
          ],
          "readOnly": true,
          "enum": [
            "TIER_UNSPECIFIED",
            "STANDARD",
            "PREMIUM",
            "BASIC_HDD",
            "BASIC_SSD",
            "HIGH_SCALE_SSD",
            "ENTERPRISE",
            "ZONAL",
            "REGIONAL"
          ],
          "description": "Output only. The service tier of the source Filestore instance that this backup is created from."
        }
      }
    },
    "LdapConfig": {
      "type": "object",
      "id": "LdapConfig",
      "description": "LdapConfig contains all the parameters for connecting to LDAP servers.",
      "properties": {
        "groupsOu": {
          "type": "string",
          "description": "Optional. The groups Organizational Unit (OU) is optional. This parameter is a hint to allow faster lookup in the LDAP namespace. In case that this parameter is not provided, Filestore instance will query the whole LDAP namespace."
        },
        "usersOu": {
          "description": "Optional. The users Organizational Unit (OU) is optional. This parameter is a hint to allow faster lookup in the LDAP namespace. In case that this parameter is not provided, Filestore instance will query the whole LDAP namespace.",
          "type": "string"
        },
        "servers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The servers names are used for specifying the LDAP servers names. The LDAP servers names can come with two formats: 1. DNS name, for example: `ldap.example1.com`, `ldap.example2.com`. 2. IP address, for example: `10.0.0.1`, `10.0.0.2`, `10.0.0.3`. All servers names must be in the same format: either all DNS names or all IP addresses."
        },
        "domain": {
          "type": "string",
          "description": "Required. The LDAP domain name in the format of `my-domain.com`."
        }
      }
    },
    "PerformanceConfig": {
      "type": "object",
      "id": "PerformanceConfig",
      "description": "Used for setting the performance configuration. If the user doesn't specify PerformanceConfig, automatically provision the default performance settings as described in https://cloud.google.com/filestore/docs/performance. Larger instances will be linearly set to more IOPS. If the instance's capacity is increased or decreased, its performance will be automatically adjusted upwards or downwards accordingly (respectively).",
      "properties": {
        "iopsPerTb": {
          "description": "Provision IOPS dynamically based on the capacity of the instance. Provisioned IOPS will be calculated by multiplying the capacity of the instance in TiB by the `iops_per_tb` value. For example, for a 2 TiB instance with an `iops_per_tb` value of 17000 the provisioned IOPS will be 34000. If the calculated value is outside the supported range for the instance's capacity during instance creation, instance creation will fail with an `InvalidArgument` error. Similarly, if an instance capacity update would result in a value outside the supported range, the update will fail with an `InvalidArgument` error.",
          "$ref": "IOPSPerTB"
        },
        "fixedIops": {
          "description": "Choose a fixed provisioned IOPS value for the instance, which will remain constant regardless of instance capacity. Value must be a multiple of 1000. If the chosen value is outside the supported range for the instance's capacity during instance creation, instance creation will fail with an `InvalidArgument` error. Similarly, if an instance capacity update would result in a value outside the supported range, the update will fail with an `InvalidArgument` error.",
          "$ref": "FixedIOPS"
        }
      }
    },
    "AcquireShareRequest": {
      "properties": {
        "capacityGb": {
          "format": "int32",
          "type": "integer",
          "description": "Required. Requested size of the share in GiB."
        },
        "requestId": {
          "description": "Required. Unique string generated by the CSI driver for exact retry idempotency.",
          "type": "string"
        }
      },
      "description": "Request message for AcquireShare.",
      "type": "object",
      "id": "AcquireShareRequest"
    },
    "GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSchedule": {
      "properties": {
        "startTime": {
          "description": "The scheduled start time for the maintenance.",
          "type": "string",
          "format": "google-datetime"
        },
        "rolloutManagementPolicy": {
          "description": "The rollout management policy this maintenance schedule is associated with. When doing reschedule update request, the reschedule should be against this given policy.",
          "type": "string"
        },
        "canReschedule": {
          "description": "This field is deprecated, and will be always set to true since reschedule can happen multiple times now. This field should not be removed until all service producers remove this for their customers.",
          "type": "boolean",
          "deprecated": true
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The scheduled end time for the maintenance."
        },
        "scheduleDeadlineTime": {
          "description": "schedule_deadline_time is the time deadline any schedule start time cannot go beyond, including reschedule. It's normally the initial schedule start time plus maintenance window length (1 day or 1 week). Maintenance cannot be scheduled to start beyond this deadline.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSchedule",
      "description": "Maintenance schedule which is exposed to customer and potentially end user, indicating published upcoming future maintenance schedule",
      "type": "object"
    },
    "PauseReplicaRequest": {
      "id": "PauseReplicaRequest",
      "description": "PauseReplicaRequest pauses a Filestore standby instance (replica).",
      "type": "object",
      "properties": {}
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest",
      "type": "object",
      "properties": {}
    },
    "Volume": {
      "properties": {
        "createTime": {
          "description": "Output only. The time when the volume was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the volume, in the format `projects/{project}/locations/{location}/volumePools/{volume_pool}/volumes/{volume}`.",
          "type": "string"
        },
        "description": {
          "description": "Optional. A description of the volume with 2048 characters or less. Requests with longer descriptions will be rejected.",
          "type": "string"
        },
        "mountPoint": {
          "readOnly": true,
          "$ref": "MountPoint",
          "description": "Output only. The mount point of the volume."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Resource labels to represent user provided metadata."
        }
      },
      "type": "object",
      "description": "Volume representation of a Cloud Filestore volume.",
      "id": "Volume"
    },
    "PerformanceLimits": {
      "type": "object",
      "id": "PerformanceLimits",
      "properties": {
        "maxWriteIops": {
          "description": "Output only. The maximum write IOPS.",
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "maxReadIops": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The maximum read IOPS."
        },
        "maxWriteThroughputBps": {
          "description": "Output only. The maximumwrite throughput in bytes per second.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "maxIops": {
          "type": "string",
          "description": "Output only. The maximum IOPS.",
          "format": "int64",
          "readOnly": true
        },
        "maxReadThroughputBps": {
          "readOnly": true,
          "description": "Output only. The maximum read throughput in bytes per second.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "The enforced performance limits, calculated from the instance's performance configuration."
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "id": "Operation",
      "properties": {
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        }
      }
    },
    "Schedule": {
      "type": "object",
      "properties": {
        "day": {
          "description": "Allows to define schedule that runs specified day of the week.",
          "type": "string",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ]
        },
        "duration": {
          "type": "string",
          "description": "Output only. Duration of the time window, set by service producer.",
          "format": "google-duration"
        },
        "startTime": {
          "$ref": "TimeOfDay",
          "description": "Time within the window to start the operations."
        }
      },
      "description": "Configure the schedule.",
      "id": "Schedule"
    },
    "Replication": {
      "properties": {
        "role": {
          "enumDescriptions": [
            "Role not set.",
            "The instance is the `ACTIVE` replication member, functions as the replication source instance.",
            "The instance is the `STANDBY` replication member, functions as the replication destination instance."
          ],
          "type": "string",
          "enum": [
            "ROLE_UNSPECIFIED",
            "ACTIVE",
            "STANDBY"
          ],
          "description": "Output only. The replication role. When creating a new replica, this field must be set to `STANDBY`."
        },
        "replicas": {
          "description": "Replication configuration for the replica instance associated with this instance. Only a single replica is supported.",
          "items": {
            "$ref": "ReplicaConfig"
          },
          "type": "array"
        }
      },
      "description": "Optional. The configuration used to replicate an instance.",
      "type": "object",
      "id": "Replication"
    },
    "TimeOfDay": {
      "id": "TimeOfDay",
      "type": "object",
      "properties": {
        "hours": {
          "format": "int32",
          "type": "integer",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time."
        },
        "minutes": {
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "format": "int32",
          "type": "integer"
        },
        "seconds": {
          "format": "int32",
          "type": "integer",
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds."
        },
        "nanos": {
          "type": "integer",
          "format": "int32",
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999."
        }
      },
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`."
    },
    "ListBackupsResponse": {
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "backups": {
          "items": {
            "$ref": "Backup"
          },
          "description": "A list of backups in the project for the specified location. If the `{location}` value in the request is \"-\", the response contains a list of backups from all locations. If any location is unreachable, the response will only return backups in reachable locations and the \"unreachable\" field will be populated with a list of unreachable locations.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list."
        }
      },
      "id": "ListBackupsResponse",
      "description": "ListBackupsResponse is the result of ListBackupsRequest.",
      "type": "object"
    },
    "Snapshot": {
      "description": "A Filestore snapshot.",
      "type": "object",
      "id": "Snapshot",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the snapshot was created.",
          "readOnly": true,
          "type": "string"
        },
        "filesystemUsedBytes": {
          "type": "string",
          "description": "Output only. The amount of bytes needed to allocate a full copy of the snapshot content",
          "format": "int64",
          "readOnly": true
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Input only. Immutable. Tag key-value pairs bound to this resource. Each key must be a namespaced name and each value a short name. Example: \"123456789012/environment\" : \"production\", \"123456789013/costCenter\" : \"marketing\" See the documentation for more information: - Namespaced name: https://cloud.google.com/resource-manager/docs/tags/tags-creating-and-managing#retrieving_tag_key - Short name: https://cloud.google.com/resource-manager/docs/tags/tags-creating-and-managing#retrieving_tag_value"
        },
        "labels": {
          "type": "object",
          "description": "Resource labels to represent user provided metadata.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "state": {
          "description": "Output only. The snapshot state.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "DELETING"
          ],
          "enumDescriptions": [
            "State not set.",
            "Snapshot is being created.",
            "Snapshot is available for use.",
            "Snapshot is being deleted."
          ]
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the snapshot, in the format `projects/{project_id}/locations/{location_id}/instances/{instance_id}/snapshots/{snapshot_id}`."
        },
        "description": {
          "description": "A description of the snapshot with 2048 characters or less. Requests with longer descriptions will be rejected.",
          "type": "string"
        }
      }
    },
    "VolumePool": {
      "description": "VolumePool representation of a Cloud Filestore volume pool.",
      "id": "VolumePool",
      "properties": {
        "description": {
          "description": "Optional. A description of the volume pool with 2048 characters or less.",
          "type": "string"
        },
        "network": {
          "type": "string",
          "description": "Required. The VPC network to which the VolumePool should be attached. Only Private Service Connect (PSC) is supported."
        },
        "labels": {
          "description": "Optional. Resource labels to represent user provided metadata.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the volume pool, in the format `projects/{project}/locations/{location}/volumePools/{volume_pool}`."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the volume pool was created."
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. System-assigned unique identifier for the volume pool.",
          "type": "string"
        },
        "activeVolumeIops": {
          "format": "int32",
          "description": "Optional. The number of IOPs provisioned per active volume.",
          "type": "integer"
        },
        "defaultVolumeQuotaMib": {
          "format": "int32",
          "description": "Optional. The default quota per volume in MiB. Default: 1024 MiB.",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "Instance": {
      "properties": {
        "customPerformanceSupported": {
          "description": "Output only. Indicates whether this instance supports configuring its performance. If true, the user can configure the instance's performance by using the 'performance_config' field.",
          "readOnly": true,
          "type": "boolean"
        },
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Input only. Immutable. Tag key-value pairs bound to this resource. Each key must be a namespaced name and each value a short name. Example: \"123456789012/environment\" : \"production\", \"123456789013/costCenter\" : \"marketing\" See the documentation for more information: - Namespaced name: https://cloud.google.com/resource-manager/docs/tags/tags-creating-and-managing#retrieving_tag_key - Short name: https://cloud.google.com/resource-manager/docs/tags/tags-creating-and-managing#retrieving_tag_value"
        },
        "labels": {
          "type": "object",
          "description": "Resource labels to represent user provided metadata.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "kmsKeyName": {
          "description": "KMS key name used for data encryption.",
          "type": "string"
        },
        "suspensionReasons": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Field indicates all the reasons the instance is in \"SUSPENDED\" state.",
          "items": {
            "enumDescriptions": [
              "Not set.",
              "The KMS key used by the instance is either revoked or denied access to."
            ],
            "type": "string",
            "enum": [
              "SUSPENSION_REASON_UNSPECIFIED",
              "KMS_KEY_ISSUE"
            ]
          }
        },
        "networks": {
          "items": {
            "$ref": "NetworkConfig"
          },
          "description": "VPC networks to which the instance is connected. For this version, only a single network is supported.",
          "type": "array"
        },
        "maxCapacityGb": {
          "type": "string",
          "description": "Output only. The maximum capacity of the instance.",
          "format": "int64",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "State not set.",
            "The instance is being created.",
            "The instance is available for use.",
            "Work is being done on the instance. You can get further details from the `statusMessage` field of the `Instance` resource.",
            "The instance is shutting down.",
            "The instance is experiencing an issue and might be unusable. You can get further details from the `statusMessage` field of the `Instance` resource.",
            "The instance is restoring a snapshot or backup to an existing file share and may be unusable during this time.",
            "The instance is suspended. You can get further details from the `suspension_reasons` field of the `Instance` resource.",
            "The instance is reverting to a snapshot.",
            "The instance is in the process of becoming suspended.",
            "The instance is in the process of becoming active.",
            "The replica instance is being promoted."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The instance state.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "REPAIRING",
            "DELETING",
            "ERROR",
            "RESTORING",
            "SUSPENDED",
            "REVERTING",
            "SUSPENDING",
            "RESUMING",
            "PROMOTING"
          ]
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the instance was created.",
          "readOnly": true
        },
        "deletionProtectionEnabled": {
          "type": "boolean",
          "description": "Optional. Indicates whether the instance is protected against deletion."
        },
        "maxShareCount": {
          "description": "The maximum number of shares allowed.",
          "type": "string",
          "format": "int64"
        },
        "protocol": {
          "enumDescriptions": [
            "FILE_PROTOCOL_UNSPECIFIED serves a \"not set\" default value when a FileProtocol is a separate field in a message.",
            "NFS 3.0.",
            "NFS 4.1."
          ],
          "description": "Immutable. The protocol indicates the access protocol for all shares in the instance. This field is immutable and it cannot be changed after the instance has been created. Default value: `NFS_V3`.",
          "type": "string",
          "enum": [
            "FILE_PROTOCOL_UNSPECIFIED",
            "NFS_V3",
            "NFS_V4_1"
          ]
        },
        "performanceLimits": {
          "readOnly": true,
          "description": "Output only. Used for getting performance limits.",
          "$ref": "PerformanceLimits"
        },
        "deletionProtectionReason": {
          "type": "string",
          "description": "Optional. The reason for enabling deletion protection."
        },
        "etag": {
          "type": "string",
          "description": "Server-specified ETag for the instance resource to prevent simultaneous updates from overwriting each other."
        },
        "capacityGb": {
          "type": "string",
          "description": "The storage capacity of the instance in gigabytes (GB = 1024^3 bytes). This capacity can be increased up to `max_capacity_gb` GB in multipliers of `capacity_step_size_gb` GB.",
          "format": "int64"
        },
        "capacityStepSizeGb": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The incremental increase or decrease in capacity, designated in some number of GB."
        },
        "minCapacityGb": {
          "format": "int64",
          "description": "Output only. The minimum capacity of the instance.",
          "type": "string",
          "readOnly": true
        },
        "directoryServices": {
          "description": "Optional. Directory Services configuration. Should only be set if protocol is \"NFS_V4_1\".",
          "$ref": "DirectoryServicesConfig"
        },
        "backendType": {
          "description": "Optional. Immutable. Designates the backend type of this instance. Intended to be used by internal tests and allowed customers.",
          "type": "string",
          "enum": [
            "BACKEND_TYPE_UNSPECIFIED",
            "COMPUTE_BASED_BACKEND",
            "FILESTORE_BACKEND"
          ],
          "enumDescriptions": [
            "Backend type not set.",
            "Instance is backed by Compute.",
            "Instance is backed by Filestore."
          ]
        },
        "description": {
          "type": "string",
          "description": "The description of the instance (2048 characters or less)."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the instance, in the format `projects/{project_id}/locations/{location_id}/instances/{instance_id}`."
        },
        "multiShareEnabled": {
          "type": "boolean",
          "description": "Indicates whether this instance uses a multi-share configuration with which it can have more than one file-share or none at all. File-shares are added, updated and removed through the separate file-share APIs."
        },
        "performanceConfig": {
          "description": "Optional. Used to configure performance.",
          "$ref": "PerformanceConfig"
        },
        "fileShares": {
          "description": "File system shares on the instance. For this version, only a single file share is supported.",
          "type": "array",
          "items": {
            "$ref": "FileShareConfig"
          }
        },
        "replication": {
          "description": "Optional. Replication configuration.",
          "$ref": "Replication"
        },
        "tier": {
          "type": "string",
          "enum": [
            "TIER_UNSPECIFIED",
            "STANDARD",
            "PREMIUM",
            "BASIC_HDD",
            "BASIC_SSD",
            "HIGH_SCALE_SSD",
            "ENTERPRISE",
            "ZONAL",
            "REGIONAL"
          ],
          "description": "The service tier of the instance.",
          "enumDescriptions": [
            "Not set.",
            "STANDARD tier. BASIC_HDD is the preferred term for this tier.",
            "PREMIUM tier. BASIC_SSD is the preferred term for this tier.",
            "BASIC instances offer a maximum capacity of 63.9 TB. BASIC_HDD is an alias for STANDARD Tier, offering economical performance backed by HDD.",
            "BASIC instances offer a maximum capacity of 63.9 TB. BASIC_SSD is an alias for PREMIUM Tier, and offers improved performance backed by SSD.",
            "HIGH_SCALE instances offer expanded capacity and performance scaling capabilities.",
            "ENTERPRISE instances offer the features and availability needed for mission-critical workloads.",
            "ZONAL instances offer expanded capacity and performance scaling capabilities.",
            "REGIONAL instances offer the features and availability needed for mission-critical workloads."
          ]
        },
        "statusMessage": {
          "description": "Output only. Additional information about the instance state, if available.",
          "type": "string",
          "readOnly": true
        },
        "satisfiesPzs": {
          "type": "boolean",
          "description": "Output only. Reserved for future use.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "A Filestore instance.",
      "id": "Instance"
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        }
      },
      "id": "ListLocationsResponse"
    },
    "ListOperationsResponse": {
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudSaasacceleratorManagementProvidersV1ProvisionedResource": {
      "id": "GoogleCloudSaasacceleratorManagementProvidersV1ProvisionedResource",
      "description": "Describes provisioned dataplane resources.",
      "type": "object",
      "properties": {
        "resourceUrl": {
          "description": "URL identifying the resource, e.g. \"https://www.googleapis.com/compute/v1/projects/...)\".",
          "type": "string"
        },
        "resourceType": {
          "description": "Type of the resource. This can be either a GCP resource or a custom one (e.g. another cloud provider's VM). For GCP compute resources use singular form of the names listed in GCP compute API documentation (https://cloud.google.com/compute/docs/reference/rest/v1/), prefixed with 'compute-', for example: 'compute-instance', 'compute-disk', 'compute-autoscaler'.",
          "type": "string"
        }
      }
    },
    "MaintenanceWindow": {
      "type": "object",
      "id": "MaintenanceWindow",
      "description": "MaintenanceWindow definition.",
      "properties": {
        "dailyCycle": {
          "description": "Daily cycle.",
          "$ref": "DailyCycle"
        },
        "weeklyCycle": {
          "$ref": "WeeklyCycle",
          "description": "Weekly cycle."
        }
      }
    },
    "ReleaseShareRequest": {
      "properties": {
        "shareId": {
          "description": "Required. The specific share ID on the instance.",
          "type": "string"
        },
        "ipAddress": {
          "description": "Required. The IP address of the physical Filestore instance hosting the share.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ReleaseShareRequest",
      "description": "Request message for ReleaseShare."
    },
    "GoogleCloudSaasacceleratorManagementProvidersV1PerSliSloEligibility": {
      "id": "GoogleCloudSaasacceleratorManagementProvidersV1PerSliSloEligibility",
      "description": "PerSliSloEligibility is a mapping from an SLI name to eligibility.",
      "type": "object",
      "properties": {
        "eligibilities": {
          "additionalProperties": {
            "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1SloEligibility"
          },
          "description": "An entry in the eligibilities map specifies an eligibility for a particular SLI for the given instance. The SLI key in the name must be a valid SLI name specified in the Eligibility Exporter binary flags otherwise an error will be emitted by Eligibility Exporter and the oncaller will be alerted. If an SLI has been defined in the binary flags but the eligibilities map does not contain it, the corresponding SLI time series will not be emitted by the Eligibility Exporter. This ensures a smooth rollout and compatibility between the data produced by different versions of the Eligibility Exporters. If eligibilities map contains a key for an SLI which has not been declared in the binary flags, there will be an error message emitted in the Eligibility Exporter log and the metric for the SLI in question will not be emitted.",
          "type": "object"
        }
      }
    },
    "OperationMetadata": {
      "type": "object",
      "properties": {
        "verb": {
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "cancelRequested": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "statusDetail": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "target": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation."
        }
      },
      "description": "Represents the metadata of the long-running operation.",
      "id": "OperationMetadata"
    },
    "IOPSPerTB": {
      "description": "IOPS per TB. Filestore defines TB as 1024^4 bytes (TiB).",
      "id": "IOPSPerTB",
      "properties": {
        "maxIopsPerTb": {
          "type": "string",
          "format": "int64",
          "description": "Required. Maximum IOPS per TiB."
        }
      },
      "type": "object"
    },
    "AcquireShareResponse": {
      "description": "Output message for AcquireShare.",
      "type": "object",
      "properties": {
        "shareId": {
          "type": "string",
          "description": "The specific share identifier on the instance."
        },
        "ipAddress": {
          "description": "The IP address of the physical Filestore instance hosting the share.",
          "type": "string"
        }
      },
      "id": "AcquireShareResponse"
    },
    "GoogleCloudSaasacceleratorManagementProvidersV1NotificationParameter": {
      "properties": {
        "values": {
          "description": "Optional. Array of string values. e.g. instance's replica information.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudSaasacceleratorManagementProvidersV1NotificationParameter",
      "description": "Contains notification related data."
    },
    "PscConfig": {
      "description": "Private Service Connect configuration.",
      "id": "PscConfig",
      "type": "object",
      "properties": {
        "requestedIpAddress": {
          "description": "Optional. Immutable. Optional: The desired IP address for the instance. If not specified, an IP will be automatically allocated. The IP must be from the subnetwork range configured in the Service Connection Policy. This effective ip address is set in the ip_addresses field. use 3 instead of 2 to avoid conflict with the reserved_ip_range field.",
          "type": "string"
        },
        "endpointProject": {
          "description": "Consumer service project in which the Private Service Connect endpoint would be set up. This is optional, and only relevant in case the network is a shared VPC. If this is not specified, the endpoint would be setup in the VPC host project.",
          "type": "string"
        }
      }
    },
    "Location": {
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        }
      },
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location",
      "type": "object"
    },
    "GoogleCloudSaasacceleratorManagementProvidersV1SloMetadata": {
      "id": "GoogleCloudSaasacceleratorManagementProvidersV1SloMetadata",
      "type": "object",
      "properties": {
        "tier": {
          "description": "Name of the SLO tier the Instance belongs to. This name will be expected to match the tiers specified in the service SLO configuration. Field is mandatory and must not be empty.",
          "type": "string"
        },
        "perSliEligibility": {
          "description": "Optional. Multiple per-instance SLI eligibilities which apply for individual SLIs.",
          "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1PerSliSloEligibility"
        },
        "nodes": {
          "items": {
            "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1NodeSloMetadata"
          },
          "type": "array",
          "description": "Optional. List of nodes. Some producers need to use per-node metadata to calculate SLO. This field allows such producers to publish per-node SLO meta data, which will be consumed by SSA Eligibility Exporter and published in the form of per node metric to Monarch."
        }
      },
      "description": "SloMetadata contains resources required for proper SLO classification of the instance."
    },
    "ListSnapshotsResponse": {
      "properties": {
        "snapshots": {
          "type": "array",
          "items": {
            "$ref": "Snapshot"
          },
          "description": "A list of snapshots in the project for the specified instance."
        },
        "unreachable": {
          "description": "Unordered list. Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list.",
          "type": "string"
        }
      },
      "description": "ListSnapshotsResponse is the result of ListSnapshotsRequest.",
      "type": "object",
      "id": "ListSnapshotsResponse"
    },
    "FileShareConfig": {
      "type": "object",
      "id": "FileShareConfig",
      "properties": {
        "sourceBackup": {
          "description": "The resource name of the backup, in the format `projects/{project_id}/locations/{location_id}/backups/{backup_id}`, that this file share has been restored from.",
          "type": "string"
        },
        "name": {
          "description": "Required. The name of the file share. Must use 1-16 characters for the basic service tier and 1-63 characters for all other service tiers. Must use lowercase letters, numbers, or underscores `[a-z0-9_]`. Must start with a letter. Immutable.",
          "type": "string"
        },
        "capacityGb": {
          "description": "File share capacity in gigabytes (GB). Filestore defines 1 GB as 1024^3 bytes.",
          "format": "int64",
          "type": "string"
        },
        "restoreConfig": {
          "$ref": "RestoreConfig",
          "description": "Optional. Input only. Specifies options for restoring from a backup source. Use this field to configure a partial restore, allowing recovery of specific files or directories instead of the entire backup. This field is only valid if the source oneof is set to `source_backup` or `source_backupdr_backup`. If this field is not provided, restoring from a backup will perform a full restore."
        },
        "sourceBackupdrBackup": {
          "type": "string",
          "description": "The resource name of the BackupDR backup, in the format `projects/{project_id}/locations/{location_id}/backupVaults/{backupvault_id}/dataSources/{datasource_id}/backups/{backup_id}`,"
        },
        "nfsExportOptions": {
          "items": {
            "$ref": "NfsExportOptions"
          },
          "description": "Nfs Export Options. There is a limit of 10 export options per file share.",
          "type": "array"
        }
      },
      "description": "File share configuration for the instance."
    },
    "ListSharesResponse": {
      "id": "ListSharesResponse",
      "description": "ListSharesResponse is the result of ListSharesRequest.",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Locations that could not be reached."
        },
        "nextPageToken": {
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list.",
          "type": "string"
        },
        "shares": {
          "type": "array",
          "description": "A list of shares in the project for the specified instance.",
          "items": {
            "$ref": "Share"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudSaasacceleratorManagementProvidersV1NodeSloMetadata": {
      "description": "Node information for custom per-node SLO implementations. SSA does not support per-node SLO, but producers can populate per-node information in SloMetadata for custom precomputations. SSA Eligibility Exporter will emit per-node metric based on this information.",
      "properties": {
        "perSliEligibility": {
          "description": "If present, this will override eligibility for the node coming from instance or exclusions for specified SLIs.",
          "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1PerSliSloEligibility"
        },
        "location": {
          "type": "string",
          "description": "The location of the node, if different from instance location."
        },
        "nodeId": {
          "type": "string",
          "description": "The id of the node. This should be equal to SaasInstanceNode.node_id."
        }
      },
      "type": "object",
      "id": "GoogleCloudSaasacceleratorManagementProvidersV1NodeSloMetadata"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {},
      "type": "object"
    },
    "NfsExportOptions": {
      "type": "object",
      "properties": {
        "securityFlavors": {
          "items": {
            "type": "string",
            "enum": [
              "SECURITY_FLAVOR_UNSPECIFIED",
              "AUTH_SYS",
              "KRB5",
              "KRB5I",
              "KRB5P"
            ],
            "enumDescriptions": [
              "SecurityFlavor not set.",
              "The user's UNIX user-id and group-ids are transferred \"in the clear\" (not encrypted) on the network, unauthenticated by the NFS server (default).",
              "End-user authentication through Kerberos V5.",
              "krb5 plus integrity protection (data packets are tamper proof).",
              "krb5i plus privacy protection (data packets are tamper proof and encrypted)."
            ]
          },
          "description": "The security flavors allowed for mount operations. The default is AUTH_SYS.",
          "type": "array"
        },
        "anonUid": {
          "description": "An integer representing the anonymous user id with a default value of 65534. Anon_uid may only be set with squash_mode of ROOT_SQUASH. An error will be returned if this field is specified for other squash_mode settings.",
          "type": "string",
          "format": "int64"
        },
        "network": {
          "type": "string",
          "description": "Optional. The source VPC network for ip_ranges. Required for instances using Private Service Connect, optional otherwise. If provided, must be the same network specified in the `NetworkConfig.network` field."
        },
        "accessMode": {
          "description": "Either READ_ONLY, for allowing only read requests on the exported directory, or READ_WRITE, for allowing both read and write requests. The default is READ_WRITE.",
          "type": "string",
          "enum": [
            "ACCESS_MODE_UNSPECIFIED",
            "READ_ONLY",
            "READ_WRITE"
          ],
          "enumDescriptions": [
            "AccessMode not set.",
            "The client can only read the file share.",
            "The client can read and write the file share (default)."
          ]
        },
        "squashMode": {
          "type": "string",
          "enum": [
            "SQUASH_MODE_UNSPECIFIED",
            "NO_ROOT_SQUASH",
            "ROOT_SQUASH"
          ],
          "enumDescriptions": [
            "SquashMode not set.",
            "The Root user has root access to the file share (default).",
            "The Root user has squashed access to the anonymous uid/gid."
          ],
          "description": "Either NO_ROOT_SQUASH, for allowing root access on the exported directory, or ROOT_SQUASH, for not allowing root access. The default is NO_ROOT_SQUASH."
        },
        "ipRanges": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of either an IPv4 addresses in the format `{octet1}.{octet2}.{octet3}.{octet4}` or CIDR ranges in the format `{octet1}.{octet2}.{octet3}.{octet4}/{mask size}` which may mount the file share. Overlapping IP ranges are not allowed, both within and across NfsExportOptions. An error will be returned. The limit is 64 IP ranges/addresses for each FileShareConfig among all NfsExportOptions."
        },
        "anonGid": {
          "description": "An integer representing the anonymous group id with a default value of 65534. Anon_gid may only be set with squash_mode of ROOT_SQUASH. An error will be returned if this field is specified for other squash_mode settings.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "NFS export options specifications.",
      "id": "NfsExportOptions"
    },
    "RevertInstanceRequest": {
      "properties": {
        "targetSnapshotId": {
          "type": "string",
          "description": "Required. The snapshot resource ID, in the format 'my-snapshot', where the specified ID is the {snapshot_id} of the fully qualified name like `projects/{project_id}/locations/{location_id}/instances/{instance_id}/snapshots/{snapshot_id}`"
        }
      },
      "description": "RevertInstanceRequest reverts the given instance's file share to the specified snapshot.",
      "type": "object",
      "id": "RevertInstanceRequest"
    },
    "DailyCycle": {
      "type": "object",
      "properties": {
        "startTime": {
          "description": "Time within the day to start the operations.",
          "$ref": "TimeOfDay"
        },
        "duration": {
          "description": "Output only. Duration of the time window, set by service producer.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "id": "DailyCycle",
      "description": "Time window specified for daily operations."
    },
    "MaintenancePolicy": {
      "description": "Defines policies to service maintenance events.",
      "type": "object",
      "properties": {
        "labels": {
          "description": "Optional. Resource labels to represent user provided metadata. Each label is a key-value pair, where both the key and the value are arbitrary strings provided by the user.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the resource was created."
        },
        "description": {
          "description": "Optional. Description of what this policy is for. Create/Update methods return INVALID_ARGUMENT if the length is greater than 512.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "DELETING"
          ],
          "description": "Optional. The state of the policy.",
          "enumDescriptions": [
            "Unspecified state.",
            "Resource is ready to be used.",
            "Resource is being deleted. It can no longer be attached to instances."
          ]
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the resource was updated."
        },
        "updatePolicy": {
          "$ref": "UpdatePolicy",
          "description": "Maintenance policy applicable to instance update."
        },
        "name": {
          "type": "string",
          "description": "Required. MaintenancePolicy name using the form: `projects/{project_id}/locations/{location_id}/maintenancePolicies/{maintenance_policy_id}` where {project_id} refers to a GCP consumer project ID, {location_id} refers to a GCP region/zone, {maintenance_policy_id} must be 1-63 characters long and match the regular expression `[a-z0-9]([-a-z0-9]*[a-z0-9])?`."
        }
      },
      "id": "MaintenancePolicy"
    },
    "PromoteReplicaRequest": {
      "id": "PromoteReplicaRequest",
      "description": "PromoteReplicaRequest promotes a Filestore standby instance (replica).",
      "type": "object",
      "properties": {
        "peerInstance": {
          "description": "Optional. The resource name of the peer instance to promote, in the format `projects/{project_id}/locations/{location_id}/instances/{instance_id}`. The peer instance is required if the operation is called on an active instance.",
          "type": "string"
        }
      }
    },
    "NetworkConfig": {
      "properties": {
        "ipAddresses": {
          "readOnly": true,
          "description": "Output only. IPv4 addresses in the format `{octet1}.{octet2}.{octet3}.{octet4}` or IPv6 addresses in the format `{block1}:{block2}:{block3}:{block4}:{block5}:{block6}:{block7}:{block8}`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "modes": {
          "description": "Internet protocol versions for which the instance has IP addresses assigned.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "ADDRESS_MODE_UNSPECIFIED",
              "MODE_IPV4",
              "MODE_IPV6"
            ],
            "enumDescriptions": [
              "Internet protocol not set.",
              "Use the IPv4 internet protocol.",
              "Use the IPv6 internet protocol. Only supported when using Private Service Connect."
            ]
          }
        },
        "pscConfig": {
          "$ref": "PscConfig",
          "description": "Optional. Private Service Connect configuration. Should only be set when connect_mode is PRIVATE_SERVICE_CONNECT."
        },
        "reservedIpRange": {
          "description": "Optional, reserved_ip_range can have one of the following two types of values. * CIDR range value when using DIRECT_PEERING connect mode. * [Allocated IP address range](https://cloud.google.com/compute/docs/ip-addresses/reserve-static-internal-ip-address) when using PRIVATE_SERVICE_ACCESS connect mode. When the name of an allocated IP address range is specified, it must be one of the ranges associated with the private service access connection. When specified as a direct CIDR value, it must be a /29 CIDR block for Basic tier, a /24 CIDR block for High Scale tier, or a /26 CIDR block for Enterprise tier in one of the [internal IP address ranges](https://www.arin.net/reference/research/statistics/address_filters/) that identifies the range of IP addresses reserved for this instance. For example, 10.0.0.0/29, 192.168.0.0/24, or 192.168.0.0/26, respectively. The range you specify can't overlap with either existing subnets or assigned IP address ranges for other Filestore instances in the selected VPC network.",
          "type": "string"
        },
        "connectMode": {
          "type": "string",
          "enum": [
            "CONNECT_MODE_UNSPECIFIED",
            "DIRECT_PEERING",
            "PRIVATE_SERVICE_ACCESS",
            "PRIVATE_SERVICE_CONNECT"
          ],
          "description": "The network connect mode of the Filestore instance. If not provided, the connect mode defaults to DIRECT_PEERING.",
          "enumDescriptions": [
            "ConnectMode not set.",
            "Connect via direct peering to the Filestore service.",
            "Connect to your Filestore instance using Private Service Access. Private services access provides an IP address range for multiple Google Cloud services, including Filestore.",
            "Connect to your Filestore instance using Private Service Connect. A connection policy must exist in the region for the VPC network and the google-cloud-filestore service class."
          ]
        },
        "network": {
          "type": "string",
          "description": "The name of the Google Compute Engine [VPC network](https://cloud.google.com/vpc/docs/vpc) to which the instance is connected."
        }
      },
      "type": "object",
      "description": "Network configuration for the instance.",
      "id": "NetworkConfig"
    },
    "RestoreConfig": {
      "type": "object",
      "properties": {
        "pathPatterns": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Example: If you want to restore `/mnt/share/dir1/file.txt`, the path pattern must be `/dir1/file.txt`. If you want to restore `/mnt/share/dir1/`, the path pattern must be `/dir1`. Currently only single path is supported, Glob patterns are not supported."
        }
      },
      "id": "RestoreConfig",
      "description": "Optional configuration for restore backup operations."
    },
    "ResumeReplicaRequest": {
      "properties": {},
      "description": "ResumeReplicaRequest resumes a Filestore standby instance (replica).",
      "type": "object",
      "id": "ResumeReplicaRequest"
    },
    "Share": {
      "properties": {
        "description": {
          "description": "A description of the share with 2048 characters or less. Requests with longer descriptions will be rejected.",
          "type": "string"
        },
        "backup": {
          "description": "Immutable. Full name of the Cloud Filestore Backup resource that this Share is restored from, in the format of projects/{project_id}/locations/{location_id}/backups/{backup_id}. Empty, if the Share is created from scratch and not restored from a backup.",
          "type": "string"
        },
        "mountName": {
          "type": "string",
          "description": "The mount name of the share. Must be 63 characters or less and consist of uppercase or lowercase letters, numbers, and underscores."
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the share, in the format `projects/{project_id}/locations/{location_id}/instances/{instance_id}/shares/{share_id}`.",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the share was created."
        },
        "state": {
          "type": "string",
          "description": "Output only. The share state.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "DELETING"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "State not set.",
            "Share is being created.",
            "Share is ready for use.",
            "Share is being deleted."
          ]
        },
        "capacityGb": {
          "format": "int64",
          "description": "Optional. File share capacity in gigabytes (GB). Filestore defines 1 GB as 1024^3 bytes. Must be greater than 0. Exactly one of capacity_gb or capacity_mb must be specified.",
          "type": "string"
        },
        "capacityMb": {
          "format": "int64",
          "description": "Optional. File share capacity in Megabytes (MB). Must be greater than 0. Exactly one of capacity_gb or capacity_mb must be specified.",
          "type": "string"
        },
        "nfsExportOptions": {
          "items": {
            "$ref": "NfsExportOptions"
          },
          "description": "Nfs Export Options. There is a limit of 10 export options per file share.",
          "type": "array"
        },
        "labels": {
          "description": "Resource labels to represent user provided metadata.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "Share",
      "description": "A Filestore share."
    },
    "RestoreInstanceRequest": {
      "properties": {
        "sourceSnapshot": {
          "type": "string",
          "description": "The resource name of the snapshot, in the format `projects/{project_id}/locations/{location_id}/snapshots/{snapshot_id}`.",
          "deprecated": true
        },
        "fileShare": {
          "type": "string",
          "description": "Required. Name of the file share in the Filestore instance that the backup is being restored to."
        },
        "sourceBackup": {
          "description": "The resource name of the backup, in the format `projects/{project_id}/locations/{location_id}/backups/{backup_id}`.",
          "type": "string"
        }
      },
      "description": "RestoreInstanceRequest restores an existing instance's file share from a backup.",
      "id": "RestoreInstanceRequest",
      "type": "object"
    },
    "ListVolumePoolsResponse": {
      "id": "ListVolumePoolsResponse",
      "description": "ListVolumePoolsResponse is the result of ListVolumePoolsRequest.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Optional. The token you can use to retrieve the next page of results. Not returned if there are no more results in the list."
        },
        "volumePools": {
          "items": {
            "$ref": "VolumePool"
          },
          "description": "Unordered list. A list of volume pools in the project for the specified location.",
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unordered list. Locations that could not be reached."
        }
      }
    },
    "ListVolumesResponse": {
      "id": "ListVolumesResponse",
      "properties": {
        "volumes": {
          "type": "array",
          "description": "Unordered list. A list of volumes in the project for the specified volume pool.",
          "items": {
            "$ref": "Volume"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Optional. The token you can use to retrieve the next page of results. Not returned if there are no more results in the list."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unordered list. Locations that could not be reached."
        }
      },
      "type": "object",
      "description": "ListVolumesResponse is the result of ListVolumesRequest."
    },
    "DirectoryServicesConfig": {
      "properties": {
        "ldap": {
          "$ref": "LdapConfig",
          "description": "Configuration for LDAP servers."
        },
        "managedActiveDirectory": {
          "description": "Configuration for Managed Service for Microsoft Active Directory.",
          "$ref": "ManagedActiveDirectoryConfig"
        }
      },
      "description": "Directory Services configuration.",
      "id": "DirectoryServicesConfig",
      "type": "object"
    },
    "GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSettings": {
      "type": "object",
      "properties": {
        "exclude": {
          "description": "Optional. Exclude instance from maintenance. When true, rollout service will not attempt maintenance on the instance. Rollout service will include the instance in reported rollout progress as not attempted.",
          "type": "boolean"
        },
        "maintenancePolicies": {
          "type": "object",
          "additionalProperties": {
            "$ref": "MaintenancePolicy"
          },
          "description": "Optional. The MaintenancePolicies that have been attached to the instance. The key must be of the type name of the oneof policy name defined in MaintenancePolicy, and the embedded policy must define the same policy type. For details, please refer to go/mr-user-guide. Should not be set if maintenance_policy_names is set. If only the name is needed, then only populate MaintenancePolicy.name."
        },
        "isRollback": {
          "type": "boolean",
          "description": "Optional. If the update call is triggered from rollback, set the value as true."
        }
      },
      "id": "GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSettings",
      "description": "Maintenance settings associated with instance. Allows service producers and end users to assign settings that controls maintenance on this instance."
    },
    "DenyMaintenancePeriod": {
      "description": "DenyMaintenancePeriod definition. Maintenance is forbidden within the deny period. The start_date must be less than the end_date.",
      "id": "DenyMaintenancePeriod",
      "properties": {
        "endDate": {
          "$ref": "Date",
          "description": "Deny period end date. This can be: * A full date, with non-zero year, month and day values. * A month and day value, with a zero year. Allows recurring deny periods each year. Date matching this period will have to be before the end."
        },
        "time": {
          "description": "Time in UTC when the Blackout period starts on start_date and ends on end_date. This can be: * Full time. * All zeros for 00:00:00 UTC",
          "$ref": "TimeOfDay"
        },
        "startDate": {
          "$ref": "Date",
          "description": "Deny period start date. This can be: * A full date, with non-zero year, month and day values. * A month and day value, with a zero year. Allows recurring deny periods each year. Date matching this period will have to be the same or after the start."
        }
      },
      "type": "object"
    },
    "GoogleCloudSaasacceleratorManagementProvidersV1SloEligibility": {
      "properties": {
        "reason": {
          "type": "string",
          "description": "User-defined reason for the current value of instance eligibility. Usually, this can be directly mapped to the internal state. An empty reason is allowed."
        },
        "eligible": {
          "type": "boolean",
          "description": "Whether an instance is eligible or ineligible."
        }
      },
      "id": "GoogleCloudSaasacceleratorManagementProvidersV1SloEligibility",
      "type": "object",
      "description": "SloEligibility is a tuple containing eligibility value: true if an instance is eligible for SLO calculation or false if it should be excluded from all SLO-related calculations along with a user-defined reason."
    },
    "MountPoint": {
      "id": "MountPoint",
      "type": "object",
      "description": "Mount details for a volume.",
      "properties": {
        "mountName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The mount name of the volume. Must be 63 characters or less and consist of uppercase or lowercase letters, numbers, and underscores."
        },
        "ipAddress": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The IP address of the physical Filestore instance hosting the volume."
        }
      }
    },
    "GoogleCloudSaasacceleratorManagementProvidersV1Instance": {
      "description": "Instance represents the interface for SLM services to actuate the state of control plane resources. Example Instance in JSON, where consumer-project-number=123456, producer-project-id=cloud-sql: ```json Instance: { \"name\": \"projects/123456/locations/us-east1/instances/prod-instance\", \"create_time\": { \"seconds\": 1526406431, }, \"labels\": { \"env\": \"prod\", \"foo\": \"bar\" }, \"state\": READY, \"software_versions\": { \"software_update\": \"cloud-sql-09-28-2018\", }, \"maintenance_policy_names\": { \"UpdatePolicy\": \"projects/123456/locations/us-east1/maintenancePolicies/prod-update-policy\", } \"tenant_project_id\": \"cloud-sql-test-tenant\", \"producer_metadata\": { \"cloud-sql-tier\": \"basic\", \"cloud-sql-instance-size\": \"1G\", }, \"provisioned_resources\": [ { \"resource-type\": \"compute-instance\", \"resource-url\": \"https://www.googleapis.com/compute/v1/projects/cloud-sql/zones/us-east1-b/instances/vm-1\", } ], \"maintenance_schedules\": { \"csa_rollout\": { \"start_time\": { \"seconds\": 1526406431, }, \"end_time\": { \"seconds\": 1535406431, }, }, \"ncsa_rollout\": { \"start_time\": { \"seconds\": 1526406431, }, \"end_time\": { \"seconds\": 1535406431, }, } }, \"consumer_defined_name\": \"my-sql-instance1\", } ``` LINT.IfChange",
      "properties": {
        "sloMetadata": {
          "description": "Output only. SLO metadata for instance classification in the Standardized dataplane SLO platform. See go/cloud-ssa-standard-slo for feature description.",
          "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1SloMetadata",
          "readOnly": true
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "REPAIRING",
            "DELETING",
            "ERROR"
          ],
          "description": "Output only. Current lifecycle state of the resource (e.g. if it's being created or ready to use).",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified state.",
            "Instance is being created.",
            "Instance has been created and is ready to use.",
            "Instance is being updated.",
            "Instance is unheathy and under repair.",
            "Instance is being deleted.",
            "Instance encountered an error and is in indeterministic state."
          ],
          "type": "string"
        },
        "slmInstanceTemplate": {
          "description": "Link to the SLM instance template. Only populated when updating SLM instances via SSA's Actuation service adaptor. Service producers with custom control plane (e.g. Cloud SQL) doesn't need to populate this field. Instead they should use software_versions.",
          "type": "string"
        },
        "consumerDefinedName": {
          "description": "consumer_defined_name is the name of the instance set by the service consumers. Generally this is different from the `name` field which reperesents the system-assigned id of the instance which the service consumers do not recognize. This is a required field for tenants onboarding to Maintenance Window notifications (go/slm-rollout-maintenance-policies#prerequisites).",
          "type": "string"
        },
        "producerMetadata": {
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. Custom string attributes used primarily to expose producer-specific information in monitoring dashboards. See go/get-instance-metadata.",
          "type": "object"
        },
        "softwareVersions": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Software versions that are used to deploy this instance. This can be mutated by rollout services."
        },
        "maintenancePolicyNames": {
          "description": "Optional. The MaintenancePolicies that have been attached to the instance. The key must be of the type name of the oneof policy name defined in MaintenancePolicy, and the referenced policy must define the same policy type. For details, please refer to go/mr-user-guide. Should not be set if maintenance_settings.maintenance_policies is set.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "tenantProjectId": {
          "description": "Output only. ID of the associated GCP tenant project. See go/get-instance-metadata.",
          "readOnly": true,
          "type": "string"
        },
        "maintenanceSettings": {
          "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSettings",
          "description": "Optional. The MaintenanceSettings associated with instance."
        },
        "provisionedResources": {
          "items": {
            "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1ProvisionedResource"
          },
          "description": "Output only. The list of data plane resources provisioned for this instance, e.g. compute VMs. See go/get-instance-metadata.",
          "readOnly": true,
          "type": "array"
        },
        "name": {
          "description": "Unique name of the resource. It uses the form: `projects/{project_number}/locations/{location_id}/instances/{instance_id}` Note: This name is passed, stored and logged across the rollout system. So use of consumer project_id or any other consumer PII in the name is strongly discouraged for wipeout (go/wipeout) compliance. See go/elysium/project_ids#storage-guidance for more details.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Resource labels to represent user provided metadata. Each label is a key-value pair, where both the key and the value are arbitrary strings provided by the user.",
          "type": "object"
        },
        "instanceType": {
          "type": "string",
          "description": "Optional. The instance_type of this instance of format: projects/{project_number}/locations/{location_id}/instanceTypes/{instance_type_id}. Instance Type represents a high-level tier or SKU of the service that this instance belong to. When enabled(eg: Maintenance Rollout), Rollout uses 'instance_type' along with 'software_versions' to determine whether instance needs an update or not."
        },
        "maintenanceSchedules": {
          "additionalProperties": {
            "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSchedule"
          },
          "type": "object",
          "description": "The MaintenanceSchedule contains the scheduling information of published maintenance schedule with same key as software_versions."
        },
        "notificationParameters": {
          "description": "Optional. notification_parameter are information that service producers may like to include that is not relevant to Rollout. This parameter will only be passed to Gamma and Cloud Logging for notification/logging purpose.",
          "additionalProperties": {
            "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1NotificationParameter"
          },
          "type": "object"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp when the resource was last modified.",
          "format": "google-datetime"
        },
        "consumerProjectNumber": {
          "type": "string",
          "description": "Optional. The consumer_project_number associated with this Apigee instance. This field is added specifically to support Apigee integration with SLM Rollout and UMM. It represents the numerical project ID of the GCP project that consumes this Apigee instance. It is used for SLM rollout notifications and UMM integration, enabling proper mapping to customer projects and log delivery for Apigee instances. This field complements consumer_project_id and may be used for specific Apigee scenarios where the numerical ID is required."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when the resource was created.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "GoogleCloudSaasacceleratorManagementProvidersV1Instance"
    },
    "ManagedActiveDirectoryConfig": {
      "id": "ManagedActiveDirectoryConfig",
      "description": "ManagedActiveDirectoryConfig contains all the parameters for connecting to Managed Service for Microsoft Active Directory (Managed Microsoft AD).",
      "properties": {
        "computer": {
          "type": "string",
          "description": "Required. The computer name is used as a prefix in the command to mount the remote target. For example: if the computer is `my-computer`, the mount command will look like: `$mount -o vers=4.1,sec=krb5 my-computer.filestore.: `."
        },
        "domain": {
          "description": "Required. The domain resource name, in the format `projects/{project_id}/locations/global/domains/{domain}`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "WeeklyCycle": {
      "properties": {
        "schedule": {
          "description": "User can specify multiple windows in a week. Minimum of 1 window.",
          "items": {
            "$ref": "Schedule"
          },
          "type": "array"
        }
      },
      "id": "WeeklyCycle",
      "description": "Time window specified for weekly operations.",
      "type": "object"
    },
    "Date": {
      "properties": {
        "year": {
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer"
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32",
          "type": "integer"
        },
        "month": {
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "Date",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "FixedIOPS": {
      "type": "object",
      "id": "FixedIOPS",
      "properties": {
        "maxIops": {
          "format": "int64",
          "description": "Required. Maximum IOPS.",
          "type": "string"
        }
      },
      "description": "Fixed IOPS (input/output operations per second) parameters."
    },
    "ReleaseShareResponse": {
      "properties": {},
      "type": "object",
      "id": "ReleaseShareResponse",
      "description": "Response message for ReleaseShare."
    },
    "ListInstancesResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unordered list. Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "instances": {
          "type": "array",
          "items": {
            "$ref": "Instance"
          },
          "description": "A list of instances in the project for the specified location. If the `{location}` value in the request is \"-\", the response contains a list of instances from all locations. If any location is unreachable, the response will only return instances in reachable locations and the \"unreachable\" field will be populated with a list of unreachable locations."
        }
      },
      "description": "ListInstancesResponse is the result of ListInstancesRequest.",
      "id": "ListInstancesResponse"
    },
    "ReplicaConfig": {
      "description": "Replica configuration for the instance.",
      "id": "ReplicaConfig",
      "type": "object",
      "properties": {
        "stateReasons": {
          "type": "array",
          "description": "Output only. Additional information about the replication state, if available.",
          "items": {
            "type": "string",
            "enum": [
              "STATE_REASON_UNSPECIFIED",
              "PEER_INSTANCE_UNREACHABLE",
              "REMOVE_FAILED",
              "PAUSE_FAILED",
              "RESUME_FAILED"
            ],
            "enumDescriptions": [
              "Reason not specified.",
              "The peer instance is unreachable.",
              "The remove replica peer instance operation failed.",
              "The pause replica operation failed.",
              "The resume replica operation failed."
            ]
          }
        },
        "stateUpdateTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the replica state was updated.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "State not set.",
            "The replica is being created.",
            "The replica is ready.",
            "The replica is being removed.",
            "The replica is experiencing an issue and might be unusable. You can get further details from the `stateReasons` field of the `ReplicaConfig` object.",
            "The replica is being promoted.",
            "The replica is being paused.",
            "The replica is paused.",
            "The replica is being resumed."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "REMOVING",
            "FAILED",
            "PROMOTING",
            "PAUSING",
            "PAUSED",
            "RESUMING"
          ],
          "description": "Output only. The replica state."
        },
        "peerInstance": {
          "description": "The name of the source instance for the replica, in the format `projects/{project}/locations/{location}/instances/{instance}`. This field is required when creating a replica.",
          "type": "string"
        },
        "lastActiveSyncTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp of the latest replication snapshot taken on the active instance and is already replicated safely."
        }
      }
    },
    "UpdatePolicy": {
      "properties": {
        "window": {
          "description": "Optional. Maintenance window that is applied to resources covered by this policy.",
          "$ref": "MaintenanceWindow"
        },
        "denyMaintenancePeriods": {
          "description": "Deny Maintenance Period that is applied to resource to indicate when maintenance is forbidden. The protocol supports zero-to-many such periods, but the current SLM Rollout implementation only supports zero-to-one.",
          "type": "array",
          "items": {
            "$ref": "DenyMaintenancePeriod"
          }
        },
        "channel": {
          "enumDescriptions": [
            "Unspecified channel.",
            "Early channel within a customer project.",
            "Later channel within a customer project.",
            "! ! The follow channels can ONLY be used if you adopt the new MW system! ! ! NOTE: all WEEK channels are assumed to be under a weekly window. ! There is currently no dedicated channel definitions for Daily windows. ! If you use Daily window, the system will assume a 1d (24Hours) advanced ! notification period b/w EARLY and LATER. ! We may consider support more flexible daily channel specifications in ! the future. WEEK1 == EARLIER with minimum 7d advanced notification. {7d, 14d} The system will treat them equally and will use WEEK1 whenever it can. New customers are encouraged to use this channel annotation.",
            "WEEK2 == LATER with minimum 14d advanced notification {14d, 21d}.",
            "WEEK5 == 40d support. minimum 35d advanced notification {35d, 42d}."
          ],
          "type": "string",
          "enum": [
            "UPDATE_CHANNEL_UNSPECIFIED",
            "EARLIER",
            "LATER",
            "WEEK1",
            "WEEK2",
            "WEEK5"
          ],
          "description": "Optional. Relative scheduling channel applied to resource."
        }
      },
      "id": "UpdatePolicy",
      "type": "object",
      "description": "Maintenance policy applicable to instance updates."
    },
    "Status": {
      "properties": {
        "message": {
[...]
