{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "description": "The Cloud Filestore API is used for creating and managing cloud file servers.",
  "version_module": true,
  "servicePath": "",
  "parameters": {
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://file.mtls.googleapis.com/",
  "rootUrl": "https://file.googleapis.com/",
  "batchPath": "batch",
  "id": "file:v1",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "baseUrl": "https://file.googleapis.com/",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page."
                },
                "name": {
                  "description": "The resource that owns the locations collection, if applicable.",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "extraLocationTypes": {
                  "location": "query",
                  "repeated": true,
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "type": "string"
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/locations",
              "parameterOrder": [
                "name"
              ],
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "id": "file.projects.locations.list",
              "path": "v1/{+name}/locations",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "httpMethod": "GET"
            },
            "get": {
              "path": "v1/{+name}",
              "response": {
                "$ref": "Location"
              },
              "httpMethod": "GET",
              "description": "Gets information about a location.",
              "id": "file.projects.locations.get",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Resource name for the location."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "parameterOrder": [
                "name"
              ]
            }
          },
          "resources": {
            "backups": {
              "methods": {
                "list": {
                  "id": "file.projects.locations.backups.list",
                  "description": "Lists all backups in a project for either a specified location or for all locations.",
                  "parameters": {
                    "parent": {
                      "description": "Required. The project and location for which to retrieve backup information, in the format `projects/{project_number}/locations/{location}`. In Filestore, backup locations map to Google Cloud regions, for example **us-west1**. To retrieve backup information for all locations, use \"-\" for the `{location}` value.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "filter": {
                      "location": "query",
                      "description": "List filter.",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The next_page_token value to use if there are additional results to retrieve for this list request.",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "The maximum number of items to return.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "orderBy": {
                      "type": "string",
                      "location": "query",
                      "description": "Sort results. Supported values are \"name\", \"name desc\" or \"\" (unsorted)."
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backups",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListBackupsResponse"
                  },
                  "path": "v1/{+parent}/backups",
                  "httpMethod": "GET"
                },
                "patch": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backups/{backupsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Output only. The resource name of the backup, in the format `projects/{project_number}/locations/{location_id}/backups/{backup_id}`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/backups/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "updateMask": {
                      "description": "Required. Mask of fields to update. At least one path must be supplied in this field.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "request": {
                    "$ref": "Backup"
                  },
                  "id": "file.projects.locations.backups.patch",
                  "description": "Updates the settings of a specific backup.",
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}"
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}",
                  "id": "file.projects.locations.backups.delete",
                  "description": "Deletes a backup.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backups/{backupsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/backups/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The backup resource name, in the format `projects/{project_number}/locations/{location}/backups/{backup_id}`"
                    }
                  }
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backups/{backupsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The backup resource name, in the format `projects/{project_number}/locations/{location}/backups/{backup_id}`.",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/backups/[^/]+$"
                    }
                  },
                  "id": "file.projects.locations.backups.get",
                  "description": "Gets the details of a specific backup.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Backup"
                  },
                  "path": "v1/{+name}"
                },
                "create": {
                  "path": "v1/{+parent}/backups",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "Backup"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The backup's project and location, in the format `projects/{project_number}/locations/{location}`. In Filestore, backup locations map to Google Cloud regions, for example **us-west1**."
                    },
                    "backupId": {
                      "type": "string",
                      "description": "Required. The ID to use for the backup. The ID must be unique within the specified project and location. This value must start with a lowercase letter followed by up to 62 lowercase letters, numbers, or hyphens, and cannot end with a hyphen. Values that do not match this pattern will trigger an INVALID_ARGUMENT error.",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backups",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a backup.",
                  "id": "file.projects.locations.backups.create"
                }
              }
            },
            "instances": {
              "methods": {
                "revert": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}:revert",
                  "httpMethod": "POST",
                  "id": "file.projects.locations.instances.revert",
                  "description": "Revert an existing instance's file system to a specified snapshot.",
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the instance, in the format `projects/{project_id}/locations/{location_id}/instances/{instance_id}`.",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "RevertInstanceRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:revert",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Instance"
                  },
                  "httpMethod": "GET",
                  "description": "Gets the details of a specific instance.",
                  "id": "file.projects.locations.instances.get",
                  "parameters": {
                    "name": {
                      "description": "Required. The instance resource name, in the format `projects/{project_id}/locations/{location}/instances/{instance_id}`.",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+parent}/instances",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The instance's project and location, in the format `projects/{project_id}/locations/{location}`. In Filestore, locations map to Google Cloud zones, for example **us-west1-b**."
                    },
                    "instanceId": {
                      "location": "query",
                      "description": "Required. The name of the instance to create. The name must be unique for the specified project and location.",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "Instance"
                  },
                  "id": "file.projects.locations.instances.create",
                  "description": "Creates an instance. When creating from a backup, the capacity of the new instance needs to be equal to or larger than the capacity of the backup (and also equal to or larger than the minimum capacity of the tier)."
                },
                "promoteReplica": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:promoteReplica",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "PromoteReplicaRequest"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "location": "path",
                      "description": "Required. The resource name of the instance, in the format `projects/{project_id}/locations/{location_id}/instances/{instance_id}`."
                    }
                  },
                  "description": "Promote the standby instance (replica).",
                  "id": "file.projects.locations.instances.promoteReplica",
                  "httpMethod": "POST",
                  "path": "v1/{+name}:promoteReplica",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The instance resource name, in the format `projects/{project_id}/locations/{location}/instances/{instance_id}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "force": {
                      "type": "boolean",
                      "location": "query",
                      "description": "If set to true, all snapshots of the instance will also be deleted. (Otherwise, the request will only work if the instance has no snapshots.)"
                    }
                  },
                  "id": "file.projects.locations.instances.delete",
                  "description": "Deletes an instance."
                },
                "patch": {
                  "id": "file.projects.locations.instances.patch",
                  "description": "Updates the settings of a specific instance.",
                  "parameters": {
                    "name": {
                      "description": "Output only. The resource name of the instance, in the format `projects/{project}/locations/{location}/instances/{instance}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Mask of fields to update. At least one path must be supplied in this field. The elements of the repeated paths field may only include these fields: * \"description\" * \"file_shares\" * \"labels\" * \"performance_config\" * \"deletion_protection_enabled\" * \"deletion_protection_reason\"",
                      "location": "query"
                    }
                  },
                  "request": {
                    "$ref": "Instance"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}",
                  "httpMethod": "PATCH"
                },
                "restore": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}:restore",
                  "httpMethod": "POST",
                  "id": "file.projects.locations.instances.restore",
                  "description": "Restores an existing instance's file share from a backup. The capacity of the instance needs to be equal to or larger than the capacity of the backup (and also equal to or larger than the minimum capacity of the tier).",
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the instance, in the format `projects/{project_number}/locations/{location_id}/instances/{instance_id}`.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "RestoreInstanceRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:restore",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/instances",
                  "response": {
                    "$ref": "ListInstancesResponse"
                  },
                  "description": "Lists all instances in a project for either a specified location or for all locations.",
                  "id": "file.projects.locations.instances.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "description": "List filter.",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The project and location for which to retrieve instance information, in the format `projects/{project_id}/locations/{location}`. In Cloud Filestore, locations map to Google Cloud zones, for example **us-west1-b**. To retrieve instance information for all locations, use \"-\" for the `{location}` value.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "orderBy": {
                      "description": "Sort results. Supported values are \"name\", \"name desc\" or \"\" (unsorted).",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "The maximum number of items to return.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The next_page_token value to use if there are additional results to retrieve for this list request.",
                      "type": "string"
                    }
                  }
                },
                "resumeReplica": {
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}:resumeReplica",
                  "id": "file.projects.locations.instances.resumeReplica",
                  "description": "Resume the standby instance (replica). WARNING: Any data written to the standby instance while paused will be lost when the replica is resumed.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:resumeReplica",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The resource name of the instance, in the format `projects/{project_id}/locations/{location_id}/instances/{instance_id}`."
                    }
                  },
                  "request": {
                    "$ref": "ResumeReplicaRequest"
                  }
                },
                "pauseReplica": {
                  "path": "v1/{+name}:pauseReplica",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "PauseReplicaRequest"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The resource name of the instance, in the format `projects/{project_id}/locations/{location_id}/instances/{instance_id}`."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:pauseReplica",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Pause the standby instance (replica). WARNING: This operation makes the standby instance's NFS filesystem writable. Any data written to the standby instance while paused will be lost when the replica is resumed or promoted.",
                  "id": "file.projects.locations.instances.pauseReplica"
                }
              },
              "resources": {
                "snapshots": {
                  "methods": {
                    "get": {
                      "description": "Gets the details of a specific snapshot.",
                      "id": "file.projects.locations.instances.snapshots.get",
                      "parameters": {
                        "name": {
                          "description": "Required. The snapshot resource name, in the format `projects/{project_id}/locations/{location}/instances/{instance_id}/snapshots/{snapshot_id}`",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+/snapshots/[^/]+$",
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/snapshots/{snapshotsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "Snapshot"
                      },
                      "httpMethod": "GET"
                    },
                    "create": {
                      "id": "file.projects.locations.instances.snapshots.create",
                      "description": "Creates a snapshot.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/snapshots",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "parent": {
                          "description": "Required. The Filestore Instance to create the snapshots of, in the format `projects/{project_id}/locations/{location}/instances/{instance_id}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "snapshotId": {
                          "type": "string",
                          "location": "query",
                          "description": "Required. The ID to use for the snapshot. The ID must be unique within the specified instance. This value must start with a lowercase letter followed by up to 62 lowercase letters, numbers, or hyphens, and cannot end with a hyphen."
                        }
                      },
                      "request": {
                        "$ref": "Snapshot"
                      },
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1/{+parent}/snapshots"
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1/{+name}",
                      "id": "file.projects.locations.instances.snapshots.delete",
                      "description": "Deletes a snapshot.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/snapshots/{snapshotsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "description": "Required. The snapshot resource name, in the format `projects/{project_id}/locations/{location}/instances/{instance_id}/snapshots/{snapshot_id}`",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+/snapshots/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      }
                    },
                    "list": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/snapshots",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "filter": {
                          "type": "string",
                          "description": "List filter.",
                          "location": "query"
                        },
                        "parent": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                          "description": "Required. The instance for which to retrieve snapshot information, in the format `projects/{project_id}/locations/{location}/instances/{instance_id}`."
                        },
                        "returnPartialSuccess": {
                          "location": "query",
                          "description": "Optional. If true, allow partial responses for multi-regional Aggregated List requests.",
                          "type": "boolean"
                        },
                        "orderBy": {
                          "type": "string",
                          "description": "Sort results. Supported values are \"name\", \"name desc\" or \"\" (unsorted).",
                          "location": "query"
                        },
                        "pageSize": {
                          "description": "The maximum number of items to return.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "The next_page_token value to use if there are additional results to retrieve for this list request.",
                          "location": "query"
                        }
                      },
                      "id": "file.projects.locations.instances.snapshots.list",
                      "description": "Lists all snapshots in a project for either a specified location or for all locations.",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListSnapshotsResponse"
                      },
                      "path": "v1/{+parent}/snapshots"
                    },
                    "patch": {
                      "httpMethod": "PATCH",
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/snapshots/{snapshotsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "Snapshot"
                      },
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+/snapshots/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "Output only. The resource name of the snapshot, in the format `projects/{project_id}/locations/{location_id}/instances/{instance_id}/snapshots/{snapshot_id}`."
                        },
                        "updateMask": {
                          "type": "string",
                          "format": "google-fieldmask",
                          "description": "Required. Mask of fields to update. At least one path must be supplied in this field.",
                          "location": "query"
                        }
                      },
                      "description": "Updates the settings of a specific snapshot.",
                      "id": "file.projects.locations.instances.snapshots.patch"
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "delete": {
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "description": "The name of the operation resource to be deleted."
                    }
                  },
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "id": "file.projects.locations.operations.delete"
                },
                "get": {
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "GET",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "id": "file.projects.locations.operations.get",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "cancel": {
                  "id": "file.projects.locations.operations.cancel",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1/{+name}:cancel"
                },
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "The name of the operation's parent resource."
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The standard list page token.",
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list filter."
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query"
                    }
                  },
                  "id": "file.projects.locations.operations.list",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "path": "v1/{+name}/operations"
                }
              }
            }
          }
        }
      }
    }
  },
  "schemas": {
    "PauseReplicaRequest": {
      "description": "PauseReplicaRequest pauses a Filestore standby instance (replica).",
      "properties": {},
      "id": "PauseReplicaRequest",
      "type": "object"
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "NetworkConfig": {
      "type": "object",
      "id": "NetworkConfig",
      "description": "Network configuration for the instance.",
      "properties": {
        "ipAddresses": {
          "type": "array",
          "description": "Output only. IPv4 addresses in the format `{octet1}.{octet2}.{octet3}.{octet4}` or IPv6 addresses in the format `{block1}:{block2}:{block3}:{block4}:{block5}:{block6}:{block7}:{block8}`.",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "reservedIpRange": {
          "description": "Optional, reserved_ip_range can have one of the following two types of values. * CIDR range value when using DIRECT_PEERING connect mode. * [Allocated IP address range](https://cloud.google.com/compute/docs/ip-addresses/reserve-static-internal-ip-address) when using PRIVATE_SERVICE_ACCESS connect mode. When the name of an allocated IP address range is specified, it must be one of the ranges associated with the private service access connection. When specified as a direct CIDR value, it must be a /29 CIDR block for Basic tier, a /24 CIDR block for High Scale tier, or a /26 CIDR block for Enterprise tier in one of the [internal IP address ranges](https://www.arin.net/reference/research/statistics/address_filters/) that identifies the range of IP addresses reserved for this instance. For example, 10.0.0.0/29, 192.168.0.0/24 or 192.168.0.0/26, respectively. The range you specify can't overlap with either existing subnets or assigned IP address ranges for other Filestore instances in the selected VPC network.",
          "type": "string"
        },
        "connectMode": {
          "description": "The network connect mode of the Filestore instance. If not provided, the connect mode defaults to DIRECT_PEERING.",
          "enum": [
            "CONNECT_MODE_UNSPECIFIED",
            "DIRECT_PEERING",
            "PRIVATE_SERVICE_ACCESS",
            "PRIVATE_SERVICE_CONNECT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "Connect via direct peering to the Filestore service.",
            "Connect to your Filestore instance using Private Service Access. Private services access provides an IP address range for multiple Google Cloud services, including Filestore.",
            "Connect to your Filestore instance using Private Service Connect. A connection policy must exist in the region for the VPC network and the google-cloud-filestore service class."
          ]
        },
        "pscConfig": {
          "$ref": "PscConfig",
          "description": "Optional. Private Service Connect configuration. Should only be set when connect_mode is PRIVATE_SERVICE_CONNECT."
        },
        "network": {
          "description": "The name of the Google Compute Engine [VPC network](https://cloud.google.com/vpc/docs/vpc) to which the instance is connected.",
          "type": "string"
        },
        "modes": {
          "description": "Internet protocol versions for which the instance has IP addresses assigned.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Internet protocol not set.",
              "Use the IPv4 internet protocol.",
              "Use the IPv6 internet protocol. Only supported when using Private Service Connect."
            ],
            "enum": [
              "ADDRESS_MODE_UNSPECIFIED",
              "MODE_IPV4",
              "MODE_IPV6"
            ]
          },
          "type": "array"
        }
      }
    },
    "Location": {
      "type": "object",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        }
      },
      "id": "Location"
    },
    "NfsExportOptions": {
      "type": "object",
      "id": "NfsExportOptions",
      "description": "NFS export options specifications.",
      "properties": {
        "accessMode": {
          "type": "string",
          "enumDescriptions": [
            "AccessMode not set.",
            "The client can only read the file share.",
            "The client can read and write the file share (default)."
          ],
          "description": "Either READ_ONLY, for allowing only read requests on the exported directory, or READ_WRITE, for allowing both read and write requests. The default is READ_WRITE.",
          "enum": [
            "ACCESS_MODE_UNSPECIFIED",
            "READ_ONLY",
            "READ_WRITE"
          ]
        },
        "anonUid": {
          "description": "An integer representing the anonymous user id with a default value of 65534. Anon_uid may only be set with squash_mode of ROOT_SQUASH. An error will be returned if this field is specified for other squash_mode settings.",
          "type": "string",
          "format": "int64"
        },
        "network": {
          "description": "Optional. The source VPC network for ip_ranges. Required for instances using Private Service Connect, optional otherwise. If provided, must be the same network specified in the `NetworkConfig.network` field.",
          "type": "string"
        },
        "ipRanges": {
          "type": "array",
          "description": "List of either an IPv4 addresses in the format `{octet1}.{octet2}.{octet3}.{octet4}` or CIDR ranges in the format `{octet1}.{octet2}.{octet3}.{octet4}/{mask size}` which may mount the file share. Overlapping IP ranges are not allowed, both within and across NfsExportOptions. An error will be returned. The limit is 64 IP ranges/addresses for each FileShareConfig among all NfsExportOptions.",
          "items": {
            "type": "string"
          }
        },
        "anonGid": {
          "type": "string",
          "format": "int64",
          "description": "An integer representing the anonymous group id with a default value of 65534. Anon_gid may only be set with squash_mode of ROOT_SQUASH. An error will be returned if this field is specified for other squash_mode settings."
        },
        "squashMode": {
          "description": "Either NO_ROOT_SQUASH, for allowing root access on the exported directory, or ROOT_SQUASH, for not allowing root access. The default is NO_ROOT_SQUASH.",
          "enum": [
            "SQUASH_MODE_UNSPECIFIED",
            "NO_ROOT_SQUASH",
            "ROOT_SQUASH"
          ],
          "type": "string",
          "enumDescriptions": [
            "SquashMode not set.",
            "The Root user has root access to the file share (default).",
            "The Root user has squashed access to the anonymous uid/gid."
          ]
        }
      }
    },
    "GoogleCloudSaasacceleratorManagementProvidersV1NodeSloMetadata": {
      "type": "object",
      "description": "Node information for custom per-node SLO implementations. SSA does not support per-node SLO, but producers can populate per-node information in SloMetadata for custom precomputations. SSA Eligibility Exporter will emit per-node metric based on this information.",
      "properties": {
        "perSliEligibility": {
          "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1PerSliSloEligibility",
          "description": "If present, this will override eligibility for the node coming from instance or exclusions for specified SLIs."
        },
        "nodeId": {
          "description": "The id of the node. This should be equal to SaasInstanceNode.node_id.",
          "type": "string"
        },
        "location": {
          "description": "The location of the node, if different from instance location.",
          "type": "string"
        }
      },
      "id": "GoogleCloudSaasacceleratorManagementProvidersV1NodeSloMetadata"
    },
    "MaintenanceWindow": {
      "description": "MaintenanceWindow definition.",
      "properties": {
        "dailyCycle": {
          "$ref": "DailyCycle",
          "description": "Daily cycle."
        },
        "weeklyCycle": {
          "description": "Weekly cycle.",
          "$ref": "WeeklyCycle"
        }
      },
      "id": "MaintenanceWindow",
      "type": "object"
    },
    "GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSettings": {
      "type": "object",
      "id": "GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSettings",
      "description": "Maintenance settings associated with instance. Allows service producers and end users to assign settings that controls maintenance on this instance.",
      "properties": {
        "isRollback": {
          "description": "Optional. If the update call is triggered from rollback, set the value as true.",
          "type": "boolean"
        },
        "exclude": {
          "description": "Optional. Exclude instance from maintenance. When true, rollout service will not attempt maintenance on the instance. Rollout service will include the instance in reported rollout progress as not attempted.",
          "type": "boolean"
        },
        "maintenancePolicies": {
          "description": "Optional. The MaintenancePolicies that have been attached to the instance. The key must be of the type name of the oneof policy name defined in MaintenancePolicy, and the embedded policy must define the same policy type. For details, please refer to go/mr-user-guide. Should not be set if maintenance_policy_names is set. If only the name is needed, then only populate MaintenancePolicy.name.",
          "additionalProperties": {
            "$ref": "MaintenancePolicy"
          },
          "type": "object"
        }
      }
    },
    "DirectoryServicesConfig": {
      "type": "object",
      "description": "Directory Services configuration for Kerberos-based authentication.",
      "properties": {
        "ldap": {
          "$ref": "LdapConfig",
          "description": "Configuration for LDAP servers."
        }
      },
      "id": "DirectoryServicesConfig"
    },
    "PerformanceLimits": {
      "type": "object",
      "description": "The enforced performance limits, calculated from the instance's performance configuration.",
      "properties": {
        "maxReadIops": {
          "description": "Output only. The maximum read IOPS.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "maxWriteThroughputBps": {
          "description": "Output only. The maximum write throughput in bytes per second.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "maxReadThroughputBps": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The maximum read throughput in bytes per second.",
          "readOnly": true
        },
        "maxIops": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The maximum IOPS.",
          "readOnly": true
        },
        "maxWriteIops": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The maximum write IOPS.",
          "readOnly": true
        }
      },
      "id": "PerformanceLimits"
    },
    "PromoteReplicaRequest": {
      "id": "PromoteReplicaRequest",
      "description": "PromoteReplicaRequest promotes a Filestore standby instance (replica).",
      "properties": {
        "peerInstance": {
          "description": "Optional. The resource name of the peer instance to promote, in the format `projects/{project_id}/locations/{location_id}/instances/{instance_id}`. The peer instance is required if the operation is called on an active instance.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PerformanceConfig": {
      "type": "object",
      "description": "Used for setting the performance configuration. If the user doesn't specify PerformanceConfig, automatically provision the default performance settings as described in https://cloud.google.com/filestore/docs/performance. Larger instances will be linearly set to more IOPS. If the instance's capacity is increased or decreased, its performance will be automatically adjusted upwards or downwards accordingly (respectively).",
      "properties": {
        "iopsPerTb": {
          "$ref": "IOPSPerTB",
          "description": "Provision IOPS dynamically based on the capacity of the instance. Provisioned IOPS will be calculated by multiplying the capacity of the instance in TiB by the `iops_per_tb` value. For example, for a 2 TiB instance with an `iops_per_tb` value of 17000 the provisioned IOPS will be 34000. If the calculated value is outside the supported range for the instance's capacity during instance creation, instance creation will fail with an `InvalidArgument` error. Similarly, if an instance capacity update would result in a value outside the supported range, the update will fail with an `InvalidArgument` error."
        },
        "fixedIops": {
          "description": "Choose a fixed provisioned IOPS value for the instance, which will remain constant regardless of instance capacity. Value must be a multiple of 1000. If the chosen value is outside the supported range for the instance's capacity during instance creation, instance creation will fail with an `InvalidArgument` error. Similarly, if an instance capacity update would result in a value outside the supported range, the update will fail with an `InvalidArgument` error.",
          "$ref": "FixedIOPS"
        }
      },
      "id": "PerformanceConfig"
    },
    "CancelOperationRequest": {
      "type": "object",
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {}
    },
    "ListSnapshotsResponse": {
      "id": "ListSnapshotsResponse",
      "description": "ListSnapshotsResponse is the result of ListSnapshotsRequest.",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "snapshots": {
          "type": "array",
          "description": "A list of snapshots in the project for the specified instance.",
          "items": {
            "$ref": "Snapshot"
          }
        },
        "nextPageToken": {
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Backup": {
      "type": "object",
      "description": "A Filestore backup.",
      "properties": {
        "storageBytes": {
          "description": "Output only. The size of the storage used by the backup. As backups share storage, this number is expected to change with backup creation/deletion.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "tags": {
          "description": "Optional. Input only. Immutable. Tag key-value pairs bound to this resource. Each key must be a namespaced name and each value a short name. Example: \"123456789012/environment\" : \"production\", \"123456789013/costCenter\" : \"marketing\" See the documentation for more information: - Namespaced name: https://cloud.google.com/resource-manager/docs/tags/tags-creating-and-managing#retrieving_tag_key - Short name: https://cloud.google.com/resource-manager/docs/tags/tags-creating-and-managing#retrieving_tag_value",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "downloadBytes": {
          "description": "Output only. Amount of bytes that will be downloaded if the backup is restored. This may be different than storage bytes, since sequential backups of the same disk will share storage.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "kmsKey": {
          "description": "Immutable. KMS key name used for data encryption.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Resource labels to represent user provided metadata."
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "FINALIZING",
            "READY",
            "DELETING",
            "INVALID"
          ],
          "enumDescriptions": [
            "State not set.",
            "Backup is being created.",
            "Backup has been taken and the operation is being finalized. At this point, changes to the file share will not be reflected in the backup.",
            "Backup is available for use.",
            "Backup is being deleted.",
            "Backup is not valid and cannot be used for creating new instances or restoring existing instances."
          ],
          "description": "Output only. The backup state.",
          "readOnly": true
        },
        "description": {
          "description": "A description of the backup with 2048 characters or less. Requests with longer descriptions will be rejected.",
          "type": "string"
        },
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "sourceFileShare": {
          "description": "Name of the file share in the source Filestore instance that the backup is created from.",
          "type": "string"
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "sourceInstance": {
          "description": "The resource name of the source Filestore instance, in the format `projects/{project_number}/locations/{location_id}/instances/{instance_id}`, used to create this backup.",
          "type": "string"
        },
        "fileSystemProtocol": {
          "enum": [
            "FILE_PROTOCOL_UNSPECIFIED",
            "NFS_V3",
            "NFS_V4_1"
          ],
          "type": "string",
          "description": "Output only. The file system protocol of the source Filestore instance that this backup is created from.",
          "readOnly": true,
          "enumDescriptions": [
            "FILE_PROTOCOL_UNSPECIFIED serves a \"not set\" default value when a FileProtocol is a separate field in a message.",
            "NFS 3.0.",
            "NFS 4.1."
          ]
        },
        "sourceInstanceTier": {
          "enum": [
            "TIER_UNSPECIFIED",
            "STANDARD",
            "PREMIUM",
            "BASIC_HDD",
            "BASIC_SSD",
            "HIGH_SCALE_SSD",
            "ENTERPRISE",
            "ZONAL",
            "REGIONAL"
          ],
          "type": "string",
          "description": "Output only. The service tier of the source Filestore instance that this backup is created from.",
          "readOnly": true,
          "enumDescriptions": [
            "Not set.",
            "STANDARD tier. BASIC_HDD is the preferred term for this tier.",
            "PREMIUM tier. BASIC_SSD is the preferred term for this tier.",
            "BASIC instances offer a maximum capacity of 63.9 TB. BASIC_HDD is an alias for STANDARD Tier, offering economical performance backed by HDD.",
            "BASIC instances offer a maximum capacity of 63.9 TB. BASIC_SSD is an alias for PREMIUM Tier, and offers improved performance backed by SSD.",
            "HIGH_SCALE instances offer expanded capacity and performance scaling capabilities.",
            "ENTERPRISE instances offer the features and availability needed for mission-critical workloads.",
            "ZONAL instances offer expanded capacity and performance scaling capabilities.",
            "REGIONAL instances offer the features and availability needed for mission-critical workloads."
          ]
        },
        "createTime": {
          "description": "Output only. The time when the backup was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "capacityGb": {
          "type": "string",
          "format": "int64",
          "description": "Output only. Capacity of the source file share when the backup was created.",
          "readOnly": true
        },
        "name": {
          "description": "Output only. The resource name of the backup, in the format `projects/{project_number}/locations/{location_id}/backups/{backup_id}`.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "Backup"
    },
    "Operation": {
      "type": "object",
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        }
      }
    },
    "DailyCycle": {
      "description": "Time window specified for daily operations.",
      "properties": {
        "startTime": {
          "description": "Time within the day to start the operations.",
          "$ref": "TimeOfDay"
        },
        "duration": {
          "type": "string",
          "format": "google-duration",
          "description": "Output only. Duration of the time window, set by service producer."
        }
      },
      "id": "DailyCycle",
      "type": "object"
    },
    "GoogleCloudSaasacceleratorManagementProvidersV1ProvisionedResource": {
      "description": "Describes provisioned dataplane resources.",
      "properties": {
        "resourceType": {
          "description": "Type of the resource. This can be either a GCP resource or a custom one (e.g. another cloud provider's VM). For GCP compute resources use singular form of the names listed in GCP compute API documentation (https://cloud.google.com/compute/docs/reference/rest/v1/), prefixed with 'compute-', for example: 'compute-instance', 'compute-disk', 'compute-autoscaler'.",
          "type": "string"
        },
        "resourceUrl": {
          "description": "URL identifying the resource, e.g. \"https://www.googleapis.com/compute/v1/projects/...)\".",
          "type": "string"
        }
      },
      "id": "GoogleCloudSaasacceleratorManagementProvidersV1ProvisionedResource",
      "type": "object"
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ListOperationsResponse",
      "type": "object"
    },
    "ListBackupsResponse": {
      "id": "ListBackupsResponse",
      "description": "ListBackupsResponse is the result of ListBackupsRequest.",
      "properties": {
        "nextPageToken": {
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list.",
          "type": "string"
        },
        "backups": {
          "type": "array",
          "description": "A list of backups in the project for the specified location. If the `{location}` value in the request is \"-\", the response contains a list of backups from all locations. If any location is unreachable, the response will only return backups in reachable locations and the \"unreachable\" field will be populated with a list of unreachable locations.",
          "items": {
            "$ref": "Backup"
          }
        },
        "unreachable": {
          "description": "Unordered list. Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "WeeklyCycle": {
      "id": "WeeklyCycle",
      "description": "Time window specified for weekly operations.",
      "properties": {
        "schedule": {
          "description": "User can specify multiple windows in a week. Minimum of 1 window.",
          "items": {
            "$ref": "Schedule"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ReplicaConfig": {
      "type": "object",
      "id": "ReplicaConfig",
      "description": "Replica configuration for the instance.",
      "properties": {
        "stateUpdateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the replica state was updated.",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "State not set.",
            "The replica is being created.",
            "The replica is ready.",
            "The replica is being removed.",
            "The replica is experiencing an issue and might be unusable. You can get further details from the `stateReasons` field of the `ReplicaConfig` object.",
            "The replica is being promoted.",
            "The replica is being paused.",
            "The replica is paused.",
            "The replica is being resumed."
          ],
          "description": "Output only. The replica state.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "REMOVING",
            "FAILED",
            "PROMOTING",
            "PAUSING",
            "PAUSED",
            "RESUMING"
          ]
        },
        "peerInstance": {
          "description": "Optional. The name of the source instance for the replica, in the format `projects/{project}/locations/{location}/instances/{instance}`. This field is required when creating a replica.",
          "type": "string"
        },
        "lastActiveSyncTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp of the latest replication snapshot taken on the active instance and is already replicated safely.",
          "readOnly": true
        },
        "stateReasons": {
          "description": "Output only. Additional information about the replication state, if available.",
          "readOnly": true,
          "items": {
            "enum": [
              "STATE_REASON_UNSPECIFIED",
              "PEER_INSTANCE_UNREACHABLE",
              "REMOVE_FAILED",
              "PAUSE_FAILED",
              "RESUME_FAILED"
            ],
            "type": "string",
            "enumDescriptions": [
              "Reason not specified.",
              "The peer instance is unreachable.",
              "The remove replica peer instance operation failed.",
              "The pause replica operation failed.",
              "The resume replica operation failed."
            ]
          },
          "type": "array"
        }
      }
    },
    "RevertInstanceRequest": {
      "type": "object",
      "description": "RevertInstanceRequest reverts the given instance's file share to the specified snapshot.",
      "properties": {
        "targetSnapshotId": {
          "description": "Required. The snapshot resource ID, in the format 'my-snapshot', where the specified ID is the {snapshot_id} of the fully qualified name like `projects/{project_id}/locations/{location_id}/instances/{instance_id}/snapshots/{snapshot_id}`",
          "type": "string"
        }
      },
      "id": "RevertInstanceRequest"
    },
    "GoogleCloudSaasacceleratorManagementProvidersV1PerSliSloEligibility": {
      "type": "object",
      "description": "PerSliSloEligibility is a mapping from an SLI name to eligibility.",
      "properties": {
        "eligibilities": {
          "description": "An entry in the eligibilities map specifies an eligibility for a particular SLI for the given instance. The SLI key in the name must be a valid SLI name specified in the Eligibility Exporter binary flags otherwise an error will be emitted by Eligibility Exporter and the oncaller will be alerted. If an SLI has been defined in the binary flags but the eligibilities map does not contain it, the corresponding SLI time series will not be emitted by the Eligibility Exporter. This ensures a smooth rollout and compatibility between the data produced by different versions of the Eligibility Exporters. If eligibilities map contains a key for an SLI which has not been declared in the binary flags, there will be an error message emitted in the Eligibility Exporter log and the metric for the SLI in question will not be emitted.",
          "additionalProperties": {
            "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1SloEligibility"
          },
          "type": "object"
        }
      },
      "id": "GoogleCloudSaasacceleratorManagementProvidersV1PerSliSloEligibility"
    },
    "GoogleCloudSaasacceleratorManagementProvidersV1SloEligibility": {
      "type": "object",
      "id": "GoogleCloudSaasacceleratorManagementProvidersV1SloEligibility",
      "description": "SloEligibility is a tuple containing eligibility value: true if an instance is eligible for SLO calculation or false if it should be excluded from all SLO-related calculations along with a user-defined reason.",
      "properties": {
        "eligible": {
          "description": "Whether an instance is eligible or ineligible.",
          "type": "boolean"
        },
        "reason": {
          "description": "User-defined reason for the current value of instance eligibility. Usually, this can be directly mapped to the internal state. An empty reason is allowed.",
          "type": "string"
        }
      }
    },
    "PscConfig": {
      "type": "object",
      "id": "PscConfig",
      "description": "Private Service Connect configuration.",
      "properties": {
        "endpointProject": {
          "description": "Optional. Consumer service project in which the Private Service Connect endpoint would be set up. This is optional, and only relevant in case the network is a shared VPC. If this is not specified, the endpoint would be setup in the VPC host project.",
          "type": "string"
        },
        "requestedIpAddress": {
          "description": "Optional. Immutable. Optional: The desired IP address for the instance. If not specified, an IP will be automatically allocated. The IP must be from the subnetwork range configured in the Service Connection Policy. This effective ip address is set in the ip_addresses field. use 3 instead of 2 to avoid conflict with the reserved_ip_range field.",
          "type": "string"
        }
      }
    },
    "FileShareConfig": {
      "id": "FileShareConfig",
      "description": "File share configuration for the instance.",
      "properties": {
        "sourceBackupdrBackup": {
          "description": "The resource name of the BackupDR backup, in the format `projects/{project_id}/locations/{location_id}/backupVaults/{backupvault_id}/dataSources/{datasource_id}/backups/{backup_id}`,",
          "type": "string"
        },
        "name": {
          "description": "Required. The name of the file share. Must use 1-16 characters for the basic service tier and 1-63 characters for all other service tiers. Must use lowercase letters, numbers, or underscores `[a-z0-9_]`. Must start with a letter. Immutable.",
          "type": "string"
        },
        "capacityGb": {
          "type": "string",
          "format": "int64",
          "description": "File share capacity in gigabytes (GB). Filestore defines 1 GB as 1024^3 bytes."
        },
        "sourceBackup": {
          "description": "The resource name of the backup, in the format `projects/{project_number}/locations/{location_id}/backups/{backup_id}`, that this file share has been restored from.",
          "type": "string"
        },
        "nfsExportOptions": {
          "type": "array",
          "description": "Nfs Export Options. There is a limit of 10 export options per file share.",
          "items": {
            "$ref": "NfsExportOptions"
          }
        }
      },
      "type": "object"
    },
    "RestoreInstanceRequest": {
      "type": "object",
      "description": "RestoreInstanceRequest restores an existing instance's file share from a backup.",
      "properties": {
        "fileShare": {
          "description": "Required. Name of the file share in the Filestore instance that the backup is being restored to.",
          "type": "string"
        },
        "sourceBackup": {
          "description": "The resource name of the backup, in the format `projects/{project_number}/locations/{location_id}/backups/{backup_id}`.",
          "type": "string"
        }
      },
      "id": "RestoreInstanceRequest"
    },
    "GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSchedule": {
      "type": "object",
      "id": "GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSchedule",
      "description": "Maintenance schedule which is exposed to customer and potentially end user, indicating published upcoming future maintenance schedule",
      "properties": {
        "startTime": {
          "description": "The scheduled start time for the maintenance.",
          "type": "string",
          "format": "google-datetime"
        },
        "rolloutManagementPolicy": {
          "description": "The rollout management policy this maintenance schedule is associated with. When doing reschedule update request, the reschedule should be against this given policy.",
          "type": "string"
        },
        "canReschedule": {
          "type": "boolean",
          "description": "This field is deprecated, and will be always set to true since reschedule can happen multiple times now. This field should not be removed until all service producers remove this for their customers.",
          "deprecated": true
        },
        "scheduleDeadlineTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "schedule_deadline_time is the time deadline any schedule start time cannot go beyond, including reschedule. It's normally the initial schedule start time plus maintenance window length (1 day or 1 week). Maintenance cannot be scheduled to start beyond this deadline."
        },
        "endTime": {
          "description": "The scheduled end time for the maintenance.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "Instance": {
      "description": "A Filestore instance.",
      "properties": {
        "fileShares": {
          "description": "File system shares on the instance. For this version, only a single file share is supported.",
          "items": {
            "$ref": "FileShareConfig"
          },
          "type": "array"
        },
        "description": {
          "description": "The description of the instance (2048 characters or less).",
          "type": "string"
        },
        "deletionProtectionReason": {
          "description": "Optional. The reason for enabling deletion protection.",
          "type": "string"
        },
        "satisfiesPzs": {
          "type": "boolean",
          "description": "Output only. Reserved for future use.",
          "readOnly": true
        },
        "suspensionReasons": {
          "description": "Output only. Field indicates all the reasons the instance is in \"SUSPENDED\" state.",
          "readOnly": true,
          "items": {
            "enum": [
              "SUSPENSION_REASON_UNSPECIFIED",
              "KMS_KEY_ISSUE"
            ],
            "type": "string",
            "enumDescriptions": [
              "Not set.",
              "The KMS key used by the instance is either revoked or denied access to."
            ]
          },
          "type": "array"
        },
        "tier": {
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "STANDARD tier. BASIC_HDD is the preferred term for this tier.",
            "PREMIUM tier. BASIC_SSD is the preferred term for this tier.",
            "BASIC instances offer a maximum capacity of 63.9 TB. BASIC_HDD is an alias for STANDARD Tier, offering economical performance backed by HDD.",
            "BASIC instances offer a maximum capacity of 63.9 TB. BASIC_SSD is an alias for PREMIUM Tier, and offers improved performance backed by SSD.",
            "HIGH_SCALE instances offer expanded capacity and performance scaling capabilities.",
            "ENTERPRISE instances offer the features and availability needed for mission-critical workloads.",
            "ZONAL instances offer expanded capacity and performance scaling capabilities.",
            "REGIONAL instances offer the features and availability needed for mission-critical workloads."
          ],
          "description": "The service tier of the instance.",
          "enum": [
            "TIER_UNSPECIFIED",
            "STANDARD",
            "PREMIUM",
            "BASIC_HDD",
            "BASIC_SSD",
            "HIGH_SCALE_SSD",
            "ENTERPRISE",
            "ZONAL",
            "REGIONAL"
          ]
        },
        "networks": {
          "description": "VPC networks to which the instance is connected. For this version, only a single network is supported.",
          "items": {
            "$ref": "NetworkConfig"
          },
          "type": "array"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the instance was created.",
          "readOnly": true
        },
        "minCapacityGb": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The minimum capacity of the instance in GB.",
          "readOnly": true
        },
        "tags": {
          "description": "Optional. Input only. Immutable. Tag key-value pairs bound to this resource. Each key must be a namespaced name and each value a short name. Example: \"123456789012/environment\" : \"production\", \"123456789013/costCenter\" : \"marketing\" See the documentation for more information: - Namespaced name: https://cloud.google.com/resource-manager/docs/tags/tags-creating-and-managing#retrieving_tag_key - Short name: https://cloud.google.com/resource-manager/docs/tags/tags-creating-and-managing#retrieving_tag_value",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "labels": {
          "description": "Resource labels to represent user provided metadata.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "kmsKeyName": {
          "description": "KMS key name used for data encryption.",
          "type": "string"
        },
        "deletionProtectionEnabled": {
          "description": "Optional. Indicates whether the instance is protected against deletion.",
          "type": "boolean"
        },
        "state": {
          "enumDescriptions": [
            "State not set.",
            "The instance is being created.",
            "The instance is available for use.",
            "Work is being done on the instance. You can get further details from the `statusMessage` field of the `Instance` resource.",
            "The instance is shutting down.",
            "The instance is experiencing an issue and might be unusable. You can get further details from the `statusMessage` field of the `Instance` resource.",
            "The instance is restoring a backup to an existing file share and may be unusable during this time.",
            "The instance is suspended. You can get further details from the `suspension_reasons` field of the `Instance` resource.",
            "The instance is in the process of becoming suspended.",
            "The instance is in the process of becoming active.",
            "The instance is reverting to a snapshot.",
            "The replica instance is being promoted."
          ],
          "description": "Output only. The instance state.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "REPAIRING",
            "DELETING",
            "ERROR",
            "RESTORING",
            "SUSPENDED",
            "SUSPENDING",
            "RESUMING",
            "REVERTING",
            "PROMOTING"
          ]
        },
        "maxCapacityGb": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The maximum capacity of the instance in GB.",
          "readOnly": true
        },
        "capacityStepSizeGb": {
          "description": "Output only. The incremental increase or decrease in capacity, designated in some number of GB.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "protocol": {
          "description": "Immutable. The protocol indicates the access protocol for all shares in the instance. This field is immutable and it cannot be changed after the instance has been created. Default value: `NFS_V3`.",
          "enum": [
            "FILE_PROTOCOL_UNSPECIFIED",
            "NFS_V3",
            "NFS_V4_1"
          ],
          "type": "string",
          "enumDescriptions": [
            "FILE_PROTOCOL_UNSPECIFIED serves a \"not set\" default value when a FileProtocol is a separate field in a message.",
            "NFS 3.0.",
            "NFS 4.1."
          ]
        },
        "customPerformanceSupported": {
          "type": "boolean",
          "description": "Output only. Indicates whether this instance supports configuring its performance. If true, the user can configure the instance's performance by using the 'performance_config' field.",
          "readOnly": true
        },
        "performanceLimits": {
          "description": "Output only. Used for getting performance limits.",
          "readOnly": true,
          "$ref": "PerformanceLimits"
        },
        "performanceConfig": {
          "description": "Optional. Used to configure performance.",
          "$ref": "PerformanceConfig"
        },
        "name": {
          "description": "Output only. The resource name of the instance, in the format `projects/{project}/locations/{location}/instances/{instance}`.",
          "readOnly": true,
          "type": "string"
        },
        "statusMessage": {
          "description": "Output only. Additional information about the instance state, if available.",
          "readOnly": true,
          "type": "string"
        },
        "etag": {
          "description": "Server-specified ETag for the instance resource to prevent simultaneous updates from overwriting each other.",
          "type": "string"
        },
        "directoryServices": {
          "description": "Optional. Directory Services configuration for Kerberos-based authentication. Should only be set if protocol is \"NFS_V4_1\".",
          "$ref": "DirectoryServicesConfig"
        },
        "replication": {
          "description": "Optional. Replication configuration.",
          "$ref": "Replication"
        }
      },
      "id": "Instance",
      "type": "object"
    },
    "ListInstancesResponse": {
      "type": "object",
      "id": "ListInstancesResponse",
      "description": "ListInstancesResponse is the result of ListInstancesRequest.",
      "properties": {
        "instances": {
          "type": "array",
          "description": "A list of instances in the project for the specified location. If the `{location}` value in the request is \"-\", the response contains a list of instances from all locations. If any location is unreachable, the response will only return instances in reachable locations and the \"unreachable\" field will be populated with a list of unreachable locations.",
          "items": {
            "$ref": "Instance"
          }
        },
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list.",
          "type": "string"
        }
      }
    },
    "UpdatePolicy": {
      "type": "object",
      "id": "UpdatePolicy",
      "description": "Maintenance policy applicable to instance updates.",
      "properties": {
        "window": {
          "description": "Optional. Maintenance window that is applied to resources covered by this policy.",
          "$ref": "MaintenanceWindow"
        },
        "channel": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified channel.",
            "Early channel within a customer project.",
            "Later channel within a customer project.",
            "! ! The follow channels can ONLY be used if you adopt the new MW system! ! ! NOTE: all WEEK channels are assumed to be under a weekly window. ! There is currently no dedicated channel definitions for Daily windows. ! If you use Daily window, the system will assume a 1d (24Hours) advanced ! notification period b/w EARLY and LATER. ! We may consider support more flexible daily channel specifications in ! the future. WEEK1 == EARLIER with minimum 7d advanced notification. {7d, 14d} The system will treat them equally and will use WEEK1 whenever it can. New customers are encouraged to use this channel annotation.",
            "WEEK2 == LATER with minimum 14d advanced notification {14d, 21d}.",
            "WEEK5 == 40d support. minimum 35d advanced notification {35d, 42d}."
          ],
          "description": "Optional. Relative scheduling channel applied to resource.",
          "enum": [
            "UPDATE_CHANNEL_UNSPECIFIED",
            "EARLIER",
            "LATER",
            "WEEK1",
            "WEEK2",
            "WEEK5"
          ]
        },
        "denyMaintenancePeriods": {
          "description": "Deny Maintenance Period that is applied to resource to indicate when maintenance is forbidden. The protocol supports zero-to-many such periods, but the current SLM Rollout implementation only supports zero-to-one.",
          "items": {
            "$ref": "DenyMaintenancePeriod"
          },
          "type": "array"
        }
      }
    },
    "Date": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "year": {
          "type": "integer",
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        },
        "day": {
          "type": "integer",
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "Date",
      "type": "object"
    },
    "Snapshot": {
      "description": "A Filestore snapshot.",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "DELETING"
          ],
          "type": "string",
          "description": "Output only. The snapshot state.",
          "readOnly": true,
          "enumDescriptions": [
            "State not set.",
            "Snapshot is being created.",
            "Snapshot is available for use.",
            "Snapshot is being deleted."
          ]
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the snapshot was created.",
          "readOnly": true
        },
        "tags": {
[...]
