{
  "ownerDomain": "google.com",
  "id": "file:v1beta1",
  "batchPath": "batch",
  "rootUrl": "https://file.googleapis.com/",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://file.mtls.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "servicePath": "",
  "parameters": {
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    }
  },
  "version_module": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "description": "The Cloud Filestore API is used for creating and managing cloud file servers.",
  "revision": "20260819",
  "kind": "discovery#restDescription",
  "canonicalName": "Cloud Filestore",
  "title": "Cloud Filestore API",
  "ownerName": "Google",
  "documentationLink": "https://cloud.google.com/filestore/",
  "basePath": "",
  "version": "v1beta1",
  "name": "file",
  "fullyEncodeReservedExpansion": true,
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "location": "africa-south1",
      "endpointUrl": "https://file.africa-south1.rep.googleapis.com/"
    },
    {
      "location": "asia-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.asia-east1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://file.asia-east2.rep.googleapis.com/",
      "location": "asia-east2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://file.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast1"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-northeast2",
      "endpointUrl": "https://file.asia-northeast2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://file.asia-northeast3.rep.googleapis.com/",
      "location": "asia-northeast3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://file.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south1"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-south2",
      "endpointUrl": "https://file.asia-south2.rep.googleapis.com/"
    },
    {
      "location": "asia-southeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.asia-southeast1.rep.googleapis.com/"
    },
    {
      "location": "asia-southeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.asia-southeast2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://file.asia-southeast3.rep.googleapis.com/",
      "location": "asia-southeast3",
      "description": "Regional Endpoint"
    },
    {
      "location": "australia-southeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.australia-southeast1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://file.australia-southeast2.rep.googleapis.com/",
      "location": "australia-southeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://file.europe-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-central2"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-north1",
      "endpointUrl": "https://file.europe-north1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://file.europe-north2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-north2"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-southwest1",
      "endpointUrl": "https://file.europe-southwest1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://file.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west1"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west10",
      "endpointUrl": "https://file.europe-west10.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west12",
      "endpointUrl": "https://file.europe-west12.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://file.europe-west15.rep.googleapis.com/",
      "location": "europe-west15",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://file.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west2"
    },
    {
      "location": "europe-west3",
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.europe-west3.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://file.europe-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west4"
    },
    {
      "endpointUrl": "https://file.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west6"
    },
    {
      "location": "europe-west8",
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.europe-west8.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://file.europe-west9.rep.googleapis.com/",
      "location": "europe-west9",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "me-central1",
      "endpointUrl": "https://file.me-central1.rep.googleapis.com/"
    },
    {
      "location": "me-central2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.me-central2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "me-west1",
      "endpointUrl": "https://file.me-west1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://file.northamerica-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-northeast1"
    },
    {
      "location": "northamerica-northeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.northamerica-northeast2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://file.northamerica-south1.rep.googleapis.com/",
      "location": "northamerica-south1",
      "description": "Regional Endpoint"
    },
    {
      "location": "southamerica-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.southamerica-east1.rep.googleapis.com/"
    },
    {
      "location": "southamerica-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.southamerica-west1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-central1",
      "endpointUrl": "https://file.us-central1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://file.us-central2.rep.googleapis.com/",
      "location": "us-central2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://file.us-east1.rep.googleapis.com/",
      "location": "us-east1",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east4",
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.us-east4.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://file.us-east5.rep.googleapis.com/",
      "location": "us-east5",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://file.us-east7.rep.googleapis.com/",
      "location": "us-east7",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://file.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-south1"
    },
    {
      "endpointUrl": "https://file.us-west1.rep.googleapis.com/",
      "location": "us-west1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://file.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west2"
    },
    {
      "endpointUrl": "https://file.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west3"
    },
    {
      "location": "us-west4",
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.us-west4.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://file.us-west8.rep.googleapis.com/",
      "location": "us-west8",
      "description": "Regional Endpoint"
    }
  ],
  "schemas": {
    "Operation": {
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "id": "Operation"
    },
    "DailyCycle": {
      "type": "object",
      "id": "DailyCycle",
      "description": "Time window specified for daily operations.",
      "properties": {
        "startTime": {
          "description": "Time within the day to start the operations.",
          "$ref": "TimeOfDay"
        },
        "duration": {
          "description": "Output only. Duration of the time window, set by service producer.",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "Backup": {
      "id": "Backup",
      "description": "A Filestore backup.",
      "properties": {
        "storageBytes": {
          "description": "Output only. The size of the storage used by the backup. As backups share storage, this number is expected to change with backup creation/deletion.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "tags": {
          "description": "Optional. Input only. Immutable. Tag key-value pairs bound to this resource. Each key must be a namespaced name and each value a short name. Example: \"123456789012/environment\" : \"production\", \"123456789013/costCenter\" : \"marketing\" See the documentation for more information: - Namespaced name: https://cloud.google.com/resource-manager/docs/tags/tags-creating-and-managing#retrieving_tag_key - Short name: https://cloud.google.com/resource-manager/docs/tags/tags-creating-and-managing#retrieving_tag_value",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "downloadBytes": {
          "type": "string",
          "format": "int64",
          "description": "Output only. Amount of bytes that will be downloaded if the backup is restored",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "State not set.",
            "Backup is being created.",
            "Backup has been taken and the operation is being finalized. At this point, changes to the file share will not be reflected in the backup.",
            "Backup is available for use.",
            "Backup is being deleted.",
            "Backup is not valid and cannot be used for creating new instances or restoring existing instances."
          ],
          "description": "Output only. The backup state.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "FINALIZING",
            "READY",
            "DELETING",
            "INVALID"
          ]
        },
        "kmsKeyName": {
          "description": "Immutable. KMS key name used for data encryption.",
          "type": "string"
        },
        "labels": {
          "description": "Resource labels to represent user provided metadata.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "satisfiesPzs": {
          "type": "boolean",
          "description": "Output only. Reserved for future use.",
          "readOnly": true
        },
        "description": {
          "description": "A description of the backup with 2048 characters or less. Requests with longer descriptions will be rejected.",
          "type": "string"
        },
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "sourceFileShare": {
          "description": "Name of the file share in the source Filestore instance that the backup is created from.",
          "type": "string"
        },
        "sourceInstanceTier": {
          "enumDescriptions": [
            "Not set.",
            "STANDARD tier. BASIC_HDD is the preferred term for this tier.",
            "PREMIUM tier. BASIC_SSD is the preferred term for this tier.",
            "BASIC instances offer a maximum capacity of 63.9 TB. BASIC_HDD is an alias for STANDARD Tier, offering economical performance backed by HDD.",
            "BASIC instances offer a maximum capacity of 63.9 TB. BASIC_SSD is an alias for PREMIUM Tier, and offers improved performance backed by SSD.",
            "HIGH_SCALE instances offer expanded capacity and performance scaling capabilities.",
            "ENTERPRISE instances offer the features and availability needed for mission-critical workloads.",
            "ZONAL instances offer expanded capacity and performance scaling capabilities.",
            "REGIONAL instances offer the features and availability needed for mission-critical workloads."
          ],
          "description": "Output only. The service tier of the source Filestore instance that this backup is created from.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "TIER_UNSPECIFIED",
            "STANDARD",
            "PREMIUM",
            "BASIC_HDD",
            "BASIC_SSD",
            "HIGH_SCALE_SSD",
            "ENTERPRISE",
            "ZONAL",
            "REGIONAL"
          ]
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the backup was created.",
          "readOnly": true
        },
        "capacityGb": {
          "description": "Output only. Capacity of the source file share when the backup was created.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the backup, in the format `projects/{project_id}/locations/{location_id}/backups/{backup_id}`.",
          "readOnly": true
        },
        "sourceInstance": {
          "description": "The resource name of the source Filestore instance, in the format `projects/{project_id}/locations/{location_id}/instances/{instance_id}`, used to create this backup.",
          "type": "string"
        },
        "fileSystemProtocol": {
          "enumDescriptions": [
            "FILE_PROTOCOL_UNSPECIFIED serves a \"not set\" default value when a FileProtocol is a separate field in a message.",
            "NFS 3.0.",
            "NFS 4.1."
          ],
          "description": "Output only. The file system protocol of the source Filestore instance that this backup is created from.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "FILE_PROTOCOL_UNSPECIFIED",
            "NFS_V3",
            "NFS_V4_1"
          ]
        }
      },
      "type": "object"
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "id": "CancelOperationRequest",
      "type": "object"
    },
    "ListSnapshotsResponse": {
      "type": "object",
      "id": "ListSnapshotsResponse",
      "description": "ListSnapshotsResponse is the result of ListSnapshotsRequest.",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "snapshots": {
          "description": "A list of snapshots in the project for the specified instance.",
          "items": {
            "$ref": "Snapshot"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list.",
          "type": "string"
        }
      }
    },
    "Volume": {
      "type": "object",
      "description": "Volume representation of a Cloud Filestore volume.",
      "properties": {
        "description": {
          "description": "Optional. A description of the volume with 2048 characters or less. Requests with longer descriptions will be rejected.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Resource labels to represent user provided metadata."
        },
        "mountPoint": {
          "description": "Output only. The mount point of the volume.",
          "readOnly": true,
          "$ref": "MountPoint"
        },
        "name": {
          "description": "Identifier. The resource name of the volume, in the format `projects/{project}/locations/{location}/volumePools/{volume_pool}/volumes/{volume}`.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the volume was created.",
          "readOnly": true
        }
      },
      "id": "Volume"
    },
    "GoogleCloudSaasacceleratorManagementProvidersV1ProvisionedResource": {
      "id": "GoogleCloudSaasacceleratorManagementProvidersV1ProvisionedResource",
      "description": "Describes provisioned dataplane resources.",
      "properties": {
        "resourceType": {
          "description": "Type of the resource. This can be either a GCP resource or a custom one (e.g. another cloud provider's VM). For GCP compute resources use singular form of the names listed in GCP compute API documentation (https://cloud.google.com/compute/docs/reference/rest/v1/), prefixed with 'compute-', for example: 'compute-instance', 'compute-disk', 'compute-autoscaler'.",
          "type": "string"
        },
        "resourceUrl": {
          "description": "URL identifying the resource, e.g. \"https://www.googleapis.com/compute/v1/projects/...)\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListSharesResponse": {
      "type": "object",
      "description": "ListSharesResponse is the result of ListSharesRequest.",
      "properties": {
        "shares": {
          "description": "A list of shares in the project for the specified instance.",
          "items": {
            "$ref": "Share"
          },
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list.",
          "type": "string"
        }
      },
      "id": "ListSharesResponse"
    },
    "ListOperationsResponse": {
      "type": "object",
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "ListBackupsResponse": {
      "description": "ListBackupsResponse is the result of ListBackupsRequest.",
      "properties": {
        "backups": {
          "description": "A list of backups in the project for the specified location. If the `{location}` value in the request is \"-\", the response contains a list of backups from all locations. If any location is unreachable, the response will only return backups in reachable locations and the \"unreachable\" field will be populated with a list of unreachable locations.",
          "items": {
            "$ref": "Backup"
          },
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list.",
          "type": "string"
        }
      },
      "id": "ListBackupsResponse",
      "type": "object"
    },
    "ReplicaConfig": {
      "type": "object",
      "id": "ReplicaConfig",
      "description": "Replica configuration for the instance.",
      "properties": {
        "stateUpdateTime": {
          "description": "Output only. The time when the replica state was updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "stateReasons": {
          "description": "Output only. Additional information about the replication state, if available.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Reason not specified.",
              "The peer instance is unreachable.",
              "The remove replica peer instance operation failed.",
              "The pause replica operation failed.",
              "The resume replica operation failed."
            ],
            "enum": [
              "STATE_REASON_UNSPECIFIED",
              "PEER_INSTANCE_UNREACHABLE",
              "REMOVE_FAILED",
              "PAUSE_FAILED",
              "RESUME_FAILED"
            ]
          },
          "type": "array"
        },
        "peerInstance": {
          "description": "The name of the source instance for the replica, in the format `projects/{project}/locations/{location}/instances/{instance}`. This field is required when creating a replica.",
          "type": "string"
        },
        "lastActiveSyncTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp of the latest replication snapshot taken on the active instance and is already replicated safely."
        },
        "state": {
          "description": "Output only. The replica state.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "REMOVING",
            "FAILED",
            "PROMOTING",
            "PAUSING",
            "PAUSED",
            "RESUMING"
          ],
          "type": "string",
          "enumDescriptions": [
            "State not set.",
            "The replica is being created.",
            "The replica is ready.",
            "The replica is being removed.",
            "The replica is experiencing an issue and might be unusable. You can get further details from the `stateReasons` field of the `ReplicaConfig` object.",
            "The replica is being promoted.",
            "The replica is being paused.",
            "The replica is paused.",
            "The replica is being resumed."
          ]
        }
      }
    },
    "RevertInstanceRequest": {
      "type": "object",
      "id": "RevertInstanceRequest",
      "description": "RevertInstanceRequest reverts the given instance's file share to the specified snapshot.",
      "properties": {
        "targetSnapshotId": {
          "description": "Required. The snapshot resource ID, in the format 'my-snapshot', where the specified ID is the {snapshot_id} of the fully qualified name like `projects/{project_id}/locations/{location_id}/instances/{instance_id}/snapshots/{snapshot_id}`",
          "type": "string"
        }
      }
    },
    "AcquireShareResponse": {
      "type": "object",
      "id": "AcquireShareResponse",
      "description": "Output message for AcquireShare.",
      "properties": {
        "ipAddress": {
          "description": "The IP address of the physical Filestore instance hosting the share.",
          "type": "string"
        },
        "shareId": {
          "description": "The specific share identifier on the instance.",
          "type": "string"
        }
      }
    },
    "WeeklyCycle": {
      "id": "WeeklyCycle",
      "description": "Time window specified for weekly operations.",
      "properties": {
        "schedule": {
          "type": "array",
          "description": "User can specify multiple windows in a week. Minimum of 1 window.",
          "items": {
            "$ref": "Schedule"
          }
        }
      },
      "type": "object"
    },
    "MaintenanceWindow": {
      "type": "object",
      "description": "MaintenanceWindow definition.",
      "properties": {
        "dailyCycle": {
          "description": "Daily cycle.",
          "$ref": "DailyCycle"
        },
        "weeklyCycle": {
          "$ref": "WeeklyCycle",
          "description": "Weekly cycle."
        }
      },
      "id": "MaintenanceWindow"
    },
    "GoogleCloudSaasacceleratorManagementProvidersV1NodeSloMetadata": {
      "description": "Node information for custom per-node SLO implementations. SSA does not support per-node SLO, but producers can populate per-node information in SloMetadata for custom precomputations. SSA Eligibility Exporter will emit per-node metric based on this information.",
      "properties": {
        "nodeId": {
          "description": "The id of the node. This should be equal to SaasInstanceNode.node_id.",
          "type": "string"
        },
        "location": {
          "description": "The location of the node, if different from instance location.",
          "type": "string"
        },
        "perSliEligibility": {
          "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1PerSliSloEligibility",
          "description": "If present, this will override eligibility for the node coming from instance or exclusions for specified SLIs."
        }
      },
      "id": "GoogleCloudSaasacceleratorManagementProvidersV1NodeSloMetadata",
      "type": "object"
    },
    "NfsExportOptions": {
      "type": "object",
      "description": "NFS export options specifications.",
      "properties": {
        "anonGid": {
          "description": "An integer representing the anonymous group id with a default value of 65534. Anon_gid may only be set with squash_mode of ROOT_SQUASH. An error will be returned if this field is specified for other squash_mode settings.",
          "type": "string",
          "format": "int64"
        },
        "ipRanges": {
          "type": "array",
          "description": "List of either an IPv4 addresses in the format `{octet1}.{octet2}.{octet3}.{octet4}` or CIDR ranges in the format `{octet1}.{octet2}.{octet3}.{octet4}/{mask size}` which may mount the file share. Overlapping IP ranges are not allowed, both within and across NfsExportOptions. An error will be returned. The limit is 64 IP ranges/addresses for each FileShareConfig among all NfsExportOptions.",
          "items": {
            "type": "string"
          }
        },
        "squashMode": {
          "type": "string",
          "enumDescriptions": [
            "SquashMode not set.",
            "The Root user has root access to the file share (default).",
            "The Root user has squashed access to the anonymous uid/gid."
          ],
          "description": "Either NO_ROOT_SQUASH, for allowing root access on the exported directory, or ROOT_SQUASH, for not allowing root access. The default is NO_ROOT_SQUASH.",
          "enum": [
            "SQUASH_MODE_UNSPECIFIED",
            "NO_ROOT_SQUASH",
            "ROOT_SQUASH"
          ]
        },
        "accessMode": {
          "description": "Either READ_ONLY, for allowing only read requests on the exported directory, or READ_WRITE, for allowing both read and write requests. The default is READ_WRITE.",
          "enum": [
            "ACCESS_MODE_UNSPECIFIED",
            "READ_ONLY",
            "READ_WRITE"
          ],
          "type": "string",
          "enumDescriptions": [
            "AccessMode not set.",
            "The client can only read the file share.",
            "The client can read and write the file share (default)."
          ]
        },
        "network": {
          "description": "Optional. The source VPC network for ip_ranges. Required for instances using Private Service Connect, optional otherwise. If provided, must be the same network specified in the `NetworkConfig.network` field.",
          "type": "string"
        },
        "anonUid": {
          "type": "string",
          "format": "int64",
          "description": "An integer representing the anonymous user id with a default value of 65534. Anon_uid may only be set with squash_mode of ROOT_SQUASH. An error will be returned if this field is specified for other squash_mode settings."
        },
        "securityFlavors": {
          "type": "array",
          "description": "The security flavors allowed for mount operations. The default is AUTH_SYS.",
          "items": {
            "enum": [
              "SECURITY_FLAVOR_UNSPECIFIED",
              "AUTH_SYS",
              "KRB5",
              "KRB5I",
              "KRB5P"
            ],
            "type": "string",
            "enumDescriptions": [
              "SecurityFlavor not set.",
              "The user's UNIX user-id and group-ids are transferred \"in the clear\" (not encrypted) on the network, unauthenticated by the NFS server (default).",
              "End-user authentication through Kerberos V5.",
              "krb5 plus integrity protection (data packets are tamper proof).",
              "krb5i plus privacy protection (data packets are tamper proof and encrypted)."
            ]
          }
        }
      },
      "id": "NfsExportOptions"
    },
    "PauseReplicaRequest": {
      "description": "PauseReplicaRequest pauses a Filestore standby instance (replica).",
      "properties": {},
      "id": "PauseReplicaRequest",
      "type": "object"
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "NetworkConfig": {
      "type": "object",
      "id": "NetworkConfig",
      "description": "Network configuration for the instance.",
      "properties": {
        "connectMode": {
          "description": "The network connect mode of the Filestore instance. If not provided, the connect mode defaults to DIRECT_PEERING.",
          "enum": [
            "CONNECT_MODE_UNSPECIFIED",
            "DIRECT_PEERING",
            "PRIVATE_SERVICE_ACCESS",
            "PRIVATE_SERVICE_CONNECT"
          ],
          "type": "string",
          "enumDescriptions": [
            "ConnectMode not set.",
            "Connect via direct peering to the Filestore service.",
            "Connect to your Filestore instance using Private Service Access. Private services access provides an IP address range for multiple Google Cloud services, including Filestore.",
            "Connect to your Filestore instance using Private Service Connect. A connection policy must exist in the region for the VPC network and the google-cloud-filestore service class."
          ]
        },
        "pscConfig": {
          "description": "Optional. Private Service Connect configuration. Should only be set when connect_mode is PRIVATE_SERVICE_CONNECT.",
          "$ref": "PscConfig"
        },
        "network": {
          "description": "The name of the Google Compute Engine [VPC network](https://cloud.google.com/vpc/docs/vpc) to which the instance is connected.",
          "type": "string"
        },
        "modes": {
          "description": "Internet protocol versions for which the instance has IP addresses assigned.",
          "items": {
            "enum": [
              "ADDRESS_MODE_UNSPECIFIED",
              "MODE_IPV4",
              "MODE_IPV6"
            ],
            "type": "string",
            "enumDescriptions": [
              "Internet protocol not set.",
              "Use the IPv4 internet protocol.",
              "Use the IPv6 internet protocol. Only supported when using Private Service Connect."
            ]
          },
          "type": "array"
        },
        "ipAddresses": {
          "description": "Output only. IPv4 addresses in the format `{octet1}.{octet2}.{octet3}.{octet4}` or IPv6 addresses in the format `{block1}:{block2}:{block3}:{block4}:{block5}:{block6}:{block7}:{block8}`.",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "reservedIpRange": {
          "description": "Optional, reserved_ip_range can have one of the following two types of values. * CIDR range value when using DIRECT_PEERING connect mode. * [Allocated IP address range](https://cloud.google.com/compute/docs/ip-addresses/reserve-static-internal-ip-address) when using PRIVATE_SERVICE_ACCESS connect mode. When the name of an allocated IP address range is specified, it must be one of the ranges associated with the private service access connection. When specified as a direct CIDR value, it must be a /29 CIDR block for Basic tier, a /24 CIDR block for High Scale tier, or a /26 CIDR block for Enterprise tier in one of the [internal IP address ranges](https://www.arin.net/reference/research/statistics/address_filters/) that identifies the range of IP addresses reserved for this instance. For example, 10.0.0.0/29, 192.168.0.0/24, or 192.168.0.0/26, respectively. The range you specify can't overlap with either existing subnets or assigned IP address ranges for other Filestore instances in the selected VPC network.",
          "type": "string"
        }
      }
    },
    "ListVolumesResponse": {
      "id": "ListVolumesResponse",
      "description": "ListVolumesResponse is the result of ListVolumesRequest.",
      "properties": {
        "nextPageToken": {
          "description": "Optional. The token you can use to retrieve the next page of results. Not returned if there are no more results in the list.",
          "type": "string"
        },
        "volumes": {
          "description": "Unordered list. A list of volumes in the project for the specified volume pool.",
          "items": {
            "$ref": "Volume"
          },
          "type": "array"
        },
        "unreachable": {
          "description": "Unordered list. Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Location": {
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        }
      },
      "type": "object"
    },
    "DirectoryServicesConfig": {
      "type": "object",
      "id": "DirectoryServicesConfig",
      "description": "Directory Services configuration.",
      "properties": {
        "ldap": {
          "description": "Configuration for LDAP servers.",
          "$ref": "LdapConfig"
        },
        "managedActiveDirectory": {
          "description": "Configuration for Managed Service for Microsoft Active Directory.",
          "$ref": "ManagedActiveDirectoryConfig"
        }
      }
    },
    "GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSettings": {
      "description": "Maintenance settings associated with instance. Allows service producers and end users to assign settings that controls maintenance on this instance.",
      "properties": {
        "isRollback": {
          "description": "Optional. If the update call is triggered from rollback, set the value as true.",
          "type": "boolean"
        },
        "exclude": {
          "description": "Optional. Exclude instance from maintenance. When true, rollout service will not attempt maintenance on the instance. Rollout service will include the instance in reported rollout progress as not attempted.",
          "type": "boolean"
        },
        "maintenancePolicies": {
          "type": "object",
          "additionalProperties": {
            "$ref": "MaintenancePolicy"
          },
          "description": "Optional. The MaintenancePolicies that have been attached to the instance. The key must be of the type name of the oneof policy name defined in MaintenancePolicy, and the embedded policy must define the same policy type. For details, please refer to go/mr-user-guide. Should not be set if maintenance_policy_names is set. If only the name is needed, then only populate MaintenancePolicy.name."
        }
      },
      "id": "GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSettings",
      "type": "object"
    },
    "PerformanceConfig": {
      "description": "Used for setting the performance configuration. If the user doesn't specify PerformanceConfig, automatically provision the default performance settings as described in https://cloud.google.com/filestore/docs/performance. Larger instances will be linearly set to more IOPS. If the instance's capacity is increased or decreased, its performance will be automatically adjusted upwards or downwards accordingly (respectively).",
      "properties": {
        "iopsPerTb": {
          "$ref": "IOPSPerTB",
          "description": "Provision IOPS dynamically based on the capacity of the instance. Provisioned IOPS will be calculated by multiplying the capacity of the instance in TiB by the `iops_per_tb` value. For example, for a 2 TiB instance with an `iops_per_tb` value of 17000 the provisioned IOPS will be 34000. If the calculated value is outside the supported range for the instance's capacity during instance creation, instance creation will fail with an `InvalidArgument` error. Similarly, if an instance capacity update would result in a value outside the supported range, the update will fail with an `InvalidArgument` error."
        },
        "fixedIops": {
          "$ref": "FixedIOPS",
          "description": "Choose a fixed provisioned IOPS value for the instance, which will remain constant regardless of instance capacity. Value must be a multiple of 1000. If the chosen value is outside the supported range for the instance's capacity during instance creation, instance creation will fail with an `InvalidArgument` error. Similarly, if an instance capacity update would result in a value outside the supported range, the update will fail with an `InvalidArgument` error."
        }
      },
      "id": "PerformanceConfig",
      "type": "object"
    },
    "PerformanceLimits": {
      "id": "PerformanceLimits",
      "description": "The enforced performance limits, calculated from the instance's performance configuration.",
      "properties": {
        "maxReadIops": {
          "description": "Output only. The maximum read IOPS.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "maxReadThroughputBps": {
          "description": "Output only. The maximum read throughput in bytes per second.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "maxWriteThroughputBps": {
          "description": "Output only. The maximumwrite throughput in bytes per second.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "maxWriteIops": {
          "description": "Output only. The maximum write IOPS.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "maxIops": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The maximum IOPS.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "PromoteReplicaRequest": {
      "description": "PromoteReplicaRequest promotes a Filestore standby instance (replica).",
      "properties": {
        "peerInstance": {
          "description": "Optional. The resource name of the peer instance to promote, in the format `projects/{project_id}/locations/{location_id}/instances/{instance_id}`. The peer instance is required if the operation is called on an active instance.",
          "type": "string"
        }
      },
      "id": "PromoteReplicaRequest",
      "type": "object"
    },
    "Share": {
      "description": "A Filestore share.",
      "properties": {
        "mountName": {
          "description": "The mount name of the share. Must be 63 characters or less and consist of uppercase or lowercase letters, numbers, and underscores.",
          "type": "string"
        },
        "backup": {
          "description": "Immutable. Full name of the Cloud Filestore Backup resource that this Share is restored from, in the format of projects/{project_id}/locations/{location_id}/backups/{backup_id}. Empty, if the Share is created from scratch and not restored from a backup.",
          "type": "string"
        },
        "description": {
          "description": "A description of the share with 2048 characters or less. Requests with longer descriptions will be rejected.",
          "type": "string"
        },
        "nfsExportOptions": {
          "type": "array",
          "description": "Nfs Export Options. There is a limit of 10 export options per file share.",
          "items": {
            "$ref": "NfsExportOptions"
          }
        },
        "capacityGb": {
          "type": "string",
          "format": "int64",
          "description": "File share capacity in gigabytes (GB). Filestore defines 1 GB as 1024^3 bytes. Must be greater than 0."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the share was created.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the share, in the format `projects/{project_id}/locations/{location_id}/instances/{instance_id}/shares/{share_id}`.",
          "readOnly": true
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "DELETING"
          ],
          "type": "string",
          "description": "Output only. The share state.",
          "readOnly": true,
          "enumDescriptions": [
            "State not set.",
            "Share is being created.",
            "Share is ready for use.",
            "Share is being deleted."
          ]
        },
        "labels": {
          "description": "Resource labels to represent user provided metadata.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "id": "Share",
      "type": "object"
    },
    "VolumePool": {
      "type": "object",
      "id": "VolumePool",
      "description": "VolumePool representation of a Cloud Filestore volume pool.",
      "properties": {
        "instanceTemplate": {
          "description": "Optional. Instance template details.",
          "$ref": "InstanceTemplate"
        },
        "operationPollLimit": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The maximum number of operations to poll in a single reconciliation run."
        },
        "state": {
          "enumDescriptions": [
            "State not set.",
            "Volume pool is ready for use.",
            "Volume pool is being deleted.",
            "Volume pool is in an invalid state."
          ],
          "description": "Output only. The volume pool state.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "DELETING",
            "INVALID"
          ]
        },
        "maxPendingInstanceCreations": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The maximum number of pending instance creation requests."
        },
        "labels": {
          "description": "Optional. Resource labels to represent user provided metadata.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "maxVolumesPerInstance": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Maximum number of volumes per instance."
        },
        "instanceNamePrefix": {
          "description": "Optional. Instance name prefix.",
          "type": "string"
        },
        "minAvailableVolumes": {
          "description": "Optional. Minimum number of available volumes to maintain.",
          "type": "integer",
          "format": "int32"
        },
        "maxAcquireCandidates": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The maximum number of candidates to fetch when acquiring a volume."
        },
        "negbaInstanceRatio": {
          "type": "number",
          "format": "float",
          "description": "Optional. The ratio of Negba instances to maintain in the volume pool, between 0 and 1."
        },
        "createTime": {
          "description": "Output only. The time when the volume pool was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "instanceListPageSize": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The page size to use when listing instances."
        },
        "name": {
          "description": "Identifier. The resource name of the volume pool, in the format `projects/{project}/locations/{location}/volumePools/{volume_pool}`.",
          "type": "string"
        },
        "volumeSizeMb": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Volume size in MiB."
        },
        "maxPendingVolumeDeletionsPerInstance": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The maximum number of pending volume deletion requests per instance."
        },
        "description": {
          "description": "Optional. A description of the volume pool with 2048 characters or less.",
          "type": "string"
        },
        "minInstances": {
          "description": "Optional. Minimum number of instances to create.",
          "type": "integer",
          "format": "int32"
        },
        "maxPendingVolumeCreationsPerInstance": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The maximum number of pending volume creation requests per instance."
        },
        "uniqueId": {
          "description": "Output only. Unique ID of the resource, as defined by CCFE.",
          "readOnly": true,
          "type": "string"
        },
        "volumeBatchSize": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The number of volumes to create in a single batch."
        },
        "maxInstances": {
          "description": "Optional. Maximum number of instances to create.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudSaasacceleratorManagementProvidersV1NotificationParameter": {
      "type": "object",
      "id": "GoogleCloudSaasacceleratorManagementProvidersV1NotificationParameter",
      "description": "Contains notification related data.",
      "properties": {
        "values": {
          "description": "Optional. Array of string values. e.g. instance's replica information.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "Replication": {
      "type": "object",
      "id": "Replication",
      "description": "Optional. The configuration used to replicate an instance.",
      "properties": {
        "role": {
          "description": "Output only. The replication role. When creating a new replica, this field must be set to `STANDBY`.",
          "enum": [
            "ROLE_UNSPECIFIED",
            "ACTIVE",
            "STANDBY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Role not set.",
            "The instance is the `ACTIVE` replication member, functions as the replication source instance.",
            "The instance is the `STANDBY` replication member, functions as the replication destination instance."
          ]
        },
        "replicas": {
          "type": "array",
          "description": "Replication configuration for the replica instance associated with this instance. Only a single replica is supported.",
          "items": {
            "$ref": "ReplicaConfig"
          }
        }
      }
    },
    "IOPSPerTB": {
      "description": "IOPS per TB. Filestore defines TB as 1024^4 bytes (TiB).",
      "properties": {
        "maxIopsPerTb": {
          "description": "Required. Maximum IOPS per TiB.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "IOPSPerTB",
      "type": "object"
    },
    "InstanceTemplate": {
      "id": "InstanceTemplate",
      "description": "InstanceTemplate representation of a Cloud Filestore volume pool instance template.",
      "properties": {
        "backendType": {
          "description": "Optional. Backend type.",
          "enum": [
            "BACKEND_TYPE_UNSPECIFIED",
            "COMPUTE_BASED_BACKEND",
            "FILESTORE_BACKEND"
          ],
          "type": "string",
          "enumDescriptions": [
            "Backend type not set.",
            "Instance is backed by Compute.",
            "Instance is backed by Filestore."
          ]
        },
        "capacityGb": {
          "description": "Optional. Capacity in GB.",
          "type": "integer",
          "format": "int32"
        },
        "tier": {
          "description": "Optional. Tier of the instance.",
          "enum": [
            "TIER_UNSPECIFIED",
            "STANDARD",
            "PREMIUM",
            "BASIC_HDD",
            "BASIC_SSD",
            "HIGH_SCALE_SSD",
            "ENTERPRISE",
            "ZONAL",
            "REGIONAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "STANDARD tier. BASIC_HDD is the preferred term for this tier.",
            "PREMIUM tier. BASIC_SSD is the preferred term for this tier.",
            "BASIC instances offer a maximum capacity of 63.9 TB. BASIC_HDD is an alias for STANDARD Tier, offering economical performance backed by HDD.",
            "BASIC instances offer a maximum capacity of 63.9 TB. BASIC_SSD is an alias for PREMIUM Tier, and offers improved performance backed by SSD.",
            "HIGH_SCALE instances offer expanded capacity and performance scaling capabilities.",
            "ENTERPRISE instances offer the features and availability needed for mission-critical workloads.",
            "ZONAL instances offer expanded capacity and performance scaling capabilities.",
            "REGIONAL instances offer the features and availability needed for mission-critical workloads."
          ]
        },
        "requestOverrides": {
          "description": "Optional. Request overrides in JSON format.",
          "type": "string"
        },
        "networks": {
          "description": "Optional. Network configurations.",
          "items": {
            "$ref": "NetworkConfig"
          },
          "type": "array"
        },
        "protocol": {
          "type": "string",
          "enumDescriptions": [
            "FILE_PROTOCOL_UNSPECIFIED serves a \"not set\" default value when a FileProtocol is a separate field in a message.",
            "NFS 3.0.",
            "NFS 4.1."
          ],
          "description": "Optional. File protocol.",
          "enum": [
            "FILE_PROTOCOL_UNSPECIFIED",
            "NFS_V3",
            "NFS_V4_1"
          ]
        },
        "performanceConfig": {
          "description": "Optional. Performance configuration.",
          "$ref": "PerformanceConfig"
        },
        "labels": {
          "description": "Optional. Instance labels.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "FixedIOPS": {
      "type": "object",
      "description": "Fixed IOPS (input/output operations per second) parameters.",
      "properties": {
        "maxIops": {
          "type": "string",
          "format": "int64",
          "description": "Required. Maximum IOPS."
        }
      },
      "id": "FixedIOPS"
    },
    "GoogleCloudSaasacceleratorManagementProvidersV1Instance": {
      "description": "Instance represents the interface for SLM services to actuate the state of control plane resources. Example Instance in JSON, where consumer-project-number=123456, producer-project-id=cloud-sql: ```json Instance: { \"name\": \"projects/123456/locations/us-east1/instances/prod-instance\", \"create_time\": { \"seconds\": 1526406431, }, \"labels\": { \"env\": \"prod\", \"foo\": \"bar\" }, \"state\": READY, \"software_versions\": { \"software_update\": \"cloud-sql-09-28-2018\", }, \"maintenance_policy_names\": { \"UpdatePolicy\": \"projects/123456/locations/us-east1/maintenancePolicies/prod-update-policy\", } \"tenant_project_id\": \"cloud-sql-test-tenant\", \"producer_metadata\": { \"cloud-sql-tier\": \"basic\", \"cloud-sql-instance-size\": \"1G\", }, \"provisioned_resources\": [ { \"resource-type\": \"compute-instance\", \"resource-url\": \"https://www.googleapis.com/compute/v1/projects/cloud-sql/zones/us-east1-b/instances/vm-1\", } ], \"maintenance_schedules\": { \"csa_rollout\": { \"start_time\": { \"seconds\": 1526406431, }, \"end_time\": { \"seconds\": 1535406431, }, }, \"ncsa_rollout\": { \"start_time\": { \"seconds\": 1526406431, }, \"end_time\": { \"seconds\": 1535406431, }, } }, \"consumer_defined_name\": \"my-sql-instance1\", } ``` LINT.IfChange",
      "properties": {
        "maintenanceSchedules": {
          "description": "The MaintenanceSchedule contains the scheduling information of published maintenance schedule with same key as software_versions.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSchedule"
          }
        },
        "updateTime": {
          "description": "Output only. Timestamp when the resource was last modified.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Unique name of the resource. It uses the form: `projects/{project_number}/locations/{location_id}/instances/{instance_id}` Note: This name is passed, stored and logged across the rollout system. So use of consumer project_id or any other consumer PII in the name is strongly discouraged for wipeout (go/wipeout) compliance. See go/elysium/project_ids#storage-guidance for more details.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Timestamp when the resource was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "notificationParameters": {
          "description": "Optional. notification_parameter are information that service producers may like to include that is not relevant to Rollout. This parameter will only be passed to Gamma and Cloud Logging for notification/logging purpose.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1NotificationParameter"
          }
        },
        "provisionedResources": {
          "type": "array",
          "description": "Output only. The list of data plane resources provisioned for this instance, e.g. compute VMs. See go/get-instance-metadata.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1ProvisionedResource"
          }
        },
        "instanceType": {
          "description": "Optional. The instance_type of this instance of format: projects/{project_number}/locations/{location_id}/instanceTypes/{instance_type_id}. Instance Type represents a high-level tier or SKU of the service that this instance belong to. When enabled(eg: Maintenance Rollout), Rollout uses 'instance_type' along with 'software_versions' to determine whether instance needs an update or not.",
          "type": "string"
        },
        "softwareVersions": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Software versions that are used to deploy this instance. This can be mutated by rollout services."
        },
        "consumerDefinedName": {
          "description": "consumer_defined_name is the name of the instance set by the service consumers. Generally this is different from the `name` field which reperesents the system-assigned id of the instance which the service consumers do not recognize. This is a required field for tenants onboarding to Maintenance Window notifications (go/slm-rollout-maintenance-policies#prerequisites).",
          "type": "string"
        },
        "labels": {
          "description": "Optional. Resource labels to represent user provided metadata. Each label is a key-value pair, where both the key and the value are arbitrary strings provided by the user.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "REPAIRING",
            "DELETING",
            "ERROR"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "Instance is being created.",
            "Instance has been created and is ready to use.",
            "Instance is being updated.",
            "Instance is unheathy and under repair.",
            "Instance is being deleted.",
            "Instance encountered an error and is in indeterministic state."
          ],
          "description": "Output only. Current lifecycle state of the resource (e.g. if it's being created or ready to use).",
          "readOnly": true
        },
        "maintenancePolicyNames": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. The MaintenancePolicies that have been attached to the instance. The key must be of the type name of the oneof policy name defined in MaintenancePolicy, and the referenced policy must define the same policy type. For details, please refer to go/mr-user-guide. Should not be set if maintenance_settings.maintenance_policies is set."
        },
        "producerMetadata": {
          "description": "Output only. Custom string attributes used primarily to expose producer-specific information in monitoring dashboards. See go/get-instance-metadata.",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "slmInstanceTemplate": {
          "description": "Link to the SLM instance template. Only populated when updating SLM instances via SSA's Actuation service adaptor. Service producers with custom control plane (e.g. Cloud SQL) doesn't need to populate this field. Instead they should use software_versions.",
          "type": "string"
        },
        "consumerProjectNumber": {
          "description": "Optional. The consumer_project_number associated with this Apigee instance. This field is added specifically to support Apigee integration with SLM Rollout and UMM. It represents the numerical project ID of the GCP project that consumes this Apigee instance. It is used for SLM rollout notifications and UMM integration, enabling proper mapping to customer projects and log delivery for Apigee instances. This field complements consumer_project_id and may be used for specific Apigee scenarios where the numerical ID is required.",
          "type": "string"
        },
        "sloMetadata": {
          "description": "Output only. SLO metadata for instance classification in the Standardized dataplane SLO platform. See go/cloud-ssa-standard-slo for feature description.",
          "readOnly": true,
          "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1SloMetadata"
        },
        "tenantProjectId": {
          "description": "Output only. ID of the associated GCP tenant project. See go/get-instance-metadata.",
          "readOnly": true,
          "type": "string"
        },
        "maintenanceSettings": {
          "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSettings",
          "description": "Optional. The MaintenanceSettings associated with instance."
        }
      },
      "id": "GoogleCloudSaasacceleratorManagementProvidersV1Instance",
      "type": "object"
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "statusDetail": {
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "readOnly": true
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "cancelRequested": {
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "ResumeReplicaRequest": {
      "type": "object",
      "description": "ResumeReplicaRequest resumes a Filestore standby instance (replica).",
      "properties": {},
      "id": "ResumeReplicaRequest"
    },
    "DenyMaintenancePeriod": {
      "id": "DenyMaintenancePeriod",
      "description": "DenyMaintenancePeriod definition. Maintenance is forbidden within the deny period. The start_date must be less than the end_date.",
      "properties": {
        "startDate": {
          "description": "Deny period start date. This can be: * A full date, with non-zero year, month and day values. * A month and day value, with a zero year. Allows recurring deny periods each year. Date matching this period will have to be the same or after the start.",
          "$ref": "Date"
        },
        "endDate": {
          "$ref": "Date",
          "description": "Deny period end date. This can be: * A full date, with non-zero year, month and day values. * A month and day value, with a zero year. Allows recurring deny periods each year. Date matching this period will have to be before the end."
        },
        "time": {
          "description": "Time in UTC when the Blackout period starts on start_date and ends on end_date. This can be: * Full time. * All zeros for 00:00:00 UTC",
          "$ref": "TimeOfDay"
        }
      },
      "type": "object"
    },
    "TimeOfDay": {
      "type": "object",
      "id": "TimeOfDay",
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "properties": {
        "minutes": {
          "type": "integer",
          "format": "int32",
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59."
        },
        "hours": {
          "type": "integer",
          "format": "int32",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time."
        },
        "seconds": {
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "type": "integer",
          "format": "int32"
        },
        "nanos": {
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "LdapConfig": {
      "type": "object",
      "description": "LdapConfig contains all the parameters for connecting to LDAP servers.",
      "properties": {
        "domain": {
          "description": "Required. The LDAP domain name in the format of `my-domain.com`.",
          "type": "string"
        },
        "groupsOu": {
          "description": "Optional. The groups Organizational Unit (OU) is optional. This parameter is a hint to allow faster lookup in the LDAP namespace. In case that this parameter is not provided, Filestore instance will query the whole LDAP namespace.",
          "type": "string"
        },
        "usersOu": {
          "description": "Optional. The users Organizational Unit (OU) is optional. This parameter is a hint to allow faster lookup in the LDAP namespace. In case that this parameter is not provided, Filestore instance will query the whole LDAP namespace.",
          "type": "string"
        },
        "servers": {
          "description": "Required. The servers names are used for specifying the LDAP servers names. The LDAP servers names can come with two formats: 1. DNS name, for example: `ldap.example1.com`, `ldap.example2.com`. 2. IP address, for example: `10.0.0.1`, `10.0.0.2`, `10.0.0.3`. All servers names must be in the same format: either all DNS names or all IP addresses.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "LdapConfig"
    },
    "Schedule": {
      "type": "object",
      "description": "Configure the schedule.",
      "properties": {
        "startTime": {
          "$ref": "TimeOfDay",
          "description": "Time within the window to start the operations."
        },
        "duration": {
          "type": "string",
          "format": "google-duration",
          "description": "Output only. Duration of the time window, set by service producer."
        },
        "day": {
          "description": "Allows to define schedule that runs specified day of the week.",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "type": "string",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ]
        }
      },
      "id": "Schedule"
    },
    "GoogleCloudSaasacceleratorManagementProvidersV1SloMetadata": {
      "description": "SloMetadata contains resources required for proper SLO classification of the instance.",
      "properties": {
        "tier": {
          "description": "Name of the SLO tier the Instance belongs to. This name will be expected to match the tiers specified in the service SLO configuration. Field is mandatory and must not be empty.",
          "type": "string"
        },
        "perSliEligibility": {
          "description": "Optional. Multiple per-instance SLI eligibilities which apply for individual SLIs.",
          "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1PerSliSloEligibility"
        },
        "nodes": {
          "description": "Optional. List of nodes. Some producers need to use per-node metadata to calculate SLO. This field allows such producers to publish per-node SLO meta data, which will be consumed by SSA Eligibility Exporter and published in the form of per node metric to Monarch.",
          "items": {
            "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1NodeSloMetadata"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudSaasacceleratorManagementProvidersV1SloMetadata",
      "type": "object"
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty"
    },
    "RestoreConfig": {
      "type": "object",
      "description": "Optional configuration for restore backup operations.",
      "properties": {
        "pathPatterns": {
          "description": "Optional. Example: If you want to restore `/mnt/share/dir1/file.txt`, the path pattern must be `/dir1/file.txt`. If you want to restore `/mnt/share/dir1/`, the path pattern must be `/dir1`. Currently only single path is supported, Glob patterns are not supported.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "RestoreConfig"
    },
    "ManagedActiveDirectoryConfig": {
      "type": "object",
      "description": "ManagedActiveDirectoryConfig contains all the parameters for connecting to Managed Service for Microsoft Active Directory (Managed Microsoft AD).",
      "properties": {
        "domain": {
          "description": "Required. The domain resource name, in the format `projects/{project_id}/locations/global/domains/{domain}`.",
          "type": "string"
        },
        "computer": {
          "description": "Required. The computer name is used as a prefix in the command to mount the remote target. For example: if the computer is `my-computer`, the mount command will look like: `$mount -o vers=4.1,sec=krb5 my-computer.filestore.: `.",
          "type": "string"
        }
      },
      "id": "ManagedActiveDirectoryConfig"
    },
    "ListVolumePoolsResponse": {
      "type": "object",
      "description": "ListVolumePoolsResponse is the result of ListVolumePoolsRequest.",
      "properties": {
        "volumePools": {
          "description": "Unordered list. A list of volume pools in the project for the specified location.",
          "items": {
            "$ref": "VolumePool"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Optional. The token you can use to retrieve the next page of results. Not returned if there are no more results in the list.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unordered list. Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ListVolumePoolsResponse"
    },
    "PscConfig": {
      "description": "Private Service Connect configuration.",
      "properties": {
        "endpointProject": {
          "description": "Consumer service project in which the Private Service Connect endpoint would be set up. This is optional, and only relevant in case the network is a shared VPC. If this is not specified, the endpoint would be setup in the VPC host project.",
          "type": "string"
        },
        "requestedIpAddress": {
          "description": "Optional. Immutable. Optional: The desired IP address for the instance. If not specified, an IP will be automatically allocated. The IP must be from the subnetwork range configured in the Service Connection Policy. This effective ip address is set in the ip_addresses field. use 3 instead of 2 to avoid conflict with the reserved_ip_range field.",
          "type": "string"
        }
      },
      "id": "PscConfig",
      "type": "object"
    },
    "GoogleCloudSaasacceleratorManagementProvidersV1PerSliSloEligibility": {
      "id": "GoogleCloudSaasacceleratorManagementProvidersV1PerSliSloEligibility",
      "description": "PerSliSloEligibility is a mapping from an SLI name to eligibility.",
      "properties": {
        "eligibilities": {
          "description": "An entry in the eligibilities map specifies an eligibility for a particular SLI for the given instance. The SLI key in the name must be a valid SLI name specified in the Eligibility Exporter binary flags otherwise an error will be emitted by Eligibility Exporter and the oncaller will be alerted. If an SLI has been defined in the binary flags but the eligibilities map does not contain it, the corresponding SLI time series will not be emitted by the Eligibility Exporter. This ensures a smooth rollout and compatibility between the data produced by different versions of the Eligibility Exporters. If eligibilities map contains a key for an SLI which has not been declared in the binary flags, there will be an error message emitted in the Eligibility Exporter log and the metric for the SLI in question will not be emitted.",
          "additionalProperties": {
            "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1SloEligibility"
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "GoogleCloudSaasacceleratorManagementProvidersV1SloEligibility": {
      "type": "object",
      "description": "SloEligibility is a tuple containing eligibility value: true if an instance is eligible for SLO calculation or false if it should be excluded from all SLO-related calculations along with a user-defined reason.",
      "properties": {
        "eligible": {
          "description": "Whether an instance is eligible or ineligible.",
          "type": "boolean"
        },
        "reason": {
          "description": "User-defined reason for the current value of instance eligibility. Usually, this can be directly mapped to the internal state. An empty reason is allowed.",
          "type": "string"
        }
      },
      "id": "GoogleCloudSaasacceleratorManagementProvidersV1SloEligibility"
    },
    "ReleaseShareResponse": {
      "type": "object",
      "description": "Response message for ReleaseShare.",
      "properties": {},
      "id": "ReleaseShareResponse"
    },
    "GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSchedule": {
      "id": "GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSchedule",
      "description": "Maintenance schedule which is exposed to customer and potentially end user, indicating published upcoming future maintenance schedule",
      "properties": {
        "startTime": {
          "description": "The scheduled start time for the maintenance.",
          "type": "string",
          "format": "google-datetime"
        },
        "rolloutManagementPolicy": {
          "description": "The rollout management policy this maintenance schedule is associated with. When doing reschedule update request, the reschedule should be against this given policy.",
          "type": "string"
        },
        "canReschedule": {
          "type": "boolean",
          "deprecated": true,
          "description": "This field is deprecated, and will be always set to true since reschedule can happen multiple times now. This field should not be removed until all service producers remove this for their customers."
        },
        "scheduleDeadlineTime": {
          "description": "schedule_deadline_time is the time deadline any schedule start time cannot go beyond, including reschedule. It's normally the initial schedule start time plus maintenance window length (1 day or 1 week). Maintenance cannot be scheduled to start beyond this deadline.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The scheduled end time for the maintenance."
        }
      },
      "type": "object"
    },
    "FileShareConfig": {
      "id": "FileShareConfig",
      "description": "File share configuration for the instance.",
      "properties": {
        "sourceBackupdrBackup": {
          "description": "The resource name of the BackupDR backup, in the format `projects/{project_id}/locations/{location_id}/backupVaults/{backupvault_id}/dataSources/{datasource_id}/backups/{backup_id}`,",
          "type": "string"
        },
        "restoreConfig": {
          "$ref": "RestoreConfig",
          "description": "Optional. Input only. Specifies options for restoring from a backup source. Use this field to configure a partial restore, allowing recovery of specific files or directories instead of the entire backup. This field is only valid if the source oneof is set to `source_backup` or `source_backupdr_backup`. If this field is not provided, restoring from a backup will perform a full restore."
        },
        "name": {
          "description": "Required. The name of the file share. Must use 1-16 characters for the basic service tier and 1-63 characters for all other service tiers. Must use lowercase letters, numbers, or underscores `[a-z0-9_]`. Must start with a letter. Immutable.",
          "type": "string"
        },
        "capacityGb": {
          "type": "string",
          "format": "int64",
          "description": "File share capacity in gigabytes (GB). Filestore defines 1 GB as 1024^3 bytes."
        },
        "sourceBackup": {
          "description": "The resource name of the backup, in the format `projects/{project_id}/locations/{location_id}/backups/{backup_id}`, that this file share has been restored from.",
          "type": "string"
        },
        "nfsExportOptions": {
          "description": "Nfs Export Options. There is a limit of 10 export options per file share.",
          "items": {
            "$ref": "NfsExportOptions"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "RestoreInstanceRequest": {
      "description": "RestoreInstanceRequest restores an existing instance's file share from a backup.",
      "properties": {
        "sourceBackup": {
          "description": "The resource name of the backup, in the format `projects/{project_id}/locations/{location_id}/backups/{backup_id}`.",
          "type": "string"
        },
        "fileShare": {
          "description": "Required. Name of the file share in the Filestore instance that the backup is being restored to.",
          "type": "string"
        },
        "sourceSnapshot": {
          "type": "string",
          "description": "The resource name of the snapshot, in the format `projects/{project_id}/locations/{location_id}/snapshots/{snapshot_id}`.",
          "deprecated": true
        }
      },
      "id": "RestoreInstanceRequest",
      "type": "object"
    },
    "ListInstancesResponse": {
      "type": "object",
      "description": "ListInstancesResponse is the result of ListInstancesRequest.",
      "properties": {
        "instances": {
          "description": "A list of instances in the project for the specified location. If the `{location}` value in the request is \"-\", the response contains a list of instances from all locations. If any location is unreachable, the response will only return instances in reachable locations and the \"unreachable\" field will be populated with a list of unreachable locations.",
          "items": {
            "$ref": "Instance"
          },
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list.",
          "type": "string"
        }
      },
      "id": "ListInstancesResponse"
    },
    "UpdatePolicy": {
      "type": "object",
      "description": "Maintenance policy applicable to instance updates.",
      "properties": {
        "window": {
          "description": "Optional. Maintenance window that is applied to resources covered by this policy.",
          "$ref": "MaintenanceWindow"
        },
        "channel": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified channel.",
            "Early channel within a customer project.",
            "Later channel within a customer project.",
            "! ! The follow channels can ONLY be used if you adopt the new MW system! ! ! NOTE: all WEEK channels are assumed to be under a weekly window. ! There is currently no dedicated channel definitions for Daily windows. ! If you use Daily window, the system will assume a 1d (24Hours) advanced ! notification period b/w EARLY and LATER. ! We may consider support more flexible daily channel specifications in ! the future. WEEK1 == EARLIER with minimum 7d advanced notification. {7d, 14d} The system will treat them equally and will use WEEK1 whenever it can. New customers are encouraged to use this channel annotation.",
            "WEEK2 == LATER with minimum 14d advanced notification {14d, 21d}.",
            "WEEK5 == 40d support. minimum 35d advanced notification {35d, 42d}."
          ],
          "description": "Optional. Relative scheduling channel applied to resource.",
          "enum": [
            "UPDATE_CHANNEL_UNSPECIFIED",
            "EARLIER",
            "LATER",
            "WEEK1",
            "WEEK2",
            "WEEK5"
          ]
        },
        "denyMaintenancePeriods": {
          "type": "array",
          "description": "Deny Maintenance Period that is applied to resource to indicate when maintenance is forbidden. The protocol supports zero-to-many such periods, but the current SLM Rollout implementation only supports zero-to-one.",
          "items": {
            "$ref": "DenyMaintenancePeriod"
          }
        }
      },
      "id": "UpdatePolicy"
    },
    "ReleaseShareRequest": {
      "type": "object",
      "description": "Request message for ReleaseShare.",
      "properties": {
        "ipAddress": {
          "description": "Required. The IP address of the physical Filestore instance hosting the share.",
          "type": "string"
        },
        "shareId": {
          "description": "Required. The specific share ID on the instance.",
          "type": "string"
        }
      },
      "id": "ReleaseShareRequest"
    },
    "Instance": {
      "id": "Instance",
      "description": "A Filestore instance.",
      "properties": {
        "createTime": {
          "description": "Output only. The time when the instance was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "minCapacityGb": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The minimum capacity of the instance.",
          "readOnly": true
        },
        "suspensionReasons": {
          "description": "Output only. Field indicates all the reasons the instance is in \"SUSPENDED\" state.",
          "readOnly": true,
          "items": {
            "enum": [
              "SUSPENSION_REASON_UNSPECIFIED",
              "KMS_KEY_ISSUE"
            ],
            "type": "string",
            "enumDescriptions": [
              "Not set.",
              "The KMS key used by the instance is either revoked or denied access to."
            ]
          },
          "type": "array"
        },
        "tier": {
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "STANDARD tier. BASIC_HDD is the preferred term for this tier.",
            "PREMIUM tier. BASIC_SSD is the preferred term for this tier.",
            "BASIC instances offer a maximum capacity of 63.9 TB. BASIC_HDD is an alias for STANDARD Tier, offering economical performance backed by HDD.",
            "BASIC instances offer a maximum capacity of 63.9 TB. BASIC_SSD is an alias for PREMIUM Tier, and offers improved performance backed by SSD.",
            "HIGH_SCALE instances offer expanded capacity and performance scaling capabilities.",
            "ENTERPRISE instances offer the features and availability needed for mission-critical workloads.",
            "ZONAL instances offer expanded capacity and performance scaling capabilities.",
            "REGIONAL instances offer the features and availability needed for mission-critical workloads."
          ],
          "description": "The service tier of the instance.",
          "enum": [
            "TIER_UNSPECIFIED",
            "STANDARD",
            "PREMIUM",
            "BASIC_HDD",
            "BASIC_SSD",
            "HIGH_SCALE_SSD",
            "ENTERPRISE",
            "ZONAL",
            "REGIONAL"
          ]
        },
        "networks": {
          "type": "array",
          "description": "VPC networks to which the instance is connected. For this version, only a single network is supported.",
          "items": {
            "$ref": "NetworkConfig"
          }
        },
        "backendType": {
          "description": "Optional. Immutable. Designates the backend type of this instance. Intended to be used by internal tests and allowed customers.",
          "enum": [
            "BACKEND_TYPE_UNSPECIFIED",
            "COMPUTE_BASED_BACKEND",
            "FILESTORE_BACKEND"
          ],
          "type": "string",
          "enumDescriptions": [
            "Backend type not set.",
            "Instance is backed by Compute.",
            "Instance is backed by Filestore."
          ]
        },
        "deletionProtectionReason": {
          "description": "Optional. The reason for enabling deletion protection.",
          "type": "string"
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "fileShares": {
          "description": "File system shares on the instance. For this version, only a single file share is supported.",
          "items": {
            "$ref": "FileShareConfig"
          },
          "type": "array"
        },
        "description": {
          "description": "The description of the instance (2048 characters or less).",
          "type": "string"
        },
        "deletionProtectionEnabled": {
          "description": "Optional. Indicates whether the instance is protected against deletion.",
          "type": "boolean"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "REPAIRING",
            "DELETING",
            "ERROR",
            "RESTORING",
            "SUSPENDED",
            "REVERTING",
            "SUSPENDING",
            "RESUMING",
            "PROMOTING"
          ],
          "type": "string",
          "description": "Output only. The instance state.",
          "readOnly": true,
          "enumDescriptions": [
            "State not set.",
            "The instance is being created.",
            "The instance is available for use.",
            "Work is being done on the instance. You can get further details from the `statusMessage` field of the `Instance` resource.",
            "The instance is shutting down.",
            "The instance is experiencing an issue and might be unusable. You can get further details from the `statusMessage` field of the `Instance` resource.",
            "The instance is restoring a snapshot or backup to an existing file share and may be unusable during this time.",
            "The instance is suspended. You can get further details from the `suspension_reasons` field of the `Instance` resource.",
            "The instance is reverting to a snapshot.",
            "The instance is in the process of becoming suspended.",
            "The instance is in the process of becoming active.",
            "The replica instance is being promoted."
          ]
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource labels to represent user provided metadata."
        },
        "kmsKeyName": {
          "description": "KMS key name used for data encryption.",
          "type": "string"
        },
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Input only. Immutable. Tag key-value pairs bound to this resource. Each key must be a namespaced name and each value a short name. Example: \"123456789012/environment\" : \"production\", \"123456789013/costCenter\" : \"marketing\" See the documentation for more information: - Namespaced name: https://cloud.google.com/resource-manager/docs/tags/tags-creating-and-managing#retrieving_tag_key - Short name: https://cloud.google.com/resource-manager/docs/tags/tags-creating-and-managing#retrieving_tag_value"
        },
        "capacityGb": {
          "description": "The storage capacity of the instance in gigabytes (GB = 1024^3 bytes). This capacity can be increased up to `max_capacity_gb` GB in multipliers of `capacity_step_size_gb` GB.",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the instance, in the format `projects/{project_id}/locations/{location_id}/instances/{instance_id}`.",
          "readOnly": true
        },
        "performanceLimits": {
          "$ref": "PerformanceLimits",
          "description": "Output only. Used for getting performance limits.",
          "readOnly": true
        },
        "performanceConfig": {
          "description": "Optional. Used to configure performance.",
          "$ref": "PerformanceConfig"
        },
        "customPerformanceSupported": {
          "description": "Output only. Indicates whether this instance supports configuring its performance. If true, the user can configure the instance's performance by using the 'performance_config' field.",
          "readOnly": true,
          "type": "boolean"
[...]
