{
  "description": "The Cloud Filestore API is used for creating and managing cloud file servers.",
  "basePath": "",
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "title": "Cloud Filestore API",
  "discoveryVersion": "v1",
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.africa-south1.rep.googleapis.com/",
      "location": "africa-south1"
    },
    {
      "endpointUrl": "https://file.asia-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-east1"
    },
    {
      "location": "asia-east2",
      "endpointUrl": "https://file.asia-east2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast1",
      "endpointUrl": "https://file.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-northeast2",
      "endpointUrl": "https://file.asia-northeast2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://file.asia-northeast3.rep.googleapis.com/",
      "location": "asia-northeast3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://file.asia-south1.rep.googleapis.com/",
      "location": "asia-south1",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-south2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.asia-south2.rep.googleapis.com/"
    },
    {
      "location": "asia-southeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.asia-southeast1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://file.asia-southeast2.rep.googleapis.com/",
      "location": "asia-southeast2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.asia-southeast3.rep.googleapis.com/",
      "location": "asia-southeast3"
    },
    {
      "endpointUrl": "https://file.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "australia-southeast1"
    },
    {
      "location": "australia-southeast2",
      "endpointUrl": "https://file.australia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-central2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.europe-central2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://file.europe-north1.rep.googleapis.com/",
      "location": "europe-north1",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-north2",
      "endpointUrl": "https://file.europe-north2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-southwest1",
      "endpointUrl": "https://file.europe-southwest1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.europe-west1.rep.googleapis.com/",
      "location": "europe-west1"
    },
    {
      "location": "europe-west10",
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.europe-west10.rep.googleapis.com/"
    },
    {
      "location": "europe-west12",
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.europe-west12.rep.googleapis.com/"
    },
    {
      "location": "europe-west15",
      "endpointUrl": "https://file.europe-west15.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.europe-west2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.europe-west3.rep.googleapis.com/",
      "location": "europe-west3"
    },
    {
      "endpointUrl": "https://file.europe-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west4"
    },
    {
      "endpointUrl": "https://file.europe-west6.rep.googleapis.com/",
      "location": "europe-west6",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west8",
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.europe-west8.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west9",
      "endpointUrl": "https://file.europe-west9.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://file.me-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-central1"
    },
    {
      "location": "me-central2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.me-central2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "me-west1",
      "endpointUrl": "https://file.me-west1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "northamerica-northeast1",
      "endpointUrl": "https://file.northamerica-northeast1.rep.googleapis.com/"
    },
    {
      "location": "northamerica-northeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.northamerica-northeast2.rep.googleapis.com/"
    },
    {
      "location": "northamerica-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.northamerica-south1.rep.googleapis.com/"
    },
    {
      "location": "southamerica-east1",
      "endpointUrl": "https://file.southamerica-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "southamerica-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.southamerica-west1.rep.googleapis.com/"
    },
    {
      "location": "us-central1",
      "endpointUrl": "https://file.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://file.us-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central2"
    },
    {
      "location": "us-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.us-east1.rep.googleapis.com/"
    },
    {
      "location": "us-east4",
      "endpointUrl": "https://file.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east5",
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.us-east5.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.us-east7.rep.googleapis.com/",
      "location": "us-east7"
    },
    {
      "endpointUrl": "https://file.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-south1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.us-west1.rep.googleapis.com/",
      "location": "us-west1"
    },
    {
      "location": "us-west2",
      "endpointUrl": "https://file.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://file.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west3"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west4",
      "endpointUrl": "https://file.us-west4.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.us-west8.rep.googleapis.com/",
      "location": "us-west8"
    }
  ],
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "documentationLink": "https://cloud.google.com/filestore/",
  "protocol": "rest",
  "baseUrl": "https://file.googleapis.com/",
  "version_module": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "operations": {
              "methods": {
                "cancel": {
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "id": "file.projects.locations.operations.cancel",
                  "path": "v1beta1/{+name}:cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/operations",
                  "id": "file.projects.locations.operations.list",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "The name of the operation's parent resource.",
                      "location": "path",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "type": "string",
                      "location": "query"
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean"
                    }
                  },
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "httpMethod": "GET",
                  "path": "v1beta1/{+name}/operations"
                },
                "get": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation resource.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "httpMethod": "GET",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "path": "v1beta1/{+name}",
                  "id": "file.projects.locations.operations.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1beta1/{+name}",
                  "id": "file.projects.locations.operations.delete",
                  "httpMethod": "DELETE",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The name of the operation resource to be deleted."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "sharePools": {
              "methods": {
                "acquireShare": {
                  "request": {
                    "$ref": "AcquireShareRequest"
                  },
                  "id": "file.projects.locations.sharePools.acquireShare",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "AcquireShareResponse"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent share pool path, in the format `projects/{project}/locations/{location}/sharePools/{share_pool}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/sharePools/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/sharePools/{sharePoolsId}:acquireShare",
                  "description": "Acquires a share synchronously from the pre-provisioned share pool.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1beta1/{+parent}:acquireShare"
                },
                "releaseShare": {
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent share pool path, in the format `projects/{project}/locations/{location}/sharePools/{share_pool}`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/sharePools/[^/]+$",
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "ReleaseShareRequest"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/sharePools/{sharePoolsId}:releaseShare",
                  "path": "v1beta1/{+parent}:releaseShare",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "file.projects.locations.sharePools.releaseShare",
                  "response": {
                    "$ref": "ReleaseShareResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Releases a share synchronously, marking it for background scrubbing."
                }
              }
            },
            "volumePools": {
              "resources": {
                "volumes": {
                  "methods": {
                    "get": {
                      "description": "Gets the details of a specific volume.",
                      "path": "v1beta1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Volume"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "file.projects.locations.volumePools.volumes.get",
                      "httpMethod": "GET",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/volumePools/{volumePoolsId}/volumes/{volumesId}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Required. The volume resource name, in the format `projects/{project}/locations/{location}/volumePools/{volume_pool}/volumes/{volume}`.",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumePools/[^/]+/volumes/[^/]+$"
                        }
                      }
                    },
                    "list": {
                      "id": "file.projects.locations.volumePools.volumes.list",
                      "path": "v1beta1/{+parent}/volumes",
                      "description": "Lists all volumes for a specified volume pool.",
                      "response": {
                        "$ref": "ListVolumesResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "orderBy": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Sort results. Supported values are \"name\", \"name desc\" or \"\" (unsorted)."
                        },
                        "filter": {
                          "description": "Optional. List filter.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "Optional. The maximum number of items to return.",
                          "type": "integer",
                          "location": "query"
                        },
                        "pageToken": {
                          "description": "Optional. The next_page_token value to use if there are additional results to retrieve for this list request.",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumePools/[^/]+$",
                          "description": "Required. The volume pool for which to retrieve volume information, in the format `projects/{project}/locations/{location}/volumePools/{volume_pool}`.",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/volumePools/{volumePoolsId}/volumes",
                      "httpMethod": "GET"
                    },
                    "create": {
                      "path": "v1beta1/{+parent}/volumes",
                      "response": {
                        "$ref": "Volume"
                      },
                      "httpMethod": "POST",
                      "description": "Creates a volume.",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. The parent volume pool path, in the format `projects/{project}/locations/{location}/volumePools/{volume_pool}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumePools/[^/]+$"
                        },
                        "volumeId": {
                          "description": "Required. The ID to use for the volume. The ID must be unique within the specified volume pool.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "file.projects.locations.volumePools.volumes.create",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/volumePools/{volumePoolsId}/volumes",
                      "request": {
                        "$ref": "Volume"
                      }
                    },
                    "delete": {
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/volumePools/{volumePoolsId}/volumes/{volumesId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta1/{+name}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. The volume resource name, in the format `projects/{project}/locations/{location}/volumePools/{volume_pool}/volumes/{volume}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumePools/[^/]+/volumes/[^/]+$",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "Empty"
                      },
                      "description": "Deletes a volume.",
                      "httpMethod": "DELETE",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "file.projects.locations.volumePools.volumes.delete"
                    }
                  }
                }
              },
              "methods": {
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "file.projects.locations.volumePools.create",
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "VolumePool"
                  },
                  "description": "Creates a volume pool.",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The project and location for which to create the volume pool, in the format `projects/{project}/locations/{location}`.",
                      "location": "path",
                      "required": true
                    },
                    "volumePoolId": {
                      "description": "Required. The ID to use for the volume pool, which will become the final component of the volume pool's resource name.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/volumePools",
                  "path": "v1beta1/{+parent}/volumePools"
                },
                "list": {
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/volumePools",
                  "path": "v1beta1/{+parent}/volumePools",
                  "id": "file.projects.locations.volumePools.list",
                  "response": {
                    "$ref": "ListVolumePoolsResponse"
                  },
                  "description": "Lists all volume pools in a project for either a specified location or for all locations.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. The next_page_token value to use if there are additional results to retrieve for this list request.",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The project and location for which to retrieve volume pool information, in the format `projects/{project}/locations/{location}`. To retrieve volume pool information for all locations, use \"-\" as the value of `{location}`.",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "orderBy": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Sort results. Supported values are \"name\", \"name desc\" or \"\" (unsorted)."
                    },
                    "filter": {
                      "description": "Optional. List filter.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of items to return.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    }
                  }
                },
                "patch": {
                  "id": "file.projects.locations.volumePools.patch",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/volumePools/{volumePoolsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Updates the settings of a specific volume pool.",
                  "path": "v1beta1/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Identifier. The resource name of the volume pool, in the format `projects/{project}/locations/{location}/volumePools/{volume_pool}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/volumePools/[^/]+$"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "description": "Optional. Mask of fields to update. At least one path must be supplied in this field.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "VolumePool"
                  },
                  "httpMethod": "PATCH"
                },
                "get": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The volume pool resource name, in the format `projects/{project}/locations/{location}/volumePools/{volume_pool}`.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/volumePools/[^/]+$",
                      "required": true
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/volumePools/{volumePoolsId}",
                  "path": "v1beta1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets the details of a specific volume pool.",
                  "response": {
                    "$ref": "VolumePool"
                  },
                  "id": "file.projects.locations.volumePools.get"
                },
                "delete": {
                  "id": "file.projects.locations.volumePools.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1beta1/{+name}",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a volume pool.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/volumePools/[^/]+$",
                      "type": "string",
                      "description": "Required. The volume pool resource name, in the format `projects/{project}/locations/{location}/volumePools/{volume_pool}`."
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/volumePools/{volumePoolsId}"
                }
              }
            },
            "instances": {
              "methods": {
                "promoteReplica": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "PromoteReplicaRequest"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:promoteReplica",
                  "id": "file.projects.locations.instances.promoteReplica",
                  "path": "v1beta1/{+name}:promoteReplica",
                  "description": "Promote the standby instance (replica).",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "description": "Required. The resource name of the instance, in the format `projects/{project_id}/locations/{location_id}/instances/{instance_id}`."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST"
                },
                "get": {
                  "httpMethod": "GET",
                  "id": "file.projects.locations.instances.get",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "required": true,
                      "description": "Required. The instance resource name, in the format `projects/{project_id}/locations/{location}/instances/{instance_id}`.",
                      "type": "string"
                    }
                  },
                  "path": "v1beta1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Instance"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets the details of a specific instance."
                },
                "restore": {
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:restore",
                  "request": {
                    "$ref": "RestoreInstanceRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Restores an existing instance's file share from a backup. The capacity of the instance needs to be equal to or larger than the capacity of the backup (and also equal to or larger than the minimum capacity of the tier).",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "file.projects.locations.instances.restore",
                  "path": "v1beta1/{+name}:restore",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the instance, in the format `projects/{project_id}/locations/{location_id}/instances/{instance_id}`.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "required": true
                    }
                  }
                },
                "pauseReplica": {
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:pauseReplica",
                  "description": "Pause the standby instance (replica). WARNING: This operation makes the standby instance's NFS filesystem writable. Any data written to the standby instance while paused will be lost when the replica is resumed or promoted.",
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the instance, in the format `projects/{project_id}/locations/{location_id}/instances/{instance_id}`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+name}:pauseReplica",
                  "httpMethod": "POST",
                  "id": "file.projects.locations.instances.pauseReplica",
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "PauseReplicaRequest"
                  }
                },
                "resumeReplica": {
                  "description": "Resume the standby instance (replica). WARNING: Any data written to the standby instance while paused will be lost when the replica is resumed.",
                  "id": "file.projects.locations.instances.resumeReplica",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:resumeReplica",
                  "path": "v1beta1/{+name}:resumeReplica",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "ResumeReplicaRequest"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The resource name of the instance, in the format `projects/{project_id}/locations/{location_id}/instances/{instance_id}`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "revert": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "RevertInstanceRequest"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the instance, in the format `projects/{project_id}/locations/{location_id}/instances/{instance_id}`.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "required": true
                    }
                  },
                  "description": "Revert an existing instance's file system to a specified snapshot.",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "file.projects.locations.instances.revert",
                  "path": "v1beta1/{+name}:revert",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:revert"
                },
                "patch": {
                  "id": "file.projects.locations.instances.patch",
                  "path": "v1beta1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                  "request": {
                    "$ref": "Instance"
                  },
                  "description": "Updates the settings of a specific instance.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "description": "Output only. The resource name of the instance, in the format `projects/{project_id}/locations/{location_id}/instances/{instance_id}`."
                    },
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Required. Mask of fields to update. At least one path must be supplied in this field. The elements of the repeated paths field may only include these fields: * \"description\" * \"directory_services\" * \"file_shares\" * \"labels\" * \"performance_config\" * \"deletion_protection_enabled\" * \"deletion_protection_reason\""
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "list": {
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances",
                  "httpMethod": "GET",
                  "id": "file.projects.locations.instances.list",
                  "parameters": {
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Sort results. Supported values are \"name\", \"name desc\" or \"\" (unsorted)."
                    },
                    "filter": {
                      "description": "List filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The next_page_token value to use if there are additional results to retrieve for this list request.",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "The maximum number of items to return."
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The project and location for which to retrieve instance information, in the format `projects/{project_id}/locations/{location}`. In Cloud Filestore, locations map to Google Cloud zones, for example **us-west1-b**. To retrieve instance information for all locations, use \"-\" for the `{location}` value."
                    }
                  },
                  "response": {
                    "$ref": "ListInstancesResponse"
                  },
                  "path": "v1beta1/{+parent}/instances",
                  "description": "Lists all instances in a project for either a specified location or for all locations.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "path": "v1beta1/{+name}",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The instance resource name, in the format `projects/{project_id}/locations/{location}/instances/{instance_id}`",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$"
                    },
                    "force": {
                      "type": "boolean",
                      "description": "If set to true, any snapshots of the instance will also be deleted. (Otherwise, the request will only work if the instance has no snapshots.)",
                      "location": "query"
                    }
                  },
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Deletes an instance.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "file.projects.locations.instances.delete"
                },
                "create": {
                  "id": "file.projects.locations.instances.create",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+parent}/instances",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances",
                  "description": "Creates an instance. When creating from a backup, the capacity of the new instance needs to be equal to or larger than the capacity of the backup (and also equal to or larger than the minimum capacity of the tier).",
                  "parameters": {
                    "instanceId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. The ID of the instance to create. The ID must be unique within the specified project and location. This value must start with a lowercase letter followed by up to 62 lowercase letters, numbers, or hyphens, and cannot end with a hyphen."
                    },
                    "parent": {
                      "description": "Required. The instance's project and location, in the format `projects/{project_id}/locations/{location}`. In Filestore, locations map to Google Cloud zones, for example **us-west1-b**.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "Instance"
                  },
                  "httpMethod": "POST"
                }
              },
              "resources": {
                "shares": {
                  "methods": {
                    "create": {
                      "path": "v1beta1/{+parent}/shares",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Creates a share.",
                      "request": {
                        "$ref": "Share"
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/shares",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "file.projects.locations.instances.shares.create",
                      "parameters": {
                        "shareId": {
                          "description": "Required. The ID to use for the share. The ID must be unique within the specified instance. This value must start with a lowercase letter followed by up to 62 lowercase letters, numbers, or hyphens, and cannot end with a hyphen.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "type": "string",
                          "description": "Required. The Filestore Instance to create the share for, in the format `projects/{project_id}/locations/{location}/instances/{instance_id}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "Operation"
                      }
                    },
                    "get": {
                      "description": "Gets the details of a specific share.",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "Share"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "description": "Required. The share resource name, in the format `projects/{project_id}/locations/{location}/instances/{instance_id}/shares/{share_id}`",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+/shares/[^/]+$",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1beta1/{+name}",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/shares/{sharesId}",
                      "id": "file.projects.locations.instances.shares.get"
                    },
                    "patch": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "file.projects.locations.instances.shares.patch",
                      "path": "v1beta1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Updates the settings of a specific share.",
                      "httpMethod": "PATCH",
                      "parameters": {
                        "updateMask": {
                          "format": "google-fieldmask",
                          "location": "query",
                          "description": "Required. Mask of fields to update. At least one path must be supplied in this field. The elements of the repeated paths field may only include these fields: * \"description\" * \"capacity_gb\" * \"labels\" * \"nfs_export_options\"",
                          "type": "string"
                        },
                        "name": {
                          "type": "string",
                          "description": "Output only. The resource name of the share, in the format `projects/{project_id}/locations/{location_id}/instances/{instance_id}/shares/{share_id}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+/shares/[^/]+$",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/shares/{sharesId}",
                      "request": {
                        "$ref": "Share"
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "delete": {
                      "description": "Deletes a share.",
                      "id": "file.projects.locations.instances.shares.delete",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/shares/{sharesId}",
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1beta1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+/shares/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "Required. The share resource name, in the format `projects/{project_id}/locations/{location}/instances/{instance_id}/share/{share_id}`"
                        }
                      }
                    },
                    "list": {
                      "id": "file.projects.locations.instances.shares.list",
                      "path": "v1beta1/{+parent}/shares",
                      "response": {
                        "$ref": "ListSharesResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists all shares for a specified instance.",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/shares",
                      "httpMethod": "GET",
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The maximum number of items to return.",
                          "location": "query"
                        },
                        "filter": {
                          "type": "string",
                          "location": "query",
                          "description": "List filter."
                        },
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "Required. The instance for which to retrieve share information, in the format `projects/{project_id}/locations/{location}/instances/{instance_id}`."
                        },
                        "orderBy": {
                          "type": "string",
                          "description": "Sort results. Supported values are \"name\", \"name desc\" or \"\" (unsorted).",
                          "location": "query"
                        },
                        "pageToken": {
                          "description": "The next_page_token value to use if there are additional results to retrieve for this list request.",
                          "location": "query",
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "snapshots": {
                  "methods": {
                    "delete": {
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+/snapshots/[^/]+$",
                          "location": "path",
                          "description": "Required. The snapshot resource name, in the format `projects/{project_id}/locations/{location}/instances/{instance_id}/snapshots/{snapshot_id}`",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "file.projects.locations.instances.snapshots.delete",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/snapshots/{snapshotsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta1/{+name}",
                      "description": "Deletes a snapshot.",
                      "response": {
                        "$ref": "Operation"
                      }
                    },
                    "patch": {
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/snapshots/{snapshotsId}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+/snapshots/[^/]+$",
                          "description": "Output only. The resource name of the snapshot, in the format `projects/{project_id}/locations/{location_id}/instances/{instance_id}/snapshots/{snapshot_id}`."
                        },
                        "updateMask": {
                          "format": "google-fieldmask",
                          "type": "string",
                          "description": "Required. Mask of fields to update. At least one path must be supplied in this field.",
                          "location": "query"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "PATCH",
                      "path": "v1beta1/{+name}",
                      "request": {
                        "$ref": "Snapshot"
                      },
                      "description": "Updates the settings of a specific snapshot.",
                      "id": "file.projects.locations.instances.snapshots.patch"
                    },
                    "get": {
                      "path": "v1beta1/{+name}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "description": "Required. The snapshot resource name, in the format `projects/{project_id}/locations/{location}/instances/{instance_id}/snapshots/{snapshot_id}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+/snapshots/[^/]+$",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "Snapshot"
                      },
                      "httpMethod": "GET",
                      "description": "Gets the details of a specific snapshot.",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/snapshots/{snapshotsId}",
                      "id": "file.projects.locations.instances.snapshots.get"
                    },
                    "create": {
                      "httpMethod": "POST",
                      "description": "Creates a snapshot.",
                      "parameters": {
                        "snapshotId": {
                          "type": "string",
                          "location": "query",
                          "description": "Required. The ID to use for the snapshot. The ID must be unique within the specified instance. This value must start with a lowercase letter followed by up to 62 lowercase letters, numbers, or hyphens, and cannot end with a hyphen."
                        },
                        "parent": {
                          "required": true,
                          "description": "Required. The Filestore Instance to create the snapshots of, in the format `projects/{project_id}/locations/{location}/instances/{instance_id}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "request": {
                        "$ref": "Snapshot"
                      },
                      "id": "file.projects.locations.instances.snapshots.create",
                      "path": "v1beta1/{+parent}/snapshots",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/snapshots",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "list": {
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/snapshots",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "file.projects.locations.instances.snapshots.list",
                      "httpMethod": "GET",
                      "description": "Lists all snapshots in a project for either a specified location or for all locations.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                          "type": "string",
                          "description": "Required. The instance for which to retrieve snapshot information, in the format `projects/{project_id}/locations/{location}/instances/{instance_id}`."
                        },
                        "returnPartialSuccess": {
                          "location": "query",
                          "description": "Optional. If true, allow partial responses for multi-regional Aggregated List requests.",
                          "type": "boolean"
                        },
                        "pageSize": {
                          "description": "The maximum number of items to return.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "List filter."
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "The next_page_token value to use if there are additional results to retrieve for this list request."
                        },
                        "orderBy": {
                          "location": "query",
                          "description": "Sort results. Supported values are \"name\", \"name desc\" or \"\" (unsorted).",
                          "type": "string"
                        }
                      },
                      "path": "v1beta1/{+parent}/snapshots",
                      "response": {
                        "$ref": "ListSnapshotsResponse"
                      }
                    }
                  }
                }
              }
            },
            "backups": {
              "methods": {
                "patch": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Output only. The resource name of the backup, in the format `projects/{project_id}/locations/{location_id}/backups/{backup_id}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/backups/[^/]+$",
                      "type": "string"
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Required. Mask of fields to update. At least one path must be supplied in this field.",
                      "type": "string"
                    }
                  },
                  "httpMethod": "PATCH",
                  "id": "file.projects.locations.backups.patch",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/backups/{backupsId}",
                  "path": "v1beta1/{+name}",
                  "description": "Updates the settings of a specific backup.",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "Backup"
                  }
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1beta1/{+parent}/backups",
                  "request": {
                    "$ref": "Backup"
                  },
                  "id": "file.projects.locations.backups.create",
                  "description": "Creates a backup.",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The backup's project and location, in the format `projects/{project_id}/locations/{location}`. In Filestore, backup locations map to Google Cloud regions, for example **us-west1**.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "backupId": {
                      "type": "string",
                      "description": "Required. The ID to use for the backup. The ID must be unique within the specified project and location. This value must start with a lowercase letter followed by up to 62 lowercase letters, numbers, or hyphens, and cannot end with a hyphen.",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/backups",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "list": {
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "The next_page_token value to use if there are additional results to retrieve for this list request.",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The project and location for which to retrieve backup information, in the format `projects/{project_id}/locations/{location}`. In Filestore, backup locations map to Google Cloud regions, for example **us-west1**. To retrieve backup information for all locations, use \"-\" for the `{location}` value.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Sort results. Supported values are \"name\", \"name desc\" or \"\" (unsorted).",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "The maximum number of items to return.",
                      "type": "integer"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "List filter."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListBackupsResponse"
                  },
                  "id": "file.projects.locations.backups.list",
                  "description": "Lists all backups in a project for either a specified location or for all locations.",
                  "path": "v1beta1/{+parent}/backups",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/backups",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "get": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The backup resource name, in the format `projects/{project_id}/locations/{location}/backups/{backup_id}`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/backups/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the details of a specific backup.",
                  "response": {
                    "$ref": "Backup"
                  },
                  "path": "v1beta1/{+name}",
                  "id": "file.projects.locations.backups.get",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/backups/{backupsId}"
                },
                "delete": {
                  "description": "Deletes a backup.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The backup resource name, in the format `projects/{project_id}/locations/{location}/backups/{backup_id}`",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/backups/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "id": "file.projects.locations.backups.delete",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta1/{+name}",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/backups/{backupsId}"
                }
              }
            }
          },
          "methods": {
            "list": {
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "path": "v1beta1/{+name}/locations",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "format": "int32"
                },
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "repeated": true,
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "id": "file.projects.locations.list",
              "flatPath": "v1beta1/projects/{projectsId}/locations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "description": "Gets information about a location.",
              "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}",
              "path": "v1beta1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Resource name for the location.",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "id": "file.projects.locations.get",
              "response": {
                "$ref": "Location"
              },
              "parameterOrder": [
                "name"
              ]
            }
          }
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "name": "file",
  "version": "v1beta1",
  "kind": "discovery#restDescription",
  "canonicalName": "Cloud Filestore",
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query",
      "description": "Data format for response."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    }
  },
  "schemas": {
    "WeeklyCycle": {
      "description": "Time window specified for weekly operations.",
      "id": "WeeklyCycle",
      "type": "object",
      "properties": {
        "schedule": {
          "description": "User can specify multiple windows in a week. Minimum of 1 window.",
          "items": {
            "$ref": "Schedule"
          },
          "type": "array"
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "Backup": {
      "id": "Backup",
      "type": "object",
      "description": "A Filestore backup.",
      "properties": {
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use.",
          "type": "boolean",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "State not set.",
            "Backup is being created.",
            "Backup has been taken and the operation is being finalized. At this point, changes to the file share will not be reflected in the backup.",
            "Backup is available for use.",
            "Backup is being deleted.",
            "Backup is not valid and cannot be used for creating new instances or restoring existing instances."
          ],
          "type": "string",
          "description": "Output only. The backup state.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "FINALIZING",
            "READY",
            "DELETING",
            "INVALID"
          ]
        },
        "storageBytes": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The size of the storage used by the backup. As backups share storage, this number is expected to change with backup creation/deletion.",
          "format": "int64"
        },
        "capacityGb": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Capacity of the source file share when the backup was created.",
          "type": "string"
        },
        "labels": {
          "description": "Resource labels to represent user provided metadata.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "fileSystemProtocol": {
          "enumDescriptions": [
            "FILE_PROTOCOL_UNSPECIFIED serves a \"not set\" default value when a FileProtocol is a separate field in a message.",
            "NFS 3.0.",
            "NFS 4.1."
          ],
          "type": "string",
          "description": "Output only. The file system protocol of the source Filestore instance that this backup is created from.",
          "readOnly": true,
          "enum": [
            "FILE_PROTOCOL_UNSPECIFIED",
            "NFS_V3",
            "NFS_V4_1"
          ]
        },
        "sourceVolume": {
          "type": "string",
          "description": "Optional. The resource name of the Filestore volume that the backup is created from. Should be in the format: projects/{project_id}/locations/{location_id}/volumePools/{volume_pool_id}/volumes/{volume_id}"
        },
        "sourceFileShare": {
          "type": "string",
          "description": "Name of the file share in the source Filestore instance that the backup is created from."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the backup was created."
        },
        "sourceInstanceTier": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Not set.",
            "STANDARD tier. BASIC_HDD is the preferred term for this tier.",
            "PREMIUM tier. BASIC_SSD is the preferred term for this tier.",
            "BASIC instances offer a maximum capacity of 63.9 TB. BASIC_HDD is an alias for STANDARD Tier, offering economical performance backed by HDD.",
            "BASIC instances offer a maximum capacity of 63.9 TB. BASIC_SSD is an alias for PREMIUM Tier, and offers improved performance backed by SSD.",
            "HIGH_SCALE instances offer expanded capacity and performance scaling capabilities.",
            "ENTERPRISE instances offer the features and availability needed for mission-critical workloads.",
            "ZONAL instances offer expanded capacity and performance scaling capabilities.",
            "REGIONAL instances offer the features and availability needed for mission-critical workloads."
          ],
          "description": "Output only. The service tier of the source Filestore instance that this backup is created from.",
          "enum": [
            "TIER_UNSPECIFIED",
            "STANDARD",
            "PREMIUM",
            "BASIC_HDD",
            "BASIC_SSD",
            "HIGH_SCALE_SSD",
            "ENTERPRISE",
            "ZONAL",
            "REGIONAL"
          ]
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the backup, in the format `projects/{project_id}/locations/{location_id}/backups/{backup_id}`."
        },
        "kmsKeyName": {
          "type": "string",
          "description": "Immutable. KMS key name used for data encryption."
        },
        "tags": {
          "description": "Optional. Input only. Immutable. Tag key-value pairs bound to this resource. Each key must be a namespaced name and each value a short name. Example: \"123456789012/environment\" : \"production\", \"123456789013/costCenter\" : \"marketing\" See the documentation for more information: - Namespaced name: https://cloud.google.com/resource-manager/docs/tags/tags-creating-and-managing#retrieving_tag_key - Short name: https://cloud.google.com/resource-manager/docs/tags/tags-creating-and-managing#retrieving_tag_value",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "downloadBytes": {
          "type": "string",
          "description": "Output only. Amount of bytes that will be downloaded if the backup is restored",
          "readOnly": true,
          "format": "int64"
        },
        "sourceInstance": {
          "description": "The resource name of the source Filestore instance, in the format `projects/{project_id}/locations/{location_id}/instances/{instance_id}`, used to create this backup.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "A description of the backup with 2048 characters or less. Requests with longer descriptions will be rejected."
        },
        "satisfiesPzs": {
          "type": "boolean",
          "description": "Output only. Reserved for future use.",
          "readOnly": true
        }
      }
    },
    "GoogleCloudSaasacceleratorManagementProvidersV1NotificationParameter": {
      "type": "object",
      "description": "Contains notification related data.",
      "id": "GoogleCloudSaasacceleratorManagementProvidersV1NotificationParameter",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Array of string values. e.g. instance's replica information."
        }
      }
    },
    "MaintenancePolicy": {
      "id": "MaintenancePolicy",
      "type": "object",
      "description": "Defines policies to service maintenance events.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. Description of what this policy is for. Create/Update methods return INVALID_ARGUMENT if the length is greater than 512."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time when the resource was created.",
          "format": "google-datetime"
        },
        "name": {
          "description": "Required. MaintenancePolicy name using the form: `projects/{project_id}/locations/{location_id}/maintenancePolicies/{maintenance_policy_id}` where {project_id} refers to a GCP consumer project ID, {location_id} refers to a GCP region/zone, {maintenance_policy_id} must be 1-63 characters long and match the regular expression `[a-z0-9]([-a-z0-9]*[a-z0-9])?`.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The time when the resource was updated.",
          "format": "google-datetime"
        },
        "labels": {
          "description": "Optional. Resource labels to represent user provided metadata. Each label is a key-value pair, where both the key and the value are arbitrary strings provided by the user.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "updatePolicy": {
          "description": "Maintenance policy applicable to instance update.",
          "$ref": "UpdatePolicy"
        },
        "state": {
          "description": "Optional. The state of the policy.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "DELETING"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "Resource is ready to be used.",
            "Resource is being deleted. It can no longer be attached to instances."
          ]
        }
      }
    },
    "NfsExportOptions": {
      "id": "NfsExportOptions",
      "properties": {
        "accessMode": {
          "enum": [
            "ACCESS_MODE_UNSPECIFIED",
            "READ_ONLY",
            "READ_WRITE"
          ],
          "enumDescriptions": [
            "AccessMode not set.",
            "The client can only read the file share.",
            "The client can read and write the file share (default)."
          ],
          "description": "Either READ_ONLY, for allowing only read requests on the exported directory, or READ_WRITE, for allowing both read and write requests. The default is READ_WRITE.",
          "type": "string"
        },
        "squashMode": {
          "type": "string",
          "enumDescriptions": [
            "SquashMode not set.",
            "The Root user has root access to the file share (default).",
            "The Root user has squashed access to the anonymous uid/gid."
          ],
          "description": "Either NO_ROOT_SQUASH, for allowing root access on the exported directory, or ROOT_SQUASH, for not allowing root access. The default is NO_ROOT_SQUASH.",
          "enum": [
            "SQUASH_MODE_UNSPECIFIED",
            "NO_ROOT_SQUASH",
            "ROOT_SQUASH"
          ]
        },
        "anonGid": {
          "format": "int64",
          "type": "string",
          "description": "An integer representing the anonymous group id with a default value of 65534. Anon_gid may only be set with squash_mode of ROOT_SQUASH. An error will be returned if this field is specified for other squash_mode settings."
        },
        "ipRanges": {
          "description": "List of either an IPv4 addresses in the format `{octet1}.{octet2}.{octet3}.{octet4}` or CIDR ranges in the format `{octet1}.{octet2}.{octet3}.{octet4}/{mask size}` which may mount the file share. Overlapping IP ranges are not allowed, both within and across NfsExportOptions. An error will be returned. The limit is 64 IP ranges/addresses for each FileShareConfig among all NfsExportOptions.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "network": {
          "type": "string",
          "description": "Optional. The source VPC network for ip_ranges. Required for instances using Private Service Connect, optional otherwise. If provided, must be the same network specified in the `NetworkConfig.network` field."
        },
        "securityFlavors": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "SecurityFlavor not set.",
              "The user's UNIX user-id and group-ids are transferred \"in the clear\" (not encrypted) on the network, unauthenticated by the NFS server (default).",
              "End-user authentication through Kerberos V5.",
              "krb5 plus integrity protection (data packets are tamper proof).",
              "krb5i plus privacy protection (data packets are tamper proof and encrypted)."
            ],
            "enum": [
              "SECURITY_FLAVOR_UNSPECIFIED",
              "AUTH_SYS",
              "KRB5",
              "KRB5I",
              "KRB5P"
            ]
          },
          "description": "The security flavors allowed for mount operations. The default is AUTH_SYS.",
          "type": "array"
        },
        "anonUid": {
          "description": "An integer representing the anonymous user id with a default value of 65534. Anon_uid may only be set with squash_mode of ROOT_SQUASH. An error will be returned if this field is specified for other squash_mode settings.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "NFS export options specifications."
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Replication": {
      "description": "Optional. The configuration used to replicate an instance.",
      "type": "object",
      "id": "Replication",
      "properties": {
        "replicas": {
          "description": "Replication configuration for the replica instance associated with this instance. Only a single replica is supported.",
          "type": "array",
          "items": {
            "$ref": "ReplicaConfig"
          }
        },
        "role": {
          "description": "Output only. The replication role. When creating a new replica, this field must be set to `STANDBY`.",
          "enumDescriptions": [
            "Role not set.",
            "The instance is the `ACTIVE` replication member, functions as the replication source instance.",
            "The instance is the `STANDBY` replication member, functions as the replication destination instance."
          ],
          "type": "string",
          "enum": [
            "ROLE_UNSPECIFIED",
            "ACTIVE",
            "STANDBY"
          ]
        }
      }
    },
    "Snapshot": {
      "properties": {
        "filesystemUsedBytes": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The amount of bytes needed to allocate a full copy of the snapshot content"
        },
        "state": {
          "enumDescriptions": [
            "State not set.",
            "Snapshot is being created.",
            "Snapshot is available for use.",
            "Snapshot is being deleted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "DELETING"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The snapshot state."
        },
        "description": {
          "type": "string",
          "description": "A description of the snapshot with 2048 characters or less. Requests with longer descriptions will be rejected."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time when the snapshot was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Input only. Immutable. Tag key-value pairs bound to this resource. Each key must be a namespaced name and each value a short name. Example: \"123456789012/environment\" : \"production\", \"123456789013/costCenter\" : \"marketing\" See the documentation for more information: - Namespaced name: https://cloud.google.com/resource-manager/docs/tags/tags-creating-and-managing#retrieving_tag_key - Short name: https://cloud.google.com/resource-manager/docs/tags/tags-creating-and-managing#retrieving_tag_value"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name of the snapshot, in the format `projects/{project_id}/locations/{location_id}/instances/{instance_id}/snapshots/{snapshot_id}`.",
          "type": "string"
        },
        "labels": {
          "description": "Resource labels to represent user provided metadata.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "description": "A Filestore snapshot.",
      "id": "Snapshot",
      "type": "object"
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "type": "object",
      "properties": {
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation finished running."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "type": "string",
          "readOnly": true
        },
        "target": {
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true
        },
        "cancelRequested": {
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
[...]
