{
  "mtlsRootUrl": "https://file.mtls.googleapis.com/",
  "baseUrl": "https://file.googleapis.com/",
  "version_module": true,
  "discoveryVersion": "v1",
  "rootUrl": "https://file.googleapis.com/",
  "revision": "20260819",
  "basePath": "",
  "endpoints": [
    {
      "location": "africa-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.africa-south1.rep.googleapis.com/"
    },
    {
      "location": "asia-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.asia-east1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-east2",
      "endpointUrl": "https://file.asia-east2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://file.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast1"
    },
    {
      "endpointUrl": "https://file.asia-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast2"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-northeast3",
      "endpointUrl": "https://file.asia-northeast3.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://file.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south1"
    },
    {
      "endpointUrl": "https://file.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south2"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-southeast1",
      "endpointUrl": "https://file.asia-southeast1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://file.asia-southeast2.rep.googleapis.com/",
      "location": "asia-southeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://file.asia-southeast3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast3"
    },
    {
      "description": "Regional Endpoint",
      "location": "australia-southeast1",
      "endpointUrl": "https://file.australia-southeast1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://file.australia-southeast2.rep.googleapis.com/",
      "location": "australia-southeast2",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-central2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.europe-central2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://file.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-north1"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-north2",
      "endpointUrl": "https://file.europe-north2.rep.googleapis.com/"
    },
    {
      "location": "europe-southwest1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.europe-southwest1.rep.googleapis.com/"
    },
    {
      "location": "europe-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.europe-west1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://file.europe-west10.rep.googleapis.com/",
      "location": "europe-west10",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://file.europe-west12.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west12"
    },
    {
      "endpointUrl": "https://file.europe-west15.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west15"
    },
    {
      "location": "europe-west2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.europe-west2.rep.googleapis.com/"
    },
    {
      "location": "europe-west3",
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.europe-west3.rep.googleapis.com/"
    },
    {
      "location": "europe-west4",
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.europe-west4.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://file.europe-west6.rep.googleapis.com/",
      "location": "europe-west6",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west8",
      "endpointUrl": "https://file.europe-west8.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west9",
      "endpointUrl": "https://file.europe-west9.rep.googleapis.com/"
    },
    {
      "location": "me-central1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.me-central1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "me-central2",
      "endpointUrl": "https://file.me-central2.rep.googleapis.com/"
    },
    {
      "location": "me-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.me-west1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://file.northamerica-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-northeast1"
    },
    {
      "endpointUrl": "https://file.northamerica-northeast2.rep.googleapis.com/",
      "location": "northamerica-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "northamerica-south1",
      "endpointUrl": "https://file.northamerica-south1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://file.southamerica-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "southamerica-east1"
    },
    {
      "location": "southamerica-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.southamerica-west1.rep.googleapis.com/"
    },
    {
      "location": "us-central1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.us-central1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-central2",
      "endpointUrl": "https://file.us-central2.rep.googleapis.com/"
    },
    {
      "location": "us-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.us-east1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east4",
      "endpointUrl": "https://file.us-east4.rep.googleapis.com/"
    },
    {
      "location": "us-east5",
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.us-east5.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://file.us-east7.rep.googleapis.com/",
      "location": "us-east7",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.us-south1.rep.googleapis.com/"
    },
    {
      "location": "us-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://file.us-west1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://file.us-west2.rep.googleapis.com/",
      "location": "us-west2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://file.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west3"
    },
    {
      "endpointUrl": "https://file.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west4"
    },
    {
      "endpointUrl": "https://file.us-west8.rep.googleapis.com/",
      "location": "us-west8",
      "description": "Regional Endpoint"
    }
  ],
  "title": "Cloud Filestore API",
  "parameters": {
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "description": "The Cloud Filestore API is used for creating and managing cloud file servers.",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "flatPath": "v1beta1/projects/{projectsId}/locations",
              "httpMethod": "GET",
              "id": "file.projects.locations.list",
              "parameters": {
                "filter": {
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query"
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "extraLocationTypes": {
                  "location": "query",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "repeated": true,
                  "type": "string"
                },
                "name": {
                  "required": true,
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path"
                },
                "pageToken": {
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "path": "v1beta1/{+name}/locations"
            },
            "get": {
              "id": "file.projects.locations.get",
              "parameters": {
                "name": {
                  "description": "Resource name for the location.",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets information about a location.",
              "path": "v1beta1/{+name}",
              "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Location"
              },
              "httpMethod": "GET"
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "delete": {
                  "httpMethod": "DELETE",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "id": "file.projects.locations.operations.delete",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation resource to be deleted."
                    }
                  },
                  "path": "v1beta1/{+name}"
                },
                "cancel": {
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "POST",
                  "path": "v1beta1/{+name}:cancel",
                  "id": "file.projects.locations.operations.cancel",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation resource to be cancelled."
                    }
                  },
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
                },
                "list": {
                  "path": "v1beta1/{+name}/operations",
                  "id": "file.projects.locations.operations.list",
                  "parameters": {
                    "pageSize": {
                      "description": "The standard list page size.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "filter": {
                      "type": "string",
                      "description": "The standard list filter.",
                      "location": "query"
                    },
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "The name of the operation's parent resource.",
                      "required": true
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The standard list page token.",
                      "type": "string"
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "location": "query",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/operations",
                  "httpMethod": "GET"
                },
                "get": {
                  "path": "v1beta1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "id": "file.projects.locations.operations.get",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation resource."
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}"
                }
              }
            },
            "instances": {
              "methods": {
                "patch": {
                  "id": "file.projects.locations.instances.patch",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Output only. The resource name of the instance, in the format `projects/{project_id}/locations/{location_id}/instances/{instance_id}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "type": "string",
                      "location": "path"
                    },
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Required. Mask of fields to update. At least one path must be supplied in this field. The elements of the repeated paths field may only include these fields: * \"description\" * \"directory_services\" * \"file_shares\" * \"labels\" * \"performance_config\" * \"deletion_protection_enabled\" * \"deletion_protection_reason\"",
                      "location": "query"
                    }
                  },
                  "request": {
                    "$ref": "Instance"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates the settings of a specific instance.",
                  "path": "v1beta1/{+name}",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "PATCH"
                },
                "resumeReplica": {
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:resumeReplica",
                  "path": "v1beta1/{+name}:resumeReplica",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Resume the standby instance (replica). WARNING: Any data written to the standby instance while paused will be lost when the replica is resumed.",
                  "request": {
                    "$ref": "ResumeReplicaRequest"
                  },
                  "id": "file.projects.locations.instances.resumeReplica",
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the instance, in the format `projects/{project_id}/locations/{location_id}/instances/{instance_id}`.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "type": "string"
                    }
                  }
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListInstancesResponse"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances",
                  "httpMethod": "GET",
                  "id": "file.projects.locations.instances.list",
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "description": "List filter.",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The project and location for which to retrieve instance information, in the format `projects/{project_id}/locations/{location}`. In Cloud Filestore, locations map to Google Cloud zones, for example **us-west1-b**. To retrieve instance information for all locations, use \"-\" for the `{location}` value.",
                      "required": true
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "The maximum number of items to return."
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Sort results. Supported values are \"name\", \"name desc\" or \"\" (unsorted).",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The next_page_token value to use if there are additional results to retrieve for this list request.",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists all instances in a project for either a specified location or for all locations.",
                  "path": "v1beta1/{+parent}/instances"
                },
                "revert": {
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:revert",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "id": "file.projects.locations.instances.revert",
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the instance, in the format `projects/{project_id}/locations/{location_id}/instances/{instance_id}`.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "RevertInstanceRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Revert an existing instance's file system to a specified snapshot.",
                  "path": "v1beta1/{+name}:revert"
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances",
                  "httpMethod": "POST",
                  "id": "file.projects.locations.instances.create",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The instance's project and location, in the format `projects/{project_id}/locations/{location}`. In Filestore, locations map to Google Cloud zones, for example **us-west1-b**."
                    },
                    "instanceId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. The ID of the instance to create. The ID must be unique within the specified project and location. This value must start with a lowercase letter followed by up to 62 lowercase letters, numbers, or hyphens, and cannot end with a hyphen."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates an instance. When creating from a backup, the capacity of the new instance needs to be equal to or larger than the capacity of the backup (and also equal to or larger than the minimum capacity of the tier).",
                  "request": {
                    "$ref": "Instance"
                  },
                  "path": "v1beta1/{+parent}/instances"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the details of a specific instance.",
                  "id": "file.projects.locations.instances.get",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The instance resource name, in the format `projects/{project_id}/locations/{location}/instances/{instance_id}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "path": "v1beta1/{+name}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Instance"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}"
                },
                "restore": {
                  "path": "v1beta1/{+name}:restore",
                  "request": {
                    "$ref": "RestoreInstanceRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Restores an existing instance's file share from a backup. The capacity of the instance needs to be equal to or larger than the capacity of the backup (and also equal to or larger than the minimum capacity of the tier).",
                  "id": "file.projects.locations.instances.restore",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The resource name of the instance, in the format `projects/{project_id}/locations/{location_id}/instances/{instance_id}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:restore",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "pauseReplica": {
                  "httpMethod": "POST",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:pauseReplica",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1beta1/{+name}:pauseReplica",
                  "request": {
                    "$ref": "PauseReplicaRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Pause the standby instance (replica). WARNING: This operation makes the standby instance's NFS filesystem writable. Any data written to the standby instance while paused will be lost when the replica is resumed or promoted.",
                  "id": "file.projects.locations.instances.pauseReplica",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The resource name of the instance, in the format `projects/{project_id}/locations/{location_id}/instances/{instance_id}`."
                    }
                  }
                },
                "delete": {
                  "path": "v1beta1/{+name}",
                  "id": "file.projects.locations.instances.delete",
                  "parameters": {
                    "name": {
                      "description": "Required. The instance resource name, in the format `projects/{project_id}/locations/{location}/instances/{instance_id}`",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "type": "string"
                    },
                    "force": {
                      "type": "boolean",
                      "description": "If set to true, any snapshots of the instance will also be deleted. (Otherwise, the request will only work if the instance has no snapshots.)",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes an instance.",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "DELETE"
                },
                "promoteReplica": {
                  "httpMethod": "POST",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:promoteReplica",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "PromoteReplicaRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Promote the standby instance (replica).",
                  "id": "file.projects.locations.instances.promoteReplica",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "type": "string",
                      "description": "Required. The resource name of the instance, in the format `projects/{project_id}/locations/{location_id}/instances/{instance_id}`.",
                      "required": true
                    }
                  },
                  "path": "v1beta1/{+name}:promoteReplica"
                }
              },
              "resources": {
                "snapshots": {
                  "methods": {
                    "patch": {
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/snapshots/{snapshotsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "PATCH",
                      "id": "file.projects.locations.instances.snapshots.patch",
                      "parameters": {
                        "updateMask": {
                          "type": "string",
                          "format": "google-fieldmask",
                          "location": "query",
                          "description": "Required. Mask of fields to update. At least one path must be supplied in this field."
                        },
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+/snapshots/[^/]+$",
                          "type": "string",
                          "description": "Output only. The resource name of the snapshot, in the format `projects/{project_id}/locations/{location_id}/instances/{instance_id}/snapshots/{snapshot_id}`.",
                          "required": true
                        }
                      },
                      "request": {
                        "$ref": "Snapshot"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Updates the settings of a specific snapshot.",
                      "path": "v1beta1/{+name}"
                    },
                    "list": {
                      "httpMethod": "GET",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/snapshots",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListSnapshotsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists all snapshots in a project for either a specified location or for all locations.",
                      "id": "file.projects.locations.instances.snapshots.list",
                      "parameters": {
                        "returnPartialSuccess": {
                          "type": "boolean",
                          "description": "Optional. If true, allow partial responses for multi-regional Aggregated List requests.",
                          "location": "query"
                        },
                        "pageToken": {
                          "description": "The next_page_token value to use if there are additional results to retrieve for this list request.",
                          "location": "query",
                          "type": "string"
                        },
                        "filter": {
                          "type": "string",
                          "location": "query",
                          "description": "List filter."
                        },
                        "parent": {
                          "description": "Required. The instance for which to retrieve snapshot information, in the format `projects/{project_id}/locations/{location}/instances/{instance_id}`.",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "The maximum number of items to return.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "orderBy": {
                          "type": "string",
                          "description": "Sort results. Supported values are \"name\", \"name desc\" or \"\" (unsorted).",
                          "location": "query"
                        }
                      },
                      "path": "v1beta1/{+parent}/snapshots"
                    },
                    "create": {
                      "httpMethod": "POST",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/snapshots",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1beta1/{+parent}/snapshots",
                      "request": {
                        "$ref": "Snapshot"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Creates a snapshot.",
                      "id": "file.projects.locations.instances.snapshots.create",
                      "parameters": {
                        "snapshotId": {
                          "location": "query",
                          "description": "Required. The ID to use for the snapshot. The ID must be unique within the specified instance. This value must start with a lowercase letter followed by up to 62 lowercase letters, numbers, or hyphens, and cannot end with a hyphen.",
                          "type": "string"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The Filestore Instance to create the snapshots of, in the format `projects/{project_id}/locations/{location}/instances/{instance_id}`"
                        }
                      }
                    },
                    "delete": {
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/snapshots/{snapshotsId}",
                      "httpMethod": "DELETE",
                      "path": "v1beta1/{+name}",
                      "id": "file.projects.locations.instances.snapshots.delete",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+/snapshots/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The snapshot resource name, in the format `projects/{project_id}/locations/{location}/instances/{instance_id}/snapshots/{snapshot_id}`"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Deletes a snapshot."
                    },
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Gets the details of a specific snapshot.",
                      "id": "file.projects.locations.instances.snapshots.get",
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. The snapshot resource name, in the format `projects/{project_id}/locations/{location}/instances/{instance_id}/snapshots/{snapshot_id}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+/snapshots/[^/]+$",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "path": "v1beta1/{+name}",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Snapshot"
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/snapshots/{snapshotsId}"
                    }
                  }
                },
                "shares": {
                  "methods": {
                    "create": {
                      "id": "file.projects.locations.instances.shares.create",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The Filestore Instance to create the share for, in the format `projects/{project_id}/locations/{location}/instances/{instance_id}`"
                        },
                        "shareId": {
                          "type": "string",
                          "description": "Required. The ID to use for the share. The ID must be unique within the specified instance. This value must start with a lowercase letter followed by up to 62 lowercase letters, numbers, or hyphens, and cannot end with a hyphen.",
                          "location": "query"
                        }
                      },
                      "request": {
                        "$ref": "Share"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Creates a share.",
                      "path": "v1beta1/{+parent}/shares",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/shares",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "POST"
                    },
                    "delete": {
                      "id": "file.projects.locations.instances.shares.delete",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+/shares/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The share resource name, in the format `projects/{project_id}/locations/{location}/instances/{instance_id}/share/{share_id}`"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Deletes a share.",
                      "path": "v1beta1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/shares/{sharesId}",
                      "httpMethod": "DELETE"
                    },
                    "get": {
                      "path": "v1beta1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Gets the details of a specific share.",
                      "id": "file.projects.locations.instances.shares.get",
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. The share resource name, in the format `projects/{project_id}/locations/{location}/instances/{instance_id}/shares/{share_id}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+/shares/[^/]+$",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Share"
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/shares/{sharesId}"
                    },
                    "patch": {
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/shares/{sharesId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "PATCH",
                      "id": "file.projects.locations.instances.shares.patch",
                      "parameters": {
                        "updateMask": {
                          "location": "query",
                          "description": "Required. Mask of fields to update. At least one path must be supplied in this field. The elements of the repeated paths field may only include these fields: * \"description\" * \"capacity_gb\" * \"labels\" * \"nfs_export_options\"",
                          "type": "string",
                          "format": "google-fieldmask"
                        },
                        "name": {
                          "required": true,
                          "description": "Output only. The resource name of the share, in the format `projects/{project_id}/locations/{location_id}/instances/{instance_id}/shares/{share_id}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+/shares/[^/]+$",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "request": {
                        "$ref": "Share"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Updates the settings of a specific share.",
                      "path": "v1beta1/{+name}"
                    },
                    "list": {
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListSharesResponse"
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/shares",
                      "path": "v1beta1/{+parent}/shares",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists all shares for a specified instance.",
                      "id": "file.projects.locations.instances.shares.list",
                      "parameters": {
                        "filter": {
                          "description": "List filter.",
                          "location": "query",
                          "type": "string"
                        },
                        "orderBy": {
                          "location": "query",
                          "description": "Sort results. Supported values are \"name\", \"name desc\" or \"\" (unsorted).",
                          "type": "string"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The instance for which to retrieve share information, in the format `projects/{project_id}/locations/{location}/instances/{instance_id}`."
                        },
                        "pageSize": {
                          "location": "query",
                          "description": "The maximum number of items to return.",
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "The next_page_token value to use if there are additional results to retrieve for this list request.",
                          "location": "query"
                        }
                      }
                    }
                  }
                }
              }
            },
            "sharePools": {
              "methods": {
                "releaseShare": {
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/sharePools/{sharePoolsId}:releaseShare",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ReleaseShareResponse"
                  },
                  "httpMethod": "POST",
                  "id": "file.projects.locations.sharePools.releaseShare",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The parent share pool path, in the format `projects/{project}/locations/{location}/sharePools/{share_pool}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/sharePools/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "ReleaseShareRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Releases a share synchronously, marking it for background scrubbing.",
                  "path": "v1beta1/{+parent}:releaseShare"
                },
                "acquireShare": {
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/sharePools/{sharePoolsId}:acquireShare",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "AcquireShareResponse"
                  },
                  "httpMethod": "POST",
                  "path": "v1beta1/{+parent}:acquireShare",
                  "id": "file.projects.locations.sharePools.acquireShare",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/sharePools/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent share pool path, in the format `projects/{project}/locations/{location}/sharePools/{share_pool}`."
                    }
                  },
                  "request": {
                    "$ref": "AcquireShareRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Acquires a share synchronously from the pre-provisioned share pool."
                }
              }
            },
            "backups": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Backup"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/backups/{backupsId}",
                  "httpMethod": "GET",
                  "id": "file.projects.locations.backups.get",
                  "parameters": {
                    "name": {
                      "description": "Required. The backup resource name, in the format `projects/{project_id}/locations/{location}/backups/{backup_id}`.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/backups/[^/]+$",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the details of a specific backup.",
                  "path": "v1beta1/{+name}"
                },
                "create": {
                  "path": "v1beta1/{+parent}/backups",
                  "id": "file.projects.locations.backups.create",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The backup's project and location, in the format `projects/{project_id}/locations/{location}`. In Filestore, backup locations map to Google Cloud regions, for example **us-west1**.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path"
                    },
                    "backupId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. The ID to use for the backup. The ID must be unique within the specified project and location. This value must start with a lowercase letter followed by up to 62 lowercase letters, numbers, or hyphens, and cannot end with a hyphen."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a backup.",
                  "request": {
                    "$ref": "Backup"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/backups",
                  "httpMethod": "POST"
                },
                "delete": {
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/backups/{backupsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "DELETE",
                  "id": "file.projects.locations.backups.delete",
                  "parameters": {
                    "name": {
                      "description": "Required. The backup resource name, in the format `projects/{project_id}/locations/{location}/backups/{backup_id}`",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/backups/[^/]+$",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a backup.",
                  "path": "v1beta1/{+name}"
                },
                "list": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListBackupsResponse"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/backups",
                  "path": "v1beta1/{+parent}/backups",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists all backups in a project for either a specified location or for all locations.",
                  "id": "file.projects.locations.backups.list",
                  "parameters": {
                    "orderBy": {
                      "type": "string",
                      "location": "query",
                      "description": "Sort results. Supported values are \"name\", \"name desc\" or \"\" (unsorted)."
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The project and location for which to retrieve backup information, in the format `projects/{project_id}/locations/{location}`. In Filestore, backup locations map to Google Cloud regions, for example **us-west1**. To retrieve backup information for all locations, use \"-\" for the `{location}` value.",
                      "required": true
                    },
                    "pageSize": {
                      "description": "The maximum number of items to return.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "filter": {
                      "location": "query",
                      "description": "List filter.",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The next_page_token value to use if there are additional results to retrieve for this list request.",
                      "type": "string"
                    }
                  }
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/backups/{backupsId}",
                  "httpMethod": "PATCH",
                  "path": "v1beta1/{+name}",
                  "id": "file.projects.locations.backups.patch",
                  "parameters": {
                    "updateMask": {
                      "description": "Required. Mask of fields to update. At least one path must be supplied in this field.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/backups/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Output only. The resource name of the backup, in the format `projects/{project_id}/locations/{location_id}/backups/{backup_id}`."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates the settings of a specific backup.",
                  "request": {
                    "$ref": "Backup"
                  }
                }
              }
            },
            "volumePools": {
              "methods": {
                "create": {
                  "request": {
                    "$ref": "VolumePool"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a volume pool.",
                  "id": "file.projects.locations.volumePools.create",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The project and location for which to create the volume pool, in the format `projects/{project}/locations/{location}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path"
                    },
                    "volumePoolId": {
                      "type": "string",
                      "description": "Required. The ID to use for the volume pool, which will become the final component of the volume pool's resource name.",
                      "location": "query"
                    }
                  },
                  "path": "v1beta1/{+parent}/volumePools",
                  "httpMethod": "POST",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/volumePools",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/volumePools/{volumePoolsId}",
                  "httpMethod": "DELETE",
                  "path": "v1beta1/{+name}",
                  "id": "file.projects.locations.volumePools.delete",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/volumePools/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The volume pool resource name, in the format `projects/{project}/locations/{location}/volumePools/{volume_pool}`."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a volume pool."
                },
                "get": {
                  "id": "file.projects.locations.volumePools.get",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/volumePools/[^/]+$",
                      "type": "string",
                      "description": "Required. The volume pool resource name, in the format `projects/{project}/locations/{location}/volumePools/{volume_pool}`.",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the details of a specific volume pool.",
                  "path": "v1beta1/{+name}",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/volumePools/{volumePoolsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "VolumePool"
                  },
                  "httpMethod": "GET"
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/volumePools/{volumePoolsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "VolumePool"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates the settings of a specific volume pool.",
                  "id": "file.projects.locations.volumePools.patch",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Identifier. The resource name of the volume pool, in the format `projects/{project}/locations/{location}/volumePools/{volume_pool}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/volumePools/[^/]+$",
                      "type": "string",
                      "location": "path"
                    },
                    "updateMask": {
                      "description": "Optional. Mask of fields to update. At least one path must be supplied in this field.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "path": "v1beta1/{+name}"
                },
                "list": {
                  "id": "file.projects.locations.volumePools.list",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. The next_page_token value to use if there are additional results to retrieve for this list request.",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The project and location for which to retrieve volume pool information, in the format `projects/{project}/locations/{location}`. To retrieve volume pool information for all locations, use \"-\" as the value of `{location}`.",
                      "required": true
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. The maximum number of items to return.",
                      "location": "query"
                    },
                    "orderBy": {
                      "description": "Optional. Sort results. Supported values are \"name\", \"name desc\" or \"\" (unsorted).",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Optional. List filter.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists all volume pools in a project for either a specified location or for all locations.",
                  "path": "v1beta1/{+parent}/volumePools",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListVolumePoolsResponse"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/volumePools",
                  "httpMethod": "GET"
                }
              },
              "resources": {
                "volumes": {
                  "methods": {
                    "list": {
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListVolumesResponse"
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/volumePools/{volumePoolsId}/volumes",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists all volumes for a specified volume pool.",
                      "id": "file.projects.locations.volumePools.volumes.list",
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. The next_page_token value to use if there are additional results to retrieve for this list request.",
                          "location": "query"
                        },
                        "filter": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. List filter."
                        },
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumePools/[^/]+$",
                          "type": "string",
                          "description": "Required. The volume pool for which to retrieve volume information, in the format `projects/{project}/locations/{location}/volumePools/{volume_pool}`.",
                          "required": true
                        },
                        "pageSize": {
                          "description": "Optional. The maximum number of items to return.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "orderBy": {
                          "location": "query",
                          "description": "Optional. Sort results. Supported values are \"name\", \"name desc\" or \"\" (unsorted).",
                          "type": "string"
                        }
                      },
                      "path": "v1beta1/{+parent}/volumes"
                    },
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Gets the details of a specific volume.",
                      "id": "file.projects.locations.volumePools.volumes.get",
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. The volume resource name, in the format `projects/{project}/locations/{location}/volumePools/{volume_pool}/volumes/{volume}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumePools/[^/]+/volumes/[^/]+$",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "path": "v1beta1/{+name}",
                      "httpMethod": "GET",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/volumePools/{volumePoolsId}/volumes/{volumesId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Volume"
                      }
                    },
                    "create": {
                      "httpMethod": "POST",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/volumePools/{volumePoolsId}/volumes",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "Volume"
                      },
                      "request": {
                        "$ref": "Volume"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Creates a volume.",
                      "id": "file.projects.locations.volumePools.volumes.create",
                      "parameters": {
                        "volumeId": {
                          "type": "string",
                          "location": "query",
                          "description": "Required. The ID to use for the volume. The ID must be unique within the specified volume pool."
                        },
                        "parent": {
                          "required": true,
                          "description": "Required. The parent volume pool path, in the format `projects/{project}/locations/{location}/volumePools/{volume_pool}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumePools/[^/]+$",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "path": "v1beta1/{+parent}/volumes"
                    },
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Deletes a volume.",
                      "id": "file.projects.locations.volumePools.volumes.delete",
                      "parameters": {
                        "name": {
                          "description": "Required. The volume resource name, in the format `projects/{project}/locations/{location}/volumePools/{volume_pool}/volumes/{volume}`.",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumePools/[^/]+/volumes/[^/]+$",
                          "type": "string"
                        }
                      },
                      "path": "v1beta1/{+name}",
                      "httpMethod": "DELETE",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/volumePools/{volumePoolsId}/volumes/{volumesId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Empty"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "id": "file:v1beta1",
  "ownerDomain": "google.com",
  "name": "file",
  "servicePath": "",
  "documentationLink": "https://cloud.google.com/filestore/",
  "schemas": {
    "PscConfig": {
      "description": "Private Service Connect configuration.",
      "properties": {
        "requestedIpAddress": {
          "description": "Optional. Immutable. Optional: The desired IP address for the instance. If not specified, an IP will be automatically allocated. The IP must be from the subnetwork range configured in the Service Connection Policy. This effective ip address is set in the ip_addresses field. use 3 instead of 2 to avoid conflict with the reserved_ip_range field.",
          "type": "string"
        },
        "endpointProject": {
          "type": "string",
          "description": "Consumer service project in which the Private Service Connect endpoint would be set up. This is optional, and only relevant in case the network is a shared VPC. If this is not specified, the endpoint would be setup in the VPC host project."
        }
      },
      "id": "PscConfig",
      "type": "object"
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request."
        }
      }
    },
    "GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSchedule": {
      "properties": {
        "startTime": {
          "description": "The scheduled start time for the maintenance.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The scheduled end time for the maintenance."
        },
        "rolloutManagementPolicy": {
          "type": "string",
          "description": "The rollout management policy this maintenance schedule is associated with. When doing reschedule update request, the reschedule should be against this given policy."
        },
        "canReschedule": {
          "deprecated": true,
          "description": "This field is deprecated, and will be always set to true since reschedule can happen multiple times now. This field should not be removed until all service producers remove this for their customers.",
          "type": "boolean"
        },
        "scheduleDeadlineTime": {
          "description": "schedule_deadline_time is the time deadline any schedule start time cannot go beyond, including reschedule. It's normally the initial schedule start time plus maintenance window length (1 day or 1 week). Maintenance cannot be scheduled to start beyond this deadline.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSchedule",
      "type": "object",
      "description": "Maintenance schedule which is exposed to customer and potentially end user, indicating published upcoming future maintenance schedule"
    },
    "DirectoryServicesConfig": {
      "id": "DirectoryServicesConfig",
      "type": "object",
      "properties": {
        "ldap": {
          "description": "Configuration for LDAP servers.",
          "$ref": "LdapConfig"
        },
        "managedActiveDirectory": {
          "description": "Configuration for Managed Service for Microsoft Active Directory.",
          "$ref": "ManagedActiveDirectoryConfig"
        }
      },
      "description": "Directory Services configuration."
    },
    "GoogleCloudSaasacceleratorManagementProvidersV1SloEligibility": {
      "properties": {
        "reason": {
          "description": "User-defined reason for the current value of instance eligibility. Usually, this can be directly mapped to the internal state. An empty reason is allowed.",
          "type": "string"
        },
        "eligible": {
          "type": "boolean",
          "description": "Whether an instance is eligible or ineligible."
        }
      },
      "id": "GoogleCloudSaasacceleratorManagementProvidersV1SloEligibility",
      "type": "object",
      "description": "SloEligibility is a tuple containing eligibility value: true if an instance is eligible for SLO calculation or false if it should be excluded from all SLO-related calculations along with a user-defined reason."
    },
    "GoogleCloudSaasacceleratorManagementProvidersV1NodeSloMetadata": {
      "description": "Node information for custom per-node SLO implementations. SSA does not support per-node SLO, but producers can populate per-node information in SloMetadata for custom precomputations. SSA Eligibility Exporter will emit per-node metric based on this information.",
      "properties": {
        "perSliEligibility": {
          "description": "If present, this will override eligibility for the node coming from instance or exclusions for specified SLIs.",
          "$ref": "GoogleCloudSaasacceleratorManagementProvidersV1PerSliSloEligibility"
        },
        "location": {
          "description": "The location of the node, if different from instance location.",
          "type": "string"
        },
        "nodeId": {
          "description": "The id of the node. This should be equal to SaasInstanceNode.node_id.",
          "type": "string"
        }
      },
      "id": "GoogleCloudSaasacceleratorManagementProvidersV1NodeSloMetadata",
      "type": "object"
    },
    "Status": {
      "id": "Status",
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "InstanceTemplate": {
      "properties": {
        "protocol": {
          "description": "Optional. File protocol.",
          "type": "string",
          "enumDescriptions": [
            "FILE_PROTOCOL_UNSPECIFIED serves a \"not set\" default value when a FileProtocol is a separate field in a message.",
            "NFS 3.0.",
            "NFS 4.1."
          ],
          "enum": [
            "FILE_PROTOCOL_UNSPECIFIED",
            "NFS_V3",
            "NFS_V4_1"
          ]
        },
        "backendType": {
          "description": "Optional. Backend type.",
          "type": "string",
          "enumDescriptions": [
            "Backend type not set.",
            "Instance is backed by Compute.",
            "Instance is backed by Filestore."
          ],
          "enum": [
            "BACKEND_TYPE_UNSPECIFIED",
            "COMPUTE_BASED_BACKEND",
            "FILESTORE_BACKEND"
          ]
        },
        "requestOverrides": {
          "type": "string",
          "description": "Optional. Request overrides in JSON format."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Instance labels."
        },
        "performanceConfig": {
          "description": "Optional. Performance configuration.",
          "$ref": "PerformanceConfig"
        },
        "capacityGb": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Capacity in GB."
        },
        "tier": {
          "description": "Optional. Tier of the instance.",
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "STANDARD tier. BASIC_HDD is the preferred term for this tier.",
            "PREMIUM tier. BASIC_SSD is the preferred term for this tier.",
            "BASIC instances offer a maximum capacity of 63.9 TB. BASIC_HDD is an alias for STANDARD Tier, offering economical performance backed by HDD.",
            "BASIC instances offer a maximum capacity of 63.9 TB. BASIC_SSD is an alias for PREMIUM Tier, and offers improved performance backed by SSD.",
            "HIGH_SCALE instances offer expanded capacity and performance scaling capabilities.",
            "ENTERPRISE instances offer the features and availability needed for mission-critical workloads.",
            "ZONAL instances offer expanded capacity and performance scaling capabilities.",
            "REGIONAL instances offer the features and availability needed for mission-critical workloads."
          ],
          "enum": [
            "TIER_UNSPECIFIED",
            "STANDARD",
            "PREMIUM",
            "BASIC_HDD",
            "BASIC_SSD",
            "HIGH_SCALE_SSD",
            "ENTERPRISE",
            "ZONAL",
            "REGIONAL"
          ]
        },
        "networks": {
          "description": "Optional. Network configurations.",
          "items": {
            "$ref": "NetworkConfig"
          },
          "type": "array"
        }
      },
      "id": "InstanceTemplate",
      "type": "object",
      "description": "InstanceTemplate representation of a Cloud Filestore volume pool instance template."
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location",
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        }
      }
    },
    "PerformanceConfig": {
      "id": "PerformanceConfig",
      "type": "object",
      "properties": {
        "iopsPerTb": {
          "description": "Provision IOPS dynamically based on the capacity of the instance. Provisioned IOPS will be calculated by multiplying the capacity of the instance in TiB by the `iops_per_tb` value. For example, for a 2 TiB instance with an `iops_per_tb` value of 17000 the provisioned IOPS will be 34000. If the calculated value is outside the supported range for the instance's capacity during instance creation, instance creation will fail with an `InvalidArgument` error. Similarly, if an instance capacity update would result in a value outside the supported range, the update will fail with an `InvalidArgument` error.",
          "$ref": "IOPSPerTB"
        },
        "fixedIops": {
          "description": "Choose a fixed provisioned IOPS value for the instance, which will remain constant regardless of instance capacity. Value must be a multiple of 1000. If the chosen value is outside the supported range for the instance's capacity during instance creation, instance creation will fail with an `InvalidArgument` error. Similarly, if an instance capacity update would result in a value outside the supported range, the update will fail with an `InvalidArgument` error.",
          "$ref": "FixedIOPS"
        }
      },
      "description": "Used for setting the performance configuration. If the user doesn't specify PerformanceConfig, automatically provision the default performance settings as described in https://cloud.google.com/filestore/docs/performance. Larger instances will be linearly set to more IOPS. If the instance's capacity is increased or decreased, its performance will be automatically adjusted upwards or downwards accordingly (respectively)."
    },
    "DenyMaintenancePeriod": {
      "description": "DenyMaintenancePeriod definition. Maintenance is forbidden within the deny period. The start_date must be less than the end_date.",
      "id": "DenyMaintenancePeriod",
      "type": "object",
      "properties": {
        "endDate": {
          "description": "Deny period end date. This can be: * A full date, with non-zero year, month and day values. * A month and day value, with a zero year. Allows recurring deny periods each year. Date matching this period will have to be before the end.",
          "$ref": "Date"
        },
        "time": {
          "description": "Time in UTC when the Blackout period starts on start_date and ends on end_date. This can be: * Full time. * All zeros for 00:00:00 UTC",
          "$ref": "TimeOfDay"
        },
        "startDate": {
          "description": "Deny period start date. This can be: * A full date, with non-zero year, month and day values. * A month and day value, with a zero year. Allows recurring deny periods each year. Date matching this period will have to be the same or after the start.",
          "$ref": "Date"
        }
      }
    },
    "PromoteReplicaRequest": {
      "description": "PromoteReplicaRequest promotes a Filestore standby instance (replica).",
      "id": "PromoteReplicaRequest",
      "type": "object",
      "properties": {
        "peerInstance": {
          "description": "Optional. The resource name of the peer instance to promote, in the format `projects/{project_id}/locations/{location_id}/instances/{instance_id}`. The peer instance is required if the operation is called on an active instance.",
          "type": "string"
        }
      }
    },
    "Backup": {
      "description": "A Filestore backup.",
      "id": "Backup",
      "type": "object",
      "properties": {
        "satisfiesPzi": {
          "type": "boolean",
          "description": "Output only. Reserved for future use.",
          "readOnly": true
        },
        "storageBytes": {
          "description": "Output only. The size of the storage used by the backup. As backups share storage, this number is expected to change with backup creation/deletion.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "description": {
          "type": "string",
          "description": "A description of the backup with 2048 characters or less. Requests with longer descriptions will be rejected."
        },
        "sourceFileShare": {
          "type": "string",
          "description": "Name of the file share in the source Filestore instance that the backup is created from."
        },
        "fileSystemProtocol": {
          "enum": [
            "FILE_PROTOCOL_UNSPECIFIED",
            "NFS_V3",
            "NFS_V4_1"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "FILE_PROTOCOL_UNSPECIFIED serves a \"not set\" default value when a FileProtocol is a separate field in a message.",
            "NFS 3.0.",
            "NFS 4.1."
          ],
          "description": "Output only. The file system protocol of the source Filestore instance that this backup is created from."
        },
        "capacityGb": {
          "description": "Output only. Capacity of the source file share when the backup was created.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "sourceInstanceTier": {
          "enumDescriptions": [
            "Not set.",
            "STANDARD tier. BASIC_HDD is the preferred term for this tier.",
            "PREMIUM tier. BASIC_SSD is the preferred term for this tier.",
            "BASIC instances offer a maximum capacity of 63.9 TB. BASIC_HDD is an alias for STANDARD Tier, offering economical performance backed by HDD.",
            "BASIC instances offer a maximum capacity of 63.9 TB. BASIC_SSD is an alias for PREMIUM Tier, and offers improved performance backed by SSD.",
            "HIGH_SCALE instances offer expanded capacity and performance scaling capabilities.",
            "ENTERPRISE instances offer the features and availability needed for mission-critical workloads.",
            "ZONAL instances offer expanded capacity and performance scaling capabilities.",
            "REGIONAL instances offer the features and availability needed for mission-critical workloads."
          ],
          "description": "Output only. The service tier of the source Filestore instance that this backup is created from.",
          "type": "string",
          "enum": [
            "TIER_UNSPECIFIED",
            "STANDARD",
            "PREMIUM",
            "BASIC_HDD",
            "BASIC_SSD",
            "HIGH_SCALE_SSD",
            "ENTERPRISE",
            "ZONAL",
            "REGIONAL"
          ],
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time when the backup was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "downloadBytes": {
          "type": "string",
          "format": "int64",
          "description": "Output only. Amount of bytes that will be downloaded if the backup is restored",
          "readOnly": true
        },
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Input only. Immutable. Tag key-value pairs bound to this resource. Each key must be a namespaced name and each value a short name. Example: \"123456789012/environment\" : \"production\", \"123456789013/costCenter\" : \"marketing\" See the documentation for more information: - Namespaced name: https://cloud.google.com/resource-manager/docs/tags/tags-creating-and-managing#retrieving_tag_key - Short name: https://cloud.google.com/resource-manager/docs/tags/tags-creating-and-managing#retrieving_tag_value"
        },
        "labels": {
[...]
