{
  "kind": "discovery#restDescription",
  "documentationLink": "https://firebase.google.com/docs/crashlytics",
  "ownerDomain": "google.com",
  "name": "firebasecrashlytics",
  "mtlsRootUrl": "https://firebasecrashlytics.mtls.googleapis.com/",
  "version": "v1alpha",
  "batchPath": "batch",
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    }
  },
  "id": "firebasecrashlytics:v1alpha",
  "version_module": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "description": "This service provides an API for mobile app developers to request deletion of user's crash reports.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        }
      }
    }
  },
  "rootUrl": "https://firebasecrashlytics.googleapis.com/",
  "discoveryVersion": "v1",
  "basePath": "",
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://firebasecrashlytics.googleapis.com/",
  "protocol": "rest",
  "resources": {
    "projects": {
      "resources": {
        "apps": {
          "resources": {
            "users": {
              "methods": {
                "deleteCrashReports": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "DeleteUserCrashReportsResponse"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. Resource name for user reports, in the format: projects/ PROJECT_IDENTIFIER/apps/APP_ID/users/USER_ID/crashReports - PROJECT_IDENTIFIER: The Firebase project's project number (recommended) or its project ID. Learn more about using project identifiers in Google's [AIP 2510 standard](https://google.aip.dev/cloud/2510). - APP_ID: The globally unique, Firebase-assigned identifier for the Firebase App. This is not your package name or bundle ID. Learn how to [find your app ID](https://firebase.google.com/support/faq/#find-app-id). - USER_ID: The user ID set using the Crashlytics SDK. Learn how to [set user identifiers](https://firebase.google.com/docs/crashlytics/customize-crash-reports#set-user-ids).",
                      "pattern": "^projects/[^/]+/apps/[^/]+/users/[^/]+/crashReports$"
                    }
                  },
                  "description": "Enqueues a request to permanently remove crash reports associated with the specified user. All reports belonging to the specified user will be deleted typically within 24 hours of receiving the crash report.",
                  "id": "firebasecrashlytics.projects.apps.users.deleteCrashReports",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/users/{usersId}/crashReports",
                  "path": "v1alpha/{+name}"
                }
              }
            },
            "issues": {
              "methods": {
                "patch": {
                  "description": "Change the state of an issue.",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues/{issuesId}",
                  "parameters": {
                    "updateMask": {
                      "description": "Optional. The list of Issue fields to update. Currently only \"state\" is mutable.",
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query"
                    },
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+/issues/[^/]+$",
                      "description": "Required. Output only. Immutable. Identifier. The name of the issue resource. Format: \"projects/{project}/apps/{app}/issues/{issue}\".",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "path": "v1alpha/{+name}",
                  "id": "firebasecrashlytics.projects.apps.issues.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "Issue"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "response": {
                    "$ref": "Issue"
                  }
                },
                "get": {
                  "response": {
                    "$ref": "Issue"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the issue to retrieve. Format: \"projects/{project}/apps/{app}/issues/{issue}\".",
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+/issues/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}",
                  "id": "firebasecrashlytics.projects.apps.issues.get",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues/{issuesId}",
                  "httpMethod": "GET",
                  "description": "Retrieve an issue."
                },
                "batchUpdate": {
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "BatchUpdateIssuesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "request": {
                    "$ref": "BatchUpdateIssuesRequest"
                  },
                  "id": "firebasecrashlytics.projects.apps.issues.batchUpdate",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues:batchUpdate",
                  "path": "v1alpha/{+parent}/issues:batchUpdate",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent resource shared by all issues being updated. Format: projects/{project}/apps/{app}. If this is set, the parent field in the UpdateIssueRequest messages must either be empty or match this field.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+$"
                    }
                  },
                  "description": "Change the state of a group of issues. This method is not atomic, so partial failures can occur. In the event of a partial failure, the request will fail and you will need to call `GetIssue` to see which issues were not updated.",
                  "parameterOrder": [
                    "parent"
                  ]
                }
              },
              "resources": {
                "notes": {
                  "methods": {
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/firebase"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues/{issuesId}/notes",
                      "httpMethod": "GET",
                      "description": "List all notes for a certain issue, sorted in descending order by timestamp.",
                      "path": "v1alpha/{+parent}/notes",
                      "id": "firebasecrashlytics.projects.apps.issues.notes.list",
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "description": "Optional. The maximum number of notes per page. If omitted, defaults to 10.",
                          "format": "int32"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A page token, received from a previous calls."
                        },
                        "parent": {
                          "description": "Required. The issue the notes belongs to. Format: \"projects/{project}/apps/{app}/issues/{issue}\".",
                          "pattern": "^projects/[^/]+/apps/[^/]+/issues/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "ListNotesResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "delete": {
                      "response": {
                        "$ref": "Empty"
                      },
                      "description": "Delete a note by its name.",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the note to delete. Format: projects/{project}/apps/{app}/issues/{issue}/notes/{note}.",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/apps/[^/]+/issues/[^/]+/notes/[^/]+$"
                        }
                      },
                      "id": "firebasecrashlytics.projects.apps.issues.notes.delete",
                      "path": "v1alpha/{+name}",
                      "httpMethod": "DELETE",
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues/{issuesId}/notes/{notesId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/firebase"
                      ],
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "create": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues/{issuesId}/notes",
                      "request": {
                        "$ref": "Note"
                      },
                      "parameters": {
                        "parent": {
                          "required": true,
                          "location": "path",
                          "description": "Required. The parent resource where this note will be created. Format: \"projects/{project}/apps/{app}/issues/{issue}\".",
                          "pattern": "^projects/[^/]+/apps/[^/]+/issues/[^/]+$",
                          "type": "string"
                        }
                      },
                      "path": "v1alpha/{+parent}/notes",
                      "id": "firebasecrashlytics.projects.apps.issues.notes.create",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/firebase"
                      ],
                      "response": {
                        "$ref": "Note"
                      },
                      "httpMethod": "POST",
                      "description": "Create a new note for an issue."
                    }
                  }
                }
              }
            },
            "reports": {
              "methods": {
                "list": {
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/reports",
                  "path": "v1alpha/{+parent}/reports",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "description": "Required. The firebase application. Format: \"projects/{project}/apps/{app_id}\".",
                      "type": "string"
                    }
                  },
                  "id": "firebasecrashlytics.projects.apps.reports.list",
                  "response": {
                    "$ref": "ListReportsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "List all of the available reports.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "httpMethod": "GET"
                },
                "get": {
                  "parameters": {
                    "filter.browser.displayNames": {
                      "type": "string",
                      "description": "Optional. Only count events from the given browser. This string matches Browser.display_name. Format: \"name (display_version)\" e.g. \"Chrome (123)\", or just \"name\" for all possible versions, e.g. simply \"Chrome\".",
                      "location": "query",
                      "repeated": true
                    },
                    "filter.issue.signals": {
                      "type": "string",
                      "location": "query",
                      "enumDescriptions": [
                        "Default.",
                        "Indicates an issue that is impacting end users early in the app session.",
                        "Indicates newly detected issues.",
                        "Indicates previously closed issues which have been detected again.",
                        "Indicates issues impacting some end users multiple times."
                      ],
                      "description": "Optional. Only returns issues currently marked with the given signals. This field matches [Issue.signals.signal].",
                      "enum": [
                        "SIGNAL_UNSPECIFIED",
                        "SIGNAL_EARLY",
                        "SIGNAL_FRESH",
                        "SIGNAL_REGRESSED",
                        "SIGNAL_REPETITIVE"
                      ],
                      "repeated": true
                    },
                    "filter.version.displayNames": {
                      "location": "query",
                      "repeated": true,
                      "type": "string",
                      "description": "Only counts events in the given app version. This string matches Version.display_name. Format: \"display_version (build_version)\" e.g. \"1.2.3 (456)\"."
                    },
                    "filter.issue.content": {
                      "description": "Optional. A space separated list of filter terms matched against the contents of the issue. Contents include the title and the stack trace. Matches must begin at alphanumeric tokens, i.e., 'util.Sorted' matches 'java.util.SortedSet' but not 'myutil.SortedArray'. The filter matches if all filter terms match. All non-alphanumeric characters are ignored for matching. Filtering is assumed to be prefix-search and order-independent unless phrases are surrounded by \"\". Any terms contained in quotes are searched using exact-match (given filter term \"foo\", we will not return \"foobar\"), and must appear in the order given exactly. To get order-dependence but prefix-search, use a * within the quotes (\"abc foo*\" will match \"abc foobar\", but not \"foo abc\" \"abcd foobar\", or \"abc xyz foobar\").",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+/reports/[^/]+$",
                      "location": "path",
                      "description": "Required. The report name. Format: \"projects/{project}/apps/{app_id}/reports/{report}\".",
                      "required": true
                    },
                    "filter.device.displayNames": {
                      "type": "string",
                      "description": "Only counts events from the given Device model. This string matches Device.display_name. Format: \"manufacturer (model)\" e.g. \"Google (Pixel 6)\", or just \"manufacturer\" for all possible models, e.g. simply \"Google\". Note that a device's marketing_name field can not be used for filtering.",
                      "location": "query",
                      "repeated": true
                    },
                    "filter.issue.id": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Only counts events in the given issue ID. This field matches [Issue.id]."
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A page token, received from a previous call. The page token is only valid for the exact same set of filters, which must also be sent in subsequent requests. This token is valid for 10 minutes after the first request.",
                      "location": "query"
                    },
                    "granularity": {
                      "description": "Optional. The report response will contain one data point per time grain. If omitted, the report will contain a single data point for the complete interval.",
                      "enumDescriptions": [
                        "Unknown.",
                        "Returns a single interval for the requested time range.",
                        "Hour.",
                        "Day."
                      ],
                      "location": "query",
                      "enum": [
                        "TIME_GRANULARITY_UNSPECIFIED",
                        "TIME_GRANULARITY_NONE",
                        "TIME_GRANULARITY_HOUR",
                        "TIME_GRANULARITY_DAY"
                      ],
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of result groups to return. If omitted, defaults to 25.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "filter.interval.startTime": {
                      "format": "google-datetime",
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start."
                    },
                    "filter.issue.errorTypes": {
                      "enum": [
                        "ERROR_TYPE_UNSPECIFIED",
                        "FATAL",
                        "NON_FATAL",
                        "ANR"
                      ],
                      "description": "Optional. Only counts events of the given error types. This field matches [Issue.error_type].",
                      "repeated": true,
                      "enumDescriptions": [
                        "Unknown.",
                        "Fatal crash event.",
                        "Non-fatal event, such as a caught Java exception or NSError on iOS.",
                        "Application not responding error, Android only."
                      ],
                      "location": "query",
                      "type": "string"
                    },
                    "filter.operatingSystem.displayNames": {
                      "description": "Only counts events in the given operating system and version. This string matches OperatingSystem.display_name. Format: \"osName (osVersion)\" e.g. \"Android (11)\". or just \"osName\" for all versions, e.g. simply \"iPadOS\".",
                      "type": "string",
                      "location": "query",
                      "repeated": true
                    },
                    "filter.interval.endTime": {
                      "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
                      "type": "string",
                      "location": "query",
                      "format": "google-datetime"
                    },
                    "filter.issue.state": {
                      "deprecated": true,
                      "enum": [
                        "STATE_UNSPECIFIED",
                        "OPEN",
                        "CLOSED",
                        "MUTED"
                      ],
                      "enumDescriptions": [
                        "Unknown.",
                        "Ongoing issue.",
                        "Issue resolved.",
                        "Issue muted. No alerts will be fired for this issue."
                      ],
                      "location": "query",
                      "description": "Optional. Deprecated: Prefer `states` field. Only includes events for issues with the given issue state. Only available for `topIssues` reports.",
                      "type": "string"
                    },
                    "filter.issue.states": {
                      "enum": [
                        "STATE_UNSPECIFIED",
                        "OPEN",
                        "CLOSED",
                        "MUTED"
                      ],
                      "repeated": true,
                      "enumDescriptions": [
                        "Unknown.",
                        "Ongoing issue.",
                        "Issue resolved.",
                        "Issue muted. No alerts will be fired for this issue."
                      ],
                      "location": "query",
                      "description": "Optional. Only includes events for issues with the given issue states. Only available for `topIssues` reports.",
                      "type": "string"
                    },
                    "filter.issue.variantId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Only counts events for the given issue variant ID. This field matches [IssueVariant.id]."
                    },
                    "filter.device.formFactors": {
                      "enumDescriptions": [
                        "Unknown.",
                        "Includes mobile phones, small foldables and other form factors not fitting the other categories.",
                        "Includes tablets and larger foldables.",
                        "Includes desktops, laptops, Chromebooks, etc.",
                        "Includes televisions and set-tops.",
                        "Includes both watches and other wearables."
                      ],
                      "location": "query",
                      "type": "string",
                      "enum": [
                        "FORM_FACTOR_UNSPECIFIED",
                        "PHONE",
                        "TABLET",
                        "DESKTOP",
                        "TV",
                        "WATCH"
                      ],
                      "repeated": true,
                      "description": "Only counts events from devices with the given form factor (e.g. phone or tablet)."
                    }
                  },
                  "id": "firebasecrashlytics.projects.apps.reports.get",
                  "description": "Get a report with its computed results.",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/reports/{reportsId}",
                  "path": "v1alpha/{+name}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Report"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "events": {
              "methods": {
                "list": {
                  "description": "List the events for an issue matching filter criteria, sorted in descending order by timestamp.",
                  "id": "firebasecrashlytics.projects.apps.events.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListEventsResponse"
                  },
                  "httpMethod": "GET",
                  "path": "v1alpha/{+parent}/events",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/events",
                  "parameters": {
                    "filter.issue.state": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Deprecated: Prefer `states` field. Only includes events for issues with the given issue state. Only available for `topIssues` reports.",
                      "enum": [
                        "STATE_UNSPECIFIED",
                        "OPEN",
                        "CLOSED",
                        "MUTED"
                      ],
                      "enumDescriptions": [
                        "Unknown.",
                        "Ongoing issue.",
                        "Issue resolved.",
                        "Issue muted. No alerts will be fired for this issue."
                      ],
                      "deprecated": true
                    },
                    "filter.device.displayNames": {
                      "description": "Only counts events from the given Device model. This string matches Device.display_name. Format: \"manufacturer (model)\" e.g. \"Google (Pixel 6)\", or just \"manufacturer\" for all possible models, e.g. simply \"Google\". Note that a device's marketing_name field can not be used for filtering.",
                      "type": "string",
                      "location": "query",
                      "repeated": true
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous calls.",
                      "type": "string",
                      "location": "query"
                    },
                    "filter.version.displayNames": {
                      "location": "query",
                      "repeated": true,
                      "description": "Only counts events in the given app version. This string matches Version.display_name. Format: \"display_version (build_version)\" e.g. \"1.2.3 (456)\".",
                      "type": "string"
                    },
                    "readMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "Optional. The list of Event fields to include in the response. If omitted, the full event is returned.",
                      "type": "string"
                    },
                    "filter.browser.displayNames": {
                      "type": "string",
                      "description": "Optional. Only count events from the given browser. This string matches Browser.display_name. Format: \"name (display_version)\" e.g. \"Chrome (123)\", or just \"name\" for all possible versions, e.g. simply \"Chrome\".",
                      "location": "query",
                      "repeated": true
                    },
                    "filter.interval.endTime": {
                      "type": "string",
                      "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
                      "location": "query",
                      "format": "google-datetime"
                    },
                    "filter.issue.variantId": {
                      "description": "Optional. Only counts events for the given issue variant ID. This field matches [IssueVariant.id].",
                      "location": "query",
                      "type": "string"
                    },
                    "filter.interval.startTime": {
                      "type": "string",
                      "location": "query",
                      "format": "google-datetime",
                      "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start."
                    },
                    "filter.issue.errorTypes": {
                      "enumDescriptions": [
                        "Unknown.",
                        "Fatal crash event.",
                        "Non-fatal event, such as a caught Java exception or NSError on iOS.",
                        "Application not responding error, Android only."
                      ],
                      "description": "Optional. Only counts events of the given error types. This field matches [Issue.error_type].",
                      "location": "query",
                      "enum": [
                        "ERROR_TYPE_UNSPECIFIED",
                        "FATAL",
                        "NON_FATAL",
                        "ANR"
                      ],
                      "type": "string",
                      "repeated": true
                    },
                    "filterExpression": {
                      "location": "query",
                      "description": "Optional. Filters events by custom keys (https://firebase.google.com/docs/crashlytics/customize-crash-reports#add-keys). Supported forms: * Equality: `custom_keys.level = \"vip\"` or `custom_keys.level:\"vip\"` * Presence: `custom_keys.level:*` * OR across values of one key: `custom_keys.level = \"vip\" OR custom_keys.level = \"enterprise\"` * AND across different keys: `custom_keys.level = \"vip\" AND custom_keys.region = \"us\"` Keys are case-sensitive. Keys and values containing spaces must be double-quoted, for example `custom_keys.\"app state\" = \"background\"`. OR across different keys, repeating a key within an AND, NOT, and comparators other than `=` and `:` are rejected with INVALID_ARGUMENT. Wildcards are not supported in values; use `custom_keys.:*` to match events that set a key to any value. Only supported for Android and iOS. This filter expression applies in addition to the `filter` field above. The syntax is a subset of AIP-160 (https://google.aip.dev/160).",
                      "type": "string"
                    },
                    "filter.device.formFactors": {
                      "description": "Only counts events from devices with the given form factor (e.g. phone or tablet).",
                      "enumDescriptions": [
                        "Unknown.",
                        "Includes mobile phones, small foldables and other form factors not fitting the other categories.",
                        "Includes tablets and larger foldables.",
                        "Includes desktops, laptops, Chromebooks, etc.",
                        "Includes televisions and set-tops.",
                        "Includes both watches and other wearables."
                      ],
                      "type": "string",
                      "repeated": true,
                      "enum": [
                        "FORM_FACTOR_UNSPECIFIED",
                        "PHONE",
                        "TABLET",
                        "DESKTOP",
                        "TV",
                        "WATCH"
                      ],
                      "location": "query"
                    },
                    "filter.issue.states": {
                      "enum": [
                        "STATE_UNSPECIFIED",
                        "OPEN",
                        "CLOSED",
                        "MUTED"
                      ],
                      "location": "query",
                      "description": "Optional. Only includes events for issues with the given issue states. Only available for `topIssues` reports.",
                      "repeated": true,
                      "enumDescriptions": [
                        "Unknown.",
                        "Ongoing issue.",
                        "Issue resolved.",
                        "Issue muted. No alerts will be fired for this issue."
                      ],
                      "type": "string"
                    },
                    "filter.issue.signals": {
                      "repeated": true,
                      "enumDescriptions": [
                        "Default.",
                        "Indicates an issue that is impacting end users early in the app session.",
                        "Indicates newly detected issues.",
                        "Indicates previously closed issues which have been detected again.",
                        "Indicates issues impacting some end users multiple times."
                      ],
                      "enum": [
                        "SIGNAL_UNSPECIFIED",
                        "SIGNAL_EARLY",
                        "SIGNAL_FRESH",
                        "SIGNAL_REGRESSED",
                        "SIGNAL_REPETITIVE"
                      ],
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Only returns issues currently marked with the given signals. This field matches [Issue.signals.signal]."
                    },
                    "filter.operatingSystem.displayNames": {
                      "description": "Only counts events in the given operating system and version. This string matches OperatingSystem.display_name. Format: \"osName (osVersion)\" e.g. \"Android (11)\". or just \"osName\" for all versions, e.g. simply \"iPadOS\".",
                      "location": "query",
                      "repeated": true,
                      "type": "string"
                    },
                    "filter.issue.id": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Only counts events in the given issue ID. This field matches [Issue.id]."
                    },
                    "filter.issue.content": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A space separated list of filter terms matched against the contents of the issue. Contents include the title and the stack trace. Matches must begin at alphanumeric tokens, i.e., 'util.Sorted' matches 'java.util.SortedSet' but not 'myutil.SortedArray'. The filter matches if all filter terms match. All non-alphanumeric characters are ignored for matching. Filtering is assumed to be prefix-search and order-independent unless phrases are surrounded by \"\". Any terms contained in quotes are searched using exact-match (given filter term \"foo\", we will not return \"foobar\"), and must appear in the order given exactly. To get order-dependence but prefix-search, use a * within the quotes (\"abc foo*\" will match \"abc foobar\", but not \"foo abc\" \"abcd foobar\", or \"abc xyz foobar\")."
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "description": "Required. The Firebase application. Format: \"projects/{project}/apps/{app_id}\"."
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of events per page. If omitted, defaults to 10.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    }
                  }
                },
                "batchGet": {
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/events:batchGet",
                  "parameters": {
                    "names": {
                      "location": "query",
                      "repeated": true,
                      "description": "Required. The resource names of the desired events. A maximum of 100 events can be retrieved in a batch. Format: \"projects/{project}/apps/{app_id}/events/{event_id}\". The app_id and event_id are required, but project may be \"-\" to conserve space in long URIs.",
                      "type": "string"
                    },
                    "readMask": {
                      "description": "Optional. The list of Event fields to include in the response. If omitted, the full event is returned.",
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "description": "Required. The firebase application. Format: \"projects/{project}/apps/{app_id}\".",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "description": "Fetch a batch of up to 100 events by name.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "BatchGetEventsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "firebasecrashlytics.projects.apps.events.batchGet",
                  "path": "v1alpha/{+parent}/events:batchGet"
                }
              }
            }
          }
        }
      }
    }
  },
  "schemas": {
    "PlayTrack": {
      "description": "Describes a release track in the Play Developer Console.",
      "type": "object",
      "id": "PlayTrack",
      "properties": {
        "title": {
          "type": "string",
          "description": "User-generated or auto-generated name of the track. PROD and INTERNAL track types always have auto-generated names, e.g. \"prod\" and \"internal\" respectively. Tracks of type EARLY_ACCESS always have a user-generated name. Other track types do not have any guarantees, might have user-generated or auto-generated names."
        },
        "type": {
          "enum": [
            "TRACK_TYPE_UNSPECIFIED",
            "TRACK_TYPE_PROD",
            "TRACK_TYPE_INTERNAL",
            "TRACK_TYPE_OPEN_TESTING",
            "TRACK_TYPE_CLOSED_TESTING",
            "TRACK_TYPE_EARLY_ACCESS"
          ],
          "description": "The type of track (prod, internal, etc...).",
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Production.",
            "Internal testing.",
            "Open testing.",
            "Closed testing.",
            "Early access."
          ]
        }
      }
    },
    "WebMetricsGroup": {
      "description": "Represents a grouping for metrics specific to web applications.",
      "id": "WebMetricsGroup",
      "type": "object",
      "properties": {
        "id": {
          "description": "The id of the web metrics group",
          "type": "string"
        }
      }
    },
    "BatchGetEventsResponse": {
      "description": "Response message for the BatchGetEvents method.",
      "type": "object",
      "properties": {
        "events": {
          "items": {
            "$ref": "Event"
          },
          "type": "array",
          "description": "The list of retrieved events."
        }
      },
      "id": "BatchGetEventsResponse"
    },
    "UpdateIssueRequest": {
      "type": "object",
      "properties": {
        "updateMask": {
          "description": "Optional. The list of Issue fields to update. Currently only \"state\" is mutable.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "issue": {
          "$ref": "Issue",
          "description": "Required. The issue to update. The issue's `name` field is used to identify the issue to update. Format: \"projects/{project}/apps/{app}/issues/{issue}\"."
        }
      },
      "id": "UpdateIssueRequest",
      "description": "Request message for the UpdateIssue method."
    },
    "Thread": {
      "type": "object",
      "description": "An application thread.",
      "properties": {
        "crashed": {
          "description": "True when the thread has crashed.",
          "type": "boolean"
        },
        "crashAddress": {
          "format": "int64",
          "description": "The address of the signal that caused the application to crash. Only present on crashed native threads.",
          "type": "string"
        },
        "threadState": {
          "readOnly": true,
          "description": "Output only. The state of the thread at the time the ANR occurred.",
          "enumDescriptions": [
            "Thread state unspecified.",
            "Thread was terminated.",
            "Thread was runnable.",
            "Thread was waiting with a timeout.",
            "Thread was blocked.",
            "Thread was waiting.",
            "Thread was started, yet to run anything.",
            "The thread was native and we could not heuristically determine that it was was waiting, so assume it's runnable.",
            "We heuristically determined that the thread is waiting."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "THREAD_STATE_TERMINATED",
            "THREAD_STATE_RUNNABLE",
            "THREAD_STATE_TIMED_WAITING",
            "THREAD_STATE_BLOCKED",
            "THREAD_STATE_WAITING",
            "THREAD_STATE_NEW",
            "THREAD_STATE_NATIVE_RUNNABLE",
            "THREAD_STATE_NATIVE_WAITING"
          ]
        },
        "queue": {
          "type": "string",
          "description": "The queue on which the thread was running."
        },
        "threadId": {
          "format": "int64",
          "type": "string",
          "description": "The id of the thread, only available for ANR threads."
        },
        "signal": {
          "type": "string",
          "description": "The name of the signal that caused the app to crash. Only present on crashed native threads."
        },
        "subtitle": {
          "description": "The subtitle of the thread.",
          "type": "string"
        },
        "frames": {
          "description": "The frames in the thread's stacktrace.",
          "items": {
            "$ref": "Frame"
          },
          "type": "array"
        },
        "signalCode": {
          "description": "The code of the signal that caused the app to crash. Only present on crashed native threads.",
          "type": "string"
        },
        "title": {
          "description": "The title of the thread.",
          "type": "string"
        },
        "sysThreadId": {
          "description": "The system id of the thread, only available for ANR threads.",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "description": "The name of the thread.",
          "type": "string"
        },
        "blamed": {
          "description": "True when the Crashlytics analysis has determined that the stacktrace in this thread is where the fault occurred.",
          "type": "boolean"
        }
      },
      "id": "Thread"
    },
    "Log": {
      "type": "object",
      "properties": {
        "logTime": {
          "description": "Device timestamp when the line was logged.",
          "format": "google-datetime",
          "type": "string"
        },
        "message": {
          "description": "Log message.",
          "type": "string"
        }
      },
      "id": "Log",
      "description": "Developer-provided log lines recorded during the session."
    },
    "User": {
      "id": "User",
      "properties": {
        "id": {
          "description": "User id if provided by the app developer.",
          "type": "string"
        }
      },
      "description": "Developer-provided end user identifiers.",
      "type": "object"
    },
    "Frame": {
      "type": "object",
      "properties": {
        "blamed": {
          "type": "boolean",
          "description": "True when the Crashlytics analysis has determined that this frame is likely to be the cause of the error."
        },
        "file": {
          "type": "string",
          "description": "The name of the source file in which the frame is found."
        },
        "address": {
          "format": "int64",
          "description": "The address in the binary image which contains the code. Present for native frames.",
          "type": "string"
        },
        "library": {
          "type": "string",
          "description": "The display name of the library that includes the frame."
        },
        "symbol": {
          "description": "The frame symbol after it has been deobfuscated or symbolicated. The raw symbol from the device if it could not be hydrated.",
          "type": "string"
        },
        "column": {
          "format": "int64",
          "type": "string",
          "description": "The column on the line."
        },
        "line": {
          "type": "string",
          "description": "The line number in the file of the frame.",
          "format": "int64"
        },
        "offset": {
          "description": "The byte offset into the binary image that contains the code. Present for native frames.",
          "format": "int64",
          "type": "string"
        },
        "owner": {
          "type": "string",
          "description": "One of DEVELOPER, VENDOR, RUNTIME, PLATFORM, or SYSTEM."
        }
      },
      "description": "A frame in a stacktrace.",
      "id": "Frame"
    },
    "Memory": {
      "properties": {
        "used": {
          "type": "string",
          "description": "Bytes in use.",
          "format": "int64"
        },
        "free": {
          "description": "Bytes free.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "Mobile device memory usage.",
      "id": "Memory"
    },
    "IntervalMetrics": {
      "properties": {
        "startTime": {
          "type": "string",
          "description": "The start of the interval covered by the computation.",
          "format": "google-datetime"
        },
        "crashFreeSessionsPercentage": {
          "type": "number",
          "format": "float",
          "description": "Mobile only. Percentage of crash-free sessions. (total_sessions_count - impacted_sessions_count) / total_sessions_count * 100."
        },
        "impactedSessionsCount": {
          "type": "string",
          "description": "The number of distinct sessions in the set of events.",
          "format": "int64"
        },
        "eventsCount": {
          "type": "string",
          "format": "int64",
          "description": "The total count of events in the interval."
        },
        "impactedUsersCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of distinct users in the set of events."
        },
        "totalUsersCount": {
          "format": "int64",
          "type": "string",
          "description": "The number of distinct users."
        },
        "crashFreeUsersPercentage": {
          "description": "Mobile only. Percentage of crash-free users. (total_users_count - impacted_users_count) / total_users_count * 100",
          "type": "number",
          "format": "float"
        },
        "totalSessionsCount": {
          "format": "int64",
          "description": "The number of distinct sessions.",
          "type": "string"
        },
        "endTime": {
          "description": "The end of the interval covered by the computation.",
          "format": "google-datetime",
          "type": "string"
        },
        "sessionsCount": {
          "format": "int64",
          "deprecated": true,
          "description": "Deprecated: Prefer `impacted_sessions_count`. The number of distinct sessions in the set of events.",
          "type": "string"
        }
      },
      "id": "IntervalMetrics",
      "type": "object",
      "description": "A set of computed metric values for a time interval"
    },
    "Error": {
      "description": "A non-fatal error and its stacktrace, only from Apple apps.",
      "type": "object",
      "id": "Error",
      "properties": {
        "subtitle": {
          "type": "string",
          "description": "The subtitle of the error."
        },
        "queue": {
          "type": "string",
          "description": "The queue on which the thread was running."
        },
        "blamed": {
          "type": "boolean",
          "description": "True when the Crashlytics analysis has determined that the stacktrace in this error is where the fault occurred."
        },
        "frames": {
          "description": "The frames in the error's stacktrace.",
          "type": "array",
          "items": {
            "$ref": "Frame"
          }
        },
        "title": {
          "type": "string",
          "description": "The title of the error."
        },
        "code": {
          "format": "int64",
          "description": "Error code associated with the app's custom logged NSError.",
          "type": "string"
        }
      }
    },
    "Version": {
      "id": "Version",
      "description": "Application software version.",
      "type": "object",
      "properties": {
        "tracks": {
          "items": {
            "$ref": "PlayTrack"
          },
          "type": "array",
          "description": "Indicates releases which have artifacts that are currently available in the Play Store to the target audience of the track. Versions may be available in multiple tracks."
        },
        "displayVersion": {
          "description": "Readable version string, e.g. \"1.2.3\". On Android, strictly the same as \"version name\". On iOS, strictly the same as \"version number\" or CFBundleShortVersionString.",
          "type": "string"
        },
        "buildVersion": {
          "description": "Mobile only. One display_version can have many build_version. On Android, strictly the same as \"version code\". On iOS, strictly the same as \"build number\" or CFBundleVersion.",
          "type": "string"
        },
        "displayName": {
          "description": "Compound readable string containing both display and build versions. Format: \"display_version (build_version)\" e.g. \"1.2.3 (456)\". This string can be used for filtering with the VersionFilter.display_name field.",
          "type": "string"
        }
      }
    },
    "Storage": {
      "type": "object",
      "id": "Storage",
      "description": "Mobile device disk/flash usage. Not reported for all devices.",
      "properties": {
        "used": {
          "description": "Bytes used.",
          "type": "string",
          "format": "int64"
        },
        "free": {
          "format": "int64",
          "description": "Bytes free.",
          "type": "string"
        }
      }
    },
    "ListNotesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A pagination token to retrieve the next page of notes. If this field is not present, there are no subsequent notes."
        },
        "notes": {
          "items": {
            "$ref": "Note"
          },
          "description": "Returns notes ordered descending by the timestamp.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response message for the ListNotes method.",
      "id": "ListNotesResponse"
    },
    "ListEventsResponse": {
      "id": "ListEventsResponse",
      "properties": {
        "events": {
          "description": "Returns one element per event, in descending order the by event timestamp.",
          "type": "array",
          "items": {
            "$ref": "Event"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A pagination token to retrieve the next page of events. The next page will have earlier or later events depending on the request's ordering. If this field is not present, there are no subsequent events."
        }
      },
      "description": "Response message for the ListEvents method.",
      "type": "object"
    },
    "BatchUpdateIssuesResponse": {
      "properties": {
        "issues": {
          "type": "array",
          "description": "Issues updated in the same order as in BatchUpdateIssuesRequest.",
          "items": {
            "$ref": "Issue"
          }
        }
      },
      "id": "BatchUpdateIssuesResponse",
      "type": "object",
      "description": "Response message for the BatchUpdateIssues method."
    },
    "FirebaseSessionEvent": {
      "id": "FirebaseSessionEvent",
      "type": "object",
      "description": "Sessions recorded by the Firebase App Quality Sessions SDK.",
      "properties": {
        "sessionId": {
          "description": "Unique identifier for the Firebase session.",
          "type": "string"
        },
        "firstSessionId": {
          "description": "The identifier of the first session since the last cold start. This id and the session_id will be the same for app launches.",
          "type": "string"
        },
        "operatingSystem": {
          "description": "Operating system and version.",
          "$ref": "OperatingSystem"
        },
        "version": {
          "description": "Mobile application version numbers.",
          "$ref": "Version"
        },
        "eventType": {
          "enum": [
            "SESSION_EVENT_TYPE_UNKNOWN",
            "SESSION_START"
          ],
          "description": "Session event type. The SDK only supports SESSION_START events at this time.",
          "enumDescriptions": [
            "Unknown.",
            "Application session started."
          ],
          "type": "string"
        },
        "device": {
          "$ref": "Device",
          "description": "Mobile device metadata."
        },
        "firebaseInstallationId": {
          "description": "Uniquely identifies a device with Firebase apps installed.",
          "type": "string"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The start timestamp for the session event."
        },
        "sessionIndex": {
          "format": "int32",
          "type": "integer",
          "description": "Indicates the number of sessions since the last cold start."
        }
      }
    },
    "IssueSignals": {
      "description": "Distinctive characteristics assigned by the Crashlytics analyzer.",
      "properties": {
        "signal": {
          "description": "Output only. The signal name.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "SIGNAL_UNSPECIFIED",
            "SIGNAL_EARLY",
            "SIGNAL_FRESH",
            "SIGNAL_REGRESSED",
            "SIGNAL_REPETITIVE"
          ],
          "enumDescriptions": [
            "Default.",
            "Indicates an issue that is impacting end users early in the app session.",
            "Indicates newly detected issues.",
            "Indicates previously closed issues which have been detected again.",
            "Indicates issues impacting some end users multiple times."
          ]
        },
        "description": {
          "description": "Output only. Supporting detail information.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "IssueSignals"
    },
    "Event": {
      "id": "Event",
      "description": "The message describing a single Crashlytics event. Related to BigQuery export schema, which can be found at [Export Crashlytics data to BigQuery](https://firebase.google.com/docs/crashlytics/bigquery-export#dataset-schema-crashlytics)",
      "properties": {
        "operatingSystem": {
          "$ref": "OperatingSystem",
          "description": "Operating system and version."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Required. Output only. Immutable. Identifier. The name of the event resource. Format: \"projects/{project}/apps/{app_id}/events/{event}\"."
        },
        "buildStamp": {
          "description": "Metadata provided by the app's build system, including version control repository info.",
          "type": "string"
        },
        "browser": {
          "$ref": "Browser",
          "description": "Browser and version."
        },
        "user": {
          "description": "End user identifiers for the device owner.",
          "$ref": "User"
        },
        "memory": {
          "description": "Mobile device memory usage.",
          "$ref": "Memory"
        },
        "storage": {
          "description": "Mobile device disk/flash usage.",
          "$ref": "Storage"
        },
        "sessionId": {
          "description": "Unique identifier for the Firebase session.",
          "type": "string"
        },
        "platform": {
          "description": "ANDROID, IOS, or WEB.",
          "type": "string"
        },
        "exceptions": {
          "items": {
            "$ref": "Exception"
          },
          "description": "Android and web only. Exceptions that occurred during this event. Nested exceptions are presented in reverse chronological order, so that the last record is the first exception thrown.",
          "type": "array"
        },
        "breadcrumbs": {
          "type": "array",
          "items": {
            "$ref": "Breadcrumb"
          },
          "description": "Analytics events recorded by the analytics SDK during the session."
        },
        "eventId": {
          "type": "string",
          "description": "Output only. Immutable. The unique event identifier is assigned during processing.",
          "readOnly": true
        },
        "issueTitle": {
          "description": "The title of the issue in which the event was grouped. This is usually a source file or method name.",
          "type": "string"
        },
        "blameFrame": {
          "description": "The stack trace frame blamed by Crashlytics processing. May not be present in future analyzer.",
          "$ref": "Frame"
        },
        "routePath": {
          "readOnly": true,
          "description": "Output only. Web only. The route path of the web application when the event occurred, excluding query parameters and fragment.",
          "type": "string"
        },
        "errors": {
          "type": "array",
          "description": "Apple only. A non-fatal error captured by the iOS SDK and its stacktrace.",
          "items": {
            "$ref": "Error"
          }
        },
        "version": {
          "description": "Mobile application version.",
          "$ref": "Version"
        },
        "deviceOrientation": {
          "type": "string",
          "description": "Device orientation at the time of the crash (portrait or landscape)."
        },
        "appOrientation": {
          "description": "App orientation at the time of the crash (portrait or landscape).",
          "type": "string"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Device timestamp that the event was recorded."
        },
        "bundleOrPackage": {
          "type": "string",
          "description": "The bundle name for iOS apps or the package name of Android apps. Format: \"com.mycompany.myapp\"."
        },
        "issueVariant": {
          "description": "Details for the [IssueVariant] assigned to this [Event].",
          "$ref": "IssueVariant"
        },
        "issueSubtitle": {
          "type": "string",
          "description": "The subtitle of the issue in which the event was grouped. This is usually a symbol or an exception message."
        },
        "customKeys": {
          "description": "Custom keys set by the developer during the session.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "device": {
          "description": "Mobile device metadata.",
          "$ref": "Device"
        },
        "logs": {
          "type": "array",
          "items": {
            "$ref": "Log"
          },
          "description": "Log messages recorded by the developer during the session."
        },
        "threads": {
          "description": "Application threads present at the time the event was recorded. Each contains a stacktrace. One thread will be blamed for the error.",
          "type": "array",
          "items": {
            "$ref": "Thread"
          }
        },
        "receivedTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Server timestamp that the event was received by Crashlytics."
        },
        "crashlyticsSdkVersion": {
          "type": "string",
          "description": "Crashlytics SDK version."
        },
        "issue": {
          "description": "Details for the [Issue] assigned to this [Event].",
          "$ref": "Issue"
        },
        "installationUuid": {
          "description": "Unique identifier for the device-app installation. This field is used to compute the unique number of impacted users.",
          "type": "string"
        },
        "processState": {
          "description": "The state of the app process at the time of the event.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DeleteUserCrashReportsResponse": {
      "id": "DeleteUserCrashReportsResponse",
      "description": "Response message for the DeleteUserCrashReports method. All crash reports associated with the specified user will be deleted typically within 24 hours of receiving the crash report.",
      "type": "object",
      "properties": {
        "targetCompleteTime": {
          "description": "Target time to complete the delete crash reports operation.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "Note": {
      "id": "Note",
      "type": "object",
      "description": "Developer notes for an issue.",
      "properties": {
        "author": {
          "description": "Output only. The email of the author of the note.",
          "readOnly": true,
          "type": "string"
        },
        "body": {
          "type": "string",
          "description": "Immutable. The body of the note."
        },
        "createTime": {
          "description": "Output only. Time when the note was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Identifier. Format: \"projects/{project}/apps/app/issues/{issue}/notes/{note}\".",
          "type": "string"
        }
      }
    },
    "ListReportsResponse": {
      "id": "ListReportsResponse",
      "type": "object",
      "description": "Response method for the ListReports method. The response will always include all of the available reports.",
      "properties": {
        "reports": {
          "description": "The report objects returned will contain their names and usage instructions, but include no results. Use the `GetReport` method to run the report and obtain the paged results.",
          "type": "array",
          "items": {
            "$ref": "Report"
          }
        }
      }
    },
    "Exception": {
      "description": "A Java or Javascript exception and its stacktrace. Only from Android or web apps.",
      "id": "Exception",
      "type": "object",
      "properties": {
        "subtitle": {
          "description": "The subtitle of the exception.",
          "type": "string"
        },
        "nested": {
          "description": "True for all but the last-thrown exception (i.e. the first record).",
          "type": "boolean"
        },
        "title": {
          "description": "The title of the exception.",
          "type": "string"
        },
        "frames": {
          "description": "The frames in the exception's stacktrace.",
          "type": "array",
          "items": {
            "$ref": "Frame"
          }
        },
        "exceptionMessage": {
          "description": "A message associated with the exception.",
          "type": "string"
        },
        "type": {
          "description": "The exception type e.g. java.lang.IllegalStateException.",
          "type": "string"
        },
        "blamed": {
          "type": "boolean",
          "description": "True when the Crashlytics analysis has determined that this thread is where the fault occurred."
        }
      }
    },
    "Breadcrumb": {
      "id": "Breadcrumb",
      "properties": {
        "title": {
          "type": "string",
          "description": "Analytic event name."
        },
        "eventTime": {
          "description": "Device timestamp for the event.",
          "format": "google-datetime",
          "type": "string"
        },
        "params": {
          "description": "Event parameters.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "description": "Analytics events recorded during the session.",
      "type": "object"
    },
    "Device": {
      "type": "object",
      "description": "Mobile device metadata.",
      "id": "Device",
      "properties": {
        "displayName": {
          "description": "Full device name, suitable for passing to DeviceFilter. Format: \"manufacturer (model)\".",
          "type": "string"
        },
        "model": {
          "description": "The model name which is consistent with android.os.Build.MODEL, e.g. (\"SPH-L710\", \"GT-I9300\").",
          "type": "string"
        },
        "marketingName": {
          "type": "string",
          "description": "Marketing name, most recognizable public form, e.g. \"Pixel 6\"."
        },
        "manufacturer": {
          "description": "Device brand name which is consistent with android.os.Build.BRAND.",
          "type": "string"
        },
        "formFactor": {
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Includes mobile phones, small foldables and other form factors not fitting the other categories.",
            "Includes tablets and larger foldables.",
            "Includes desktops, laptops, Chromebooks, etc.",
            "Includes televisions and set-tops.",
            "Includes both watches and other wearables."
          ],
          "enum": [
            "FORM_FACTOR_UNSPECIFIED",
            "PHONE",
            "TABLET",
            "DESKTOP",
            "TV",
            "WATCH"
          ],
          "description": "See FormFactor message."
        },
        "companyName": {
          "description": "An invariant name of the manufacturer that submitted this product in its most recognizable public form, e.g. \"Google\".",
          "type": "string"
        },
        "architecture": {
          "description": "Device processor architecture.",
          "type": "string"
        }
      }
    },
    "BatchUpdateIssuesRequest": {
      "type": "object",
      "description": "Request message for the BatchUpdateIssues method.",
      "id": "BatchUpdateIssuesRequest",
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "UpdateIssueRequest"
          },
          "description": "Required. The request message specifying the resources to update. A maximum of 100 issues can be modified in a batch."
        },
        "updateMask": {
          "format": "google-fieldmask",
          "description": "Optional. The list of Issue fields to update. If this is set, the update_mask field in the UpdateIssueRequest messages must either be empty or match this field.",
          "type": "string"
        }
      }
    },
    "ReportGroup": {
      "properties": {
        "browser": {
          "description": "Browser metrics group.",
          "$ref": "Browser"
        },
        "issue": {
          "$ref": "Issue",
          "description": "Issue metrics group."
        },
        "subgroups": {
          "description": "When applicable, this field contains additional nested groupings. For example, events can be grouped by operating system and by operating system version.",
          "items": {
            "$ref": "ReportGroup"
          },
          "type": "array"
        },
        "variant": {
          "$ref": "IssueVariant",
          "description": "Issue variant metrics group."
        },
        "metrics": {
          "description": "Scalar metrics will contain a single object covering the entire interval, while time-dimensioned graphs will contain one per time grain.",
          "items": {
            "$ref": "IntervalMetrics"
          },
          "type": "array"
        },
        "version": {
          "description": "Version metrics group.",
          "$ref": "Version"
        },
        "device": {
          "$ref": "Device",
          "description": "Device metrics group."
        },
        "operatingSystem": {
          "$ref": "OperatingSystem",
          "description": "Operating system metrics group."
        },
        "webMetricsGroup": {
          "description": "Web metrics group.",
          "$ref": "WebMetricsGroup"
        }
      },
      "type": "object",
      "description": "A group of results in an EventReport. In any report, the group_parent field is strictly the same type for all of the groups in any collection.",
      "id": "ReportGroup"
    },
    "Report": {
      "type": "object",
      "id": "Report",
      "description": "Response message for the GetReport method. A report consists of the results of a query over an application's events. The events may be filtered by various criteria defined in the filters proto. The result will consist of a number of paginated groups, of a type relevant to the report such as issues or device models.",
      "properties": {
        "nextPageToken": {
          "description": "Output only. A page token used to retrieve additional report groups. If this field is not present, there are no subsequent pages available to retrieve.",
          "readOnly": true,
          "type": "string"
        },
        "totalSize": {
          "format": "int32",
          "description": "Output only. The total number of groups retrievable by the request.",
          "type": "integer",
          "readOnly": true
        },
        "groups": {
          "description": "Aggregate event statistics in the report will be grouped by a dimension, such as by issue or by version. The response contains one element per group, and all ReportGroup messages will have the same parent field.",
          "type": "array",
          "items": {
            "$ref": "ReportGroup"
          }
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. The displayable title of the report.",
          "type": "string"
        },
        "name": {
          "description": "The name of the report. Format: \"projects/{project}/apps/{app_id}/reports/{report}\".",
          "type": "string"
        },
        "usage": {
          "type": "string",
          "description": "Usage instructions for the report with a description of the result metrics. This field contains a description of the underlying query and describes the expected response data with any known caveats. This string can be displayed in the UI of any integration that offers comprehensive access to all Crashlytics reports."
        }
      }
    },
    "OperatingSystem": {
      "id": "OperatingSystem",
      "properties": {
        "deviceType": {
          "type": "string",
          "description": "The device category (mobile, tablet, desktop)."
        },
        "displayVersion": {
          "description": "Operating system display version number.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The OS type on Apple platforms (iOS, iPadOS, etc.)."
        },
        "os": {
          "description": "Operating system name.",
          "type": "string"
        },
        "displayName": {
          "description": "Name and version number. Formatted to be suitable for passing to OperatingSystemFilter.",
          "type": "string"
        },
        "modificationState": {
          "type": "string",
          "description": "Indicates if the OS has been modified or \"jailbroken\"."
        }
      },
      "type": "object",
      "description": "Mobile device operating system metadata."
    },
    "Issue": {
      "description": "An issue describes a set of similar events that have been analyzed by Crashlytics and grouped together. All events within an issue will be of the same error_type: crash, non-fatal exception or ANR. All events within an issue will contain similar stack traces in their blamed thread.",
      "type": "object",
      "id": "Issue",
      "properties": {
        "sampleEvent": {
          "description": "Output only. The resource name for a sample event in this issue.",
          "type": "string",
          "readOnly": true
        },
        "uri": {
          "readOnly": true,
          "description": "Output only. Provides a link to the Issue on the Firebase console. When this Issue is obtained as part of a Report, then the link will be configured with the same time interval and filters as the request.",
          "type": "string"
        },
        "firstSeenTime": {
          "description": "Output only. Immutable. The first time this issue was seen.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "notesCount": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The number of notes attached to an issue."
        },
        "id": {
          "description": "Output only. Immutable. Unique identifier for the issue.",
          "readOnly": true,
          "type": "string"
        },
        "errorType": {
          "description": "Output only. Immutable. Indicates whether this issue is a crash, non-fatal exception, or ANR.",
          "enum": [
            "ERROR_TYPE_UNSPECIFIED",
            "FATAL",
            "NON_FATAL",
            "ANR"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Fatal crash event.",
            "Non-fatal event, such as a caught Java exception or NSError on iOS.",
            "Application not responding error, Android only."
          ],
          "readOnly": true
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "OPEN",
            "CLOSED",
            "MUTED"
          ],
          "readOnly": true,
          "description": "Output only. Indicates whether this issue is open, closed or muted. For details on how issue states change without user actions, see [Regressed Issues](https://firebase.google.com/docs/crashlytics/troubleshooting?platform=ios#regressed-issues).",
          "enumDescriptions": [
            "Unknown.",
            "Ongoing issue.",
            "Issue resolved.",
            "Issue muted. No alerts will be fired for this issue."
          ]
        },
        "name": {
          "type": "string",
          "description": "Required. Output only. Immutable. Identifier. The name of the issue resource. Format: \"projects/{project}/apps/{app}/issues/{issue}\".",
          "readOnly": true
        },
        "subtitle": {
          "description": "Output only. Immutable. Caption subtitle. This is usually a symbol or an exception message.",
          "type": "string",
          "readOnly": true
        },
        "lastSeenVersion": {
          "type": "string",
          "description": "Output only. The most recent app display_version in which this issue was seen, populated for mobile issues only.",
          "readOnly": true
        },
        "signals": {
          "description": "Output only. Immutable. Distinctive characteristics assigned by the Crashlytics analyzer.",
          "type": "array",
          "items": {
            "$ref": "IssueSignals"
          },
          "readOnly": true
        },
        "title": {
          "description": "Output only. Immutable. Caption title. This is usually a source file or method name.",
          "type": "string",
          "readOnly": true
        },
        "stateUpdateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time at which the issue state was last changed.",
          "format": "google-datetime"
        },
        "firstSeenVersion": {
          "type": "string",
          "description": "Output only. Immutable. The first app display_version in which this issue was seen, populated for mobile issues only.",
          "readOnly": true
        },
        "variants": {
          "items": {
            "$ref": "IssueVariant"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Immutable. The top 12 variants (subgroups) within the issue. Variants group events within an issue that are very similar. A single result implies that the variant is the same as the parent issue. This field will be empty when multiple issues are requested. Request a single issue to list variants."
        },
        "lastSeenTime": {
          "readOnly": true,
          "description": "Output only. The most recent time this issue was seen.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "Browser": {
      "description": "Web browser metadata.",
      "type": "object",
      "id": "Browser",
      "properties": {
        "displayName": {
          "description": "Browser name and version number. Formatted to be suitable for passing to BrowserFilter.",
          "type": "string"
        },
        "displayVersion": {
          "description": "Browser display version number.",
          "type": "string"
        },
        "browser": {
          "description": "Browser name.",
          "type": "string"
        }
      }
    },
    "IssueVariant": {
      "description": "A variant is a subgroup of an issue where all events have very similar stack traces. Issues may contain one or more variants.",
      "properties": {
        "sampleEvent": {
          "readOnly": true,
          "description": "Output only. The resource name for a sample event in this variant.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Immutable. Distinct identifier for the variant."
        },
        "uri": {
          "description": "Output only. Provides a link to the variant on the Firebase console. When this variant is obtained as part of a Report, then the link will be configured with the same time interval and filters as the request.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "IssueVariant"
    }
  },
  "revision": "20260924",
  "canonicalName": "Firebase Crashlytics",
  "servicePath": "",
  "title": "Firebase Crashlytics API"
}