{
  "servicePath": "",
  "revision": "20260815",
  "parameters": {
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    }
  },
  "id": "firebaseappcheck:v1",
  "basePath": "",
  "version_module": true,
  "baseUrl": "https://firebaseappcheck.googleapis.com/",
  "name": "firebaseappcheck",
  "description": "Firebase App Check works alongside other Firebase services to help protect your backend resources from abuse, such as billing fraud or phishing.",
  "mtlsRootUrl": "https://firebaseappcheck.mtls.googleapis.com/",
  "canonicalName": "Firebaseappcheck",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "version": "v1",
  "batchPath": "batch",
  "documentationLink": "https://firebase.google.com/docs/app-check",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "resources": {
    "jwks": {
      "methods": {
        "get": {
          "path": "v1/{+name}",
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleFirebaseAppcheckV1PublicJwkSet"
          },
          "description": "Returns a public JWK set as specified by [RFC 7517](https://tools.ietf.org/html/rfc7517) that can be used to verify App Check tokens. Exactly one of the public keys in the returned set will successfully validate any App Check token that is currently valid.",
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^jwks$",
              "required": true,
              "location": "path",
              "description": "Required. The relative resource name to the public JWK set. Must always be exactly the string `jwks`."
            }
          },
          "id": "firebaseappcheck.jwks.get",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "flatPath": "v1/jwks",
          "parameterOrder": [
            "name"
          ]
        }
      }
    },
    "projects": {
      "resources": {
        "services": {
          "methods": {
            "batchUpdate": {
              "path": "v1/{+parent}/services:batchUpdate",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1BatchUpdateServicesResponse"
              },
              "description": "Atomically updates the specified Service configurations.",
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1BatchUpdateServicesRequest"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. The parent project name shared by all Service configurations being updated, in the format ``` projects/{project_number} ``` The parent collection in the `name` field of any resource being updated must match this field, or the entire batch fails.",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "type": "string"
                }
              },
              "id": "firebaseappcheck.projects.services.batchUpdate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "flatPath": "v1/projects/{projectsId}/services:batchUpdate",
              "parameterOrder": [
                "parent"
              ]
            },
            "list": {
              "flatPath": "v1/projects/{projectsId}/services",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/services",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1ListServicesResponse"
              },
              "description": "Lists all Service configurations for the specified project. Only Services which were explicitly configured using UpdateService or BatchUpdateServices will be returned.",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "description": "The maximum number of Services to return in the response. Only explicitly configured services are returned. The server may return fewer than this at its own discretion. If no value is specified (or too large a value is specified), the server will impose its own limit.",
                  "format": "int32",
                  "type": "integer"
                },
                "parent": {
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The relative resource name of the parent project for which to list each associated Service, in the format: ``` projects/{project_number} ```"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Token returned from a previous call to ListServices indicating where in the set of Services to resume listing. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to ListServices must match the call that provided the page token; if they do not match, the result is undefined."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "id": "firebaseappcheck.projects.services.list"
            },
            "get": {
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1Service"
              },
              "description": "Gets the Service configuration for the specified service name.",
              "path": "v1/{+name}",
              "id": "firebaseappcheck.projects.services.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The relative resource name of the Service to retrieve, in the format: ``` projects/{project_number}/services/{service_id} ``` Note that the `service_id` element must be a supported service ID. Consult the Service.name field for a list of supported service IDs.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/services/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/services/{servicesId}"
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/services/{servicesId}",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1Service"
              },
              "description": "Updates the specified Service configuration.",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "id": "firebaseappcheck.projects.services.patch",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/services/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The relative resource name of the service configuration object, in the format: ``` projects/{project_number}/services/{service_id} ``` Note that the `service_id` element must be a supported service ID. Currently, the following service IDs are supported. Firebase and Google Cloud services: * `identitytoolkit.googleapis.com` (Firebase Authentication) * `firebasedataconnect.googleapis.com` (Firebase SQL Connect) * `firestore.googleapis.com` (Cloud Firestore) * `firebasedatabase.googleapis.com` (Firebase Realtime Database) * `firebasestorage.googleapis.com` (Cloud Storage for Firebase) * `firebaseml.googleapis.com` (Firebase AI Logic) Google Maps Platform services: * `maps-backend.googleapis.com` (Maps JavaScript API) * `places.googleapis.com` (Places API (New)) Other supported Google services: * `oauth2.googleapis.com` (Google Identity for iOS) Note: While all the supported `service_id`s may appear to be subdomains of `googleapis.com`, the `service_id` has no semantic meaning beyond identifying the service to App Check. It is not intended to represent the actual domain to which your apps send traffic, nor is it necessarily the API that should be enabled to use the service. For information on using these Google services, consult their documentation.",
                  "location": "path"
                },
                "updateMask": {
                  "description": "Required. A comma-separated list of names of fields in the Service to update. Example: `enforcement_mode`.",
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1Service"
              }
            }
          },
          "resources": {
            "resourcePolicies": {
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/services/[^/]+/resourcePolicies/[^/]+$",
                      "location": "path",
                      "description": "Required. The relative resource name of the ResourcePolicy to retrieve, in the format: ``` projects/{project_number}/services/{service_id}/resourcePolicies/{resource_policy_id} ``` Note that the `service_id` element must be a supported service ID. Consult the ResourcePolicy.name field for a list of supported service IDs.",
                      "required": true
                    }
                  },
                  "id": "firebaseappcheck.projects.services.resourcePolicies.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1ResourcePolicy"
                  },
                  "description": "Gets the requested ResourcePolicy configuration.",
                  "flatPath": "v1/projects/{projectsId}/services/{servicesId}/resourcePolicies/{resourcePoliciesId}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "patch": {
                  "flatPath": "v1/projects/{projectsId}/services/{servicesId}/resourcePolicies/{resourcePoliciesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1ResourcePolicy"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/services/[^/]+/resourcePolicies/[^/]+$",
                      "type": "string",
                      "description": "Required. Identifier. The relative name of the resource policy object, in the format: ``` projects/{project_number}/services/{service_id}/resourcePolicies/{resource_policy_id} ``` Note that the `service_id` element must be a supported service ID. Currently, the following service IDs are supported: * `oauth2.googleapis.com` (Google Identity for iOS) `resource_policy_id` is a system-generated UID.",
                      "location": "path",
                      "required": true
                    },
                    "updateMask": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. A comma-separated list of names of fields in the ResourcePolicy to update. Example: `enforcement_mode`.",
                      "format": "google-fieldmask"
                    }
                  },
                  "id": "firebaseappcheck.projects.services.resourcePolicies.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1ResourcePolicy"
                  },
                  "description": "Updates the specified ResourcePolicy configuration."
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebaseappcheck.projects.services.resourcePolicies.list",
                  "parameters": {
                    "parent": {
                      "description": "Required. The relative resource name of the parent Service for which to list each associated ResourcePolicy, in the format: ``` projects/{project_number}/services/{service_id} ``` Note that the `service_id` element must be a supported service ID. Consult the ResourcePolicy.name field for a list of supported service IDs.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/services/[^/]+$",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Token returned from a previous call to ListResourcePolicies indicating where in the set of ResourcePolicy objects to resume listing. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to ListResourcePolicies must match the call that provided the page token; if they do not match, the result is undefined.",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "The maximum number of ResourcePolicy objects to return in the response. The server may return fewer than this at its own discretion. If no value is specified (or too large a value is specified), the server will impose its own limit.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. Filters the results by the specified rule. For the exact syntax of this field, please consult the [AIP-160](https://google.aip.dev/160) standard. Currently, since the only fields in the ResourcePolicy resource are the scalar fields `enforcement_mode` and `target_resource`, this method does not support the traversal operator (`.`) or the has operator (`:`). Here are some examples of valid filters: * `enforcement_mode = ENFORCED` * `target_resource = \"//oauth2.googleapis.com/projects/12345/oauthClients/\"` * `enforcement_mode = ENFORCED AND target_resource = \"//oauth2.googleapis.com/projects/12345/oauthClients/\"`",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1ListResourcePoliciesResponse"
                  },
                  "description": "Lists all ResourcePolicy configurations for the specified project and service.",
                  "path": "v1/{+parent}/resourcePolicies",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/services/{servicesId}/resourcePolicies"
                },
                "create": {
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1ResourcePolicy"
                  },
                  "description": "Creates the specified ResourcePolicy configuration.",
                  "path": "v1/{+parent}/resourcePolicies",
                  "id": "firebaseappcheck.projects.services.resourcePolicies.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1ResourcePolicy"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The relative resource name of the parent Service in which the specified ResourcePolicy will be created, in the format: ``` projects/{project_number}/services/{service_id} ``` Note that the `service_id` element must be a supported service ID. Consult the ResourcePolicy.name field for a list of supported service IDs.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/services/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/services/{servicesId}/resourcePolicies"
                },
                "batchUpdate": {
                  "flatPath": "v1/projects/{projectsId}/services/{servicesId}/resourcePolicies:batchUpdate",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/resourcePolicies:batchUpdate",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1BatchUpdateResourcePoliciesResponse"
                  },
                  "description": "Atomically updates the specified ResourcePolicy configurations.",
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1BatchUpdateResourcePoliciesRequest"
                  },
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/services/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. The parent service name, in the format ``` projects/{project_number}/services/{service_id} ``` The parent collection in the `name` field of any resource being updated must match this field, or the entire batch fails."
                    }
                  },
                  "id": "firebaseappcheck.projects.services.resourcePolicies.batchUpdate",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                },
                "delete": {
                  "parameters": {
                    "etag": {
                      "location": "query",
                      "description": "The checksum to be validated against the current ResourcePolicy, to ensure the client has an up-to-date value before proceeding. This checksum is computed by the server based on the values of fields in the ResourcePolicy object, and can be obtained from the ResourcePolicy object received from the last CreateResourcePolicy, GetResourcePolicy, ListResourcePolicies, UpdateResourcePolicy, or BatchUpdateResourcePolicies call. This etag is strongly validated as defined by RFC 7232.",
                      "type": "string"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/services/[^/]+/resourcePolicies/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The relative resource name of the ResourcePolicy to delete, in the format: ``` projects/{project_number}/services/{service_id}/resourcePolicies/{resource_policy_id} ```",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebaseappcheck.projects.services.resourcePolicies.delete",
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "description": "Deletes the specified ResourcePolicy configuration.",
                  "flatPath": "v1/projects/{projectsId}/services/{servicesId}/resourcePolicies/{resourcePoliciesId}",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            }
          }
        },
        "apps": {
          "methods": {
            "exchangeCustomToken": {
              "path": "v1/{+app}:exchangeCustomToken",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1AppCheckToken"
              },
              "description": "Validates a custom token signed using your project's Admin SDK service account credentials. If valid, returns an AppCheckToken.",
              "parameters": {
                "app": {
                  "pattern": "^projects/[^/]+/apps/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The relative resource name of the app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1ExchangeCustomTokenRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "id": "firebaseappcheck.projects.apps.exchangeCustomToken",
              "flatPath": "v1/projects/{projectsId}/apps/{appsId}:exchangeCustomToken",
              "parameterOrder": [
                "app"
              ]
            },
            "exchangeAppAttestAssertion": {
              "flatPath": "v1/projects/{projectsId}/apps/{appsId}:exchangeAppAttestAssertion",
              "parameterOrder": [
                "app"
              ],
              "parameters": {
                "app": {
                  "required": true,
                  "description": "Required. The relative resource name of the iOS app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/apps/[^/]+$",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1ExchangeAppAttestAssertionRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "id": "firebaseappcheck.projects.apps.exchangeAppAttestAssertion",
              "path": "v1/{+app}:exchangeAppAttestAssertion",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1AppCheckToken"
              },
              "description": "Accepts an App Attest assertion and an artifact previously obtained from ExchangeAppAttestAttestation and verifies those with Apple. If valid, returns an AppCheckToken."
            },
            "generateAppAttestChallenge": {
              "path": "v1/{+app}:generateAppAttestChallenge",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1GenerateAppAttestChallengeResponse"
              },
              "description": "Generates a challenge that protects the integrity of an immediately following call to ExchangeAppAttestAttestation or ExchangeAppAttestAssertion. A challenge should not be reused for multiple calls.",
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1GenerateAppAttestChallengeRequest"
              },
              "parameters": {
                "app": {
                  "pattern": "^projects/[^/]+/apps/[^/]+$",
                  "type": "string",
                  "description": "Required. The relative resource name of the iOS app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
                  "location": "path",
                  "required": true
                }
              },
              "id": "firebaseappcheck.projects.apps.generateAppAttestChallenge",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "flatPath": "v1/projects/{projectsId}/apps/{appsId}:generateAppAttestChallenge",
              "parameterOrder": [
                "app"
              ]
            },
            "exchangePlayIntegrityToken": {
              "flatPath": "v1/projects/{projectsId}/apps/{appsId}:exchangePlayIntegrityToken",
              "parameterOrder": [
                "app"
              ],
              "path": "v1/{+app}:exchangePlayIntegrityToken",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1AppCheckToken"
              },
              "description": "Validates an [integrity verdict response token from Play Integrity](https://developer.android.com/google/play/integrity/verdict#decrypt-verify). If valid, returns an AppCheckToken.",
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1ExchangePlayIntegrityTokenRequest"
              },
              "parameters": {
                "app": {
                  "pattern": "^projects/[^/]+/apps/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The relative resource name of the Android app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
                  "location": "path"
                }
              },
              "id": "firebaseappcheck.projects.apps.exchangePlayIntegrityToken",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ]
            },
            "exchangeRecaptchaEnterpriseToken": {
              "flatPath": "v1/projects/{projectsId}/apps/{appsId}:exchangeRecaptchaEnterpriseToken",
              "parameterOrder": [
                "app"
              ],
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1ExchangeRecaptchaEnterpriseTokenRequest"
              },
              "parameters": {
                "app": {
                  "location": "path",
                  "description": "Required. The relative resource name of the web app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/apps/[^/]+$"
                }
              },
              "id": "firebaseappcheck.projects.apps.exchangeRecaptchaEnterpriseToken",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "path": "v1/{+app}:exchangeRecaptchaEnterpriseToken",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1AppCheckToken"
              },
              "description": "Validates a [reCAPTCHA Enterprise response token](https://cloud.google.com/recaptcha-enterprise/docs/create-assessment#retrieve_token). If valid, returns an AppCheckToken."
            },
            "exchangeAppAttestAttestation": {
              "flatPath": "v1/projects/{projectsId}/apps/{appsId}:exchangeAppAttestAttestation",
              "parameterOrder": [
                "app"
              ],
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1ExchangeAppAttestAttestationRequest"
              },
              "parameters": {
                "app": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/apps/[^/]+$",
                  "location": "path",
                  "description": "Required. The relative resource name of the iOS app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
                  "required": true
                }
              },
              "id": "firebaseappcheck.projects.apps.exchangeAppAttestAttestation",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "path": "v1/{+app}:exchangeAppAttestAttestation",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1ExchangeAppAttestAttestationResponse"
              },
              "description": "Accepts an App Attest CBOR attestation and verifies it with Apple using your preconfigured team and bundle IDs. If valid, returns an attestation artifact that can later be exchanged for an AppCheckToken using ExchangeAppAttestAssertion. For convenience and performance, this method's response object will also contain an AppCheckToken (if the verification is successful)."
            },
            "exchangeDeviceCheckToken": {
              "path": "v1/{+app}:exchangeDeviceCheckToken",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1AppCheckToken"
              },
              "description": "Accepts a [`device_token`](https://developer.apple.com/documentation/devicecheck/dcdevice) issued by DeviceCheck, and attempts to validate it with Apple. If valid, returns an AppCheckToken.",
              "parameters": {
                "app": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The relative resource name of the iOS app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/apps/[^/]+$"
                }
              },
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1ExchangeDeviceCheckTokenRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "id": "firebaseappcheck.projects.apps.exchangeDeviceCheckToken",
              "flatPath": "v1/projects/{projectsId}/apps/{appsId}:exchangeDeviceCheckToken",
              "parameterOrder": [
                "app"
              ]
            },
            "exchangeRecaptchaV3Token": {
              "parameterOrder": [
                "app"
              ],
              "flatPath": "v1/projects/{projectsId}/apps/{appsId}:exchangeRecaptchaV3Token",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "id": "firebaseappcheck.projects.apps.exchangeRecaptchaV3Token",
              "parameters": {
                "app": {
                  "pattern": "^projects/[^/]+/apps/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The relative resource name of the web app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1ExchangeRecaptchaV3TokenRequest"
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1AppCheckToken"
              },
              "description": "Validates a [reCAPTCHA v3 response token](https://developers.google.com/recaptcha/docs/v3). If valid, returns an AppCheckToken.",
              "path": "v1/{+app}:exchangeRecaptchaV3Token"
            },
            "generatePlayIntegrityChallenge": {
              "parameterOrder": [
                "app"
              ],
              "flatPath": "v1/projects/{projectsId}/apps/{appsId}:generatePlayIntegrityChallenge",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1GeneratePlayIntegrityChallengeResponse"
              },
              "description": "Generates a challenge that protects the integrity of an immediately following integrity verdict request to the Play Integrity API. The next call to ExchangePlayIntegrityToken using the resulting integrity token will verify the presence and validity of the challenge. A challenge should not be reused for multiple calls.",
              "path": "v1/{+app}:generatePlayIntegrityChallenge",
              "id": "firebaseappcheck.projects.apps.generatePlayIntegrityChallenge",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1GeneratePlayIntegrityChallengeRequest"
              },
              "parameters": {
                "app": {
                  "description": "Required. The relative resource name of the app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/apps/[^/]+$",
                  "type": "string"
                }
              }
            },
            "exchangeDebugToken": {
              "flatPath": "v1/projects/{projectsId}/apps/{appsId}:exchangeDebugToken",
              "parameterOrder": [
                "app"
              ],
              "parameters": {
                "app": {
                  "location": "path",
                  "description": "Required. The relative resource name of the app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/apps/[^/]+$"
                }
              },
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1ExchangeDebugTokenRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "id": "firebaseappcheck.projects.apps.exchangeDebugToken",
              "path": "v1/{+app}:exchangeDebugToken",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1AppCheckToken"
              },
              "description": "Validates a debug token secret that you have previously created using CreateDebugToken. If valid, returns an AppCheckToken. Note that a restrictive quota is enforced on this method to prevent accidental exposure of the app to abuse."
            }
          },
          "resources": {
            "recaptchaV3Config": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebaseappcheck.projects.apps.recaptchaV3Config.get",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The relative resource name of the RecaptchaV3Config, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaV3Config ```",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+/recaptchaV3Config$"
                    }
                  },
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1RecaptchaV3Config"
                  },
                  "description": "Gets the RecaptchaV3Config for the specified app. For security reasons, the `site_secret` field is never populated in the response.",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/recaptchaV3Config"
                },
                "batchGet": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1BatchGetRecaptchaV3ConfigsResponse"
                  },
                  "description": "Atomically gets the RecaptchaV3Configs for the specified list of apps. For security reasons, the `site_secret` field is never populated in the response.",
                  "path": "v1/{+parent}/apps/-/recaptchaV3Config:batchGet",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebaseappcheck.projects.apps.recaptchaV3Config.batchGet",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent project name shared by all RecaptchaV3Configs being retrieved, in the format ``` projects/{project_number} ``` The parent collection in the `name` field of any resource being retrieved must match this field, or the entire batch fails.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+$",
                      "type": "string"
                    },
                    "names": {
                      "repeated": true,
                      "type": "string",
                      "description": "Required. The relative resource names of the RecaptchaV3Configs to retrieve, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaV3Config ``` A maximum of 100 objects can be retrieved in a batch.",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/apps/-/recaptchaV3Config:batchGet"
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebaseappcheck.projects.apps.recaptchaV3Config.patch",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The relative resource name of the reCAPTCHA v3 configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaV3Config ```",
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+/recaptchaV3Config$"
                    },
                    "updateMask": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. A comma-separated list of names of fields in the RecaptchaV3Config to update. Example: `site_secret`.",
                      "format": "google-fieldmask"
                    }
                  },
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1RecaptchaV3Config"
                  },
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1RecaptchaV3Config"
                  },
                  "description": "Updates the RecaptchaV3Config for the specified app. While this configuration is incomplete or invalid, the app will be unable to exchange reCAPTCHA v3 tokens for App Check tokens. For security reasons, the `site_secret` field is never populated in the response.",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/recaptchaV3Config"
                }
              }
            },
            "playIntegrityConfig": {
              "methods": {
                "get": {
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/playIntegrityConfig",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1PlayIntegrityConfig"
                  },
                  "description": "Gets the PlayIntegrityConfig for the specified app.",
                  "parameters": {
                    "name": {
                      "description": "Required. The relative resource name of the PlayIntegrityConfig, in the format: ``` projects/{project_number}/apps/{app_id}/playIntegrityConfig ```",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/apps/[^/]+/playIntegrityConfig$",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebaseappcheck.projects.apps.playIntegrityConfig.get"
                },
                "batchGet": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebaseappcheck.projects.apps.playIntegrityConfig.batchGet",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The parent project name shared by all PlayIntegrityConfigs being retrieved, in the format ``` projects/{project_number} ``` The parent collection in the `name` field of any resource being retrieved must match this field, or the entire batch fails.",
                      "type": "string",
                      "pattern": "^projects/[^/]+$"
                    },
                    "names": {
                      "repeated": true,
                      "type": "string",
                      "description": "Required. The relative resource names of the PlayIntegrityConfigs to retrieve, in the format ``` projects/{project_number}/apps/{app_id}/playIntegrityConfig ``` A maximum of 100 objects can be retrieved in a batch.",
                      "location": "query"
                    }
                  },
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1BatchGetPlayIntegrityConfigsResponse"
                  },
                  "description": "Atomically gets the PlayIntegrityConfigs for the specified list of apps.",
                  "path": "v1/{+parent}/apps/-/playIntegrityConfig:batchGet",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/apps/-/playIntegrityConfig:batchGet"
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/playIntegrityConfig",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebaseappcheck.projects.apps.playIntegrityConfig.patch",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+/playIntegrityConfig$",
                      "location": "path",
                      "description": "Required. The relative resource name of the Play Integrity configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/playIntegrityConfig ```",
                      "required": true
                    },
                    "updateMask": {
                      "location": "query",
                      "description": "Required. A comma-separated list of names of fields in the PlayIntegrityConfig to update. Example: `token_ttl`.",
                      "format": "google-fieldmask",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1PlayIntegrityConfig"
                  },
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1PlayIntegrityConfig"
                  },
                  "description": "Updates the PlayIntegrityConfig for the specified app. While this configuration is incomplete or invalid, the app will be unable to exchange Play Integrity tokens for App Check tokens.",
                  "path": "v1/{+name}"
                }
              }
            },
            "recaptchaEnterpriseConfig": {
              "methods": {
                "get": {
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/recaptchaEnterpriseConfig",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The relative resource name of the RecaptchaEnterpriseConfig, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaEnterpriseConfig ```",
                      "location": "path",
                      "pattern": "^projects/[^/]+/apps/[^/]+/recaptchaEnterpriseConfig$",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebaseappcheck.projects.apps.recaptchaEnterpriseConfig.get",
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1RecaptchaEnterpriseConfig"
                  },
                  "description": "Gets the RecaptchaEnterpriseConfig for the specified app."
                },
                "batchGet": {
                  "flatPath": "v1/projects/{projectsId}/apps/-/recaptchaEnterpriseConfig:batchGet",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The parent project name shared by all RecaptchaEnterpriseConfigs being retrieved, in the format ``` projects/{project_number} ``` The parent collection in the `name` field of any resource being retrieved must match this field, or the entire batch fails.",
                      "location": "path",
                      "pattern": "^projects/[^/]+$",
                      "type": "string"
                    },
                    "names": {
                      "repeated": true,
                      "type": "string",
                      "description": "Required. The relative resource names of the RecaptchaEnterpriseConfigs to retrieve, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaEnterpriseConfig ``` A maximum of 100 objects can be retrieved in a batch.",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebaseappcheck.projects.apps.recaptchaEnterpriseConfig.batchGet",
                  "path": "v1/{+parent}/apps/-/recaptchaEnterpriseConfig:batchGet",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1BatchGetRecaptchaEnterpriseConfigsResponse"
                  },
                  "description": "Atomically gets the RecaptchaEnterpriseConfigs for the specified list of apps."
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1RecaptchaEnterpriseConfig"
                  },
                  "description": "Updates the RecaptchaEnterpriseConfig for the specified app. While this configuration is incomplete or invalid, the app will be unable to exchange reCAPTCHA Enterprise tokens for App Check tokens.",
                  "path": "v1/{+name}",
                  "id": "firebaseappcheck.projects.apps.recaptchaEnterpriseConfig.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1RecaptchaEnterpriseConfig"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The relative resource name of the reCAPTCHA Enterprise configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaEnterpriseConfig ```",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+/recaptchaEnterpriseConfig$"
                    },
                    "updateMask": {
                      "description": "Required. A comma-separated list of names of fields in the RecaptchaEnterpriseConfig to update. Example: `site_key`.",
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/recaptchaEnterpriseConfig"
                }
              }
            },
            "debugTokens": {
              "methods": {
                "list": {
                  "path": "v1/{+parent}/debugTokens",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1ListDebugTokensResponse"
                  },
                  "description": "Lists all DebugTokens for the specified app. For security reasons, the `token` field is never populated in the response.",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "Token returned from a previous call to ListDebugTokens indicating where in the set of DebugTokens to resume listing. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to ListDebugTokens must match the call that provided the page token; if they do not match, the result is undefined.",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. The relative resource name of the parent app for which to list each associated DebugToken, in the format: ``` projects/{project_number}/apps/{app_id} ```",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+$"
                    },
                    "pageSize": {
                      "description": "The maximum number of DebugTokens to return in the response. Note that an app can have at most 20 debug tokens. The server may return fewer than this at its own discretion. If no value is specified (or too large a value is specified), the server will impose its own limit.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebaseappcheck.projects.apps.debugTokens.list",
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/debugTokens",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/debugTokens",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1DebugToken"
                  },
                  "description": "Creates a new DebugToken for the specified app. For security reasons, after the creation operation completes, the `token` field cannot be updated or retrieved, but you can revoke the debug token using DeleteDebugToken. Each app can have a maximum of 20 debug tokens.",
                  "path": "v1/{+parent}/debugTokens",
                  "id": "firebaseappcheck.projects.apps.debugTokens.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1DebugToken"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The relative resource name of the parent app in which the specified DebugToken will be created, in the format: ``` projects/{project_number}/apps/{app_id} ```",
                      "location": "path"
                    }
                  }
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/debugTokens/{debugTokensId}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1DebugToken"
                  },
                  "description": "Gets the specified DebugToken. For security reasons, the `token` field is never populated in the response.",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebaseappcheck.projects.apps.debugTokens.get",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The relative resource name of the debug token, in the format: ``` projects/{project_number}/apps/{app_id}/debugTokens/{debug_token_id} ```",
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+/debugTokens/[^/]+$"
                    }
                  }
                },
                "patch": {
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1DebugToken"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/apps/[^/]+/debugTokens/[^/]+$",
                      "type": "string",
                      "description": "Required. The relative resource name of the debug token, in the format: ``` projects/{project_number}/apps/{app_id}/debugTokens/{debug_token_id} ```",
                      "location": "path",
                      "required": true
                    },
                    "updateMask": {
                      "description": "Required. A comma-separated list of names of fields in the DebugToken to update. Example: `display_name`.",
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "id": "firebaseappcheck.projects.apps.debugTokens.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1DebugToken"
                  },
                  "description": "Updates the specified DebugToken. For security reasons, the `token` field cannot be updated, nor will it be populated in the response, but you can revoke the debug token using DeleteDebugToken.",
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/debugTokens/{debugTokensId}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/debugTokens/{debugTokensId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "description": "Deletes the specified DebugToken. A deleted debug token cannot be used to exchange for an App Check token. Use this method when you suspect the secret `token` has been compromised or when you no longer need the debug token.",
                  "parameters": {
                    "etag": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. The checksum to be validated against the current DebugToken, to ensure the client has an up-to-date value before proceeding. This checksum is computed by the server based on the values of fields in the DebugToken object, and can be obtained from the DebugToken object received from the last CreateDebugToken, GetDebugToken, ListDebugTokens, or UpdateDebugToken call. This etag is strongly validated as defined by RFC 7232."
                    },
                    "name": {
                      "description": "Required. The relative resource name of the DebugToken to delete, in the format: ``` projects/{project_number}/apps/{app_id}/debugTokens/{debug_token_id} ```",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/apps/[^/]+/debugTokens/[^/]+$",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebaseappcheck.projects.apps.debugTokens.delete"
                }
              }
            },
            "appAttestConfig": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/appAttestConfig",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1AppAttestConfig"
                  },
                  "description": "Gets the AppAttestConfig for the specified app.",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebaseappcheck.projects.apps.appAttestConfig.get",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The relative resource name of the AppAttestConfig, in the format: ``` projects/{project_number}/apps/{app_id}/appAttestConfig ```",
                      "location": "path",
                      "pattern": "^projects/[^/]+/apps/[^/]+/appAttestConfig$",
                      "type": "string"
                    }
                  }
                },
                "batchGet": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebaseappcheck.projects.apps.appAttestConfig.batchGet",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. The parent project name shared by all AppAttestConfigs being retrieved, in the format ``` projects/{project_number} ``` The parent collection in the `name` field of any resource being retrieved must match this field, or the entire batch fails."
                    },
                    "names": {
                      "description": "Required. The relative resource names of the AppAttestConfigs to retrieve, in the format ``` projects/{project_number}/apps/{app_id}/appAttestConfig ``` A maximum of 100 objects can be retrieved in a batch.",
                      "location": "query",
                      "repeated": true,
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1BatchGetAppAttestConfigsResponse"
                  },
                  "description": "Atomically gets the AppAttestConfigs for the specified list of apps.",
                  "path": "v1/{+parent}/apps/-/appAttestConfig:batchGet",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/apps/-/appAttestConfig:batchGet"
                },
                "patch": {
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1AppAttestConfig"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/apps/[^/]+/appAttestConfig$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The relative resource name of the App Attest configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/appAttestConfig ```",
                      "location": "path"
                    },
                    "updateMask": {
                      "description": "Required. A comma-separated list of names of fields in the AppAttestConfig to update. Example: `token_ttl`.",
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "id": "firebaseappcheck.projects.apps.appAttestConfig.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1AppAttestConfig"
                  },
                  "description": "Updates the AppAttestConfig for the specified app. While this configuration is incomplete or invalid, the app will be unable to exchange AppAttest tokens for App Check tokens.",
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/appAttestConfig",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "deviceCheckConfig": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1DeviceCheckConfig"
                  },
                  "description": "Gets the DeviceCheckConfig for the specified app. For security reasons, the `private_key` field is never populated in the response.",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebaseappcheck.projects.apps.deviceCheckConfig.get",
                  "parameters": {
                    "name": {
                      "description": "Required. The relative resource name of the DeviceCheckConfig, in the format: ``` projects/{project_number}/apps/{app_id}/deviceCheckConfig ```",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/apps/[^/]+/deviceCheckConfig$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/deviceCheckConfig"
                },
                "batchGet": {
                  "flatPath": "v1/projects/{projectsId}/apps/-/deviceCheckConfig:batchGet",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/apps/-/deviceCheckConfig:batchGet",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1BatchGetDeviceCheckConfigsResponse"
                  },
                  "description": "Atomically gets the DeviceCheckConfigs for the specified list of apps. For security reasons, the `private_key` field is never populated in the response.",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The parent project name shared by all DeviceCheckConfigs being retrieved, in the format ``` projects/{project_number} ``` The parent collection in the `name` field of any resource being retrieved must match this field, or the entire batch fails.",
                      "location": "path",
                      "pattern": "^projects/[^/]+$",
                      "type": "string"
                    },
                    "names": {
                      "repeated": true,
                      "type": "string",
                      "description": "Required. The relative resource names of the DeviceCheckConfigs to retrieve, in the format ``` projects/{project_number}/apps/{app_id}/deviceCheckConfig ``` A maximum of 100 objects can be retrieved in a batch.",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebaseappcheck.projects.apps.deviceCheckConfig.batchGet"
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1DeviceCheckConfig"
                  },
                  "description": "Updates the DeviceCheckConfig for the specified app. While this configuration is incomplete or invalid, the app will be unable to exchange DeviceCheck tokens for App Check tokens. For security reasons, the `private_key` field is never populated in the response.",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebaseappcheck.projects.apps.deviceCheckConfig.patch",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/apps/[^/]+/deviceCheckConfig$",
                      "type": "string",
                      "description": "Required. The relative resource name of the DeviceCheck configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/deviceCheckConfig ```",
                      "location": "path",
                      "required": true
                    },
                    "updateMask": {
                      "type": "string",
                      "description": "Required. A comma-separated list of names of fields in the DeviceCheckConfig to update. Example: `key_id,private_key`.",
                      "format": "google-fieldmask",
                      "location": "query"
                    }
                  },
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1DeviceCheckConfig"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/deviceCheckConfig"
                }
              }
            }
          }
        }
      }
    },
    "oauthClients": {
      "methods": {
        "exchangeDebugToken": {
          "parameterOrder": [
            "app"
          ],
          "flatPath": "v1/oauthClients/{oauthClientsId}:exchangeDebugToken",
          "id": "firebaseappcheck.oauthClients.exchangeDebugToken",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "request": {
            "$ref": "GoogleFirebaseAppcheckV1ExchangeDebugTokenRequest"
          },
          "parameters": {
            "app": {
              "location": "path",
              "description": "Required. The relative resource name of the app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
              "required": true,
              "type": "string",
              "pattern": "^oauthClients/[^/]+$"
            }
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleFirebaseAppcheckV1AppCheckToken"
          },
          "description": "Validates a debug token secret that you have previously created using CreateDebugToken. If valid, returns an AppCheckToken. Note that a restrictive quota is enforced on this method to prevent accidental exposure of the app to abuse.",
          "path": "v1/{+app}:exchangeDebugToken"
        },
        "exchangeAppAttestAssertion": {
          "parameterOrder": [
            "app"
          ],
          "flatPath": "v1/oauthClients/{oauthClientsId}:exchangeAppAttestAssertion",
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleFirebaseAppcheckV1AppCheckToken"
          },
          "description": "Accepts an App Attest assertion and an artifact previously obtained from ExchangeAppAttestAttestation and verifies those with Apple. If valid, returns an AppCheckToken.",
          "path": "v1/{+app}:exchangeAppAttestAssertion",
          "id": "firebaseappcheck.oauthClients.exchangeAppAttestAssertion",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "request": {
            "$ref": "GoogleFirebaseAppcheckV1ExchangeAppAttestAssertionRequest"
          },
          "parameters": {
            "app": {
              "location": "path",
              "description": "Required. The relative resource name of the iOS app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
              "required": true,
              "type": "string",
              "pattern": "^oauthClients/[^/]+$"
            }
          }
        },
        "generateAppAttestChallenge": {
          "parameterOrder": [
            "app"
          ],
          "flatPath": "v1/oauthClients/{oauthClientsId}:generateAppAttestChallenge",
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleFirebaseAppcheckV1GenerateAppAttestChallengeResponse"
          },
          "description": "Generates a challenge that protects the integrity of an immediately following call to ExchangeAppAttestAttestation or ExchangeAppAttestAssertion. A challenge should not be reused for multiple calls.",
          "path": "v1/{+app}:generateAppAttestChallenge",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "id": "firebaseappcheck.oauthClients.generateAppAttestChallenge",
          "parameters": {
            "app": {
              "description": "Required. The relative resource name of the iOS app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
              "location": "path",
              "required": true,
              "pattern": "^oauthClients/[^/]+$",
              "type": "string"
            }
          },
          "request": {
            "$ref": "GoogleFirebaseAppcheckV1GenerateAppAttestChallengeRequest"
          }
        },
        "exchangeAppAttestAttestation": {
          "parameterOrder": [
            "app"
          ],
          "flatPath": "v1/oauthClients/{oauthClientsId}:exchangeAppAttestAttestation",
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleFirebaseAppcheckV1ExchangeAppAttestAttestationResponse"
          },
          "description": "Accepts an App Attest CBOR attestation and verifies it with Apple using your preconfigured team and bundle IDs. If valid, returns an attestation artifact that can later be exchanged for an AppCheckToken using ExchangeAppAttestAssertion. For convenience and performance, this method's response object will also contain an AppCheckToken (if the verification is successful).",
          "path": "v1/{+app}:exchangeAppAttestAttestation",
          "id": "firebaseappcheck.oauthClients.exchangeAppAttestAttestation",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "request": {
            "$ref": "GoogleFirebaseAppcheckV1ExchangeAppAttestAttestationRequest"
          },
          "parameters": {
            "app": {
              "type": "string",
              "pattern": "^oauthClients/[^/]+$",
              "location": "path",
              "description": "Required. The relative resource name of the iOS app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
              "required": true
            }
          }
        }
      }
    }
  },
  "rootUrl": "https://firebaseappcheck.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "GoogleFirebaseAppcheckV1DeviceCheckConfig": {
      "type": "object",
      "properties": {
        "privateKeySet": {
          "type": "boolean",
          "description": "Output only. Whether the `private_key` field was previously set. Since we will never return the `private_key` field, this field is the only way to find out whether it was previously set.",
          "readOnly": true
        },
        "privateKey": {
          "description": "Required. Input only. The contents of the private key (`.p8`) file associated with the key specified by `key_id`. For security reasons, this field will never be populated in any response.",
          "type": "string"
        },
        "tokenTtl": {
          "type": "string",
          "description": "Specifies the duration for which App Check tokens exchanged from DeviceCheck tokens will be valid. If unset, a default value of 1 hour is assumed. Must be between 30 minutes and 7 days, inclusive.",
          "format": "google-duration"
        },
        "name": {
          "description": "Required. The relative resource name of the DeviceCheck configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/deviceCheckConfig ```",
          "type": "string"
        },
        "keyId": {
          "type": "string",
          "description": "Required. The key identifier of a private key enabled with DeviceCheck, created in your Apple Developer account."
        }
      },
      "id": "GoogleFirebaseAppcheckV1DeviceCheckConfig",
      "description": "An app's DeviceCheck configuration object. This configuration is used by ExchangeDeviceCheckToken to validate device tokens issued to apps by DeviceCheck. It also controls certain properties of the returned `AppCheckToken`, such as its ttl. Note that the Team ID registered with your app is used as part of the validation process. Please register it via the Firebase Console or programmatically via the [Firebase Management Service](https://firebase.google.com/docs/projects/api/reference/rest/v11/projects.iosApps/patch)."
    },
    "GoogleFirebaseAppcheckV1ResourcePolicy": {
      "id": "GoogleFirebaseAppcheckV1ResourcePolicy",
      "description": "App Check enforcement policy for a specific resource of a Google service supported by App Check. Note that this policy will override the service-level configuration.",
      "type": "object",
      "properties": {
        "targetResource": {
          "type": "string",
          "description": "Required. Service specific name of the resource object to which this policy applies, in the format: * **iOS OAuth clients** (Google Identity for iOS): `//oauth2.googleapis.com/projects/{project_number}/oauthClients/{oauth_client_id}` Note that the resource must belong to the service specified in the `name` and be from the same project as this policy, but the resource is allowed to be missing at the time of creation of this policy; in that case, we make a best-effort attempt at respecting this policy, but it may not have any effect until the resource is fully created."
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Timestamp when this resource policy configuration object was most recently updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "enforcementMode": {
          "type": "string",
          "enum": [
            "OFF",
            "UNENFORCED",
            "ENFORCED"
          ],
          "description": "Required. The baseline protection EnforcementMode for this resource. This will override the service-level baseline protection EnforcementMode.",
          "enumDescriptions": [
            "When a particular protection is set to this mode, that protection is not applied for the service or resource, nor are metrics related to that protection collected. Though the relevant App Check protection is not applied, other applicable protections outside of App Check, such as user authorization, are still applied. An unconfigured EnforcementMode is in this mode by default.",
            "When a particular protection is set to this mode, that protection is not enforced for the service or resource. Metrics related to that protection are collected to help you decide when to turn on enforcement. These metrics will show the portion of traffic that is deemed invalid by that protection, but that traffic will not be rejected until you turn on enforcement. This `UNENFORCED` mode is also known as monitoring-only mode. Though the relevant App Check protection is not enforced, other applicable protections outside of App Check, such as user authorization, are still applied. Some services require certain conditions to be met before they will work with App Check, such as requiring you to upgrade to a specific service tier. Until those requirements are met for a service, this `UNENFORCED` setting will have no effect and App Check will not work with that service.",
            "When a particular protection is set to this mode, that protection is enforced for the service or resource. It will reject any traffic not accompanied by an App Check token that it deems valid. There are some exceptions depending on the service; for example, some services will still allow requests bearing the developer's privileged service account credentials without an App Check token. App Check metrics continue to be collected to help you detect issues with your App Check integration and monitor the composition of your callers. While the service is protected by App Check, other applicable protections outside of App Check, such as user authorization, continue to be applied at the same time. Use caution when choosing to enforce App Check protections. If your users have not updated to a version of your app that meets the requirements of the relevant App Check protection, their app may stop working. App Check metrics can help you decide when to enforce that protection on your services and resources. If you have not yet published your app, you should enable enforcement as soon as you verify that your App Check implementation is correct, since there are no outdated clients in use. Some services require certain conditions to be met before they will work with App Check, such as requiring you to upgrade to a specific service tier. Until those requirements are met for a service, this `ENFORCED` setting will have no effect and App Check will not work with that service."
          ]
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. This etag is strongly validated as defined by RFC 7232.",
          "type": "string"
        },
        "name": {
          "description": "Required. Identifier. The relative name of the resource policy object, in the format: ``` projects/{project_number}/services/{service_id}/resourcePolicies/{resource_policy_id} ``` Note that the `service_id` element must be a supported service ID. Currently, the following service IDs are supported: * `oauth2.googleapis.com` (Google Identity for iOS) `resource_policy_id` is a system-generated UID.",
          "type": "string"
        }
      }
    },
    "GoogleFirebaseAppcheckV1RecaptchaEnterpriseConfig": {
      "id": "GoogleFirebaseAppcheckV1RecaptchaEnterpriseConfig",
      "description": "An app's reCAPTCHA Enterprise configuration object. This configuration is used by ExchangeRecaptchaEnterpriseToken to validate reCAPTCHA tokens issued to apps by reCAPTCHA Enterprise. It also controls certain properties of the returned `AppCheckToken`, such as its ttl.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The relative resource name of the reCAPTCHA Enterprise configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaEnterpriseConfig ```"
        },
        "siteKey": {
          "description": "The score-based site key [created in reCAPTCHA Enterprise](https://cloud.google.com/recaptcha-enterprise/docs/create-key#creating_a_site_key) used to [invoke reCAPTCHA and generate the reCAPTCHA tokens](https://cloud.google.com/recaptcha-enterprise/docs/instrument-web-pages) for your application. Important: This is *not* the `site_secret` (as it is in reCAPTCHA v3), but rather your score-based reCAPTCHA Enterprise site key.",
          "type": "string"
        },
        "tokenTtl": {
          "type": "string",
          "description": "Specifies the duration for which App Check tokens exchanged from reCAPTCHA Enterprise tokens will be valid. If unset, a default value of 1 hour is assumed. Must be between 30 minutes and 7 days, inclusive.",
          "format": "google-duration"
        },
        "riskAnalysis": {
          "description": "Specifies risk tolerance and requirements for your application. These settings correspond to requirements on the [**`riskAnalysis`**](https://cloud.google.com/recaptcha/docs/interpret-assessment-website#interpret_assessment) tuple in the assessment obtained from reCAPTCHA Enterprise. The default values for these settings work for most apps, and are recommended.",
          "$ref": "GoogleFirebaseAppcheckV1RecaptchaEnterpriseConfigRiskAnalysis"
        }
      }
    },
    "GoogleFirebaseAppcheckV1BatchGetDeviceCheckConfigsResponse": {
      "type": "object",
      "properties": {
        "configs": {
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1DeviceCheckConfig"
          },
          "type": "array",
          "description": "DeviceCheckConfigs retrieved."
        }
      },
      "id": "GoogleFirebaseAppcheckV1BatchGetDeviceCheckConfigsResponse",
      "description": "Response message for the BatchGetDeviceCheckConfigs method."
    },
    "GoogleFirebaseAppcheckV1UpdateResourcePolicyRequest": {
      "type": "object",
      "properties": {
        "resourcePolicy": {
          "description": "Required. The ResourcePolicy to update. The ResourcePolicy's `name` field is used to identify the ResourcePolicy to be updated, in the format: ``` projects/{project_number}/services/{service_id}/resourcePolicies/{resource_policy_id} ``` Note that the `service_id` element must be a supported service ID. Consult the ResourcePolicy.name field for a list of supported service IDs.",
          "$ref": "GoogleFirebaseAppcheckV1ResourcePolicy"
        },
        "updateMask": {
          "description": "Required. A comma-separated list of names of fields in the ResourcePolicy to update. Example: `enforcement_mode`.",
          "format": "google-fieldmask",
          "type": "string"
        }
      },
      "id": "GoogleFirebaseAppcheckV1UpdateResourcePolicyRequest",
      "description": "Request message for the UpdateResourcePolicy method as well as an individual update message for the BatchUpdateResourcePolicies method."
    },
    "GoogleFirebaseAppcheckV1ExchangeRecaptchaV3TokenRequest": {
      "properties": {
        "recaptchaV3Token": {
          "description": "Required. The reCAPTCHA token as returned by the [reCAPTCHA v3 JavaScript API](https://developers.google.com/recaptcha/docs/v3).",
          "type": "string"
        },
        "limitedUse": {
          "description": "Specifies whether this attestation is for use in a *limited use* (`true`) or *session based* (`false`) context. To enable this attestation to be used with the *replay protection* feature, set this to `true`. The default value is `false`.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Request message for the ExchangeRecaptchaV3Token method.",
      "id": "GoogleFirebaseAppcheckV1ExchangeRecaptchaV3TokenRequest"
    },
    "GoogleFirebaseAppcheckV1PlayIntegrityConfigAppIntegrity": {
      "id": "GoogleFirebaseAppcheckV1PlayIntegrityConfigAppIntegrity",
      "description": "A settings object specifying application integrity requirements for Android devices running your app. These settings correspond to requirements on the [**application integrity** field](https://developer.android.com/google/play/integrity/verdicts#application-integrity-field) obtained from the Play Integrity API. See the [default responses table](https://developer.android.com/google/play/integrity/setup#default) for a quick summary. The default values for these settings work for most apps, and are recommended.",
      "type": "object",
      "properties": {
        "allowUnrecognizedVersion": {
          "description": "Specifies whether your running app is allowed to have the `UNRECOGNIZED_VERSION` [app recognition verdict](https://developer.android.com/google/play/integrity/verdicts#application-integrity-field). Note that the app recognition verdict `PLAY_RECOGNIZED` is a strong, comprehensive integrity signal that takes into account various other signals, including conditional and optional device integrity responses that you have opted into. If your app is published off-Play, this field should be set to `true` to allow instances of your app installed from off-Play sources to function. If set to `false`, only `PLAY_RECOGNIZED` verdicts are allowed, and both `UNRECOGNIZED_VERSION` and `UNEVALUATED` will be rejected. If set to `true`, any app recognition verdict is allowed. The default value is `false`.",
          "type": "boolean"
        }
      }
    },
    "GoogleFirebaseAppcheckV1AppCheckToken": {
      "type": "object",
      "properties": {
        "token": {
          "description": "The App Check token. App Check tokens are signed [JWTs](https://tools.ietf.org/html/rfc7519) containing claims that identify the attested app and GCP project. This token is used to access Google services protected by App Check. These tokens can also be [verified by your own custom backends](https://firebase.google.com/docs/app-check/custom-resource-backend) using the Firebase Admin SDK or third-party libraries.",
          "type": "string"
        },
        "ttl": {
          "type": "string",
          "description": "The duration from the time this token is minted until its expiration. This field is intended to ease client-side token management, since the client may have clock skew, but is still able to accurately measure a duration.",
          "format": "google-duration"
        }
      },
      "id": "GoogleFirebaseAppcheckV1AppCheckToken",
      "description": "Encapsulates an *App Check token*, which are used to access backend services protected by App Check."
    },
    "GoogleFirebaseAppcheckV1PublicJwk": {
      "properties": {
        "kty": {
          "type": "string",
          "description": "See [section 4.1 of RFC 7517](https://tools.ietf.org/html/rfc7517#section-4.1)."
        },
        "alg": {
          "description": "See [section 4.4 of RFC 7517](https://tools.ietf.org/html/rfc7517#section-4.4).",
          "type": "string"
        },
        "n": {
          "type": "string",
          "description": "See [section 6.3.1.1 of RFC 7518](https://tools.ietf.org/html/rfc7518#section-6.3.1.1)."
        },
        "kid": {
          "type": "string",
          "description": "See [section 4.5 of RFC 7517](https://tools.ietf.org/html/rfc7517#section-4.5)."
        },
        "e": {
          "description": "See [section 6.3.1.2 of RFC 7518](https://tools.ietf.org/html/rfc7518#section-6.3.1.2).",
          "type": "string"
        },
        "use": {
          "description": "See [section 4.2 of RFC 7517](https://tools.ietf.org/html/rfc7517#section-4.2).",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A JWK as specified by [section 4 of RFC 7517](https://tools.ietf.org/html/rfc7517#section-4) and [section 6.3.1 of RFC 7518](https://tools.ietf.org/html/rfc7518#section-6.3.1).",
      "id": "GoogleFirebaseAppcheckV1PublicJwk"
    },
    "GoogleFirebaseAppcheckV1PlayIntegrityConfigDeviceIntegrity": {
      "id": "GoogleFirebaseAppcheckV1PlayIntegrityConfigDeviceIntegrity",
      "description": "A settings object specifying device integrity requirements for Android devices running your app. These settings correspond to requirements on the [**device integrity** field](https://developer.android.com/google/play/integrity/verdicts#device-integrity-field) obtained from the Play Integrity API. See the [default responses table](https://developer.android.com/google/play/integrity/setup#default) for a quick summary. Warning: There are also [conditional](https://developer.android.com/google/play/integrity/setup#conditional) as well as [optional](https://developer.android.com/google/play/integrity/setup#optional_device_information) responses that you can receive, but requires additional explicit opt-in from you. The App Check API is **not** responsible for any such opt-ins. The default values for these settings work for most apps, and are recommended.",
      "type": "object",
[...]
