{
  "rootUrl": "https://firebaseml.googleapis.com/",
  "kind": "discovery#restDescription",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "publishers": {
              "resources": {
                "models": {
                  "methods": {
                    "generateContent": {
                      "description": "Generate content with multimodal inputs.",
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/publishers/{publishersId}/models/{modelsId}:generateContent",
                      "parameters": {
                        "model": {
                          "description": "Required. The fully qualified name of the publisher model or tuned model endpoint to use. Publisher model format: `projects/{project}/locations/{location}/publishers/*/models/*` Tuned model endpoint format: `projects/{project}/locations/{location}/endpoints/{endpoint}`",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/publishers/[^/]+/models/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudAiplatformV1beta1GenerateContentRequest"
                      },
                      "path": "v2beta/{+model}:generateContent",
                      "id": "firebaseml.projects.locations.publishers.models.generateContent",
                      "response": {
                        "$ref": "GoogleCloudAiplatformV1beta1GenerateContentResponse"
                      },
                      "parameterOrder": [
                        "model"
                      ]
                    },
                    "countTokens": {
                      "response": {
                        "$ref": "GoogleCloudAiplatformV1beta1CountTokensResponse"
                      },
                      "description": "Perform a token counting.",
                      "parameters": {
                        "endpoint": {
                          "description": "Required. The name of the Endpoint requested to perform token counting. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}`",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/publishers/[^/]+/models/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "path": "v2beta/{+endpoint}:countTokens",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "GoogleCloudAiplatformV1beta1CountTokensRequest"
                      },
                      "parameterOrder": [
                        "endpoint"
                      ],
                      "id": "firebaseml.projects.locations.publishers.models.countTokens",
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/publishers/{publishersId}/models/{modelsId}:countTokens",
                      "httpMethod": "POST"
                    },
                    "streamGenerateContent": {
                      "parameters": {
                        "model": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/publishers/[^/]+/models/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "Required. The fully qualified name of the publisher model or tuned model endpoint to use. Publisher model format: `projects/{project}/locations/{location}/publishers/*/models/*` Tuned model endpoint format: `projects/{project}/locations/{location}/endpoints/{endpoint}`",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "model"
                      ],
                      "response": {
                        "$ref": "GoogleCloudAiplatformV1beta1GenerateContentResponse"
                      },
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/publishers/{publishersId}/models/{modelsId}:streamGenerateContent",
                      "id": "firebaseml.projects.locations.publishers.models.streamGenerateContent",
                      "path": "v2beta/{+model}:streamGenerateContent",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudAiplatformV1beta1GenerateContentRequest"
                      },
                      "description": "Generate content with multimodal inputs with streaming support.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "documentationLink": "https://firebase.google.com",
  "id": "firebaseml:v2beta",
  "basePath": "",
  "baseUrl": "https://firebaseml.googleapis.com/",
  "ownerName": "Google",
  "batchPath": "batch",
  "protocol": "rest",
  "ownerDomain": "google.com",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "title": "Firebase ML API",
  "description": "Access custom machine learning models hosted via Firebase ML.",
  "name": "firebaseml",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://firebaseml.mtls.googleapis.com/",
  "canonicalName": "Firebase ML",
  "version": "v2beta",
  "schemas": {
    "GoogleCloudAiplatformV1beta1UrlMetadata": {
      "id": "GoogleCloudAiplatformV1beta1UrlMetadata",
      "description": "The metadata for a single URL retrieval.",
      "properties": {
        "retrievedUrl": {
          "description": "The URL retrieved by the tool.",
          "type": "string"
        },
        "urlRetrievalStatus": {
          "type": "string",
          "enum": [
            "URL_RETRIEVAL_STATUS_UNSPECIFIED",
            "URL_RETRIEVAL_STATUS_SUCCESS",
            "URL_RETRIEVAL_STATUS_ERROR"
          ],
          "description": "The status of the URL retrieval.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The URL was retrieved successfully.",
            "The URL retrieval failed."
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1Blob": {
      "id": "GoogleCloudAiplatformV1beta1Blob",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Optional. The display name of the blob. Used to provide a label or filename to distinguish blobs. This field is only returned in `PromptMessage` for prompt management. It is used in the Gemini calls only when server-side tools (`code_execution`, `google_search`, and `url_context`) are enabled."
        },
        "mimeType": {
          "type": "string",
          "description": "Required. The IANA standard MIME type of the source data."
        },
        "data": {
          "type": "string",
          "description": "Required. The raw bytes of the data.",
          "format": "byte"
        }
      },
      "description": "A content blob. A Blob contains data of a specific media type. It is used to represent images, audio, and video.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1VertexRagStoreRagResource": {
      "id": "GoogleCloudAiplatformV1beta1VertexRagStoreRagResource",
      "description": "The definition of the Rag resource.",
      "type": "object",
      "properties": {
        "ragCorpus": {
          "description": "Optional. RagCorpora resource name. Format: `projects/{project}/locations/{location}/ragCorpora/{rag_corpus}`",
          "type": "string"
        },
        "ragFileIds": {
          "type": "array",
          "description": "Optional. rag_file_id. The files should be in the same rag_corpus set in rag_corpus field.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1beta1AudioTranscriptionWordInfo": {
      "type": "object",
      "properties": {
        "endOffset": {
          "type": "string",
          "description": "Optional. End offset in time of the word relative to the start of the audio.",
          "format": "google-duration"
        },
        "word": {
          "type": "string",
          "description": "Required. Transcript of the word."
        },
        "startOffset": {
          "type": "string",
          "description": "Optional. Start offset in time of the word relative to the start of the audio.",
          "format": "google-duration"
        }
      },
      "id": "GoogleCloudAiplatformV1beta1AudioTranscriptionWordInfo",
      "description": "Information about a single recognized word."
    },
    "ModelOperationMetadata": {
      "properties": {
        "name": {
          "description": "The name of the model we are creating/updating The name must have the form `projects/{project_id}/models/{model_id}`",
          "type": "string"
        },
        "basicOperationStatus": {
          "type": "string",
          "enumDescriptions": [
            "The status is unspecified",
            "The model file is being uploaded",
            "The model file is being verified"
          ],
          "enum": [
            "BASIC_OPERATION_STATUS_UNSPECIFIED",
            "BASIC_OPERATION_STATUS_UPLOADING",
            "BASIC_OPERATION_STATUS_VERIFYING"
          ]
        }
      },
      "type": "object",
      "id": "ModelOperationMetadata",
      "description": "This is returned in the longrunning operations for create/update."
    },
    "GoogleCloudAiplatformV1beta1FileData": {
      "description": "URI-based data. A FileData message contains a URI pointing to data of a specific media type. It is used to represent images, audio, and video stored in Google Cloud Storage.",
      "id": "GoogleCloudAiplatformV1beta1FileData",
      "type": "object",
      "properties": {
        "fileUri": {
          "description": "Required. The URI of the file in Google Cloud Storage.",
          "type": "string"
        },
        "mimeType": {
          "description": "Required. The IANA standard MIME type of the source data.",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. The display name of the file. Used to provide a label or filename to distinguish files. This field is only returned in `PromptMessage` for prompt management. It is used in the Gemini calls only when server side tools (`code_execution`, `google_search`, and `url_context`) are enabled.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1EnterpriseWebSearch": {
      "description": "Tool to search public web data, powered by Vertex AI Search and Sec4 compliance.",
      "properties": {
        "excludeDomains": {
          "description": "Optional. List of domains to be excluded from the search results. The default limit is 2000 domains.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "blockingConfidence": {
          "enum": [
            "PHISH_BLOCK_THRESHOLD_UNSPECIFIED",
            "BLOCK_LOW_AND_ABOVE",
            "BLOCK_MEDIUM_AND_ABOVE",
            "BLOCK_HIGH_AND_ABOVE",
            "BLOCK_HIGHER_AND_ABOVE",
            "BLOCK_VERY_HIGH_AND_ABOVE",
            "BLOCK_ONLY_EXTREMELY_HIGH"
          ],
          "description": "Optional. Sites with confidence level chosen & above this value will be blocked from the search results.",
          "enumDescriptions": [
            "Defaults to unspecified.",
            "Blocks Low and above confidence URL that is risky.",
            "Blocks Medium and above confidence URL that is risky.",
            "Blocks High and above confidence URL that is risky.",
            "Blocks Higher and above confidence URL that is risky.",
            "Blocks Very high and above confidence URL that is risky.",
            "Blocks Extremely high confidence URL that is risky."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1EnterpriseWebSearch"
    },
    "GoogleCloudAiplatformV1beta1SpeakerVoiceConfig": {
      "description": "Configuration for a single speaker in a multi-speaker setup.",
      "id": "GoogleCloudAiplatformV1beta1SpeakerVoiceConfig",
      "properties": {
        "speaker": {
          "type": "string",
          "description": "Required. The name of the speaker. This should be the same as the speaker name used in the prompt."
        },
        "voiceConfig": {
          "description": "Required. The configuration for the voice of this speaker.",
          "$ref": "GoogleCloudAiplatformV1beta1VoiceConfig"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1PartMediaResolution": {
      "id": "GoogleCloudAiplatformV1beta1PartMediaResolution",
      "properties": {
        "level": {
          "enum": [
            "MEDIA_RESOLUTION_UNSPECIFIED",
            "MEDIA_RESOLUTION_LOW",
            "MEDIA_RESOLUTION_MEDIUM",
            "MEDIA_RESOLUTION_HIGH",
            "MEDIA_RESOLUTION_ULTRA_HIGH"
          ],
          "enumDescriptions": [
            "Media resolution has not been set.",
            "Media resolution set to low.",
            "Media resolution set to medium.",
            "Media resolution set to high.",
            "Media resolution set to ultra high. This is for image only."
          ],
          "description": "The tokenization quality used for given media.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "per part media resolution. Media resolution for the input media."
    },
    "GoogleCloudAiplatformV1beta1ToolExaAiSearch": {
      "id": "GoogleCloudAiplatformV1beta1ToolExaAiSearch",
      "description": "ExaAiSearch tool type. A tool that uses the Exa.ai search engine for grounding.",
      "type": "object",
      "properties": {
        "apiKey": {
          "description": "Required. The API key for ExaAiSearch.",
          "type": "string"
        },
        "customConfigs": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. This field can be used to pass any parameter from the Exa.ai Search API."
        }
      }
    },
    "GoogleCloudAiplatformV1beta1RagChunk": {
      "type": "object",
      "properties": {
        "chunkId": {
          "description": "The ID of the chunk.",
          "type": "string"
        },
        "pageSpan": {
          "description": "If populated, represents where the chunk starts and ends in the document.",
          "$ref": "GoogleCloudAiplatformV1beta1RagChunkPageSpan"
        },
        "text": {
          "type": "string",
          "description": "The content of the chunk."
        },
        "fileId": {
          "type": "string",
          "description": "The ID of the file that the chunk belongs to."
        }
      },
      "description": "A RagChunk includes the content of a chunk of a RagFile, and associated metadata.",
      "id": "GoogleCloudAiplatformV1beta1RagChunk"
    },
    "GoogleCloudAiplatformV1beta1LogprobsResultTopCandidates": {
      "id": "GoogleCloudAiplatformV1beta1LogprobsResultTopCandidates",
      "description": "A list of the top candidate tokens and their log probabilities at each decoding step. This can be used to see what other tokens the model considered.",
      "properties": {
        "candidates": {
          "description": "The list of candidate tokens, sorted by log probability in descending order.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1LogprobsResultCandidate"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1SafetySetting": {
      "description": "A safety setting that affects the safety-blocking behavior. A SafetySetting consists of a harm category and a threshold for that category.",
      "id": "GoogleCloudAiplatformV1beta1SafetySetting",
      "type": "object",
      "properties": {
        "method": {
          "enum": [
            "HARM_BLOCK_METHOD_UNSPECIFIED",
            "SEVERITY",
            "PROBABILITY"
          ],
          "enumDescriptions": [
            "The harm block method is unspecified.",
            "The harm block method uses both probability and severity scores.",
            "The harm block method uses the probability score."
          ],
          "type": "string",
          "description": "Optional. The method for blocking content. If not specified, the default behavior is to use the probability score."
        },
        "threshold": {
          "description": "Required. The threshold for blocking content. If the harm probability exceeds this threshold, the content will be blocked.",
          "type": "string",
          "enumDescriptions": [
            "The harm block threshold is unspecified.",
            "Block content with a low harm probability or higher.",
            "Block content with a medium harm probability or higher.",
            "Block content with a high harm probability.",
            "Do not block any content, regardless of its harm probability.",
            "Turn off the safety filter entirely."
          ],
          "enum": [
            "HARM_BLOCK_THRESHOLD_UNSPECIFIED",
            "BLOCK_LOW_AND_ABOVE",
            "BLOCK_MEDIUM_AND_ABOVE",
            "BLOCK_ONLY_HIGH",
            "BLOCK_NONE",
            "OFF"
          ]
        },
        "category": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Content that promotes violence or incites hatred against individuals or groups based on certain attributes.",
            "Content that promotes, facilitates, or enables dangerous activities.",
            "Abusive, threatening, or content intended to bully, torment, or ridicule.",
            "Content that contains sexually explicit material.",
            "Deprecated: Election filter is not longer supported. The harm category is civic integrity.",
            "Images that contain hate speech.",
            "Images that contain dangerous content.",
            "Images that contain harassment.",
            "Images that contain sexually explicit content.",
            "Prompts designed to bypass safety filters."
          ],
          "description": "Required. The harm category to be blocked.",
          "enum": [
            "HARM_CATEGORY_UNSPECIFIED",
            "HARM_CATEGORY_HATE_SPEECH",
            "HARM_CATEGORY_DANGEROUS_CONTENT",
            "HARM_CATEGORY_HARASSMENT",
            "HARM_CATEGORY_SEXUALLY_EXPLICIT",
            "HARM_CATEGORY_CIVIC_INTEGRITY",
            "HARM_CATEGORY_IMAGE_HATE",
            "HARM_CATEGORY_IMAGE_DANGEROUS_CONTENT",
            "HARM_CATEGORY_IMAGE_HARASSMENT",
            "HARM_CATEGORY_IMAGE_SEXUALLY_EXPLICIT",
            "HARM_CATEGORY_JAILBREAK"
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1Schema": {
      "properties": {
        "minItems": {
          "description": "Optional. If type is `ARRAY`, `min_items` specifies the minimum number of items in an array.",
          "format": "int64",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Not specified, should not be used.",
            "OpenAPI string type",
            "OpenAPI number type",
            "OpenAPI integer type",
            "OpenAPI boolean type",
            "OpenAPI array type",
            "OpenAPI object type",
            "Null type"
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "NUMBER",
            "INTEGER",
            "BOOLEAN",
            "ARRAY",
            "OBJECT",
            "NULL"
          ],
          "description": "Optional. Data type of the schema field."
        },
        "description": {
          "type": "string",
          "description": "Optional. Describes the data. The model uses this field to understand the purpose of the schema and how to use it. It is a best practice to provide a clear and descriptive explanation for the schema and its properties here, rather than in the prompt."
        },
        "defs": {
          "additionalProperties": {
            "$ref": "GoogleCloudAiplatformV1beta1Schema"
          },
          "description": "Optional. `defs` provides a map of schema definitions that can be reused by `ref` elsewhere in the schema. Only allowed at root level of the schema.",
          "type": "object"
        },
        "properties": {
          "additionalProperties": {
            "$ref": "GoogleCloudAiplatformV1beta1Schema"
          },
          "description": "Optional. If type is `OBJECT`, `properties` is a map of property names to schema definitions for each property of the object.",
          "type": "object"
        },
        "items": {
          "$ref": "GoogleCloudAiplatformV1beta1Schema",
          "description": "Optional. If type is `ARRAY`, `items` specifies the schema of elements in the array."
        },
        "anyOf": {
          "description": "Optional. The instance must be valid against any (one or more) of the subschemas listed in `any_of`.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1Schema"
          }
        },
        "maxLength": {
          "format": "int64",
          "description": "Optional. If type is `STRING`, `max_length` specifies the maximum length of the string.",
          "type": "string"
        },
        "additionalProperties": {
          "description": "Optional. If `type` is `OBJECT`, specifies how to handle properties not defined in `properties`. If it is a boolean `false`, no additional properties are allowed. If it is a schema, additional properties are allowed if they conform to the schema.",
          "type": "any"
        },
        "maxProperties": {
          "format": "int64",
          "type": "string",
          "description": "Optional. If type is `OBJECT`, `max_properties` specifies the maximum number of properties that can be provided."
        },
        "format": {
          "type": "string",
          "description": "Optional. The format of the data. For `NUMBER` type, format can be `float` or `double`. For `INTEGER` type, format can be `int32` or `int64`. For `STRING` type, format can be `email`, `byte`, `date`, `date-time`, `password`, and other formats to further refine the data type."
        },
        "minProperties": {
          "description": "Optional. If type is `OBJECT`, `min_properties` specifies the minimum number of properties that can be provided.",
          "format": "int64",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the schema."
        },
        "ref": {
          "type": "string",
          "description": "Optional. Allows referencing another schema definition to use in place of this schema. The value must be a valid reference to a schema in `defs`. For example, the following schema defines a reference to a schema node named \"Pet\": type: object properties: pet: ref: #/defs/Pet defs: Pet: type: object properties: name: type: string The value of the \"pet\" property is a reference to the schema node named \"Pet\". See details in https://json-schema.org/understanding-json-schema/structuring"
        },
        "maxItems": {
          "type": "string",
          "format": "int64",
          "description": "Optional. If type is `ARRAY`, `max_items` specifies the maximum number of items in an array."
        },
        "propertyOrdering": {
          "description": "Optional. Order of properties displayed or used where order matters. This is not a standard field in OpenAPI specification, but can be used to control the order of properties.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "pattern": {
          "description": "Optional. If type is `STRING`, `pattern` specifies a regular expression that the string must match.",
          "type": "string"
        },
        "minimum": {
          "description": "Optional. If type is `INTEGER` or `NUMBER`, `minimum` specifies the minimum allowed value.",
          "format": "double",
          "type": "number"
        },
        "minLength": {
          "type": "string",
          "description": "Optional. If type is `STRING`, `min_length` specifies the minimum length of the string.",
          "format": "int64"
        },
        "nullable": {
          "type": "boolean",
          "description": "Optional. Indicates if the value of this field can be null."
        },
        "maximum": {
          "description": "Optional. If type is `INTEGER` or `NUMBER`, `maximum` specifies the maximum allowed value.",
          "format": "double",
          "type": "number"
        },
        "default": {
          "description": "Optional. Default value to use if the field is not specified.",
          "type": "any"
        },
        "required": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. If type is `OBJECT`, `required` lists the names of properties that must be present."
        },
        "enum": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Possible values of the field. This field can be used to restrict a value to a fixed set of values. To mark a field as an enum, set `format` to `enum` and provide the list of possible values in `enum`. For example: 1. To define directions: `{type:STRING, format:enum, enum:[\"EAST\", \"NORTH\", \"SOUTH\", \"WEST\"]}` 2. To define apartment numbers: `{type:INTEGER, format:enum, enum:[\"101\", \"201\", \"301\"]}`",
          "type": "array"
        },
        "example": {
          "description": "Optional. Example of an instance of this schema.",
          "type": "any"
        }
      },
      "type": "object",
      "description": "Defines the schema of input and output data. This is a subset of the [OpenAPI 3.0 Schema Object](https://spec.openapis.org/oas/v3.0.3#schema-object).",
      "id": "GoogleCloudAiplatformV1beta1Schema"
    },
    "GoogleCloudAiplatformV1beta1GoogleMapsGroundingTypes": {
      "id": "GoogleCloudAiplatformV1beta1GoogleMapsGroundingTypes",
      "properties": {
        "routing": {
          "$ref": "GoogleCloudAiplatformV1beta1GoogleMapsRouting",
          "description": "Optional. Enables grounding with Google Maps Routing APIs (ComputeRoutes and SearchAlongRoute)."
        },
        "places": {
          "description": "Optional. Enables grounding with Google Maps Places. This is the default grounding type when no `GroundingTypes` are specified.",
          "$ref": "GoogleCloudAiplatformV1beta1GoogleMapsPlaces"
        }
      },
      "type": "object",
      "description": "Defines the types of Google Maps grounding that can be enabled and their configurations."
    },
    "GoogleCloudAiplatformV1beta1ToolComputerUse": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1ToolComputerUse",
      "description": "Tool to support computer use.",
      "properties": {
        "enablePromptInjectionDetection": {
          "description": "Optional. Enables the prompt injection detection check on computer-use request.",
          "type": "boolean"
        },
        "excludedPredefinedFunctions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. By default, [predefined functions](https://cloud.google.com/vertex-ai/generative-ai/docs/computer-use#supported-actions) are included in the final model call. Some of them can be explicitly excluded from being automatically included. This can serve two purposes: 1. Using a more restricted / different action space. 2. Improving the definitions / instructions of predefined functions."
        },
        "environment": {
          "description": "Required. The environment being operated.",
          "type": "string",
          "enumDescriptions": [
            "Defaults to browser.",
            "Operates in a web browser.",
            "Operates in a mobile environment.",
            "Operates in a desktop environment."
          ],
          "enum": [
            "ENVIRONMENT_UNSPECIFIED",
            "ENVIRONMENT_BROWSER",
            "ENVIRONMENT_MOBILE",
            "ENVIRONMENT_DESKTOP"
          ]
        }
      }
    },
    "GoogleCloudAiplatformV1beta1AudioTranscriptionConfig": {
      "id": "GoogleCloudAiplatformV1beta1AudioTranscriptionConfig",
      "type": "object",
      "properties": {
        "wordTimestamp": {
          "type": "boolean",
          "description": "Optional. Configures word-level timestamp generation."
        },
        "languageCodes": {
          "type": "array",
          "description": "Optional. BCP-47 language codes providing hints about the languages present in the audio. If omitted or empty, defaults to automatic language detection.",
          "items": {
            "type": "string"
          }
        },
        "languageHints": {
          "$ref": "GoogleCloudAiplatformV1beta1AudioTranscriptionConfigLanguageHints",
          "description": "Optional. Deprecated: Use top-level `language_codes` instead. Specifies one or more languages in the audio.",
          "deprecated": true
        },
        "adaptationPhrases": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "deprecated": true,
          "description": "Optional. Deprecated: Use `custom_vocabulary` instead. A list of phrases to bias the speech recognition model towards."
        },
        "customVocabulary": {
          "type": "array",
          "description": "Optional. A list of custom vocabulary phrases to bias the speech recognition model toward recognizing specific terms.",
          "items": {
            "type": "string"
          }
        },
        "diarization": {
          "type": "boolean",
          "description": "Optional. Configures speaker diarization."
        },
        "languageAuto": {
          "$ref": "GoogleCloudAiplatformV1beta1AudioTranscriptionConfigLanguageAuto",
          "deprecated": true,
          "description": "Optional. Deprecated: Use top-level `language_codes` instead. The model will detect the language automatically."
        }
      },
      "description": "Configuration for speech recognition (transcription)."
    },
    "GoogleCloudAiplatformV1beta1UrlContext": {
      "properties": {},
      "id": "GoogleCloudAiplatformV1beta1UrlContext",
      "description": "Tool to support URL context.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1SpeechConfig": {
      "id": "GoogleCloudAiplatformV1beta1SpeechConfig",
      "type": "object",
      "properties": {
        "multiSpeakerVoiceConfig": {
          "description": "The configuration for a multi-speaker text-to-speech request. This field is mutually exclusive with `voice_config`.",
          "$ref": "GoogleCloudAiplatformV1beta1MultiSpeakerVoiceConfig"
        },
        "voiceConfig": {
          "$ref": "GoogleCloudAiplatformV1beta1VoiceConfig",
          "description": "The configuration for the voice to use."
        },
        "languageCode": {
          "description": "Optional. The language code (ISO 639-1) for the speech synthesis.",
          "type": "string"
        }
      },
      "description": "Configuration for speech generation."
    },
    "GoogleCloudAiplatformV1beta1AudioTranscriptionConfigLanguageHints": {
      "id": "GoogleCloudAiplatformV1beta1AudioTranscriptionConfigLanguageHints",
      "deprecated": true,
      "type": "object",
      "description": "Deprecated: Use top-level `language_codes` instead. Provides hints to the model about possible languages present in the audio.",
      "properties": {
        "languageCodes": {
          "deprecated": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. Deprecated: Use top-level `language_codes` instead. BCP-47 language codes. At least one must be specified."
        }
      }
    },
    "GoogleCloudAiplatformV1beta1AuthConfigOidcConfig": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1AuthConfigOidcConfig",
      "properties": {
        "idToken": {
          "description": "OpenID Connect formatted ID token for extension endpoint. Only used to propagate token from [[ExecuteExtensionRequest.runtime_auth_config]] at request time.",
          "type": "string"
        },
        "serviceAccount": {
          "description": "The service account used to generate an OpenID Connect (OIDC)-compatible JWT token signed by the Google OIDC Provider (accounts.google.com) for extension endpoint (https://cloud.google.com/iam/docs/create-short-lived-credentials-direct#sa-credentials-oidc). - The audience for the token will be set to the URL in the server url defined in the OpenApi spec. - If the service account is provided, the service account should grant `iam.serviceAccounts.getOpenIdToken` permission to Vertex AI Extension Service Agent (https://cloud.google.com/vertex-ai/docs/general/access-control#service-agents).",
          "type": "string"
        }
      },
      "description": "Config for user OIDC auth."
    },
    "GoogleCloudAiplatformV1beta1GenerateContentResponseUsageMetadata": {
      "id": "GoogleCloudAiplatformV1beta1GenerateContentResponseUsageMetadata",
      "description": "Usage metadata about the content generation request and response. This message provides a detailed breakdown of token usage and other relevant metrics.",
      "type": "object",
      "properties": {
        "toolUsePromptTokenCount": {
          "readOnly": true,
          "description": "Output only. The number of tokens in the results from tool executions, which are provided back to the model as input, if applicable.",
          "format": "int32",
          "type": "integer"
        },
        "promptTokensDetails": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1ModalityTokenCount"
          },
          "type": "array",
          "description": "Output only. A detailed breakdown of the token count for each modality in the prompt.",
          "readOnly": true
        },
        "cachedContentTokenCount": {
          "description": "Output only. The number of tokens in the cached content that was used for this request.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "thoughtsTokenCount": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The number of tokens that were part of the model's generated \"thoughts\" output, if applicable."
        },
        "candidatesTokensDetails": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1ModalityTokenCount"
          },
          "description": "Output only. A detailed breakdown of the token count for each modality in the generated candidates.",
          "type": "array",
          "readOnly": true
        },
        "promptTokenCount": {
          "format": "int32",
          "description": "The total number of tokens in the prompt. This includes any text, images, or other media provided in the request. When `cached_content` is set, this also includes the number of tokens in the cached content.",
          "type": "integer"
        },
        "candidatesTokenCount": {
          "format": "int32",
          "description": "The total number of tokens in the generated candidates.",
          "type": "integer"
        },
        "trafficType": {
          "enum": [
            "TRAFFIC_TYPE_UNSPECIFIED",
            "ON_DEMAND",
            "ON_DEMAND_PRIORITY",
            "ON_DEMAND_FLEX",
            "ON_DEMAND_OFFPEAK",
            "PROVISIONED_THROUGHPUT"
          ],
          "enumDescriptions": [
            "Unspecified request traffic type.",
            "The request was processed using Pay-As-You-Go quota.",
            "Type for Priority Pay-As-You-Go traffic.",
            "Type for Flex traffic.",
            "Type for Off-Peak Pay-As-You-Go traffic.",
            "Type for Provisioned Throughput traffic."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The traffic type for this request."
        },
        "cacheTokensDetails": {
          "description": "Output only. A detailed breakdown of the token count for each modality in the cached content.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1ModalityTokenCount"
          },
          "readOnly": true,
          "type": "array"
        },
        "toolUsePromptTokensDetails": {
          "readOnly": true,
          "description": "Output only. A detailed breakdown by modality of the token counts from the results of tool executions, which are provided back to the model as input.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1ModalityTokenCount"
          }
        },
        "totalTokenCount": {
          "type": "integer",
          "description": "The total number of tokens for the entire request. This is the sum of `prompt_token_count`, `candidates_token_count`, `tool_use_prompt_token_count`, and `thoughts_token_count`.",
          "format": "int32"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1GroundingMetadata": {
      "type": "object",
      "description": "Information about the sources that support the content of a response. When grounding is enabled, the model returns citations for claims in the response. This object contains the retrieved sources.",
      "properties": {
        "retrievalMetadata": {
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1beta1RetrievalMetadata",
          "description": "Optional. Output only. Metadata related to the retrieval grounding source."
        },
        "groundingChunks": {
          "description": "A list of supporting references retrieved from the grounding source. This field is populated when the grounding source is Google Search, Vertex AI Search, or Google Maps.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1GroundingChunk"
          },
          "type": "array"
        },
        "searchEntryPoint": {
          "description": "Optional. A web search entry point that can be used to display search results. This field is populated only when the grounding source is Google Search.",
          "$ref": "GoogleCloudAiplatformV1beta1SearchEntryPoint"
        },
        "imageSearchQueries": {
          "description": "Optional. The image search queries that were used to generate the content. This field is populated only when the grounding source is Google Search with the Image Search search_type enabled.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "groundingSupports": {
          "description": "Optional. A list of grounding supports that connect the generated content to the grounding chunks. This field is populated when the grounding source is Google Search or Vertex AI Search.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1GroundingSupport"
          }
        },
        "sourceFlaggingUris": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1GroundingMetadataSourceFlaggingUri"
          },
          "description": "Optional. Output only. A list of URIs that can be used to flag a place or review for inappropriate content. This field is populated only when the grounding source is Google Maps.",
          "type": "array",
          "readOnly": true
        },
        "webSearchQueries": {
          "type": "array",
          "description": "Optional. The web search queries that were used to generate the content. This field is populated only when the grounding source is Google Search.",
          "items": {
            "type": "string"
          }
        },
        "retrievalQueries": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The queries that were executed by the retrieval tools. This field is populated only when the grounding source is a retrieval tool, such as Vertex AI Search."
        },
        "googleMapsWidgetContextToken": {
          "readOnly": true,
          "description": "Optional. Output only. Deprecated: The Google Maps contextual widget behavior in Grounding with Google Maps is being deprecated; this field is planned for removal and will no longer be populated once removed. A token that can be used to render a Google Maps widget with the contextual data. This field is populated only when the grounding source is Google Maps.",
          "deprecated": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1beta1GroundingMetadata"
    },
    "GoogleCloudAiplatformV1beta1CodeExecutionResult": {
      "properties": {
        "outcome": {
          "enum": [
            "OUTCOME_UNSPECIFIED",
            "OUTCOME_OK",
            "OUTCOME_FAILED",
            "OUTCOME_DEADLINE_EXCEEDED"
          ],
          "type": "string",
          "description": "Required. Outcome of the code execution.",
          "enumDescriptions": [
            "Unspecified status. This value should not be used.",
            "Code execution completed successfully. `output` contains the stdout, if any.",
            "Code execution failed. `output` contains the stderr and stdout, if any.",
            "Code execution ran for too long, and was cancelled. There may or may not be a partial `output` present."
          ]
        },
        "output": {
          "type": "string",
          "description": "Optional. Contains stdout when code execution is successful, stderr or other description otherwise."
        },
        "id": {
          "description": "Optional. The identifier of the `ExecutableCode` part this result is for. Only populated if the corresponding `ExecutableCode` has an id.",
          "type": "string"
        }
      },
      "description": "Result of executing the ExecutableCode. Generated only when the `CodeExecution` tool is used.",
      "id": "GoogleCloudAiplatformV1beta1CodeExecutionResult",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1SearchEntryPoint": {
      "id": "GoogleCloudAiplatformV1beta1SearchEntryPoint",
      "properties": {
        "renderedContent": {
          "type": "string",
          "description": "Optional. An HTML snippet that can be embedded in a web page or an application's webview. This snippet displays a search result, including the title, URL, and a brief description of the search result."
        },
        "sdkBlob": {
          "format": "byte",
          "type": "string",
          "description": "Optional. A base64-encoded JSON object that contains a list of search queries and their corresponding search URLs. This information can be used to build a custom search UI."
        }
      },
      "description": "An entry point for displaying Google Search results. A `SearchEntryPoint` is populated when the grounding source for a model's response is Google Search. It provides information that you can use to display the search results in your application.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1AuthConfigApiKeyConfig": {
      "description": "Config for authentication with API key.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1AuthConfigApiKeyConfig",
      "properties": {
        "apiKeySecret": {
          "type": "string",
          "description": "Optional. The name of the SecretManager secret version resource storing the API key. Format: `projects/{project}/secrets/{secrete}/versions/{version}` - If both `api_key_secret` and `api_key_string` are specified, this field takes precedence over `api_key_string`. - If specified, the `secretmanager.versions.access` permission should be granted to Vertex AI Extension Service Agent (https://cloud.google.com/vertex-ai/docs/general/access-control#service-agents) on the specified resource."
        },
        "name": {
          "type": "string",
          "description": "Optional. The parameter name of the API key. E.g. If the API request is \"https://example.com/act?api_key=\", \"api_key\" would be the parameter name."
        },
        "apiKeyString": {
          "type": "string",
          "description": "Optional. The API key to be used in the request directly."
        },
        "httpElementLocation": {
          "type": "string",
          "description": "Optional. The location of the API key.",
          "enum": [
            "HTTP_IN_UNSPECIFIED",
            "HTTP_IN_QUERY",
            "HTTP_IN_HEADER",
            "HTTP_IN_PATH",
            "HTTP_IN_BODY",
            "HTTP_IN_COOKIE"
          ],
          "enumDescriptions": [
            "",
            "Element is in the HTTP request query.",
            "Element is in the HTTP request header.",
            "Element is in the HTTP request path.",
            "Element is in the HTTP request body.",
            "Element is in the HTTP request cookie."
          ]
        }
      }
    },
    "GoogleCloudAiplatformV1beta1GenerateContentResponsePromptFeedback": {
      "id": "GoogleCloudAiplatformV1beta1GenerateContentResponsePromptFeedback",
      "properties": {
        "blockReasonMessage": {
          "description": "Output only. A readable message that explains the reason why the prompt was blocked.",
          "type": "string",
          "readOnly": true
        },
        "safetyRatings": {
          "description": "Output only. A list of safety ratings for the prompt. There is one rating per category.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1SafetyRating"
          }
        },
        "blockReason": {
          "type": "string",
          "enum": [
            "BLOCKED_REASON_UNSPECIFIED",
            "SAFETY",
            "OTHER",
            "BLOCKLIST",
            "PROHIBITED_CONTENT",
            "MODEL_ARMOR",
            "IMAGE_SAFETY",
            "JAILBREAK"
          ],
          "description": "Output only. The reason why the prompt was blocked.",
          "readOnly": true,
          "enumDescriptions": [
            "The blocked reason is unspecified.",
            "The prompt was blocked for safety reasons.",
            "The prompt was blocked for other reasons. For example, it may be due to the prompt's language, or because it contains other harmful content.",
            "The prompt was blocked because it contains a term from the terminology blocklist.",
            "The prompt was blocked because it contains prohibited content.",
            "The prompt was blocked by Model Armor.",
            "The prompt was blocked because it contains content that is unsafe for image generation.",
            "The prompt was blocked as a jailbreak attempt."
          ]
        }
      },
      "description": "Content filter results for a prompt sent in the request. Note: This is sent only in the first stream chunk and only if no candidates were generated due to content violations.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1ImageConfigImageOutputOptions": {
      "properties": {
        "mimeType": {
          "description": "Optional. The image format that the output should be saved as.",
          "type": "string"
        },
        "compressionQuality": {
          "format": "int32",
          "description": "Optional. The compression quality of the output image.",
          "type": "integer"
        }
      },
      "id": "GoogleCloudAiplatformV1beta1ImageConfigImageOutputOptions",
      "type": "object",
      "description": "The image output format for generated images."
    },
    "GoogleCloudAiplatformV1beta1FunctionCall": {
      "description": "A predicted FunctionCall returned from the model that contains a string representing the FunctionDeclaration.name and a structured JSON object containing the parameters and their values.",
      "id": "GoogleCloudAiplatformV1beta1FunctionCall",
      "type": "object",
      "properties": {
        "name": {
          "description": "Optional. The name of the function to call. Matches FunctionDeclaration.name.",
          "type": "string"
        },
        "args": {
          "description": "Optional. The function parameters and values in JSON object format. See FunctionDeclaration.parameters for parameter details.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "willContinue": {
          "description": "Optional. Whether this is the last part of the FunctionCall. If true, another partial message for the current FunctionCall is expected to follow.",
          "type": "boolean"
        },
        "partialArgs": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1PartialArg"
          },
          "description": "Optional. The partial argument value of the function call. If provided, represents the arguments/fields that are streamed incrementally.",
          "type": "array"
        },
        "id": {
          "description": "Optional. The unique id of the function call. If populated, the client to execute the `function_call` and return the response with the matching `id`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1CountTokensRequest": {
      "type": "object",
      "description": "Request message for PredictionService.CountTokens.",
      "properties": {
        "systemInstruction": {
          "$ref": "GoogleCloudAiplatformV1beta1Content",
          "description": "Optional. The user provided system instructions for the model. Note: only text should be used in parts and content in each part will be in a separate paragraph."
        },
        "instances": {
          "items": {
            "type": "any"
          },
          "type": "array",
          "description": "Optional. The instances that are the input to token counting call. Schema is identical to the prediction schema of the underlying model."
        },
        "contents": {
          "description": "Optional. Input content.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1Content"
          }
        },
        "generationConfig": {
          "description": "Optional. Generation config that the model will use to generate the response.",
          "$ref": "GoogleCloudAiplatformV1beta1GenerationConfig"
        },
        "model": {
          "description": "Optional. The name of the publisher model requested to serve the prediction. Format: `projects/{project}/locations/{location}/publishers/*/models/*`",
          "type": "string"
        },
        "tools": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1Tool"
          },
          "description": "Optional. A list of `Tools` the model may use to generate the next response. A `Tool` is a piece of code that enables the system to interact with external systems to perform an action, or set of actions, outside of knowledge and scope of the model.",
          "type": "array"
        }
      },
      "id": "GoogleCloudAiplatformV1beta1CountTokensRequest"
    },
    "GoogleCloudAiplatformV1beta1RagRetrievalConfig": {
      "description": "Specifies the context retrieval config.",
      "properties": {
        "ranking": {
          "description": "Optional. Config for ranking and reranking.",
          "$ref": "GoogleCloudAiplatformV1beta1RagRetrievalConfigRanking"
        },
        "topK": {
          "format": "int32",
          "description": "Optional. The number of contexts to retrieve.",
          "type": "integer"
        },
        "filter": {
          "$ref": "GoogleCloudAiplatformV1beta1RagRetrievalConfigFilter",
          "description": "Optional. Config for filters."
        },
        "hybridSearch": {
          "description": "Optional. Config for Hybrid Search.",
          "$ref": "GoogleCloudAiplatformV1beta1RagRetrievalConfigHybridSearch"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1RagRetrievalConfig"
    },
    "GoogleCloudAiplatformV1beta1Tool": {
      "type": "object",
      "properties": {
        "codeExecution": {
          "$ref": "GoogleCloudAiplatformV1beta1ToolCodeExecution",
          "description": "Optional. CodeExecution tool type. Enables the model to execute code as part of generation."
        },
        "retrieval": {
          "description": "Optional. Retrieval tool type. System will always execute the provided retrieval tool(s) to get external knowledge to answer the prompt. Retrieval results are presented to the model for generation.",
          "$ref": "GoogleCloudAiplatformV1beta1Retrieval"
        },
        "parallelAiSearch": {
          "$ref": "GoogleCloudAiplatformV1beta1ToolParallelAiSearch",
          "description": "Optional. If specified, Vertex AI will use Parallel.ai to search for information to answer user queries. The search results will be grounded on Parallel.ai and presented to the model for response generation"
        },
        "googleSearch": {
          "description": "Optional. GoogleSearch tool type. Tool to support Google Search in Model. Powered by Google.",
          "$ref": "GoogleCloudAiplatformV1beta1ToolGoogleSearch"
        },
        "computerUse": {
          "description": "Optional. Tool to support the model interacting directly with the computer. If enabled, it automatically populates computer-use specific Function Declarations.",
          "$ref": "GoogleCloudAiplatformV1beta1ToolComputerUse"
        },
        "exaAiSearch": {
          "$ref": "GoogleCloudAiplatformV1beta1ToolExaAiSearch",
          "description": "Optional. Uses Exa.ai to search for information to answer user queries. The search results will be grounded on Exa.ai and presented to the model for response generation"
        },
        "functionDeclarations": {
          "description": "Optional. Function tool type. One or more function declarations to be passed to the model along with the current user query. Model may decide to call a subset of these functions by populating FunctionCall in the response. User should provide a FunctionResponse for each function call in the next turn. Based on the function responses, Model will generate the final response back to the user. Maximum 512 function declarations can be provided.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1FunctionDeclaration"
          },
          "type": "array"
        },
        "enterpriseWebSearch": {
          "description": "Optional. Tool to support searching public web data, powered by Vertex AI Search and Sec4 compliance.",
          "$ref": "GoogleCloudAiplatformV1beta1EnterpriseWebSearch"
        },
        "googleSearchRetrieval": {
          "description": "Optional. Specialized retrieval tool that is powered by Google Search.",
          "deprecated": true,
          "$ref": "GoogleCloudAiplatformV1beta1GoogleSearchRetrieval"
        },
        "urlContext": {
          "description": "Optional. Tool to support URL context retrieval.",
          "$ref": "GoogleCloudAiplatformV1beta1UrlContext"
        },
        "googleMaps": {
          "description": "Optional. GoogleMaps tool type. Tool to support Google Maps in Model.",
          "$ref": "GoogleCloudAiplatformV1beta1GoogleMaps"
        }
      },
      "description": "Tool details that the model may use to generate response. A `Tool` is a piece of code that enables the system to interact with external systems to perform an action, or set of actions, outside of knowledge and scope of the model. A Tool object should contain exactly one type of Tool (e.g FunctionDeclaration, Retrieval or GoogleSearchRetrieval).",
      "id": "GoogleCloudAiplatformV1beta1Tool"
    },
    "GoogleCloudAiplatformV1beta1ExternalApi": {
      "type": "object",
      "description": "Retrieve from data source powered by external API for grounding. The external API is not owned by Google, but need to follow the pre-defined API spec.",
      "id": "GoogleCloudAiplatformV1beta1ExternalApi",
      "properties": {
        "elasticSearchParams": {
          "description": "Parameters for the elastic search API.",
          "$ref": "GoogleCloudAiplatformV1beta1ExternalApiElasticSearchParams"
        },
        "endpoint": {
          "description": "The endpoint of the external API. The system will call the API at this endpoint to retrieve the data for grounding. Example: https://acme.com:443/search",
          "type": "string"
        },
        "apiSpec": {
          "enum": [
            "API_SPEC_UNSPECIFIED",
            "SIMPLE_SEARCH",
            "ELASTIC_SEARCH"
          ],
          "description": "The API spec that the external API implements.",
          "enumDescriptions": [
            "Unspecified API spec. This value should not be used.",
            "Simple search API spec.",
            "Elastic search API spec."
          ],
          "type": "string"
        },
        "simpleSearchParams": {
          "description": "Parameters for the simple search API.",
          "$ref": "GoogleCloudAiplatformV1beta1ExternalApiSimpleSearchParams"
        },
        "apiAuth": {
          "deprecated": true,
          "$ref": "GoogleCloudAiplatformV1beta1ApiAuth",
          "description": "The authentication config to access the API. Deprecated. Please use auth_config instead."
        },
        "authConfig": {
          "$ref": "GoogleCloudAiplatformV1beta1AuthConfig",
          "description": "The authentication config to access the API."
        }
      }
    },
    "LatLng": {
      "id": "LatLng",
      "type": "object",
      "description": "An object that represents a latitude/longitude pair. This is expressed as a pair of doubles to represent degrees latitude and degrees longitude. Unless specified otherwise, this object must conform to the WGS84 standard. Values must be within normalized ranges.",
      "properties": {
        "longitude": {
          "format": "double",
          "type": "number",
          "description": "The longitude in degrees. It must be in the range [-180.0, +180.0]."
        },
        "latitude": {
          "format": "double",
          "description": "The latitude in degrees. It must be in the range [-90.0, +90.0].",
          "type": "number"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1Content": {
      "description": "The structured data content of a message. A Content message contains a `role` field, which indicates the producer of the content, and a `parts` field, which contains the multi-part data of the message.",
      "id": "GoogleCloudAiplatformV1beta1Content",
      "properties": {
        "parts": {
          "description": "Required. A list of Part objects that make up a single message. Parts of a message can have different MIME types. A Content message must have at least one Part.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1Part"
          }
        },
        "role": {
          "type": "string",
          "description": "Optional. The producer of the content. Must be either 'user' or 'model'. If not set, the service will default to 'user'."
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1AuthConfigGoogleServiceAccountConfig": {
      "id": "GoogleCloudAiplatformV1beta1AuthConfigGoogleServiceAccountConfig",
      "properties": {
        "serviceAccount": {
          "description": "Optional. The service account that the extension execution service runs as. - If the service account is specified, the `iam.serviceAccounts.getAccessToken` permission should be granted to Vertex AI Extension Service Agent (https://cloud.google.com/vertex-ai/docs/general/access-control#service-agents) on the specified service account. - If not specified, the Vertex AI Extension Service Agent will be used to execute the Extension.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Config for Google Service Account Authentication."
    },
    "GoogleCloudAiplatformV1beta1RagRetrievalConfigRanking": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1RagRetrievalConfigRanking",
      "properties": {
        "rankService": {
          "$ref": "GoogleCloudAiplatformV1beta1RagRetrievalConfigRankingRankService",
          "description": "Optional. Config for Rank Service."
        },
        "llmRanker": {
          "$ref": "GoogleCloudAiplatformV1beta1RagRetrievalConfigRankingLlmRanker",
          "description": "Optional. Config for LlmRanker."
        }
      },
      "description": "Config for ranking and reranking."
    },
    "GoogleCloudAiplatformV1beta1Citation": {
      "properties": {
        "license": {
          "type": "string",
          "description": "Output only. The license of the source of the citation.",
          "readOnly": true
        },
        "endIndex": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. The end index of the citation in the content.",
          "type": "integer"
        },
        "startIndex": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "Output only. The start index of the citation in the content."
        },
        "uri": {
          "description": "Output only. The URI of the source of the citation.",
          "readOnly": true,
          "type": "string"
        },
        "title": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The title of the source of the citation."
        },
        "publicationDate": {
          "description": "Output only. The publication date of the source of the citation.",
          "$ref": "Date",
          "readOnly": true
        }
      },
      "description": "A citation for a piece of generatedcontent.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1Citation"
    },
    "GoogleCloudAiplatformV1beta1Retrieval": {
      "id": "GoogleCloudAiplatformV1beta1Retrieval",
      "properties": {
        "disableAttribution": {
          "deprecated": true,
          "description": "Optional. Deprecated. This option is no longer supported.",
          "type": "boolean"
        },
        "externalApi": {
          "description": "Use data source powered by external API for grounding.",
          "$ref": "GoogleCloudAiplatformV1beta1ExternalApi"
        },
        "vertexAiSearch": {
          "$ref": "GoogleCloudAiplatformV1beta1VertexAISearch",
          "description": "Set to use data source powered by Vertex AI Search."
        },
        "vertexRagStore": {
          "description": "Set to use data source powered by Vertex RAG store. User data is uploaded via the VertexRagDataService.",
          "$ref": "GoogleCloudAiplatformV1beta1VertexRagStore"
        }
      },
      "type": "object",
      "description": "Defines a retrieval tool that model can call to access external knowledge."
    },
    "GoogleCloudAiplatformV1beta1GroundingChunkMaps": {
      "properties": {
        "route": {
          "$ref": "GoogleCloudAiplatformV1beta1GroundingChunkMapsRoute",
          "readOnly": true,
          "description": "Output only. Route information."
        },
        "placeAnswerSources": {
          "$ref": "GoogleCloudAiplatformV1beta1GroundingChunkMapsPlaceAnswerSources",
          "description": "The sources that were used to generate the place answer. This includes review snippets and photos that were used to generate the answer, as well as URIs to flag content."
        },
        "placeId": {
          "type": "string",
          "description": "This Place's resource name, in `places/{place_id}` format. This can be used to look up the place in the Google Maps API."
        },
        "title": {
          "type": "string",
          "description": "The title of the place."
        },
        "text": {
          "description": "The text of the place answer.",
          "type": "string"
        },
        "uri": {
          "description": "The URI of the place.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1GroundingChunkMaps",
      "description": "A `Maps` chunk is a piece of evidence that comes from Google Maps, containing information about places or routes. This is used to provide the user with rich, location-based information."
    },
    "GoogleCloudAiplatformV1beta1AudioResponseFormat": {
      "id": "GoogleCloudAiplatformV1beta1AudioResponseFormat",
      "properties": {
        "delivery": {
          "description": "Optional. Delivery mode for the generated content.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Generated bytes are returned inline in the response.",
            "Generated content is stored and a URI is returned."
          ],
          "enum": [
            "DELIVERY_UNSPECIFIED",
            "INLINE",
            "URI"
          ]
        },
        "bitRate": {
          "type": "integer",
          "description": "Optional. Bit rate in bits per second (bps). Only applicable for compressed formats (MP3, Opus).",
          "format": "int32"
        },
        "mimeType": {
          "type": "string",
          "description": "Optional. The MIME type of the audio output.",
          "enum": [
            "MIME_TYPE_UNSPECIFIED",
            "AUDIO_MP3",
            "AUDIO_OGG_OPUS",
            "AUDIO_L16",
            "AUDIO_WAV",
            "AUDIO_ALAW",
            "AUDIO_MULAW"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "MP3 audio format.",
            "OGG Opus audio format.",
            "Raw PCM (L16) audio format.",
            "WAV audio format.",
            "A-law audio format.",
            "Mu-law audio format."
          ]
        },
        "sampleRate": {
          "type": "integer",
          "description": "Optional. Sample rate for the generated audio in Hertz.",
          "format": "int32"
        }
      },
      "description": "Configuration for audio-specific output formatting.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1LogprobsResult": {
      "description": "The log probabilities of the tokens generated by the model. This is useful for understanding the model's confidence in its predictions and for debugging. For example, you can use log probabilities to identify when the model is making a less confident prediction or to explore alternative responses that the model considered. A low log probability can also indicate that the model is \"hallucinating\" or generating factually incorrect information.",
      "properties": {
        "chosenCandidates": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1LogprobsResultCandidate"
          },
          "type": "array",
          "description": "A list of the chosen candidate tokens at each decoding step. The length of this list is equal to the total number of decoding steps. Note that the chosen candidate might not be in `top_candidates`."
        },
        "topCandidates": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1LogprobsResultTopCandidates"
          },
          "type": "array",
          "description": "A list of the top candidate tokens at each decoding step. The length of this list is equal to the total number of decoding steps."
        }
      },
      "id": "GoogleCloudAiplatformV1beta1LogprobsResult",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1GoogleMapsRouting": {
      "description": "Grounding with Google Maps Routing APIs (ComputeRoutes and SearchAlongRoute).",
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1GoogleMapsRouting",
      "properties": {}
    },
    "GoogleCloudAiplatformV1beta1FunctionResponsePart": {
      "properties": {
        "inlineData": {
          "description": "Inline media bytes.",
          "$ref": "GoogleCloudAiplatformV1beta1FunctionResponseBlob"
        },
        "fileData": {
          "$ref": "GoogleCloudAiplatformV1beta1FunctionResponseFileData",
          "description": "URI based data."
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1FunctionResponsePart",
      "description": "A datatype containing media that is part of a `FunctionResponse` message. A `FunctionResponsePart` consists of data which has an associated datatype. A `FunctionResponsePart` can only contain one of the accepted types in `FunctionResponsePart.data`. A `FunctionResponsePart` must have a fixed IANA MIME type identifying the type and subtype of the media if the `inline_data` field is filled with raw bytes."
    },
    "GoogleCloudAiplatformV1beta1GroundingChunkImage": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1GroundingChunkImage",
      "properties": {
        "imageUri": {
          "type": "string",
          "description": "The URI of the image."
        },
        "domain": {
          "description": "The domain of the image search result page.",
          "type": "string"
        },
        "title": {
          "description": "The title of the image search result page.",
          "type": "string"
        },
        "sourceUri": {
          "description": "The URI of the image search result page.",
          "type": "string"
        }
      },
      "description": "An `Image` chunk is a piece of evidence that comes from an image search result. It contains the URI of the image search result and the URI of the image. This is used to provide the user with a link to the source of the information."
    },
    "GoogleCloudAiplatformV1beta1CountTokensResponse": {
      "description": "Response message for PredictionService.CountTokens.",
      "properties": {
        "promptTokensDetails": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1ModalityTokenCount"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. List of modalities that were processed in the request input."
        },
        "totalBillableCharacters": {
          "format": "int32",
          "description": "The total number of billable characters counted across all instances from the request.",
          "type": "integer"
        },
        "totalTokens": {
          "description": "The total number of tokens counted across all instances from the request.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudAiplatformV1beta1CountTokensResponse",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1ExternalApiSimpleSearchParams": {
      "id": "GoogleCloudAiplatformV1beta1ExternalApiSimpleSearchParams",
      "description": "The search parameters to use for SIMPLE_SEARCH spec.",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudAiplatformV1beta1FunctionCallingConfig": {
      "description": "Function calling config.",
      "id": "GoogleCloudAiplatformV1beta1FunctionCallingConfig",
      "type": "object",
      "properties": {
        "allowedFunctionNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Function names to call. Only set when the Mode is ANY. Function names should match FunctionDeclaration.name. With mode set to ANY, model will predict a function call from the set of function names provided."
        },
        "mode": {
          "enum": [
            "MODE_UNSPECIFIED",
            "AUTO",
            "ANY",
            "NONE",
            "VALIDATED"
          ],
          "enumDescriptions": [
            "Unspecified function calling mode. This value should not be used.",
            "Default model behavior, model decides to predict either function calls or natural language response.",
            "Model is constrained to always predicting function calls only. If \"allowed_function_names\" are set, the predicted function calls will be limited to any one of \"allowed_function_names\", else the predicted function calls will be any one of the provided \"function_declarations\".",
            "Model will not predict any function calls. Model behavior is same as when not passing any function declarations.",
            "Model is constrained to predict either function calls or natural language response. If \"allowed_function_names\" are set, the predicted function calls will be limited to any one of \"allowed_function_names\", else the predicted function calls will be any one of the provided \"function_declarations\"."
          ],
          "type": "string",
          "description": "Optional. Function calling mode."
        },
        "streamFunctionCallArguments": {
          "description": "Optional. When set to true, arguments of a single function call will be streamed out in multiple parts/contents/responses. Partial parameter results will be returned in the `FunctionCall.partial_args` field.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1GroundingMetadataSourceFlaggingUri": {
      "properties": {
        "sourceId": {
          "description": "The ID of the place or review.",
          "type": "string"
        },
        "flagContentUri": {
          "description": "The URI that can be used to flag the content.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1GroundingMetadataSourceFlaggingUri",
      "description": "A URI that can be used to flag a place or review for inappropriate content. This is populated only when the grounding source is Google Maps."
    },
    "GoogleCloudAiplatformV1beta1FunctionResponseFileData": {
      "properties": {
        "displayName": {
          "description": "Optional. Display name of the file data. Used to provide a label or filename to distinguish file datas. This field is only returned in PromptMessage for prompt management. It is currently used in the Gemini GenerateContent calls only when server side tools (code_execution, google_search, and url_context) are enabled.",
          "type": "string"
        },
        "mimeType": {
          "description": "Required. The IANA standard MIME type of the source data.",
          "type": "string"
        },
        "fileUri": {
          "description": "Required. URI.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1beta1FunctionResponseFileData",
      "type": "object",
      "description": "URI based data for function response."
    },
    "GoogleCloudAiplatformV1beta1ImageConfig": {
      "type": "object",
      "properties": {
        "imageOutputOptions": {
          "$ref": "GoogleCloudAiplatformV1beta1ImageConfigImageOutputOptions",
          "description": "Optional. The image output format for generated images."
        },
        "prominentPeople": {
          "enum": [
            "PROMINENT_PEOPLE_UNSPECIFIED",
            "ALLOW_PROMINENT_PEOPLE",
            "BLOCK_PROMINENT_PEOPLE"
          ],
          "enumDescriptions": [
            "Unspecified value. The model will proceed with the default behavior, which is to allow generation of prominent people.",
            "Allows the model to generate images of prominent people.",
            "Prevents the model from generating images of prominent people."
          ],
          "description": "Optional. Controls whether prominent people (celebrities) generation is allowed. If used with personGeneration, personGeneration enum would take precedence. For instance, if ALLOW_NONE is set, all person generation would be blocked. If this field is unspecified, the default behavior is to allow prominent people.",
          "type": "string"
        },
        "aspectRatio": {
          "type": "string",
          "description": "Optional. The desired aspect ratio for the generated images. The following aspect ratios are supported: \"1:1\" \"2:3\", \"3:2\" \"3:4\", \"4:3\" \"4:5\", \"5:4\" \"9:16\", \"16:9\" \"21:9\""
        },
        "personGeneration": {
          "description": "Optional. Controls whether the model can generate people.",
          "enumDescriptions": [
            "The default behavior is unspecified. The model will decide whether to generate images of people.",
            "Allows the model to generate images of people, including adults and children.",
            "Allows the model to generate images of adults, but not children.",
            "Prevents the model from generating images of people."
          ],
          "enum": [
            "PERSON_GENERATION_UNSPECIFIED",
            "ALLOW_ALL",
            "ALLOW_ADULT",
            "ALLOW_NONE"
          ],
          "type": "string"
        },
        "imageSize": {
          "type": "string",
          "description": "Optional. Specifies the size of generated images. Supported values are `1K`, `2K`, `4K`. If not specified, the model will use default value `1K`."
        }
      },
      "id": "GoogleCloudAiplatformV1beta1ImageConfig",
      "description": "Configuration for image generation. This message allows you to control various aspects of image generation, such as the output format, aspect ratio, and whether the model can generate images of people."
    },
    "GoogleCloudAiplatformV1beta1SafetyRating": {
      "id": "GoogleCloudAiplatformV1beta1SafetyRating",
      "description": "A safety rating for a piece of content. The safety rating contains the harm category and the harm probability level.",
      "type": "object",
      "properties": {
        "blocked": {
          "description": "Output only. Indicates whether the content was blocked because of this rating.",
          "readOnly": true,
          "type": "boolean"
        },
        "severity": {
          "enumDescriptions": [
            "The harm severity is unspecified.",
            "The harm severity is negligible.",
            "The harm severity is low.",
            "The harm severity is medium.",
            "The harm severity is high."
          ],
          "description": "Output only. The severity of harm for this category.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "HARM_SEVERITY_UNSPECIFIED",
            "HARM_SEVERITY_NEGLIGIBLE",
            "HARM_SEVERITY_LOW",
            "HARM_SEVERITY_MEDIUM",
            "HARM_SEVERITY_HIGH"
          ]
        },
        "probabilityScore": {
          "readOnly": true,
          "type": "number",
          "format": "float",
          "description": "Output only. The probability score of harm for this category."
        },
        "severityScore": {
          "type": "number",
          "format": "float",
          "description": "Output only. The severity score of harm for this category.",
          "readOnly": true
        },
        "probability": {
          "enum": [
            "HARM_PROBABILITY_UNSPECIFIED",
            "NEGLIGIBLE",
            "LOW",
            "MEDIUM",
            "HIGH"
          ],
          "description": "Output only. The probability of harm for this category.",
          "type": "string",
          "enumDescriptions": [
            "The harm probability is unspecified.",
            "The harm probability is negligible.",
            "The harm probability is low.",
            "The harm probability is medium.",
            "The harm probability is high."
          ],
          "readOnly": true
        },
        "category": {
          "description": "Output only. The harm category of this rating.",
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Content that promotes violence or incites hatred against individuals or groups based on certain attributes.",
            "Content that promotes, facilitates, or enables dangerous activities.",
            "Abusive, threatening, or content intended to bully, torment, or ridicule.",
            "Content that contains sexually explicit material.",
            "Deprecated: Election filter is not longer supported. The harm category is civic integrity.",
            "Images that contain hate speech.",
            "Images that contain dangerous content.",
            "Images that contain harassment.",
            "Images that contain sexually explicit content.",
            "Prompts designed to bypass safety filters."
          ],
          "enum": [
            "HARM_CATEGORY_UNSPECIFIED",
            "HARM_CATEGORY_HATE_SPEECH",
            "HARM_CATEGORY_DANGEROUS_CONTENT",
            "HARM_CATEGORY_HARASSMENT",
            "HARM_CATEGORY_SEXUALLY_EXPLICIT",
            "HARM_CATEGORY_CIVIC_INTEGRITY",
            "HARM_CATEGORY_IMAGE_HATE",
            "HARM_CATEGORY_IMAGE_DANGEROUS_CONTENT",
            "HARM_CATEGORY_IMAGE_HARASSMENT",
            "HARM_CATEGORY_IMAGE_SEXUALLY_EXPLICIT",
            "HARM_CATEGORY_JAILBREAK"
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false
          ],
          "type": "string"
        },
        "overwrittenThreshold": {
          "description": "Output only. The overwritten threshold for the safety category of Gemini 2.0 image out. If minors are detected in the output image, the threshold of each safety category will be overwritten if user sets a lower threshold.",
          "readOnly": true,
          "enumDescriptions": [
            "The harm block threshold is unspecified.",
            "Block content with a low harm probability or higher.",
            "Block content with a medium harm probability or higher.",
            "Block content with a high harm probability.",
            "Do not block any content, regardless of its harm probability.",
            "Turn off the safety filter entirely."
          ],
          "type": "string",
          "enum": [
            "HARM_BLOCK_THRESHOLD_UNSPECIFIED",
            "BLOCK_LOW_AND_ABOVE",
            "BLOCK_MEDIUM_AND_ABOVE",
            "BLOCK_ONLY_HIGH",
            "BLOCK_NONE",
            "OFF"
          ]
        }
      }
    },
    "GoogleCloudAiplatformV1beta1AudioTranscription": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1AudioTranscription",
      "properties": {
        "speakerLabel": {
          "description": "Optional. A label identifying the speaker of this audio segment (e.g. `spk_1`, `spk_2`). Present when `diarization` is set.",
          "type": "string"
        },
        "text": {
          "type": "string",
          "description": "Required. The transcription text of this audio segment."
        },
        "words": {
          "type": "array",
          "description": "Optional. Detailed word-level transcriptions and timing details. Present when `word_timestamp` is set.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1AudioTranscriptionWordInfo"
          }
        }
      },
      "description": "The transcription of an audio part. For multi-speaker audio, each speaker segment is a separate `Part` with its own `AudioTranscription` carrying the `speaker_label`."
    },
    "GoogleCloudAiplatformV1beta1VideoResponseFormat": {
      "type": "object",
      "properties": {
        "aspectRatio": {
          "enum": [
            "ASPECT_RATIO_UNSPECIFIED",
            "ASPECT_RATIO_SIXTEEN_BY_NINE",
            "ASPECT_RATIO_NINE_BY_SIXTEEN"
          ],
          "description": "The aspect ratio for the video output.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "16:9 aspect ratio.",
            "9:16 aspect ratio."
          ],
          "type": "string"
        },
        "resolution": {
          "description": "Optional. The video output resolution. Supported values: \"360p\", \"720p\", \"1080p\", \"4k\".",
          "type": "string"
        },
        "delivery": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Generated bytes are returned inline in the response.",
            "Generated content is stored and a URI is returned."
          ],
          "enum": [
            "DELIVERY_UNSPECIFIED",
            "INLINE",
            "URI"
          ],
          "description": "Optional. Delivery mode for the generated content."
        },
        "gcsUri": {
          "type": "string",
          "description": "Optional. The Google Cloud Storage URI to store the video output. Required for Vertex if delivery is URI."
        },
        "duration": {
          "description": "Optional. The duration for the video output.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "id": "GoogleCloudAiplatformV1beta1VideoResponseFormat",
      "description": "Configuration for video-specific output formatting."
    },
    "GoogleCloudAiplatformV1beta1UrlContextMetadata": {
      "type": "object",
      "description": "Metadata returned when the model uses the `url_context` tool to get information from a user-provided URL.",
      "id": "GoogleCloudAiplatformV1beta1UrlContextMetadata",
      "properties": {
        "urlMetadata": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1UrlMetadata"
          },
          "type": "array",
          "description": "Output only. A list of URL metadata, with one entry for each URL retrieved by the tool.",
          "readOnly": true
        }
      }
    },
    "GoogleCloudAiplatformV1beta1LogprobsResultCandidate": {
      "description": "A single token and its associated log probability.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1LogprobsResultCandidate",
      "properties": {
        "logProbability": {
          "description": "The log probability of this token. A higher value indicates that the model was more confident in this token. The log probability can be used to assess the relative likelihood of different tokens and to identify when the model is uncertain.",
          "type": "number",
          "format": "float"
        },
        "tokenId": {
          "description": "The token's numerical ID. While the `token` field provides the string representation of the token, the `token_id` is the numerical representation that the model uses internally. This can be useful for developers who want to build custom logic based on the model's vocabulary.",
          "format": "int32",
          "type": "integer"
        },
        "token": {
          "description": "The token's string representation.",
          "type": "string"
        }
      }
    },
    "Date": {
      "type": "object",
      "id": "Date",
      "properties": {
        "month": {
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32"
        },
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "format": "int32",
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        }
      },
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "GoogleCloudAiplatformV1beta1AuthConfigHttpBasicAuthConfig": {
      "properties": {
        "credentialSecret": {
          "type": "string",
          "description": "Required. The name of the SecretManager secret version resource storing the base64 encoded credentials. Format: `projects/{project}/secrets/{secrete}/versions/{version}` - If specified, the `secretmanager.versions.access` permission should be granted to Vertex AI Extension Service Agent (https://cloud.google.com/vertex-ai/docs/general/access-control#service-agents) on the specified resource."
        }
      },
      "id": "GoogleCloudAiplatformV1beta1AuthConfigHttpBasicAuthConfig",
      "description": "Config for HTTP Basic Authentication.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1Candidate": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1Candidate",
      "properties": {
        "citationMetadata": {
          "readOnly": true,
          "description": "Output only. A collection of citations that apply to the generated content.",
          "$ref": "GoogleCloudAiplatformV1beta1CitationMetadata"
        },
        "content": {
          "$ref": "GoogleCloudAiplatformV1beta1Content",
          "description": "Output only. The content of the candidate.",
          "readOnly": true
        },
        "safetyRatings": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1SafetyRating"
          },
          "description": "Output only. A list of ratings for the safety of a response candidate. There is at most one rating per category.",
          "type": "array",
          "readOnly": true
        },
        "urlContextMetadata": {
          "description": "Output only. Metadata returned when the model uses the `url_context` tool to get information from a user-provided URL.",
          "$ref": "GoogleCloudAiplatformV1beta1UrlContextMetadata",
          "readOnly": true
        },
        "logprobsResult": {
          "$ref": "GoogleCloudAiplatformV1beta1LogprobsResult",
          "description": "Output only. The detailed log probability information for the tokens in this candidate. This is useful for debugging, understanding model uncertainty, and identifying potential \"hallucinations\".",
          "readOnly": true
        },
        "avgLogprobs": {
          "type": "number",
          "readOnly": true,
          "format": "double",
          "description": "Output only. The average log probability of the tokens in this candidate. This is a length-normalized score that can be used to compare the quality of candidates of different lengths. A higher average log probability suggests a more confident and coherent response."
        },
        "finishReason": {
          "enum": [
            "FINISH_REASON_UNSPECIFIED",
            "STOP",
            "MAX_TOKENS",
            "SAFETY",
            "RECITATION",
            "OTHER",
            "BLOCKLIST",
            "PROHIBITED_CONTENT",
            "SPII",
            "MALFORMED_FUNCTION_CALL",
            "MODEL_ARMOR",
            "IMAGE_SAFETY",
            "IMAGE_PROHIBITED_CONTENT",
            "IMAGE_RECITATION",
            "IMAGE_OTHER",
            "UNEXPECTED_TOOL_CALL",
            "NO_IMAGE"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The finish reason is unspecified.",
            "The model reached a natural stopping point or a configured stop sequence.",
            "The model generated the maximum number of tokens allowed by the `max_output_tokens` parameter.",
            "The model stopped generating because the content potentially violates safety policies. NOTE: When streaming, the `content` field is empty if content filters block the output.",
            "The model stopped generating because the content may be a recitation from a source.",
            "The model stopped generating for a reason not otherwise specified.",
            "The model stopped generating because the content contains a term from a configured blocklist.",
            "The model stopped generating because the content may be prohibited.",
            "The model stopped generating because the content may contain sensitive personally identifiable information (SPII).",
            "The model generated a function call that is syntactically invalid and can't be parsed.",
            "The model response was blocked by Model Armor.",
            "The generated image potentially violates safety policies.",
            "The generated image may contain prohibited content.",
            "The generated image may be a recitation from a source.",
            "The image generation stopped for a reason not otherwise specified.",
            "The model generated a function call that is semantically invalid. This can happen, for example, if function calling is not enabled or the generated function is not in the function declaration.",
            "The model was expected to generate an image, but didn't."
          ],
          "description": "Output only. The reason why the model stopped generating tokens. If empty, the model has not stopped generating."
        },
        "groundingMetadata": {
          "description": "Output only. Metadata returned when grounding is enabled. It contains the sources used to ground the generated content.",
          "$ref": "GoogleCloudAiplatformV1beta1GroundingMetadata",
          "readOnly": true
        },
        "finishMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Describes the reason the model stopped generating tokens in more detail. This field is returned only when `finish_reason` is set."
        },
        "index": {
          "description": "Output only. The 0-based index of this candidate in the list of generated responses. This is useful for distinguishing between multiple candidates when `candidate_count` > 1.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        }
      },
      "description": "A response candidate generated from the model."
    },
    "GoogleCloudAiplatformV1beta1GenerationConfigRoutingConfigAutoRoutingMode": {
      "description": "The configuration for automated routing. When automated routing is specified, the routing will be determined by the pretrained routing model and customer provided model routing preference.",
      "properties": {
        "modelRoutingPreference": {
          "enumDescriptions": [
            "Unspecified model routing preference.",
            "The model will be selected to prioritize the quality of the response.",
            "The model will be selected to balance quality and cost.",
            "The model will be selected to prioritize the cost of the request."
          ],
          "enum": [
            "UNKNOWN",
            "PRIORITIZE_QUALITY",
            "BALANCED",
            "PRIORITIZE_COST"
          ],
          "description": "The model routing preference.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1GenerationConfigRoutingConfigAutoRoutingMode"
    },
    "GoogleCloudAiplatformV1beta1Part": {
      "description": "A datatype containing media that is part of a multi-part Content message. A `Part` consists of data which has an associated datatype. A `Part` can only contain one of the accepted types in `Part.data`. For media types that are not text, `Part` must have a fixed IANA MIME type identifying the type and subtype of the media if `inline_data` or `file_data` field is filled with raw bytes.",
      "type": "object",
      "properties": {
        "mediaProcessing": {
          "description": "Optional. How the model processes this part's media for understanding. Only meaningful for video parts (`inline_data` or `file_data` with video mime). Non-video parts ignore this field.",
          "type": "string",
          "enum": [
            "MEDIA_PROCESSING_UNSPECIFIED",
            "STATIC",
            "AGENTIC"
          ],
          "enumDescriptions": [
            "Default. Uses model-specific processing (3.5 Pro+ -> `AGENTIC`, older models -> `STATIC`).",
            "Fixed-rate frame extraction. All frames placed in context.",
            "Model-driven dynamic navigation. Recommended for most use cases."
          ]
        },
        "inlineData": {
          "$ref": "GoogleCloudAiplatformV1beta1Blob",
          "description": "Optional. The inline data content of the part. This can be used to include images, audio, or video in a request."
        },
        "executableCode": {
          "$ref": "GoogleCloudAiplatformV1beta1ExecutableCode",
          "description": "Optional. Code generated by the model that is intended to be executed."
        },
        "thought": {
          "description": "Optional. Indicates whether the `part` represents the model's thought process or reasoning.",
          "type": "boolean"
        },
        "codeExecutionResult": {
          "$ref": "GoogleCloudAiplatformV1beta1CodeExecutionResult",
          "description": "Optional. The result of executing the ExecutableCode."
        },
        "functionCall": {
          "$ref": "GoogleCloudAiplatformV1beta1FunctionCall",
          "description": "Optional. A predicted function call returned from the model. This contains the name of the function to call and the arguments to pass to the function."
        },
        "functionResponse": {
[...]
