{
  "rootUrl": "https://firebaseapphosting.googleapis.com/",
  "protocol": "rest",
  "ownerDomain": "google.com",
  "documentationLink": "https://firebase.google.com/docs/app-hosting",
  "name": "firebaseapphosting",
  "revision": "20260827",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version": "v1",
  "title": "Firebase App Hosting API",
  "canonicalName": "Firebase App Hosting",
  "version_module": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "backends": {
              "methods": {
                "create": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backends",
                  "request": {
                    "$ref": "Backend"
                  },
                  "id": "firebaseapphosting.projects.locations.backends.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "description": "Creates a new backend in a given project and location.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and t he request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. A parent name of the form `projects/{project}/locations/{locationId}`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "backendId": {
                      "type": "string",
                      "description": "Required. Id of the backend. Also used as the service ID for Cloud Run, and as part of the default domain name.",
                      "location": "query"
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "description": "Optional. Indicates that the request should be validated and default values populated, without persisting the request or creating any resources.",
                      "location": "query"
                    }
                  },
                  "path": "v1/{+parent}/backends"
                },
                "get": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. Name of the resource in the format: `projects/{project}/locations/{locationId}/backends/{backendId}`.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/backends/[^/]+$"
                    }
                  },
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Backend"
                  },
                  "id": "firebaseapphosting.projects.locations.backends.get",
                  "description": "Gets information about a backend.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backends/{backendsId}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "id": "firebaseapphosting.projects.locations.backends.delete",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "etag": {
                      "type": "string",
                      "description": "Optional. If the client provided etag is out of date, delete will be returned FAILED_PRECONDITION error.",
                      "location": "query"
                    },
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. Name of the resource in the format: `projects/{project}/locations/{locationId}/backends/{backendId}`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/backends/[^/]+$"
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and t he request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "force": {
                      "type": "boolean",
                      "description": "Optional. If set to true, any resources for this backend will also be deleted. Otherwise, any children resources will block deletion.",
                      "location": "query"
                    },
                    "validateOnly": {
                      "description": "Optional. Indicates that the request should be validated, without persisting the request or updating any resources.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backends/{backendsId}",
                  "httpMethod": "DELETE",
                  "description": "Deletes a single backend."
                },
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backends",
                  "id": "firebaseapphosting.projects.locations.backends.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "description": "Lists backends in a given project and location.",
                  "parameters": {
                    "orderBy": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Hint for how to order the results. Supported fields are `name` and `createTime`. To specify descending order, append a `desc` suffix."
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. A filter to narrow down results to a preferred subset. Learn more about filtering in Google's [AIP 160 standard](https://google.aip.dev/160).",
                      "location": "query"
                    },
                    "showDeleted": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. If true, the request returns soft-deleted resources that haven't been fully-deleted yet."
                    },
                    "parent": {
                      "description": "Required. A parent name of the form `projects/{project}/locations/{locationId}`.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A page token received from the nextPageToken field in the response. Send that page token to receive the subsequent page.",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. The maximum number of results to return. If not set, the service selects a default."
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/backends",
                  "response": {
                    "$ref": "ListBackendsResponse"
                  }
                },
                "patch": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backends/{backendsId}",
                  "request": {
                    "$ref": "Backend"
                  },
                  "id": "firebaseapphosting.projects.locations.backends.patch",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "PATCH",
                  "description": "Updates the information for a single backend.",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "validateOnly": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Optional. Indicates that the request should be validated, without persisting the request or updating any resources."
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/backends/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Identifier. The resource name of the backend. Format: `projects/{project}/locations/{locationId}/backends/{backendId}`.",
                      "location": "path"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and t he request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "updateMask": {
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the backend resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    },
                    "allowMissing": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Optional. If set to true, and the backend is not found, a new backend will be created."
                    }
                  }
                }
              },
              "resources": {
                "builds": {
                  "methods": {
                    "get": {
                      "description": "Gets information about a build.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backends/{backendsId}/builds/{buildsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/backends/[^/]+/builds/[^/]+$",
                          "description": "Required. Name of the resource in the format: `projects/{project}/locations/{locationId}/backends/{backendId}/builds/{buildId}`.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "id": "firebaseapphosting.projects.locations.backends.builds.get",
                      "response": {
                        "$ref": "Build"
                      },
                      "path": "v1/{+name}",
                      "httpMethod": "GET"
                    },
                    "create": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "firebaseapphosting.projects.locations.backends.builds.create",
                      "response": {
                        "$ref": "Operation"
                      },
                      "request": {
                        "$ref": "Build"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/builds",
                      "parameters": {
                        "validateOnly": {
                          "description": "Optional. Indicates that the request should be validated and default values populated, without persisting the request or creating any resources.",
                          "type": "boolean",
                          "location": "query"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/backends/[^/]+$",
                          "required": true,
                          "description": "Required. The parent backend in the format: `projects/{project}/locations/{locationId}/backends/{backendId}`.",
                          "type": "string",
                          "location": "path"
                        },
                        "requestId": {
                          "type": "string",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query"
                        },
                        "buildId": {
                          "location": "query",
                          "description": "Required. Desired ID of the build being created.",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backends/{backendsId}/builds",
                      "httpMethod": "POST",
                      "description": "Creates a new build for a backend."
                    },
                    "list": {
                      "path": "v1/{+parent}/builds",
                      "description": "Lists builds in a given project, location, and backend.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListBuildsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backends/{backendsId}/builds",
                      "id": "firebaseapphosting.projects.locations.backends.builds.list",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/backends/[^/]+$",
                          "type": "string",
                          "description": "Required. The parent backend in the form `projects/{project}/locations/{locationId}/backends/{backendId}`."
                        },
                        "orderBy": {
                          "description": "Optional. Hint for how to order the results. Supported fields are `name` and `createTime`. To specify descending order, append a `desc` suffix.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "Optional. A page token received from the nextPageToken field in the response. Send that page token to receive the subsequent page.",
                          "location": "query",
                          "type": "string"
                        },
                        "filter": {
                          "description": "Optional. A filter to narrow down results to a preferred subset. Learn more about filtering in Google's [AIP 160 standard](https://google.aip.dev/160).",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "description": "Optional. The maximum number of results to return. If not set, the service selects a default.",
                          "format": "int32"
                        },
                        "showDeleted": {
                          "location": "query",
                          "description": "Optional. If true, the request returns soft-deleted resources that haven't been fully-deleted yet.",
                          "type": "boolean"
                        }
                      },
                      "httpMethod": "GET"
                    },
                    "delete": {
                      "description": "Deletes a single build.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "firebaseapphosting.projects.locations.backends.builds.delete",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "DELETE",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backends/{backendsId}/builds/{buildsId}",
                      "parameters": {
                        "requestId": {
                          "type": "string",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/backends/[^/]+/builds/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. Name of the resource in the format: `projects/{project}/locations/{locationId}/backends/{backendId}/builds/{buildId}`."
                        },
                        "validateOnly": {
                          "location": "query",
                          "type": "boolean",
                          "description": "Optional. Indicates that the request should be validated and default values populated, without persisting the request or deleting any resources."
                        },
                        "etag": {
                          "location": "query",
                          "description": "Optional. If the client provided etag is out of date, delete will be returned FAILED_PRECONDITION error.",
                          "type": "string"
                        }
                      },
                      "path": "v1/{+name}"
                    }
                  }
                },
                "traffic": {
                  "methods": {
                    "patch": {
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "firebaseapphosting.projects.locations.backends.traffic.patch",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backends/{backendsId}/traffic",
                      "description": "Updates a backend's traffic.",
                      "request": {
                        "$ref": "Traffic"
                      },
                      "httpMethod": "PATCH",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "requestId": {
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and t he request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "type": "string",
                          "location": "query"
                        },
                        "validateOnly": {
                          "location": "query",
                          "type": "boolean",
                          "description": "Optional. Indicates that the request should be validated, without persisting the request or updating any resources."
                        },
                        "updateMask": {
                          "format": "google-fieldmask",
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Field mask is used to specify the fields to be overwritten in the traffic resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten."
                        },
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/backends/[^/]+/traffic$",
                          "description": "Identifier. The resource name of the backend's traffic. Format: `projects/{project}/locations/{locationId}/backends/{backendId}/traffic`.",
                          "location": "path",
                          "required": true
                        }
                      }
                    },
                    "get": {
                      "response": {
                        "$ref": "Traffic"
                      },
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/backends/[^/]+/traffic$",
                          "required": true,
                          "type": "string",
                          "description": "Required. Name of the resource in the format: `projects/{project}/locations/{locationId}/backends/{backendId}/traffic`.",
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backends/{backendsId}/traffic",
                      "description": "Gets information about a backend's traffic.",
                      "id": "firebaseapphosting.projects.locations.backends.traffic.get"
                    }
                  }
                },
                "domains": {
                  "methods": {
                    "get": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backends/{backendsId}/domains/{domainsId}",
                      "httpMethod": "GET",
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. Name of the resource in the format: `projects/{project}/locations/{locationId}/backends/{backendId}/domains/{domainId}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/backends/[^/]+/domains/[^/]+$"
                        }
                      },
                      "description": "Gets information about a domain.",
                      "id": "firebaseapphosting.projects.locations.backends.domains.get",
                      "response": {
                        "$ref": "Domain"
                      }
                    },
                    "patch": {
                      "parameters": {
                        "allowMissing": {
                          "type": "boolean",
                          "description": "Optional. If set to true, and the domain is not found, a new domain will be created.",
                          "location": "query"
                        },
                        "validateOnly": {
                          "type": "boolean",
                          "location": "query",
                          "description": "Optional. Indicates that the request should be validated and default values populated, without persisting the request or modifying any resources."
                        },
                        "requestId": {
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query",
                          "type": "string"
                        },
                        "updateMask": {
                          "type": "string",
                          "format": "google-fieldmask",
                          "description": "Optional. Field mask is used to specify the fields to be overwritten in the Domain resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                          "location": "query"
                        },
                        "name": {
                          "location": "path",
                          "description": "Identifier. The resource name of the domain, e.g. `/projects/p/locations/l/backends/b/domains/foo.com`",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/backends/[^/]+/domains/[^/]+$",
                          "type": "string"
                        }
                      },
                      "description": "Updates the information for a single domain.",
                      "httpMethod": "PATCH",
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backends/{backendsId}/domains/{domainsId}",
                      "request": {
                        "$ref": "Domain"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "firebaseapphosting.projects.locations.backends.domains.patch"
                    },
                    "create": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/domains",
                      "request": {
                        "$ref": "Domain"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backends/{backendsId}/domains",
                      "httpMethod": "POST",
                      "description": "Links a new domain to a backend.",
                      "parameters": {
                        "validateOnly": {
                          "type": "boolean",
                          "location": "query",
                          "description": "Optional. Indicates that the request should be validated and default values populated, without persisting the request or creating any resources."
                        },
                        "domainId": {
                          "type": "string",
                          "location": "query",
                          "description": "Required. Id of the domain to create. Must be a valid domain name."
                        },
                        "requestId": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/backends/[^/]+$",
                          "type": "string",
                          "description": "Required. The parent backend in the format: `projects/{project}/locations/{locationId}/backends/{backendId}`.",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "firebaseapphosting.projects.locations.backends.domains.create",
                      "response": {
                        "$ref": "Operation"
                      }
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "etag": {
                          "type": "string",
                          "description": "Optional. If the client provided etag is out of date, delete will be returned FAILED_PRECONDITION error.",
                          "location": "query"
                        },
                        "requestId": {
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "type": "string",
                          "location": "query"
                        },
                        "validateOnly": {
                          "location": "query",
                          "description": "Optional. Indicates that the request should be validated and default values populated, without persisting the request or deleting any resources.",
                          "type": "boolean"
                        },
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/backends/[^/]+/domains/[^/]+$",
                          "required": true,
                          "location": "path",
                          "description": "Required. Name of the resource in the format: `projects/{project}/locations/{locationId}/backends/{backendId}/domains/{domainId}`."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "firebaseapphosting.projects.locations.backends.domains.delete",
                      "description": "Deletes a single domain.",
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backends/{backendsId}/domains/{domainsId}"
                    },
                    "list": {
                      "description": "Lists domains of a backend.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backends/{backendsId}/domains",
                      "response": {
                        "$ref": "ListDomainsResponse"
                      },
                      "path": "v1/{+parent}/domains",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/backends/[^/]+$",
                          "description": "Required. The parent backend in the format: `projects/{project}/locations/{locationId}/backends/{backendId}`.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "pageSize": {
                          "description": "Optional. The maximum number of results to return. If not set, the service selects a default.",
                          "type": "integer",
                          "format": "int32",
                          "location": "query"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. A page token received from the nextPageToken field in the response. Send that page token to receive the subsequent page.",
                          "type": "string"
                        },
                        "orderBy": {
                          "description": "Optional. Hint for how to order the results. Supported fields are `name` and `createTime`. To specify descending order, append a `desc` suffix.",
                          "location": "query",
                          "type": "string"
                        },
                        "filter": {
                          "type": "string",
                          "description": "Optional. A filter to narrow down results to a preferred subset. Learn more about filtering in Google's [AIP 160 standard](https://google.aip.dev/160).",
                          "location": "query"
                        },
                        "showDeleted": {
                          "type": "boolean",
                          "location": "query",
                          "description": "Optional. If true, the request returns soft-deleted resources that haven't been fully-deleted yet."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "firebaseapphosting.projects.locations.backends.domains.list",
                      "httpMethod": "GET"
                    }
                  }
                },
                "rollouts": {
                  "methods": {
                    "create": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backends/{backendsId}/rollouts",
                      "request": {
                        "$ref": "Rollout"
                      },
                      "id": "firebaseapphosting.projects.locations.backends.rollouts.create",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1/{+parent}/rollouts",
                      "parameters": {
                        "rolloutId": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Desired ID of the rollout being created."
                        },
                        "validateOnly": {
                          "type": "boolean",
                          "location": "query",
                          "description": "Optional. Indicates that the request should be validated and default values populated, without persisting the request or creating any resources."
                        },
                        "requestId": {
                          "location": "query",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "type": "string"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/backends/[^/]+$",
                          "type": "string",
                          "description": "Required. The parent backend in the format: `projects/{project}/locations/{locationId}/backends/{backendId}`.",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "description": "Creates a new rollout for a backend."
                    },
                    "get": {
                      "description": "Gets information about a rollout.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backends/{backendsId}/rollouts/{rolloutsId}",
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the resource in the format: `projects/{project}/locations/{locationId}/backends/{backendId}/rollouts/{rolloutId}`.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/backends/[^/]+/rollouts/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "id": "firebaseapphosting.projects.locations.backends.rollouts.get",
                      "response": {
                        "$ref": "Rollout"
                      },
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "list": {
                      "response": {
                        "$ref": "ListRolloutsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/rollouts",
                      "id": "firebaseapphosting.projects.locations.backends.rollouts.list",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "description": "Required. The parent backend in the format: `projects/{project}/locations/{locationId}/backends/{backendId}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/backends/[^/]+$",
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "Optional. A page token received from the nextPageToken field in the response. Send that page token to receive the subsequent page.",
                          "location": "query",
                          "type": "string"
                        },
                        "filter": {
                          "description": "Optional. A filter to narrow down results to a preferred subset. Learn more about filtering in Google's [AIP 160 standard](https://google.aip.dev/160).",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "description": "Optional. The maximum number of results to return. If not set, the service selects a default.",
                          "type": "integer"
                        },
                        "showDeleted": {
                          "location": "query",
                          "description": "Optional. If true, the request returns soft-deleted resources that haven't been fully-deleted yet.",
                          "type": "boolean"
                        },
                        "orderBy": {
                          "location": "query",
                          "description": "Optional. Hint for how to order the results. Supported fields are `name` and `createTime`. To specify descending order, append a `desc` suffix.",
                          "type": "string"
                        }
                      },
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists rollouts for a backend.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backends/{backendsId}/rollouts"
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "delete": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "httpMethod": "DELETE",
                  "id": "firebaseapphosting.projects.locations.operations.delete",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be deleted.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  }
                },
                "list": {
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "parameters": {
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "The name of the operation's parent resource."
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "The standard list page size.",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list filter."
                    }
                  },
                  "id": "firebaseapphosting.projects.locations.operations.list",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "path": "v1/{+name}/operations"
                },
                "cancel": {
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "path": "v1/{+name}:cancel",
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "id": "firebaseapphosting.projects.locations.operations.cancel",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "firebaseapphosting.projects.locations.operations.get",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation resource.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}"
                }
              }
            }
          },
          "methods": {
            "list": {
              "httpMethod": "GET",
              "id": "firebaseapphosting.projects.locations.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page."
                },
                "name": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "description": "The resource that owns the locations collection, if applicable.",
                  "type": "string",
                  "location": "path"
                },
                "filter": {
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of results to return. If not set, the service selects a default."
                },
                "extraLocationTypes": {
                  "type": "string",
                  "repeated": true,
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/locations",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "path": "v1/{+name}/locations"
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "id": "firebaseapphosting.projects.locations.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Location"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Resource name for the location.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "description": "Gets information about a location.",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "path": "v1/{+name}"
            }
          }
        }
      }
    }
  },
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "id": "firebaseapphosting:v1",
  "basePath": "",
  "description": "Firebase App Hosting streamlines the development and deployment of dynamic Next.js and Angular applications, offering built-in framework support, GitHub integration, and integration with other Firebase products. You can use this API to intervene in the Firebase App Hosting build process and add custom functionality not supported in our default Console & CLI flows, including triggering builds from external CI/CD workflows or deploying from pre-built container images. ",
  "servicePath": "",
  "baseUrl": "https://firebaseapphosting.googleapis.com/",
  "parameters": {
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    }
  },
  "schemas": {
    "OperationMetadata": {
      "id": "OperationMetadata",
      "description": "Represents the metadata of a long-running operation.",
      "type": "object",
      "properties": {
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running."
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "RolloutPolicy": {
      "properties": {
        "ignoredPaths": {
          "type": "array",
          "description": "Optional. A list of file paths patterns to exclude from triggering a rollout. Patterns in this list take precedence over required_paths. **Note**: All paths must be in the ignored_paths in order for the rollout to be skipped. Limited to 100 paths. Example: ``` ignored_paths: { pattern: \"foo/bar/excluded/*\", type: \"GLOB\" } ```",
          "items": {
            "$ref": "Path"
          }
        },
        "codebaseBranch": {
          "description": "If set, specifies a branch that triggers a new build to be started with this policy. Otherwise, no automatic rollouts will happen.",
          "type": "string"
        },
        "disabled": {
          "type": "boolean",
          "description": "Optional. A flag that, if true, prevents automatic rollouts from being created via this RolloutPolicy."
        },
        "disabledTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. If `disabled` is set, the time at which the automatic rollouts were disabled."
        },
        "requiredPaths": {
          "description": "Optional. A list of file paths patterns that trigger a build and rollout if at least one of the changed files in the commit are present in this list. This field is optional; the rollout policy will default to triggering on all paths if both ignored_paths and required_paths are not populated. Limited to 100 paths. Example: ``` required_paths: { pattern: \"foo/bar/*\", type: \"GLOB\" } ```",
          "items": {
            "$ref": "Path"
          },
          "type": "array"
        }
      },
      "id": "RolloutPolicy",
      "type": "object",
      "description": "The policy for how automatic builds and rollouts are triggered and rolled out."
    },
    "Config": {
      "id": "Config",
      "properties": {
        "runConfig": {
          "$ref": "RunConfig",
          "description": "Optional. Additional configuration of the Cloud Run [`service`](https://cloud.google.com/run/docs/reference/rest/v2/projects.locations.services#resource:-service)."
        },
        "effectiveEnv": {
          "description": "Output only. [OUTPUT_ONLY] This field represents all environment variables employed during both the build and runtime. This list reflects the result of merging variables from all sources (Backend.override_env, Build.Config.env, YAML, defaults, system). Each variable includes its `origin`",
          "items": {
            "$ref": "EnvironmentVariable"
          },
          "readOnly": true,
          "type": "array"
        },
        "env": {
          "description": "Optional. Supplied environment variables for a specific build. Provided at Build creation time and immutable afterwards. This field is only applicable for Builds using a build image - (e.g., ContainerSource or ArchiveSource with locally_built_source) Attempts to set this for other build types will result in an error",
          "items": {
            "$ref": "EnvironmentVariable"
          },
          "type": "array"
        }
      },
      "description": "Additional configuration of the backend for this build.",
      "type": "object"
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location",
      "type": "object",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        }
      }
    },
    "CodebaseSource": {
      "id": "CodebaseSource",
      "description": "A codebase source, representing the state of the codebase that the build will be created at.",
      "type": "object",
      "properties": {
        "author": {
          "readOnly": true,
          "$ref": "UserMetadata",
          "description": "Output only. The author contained in the metadata of a version control change."
        },
        "commitTime": {
          "description": "Output only. The time the change was made.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "hash": {
          "readOnly": true,
          "description": "Output only. The full SHA-1 hash of a Git commit, if available.",
          "type": "string"
        },
        "commit": {
          "type": "string",
          "description": "The commit in the codebase to build from."
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. The human-friendly name to use for this Codebase when displaying a build. We use the first eight characters of the SHA-1 hash for GitHub.com.",
          "type": "string"
        },
        "branch": {
          "description": "The branch in the codebase to build from, using the latest commit.",
          "type": "string"
        },
        "uri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A URI linking to the codebase on an hosting provider's website. May not be valid if the commit has been rebased or force-pushed out of existence in the linked repository."
        },
        "repository": {
          "description": "Output only. The resource name for the Developer Connect [`gitRepositoryLink`](https://cloud.google.com/developer-connect/docs/api/reference/rest/v1/projects.locations.connections.gitRepositoryLinks) used for this build, in the format: `projects/{project}/locations/{location}/connections/{connection}/gitRepositoryLinks/{repositoryLink}`",
          "type": "string",
          "readOnly": true
        },
        "commitMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The message of a codebase change."
        }
      }
    },
    "ListBuildsResponse": {
      "properties": {
        "builds": {
          "type": "array",
          "description": "The list of builds.",
          "items": {
            "$ref": "Build"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying the next page of results the server should return."
        }
      },
      "id": "ListBuildsResponse",
      "type": "object",
      "description": "Message for response to list builds."
    },
    "ContainerSource": {
      "properties": {
        "image": {
          "type": "string",
          "description": "Required. A URI representing a container for the backend to use."
        }
      },
      "type": "object",
      "id": "ContainerSource",
      "description": "The URI of an Artifact Registry [container image](https://cloud.google.com/artifact-registry/docs/reference/rest/v1/projects.locations.repositories.dockerImages) to use as the build source."
    },
    "Redirect": {
      "description": "Specifies redirect behavior for a domain.",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Required. The URI of the redirect's intended destination. This URI will be prepended to the original request path. URI without a scheme are assumed to be HTTPS."
        },
        "status": {
          "format": "int64",
          "description": "Optional. The status code to use in a redirect response. Must be a valid HTTP 3XX status code. Defaults to 302 if not present.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Redirect"
    },
    "Empty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "Empty"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "id": "Status"
    },
    "SourceUserMetadata": {
      "description": "Deprecated: Not used. Metadata for the user who started the build.",
      "type": "object",
      "properties": {
        "imageUri": {
          "type": "string",
          "deprecated": true,
          "description": "Output only. Deprecated: Not used. The URI of a profile photo associated with the user who created the build.",
          "readOnly": true
        },
        "email": {
          "deprecated": true,
          "description": "Output only. Deprecated: Not used. The account email linked to the EUC that created the build. May be a service account or other robot account.",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "description": "Output only. Deprecated: Not used. The user-chosen displayname. May be empty.",
          "type": "string",
          "deprecated": true,
          "readOnly": true
        }
      },
      "id": "SourceUserMetadata",
      "deprecated": true
    },
    "Traffic": {
      "type": "object",
      "properties": {
        "target": {
          "description": "Set to manually control the desired traffic for the backend. This will cause `current` to eventually match this value. The percentages must add up to 100%.",
          "$ref": "TrafficSet"
        },
        "labels": {
          "description": "Optional. Unstructured key value map that can be used to organize and categorize objects.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "rolloutPolicy": {
          "$ref": "RolloutPolicy",
          "description": "A rollout policy specifies how new builds and automatic deployments are created."
        },
        "current": {
          "readOnly": true,
          "$ref": "TrafficSet",
          "description": "Output only. Current state of traffic allocation for the backend. When setting `target`, this field may differ for some time until the desired state is reached."
        },
        "createTime": {
          "description": "Output only. Time at which the backend was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "annotations": {
          "type": "object",
          "description": "Optional. Unstructured key value map that may be set by external tools to store and arbitrary metadata. They are not queryable and should be preserved when modifying objects.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Time at which the backend was last updated.",
          "type": "string",
          "readOnly": true
        },
        "uid": {
          "description": "Output only. System-assigned, unique identifier.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the backend's traffic. Format: `projects/{project}/locations/{locationId}/backends/{backendId}/traffic`.",
          "type": "string"
        },
        "reconciling": {
          "readOnly": true,
          "description": "Output only. A field that, if true, indicates that the system is working to make the backend's `current` match the requested `target` list.",
          "type": "boolean"
        },
        "etag": {
          "description": "Output only. Server-computed checksum based on other values; may be sent on update or delete to ensure operation is done on expected resource.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "Traffic",
      "description": "Controls traffic configuration for the backend."
    },
    "Path": {
      "type": "object",
      "id": "Path",
      "description": "A file path pattern to match against.",
      "properties": {
        "pattern": {
          "description": "Optional. The pattern to match against.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "The pattern type is unspecified - this is an invalid value.",
            "RE2 - regular expression (https://github.com/google/re2/wiki/Syntax).",
            "The pattern is a glob.",
            "The pattern is a prefix."
          ],
          "enum": [
            "PATTERN_TYPE_UNSPECIFIED",
            "RE2",
            "GLOB",
            "PREFIX"
          ],
          "description": "Optional. The type of pattern to match against.",
          "type": "string"
        }
      }
    },
    "ServingBehavior": {
      "properties": {
        "redirect": {
          "description": "Optional. Redirect behavior for a domain, if provided.",
          "$ref": "Redirect"
        }
      },
      "type": "object",
      "description": "Indicates whether App Hosting will serve content on the domain.",
      "id": "ServingBehavior"
    },
    "DnsUpdates": {
      "type": "object",
      "properties": {
        "checkTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The last time App Hosting checked your custom domain's DNS records.",
          "readOnly": true
        },
        "desired": {
          "description": "Output only. The set of DNS records App Hosting needs in order to be able to serve secure content on the domain.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "DnsRecordSet"
          }
        },
        "domainName": {
          "description": "Output only. The domain name the DNS updates pertain to.",
          "readOnly": true,
          "type": "string"
        },
        "discovered": {
          "type": "array",
          "description": "Output only. The set of DNS records App Hosting discovered when inspecting a domain.",
          "items": {
            "$ref": "DnsRecordSet"
          },
          "readOnly": true
        }
      },
      "id": "DnsUpdates",
      "description": "A set of DNS record updates that you should make to allow App Hosting to serve secure content in response to requests against your domain. These updates present the current state of your domain's and related subdomains' DNS records when App Hosting last queried them, and the desired set of records that App Hosting needs to see before your custom domain can be fully active."
    },
    "ListBackendsResponse": {
      "description": "Message for response to list backends",
      "id": "ListBackendsResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "description": "A token identifying the next page of results the server should return.",
          "type": "string"
        },
        "backends": {
          "description": "The list of backends",
          "items": {
            "$ref": "Backend"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Rollout": {
      "type": "object",
      "description": "A single rollout of a build for a backend.",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time at which the rollout was created."
        },
        "deleteTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time at which the rollout was deleted."
        },
        "annotations": {
          "type": "object",
          "description": "Optional. Unstructured key value map that may be set by external tools to store and arbitrary metadata. They are not queryable and should be preserved when modifying objects.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "displayName": {
          "type": "string",
          "description": "Optional. Human-readable name. 63 character limit."
        },
        "error": {
          "description": "Output only. A status and (human readable) error message for the rollout, if in a `FAILED` state.",
          "readOnly": true,
          "$ref": "Status"
        },
        "name": {
          "description": "Identifier. The resource name of the rollout. Format: `projects/{project}/locations/{locationId}/backends/{backendId}/rollouts/{rolloutId}`.",
          "type": "string"
        },
        "build": {
          "description": "Required. Immutable. The name of a build that already exists. It doesn't have to be built; a rollout will wait for a build to be ready before updating traffic.",
          "type": "string"
        },
        "uid": {
          "type": "string",
          "description": "Output only. System-assigned, unique identifier.",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time at which the rollout was last updated."
        },
        "reconciling": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. A field that, if true, indicates that the Rollout currently has an LRO."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Unstructured key value map that can be used to organize and categorize objects.",
          "type": "object"
        },
        "state": {
          "description": "Output only. The state of the rollout.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "QUEUED",
            "PENDING_BUILD",
            "PROGRESSING",
            "PAUSED",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED",
            "SKIPPED"
          ],
          "enumDescriptions": [
            "The rollout is in an unknown state.",
            "The rollout is waiting for actuation to begin. This may be because it is waiting on another rollout to complete.",
            "The rollout is waiting for the build process to complete, which builds the code and sets up the underlying infrastructure.",
            "The rollout has started and is actively modifying traffic.",
            "The rollout has been paused due to either being manually paused or a PAUSED stage. This should be set while `paused = true`.",
            "The rollout has completed.",
            "The rollout has failed. See error for more information.",
            "The rollout has been cancelled.",
            "The rollout has been skipped."
          ]
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-computed checksum based on other values; may be sent on update or delete to ensure operation is done on expected resource."
        }
      },
      "id": "Rollout"
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      }
    },
    "ArchiveSource": {
      "properties": {
        "rootDirectory": {
          "type": "string",
          "description": "Optional. The directory relative to the root of the archive to use as the root for the deployed web app. Defaults to use the root of the repository if not provided. If deploying a [monorepo](https://firebase.google.com/docs/app-hosting/monorepos), this should be the directory that contains the `package.json` or `apphosting.yaml` file."
        },
        "externalSignedUri": {
          "type": "string",
          "description": "Signed URL to an archive in a storage bucket."
        },
        "author": {
          "$ref": "SourceUserMetadata",
          "deprecated": true,
          "description": "Optional. Deprecated: Not used. The author contained in the metadata of a version control change."
        },
        "userStorageUri": {
          "description": "URI to an archive in Cloud Storage. The object must be a zipped (.zip) or gzipped archive file (.tar.gz) containing source to deploy.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. An optional message that describes the uploaded version of the source code."
        }
      },
      "type": "object",
      "description": "The URI of an storage archive or a signed URL to use as the build source.",
      "id": "ArchiveSource"
    },
    "Codebase": {
      "description": "The connection to an external source repository to watch for event-driven updates to the backend.",
      "properties": {
        "rootDirectory": {
          "description": "Optional. If `repository` is provided, the directory relative to the root of the repository to use as the root for the deployed web app. Defaults to use the root of the repository if not provided. If deploying a [monorepo](https://firebase.google.com/docs/app-hosting/monorepos), this should be the directory that contains the `package.json` or `apphosting.yaml` file.",
          "type": "string"
        },
        "repository": {
          "type": "string",
          "description": "Required. The resource name for the Developer Connect [`gitRepositoryLink`](https://cloud.google.com/developer-connect/docs/api/reference/rest/v1/projects.locations.connections.gitRepositoryLinks) connected to this backend, in the format: `projects/{project}/locations/{location}/connections/{connection}/gitRepositoryLinks/{repositoryLink}` The connection for the `gitRepositoryLink` must made be using the Firebase App Hosting GitHub App via the Firebase Console."
        }
      },
      "id": "Codebase",
      "type": "object"
    },
    "ListRolloutsResponse": {
      "id": "ListRolloutsResponse",
      "type": "object",
      "properties": {
        "rollouts": {
          "items": {
            "$ref": "Rollout"
          },
          "type": "array",
          "description": "The list of rollouts."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying the next page of results the server should return."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Message for response to list rollouts."
    },
    "ManagedResource": {
      "id": "ManagedResource",
      "type": "object",
      "properties": {
        "runService": {
          "description": "A Cloud Run [`service`](https://cloud.google.com/run/docs/reference/rest/v2/projects.locations.services#resource:-service), managed by App Hosting.",
          "$ref": "RunService"
        }
      },
      "description": "An external resource managed by App Hosting on the project."
    },
    "Domain": {
      "description": "A domain name that is associated with a backend.",
      "id": "Domain",
      "properties": {
        "displayName": {
          "description": "Optional. Mutable human-readable name for the domain. 63 character limit. e.g. `prod domain`.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Server-computed checksum based on other values; may be sent on update or delete to ensure operation is done on expected resource."
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Annotations as key value pairs.",
          "type": "object"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Labels as key value pairs."
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. System-assigned, unique identifier."
        },
        "name": {
          "description": "Identifier. The resource name of the domain, e.g. `/projects/p/locations/l/backends/b/domains/foo.com`",
          "type": "string"
        },
        "disabled": {
          "description": "Optional. Whether the domain is disabled. Defaults to false.",
          "type": "boolean"
        },
        "reconciling": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. A field that, if true, indicates that the build has an ongoing LRO."
        },
        "updateTime": {
          "description": "Output only. Time at which the domain was last updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "customDomainStatus": {
          "readOnly": true,
          "description": "Output only. Represents the state and configuration of a `CUSTOM` type domain. It is only present on Domains of that type.",
          "$ref": "CustomDomainStatus"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "DEFAULT",
            "CUSTOM"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The type is unspecified (this should not happen).",
            "Default, App Hosting-provided and managed domains. These domains are created automatically with their parent backend and cannot be deleted except by deleting that parent, and cannot be moved to another backend. Default domains can be disabled via the `disabled` field.",
            "Custom, developer-owned domains. Custom Domains allow you to associate a domain you own with your App Hosting backend, and configure that domain to serve your backend's content."
          ],
          "description": "Output only. The type of the domain.",
          "type": "string"
        },
        "deleteTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time at which the domain was deleted.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Time at which the domain was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "serve": {
          "description": "Optional. The serving behavior of the domain. If specified, the domain will serve content other than its backend's live content.",
          "$ref": "ServingBehavior"
        }
      },
      "type": "object"
    },
    "EnvironmentVariable": {
      "type": "object",
      "properties": {
        "variable": {
          "description": "Required. The name of the environment variable. The environment variables reserved by [Cloud Run](https://docs.cloud.google.com/run/docs/configuring/services/environment-variables#reserved) should not be set. Additionally, variable names cannot start with \"X_FIREBASE_\".",
          "type": "string"
        },
        "origin": {
          "description": "Output only. The high-level origin category of the environment variable.",
          "enumDescriptions": [
            "Source is unspecified.",
            "Variable was set on the backend resource (e.g. via API or Console). Represents variables from `Backend.override_env`",
            "Variable was provided specifically for the build upon creation via the `Build.Config.env` field. Only used for pre-built images.",
            "Variable is defined in apphosting.yaml file.",
            "Variable is defined provided by the firebase platform."
          ],
          "enum": [
            "ORIGIN_UNSPECIFIED",
            "BACKEND_OVERRIDES",
            "BUILD_CONFIG",
            "APPHOSTING_YAML",
            "FIREBASE_SYSTEM"
          ],
          "type": "string",
          "readOnly": true
        },
        "availability": {
          "items": {
            "enumDescriptions": [
              "The default value, unspecified, which is unused.",
              "This value is available when creating a Build from source code.",
              "This value is available at runtime within Cloud Run."
            ],
            "type": "string",
            "enum": [
              "AVAILABILITY_UNSPECIFIED",
              "BUILD",
              "RUNTIME"
            ]
          },
          "description": "Optional. Where this variable should be made available. If left unspecified, will be available in both BUILD and BACKEND.",
          "type": "array"
        },
        "value": {
          "description": "A plaintext value. This value is encrypted at rest, but all project readers can view the value when reading your backend configuration.",
          "type": "string"
        },
        "originFileName": {
          "description": "Output only. Specific detail about the source. For APPHOSTING_YAML origins, this will contain the exact filename, such as \"apphosting.yaml\" or \"apphosting.staging.yaml\".",
          "type": "string",
          "readOnly": true
        },
        "secret": {
          "type": "string",
          "description": "A fully qualified secret version. The value of the secret will be accessed once while building the application and once per cold start of the container at runtime. The service account used by Cloud Build and by Cloud Run must each have the `secretmanager.versions.access` permission on the secret."
        }
      },
      "id": "EnvironmentVariable",
      "description": "Environment variables for this build."
    },
    "LiveMigrationStep": {
      "description": "A set of updates including ACME challenges and DNS records that allow App Hosting to create an SSL certificate and establish project ownership for your domain name before you direct traffic to App Hosting servers. Use these updates to facilitate zero downtime migrations to App Hosting from other services. After you've made the recommended updates, check your custom domain's `ownershipState` and `certState`. To avoid downtime, they should be `OWNERSHIP_ACTIVE` and `CERT_ACTIVE`, respectively, before you update your `A` and `AAAA` records.",
      "id": "LiveMigrationStep",
      "type": "object",
      "properties": {
        "dnsUpdates": {
          "readOnly": true,
          "items": {
            "$ref": "DnsUpdates"
          },
          "type": "array",
          "description": "Output only. DNS updates to facilitate your domain's zero-downtime migration to App Hosting."
        },
        "relevantDomainStates": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "This message is invalid if this is unspecified.",
              "The custom domain's host state.",
              "The custom domain's ownership state.",
              "The custom domain's certificate state."
            ],
            "enum": [
              "CUSTOM_DOMAIN_STATE_UNSPECIFIED",
              "HOST_STATE",
              "OWNERSHIP_STATE",
              "CERT_STATE"
            ]
          },
          "type": "array",
          "readOnly": true,
[...]
