{
  "servicePath": "",
  "discoveryVersion": "v1",
  "id": "firebaseappdistribution:v1alpha",
  "canonicalName": "Firebase App Distribution",
  "name": "firebaseappdistribution",
  "revision": "20260831",
  "parameters": {
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    }
  },
  "kind": "discovery#restDescription",
  "baseUrl": "https://firebaseappdistribution.googleapis.com/",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://firebaseappdistribution.googleapis.com/",
  "description": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://firebase.google.com/products/app-distribution",
  "title": "Firebase App Distribution API",
  "version_module": true,
  "mtlsRootUrl": "https://firebaseappdistribution.mtls.googleapis.com/",
  "batchPath": "batch",
  "version": "v1alpha",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "GoogleFirebaseAppdistroV1alphaJwt": {
      "type": "object",
      "properties": {
        "token": {
          "type": "string",
          "description": "The JWT token (three Base64URL-encoded strings joined by dots)."
        }
      },
      "description": "A JWT token.",
      "id": "GoogleFirebaseAppdistroV1alphaJwt"
    },
    "GoogleFirebaseAppdistroV1alphaListReleaseTestsResponse": {
      "type": "object",
      "properties": {
        "releaseTests": {
          "type": "array",
          "description": "The tests listed.",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaReleaseTest"
          }
        },
        "nextPageToken": {
          "description": "A short-lived token, which can be sent as `pageToken` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaListReleaseTestsResponse",
      "description": "The response message for `ListReleaseTests`."
    },
    "GoogleFirebaseAppdistroV1alphaLoginCredential": {
      "description": "Login credential for automated tests",
      "id": "GoogleFirebaseAppdistroV1alphaLoginCredential",
      "properties": {
        "username": {
          "description": "Optional. Username for automated tests",
          "type": "string"
        },
        "password": {
          "type": "string",
          "description": "Optional. Password for automated tests"
        },
        "google": {
          "description": "Optional. Are these credentials for Google?",
          "type": "boolean"
        },
        "fieldHints": {
          "description": "Optional. Hints to the crawler for identifying input fields",
          "$ref": "GoogleFirebaseAppdistroV1alphaLoginCredentialFieldHints"
        }
      },
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaDeviceAction": {
      "description": "A high level action taken by the AI on the device, potentially involving multiple taps, text entries, waits, etc.",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaDeviceAction",
      "properties": {
        "deviceInteractions": {
          "readOnly": true,
          "description": "Output only. The interactions made with the device as part of this higher level action taken by the agent, such as taps, text entries, waits, etc.",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteraction"
          },
          "type": "array"
        },
        "description": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A short description of the high level action taken by the AI agent."
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesRequest": {
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesRequest",
      "description": "The request message for `BatchUpdateTestCase`.",
      "properties": {
        "requests": {
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaUpdateTestCaseRequest"
          },
          "description": "Required. The update requests. A maximum number of 1000 test cases can be updated in one batch",
          "type": "array"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheRequest": {
      "id": "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheRequest",
      "type": "object",
      "properties": {
        "testDevices": {
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTestDevice"
          },
          "type": "array",
          "description": "Optional. The list of devices for which to clear the cache. If not present, clear all of them."
        }
      },
      "description": "Request message for `ClearTestCaseCache`."
    },
    "GoogleFirebaseAppdistroV1ReleaseNotes": {
      "id": "GoogleFirebaseAppdistroV1ReleaseNotes",
      "description": "Notes that belong to a release.",
      "properties": {
        "text": {
          "description": "The text of the release notes.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesResponse": {
      "id": "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesResponse",
      "description": "The response message for `BatchUpdateTestCase`.",
      "properties": {
        "testCases": {
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
          },
          "description": "The updated test cases.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1Release": {
      "type": "object",
      "properties": {
        "installationCount": {
          "description": "Output only. Number of testers who have downloaded this release.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "firebaseConsoleUri": {
          "type": "string",
          "description": "Output only. A link to the Firebase console displaying a single release.",
          "readOnly": true
        },
        "binaryDownloadUri": {
          "readOnly": true,
          "description": "Output only. A signed link (which expires in one hour) to directly download the app binary (IPA/APK/AAB) file.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the release was last updated."
        },
        "testingUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A link to the release in the tester web clip or Android app that lets testers (which were granted access to the app) view release notes and install the app onto their devices."
        },
        "expireTime": {
          "readOnly": true,
          "description": "Output only. The time the release will expire.",
          "type": "string",
          "format": "google-datetime"
        },
        "openInvitationCount": {
          "description": "Output only. Number of testers who were invited (incl. expired invitations), but did not (yet) accept the invitation.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "releaseNotes": {
          "$ref": "GoogleFirebaseAppdistroV1ReleaseNotes",
          "description": "Notes about the release."
        },
        "binaryType": {
          "readOnly": true,
          "enum": [
            "BINARY_TYPE_UNSPECIFIED",
            "IPA",
            "APK",
            "AAB"
          ],
          "enumDescriptions": [
            "unspecified binary type",
            "iOS App Store package",
            "Android Application package",
            "Android App Bundle"
          ],
          "description": "Output only. Type of binary.",
          "type": "string"
        },
        "androidPackageRegistrationState": {
          "readOnly": true,
          "description": "Output only. Registration state of the Android package (BinaryType.APK).",
          "enum": [
            "ANDROID_PACKAGE_REGISTRATION_STATE_UNSPECIFIED",
            "REGISTERED",
            "NOT_REGISTERED",
            "REGISTERED_WITH_ANOTHER_CERTIFICATE_FINGERPRINT"
          ],
          "enumDescriptions": [
            "Default value.",
            "Package is registered with the release binary's certificate fingerprint.",
            "Package is not registered with any public certificate.",
            "Package is registered with another public certificate fingerprint."
          ],
          "type": "string"
        },
        "name": {
          "description": "The name of the release resource. Format: `projects/{project_number}/apps/{app}/releases/{release}`",
          "type": "string"
        },
        "testState": {
          "enumDescriptions": [
            "No test state specified",
            "No tests have been requested for this release",
            "One or more device executions are in progress",
            "All device executions passed during the most recent test",
            "Some device executions failed during the most recent test",
            "Some device executions were inconclusive, but none failed, during the most recent test"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The overall state of tests run on this release",
          "enum": [
            "TEST_STATE_UNSPECIFIED",
            "NO_TESTS_REQUESTED",
            "IN_PROGRESS",
            "PASSED",
            "FAILED",
            "INCONCLUSIVE"
          ]
        },
        "acceptedInvitationCount": {
          "format": "int32",
          "description": "Output only. Number of testers with accepted invitations.",
          "readOnly": true,
          "type": "integer"
        },
        "buildVersion": {
          "type": "string",
          "description": "Output only. Build version of the release. For an Android release, the build version is the `versionCode`. For an iOS release, the build version is the `CFBundleVersion`.",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the release was created."
        },
        "displayVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Display version of the release. For an Android release, the display version is the `versionName`. For an iOS release, the display version is the `CFBundleShortVersionString`."
        },
        "feedbackCount": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Number of feedback reports left by testers."
        }
      },
      "description": "A release of a Firebase app.",
      "id": "GoogleFirebaseAppdistroV1Release"
    },
    "GoogleFirebaseAppdistroV1UploadReleaseResponse": {
      "properties": {
        "result": {
          "enumDescriptions": [
            "Upload binary result unspecified",
            "Upload binary resulted in a new release",
            "Upload binary updated an existing release",
            "Upload binary resulted in a no-op. A release with the exact same binary already exists."
          ],
          "type": "string",
          "enum": [
            "UPLOAD_RELEASE_RESULT_UNSPECIFIED",
            "RELEASE_CREATED",
            "RELEASE_UPDATED",
            "RELEASE_UNMODIFIED"
          ],
          "description": "Result of upload release."
        },
        "release": {
          "description": "Release associated with the uploaded binary.",
          "$ref": "GoogleFirebaseAppdistroV1Release"
        }
      },
      "id": "GoogleFirebaseAppdistroV1UploadReleaseResponse",
      "type": "object",
      "description": "Response message for `UploadRelease`."
    },
    "GoogleFirebaseAppdistroV1alphaCancelReleaseTestResponse": {
      "id": "GoogleFirebaseAppdistroV1alphaCancelReleaseTestResponse",
      "type": "object",
      "description": "The (empty) response message for `CancelReleaseTest`.",
      "properties": {}
    },
    "GoogleFirebaseAppdistroV1alphaTestQuota": {
      "description": "Customer quota information for `ReleaseTests`. Note: This quota only applies to tests with `AiInstructions` and is separate from the quota which might apply to the device time used by any tests.",
      "properties": {
        "usage": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Number of `ReleaseTests` run in the current month"
        },
        "limit": {
          "description": "Output only. Maximum number of `ReleaseTests` allotted for the current month.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the `TestQuota` resource. Format: `projects/{project_number}/testQuota`"
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaTestQuota"
    },
    "GoogleFirebaseAppdistroV1alphaListTestCasesResponse": {
      "id": "GoogleFirebaseAppdistroV1alphaListTestCasesResponse",
      "description": "The response message for `ListTestCases`.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "testCases": {
          "description": "The test cases from the specified app.",
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
          }
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteractionEnterText": {
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteractionEnterText",
      "description": "A text entry action, that enters text into a particular text field, clearing any existing text in the field.",
      "properties": {
        "elementBounds": {
          "readOnly": true,
          "$ref": "AndroidxCrawlerOutputRectangle",
          "description": "Output only. The visible bounds of the element to enter text into."
        },
        "text": {
          "description": "Output only. The text to enter.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaGetTesterUdidsResponse": {
      "properties": {
        "testerUdids": {
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTesterUdid"
          },
          "description": "The UDIDs of tester iOS devices in a project",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaGetTesterUdidsResponse",
      "description": "Response containing the UDIDs of tester iOS devices in a project"
    },
    "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheResponse": {
      "properties": {},
      "id": "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheResponse",
      "description": "Response empty (google.protobuf.Empty) message for `ClearTestCaseCache`",
      "type": "object"
    },
    "AndroidxCrawlerOutputPoint": {
      "id": "AndroidxCrawlerOutputPoint",
      "description": "Point for describing bounding boxes tap locations Top left is 0,0",
      "properties": {
        "xCoordinate": {
          "format": "int32",
          "type": "integer"
        },
        "yCoordinate": {
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaTestDevice": {
      "properties": {
        "orientation": {
          "type": "string",
          "description": "Optional. The orientation of the device during the test."
        },
        "locale": {
          "type": "string",
          "description": "Optional. The locale of the device (e.g. \"en_US\" for US English) during the test."
        },
        "version": {
          "type": "string",
          "description": "Required. The version of the device (API level on Android)."
        },
        "model": {
          "description": "Required. The device model.",
          "type": "string"
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaTestDevice",
      "type": "object",
      "description": "A device on which automated tests can be run."
    },
    "GoogleFirebaseAppdistroV1alphaRoboCrawler": {
      "id": "GoogleFirebaseAppdistroV1alphaRoboCrawler",
      "properties": {
        "loginCredential": {
          "description": "Optional. Login credential for automated tests",
          "$ref": "GoogleFirebaseAppdistroV1alphaLoginCredential"
        },
        "aiInstructions": {
          "$ref": "GoogleFirebaseAppdistroV1alphaAiInstructions",
          "description": "Optional. Instructions for AI driven test"
        }
      },
      "type": "object",
      "description": "Configuration for Robo crawler"
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteractionSwipe": {
      "description": "A swipe action.",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteractionSwipe",
      "properties": {
        "end": {
          "$ref": "AndroidxCrawlerOutputPoint",
          "description": "Output only. The end point of the swipe.",
          "readOnly": true
        },
        "start": {
          "readOnly": true,
          "$ref": "AndroidxCrawlerOutputPoint",
          "description": "Output only. The start point of the swipe."
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaGetReleaseByUploadHashResponse": {
      "type": "object",
      "description": "Response object to get the release given a upload hash",
      "id": "GoogleFirebaseAppdistroV1alphaGetReleaseByUploadHashResponse",
      "properties": {
        "release": {
          "description": "Release object",
          "$ref": "GoogleFirebaseAppdistroV1alphaRelease"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaGoalAction": {
      "id": "GoogleFirebaseAppdistroV1alphaGoalAction",
      "description": "An action taken by the AI agent while attempting to accomplish a goal.",
      "type": "object",
      "properties": {
        "cachingType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The type of caching used to determine the action.",
          "enumDescriptions": [
            "Caching type unspecified.",
            "The model alone was used to determine the action with no caching.",
            "The model used information from a previous successful run to determine the action.",
            "The action was replayed from a previous successful run without model input."
          ],
          "enum": [
            "CACHING_TYPE_UNSPECIFIED",
            "NO_CACHING",
            "CACHE_AND_MODEL",
            "CACHE_ONLY"
          ]
        },
        "terminalAction": {
          "readOnly": true,
          "$ref": "GoogleFirebaseAppdistroV1alphaTerminalAction",
          "description": "Output only. An action taken by the AI to end the goal."
        },
        "explanation": {
          "description": "Output only. An explanation justifying why the action was taken.",
          "readOnly": true,
          "type": "string"
        },
        "deviceAction": {
          "description": "Output only. A high level action taken by the AI on the device.",
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceAction",
          "readOnly": true
        },
        "startTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time at which the action started."
        },
        "debugInfo": {
          "$ref": "GoogleFirebaseAppdistroV1alphaGoalActionDebugInfo",
          "description": "Output only. Debug information explaining why the agent to the specific action.",
          "readOnly": true
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaTestConfig": {
      "properties": {
        "resultsBucket": {
          "description": "Optional. The custom Cloud Storage bucket where test results are stored. Format: `projects/{project_number}/buckets/{bucket}` If not provided, the default test lab bucket is used.",
          "type": "string"
        },
        "testDevices": {
          "description": "Optional. Tests will be run on this list of devices",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTestDevice"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the test configuration resource. Format: `projects/{project_number}/apps/{app}/testConfig`"
        },
        "roboCrawler": {
          "description": "Optional. Configuration for Robo crawler",
          "$ref": "GoogleFirebaseAppdistroV1alphaRoboCrawler"
        },
        "displayName": {
          "description": "Optional. Display name of the AI driven test. Required if the release test is created with multiple goals.",
          "type": "string"
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaTestConfig",
      "type": "object",
      "description": "Configuration for automated tests"
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteractionDragAndDrop": {
      "description": "A drag and drop action.",
      "properties": {
        "start": {
          "$ref": "AndroidxCrawlerOutputPoint",
          "description": "Output only. The start point of the drag and drop.",
          "readOnly": true
        },
        "end": {
          "description": "Output only. The end point of the drag and drop.",
          "readOnly": true,
          "$ref": "AndroidxCrawlerOutputPoint"
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteractionDragAndDrop"
    },
    "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesResponse": {
      "properties": {},
      "id": "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesResponse",
      "type": "object",
      "description": "The response message for `CreateReleaseNotes`."
    },
    "GoogleFirebaseAppdistroV1alphaGoalActionDebugInfo": {
      "id": "GoogleFirebaseAppdistroV1alphaGoalActionDebugInfo",
      "properties": {
        "annotatedScreenshotUri": {
          "description": "Output only. URI of the screenshot with elements labeled which was used by the agent.",
          "readOnly": true,
          "type": "string"
        },
        "jsonUri": {
          "description": "Output only. Structured data explaining the agent's choice.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Information to help the customer understand why the agent took this action.",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaAiStep": {
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaAiStep",
      "description": "A step to be accomplished by the AI",
      "properties": {
        "assertion": {
          "type": "string",
          "description": "An assertion to be checked by the AI"
        },
        "successCriteria": {
          "description": "Optional. A visual description of the screen's expected state after the step has been successfully completed. This is referred to as the \"final screen assertion\" in the Firebase console and CLI tools. This field must be provided for the last step in a test case, and is optional for all other steps.",
          "type": "string"
        },
        "goal": {
          "type": "string",
          "description": "A goal to be accomplished by the AI"
        },
        "testCase": {
          "description": "Output only. The test case that contained this step. Note: The test case may have changed or been deleted since this step was created. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
          "readOnly": true,
          "type": "string"
        },
        "hint": {
          "type": "string",
          "description": "Optional. Hint text containing suggestions to help the agent accomplish the goal"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaUpdateTestCaseRequest": {
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaUpdateTestCaseRequest",
      "properties": {
        "testCase": {
          "$ref": "GoogleFirebaseAppdistroV1alphaTestCase",
          "description": "Required. The test case to update. The test case's `name` field is used to identify the test case to update. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`"
        },
        "allowMissing": {
          "description": "Optional. If set to true, and the test case is not found, a new test case will be created.",
          "type": "boolean"
        }
      },
      "description": "The request message for `UpdateTestCase`."
    },
    "GoogleFirebaseAppdistroV1alphaApp": {
      "id": "GoogleFirebaseAppdistroV1alphaApp",
      "properties": {
        "aabCertificate": {
          "$ref": "GoogleFirebaseAppdistroV1alphaAabCertificate",
          "description": "App bundle test certificate generated for the app."
        },
        "aabState": {
          "description": "App bundle state. Only valid for android apps. The app_view field in the request must be set to FULL in order for this to be populated.",
          "enumDescriptions": [
            "Aab state unspecified",
            "App can receive app bundle uploads",
            "Firebase project is not linked to a Play developer account",
            "There is no app in linked Play developer account with the same bundle id",
            "The app in Play developer account is not in a published state",
            "Play App status is unavailable",
            "Play IAS terms not accepted"
          ],
          "type": "string",
          "enum": [
            "AAB_STATE_UNSPECIFIED",
            "ACTIVE",
            "PLAY_ACCOUNT_NOT_LINKED",
            "NO_APP_WITH_GIVEN_BUNDLE_ID_IN_PLAY_ACCOUNT",
            "APP_NOT_PUBLISHED",
            "AAB_STATE_UNAVAILABLE",
            "PLAY_IAS_TERMS_NOT_ACCEPTED"
          ]
        },
        "platform": {
          "type": "string",
          "description": "iOS or Android"
        },
        "projectNumber": {
          "type": "string",
          "description": "Project number of the Firebase project, for example 300830567303."
        },
        "contactEmail": {
          "type": "string",
          "description": "Developer contact email for testers to reach out to about privacy or support issues."
        },
        "bundleId": {
          "description": "Bundle identifier",
          "type": "string"
        },
        "appId": {
          "description": "Firebase gmp app id",
          "type": "string"
        }
      },
      "description": "An app.",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaTestCase": {
      "id": "GoogleFirebaseAppdistroV1alphaTestCase",
      "properties": {
        "aiInstructions": {
          "$ref": "GoogleFirebaseAppdistroV1alphaAiInstructions",
          "description": "Optional. Instructions for AI driven test."
        },
        "dependentTestCases": {
          "description": "Output only. Other test cases that depend on this test case as a prerequisite.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp when the test case was created"
        },
        "prerequisiteTestCase": {
          "type": "string",
          "description": "Optional. Test case that must be run before this test case."
        },
        "displayName": {
          "description": "Required. Display name of the test case.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The name of the test case resource. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
          "type": "string"
        }
      },
      "description": "AI test cases",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaLoginCredentialFieldHints": {
      "type": "object",
      "description": "Hints to the crawler for identifying input fields",
      "id": "GoogleFirebaseAppdistroV1alphaLoginCredentialFieldHints",
      "properties": {
        "passwordResourceName": {
          "description": "Required. The Android resource name of the password UI element. For example, in Java: R.string.foo in xml: @string/foo Only the \"foo\" part is needed. Reference doc: https://developer.android.com/guide/topics/resources/accessing-resources.html",
          "type": "string"
        },
        "usernameResourceName": {
          "type": "string",
          "description": "Required. The Android resource name of the username UI element. For example, in Java: R.string.foo in xml: @string/foo Only the \"foo\" part is needed. Reference doc: https://developer.android.com/guide/topics/resources/accessing-resources.html"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaReleaseNotes": {
      "properties": {
        "releaseNotes": {
          "description": "The actual release notes text from the user.",
          "type": "string"
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaReleaseNotes",
      "type": "object",
      "description": "Release notes for a release."
    },
    "GoogleFirebaseAppdistroV1alphaBatchDeleteTestCasesRequest": {
      "description": "The request message for `BatchDeleteTestCase`.",
      "type": "object",
      "properties": {
        "names": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The name of the test cases to delete. A maximum number of 1000 test cases can be deleted in one batch Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`"
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaBatchDeleteTestCasesRequest"
    },
    "GoogleFirebaseAppdistroV1alphaGetUploadStatusResponse": {
      "id": "GoogleFirebaseAppdistroV1alphaGetUploadStatusResponse",
      "description": "The response message for `GetUploadStatus`.",
      "properties": {
        "release": {
          "$ref": "GoogleFirebaseAppdistroV1alphaRelease",
          "description": "The release that was created from the upload (only set on \"SUCCESS\")"
        },
        "errorCode": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "Happens if the Firebase app no longer exists by the time of extraction",
            "",
            "A corresponding Android Developer Console account for this app's Play Console account was not found.",
            "The package was not found in the Android Developer Console."
          ],
          "description": "The error code associated with (only set on \"FAILURE\")",
          "type": "string",
          "enum": [
            "ERROR_UNSPECIFIED",
            "INVALID_ZIP",
            "MISSING_PLIST",
            "MISSING_PROFILE",
            "VERSION_TOO_LONG",
            "MISSING_UUIDS",
            "MISSING_RESOURCES",
            "MISSING_MANIFEST",
            "IOS_METADATA_ERROR",
            "ANDROID_METADATA_ERROR",
            "UNSUPPORTED_PLATFORM_TYPE",
            "BUNDLE_ID_MISMATCH",
            "APK_NOT_ZIP_ALIGNED",
            "INVALID_CERTIFICATE",
            "APK_TOO_LARGE",
            "AAB_NOT_PUBLISHED",
            "INVALID_PLIST_DEVICE_FAMILIES",
            "AAB_TOS_NOT_ACCEPTED",
            "APP_NAME_TOO_LONG",
            "AAB_DEVELOPER_ACCOUNT_NOT_LINKED",
            "AAB_NO_APP_WITH_GIVEN_PACKAGE_NAME_IN_ACCOUNT",
            "AAB_UPLOAD_ERROR",
            "APP_NOT_FOUND",
            "AAB_ADHOC_SHARING_KEY_NOT_REGISTERED",
            "AAB_ANDROID_DEVELOPER_CONSOLE_ACCOUNT_NOT_FOUND",
            "AAB_ANDROID_DEVELOPER_CONSOLE_PACKAGE_NOT_FOUND"
          ]
        },
        "status": {
          "enumDescriptions": [
            "Status unspecified.",
            "The upload is in progress.",
            "The binary has already been uploaded.",
            "The upload was successful.",
            "The upload failed."
          ],
          "description": "The status of the upload",
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "IN_PROGRESS",
            "ALREADY_UPLOADED",
            "SUCCESS",
            "ERROR"
          ]
        },
        "message": {
          "type": "string",
          "description": "Any additional context for the given upload status (e.g. error message) Meant to be displayed to the client"
        }
      },
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesRequest": {
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesRequest",
      "description": "The request message for `CreateReleaseNotes`.",
      "properties": {
        "releaseNotes": {
          "$ref": "GoogleFirebaseAppdistroV1alphaReleaseNotes",
          "description": "The actual release notes body from the user"
        }
      }
    },
    "GoogleProtobufEmpty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "GoogleProtobufEmpty"
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteractionWait": {
      "description": "A wait action.",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteractionWait",
      "properties": {
        "duration": {
          "description": "Output only. The duration of the wait.",
          "type": "string",
          "format": "google-duration",
          "readOnly": true
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaScreenshot": {
      "description": "A device screenshot taken during a test.",
      "id": "GoogleFirebaseAppdistroV1alphaScreenshot",
      "properties": {
        "uri": {
          "description": "Output only. The URI of the screenshot.",
          "type": "string",
          "readOnly": true
        },
        "height": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The height of the screenshot, in pixels.",
          "format": "int32"
        },
        "width": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "Output only. The width of the screenshot, in pixels."
        }
      },
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaAiStepResult": {
      "description": "Captures the results of an AiStep",
      "properties": {
        "step": {
          "description": "Required. The step performed by the AI",
          "$ref": "GoogleFirebaseAppdistroV1alphaAiStep"
        },
        "assertionDetails": {
          "$ref": "GoogleFirebaseAppdistroV1alphaAssertionDetails",
          "description": "Output only. Details for an assertion step.",
          "readOnly": true
        },
        "goalDetails": {
          "$ref": "GoogleFirebaseAppdistroV1alphaGoalDetails",
          "readOnly": true,
          "description": "Output only. Details for a goal step."
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Step state unspecified",
            "The step is in progress",
            "The step has completed successfully",
            "The step has failed",
            "The test timed out during this step",
            "The number of actions needed to reach the goal exceeded its limit"
          ],
          "enum": [
            "STEP_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "PASSED",
            "FAILED",
            "TIMED_OUT",
            "GOAL_ACTION_LIMIT_REACHED"
          ],
          "description": "Output only. The current state of the step"
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaAiStepResult"
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteractionBack": {
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteractionBack",
      "properties": {},
      "description": "A back action.",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaRoboStats": {
      "id": "GoogleFirebaseAppdistroV1alphaRoboStats",
      "properties": {
        "crawlDuration": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Duration of crawl.",
          "format": "google-duration"
        },
        "mainActivityCrawlTimedOut": {
          "description": "Output only. Whether the main activity crawl timed out.",
          "type": "boolean",
          "readOnly": true
        },
        "distinctVisitedScreens": {
          "description": "Output only. Number of distinct screens visited.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "actionsPerformed": {
          "readOnly": true,
          "description": "Output only. Number of actions that crawler performed.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Statistics collected during a Robo test.",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseRequest": {
      "properties": {
        "emails": {
          "description": "Optional. An email address which should get access to this release, for example rebeccahe@google.com",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "displayVersion": {
          "deprecated": true,
          "description": "Optional. Ignored. Used to be display version of the app release if an instance identifier was provided for the release_id.",
          "type": "string"
        },
        "buildVersion": {
          "type": "string",
          "description": "Optional. Ignored. Used to be build version of the app release if an instance identifier was provided for the release_id.",
          "deprecated": true
        },
        "groupIds": {
          "description": "Optional. A repeated list of group aliases to enable access to a release for Note: This field is misnamed, but can't be changed because we need to maintain compatibility with old build tools",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseRequest",
      "type": "object",
      "description": "The request message for `EnableAccessOnRelease`."
    },
    "GoogleFirebaseAppdistroV1alphaDeviceExecution": {
      "properties": {
        "state": {
          "readOnly": true,
          "enum": [
            "TEST_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "PASSED",
            "FAILED",
            "INCONCLUSIVE"
          ],
          "description": "Output only. The state of the test.",
          "enumDescriptions": [
            "Test state unspecified.",
            "The test is in progress.",
            "The test has passed.",
            "The test has failed.",
            "The test was inconclusive."
          ],
          "type": "string"
        },
        "videoStartTime": {
          "description": "Output only. The time at which the video started recording.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "originDeviceExecution": {
          "description": "Output only. The device execution from which cached steps were used during this execution. Note: This field is only populated for ACTION_BASED_REPLAY executions. If the original device execution no longer exists, this field will be empty. Format: `projects/{project_number}/apps/{app}/releases/{release}/tests/{test}/deviceExecutions/{device_execution}`",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. The name of the device execution resource. Format: `projects/{project_number}/apps/{app}/releases/{release}/tests/{test}/deviceExecutions/{device_execution}`",
          "type": "string"
        },
        "videoUri": {
          "description": "Output only. A URI to a video of the test run.",
          "readOnly": true,
          "type": "string"
        },
        "aiStepResults": {
          "readOnly": true,
          "description": "Output only. Results of the AI steps if passed in",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaAiStepResult"
          },
          "type": "array"
        },
        "crawlGraphUri": {
          "description": "Output only. A URI to an image of the Robo crawl graph.",
          "type": "string",
          "readOnly": true
        },
        "roboStats": {
          "$ref": "GoogleFirebaseAppdistroV1alphaRoboStats",
          "description": "Output only. The statistics collected during the Robo test.",
          "readOnly": true
        },
        "device": {
          "$ref": "GoogleFirebaseAppdistroV1alphaTestDevice",
          "description": "Required. The device that the test was run on."
        },
        "executionType": {
          "enumDescriptions": [
            "Execution type unspecified.",
            "An AI-driven test.",
            "A replay of a previous test run.",
            "A failed replay that was rerun using the AI agent.",
            "A random Robo test."
          ],
          "description": "Output only. The type of execution for the test.",
          "enum": [
            "EXECUTION_TYPE_UNSPECIFIED",
            "AI",
            "ACTION_BASED_REPLAY",
            "AI_REPLAY",
            "RANDOM_CRAWL"
          ],
          "readOnly": true,
          "type": "string"
        },
        "failedReason": {
          "enum": [
            "FAILED_REASON_UNSPECIFIED",
            "CRASHED",
            "NOT_INSTALLED",
            "UNABLE_TO_CRAWL",
            "DEVICE_OUT_OF_MEMORY",
            "FAILED_AI_STEP",
            "TIMED_OUT"
          ],
          "enumDescriptions": [
            "Reason unspecified.",
            "The app crashed during the test.",
            "If an app is not installed and thus no test can be run with the app. This might be caused by trying to run a test on an unsupported platform.",
            "If the app could not be crawled (possibly because the app did not start).",
            "If the device ran out of memory during the test.",
            "At least one AI step failed.",
            "The crawl reached the time limit before the test could be completed."
          ],
          "description": "Output only. The reason why the test failed.",
          "type": "string",
          "readOnly": true
        },
        "finalAiAssertionMissing": {
          "description": "Output only. Indicates that the test replayed saved actions and concluded without a final AI assertion.",
          "readOnly": true,
          "type": "boolean"
        },
        "resultsStoragePath": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The path to a directory in Cloud Storage that will eventually contain the results for this execution. For example, gs://bucket/Nexus5-18-en-portrait."
        },
        "inconclusiveReason": {
          "enumDescriptions": [
            "Reason unspecified.",
            "Not enough quota remained to run the test.",
            "The outcome of the test could not be determined because of a failure in the test running infrastructure.",
            "A required cloud service api is not activated (Google Cloud Testing API or Cloud Tool Results API).",
            "The app was not signed.",
            "A main launcher activity could not be found.",
            "The app declares one or more permissions that are not allowed.",
            "Device administrator applications are not allowed.",
            "APK contains no code. See also https://developer.android.com/guide/topics/manifest/application-element.html#code",
            "APK is built for a preview SDK which is unsupported."
          ],
          "enum": [
            "INCONCLUSIVE_REASON_UNSPECIFIED",
            "QUOTA_EXCEEDED",
            "INFRASTRUCTURE_FAILURE",
            "SERVICE_NOT_ACTIVATED",
            "NO_SIGNATURE",
            "NO_LAUNCHER_ACTIVITY",
            "FORBIDDEN_PERMISSIONS",
            "DEVICE_ADMIN_RECEIVER",
            "NO_CODE_APK",
            "INVALID_APK_PREVIEW_SDK"
          ],
          "readOnly": true,
          "description": "Output only. The reason why the test was inconclusive.",
          "type": "string"
        },
        "appCrash": {
          "description": "Output only. An app crash, if any occurred during the test.",
          "readOnly": true,
          "$ref": "GoogleFirebaseAppdistroV1alphaAppCrash"
        },
        "screenshotUris": {
          "readOnly": true,
          "description": "Output only. A list of screenshot image URIs taken from the Robo crawl. The file names are numbered by the order in which they were taken.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaDeviceExecution",
      "description": "The results of running an automated test on a particular device."
    },
    "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseResponse": {
      "properties": {},
      "description": "The response message for `EnableAccessOnRelease`.",
      "id": "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseResponse",
      "type": "object"
    },
    "AndroidxCrawlerOutputRectangle": {
      "description": "Rectangle for describing bounding boxes",
      "id": "AndroidxCrawlerOutputRectangle",
      "type": "object",
      "properties": {
        "bottom": {
          "type": "integer",
          "format": "int32"
        },
        "right": {
          "format": "int32",
          "type": "integer"
        },
        "top": {
          "format": "int32",
          "type": "integer"
        },
        "left": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaTerminalAction": {
      "type": "object",
      "properties": {
        "reason": {
          "enum": [
            "REASON_UNSPECIFIED",
            "GOAL_IMPOSSIBLE",
            "GOAL_COMPLETE"
          ],
          "readOnly": true,
          "description": "Output only. The reason why this goal was ended.",
          "type": "string",
          "enumDescriptions": [
            "Reason unspecified.",
            "The goal failed to be completed. Note that \"impossible\" is a legacy term and the goal is reported to the customer as having \"failed\".",
            "The goal was completed successfully."
          ]
        },
        "screenshot": {
          "description": "Output only. The screenshot used in the context of this terminal action.",
          "$ref": "GoogleFirebaseAppdistroV1alphaScreenshot",
          "readOnly": true
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaTerminalAction",
      "description": "An action taken by the AI to end the goal."
    },
    "GoogleFirebaseAppdistroV1alphaAabCertificate": {
      "description": "App bundle test certificate",
      "id": "GoogleFirebaseAppdistroV1alphaAabCertificate",
      "type": "object",
      "properties": {
        "certificateHashSha1": {
          "description": "SHA1 hash of the certificate used to resign the AAB",
          "type": "string"
        },
        "certificateHashMd5": {
          "description": "MD5 hash of the certificate used to resign the AAB",
          "type": "string"
        },
        "certificateHashSha256": {
          "description": "SHA256 hash of the certificate used to resign the AAB",
          "type": "string"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaReleaseTest": {
      "type": "object",
      "description": "Instance of an automated test for a release.",
      "properties": {
        "name": {
          "description": "The name of the release test resource. Format: `projects/{project_number}/apps/{app}/releases/{release}/tests/{test}`",
          "type": "string"
        },
        "aiInstructions": {
          "$ref": "GoogleFirebaseAppdistroV1alphaAiInstructions",
          "description": "Optional. Instructions for AI driven test."
        },
        "displayName": {
          "type": "string",
          "description": "Optional. Display name of the release test. Required if the release test is created with multiple goals."
        },
        "deviceExecutions": {
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaDeviceExecution"
          },
          "description": "Required. The results of the test on each device."
        },
        "testCase": {
          "description": "Optional. The test case that was used to generate this release test. Note: The test case may have changed or been deleted since the release test was created. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
          "type": "string"
        },
        "resultsBucket": {
          "type": "string",
          "description": "Optional. Input only. The custom Cloud Storage bucket where test results are stored. Format: `projects/{project_number}/buckets/{bucket}` If not provided, the default test lab bucket is used."
        },
        "loginCredential": {
          "description": "Optional. Input only. Login credentials for the test. Input only.",
          "$ref": "GoogleFirebaseAppdistroV1alphaLoginCredential"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp when the test was run."
        },
        "testState": {
          "description": "Output only. The state of the release test.",
          "enum": [
            "TEST_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "PASSED",
            "FAILED",
            "INCONCLUSIVE"
          ],
          "enumDescriptions": [
            "Test state unspecified.",
            "The test is in progress.",
            "The test has passed.",
            "The test has failed.",
            "The test was inconclusive."
          ],
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaReleaseTest"
    },
    "GoogleFirebaseAppdistroV1UploadReleaseMetadata": {
      "properties": {},
      "type": "object",
      "description": "Operation metadata for `UploadRelease`.",
      "id": "GoogleFirebaseAppdistroV1UploadReleaseMetadata"
    },
    "GoogleFirebaseAppdistroV1alphaRelease": {
      "properties": {
        "testerCount": {
          "description": "Count of testers added to the release",
          "format": "int32",
          "type": "integer"
        },
        "buildVersion": {
          "type": "string",
          "description": "Release build version"
        },
        "instanceId": {
          "type": "string",
          "description": "Instance id of the release"
        },
        "openInvitationCount": {
          "description": "Number of testers who have open invitations for the release",
          "format": "int32",
          "type": "integer"
        },
        "lastActivityAt": {
          "type": "string",
          "format": "google-datetime",
          "description": "Last activity timestamp"
        },
        "displayVersion": {
          "description": "Release version",
          "type": "string"
        },
        "receivedAt": {
          "format": "google-datetime",
          "deprecated": true,
          "description": "unused. ",
          "type": "string"
        },
        "releaseNotesSummary": {
          "type": "string",
          "description": "Release notes summary"
        },
        "distributedAt": {
          "description": "Timestamp when the release was created",
          "format": "google-datetime",
          "type": "string"
        },
        "testerWithInstallCount": {
          "format": "int32",
          "description": "Number of testers who have installed the release",
          "type": "integer"
        },
        "id": {
          "description": "Release Id",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaRelease",
      "description": "Proto defining a release object"
    },
    "GoogleFirebaseAppdistroV1alphaGoalDetails": {
      "description": "Details for a goal step.",
      "id": "GoogleFirebaseAppdistroV1alphaGoalDetails",
      "type": "object",
      "properties": {
        "goalActions": {
          "description": "Output only. The actions taken by the AI while attempting to accomplish the goal.",
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaGoalAction"
          },
          "readOnly": true
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaAiInstructions": {
      "id": "GoogleFirebaseAppdistroV1alphaAiInstructions",
      "type": "object",
      "properties": {
        "steps": {
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaAiStep"
          },
          "description": "Required. Steps to be accomplished by the AI",
          "type": "array"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaTesterUdid": {
      "properties": {
        "udid": {
          "description": "The UDID of the tester's device",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the tester's device"
        },
        "platform": {
          "description": "The platform of the tester's device",
          "type": "string"
        }
      },
      "description": "The UDIDs of a tester's iOS device",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaTesterUdid"
    },
    "GoogleFirebaseAppdistroV1alphaAssertionDetails": {
      "id": "GoogleFirebaseAppdistroV1alphaAssertionDetails",
      "description": "Details for an assertion step.",
      "type": "object",
      "properties": {
        "screenshot": {
          "$ref": "GoogleFirebaseAppdistroV1alphaScreenshot",
          "readOnly": true,
          "description": "Output only. The screenshot used in the context of this assertion."
        },
        "explanation": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. An explanation justifying the assertion result."
        },
        "result": {
          "readOnly": true,
          "description": "Output only. The result of the assertion.",
          "type": "boolean"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteraction": {
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteraction",
      "type": "object",
      "description": "An interaction with the device, such as a tap, text entry, wait, etc.",
      "properties": {
        "screenshot": {
          "$ref": "GoogleFirebaseAppdistroV1alphaScreenshot",
          "readOnly": true,
          "description": "Output only. The screenshot used in the context of this action. The screen may have changed before the action was actually taken."
        },
        "keyCode": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Key code for a key event action."
        },
        "tap": {
          "description": "Output only. A tap action.",
          "readOnly": true,
          "$ref": "AndroidxCrawlerOutputPoint"
        },
        "longPress": {
          "readOnly": true,
          "$ref": "AndroidxCrawlerOutputPoint",
          "description": "Output only. A long press (tap and hold) action."
        },
        "targetFoldedState": {
          "description": "Output only. The target folded state of the device in a set folded state action. The valid string values are device-dependent, and can be found using `adb shell cmd device_state print-states`.",
          "readOnly": true,
          "type": "string"
        },
        "targetOrientation": {
          "readOnly": true,
          "enum": [
            "ORIENTATION_UNSPECIFIED",
            "PORTRAIT",
            "LANDSCAPE"
          ],
          "enumDescriptions": [
            "Orientation unspecified.",
            "Portrait orientation.",
            "Landscape orientation."
          ],
          "type": "string",
          "description": "Output only. The target orientation of the device in a set orientation action."
        },
        "textInput": {
          "type": "string",
          "description": "Output only. A text input action, that types some text into whatever field is currently focused, if any. Unlike `enter_text` this action requires that the field be brought into focus first, for example by emitting a tap action before this one.",
          "readOnly": true
        },
        "enterText": {
          "readOnly": true,
          "description": "Output only. A text entry action, that enters text into a particular text field, clearing any existing text in the field. Unlike `text_input` this action does not require any other actions such as a tap to be performed before it can enter the text.",
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteractionEnterText"
        },
        "backAction": {
          "readOnly": true,
          "description": "Output only. A back action.",
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteractionBack"
        },
        "swipe": {
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteractionSwipe",
          "description": "Output only. A swipe action.",
          "readOnly": true
        },
        "wait": {
          "description": "Output only. A wait action.",
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteractionWait",
          "readOnly": true
        },
        "dragAndDrop": {
          "description": "Output only. A drag and drop action.",
          "readOnly": true,
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteractionDragAndDrop"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaAppCrash": {
      "properties": {
        "stackTrace": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The raw stack trace."
        },
        "message": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The message associated with the crash."
        }
      },
      "type": "object",
      "description": "An app crash that occurred during an automated test.",
      "id": "GoogleFirebaseAppdistroV1alphaAppCrash"
    }
  },
  "basePath": "",
  "resources": {
    "apps": {
      "methods": {
        "getJwt": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "mobilesdkAppId"
          ],
          "description": "Get a JWT token",
          "id": "firebaseappdistribution.apps.getJwt",
          "flatPath": "v1alpha/apps/{mobilesdkAppId}/jwt",
          "parameters": {
            "mobilesdkAppId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleFirebaseAppdistroV1alphaJwt"
          },
          "path": "v1alpha/apps/{mobilesdkAppId}/jwt"
        },
        "get": {
          "description": "Get the app, if it exists",
          "parameters": {
            "mobilesdkAppId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289"
            },
            "appView": {
              "location": "query",
              "description": "App view. When unset or set to BASIC, returns an App with everything set except for aab_state. When set to FULL, returns an App with aab_state set.",
              "enumDescriptions": [
                "The default / unset value. The API will default to the BASIC view.",
                "Include everything except aab_state.",
                "Include everything."
              ],
              "type": "string",
              "enum": [
                "APP_VIEW_UNSPECIFIED",
                "BASIC",
                "FULL"
              ]
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "id": "firebaseappdistribution.apps.get",
          "flatPath": "v1alpha/apps/{mobilesdkAppId}",
          "parameterOrder": [
            "mobilesdkAppId"
          ],
          "path": "v1alpha/apps/{mobilesdkAppId}",
          "response": {
            "$ref": "GoogleFirebaseAppdistroV1alphaApp"
          }
        }
      },
      "resources": {
        "upload_status": {
          "methods": {
            "get": {
              "parameterOrder": [
                "mobilesdkAppId",
                "uploadToken"
              ],
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaGetUploadStatusResponse"
              },
              "id": "firebaseappdistribution.apps.upload_status.get",
              "httpMethod": "GET",
              "parameters": {
                "mobilesdkAppId": {
                  "description": "Required. Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "uploadToken": {
                  "description": "Required. The token for the upload",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v1alpha/apps/{mobilesdkAppId}/upload_status/{uploadToken}",
              "path": "v1alpha/apps/{mobilesdkAppId}/upload_status/{uploadToken}",
              "description": "GET Binary upload status by token",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "testers": {
          "methods": {
            "getTesterUdids": {
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaGetTesterUdidsResponse"
              },
              "flatPath": "v1alpha/apps/{mobilesdkAppId}/testers:getTesterUdids",
              "path": "v1alpha/apps/{mobilesdkAppId}/testers:getTesterUdids",
              "description": "Get UDIDs of tester iOS devices in a project",
              "httpMethod": "GET",
              "id": "firebaseappdistribution.apps.testers.getTesterUdids",
              "parameterOrder": [
                "mobilesdkAppId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "mobilesdkAppId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289"
                },
                "project": {
                  "type": "string",
                  "description": "The name of the project, which is the parent of testers Format: `projects/{project_number}`",
                  "location": "query"
                }
              }
            }
          }
        },
        "release_by_hash": {
          "methods": {
            "get": {
              "flatPath": "v1alpha/apps/{mobilesdkAppId}/release_by_hash/{uploadHash}",
              "parameterOrder": [
                "mobilesdkAppId",
                "uploadHash"
              ],
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaGetReleaseByUploadHashResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "description": "GET Release by binary upload hash",
              "id": "firebaseappdistribution.apps.release_by_hash.get",
              "path": "v1alpha/apps/{mobilesdkAppId}/release_by_hash/{uploadHash}",
              "parameters": {
                "mobilesdkAppId": {
                  "type": "string",
                  "description": "Required. Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
                  "location": "path",
                  "required": true
                },
                "uploadHash": {
                  "description": "Required. The hash for the upload",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              }
            }
          }
        },
        "releases": {
          "resources": {
            "notes": {
              "methods": {
                "create": {
                  "id": "firebaseappdistribution.apps.releases.notes.create",
                  "path": "v1alpha/apps/{mobilesdkAppId}/releases/{releaseId}/notes",
                  "description": "Create release notes on a release.",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "releaseId": {
                      "description": "Required. Release identifier",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "mobilesdkAppId": {
                      "description": "Required. Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesResponse"
                  },
                  "parameterOrder": [
                    "mobilesdkAppId",
                    "releaseId"
                  ],
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesRequest"
                  },
                  "flatPath": "v1alpha/apps/{mobilesdkAppId}/releases/{releaseId}/notes"
                }
              }
            }
          },
          "methods": {
            "enable_access": {
              "parameters": {
                "releaseId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. Release identifier"
                },
                "mobilesdkAppId": {
                  "description": "Required. Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "firebaseappdistribution.apps.releases.enable_access",
              "description": "Enable access on a release for testers.",
              "request": {
                "$ref": "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseRequest"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "mobilesdkAppId",
                "releaseId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1alpha/apps/{mobilesdkAppId}/releases/{releaseId}/enable_access",
              "flatPath": "v1alpha/apps/{mobilesdkAppId}/releases/{releaseId}/enable_access",
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseResponse"
              }
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "testers": {
          "methods": {
            "getUdids": {
              "flatPath": "v1alpha/projects/{projectsId}/testers:udids",
              "path": "v1alpha/{+project}/testers:udids",
              "description": "Get UDIDs of tester iOS devices in a project",
              "parameterOrder": [
                "project"
              ],
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaGetTesterUdidsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "project": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "description": "The name of the project, which is the parent of testers Format: `projects/{project_number}`"
                },
                "mobilesdkAppId": {
                  "location": "query",
                  "type": "string",
                  "description": "Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289"
                }
              },
              "id": "firebaseappdistribution.projects.testers.getUdids",
              "httpMethod": "GET"
            }
          }
        },
        "apps": {
          "resources": {
            "testCases": {
              "methods": {
                "batchUpdate": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesResponse"
                  },
                  "httpMethod": "POST",
                  "path": "v1alpha/{+parent}/testCases:batchUpdate",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases:batchUpdate",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource of the test cases being updated. Format: `projects/{project_number}/apps/{app}`",
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "id": "firebaseappdistribution.projects.apps.testCases.batchUpdate",
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesRequest"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Updates multiple test cases."
                },
                "patch": {
                  "description": "Update a test case.",
                  "path": "v1alpha/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "allowMissing": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Optional. If set to true, and the test case is not found, a new test case will be created."
                    },
                    "name": {
                      "type": "string",
                      "description": "Identifier. The name of the test case resource. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
                      "pattern": "^projects/[^/]+/apps/[^/]+/testCases/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
                  },
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
                  },
                  "id": "firebaseappdistribution.projects.apps.testCases.patch",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases/{testCasesId}",
                  "httpMethod": "PATCH"
                },
                "batchDelete": {
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases:batchDelete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "description": "Deletes multiple test cases.",
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaBatchDeleteTestCasesRequest"
                  },
                  "path": "v1alpha/{+parent}/testCases:batchDelete",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "type": "string",
                      "description": "Required. The parent resource of the test cases being deleted. Format: `projects/{project_number}/apps/{app}`",
                      "location": "path",
                      "required": true
                    }
                  },
                  "id": "firebaseappdistribution.projects.apps.testCases.batchDelete",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "create": {
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
                  },
                  "description": "Create a new test case.",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "firebaseappdistribution.projects.apps.testCases.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1alpha/{+parent}/testCases",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource where this test case will be created. Format: `projects/{project_number}/apps/{app}`",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/apps/[^/]+$"
                    },
                    "testCaseId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The ID to use for the test case, which will become the final component of the test case's resource name. This value should be 4-63 characters, and valid characters are /a-z-/."
                    }
                  },
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
                  },
                  "httpMethod": "POST"
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The name of the test case resource to delete. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
                      "pattern": "^projects/[^/]+/apps/[^/]+/testCases/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "firebaseappdistribution.projects.apps.testCases.delete",
                  "httpMethod": "DELETE",
                  "description": "Delete a test case.",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "path": "v1alpha/{+name}",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases/{testCasesId}"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaListTestCasesResponse"
                  },
                  "httpMethod": "GET",
                  "description": "List test cases.",
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. The maximum number of test cases to return. The service may return fewer than this value. If unspecified, at most 50 test cases will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "type": "integer"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "description": "Required. The parent resource from which to list test cases. Format: `projects/{project_number}/apps/{app}`",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A page token, received from a previous `ListTestCases` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTestCases` must match the call that provided the page token."
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1alpha/{+parent}/testCases",
                  "id": "firebaseappdistribution.projects.apps.testCases.list"
                },
                "get": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/apps/[^/]+/testCases/[^/]+$",
                      "description": "Required. The name of the test case resource to retrieve. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`"
                    }
                  },
                  "path": "v1alpha/{+name}",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases/{testCasesId}",
                  "id": "firebaseappdistribution.projects.apps.testCases.get",
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Get a test case."
                },
                "clearTestCaseCache": {
                  "description": "Clears cached test runs for a specific test case and device(s).",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases/{testCasesId}:clearTestCaseCache",
                  "parameters": {
                    "testCase": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+/testCases/[^/]+$",
                      "description": "Required. The name of the test case resource for which to clear the cache. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`"
                    }
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheRequest"
                  },
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheResponse"
                  },
                  "parameterOrder": [
                    "testCase"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha/{+testCase}:clearTestCaseCache",
                  "id": "firebaseappdistribution.projects.apps.testCases.clearTestCaseCache"
                }
              }
            },
            "releases": {
              "resources": {
                "tests": {
                  "methods": {
                    "create": {
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/releases/{releasesId}/tests",
                      "id": "firebaseappdistribution.projects.apps.releases.tests.create",
                      "response": {
                        "$ref": "GoogleFirebaseAppdistroV1alphaReleaseTest"
                      },
                      "parameters": {
                        "releaseTestId": {
                          "location": "query",
                          "description": "Optional. The ID to use for the test, which will become the final component of the test's resource name. This value should be 4-63 characters, and valid characters are /a-z-/. If it is not provided one will be automatically generated.",
                          "type": "string"
                        },
                        "parent": {
                          "description": "Required. The name of the release resource, which is the parent of the test Format: `projects/{project_number}/apps/{app}/releases/{release}`",
                          "type": "string",
                          "pattern": "^projects/[^/]+/apps/[^/]+/releases/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "request": {
                        "$ref": "GoogleFirebaseAppdistroV1alphaReleaseTest"
                      },
                      "path": "v1alpha/{+parent}/tests",
                      "description": "Run automated test(s) on release.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST"
                    },
                    "cancel": {
                      "path": "v1alpha/{+name}:cancel",
                      "id": "firebaseappdistribution.projects.apps.releases.tests.cancel",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleFirebaseAppdistroV1alphaCancelReleaseTestResponse"
                      },
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/apps/[^/]+/releases/[^/]+/tests/[^/]+$",
                          "description": "Required. The name of the release test resource. Format: `projects/{project_number}/apps/{app}/releases/{release}/tests/{test}`"
                        }
                      },
                      "description": "Abort automated test run on release.",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/releases/{releasesId}/tests/{testsId}:cancel"
                    },
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1alpha/{+name}",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/apps/[^/]+/releases/[^/]+/tests/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. The name of the release test resource. Format: `projects/{project_number}/apps/{app}/releases/{release}/tests/{test}`",
                          "type": "string"
                        }
                      },
                      "description": "Get results for automated test run on release.",
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/releases/{releasesId}/tests/{testsId}",
                      "id": "firebaseappdistribution.projects.apps.releases.tests.get",
                      "response": {
                        "$ref": "GoogleFirebaseAppdistroV1alphaReleaseTest"
                      }
                    },
                    "list": {
                      "parameters": {
                        "view": {
                          "enum": [
                            "RELEASE_TEST_VIEW_UNSPECIFIED",
                            "RELEASE_TEST_VIEW_BASIC",
                            "RELEASE_TEST_VIEW_FULL"
                          ],
                          "enumDescriptions": [
                            "The default / unset value. The default view depends on the RPC.",
                            "Include basic metadata about the release test and its status, but not the full result details. This is the default value for ListReleaseTests.",
                            "Include everything."
                          ],
                          "type": "string",
                          "location": "query",
                          "description": "Optional. The requested view on the returned ReleaseTests. Defaults to the basic view."
                        },
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/apps/[^/]+/releases/[^/]+$",
                          "description": "Required. The name of the release resource, which is the parent of the tests Format: `projects/{project_number}/apps/{app}/releases/{release}`"
                        },
                        "pageToken": {
                          "description": "Optional. A page token, received from a previous `ListReleaseTests` call. Provide this to retrieve the subsequent page.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Optional. The maximum number of tests to return. The service may return fewer than this value.",
                          "type": "integer",
                          "format": "int32",
                          "location": "query"
                        }
                      },
                      "description": "List results for automated tests run on release.",
                      "httpMethod": "GET",
                      "id": "firebaseappdistribution.projects.apps.releases.tests.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleFirebaseAppdistroV1alphaListReleaseTestsResponse"
                      },
                      "path": "v1alpha/{+parent}/tests",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/releases/{releasesId}/tests"
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "getTestConfig": {
              "description": "Gets configuration for automated tests.",
              "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testConfig",
              "parameterOrder": [
                "name"
              ],
              "id": "firebaseappdistribution.projects.apps.getTestConfig",
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaTestConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/apps/[^/]+/testConfig$",
                  "type": "string",
                  "description": "Required. The name of the `TestConfig` resource to retrieve. Format: `projects/{project_number}/apps/{app}/testConfig`"
                }
              },
              "httpMethod": "GET",
              "path": "v1alpha/{+name}"
            },
            "updateTestConfig": {
              "parameters": {
                "updateMask": {
                  "description": "Optional. The list of fields to update.",
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "description": "Identifier. The name of the test configuration resource. Format: `projects/{project_number}/apps/{app}/testConfig`",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/apps/[^/]+/testConfig$"
                }
              },
              "id": "firebaseappdistribution.projects.apps.updateTestConfig",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "description": "Updates automated test configuration.",
              "path": "v1alpha/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaTestConfig"
              },
              "request": {
                "$ref": "GoogleFirebaseAppdistroV1alphaTestConfig"
              },
              "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testConfig"
            }
          }
        }
      },
      "methods": {
        "getTestQuota": {
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. The name of the `TestQuota` resource to retrieve. Format: `projects/{project_number}/testQuota`",
              "pattern": "^projects/[^/]+/testQuota$"
            }
          },
          "id": "firebaseappdistribution.projects.getTestQuota",
          "description": "Get information about the quota for `ReleaseTests`.",
          "path": "v1alpha/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTestQuota"
          },
          "flatPath": "v1alpha/projects/{projectsId}/testQuota",
          "parameterOrder": [
            "name"
          ]
        }
      }
    }
  },
  "ownerName": "Google"
}