{
  "version_module": true,
  "discoveryVersion": "v1",
  "name": "firebasecrashlytics",
  "documentationLink": "https://firebase.google.com/docs/crashlytics",
  "ownerName": "Google",
  "canonicalName": "Firebase Crashlytics",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "basePath": "",
  "id": "firebasecrashlytics:v1alpha",
  "batchPath": "batch",
  "schemas": {
    "Memory": {
      "properties": {
        "used": {
          "description": "Bytes in use.",
          "format": "int64",
          "type": "string"
        },
        "free": {
          "description": "Bytes free.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Mobile device memory usage.",
      "id": "Memory",
      "type": "object"
    },
    "Thread": {
      "type": "object",
      "description": "An application thread.",
      "id": "Thread",
      "properties": {
        "frames": {
          "description": "The frames in the thread's stacktrace.",
          "items": {
            "$ref": "Frame"
          },
          "type": "array"
        },
        "sysThreadId": {
          "type": "string",
          "description": "The system id of the thread, only available for ANR threads.",
          "format": "int64"
        },
        "signal": {
          "description": "The name of the signal that caused the app to crash. Only present on crashed native threads.",
          "type": "string"
        },
        "subtitle": {
          "type": "string",
          "description": "The subtitle of the thread."
        },
        "title": {
          "description": "The title of the thread.",
          "type": "string"
        },
        "threadState": {
          "enumDescriptions": [
            "Thread state unspecified.",
            "Thread was terminated.",
            "Thread was runnable.",
            "Thread was waiting with a timeout.",
            "Thread was blocked.",
            "Thread was waiting.",
            "Thread was started, yet to run anything.",
            "The thread was native and we could not heuristically determine that it was was waiting, so assume it's runnable.",
            "We heuristically determined that the thread is waiting."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "THREAD_STATE_TERMINATED",
            "THREAD_STATE_RUNNABLE",
            "THREAD_STATE_TIMED_WAITING",
            "THREAD_STATE_BLOCKED",
            "THREAD_STATE_WAITING",
            "THREAD_STATE_NEW",
            "THREAD_STATE_NATIVE_RUNNABLE",
            "THREAD_STATE_NATIVE_WAITING"
          ],
          "description": "Output only. The state of the thread at the time the ANR occurred.",
          "type": "string",
          "readOnly": true
        },
        "blamed": {
          "type": "boolean",
          "description": "True when the Crashlytics analysis has determined that the stacktrace in this thread is where the fault occurred."
        },
        "name": {
          "type": "string",
          "description": "The name of the thread."
        },
        "crashed": {
          "type": "boolean",
          "description": "True when the thread has crashed."
        },
        "threadId": {
          "type": "string",
          "description": "The id of the thread, only available for ANR threads.",
          "format": "int64"
        },
        "crashAddress": {
          "type": "string",
          "description": "The address of the signal that caused the application to crash. Only present on crashed native threads.",
          "format": "int64"
        },
        "queue": {
          "description": "The queue on which the thread was running.",
          "type": "string"
        },
        "signalCode": {
          "type": "string",
          "description": "The code of the signal that caused the app to crash. Only present on crashed native threads."
        }
      }
    },
    "UpdateIssueRequest": {
      "description": "Request message for the UpdateIssue method.",
      "type": "object",
      "properties": {
        "issue": {
          "description": "Required. The issue to update. The issue's `name` field is used to identify the issue to update. Format: \"projects/{project}/apps/{app}/issues/{issue}\".",
          "$ref": "Issue"
        },
        "updateMask": {
          "description": "Optional. The list of Issue fields to update. Currently only \"state\" is mutable.",
          "format": "google-fieldmask",
          "type": "string"
        }
      },
      "id": "UpdateIssueRequest"
    },
    "FirebaseSessionEvent": {
      "properties": {
        "version": {
          "description": "Mobile application version numbers.",
          "$ref": "Version"
        },
        "device": {
          "$ref": "Device",
          "description": "Mobile device metadata."
        },
        "eventTime": {
          "description": "The start timestamp for the session event.",
          "type": "string",
          "format": "google-datetime"
        },
        "operatingSystem": {
          "description": "Operating system and version.",
          "$ref": "OperatingSystem"
        },
        "sessionId": {
          "description": "Unique identifier for the Firebase session.",
          "type": "string"
        },
        "firstSessionId": {
          "type": "string",
          "description": "The identifier of the first session since the last cold start. This id and the session_id will be the same for app launches."
        },
        "firebaseInstallationId": {
          "description": "Uniquely identifies a device with Firebase apps installed.",
          "type": "string"
        },
        "eventType": {
          "type": "string",
          "description": "Session event type. The SDK only supports SESSION_START events at this time.",
          "enum": [
            "SESSION_EVENT_TYPE_UNKNOWN",
            "SESSION_START"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Application session started."
          ]
        },
        "sessionIndex": {
          "type": "integer",
          "description": "Indicates the number of sessions since the last cold start.",
          "format": "int32"
        }
      },
      "description": "Sessions recorded by the Firebase App Quality Sessions SDK.",
      "id": "FirebaseSessionEvent",
      "type": "object"
    },
    "BatchGetEventsResponse": {
      "description": "Response message for the BatchGetEvents method.",
      "properties": {
        "events": {
          "type": "array",
          "description": "The list of retrieved events.",
          "items": {
            "$ref": "Event"
          }
        }
      },
      "type": "object",
      "id": "BatchGetEventsResponse"
    },
    "Browser": {
      "id": "Browser",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Browser name and version number. Formatted to be suitable for passing to BrowserFilter."
        },
        "displayVersion": {
          "description": "Browser display version number.",
          "type": "string"
        },
        "browser": {
          "type": "string",
          "description": "Browser name."
        }
      },
      "description": "Web browser metadata.",
      "type": "object"
    },
    "Device": {
      "properties": {
        "manufacturer": {
          "description": "Device brand name which is consistent with android.os.Build.BRAND.",
          "type": "string"
        },
        "formFactor": {
          "type": "string",
          "description": "See FormFactor message.",
          "enum": [
            "FORM_FACTOR_UNSPECIFIED",
            "PHONE",
            "TABLET",
            "DESKTOP",
            "TV",
            "WATCH"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Includes mobile phones, small foldables and other form factors not fitting the other categories.",
            "Includes tablets and larger foldables.",
            "Includes desktops, laptops, Chromebooks, etc.",
            "Includes televisions and set-tops.",
            "Includes both watches and other wearables."
          ]
        },
        "companyName": {
          "description": "An invariant name of the manufacturer that submitted this product in its most recognizable public form, e.g. \"Google\".",
          "type": "string"
        },
        "marketingName": {
          "description": "Marketing name, most recognizable public form, e.g. \"Pixel 6\".",
          "type": "string"
        },
        "architecture": {
          "description": "Device processor architecture.",
          "type": "string"
        },
        "model": {
          "description": "The model name which is consistent with android.os.Build.MODEL, e.g. (\"SPH-L710\", \"GT-I9300\").",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Full device name, suitable for passing to DeviceFilter. Format: \"manufacturer (model)\"."
        }
      },
      "description": "Mobile device metadata.",
      "id": "Device",
      "type": "object"
    },
    "Issue": {
      "type": "object",
      "properties": {
        "errorType": {
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Fatal crash event.",
            "Non-fatal event, such as a caught Java exception or NSError on iOS.",
            "Application not responding error, Android only."
          ],
          "readOnly": true,
          "description": "Output only. Immutable. Indicates whether this issue is a crash, non-fatal exception, or ANR.",
          "enum": [
            "ERROR_TYPE_UNSPECIFIED",
            "FATAL",
            "NON_FATAL",
            "ANR"
          ]
        },
        "title": {
          "type": "string",
          "description": "Output only. Immutable. Caption title. This is usually a source file or method name.",
          "readOnly": true
        },
        "lastSeenVersion": {
          "readOnly": true,
          "description": "Output only. The most recent app display_version in which this issue was seen, populated for mobile issues only.",
          "type": "string"
        },
        "id": {
          "description": "Output only. Immutable. Unique identifier for the issue.",
          "type": "string",
          "readOnly": true
        },
        "signals": {
          "description": "Output only. Immutable. Distinctive characteristics assigned by the Crashlytics analyzer.",
          "type": "array",
          "items": {
            "$ref": "IssueSignals"
          },
          "readOnly": true
        },
        "stateUpdateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time at which the issue state was last changed."
        },
        "name": {
          "readOnly": true,
          "description": "Required. Output only. Immutable. Identifier. The name of the issue resource. Format: \"projects/{project}/apps/{app}/issues/{issue}\".",
          "type": "string"
        },
        "firstSeenVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Immutable. The first app display_version in which this issue was seen, populated for mobile issues only."
        },
        "sampleEvent": {
          "description": "Output only. The resource name for a sample event in this issue.",
          "type": "string",
          "readOnly": true
        },
        "uri": {
          "readOnly": true,
          "description": "Output only. Provides a link to the Issue on the Firebase console. When this Issue is obtained as part of a Report, then the link will be configured with the same time interval and filters as the request.",
          "type": "string"
        },
        "lastSeenTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The most recent time this issue was seen."
        },
        "firstSeenTime": {
          "description": "Output only. Immutable. The first time this issue was seen.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Indicates whether this issue is open, closed or muted. For details on how issue states change without user actions, see [Regressed Issues](https://firebase.google.com/docs/crashlytics/troubleshooting?platform=ios#regressed-issues).",
          "enum": [
            "STATE_UNSPECIFIED",
            "OPEN",
            "CLOSED",
            "MUTED"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Ongoing issue.",
            "Issue resolved.",
            "Issue muted. No alerts will be fired for this issue."
          ]
        },
        "notesCount": {
          "description": "Output only. The number of notes attached to an issue.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "subtitle": {
          "description": "Output only. Immutable. Caption subtitle. This is usually a symbol or an exception message.",
          "readOnly": true,
          "type": "string"
        },
        "variants": {
          "items": {
            "$ref": "IssueVariant"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Immutable. The top 12 variants (subgroups) within the issue. Variants group events within an issue that are very similar. A single result implies that the variant is the same as the parent issue. This field will be empty when multiple issues are requested. Request a single issue to list variants."
        }
      },
      "description": "An issue describes a set of similar events that have been analyzed by Crashlytics and grouped together. All events within an issue will be of the same error_type: crash, non-fatal exception or ANR. All events within an issue will contain similar stack traces in their blamed thread.",
      "id": "Issue"
    },
    "OperatingSystem": {
      "type": "object",
      "properties": {
        "modificationState": {
          "type": "string",
          "description": "Indicates if the OS has been modified or \"jailbroken\"."
        },
        "type": {
          "type": "string",
          "description": "The OS type on Apple platforms (iOS, iPadOS, etc.)."
        },
        "displayName": {
          "description": "Name and version number. Formatted to be suitable for passing to OperatingSystemFilter.",
          "type": "string"
        },
        "os": {
          "description": "Operating system name.",
          "type": "string"
        },
        "deviceType": {
          "description": "The device category (mobile, tablet, desktop).",
          "type": "string"
        },
        "displayVersion": {
          "description": "Operating system display version number.",
          "type": "string"
        }
      },
      "description": "Mobile device operating system metadata.",
      "id": "OperatingSystem"
    },
    "ListNotesResponse": {
      "properties": {
        "notes": {
          "type": "array",
          "description": "Returns notes ordered descending by the timestamp.",
          "items": {
            "$ref": "Note"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A pagination token to retrieve the next page of notes. If this field is not present, there are no subsequent notes."
        }
      },
      "id": "ListNotesResponse",
      "description": "Response message for the ListNotes method.",
      "type": "object"
    },
    "Report": {
      "description": "Response message for the GetReport method. A report consists of the results of a query over an application's events. The events may be filtered by various criteria defined in the filters proto. The result will consist of a number of paginated groups, of a type relevant to the report such as issues or device models.",
      "id": "Report",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Output only. A page token used to retrieve additional report groups. If this field is not present, there are no subsequent pages available to retrieve.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Output only. The displayable title of the report.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "The name of the report. Format: \"projects/{project}/apps/{app_id}/reports/{report}\".",
          "type": "string"
        },
        "totalSize": {
          "type": "integer",
          "description": "Output only. The total number of groups retrievable by the request.",
          "format": "int32",
          "readOnly": true
        },
        "groups": {
          "type": "array",
          "items": {
            "$ref": "ReportGroup"
          },
          "description": "Aggregate event statistics in the report will be grouped by a dimension, such as by issue or by version. The response contains one element per group, and all ReportGroup messages will have the same parent field."
        },
        "usage": {
          "type": "string",
          "description": "Usage instructions for the report with a description of the result metrics. This field contains a description of the underlying query and describes the expected response data with any known caveats. This string can be displayed in the UI of any integration that offers comprehensive access to all Crashlytics reports."
        }
      }
    },
    "User": {
      "description": "Developer-provided end user identifiers.",
      "properties": {
        "id": {
          "description": "User id if provided by the app developer.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "User"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object",
      "id": "Empty"
    },
    "ReportGroup": {
      "properties": {
        "device": {
          "$ref": "Device",
          "description": "Device metrics group."
        },
        "operatingSystem": {
          "description": "Operating system metrics group.",
          "$ref": "OperatingSystem"
        },
        "subgroups": {
          "description": "When applicable, this field contains additional nested groupings. For example, events can be grouped by operating system and by operating system version.",
          "type": "array",
          "items": {
            "$ref": "ReportGroup"
          }
        },
        "variant": {
          "$ref": "IssueVariant",
          "description": "Issue variant metrics group."
        },
        "issue": {
          "description": "Issue metrics group.",
          "$ref": "Issue"
        },
        "webMetricsGroup": {
          "description": "Web metrics group.",
          "$ref": "WebMetricsGroup"
        },
        "version": {
          "$ref": "Version",
          "description": "Version metrics group."
        },
        "browser": {
          "description": "Browser metrics group.",
          "$ref": "Browser"
        },
        "metrics": {
          "type": "array",
          "items": {
            "$ref": "IntervalMetrics"
          },
          "description": "Scalar metrics will contain a single object covering the entire interval, while time-dimensioned graphs will contain one per time grain."
        }
      },
      "type": "object",
      "id": "ReportGroup",
      "description": "A group of results in an EventReport. In any report, the group_parent field is strictly the same type for all of the groups in any collection."
    },
    "IntervalMetrics": {
      "description": "A set of computed metric values for a time interval",
      "type": "object",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "description": "The start of the interval covered by the computation.",
          "type": "string"
        },
        "eventsCount": {
          "format": "int64",
          "type": "string",
          "description": "The total count of events in the interval."
        },
        "impactedUsersCount": {
          "format": "int64",
          "description": "The number of distinct users in the set of events.",
          "type": "string"
        },
        "sessionsCount": {
          "format": "int64",
          "description": "The number of distinct sessions in the set of events.",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "The end of the interval covered by the computation.",
          "type": "string"
        }
      },
      "id": "IntervalMetrics"
    },
    "BatchUpdateIssuesRequest": {
      "id": "BatchUpdateIssuesRequest",
      "type": "object",
      "description": "Request message for the BatchUpdateIssues method.",
      "properties": {
        "requests": {
          "items": {
            "$ref": "UpdateIssueRequest"
          },
          "description": "Required. The request message specifying the resources to update. A maximum of 100 issues can be modified in a batch.",
          "type": "array"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "Optional. The list of Issue fields to update. If this is set, the update_mask field in the UpdateIssueRequest messages must either be empty or match this field."
        }
      }
    },
    "WebMetricsGroup": {
      "id": "WebMetricsGroup",
      "description": "Represents a grouping for metrics specific to web applications.",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The id of the web metrics group"
        }
      }
    },
    "Event": {
      "id": "Event",
      "description": "The message describing a single Crashlytics event. Related to BigQuery export schema, which can be found at [Export Crashlytics data to BigQuery](https://firebase.google.com/docs/crashlytics/bigquery-export#dataset-schema-crashlytics)",
      "type": "object",
      "properties": {
        "deviceOrientation": {
          "type": "string",
          "description": "Device orientation at the time of the crash (portrait or landscape)."
        },
        "customKeys": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Custom keys set by the developer during the session."
        },
        "logs": {
          "description": "Log messages recorded by the developer during the session.",
          "items": {
            "$ref": "Log"
          },
          "type": "array"
        },
        "eventTime": {
          "description": "Device timestamp that the event was recorded.",
          "format": "google-datetime",
          "type": "string"
        },
        "routePath": {
          "description": "Output only. Web only. The route path of the web application when the event occurred, excluding query parameters and fragment.",
          "readOnly": true,
          "type": "string"
        },
        "exceptions": {
          "items": {
            "$ref": "Exception"
          },
          "type": "array",
          "description": "Android and web only. Exceptions that occurred during this event. Nested exceptions are presented in reverse chronological order, so that the last record is the first exception thrown."
        },
        "errors": {
          "description": "Apple only. A non-fatal error captured by the iOS SDK and its stacktrace.",
          "type": "array",
          "items": {
            "$ref": "Error"
          }
        },
        "bundleOrPackage": {
          "description": "The bundle name for iOS apps or the package name of Android apps. Format: \"com.mycompany.myapp\".",
          "type": "string"
        },
        "name": {
          "description": "Required. Output only. Immutable. Identifier. The name of the event resource. Format: \"projects/{project}/apps/{app_id}/events/{event}\".",
          "readOnly": true,
          "type": "string"
        },
        "appOrientation": {
          "description": "App orientation at the time of the crash (portrait or landscape).",
          "type": "string"
        },
        "issueTitle": {
          "description": "The title of the issue in which the event was grouped. This is usually a source file or method name.",
          "type": "string"
        },
        "issueSubtitle": {
          "description": "The subtitle of the issue in which the event was grouped. This is usually a symbol or an exception message.",
          "type": "string"
        },
        "crashlyticsSdkVersion": {
          "type": "string",
          "description": "Crashlytics SDK version."
        },
        "threads": {
          "type": "array",
          "description": "Application threads present at the time the event was recorded. Each contains a stacktrace. One thread will be blamed for the error.",
          "items": {
            "$ref": "Thread"
          }
        },
        "issueVariant": {
          "$ref": "IssueVariant",
          "description": "Details for the [IssueVariant] assigned to this [Event]."
        },
        "platform": {
          "description": "ANDROID, IOS, or WEB.",
          "type": "string"
        },
        "sessionId": {
          "description": "Unique identifier for the Firebase session.",
          "type": "string"
        },
        "browser": {
          "$ref": "Browser",
          "description": "Browser and version."
        },
        "memory": {
          "description": "Mobile device memory usage.",
          "$ref": "Memory"
        },
        "issue": {
          "description": "Details for the [Issue] assigned to this [Event].",
          "$ref": "Issue"
        },
        "blameFrame": {
          "description": "The stack trace frame blamed by Crashlytics processing. May not be present in future analyzer.",
          "$ref": "Frame"
        },
        "eventId": {
          "description": "Output only. Immutable. The unique event identifier is assigned during processing.",
          "readOnly": true,
          "type": "string"
        },
        "storage": {
          "description": "Mobile device disk/flash usage.",
          "$ref": "Storage"
        },
        "buildStamp": {
          "description": "Metadata provided by the app's build system, including version control repository info.",
          "type": "string"
        },
        "device": {
          "$ref": "Device",
          "description": "Mobile device metadata."
        },
        "installationUuid": {
          "type": "string",
          "description": "Unique identifier for the device-app installation. This field is used to compute the unique number of impacted users."
        },
        "processState": {
          "type": "string",
          "description": "The state of the app process at the time of the event."
        },
        "breadcrumbs": {
          "items": {
            "$ref": "Breadcrumb"
          },
          "description": "Analytics events recorded by the analytics SDK during the session.",
          "type": "array"
        },
        "version": {
          "description": "Mobile application version.",
          "$ref": "Version"
        },
        "receivedTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Server timestamp that the event was received by Crashlytics."
        },
        "user": {
          "$ref": "User",
          "description": "End user identifiers for the device owner."
        },
        "operatingSystem": {
          "$ref": "OperatingSystem",
          "description": "Operating system and version."
        }
      }
    },
    "Frame": {
      "description": "A frame in a stacktrace.",
      "id": "Frame",
      "properties": {
        "offset": {
          "format": "int64",
          "type": "string",
          "description": "The byte offset into the binary image that contains the code. Present for native frames."
        },
        "column": {
          "format": "int64",
          "type": "string",
          "description": "The column on the line."
        },
        "file": {
          "description": "The name of the source file in which the frame is found.",
          "type": "string"
        },
        "owner": {
          "description": "One of DEVELOPER, VENDOR, RUNTIME, PLATFORM, or SYSTEM.",
          "type": "string"
        },
        "address": {
          "format": "int64",
          "description": "The address in the binary image which contains the code. Present for native frames.",
          "type": "string"
        },
        "line": {
          "type": "string",
          "description": "The line number in the file of the frame.",
          "format": "int64"
        },
        "library": {
          "type": "string",
          "description": "The display name of the library that includes the frame."
        },
        "symbol": {
          "description": "The frame symbol after it has been deobfuscated or symbolicated. The raw symbol from the device if it could not be hydrated.",
          "type": "string"
        },
        "blamed": {
          "type": "boolean",
          "description": "True when the Crashlytics analysis has determined that this frame is likely to be the cause of the error."
        }
      },
      "type": "object"
    },
    "Version": {
      "description": "Application software version.",
      "id": "Version",
      "properties": {
        "tracks": {
          "type": "array",
          "items": {
            "$ref": "PlayTrack"
          },
          "description": "Indicates releases which have artifacts that are currently available in the Play Store to the target audience of the track. Versions may be available in multiple tracks."
        },
        "displayName": {
          "type": "string",
          "description": "Compound readable string containing both display and build versions. Format: \"display_version (build_version)\" e.g. \"1.2.3 (456)\". This string can be used for filtering with the VersionFilter.display_name field."
        },
        "buildVersion": {
          "description": "Mobile only. One display_version can have many build_version. On Android, strictly the same as \"version code\". On iOS, strictly the same as \"build number\" or CFBundleVersion.",
          "type": "string"
        },
        "displayVersion": {
          "description": "Readable version string, e.g. \"1.2.3\". On Android, strictly the same as \"version name\". On iOS, strictly the same as \"version number\" or CFBundleShortVersionString.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BatchUpdateIssuesResponse": {
      "type": "object",
      "properties": {
        "issues": {
          "items": {
            "$ref": "Issue"
          },
          "type": "array",
          "description": "Issues updated in the same order as in BatchUpdateIssuesRequest."
        }
      },
      "description": "Response message for the BatchUpdateIssues method.",
      "id": "BatchUpdateIssuesResponse"
    },
    "DeleteUserCrashReportsResponse": {
      "id": "DeleteUserCrashReportsResponse",
      "type": "object",
      "description": "Response message for the DeleteUserCrashReports method. All crash reports associated with the specified user will be deleted typically within 24 hours of receiving the crash report.",
      "properties": {
        "targetCompleteTime": {
          "type": "string",
          "description": "Target time to complete the delete crash reports operation.",
          "format": "google-datetime"
        }
      }
    },
    "ListEventsResponse": {
      "description": "Response message for the ListEvents method.",
      "type": "object",
      "id": "ListEventsResponse",
      "properties": {
        "events": {
          "description": "Returns one element per event, in descending order the by event timestamp.",
          "items": {
            "$ref": "Event"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A pagination token to retrieve the next page of events. The next page will have earlier or later events depending on the request's ordering. If this field is not present, there are no subsequent events.",
          "type": "string"
        }
      }
    },
    "Storage": {
      "properties": {
        "used": {
          "type": "string",
          "format": "int64",
          "description": "Bytes used."
        },
        "free": {
          "type": "string",
          "description": "Bytes free.",
          "format": "int64"
        }
      },
      "description": "Mobile device disk/flash usage. Not reported for all devices.",
      "id": "Storage",
      "type": "object"
    },
    "IssueSignals": {
      "properties": {
        "signal": {
          "enum": [
            "SIGNAL_UNSPECIFIED",
            "SIGNAL_EARLY",
            "SIGNAL_FRESH",
            "SIGNAL_REGRESSED",
            "SIGNAL_REPETITIVE"
          ],
          "description": "Output only. The signal name.",
          "enumDescriptions": [
            "Default.",
            "Indicates an issue that is impacting end users early in the app session.",
            "Indicates newly detected issues.",
            "Indicates previously closed issues which have been detected again.",
            "Indicates issues impacting some end users multiple times."
          ],
          "type": "string",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Supporting detail information."
        }
      },
      "description": "Distinctive characteristics assigned by the Crashlytics analyzer.",
      "id": "IssueSignals",
      "type": "object"
    },
    "Note": {
      "description": "Developer notes for an issue.",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Time when the note was created.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output only. Identifier. Format: \"projects/{project}/apps/app/issues/{issue}/notes/{note}\".",
          "readOnly": true
        },
        "body": {
          "description": "Immutable. The body of the note.",
          "type": "string"
        },
        "author": {
          "description": "Output only. The email of the author of the note.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "Note"
    },
    "Log": {
      "description": "Developer-provided log lines recorded during the session.",
      "type": "object",
      "id": "Log",
      "properties": {
        "logTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Device timestamp when the line was logged."
        },
        "message": {
          "description": "Log message.",
          "type": "string"
        }
      }
    },
    "ListReportsResponse": {
      "properties": {
        "reports": {
          "items": {
            "$ref": "Report"
          },
          "type": "array",
          "description": "The report objects returned will contain their names and usage instructions, but include no results. Use the `GetReport` method to run the report and obtain the paged results."
        }
      },
      "id": "ListReportsResponse",
      "description": "Response method for the ListReports method. The response will always include all of the available reports.",
      "type": "object"
    },
    "IssueVariant": {
      "id": "IssueVariant",
      "properties": {
        "id": {
          "type": "string",
          "description": "Output only. Immutable. Distinct identifier for the variant.",
          "readOnly": true
        },
        "sampleEvent": {
          "description": "Output only. The resource name for a sample event in this variant.",
          "readOnly": true,
          "type": "string"
        },
        "uri": {
          "readOnly": true,
          "description": "Output only. Provides a link to the variant on the Firebase console. When this variant is obtained as part of a Report, then the link will be configured with the same time interval and filters as the request.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A variant is a subgroup of an issue where all events have very similar stack traces. Issues may contain one or more variants."
    },
    "Error": {
      "properties": {
        "queue": {
          "description": "The queue on which the thread was running.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The title of the error."
        },
        "subtitle": {
          "type": "string",
          "description": "The subtitle of the error."
        },
        "frames": {
          "type": "array",
          "description": "The frames in the error's stacktrace.",
          "items": {
            "$ref": "Frame"
          }
        },
        "blamed": {
          "description": "True when the Crashlytics analysis has determined that the stacktrace in this error is where the fault occurred.",
          "type": "boolean"
        },
        "code": {
          "description": "Error code associated with the app's custom logged NSError.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "A non-fatal error and its stacktrace, only from Apple apps.",
      "id": "Error",
      "type": "object"
    },
    "PlayTrack": {
      "description": "Describes a release track in the Play Developer Console.",
      "id": "PlayTrack",
      "type": "object",
      "properties": {
        "title": {
          "description": "User-generated or auto-generated name of the track. PROD and INTERNAL track types always have auto-generated names, e.g. \"prod\" and \"internal\" respectively. Tracks of type EARLY_ACCESS always have a user-generated name. Other track types do not have any guarantees, might have user-generated or auto-generated names.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Unknown.",
            "Production.",
            "Internal testing.",
            "Open testing.",
            "Closed testing.",
            "Early access."
          ],
          "type": "string",
          "description": "The type of track (prod, internal, etc...).",
          "enum": [
            "TRACK_TYPE_UNSPECIFIED",
            "TRACK_TYPE_PROD",
            "TRACK_TYPE_INTERNAL",
            "TRACK_TYPE_OPEN_TESTING",
            "TRACK_TYPE_CLOSED_TESTING",
            "TRACK_TYPE_EARLY_ACCESS"
          ]
        }
      }
    },
    "Breadcrumb": {
      "properties": {
        "params": {
          "type": "object",
          "description": "Event parameters.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "title": {
          "type": "string",
          "description": "Analytic event name."
        },
        "eventTime": {
          "description": "Device timestamp for the event.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "Breadcrumb",
      "type": "object",
      "description": "Analytics events recorded during the session."
    },
    "Exception": {
      "description": "A Java or Javascript exception and its stacktrace. Only from Android or web apps.",
      "type": "object",
      "id": "Exception",
      "properties": {
        "nested": {
          "description": "True for all but the last-thrown exception (i.e. the first record).",
          "type": "boolean"
        },
        "type": {
          "type": "string",
          "description": "The exception type e.g. java.lang.IllegalStateException."
        },
        "blamed": {
          "type": "boolean",
          "description": "True when the Crashlytics analysis has determined that this thread is where the fault occurred."
        },
        "frames": {
          "description": "The frames in the exception's stacktrace.",
          "type": "array",
          "items": {
            "$ref": "Frame"
          }
        },
        "title": {
          "type": "string",
          "description": "The title of the exception."
        },
        "subtitle": {
          "type": "string",
          "description": "The subtitle of the exception."
        },
        "exceptionMessage": {
          "description": "A message associated with the exception.",
          "type": "string"
        }
      }
    }
  },
  "mtlsRootUrl": "https://firebasecrashlytics.mtls.googleapis.com/",
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "baseUrl": "https://firebasecrashlytics.googleapis.com/",
  "version": "v1alpha",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "servicePath": "",
  "revision": "20260907",
  "resources": {
    "projects": {
      "resources": {
        "apps": {
          "resources": {
            "issues": {
              "resources": {
                "notes": {
                  "methods": {
                    "create": {
                      "description": "Create a new note for an issue.",
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues/{issuesId}/notes",
                      "request": {
                        "$ref": "Note"
                      },
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent resource where this note will be created. Format: \"projects/{project}/apps/{app}/issues/{issue}\".",
                          "type": "string",
                          "pattern": "^projects/[^/]+/apps/[^/]+/issues/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "path": "v1alpha/{+parent}/notes",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "Note"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/firebase"
                      ],
                      "id": "firebasecrashlytics.projects.apps.issues.notes.create"
                    },
                    "delete": {
                      "description": "Delete a note by its name.",
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues/{issuesId}/notes/{notesId}",
                      "path": "v1alpha/{+name}",
                      "httpMethod": "DELETE",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/firebase"
                      ],
                      "response": {
                        "$ref": "Empty"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/apps/[^/]+/issues/[^/]+/notes/[^/]+$",
                          "description": "Required. The name of the note to delete. Format: projects/{project}/apps/{app}/issues/{issue}/notes/{note}.",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "id": "firebasecrashlytics.projects.apps.issues.notes.delete"
                    },
                    "list": {
                      "response": {
                        "$ref": "ListNotesResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "description": "Optional. The maximum number of notes per page. If omitted, defaults to 10.",
                          "location": "query"
                        },
                        "parent": {
                          "location": "path",
                          "description": "Required. The issue the notes belongs to. Format: \"projects/{project}/apps/{app}/issues/{issue}\".",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/apps/[^/]+/issues/[^/]+$"
                        },
                        "pageToken": {
                          "description": "Optional. A page token, received from a previous calls.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "path": "v1alpha/{+parent}/notes",
                      "id": "firebasecrashlytics.projects.apps.issues.notes.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/firebase"
                      ],
                      "description": "List all notes for a certain issue, sorted in descending order by timestamp.",
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues/{issuesId}/notes",
                      "httpMethod": "GET"
                    }
                  }
                }
              },
              "methods": {
                "patch": {
                  "response": {
                    "$ref": "Issue"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "description": "Change the state of an issue.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "request": {
                    "$ref": "Issue"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues/{issuesId}",
                  "id": "firebasecrashlytics.projects.apps.issues.patch",
                  "parameters": {
                    "name": {
                      "description": "Required. Output only. Immutable. Identifier. The name of the issue resource. Format: \"projects/{project}/apps/{app}/issues/{issue}\".",
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+/issues/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "Optional. The list of Issue fields to update. Currently only \"state\" is mutable."
                    }
                  },
                  "path": "v1alpha/{+name}"
                },
                "get": {
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the issue to retrieve. Format: \"projects/{project}/apps/{app}/issues/{issue}\".",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/apps/[^/]+/issues/[^/]+$",
                      "required": true
                    }
                  },
                  "id": "firebasecrashlytics.projects.apps.issues.get",
                  "response": {
                    "$ref": "Issue"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues/{issuesId}",
                  "description": "Retrieve an issue.",
                  "httpMethod": "GET"
                },
                "batchUpdate": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "description": "Change the state of a group of issues. This method is not atomic, so partial failures can occur. In the event of a partial failure, the request will fail and you will need to call `GetIssue` to see which issues were not updated.",
                  "response": {
                    "$ref": "BatchUpdateIssuesResponse"
                  },
                  "request": {
                    "$ref": "BatchUpdateIssuesRequest"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource shared by all issues being updated. Format: projects/{project}/apps/{app}. If this is set, the parent field in the UpdateIssueRequest messages must either be empty or match this field.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "path": "v1alpha/{+parent}/issues:batchUpdate",
                  "id": "firebasecrashlytics.projects.apps.issues.batchUpdate",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues:batchUpdate"
                }
              }
            },
            "events": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebasecrashlytics.projects.apps.events.list",
                  "parameters": {
                    "filter.issue.errorTypes": {
                      "description": "Optional. Only counts events of the given error types. This field matches [Issue.error_type].",
                      "repeated": true,
                      "type": "string",
                      "enumDescriptions": [
                        "Unknown.",
                        "Fatal crash event.",
                        "Non-fatal event, such as a caught Java exception or NSError on iOS.",
                        "Application not responding error, Android only."
                      ],
                      "enum": [
                        "ERROR_TYPE_UNSPECIFIED",
                        "FATAL",
                        "NON_FATAL",
                        "ANR"
                      ],
                      "location": "query"
                    },
                    "filter.operatingSystem.displayNames": {
                      "location": "query",
                      "description": "Only counts events in the given operating system and version. This string matches OperatingSystem.display_name. Format: \"osName (osVersion)\" e.g. \"Android (11)\". or just \"osName\" for all versions, e.g. simply \"iPadOS\".",
                      "repeated": true,
                      "type": "string"
                    },
                    "filter.device.displayNames": {
                      "location": "query",
                      "type": "string",
                      "repeated": true,
                      "description": "Only counts events from the given Device model. This string matches Device.display_name. Format: \"manufacturer (model)\" e.g. \"Google (Pixel 6)\", or just \"manufacturer\" for all possible models, e.g. simply \"Google\". Note that a device's marketing_name field can not be used for filtering."
                    },
                    "filter.issue.signals": {
                      "type": "string",
                      "enumDescriptions": [
                        "Default.",
                        "Indicates an issue that is impacting end users early in the app session.",
                        "Indicates newly detected issues.",
                        "Indicates previously closed issues which have been detected again.",
                        "Indicates issues impacting some end users multiple times."
                      ],
                      "repeated": true,
                      "location": "query",
                      "enum": [
                        "SIGNAL_UNSPECIFIED",
                        "SIGNAL_EARLY",
                        "SIGNAL_FRESH",
                        "SIGNAL_REGRESSED",
                        "SIGNAL_REPETITIVE"
                      ],
                      "description": "Optional. Only returns issues currently marked with the given signals. This field matches [Issue.signals.signal]."
                    },
                    "filter.interval.endTime": {
                      "location": "query",
                      "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
                      "format": "google-datetime",
                      "type": "string"
                    },
                    "readMask": {
                      "description": "Optional. The list of Event fields to include in the response. If omitted, the full event is returned.",
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A page token, received from a previous calls."
                    },
                    "filter.issue.content": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A space separated list of filter terms matched against the contents of the issue. Contents include the title and the stack trace. Matches must begin at alphanumeric tokens, i.e., 'util.Sorted' matches 'java.util.SortedSet' but not 'myutil.SortedArray'. The filter matches if all filter terms match. All non-alphanumeric characters are ignored for matching. Filtering is assumed to be prefix-search and order-independent unless phrases are surrounded by \"\". Any terms contained in quotes are searched using exact-match (given filter term \"foo\", we will not return \"foobar\"), and must appear in the order given exactly. To get order-dependence but prefix-search, use a * within the quotes (\"abc foo*\" will match \"abc foobar\", but not \"foo abc\" \"abcd foobar\", or \"abc xyz foobar\")."
                    },
                    "filter.interval.startTime": {
                      "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
                      "location": "query",
                      "format": "google-datetime",
                      "type": "string"
                    },
                    "filter.browser.displayNames": {
                      "repeated": true,
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Only count events from the given browser. This string matches Browser.display_name. Format: \"name (display_version)\" e.g. \"Chrome (123)\", or just \"name\" for all possible versions, e.g. simply \"Chrome\"."
                    },
                    "filter.issue.id": {
                      "description": "Optional. Only counts events in the given issue ID. This field matches [Issue.id].",
                      "location": "query",
                      "type": "string"
                    },
                    "filter.version.displayNames": {
                      "type": "string",
                      "repeated": true,
                      "location": "query",
                      "description": "Only counts events in the given app version. This string matches Version.display_name. Format: \"display_version (build_version)\" e.g. \"1.2.3 (456)\"."
                    },
                    "filter.issue.state": {
                      "location": "query",
                      "type": "string",
                      "enumDescriptions": [
                        "Unknown.",
                        "Ongoing issue.",
                        "Issue resolved.",
                        "Issue muted. No alerts will be fired for this issue."
                      ],
                      "deprecated": true,
                      "enum": [
                        "STATE_UNSPECIFIED",
                        "OPEN",
                        "CLOSED",
                        "MUTED"
                      ],
                      "description": "Optional. Deprecated: Prefer `states` field. Only includes events for issues with the given issue state. Only available for `topIssues` reports."
                    },
                    "parent": {
                      "description": "Required. The Firebase application. Format: \"projects/{project}/apps/{app_id}\".",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/apps/[^/]+$"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of events per page. If omitted, defaults to 10.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "filter.device.formFactors": {
                      "type": "string",
                      "description": "Only counts events from devices with the given form factor (e.g. phone or tablet).",
                      "repeated": true,
                      "location": "query",
                      "enumDescriptions": [
                        "Unknown.",
                        "Includes mobile phones, small foldables and other form factors not fitting the other categories.",
                        "Includes tablets and larger foldables.",
                        "Includes desktops, laptops, Chromebooks, etc.",
                        "Includes televisions and set-tops.",
                        "Includes both watches and other wearables."
                      ],
                      "enum": [
                        "FORM_FACTOR_UNSPECIFIED",
                        "PHONE",
                        "TABLET",
                        "DESKTOP",
                        "TV",
                        "WATCH"
                      ]
                    },
                    "filter.issue.states": {
                      "type": "string",
                      "repeated": true,
                      "description": "Optional. Only includes events for issues with the given issue states. Only available for `topIssues` reports.",
                      "location": "query",
                      "enumDescriptions": [
                        "Unknown.",
                        "Ongoing issue.",
                        "Issue resolved.",
                        "Issue muted. No alerts will be fired for this issue."
                      ],
                      "enum": [
                        "STATE_UNSPECIFIED",
                        "OPEN",
                        "CLOSED",
                        "MUTED"
                      ]
                    },
                    "filter.issue.variantId": {
                      "type": "string",
                      "description": "Optional. Only counts events for the given issue variant ID. This field matches [IssueVariant.id].",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListEventsResponse"
                  },
                  "description": "List the events for an issue matching filter criteria, sorted in descending order by timestamp.",
                  "httpMethod": "GET",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/events",
                  "path": "v1alpha/{+parent}/events"
                },
                "batchGet": {
                  "path": "v1alpha/{+parent}/events:batchGet",
                  "description": "Fetch a batch of up to 100 events by name.",
                  "httpMethod": "GET",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/events:batchGet",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "firebasecrashlytics.projects.apps.events.batchGet",
                  "parameters": {
                    "names": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. The resource names of the desired events. A maximum of 100 events can be retrieved in a batch. Format: \"projects/{project}/apps/{app_id}/events/{event_id}\". The app_id and event_id are required, but project may be \"-\" to conserve space in long URIs.",
                      "repeated": true
                    },
                    "readMask": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. The list of Event fields to include in the response. If omitted, the full event is returned.",
                      "format": "google-fieldmask"
                    },
                    "parent": {
                      "description": "Required. The firebase application. Format: \"projects/{project}/apps/{app_id}\".",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/apps/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "response": {
                    "$ref": "BatchGetEventsResponse"
                  }
                }
              }
            },
            "users": {
              "methods": {
                "deleteCrashReports": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/apps/[^/]+/users/[^/]+/crashReports$",
                      "description": "Required. Resource name for user reports, in the format: projects/ PROJECT_IDENTIFIER/apps/APP_ID/users/USER_ID/crashReports - PROJECT_IDENTIFIER: The Firebase project's project number (recommended) or its project ID. Learn more about using project identifiers in Google's [AIP 2510 standard](https://google.aip.dev/cloud/2510). - APP_ID: The globally unique, Firebase-assigned identifier for the Firebase App. This is not your package name or bundle ID. Learn how to [find your app ID](https://firebase.google.com/support/faq/#find-app-id). - USER_ID: The user ID set using the Crashlytics SDK. Learn how to [set user identifiers](https://firebase.google.com/docs/crashlytics/customize-crash-reports#set-user-ids).",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "DeleteUserCrashReportsResponse"
                  },
                  "path": "v1alpha/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebasecrashlytics.projects.apps.users.deleteCrashReports",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/users/{usersId}/crashReports",
                  "httpMethod": "DELETE",
                  "description": "Enqueues a request to permanently remove crash reports associated with the specified user. All reports belonging to the specified user will be deleted typically within 24 hours of receiving the crash report."
                }
              }
            },
            "reports": {
              "methods": {
                "list": {
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The firebase application. Format: \"projects/{project}/apps/{app_id}\".",
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "type": "string"
                    }
                  },
                  "description": "List all of the available reports.",
                  "id": "firebasecrashlytics.projects.apps.reports.list",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/reports",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "response": {
                    "$ref": "ListReportsResponse"
                  },
                  "httpMethod": "GET",
                  "path": "v1alpha/{+parent}/reports"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Get a report with its computed results.",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/reports/{reportsId}",
                  "httpMethod": "GET",
                  "id": "firebasecrashlytics.projects.apps.reports.get",
                  "path": "v1alpha/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "response": {
                    "$ref": "Report"
                  },
                  "parameters": {
                    "filter.issue.states": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Only includes events for issues with the given issue states. Only available for `topIssues` reports.",
                      "enumDescriptions": [
                        "Unknown.",
                        "Ongoing issue.",
                        "Issue resolved.",
                        "Issue muted. No alerts will be fired for this issue."
                      ],
                      "enum": [
                        "STATE_UNSPECIFIED",
                        "OPEN",
                        "CLOSED",
                        "MUTED"
                      ],
                      "repeated": true
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of result groups to return. If omitted, defaults to 25.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "filter.operatingSystem.displayNames": {
                      "repeated": true,
                      "type": "string",
                      "description": "Only counts events in the given operating system and version. This string matches OperatingSystem.display_name. Format: \"osName (osVersion)\" e.g. \"Android (11)\". or just \"osName\" for all versions, e.g. simply \"iPadOS\".",
                      "location": "query"
                    },
                    "filter.version.displayNames": {
                      "repeated": true,
                      "description": "Only counts events in the given app version. This string matches Version.display_name. Format: \"display_version (build_version)\" e.g. \"1.2.3 (456)\".",
                      "type": "string",
                      "location": "query"
                    },
                    "filter.issue.id": {
                      "type": "string",
                      "description": "Optional. Only counts events in the given issue ID. This field matches [Issue.id].",
                      "location": "query"
                    },
                    "filter.interval.startTime": {
                      "type": "string",
                      "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
                      "format": "google-datetime",
                      "location": "query"
                    },
                    "granularity": {
                      "enumDescriptions": [
                        "Unknown.",
                        "Returns a single interval for the requested time range.",
                        "Hour.",
                        "Day."
                      ],
                      "description": "Optional. The report response will contain one data point per time grain. If omitted, the report will contain a single data point for the complete interval.",
                      "location": "query",
                      "enum": [
                        "TIME_GRANULARITY_UNSPECIFIED",
                        "TIME_GRANULARITY_NONE",
                        "TIME_GRANULARITY_HOUR",
                        "TIME_GRANULARITY_DAY"
                      ],
                      "type": "string"
                    },
                    "filter.issue.errorTypes": {
                      "description": "Optional. Only counts events of the given error types. This field matches [Issue.error_type].",
                      "repeated": true,
                      "enum": [
                        "ERROR_TYPE_UNSPECIFIED",
                        "FATAL",
                        "NON_FATAL",
                        "ANR"
                      ],
                      "enumDescriptions": [
                        "Unknown.",
                        "Fatal crash event.",
                        "Non-fatal event, such as a caught Java exception or NSError on iOS.",
                        "Application not responding error, Android only."
                      ],
                      "location": "query",
                      "type": "string"
                    },
                    "filter.issue.signals": {
                      "type": "string",
                      "repeated": true,
                      "location": "query",
                      "description": "Optional. Only returns issues currently marked with the given signals. This field matches [Issue.signals.signal].",
                      "enumDescriptions": [
                        "Default.",
                        "Indicates an issue that is impacting end users early in the app session.",
                        "Indicates newly detected issues.",
                        "Indicates previously closed issues which have been detected again.",
                        "Indicates issues impacting some end users multiple times."
                      ],
                      "enum": [
                        "SIGNAL_UNSPECIFIED",
                        "SIGNAL_EARLY",
                        "SIGNAL_FRESH",
                        "SIGNAL_REGRESSED",
                        "SIGNAL_REPETITIVE"
                      ]
                    },
                    "filter.device.displayNames": {
                      "location": "query",
                      "description": "Only counts events from the given Device model. This string matches Device.display_name. Format: \"manufacturer (model)\" e.g. \"Google (Pixel 6)\", or just \"manufacturer\" for all possible models, e.g. simply \"Google\". Note that a device's marketing_name field can not be used for filtering.",
                      "repeated": true,
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "description": "Required. The report name. Format: \"projects/{project}/apps/{app_id}/reports/{report}\".",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/apps/[^/]+/reports/[^/]+$"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A page token, received from a previous call. The page token is only valid for the exact same set of filters, which must also be sent in subsequent requests. This token is valid for 10 minutes after the first request."
                    },
                    "filter.browser.displayNames": {
                      "repeated": true,
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Only count events from the given browser. This string matches Browser.display_name. Format: \"name (display_version)\" e.g. \"Chrome (123)\", or just \"name\" for all possible versions, e.g. simply \"Chrome\"."
                    },
                    "filter.interval.endTime": {
                      "type": "string",
                      "format": "google-datetime",
                      "location": "query",
                      "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end."
                    },
                    "filter.issue.state": {
                      "enumDescriptions": [
                        "Unknown.",
                        "Ongoing issue.",
                        "Issue resolved.",
                        "Issue muted. No alerts will be fired for this issue."
                      ],
                      "enum": [
                        "STATE_UNSPECIFIED",
                        "OPEN",
                        "CLOSED",
                        "MUTED"
                      ],
                      "deprecated": true,
                      "location": "query",
                      "description": "Optional. Deprecated: Prefer `states` field. Only includes events for issues with the given issue state. Only available for `topIssues` reports.",
                      "type": "string"
                    },
                    "filter.issue.variantId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Only counts events for the given issue variant ID. This field matches [IssueVariant.id]."
                    },
                    "filter.device.formFactors": {
                      "enum": [
                        "FORM_FACTOR_UNSPECIFIED",
                        "PHONE",
                        "TABLET",
                        "DESKTOP",
                        "TV",
                        "WATCH"
                      ],
                      "description": "Only counts events from devices with the given form factor (e.g. phone or tablet).",
                      "location": "query",
                      "repeated": true,
                      "enumDescriptions": [
                        "Unknown.",
                        "Includes mobile phones, small foldables and other form factors not fitting the other categories.",
                        "Includes tablets and larger foldables.",
                        "Includes desktops, laptops, Chromebooks, etc.",
                        "Includes televisions and set-tops.",
                        "Includes both watches and other wearables."
                      ],
                      "type": "string"
                    },
                    "filter.issue.content": {
                      "description": "Optional. A space separated list of filter terms matched against the contents of the issue. Contents include the title and the stack trace. Matches must begin at alphanumeric tokens, i.e., 'util.Sorted' matches 'java.util.SortedSet' but not 'myutil.SortedArray'. The filter matches if all filter terms match. All non-alphanumeric characters are ignored for matching. Filtering is assumed to be prefix-search and order-independent unless phrases are surrounded by \"\". Any terms contained in quotes are searched using exact-match (given filter term \"foo\", we will not return \"foobar\"), and must appear in the order given exactly. To get order-dependence but prefix-search, use a * within the quotes (\"abc foo*\" will match \"abc foobar\", but not \"foo abc\" \"abcd foobar\", or \"abc xyz foobar\").",
                      "type": "string",
                      "location": "query"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "protocol": "rest",
  "rootUrl": "https://firebasecrashlytics.googleapis.com/",
  "title": "Firebase Crashlytics API",
  "description": "This service provides an API for mobile app developers to request deletion of user's crash reports.",
  "kind": "discovery#restDescription"
}