{
  "baseUrl": "https://firestore.googleapis.com/",
  "kind": "discovery#restDescription",
  "name": "firestore",
  "description": "Accesses the NoSQL document database built for automatic scaling, high performance, and ease of application development. ",
  "canonicalName": "Firestore",
  "revision": "20260826",
  "servicePath": "",
  "basePath": "",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "mtlsRootUrl": "https://firestore.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://cloud.google.com/firestore",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "rootUrl": "https://firestore.googleapis.com/",
  "version": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/datastore": {
          "description": "View and manage your Google Cloud Datastore data"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "GoogleFirestoreAdminV1SearchConfig": {
      "description": "The configuration for how to index a field for search.",
      "type": "object",
      "properties": {
        "textSpec": {
          "$ref": "GoogleFirestoreAdminV1SearchTextSpec",
          "description": "Optional. The specification for building a text search index for a field."
        },
        "geoSpec": {
          "description": "Optional. The specification for building a geo search index for a field.",
          "$ref": "GoogleFirestoreAdminV1SearchGeoSpec"
        }
      },
      "id": "GoogleFirestoreAdminV1SearchConfig"
    },
    "RollbackRequest": {
      "properties": {
        "transaction": {
          "format": "byte",
          "type": "string",
          "description": "Required. The transaction to roll back."
        },
        "requestOptions": {
          "$ref": "RequestOptions",
          "description": "Optional. The request options for this request."
        }
      },
      "type": "object",
      "id": "RollbackRequest",
      "description": "The request for Firestore.Rollback."
    },
    "GoogleFirestoreAdminV1ResourceIdentity": {
      "properties": {
        "principal": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Principal identifier string. See: https://cloud.google.com/iam/docs/principal-identifiers"
        }
      },
      "id": "GoogleFirestoreAdminV1ResourceIdentity",
      "description": "Describes a Resource Identity principal.",
      "type": "object"
    },
    "Avg": {
      "id": "Avg",
      "properties": {
        "field": {
          "description": "The field to aggregate on.",
          "$ref": "FieldReference"
        }
      },
      "type": "object",
      "description": "Average of the values of the requested field. * Only numeric values will be aggregated. All non-numeric values including `NULL` are skipped. * If the aggregated values contain `NaN`, returns `NaN`. Infinity math follows IEEE-754 standards. * If the aggregated value set is empty, returns `NULL`. * Always returns the result as a double."
    },
    "Cursor": {
      "id": "Cursor",
      "description": "A position in a query result set.",
      "type": "object",
      "properties": {
        "values": {
          "type": "array",
          "description": "The values that represent a position, in the order they appear in the order by clause of a query. Can contain fewer values than specified in the order by clause.",
          "items": {
            "$ref": "Value"
          }
        },
        "before": {
          "type": "boolean",
          "description": "If the position is just before or just after the given values, relative to the sort order defined by the query."
        }
      }
    },
    "RequestOptions": {
      "type": "object",
      "id": "RequestOptions",
      "properties": {
        "requestTags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The request tags for the request. Request tags are user-provided strings used for usage monitoring, cost management, and observability. Callers can associate custom application context (such as component, microservice, feature name, or operation type) with database requests. These tags are collected and aggregated in usage and monitoring reports, allowing billable operations and usage metrics to be sliced and analyzed by tag. These tags *only* show up in monitoring and are visible in administrative operations (such as usage reports). They do not affect data storage, query semantics, or request execution. Cardinality and Best Practices: - Request tags are most effective when using a bounded set of distinct values (e.g., fewer than 100 distinct tags across an entire database). Using a large number of distinct tags may result in tags being omitted from top usage dashboards. - Use structured identifiers (for example: `app=cart`, `env=prod`, `service=checkout`) and avoid high-cardinality values such as UUIDs, request IDs, timestamps, user IDs, or document keys. - Do not include sensitive data or personally identifiable information (PII) in request tags, as they show up in administrative monitoring. The tags are processed as follows: - Leading and trailing whitespace is trimmed. - Empty tags (after trimming) are filtered out. - Truncated to a maximum of 510 characters. - Deduplicated within the same request. - Limited to a maximum of 50 tags per request (excess tags are silently discarded)."
        }
      },
      "description": "Options for a request."
    },
    "GoogleFirestoreAdminV1DatabaseScope": {
      "type": "object",
      "properties": {},
      "id": "GoogleFirestoreAdminV1DatabaseScope",
      "description": "The change stream is scoped to the entire database. All events in the database are visible to the Change Stream. One Database scope Change Stream is allowed per database."
    },
    "GoogleFirestoreAdminV1SearchTextIndexSpec": {
      "type": "object",
      "properties": {
        "indexType": {
          "description": "Required. How to index the text field value.",
          "enumDescriptions": [
            "The index type is unspecified. Not a valid option.",
            "Field values are tokenized. This is the only way currently supported for MONGODB_COMPATIBLE_API."
          ],
          "enum": [
            "TEXT_INDEX_TYPE_UNSPECIFIED",
            "TOKENIZED"
          ],
          "type": "string"
        },
        "matchType": {
          "enum": [
            "TEXT_MATCH_TYPE_UNSPECIFIED",
            "MATCH_GLOBALLY"
          ],
          "type": "string",
          "description": "Required. How to match the text field value.",
          "enumDescriptions": [
            "The match type is unspecified. Not a valid option.",
            "Match on any indexed field. This is the only way currently supported for MONGODB_COMPATIBLE_API."
          ]
        }
      },
      "id": "GoogleFirestoreAdminV1SearchTextIndexSpec",
      "description": "Specification of how the field should be indexed for search text indexes."
    },
    "GoogleFirestoreAdminV1Database": {
      "type": "object",
      "description": "A Cloud Firestore Database.",
      "id": "GoogleFirestoreAdminV1Database",
      "properties": {
        "firestoreDataAccessMode": {
          "enum": [
            "DATA_ACCESS_MODE_UNSPECIFIED",
            "DATA_ACCESS_MODE_ENABLED",
            "DATA_ACCESS_MODE_DISABLED"
          ],
          "type": "string",
          "description": "Optional. The Firestore API data access mode to use for this database. If not set on write: - the default value is DATA_ACCESS_MODE_DISABLED for Enterprise edition. - the default value is DATA_ACCESS_MODE_ENABLED for Standard edition.",
          "enumDescriptions": [
            "Not Used.",
            "Accessing the database through the API is allowed.",
            "Accessing the database through the API is disallowed."
          ]
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "databaseEdition": {
          "description": "Immutable. The edition of the database.",
          "enumDescriptions": [
            "Not used.",
            "Standard edition. This is the default setting if not specified.",
            "Enterprise edition."
          ],
          "enum": [
            "DATABASE_EDITION_UNSPECIFIED",
            "STANDARD",
            "ENTERPRISE"
          ],
          "type": "string"
        },
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: \"123/environment\": \"production\", \"123/costCenter\": \"marketing\""
        },
        "deleteTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp at which this database was deleted. Only set if the database has been deleted.",
          "readOnly": true
        },
        "locationId": {
          "description": "Required. The location of the database. Available locations are listed at https://cloud.google.com/firestore/docs/locations.",
          "type": "string"
        },
        "realtimeUpdatesMode": {
          "enumDescriptions": [
            "The Realtime Updates feature is not specified.",
            "The Realtime Updates feature is enabled by default. This could potentially degrade write performance for the database.",
            "The Realtime Updates feature is disabled by default."
          ],
          "type": "string",
          "enum": [
            "REALTIME_UPDATES_MODE_UNSPECIFIED",
            "REALTIME_UPDATES_MODE_ENABLED",
            "REALTIME_UPDATES_MODE_DISABLED"
          ],
          "description": "Immutable. The default Realtime Updates mode to use for this database."
        },
        "appEngineIntegrationMode": {
          "description": "The App Engine integration mode to use for this database.",
          "enumDescriptions": [
            "Not used.",
            "If an App Engine application exists in the same region as this database, App Engine configuration will impact this database. This includes disabling of the application & database, as well as disabling writes to the database.",
            "App Engine has no effect on the ability of this database to serve requests. This is the default setting for databases created with the Firestore API."
          ],
          "type": "string",
          "enum": [
            "APP_ENGINE_INTEGRATION_MODE_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ]
        },
        "pointInTimeRecoveryEnablement": {
          "enumDescriptions": [
            "Not used.",
            "Reads are supported on selected versions of the data from within the past 7 days: * Reads against any timestamp within the past hour * Reads against 1-minute snapshots beyond 1 hour and within 7 days `version_retention_period` and `earliest_version_time` can be used to determine the supported versions.",
            "Reads are supported on any version of the data from within the past 1 hour."
          ],
          "type": "string",
          "enum": [
            "POINT_IN_TIME_RECOVERY_ENABLEMENT_UNSPECIFIED",
            "POINT_IN_TIME_RECOVERY_ENABLED",
            "POINT_IN_TIME_RECOVERY_DISABLED"
          ],
          "description": "Whether to enable the PITR feature on this database."
        },
        "earliestVersionTime": {
          "description": "Output only. The earliest timestamp at which older versions of the data can be read from the database. See [version_retention_period] above; this field is populated with `now - version_retention_period`. This value is continuously updated, and becomes stale the moment it is queried. If you are using this value to recover data, make sure to account for the time from the moment when the value is queried to the moment when you initiate the recovery.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "keyPrefix": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The key_prefix for this database. This key_prefix is used, in combination with the project ID (\"~\") to construct the application ID that is returned from the Cloud Datastore APIs in Google App Engine first generation runtimes. This value may be empty in which case the appid to use for URL-encoded keys is the project_id (eg: foo instead of v~foo)."
        },
        "deleteProtectionState": {
          "enum": [
            "DELETE_PROTECTION_STATE_UNSPECIFIED",
            "DELETE_PROTECTION_DISABLED",
            "DELETE_PROTECTION_ENABLED"
          ],
          "enumDescriptions": [
            "The default value. Delete protection type is not specified",
            "Delete protection is disabled",
            "Delete protection is enabled"
          ],
          "type": "string",
          "description": "State of delete protection for the database."
        },
        "cmekConfig": {
          "description": "Optional. Presence indicates CMEK is enabled for this database.",
          "$ref": "GoogleFirestoreAdminV1CmekConfig"
        },
        "versionRetentionPeriod": {
          "readOnly": true,
          "format": "google-duration",
          "description": "Output only. The period during which past versions of data are retained in the database. Any read or query can specify a `read_time` within this window, and will read the state of the database at that time. If the PITR feature is enabled, the retention period is 7 days. Otherwise, the retention period is 1 hour.",
          "type": "string"
        },
        "concurrencyMode": {
          "enum": [
            "CONCURRENCY_MODE_UNSPECIFIED",
            "OPTIMISTIC",
            "PESSIMISTIC",
            "OPTIMISTIC_WITH_ENTITY_GROUPS"
          ],
          "type": "string",
          "description": "The default concurrency control mode to use for this database. If unspecified in a CreateDatabase request, this will default based on the database edition: Optimistic for Enterprise and Pessimistic for all other databases. While transactions can explicitly specify their own concurrency mode, this setting defines the default behavior when left unspecified. Important: This database-level setting is not respected for Firestore with MongoDB compatibility. All transactions through the MongoDB compatibility layer will use optimistic concurrency control, regardless of this setting.",
          "enumDescriptions": [
            "Not used.",
            "Use optimistic concurrency control by default. This mode is available for Cloud Firestore databases. This is the default setting for Cloud Firestore Enterprise edition databases.",
            "Use pessimistic concurrency control by default. This mode is available for Cloud Firestore databases. This is the default setting for Cloud Firestore Standard edition databases.",
            "Use optimistic concurrency control with entity groups by default. This mode is enabled for some databases that were automatically upgraded from Cloud Datastore to Cloud Firestore with Datastore Mode. It is not recommended for any new databases, and not supported for Firestore Native databases."
          ]
        },
        "type": {
          "enumDescriptions": [
            "Not used.",
            "Firestore Native Mode",
            "Firestore in Datastore Mode."
          ],
          "type": "string",
          "enum": [
            "DATABASE_TYPE_UNSPECIFIED",
            "FIRESTORE_NATIVE",
            "DATASTORE_MODE"
          ],
          "description": "Required. The type of the database. See https://cloud.google.com/datastore/docs/firestore-or-datastore for information about how to choose."
        },
        "mongodbCompatibleDataAccessMode": {
          "description": "Optional. The MongoDB compatible API data access mode to use for this database. If not set on write, the default value is DATA_ACCESS_MODE_ENABLED for Enterprise edition. The value is always DATA_ACCESS_MODE_DISABLED for Standard edition.",
          "enumDescriptions": [
            "Not Used.",
            "Accessing the database through the API is allowed.",
            "Accessing the database through the API is disallowed."
          ],
          "enum": [
            "DATA_ACCESS_MODE_UNSPECIFIED",
            "DATA_ACCESS_MODE_ENABLED",
            "DATA_ACCESS_MODE_DISABLED"
          ],
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The resource name of the Database. Format: `projects/{project}/databases/{database}`"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp at which this database was created. Databases created before 2016 do not populate create_time."
        },
        "sourceInfo": {
          "readOnly": true,
          "$ref": "GoogleFirestoreAdminV1SourceInfo",
          "description": "Output only. Information about the provenance of this database."
        },
        "freeTier": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Background: Free tier is the ability of a Firestore database to use a small amount of resources every day without being charged. Once usage exceeds the free tier limit further usage is charged. Whether this database can make use of the free tier. Only one database per project can be eligible for the free tier. The first (or next) database that is created in a project without a free tier database will be marked as eligible for the free tier. Databases that are created while there is a free tier database will not be eligible for the free tier."
        },
        "previousId": {
          "description": "Output only. The database resource's prior database ID. This field is only populated for deleted databases.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp at which this database was most recently updated. Note this only includes updates to the database resource and not data contained by the database."
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The system-generated UUID4 for this Database."
        }
      }
    },
    "GoogleFirestoreAdminV1CustomerManagedEncryptionOptions": {
      "description": "The configuration options for using CMEK (Customer Managed Encryption Key) encryption.",
      "type": "object",
      "properties": {
        "kmsKeyName": {
          "description": "Required. Only keys in the same location as the database are allowed to be used for encryption. For Firestore's nam5 multi-region, this corresponds to Cloud KMS multi-region us. For Firestore's eur3 multi-region, this corresponds to Cloud KMS multi-region europe. See https://cloud.google.com/kms/docs/locations. The expected format is `projects/{project_id}/locations/{kms_location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}`.",
          "type": "string"
        }
      },
      "id": "GoogleFirestoreAdminV1CustomerManagedEncryptionOptions"
    },
    "GoogleFirestoreAdminV1Index": {
      "id": "GoogleFirestoreAdminV1Index",
      "properties": {
        "searchIndexOptions": {
          "description": "Optional. Options for search indexes that are at the index definition level. This field is only currently supported for indexes with MONGODB_COMPATIBLE_API ApiScope.",
          "$ref": "GoogleFirestoreAdminV1SearchIndexOptions"
        },
        "multikey": {
          "type": "boolean",
          "description": "Optional. Whether the index is multikey. By default, the index is not multikey. For non-multikey indexes, none of the paths in the index definition reach or traverse an array, except via an explicit array index. For multikey indexes, at most one of the paths in the index definition reach or traverse an array, except via an explicit array index. Violations will result in errors. Note this field only applies to index with MONGODB_COMPATIBLE_API ApiScope."
        },
        "density": {
          "description": "Immutable. The density configuration of the index.",
          "enum": [
            "DENSITY_UNSPECIFIED",
            "SPARSE_ALL",
            "SPARSE_ANY",
            "DENSE"
          ],
          "enumDescriptions": [
            "Unspecified. It will use database default setting. This value is input only.",
            "An index entry will only exist if ALL fields are present in the document. This is both the default and only allowed value for Standard edition databases (for both Cloud Firestore `ANY_API` and Cloud Datastore `DATASTORE_MODE_API`). Take for example the following document: ``` { \"__name__\": \"...\", \"a\": 1, \"b\": 2, \"c\": 3 } ``` an index on `(a ASC, b ASC, c ASC, __name__ ASC)` will generate an index entry for this document since `a`, 'b', `c`, and `__name__` are all present but an index of `(a ASC, d ASC, __name__ ASC)` will not generate an index entry for this document since `d` is missing. This means that such indexes can only be used to serve a query when the query has either implicit or explicit requirements that all fields from the index are present.",
            "An index entry will exist if ANY field are present in the document. This is used as the definition of a sparse index for Enterprise edition databases. Take for example the following document: ``` { \"__name__\": \"...\", \"a\": 1, \"b\": 2, \"c\": 3 } ``` an index on `(a ASC, d ASC)` will generate an index entry for this document since `a` is present, and will fill in an `unset` value for `d`. An index on `(d ASC, e ASC)` will not generate any index entry as neither `d` nor `e` are present. An index that contains `__name__` will generate an index entry for all documents since Firestore guarantees that all documents have a `__name__` field.",
            "An index entry will exist regardless of if the fields are present or not. This is the default density for an Enterprise edition database. The index will store `unset` values for fields that are not present in the document."
          ],
          "type": "string"
        },
        "unique": {
          "description": "Optional. Whether it is an unique index. Unique index ensures all values for the indexed field(s) are unique across documents.",
          "type": "boolean"
        },
        "name": {
          "description": "A server-defined name for this index. Output only. When used in the google.firestore.admin.v1.Index resource, the value is of the form: `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}/indexes/{index_id}` When used in the google.firestore.admin.v1.Field resource, the value is empty.",
          "type": "string"
        },
        "queryScope": {
          "description": "Indexes with a collection query scope specified allow queries against a collection that is the child of a specific document, specified at query time, and that has the same collection ID. Indexes with a collection group query scope specified allow queries against all collections descended from a specific document, specified at query time, and that have the same collection ID as this index.",
          "enum": [
            "QUERY_SCOPE_UNSPECIFIED",
            "COLLECTION",
            "COLLECTION_GROUP",
            "COLLECTION_RECURSIVE"
          ],
          "enumDescriptions": [
            "The query scope is unspecified. Not a valid option.",
            "Indexes with a collection query scope specified allow queries against a collection that is the child of a specific document, specified at query time, and that has the collection ID specified by the index.",
            "Indexes with a collection group query scope specified allow queries against all collections that has the collection ID specified by the index.",
            "Include all the collections's ancestor in the index. Only available for Datastore Mode databases."
          ],
          "type": "string"
        },
        "apiScope": {
          "type": "string",
          "description": "The API scope supported by this index.",
          "enum": [
            "ANY_API",
            "DATASTORE_MODE_API",
            "MONGODB_COMPATIBLE_API"
          ],
          "enumDescriptions": [
            "The index can only be used by the Firestore Native query API. This is the default.",
            "The index can only be used by the Firestore in Datastore Mode query API.",
            "The index can only be used by the MONGODB_COMPATIBLE_API."
          ]
        },
        "shardCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The number of shards for the index."
        },
        "fields": {
          "type": "array",
          "description": "The fields supported by this index. At most 100 fields may be specified. In Standard edition databases only: - At least 2 fields must be specified. - The last field entry is always for the field path `__name__`. If, on creation, `__name__` was not specified as the last field, it will be added automatically with the same direction as that of the last field defined. If the final field in the index is not directional, the `__name__` will be ordered ASCENDING (unless explicitly specified).",
          "items": {
            "$ref": "GoogleFirestoreAdminV1IndexField"
          }
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "NEEDS_REPAIR"
          ],
          "enumDescriptions": [
            "The state is unspecified.",
            "The index is being created. There is an active long-running operation for the index. The index is updated when writing a document. Some index data may exist.",
            "The index is ready to be used. The index is updated when writing a document. The index is fully populated from all stored documents it applies to.",
            "The index was being created, but something went wrong. There is no active long-running operation for the index, and the most recently finished long-running operation failed. The index is not updated when writing a document. Some index data may exist. Use the google.longrunning.Operations API to determine why the operation that last attempted to create this index failed, then re-create the index."
          ],
          "description": "Output only. The serving state of the index."
        }
      },
      "type": "object",
      "description": "Cloud Firestore indexes enable simple and complex queries against documents in a database. In Standard edition databases, single-field indexes are managed using the google.firestore.admin.v1.Field resource, and composite indexes are managed using the google.firestore.admin.v1.Index resource. In Enterprise edition databases, both single-field and composite indexes are managed using the google.firestore.admin.v1.Index resource."
    },
    "ExplainMetrics": {
      "properties": {
        "planSummary": {
          "description": "Planning phase information for the query.",
          "$ref": "PlanSummary"
        },
        "executionStats": {
          "$ref": "ExecutionStats",
          "description": "Aggregated stats from the execution of the query. Only present when ExplainOptions.analyze is set to true."
        }
      },
      "type": "object",
      "id": "ExplainMetrics",
      "description": "Explain metrics for the query."
    },
    "PartitionQueryRequest": {
      "properties": {
        "pageToken": {
          "type": "string",
          "description": "The `next_page_token` value returned from a previous call to PartitionQuery that may be used to get an additional set of results. There are no ordering guarantees between sets of results. Thus, using multiple sets of results will require merging the different result sets. For example, two subsequent calls using a page_token may return: * cursor B, cursor M, cursor Q * cursor A, cursor U, cursor W To obtain a complete result set ordered with respect to the results of the query supplied to PartitionQuery, the results sets should be merged: cursor A, cursor B, cursor M, cursor Q, cursor U, cursor W"
        },
        "readTime": {
          "format": "google-datetime",
          "description": "Reads documents as they were at the given time. This must be a microsecond precision timestamp within the past one hour, or if Point-in-Time Recovery is enabled, can additionally be a whole minute timestamp within the past 7 days.",
          "type": "string"
        },
        "requestOptions": {
          "description": "Optional. The request options for the request.",
          "$ref": "RequestOptions"
        },
        "partitionCount": {
          "format": "int64",
          "type": "string",
          "description": "The desired maximum number of partition points. The partitions may be returned across multiple pages of results. The number must be positive. The actual number of partitions returned may be fewer. For example, this may be set to one fewer than the number of parallel queries to be run, or in running a data pipeline job, one fewer than the number of workers or compute instances available."
        },
        "structuredQuery": {
          "$ref": "StructuredQuery",
          "description": "A structured query. Query must specify collection with all descendants and be ordered by name ascending. Other filters, order bys, limits, offsets, and start/end cursors are not supported."
        },
        "pageSize": {
          "type": "integer",
          "description": "The maximum number of partitions to return in this call, subject to `partition_count`. For example, if `partition_count` = 10 and `page_size` = 8, the first call to PartitionQuery will return up to 8 partitions and a `next_page_token` if more results exist. A second call to PartitionQuery will return up to 2 partitions, to complete the total of 10 specified in `partition_count`.",
          "format": "int32"
        }
      },
      "description": "The request for Firestore.PartitionQuery.",
      "id": "PartitionQueryRequest",
      "type": "object"
    },
    "Sum": {
      "description": "Sum of the values of the requested field. * Only numeric values will be aggregated. All non-numeric values including `NULL` are skipped. * If the aggregated values contain `NaN`, returns `NaN`. Infinity math follows IEEE-754 standards. * If the aggregated value set is empty, returns 0. * Returns a 64-bit integer if all aggregated numbers are integers and the sum result does not overflow. Otherwise, the result is returned as a double. Note that even if all the aggregated values are integers, the result is returned as a double if it cannot fit within a 64-bit signed integer. When this occurs, the returned value will lose precision. * When underflow occurs, floating-point aggregation is non-deterministic. This means that running the same query repeatedly without any changes to the underlying values could produce slightly different results each time. In those cases, values should be stored as integers over floating-point numbers.",
      "type": "object",
      "properties": {
        "field": {
          "$ref": "FieldReference",
          "description": "The field to aggregate on."
        }
      },
      "id": "Sum"
    },
    "Write": {
      "id": "Write",
      "description": "A write on a document.",
      "properties": {
        "updateMask": {
          "description": "The fields to update in this write. This field can be set only when the operation is `update`. If the mask is not set for an `update` and the document exists, any existing data will be overwritten. If the mask is set and the document on the server has fields not covered by the mask, they are left unchanged. Fields referenced in the mask, but not present in the input document, are deleted from the document on the server. The field paths in this mask must not contain a reserved field name.",
          "$ref": "DocumentMask"
        },
        "delete": {
          "type": "string",
          "description": "A document name to delete. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`."
        },
        "update": {
          "$ref": "Document",
          "description": "A document to write."
        },
        "transform": {
          "description": "Applies a transformation to a document.",
          "$ref": "DocumentTransform"
        },
        "updateTransforms": {
          "items": {
            "$ref": "FieldTransform"
          },
          "type": "array",
          "description": "The transforms to perform after update. This field can be set only when the operation is `update`. If present, this write is equivalent to performing `update` and `transform` to the same document atomically and in order."
        },
        "currentDocument": {
          "description": "An optional precondition on the document. The write will fail if this is set and not met by the target document.",
          "$ref": "Precondition"
        }
      },
      "type": "object"
    },
    "GoogleFirestoreAdminV1BulkDeleteDocumentsRequest": {
      "properties": {
        "namespaceIds": {
          "description": "Optional. Namespaces to delete. An empty list means all namespaces. This is the recommended usage for databases that don't use namespaces. An empty string element represents the default namespace. This should be used if the database has data in non-default namespaces, but doesn't want to delete from them. Each namespace in this list must be unique.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "collectionIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. IDs of the collection groups to delete. Unspecified means all collection groups. Each collection group in this list must be unique."
        }
      },
      "id": "GoogleFirestoreAdminV1BulkDeleteDocumentsRequest",
      "type": "object",
      "description": "The request for FirestoreAdmin.BulkDeleteDocuments. When both collection_ids and namespace_ids are set, only documents satisfying both conditions will be deleted. Requests with namespace_ids and collection_ids both empty will be rejected. Please use FirestoreAdmin.DeleteDatabase instead."
    },
    "GoogleFirestoreAdminV1TtlConfigDelta": {
      "id": "GoogleFirestoreAdminV1TtlConfigDelta",
      "properties": {
        "expirationOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "The offset, relative to the timestamp value in the TTL-enabled field, used determine the document's expiration time."
        },
        "changeType": {
          "type": "string",
          "enum": [
            "CHANGE_TYPE_UNSPECIFIED",
            "ADD",
            "REMOVE"
          ],
          "description": "Specifies how the TTL configuration is changing.",
          "enumDescriptions": [
            "The type of change is not specified or known.",
            "The TTL config is being added.",
            "The TTL config is being removed."
          ]
        }
      },
      "type": "object",
      "description": "Information about a TTL configuration change."
    },
    "GoogleFirestoreAdminV1UserCreds": {
      "description": "A Cloud Firestore User Creds.",
      "properties": {
        "resourceIdentity": {
          "description": "Resource Identity descriptor.",
          "$ref": "GoogleFirestoreAdminV1ResourceIdentity"
        },
        "state": {
          "description": "Output only. Whether the user creds are enabled or disabled. Defaults to ENABLED on creation.",
          "enumDescriptions": [
            "The default value. Should not be used.",
            "The user creds are enabled.",
            "The user creds are disabled."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ],
          "readOnly": true,
          "type": "string"
        },
        "securePassword": {
          "description": "Output only. The plaintext server-generated password for the user creds. Only populated in responses for CreateUserCreds and ResetUserPassword.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The time the user creds were last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the user creds were created.",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The resource name of the UserCreds. Format: `projects/{project}/databases/{database}/userCreds/{user_creds}`",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleFirestoreAdminV1UserCreds"
    },
    "GoogleFirestoreAdminV1DailyRecurrence": {
      "description": "Represents a recurring schedule that runs every day. The time zone is UTC.",
      "type": "object",
      "id": "GoogleFirestoreAdminV1DailyRecurrence",
      "properties": {}
    },
    "GoogleFirestoreAdminV1ResetUserPasswordRequest": {
      "properties": {},
      "description": "The request for FirestoreAdmin.ResetUserPassword.",
      "id": "GoogleFirestoreAdminV1ResetUserPasswordRequest",
      "type": "object"
    },
    "CollectionSelector": {
      "properties": {
        "collectionId": {
          "type": "string",
          "description": "The collection ID. When set, selects only collections with this ID."
        },
        "allDescendants": {
          "type": "boolean",
          "description": "When false, selects only collections that are immediate children of the `parent` specified in the containing `RunQueryRequest`. When true, selects all descendant collections."
        }
      },
      "type": "object",
      "description": "A selection of a collection, such as `messages as m1`.",
      "id": "CollectionSelector"
    },
    "StructuredPipeline": {
      "id": "StructuredPipeline",
      "description": "A Firestore query represented as an ordered list of operations / stages. This is considered the top-level function which plans and executes a query. It is logically equivalent to `query(stages, options)`, but prevents the client from having to build a function wrapper.",
      "properties": {
        "options": {
          "type": "object",
          "description": "Optional. Optional query-level arguments. ",
          "additionalProperties": {
            "$ref": "Value"
          }
        },
        "pipeline": {
          "description": "Required. The pipeline query to execute.",
          "$ref": "Pipeline"
        }
      },
      "type": "object"
    },
    "ListenResponse": {
      "type": "object",
      "description": "The response for Firestore.Listen.",
      "properties": {
        "targetChange": {
          "description": "Targets have changed.",
          "$ref": "TargetChange"
        },
        "documentChange": {
          "$ref": "DocumentChange",
          "description": "A Document has changed."
        },
        "documentDelete": {
          "$ref": "DocumentDelete",
          "description": "A Document has been deleted."
        },
        "documentRemove": {
          "description": "A Document has been removed from a target (because it is no longer relevant to that target).",
          "$ref": "DocumentRemove"
        },
        "filter": {
          "description": "A filter to apply to the set of documents previously returned for the given target. Returned when documents may have been removed from the given target, but the exact documents are unknown.",
          "$ref": "ExistenceFilter"
        }
      },
      "id": "ListenResponse"
    },
    "GoogleFirestoreAdminV1CloneDatabaseRequest": {
      "type": "object",
      "description": "The request message for FirestoreAdmin.CloneDatabase.",
      "properties": {
        "pitrSnapshot": {
          "$ref": "GoogleFirestoreAdminV1PitrSnapshot",
          "description": "Required. Specification of the PITR data to clone from. The source database must exist. The cloned database will be created in the same location as the source database."
        },
        "databaseId": {
          "type": "string",
          "description": "Required. The ID to use for the database, which will become the final component of the database's resource name. This database ID must not be associated with an existing database. This value should be 4-63 characters. Valid characters are /a-z-/ with first character a letter and the last a letter or a number. Must not be UUID-like /[0-9a-f]{8}(-[0-9a-f]{4}){3}-[0-9a-f]{12}/. \"(default)\" database ID is also valid if the database is Standard edition."
        },
        "encryptionConfig": {
          "description": "Optional. Encryption configuration for the cloned database. If this field is not specified, the cloned database will use the same encryption configuration as the source database, namely use_source_encryption.",
          "$ref": "GoogleFirestoreAdminV1EncryptionConfig"
        },
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Immutable. Tags to be bound to the cloned database. The tags should be provided in the format of `tagKeys/{tag_key_id} -> tagValues/{tag_value_id}`.",
          "type": "object"
        }
      },
      "id": "GoogleFirestoreAdminV1CloneDatabaseRequest"
    },
    "RunQueryRequest": {
      "id": "RunQueryRequest",
      "type": "object",
      "description": "The request for Firestore.RunQuery.",
      "properties": {
        "newTransaction": {
          "$ref": "TransactionOptions",
          "description": "Starts a new transaction and reads the documents. Defaults to a read-only transaction. The new transaction ID will be returned as the first response in the stream."
        },
        "requestOptions": {
          "$ref": "RequestOptions",
          "description": "Optional. The request options for this request."
        },
        "readTime": {
          "description": "Reads documents as they were at the given time. This must be a microsecond precision timestamp within the past one hour, or if Point-in-Time Recovery is enabled, can additionally be a whole minute timestamp within the past 7 days.",
          "format": "google-datetime",
          "type": "string"
        },
        "structuredQuery": {
          "$ref": "StructuredQuery",
          "description": "A structured query."
        },
        "transaction": {
          "type": "string",
          "description": "Run the query within an already active transaction. The value here is the opaque transaction ID to execute the query in.",
          "format": "byte"
        },
        "explainOptions": {
          "description": "Optional. Explain options for the query. If set, additional query statistics will be returned. If not, only query results will be returned.",
          "$ref": "ExplainOptions"
        }
      }
    },
    "GoogleFirestoreAdminV1UpdateDatabaseMetadata": {
      "type": "object",
      "properties": {
        "endTime": {
          "type": "string",
          "description": "The time this operation completed. Will be unset if operation still in progress.",
          "format": "google-datetime"
        },
        "startTime": {
          "description": "The time this operation started.",
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "description": "The state of the operation.",
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ],
          "type": "string",
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ]
        }
      },
      "description": "Metadata related to the update database operation.",
      "id": "GoogleFirestoreAdminV1UpdateDatabaseMetadata"
    },
    "AggregationResult": {
      "properties": {
        "aggregateFields": {
          "additionalProperties": {
            "$ref": "Value"
          },
          "description": "The result of the aggregation functions, ex: `COUNT(*) AS total_docs`. The key is the alias assigned to the aggregation function on input and the size of this map equals the number of aggregation functions in the query.",
          "type": "object"
        }
      },
      "description": "The result of a single bucket from a Firestore aggregation query. The keys of `aggregate_fields` are the same for all results in an aggregation query, unlike document queries which can have different fields present for each result.",
      "type": "object",
      "id": "AggregationResult"
    },
    "GoogleFirestoreAdminV1ImportDocumentsRequest": {
      "id": "GoogleFirestoreAdminV1ImportDocumentsRequest",
      "properties": {
        "collectionIds": {
          "type": "array",
          "description": "IDs of the collection groups to import. Unspecified means all collection groups that were included in the export. Each collection group in this list must be unique.",
          "items": {
            "type": "string"
          }
        },
        "inputUriPrefix": {
          "type": "string",
          "description": "Location of the exported files. This must match the output_uri_prefix of an ExportDocumentsResponse from an export that has completed successfully. See: google.firestore.admin.v1.ExportDocumentsResponse.output_uri_prefix."
        },
        "namespaceIds": {
          "description": "An empty list represents all namespaces. This is the preferred usage for databases that don't use namespaces. An empty string element represents the default namespace. This should be used if the database has data in non-default namespaces, but doesn't want to include them. Each namespace in this list must be unique.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "The request for FirestoreAdmin.ImportDocuments."
    },
    "GoogleFirestoreAdminV1ListUserCredsResponse": {
      "id": "GoogleFirestoreAdminV1ListUserCredsResponse",
      "properties": {
        "userCreds": {
          "description": "The user creds for the database.",
          "items": {
            "$ref": "GoogleFirestoreAdminV1UserCreds"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "The response for FirestoreAdmin.ListUserCreds."
    },
    "GoogleLongrunningOperation": {
      "id": "GoogleLongrunningOperation",
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "response": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        }
      }
    },
    "GoogleFirestoreAdminV1IndexConfigDelta": {
      "id": "GoogleFirestoreAdminV1IndexConfigDelta",
      "properties": {
        "index": {
          "$ref": "GoogleFirestoreAdminV1Index",
          "description": "The index being changed."
        },
        "changeType": {
          "description": "Specifies how the index is changing.",
          "enumDescriptions": [
            "The type of change is not specified or known.",
            "The single field index is being added.",
            "The single field index is being removed."
          ],
          "type": "string",
          "enum": [
            "CHANGE_TYPE_UNSPECIFIED",
            "ADD",
            "REMOVE"
          ]
        }
      },
      "description": "Information about an index configuration change.",
      "type": "object"
    },
    "GoogleFirestoreAdminV1Field": {
      "type": "object",
      "description": "Represents a single field in the database. Fields are grouped by their \"Collection Group\", which represent all collections in the database with the same ID.",
      "properties": {
        "ttlConfig": {
          "description": "The TTL configuration for this `Field`. Setting or unsetting this will enable or disable the TTL for documents that have this `Field`.",
          "$ref": "GoogleFirestoreAdminV1TtlConfig"
        },
        "indexConfig": {
          "$ref": "GoogleFirestoreAdminV1IndexConfig",
          "description": "The index configuration for this field. If unset, field indexing will revert to the configuration defined by the `ancestor_field`. To explicitly remove all indexes for this field, specify an index config with an empty list of indexes."
        },
        "name": {
          "type": "string",
          "description": "Required. A field name of the form: `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}/fields/{field_path}` A field path can be a simple field name, e.g. `address` or a path to fields within `map_value` , e.g. `address.city`, or a special field path. The only valid special field is `*`, which represents any field. Field paths can be quoted using `` ` `` (backtick). The only character that must be escaped within a quoted field path is the backtick character itself, escaped using a backslash. Special characters in field paths that must be quoted include: `*`, `.`, `` ` `` (backtick), `[`, `]`, as well as any ascii symbolic characters. Examples: `` `address.city` `` represents a field named `address.city`, not the map key `city` in the field `address`. `` `*` `` represents a field named `*`, not any field. A special `Field` contains the default indexing settings for all fields. This field's resource name is: `projects/{project_id}/databases/{database_id}/collectionGroups/__default__/fields/*` Indexes defined on this `Field` will be applied to all fields which do not have their own `Field` index configuration."
        }
      },
      "id": "GoogleFirestoreAdminV1Field"
    },
    "GoogleFirestoreAdminV1EncryptionConfig": {
      "type": "object",
      "id": "GoogleFirestoreAdminV1EncryptionConfig",
      "description": "Encryption configuration for a new database being created from another source. The source could be a Backup or a PitrSnapshot.",
      "properties": {
        "googleDefaultEncryption": {
          "description": "Use Google default encryption.",
          "$ref": "GoogleFirestoreAdminV1GoogleDefaultEncryptionOptions"
        },
        "useSourceEncryption": {
          "$ref": "GoogleFirestoreAdminV1SourceEncryptionOptions",
          "description": "The database will use the same encryption configuration as the source."
        },
        "customerManagedEncryption": {
          "description": "Use Customer Managed Encryption Keys (CMEK) for encryption.",
          "$ref": "GoogleFirestoreAdminV1CustomerManagedEncryptionOptions"
        }
      }
    },
    "WriteResponse": {
      "id": "WriteResponse",
      "type": "object",
      "properties": {
        "streamId": {
          "description": "The ID of the stream. Only set on the first message, when a new stream was created.",
          "type": "string"
        },
        "writeResults": {
          "description": "The result of applying the writes. This i-th write result corresponds to the i-th write in the request.",
          "type": "array",
          "items": {
            "$ref": "WriteResult"
          }
        },
        "streamToken": {
          "description": "A token that represents the position of this response in the stream. This can be used by a client to resume the stream at this point. This field is always set.",
          "format": "byte",
          "type": "string"
        },
        "commitTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the commit occurred. Any read with an equal or greater `read_time` is guaranteed to see the effects of the write."
        }
      },
      "description": "The response for Firestore.Write."
    },
    "GoogleFirestoreAdminV1ChangeStream": {
      "type": "object",
      "description": "A Change Stream is a resource that allows users to receive change notifications from a Firestore database.",
      "properties": {
        "databaseScope": {
          "$ref": "GoogleFirestoreAdminV1DatabaseScope",
          "description": "If set, the change stream is scoped to the entire database."
        },
        "name": {
          "description": "Identifier. The external resource name of the change stream. Format `projects/{project}/databases/{database}/changeStreams/{change_stream}`",
          "type": "string"
        },
        "startTime": {
          "readOnly": true,
          "description": "Output only. The time the Change Stream started recording events.",
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the Change Stream was created."
        },
        "retentionPeriod": {
          "description": "Required. The retention period of the change stream. This is the amount of time a change event is available on the change stream. Must be from 1 to 7 days, inclusive. The retention_period must be in day granularity, i.e. it must be a multiple of 24 hours.",
          "type": "string",
          "format": "google-duration"
        },
        "updateTime": {
          "description": "Output only. The time the Change Stream was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "collectionGroupScope": {
          "$ref": "GoogleFirestoreAdminV1CollectionGroupScope",
          "description": "If set, the change stream is scoped to a collection group."
        },
        "etag": {
          "type": "string",
          "description": "Optional. An etag used to determine which version of the configuration is being edited."
        }
      },
      "id": "GoogleFirestoreAdminV1ChangeStream"
    },
    "TransactionOptions": {
      "description": "Options for creating a new transaction.",
      "id": "TransactionOptions",
      "type": "object",
      "properties": {
        "readWrite": {
          "description": "The transaction can be used for both read and write operations.",
          "$ref": "ReadWrite"
        },
        "readOnly": {
          "$ref": "ReadOnly",
          "description": "The transaction can only be used for read operations."
        }
      }
    },
    "GoogleFirestoreAdminV1ListIndexesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A page token that may be used to request another page of results. If blank, this is the last page."
        },
        "indexes": {
          "type": "array",
          "items": {
            "$ref": "GoogleFirestoreAdminV1Index"
          },
          "description": "The requested indexes."
        }
      },
      "type": "object",
      "id": "GoogleFirestoreAdminV1ListIndexesResponse",
      "description": "The response for FirestoreAdmin.ListIndexes."
    },
    "GoogleFirestoreAdminV1ExportDocumentsRequest": {
      "description": "The request for FirestoreAdmin.ExportDocuments.",
      "id": "GoogleFirestoreAdminV1ExportDocumentsRequest",
      "properties": {
        "namespaceIds": {
          "type": "array",
          "description": "An empty list represents all namespaces. This is the preferred usage for databases that don't use namespaces. An empty string element represents the default namespace. This should be used if the database has data in non-default namespaces, but doesn't want to include them. Each namespace in this list must be unique.",
          "items": {
            "type": "string"
          }
        },
        "outputUriPrefix": {
          "description": "The output URI. Currently only supports Google Cloud Storage URIs of the form: `gs://BUCKET_NAME[/NAMESPACE_PATH]`, where `BUCKET_NAME` is the name of the Google Cloud Storage bucket and `NAMESPACE_PATH` is an optional Google Cloud Storage namespace path. When choosing a name, be sure to consider Google Cloud Storage naming guidelines: https://cloud.google.com/storage/docs/naming. If the URI is a bucket (without a namespace path), a prefix will be generated based on the start time.",
          "type": "string"
        },
        "collectionIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "IDs of the collection groups to export. Unspecified means all collection groups. Each collection group in this list must be unique."
        },
        "snapshotTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The timestamp that corresponds to the version of the database to be exported. The timestamp must be in the past, rounded to the minute and not older than earliestVersionTime. If specified, then the exported documents will represent a consistent view of the database at the provided time. Otherwise, there are no guarantees about the consistency of the exported documents."
        }
      },
      "type": "object"
    },
    "Target": {
      "id": "Target",
      "type": "object",
      "description": "A specification of a set of documents to listen to.",
      "properties": {
        "once": {
          "type": "boolean",
          "description": "If the target should be removed once it is current and consistent."
        },
        "targetId": {
          "format": "int32",
          "description": "The target ID that identifies the target on the stream. Must be a positive number and non-zero. If `target_id` is 0 (or unspecified), the server will assign an ID for this target and return that in a `TargetChange::ADD` event. Once a target with `target_id=0` is added, all subsequent targets must also have `target_id=0`. If an `AddTarget` request with `target_id != 0` is sent to the server after a target with `target_id=0` is added, the server will immediately send a response with a `TargetChange::Remove` event. Note that if the client sends multiple `AddTarget` requests without an ID, the order of IDs returned in `TargetChange.target_ids` are undefined. Therefore, clients should provide a target ID instead of relying on the server to assign one. If `target_id` is non-zero, there must not be an existing active target on this stream with the same ID.",
          "type": "integer"
        },
        "expectedCount": {
          "description": "The number of documents that last matched the query at the resume token or read time. This value is only relevant when a `resume_type` is provided. This value being present and greater than zero signals that the client wants `ExistenceFilter.unchanged_names` to be included in the response.",
          "format": "int32",
          "type": "integer"
        },
        "resumeToken": {
          "description": "A resume token from a prior TargetChange for an identical target. Using a resume token with a different target is unsupported and may fail.",
          "format": "byte",
          "type": "string"
        },
        "query": {
          "$ref": "QueryTarget",
          "description": "A target specified by a query."
        },
        "documents": {
          "description": "A target specified by a set of document names.",
          "$ref": "DocumentsTarget"
        },
        "readTime": {
          "description": "Start listening after a specific `read_time`. The client must know the state of matching documents at this time.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "CommitResponse": {
      "id": "CommitResponse",
      "properties": {
        "commitTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the commit occurred. Any read with an equal or greater `read_time` is guaranteed to see the effects of the commit."
        },
        "writeResults": {
          "items": {
            "$ref": "WriteResult"
          },
          "description": "The result of applying the writes. This i-th write result corresponds to the i-th write in the request.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "The response for Firestore.Commit."
    },
    "GoogleFirestoreAdminV1CmekConfig": {
      "id": "GoogleFirestoreAdminV1CmekConfig",
      "properties": {
        "activeKeyVersion": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Currently in-use [KMS key versions](https://cloud.google.com/kms/docs/resource-hierarchy#key_versions). During [key rotation](https://cloud.google.com/kms/docs/key-rotation), there can be multiple in-use key versions. The expected format is `projects/{project_id}/locations/{kms_location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}/cryptoKeyVersions/{key_version}`.",
          "readOnly": true
        },
        "kmsKeyName": {
          "description": "Required. Only keys in the same location as this database are allowed to be used for encryption. For Firestore's nam5 multi-region, this corresponds to Cloud KMS multi-region us. For Firestore's eur3 multi-region, this corresponds to Cloud KMS multi-region europe. See https://cloud.google.com/kms/docs/locations. The expected format is `projects/{project_id}/locations/{kms_location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}`.",
          "type": "string"
        }
      },
      "description": "The CMEK (Customer Managed Encryption Key) configuration for a Firestore database. If not present, the database is secured by the default Google encryption key.",
      "type": "object"
    },
    "DocumentChange": {
      "properties": {
        "targetIds": {
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "type": "array",
          "description": "A set of target IDs of targets that match this document."
        },
        "document": {
          "$ref": "Document",
          "description": "The new state of the Document. If `mask` is set, contains only fields that were updated or added."
        },
        "removedTargetIds": {
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "description": "A set of target IDs for targets that no longer match this document.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "DocumentChange",
      "description": "A Document has changed. May be the result of multiple writes, including deletes, that ultimately resulted in a new value for the Document. Multiple DocumentChange messages may be returned for the same logical change, if multiple targets are affected."
    },
    "GoogleFirestoreAdminV1CloneDatabaseMetadata": {
      "description": "Metadata for the long-running operation from the CloneDatabase request.",
      "type": "object",
      "properties": {
        "progressPercentage": {
          "$ref": "GoogleFirestoreAdminV1Progress",
          "description": "How far along the clone is as an estimated percentage of remaining time."
        },
        "database": {
          "description": "The name of the database being cloned to.",
          "type": "string"
        },
        "pitrSnapshot": {
          "description": "The snapshot from which this database was cloned.",
          "$ref": "GoogleFirestoreAdminV1PitrSnapshot"
        },
        "operationState": {
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ],
          "description": "The operation state of the clone.",
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ],
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the clone was started."
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the clone finished, unset for ongoing clones."
        }
      },
      "id": "GoogleFirestoreAdminV1CloneDatabaseMetadata"
    },
    "BatchGetDocumentsRequest": {
      "id": "BatchGetDocumentsRequest",
      "type": "object",
      "description": "The request for Firestore.BatchGetDocuments.",
      "properties": {
        "mask": {
          "$ref": "DocumentMask",
          "description": "The fields to return. If not set, returns all fields. If a document has a field that is not present in this mask, that field will not be returned in the response."
        },
        "transaction": {
          "description": "Reads documents in a transaction.",
          "type": "string",
          "format": "byte"
        },
        "newTransaction": {
          "description": "Starts a new transaction and reads the documents. Defaults to a read-only transaction. The new transaction ID will be returned as the first response in the stream.",
          "$ref": "TransactionOptions"
        },
        "readTime": {
          "format": "google-datetime",
          "description": "Reads documents as they were at the given time. This must be a microsecond precision timestamp within the past one hour, or if Point-in-Time Recovery is enabled, can additionally be a whole minute timestamp within the past 7 days.",
          "type": "string"
        },
        "requestOptions": {
          "$ref": "RequestOptions",
          "description": "Optional. The request options for this request."
        },
        "documents": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The names of the documents to retrieve. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`. The request will fail if any of the document is not a child resource of the given `database`. Duplicate names will be elided."
        }
      }
    },
    "GoogleFirestoreAdminV1DisableUserCredsRequest": {
      "id": "GoogleFirestoreAdminV1DisableUserCredsRequest",
      "description": "The request for FirestoreAdmin.DisableUserCreds.",
      "type": "object",
      "properties": {}
    },
    "Function": {
      "description": "Represents an unevaluated scalar expression. For example, the expression `like(user_name, \"%alice%\")` is represented as: ``` name: \"like\" args { field_reference: \"user_name\" } args { string_value: \"%alice%\" } ```",
      "type": "object",
      "properties": {
        "args": {
          "description": "Optional. Ordered list of arguments the given function expects.",
          "items": {
            "$ref": "Value"
          },
          "type": "array"
        },
        "options": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Value"
          },
          "description": "Optional. Optional named arguments that certain functions may support."
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the function to evaluate. **Requires:** * must be in snake case (lower case with underscore separator)."
        }
      },
      "id": "Function"
    },
    "TargetChange": {
      "type": "object",
      "properties": {
        "targetIds": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "The target IDs of targets that have changed. If empty, the change applies to all targets. The order of the target IDs is not defined."
        },
        "targetChangeType": {
          "description": "The type of change that occurred.",
          "enum": [
            "NO_CHANGE",
            "ADD",
            "REMOVE",
            "CURRENT",
            "RESET"
          ],
          "type": "string",
          "enumDescriptions": [
            "No change has occurred. Used only to send an updated `resume_token`.",
            "The targets have been added.",
            "The targets have been removed.",
            "The targets reflect all changes committed before the targets were added to the stream. This will be sent after or with a `read_time` that is greater than or equal to the time at which the targets were added. Listeners can wait for this change if read-after-write semantics are desired.",
            "The targets have been reset, and a new initial state for the targets will be returned in subsequent changes. After the initial state is complete, `CURRENT` will be returned even if the target was previously indicated to be `CURRENT`."
          ]
        },
        "cause": {
          "description": "The error that resulted in this change, if applicable.",
          "$ref": "Status"
        },
        "readTime": {
          "format": "google-datetime",
          "description": "The consistent `read_time` for the given `target_ids` (omitted when the target_ids are not at a consistent snapshot). The stream is guaranteed to send a `read_time` with `target_ids` empty whenever the entire stream reaches a new consistent snapshot. ADD, CURRENT, and RESET messages are guaranteed to (eventually) result in a new consistent snapshot (while NO_CHANGE and REMOVE messages are not). For a given stream, `read_time` is guaranteed to be monotonically increasing.",
          "type": "string"
        },
        "resumeToken": {
          "description": "A token that can be used to resume the stream for the given `target_ids`, or all targets if `target_ids` is empty. Not set on every target change.",
          "type": "string",
          "format": "byte"
        }
      },
      "description": "Targets being watched have changed.",
      "id": "TargetChange"
    },
    "Order": {
      "id": "Order",
      "properties": {
        "direction": {
          "enumDescriptions": [
            "Unspecified.",
            "Ascending.",
            "Descending."
          ],
          "description": "The direction to order by. Defaults to `ASCENDING`.",
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "ASCENDING",
            "DESCENDING"
          ],
          "type": "string"
        },
        "field": {
          "description": "The field to order by.",
          "$ref": "FieldReference"
        }
      },
      "description": "An order on a field.",
      "type": "object"
    },
    "Document": {
      "id": "Document",
      "properties": {
        "fields": {
          "description": "The document's fields. The map keys represent field names. Field names matching the regular expression `__.*__` are reserved. Reserved field names are forbidden except in certain documented contexts. The field names, represented as UTF-8, must not exceed 1,500 bytes and cannot be empty. Field paths may be used in other contexts to refer to structured fields defined here. For `map_value`, the field path is represented by a dot-delimited (`.`) string of segments. Each segment is either a simple field name (defined below) or a quoted field name. For example, the structured field `\"foo\" : { map_value: { \"x&y\" : { string_value: \"hello\" }}}` would be represented by the field path `` foo.`x&y` ``. A simple field name contains only characters `a` to `z`, `A` to `Z`, `0` to `9`, or `_`, and must not start with `0` to `9`. For example, `foo_bar_17`. A quoted field name starts and ends with `` ` `` and may contain any character. Some characters, including `` ` ``, must be escaped using a `\\`. For example, `` `x&y` `` represents `x&y` and `` `bak\\`tik` `` represents `` bak`tik ``.",
          "type": "object",
          "additionalProperties": {
            "$ref": "Value"
          }
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The time at which the document was last changed. This value is initially set to the `create_time` then increases monotonically with each change to the document. It can also be compared to values from other documents and the `read_time` of a query.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The resource name of the document, for example `projects/{project_id}/databases/{database_id}/documents/{document_path}`."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the document was created. This value increases monotonically when a document is deleted then recreated. It can also be compared to values from other documents and the `read_time` of a query."
        }
      },
      "type": "object",
      "description": "A Firestore document. Must not exceed 1 MiB - 4 bytes."
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object",
      "properties": {}
    },
    "Projection": {
      "properties": {
        "fields": {
          "description": "The fields to return. If empty, all fields are returned. To only return the name of the document, use `['__name__']`.",
          "items": {
            "$ref": "FieldReference"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "Projection",
      "description": "The projection of document's fields to return."
    },
    "GoogleFirestoreAdminV1IndexConfig": {
      "description": "The index configuration for this field.",
      "type": "object",
      "id": "GoogleFirestoreAdminV1IndexConfig",
      "properties": {
        "ancestorField": {
          "type": "string",
          "description": "Output only. Specifies the resource name of the `Field` from which this field's index configuration is set (when `uses_ancestor_config` is true), or from which it *would* be set if this field had no index configuration (when `uses_ancestor_config` is false)."
        },
        "indexes": {
          "type": "array",
          "items": {
            "$ref": "GoogleFirestoreAdminV1Index"
          },
          "description": "The indexes supported for this field."
        },
        "reverting": {
          "type": "boolean",
          "description": "Output only When true, the `Field`'s index configuration is in the process of being reverted. Once complete, the index config will transition to the same state as the field specified by `ancestor_field`, at which point `uses_ancestor_config` will be `true` and `reverting` will be `false`."
        },
        "usesAncestorConfig": {
          "type": "boolean",
          "description": "Output only. When true, the `Field`'s index configuration is set from the configuration specified by the `ancestor_field`. When false, the `Field`'s index configuration is defined explicitly."
        }
      }
    },
    "GoogleFirestoreAdminV1IndexField": {
      "description": "A field in an index. The field_path describes which field is indexed, the value_mode describes how the field value is indexed.",
      "properties": {
        "vectorConfig": {
          "$ref": "GoogleFirestoreAdminV1VectorConfig",
          "description": "Indicates that this field supports nearest neighbor and distance operations on vector."
        },
        "arrayConfig": {
          "type": "string",
          "enum": [
            "ARRAY_CONFIG_UNSPECIFIED",
            "CONTAINS"
          ],
          "description": "Indicates that this field supports operations on `array_value`s.",
          "enumDescriptions": [
            "The index does not support additional array queries.",
            "The index supports array containment queries."
          ]
        },
        "searchConfig": {
          "description": "Indicates that this field supports search operations.",
          "$ref": "GoogleFirestoreAdminV1SearchConfig"
        },
        "order": {
          "description": "Indicates that this field supports ordering by the specified order or comparing using =, !=, <, <=, >, >=.",
          "enum": [
            "ORDER_UNSPECIFIED",
            "ASCENDING",
            "DESCENDING"
          ],
          "enumDescriptions": [
            "The ordering is unspecified. Not a valid option.",
            "The field is ordered by ascending field value.",
            "The field is ordered by descending field value."
          ],
          "type": "string"
        },
        "fieldPath": {
          "type": "string",
          "description": "Can be __name__. For single field indexes, this must match the name of the field or may be omitted."
        }
      },
      "id": "GoogleFirestoreAdminV1IndexField",
      "type": "object"
    },
    "GoogleFirestoreAdminV1PitrSnapshot": {
      "type": "object",
      "id": "GoogleFirestoreAdminV1PitrSnapshot",
      "description": "A consistent snapshot of a database at a specific point in time. A PITR (Point-in-time recovery) snapshot with previous versions of a database's data is available for every minute up to the associated database's data retention period. If the PITR feature is enabled, the retention period is 7 days; otherwise, it is one hour.",
      "properties": {
        "databaseUid": {
          "type": "string",
          "format": "byte",
          "description": "Output only. Public UUID of the database the snapshot was associated with.",
          "readOnly": true
        },
        "database": {
          "description": "Required. The name of the database that this was a snapshot of. Format: `projects/{project}/databases/{database}`.",
          "type": "string"
        },
        "snapshotTime": {
          "description": "Required. Snapshot time of the database.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "WriteRequest": {
      "description": "The request for Firestore.Write. The first request creates a stream, or resumes an existing one from a token. When creating a new stream, the server replies with a response containing only an ID and a token, to use in the next request. When resuming a stream, the server first streams any responses later than the given token, then a response containing only an up-to-date token, to use in the next request.",
      "type": "object",
      "properties": {
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels associated with this write request."
        },
        "streamId": {
          "type": "string",
          "description": "The ID of the write stream to resume. This may only be set in the first message. When left empty, a new write stream will be created."
        },
        "streamToken": {
          "type": "string",
          "description": "A stream token that was previously sent by the server. The client should set this field to the token from the most recent WriteResponse it has received. This acknowledges that the client has received responses up to this token. After sending this token, earlier tokens may not be used anymore. The server may close the stream if there are too many unacknowledged responses. Leave this field unset when creating a new stream. To resume a stream at a specific point, set this field and the `stream_id` field. Leave this field unset when creating a new stream.",
          "format": "byte"
        },
        "writes": {
          "type": "array",
          "items": {
            "$ref": "Write"
          },
          "description": "The writes to apply. Always executed atomically and in order. This must be empty on the first request. This may be empty on the last request. This must not be empty on all other requests."
        },
        "requestOptions": {
          "$ref": "RequestOptions",
          "description": "Optional. The request options for the request."
        }
      },
      "id": "WriteRequest"
    },
    "Location": {
      "type": "object",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "Location"
    },
    "GoogleFirestoreAdminV1FlatIndex": {
      "properties": {},
      "id": "GoogleFirestoreAdminV1FlatIndex",
      "type": "object",
      "description": "An index that stores vectors in a flat data structure, and supports exhaustive search."
    },
    "BeginTransactionRequest": {
      "id": "BeginTransactionRequest",
      "properties": {
        "requestOptions": {
          "description": "Optional. The request options for this request.",
          "$ref": "RequestOptions"
        },
        "options": {
          "description": "The options for the transaction. Defaults to a read-write transaction.",
          "$ref": "TransactionOptions"
        }
      },
      "type": "object",
      "description": "The request for Firestore.BeginTransaction."
    },
    "ListCollectionIdsRequest": {
      "type": "object",
      "properties": {
        "pageSize": {
          "description": "The maximum number of results to return.",
          "type": "integer",
          "format": "int32"
        },
        "readTime": {
          "type": "string",
          "description": "Reads documents as they were at the given time. This must be a microsecond precision timestamp within the past one hour, or if Point-in-Time Recovery is enabled, can additionally be a whole minute timestamp within the past 7 days.",
          "format": "google-datetime"
        },
        "requestOptions": {
          "description": "Optional. The request options for this request.",
          "$ref": "RequestOptions"
        },
        "pageToken": {
          "type": "string",
          "description": "A page token. Must be a value from ListCollectionIdsResponse."
        }
      },
      "id": "ListCollectionIdsRequest",
      "description": "The request for Firestore.ListCollectionIds."
    },
    "GoogleFirestoreAdminV1TtlConfig": {
      "properties": {
        "state": {
          "enumDescriptions": [
            "The state is unspecified or unknown.",
            "The TTL is being applied. There is an active long-running operation to track the change. Newly written documents will have TTLs applied as requested. Requested TTLs on existing documents are still being processed. When TTLs on all existing documents have been processed, the state will move to 'ACTIVE'.",
            "The TTL is active for all documents.",
            "The TTL configuration could not be enabled for all existing documents. Newly written documents will continue to have their TTL applied. The LRO returned when last attempting to enable TTL for this `Field` has failed, and may have more details."
          ],
          "description": "Output only. The state of the TTL configuration.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "NEEDS_REPAIR"
          ],
          "readOnly": true,
          "type": "string"
        },
        "expirationOffset": {
          "description": "Optional. The offset, relative to the timestamp value from the TTL-enabled field, used to determine the document's expiration time. `expiration_offset.seconds` must be between 0 and 2,147,483,647 inclusive. Values more precise than seconds are rejected. If unset, defaults to 0, in which case the expiration time is the same as the timestamp value from the TTL-enabled field.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "description": "The TTL (time-to-live) configuration for documents that have this `Field` set. A timestamp stored in a TTL-enabled field will be used to determine the expiration time of the document. The expiration time is the sum of the timestamp value and the `expiration_offset`. For Enterprise edition databases, the timestamp value may alternatively be stored in an array value in the TTL-enabled field. An expiration time in the past indicates that the document is eligible for immediate expiration. Using any other data type or leaving the field absent will disable expiration for the individual document.",
      "type": "object",
      "id": "GoogleFirestoreAdminV1TtlConfig"
    },
    "Value": {
      "type": "object",
      "properties": {
        "timestampValue": {
          "type": "string",
          "description": "A timestamp value. Precise only to microseconds. When stored, any additional precision is rounded down.",
          "format": "google-datetime"
        },
        "fieldReferenceValue": {
          "type": "string",
          "description": "Value which references a field. This is considered relative (vs absolute) since it only refers to a field and not a field within a particular document. **Requires:** * Must follow field reference limitations. * Not allowed to be used when writing documents."
        },
        "geoPointValue": {
          "description": "A geo point value representing a point on the surface of Earth.",
          "$ref": "LatLng"
        },
        "functionValue": {
          "description": "A value that represents an unevaluated expression. **Requires:** * Not allowed to be used when writing documents.",
          "$ref": "Function"
        },
        "nullValue": {
          "description": "A null value.",
          "type": "string",
          "enumDescriptions": [
            "Null value."
          ],
          "enum": [
            "NULL_VALUE"
          ]
        },
        "bytesValue": {
          "description": "A bytes value. In Standard edition databases: * The value must not exceed 1 MiB - 89 bytes. * Only the first 1,500 bytes are considered by queries. In Enterprise edition databases, there is no limit on the size of the value. However, it is still subject to document and index entry size limits.",
          "format": "byte",
          "type": "string"
        },
        "variableReferenceValue": {
          "description": "Pointer to a variable defined elsewhere in a pipeline. Unlike `field_reference_value` which references a field within a document, this refers to a variable, defined in a separate namespace than the fields of a document.",
          "type": "string"
        },
        "referenceValue": {
          "type": "string",
          "description": "A reference to a document. For example: `projects/{project_id}/databases/{database_id}/documents/{document_path}`."
        },
        "mapValue": {
          "description": "A map value.",
          "$ref": "MapValue"
        },
        "stringValue": {
          "description": "A string value. In Standard edition databases: * The string, represented as UTF-8, must not exceed 1 MiB - 89 bytes. * Only the first 1,500 bytes of the UTF-8 representation are considered by queries. In Enterprise edition databases, there is no limit on the size of the value. However, it is still subject to document and index entry size limits.",
          "type": "string"
        },
        "doubleValue": {
          "type": "number",
          "description": "A double value.",
          "format": "double"
        },
        "arrayValue": {
          "description": "An array value. In Standard edition databases, an array value cannot directly contain another array value, though it can contain a map which contains another array. In Enterprise edition databases, an array value can contain another array value.",
          "$ref": "ArrayValue"
        },
        "integerValue": {
          "format": "int64",
          "type": "string",
          "description": "An integer value."
        },
        "pipelineValue": {
          "description": "A value that represents an unevaluated pipeline. **Requires:** * Not allowed to be used when writing documents.",
          "$ref": "Pipeline"
        },
        "booleanValue": {
          "type": "boolean",
          "description": "A boolean value."
        }
      },
      "id": "Value",
      "description": "A message that can hold any of the supported value types."
    },
    "GoogleFirestoreAdminV1SearchGeoSpec": {
      "properties": {
        "geoJsonIndexingDisabled": {
          "type": "boolean",
          "description": "Optional. Disables geoJSON indexing for the field. By default, geoJSON points are indexed. Firestore GeoPoints are indexed regardless of the value of this field."
        }
      },
      "id": "GoogleFirestoreAdminV1SearchGeoSpec",
      "description": "The specification for how to build a geo search index for a field.",
      "type": "object"
    },
    "GoogleFirestoreAdminV1BulkDeleteDocumentsMetadata": {
      "description": "Metadata for google.longrunning.Operation results from FirestoreAdmin.BulkDeleteDocuments.",
      "type": "object",
      "properties": {
        "progressDocuments": {
          "description": "The progress, in documents, of this operation.",
          "$ref": "GoogleFirestoreAdminV1Progress"
        },
        "operationState": {
          "type": "string",
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ],
          "description": "The state of the operation.",
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ]
        },
        "namespaceIds": {
          "type": "array",
          "description": "Which namespace IDs are being deleted.",
          "items": {
            "type": "string"
          }
        },
        "progressBytes": {
          "$ref": "GoogleFirestoreAdminV1Progress",
          "description": "The progress, in bytes, of this operation."
        },
        "endTime": {
          "description": "The time this operation completed. Will be unset if operation still in progress.",
          "format": "google-datetime",
          "type": "string"
        },
        "collectionIds": {
          "description": "The IDs of the collection groups that are being deleted.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "startTime": {
          "description": "The time this operation started.",
          "format": "google-datetime",
          "type": "string"
        },
        "snapshotTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The timestamp that corresponds to the version of the database that is being read to get the list of documents to delete. This time can also be used as the timestamp of PITR in case of disaster recovery (subject to PITR window limit)."
        }
      },
      "id": "GoogleFirestoreAdminV1BulkDeleteDocumentsMetadata"
    },
    "DocumentsTarget": {
      "description": "A target specified by a set of documents names.",
      "id": "DocumentsTarget",
      "type": "object",
      "properties": {
        "documents": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The names of the documents to retrieve. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`. The request will fail if any of the document is not a child resource of the given `database`. Duplicate names will be elided."
        }
      }
    },
    "DocumentMask": {
      "properties": {
        "fieldPaths": {
          "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "DocumentMask",
      "description": "A set of field paths on a document. Used to restrict a get or update operation on a document to a subset of its fields. This is different from standard field masks, as this is always scoped to a Document, and takes in account the dynamic nature of Value."
    },
    "ReadWrite": {
      "properties": {
        "concurrencyMode": {
          "enum": [
            "CONCURRENCY_MODE_UNSPECIFIED",
            "OPTIMISTIC",
            "PESSIMISTIC"
          ],
          "enumDescriptions": [
            "Start the transaction with the database-level default concurrency mode.",
            "Use optimistic concurrency control for the new transaction.",
            "Use pessimistic concurrency control for the new transaction."
          ],
          "type": "string",
          "description": "Optional. The concurrency control mode to use for this transaction. A database is able to use different concurrency modes for different transactions simultaneously. 3rd party auth requests are only allowed to create optimistic read-write transactions and must specify that here even if the database-level setting is already configured to optimistic."
        },
        "retryTransaction": {
          "description": "An optional transaction to retry.",
          "type": "string",
          "format": "byte"
        }
      },
      "type": "object",
      "id": "ReadWrite",
      "description": "Options for a transaction that can be used to read and write documents."
    },
    "BatchGetDocumentsResponse": {
      "properties": {
        "found": {
          "description": "A document that was requested.",
          "$ref": "Document"
        },
        "readTime": {
[...]
