{
  "protocol": "rest",
  "ownerName": "Google",
  "version": "v1alpha",
  "name": "firebaseappdistribution",
  "parameters": {
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    }
  },
  "description": "",
  "title": "Firebase App Distribution API",
  "basePath": "",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://firebaseappdistribution.googleapis.com/",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "id": "firebaseappdistribution:v1alpha",
  "discoveryVersion": "v1",
  "resources": {
    "apps": {
      "methods": {
        "get": {
          "description": "Get the app, if it exists",
          "flatPath": "v1alpha/apps/{mobilesdkAppId}",
          "httpMethod": "GET",
          "id": "firebaseappdistribution.apps.get",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1alpha/apps/{mobilesdkAppId}",
          "response": {
            "$ref": "GoogleFirebaseAppdistroV1alphaApp"
          },
          "parameterOrder": [
            "mobilesdkAppId"
          ],
          "parameters": {
            "appView": {
              "type": "string",
              "location": "query",
              "description": "App view. When unset or set to BASIC, returns an App with everything set except for aab_state. When set to FULL, returns an App with aab_state set.",
              "enumDescriptions": [
                "The default / unset value. The API will default to the BASIC view.",
                "Include everything except aab_state.",
                "Include everything."
              ],
              "enum": [
                "APP_VIEW_UNSPECIFIED",
                "BASIC",
                "FULL"
              ]
            },
            "mobilesdkAppId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289"
            }
          }
        },
        "getJwt": {
          "path": "v1alpha/apps/{mobilesdkAppId}/jwt",
          "httpMethod": "GET",
          "parameterOrder": [
            "mobilesdkAppId"
          ],
          "description": "Get a JWT token",
          "flatPath": "v1alpha/apps/{mobilesdkAppId}/jwt",
          "parameters": {
            "mobilesdkAppId": {
              "location": "path",
              "required": true,
              "description": "Required. Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "firebaseappdistribution.apps.getJwt",
          "response": {
            "$ref": "GoogleFirebaseAppdistroV1alphaJwt"
          }
        }
      },
      "resources": {
        "upload_status": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1alpha/apps/{mobilesdkAppId}/upload_status/{uploadToken}",
              "parameterOrder": [
                "mobilesdkAppId",
                "uploadToken"
              ],
              "id": "firebaseappdistribution.apps.upload_status.get",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaGetUploadStatusResponse"
              },
              "flatPath": "v1alpha/apps/{mobilesdkAppId}/upload_status/{uploadToken}",
              "description": "GET Binary upload status by token",
              "parameters": {
                "mobilesdkAppId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289"
                },
                "uploadToken": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The token for the upload",
                  "type": "string"
                }
              }
            }
          }
        },
        "releases": {
          "methods": {
            "enable_access": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "releaseId": {
                  "location": "path",
                  "required": true,
                  "description": "Required. Release identifier",
                  "type": "string"
                },
                "mobilesdkAppId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289"
                }
              },
              "path": "v1alpha/apps/{mobilesdkAppId}/releases/{releaseId}/enable_access",
              "flatPath": "v1alpha/apps/{mobilesdkAppId}/releases/{releaseId}/enable_access",
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseResponse"
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseRequest"
              },
              "description": "Enable access on a release for testers.",
              "parameterOrder": [
                "mobilesdkAppId",
                "releaseId"
              ],
              "id": "firebaseappdistribution.apps.releases.enable_access"
            }
          },
          "resources": {
            "notes": {
              "methods": {
                "create": {
                  "flatPath": "v1alpha/apps/{mobilesdkAppId}/releases/{releaseId}/notes",
                  "description": "Create release notes on a release.",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "firebaseappdistribution.apps.releases.notes.create",
                  "parameters": {
                    "releaseId": {
                      "description": "Required. Release identifier",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "mobilesdkAppId": {
                      "description": "Required. Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesResponse"
                  },
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesRequest"
                  },
                  "parameterOrder": [
                    "mobilesdkAppId",
                    "releaseId"
                  ],
                  "path": "v1alpha/apps/{mobilesdkAppId}/releases/{releaseId}/notes"
                }
              }
            }
          }
        },
        "release_by_hash": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "path": "v1alpha/apps/{mobilesdkAppId}/release_by_hash/{uploadHash}",
              "parameterOrder": [
                "mobilesdkAppId",
                "uploadHash"
              ],
              "flatPath": "v1alpha/apps/{mobilesdkAppId}/release_by_hash/{uploadHash}",
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaGetReleaseByUploadHashResponse"
              },
              "description": "GET Release by binary upload hash",
              "parameters": {
                "mobilesdkAppId": {
                  "description": "Required. Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "uploadHash": {
                  "description": "Required. The hash for the upload",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "id": "firebaseappdistribution.apps.release_by_hash.get"
            }
          }
        },
        "testers": {
          "methods": {
            "getTesterUdids": {
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaGetTesterUdidsResponse"
              },
              "parameters": {
                "mobilesdkAppId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289"
                },
                "project": {
                  "description": "The name of the project, which is the parent of testers Format: `projects/{project_number}`",
                  "location": "query",
                  "type": "string"
                }
              },
              "description": "Get UDIDs of tester iOS devices in a project",
              "httpMethod": "GET",
              "path": "v1alpha/apps/{mobilesdkAppId}/testers:getTesterUdids",
              "id": "firebaseappdistribution.apps.testers.getTesterUdids",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "mobilesdkAppId"
              ],
              "flatPath": "v1alpha/apps/{mobilesdkAppId}/testers:getTesterUdids"
            }
          }
        }
      }
    },
    "projects": {
      "methods": {
        "getTestQuota": {
          "response": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTestQuota"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "pattern": "^projects/[^/]+/testQuota$",
              "description": "Required. The name of the `TestQuota` resource to retrieve. Format: `projects/{project_number}/testQuota`",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "name"
          ],
          "id": "firebaseappdistribution.projects.getTestQuota",
          "flatPath": "v1alpha/projects/{projectsId}/testQuota",
          "path": "v1alpha/{+name}",
          "description": "Get information about the quota for `ReleaseTests`."
        }
      },
      "resources": {
        "testers": {
          "methods": {
            "getUdids": {
              "parameterOrder": [
                "project"
              ],
              "parameters": {
                "mobilesdkAppId": {
                  "type": "string",
                  "location": "query",
                  "description": "Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289"
                },
                "project": {
                  "description": "The name of the project, which is the parent of testers Format: `projects/{project_number}`",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaGetTesterUdidsResponse"
              },
              "description": "Get UDIDs of tester iOS devices in a project",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1alpha/{+project}/testers:udids",
              "id": "firebaseappdistribution.projects.testers.getUdids",
              "flatPath": "v1alpha/projects/{projectsId}/testers:udids"
            }
          }
        },
        "apps": {
          "resources": {
            "testCases": {
              "methods": {
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent resource where this test case will be created. Format: `projects/{project_number}/apps/{app}`",
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "location": "path"
                    },
                    "testCaseId": {
                      "description": "Optional. The ID to use for the test case, which will become the final component of the test case's resource name. This value should be 4-63 characters, and valid characters are /a-z-/.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "firebaseappdistribution.projects.apps.testCases.create",
                  "path": "v1alpha/{+parent}/testCases",
                  "httpMethod": "POST",
                  "description": "Create a new test case.",
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
                  }
                },
                "batchDelete": {
                  "path": "v1alpha/{+parent}/testCases:batchDelete",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaBatchDeleteTestCasesRequest"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases:batchDelete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes multiple test cases.",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource of the test cases being deleted. Format: `projects/{project_number}/apps/{app}`",
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "id": "firebaseappdistribution.projects.apps.testCases.batchDelete"
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaListTestCasesResponse"
                  },
                  "httpMethod": "GET",
                  "description": "List test cases.",
                  "path": "v1alpha/{+parent}/testCases",
                  "id": "firebaseappdistribution.projects.apps.testCases.list",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases",
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListTestCases` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTestCases` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "description": "Required. The parent resource from which to list test cases. Format: `projects/{project_number}/apps/{app}`",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. The maximum number of test cases to return. The service may return fewer than this value. If unspecified, at most 50 test cases will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "type": "integer",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "id": "firebaseappdistribution.projects.apps.testCases.get",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases/{testCasesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Get a test case.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the test case resource to retrieve. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
                      "pattern": "^projects/[^/]+/apps/[^/]+/testCases/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
                  },
                  "path": "v1alpha/{+name}"
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases/{testCasesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
                  },
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
                  },
                  "description": "Update a test case.",
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Identifier. The name of the test case resource. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
                      "pattern": "^projects/[^/]+/apps/[^/]+/testCases/[^/]+$"
                    },
                    "allowMissing": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. If set to true, and the test case is not found, a new test case will be created."
                    }
                  },
                  "id": "firebaseappdistribution.projects.apps.testCases.patch"
                },
                "delete": {
                  "id": "firebaseappdistribution.projects.apps.testCases.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the test case resource to delete. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
                      "pattern": "^projects/[^/]+/apps/[^/]+/testCases/[^/]+$"
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases/{testCasesId}",
                  "description": "Delete a test case.",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE"
                },
                "clearTestCaseCache": {
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheRequest"
                  },
                  "id": "firebaseappdistribution.projects.apps.testCases.clearTestCaseCache",
                  "description": "Clears cached test runs for a specific test case and device(s).",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases/{testCasesId}:clearTestCaseCache",
                  "parameterOrder": [
                    "testCase"
                  ],
                  "path": "v1alpha/{+testCase}:clearTestCaseCache",
                  "parameters": {
                    "testCase": {
                      "pattern": "^projects/[^/]+/apps/[^/]+/testCases/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the test case resource for which to clear the cache. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheResponse"
                  },
                  "httpMethod": "POST"
                },
                "batchUpdate": {
                  "path": "v1alpha/{+parent}/testCases:batchUpdate",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases:batchUpdate",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "description": "Required. The parent resource of the test cases being updated. Format: `projects/{project_number}/apps/{app}`",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "firebaseappdistribution.projects.apps.testCases.batchUpdate",
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesResponse"
                  },
                  "description": "Updates multiple test cases.",
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesRequest"
                  },
                  "httpMethod": "POST"
                }
              }
            },
            "releases": {
              "resources": {
                "tests": {
                  "methods": {
                    "get": {
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the release test resource. Format: `projects/{project_number}/apps/{app}/releases/{release}/tests/{test}`",
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/apps/[^/]+/releases/[^/]+/tests/[^/]+$"
                        }
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/releases/{releasesId}/tests/{testsId}",
                      "httpMethod": "GET",
                      "id": "firebaseappdistribution.projects.apps.releases.tests.get",
                      "response": {
                        "$ref": "GoogleFirebaseAppdistroV1alphaReleaseTest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1alpha/{+name}",
                      "description": "Get results for automated test run on release.",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "cancel": {
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "description": "Required. The name of the release test resource. Format: `projects/{project_number}/apps/{app}/releases/{release}/tests/{test}`",
                          "type": "string",
                          "pattern": "^projects/[^/]+/apps/[^/]+/releases/[^/]+/tests/[^/]+$"
                        }
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/releases/{releasesId}/tests/{testsId}:cancel",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "firebaseappdistribution.projects.apps.releases.tests.cancel",
                      "response": {
                        "$ref": "GoogleFirebaseAppdistroV1alphaCancelReleaseTestResponse"
                      },
                      "description": "Abort automated test run on release.",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1alpha/{+name}:cancel"
                    },
                    "list": {
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/releases/{releasesId}/tests",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "firebaseappdistribution.projects.apps.releases.tests.list",
                      "parameters": {
                        "view": {
                          "enumDescriptions": [
                            "The default / unset value. The default view depends on the RPC.",
                            "Include basic metadata about the release test and its status, but not the full result details. This is the default value for ListReleaseTests.",
                            "Include everything."
                          ],
                          "type": "string",
                          "description": "Optional. The requested view on the returned ReleaseTests. Defaults to the basic view.",
                          "location": "query",
                          "enum": [
                            "RELEASE_TEST_VIEW_UNSPECIFIED",
                            "RELEASE_TEST_VIEW_BASIC",
                            "RELEASE_TEST_VIEW_FULL"
                          ]
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer",
                          "description": "Optional. The maximum number of tests to return. The service may return fewer than this value."
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. A page token, received from a previous `ListReleaseTests` call. Provide this to retrieve the subsequent page."
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/apps/[^/]+/releases/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "Required. The name of the release resource, which is the parent of the tests Format: `projects/{project_number}/apps/{app}/releases/{release}`",
                          "location": "path"
                        }
                      },
                      "description": "List results for automated tests run on release.",
                      "path": "v1alpha/{+parent}/tests",
                      "response": {
                        "$ref": "GoogleFirebaseAppdistroV1alphaListReleaseTestsResponse"
                      },
                      "httpMethod": "GET"
                    },
                    "create": {
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/releases/{releasesId}/tests",
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "GoogleFirebaseAppdistroV1alphaReleaseTest"
                      },
                      "httpMethod": "POST",
                      "id": "firebaseappdistribution.projects.apps.releases.tests.create",
                      "description": "Run automated test(s) on release.",
                      "path": "v1alpha/{+parent}/tests",
                      "response": {
                        "$ref": "GoogleFirebaseAppdistroV1alphaReleaseTest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "releaseTestId": {
                          "description": "Optional. The ID to use for the test, which will become the final component of the test's resource name. This value should be 4-63 characters, and valid characters are /a-z-/. If it is not provided one will be automatically generated.",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "description": "Required. The name of the release resource, which is the parent of the test Format: `projects/{project_number}/apps/{app}/releases/{release}`",
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/apps/[^/]+/releases/[^/]+$"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "updateTestConfig": {
              "request": {
                "$ref": "GoogleFirebaseAppdistroV1alphaTestConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaTestConfig"
              },
              "id": "firebaseappdistribution.projects.apps.updateTestConfig",
              "description": "Updates automated test configuration.",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string",
                  "description": "Optional. The list of fields to update."
                },
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/apps/[^/]+/testConfig$",
                  "location": "path",
                  "type": "string",
                  "description": "Identifier. The name of the test configuration resource. Format: `projects/{project_number}/apps/{app}/testConfig`"
                }
              },
              "path": "v1alpha/{+name}",
              "httpMethod": "PATCH",
              "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testConfig"
            },
            "getTestConfig": {
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaTestConfig"
              },
              "id": "firebaseappdistribution.projects.apps.getTestConfig",
              "path": "v1alpha/{+name}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testConfig",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/apps/[^/]+/testConfig$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the `TestConfig` resource to retrieve. Format: `projects/{project_number}/apps/{app}/testConfig`"
                }
              },
              "description": "Gets configuration for automated tests."
            }
          }
        }
      }
    }
  },
  "canonicalName": "Firebase App Distribution",
  "batchPath": "batch",
  "schemas": {
    "GoogleFirebaseAppdistroV1alphaReleaseNotes": {
      "type": "object",
      "description": "Release notes for a release.",
      "id": "GoogleFirebaseAppdistroV1alphaReleaseNotes",
      "properties": {
        "releaseNotes": {
          "description": "The actual release notes text from the user.",
          "type": "string"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesResponse": {
      "description": "The response message for `BatchUpdateTestCase`.",
      "type": "object",
      "properties": {
        "testCases": {
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
          },
          "type": "array",
          "description": "The updated test cases."
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesResponse"
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteractionWait": {
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteractionWait",
      "properties": {
        "duration": {
          "type": "string",
          "description": "Output only. The duration of the wait.",
          "format": "google-duration",
          "readOnly": true
        }
      },
      "description": "A wait action."
    },
    "GoogleFirebaseAppdistroV1alphaLoginCredential": {
      "description": "Login credential for automated tests",
      "properties": {
        "password": {
          "type": "string",
          "description": "Optional. Password for automated tests"
        },
        "username": {
          "type": "string",
          "description": "Optional. Username for automated tests"
        },
        "google": {
          "description": "Optional. Are these credentials for Google?",
          "type": "boolean"
        },
        "fieldHints": {
          "$ref": "GoogleFirebaseAppdistroV1alphaLoginCredentialFieldHints",
          "description": "Optional. Hints to the crawler for identifying input fields"
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaLoginCredential"
    },
    "GoogleFirebaseAppdistroV1alphaApp": {
      "description": "An app.",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaApp",
      "properties": {
        "appId": {
          "type": "string",
          "description": "Firebase gmp app id"
        },
        "aabCertificate": {
          "$ref": "GoogleFirebaseAppdistroV1alphaAabCertificate",
          "description": "App bundle test certificate generated for the app."
        },
        "aabState": {
          "enum": [
            "AAB_STATE_UNSPECIFIED",
            "ACTIVE",
            "PLAY_ACCOUNT_NOT_LINKED",
            "NO_APP_WITH_GIVEN_BUNDLE_ID_IN_PLAY_ACCOUNT",
            "APP_NOT_PUBLISHED",
            "AAB_STATE_UNAVAILABLE",
            "PLAY_IAS_TERMS_NOT_ACCEPTED"
          ],
          "description": "App bundle state. Only valid for android apps. The app_view field in the request must be set to FULL in order for this to be populated.",
          "enumDescriptions": [
            "Aab state unspecified",
            "App can receive app bundle uploads",
            "Firebase project is not linked to a Play developer account",
            "There is no app in linked Play developer account with the same bundle id",
            "The app in Play developer account is not in a published state",
            "Play App status is unavailable",
            "Play IAS terms not accepted"
          ],
          "type": "string"
        },
        "bundleId": {
          "description": "Bundle identifier",
          "type": "string"
        },
        "projectNumber": {
          "description": "Project number of the Firebase project, for example 300830567303.",
          "type": "string"
        },
        "contactEmail": {
          "type": "string",
          "description": "Developer contact email for testers to reach out to about privacy or support issues."
        },
        "platform": {
          "type": "string",
          "description": "iOS or Android"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaAiStepResult": {
      "description": "Captures the results of an AiStep",
      "id": "GoogleFirebaseAppdistroV1alphaAiStepResult",
      "type": "object",
      "properties": {
        "state": {
          "enum": [
            "STEP_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "PASSED",
            "FAILED",
            "TIMED_OUT",
            "GOAL_ACTION_LIMIT_REACHED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Step state unspecified",
            "The step is in progress",
            "The step has completed successfully",
            "The step has failed",
            "The test timed out during this step",
            "The number of actions needed to reach the goal exceeded its limit"
          ],
          "type": "string",
          "description": "Output only. The current state of the step"
        },
        "goalDetails": {
          "$ref": "GoogleFirebaseAppdistroV1alphaGoalDetails",
          "description": "Output only. Details for a goal step.",
          "readOnly": true
        },
        "assertionDetails": {
          "readOnly": true,
          "$ref": "GoogleFirebaseAppdistroV1alphaAssertionDetails",
          "description": "Output only. Details for an assertion step."
        },
        "step": {
          "description": "Required. The step performed by the AI",
          "$ref": "GoogleFirebaseAppdistroV1alphaAiStep"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaGoalDetails": {
      "properties": {
        "goalActions": {
          "description": "Output only. The actions taken by the AI while attempting to accomplish the goal.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaGoalAction"
          }
        }
      },
      "description": "Details for a goal step.",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaGoalDetails"
    },
    "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheRequest": {
      "properties": {
        "testDevices": {
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTestDevice"
          },
          "type": "array",
          "description": "Optional. The list of devices for which to clear the cache. If not present, clear all of them."
        }
      },
      "type": "object",
      "description": "Request message for `ClearTestCaseCache`.",
      "id": "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheRequest"
    },
    "GoogleFirebaseAppdistroV1alphaTestConfig": {
      "id": "GoogleFirebaseAppdistroV1alphaTestConfig",
      "type": "object",
      "description": "Configuration for automated tests",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The name of the test configuration resource. Format: `projects/{project_number}/apps/{app}/testConfig`"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. Display name of the AI driven test. Required if the release test is created with multiple goals."
        },
        "roboCrawler": {
          "$ref": "GoogleFirebaseAppdistroV1alphaRoboCrawler",
          "description": "Optional. Configuration for Robo crawler"
        },
        "testDevices": {
          "type": "array",
          "description": "Optional. Tests will be run on this list of devices",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTestDevice"
          }
        },
        "resultsBucket": {
          "description": "Optional. The custom Cloud Storage bucket where test results are stored. Format: `projects/{project_number}/buckets/{bucket}` If not provided, the default test lab bucket is used.",
          "type": "string"
        }
      }
    },
    "GoogleFirebaseAppdistroV1Release": {
      "type": "object",
      "description": "A release of a Firebase app.",
      "properties": {
        "expireTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the release will expire."
        },
        "releaseNotes": {
          "$ref": "GoogleFirebaseAppdistroV1ReleaseNotes",
          "description": "Notes about the release."
        },
        "binaryDownloadUri": {
          "description": "Output only. A signed link (which expires in one hour) to directly download the app binary (IPA/APK/AAB) file.",
          "readOnly": true,
          "type": "string"
        },
        "installationCount": {
          "readOnly": true,
          "description": "Output only. Number of testers who have downloaded this release.",
          "type": "integer",
          "format": "int32"
        },
        "testState": {
          "description": "Output only. The overall state of tests run on this release",
          "enum": [
            "TEST_STATE_UNSPECIFIED",
            "NO_TESTS_REQUESTED",
            "IN_PROGRESS",
            "PASSED",
            "FAILED",
            "INCONCLUSIVE"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "No test state specified",
            "No tests have been requested for this release",
            "One or more device executions are in progress",
            "All device executions passed during the most recent test",
            "Some device executions failed during the most recent test",
            "Some device executions were inconclusive, but none failed, during the most recent test"
          ]
        },
        "buildVersion": {
          "readOnly": true,
          "description": "Output only. Build version of the release. For an Android release, the build version is the `versionCode`. For an iOS release, the build version is the `CFBundleVersion`.",
          "type": "string"
        },
        "firebaseConsoleUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A link to the Firebase console displaying a single release."
        },
        "acceptedInvitationCount": {
          "type": "integer",
          "readOnly": true,
          "description": "Output only. Number of testers with accepted invitations.",
          "format": "int32"
        },
        "feedbackCount": {
          "readOnly": true,
          "description": "Output only. Number of feedback reports left by testers.",
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "type": "string",
          "description": "The name of the release resource. Format: `projects/{project_number}/apps/{app}/releases/{release}`"
        },
        "binaryType": {
          "type": "string",
          "description": "Output only. Type of binary.",
          "enum": [
            "BINARY_TYPE_UNSPECIFIED",
            "IPA",
            "APK",
            "AAB"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "unspecified binary type",
            "iOS App Store package",
            "Android Application package",
            "Android App Bundle"
          ]
        },
        "testingUri": {
          "type": "string",
          "description": "Output only. A link to the release in the tester web clip or Android app that lets testers (which were granted access to the app) view release notes and install the app onto their devices.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the release was created.",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the release was last updated."
        },
        "displayVersion": {
          "type": "string",
          "description": "Output only. Display version of the release. For an Android release, the display version is the `versionName`. For an iOS release, the display version is the `CFBundleShortVersionString`.",
          "readOnly": true
        },
        "openInvitationCount": {
          "readOnly": true,
          "description": "Output only. Number of testers who were invited (incl. expired invitations), but did not (yet) accept the invitation.",
          "type": "integer",
          "format": "int32"
        },
        "androidPackageRegistrationState": {
          "readOnly": true,
          "enum": [
            "ANDROID_PACKAGE_REGISTRATION_STATE_UNSPECIFIED",
            "REGISTERED",
            "NOT_REGISTERED",
            "REGISTERED_WITH_ANOTHER_CERTIFICATE_FINGERPRINT"
          ],
          "type": "string",
          "description": "Output only. Registration state of the Android package (BinaryType.APK).",
          "enumDescriptions": [
            "Default value.",
            "Package is registered with the release binary's certificate fingerprint.",
            "Package is not registered with any public certificate.",
            "Package is registered with another public certificate fingerprint."
          ]
        }
      },
      "id": "GoogleFirebaseAppdistroV1Release"
    },
    "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesRequest": {
      "description": "The request message for `CreateReleaseNotes`.",
      "id": "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesRequest",
      "properties": {
        "releaseNotes": {
          "$ref": "GoogleFirebaseAppdistroV1alphaReleaseNotes",
          "description": "The actual release notes body from the user"
        }
      },
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaGoalAction": {
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time at which the action started."
        },
        "cachingType": {
          "enumDescriptions": [
            "Caching type unspecified.",
            "The model alone was used to determine the action with no caching.",
            "The model used information from a previous successful run to determine the action.",
            "The action was replayed from a previous successful run without model input."
          ],
          "type": "string",
          "enum": [
            "CACHING_TYPE_UNSPECIFIED",
            "NO_CACHING",
            "CACHE_AND_MODEL",
            "CACHE_ONLY"
          ],
          "readOnly": true,
          "description": "Output only. The type of caching used to determine the action."
        },
        "deviceAction": {
          "readOnly": true,
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceAction",
          "description": "Output only. A high level action taken by the AI on the device."
        },
        "terminalAction": {
          "$ref": "GoogleFirebaseAppdistroV1alphaTerminalAction",
          "readOnly": true,
          "description": "Output only. An action taken by the AI to end the goal."
        },
        "explanation": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. An explanation justifying why the action was taken."
        },
        "debugInfo": {
          "$ref": "GoogleFirebaseAppdistroV1alphaGoalActionDebugInfo",
          "readOnly": true,
          "description": "Output only. Debug information explaining why the agent to the specific action."
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaGoalAction",
      "description": "An action taken by the AI agent while attempting to accomplish a goal."
    },
    "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesRequest": {
      "id": "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesRequest",
      "description": "The request message for `BatchUpdateTestCase`.",
      "properties": {
        "requests": {
          "type": "array",
          "description": "Required. The update requests. A maximum number of 1000 test cases can be updated in one batch",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaUpdateTestCaseRequest"
          }
        }
      },
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaGetReleaseByUploadHashResponse": {
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaGetReleaseByUploadHashResponse",
      "description": "Response object to get the release given a upload hash",
      "properties": {
        "release": {
          "description": "Release object",
          "$ref": "GoogleFirebaseAppdistroV1alphaRelease"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaListTestCasesResponse": {
      "type": "object",
      "description": "The response message for `ListTestCases`.",
      "id": "GoogleFirebaseAppdistroV1alphaListTestCasesResponse",
      "properties": {
        "testCases": {
          "type": "array",
          "description": "The test cases from the specified app.",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaAiInstructions": {
      "properties": {
        "steps": {
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaAiStep"
          },
          "description": "Required. Steps to be accomplished by the AI",
          "type": "array"
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaAiInstructions",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheResponse": {
      "properties": {},
      "type": "object",
      "description": "Response empty (google.protobuf.Empty) message for `ClearTestCaseCache`",
      "id": "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheResponse"
    },
    "GoogleFirebaseAppdistroV1alphaDeviceExecution": {
      "description": "The results of running an automated test on a particular device.",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaDeviceExecution",
      "properties": {
        "device": {
          "description": "Required. The device that the test was run on.",
          "$ref": "GoogleFirebaseAppdistroV1alphaTestDevice"
        },
        "originDeviceExecution": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The device execution from which cached steps were used during this execution. Note: This field is only populated for ACTION_BASED_REPLAY executions. If the original device execution no longer exists, this field will be empty. Format: `projects/{project_number}/apps/{app}/releases/{release}/tests/{test}/deviceExecutions/{device_execution}`"
        },
        "state": {
          "readOnly": true,
          "description": "Output only. The state of the test.",
          "type": "string",
          "enum": [
            "TEST_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "PASSED",
            "FAILED",
            "INCONCLUSIVE"
          ],
          "enumDescriptions": [
            "Test state unspecified.",
            "The test is in progress.",
            "The test has passed.",
            "The test has failed.",
            "The test was inconclusive."
          ]
        },
        "inconclusiveReason": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "INCONCLUSIVE_REASON_UNSPECIFIED",
            "QUOTA_EXCEEDED",
            "INFRASTRUCTURE_FAILURE",
            "SERVICE_NOT_ACTIVATED",
            "NO_SIGNATURE",
            "NO_LAUNCHER_ACTIVITY",
            "FORBIDDEN_PERMISSIONS",
            "DEVICE_ADMIN_RECEIVER",
            "NO_CODE_APK",
            "INVALID_APK_PREVIEW_SDK"
          ],
          "enumDescriptions": [
            "Reason unspecified.",
            "Not enough quota remained to run the test.",
            "The outcome of the test could not be determined because of a failure in the test running infrastructure.",
            "A required cloud service api is not activated (Google Cloud Testing API or Cloud Tool Results API).",
            "The app was not signed.",
            "A main launcher activity could not be found.",
            "The app declares one or more permissions that are not allowed.",
            "Device administrator applications are not allowed.",
            "APK contains no code. See also https://developer.android.com/guide/topics/manifest/application-element.html#code",
            "APK is built for a preview SDK which is unsupported."
          ],
          "description": "Output only. The reason why the test was inconclusive."
        },
        "executionType": {
          "description": "Output only. The type of execution for the test.",
          "enumDescriptions": [
            "Execution type unspecified.",
            "An AI-driven test.",
            "A replay of a previous test run.",
            "A failed replay that was rerun using the AI agent.",
            "A random Robo test."
          ],
          "readOnly": true,
          "enum": [
            "EXECUTION_TYPE_UNSPECIFIED",
            "AI",
            "ACTION_BASED_REPLAY",
            "AI_REPLAY",
            "RANDOM_CRAWL"
          ],
          "type": "string"
        },
        "videoStartTime": {
          "description": "Output only. The time at which the video started recording.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "roboStats": {
          "description": "Output only. The statistics collected during the Robo test.",
          "$ref": "GoogleFirebaseAppdistroV1alphaRoboStats",
          "readOnly": true
        },
        "failedReason": {
          "enum": [
            "FAILED_REASON_UNSPECIFIED",
            "CRASHED",
            "NOT_INSTALLED",
            "UNABLE_TO_CRAWL",
            "DEVICE_OUT_OF_MEMORY",
            "FAILED_AI_STEP",
            "TIMED_OUT"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Reason unspecified.",
            "The app crashed during the test.",
            "If an app is not installed and thus no test can be run with the app. This might be caused by trying to run a test on an unsupported platform.",
            "If the app could not be crawled (possibly because the app did not start).",
            "If the device ran out of memory during the test.",
            "At least one AI step failed.",
            "The crawl reached the time limit before the test could be completed."
          ],
          "description": "Output only. The reason why the test failed.",
          "type": "string"
        },
        "videoUri": {
          "type": "string",
          "description": "Output only. A URI to a video of the test run.",
          "readOnly": true
        },
        "appCrash": {
          "readOnly": true,
          "description": "Output only. An app crash, if any occurred during the test.",
          "$ref": "GoogleFirebaseAppdistroV1alphaAppCrash"
        },
        "aiStepResults": {
          "readOnly": true,
          "description": "Output only. Results of the AI steps if passed in",
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaAiStepResult"
          }
        },
        "finalAiAssertionMissing": {
          "readOnly": true,
          "description": "Output only. Indicates that the test replayed saved actions and concluded without a final AI assertion.",
          "type": "boolean"
        },
        "resultsStoragePath": {
          "description": "Output only. The path to a directory in Cloud Storage that will eventually contain the results for this execution. For example, gs://bucket/Nexus5-18-en-portrait.",
          "readOnly": true,
          "type": "string"
        },
        "screenshotUris": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. A list of screenshot image URIs taken from the Robo crawl. The file names are numbered by the order in which they were taken.",
          "readOnly": true
        },
        "crawlGraphUri": {
          "description": "Output only. A URI to an image of the Robo crawl graph.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. The name of the device execution resource. Format: `projects/{project_number}/apps/{app}/releases/{release}/tests/{test}/deviceExecutions/{device_execution}`",
          "type": "string"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseResponse": {
      "description": "The response message for `EnableAccessOnRelease`.",
      "properties": {},
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseResponse"
    },
    "GoogleFirebaseAppdistroV1alphaDeviceAction": {
      "properties": {
        "deviceInteractions": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteraction"
          },
          "description": "Output only. The interactions made with the device as part of this higher level action taken by the agent, such as taps, text entries, waits, etc.",
          "type": "array"
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A short description of the high level action taken by the AI agent."
        }
      },
      "description": "A high level action taken by the AI on the device, potentially involving multiple taps, text entries, waits, etc.",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaDeviceAction"
    },
    "GoogleFirebaseAppdistroV1alphaJwt": {
      "description": "A JWT token.",
      "properties": {
        "token": {
          "description": "The JWT token (three Base64URL-encoded strings joined by dots).",
          "type": "string"
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaJwt",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaGetUploadStatusResponse": {
      "properties": {
        "message": {
          "description": "Any additional context for the given upload status (e.g. error message) Meant to be displayed to the client",
          "type": "string"
        },
        "status": {
          "enumDescriptions": [
            "Status unspecified.",
            "The upload is in progress.",
            "The binary has already been uploaded.",
            "The upload was successful.",
            "The upload failed."
          ],
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "IN_PROGRESS",
            "ALREADY_UPLOADED",
            "SUCCESS",
            "ERROR"
          ],
          "description": "The status of the upload"
        },
        "errorCode": {
          "description": "The error code associated with (only set on \"FAILURE\")",
          "enum": [
            "ERROR_UNSPECIFIED",
            "INVALID_ZIP",
            "MISSING_PLIST",
            "MISSING_PROFILE",
            "VERSION_TOO_LONG",
            "MISSING_UUIDS",
            "MISSING_RESOURCES",
            "MISSING_MANIFEST",
            "IOS_METADATA_ERROR",
            "ANDROID_METADATA_ERROR",
            "UNSUPPORTED_PLATFORM_TYPE",
            "BUNDLE_ID_MISMATCH",
            "APK_NOT_ZIP_ALIGNED",
            "INVALID_CERTIFICATE",
            "APK_TOO_LARGE",
            "AAB_NOT_PUBLISHED",
            "INVALID_PLIST_DEVICE_FAMILIES",
            "AAB_TOS_NOT_ACCEPTED",
            "APP_NAME_TOO_LONG",
            "AAB_DEVELOPER_ACCOUNT_NOT_LINKED",
            "AAB_NO_APP_WITH_GIVEN_PACKAGE_NAME_IN_ACCOUNT",
            "AAB_UPLOAD_ERROR",
            "APP_NOT_FOUND",
            "AAB_ADHOC_SHARING_KEY_NOT_REGISTERED",
            "AAB_ANDROID_DEVELOPER_CONSOLE_ACCOUNT_NOT_FOUND",
            "AAB_ANDROID_DEVELOPER_CONSOLE_PACKAGE_NOT_FOUND"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "Happens if the Firebase app no longer exists by the time of extraction",
            "",
            "A corresponding Android Developer Console account for this app's Play Console account was not found.",
            "The package was not found in the Android Developer Console."
          ]
        },
        "release": {
          "description": "The release that was created from the upload (only set on \"SUCCESS\")",
          "$ref": "GoogleFirebaseAppdistroV1alphaRelease"
        }
      },
      "type": "object",
      "description": "The response message for `GetUploadStatus`.",
      "id": "GoogleFirebaseAppdistroV1alphaGetUploadStatusResponse"
    },
    "GoogleFirebaseAppdistroV1alphaAppCrash": {
      "properties": {
        "message": {
          "description": "Output only. The message associated with the crash.",
          "readOnly": true,
          "type": "string"
        },
        "stackTrace": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The raw stack trace."
        }
      },
      "type": "object",
      "description": "An app crash that occurred during an automated test.",
      "id": "GoogleFirebaseAppdistroV1alphaAppCrash"
    },
    "GoogleFirebaseAppdistroV1alphaRelease": {
      "properties": {
        "testerCount": {
          "format": "int32",
          "type": "integer",
          "description": "Count of testers added to the release"
        },
        "openInvitationCount": {
          "description": "Number of testers who have open invitations for the release",
          "type": "integer",
          "format": "int32"
        },
        "lastActivityAt": {
          "type": "string",
          "description": "Last activity timestamp",
          "format": "google-datetime"
        },
        "receivedAt": {
          "deprecated": true,
          "type": "string",
          "format": "google-datetime",
          "description": "unused. "
        },
        "displayVersion": {
          "type": "string",
          "description": "Release version"
        },
        "distributedAt": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp when the release was created"
        },
        "id": {
          "description": "Release Id",
          "type": "string"
        },
        "testerWithInstallCount": {
          "description": "Number of testers who have installed the release",
          "format": "int32",
          "type": "integer"
        },
        "releaseNotesSummary": {
          "type": "string",
          "description": "Release notes summary"
        },
        "instanceId": {
          "type": "string",
          "description": "Instance id of the release"
        },
        "buildVersion": {
          "description": "Release build version",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaRelease",
      "description": "Proto defining a release object"
    },
    "GoogleFirebaseAppdistroV1alphaTestQuota": {
      "properties": {
        "name": {
          "description": "Identifier. The name of the `TestQuota` resource. Format: `projects/{project_number}/testQuota`",
          "type": "string"
        },
        "usage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Number of `ReleaseTests` run in the current month",
          "format": "int64"
        },
        "limit": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Maximum number of `ReleaseTests` allotted for the current month."
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaTestQuota",
      "type": "object",
      "description": "Customer quota information for `ReleaseTests`. Note: This quota only applies to tests with `AiInstructions` and is separate from the quota which might apply to the device time used by any tests."
    },
    "GoogleFirebaseAppdistroV1alphaGoalActionDebugInfo": {
      "properties": {
        "jsonUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Structured data explaining the agent's choice."
        },
        "annotatedScreenshotUri": {
          "description": "Output only. URI of the screenshot with elements labeled which was used by the agent.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaGoalActionDebugInfo",
      "description": "Information to help the customer understand why the agent took this action."
    },
    "GoogleFirebaseAppdistroV1alphaScreenshot": {
      "description": "A device screenshot taken during a test.",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaScreenshot",
      "properties": {
        "height": {
          "type": "integer",
          "readOnly": true,
          "description": "Output only. The height of the screenshot, in pixels.",
          "format": "int32"
        },
        "uri": {
          "type": "string",
          "description": "Output only. The URI of the screenshot.",
          "readOnly": true
        },
        "width": {
          "format": "int32",
          "description": "Output only. The width of the screenshot, in pixels.",
          "readOnly": true,
          "type": "integer"
        }
      }
    },
    "GoogleFirebaseAppdistroV1UploadReleaseMetadata": {
      "properties": {},
      "description": "Operation metadata for `UploadRelease`.",
      "id": "GoogleFirebaseAppdistroV1UploadReleaseMetadata",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaLoginCredentialFieldHints": {
      "properties": {
        "passwordResourceName": {
          "type": "string",
          "description": "Required. The Android resource name of the password UI element. For example, in Java: R.string.foo in xml: @string/foo Only the \"foo\" part is needed. Reference doc: https://developer.android.com/guide/topics/resources/accessing-resources.html"
        },
        "usernameResourceName": {
          "type": "string",
          "description": "Required. The Android resource name of the username UI element. For example, in Java: R.string.foo in xml: @string/foo Only the \"foo\" part is needed. Reference doc: https://developer.android.com/guide/topics/resources/accessing-resources.html"
        }
      },
      "description": "Hints to the crawler for identifying input fields",
      "id": "GoogleFirebaseAppdistroV1alphaLoginCredentialFieldHints",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteractionEnterText": {
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteractionEnterText",
      "properties": {
        "text": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The text to enter."
        },
        "elementBounds": {
          "description": "Output only. The visible bounds of the element to enter text into.",
          "$ref": "AndroidxCrawlerOutputRectangle",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "A text entry action, that enters text into a particular text field, clearing any existing text in the field."
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteraction": {
      "properties": {
        "longPress": {
          "$ref": "AndroidxCrawlerOutputPoint",
          "description": "Output only. A long press (tap and hold) action.",
          "readOnly": true
        },
        "wait": {
          "description": "Output only. A wait action.",
          "readOnly": true,
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteractionWait"
        },
        "tap": {
          "readOnly": true,
          "$ref": "AndroidxCrawlerOutputPoint",
          "description": "Output only. A tap action."
        },
        "screenshot": {
          "readOnly": true,
          "$ref": "GoogleFirebaseAppdistroV1alphaScreenshot",
          "description": "Output only. The screenshot used in the context of this action. The screen may have changed before the action was actually taken."
        },
        "textInput": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A text input action, that types some text into whatever field is currently focused, if any. Unlike `enter_text` this action requires that the field be brought into focus first, for example by emitting a tap action before this one."
        },
        "backAction": {
          "readOnly": true,
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteractionBack",
          "description": "Output only. A back action."
        },
        "enterText": {
          "readOnly": true,
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteractionEnterText",
          "description": "Output only. A text entry action, that enters text into a particular text field, clearing any existing text in the field. Unlike `text_input` this action does not require any other actions such as a tap to be performed before it can enter the text."
        },
        "keyCode": {
          "description": "Output only. Key code for a key event action.",
          "readOnly": true,
          "type": "string"
        },
        "targetFoldedState": {
          "description": "Output only. The target folded state of the device in a set folded state action. The valid string values are device-dependent, and can be found using `adb shell cmd device_state print-states`.",
          "readOnly": true,
          "type": "string"
        },
        "dragAndDrop": {
          "description": "Output only. A drag and drop action.",
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteractionDragAndDrop",
          "readOnly": true
        },
        "swipe": {
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteractionSwipe",
          "readOnly": true,
          "description": "Output only. A swipe action."
        },
        "targetOrientation": {
          "description": "Output only. The target orientation of the device in a set orientation action.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "ORIENTATION_UNSPECIFIED",
            "PORTRAIT",
            "LANDSCAPE"
          ],
          "enumDescriptions": [
            "Orientation unspecified.",
            "Portrait orientation.",
            "Landscape orientation."
          ]
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteraction",
      "description": "An interaction with the device, such as a tap, text entry, wait, etc."
    },
    "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesResponse": {
      "properties": {},
      "id": "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesResponse",
      "description": "The response message for `CreateReleaseNotes`.",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseRequest": {
      "id": "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseRequest",
      "properties": {
        "emails": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. An email address which should get access to this release, for example rebeccahe@google.com"
        },
        "groupIds": {
          "type": "array",
          "description": "Optional. A repeated list of group aliases to enable access to a release for Note: This field is misnamed, but can't be changed because we need to maintain compatibility with old build tools",
          "items": {
            "type": "string"
          }
        },
        "displayVersion": {
          "type": "string",
          "description": "Optional. Ignored. Used to be display version of the app release if an instance identifier was provided for the release_id.",
          "deprecated": true
        },
        "buildVersion": {
          "type": "string",
          "deprecated": true,
          "description": "Optional. Ignored. Used to be build version of the app release if an instance identifier was provided for the release_id."
        }
      },
      "type": "object",
      "description": "The request message for `EnableAccessOnRelease`."
    },
    "GoogleFirebaseAppdistroV1alphaAabCertificate": {
      "properties": {
        "certificateHashMd5": {
          "type": "string",
          "description": "MD5 hash of the certificate used to resign the AAB"
        },
        "certificateHashSha1": {
          "description": "SHA1 hash of the certificate used to resign the AAB",
          "type": "string"
        },
        "certificateHashSha256": {
          "type": "string",
          "description": "SHA256 hash of the certificate used to resign the AAB"
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaAabCertificate",
      "description": "App bundle test certificate"
    },
    "AndroidxCrawlerOutputRectangle": {
      "description": "Rectangle for describing bounding boxes",
      "type": "object",
      "properties": {
        "right": {
          "type": "integer",
          "format": "int32"
        },
        "top": {
          "type": "integer",
          "format": "int32"
        },
        "bottom": {
          "format": "int32",
          "type": "integer"
        },
        "left": {
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "AndroidxCrawlerOutputRectangle"
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteractionDragAndDrop": {
      "properties": {
        "end": {
          "description": "Output only. The end point of the drag and drop.",
          "readOnly": true,
          "$ref": "AndroidxCrawlerOutputPoint"
        },
        "start": {
          "description": "Output only. The start point of the drag and drop.",
          "$ref": "AndroidxCrawlerOutputPoint",
          "readOnly": true
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteractionDragAndDrop",
      "description": "A drag and drop action.",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaTerminalAction": {
      "properties": {
        "reason": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Reason unspecified.",
            "The goal failed to be completed. Note that \"impossible\" is a legacy term and the goal is reported to the customer as having \"failed\".",
            "The goal was completed successfully."
          ],
          "description": "Output only. The reason why this goal was ended.",
          "enum": [
            "REASON_UNSPECIFIED",
            "GOAL_IMPOSSIBLE",
            "GOAL_COMPLETE"
          ]
        },
        "screenshot": {
          "readOnly": true,
          "description": "Output only. The screenshot used in the context of this terminal action.",
          "$ref": "GoogleFirebaseAppdistroV1alphaScreenshot"
        }
      },
      "description": "An action taken by the AI to end the goal.",
      "id": "GoogleFirebaseAppdistroV1alphaTerminalAction",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteractionBack": {
      "description": "A back action.",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteractionBack",
      "properties": {}
    },
    "GoogleFirebaseAppdistroV1UploadReleaseResponse": {
      "description": "Response message for `UploadRelease`.",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1UploadReleaseResponse",
      "properties": {
        "result": {
          "description": "Result of upload release.",
          "type": "string",
          "enumDescriptions": [
            "Upload binary result unspecified",
            "Upload binary resulted in a new release",
            "Upload binary updated an existing release",
            "Upload binary resulted in a no-op. A release with the exact same binary already exists."
          ],
          "enum": [
            "UPLOAD_RELEASE_RESULT_UNSPECIFIED",
            "RELEASE_CREATED",
            "RELEASE_UPDATED",
            "RELEASE_UNMODIFIED"
          ]
        },
        "release": {
          "description": "Release associated with the uploaded binary.",
          "$ref": "GoogleFirebaseAppdistroV1Release"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaGetTesterUdidsResponse": {
      "description": "Response containing the UDIDs of tester iOS devices in a project",
      "type": "object",
      "properties": {
        "testerUdids": {
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTesterUdid"
          },
          "description": "The UDIDs of tester iOS devices in a project",
          "type": "array"
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaGetTesterUdidsResponse"
    },
    "GoogleFirebaseAppdistroV1alphaTestDevice": {
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaTestDevice",
      "description": "A device on which automated tests can be run.",
      "properties": {
        "model": {
          "description": "Required. The device model.",
          "type": "string"
        },
        "version": {
          "description": "Required. The version of the device (API level on Android).",
          "type": "string"
        },
        "orientation": {
          "description": "Optional. The orientation of the device during the test.",
          "type": "string"
        },
        "locale": {
          "type": "string",
          "description": "Optional. The locale of the device (e.g. \"en_US\" for US English) during the test."
        }
      }
    },
    "GoogleProtobufEmpty": {
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "GoogleProtobufEmpty"
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteractionSwipe": {
      "properties": {
        "end": {
          "readOnly": true,
          "$ref": "AndroidxCrawlerOutputPoint",
          "description": "Output only. The end point of the swipe."
        },
        "start": {
          "readOnly": true,
          "description": "Output only. The start point of the swipe.",
          "$ref": "AndroidxCrawlerOutputPoint"
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteractionSwipe",
      "description": "A swipe action."
    },
    "GoogleFirebaseAppdistroV1alphaRoboCrawler": {
      "type": "object",
      "properties": {
        "aiInstructions": {
          "description": "Optional. Instructions for AI driven test",
          "$ref": "GoogleFirebaseAppdistroV1alphaAiInstructions"
        },
        "loginCredential": {
          "$ref": "GoogleFirebaseAppdistroV1alphaLoginCredential",
          "description": "Optional. Login credential for automated tests"
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaRoboCrawler",
      "description": "Configuration for Robo crawler"
    },
    "GoogleFirebaseAppdistroV1alphaBatchDeleteTestCasesRequest": {
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaBatchDeleteTestCasesRequest",
      "description": "The request message for `BatchDeleteTestCase`.",
      "properties": {
        "names": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The name of the test cases to delete. A maximum number of 1000 test cases can be deleted in one batch Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaAssertionDetails": {
      "type": "object",
      "description": "Details for an assertion step.",
      "id": "GoogleFirebaseAppdistroV1alphaAssertionDetails",
      "properties": {
        "result": {
          "type": "boolean",
          "description": "Output only. The result of the assertion.",
          "readOnly": true
        },
        "screenshot": {
          "description": "Output only. The screenshot used in the context of this assertion.",
          "readOnly": true,
          "$ref": "GoogleFirebaseAppdistroV1alphaScreenshot"
        },
        "explanation": {
          "type": "string",
          "description": "Output only. An explanation justifying the assertion result.",
          "readOnly": true
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaRoboStats": {
      "id": "GoogleFirebaseAppdistroV1alphaRoboStats",
      "type": "object",
      "description": "Statistics collected during a Robo test.",
      "properties": {
        "distinctVisitedScreens": {
          "description": "Output only. Number of distinct screens visited.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "mainActivityCrawlTimedOut": {
          "description": "Output only. Whether the main activity crawl timed out.",
          "readOnly": true,
          "type": "boolean"
        },
        "crawlDuration": {
          "description": "Output only. Duration of crawl.",
          "readOnly": true,
          "type": "string",
          "format": "google-duration"
        },
        "actionsPerformed": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. Number of actions that crawler performed."
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaTesterUdid": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the tester's device"
        },
        "platform": {
          "description": "The platform of the tester's device",
          "type": "string"
        },
        "udid": {
          "type": "string",
          "description": "The UDID of the tester's device"
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaTesterUdid",
      "description": "The UDIDs of a tester's iOS device",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaAiStep": {
      "properties": {
        "assertion": {
          "type": "string",
          "description": "An assertion to be checked by the AI"
        },
        "goal": {
          "description": "A goal to be accomplished by the AI",
          "type": "string"
        },
        "testCase": {
          "description": "Output only. The test case that contained this step. Note: The test case may have changed or been deleted since this step was created. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
          "type": "string",
          "readOnly": true
        },
        "hint": {
          "description": "Optional. Hint text containing suggestions to help the agent accomplish the goal",
          "type": "string"
        },
        "successCriteria": {
          "type": "string",
          "description": "Optional. A visual description of the screen's expected state after the step has been successfully completed. This is referred to as the \"final screen assertion\" in the Firebase console and CLI tools. This field must be provided for the last step in a test case, and is optional for all other steps."
        }
      },
      "description": "A step to be accomplished by the AI",
      "id": "GoogleFirebaseAppdistroV1alphaAiStep",
      "type": "object"
    },
    "AndroidxCrawlerOutputPoint": {
      "id": "AndroidxCrawlerOutputPoint",
      "type": "object",
      "description": "Point for describing bounding boxes tap locations Top left is 0,0",
      "properties": {
        "xCoordinate": {
          "format": "int32",
          "type": "integer"
        },
        "yCoordinate": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaListReleaseTestsResponse": {
      "description": "The response message for `ListReleaseTests`.",
      "id": "GoogleFirebaseAppdistroV1alphaListReleaseTestsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A short-lived token, which can be sent as `pageToken` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "releaseTests": {
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaReleaseTest"
          },
          "type": "array",
          "description": "The tests listed."
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaUpdateTestCaseRequest": {
      "id": "GoogleFirebaseAppdistroV1alphaUpdateTestCaseRequest",
      "description": "The request message for `UpdateTestCase`.",
      "properties": {
        "testCase": {
          "description": "Required. The test case to update. The test case's `name` field is used to identify the test case to update. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
          "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
        },
        "allowMissing": {
          "description": "Optional. If set to true, and the test case is not found, a new test case will be created.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaReleaseTest": {
      "id": "GoogleFirebaseAppdistroV1alphaReleaseTest",
      "type": "object",
      "description": "Instance of an automated test for a release.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Optional. Display name of the release test. Required if the release test is created with multiple goals."
        },
        "aiInstructions": {
          "description": "Optional. Instructions for AI driven test.",
          "$ref": "GoogleFirebaseAppdistroV1alphaAiInstructions"
        },
        "testCase": {
          "description": "Optional. The test case that was used to generate this release test. Note: The test case may have changed or been deleted since the release test was created. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Timestamp when the test was run.",
          "format": "google-datetime",
          "type": "string"
        },
        "deviceExecutions": {
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaDeviceExecution"
          },
          "type": "array",
          "description": "Required. The results of the test on each device."
        },
        "name": {
          "description": "The name of the release test resource. Format: `projects/{project_number}/apps/{app}/releases/{release}/tests/{test}`",
          "type": "string"
        },
        "resultsBucket": {
          "description": "Optional. Input only. The custom Cloud Storage bucket where test results are stored. Format: `projects/{project_number}/buckets/{bucket}` If not provided, the default test lab bucket is used.",
          "type": "string"
        },
        "loginCredential": {
          "description": "Optional. Input only. Login credentials for the test. Input only.",
          "$ref": "GoogleFirebaseAppdistroV1alphaLoginCredential"
        },
        "testState": {
          "readOnly": true,
          "enum": [
            "TEST_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "PASSED",
            "FAILED",
            "INCONCLUSIVE"
          ],
          "enumDescriptions": [
            "Test state unspecified.",
            "The test is in progress.",
            "The test has passed.",
            "The test has failed.",
            "The test was inconclusive."
          ],
          "type": "string",
          "description": "Output only. The state of the release test."
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaCancelReleaseTestResponse": {
      "type": "object",
      "properties": {},
      "id": "GoogleFirebaseAppdistroV1alphaCancelReleaseTestResponse",
      "description": "The (empty) response message for `CancelReleaseTest`."
    },
    "GoogleFirebaseAppdistroV1alphaTestCase": {
      "id": "GoogleFirebaseAppdistroV1alphaTestCase",
      "type": "object",
      "description": "AI test cases",
      "properties": {
        "prerequisiteTestCase": {
          "description": "Optional. Test case that must be run before this test case.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The name of the test case resource. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
          "type": "string"
        },
        "displayName": {
          "description": "Required. Display name of the test case.",
          "type": "string"
        },
        "aiInstructions": {
          "description": "Optional. Instructions for AI driven test.",
          "$ref": "GoogleFirebaseAppdistroV1alphaAiInstructions"
        },
        "dependentTestCases": {
          "type": "array",
          "description": "Output only. Other test cases that depend on this test case as a prerequisite.",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp when the test case was created",
          "type": "string"
        }
      }
    },
    "GoogleFirebaseAppdistroV1ReleaseNotes": {
      "properties": {
        "text": {
          "type": "string",
          "description": "The text of the release notes."
        }
      },
      "id": "GoogleFirebaseAppdistroV1ReleaseNotes",
      "type": "object",
      "description": "Notes that belong to a release."
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "revision": "20260921",
  "rootUrl": "https://firebaseappdistribution.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "documentationLink": "https://firebase.google.com/products/app-distribution",
  "mtlsRootUrl": "https://firebaseappdistribution.mtls.googleapis.com/",
  "ownerDomain": "google.com"
}