{
  "basePath": "",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "servicePath": "",
  "protocol": "rest",
  "parameters": {
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    }
  },
  "title": "Cloud Firestore API",
  "ownerName": "Google",
  "description": "Accesses the NoSQL document database built for automatic scaling, high performance, and ease of application development. ",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/datastore": {
          "description": "View and manage your Google Cloud Datastore data"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "databases": {
          "methods": {
            "importDocuments": {
              "httpMethod": "POST",
              "description": "Imports documents into Google Cloud Firestore. Existing documents with the same name are overwritten. The import occurs in the background and its progress can be monitored and managed via the Operation resource that is created. If an ImportDocuments operation is cancelled, it is possible that a subset of the data has already been imported to Cloud Firestore.",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}:importDocuments",
              "path": "v1beta1/{+name}:importDocuments",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Database to import into. Should be of the form: `projects/{project_id}/databases/{database_id}`.",
                  "pattern": "^projects/[^/]+/databases/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "id": "firestore.projects.databases.importDocuments",
              "request": {
                "$ref": "GoogleFirestoreAdminV1beta1ImportDocumentsRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ]
            },
            "exportDocuments": {
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleFirestoreAdminV1beta1ExportDocumentsRequest"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/databases/[^/]+$",
                  "description": "Database to export. Should be of the form: `projects/{project_id}/databases/{database_id}`.",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}:exportDocuments",
              "description": "Exports a copy of all or a subset of documents from Google Cloud Firestore to another storage system, such as Google Cloud Storage. Recent updates to documents may not be reflected in the export. The export occurs in the background and its progress can be monitored and managed via the Operation resource that is created. The output of an export may only be used once the associated operation is done. If an export operation is cancelled before completion it may leave partial data behind in Google Cloud Storage.",
              "id": "firestore.projects.databases.exportDocuments",
              "path": "v1beta1/{+name}:exportDocuments"
            }
          },
          "resources": {
            "indexes": {
              "methods": {
                "list": {
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/indexes",
                  "path": "v1beta1/{+parent}/indexes",
                  "response": {
                    "$ref": "GoogleFirestoreAdminV1beta1ListIndexesResponse"
                  },
                  "description": "Lists the indexes that match the specified filters.",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard List page token."
                    },
                    "filter": {
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "The database name. For example: `projects/{project_id}/databases/{database_id}`",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "The standard List page size."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "firestore.projects.databases.indexes.list"
                },
                "get": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/databases/[^/]+/indexes/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "The name of the index. For example: `projects/{project_id}/databases/{database_id}/indexes/{index_id}`"
                    }
                  },
                  "description": "Gets an index.",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "id": "firestore.projects.databases.indexes.get",
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/indexes/{indexesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta1/{+name}",
                  "response": {
                    "$ref": "GoogleFirestoreAdminV1beta1Index"
                  }
                },
                "create": {
                  "path": "v1beta1/{+parent}/indexes",
                  "id": "firestore.projects.databases.indexes.create",
                  "parameters": {
                    "parent": {
                      "description": "The name of the database this index will apply to. For example: `projects/{project_id}/databases/{database_id}`",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/databases/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/indexes",
                  "request": {
                    "$ref": "GoogleFirestoreAdminV1beta1Index"
                  },
                  "description": "Creates the specified index. A newly created index's initial state is `CREATING`. On completion of the returned google.longrunning.Operation, the state will be `READY`. If the index already exists, the call will return an `ALREADY_EXISTS` status. During creation, the process could result in an error, in which case the index will move to the `ERROR` state. The process can be recovered by fixing the data that caused the error, removing the index with delete, then re-creating the index with create. Indexes with a single field cannot be created.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "httpMethod": "POST"
                },
                "delete": {
                  "description": "Deletes an index.",
                  "path": "v1beta1/{+name}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/databases/[^/]+/indexes/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The index name. For example: `projects/{project_id}/databases/{database_id}/indexes/{index_id}`"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "id": "firestore.projects.databases.indexes.delete",
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/indexes/{indexesId}"
                }
              }
            },
            "documents": {
              "methods": {
                "runQuery": {
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "required": true,
                      "description": "Required. The parent resource name. In the format: `projects/{project_id}/databases/{database_id}/documents` or `projects/{project_id}/databases/{database_id}/documents/{document_path}`. For example: `projects/my-project/databases/my-database/documents` or `projects/my-project/databases/my-database/documents/chatrooms/my-chatroom`",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "firestore.projects.databases.documents.runQuery",
                  "description": "Runs a query.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1beta1/{+parent}:runQuery",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "RunQueryResponse"
                  },
                  "request": {
                    "$ref": "RunQueryRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}:runQuery"
                },
                "write": {
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents:write",
                  "parameters": {
                    "database": {
                      "type": "string",
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`. This is only required in the first message.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "database"
                  ],
                  "id": "firestore.projects.databases.documents.write",
                  "httpMethod": "POST",
                  "path": "v1beta1/{+database}/documents:write",
                  "response": {
                    "$ref": "WriteResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "description": "Streams batches of document updates and deletes, in order. This method is only available via gRPC or WebChannel (not REST).",
                  "request": {
                    "$ref": "WriteRequest"
                  }
                },
                "listDocuments": {
                  "path": "v1beta1/{+parent}/{collectionId}",
                  "description": "Lists documents.",
                  "parameterOrder": [
                    "parent",
                    "collectionId"
                  ],
                  "parameters": {
                    "mask.fieldPaths": {
                      "location": "query",
                      "type": "string",
                      "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference.",
                      "repeated": true
                    },
                    "requestOptions.requestTags": {
                      "description": "Optional. The request tags for the request. Request tags are user-provided strings used for usage monitoring, cost management, and observability. Callers can associate custom application context (such as component, microservice, feature name, or operation type) with database requests. These tags are collected and aggregated in usage and monitoring reports, allowing billable operations and usage metrics to be sliced and analyzed by tag. These tags *only* show up in monitoring and are visible in administrative operations (such as usage reports). They do not affect data storage, query semantics, or request execution. Cardinality and Best Practices: - Request tags are most effective when using a bounded set of distinct values (e.g., fewer than 100 distinct tags across an entire database). Using a large number of distinct tags may result in tags being omitted from top usage dashboards. - Use structured identifiers (for example: `app=cart`, `env=prod`, `service=checkout`) and avoid high-cardinality values such as UUIDs, request IDs, timestamps, user IDs, or document keys. - Do not include sensitive data or personally identifiable information (PII) in request tags, as they show up in administrative monitoring. The tags are processed as follows: - Leading and trailing whitespace is trimmed. - Empty tags (after trimming) are filtered out. - Truncated to a maximum of 510 characters. - Deduplicated within the same request. - Limited to a maximum of 50 tags per request (excess tags are silently discarded).",
                      "repeated": true,
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `ListDocuments` response. Provide this to retrieve the subsequent page. When paginating, all other parameters (with the exception of `page_size`) must match the values set in the request that generated the page token.",
                      "location": "query"
                    },
                    "transaction": {
                      "type": "string",
                      "format": "byte",
                      "location": "query",
                      "description": "Perform the read as part of an already active transaction."
                    },
                    "recursive": {
                      "type": "boolean",
                      "description": "Optional. If the list should recursively include all documents nested under the parent at any level. If the request specifies a `collection_id`, then the list will include all nested documents in the collection under the parent. This is optional, and when not provided, Firestore will only list documents nested immediately under the parent. Requests with `recursive` may not specify `show_missing`.",
                      "location": "query"
                    },
                    "collectionId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Optional. The collection ID, relative to `parent`, to list. For example: `chatrooms` or `messages`. This is optional, and when not provided, Firestore will list documents from all collections under the provided `parent`."
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent resource name. In the format: `projects/{project_id}/databases/{database_id}/documents` or `projects/{project_id}/databases/{database_id}/documents/{document_path}`. For example: `projects/my-project/databases/my-database/documents` or `projects/my-project/databases/my-database/documents/chatrooms/my-chatroom`",
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents$"
                    },
                    "showMissing": {
                      "location": "query",
                      "description": "If the list should show missing documents. A document is missing if it does not exist, but there are sub-documents nested underneath it. When true, such missing documents will be returned with a key but will not have fields, `create_time`, or `update_time` set. Requests with `show_missing` may not specify `where` or `order_by`.",
                      "type": "boolean"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. The maximum number of documents to return in a single response. Firestore may return fewer than this value.",
                      "type": "integer",
                      "location": "query"
                    },
                    "readTime": {
                      "type": "string",
                      "description": "Perform the read at the provided time. This must be a microsecond precision timestamp within the past one hour, or if Point-in-Time Recovery is enabled, can additionally be a whole minute timestamp within the past 7 days.",
                      "format": "google-datetime",
                      "location": "query"
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. The optional ordering of the documents to return. For example: `priority desc, __name__ desc`. This mirrors the `ORDER BY` used in Firestore queries but in a string representation. When absent, documents are ordered based on `__name__ ASC`.",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents/{collectionId}",
                  "response": {
                    "$ref": "ListDocumentsResponse"
                  },
                  "id": "firestore.projects.databases.documents.listDocuments",
                  "httpMethod": "GET"
                },
                "rollback": {
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "database"
                  ],
                  "path": "v1beta1/{+database}/documents:rollback",
                  "parameters": {
                    "database": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/databases/[^/]+$"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents:rollback",
                  "id": "firestore.projects.databases.documents.rollback",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "description": "Rolls back a transaction.",
                  "request": {
                    "$ref": "RollbackRequest"
                  },
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "partitionQuery": {
                  "description": "Partitions a query by returning partition cursors that can be used to run the query in parallel. The returned partition cursors are split points that can be used by RunQuery as starting/end points for the query results.",
                  "request": {
                    "$ref": "PartitionQueryRequest"
                  },
                  "id": "firestore.projects.databases.documents.partitionQuery",
                  "path": "v1beta1/{+parent}:partitionQuery",
                  "response": {
                    "$ref": "PartitionQueryResponse"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource name. In the format: `projects/{project_id}/databases/{database_id}/documents`. Document resource names are not supported; only database resource names can be specified.",
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}:partitionQuery",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "httpMethod": "POST"
                },
                "listen": {
                  "parameters": {
                    "database": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "path": "v1beta1/{+database}/documents:listen",
                  "response": {
                    "$ref": "ListenResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "request": {
                    "$ref": "ListenRequest"
                  },
                  "description": "Listens to changes. This method is only available via gRPC or WebChannel (not REST).",
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents:listen",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "database"
                  ],
                  "id": "firestore.projects.databases.documents.listen"
                },
                "patch": {
                  "parameters": {
                    "currentDocument.exists": {
                      "description": "When set to `true`, the target document must exist. When set to `false`, the target document must not exist.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "requestOptions.requestTags": {
                      "type": "string",
                      "repeated": true,
                      "description": "Optional. The request tags for the request. Request tags are user-provided strings used for usage monitoring, cost management, and observability. Callers can associate custom application context (such as component, microservice, feature name, or operation type) with database requests. These tags are collected and aggregated in usage and monitoring reports, allowing billable operations and usage metrics to be sliced and analyzed by tag. These tags *only* show up in monitoring and are visible in administrative operations (such as usage reports). They do not affect data storage, query semantics, or request execution. Cardinality and Best Practices: - Request tags are most effective when using a bounded set of distinct values (e.g., fewer than 100 distinct tags across an entire database). Using a large number of distinct tags may result in tags being omitted from top usage dashboards. - Use structured identifiers (for example: `app=cart`, `env=prod`, `service=checkout`) and avoid high-cardinality values such as UUIDs, request IDs, timestamps, user IDs, or document keys. - Do not include sensitive data or personally identifiable information (PII) in request tags, as they show up in administrative monitoring. The tags are processed as follows: - Leading and trailing whitespace is trimmed. - Empty tags (after trimming) are filtered out. - Truncated to a maximum of 510 characters. - Deduplicated within the same request. - Limited to a maximum of 50 tags per request (excess tags are silently discarded).",
                      "location": "query"
                    },
                    "mask.fieldPaths": {
                      "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference.",
                      "location": "query",
                      "type": "string",
                      "repeated": true
                    },
                    "currentDocument.updateTime": {
                      "format": "google-datetime",
                      "type": "string",
                      "location": "query",
                      "description": "When set, the target document must exist and have been last updated at that time. Timestamp must be microsecond aligned."
                    },
                    "updateMask.fieldPaths": {
                      "type": "string",
                      "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference.",
                      "repeated": true,
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The resource name of the document, for example `projects/{project_id}/databases/{database_id}/documents/{document_path}`."
                    }
                  },
                  "path": "v1beta1/{+name}",
                  "request": {
                    "$ref": "Document"
                  },
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "Document"
                  },
                  "description": "Updates or inserts a document.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "id": "firestore.projects.databases.documents.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}"
                },
                "batchWrite": {
                  "parameterOrder": [
                    "database"
                  ],
                  "id": "firestore.projects.databases.documents.batchWrite",
                  "description": "Applies a batch of write operations. The BatchWrite method does not apply the write operations atomically and can apply them out of order. Method does not allow more than one write per document. Each write succeeds or fails independently. See the BatchWriteResponse for the success status of each write. If you require an atomically applied set of writes, use Commit instead.",
                  "request": {
                    "$ref": "BatchWriteRequest"
                  },
                  "path": "v1beta1/{+database}/documents:batchWrite",
                  "parameters": {
                    "database": {
                      "required": true,
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`."
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents:batchWrite",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "BatchWriteResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ]
                },
                "beginTransaction": {
                  "response": {
                    "$ref": "BeginTransactionResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents:beginTransaction",
                  "description": "Starts a new transaction.",
                  "id": "firestore.projects.databases.documents.beginTransaction",
                  "parameterOrder": [
                    "database"
                  ],
                  "httpMethod": "POST",
                  "path": "v1beta1/{+database}/documents:beginTransaction",
                  "parameters": {
                    "database": {
                      "required": true,
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/databases/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "BeginTransactionRequest"
                  }
                },
                "listCollectionIds": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "response": {
                    "$ref": "ListCollectionIdsResponse"
                  },
                  "request": {
                    "$ref": "ListCollectionIdsRequest"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The parent document. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`. For example: `projects/my-project/databases/my-database/documents/chatrooms/my-chatroom` Use `projects/{project_id}/databases/{database_id}/documents` to list top-level collections.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "type": "string"
                    }
                  },
                  "description": "Lists all the collection IDs underneath a document.",
                  "httpMethod": "POST",
                  "path": "v1beta1/{+parent}:listCollectionIds",
                  "id": "firestore.projects.databases.documents.listCollectionIds",
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}:listCollectionIds"
                },
                "commit": {
                  "parameters": {
                    "database": {
                      "required": true,
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "type": "string"
                    }
                  },
                  "id": "firestore.projects.databases.documents.commit",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "description": "Commits a transaction, while optionally updating documents.",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "database"
                  ],
                  "response": {
                    "$ref": "CommitResponse"
                  },
                  "request": {
                    "$ref": "CommitRequest"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents:commit",
                  "path": "v1beta1/{+database}/documents:commit"
                },
                "get": {
                  "response": {
                    "$ref": "Document"
                  },
                  "description": "Gets a single document.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}",
                  "httpMethod": "GET",
                  "id": "firestore.projects.databases.documents.get",
                  "parameters": {
                    "requestOptions.requestTags": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The request tags for the request. Request tags are user-provided strings used for usage monitoring, cost management, and observability. Callers can associate custom application context (such as component, microservice, feature name, or operation type) with database requests. These tags are collected and aggregated in usage and monitoring reports, allowing billable operations and usage metrics to be sliced and analyzed by tag. These tags *only* show up in monitoring and are visible in administrative operations (such as usage reports). They do not affect data storage, query semantics, or request execution. Cardinality and Best Practices: - Request tags are most effective when using a bounded set of distinct values (e.g., fewer than 100 distinct tags across an entire database). Using a large number of distinct tags may result in tags being omitted from top usage dashboards. - Use structured identifiers (for example: `app=cart`, `env=prod`, `service=checkout`) and avoid high-cardinality values such as UUIDs, request IDs, timestamps, user IDs, or document keys. - Do not include sensitive data or personally identifiable information (PII) in request tags, as they show up in administrative monitoring. The tags are processed as follows: - Leading and trailing whitespace is trimmed. - Empty tags (after trimming) are filtered out. - Truncated to a maximum of 510 characters. - Deduplicated within the same request. - Limited to a maximum of 50 tags per request (excess tags are silently discarded).",
                      "repeated": true
                    },
                    "transaction": {
                      "format": "byte",
                      "type": "string",
                      "location": "query",
                      "description": "Reads the document in a transaction."
                    },
                    "mask.fieldPaths": {
                      "repeated": true,
                      "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference.",
                      "type": "string",
                      "location": "query"
                    },
                    "readTime": {
                      "description": "Reads the version of the document at the given time. This must be a microsecond precision timestamp within the past one hour, or if Point-in-Time Recovery is enabled, can additionally be a whole minute timestamp within the past 7 days.",
                      "format": "google-datetime",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "location": "path",
                      "description": "Required. The resource name of the Document to get. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`.",
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta1/{+name}"
                },
                "executePipeline": {
                  "request": {
                    "$ref": "ExecutePipelineRequest"
                  },
                  "id": "firestore.projects.databases.documents.executePipeline",
                  "description": "Executes a pipeline query.",
                  "parameterOrder": [
                    "database"
                  ],
                  "path": "v1beta1/{+database}/documents:executePipeline",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameters": {
                    "database": {
                      "required": true,
                      "location": "path",
                      "description": "Required. Database identifier, in the form `projects/{project}/databases/{database}`.",
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents:executePipeline",
                  "response": {
                    "$ref": "ExecutePipelineResponse"
                  },
                  "httpMethod": "POST"
                },
                "delete": {
                  "id": "firestore.projects.databases.documents.delete",
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Deletes a document.",
                  "parameters": {
                    "requestOptions.requestTags": {
                      "repeated": true,
                      "description": "Optional. The request tags for the request. Request tags are user-provided strings used for usage monitoring, cost management, and observability. Callers can associate custom application context (such as component, microservice, feature name, or operation type) with database requests. These tags are collected and aggregated in usage and monitoring reports, allowing billable operations and usage metrics to be sliced and analyzed by tag. These tags *only* show up in monitoring and are visible in administrative operations (such as usage reports). They do not affect data storage, query semantics, or request execution. Cardinality and Best Practices: - Request tags are most effective when using a bounded set of distinct values (e.g., fewer than 100 distinct tags across an entire database). Using a large number of distinct tags may result in tags being omitted from top usage dashboards. - Use structured identifiers (for example: `app=cart`, `env=prod`, `service=checkout`) and avoid high-cardinality values such as UUIDs, request IDs, timestamps, user IDs, or document keys. - Do not include sensitive data or personally identifiable information (PII) in request tags, as they show up in administrative monitoring. The tags are processed as follows: - Leading and trailing whitespace is trimmed. - Empty tags (after trimming) are filtered out. - Truncated to a maximum of 510 characters. - Deduplicated within the same request. - Limited to a maximum of 50 tags per request (excess tags are silently discarded).",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The resource name of the Document to delete. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`.",
                      "required": true
                    },
                    "currentDocument.exists": {
                      "location": "query",
                      "description": "When set to `true`, the target document must exist. When set to `false`, the target document must not exist.",
                      "type": "boolean"
                    },
                    "currentDocument.updateTime": {
                      "location": "query",
                      "type": "string",
                      "format": "google-datetime",
                      "description": "When set, the target document must exist and have been last updated at that time. Timestamp must be microsecond aligned."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "httpMethod": "DELETE",
                  "path": "v1beta1/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "batchGet": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "response": {
                    "$ref": "BatchGetDocumentsResponse"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "database": {
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`.",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents:batchGet",
                  "path": "v1beta1/{+database}/documents:batchGet",
                  "id": "firestore.projects.databases.documents.batchGet",
                  "description": "Gets multiple documents. Documents returned by this method are not guaranteed to be returned in the same order that they were requested.",
                  "request": {
                    "$ref": "BatchGetDocumentsRequest"
                  },
                  "parameterOrder": [
                    "database"
                  ]
                },
                "runAggregationQuery": {
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "type": "string",
                      "description": "Required. The parent resource name. In the format: `projects/{project_id}/databases/{database_id}/documents` or `projects/{project_id}/databases/{database_id}/documents/{document_path}`. For example: `projects/my-project/databases/my-database/documents` or `projects/my-project/databases/my-database/documents/chatrooms/my-chatroom`"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}:runAggregationQuery",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "description": "Runs an aggregation query. Rather than producing Document results like Firestore.RunQuery, this API allows running an aggregation to produce a series of AggregationResult server-side. High-Level Example: ``` -- Return the number of documents in table given a filter. SELECT COUNT(*) FROM ( SELECT * FROM k where a = true ); ```",
                  "response": {
                    "$ref": "RunAggregationQueryResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "id": "firestore.projects.databases.documents.runAggregationQuery",
                  "request": {
                    "$ref": "RunAggregationQueryRequest"
                  },
                  "path": "v1beta1/{+parent}:runAggregationQuery"
                },
                "createDocument": {
                  "id": "firestore.projects.databases.documents.createDocument",
                  "request": {
                    "$ref": "Document"
                  },
                  "path": "v1beta1/{+parent}/{collectionId}",
                  "parameters": {
                    "requestOptions.requestTags": {
                      "type": "string",
                      "location": "query",
                      "repeated": true,
                      "description": "Optional. The request tags for the request. Request tags are user-provided strings used for usage monitoring, cost management, and observability. Callers can associate custom application context (such as component, microservice, feature name, or operation type) with database requests. These tags are collected and aggregated in usage and monitoring reports, allowing billable operations and usage metrics to be sliced and analyzed by tag. These tags *only* show up in monitoring and are visible in administrative operations (such as usage reports). They do not affect data storage, query semantics, or request execution. Cardinality and Best Practices: - Request tags are most effective when using a bounded set of distinct values (e.g., fewer than 100 distinct tags across an entire database). Using a large number of distinct tags may result in tags being omitted from top usage dashboards. - Use structured identifiers (for example: `app=cart`, `env=prod`, `service=checkout`) and avoid high-cardinality values such as UUIDs, request IDs, timestamps, user IDs, or document keys. - Do not include sensitive data or personally identifiable information (PII) in request tags, as they show up in administrative monitoring. The tags are processed as follows: - Leading and trailing whitespace is trimmed. - Empty tags (after trimming) are filtered out. - Truncated to a maximum of 510 characters. - Deduplicated within the same request. - Limited to a maximum of 50 tags per request (excess tags are silently discarded)."
                    },
                    "collectionId": {
                      "type": "string",
                      "description": "Required. The collection ID, relative to `parent`, to list. For example: `chatrooms`.",
                      "location": "path",
                      "required": true
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/.*$",
                      "description": "Required. The parent resource. For example: `projects/{project_id}/databases/{database_id}/documents` or `projects/{project_id}/databases/{database_id}/documents/chatrooms/{chatroom_id}`",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "documentId": {
                      "type": "string",
                      "description": "The client-assigned document ID to use for this document. Optional. If not specified, an ID will be assigned by the service.",
                      "location": "query"
                    },
                    "mask.fieldPaths": {
                      "repeated": true,
                      "type": "string",
                      "location": "query",
                      "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference."
                    }
                  },
                  "parameterOrder": [
                    "parent",
                    "collectionId"
                  ],
                  "response": {
                    "$ref": "Document"
                  },
                  "description": "Creates a new document.",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{collectionId}"
                },
                "list": {
                  "path": "v1beta1/{+parent}/{collectionId}",
                  "id": "firestore.projects.databases.documents.list",
                  "parameters": {
                    "orderBy": {
                      "location": "query",
                      "description": "Optional. The optional ordering of the documents to return. For example: `priority desc, __name__ desc`. This mirrors the `ORDER BY` used in Firestore queries but in a string representation. When absent, documents are ordered based on `__name__ ASC`.",
                      "type": "string"
                    },
                    "collectionId": {
                      "required": true,
                      "description": "Optional. The collection ID, relative to `parent`, to list. For example: `chatrooms` or `messages`. This is optional, and when not provided, Firestore will list documents from all collections under the provided `parent`.",
                      "location": "path",
                      "type": "string"
                    },
                    "requestOptions.requestTags": {
                      "description": "Optional. The request tags for the request. Request tags are user-provided strings used for usage monitoring, cost management, and observability. Callers can associate custom application context (such as component, microservice, feature name, or operation type) with database requests. These tags are collected and aggregated in usage and monitoring reports, allowing billable operations and usage metrics to be sliced and analyzed by tag. These tags *only* show up in monitoring and are visible in administrative operations (such as usage reports). They do not affect data storage, query semantics, or request execution. Cardinality and Best Practices: - Request tags are most effective when using a bounded set of distinct values (e.g., fewer than 100 distinct tags across an entire database). Using a large number of distinct tags may result in tags being omitted from top usage dashboards. - Use structured identifiers (for example: `app=cart`, `env=prod`, `service=checkout`) and avoid high-cardinality values such as UUIDs, request IDs, timestamps, user IDs, or document keys. - Do not include sensitive data or personally identifiable information (PII) in request tags, as they show up in administrative monitoring. The tags are processed as follows: - Leading and trailing whitespace is trimmed. - Empty tags (after trimming) are filtered out. - Truncated to a maximum of 510 characters. - Deduplicated within the same request. - Limited to a maximum of 50 tags per request (excess tags are silently discarded).",
                      "repeated": true,
                      "location": "query",
                      "type": "string"
                    },
                    "recursive": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. If the list should recursively include all documents nested under the parent at any level. If the request specifies a `collection_id`, then the list will include all nested documents in the collection under the parent. This is optional, and when not provided, Firestore will only list documents nested immediately under the parent. Requests with `recursive` may not specify `show_missing`."
                    },
                    "transaction": {
                      "location": "query",
                      "format": "byte",
                      "description": "Perform the read as part of an already active transaction.",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "description": "Required. The parent resource name. In the format: `projects/{project_id}/databases/{database_id}/documents` or `projects/{project_id}/databases/{database_id}/documents/{document_path}`. For example: `projects/my-project/databases/my-database/documents` or `projects/my-project/databases/my-database/documents/chatrooms/my-chatroom`"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `ListDocuments` response. Provide this to retrieve the subsequent page. When paginating, all other parameters (with the exception of `page_size`) must match the values set in the request that generated the page token.",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of documents to return in a single response. Firestore may return fewer than this value.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "readTime": {
                      "description": "Perform the read at the provided time. This must be a microsecond precision timestamp within the past one hour, or if Point-in-Time Recovery is enabled, can additionally be a whole minute timestamp within the past 7 days.",
                      "type": "string",
                      "format": "google-datetime",
                      "location": "query"
                    },
                    "mask.fieldPaths": {
                      "location": "query",
                      "type": "string",
                      "repeated": true,
                      "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference."
                    },
                    "showMissing": {
                      "location": "query",
                      "description": "If the list should show missing documents. A document is missing if it does not exist, but there are sub-documents nested underneath it. When true, such missing documents will be returned with a key but will not have fields, `create_time`, or `update_time` set. Requests with `show_missing` may not specify `where` or `order_by`.",
                      "type": "boolean"
                    }
                  },
                  "description": "Lists documents.",
                  "httpMethod": "GET",
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}/{collectionId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameterOrder": [
                    "parent",
                    "collectionId"
                  ],
                  "response": {
                    "$ref": "ListDocumentsResponse"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "documentationLink": "https://cloud.google.com/firestore",
  "schemas": {
    "ArrayValue": {
      "description": "An array value.",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "$ref": "Value"
          },
          "description": "Values in the array."
        }
      },
      "id": "ArrayValue",
      "type": "object"
    },
    "PartitionQueryRequest": {
      "type": "object",
      "description": "The request for Firestore.PartitionQuery.",
      "properties": {
        "partitionCount": {
          "description": "The desired maximum number of partition points. The partitions may be returned across multiple pages of results. The number must be positive. The actual number of partitions returned may be fewer. For example, this may be set to one fewer than the number of parallel queries to be run, or in running a data pipeline job, one fewer than the number of workers or compute instances available.",
          "format": "int64",
          "type": "string"
        },
        "pageSize": {
          "type": "integer",
          "description": "The maximum number of partitions to return in this call, subject to `partition_count`. For example, if `partition_count` = 10 and `page_size` = 8, the first call to PartitionQuery will return up to 8 partitions and a `next_page_token` if more results exist. A second call to PartitionQuery will return up to 2 partitions, to complete the total of 10 specified in `partition_count`.",
          "format": "int32"
        },
        "readTime": {
          "type": "string",
          "description": "Reads documents as they were at the given time. This must be a microsecond precision timestamp within the past one hour, or if Point-in-Time Recovery is enabled, can additionally be a whole minute timestamp within the past 7 days.",
          "format": "google-datetime"
        },
        "requestOptions": {
          "description": "Optional. The request options for the request.",
          "$ref": "RequestOptions"
        },
        "pageToken": {
          "type": "string",
          "description": "The `next_page_token` value returned from a previous call to PartitionQuery that may be used to get an additional set of results. There are no ordering guarantees between sets of results. Thus, using multiple sets of results will require merging the different result sets. For example, two subsequent calls using a page_token may return: * cursor B, cursor M, cursor Q * cursor A, cursor U, cursor W To obtain a complete result set ordered with respect to the results of the query supplied to PartitionQuery, the results sets should be merged: cursor A, cursor B, cursor M, cursor Q, cursor U, cursor W"
        },
        "structuredQuery": {
          "$ref": "StructuredQuery",
          "description": "A structured query. Query must specify collection with all descendants and be ordered by name ascending. Other filters, order bys, limits, offsets, and start/end cursors are not supported."
        }
      },
      "id": "PartitionQueryRequest"
    },
    "Aggregation": {
      "type": "object",
      "description": "Defines an aggregation that produces a single result.",
      "properties": {
        "sum": {
          "description": "Sum aggregator.",
          "$ref": "Sum"
        },
        "avg": {
          "$ref": "Avg",
          "description": "Average aggregator."
        },
        "count": {
          "$ref": "Count",
          "description": "Count aggregator."
        },
        "alias": {
          "description": "Optional. Optional name of the field to store the result of the aggregation into. If not provided, Firestore will pick a default name following the format `field_`. For example: ``` AGGREGATE COUNT_UP_TO(1) AS count_up_to_1, COUNT_UP_TO(2), COUNT_UP_TO(3) AS count_up_to_3, COUNT(*) OVER ( ... ); ``` becomes: ``` AGGREGATE COUNT_UP_TO(1) AS count_up_to_1, COUNT_UP_TO(2) AS field_1, COUNT_UP_TO(3) AS count_up_to_3, COUNT(*) AS field_2 OVER ( ... ); ``` Requires: * Must be unique across all aggregation aliases. * Conform to document field name limitations.",
          "type": "string"
        }
      },
      "id": "Aggregation"
    },
    "Status": {
      "type": "object",
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status"
    },
    "StructuredAggregationQuery": {
      "properties": {
        "aggregations": {
          "items": {
            "$ref": "Aggregation"
          },
          "type": "array",
          "description": "Optional. Series of aggregations to apply over the results of the `structured_query`. Requires: * A minimum of one and maximum of five aggregations per query."
        },
        "structuredQuery": {
          "description": "Nested structured query.",
          "$ref": "StructuredQuery"
        }
      },
      "id": "StructuredAggregationQuery",
      "description": "Firestore query for running an aggregation over a StructuredQuery.",
      "type": "object"
    },
    "WriteResponse": {
      "id": "WriteResponse",
      "properties": {
        "streamToken": {
          "description": "A token that represents the position of this response in the stream. This can be used by a client to resume the stream at this point. This field is always set.",
          "format": "byte",
          "type": "string"
        },
        "writeResults": {
          "type": "array",
          "description": "The result of applying the writes. This i-th write result corresponds to the i-th write in the request.",
          "items": {
            "$ref": "WriteResult"
          }
        },
        "commitTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the commit occurred. Any read with an equal or greater `read_time` is guaranteed to see the effects of the write."
        },
        "streamId": {
          "description": "The ID of the stream. Only set on the first message, when a new stream was created.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The response for Firestore.Write."
    },
    "Value": {
      "description": "A message that can hold any of the supported value types.",
      "properties": {
        "stringValue": {
          "description": "A string value. In Standard edition databases: * The string, represented as UTF-8, must not exceed 1 MiB - 89 bytes. * Only the first 1,500 bytes of the UTF-8 representation are considered by queries. In Enterprise edition databases, there is no limit on the size of the value. However, it is still subject to document and index entry size limits.",
          "type": "string"
        },
        "bytesValue": {
          "description": "A bytes value. In Standard edition databases: * The value must not exceed 1 MiB - 89 bytes. * Only the first 1,500 bytes are considered by queries. In Enterprise edition databases, there is no limit on the size of the value. However, it is still subject to document and index entry size limits.",
          "format": "byte",
          "type": "string"
        },
        "geoPointValue": {
          "description": "A geo point value representing a point on the surface of Earth.",
          "$ref": "LatLng"
        },
        "referenceValue": {
          "type": "string",
          "description": "A reference to a document. For example: `projects/{project_id}/databases/{database_id}/documents/{document_path}`."
        },
        "timestampValue": {
          "format": "google-datetime",
          "description": "A timestamp value. Precise only to microseconds. When stored, any additional precision is rounded down.",
          "type": "string"
        },
        "booleanValue": {
          "description": "A boolean value.",
          "type": "boolean"
        },
        "mapValue": {
          "description": "A map value.",
          "$ref": "MapValue"
        },
        "functionValue": {
          "description": "A value that represents an unevaluated expression. **Requires:** * Not allowed to be used when writing documents.",
          "$ref": "Function"
        },
        "arrayValue": {
          "description": "An array value. In Standard edition databases, an array value cannot directly contain another array value, though it can contain a map which contains another array. In Enterprise edition databases, an array value can contain another array value.",
          "$ref": "ArrayValue"
        },
        "pipelineValue": {
          "$ref": "Pipeline",
          "description": "A value that represents an unevaluated pipeline. **Requires:** * Not allowed to be used when writing documents."
        },
        "integerValue": {
          "format": "int64",
          "description": "An integer value.",
          "type": "string"
        },
        "fieldReferenceValue": {
          "type": "string",
          "description": "Value which references a field. This is considered relative (vs absolute) since it only refers to a field and not a field within a particular document. **Requires:** * Must follow field reference limitations. * Not allowed to be used when writing documents."
        },
        "nullValue": {
          "enumDescriptions": [
            "Null value."
          ],
          "description": "A null value.",
          "enum": [
            "NULL_VALUE"
          ],
          "type": "string"
        },
        "variableReferenceValue": {
          "description": "Pointer to a variable defined elsewhere in a pipeline. Unlike `field_reference_value` which references a field within a document, this refers to a variable, defined in a separate namespace than the fields of a document.",
          "type": "string"
        },
        "doubleValue": {
          "description": "A double value.",
          "type": "number",
          "format": "double"
        }
      },
      "type": "object",
      "id": "Value"
    },
    "PlanSummary": {
      "type": "object",
      "properties": {
        "indexesUsed": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object."
            }
          },
          "description": "The indexes selected for the query. For example: [ {\"query_scope\": \"Collection\", \"properties\": \"(foo ASC, __name__ ASC)\"}, {\"query_scope\": \"Collection\", \"properties\": \"(bar ASC, __name__ ASC)\"} ]",
          "type": "array"
        }
      },
      "description": "Planning phase information for the query.",
      "id": "PlanSummary"
    },
    "ExecutePipelineResponse": {
      "properties": {
        "results": {
          "type": "array",
          "items": {
            "$ref": "Document"
          },
          "description": "An ordered batch of results returned executing a pipeline. The batch size is variable, and can even be zero for when only a partial progress message is returned. The fields present in the returned documents are only those that were explicitly requested in the pipeline, this includes those like `__name__` and `__update_time__`. This is explicitly a divergence from `Firestore.RunQuery` / `Firestore.GetDocument` RPCs which always return such fields even when they are not specified in the `mask`."
        },
        "transaction": {
          "format": "byte",
          "type": "string",
          "description": "Newly created transaction identifier. This field is only specified as part of the first response from the server, alongside the `results` field when the original request specified ExecuteRequest.new_transaction."
        },
        "executionTime": {
          "format": "google-datetime",
          "description": "The time at which the results are valid. This is a (not strictly) monotonically increasing value across multiple responses in the same stream. The API guarantees that all previously returned results are still valid at the latest `execution_time`. This allows the API consumer to treat the query if it ran at the latest `execution_time` returned. If the query returns no results, a response with `execution_time` and no `results` will be sent, and this represents the time at which the operation was run.",
          "type": "string"
        },
        "explainStats": {
          "description": "Query explain stats. This is present on the **last** response if the request configured explain to run in 'analyze' or 'explain' mode in the pipeline options. If the query does not return any results, a response with `explain_stats` and no `results` will still be sent.",
          "$ref": "ExplainStats"
        }
      },
      "type": "object",
      "description": "The response for Firestore.ExecutePipeline.",
      "id": "ExecutePipelineResponse"
    },
    "GoogleFirestoreAdminV1beta1ExportDocumentsRequest": {
      "type": "object",
      "description": "The request for FirestoreAdmin.ExportDocuments.",
      "properties": {
        "collectionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Which collection ids to export. Unspecified means all collections."
        },
        "outputUriPrefix": {
          "type": "string",
          "description": "The output URI. Currently only supports Google Cloud Storage URIs of the form: `gs://BUCKET_NAME[/NAMESPACE_PATH]`, where `BUCKET_NAME` is the name of the Google Cloud Storage bucket and `NAMESPACE_PATH` is an optional Google Cloud Storage namespace path. When choosing a name, be sure to consider Google Cloud Storage naming guidelines: https://cloud.google.com/storage/docs/naming. If the URI is a bucket (without a namespace path), a prefix will be generated based on the start time."
        }
      },
      "id": "GoogleFirestoreAdminV1beta1ExportDocumentsRequest"
    },
    "WriteRequest": {
      "properties": {
        "writes": {
          "type": "array",
          "items": {
            "$ref": "Write"
          },
          "description": "The writes to apply. Always executed atomically and in order. This must be empty on the first request. This may be empty on the last request. This must not be empty on all other requests."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Labels associated with this write request."
        },
        "streamToken": {
          "format": "byte",
          "description": "A stream token that was previously sent by the server. The client should set this field to the token from the most recent WriteResponse it has received. This acknowledges that the client has received responses up to this token. After sending this token, earlier tokens may not be used anymore. The server may close the stream if there are too many unacknowledged responses. Leave this field unset when creating a new stream. To resume a stream at a specific point, set this field and the `stream_id` field. Leave this field unset when creating a new stream.",
          "type": "string"
        },
        "requestOptions": {
          "description": "Optional. The request options for the request.",
          "$ref": "RequestOptions"
        },
        "streamId": {
          "description": "The ID of the write stream to resume. This may only be set in the first message. When left empty, a new write stream will be created.",
          "type": "string"
        }
      },
      "id": "WriteRequest",
      "description": "The request for Firestore.Write. The first request creates a stream, or resumes an existing one from a token. When creating a new stream, the server replies with a response containing only an ID and a token, to use in the next request. When resuming a stream, the server first streams any responses later than the given token, then a response containing only an up-to-date token, to use in the next request.",
      "type": "object"
    },
    "BeginTransactionResponse": {
      "id": "BeginTransactionResponse",
      "type": "object",
      "description": "The response for Firestore.BeginTransaction.",
      "properties": {
        "transaction": {
          "type": "string",
          "description": "The transaction that was started.",
          "format": "byte"
        }
      }
    },
    "GoogleFirestoreAdminV1beta1Index": {
      "type": "object",
      "properties": {
        "collectionId": {
          "type": "string",
          "description": "The collection ID to which this index applies. Required."
        },
        "name": {
          "type": "string",
          "description": "The resource name of the index. Output only."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "ERROR"
          ],
          "type": "string",
          "description": "The state of the index. Output only.",
          "enumDescriptions": [
            "The state is unspecified.",
            "The index is being created. There is an active long-running operation for the index. The index is updated when writing a document. Some index data may exist.",
            "The index is ready to be used. The index is updated when writing a document. The index is fully populated from all stored documents it applies to.",
            "The index was being created, but something went wrong. There is no active long-running operation for the index, and the most recently finished long-running operation failed. The index is not updated when writing a document. Some index data may exist."
          ]
        },
        "fields": {
          "description": "The fields to index.",
          "items": {
            "$ref": "GoogleFirestoreAdminV1beta1IndexField"
          },
          "type": "array"
        }
      },
      "id": "GoogleFirestoreAdminV1beta1Index",
      "description": "An index definition."
    },
    "ListenRequest": {
      "properties": {
        "removeTarget": {
          "format": "int32",
          "description": "The ID of a target to remove from this stream.",
          "type": "integer"
        },
        "addTarget": {
          "description": "A target to add to this stream.",
          "$ref": "Target"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels associated with this target change.",
          "type": "object"
        },
        "requestOptions": {
          "description": "Optional. The request options for the request.",
          "$ref": "RequestOptions"
        }
      },
      "id": "ListenRequest",
      "type": "object",
      "description": "A request for Firestore.Listen"
    },
    "RunQueryResponse": {
      "type": "object",
      "id": "RunQueryResponse",
      "description": "The response for Firestore.RunQuery.",
      "properties": {
        "transaction": {
          "description": "The transaction that was started as part of this request. Can only be set in the first response, and only if RunQueryRequest.new_transaction was set in the request. If set, no other fields will be set in this response.",
          "type": "string",
          "format": "byte"
        },
        "readTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the document was read. This may be monotonically increasing; in this case, the previous documents in the result stream are guaranteed not to have changed between their `read_time` and this one. If the query returns no results, a response with `read_time` and no `document` will be sent, and this represents the time at which the query was run."
        },
        "skippedResults": {
          "format": "int32",
          "type": "integer",
          "description": "The number of results that have been skipped due to an offset between the last response and the current response."
        },
        "explainMetrics": {
          "description": "Query explain metrics. This is only present when the RunQueryRequest.explain_options is provided, and it is sent only once with the last response in the stream.",
          "$ref": "ExplainMetrics"
        },
        "done": {
          "description": "If present, Firestore has completely finished the request and no more documents will be returned.",
          "type": "boolean"
        },
        "document": {
          "description": "A query result, not set when reporting partial progress.",
          "$ref": "Document"
        }
      }
    },
    "TransactionOptions": {
      "properties": {
        "readWrite": {
          "description": "The transaction can be used for both read and write operations.",
          "$ref": "ReadWrite"
        },
        "readOnly": {
          "description": "The transaction can only be used for read operations.",
          "$ref": "ReadOnly"
        }
      },
      "description": "Options for creating a new transaction.",
      "id": "TransactionOptions",
      "type": "object"
    },
    "BatchGetDocumentsResponse": {
      "type": "object",
      "description": "The streamed response for Firestore.BatchGetDocuments.",
      "properties": {
        "readTime": {
          "description": "The time at which the document was read. This may be monotically increasing, in this case the previous documents in the result stream are guaranteed not to have changed between their read_time and this one.",
          "format": "google-datetime",
          "type": "string"
        },
        "transaction": {
          "format": "byte",
          "description": "The transaction that was started as part of this request. Will only be set in the first response, and only if BatchGetDocumentsRequest.new_transaction was set in the request.",
          "type": "string"
        },
        "found": {
          "$ref": "Document",
          "description": "A document that was requested."
        },
        "missing": {
          "type": "string",
          "description": "A document name that was requested but does not exist. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`."
        }
      },
      "id": "BatchGetDocumentsResponse"
    },
    "FieldTransform": {
      "id": "FieldTransform",
      "type": "object",
      "description": "A transformation of a field of the document.",
      "properties": {
        "minimum": {
          "description": "Sets the field to the minimum of its current value and the given value. This must be an integer or a double value. If the field is not an integer or double, or if the field does not yet exist, the transformation will set the field to the input value. If a minimum operation is applied where the field and the input value are of mixed types (that is - one is an integer and one is a double) the field takes on the type of the smaller operand. If the operands are equivalent (e.g. 3 and 3.0), the field does not change. 0, 0.0, and -0.0 are all zero. The minimum of a zero stored value and zero input value is always the stored value. The minimum of any numeric value x and NaN is NaN.",
          "$ref": "Value"
        },
        "setToServerValue": {
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "The time at which the server processed the request, with millisecond precision. If used on multiple fields (same or different documents) in a transaction, all the fields will get the same server timestamp."
          ],
          "type": "string",
          "enum": [
            "SERVER_VALUE_UNSPECIFIED",
            "REQUEST_TIME"
          ],
          "description": "Sets the field to the given server value."
        },
        "appendMissingElements": {
          "$ref": "ArrayValue",
          "description": "Append the given elements in order if they are not already present in the current field value. If the field is not an array, or if the field does not yet exist, it is first set to the empty array. Equivalent numbers of different types (e.g. 3L and 3.0) are considered equal when checking if a value is missing. NaN is equal to NaN, and Null is equal to Null. If the input contains multiple equivalent values, only the first will be considered. The corresponding transform_result will be the null value."
        },
        "increment": {
          "description": "Adds the given value to the field's current value. This must be an integer or a double value. If the field is not an integer or double, or if the field does not yet exist, the transformation will set the field to the given value. If either of the given value or the current field value are doubles, both values will be interpreted as doubles. Double arithmetic and representation of double values follow IEEE 754 semantics. If there is positive/negative integer overflow, the field is resolved to the largest magnitude positive/negative integer.",
          "$ref": "Value"
        },
        "maximum": {
          "description": "Sets the field to the maximum of its current value and the given value. This must be an integer or a double value. If the field is not an integer or double, or if the field does not yet exist, the transformation will set the field to the given value. If a maximum operation is applied where the field and the input value are of mixed types (that is - one is an integer and one is a double) the field takes on the type of the larger operand. If the operands are equivalent (e.g. 3 and 3.0), the field does not change. 0, 0.0, and -0.0 are all zero. The maximum of a zero stored value and zero input value is always the stored value. The maximum of any numeric value x and NaN is NaN.",
          "$ref": "Value"
        },
        "removeAllFromArray": {
          "description": "Remove all of the given elements from the array in the field. If the field is not an array, or if the field does not yet exist, it is set to the empty array. Equivalent numbers of the different types (e.g. 3L and 3.0) are considered equal when deciding whether an element should be removed. NaN is equal to NaN, and Null is equal to Null. This will remove all equivalent values if there are duplicates. The corresponding transform_result will be the null value.",
          "$ref": "ArrayValue"
        },
        "fieldPath": {
          "type": "string",
          "description": "The path of the field. See Document.fields for the field path syntax reference."
        }
      }
    },
    "GoogleFirestoreAdminV1beta1ImportDocumentsRequest": {
      "properties": {
        "collectionIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Which collection ids to import. Unspecified means all collections included in the import."
        },
        "inputUriPrefix": {
          "type": "string",
          "description": "Location of the exported files. This must match the output_uri_prefix of an ExportDocumentsResponse from an export that has completed successfully. See: google.firestore.admin.v1beta1.ExportDocumentsResponse.output_uri_prefix."
        }
      },
      "type": "object",
      "id": "GoogleFirestoreAdminV1beta1ImportDocumentsRequest",
      "description": "The request for FirestoreAdmin.ImportDocuments."
    },
    "FieldFilter": {
      "description": "A filter on a specific field.",
      "properties": {
        "value": {
          "$ref": "Value",
          "description": "The value to compare to."
        },
        "field": {
          "$ref": "FieldReference",
          "description": "The field to filter by."
        },
        "op": {
          "description": "The operator to filter by.",
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "LESS_THAN",
            "LESS_THAN_OR_EQUAL",
            "GREATER_THAN",
            "GREATER_THAN_OR_EQUAL",
            "EQUAL",
            "NOT_EQUAL",
            "ARRAY_CONTAINS",
            "IN",
            "ARRAY_CONTAINS_ANY",
            "NOT_IN"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "The given `field` is less than the given `value`. Requires: * That `field` come first in `order_by`.",
            "The given `field` is less than or equal to the given `value`. Requires: * That `field` come first in `order_by`.",
            "The given `field` is greater than the given `value`. Requires: * That `field` come first in `order_by`.",
            "The given `field` is greater than or equal to the given `value`. Requires: * That `field` come first in `order_by`.",
            "The given `field` is equal to the given `value`.",
            "The given `field` is not equal to the given `value`. Requires: * No other `NOT_EQUAL`, `NOT_IN`, `IS_NOT_NULL`, or `IS_NOT_NAN`. * That `field` comes first in the `order_by`.",
            "The given `field` is an array that contains the given `value`.",
            "The given `field` is equal to at least one value in the given array. Requires: * That `value` is a non-empty `ArrayValue`, subject to disjunction limits. * No `NOT_IN` filters in the same query.",
            "The given `field` is an array that contains any of the values in the given array. Requires: * That `value` is a non-empty `ArrayValue`, subject to disjunction limits. * No other `ARRAY_CONTAINS_ANY` filters within the same disjunction. * No `NOT_IN` filters in the same query.",
            "The value of the `field` is not in the given array. Requires: * That `value` is a non-empty `ArrayValue` with at most 10 values. * No other `OR`, `IN`, `ARRAY_CONTAINS_ANY`, `NOT_IN`, `NOT_EQUAL`, `IS_NOT_NULL`, or `IS_NOT_NAN`. * That `field` comes first in the `order_by`."
          ]
        }
      },
      "id": "FieldFilter",
      "type": "object"
    },
    "GoogleFirestoreAdminV1beta1Progress": {
      "description": "Measures the progress of a particular metric.",
      "type": "object",
      "properties": {
        "workCompleted": {
          "type": "string",
          "description": "An estimate of how much work has been completed. Note that this may be greater than `work_estimated`.",
          "format": "int64"
        },
        "workEstimated": {
          "type": "string",
          "description": "An estimate of how much work needs to be performed. Zero if the work estimate is unavailable. May change as work progresses.",
          "format": "int64"
        }
      },
      "id": "GoogleFirestoreAdminV1beta1Progress"
    },
    "StructuredQuery": {
      "type": "object",
      "id": "StructuredQuery",
      "properties": {
        "where": {
          "$ref": "Filter",
          "description": "The filter to apply."
        },
        "limit": {
          "format": "int32",
          "description": "The maximum number of results to return. Applies after all other constraints. Requires: * The value must be greater than or equal to zero if specified.",
          "type": "integer"
        },
        "select": {
          "$ref": "Projection",
          "description": "Optional sub-set of the fields to return. This acts as a DocumentMask over the documents returned from a query. When not set, assumes that the caller wants all fields returned."
        },
        "offset": {
          "format": "int32",
          "type": "integer",
          "description": "The number of documents to skip before returning the first result. This applies after the constraints specified by the `WHERE`, `START AT`, & `END AT` but before the `LIMIT` clause. Requires: * The value must be greater than or equal to zero if specified."
        },
        "orderBy": {
          "description": "The order to apply to the query results. Callers can provide a full ordering, a partial ordering, or no ordering at all. While Firestore will always respect the provided order, the behavior for queries without a full ordering is different per database edition: In Standard edition, Firestore guarantees a stable ordering through the following rules: * The `order_by` is required to reference all fields used with an inequality filter. * All fields that are required to be in the `order_by` but are not already present are appended in lexicographical ordering of the field name. * If an order on `__name__` is not specified, it is appended by default. Fields are appended with the same sort direction as the last order specified, or 'ASCENDING' if no order was specified. For example: * `ORDER BY a` becomes `ORDER BY a ASC, __name__ ASC` * `ORDER BY a DESC` becomes `ORDER BY a DESC, __name__ DESC` * `WHERE a > 1` becomes `WHERE a > 1 ORDER BY a ASC, __name__ ASC` * `WHERE __name__ > ... AND a > 1` becomes `WHERE __name__ > ... AND a > 1 ORDER BY a ASC, __name__ ASC` In Enterprise edition, Firestore does not guarantee a stable ordering. Instead it will pick the most efficient ordering based on the indexes available at the time of query execution. This will result in a different ordering for queries that are otherwise identical. To ensure a stable ordering, always include a unique field in the `order_by` clause, such as `__name__`.",
          "type": "array",
          "items": {
            "$ref": "Order"
          }
        },
        "startAt": {
          "$ref": "Cursor",
          "description": "A potential prefix of a position in the result set to start the query at. The ordering of the result set is based on the `ORDER BY` clause of the original query. ``` SELECT * FROM k WHERE a = 1 AND b > 2 ORDER BY b ASC, __name__ ASC; ``` This query's results are ordered by `(b ASC, __name__ ASC)`. Cursors can reference either the full ordering or a prefix of the location, though it cannot reference more fields than what are in the provided `ORDER BY`. Continuing off the example above, attaching the following start cursors will have varying impact: - `START BEFORE (2, /k/123)`: start the query right before `a = 1 AND b > 2 AND __name__ > /k/123`. - `START AFTER (10)`: start the query right after `a = 1 AND b > 10`. Unlike `OFFSET` which requires scanning over the first N results to skip, a start cursor allows the query to begin at a logical position. This position is not required to match an actual result, it will scan forward from this position to find the next document. Requires: * The number of values cannot be greater than the number of fields specified in the `ORDER BY` clause."
        },
        "endAt": {
          "description": "A potential prefix of a position in the result set to end the query at. This is similar to `START_AT` but with it controlling the end position rather than the start position. Requires: * The number of values cannot be greater than the number of fields specified in the `ORDER BY` clause.",
          "$ref": "Cursor"
        },
        "from": {
          "description": "The collections to query.",
          "type": "array",
          "items": {
            "$ref": "CollectionSelector"
          }
        },
        "findNearest": {
          "description": "Optional. A potential nearest neighbors search. Applies after all other filters and ordering. Finds the closest vector embeddings to the given query vector.",
          "$ref": "FindNearest"
        }
      },
      "description": "A Firestore query. The query stages are executed in the following order: 1. from 2. where 3. select 4. order_by + start_at + end_at 5. offset 6. limit 7. find_nearest"
    },
    "Filter": {
      "description": "A filter.",
      "id": "Filter",
      "type": "object",
      "properties": {
        "compositeFilter": {
          "$ref": "CompositeFilter",
          "description": "A composite filter."
        },
        "unaryFilter": {
          "$ref": "UnaryFilter",
          "description": "A filter that takes exactly one argument."
        },
        "fieldFilter": {
          "description": "A filter on a document field.",
          "$ref": "FieldFilter"
        }
      }
    },
    "ExecutePipelineRequest": {
      "description": "The request for Firestore.ExecutePipeline.",
      "properties": {
        "autoCommitTransaction": {
          "description": "Optional. Automatically commits the transaction after the pipeline has been executed. Only permitted in combination with `transaction` or `new_transaction`.",
          "type": "boolean"
        },
        "readTime": {
          "format": "google-datetime",
          "description": "Execute the pipeline in a snapshot transaction at the given time. This must be a microsecond precision timestamp within the past one hour, or if Point-in-Time Recovery is enabled, can additionally be a whole minute timestamp within the past 7 days.",
          "type": "string"
        },
        "newTransaction": {
          "description": "Execute the pipeline in a new transaction. The identifier of the newly created transaction will be returned in the first response on the stream. This defaults to a read-only transaction.",
          "$ref": "TransactionOptions"
        },
        "structuredPipeline": {
          "description": "A pipelined operation.",
          "$ref": "StructuredPipeline"
        },
        "transaction": {
          "description": "Run the query within an already active transaction. The value here is the opaque transaction ID to execute the query in.",
          "type": "string",
          "format": "byte"
        },
        "requestOptions": {
          "$ref": "RequestOptions",
          "description": "Optional. The request options for this request."
        }
      },
[...]
