{
  "ownerName": "Google",
  "baseUrl": "https://firebaserules.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "mtlsRootUrl": "https://firebaserules.mtls.googleapis.com/",
  "name": "firebaserules",
  "version_module": true,
  "documentationLink": "https://firebase.google.com/docs/storage/security",
  "id": "firebaserules:v1",
  "discoveryVersion": "v1",
  "basePath": "",
  "ownerDomain": "google.com",
  "rootUrl": "https://firebaserules.googleapis.com/",
  "schemas": {
    "Issue": {
      "type": "object",
      "description": "Issues include warnings, errors, and deprecation notices.",
      "id": "Issue",
      "properties": {
        "severity": {
          "type": "string",
          "enumDescriptions": [
            "An unspecified severity.",
            "Deprecation issue for statements and method that may no longer be supported or maintained.",
            "Warnings such as: unused variables.",
            "Errors such as: unmatched curly braces or variable redefinition."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "DEPRECATION",
            "WARNING",
            "ERROR"
          ],
          "description": "The severity of the issue."
        },
        "description": {
          "description": "Short error description.",
          "type": "string"
        },
        "sourcePosition": {
          "description": "Position of the issue in the `Source`.",
          "$ref": "SourcePosition"
        }
      }
    },
    "ListRulesetsResponse": {
      "id": "ListRulesetsResponse",
      "properties": {
        "rulesets": {
          "description": "List of `Ruleset` instances.",
          "type": "array",
          "items": {
            "$ref": "Ruleset"
          }
        },
        "nextPageToken": {
          "description": "The pagination token to retrieve the next page of results. If the value is empty, no further results remain.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The response for FirebaseRulesService.ListRulesets."
    },
    "SourcePosition": {
      "id": "SourcePosition",
      "type": "object",
      "description": "Position in the `Source` content including its line, column number, and an index of the `File` in the `Source` message. Used for debug purposes.",
      "properties": {
        "column": {
          "type": "integer",
          "format": "int32",
          "description": "First column on the source line associated with the source fragment."
        },
        "endOffset": {
          "format": "int32",
          "type": "integer",
          "description": "End position relative to the beginning of the file."
        },
        "fileName": {
          "type": "string",
          "description": "Name of the `File`."
        },
        "currentOffset": {
          "type": "integer",
          "description": "Start position relative to the beginning of the file.",
          "format": "int32"
        },
        "line": {
          "type": "integer",
          "format": "int32",
          "description": "Line number of the source fragment. 1-based."
        }
      }
    },
    "TestRulesetRequest": {
      "id": "TestRulesetRequest",
      "properties": {
        "testSuite": {
          "description": "Required. The tests to execute against the `Source`. When `Source` is provided inline, the test cases will only be run if the `Source` is syntactically and semantically valid. Inline `TestSuite` to run.",
          "$ref": "TestSuite"
        },
        "source": {
          "$ref": "Source",
          "description": "Optional. Optional `Source` to be checked for correctness. This field must not be set when the resource name refers to a `Ruleset`."
        }
      },
      "description": "The request for FirebaseRulesService.TestRuleset.",
      "type": "object"
    },
    "FunctionCall": {
      "id": "FunctionCall",
      "type": "object",
      "properties": {
        "args": {
          "items": {
            "type": "any"
          },
          "description": "The arguments that were provided to the function.",
          "type": "array"
        },
        "function": {
          "type": "string",
          "description": "Name of the function invoked."
        }
      },
      "description": "Represents a service-defined function call that was invoked during test execution."
    },
    "TestCase": {
      "properties": {
        "pathEncoding": {
          "enum": [
            "ENCODING_UNSPECIFIED",
            "URL_ENCODED",
            "PLAIN"
          ],
          "enumDescriptions": [
            "No encoding has been specified. Defaults to \"URL_ENCODED\" behavior.",
            "Treats path segments as URL encoded but with non-encoded separators (\"/\"). This is the default behavior.",
            "Treats total path as non-URL encoded e.g. raw."
          ],
          "type": "string",
          "description": "Specifies whether paths (such as request.path) are encoded and how."
        },
        "functionMocks": {
          "type": "array",
          "items": {
            "$ref": "FunctionMock"
          },
          "description": "Optional function mocks for service-defined functions. If not set, any service defined function is expected to return an error, which may or may not influence the test outcome."
        },
        "expectation": {
          "type": "string",
          "description": "Test expectation.",
          "enum": [
            "EXPECTATION_UNSPECIFIED",
            "ALLOW",
            "DENY"
          ],
          "enumDescriptions": [
            "Unspecified expectation.",
            "Expect an allowed result.",
            "Expect a denied result."
          ]
        },
        "expressionReportLevel": {
          "enumDescriptions": [
            "No level has been specified. Defaults to \"NONE\" behavior.",
            "Do not include any additional information.",
            "Include detailed reporting on expressions evaluated.",
            "Only include the expressions that were visited during evaluation."
          ],
          "enum": [
            "LEVEL_UNSPECIFIED",
            "NONE",
            "FULL",
            "VISITED"
          ],
          "type": "string",
          "description": "Specifies what should be included in the response."
        },
        "resource": {
          "type": "any",
          "description": "Optional resource value as it appears in persistent storage before the request is fulfilled. The resource type depends on the `request.path` value."
        },
        "request": {
          "description": "Request context. The exact format of the request context is service-dependent. See the appropriate service documentation for information about the supported fields and types on the request. Minimally, all services support the following fields and types: Request field | Type ---------------|----------------- auth.uid | `string` auth.token | `map` headers | `map` method | `string` params | `map` path | `string` time | `google.protobuf.Timestamp` If the request value is not well-formed for the service, the request will be rejected as an invalid argument.",
          "type": "any"
        }
      },
      "description": "`TestCase` messages provide the request context and an expectation as to whether the given context will be allowed or denied. Test cases may specify the `request`, `resource`, and `function_mocks` to mock a function call to a service-provided function. The `request` object represents context present at request-time. The `resource` is the value of the target resource as it appears in persistent storage before the request is executed.",
      "type": "object",
      "id": "TestCase"
    },
    "ValueCount": {
      "description": "Tuple for how many times an Expression was evaluated to a particular ExpressionValue.",
      "id": "ValueCount",
      "type": "object",
      "properties": {
        "value": {
          "type": "any",
          "description": "The return value of the expression"
        },
        "count": {
          "description": "The amount of times that expression returned.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "UpdateReleaseRequest": {
      "description": "The request for FirebaseRulesService.UpdateRelease.",
      "type": "object",
      "id": "UpdateReleaseRequest",
      "properties": {
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Optional. Specifies which fields to update."
        },
        "release": {
          "$ref": "Release",
          "description": "Required. `Release` to update."
        }
      }
    },
    "TestResult": {
      "id": "TestResult",
      "properties": {
        "errorPosition": {
          "description": "Position in the `Source` or `Ruleset` where the principle runtime error occurs. Evaluation of an expression may result in an error. Rules are deny by default, so a `DENY` expectation when an error is generated is valid. When there is a `DENY` with an error, the `SourcePosition` is returned. E.g. `error_position { line: 19 column: 37 }`",
          "$ref": "SourcePosition"
        },
        "state": {
          "description": "State of the test.",
          "enumDescriptions": [
            "Test state is not set.",
            "Test is a success.",
            "Test is a failure."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCESS",
            "FAILURE"
          ],
          "type": "string"
        },
        "visitedExpressions": {
          "items": {
            "$ref": "VisitedExpression"
          },
          "description": "The set of visited permission expressions for a given test. This returns the positions and evaluation results of all visited permission expressions which were relevant to the test case, e.g. ``` match /path { allow read if: } ``` For a detailed report of the intermediate evaluation states, see the `expression_reports` field",
          "type": "array"
        },
        "debugMessages": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Debug messages related to test execution issues encountered during evaluation. Debug messages may be related to too many or too few invocations of function mocks or to runtime errors that occur during evaluation. For example: ```Unable to read variable [name: \"resource\"]```"
        },
        "expressionReports": {
          "items": {
            "$ref": "ExpressionReport"
          },
          "type": "array",
          "description": "The mapping from expression in the ruleset AST to the values they were evaluated to. Partially-nested to mirror AST structure. Note that this field is actually tracking expressions and not permission statements in contrast to the \"visited_expressions\" field above. Literal expressions are omitted."
        },
        "functionCalls": {
          "description": "The set of function calls made to service-defined methods. Function calls are included in the order in which they are encountered during evaluation, are provided for both mocked and unmocked functions, and included on the response regardless of the test `state`.",
          "items": {
            "$ref": "FunctionCall"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Test result message containing the state of the test as well as a description and source position for test failures."
    },
    "Empty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "Empty"
    },
    "ExpressionReport": {
      "type": "object",
      "id": "ExpressionReport",
      "description": "Describes where in a file an expression is found and what it was evaluated to over the course of its use.",
      "properties": {
        "values": {
          "items": {
            "$ref": "ValueCount"
          },
          "description": "Values that this expression evaluated to when encountered.",
          "type": "array"
        },
        "children": {
          "description": "Subexpressions",
          "items": {
            "$ref": "ExpressionReport"
          },
          "type": "array"
        },
        "sourcePosition": {
          "description": "Position of expression in original rules source.",
          "$ref": "SourcePosition"
        }
      }
    },
    "FunctionMock": {
      "properties": {
        "result": {
          "description": "The mock result of the function call.",
          "$ref": "Result"
        },
        "args": {
          "type": "array",
          "items": {
            "$ref": "Arg"
          },
          "description": "The list of `Arg` values to match. The order in which the arguments are provided is the order in which they must appear in the function invocation."
        },
        "function": {
          "type": "string",
          "description": "The name of the function. The function name must match one provided by a service declaration."
        }
      },
      "type": "object",
      "id": "FunctionMock",
      "description": "Mock function definition. Mocks must refer to a function declared by the target service. The type of the function args and result will be inferred at test time. If either the arg or result values are not compatible with function type declaration, the request will be considered invalid. More than one `FunctionMock` may be provided for a given function name so long as the `Arg` matchers are distinct. There may be only one function for a given overload where all `Arg` values are `Arg.any_value`."
    },
    "VisitedExpression": {
      "properties": {
        "value": {
          "type": "any",
          "description": "The evaluated value for the visited expression, e.g. true/false"
        },
        "sourcePosition": {
          "description": "Position in the `Source` or `Ruleset` where an expression was visited.",
          "$ref": "SourcePosition"
        }
      },
      "description": "Store the position and access outcome for an expression visited in rules.",
      "id": "VisitedExpression",
      "type": "object"
    },
    "ListReleasesResponse": {
      "type": "object",
      "id": "ListReleasesResponse",
      "description": "The response for FirebaseRulesService.ListReleases.",
      "properties": {
        "nextPageToken": {
          "description": "The pagination token to retrieve the next page of results. If the value is empty, no further results remain.",
          "type": "string"
        },
        "releases": {
          "type": "array",
          "description": "List of `Release` instances.",
          "items": {
            "$ref": "Release"
          }
        }
      }
    },
    "GetReleaseExecutableResponse": {
      "id": "GetReleaseExecutableResponse",
      "type": "object",
      "description": "The response for FirebaseRulesService.GetReleaseExecutable",
      "properties": {
        "language": {
          "description": "`Language` used to generate the executable bytes.",
          "type": "string",
          "enum": [
            "LANGUAGE_UNSPECIFIED",
            "FIREBASE_RULES",
            "EVENT_FLOW_TRIGGERS"
          ],
          "enumDescriptions": [
            "Language unspecified. Defaults to FIREBASE_RULES.",
            "Firebase Rules language.",
            "Event Flow triggers."
          ]
        },
        "syncTime": {
          "description": "Optional, indicates the freshness of the result. The response is guaranteed to be the latest within an interval up to the sync_time (inclusive).",
          "format": "google-datetime",
          "type": "string"
        },
        "rulesetName": {
          "description": "`Ruleset` name associated with the `Release` executable.",
          "type": "string"
        },
        "executableVersion": {
          "enum": [
            "RELEASE_EXECUTABLE_VERSION_UNSPECIFIED",
            "FIREBASE_RULES_EXECUTABLE_V1",
            "FIREBASE_RULES_EXECUTABLE_V2"
          ],
          "enumDescriptions": [
            "Executable format unspecified. Defaults to FIREBASE_RULES_EXECUTABLE_V1",
            "Firebase Rules syntax 'rules2' executable versions: Custom AST for use with Java clients.",
            "CEL-based executable for use with C++ clients."
          ],
          "description": "The Rules runtime version of the executable.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Timestamp for the most recent `Release.update_time`.",
          "type": "string"
        },
        "executable": {
          "type": "string",
          "format": "byte",
          "description": "Executable view of the `Ruleset` referenced by the `Release`."
        }
      }
    },
    "TestRulesetResponse": {
      "id": "TestRulesetResponse",
      "type": "object",
      "properties": {
        "testResults": {
          "type": "array",
          "description": "The set of test results given the test cases in the `TestSuite`. The results will appear in the same order as the test cases appear in the `TestSuite`.",
          "items": {
            "$ref": "TestResult"
          }
        },
        "issues": {
          "type": "array",
          "description": "Syntactic and semantic `Source` issues of varying severity. Issues of `ERROR` severity will prevent tests from executing.",
          "items": {
            "$ref": "Issue"
          }
        }
      },
      "description": "The response for FirebaseRulesService.TestRuleset."
    },
    "Metadata": {
      "id": "Metadata",
      "properties": {
        "services": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Services that this ruleset has declarations for (e.g., \"cloud.firestore\"). There may be 0+ of these."
        }
      },
      "type": "object",
      "description": "Metadata for a Ruleset."
    },
    "Result": {
      "id": "Result",
      "type": "object",
      "description": "Possible result values from the function mock invocation.",
      "properties": {
        "value": {
          "type": "any",
          "description": "The result is an actual value. The type of the value must match that of the type declared by the service."
        },
        "undefined": {
          "$ref": "Empty",
          "description": "The result is undefined, meaning the result could not be computed."
        }
      }
    },
    "Ruleset": {
      "id": "Ruleset",
      "description": "`Ruleset` is an immutable copy of `Source` with a globally unique identifier and a creation time.",
      "type": "object",
      "properties": {
        "source": {
          "description": "Required. `Source` for the `Ruleset`.",
          "$ref": "Source"
        },
        "metadata": {
          "$ref": "Metadata",
          "readOnly": true,
          "description": "Output only. The metadata for this ruleset."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time the `Ruleset` was created."
        },
        "attachmentPoint": {
          "type": "string",
          "description": "Immutable. Intended resource to which this Ruleset should be released. May be left blank to signify the resource associated with the default release. Expected format: firestore.googleapis.com/projects//databases/"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the `Ruleset`. The ruleset_id is auto generated by the service. Format: `projects/{project_id}/rulesets/{ruleset_id}`"
        }
      }
    },
    "Source": {
      "description": "`Source` is one or more `File` messages comprising a logical set of rules.",
      "properties": {
        "files": {
          "type": "array",
          "description": "Required. `File` set constituting the `Source` bundle.",
          "items": {
            "$ref": "File"
          }
        }
      },
      "id": "Source",
      "type": "object"
    },
    "File": {
      "description": "`File` containing source content.",
      "id": "File",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. File name.",
          "type": "string"
        },
        "content": {
          "type": "string",
          "description": "Required. Textual Content."
        },
        "fingerprint": {
          "description": "Fingerprint (e.g. github sha) associated with the `File`.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "Arg": {
      "description": "Arg matchers for the mock function.",
      "type": "object",
      "id": "Arg",
      "properties": {
        "anyValue": {
          "description": "Argument matches any value provided.",
          "$ref": "Empty"
        },
        "exactValue": {
          "type": "any",
          "description": "Argument exactly matches value provided."
        }
      }
    },
    "Release": {
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time the release was updated.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Required. Format: `projects/{project_id}/releases/{release_id}`"
        },
        "rulesetName": {
          "type": "string",
          "description": "Required. Name of the `Ruleset` referred to by this `Release`. The `Ruleset` must exist for the `Release` to be created."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Time the release was created.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "Release",
      "description": "`Release` is a named reference to a `Ruleset`. Once a `Release` refers to a `Ruleset`, rules-enabled services will be able to enforce the `Ruleset`."
    },
    "TestSuite": {
      "description": "`TestSuite` is a collection of `TestCase` instances that validate the logical correctness of a `Ruleset`. The `TestSuite` may be referenced in-line within a `TestRuleset` invocation or as part of a `Release` object as a pre-release check.",
      "type": "object",
      "id": "TestSuite",
      "properties": {
        "testCases": {
          "type": "array",
          "items": {
            "$ref": "TestCase"
          },
          "description": "Collection of test cases associated with the `TestSuite`."
        }
      }
    }
  },
  "batchPath": "batch",
  "canonicalName": "Firebase Rules",
  "version": "v1",
  "kind": "discovery#restDescription",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/firebase.readonly": {
          "description": "View all your Firebase data and settings"
        },
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        }
      }
    }
  },
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    }
  },
  "description": "Creates and manages rules that determine when a Firebase Rules-enabled service should permit a request. ",
  "title": "Firebase Rules API",
  "revision": "20260921",
  "servicePath": "",
  "resources": {
    "projects": {
      "methods": {
        "test": {
          "path": "v1/{+name}:test",
          "request": {
            "$ref": "TestRulesetRequest"
          },
          "flatPath": "v1/projects/{projectsId}:test",
          "parameterOrder": [
            "name"
          ],
          "description": "Test `Source` for syntactic and semantic correctness. Issues present, if any, will be returned to the caller with a description, severity, and source location. The test method may be executed with `Source` or a `Ruleset` name. Passing `Source` is useful for unit testing new rules. Passing a `Ruleset` name is useful for regression testing an existing rule. The following is an example of `Source` that permits users to upload images to a bucket bearing their user id and matching the correct metadata: _*Example*_ // Users are allowed to subscribe and unsubscribe to the blog. service firebase.storage { match /users/{userId}/images/{imageName} { allow write: if userId == request.auth.uid && (imageName.matches('*.png$') || imageName.matches('*.jpg$')) && resource.mimeType.matches('^image/') } }",
          "response": {
            "$ref": "TestRulesetResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase",
            "https://www.googleapis.com/auth/firebase.readonly"
          ],
          "httpMethod": "POST",
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "pattern": "^projects/.*$",
              "description": "Required. Tests may either provide `source` or a `Ruleset` resource name. For tests against `source`, the resource name must refer to the project: Format: `projects/{project_id}` For tests against a `Ruleset`, this must be the `Ruleset` resource name: Format: `projects/{project_id}/rulesets/{ruleset_id}`",
              "location": "path"
            }
          },
          "id": "firebaserules.projects.test"
        }
      },
      "resources": {
        "releases": {
          "methods": {
            "create": {
              "description": "Create a `Release`. Release names should reflect the developer's deployment practices. For example, the release name may include the environment name, application name, application version, or any other name meaningful to the developer. Once a `Release` refers to a `Ruleset`, the rules can be enforced by Firebase Rules-enabled services. More than one `Release` may be 'live' concurrently. Consider the following three `Release` names for `projects/foo` and the `Ruleset` to which they refer. Release Name -> Ruleset Name * projects/foo/releases/prod -> projects/foo/rulesets/uuid123 * projects/foo/releases/prod/beta -> projects/foo/rulesets/uuid123 * projects/foo/releases/prod/v23 -> projects/foo/rulesets/uuid456 The relationships reflect a `Ruleset` rollout in progress. The `prod` and `prod/beta` releases refer to the same `Ruleset`. However, `prod/v23` refers to a new `Ruleset`. The `Ruleset` reference for a `Release` may be updated using the UpdateRelease method.",
              "httpMethod": "POST",
              "response": {
                "$ref": "Release"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. Resource name for the project which owns this `Release`. Format: `projects/{project_id}`",
                  "required": true
                }
              },
              "id": "firebaserules.projects.releases.create",
              "path": "v1/{+name}/releases",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "Release"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "flatPath": "v1/projects/{projectsId}/releases"
            },
            "patch": {
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/releases/.*$",
                  "description": "Required. Resource name for the project which owns this `Release`. Format: `projects/{project_id}`"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "request": {
                "$ref": "UpdateReleaseRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "response": {
                "$ref": "Release"
              },
              "id": "firebaserules.projects.releases.patch",
              "description": "Update a `Release` via PATCH. Only updates to `ruleset_name` will be honored. `Release` rename is not supported. To create a `Release` use the CreateRelease method.",
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/releases/{releasesId}"
            },
            "list": {
              "parameterOrder": [
                "name"
              ],
              "description": "List the `Release` values for a project. This list may optionally be filtered by `Release` name, `Ruleset` name, `TestSuite` name, or any combination thereof.",
              "flatPath": "v1/projects/{projectsId}/releases",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "path": "v1/{+name}/releases",
              "response": {
                "$ref": "ListReleasesResponse"
              },
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. Resource name for the project. Format: `projects/{project_id}`",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+$"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Next page token for the next batch of `Release` instances."
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "Optional. Page size to load. Maximum of 100. Defaults to 10. Note: `page_size` is just a hint and the service may choose to load fewer than `page_size` results due to the size of the output. To traverse all of the releases, the caller should iterate until the `page_token` on the response is empty."
                },
                "filter": {
                  "type": "string",
                  "description": "Optional. `Release` filter. The list method supports filters with restrictions on the `Release.name`, and `Release.ruleset_name`. Example 1: A filter of 'name=prod*' might return `Release`s with names within 'projects/foo' prefixed with 'prod': Name -> Ruleset Name: * projects/foo/releases/prod -> projects/foo/rulesets/uuid1234 * projects/foo/releases/prod/v1 -> projects/foo/rulesets/uuid1234 * projects/foo/releases/prod/v2 -> projects/foo/rulesets/uuid8888 Example 2: A filter of `name=prod* ruleset_name=uuid1234` would return only `Release` instances for 'projects/foo' with names prefixed with 'prod' referring to the same `Ruleset` name of 'uuid1234': Name -> Ruleset Name: * projects/foo/releases/prod -> projects/foo/rulesets/1234 * projects/foo/releases/prod/v1 -> projects/foo/rulesets/1234 In the examples, the filter parameters refer to the search filters are relative to the project. Fully qualified prefixed may also be used.",
                  "location": "query"
                }
              },
              "id": "firebaserules.projects.releases.list"
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "path": "v1/{+name}",
              "response": {
                "$ref": "Empty"
              },
              "id": "firebaserules.projects.releases.delete",
              "parameters": {
                "name": {
                  "description": "Required. Resource name for the `Release` to delete. Format: `projects/{project_id}/releases/{release_id}`",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/releases/.*$"
                }
              },
              "description": "Delete a `Release` by resource name.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "flatPath": "v1/projects/{projectsId}/releases/{releasesId}"
            },
            "getExecutable": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "path": "v1/{+name}:getExecutable",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/releases/.*$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. Resource name of the `Release`. Format: `projects/{project_id}/releases/{release_id}`",
                  "required": true
                },
                "executableVersion": {
                  "description": "Optional. The requested runtime executable version. Defaults to FIREBASE_RULES_EXECUTABLE_V1.",
                  "type": "string",
                  "enumDescriptions": [
                    "Executable format unspecified. Defaults to FIREBASE_RULES_EXECUTABLE_V1",
                    "Firebase Rules syntax 'rules2' executable versions: Custom AST for use with Java clients.",
                    "CEL-based executable for use with C++ clients."
                  ],
                  "enum": [
                    "RELEASE_EXECUTABLE_VERSION_UNSPECIFIED",
                    "FIREBASE_RULES_EXECUTABLE_V1",
                    "FIREBASE_RULES_EXECUTABLE_V2"
                  ],
                  "location": "query"
                }
              },
              "description": "Get the `Release` executable to use when enforcing rules.",
              "response": {
                "$ref": "GetReleaseExecutableResponse"
              },
              "flatPath": "v1/projects/{projectsId}/releases/{releasesId}:getExecutable",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "id": "firebaserules.projects.releases.getExecutable"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "flatPath": "v1/projects/{projectsId}/releases/{releasesId}",
              "description": "Get a `Release` by name.",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "description": "Required. Resource name of the `Release`. Format: `projects/{project_id}/releases/{release_id}`",
                  "location": "path",
                  "pattern": "^projects/[^/]+/releases/.*$",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "firebaserules.projects.releases.get",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Release"
              }
            }
          }
        },
        "rulesets": {
          "methods": {
            "list": {
              "id": "firebaserules.projects.rulesets.list",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListRulesetsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "parameters": {
                "filter": {
                  "type": "string",
                  "description": "Optional. `Ruleset` filter. The list method supports filters with restrictions on `Ruleset.name`. Filters on `Ruleset.create_time` should use the `date` function which parses strings that conform to the RFC 3339 date/time specifications. Example: `create_time > date(\"2017-01-01T00:00:00Z\") AND name=UUID-*`",
                  "location": "query"
                },
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. Resource name for the project. Format: `projects/{project_id}`",
                  "required": true
                },
                "pageToken": {
                  "description": "Optional. Next page token for loading the next batch of `Ruleset` instances.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "Optional. Page size to load. Maximum of 100. Defaults to 10. Note: `page_size` is just a hint and the service may choose to load less than `page_size` due to the size of the output. To traverse all of the releases, caller should iterate until the `page_token` is empty.",
                  "format": "int32"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/rulesets",
              "path": "v1/{+name}/rulesets",
              "description": "List `Ruleset` metadata only and optionally filter the results by `Ruleset` name. The full `Source` contents of a `Ruleset` may be retrieved with GetRuleset."
            },
            "create": {
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. Resource name for Project which owns this `Ruleset`. Format: `projects/{project_id}`",
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "response": {
                "$ref": "Ruleset"
              },
              "httpMethod": "POST",
              "id": "firebaserules.projects.rulesets.create",
              "path": "v1/{+name}/rulesets",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/rulesets",
              "description": "Create a `Ruleset` from `Source`. The `Ruleset` is given a unique generated name which is returned to the caller. `Source` containing syntactic or semantics errors will result in an error response indicating the first error encountered. For a detailed view of `Source` issues, use TestRuleset.",
              "request": {
                "$ref": "Ruleset"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ]
            },
            "get": {
              "response": {
                "$ref": "Ruleset"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. Resource name for the ruleset to get. Format: `projects/{project_id}/rulesets/{ruleset_id}`",
                  "pattern": "^projects/[^/]+/rulesets/[^/]+$"
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "description": "Get a `Ruleset` by name including the full `Source` contents.",
              "id": "firebaserules.projects.rulesets.get",
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/rulesets/{rulesetsId}"
            },
            "delete": {
              "id": "firebaserules.projects.rulesets.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/rulesets/{rulesetsId}",
              "httpMethod": "DELETE",
              "description": "Delete a `Ruleset` by resource name. If the `Ruleset` is referenced by a `Release` the operation will fail.",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/rulesets/[^/]+$",
                  "description": "Required. Resource name for the ruleset to delete. Format: `projects/{project_id}/rulesets/{ruleset_id}`",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              }
            }
          }
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest"
}