{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "canonicalName": "Firebase ML",
  "basePath": "",
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "baseUrl": "https://firebaseml.googleapis.com/",
  "mtlsRootUrl": "https://firebaseml.mtls.googleapis.com/",
  "version_module": true,
  "title": "Firebase ML API",
  "servicePath": "",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "publishers": {
              "resources": {
                "models": {
                  "methods": {
                    "streamGenerateContent": {
                      "parameterOrder": [
                        "model"
                      ],
                      "response": {
                        "$ref": "GoogleCloudAiplatformV1beta1GenerateContentResponse"
                      },
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudAiplatformV1beta1GenerateContentRequest"
                      },
                      "id": "firebaseml.projects.locations.publishers.models.streamGenerateContent",
                      "parameters": {
                        "model": {
                          "required": true,
                          "description": "Required. The fully qualified name of the publisher model or tuned model endpoint to use. Publisher model format: `projects/{project}/locations/{location}/publishers/*/models/*` Tuned model endpoint format: `projects/{project}/locations/{location}/endpoints/{endpoint}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/publishers/[^/]+/models/[^/]+$",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "description": "Generate content with multimodal inputs with streaming support.",
                      "path": "v2beta/{+model}:streamGenerateContent",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/publishers/{publishersId}/models/{modelsId}:streamGenerateContent"
                    },
                    "countTokens": {
                      "parameters": {
                        "endpoint": {
                          "description": "Required. The name of the Endpoint requested to perform token counting. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}`",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/publishers/[^/]+/models/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "description": "Perform a token counting.",
                      "httpMethod": "POST",
                      "id": "firebaseml.projects.locations.publishers.models.countTokens",
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/publishers/{publishersId}/models/{modelsId}:countTokens",
                      "parameterOrder": [
                        "endpoint"
                      ],
                      "path": "v2beta/{+endpoint}:countTokens",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "GoogleCloudAiplatformV1beta1CountTokensRequest"
                      },
                      "response": {
                        "$ref": "GoogleCloudAiplatformV1beta1CountTokensResponse"
                      }
                    },
                    "generateContent": {
                      "parameterOrder": [
                        "model"
                      ],
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/publishers/{publishersId}/models/{modelsId}:generateContent",
                      "httpMethod": "POST",
                      "parameters": {
                        "model": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "Required. The fully qualified name of the publisher model or tuned model endpoint to use. Publisher model format: `projects/{project}/locations/{location}/publishers/*/models/*` Tuned model endpoint format: `projects/{project}/locations/{location}/endpoints/{endpoint}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/publishers/[^/]+/models/[^/]+$"
                        }
                      },
                      "id": "firebaseml.projects.locations.publishers.models.generateContent",
                      "description": "Generate content with multimodal inputs.",
                      "request": {
                        "$ref": "GoogleCloudAiplatformV1beta1GenerateContentRequest"
                      },
                      "response": {
                        "$ref": "GoogleCloudAiplatformV1beta1GenerateContentResponse"
                      },
                      "path": "v2beta/{+model}:generateContent",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "GoogleCloudAiplatformV1beta1RetrievalMetadata": {
      "description": "Metadata related to the retrieval grounding source. This is part of the `GroundingMetadata` returned when grounding is enabled.",
      "properties": {
        "googleSearchDynamicRetrievalScore": {
          "format": "float",
          "type": "number",
          "description": "Optional. A score indicating how likely it is that a Google Search query could help answer the prompt. The score is in the range of `[0, 1]`. A score of 1 means the model is confident that a search will be helpful, and 0 means it is not. This score is populated only when Google Search grounding and dynamic retrieval are enabled. The score is used to determine whether to trigger a search."
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1RetrievalMetadata"
    },
    "GoogleCloudAiplatformV1beta1GenerationConfig": {
      "description": "Configuration for content generation. This message contains all the parameters that control how the model generates content. It allows you to influence the randomness, length, and structure of the output.",
      "properties": {
        "enableAffectiveDialog": {
          "description": "Optional. If enabled, the model will detect emotions and adapt its responses accordingly. For example, if the model detects that the user is frustrated, it may provide a more empathetic response.",
          "type": "boolean"
        },
        "modelConfig": {
          "description": "Optional. Config for model selection.",
          "$ref": "GoogleCloudAiplatformV1beta1GenerationConfigModelConfig",
          "deprecated": true
        },
        "responseLogprobs": {
          "description": "Optional. If set to true, the log probabilities of the output tokens are returned. Log probabilities are the logarithm of the probability of a token appearing in the output. A higher log probability means the token is more likely to be generated. This can be useful for analyzing the model's confidence in its own output and for debugging.",
          "type": "boolean"
        },
        "candidateCount": {
          "description": "Optional. The number of candidate responses to generate. A higher `candidate_count` can provide more options to choose from, but it also consumes more resources. This can be useful for generating a variety of responses and selecting the best one.",
          "type": "integer",
          "format": "int32"
        },
        "frequencyPenalty": {
          "type": "number",
          "description": "Optional. Penalizes tokens based on their frequency in the generated text. A positive value helps to reduce the repetition of words and phrases. Valid values can range from [-2.0, 2.0].",
          "format": "float"
        },
        "translationConfig": {
          "description": "Optional. Config for translation.",
          "$ref": "GoogleCloudAiplatformV1beta1TranslationConfig"
        },
        "audioTranscriptionConfig": {
          "$ref": "GoogleCloudAiplatformV1beta1AudioTranscriptionConfig",
          "description": "Optional. Configuration for audio transcription (speech recognition)."
        },
        "logprobs": {
          "format": "int32",
          "description": "Optional. The number of top log probabilities to return for each token. This can be used to see which other tokens were considered likely candidates for a given position. A higher value will return more options, but it will also increase the size of the response.",
          "type": "integer"
        },
        "presencePenalty": {
          "description": "Optional. Penalizes tokens that have already appeared in the generated text. A positive value encourages the model to generate more diverse and less repetitive text. Valid values can range from [-2.0, 2.0].",
          "type": "number",
          "format": "float"
        },
        "mediaResolution": {
          "enumDescriptions": [
            "Media resolution has not been set.",
            "Media resolution set to low (64 tokens).",
            "Media resolution set to medium (256 tokens).",
            "Media resolution set to high (zoomed reframing with 256 tokens)."
          ],
          "type": "string",
          "enum": [
            "MEDIA_RESOLUTION_UNSPECIFIED",
            "MEDIA_RESOLUTION_LOW",
            "MEDIA_RESOLUTION_MEDIUM",
            "MEDIA_RESOLUTION_HIGH"
          ],
          "description": "Optional. The token resolution at which input media content is sampled. This is used to control the trade-off between the quality of the response and the number of tokens used to represent the media. A higher resolution allows the model to perceive more detail, which can lead to a more nuanced response, but it will also use more tokens. This does not affect the image dimensions sent to the model."
        },
        "temperature": {
          "format": "float",
          "type": "number",
          "description": "Optional. Controls the randomness of the output. A higher temperature results in more creative and diverse responses, while a lower temperature makes the output more predictable and focused. The valid range is (0.0, 2.0]."
        },
        "audioTimestamp": {
          "description": "Optional. If enabled, audio timestamps will be included in the request to the model. This can be useful for synchronizing audio with other modalities in the response.",
          "type": "boolean"
        },
        "routingConfig": {
          "description": "Optional. Routing configuration.",
          "$ref": "GoogleCloudAiplatformV1beta1GenerationConfigRoutingConfig"
        },
        "stopSequences": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. A list of character sequences that will stop the model from generating further tokens. If a stop sequence is generated, the output will end at that point. This is useful for controlling the length and structure of the output. For example, you can use [\"\\n\", \"###\"] to stop generation at a new line or a specific marker."
        },
        "responseSchema": {
          "deprecated": true,
          "$ref": "GoogleCloudAiplatformV1beta1Schema",
          "description": "Optional. Lets you to specify a schema for the model's response, ensuring that the output conforms to a particular structure. This is useful for generating structured data such as JSON. The schema is a subset of the [OpenAPI 3.0 schema object](https://spec.openapis.org/oas/v3.0.3#schema) object. When this field is set, you must also set the `response_mime_type` to `application/json`. Deprecated: Use `response_format` instead."
        },
        "responseModalities": {
          "description": "Optional. The modalities of the response. The model will generate a response that includes all the specified modalities. For example, if this is set to `[TEXT, IMAGE]`, the response will include both text and an image.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Unspecified modality. Will be processed as text.",
              "Text modality.",
              "Image modality.",
              "Audio modality.",
              "Video modality."
            ],
            "type": "string",
            "enum": [
              "MODALITY_UNSPECIFIED",
              "TEXT",
              "IMAGE",
              "AUDIO",
              "VIDEO"
            ]
          }
        },
        "topP": {
          "type": "number",
          "description": "Optional. Specifies the nucleus sampling threshold. The model considers only the smallest set of tokens whose cumulative probability is at least `top_p`. This helps generate more diverse and less repetitive responses. For example, a `top_p` of 0.9 means the model considers tokens until the cumulative probability of the tokens to select from reaches 0.9. It's recommended to adjust either temperature or `top_p`, but not both.",
          "format": "float"
        },
        "topK": {
          "type": "number",
          "description": "Optional. Specifies the top-k sampling threshold. The model considers only the top k most probable tokens for the next token. This can be useful for generating more coherent and less random text. For example, a `top_k` of 40 means the model will choose the next word from the 40 most likely words.",
          "format": "float"
        },
        "imageConfig": {
          "deprecated": true,
          "description": "Optional. Config for image generation features. Deprecated: Use `response_format.image` instead.",
          "$ref": "GoogleCloudAiplatformV1beta1ImageConfig"
        },
        "speechConfig": {
          "description": "Optional. The speech generation config.",
          "$ref": "GoogleCloudAiplatformV1beta1SpeechConfig"
        },
        "thinkingConfig": {
          "$ref": "GoogleCloudAiplatformV1beta1GenerationConfigThinkingConfig",
          "description": "Optional. Configuration for thinking features. An error will be returned if this field is set for models that don't support thinking."
        },
        "responseMimeType": {
          "deprecated": true,
          "type": "string",
          "description": "Optional. The IANA standard MIME type of the response. The model will generate output that conforms to this MIME type. Supported values include 'text/plain' (default) and 'application/json'. The model needs to be prompted to output the appropriate response type, otherwise the behavior is undefined. Deprecated: Use `response_format` instead."
        },
        "responseJsonSchema": {
          "type": "any",
          "description": "Optional. When this field is set, response_schema must be omitted and response_mime_type must be set to `application/json`. Deprecated: Use `response_format` instead.",
          "deprecated": true
        },
        "maxOutputTokens": {
          "description": "Optional. The maximum number of tokens to generate in the response. A token is approximately four characters. The default value varies by model. This parameter can be used to control the length of the generated text and prevent overly long responses.",
          "format": "int32",
          "type": "integer"
        },
        "responseFormat": {
          "description": "Optional. New response format field for the model to configure output formatting and delivery.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1ResponseFormat"
          },
          "type": "array"
        },
        "seed": {
          "format": "int32",
          "description": "Optional. A seed for the random number generator. By setting a seed, you can make the model's output mostly deterministic. For a given prompt and parameters (like temperature, top_p, etc.), the model will produce the same response every time. However, it's not a guaranteed absolute deterministic behavior. This is different from parameters like `temperature`, which control the *level* of randomness. `seed` ensures that the \"random\" choices the model makes are the same on every run, making it essential for testing and ensuring reproducible results.",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1GenerationConfig"
    },
    "GoogleCloudAiplatformV1beta1ExecutableCode": {
      "description": "Code generated by the model that is meant to be executed, and the result returned to the model. Generated when using the `CodeExecution` tool, in which the code will be automatically executed, and a corresponding CodeExecutionResult will also be generated.",
      "properties": {
        "code": {
          "description": "Required. The code to be executed.",
          "type": "string"
        },
        "id": {
          "description": "Optional. Unique identifier of the `ExecutableCode` part. The server returns the `CodeExecutionResult` with the matching `id`.",
          "type": "string"
        },
        "language": {
          "enumDescriptions": [
            "Unspecified language. This value should not be used.",
            "Python >= 3.10, with numpy and simpy available."
          ],
          "type": "string",
          "enum": [
            "LANGUAGE_UNSPECIFIED",
            "PYTHON"
          ],
          "description": "Required. Programming language of the `code`."
        }
      },
      "id": "GoogleCloudAiplatformV1beta1ExecutableCode",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1RagRetrievalConfigFilter": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1RagRetrievalConfigFilter",
      "description": "Config for filters.",
      "properties": {
        "vectorSimilarityThreshold": {
          "description": "Optional. Only returns contexts with vector similarity larger than the threshold.",
          "type": "number",
          "format": "double"
        },
        "vectorDistanceThreshold": {
          "format": "double",
          "description": "Optional. Only returns contexts with vector distance smaller than the threshold.",
          "type": "number"
        },
        "metadataFilter": {
          "description": "Optional. String for metadata filtering.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1VertexRagStore": {
      "description": "Retrieve from Vertex RAG Store for grounding.",
      "id": "GoogleCloudAiplatformV1beta1VertexRagStore",
      "properties": {
        "ragResources": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1VertexRagStoreRagResource"
          },
          "type": "array",
          "description": "Optional. The representation of the rag source. It can be used to specify corpus only or ragfiles. Currently only support one corpus or multiple files from one corpus. In the future we may open up multiple corpora support."
        },
        "vectorDistanceThreshold": {
          "format": "double",
          "deprecated": true,
          "description": "Optional. Only return results with vector distance smaller than the threshold.",
          "type": "number"
        },
        "ragCorpora": {
          "description": "Optional. Deprecated. Please use rag_resources instead.",
          "deprecated": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "storeContext": {
          "description": "Optional. Currently only supported for Gemini Multimodal Live API. In Gemini Multimodal Live API, if `store_context` bool is specified, Gemini will leverage it to automatically memorize the interactions between the client and Gemini, and retrieve context when needed to augment the response generation for users' ongoing and future interactions.",
          "type": "boolean"
        },
        "ragRetrievalConfig": {
          "description": "Optional. The retrieval config for the Rag query.",
          "$ref": "GoogleCloudAiplatformV1beta1RagRetrievalConfig"
        },
        "similarityTopK": {
          "description": "Optional. Number of top k results to return from the selected corpora.",
          "format": "int32",
          "type": "integer",
          "deprecated": true
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1GoogleMapsGroundingTypes": {
      "properties": {
        "places": {
          "$ref": "GoogleCloudAiplatformV1beta1GoogleMapsPlaces",
          "description": "Optional. Enables grounding with Google Maps Places. This is the default grounding type when no `GroundingTypes` are specified."
        },
        "routing": {
          "$ref": "GoogleCloudAiplatformV1beta1GoogleMapsRouting",
          "description": "Optional. Enables grounding with Google Maps Routing APIs (ComputeRoutes and SearchAlongRoute)."
        }
      },
      "description": "Defines the types of Google Maps grounding that can be enabled and their configurations.",
      "id": "GoogleCloudAiplatformV1beta1GoogleMapsGroundingTypes",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1VertexRagStoreRagResource": {
      "id": "GoogleCloudAiplatformV1beta1VertexRagStoreRagResource",
      "type": "object",
      "properties": {
        "ragCorpus": {
          "type": "string",
          "description": "Optional. RagCorpora resource name. Format: `projects/{project}/locations/{location}/ragCorpora/{rag_corpus}`"
        },
        "ragFileIds": {
          "description": "Optional. rag_file_id. The files should be in the same rag_corpus set in rag_corpus field.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "The definition of the Rag resource."
    },
    "GoogleCloudAiplatformV1beta1GoogleMaps": {
      "properties": {
        "groundingTypes": {
          "$ref": "GoogleCloudAiplatformV1beta1GoogleMapsGroundingTypes",
          "description": "Optional. Specifies the types of Google Maps grounding to enable. Defaults to `places` when unset."
        },
        "enableWidget": {
          "deprecated": true,
          "type": "boolean",
          "description": "Optional. Deprecated: The Google Maps contextual widget behavior in Grounding with Google Maps is being deprecated; this field is planned for removal and no longer has any effect once removed. If true, include the widget context token in the response."
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1GoogleMaps",
      "description": "Tool to retrieve public maps data for grounding, powered by Google."
    },
    "GoogleCloudAiplatformV1beta1TextResponseFormat": {
      "description": "Configuration for text-specific output formatting.",
      "properties": {
        "schema": {
          "type": "any",
          "description": "Optional. The JSON schema that the output should conform to. Only applicable when mime_type is APPLICATION_JSON."
        },
        "mimeType": {
          "enum": [
            "MIME_TYPE_UNSPECIFIED",
            "APPLICATION_JSON",
            "TEXT_PLAIN"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "JSON output format.",
            "Plain text output format."
          ],
          "description": "Optional. The IANA standard MIME type of the response."
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1TextResponseFormat"
    },
    "GoogleCloudAiplatformV1beta1AudioTranscriptionConfigLanguageHints": {
      "type": "object",
      "deprecated": true,
      "description": "Deprecated: Use top-level `language_codes` instead. Provides hints to the model about possible languages present in the audio.",
      "properties": {
        "languageCodes": {
          "description": "Required. Deprecated: Use top-level `language_codes` instead. BCP-47 language codes. At least one must be specified.",
          "items": {
            "type": "string"
          },
          "deprecated": true,
          "type": "array"
        }
      },
      "id": "GoogleCloudAiplatformV1beta1AudioTranscriptionConfigLanguageHints"
    },
    "GoogleCloudAiplatformV1beta1GroundingChunkMaps": {
      "id": "GoogleCloudAiplatformV1beta1GroundingChunkMaps",
      "description": "A `Maps` chunk is a piece of evidence that comes from Google Maps, containing information about places or routes. This is used to provide the user with rich, location-based information.",
      "properties": {
        "placeId": {
          "type": "string",
          "description": "This Place's resource name, in `places/{place_id}` format. This can be used to look up the place in the Google Maps API."
        },
        "text": {
          "type": "string",
          "description": "The text of the place answer."
        },
        "route": {
          "$ref": "GoogleCloudAiplatformV1beta1GroundingChunkMapsRoute",
          "description": "Output only. Route information.",
          "readOnly": true
        },
        "placeAnswerSources": {
          "description": "The sources that were used to generate the place answer. This includes review snippets and photos that were used to generate the answer, as well as URIs to flag content.",
          "$ref": "GoogleCloudAiplatformV1beta1GroundingChunkMapsPlaceAnswerSources"
        },
        "uri": {
          "description": "The URI of the place.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The title of the place."
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1ToolCodeExecution": {
      "id": "GoogleCloudAiplatformV1beta1ToolCodeExecution",
      "properties": {},
      "type": "object",
      "description": "Tool that executes code generated by the model, and automatically returns the result to the model. See also ExecutableCode and CodeExecutionResult, which are input and output to this tool."
    },
    "GoogleCloudAiplatformV1beta1ImageResponseFormat": {
      "properties": {
        "delivery": {
          "enum": [
            "DELIVERY_UNSPECIFIED",
            "INLINE",
            "URI"
          ],
          "type": "string",
          "description": "Optional. Delivery mode for the generated content.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Generated bytes are returned inline in the response.",
            "Generated content is stored and a URI is returned."
          ]
        },
        "mimeType": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "JPEG image format."
          ],
          "description": "Optional. The MIME type of the image output.",
          "enum": [
            "MIME_TYPE_UNSPECIFIED",
            "IMAGE_JPEG"
          ],
          "type": "string"
        },
        "imageSize": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "512px image size.",
            "1K image size.",
            "2K image size.",
            "4K image size."
          ],
          "type": "string",
          "description": "Optional. The size of the image output.",
          "enum": [
            "IMAGE_SIZE_UNSPECIFIED",
            "IMAGE_SIZE_FIVE_TWELVE",
            "IMAGE_SIZE_ONE_K",
            "IMAGE_SIZE_TWO_K",
            "IMAGE_SIZE_FOUR_K"
          ]
        },
        "aspectRatio": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "1:1 aspect ratio.",
            "2:3 aspect ratio.",
            "3:2 aspect ratio.",
            "3:4 aspect ratio.",
            "4:3 aspect ratio.",
            "4:5 aspect ratio.",
            "5:4 aspect ratio.",
            "9:16 aspect ratio.",
            "16:9 aspect ratio.",
            "21:9 aspect ratio.",
            "1:8 aspect ratio.",
            "8:1 aspect ratio.",
            "1:4 aspect ratio.",
            "4:1 aspect ratio."
          ],
          "description": "Optional. The aspect ratio for the image output.",
          "type": "string",
          "enum": [
            "ASPECT_RATIO_UNSPECIFIED",
            "ASPECT_RATIO_ONE_BY_ONE",
            "ASPECT_RATIO_TWO_BY_THREE",
            "ASPECT_RATIO_THREE_BY_TWO",
            "ASPECT_RATIO_THREE_BY_FOUR",
            "ASPECT_RATIO_FOUR_BY_THREE",
            "ASPECT_RATIO_FOUR_BY_FIVE",
            "ASPECT_RATIO_FIVE_BY_FOUR",
            "ASPECT_RATIO_NINE_BY_SIXTEEN",
            "ASPECT_RATIO_SIXTEEN_BY_NINE",
            "ASPECT_RATIO_TWENTY_ONE_BY_NINE",
            "ASPECT_RATIO_ONE_BY_EIGHT",
            "ASPECT_RATIO_EIGHT_BY_ONE",
            "ASPECT_RATIO_ONE_BY_FOUR",
            "ASPECT_RATIO_FOUR_BY_ONE"
          ]
        }
      },
      "id": "GoogleCloudAiplatformV1beta1ImageResponseFormat",
      "type": "object",
      "description": "Configuration for image-specific output formatting."
    },
    "GoogleCloudAiplatformV1beta1ModelArmorConfig": {
      "id": "GoogleCloudAiplatformV1beta1ModelArmorConfig",
      "description": "Configuration for Model Armor. Model Armor is a Google Cloud service that provides safety and security filtering for prompts and responses. It helps protect your AI applications from risks such as harmful content, sensitive data leakage, and prompt injection attacks.",
      "type": "object",
      "properties": {
        "responseTemplateName": {
          "description": "Optional. The resource name of the Model Armor template to use for response screening. A Model Armor template is a set of customized filters and thresholds that define how Model Armor screens content. If specified, Model Armor will use this template to check the model's response for safety and security risks before it is returned to the user. The name must be in the format `projects/{project}/locations/{location}/templates/{template}`.",
          "type": "string"
        },
        "promptTemplateName": {
          "description": "Optional. The resource name of the Model Armor template to use for prompt screening. A Model Armor template is a set of customized filters and thresholds that define how Model Armor screens content. If specified, Model Armor will use this template to check the user's prompt for safety and security risks before it is sent to the model. The name must be in the format `projects/{project}/locations/{location}/templates/{template}`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1GenerateContentResponse": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1GenerateContentResponse",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Output only. Timestamp when the request is made to the server.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "promptFeedback": {
          "description": "Output only. Content filter results for a prompt sent in the request. Note: Sent only in the first stream chunk. Only happens when no candidates were generated due to content violations.",
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1beta1GenerateContentResponsePromptFeedback"
        },
        "modelVersion": {
          "readOnly": true,
          "description": "Output only. The model version used to generate the response.",
          "type": "string"
        },
        "candidates": {
          "readOnly": true,
          "description": "Output only. Generated candidates.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1Candidate"
          },
          "type": "array"
        },
        "usageMetadata": {
          "$ref": "GoogleCloudAiplatformV1beta1GenerateContentResponseUsageMetadata",
          "description": "Usage metadata about the response(s)."
        },
        "responseId": {
          "readOnly": true,
          "description": "Output only. response_id is used to identify each response. It is the encoding of the event_id.",
          "type": "string"
        }
      },
      "description": "Response message for [PredictionService.GenerateContent]."
    },
    "GoogleCloudAiplatformV1beta1ExternalApi": {
      "description": "Retrieve from data source powered by external API for grounding. The external API is not owned by Google, but need to follow the pre-defined API spec.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1ExternalApi",
      "properties": {
        "authConfig": {
          "description": "The authentication config to access the API.",
          "$ref": "GoogleCloudAiplatformV1beta1AuthConfig"
        },
        "apiAuth": {
          "deprecated": true,
          "description": "The authentication config to access the API. Deprecated. Please use auth_config instead.",
          "$ref": "GoogleCloudAiplatformV1beta1ApiAuth"
        },
        "apiSpec": {
          "enumDescriptions": [
            "Unspecified API spec. This value should not be used.",
            "Simple search API spec.",
            "Elastic search API spec."
          ],
          "type": "string",
          "description": "The API spec that the external API implements.",
          "enum": [
            "API_SPEC_UNSPECIFIED",
            "SIMPLE_SEARCH",
            "ELASTIC_SEARCH"
          ]
        },
        "endpoint": {
          "description": "The endpoint of the external API. The system will call the API at this endpoint to retrieve the data for grounding. Example: https://acme.com:443/search",
          "type": "string"
        },
        "simpleSearchParams": {
          "$ref": "GoogleCloudAiplatformV1beta1ExternalApiSimpleSearchParams",
          "description": "Parameters for the simple search API."
        },
        "elasticSearchParams": {
          "$ref": "GoogleCloudAiplatformV1beta1ExternalApiElasticSearchParams",
          "description": "Parameters for the elastic search API."
        }
      }
    },
    "GoogleCloudAiplatformV1beta1SafetySetting": {
      "description": "A safety setting that affects the safety-blocking behavior. A SafetySetting consists of a harm category and a threshold for that category.",
      "properties": {
        "method": {
          "enumDescriptions": [
            "The harm block method is unspecified.",
            "The harm block method uses both probability and severity scores.",
            "The harm block method uses the probability score."
          ],
          "description": "Optional. The method for blocking content. If not specified, the default behavior is to use the probability score.",
          "enum": [
            "HARM_BLOCK_METHOD_UNSPECIFIED",
            "SEVERITY",
            "PROBABILITY"
          ],
          "type": "string"
        },
        "threshold": {
          "enum": [
            "HARM_BLOCK_THRESHOLD_UNSPECIFIED",
            "BLOCK_LOW_AND_ABOVE",
            "BLOCK_MEDIUM_AND_ABOVE",
            "BLOCK_ONLY_HIGH",
            "BLOCK_NONE",
            "OFF"
          ],
          "type": "string",
          "enumDescriptions": [
            "The harm block threshold is unspecified.",
            "Block content with a low harm probability or higher.",
            "Block content with a medium harm probability or higher.",
            "Block content with a high harm probability.",
            "Do not block any content, regardless of its harm probability.",
            "Turn off the safety filter entirely."
          ],
          "description": "Required. The threshold for blocking content. If the harm probability exceeds this threshold, the content will be blocked."
        },
        "category": {
          "type": "string",
          "enum": [
            "HARM_CATEGORY_UNSPECIFIED",
            "HARM_CATEGORY_HATE_SPEECH",
            "HARM_CATEGORY_DANGEROUS_CONTENT",
            "HARM_CATEGORY_HARASSMENT",
            "HARM_CATEGORY_SEXUALLY_EXPLICIT",
            "HARM_CATEGORY_CIVIC_INTEGRITY",
            "HARM_CATEGORY_IMAGE_HATE",
            "HARM_CATEGORY_IMAGE_DANGEROUS_CONTENT",
            "HARM_CATEGORY_IMAGE_HARASSMENT",
            "HARM_CATEGORY_IMAGE_SEXUALLY_EXPLICIT",
            "HARM_CATEGORY_JAILBREAK"
          ],
          "description": "Required. The harm category to be blocked.",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Content that promotes violence or incites hatred against individuals or groups based on certain attributes.",
            "Content that promotes, facilitates, or enables dangerous activities.",
            "Abusive, threatening, or content intended to bully, torment, or ridicule.",
            "Content that contains sexually explicit material.",
            "Deprecated: Election filter is not longer supported. The harm category is civic integrity.",
            "Images that contain hate speech.",
            "Images that contain dangerous content.",
            "Images that contain harassment.",
            "Images that contain sexually explicit content.",
            "Prompts designed to bypass safety filters."
          ]
        }
      },
      "id": "GoogleCloudAiplatformV1beta1SafetySetting",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1MultiSpeakerVoiceConfig": {
      "properties": {
        "speakerVoiceConfigs": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1SpeakerVoiceConfig"
          },
          "description": "Required. A list of configurations for the voices of the speakers. Exactly two speaker voice configurations must be provided.",
          "type": "array"
        }
      },
      "id": "GoogleCloudAiplatformV1beta1MultiSpeakerVoiceConfig",
      "type": "object",
      "description": "Configuration for a multi-speaker text-to-speech request."
    },
    "GoogleCloudAiplatformV1beta1RagRetrievalConfigRankingRankService": {
      "type": "object",
      "properties": {
        "modelName": {
          "description": "Optional. The model name of the rank service. Format: `semantic-ranker-512@latest`",
          "type": "string"
        }
      },
      "description": "Config for Rank Service.",
      "id": "GoogleCloudAiplatformV1beta1RagRetrievalConfigRankingRankService"
    },
    "GoogleCloudAiplatformV1beta1ModalityTokenCount": {
      "type": "object",
      "properties": {
        "modality": {
          "type": "string",
          "enumDescriptions": [
            "When a modality is not specified, it is treated as `TEXT`.",
            "The `Part` contains plain text.",
            "The `Part` contains an image.",
            "The `Part` contains a video.",
            "The `Part` contains audio.",
            "The `Part` contains a document, such as a PDF."
          ],
          "description": "The modality that this token count applies to.",
          "enum": [
            "MODALITY_UNSPECIFIED",
            "TEXT",
            "IMAGE",
            "VIDEO",
            "AUDIO",
            "DOCUMENT"
          ]
        },
        "tokenCount": {
          "description": "The number of tokens counted for this modality.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleCloudAiplatformV1beta1ModalityTokenCount",
      "description": "Represents a breakdown of token usage by modality. This message is used in CountTokensResponse and GenerateContentResponse.UsageMetadata to provide a detailed view of how many tokens are used by each modality (e.g., text, image, video) in a request. This is particularly useful for multimodal models, allowing you to track and manage token consumption for billing and quota purposes."
    },
    "GoogleCloudAiplatformV1beta1AudioTranscriptionConfig": {
      "properties": {
        "languageAuto": {
          "deprecated": true,
          "description": "Optional. Deprecated: Use top-level `language_codes` instead. The model will detect the language automatically.",
          "$ref": "GoogleCloudAiplatformV1beta1AudioTranscriptionConfigLanguageAuto"
        },
        "adaptationPhrases": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Deprecated: Use `custom_vocabulary` instead. A list of phrases to bias the speech recognition model towards.",
          "type": "array",
          "deprecated": true
        },
        "languageHints": {
          "deprecated": true,
          "description": "Optional. Deprecated: Use top-level `language_codes` instead. Specifies one or more languages in the audio.",
          "$ref": "GoogleCloudAiplatformV1beta1AudioTranscriptionConfigLanguageHints"
        },
        "diarization": {
          "description": "Optional. Configures speaker diarization.",
          "type": "boolean"
        },
        "languageCodes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. BCP-47 language codes providing hints about the languages present in the audio. If omitted or empty, defaults to automatic language detection."
        },
        "wordTimestamp": {
          "description": "Optional. Configures word-level timestamp generation.",
          "type": "boolean"
        },
        "customVocabulary": {
          "description": "Optional. A list of custom vocabulary phrases to bias the speech recognition model toward recognizing specific terms.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudAiplatformV1beta1AudioTranscriptionConfig",
      "type": "object",
      "description": "Configuration for speech recognition (transcription)."
    },
    "GoogleCloudAiplatformV1beta1GoogleMapsPlaces": {
      "type": "object",
      "description": "Grounding with Google Maps Places data (e.g. QueryPlaces). This is the default Google Maps grounding type when no other type is specified.",
      "properties": {},
      "id": "GoogleCloudAiplatformV1beta1GoogleMapsPlaces"
    },
    "GoogleCloudAiplatformV1beta1ToolGoogleSearchImageSearch": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1ToolGoogleSearchImageSearch",
      "description": "Image search for grounding and related configurations."
    },
    "GoogleCloudAiplatformV1beta1VertexAISearch": {
      "properties": {
        "filter": {
          "type": "string",
          "description": "Optional. Filter strings to be passed to the search API."
        },
        "datastore": {
          "type": "string",
          "description": "Optional. Fully-qualified Vertex AI Search data store resource ID. Format: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{dataStore}`"
        },
        "dataStoreSpecs": {
          "description": "Specifications that define the specific DataStores to be searched, along with configurations for those data stores. This is only considered for Engines with multiple data stores. It should only be set if engine is used.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1VertexAISearchDataStoreSpec"
          },
          "type": "array"
        },
        "engine": {
          "type": "string",
          "description": "Optional. Fully-qualified Vertex AI Search engine resource ID. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}`"
        },
        "maxResults": {
          "format": "int32",
          "description": "Optional. Number of search results to return per query. The default value is 10. The maximumm allowed value is 10.",
          "type": "integer"
        }
      },
      "id": "GoogleCloudAiplatformV1beta1VertexAISearch",
      "description": "Retrieve from Vertex AI Search datastore or engine for grounding. datastore and engine are mutually exclusive. See https://cloud.google.com/products/agent-builder",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1UrlContextMetadata": {
      "type": "object",
      "properties": {
        "urlMetadata": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1UrlMetadata"
          },
          "type": "array",
          "description": "Output only. A list of URL metadata, with one entry for each URL retrieved by the tool.",
          "readOnly": true
        }
      },
      "id": "GoogleCloudAiplatformV1beta1UrlContextMetadata",
      "description": "Metadata returned when the model uses the `url_context` tool to get information from a user-provided URL."
    },
    "GoogleCloudAiplatformV1beta1ApiAuthApiKeyConfig": {
      "description": "The API secret.",
      "properties": {
        "apiKeySecretVersion": {
          "description": "Required. The SecretManager secret version resource name storing API key. e.g. projects/{project}/secrets/{secret}/versions/{version}",
          "type": "string"
        },
        "apiKeyString": {
          "type": "string",
          "description": "The API key string. Either this or `api_key_secret_version` must be set."
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1ApiAuthApiKeyConfig"
    },
    "GoogleCloudAiplatformV1beta1GroundingChunkWeb": {
      "description": "A `Web` chunk is a piece of evidence that comes from a web page. It contains the URI of the web page, the title of the page, and the domain of the page. This is used to provide the user with a link to the source of the information.",
      "id": "GoogleCloudAiplatformV1beta1GroundingChunkWeb",
      "properties": {
        "title": {
          "description": "The title of the web page that contains the evidence.",
          "type": "string"
        },
        "uri": {
          "description": "The URI of the web page that contains the evidence.",
          "type": "string"
        },
        "domain": {
          "description": "The domain of the web page that contains the evidence. This can be used to filter out low-quality sources.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1UrlMetadata": {
      "description": "The metadata for a single URL retrieval.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1UrlMetadata",
      "properties": {
        "retrievedUrl": {
          "type": "string",
          "description": "The URL retrieved by the tool."
        },
        "urlRetrievalStatus": {
          "enum": [
            "URL_RETRIEVAL_STATUS_UNSPECIFIED",
            "URL_RETRIEVAL_STATUS_SUCCESS",
            "URL_RETRIEVAL_STATUS_ERROR"
          ],
          "type": "string",
          "description": "The status of the URL retrieval.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The URL was retrieved successfully.",
            "The URL retrieval failed."
          ]
        }
      }
    },
    "GoogleCloudAiplatformV1beta1RagRetrievalConfig": {
      "type": "object",
      "description": "Specifies the context retrieval config.",
      "id": "GoogleCloudAiplatformV1beta1RagRetrievalConfig",
      "properties": {
        "ranking": {
          "$ref": "GoogleCloudAiplatformV1beta1RagRetrievalConfigRanking",
          "description": "Optional. Config for ranking and reranking."
        },
        "topK": {
          "description": "Optional. The number of contexts to retrieve.",
          "format": "int32",
          "type": "integer"
        },
        "filter": {
          "$ref": "GoogleCloudAiplatformV1beta1RagRetrievalConfigFilter",
          "description": "Optional. Config for filters."
        },
        "hybridSearch": {
          "$ref": "GoogleCloudAiplatformV1beta1RagRetrievalConfigHybridSearch",
          "description": "Optional. Config for Hybrid Search."
        }
      }
    },
    "GoogleCloudAiplatformV1beta1AudioTranscriptionConfigLanguageAuto": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudAiplatformV1beta1AudioTranscriptionConfigLanguageAuto",
      "description": "Deprecated: Use top-level `language_codes` instead. Indicates the language of the audio should be automatically detected.",
      "deprecated": true
    },
    "GoogleCloudAiplatformV1beta1LogprobsResultCandidate": {
      "description": "A single token and its associated log probability.",
      "properties": {
        "tokenId": {
          "description": "The token's numerical ID. While the `token` field provides the string representation of the token, the `token_id` is the numerical representation that the model uses internally. This can be useful for developers who want to build custom logic based on the model's vocabulary.",
          "type": "integer",
          "format": "int32"
        },
        "token": {
          "description": "The token's string representation.",
          "type": "string"
        },
        "logProbability": {
          "type": "number",
          "description": "The log probability of this token. A higher value indicates that the model was more confident in this token. The log probability can be used to assess the relative likelihood of different tokens and to identify when the model is uncertain.",
          "format": "float"
        }
      },
      "id": "GoogleCloudAiplatformV1beta1LogprobsResultCandidate",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1ApiAuth": {
      "id": "GoogleCloudAiplatformV1beta1ApiAuth",
      "type": "object",
      "properties": {
        "apiKeyConfig": {
          "$ref": "GoogleCloudAiplatformV1beta1ApiAuthApiKeyConfig",
          "description": "The API secret."
        }
      },
      "description": "The generic reusable api auth config. Deprecated. Please use AuthConfig (google/cloud/aiplatform/master/auth.proto) instead."
    },
    "GoogleCloudAiplatformV1beta1VertexAISearchDataStoreSpec": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1VertexAISearchDataStoreSpec",
      "properties": {
        "filter": {
          "type": "string",
          "description": "Optional. Filter specification to filter documents in the data store specified by data_store field. For more information on filtering, see [Filtering](https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata)"
        },
        "dataStore": {
          "type": "string",
          "description": "Full resource name of DataStore, such as Format: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{dataStore}`"
        }
      },
      "description": "Define data stores within engine to filter on in a search call and configurations for those data stores. For more information, see https://cloud.google.com/generative-ai-app-builder/docs/reference/rpc/google.cloud.discoveryengine.v1#datastorespec"
    },
    "GoogleCloudAiplatformV1beta1ResponseFormat": {
      "description": "Configuration for the model to configure output formatting and delivery.",
      "properties": {
        "audio": {
          "$ref": "GoogleCloudAiplatformV1beta1AudioResponseFormat",
          "description": "Audio output format."
        },
        "video": {
          "$ref": "GoogleCloudAiplatformV1beta1VideoResponseFormat",
          "description": "Video output format."
        },
        "image": {
          "description": "Image output format.",
          "$ref": "GoogleCloudAiplatformV1beta1ImageResponseFormat"
        },
        "text": {
          "$ref": "GoogleCloudAiplatformV1beta1TextResponseFormat",
          "description": "Text output format."
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1ResponseFormat"
    },
    "GoogleCloudAiplatformV1beta1ToolGoogleSearch": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1ToolGoogleSearch",
      "properties": {
        "searchTypes": {
          "description": "Optional. The set of search types to enable. If not set, web search is enabled by default.",
          "$ref": "GoogleCloudAiplatformV1beta1ToolGoogleSearchSearchTypes"
        },
        "blockingConfidence": {
          "enumDescriptions": [
            "Defaults to unspecified.",
            "Blocks Low and above confidence URL that is risky.",
            "Blocks Medium and above confidence URL that is risky.",
            "Blocks High and above confidence URL that is risky.",
            "Blocks Higher and above confidence URL that is risky.",
            "Blocks Very high and above confidence URL that is risky.",
            "Blocks Extremely high confidence URL that is risky."
          ],
          "description": "Optional. Sites with confidence level chosen & above this value will be blocked from the search results.",
          "enum": [
            "PHISH_BLOCK_THRESHOLD_UNSPECIFIED",
            "BLOCK_LOW_AND_ABOVE",
            "BLOCK_MEDIUM_AND_ABOVE",
            "BLOCK_HIGH_AND_ABOVE",
            "BLOCK_HIGHER_AND_ABOVE",
            "BLOCK_VERY_HIGH_AND_ABOVE",
            "BLOCK_ONLY_EXTREMELY_HIGH"
          ],
          "type": "string"
        },
        "excludeDomains": {
          "items": {
            "type": "string"
          },
          "description": "Optional. List of domains to be excluded from the search results. The default limit is 2000 domains. Example: [\"amazon.com\", \"facebook.com\"].",
          "type": "array"
        }
      },
      "description": "GoogleSearch tool type. Tool to support Google Search in Model. Powered by Google."
    },
    "GoogleCloudAiplatformV1beta1ImageConfig": {
      "id": "GoogleCloudAiplatformV1beta1ImageConfig",
      "properties": {
        "prominentPeople": {
          "enumDescriptions": [
            "Unspecified value. The model will proceed with the default behavior, which is to allow generation of prominent people.",
            "Allows the model to generate images of prominent people.",
            "Prevents the model from generating images of prominent people."
          ],
          "enum": [
            "PROMINENT_PEOPLE_UNSPECIFIED",
            "ALLOW_PROMINENT_PEOPLE",
            "BLOCK_PROMINENT_PEOPLE"
          ],
          "description": "Optional. Controls whether prominent people (celebrities) generation is allowed. If used with personGeneration, personGeneration enum would take precedence. For instance, if ALLOW_NONE is set, all person generation would be blocked. If this field is unspecified, the default behavior is to allow prominent people.",
          "type": "string"
        },
        "aspectRatio": {
          "type": "string",
          "description": "Optional. The desired aspect ratio for the generated images. The following aspect ratios are supported: \"1:1\" \"2:3\", \"3:2\" \"3:4\", \"4:3\" \"4:5\", \"5:4\" \"9:16\", \"16:9\" \"21:9\""
        },
        "personGeneration": {
          "type": "string",
          "enumDescriptions": [
            "The default behavior is unspecified. The model will decide whether to generate images of people.",
            "Allows the model to generate images of people, including adults and children.",
            "Allows the model to generate images of adults, but not children.",
            "Prevents the model from generating images of people."
          ],
          "enum": [
            "PERSON_GENERATION_UNSPECIFIED",
            "ALLOW_ALL",
            "ALLOW_ADULT",
            "ALLOW_NONE"
          ],
          "description": "Optional. Controls whether the model can generate people."
        },
        "imageSize": {
          "description": "Optional. Specifies the size of generated images. Supported values are `1K`, `2K`, `4K`. If not specified, the model will use default value `1K`.",
          "type": "string"
        },
        "imageOutputOptions": {
          "$ref": "GoogleCloudAiplatformV1beta1ImageConfigImageOutputOptions",
          "description": "Optional. The image output format for generated images."
        }
      },
      "type": "object",
      "description": "Configuration for image generation. This message allows you to control various aspects of image generation, such as the output format, aspect ratio, and whether the model can generate images of people."
    },
    "GoogleCloudAiplatformV1beta1Citation": {
      "description": "A citation for a piece of generatedcontent.",
      "properties": {
        "title": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The title of the source of the citation."
        },
        "endIndex": {
          "description": "Output only. The end index of the citation in the content.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "license": {
          "readOnly": true,
          "description": "Output only. The license of the source of the citation.",
          "type": "string"
        },
        "startIndex": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. The start index of the citation in the content.",
          "readOnly": true
        },
        "uri": {
          "description": "Output only. The URI of the source of the citation.",
          "readOnly": true,
          "type": "string"
        },
        "publicationDate": {
          "description": "Output only. The publication date of the source of the citation.",
          "$ref": "Date",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1Citation"
    },
    "GoogleCloudAiplatformV1beta1Tool": {
      "description": "Tool details that the model may use to generate response. A `Tool` is a piece of code that enables the system to interact with external systems to perform an action, or set of actions, outside of knowledge and scope of the model. A Tool object should contain exactly one type of Tool (e.g FunctionDeclaration, Retrieval or GoogleSearchRetrieval).",
      "properties": {
        "parallelAiSearch": {
          "description": "Optional. If specified, Vertex AI will use Parallel.ai to search for information to answer user queries. The search results will be grounded on Parallel.ai and presented to the model for response generation",
          "$ref": "GoogleCloudAiplatformV1beta1ToolParallelAiSearch"
        },
        "enterpriseWebSearch": {
          "$ref": "GoogleCloudAiplatformV1beta1EnterpriseWebSearch",
          "description": "Optional. Tool to support searching public web data, powered by Vertex AI Search and Sec4 compliance."
        },
        "computerUse": {
          "$ref": "GoogleCloudAiplatformV1beta1ToolComputerUse",
          "description": "Optional. Tool to support the model interacting directly with the computer. If enabled, it automatically populates computer-use specific Function Declarations."
        },
        "googleSearch": {
          "description": "Optional. GoogleSearch tool type. Tool to support Google Search in Model. Powered by Google.",
          "$ref": "GoogleCloudAiplatformV1beta1ToolGoogleSearch"
        },
        "googleSearchRetrieval": {
          "description": "Optional. Specialized retrieval tool that is powered by Google Search.",
          "$ref": "GoogleCloudAiplatformV1beta1GoogleSearchRetrieval",
          "deprecated": true
        },
        "codeExecution": {
          "$ref": "GoogleCloudAiplatformV1beta1ToolCodeExecution",
          "description": "Optional. CodeExecution tool type. Enables the model to execute code as part of generation."
        },
        "exaAiSearch": {
          "description": "Optional. Uses Exa.ai to search for information to answer user queries. The search results will be grounded on Exa.ai and presented to the model for response generation",
          "$ref": "GoogleCloudAiplatformV1beta1ToolExaAiSearch"
        },
        "urlContext": {
          "description": "Optional. Tool to support URL context retrieval.",
          "$ref": "GoogleCloudAiplatformV1beta1UrlContext"
        },
        "googleMaps": {
          "description": "Optional. GoogleMaps tool type. Tool to support Google Maps in Model.",
          "$ref": "GoogleCloudAiplatformV1beta1GoogleMaps"
        },
        "functionDeclarations": {
          "description": "Optional. Function tool type. One or more function declarations to be passed to the model along with the current user query. Model may decide to call a subset of these functions by populating FunctionCall in the response. User should provide a FunctionResponse for each function call in the next turn. Based on the function responses, Model will generate the final response back to the user. Maximum 512 function declarations can be provided.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1FunctionDeclaration"
          }
        },
        "retrieval": {
          "$ref": "GoogleCloudAiplatformV1beta1Retrieval",
          "description": "Optional. Retrieval tool type. System will always execute the provided retrieval tool(s) to get external knowledge to answer the prompt. Retrieval results are presented to the model for generation."
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1Tool"
    },
    "GoogleCloudAiplatformV1beta1GoogleMapsRouting": {
      "id": "GoogleCloudAiplatformV1beta1GoogleMapsRouting",
      "type": "object",
      "properties": {},
      "description": "Grounding with Google Maps Routing APIs (ComputeRoutes and SearchAlongRoute)."
    },
    "GoogleCloudAiplatformV1beta1GroundingSupport": {
      "type": "object",
      "description": "A collection of supporting references for a segment or part of the model's response.",
      "id": "GoogleCloudAiplatformV1beta1GroundingSupport",
      "properties": {
        "renderedParts": {
          "description": "Indices into the `rendered_parts` field of the `GroundingMetadata` message. These indices specify which rendered parts are associated with this support message.",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array"
        },
        "segment": {
          "$ref": "GoogleCloudAiplatformV1beta1Segment",
          "description": "The content segment that this support message applies to."
        },
        "confidenceScores": {
          "description": "The confidence scores for the support references. This list is parallel to the `grounding_chunk_indices` list. A score is a value between 0.0 and 1.0, with a higher score indicating a higher confidence that the reference supports the claim. For Gemini 2.0 and before, this list has the same size as `grounding_chunk_indices`. For Gemini 2.5 and later, this list is empty and should be ignored.",
          "items": {
            "type": "number",
            "format": "float"
          },
          "type": "array"
        },
        "groundingChunkIndices": {
          "description": "A list of indices into the `grounding_chunks` field of the `GroundingMetadata` message. These indices specify which grounding chunks support the claim made in the content segment. For example, if this field has the values `[1, 3]`, it means that `grounding_chunks[1]` and `grounding_chunks[3]` are the sources for the claim in the content segment.",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1GenerationConfigRoutingConfig": {
      "id": "GoogleCloudAiplatformV1beta1GenerationConfigRoutingConfig",
      "type": "object",
      "properties": {
        "manualMode": {
          "description": "In this mode, the model is specified manually.",
          "$ref": "GoogleCloudAiplatformV1beta1GenerationConfigRoutingConfigManualRoutingMode"
        },
        "autoMode": {
          "description": "In this mode, the model is selected automatically based on the content of the request.",
          "$ref": "GoogleCloudAiplatformV1beta1GenerationConfigRoutingConfigAutoRoutingMode"
        }
      },
      "description": "The configuration for routing the request to a specific model. This can be used to control which model is used for the generation, either automatically or by specifying a model name."
    },
    "GoogleCloudAiplatformV1beta1RagChunk": {
      "id": "GoogleCloudAiplatformV1beta1RagChunk",
      "description": "A RagChunk includes the content of a chunk of a RagFile, and associated metadata.",
      "properties": {
        "fileId": {
          "description": "The ID of the file that the chunk belongs to.",
          "type": "string"
        },
        "pageSpan": {
          "description": "If populated, represents where the chunk starts and ends in the document.",
          "$ref": "GoogleCloudAiplatformV1beta1RagChunkPageSpan"
        },
        "text": {
          "description": "The content of the chunk.",
          "type": "string"
        },
        "chunkId": {
          "type": "string",
          "description": "The ID of the chunk."
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1CodeExecutionResult": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1CodeExecutionResult",
      "properties": {
        "outcome": {
          "enumDescriptions": [
            "Unspecified status. This value should not be used.",
            "Code execution completed successfully. `output` contains the stdout, if any.",
            "Code execution failed. `output` contains the stderr and stdout, if any.",
            "Code execution ran for too long, and was cancelled. There may or may not be a partial `output` present."
          ],
          "type": "string",
          "description": "Required. Outcome of the code execution.",
          "enum": [
            "OUTCOME_UNSPECIFIED",
            "OUTCOME_OK",
            "OUTCOME_FAILED",
            "OUTCOME_DEADLINE_EXCEEDED"
          ]
        },
        "id": {
          "type": "string",
          "description": "Optional. The identifier of the `ExecutableCode` part this result is for. Only populated if the corresponding `ExecutableCode` has an id."
        },
        "output": {
          "description": "Optional. Contains stdout when code execution is successful, stderr or other description otherwise.",
          "type": "string"
        }
      },
      "description": "Result of executing the ExecutableCode. Generated only when the `CodeExecution` tool is used."
    },
    "GoogleCloudAiplatformV1beta1Blob": {
      "properties": {
        "data": {
          "type": "string",
          "description": "Required. The raw bytes of the data.",
          "format": "byte"
        },
        "displayName": {
          "description": "Optional. The display name of the blob. Used to provide a label or filename to distinguish blobs. This field is only returned in `PromptMessage` for prompt management. It is used in the Gemini calls only when server-side tools (`code_execution`, `google_search`, and `url_context`) are enabled.",
          "type": "string"
        },
        "mimeType": {
          "type": "string",
          "description": "Required. The IANA standard MIME type of the source data."
        }
      },
      "id": "GoogleCloudAiplatformV1beta1Blob",
      "description": "A content blob. A Blob contains data of a specific media type. It is used to represent images, audio, and video.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1TranslationConfig": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1TranslationConfig",
      "properties": {
        "echoTargetLanguage": {
          "type": "boolean",
          "description": "Optional. If `true`, the model will generate audio when the target language is spoken, essentially it will parrot the input. If `false`, we will not produce audio for the target language."
        },
        "targetLanguageCode": {
          "type": "string",
          "description": "Required. The target language for translation. Supported values are BCP-47 language codes (e.g. \"en\", \"es\", \"fr\")."
        }
      },
      "description": "Config for translation features."
    },
    "GoogleCloudAiplatformV1beta1FunctionCall": {
      "id": "GoogleCloudAiplatformV1beta1FunctionCall",
      "properties": {
        "partialArgs": {
          "description": "Optional. The partial argument value of the function call. If provided, represents the arguments/fields that are streamed incrementally.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1PartialArg"
          }
        },
        "name": {
          "description": "Optional. The name of the function to call. Matches FunctionDeclaration.name.",
          "type": "string"
        },
        "willContinue": {
          "description": "Optional. Whether this is the last part of the FunctionCall. If true, another partial message for the current FunctionCall is expected to follow.",
          "type": "boolean"
        },
        "id": {
          "type": "string",
          "description": "Optional. The unique id of the function call. If populated, the client to execute the `function_call` and return the response with the matching `id`."
        },
        "args": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. The function parameters and values in JSON object format. See FunctionDeclaration.parameters for parameter details."
        }
      },
      "type": "object",
      "description": "A predicted FunctionCall returned from the model that contains a string representing the FunctionDeclaration.name and a structured JSON object containing the parameters and their values."
    },
    "GoogleCloudAiplatformV1beta1GenerateContentResponseUsageMetadata": {
      "properties": {
        "totalTokenCount": {
          "format": "int32",
          "description": "The total number of tokens for the entire request. This is the sum of `prompt_token_count`, `candidates_token_count`, `tool_use_prompt_token_count`, and `thoughts_token_count`.",
          "type": "integer"
        },
        "promptTokenCount": {
          "type": "integer",
          "description": "The total number of tokens in the prompt. This includes any text, images, or other media provided in the request. When `cached_content` is set, this also includes the number of tokens in the cached content.",
          "format": "int32"
        },
        "toolUsePromptTokenCount": {
          "format": "int32",
          "type": "integer",
          "readOnly": true,
          "description": "Output only. The number of tokens in the results from tool executions, which are provided back to the model as input, if applicable."
        },
        "toolUsePromptTokensDetails": {
          "type": "array",
          "description": "Output only. A detailed breakdown by modality of the token counts from the results of tool executions, which are provided back to the model as input.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1ModalityTokenCount"
          }
        },
        "cacheTokensDetails": {
          "description": "Output only. A detailed breakdown of the token count for each modality in the cached content.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1ModalityTokenCount"
          },
          "readOnly": true
        },
        "cachedContentTokenCount": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. The number of tokens in the cached content that was used for this request.",
          "readOnly": true
        },
        "promptTokensDetails": {
          "description": "Output only. A detailed breakdown of the token count for each modality in the prompt.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1ModalityTokenCount"
          },
          "type": "array",
          "readOnly": true
        },
        "candidatesTokensDetails": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1ModalityTokenCount"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. A detailed breakdown of the token count for each modality in the generated candidates."
        },
        "trafficType": {
          "description": "Output only. The traffic type for this request.",
          "enumDescriptions": [
            "Unspecified request traffic type.",
            "The request was processed using Pay-As-You-Go quota.",
            "Type for Priority Pay-As-You-Go traffic.",
            "Type for Flex traffic.",
            "Type for Off-Peak Pay-As-You-Go traffic.",
            "Type for Provisioned Throughput traffic."
          ],
          "enum": [
            "TRAFFIC_TYPE_UNSPECIFIED",
            "ON_DEMAND",
            "ON_DEMAND_PRIORITY",
            "ON_DEMAND_FLEX",
            "ON_DEMAND_OFFPEAK",
            "PROVISIONED_THROUGHPUT"
          ],
          "type": "string",
          "readOnly": true
        },
        "thoughtsTokenCount": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. The number of tokens that were part of the model's generated \"thoughts\" output, if applicable.",
          "readOnly": true
        },
        "candidatesTokenCount": {
          "description": "The total number of tokens in the generated candidates.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Usage metadata about the content generation request and response. This message provides a detailed breakdown of token usage and other relevant metrics.",
      "id": "GoogleCloudAiplatformV1beta1GenerateContentResponseUsageMetadata",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1FunctionResponseBlob": {
      "description": "Raw media bytes for function response. Text should not be sent as raw bytes, use the 'text' field.",
      "id": "GoogleCloudAiplatformV1beta1FunctionResponseBlob",
      "type": "object",
      "properties": {
        "data": {
          "type": "string",
          "format": "byte",
          "description": "Required. Raw bytes."
        },
        "displayName": {
          "description": "Optional. Display name of the blob. Used to provide a label or filename to distinguish blobs. This field is only returned in PromptMessage for prompt management. It is currently used in the Gemini GenerateContent calls only when server side tools (code_execution, google_search, and url_context) are enabled.",
          "type": "string"
        },
        "mimeType": {
          "description": "Required. The IANA standard MIME type of the source data.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1PartialArg": {
      "description": "Partial argument value of the function call.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1PartialArg",
      "properties": {
        "boolValue": {
          "description": "Optional. Represents a boolean value.",
          "type": "boolean"
        },
        "stringValue": {
          "description": "Optional. Represents a string value.",
          "type": "string"
        },
        "nullValue": {
          "description": "Optional. Represents a null value.",
          "enumDescriptions": [
            "Null value."
          ],
          "enum": [
            "NULL_VALUE"
          ],
          "type": "string"
        },
        "willContinue": {
          "description": "Optional. Whether this is not the last part of the same json_path. If true, another PartialArg message for the current json_path is expected to follow.",
          "type": "boolean"
        },
        "numberValue": {
          "type": "number",
          "description": "Optional. Represents a double value.",
          "format": "double"
        },
        "jsonPath": {
          "description": "Required. A JSON Path (RFC 9535) to the argument being streamed. https://datatracker.ietf.org/doc/html/rfc9535. e.g. \"$.foo.bar[0].data\".",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1ExternalApiSimpleSearchParams": {
      "type": "object",
      "description": "The search parameters to use for SIMPLE_SEARCH spec.",
      "properties": {},
      "id": "GoogleCloudAiplatformV1beta1ExternalApiSimpleSearchParams"
    },
    "ModelOperationMetadata": {
      "id": "ModelOperationMetadata",
      "description": "This is returned in the longrunning operations for create/update.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the model we are creating/updating The name must have the form `projects/{project_id}/models/{model_id}`"
        },
        "basicOperationStatus": {
          "type": "string",
          "enum": [
            "BASIC_OPERATION_STATUS_UNSPECIFIED",
            "BASIC_OPERATION_STATUS_UPLOADING",
            "BASIC_OPERATION_STATUS_VERIFYING"
          ],
          "enumDescriptions": [
            "The status is unspecified",
            "The model file is being uploaded",
            "The model file is being verified"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1GroundingChunkImage": {
      "description": "An `Image` chunk is a piece of evidence that comes from an image search result. It contains the URI of the image search result and the URI of the image. This is used to provide the user with a link to the source of the information.",
      "properties": {
        "imageUri": {
          "description": "The URI of the image.",
          "type": "string"
        },
        "domain": {
          "description": "The domain of the image search result page.",
          "type": "string"
        },
        "sourceUri": {
          "description": "The URI of the image search result page.",
          "type": "string"
        },
        "title": {
          "description": "The title of the image search result page.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1GroundingChunkImage"
    },
    "GoogleCloudAiplatformV1beta1Candidate": {
      "type": "object",
      "description": "A response candidate generated from the model.",
      "properties": {
        "safetyRatings": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1SafetyRating"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. A list of ratings for the safety of a response candidate. There is at most one rating per category."
        },
        "urlContextMetadata": {
          "description": "Output only. Metadata returned when the model uses the `url_context` tool to get information from a user-provided URL.",
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1beta1UrlContextMetadata"
        },
        "groundingMetadata": {
          "$ref": "GoogleCloudAiplatformV1beta1GroundingMetadata",
          "readOnly": true,
          "description": "Output only. Metadata returned when grounding is enabled. It contains the sources used to ground the generated content."
        },
        "avgLogprobs": {
          "format": "double",
          "readOnly": true,
          "type": "number",
          "description": "Output only. The average log probability of the tokens in this candidate. This is a length-normalized score that can be used to compare the quality of candidates of different lengths. A higher average log probability suggests a more confident and coherent response."
        },
        "citationMetadata": {
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1beta1CitationMetadata",
          "description": "Output only. A collection of citations that apply to the generated content."
        },
        "finishReason": {
          "description": "Output only. The reason why the model stopped generating tokens. If empty, the model has not stopped generating.",
          "enumDescriptions": [
            "The finish reason is unspecified.",
            "The model reached a natural stopping point or a configured stop sequence.",
            "The model generated the maximum number of tokens allowed by the `max_output_tokens` parameter.",
            "The model stopped generating because the content potentially violates safety policies. NOTE: When streaming, the `content` field is empty if content filters block the output.",
            "The model stopped generating because the content may be a recitation from a source.",
            "The model stopped generating for a reason not otherwise specified.",
            "The model stopped generating because the content contains a term from a configured blocklist.",
            "The model stopped generating because the content may be prohibited.",
            "The model stopped generating because the content may contain sensitive personally identifiable information (SPII).",
            "The model generated a function call that is syntactically invalid and can't be parsed.",
            "The model response was blocked by Model Armor.",
            "The generated image potentially violates safety policies.",
            "The generated image may contain prohibited content.",
            "The generated image may be a recitation from a source.",
            "The image generation stopped for a reason not otherwise specified.",
            "The model generated a function call that is semantically invalid. This can happen, for example, if function calling is not enabled or the generated function is not in the function declaration.",
            "The model was expected to generate an image, but didn't."
          ],
          "readOnly": true,
          "enum": [
            "FINISH_REASON_UNSPECIFIED",
            "STOP",
            "MAX_TOKENS",
            "SAFETY",
            "RECITATION",
            "OTHER",
            "BLOCKLIST",
            "PROHIBITED_CONTENT",
            "SPII",
            "MALFORMED_FUNCTION_CALL",
            "MODEL_ARMOR",
            "IMAGE_SAFETY",
            "IMAGE_PROHIBITED_CONTENT",
            "IMAGE_RECITATION",
            "IMAGE_OTHER",
            "UNEXPECTED_TOOL_CALL",
            "NO_IMAGE"
          ],
          "type": "string"
        },
        "finishMessage": {
          "readOnly": true,
          "description": "Output only. Describes the reason the model stopped generating tokens in more detail. This field is returned only when `finish_reason` is set.",
          "type": "string"
        },
        "content": {
          "$ref": "GoogleCloudAiplatformV1beta1Content",
          "readOnly": true,
          "description": "Output only. The content of the candidate."
        },
        "logprobsResult": {
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1beta1LogprobsResult",
          "description": "Output only. The detailed log probability information for the tokens in this candidate. This is useful for debugging, understanding model uncertainty, and identifying potential \"hallucinations\"."
        },
        "index": {
          "description": "Output only. The 0-based index of this candidate in the list of generated responses. This is useful for distinguishing between multiple candidates when `candidate_count` > 1.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        }
      },
      "id": "GoogleCloudAiplatformV1beta1Candidate"
    },
    "GoogleCloudAiplatformV1beta1AudioTranscription": {
      "type": "object",
      "properties": {
        "text": {
          "type": "string",
          "description": "Required. The transcription text of this audio segment."
        },
        "speakerLabel": {
          "description": "Optional. A label identifying the speaker of this audio segment (e.g. `spk_1`, `spk_2`). Present when `diarization` is set.",
          "type": "string"
        },
        "words": {
          "description": "Optional. Detailed word-level transcriptions and timing details. Present when `word_timestamp` is set.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1AudioTranscriptionWordInfo"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudAiplatformV1beta1AudioTranscription",
      "description": "The transcription of an audio part. For multi-speaker audio, each speaker segment is a separate `Part` with its own `AudioTranscription` carrying the `speaker_label`."
    },
    "GoogleCloudAiplatformV1beta1GoogleSearchRetrieval": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1GoogleSearchRetrieval",
      "description": "Tool to retrieve public web data for grounding, powered by Google.",
      "properties": {
        "dynamicRetrievalConfig": {
          "description": "Specifies the dynamic retrieval configuration for the given source.",
          "$ref": "GoogleCloudAiplatformV1beta1DynamicRetrievalConfig"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1FunctionCallingConfig": {
      "id": "GoogleCloudAiplatformV1beta1FunctionCallingConfig",
      "properties": {
        "mode": {
          "description": "Optional. Function calling mode.",
          "enumDescriptions": [
            "Unspecified function calling mode. This value should not be used.",
            "Default model behavior, model decides to predict either function calls or natural language response.",
            "Model is constrained to always predicting function calls only. If \"allowed_function_names\" are set, the predicted function calls will be limited to any one of \"allowed_function_names\", else the predicted function calls will be any one of the provided \"function_declarations\".",
            "Model will not predict any function calls. Model behavior is same as when not passing any function declarations.",
            "Model is constrained to predict either function calls or natural language response. If \"allowed_function_names\" are set, the predicted function calls will be limited to any one of \"allowed_function_names\", else the predicted function calls will be any one of the provided \"function_declarations\"."
          ],
          "type": "string",
          "enum": [
            "MODE_UNSPECIFIED",
            "AUTO",
            "ANY",
            "NONE",
            "VALIDATED"
          ]
        },
        "streamFunctionCallArguments": {
          "description": "Optional. When set to true, arguments of a single function call will be streamed out in multiple parts/contents/responses. Partial parameter results will be returned in the `FunctionCall.partial_args` field.",
          "type": "boolean"
        },
        "allowedFunctionNames": {
          "description": "Optional. Function names to call. Only set when the Mode is ANY. Function names should match FunctionDeclaration.name. With mode set to ANY, model will predict a function call from the set of function names provided.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Function calling config.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1AudioResponseFormat": {
      "properties": {
        "mimeType": {
          "enum": [
            "MIME_TYPE_UNSPECIFIED",
            "AUDIO_MP3",
            "AUDIO_OGG_OPUS",
            "AUDIO_L16",
            "AUDIO_WAV",
            "AUDIO_ALAW",
            "AUDIO_MULAW"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "MP3 audio format.",
            "OGG Opus audio format.",
            "Raw PCM (L16) audio format.",
            "WAV audio format.",
            "A-law audio format.",
            "Mu-law audio format."
          ],
          "description": "Optional. The MIME type of the audio output.",
          "type": "string"
        },
        "delivery": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Generated bytes are returned inline in the response.",
            "Generated content is stored and a URI is returned."
          ],
          "enum": [
            "DELIVERY_UNSPECIFIED",
            "INLINE",
            "URI"
          ],
          "type": "string",
          "description": "Optional. Delivery mode for the generated content."
        },
        "bitRate": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Bit rate in bits per second (bps). Only applicable for compressed formats (MP3, Opus)."
        },
        "sampleRate": {
          "description": "Optional. Sample rate for the generated audio in Hertz.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "Configuration for audio-specific output formatting.",
      "id": "GoogleCloudAiplatformV1beta1AudioResponseFormat"
    },
    "GoogleCloudAiplatformV1beta1UrlContext": {
      "properties": {},
      "type": "object",
      "description": "Tool to support URL context.",
      "id": "GoogleCloudAiplatformV1beta1UrlContext"
    },
    "GoogleCloudAiplatformV1beta1FunctionResponseFileData": {
      "description": "URI based data for function response.",
      "properties": {
        "displayName": {
          "description": "Optional. Display name of the file data. Used to provide a label or filename to distinguish file datas. This field is only returned in PromptMessage for prompt management. It is currently used in the Gemini GenerateContent calls only when server side tools (code_execution, google_search, and url_context) are enabled.",
          "type": "string"
        },
        "fileUri": {
          "description": "Required. URI.",
          "type": "string"
        },
        "mimeType": {
          "description": "Required. The IANA standard MIME type of the source data.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1beta1FunctionResponseFileData",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1VideoResponseFormat": {
      "id": "GoogleCloudAiplatformV1beta1VideoResponseFormat",
      "type": "object",
      "description": "Configuration for video-specific output formatting.",
      "properties": {
        "gcsUri": {
          "description": "Optional. The Google Cloud Storage URI to store the video output. Required for Vertex if delivery is URI.",
          "type": "string"
        },
        "delivery": {
          "description": "Optional. Delivery mode for the generated content.",
          "enum": [
            "DELIVERY_UNSPECIFIED",
            "INLINE",
            "URI"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Generated bytes are returned inline in the response.",
            "Generated content is stored and a URI is returned."
          ],
          "type": "string"
        },
        "aspectRatio": {
          "type": "string",
          "enum": [
            "ASPECT_RATIO_UNSPECIFIED",
            "ASPECT_RATIO_SIXTEEN_BY_NINE",
            "ASPECT_RATIO_NINE_BY_SIXTEEN"
          ],
          "description": "The aspect ratio for the video output.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "16:9 aspect ratio.",
            "9:16 aspect ratio."
          ]
        },
        "duration": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. The duration for the video output."
        },
        "resolution": {
          "description": "Optional. The video output resolution. Supported values: \"360p\", \"720p\", \"1080p\", \"4k\".",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1VoiceConfig": {
      "properties": {
        "prebuiltVoiceConfig": {
          "$ref": "GoogleCloudAiplatformV1beta1PrebuiltVoiceConfig",
          "description": "The configuration for a prebuilt voice."
        },
        "replicatedVoiceConfig": {
          "$ref": "GoogleCloudAiplatformV1beta1ReplicatedVoiceConfig",
          "description": "Optional. The configuration for a replicated voice. This enables users to replicate a voice from an audio sample."
        }
      },
      "description": "Configuration for a voice.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1VoiceConfig"
    },
    "GoogleCloudAiplatformV1beta1AuthConfigHttpBasicAuthConfig": {
      "properties": {
        "credentialSecret": {
          "type": "string",
          "description": "Required. The name of the SecretManager secret version resource storing the base64 encoded credentials. Format: `projects/{project}/secrets/{secrete}/versions/{version}` - If specified, the `secretmanager.versions.access` permission should be granted to Vertex AI Extension Service Agent (https://cloud.google.com/vertex-ai/docs/general/access-control#service-agents) on the specified resource."
        }
      },
      "description": "Config for HTTP Basic Authentication.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1AuthConfigHttpBasicAuthConfig"
    },
    "GoogleCloudAiplatformV1beta1RagRetrievalConfigRankingLlmRanker": {
      "type": "object",
      "description": "Config for LlmRanker.",
      "id": "GoogleCloudAiplatformV1beta1RagRetrievalConfigRankingLlmRanker",
      "properties": {
        "modelName": {
          "description": "Optional. The model name used for ranking. See [Supported models](https://cloud.google.com/vertex-ai/generative-ai/docs/model-reference/inference#supported-models).",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1SpeakerVoiceConfig": {
      "description": "Configuration for a single speaker in a multi-speaker setup.",
      "properties": {
        "speaker": {
          "type": "string",
          "description": "Required. The name of the speaker. This should be the same as the speaker name used in the prompt."
        },
        "voiceConfig": {
          "$ref": "GoogleCloudAiplatformV1beta1VoiceConfig",
          "description": "Required. The configuration for the voice of this speaker."
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1SpeakerVoiceConfig"
    },
    "GoogleCloudAiplatformV1beta1FunctionDeclaration": {
      "type": "object",
      "properties": {
        "parameters": {
          "$ref": "GoogleCloudAiplatformV1beta1Schema",
          "description": "Optional. Describes the parameters to this function in JSON Schema Object format. Reflects the Open API 3.03 Parameter Object. string Key: the name of the parameter. Parameter names are case sensitive. Schema Value: the Schema defining the type used for the parameter. For function with no parameters, this can be left unset. Parameter names must start with a letter or an underscore and must only contain chars a-z, A-Z, 0-9, or underscores with a maximum length of 64. Example with 1 required and 1 optional parameter: type: OBJECT properties: param1: type: STRING param2: type: INTEGER required: - param1"
        },
        "responseJsonSchema": {
          "type": "any",
          "description": "Optional. Describes the output from this function in JSON Schema format. The value specified by the schema is the response value of the function. This field is mutually exclusive with `response`."
        },
        "name": {
          "description": "Required. The name of the function to call. Must start with a letter or an underscore. Must be a-z, A-Z, 0-9, or contain underscores, dots, colons and dashes, with a maximum length of 128.",
          "type": "string"
        },
        "response": {
          "description": "Optional. Describes the output from this function in JSON Schema format. Reflects the Open API 3.03 Response Object. The Schema defines the type used for the response value of the function.",
          "$ref": "GoogleCloudAiplatformV1beta1Schema"
        },
        "behavior": {
          "type": "string",
          "description": "Optional. Specifies the function Behavior. If not specified, the system keeps the current function call behavior. This field is currently only supported by the BidiGenerateContent method.",
          "enum": [
            "UNSPECIFIED",
            "BLOCKING",
            "NON_BLOCKING"
          ],
          "enumDescriptions": [
            "This value is unspecified.",
            "If set, the system will wait to receive the function response before continuing the conversation.",
            "If set, the system will not wait to receive the function response. Instead, it will attempt to handle function responses as they become available while maintaining the conversation between the user and the model."
          ]
        },
        "description": {
          "description": "Optional. Description and purpose of the function. Model uses it to decide how and whether to call the function.",
          "type": "string"
        },
        "parametersJsonSchema": {
          "description": "Optional. Describes the parameters to the function in JSON Schema format. The schema must describe an object where the properties are the parameters to the function. For example: ``` { \"type\": \"object\", \"properties\": { \"name\": { \"type\": \"string\" }, \"age\": { \"type\": \"integer\" } }, \"additionalProperties\": false, \"required\": [\"name\", \"age\"], \"propertyOrdering\": [\"name\", \"age\"] } ``` This field is mutually exclusive with `parameters`.",
          "type": "any"
        }
      },
      "id": "GoogleCloudAiplatformV1beta1FunctionDeclaration",
      "description": "Structured representation of a function declaration as defined by the [OpenAPI 3.0 specification](https://spec.openapis.org/oas/v3.0.3). Included in this declaration are the function name, description, parameters and response type. This FunctionDeclaration is a representation of a block of code that can be used as a `Tool` by the model and executed by the client."
    },
[...]
