{
  "name": "firestore",
  "description": "Accesses the NoSQL document database built for automatic scaling, high performance, and ease of application development. ",
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/datastore": {
          "description": "View and manage your Google Cloud Datastore data"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "id": "firestore:v1beta2",
  "servicePath": "",
  "documentationLink": "https://cloud.google.com/firestore",
  "kind": "discovery#restDescription",
  "baseUrl": "https://firestore.googleapis.com/",
  "mtlsRootUrl": "https://firestore.mtls.googleapis.com/",
  "schemas": {
    "GoogleFirestoreAdminV1beta2ExportDocumentsResponse": {
      "id": "GoogleFirestoreAdminV1beta2ExportDocumentsResponse",
      "properties": {
        "outputUriPrefix": {
          "description": "Location of the output files. This can be used to begin an import into Cloud Firestore (this project or another project) after the operation completes successfully.",
          "type": "string"
        }
      },
      "description": "Returned in the google.longrunning.Operation response field.",
      "type": "object"
    },
    "GoogleFirestoreAdminV1CreateDatabaseMetadata": {
      "description": "Metadata related to the create database operation.",
      "type": "object",
      "properties": {},
      "id": "GoogleFirestoreAdminV1CreateDatabaseMetadata"
    },
    "GoogleFirestoreAdminV1beta2ExportDocumentsMetadata": {
      "type": "object",
      "properties": {
        "progressBytes": {
          "description": "The progress, in bytes, of this operation.",
          "$ref": "GoogleFirestoreAdminV1beta2Progress"
        },
        "startTime": {
          "description": "The time this operation started.",
          "type": "string",
          "format": "google-datetime"
        },
        "progressDocuments": {
          "description": "The progress, in documents, of this operation.",
          "$ref": "GoogleFirestoreAdminV1beta2Progress"
        },
        "endTime": {
          "description": "The time this operation completed. Will be unset if operation still in progress.",
          "type": "string",
          "format": "google-datetime"
        },
        "outputUriPrefix": {
          "type": "string",
          "description": "Where the entities are being exported to."
        },
        "operationState": {
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ],
          "type": "string",
          "description": "The state of the export operation.",
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ]
        },
        "collectionIds": {
          "description": "Which collection ids are being exported.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Metadata for google.longrunning.Operation results from FirestoreAdmin.ExportDocuments.",
      "id": "GoogleFirestoreAdminV1beta2ExportDocumentsMetadata"
    },
    "GoogleFirestoreAdminV1beta2FieldOperationMetadata": {
      "properties": {
        "documentProgress": {
          "description": "The progress, in documents, of this operation.",
          "$ref": "GoogleFirestoreAdminV1beta2Progress"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time this operation completed. Will be unset if operation still in progress."
        },
        "bytesProgress": {
          "$ref": "GoogleFirestoreAdminV1beta2Progress",
          "description": "The progress, in bytes, of this operation."
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time this operation started."
        },
        "field": {
          "description": "The field resource that this operation is acting on. For example: `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}/fields/{field_path}`",
          "type": "string"
        },
        "state": {
          "type": "string",
          "description": "The state of the operation.",
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ],
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ]
        },
        "indexConfigDeltas": {
          "items": {
            "$ref": "GoogleFirestoreAdminV1beta2IndexConfigDelta"
          },
          "type": "array",
          "description": "A list of IndexConfigDelta, which describe the intent of this operation."
        }
      },
      "description": "Metadata for google.longrunning.Operation results from FirestoreAdmin.UpdateField.",
      "type": "object",
      "id": "GoogleFirestoreAdminV1beta2FieldOperationMetadata"
    },
    "GoogleFirestoreAdminV1beta2Progress": {
      "description": "Describes the progress of the operation. Unit of work is generic and must be interpreted based on where Progress is used.",
      "properties": {
        "completedWork": {
          "format": "int64",
          "type": "string",
          "description": "The amount of work completed."
        },
        "estimatedWork": {
          "description": "The amount of work estimated.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GoogleFirestoreAdminV1beta2Progress",
      "type": "object"
    },
    "GoogleFirestoreAdminV1Progress": {
      "properties": {
        "completedWork": {
          "type": "string",
          "format": "int64",
          "description": "The amount of work completed."
        },
        "estimatedWork": {
          "description": "The amount of work estimated.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "Describes the progress of the operation. Unit of work is generic and must be interpreted based on where Progress is used.",
      "id": "GoogleFirestoreAdminV1Progress"
    },
    "GoogleFirestoreAdminV1beta2IndexConfig": {
      "type": "object",
      "properties": {
        "reverting": {
          "type": "boolean",
          "description": "Output only When true, the `Field`'s index configuration is in the process of being reverted. Once complete, the index config will transition to the same state as the field specified by `ancestor_field`, at which point `uses_ancestor_config` will be `true` and `reverting` will be `false`."
        },
        "usesAncestorConfig": {
          "type": "boolean",
          "description": "Output only. When true, the `Field`'s index configuration is set from the configuration specified by the `ancestor_field`. When false, the `Field`'s index configuration is defined explicitly."
        },
        "indexes": {
          "description": "The indexes supported for this field.",
          "type": "array",
          "items": {
            "$ref": "GoogleFirestoreAdminV1beta2Index"
          }
        },
        "ancestorField": {
          "type": "string",
          "description": "Output only. Specifies the resource name of the `Field` from which this field's index configuration is set (when `uses_ancestor_config` is true), or from which it *would* be set if this field had no index configuration (when `uses_ancestor_config` is false)."
        }
      },
      "id": "GoogleFirestoreAdminV1beta2IndexConfig",
      "description": "The index configuration for this field."
    },
    "GoogleFirestoreAdminV1beta2ListFieldsResponse": {
      "properties": {
        "fields": {
          "items": {
            "$ref": "GoogleFirestoreAdminV1beta2Field"
          },
          "type": "array",
          "description": "The requested fields."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A page token that may be used to request another page of results. If blank, this is the last page."
        }
      },
      "type": "object",
      "id": "GoogleFirestoreAdminV1beta2ListFieldsResponse",
      "description": "The response for FirestoreAdmin.ListFields."
    },
    "GoogleFirestoreAdminV1beta2ImportDocumentsMetadata": {
      "description": "Metadata for google.longrunning.Operation results from FirestoreAdmin.ImportDocuments.",
      "properties": {
        "collectionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Which collection ids are being imported."
        },
        "endTime": {
          "format": "google-datetime",
          "description": "The time this operation completed. Will be unset if operation still in progress.",
          "type": "string"
        },
        "inputUriPrefix": {
          "type": "string",
          "description": "The location of the documents being imported."
        },
        "progressDocuments": {
          "$ref": "GoogleFirestoreAdminV1beta2Progress",
          "description": "The progress, in documents, of this operation."
        },
        "startTime": {
          "description": "The time this operation started.",
          "type": "string",
          "format": "google-datetime"
        },
        "operationState": {
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ],
          "type": "string",
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ],
          "description": "The state of the import operation."
        },
        "progressBytes": {
          "description": "The progress, in bytes, of this operation.",
          "$ref": "GoogleFirestoreAdminV1beta2Progress"
        }
      },
      "type": "object",
      "id": "GoogleFirestoreAdminV1beta2ImportDocumentsMetadata"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {},
      "id": "Empty"
    },
    "GoogleFirestoreAdminV1beta2Field": {
      "type": "object",
      "properties": {
        "name": {
          "description": "A field name of the form `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}/fields/{field_path}` A field path may be a simple field name, e.g. `address` or a path to fields within map_value , e.g. `address.city`, or a special field path. The only valid special field is `*`, which represents any field. Field paths may be quoted using ` (backtick). The only character that needs to be escaped within a quoted field path is the backtick character itself, escaped using a backslash. Special characters in field paths that must be quoted include: `*`, `.`, ``` (backtick), `[`, `]`, as well as any ascii symbolic characters. Examples: (Note: Comments here are written in markdown syntax, so there is an additional layer of backticks to represent a code block) `\\`address.city\\`` represents a field named `address.city`, not the map key `city` in the field `address`. `\\`*\\`` represents a field named `*`, not any field. A special `Field` contains the default indexing settings for all fields. This field's resource name is: `projects/{project_id}/databases/{database_id}/collectionGroups/__default__/fields/*` Indexes defined on this `Field` will be applied to all fields which do not have their own `Field` index configuration.",
          "type": "string"
        },
        "indexConfig": {
          "description": "The index configuration for this field. If unset, field indexing will revert to the configuration defined by the `ancestor_field`. To explicitly remove all indexes for this field, specify an index config with an empty list of indexes.",
          "$ref": "GoogleFirestoreAdminV1beta2IndexConfig"
        }
      },
      "description": "Represents a single field in the database. Fields are grouped by their \"Collection Group\", which represent all collections in the database with the same id.",
      "id": "GoogleFirestoreAdminV1beta2Field"
    },
    "GoogleLongrunningOperation": {
      "type": "object",
      "id": "GoogleLongrunningOperation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        }
      }
    },
    "GoogleFirestoreAdminV1DeleteDatabaseMetadata": {
      "description": "Metadata related to the delete database operation.",
      "type": "object",
      "properties": {},
      "id": "GoogleFirestoreAdminV1DeleteDatabaseMetadata"
    },
    "Status": {
      "id": "Status",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      }
    },
    "GoogleFirestoreAdminV1beta2ListIndexesResponse": {
      "type": "object",
      "properties": {
        "indexes": {
          "description": "The requested indexes.",
          "items": {
            "$ref": "GoogleFirestoreAdminV1beta2Index"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A page token that may be used to request another page of results. If blank, this is the last page."
        }
      },
      "description": "The response for FirestoreAdmin.ListIndexes.",
      "id": "GoogleFirestoreAdminV1beta2ListIndexesResponse"
    },
    "GoogleFirestoreAdminV1beta2IndexField": {
      "properties": {
        "order": {
          "enum": [
            "ORDER_UNSPECIFIED",
            "ASCENDING",
            "DESCENDING"
          ],
          "enumDescriptions": [
            "The ordering is unspecified. Not a valid option.",
            "The field is ordered by ascending field value.",
            "The field is ordered by descending field value."
          ],
          "type": "string",
          "description": "Indicates that this field supports ordering by the specified order or comparing using =, <, <=, >, >=."
        },
        "fieldPath": {
          "description": "Can be __name__. For single field indexes, this must match the name of the field or may be omitted.",
          "type": "string"
        },
        "arrayConfig": {
          "type": "string",
          "description": "Indicates that this field supports operations on `array_value`s.",
          "enum": [
            "ARRAY_CONFIG_UNSPECIFIED",
            "CONTAINS"
          ],
          "enumDescriptions": [
            "The index does not support additional array queries.",
            "The index supports array containment queries."
          ]
        }
      },
      "id": "GoogleFirestoreAdminV1beta2IndexField",
      "description": "A field in an index. The field_path describes which field is indexed, the value_mode describes how the field value is indexed.",
      "type": "object"
    },
    "GoogleFirestoreAdminV1UpdateDatabaseMetadata": {
      "id": "GoogleFirestoreAdminV1UpdateDatabaseMetadata",
      "type": "object",
      "description": "Metadata related to the update database operation.",
      "properties": {
        "endTime": {
          "description": "The time this operation completed. Will be unset if operation still in progress.",
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "type": "string",
          "description": "The state of the operation.",
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ]
        },
        "startTime": {
          "description": "The time this operation started.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GoogleFirestoreAdminV1PitrSnapshot": {
      "id": "GoogleFirestoreAdminV1PitrSnapshot",
      "description": "A consistent snapshot of a database at a specific point in time. A PITR (Point-in-time recovery) snapshot with previous versions of a database's data is available for every minute up to the associated database's data retention period. If the PITR feature is enabled, the retention period is 7 days; otherwise, it is one hour.",
      "properties": {
        "database": {
          "description": "Required. The name of the database that this was a snapshot of. Format: `projects/{project}/databases/{database}`.",
          "type": "string"
        },
        "databaseUid": {
          "readOnly": true,
          "format": "byte",
          "description": "Output only. Public UUID of the database the snapshot was associated with.",
          "type": "string"
        },
        "snapshotTime": {
          "description": "Required. Snapshot time of the database.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleFirestoreAdminV1beta2IndexConfigDelta": {
      "type": "object",
      "id": "GoogleFirestoreAdminV1beta2IndexConfigDelta",
      "properties": {
        "index": {
          "description": "The index being changed.",
          "$ref": "GoogleFirestoreAdminV1beta2Index"
        },
        "changeType": {
          "type": "string",
          "enumDescriptions": [
            "The type of change is not specified or known.",
            "The single field index is being added.",
            "The single field index is being removed."
          ],
          "description": "Specifies how the index is changing.",
          "enum": [
            "CHANGE_TYPE_UNSPECIFIED",
            "ADD",
            "REMOVE"
          ]
        }
      },
      "description": "Information about an index configuration change."
    },
    "GoogleFirestoreAdminV1CloneDatabaseMetadata": {
      "description": "Metadata for the long-running operation from the CloneDatabase request.",
      "type": "object",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the clone was started."
        },
        "progressPercentage": {
          "$ref": "GoogleFirestoreAdminV1Progress",
          "description": "How far along the clone is as an estimated percentage of remaining time."
        },
        "database": {
          "description": "The name of the database being cloned to.",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the clone finished, unset for ongoing clones."
        },
        "operationState": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ],
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ],
          "description": "The operation state of the clone."
        },
        "pitrSnapshot": {
          "description": "The snapshot from which this database was cloned.",
          "$ref": "GoogleFirestoreAdminV1PitrSnapshot"
        }
      },
      "id": "GoogleFirestoreAdminV1CloneDatabaseMetadata"
    },
    "GoogleFirestoreAdminV1beta2IndexOperationMetadata": {
      "type": "object",
      "id": "GoogleFirestoreAdminV1beta2IndexOperationMetadata",
      "properties": {
        "endTime": {
          "type": "string",
          "description": "The time this operation completed. Will be unset if operation still in progress.",
          "format": "google-datetime"
        },
        "progressDocuments": {
          "description": "The progress, in documents, of this operation.",
          "$ref": "GoogleFirestoreAdminV1beta2Progress"
        },
        "progressBytes": {
          "description": "The progress, in bytes, of this operation.",
          "$ref": "GoogleFirestoreAdminV1beta2Progress"
        },
        "state": {
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ],
          "description": "The state of the operation."
        },
        "index": {
          "description": "The index resource that this operation is acting on. For example: `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}/indexes/{index_id}`",
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time this operation started."
        }
      },
      "description": "Metadata for google.longrunning.Operation results from FirestoreAdmin.CreateIndex."
    },
    "GoogleFirestoreAdminV1beta2ImportDocumentsRequest": {
      "description": "The request for FirestoreAdmin.ImportDocuments.",
      "properties": {
        "collectionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Which collection ids to import. Unspecified means all collections included in the import."
        },
        "inputUriPrefix": {
          "type": "string",
          "description": "Location of the exported files. This must match the output_uri_prefix of an ExportDocumentsResponse from an export that has completed successfully. See: google.firestore.admin.v1beta2.ExportDocumentsResponse.output_uri_prefix."
        }
      },
      "type": "object",
      "id": "GoogleFirestoreAdminV1beta2ImportDocumentsRequest"
    },
    "GoogleFirestoreAdminV1BulkDeleteDocumentsMetadata": {
      "id": "GoogleFirestoreAdminV1BulkDeleteDocumentsMetadata",
      "description": "Metadata for google.longrunning.Operation results from FirestoreAdmin.BulkDeleteDocuments.",
      "properties": {
        "collectionIds": {
          "description": "The IDs of the collection groups that are being deleted.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "snapshotTime": {
          "description": "The timestamp that corresponds to the version of the database that is being read to get the list of documents to delete. This time can also be used as the timestamp of PITR in case of disaster recovery (subject to PITR window limit).",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "description": "The time this operation completed. Will be unset if operation still in progress.",
          "format": "google-datetime"
        },
        "progressBytes": {
          "description": "The progress, in bytes, of this operation.",
          "$ref": "GoogleFirestoreAdminV1Progress"
        },
        "operationState": {
          "description": "The state of the operation.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ],
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ]
        },
        "progressDocuments": {
          "$ref": "GoogleFirestoreAdminV1Progress",
          "description": "The progress, in documents, of this operation."
        },
        "namespaceIds": {
          "description": "Which namespace IDs are being deleted.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "startTime": {
          "description": "The time this operation started.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleFirestoreAdminV1beta2ExportDocumentsRequest": {
      "type": "object",
      "description": "The request for FirestoreAdmin.ExportDocuments.",
      "id": "GoogleFirestoreAdminV1beta2ExportDocumentsRequest",
      "properties": {
        "collectionIds": {
          "type": "array",
          "description": "Which collection ids to export. Unspecified means all collections.",
          "items": {
            "type": "string"
          }
        },
        "outputUriPrefix": {
          "type": "string",
          "description": "The output URI. Currently only supports Google Cloud Storage URIs of the form: `gs://BUCKET_NAME[/NAMESPACE_PATH]`, where `BUCKET_NAME` is the name of the Google Cloud Storage bucket and `NAMESPACE_PATH` is an optional Google Cloud Storage namespace path. When choosing a name, be sure to consider Google Cloud Storage naming guidelines: https://cloud.google.com/storage/docs/naming. If the URI is a bucket (without a namespace path), a prefix will be generated based on the start time."
        }
      }
    },
    "GoogleFirestoreAdminV1RestoreDatabaseMetadata": {
      "description": "Metadata for the long-running operation from the RestoreDatabase request.",
      "id": "GoogleFirestoreAdminV1RestoreDatabaseMetadata",
      "type": "object",
      "properties": {
        "database": {
          "type": "string",
          "description": "The name of the database being restored to."
        },
        "startTime": {
          "description": "The time the restore was started.",
          "format": "google-datetime",
          "type": "string"
        },
        "operationState": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ],
          "description": "The operation state of the restore.",
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ]
        },
        "progressPercentage": {
          "description": "How far along the restore is as an estimated percentage of remaining time.",
          "$ref": "GoogleFirestoreAdminV1Progress"
        },
        "backup": {
          "description": "The name of the backup restoring from.",
          "type": "string"
        },
        "endTime": {
          "description": "The time the restore finished, unset for ongoing restores.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GoogleFirestoreAdminV1beta2Index": {
      "properties": {
        "fields": {
          "description": "The fields supported by this index. For composite indexes, this is always 2 or more fields. The last field entry is always for the field path `__name__`. If, on creation, `__name__` was not specified as the last field, it will be added automatically with the same direction as that of the last field defined. If the final field in a composite index is not directional, the `__name__` will be ordered ASCENDING (unless explicitly specified). For single field indexes, this will always be exactly one entry with a field path equal to the field path of the associated field.",
          "type": "array",
          "items": {
            "$ref": "GoogleFirestoreAdminV1beta2IndexField"
          }
        },
        "name": {
          "type": "string",
          "description": "Output only. A server defined name for this index. The form of this name for composite indexes will be: `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}/indexes/{composite_index_id}` For single field indexes, this field will be empty."
        },
        "state": {
          "description": "Output only. The serving state of the index.",
          "type": "string",
          "enumDescriptions": [
            "The state is unspecified.",
            "The index is being created. There is an active long-running operation for the index. The index is updated when writing a document. Some index data may exist.",
            "The index is ready to be used. The index is updated when writing a document. The index is fully populated from all stored documents it applies to.",
            "The index was being created, but something went wrong. There is no active long-running operation for the index, and the most recently finished long-running operation failed. The index is not updated when writing a document. Some index data may exist. Use the google.longrunning.Operations API to determine why the operation that last attempted to create this index failed, then re-create the index."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "NEEDS_REPAIR"
          ]
        },
        "queryScope": {
          "enumDescriptions": [
            "The query scope is unspecified. Not a valid option.",
            "Indexes with a collection query scope specified allow queries against a collection that is the child of a specific document, specified at query time, and that has the collection id specified by the index.",
            "Indexes with a collection group query scope specified allow queries against all collections that has the collection id specified by the index."
          ],
          "enum": [
            "QUERY_SCOPE_UNSPECIFIED",
            "COLLECTION",
            "COLLECTION_GROUP"
          ],
          "description": "Indexes with a collection query scope specified allow queries against a collection that is the child of a specific document, specified at query time, and that has the same collection id. Indexes with a collection group query scope specified allow queries against all collections descended from a specific document, specified at query time, and that have the same collection id as this index.",
          "type": "string"
        }
      },
      "description": "Cloud Firestore indexes enable simple and complex queries against documents in a database.",
      "type": "object",
      "id": "GoogleFirestoreAdminV1beta2Index"
    }
  },
  "batchPath": "batch",
  "resources": {
    "projects": {
      "resources": {
        "databases": {
          "methods": {
            "exportDocuments": {
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "description": "Exports a copy of all or a subset of documents from Google Cloud Firestore to another storage system, such as Google Cloud Storage. Recent updates to documents may not be reflected in the export. The export occurs in the background and its progress can be monitored and managed via the Operation resource that is created. The output of an export may only be used once the associated operation is done. If an export operation is cancelled before completion it may leave partial data behind in Google Cloud Storage.",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Database to export. Should be of the form: `projects/{project_id}/databases/{database_id}`.",
                  "pattern": "^projects/[^/]+/databases/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "firestore.projects.databases.exportDocuments",
              "path": "v1beta2/{+name}:exportDocuments",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "request": {
                "$ref": "GoogleFirestoreAdminV1beta2ExportDocumentsRequest"
              },
              "flatPath": "v1beta2/projects/{projectsId}/databases/{databasesId}:exportDocuments"
            },
            "importDocuments": {
              "description": "Imports documents into Google Cloud Firestore. Existing documents with the same name are overwritten. The import occurs in the background and its progress can be monitored and managed via the Operation resource that is created. If an ImportDocuments operation is cancelled, it is possible that a subset of the data has already been imported to Cloud Firestore.",
              "path": "v1beta2/{+name}:importDocuments",
              "flatPath": "v1beta2/projects/{projectsId}/databases/{databasesId}:importDocuments",
              "request": {
                "$ref": "GoogleFirestoreAdminV1beta2ImportDocumentsRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "id": "firestore.projects.databases.importDocuments",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/databases/[^/]+$",
                  "description": "Database to import into. Should be of the form: `projects/{project_id}/databases/{database_id}`."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ]
            }
          },
          "resources": {
            "collectionGroups": {
              "resources": {
                "fields": {
                  "methods": {
                    "get": {
                      "path": "v1beta2/{+name}",
                      "id": "firestore.projects.databases.collectionGroups.fields.get",
                      "description": "Gets the metadata and configuration for a Field.",
                      "response": {
                        "$ref": "GoogleFirestoreAdminV1beta2Field"
                      },
                      "flatPath": "v1beta2/projects/{projectsId}/databases/{databasesId}/collectionGroups/{collectionGroupsId}/fields/{fieldsId}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "description": "A name of the form `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}/fields/{field_id}`",
                          "pattern": "^projects/[^/]+/databases/[^/]+/collectionGroups/[^/]+/fields/[^/]+$",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/datastore"
                      ],
                      "httpMethod": "GET"
                    },
                    "patch": {
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "firestore.projects.databases.collectionGroups.fields.patch",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/datastore"
                      ],
                      "description": "Updates a field configuration. Currently, field updates apply only to single field index configuration. However, calls to FirestoreAdmin.UpdateField should provide a field mask to avoid changing any configuration that the caller isn't aware of. The field mask should be specified as: `{ paths: \"index_config\" }`. This call returns a google.longrunning.Operation which may be used to track the status of the field update. The metadata for the operation will be the type FieldOperationMetadata. To configure the default field settings for the database, use the special `Field` with resource name: `projects/{project_id}/databases/{database_id}/collectionGroups/__default__/fields/*`.",
                      "request": {
                        "$ref": "GoogleFirestoreAdminV1beta2Field"
                      },
                      "httpMethod": "PATCH",
                      "flatPath": "v1beta2/projects/{projectsId}/databases/{databasesId}/collectionGroups/{collectionGroupsId}/fields/{fieldsId}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "description": "A field name of the form `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}/fields/{field_path}` A field path may be a simple field name, e.g. `address` or a path to fields within map_value , e.g. `address.city`, or a special field path. The only valid special field is `*`, which represents any field. Field paths may be quoted using ` (backtick). The only character that needs to be escaped within a quoted field path is the backtick character itself, escaped using a backslash. Special characters in field paths that must be quoted include: `*`, `.`, ``` (backtick), `[`, `]`, as well as any ascii symbolic characters. Examples: (Note: Comments here are written in markdown syntax, so there is an additional layer of backticks to represent a code block) `\\`address.city\\`` represents a field named `address.city`, not the map key `city` in the field `address`. `\\`*\\`` represents a field named `*`, not any field. A special `Field` contains the default indexing settings for all fields. This field's resource name is: `projects/{project_id}/databases/{database_id}/collectionGroups/__default__/fields/*` Indexes defined on this `Field` will be applied to all fields which do not have their own `Field` index configuration.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/databases/[^/]+/collectionGroups/[^/]+/fields/[^/]+$"
                        },
                        "updateMask": {
                          "description": "A mask, relative to the field. If specified, only configuration specified by this field_mask will be updated in the field.",
                          "type": "string",
                          "format": "google-fieldmask",
                          "location": "query"
                        }
                      },
                      "path": "v1beta2/{+name}"
                    },
                    "list": {
                      "parameters": {
                        "filter": {
                          "type": "string",
                          "location": "query",
                          "description": "The filter to apply to list results. Currently, FirestoreAdmin.ListFields only supports listing fields that have been explicitly overridden. To issue this query, call FirestoreAdmin.ListFields with the filter set to `indexConfig.usesAncestorConfig:false`."
                        },
                        "pageSize": {
                          "location": "query",
                          "description": "The number of results to return.",
                          "type": "integer",
                          "format": "int32"
                        },
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/databases/[^/]+/collectionGroups/[^/]+$",
                          "description": "A parent name of the form `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}`",
                          "required": true
                        },
                        "pageToken": {
                          "description": "A page token, returned from a previous call to FirestoreAdmin.ListFields, that may be used to get the next page of results.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "id": "firestore.projects.databases.collectionGroups.fields.list",
                      "httpMethod": "GET",
                      "flatPath": "v1beta2/projects/{projectsId}/databases/{databasesId}/collectionGroups/{collectionGroupsId}/fields",
                      "description": "Lists the field configuration and metadata for this database. Currently, FirestoreAdmin.ListFields only supports listing fields that have been explicitly overridden. To issue this query, call FirestoreAdmin.ListFields with the filter set to `indexConfig.usesAncestorConfig:false`.",
                      "response": {
                        "$ref": "GoogleFirestoreAdminV1beta2ListFieldsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/datastore"
                      ],
                      "path": "v1beta2/{+parent}/fields",
                      "parameterOrder": [
                        "parent"
                      ]
                    }
                  }
                },
                "indexes": {
                  "methods": {
                    "list": {
                      "id": "firestore.projects.databases.collectionGroups.indexes.list",
                      "flatPath": "v1beta2/projects/{projectsId}/databases/{databasesId}/collectionGroups/{collectionGroupsId}/indexes",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/datastore"
                      ],
                      "path": "v1beta2/{+parent}/indexes",
                      "parameters": {
                        "filter": {
                          "location": "query",
                          "description": "The filter to apply to list results.",
                          "type": "string"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "The number of results to return.",
                          "format": "int32",
                          "location": "query"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "A page token, returned from a previous call to FirestoreAdmin.ListIndexes, that may be used to get the next page of results.",
                          "type": "string"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/databases/[^/]+/collectionGroups/[^/]+$",
                          "location": "path",
                          "description": "A parent name of the form `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}`",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "GoogleFirestoreAdminV1beta2ListIndexesResponse"
                      },
                      "httpMethod": "GET",
                      "description": "Lists composite indexes.",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "delete": {
                      "flatPath": "v1beta2/projects/{projectsId}/databases/{databasesId}/collectionGroups/{collectionGroupsId}/indexes/{indexesId}",
                      "response": {
                        "$ref": "Empty"
                      },
                      "path": "v1beta2/{+name}",
                      "httpMethod": "DELETE",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/databases/[^/]+/collectionGroups/[^/]+/indexes/[^/]+$",
                          "description": "A name of the form `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}/indexes/{index_id}`",
                          "required": true
                        }
                      },
                      "description": "Deletes a composite index.",
                      "id": "firestore.projects.databases.collectionGroups.indexes.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/datastore"
                      ]
                    },
                    "get": {
                      "flatPath": "v1beta2/projects/{projectsId}/databases/{databasesId}/collectionGroups/{collectionGroupsId}/indexes/{indexesId}",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets a composite index.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/datastore"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "description": "A name of the form `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}/indexes/{index_id}`",
                          "required": true,
                          "pattern": "^projects/[^/]+/databases/[^/]+/collectionGroups/[^/]+/indexes/[^/]+$"
                        }
                      },
                      "response": {
                        "$ref": "GoogleFirestoreAdminV1beta2Index"
                      },
                      "path": "v1beta2/{+name}",
                      "id": "firestore.projects.databases.collectionGroups.indexes.get"
                    },
                    "create": {
                      "request": {
                        "$ref": "GoogleFirestoreAdminV1beta2Index"
                      },
                      "parameters": {
                        "parent": {
                          "description": "A parent name of the form `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}`",
                          "pattern": "^projects/[^/]+/databases/[^/]+/collectionGroups/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/datastore"
                      ],
                      "path": "v1beta2/{+parent}/indexes",
                      "id": "firestore.projects.databases.collectionGroups.indexes.create",
                      "flatPath": "v1beta2/projects/{projectsId}/databases/{databasesId}/collectionGroups/{collectionGroupsId}/indexes",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Creates a composite index. This returns a google.longrunning.Operation which may be used to track the status of the creation. The metadata for the operation will be the type IndexOperationMetadata."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "canonicalName": "Firestore",
  "endpoints": [
    {
      "location": "africa-south1",
      "endpointUrl": "https://firestore.africa-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://firestore.asia-east1.rep.googleapis.com/",
      "location": "asia-east1",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-east2",
      "endpointUrl": "https://firestore.asia-east2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://firestore.asia-northeast1.rep.googleapis.com/",
      "location": "asia-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://firestore.asia-northeast2.rep.googleapis.com/"
    },
    {
      "location": "asia-northeast3",
      "endpointUrl": "https://firestore.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://firestore.asia-south1.rep.googleapis.com/"
    },
    {
      "location": "asia-south2",
      "endpointUrl": "https://firestore.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-southeast1",
      "endpointUrl": "https://firestore.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-southeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://firestore.asia-southeast2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://firestore.asia-southeast3.rep.googleapis.com/",
      "location": "asia-southeast3"
    },
    {
      "endpointUrl": "https://firestore.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "australia-southeast1"
    },
    {
      "location": "australia-southeast2",
      "endpointUrl": "https://firestore.australia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://firestore.europe-central2.rep.googleapis.com/",
      "location": "europe-central2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-north1",
      "endpointUrl": "https://firestore.europe-north1.rep.googleapis.com/"
    },
    {
      "location": "europe-north2",
      "endpointUrl": "https://firestore.europe-north2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://firestore.europe-southwest1.rep.googleapis.com/",
      "location": "europe-southwest1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west1",
      "endpointUrl": "https://firestore.europe-west1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west10",
      "endpointUrl": "https://firestore.europe-west10.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://firestore.europe-west12.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west12"
    },
    {
      "endpointUrl": "https://firestore.europe-west2.rep.googleapis.com/",
      "location": "europe-west2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://firestore.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west3"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://firestore.europe-west4.rep.googleapis.com/",
      "location": "europe-west4"
    },
    {
      "endpointUrl": "https://firestore.europe-west6.rep.googleapis.com/",
      "location": "europe-west6",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west8",
      "description": "Regional Endpoint",
      "endpointUrl": "https://firestore.europe-west8.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://firestore.europe-west9.rep.googleapis.com/",
      "location": "europe-west9",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://firestore.me-central1.rep.googleapis.com/",
      "location": "me-central1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://firestore.me-central2.rep.googleapis.com/",
      "location": "me-central2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://firestore.me-west1.rep.googleapis.com/",
      "location": "me-west1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://firestore.northamerica-northeast1.rep.googleapis.com/",
      "location": "northamerica-northeast1"
    },
    {
      "location": "northamerica-northeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://firestore.northamerica-northeast2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://firestore.northamerica-south1.rep.googleapis.com/",
      "location": "northamerica-south1",
      "description": "Regional Endpoint"
    },
    {
      "location": "southamerica-east1",
      "endpointUrl": "https://firestore.southamerica-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://firestore.southamerica-west1.rep.googleapis.com/",
      "location": "southamerica-west1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://firestore.us-central1.rep.googleapis.com/",
      "location": "us-central1"
    },
    {
      "location": "us-east1",
      "endpointUrl": "https://firestore.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://firestore.us-east4.rep.googleapis.com/",
      "location": "us-east4",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east5",
      "description": "Regional Endpoint",
      "endpointUrl": "https://firestore.us-east5.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-south1",
      "endpointUrl": "https://firestore.us-south1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://firestore.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west1"
    },
    {
      "endpointUrl": "https://firestore.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west2"
    },
    {
      "endpointUrl": "https://firestore.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west3"
    },
    {
      "endpointUrl": "https://firestore.us-west4.rep.googleapis.com/",
      "location": "us-west4",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://batch-firestore.africa-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "africa-south1"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-east1",
      "endpointUrl": "https://batch-firestore.asia-east1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://batch-firestore.asia-east2.rep.googleapis.com/",
      "location": "asia-east2"
    },
    {
      "endpointUrl": "https://batch-firestore.asia-northeast1.rep.googleapis.com/",
      "location": "asia-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-northeast2",
      "endpointUrl": "https://batch-firestore.asia-northeast2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-northeast3",
      "endpointUrl": "https://batch-firestore.asia-northeast3.rep.googleapis.com/"
    },
    {
      "location": "asia-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://batch-firestore.asia-south1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-south2",
      "endpointUrl": "https://batch-firestore.asia-south2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-southeast1",
      "endpointUrl": "https://batch-firestore.asia-southeast1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-southeast2",
      "endpointUrl": "https://batch-firestore.asia-southeast2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-southeast3",
      "endpointUrl": "https://batch-firestore.asia-southeast3.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://batch-firestore.australia-southeast1.rep.googleapis.com/",
      "location": "australia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "location": "australia-southeast2",
      "endpointUrl": "https://batch-firestore.australia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-central2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://batch-firestore.europe-central2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-north1",
      "endpointUrl": "https://batch-firestore.europe-north1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://batch-firestore.europe-north2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-north2"
    },
    {
      "endpointUrl": "https://batch-firestore.europe-southwest1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-southwest1"
    },
    {
      "endpointUrl": "https://batch-firestore.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west1"
    },
    {
      "location": "europe-west10",
      "endpointUrl": "https://batch-firestore.europe-west10.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west12",
      "endpointUrl": "https://batch-firestore.europe-west12.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west2",
      "endpointUrl": "https://batch-firestore.europe-west2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west3",
      "endpointUrl": "https://batch-firestore.europe-west3.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://batch-firestore.europe-west4.rep.googleapis.com/",
      "location": "europe-west4"
    },
    {
      "endpointUrl": "https://batch-firestore.europe-west6.rep.googleapis.com/",
      "location": "europe-west6",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west8",
      "endpointUrl": "https://batch-firestore.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://batch-firestore.europe-west9.rep.googleapis.com/",
      "location": "europe-west9",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://batch-firestore.me-central1.rep.googleapis.com/",
      "location": "me-central1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://batch-firestore.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-central2"
    },
    {
      "description": "Regional Endpoint",
      "location": "me-west1",
      "endpointUrl": "https://batch-firestore.me-west1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "northamerica-northeast1",
      "endpointUrl": "https://batch-firestore.northamerica-northeast1.rep.googleapis.com/"
    },
    {
      "location": "northamerica-northeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://batch-firestore.northamerica-northeast2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://batch-firestore.northamerica-south1.rep.googleapis.com/",
      "location": "northamerica-south1",
      "description": "Regional Endpoint"
    },
    {
      "location": "southamerica-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://batch-firestore.southamerica-east1.rep.googleapis.com/"
    },
    {
      "location": "southamerica-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://batch-firestore.southamerica-west1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://batch-firestore.us-central1.rep.googleapis.com/",
      "location": "us-central1"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east1",
      "endpointUrl": "https://batch-firestore.us-east1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://batch-firestore.us-east4.rep.googleapis.com/",
      "location": "us-east4"
    },
    {
      "endpointUrl": "https://batch-firestore.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east5"
    },
    {
      "endpointUrl": "https://batch-firestore.us-south1.rep.googleapis.com/",
      "location": "us-south1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west1",
      "endpointUrl": "https://batch-firestore.us-west1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://batch-firestore.us-west2.rep.googleapis.com/",
      "location": "us-west2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://batch-firestore.us-west3.rep.googleapis.com/",
      "location": "us-west3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://batch-firestore.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west4"
    },
    {
      "endpointUrl": "https://firestore.eu.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "eu"
    },
    {
      "endpointUrl": "https://firestore.us.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us"
    },
    {
      "endpointUrl": "https://batch-firestore.eu.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "eu"
    },
    {
      "endpointUrl": "https://batch-firestore.us.rep.googleapis.com/",
      "location": "us",
      "description": "Regional Endpoint"
    }
  ],
  "basePath": "",
  "ownerName": "Google",
  "title": "Cloud Firestore API",
  "revision": "20260911",
  "protocol": "rest",
  "parameters": {
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    }
  },
  "rootUrl": "https://firestore.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "version_module": true,
  "version": "v1beta2"
}