{
  "servicePath": "",
  "documentationLink": "https://cloud.google.com/firestore",
  "fullyEncodeReservedExpansion": true,
  "name": "firestore",
  "protocol": "rest",
  "baseUrl": "https://firestore.googleapis.com/",
  "rootUrl": "https://firestore.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "firestore:v1beta1",
  "discoveryVersion": "v1",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/datastore": {
          "description": "View and manage your Google Cloud Datastore data"
        }
      }
    }
  },
  "description": "Accesses the NoSQL document database built for automatic scaling, high performance, and ease of application development. ",
  "revision": "20260911",
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "title": "Cloud Firestore API",
  "version": "v1beta1",
  "resources": {
    "projects": {
      "resources": {
        "databases": {
          "resources": {
            "indexes": {
              "methods": {
                "create": {
                  "description": "Creates the specified index. A newly created index's initial state is `CREATING`. On completion of the returned google.longrunning.Operation, the state will be `READY`. If the index already exists, the call will return an `ALREADY_EXISTS` status. During creation, the process could result in an error, in which case the index will move to the `ERROR` state. The process can be recovered by fixing the data that caused the error, removing the index with delete, then re-creating the index with create. Indexes with a single field cannot be created.",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "The name of the database this index will apply to. For example: `projects/{project_id}/databases/{database_id}`"
                    }
                  },
                  "path": "v1beta1/{+parent}/indexes",
                  "httpMethod": "POST",
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/indexes",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "id": "firestore.projects.databases.indexes.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleFirestoreAdminV1beta1Index"
                  }
                },
                "delete": {
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/indexes/{indexesId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "The index name. For example: `projects/{project_id}/databases/{database_id}/indexes/{index_id}`",
                      "required": true,
                      "pattern": "^projects/[^/]+/databases/[^/]+/indexes/[^/]+$",
                      "type": "string"
                    }
                  },
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta1/{+name}",
                  "description": "Deletes an index.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "id": "firestore.projects.databases.indexes.delete"
                },
                "list": {
                  "id": "firestore.projects.databases.indexes.list",
                  "path": "v1beta1/{+parent}/indexes",
                  "description": "Lists the indexes that match the specified filters.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "The standard List page size.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "The standard List page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "The database name. For example: `projects/{project_id}/databases/{database_id}`"
                    }
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/indexes",
                  "response": {
                    "$ref": "GoogleFirestoreAdminV1beta1ListIndexesResponse"
                  }
                },
                "get": {
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/indexes/{indexesId}",
                  "response": {
                    "$ref": "GoogleFirestoreAdminV1beta1Index"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "description": "Gets an index.",
                  "id": "firestore.projects.databases.indexes.get",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "The name of the index. For example: `projects/{project_id}/databases/{database_id}/indexes/{index_id}`",
                      "required": true,
                      "pattern": "^projects/[^/]+/databases/[^/]+/indexes/[^/]+$",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "path": "v1beta1/{+name}"
                }
              }
            },
            "documents": {
              "methods": {
                "partitionQuery": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource name. In the format: `projects/{project_id}/databases/{database_id}/documents`. Document resource names are not supported; only database resource names can be specified.",
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "path": "v1beta1/{+parent}:partitionQuery",
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}:partitionQuery",
                  "response": {
                    "$ref": "PartitionQueryResponse"
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "PartitionQueryRequest"
                  },
                  "id": "firestore.projects.databases.documents.partitionQuery",
                  "description": "Partitions a query by returning partition cursors that can be used to run the query in parallel. The returned partition cursors are split points that can be used by RunQuery as starting/end points for the query results."
                },
                "batchWrite": {
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents:batchWrite",
                  "response": {
                    "$ref": "BatchWriteResponse"
                  },
                  "path": "v1beta1/{+database}/documents:batchWrite",
                  "description": "Applies a batch of write operations. The BatchWrite method does not apply the write operations atomically and can apply them out of order. Method does not allow more than one write per document. Each write succeeds or fails independently. See the BatchWriteResponse for the success status of each write. If you require an atomically applied set of writes, use Commit instead.",
                  "request": {
                    "$ref": "BatchWriteRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameters": {
                    "database": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "required": true,
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`."
                    }
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "database"
                  ],
                  "id": "firestore.projects.databases.documents.batchWrite"
                },
                "list": {
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}/{collectionId}",
                  "response": {
                    "$ref": "ListDocumentsResponse"
                  },
                  "parameters": {
                    "transaction": {
                      "format": "byte",
                      "description": "Perform the read as part of an already active transaction.",
                      "location": "query",
                      "type": "string"
                    },
                    "showMissing": {
                      "location": "query",
                      "type": "boolean",
                      "description": "If the list should show missing documents. A document is missing if it does not exist, but there are sub-documents nested underneath it. When true, such missing documents will be returned with a key but will not have fields, `create_time`, or `update_time` set. Requests with `show_missing` may not specify `where` or `order_by`."
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `ListDocuments` response. Provide this to retrieve the subsequent page. When paginating, all other parameters (with the exception of `page_size`) must match the values set in the request that generated the page token.",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. The maximum number of documents to return in a single response. Firestore may return fewer than this value.",
                      "type": "integer"
                    },
                    "readTime": {
                      "format": "google-datetime",
                      "location": "query",
                      "type": "string",
                      "description": "Perform the read at the provided time. This must be a microsecond precision timestamp within the past one hour, or if Point-in-Time Recovery is enabled, can additionally be a whole minute timestamp within the past 7 days."
                    },
                    "parent": {
                      "description": "Required. The parent resource name. In the format: `projects/{project_id}/databases/{database_id}/documents` or `projects/{project_id}/databases/{database_id}/documents/{document_path}`. For example: `projects/my-project/databases/my-database/documents` or `projects/my-project/databases/my-database/documents/chatrooms/my-chatroom`",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "location": "path"
                    },
                    "requestOptions.requestTags": {
                      "description": "Optional. The request tags for the request. Request tags are user-provided strings used for usage monitoring, cost management, and observability. Callers can associate custom application context (such as component, microservice, feature name, or operation type) with database requests. These tags are collected and aggregated in usage and monitoring reports, allowing billable operations and usage metrics to be sliced and analyzed by tag. These tags *only* show up in monitoring and are visible in administrative operations (such as usage reports). They do not affect data storage, query semantics, or request execution. Cardinality and Best Practices: - Request tags are most effective when using a bounded set of distinct values (e.g., fewer than 100 distinct tags across an entire database). Using a large number of distinct tags may result in tags being omitted from top usage dashboards. - Use structured identifiers (for example: `app=cart`, `env=prod`, `service=checkout`) and avoid high-cardinality values such as UUIDs, request IDs, timestamps, user IDs, or document keys. - Do not include sensitive data or personally identifiable information (PII) in request tags, as they show up in administrative monitoring. The tags are processed as follows: - Leading and trailing whitespace is trimmed. - Empty tags (after trimming) are filtered out. - Truncated to a maximum of 510 characters. - Deduplicated within the same request. - Limited to a maximum of 50 tags per request (excess tags are silently discarded).",
                      "type": "string",
                      "location": "query",
                      "repeated": true
                    },
                    "mask.fieldPaths": {
                      "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference.",
                      "location": "query",
                      "repeated": true,
                      "type": "string"
                    },
                    "orderBy": {
                      "description": "Optional. The optional ordering of the documents to return. For example: `priority desc, __name__ desc`. This mirrors the `ORDER BY` used in Firestore queries but in a string representation. When absent, documents are ordered based on `__name__ ASC`.",
                      "type": "string",
                      "location": "query"
                    },
                    "recursive": {
                      "location": "query",
                      "description": "Optional. If the list should recursively include all documents nested under the parent at any level. If the request specifies a `collection_id`, then the list will include all nested documents in the collection under the parent. This is optional, and when not provided, Firestore will only list documents nested immediately under the parent. Requests with `recursive` may not specify `show_missing`.",
                      "type": "boolean"
                    },
                    "collectionId": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Optional. The collection ID, relative to `parent`, to list. For example: `chatrooms` or `messages`. This is optional, and when not provided, Firestore will list documents from all collections under the provided `parent`."
                    }
                  },
                  "id": "firestore.projects.databases.documents.list",
                  "description": "Lists documents.",
                  "parameterOrder": [
                    "parent",
                    "collectionId"
                  ],
                  "httpMethod": "GET",
                  "path": "v1beta1/{+parent}/{collectionId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ]
                },
                "runAggregationQuery": {
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The parent resource name. In the format: `projects/{project_id}/databases/{database_id}/documents` or `projects/{project_id}/databases/{database_id}/documents/{document_path}`. For example: `projects/my-project/databases/my-database/documents` or `projects/my-project/databases/my-database/documents/chatrooms/my-chatroom`",
                      "required": true
                    }
                  },
                  "description": "Runs an aggregation query. Rather than producing Document results like Firestore.RunQuery, this API allows running an aggregation to produce a series of AggregationResult server-side. High-Level Example: ``` -- Return the number of documents in table given a filter. SELECT COUNT(*) FROM ( SELECT * FROM k where a = true ); ```",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "RunAggregationQueryRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "path": "v1beta1/{+parent}:runAggregationQuery",
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}:runAggregationQuery",
                  "response": {
                    "$ref": "RunAggregationQueryResponse"
                  },
                  "id": "firestore.projects.databases.documents.runAggregationQuery"
                },
                "listCollectionIds": {
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "description": "Required. The parent document. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`. For example: `projects/my-project/databases/my-database/documents/chatrooms/my-chatroom` Use `projects/{project_id}/databases/{database_id}/documents` to list top-level collections.",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}:listCollectionIds",
                  "response": {
                    "$ref": "ListCollectionIdsResponse"
                  },
                  "description": "Lists all the collection IDs underneath a document.",
                  "id": "firestore.projects.databases.documents.listCollectionIds",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "path": "v1beta1/{+parent}:listCollectionIds",
                  "request": {
                    "$ref": "ListCollectionIdsRequest"
                  }
                },
                "batchGet": {
                  "description": "Gets multiple documents. Documents returned by this method are not guaranteed to be returned in the same order that they were requested.",
                  "httpMethod": "POST",
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents:batchGet",
                  "response": {
                    "$ref": "BatchGetDocumentsResponse"
                  },
                  "id": "firestore.projects.databases.documents.batchGet",
                  "parameters": {
                    "database": {
                      "required": true,
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "request": {
                    "$ref": "BatchGetDocumentsRequest"
                  },
                  "path": "v1beta1/{+database}/documents:batchGet",
                  "parameterOrder": [
                    "database"
                  ]
                },
                "listen": {
                  "description": "Listens to changes. This method is only available via gRPC or WebChannel (not REST).",
                  "id": "firestore.projects.databases.documents.listen",
                  "path": "v1beta1/{+database}/documents:listen",
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents:listen",
                  "response": {
                    "$ref": "ListenResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameters": {
                    "database": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "type": "string",
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`."
                    }
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "ListenRequest"
                  },
                  "parameterOrder": [
                    "database"
                  ]
                },
                "listDocuments": {
                  "parameterOrder": [
                    "parent",
                    "collectionId"
                  ],
                  "id": "firestore.projects.databases.documents.listDocuments",
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. The maximum number of documents to return in a single response. Firestore may return fewer than this value.",
                      "type": "integer",
                      "location": "query"
                    },
                    "readTime": {
                      "type": "string",
                      "location": "query",
                      "description": "Perform the read at the provided time. This must be a microsecond precision timestamp within the past one hour, or if Point-in-Time Recovery is enabled, can additionally be a whole minute timestamp within the past 7 days.",
                      "format": "google-datetime"
                    },
                    "mask.fieldPaths": {
                      "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference.",
                      "type": "string",
                      "location": "query",
                      "repeated": true
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent resource name. In the format: `projects/{project_id}/databases/{database_id}/documents` or `projects/{project_id}/databases/{database_id}/documents/{document_path}`. For example: `projects/my-project/databases/my-database/documents` or `projects/my-project/databases/my-database/documents/chatrooms/my-chatroom`",
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents$",
                      "type": "string",
                      "required": true
                    },
                    "requestOptions.requestTags": {
                      "location": "query",
                      "repeated": true,
                      "description": "Optional. The request tags for the request. Request tags are user-provided strings used for usage monitoring, cost management, and observability. Callers can associate custom application context (such as component, microservice, feature name, or operation type) with database requests. These tags are collected and aggregated in usage and monitoring reports, allowing billable operations and usage metrics to be sliced and analyzed by tag. These tags *only* show up in monitoring and are visible in administrative operations (such as usage reports). They do not affect data storage, query semantics, or request execution. Cardinality and Best Practices: - Request tags are most effective when using a bounded set of distinct values (e.g., fewer than 100 distinct tags across an entire database). Using a large number of distinct tags may result in tags being omitted from top usage dashboards. - Use structured identifiers (for example: `app=cart`, `env=prod`, `service=checkout`) and avoid high-cardinality values such as UUIDs, request IDs, timestamps, user IDs, or document keys. - Do not include sensitive data or personally identifiable information (PII) in request tags, as they show up in administrative monitoring. The tags are processed as follows: - Leading and trailing whitespace is trimmed. - Empty tags (after trimming) are filtered out. - Truncated to a maximum of 510 characters. - Deduplicated within the same request. - Limited to a maximum of 50 tags per request (excess tags are silently discarded).",
                      "type": "string"
                    },
                    "recursive": {
                      "location": "query",
                      "description": "Optional. If the list should recursively include all documents nested under the parent at any level. If the request specifies a `collection_id`, then the list will include all nested documents in the collection under the parent. This is optional, and when not provided, Firestore will only list documents nested immediately under the parent. Requests with `recursive` may not specify `show_missing`.",
                      "type": "boolean"
                    },
                    "transaction": {
                      "type": "string",
                      "location": "query",
                      "format": "byte",
                      "description": "Perform the read as part of an already active transaction."
                    },
                    "showMissing": {
                      "location": "query",
                      "description": "If the list should show missing documents. A document is missing if it does not exist, but there are sub-documents nested underneath it. When true, such missing documents will be returned with a key but will not have fields, `create_time`, or `update_time` set. Requests with `show_missing` may not specify `where` or `order_by`.",
                      "type": "boolean"
                    },
                    "collectionId": {
                      "required": true,
                      "description": "Optional. The collection ID, relative to `parent`, to list. For example: `chatrooms` or `messages`. This is optional, and when not provided, Firestore will list documents from all collections under the provided `parent`.",
                      "type": "string",
                      "location": "path"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `ListDocuments` response. Provide this to retrieve the subsequent page. When paginating, all other parameters (with the exception of `page_size`) must match the values set in the request that generated the page token."
                    },
                    "orderBy": {
                      "location": "query",
                      "description": "Optional. The optional ordering of the documents to return. For example: `priority desc, __name__ desc`. This mirrors the `ORDER BY` used in Firestore queries but in a string representation. When absent, documents are ordered based on `__name__ ASC`.",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "path": "v1beta1/{+parent}/{collectionId}",
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents/{collectionId}",
                  "response": {
                    "$ref": "ListDocumentsResponse"
                  },
                  "description": "Lists documents.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ]
                },
                "commit": {
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameters": {
                    "database": {
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "location": "path"
                    }
                  },
                  "id": "firestore.projects.databases.documents.commit",
                  "path": "v1beta1/{+database}/documents:commit",
                  "request": {
                    "$ref": "CommitRequest"
                  },
                  "parameterOrder": [
                    "database"
                  ],
                  "description": "Commits a transaction, while optionally updating documents.",
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents:commit",
                  "response": {
                    "$ref": "CommitResponse"
                  }
                },
                "write": {
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "database"
                  ],
                  "parameters": {
                    "database": {
                      "location": "path",
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`. This is only required in the first message.",
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "id": "firestore.projects.databases.documents.write",
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents:write",
                  "response": {
                    "$ref": "WriteResponse"
                  },
                  "description": "Streams batches of document updates and deletes, in order. This method is only available via gRPC or WebChannel (not REST).",
                  "path": "v1beta1/{+database}/documents:write",
                  "request": {
                    "$ref": "WriteRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ]
                },
                "rollback": {
                  "path": "v1beta1/{+database}/documents:rollback",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents:rollback",
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "firestore.projects.databases.documents.rollback",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "database"
                  ],
                  "parameters": {
                    "database": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "required": true,
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`.",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "RollbackRequest"
                  },
                  "description": "Rolls back a transaction."
                },
                "createDocument": {
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{collectionId}",
                  "response": {
                    "$ref": "Document"
                  },
                  "parameters": {
                    "mask.fieldPaths": {
                      "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference.",
                      "type": "string",
                      "location": "query",
                      "repeated": true
                    },
                    "documentId": {
                      "location": "query",
                      "type": "string",
                      "description": "The client-assigned document ID to use for this document. Optional. If not specified, an ID will be assigned by the service."
                    },
                    "collectionId": {
                      "type": "string",
                      "description": "Required. The collection ID, relative to `parent`, to list. For example: `chatrooms`.",
                      "location": "path",
                      "required": true
                    },
                    "requestOptions.requestTags": {
                      "location": "query",
                      "repeated": true,
                      "type": "string",
                      "description": "Optional. The request tags for the request. Request tags are user-provided strings used for usage monitoring, cost management, and observability. Callers can associate custom application context (such as component, microservice, feature name, or operation type) with database requests. These tags are collected and aggregated in usage and monitoring reports, allowing billable operations and usage metrics to be sliced and analyzed by tag. These tags *only* show up in monitoring and are visible in administrative operations (such as usage reports). They do not affect data storage, query semantics, or request execution. Cardinality and Best Practices: - Request tags are most effective when using a bounded set of distinct values (e.g., fewer than 100 distinct tags across an entire database). Using a large number of distinct tags may result in tags being omitted from top usage dashboards. - Use structured identifiers (for example: `app=cart`, `env=prod`, `service=checkout`) and avoid high-cardinality values such as UUIDs, request IDs, timestamps, user IDs, or document keys. - Do not include sensitive data or personally identifiable information (PII) in request tags, as they show up in administrative monitoring. The tags are processed as follows: - Leading and trailing whitespace is trimmed. - Empty tags (after trimming) are filtered out. - Truncated to a maximum of 510 characters. - Deduplicated within the same request. - Limited to a maximum of 50 tags per request (excess tags are silently discarded)."
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/.*$",
                      "description": "Required. The parent resource. For example: `projects/{project_id}/databases/{database_id}/documents` or `projects/{project_id}/databases/{database_id}/documents/chatrooms/{chatroom_id}`",
                      "type": "string",
                      "required": true
                    }
                  },
                  "httpMethod": "POST",
                  "description": "Creates a new document.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "id": "firestore.projects.databases.documents.createDocument",
                  "parameterOrder": [
                    "parent",
                    "collectionId"
                  ],
                  "path": "v1beta1/{+parent}/{collectionId}",
                  "request": {
                    "$ref": "Document"
                  }
                },
                "get": {
                  "parameters": {
                    "requestOptions.requestTags": {
                      "description": "Optional. The request tags for the request. Request tags are user-provided strings used for usage monitoring, cost management, and observability. Callers can associate custom application context (such as component, microservice, feature name, or operation type) with database requests. These tags are collected and aggregated in usage and monitoring reports, allowing billable operations and usage metrics to be sliced and analyzed by tag. These tags *only* show up in monitoring and are visible in administrative operations (such as usage reports). They do not affect data storage, query semantics, or request execution. Cardinality and Best Practices: - Request tags are most effective when using a bounded set of distinct values (e.g., fewer than 100 distinct tags across an entire database). Using a large number of distinct tags may result in tags being omitted from top usage dashboards. - Use structured identifiers (for example: `app=cart`, `env=prod`, `service=checkout`) and avoid high-cardinality values such as UUIDs, request IDs, timestamps, user IDs, or document keys. - Do not include sensitive data or personally identifiable information (PII) in request tags, as they show up in administrative monitoring. The tags are processed as follows: - Leading and trailing whitespace is trimmed. - Empty tags (after trimming) are filtered out. - Truncated to a maximum of 510 characters. - Deduplicated within the same request. - Limited to a maximum of 50 tags per request (excess tags are silently discarded).",
                      "location": "query",
                      "repeated": true,
                      "type": "string"
                    },
                    "mask.fieldPaths": {
                      "location": "query",
                      "repeated": true,
                      "type": "string",
                      "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference."
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The resource name of the Document to get. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`."
                    },
                    "transaction": {
                      "location": "query",
                      "format": "byte",
                      "type": "string",
                      "description": "Reads the document in a transaction."
                    },
                    "readTime": {
                      "description": "Reads the version of the document at the given time. This must be a microsecond precision timestamp within the past one hour, or if Point-in-Time Recovery is enabled, can additionally be a whole minute timestamp within the past 7 days.",
                      "type": "string",
                      "format": "google-datetime",
                      "location": "query"
                    }
                  },
                  "description": "Gets a single document.",
                  "httpMethod": "GET",
                  "id": "firestore.projects.databases.documents.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}",
                  "response": {
                    "$ref": "Document"
                  },
                  "path": "v1beta1/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "executePipeline": {
                  "path": "v1beta1/{+database}/documents:executePipeline",
                  "parameters": {
                    "database": {
                      "description": "Required. Database identifier, in the form `projects/{project}/databases/{database}`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "database"
                  ],
                  "request": {
                    "$ref": "ExecutePipelineRequest"
                  },
                  "id": "firestore.projects.databases.documents.executePipeline",
                  "description": "Executes a pipeline query.",
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents:executePipeline",
                  "response": {
                    "$ref": "ExecutePipelineResponse"
                  }
                },
                "beginTransaction": {
                  "path": "v1beta1/{+database}/documents:beginTransaction",
                  "description": "Starts a new transaction.",
                  "id": "firestore.projects.databases.documents.beginTransaction",
                  "httpMethod": "POST",
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents:beginTransaction",
                  "response": {
                    "$ref": "BeginTransactionResponse"
                  },
                  "parameters": {
                    "database": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "required": true,
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`.",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameterOrder": [
                    "database"
                  ],
                  "request": {
                    "$ref": "BeginTransactionRequest"
                  }
                },
                "runQuery": {
                  "request": {
                    "$ref": "RunQueryRequest"
                  },
                  "description": "Runs a query.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "id": "firestore.projects.databases.documents.runQuery",
                  "path": "v1beta1/{+parent}:runQuery",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource name. In the format: `projects/{project_id}/databases/{database_id}/documents` or `projects/{project_id}/databases/{database_id}/documents/{document_path}`. For example: `projects/my-project/databases/my-database/documents` or `projects/my-project/databases/my-database/documents/chatrooms/my-chatroom`",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}:runQuery",
                  "response": {
                    "$ref": "RunQueryResponse"
                  }
                },
                "patch": {
                  "request": {
                    "$ref": "Document"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "path": "v1beta1/{+name}",
                  "description": "Updates or inserts a document.",
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}",
                  "response": {
                    "$ref": "Document"
                  },
                  "httpMethod": "PATCH",
                  "parameters": {
                    "currentDocument.updateTime": {
                      "description": "When set, the target document must exist and have been last updated at that time. Timestamp must be microsecond aligned.",
                      "format": "google-datetime",
                      "location": "query",
                      "type": "string"
                    },
                    "requestOptions.requestTags": {
                      "type": "string",
                      "description": "Optional. The request tags for the request. Request tags are user-provided strings used for usage monitoring, cost management, and observability. Callers can associate custom application context (such as component, microservice, feature name, or operation type) with database requests. These tags are collected and aggregated in usage and monitoring reports, allowing billable operations and usage metrics to be sliced and analyzed by tag. These tags *only* show up in monitoring and are visible in administrative operations (such as usage reports). They do not affect data storage, query semantics, or request execution. Cardinality and Best Practices: - Request tags are most effective when using a bounded set of distinct values (e.g., fewer than 100 distinct tags across an entire database). Using a large number of distinct tags may result in tags being omitted from top usage dashboards. - Use structured identifiers (for example: `app=cart`, `env=prod`, `service=checkout`) and avoid high-cardinality values such as UUIDs, request IDs, timestamps, user IDs, or document keys. - Do not include sensitive data or personally identifiable information (PII) in request tags, as they show up in administrative monitoring. The tags are processed as follows: - Leading and trailing whitespace is trimmed. - Empty tags (after trimming) are filtered out. - Truncated to a maximum of 510 characters. - Deduplicated within the same request. - Limited to a maximum of 50 tags per request (excess tags are silently discarded).",
                      "location": "query",
                      "repeated": true
                    },
                    "mask.fieldPaths": {
                      "type": "string",
                      "location": "query",
                      "repeated": true,
                      "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference."
                    },
                    "name": {
                      "description": "The resource name of the document, for example `projects/{project_id}/databases/{database_id}/documents/{document_path}`.",
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "updateMask.fieldPaths": {
                      "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference.",
                      "type": "string",
                      "location": "query",
                      "repeated": true
                    },
                    "currentDocument.exists": {
                      "type": "boolean",
                      "description": "When set to `true`, the target document must exist. When set to `false`, the target document must not exist.",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "firestore.projects.databases.documents.patch"
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "httpMethod": "DELETE",
                  "id": "firestore.projects.databases.documents.delete",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The resource name of the Document to delete. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "location": "path"
                    },
                    "currentDocument.updateTime": {
                      "location": "query",
                      "format": "google-datetime",
                      "description": "When set, the target document must exist and have been last updated at that time. Timestamp must be microsecond aligned.",
                      "type": "string"
                    },
                    "currentDocument.exists": {
                      "location": "query",
                      "type": "boolean",
                      "description": "When set to `true`, the target document must exist. When set to `false`, the target document must not exist."
                    },
                    "requestOptions.requestTags": {
                      "type": "string",
                      "location": "query",
                      "repeated": true,
                      "description": "Optional. The request tags for the request. Request tags are user-provided strings used for usage monitoring, cost management, and observability. Callers can associate custom application context (such as component, microservice, feature name, or operation type) with database requests. These tags are collected and aggregated in usage and monitoring reports, allowing billable operations and usage metrics to be sliced and analyzed by tag. These tags *only* show up in monitoring and are visible in administrative operations (such as usage reports). They do not affect data storage, query semantics, or request execution. Cardinality and Best Practices: - Request tags are most effective when using a bounded set of distinct values (e.g., fewer than 100 distinct tags across an entire database). Using a large number of distinct tags may result in tags being omitted from top usage dashboards. - Use structured identifiers (for example: `app=cart`, `env=prod`, `service=checkout`) and avoid high-cardinality values such as UUIDs, request IDs, timestamps, user IDs, or document keys. - Do not include sensitive data or personally identifiable information (PII) in request tags, as they show up in administrative monitoring. The tags are processed as follows: - Leading and trailing whitespace is trimmed. - Empty tags (after trimming) are filtered out. - Truncated to a maximum of 510 characters. - Deduplicated within the same request. - Limited to a maximum of 50 tags per request (excess tags are silently discarded)."
                    }
                  },
                  "path": "v1beta1/{+name}",
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a document."
                }
              }
            }
          },
          "methods": {
            "exportDocuments": {
              "description": "Exports a copy of all or a subset of documents from Google Cloud Firestore to another storage system, such as Google Cloud Storage. Recent updates to documents may not be reflected in the export. The export occurs in the background and its progress can be monitored and managed via the Operation resource that is created. The output of an export may only be used once the associated operation is done. If an export operation is cancelled before completion it may leave partial data behind in Google Cloud Storage.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}:exportDocuments",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameters": {
                "name": {
                  "description": "Database to export. Should be of the form: `projects/{project_id}/databases/{database_id}`.",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/databases/[^/]+$",
                  "location": "path"
                }
              },
              "path": "v1beta1/{+name}:exportDocuments",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleFirestoreAdminV1beta1ExportDocumentsRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "id": "firestore.projects.databases.exportDocuments"
            },
            "importDocuments": {
              "description": "Imports documents into Google Cloud Firestore. Existing documents with the same name are overwritten. The import occurs in the background and its progress can be monitored and managed via the Operation resource that is created. If an ImportDocuments operation is cancelled, it is possible that a subset of the data has already been imported to Cloud Firestore.",
              "id": "firestore.projects.databases.importDocuments",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleFirestoreAdminV1beta1ImportDocumentsRequest"
              },
              "path": "v1beta1/{+name}:importDocuments",
              "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}:importDocuments",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Database to import into. Should be of the form: `projects/{project_id}/databases/{database_id}`.",
                  "pattern": "^projects/[^/]+/databases/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "httpMethod": "POST"
            }
          }
        }
      }
    }
  },
  "batchPath": "batch",
  "endpoints": [
    {
      "endpointUrl": "https://firestore.africa-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "africa-south1"
    },
    {
      "location": "asia-east1",
      "endpointUrl": "https://firestore.asia-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-east2",
      "endpointUrl": "https://firestore.asia-east2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast1",
      "endpointUrl": "https://firestore.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://firestore.asia-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast2"
    },
    {
      "location": "asia-northeast3",
      "endpointUrl": "https://firestore.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://firestore.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south1"
    },
    {
      "endpointUrl": "https://firestore.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south2"
    },
    {
      "location": "asia-southeast1",
      "endpointUrl": "https://firestore.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-southeast2",
      "endpointUrl": "https://firestore.asia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-southeast3",
      "endpointUrl": "https://firestore.asia-southeast3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://firestore.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "australia-southeast1"
    },
    {
      "endpointUrl": "https://firestore.australia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "australia-southeast2"
    },
    {
      "endpointUrl": "https://firestore.europe-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-central2"
    },
    {
      "location": "europe-north1",
      "endpointUrl": "https://firestore.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-north2",
      "endpointUrl": "https://firestore.europe-north2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://firestore.europe-southwest1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-southwest1"
    },
    {
      "location": "europe-west1",
      "endpointUrl": "https://firestore.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://firestore.europe-west10.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west10"
    },
    {
      "location": "europe-west12",
      "endpointUrl": "https://firestore.europe-west12.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west2",
      "endpointUrl": "https://firestore.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west3",
      "endpointUrl": "https://firestore.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west4",
      "endpointUrl": "https://firestore.europe-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://firestore.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west6"
    },
    {
      "location": "europe-west8",
      "endpointUrl": "https://firestore.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://firestore.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west9"
    },
    {
      "location": "me-central1",
      "endpointUrl": "https://firestore.me-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "me-central2",
      "endpointUrl": "https://firestore.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "me-west1",
      "endpointUrl": "https://firestore.me-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "northamerica-northeast1",
      "endpointUrl": "https://firestore.northamerica-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "northamerica-northeast2",
      "endpointUrl": "https://firestore.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "northamerica-south1",
      "endpointUrl": "https://firestore.northamerica-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://firestore.southamerica-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "southamerica-east1"
    },
    {
      "location": "southamerica-west1",
      "endpointUrl": "https://firestore.southamerica-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://firestore.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central1"
    },
    {
      "endpointUrl": "https://firestore.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east1"
    },
    {
      "endpointUrl": "https://firestore.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east4"
    },
    {
      "location": "us-east5",
      "endpointUrl": "https://firestore.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-south1",
      "endpointUrl": "https://firestore.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://firestore.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west1"
    },
    {
      "endpointUrl": "https://firestore.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west2"
    },
    {
      "location": "us-west3",
      "endpointUrl": "https://firestore.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west4",
      "endpointUrl": "https://firestore.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "africa-south1",
      "endpointUrl": "https://batch-firestore.africa-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://batch-firestore.asia-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-east1"
    },
    {
      "endpointUrl": "https://batch-firestore.asia-east2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-east2"
    },
    {
      "location": "asia-northeast1",
      "endpointUrl": "https://batch-firestore.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://batch-firestore.asia-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast2"
    },
    {
      "endpointUrl": "https://batch-firestore.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast3"
    },
    {
      "endpointUrl": "https://batch-firestore.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south1"
    },
    {
      "location": "asia-south2",
      "endpointUrl": "https://batch-firestore.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-southeast1",
      "endpointUrl": "https://batch-firestore.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://batch-firestore.asia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast2"
    },
    {
      "endpointUrl": "https://batch-firestore.asia-southeast3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast3"
    },
    {
      "endpointUrl": "https://batch-firestore.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "australia-southeast1"
    },
    {
      "endpointUrl": "https://batch-firestore.australia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "australia-southeast2"
    },
    {
      "endpointUrl": "https://batch-firestore.europe-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-central2"
    },
    {
      "location": "europe-north1",
      "endpointUrl": "https://batch-firestore.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-north2",
      "endpointUrl": "https://batch-firestore.europe-north2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-southwest1",
      "endpointUrl": "https://batch-firestore.europe-southwest1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west1",
      "endpointUrl": "https://batch-firestore.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west10",
      "endpointUrl": "https://batch-firestore.europe-west10.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://batch-firestore.europe-west12.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west12"
    },
    {
      "location": "europe-west2",
      "endpointUrl": "https://batch-firestore.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west3",
      "endpointUrl": "https://batch-firestore.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west4",
      "endpointUrl": "https://batch-firestore.europe-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west6",
      "endpointUrl": "https://batch-firestore.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://batch-firestore.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west8"
    },
    {
      "endpointUrl": "https://batch-firestore.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west9"
    },
    {
      "endpointUrl": "https://batch-firestore.me-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-central1"
    },
    {
      "location": "me-central2",
      "endpointUrl": "https://batch-firestore.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://batch-firestore.me-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-west1"
    },
    {
      "location": "northamerica-northeast1",
      "endpointUrl": "https://batch-firestore.northamerica-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "northamerica-northeast2",
      "endpointUrl": "https://batch-firestore.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://batch-firestore.northamerica-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-south1"
    },
    {
      "location": "southamerica-east1",
      "endpointUrl": "https://batch-firestore.southamerica-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://batch-firestore.southamerica-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "southamerica-west1"
    },
    {
      "location": "us-central1",
      "endpointUrl": "https://batch-firestore.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east1",
      "endpointUrl": "https://batch-firestore.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://batch-firestore.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east4"
    },
    {
      "location": "us-east5",
      "endpointUrl": "https://batch-firestore.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-south1",
      "endpointUrl": "https://batch-firestore.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://batch-firestore.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west1"
    },
    {
      "endpointUrl": "https://batch-firestore.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west2"
    },
    {
      "endpointUrl": "https://batch-firestore.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west3"
    },
    {
      "location": "us-west4",
      "endpointUrl": "https://batch-firestore.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "eu",
      "endpointUrl": "https://firestore.eu.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us",
      "endpointUrl": "https://firestore.us.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "eu",
      "endpointUrl": "https://batch-firestore.eu.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://batch-firestore.us.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us"
    }
  ],
  "canonicalName": "Firestore",
  "ownerDomain": "google.com",
  "parameters": {
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query",
      "description": "Data format for response.",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    }
  },
  "version_module": true,
  "schemas": {
    "FindNearest": {
      "id": "FindNearest",
      "type": "object",
      "description": "Nearest Neighbors search config. The ordering provided by FindNearest supersedes the order_by stage. If multiple documents have the same vector distance, the returned document order is not guaranteed to be stable between queries.",
      "properties": {
        "queryVector": {
          "description": "Required. The query vector that we are searching on. Must be a vector of no more than 2048 dimensions.",
          "$ref": "Value"
        },
        "vectorField": {
          "description": "Required. An indexed vector field to search upon. Only documents which contain vectors whose dimensionality match the query_vector can be returned.",
          "$ref": "FieldReference"
        },
        "distanceResultField": {
          "type": "string",
          "description": "Optional. Optional name of the field to output the result of the vector distance calculation. Must conform to document field name limitations."
        },
        "limit": {
          "description": "Required. The number of nearest neighbors to return. Must be a positive integer of no more than 1000.",
          "format": "int32",
          "type": "integer"
        },
        "distanceMeasure": {
          "type": "string",
          "enumDescriptions": [
            "Should not be set.",
            "Measures the EUCLIDEAN distance between the vectors. See [Euclidean](https://en.wikipedia.org/wiki/Euclidean_distance) to learn more. The resulting distance decreases the more similar two vectors are.",
            "COSINE distance compares vectors based on the angle between them, which allows you to measure similarity that isn't based on the vectors magnitude. We recommend using DOT_PRODUCT with unit normalized vectors instead of COSINE distance, which is mathematically equivalent with better performance. See [Cosine Similarity](https://en.wikipedia.org/wiki/Cosine_similarity) to learn more about COSINE similarity and COSINE distance. The resulting COSINE distance decreases the more similar two vectors are.",
            "Similar to cosine but is affected by the magnitude of the vectors. See [Dot Product](https://en.wikipedia.org/wiki/Dot_product) to learn more. The resulting distance increases the more similar two vectors are."
          ],
          "enum": [
            "DISTANCE_MEASURE_UNSPECIFIED",
            "EUCLIDEAN",
            "COSINE",
            "DOT_PRODUCT"
          ],
          "description": "Required. The distance measure to use, required."
        },
        "distanceThreshold": {
          "type": "number",
          "format": "double",
          "description": "Optional. Option to specify a threshold for which no less similar documents will be returned. The behavior of the specified `distance_measure` will affect the meaning of the distance threshold. Since DOT_PRODUCT distances increase when the vectors are more similar, the comparison is inverted. * For EUCLIDEAN, COSINE: `WHERE distance <= distance_threshold` * For DOT_PRODUCT: `WHERE distance >= distance_threshold`"
        }
      }
    },
    "RunAggregationQueryResponse": {
      "description": "The response for Firestore.RunAggregationQuery.",
      "type": "object",
      "properties": {
        "result": {
          "description": "A single aggregation result. Not present when reporting partial progress.",
          "$ref": "AggregationResult"
        },
        "explainMetrics": {
          "description": "Query explain metrics. This is only present when the RunAggregationQueryRequest.explain_options is provided, and it is sent only once with the last response in the stream.",
          "$ref": "ExplainMetrics"
        },
        "readTime": {
          "description": "The time at which the aggregate result was computed. This is always monotonically increasing; in this case, the previous AggregationResult in the result stream are guaranteed not to have changed between their `read_time` and this one. If the query returns no results, a response with `read_time` and no `result` will be sent, and this represents the time at which the query was run.",
          "type": "string",
          "format": "google-datetime"
        },
        "transaction": {
          "type": "string",
          "format": "byte",
          "description": "The transaction that was started as part of this request. Only present on the first response when the request requested to start a new transaction."
        }
      },
      "id": "RunAggregationQueryResponse"
    },
    "Value": {
      "properties": {
        "functionValue": {
          "$ref": "Function",
          "description": "A value that represents an unevaluated expression. **Requires:** * Not allowed to be used when writing documents."
        },
        "pipelineValue": {
          "description": "A value that represents an unevaluated pipeline. **Requires:** * Not allowed to be used when writing documents.",
          "$ref": "Pipeline"
        },
        "referenceValue": {
          "type": "string",
          "description": "A reference to a document. For example: `projects/{project_id}/databases/{database_id}/documents/{document_path}`."
        },
        "booleanValue": {
          "description": "A boolean value.",
          "type": "boolean"
        },
        "stringValue": {
          "type": "string",
          "description": "A string value. In Standard edition databases: * The string, represented as UTF-8, must not exceed 1 MiB - 89 bytes. * Only the first 1,500 bytes of the UTF-8 representation are considered by queries. In Enterprise edition databases, there is no limit on the size of the value. However, it is still subject to document and index entry size limits."
        },
        "timestampValue": {
          "description": "A timestamp value. Precise only to microseconds. When stored, any additional precision is rounded down.",
          "type": "string",
          "format": "google-datetime"
        },
        "mapValue": {
          "description": "A map value.",
          "$ref": "MapValue"
        },
        "arrayValue": {
          "description": "An array value. In Standard edition databases, an array value cannot directly contain another array value, though it can contain a map which contains another array. In Enterprise edition databases, an array value can contain another array value.",
          "$ref": "ArrayValue"
        },
        "fieldReferenceValue": {
          "description": "Value which references a field. This is considered relative (vs absolute) since it only refers to a field and not a field within a particular document. **Requires:** * Must follow field reference limitations. * Not allowed to be used when writing documents.",
          "type": "string"
        },
        "nullValue": {
          "type": "string",
          "enumDescriptions": [
            "Null value."
          ],
          "enum": [
            "NULL_VALUE"
          ],
          "description": "A null value."
        },
        "doubleValue": {
          "description": "A double value.",
          "type": "number",
          "format": "double"
        },
        "bytesValue": {
          "type": "string",
          "format": "byte",
          "description": "A bytes value. In Standard edition databases: * The value must not exceed 1 MiB - 89 bytes. * Only the first 1,500 bytes are considered by queries. In Enterprise edition databases, there is no limit on the size of the value. However, it is still subject to document and index entry size limits."
        },
        "integerValue": {
          "format": "int64",
          "type": "string",
          "description": "An integer value."
        },
        "geoPointValue": {
          "$ref": "LatLng",
          "description": "A geo point value representing a point on the surface of Earth."
        },
        "variableReferenceValue": {
          "description": "Pointer to a variable defined elsewhere in a pipeline. Unlike `field_reference_value` which references a field within a document, this refers to a variable, defined in a separate namespace than the fields of a document.",
          "type": "string"
        }
      },
      "description": "A message that can hold any of the supported value types.",
      "id": "Value",
      "type": "object"
    },
    "GoogleFirestoreAdminV1beta1IndexField": {
      "properties": {
        "fieldPath": {
          "description": "The path of the field. Must match the field path specification described by google.firestore.v1beta1.Document.fields. Special field path `__name__` may be used by itself or at the end of a path. `__type__` may be used only at the end of path.",
          "type": "string"
        },
        "mode": {
          "type": "string",
          "enumDescriptions": [
            "The mode is unspecified.",
            "The field's values are indexed so as to support sequencing in ascending order and also query by <, >, <=, >=, and =.",
            "The field's values are indexed so as to support sequencing in descending order and also query by <, >, <=, >=, and =.",
            "The field's array values are indexed so as to support membership using ARRAY_CONTAINS queries."
          ],
          "enum": [
            "MODE_UNSPECIFIED",
            "ASCENDING",
            "DESCENDING",
            "ARRAY_CONTAINS"
          ],
          "description": "The field's mode."
        }
      },
      "description": "A field of an index.",
      "type": "object",
      "id": "GoogleFirestoreAdminV1beta1IndexField"
    },
    "BatchWriteResponse": {
      "type": "object",
      "id": "BatchWriteResponse",
      "description": "The response from Firestore.BatchWrite.",
      "properties": {
        "writeResults": {
          "items": {
            "$ref": "WriteResult"
          },
          "description": "The result of applying the writes. This i-th write result corresponds to the i-th write in the request.",
          "type": "array"
        },
        "status": {
          "type": "array",
          "description": "The status of applying the writes. This i-th write status corresponds to the i-th write in the request.",
          "items": {
            "$ref": "Status"
          }
        }
      }
    },
    "Cursor": {
      "description": "A position in a query result set.",
      "type": "object",
      "id": "Cursor",
      "properties": {
        "values": {
          "items": {
            "$ref": "Value"
          },
          "type": "array",
          "description": "The values that represent a position, in the order they appear in the order by clause of a query. Can contain fewer values than specified in the order by clause."
        },
        "before": {
          "description": "If the position is just before or just after the given values, relative to the sort order defined by the query.",
          "type": "boolean"
        }
      }
    },
    "GoogleFirestoreAdminV1UpdateDatabaseMetadata": {
      "properties": {
        "startTime": {
          "description": "The time this operation started.",
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ],
          "description": "The state of the operation.",
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ],
          "type": "string"
        },
        "endTime": {
          "description": "The time this operation completed. Will be unset if operation still in progress.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Metadata related to the update database operation.",
      "type": "object",
      "id": "GoogleFirestoreAdminV1UpdateDatabaseMetadata"
    },
    "CommitResponse": {
      "description": "The response for Firestore.Commit.",
      "properties": {
        "commitTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the commit occurred. Any read with an equal or greater `read_time` is guaranteed to see the effects of the commit."
        },
        "writeResults": {
          "type": "array",
          "description": "The result of applying the writes. This i-th write result corresponds to the i-th write in the request.",
          "items": {
            "$ref": "WriteResult"
          }
        }
      },
      "type": "object",
      "id": "CommitResponse"
    },
    "BatchWriteRequest": {
      "properties": {
        "requestOptions": {
          "$ref": "RequestOptions",
          "description": "Optional. The request options for this request."
        },
        "labels": {
          "description": "Labels associated with this batch write.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "writes": {
          "type": "array",
          "items": {
            "$ref": "Write"
          },
          "description": "The writes to apply. Method does not apply writes atomically and does not guarantee ordering. Each write succeeds or fails independently. You cannot write to the same document more than once per request."
        }
      },
      "type": "object",
      "description": "The request for Firestore.BatchWrite.",
      "id": "BatchWriteRequest"
    },
    "RunQueryResponse": {
      "description": "The response for Firestore.RunQuery.",
      "id": "RunQueryResponse",
      "properties": {
        "readTime": {
          "type": "string",
          "description": "The time at which the document was read. This may be monotonically increasing; in this case, the previous documents in the result stream are guaranteed not to have changed between their `read_time` and this one. If the query returns no results, a response with `read_time` and no `document` will be sent, and this represents the time at which the query was run.",
          "format": "google-datetime"
        },
        "explainMetrics": {
          "description": "Query explain metrics. This is only present when the RunQueryRequest.explain_options is provided, and it is sent only once with the last response in the stream.",
          "$ref": "ExplainMetrics"
        },
        "document": {
          "description": "A query result, not set when reporting partial progress.",
          "$ref": "Document"
        },
        "skippedResults": {
          "description": "The number of results that have been skipped due to an offset between the last response and the current response.",
          "type": "integer",
          "format": "int32"
        },
        "transaction": {
          "description": "The transaction that was started as part of this request. Can only be set in the first response, and only if RunQueryRequest.new_transaction was set in the request. If set, no other fields will be set in this response.",
          "type": "string",
          "format": "byte"
        },
        "done": {
          "description": "If present, Firestore has completely finished the request and no more documents will be returned.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "DocumentDelete": {
      "id": "DocumentDelete",
      "properties": {
        "removedTargetIds": {
          "description": "A set of target IDs for targets that previously matched this entity.",
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        },
        "readTime": {
          "type": "string",
          "description": "The read timestamp at which the delete was observed. Greater or equal to the `commit_time` of the delete.",
          "format": "google-datetime"
        },
        "document": {
          "description": "The resource name of the Document that was deleted.",
          "type": "string"
        }
      },
      "description": "A Document has been deleted. May be the result of multiple writes, including updates, the last of which deleted the Document. Multiple DocumentDelete messages may be returned for the same logical delete, if multiple targets are affected.",
      "type": "object"
    },
    "GoogleFirestoreAdminV1beta1LocationMetadata": {
      "properties": {},
      "id": "GoogleFirestoreAdminV1beta1LocationMetadata",
      "type": "object",
      "description": "The metadata message for google.cloud.location.Location.metadata."
    },
    "GoogleFirestoreAdminV1CreateDatabaseMetadata": {
      "properties": {},
      "type": "object",
      "description": "Metadata related to the create database operation.",
      "id": "GoogleFirestoreAdminV1CreateDatabaseMetadata"
    },
    "RollbackRequest": {
      "type": "object",
      "id": "RollbackRequest",
      "description": "The request for Firestore.Rollback.",
      "properties": {
        "requestOptions": {
          "description": "Optional. The request options for this request.",
          "$ref": "RequestOptions"
        },
        "transaction": {
          "type": "string",
          "description": "Required. The transaction to roll back.",
          "format": "byte"
        }
      }
    },
    "ExecutionStats": {
      "type": "object",
      "description": "Execution statistics for the query.",
      "id": "ExecutionStats",
      "properties": {
        "resultsReturned": {
          "type": "string",
          "format": "int64",
          "description": "Total number of results returned, including documents, projections, aggregation results, keys."
        },
        "debugStats": {
          "description": "Debugging statistics from the execution of the query. Note that the debugging stats are subject to change as Firestore evolves. It could include: { \"indexes_entries_scanned\": \"1000\", \"documents_scanned\": \"20\", \"billing_details\" : { \"documents_billable\": \"20\", \"index_entries_billable\": \"1000\", \"min_query_cost\": \"0\" } }",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "readOperations": {
          "format": "int64",
          "description": "Total billable read operations.",
          "type": "string"
        },
        "executionDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "Total time to execute the query in the backend."
        }
      }
    },
    "GoogleFirestoreAdminV1beta1Progress": {
      "id": "GoogleFirestoreAdminV1beta1Progress",
      "description": "Measures the progress of a particular metric.",
      "type": "object",
      "properties": {
        "workCompleted": {
          "format": "int64",
          "type": "string",
          "description": "An estimate of how much work has been completed. Note that this may be greater than `work_estimated`."
        },
        "workEstimated": {
          "format": "int64",
          "type": "string",
          "description": "An estimate of how much work needs to be performed. Zero if the work estimate is unavailable. May change as work progresses."
        }
      }
    },
    "ExecutePipelineResponse": {
      "id": "ExecutePipelineResponse",
      "description": "The response for Firestore.ExecutePipeline.",
      "properties": {
        "explainStats": {
          "$ref": "ExplainStats",
          "description": "Query explain stats. This is present on the **last** response if the request configured explain to run in 'analyze' or 'explain' mode in the pipeline options. If the query does not return any results, a response with `explain_stats` and no `results` will still be sent."
        },
        "transaction": {
          "type": "string",
          "format": "byte",
          "description": "Newly created transaction identifier. This field is only specified as part of the first response from the server, alongside the `results` field when the original request specified ExecuteRequest.new_transaction."
        },
        "results": {
          "items": {
            "$ref": "Document"
          },
          "type": "array",
          "description": "An ordered batch of results returned executing a pipeline. The batch size is variable, and can even be zero for when only a partial progress message is returned. The fields present in the returned documents are only those that were explicitly requested in the pipeline, this includes those like `__name__` and `__update_time__`. This is explicitly a divergence from `Firestore.RunQuery` / `Firestore.GetDocument` RPCs which always return such fields even when they are not specified in the `mask`."
        },
        "executionTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the results are valid. This is a (not strictly) monotonically increasing value across multiple responses in the same stream. The API guarantees that all previously returned results are still valid at the latest `execution_time`. This allows the API consumer to treat the query if it ran at the latest `execution_time` returned. If the query returns no results, a response with `execution_time` and no `results` will be sent, and this represents the time at which the operation was run."
        }
      },
      "type": "object"
    },
    "GoogleFirestoreAdminV1beta1ExportDocumentsRequest": {
      "description": "The request for FirestoreAdmin.ExportDocuments.",
      "id": "GoogleFirestoreAdminV1beta1ExportDocumentsRequest",
      "properties": {
        "collectionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Which collection ids to export. Unspecified means all collections."
        },
        "outputUriPrefix": {
          "type": "string",
          "description": "The output URI. Currently only supports Google Cloud Storage URIs of the form: `gs://BUCKET_NAME[/NAMESPACE_PATH]`, where `BUCKET_NAME` is the name of the Google Cloud Storage bucket and `NAMESPACE_PATH` is an optional Google Cloud Storage namespace path. When choosing a name, be sure to consider Google Cloud Storage naming guidelines: https://cloud.google.com/storage/docs/naming. If the URI is a bucket (without a namespace path), a prefix will be generated based on the start time."
        }
      },
      "type": "object"
    },
    "TransactionOptions": {
      "type": "object",
[...]
