{
  "description": "This service provides an API for mobile app developers to request deletion of user's crash reports.",
  "version": "v1alpha",
  "rootUrl": "https://firebasecrashlytics.googleapis.com/",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        }
      }
    }
  },
  "documentationLink": "https://firebase.google.com/docs/crashlytics",
  "servicePath": "",
  "ownerName": "Google",
  "canonicalName": "Firebase Crashlytics",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "parameters": {
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "apps": {
          "resources": {
            "users": {
              "methods": {
                "deleteCrashReports": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. Resource name for user reports, in the format: projects/ PROJECT_IDENTIFIER/apps/APP_ID/users/USER_ID/crashReports - PROJECT_IDENTIFIER: The Firebase project's project number (recommended) or its project ID. Learn more about using project identifiers in Google's [AIP 2510 standard](https://google.aip.dev/cloud/2510). - APP_ID: The globally unique, Firebase-assigned identifier for the Firebase App. This is not your package name or bundle ID. Learn how to [find your app ID](https://firebase.google.com/support/faq/#find-app-id). - USER_ID: The user ID set using the Crashlytics SDK. Learn how to [set user identifiers](https://firebase.google.com/docs/crashlytics/customize-crash-reports#set-user-ids).",
                      "pattern": "^projects/[^/]+/apps/[^/]+/users/[^/]+/crashReports$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "path": "v1alpha/{+name}",
                  "id": "firebasecrashlytics.projects.apps.users.deleteCrashReports",
                  "httpMethod": "DELETE",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/users/{usersId}/crashReports",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "response": {
                    "$ref": "DeleteUserCrashReportsResponse"
                  },
                  "description": "Enqueues a request to permanently remove crash reports associated with the specified user. All reports belonging to the specified user will be deleted typically within 24 hours of receiving the crash report."
                }
              }
            },
            "issues": {
              "methods": {
                "batchUpdate": {
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues:batchUpdate",
                  "path": "v1alpha/{+parent}/issues:batchUpdate",
                  "request": {
                    "$ref": "BatchUpdateIssuesRequest"
                  },
                  "response": {
                    "$ref": "BatchUpdateIssuesResponse"
                  },
                  "id": "firebasecrashlytics.projects.apps.issues.batchUpdate",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Change the state of a group of issues. This method is not atomic, so partial failures can occur. In the event of a partial failure, the request will fail and you will need to call `GetIssue` to see which issues were not updated.",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The parent resource shared by all issues being updated. Format: projects/{project}/apps/{app}. If this is set, the parent field in the UpdateIssueRequest messages must either be empty or match this field.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                },
                "patch": {
                  "parameters": {
                    "name": {
                      "description": "Required. Output only. Immutable. Identifier. The name of the issue resource. Format: \"projects/{project}/apps/{app}/issues/{issue}\".",
                      "pattern": "^projects/[^/]+/apps/[^/]+/issues/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "Optional. The list of Issue fields to update. Currently only \"state\" is mutable."
                    }
                  },
                  "httpMethod": "PATCH",
                  "path": "v1alpha/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "response": {
                    "$ref": "Issue"
                  },
                  "description": "Change the state of an issue.",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues/{issuesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "Issue"
                  },
                  "id": "firebasecrashlytics.projects.apps.issues.patch"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}",
                  "httpMethod": "GET",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues/{issuesId}",
                  "description": "Retrieve an issue.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the issue to retrieve. Format: \"projects/{project}/apps/{app}/issues/{issue}\".",
                      "pattern": "^projects/[^/]+/apps/[^/]+/issues/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Issue"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebasecrashlytics.projects.apps.issues.get"
                }
              },
              "resources": {
                "notes": {
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "ListNotesResponse"
                      },
                      "httpMethod": "GET",
                      "id": "firebasecrashlytics.projects.apps.issues.notes.list",
                      "path": "v1alpha/{+parent}/notes",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/firebase"
                      ],
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "description": "Required. The issue the notes belongs to. Format: \"projects/{project}/apps/{app}/issues/{issue}\".",
                          "pattern": "^projects/[^/]+/apps/[^/]+/issues/[^/]+$",
                          "required": true,
                          "location": "path"
                        },
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "location": "query",
                          "description": "Optional. The maximum number of notes per page. If omitted, defaults to 10."
                        },
                        "pageToken": {
                          "description": "Optional. A page token, received from a previous calls.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues/{issuesId}/notes",
                      "description": "List all notes for a certain issue, sorted in descending order by timestamp."
                    },
                    "create": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/firebase"
                      ],
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "Note"
                      },
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/apps/[^/]+/issues/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The parent resource where this note will be created. Format: \"projects/{project}/apps/{app}/issues/{issue}\"."
                        }
                      },
                      "description": "Create a new note for an issue.",
                      "id": "firebasecrashlytics.projects.apps.issues.notes.create",
                      "path": "v1alpha/{+parent}/notes",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues/{issuesId}/notes",
                      "request": {
                        "$ref": "Note"
                      }
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "description": "Delete a note by its name.",
                      "response": {
                        "$ref": "Empty"
                      },
                      "path": "v1alpha/{+name}",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/apps/[^/]+/issues/[^/]+/notes/[^/]+$",
                          "description": "Required. The name of the note to delete. Format: projects/{project}/apps/{app}/issues/{issue}/notes/{note}.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "id": "firebasecrashlytics.projects.apps.issues.notes.delete",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/firebase"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues/{issuesId}/notes/{notesId}"
                    }
                  }
                }
              }
            },
            "events": {
              "methods": {
                "list": {
                  "description": "List the events for an issue matching filter criteria, sorted in descending order by timestamp.",
                  "id": "firebasecrashlytics.projects.apps.events.list",
                  "path": "v1alpha/{+parent}/events",
                  "response": {
                    "$ref": "ListEventsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/events",
                  "httpMethod": "GET",
                  "parameters": {
                    "filter.issue.variantId": {
                      "location": "query",
                      "description": "Optional. Only counts events for the given issue variant ID. This field matches [IssueVariant.id].",
                      "type": "string"
                    },
                    "filter.issue.errorTypes": {
                      "description": "Optional. Only counts events of the given error types. This field matches [Issue.error_type].",
                      "enum": [
                        "ERROR_TYPE_UNSPECIFIED",
                        "FATAL",
                        "NON_FATAL",
                        "ANR"
                      ],
                      "type": "string",
                      "location": "query",
                      "repeated": true,
                      "enumDescriptions": [
                        "Unknown.",
                        "Fatal crash event.",
                        "Non-fatal event, such as a caught Java exception or NSError on iOS.",
                        "Application not responding error, Android only."
                      ]
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous calls.",
                      "type": "string",
                      "location": "query"
                    },
                    "filter.interval.endTime": {
                      "location": "query",
                      "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
                      "format": "google-datetime",
                      "type": "string"
                    },
                    "filter.browser.displayNames": {
                      "description": "Optional. Only count events from the given browser. This string matches Browser.display_name. Format: \"name (display_version)\" e.g. \"Chrome (123)\", or just \"name\" for all possible versions, e.g. simply \"Chrome\".",
                      "type": "string",
                      "location": "query",
                      "repeated": true
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. The maximum number of events per page. If omitted, defaults to 10."
                    },
                    "filter.interval.startTime": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
                      "format": "google-datetime"
                    },
                    "filter.issue.states": {
                      "repeated": true,
                      "enumDescriptions": [
                        "Unknown.",
                        "Ongoing issue.",
                        "Issue resolved.",
                        "Issue muted. No alerts will be fired for this issue."
                      ],
                      "location": "query",
                      "type": "string",
                      "enum": [
                        "STATE_UNSPECIFIED",
                        "OPEN",
                        "CLOSED",
                        "MUTED"
                      ],
                      "description": "Optional. Only includes events for issues with the given issue states. Only available for `topIssues` reports."
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "description": "Required. The Firebase application. Format: \"projects/{project}/apps/{app_id}\"."
                    },
                    "filter.device.displayNames": {
                      "description": "Only counts events from the given Device model. This string matches Device.display_name. Format: \"manufacturer (model)\" e.g. \"Google (Pixel 6)\", or just \"manufacturer\" for all possible models, e.g. simply \"Google\". Note that a device's marketing_name field can not be used for filtering.",
                      "location": "query",
                      "repeated": true,
                      "type": "string"
                    },
                    "readMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "description": "Optional. The list of Event fields to include in the response. If omitted, the full event is returned.",
                      "location": "query"
                    },
                    "filter.operatingSystem.displayNames": {
                      "type": "string",
                      "location": "query",
                      "repeated": true,
                      "description": "Only counts events in the given operating system and version. This string matches OperatingSystem.display_name. Format: \"osName (osVersion)\" e.g. \"Android (11)\". or just \"osName\" for all versions, e.g. simply \"iPadOS\"."
                    },
                    "filter.version.displayNames": {
                      "type": "string",
                      "description": "Only counts events in the given app version. This string matches Version.display_name. Format: \"display_version (build_version)\" e.g. \"1.2.3 (456)\".",
                      "location": "query",
                      "repeated": true
                    },
                    "filter.issue.content": {
                      "description": "Optional. A space separated list of filter terms matched against the contents of the issue. Contents include the title and the stack trace. Matches must begin at alphanumeric tokens, i.e., 'util.Sorted' matches 'java.util.SortedSet' but not 'myutil.SortedArray'. The filter matches if all filter terms match. All non-alphanumeric characters are ignored for matching. Filtering is assumed to be prefix-search and order-independent unless phrases are surrounded by \"\". Any terms contained in quotes are searched using exact-match (given filter term \"foo\", we will not return \"foobar\"), and must appear in the order given exactly. To get order-dependence but prefix-search, use a * within the quotes (\"abc foo*\" will match \"abc foobar\", but not \"foo abc\" \"abcd foobar\", or \"abc xyz foobar\").",
                      "type": "string",
                      "location": "query"
                    },
                    "filter.issue.state": {
                      "description": "Optional. Deprecated: Prefer `states` field. Only includes events for issues with the given issue state. Only available for `topIssues` reports.",
                      "enumDescriptions": [
                        "Unknown.",
                        "Ongoing issue.",
                        "Issue resolved.",
                        "Issue muted. No alerts will be fired for this issue."
                      ],
                      "deprecated": true,
                      "enum": [
                        "STATE_UNSPECIFIED",
                        "OPEN",
                        "CLOSED",
                        "MUTED"
                      ],
                      "type": "string",
                      "location": "query"
                    },
                    "filter.issue.signals": {
                      "enum": [
                        "SIGNAL_UNSPECIFIED",
                        "SIGNAL_EARLY",
                        "SIGNAL_FRESH",
                        "SIGNAL_REGRESSED",
                        "SIGNAL_REPETITIVE"
                      ],
                      "type": "string",
                      "location": "query",
                      "enumDescriptions": [
                        "Default.",
                        "Indicates an issue that is impacting end users early in the app session.",
                        "Indicates newly detected issues.",
                        "Indicates previously closed issues which have been detected again.",
                        "Indicates issues impacting some end users multiple times."
                      ],
                      "repeated": true,
                      "description": "Optional. Only returns issues currently marked with the given signals. This field matches [Issue.signals.signal]."
                    },
                    "filter.issue.id": {
                      "location": "query",
                      "description": "Optional. Only counts events in the given issue ID. This field matches [Issue.id].",
                      "type": "string"
                    },
                    "filter.device.formFactors": {
                      "enumDescriptions": [
                        "Unknown.",
                        "Includes mobile phones, small foldables and other form factors not fitting the other categories.",
                        "Includes tablets and larger foldables.",
                        "Includes desktops, laptops, Chromebooks, etc.",
                        "Includes televisions and set-tops.",
                        "Includes both watches and other wearables."
                      ],
                      "type": "string",
                      "description": "Only counts events from devices with the given form factor (e.g. phone or tablet).",
                      "enum": [
                        "FORM_FACTOR_UNSPECIFIED",
                        "PHONE",
                        "TABLET",
                        "DESKTOP",
                        "TV",
                        "WATCH"
                      ],
                      "location": "query",
                      "repeated": true
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "batchGet": {
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "required": true,
                      "description": "Required. The firebase application. Format: \"projects/{project}/apps/{app_id}\"."
                    },
                    "readMask": {
                      "format": "google-fieldmask",
                      "description": "Optional. The list of Event fields to include in the response. If omitted, the full event is returned.",
                      "type": "string",
                      "location": "query"
                    },
                    "names": {
                      "location": "query",
                      "repeated": true,
                      "type": "string",
                      "description": "Required. The resource names of the desired events. A maximum of 100 events can be retrieved in a batch. Format: \"projects/{project}/apps/{app_id}/events/{event_id}\". The app_id and event_id are required, but project may be \"-\" to conserve space in long URIs."
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/events:batchGet",
                  "httpMethod": "GET",
                  "description": "Fetch a batch of up to 100 events by name.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebasecrashlytics.projects.apps.events.batchGet",
                  "response": {
                    "$ref": "BatchGetEventsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1alpha/{+parent}/events:batchGet"
                }
              }
            },
            "reports": {
              "methods": {
                "list": {
                  "id": "firebasecrashlytics.projects.apps.reports.list",
                  "httpMethod": "GET",
                  "description": "List all of the available reports.",
                  "response": {
                    "$ref": "ListReportsResponse"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The firebase application. Format: \"projects/{project}/apps/{app_id}\".",
                      "required": true,
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "type": "string"
                    }
                  },
                  "path": "v1alpha/{+parent}/reports",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/reports"
                },
                "get": {
                  "description": "Get a report with its computed results.",
                  "id": "firebasecrashlytics.projects.apps.reports.get",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/reports/{reportsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+/reports/[^/]+$",
                      "description": "Required. The report name. Format: \"projects/{project}/apps/{app_id}/reports/{report}\"."
                    },
                    "filter.operatingSystem.displayNames": {
                      "type": "string",
                      "description": "Only counts events in the given operating system and version. This string matches OperatingSystem.display_name. Format: \"osName (osVersion)\" e.g. \"Android (11)\". or just \"osName\" for all versions, e.g. simply \"iPadOS\".",
                      "location": "query",
                      "repeated": true
                    },
                    "filter.browser.displayNames": {
                      "type": "string",
                      "description": "Optional. Only count events from the given browser. This string matches Browser.display_name. Format: \"name (display_version)\" e.g. \"Chrome (123)\", or just \"name\" for all possible versions, e.g. simply \"Chrome\".",
                      "location": "query",
                      "repeated": true
                    },
                    "filter.issue.variantId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Only counts events for the given issue variant ID. This field matches [IssueVariant.id]."
                    },
                    "granularity": {
                      "enum": [
                        "TIME_GRANULARITY_UNSPECIFIED",
                        "TIME_GRANULARITY_NONE",
                        "TIME_GRANULARITY_HOUR",
                        "TIME_GRANULARITY_DAY"
                      ],
                      "type": "string",
                      "location": "query",
                      "enumDescriptions": [
                        "Unknown.",
                        "Returns a single interval for the requested time range.",
                        "Hour.",
                        "Day."
                      ],
                      "description": "Optional. The report response will contain one data point per time grain. If omitted, the report will contain a single data point for the complete interval."
                    },
                    "filter.device.formFactors": {
                      "repeated": true,
                      "enumDescriptions": [
                        "Unknown.",
                        "Includes mobile phones, small foldables and other form factors not fitting the other categories.",
                        "Includes tablets and larger foldables.",
                        "Includes desktops, laptops, Chromebooks, etc.",
                        "Includes televisions and set-tops.",
                        "Includes both watches and other wearables."
                      ],
                      "description": "Only counts events from devices with the given form factor (e.g. phone or tablet).",
                      "type": "string",
                      "location": "query",
                      "enum": [
                        "FORM_FACTOR_UNSPECIFIED",
                        "PHONE",
                        "TABLET",
                        "DESKTOP",
                        "TV",
                        "WATCH"
                      ]
                    },
                    "filter.issue.state": {
                      "deprecated": true,
                      "description": "Optional. Deprecated: Prefer `states` field. Only includes events for issues with the given issue state. Only available for `topIssues` reports.",
                      "enumDescriptions": [
                        "Unknown.",
                        "Ongoing issue.",
                        "Issue resolved.",
                        "Issue muted. No alerts will be fired for this issue."
                      ],
                      "location": "query",
                      "enum": [
                        "STATE_UNSPECIFIED",
                        "OPEN",
                        "CLOSED",
                        "MUTED"
                      ],
                      "type": "string"
                    },
                    "filter.device.displayNames": {
                      "description": "Only counts events from the given Device model. This string matches Device.display_name. Format: \"manufacturer (model)\" e.g. \"Google (Pixel 6)\", or just \"manufacturer\" for all possible models, e.g. simply \"Google\". Note that a device's marketing_name field can not be used for filtering.",
                      "type": "string",
                      "location": "query",
                      "repeated": true
                    },
                    "filter.version.displayNames": {
                      "location": "query",
                      "repeated": true,
                      "type": "string",
                      "description": "Only counts events in the given app version. This string matches Version.display_name. Format: \"display_version (build_version)\" e.g. \"1.2.3 (456)\"."
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A page token, received from a previous call. The page token is only valid for the exact same set of filters, which must also be sent in subsequent requests. This token is valid for 10 minutes after the first request.",
                      "location": "query"
                    },
                    "filter.issue.errorTypes": {
                      "enum": [
                        "ERROR_TYPE_UNSPECIFIED",
                        "FATAL",
                        "NON_FATAL",
                        "ANR"
                      ],
                      "location": "query",
                      "type": "string",
                      "enumDescriptions": [
                        "Unknown.",
                        "Fatal crash event.",
                        "Non-fatal event, such as a caught Java exception or NSError on iOS.",
                        "Application not responding error, Android only."
                      ],
                      "description": "Optional. Only counts events of the given error types. This field matches [Issue.error_type].",
                      "repeated": true
                    },
                    "filter.issue.signals": {
                      "enum": [
                        "SIGNAL_UNSPECIFIED",
                        "SIGNAL_EARLY",
                        "SIGNAL_FRESH",
                        "SIGNAL_REGRESSED",
                        "SIGNAL_REPETITIVE"
                      ],
                      "location": "query",
                      "enumDescriptions": [
                        "Default.",
                        "Indicates an issue that is impacting end users early in the app session.",
                        "Indicates newly detected issues.",
                        "Indicates previously closed issues which have been detected again.",
                        "Indicates issues impacting some end users multiple times."
                      ],
                      "type": "string",
                      "repeated": true,
                      "description": "Optional. Only returns issues currently marked with the given signals. This field matches [Issue.signals.signal]."
                    },
                    "filter.issue.id": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Only counts events in the given issue ID. This field matches [Issue.id]."
                    },
                    "filter.interval.startTime": {
                      "location": "query",
                      "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
                      "format": "google-datetime",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of result groups to return. If omitted, defaults to 25.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "filter.issue.states": {
                      "description": "Optional. Only includes events for issues with the given issue states. Only available for `topIssues` reports.",
                      "repeated": true,
                      "type": "string",
                      "enumDescriptions": [
                        "Unknown.",
                        "Ongoing issue.",
                        "Issue resolved.",
                        "Issue muted. No alerts will be fired for this issue."
                      ],
                      "location": "query",
                      "enum": [
                        "STATE_UNSPECIFIED",
                        "OPEN",
                        "CLOSED",
                        "MUTED"
                      ]
                    },
                    "filter.interval.endTime": {
                      "location": "query",
                      "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
                      "format": "google-datetime",
                      "type": "string"
                    },
                    "filter.issue.content": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A space separated list of filter terms matched against the contents of the issue. Contents include the title and the stack trace. Matches must begin at alphanumeric tokens, i.e., 'util.Sorted' matches 'java.util.SortedSet' but not 'myutil.SortedArray'. The filter matches if all filter terms match. All non-alphanumeric characters are ignored for matching. Filtering is assumed to be prefix-search and order-independent unless phrases are surrounded by \"\". Any terms contained in quotes are searched using exact-match (given filter term \"foo\", we will not return \"foobar\"), and must appear in the order given exactly. To get order-dependence but prefix-search, use a * within the quotes (\"abc foo*\" will match \"abc foobar\", but not \"foo abc\" \"abcd foobar\", or \"abc xyz foobar\")."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "path": "v1alpha/{+name}",
                  "response": {
                    "$ref": "Report"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "baseUrl": "https://firebasecrashlytics.googleapis.com/",
  "name": "firebasecrashlytics",
  "revision": "20260918",
  "title": "Firebase Crashlytics API",
  "kind": "discovery#restDescription",
  "version_module": true,
  "schemas": {
    "ListReportsResponse": {
      "properties": {
        "reports": {
          "items": {
            "$ref": "Report"
          },
          "description": "The report objects returned will contain their names and usage instructions, but include no results. Use the `GetReport` method to run the report and obtain the paged results.",
          "type": "array"
        }
      },
      "description": "Response method for the ListReports method. The response will always include all of the available reports.",
      "type": "object",
      "id": "ListReportsResponse"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty",
      "type": "object"
    },
    "DeleteUserCrashReportsResponse": {
      "properties": {
        "targetCompleteTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Target time to complete the delete crash reports operation."
        }
      },
      "type": "object",
      "id": "DeleteUserCrashReportsResponse",
      "description": "Response message for the DeleteUserCrashReports method. All crash reports associated with the specified user will be deleted typically within 24 hours of receiving the crash report."
    },
    "Storage": {
      "type": "object",
      "id": "Storage",
      "properties": {
        "used": {
          "format": "int64",
          "type": "string",
          "description": "Bytes used."
        },
        "free": {
          "type": "string",
          "description": "Bytes free.",
          "format": "int64"
        }
      },
      "description": "Mobile device disk/flash usage. Not reported for all devices."
    },
    "BatchUpdateIssuesRequest": {
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "description": "Optional. The list of Issue fields to update. If this is set, the update_mask field in the UpdateIssueRequest messages must either be empty or match this field.",
          "type": "string"
        },
        "requests": {
          "items": {
            "$ref": "UpdateIssueRequest"
          },
          "description": "Required. The request message specifying the resources to update. A maximum of 100 issues can be modified in a batch.",
          "type": "array"
        }
      },
      "id": "BatchUpdateIssuesRequest",
      "type": "object",
      "description": "Request message for the BatchUpdateIssues method."
    },
    "PlayTrack": {
      "id": "PlayTrack",
      "type": "object",
      "properties": {
        "title": {
          "description": "User-generated or auto-generated name of the track. PROD and INTERNAL track types always have auto-generated names, e.g. \"prod\" and \"internal\" respectively. Tracks of type EARLY_ACCESS always have a user-generated name. Other track types do not have any guarantees, might have user-generated or auto-generated names.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Production.",
            "Internal testing.",
            "Open testing.",
            "Closed testing.",
            "Early access."
          ],
          "description": "The type of track (prod, internal, etc...).",
          "enum": [
            "TRACK_TYPE_UNSPECIFIED",
            "TRACK_TYPE_PROD",
            "TRACK_TYPE_INTERNAL",
            "TRACK_TYPE_OPEN_TESTING",
            "TRACK_TYPE_CLOSED_TESTING",
            "TRACK_TYPE_EARLY_ACCESS"
          ]
        }
      },
      "description": "Describes a release track in the Play Developer Console."
    },
    "WebMetricsGroup": {
      "description": "Represents a grouping for metrics specific to web applications.",
      "properties": {
        "id": {
          "description": "The id of the web metrics group",
          "type": "string"
        }
      },
      "id": "WebMetricsGroup",
      "type": "object"
    },
    "Log": {
      "properties": {
        "logTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Device timestamp when the line was logged."
        },
        "message": {
          "type": "string",
          "description": "Log message."
        }
      },
      "description": "Developer-provided log lines recorded during the session.",
      "type": "object",
      "id": "Log"
    },
    "Thread": {
      "properties": {
        "subtitle": {
          "description": "The subtitle of the thread.",
          "type": "string"
        },
        "sysThreadId": {
          "description": "The system id of the thread, only available for ANR threads.",
          "format": "int64",
          "type": "string"
        },
        "crashAddress": {
          "type": "string",
          "description": "The address of the signal that caused the application to crash. Only present on crashed native threads.",
          "format": "int64"
        },
        "frames": {
          "items": {
            "$ref": "Frame"
          },
          "type": "array",
          "description": "The frames in the thread's stacktrace."
        },
        "threadState": {
          "description": "Output only. The state of the thread at the time the ANR occurred.",
          "enum": [
            "STATE_UNSPECIFIED",
            "THREAD_STATE_TERMINATED",
            "THREAD_STATE_RUNNABLE",
            "THREAD_STATE_TIMED_WAITING",
            "THREAD_STATE_BLOCKED",
            "THREAD_STATE_WAITING",
            "THREAD_STATE_NEW",
            "THREAD_STATE_NATIVE_RUNNABLE",
            "THREAD_STATE_NATIVE_WAITING"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Thread state unspecified.",
            "Thread was terminated.",
            "Thread was runnable.",
            "Thread was waiting with a timeout.",
            "Thread was blocked.",
            "Thread was waiting.",
            "Thread was started, yet to run anything.",
            "The thread was native and we could not heuristically determine that it was was waiting, so assume it's runnable.",
            "We heuristically determined that the thread is waiting."
          ],
          "type": "string"
        },
        "crashed": {
          "description": "True when the thread has crashed.",
          "type": "boolean"
        },
        "blamed": {
          "description": "True when the Crashlytics analysis has determined that the stacktrace in this thread is where the fault occurred.",
          "type": "boolean"
        },
        "name": {
          "description": "The name of the thread.",
          "type": "string"
        },
        "signalCode": {
          "type": "string",
          "description": "The code of the signal that caused the app to crash. Only present on crashed native threads."
        },
        "title": {
          "type": "string",
          "description": "The title of the thread."
        },
        "queue": {
          "description": "The queue on which the thread was running.",
          "type": "string"
        },
        "signal": {
          "description": "The name of the signal that caused the app to crash. Only present on crashed native threads.",
          "type": "string"
        },
        "threadId": {
          "description": "The id of the thread, only available for ANR threads.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "Thread",
      "description": "An application thread.",
      "type": "object"
    },
    "BatchGetEventsResponse": {
      "id": "BatchGetEventsResponse",
      "description": "Response message for the BatchGetEvents method.",
      "type": "object",
      "properties": {
        "events": {
          "type": "array",
          "items": {
            "$ref": "Event"
          },
          "description": "The list of retrieved events."
        }
      }
    },
    "Version": {
      "properties": {
        "buildVersion": {
          "description": "Mobile only. One display_version can have many build_version. On Android, strictly the same as \"version code\". On iOS, strictly the same as \"build number\" or CFBundleVersion.",
          "type": "string"
        },
        "displayVersion": {
          "type": "string",
          "description": "Readable version string, e.g. \"1.2.3\". On Android, strictly the same as \"version name\". On iOS, strictly the same as \"version number\" or CFBundleShortVersionString."
        },
        "tracks": {
          "items": {
            "$ref": "PlayTrack"
          },
          "description": "Indicates releases which have artifacts that are currently available in the Play Store to the target audience of the track. Versions may be available in multiple tracks.",
          "type": "array"
        },
        "displayName": {
          "description": "Compound readable string containing both display and build versions. Format: \"display_version (build_version)\" e.g. \"1.2.3 (456)\". This string can be used for filtering with the VersionFilter.display_name field.",
          "type": "string"
        }
      },
      "description": "Application software version.",
      "id": "Version",
      "type": "object"
    },
    "Note": {
      "properties": {
        "body": {
          "description": "Immutable. The body of the note.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Identifier. Format: \"projects/{project}/apps/app/issues/{issue}/notes/{note}\".",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time when the note was created.",
          "readOnly": true
        },
        "author": {
          "readOnly": true,
          "description": "Output only. The email of the author of the note.",
          "type": "string"
        }
      },
      "description": "Developer notes for an issue.",
      "type": "object",
      "id": "Note"
    },
    "Event": {
      "description": "The message describing a single Crashlytics event. Related to BigQuery export schema, which can be found at [Export Crashlytics data to BigQuery](https://firebase.google.com/docs/crashlytics/bigquery-export#dataset-schema-crashlytics)",
      "properties": {
        "user": {
          "$ref": "User",
          "description": "End user identifiers for the device owner."
        },
        "memory": {
          "$ref": "Memory",
          "description": "Mobile device memory usage."
        },
        "receivedTime": {
          "description": "Server timestamp that the event was received by Crashlytics.",
          "format": "google-datetime",
          "type": "string"
        },
        "bundleOrPackage": {
          "type": "string",
          "description": "The bundle name for iOS apps or the package name of Android apps. Format: \"com.mycompany.myapp\"."
        },
        "buildStamp": {
          "type": "string",
          "description": "Metadata provided by the app's build system, including version control repository info."
        },
        "threads": {
          "type": "array",
          "items": {
            "$ref": "Thread"
          },
          "description": "Application threads present at the time the event was recorded. Each contains a stacktrace. One thread will be blamed for the error."
        },
        "routePath": {
          "type": "string",
          "description": "Output only. Web only. The route path of the web application when the event occurred, excluding query parameters and fragment.",
          "readOnly": true
        },
        "issueSubtitle": {
          "description": "The subtitle of the issue in which the event was grouped. This is usually a symbol or an exception message.",
          "type": "string"
        },
        "customKeys": {
          "description": "Custom keys set by the developer during the session.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "blameFrame": {
          "$ref": "Frame",
          "description": "The stack trace frame blamed by Crashlytics processing. May not be present in future analyzer."
        },
        "platform": {
          "type": "string",
          "description": "ANDROID, IOS, or WEB."
        },
        "exceptions": {
          "items": {
            "$ref": "Exception"
          },
          "description": "Android and web only. Exceptions that occurred during this event. Nested exceptions are presented in reverse chronological order, so that the last record is the first exception thrown.",
          "type": "array"
        },
        "installationUuid": {
          "type": "string",
          "description": "Unique identifier for the device-app installation. This field is used to compute the unique number of impacted users."
        },
        "name": {
          "description": "Required. Output only. Immutable. Identifier. The name of the event resource. Format: \"projects/{project}/apps/{app_id}/events/{event}\".",
          "type": "string",
          "readOnly": true
        },
        "device": {
          "$ref": "Device",
          "description": "Mobile device metadata."
        },
        "issue": {
          "$ref": "Issue",
          "description": "Details for the [Issue] assigned to this [Event]."
        },
        "issueTitle": {
          "description": "The title of the issue in which the event was grouped. This is usually a source file or method name.",
          "type": "string"
        },
        "logs": {
          "description": "Log messages recorded by the developer during the session.",
          "items": {
            "$ref": "Log"
          },
          "type": "array"
        },
        "issueVariant": {
          "description": "Details for the [IssueVariant] assigned to this [Event].",
          "$ref": "IssueVariant"
        },
        "crashlyticsSdkVersion": {
          "type": "string",
          "description": "Crashlytics SDK version."
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "Error"
          },
          "description": "Apple only. A non-fatal error captured by the iOS SDK and its stacktrace."
        },
        "eventId": {
          "readOnly": true,
          "description": "Output only. Immutable. The unique event identifier is assigned during processing.",
          "type": "string"
        },
        "appOrientation": {
          "description": "App orientation at the time of the crash (portrait or landscape).",
          "type": "string"
        },
        "operatingSystem": {
          "$ref": "OperatingSystem",
          "description": "Operating system and version."
        },
        "browser": {
          "$ref": "Browser",
          "description": "Browser and version."
        },
        "storage": {
          "$ref": "Storage",
          "description": "Mobile device disk/flash usage."
        },
        "deviceOrientation": {
          "description": "Device orientation at the time of the crash (portrait or landscape).",
          "type": "string"
        },
        "processState": {
          "description": "The state of the app process at the time of the event.",
          "type": "string"
        },
        "breadcrumbs": {
          "items": {
            "$ref": "Breadcrumb"
          },
          "description": "Analytics events recorded by the analytics SDK during the session.",
          "type": "array"
        },
        "version": {
          "$ref": "Version",
          "description": "Mobile application version."
        },
        "sessionId": {
          "type": "string",
          "description": "Unique identifier for the Firebase session."
        },
        "eventTime": {
          "type": "string",
          "description": "Device timestamp that the event was recorded.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "Event"
    },
    "ListEventsResponse": {
      "description": "Response message for the ListEvents method.",
      "properties": {
        "events": {
          "items": {
            "$ref": "Event"
          },
          "type": "array",
          "description": "Returns one element per event, in descending order the by event timestamp."
        },
        "nextPageToken": {
          "description": "A pagination token to retrieve the next page of events. The next page will have earlier or later events depending on the request's ordering. If this field is not present, there are no subsequent events.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListEventsResponse"
    },
    "Issue": {
      "properties": {
        "firstSeenVersion": {
          "description": "Output only. Immutable. The first app display_version in which this issue was seen, populated for mobile issues only.",
          "type": "string",
          "readOnly": true
        },
        "uri": {
          "readOnly": true,
          "description": "Output only. Provides a link to the Issue on the Firebase console. When this Issue is obtained as part of a Report, then the link will be configured with the same time interval and filters as the request.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Immutable. Unique identifier for the issue."
        },
        "firstSeenTime": {
          "description": "Output only. Immutable. The first time this issue was seen.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "title": {
          "description": "Output only. Immutable. Caption title. This is usually a source file or method name.",
          "type": "string",
          "readOnly": true
        },
        "lastSeenTime": {
          "readOnly": true,
          "description": "Output only. The most recent time this issue was seen.",
          "type": "string",
          "format": "google-datetime"
        },
        "notesCount": {
          "format": "int64",
          "description": "Output only. The number of notes attached to an issue.",
          "type": "string",
          "readOnly": true
        },
        "stateUpdateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time at which the issue state was last changed."
        },
        "subtitle": {
          "type": "string",
          "description": "Output only. Immutable. Caption subtitle. This is usually a symbol or an exception message.",
          "readOnly": true
        },
        "sampleEvent": {
          "description": "Output only. The resource name for a sample event in this issue.",
          "type": "string",
          "readOnly": true
        },
        "variants": {
          "type": "array",
          "items": {
            "$ref": "IssueVariant"
          },
          "readOnly": true,
          "description": "Output only. Immutable. The top 12 variants (subgroups) within the issue. Variants group events within an issue that are very similar. A single result implies that the variant is the same as the parent issue. This field will be empty when multiple issues are requested. Request a single issue to list variants."
        },
        "lastSeenVersion": {
          "description": "Output only. The most recent app display_version in which this issue was seen, populated for mobile issues only.",
          "readOnly": true,
          "type": "string"
        },
        "signals": {
          "description": "Output only. Immutable. Distinctive characteristics assigned by the Crashlytics analyzer.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "IssueSignals"
          }
        },
        "errorType": {
          "readOnly": true,
          "enumDescriptions": [
            "Unknown.",
            "Fatal crash event.",
            "Non-fatal event, such as a caught Java exception or NSError on iOS.",
            "Application not responding error, Android only."
          ],
          "type": "string",
          "description": "Output only. Immutable. Indicates whether this issue is a crash, non-fatal exception, or ANR.",
          "enum": [
            "ERROR_TYPE_UNSPECIFIED",
            "FATAL",
            "NON_FATAL",
            "ANR"
          ]
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "OPEN",
            "CLOSED",
            "MUTED"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Ongoing issue.",
            "Issue resolved.",
            "Issue muted. No alerts will be fired for this issue."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. Indicates whether this issue is open, closed or muted. For details on how issue states change without user actions, see [Regressed Issues](https://firebase.google.com/docs/crashlytics/troubleshooting?platform=ios#regressed-issues)."
        },
        "name": {
          "description": "Required. Output only. Immutable. Identifier. The name of the issue resource. Format: \"projects/{project}/apps/{app}/issues/{issue}\".",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "Issue",
      "description": "An issue describes a set of similar events that have been analyzed by Crashlytics and grouped together. All events within an issue will be of the same error_type: crash, non-fatal exception or ANR. All events within an issue will contain similar stack traces in their blamed thread."
    },
    "IssueVariant": {
      "id": "IssueVariant",
      "type": "object",
      "properties": {
        "sampleEvent": {
          "description": "Output only. The resource name for a sample event in this variant.",
          "readOnly": true,
          "type": "string"
        },
        "id": {
          "description": "Output only. Immutable. Distinct identifier for the variant.",
          "readOnly": true,
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "Output only. Provides a link to the variant on the Firebase console. When this variant is obtained as part of a Report, then the link will be configured with the same time interval and filters as the request.",
          "readOnly": true
        }
      },
      "description": "A variant is a subgroup of an issue where all events have very similar stack traces. Issues may contain one or more variants."
    },
    "Error": {
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code associated with the app's custom logged NSError.",
          "type": "string",
          "format": "int64"
        },
        "frames": {
          "items": {
            "$ref": "Frame"
          },
          "description": "The frames in the error's stacktrace.",
          "type": "array"
        },
        "queue": {
          "type": "string",
          "description": "The queue on which the thread was running."
        },
        "blamed": {
          "description": "True when the Crashlytics analysis has determined that the stacktrace in this error is where the fault occurred.",
          "type": "boolean"
        },
        "subtitle": {
          "description": "The subtitle of the error.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The title of the error."
        }
      },
      "id": "Error",
      "description": "A non-fatal error and its stacktrace, only from Apple apps."
    },
    "Memory": {
      "description": "Mobile device memory usage.",
      "properties": {
        "used": {
          "description": "Bytes in use.",
          "type": "string",
          "format": "int64"
        },
        "free": {
          "format": "int64",
          "description": "Bytes free.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Memory"
    },
    "Device": {
      "id": "Device",
      "description": "Mobile device metadata.",
      "properties": {
        "marketingName": {
          "description": "Marketing name, most recognizable public form, e.g. \"Pixel 6\".",
          "type": "string"
        },
        "model": {
          "type": "string",
          "description": "The model name which is consistent with android.os.Build.MODEL, e.g. (\"SPH-L710\", \"GT-I9300\")."
        },
        "displayName": {
          "description": "Full device name, suitable for passing to DeviceFilter. Format: \"manufacturer (model)\".",
          "type": "string"
        },
        "companyName": {
          "type": "string",
          "description": "An invariant name of the manufacturer that submitted this product in its most recognizable public form, e.g. \"Google\"."
        },
        "manufacturer": {
          "description": "Device brand name which is consistent with android.os.Build.BRAND.",
          "type": "string"
        },
        "formFactor": {
          "description": "See FormFactor message.",
          "enum": [
            "FORM_FACTOR_UNSPECIFIED",
            "PHONE",
            "TABLET",
            "DESKTOP",
            "TV",
            "WATCH"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Includes mobile phones, small foldables and other form factors not fitting the other categories.",
            "Includes tablets and larger foldables.",
            "Includes desktops, laptops, Chromebooks, etc.",
            "Includes televisions and set-tops.",
            "Includes both watches and other wearables."
          ]
        },
        "architecture": {
          "description": "Device processor architecture.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListNotesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A pagination token to retrieve the next page of notes. If this field is not present, there are no subsequent notes."
        },
        "notes": {
          "type": "array",
          "items": {
            "$ref": "Note"
          },
          "description": "Returns notes ordered descending by the timestamp."
        }
      },
      "type": "object",
      "description": "Response message for the ListNotes method.",
      "id": "ListNotesResponse"
    },
    "Report": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the report. Format: \"projects/{project}/apps/{app_id}/reports/{report}\"."
        },
        "usage": {
          "type": "string",
          "description": "Usage instructions for the report with a description of the result metrics. This field contains a description of the underlying query and describes the expected response data with any known caveats. This string can be displayed in the UI of any integration that offers comprehensive access to all Crashlytics reports."
        },
        "totalSize": {
          "type": "integer",
          "format": "int32",
          "readOnly": true,
          "description": "Output only. The total number of groups retrievable by the request."
        },
        "groups": {
          "type": "array",
          "description": "Aggregate event statistics in the report will be grouped by a dimension, such as by issue or by version. The response contains one element per group, and all ReportGroup messages will have the same parent field.",
          "items": {
            "$ref": "ReportGroup"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Output only. A page token used to retrieve additional report groups. If this field is not present, there are no subsequent pages available to retrieve.",
          "readOnly": true
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The displayable title of the report."
        }
      },
      "description": "Response message for the GetReport method. A report consists of the results of a query over an application's events. The events may be filtered by various criteria defined in the filters proto. The result will consist of a number of paginated groups, of a type relevant to the report such as issues or device models.",
      "id": "Report",
      "type": "object"
    },
    "UpdateIssueRequest": {
      "description": "Request message for the UpdateIssue method.",
      "properties": {
        "issue": {
          "$ref": "Issue",
          "description": "Required. The issue to update. The issue's `name` field is used to identify the issue to update. Format: \"projects/{project}/apps/{app}/issues/{issue}\"."
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Optional. The list of Issue fields to update. Currently only \"state\" is mutable."
        }
      },
      "id": "UpdateIssueRequest",
      "type": "object"
    },
    "ReportGroup": {
      "properties": {
        "browser": {
          "description": "Browser metrics group.",
          "$ref": "Browser"
        },
        "device": {
          "description": "Device metrics group.",
          "$ref": "Device"
        },
        "operatingSystem": {
          "$ref": "OperatingSystem",
          "description": "Operating system metrics group."
        },
        "metrics": {
          "items": {
            "$ref": "IntervalMetrics"
          },
          "description": "Scalar metrics will contain a single object covering the entire interval, while time-dimensioned graphs will contain one per time grain.",
          "type": "array"
        },
        "version": {
          "$ref": "Version",
          "description": "Version metrics group."
        },
        "subgroups": {
          "description": "When applicable, this field contains additional nested groupings. For example, events can be grouped by operating system and by operating system version.",
          "items": {
            "$ref": "ReportGroup"
          },
          "type": "array"
        },
        "issue": {
          "description": "Issue metrics group.",
          "$ref": "Issue"
        },
        "webMetricsGroup": {
          "$ref": "WebMetricsGroup",
          "description": "Web metrics group."
        },
        "variant": {
          "description": "Issue variant metrics group.",
          "$ref": "IssueVariant"
        }
      },
      "type": "object",
      "description": "A group of results in an EventReport. In any report, the group_parent field is strictly the same type for all of the groups in any collection.",
      "id": "ReportGroup"
    },
    "Breadcrumb": {
      "type": "object",
      "description": "Analytics events recorded during the session.",
      "properties": {
        "params": {
          "description": "Event parameters.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Device timestamp for the event."
        },
        "title": {
          "type": "string",
          "description": "Analytic event name."
        }
      },
      "id": "Breadcrumb"
    },
    "OperatingSystem": {
      "type": "object",
      "properties": {
        "displayVersion": {
          "description": "Operating system display version number.",
          "type": "string"
        },
        "deviceType": {
          "description": "The device category (mobile, tablet, desktop).",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Name and version number. Formatted to be suitable for passing to OperatingSystemFilter."
        },
        "type": {
          "type": "string",
          "description": "The OS type on Apple platforms (iOS, iPadOS, etc.)."
        },
        "os": {
          "description": "Operating system name.",
          "type": "string"
        },
        "modificationState": {
          "description": "Indicates if the OS has been modified or \"jailbroken\".",
          "type": "string"
        }
      },
      "description": "Mobile device operating system metadata.",
      "id": "OperatingSystem"
    },
    "IntervalMetrics": {
      "type": "object",
      "description": "A set of computed metric values for a time interval",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "description": "The end of the interval covered by the computation.",
          "type": "string"
        },
        "eventsCount": {
          "format": "int64",
          "description": "The total count of events in the interval.",
          "type": "string"
        },
        "sessionsCount": {
          "description": "The number of distinct sessions in the set of events.",
          "format": "int64",
          "type": "string"
        },
        "impactedUsersCount": {
          "type": "string",
          "description": "The number of distinct users in the set of events.",
          "format": "int64"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "The start of the interval covered by the computation.",
          "type": "string"
        }
      },
      "id": "IntervalMetrics"
    },
    "Browser": {
      "description": "Web browser metadata.",
      "type": "object",
      "id": "Browser",
      "properties": {
        "displayVersion": {
          "description": "Browser display version number.",
          "type": "string"
        },
        "browser": {
          "description": "Browser name.",
          "type": "string"
        },
        "displayName": {
          "description": "Browser name and version number. Formatted to be suitable for passing to BrowserFilter.",
          "type": "string"
        }
      }
    },
    "Frame": {
      "description": "A frame in a stacktrace.",
      "type": "object",
      "properties": {
        "address": {
          "type": "string",
          "description": "The address in the binary image which contains the code. Present for native frames.",
          "format": "int64"
        },
        "offset": {
          "format": "int64",
          "type": "string",
          "description": "The byte offset into the binary image that contains the code. Present for native frames."
        },
        "symbol": {
          "description": "The frame symbol after it has been deobfuscated or symbolicated. The raw symbol from the device if it could not be hydrated.",
          "type": "string"
        },
        "file": {
          "type": "string",
          "description": "The name of the source file in which the frame is found."
        },
        "owner": {
          "description": "One of DEVELOPER, VENDOR, RUNTIME, PLATFORM, or SYSTEM.",
          "type": "string"
        },
        "line": {
          "format": "int64",
          "type": "string",
          "description": "The line number in the file of the frame."
        },
        "blamed": {
          "type": "boolean",
          "description": "True when the Crashlytics analysis has determined that this frame is likely to be the cause of the error."
        },
        "column": {
          "format": "int64",
          "type": "string",
          "description": "The column on the line."
        },
        "library": {
          "description": "The display name of the library that includes the frame.",
          "type": "string"
        }
      },
      "id": "Frame"
    },
    "User": {
      "id": "User",
      "description": "Developer-provided end user identifiers.",
      "properties": {
        "id": {
          "description": "User id if provided by the app developer.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "FirebaseSessionEvent": {
      "properties": {
        "sessionId": {
          "description": "Unique identifier for the Firebase session.",
          "type": "string"
        },
        "eventType": {
          "description": "Session event type. The SDK only supports SESSION_START events at this time.",
          "enum": [
            "SESSION_EVENT_TYPE_UNKNOWN",
            "SESSION_START"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Application session started."
          ]
        },
        "sessionIndex": {
          "description": "Indicates the number of sessions since the last cold start.",
          "type": "integer",
          "format": "int32"
        },
        "operatingSystem": {
          "description": "Operating system and version.",
          "$ref": "OperatingSystem"
        },
        "version": {
          "$ref": "Version",
          "description": "Mobile application version numbers."
        },
        "eventTime": {
          "description": "The start timestamp for the session event.",
          "format": "google-datetime",
          "type": "string"
        },
        "firstSessionId": {
          "description": "The identifier of the first session since the last cold start. This id and the session_id will be the same for app launches.",
          "type": "string"
        },
        "device": {
          "description": "Mobile device metadata.",
          "$ref": "Device"
        },
        "firebaseInstallationId": {
          "description": "Uniquely identifies a device with Firebase apps installed.",
          "type": "string"
        }
      },
      "description": "Sessions recorded by the Firebase App Quality Sessions SDK.",
      "type": "object",
      "id": "FirebaseSessionEvent"
    },
    "BatchUpdateIssuesResponse": {
      "properties": {
        "issues": {
          "description": "Issues updated in the same order as in BatchUpdateIssuesRequest.",
          "items": {
            "$ref": "Issue"
          },
          "type": "array"
        }
      },
      "description": "Response message for the BatchUpdateIssues method.",
      "type": "object",
      "id": "BatchUpdateIssuesResponse"
    },
    "IssueSignals": {
      "description": "Distinctive characteristics assigned by the Crashlytics analyzer.",
      "id": "IssueSignals",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Supporting detail information."
        },
        "signal": {
          "readOnly": true,
          "description": "Output only. The signal name.",
          "enum": [
            "SIGNAL_UNSPECIFIED",
            "SIGNAL_EARLY",
            "SIGNAL_FRESH",
            "SIGNAL_REGRESSED",
            "SIGNAL_REPETITIVE"
          ],
          "enumDescriptions": [
            "Default.",
            "Indicates an issue that is impacting end users early in the app session.",
            "Indicates newly detected issues.",
            "Indicates previously closed issues which have been detected again.",
            "Indicates issues impacting some end users multiple times."
          ],
          "type": "string"
        }
      }
    },
    "Exception": {
      "description": "A Java or Javascript exception and its stacktrace. Only from Android or web apps.",
      "properties": {
        "title": {
          "description": "The title of the exception.",
          "type": "string"
        },
        "subtitle": {
          "type": "string",
          "description": "The subtitle of the exception."
        },
        "frames": {
          "items": {
            "$ref": "Frame"
          },
          "type": "array",
          "description": "The frames in the exception's stacktrace."
        },
        "type": {
          "description": "The exception type e.g. java.lang.IllegalStateException.",
          "type": "string"
        },
        "exceptionMessage": {
          "description": "A message associated with the exception.",
          "type": "string"
        },
        "blamed": {
          "type": "boolean",
          "description": "True when the Crashlytics analysis has determined that this thread is where the fault occurred."
        },
        "nested": {
          "description": "True for all but the last-thrown exception (i.e. the first record).",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "Exception"
    }
  },
  "id": "firebasecrashlytics:v1alpha",
  "basePath": "",
  "mtlsRootUrl": "https://firebasecrashlytics.mtls.googleapis.com/",
  "protocol": "rest",
  "ownerDomain": "google.com"
}