{
  "name": "firebaseapphosting",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "rootUrl": "https://firebaseapphosting.googleapis.com/",
  "title": "Firebase App Hosting API",
  "canonicalName": "Firebase App Hosting",
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "revision": "20260827",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "baseUrl": "https://firebaseapphosting.googleapis.com/",
  "version": "v1beta",
  "servicePath": "",
  "basePath": "",
  "discoveryVersion": "v1",
  "schemas": {
    "CustomDomainStatus": {
      "type": "object",
      "description": "The status of a custom domain's linkage to a backend.",
      "id": "CustomDomainStatus",
      "properties": {
        "hostState": {
          "enumDescriptions": [
            "Your custom domain's host state is unspecified. The message is invalid if this is unspecified.",
            "Your custom domain isn't associated with any IP addresses.",
            "Your custom domain can't be reached. App Hosting services' DNS queries to find your domain's IP addresses resulted in errors. See your `CustomDomainStatus`'s `issues` field for more details.",
            "Your domain has only IP addresses that don't ultimately resolve to App Hosting.",
            "Your domain has IP addresses that resolve to both App Hosting and to other services. To ensure consistent results, remove `A` and `AAAA` records related to non-App-Hosting services.",
            "Your domain has IP addresses that resolve to an incorrect instance of the App Hosting Data Plane. App Hosting has multiple data plane instances to ensure high availability. The SSL certificate that App Hosting creates for your domain is only available on its assigned instance. If your domain's IP addresses resolve to an incorrect instance, App Hosting won't be able to serve secure content on it.",
            "All requests against your domain are served by App Hosting, via your domain's assigned shard. If the custom domain's `OwnershipState` is also `OWNERSHIP_ACTIVE`, App Hosting serves its backend's content on requests for the domain."
          ],
          "type": "string",
          "enum": [
            "HOST_STATE_UNSPECIFIED",
            "HOST_UNHOSTED",
            "HOST_UNREACHABLE",
            "HOST_NON_FAH",
            "HOST_CONFLICT",
            "HOST_WRONG_SHARD",
            "HOST_ACTIVE"
          ],
          "readOnly": true,
          "description": "Output only. Tracks whether a custom domain is detected as appropriately directing traffic to App Hosting."
        },
        "issues": {
          "readOnly": true,
          "description": "Output only. A list of issues with domain configuration. Allows users to self-correct problems with DNS records.",
          "type": "array",
          "items": {
            "$ref": "Status"
          }
        },
        "certState": {
          "type": "string",
          "enum": [
            "CERT_STATE_UNSPECIFIED",
            "CERT_PREPARING",
            "CERT_VALIDATING",
            "CERT_PROPAGATING",
            "CERT_ACTIVE",
            "CERT_EXPIRING_SOON",
            "CERT_EXPIRED"
          ],
          "description": "Output only. Tracks SSL certificate status for the domain.",
          "readOnly": true,
          "enumDescriptions": [
            "The certificate's state is unspecified. The message is invalid if this is unspecified.",
            "The initial state of every certificate, represents App Hosting's intent to create a certificate before requests to a Certificate Authority are made.",
            "App Hosting is validating whether a domain name's DNS records are in a state that allow certificate creation on its behalf.",
            "The certificate was recently created, and needs time to propagate in App Hosting's load balancers.",
            "The certificate is active, providing secure connections for the domain names it represents.",
            "The certificate is expiring, all domain names on it will be given new certificates.",
            "The certificate has expired. App Hosting can no longer serve secure content on your domain name."
          ]
        },
        "requiredDnsUpdates": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "DnsUpdates"
          },
          "description": "Output only. Lists the records that must added or removed to a custom domain's DNS in order to finish setup and start serving content. Field is present during onboarding. Also present after onboarding if one or more of the above states is not *_ACTIVE, indicating the domain's DNS records are in a bad state."
        },
        "ownershipState": {
          "description": "Output only. Tracks whether the backend is permitted to serve content on the domain, based off the domain's DNS records.",
          "type": "string",
          "enum": [
            "OWNERSHIP_STATE_UNSPECIFIED",
            "OWNERSHIP_MISSING",
            "OWNERSHIP_UNREACHABLE",
            "OWNERSHIP_MISMATCH",
            "OWNERSHIP_CONFLICT",
            "OWNERSHIP_PENDING",
            "OWNERSHIP_ACTIVE"
          ],
          "enumDescriptions": [
            "Your custom domain's ownership state is unspecified. This should never happen.",
            "Your custom domain's domain has no App-Hosting-related ownership records; no backend is authorized to serve on the domain in this Origin shard.",
            "Your custom domain can't be reached. App Hosting services' DNS queries to find your domain's ownership records resulted in errors. See your `CustomDomainStatus`'s `issues` field for more details.",
            "Your custom domain is owned by another App Hosting custom domain. Remove the conflicting records and replace them with records for your current custom domain.",
            "Your custom domain has conflicting `TXT` records that indicate ownership by both your current custom domain one or more others. Remove the extraneous ownership records to grant the current custom domain ownership.",
            "Your custom domain's DNS records are configured correctly. App Hosting will transfer ownership of your domain to this custom domain within 24 hours.",
            "Your custom domain owns its domain."
          ],
          "readOnly": true
        }
      }
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "type": "object",
      "properties": {
        "target": {
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string"
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "verb": {
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string"
        },
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Represents the metadata of a long-running operation."
    },
    "BuildSource": {
      "properties": {
        "container": {
          "$ref": "ContainerSource",
          "description": "An Artifact Registry container image source."
        },
        "archive": {
          "$ref": "ArchiveSource",
          "description": "An archive source."
        },
        "codebase": {
          "description": "A codebase source.",
          "$ref": "CodebaseSource"
        },
        "locallyBuilt": {
          "description": "A source that was pre-built locally.",
          "$ref": "LocallyBuiltSource"
        }
      },
      "id": "BuildSource",
      "type": "object",
      "description": "The source for the build."
    },
    "SourceUserMetadata": {
      "type": "object",
      "deprecated": true,
      "id": "SourceUserMetadata",
      "properties": {
        "imageUri": {
          "description": "Output only. Deprecated: Not used. The URI of a profile photo associated with the user who created the build.",
          "type": "string",
          "deprecated": true,
          "readOnly": true
        },
        "displayName": {
          "description": "Output only. Deprecated: Not used. The user-chosen displayname. May be empty.",
          "deprecated": true,
          "readOnly": true,
          "type": "string"
        },
        "email": {
          "description": "Output only. Deprecated: Not used. The account email linked to the EUC that created the build. May be a service account or other robot account.",
          "deprecated": true,
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Deprecated: Not used. Metadata for the user who started the build."
    },
    "DnsRecord": {
      "id": "DnsRecord",
      "type": "object",
      "description": "A representation of a DNS records for a domain. DNS records are resource records that define how systems and services should behave when handling requests for a domain. For example, when you add `A` records to your domain's DNS records, you're informing other systems (such as your users' web browsers) to contact those IPv4 addresses to retrieve resources relevant to your domain (such as your App Hosting files).",
      "properties": {
        "domainName": {
          "description": "Output only. The domain the record pertains to, e.g. `foo.bar.com.`.",
          "readOnly": true,
          "type": "string"
        },
        "rdata": {
          "readOnly": true,
          "description": "Output only. The data of the record. The meaning of the value depends on record type: - A and AAAA: IP addresses for the domain. - CNAME: Another domain to check for records. - TXT: Arbitrary text strings associated with the domain. App Hosting uses TXT records to determine which Firebase projects have permission to act on the domain's behalf. - CAA: The record's flags, tag, and value, e.g. `0 issue \"pki.goog\"`.",
          "type": "string"
        },
        "relevantState": {
          "type": "array",
          "readOnly": true,
          "items": {
            "enumDescriptions": [
              "This message is invalid if this is unspecified.",
              "The custom domain's host state.",
              "The custom domain's ownership state.",
              "The custom domain's certificate state."
            ],
            "type": "string",
            "enum": [
              "CUSTOM_DOMAIN_STATE_UNSPECIFIED",
              "HOST_STATE",
              "OWNERSHIP_STATE",
              "CERT_STATE"
            ]
          },
          "description": "Output only. An enum that indicates which state(s) this DNS record applies to. Populated for all records with an `ADD` or `REMOVE` required action."
        },
        "requiredAction": {
          "description": "Output only. An enum that indicates the a required action for this record. Populated when the record is part of a required change in a `DnsUpdates` `discovered` or `desired` record set.",
          "type": "string",
          "enum": [
            "NONE",
            "ADD",
            "REMOVE"
          ],
          "enumDescriptions": [
            "No action necessary.",
            "Add this record to your DNS records.",
            "Remove this record from your DNS records."
          ],
          "readOnly": true
        },
        "type": {
          "readOnly": true,
          "description": "Output only. The record's type, which determines what data the record contains.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "A",
            "CNAME",
            "TXT",
            "AAAA",
            "CAA"
          ],
          "enumDescriptions": [
            "The record's type is unspecified. The message is invalid if this is unspecified.",
            "An `A` record, as defined in [RFC 1035](https://tools.ietf.org/html/rfc1035). A records determine which IPv4 addresses a domain directs traffic towards.",
            "A `CNAME` record, as defined in [RFC 1035](https://tools.ietf.org/html/rfc1035). `CNAME` or Canonical Name records map a domain to a different, canonical domain. If a `CNAME` record is present, it should be the only record on the domain.",
            "A `TXT` record, as defined in [RFC 1035](https://tools.ietf.org/html/rfc1035). `TXT` records hold arbitrary text data on a domain. Hosting uses `TXT` records to establish which Firebase Project has permission to act on a domain.",
            "An AAAA record, as defined in [RFC 3596](https://tools.ietf.org/html/rfc3596) AAAA records determine which IPv6 addresses a domain directs traffic towards.",
            "A CAA record, as defined in [RFC 6844](https://tools.ietf.org/html/rfc6844). CAA, or Certificate Authority Authorization, records determine which Certificate Authorities (SSL certificate minting organizations) are authorized to mint a certificate for the domain. App Hosting uses `pki.goog` as its primary CA. CAA records cascade. A CAA record on `foo.com` also applies to `bar.foo.com` unless `bar.foo.com` has its own set of CAA records. CAA records are optional. If a domain and its parents have no CAA records, all CAs are authorized to mint certificates on its behalf. In general, App Hosting only asks you to modify CAA records when doing so is required to unblock SSL cert creation."
          ]
        }
      }
    },
    "ManagedResource": {
      "id": "ManagedResource",
      "properties": {
        "runService": {
          "description": "A Cloud Run [`service`](https://cloud.google.com/run/docs/reference/rest/v2/projects.locations.services#resource:-service), managed by App Hosting.",
          "$ref": "RunService"
        }
      },
      "type": "object",
      "description": "An external resource managed by App Hosting on the project."
    },
    "Codebase": {
      "properties": {
        "repository": {
          "description": "Required. The resource name for the Developer Connect [`gitRepositoryLink`](https://cloud.google.com/developer-connect/docs/api/reference/rest/v1/projects.locations.connections.gitRepositoryLinks) connected to this backend, in the format: `projects/{project}/locations/{location}/connections/{connection}/gitRepositoryLinks/{repositoryLink}` The connection for the `gitRepositoryLink` must made be using the Firebase App Hosting GitHub App via the Firebase Console.",
          "type": "string"
        },
        "rootDirectory": {
          "type": "string",
          "description": "Optional. If `repository` is provided, the directory relative to the root of the repository to use as the root for the deployed web app. Defaults to use the root of the repository if not provided. If deploying a [monorepo](https://firebase.google.com/docs/app-hosting/monorepos), this should be the directory that contains the `package.json` or `apphosting.yaml` file."
        }
      },
      "type": "object",
      "id": "Codebase",
      "description": "The connection to an external source repository to watch for event-driven updates to the backend."
    },
    "DnsUpdates": {
      "type": "object",
      "properties": {
        "desired": {
          "items": {
            "$ref": "DnsRecordSet"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The set of DNS records App Hosting needs in order to be able to serve secure content on the domain."
        },
        "domainName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The domain name the DNS updates pertain to."
        },
        "checkTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The last time App Hosting checked your custom domain's DNS records.",
          "format": "google-datetime"
        },
        "discovered": {
          "type": "array",
          "items": {
            "$ref": "DnsRecordSet"
          },
          "readOnly": true,
          "description": "Output only. The set of DNS records App Hosting discovered when inspecting a domain."
        }
      },
      "id": "DnsUpdates",
      "description": "A set of DNS record updates that you should make to allow App Hosting to serve secure content in response to requests against your domain. These updates present the current state of your domain's and related subdomains' DNS records when App Hosting last queried them, and the desired set of records that App Hosting needs to see before your custom domain can be fully active."
    },
    "Traffic": {
      "type": "object",
      "id": "Traffic",
      "properties": {
        "target": {
          "description": "Set to manually control the desired traffic for the backend. This will cause `current` to eventually match this value. The percentages must add up to 100%.",
          "$ref": "TrafficSet"
        },
        "reconciling": {
          "readOnly": true,
          "description": "Output only. A field that, if true, indicates that the system is working to make the backend's `current` match the requested `target` list.",
          "type": "boolean"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Unstructured key value map that can be used to organize and categorize objects."
        },
        "name": {
          "description": "Identifier. The resource name of the backend's traffic. Format: `projects/{project}/locations/{locationId}/backends/{backendId}/traffic`.",
          "type": "string"
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Unstructured key value map that may be set by external tools to store and arbitrary metadata. They are not queryable and should be preserved when modifying objects."
        },
        "current": {
          "description": "Output only. Current state of traffic allocation for the backend. When setting `target`, this field may differ for some time until the desired state is reached.",
          "readOnly": true,
          "$ref": "TrafficSet"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time at which the backend was created.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Server-computed checksum based on other values; may be sent on update or delete to ensure operation is done on expected resource."
        },
        "uid": {
          "type": "string",
          "description": "Output only. System-assigned, unique identifier.",
          "readOnly": true
        },
        "rolloutPolicy": {
          "description": "A rollout policy specifies how new builds and automatic deployments are created.",
          "$ref": "RolloutPolicy"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time at which the backend was last updated."
        }
      },
      "description": "Controls traffic configuration for the backend."
    },
    "RunConfig": {
      "id": "RunConfig",
      "description": "Configuration applied to the Cloud Run [`service`](https://cloud.google.com/run/docs/reference/rest/v2/projects.locations.services#resource:-service).",
      "properties": {
        "minInstances": {
          "format": "int32",
          "description": "Optional. Number of Cloud Run instances to maintain at minimum for each Cloud Run Service. By default, there are no minimum. Even if the service splits traffic across multiple revisions, the total number of instances for a service will be capped at this value.",
          "type": "integer"
        },
        "maxInstances": {
          "description": "Optional. Number of Cloud Run instances to maintain at maximum for each revision. By default, each Cloud Run [`service`](https://cloud.google.com/run/docs/reference/rest/v2/projects.locations.services#resource:-service) scales out to Cloud Run's default of a maximum of 100 instances. The maximum max_instances limit is based on your quota. See https://cloud.google.com/run/docs/configuring/max-instances#limits.",
          "format": "int32",
          "type": "integer"
        },
        "memoryMib": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Amount of memory allocated for each serving instance in MiB. By default, memory defaults to the Cloud Run's default where each instance is allocated 512 MiB of memory. Memory can be set to any integer value between 128 to 32768. Increasing memory limit may require increase in CPUs limits: - Over 4 GiB: at least 2 CPUs - Over 8 GiB: at least 4 CPUs - Over 16 GiB: at least 6 CPUs - Over 24 GiB: at least 8 CPUs"
        },
        "concurrency": {
          "description": "Optional. Maximum number of requests that each Cloud Run instance can receive. By default, each instance can receive Cloud Run's default of up to 80 requests at the same time. Concurrency can be set to any integer value up to 1000.",
          "type": "integer",
          "format": "int32"
        },
        "cpu": {
          "description": "Optional. Number of CPUs used for each serving instance. By default, cpu defaults to the Cloud Run's default of 1.0. CPU can be set to value 1, 2, 4, 6, or 8 CPUs, and for less than 1 CPU, a value from 0.08 to less than 1.00, in increments of 0.01. If you set a value of less than 1 CPU, you must set concurrency to 1, and CPU will only be allocated during request processing. Increasing CPUs limit may require increase in memory limits: - 4 CPUs: at least 2 GiB - 6 CPUs: at least 4 GiB - 8 CPUs: at least 4 GiB",
          "format": "float",
          "type": "number"
        }
      },
      "type": "object"
    },
    "Domain": {
      "properties": {
        "deleteTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time at which the domain was deleted.",
          "type": "string"
        },
        "purgeTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time at which a soft-deleted domain will be purged, rendering in permanently deleted."
        },
        "displayName": {
          "type": "string",
          "description": "Optional. Mutable human-readable name for the domain. 63 character limit. e.g. `prod domain`."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Labels as key value pairs."
        },
        "serve": {
          "description": "Optional. The serving behavior of the domain. If specified, the domain will serve content other than its backend's live content.",
          "$ref": "ServingBehavior"
        },
        "etag": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Server-computed checksum based on other values; may be sent on update or delete to ensure operation is done on expected resource."
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Time at which the domain was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "customDomainStatus": {
          "$ref": "CustomDomainStatus",
          "description": "Output only. Represents the state and configuration of a `CUSTOM` type domain. It is only present on Domains of that type.",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The resource name of the domain, e.g. `/projects/p/locations/l/backends/b/domains/foo.com`",
          "type": "string"
        },
        "disabled": {
          "type": "boolean",
          "description": "Optional. Whether the domain is disabled. Defaults to false."
        },
        "annotations": {
          "description": "Optional. Annotations as key value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "DEFAULT",
            "CUSTOM"
          ],
          "description": "Output only. The type of the domain.",
          "enumDescriptions": [
            "The type is unspecified (this should not happen).",
            "Default, App Hosting-provided and managed domains. These domains are created automatically with their parent backend and cannot be deleted except by deleting that parent, and cannot be moved to another backend. Default domains can be disabled via the `disabled` field.",
            "Custom, developer-owned domains. Custom Domains allow you to associate a domain you own with your App Hosting backend, and configure that domain to serve your backend's content."
          ],
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time at which the domain was created.",
          "readOnly": true
        },
        "uid": {
          "description": "Output only. System-assigned, unique identifier.",
          "type": "string",
          "readOnly": true
        },
        "reconciling": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. A field that, if true, indicates that the build has an ongoing LRO."
        }
      },
      "type": "object",
      "id": "Domain",
      "description": "A domain name that is associated with a backend."
    },
    "ServingBehavior": {
      "type": "object",
      "id": "ServingBehavior",
      "properties": {
        "redirect": {
          "$ref": "Redirect",
          "description": "Optional. Redirect behavior for a domain, if provided."
        }
      },
      "description": "Indicates whether App Hosting will serve content on the domain."
    },
    "DomainOperationMetadata": {
      "description": "Represents the metadata of a long-running operation on domains.",
      "type": "object",
      "properties": {
        "requestedCancellation": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string"
        },
        "apiVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. API version used to start the operation."
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string",
          "readOnly": true
        },
        "customDomainOperationMetadata": {
          "$ref": "CustomDomainOperationMetadata",
          "readOnly": true,
          "description": "Output only. Additional metadata for operations on custom domains."
        },
        "endTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime"
        },
        "statusMessage": {
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        }
      },
      "id": "DomainOperationMetadata"
    },
    "SupportedRuntime": {
      "description": "Represents a single FAH supported runtime. Although instances of this resource are parented by a project and location, the set of available runtimes may vary across projects and locations, for example, during staged rollouts of new runtime support.",
      "properties": {
        "automaticBaseImageUpdatesSupported": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. True if Automatic Base Image Updates (ABIU) is supported for this runtime."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the supported runtime. Format: projects/{project}/locations/{location}/supportedRuntimes/{runtime_id}"
        },
        "deprecateTime": {
          "description": "Output only. The time at which this runtime will effectively be deprecated. After this date, the runtime is still usable but may not receive new features or updates.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "decommissionTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time at which this runtime will be decommissioned. After this date, the runtime can no longer be used for new builds.",
          "readOnly": true
        },
        "runtimeId": {
          "type": "string",
          "description": "Output only. The identifier of the runtime, e.g., \"nodejs22\".",
          "readOnly": true
        }
      },
      "id": "SupportedRuntime",
      "type": "object"
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "properties": {
        "locations": {
          "type": "array",
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "id": "ListLocationsResponse"
    },
    "BackendRuntime": {
      "id": "BackendRuntime",
      "properties": {
        "value": {
          "description": "Optional. The value of the runtime.",
          "type": "string"
        }
      },
      "description": "Runtime is a string that represents the runtime that is used to build the backend. Users can specify one of the following runtimes: nodejs20, nodejs22, nodejs24, nodejs. Runtime \"nodejs\" means that nodejs version will be determined at build time. If not specified or specified with a value that is not in the list above, the default runtime `nodejs` will be used and Automatic Base Image Updates will be disabled. See [Firebase documentation](https://firebase.google.com/docs/app-hosting/frameworks-tooling#managing_runtime_versions) for more details.",
      "type": "object"
    },
    "Location": {
      "type": "object",
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "TrafficSplit": {
      "properties": {
        "percent": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The percentage of traffic to send to the build. Currently must be 100% or 0%."
        },
        "build": {
          "description": "Required. The build that traffic is being routed to.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "TrafficSplit",
      "description": "The traffic allocation for the backend."
    },
    "UserMetadata": {
      "description": "Version control metadata for a user associated with a resolved codebase. Currently assumes a Git user.",
      "properties": {
        "email": {
          "readOnly": true,
          "description": "Output only. The 'email' field in a Git user's git.config, if available.",
          "type": "string"
        },
        "imageUri": {
          "description": "Output only. The URI of an image file associated with the user's account in an external source control provider, if available.",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The 'name' field in a Git user's git.config. Required by Git."
        }
      },
      "id": "UserMetadata",
      "type": "object"
    },
    "DnsRecordSet": {
      "type": "object",
      "id": "DnsRecordSet",
      "description": "A set of DNS records relevant to the setup and maintenance of a custom domain in App Hosting.",
      "properties": {
        "domainName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The domain name the record set pertains to."
        },
        "checkError": {
          "description": "Output only. An error App Hosting services encountered when querying your domain's DNS records. Note: App Hosting ignores `NXDOMAIN` errors, as those generally just mean that a domain name hasn't been set up yet.",
          "$ref": "Status",
          "readOnly": true
        },
        "records": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "DnsRecord"
          },
          "description": "Output only. Records on the domain."
        }
      }
    },
    "TrafficSet": {
      "description": "A list of traffic splits that together represent where traffic is being routed.",
      "properties": {
        "splits": {
          "items": {
            "$ref": "TrafficSplit"
          },
          "description": "Required. The list of traffic splits.",
          "type": "array"
        }
      },
      "id": "TrafficSet",
      "type": "object"
    },
    "Build": {
      "type": "object",
      "id": "Build",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time at which the build was created.",
          "readOnly": true
        },
        "buildLogsUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The location of the [Cloud Build logs](https://cloud.google.com/build/docs/view-build-results) for the build process."
        },
        "source": {
          "$ref": "BuildSource",
          "description": "Required. Immutable. The source for the build."
        },
        "etag": {
          "description": "Output only. Server-computed checksum based on other values; may be sent on update or delete to ensure operation is done on expected resource.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Optional. Human-readable name. 63 character limit.",
          "type": "string"
        },
        "environment": {
          "description": "Output only. The environment name of the backend when this build was created.",
          "type": "string",
          "readOnly": true
        },
        "labels": {
          "description": "Optional. Unstructured key value map that can be used to organize and categorize objects.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "image": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The Artifact Registry [container image](https://cloud.google.com/artifact-registry/docs/reference/rest/v1/projects.locations.repositories.dockerImages) URI, used by the Cloud Run [`revision`](https://cloud.google.com/run/docs/reference/rest/v2/projects.locations.services.revisions) for this build."
        },
        "reconciling": {
          "type": "boolean",
          "description": "Output only. A field that, if true, indicates that the build has an ongoing LRO.",
          "readOnly": true
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Unstructured key value map that may be set by external tools to store and arbitrary metadata. They are not queryable and should be preserved when modifying objects."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Time at which the build was last updated.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the build. Format: `projects/{project}/locations/{locationId}/backends/{backendId}/builds/{buildId}`.",
          "type": "string"
        },
        "config": {
          "$ref": "Config",
          "description": "Optional. Additional configuration of the service."
        },
        "uid": {
          "description": "Output only. System-assigned, unique identifier.",
          "type": "string",
          "readOnly": true
        },
        "errors": {
          "items": {
            "$ref": "Error"
          },
          "type": "array",
          "description": "Output only. A list of all errors that occurred during an App Hosting build.",
          "readOnly": true
        },
        "error": {
          "deprecated": true,
          "description": "Output only. Deprecated: Use `errors` instead. A status and (human readable) error message for the build, if in a `FAILED` state.",
          "readOnly": true,
          "$ref": "Status"
        },
        "deleteTime": {
          "format": "google-datetime",
          "description": "Output only. Time at which the build was deleted.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "The build is in an unknown state.",
            "The build is building.",
            "The build has completed and is awaiting the next step. This may move to DEPLOYING once App Hosting starts to set up infrastructure.",
            "The infrastructure for this build is being set up.",
            "The infrastructure for this build is ready. The build may or may not be serving traffic - see `Backend.traffic` for the current state, or `Backend.traffic_statuses` for the desired state.",
            "The build has failed.",
            "The build was skipped.",
            "The build has expired and may not be reused."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "BUILDING",
            "BUILT",
            "DEPLOYING",
            "READY",
            "FAILED",
            "SKIPPED",
            "EXPIRED"
          ],
          "description": "Output only. The state of the build."
        },
        "errorSource": {
          "deprecated": true,
          "enumDescriptions": [
            "Indicates that generic error occurred outside of the Cloud Build or Cloud Run processes, such as a pre-empted or user-canceled App Hosting Build.",
            "Indicates that the build failed during the Cloud Build process, such as a build timeout.",
            "Indicates that the build failed during the Cloud Run process, such as a service creation failure."
          ],
          "type": "string",
          "enum": [
            "ERROR_SOURCE_UNSPECIFIED",
            "CLOUD_BUILD",
            "CLOUD_RUN"
          ],
          "readOnly": true,
          "description": "Output only. Deprecated: Use `errors` instead. The source of the error for the build, if in a `FAILED` state."
        }
      },
      "description": "A single build for a backend, at a specific point codebase reference tag and point in time. Encapsulates several resources, including an Artifact Registry container image, a Cloud Build invocation that built the image, and the Cloud Run revision that uses that image."
    },
    "ListDomainsResponse": {
      "type": "object",
      "id": "ListDomainsResponse",
      "properties": {
        "unreachable": {
          "readOnly": true,
          "description": "Output only. Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "domains": {
          "description": "Output only. The list of domains.",
          "type": "array",
          "items": {
            "$ref": "Domain"
          },
          "readOnly": true
        },
        "nextPageToken": {
          "description": "Output only. A token identifying the next page of results the server should return.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Message for response to list domains."
    },
    "RunService": {
      "type": "object",
      "description": "A managed Cloud Run [`service`](https://cloud.google.com/run/docs/reference/rest/v2/projects.locations.services#resource:-service).",
      "id": "RunService",
      "properties": {
        "service": {
          "description": "Optional. The name of the Cloud Run [`service`](https://cloud.google.com/run/docs/reference/rest/v2/projects.locations.services#resource:-service), in the format: `projects/{project}/locations/{location}/services/{serviceId}`",
          "type": "string"
        }
      }
    },
    "Operation": {
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        }
      },
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object"
    },
    "CustomDomainOperationMetadata": {
      "id": "CustomDomainOperationMetadata",
      "properties": {
        "liveMigrationSteps": {
          "description": "Output only. A list of steps that the user must complete to migrate their domain to App Hosting without downtime.",
          "items": {
            "$ref": "LiveMigrationStep"
          },
          "readOnly": true,
          "type": "array"
        },
        "quickSetupUpdates": {
          "items": {
            "$ref": "DnsUpdates"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. A set of DNS record updates to perform, to allow App Hosting to serve secure content on the domain."
        },
        "certState": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "CERT_STATE_UNSPECIFIED",
            "CERT_PREPARING",
            "CERT_VALIDATING",
            "CERT_PROPAGATING",
            "CERT_ACTIVE",
            "CERT_EXPIRING_SOON",
            "CERT_EXPIRED"
          ],
          "enumDescriptions": [
            "The certificate's state is unspecified. The message is invalid if this is unspecified.",
            "The initial state of every certificate, represents App Hosting's intent to create a certificate before requests to a Certificate Authority are made.",
            "App Hosting is validating whether a domain name's DNS records are in a state that allow certificate creation on its behalf.",
            "The certificate was recently created, and needs time to propagate in App Hosting's load balancers.",
            "The certificate is active, providing secure connections for the domain names it represents.",
            "The certificate is expiring, all domain names on it will be given new certificates.",
            "The certificate has expired. App Hosting can no longer serve secure content on your domain name."
          ],
          "description": "Output only. The custom domain's `CertState`, which must be `CERT_ACTIVE` for the create operations to complete."
        },
        "issues": {
          "description": "Output only. A list of issues that are currently preventing the operation from completing. These are generally DNS-related issues encountered when querying a domain's records or attempting to mint an SSL certificate.",
          "readOnly": true,
          "items": {
            "$ref": "Status"
          },
          "type": "array"
        },
        "ownershipState": {
          "enumDescriptions": [
            "Your custom domain's ownership state is unspecified. This should never happen.",
            "Your custom domain's domain has no App-Hosting-related ownership records; no backend is authorized to serve on the domain in this Origin shard.",
            "Your custom domain can't be reached. App Hosting services' DNS queries to find your domain's ownership records resulted in errors. See your `CustomDomainStatus`'s `issues` field for more details.",
            "Your custom domain is owned by another App Hosting custom domain. Remove the conflicting records and replace them with records for your current custom domain.",
            "Your custom domain has conflicting `TXT` records that indicate ownership by both your current custom domain one or more others. Remove the extraneous ownership records to grant the current custom domain ownership.",
            "Your custom domain's DNS records are configured correctly. App Hosting will transfer ownership of your domain to this custom domain within 24 hours.",
            "Your custom domain owns its domain."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "OWNERSHIP_STATE_UNSPECIFIED",
            "OWNERSHIP_MISSING",
            "OWNERSHIP_UNREACHABLE",
            "OWNERSHIP_MISMATCH",
            "OWNERSHIP_CONFLICT",
            "OWNERSHIP_PENDING",
            "OWNERSHIP_ACTIVE"
          ],
          "description": "Output only. The custom domain's `OwnershipState`, which must be `OWNERSHIP_ACTIVE` for the create operations to complete."
        },
        "hostState": {
          "type": "string",
          "enum": [
            "HOST_STATE_UNSPECIFIED",
            "HOST_UNHOSTED",
            "HOST_UNREACHABLE",
            "HOST_NON_FAH",
            "HOST_CONFLICT",
            "HOST_WRONG_SHARD",
            "HOST_ACTIVE"
          ],
          "description": "Output only. The custom domain's `HostState`, which must be `HOST_ACTIVE` for Create operations of the domain name this `CustomDomain` refers toto complete.",
          "enumDescriptions": [
            "Your custom domain's host state is unspecified. The message is invalid if this is unspecified.",
            "Your custom domain isn't associated with any IP addresses.",
            "Your custom domain can't be reached. App Hosting services' DNS queries to find your domain's IP addresses resulted in errors. See your `CustomDomainStatus`'s `issues` field for more details.",
            "Your domain has only IP addresses that don't ultimately resolve to App Hosting.",
            "Your domain has IP addresses that resolve to both App Hosting and to other services. To ensure consistent results, remove `A` and `AAAA` records related to non-App-Hosting services.",
            "Your domain has IP addresses that resolve to an incorrect instance of the App Hosting Data Plane. App Hosting has multiple data plane instances to ensure high availability. The SSL certificate that App Hosting creates for your domain is only available on its assigned instance. If your domain's IP addresses resolve to an incorrect instance, App Hosting won't be able to serve secure content on it.",
            "All requests against your domain are served by App Hosting, via your domain's assigned shard. If the custom domain's `OwnershipState` is also `OWNERSHIP_ACTIVE`, App Hosting serves its backend's content on requests for the domain."
          ],
          "readOnly": true
        }
      },
      "description": "Additional metadata for operations on custom domains.",
      "type": "object"
    },
    "Backend": {
      "properties": {
        "annotations": {
          "description": "Optional. Unstructured key value map that may be set by external tools to store and arbitrary metadata. They are not queryable and should be preserved when modifying objects.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "requestLogsDisabled": {
          "type": "boolean",
          "description": "Optional. A field that, if true, indicates that incoming request logs are disabled for this backend. Incoming request logs are enabled by default."
        },
        "overrideEnv": {
          "type": "array",
          "description": "Optional. Override environment variables for this Backend.",
          "items": {
            "$ref": "EnvironmentVariable"
          }
        },
        "servingLocality": {
          "description": "Required. Immutable. Specifies how App Hosting will serve the content for this backend. It will either be contained to a single region (REGIONAL_STRICT) or allowed to use App Hosting's global-replicated serving infrastructure (GLOBAL_ACCESS).",
          "enumDescriptions": [
            "Unspecified. Will return an error if used.",
            "In this mode, App Hosting serves your backend's content from your chosen parent region. App Hosting only maintains data and serving infrastructure in that chosen region and does not replicate your data to other regions.",
            "In this mode, App Hosting serves your backend's content from multiple points-of-presence (POP) across the globe. App Hosting replicates your backend's configuration and cached data to these POPs and uses a global CDN to further decrease response latency. App Hosting-maintained Cloud Resources on your project, such as Cloud Run services, Cloud Build build, and Artifact Registry Images are still confined to your backend's parent region. Responses cached by the CDN may be stored in the POPs for the duration of the cache's TTL."
          ],
          "type": "string",
          "enum": [
            "SERVING_LOCALITY_UNSPECIFIED",
            "REGIONAL_STRICT",
            "GLOBAL_ACCESS"
          ]
        },
        "mode": {
          "type": "string",
          "deprecated": true,
          "description": "Optional. Deprecated: Use `environment` instead."
        },
        "reconciling": {
          "type": "boolean",
          "description": "Output only. A field that, if true, indicates that the system is working to make adjustments to the backend during a LRO.",
          "readOnly": true
        },
        "managedResources": {
          "description": "Output only. A list of the resources managed by this backend.",
          "type": "array",
          "items": {
            "$ref": "ManagedResource"
          },
          "readOnly": true
        },
        "etag": {
          "description": "Output only. Server-computed checksum based on other values; may be sent on update or delete to ensure operation is done on expected resource.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time at which the backend was created."
        },
        "automaticBaseImageUpdatesDisabled": {
          "description": "Optional. automatic_base_image_updates_disabled acts as a way for users to opt out of ABIU.",
          "type": "boolean"
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. System-assigned, unique identifier.",
          "type": "string"
        },
        "deleteTime": {
          "readOnly": true,
          "description": "Output only. Time at which the backend was deleted.",
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "type": "object",
          "description": "Optional. Unstructured key value map that can be used to organize and categorize objects.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "description": "Identifier. The resource name of the backend. Format: `projects/{project}/locations/{locationId}/backends/{backendId}`.",
          "type": "string"
        },
        "appId": {
          "type": "string",
          "description": "Optional. The [ID of a Web App](https://firebase.google.com/docs/reference/firebase-management/rest/v1beta1/projects.webApps#WebApp.FIELDS.app_id) associated with the backend."
        },
        "uri": {
          "description": "Output only. The primary URI to communicate with the backend.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Time at which the backend was last updated.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "runtime": {
          "$ref": "BackendRuntime",
          "description": "Optional. The runtime that the backend will be built on. A default base_image will be chosen for a given runtime."
        },
        "environment": {
          "description": "Optional. The environment name of the backend, used to load environment variables from environment specific configuration.",
          "type": "string"
        },
        "codebase": {
          "$ref": "Codebase",
          "description": "Optional. If specified, the connection to an external source repository to watch for event-driven updates to the backend."
        },
        "serviceAccount": {
          "description": "Required. The name of the service account used for Cloud Build and Cloud Run. Should have the role roles/firebaseapphosting.computeRunner or equivalent permissions.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. Human-readable name. 63 character limit."
        }
      },
      "description": "A backend is the primary resource of App Hosting.",
      "type": "object",
      "id": "Backend"
    },
    "Rollout": {
      "type": "object",
      "description": "A single rollout of a build for a backend.",
      "id": "Rollout",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Optional. Human-readable name. 63 character limit."
        },
        "name": {
          "description": "Identifier. The resource name of the rollout. Format: `projects/{project}/locations/{locationId}/backends/{backendId}/rollouts/{rolloutId}`.",
          "type": "string"
        },
        "build": {
          "type": "string",
          "description": "Required. Immutable. The name of a build that already exists. It doesn't have to be built; a rollout will wait for a build to be ready before updating traffic."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time at which the rollout was created.",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "The rollout is in an unknown state.",
            "The rollout is waiting for actuation to begin. This may be because it is waiting on another rollout to complete.",
            "The rollout is waiting for the build process to complete, which builds the code and sets up the underlying infrastructure.",
            "The rollout has started and is actively modifying traffic.",
            "The rollout has been paused due to either being manually paused or a PAUSED stage. This should be set while `paused = true`.",
            "The rollout has completed.",
            "The rollout has failed. See error for more information.",
            "The rollout has been cancelled.",
            "The rollout has been skipped."
          ],
          "description": "Output only. The state of the rollout.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "QUEUED",
            "PENDING_BUILD",
            "PROGRESSING",
            "PAUSED",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED",
            "SKIPPED"
          ]
        },
        "uid": {
          "description": "Output only. System-assigned, unique identifier.",
          "type": "string",
          "readOnly": true
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Unstructured key value map that can be used to organize and categorize objects.",
          "type": "object"
        },
        "error": {
          "description": "Output only. A status and (human readable) error message for the rollout, if in a `FAILED` state.",
          "readOnly": true,
          "$ref": "Status"
        },
        "deleteTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time at which the rollout was deleted.",
          "readOnly": true
        },
        "reconciling": {
          "description": "Output only. A field that, if true, indicates that the Rollout currently has an LRO.",
          "readOnly": true,
          "type": "boolean"
        },
        "etag": {
          "description": "Output only. Server-computed checksum based on other values; may be sent on update or delete to ensure operation is done on expected resource.",
          "type": "string",
          "readOnly": true
        },
        "annotations": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Unstructured key value map that may be set by external tools to store and arbitrary metadata. They are not queryable and should be preserved when modifying objects."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time at which the rollout was last updated.",
          "format": "google-datetime"
        }
      }
    },
    "Path": {
      "id": "Path",
      "properties": {
        "type": {
          "description": "Optional. The type of pattern to match against.",
          "enumDescriptions": [
            "The pattern type is unspecified - this is an invalid value.",
            "RE2 - regular expression (https://github.com/google/re2/wiki/Syntax).",
            "The pattern is a glob.",
            "The pattern is a prefix."
          ],
          "type": "string",
          "enum": [
            "PATTERN_TYPE_UNSPECIFIED",
            "RE2",
            "GLOB",
            "PREFIX"
          ]
        },
        "pattern": {
          "description": "Optional. The pattern to match against.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A file path pattern to match against."
    },
    "LiveMigrationStep": {
      "description": "A set of updates including ACME challenges and DNS records that allow App Hosting to create an SSL certificate and establish project ownership for your domain name before you direct traffic to App Hosting servers. Use these updates to facilitate zero downtime migrations to App Hosting from other services. After you've made the recommended updates, check your custom domain's `ownershipState` and `certState`. To avoid downtime, they should be `OWNERSHIP_ACTIVE` and `CERT_ACTIVE`, respectively, before you update your `A` and `AAAA` records.",
      "id": "LiveMigrationStep",
      "type": "object",
      "properties": {
        "stepState": {
          "enumDescriptions": [
            "The step's state is unspecified. The message is invalid if this is unspecified.",
            "App Hosting doesn't have enough information to construct the step yet. Complete any prior steps and/or resolve this step's issue to proceed.",
            "The step's state is pending. Complete prior steps before working on a `PENDING` step.",
            "The step is incomplete. You should complete any `dnsUpdates` changes to complete it.",
            "You've done your part to update records and present challenges as necessary. App Hosting is now completing background processes to complete the step, e.g. minting an SSL cert for your domain.",
            "The step is complete. You've already made the necessary changes to your domain and/or prior hosting service to advance to the next step. Once all steps are complete, App Hosting is ready to serve secure content on your domain."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "STEP_STATE_UNSPECIFIED",
            "PREPARING",
            "PENDING",
            "INCOMPLETE",
            "PROCESSING",
            "COMPLETE"
          ],
          "description": "Output only. The state of the live migration step, indicates whether you should work to complete the step now, in the future, or have already completed it."
        },
        "issues": {
          "items": {
            "$ref": "Status"
          },
          "description": "Output only. Issues that prevent the current step from completing.",
          "type": "array",
          "readOnly": true
        },
        "dnsUpdates": {
          "items": {
            "$ref": "DnsUpdates"
          },
          "description": "Output only. DNS updates to facilitate your domain's zero-downtime migration to App Hosting.",
          "readOnly": true,
          "type": "array"
        },
        "relevantDomainStates": {
          "type": "array",
          "description": "Output only. One or more states from the `CustomDomainStatus` of the migrating domain that this step is attempting to make ACTIVE. For example, if the step is attempting to mint an SSL certificate, this field will include `CERT_STATE`.",
          "items": {
            "type": "string",
            "enum": [
              "CUSTOM_DOMAIN_STATE_UNSPECIFIED",
              "HOST_STATE",
              "OWNERSHIP_STATE",
              "CERT_STATE"
            ],
            "enumDescriptions": [
              "This message is invalid if this is unspecified.",
              "The custom domain's host state.",
              "The custom domain's ownership state.",
              "The custom domain's certificate state."
            ]
          },
          "readOnly": true
        }
      }
    },
    "ListBackendsResponse": {
      "id": "ListBackendsResponse",
      "description": "Message for response to list backends",
      "type": "object",
      "properties": {
        "backends": {
          "description": "The list of backends",
          "type": "array",
          "items": {
            "$ref": "Backend"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token identifying the next page of results the server should return.",
          "type": "string"
        }
      }
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty"
    },
    "LocallyBuiltSource": {
      "properties": {
        "description": {
          "description": "Optional. An optional message that describes the uploaded version of the source code.",
          "type": "string"
        },
        "rootDirectory": {
          "type": "string",
          "description": "Optional. The directory relative to the root of the archive to use as the root for the deployed web app. Defaults to use the root of the repository if not provided. If deploying a [monorepo](https://firebase.google.com/docs/app-hosting/monorepos), this should be the directory that contains the built source of the app."
        },
        "userStorageUri": {
          "description": "URI to an archive in Cloud Storage. The object must be a gzipped archive file (.tar.gz) containing source to deploy.",
          "type": "string"
        },
        "runConfig": {
          "description": "Optional. Additional configuration of the Cloud Run [`service`](https://cloud.google.com/run/docs/reference/rest/v2/projects.locations.services#resource:-service).",
          "$ref": "RunConfig"
        },
        "env": {
          "type": "array",
          "items": {
            "$ref": "EnvironmentVariable"
          },
          "description": "Optional. Supplied runtime environment variables for a specific build. Provided at Build creation time and immutable afterwards."
        },
        "runCommand": {
          "type": "string",
          "description": "Optional. The command to run to start the app. If provided, it will override apphosting's default run commands. See [`Override build and run scripts`](https://firebase.google.com/docs/app-hosting/configure#override-scripts)"
        }
      },
      "description": "The URI of an storage archive to use as the build source.",
      "type": "object",
      "id": "LocallyBuiltSource"
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "Error": {
      "id": "Error",
      "type": "object",
      "properties": {
        "error": {
          "readOnly": true,
          "description": "Output only. A status and (human readable) error message for the build, if in a `FAILED` state.",
          "$ref": "Status"
        },
        "cloudResource": {
          "description": "Output only. Resource link",
          "readOnly": true,
          "type": "string"
        },
        "errorSource": {
          "enumDescriptions": [
            "Indicates that generic error occurred outside of the Cloud Build or Cloud Run processes, such as a pre-empted or user-canceled App Hosting Build.",
            "Indicates that the build failed during the Cloud Build process, such as a build timeout.",
            "Indicates that the build failed during the Cloud Run process, such as a service creation failure."
          ],
          "type": "string",
          "enum": [
            "ERROR_SOURCE_UNSPECIFIED",
            "CLOUD_BUILD",
            "CLOUD_RUN"
          ],
          "readOnly": true,
          "description": "Output only. The source of the error for the build, if in a `FAILED` state."
        }
      },
      "description": "The container for the rpc status and source for any errors found during the build process."
    },
    "CodebaseSource": {
      "properties": {
        "uri": {
          "readOnly": true,
          "description": "Output only. A URI linking to the codebase on an hosting provider's website. May not be valid if the commit has been rebased or force-pushed out of existence in the linked repository.",
          "type": "string"
        },
        "displayName": {
          "description": "Output only. The human-friendly name to use for this Codebase when displaying a build. We use the first eight characters of the SHA-1 hash for GitHub.com.",
          "readOnly": true,
          "type": "string"
        },
        "repository": {
          "description": "Output only. The resource name for the Developer Connect [`gitRepositoryLink`](https://cloud.google.com/developer-connect/docs/api/reference/rest/v1/projects.locations.connections.gitRepositoryLinks) used for this build, in the format: `projects/{project}/locations/{location}/connections/{connection}/gitRepositoryLinks/{repositoryLink}`",
          "type": "string",
          "readOnly": true
        },
        "author": {
          "readOnly": true,
          "$ref": "UserMetadata",
          "description": "Output only. The author contained in the metadata of a version control change."
        },
        "commitMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The message of a codebase change."
        },
        "commitTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the change was made.",
          "type": "string"
        },
        "hash": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The full SHA-1 hash of a Git commit, if available."
        },
        "branch": {
          "type": "string",
          "description": "The branch in the codebase to build from, using the latest commit."
        },
        "commit": {
          "description": "The commit in the codebase to build from.",
          "type": "string"
        }
      },
      "description": "A codebase source, representing the state of the codebase that the build will be created at.",
      "type": "object",
      "id": "CodebaseSource"
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "properties": {
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ListSupportedRuntimesResponse": {
      "description": "Response message for a list of supported runtimes.",
      "properties": {
        "supportedRuntimes": {
          "description": "The list of supported runtimes.",
          "type": "array",
          "items": {
            "$ref": "SupportedRuntime"
          }
        }
      },
      "id": "ListSupportedRuntimesResponse",
      "type": "object"
    },
    "RolloutPolicy": {
      "description": "The policy for how automatic builds and rollouts are triggered and rolled out.",
      "properties": {
        "disabledTime": {
          "format": "google-datetime",
          "description": "Output only. If `disabled` is set, the time at which the automatic rollouts were disabled.",
          "type": "string",
          "readOnly": true
        },
        "disabled": {
          "description": "Optional. A flag that, if true, prevents automatic rollouts from being created via this RolloutPolicy.",
          "type": "boolean"
        },
        "ignoredPaths": {
          "description": "Optional. A list of file paths patterns to exclude from triggering a rollout. Patterns in this list take precedence over required_paths. **Note**: All paths must be in the ignored_paths in order for the rollout to be skipped. Limited to 100 paths. Example: ``` ignored_paths: { pattern: \"foo/bar/excluded/*\", type: \"GLOB\" } ```",
          "type": "array",
          "items": {
            "$ref": "Path"
          }
        },
        "requiredPaths": {
          "type": "array",
          "description": "Optional. A list of file paths patterns that trigger a build and rollout if at least one of the changed files in the commit are present in this list. This field is optional; the rollout policy will default to triggering on all paths if both ignored_paths and required_paths are not populated. Limited to 100 paths. Example: ``` required_paths: { pattern: \"foo/bar/*\", type: \"GLOB\" } ```",
          "items": {
            "$ref": "Path"
          }
        },
        "codebaseBranch": {
          "description": "If set, specifies a branch that triggers a new build to be started with this policy. Otherwise, no automatic rollouts will happen.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "RolloutPolicy"
    },
    "EnvironmentVariable": {
      "id": "EnvironmentVariable",
      "type": "object",
      "description": "Environment variables for this build.",
      "properties": {
        "availability": {
          "description": "Optional. Where this variable should be made available. If left unspecified, will be available in both BUILD and BACKEND.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "AVAILABILITY_UNSPECIFIED",
              "BUILD",
              "RUNTIME"
            ],
            "enumDescriptions": [
              "The default value, unspecified, which is unused.",
              "This value is available when creating a Build from source code.",
              "This value is available at runtime within Cloud Run."
            ]
          }
        },
        "originFileName": {
          "readOnly": true,
          "description": "Output only. Specific detail about the source. For APPHOSTING_YAML origins, this will contain the exact filename, such as \"apphosting.yaml\" or \"apphosting.staging.yaml\".",
          "type": "string"
        },
        "origin": {
          "description": "Output only. The high-level origin category of the environment variable.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "ORIGIN_UNSPECIFIED",
            "BACKEND_OVERRIDES",
            "BUILD_CONFIG",
            "APPHOSTING_YAML",
            "FIREBASE_SYSTEM"
          ],
          "enumDescriptions": [
            "Source is unspecified.",
            "Variable was set on the backend resource (e.g. via API or Console). Represents variables from `Backend.override_env`",
            "Variable was provided specifically for the build upon creation via the `Build.Config.env` field. Only used for pre-built images.",
            "Variable is defined in apphosting.yaml file.",
            "Variable is defined provided by the firebase platform."
          ]
        },
        "secret": {
          "description": "A fully qualified secret version. The value of the secret will be accessed once while building the application and once per cold start of the container at runtime. The service account used by Cloud Build and by Cloud Run must each have the `secretmanager.versions.access` permission on the secret.",
          "type": "string"
        },
        "variable": {
          "description": "Required. The name of the environment variable. The environment variables reserved by [Cloud Run](https://docs.cloud.google.com/run/docs/configuring/services/environment-variables#reserved) should not be set. Additionally, variable names cannot start with \"X_FIREBASE_\".",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "A plaintext value. This value is encrypted at rest, but all project readers can view the value when reading your backend configuration."
        }
      }
    },
    "Redirect": {
      "id": "Redirect",
      "description": "Specifies redirect behavior for a domain.",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Required. The URI of the redirect's intended destination. This URI will be prepended to the original request path. URI without a scheme are assumed to be HTTPS."
        },
        "status": {
          "description": "Optional. The status code to use in a redirect response. Must be a valid HTTP 3XX status code. Defaults to 302 if not present.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ArchiveSource": {
      "description": "The URI of an storage archive or a signed URL to use as the build source.",
      "id": "ArchiveSource",
      "type": "object",
      "properties": {
        "author": {
          "$ref": "SourceUserMetadata",
          "deprecated": true,
          "description": "Optional. Deprecated: Not used. The author contained in the metadata of a version control change."
        },
        "rootDirectory": {
          "description": "Optional. The directory relative to the root of the archive to use as the root for the deployed web app. Defaults to use the root of the repository if not provided. If deploying a [monorepo](https://firebase.google.com/docs/app-hosting/monorepos), this should be the directory that contains the `package.json` or `apphosting.yaml` file.",
          "type": "string"
        },
        "userStorageUri": {
          "type": "string",
          "description": "URI to an archive in Cloud Storage. The object must be a zipped (.zip) or gzipped archive file (.tar.gz) containing source to deploy."
        },
        "externalSignedUri": {
          "description": "Signed URL to an archive in a storage bucket.",
          "type": "string"
        },
        "description": {
          "description": "Optional. An optional message that describes the uploaded version of the source code.",
          "type": "string"
        }
      }
    },
    "Config": {
      "id": "Config",
      "type": "object",
      "description": "Additional configuration of the backend for this build.",
      "properties": {
        "env": {
          "description": "Optional. Supplied environment variables for a specific build. Provided at Build creation time and immutable afterwards. This field is only applicable for Builds using a build image - (e.g., ContainerSource or ArchiveSource with locally_built_source) Attempts to set this for other build types will result in an error",
          "items": {
            "$ref": "EnvironmentVariable"
          },
          "type": "array"
        },
        "effectiveEnv": {
          "description": "Output only. [OUTPUT_ONLY] This field represents all environment variables employed during both the build and runtime. This list reflects the result of merging variables from all sources (Backend.override_env, Build.Config.env, YAML, defaults, system). Each variable includes its `origin`",
          "items": {
            "$ref": "EnvironmentVariable"
          },
          "readOnly": true,
          "type": "array"
        },
        "runConfig": {
          "description": "Optional. Additional configuration of the Cloud Run [`service`](https://cloud.google.com/run/docs/reference/rest/v2/projects.locations.services#resource:-service).",
          "$ref": "RunConfig"
        }
      }
    },
    "ListRolloutsResponse": {
      "description": "Message for response to list rollouts.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying the next page of results the server should return.",
          "type": "string"
        },
        "rollouts": {
          "items": {
            "$ref": "Rollout"
          },
          "type": "array",
          "description": "The list of rollouts."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListRolloutsResponse"
    },
    "ListBuildsResponse": {
      "type": "object",
      "id": "ListBuildsResponse",
      "properties": {
        "builds": {
          "type": "array",
          "items": {
            "$ref": "Build"
          },
          "description": "The list of builds."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying the next page of results the server should return."
        }
      },
      "description": "Message for response to list builds."
    },
    "ContainerSource": {
      "description": "The URI of an Artifact Registry [container image](https://cloud.google.com/artifact-registry/docs/reference/rest/v1/projects.locations.repositories.dockerImages) to use as the build source.",
      "type": "object",
      "properties": {
        "image": {
          "type": "string",
          "description": "Required. A URI representing a container for the backend to use."
        }
      },
      "id": "ContainerSource"
    }
  },
  "ownerName": "Google",
  "version_module": true,
  "description": "Firebase App Hosting streamlines the development and deployment of dynamic Next.js and Angular applications, offering built-in framework support, GitHub integration, and integration with other Firebase products. You can use this API to intervene in the Firebase App Hosting build process and add custom functionality not supported in our default Console & CLI flows, including triggering builds from external CI/CD workflows or deploying from pre-built container images. ",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "path": "v1beta/{+name}/locations",
              "id": "firebaseapphosting.projects.locations.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "parameters": {
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "type": "string",
                  "location": "query",
                  "repeated": true
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query"
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "flatPath": "v1beta/projects/{projectsId}/locations"
            },
            "get": {
              "response": {
                "$ref": "Location"
              },
              "path": "v1beta/{+name}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Resource name for the location."
                }
              },
              "id": "firebaseapphosting.projects.locations.get",
              "httpMethod": "GET",
              "description": "Gets information about a location."
            }
          },
          "resources": {
            "supportedRuntimes": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "firebaseapphosting.projects.locations.supportedRuntimes.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "path": "v1beta/{+parent}/supportedRuntimes",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/supportedRuntimes",
                  "description": "Lists the runtimes supported by the backend. The list of runtimes may vary across projects and locations, for example, during staged rollouts of new runtime support.",
                  "response": {
                    "$ref": "ListSupportedRuntimesResponse"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent, which owns this collection of SupportedRuntime. Format: projects/{project}/locations/{location}"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. The suggested number of runtimes to return. This field is ignored. We return all runtimes in a single page regardless of the page size."
                    }
                  }
                }
              }
            },
            "backends": {
              "resources": {
                "traffic": {
                  "methods": {
                    "get": {
                      "description": "Gets information about a backend's traffic.",
                      "id": "firebaseapphosting.projects.locations.backends.traffic.get",
                      "response": {
                        "$ref": "Traffic"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/backends/{backendsId}/traffic",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "description": "Required. Name of the resource in the format: `projects/{project}/locations/{locationId}/backends/{backendId}/traffic`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/backends/[^/]+/traffic$",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta/{+name}",
                      "httpMethod": "GET"
                    },
                    "patch": {
                      "request": {
                        "$ref": "Traffic"
                      },
                      "id": "firebaseapphosting.projects.locations.backends.traffic.patch",
                      "httpMethod": "PATCH",
                      "description": "Updates a backend's traffic.",
                      "parameters": {
                        "updateMask": {
                          "description": "Optional. Field mask is used to specify the fields to be overwritten in the traffic resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                          "type": "string",
                          "location": "query",
                          "format": "google-fieldmask"
                        },
                        "requestId": {
                          "location": "query",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and t he request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "type": "string"
                        },
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Identifier. The resource name of the backend's traffic. Format: `projects/{project}/locations/{locationId}/backends/{backendId}/traffic`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/backends/[^/]+/traffic$"
                        },
                        "validateOnly": {
                          "description": "Optional. Indicates that the request should be validated, without persisting the request or updating any resources.",
                          "location": "query",
                          "type": "boolean"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1beta/{+name}",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/backends/{backendsId}/traffic",
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                },
                "builds": {
                  "methods": {
                    "list": {
                      "description": "Lists builds in a given project, location, and backend.",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/backends/{backendsId}/builds",
                      "path": "v1beta/{+parent}/builds",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListBuildsResponse"
                      },
                      "id": "firebaseapphosting.projects.locations.backends.builds.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "description": "Optional. The maximum number of results to return. If not set, the service selects a default.",
                          "format": "int32",
                          "type": "integer"
                        },
                        "parent": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/backends/[^/]+$",
                          "type": "string",
                          "description": "Required. The parent backend in the form `projects/{project}/locations/{locationId}/backends/{backendId}`."
                        },
                        "filter": {
                          "location": "query",
                          "description": "Optional. A filter to narrow down results to a preferred subset. Learn more about filtering in Google's [AIP 160 standard](https://google.aip.dev/160).",
                          "type": "string"
                        },
                        "showDeleted": {
                          "type": "boolean",
                          "location": "query",
[...]
