{
  "servicePath": "",
  "discoveryVersion": "v1",
  "rootUrl": "https://firebaseml.googleapis.com/",
  "mtlsRootUrl": "https://firebaseml.mtls.googleapis.com/",
  "id": "firebaseml:v2beta",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version": "v2beta",
  "basePath": "",
  "revision": "20261004",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "publishers": {
              "resources": {
                "models": {
                  "methods": {
                    "streamGenerateContent": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "GoogleCloudAiplatformV1beta1GenerateContentRequest"
                      },
                      "parameterOrder": [
                        "model"
                      ],
                      "httpMethod": "POST",
                      "description": "Generate content with multimodal inputs with streaming support.",
                      "response": {
                        "$ref": "GoogleCloudAiplatformV1beta1GenerateContentResponse"
                      },
                      "path": "v2beta/{+model}:streamGenerateContent",
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/publishers/{publishersId}/models/{modelsId}:streamGenerateContent",
                      "parameters": {
                        "model": {
                          "description": "Required. The fully qualified name of the publisher model or tuned model endpoint to use. Publisher model format: `projects/{project}/locations/{location}/publishers/*/models/*` Tuned model endpoint format: `projects/{project}/locations/{location}/endpoints/{endpoint}`",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/publishers/[^/]+/models/[^/]+$",
                          "type": "string"
                        }
                      },
                      "id": "firebaseml.projects.locations.publishers.models.streamGenerateContent"
                    },
                    "generateContent": {
                      "request": {
                        "$ref": "GoogleCloudAiplatformV1beta1GenerateContentRequest"
                      },
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/publishers/{publishersId}/models/{modelsId}:generateContent",
                      "parameterOrder": [
                        "model"
                      ],
                      "path": "v2beta/{+model}:generateContent",
                      "id": "firebaseml.projects.locations.publishers.models.generateContent",
                      "response": {
                        "$ref": "GoogleCloudAiplatformV1beta1GenerateContentResponse"
                      },
                      "parameters": {
                        "model": {
                          "description": "Required. The fully qualified name of the publisher model or tuned model endpoint to use. Publisher model format: `projects/{project}/locations/{location}/publishers/*/models/*` Tuned model endpoint format: `projects/{project}/locations/{location}/endpoints/{endpoint}`",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/publishers/[^/]+/models/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Generate content with multimodal inputs.",
                      "httpMethod": "POST"
                    },
                    "countTokens": {
                      "request": {
                        "$ref": "GoogleCloudAiplatformV1beta1CountTokensRequest"
                      },
                      "parameters": {
                        "endpoint": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/publishers/[^/]+/models/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "description": "Required. The name of the Endpoint requested to perform token counting. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}`"
                        }
                      },
                      "id": "firebaseml.projects.locations.publishers.models.countTokens",
                      "parameterOrder": [
                        "endpoint"
                      ],
                      "description": "Perform a token counting.",
                      "httpMethod": "POST",
                      "path": "v2beta/{+endpoint}:countTokens",
                      "response": {
                        "$ref": "GoogleCloudAiplatformV1beta1CountTokensResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/publishers/{publishersId}/models/{modelsId}:countTokens"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "protocol": "rest",
  "ownerDomain": "google.com",
  "title": "Firebase ML API",
  "documentationLink": "https://firebase.google.com",
  "schemas": {
    "GoogleCloudAiplatformV1beta1SpeechMetadata": {
      "description": "Structured Metadata Sub-Message for Part",
      "type": "object",
      "properties": {
        "style": {
          "description": "Optional. Natural language description of the vocal style (e.g., \"cheerful\").",
          "type": "string"
        },
        "speaker": {
          "type": "string",
          "description": "Optional. Identifies which speaker is speaking this turn."
        }
      },
      "id": "GoogleCloudAiplatformV1beta1SpeechMetadata"
    },
    "GoogleCloudAiplatformV1beta1ImageConfigImageOutputOptions": {
      "description": "The image output format for generated images.",
      "properties": {
        "compressionQuality": {
          "description": "Optional. The compression quality of the output image.",
          "format": "int32",
          "type": "integer"
        },
        "mimeType": {
          "type": "string",
          "description": "Optional. The image format that the output should be saved as."
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1ImageConfigImageOutputOptions"
    },
    "GoogleCloudAiplatformV1beta1FunctionResponseFileData": {
      "id": "GoogleCloudAiplatformV1beta1FunctionResponseFileData",
      "description": "URI based data for function response.",
      "type": "object",
      "properties": {
        "fileUri": {
          "description": "Required. URI.",
          "type": "string"
        },
        "mimeType": {
          "description": "Required. The IANA standard MIME type of the source data.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. Display name of the file data. Used to provide a label or filename to distinguish file datas. This field is only returned in PromptMessage for prompt management. It is currently used in the Gemini GenerateContent calls only when server side tools (code_execution, google_search, and url_context) are enabled."
        }
      }
    },
    "GoogleCloudAiplatformV1beta1Schema": {
      "properties": {
        "additionalProperties": {
          "description": "Optional. If `type` is `OBJECT`, specifies how to handle properties not defined in `properties`. If it is a boolean `false`, no additional properties are allowed. If it is a schema, additional properties are allowed if they conform to the schema.",
          "type": "any"
        },
        "nullable": {
          "description": "Optional. Indicates if the value of this field can be null.",
          "type": "boolean"
        },
        "minItems": {
          "type": "string",
          "description": "Optional. If type is `ARRAY`, `min_items` specifies the minimum number of items in an array.",
          "format": "int64"
        },
        "format": {
          "type": "string",
          "description": "Optional. The format of the data. For `NUMBER` type, format can be `float` or `double`. For `INTEGER` type, format can be `int32` or `int64`. For `STRING` type, format can be `email`, `byte`, `date`, `date-time`, `password`, and other formats to further refine the data type."
        },
        "defs": {
          "description": "Optional. `defs` provides a map of schema definitions that can be reused by `ref` elsewhere in the schema. Only allowed at root level of the schema.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudAiplatformV1beta1Schema"
          }
        },
        "pattern": {
          "type": "string",
          "description": "Optional. If type is `STRING`, `pattern` specifies a regular expression that the string must match."
        },
        "minProperties": {
          "format": "int64",
          "type": "string",
          "description": "Optional. If type is `OBJECT`, `min_properties` specifies the minimum number of properties that can be provided."
        },
        "minLength": {
          "format": "int64",
          "description": "Optional. If type is `STRING`, `min_length` specifies the minimum length of the string.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Not specified, should not be used.",
            "OpenAPI string type",
            "OpenAPI number type",
            "OpenAPI integer type",
            "OpenAPI boolean type",
            "OpenAPI array type",
            "OpenAPI object type",
            "Null type"
          ],
          "type": "string",
          "description": "Optional. Data type of the schema field.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "NUMBER",
            "INTEGER",
            "BOOLEAN",
            "ARRAY",
            "OBJECT",
            "NULL"
          ]
        },
        "required": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. If type is `OBJECT`, `required` lists the names of properties that must be present."
        },
        "maxItems": {
          "description": "Optional. If type is `ARRAY`, `max_items` specifies the maximum number of items in an array.",
          "format": "int64",
          "type": "string"
        },
        "propertyOrdering": {
          "type": "array",
          "description": "Optional. Order of properties displayed or used where order matters. This is not a standard field in OpenAPI specification, but can be used to control the order of properties.",
          "items": {
            "type": "string"
          }
        },
        "maxProperties": {
          "description": "Optional. If type is `OBJECT`, `max_properties` specifies the maximum number of properties that can be provided.",
          "type": "string",
          "format": "int64"
        },
        "properties": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudAiplatformV1beta1Schema"
          },
          "description": "Optional. If type is `OBJECT`, `properties` is a map of property names to schema definitions for each property of the object."
        },
        "default": {
          "description": "Optional. Default value to use if the field is not specified.",
          "type": "any"
        },
        "maxLength": {
          "description": "Optional. If type is `STRING`, `max_length` specifies the maximum length of the string.",
          "format": "int64",
          "type": "string"
        },
        "enum": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Possible values of the field. This field can be used to restrict a value to a fixed set of values. To mark a field as an enum, set `format` to `enum` and provide the list of possible values in `enum`. For example: 1. To define directions: `{type:STRING, format:enum, enum:[\"EAST\", \"NORTH\", \"SOUTH\", \"WEST\"]}` 2. To define apartment numbers: `{type:INTEGER, format:enum, enum:[\"101\", \"201\", \"301\"]}`"
        },
        "items": {
          "description": "Optional. If type is `ARRAY`, `items` specifies the schema of elements in the array.",
          "$ref": "GoogleCloudAiplatformV1beta1Schema"
        },
        "description": {
          "type": "string",
          "description": "Optional. Describes the data. The model uses this field to understand the purpose of the schema and how to use it. It is a best practice to provide a clear and descriptive explanation for the schema and its properties here, rather than in the prompt."
        },
        "title": {
          "description": "Optional. Title for the schema.",
          "type": "string"
        },
        "maximum": {
          "description": "Optional. If type is `INTEGER` or `NUMBER`, `maximum` specifies the maximum allowed value.",
          "format": "double",
          "type": "number"
        },
        "anyOf": {
          "description": "Optional. The instance must be valid against any (one or more) of the subschemas listed in `any_of`.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1Schema"
          },
          "type": "array"
        },
        "ref": {
          "description": "Optional. Allows referencing another schema definition to use in place of this schema. The value must be a valid reference to a schema in `defs`. For example, the following schema defines a reference to a schema node named \"Pet\": type: object properties: pet: ref: #/defs/Pet defs: Pet: type: object properties: name: type: string The value of the \"pet\" property is a reference to the schema node named \"Pet\". See details in https://json-schema.org/understanding-json-schema/structuring",
          "type": "string"
        },
        "minimum": {
          "format": "double",
          "type": "number",
          "description": "Optional. If type is `INTEGER` or `NUMBER`, `minimum` specifies the minimum allowed value."
        },
        "example": {
          "description": "Optional. Example of an instance of this schema.",
          "type": "any"
        }
      },
      "description": "Defines the schema of input and output data. This is a subset of the [OpenAPI 3.0 Schema Object](https://spec.openapis.org/oas/v3.0.3#schema-object).",
      "id": "GoogleCloudAiplatformV1beta1Schema",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1ExternalApi": {
      "type": "object",
      "description": "Retrieve from data source powered by external API for grounding. The external API is not owned by Google, but need to follow the pre-defined API spec.",
      "properties": {
        "simpleSearchParams": {
          "description": "Parameters for the simple search API.",
          "$ref": "GoogleCloudAiplatformV1beta1ExternalApiSimpleSearchParams"
        },
        "elasticSearchParams": {
          "$ref": "GoogleCloudAiplatformV1beta1ExternalApiElasticSearchParams",
          "description": "Parameters for the elastic search API."
        },
        "apiAuth": {
          "description": "The authentication config to access the API. Deprecated. Please use auth_config instead.",
          "$ref": "GoogleCloudAiplatformV1beta1ApiAuth",
          "deprecated": true
        },
        "authConfig": {
          "$ref": "GoogleCloudAiplatformV1beta1AuthConfig",
          "description": "The authentication config to access the API."
        },
        "endpoint": {
          "description": "The endpoint of the external API. The system will call the API at this endpoint to retrieve the data for grounding. Example: https://acme.com:443/search",
          "type": "string"
        },
        "apiSpec": {
          "enumDescriptions": [
            "Unspecified API spec. This value should not be used.",
            "Simple search API spec.",
            "Elastic search API spec."
          ],
          "type": "string",
          "description": "The API spec that the external API implements.",
          "enum": [
            "API_SPEC_UNSPECIFIED",
            "SIMPLE_SEARCH",
            "ELASTIC_SEARCH"
          ]
        }
      },
      "id": "GoogleCloudAiplatformV1beta1ExternalApi"
    },
    "GoogleCloudAiplatformV1beta1CodeExecutionResult": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1CodeExecutionResult",
      "properties": {
        "outcome": {
          "enum": [
            "OUTCOME_UNSPECIFIED",
            "OUTCOME_OK",
            "OUTCOME_FAILED",
            "OUTCOME_DEADLINE_EXCEEDED"
          ],
          "description": "Required. Outcome of the code execution.",
          "enumDescriptions": [
            "Unspecified status. This value should not be used.",
            "Code execution completed successfully. `output` contains the stdout, if any.",
            "Code execution failed. `output` contains the stderr and stdout, if any.",
            "Code execution ran for too long, and was cancelled. There may or may not be a partial `output` present."
          ],
          "type": "string"
        },
        "output": {
          "type": "string",
          "description": "Optional. Contains stdout when code execution is successful, stderr or other description otherwise."
        },
        "id": {
          "type": "string",
          "description": "Optional. The identifier of the `ExecutableCode` part this result is for. Only populated if the corresponding `ExecutableCode` has an id."
        }
      },
      "description": "Result of executing the ExecutableCode. Generated only when the `CodeExecution` tool is used."
    },
    "GoogleCloudAiplatformV1beta1FileData": {
      "description": "URI-based data. A FileData message contains a URI pointing to data of a specific media type. It is used to represent images, audio, and video stored in Google Cloud Storage.",
      "properties": {
        "mimeType": {
          "description": "Required. The IANA standard MIME type of the source data.",
          "type": "string"
        },
        "fileUri": {
          "description": "Required. The URI of the file in Google Cloud Storage.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. The display name of the file. Used to provide a label or filename to distinguish files. This field is only returned in `PromptMessage` for prompt management. It is used in the Gemini calls only when server side tools (`code_execution`, `google_search`, and `url_context`) are enabled."
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1FileData"
    },
    "GoogleCloudAiplatformV1beta1GenerationConfig": {
      "id": "GoogleCloudAiplatformV1beta1GenerationConfig",
      "type": "object",
      "description": "Configuration for content generation. This message contains all the parameters that control how the model generates content. It allows you to influence the randomness, length, and structure of the output.",
      "properties": {
        "imageConfig": {
          "$ref": "GoogleCloudAiplatformV1beta1ImageConfig",
          "deprecated": true,
          "description": "Optional. Config for image generation features. Deprecated: Use `response_format.image` instead."
        },
        "seed": {
          "format": "int32",
          "description": "Optional. A seed for the random number generator. By setting a seed, you can make the model's output mostly deterministic. For a given prompt and parameters (like temperature, top_p, etc.), the model will produce the same response every time. However, it's not a guaranteed absolute deterministic behavior. This is different from parameters like `temperature`, which control the *level* of randomness. `seed` ensures that the \"random\" choices the model makes are the same on every run, making it essential for testing and ensuring reproducible results.",
          "type": "integer"
        },
        "responseMimeType": {
          "description": "Optional. The IANA standard MIME type of the response. The model will generate output that conforms to this MIME type. Supported values include 'text/plain' (default) and 'application/json'. The model needs to be prompted to output the appropriate response type, otherwise the behavior is undefined. Deprecated: Use `response_format` instead.",
          "type": "string",
          "deprecated": true
        },
        "routingConfig": {
          "$ref": "GoogleCloudAiplatformV1beta1GenerationConfigRoutingConfig",
          "description": "Optional. Routing configuration."
        },
        "audioTranscriptionConfig": {
          "$ref": "GoogleCloudAiplatformV1beta1AudioTranscriptionConfig",
          "description": "Optional. Configuration for audio transcription (speech recognition)."
        },
        "presencePenalty": {
          "description": "Optional. Penalizes tokens that have already appeared in the generated text. A positive value encourages the model to generate more diverse and less repetitive text. Valid values can range from [-2.0, 2.0].",
          "type": "number",
          "format": "float"
        },
        "modelConfig": {
          "$ref": "GoogleCloudAiplatformV1beta1GenerationConfigModelConfig",
          "deprecated": true,
          "description": "Optional. Config for model selection."
        },
        "stopSequences": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. A list of character sequences that will stop the model from generating further tokens. If a stop sequence is generated, the output will end at that point. This is useful for controlling the length and structure of the output. For example, you can use [\"\\n\", \"###\"] to stop generation at a new line or a specific marker."
        },
        "responseSchema": {
          "$ref": "GoogleCloudAiplatformV1beta1Schema",
          "deprecated": true,
          "description": "Optional. Lets you to specify a schema for the model's response, ensuring that the output conforms to a particular structure. This is useful for generating structured data such as JSON. The schema is a subset of the [OpenAPI 3.0 schema object](https://spec.openapis.org/oas/v3.0.3#schema) object. When this field is set, you must also set the `response_mime_type` to `application/json`. Deprecated: Use `response_format` instead."
        },
        "topP": {
          "type": "number",
          "format": "float",
          "description": "Optional. Specifies the nucleus sampling threshold. The model considers only the smallest set of tokens whose cumulative probability is at least `top_p`. This helps generate more diverse and less repetitive responses. For example, a `top_p` of 0.9 means the model considers tokens until the cumulative probability of the tokens to select from reaches 0.9. It's recommended to adjust either temperature or `top_p`, but not both."
        },
        "frequencyPenalty": {
          "description": "Optional. Penalizes tokens based on their frequency in the generated text. A positive value helps to reduce the repetition of words and phrases. Valid values can range from [-2.0, 2.0].",
          "type": "number",
          "format": "float"
        },
        "translationConfig": {
          "$ref": "GoogleCloudAiplatformV1beta1TranslationConfig",
          "description": "Optional. Config for translation."
        },
        "topK": {
          "description": "Optional. Specifies the top-k sampling threshold. The model considers only the top k most probable tokens for the next token. This can be useful for generating more coherent and less random text. For example, a `top_k` of 40 means the model will choose the next word from the 40 most likely words.",
          "format": "float",
          "type": "number"
        },
        "speechConfig": {
          "$ref": "GoogleCloudAiplatformV1beta1SpeechConfig",
          "description": "Optional. The speech generation config."
        },
        "responseJsonSchema": {
          "description": "Optional. When this field is set, response_schema must be omitted and response_mime_type must be set to `application/json`. Deprecated: Use `response_format` instead.",
          "type": "any",
          "deprecated": true
        },
        "maxOutputTokens": {
          "type": "integer",
          "description": "Optional. The maximum number of tokens to generate in the response. A token is approximately four characters. The default value varies by model. This parameter can be used to control the length of the generated text and prevent overly long responses.",
          "format": "int32"
        },
        "temperature": {
          "format": "float",
          "description": "Optional. Controls the randomness of the output. A higher temperature results in more creative and diverse responses, while a lower temperature makes the output more predictable and focused. The valid range is (0.0, 2.0].",
          "type": "number"
        },
        "candidateCount": {
          "type": "integer",
          "description": "Optional. The number of candidate responses to generate. A higher `candidate_count` can provide more options to choose from, but it also consumes more resources. This can be useful for generating a variety of responses and selecting the best one.",
          "format": "int32"
        },
        "mediaResolution": {
          "description": "Optional. The token resolution at which input media content is sampled. This is used to control the trade-off between the quality of the response and the number of tokens used to represent the media. A higher resolution allows the model to perceive more detail, which can lead to a more nuanced response, but it will also use more tokens. This does not affect the image dimensions sent to the model.",
          "enum": [
            "MEDIA_RESOLUTION_UNSPECIFIED",
            "MEDIA_RESOLUTION_LOW",
            "MEDIA_RESOLUTION_MEDIUM",
            "MEDIA_RESOLUTION_HIGH"
          ],
          "enumDescriptions": [
            "Media resolution has not been set.",
            "Media resolution set to low (64 tokens).",
            "Media resolution set to medium (256 tokens).",
            "Media resolution set to high (zoomed reframing with 256 tokens)."
          ],
          "type": "string"
        },
        "responseLogprobs": {
          "description": "Optional. If set to true, the log probabilities of the output tokens are returned. Log probabilities are the logarithm of the probability of a token appearing in the output. A higher log probability means the token is more likely to be generated. This can be useful for analyzing the model's confidence in its own output and for debugging.",
          "type": "boolean"
        },
        "thinkingConfig": {
          "description": "Optional. Configuration for thinking features. An error will be returned if this field is set for models that don't support thinking.",
          "$ref": "GoogleCloudAiplatformV1beta1GenerationConfigThinkingConfig"
        },
        "responseModalities": {
          "description": "Optional. The modalities of the response. The model will generate a response that includes all the specified modalities. For example, if this is set to `[TEXT, IMAGE]`, the response will include both text and an image.",
          "type": "array",
          "items": {
            "enum": [
              "MODALITY_UNSPECIFIED",
              "TEXT",
              "IMAGE",
              "AUDIO",
              "VIDEO"
            ],
            "enumDescriptions": [
              "Unspecified modality. Will be processed as text.",
              "Text modality.",
              "Image modality.",
              "Audio modality.",
              "Video modality."
            ],
            "type": "string"
          }
        },
        "logprobs": {
          "format": "int32",
          "description": "Optional. The number of top log probabilities to return for each token. This can be used to see which other tokens were considered likely candidates for a given position. A higher value will return more options, but it will also increase the size of the response.",
          "type": "integer"
        },
        "audioTimestamp": {
          "description": "Optional. If enabled, audio timestamps will be included in the request to the model. This can be useful for synchronizing audio with other modalities in the response.",
          "type": "boolean"
        },
        "enableAffectiveDialog": {
          "type": "boolean",
          "description": "Optional. If enabled, the model will detect emotions and adapt its responses accordingly. For example, if the model detects that the user is frustrated, it may provide a more empathetic response."
        },
        "responseFormat": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1ResponseFormat"
          },
          "type": "array",
          "description": "Optional. New response format field for the model to configure output formatting and delivery."
        }
      }
    },
    "GoogleCloudAiplatformV1beta1RagRetrievalConfigRankingRankService": {
      "description": "Config for Rank Service.",
      "id": "GoogleCloudAiplatformV1beta1RagRetrievalConfigRankingRankService",
      "type": "object",
      "properties": {
        "modelName": {
          "description": "Optional. The model name of the rank service. Format: `semantic-ranker-512@latest`",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1GenerationConfigThinkingConfig": {
      "id": "GoogleCloudAiplatformV1beta1GenerationConfigThinkingConfig",
      "description": "Configuration for the model's thinking features. \"Thinking\" is a process where the model breaks down a complex task into smaller, manageable steps. This allows the model to reason about the task, plan its approach, and execute the plan to generate a high-quality response.",
      "properties": {
        "thinkingLevel": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified thinking level.",
            "Low thinking level.",
            "Medium thinking level.",
            "High thinking level.",
            "MINIMAL thinking level."
          ],
          "enum": [
            "THINKING_LEVEL_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "MINIMAL"
          ],
          "description": "Optional. The number of thoughts tokens that the model should generate."
        },
        "includeThoughts": {
          "description": "Optional. If true, the model will include its thoughts in the response. \"Thoughts\" are the intermediate steps the model takes to arrive at the final response. They can provide insights into the model's reasoning process and help with debugging. If this is true, thoughts are returned only when available.",
          "type": "boolean"
        },
        "thinkingBudget": {
          "description": "Optional. The token budget for the model's thinking process. The model will make a best effort to stay within this budget. This can be used to control the trade-off between response quality and latency.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1SafetySetting": {
      "id": "GoogleCloudAiplatformV1beta1SafetySetting",
      "properties": {
        "category": {
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false
          ],
          "description": "Required. The harm category to be blocked.",
          "enum": [
            "HARM_CATEGORY_UNSPECIFIED",
            "HARM_CATEGORY_HATE_SPEECH",
            "HARM_CATEGORY_DANGEROUS_CONTENT",
            "HARM_CATEGORY_HARASSMENT",
            "HARM_CATEGORY_SEXUALLY_EXPLICIT",
            "HARM_CATEGORY_CIVIC_INTEGRITY",
            "HARM_CATEGORY_IMAGE_HATE",
            "HARM_CATEGORY_IMAGE_DANGEROUS_CONTENT",
            "HARM_CATEGORY_IMAGE_HARASSMENT",
            "HARM_CATEGORY_IMAGE_SEXUALLY_EXPLICIT",
            "HARM_CATEGORY_JAILBREAK"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Content that promotes violence or incites hatred against individuals or groups based on certain attributes.",
            "Content that promotes, facilitates, or enables dangerous activities.",
            "Abusive, threatening, or content intended to bully, torment, or ridicule.",
            "Content that contains sexually explicit material.",
            "Deprecated: Election filter is not longer supported. The harm category is civic integrity.",
            "Images that contain hate speech.",
            "Images that contain dangerous content.",
            "Images that contain harassment.",
            "Images that contain sexually explicit content.",
            "Prompts designed to bypass safety filters."
          ],
          "type": "string"
        },
        "threshold": {
          "enumDescriptions": [
            "The harm block threshold is unspecified.",
            "Block content with a low harm probability or higher.",
            "Block content with a medium harm probability or higher.",
            "Block content with a high harm probability.",
            "Do not block any content, regardless of its harm probability.",
            "Turn off the safety filter entirely."
          ],
          "type": "string",
          "description": "Required. The threshold for blocking content. If the harm probability exceeds this threshold, the content will be blocked.",
          "enum": [
            "HARM_BLOCK_THRESHOLD_UNSPECIFIED",
            "BLOCK_LOW_AND_ABOVE",
            "BLOCK_MEDIUM_AND_ABOVE",
            "BLOCK_ONLY_HIGH",
            "BLOCK_NONE",
            "OFF"
          ]
        },
        "method": {
          "type": "string",
          "description": "Optional. The method for blocking content. If not specified, the default behavior is to use the probability score.",
          "enumDescriptions": [
            "The harm block method is unspecified.",
            "The harm block method uses both probability and severity scores.",
            "The harm block method uses the probability score."
          ],
          "enum": [
            "HARM_BLOCK_METHOD_UNSPECIFIED",
            "SEVERITY",
            "PROBABILITY"
          ]
        }
      },
      "type": "object",
      "description": "A safety setting that affects the safety-blocking behavior. A SafetySetting consists of a harm category and a threshold for that category."
    },
    "GoogleCloudAiplatformV1beta1CountTokensRequest": {
      "description": "Request message for PredictionService.CountTokens.",
      "id": "GoogleCloudAiplatformV1beta1CountTokensRequest",
      "type": "object",
      "properties": {
        "systemInstruction": {
          "$ref": "GoogleCloudAiplatformV1beta1Content",
          "description": "Optional. The user provided system instructions for the model. Note: only text should be used in parts and content in each part will be in a separate paragraph."
        },
        "instances": {
          "items": {
            "type": "any"
          },
          "type": "array",
          "description": "Optional. The instances that are the input to token counting call. Schema is identical to the prediction schema of the underlying model."
        },
        "generationConfig": {
          "$ref": "GoogleCloudAiplatformV1beta1GenerationConfig",
          "description": "Optional. Generation config that the model will use to generate the response."
        },
        "contents": {
          "description": "Optional. Input content.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1Content"
          },
          "type": "array"
        },
        "model": {
          "description": "Optional. The name of the publisher model requested to serve the prediction. Format: `projects/{project}/locations/{location}/publishers/*/models/*`",
          "type": "string"
        },
        "tools": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1Tool"
          },
          "type": "array",
          "description": "Optional. A list of `Tools` the model may use to generate the next response. A `Tool` is a piece of code that enables the system to interact with external systems to perform an action, or set of actions, outside of knowledge and scope of the model."
        }
      }
    },
    "LatLng": {
      "description": "An object that represents a latitude/longitude pair. This is expressed as a pair of doubles to represent degrees latitude and degrees longitude. Unless specified otherwise, this object must conform to the WGS84 standard. Values must be within normalized ranges.",
      "type": "object",
      "properties": {
        "latitude": {
          "format": "double",
          "type": "number",
          "description": "The latitude in degrees. It must be in the range [-90.0, +90.0]."
        },
        "longitude": {
          "type": "number",
          "format": "double",
          "description": "The longitude in degrees. It must be in the range [-180.0, +180.0]."
        }
      },
      "id": "LatLng"
    },
    "GoogleCloudAiplatformV1beta1SafetyRating": {
      "description": "A safety rating for a piece of content. The safety rating contains the harm category and the harm probability level.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1SafetyRating",
      "properties": {
        "blocked": {
          "readOnly": true,
          "description": "Output only. Indicates whether the content was blocked because of this rating.",
          "type": "boolean"
        },
        "probabilityScore": {
          "readOnly": true,
          "description": "Output only. The probability score of harm for this category.",
          "type": "number",
          "format": "float"
        },
        "probability": {
          "description": "Output only. The probability of harm for this category.",
          "enumDescriptions": [
            "The harm probability is unspecified.",
            "The harm probability is negligible.",
            "The harm probability is low.",
            "The harm probability is medium.",
            "The harm probability is high."
          ],
          "enum": [
            "HARM_PROBABILITY_UNSPECIFIED",
            "NEGLIGIBLE",
            "LOW",
            "MEDIUM",
            "HIGH"
          ],
          "readOnly": true,
          "type": "string"
        },
        "overwrittenThreshold": {
          "enumDescriptions": [
            "The harm block threshold is unspecified.",
            "Block content with a low harm probability or higher.",
            "Block content with a medium harm probability or higher.",
            "Block content with a high harm probability.",
            "Do not block any content, regardless of its harm probability.",
            "Turn off the safety filter entirely."
          ],
          "readOnly": true,
          "enum": [
            "HARM_BLOCK_THRESHOLD_UNSPECIFIED",
            "BLOCK_LOW_AND_ABOVE",
            "BLOCK_MEDIUM_AND_ABOVE",
            "BLOCK_ONLY_HIGH",
            "BLOCK_NONE",
            "OFF"
          ],
          "type": "string",
          "description": "Output only. The overwritten threshold for the safety category of Gemini 2.0 image out. If minors are detected in the output image, the threshold of each safety category will be overwritten if user sets a lower threshold."
        },
        "category": {
          "readOnly": true,
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Content that promotes violence or incites hatred against individuals or groups based on certain attributes.",
            "Content that promotes, facilitates, or enables dangerous activities.",
            "Abusive, threatening, or content intended to bully, torment, or ridicule.",
            "Content that contains sexually explicit material.",
            "Deprecated: Election filter is not longer supported. The harm category is civic integrity.",
            "Images that contain hate speech.",
            "Images that contain dangerous content.",
            "Images that contain harassment.",
            "Images that contain sexually explicit content.",
            "Prompts designed to bypass safety filters."
          ],
          "type": "string",
          "description": "Output only. The harm category of this rating.",
          "enum": [
            "HARM_CATEGORY_UNSPECIFIED",
            "HARM_CATEGORY_HATE_SPEECH",
            "HARM_CATEGORY_DANGEROUS_CONTENT",
            "HARM_CATEGORY_HARASSMENT",
            "HARM_CATEGORY_SEXUALLY_EXPLICIT",
            "HARM_CATEGORY_CIVIC_INTEGRITY",
            "HARM_CATEGORY_IMAGE_HATE",
            "HARM_CATEGORY_IMAGE_DANGEROUS_CONTENT",
            "HARM_CATEGORY_IMAGE_HARASSMENT",
            "HARM_CATEGORY_IMAGE_SEXUALLY_EXPLICIT",
            "HARM_CATEGORY_JAILBREAK"
          ]
        },
        "severity": {
          "readOnly": true,
          "enumDescriptions": [
            "The harm severity is unspecified.",
            "The harm severity is negligible.",
            "The harm severity is low.",
            "The harm severity is medium.",
            "The harm severity is high."
          ],
          "type": "string",
          "description": "Output only. The severity of harm for this category.",
          "enum": [
            "HARM_SEVERITY_UNSPECIFIED",
            "HARM_SEVERITY_NEGLIGIBLE",
            "HARM_SEVERITY_LOW",
            "HARM_SEVERITY_MEDIUM",
            "HARM_SEVERITY_HIGH"
          ]
        },
        "severityScore": {
          "readOnly": true,
          "format": "float",
          "description": "Output only. The severity score of harm for this category.",
          "type": "number"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1GenerationConfigRoutingConfigAutoRoutingMode": {
      "description": "The configuration for automated routing. When automated routing is specified, the routing will be determined by the pretrained routing model and customer provided model routing preference.",
      "properties": {
        "modelRoutingPreference": {
          "type": "string",
          "enum": [
            "UNKNOWN",
            "PRIORITIZE_QUALITY",
            "BALANCED",
            "PRIORITIZE_COST"
          ],
          "enumDescriptions": [
            "Unspecified model routing preference.",
            "The model will be selected to prioritize the quality of the response.",
            "The model will be selected to balance quality and cost.",
            "The model will be selected to prioritize the cost of the request."
          ],
          "description": "The model routing preference."
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1GenerationConfigRoutingConfigAutoRoutingMode"
    },
    "GoogleCloudAiplatformV1beta1Retrieval": {
      "properties": {
        "vertexRagStore": {
          "$ref": "GoogleCloudAiplatformV1beta1VertexRagStore",
          "description": "Set to use data source powered by Vertex RAG store. User data is uploaded via the VertexRagDataService."
        },
        "externalApi": {
          "description": "Use data source powered by external API for grounding.",
          "$ref": "GoogleCloudAiplatformV1beta1ExternalApi"
        },
        "disableAttribution": {
          "deprecated": true,
          "description": "Optional. Deprecated. This option is no longer supported.",
          "type": "boolean"
        },
        "vertexAiSearch": {
          "description": "Set to use data source powered by Vertex AI Search.",
          "$ref": "GoogleCloudAiplatformV1beta1VertexAISearch"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1Retrieval",
      "description": "Defines a retrieval tool that model can call to access external knowledge."
    },
    "GoogleCloudAiplatformV1beta1AudioTranscriptionWordInfo": {
      "id": "GoogleCloudAiplatformV1beta1AudioTranscriptionWordInfo",
      "type": "object",
      "properties": {
        "endOffset": {
          "format": "google-duration",
          "type": "string",
          "description": "Optional. End offset in time of the word relative to the start of the audio."
        },
        "startOffset": {
          "format": "google-duration",
          "description": "Optional. Start offset in time of the word relative to the start of the audio.",
          "type": "string"
        },
        "word": {
          "type": "string",
          "description": "Required. Transcript of the word."
        }
      },
      "description": "Information about a single recognized word."
    },
    "GoogleCloudAiplatformV1beta1AuthConfigApiKeyConfig": {
      "description": "Config for authentication with API key.",
      "properties": {
        "httpElementLocation": {
          "enumDescriptions": [
            "",
            "Element is in the HTTP request query.",
            "Element is in the HTTP request header.",
            "Element is in the HTTP request path.",
            "Element is in the HTTP request body.",
            "Element is in the HTTP request cookie."
          ],
          "type": "string",
          "description": "Optional. The location of the API key.",
          "enum": [
            "HTTP_IN_UNSPECIFIED",
            "HTTP_IN_QUERY",
            "HTTP_IN_HEADER",
            "HTTP_IN_PATH",
            "HTTP_IN_BODY",
            "HTTP_IN_COOKIE"
          ]
        },
        "apiKeySecret": {
          "description": "Optional. The name of the SecretManager secret version resource storing the API key. Format: `projects/{project}/secrets/{secrete}/versions/{version}` - If both `api_key_secret` and `api_key_string` are specified, this field takes precedence over `api_key_string`. - If specified, the `secretmanager.versions.access` permission should be granted to Vertex AI Extension Service Agent (https://cloud.google.com/vertex-ai/docs/general/access-control#service-agents) on the specified resource.",
          "type": "string"
        },
        "name": {
          "description": "Optional. The parameter name of the API key. E.g. If the API request is \"https://example.com/act?api_key=\", \"api_key\" would be the parameter name.",
          "type": "string"
        },
        "apiKeyString": {
          "description": "Optional. The API key to be used in the request directly.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1beta1AuthConfigApiKeyConfig",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1VoiceConfig": {
      "type": "object",
      "properties": {
        "prebuiltVoiceConfig": {
          "description": "The configuration for a prebuilt voice.",
          "$ref": "GoogleCloudAiplatformV1beta1PrebuiltVoiceConfig"
        },
        "replicatedVoiceConfig": {
          "description": "Optional. The configuration for a replicated voice. This enables users to replicate a voice from an audio sample.",
          "$ref": "GoogleCloudAiplatformV1beta1ReplicatedVoiceConfig"
        },
        "voice": {
          "description": "Optional. The speaker identifier for synthesis. Supported formats: * Speaker name for prebuilt voices (for example, `Orus` or `Kore`). * Voice ID for stored voices (for example, `voice_xxx`). * Voice replication key (for example, `voicekey_xxx`).",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1beta1VoiceConfig",
      "description": "Configuration for a voice."
    },
    "GoogleCloudAiplatformV1beta1ToolGoogleSearchWebSearch": {
      "id": "GoogleCloudAiplatformV1beta1ToolGoogleSearchWebSearch",
      "properties": {},
      "type": "object",
      "description": "Standard web search for grounding and related configurations. Only text results are returned."
    },
    "GoogleCloudAiplatformV1beta1FunctionResponseBlob": {
      "properties": {
        "mimeType": {
          "type": "string",
          "description": "Required. The IANA standard MIME type of the source data."
        },
        "data": {
          "type": "string",
          "description": "Required. Raw bytes.",
          "format": "byte"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. Display name of the blob. Used to provide a label or filename to distinguish blobs. This field is only returned in PromptMessage for prompt management. It is currently used in the Gemini GenerateContent calls only when server side tools (code_execution, google_search, and url_context) are enabled."
        }
      },
      "type": "object",
      "description": "Raw media bytes for function response. Text should not be sent as raw bytes, use the 'text' field.",
      "id": "GoogleCloudAiplatformV1beta1FunctionResponseBlob"
    },
    "GoogleCloudAiplatformV1beta1GenerateContentRequest": {
      "description": "Request message for [PredictionService.GenerateContent].",
      "properties": {
        "systemInstruction": {
          "$ref": "GoogleCloudAiplatformV1beta1Content",
          "description": "Optional. The user provided system instructions for the model. Note: only text should be used in parts and content in each part will be in a separate paragraph."
        },
        "continuationToken": {
          "description": "Optional. An opaque continuation token used to resume generation from a previous `GenerateContent` or `StreamGenerateContent` response that stopped with `finish_reason` set to `CONTINUATION`.",
          "format": "byte",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Optional. The labels with user-defined metadata for the request. It is used for billing and reporting only. Label keys and values can be no longer than 63 characters (Unicode codepoints) and can only contain lowercase letters, numeric characters, underscores, and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "contents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1Content"
          },
          "description": "Required. The content of the current conversation with the model. For single-turn queries, this is a single instance. For multi-turn queries, this is a repeated field that contains conversation history + latest request."
        },
        "modelArmorConfig": {
          "description": "Optional. Settings for prompt and response sanitization using the Model Armor service. If supplied, safety_settings must not be supplied.",
          "$ref": "GoogleCloudAiplatformV1beta1ModelArmorConfig"
        },
        "toolConfig": {
          "$ref": "GoogleCloudAiplatformV1beta1ToolConfig",
          "description": "Optional. Tool config. This config is shared for all tools provided in the request."
        },
        "generationConfig": {
          "$ref": "GoogleCloudAiplatformV1beta1GenerationConfig",
          "description": "Optional. Generation config."
        },
        "safetySettings": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1SafetySetting"
          },
          "description": "Optional. Per request settings for blocking unsafe content. Enforced on GenerateContentResponse.candidates."
        },
        "tools": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1Tool"
          },
          "description": "Optional. A list of `Tools` the model may use to generate the next response. A `Tool` is a piece of code that enables the system to interact with external systems to perform an action, or set of actions, outside of knowledge and scope of the model.",
          "type": "array"
        },
        "cachedContent": {
          "description": "Optional. The name of the cached content used as context to serve the prediction. Note: only used in explicit caching, where users can have control over caching (e.g. what content to cache) and enjoy guaranteed cost savings. Format: `projects/{project}/locations/{location}/cachedContents/{cachedContent}`",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1GenerateContentRequest"
    },
    "GoogleCloudAiplatformV1beta1ToolComputerUse": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1ToolComputerUse",
      "description": "A tool that enables the model to interact directly with a computer environment.",
      "properties": {
        "environment": {
          "type": "string",
          "description": "Required. The target environment where the computer use tool operates.",
          "enum": [
            "ENVIRONMENT_UNSPECIFIED",
            "ENVIRONMENT_BROWSER",
            "ENVIRONMENT_MOBILE",
            "ENVIRONMENT_DESKTOP"
          ],
          "enumDescriptions": [
            "The environment is unspecified.",
            "The tool operates in a web browser.",
            "The tool operates in a mobile environment.",
            "The tool operates in a desktop environment."
          ]
        },
        "disabledSafetyPolicies": {
          "items": {
            "type": "string",
            "enum": [
              "SAFETY_POLICY_UNSPECIFIED",
              "FINANCIAL_TRANSACTIONS",
              "SENSITIVE_DATA_MODIFICATION",
              "COMMUNICATION_TOOL",
              "ACCOUNT_CREATION",
              "DATA_MODIFICATION",
              "USER_CONSENT_MANAGEMENT",
              "LEGAL_TERMS_AND_AGREEMENTS"
            ],
            "enumDescriptions": [
              "The safety policy is unspecified.",
              "Policy that restricts financial transactions.",
              "Policy that restricts modification of sensitive data.",
              "Policy that restricts the use of communication tools.",
              "Policy that restricts the creation of accounts.",
              "Policy that restricts general data modification.",
              "Policy that restricts user consent management.",
              "Policy that restricts interaction with legal terms and agreements."
            ]
          },
          "type": "array",
          "description": "Optional. A list of safety policies to disable for the computer use tool."
        },
        "excludedPredefinedFunctions": {
          "description": "Optional. A list of predefined functions to explicitly exclude from the model call. By default, [predefined functions](https://cloud.google.com/vertex-ai/generative-ai/docs/computer-use#supported-actions) are included. Excluding functions allows for a more restricted action space or custom definitions for predefined functions.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "enablePromptInjectionDetection": {
          "description": "Optional. Whether to enable the prompt injection detection check on the computer use request.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1AuthConfigGoogleServiceAccountConfig": {
      "description": "Config for Google Service Account Authentication.",
      "properties": {
        "serviceAccount": {
          "description": "Optional. The service account that the extension execution service runs as. - If the service account is specified, the `iam.serviceAccounts.getAccessToken` permission should be granted to Vertex AI Extension Service Agent (https://cloud.google.com/vertex-ai/docs/general/access-control#service-agents) on the specified service account. - If not specified, the Vertex AI Extension Service Agent will be used to execute the Extension.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1beta1AuthConfigGoogleServiceAccountConfig",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1GenerationConfigRoutingConfig": {
      "properties": {
        "manualMode": {
          "$ref": "GoogleCloudAiplatformV1beta1GenerationConfigRoutingConfigManualRoutingMode",
          "description": "In this mode, the model is specified manually."
        },
        "autoMode": {
          "$ref": "GoogleCloudAiplatformV1beta1GenerationConfigRoutingConfigAutoRoutingMode",
          "description": "In this mode, the model is selected automatically based on the content of the request."
        }
      },
      "id": "GoogleCloudAiplatformV1beta1GenerationConfigRoutingConfig",
      "type": "object",
      "description": "The configuration for routing the request to a specific model. This can be used to control which model is used for the generation, either automatically or by specifying a model name."
    },
    "GoogleCloudAiplatformV1beta1RetrievalMetadata": {
      "id": "GoogleCloudAiplatformV1beta1RetrievalMetadata",
      "type": "object",
      "description": "Metadata related to the retrieval grounding source. This is part of the `GroundingMetadata` returned when grounding is enabled.",
      "properties": {
        "googleSearchDynamicRetrievalScore": {
          "format": "float",
          "type": "number",
          "description": "Optional. A score indicating how likely it is that a Google Search query could help answer the prompt. The score is in the range of `[0, 1]`. A score of 1 means the model is confident that a search will be helpful, and 0 means it is not. This score is populated only when Google Search grounding and dynamic retrieval are enabled. The score is used to determine whether to trigger a search."
        }
      }
    },
    "GoogleCloudAiplatformV1beta1LogprobsResultTopCandidates": {
      "id": "GoogleCloudAiplatformV1beta1LogprobsResultTopCandidates",
      "properties": {
        "candidates": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1LogprobsResultCandidate"
          },
          "description": "The list of candidate tokens, sorted by log probability in descending order.",
          "type": "array"
        }
      },
      "description": "A list of the top candidate tokens and their log probabilities at each decoding step. This can be used to see what other tokens the model considered.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1ToolConfig": {
      "description": "Tool config. This config is shared for all tools provided in the request.",
      "id": "GoogleCloudAiplatformV1beta1ToolConfig",
      "properties": {
        "functionCallingConfig": {
          "$ref": "GoogleCloudAiplatformV1beta1FunctionCallingConfig",
          "description": "Optional. Function calling config."
        },
        "retrievalConfig": {
          "$ref": "GoogleCloudAiplatformV1beta1RetrievalConfig",
          "description": "Optional. Retrieval config."
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1GroundingChunkWeb": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1GroundingChunkWeb",
      "properties": {
        "domain": {
          "description": "The domain of the web page that contains the evidence. This can be used to filter out low-quality sources.",
          "type": "string"
        },
        "uri": {
          "description": "The URI of the web page that contains the evidence.",
          "type": "string"
        },
        "title": {
          "description": "The title of the web page that contains the evidence.",
          "type": "string"
        }
      },
      "description": "A `Web` chunk is a piece of evidence that comes from a web page. It contains the URI of the web page, the title of the page, and the domain of the page. This is used to provide the user with a link to the source of the information."
    },
    "GoogleCloudAiplatformV1beta1LogprobsResult": {
      "description": "The log probabilities of the tokens generated by the model. This is useful for understanding the model's confidence in its predictions and for debugging. For example, you can use log probabilities to identify when the model is making a less confident prediction or to explore alternative responses that the model considered. A low log probability can also indicate that the model is \"hallucinating\" or generating factually incorrect information.",
      "properties": {
        "chosenCandidates": {
          "description": "A list of the chosen candidate tokens at each decoding step. The length of this list is equal to the total number of decoding steps. Note that the chosen candidate might not be in `top_candidates`.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1LogprobsResultCandidate"
          }
        },
        "topCandidates": {
          "type": "array",
          "description": "A list of the top candidate tokens at each decoding step. The length of this list is equal to the total number of decoding steps.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1LogprobsResultTopCandidates"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1LogprobsResult"
    },
    "GoogleCloudAiplatformV1beta1RagRetrievalConfigFilter": {
      "type": "object",
      "description": "Config for filters.",
      "id": "GoogleCloudAiplatformV1beta1RagRetrievalConfigFilter",
      "properties": {
        "vectorDistanceThreshold": {
          "format": "double",
          "description": "Optional. Only returns contexts with vector distance smaller than the threshold.",
          "type": "number"
        },
        "vectorSimilarityThreshold": {
          "type": "number",
          "format": "double",
          "description": "Optional. Only returns contexts with vector similarity larger than the threshold."
        },
        "metadataFilter": {
          "type": "string",
          "description": "Optional. String for metadata filtering."
        }
      }
    },
    "GoogleCloudAiplatformV1beta1PrebuiltVoiceConfig": {
      "description": "Configuration for a prebuilt voice.",
      "properties": {
        "voiceName": {
          "type": "string",
          "description": "The name of the prebuilt voice to use."
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1PrebuiltVoiceConfig"
    },
    "GoogleCloudAiplatformV1beta1TextResponseFormat": {
      "description": "Configuration for text-specific output formatting.",
      "properties": {
        "mimeType": {
          "description": "Optional. The IANA standard MIME type of the response.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "JSON output format.",
            "Plain text output format."
          ],
          "type": "string",
          "enum": [
            "MIME_TYPE_UNSPECIFIED",
            "APPLICATION_JSON",
            "TEXT_PLAIN"
          ]
        },
        "schema": {
          "description": "Optional. The JSON schema that the output should conform to. Only applicable when mime_type is APPLICATION_JSON.",
          "type": "any"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1TextResponseFormat"
    },
    "GoogleCloudAiplatformV1beta1FunctionResponse": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Optional. The id of the function call this response is for. Populated by the client to match the corresponding function call `id`."
        },
        "response": {
          "description": "Required. The function response in JSON object format. Use \"output\" key to specify function output and \"error\" key to specify error details (if any). If \"output\" and \"error\" keys are not specified, then whole \"response\" is treated as function output.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "parts": {
          "description": "Optional. Ordered `Parts` that constitute a function response. Parts may have different IANA MIME types.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1FunctionResponsePart"
          }
        },
        "name": {
          "description": "Required. The name of the function to call. Matches FunctionDeclaration.name and FunctionCall.name.",
          "type": "string"
        },
        "scheduling": {
          "type": "string",
          "description": "Optional. Specifies how the response should be scheduled in the conversation. Only applicable to NON_BLOCKING function calls, is ignored otherwise. Defaults to WHEN_IDLE.",
          "enum": [
            "SCHEDULING_UNSPECIFIED",
            "SILENT",
            "WHEN_IDLE",
            "INTERRUPT"
          ],
          "enumDescriptions": [
            "This value is unused.",
            "Only add the result to the conversation context, do not interrupt or trigger generation.",
            "Add the result to the conversation context, and prompt to generate output without interrupting ongoing generation.",
            "Add the result to the conversation context, interrupt ongoing generation and prompt to generate output."
          ]
        }
      },
      "description": "The result output from a FunctionCall that contains a string representing the FunctionDeclaration.name and a structured JSON object containing any output from the function is used as context to the model. This should contain the result of a `FunctionCall` made based on model prediction.",
      "id": "GoogleCloudAiplatformV1beta1FunctionResponse",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1GroundingChunkMaps": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1GroundingChunkMaps",
      "description": "A `Maps` chunk is a piece of evidence that comes from Google Maps, containing information about places or routes. This is used to provide the user with rich, location-based information.",
      "properties": {
        "placeId": {
          "description": "This Place's resource name, in `places/{place_id}` format. This can be used to look up the place in the Google Maps API.",
          "type": "string"
        },
        "title": {
          "description": "The title of the place.",
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "The URI of the place."
        },
        "text": {
          "type": "string",
          "description": "The text of the place answer."
        },
        "route": {
          "readOnly": true,
          "description": "Output only. Route information.",
          "$ref": "GoogleCloudAiplatformV1beta1GroundingChunkMapsRoute"
        },
        "placeAnswerSources": {
          "description": "The sources that were used to generate the place answer. This includes review snippets and photos that were used to generate the answer, as well as URIs to flag content.",
          "$ref": "GoogleCloudAiplatformV1beta1GroundingChunkMapsPlaceAnswerSources"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1RagChunkPageSpan": {
      "id": "GoogleCloudAiplatformV1beta1RagChunkPageSpan",
      "description": "Represents where the chunk starts and ends in the document.",
      "type": "object",
      "properties": {
        "lastPage": {
          "description": "Page where chunk ends in the document. Inclusive. 1-indexed.",
          "type": "integer",
          "format": "int32"
        },
        "firstPage": {
          "type": "integer",
          "format": "int32",
          "description": "Page where chunk starts in the document. Inclusive. 1-indexed."
        }
      }
    },
    "GoogleCloudAiplatformV1beta1ToolExaAiSearch": {
      "properties": {
        "customConfigs": {
          "type": "object",
          "description": "Optional. This field can be used to pass any parameter from the Exa.ai Search API.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "apiKey": {
          "description": "Required. The API key for ExaAiSearch.",
          "type": "string"
        }
      },
      "description": "ExaAiSearch tool type. A tool that uses the Exa.ai search engine for grounding.",
      "id": "GoogleCloudAiplatformV1beta1ToolExaAiSearch",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1GroundingChunkRetrievedContext": {
      "properties": {
        "documentName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The full resource name of the referenced Vertex AI Search document. This is used to identify the specific document that was retrieved. The format is `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/branches/{branch}/documents/{document}`."
        },
        "uri": {
          "type": "string",
          "description": "The URI of the retrieved data source."
        },
        "text": {
          "description": "The content of the retrieved data source.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The title of the retrieved data source."
        },
        "ragChunk": {
          "description": "Additional context for a Retrieval-Augmented Generation (RAG) retrieval result. This is populated only when the RAG retrieval tool is used.",
          "$ref": "GoogleCloudAiplatformV1beta1RagChunk"
        }
      },
      "type": "object",
      "description": "Context retrieved from a data source to ground the model's response. This is used when a retrieval tool fetches information from a user-provided corpus or a public dataset.",
      "id": "GoogleCloudAiplatformV1beta1GroundingChunkRetrievedContext"
    },
    "GoogleCloudAiplatformV1beta1DynamicRetrievalConfig": {
      "description": "Describes the options to customize dynamic retrieval.",
      "properties": {
        "mode": {
          "enumDescriptions": [
            "Always trigger retrieval.",
            "Run retrieval only when system decides it is necessary."
          ],
          "enum": [
            "MODE_UNSPECIFIED",
            "MODE_DYNAMIC"
          ],
          "description": "The mode of the predictor to be used in dynamic retrieval.",
          "type": "string"
        },
        "dynamicThreshold": {
          "description": "Optional. The threshold to be used in dynamic retrieval. If not set, a system default value is used.",
          "format": "float",
          "type": "number"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1DynamicRetrievalConfig"
    },
    "GoogleCloudAiplatformV1beta1GroundingChunk": {
      "properties": {
        "web": {
          "description": "A grounding chunk from a web page, typically from Google Search. See the `Web` message for details.",
          "$ref": "GoogleCloudAiplatformV1beta1GroundingChunkWeb"
        },
        "retrievedContext": {
          "$ref": "GoogleCloudAiplatformV1beta1GroundingChunkRetrievedContext",
          "description": "A grounding chunk from a data source retrieved by a retrieval tool, such as Vertex AI Search. See the `RetrievedContext` message for details"
        },
        "image": {
          "$ref": "GoogleCloudAiplatformV1beta1GroundingChunkImage",
          "description": "A grounding chunk from an image search result. See the `Image` message for details."
        },
        "maps": {
          "description": "A grounding chunk from Google Maps. See the `Maps` message for details.",
          "$ref": "GoogleCloudAiplatformV1beta1GroundingChunkMaps"
        }
      },
      "description": "A piece of evidence that supports a claim made by the model. This is used to show a citation for a claim made by the model. When grounding is enabled, the model returns a `GroundingChunk` that contains a reference to the source of the information.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1GroundingChunk"
    },
    "GoogleCloudAiplatformV1beta1LogprobsResultCandidate": {
      "properties": {
        "token": {
          "description": "The token's string representation.",
          "type": "string"
        },
        "tokenId": {
          "format": "int32",
          "type": "integer",
          "description": "The token's numerical ID. While the `token` field provides the string representation of the token, the `token_id` is the numerical representation that the model uses internally. This can be useful for developers who want to build custom logic based on the model's vocabulary."
        },
        "logProbability": {
          "type": "number",
          "format": "float",
          "description": "The log probability of this token. A higher value indicates that the model was more confident in this token. The log probability can be used to assess the relative likelihood of different tokens and to identify when the model is uncertain."
        }
      },
      "description": "A single token and its associated log probability.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1LogprobsResultCandidate"
    },
    "GoogleCloudAiplatformV1beta1AudioResponseFormat": {
      "properties": {
        "sampleRate": {
          "description": "Optional. Sample rate for the generated audio in Hertz.",
          "format": "int32",
          "type": "integer"
        },
        "mimeType": {
          "description": "Optional. The MIME type of the audio output.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "MP3 audio format.",
            "OGG Opus audio format.",
            "Raw PCM (L16) audio format.",
            "WAV audio format.",
            "A-law audio format.",
            "Mu-law audio format."
          ],
          "enum": [
            "MIME_TYPE_UNSPECIFIED",
            "AUDIO_MP3",
            "AUDIO_OGG_OPUS",
            "AUDIO_L16",
            "AUDIO_WAV",
            "AUDIO_ALAW",
            "AUDIO_MULAW"
          ]
        },
        "delivery": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Generated bytes are returned inline in the response.",
            "Generated content is stored and a URI is returned."
          ],
          "enum": [
            "DELIVERY_UNSPECIFIED",
            "INLINE",
            "URI"
          ],
          "type": "string",
          "description": "Optional. Delivery mode for the generated content."
        },
        "bitRate": {
          "description": "Optional. Bit rate in bits per second (bps). Only applicable for compressed formats (MP3, Opus).",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Configuration for audio-specific output formatting.",
      "id": "GoogleCloudAiplatformV1beta1AudioResponseFormat",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1Content": {
      "properties": {
        "role": {
          "type": "string",
          "description": "Optional. The producer of the content. Must be either 'user' or 'model'. If not set, the service will default to 'user'."
        },
        "parts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1Part"
          },
          "description": "Required. A list of Part objects that make up a single message. Parts of a message can have different MIME types. A Content message must have at least one Part."
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1Content",
      "description": "The structured data content of a message. A Content message contains a `role` field, which indicates the producer of the content, and a `parts` field, which contains the multi-part data of the message."
    },
    "GoogleCloudAiplatformV1beta1FunctionResponsePart": {
      "properties": {
        "fileData": {
          "description": "URI based data.",
          "$ref": "GoogleCloudAiplatformV1beta1FunctionResponseFileData"
        },
        "inlineData": {
          "description": "Inline media bytes.",
          "$ref": "GoogleCloudAiplatformV1beta1FunctionResponseBlob"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1FunctionResponsePart",
      "description": "A datatype containing media that is part of a `FunctionResponse` message. A `FunctionResponsePart` consists of data which has an associated datatype. A `FunctionResponsePart` can only contain one of the accepted types in `FunctionResponsePart.data`. A `FunctionResponsePart` must have a fixed IANA MIME type identifying the type and subtype of the media if the `inline_data` field is filled with raw bytes."
    },
    "GoogleCloudAiplatformV1beta1UrlMetadata": {
      "description": "The metadata for a single URL retrieval.",
      "properties": {
        "retrievedUrl": {
          "description": "The URL retrieved by the tool.",
          "type": "string"
        },
        "urlRetrievalStatus": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The URL was retrieved successfully.",
            "The URL retrieval failed."
          ],
          "enum": [
            "URL_RETRIEVAL_STATUS_UNSPECIFIED",
            "URL_RETRIEVAL_STATUS_SUCCESS",
            "URL_RETRIEVAL_STATUS_ERROR"
          ],
          "description": "The status of the URL retrieval."
        }
      },
      "id": "GoogleCloudAiplatformV1beta1UrlMetadata",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1SpeakerVoiceConfig": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1SpeakerVoiceConfig",
      "properties": {
        "voiceConfig": {
          "$ref": "GoogleCloudAiplatformV1beta1VoiceConfig",
          "description": "Required. The configuration for the voice of this speaker."
        },
        "speaker": {
          "description": "Required. The name of the speaker. This should be the same as the speaker name used in the prompt.",
          "type": "string"
        }
      },
      "description": "Configuration for a single speaker in a multi-speaker setup."
    },
    "GoogleCloudAiplatformV1beta1ModelArmorConfig": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1ModelArmorConfig",
      "properties": {
        "promptTemplateName": {
          "type": "string",
          "description": "Optional. The resource name of the Model Armor template to use for prompt screening. A Model Armor template is a set of customized filters and thresholds that define how Model Armor screens content. If specified, Model Armor will use this template to check the user's prompt for safety and security risks before it is sent to the model. The name must be in the format `projects/{project}/locations/{location}/templates/{template}`."
        },
        "responseTemplateName": {
          "type": "string",
          "description": "Optional. The resource name of the Model Armor template to use for response screening. A Model Armor template is a set of customized filters and thresholds that define how Model Armor screens content. If specified, Model Armor will use this template to check the model's response for safety and security risks before it is returned to the user. The name must be in the format `projects/{project}/locations/{location}/templates/{template}`."
        }
      },
      "description": "Configuration for Model Armor. Model Armor is a Google Cloud service that provides safety and security filtering for prompts and responses. It helps protect your AI applications from risks such as harmful content, sensitive data leakage, and prompt injection attacks."
    },
    "GoogleCloudAiplatformV1beta1VertexAISearch": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1VertexAISearch",
      "description": "Retrieve from Vertex AI Search datastore or engine for grounding. datastore and engine are mutually exclusive. See https://cloud.google.com/products/agent-builder",
      "properties": {
        "filter": {
          "description": "Optional. Filter strings to be passed to the search API.",
          "type": "string"
        },
        "datastore": {
          "description": "Optional. Fully-qualified Vertex AI Search data store resource ID. Format: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{dataStore}`",
          "type": "string"
        },
        "maxResults": {
          "description": "Optional. Number of search results to return per query. The default value is 10. The maximumm allowed value is 10.",
          "format": "int32",
          "type": "integer"
        },
        "engine": {
          "description": "Optional. Fully-qualified Vertex AI Search engine resource ID. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}`",
          "type": "string"
        },
        "dataStoreSpecs": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1VertexAISearchDataStoreSpec"
          },
          "type": "array",
          "description": "Specifications that define the specific DataStores to be searched, along with configurations for those data stores. This is only considered for Engines with multiple data stores. It should only be set if engine is used."
        }
      }
    },
    "GoogleCloudAiplatformV1beta1GroundingChunkMapsPlaceAnswerSourcesReviewSnippet": {
      "id": "GoogleCloudAiplatformV1beta1GroundingChunkMapsPlaceAnswerSourcesReviewSnippet",
      "description": "A review snippet that is used to generate the answer.",
      "properties": {
        "reviewId": {
          "type": "string",
          "description": "The ID of the review that is being referenced."
        },
        "googleMapsUri": {
          "description": "A link to show the review on Google Maps.",
          "type": "string"
        },
        "title": {
          "description": "The title of the review.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1FunctionDeclaration": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1FunctionDeclaration",
      "properties": {
        "behavior": {
          "type": "string",
          "description": "Optional. Specifies the function Behavior. If not specified, the system keeps the current function call behavior. This field is currently only supported by the BidiGenerateContent method.",
          "enum": [
            "UNSPECIFIED",
            "BLOCKING",
            "NON_BLOCKING"
          ],
          "enumDescriptions": [
            "This value is unspecified.",
            "If set, the system will wait to receive the function response before continuing the conversation.",
            "If set, the system will not wait to receive the function response. Instead, it will attempt to handle function responses as they become available while maintaining the conversation between the user and the model."
          ]
        },
        "responseJsonSchema": {
          "type": "any",
          "description": "Optional. Describes the output from this function in JSON Schema format. The value specified by the schema is the response value of the function. This field is mutually exclusive with `response`."
        },
        "description": {
          "description": "Optional. Description and purpose of the function. Model uses it to decide how and whether to call the function.",
          "type": "string"
        },
        "parametersJsonSchema": {
          "type": "any",
          "description": "Optional. Describes the parameters to the function in JSON Schema format. The schema must describe an object where the properties are the parameters to the function. For example: ``` { \"type\": \"object\", \"properties\": { \"name\": { \"type\": \"string\" }, \"age\": { \"type\": \"integer\" } }, \"additionalProperties\": false, \"required\": [\"name\", \"age\"], \"propertyOrdering\": [\"name\", \"age\"] } ``` This field is mutually exclusive with `parameters`."
        },
        "parameters": {
          "description": "Optional. Describes the parameters to this function in JSON Schema Object format. Reflects the Open API 3.03 Parameter Object. string Key: the name of the parameter. Parameter names are case sensitive. Schema Value: the Schema defining the type used for the parameter. For function with no parameters, this can be left unset. Parameter names must start with a letter or an underscore and must only contain chars a-z, A-Z, 0-9, or underscores with a maximum length of 64. Example with 1 required and 1 optional parameter: type: OBJECT properties: param1: type: STRING param2: type: INTEGER required: - param1",
          "$ref": "GoogleCloudAiplatformV1beta1Schema"
        },
        "response": {
          "description": "Optional. Describes the output from this function in JSON Schema format. Reflects the Open API 3.03 Response Object. The Schema defines the type used for the response value of the function.",
          "$ref": "GoogleCloudAiplatformV1beta1Schema"
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the function to call. Must start with a letter or an underscore. Must be a-z, A-Z, 0-9, or contain underscores, dots, colons and dashes, with a maximum length of 128."
        }
      },
      "description": "Structured representation of a function declaration as defined by the [OpenAPI 3.0 specification](https://spec.openapis.org/oas/v3.0.3). Included in this declaration are the function name, description, parameters and response type. This FunctionDeclaration is a representation of a block of code that can be used as a `Tool` by the model and executed by the client."
    },
    "GoogleCloudAiplatformV1beta1GroundingChunkMapsPlaceAnswerSources": {
      "properties": {
        "reviewSnippets": {
          "description": "Snippets of reviews that were used to generate the answer.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1GroundingChunkMapsPlaceAnswerSourcesReviewSnippet"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1GroundingChunkMapsPlaceAnswerSources",
      "description": "The sources that were used to generate the place answer. This includes review snippets and photos that were used to generate the answer, as well as URIs to flag content."
    },
    "GoogleCloudAiplatformV1beta1AuthConfigOauthConfig": {
      "properties": {
        "serviceAccount": {
          "description": "The service account used to generate access tokens for executing the Extension. - If the service account is specified, the `iam.serviceAccounts.getAccessToken` permission should be granted to Vertex AI Extension Service Agent (https://cloud.google.com/vertex-ai/docs/general/access-control#service-agents) on the provided service account.",
          "type": "string"
        },
        "accessToken": {
          "type": "string",
          "description": "Access token for extension endpoint. Only used to propagate token from [[ExecuteExtensionRequest.runtime_auth_config]] at request time."
        }
      },
      "type": "object",
      "description": "Config for user oauth.",
      "id": "GoogleCloudAiplatformV1beta1AuthConfigOauthConfig"
    },
    "GoogleCloudAiplatformV1beta1RagRetrievalConfigRankingLlmRanker": {
      "properties": {
        "modelName": {
          "type": "string",
          "description": "Optional. The model name used for ranking. See [Supported models](https://cloud.google.com/vertex-ai/generative-ai/docs/model-reference/inference#supported-models)."
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1RagRetrievalConfigRankingLlmRanker",
      "description": "Config for LlmRanker."
    },
    "GoogleCloudAiplatformV1beta1FunctionCallingConfig": {
      "properties": {
        "allowedFunctionNames": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Function names to call. Only set when the Mode is ANY. Function names should match FunctionDeclaration.name. With mode set to ANY, model will predict a function call from the set of function names provided.",
          "type": "array"
        },
        "mode": {
          "description": "Optional. Function calling mode.",
          "enum": [
            "MODE_UNSPECIFIED",
            "AUTO",
            "ANY",
            "NONE",
            "VALIDATED"
          ],
          "enumDescriptions": [
            "Unspecified function calling mode. This value should not be used.",
            "Default model behavior, model decides to predict either function calls or natural language response.",
            "Model is constrained to always predicting function calls only. If \"allowed_function_names\" are set, the predicted function calls will be limited to any one of \"allowed_function_names\", else the predicted function calls will be any one of the provided \"function_declarations\".",
            "Model will not predict any function calls. Model behavior is same as when not passing any function declarations.",
            "Model is constrained to predict either function calls or natural language response. If \"allowed_function_names\" are set, the predicted function calls will be limited to any one of \"allowed_function_names\", else the predicted function calls will be any one of the provided \"function_declarations\"."
          ],
          "type": "string"
        },
        "streamFunctionCallArguments": {
          "type": "boolean",
          "description": "Optional. When set to true, arguments of a single function call will be streamed out in multiple parts/contents/responses. Partial parameter results will be returned in the `FunctionCall.partial_args` field."
        }
      },
      "type": "object",
      "description": "Function calling config.",
      "id": "GoogleCloudAiplatformV1beta1FunctionCallingConfig"
    },
    "GoogleCloudAiplatformV1beta1Tool": {
      "properties": {
        "googleSearch": {
          "description": "Optional. GoogleSearch tool type. Tool to support Google Search in Model. Powered by Google.",
          "$ref": "GoogleCloudAiplatformV1beta1ToolGoogleSearch"
        },
        "codeExecution": {
          "description": "Optional. CodeExecution tool type. Enables the model to execute code as part of generation.",
          "$ref": "GoogleCloudAiplatformV1beta1ToolCodeExecution"
        },
        "googleMaps": {
          "description": "Optional. GoogleMaps tool type. Tool to support Google Maps in Model.",
          "$ref": "GoogleCloudAiplatformV1beta1GoogleMaps"
        },
        "functionDeclarations": {
          "description": "Optional. Function tool type. One or more function declarations to be passed to the model along with the current user query. Model may decide to call a subset of these functions by populating FunctionCall in the response. User should provide a FunctionResponse for each function call in the next turn. Based on the function responses, Model will generate the final response back to the user. Maximum 512 function declarations can be provided.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1FunctionDeclaration"
          },
          "type": "array"
        },
        "googleSearchRetrieval": {
          "description": "Optional. Specialized retrieval tool that is powered by Google Search.",
          "$ref": "GoogleCloudAiplatformV1beta1GoogleSearchRetrieval",
          "deprecated": true
        },
        "exaAiSearch": {
          "description": "Optional. Uses Exa.ai to search for information to answer user queries. The search results will be grounded on Exa.ai and presented to the model for response generation",
          "$ref": "GoogleCloudAiplatformV1beta1ToolExaAiSearch"
        },
        "computerUse": {
          "description": "Optional. Tool to support the model interacting directly with the computer. If enabled, it automatically populates computer-use specific Function Declarations.",
          "$ref": "GoogleCloudAiplatformV1beta1ToolComputerUse"
        },
        "urlContext": {
          "$ref": "GoogleCloudAiplatformV1beta1UrlContext",
          "description": "Optional. Tool to support URL context retrieval."
        },
        "parallelAiSearch": {
          "description": "Optional. If specified, Vertex AI will use Parallel.ai to search for information to answer user queries. The search results will be grounded on Parallel.ai and presented to the model for response generation",
          "$ref": "GoogleCloudAiplatformV1beta1ToolParallelAiSearch"
        },
        "retrieval": {
          "description": "Optional. Retrieval tool type. System will always execute the provided retrieval tool(s) to get external knowledge to answer the prompt. Retrieval results are presented to the model for generation.",
          "$ref": "GoogleCloudAiplatformV1beta1Retrieval"
        },
        "enterpriseWebSearch": {
          "description": "Optional. Tool to support searching public web data, powered by Vertex AI Search and Sec4 compliance.",
          "$ref": "GoogleCloudAiplatformV1beta1EnterpriseWebSearch"
        }
      },
      "description": "Tool details that the model may use to generate response. A `Tool` is a piece of code that enables the system to interact with external systems to perform an action, or set of actions, outside of knowledge and scope of the model. A Tool object should contain exactly one type of Tool (e.g FunctionDeclaration, Retrieval or GoogleSearchRetrieval).",
      "id": "GoogleCloudAiplatformV1beta1Tool",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1Segment": {
      "properties": {
        "endIndex": {
          "type": "integer",
          "format": "int32",
          "readOnly": true,
          "description": "Output only. The end index of the segment in the `Part`, measured in bytes. This marks the end of the segment and is exclusive, meaning the segment includes content up to, but not including, the byte at this index."
        },
        "text": {
          "description": "Output only. The text of the segment.",
          "type": "string",
          "readOnly": true
        },
        "startIndex": {
          "description": "Output only. The start index of the segment in the `Part`, measured in bytes. This marks the beginning of the segment and is inclusive, meaning the byte at this index is the first byte of the segment.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "partIndex": {
          "type": "integer",
          "description": "Output only. The index of the `Part` object that this segment belongs to. This is useful for associating the segment with a specific part of the content.",
          "readOnly": true,
          "format": "int32"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1Segment",
      "description": "A segment of the content."
    },
    "GoogleCloudAiplatformV1beta1GroundingMetadata": {
      "id": "GoogleCloudAiplatformV1beta1GroundingMetadata",
      "description": "Information about the sources that support the content of a response. When grounding is enabled, the model returns citations for claims in the response. This object contains the retrieved sources.",
      "type": "object",
      "properties": {
        "groundingSupports": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1GroundingSupport"
          },
          "type": "array",
          "description": "Optional. A list of grounding supports that connect the generated content to the grounding chunks. This field is populated when the grounding source is Google Search or Vertex AI Search."
        },
        "imageSearchQueries": {
          "description": "Optional. The image search queries that were used to generate the content. This field is populated only when the grounding source is Google Search with the Image Search search_type enabled.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "sourceFlaggingUris": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1GroundingMetadataSourceFlaggingUri"
          },
          "readOnly": true,
          "description": "Optional. Output only. A list of URIs that can be used to flag a place or review for inappropriate content. This field is populated only when the grounding source is Google Maps.",
          "type": "array"
        },
        "groundingChunks": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1GroundingChunk"
          },
          "type": "array",
          "description": "A list of supporting references retrieved from the grounding source. This field is populated when the grounding source is Google Search, Vertex AI Search, or Google Maps."
        },
        "googleMapsWidgetContextToken": {
          "deprecated": true,
          "readOnly": true,
          "description": "Optional. Output only. Deprecated: The Google Maps contextual widget behavior in Grounding with Google Maps is being deprecated; this field is planned for removal and will no longer be populated once removed. A token that can be used to render a Google Maps widget with the contextual data. This field is populated only when the grounding source is Google Maps.",
          "type": "string"
        },
        "searchEntryPoint": {
          "$ref": "GoogleCloudAiplatformV1beta1SearchEntryPoint",
          "description": "Optional. A web search entry point that can be used to display search results. This field is populated only when the grounding source is Google Search."
        },
        "retrievalQueries": {
          "items": {
            "type": "string"
          },
          "type": "array",
[...]
