{
  "version_module": true,
  "canonicalName": "Firebase ML",
  "mtlsRootUrl": "https://firebaseml.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "resources": {
    "projects": {
      "resources": {
        "operations": {
          "methods": {
            "get": {
              "path": "v1beta2/{+name}",
              "id": "firebaseml.projects.operations.get",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "description": "The name of the operation resource.",
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "required": true
                }
              },
              "response": {
                "$ref": "Operation"
              },
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "flatPath": "v1beta2/projects/{projectsId}/operations/{operationsId}"
            }
          }
        },
        "models": {
          "methods": {
            "get": {
              "flatPath": "v1beta2/projects/{projectsId}/models/{modelsId}",
              "description": "Gets a model resource.",
              "response": {
                "$ref": "Model"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the model to get. The name must have the form `projects/{project_id}/models/{model_id}`",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/models/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta2/{+name}",
              "httpMethod": "GET",
              "id": "firebaseml.projects.models.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "httpMethod": "DELETE",
              "path": "v1beta2/{+name}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the model to delete. The name must have the form `projects/{project_id}/models/{model_id}`",
                  "pattern": "^projects/[^/]+/models/[^/]+$",
                  "type": "string"
                }
              },
              "description": "Deletes a model",
              "flatPath": "v1beta2/projects/{projectsId}/models/{modelsId}",
              "id": "firebaseml.projects.models.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "id": "firebaseml.projects.models.patch",
              "parameters": {
                "name": {
                  "description": "The resource name of the Model. Model names have the form `projects/{project_id}/models/{model_id}` The name is ignored when creating a model.",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/models/[^/]+$"
                },
                "updateMask": {
                  "description": "The update mask",
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                }
              },
              "description": "Updates a model. The longrunning operation will eventually return a Model.",
              "flatPath": "v1beta2/projects/{projectsId}/models/{modelsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Operation"
              },
              "path": "v1beta2/{+name}",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "Model"
              }
            },
            "create": {
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The parent project resource where the model is to be created. The parent must have the form `projects/{project_id}`"
                }
              },
              "flatPath": "v1beta2/projects/{projectsId}/models",
              "description": "Creates a model in Firebase ML. The longrunning operation will eventually return a Model",
              "path": "v1beta2/{+parent}/models",
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "id": "firebaseml.projects.models.create",
              "request": {
                "$ref": "Model"
              },
              "httpMethod": "POST"
            },
            "download": {
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/models/[^/]+$",
                  "description": "Required. The name of the model to download. The name must have the form `projects/{project}/models/{model}`"
                }
              },
              "flatPath": "v1beta2/projects/{projectsId}/models/{modelsId}:download",
              "id": "firebaseml.projects.models.download",
              "description": "Gets Download information for a model. This is meant for downloading model resources onto devices. It gives very limited information about the model.",
              "response": {
                "$ref": "DownloadModelResponse"
              },
              "path": "v1beta2/{+name}:download",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET"
            },
            "list": {
              "httpMethod": "GET",
              "id": "firebaseml.projects.models.list",
              "description": "Lists the models",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta2/projects/{projectsId}/models",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of items to return"
                },
                "pageToken": {
                  "description": "The next_page_token value returned from a previous List request, if any.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The name of the parent to list models for. The parent must have the form `projects/{project_id}'",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "A filter for the list e.g. 'tags: abc' to list models which are tagged with \"abc\""
                }
              },
              "path": "v1beta2/{+parent}/models",
              "response": {
                "$ref": "ListModelsResponse"
              }
            }
          }
        }
      }
    }
  },
  "id": "firebaseml:v1beta2",
  "kind": "discovery#restDescription",
  "revision": "20260830",
  "rootUrl": "https://firebaseml.googleapis.com/",
  "ownerDomain": "google.com",
  "basePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "baseUrl": "https://firebaseml.googleapis.com/",
  "documentationLink": "https://firebase.google.com",
  "ownerName": "Google",
  "batchPath": "batch",
  "name": "firebaseml",
  "title": "Firebase ML API",
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    }
  },
  "version": "v1beta2",
  "description": "Access custom machine learning models hosted via Firebase ML.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        }
      },
      "id": "Operation"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "Status",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "ListModelsResponse": {
      "description": "The response for list models",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "models": {
          "items": {
            "$ref": "Model"
          },
          "description": "The list of models",
          "type": "array"
        }
      },
      "id": "ListModelsResponse",
      "type": "object"
    },
    "TfLiteModel": {
      "type": "object",
      "id": "TfLiteModel",
      "description": "Information that is specific to TfLite models.",
      "properties": {
        "gcsTfliteUri": {
          "description": "The TfLite file containing the model. (Stored in Google Cloud). The gcs_tflite_uri should have form: gs://some-bucket/some-model.tflite Note: If you update the file in the original location, it is necessary to call UpdateModel for ML to pick up and validate the updated file.",
          "type": "string"
        },
        "sizeBytes": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The size of the TFLite model"
        },
        "automlModel": {
          "type": "string",
          "description": "The AutoML model id referencing a model you created with the AutoML API. The name should have format 'projects//locations//models/' (This is the model resource name returned from the AutoML API)"
        }
      }
    },
    "DownloadModelResponse": {
      "properties": {
        "expireTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time that the download URI link expires. If the link has expired, the REST call must be repeated."
        },
        "sizeBytes": {
          "description": "Output only. The size of the file(s), if this information is available.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "downloadUri": {
          "type": "string",
          "description": "Output only. A download URI for the model/zip file.",
          "readOnly": true
        },
        "modelFormat": {
          "enum": [
            "MODEL_FORMAT_UNSPECIFIED",
            "TFLITE"
          ],
          "description": "Output only. The format of the model being downloaded.",
          "type": "string",
          "enumDescriptions": [
            "Unknown format",
            "TFLite model"
          ],
          "readOnly": true
        }
      },
      "type": "object",
      "id": "DownloadModelResponse",
      "description": "The response for downloading a model to device."
    },
    "Model": {
      "id": "Model",
      "description": "An ML model hosted in Firebase ML",
      "type": "object",
      "properties": {
        "tfliteModel": {
          "$ref": "TfLiteModel",
          "description": "A TFLite Model"
        },
        "modelHash": {
          "type": "string",
          "description": "Output only. The model_hash will change if a new file is available for download.",
          "readOnly": true
        },
        "displayName": {
          "description": "Required. The name of the model to create. The name can be up to 32 characters long and can consist only of ASCII Latin letters A-Z and a-z, underscores(_) and ASCII digits 0-9. It must start with a letter.",
          "type": "string"
        },
        "etag": {
          "description": "Output only. See RFC7232 https://tools.ietf.org/html/rfc7232#section-2.3",
          "readOnly": true,
          "type": "string"
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "description": "User defined tags which can be used to group/filter models during listing",
          "type": "array"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp when this model was updated in Firebase ML."
        },
        "state": {
          "description": "State common to all model types. Includes publishing and validation information.",
          "$ref": "ModelState"
        },
        "activeOperations": {
          "description": "Output only. Lists operation ids associated with this model whose status is NOT done.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The resource name of the Model. Model names have the form `projects/{project_id}/models/{model_id}` The name is ignored when creating a model."
        },
        "createTime": {
          "description": "Output only. Timestamp when this model was created in Firebase ML.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "ModelOperationMetadata": {
      "properties": {
        "name": {
          "description": "The name of the model we are creating/updating The name must have the form `projects/{project_id}/models/{model_id}`",
          "type": "string"
        },
        "basicOperationStatus": {
          "enumDescriptions": [
            "The status is unspecified",
            "The model file is being uploaded",
            "The model file is being verified"
          ],
          "type": "string",
          "enum": [
            "BASIC_OPERATION_STATUS_UNSPECIFIED",
            "BASIC_OPERATION_STATUS_UPLOADING",
            "BASIC_OPERATION_STATUS_VERIFYING"
          ]
        }
      },
      "description": "This is returned in the longrunning operations for create/update.",
      "id": "ModelOperationMetadata",
      "type": "object"
    },
    "ModelState": {
      "properties": {
        "published": {
          "description": "Indicates if this model has been published.",
          "type": "boolean"
        },
        "validationError": {
          "readOnly": true,
          "$ref": "Status",
          "description": "Output only. Indicates the latest validation error on the model if any. A model may have validation errors if there were problems during the model creation/update. e.g. in the case of a TfLiteModel, if a tflite model file was missing or in the wrong format. This field will be empty for valid models."
        }
      },
      "type": "object",
      "id": "ModelState",
      "description": "State common to all model types. Includes publishing and validation information."
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    }
  },
  "protocol": "rest"
}