{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "firebaserules:v1",
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    }
  },
  "rootUrl": "https://firebaserules.googleapis.com/",
  "kind": "discovery#restDescription",
  "description": "Creates and manages rules that determine when a Firebase Rules-enabled service should permit a request. ",
  "discoveryVersion": "v1",
  "version_module": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/firebase.readonly": {
          "description": "View all your Firebase data and settings"
        },
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        }
      }
    }
  },
  "revision": "20260812",
  "ownerName": "Google",
  "version": "v1",
  "baseUrl": "https://firebaserules.googleapis.com/",
  "mtlsRootUrl": "https://firebaserules.mtls.googleapis.com/",
  "resources": {
    "projects": {
      "methods": {
        "test": {
          "request": {
            "$ref": "TestRulesetRequest"
          },
          "response": {
            "$ref": "TestRulesetResponse"
          },
          "id": "firebaserules.projects.test",
          "description": "Test `Source` for syntactic and semantic correctness. Issues present, if any, will be returned to the caller with a description, severity, and source location. The test method may be executed with `Source` or a `Ruleset` name. Passing `Source` is useful for unit testing new rules. Passing a `Ruleset` name is useful for regression testing an existing rule. The following is an example of `Source` that permits users to upload images to a bucket bearing their user id and matching the correct metadata: _*Example*_ // Users are allowed to subscribe and unsubscribe to the blog. service firebase.storage { match /users/{userId}/images/{imageName} { allow write: if userId == request.auth.uid && (imageName.matches('*.png$') || imageName.matches('*.jpg$')) && resource.mimeType.matches('^image/') } }",
          "flatPath": "v1/projects/{projectsId}:test",
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^projects/.*$",
              "description": "Required. Tests may either provide `source` or a `Ruleset` resource name. For tests against `source`, the resource name must refer to the project: Format: `projects/{project_id}` For tests against a `Ruleset`, this must be the `Ruleset` resource name: Format: `projects/{project_id}/rulesets/{ruleset_id}`",
              "required": true,
              "location": "path"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "POST",
          "path": "v1/{+name}:test",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase",
            "https://www.googleapis.com/auth/firebase.readonly"
          ]
        }
      },
      "resources": {
        "rulesets": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "path": "v1/{+name}/rulesets",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "description": "List `Ruleset` metadata only and optionally filter the results by `Ruleset` name. The full `Source` contents of a `Ruleset` may be retrieved with GetRuleset.",
              "flatPath": "v1/projects/{projectsId}/rulesets",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "description": "Optional. Page size to load. Maximum of 100. Defaults to 10. Note: `page_size` is just a hint and the service may choose to load less than `page_size` due to the size of the output. To traverse all of the releases, caller should iterate until the `page_token` is empty.",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "Optional. Next page token for loading the next batch of `Ruleset` instances.",
                  "type": "string",
                  "location": "query"
                },
                "filter": {
                  "description": "Optional. `Ruleset` filter. The list method supports filters with restrictions on `Ruleset.name`. Filters on `Ruleset.create_time` should use the `date` function which parses strings that conform to the RFC 3339 date/time specifications. Example: `create_time > date(\"2017-01-01T00:00:00Z\") AND name=UUID-*`",
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "location": "path",
                  "description": "Required. Resource name for the project. Format: `projects/{project_id}`",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "response": {
                "$ref": "ListRulesetsResponse"
              },
              "id": "firebaserules.projects.rulesets.list"
            },
            "create": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/rulesets",
              "parameters": {
                "name": {
                  "description": "Required. Resource name for Project which owns this `Ruleset`. Format: `projects/{project_id}`",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "description": "Create a `Ruleset` from `Source`. The `Ruleset` is given a unique generated name which is returned to the caller. `Source` containing syntactic or semantics errors will result in an error response indicating the first error encountered. For a detailed view of `Source` issues, use TestRuleset.",
              "id": "firebaserules.projects.rulesets.create",
              "response": {
                "$ref": "Ruleset"
              },
              "request": {
                "$ref": "Ruleset"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "path": "v1/{+name}/rulesets",
              "httpMethod": "POST"
            },
            "get": {
              "flatPath": "v1/projects/{projectsId}/rulesets/{rulesetsId}",
              "parameters": {
                "name": {
                  "description": "Required. Resource name for the ruleset to get. Format: `projects/{project_id}/rulesets/{ruleset_id}`",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/rulesets/[^/]+$"
                }
              },
              "description": "Get a `Ruleset` by name including the full `Source` contents.",
              "parameterOrder": [
                "name"
              ],
              "id": "firebaserules.projects.rulesets.get",
              "response": {
                "$ref": "Ruleset"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "httpMethod": "GET",
              "path": "v1/{+name}"
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "path": "v1/{+name}",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "description": "Delete a `Ruleset` by resource name. If the `Ruleset` is referenced by a `Release` the operation will fail.",
              "flatPath": "v1/projects/{projectsId}/rulesets/{rulesetsId}",
              "parameters": {
                "name": {
                  "description": "Required. Resource name for the ruleset to delete. Format: `projects/{project_id}/rulesets/{ruleset_id}`",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/rulesets/[^/]+$",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "id": "firebaserules.projects.rulesets.delete"
            }
          }
        },
        "releases": {
          "methods": {
            "create": {
              "httpMethod": "POST",
              "path": "v1/{+name}/releases",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "request": {
                "$ref": "Release"
              },
              "id": "firebaserules.projects.releases.create",
              "response": {
                "$ref": "Release"
              },
              "flatPath": "v1/projects/{projectsId}/releases",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. Resource name for the project which owns this `Release`. Format: `projects/{project_id}`",
                  "required": true,
                  "location": "path"
                }
              },
              "description": "Create a `Release`. Release names should reflect the developer's deployment practices. For example, the release name may include the environment name, application name, application version, or any other name meaningful to the developer. Once a `Release` refers to a `Ruleset`, the rules can be enforced by Firebase Rules-enabled services. More than one `Release` may be 'live' concurrently. Consider the following three `Release` names for `projects/foo` and the `Ruleset` to which they refer. Release Name -> Ruleset Name * projects/foo/releases/prod -> projects/foo/rulesets/uuid123 * projects/foo/releases/prod/beta -> projects/foo/rulesets/uuid123 * projects/foo/releases/prod/v23 -> projects/foo/rulesets/uuid456 The relationships reflect a `Ruleset` rollout in progress. The `prod` and `prod/beta` releases refer to the same `Ruleset`. However, `prod/v23` refers to a new `Ruleset`. The `Ruleset` reference for a `Release` may be updated using the UpdateRelease method.",
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "description": "Get a `Release` by name.",
              "flatPath": "v1/projects/{projectsId}/releases/{releasesId}",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/releases/.*$",
                  "location": "path",
                  "description": "Required. Resource name of the `Release`. Format: `projects/{project_id}/releases/{release_id}`",
                  "required": true
                }
              },
              "response": {
                "$ref": "Release"
              },
              "id": "firebaserules.projects.releases.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "path": "v1/{+name}",
              "httpMethod": "GET"
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "httpMethod": "DELETE",
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/releases/{releasesId}",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/releases/.*$",
                  "location": "path",
                  "description": "Required. Resource name for the `Release` to delete. Format: `projects/{project_id}/releases/{release_id}`",
                  "required": true
                }
              },
              "description": "Delete a `Release` by resource name.",
              "parameterOrder": [
                "name"
              ],
              "id": "firebaserules.projects.releases.delete",
              "response": {
                "$ref": "Empty"
              }
            },
            "patch": {
              "httpMethod": "PATCH",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "request": {
                "$ref": "UpdateReleaseRequest"
              },
              "response": {
                "$ref": "Release"
              },
              "id": "firebaserules.projects.releases.patch",
              "description": "Update a `Release` via PATCH. Only updates to `ruleset_name` will be honored. `Release` rename is not supported. To create a `Release` use the CreateRelease method.",
              "flatPath": "v1/projects/{projectsId}/releases/{releasesId}",
              "parameters": {
                "name": {
                  "description": "Required. Resource name for the project which owns this `Release`. Format: `projects/{project_id}`",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/releases/.*$"
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "getExecutable": {
              "response": {
                "$ref": "GetReleaseExecutableResponse"
              },
              "id": "firebaserules.projects.releases.getExecutable",
              "description": "Get the `Release` executable to use when enforcing rules.",
              "flatPath": "v1/projects/{projectsId}/releases/{releasesId}:getExecutable",
              "parameters": {
                "name": {
                  "description": "Required. Resource name of the `Release`. Format: `projects/{project_id}/releases/{release_id}`",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/releases/.*$"
                },
                "executableVersion": {
                  "type": "string",
                  "enum": [
                    "RELEASE_EXECUTABLE_VERSION_UNSPECIFIED",
                    "FIREBASE_RULES_EXECUTABLE_V1",
                    "FIREBASE_RULES_EXECUTABLE_V2"
                  ],
                  "enumDescriptions": [
                    "Executable format unspecified. Defaults to FIREBASE_RULES_EXECUTABLE_V1",
                    "Firebase Rules syntax 'rules2' executable versions: Custom AST for use with Java clients.",
                    "CEL-based executable for use with C++ clients."
                  ],
                  "description": "Optional. The requested runtime executable version. Defaults to FIREBASE_RULES_EXECUTABLE_V1.",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "path": "v1/{+name}:getExecutable",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ]
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "path": "v1/{+name}/releases",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/releases",
              "parameters": {
                "name": {
                  "description": "Required. Resource name for the project. Format: `projects/{project_id}`",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "description": "Optional. `Release` filter. The list method supports filters with restrictions on the `Release.name`, and `Release.ruleset_name`. Example 1: A filter of 'name=prod*' might return `Release`s with names within 'projects/foo' prefixed with 'prod': Name -> Ruleset Name: * projects/foo/releases/prod -> projects/foo/rulesets/uuid1234 * projects/foo/releases/prod/v1 -> projects/foo/rulesets/uuid1234 * projects/foo/releases/prod/v2 -> projects/foo/rulesets/uuid8888 Example 2: A filter of `name=prod* ruleset_name=uuid1234` would return only `Release` instances for 'projects/foo' with names prefixed with 'prod' referring to the same `Ruleset` name of 'uuid1234': Name -> Ruleset Name: * projects/foo/releases/prod -> projects/foo/rulesets/1234 * projects/foo/releases/prod/v1 -> projects/foo/rulesets/1234 In the examples, the filter parameters refer to the search filters are relative to the project. Fully qualified prefixed may also be used.",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. Next page token for the next batch of `Release` instances.",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Optional. Page size to load. Maximum of 100. Defaults to 10. Note: `page_size` is just a hint and the service may choose to load fewer than `page_size` results due to the size of the output. To traverse all of the releases, the caller should iterate until the `page_token` on the response is empty.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                }
              },
              "description": "List the `Release` values for a project. This list may optionally be filtered by `Release` name, `Ruleset` name, `TestSuite` name, or any combination thereof.",
              "id": "firebaserules.projects.releases.list",
              "response": {
                "$ref": "ListReleasesResponse"
              }
            }
          }
        }
      }
    }
  },
  "protocol": "rest",
  "documentationLink": "https://firebase.google.com/docs/storage/security",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "Source": {
      "description": "`Source` is one or more `File` messages comprising a logical set of rules.",
      "type": "object",
      "id": "Source",
      "properties": {
        "files": {
          "description": "Required. `File` set constituting the `Source` bundle.",
          "type": "array",
          "items": {
            "$ref": "File"
          }
        }
      }
    },
    "FunctionMock": {
      "id": "FunctionMock",
      "properties": {
        "result": {
          "description": "The mock result of the function call.",
          "$ref": "Result"
        },
        "function": {
          "type": "string",
          "description": "The name of the function. The function name must match one provided by a service declaration."
        },
        "args": {
          "description": "The list of `Arg` values to match. The order in which the arguments are provided is the order in which they must appear in the function invocation.",
          "type": "array",
          "items": {
            "$ref": "Arg"
          }
        }
      },
      "description": "Mock function definition. Mocks must refer to a function declared by the target service. The type of the function args and result will be inferred at test time. If either the arg or result values are not compatible with function type declaration, the request will be considered invalid. More than one `FunctionMock` may be provided for a given function name so long as the `Arg` matchers are distinct. There may be only one function for a given overload where all `Arg` values are `Arg.any_value`.",
      "type": "object"
    },
    "SourcePosition": {
      "description": "Position in the `Source` content including its line, column number, and an index of the `File` in the `Source` message. Used for debug purposes.",
      "type": "object",
      "id": "SourcePosition",
      "properties": {
        "line": {
          "type": "integer",
          "format": "int32",
          "description": "Line number of the source fragment. 1-based."
        },
        "currentOffset": {
          "type": "integer",
          "format": "int32",
          "description": "Start position relative to the beginning of the file."
        },
        "column": {
          "description": "First column on the source line associated with the source fragment.",
          "type": "integer",
          "format": "int32"
        },
        "fileName": {
          "type": "string",
          "description": "Name of the `File`."
        },
        "endOffset": {
          "description": "End position relative to the beginning of the file.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ExpressionReport": {
      "type": "object",
      "description": "Describes where in a file an expression is found and what it was evaluated to over the course of its use.",
      "id": "ExpressionReport",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "$ref": "ValueCount"
          },
          "description": "Values that this expression evaluated to when encountered."
        },
        "sourcePosition": {
          "$ref": "SourcePosition",
          "description": "Position of expression in original rules source."
        },
        "children": {
          "type": "array",
          "items": {
            "$ref": "ExpressionReport"
          },
          "description": "Subexpressions"
        }
      }
    },
    "VisitedExpression": {
      "id": "VisitedExpression",
      "properties": {
        "sourcePosition": {
          "$ref": "SourcePosition",
          "description": "Position in the `Source` or `Ruleset` where an expression was visited."
        },
        "value": {
          "type": "any",
          "description": "The evaluated value for the visited expression, e.g. true/false"
        }
      },
      "description": "Store the position and access outcome for an expression visited in rules.",
      "type": "object"
    },
    "Result": {
      "type": "object",
      "description": "Possible result values from the function mock invocation.",
      "id": "Result",
      "properties": {
        "value": {
          "description": "The result is an actual value. The type of the value must match that of the type declared by the service.",
          "type": "any"
        },
        "undefined": {
          "$ref": "Empty",
          "description": "The result is undefined, meaning the result could not be computed."
        }
      }
    },
    "Release": {
      "description": "`Release` is a named reference to a `Ruleset`. Once a `Release` refers to a `Ruleset`, rules-enabled services will be able to enforce the `Ruleset`.",
      "type": "object",
      "id": "Release",
      "properties": {
        "createTime": {
          "description": "Output only. Time the release was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Required. Format: `projects/{project_id}/releases/{release_id}`",
          "type": "string"
        },
        "rulesetName": {
          "type": "string",
          "description": "Required. Name of the `Ruleset` referred to by this `Release`. The `Ruleset` must exist for the `Release` to be created."
        },
        "updateTime": {
          "description": "Output only. Time the release was updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "TestRulesetResponse": {
      "id": "TestRulesetResponse",
      "properties": {
        "testResults": {
          "description": "The set of test results given the test cases in the `TestSuite`. The results will appear in the same order as the test cases appear in the `TestSuite`.",
          "type": "array",
          "items": {
            "$ref": "TestResult"
          }
        },
        "issues": {
          "description": "Syntactic and semantic `Source` issues of varying severity. Issues of `ERROR` severity will prevent tests from executing.",
          "type": "array",
          "items": {
            "$ref": "Issue"
          }
        }
      },
      "type": "object",
      "description": "The response for FirebaseRulesService.TestRuleset."
    },
    "Metadata": {
      "type": "object",
      "description": "Metadata for a Ruleset.",
      "id": "Metadata",
      "properties": {
        "services": {
          "description": "Services that this ruleset has declarations for (e.g., \"cloud.firestore\"). There may be 0+ of these.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "TestCase": {
      "id": "TestCase",
      "properties": {
        "resource": {
          "description": "Optional resource value as it appears in persistent storage before the request is fulfilled. The resource type depends on the `request.path` value.",
          "type": "any"
        },
        "expressionReportLevel": {
          "enumDescriptions": [
            "No level has been specified. Defaults to \"NONE\" behavior.",
            "Do not include any additional information.",
            "Include detailed reporting on expressions evaluated.",
            "Only include the expressions that were visited during evaluation."
          ],
          "description": "Specifies what should be included in the response.",
          "type": "string",
          "enum": [
            "LEVEL_UNSPECIFIED",
            "NONE",
            "FULL",
            "VISITED"
          ]
        },
        "functionMocks": {
          "description": "Optional function mocks for service-defined functions. If not set, any service defined function is expected to return an error, which may or may not influence the test outcome.",
          "type": "array",
          "items": {
            "$ref": "FunctionMock"
          }
        },
        "expectation": {
          "enumDescriptions": [
            "Unspecified expectation.",
            "Expect an allowed result.",
            "Expect a denied result."
          ],
          "description": "Test expectation.",
          "type": "string",
          "enum": [
            "EXPECTATION_UNSPECIFIED",
            "ALLOW",
            "DENY"
          ]
        },
        "request": {
          "description": "Request context. The exact format of the request context is service-dependent. See the appropriate service documentation for information about the supported fields and types on the request. Minimally, all services support the following fields and types: Request field | Type ---------------|----------------- auth.uid | `string` auth.token | `map` headers | `map` method | `string` params | `map` path | `string` time | `google.protobuf.Timestamp` If the request value is not well-formed for the service, the request will be rejected as an invalid argument.",
          "type": "any"
        },
        "pathEncoding": {
          "enumDescriptions": [
            "No encoding has been specified. Defaults to \"URL_ENCODED\" behavior.",
            "Treats path segments as URL encoded but with non-encoded separators (\"/\"). This is the default behavior.",
            "Treats total path as non-URL encoded e.g. raw."
          ],
          "type": "string",
          "enum": [
            "ENCODING_UNSPECIFIED",
            "URL_ENCODED",
            "PLAIN"
          ],
          "description": "Specifies whether paths (such as request.path) are encoded and how."
        }
      },
      "description": "`TestCase` messages provide the request context and an expectation as to whether the given context will be allowed or denied. Test cases may specify the `request`, `resource`, and `function_mocks` to mock a function call to a service-provided function. The `request` object represents context present at request-time. The `resource` is the value of the target resource as it appears in persistent storage before the request is executed.",
      "type": "object"
    },
    "Ruleset": {
      "id": "Ruleset",
      "properties": {
        "source": {
          "$ref": "Source",
          "description": "Required. `Source` for the `Ruleset`."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time the `Ruleset` was created."
        },
        "attachmentPoint": {
          "description": "Immutable. Intended resource to which this Ruleset should be released. May be left blank to signify the resource associated with the default release. Expected format: firestore.googleapis.com/projects//databases/",
          "type": "string"
        },
        "name": {
          "description": "Output only. Name of the `Ruleset`. The ruleset_id is auto generated by the service. Format: `projects/{project_id}/rulesets/{ruleset_id}`",
          "readOnly": true,
          "type": "string"
        },
        "metadata": {
          "description": "Output only. The metadata for this ruleset.",
          "readOnly": true,
          "$ref": "Metadata"
        }
      },
      "type": "object",
      "description": "`Ruleset` is an immutable copy of `Source` with a globally unique identifier and a creation time."
    },
    "File": {
      "id": "File",
      "properties": {
        "content": {
          "description": "Required. Textual Content.",
          "type": "string"
        },
        "name": {
          "description": "Required. File name.",
          "type": "string"
        },
        "fingerprint": {
          "description": "Fingerprint (e.g. github sha) associated with the `File`.",
          "type": "string",
          "format": "byte"
        }
      },
      "type": "object",
      "description": "`File` containing source content."
    },
    "ValueCount": {
      "id": "ValueCount",
      "properties": {
        "value": {
          "type": "any",
          "description": "The return value of the expression"
        },
        "count": {
          "type": "integer",
          "format": "int32",
          "description": "The amount of times that expression returned."
        }
      },
      "description": "Tuple for how many times an Expression was evaluated to a particular ExpressionValue.",
      "type": "object"
    },
    "ListRulesetsResponse": {
      "type": "object",
      "description": "The response for FirebaseRulesService.ListRulesets.",
      "id": "ListRulesetsResponse",
      "properties": {
        "rulesets": {
          "type": "array",
          "items": {
            "$ref": "Ruleset"
          },
          "description": "List of `Ruleset` instances."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token to retrieve the next page of results. If the value is empty, no further results remain."
        }
      }
    },
    "GetReleaseExecutableResponse": {
      "type": "object",
      "description": "The response for FirebaseRulesService.GetReleaseExecutable",
      "id": "GetReleaseExecutableResponse",
      "properties": {
        "language": {
          "type": "string",
          "enum": [
            "LANGUAGE_UNSPECIFIED",
            "FIREBASE_RULES",
            "EVENT_FLOW_TRIGGERS"
          ],
          "description": "`Language` used to generate the executable bytes.",
          "enumDescriptions": [
            "Language unspecified. Defaults to FIREBASE_RULES.",
            "Firebase Rules language.",
            "Event Flow triggers."
          ]
        },
        "rulesetName": {
          "description": "`Ruleset` name associated with the `Release` executable.",
          "type": "string"
        },
        "executable": {
          "type": "string",
          "format": "byte",
          "description": "Executable view of the `Ruleset` referenced by the `Release`."
        },
        "syncTime": {
          "description": "Optional, indicates the freshness of the result. The response is guaranteed to be the latest within an interval up to the sync_time (inclusive).",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp for the most recent `Release.update_time`."
        },
        "executableVersion": {
          "enumDescriptions": [
            "Executable format unspecified. Defaults to FIREBASE_RULES_EXECUTABLE_V1",
            "Firebase Rules syntax 'rules2' executable versions: Custom AST for use with Java clients.",
            "CEL-based executable for use with C++ clients."
          ],
          "type": "string",
          "enum": [
            "RELEASE_EXECUTABLE_VERSION_UNSPECIFIED",
            "FIREBASE_RULES_EXECUTABLE_V1",
            "FIREBASE_RULES_EXECUTABLE_V2"
          ],
          "description": "The Rules runtime version of the executable."
        }
      }
    },
    "TestRulesetRequest": {
      "id": "TestRulesetRequest",
      "properties": {
        "source": {
          "$ref": "Source",
          "description": "Optional. Optional `Source` to be checked for correctness. This field must not be set when the resource name refers to a `Ruleset`."
        },
        "testSuite": {
          "$ref": "TestSuite",
          "description": "Required. The tests to execute against the `Source`. When `Source` is provided inline, the test cases will only be run if the `Source` is syntactically and semantically valid. Inline `TestSuite` to run."
        }
      },
      "description": "The request for FirebaseRulesService.TestRuleset.",
      "type": "object"
    },
    "Arg": {
      "type": "object",
      "description": "Arg matchers for the mock function.",
      "id": "Arg",
      "properties": {
        "exactValue": {
          "type": "any",
          "description": "Argument exactly matches value provided."
        },
        "anyValue": {
          "$ref": "Empty",
          "description": "Argument matches any value provided."
        }
      }
    },
    "TestSuite": {
      "type": "object",
      "description": "`TestSuite` is a collection of `TestCase` instances that validate the logical correctness of a `Ruleset`. The `TestSuite` may be referenced in-line within a `TestRuleset` invocation or as part of a `Release` object as a pre-release check.",
      "id": "TestSuite",
      "properties": {
        "testCases": {
          "description": "Collection of test cases associated with the `TestSuite`.",
          "type": "array",
          "items": {
            "$ref": "TestCase"
          }
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "Empty",
      "properties": {}
    },
    "FunctionCall": {
      "id": "FunctionCall",
      "properties": {
        "function": {
          "description": "Name of the function invoked.",
          "type": "string"
        },
        "args": {
          "type": "array",
          "items": {
            "type": "any"
          },
          "description": "The arguments that were provided to the function."
        }
      },
      "type": "object",
      "description": "Represents a service-defined function call that was invoked during test execution."
    },
    "Issue": {
      "id": "Issue",
      "properties": {
        "description": {
          "description": "Short error description.",
          "type": "string"
        },
        "sourcePosition": {
          "description": "Position of the issue in the `Source`.",
          "$ref": "SourcePosition"
        },
        "severity": {
          "enumDescriptions": [
            "An unspecified severity.",
            "Deprecation issue for statements and method that may no longer be supported or maintained.",
            "Warnings such as: unused variables.",
            "Errors such as: unmatched curly braces or variable redefinition."
          ],
          "description": "The severity of the issue.",
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "DEPRECATION",
            "WARNING",
            "ERROR"
          ]
        }
      },
      "type": "object",
      "description": "Issues include warnings, errors, and deprecation notices."
    },
    "UpdateReleaseRequest": {
      "description": "The request for FirebaseRulesService.UpdateRelease.",
      "type": "object",
      "id": "UpdateReleaseRequest",
      "properties": {
        "release": {
          "$ref": "Release",
          "description": "Required. `Release` to update."
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Optional. Specifies which fields to update."
        }
      }
    },
    "TestResult": {
      "description": "Test result message containing the state of the test as well as a description and source position for test failures.",
      "type": "object",
      "id": "TestResult",
      "properties": {
        "debugMessages": {
          "description": "Debug messages related to test execution issues encountered during evaluation. Debug messages may be related to too many or too few invocations of function mocks or to runtime errors that occur during evaluation. For example: ```Unable to read variable [name: \"resource\"]```",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "functionCalls": {
          "type": "array",
          "items": {
            "$ref": "FunctionCall"
          },
          "description": "The set of function calls made to service-defined methods. Function calls are included in the order in which they are encountered during evaluation, are provided for both mocked and unmocked functions, and included on the response regardless of the test `state`."
        },
        "expressionReports": {
          "type": "array",
          "items": {
            "$ref": "ExpressionReport"
          },
          "description": "The mapping from expression in the ruleset AST to the values they were evaluated to. Partially-nested to mirror AST structure. Note that this field is actually tracking expressions and not permission statements in contrast to the \"visited_expressions\" field above. Literal expressions are omitted."
        },
        "state": {
          "enumDescriptions": [
            "Test state is not set.",
            "Test is a success.",
            "Test is a failure."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCESS",
            "FAILURE"
          ],
          "description": "State of the test."
        },
        "errorPosition": {
          "description": "Position in the `Source` or `Ruleset` where the principle runtime error occurs. Evaluation of an expression may result in an error. Rules are deny by default, so a `DENY` expectation when an error is generated is valid. When there is a `DENY` with an error, the `SourcePosition` is returned. E.g. `error_position { line: 19 column: 37 }`",
          "$ref": "SourcePosition"
        },
        "visitedExpressions": {
          "type": "array",
          "items": {
            "$ref": "VisitedExpression"
          },
          "description": "The set of visited permission expressions for a given test. This returns the positions and evaluation results of all visited permission expressions which were relevant to the test case, e.g. ``` match /path { allow read if: } ``` For a detailed report of the intermediate evaluation states, see the `expression_reports` field"
        }
      }
    },
    "ListReleasesResponse": {
      "id": "ListReleasesResponse",
      "properties": {
        "releases": {
          "type": "array",
          "items": {
            "$ref": "Release"
          },
          "description": "List of `Release` instances."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token to retrieve the next page of results. If the value is empty, no further results remain."
        }
      },
      "description": "The response for FirebaseRulesService.ListReleases.",
      "type": "object"
    }
  },
  "batchPath": "batch",
  "servicePath": "",
  "name": "firebaserules",
  "basePath": "",
  "canonicalName": "Firebase Rules",
  "title": "Firebase Rules API",
  "ownerDomain": "google.com"
}