{
  "revision": "20260826",
  "documentationLink": "https://cloud.google.com/firestore",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "id": "firestore:v1",
  "description": "Accesses the NoSQL document database built for automatic scaling, high performance, and ease of application development. ",
  "version": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "kind": "discovery#restDescription",
  "canonicalName": "Firestore",
  "ownerDomain": "google.com",
  "rootUrl": "https://firestore.googleapis.com/",
  "basePath": "",
  "title": "Cloud Firestore API",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    }
  },
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://firestore.africa-south1.rep.googleapis.com/",
      "location": "africa-south1"
    },
    {
      "location": "asia-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://firestore.asia-east1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-east2",
      "endpointUrl": "https://firestore.asia-east2.rep.googleapis.com/"
    },
    {
      "location": "asia-northeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://firestore.asia-northeast1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-northeast2",
      "endpointUrl": "https://firestore.asia-northeast2.rep.googleapis.com/"
    },
    {
      "location": "asia-northeast3",
      "description": "Regional Endpoint",
      "endpointUrl": "https://firestore.asia-northeast3.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://firestore.asia-south1.rep.googleapis.com/",
      "location": "asia-south1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-south2",
      "endpointUrl": "https://firestore.asia-south2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://firestore.asia-southeast1.rep.googleapis.com/",
      "location": "asia-southeast1"
    },
    {
      "endpointUrl": "https://firestore.asia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast2"
    },
    {
      "endpointUrl": "https://firestore.asia-southeast3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast3"
    },
    {
      "endpointUrl": "https://firestore.australia-southeast1.rep.googleapis.com/",
      "location": "australia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "australia-southeast2",
      "endpointUrl": "https://firestore.australia-southeast2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://firestore.europe-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-central2"
    },
    {
      "location": "europe-north1",
      "endpointUrl": "https://firestore.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://firestore.europe-north2.rep.googleapis.com/",
      "location": "europe-north2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://firestore.europe-southwest1.rep.googleapis.com/",
      "location": "europe-southwest1"
    },
    {
      "endpointUrl": "https://firestore.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://firestore.europe-west10.rep.googleapis.com/",
      "location": "europe-west10"
    },
    {
      "endpointUrl": "https://firestore.europe-west12.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west12"
    },
    {
      "endpointUrl": "https://firestore.europe-west2.rep.googleapis.com/",
      "location": "europe-west2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://firestore.europe-west3.rep.googleapis.com/",
      "location": "europe-west3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://firestore.europe-west4.rep.googleapis.com/",
      "location": "europe-west4",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://firestore.europe-west6.rep.googleapis.com/",
      "location": "europe-west6",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west8",
      "description": "Regional Endpoint",
      "endpointUrl": "https://firestore.europe-west8.rep.googleapis.com/"
    },
    {
      "location": "europe-west9",
      "endpointUrl": "https://firestore.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "me-central1",
      "endpointUrl": "https://firestore.me-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "me-central2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://firestore.me-central2.rep.googleapis.com/"
    },
    {
      "location": "me-west1",
      "endpointUrl": "https://firestore.me-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "northamerica-northeast1",
      "endpointUrl": "https://firestore.northamerica-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://firestore.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-northeast2"
    },
    {
      "endpointUrl": "https://firestore.northamerica-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-south1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://firestore.southamerica-east1.rep.googleapis.com/",
      "location": "southamerica-east1"
    },
    {
      "endpointUrl": "https://firestore.southamerica-west1.rep.googleapis.com/",
      "location": "southamerica-west1",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-central1",
      "endpointUrl": "https://firestore.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://firestore.us-east1.rep.googleapis.com/",
      "location": "us-east1"
    },
    {
      "endpointUrl": "https://firestore.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east4"
    },
    {
      "location": "us-east5",
      "description": "Regional Endpoint",
      "endpointUrl": "https://firestore.us-east5.rep.googleapis.com/"
    },
    {
      "location": "us-south1",
      "endpointUrl": "https://firestore.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west1",
      "endpointUrl": "https://firestore.us-west1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west2",
      "endpointUrl": "https://firestore.us-west2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://firestore.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west3"
    },
    {
      "endpointUrl": "https://firestore.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west4"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://batch-firestore.africa-south1.rep.googleapis.com/",
      "location": "africa-south1"
    },
    {
      "location": "asia-east1",
      "endpointUrl": "https://batch-firestore.asia-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://batch-firestore.asia-east2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-east2"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-northeast1",
      "endpointUrl": "https://batch-firestore.asia-northeast1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-northeast2",
      "endpointUrl": "https://batch-firestore.asia-northeast2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://batch-firestore.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast3"
    },
    {
      "endpointUrl": "https://batch-firestore.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://batch-firestore.asia-south2.rep.googleapis.com/",
      "location": "asia-south2"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-southeast1",
      "endpointUrl": "https://batch-firestore.asia-southeast1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://batch-firestore.asia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast2"
    },
    {
      "endpointUrl": "https://batch-firestore.asia-southeast3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast3"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://batch-firestore.australia-southeast1.rep.googleapis.com/",
      "location": "australia-southeast1"
    },
    {
      "location": "australia-southeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://batch-firestore.australia-southeast2.rep.googleapis.com/"
    },
    {
      "location": "europe-central2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://batch-firestore.europe-central2.rep.googleapis.com/"
    },
    {
      "location": "europe-north1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://batch-firestore.europe-north1.rep.googleapis.com/"
    },
    {
      "location": "europe-north2",
      "endpointUrl": "https://batch-firestore.europe-north2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://batch-firestore.europe-southwest1.rep.googleapis.com/",
      "location": "europe-southwest1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west1",
      "endpointUrl": "https://batch-firestore.europe-west1.rep.googleapis.com/"
    },
    {
      "location": "europe-west10",
      "endpointUrl": "https://batch-firestore.europe-west10.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west12",
      "description": "Regional Endpoint",
      "endpointUrl": "https://batch-firestore.europe-west12.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://batch-firestore.europe-west2.rep.googleapis.com/",
      "location": "europe-west2"
    },
    {
      "endpointUrl": "https://batch-firestore.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west3"
    },
    {
      "endpointUrl": "https://batch-firestore.europe-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west4"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://batch-firestore.europe-west6.rep.googleapis.com/",
      "location": "europe-west6"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://batch-firestore.europe-west8.rep.googleapis.com/",
      "location": "europe-west8"
    },
    {
      "location": "europe-west9",
      "endpointUrl": "https://batch-firestore.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "me-central1",
      "endpointUrl": "https://batch-firestore.me-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://batch-firestore.me-central2.rep.googleapis.com/",
      "location": "me-central2"
    },
    {
      "endpointUrl": "https://batch-firestore.me-west1.rep.googleapis.com/",
      "location": "me-west1",
      "description": "Regional Endpoint"
    },
    {
      "location": "northamerica-northeast1",
      "endpointUrl": "https://batch-firestore.northamerica-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://batch-firestore.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-northeast2"
    },
    {
      "endpointUrl": "https://batch-firestore.northamerica-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-south1"
    },
    {
      "endpointUrl": "https://batch-firestore.southamerica-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "southamerica-east1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://batch-firestore.southamerica-west1.rep.googleapis.com/",
      "location": "southamerica-west1"
    },
    {
      "location": "us-central1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://batch-firestore.us-central1.rep.googleapis.com/"
    },
    {
      "location": "us-east1",
      "endpointUrl": "https://batch-firestore.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east4",
      "endpointUrl": "https://batch-firestore.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east5",
      "endpointUrl": "https://batch-firestore.us-east5.rep.googleapis.com/"
    },
    {
      "location": "us-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://batch-firestore.us-south1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://batch-firestore.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west1"
    },
    {
      "endpointUrl": "https://batch-firestore.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west2"
    },
    {
      "location": "us-west3",
      "description": "Regional Endpoint",
      "endpointUrl": "https://batch-firestore.us-west3.rep.googleapis.com/"
    },
    {
      "location": "us-west4",
      "endpointUrl": "https://batch-firestore.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://firestore.eu.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "eu"
    },
    {
      "description": "Regional Endpoint",
      "location": "us",
      "endpointUrl": "https://firestore.us.rep.googleapis.com/"
    },
    {
      "location": "eu",
      "description": "Regional Endpoint",
      "endpointUrl": "https://batch-firestore.eu.rep.googleapis.com/"
    },
    {
      "location": "us",
      "endpointUrl": "https://batch-firestore.us.rep.googleapis.com/",
      "description": "Regional Endpoint"
    }
  ],
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/datastore": {
          "description": "View and manage your Google Cloud Datastore data"
        }
      }
    }
  },
  "baseUrl": "https://firestore.googleapis.com/",
  "name": "firestore",
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://firestore.mtls.googleapis.com/",
  "ownerName": "Google",
  "version_module": true,
  "schemas": {
    "ArrayValue": {
      "id": "ArrayValue",
      "type": "object",
      "properties": {
        "values": {
          "items": {
            "$ref": "Value"
          },
          "type": "array",
          "description": "Values in the array."
        }
      },
      "description": "An array value."
    },
    "MapValue": {
      "type": "object",
      "id": "MapValue",
      "properties": {
        "fields": {
          "type": "object",
          "description": "The map's fields. The map keys represent field names. Field names matching the regular expression `__.*__` are reserved. Reserved field names are forbidden except in certain documented contexts. The map keys, represented as UTF-8, must not exceed 1,500 bytes and cannot be empty.",
          "additionalProperties": {
            "$ref": "Value"
          }
        }
      },
      "description": "A map value."
    },
    "AggregationResult": {
      "type": "object",
      "description": "The result of a single bucket from a Firestore aggregation query. The keys of `aggregate_fields` are the same for all results in an aggregation query, unlike document queries which can have different fields present for each result.",
      "properties": {
        "aggregateFields": {
          "description": "The result of the aggregation functions, ex: `COUNT(*) AS total_docs`. The key is the alias assigned to the aggregation function on input and the size of this map equals the number of aggregation functions in the query.",
          "type": "object",
          "additionalProperties": {
            "$ref": "Value"
          }
        }
      },
      "id": "AggregationResult"
    },
    "ListCollectionIdsRequest": {
      "id": "ListCollectionIdsRequest",
      "description": "The request for Firestore.ListCollectionIds.",
      "properties": {
        "pageToken": {
          "description": "A page token. Must be a value from ListCollectionIdsResponse.",
          "type": "string"
        },
        "pageSize": {
          "format": "int32",
          "description": "The maximum number of results to return.",
          "type": "integer"
        },
        "readTime": {
          "description": "Reads documents as they were at the given time. This must be a microsecond precision timestamp within the past one hour, or if Point-in-Time Recovery is enabled, can additionally be a whole minute timestamp within the past 7 days.",
          "type": "string",
          "format": "google-datetime"
        },
        "requestOptions": {
          "$ref": "RequestOptions",
          "description": "Optional. The request options for this request."
        }
      },
      "type": "object"
    },
    "ExistenceFilter": {
      "description": "A digest of all the documents that match a given target.",
      "properties": {
        "unchangedNames": {
          "$ref": "BloomFilter",
          "description": "A bloom filter that, despite its name, contains the UTF-8 byte encodings of the resource names of ALL the documents that match target_id, in the form `projects/{project_id}/databases/{database_id}/documents/{document_path}`. This bloom filter may be omitted at the server's discretion, such as if it is deemed that the client will not make use of it or if it is too computationally expensive to calculate or transmit. Clients must gracefully handle this field being absent by falling back to the logic used before this field existed; that is, re-add the target without a resume token to figure out which documents in the client's cache are out of sync."
        },
        "count": {
          "description": "The total count of documents that match target_id. If different from the count of documents in the client that match, the client must manually determine which documents no longer match the target. The client can use the `unchanged_names` bloom filter to assist with this determination by testing ALL the document names against the filter; if the document name is NOT in the filter, it means the document no longer matches the target.",
          "type": "integer",
          "format": "int32"
        },
        "targetId": {
          "description": "The target ID to which this filter applies.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "ExistenceFilter",
      "type": "object"
    },
    "GoogleFirestoreAdminV1Backup": {
      "description": "A Backup of a Cloud Firestore Database. The backup contains all documents and index configurations for the given database at a specific point in time.",
      "type": "object",
      "id": "GoogleFirestoreAdminV1Backup",
      "properties": {
        "stats": {
          "description": "Output only. Statistics about the backup. This data only becomes available after the backup is fully materialized to secondary storage. This field will be empty till then.",
          "readOnly": true,
          "$ref": "GoogleFirestoreAdminV1Stats"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The unique resource name of the Backup. Format is `projects/{project}/locations/{location}/backups/{backup}`. The location in the name will be the Standard Managed Multi-Region (SMMR) location (e.g. `us`) if the backup was created with an SMMR location, or the Google Managed Multi-Region (GMMR) location (e.g. `nam5`) if the backup was created with a GMMR location.",
          "type": "string"
        },
        "snapshotTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The backup contains an externally consistent copy of the database at this time.",
          "format": "google-datetime"
        },
        "state": {
          "readOnly": true,
          "description": "Output only. The current state of the backup.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "NOT_AVAILABLE"
          ],
          "enumDescriptions": [
            "The state is unspecified.",
            "The pending backup is still being created. Operations on the backup will be rejected in this state.",
            "The backup is complete and ready to use.",
            "The backup is not available at this moment."
          ]
        },
        "database": {
          "description": "Output only. Name of the Firestore database that the backup is from. Format is `projects/{project}/databases/{database}`.",
          "type": "string",
          "readOnly": true
        },
        "expireTime": {
          "readOnly": true,
          "description": "Output only. The timestamp at which this backup expires.",
          "type": "string",
          "format": "google-datetime"
        },
        "databaseUid": {
          "type": "string",
          "description": "Output only. The system-generated UUID4 for the Firestore database that the backup is from.",
          "readOnly": true
        }
      }
    },
    "DocumentMask": {
      "type": "object",
      "description": "A set of field paths on a document. Used to restrict a get or update operation on a document to a subset of its fields. This is different from standard field masks, as this is always scoped to a Document, and takes in account the dynamic nature of Value.",
      "properties": {
        "fieldPaths": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference."
        }
      },
      "id": "DocumentMask"
    },
    "RollbackRequest": {
      "id": "RollbackRequest",
      "properties": {
        "requestOptions": {
          "description": "Optional. The request options for this request.",
          "$ref": "RequestOptions"
        },
        "transaction": {
          "description": "Required. The transaction to roll back.",
          "type": "string",
          "format": "byte"
        }
      },
      "description": "The request for Firestore.Rollback.",
      "type": "object"
    },
    "GoogleFirestoreAdminV1EnableUserCredsRequest": {
      "properties": {},
      "id": "GoogleFirestoreAdminV1EnableUserCredsRequest",
      "description": "The request for FirestoreAdmin.EnableUserCreds.",
      "type": "object"
    },
    "GoogleFirestoreAdminV1CmekConfig": {
      "id": "GoogleFirestoreAdminV1CmekConfig",
      "properties": {
        "kmsKeyName": {
          "description": "Required. Only keys in the same location as this database are allowed to be used for encryption. For Firestore's nam5 multi-region, this corresponds to Cloud KMS multi-region us. For Firestore's eur3 multi-region, this corresponds to Cloud KMS multi-region europe. See https://cloud.google.com/kms/docs/locations. The expected format is `projects/{project_id}/locations/{kms_location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}`.",
          "type": "string"
        },
        "activeKeyVersion": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Currently in-use [KMS key versions](https://cloud.google.com/kms/docs/resource-hierarchy#key_versions). During [key rotation](https://cloud.google.com/kms/docs/key-rotation), there can be multiple in-use key versions. The expected format is `projects/{project_id}/locations/{kms_location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}/cryptoKeyVersions/{key_version}`.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "The CMEK (Customer Managed Encryption Key) configuration for a Firestore database. If not present, the database is secured by the default Google encryption key."
    },
    "BeginTransactionResponse": {
      "type": "object",
      "id": "BeginTransactionResponse",
      "properties": {
        "transaction": {
          "type": "string",
          "format": "byte",
          "description": "The transaction that was started."
        }
      },
      "description": "The response for Firestore.BeginTransaction."
    },
    "GoogleFirestoreAdminV1BulkDeleteDocumentsMetadata": {
      "properties": {
        "progressDocuments": {
          "description": "The progress, in documents, of this operation.",
          "$ref": "GoogleFirestoreAdminV1Progress"
        },
        "collectionIds": {
          "items": {
            "type": "string"
          },
          "description": "The IDs of the collection groups that are being deleted.",
          "type": "array"
        },
        "namespaceIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Which namespace IDs are being deleted."
        },
        "endTime": {
          "description": "The time this operation completed. Will be unset if operation still in progress.",
          "type": "string",
          "format": "google-datetime"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "The time this operation started.",
          "type": "string"
        },
        "progressBytes": {
          "$ref": "GoogleFirestoreAdminV1Progress",
          "description": "The progress, in bytes, of this operation."
        },
        "operationState": {
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ],
          "type": "string",
          "description": "The state of the operation.",
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ]
        },
        "snapshotTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The timestamp that corresponds to the version of the database that is being read to get the list of documents to delete. This time can also be used as the timestamp of PITR in case of disaster recovery (subject to PITR window limit)."
        }
      },
      "description": "Metadata for google.longrunning.Operation results from FirestoreAdmin.BulkDeleteDocuments.",
      "id": "GoogleFirestoreAdminV1BulkDeleteDocumentsMetadata",
      "type": "object"
    },
    "GoogleFirestoreAdminV1IndexOperationMetadata": {
      "properties": {
        "index": {
          "type": "string",
          "description": "The index resource that this operation is acting on. For example: `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}/indexes/{index_id}`"
        },
        "state": {
          "type": "string",
          "description": "The state of the operation.",
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ]
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time this operation completed. Will be unset if operation still in progress."
        },
        "progressDocuments": {
          "$ref": "GoogleFirestoreAdminV1Progress",
          "description": "The progress, in documents, of this operation."
        },
        "startTime": {
          "format": "google-datetime",
          "description": "The time this operation started.",
          "type": "string"
        },
        "progressBytes": {
          "description": "The progress, in bytes, of this operation.",
          "$ref": "GoogleFirestoreAdminV1Progress"
        }
      },
      "description": "Metadata for google.longrunning.Operation results from FirestoreAdmin.CreateIndex.",
      "id": "GoogleFirestoreAdminV1IndexOperationMetadata",
      "type": "object"
    },
    "DocumentRemove": {
      "description": "A Document has been removed from the view of the targets. Sent if the document is no longer relevant to a target and is out of view. Can be sent instead of a DocumentDelete or a DocumentChange if the server can not send the new value of the document. Multiple DocumentRemove messages may be returned for the same logical write or delete, if multiple targets are affected.",
      "properties": {
        "readTime": {
          "type": "string",
          "description": "The read timestamp at which the remove was observed. Greater or equal to the `commit_time` of the change/delete/remove.",
          "format": "google-datetime"
        },
        "removedTargetIds": {
          "description": "A set of target IDs for targets that previously matched this document.",
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "document": {
          "description": "The resource name of the Document that has gone out of view.",
          "type": "string"
        }
      },
      "id": "DocumentRemove",
      "type": "object"
    },
    "FindNearest": {
      "properties": {
        "distanceResultField": {
          "description": "Optional. Optional name of the field to output the result of the vector distance calculation. Must conform to document field name limitations.",
          "type": "string"
        },
        "distanceThreshold": {
          "description": "Optional. Option to specify a threshold for which no less similar documents will be returned. The behavior of the specified `distance_measure` will affect the meaning of the distance threshold. Since DOT_PRODUCT distances increase when the vectors are more similar, the comparison is inverted. * For EUCLIDEAN, COSINE: `WHERE distance <= distance_threshold` * For DOT_PRODUCT: `WHERE distance >= distance_threshold`",
          "format": "double",
          "type": "number"
        },
        "vectorField": {
          "$ref": "FieldReference",
          "description": "Required. An indexed vector field to search upon. Only documents which contain vectors whose dimensionality match the query_vector can be returned."
        },
        "queryVector": {
          "description": "Required. The query vector that we are searching on. Must be a vector of no more than 2048 dimensions.",
          "$ref": "Value"
        },
        "limit": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The number of nearest neighbors to return. Must be a positive integer of no more than 1000."
        },
        "distanceMeasure": {
          "type": "string",
          "description": "Required. The distance measure to use, required.",
          "enum": [
            "DISTANCE_MEASURE_UNSPECIFIED",
            "EUCLIDEAN",
            "COSINE",
            "DOT_PRODUCT"
          ],
          "enumDescriptions": [
            "Should not be set.",
            "Measures the EUCLIDEAN distance between the vectors. See [Euclidean](https://en.wikipedia.org/wiki/Euclidean_distance) to learn more. The resulting distance decreases the more similar two vectors are.",
            "COSINE distance compares vectors based on the angle between them, which allows you to measure similarity that isn't based on the vectors magnitude. We recommend using DOT_PRODUCT with unit normalized vectors instead of COSINE distance, which is mathematically equivalent with better performance. See [Cosine Similarity](https://en.wikipedia.org/wiki/Cosine_similarity) to learn more about COSINE similarity and COSINE distance. The resulting COSINE distance decreases the more similar two vectors are.",
            "Similar to cosine but is affected by the magnitude of the vectors. See [Dot Product](https://en.wikipedia.org/wiki/Dot_product) to learn more. The resulting distance increases the more similar two vectors are."
          ]
        }
      },
      "id": "FindNearest",
      "type": "object",
      "description": "Nearest Neighbors search config. The ordering provided by FindNearest supersedes the order_by stage. If multiple documents have the same vector distance, the returned document order is not guaranteed to be stable between queries."
    },
    "RunQueryRequest": {
      "properties": {
        "structuredQuery": {
          "$ref": "StructuredQuery",
          "description": "A structured query."
        },
        "requestOptions": {
          "$ref": "RequestOptions",
          "description": "Optional. The request options for this request."
        },
        "newTransaction": {
          "$ref": "TransactionOptions",
          "description": "Starts a new transaction and reads the documents. Defaults to a read-only transaction. The new transaction ID will be returned as the first response in the stream."
        },
        "transaction": {
          "description": "Run the query within an already active transaction. The value here is the opaque transaction ID to execute the query in.",
          "type": "string",
          "format": "byte"
        },
        "readTime": {
          "type": "string",
          "description": "Reads documents as they were at the given time. This must be a microsecond precision timestamp within the past one hour, or if Point-in-Time Recovery is enabled, can additionally be a whole minute timestamp within the past 7 days.",
          "format": "google-datetime"
        },
        "explainOptions": {
          "$ref": "ExplainOptions",
          "description": "Optional. Explain options for the query. If set, additional query statistics will be returned. If not, only query results will be returned."
        }
      },
      "type": "object",
      "id": "RunQueryRequest",
      "description": "The request for Firestore.RunQuery."
    },
    "Value": {
      "description": "A message that can hold any of the supported value types.",
      "type": "object",
      "id": "Value",
      "properties": {
        "geoPointValue": {
          "$ref": "LatLng",
          "description": "A geo point value representing a point on the surface of Earth."
        },
        "mapValue": {
          "description": "A map value.",
          "$ref": "MapValue"
        },
        "integerValue": {
          "description": "An integer value.",
          "type": "string",
          "format": "int64"
        },
        "stringValue": {
          "description": "A string value. In Standard edition databases: * The string, represented as UTF-8, must not exceed 1 MiB - 89 bytes. * Only the first 1,500 bytes of the UTF-8 representation are considered by queries. In Enterprise edition databases, there is no limit on the size of the value. However, it is still subject to document and index entry size limits.",
          "type": "string"
        },
        "bytesValue": {
          "format": "byte",
          "description": "A bytes value. In Standard edition databases: * The value must not exceed 1 MiB - 89 bytes. * Only the first 1,500 bytes are considered by queries. In Enterprise edition databases, there is no limit on the size of the value. However, it is still subject to document and index entry size limits.",
          "type": "string"
        },
        "variableReferenceValue": {
          "description": "Pointer to a variable defined elsewhere in a pipeline. Unlike `field_reference_value` which references a field within a document, this refers to a variable, defined in a separate namespace than the fields of a document.",
          "type": "string"
        },
        "booleanValue": {
          "type": "boolean",
          "description": "A boolean value."
        },
        "arrayValue": {
          "$ref": "ArrayValue",
          "description": "An array value. In Standard edition databases, an array value cannot directly contain another array value, though it can contain a map which contains another array. In Enterprise edition databases, an array value can contain another array value."
        },
        "functionValue": {
          "description": "A value that represents an unevaluated expression. **Requires:** * Not allowed to be used when writing documents.",
          "$ref": "Function"
        },
        "timestampValue": {
          "format": "google-datetime",
          "type": "string",
          "description": "A timestamp value. Precise only to microseconds. When stored, any additional precision is rounded down."
        },
        "fieldReferenceValue": {
          "description": "Value which references a field. This is considered relative (vs absolute) since it only refers to a field and not a field within a particular document. **Requires:** * Must follow field reference limitations. * Not allowed to be used when writing documents.",
          "type": "string"
        },
        "nullValue": {
          "enum": [
            "NULL_VALUE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Null value."
          ],
          "description": "A null value."
        },
        "doubleValue": {
          "description": "A double value.",
          "type": "number",
          "format": "double"
        },
        "referenceValue": {
          "description": "A reference to a document. For example: `projects/{project_id}/databases/{database_id}/documents/{document_path}`.",
          "type": "string"
        },
        "pipelineValue": {
          "$ref": "Pipeline",
          "description": "A value that represents an unevaluated pipeline. **Requires:** * Not allowed to be used when writing documents."
        }
      }
    },
    "GoogleFirestoreAdminV1CloneDatabaseMetadata": {
      "properties": {
        "database": {
          "type": "string",
          "description": "The name of the database being cloned to."
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the clone finished, unset for ongoing clones."
        },
        "startTime": {
          "format": "google-datetime",
          "description": "The time the clone was started.",
          "type": "string"
        },
        "pitrSnapshot": {
          "description": "The snapshot from which this database was cloned.",
          "$ref": "GoogleFirestoreAdminV1PitrSnapshot"
        },
        "progressPercentage": {
          "description": "How far along the clone is as an estimated percentage of remaining time.",
          "$ref": "GoogleFirestoreAdminV1Progress"
        },
        "operationState": {
          "type": "string",
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ],
          "description": "The operation state of the clone.",
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ]
        }
      },
      "id": "GoogleFirestoreAdminV1CloneDatabaseMetadata",
      "description": "Metadata for the long-running operation from the CloneDatabase request.",
      "type": "object"
    },
    "Location": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "labels": {
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          }
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        }
      },
      "description": "A resource that represents a Google Cloud location.",
      "type": "object",
      "id": "Location"
    },
    "Write": {
      "id": "Write",
      "type": "object",
      "properties": {
        "updateTransforms": {
          "items": {
            "$ref": "FieldTransform"
          },
          "description": "The transforms to perform after update. This field can be set only when the operation is `update`. If present, this write is equivalent to performing `update` and `transform` to the same document atomically and in order.",
          "type": "array"
        },
        "currentDocument": {
          "$ref": "Precondition",
          "description": "An optional precondition on the document. The write will fail if this is set and not met by the target document."
        },
        "delete": {
          "type": "string",
          "description": "A document name to delete. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`."
        },
        "update": {
          "$ref": "Document",
          "description": "A document to write."
        },
        "updateMask": {
          "description": "The fields to update in this write. This field can be set only when the operation is `update`. If the mask is not set for an `update` and the document exists, any existing data will be overwritten. If the mask is set and the document on the server has fields not covered by the mask, they are left unchanged. Fields referenced in the mask, but not present in the input document, are deleted from the document on the server. The field paths in this mask must not contain a reserved field name.",
          "$ref": "DocumentMask"
        },
        "transform": {
          "description": "Applies a transformation to a document.",
          "$ref": "DocumentTransform"
        }
      },
      "description": "A write on a document."
    },
    "Order": {
      "type": "object",
      "id": "Order",
      "description": "An order on a field.",
      "properties": {
        "direction": {
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "ASCENDING",
            "DESCENDING"
          ],
          "type": "string",
          "description": "The direction to order by. Defaults to `ASCENDING`.",
          "enumDescriptions": [
            "Unspecified.",
            "Ascending.",
            "Descending."
          ]
        },
        "field": {
          "description": "The field to order by.",
          "$ref": "FieldReference"
        }
      }
    },
    "GoogleFirestoreAdminV1RestoreDatabaseMetadata": {
      "description": "Metadata for the long-running operation from the RestoreDatabase request.",
      "id": "GoogleFirestoreAdminV1RestoreDatabaseMetadata",
      "type": "object",
      "properties": {
        "progressPercentage": {
          "$ref": "GoogleFirestoreAdminV1Progress",
          "description": "How far along the restore is as an estimated percentage of remaining time."
        },
        "backup": {
          "type": "string",
          "description": "The name of the backup restoring from."
        },
        "database": {
          "description": "The name of the database being restored to.",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "The time the restore finished, unset for ongoing restores.",
          "type": "string"
        },
        "startTime": {
          "description": "The time the restore was started.",
          "type": "string",
          "format": "google-datetime"
        },
        "operationState": {
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ],
          "type": "string",
          "description": "The operation state of the restore."
        }
      }
    },
    "GoogleFirestoreAdminV1BulkDeleteDocumentsRequest": {
      "description": "The request for FirestoreAdmin.BulkDeleteDocuments. When both collection_ids and namespace_ids are set, only documents satisfying both conditions will be deleted. Requests with namespace_ids and collection_ids both empty will be rejected. Please use FirestoreAdmin.DeleteDatabase instead.",
      "type": "object",
      "id": "GoogleFirestoreAdminV1BulkDeleteDocumentsRequest",
      "properties": {
        "namespaceIds": {
          "type": "array",
          "description": "Optional. Namespaces to delete. An empty list means all namespaces. This is the recommended usage for databases that don't use namespaces. An empty string element represents the default namespace. This should be used if the database has data in non-default namespaces, but doesn't want to delete from them. Each namespace in this list must be unique.",
          "items": {
            "type": "string"
          }
        },
        "collectionIds": {
          "items": {
            "type": "string"
          },
          "description": "Optional. IDs of the collection groups to delete. Unspecified means all collection groups. Each collection group in this list must be unique.",
          "type": "array"
        }
      }
    },
    "PartitionQueryRequest": {
      "id": "PartitionQueryRequest",
      "description": "The request for Firestore.PartitionQuery.",
      "properties": {
        "pageSize": {
          "format": "int32",
          "description": "The maximum number of partitions to return in this call, subject to `partition_count`. For example, if `partition_count` = 10 and `page_size` = 8, the first call to PartitionQuery will return up to 8 partitions and a `next_page_token` if more results exist. A second call to PartitionQuery will return up to 2 partitions, to complete the total of 10 specified in `partition_count`.",
          "type": "integer"
        },
        "partitionCount": {
          "type": "string",
          "format": "int64",
          "description": "The desired maximum number of partition points. The partitions may be returned across multiple pages of results. The number must be positive. The actual number of partitions returned may be fewer. For example, this may be set to one fewer than the number of parallel queries to be run, or in running a data pipeline job, one fewer than the number of workers or compute instances available."
        },
        "readTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Reads documents as they were at the given time. This must be a microsecond precision timestamp within the past one hour, or if Point-in-Time Recovery is enabled, can additionally be a whole minute timestamp within the past 7 days."
        },
        "pageToken": {
          "type": "string",
          "description": "The `next_page_token` value returned from a previous call to PartitionQuery that may be used to get an additional set of results. There are no ordering guarantees between sets of results. Thus, using multiple sets of results will require merging the different result sets. For example, two subsequent calls using a page_token may return: * cursor B, cursor M, cursor Q * cursor A, cursor U, cursor W To obtain a complete result set ordered with respect to the results of the query supplied to PartitionQuery, the results sets should be merged: cursor A, cursor B, cursor M, cursor Q, cursor U, cursor W"
        },
        "requestOptions": {
          "$ref": "RequestOptions",
          "description": "Optional. The request options for the request."
        },
        "structuredQuery": {
          "description": "A structured query. Query must specify collection with all descendants and be ordered by name ascending. Other filters, order bys, limits, offsets, and start/end cursors are not supported.",
          "$ref": "StructuredQuery"
        }
      },
      "type": "object"
    },
    "CompositeFilter": {
      "type": "object",
      "properties": {
        "op": {
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "AND",
            "OR"
          ],
          "description": "The operator for combining multiple filters.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "Documents are required to satisfy all of the combined filters.",
            "Documents are required to satisfy at least one of the combined filters."
          ]
        },
        "filters": {
          "items": {
            "$ref": "Filter"
          },
          "description": "The list of filters to combine. Requires: * At least one filter is present.",
          "type": "array"
        }
      },
      "id": "CompositeFilter",
      "description": "A filter that merges multiple other filters using the given operator."
    },
    "GoogleFirestoreAdminV1SearchGeoSpec": {
      "description": "The specification for how to build a geo search index for a field.",
      "type": "object",
      "properties": {
        "geoJsonIndexingDisabled": {
          "type": "boolean",
          "description": "Optional. Disables geoJSON indexing for the field. By default, geoJSON points are indexed. Firestore GeoPoints are indexed regardless of the value of this field."
        }
      },
      "id": "GoogleFirestoreAdminV1SearchGeoSpec"
    },
    "Sum": {
      "properties": {
        "field": {
          "$ref": "FieldReference",
          "description": "The field to aggregate on."
        }
      },
      "description": "Sum of the values of the requested field. * Only numeric values will be aggregated. All non-numeric values including `NULL` are skipped. * If the aggregated values contain `NaN`, returns `NaN`. Infinity math follows IEEE-754 standards. * If the aggregated value set is empty, returns 0. * Returns a 64-bit integer if all aggregated numbers are integers and the sum result does not overflow. Otherwise, the result is returned as a double. Note that even if all the aggregated values are integers, the result is returned as a double if it cannot fit within a 64-bit signed integer. When this occurs, the returned value will lose precision. * When underflow occurs, floating-point aggregation is non-deterministic. This means that running the same query repeatedly without any changes to the underlying values could produce slightly different results each time. In those cases, values should be stored as integers over floating-point numbers.",
      "id": "Sum",
      "type": "object"
    },
    "Document": {
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time at which the document was created. This value increases monotonically when a document is deleted then recreated. It can also be compared to values from other documents and the `read_time` of a query.",
          "type": "string"
        },
        "fields": {
          "description": "The document's fields. The map keys represent field names. Field names matching the regular expression `__.*__` are reserved. Reserved field names are forbidden except in certain documented contexts. The field names, represented as UTF-8, must not exceed 1,500 bytes and cannot be empty. Field paths may be used in other contexts to refer to structured fields defined here. For `map_value`, the field path is represented by a dot-delimited (`.`) string of segments. Each segment is either a simple field name (defined below) or a quoted field name. For example, the structured field `\"foo\" : { map_value: { \"x&y\" : { string_value: \"hello\" }}}` would be represented by the field path `` foo.`x&y` ``. A simple field name contains only characters `a` to `z`, `A` to `Z`, `0` to `9`, or `_`, and must not start with `0` to `9`. For example, `foo_bar_17`. A quoted field name starts and ends with `` ` `` and may contain any character. Some characters, including `` ` ``, must be escaped using a `\\`. For example, `` `x&y` `` represents `x&y` and `` `bak\\`tik` `` represents `` bak`tik ``.",
          "additionalProperties": {
            "$ref": "Value"
          },
          "type": "object"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the document was last changed. This value is initially set to the `create_time` then increases monotonically with each change to the document. It can also be compared to values from other documents and the `read_time` of a query."
        },
        "name": {
          "type": "string",
          "description": "The resource name of the document, for example `projects/{project_id}/databases/{database_id}/documents/{document_path}`."
        }
      },
      "id": "Document",
      "type": "object",
      "description": "A Firestore document. Must not exceed 1 MiB - 4 bytes."
    },
    "BatchWriteResponse": {
      "id": "BatchWriteResponse",
      "type": "object",
      "properties": {
        "writeResults": {
          "items": {
            "$ref": "WriteResult"
          },
          "description": "The result of applying the writes. This i-th write result corresponds to the i-th write in the request.",
          "type": "array"
        },
        "status": {
          "type": "array",
          "items": {
            "$ref": "Status"
          },
          "description": "The status of applying the writes. This i-th write status corresponds to the i-th write in the request."
        }
      },
      "description": "The response from Firestore.BatchWrite."
    },
    "Function": {
      "properties": {
        "name": {
          "description": "Required. The name of the function to evaluate. **Requires:** * must be in snake case (lower case with underscore separator).",
          "type": "string"
        },
        "args": {
          "items": {
            "$ref": "Value"
          },
          "type": "array",
          "description": "Optional. Ordered list of arguments the given function expects."
        },
        "options": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Value"
          },
          "description": "Optional. Optional named arguments that certain functions may support."
        }
      },
      "description": "Represents an unevaluated scalar expression. For example, the expression `like(user_name, \"%alice%\")` is represented as: ``` name: \"like\" args { field_reference: \"user_name\" } args { string_value: \"%alice%\" } ```",
      "id": "Function",
      "type": "object"
    },
    "GoogleFirestoreAdminV1SourceEncryptionOptions": {
      "description": "The configuration options for using the same encryption method as the source.",
      "properties": {},
      "type": "object",
      "id": "GoogleFirestoreAdminV1SourceEncryptionOptions"
    },
    "Stage": {
      "description": "A single operation within a pipeline. A stage is made up of a unique name, and a list of arguments. The exact number of arguments & types is dependent on the stage type. To give an example, the stage `filter(state = \"MD\")` would be encoded as: ``` name: \"filter\" args { function_value { name: \"eq\" args { field_reference_value: \"state\" } args { string_value: \"MD\" } } } ``` See public documentation for the full list.",
      "properties": {
        "name": {
          "description": "Required. The name of the stage to evaluate. **Requires:** * must be in snake case (lower case with underscore separator).",
          "type": "string"
        },
        "args": {
          "description": "Optional. Ordered list of arguments the given stage expects.",
          "type": "array",
          "items": {
            "$ref": "Value"
          }
        },
        "options": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Value"
          },
          "description": "Optional. Optional named arguments that certain functions may support."
        }
      },
      "type": "object",
      "id": "Stage"
    },
    "ReadWrite": {
      "properties": {
        "retryTransaction": {
          "description": "An optional transaction to retry.",
          "type": "string",
          "format": "byte"
        },
        "concurrencyMode": {
          "description": "Optional. The concurrency control mode to use for this transaction. A database is able to use different concurrency modes for different transactions simultaneously. 3rd party auth requests are only allowed to create optimistic read-write transactions and must specify that here even if the database-level setting is already configured to optimistic.",
          "enumDescriptions": [
            "Start the transaction with the database-level default concurrency mode.",
            "Use optimistic concurrency control for the new transaction.",
            "Use pessimistic concurrency control for the new transaction."
          ],
          "type": "string",
          "enum": [
            "CONCURRENCY_MODE_UNSPECIFIED",
            "OPTIMISTIC",
            "PESSIMISTIC"
          ]
        }
      },
      "type": "object",
      "description": "Options for a transaction that can be used to read and write documents.",
      "id": "ReadWrite"
    },
    "GoogleFirestoreAdminV1SearchIndexOptions": {
      "properties": {
        "textLanguageOverrideFieldPath": {
          "description": "Optional. The field in the document that specifies which language to use for that specific document. For indexes with MONGODB_COMPATIBLE_API ApiScope: if unspecified, the language is taken from the \"language\" field if it exists or from `text_language` if it does not.",
          "type": "string"
        },
        "textLanguage": {
          "type": "string",
          "description": "Optional. The language to use for text search indexes. Used as the default language if not overridden at the document level by specifying the `text_language_override_field`. The language is specified as a BCP 47 language code. For indexes with MONGODB_COMPATIBLE_API ApiScope: If unspecified, the default language is English. For indexes with `ANY_API` ApiScope: If unspecified, the default behavior is autodetect."
        }
      },
      "id": "GoogleFirestoreAdminV1SearchIndexOptions",
      "type": "object",
      "description": "Options for search indexes at the definition level."
    },
    "GoogleFirestoreAdminV1WeeklyRecurrence": {
      "description": "Represents a recurring schedule that runs on a specified day of the week. The time zone is UTC.",
      "id": "GoogleFirestoreAdminV1WeeklyRecurrence",
      "properties": {
        "day": {
          "type": "string",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "description": "The day of week to run. DAY_OF_WEEK_UNSPECIFIED is not allowed."
        }
      },
      "type": "object"
    },
    "GoogleFirestoreAdminV1RestoreDatabaseRequest": {
      "properties": {
        "tags": {
          "type": "object",
          "description": "Optional. Immutable. Tags to be bound to the restored database. The tags should be provided in the format of `tagKeys/{tag_key_id} -> tagValues/{tag_value_id}`.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "databaseId": {
          "type": "string",
          "description": "Required. The ID to use for the database, which will become the final component of the database's resource name. This database ID must not be associated with an existing database. This value should be 4-63 characters. Valid characters are /a-z-/ with first character a letter and the last a letter or a number. Must not be UUID-like /[0-9a-f]{8}(-[0-9a-f]{4}){3}-[0-9a-f]{12}/. \"(default)\" database ID is also valid if the database is Standard edition."
        },
        "encryptionConfig": {
          "$ref": "GoogleFirestoreAdminV1EncryptionConfig",
          "description": "Optional. Encryption configuration for the restored database. If this field is not specified, the restored database will use the same encryption configuration as the backup, namely use_source_encryption."
        },
        "backup": {
          "type": "string",
          "description": "Required. Backup to restore from. Must be from the same project as the parent. The restored database will be created in the same location as the source backup. Format is: `projects/{project_id}/locations/{location}/backups/{backup}`"
        }
      },
      "description": "The request message for FirestoreAdmin.RestoreDatabase.",
      "id": "GoogleFirestoreAdminV1RestoreDatabaseRequest",
      "type": "object"
    },
    "Cursor": {
      "properties": {
        "values": {
          "description": "The values that represent a position, in the order they appear in the order by clause of a query. Can contain fewer values than specified in the order by clause.",
          "items": {
            "$ref": "Value"
          },
          "type": "array"
        },
        "before": {
          "description": "If the position is just before or just after the given values, relative to the sort order defined by the query.",
          "type": "boolean"
        }
      },
      "description": "A position in a query result set.",
      "type": "object",
      "id": "Cursor"
    },
    "DocumentTransform": {
      "type": "object",
      "id": "DocumentTransform",
      "properties": {
        "fieldTransforms": {
          "items": {
            "$ref": "FieldTransform"
          },
          "type": "array",
          "description": "The list of transformations to apply to the fields of the document, in order. This must not be empty."
        },
        "document": {
          "type": "string",
          "description": "The name of the document to transform."
        }
      },
      "description": "A transformation of a document."
    },
    "GoogleFirestoreAdminV1ExportDocumentsMetadata": {
      "id": "GoogleFirestoreAdminV1ExportDocumentsMetadata",
      "description": "Metadata for google.longrunning.Operation results from FirestoreAdmin.ExportDocuments.",
      "type": "object",
      "properties": {
        "progressDocuments": {
          "description": "The progress, in documents, of this operation.",
          "$ref": "GoogleFirestoreAdminV1Progress"
        },
        "progressBytes": {
          "description": "The progress, in bytes, of this operation.",
          "$ref": "GoogleFirestoreAdminV1Progress"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time this operation started."
        },
        "outputUriPrefix": {
          "description": "Where the documents are being exported to.",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "The time this operation completed. Will be unset if operation still in progress.",
          "format": "google-datetime"
        },
        "collectionIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Which collection IDs are being exported."
        },
        "snapshotTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The timestamp that corresponds to the version of the database that is being exported. If unspecified, there are no guarantees about the consistency of the documents being exported."
        },
        "operationState": {
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ],
          "description": "The state of the export operation.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ]
        },
        "namespaceIds": {
          "type": "array",
          "description": "Which namespace IDs are being exported.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {}
    },
    "DocumentsTarget": {
      "properties": {
        "documents": {
          "items": {
            "type": "string"
          },
          "description": "The names of the documents to retrieve. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`. The request will fail if any of the document is not a child resource of the given `database`. Duplicate names will be elided.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "DocumentsTarget",
      "description": "A target specified by a set of documents names."
    },
    "Precondition": {
      "type": "object",
      "id": "Precondition",
      "description": "A precondition on a document, used for conditional operations.",
      "properties": {
        "updateTime": {
          "description": "When set, the target document must exist and have been last updated at that time. Timestamp must be microsecond aligned.",
          "format": "google-datetime",
          "type": "string"
        },
        "exists": {
          "type": "boolean",
          "description": "When set to `true`, the target document must exist. When set to `false`, the target document must not exist."
        }
      }
    },
    "WriteRequest": {
      "description": "The request for Firestore.Write. The first request creates a stream, or resumes an existing one from a token. When creating a new stream, the server replies with a response containing only an ID and a token, to use in the next request. When resuming a stream, the server first streams any responses later than the given token, then a response containing only an up-to-date token, to use in the next request.",
      "type": "object",
      "id": "WriteRequest",
      "properties": {
        "streamId": {
          "type": "string",
          "description": "The ID of the write stream to resume. This may only be set in the first message. When left empty, a new write stream will be created."
        },
        "streamToken": {
          "description": "A stream token that was previously sent by the server. The client should set this field to the token from the most recent WriteResponse it has received. This acknowledges that the client has received responses up to this token. After sending this token, earlier tokens may not be used anymore. The server may close the stream if there are too many unacknowledged responses. Leave this field unset when creating a new stream. To resume a stream at a specific point, set this field and the `stream_id` field. Leave this field unset when creating a new stream.",
          "format": "byte",
          "type": "string"
        },
        "writes": {
          "items": {
            "$ref": "Write"
          },
          "type": "array",
          "description": "The writes to apply. Always executed atomically and in order. This must be empty on the first request. This may be empty on the last request. This must not be empty on all other requests."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels associated with this write request.",
          "type": "object"
        },
        "requestOptions": {
          "$ref": "RequestOptions",
          "description": "Optional. The request options for the request."
        }
      }
    },
    "GoogleFirestoreAdminV1EncryptionConfig": {
      "properties": {
        "customerManagedEncryption": {
          "description": "Use Customer Managed Encryption Keys (CMEK) for encryption.",
          "$ref": "GoogleFirestoreAdminV1CustomerManagedEncryptionOptions"
        },
        "googleDefaultEncryption": {
          "description": "Use Google default encryption.",
          "$ref": "GoogleFirestoreAdminV1GoogleDefaultEncryptionOptions"
        },
        "useSourceEncryption": {
          "$ref": "GoogleFirestoreAdminV1SourceEncryptionOptions",
          "description": "The database will use the same encryption configuration as the source."
        }
      },
      "id": "GoogleFirestoreAdminV1EncryptionConfig",
      "description": "Encryption configuration for a new database being created from another source. The source could be a Backup or a PitrSnapshot.",
      "type": "object"
    },
    "GoogleFirestoreAdminV1DeleteDatabaseMetadata": {
      "id": "GoogleFirestoreAdminV1DeleteDatabaseMetadata",
      "description": "Metadata related to the delete database operation.",
      "type": "object",
      "properties": {}
    },
    "GoogleFirestoreAdminV1IndexConfig": {
      "type": "object",
      "id": "GoogleFirestoreAdminV1IndexConfig",
      "description": "The index configuration for this field.",
      "properties": {
        "usesAncestorConfig": {
          "type": "boolean",
          "description": "Output only. When true, the `Field`'s index configuration is set from the configuration specified by the `ancestor_field`. When false, the `Field`'s index configuration is defined explicitly."
        },
        "ancestorField": {
          "description": "Output only. Specifies the resource name of the `Field` from which this field's index configuration is set (when `uses_ancestor_config` is true), or from which it *would* be set if this field had no index configuration (when `uses_ancestor_config` is false).",
          "type": "string"
        },
        "reverting": {
          "description": "Output only When true, the `Field`'s index configuration is in the process of being reverted. Once complete, the index config will transition to the same state as the field specified by `ancestor_field`, at which point `uses_ancestor_config` will be `true` and `reverting` will be `false`.",
          "type": "boolean"
        },
        "indexes": {
          "description": "The indexes supported for this field.",
          "type": "array",
          "items": {
            "$ref": "GoogleFirestoreAdminV1Index"
          }
        }
      }
    },
    "BloomFilter": {
      "type": "object",
      "properties": {
        "bits": {
          "$ref": "BitSequence",
          "description": "The bloom filter data."
        },
        "hashCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of hashes used by the algorithm."
        }
      },
      "description": "A bloom filter (https://en.wikipedia.org/wiki/Bloom_filter). The bloom filter hashes the entries with MD5 and treats the resulting 128-bit hash as 2 distinct 64-bit hash values, interpreted as unsigned integers using 2's complement encoding. These two hash values, named `h1` and `h2`, are then used to compute the `hash_count` hash values using the formula, starting at `i=0`: h(i) = h1 + (i * h2) These resulting values are then taken modulo the number of bits in the bloom filter to get the bits of the bloom filter to test for the given entry.",
      "id": "BloomFilter"
    },
    "GoogleFirestoreAdminV1ListDatabasesResponse": {
      "id": "GoogleFirestoreAdminV1ListDatabasesResponse",
      "type": "object",
      "properties": {
        "databases": {
          "items": {
            "$ref": "GoogleFirestoreAdminV1Database"
          },
          "description": "The databases in the project.",
          "type": "array"
        },
        "unreachable": {
          "description": "In the event that data about individual databases cannot be listed they will be recorded here. An example entry might be: projects/some_project/locations/some_location This can happen if the Cloud Region that the Database resides in is currently unavailable. In this case we can't fetch all the details about the database. You may be able to get a more detailed error message (or possibly fetch the resource) by sending a 'Get' request for the resource or a 'List' request for the specific location.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "The list of databases for a project."
    },
    "BatchGetDocumentsResponse": {
      "type": "object",
      "description": "The streamed response for Firestore.BatchGetDocuments.",
      "id": "BatchGetDocumentsResponse",
      "properties": {
        "found": {
          "description": "A document that was requested.",
          "$ref": "Document"
        },
        "missing": {
          "description": "A document name that was requested but does not exist. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`.",
          "type": "string"
        },
        "readTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the document was read. This may be monotically increasing, in this case the previous documents in the result stream are guaranteed not to have changed between their read_time and this one."
        },
        "transaction": {
          "description": "The transaction that was started as part of this request. Will only be set in the first response, and only if BatchGetDocumentsRequest.new_transaction was set in the request.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "GoogleFirestoreAdminV1DisableUserCredsRequest": {
      "id": "GoogleFirestoreAdminV1DisableUserCredsRequest",
      "type": "object",
      "properties": {},
      "description": "The request for FirestoreAdmin.DisableUserCreds."
    },
    "GoogleFirestoreAdminV1TtlConfig": {
      "description": "The TTL (time-to-live) configuration for documents that have this `Field` set. A timestamp stored in a TTL-enabled field will be used to determine the expiration time of the document. The expiration time is the sum of the timestamp value and the `expiration_offset`. For Enterprise edition databases, the timestamp value may alternatively be stored in an array value in the TTL-enabled field. An expiration time in the past indicates that the document is eligible for immediate expiration. Using any other data type or leaving the field absent will disable expiration for the individual document.",
      "type": "object",
      "id": "GoogleFirestoreAdminV1TtlConfig",
      "properties": {
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "The state is unspecified or unknown.",
            "The TTL is being applied. There is an active long-running operation to track the change. Newly written documents will have TTLs applied as requested. Requested TTLs on existing documents are still being processed. When TTLs on all existing documents have been processed, the state will move to 'ACTIVE'.",
            "The TTL is active for all documents.",
            "The TTL configuration could not be enabled for all existing documents. Newly written documents will continue to have their TTL applied. The LRO returned when last attempting to enable TTL for this `Field` has failed, and may have more details."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "NEEDS_REPAIR"
          ],
          "description": "Output only. The state of the TTL configuration."
        },
        "expirationOffset": {
          "type": "string",
          "description": "Optional. The offset, relative to the timestamp value from the TTL-enabled field, used to determine the document's expiration time. `expiration_offset.seconds` must be between 0 and 2,147,483,647 inclusive. Values more precise than seconds are rejected. If unset, defaults to 0, in which case the expiration time is the same as the timestamp value from the TTL-enabled field.",
          "format": "google-duration"
        }
      }
    },
    "BeginTransactionRequest": {
      "properties": {
        "requestOptions": {
          "$ref": "RequestOptions",
          "description": "Optional. The request options for this request."
        },
        "options": {
          "$ref": "TransactionOptions",
          "description": "The options for the transaction. Defaults to a read-write transaction."
        }
      },
      "type": "object",
      "id": "BeginTransactionRequest",
      "description": "The request for Firestore.BeginTransaction."
    },
    "GoogleFirestoreAdminV1ExportDocumentsRequest": {
      "type": "object",
      "id": "GoogleFirestoreAdminV1ExportDocumentsRequest",
      "properties": {
        "namespaceIds": {
          "description": "An empty list represents all namespaces. This is the preferred usage for databases that don't use namespaces. An empty string element represents the default namespace. This should be used if the database has data in non-default namespaces, but doesn't want to include them. Each namespace in this list must be unique.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "snapshotTime": {
          "description": "The timestamp that corresponds to the version of the database to be exported. The timestamp must be in the past, rounded to the minute and not older than earliestVersionTime. If specified, then the exported documents will represent a consistent view of the database at the provided time. Otherwise, there are no guarantees about the consistency of the exported documents.",
          "format": "google-datetime",
          "type": "string"
        },
        "collectionIds": {
          "description": "IDs of the collection groups to export. Unspecified means all collection groups. Each collection group in this list must be unique.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "outputUriPrefix": {
          "type": "string",
          "description": "The output URI. Currently only supports Google Cloud Storage URIs of the form: `gs://BUCKET_NAME[/NAMESPACE_PATH]`, where `BUCKET_NAME` is the name of the Google Cloud Storage bucket and `NAMESPACE_PATH` is an optional Google Cloud Storage namespace path. When choosing a name, be sure to consider Google Cloud Storage naming guidelines: https://cloud.google.com/storage/docs/naming. If the URI is a bucket (without a namespace path), a prefix will be generated based on the start time."
        }
      },
      "description": "The request for FirestoreAdmin.ExportDocuments."
    },
    "UnaryFilter": {
      "description": "A filter with a single operand.",
      "id": "UnaryFilter",
      "type": "object",
      "properties": {
        "op": {
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "The given `field` is equal to `NaN`.",
            "The given `field` is equal to `NULL`.",
            "The given `field` is not equal to `NaN`. Requires: * No other `NOT_EQUAL`, `NOT_IN`, `IS_NOT_NULL`, or `IS_NOT_NAN`. * That `field` comes first in the `order_by`.",
            "The given `field` is not equal to `NULL`. Requires: * A single `NOT_EQUAL`, `NOT_IN`, `IS_NOT_NULL`, or `IS_NOT_NAN`. * That `field` comes first in the `order_by`."
          ],
          "description": "The unary operator to apply.",
          "type": "string",
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "IS_NAN",
            "IS_NULL",
            "IS_NOT_NAN",
            "IS_NOT_NULL"
          ]
        },
        "field": {
          "$ref": "FieldReference",
          "description": "The field to which to apply the operator."
        }
      }
    },
    "GoogleFirestoreAdminV1IndexField": {
      "properties": {
        "fieldPath": {
          "description": "Can be __name__. For single field indexes, this must match the name of the field or may be omitted.",
          "type": "string"
        },
        "arrayConfig": {
          "type": "string",
          "description": "Indicates that this field supports operations on `array_value`s.",
          "enumDescriptions": [
            "The index does not support additional array queries.",
            "The index supports array containment queries."
          ],
          "enum": [
            "ARRAY_CONFIG_UNSPECIFIED",
            "CONTAINS"
          ]
        },
        "searchConfig": {
          "$ref": "GoogleFirestoreAdminV1SearchConfig",
          "description": "Indicates that this field supports search operations."
        },
        "order": {
          "enumDescriptions": [
            "The ordering is unspecified. Not a valid option.",
            "The field is ordered by ascending field value.",
            "The field is ordered by descending field value."
          ],
          "description": "Indicates that this field supports ordering by the specified order or comparing using =, !=, <, <=, >, >=.",
          "type": "string",
          "enum": [
            "ORDER_UNSPECIFIED",
            "ASCENDING",
            "DESCENDING"
          ]
        },
        "vectorConfig": {
          "description": "Indicates that this field supports nearest neighbor and distance operations on vector.",
          "$ref": "GoogleFirestoreAdminV1VectorConfig"
        }
      },
      "id": "GoogleFirestoreAdminV1IndexField",
      "description": "A field in an index. The field_path describes which field is indexed, the value_mode describes how the field value is indexed.",
      "type": "object"
    },
    "Projection": {
      "description": "The projection of document's fields to return.",
      "type": "object",
      "id": "Projection",
      "properties": {
        "fields": {
          "type": "array",
          "items": {
            "$ref": "FieldReference"
          },
          "description": "The fields to return. If empty, all fields are returned. To only return the name of the document, use `['__name__']`."
        }
      }
    },
    "QueryTarget": {
      "id": "QueryTarget",
      "properties": {
        "structuredQuery": {
          "description": "A structured query.",
          "$ref": "StructuredQuery"
        },
        "parent": {
          "type": "string",
          "description": "The parent resource name. In the format: `projects/{project_id}/databases/{database_id}/documents` or `projects/{project_id}/databases/{database_id}/documents/{document_path}`. For example: `projects/my-project/databases/my-database/documents` or `projects/my-project/databases/my-database/documents/chatrooms/my-chatroom`"
        }
      },
      "type": "object",
      "description": "A target specified by a query."
    },
    "GoogleFirestoreAdminV1SearchTextIndexSpec": {
      "description": "Specification of how the field should be indexed for search text indexes.",
      "id": "GoogleFirestoreAdminV1SearchTextIndexSpec",
      "type": "object",
      "properties": {
        "matchType": {
          "description": "Required. How to match the text field value.",
          "enumDescriptions": [
            "The match type is unspecified. Not a valid option.",
            "Match on any indexed field. This is the only way currently supported for MONGODB_COMPATIBLE_API."
          ],
          "type": "string",
          "enum": [
            "TEXT_MATCH_TYPE_UNSPECIFIED",
            "MATCH_GLOBALLY"
          ]
        },
        "indexType": {
          "enum": [
            "TEXT_INDEX_TYPE_UNSPECIFIED",
            "TOKENIZED"
          ],
          "type": "string",
          "description": "Required. How to index the text field value.",
          "enumDescriptions": [
            "The index type is unspecified. Not a valid option.",
            "Field values are tokenized. This is the only way currently supported for MONGODB_COMPATIBLE_API."
          ]
        }
      }
    },
    "GoogleFirestoreAdminV1Stats": {
      "properties": {
        "sizeBytes": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. Summation of the size of all documents and index entries in the backup, measured in bytes."
        },
        "documentCount": {
          "description": "Output only. The total number of documents contained in the backup.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "indexCount": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The total number of index entries contained in the backup."
        }
      },
      "description": "Backup specific statistics.",
      "type": "object",
      "id": "GoogleFirestoreAdminV1Stats"
    },
    "TargetChange": {
      "id": "TargetChange",
      "type": "object",
      "properties": {
        "cause": {
          "$ref": "Status",
          "description": "The error that resulted in this change, if applicable."
        },
        "resumeToken": {
          "description": "A token that can be used to resume the stream for the given `target_ids`, or all targets if `target_ids` is empty. Not set on every target change.",
          "format": "byte",
          "type": "string"
        },
        "readTime": {
          "description": "The consistent `read_time` for the given `target_ids` (omitted when the target_ids are not at a consistent snapshot). The stream is guaranteed to send a `read_time` with `target_ids` empty whenever the entire stream reaches a new consistent snapshot. ADD, CURRENT, and RESET messages are guaranteed to (eventually) result in a new consistent snapshot (while NO_CHANGE and REMOVE messages are not). For a given stream, `read_time` is guaranteed to be monotonically increasing.",
          "format": "google-datetime",
          "type": "string"
        },
        "targetIds": {
          "description": "The target IDs of targets that have changed. If empty, the change applies to all targets. The order of the target IDs is not defined.",
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "type": "array"
        },
        "targetChangeType": {
          "type": "string",
          "enumDescriptions": [
            "No change has occurred. Used only to send an updated `resume_token`.",
            "The targets have been added.",
            "The targets have been removed.",
            "The targets reflect all changes committed before the targets were added to the stream. This will be sent after or with a `read_time` that is greater than or equal to the time at which the targets were added. Listeners can wait for this change if read-after-write semantics are desired.",
            "The targets have been reset, and a new initial state for the targets will be returned in subsequent changes. After the initial state is complete, `CURRENT` will be returned even if the target was previously indicated to be `CURRENT`."
          ],
          "description": "The type of change that occurred.",
          "enum": [
            "NO_CHANGE",
            "ADD",
            "REMOVE",
            "CURRENT",
            "RESET"
          ]
        }
      },
      "description": "Targets being watched have changed."
    },
    "GoogleFirestoreAdminV1ListBackupsResponse": {
      "id": "GoogleFirestoreAdminV1ListBackupsResponse",
      "description": "The response for FirestoreAdmin.ListBackups.",
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "List of locations that existing backups were not able to be fetched from. Instead of failing the entire requests when a single location is unreachable, this response returns a partial result set and list of locations unable to be reached here. The request can be retried against a single location to get a concrete error.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "backups": {
          "description": "List of all backups for the project.",
          "type": "array",
          "items": {
            "$ref": "GoogleFirestoreAdminV1Backup"
          }
        }
      }
    },
    "PlanSummary": {
      "id": "PlanSummary",
      "properties": {
        "indexesUsed": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object.",
              "type": "any"
            },
            "type": "object"
          },
          "description": "The indexes selected for the query. For example: [ {\"query_scope\": \"Collection\", \"properties\": \"(foo ASC, __name__ ASC)\"}, {\"query_scope\": \"Collection\", \"properties\": \"(bar ASC, __name__ ASC)\"} ]"
        }
      },
      "type": "object",
      "description": "Planning phase information for the query."
    },
    "GoogleFirestoreAdminV1GoogleDefaultEncryptionOptions": {
      "properties": {},
      "id": "GoogleFirestoreAdminV1GoogleDefaultEncryptionOptions",
      "description": "The configuration options for using Google default encryption.",
      "type": "object"
    },
    "GoogleFirestoreAdminV1DailyRecurrence": {
      "description": "Represents a recurring schedule that runs every day. The time zone is UTC.",
      "id": "GoogleFirestoreAdminV1DailyRecurrence",
      "properties": {},
      "type": "object"
    },
    "GoogleFirestoreAdminV1CloneDatabaseRequest": {
      "id": "GoogleFirestoreAdminV1CloneDatabaseRequest",
      "description": "The request message for FirestoreAdmin.CloneDatabase.",
      "type": "object",
      "properties": {
        "databaseId": {
          "description": "Required. The ID to use for the database, which will become the final component of the database's resource name. This database ID must not be associated with an existing database. This value should be 4-63 characters. Valid characters are /a-z-/ with first character a letter and the last a letter or a number. Must not be UUID-like /[0-9a-f]{8}(-[0-9a-f]{4}){3}-[0-9a-f]{12}/. \"(default)\" database ID is also valid if the database is Standard edition.",
          "type": "string"
        },
        "encryptionConfig": {
          "description": "Optional. Encryption configuration for the cloned database. If this field is not specified, the cloned database will use the same encryption configuration as the source database, namely use_source_encryption.",
          "$ref": "GoogleFirestoreAdminV1EncryptionConfig"
        },
        "pitrSnapshot": {
          "description": "Required. Specification of the PITR data to clone from. The source database must exist. The cloned database will be created in the same location as the source database.",
          "$ref": "GoogleFirestoreAdminV1PitrSnapshot"
        },
        "tags": {
          "description": "Optional. Immutable. Tags to be bound to the cloned database. The tags should be provided in the format of `tagKeys/{tag_key_id} -> tagValues/{tag_value_id}`.",
[...]
