{
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/datastore": {
          "description": "View and manage your Google Cloud Datastore data"
        }
      }
    }
  },
  "id": "firestore:v1beta1",
  "mtlsRootUrl": "https://firestore.mtls.googleapis.com/",
  "version": "v1beta1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "rootUrl": "https://firestore.googleapis.com/",
  "discoveryVersion": "v1",
  "servicePath": "",
  "revision": "20260826",
  "parameters": {
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    }
  },
  "schemas": {
    "DocumentRemove": {
      "id": "DocumentRemove",
      "description": "A Document has been removed from the view of the targets. Sent if the document is no longer relevant to a target and is out of view. Can be sent instead of a DocumentDelete or a DocumentChange if the server can not send the new value of the document. Multiple DocumentRemove messages may be returned for the same logical write or delete, if multiple targets are affected.",
      "properties": {
        "document": {
          "type": "string",
          "description": "The resource name of the Document that has gone out of view."
        },
        "readTime": {
          "description": "The read timestamp at which the remove was observed. Greater or equal to the `commit_time` of the change/delete/remove.",
          "type": "string",
          "format": "google-datetime"
        },
        "removedTargetIds": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "A set of target IDs for targets that previously matched this document."
        }
      },
      "type": "object"
    },
    "GoogleFirestoreAdminV1beta1LocationMetadata": {
      "description": "The metadata message for google.cloud.location.Location.metadata.",
      "type": "object",
      "id": "GoogleFirestoreAdminV1beta1LocationMetadata",
      "properties": {}
    },
    "Sum": {
      "id": "Sum",
      "type": "object",
      "description": "Sum of the values of the requested field. * Only numeric values will be aggregated. All non-numeric values including `NULL` are skipped. * If the aggregated values contain `NaN`, returns `NaN`. Infinity math follows IEEE-754 standards. * If the aggregated value set is empty, returns 0. * Returns a 64-bit integer if all aggregated numbers are integers and the sum result does not overflow. Otherwise, the result is returned as a double. Note that even if all the aggregated values are integers, the result is returned as a double if it cannot fit within a 64-bit signed integer. When this occurs, the returned value will lose precision. * When underflow occurs, floating-point aggregation is non-deterministic. This means that running the same query repeatedly without any changes to the underlying values could produce slightly different results each time. In those cases, values should be stored as integers over floating-point numbers.",
      "properties": {
        "field": {
          "$ref": "FieldReference",
          "description": "The field to aggregate on."
        }
      }
    },
    "RunQueryRequest": {
      "id": "RunQueryRequest",
      "description": "The request for Firestore.RunQuery.",
      "properties": {
        "transaction": {
          "description": "Run the query within an already active transaction. The value here is the opaque transaction ID to execute the query in.",
          "type": "string",
          "format": "byte"
        },
        "readTime": {
          "format": "google-datetime",
          "description": "Reads documents as they were at the given time. This must be a microsecond precision timestamp within the past one hour, or if Point-in-Time Recovery is enabled, can additionally be a whole minute timestamp within the past 7 days.",
          "type": "string"
        },
        "explainOptions": {
          "$ref": "ExplainOptions",
          "description": "Optional. Explain options for the query. If set, additional query statistics will be returned. If not, only query results will be returned."
        },
        "newTransaction": {
          "description": "Starts a new transaction and reads the documents. Defaults to a read-only transaction. The new transaction ID will be returned as the first response in the stream.",
          "$ref": "TransactionOptions"
        },
        "requestOptions": {
          "description": "Optional. The request options for this request.",
          "$ref": "RequestOptions"
        },
        "structuredQuery": {
          "$ref": "StructuredQuery",
          "description": "A structured query."
        }
      },
      "type": "object"
    },
    "ReadOnly": {
      "id": "ReadOnly",
      "type": "object",
      "properties": {
        "readTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Reads documents at the given time. This must be a microsecond precision timestamp within the past one hour, or if Point-in-Time Recovery is enabled, can additionally be a whole minute timestamp within the past 7 days."
        }
      },
      "description": "Options for a transaction that can only be used to read documents."
    },
    "WriteResponse": {
      "id": "WriteResponse",
      "description": "The response for Firestore.Write.",
      "properties": {
        "streamToken": {
          "type": "string",
          "format": "byte",
          "description": "A token that represents the position of this response in the stream. This can be used by a client to resume the stream at this point. This field is always set."
        },
        "writeResults": {
          "description": "The result of applying the writes. This i-th write result corresponds to the i-th write in the request.",
          "items": {
            "$ref": "WriteResult"
          },
          "type": "array"
        },
        "streamId": {
          "type": "string",
          "description": "The ID of the stream. Only set on the first message, when a new stream was created."
        },
        "commitTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the commit occurred. Any read with an equal or greater `read_time` is guaranteed to see the effects of the write."
        }
      },
      "type": "object"
    },
    "UnaryFilter": {
      "properties": {
        "field": {
          "$ref": "FieldReference",
          "description": "The field to which to apply the operator."
        },
        "op": {
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "IS_NAN",
            "IS_NULL",
            "IS_NOT_NAN",
            "IS_NOT_NULL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "The given `field` is equal to `NaN`.",
            "The given `field` is equal to `NULL`.",
            "The given `field` is not equal to `NaN`. Requires: * No other `NOT_EQUAL`, `NOT_IN`, `IS_NOT_NULL`, or `IS_NOT_NAN`. * That `field` comes first in the `order_by`.",
            "The given `field` is not equal to `NULL`. Requires: * A single `NOT_EQUAL`, `NOT_IN`, `IS_NOT_NULL`, or `IS_NOT_NAN`. * That `field` comes first in the `order_by`."
          ],
          "description": "The unary operator to apply."
        }
      },
      "description": "A filter with a single operand.",
      "id": "UnaryFilter",
      "type": "object"
    },
    "BeginTransactionRequest": {
      "type": "object",
      "properties": {
        "options": {
          "description": "The options for the transaction. Defaults to a read-write transaction.",
          "$ref": "TransactionOptions"
        },
        "requestOptions": {
          "description": "Optional. The request options for this request.",
          "$ref": "RequestOptions"
        }
      },
      "id": "BeginTransactionRequest",
      "description": "The request for Firestore.BeginTransaction."
    },
    "MapValue": {
      "properties": {
        "fields": {
          "description": "The map's fields. The map keys represent field names. Field names matching the regular expression `__.*__` are reserved. Reserved field names are forbidden except in certain documented contexts. The map keys, represented as UTF-8, must not exceed 1,500 bytes and cannot be empty.",
          "additionalProperties": {
            "$ref": "Value"
          },
          "type": "object"
        }
      },
      "type": "object",
      "description": "A map value.",
      "id": "MapValue"
    },
    "BatchWriteResponse": {
      "id": "BatchWriteResponse",
      "description": "The response from Firestore.BatchWrite.",
      "type": "object",
      "properties": {
        "writeResults": {
          "items": {
            "$ref": "WriteResult"
          },
          "type": "array",
          "description": "The result of applying the writes. This i-th write result corresponds to the i-th write in the request."
        },
        "status": {
          "items": {
            "$ref": "Status"
          },
          "description": "The status of applying the writes. This i-th write status corresponds to the i-th write in the request.",
          "type": "array"
        }
      }
    },
    "Avg": {
      "id": "Avg",
      "description": "Average of the values of the requested field. * Only numeric values will be aggregated. All non-numeric values including `NULL` are skipped. * If the aggregated values contain `NaN`, returns `NaN`. Infinity math follows IEEE-754 standards. * If the aggregated value set is empty, returns `NULL`. * Always returns the result as a double.",
      "properties": {
        "field": {
          "$ref": "FieldReference",
          "description": "The field to aggregate on."
        }
      },
      "type": "object"
    },
    "GoogleFirestoreAdminV1beta1ImportDocumentsMetadata": {
      "properties": {
        "progressBytes": {
          "$ref": "GoogleFirestoreAdminV1beta1Progress",
          "description": "An estimate of the number of bytes processed."
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the operation ended, either successfully or otherwise. Unset if the operation is still active."
        },
        "collectionIds": {
          "description": "Which collection ids are being imported.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "inputUriPrefix": {
          "type": "string",
          "description": "The location of the documents being imported."
        },
        "progressDocuments": {
          "description": "An estimate of the number of documents processed.",
          "$ref": "GoogleFirestoreAdminV1beta1Progress"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time that work began on the operation."
        },
        "operationState": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ],
          "description": "The state of the import operation."
        }
      },
      "id": "GoogleFirestoreAdminV1beta1ImportDocumentsMetadata",
      "description": "Metadata for ImportDocuments operations.",
      "type": "object"
    },
    "ExplainStats": {
      "properties": {
        "data": {
          "description": "The format depends on the `output_format` options in the request. Currently there are two supported options: `TEXT` and `JSON`. Both supply a `google.protobuf.StringValue`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        }
      },
      "type": "object",
      "description": "Pipeline explain stats. Depending on the explain options in the original request, this can contain the optimized plan and / or execution stats.",
      "id": "ExplainStats"
    },
    "GoogleFirestoreAdminV1PitrSnapshot": {
      "id": "GoogleFirestoreAdminV1PitrSnapshot",
      "properties": {
        "databaseUid": {
          "readOnly": true,
          "type": "string",
          "format": "byte",
          "description": "Output only. Public UUID of the database the snapshot was associated with."
        },
        "snapshotTime": {
          "type": "string",
          "description": "Required. Snapshot time of the database.",
          "format": "google-datetime"
        },
        "database": {
          "type": "string",
          "description": "Required. The name of the database that this was a snapshot of. Format: `projects/{project}/databases/{database}`."
        }
      },
      "description": "A consistent snapshot of a database at a specific point in time. A PITR (Point-in-time recovery) snapshot with previous versions of a database's data is available for every minute up to the associated database's data retention period. If the PITR feature is enabled, the retention period is 7 days; otherwise, it is one hour.",
      "type": "object"
    },
    "Stage": {
      "properties": {
        "args": {
          "items": {
            "$ref": "Value"
          },
          "type": "array",
          "description": "Optional. Ordered list of arguments the given stage expects."
        },
        "options": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Value"
          },
          "description": "Optional. Optional named arguments that certain functions may support."
        },
        "name": {
          "description": "Required. The name of the stage to evaluate. **Requires:** * must be in snake case (lower case with underscore separator).",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A single operation within a pipeline. A stage is made up of a unique name, and a list of arguments. The exact number of arguments & types is dependent on the stage type. To give an example, the stage `filter(state = \"MD\")` would be encoded as: ``` name: \"filter\" args { function_value { name: \"eq\" args { field_reference_value: \"state\" } args { string_value: \"MD\" } } } ``` See public documentation for the full list.",
      "id": "Stage"
    },
    "GoogleLongrunningOperation": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "GoogleLongrunningOperation"
    },
    "RunQueryResponse": {
      "type": "object",
      "id": "RunQueryResponse",
      "properties": {
        "document": {
          "$ref": "Document",
          "description": "A query result, not set when reporting partial progress."
        },
        "done": {
          "description": "If present, Firestore has completely finished the request and no more documents will be returned.",
          "type": "boolean"
        },
        "transaction": {
          "format": "byte",
          "description": "The transaction that was started as part of this request. Can only be set in the first response, and only if RunQueryRequest.new_transaction was set in the request. If set, no other fields will be set in this response.",
          "type": "string"
        },
        "readTime": {
          "description": "The time at which the document was read. This may be monotonically increasing; in this case, the previous documents in the result stream are guaranteed not to have changed between their `read_time` and this one. If the query returns no results, a response with `read_time` and no `document` will be sent, and this represents the time at which the query was run.",
          "format": "google-datetime",
          "type": "string"
        },
        "skippedResults": {
          "type": "integer",
          "format": "int32",
          "description": "The number of results that have been skipped due to an offset between the last response and the current response."
        },
        "explainMetrics": {
          "$ref": "ExplainMetrics",
          "description": "Query explain metrics. This is only present when the RunQueryRequest.explain_options is provided, and it is sent only once with the last response in the stream."
        }
      },
      "description": "The response for Firestore.RunQuery."
    },
    "Count": {
      "description": "Count of documents that match the query. The `COUNT(*)` aggregation function operates on the entire document so it does not require a field reference.",
      "id": "Count",
      "properties": {
        "upTo": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Optional constraint on the maximum number of documents to count. This provides a way to set an upper bound on the number of documents to scan, limiting latency, and cost. Unspecified is interpreted as no bound. High-Level Example: ``` AGGREGATE COUNT_UP_TO(1000) OVER ( SELECT * FROM k ); ``` Requires: * Must be greater than zero when present."
        }
      },
      "type": "object"
    },
    "RollbackRequest": {
      "properties": {
        "requestOptions": {
          "$ref": "RequestOptions",
          "description": "Optional. The request options for this request."
        },
        "transaction": {
          "type": "string",
          "format": "byte",
          "description": "Required. The transaction to roll back."
        }
      },
      "type": "object",
      "id": "RollbackRequest",
      "description": "The request for Firestore.Rollback."
    },
    "PlanSummary": {
      "id": "PlanSummary",
      "description": "Planning phase information for the query.",
      "properties": {
        "indexesUsed": {
          "type": "array",
          "description": "The indexes selected for the query. For example: [ {\"query_scope\": \"Collection\", \"properties\": \"(foo ASC, __name__ ASC)\"}, {\"query_scope\": \"Collection\", \"properties\": \"(bar ASC, __name__ ASC)\"} ]",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object.",
              "type": "any"
            }
          }
        }
      },
      "type": "object"
    },
    "Aggregation": {
      "properties": {
        "count": {
          "description": "Count aggregator.",
          "$ref": "Count"
        },
        "avg": {
          "description": "Average aggregator.",
          "$ref": "Avg"
        },
        "alias": {
          "description": "Optional. Optional name of the field to store the result of the aggregation into. If not provided, Firestore will pick a default name following the format `field_`. For example: ``` AGGREGATE COUNT_UP_TO(1) AS count_up_to_1, COUNT_UP_TO(2), COUNT_UP_TO(3) AS count_up_to_3, COUNT(*) OVER ( ... ); ``` becomes: ``` AGGREGATE COUNT_UP_TO(1) AS count_up_to_1, COUNT_UP_TO(2) AS field_1, COUNT_UP_TO(3) AS count_up_to_3, COUNT(*) AS field_2 OVER ( ... ); ``` Requires: * Must be unique across all aggregation aliases. * Conform to document field name limitations.",
          "type": "string"
        },
        "sum": {
          "$ref": "Sum",
          "description": "Sum aggregator."
        }
      },
      "id": "Aggregation",
      "type": "object",
      "description": "Defines an aggregation that produces a single result."
    },
    "GoogleFirestoreAdminV1beta1ExportDocumentsMetadata": {
      "description": "Metadata for ExportDocuments operations.",
      "type": "object",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time that work began on the operation."
        },
        "outputUriPrefix": {
          "description": "Where the entities are being exported to.",
          "type": "string"
        },
        "endTime": {
          "description": "The time the operation ended, either successfully or otherwise. Unset if the operation is still active.",
          "format": "google-datetime",
          "type": "string"
        },
        "progressBytes": {
          "$ref": "GoogleFirestoreAdminV1beta1Progress",
          "description": "An estimate of the number of bytes processed."
        },
        "operationState": {
          "description": "The state of the export operation.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ]
        },
        "collectionIds": {
          "description": "Which collection ids are being exported.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "progressDocuments": {
          "description": "An estimate of the number of documents processed.",
          "$ref": "GoogleFirestoreAdminV1beta1Progress"
        }
      },
      "id": "GoogleFirestoreAdminV1beta1ExportDocumentsMetadata"
    },
    "ListDocumentsResponse": {
      "id": "ListDocumentsResponse",
      "description": "The response for Firestore.ListDocuments.",
      "properties": {
        "documents": {
          "items": {
            "$ref": "Document"
          },
          "description": "The Documents found.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of documents. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object"
    },
    "Cursor": {
      "properties": {
        "before": {
          "type": "boolean",
          "description": "If the position is just before or just after the given values, relative to the sort order defined by the query."
        },
        "values": {
          "items": {
            "$ref": "Value"
          },
          "description": "The values that represent a position, in the order they appear in the order by clause of a query. Can contain fewer values than specified in the order by clause.",
          "type": "array"
        }
      },
      "id": "Cursor",
      "type": "object",
      "description": "A position in a query result set."
    },
    "BloomFilter": {
      "description": "A bloom filter (https://en.wikipedia.org/wiki/Bloom_filter). The bloom filter hashes the entries with MD5 and treats the resulting 128-bit hash as 2 distinct 64-bit hash values, interpreted as unsigned integers using 2's complement encoding. These two hash values, named `h1` and `h2`, are then used to compute the `hash_count` hash values using the formula, starting at `i=0`: h(i) = h1 + (i * h2) These resulting values are then taken modulo the number of bits in the bloom filter to get the bits of the bloom filter to test for the given entry.",
      "type": "object",
      "id": "BloomFilter",
      "properties": {
        "bits": {
          "description": "The bloom filter data.",
          "$ref": "BitSequence"
        },
        "hashCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of hashes used by the algorithm."
        }
      }
    },
    "GoogleFirestoreAdminV1beta1Index": {
      "description": "An index definition.",
      "id": "GoogleFirestoreAdminV1beta1Index",
      "type": "object",
      "properties": {
        "collectionId": {
          "description": "The collection ID to which this index applies. Required.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "ERROR"
          ],
          "type": "string",
          "description": "The state of the index. Output only.",
          "enumDescriptions": [
            "The state is unspecified.",
            "The index is being created. There is an active long-running operation for the index. The index is updated when writing a document. Some index data may exist.",
            "The index is ready to be used. The index is updated when writing a document. The index is fully populated from all stored documents it applies to.",
            "The index was being created, but something went wrong. There is no active long-running operation for the index, and the most recently finished long-running operation failed. The index is not updated when writing a document. Some index data may exist."
          ]
        },
        "name": {
          "type": "string",
          "description": "The resource name of the index. Output only."
        },
        "fields": {
          "type": "array",
          "items": {
            "$ref": "GoogleFirestoreAdminV1beta1IndexField"
          },
          "description": "The fields to index."
        }
      }
    },
    "FieldFilter": {
      "description": "A filter on a specific field.",
      "type": "object",
      "id": "FieldFilter",
      "properties": {
        "op": {
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "LESS_THAN",
            "LESS_THAN_OR_EQUAL",
            "GREATER_THAN",
            "GREATER_THAN_OR_EQUAL",
            "EQUAL",
            "NOT_EQUAL",
            "ARRAY_CONTAINS",
            "IN",
            "ARRAY_CONTAINS_ANY",
            "NOT_IN"
          ],
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "The given `field` is less than the given `value`. Requires: * That `field` come first in `order_by`.",
            "The given `field` is less than or equal to the given `value`. Requires: * That `field` come first in `order_by`.",
            "The given `field` is greater than the given `value`. Requires: * That `field` come first in `order_by`.",
            "The given `field` is greater than or equal to the given `value`. Requires: * That `field` come first in `order_by`.",
            "The given `field` is equal to the given `value`.",
            "The given `field` is not equal to the given `value`. Requires: * No other `NOT_EQUAL`, `NOT_IN`, `IS_NOT_NULL`, or `IS_NOT_NAN`. * That `field` comes first in the `order_by`.",
            "The given `field` is an array that contains the given `value`.",
            "The given `field` is equal to at least one value in the given array. Requires: * That `value` is a non-empty `ArrayValue`, subject to disjunction limits. * No `NOT_IN` filters in the same query.",
            "The given `field` is an array that contains any of the values in the given array. Requires: * That `value` is a non-empty `ArrayValue`, subject to disjunction limits. * No other `ARRAY_CONTAINS_ANY` filters within the same disjunction. * No `NOT_IN` filters in the same query.",
            "The value of the `field` is not in the given array. Requires: * That `value` is a non-empty `ArrayValue` with at most 10 values. * No other `OR`, `IN`, `ARRAY_CONTAINS_ANY`, `NOT_IN`, `NOT_EQUAL`, `IS_NOT_NULL`, or `IS_NOT_NAN`. * That `field` comes first in the `order_by`."
          ],
          "description": "The operator to filter by.",
          "type": "string"
        },
        "field": {
          "description": "The field to filter by.",
          "$ref": "FieldReference"
        },
        "value": {
          "description": "The value to compare to.",
          "$ref": "Value"
        }
      }
    },
    "GoogleFirestoreAdminV1RestoreDatabaseMetadata": {
      "properties": {
        "database": {
          "type": "string",
          "description": "The name of the database being restored to."
        },
        "startTime": {
          "type": "string",
          "description": "The time the restore was started.",
          "format": "google-datetime"
        },
        "operationState": {
          "type": "string",
          "description": "The operation state of the restore.",
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ]
        },
        "backup": {
          "description": "The name of the backup restoring from.",
          "type": "string"
        },
        "progressPercentage": {
          "description": "How far along the restore is as an estimated percentage of remaining time.",
          "$ref": "GoogleFirestoreAdminV1Progress"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "The time the restore finished, unset for ongoing restores.",
          "type": "string"
        }
      },
      "description": "Metadata for the long-running operation from the RestoreDatabase request.",
      "type": "object",
      "id": "GoogleFirestoreAdminV1RestoreDatabaseMetadata"
    },
    "DocumentDelete": {
      "id": "DocumentDelete",
      "type": "object",
      "description": "A Document has been deleted. May be the result of multiple writes, including updates, the last of which deleted the Document. Multiple DocumentDelete messages may be returned for the same logical delete, if multiple targets are affected.",
      "properties": {
        "removedTargetIds": {
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "description": "A set of target IDs for targets that previously matched this entity."
        },
        "document": {
          "type": "string",
          "description": "The resource name of the Document that was deleted."
        },
        "readTime": {
          "format": "google-datetime",
          "description": "The read timestamp at which the delete was observed. Greater or equal to the `commit_time` of the delete.",
          "type": "string"
        }
      }
    },
    "GoogleFirestoreAdminV1UpdateDatabaseMetadata": {
      "description": "Metadata related to the update database operation.",
      "id": "GoogleFirestoreAdminV1UpdateDatabaseMetadata",
      "type": "object",
      "properties": {
        "endTime": {
          "type": "string",
          "description": "The time this operation completed. Will be unset if operation still in progress.",
          "format": "google-datetime"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "The time this operation started.",
          "type": "string"
        },
        "state": {
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ],
          "type": "string",
          "description": "The state of the operation."
        }
      }
    },
    "QueryTarget": {
      "properties": {
        "structuredQuery": {
          "$ref": "StructuredQuery",
          "description": "A structured query."
        },
        "parent": {
          "description": "The parent resource name. In the format: `projects/{project_id}/databases/{database_id}/documents` or `projects/{project_id}/databases/{database_id}/documents/{document_path}`. For example: `projects/my-project/databases/my-database/documents` or `projects/my-project/databases/my-database/documents/chatrooms/my-chatroom`",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A target specified by a query.",
      "id": "QueryTarget"
    },
    "Precondition": {
      "id": "Precondition",
      "properties": {
        "exists": {
          "type": "boolean",
          "description": "When set to `true`, the target document must exist. When set to `false`, the target document must not exist."
        },
        "updateTime": {
          "description": "When set, the target document must exist and have been last updated at that time. Timestamp must be microsecond aligned.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "A precondition on a document, used for conditional operations."
    },
    "DocumentsTarget": {
      "type": "object",
      "properties": {
        "documents": {
          "description": "The names of the documents to retrieve. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`. The request will fail if any of the document is not a child resource of the given `database`. Duplicate names will be elided.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "A target specified by a set of documents names.",
      "id": "DocumentsTarget"
    },
    "BitSequence": {
      "type": "object",
      "id": "BitSequence",
      "properties": {
        "bitmap": {
          "format": "byte",
          "type": "string",
          "description": "The bytes that encode the bit sequence. May have a length of zero."
        },
        "padding": {
          "type": "integer",
          "description": "The number of bits of the last byte in `bitmap` to ignore as \"padding\". If the length of `bitmap` is zero, then this value must be `0`. Otherwise, this value must be between 0 and 7, inclusive.",
          "format": "int32"
        }
      },
      "description": "A sequence of bits, encoded in a byte array. Each byte in the `bitmap` byte array stores 8 bits of the sequence. The only exception is the last byte, which may store 8 _or fewer_ bits. The `padding` defines the number of bits of the last byte to be ignored as \"padding\". The values of these \"padding\" bits are unspecified and must be ignored. To retrieve the first bit, bit 0, calculate: `(bitmap[0] & 0x01) != 0`. To retrieve the second bit, bit 1, calculate: `(bitmap[0] & 0x02) != 0`. To retrieve the third bit, bit 2, calculate: `(bitmap[0] & 0x04) != 0`. To retrieve the fourth bit, bit 3, calculate: `(bitmap[0] & 0x08) != 0`. To retrieve bit n, calculate: `(bitmap[n / 8] & (0x01 << (n % 8))) != 0`. The \"size\" of a `BitSequence` (the number of bits it contains) is calculated by this formula: `(bitmap.length * 8) - padding`."
    },
    "RunAggregationQueryResponse": {
      "description": "The response for Firestore.RunAggregationQuery.",
      "type": "object",
      "properties": {
        "result": {
          "$ref": "AggregationResult",
          "description": "A single aggregation result. Not present when reporting partial progress."
        },
        "transaction": {
          "format": "byte",
          "description": "The transaction that was started as part of this request. Only present on the first response when the request requested to start a new transaction.",
          "type": "string"
        },
        "explainMetrics": {
          "description": "Query explain metrics. This is only present when the RunAggregationQueryRequest.explain_options is provided, and it is sent only once with the last response in the stream.",
          "$ref": "ExplainMetrics"
        },
        "readTime": {
          "description": "The time at which the aggregate result was computed. This is always monotonically increasing; in this case, the previous AggregationResult in the result stream are guaranteed not to have changed between their `read_time` and this one. If the query returns no results, a response with `read_time` and no `result` will be sent, and this represents the time at which the query was run.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "RunAggregationQueryResponse"
    },
    "FieldTransform": {
      "description": "A transformation of a field of the document.",
      "type": "object",
      "properties": {
        "maximum": {
          "$ref": "Value",
          "description": "Sets the field to the maximum of its current value and the given value. This must be an integer or a double value. If the field is not an integer or double, or if the field does not yet exist, the transformation will set the field to the given value. If a maximum operation is applied where the field and the input value are of mixed types (that is - one is an integer and one is a double) the field takes on the type of the larger operand. If the operands are equivalent (e.g. 3 and 3.0), the field does not change. 0, 0.0, and -0.0 are all zero. The maximum of a zero stored value and zero input value is always the stored value. The maximum of any numeric value x and NaN is NaN."
        },
        "fieldPath": {
          "description": "The path of the field. See Document.fields for the field path syntax reference.",
          "type": "string"
        },
        "increment": {
          "$ref": "Value",
          "description": "Adds the given value to the field's current value. This must be an integer or a double value. If the field is not an integer or double, or if the field does not yet exist, the transformation will set the field to the given value. If either of the given value or the current field value are doubles, both values will be interpreted as doubles. Double arithmetic and representation of double values follow IEEE 754 semantics. If there is positive/negative integer overflow, the field is resolved to the largest magnitude positive/negative integer."
        },
        "appendMissingElements": {
          "$ref": "ArrayValue",
          "description": "Append the given elements in order if they are not already present in the current field value. If the field is not an array, or if the field does not yet exist, it is first set to the empty array. Equivalent numbers of different types (e.g. 3L and 3.0) are considered equal when checking if a value is missing. NaN is equal to NaN, and Null is equal to Null. If the input contains multiple equivalent values, only the first will be considered. The corresponding transform_result will be the null value."
        },
        "minimum": {
          "$ref": "Value",
          "description": "Sets the field to the minimum of its current value and the given value. This must be an integer or a double value. If the field is not an integer or double, or if the field does not yet exist, the transformation will set the field to the input value. If a minimum operation is applied where the field and the input value are of mixed types (that is - one is an integer and one is a double) the field takes on the type of the smaller operand. If the operands are equivalent (e.g. 3 and 3.0), the field does not change. 0, 0.0, and -0.0 are all zero. The minimum of a zero stored value and zero input value is always the stored value. The minimum of any numeric value x and NaN is NaN."
        },
        "removeAllFromArray": {
          "description": "Remove all of the given elements from the array in the field. If the field is not an array, or if the field does not yet exist, it is set to the empty array. Equivalent numbers of the different types (e.g. 3L and 3.0) are considered equal when deciding whether an element should be removed. NaN is equal to NaN, and Null is equal to Null. This will remove all equivalent values if there are duplicates. The corresponding transform_result will be the null value.",
          "$ref": "ArrayValue"
        },
        "setToServerValue": {
          "type": "string",
          "enum": [
            "SERVER_VALUE_UNSPECIFIED",
            "REQUEST_TIME"
          ],
          "description": "Sets the field to the given server value.",
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "The time at which the server processed the request, with millisecond precision. If used on multiple fields (same or different documents) in a transaction, all the fields will get the same server timestamp."
          ]
        }
      },
      "id": "FieldTransform"
    },
    "AggregationResult": {
      "description": "The result of a single bucket from a Firestore aggregation query. The keys of `aggregate_fields` are the same for all results in an aggregation query, unlike document queries which can have different fields present for each result.",
      "properties": {
        "aggregateFields": {
          "description": "The result of the aggregation functions, ex: `COUNT(*) AS total_docs`. The key is the alias assigned to the aggregation function on input and the size of this map equals the number of aggregation functions in the query.",
          "type": "object",
          "additionalProperties": {
            "$ref": "Value"
          }
        }
      },
      "type": "object",
      "id": "AggregationResult"
    },
    "ArrayValue": {
      "id": "ArrayValue",
      "type": "object",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "$ref": "Value"
          },
          "description": "Values in the array."
        }
      },
      "description": "An array value."
    },
    "Pipeline": {
      "type": "object",
      "properties": {
        "stages": {
          "description": "Required. Ordered list of stages to evaluate.",
          "items": {
            "$ref": "Stage"
          },
          "type": "array"
        }
      },
      "id": "Pipeline",
      "description": "A Firestore query represented as an ordered list of operations / stages."
    },
    "ListCollectionIdsResponse": {
      "id": "ListCollectionIdsResponse",
      "properties": {
        "collectionIds": {
          "description": "The collection ids.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A page token that may be used to continue the list."
        }
      },
      "type": "object",
      "description": "The response from Firestore.ListCollectionIds."
    },
    "FieldReference": {
      "id": "FieldReference",
      "type": "object",
      "description": "A reference to a field in a document, ex: `stats.operations`.",
      "properties": {
        "fieldPath": {
          "type": "string",
          "description": "A reference to a field in a document. Requires: * MUST be a dot-delimited (`.`) string of segments, where each segment conforms to document field name limitations."
        }
      }
    },
    "GoogleFirestoreAdminV1beta1ListIndexesResponse": {
      "properties": {
        "indexes": {
          "description": "The indexes.",
          "items": {
            "$ref": "GoogleFirestoreAdminV1beta1Index"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "description": "The response for FirestoreAdmin.ListIndexes.",
      "id": "GoogleFirestoreAdminV1beta1ListIndexesResponse",
      "type": "object"
    },
    "ExecutePipelineRequest": {
      "type": "object",
      "id": "ExecutePipelineRequest",
      "properties": {
        "readTime": {
          "type": "string",
          "description": "Execute the pipeline in a snapshot transaction at the given time. This must be a microsecond precision timestamp within the past one hour, or if Point-in-Time Recovery is enabled, can additionally be a whole minute timestamp within the past 7 days.",
          "format": "google-datetime"
        },
        "transaction": {
          "description": "Run the query within an already active transaction. The value here is the opaque transaction ID to execute the query in.",
          "format": "byte",
          "type": "string"
        },
        "newTransaction": {
          "description": "Execute the pipeline in a new transaction. The identifier of the newly created transaction will be returned in the first response on the stream. This defaults to a read-only transaction.",
          "$ref": "TransactionOptions"
        },
        "requestOptions": {
          "$ref": "RequestOptions",
          "description": "Optional. The request options for this request."
        },
        "structuredPipeline": {
          "description": "A pipelined operation.",
          "$ref": "StructuredPipeline"
        },
        "autoCommitTransaction": {
          "description": "Optional. Automatically commits the transaction after the pipeline has been executed. Only permitted in combination with `transaction` or `new_transaction`.",
          "type": "boolean"
        }
      },
      "description": "The request for Firestore.ExecutePipeline."
    },
    "Target": {
      "type": "object",
      "properties": {
        "targetId": {
          "format": "int32",
          "description": "The target ID that identifies the target on the stream. Must be a positive number and non-zero. If `target_id` is 0 (or unspecified), the server will assign an ID for this target and return that in a `TargetChange::ADD` event. Once a target with `target_id=0` is added, all subsequent targets must also have `target_id=0`. If an `AddTarget` request with `target_id != 0` is sent to the server after a target with `target_id=0` is added, the server will immediately send a response with a `TargetChange::Remove` event. Note that if the client sends multiple `AddTarget` requests without an ID, the order of IDs returned in `TargetChange.target_ids` are undefined. Therefore, clients should provide a target ID instead of relying on the server to assign one. If `target_id` is non-zero, there must not be an existing active target on this stream with the same ID.",
          "type": "integer"
        },
        "readTime": {
          "type": "string",
          "description": "Start listening after a specific `read_time`. The client must know the state of matching documents at this time.",
          "format": "google-datetime"
        },
        "once": {
          "type": "boolean",
          "description": "If the target should be removed once it is current and consistent."
        },
        "documents": {
          "description": "A target specified by a set of document names.",
          "$ref": "DocumentsTarget"
        },
        "query": {
          "$ref": "QueryTarget",
          "description": "A target specified by a query."
        },
        "expectedCount": {
          "description": "The number of documents that last matched the query at the resume token or read time. This value is only relevant when a `resume_type` is provided. This value being present and greater than zero signals that the client wants `ExistenceFilter.unchanged_names` to be included in the response.",
          "format": "int32",
          "type": "integer"
        },
        "resumeToken": {
          "format": "byte",
          "description": "A resume token from a prior TargetChange for an identical target. Using a resume token with a different target is unsupported and may fail.",
          "type": "string"
        }
      },
      "description": "A specification of a set of documents to listen to.",
      "id": "Target"
    },
    "WriteResult": {
      "description": "The result of applying a write.",
      "type": "object",
      "id": "WriteResult",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The last update time of the document after applying the write. Not set after a `delete`. If the write did not actually change the document, this will be the previous update_time."
        },
        "transformResults": {
          "description": "The results of applying each DocumentTransform.FieldTransform, in the same order.",
          "type": "array",
          "items": {
            "$ref": "Value"
          }
        }
      }
    },
    "FindNearest": {
      "id": "FindNearest",
      "description": "Nearest Neighbors search config. The ordering provided by FindNearest supersedes the order_by stage. If multiple documents have the same vector distance, the returned document order is not guaranteed to be stable between queries.",
      "properties": {
        "queryVector": {
          "$ref": "Value",
          "description": "Required. The query vector that we are searching on. Must be a vector of no more than 2048 dimensions."
        },
        "vectorField": {
          "description": "Required. An indexed vector field to search upon. Only documents which contain vectors whose dimensionality match the query_vector can be returned.",
          "$ref": "FieldReference"
        },
        "limit": {
          "format": "int32",
          "description": "Required. The number of nearest neighbors to return. Must be a positive integer of no more than 1000.",
          "type": "integer"
        },
        "distanceThreshold": {
          "description": "Optional. Option to specify a threshold for which no less similar documents will be returned. The behavior of the specified `distance_measure` will affect the meaning of the distance threshold. Since DOT_PRODUCT distances increase when the vectors are more similar, the comparison is inverted. * For EUCLIDEAN, COSINE: `WHERE distance <= distance_threshold` * For DOT_PRODUCT: `WHERE distance >= distance_threshold`",
          "format": "double",
          "type": "number"
        },
        "distanceMeasure": {
          "description": "Required. The distance measure to use, required.",
          "enum": [
            "DISTANCE_MEASURE_UNSPECIFIED",
            "EUCLIDEAN",
            "COSINE",
            "DOT_PRODUCT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Should not be set.",
            "Measures the EUCLIDEAN distance between the vectors. See [Euclidean](https://en.wikipedia.org/wiki/Euclidean_distance) to learn more. The resulting distance decreases the more similar two vectors are.",
            "COSINE distance compares vectors based on the angle between them, which allows you to measure similarity that isn't based on the vectors magnitude. We recommend using DOT_PRODUCT with unit normalized vectors instead of COSINE distance, which is mathematically equivalent with better performance. See [Cosine Similarity](https://en.wikipedia.org/wiki/Cosine_similarity) to learn more about COSINE similarity and COSINE distance. The resulting COSINE distance decreases the more similar two vectors are.",
            "Similar to cosine but is affected by the magnitude of the vectors. See [Dot Product](https://en.wikipedia.org/wiki/Dot_product) to learn more. The resulting distance increases the more similar two vectors are."
          ]
        },
        "distanceResultField": {
          "type": "string",
          "description": "Optional. Optional name of the field to output the result of the vector distance calculation. Must conform to document field name limitations."
        }
      },
      "type": "object"
    },
    "ExplainOptions": {
      "type": "object",
      "description": "Explain options for the query.",
      "properties": {
        "analyze": {
          "type": "boolean",
          "description": "Optional. Whether to execute this query. When false (the default), the query will be planned, returning only metrics from the planning stages. When true, the query will be planned and executed, returning the full query results along with both planning and execution stage metrics."
        }
      },
      "id": "ExplainOptions"
    },
    "BeginTransactionResponse": {
      "type": "object",
      "description": "The response for Firestore.BeginTransaction.",
      "properties": {
        "transaction": {
          "format": "byte",
          "description": "The transaction that was started.",
          "type": "string"
        }
      },
      "id": "BeginTransactionResponse"
    },
    "ExistenceFilter": {
      "description": "A digest of all the documents that match a given target.",
      "properties": {
        "unchangedNames": {
          "$ref": "BloomFilter",
          "description": "A bloom filter that, despite its name, contains the UTF-8 byte encodings of the resource names of ALL the documents that match target_id, in the form `projects/{project_id}/databases/{database_id}/documents/{document_path}`. This bloom filter may be omitted at the server's discretion, such as if it is deemed that the client will not make use of it or if it is too computationally expensive to calculate or transmit. Clients must gracefully handle this field being absent by falling back to the logic used before this field existed; that is, re-add the target without a resume token to figure out which documents in the client's cache are out of sync."
        },
        "count": {
          "type": "integer",
          "format": "int32",
          "description": "The total count of documents that match target_id. If different from the count of documents in the client that match, the client must manually determine which documents no longer match the target. The client can use the `unchanged_names` bloom filter to assist with this determination by testing ALL the document names against the filter; if the document name is NOT in the filter, it means the document no longer matches the target."
        },
        "targetId": {
          "format": "int32",
          "type": "integer",
          "description": "The target ID to which this filter applies."
        }
      },
      "id": "ExistenceFilter",
      "type": "object"
    },
    "Projection": {
      "properties": {
        "fields": {
          "type": "array",
          "items": {
            "$ref": "FieldReference"
          },
          "description": "The fields to return. If empty, all fields are returned. To only return the name of the document, use `['__name__']`."
        }
      },
      "id": "Projection",
      "type": "object",
      "description": "The projection of document's fields to return."
    },
    "GoogleFirestoreAdminV1beta1IndexOperationMetadata": {
      "properties": {
        "cancelled": {
          "description": "True if the [google.longrunning.Operation] was cancelled. If the cancellation is in progress, cancelled will be true but google.longrunning.Operation.done will be false.",
          "type": "boolean"
        },
        "index": {
          "description": "The index resource that this operation is acting on. For example: `projects/{project_id}/databases/{database_id}/indexes/{index_id}`",
          "type": "string"
        },
        "operationType": {
          "description": "The type of index operation.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified. Never set by server.",
            "The operation is creating the index. Initiated by a `CreateIndex` call."
          ],
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "CREATING_INDEX"
          ]
        },
        "startTime": {
          "description": "The time that work began on the operation.",
          "format": "google-datetime",
          "type": "string"
        },
        "documentProgress": {
          "$ref": "GoogleFirestoreAdminV1beta1Progress",
          "description": "Progress of the existing operation, measured in number of documents."
        },
        "endTime": {
          "type": "string",
          "description": "The time the operation ended, either successfully or otherwise. Unset if the operation is still active.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "GoogleFirestoreAdminV1beta1IndexOperationMetadata",
      "description": "Metadata for index operations. This metadata populates the metadata field of google.longrunning.Operation."
    },
    "CompositeFilter": {
      "id": "CompositeFilter",
      "type": "object",
      "description": "A filter that merges multiple other filters using the given operator.",
      "properties": {
        "op": {
          "type": "string",
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "AND",
            "OR"
          ],
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "Documents are required to satisfy all of the combined filters.",
            "Documents are required to satisfy at least one of the combined filters."
          ],
          "description": "The operator for combining multiple filters."
        },
        "filters": {
          "type": "array",
          "items": {
            "$ref": "Filter"
          },
          "description": "The list of filters to combine. Requires: * At least one filter is present."
        }
      }
    },
    "ExecutionStats": {
      "properties": {
        "resultsReturned": {
          "description": "Total number of results returned, including documents, projections, aggregation results, keys.",
          "format": "int64",
          "type": "string"
        },
        "debugStats": {
          "description": "Debugging statistics from the execution of the query. Note that the debugging stats are subject to change as Firestore evolves. It could include: { \"indexes_entries_scanned\": \"1000\", \"documents_scanned\": \"20\", \"billing_details\" : { \"documents_billable\": \"20\", \"index_entries_billable\": \"1000\", \"min_query_cost\": \"0\" } }",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "readOperations": {
          "type": "string",
          "description": "Total billable read operations.",
          "format": "int64"
        },
        "executionDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "Total time to execute the query in the backend."
        }
      },
      "id": "ExecutionStats",
      "description": "Execution statistics for the query.",
      "type": "object"
    },
    "CollectionSelector": {
      "type": "object",
      "description": "A selection of a collection, such as `messages as m1`.",
      "id": "CollectionSelector",
      "properties": {
        "collectionId": {
          "type": "string",
          "description": "The collection ID. When set, selects only collections with this ID."
        },
        "allDescendants": {
          "type": "boolean",
          "description": "When false, selects only collections that are immediate children of the `parent` specified in the containing `RunQueryRequest`. When true, selects all descendant collections."
        }
      }
    },
    "StructuredPipeline": {
      "id": "StructuredPipeline",
      "description": "A Firestore query represented as an ordered list of operations / stages. This is considered the top-level function which plans and executes a query. It is logically equivalent to `query(stages, options)`, but prevents the client from having to build a function wrapper.",
      "type": "object",
      "properties": {
        "pipeline": {
          "description": "Required. The pipeline query to execute.",
          "$ref": "Pipeline"
        },
        "options": {
          "description": "Optional. Optional query-level arguments. ",
          "type": "object",
          "additionalProperties": {
            "$ref": "Value"
          }
        }
      }
    },
    "TransactionOptions": {
      "description": "Options for creating a new transaction.",
      "type": "object",
      "properties": {
        "readWrite": {
          "$ref": "ReadWrite",
          "description": "The transaction can be used for both read and write operations."
        },
        "readOnly": {
          "description": "The transaction can only be used for read operations.",
          "$ref": "ReadOnly"
        }
      },
      "id": "TransactionOptions"
    },
    "GoogleFirestoreAdminV1DeleteDatabaseMetadata": {
      "type": "object",
      "properties": {},
      "description": "Metadata related to the delete database operation.",
      "id": "GoogleFirestoreAdminV1DeleteDatabaseMetadata"
    },
    "BatchWriteRequest": {
      "description": "The request for Firestore.BatchWrite.",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels associated with this batch write.",
          "type": "object"
        },
        "requestOptions": {
          "$ref": "RequestOptions",
          "description": "Optional. The request options for this request."
        },
        "writes": {
          "type": "array",
          "items": {
            "$ref": "Write"
          },
          "description": "The writes to apply. Method does not apply writes atomically and does not guarantee ordering. Each write succeeds or fails independently. You cannot write to the same document more than once per request."
        }
      },
      "type": "object",
      "id": "BatchWriteRequest"
    },
    "TargetChange": {
      "description": "Targets being watched have changed.",
      "id": "TargetChange",
      "type": "object",
      "properties": {
        "targetIds": {
          "description": "The target IDs of targets that have changed. If empty, the change applies to all targets. The order of the target IDs is not defined.",
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "type": "array"
        },
        "cause": {
          "description": "The error that resulted in this change, if applicable.",
          "$ref": "Status"
        },
        "readTime": {
          "description": "The consistent `read_time` for the given `target_ids` (omitted when the target_ids are not at a consistent snapshot). The stream is guaranteed to send a `read_time` with `target_ids` empty whenever the entire stream reaches a new consistent snapshot. ADD, CURRENT, and RESET messages are guaranteed to (eventually) result in a new consistent snapshot (while NO_CHANGE and REMOVE messages are not). For a given stream, `read_time` is guaranteed to be monotonically increasing.",
          "type": "string",
          "format": "google-datetime"
        },
        "resumeToken": {
          "description": "A token that can be used to resume the stream for the given `target_ids`, or all targets if `target_ids` is empty. Not set on every target change.",
          "format": "byte",
          "type": "string"
        },
        "targetChangeType": {
          "description": "The type of change that occurred.",
          "type": "string",
          "enum": [
            "NO_CHANGE",
            "ADD",
            "REMOVE",
            "CURRENT",
            "RESET"
          ],
          "enumDescriptions": [
            "No change has occurred. Used only to send an updated `resume_token`.",
            "The targets have been added.",
            "The targets have been removed.",
            "The targets reflect all changes committed before the targets were added to the stream. This will be sent after or with a `read_time` that is greater than or equal to the time at which the targets were added. Listeners can wait for this change if read-after-write semantics are desired.",
            "The targets have been reset, and a new initial state for the targets will be returned in subsequent changes. After the initial state is complete, `CURRENT` will be returned even if the target was previously indicated to be `CURRENT`."
          ]
        }
      }
    },
    "ExecutePipelineResponse": {
      "type": "object",
      "id": "ExecutePipelineResponse",
      "description": "The response for Firestore.ExecutePipeline.",
      "properties": {
        "transaction": {
          "type": "string",
          "format": "byte",
          "description": "Newly created transaction identifier. This field is only specified as part of the first response from the server, alongside the `results` field when the original request specified ExecuteRequest.new_transaction."
        },
        "executionTime": {
          "description": "The time at which the results are valid. This is a (not strictly) monotonically increasing value across multiple responses in the same stream. The API guarantees that all previously returned results are still valid at the latest `execution_time`. This allows the API consumer to treat the query if it ran at the latest `execution_time` returned. If the query returns no results, a response with `execution_time` and no `results` will be sent, and this represents the time at which the operation was run.",
          "type": "string",
          "format": "google-datetime"
        },
        "explainStats": {
          "$ref": "ExplainStats",
          "description": "Query explain stats. This is present on the **last** response if the request configured explain to run in 'analyze' or 'explain' mode in the pipeline options. If the query does not return any results, a response with `explain_stats` and no `results` will still be sent."
        },
        "results": {
          "items": {
            "$ref": "Document"
          },
          "description": "An ordered batch of results returned executing a pipeline. The batch size is variable, and can even be zero for when only a partial progress message is returned. The fields present in the returned documents are only those that were explicitly requested in the pipeline, this includes those like `__name__` and `__update_time__`. This is explicitly a divergence from `Firestore.RunQuery` / `Firestore.GetDocument` RPCs which always return such fields even when they are not specified in the `mask`.",
          "type": "array"
        }
      }
    },
    "RunAggregationQueryRequest": {
      "id": "RunAggregationQueryRequest",
      "properties": {
        "newTransaction": {
          "$ref": "TransactionOptions",
          "description": "Starts a new transaction as part of the query, defaulting to read-only. The new transaction ID will be returned as the first response in the stream."
        },
        "requestOptions": {
          "$ref": "RequestOptions",
          "description": "Optional. The request options for the request."
        },
        "structuredAggregationQuery": {
          "description": "An aggregation query.",
          "$ref": "StructuredAggregationQuery"
        },
        "readTime": {
          "description": "Executes the query at the given timestamp. This must be a microsecond precision timestamp within the past one hour, or if Point-in-Time Recovery is enabled, can additionally be a whole minute timestamp within the past 7 days.",
          "type": "string",
          "format": "google-datetime"
        },
        "transaction": {
          "type": "string",
          "format": "byte",
          "description": "Run the aggregation within an already active transaction. The value here is the opaque transaction ID to execute the query in."
        },
        "explainOptions": {
          "description": "Optional. Explain options for the query. If set, additional query statistics will be returned. If not, only query results will be returned.",
          "$ref": "ExplainOptions"
        }
      },
      "description": "The request for Firestore.RunAggregationQuery.",
      "type": "object"
    },
    "WriteRequest": {
      "description": "The request for Firestore.Write. The first request creates a stream, or resumes an existing one from a token. When creating a new stream, the server replies with a response containing only an ID and a token, to use in the next request. When resuming a stream, the server first streams any responses later than the given token, then a response containing only an up-to-date token, to use in the next request.",
      "id": "WriteRequest",
      "type": "object",
      "properties": {
        "writes": {
          "items": {
            "$ref": "Write"
          },
          "type": "array",
          "description": "The writes to apply. Always executed atomically and in order. This must be empty on the first request. This may be empty on the last request. This must not be empty on all other requests."
        },
        "streamToken": {
          "format": "byte",
          "description": "A stream token that was previously sent by the server. The client should set this field to the token from the most recent WriteResponse it has received. This acknowledges that the client has received responses up to this token. After sending this token, earlier tokens may not be used anymore. The server may close the stream if there are too many unacknowledged responses. Leave this field unset when creating a new stream. To resume a stream at a specific point, set this field and the `stream_id` field. Leave this field unset when creating a new stream.",
          "type": "string"
        },
        "requestOptions": {
          "$ref": "RequestOptions",
          "description": "Optional. The request options for the request."
        },
        "streamId": {
          "description": "The ID of the write stream to resume. This may only be set in the first message. When left empty, a new write stream will be created.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Labels associated with this write request.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "StructuredQuery": {
      "properties": {
        "select": {
          "$ref": "Projection",
          "description": "Optional sub-set of the fields to return. This acts as a DocumentMask over the documents returned from a query. When not set, assumes that the caller wants all fields returned."
        },
        "startAt": {
          "description": "A potential prefix of a position in the result set to start the query at. The ordering of the result set is based on the `ORDER BY` clause of the original query. ``` SELECT * FROM k WHERE a = 1 AND b > 2 ORDER BY b ASC, __name__ ASC; ``` This query's results are ordered by `(b ASC, __name__ ASC)`. Cursors can reference either the full ordering or a prefix of the location, though it cannot reference more fields than what are in the provided `ORDER BY`. Continuing off the example above, attaching the following start cursors will have varying impact: - `START BEFORE (2, /k/123)`: start the query right before `a = 1 AND b > 2 AND __name__ > /k/123`. - `START AFTER (10)`: start the query right after `a = 1 AND b > 10`. Unlike `OFFSET` which requires scanning over the first N results to skip, a start cursor allows the query to begin at a logical position. This position is not required to match an actual result, it will scan forward from this position to find the next document. Requires: * The number of values cannot be greater than the number of fields specified in the `ORDER BY` clause.",
          "$ref": "Cursor"
        },
        "from": {
          "type": "array",
          "items": {
            "$ref": "CollectionSelector"
          },
          "description": "The collections to query."
        },
        "findNearest": {
          "description": "Optional. A potential nearest neighbors search. Applies after all other filters and ordering. Finds the closest vector embeddings to the given query vector.",
          "$ref": "FindNearest"
        },
        "endAt": {
          "description": "A potential prefix of a position in the result set to end the query at. This is similar to `START_AT` but with it controlling the end position rather than the start position. Requires: * The number of values cannot be greater than the number of fields specified in the `ORDER BY` clause.",
          "$ref": "Cursor"
        },
        "offset": {
          "description": "The number of documents to skip before returning the first result. This applies after the constraints specified by the `WHERE`, `START AT`, & `END AT` but before the `LIMIT` clause. Requires: * The value must be greater than or equal to zero if specified.",
          "type": "integer",
          "format": "int32"
        },
        "limit": {
          "description": "The maximum number of results to return. Applies after all other constraints. Requires: * The value must be greater than or equal to zero if specified.",
          "type": "integer",
          "format": "int32"
        },
        "orderBy": {
          "description": "The order to apply to the query results. Callers can provide a full ordering, a partial ordering, or no ordering at all. While Firestore will always respect the provided order, the behavior for queries without a full ordering is different per database edition: In Standard edition, Firestore guarantees a stable ordering through the following rules: * The `order_by` is required to reference all fields used with an inequality filter. * All fields that are required to be in the `order_by` but are not already present are appended in lexicographical ordering of the field name. * If an order on `__name__` is not specified, it is appended by default. Fields are appended with the same sort direction as the last order specified, or 'ASCENDING' if no order was specified. For example: * `ORDER BY a` becomes `ORDER BY a ASC, __name__ ASC` * `ORDER BY a DESC` becomes `ORDER BY a DESC, __name__ DESC` * `WHERE a > 1` becomes `WHERE a > 1 ORDER BY a ASC, __name__ ASC` * `WHERE __name__ > ... AND a > 1` becomes `WHERE __name__ > ... AND a > 1 ORDER BY a ASC, __name__ ASC` In Enterprise edition, Firestore does not guarantee a stable ordering. Instead it will pick the most efficient ordering based on the indexes available at the time of query execution. This will result in a different ordering for queries that are otherwise identical. To ensure a stable ordering, always include a unique field in the `order_by` clause, such as `__name__`.",
          "type": "array",
          "items": {
            "$ref": "Order"
          }
        },
        "where": {
          "$ref": "Filter",
          "description": "The filter to apply."
        }
      },
      "description": "A Firestore query. The query stages are executed in the following order: 1. from 2. where 3. select 4. order_by + start_at + end_at 5. offset 6. limit 7. find_nearest",
      "type": "object",
      "id": "StructuredQuery"
    },
    "DocumentTransform": {
      "id": "DocumentTransform",
      "type": "object",
      "description": "A transformation of a document.",
      "properties": {
        "fieldTransforms": {
          "items": {
            "$ref": "FieldTransform"
          },
          "description": "The list of transformations to apply to the fields of the document, in order. This must not be empty.",
          "type": "array"
        },
        "document": {
          "type": "string",
          "description": "The name of the document to transform."
        }
      }
    },
    "GoogleFirestoreAdminV1Progress": {
      "description": "Describes the progress of the operation. Unit of work is generic and must be interpreted based on where Progress is used.",
      "type": "object",
      "id": "GoogleFirestoreAdminV1Progress",
      "properties": {
        "estimatedWork": {
          "format": "int64",
          "description": "The amount of work estimated.",
          "type": "string"
        },
        "completedWork": {
          "description": "The amount of work completed.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "DocumentChange": {
      "description": "A Document has changed. May be the result of multiple writes, including deletes, that ultimately resulted in a new value for the Document. Multiple DocumentChange messages may be returned for the same logical change, if multiple targets are affected.",
      "id": "DocumentChange",
      "type": "object",
      "properties": {
        "document": {
          "description": "The new state of the Document. If `mask` is set, contains only fields that were updated or added.",
          "$ref": "Document"
        },
        "targetIds": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "A set of target IDs of targets that match this document.",
          "type": "array"
        },
        "removedTargetIds": {
          "description": "A set of target IDs for targets that no longer match this document.",
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        }
      }
    },
    "GoogleFirestoreAdminV1CreateDatabaseMetadata": {
      "id": "GoogleFirestoreAdminV1CreateDatabaseMetadata",
      "properties": {},
      "type": "object",
      "description": "Metadata related to the create database operation."
    },
    "Document": {
      "properties": {
        "fields": {
          "additionalProperties": {
            "$ref": "Value"
          },
          "description": "The document's fields. The map keys represent field names. Field names matching the regular expression `__.*__` are reserved. Reserved field names are forbidden except in certain documented contexts. The field names, represented as UTF-8, must not exceed 1,500 bytes and cannot be empty. Field paths may be used in other contexts to refer to structured fields defined here. For `map_value`, the field path is represented by a dot-delimited (`.`) string of segments. Each segment is either a simple field name (defined below) or a quoted field name. For example, the structured field `\"foo\" : { map_value: { \"x&y\" : { string_value: \"hello\" }}}` would be represented by the field path `` foo.`x&y` ``. A simple field name contains only characters `a` to `z`, `A` to `Z`, `0` to `9`, or `_`, and must not start with `0` to `9`. For example, `foo_bar_17`. A quoted field name starts and ends with `` ` `` and may contain any character. Some characters, including `` ` ``, must be escaped using a `\\`. For example, `` `x&y` `` represents `x&y` and `` `bak\\`tik` `` represents `` bak`tik ``.",
          "type": "object"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time at which the document was last changed. This value is initially set to the `create_time` then increases monotonically with each change to the document. It can also be compared to values from other documents and the `read_time` of a query."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time at which the document was created. This value increases monotonically when a document is deleted then recreated. It can also be compared to values from other documents and the `read_time` of a query.",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "The resource name of the document, for example `projects/{project_id}/databases/{database_id}/documents/{document_path}`."
        }
      },
      "id": "Document",
      "description": "A Firestore document. Must not exceed 1 MiB - 4 bytes.",
      "type": "object"
    },
    "DocumentMask": {
      "type": "object",
      "description": "A set of field paths on a document. Used to restrict a get or update operation on a document to a subset of its fields. This is different from standard field masks, as this is always scoped to a Document, and takes in account the dynamic nature of Value.",
      "properties": {
        "fieldPaths": {
          "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "DocumentMask"
    },
    "ReadWrite": {
      "type": "object",
      "id": "ReadWrite",
      "description": "Options for a transaction that can be used to read and write documents.",
      "properties": {
        "retryTransaction": {
          "description": "An optional transaction to retry.",
          "format": "byte",
          "type": "string"
        },
        "concurrencyMode": {
          "description": "Optional. The concurrency control mode to use for this transaction. A database is able to use different concurrency modes for different transactions simultaneously. 3rd party auth requests are only allowed to create optimistic read-write transactions and must specify that here even if the database-level setting is already configured to optimistic.",
          "type": "string",
          "enumDescriptions": [
            "Start the transaction with the database-level default concurrency mode.",
            "Use optimistic concurrency control for the new transaction.",
            "Use pessimistic concurrency control for the new transaction."
          ],
          "enum": [
            "CONCURRENCY_MODE_UNSPECIFIED",
            "OPTIMISTIC",
            "PESSIMISTIC"
          ]
        }
      }
    },
    "Write": {
      "properties": {
        "updateTransforms": {
          "items": {
            "$ref": "FieldTransform"
          },
          "description": "The transforms to perform after update. This field can be set only when the operation is `update`. If present, this write is equivalent to performing `update` and `transform` to the same document atomically and in order.",
          "type": "array"
        },
        "transform": {
          "$ref": "DocumentTransform",
          "description": "Applies a transformation to a document."
        },
        "delete": {
          "description": "A document name to delete. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`.",
          "type": "string"
        },
        "currentDocument": {
          "$ref": "Precondition",
          "description": "An optional precondition on the document. The write will fail if this is set and not met by the target document."
        },
        "updateMask": {
          "$ref": "DocumentMask",
          "description": "The fields to update in this write. This field can be set only when the operation is `update`. If the mask is not set for an `update` and the document exists, any existing data will be overwritten. If the mask is set and the document on the server has fields not covered by the mask, they are left unchanged. Fields referenced in the mask, but not present in the input document, are deleted from the document on the server. The field paths in this mask must not contain a reserved field name."
        },
        "update": {
          "$ref": "Document",
          "description": "A document to write."
        }
      },
      "id": "Write",
      "description": "A write on a document.",
      "type": "object"
    },
    "GoogleFirestoreAdminV1CloneDatabaseMetadata": {
      "id": "GoogleFirestoreAdminV1CloneDatabaseMetadata",
      "description": "Metadata for the long-running operation from the CloneDatabase request.",
      "type": "object",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "The time the clone was started.",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "The time the clone finished, unset for ongoing clones.",
          "type": "string",
          "format": "google-datetime"
        },
        "progressPercentage": {
          "$ref": "GoogleFirestoreAdminV1Progress",
          "description": "How far along the clone is as an estimated percentage of remaining time."
        },
        "operationState": {
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ],
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ],
          "type": "string",
          "description": "The operation state of the clone."
        },
        "database": {
          "type": "string",
          "description": "The name of the database being cloned to."
        },
        "pitrSnapshot": {
          "$ref": "GoogleFirestoreAdminV1PitrSnapshot",
          "description": "The snapshot from which this database was cloned."
        }
      }
    },
    "Function": {
      "description": "Represents an unevaluated scalar expression. For example, the expression `like(user_name, \"%alice%\")` is represented as: ``` name: \"like\" args { field_reference: \"user_name\" } args { string_value: \"%alice%\" } ```",
      "type": "object",
      "properties": {
        "args": {
          "description": "Optional. Ordered list of arguments the given function expects.",
          "items": {
            "$ref": "Value"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the function to evaluate. **Requires:** * must be in snake case (lower case with underscore separator)."
        },
        "options": {
          "description": "Optional. Optional named arguments that certain functions may support.",
          "additionalProperties": {
            "$ref": "Value"
          },
          "type": "object"
        }
      },
      "id": "Function"
    },
    "CommitResponse": {
      "description": "The response for Firestore.Commit.",
      "id": "CommitResponse",
      "type": "object",
      "properties": {
        "commitTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the commit occurred. Any read with an equal or greater `read_time` is guaranteed to see the effects of the commit."
        },
        "writeResults": {
          "type": "array",
          "description": "The result of applying the writes. This i-th write result corresponds to the i-th write in the request.",
          "items": {
            "$ref": "WriteResult"
          }
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "Empty",
      "properties": {}
    },
    "Value": {
      "type": "object",
      "id": "Value",
      "description": "A message that can hold any of the supported value types.",
      "properties": {
        "mapValue": {
          "description": "A map value.",
          "$ref": "MapValue"
        },
        "integerValue": {
          "description": "An integer value.",
          "type": "string",
          "format": "int64"
        },
        "stringValue": {
          "type": "string",
          "description": "A string value. In Standard edition databases: * The string, represented as UTF-8, must not exceed 1 MiB - 89 bytes. * Only the first 1,500 bytes of the UTF-8 representation are considered by queries. In Enterprise edition databases, there is no limit on the size of the value. However, it is still subject to document and index entry size limits."
        },
        "referenceValue": {
          "description": "A reference to a document. For example: `projects/{project_id}/databases/{database_id}/documents/{document_path}`.",
          "type": "string"
        },
        "doubleValue": {
          "type": "number",
          "description": "A double value.",
          "format": "double"
        },
        "arrayValue": {
          "description": "An array value. In Standard edition databases, an array value cannot directly contain another array value, though it can contain a map which contains another array. In Enterprise edition databases, an array value can contain another array value.",
          "$ref": "ArrayValue"
        },
        "nullValue": {
          "type": "string",
          "enumDescriptions": [
            "Null value."
          ],
          "enum": [
            "NULL_VALUE"
          ],
          "description": "A null value."
        },
        "booleanValue": {
          "description": "A boolean value.",
          "type": "boolean"
        },
        "timestampValue": {
          "description": "A timestamp value. Precise only to microseconds. When stored, any additional precision is rounded down.",
          "format": "google-datetime",
          "type": "string"
        },
        "functionValue": {
          "$ref": "Function",
          "description": "A value that represents an unevaluated expression. **Requires:** * Not allowed to be used when writing documents."
        },
        "geoPointValue": {
          "$ref": "LatLng",
          "description": "A geo point value representing a point on the surface of Earth."
        },
        "fieldReferenceValue": {
          "type": "string",
          "description": "Value which references a field. This is considered relative (vs absolute) since it only refers to a field and not a field within a particular document. **Requires:** * Must follow field reference limitations. * Not allowed to be used when writing documents."
        },
        "pipelineValue": {
          "$ref": "Pipeline",
          "description": "A value that represents an unevaluated pipeline. **Requires:** * Not allowed to be used when writing documents."
        },
        "bytesValue": {
          "description": "A bytes value. In Standard edition databases: * The value must not exceed 1 MiB - 89 bytes. * Only the first 1,500 bytes are considered by queries. In Enterprise edition databases, there is no limit on the size of the value. However, it is still subject to document and index entry size limits.",
          "format": "byte",
          "type": "string"
        },
        "variableReferenceValue": {
          "type": "string",
          "description": "Pointer to a variable defined elsewhere in a pipeline. Unlike `field_reference_value` which references a field within a document, this refers to a variable, defined in a separate namespace than the fields of a document."
        }
      }
    },
    "ListCollectionIdsRequest": {
      "type": "object",
      "description": "The request for Firestore.ListCollectionIds.",
      "id": "ListCollectionIdsRequest",
      "properties": {
        "readTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Reads documents as they were at the given time. This must be a microsecond precision timestamp within the past one hour, or if Point-in-Time Recovery is enabled, can additionally be a whole minute timestamp within the past 7 days."
        },
        "pageSize": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of results to return."
        },
        "pageToken": {
          "type": "string",
          "description": "A page token. Must be a value from ListCollectionIdsResponse."
        },
        "requestOptions": {
          "description": "Optional. The request options for this request.",
          "$ref": "RequestOptions"
        }
      }
    },
    "GoogleFirestoreAdminV1beta1IndexField": {
      "description": "A field of an index.",
      "properties": {
        "fieldPath": {
          "type": "string",
          "description": "The path of the field. Must match the field path specification described by google.firestore.v1beta1.Document.fields. Special field path `__name__` may be used by itself or at the end of a path. `__type__` may be used only at the end of path."
        },
        "mode": {
          "enum": [
            "MODE_UNSPECIFIED",
            "ASCENDING",
            "DESCENDING",
            "ARRAY_CONTAINS"
          ],
          "type": "string",
[...]
