{
  "ownerDomain": "google.com",
  "rootUrl": "https://firebasehosting.googleapis.com/",
  "title": "Firebase Hosting API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "kind": "discovery#restDescription",
  "canonicalName": "Firebase Hosting",
  "ownerName": "Google",
  "batchPath": "batch",
  "parameters": {
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "alt": {
      "type": "string",
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    }
  },
  "basePath": "",
  "documentationLink": "https://firebase.google.com/docs/hosting/",
  "name": "firebasehosting",
  "baseUrl": "https://firebasehosting.googleapis.com/",
  "discoveryVersion": "v1",
  "resources": {
    "sites": {
      "methods": {
        "getConfig": {
          "response": {
            "$ref": "SiteConfig"
          },
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "pattern": "^sites/[^/]+/config$",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. The site for which to get the SiteConfig, in the format: sites/ site-name/config"
            }
          },
          "id": "firebasehosting.sites.getConfig",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/firebase",
            "https://www.googleapis.com/auth/firebase.readonly"
          ],
          "description": "Gets the Hosting metadata for a specific site.",
          "flatPath": "v1beta1/sites/{sitesId}/config",
          "path": "v1beta1/{+name}"
        },
        "updateConfig": {
          "request": {
            "$ref": "SiteConfig"
          },
          "path": "v1beta1/{+name}",
          "response": {
            "$ref": "SiteConfig"
          },
          "parameters": {
            "updateMask": {
              "location": "query",
              "format": "google-fieldmask",
              "type": "string",
              "description": "A set of field names from your [site configuration](../sites.SiteConfig) that you want to update. A field will be overwritten if, and only if, it's in the mask. If a mask is not provided then a default mask of only [`max_versions`](../sites.SiteConfig.max_versions) will be used."
            },
            "name": {
              "type": "string",
              "required": true,
              "description": "Required. The site for which to update the SiteConfig, in the format: sites/ site-name/config",
              "location": "path",
              "pattern": "^sites/[^/]+/config$"
            }
          },
          "id": "firebasehosting.sites.updateConfig",
          "flatPath": "v1beta1/sites/{sitesId}/config",
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "parameterOrder": [
            "name"
          ],
          "description": "Sets the Hosting metadata for a specific site."
        }
      },
      "resources": {
        "releases": {
          "methods": {
            "create": {
              "response": {
                "$ref": "Release"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "path": "v1beta1/{+parent}/releases",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "description": "Creates a new release, which makes the content of the specified version actively display on the appropriate URL(s).",
              "flatPath": "v1beta1/sites/{sitesId}/releases",
              "id": "firebasehosting.sites.releases.create",
              "parameters": {
                "versionName": {
                  "description": " The unique identifier for a version, in the format: sites/SITE_ID/versions/ VERSION_ID The SITE_ID in this version identifier must match the SITE_ID in the `parent` parameter. This query parameter must be empty if the `type` field in the request body is `SITE_DISABLE`.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^sites/[^/]+$",
                  "required": true,
                  "description": "Required. The site or channel to which the release belongs, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID",
                  "location": "path",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "Release"
              }
            },
            "get": {
              "path": "v1beta1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The fully-qualified resource name for the Hosting release, in either of the following formats: - sites/SITE_ID/channels/CHANNEL_ID/releases/RELEASE_ID - sites/SITE_ID/releases/RELEASE_ID ",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^sites/[^/]+/releases/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "firebasehosting.sites.releases.get",
              "flatPath": "v1beta1/sites/{sitesId}/releases/{releasesId}",
              "description": "Gets the specified release for a site or channel. When used to get a release for a site, this can get releases for both the default `live` channel and any active preview channels for the specified site.",
              "httpMethod": "GET",
              "response": {
                "$ref": "Release"
              }
            },
            "list": {
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A token from a previous call to `releases.list` or `channels.releases.list` that tells the server where to resume listing."
                },
                "parent": {
                  "required": true,
                  "location": "path",
                  "pattern": "^sites/[^/]+$",
                  "description": "Required. The site or channel for which to list releases, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID ",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "The maximum number of releases to return. The service may return a lower number if fewer releases exist than this maximum number. If unspecified, defaults to 100.",
                  "location": "query",
                  "type": "integer"
                }
              },
              "response": {
                "$ref": "ListReleasesResponse"
              },
              "description": "Lists the releases that have been created for the specified site or channel. When used to list releases for a site, this list includes releases for both the default `live` channel and any active preview channels for the specified site.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "flatPath": "v1beta1/sites/{sitesId}/releases",
              "path": "v1beta1/{+parent}/releases",
              "parameterOrder": [
                "parent"
              ],
              "id": "firebasehosting.sites.releases.list",
              "httpMethod": "GET"
            }
          }
        },
        "domains": {
          "methods": {
            "update": {
              "flatPath": "v1beta1/sites/{sitesId}/domains/{domainsId}",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the domain association to update or create, if an association doesn't already exist.",
                  "location": "path",
                  "required": true,
                  "pattern": "^sites/[^/]+/domains/[^/]+$"
                }
              },
              "response": {
                "$ref": "Domain"
              },
              "request": {
                "$ref": "Domain"
              },
              "path": "v1beta1/{+name}",
              "description": "Updates the specified domain mapping, creating the mapping as if it does not exist.",
              "id": "firebasehosting.sites.domains.update",
              "httpMethod": "PUT",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ]
            },
            "get": {
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta1/sites/{sitesId}/domains/{domainsId}",
              "path": "v1beta1/{+name}",
              "response": {
                "$ref": "Domain"
              },
              "description": "Gets a domain mapping on the specified site.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the domain configuration to get.",
                  "location": "path",
                  "pattern": "^sites/[^/]+/domains/[^/]+$"
                }
              },
              "id": "firebasehosting.sites.domains.get"
            },
            "delete": {
              "parameters": {
                "name": {
                  "description": "Required. The name of the domain association to delete.",
                  "pattern": "^sites/[^/]+/domains/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1beta1/{+name}",
              "description": "Deletes the existing domain mapping on the specified site.",
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "httpMethod": "DELETE",
              "flatPath": "v1beta1/sites/{sitesId}/domains/{domainsId}",
              "id": "firebasehosting.sites.domains.delete",
              "parameterOrder": [
                "name"
              ]
            },
            "create": {
              "flatPath": "v1beta1/sites/{sitesId}/domains",
              "request": {
                "$ref": "Domain"
              },
              "description": "Creates a domain mapping on the specified site.",
              "parameters": {
                "parent": {
                  "description": "Required. The parent to create the domain association for, in the format: sites/site-name",
                  "pattern": "^sites/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "Domain"
              },
              "httpMethod": "POST",
              "path": "v1beta1/{+parent}/domains",
              "id": "firebasehosting.sites.domains.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ]
            },
            "list": {
              "response": {
                "$ref": "ListDomainsResponse"
              },
              "path": "v1beta1/{+parent}/domains",
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists the domains for the specified site.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "description": "The page size to return. Defaults to 50.",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "type": "string",
                  "description": "The next_page_token from a previous request, if provided.",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^sites/[^/]+$",
                  "description": "Required. The parent for which to list domains, in the format: sites/ site-name"
                }
              },
              "id": "firebasehosting.sites.domains.list",
              "flatPath": "v1beta1/sites/{sitesId}/domains"
            }
          }
        },
        "channels": {
          "methods": {
            "create": {
              "httpMethod": "POST",
              "request": {
                "$ref": "Channel"
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta1/sites/{sitesId}/channels",
              "path": "v1beta1/{+parent}/channels",
              "parameters": {
                "channelId": {
                  "type": "string",
                  "location": "query",
                  "description": "Required. Immutable. A unique ID within the site that identifies the channel."
                },
                "parent": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The site in which to create this channel, in the format: sites/ SITE_ID",
                  "pattern": "^sites/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "id": "firebasehosting.sites.channels.create",
              "response": {
                "$ref": "Channel"
              },
              "description": "Creates a new channel in the specified site."
            },
            "patch": {
              "id": "firebasehosting.sites.channels.patch",
              "description": "Updates information for the specified channel of the specified site. Implicitly creates the channel if it doesn't already exist.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "response": {
                "$ref": "Channel"
              },
              "path": "v1beta1/{+name}",
              "request": {
                "$ref": "Channel"
              },
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "pattern": "^sites/[^/]+/channels/[^/]+$",
                  "location": "path",
                  "description": "The fully-qualified resource name for the channel, in the format: sites/ SITE_ID/channels/CHANNEL_ID",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "type": "string",
                  "description": "A comma-separated list of fields to be updated in this request.",
                  "location": "query",
                  "format": "google-fieldmask"
                }
              },
              "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}",
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListChannelsResponse"
              },
              "id": "firebasehosting.sites.channels.list",
              "httpMethod": "GET",
              "path": "v1beta1/{+parent}/channels",
              "flatPath": "v1beta1/sites/{sitesId}/channels",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^sites/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The site for which to list channels, in the format: sites/SITE_ID"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A token from a previous call to `ListChannels` that tells the server where to resume listing."
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of channels to return. The service may return a lower number if fewer channels exist than this maximum number. If unspecified, defaults to 10. The maximum value is 100; values above 100 will be coerced to 100."
                }
              },
              "description": "Lists the channels for the specified site. All sites have a default `live` channel."
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}",
              "httpMethod": "DELETE",
              "description": "Deletes the specified channel of the specified site. The `live` channel cannot be deleted.",
              "response": {
                "$ref": "Empty"
              },
              "id": "firebasehosting.sites.channels.delete",
              "parameters": {
                "name": {
                  "description": "Required. The fully-qualified resource name for the channel, in the format: sites/SITE_ID/channels/CHANNEL_ID",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^sites/[^/]+/channels/[^/]+$"
                }
              },
              "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ]
            },
            "get": {
              "description": "Retrieves information for the specified channel of the specified site.",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The fully-qualified resource name for the channel, in the format: sites/SITE_ID/channels/CHANNEL_ID",
                  "required": true,
                  "location": "path",
                  "pattern": "^sites/[^/]+/channels/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "response": {
                "$ref": "Channel"
              },
              "id": "firebasehosting.sites.channels.get",
              "path": "v1beta1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}"
            }
          },
          "resources": {
            "releases": {
              "methods": {
                "create": {
                  "description": "Creates a new release, which makes the content of the specified version actively display on the appropriate URL(s).",
                  "response": {
                    "$ref": "Release"
                  },
                  "parameters": {
                    "versionName": {
                      "location": "query",
                      "type": "string",
                      "description": " The unique identifier for a version, in the format: sites/SITE_ID/versions/ VERSION_ID The SITE_ID in this version identifier must match the SITE_ID in the `parent` parameter. This query parameter must be empty if the `type` field in the request body is `SITE_DISABLE`."
                    },
                    "parent": {
                      "pattern": "^sites/[^/]+/channels/[^/]+$",
                      "description": "Required. The site or channel to which the release belongs, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "firebasehosting.sites.channels.releases.create",
                  "path": "v1beta1/{+parent}/releases",
                  "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}/releases",
                  "request": {
                    "$ref": "Release"
                  },
                  "httpMethod": "POST"
                },
                "get": {
                  "path": "v1beta1/{+name}",
                  "response": {
                    "$ref": "Release"
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}/releases/{releasesId}",
                  "description": "Gets the specified release for a site or channel. When used to get a release for a site, this can get releases for both the default `live` channel and any active preview channels for the specified site.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The fully-qualified resource name for the Hosting release, in either of the following formats: - sites/SITE_ID/channels/CHANNEL_ID/releases/RELEASE_ID - sites/SITE_ID/releases/RELEASE_ID ",
                      "required": true,
                      "type": "string",
                      "pattern": "^sites/[^/]+/channels/[^/]+/releases/[^/]+$"
                    }
                  },
                  "id": "firebasehosting.sites.channels.releases.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "path": "v1beta1/{+parent}/releases",
                  "id": "firebasehosting.sites.channels.releases.list",
                  "response": {
                    "$ref": "ListReleasesResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "description": "The maximum number of releases to return. The service may return a lower number if fewer releases exist than this maximum number. If unspecified, defaults to 100.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "parent": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The site or channel for which to list releases, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID ",
                      "pattern": "^sites/[^/]+/channels/[^/]+$"
                    },
                    "pageToken": {
                      "description": "A token from a previous call to `releases.list` or `channels.releases.list` that tells the server where to resume listing.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "description": "Lists the releases that have been created for the specified site or channel. When used to list releases for a site, this list includes releases for both the default `live` channel and any active preview channels for the specified site.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}/releases"
                }
              }
            }
          }
        },
        "versions": {
          "resources": {
            "files": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "flatPath": "v1beta1/sites/{sitesId}/versions/{versionsId}/files",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "The maximum number of version files to return. The service may return a lower number if fewer version files exist than this maximum number. If unspecified, defaults to 1000."
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The version for which to list files, in the format: sites/SITE_ID /versions/VERSION_ID",
                      "pattern": "^sites/[^/]+/versions/[^/]+$"
                    },
                    "status": {
                      "type": "string",
                      "enumDescriptions": [
                        "The default status; should not be intentionally used.",
                        "The file has been included in the version and is expected to be uploaded in the near future.",
                        "The file has already been uploaded to Firebase Hosting."
                      ],
                      "enum": [
                        "STATUS_UNSPECIFIED",
                        "EXPECTED",
                        "ACTIVE"
                      ],
                      "location": "query",
                      "description": " The type of files that should be listed for the specified version."
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A token from a previous call to `ListVersionFiles` that tells the server where to resume listing.",
                      "type": "string"
                    }
                  },
                  "id": "firebasehosting.sites.versions.files.list",
                  "response": {
                    "$ref": "ListVersionFilesResponse"
                  },
                  "httpMethod": "GET",
                  "description": "Lists the remaining files to be uploaded for the specified version.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1beta1/{+parent}/files"
                }
              }
            }
          },
          "methods": {
            "patch": {
              "flatPath": "v1beta1/sites/{sitesId}/versions/{versionsId}",
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "location": "query",
                  "description": "A set of field names from your [version](../sites.versions) that you want to update. A field will be overwritten if, and only if, it's in the mask. If a mask is not provided then a default mask of only [`status`](../sites.versions#Version.FIELDS.status) will be used.",
                  "format": "google-fieldmask"
                },
                "name": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The fully-qualified resource name for the version, in the format: sites/ SITE_ID/versions/VERSION_ID This name is provided in the response body when you call [`CreateVersion`](sites.versions/create).",
                  "pattern": "^sites/[^/]+/versions/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "response": {
                "$ref": "Version"
              },
              "description": " Updates the specified metadata for the specified version. This method will fail with `FAILED_PRECONDITION` in the event of an invalid state transition. The supported [state](../sites.versions#versionstatus) transitions for a version are from `CREATED` to `FINALIZED`. Use [`DeleteVersion`](delete) to set the status of a version to `DELETED`.",
              "id": "firebasehosting.sites.versions.patch",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "Version"
              },
              "path": "v1beta1/{+name}"
            },
            "clone": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "id": "firebasehosting.sites.versions.clone",
              "httpMethod": "POST",
              "flatPath": "v1beta1/sites/{sitesId}/versions:clone",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta1/{+parent}/versions:clone",
              "response": {
                "$ref": "Operation"
              },
              "description": "Creates a new version on the specified target site using the content of the specified version.",
              "request": {
                "$ref": "CloneVersionRequest"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The target site for the cloned version, in the format: sites/ SITE_ID",
                  "location": "path",
                  "pattern": "^sites/[^/]+$"
                }
              }
            },
            "create": {
              "path": "v1beta1/{+parent}/versions",
              "id": "firebasehosting.sites.versions.create",
              "parameters": {
                "versionId": {
                  "deprecated": true,
                  "type": "string",
                  "location": "query",
                  "description": "A unique id for the new version. This is was only specified for legacy version creations, and should be blank."
                },
                "sizeBytes": {
                  "location": "query",
                  "format": "int64",
                  "description": "The self-reported size of the version. This value is used for a pre-emptive quota check for legacy version uploads.",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^sites/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The site in which to create the version, in the format: sites/ SITE_ID",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta1/sites/{sitesId}/versions",
              "description": "Creates a new version for the specified site.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "request": {
                "$ref": "Version"
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "Version"
              }
            },
            "populateFiles": {
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "PopulateVersionFilesResponse"
              },
              "request": {
                "$ref": "PopulateVersionFilesRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "id": "firebasehosting.sites.versions.populateFiles",
              "path": "v1beta1/{+parent}:populateFiles",
              "description": " Adds content files to the specified version. Each file must be under 2 GB.",
              "parameters": {
                "parent": {
                  "pattern": "^sites/[^/]+/versions/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The version to which to add files, in the format: sites/SITE_ID /versions/VERSION_ID",
                  "type": "string"
                }
              },
              "flatPath": "v1beta1/sites/{sitesId}/versions/{versionsId}:populateFiles"
            },
            "get": {
              "path": "v1beta1/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The fully-qualified resource name for the version, in the format: sites/SITE_ID/versions/VERSION_ID",
                  "pattern": "^sites/[^/]+/versions/[^/]+$",
                  "type": "string"
                }
              },
              "description": "Get the specified version that has been created for the specified site. This can include versions that were created for the default `live` channel or for any active preview channels for the specified site.",
              "response": {
                "$ref": "Version"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "id": "firebasehosting.sites.versions.get",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta1/sites/{sitesId}/versions/{versionsId}",
              "httpMethod": "GET"
            },
            "delete": {
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes the specified version.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "flatPath": "v1beta1/sites/{sitesId}/versions/{versionsId}",
              "id": "firebasehosting.sites.versions.delete",
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "name": {
                  "description": "Required. The fully-qualified resource name for the version, in the format: sites/SITE_ID/versions/VERSION_ID",
                  "required": true,
                  "pattern": "^sites/[^/]+/versions/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "path": "v1beta1/{+name}"
            },
            "list": {
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of versions to return. The service may return a lower number if fewer versions exist than this maximum number. If unspecified, defaults to 25. The maximum value is 100; values above 100 will be coerced to 100."
                },
                "pageToken": {
                  "type": "string",
                  "description": "A token from a previous call to `ListVersions` that tells the server where to resume listing.",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The site or channel for which to list versions, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID ",
                  "pattern": "^sites/[^/]+$"
                },
                "filter": {
                  "location": "query",
                  "description": "A filter string used to return a subset of versions in the response. The currently supported fields for filtering are: `name`, `status`, and `create_time`. Learn more about filtering in Google's [AIP 160 standard](https://google.aip.dev/160).",
                  "type": "string"
                }
              },
              "description": "Lists the versions that have been created for the specified site. This list includes versions for both the default `live` channel and any active preview channels for the specified site.",
              "path": "v1beta1/{+parent}/versions",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListVersionsResponse"
              },
              "id": "firebasehosting.sites.versions.list",
              "flatPath": "v1beta1/sites/{sitesId}/versions",
              "httpMethod": "GET"
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "sites": {
          "resources": {
            "versions": {
              "methods": {
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions",
                  "description": "Creates a new version for the specified site.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v1beta1/{+parent}/versions",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "required": true,
                      "description": "Required. The site in which to create the version, in the format: sites/ SITE_ID"
                    },
                    "versionId": {
                      "location": "query",
                      "deprecated": true,
                      "description": "A unique id for the new version. This is was only specified for legacy version creations, and should be blank.",
                      "type": "string"
                    },
                    "sizeBytes": {
                      "location": "query",
                      "type": "string",
                      "description": "The self-reported size of the version. This value is used for a pre-emptive quota check for legacy version uploads.",
                      "format": "int64"
                    }
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "Version"
                  },
                  "id": "firebasehosting.projects.sites.versions.create",
                  "response": {
                    "$ref": "Version"
                  }
                },
                "get": {
                  "description": "Get the specified version that has been created for the specified site. This can include versions that were created for the default `live` channel or for any active preview channels for the specified site.",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The fully-qualified resource name for the version, in the format: sites/SITE_ID/versions/VERSION_ID",
                      "pattern": "^projects/[^/]+/sites/[^/]+/versions/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions/{versionsId}",
                  "id": "firebasehosting.projects.sites.versions.get",
                  "path": "v1beta1/{+name}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Version"
                  }
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebasehosting.projects.sites.versions.patch",
                  "path": "v1beta1/{+name}",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions/{versionsId}",
                  "description": " Updates the specified metadata for the specified version. This method will fail with `FAILED_PRECONDITION` in the event of an invalid state transition. The supported [state](../sites.versions#versionstatus) transitions for a version are from `CREATED` to `FINALIZED`. Use [`DeleteVersion`](delete) to set the status of a version to `DELETED`.",
                  "response": {
                    "$ref": "Version"
                  },
                  "parameters": {
                    "name": {
                      "description": "The fully-qualified resource name for the version, in the format: sites/ SITE_ID/versions/VERSION_ID This name is provided in the response body when you call [`CreateVersion`](sites.versions/create).",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/sites/[^/]+/versions/[^/]+$",
                      "type": "string"
                    },
                    "updateMask": {
                      "description": "A set of field names from your [version](../sites.versions) that you want to update. A field will be overwritten if, and only if, it's in the mask. If a mask is not provided then a default mask of only [`status`](../sites.versions#Version.FIELDS.status) will be used.",
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "request": {
                    "$ref": "Version"
                  }
                },
                "clone": {
                  "request": {
                    "$ref": "CloneVersionRequest"
                  },
                  "id": "firebasehosting.projects.sites.versions.clone",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions:clone",
                  "httpMethod": "POST",
                  "description": "Creates a new version on the specified target site using the content of the specified version.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1beta1/{+parent}/versions:clone",
                  "parameters": {
                    "parent": {
                      "description": "Required. The target site for the cloned version, in the format: sites/ SITE_ID",
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  }
                },
                "list": {
                  "description": "Lists the versions that have been created for the specified site. This list includes versions for both the default `live` channel and any active preview channels for the specified site.",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "required": true,
                      "description": "Required. The site or channel for which to list versions, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID "
                    },
                    "filter": {
                      "location": "query",
                      "description": "A filter string used to return a subset of versions in the response. The currently supported fields for filtering are: `name`, `status`, and `create_time`. Learn more about filtering in Google's [AIP 160 standard](https://google.aip.dev/160).",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "A token from a previous call to `ListVersions` that tells the server where to resume listing.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "The maximum number of versions to return. The service may return a lower number if fewer versions exist than this maximum number. If unspecified, defaults to 25. The maximum value is 100; values above 100 will be coerced to 100.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "path": "v1beta1/{+parent}/versions",
                  "id": "firebasehosting.projects.sites.versions.list",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions",
                  "response": {
                    "$ref": "ListVersionsResponse"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "delete": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/sites/[^/]+/versions/[^/]+$",
                      "required": true,
                      "description": "Required. The fully-qualified resource name for the version, in the format: sites/SITE_ID/versions/VERSION_ID",
                      "type": "string"
                    }
                  },
                  "id": "firebasehosting.projects.sites.versions.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v1beta1/{+name}",
                  "description": "Deletes the specified version.",
                  "httpMethod": "DELETE",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions/{versionsId}"
                },
                "populateFiles": {
                  "description": " Adds content files to the specified version. Each file must be under 2 GB.",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/sites/[^/]+/versions/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The version to which to add files, in the format: sites/SITE_ID /versions/VERSION_ID"
                    }
                  },
                  "response": {
                    "$ref": "PopulateVersionFilesResponse"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "request": {
                    "$ref": "PopulateVersionFilesRequest"
                  },
                  "id": "firebasehosting.projects.sites.versions.populateFiles",
                  "path": "v1beta1/{+parent}:populateFiles",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions/{versionsId}:populateFiles"
                }
              },
              "resources": {
                "files": {
                  "methods": {
                    "list": {
                      "path": "v1beta1/{+parent}/files",
                      "id": "firebasehosting.projects.sites.versions.files.list",
                      "parameters": {
                        "parent": {
                          "description": "Required. The version for which to list files, in the format: sites/SITE_ID /versions/VERSION_ID",
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/sites/[^/]+/versions/[^/]+$"
                        },
                        "status": {
                          "description": " The type of files that should be listed for the specified version.",
                          "location": "query",
                          "enum": [
                            "STATUS_UNSPECIFIED",
                            "EXPECTED",
                            "ACTIVE"
                          ],
                          "enumDescriptions": [
                            "The default status; should not be intentionally used.",
                            "The file has been included in the version and is expected to be uploaded in the near future.",
                            "The file has already been uploaded to Firebase Hosting."
                          ],
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "A token from a previous call to `ListVersionFiles` that tells the server where to resume listing.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer",
                          "description": "The maximum number of version files to return. The service may return a lower number if fewer version files exist than this maximum number. If unspecified, defaults to 1000."
                        }
                      },
                      "response": {
                        "$ref": "ListVersionFilesResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists the remaining files to be uploaded for the specified version.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/firebase",
                        "https://www.googleapis.com/auth/firebase.readonly"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions/{versionsId}/files",
                      "httpMethod": "GET"
                    }
                  }
                }
              }
            },
            "releases": {
              "methods": {
                "list": {
                  "path": "v1beta1/{+parent}/releases",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/releases",
                  "id": "firebasehosting.projects.sites.releases.list",
                  "description": "Lists the releases that have been created for the specified site or channel. When used to list releases for a site, this list includes releases for both the default `live` channel and any active preview channels for the specified site.",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The site or channel for which to list releases, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID ",
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The maximum number of releases to return. The service may return a lower number if fewer releases exist than this maximum number. If unspecified, defaults to 100.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A token from a previous call to `releases.list` or `channels.releases.list` that tells the server where to resume listing."
                    }
                  },
                  "response": {
                    "$ref": "ListReleasesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "get": {
                  "description": "Gets the specified release for a site or channel. When used to get a release for a site, this can get releases for both the default `live` channel and any active preview channels for the specified site.",
                  "response": {
                    "$ref": "Release"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The fully-qualified resource name for the Hosting release, in either of the following formats: - sites/SITE_ID/channels/CHANNEL_ID/releases/RELEASE_ID - sites/SITE_ID/releases/RELEASE_ID ",
                      "type": "string",
                      "pattern": "^projects/[^/]+/sites/[^/]+/releases/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/releases/{releasesId}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "path": "v1beta1/{+name}",
                  "id": "firebasehosting.projects.sites.releases.get"
                },
                "create": {
                  "description": "Creates a new release, which makes the content of the specified version actively display on the appropriate URL(s).",
                  "request": {
                    "$ref": "Release"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/releases",
                  "httpMethod": "POST",
                  "path": "v1beta1/{+parent}/releases",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "versionName": {
                      "description": " The unique identifier for a version, in the format: sites/SITE_ID/versions/ VERSION_ID The SITE_ID in this version identifier must match the SITE_ID in the `parent` parameter. This query parameter must be empty if the `type` field in the request body is `SITE_DISABLE`.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "type": "string",
                      "description": "Required. The site or channel to which the release belongs, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID"
                    }
                  },
                  "id": "firebasehosting.projects.sites.releases.create",
                  "response": {
                    "$ref": "Release"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                }
              }
            },
            "domains": {
              "methods": {
                "update": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/domains/{domainsId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The name of the domain association to update or create, if an association doesn't already exist.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/sites/[^/]+/domains/[^/]+$"
                    }
                  },
                  "id": "firebasehosting.projects.sites.domains.update",
                  "description": "Updates the specified domain mapping, creating the mapping as if it does not exist.",
                  "httpMethod": "PUT",
                  "response": {
                    "$ref": "Domain"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta1/{+name}",
                  "request": {
                    "$ref": "Domain"
                  }
                },
                "delete": {
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/domains/{domainsId}",
                  "id": "firebasehosting.projects.sites.domains.delete",
                  "path": "v1beta1/{+name}",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Deletes the existing domain mapping on the specified site.",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The name of the domain association to delete.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/sites/[^/]+/domains/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                },
                "create": {
                  "request": {
                    "$ref": "Domain"
                  },
                  "description": "Creates a domain mapping on the specified site.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "httpMethod": "POST",
                  "path": "v1beta1/{+parent}/domains",
                  "response": {
                    "$ref": "Domain"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The parent to create the domain association for, in the format: sites/site-name",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/sites/[^/]+$"
                    }
                  },
                  "id": "firebasehosting.projects.sites.domains.create",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/domains",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "list": {
                  "response": {
                    "$ref": "ListDomainsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The parent for which to list domains, in the format: sites/ site-name",
                      "type": "string",
                      "pattern": "^projects/[^/]+/sites/[^/]+$"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The next_page_token from a previous request, if provided."
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The page size to return. Defaults to 50.",
                      "location": "query"
                    }
                  },
                  "id": "firebasehosting.projects.sites.domains.list",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/domains",
                  "httpMethod": "GET",
                  "path": "v1beta1/{+parent}/domains",
                  "description": "Lists the domains for the specified site."
                },
                "get": {
                  "id": "firebasehosting.projects.sites.domains.get",
                  "path": "v1beta1/{+name}",
                  "response": {
                    "$ref": "Domain"
                  },
                  "description": "Gets a domain mapping on the specified site.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The name of the domain configuration to get.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/sites/[^/]+/domains/[^/]+$",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/domains/{domainsId}",
                  "httpMethod": "GET"
                }
              }
            },
            "customDomains": {
              "methods": {
                "undelete": {
                  "path": "v1beta1/{+name}:undelete",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "firebasehosting.projects.sites.customDomains.undelete",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the `CustomDomain` to delete.",
                      "pattern": "^projects/[^/]+/sites/[^/]+/customDomains/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "UndeleteCustomDomainRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Undeletes the specified `CustomDomain` if it has been soft-deleted. Hosting retains soft-deleted custom domains for around 30 days before permanently deleting them.",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/customDomains/{customDomainsId}:undelete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                },
                "list": {
                  "description": "Lists each `CustomDomain` associated with the specified parent Hosting site. Returns `CustomDomain`s in a consistent, but undefined, order to facilitate pagination.",
                  "parameters": {
                    "showDeleted": {
                      "type": "boolean",
                      "description": "If true, the request returns soft-deleted `CustomDomain`s that haven't been fully-deleted yet. To restore deleted `CustomDomain`s, make an `UndeleteCustomDomain` request.",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "description": "Required. The Firebase Hosting `Site` with `CustomDomain` entities you'd like to list."
                    },
                    "pageSize": {
                      "description": "The max number of `CustomDomain` entities to return in a request. Defaults to 10.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A token from a previous call to `ListCustomDomains` that tells the server where to resume listing.",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "ListCustomDomainsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "id": "firebasehosting.projects.sites.customDomains.list",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/customDomains",
                  "path": "v1beta1/{+parent}/customDomains"
                },
                "patch": {
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/customDomains/{customDomainsId}",
                  "request": {
                    "$ref": "CustomDomain"
                  },
                  "httpMethod": "PATCH",
                  "path": "v1beta1/{+name}",
                  "id": "firebasehosting.projects.sites.customDomains.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "description": "Output only. The fully-qualified name of the `CustomDomain`.",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/sites/[^/]+/customDomains/[^/]+$"
                    },
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "The set of field names from your `CustomDomain` that you want to update. A field will be overwritten if, and only if, it's in the mask. If you don't provide a mask, Hosting updates the entire `CustomDomain`."
                    },
                    "allowMissing": {
                      "type": "boolean",
                      "description": "If true, Hosting creates the `CustomDomain` if it doesn't already exist.",
                      "location": "query"
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "description": "If true, Hosting validates that it's possible to complete your request but doesn't actually create or update the `CustomDomain`.",
                      "location": "query"
                    }
                  },
                  "description": "Updates the specified `CustomDomain`."
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1beta1/{+parent}/customDomains",
                  "parameters": {
                    "validateOnly": {
                      "location": "query",
                      "description": "If true, Hosting validates that it's possible to complete your request but doesn't actually create a new `CustomDomain`.",
                      "type": "boolean"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The custom domain's parent, specifically a Firebase Hosting `Site`."
                    },
                    "customDomainId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. The ID of the `CustomDomain`, which is the domain name you'd like to use with Firebase Hosting."
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebasehosting.projects.sites.customDomains.create",
                  "request": {
                    "$ref": "CustomDomain"
                  },
                  "description": "Creates a `CustomDomain`.",
                  "httpMethod": "POST",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/customDomains"
                },
                "get": {
                  "id": "firebasehosting.projects.sites.customDomains.get",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/customDomains/{customDomainsId}",
                  "description": "Gets the specified `CustomDomain`.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/sites/[^/]+/customDomains/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the `CustomDomain` to get."
                    }
                  },
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "CustomDomain"
                  },
                  "path": "v1beta1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "DELETE",
                  "path": "v1beta1/{+name}",
                  "description": "Deletes the specified `CustomDomain`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "firebasehosting.projects.sites.customDomains.delete",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/customDomains/{customDomainsId}",
                  "parameters": {
                    "etag": {
                      "location": "query",
                      "description": "A tag that represents the state of the `CustomDomain` as you know it. If present, the supplied tag must match the current value on your `CustomDomain`, or the request fails.",
                      "type": "string"
                    },
                    "allowMissing": {
                      "type": "boolean",
                      "description": "If true, the request succeeds even if the `CustomDomain` doesn't exist.",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/sites/[^/]+/customDomains/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the `CustomDomain` to delete."
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "description": "If true, Hosting validates that it's possible to complete your request but doesn't actually delete the `CustomDomain`.",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                }
              },
              "resources": {
                "operations": {
                  "methods": {
                    "get": {
                      "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/customDomains/{customDomainsId}/operations/{operationsId}",
                      "description": "Gets the latest state of a long-running operation. Use this method to poll the operation result at intervals as recommended by the API service.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/firebase",
                        "https://www.googleapis.com/auth/firebase.readonly"
                      ],
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "firebasehosting.projects.sites.customDomains.operations.get",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/sites/[^/]+/customDomains/[^/]+/operations/[^/]+$",
                          "description": "The name of the operation resource.",
                          "location": "path",
                          "required": true
                        }
                      },
                      "path": "v1beta1/{+name}"
                    },
                    "list": {
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListOperationsResponse"
                      },
                      "id": "firebasehosting.projects.sites.customDomains.operations.list",
                      "path": "v1beta1/{+name}/operations",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/firebase",
                        "https://www.googleapis.com/auth/firebase.readonly"
                      ],
                      "description": "Lists operations that match the specified filter in the request.",
                      "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/customDomains/{customDomainsId}/operations",
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "description": "The standard list page token.",
                          "location": "query"
                        },
                        "name": {
                          "required": true,
                          "description": "The name of the operation's parent resource.",
                          "pattern": "^projects/[^/]+/sites/[^/]+/customDomains/[^/]+$",
                          "location": "path",
                          "type": "string"
                        },
                        "filter": {
                          "description": "The standard list filter.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The standard list page size.",
                          "location": "query"
                        },
                        "returnPartialSuccess": {
                          "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                          "type": "boolean",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                }
              }
            },
            "channels": {
              "methods": {
                "patch": {
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "Channel"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v1beta1/{+name}",
                  "response": {
                    "$ref": "Channel"
                  },
                  "description": "Updates information for the specified channel of the specified site. Implicitly creates the channel if it doesn't already exist.",
                  "id": "firebasehosting.projects.sites.channels.patch",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}",
                  "parameters": {
                    "name": {
                      "description": "The fully-qualified resource name for the channel, in the format: sites/ SITE_ID/channels/CHANNEL_ID",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+$"
                    },
                    "updateMask": {
                      "type": "string",
                      "description": "A comma-separated list of fields to be updated in this request.",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists the channels for the specified site. All sites have a default `live` channel.",
                  "id": "firebasehosting.projects.sites.channels.list",
                  "httpMethod": "GET",
                  "path": "v1beta1/{+parent}/channels",
                  "response": {
                    "$ref": "ListChannelsResponse"
                  },
                  "parameters": {
                    "pageSize": {
                      "description": "The maximum number of channels to return. The service may return a lower number if fewer channels exist than this maximum number. If unspecified, defaults to 10. The maximum value is 100; values above 100 will be coerced to 100.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The site for which to list channels, in the format: sites/SITE_ID"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A token from a previous call to `ListChannels` that tells the server where to resume listing.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ]
                },
                "create": {
                  "id": "firebasehosting.projects.sites.channels.create",
                  "request": {
                    "$ref": "Channel"
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Channel"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1beta1/{+parent}/channels",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "description": "Required. The site in which to create this channel, in the format: sites/ SITE_ID",
                      "location": "path",
                      "required": true
                    },
                    "channelId": {
                      "description": "Required. Immutable. A unique ID within the site that identifies the channel.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels",
                  "description": "Creates a new channel in the specified site."
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The fully-qualified resource name for the channel, in the format: sites/SITE_ID/channels/CHANNEL_ID",
                      "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1beta1/{+name}",
                  "httpMethod": "DELETE",
                  "id": "firebasehosting.projects.sites.channels.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}",
                  "description": "Deletes the specified channel of the specified site. The `live` channel cannot be deleted."
                },
                "get": {
                  "description": "Retrieves information for the specified channel of the specified site.",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. The fully-qualified resource name for the channel, in the format: sites/SITE_ID/channels/CHANNEL_ID",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Channel"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "path": "v1beta1/{+name}",
                  "id": "firebasehosting.projects.sites.channels.get"
                }
              },
              "resources": {
                "releases": {
                  "methods": {
                    "list": {
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListReleasesResponse"
                      },
                      "description": "Lists the releases that have been created for the specified site or channel. When used to list releases for a site, this list includes releases for both the default `live` channel and any active preview channels for the specified site.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "pageToken": {
                          "description": "A token from a previous call to `releases.list` or `channels.releases.list` that tells the server where to resume listing.",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+$",
                          "description": "Required. The site or channel for which to list releases, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID ",
                          "location": "path",
                          "required": true
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "The maximum number of releases to return. The service may return a lower number if fewer releases exist than this maximum number. If unspecified, defaults to 100.",
                          "format": "int32",
                          "location": "query"
                        }
                      },
                      "path": "v1beta1/{+parent}/releases",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/firebase",
                        "https://www.googleapis.com/auth/firebase.readonly"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}/releases",
                      "id": "firebasehosting.projects.sites.channels.releases.list"
                    },
                    "get": {
                      "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}/releases/{releasesId}",
                      "path": "v1beta1/{+name}",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/firebase",
                        "https://www.googleapis.com/auth/firebase.readonly"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+/releases/[^/]+$",
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "Required. The fully-qualified resource name for the Hosting release, in either of the following formats: - sites/SITE_ID/channels/CHANNEL_ID/releases/RELEASE_ID - sites/SITE_ID/releases/RELEASE_ID "
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Release"
                      },
[...]
