{
  "servicePath": "",
  "title": "Firebase App Hosting API",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version": "v1beta",
  "mtlsRootUrl": "https://firebaseapphosting.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "revision": "20260827",
  "baseUrl": "https://firebaseapphosting.googleapis.com/",
  "id": "firebaseapphosting:v1beta",
  "kind": "discovery#restDescription",
  "description": "Firebase App Hosting streamlines the development and deployment of dynamic Next.js and Angular applications, offering built-in framework support, GitHub integration, and integration with other Firebase products. You can use this API to intervene in the Firebase App Hosting build process and add custom functionality not supported in our default Console & CLI flows, including triggering builds from external CI/CD workflows or deploying from pre-built container images. ",
  "version_module": true,
  "ownerDomain": "google.com",
  "canonicalName": "Firebase App Hosting",
  "name": "firebaseapphosting",
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "EnvironmentVariable": {
      "id": "EnvironmentVariable",
      "description": "Environment variables for this build.",
      "type": "object",
      "properties": {
        "variable": {
          "description": "Required. The name of the environment variable. The environment variables reserved by [Cloud Run](https://docs.cloud.google.com/run/docs/configuring/services/environment-variables#reserved) should not be set. Additionally, variable names cannot start with \"X_FIREBASE_\".",
          "type": "string"
        },
        "availability": {
          "type": "array",
          "description": "Optional. Where this variable should be made available. If left unspecified, will be available in both BUILD and BACKEND.",
          "items": {
            "enumDescriptions": [
              "The default value, unspecified, which is unused.",
              "This value is available when creating a Build from source code.",
              "This value is available at runtime within Cloud Run."
            ],
            "type": "string",
            "enum": [
              "AVAILABILITY_UNSPECIFIED",
              "BUILD",
              "RUNTIME"
            ]
          }
        },
        "value": {
          "description": "A plaintext value. This value is encrypted at rest, but all project readers can view the value when reading your backend configuration.",
          "type": "string"
        },
        "secret": {
          "type": "string",
          "description": "A fully qualified secret version. The value of the secret will be accessed once while building the application and once per cold start of the container at runtime. The service account used by Cloud Build and by Cloud Run must each have the `secretmanager.versions.access` permission on the secret."
        },
        "origin": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Source is unspecified.",
            "Variable was set on the backend resource (e.g. via API or Console). Represents variables from `Backend.override_env`",
            "Variable was provided specifically for the build upon creation via the `Build.Config.env` field. Only used for pre-built images.",
            "Variable is defined in apphosting.yaml file.",
            "Variable is defined provided by the firebase platform."
          ],
          "description": "Output only. The high-level origin category of the environment variable.",
          "enum": [
            "ORIGIN_UNSPECIFIED",
            "BACKEND_OVERRIDES",
            "BUILD_CONFIG",
            "APPHOSTING_YAML",
            "FIREBASE_SYSTEM"
          ]
        },
        "originFileName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Specific detail about the source. For APPHOSTING_YAML origins, this will contain the exact filename, such as \"apphosting.yaml\" or \"apphosting.staging.yaml\"."
        }
      }
    },
    "LocallyBuiltSource": {
      "description": "The URI of an storage archive to use as the build source.",
      "type": "object",
      "properties": {
        "env": {
          "items": {
            "$ref": "EnvironmentVariable"
          },
          "description": "Optional. Supplied runtime environment variables for a specific build. Provided at Build creation time and immutable afterwards.",
          "type": "array"
        },
        "rootDirectory": {
          "description": "Optional. The directory relative to the root of the archive to use as the root for the deployed web app. Defaults to use the root of the repository if not provided. If deploying a [monorepo](https://firebase.google.com/docs/app-hosting/monorepos), this should be the directory that contains the built source of the app.",
          "type": "string"
        },
        "runConfig": {
          "$ref": "RunConfig",
          "description": "Optional. Additional configuration of the Cloud Run [`service`](https://cloud.google.com/run/docs/reference/rest/v2/projects.locations.services#resource:-service)."
        },
        "description": {
          "type": "string",
          "description": "Optional. An optional message that describes the uploaded version of the source code."
        },
        "userStorageUri": {
          "description": "URI to an archive in Cloud Storage. The object must be a gzipped archive file (.tar.gz) containing source to deploy.",
          "type": "string"
        },
        "runCommand": {
          "type": "string",
          "description": "Optional. The command to run to start the app. If provided, it will override apphosting's default run commands. See [`Override build and run scripts`](https://firebase.google.com/docs/app-hosting/configure#override-scripts)"
        }
      },
      "id": "LocallyBuiltSource"
    },
    "LiveMigrationStep": {
      "id": "LiveMigrationStep",
      "properties": {
        "issues": {
          "items": {
            "$ref": "Status"
          },
          "description": "Output only. Issues that prevent the current step from completing.",
          "readOnly": true,
          "type": "array"
        },
        "relevantDomainStates": {
          "items": {
            "enumDescriptions": [
              "This message is invalid if this is unspecified.",
              "The custom domain's host state.",
              "The custom domain's ownership state.",
              "The custom domain's certificate state."
            ],
            "type": "string",
            "enum": [
              "CUSTOM_DOMAIN_STATE_UNSPECIFIED",
              "HOST_STATE",
              "OWNERSHIP_STATE",
              "CERT_STATE"
            ]
          },
          "description": "Output only. One or more states from the `CustomDomainStatus` of the migrating domain that this step is attempting to make ACTIVE. For example, if the step is attempting to mint an SSL certificate, this field will include `CERT_STATE`.",
          "type": "array",
          "readOnly": true
        },
        "stepState": {
          "enum": [
            "STEP_STATE_UNSPECIFIED",
            "PREPARING",
            "PENDING",
            "INCOMPLETE",
            "PROCESSING",
            "COMPLETE"
          ],
          "readOnly": true,
          "description": "Output only. The state of the live migration step, indicates whether you should work to complete the step now, in the future, or have already completed it.",
          "enumDescriptions": [
            "The step's state is unspecified. The message is invalid if this is unspecified.",
            "App Hosting doesn't have enough information to construct the step yet. Complete any prior steps and/or resolve this step's issue to proceed.",
            "The step's state is pending. Complete prior steps before working on a `PENDING` step.",
            "The step is incomplete. You should complete any `dnsUpdates` changes to complete it.",
            "You've done your part to update records and present challenges as necessary. App Hosting is now completing background processes to complete the step, e.g. minting an SSL cert for your domain.",
            "The step is complete. You've already made the necessary changes to your domain and/or prior hosting service to advance to the next step. Once all steps are complete, App Hosting is ready to serve secure content on your domain."
          ],
          "type": "string"
        },
        "dnsUpdates": {
          "type": "array",
          "description": "Output only. DNS updates to facilitate your domain's zero-downtime migration to App Hosting.",
          "readOnly": true,
          "items": {
            "$ref": "DnsUpdates"
          }
        }
      },
      "description": "A set of updates including ACME challenges and DNS records that allow App Hosting to create an SSL certificate and establish project ownership for your domain name before you direct traffic to App Hosting servers. Use these updates to facilitate zero downtime migrations to App Hosting from other services. After you've made the recommended updates, check your custom domain's `ownershipState` and `certState`. To avoid downtime, they should be `OWNERSHIP_ACTIVE` and `CERT_ACTIVE`, respectively, before you update your `A` and `AAAA` records.",
      "type": "object"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "id": "Operation"
    },
    "RunConfig": {
      "properties": {
        "memoryMib": {
          "format": "int32",
          "description": "Optional. Amount of memory allocated for each serving instance in MiB. By default, memory defaults to the Cloud Run's default where each instance is allocated 512 MiB of memory. Memory can be set to any integer value between 128 to 32768. Increasing memory limit may require increase in CPUs limits: - Over 4 GiB: at least 2 CPUs - Over 8 GiB: at least 4 CPUs - Over 16 GiB: at least 6 CPUs - Over 24 GiB: at least 8 CPUs",
          "type": "integer"
        },
        "concurrency": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Maximum number of requests that each Cloud Run instance can receive. By default, each instance can receive Cloud Run's default of up to 80 requests at the same time. Concurrency can be set to any integer value up to 1000."
        },
        "cpu": {
          "type": "number",
          "description": "Optional. Number of CPUs used for each serving instance. By default, cpu defaults to the Cloud Run's default of 1.0. CPU can be set to value 1, 2, 4, 6, or 8 CPUs, and for less than 1 CPU, a value from 0.08 to less than 1.00, in increments of 0.01. If you set a value of less than 1 CPU, you must set concurrency to 1, and CPU will only be allocated during request processing. Increasing CPUs limit may require increase in memory limits: - 4 CPUs: at least 2 GiB - 6 CPUs: at least 4 GiB - 8 CPUs: at least 4 GiB",
          "format": "float"
        },
        "minInstances": {
          "description": "Optional. Number of Cloud Run instances to maintain at minimum for each Cloud Run Service. By default, there are no minimum. Even if the service splits traffic across multiple revisions, the total number of instances for a service will be capped at this value.",
          "format": "int32",
          "type": "integer"
        },
        "maxInstances": {
          "type": "integer",
          "description": "Optional. Number of Cloud Run instances to maintain at maximum for each revision. By default, each Cloud Run [`service`](https://cloud.google.com/run/docs/reference/rest/v2/projects.locations.services#resource:-service) scales out to Cloud Run's default of a maximum of 100 instances. The maximum max_instances limit is based on your quota. See https://cloud.google.com/run/docs/configuring/max-instances#limits.",
          "format": "int32"
        }
      },
      "id": "RunConfig",
      "type": "object",
      "description": "Configuration applied to the Cloud Run [`service`](https://cloud.google.com/run/docs/reference/rest/v2/projects.locations.services#resource:-service)."
    },
    "DnsUpdates": {
      "type": "object",
      "properties": {
        "domainName": {
          "description": "Output only. The domain name the DNS updates pertain to.",
          "readOnly": true,
          "type": "string"
        },
        "discovered": {
          "items": {
            "$ref": "DnsRecordSet"
          },
          "description": "Output only. The set of DNS records App Hosting discovered when inspecting a domain.",
          "readOnly": true,
          "type": "array"
        },
        "desired": {
          "items": {
            "$ref": "DnsRecordSet"
          },
          "type": "array",
          "description": "Output only. The set of DNS records App Hosting needs in order to be able to serve secure content on the domain.",
          "readOnly": true
        },
        "checkTime": {
          "readOnly": true,
          "description": "Output only. The last time App Hosting checked your custom domain's DNS records.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "A set of DNS record updates that you should make to allow App Hosting to serve secure content in response to requests against your domain. These updates present the current state of your domain's and related subdomains' DNS records when App Hosting last queried them, and the desired set of records that App Hosting needs to see before your custom domain can be fully active.",
      "id": "DnsUpdates"
    },
    "Location": {
      "type": "object",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          }
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        }
      },
      "id": "Location",
      "description": "A resource that represents a Google Cloud location."
    },
    "ListLocationsResponse": {
      "type": "object",
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "ServingBehavior": {
      "description": "Indicates whether App Hosting will serve content on the domain.",
      "type": "object",
      "properties": {
        "redirect": {
          "description": "Optional. Redirect behavior for a domain, if provided.",
          "$ref": "Redirect"
        }
      },
      "id": "ServingBehavior"
    },
    "ManagedResource": {
      "type": "object",
      "id": "ManagedResource",
      "properties": {
        "runService": {
          "$ref": "RunService",
          "description": "A Cloud Run [`service`](https://cloud.google.com/run/docs/reference/rest/v2/projects.locations.services#resource:-service), managed by App Hosting."
        }
      },
      "description": "An external resource managed by App Hosting on the project."
    },
    "RolloutPolicy": {
      "properties": {
        "disabledTime": {
          "description": "Output only. If `disabled` is set, the time at which the automatic rollouts were disabled.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "disabled": {
          "type": "boolean",
          "description": "Optional. A flag that, if true, prevents automatic rollouts from being created via this RolloutPolicy."
        },
        "requiredPaths": {
          "description": "Optional. A list of file paths patterns that trigger a build and rollout if at least one of the changed files in the commit are present in this list. This field is optional; the rollout policy will default to triggering on all paths if both ignored_paths and required_paths are not populated. Limited to 100 paths. Example: ``` required_paths: { pattern: \"foo/bar/*\", type: \"GLOB\" } ```",
          "items": {
            "$ref": "Path"
          },
          "type": "array"
        },
        "ignoredPaths": {
          "items": {
            "$ref": "Path"
          },
          "description": "Optional. A list of file paths patterns to exclude from triggering a rollout. Patterns in this list take precedence over required_paths. **Note**: All paths must be in the ignored_paths in order for the rollout to be skipped. Limited to 100 paths. Example: ``` ignored_paths: { pattern: \"foo/bar/excluded/*\", type: \"GLOB\" } ```",
          "type": "array"
        },
        "codebaseBranch": {
          "description": "If set, specifies a branch that triggers a new build to be started with this policy. Otherwise, no automatic rollouts will happen.",
          "type": "string"
        }
      },
      "id": "RolloutPolicy",
      "description": "The policy for how automatic builds and rollouts are triggered and rolled out.",
      "type": "object"
    },
    "BackendRuntime": {
      "id": "BackendRuntime",
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "Optional. The value of the runtime."
        }
      },
      "description": "Runtime is a string that represents the runtime that is used to build the backend. Users can specify one of the following runtimes: nodejs20, nodejs22, nodejs24, nodejs. Runtime \"nodejs\" means that nodejs version will be determined at build time. If not specified or specified with a value that is not in the list above, the default runtime `nodejs` will be used and Automatic Base Image Updates will be disabled. See [Firebase documentation](https://firebase.google.com/docs/app-hosting/frameworks-tooling#managing_runtime_versions) for more details."
    },
    "Codebase": {
      "id": "Codebase",
      "type": "object",
      "properties": {
        "repository": {
          "description": "Required. The resource name for the Developer Connect [`gitRepositoryLink`](https://cloud.google.com/developer-connect/docs/api/reference/rest/v1/projects.locations.connections.gitRepositoryLinks) connected to this backend, in the format: `projects/{project}/locations/{location}/connections/{connection}/gitRepositoryLinks/{repositoryLink}` The connection for the `gitRepositoryLink` must made be using the Firebase App Hosting GitHub App via the Firebase Console.",
          "type": "string"
        },
        "rootDirectory": {
          "description": "Optional. If `repository` is provided, the directory relative to the root of the repository to use as the root for the deployed web app. Defaults to use the root of the repository if not provided. If deploying a [monorepo](https://firebase.google.com/docs/app-hosting/monorepos), this should be the directory that contains the `package.json` or `apphosting.yaml` file.",
          "type": "string"
        }
      },
      "description": "The connection to an external source repository to watch for event-driven updates to the backend."
    },
    "ListBuildsResponse": {
      "type": "object",
      "id": "ListBuildsResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token identifying the next page of results the server should return.",
          "type": "string"
        },
        "builds": {
          "items": {
            "$ref": "Build"
          },
          "description": "The list of builds.",
          "type": "array"
        }
      },
      "description": "Message for response to list builds."
    },
    "UserMetadata": {
      "id": "UserMetadata",
      "type": "object",
      "description": "Version control metadata for a user associated with a resolved codebase. Currently assumes a Git user.",
      "properties": {
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The 'name' field in a Git user's git.config. Required by Git."
        },
        "email": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The 'email' field in a Git user's git.config, if available."
        },
        "imageUri": {
          "description": "Output only. The URI of an image file associated with the user's account in an external source control provider, if available.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "Traffic": {
      "type": "object",
      "properties": {
        "reconciling": {
          "description": "Output only. A field that, if true, indicates that the system is working to make the backend's `current` match the requested `target` list.",
          "readOnly": true,
          "type": "boolean"
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. System-assigned, unique identifier."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time at which the backend was created.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time at which the backend was last updated.",
          "type": "string"
        },
        "rolloutPolicy": {
          "description": "A rollout policy specifies how new builds and automatic deployments are created.",
          "$ref": "RolloutPolicy"
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-computed checksum based on other values; may be sent on update or delete to ensure operation is done on expected resource."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Unstructured key value map that can be used to organize and categorize objects."
        },
        "annotations": {
          "description": "Optional. Unstructured key value map that may be set by external tools to store and arbitrary metadata. They are not queryable and should be preserved when modifying objects.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "target": {
          "description": "Set to manually control the desired traffic for the backend. This will cause `current` to eventually match this value. The percentages must add up to 100%.",
          "$ref": "TrafficSet"
        },
        "current": {
          "description": "Output only. Current state of traffic allocation for the backend. When setting `target`, this field may differ for some time until the desired state is reached.",
          "$ref": "TrafficSet",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the backend's traffic. Format: `projects/{project}/locations/{locationId}/backends/{backendId}/traffic`."
        }
      },
      "description": "Controls traffic configuration for the backend.",
      "id": "Traffic"
    },
    "DnsRecordSet": {
      "description": "A set of DNS records relevant to the setup and maintenance of a custom domain in App Hosting.",
      "properties": {
        "checkError": {
          "$ref": "Status",
          "readOnly": true,
          "description": "Output only. An error App Hosting services encountered when querying your domain's DNS records. Note: App Hosting ignores `NXDOMAIN` errors, as those generally just mean that a domain name hasn't been set up yet."
        },
        "records": {
          "items": {
            "$ref": "DnsRecord"
          },
          "description": "Output only. Records on the domain.",
          "type": "array",
          "readOnly": true
        },
        "domainName": {
          "type": "string",
          "description": "Output only. The domain name the record set pertains to.",
          "readOnly": true
        }
      },
      "id": "DnsRecordSet",
      "type": "object"
    },
    "Rollout": {
      "properties": {
        "etag": {
          "description": "Output only. Server-computed checksum based on other values; may be sent on update or delete to ensure operation is done on expected resource.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the rollout. Format: `projects/{project}/locations/{locationId}/backends/{backendId}/rollouts/{rolloutId}`."
        },
        "error": {
          "readOnly": true,
          "description": "Output only. A status and (human readable) error message for the rollout, if in a `FAILED` state.",
          "$ref": "Status"
        },
        "labels": {
          "description": "Optional. Unstructured key value map that can be used to organize and categorize objects.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "deleteTime": {
          "description": "Output only. Time at which the rollout was deleted.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "The rollout is in an unknown state.",
            "The rollout is waiting for actuation to begin. This may be because it is waiting on another rollout to complete.",
            "The rollout is waiting for the build process to complete, which builds the code and sets up the underlying infrastructure.",
            "The rollout has started and is actively modifying traffic.",
            "The rollout has been paused due to either being manually paused or a PAUSED stage. This should be set while `paused = true`.",
            "The rollout has completed.",
            "The rollout has failed. See error for more information.",
            "The rollout has been cancelled.",
            "The rollout has been skipped."
          ],
          "description": "Output only. The state of the rollout.",
          "enum": [
            "STATE_UNSPECIFIED",
            "QUEUED",
            "PENDING_BUILD",
            "PROGRESSING",
            "PAUSED",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED",
            "SKIPPED"
          ],
          "readOnly": true
        },
        "annotations": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Unstructured key value map that may be set by external tools to store and arbitrary metadata. They are not queryable and should be preserved when modifying objects."
        },
        "build": {
          "type": "string",
          "description": "Required. Immutable. The name of a build that already exists. It doesn't have to be built; a rollout will wait for a build to be ready before updating traffic."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time at which the rollout was created.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Time at which the rollout was last updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "reconciling": {
          "description": "Output only. A field that, if true, indicates that the Rollout currently has an LRO.",
          "readOnly": true,
          "type": "boolean"
        },
        "uid": {
          "type": "string",
          "description": "Output only. System-assigned, unique identifier.",
          "readOnly": true
        },
        "displayName": {
          "description": "Optional. Human-readable name. 63 character limit.",
          "type": "string"
        }
      },
      "id": "Rollout",
      "description": "A single rollout of a build for a backend.",
      "type": "object"
    },
    "BuildSource": {
      "type": "object",
      "description": "The source for the build.",
      "properties": {
        "codebase": {
          "$ref": "CodebaseSource",
          "description": "A codebase source."
        },
        "locallyBuilt": {
          "description": "A source that was pre-built locally.",
          "$ref": "LocallyBuiltSource"
        },
        "container": {
          "description": "An Artifact Registry container image source.",
          "$ref": "ContainerSource"
        },
        "archive": {
          "description": "An archive source.",
          "$ref": "ArchiveSource"
        }
      },
      "id": "BuildSource"
    },
    "DnsRecord": {
      "id": "DnsRecord",
      "description": "A representation of a DNS records for a domain. DNS records are resource records that define how systems and services should behave when handling requests for a domain. For example, when you add `A` records to your domain's DNS records, you're informing other systems (such as your users' web browsers) to contact those IPv4 addresses to retrieve resources relevant to your domain (such as your App Hosting files).",
      "properties": {
        "domainName": {
          "type": "string",
          "description": "Output only. The domain the record pertains to, e.g. `foo.bar.com.`.",
          "readOnly": true
        },
        "relevantState": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "CUSTOM_DOMAIN_STATE_UNSPECIFIED",
              "HOST_STATE",
              "OWNERSHIP_STATE",
              "CERT_STATE"
            ],
            "enumDescriptions": [
              "This message is invalid if this is unspecified.",
              "The custom domain's host state.",
              "The custom domain's ownership state.",
              "The custom domain's certificate state."
            ]
          },
          "description": "Output only. An enum that indicates which state(s) this DNS record applies to. Populated for all records with an `ADD` or `REMOVE` required action.",
          "readOnly": true
        },
        "rdata": {
          "type": "string",
          "description": "Output only. The data of the record. The meaning of the value depends on record type: - A and AAAA: IP addresses for the domain. - CNAME: Another domain to check for records. - TXT: Arbitrary text strings associated with the domain. App Hosting uses TXT records to determine which Firebase projects have permission to act on the domain's behalf. - CAA: The record's flags, tag, and value, e.g. `0 issue \"pki.goog\"`.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "The record's type is unspecified. The message is invalid if this is unspecified.",
            "An `A` record, as defined in [RFC 1035](https://tools.ietf.org/html/rfc1035). A records determine which IPv4 addresses a domain directs traffic towards.",
            "A `CNAME` record, as defined in [RFC 1035](https://tools.ietf.org/html/rfc1035). `CNAME` or Canonical Name records map a domain to a different, canonical domain. If a `CNAME` record is present, it should be the only record on the domain.",
            "A `TXT` record, as defined in [RFC 1035](https://tools.ietf.org/html/rfc1035). `TXT` records hold arbitrary text data on a domain. Hosting uses `TXT` records to establish which Firebase Project has permission to act on a domain.",
            "An AAAA record, as defined in [RFC 3596](https://tools.ietf.org/html/rfc3596) AAAA records determine which IPv6 addresses a domain directs traffic towards.",
            "A CAA record, as defined in [RFC 6844](https://tools.ietf.org/html/rfc6844). CAA, or Certificate Authority Authorization, records determine which Certificate Authorities (SSL certificate minting organizations) are authorized to mint a certificate for the domain. App Hosting uses `pki.goog` as its primary CA. CAA records cascade. A CAA record on `foo.com` also applies to `bar.foo.com` unless `bar.foo.com` has its own set of CAA records. CAA records are optional. If a domain and its parents have no CAA records, all CAs are authorized to mint certificates on its behalf. In general, App Hosting only asks you to modify CAA records when doing so is required to unblock SSL cert creation."
          ],
          "description": "Output only. The record's type, which determines what data the record contains.",
          "readOnly": true,
          "enum": [
            "TYPE_UNSPECIFIED",
            "A",
            "CNAME",
            "TXT",
            "AAAA",
            "CAA"
          ]
        },
        "requiredAction": {
          "enum": [
            "NONE",
            "ADD",
            "REMOVE"
          ],
          "readOnly": true,
          "description": "Output only. An enum that indicates the a required action for this record. Populated when the record is part of a required change in a `DnsUpdates` `discovered` or `desired` record set.",
          "enumDescriptions": [
            "No action necessary.",
            "Add this record to your DNS records.",
            "Remove this record from your DNS records."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "CustomDomainOperationMetadata": {
      "description": "Additional metadata for operations on custom domains.",
      "type": "object",
      "properties": {
        "certState": {
          "enumDescriptions": [
            "The certificate's state is unspecified. The message is invalid if this is unspecified.",
            "The initial state of every certificate, represents App Hosting's intent to create a certificate before requests to a Certificate Authority are made.",
            "App Hosting is validating whether a domain name's DNS records are in a state that allow certificate creation on its behalf.",
            "The certificate was recently created, and needs time to propagate in App Hosting's load balancers.",
            "The certificate is active, providing secure connections for the domain names it represents.",
            "The certificate is expiring, all domain names on it will be given new certificates.",
            "The certificate has expired. App Hosting can no longer serve secure content on your domain name."
          ],
          "type": "string",
          "description": "Output only. The custom domain's `CertState`, which must be `CERT_ACTIVE` for the create operations to complete.",
          "readOnly": true,
          "enum": [
            "CERT_STATE_UNSPECIFIED",
            "CERT_PREPARING",
            "CERT_VALIDATING",
            "CERT_PROPAGATING",
            "CERT_ACTIVE",
            "CERT_EXPIRING_SOON",
            "CERT_EXPIRED"
          ]
        },
        "quickSetupUpdates": {
          "items": {
            "$ref": "DnsUpdates"
          },
          "type": "array",
          "description": "Output only. A set of DNS record updates to perform, to allow App Hosting to serve secure content on the domain.",
          "readOnly": true
        },
        "issues": {
          "items": {
            "$ref": "Status"
          },
          "description": "Output only. A list of issues that are currently preventing the operation from completing. These are generally DNS-related issues encountered when querying a domain's records or attempting to mint an SSL certificate.",
          "readOnly": true,
          "type": "array"
        },
        "ownershipState": {
          "enum": [
            "OWNERSHIP_STATE_UNSPECIFIED",
            "OWNERSHIP_MISSING",
            "OWNERSHIP_UNREACHABLE",
            "OWNERSHIP_MISMATCH",
            "OWNERSHIP_CONFLICT",
            "OWNERSHIP_PENDING",
            "OWNERSHIP_ACTIVE"
          ],
          "enumDescriptions": [
            "Your custom domain's ownership state is unspecified. This should never happen.",
            "Your custom domain's domain has no App-Hosting-related ownership records; no backend is authorized to serve on the domain in this Origin shard.",
            "Your custom domain can't be reached. App Hosting services' DNS queries to find your domain's ownership records resulted in errors. See your `CustomDomainStatus`'s `issues` field for more details.",
            "Your custom domain is owned by another App Hosting custom domain. Remove the conflicting records and replace them with records for your current custom domain.",
            "Your custom domain has conflicting `TXT` records that indicate ownership by both your current custom domain one or more others. Remove the extraneous ownership records to grant the current custom domain ownership.",
            "Your custom domain's DNS records are configured correctly. App Hosting will transfer ownership of your domain to this custom domain within 24 hours.",
            "Your custom domain owns its domain."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The custom domain's `OwnershipState`, which must be `OWNERSHIP_ACTIVE` for the create operations to complete."
        },
        "liveMigrationSteps": {
          "type": "array",
          "description": "Output only. A list of steps that the user must complete to migrate their domain to App Hosting without downtime.",
          "items": {
            "$ref": "LiveMigrationStep"
          },
          "readOnly": true
        },
        "hostState": {
          "enumDescriptions": [
            "Your custom domain's host state is unspecified. The message is invalid if this is unspecified.",
            "Your custom domain isn't associated with any IP addresses.",
            "Your custom domain can't be reached. App Hosting services' DNS queries to find your domain's IP addresses resulted in errors. See your `CustomDomainStatus`'s `issues` field for more details.",
            "Your domain has only IP addresses that don't ultimately resolve to App Hosting.",
            "Your domain has IP addresses that resolve to both App Hosting and to other services. To ensure consistent results, remove `A` and `AAAA` records related to non-App-Hosting services.",
            "Your domain has IP addresses that resolve to an incorrect instance of the App Hosting Data Plane. App Hosting has multiple data plane instances to ensure high availability. The SSL certificate that App Hosting creates for your domain is only available on its assigned instance. If your domain's IP addresses resolve to an incorrect instance, App Hosting won't be able to serve secure content on it.",
            "All requests against your domain are served by App Hosting, via your domain's assigned shard. If the custom domain's `OwnershipState` is also `OWNERSHIP_ACTIVE`, App Hosting serves its backend's content on requests for the domain."
          ],
          "description": "Output only. The custom domain's `HostState`, which must be `HOST_ACTIVE` for Create operations of the domain name this `CustomDomain` refers toto complete.",
          "enum": [
            "HOST_STATE_UNSPECIFIED",
            "HOST_UNHOSTED",
            "HOST_UNREACHABLE",
            "HOST_NON_FAH",
            "HOST_CONFLICT",
            "HOST_WRONG_SHARD",
            "HOST_ACTIVE"
          ],
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "CustomDomainOperationMetadata"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {},
      "id": "Empty"
    },
    "CustomDomainStatus": {
      "description": "The status of a custom domain's linkage to a backend.",
      "properties": {
        "hostState": {
          "enumDescriptions": [
            "Your custom domain's host state is unspecified. The message is invalid if this is unspecified.",
            "Your custom domain isn't associated with any IP addresses.",
            "Your custom domain can't be reached. App Hosting services' DNS queries to find your domain's IP addresses resulted in errors. See your `CustomDomainStatus`'s `issues` field for more details.",
            "Your domain has only IP addresses that don't ultimately resolve to App Hosting.",
            "Your domain has IP addresses that resolve to both App Hosting and to other services. To ensure consistent results, remove `A` and `AAAA` records related to non-App-Hosting services.",
            "Your domain has IP addresses that resolve to an incorrect instance of the App Hosting Data Plane. App Hosting has multiple data plane instances to ensure high availability. The SSL certificate that App Hosting creates for your domain is only available on its assigned instance. If your domain's IP addresses resolve to an incorrect instance, App Hosting won't be able to serve secure content on it.",
            "All requests against your domain are served by App Hosting, via your domain's assigned shard. If the custom domain's `OwnershipState` is also `OWNERSHIP_ACTIVE`, App Hosting serves its backend's content on requests for the domain."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. Tracks whether a custom domain is detected as appropriately directing traffic to App Hosting.",
          "enum": [
            "HOST_STATE_UNSPECIFIED",
            "HOST_UNHOSTED",
            "HOST_UNREACHABLE",
            "HOST_NON_FAH",
            "HOST_CONFLICT",
            "HOST_WRONG_SHARD",
            "HOST_ACTIVE"
          ]
        },
        "issues": {
          "description": "Output only. A list of issues with domain configuration. Allows users to self-correct problems with DNS records.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Status"
          }
        },
        "requiredDnsUpdates": {
          "readOnly": true,
          "description": "Output only. Lists the records that must added or removed to a custom domain's DNS in order to finish setup and start serving content. Field is present during onboarding. Also present after onboarding if one or more of the above states is not *_ACTIVE, indicating the domain's DNS records are in a bad state.",
          "type": "array",
          "items": {
            "$ref": "DnsUpdates"
          }
        },
        "ownershipState": {
          "description": "Output only. Tracks whether the backend is permitted to serve content on the domain, based off the domain's DNS records.",
          "readOnly": true,
          "enum": [
            "OWNERSHIP_STATE_UNSPECIFIED",
            "OWNERSHIP_MISSING",
            "OWNERSHIP_UNREACHABLE",
            "OWNERSHIP_MISMATCH",
            "OWNERSHIP_CONFLICT",
            "OWNERSHIP_PENDING",
            "OWNERSHIP_ACTIVE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Your custom domain's ownership state is unspecified. This should never happen.",
            "Your custom domain's domain has no App-Hosting-related ownership records; no backend is authorized to serve on the domain in this Origin shard.",
            "Your custom domain can't be reached. App Hosting services' DNS queries to find your domain's ownership records resulted in errors. See your `CustomDomainStatus`'s `issues` field for more details.",
            "Your custom domain is owned by another App Hosting custom domain. Remove the conflicting records and replace them with records for your current custom domain.",
            "Your custom domain has conflicting `TXT` records that indicate ownership by both your current custom domain one or more others. Remove the extraneous ownership records to grant the current custom domain ownership.",
            "Your custom domain's DNS records are configured correctly. App Hosting will transfer ownership of your domain to this custom domain within 24 hours.",
            "Your custom domain owns its domain."
          ]
        },
        "certState": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The certificate's state is unspecified. The message is invalid if this is unspecified.",
            "The initial state of every certificate, represents App Hosting's intent to create a certificate before requests to a Certificate Authority are made.",
            "App Hosting is validating whether a domain name's DNS records are in a state that allow certificate creation on its behalf.",
            "The certificate was recently created, and needs time to propagate in App Hosting's load balancers.",
            "The certificate is active, providing secure connections for the domain names it represents.",
            "The certificate is expiring, all domain names on it will be given new certificates.",
            "The certificate has expired. App Hosting can no longer serve secure content on your domain name."
          ],
          "enum": [
            "CERT_STATE_UNSPECIFIED",
            "CERT_PREPARING",
            "CERT_VALIDATING",
            "CERT_PROPAGATING",
            "CERT_ACTIVE",
            "CERT_EXPIRING_SOON",
            "CERT_EXPIRED"
          ],
          "description": "Output only. Tracks SSL certificate status for the domain."
        }
      },
      "id": "CustomDomainStatus",
      "type": "object"
    },
    "TrafficSet": {
      "description": "A list of traffic splits that together represent where traffic is being routed.",
      "properties": {
        "splits": {
          "items": {
            "$ref": "TrafficSplit"
          },
          "description": "Required. The list of traffic splits.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "TrafficSet"
    },
    "Config": {
      "properties": {
        "env": {
          "description": "Optional. Supplied environment variables for a specific build. Provided at Build creation time and immutable afterwards. This field is only applicable for Builds using a build image - (e.g., ContainerSource or ArchiveSource with locally_built_source) Attempts to set this for other build types will result in an error",
          "items": {
            "$ref": "EnvironmentVariable"
          },
          "type": "array"
        },
        "runConfig": {
          "description": "Optional. Additional configuration of the Cloud Run [`service`](https://cloud.google.com/run/docs/reference/rest/v2/projects.locations.services#resource:-service).",
          "$ref": "RunConfig"
        },
        "effectiveEnv": {
          "readOnly": true,
          "items": {
            "$ref": "EnvironmentVariable"
          },
          "type": "array",
          "description": "Output only. [OUTPUT_ONLY] This field represents all environment variables employed during both the build and runtime. This list reflects the result of merging variables from all sources (Backend.override_env, Build.Config.env, YAML, defaults, system). Each variable includes its `origin`"
        }
      },
      "id": "Config",
      "description": "Additional configuration of the backend for this build.",
      "type": "object"
    },
    "ContainerSource": {
      "type": "object",
      "properties": {
        "image": {
          "description": "Required. A URI representing a container for the backend to use.",
          "type": "string"
        }
      },
      "description": "The URI of an Artifact Registry [container image](https://cloud.google.com/artifact-registry/docs/reference/rest/v1/projects.locations.repositories.dockerImages) to use as the build source.",
      "id": "ContainerSource"
    },
    "Build": {
      "description": "A single build for a backend, at a specific point codebase reference tag and point in time. Encapsulates several resources, including an Artifact Registry container image, a Cloud Build invocation that built the image, and the Cloud Run revision that uses that image.",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the build. Format: `projects/{project}/locations/{locationId}/backends/{backendId}/builds/{buildId}`.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Time at which the build was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "The build is in an unknown state.",
            "The build is building.",
            "The build has completed and is awaiting the next step. This may move to DEPLOYING once App Hosting starts to set up infrastructure.",
            "The infrastructure for this build is being set up.",
            "The infrastructure for this build is ready. The build may or may not be serving traffic - see `Backend.traffic` for the current state, or `Backend.traffic_statuses` for the desired state.",
            "The build has failed.",
            "The build was skipped.",
            "The build has expired and may not be reused."
          ],
          "description": "Output only. The state of the build.",
          "enum": [
            "STATE_UNSPECIFIED",
            "BUILDING",
            "BUILT",
            "DEPLOYING",
            "READY",
            "FAILED",
            "SKIPPED",
            "EXPIRED"
          ],
          "readOnly": true
        },
        "error": {
          "readOnly": true,
          "$ref": "Status",
          "description": "Output only. Deprecated: Use `errors` instead. A status and (human readable) error message for the build, if in a `FAILED` state.",
          "deprecated": true
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time at which the build was last updated.",
          "readOnly": true
        },
        "deleteTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time at which the build was deleted.",
          "readOnly": true
        },
        "etag": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Server-computed checksum based on other values; may be sent on update or delete to ensure operation is done on expected resource."
        },
        "displayName": {
          "description": "Optional. Human-readable name. 63 character limit.",
          "type": "string"
        },
        "buildLogsUri": {
          "description": "Output only. The location of the [Cloud Build logs](https://cloud.google.com/build/docs/view-build-results) for the build process.",
          "type": "string",
          "readOnly": true
        },
        "reconciling": {
          "type": "boolean",
          "description": "Output only. A field that, if true, indicates that the build has an ongoing LRO.",
          "readOnly": true
        },
        "environment": {
          "type": "string",
          "description": "Output only. The environment name of the backend when this build was created.",
          "readOnly": true
        },
        "errors": {
          "type": "array",
          "description": "Output only. A list of all errors that occurred during an App Hosting build.",
          "items": {
            "$ref": "Error"
          },
          "readOnly": true
        },
        "uid": {
          "description": "Output only. System-assigned, unique identifier.",
          "type": "string",
          "readOnly": true
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Unstructured key value map that may be set by external tools to store and arbitrary metadata. They are not queryable and should be preserved when modifying objects."
        },
        "config": {
          "$ref": "Config",
          "description": "Optional. Additional configuration of the service."
        },
        "labels": {
          "description": "Optional. Unstructured key value map that can be used to organize and categorize objects.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "source": {
          "description": "Required. Immutable. The source for the build.",
          "$ref": "BuildSource"
        },
        "image": {
          "readOnly": true,
          "description": "Output only. The Artifact Registry [container image](https://cloud.google.com/artifact-registry/docs/reference/rest/v1/projects.locations.repositories.dockerImages) URI, used by the Cloud Run [`revision`](https://cloud.google.com/run/docs/reference/rest/v2/projects.locations.services.revisions) for this build.",
          "type": "string"
        },
        "errorSource": {
          "enumDescriptions": [
            "Indicates that generic error occurred outside of the Cloud Build or Cloud Run processes, such as a pre-empted or user-canceled App Hosting Build.",
            "Indicates that the build failed during the Cloud Build process, such as a build timeout.",
            "Indicates that the build failed during the Cloud Run process, such as a service creation failure."
          ],
          "enum": [
            "ERROR_SOURCE_UNSPECIFIED",
            "CLOUD_BUILD",
            "CLOUD_RUN"
          ],
          "description": "Output only. Deprecated: Use `errors` instead. The source of the error for the build, if in a `FAILED` state.",
          "deprecated": true,
          "type": "string",
          "readOnly": true
        }
      },
      "id": "Build",
      "type": "object"
    },
    "ListSupportedRuntimesResponse": {
      "type": "object",
      "id": "ListSupportedRuntimesResponse",
      "properties": {
        "supportedRuntimes": {
          "type": "array",
          "items": {
            "$ref": "SupportedRuntime"
          },
          "description": "The list of supported runtimes."
        }
      },
      "description": "Response message for a list of supported runtimes."
    },
    "ListBackendsResponse": {
      "id": "ListBackendsResponse",
      "description": "Message for response to list backends",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying the next page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "backends": {
          "items": {
            "$ref": "Backend"
          },
          "type": "array",
          "description": "The list of backends"
        }
      }
    },
    "ListDomainsResponse": {
      "description": "Message for response to list domains.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A token identifying the next page of results the server should return."
        },
        "domains": {
          "type": "array",
          "description": "Output only. The list of domains.",
          "items": {
            "$ref": "Domain"
          },
          "readOnly": true
        },
        "unreachable": {
          "type": "array",
          "description": "Output only. Locations that could not be reached.",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "ListDomainsResponse"
    },
    "ListRolloutsResponse": {
      "id": "ListRolloutsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying the next page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "rollouts": {
          "type": "array",
          "items": {
            "$ref": "Rollout"
          },
          "description": "The list of rollouts."
        }
      },
      "description": "Message for response to list rollouts.",
      "type": "object"
    },
    "Backend": {
      "id": "Backend",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Optional. Human-readable name. 63 character limit."
        },
        "uri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The primary URI to communicate with the backend."
        },
        "mode": {
          "description": "Optional. Deprecated: Use `environment` instead.",
          "type": "string",
          "deprecated": true
        },
        "labels": {
          "description": "Optional. Unstructured key value map that can be used to organize and categorize objects.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "environment": {
          "description": "Optional. The environment name of the backend, used to load environment variables from environment specific configuration.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Time at which the backend was last updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Time at which the backend was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. System-assigned, unique identifier."
        },
        "appId": {
          "type": "string",
          "description": "Optional. The [ID of a Web App](https://firebase.google.com/docs/reference/firebase-management/rest/v1beta1/projects.webApps#WebApp.FIELDS.app_id) associated with the backend."
        },
        "reconciling": {
          "description": "Output only. A field that, if true, indicates that the system is working to make adjustments to the backend during a LRO.",
          "type": "boolean",
          "readOnly": true
        },
        "deleteTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time at which the backend was deleted."
        },
        "overrideEnv": {
          "description": "Optional. Override environment variables for this Backend.",
          "type": "array",
          "items": {
            "$ref": "EnvironmentVariable"
          }
        },
        "runtime": {
          "description": "Optional. The runtime that the backend will be built on. A default base_image will be chosen for a given runtime.",
          "$ref": "BackendRuntime"
        },
        "annotations": {
          "description": "Optional. Unstructured key value map that may be set by external tools to store and arbitrary metadata. They are not queryable and should be preserved when modifying objects.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "serviceAccount": {
          "type": "string",
          "description": "Required. The name of the service account used for Cloud Build and Cloud Run. Should have the role roles/firebaseapphosting.computeRunner or equivalent permissions."
        },
        "requestLogsDisabled": {
          "type": "boolean",
          "description": "Optional. A field that, if true, indicates that incoming request logs are disabled for this backend. Incoming request logs are enabled by default."
        },
        "servingLocality": {
          "type": "string",
          "enum": [
            "SERVING_LOCALITY_UNSPECIFIED",
            "REGIONAL_STRICT",
            "GLOBAL_ACCESS"
          ],
          "description": "Required. Immutable. Specifies how App Hosting will serve the content for this backend. It will either be contained to a single region (REGIONAL_STRICT) or allowed to use App Hosting's global-replicated serving infrastructure (GLOBAL_ACCESS).",
          "enumDescriptions": [
            "Unspecified. Will return an error if used.",
            "In this mode, App Hosting serves your backend's content from your chosen parent region. App Hosting only maintains data and serving infrastructure in that chosen region and does not replicate your data to other regions.",
            "In this mode, App Hosting serves your backend's content from multiple points-of-presence (POP) across the globe. App Hosting replicates your backend's configuration and cached data to these POPs and uses a global CDN to further decrease response latency. App Hosting-maintained Cloud Resources on your project, such as Cloud Run services, Cloud Build build, and Artifact Registry Images are still confined to your backend's parent region. Responses cached by the CDN may be stored in the POPs for the duration of the cache's TTL."
          ]
        },
        "codebase": {
          "$ref": "Codebase",
          "description": "Optional. If specified, the connection to an external source repository to watch for event-driven updates to the backend."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the backend. Format: `projects/{project}/locations/{locationId}/backends/{backendId}`."
        },
        "managedResources": {
          "items": {
            "$ref": "ManagedResource"
          },
          "description": "Output only. A list of the resources managed by this backend.",
          "readOnly": true,
          "type": "array"
        },
        "automaticBaseImageUpdatesDisabled": {
          "type": "boolean",
          "description": "Optional. automatic_base_image_updates_disabled acts as a way for users to opt out of ABIU."
        },
        "etag": {
          "description": "Output only. Server-computed checksum based on other values; may be sent on update or delete to ensure operation is done on expected resource.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "A backend is the primary resource of App Hosting."
    },
    "ArchiveSource": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. An optional message that describes the uploaded version of the source code."
        },
        "externalSignedUri": {
          "description": "Signed URL to an archive in a storage bucket.",
          "type": "string"
        },
        "author": {
          "$ref": "SourceUserMetadata",
          "deprecated": true,
          "description": "Optional. Deprecated: Not used. The author contained in the metadata of a version control change."
        },
        "userStorageUri": {
          "description": "URI to an archive in Cloud Storage. The object must be a zipped (.zip) or gzipped archive file (.tar.gz) containing source to deploy.",
          "type": "string"
        },
        "rootDirectory": {
          "type": "string",
          "description": "Optional. The directory relative to the root of the archive to use as the root for the deployed web app. Defaults to use the root of the repository if not provided. If deploying a [monorepo](https://firebase.google.com/docs/app-hosting/monorepos), this should be the directory that contains the `package.json` or `apphosting.yaml` file."
        }
      },
      "id": "ArchiveSource",
      "description": "The URI of an storage archive or a signed URL to use as the build source."
    },
    "SupportedRuntime": {
      "type": "object",
      "description": "Represents a single FAH supported runtime. Although instances of this resource are parented by a project and location, the set of available runtimes may vary across projects and locations, for example, during staged rollouts of new runtime support.",
      "id": "SupportedRuntime",
      "properties": {
        "decommissionTime": {
          "description": "Output only. The time at which this runtime will be decommissioned. After this date, the runtime can no longer be used for new builds.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the supported runtime. Format: projects/{project}/locations/{location}/supportedRuntimes/{runtime_id}",
          "type": "string"
        },
        "runtimeId": {
          "description": "Output only. The identifier of the runtime, e.g., \"nodejs22\".",
          "readOnly": true,
          "type": "string"
        },
        "automaticBaseImageUpdatesSupported": {
          "description": "Output only. True if Automatic Base Image Updates (ABIU) is supported for this runtime.",
          "readOnly": true,
          "type": "boolean"
        },
        "deprecateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time at which this runtime will effectively be deprecated. After this date, the runtime is still usable but may not receive new features or updates.",
          "format": "google-datetime"
        }
      }
    },
    "CodebaseSource": {
      "description": "A codebase source, representing the state of the codebase that the build will be created at.",
      "properties": {
        "repository": {
          "type": "string",
          "description": "Output only. The resource name for the Developer Connect [`gitRepositoryLink`](https://cloud.google.com/developer-connect/docs/api/reference/rest/v1/projects.locations.connections.gitRepositoryLinks) used for this build, in the format: `projects/{project}/locations/{location}/connections/{connection}/gitRepositoryLinks/{repositoryLink}`",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The human-friendly name to use for this Codebase when displaying a build. We use the first eight characters of the SHA-1 hash for GitHub.com."
        },
        "hash": {
          "readOnly": true,
          "description": "Output only. The full SHA-1 hash of a Git commit, if available.",
          "type": "string"
        },
        "commitTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the change was made.",
          "format": "google-datetime"
        },
        "commit": {
          "type": "string",
          "description": "The commit in the codebase to build from."
        },
        "commitMessage": {
          "type": "string",
          "description": "Output only. The message of a codebase change.",
          "readOnly": true
        },
        "branch": {
          "description": "The branch in the codebase to build from, using the latest commit.",
          "type": "string"
        },
        "uri": {
          "description": "Output only. A URI linking to the codebase on an hosting provider's website. May not be valid if the commit has been rebased or force-pushed out of existence in the linked repository.",
          "readOnly": true,
          "type": "string"
        },
        "author": {
          "description": "Output only. The author contained in the metadata of a version control change.",
          "$ref": "UserMetadata",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "CodebaseSource"
    },
    "RunService": {
      "description": "A managed Cloud Run [`service`](https://cloud.google.com/run/docs/reference/rest/v2/projects.locations.services#resource:-service).",
      "properties": {
        "service": {
          "type": "string",
          "description": "Optional. The name of the Cloud Run [`service`](https://cloud.google.com/run/docs/reference/rest/v2/projects.locations.services#resource:-service), in the format: `projects/{project}/locations/{location}/services/{serviceId}`"
        }
      },
      "id": "RunService",
      "type": "object"
    },
    "SourceUserMetadata": {
      "deprecated": true,
      "type": "object",
      "description": "Deprecated: Not used. Metadata for the user who started the build.",
      "properties": {
        "email": {
          "type": "string",
          "description": "Output only. Deprecated: Not used. The account email linked to the EUC that created the build. May be a service account or other robot account.",
          "deprecated": true,
          "readOnly": true
        },
        "imageUri": {
          "readOnly": true,
          "type": "string",
          "deprecated": true,
          "description": "Output only. Deprecated: Not used. The URI of a profile photo associated with the user who created the build."
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "deprecated": true,
          "description": "Output only. Deprecated: Not used. The user-chosen displayname. May be empty."
        }
      },
      "id": "SourceUserMetadata"
    },
    "Redirect": {
      "id": "Redirect",
      "description": "Specifies redirect behavior for a domain.",
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Required. The URI of the redirect's intended destination. This URI will be prepended to the original request path. URI without a scheme are assumed to be HTTPS."
        },
        "status": {
          "description": "Optional. The status code to use in a redirect response. Must be a valid HTTP 3XX status code. Defaults to 302 if not present.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "Status": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status"
    },
    "DomainOperationMetadata": {
      "id": "DomainOperationMetadata",
      "description": "Represents the metadata of a long-running operation on domains.",
      "properties": {
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime"
        },
        "statusMessage": {
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string"
        },
        "customDomainOperationMetadata": {
          "description": "Output only. Additional metadata for operations on custom domains.",
          "$ref": "CustomDomainOperationMetadata",
          "readOnly": true
        },
        "target": {
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation was created."
        },
        "apiVersion": {
          "type": "string",
          "description": "Output only. API version used to start the operation.",
          "readOnly": true
        },
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        }
      },
      "type": "object"
    },
    "TrafficSplit": {
      "id": "TrafficSplit",
      "properties": {
        "percent": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The percentage of traffic to send to the build. Currently must be 100% or 0%."
        },
        "build": {
          "type": "string",
          "description": "Required. The build that traffic is being routed to."
        }
      },
      "description": "The traffic allocation for the backend.",
      "type": "object"
    },
    "Domain": {
      "id": "Domain",
      "type": "object",
      "properties": {
        "updateTime": {
          "description": "Output only. Time at which the domain was last updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time at which the domain was created."
        },
        "reconciling": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. A field that, if true, indicates that the build has an ongoing LRO."
        },
        "deleteTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time at which the domain was deleted."
        },
        "purgeTime": {
          "type": "string",
          "description": "Output only. Time at which a soft-deleted domain will be purged, rendering in permanently deleted.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "description": "Identifier. The resource name of the domain, e.g. `/projects/p/locations/l/backends/b/domains/foo.com`",
          "type": "string"
        },
        "customDomainStatus": {
          "description": "Output only. Represents the state and configuration of a `CUSTOM` type domain. It is only present on Domains of that type.",
          "$ref": "CustomDomainStatus",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "Optional. Mutable human-readable name for the domain. 63 character limit. e.g. `prod domain`."
        },
        "etag": {
          "type": "string",
          "description": "Output only. Server-computed checksum based on other values; may be sent on update or delete to ensure operation is done on expected resource.",
          "readOnly": true
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. System-assigned, unique identifier."
        },
        "labels": {
          "type": "object",
          "description": "Optional. Labels as key value pairs.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "DEFAULT",
            "CUSTOM"
          ],
          "description": "Output only. The type of the domain.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The type is unspecified (this should not happen).",
            "Default, App Hosting-provided and managed domains. These domains are created automatically with their parent backend and cannot be deleted except by deleting that parent, and cannot be moved to another backend. Default domains can be disabled via the `disabled` field.",
            "Custom, developer-owned domains. Custom Domains allow you to associate a domain you own with your App Hosting backend, and configure that domain to serve your backend's content."
          ]
        },
        "serve": {
          "description": "Optional. The serving behavior of the domain. If specified, the domain will serve content other than its backend's live content.",
          "$ref": "ServingBehavior"
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Annotations as key value pairs.",
          "type": "object"
        },
        "disabled": {
          "type": "boolean",
          "description": "Optional. Whether the domain is disabled. Defaults to false."
        }
      },
      "description": "A domain name that is associated with a backend."
    },
    "OperationMetadata": {
      "description": "Represents the metadata of a long-running operation.",
      "id": "OperationMetadata",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "type": "string",
          "readOnly": true
        },
        "requestedCancellation": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "readOnly": true
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        }
      }
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array"
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "ListOperationsResponse",
      "type": "object"
    },
    "Error": {
      "properties": {
        "cloudResource": {
          "type": "string",
          "description": "Output only. Resource link",
          "readOnly": true
        },
        "error": {
          "description": "Output only. A status and (human readable) error message for the build, if in a `FAILED` state.",
          "readOnly": true,
          "$ref": "Status"
        },
        "errorSource": {
          "description": "Output only. The source of the error for the build, if in a `FAILED` state.",
          "enumDescriptions": [
            "Indicates that generic error occurred outside of the Cloud Build or Cloud Run processes, such as a pre-empted or user-canceled App Hosting Build.",
            "Indicates that the build failed during the Cloud Build process, such as a build timeout.",
            "Indicates that the build failed during the Cloud Run process, such as a service creation failure."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "ERROR_SOURCE_UNSPECIFIED",
            "CLOUD_BUILD",
            "CLOUD_RUN"
          ]
        }
      },
      "description": "The container for the rpc status and source for any errors found during the build process.",
      "type": "object",
      "id": "Error"
    },
    "Path": {
      "properties": {
        "type": {
          "enumDescriptions": [
            "The pattern type is unspecified - this is an invalid value.",
            "RE2 - regular expression (https://github.com/google/re2/wiki/Syntax).",
            "The pattern is a glob.",
            "The pattern is a prefix."
          ],
          "description": "Optional. The type of pattern to match against.",
          "type": "string",
          "enum": [
            "PATTERN_TYPE_UNSPECIFIED",
            "RE2",
            "GLOB",
            "PREFIX"
          ]
        },
        "pattern": {
          "type": "string",
          "description": "Optional. The pattern to match against."
        }
      },
      "description": "A file path pattern to match against.",
      "id": "Path",
      "type": "object"
    }
  },
  "parameters": {
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    }
  },
  "ownerName": "Google",
  "batchPath": "batch",
  "basePath": "",
  "rootUrl": "https://firebaseapphosting.googleapis.com/",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "firebaseapphosting.projects.locations.list",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "flatPath": "v1beta/projects/{projectsId}/locations",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "parameters": {
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "repeated": true,
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "location": "path"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of results to return. If not set, the service selects a default."
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query"
                }
              },
              "path": "v1beta/{+name}/locations"
            },
            "get": {
              "id": "firebaseapphosting.projects.locations.get",
              "description": "Gets information about a location.",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Resource name for the location.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "response": {
                "$ref": "Location"
              }
            }
          },
          "resources": {
            "supportedRuntimes": {
              "methods": {
                "list": {
                  "path": "v1beta/{+parent}/supportedRuntimes",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/supportedRuntimes",
                  "description": "Lists the runtimes supported by the backend. The list of runtimes may vary across projects and locations, for example, during staged rollouts of new runtime support.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListSupportedRuntimesResponse"
                  },
                  "parameters": {
                    "pageSize": {
                      "description": "Optional. The suggested number of runtimes to return. This field is ignored. We return all runtimes in a single page regardless of the page size.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent, which owns this collection of SupportedRuntime. Format: projects/{project}/locations/{location}",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    }
                  },
                  "id": "firebaseapphosting.projects.locations.supportedRuntimes.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "backends": {
              "methods": {
                "patch": {
                  "id": "firebaseapphosting.projects.locations.backends.patch",
                  "description": "Updates the information for a single backend.",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/backends/{backendsId}",
                  "path": "v1beta/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and t he request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/backends/[^/]+$",
                      "required": true,
                      "description": "Identifier. The resource name of the backend. Format: `projects/{project}/locations/{locationId}/backends/{backendId}`."
                    },
                    "validateOnly": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. Indicates that the request should be validated, without persisting the request or updating any resources."
                    },
                    "updateMask": {
                      "type": "string",
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the backend resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "format": "google-fieldmask",
                      "location": "query"
                    },
                    "allowMissing": {
                      "description": "Optional. If set to true, and the backend is not found, a new backend will be created.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "Backend"
                  },
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "create": {
                  "description": "Creates a new backend in a given project and location.",
                  "httpMethod": "POST",
                  "id": "firebaseapphosting.projects.locations.backends.create",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/backends",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "Backend"
                  },
                  "parameters": {
                    "validateOnly": {
                      "description": "Optional. Indicates that the request should be validated and default values populated, without persisting the request or creating any resources.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "backendId": {
                      "location": "query",
[...]
