{
  "baseUrl": "https://firebasecrashlytics.googleapis.com/",
  "name": "firebasecrashlytics",
  "ownerDomain": "google.com",
  "title": "Firebase Crashlytics API",
  "protocol": "rest",
  "version": "v1alpha",
  "discoveryVersion": "v1",
  "rootUrl": "https://firebasecrashlytics.googleapis.com/",
  "revision": "20261006",
  "basePath": "",
  "canonicalName": "Firebase Crashlytics",
  "servicePath": "",
  "documentationLink": "https://firebase.google.com/docs/crashlytics",
  "mtlsRootUrl": "https://firebasecrashlytics.mtls.googleapis.com/",
  "resources": {
    "projects": {
      "resources": {
        "apps": {
          "resources": {
            "reports": {
              "methods": {
                "list": {
                  "path": "v1alpha/{+parent}/reports",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The firebase application. Format: \"projects/{project}/apps/{app_id}\".",
                      "location": "path",
                      "pattern": "^projects/[^/]+/apps/[^/]+$"
                    },
                    "view": {
                      "location": "query",
                      "description": "Optional. Response view. If not set, defaults to `REPORT_VIEW_BASIC`. `REPORT_VIEW_FULL` is not supported for list operations.",
                      "type": "string",
                      "enum": [
                        "REPORT_VIEW_UNSPECIFIED",
                        "REPORT_VIEW_BASIC",
                        "REPORT_VIEW_FULL"
                      ],
                      "enumDescriptions": [
                        "The default / unset value. The API will default to `REPORT_VIEW_BASIC` view for `ListReports` and `REPORT_VIEW_FULL` for `GetReport`.",
                        "Only includes the report `display_name` and optional `usage`. This is the default view for `ListReports`.",
                        "Includes all fields on report. This is the default view for `GetReport`."
                      ]
                    }
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/reports",
                  "id": "firebasecrashlytics.projects.apps.reports.list",
                  "response": {
                    "$ref": "ListReportsResponse"
                  },
                  "description": "List all of the available reports.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                },
                "get": {
                  "response": {
                    "$ref": "Report"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/reports/{reportsId}",
                  "description": "Get a report with its computed results.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v1alpha/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "filter.issue.signals": {
                      "type": "string",
                      "enum": [
                        "SIGNAL_UNSPECIFIED",
                        "SIGNAL_EARLY",
                        "SIGNAL_FRESH",
                        "SIGNAL_REGRESSED",
                        "SIGNAL_REPETITIVE"
                      ],
                      "description": "Optional. Only returns issues currently marked with the given signals. This field matches [Issue.signals.signal].",
                      "repeated": true,
                      "enumDescriptions": [
                        "Default.",
                        "Indicates an issue that is impacting end users early in the app session.",
                        "Indicates newly detected issues.",
                        "Indicates previously closed issues which have been detected again.",
                        "Indicates issues impacting some end users multiple times."
                      ],
                      "location": "query"
                    },
                    "filter.interval.endTime": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
                      "format": "google-datetime"
                    },
                    "granularity": {
                      "type": "string",
                      "enum": [
                        "TIME_GRANULARITY_UNSPECIFIED",
                        "TIME_GRANULARITY_NONE",
                        "TIME_GRANULARITY_HOUR",
                        "TIME_GRANULARITY_DAY"
                      ],
                      "description": "Optional. The report response will contain one data point per time grain. If omitted, the report will contain a single data point for the complete interval.",
                      "enumDescriptions": [
                        "Unknown.",
                        "Returns a single interval for the requested time range.",
                        "Hour.",
                        "Day."
                      ],
                      "location": "query"
                    },
                    "filter.interval.startTime": {
                      "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
                      "format": "google-datetime",
                      "location": "query",
                      "type": "string"
                    },
                    "filter.issue.content": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A space separated list of filter terms matched against the contents of the issue. Contents include the title and the stack trace. Matches must begin at alphanumeric tokens, i.e., 'util.Sorted' matches 'java.util.SortedSet' but not 'myutil.SortedArray'. The filter matches if all filter terms match. All non-alphanumeric characters are ignored for matching. Filtering is assumed to be prefix-search and order-independent unless phrases are surrounded by \"\". Any terms contained in quotes are searched using exact-match (given filter term \"foo\", we will not return \"foobar\"), and must appear in the order given exactly. To get order-dependence but prefix-search, use a * within the quotes (\"abc foo*\" will match \"abc foobar\", but not \"foo abc\" \"abcd foobar\", or \"abc xyz foobar\")."
                    },
                    "filter.issue.states": {
                      "repeated": true,
                      "enumDescriptions": [
                        "Unknown.",
                        "Ongoing issue.",
                        "Issue resolved.",
                        "Issue muted. No alerts will be fired for this issue."
                      ],
                      "type": "string",
                      "enum": [
                        "STATE_UNSPECIFIED",
                        "OPEN",
                        "CLOSED",
                        "MUTED"
                      ],
                      "location": "query",
                      "description": "Optional. Only includes events for issues with the given issue states. Only available for `topIssues` reports."
                    },
                    "filter.issue.errorTypes": {
                      "type": "string",
                      "enum": [
                        "ERROR_TYPE_UNSPECIFIED",
                        "FATAL",
                        "NON_FATAL",
                        "ANR"
                      ],
                      "location": "query",
                      "repeated": true,
                      "description": "Optional. Only counts events of the given error types. This field matches [Issue.error_type].",
                      "enumDescriptions": [
                        "Unknown.",
                        "Fatal crash event.",
                        "Non-fatal event, such as a caught Java exception or NSError on iOS.",
                        "Application not responding error, Android only."
                      ]
                    },
                    "name": {
                      "location": "path",
                      "description": "Required. The report name. Format: \"projects/{project}/apps/{app_id}/reports/{report}\".",
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+/reports/[^/]+$",
                      "required": true
                    },
                    "filter.issue.id": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Only counts events in the given issue ID. This field matches [Issue.id]."
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. The maximum number of result groups to return. If omitted, defaults to 25."
                    },
                    "filter.issue.variantId": {
                      "description": "Optional. Only counts events for the given issue variant ID. This field matches [IssueVariant.id].",
                      "location": "query",
                      "type": "string"
                    },
                    "filter.operatingSystem.displayNames": {
                      "description": "Only counts events in the given operating system and version. This string matches OperatingSystem.display_name. Format: \"osName (osVersion)\" e.g. \"Android (11)\". or just \"osName\" for all versions, e.g. simply \"iPadOS\".",
                      "location": "query",
                      "repeated": true,
                      "type": "string"
                    },
                    "filter.issue.state": {
                      "location": "query",
                      "enumDescriptions": [
                        "Unknown.",
                        "Ongoing issue.",
                        "Issue resolved.",
                        "Issue muted. No alerts will be fired for this issue."
                      ],
                      "description": "Optional. Deprecated: Prefer `states` field. Only includes events for issues with the given issue state. Only available for `topIssues` reports.",
                      "type": "string",
                      "enum": [
                        "STATE_UNSPECIFIED",
                        "OPEN",
                        "CLOSED",
                        "MUTED"
                      ],
                      "deprecated": true
                    },
                    "view": {
                      "location": "query",
                      "description": "Optional. Response view. If not set, defaults to `REPORT_VIEW_FULL`.",
                      "enumDescriptions": [
                        "The default / unset value. The API will default to `REPORT_VIEW_BASIC` view for `ListReports` and `REPORT_VIEW_FULL` for `GetReport`.",
                        "Only includes the report `display_name` and optional `usage`. This is the default view for `ListReports`.",
                        "Includes all fields on report. This is the default view for `GetReport`."
                      ],
                      "type": "string",
                      "enum": [
                        "REPORT_VIEW_UNSPECIFIED",
                        "REPORT_VIEW_BASIC",
                        "REPORT_VIEW_FULL"
                      ]
                    },
                    "filter.version.displayNames": {
                      "location": "query",
                      "repeated": true,
                      "description": "Only counts events in the given app version. This string matches Version.display_name. Format: \"display_version (build_version)\" e.g. \"1.2.3 (456)\".",
                      "type": "string"
                    },
                    "filter.browser.displayNames": {
                      "type": "string",
                      "description": "Optional. Only count events from the given browser. This string matches Browser.display_name. Format: \"name (display_version)\" e.g. \"Chrome (123)\", or just \"name\" for all possible versions, e.g. simply \"Chrome\".",
                      "location": "query",
                      "repeated": true
                    },
                    "filter.device.formFactors": {
                      "description": "Only counts events from devices with the given form factor (e.g. phone or tablet).",
                      "enumDescriptions": [
                        "Unknown.",
                        "Includes mobile phones, small foldables and other form factors not fitting the other categories.",
                        "Includes tablets and larger foldables.",
                        "Includes desktops, laptops, Chromebooks, etc.",
                        "Includes televisions and set-tops.",
                        "Includes both watches and other wearables."
                      ],
                      "location": "query",
                      "type": "string",
                      "enum": [
                        "FORM_FACTOR_UNSPECIFIED",
                        "PHONE",
                        "TABLET",
                        "DESKTOP",
                        "TV",
                        "WATCH"
                      ],
                      "repeated": true
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A page token, received from a previous call. The page token is only valid for the exact same set of filters, which must also be sent in subsequent requests. This token is valid for 10 minutes after the first request."
                    },
                    "filter.device.displayNames": {
                      "type": "string",
                      "description": "Only counts events from the given Device model. This string matches Device.display_name. Format: \"manufacturer (model)\" e.g. \"Google (Pixel 6)\", or just \"manufacturer\" for all possible models, e.g. simply \"Google\". Note that a device's marketing_name field can not be used for filtering.",
                      "location": "query",
                      "repeated": true
                    },
                    "metricsMode": {
                      "type": "string",
                      "enum": [
                        "METRICS_MODE_UNSPECIFIED",
                        "METRICS_MODE_OBSERVED",
                        "METRICS_MODE_EXTRAPOLATED"
                      ],
                      "description": "Optional. Controls whether metrics are raw observed values (mobile and web) or extrapolated values (web only). If omitted, defaults to OBSERVED.",
                      "location": "query",
                      "enumDescriptions": [
                        "Unknown.",
                        "Raw counts of the events, sessions, and users that were actually collected.",
                        "Web only. Estimated event counts based on the per-session sampling rate recorded on each event."
                      ]
                    }
                  },
                  "id": "firebasecrashlytics.projects.apps.reports.get"
                }
              }
            },
            "issues": {
              "methods": {
                "batchUpdate": {
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "BatchUpdateIssuesRequest"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent resource shared by all issues being updated. Format: projects/{project}/apps/{app}. If this is set, the parent field in the UpdateIssueRequest messages must either be empty or match this field.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/apps/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v1alpha/{+parent}/issues:batchUpdate",
                  "response": {
                    "$ref": "BatchUpdateIssuesResponse"
                  },
                  "description": "Change the state of a group of issues. This method is not atomic, so partial failures can occur. In the event of a partial failure, the request will fail and you will need to call `GetIssue` to see which issues were not updated.",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues:batchUpdate",
                  "id": "firebasecrashlytics.projects.apps.issues.batchUpdate"
                },
                "get": {
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+/issues/[^/]+$",
                      "description": "Required. The name of the issue to retrieve. Format: \"projects/{project}/apps/{app}/issues/{issue}\".",
                      "location": "path"
                    }
                  },
                  "description": "Retrieve an issue.",
                  "id": "firebasecrashlytics.projects.apps.issues.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v1alpha/{+name}",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues/{issuesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Issue"
                  }
                },
                "patch": {
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string",
                      "description": "Optional. The list of Issue fields to update. Currently only \"state\" is mutable."
                    },
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/apps/[^/]+/issues/[^/]+$",
                      "description": "Required. Output only. Immutable. Identifier. The name of the issue resource. Format: \"projects/{project}/apps/{app}/issues/{issue}\".",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "httpMethod": "PATCH",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues/{issuesId}",
                  "id": "firebasecrashlytics.projects.apps.issues.patch",
                  "request": {
                    "$ref": "Issue"
                  },
                  "response": {
                    "$ref": "Issue"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "description": "Change the state of an issue.",
                  "path": "v1alpha/{+name}"
                }
              },
              "resources": {
                "notes": {
                  "methods": {
                    "delete": {
                      "path": "v1alpha/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/firebase"
                      ],
                      "httpMethod": "DELETE",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "description": "Required. The name of the note to delete. Format: projects/{project}/apps/{app}/issues/{issue}/notes/{note}.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/apps/[^/]+/issues/[^/]+/notes/[^/]+$"
                        }
                      },
                      "response": {
                        "$ref": "Empty"
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues/{issuesId}/notes/{notesId}",
                      "id": "firebasecrashlytics.projects.apps.issues.notes.delete",
                      "description": "Delete a note by its name."
                    },
                    "create": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Create a new note for an issue.",
                      "id": "firebasecrashlytics.projects.apps.issues.notes.create",
                      "path": "v1alpha/{+parent}/notes",
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/apps/[^/]+/issues/[^/]+$",
                          "description": "Required. The parent resource where this note will be created. Format: \"projects/{project}/apps/{app}/issues/{issue}\".",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "Note"
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues/{issuesId}/notes",
                      "request": {
                        "$ref": "Note"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/firebase"
                      ]
                    },
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/firebase"
                      ],
                      "path": "v1alpha/{+parent}/notes",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "firebasecrashlytics.projects.apps.issues.notes.list",
                      "parameters": {
                        "pageToken": {
                          "description": "Optional. A page token, received from a previous calls.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Optional. The maximum number of notes per page. If omitted, defaults to 10.",
                          "type": "integer",
                          "format": "int32",
                          "location": "query"
                        },
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/apps/[^/]+/issues/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "description": "Required. The issue the notes belongs to. Format: \"projects/{project}/apps/{app}/issues/{issue}\"."
                        }
                      },
                      "description": "List all notes for a certain issue, sorted in descending order by timestamp.",
                      "httpMethod": "GET",
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues/{issuesId}/notes",
                      "response": {
                        "$ref": "ListNotesResponse"
                      }
                    }
                  }
                }
              }
            },
            "events": {
              "methods": {
                "batchGet": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "description": "Fetch a batch of up to 100 events by name.",
                  "parameters": {
                    "readMask": {
                      "type": "string",
                      "description": "Optional. The list of Event fields to include in the response. If omitted, the full event is returned.",
                      "location": "query",
                      "format": "google-fieldmask"
                    },
                    "names": {
                      "description": "Required. The resource names of the desired events. A maximum of 100 events can be retrieved in a batch. Format: \"projects/{project}/apps/{app_id}/events/{event_id}\". The app_id and event_id are required, but project may be \"-\" to conserve space in long URIs.",
                      "type": "string",
                      "location": "query",
                      "repeated": true
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "description": "Required. The firebase application. Format: \"projects/{project}/apps/{app_id}\".",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1alpha/{+parent}/events:batchGet",
                  "id": "firebasecrashlytics.projects.apps.events.batchGet",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/events:batchGet",
                  "response": {
                    "$ref": "BatchGetEventsResponse"
                  }
                },
                "list": {
                  "path": "v1alpha/{+parent}/events",
                  "id": "firebasecrashlytics.projects.apps.events.list",
                  "description": "List the events for an issue matching filter criteria, sorted in descending order by timestamp.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "response": {
                    "$ref": "ListEventsResponse"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "readMask": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. The list of Event fields to include in the response. If omitted, the full event is returned.",
                      "format": "google-fieldmask"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The Firebase application. Format: \"projects/{project}/apps/{app_id}\"."
                    },
                    "filter.issue.states": {
                      "repeated": true,
                      "enumDescriptions": [
                        "Unknown.",
                        "Ongoing issue.",
                        "Issue resolved.",
                        "Issue muted. No alerts will be fired for this issue."
                      ],
                      "location": "query",
                      "type": "string",
                      "enum": [
                        "STATE_UNSPECIFIED",
                        "OPEN",
                        "CLOSED",
                        "MUTED"
                      ],
                      "description": "Optional. Only includes events for issues with the given issue states. Only available for `topIssues` reports."
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Optional. The maximum number of events per page. If omitted, defaults to 10.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "filter.issue.id": {
                      "description": "Optional. Only counts events in the given issue ID. This field matches [Issue.id].",
                      "type": "string",
                      "location": "query"
                    },
                    "filter.interval.startTime": {
                      "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
                      "location": "query",
                      "type": "string",
                      "format": "google-datetime"
                    },
                    "filter.device.displayNames": {
                      "type": "string",
                      "location": "query",
                      "repeated": true,
                      "description": "Only counts events from the given Device model. This string matches Device.display_name. Format: \"manufacturer (model)\" e.g. \"Google (Pixel 6)\", or just \"manufacturer\" for all possible models, e.g. simply \"Google\". Note that a device's marketing_name field can not be used for filtering."
                    },
                    "filterExpression": {
                      "type": "string",
                      "description": "Optional. Filters events by custom keys (https://firebase.google.com/docs/crashlytics/customize-crash-reports#add-keys). Supported forms: * Equality: `custom_keys.level = \"vip\"` or `custom_keys.level:\"vip\"` * Presence: `custom_keys.level:*` * OR across values of one key: `custom_keys.level = \"vip\" OR custom_keys.level = \"enterprise\"` * AND across different keys: `custom_keys.level = \"vip\" AND custom_keys.region = \"us\"` Keys are case-sensitive. Keys and values containing spaces must be double-quoted, for example `custom_keys.\"app state\" = \"background\"`. OR across different keys, repeating a key within an AND, NOT, and comparators other than `=` and `:` are rejected with INVALID_ARGUMENT. Wildcards are not supported in values; use `custom_keys.:*` to match events that set a key to any value. This filter expression applies in addition to the `filter` field above. The syntax is a subset of AIP-160 (https://google.aip.dev/160).",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A page token, received from a previous calls."
                    },
                    "filter.version.displayNames": {
                      "description": "Only counts events in the given app version. This string matches Version.display_name. Format: \"display_version (build_version)\" e.g. \"1.2.3 (456)\".",
                      "type": "string",
                      "location": "query",
                      "repeated": true
                    },
                    "filter.browser.displayNames": {
                      "description": "Optional. Only count events from the given browser. This string matches Browser.display_name. Format: \"name (display_version)\" e.g. \"Chrome (123)\", or just \"name\" for all possible versions, e.g. simply \"Chrome\".",
                      "type": "string",
                      "location": "query",
                      "repeated": true
                    },
                    "filter.operatingSystem.displayNames": {
                      "type": "string",
                      "description": "Only counts events in the given operating system and version. This string matches OperatingSystem.display_name. Format: \"osName (osVersion)\" e.g. \"Android (11)\". or just \"osName\" for all versions, e.g. simply \"iPadOS\".",
                      "location": "query",
                      "repeated": true
                    },
                    "filter.issue.signals": {
                      "location": "query",
                      "type": "string",
                      "enum": [
                        "SIGNAL_UNSPECIFIED",
                        "SIGNAL_EARLY",
                        "SIGNAL_FRESH",
                        "SIGNAL_REGRESSED",
                        "SIGNAL_REPETITIVE"
                      ],
                      "enumDescriptions": [
                        "Default.",
                        "Indicates an issue that is impacting end users early in the app session.",
                        "Indicates newly detected issues.",
                        "Indicates previously closed issues which have been detected again.",
                        "Indicates issues impacting some end users multiple times."
                      ],
                      "description": "Optional. Only returns issues currently marked with the given signals. This field matches [Issue.signals.signal].",
                      "repeated": true
                    },
                    "filter.interval.endTime": {
                      "location": "query",
                      "format": "google-datetime",
                      "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
                      "type": "string"
                    },
                    "filter.issue.state": {
                      "type": "string",
                      "enum": [
                        "STATE_UNSPECIFIED",
                        "OPEN",
                        "CLOSED",
                        "MUTED"
                      ],
                      "enumDescriptions": [
                        "Unknown.",
                        "Ongoing issue.",
                        "Issue resolved.",
                        "Issue muted. No alerts will be fired for this issue."
                      ],
                      "description": "Optional. Deprecated: Prefer `states` field. Only includes events for issues with the given issue state. Only available for `topIssues` reports.",
                      "location": "query",
                      "deprecated": true
                    },
                    "filter.device.formFactors": {
                      "type": "string",
                      "enum": [
                        "FORM_FACTOR_UNSPECIFIED",
                        "PHONE",
                        "TABLET",
                        "DESKTOP",
                        "TV",
                        "WATCH"
                      ],
                      "location": "query",
                      "enumDescriptions": [
                        "Unknown.",
                        "Includes mobile phones, small foldables and other form factors not fitting the other categories.",
                        "Includes tablets and larger foldables.",
                        "Includes desktops, laptops, Chromebooks, etc.",
                        "Includes televisions and set-tops.",
                        "Includes both watches and other wearables."
                      ],
                      "description": "Only counts events from devices with the given form factor (e.g. phone or tablet).",
                      "repeated": true
                    },
                    "filter.issue.variantId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Only counts events for the given issue variant ID. This field matches [IssueVariant.id]."
                    },
                    "filter.issue.content": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A space separated list of filter terms matched against the contents of the issue. Contents include the title and the stack trace. Matches must begin at alphanumeric tokens, i.e., 'util.Sorted' matches 'java.util.SortedSet' but not 'myutil.SortedArray'. The filter matches if all filter terms match. All non-alphanumeric characters are ignored for matching. Filtering is assumed to be prefix-search and order-independent unless phrases are surrounded by \"\". Any terms contained in quotes are searched using exact-match (given filter term \"foo\", we will not return \"foobar\"), and must appear in the order given exactly. To get order-dependence but prefix-search, use a * within the quotes (\"abc foo*\" will match \"abc foobar\", but not \"foo abc\" \"abcd foobar\", or \"abc xyz foobar\")."
                    },
                    "filter.issue.errorTypes": {
                      "type": "string",
                      "enum": [
                        "ERROR_TYPE_UNSPECIFIED",
                        "FATAL",
                        "NON_FATAL",
                        "ANR"
                      ],
                      "enumDescriptions": [
                        "Unknown.",
                        "Fatal crash event.",
                        "Non-fatal event, such as a caught Java exception or NSError on iOS.",
                        "Application not responding error, Android only."
                      ],
                      "description": "Optional. Only counts events of the given error types. This field matches [Issue.error_type].",
                      "location": "query",
                      "repeated": true
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/events",
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            },
            "users": {
              "methods": {
                "deleteCrashReports": {
                  "response": {
                    "$ref": "DeleteUserCrashReportsResponse"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/users/{usersId}/crashReports",
                  "path": "v1alpha/{+name}",
                  "id": "firebasecrashlytics.projects.apps.users.deleteCrashReports",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/apps/[^/]+/users/[^/]+/crashReports$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. Resource name for user reports, in the format: projects/ PROJECT_IDENTIFIER/apps/APP_ID/users/USER_ID/crashReports - PROJECT_IDENTIFIER: The Firebase project's project number (recommended) or its project ID. Learn more about using project identifiers in Google's [AIP 2510 standard](https://google.aip.dev/cloud/2510). - APP_ID: The globally unique, Firebase-assigned identifier for the Firebase App. This is not your package name or bundle ID. Learn how to [find your app ID](https://firebase.google.com/support/faq/#find-app-id). - USER_ID: The user ID set using the Crashlytics SDK. Learn how to [set user identifiers](https://firebase.google.com/docs/crashlytics/customize-crash-reports#set-user-ids)."
                    }
                  },
                  "description": "Enqueues a request to permanently remove crash reports associated with the specified user. All reports belonging to the specified user will be deleted typically within 24 hours of receiving the crash report."
                }
              }
            }
          }
        }
      }
    }
  },
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "description": "This service provides an API for mobile app developers to request deletion of user's crash reports.",
  "batchPath": "batch",
  "id": "firebasecrashlytics:v1alpha",
  "parameters": {
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        }
      }
    }
  },
  "version_module": true,
  "schemas": {
    "FirebaseSessionEvent": {
      "type": "object",
      "id": "FirebaseSessionEvent",
      "description": "Sessions recorded by the Firebase App Quality Sessions SDK.",
      "properties": {
        "firstSessionId": {
          "type": "string",
          "description": "The identifier of the first session since the last cold start. This id and the session_id will be the same for app launches."
        },
        "device": {
          "description": "Mobile device metadata.",
          "$ref": "Device"
        },
        "sessionId": {
          "description": "Unique identifier for the Firebase session.",
          "type": "string"
        },
        "firebaseInstallationId": {
          "description": "Uniquely identifies a device with Firebase apps installed.",
          "type": "string"
        },
        "eventTime": {
          "description": "The start timestamp for the session event.",
          "type": "string",
          "format": "google-datetime"
        },
        "version": {
          "description": "Mobile application version numbers.",
          "$ref": "Version"
        },
        "operatingSystem": {
          "$ref": "OperatingSystem",
          "description": "Operating system and version."
        },
        "sessionIndex": {
          "description": "Indicates the number of sessions since the last cold start.",
          "type": "integer",
          "format": "int32"
        },
        "eventType": {
          "enumDescriptions": [
            "Unknown.",
            "Application session started."
          ],
          "description": "Session event type. The SDK only supports SESSION_START events at this time.",
          "type": "string",
          "enum": [
            "SESSION_EVENT_TYPE_UNKNOWN",
            "SESSION_START"
          ]
        }
      }
    },
    "Note": {
      "description": "Developer notes for an issue.",
      "properties": {
        "body": {
          "description": "Immutable. The body of the note.",
          "type": "string"
        },
        "author": {
          "description": "Output only. The email of the author of the note.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Output only. Identifier. Format: \"projects/{project}/apps/app/issues/{issue}/notes/{note}\".",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Time when the note was created.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "Note"
    },
    "Error": {
      "properties": {
        "title": {
          "type": "string",
          "description": "The title of the error."
        },
        "blamed": {
          "description": "True when the Crashlytics analysis has determined that the stacktrace in this error is where the fault occurred.",
          "type": "boolean"
        },
        "subtitle": {
          "type": "string",
          "description": "The subtitle of the error."
        },
        "code": {
          "type": "string",
          "format": "int64",
          "description": "Error code associated with the app's custom logged NSError."
        },
        "queue": {
          "description": "The queue on which the thread was running.",
          "type": "string"
        },
        "frames": {
          "items": {
            "$ref": "Frame"
          },
          "type": "array",
          "description": "The frames in the error's stacktrace."
        }
      },
      "type": "object",
      "id": "Error",
      "description": "A non-fatal error and its stacktrace, only from Apple apps."
    },
    "IntervalMetrics": {
      "properties": {
        "totalUsersCount": {
          "description": "The number of distinct users.",
          "format": "int64",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The start of the interval covered by the computation."
        },
        "impactedUsersCount": {
          "format": "int64",
          "description": "The number of distinct users in the set of events.",
          "type": "string"
        },
        "totalSessionsCount": {
          "description": "The number of distinct sessions.",
          "type": "string",
          "format": "int64"
        },
        "endTime": {
          "description": "The end of the interval covered by the computation.",
          "type": "string",
          "format": "google-datetime"
        },
        "impactedSessionsCount": {
          "type": "string",
          "description": "The number of distinct sessions in the set of events.",
          "format": "int64"
        },
        "crashFreeSessionsPercentage": {
          "description": "Mobile only. Percentage of crash-free sessions. (total_sessions_count - impacted_sessions_count) / total_sessions_count * 100.",
          "format": "float",
          "type": "number"
        },
        "eventsCount": {
          "type": "string",
          "description": "The total count of events in the interval.",
          "format": "int64"
        },
        "sessionsCount": {
          "format": "int64",
          "description": "Deprecated: Prefer `impacted_sessions_count`. The number of distinct sessions in the set of events.",
          "type": "string",
          "deprecated": true
        },
        "crashFreeUsersPercentage": {
          "description": "Mobile only. Percentage of crash-free users. (total_users_count - impacted_users_count) / total_users_count * 100",
          "type": "number",
          "format": "float"
        }
      },
      "type": "object",
      "description": "A set of computed metric values for a time interval",
      "id": "IntervalMetrics"
    },
    "ListReportsResponse": {
      "id": "ListReportsResponse",
      "properties": {
        "reports": {
          "items": {
            "$ref": "Report"
          },
          "type": "array",
          "description": "The report objects returned will contain their names and usage instructions, but include no results. Use the `GetReport` method to run the report and obtain the paged results."
        }
      },
      "type": "object",
      "description": "Response method for the ListReports method. The response will always include all of the available reports."
    },
    "ReportGroup": {
      "id": "ReportGroup",
      "description": "A group of results in an EventReport. In any report, the group_parent field is strictly the same type for all of the groups in any collection.",
      "type": "object",
      "properties": {
        "webMetricsGroup": {
          "description": "Web metrics group.",
          "$ref": "WebMetricsGroup"
        },
        "version": {
          "$ref": "Version",
          "description": "Version metrics group."
        },
        "device": {
          "$ref": "Device",
          "description": "Device metrics group."
        },
        "issue": {
          "description": "Issue metrics group.",
          "$ref": "Issue"
        },
        "variant": {
          "$ref": "IssueVariant",
          "description": "Issue variant metrics group."
        },
        "subgroups": {
          "items": {
            "$ref": "ReportGroup"
          },
          "description": "When applicable, this field contains additional nested groupings. For example, events can be grouped by operating system and by operating system version.",
          "type": "array"
        },
        "metrics": {
          "description": "Scalar metrics will contain a single object covering the entire interval, while time-dimensioned graphs will contain one per time grain.",
          "type": "array",
          "items": {
            "$ref": "IntervalMetrics"
          }
        },
        "browser": {
          "description": "Browser metrics group.",
          "$ref": "Browser"
        },
        "operatingSystem": {
          "$ref": "OperatingSystem",
          "description": "Operating system metrics group."
        }
      }
    },
    "ListEventsResponse": {
      "properties": {
        "events": {
          "description": "Returns one element per event, in descending order the by event timestamp.",
          "items": {
            "$ref": "Event"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A pagination token to retrieve the next page of events. The next page will have earlier or later events depending on the request's ordering. If this field is not present, there are no subsequent events."
        }
      },
      "type": "object",
      "description": "Response message for the ListEvents method.",
      "id": "ListEventsResponse"
    },
    "WebMetricsGroup": {
      "id": "WebMetricsGroup",
      "description": "Represents a grouping for metrics specific to web applications.",
      "properties": {
        "id": {
          "description": "The id of the web metrics group",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Thread": {
      "id": "Thread",
      "properties": {
        "signal": {
          "type": "string",
          "description": "The name of the signal that caused the app to crash. Only present on crashed native threads."
        },
        "frames": {
          "description": "The frames in the thread's stacktrace.",
          "items": {
            "$ref": "Frame"
          },
          "type": "array"
        },
        "title": {
          "type": "string",
          "description": "The title of the thread."
        },
        "subtitle": {
          "type": "string",
          "description": "The subtitle of the thread."
        },
        "blamed": {
          "description": "True when the Crashlytics analysis has determined that the stacktrace in this thread is where the fault occurred.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "The name of the thread."
        },
        "crashed": {
          "description": "True when the thread has crashed.",
          "type": "boolean"
        },
        "crashAddress": {
          "description": "The address of the signal that caused the application to crash. Only present on crashed native threads.",
          "format": "int64",
          "type": "string"
        },
        "threadState": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "THREAD_STATE_TERMINATED",
            "THREAD_STATE_RUNNABLE",
            "THREAD_STATE_TIMED_WAITING",
            "THREAD_STATE_BLOCKED",
            "THREAD_STATE_WAITING",
            "THREAD_STATE_NEW",
            "THREAD_STATE_NATIVE_RUNNABLE",
            "THREAD_STATE_NATIVE_WAITING"
          ],
          "description": "Output only. The state of the thread at the time the ANR occurred.",
          "enumDescriptions": [
            "Thread state unspecified.",
            "Thread was terminated.",
            "Thread was runnable.",
            "Thread was waiting with a timeout.",
            "Thread was blocked.",
            "Thread was waiting.",
            "Thread was started, yet to run anything.",
            "The thread was native and we could not heuristically determine that it was was waiting, so assume it's runnable.",
            "We heuristically determined that the thread is waiting."
          ],
          "readOnly": true
        },
        "sysThreadId": {
          "format": "int64",
          "description": "The system id of the thread, only available for ANR threads.",
          "type": "string"
        },
        "threadId": {
          "type": "string",
          "format": "int64",
          "description": "The id of the thread, only available for ANR threads."
        },
        "signalCode": {
          "type": "string",
          "description": "The code of the signal that caused the app to crash. Only present on crashed native threads."
        },
        "queue": {
          "description": "The queue on which the thread was running.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "An application thread."
    },
    "Event": {
      "description": "The message describing a single Crashlytics event. Related to BigQuery export schema, which can be found at [Export Crashlytics data to BigQuery](https://firebase.google.com/docs/crashlytics/bigquery-export#dataset-schema-crashlytics)",
      "id": "Event",
      "type": "object",
      "properties": {
        "customKeys": {
          "description": "Custom keys set by the developer during the session.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "issueVariant": {
          "description": "Details for the [IssueVariant] assigned to this [Event].",
          "$ref": "IssueVariant"
        },
        "errors": {
          "type": "array",
          "description": "Apple only. A non-fatal error captured by the iOS SDK and its stacktrace.",
          "items": {
            "$ref": "Error"
          }
        },
        "user": {
          "$ref": "User",
          "description": "End user identifiers for the device owner."
        },
        "crashlyticsSdkVersion": {
          "type": "string",
          "description": "Crashlytics SDK version."
        },
        "logs": {
          "items": {
            "$ref": "Log"
          },
          "description": "Log messages recorded by the developer during the session.",
          "type": "array"
        },
        "buildStamp": {
          "type": "string",
          "description": "Metadata provided by the app's build system, including version control repository info."
        },
        "processState": {
          "type": "string",
          "description": "The state of the app process at the time of the event."
        },
        "name": {
          "type": "string",
          "description": "Required. Output only. Immutable. Identifier. The name of the event resource. Format: \"projects/{project}/apps/{app_id}/events/{event}\".",
          "readOnly": true
        },
        "exceptions": {
          "type": "array",
          "items": {
            "$ref": "Exception"
          },
          "description": "Android and web only. Exceptions that occurred during this event. Nested exceptions are presented in reverse chronological order, so that the last record is the first exception thrown."
        },
        "breadcrumbs": {
          "items": {
            "$ref": "Breadcrumb"
          },
          "description": "Analytics events recorded by the analytics SDK during the session.",
          "type": "array"
        },
        "issue": {
          "description": "Details for the [Issue] assigned to this [Event].",
          "$ref": "Issue"
        },
        "issueSubtitle": {
          "type": "string",
          "description": "The subtitle of the issue in which the event was grouped. This is usually a symbol or an exception message."
        },
        "version": {
          "description": "Mobile application version.",
          "$ref": "Version"
        },
        "device": {
          "description": "Mobile device metadata.",
          "$ref": "Device"
        },
        "browser": {
          "description": "Browser and version.",
          "$ref": "Browser"
        },
        "installationUuid": {
          "type": "string",
          "description": "Unique identifier for the device-app installation. This field is used to compute the unique number of impacted users."
        },
        "issueTitle": {
          "type": "string",
          "description": "The title of the issue in which the event was grouped. This is usually a source file or method name."
        },
        "memory": {
          "description": "Mobile device memory usage.",
          "$ref": "Memory"
        },
        "eventTime": {
          "description": "Device timestamp that the event was recorded.",
          "type": "string",
          "format": "google-datetime"
        },
        "deviceOrientation": {
          "type": "string",
          "description": "Device orientation at the time of the crash (portrait or landscape)."
        },
        "bundleOrPackage": {
          "description": "The bundle name for iOS apps or the package name of Android apps. Format: \"com.mycompany.myapp\".",
          "type": "string"
        },
        "threads": {
          "items": {
            "$ref": "Thread"
          },
          "type": "array",
          "description": "Application threads present at the time the event was recorded. Each contains a stacktrace. One thread will be blamed for the error."
        },
        "operatingSystem": {
          "description": "Operating system and version.",
          "$ref": "OperatingSystem"
        },
        "sessionId": {
          "type": "string",
          "description": "Unique identifier for the Firebase session."
        },
        "storage": {
          "description": "Mobile device disk/flash usage.",
          "$ref": "Storage"
        },
        "platform": {
          "type": "string",
          "description": "ANDROID, IOS, or WEB."
        },
        "blameFrame": {
          "$ref": "Frame",
          "description": "The stack trace frame blamed by Crashlytics processing. May not be present in future analyzer."
        },
        "eventId": {
          "description": "Output only. Immutable. The unique event identifier is assigned during processing.",
          "readOnly": true,
          "type": "string"
        },
        "appOrientation": {
          "description": "App orientation at the time of the crash (portrait or landscape).",
          "type": "string"
        },
        "receivedTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Server timestamp that the event was received by Crashlytics."
        },
        "routePath": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Web only. The route path of the web application when the event occurred, excluding query parameters and fragment."
        }
      }
    },
    "Storage": {
      "description": "Mobile device disk/flash usage. Not reported for all devices.",
      "id": "Storage",
      "properties": {
        "used": {
          "description": "Bytes used.",
          "type": "string",
          "format": "int64"
        },
        "free": {
          "description": "Bytes free.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Exception": {
      "type": "object",
      "description": "A Java or Javascript exception and its stacktrace. Only from Android or web apps.",
      "properties": {
        "blamed": {
          "description": "True when the Crashlytics analysis has determined that this thread is where the fault occurred.",
          "type": "boolean"
        },
        "title": {
          "description": "The title of the exception.",
          "type": "string"
        },
        "nested": {
          "type": "boolean",
          "description": "True for all but the last-thrown exception (i.e. the first record)."
        },
        "frames": {
          "type": "array",
          "description": "The frames in the exception's stacktrace.",
          "items": {
            "$ref": "Frame"
          }
        },
        "subtitle": {
          "description": "The subtitle of the exception.",
          "type": "string"
        },
        "exceptionMessage": {
          "type": "string",
          "description": "A message associated with the exception."
        },
        "type": {
          "type": "string",
          "description": "The exception type e.g. java.lang.IllegalStateException."
        }
      },
      "id": "Exception"
    },
    "Version": {
      "type": "object",
      "properties": {
        "buildVersion": {
          "description": "Mobile only. One display_version can have many build_version. On Android, strictly the same as \"version code\". On iOS, strictly the same as \"build number\" or CFBundleVersion.",
          "type": "string"
        },
        "displayVersion": {
          "type": "string",
          "description": "Readable version string, e.g. \"1.2.3\". On Android, strictly the same as \"version name\". On iOS, strictly the same as \"version number\" or CFBundleShortVersionString."
        },
        "displayName": {
          "type": "string",
          "description": "Compound readable string containing both display and build versions. Format: \"display_version (build_version)\" e.g. \"1.2.3 (456)\". This string can be used for filtering with the VersionFilter.display_name field."
        },
        "tracks": {
          "items": {
            "$ref": "PlayTrack"
          },
          "type": "array",
          "description": "Indicates releases which have artifacts that are currently available in the Play Store to the target audience of the track. Versions may be available in multiple tracks."
        }
      },
      "description": "Application software version.",
      "id": "Version"
    },
    "BatchUpdateIssuesRequest": {
      "type": "object",
      "description": "Request message for the BatchUpdateIssues method.",
      "properties": {
        "updateMask": {
          "type": "string",
          "description": "Optional. The list of Issue fields to update. If this is set, the update_mask field in the UpdateIssueRequest messages must either be empty or match this field.",
          "format": "google-fieldmask"
        },
        "requests": {
          "type": "array",
          "description": "Required. The request message specifying the resources to update. A maximum of 100 issues can be modified in a batch.",
          "items": {
            "$ref": "UpdateIssueRequest"
          }
        }
      },
      "id": "BatchUpdateIssuesRequest"
    },
    "Memory": {
      "type": "object",
      "id": "Memory",
      "description": "Mobile device memory usage.",
      "properties": {
        "free": {
          "description": "Bytes free.",
          "type": "string",
          "format": "int64"
        },
        "used": {
          "format": "int64",
          "description": "Bytes in use.",
          "type": "string"
        }
      }
    },
    "DeleteUserCrashReportsResponse": {
      "id": "DeleteUserCrashReportsResponse",
      "type": "object",
      "description": "Response message for the DeleteUserCrashReports method. All crash reports associated with the specified user will be deleted typically within 24 hours of receiving the crash report.",
      "properties": {
        "targetCompleteTime": {
          "description": "Target time to complete the delete crash reports operation.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "OperatingSystem": {
      "description": "Mobile device operating system metadata.",
      "type": "object",
      "properties": {
        "displayVersion": {
          "description": "Operating system display version number.",
          "type": "string"
        },
        "deviceType": {
          "type": "string",
          "description": "The device category (mobile, tablet, desktop)."
        },
        "displayName": {
          "description": "Name and version number. Formatted to be suitable for passing to OperatingSystemFilter.",
          "type": "string"
        },
        "os": {
          "description": "Operating system name.",
          "type": "string"
        },
        "modificationState": {
          "type": "string",
          "description": "Indicates if the OS has been modified or \"jailbroken\"."
        },
        "type": {
          "description": "The OS type on Apple platforms (iOS, iPadOS, etc.).",
          "type": "string"
        }
      },
      "id": "OperatingSystem"
    },
    "Log": {
      "description": "Developer-provided log lines recorded during the session.",
      "type": "object",
      "id": "Log",
      "properties": {
        "message": {
          "type": "string",
          "description": "Log message."
        },
        "logTime": {
          "type": "string",
          "description": "Device timestamp when the line was logged.",
          "format": "google-datetime"
        }
      }
    },
    "Frame": {
      "properties": {
        "blamed": {
          "description": "True when the Crashlytics analysis has determined that this frame is likely to be the cause of the error.",
          "type": "boolean"
        },
        "library": {
          "type": "string",
          "description": "The display name of the library that includes the frame."
        },
        "symbol": {
          "type": "string",
          "description": "The frame symbol after it has been deobfuscated or symbolicated. The raw symbol from the device if it could not be hydrated."
        },
        "address": {
          "description": "The address in the binary image which contains the code. Present for native frames.",
          "type": "string",
          "format": "int64"
        },
        "owner": {
          "description": "One of DEVELOPER, VENDOR, RUNTIME, PLATFORM, or SYSTEM.",
          "type": "string"
        },
        "file": {
          "description": "The name of the source file in which the frame is found.",
          "type": "string"
        },
        "column": {
          "type": "string",
          "description": "The column on the line.",
          "format": "int64"
        },
        "line": {
          "type": "string",
          "description": "The line number in the file of the frame.",
          "format": "int64"
        },
        "offset": {
          "format": "int64",
          "description": "The byte offset into the binary image that contains the code. Present for native frames.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Frame",
      "description": "A frame in a stacktrace."
    },
    "User": {
      "description": "Developer-provided end user identifiers.",
      "id": "User",
      "properties": {
        "id": {
          "type": "string",
          "description": "User id if provided by the app developer."
        }
      },
      "type": "object"
    },
    "IssueSignals": {
      "description": "Distinctive characteristics assigned by the Crashlytics analyzer.",
      "id": "IssueSignals",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Supporting detail information."
        },
        "signal": {
          "description": "Output only. The signal name.",
          "enumDescriptions": [
            "Default.",
            "Indicates an issue that is impacting end users early in the app session.",
            "Indicates newly detected issues.",
            "Indicates previously closed issues which have been detected again.",
            "Indicates issues impacting some end users multiple times."
          ],
          "type": "string",
          "enum": [
            "SIGNAL_UNSPECIFIED",
            "SIGNAL_EARLY",
            "SIGNAL_FRESH",
            "SIGNAL_REGRESSED",
            "SIGNAL_REPETITIVE"
          ],
          "readOnly": true
        }
      }
    },
    "ListNotesResponse": {
      "id": "ListNotesResponse",
      "description": "Response message for the ListNotes method.",
      "type": "object",
      "properties": {
        "notes": {
          "items": {
            "$ref": "Note"
          },
          "description": "Returns notes ordered descending by the timestamp.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A pagination token to retrieve the next page of notes. If this field is not present, there are no subsequent notes."
        }
      }
    },
    "Report": {
      "id": "Report",
      "type": "object",
      "properties": {
        "usage": {
          "type": "string",
          "description": "Usage instructions for the report with a description of the result metrics. This field contains a description of the underlying query and describes the expected response data with any known caveats. This string can be displayed in the UI of any integration that offers comprehensive access to all Crashlytics reports."
        },
        "totalSize": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. The total number of groups retrievable by the request.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The name of the report. Format: \"projects/{project}/apps/{app_id}/reports/{report}\"."
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. The displayable title of the report.",
          "type": "string"
        },
        "groups": {
          "items": {
            "$ref": "ReportGroup"
          },
          "description": "Aggregate event statistics in the report will be grouped by a dimension, such as by issue or by version. The response contains one element per group, and all ReportGroup messages will have the same parent field.",
          "type": "array"
        },
        "nextPageToken": {
          "readOnly": true,
          "description": "Output only. A page token used to retrieve additional report groups. If this field is not present, there are no subsequent pages available to retrieve.",
          "type": "string"
        }
      },
      "description": "Response message for the GetReport method. A report consists of the results of a query over an application's events. The events may be filtered by various criteria defined in the filters proto. The result will consist of a number of paginated groups, of a type relevant to the report such as issues or device models."
    },
    "Issue": {
      "id": "Issue",
      "properties": {
        "lastSeenTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The most recent time this issue was seen.",
          "type": "string"
        },
        "lastSeenVersion": {
          "readOnly": true,
          "description": "Output only. The most recent app display_version in which this issue was seen, populated for mobile issues only.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Output only. Immutable. Unique identifier for the issue.",
          "readOnly": true
        },
        "errorType": {
          "readOnly": true,
          "enumDescriptions": [
            "Unknown.",
            "Fatal crash event.",
            "Non-fatal event, such as a caught Java exception or NSError on iOS.",
            "Application not responding error, Android only."
          ],
          "description": "Output only. Immutable. Indicates whether this issue is a crash, non-fatal exception, or ANR.",
          "type": "string",
          "enum": [
            "ERROR_TYPE_UNSPECIFIED",
            "FATAL",
            "NON_FATAL",
            "ANR"
          ]
        },
        "signals": {
          "items": {
            "$ref": "IssueSignals"
          },
          "type": "array",
          "description": "Output only. Immutable. Distinctive characteristics assigned by the Crashlytics analyzer.",
          "readOnly": true
        },
        "firstSeenTime": {
          "description": "Output only. Immutable. The first time this issue was seen.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "uri": {
          "readOnly": true,
          "description": "Output only. Provides a link to the Issue on the Firebase console. When this Issue is obtained as part of a Report, then the link will be configured with the same time interval and filters as the request.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Required. Output only. Immutable. Identifier. The name of the issue resource. Format: \"projects/{project}/apps/{app}/issues/{issue}\"."
        },
        "state": {
          "enumDescriptions": [
            "Unknown.",
            "Ongoing issue.",
            "Issue resolved.",
            "Issue muted. No alerts will be fired for this issue."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "OPEN",
            "CLOSED",
            "MUTED"
          ],
          "readOnly": true,
          "description": "Output only. Indicates whether this issue is open, closed or muted. For details on how issue states change without user actions, see [Regressed Issues](https://firebase.google.com/docs/crashlytics/troubleshooting?platform=ios#regressed-issues)."
        },
        "subtitle": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Immutable. Caption subtitle. This is usually a symbol or an exception message."
        },
        "notesCount": {
          "description": "Output only. The number of notes attached to an issue.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "firstSeenVersion": {
          "type": "string",
          "description": "Output only. Immutable. The first app display_version in which this issue was seen, populated for mobile issues only.",
          "readOnly": true
        },
        "variants": {
          "description": "Output only. Immutable. The top 12 variants (subgroups) within the issue. Variants group events within an issue that are very similar. A single result implies that the variant is the same as the parent issue. This field will be empty when multiple issues are requested. Request a single issue to list variants.",
          "items": {
            "$ref": "IssueVariant"
          },
          "type": "array",
          "readOnly": true
        },
        "stateUpdateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the issue state was last changed."
        },
        "title": {
          "readOnly": true,
          "description": "Output only. Immutable. Caption title. This is usually a source file or method name.",
          "type": "string"
        },
        "sampleEvent": {
          "description": "Output only. The resource name for a sample event in this issue.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "An issue describes a set of similar events that have been analyzed by Crashlytics and grouped together. All events within an issue will be of the same error_type: crash, non-fatal exception or ANR. All events within an issue will contain similar stack traces in their blamed thread.",
      "type": "object"
    },
    "Device": {
      "type": "object",
      "id": "Device",
      "description": "Mobile device metadata.",
      "properties": {
        "displayName": {
          "description": "Full device name, suitable for passing to DeviceFilter. Format: \"manufacturer (model)\".",
          "type": "string"
        },
        "model": {
          "description": "The model name which is consistent with android.os.Build.MODEL, e.g. (\"SPH-L710\", \"GT-I9300\").",
          "type": "string"
        },
        "marketingName": {
          "description": "Marketing name, most recognizable public form, e.g. \"Pixel 6\".",
          "type": "string"
        },
        "formFactor": {
          "type": "string",
          "enum": [
            "FORM_FACTOR_UNSPECIFIED",
            "PHONE",
            "TABLET",
            "DESKTOP",
            "TV",
            "WATCH"
          ],
          "description": "See FormFactor message.",
          "enumDescriptions": [
            "Unknown.",
            "Includes mobile phones, small foldables and other form factors not fitting the other categories.",
            "Includes tablets and larger foldables.",
            "Includes desktops, laptops, Chromebooks, etc.",
            "Includes televisions and set-tops.",
            "Includes both watches and other wearables."
          ]
        },
        "companyName": {
          "description": "An invariant name of the manufacturer that submitted this product in its most recognizable public form, e.g. \"Google\".",
          "type": "string"
        },
        "manufacturer": {
          "description": "Device brand name which is consistent with android.os.Build.BRAND.",
          "type": "string"
        },
        "architecture": {
          "description": "Device processor architecture.",
          "type": "string"
        }
      }
    },
    "IssueVariant": {
      "description": "A variant is a subgroup of an issue where all events have very similar stack traces. Issues may contain one or more variants.",
      "properties": {
        "uri": {
          "description": "Output only. Provides a link to the variant on the Firebase console. When this variant is obtained as part of a Report, then the link will be configured with the same time interval and filters as the request.",
          "type": "string",
          "readOnly": true
        },
        "sampleEvent": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name for a sample event in this variant."
        },
        "id": {
          "description": "Output only. Immutable. Distinct identifier for the variant.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "IssueVariant",
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "BatchGetEventsResponse": {
      "description": "Response message for the BatchGetEvents method.",
      "properties": {
        "events": {
          "description": "The list of retrieved events.",
          "items": {
            "$ref": "Event"
          },
          "type": "array"
        }
      },
      "id": "BatchGetEventsResponse",
      "type": "object"
    },
    "Browser": {
      "type": "object",
      "id": "Browser",
      "properties": {
        "displayVersion": {
          "type": "string",
          "description": "Browser display version number."
        },
        "displayName": {
          "type": "string",
          "description": "Browser name and version number. Formatted to be suitable for passing to BrowserFilter."
        },
        "browser": {
          "type": "string",
          "description": "Browser name."
        }
      },
      "description": "Web browser metadata."
    },
    "Breadcrumb": {
      "description": "Analytics events recorded during the session.",
      "properties": {
        "params": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Event parameters."
        },
        "eventTime": {
          "description": "Device timestamp for the event.",
          "type": "string",
          "format": "google-datetime"
        },
        "title": {
          "description": "Analytic event name.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Breadcrumb"
    },
    "BatchUpdateIssuesResponse": {
      "description": "Response message for the BatchUpdateIssues method.",
      "type": "object",
      "id": "BatchUpdateIssuesResponse",
      "properties": {
        "issues": {
          "type": "array",
          "description": "Issues updated in the same order as in BatchUpdateIssuesRequest.",
          "items": {
            "$ref": "Issue"
          }
        }
      }
    },
    "PlayTrack": {
      "description": "Describes a release track in the Play Developer Console.",
      "id": "PlayTrack",
      "properties": {
        "type": {
          "description": "The type of track (prod, internal, etc...).",
          "type": "string",
          "enum": [
            "TRACK_TYPE_UNSPECIFIED",
            "TRACK_TYPE_PROD",
            "TRACK_TYPE_INTERNAL",
            "TRACK_TYPE_OPEN_TESTING",
            "TRACK_TYPE_CLOSED_TESTING",
            "TRACK_TYPE_EARLY_ACCESS"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Production.",
            "Internal testing.",
            "Open testing.",
            "Closed testing.",
            "Early access."
          ]
        },
        "title": {
          "description": "User-generated or auto-generated name of the track. PROD and INTERNAL track types always have auto-generated names, e.g. \"prod\" and \"internal\" respectively. Tracks of type EARLY_ACCESS always have a user-generated name. Other track types do not have any guarantees, might have user-generated or auto-generated names.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "UpdateIssueRequest": {
      "description": "Request message for the UpdateIssue method.",
      "id": "UpdateIssueRequest",
      "properties": {
        "updateMask": {
          "type": "string",
          "description": "Optional. The list of Issue fields to update. Currently only \"state\" is mutable.",
          "format": "google-fieldmask"
        },
        "issue": {
          "description": "Required. The issue to update. The issue's `name` field is used to identify the issue to update. Format: \"projects/{project}/apps/{app}/issues/{issue}\".",
          "$ref": "Issue"
        }
      },
      "type": "object"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  }
}