{
  "id": "firebaseapphosting:v1beta",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://firebaseapphosting.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "description": "Firebase App Hosting streamlines the development and deployment of dynamic Next.js and Angular applications, offering built-in framework support, GitHub integration, and integration with other Firebase products. You can use this API to intervene in the Firebase App Hosting build process and add custom functionality not supported in our default Console & CLI flows, including triggering builds from external CI/CD workflows or deploying from pre-built container images. ",
  "protocol": "rest",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query",
      "default": "json"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "parameterOrder": [
                "name"
              ],
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "path": "v1beta/{+name}/locations",
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page."
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "filter": {
                  "location": "query",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string"
                },
                "name": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "location": "path"
                },
                "extraLocationTypes": {
                  "repeated": true,
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage."
                }
              },
              "flatPath": "v1beta/projects/{projectsId}/locations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "id": "firebaseapphosting.projects.locations.list"
            },
            "get": {
              "httpMethod": "GET",
              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets information about a location.",
              "response": {
                "$ref": "Location"
              },
              "path": "v1beta/{+name}",
              "id": "firebaseapphosting.projects.locations.get",
              "parameters": {
                "name": {
                  "description": "Resource name for the location.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              }
            }
          },
          "resources": {
            "supportedRuntimes": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "path": "v1beta/{+parent}/supportedRuntimes",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/supportedRuntimes",
                  "description": "Lists the runtimes supported by the backend. The list of runtimes may vary across projects and locations, for example, during staged rollouts of new runtime support.",
                  "response": {
                    "$ref": "ListSupportedRuntimesResponse"
                  },
                  "id": "firebaseapphosting.projects.locations.supportedRuntimes.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The parent, which owns this collection of SupportedRuntime. Format: projects/{project}/locations/{location}",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. The suggested number of runtimes to return. This field is ignored. We return all runtimes in a single page regardless of the page size."
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "cancel": {
                  "id": "firebaseapphosting.projects.locations.operations.cancel",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "The name of the operation resource to be cancelled.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "path": "v1beta/{+name}:cancel",
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
                },
                "delete": {
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "path": "v1beta/{+name}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "The name of the operation resource to be deleted.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "firebaseapphosting.projects.locations.operations.delete",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
                },
                "get": {
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "path": "v1beta/{+name}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "firebaseapphosting.projects.locations.operations.get",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "description": "The name of the operation resource.",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "id": "firebaseapphosting.projects.locations.operations.list",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "The standard list page token.",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The standard list page size.",
                      "location": "query"
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "The name of the operation's parent resource."
                    }
                  },
                  "path": "v1beta/{+name}/operations",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`."
                }
              }
            },
            "backends": {
              "resources": {
                "builds": {
                  "methods": {
                    "get": {
                      "response": {
                        "$ref": "Build"
                      },
                      "id": "firebaseapphosting.projects.locations.backends.builds.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the resource in the format: `projects/{project}/locations/{locationId}/backends/{backendId}/builds/{buildId}`.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/backends/[^/]+/builds/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/backends/{backendsId}/builds/{buildsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets information about a build.",
                      "httpMethod": "GET",
                      "path": "v1beta/{+name}"
                    },
                    "delete": {
                      "parameters": {
                        "requestId": {
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "type": "string",
                          "location": "query"
                        },
                        "name": {
                          "required": true,
                          "type": "string",
                          "description": "Required. Name of the resource in the format: `projects/{project}/locations/{locationId}/backends/{backendId}/builds/{buildId}`.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/backends/[^/]+/builds/[^/]+$"
                        },
                        "etag": {
                          "description": "Optional. If the client provided etag is out of date, delete will be returned FAILED_PRECONDITION error.",
                          "type": "string",
                          "location": "query"
                        },
                        "validateOnly": {
                          "type": "boolean",
                          "description": "Optional. Indicates that the request should be validated and default values populated, without persisting the request or deleting any resources.",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "firebaseapphosting.projects.locations.backends.builds.delete",
                      "description": "Deletes a single build.",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/backends/{backendsId}/builds/{buildsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "DELETE",
                      "path": "v1beta/{+name}"
                    },
                    "create": {
                      "description": "Creates a new build for a backend.",
                      "id": "firebaseapphosting.projects.locations.backends.builds.create",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "Build"
                      },
                      "path": "v1beta/{+parent}/builds",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/backends/[^/]+$",
                          "location": "path",
                          "description": "Required. The parent backend in the format: `projects/{project}/locations/{locationId}/backends/{backendId}`.",
                          "type": "string"
                        },
                        "requestId": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                        },
                        "buildId": {
                          "type": "string",
                          "description": "Required. Desired ID of the build being created.",
                          "location": "query"
                        },
                        "validateOnly": {
                          "description": "Optional. Indicates that the request should be validated and default values populated, without persisting the request or creating any resources.",
                          "location": "query",
                          "type": "boolean"
                        }
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/backends/{backendsId}/builds"
                    },
                    "list": {
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists builds in a given project, location, and backend.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "ListBuildsResponse"
                      },
                      "id": "firebaseapphosting.projects.locations.backends.builds.list",
                      "path": "v1beta/{+parent}/builds",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/backends/{backendsId}/builds",
                      "parameters": {
                        "orderBy": {
                          "location": "query",
                          "description": "Optional. Hint for how to order the results. Supported fields are `name` and `createTime`. To specify descending order, append a `desc` suffix.",
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "Optional. A page token received from the nextPageToken field in the response. Send that page token to receive the subsequent page.",
                          "location": "query",
                          "type": "string"
                        },
                        "showDeleted": {
                          "description": "Optional. If true, the request returns soft-deleted resources that haven't been fully-deleted yet.",
                          "type": "boolean",
                          "location": "query"
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "type": "integer",
                          "description": "Optional. The maximum number of results to return. If not set, the service selects a default."
                        },
                        "filter": {
                          "description": "Optional. A filter to narrow down results to a preferred subset. Learn more about filtering in Google's [AIP 160 standard](https://google.aip.dev/160).",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "required": true,
                          "description": "Required. The parent backend in the form `projects/{project}/locations/{locationId}/backends/{backendId}`.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/backends/[^/]+$",
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "rollouts": {
                  "methods": {
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListRolloutsResponse"
                      },
                      "id": "firebaseapphosting.projects.locations.backends.rollouts.list",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/backends/{backendsId}/rollouts",
                      "path": "v1beta/{+parent}/rollouts",
                      "parameters": {
                        "pageSize": {
                          "description": "Optional. The maximum number of results to return. If not set, the service selects a default.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "showDeleted": {
                          "description": "Optional. If true, the request returns soft-deleted resources that haven't been fully-deleted yet.",
                          "location": "query",
                          "type": "boolean"
                        },
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A filter to narrow down results to a preferred subset. Learn more about filtering in Google's [AIP 160 standard](https://google.aip.dev/160)."
                        },
                        "orderBy": {
                          "location": "query",
                          "description": "Optional. Hint for how to order the results. Supported fields are `name` and `createTime`. To specify descending order, append a `desc` suffix.",
                          "type": "string"
                        },
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/backends/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "description": "Required. The parent backend in the format: `projects/{project}/locations/{locationId}/backends/{backendId}`."
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. A page token received from the nextPageToken field in the response. Send that page token to receive the subsequent page.",
                          "type": "string"
                        }
                      },
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists rollouts for a backend."
                    },
                    "create": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "requestId": {
                          "type": "string",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query"
                        },
                        "validateOnly": {
                          "location": "query",
                          "type": "boolean",
                          "description": "Optional. Indicates that the request should be validated and default values populated, without persisting the request or creating any resources."
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/backends/[^/]+$",
                          "location": "path",
                          "description": "Required. The parent backend in the format: `projects/{project}/locations/{locationId}/backends/{backendId}`.",
                          "type": "string",
                          "required": true
                        },
                        "rolloutId": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Desired ID of the rollout being created."
                        }
                      },
                      "id": "firebaseapphosting.projects.locations.backends.rollouts.create",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "request": {
                        "$ref": "Rollout"
                      },
                      "path": "v1beta/{+parent}/rollouts",
                      "httpMethod": "POST",
                      "description": "Creates a new rollout for a backend.",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/backends/{backendsId}/rollouts"
                    },
                    "get": {
                      "description": "Gets information about a rollout.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1beta/{+name}",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "Rollout"
                      },
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. Name of the resource in the format: `projects/{project}/locations/{locationId}/backends/{backendId}/rollouts/{rolloutId}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/backends/[^/]+/rollouts/[^/]+$",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "id": "firebaseapphosting.projects.locations.backends.rollouts.get",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/backends/{backendsId}/rollouts/{rolloutsId}"
                    }
                  }
                },
                "traffic": {
                  "methods": {
                    "patch": {
                      "description": "Updates a backend's traffic.",
                      "parameters": {
                        "validateOnly": {
                          "description": "Optional. Indicates that the request should be validated, without persisting the request or updating any resources.",
                          "location": "query",
                          "type": "boolean"
                        },
                        "name": {
                          "required": true,
                          "description": "Identifier. The resource name of the backend's traffic. Format: `projects/{project}/locations/{locationId}/backends/{backendId}/traffic`.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/backends/[^/]+/traffic$",
                          "location": "path"
                        },
                        "requestId": {
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and t he request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "type": "string",
                          "location": "query"
                        },
                        "updateMask": {
                          "description": "Optional. Field mask is used to specify the fields to be overwritten in the traffic resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                          "location": "query",
                          "format": "google-fieldmask",
                          "type": "string"
                        }
                      },
                      "id": "firebaseapphosting.projects.locations.backends.traffic.patch",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/backends/{backendsId}/traffic",
                      "httpMethod": "PATCH",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "Traffic"
                      },
                      "path": "v1beta/{+name}"
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the resource in the format: `projects/{project}/locations/{locationId}/backends/{backendId}/traffic`.",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/backends/[^/]+/traffic$",
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets information about a backend's traffic.",
                      "id": "firebaseapphosting.projects.locations.backends.traffic.get",
                      "response": {
                        "$ref": "Traffic"
                      },
                      "path": "v1beta/{+name}",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/backends/{backendsId}/traffic",
                      "httpMethod": "GET"
                    }
                  }
                },
                "domains": {
                  "methods": {
                    "patch": {
                      "path": "v1beta/{+name}",
                      "id": "firebaseapphosting.projects.locations.backends.domains.patch",
                      "httpMethod": "PATCH",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/backends/[^/]+/domains/[^/]+$",
                          "description": "Identifier. The resource name of the domain, e.g. `/projects/p/locations/l/backends/b/domains/foo.com`",
                          "required": true
                        },
                        "validateOnly": {
                          "type": "boolean",
                          "location": "query",
                          "description": "Optional. Indicates that the request should be validated and default values populated, without persisting the request or modifying any resources."
                        },
                        "updateMask": {
                          "location": "query",
                          "description": "Optional. Field mask is used to specify the fields to be overwritten in the Domain resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                          "type": "string",
                          "format": "google-fieldmask"
                        },
                        "requestId": {
                          "type": "string",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query"
                        },
                        "allowMissing": {
                          "type": "boolean",
                          "description": "Optional. If set to true, and the domain is not found, a new domain will be created.",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/backends/{backendsId}/domains/{domainsId}",
                      "request": {
                        "$ref": "Domain"
                      },
                      "description": "Updates the information for a single domain."
                    },
                    "list": {
                      "parameters": {
                        "filter": {
                          "type": "string",
                          "description": "Optional. A filter to narrow down results to a preferred subset. Learn more about filtering in Google's [AIP 160 standard](https://google.aip.dev/160).",
                          "location": "query"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/backends/[^/]+$",
                          "type": "string",
                          "description": "Required. The parent backend in the format: `projects/{project}/locations/{locationId}/backends/{backendId}`.",
                          "required": true,
                          "location": "path"
                        },
                        "orderBy": {
                          "description": "Optional. Hint for how to order the results. Supported fields are `name` and `createTime`. To specify descending order, append a `desc` suffix.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "description": "Optional. The maximum number of results to return. If not set, the service selects a default.",
                          "format": "int32"
                        },
                        "pageToken": {
                          "description": "Optional. A page token received from the nextPageToken field in the response. Send that page token to receive the subsequent page.",
                          "location": "query",
                          "type": "string"
                        },
                        "showDeleted": {
                          "location": "query",
                          "description": "Optional. If true, the request returns soft-deleted resources that haven't been fully-deleted yet.",
                          "type": "boolean"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta/{+parent}/domains",
                      "id": "firebaseapphosting.projects.locations.backends.domains.list",
                      "response": {
                        "$ref": "ListDomainsResponse"
                      },
                      "httpMethod": "GET",
                      "description": "Lists domains of a backend.",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/backends/{backendsId}/domains",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "delete": {
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. Name of the resource in the format: `projects/{project}/locations/{locationId}/backends/{backendId}/domains/{domainId}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/backends/[^/]+/domains/[^/]+$"
                        },
                        "etag": {
                          "description": "Optional. If the client provided etag is out of date, delete will be returned FAILED_PRECONDITION error.",
                          "location": "query",
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query"
                        },
                        "validateOnly": {
                          "type": "boolean",
                          "location": "query",
                          "description": "Optional. Indicates that the request should be validated and default values populated, without persisting the request or deleting any resources."
                        }
                      },
                      "httpMethod": "DELETE",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/backends/{backendsId}/domains/{domainsId}",
                      "description": "Deletes a single domain.",
                      "path": "v1beta/{+name}",
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "firebaseapphosting.projects.locations.backends.domains.delete"
                    },
                    "get": {
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/backends/{backendsId}/domains/{domainsId}",
                      "description": "Gets information about a domain.",
                      "response": {
                        "$ref": "Domain"
                      },
                      "httpMethod": "GET",
                      "id": "firebaseapphosting.projects.locations.backends.domains.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/backends/[^/]+/domains/[^/]+$",
                          "description": "Required. Name of the resource in the format: `projects/{project}/locations/{locationId}/backends/{backendId}/domains/{domainId}`."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta/{+name}"
                    },
                    "create": {
                      "id": "firebaseapphosting.projects.locations.backends.domains.create",
                      "httpMethod": "POST",
                      "path": "v1beta/{+parent}/domains",
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Links a new domain to a backend.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "Domain"
                      },
                      "parameters": {
                        "validateOnly": {
                          "type": "boolean",
                          "description": "Optional. Indicates that the request should be validated and default values populated, without persisting the request or creating any resources.",
                          "location": "query"
                        },
                        "domainId": {
                          "type": "string",
                          "location": "query",
                          "description": "Required. Id of the domain to create. Must be a valid domain name."
                        },
                        "parent": {
                          "description": "Required. The parent backend in the format: `projects/{project}/locations/{locationId}/backends/{backendId}`.",
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/backends/[^/]+$"
                        },
                        "requestId": {
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/backends/{backendsId}/domains"
                    }
                  }
                }
              },
              "methods": {
                "get": {
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/backends/{backendsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Backend"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Required. Name of the resource in the format: `projects/{project}/locations/{locationId}/backends/{backendId}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/backends/[^/]+$",
                      "location": "path"
                    }
                  },
                  "path": "v1beta/{+name}",
                  "description": "Gets information about a backend.",
                  "id": "firebaseapphosting.projects.locations.backends.get"
                },
                "delete": {
                  "path": "v1beta/{+name}",
                  "parameters": {
                    "validateOnly": {
                      "location": "query",
                      "description": "Optional. Indicates that the request should be validated, without persisting the request or updating any resources.",
                      "type": "boolean"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and t he request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    },
                    "force": {
                      "description": "Optional. If set to true, any resources for this backend will also be deleted. Otherwise, any children resources will block deletion.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/backends/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. Name of the resource in the format: `projects/{project}/locations/{locationId}/backends/{backendId}`."
                    },
                    "etag": {
                      "description": "Optional. If the client provided etag is out of date, delete will be returned FAILED_PRECONDITION error.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/backends/{backendsId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "DELETE",
                  "description": "Deletes a single backend.",
                  "id": "firebaseapphosting.projects.locations.backends.delete",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "patch": {
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/backends/{backendsId}",
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "firebaseapphosting.projects.locations.backends.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates the information for a single backend.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1beta/{+name}",
                  "request": {
                    "$ref": "Backend"
                  },
                  "parameters": {
                    "allowMissing": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. If set to true, and the backend is not found, a new backend will be created."
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and t he request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the backend resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "description": "Identifier. The resource name of the backend. Format: `projects/{project}/locations/{locationId}/backends/{backendId}`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/backends/[^/]+$",
                      "location": "path"
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "description": "Optional. Indicates that the request should be validated, without persisting the request or updating any resources.",
                      "location": "query"
                    }
                  }
                },
                "list": {
                  "description": "Lists backends in a given project and location.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "firebaseapphosting.projects.locations.backends.list",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "orderBy": {
                      "location": "query",
                      "description": "Optional. Hint for how to order the results. Supported fields are `name` and `createTime`. To specify descending order, append a `desc` suffix.",
                      "type": "string"
                    },
                    "showDeleted": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Optional. If true, the request returns soft-deleted resources that haven't been fully-deleted yet."
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A page token received from the nextPageToken field in the response. Send that page token to receive the subsequent page.",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. The maximum number of results to return. If not set, the service selects a default."
                    },
                    "parent": {
                      "description": "Required. A parent name of the form `projects/{project}/locations/{locationId}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A filter to narrow down results to a preferred subset. Learn more about filtering in Google's [AIP 160 standard](https://google.aip.dev/160)."
                    }
                  },
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/backends",
                  "path": "v1beta/{+parent}/backends",
                  "response": {
                    "$ref": "ListBackendsResponse"
                  }
                },
                "create": {
                  "path": "v1beta/{+parent}/backends",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/backends",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "firebaseapphosting.projects.locations.backends.create",
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "Backend"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a new backend in a given project and location.",
                  "parameters": {
                    "backendId": {
                      "location": "query",
                      "description": "Required. Id of the backend. Also used as the service ID for Cloud Run, and as part of the default domain name.",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. A parent name of the form `projects/{project}/locations/{locationId}`.",
                      "location": "path",
                      "type": "string"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and t he request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "description": "Optional. Indicates that the request should be validated and default values populated, without persisting the request or creating any resources.",
                      "location": "query"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "basePath": "",
  "canonicalName": "Firebase App Hosting",
  "schemas": {
    "Location": {
      "type": "object",
      "id": "Location",
      "properties": {
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        }
      },
      "description": "A resource that represents a Google Cloud location."
    },
    "SourceUserMetadata": {
      "type": "object",
      "id": "SourceUserMetadata",
      "properties": {
        "imageUri": {
          "readOnly": true,
          "description": "Output only. Deprecated: Not used. The URI of a profile photo associated with the user who created the build.",
          "deprecated": true,
          "type": "string"
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. Deprecated: Not used. The user-chosen displayname. May be empty.",
          "type": "string",
          "deprecated": true
        },
        "email": {
          "readOnly": true,
          "description": "Output only. Deprecated: Not used. The account email linked to the EUC that created the build. May be a service account or other robot account.",
          "type": "string",
          "deprecated": true
        }
      },
      "deprecated": true,
      "description": "Deprecated: Not used. Metadata for the user who started the build."
    },
    "Error": {
      "id": "Error",
      "properties": {
        "error": {
          "$ref": "Status",
          "readOnly": true,
          "description": "Output only. A status and (human readable) error message for the build, if in a `FAILED` state."
        },
        "cloudResource": {
          "readOnly": true,
          "description": "Output only. Resource link",
          "type": "string"
        },
        "errorSource": {
          "description": "Output only. The source of the error for the build, if in a `FAILED` state.",
          "enumDescriptions": [
            "Indicates that generic error occurred outside of the Cloud Build or Cloud Run processes, such as a pre-empted or user-canceled App Hosting Build.",
            "Indicates that the build failed during the Cloud Build process, such as a build timeout.",
            "Indicates that the build failed during the Cloud Run process, such as a service creation failure."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "ERROR_SOURCE_UNSPECIFIED",
            "CLOUD_BUILD",
            "CLOUD_RUN"
          ]
        }
      },
      "description": "The container for the rpc status and source for any errors found during the build process.",
      "type": "object"
    },
    "ContainerSource": {
      "description": "The URI of an Artifact Registry [container image](https://cloud.google.com/artifact-registry/docs/reference/rest/v1/projects.locations.repositories.dockerImages) to use as the build source.",
      "id": "ContainerSource",
      "properties": {
        "image": {
          "type": "string",
          "description": "Required. A URI representing a container for the backend to use."
        }
      },
      "type": "object"
    },
    "Domain": {
      "description": "A domain name that is associated with a backend.",
      "properties": {
        "purgeTime": {
          "readOnly": true,
          "description": "Output only. Time at which a soft-deleted domain will be purged, rendering in permanently deleted.",
          "format": "google-datetime",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels as key value pairs."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time at which the domain was created.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. Mutable human-readable name for the domain. 63 character limit. e.g. `prod domain`."
        },
        "reconciling": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. A field that, if true, indicates that the build has an ongoing LRO."
        },
        "serve": {
          "$ref": "ServingBehavior",
          "description": "Optional. The serving behavior of the domain. If specified, the domain will serve content other than its backend's live content."
        },
        "type": {
          "enumDescriptions": [
            "The type is unspecified (this should not happen).",
            "Default, App Hosting-provided and managed domains. These domains are created automatically with their parent backend and cannot be deleted except by deleting that parent, and cannot be moved to another backend. Default domains can be disabled via the `disabled` field.",
            "Custom, developer-owned domains. Custom Domains allow you to associate a domain you own with your App Hosting backend, and configure that domain to serve your backend's content."
          ],
          "description": "Output only. The type of the domain.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "DEFAULT",
            "CUSTOM"
          ],
          "readOnly": true
        },
        "deleteTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time at which the domain was deleted.",
          "type": "string"
        },
        "customDomainStatus": {
          "readOnly": true,
          "description": "Output only. Represents the state and configuration of a `CUSTOM` type domain. It is only present on Domains of that type.",
          "$ref": "CustomDomainStatus"
        },
        "disabled": {
          "type": "boolean",
          "description": "Optional. Whether the domain is disabled. Defaults to false."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Time at which the domain was last updated.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the domain, e.g. `/projects/p/locations/l/backends/b/domains/foo.com`"
        },
        "etag": {
          "description": "Output only. Server-computed checksum based on other values; may be sent on update or delete to ensure operation is done on expected resource.",
          "readOnly": true,
          "type": "string"
        },
        "uid": {
          "description": "Output only. System-assigned, unique identifier.",
          "type": "string",
          "readOnly": true
        },
        "annotations": {
          "description": "Optional. Annotations as key value pairs.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "id": "Domain",
      "type": "object"
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "id": "ListOperationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array"
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        }
      }
    },
    "Config": {
      "properties": {
        "runConfig": {
          "$ref": "RunConfig",
          "description": "Optional. Additional configuration of the Cloud Run [`service`](https://cloud.google.com/run/docs/reference/rest/v2/projects.locations.services#resource:-service)."
        },
        "effectiveEnv": {
          "readOnly": true,
          "items": {
            "$ref": "EnvironmentVariable"
          },
          "type": "array",
          "description": "Output only. [OUTPUT_ONLY] This field represents all environment variables employed during both the build and runtime. This list reflects the result of merging variables from all sources (Backend.override_env, Build.Config.env, YAML, defaults, system). Each variable includes its `origin`"
        },
        "env": {
          "type": "array",
          "description": "Optional. Supplied environment variables for a specific build. Provided at Build creation time and immutable afterwards. This field is only applicable for Builds using a build image - (e.g., ContainerSource or ArchiveSource with locally_built_source) Attempts to set this for other build types will result in an error",
          "items": {
            "$ref": "EnvironmentVariable"
          }
        }
      },
      "description": "Additional configuration of the backend for this build.",
      "type": "object",
      "id": "Config"
    },
    "SupportedRuntime": {
      "description": "Represents a single FAH supported runtime. Although instances of this resource are parented by a project and location, the set of available runtimes may vary across projects and locations, for example, during staged rollouts of new runtime support.",
      "properties": {
        "deprecateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time at which this runtime will effectively be deprecated. After this date, the runtime is still usable but may not receive new features or updates.",
          "format": "google-datetime"
        },
        "decommissionTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time at which this runtime will be decommissioned. After this date, the runtime can no longer be used for new builds."
        },
        "runtimeId": {
          "readOnly": true,
          "description": "Output only. The identifier of the runtime, e.g., \"nodejs22\".",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the supported runtime. Format: projects/{project}/locations/{location}/supportedRuntimes/{runtime_id}",
          "type": "string"
        },
        "automaticBaseImageUpdatesSupported": {
          "description": "Output only. True if Automatic Base Image Updates (ABIU) is supported for this runtime.",
          "type": "boolean",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "SupportedRuntime"
    },
    "ArchiveSource": {
      "id": "ArchiveSource",
      "description": "The URI of an storage archive or a signed URL to use as the build source.",
      "properties": {
        "userStorageUri": {
          "description": "URI to an archive in Cloud Storage. The object must be a zipped (.zip) or gzipped archive file (.tar.gz) containing source to deploy.",
          "type": "string"
        },
        "description": {
          "description": "Optional. An optional message that describes the uploaded version of the source code.",
          "type": "string"
        },
        "externalSignedUri": {
          "description": "Signed URL to an archive in a storage bucket.",
          "type": "string"
        },
        "rootDirectory": {
          "description": "Optional. The directory relative to the root of the archive to use as the root for the deployed web app. Defaults to use the root of the repository if not provided. If deploying a [monorepo](https://firebase.google.com/docs/app-hosting/monorepos), this should be the directory that contains the `package.json` or `apphosting.yaml` file.",
          "type": "string"
        },
        "author": {
          "description": "Optional. Deprecated: Not used. The author contained in the metadata of a version control change.",
          "deprecated": true,
          "$ref": "SourceUserMetadata"
        }
      },
      "type": "object"
    },
    "DnsUpdates": {
      "type": "object",
      "description": "A set of DNS record updates that you should make to allow App Hosting to serve secure content in response to requests against your domain. These updates present the current state of your domain's and related subdomains' DNS records when App Hosting last queried them, and the desired set of records that App Hosting needs to see before your custom domain can be fully active.",
      "properties": {
        "desired": {
          "readOnly": true,
          "description": "Output only. The set of DNS records App Hosting needs in order to be able to serve secure content on the domain.",
          "type": "array",
          "items": {
            "$ref": "DnsRecordSet"
          }
        },
        "checkTime": {
          "description": "Output only. The last time App Hosting checked your custom domain's DNS records.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "domainName": {
          "description": "Output only. The domain name the DNS updates pertain to.",
          "type": "string",
          "readOnly": true
        },
        "discovered": {
          "type": "array",
          "items": {
            "$ref": "DnsRecordSet"
          },
          "description": "Output only. The set of DNS records App Hosting discovered when inspecting a domain.",
          "readOnly": true
        }
      },
      "id": "DnsUpdates"
    },
    "ListRolloutsResponse": {
      "description": "Message for response to list rollouts.",
      "type": "object",
      "id": "ListRolloutsResponse",
      "properties": {
        "rollouts": {
          "items": {
            "$ref": "Rollout"
          },
          "description": "The list of rollouts.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying the next page of results the server should return."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "ListDomainsResponse": {
      "description": "Message for response to list domains.",
      "id": "ListDomainsResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Locations that could not be reached."
        },
        "nextPageToken": {
          "readOnly": true,
          "description": "Output only. A token identifying the next page of results the server should return.",
          "type": "string"
        },
        "domains": {
          "type": "array",
          "description": "Output only. The list of domains.",
          "items": {
            "$ref": "Domain"
          },
          "readOnly": true
        }
      }
    },
    "ListSupportedRuntimesResponse": {
      "properties": {
        "supportedRuntimes": {
          "items": {
            "$ref": "SupportedRuntime"
          },
          "description": "The list of supported runtimes.",
          "type": "array"
        }
      },
      "id": "ListSupportedRuntimesResponse",
      "description": "Response message for a list of supported runtimes.",
      "type": "object"
    },
    "UserMetadata": {
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The 'email' field in a Git user's git.config, if available."
        },
        "imageUri": {
          "description": "Output only. The URI of an image file associated with the user's account in an external source control provider, if available.",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. The 'name' field in a Git user's git.config. Required by Git.",
          "type": "string"
        }
      },
      "description": "Version control metadata for a user associated with a resolved codebase. Currently assumes a Git user.",
      "id": "UserMetadata"
    },
    "Traffic": {
      "properties": {
        "annotations": {
          "type": "object",
          "description": "Optional. Unstructured key value map that may be set by external tools to store and arbitrary metadata. They are not queryable and should be preserved when modifying objects.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "rolloutPolicy": {
          "$ref": "RolloutPolicy",
          "description": "A rollout policy specifies how new builds and automatic deployments are created."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time at which the backend was last updated.",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Time at which the backend was created.",
          "readOnly": true,
          "type": "string"
        },
        "target": {
          "$ref": "TrafficSet",
          "description": "Set to manually control the desired traffic for the backend. This will cause `current` to eventually match this value. The percentages must add up to 100%."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Unstructured key value map that can be used to organize and categorize objects."
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-computed checksum based on other values; may be sent on update or delete to ensure operation is done on expected resource."
        },
        "reconciling": {
          "description": "Output only. A field that, if true, indicates that the system is working to make the backend's `current` match the requested `target` list.",
          "readOnly": true,
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the backend's traffic. Format: `projects/{project}/locations/{locationId}/backends/{backendId}/traffic`."
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. System-assigned, unique identifier."
        },
        "current": {
          "readOnly": true,
          "$ref": "TrafficSet",
          "description": "Output only. Current state of traffic allocation for the backend. When setting `target`, this field may differ for some time until the desired state is reached."
        }
      },
      "description": "Controls traffic configuration for the backend.",
      "type": "object",
      "id": "Traffic"
    },
    "LocallyBuiltSource": {
      "type": "object",
      "id": "LocallyBuiltSource",
      "properties": {
        "env": {
          "description": "Optional. Supplied runtime environment variables for a specific build. Provided at Build creation time and immutable afterwards.",
          "type": "array",
          "items": {
            "$ref": "EnvironmentVariable"
          }
        },
        "rootDirectory": {
          "type": "string",
          "description": "Optional. The directory relative to the root of the archive to use as the root for the deployed web app. Defaults to use the root of the repository if not provided. If deploying a [monorepo](https://firebase.google.com/docs/app-hosting/monorepos), this should be the directory that contains the built source of the app."
        },
        "description": {
          "type": "string",
          "description": "Optional. An optional message that describes the uploaded version of the source code."
        },
        "runCommand": {
          "description": "Optional. The command to run to start the app. If provided, it will override apphosting's default run commands. See [`Override build and run scripts`](https://firebase.google.com/docs/app-hosting/configure#override-scripts)",
          "type": "string"
        },
        "userStorageUri": {
          "type": "string",
          "description": "URI to an archive in Cloud Storage. The object must be a gzipped archive file (.tar.gz) containing source to deploy."
        },
        "runConfig": {
          "description": "Optional. Additional configuration of the Cloud Run [`service`](https://cloud.google.com/run/docs/reference/rest/v2/projects.locations.services#resource:-service).",
          "$ref": "RunConfig"
        }
      },
      "description": "The URI of an storage archive to use as the build source."
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BuildSource": {
      "type": "object",
      "id": "BuildSource",
      "properties": {
        "codebase": {
          "$ref": "CodebaseSource",
          "description": "A codebase source."
        },
        "container": {
          "$ref": "ContainerSource",
          "description": "An Artifact Registry container image source."
        },
        "locallyBuilt": {
          "description": "A source that was pre-built locally.",
          "$ref": "LocallyBuiltSource"
        },
        "archive": {
          "$ref": "ArchiveSource",
          "description": "An archive source."
        }
      },
      "description": "The source for the build."
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "properties": {
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        }
      },
      "type": "object"
    },
    "ManagedResource": {
      "properties": {
        "runService": {
          "description": "A Cloud Run [`service`](https://cloud.google.com/run/docs/reference/rest/v2/projects.locations.services#resource:-service), managed by App Hosting.",
          "$ref": "RunService"
        }
      },
      "type": "object",
      "description": "An external resource managed by App Hosting on the project.",
      "id": "ManagedResource"
    },
    "Path": {
      "type": "object",
      "id": "Path",
      "properties": {
        "type": {
          "enumDescriptions": [
            "The pattern type is unspecified - this is an invalid value.",
            "RE2 - regular expression (https://github.com/google/re2/wiki/Syntax).",
            "The pattern is a glob.",
            "The pattern is a prefix."
          ],
          "type": "string",
          "enum": [
            "PATTERN_TYPE_UNSPECIFIED",
            "RE2",
            "GLOB",
            "PREFIX"
          ],
          "description": "Optional. The type of pattern to match against."
        },
        "pattern": {
          "description": "Optional. The pattern to match against.",
          "type": "string"
        }
      },
      "description": "A file path pattern to match against."
    },
    "TrafficSplit": {
      "properties": {
        "percent": {
          "description": "Required. The percentage of traffic to send to the build. Currently must be 100% or 0%.",
          "format": "int32",
          "type": "integer"
        },
        "build": {
          "type": "string",
          "description": "Required. The build that traffic is being routed to."
        }
      },
      "id": "TrafficSplit",
      "type": "object",
      "description": "The traffic allocation for the backend."
    },
    "RunConfig": {
      "description": "Configuration applied to the Cloud Run [`service`](https://cloud.google.com/run/docs/reference/rest/v2/projects.locations.services#resource:-service).",
      "id": "RunConfig",
      "type": "object",
      "properties": {
        "concurrency": {
          "format": "int32",
          "description": "Optional. Maximum number of requests that each Cloud Run instance can receive. By default, each instance can receive Cloud Run's default of up to 80 requests at the same time. Concurrency can be set to any integer value up to 1000.",
          "type": "integer"
        },
        "minInstances": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Number of Cloud Run instances to maintain at minimum for each Cloud Run Service. By default, there are no minimum. Even if the service splits traffic across multiple revisions, the total number of instances for a service will be capped at this value."
        },
        "cpu": {
          "format": "float",
          "description": "Optional. Number of CPUs used for each serving instance. By default, cpu defaults to the Cloud Run's default of 1.0. CPU can be set to value 1, 2, 4, 6, or 8 CPUs, and for less than 1 CPU, a value from 0.08 to less than 1.00, in increments of 0.01. If you set a value of less than 1 CPU, you must set concurrency to 1, and CPU will only be allocated during request processing. Increasing CPUs limit may require increase in memory limits: - 4 CPUs: at least 2 GiB - 6 CPUs: at least 4 GiB - 8 CPUs: at least 4 GiB",
          "type": "number"
        },
        "memoryMib": {
          "type": "integer",
          "description": "Optional. Amount of memory allocated for each serving instance in MiB. By default, memory defaults to the Cloud Run's default where each instance is allocated 512 MiB of memory. Memory can be set to any integer value between 128 to 32768. Increasing memory limit may require increase in CPUs limits: - Over 4 GiB: at least 2 CPUs - Over 8 GiB: at least 4 CPUs - Over 16 GiB: at least 6 CPUs - Over 24 GiB: at least 8 CPUs",
          "format": "int32"
        },
        "maxInstances": {
          "description": "Optional. Number of Cloud Run instances to maintain at maximum for each revision. By default, each Cloud Run [`service`](https://cloud.google.com/run/docs/reference/rest/v2/projects.locations.services#resource:-service) scales out to Cloud Run's default of a maximum of 100 instances. The maximum max_instances limit is based on your quota. See https://cloud.google.com/run/docs/configuring/max-instances#limits.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "DnsRecord": {
      "description": "A representation of a DNS records for a domain. DNS records are resource records that define how systems and services should behave when handling requests for a domain. For example, when you add `A` records to your domain's DNS records, you're informing other systems (such as your users' web browsers) to contact those IPv4 addresses to retrieve resources relevant to your domain (such as your App Hosting files).",
      "properties": {
        "domainName": {
          "readOnly": true,
          "description": "Output only. The domain the record pertains to, e.g. `foo.bar.com.`.",
          "type": "string"
        },
        "type": {
          "readOnly": true,
          "description": "Output only. The record's type, which determines what data the record contains.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "A",
            "CNAME",
            "TXT",
            "AAAA",
            "CAA"
          ],
          "enumDescriptions": [
            "The record's type is unspecified. The message is invalid if this is unspecified.",
            "An `A` record, as defined in [RFC 1035](https://tools.ietf.org/html/rfc1035). A records determine which IPv4 addresses a domain directs traffic towards.",
            "A `CNAME` record, as defined in [RFC 1035](https://tools.ietf.org/html/rfc1035). `CNAME` or Canonical Name records map a domain to a different, canonical domain. If a `CNAME` record is present, it should be the only record on the domain.",
            "A `TXT` record, as defined in [RFC 1035](https://tools.ietf.org/html/rfc1035). `TXT` records hold arbitrary text data on a domain. Hosting uses `TXT` records to establish which Firebase Project has permission to act on a domain.",
            "An AAAA record, as defined in [RFC 3596](https://tools.ietf.org/html/rfc3596) AAAA records determine which IPv6 addresses a domain directs traffic towards.",
            "A CAA record, as defined in [RFC 6844](https://tools.ietf.org/html/rfc6844). CAA, or Certificate Authority Authorization, records determine which Certificate Authorities (SSL certificate minting organizations) are authorized to mint a certificate for the domain. App Hosting uses `pki.goog` as its primary CA. CAA records cascade. A CAA record on `foo.com` also applies to `bar.foo.com` unless `bar.foo.com` has its own set of CAA records. CAA records are optional. If a domain and its parents have no CAA records, all CAs are authorized to mint certificates on its behalf. In general, App Hosting only asks you to modify CAA records when doing so is required to unblock SSL cert creation."
          ]
        },
        "requiredAction": {
          "enumDescriptions": [
            "No action necessary.",
            "Add this record to your DNS records.",
            "Remove this record from your DNS records."
          ],
          "type": "string",
          "enum": [
            "NONE",
            "ADD",
            "REMOVE"
          ],
          "description": "Output only. An enum that indicates the a required action for this record. Populated when the record is part of a required change in a `DnsUpdates` `discovered` or `desired` record set.",
          "readOnly": true
        },
        "rdata": {
          "readOnly": true,
          "description": "Output only. The data of the record. The meaning of the value depends on record type: - A and AAAA: IP addresses for the domain. - CNAME: Another domain to check for records. - TXT: Arbitrary text strings associated with the domain. App Hosting uses TXT records to determine which Firebase projects have permission to act on the domain's behalf. - CAA: The record's flags, tag, and value, e.g. `0 issue \"pki.goog\"`.",
          "type": "string"
        },
        "relevantState": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "CUSTOM_DOMAIN_STATE_UNSPECIFIED",
              "HOST_STATE",
              "OWNERSHIP_STATE",
              "CERT_STATE"
            ],
            "enumDescriptions": [
              "This message is invalid if this is unspecified.",
              "The custom domain's host state.",
              "The custom domain's ownership state.",
              "The custom domain's certificate state."
            ]
          },
          "description": "Output only. An enum that indicates which state(s) this DNS record applies to. Populated for all records with an `ADD` or `REMOVE` required action.",
          "readOnly": true
        }
      },
      "id": "DnsRecord",
      "type": "object"
    },
    "Rollout": {
      "type": "object",
      "description": "A single rollout of a build for a backend.",
      "properties": {
        "reconciling": {
          "type": "boolean",
[...]
