{
  "servicePath": "",
  "version": "v1beta1",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    }
  },
  "canonicalName": "Firebase Hosting",
  "basePath": "",
  "baseUrl": "https://firebasehosting.googleapis.com/",
  "name": "firebasehosting",
  "version_module": true,
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "mtlsRootUrl": "https://firebasehosting.mtls.googleapis.com/",
  "rootUrl": "https://firebasehosting.googleapis.com/",
  "kind": "discovery#restDescription",
  "revision": "20261004",
  "documentationLink": "https://firebase.google.com/docs/hosting/",
  "resources": {
    "projects": {
      "resources": {
        "sites": {
          "methods": {
            "getConfig": {
              "parameterOrder": [
                "name"
              ],
              "description": "Gets the Hosting metadata for a specific site.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "path": "v1beta1/{+name}",
              "response": {
                "$ref": "SiteConfig"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/sites/[^/]+/config$",
                  "required": true,
                  "type": "string",
                  "description": "Required. The site for which to get the SiteConfig, in the format: sites/ site-name/config"
                }
              },
              "id": "firebasehosting.projects.sites.getConfig",
              "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/config",
              "httpMethod": "GET"
            },
            "delete": {
              "parameters": {
                "name": {
                  "description": "Required. The fully-qualified resource name for the Hosting site, in the format: projects/PROJECT_IDENTIFIER/sites/SITE_ID Refer to the `Site` [`name`](../projects#Site.FIELDS.name) field for details about PROJECT_IDENTIFIER values.",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/sites/[^/]+$"
                }
              },
              "description": "Deletes the specified Hosting Site from the specified parent Firebase project.",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}",
              "path": "v1beta1/{+name}",
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "firebasehosting.projects.sites.delete"
            },
            "updateConfig": {
              "path": "v1beta1/{+name}",
              "id": "firebasehosting.projects.sites.updateConfig",
              "response": {
                "$ref": "SiteConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "SiteConfig"
              },
              "description": "Sets the Hosting metadata for a specific site.",
              "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/config",
              "parameters": {
                "updateMask": {
                  "description": "A set of field names from your [site configuration](../sites.SiteConfig) that you want to update. A field will be overwritten if, and only if, it's in the mask. If a mask is not provided then a default mask of only [`max_versions`](../sites.SiteConfig.max_versions) will be used.",
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                },
                "name": {
                  "description": "Required. The site for which to update the SiteConfig, in the format: sites/ site-name/config",
                  "type": "string",
                  "pattern": "^projects/[^/]+/sites/[^/]+/config$",
                  "location": "path",
                  "required": true
                }
              },
              "httpMethod": "PATCH"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}",
              "description": "Gets the specified Hosting Site.",
              "path": "v1beta1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Site"
              },
              "httpMethod": "GET",
              "id": "firebasehosting.projects.sites.get",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The fully-qualified resource name for the Hosting site, in the format: projects/PROJECT_IDENTIFIER/sites/SITE_ID Refer to the `Site` [`name`](../projects#Site.FIELDS.name) field for details about PROJECT_IDENTIFIER values. Since a SITE_ID is a globally unique identifier, you can also use the unique sub-collection resource access pattern, in the format: projects/-/sites/SITE_ID",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/sites/[^/]+$"
                }
              }
            },
            "patch": {
              "request": {
                "$ref": "Site"
              },
              "parameters": {
                "name": {
                  "description": "Output only. The fully-qualified resource name of the Hosting site, in the format: projects/PROJECT_IDENTIFIER/sites/SITE_ID PROJECT_IDENTIFIER: the Firebase project's [`ProjectNumber`](https://firebase.google.com/docs/reference/firebase-management/rest/v1beta1/projects#FirebaseProject.FIELDS.project_number) ***(recommended)*** or its [`ProjectId`](https://firebase.google.com/docs/reference/firebase-management/rest/v1beta1/projects#FirebaseProject.FIELDS.project_id). Learn more about using project identifiers in Google's [AIP 2510 standard](https://google.aip.dev/cloud/2510).",
                  "required": true,
                  "pattern": "^projects/[^/]+/sites/[^/]+$",
                  "type": "string",
                  "location": "path"
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "description": "A set of field names from your Site that you want to update.",
                  "format": "google-fieldmask"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}",
              "description": "Updates attributes of the specified Hosting Site.",
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "path": "v1beta1/{+name}",
              "id": "firebasehosting.projects.sites.patch",
              "response": {
                "$ref": "Site"
              }
            },
            "create": {
              "httpMethod": "POST",
              "path": "v1beta1/{+parent}/sites",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "response": {
                "$ref": "Site"
              },
              "parameters": {
                "validateOnly": {
                  "description": "Optional. If set, validates that the site_id is available and that the request would succeed, returning the expected resulting site or error.",
                  "type": "boolean",
                  "location": "query"
                },
                "siteId": {
                  "description": "Required. Immutable. A globally unique identifier for the Hosting site. This identifier is used to construct the Firebase-provisioned subdomains for the site, so it must also be a valid domain name label.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. The Firebase project in which to create a Hosting site, in the format: projects/PROJECT_IDENTIFIER Refer to the `Site` [`name`](../projects#Site.FIELDS.name) field for details about PROJECT_IDENTIFIER values.",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "firebasehosting.projects.sites.create",
              "request": {
                "$ref": "Site"
              },
              "flatPath": "v1beta1/projects/{projectsId}/sites",
              "description": "Creates a new Hosting Site in the specified parent Firebase project. Note that Hosting sites can take several minutes to propagate through Firebase systems."
            },
            "list": {
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "description": "Optional. A token from a previous call to `ListSites` that tells the server where to resume listing.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "Optional. The maximum number of sites to return. The service may return a lower number if fewer sites exist than this maximum number. If unspecified, defaults to 40."
                },
                "parent": {
                  "description": "Required. The Firebase project for which to list sites, in the format: projects/PROJECT_IDENTIFIER Refer to the `Site` [`name`](../projects#Site.FIELDS.name) field for details about PROJECT_IDENTIFIER values.",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "response": {
                "$ref": "ListSitesResponse"
              },
              "id": "firebasehosting.projects.sites.list",
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists each Hosting Site associated with the specified parent Firebase project.",
              "flatPath": "v1beta1/projects/{projectsId}/sites",
              "path": "v1beta1/{+parent}/sites"
            }
          },
          "resources": {
            "releases": {
              "methods": {
                "list": {
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/releases",
                  "description": "Lists the releases that have been created for the specified site or channel. When used to list releases for a site, this list includes releases for both the default `live` channel and any active preview channels for the specified site.",
                  "path": "v1beta1/{+parent}/releases",
                  "id": "firebasehosting.projects.sites.releases.list",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "response": {
                    "$ref": "ListReleasesResponse"
                  },
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The site or channel for which to list releases, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID ",
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "required": true
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A token from a previous call to `releases.list` or `channels.releases.list` that tells the server where to resume listing."
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "The maximum number of releases to return. The service may return a lower number if fewer releases exist than this maximum number. If unspecified, defaults to 100.",
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "create": {
                  "description": "Creates a new release, which makes the content of the specified version actively display on the appropriate URL(s).",
                  "parameters": {
                    "parent": {
                      "description": "Required. The site or channel to which the release belongs, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID",
                      "location": "path",
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "type": "string",
                      "required": true
                    },
                    "versionName": {
                      "type": "string",
                      "location": "query",
                      "description": " The unique identifier for a version, in the format: sites/SITE_ID/versions/ VERSION_ID The SITE_ID in this version identifier must match the SITE_ID in the `parent` parameter. This query parameter must be empty if the `type` field in the request body is `SITE_DISABLE`."
                    }
                  },
                  "id": "firebasehosting.projects.sites.releases.create",
                  "response": {
                    "$ref": "Release"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "Release"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/releases",
                  "path": "v1beta1/{+parent}/releases",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                },
                "get": {
                  "httpMethod": "GET",
                  "description": "Gets the specified release for a site or channel. When used to get a release for a site, this can get releases for both the default `live` channel and any active preview channels for the specified site.",
                  "path": "v1beta1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "response": {
                    "$ref": "Release"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/sites/[^/]+/releases/[^/]+$",
                      "required": true,
                      "description": "Required. The fully-qualified resource name for the Hosting release, in either of the following formats: - sites/SITE_ID/channels/CHANNEL_ID/releases/RELEASE_ID - sites/SITE_ID/releases/RELEASE_ID ",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/releases/{releasesId}",
                  "id": "firebasehosting.projects.sites.releases.get",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "customDomains": {
              "methods": {
                "list": {
                  "id": "firebasehosting.projects.sites.customDomains.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/customDomains",
                  "response": {
                    "$ref": "ListCustomDomainsResponse"
                  },
                  "description": "Lists each `CustomDomain` associated with the specified parent Hosting site. Returns `CustomDomain`s in a consistent, but undefined, order to facilitate pagination.",
                  "parameters": {
                    "parent": {
                      "description": "Required. The Firebase Hosting `Site` with `CustomDomain` entities you'd like to list.",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/sites/[^/]+$"
                    },
                    "showDeleted": {
                      "description": "If true, the request returns soft-deleted `CustomDomain`s that haven't been fully-deleted yet. To restore deleted `CustomDomain`s, make an `UndeleteCustomDomain` request.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "The max number of `CustomDomain` entities to return in a request. Defaults to 10."
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A token from a previous call to `ListCustomDomains` that tells the server where to resume listing."
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "path": "v1beta1/{+parent}/customDomains"
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Creates a `CustomDomain`.",
                  "path": "v1beta1/{+parent}/customDomains",
                  "parameters": {
                    "customDomainId": {
                      "description": "Required. The ID of the `CustomDomain`, which is the domain name you'd like to use with Firebase Hosting.",
                      "type": "string",
                      "location": "query"
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "location": "query",
                      "description": "If true, Hosting validates that it's possible to complete your request but doesn't actually create a new `CustomDomain`."
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "description": "Required. The custom domain's parent, specifically a Firebase Hosting `Site`.",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "CustomDomain"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/customDomains",
                  "httpMethod": "POST",
                  "id": "firebasehosting.projects.sites.customDomains.create",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "undelete": {
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1beta1/{+name}:undelete",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+/customDomains/[^/]+$",
                      "description": "Required. The name of the `CustomDomain` to delete.",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "UndeleteCustomDomainRequest"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/customDomains/{customDomainsId}:undelete",
                  "description": "Undeletes the specified `CustomDomain` if it has been soft-deleted. Hosting retains soft-deleted custom domains for around 30 days before permanently deleting them.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebasehosting.projects.sites.customDomains.undelete",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "path": "v1beta1/{+name}",
                  "description": "Gets the specified `CustomDomain`.",
                  "response": {
                    "$ref": "CustomDomain"
                  },
                  "id": "firebasehosting.projects.sites.customDomains.get",
                  "httpMethod": "GET",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/customDomains/{customDomainsId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/sites/[^/]+/customDomains/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the `CustomDomain` to get."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "patch": {
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/customDomains/{customDomainsId}",
                  "parameters": {
                    "validateOnly": {
                      "description": "If true, Hosting validates that it's possible to complete your request but doesn't actually create or update the `CustomDomain`.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "The set of field names from your `CustomDomain` that you want to update. A field will be overwritten if, and only if, it's in the mask. If you don't provide a mask, Hosting updates the entire `CustomDomain`.",
                      "type": "string"
                    },
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/sites/[^/]+/customDomains/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Identifier. The fully-qualified name of the `CustomDomain`."
                    },
                    "allowMissing": {
                      "type": "boolean",
                      "description": "If true, Hosting creates the `CustomDomain` if it doesn't already exist.",
                      "location": "query"
                    }
                  },
                  "path": "v1beta1/{+name}",
                  "description": "Updates the specified `CustomDomain`.",
                  "id": "firebasehosting.projects.sites.customDomains.patch",
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "request": {
                    "$ref": "CustomDomain"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "parameters": {
                    "validateOnly": {
                      "description": "If true, Hosting validates that it's possible to complete your request but doesn't actually delete the `CustomDomain`.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "allowMissing": {
                      "description": "If true, the request succeeds even if the `CustomDomain` doesn't exist.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/sites/[^/]+/customDomains/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the `CustomDomain` to delete."
                    },
                    "etag": {
                      "type": "string",
                      "location": "query",
                      "description": "A tag that represents the state of the `CustomDomain` as you know it. If present, the supplied tag must match the current value on your `CustomDomain`, or the request fails."
                    }
                  },
                  "path": "v1beta1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/customDomains/{customDomainsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "firebasehosting.projects.sites.customDomains.delete",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Deletes the specified `CustomDomain`."
                }
              },
              "resources": {
                "operations": {
                  "methods": {
                    "get": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1beta1/{+name}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "description": "The name of the operation resource.",
                          "pattern": "^projects/[^/]+/sites/[^/]+/customDomains/[^/]+/operations/[^/]+$",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "id": "firebasehosting.projects.sites.customDomains.operations.get",
                      "description": "Gets the latest state of a long-running operation. Use this method to poll the operation result at intervals as recommended by the API service.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/firebase",
                        "https://www.googleapis.com/auth/firebase.readonly"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/customDomains/{customDomainsId}/operations/{operationsId}"
                    },
                    "list": {
                      "response": {
                        "$ref": "ListOperationsResponse"
                      },
                      "description": "Lists operations that match the specified filter in the request.",
                      "id": "firebasehosting.projects.sites.customDomains.operations.list",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "filter": {
                          "type": "string",
                          "description": "The standard list filter.",
                          "location": "query"
                        },
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/sites/[^/]+/customDomains/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "description": "The name of the operation's parent resource."
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "description": "The standard list page size.",
                          "type": "integer"
                        },
                        "returnPartialSuccess": {
                          "type": "boolean",
                          "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                          "location": "query"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "The standard list page token.",
                          "location": "query"
                        }
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/customDomains/{customDomainsId}/operations",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/firebase",
                        "https://www.googleapis.com/auth/firebase.readonly"
                      ],
                      "httpMethod": "GET",
                      "path": "v1beta1/{+name}/operations"
                    }
                  }
                }
              }
            },
            "versions": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The site or channel for which to list versions, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID ",
                      "location": "path",
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "type": "string",
                      "required": true
                    },
                    "filter": {
                      "description": "A filter string used to return a subset of versions in the response. The currently supported fields for filtering are: `name`, `status`, and `create_time`. Learn more about filtering in Google's [AIP 160 standard](https://google.aip.dev/160).",
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A token from a previous call to `ListVersions` that tells the server where to resume listing.",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "The maximum number of versions to return. The service may return a lower number if fewer versions exist than this maximum number. If unspecified, defaults to 25. The maximum value is 100; values above 100 will be coerced to 100."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "response": {
                    "$ref": "ListVersionsResponse"
                  },
                  "path": "v1beta1/{+parent}/versions",
                  "httpMethod": "GET",
                  "id": "firebasehosting.projects.sites.versions.list",
                  "description": "Lists the versions that have been created for the specified site. This list includes versions for both the default `live` channel and any active preview channels for the specified site.",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions"
                },
                "create": {
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "description": "Required. The site in which to create the version, in the format: sites/ SITE_ID",
                      "location": "path",
                      "type": "string"
                    },
                    "versionId": {
                      "deprecated": true,
                      "location": "query",
                      "type": "string",
                      "description": "A unique id for the new version. This is was only specified for legacy version creations, and should be blank."
                    },
                    "sizeBytes": {
                      "description": "The self-reported size of the version. This value is used for a pre-emptive quota check for legacy version uploads.",
                      "format": "int64",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "Version"
                  },
                  "id": "firebasehosting.projects.sites.versions.create",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions",
                  "httpMethod": "POST",
                  "path": "v1beta1/{+parent}/versions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "description": "Creates a new version for the specified site.",
                  "response": {
                    "$ref": "Version"
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "patch": {
                  "response": {
                    "$ref": "Version"
                  },
                  "description": " Updates the specified metadata for the specified version. This method will fail with `FAILED_PRECONDITION` in the event of an invalid state transition. The supported [state](../sites.versions#versionstatus) transitions for a version are from `CREATED` to `FINALIZED`. Use [`DeleteVersion`](delete) to set the status of a version to `DELETED`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "id": "firebasehosting.projects.sites.versions.patch",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions/{versionsId}",
                  "request": {
                    "$ref": "Version"
                  },
                  "path": "v1beta1/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/sites/[^/]+/versions/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "The fully-qualified resource name for the version, in the format: sites/ SITE_ID/versions/VERSION_ID This name is provided in the response body when you call [`CreateVersion`](sites.versions/create)."
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query",
                      "description": "A set of field names from your [version](../sites.versions) that you want to update. A field will be overwritten if, and only if, it's in the mask. If a mask is not provided then a default mask of only [`status`](../sites.versions#Version.FIELDS.status) will be used."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                },
                "delete": {
                  "description": "Deletes the specified version.",
                  "id": "firebasehosting.projects.sites.versions.delete",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions/{versionsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The fully-qualified resource name for the version, in the format: sites/SITE_ID/versions/VERSION_ID",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+/versions/[^/]+$"
                    }
                  },
                  "path": "v1beta1/{+name}"
                },
                "populateFiles": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "PopulateVersionFilesResponse"
                  },
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/sites/[^/]+/versions/[^/]+$",
                      "description": "Required. The version to which to add files, in the format: sites/SITE_ID /versions/VERSION_ID",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "path": "v1beta1/{+parent}:populateFiles",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions/{versionsId}:populateFiles",
                  "description": " Adds content files to the specified version. Each file must be under 2 GB.",
                  "request": {
                    "$ref": "PopulateVersionFilesRequest"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "firebasehosting.projects.sites.versions.populateFiles"
                },
                "clone": {
                  "path": "v1beta1/{+parent}/versions:clone",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The target site for the cloned version, in the format: sites/ SITE_ID",
                      "location": "path",
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "required": true
                    }
                  },
                  "id": "firebasehosting.projects.sites.versions.clone",
                  "description": "Creates a new version on the specified target site using the content of the specified version.",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions:clone",
                  "request": {
                    "$ref": "CloneVersionRequest"
                  }
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "description": "Get the specified version that has been created for the specified site. This can include versions that were created for the default `live` channel or for any active preview channels for the specified site.",
                  "path": "v1beta1/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/sites/[^/]+/versions/[^/]+$",
                      "required": true,
                      "description": "Required. The fully-qualified resource name for the version, in the format: sites/SITE_ID/versions/VERSION_ID"
                    }
                  },
                  "id": "firebasehosting.projects.sites.versions.get",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Version"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions/{versionsId}"
                }
              },
              "resources": {
                "files": {
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "ListVersionFilesResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "A token from a previous call to `ListVersionFiles` that tells the server where to resume listing."
                        },
                        "parent": {
                          "required": true,
                          "type": "string",
                          "description": "Required. The version for which to list files, in the format: sites/SITE_ID /versions/VERSION_ID",
                          "location": "path",
                          "pattern": "^projects/[^/]+/sites/[^/]+/versions/[^/]+$"
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "STATUS_UNSPECIFIED",
                            "EXPECTED",
                            "ACTIVE"
                          ],
                          "location": "query",
                          "enumDescriptions": [
                            "The default status; should not be intentionally used.",
                            "The file has been included in the version and is expected to be uploaded in the near future.",
                            "The file has already been uploaded to Firebase Hosting."
                          ],
                          "description": " The type of files that should be listed for the specified version."
                        },
                        "pageSize": {
                          "location": "query",
                          "description": "The maximum number of version files to return. The service may return a lower number if fewer version files exist than this maximum number. If unspecified, defaults to 1000.",
                          "type": "integer",
                          "format": "int32"
                        }
                      },
                      "id": "firebasehosting.projects.sites.versions.files.list",
                      "description": "Lists the remaining files to be uploaded for the specified version.",
                      "path": "v1beta1/{+parent}/files",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/firebase",
                        "https://www.googleapis.com/auth/firebase.readonly"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions/{versionsId}/files"
                    }
                  }
                }
              }
            },
            "channels": {
              "resources": {
                "releases": {
                  "methods": {
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListReleasesResponse"
                      },
                      "path": "v1beta1/{+parent}/releases",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/firebase",
                        "https://www.googleapis.com/auth/firebase.readonly"
                      ],
                      "id": "firebasehosting.projects.sites.channels.releases.list",
                      "description": "Lists the releases that have been created for the specified site or channel. When used to list releases for a site, this list includes releases for both the default `live` channel and any active preview channels for the specified site.",
                      "httpMethod": "GET",
                      "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}/releases",
                      "parameters": {
                        "pageSize": {
                          "description": "The maximum number of releases to return. The service may return a lower number if fewer releases exist than this maximum number. If unspecified, defaults to 100.",
                          "format": "int32",
                          "type": "integer",
                          "location": "query"
                        },
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+$",
                          "required": true,
                          "description": "Required. The site or channel for which to list releases, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID "
                        },
                        "pageToken": {
                          "description": "A token from a previous call to `releases.list` or `channels.releases.list` that tells the server where to resume listing.",
                          "location": "query",
                          "type": "string"
                        }
                      }
                    },
                    "create": {
                      "response": {
                        "$ref": "Release"
                      },
                      "path": "v1beta1/{+parent}/releases",
                      "parameters": {
                        "parent": {
                          "description": "Required. The site or channel to which the release belongs, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID",
                          "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "versionName": {
                          "location": "query",
                          "type": "string",
                          "description": " The unique identifier for a version, in the format: sites/SITE_ID/versions/ VERSION_ID The SITE_ID in this version identifier must match the SITE_ID in the `parent` parameter. This query parameter must be empty if the `type` field in the request body is `SITE_DISABLE`."
                        }
                      },
                      "request": {
                        "$ref": "Release"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/firebase"
                      ],
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Creates a new release, which makes the content of the specified version actively display on the appropriate URL(s).",
                      "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}/releases",
                      "id": "firebasehosting.projects.sites.channels.releases.create"
                    },
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Release"
                      },
                      "httpMethod": "GET",
                      "path": "v1beta1/{+name}",
                      "parameters": {
                        "name": {
                          "description": "Required. The fully-qualified resource name for the Hosting release, in either of the following formats: - sites/SITE_ID/channels/CHANNEL_ID/releases/RELEASE_ID - sites/SITE_ID/releases/RELEASE_ID ",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+/releases/[^/]+$",
                          "location": "path"
                        }
                      },
                      "description": "Gets the specified release for a site or channel. When used to get a release for a site, this can get releases for both the default `live` channel and any active preview channels for the specified site.",
                      "id": "firebasehosting.projects.sites.channels.releases.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/firebase",
                        "https://www.googleapis.com/auth/firebase.readonly"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}/releases/{releasesId}"
                    }
                  }
                }
              },
              "methods": {
                "delete": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The fully-qualified resource name for the channel, in the format: sites/SITE_ID/channels/CHANNEL_ID",
                      "location": "path",
                      "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+$"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}",
                  "httpMethod": "DELETE",
                  "description": "Deletes the specified channel of the specified site. The `live` channel cannot be deleted.",
                  "id": "firebasehosting.projects.sites.channels.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v1beta1/{+name}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "id": "firebasehosting.projects.sites.channels.get",
                  "httpMethod": "GET",
                  "description": "Retrieves information for the specified channel of the specified site.",
                  "path": "v1beta1/{+name}",
                  "response": {
                    "$ref": "Channel"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The fully-qualified resource name for the channel, in the format: sites/SITE_ID/channels/CHANNEL_ID",
                      "type": "string",
                      "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+$",
                      "location": "path"
                    }
                  }
                },
                "patch": {
                  "request": {
                    "$ref": "Channel"
                  },
                  "description": "Updates information for the specified channel of the specified site. Implicitly creates the channel if it doesn't already exist.",
                  "path": "v1beta1/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "The fully-qualified resource name for the channel, in the format: sites/ SITE_ID/channels/CHANNEL_ID"
                    },
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "A comma-separated list of fields to be updated in this request."
                    }
                  },
                  "id": "firebasehosting.projects.sites.channels.patch",
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "Channel"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels",
                  "request": {
                    "$ref": "Channel"
                  },
                  "description": "Creates a new channel in the specified site.",
                  "parameters": {
                    "channelId": {
                      "type": "string",
                      "description": "Required. Immutable. A unique ID within the site that identifies the channel.",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. The site in which to create this channel, in the format: sites/ SITE_ID",
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "id": "firebasehosting.projects.sites.channels.create",
                  "path": "v1beta1/{+parent}/channels",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Channel"
                  }
                },
                "list": {
                  "id": "firebasehosting.projects.sites.channels.list",
                  "description": "Lists the channels for the specified site. All sites have a default `live` channel.",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "httpMethod": "GET",
                  "path": "v1beta1/{+parent}/channels",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The site for which to list channels, in the format: sites/SITE_ID",
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "type": "string",
                      "required": true
                    },
                    "pageToken": {
                      "description": "A token from a previous call to `ListChannels` that tells the server where to resume listing.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "The maximum number of channels to return. The service may return a lower number if fewer channels exist than this maximum number. If unspecified, defaults to 10. The maximum value is 100; values above 100 will be coerced to 100."
                    }
                  },
                  "response": {
                    "$ref": "ListChannelsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            },
            "domains": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/domains",
                  "parameters": {
                    "pageToken": {
                      "description": "The next_page_token from a previous request, if provided.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The parent for which to list domains, in the format: sites/ site-name",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "required": true
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "The page size to return. Defaults to 50.",
                      "location": "query",
                      "format": "int32"
                    }
                  },
                  "id": "firebasehosting.projects.sites.domains.list",
                  "description": "Lists the domains for the specified site.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1beta1/{+parent}/domains",
                  "response": {
                    "$ref": "ListDomainsResponse"
                  }
                },
                "create": {
                  "request": {
                    "$ref": "Domain"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The parent to create the domain association for, in the format: sites/site-name",
                      "location": "path",
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "type": "string"
                    }
                  },
                  "description": "Creates a domain mapping on the specified site.",
                  "httpMethod": "POST",
                  "path": "v1beta1/{+parent}/domains",
                  "response": {
                    "$ref": "Domain"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "firebasehosting.projects.sites.domains.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/domains"
                },
                "get": {
                  "description": "Gets a domain mapping on the specified site.",
                  "id": "firebasehosting.projects.sites.domains.get",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The name of the domain configuration to get.",
                      "pattern": "^projects/[^/]+/sites/[^/]+/domains/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/domains/{domainsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "path": "v1beta1/{+name}",
                  "response": {
                    "$ref": "Domain"
                  }
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/sites/[^/]+/domains/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the domain association to delete.",
                      "required": true
                    }
                  },
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes the existing domain mapping on the specified site.",
                  "id": "firebasehosting.projects.sites.domains.delete",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/domains/{domainsId}",
                  "path": "v1beta1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                },
                "update": {
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/domains/{domainsId}",
                  "description": "Updates the specified domain mapping, creating the mapping as if it does not exist.",
                  "request": {
                    "$ref": "Domain"
                  },
                  "httpMethod": "PUT",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "response": {
                    "$ref": "Domain"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the domain association to update or create, if an association doesn't already exist.",
                      "pattern": "^projects/[^/]+/sites/[^/]+/domains/[^/]+$",
                      "required": true
                    }
                  },
                  "id": "firebasehosting.projects.sites.domains.update",
                  "path": "v1beta1/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            }
          }
        },
        "operations": {
          "methods": {
            "get": {
              "path": "v1beta1/{+name}",
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/operations/{operationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "httpMethod": "GET",
              "id": "firebasehosting.projects.operations.get",
              "response": {
                "$ref": "Operation"
              },
              "parameters": {
                "name": {
                  "description": "The name of the operation resource.",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/operations/[^/]+$"
                }
              }
            }
          }
        }
      }
    },
    "sites": {
      "methods": {
        "updateConfig": {
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "parameters": {
            "updateMask": {
              "description": "A set of field names from your [site configuration](../sites.SiteConfig) that you want to update. A field will be overwritten if, and only if, it's in the mask. If a mask is not provided then a default mask of only [`max_versions`](../sites.SiteConfig.max_versions) will be used.",
              "type": "string",
              "location": "query",
              "format": "google-fieldmask"
            },
            "name": {
              "description": "Required. The site for which to update the SiteConfig, in the format: sites/ site-name/config",
              "pattern": "^sites/[^/]+/config$",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "SiteConfig"
          },
          "path": "v1beta1/{+name}",
          "flatPath": "v1beta1/sites/{sitesId}/config",
          "request": {
            "$ref": "SiteConfig"
          },
          "description": "Sets the Hosting metadata for a specific site.",
          "id": "firebasehosting.sites.updateConfig",
          "parameterOrder": [
            "name"
          ]
        },
        "getConfig": {
          "httpMethod": "GET",
          "response": {
            "$ref": "SiteConfig"
          },
          "id": "firebasehosting.sites.getConfig",
          "parameters": {
            "name": {
              "description": "Required. The site for which to get the SiteConfig, in the format: sites/ site-name/config",
              "pattern": "^sites/[^/]+/config$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "description": "Gets the Hosting metadata for a specific site.",
          "path": "v1beta1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/firebase",
            "https://www.googleapis.com/auth/firebase.readonly"
          ],
          "flatPath": "v1beta1/sites/{sitesId}/config"
        }
      },
      "resources": {
        "domains": {
          "methods": {
            "get": {
              "description": "Gets a domain mapping on the specified site.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "response": {
                "$ref": "Domain"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta1/sites/{sitesId}/domains/{domainsId}",
              "path": "v1beta1/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^sites/[^/]+/domains/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the domain configuration to get."
                }
              },
              "httpMethod": "GET",
              "id": "firebasehosting.sites.domains.get"
            },
            "delete": {
              "id": "firebasehosting.sites.domains.delete",
              "flatPath": "v1beta1/sites/{sitesId}/domains/{domainsId}",
              "description": "Deletes the existing domain mapping on the specified site.",
              "path": "v1beta1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^sites/[^/]+/domains/[^/]+$",
                  "description": "Required. The name of the domain association to delete.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              }
            },
            "update": {
              "response": {
                "$ref": "Domain"
              },
              "parameters": {
                "name": {
                  "description": "Required. The name of the domain association to update or create, if an association doesn't already exist.",
                  "location": "path",
                  "pattern": "^sites/[^/]+/domains/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "firebasehosting.sites.domains.update",
              "httpMethod": "PUT",
              "description": "Updates the specified domain mapping, creating the mapping as if it does not exist.",
              "flatPath": "v1beta1/sites/{sitesId}/domains/{domainsId}",
              "request": {
                "$ref": "Domain"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}"
            },
            "list": {
              "id": "firebasehosting.sites.domains.list",
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists the domains for the specified site.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "flatPath": "v1beta1/sites/{sitesId}/domains",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^sites/[^/]+$",
                  "description": "Required. The parent for which to list domains, in the format: sites/ site-name",
                  "type": "string",
                  "required": true
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "The page size to return. Defaults to 50.",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "The next_page_token from a previous request, if provided.",
                  "location": "query",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "ListDomainsResponse"
              },
              "path": "v1beta1/{+parent}/domains"
            },
            "create": {
              "flatPath": "v1beta1/sites/{sitesId}/domains",
              "parameters": {
                "parent": {
                  "description": "Required. The parent to create the domain association for, in the format: sites/site-name",
                  "required": true,
                  "type": "string",
                  "pattern": "^sites/[^/]+$",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "httpMethod": "POST",
              "path": "v1beta1/{+parent}/domains",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "Domain"
              },
              "request": {
                "$ref": "Domain"
              },
              "description": "Creates a domain mapping on the specified site.",
              "id": "firebasehosting.sites.domains.create"
            }
          }
        },
        "channels": {
          "resources": {
            "releases": {
              "methods": {
                "create": {
                  "description": "Creates a new release, which makes the content of the specified version actively display on the appropriate URL(s).",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "response": {
                    "$ref": "Release"
                  },
                  "path": "v1beta1/{+parent}/releases",
                  "httpMethod": "POST",
                  "id": "firebasehosting.sites.channels.releases.create",
                  "parameters": {
                    "parent": {
                      "description": "Required. The site or channel to which the release belongs, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID",
                      "required": true,
                      "location": "path",
                      "pattern": "^sites/[^/]+/channels/[^/]+$",
                      "type": "string"
                    },
                    "versionName": {
                      "type": "string",
                      "location": "query",
                      "description": " The unique identifier for a version, in the format: sites/SITE_ID/versions/ VERSION_ID The SITE_ID in this version identifier must match the SITE_ID in the `parent` parameter. This query parameter must be empty if the `type` field in the request body is `SITE_DISABLE`."
                    }
                  },
                  "request": {
                    "$ref": "Release"
                  },
                  "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}/releases"
                },
                "list": {
                  "path": "v1beta1/{+parent}/releases",
                  "description": "Lists the releases that have been created for the specified site or channel. When used to list releases for a site, this list includes releases for both the default `live` channel and any active preview channels for the specified site.",
                  "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}/releases",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListReleasesResponse"
                  },
                  "parameters": {
                    "pageToken": {
                      "description": "A token from a previous call to `releases.list` or `channels.releases.list` that tells the server where to resume listing.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^sites/[^/]+/channels/[^/]+$",
                      "description": "Required. The site or channel for which to list releases, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID ",
                      "location": "path"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "The maximum number of releases to return. The service may return a lower number if fewer releases exist than this maximum number. If unspecified, defaults to 100.",
                      "type": "integer"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "id": "firebasehosting.sites.channels.releases.list"
                },
                "get": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The fully-qualified resource name for the Hosting release, in either of the following formats: - sites/SITE_ID/channels/CHANNEL_ID/releases/RELEASE_ID - sites/SITE_ID/releases/RELEASE_ID ",
                      "location": "path",
                      "pattern": "^sites/[^/]+/channels/[^/]+/releases/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "firebasehosting.sites.channels.releases.get",
                  "description": "Gets the specified release for a site or channel. When used to get a release for a site, this can get releases for both the default `live` channel and any active preview channels for the specified site.",
                  "response": {
                    "$ref": "Release"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "path": "v1beta1/{+name}",
                  "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}/releases/{releasesId}"
                }
              }
            }
          },
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "flatPath": "v1beta1/sites/{sitesId}/channels",
              "id": "firebasehosting.sites.channels.list",
              "description": "Lists the channels for the specified site. All sites have a default `live` channel.",
              "parameters": {
                "parent": {
                  "description": "Required. The site for which to list channels, in the format: sites/SITE_ID",
                  "location": "path",
                  "pattern": "^sites/[^/]+$",
                  "type": "string",
                  "required": true
                },
                "pageSize": {
                  "description": "The maximum number of channels to return. The service may return a lower number if fewer channels exist than this maximum number. If unspecified, defaults to 10. The maximum value is 100; values above 100 will be coerced to 100.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A token from a previous call to `ListChannels` that tells the server where to resume listing.",
                  "type": "string"
                }
              },
              "path": "v1beta1/{+parent}/channels",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListChannelsResponse"
              }
            },
            "get": {
              "httpMethod": "GET",
              "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}",
              "parameters": {
                "name": {
                  "description": "Required. The fully-qualified resource name for the channel, in the format: sites/SITE_ID/channels/CHANNEL_ID",
                  "location": "path",
                  "type": "string",
                  "pattern": "^sites/[^/]+/channels/[^/]+$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "path": "v1beta1/{+name}",
              "id": "firebasehosting.sites.channels.get",
              "response": {
                "$ref": "Channel"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Retrieves information for the specified channel of the specified site."
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "id": "firebasehosting.sites.channels.create",
              "request": {
                "$ref": "Channel"
              },
              "httpMethod": "POST",
              "flatPath": "v1beta1/sites/{sitesId}/channels",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The site in which to create this channel, in the format: sites/ SITE_ID",
                  "required": true,
                  "type": "string",
                  "pattern": "^sites/[^/]+$"
                },
                "channelId": {
                  "description": "Required. Immutable. A unique ID within the site that identifies the channel.",
                  "type": "string",
                  "location": "query"
                }
              },
              "path": "v1beta1/{+parent}/channels",
              "description": "Creates a new channel in the specified site.",
              "response": {
                "$ref": "Channel"
              }
            },
            "delete": {
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The fully-qualified resource name for the channel, in the format: sites/SITE_ID/channels/CHANNEL_ID",
                  "pattern": "^sites/[^/]+/channels/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "id": "firebasehosting.sites.channels.delete",
              "path": "v1beta1/{+name}",
              "description": "Deletes the specified channel of the specified site. The `live` channel cannot be deleted.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}"
            },
            "patch": {
              "path": "v1beta1/{+name}",
              "description": "Updates information for the specified channel of the specified site. Implicitly creates the channel if it doesn't already exist.",
              "request": {
                "$ref": "Channel"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "response": {
                "$ref": "Channel"
              },
              "id": "firebasehosting.sites.channels.patch",
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "The fully-qualified resource name for the channel, in the format: sites/ SITE_ID/channels/CHANNEL_ID",
                  "required": true,
                  "pattern": "^sites/[^/]+/channels/[^/]+$",
                  "type": "string",
                  "location": "path"
                },
                "updateMask": {
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "A comma-separated list of fields to be updated in this request."
                }
              },
              "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}"
            }
          }
        },
        "versions": {
          "methods": {
            "create": {
              "description": "Creates a new version for the specified site.",
              "request": {
                "$ref": "Version"
              },
              "path": "v1beta1/{+parent}/versions",
              "flatPath": "v1beta1/sites/{sitesId}/versions",
              "parameterOrder": [
                "parent"
              ],
              "id": "firebasehosting.sites.versions.create",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameters": {
                "versionId": {
                  "deprecated": true,
                  "type": "string",
                  "location": "query",
                  "description": "A unique id for the new version. This is was only specified for legacy version creations, and should be blank."
                },
                "parent": {
                  "pattern": "^sites/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The site in which to create the version, in the format: sites/ SITE_ID"
                },
                "sizeBytes": {
                  "location": "query",
                  "description": "The self-reported size of the version. This value is used for a pre-emptive quota check for legacy version uploads.",
                  "format": "int64",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Version"
              }
            },
            "get": {
              "httpMethod": "GET",
              "flatPath": "v1beta1/sites/{sitesId}/versions/{versionsId}",
              "id": "firebasehosting.sites.versions.get",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The fully-qualified resource name for the version, in the format: sites/SITE_ID/versions/VERSION_ID",
                  "location": "path",
                  "pattern": "^sites/[^/]+/versions/[^/]+$",
                  "required": true
                }
              },
              "response": {
                "$ref": "Version"
              },
              "description": "Get the specified version that has been created for the specified site. This can include versions that were created for the default `live` channel or for any active preview channels for the specified site.",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ]
            },
            "populateFiles": {
              "parameters": {
                "parent": {
                  "pattern": "^sites/[^/]+/versions/[^/]+$",
                  "location": "path",
                  "description": "Required. The version to which to add files, in the format: sites/SITE_ID /versions/VERSION_ID",
                  "type": "string",
                  "required": true
                }
              },
              "id": "firebasehosting.sites.versions.populateFiles",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "PopulateVersionFilesResponse"
              },
              "httpMethod": "POST",
              "path": "v1beta1/{+parent}:populateFiles",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
[...]
