{
  "discoveryVersion": "v1",
  "name": "firebaseappcheck",
  "mtlsRootUrl": "https://firebaseappcheck.mtls.googleapis.com/",
  "description": "Firebase App Check works alongside other Firebase services to help protect your backend resources from abuse, such as billing fraud or phishing.",
  "servicePath": "",
  "id": "firebaseappcheck:v1",
  "version": "v1",
  "schemas": {
    "GoogleFirebaseAppcheckV1PublicJwkSet": {
      "id": "GoogleFirebaseAppcheckV1PublicJwkSet",
      "properties": {
        "keys": {
          "description": "The set of public keys. See [section 5.1 of RFC 7517](https://tools.ietf.org/html/rfc7517#section-5).",
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1PublicJwk"
          },
          "type": "array"
        }
      },
      "description": "The currently active set of public keys that can be used to verify App Check tokens. This object is a JWK set as specified by [section 5 of RFC 7517](https://tools.ietf.org/html/rfc7517#section-5). For security, the response **must not** be cached for longer than six hours.",
      "type": "object"
    },
    "GoogleFirebaseAppcheckV1BatchGetAppAttestConfigsResponse": {
      "description": "Response message for the BatchGetAppAttestConfigs method.",
      "properties": {
        "configs": {
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1AppAttestConfig"
          },
          "description": "AppAttestConfigs retrieved.",
          "type": "array"
        }
      },
      "id": "GoogleFirebaseAppcheckV1BatchGetAppAttestConfigsResponse",
      "type": "object"
    },
    "GoogleProtobufEmpty": {
      "type": "object",
      "properties": {},
      "id": "GoogleProtobufEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "GoogleFirebaseAppcheckV1Service": {
      "id": "GoogleFirebaseAppcheckV1Service",
      "description": "The enforcement configuration for a Firebase service supported by App Check.",
      "properties": {
        "enforcementMode": {
          "enumDescriptions": [
            "When a particular protection is set to this mode, that protection is not applied for the service or resource, nor are metrics related to that protection collected. Though the relevant App Check protection is not applied, other applicable protections outside of App Check, such as user authorization, are still applied. An unconfigured EnforcementMode is in this mode by default.",
            "When a particular protection is set to this mode, that protection is not enforced for the service or resource. Metrics related to that protection are collected to help you decide when to turn on enforcement. These metrics will show the portion of traffic that is deemed invalid by that protection, but that traffic will not be rejected until you turn on enforcement. This `UNENFORCED` mode is also known as monitoring-only mode. Though the relevant App Check protection is not enforced, other applicable protections outside of App Check, such as user authorization, are still applied. Some services require certain conditions to be met before they will work with App Check, such as requiring you to upgrade to a specific service tier. Until those requirements are met for a service, this `UNENFORCED` setting will have no effect and App Check will not work with that service.",
            "When a particular protection is set to this mode, that protection is enforced for the service or resource. It will reject any traffic not accompanied by an App Check token that it deems valid. There are some exceptions depending on the service; for example, some services will still allow requests bearing the developer's privileged service account credentials without an App Check token. App Check metrics continue to be collected to help you detect issues with your App Check integration and monitor the composition of your callers. While the service is protected by App Check, other applicable protections outside of App Check, such as user authorization, continue to be applied at the same time. Use caution when choosing to enforce App Check protections. If your users have not updated to a version of your app that meets the requirements of the relevant App Check protection, their app may stop working. App Check metrics can help you decide when to enforce that protection on your services and resources. If you have not yet published your app, you should enable enforcement as soon as you verify that your App Check implementation is correct, since there are no outdated clients in use. Some services require certain conditions to be met before they will work with App Check, such as requiring you to upgrade to a specific service tier. Until those requirements are met for a service, this `ENFORCED` setting will have no effect and App Check will not work with that service."
          ],
          "enum": [
            "OFF",
            "UNENFORCED",
            "ENFORCED"
          ],
          "description": "Required. The baseline protection EnforcementMode for this service.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. This etag is strongly validated as defined by RFC 7232."
        },
        "replayProtection": {
          "enum": [
            "OFF",
            "UNENFORCED",
            "ENFORCED"
          ],
          "description": "Optional. The replay protection EnforcementMode for this service. Note that this field cannot be set to a level higher than that of baseline protection. For example, if the enforcement mode for baseline protection is set to `UNENFORCED`, this field cannot be set to `ENFORCED`. In order to enforce replay protection, you must first enforce App Check's baseline protection. An HTTP 400 error will be returned in this case. By default, this field is set to `OFF`. Setting this field to `UNENFORCED` or `ENFORCED` is considered opting into replay protection. Opting in can impact your requests by adding some latency and sometimes cost (depending on your attestation provider). To opt out of replay protection after opting in, set this field to `OFF`.",
          "type": "string",
          "enumDescriptions": [
            "When a particular protection is set to this mode, that protection is not applied for the service or resource, nor are metrics related to that protection collected. Though the relevant App Check protection is not applied, other applicable protections outside of App Check, such as user authorization, are still applied. An unconfigured EnforcementMode is in this mode by default.",
            "When a particular protection is set to this mode, that protection is not enforced for the service or resource. Metrics related to that protection are collected to help you decide when to turn on enforcement. These metrics will show the portion of traffic that is deemed invalid by that protection, but that traffic will not be rejected until you turn on enforcement. This `UNENFORCED` mode is also known as monitoring-only mode. Though the relevant App Check protection is not enforced, other applicable protections outside of App Check, such as user authorization, are still applied. Some services require certain conditions to be met before they will work with App Check, such as requiring you to upgrade to a specific service tier. Until those requirements are met for a service, this `UNENFORCED` setting will have no effect and App Check will not work with that service.",
            "When a particular protection is set to this mode, that protection is enforced for the service or resource. It will reject any traffic not accompanied by an App Check token that it deems valid. There are some exceptions depending on the service; for example, some services will still allow requests bearing the developer's privileged service account credentials without an App Check token. App Check metrics continue to be collected to help you detect issues with your App Check integration and monitor the composition of your callers. While the service is protected by App Check, other applicable protections outside of App Check, such as user authorization, continue to be applied at the same time. Use caution when choosing to enforce App Check protections. If your users have not updated to a version of your app that meets the requirements of the relevant App Check protection, their app may stop working. App Check metrics can help you decide when to enforce that protection on your services and resources. If you have not yet published your app, you should enable enforcement as soon as you verify that your App Check implementation is correct, since there are no outdated clients in use. Some services require certain conditions to be met before they will work with App Check, such as requiring you to upgrade to a specific service tier. Until those requirements are met for a service, this `ENFORCED` setting will have no effect and App Check will not work with that service."
          ]
        },
        "name": {
          "type": "string",
          "description": "Required. The relative resource name of the service configuration object, in the format: ``` projects/{project_number}/services/{service_id} ``` Note that the `service_id` element must be a supported service ID. Currently, the following service IDs are supported. Firebase and Google Cloud services: * `identitytoolkit.googleapis.com` (Firebase Authentication) * `firebasedataconnect.googleapis.com` (Firebase SQL Connect) * `firestore.googleapis.com` (Cloud Firestore) * `firebasedatabase.googleapis.com` (Firebase Realtime Database) * `firebasestorage.googleapis.com` (Cloud Storage for Firebase) * `firebaseml.googleapis.com` (Firebase AI Logic) Google Maps Platform services: * `maps-backend.googleapis.com` (Maps JavaScript API) * `places.googleapis.com` (Places API (New)) Other supported Google services: * `oauth2.googleapis.com` (Google Identity for iOS) Note: While all the supported `service_id`s may appear to be subdomains of `googleapis.com`, the `service_id` has no semantic meaning beyond identifying the service to App Check. It is not intended to represent the actual domain to which your apps send traffic, nor is it necessarily the API that should be enabled to use the service. For information on using these Google services, consult their documentation."
        },
        "updateTime": {
          "description": "Output only. Timestamp when this service configuration object was most recently updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleFirebaseAppcheckV1ExchangeRecaptchaEnterpriseTokenRequest": {
      "description": "Request message for the ExchangeRecaptchaEnterpriseToken method.",
      "properties": {
        "recaptchaEnterpriseToken": {
          "description": "Required. The reCAPTCHA token as returned by the [reCAPTCHA Enterprise JavaScript API](https://cloud.google.com/recaptcha-enterprise/docs/instrument-web-pages).",
          "type": "string"
        },
        "limitedUse": {
          "description": "Specifies whether this attestation is for use in a *limited use* (`true`) or *session based* (`false`) context. To enable this attestation to be used with the *replay protection* feature, set this to `true`. The default value is `false`.",
          "type": "boolean"
        }
      },
      "id": "GoogleFirebaseAppcheckV1ExchangeRecaptchaEnterpriseTokenRequest",
      "type": "object"
    },
    "GoogleFirebaseAppcheckV1UpdateResourcePolicyRequest": {
      "type": "object",
      "description": "Request message for the UpdateResourcePolicy method as well as an individual update message for the BatchUpdateResourcePolicies method.",
      "properties": {
        "resourcePolicy": {
          "description": "Required. The ResourcePolicy to update. The ResourcePolicy's `name` field is used to identify the ResourcePolicy to be updated, in the format: ``` projects/{project_number}/services/{service_id}/resourcePolicies/{resource_policy_id} ``` Note that the `service_id` element must be a supported service ID. Consult the ResourcePolicy.name field for a list of supported service IDs.",
          "$ref": "GoogleFirebaseAppcheckV1ResourcePolicy"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "description": "Required. A comma-separated list of names of fields in the ResourcePolicy to update. Example: `enforcement_mode`.",
          "type": "string"
        }
      },
      "id": "GoogleFirebaseAppcheckV1UpdateResourcePolicyRequest"
    },
    "GoogleFirebaseAppcheckV1MintAppCheckTokenResponse": {
      "properties": {
        "token": {
          "type": "string",
          "description": "The App Check token, used to access backend services protected by App Check. App Check tokens are signed [JWTs](https://tools.ietf.org/html/rfc7519) containing claims that identify the attested app and GCP project. This token is used to access Google services protected by App Check. These tokens can also be [verified by your own custom backends](https://firebase.google.com/docs/app-check/custom-resource-backend) using the Firebase Admin SDK or third-party libraries."
        },
        "ttl": {
          "description": "The duration from the time this token is minted until its expiration. This field is intended to ease client-side token management, since the client may have clock skew, but is still able to accurately measure a duration.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "id": "GoogleFirebaseAppcheckV1MintAppCheckTokenResponse",
      "description": "Response message for the MintAppCheckToken method.",
      "type": "object"
    },
    "GoogleFirebaseAppcheckV1RecaptchaEnterpriseConfigRiskAnalysis": {
      "description": "A settings object specifying risk tolerance and requirements for your application. These settings correspond to requirements on the [**`riskAnalysis`**](https://cloud.google.com/recaptcha/docs/interpret-assessment-website#interpret_assessment) tuple in the assessment obtained from reCAPTCHA Enterprise. The default values for these settings work for most apps, and are recommended.",
      "properties": {
        "minValidScore": {
          "format": "float",
          "type": "number",
          "description": "Specifies a minimum score required for a reCAPTCHA token to be considered valid. If its score is greater than or equal to this value, it will be accepted; otherwise, it will be rejected. The value must be between 0.0 and 1.0. The default value is 0.5."
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppcheckV1RecaptchaEnterpriseConfigRiskAnalysis"
    },
    "GoogleFirebaseAppcheckV1ExchangeAppAttestAttestationRequest": {
      "type": "object",
      "description": "Request message for the ExchangeAppAttestAttestation method.",
      "properties": {
        "attestationStatement": {
          "format": "byte",
          "type": "string",
          "description": "Required. The App Attest statement returned by the client-side App Attest API. This is a base64url encoded CBOR object in the JSON response."
        },
        "limitedUse": {
          "type": "boolean",
          "description": "Specifies whether this attestation is for use in a *limited use* (`true`) or *session based* (`false`) context. To enable this attestation to be used with the *replay protection* feature, set this to `true`. The default value is `false`."
        },
        "challenge": {
          "format": "byte",
          "type": "string",
          "description": "Required. A one-time challenge returned by an immediately prior call to GenerateAppAttestChallenge."
        },
        "keyId": {
          "format": "byte",
          "type": "string",
          "description": "Required. The key ID generated by App Attest for the client app."
        }
      },
      "id": "GoogleFirebaseAppcheckV1ExchangeAppAttestAttestationRequest"
    },
    "GoogleFirebaseAppcheckV1LimitedUseConfig": {
      "id": "GoogleFirebaseAppcheckV1LimitedUseConfig",
      "description": "Configuration for a limited-use App Check token.",
      "properties": {
        "jti": {
          "description": "Optional. Specifies the desired `jti` claim (Section 4.1.7 of RFC 7519) in the returned App Check token. Limited-use App Check tokens with the same `jti` will be counted as the same token for the purposes of replay protection. The size of this field is limited to 500 bytes. If specified, its length must be at least 16 bytes. If this field is omitted or is empty, a randomly generated `jti` claim with length between 16 and 500 bytes (inclusive) will be used in the returned App Check token. Leaving this field empty is only recommended if your custom attestation provider itself is not vulnerable to replay attacks.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleFirebaseAppcheckV1BatchUpdateServicesResponse": {
      "properties": {
        "services": {
          "description": "Service objects after the updates have been applied.",
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1Service"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response message for the BatchUpdateServices method.",
      "id": "GoogleFirebaseAppcheckV1BatchUpdateServicesResponse"
    },
    "GoogleFirebaseAppcheckV1RecaptchaEnterpriseConfig": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The relative resource name of the reCAPTCHA Enterprise configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaEnterpriseConfig ```"
        },
        "tokenTtl": {
          "type": "string",
          "description": "Specifies the duration for which App Check tokens exchanged from reCAPTCHA Enterprise tokens will be valid. If unset, a default value of 1 hour is assumed. Must be between 30 minutes and 7 days, inclusive.",
          "format": "google-duration"
        },
        "riskAnalysis": {
          "description": "Specifies risk tolerance and requirements for your application. These settings correspond to requirements on the [**`riskAnalysis`**](https://cloud.google.com/recaptcha/docs/interpret-assessment-website#interpret_assessment) tuple in the assessment obtained from reCAPTCHA Enterprise. The default values for these settings work for most apps, and are recommended.",
          "$ref": "GoogleFirebaseAppcheckV1RecaptchaEnterpriseConfigRiskAnalysis"
        },
        "siteKey": {
          "description": "The score-based site key [created in reCAPTCHA Enterprise](https://cloud.google.com/recaptcha-enterprise/docs/create-key#creating_a_site_key) used to [invoke reCAPTCHA and generate the reCAPTCHA tokens](https://cloud.google.com/recaptcha-enterprise/docs/instrument-web-pages) for your application. Important: This is *not* the `site_secret` (as it is in reCAPTCHA v3), but rather your score-based reCAPTCHA Enterprise site key.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppcheckV1RecaptchaEnterpriseConfig",
      "description": "An app's reCAPTCHA Enterprise configuration object. This configuration is used by ExchangeRecaptchaEnterpriseToken to validate reCAPTCHA tokens issued to apps by reCAPTCHA Enterprise. It also controls certain properties of the returned `AppCheckToken`, such as its ttl."
    },
    "GoogleFirebaseAppcheckV1ExchangeAppAttestAssertionRequest": {
      "id": "GoogleFirebaseAppcheckV1ExchangeAppAttestAssertionRequest",
      "description": "Request message for the ExchangeAppAttestAssertion method.",
      "type": "object",
      "properties": {
        "limitedUse": {
          "type": "boolean",
          "description": "Specifies whether this attestation is for use in a *limited use* (`true`) or *session based* (`false`) context. To enable this attestation to be used with the *replay protection* feature, set this to `true`. The default value is `false`."
        },
        "challenge": {
          "format": "byte",
          "description": "Required. A one-time challenge returned by an immediately prior call to GenerateAppAttestChallenge.",
          "type": "string"
        },
        "artifact": {
          "description": "Required. The artifact returned by a previous call to ExchangeAppAttestAttestation.",
          "format": "byte",
          "type": "string"
        },
        "assertion": {
          "type": "string",
          "format": "byte",
          "description": "Required. The CBOR-encoded assertion returned by the client-side App Attest API."
        }
      }
    },
    "GoogleFirebaseAppcheckV1BatchGetDeviceCheckConfigsResponse": {
      "id": "GoogleFirebaseAppcheckV1BatchGetDeviceCheckConfigsResponse",
      "description": "Response message for the BatchGetDeviceCheckConfigs method.",
      "type": "object",
      "properties": {
        "configs": {
          "description": "DeviceCheckConfigs retrieved.",
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1DeviceCheckConfig"
          },
          "type": "array"
        }
      }
    },
    "GoogleFirebaseAppcheckV1ListServicesResponse": {
      "id": "GoogleFirebaseAppcheckV1ListServicesResponse",
      "properties": {
        "services": {
          "description": "The Services retrieved.",
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1Service"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "If the result list is too large to fit in a single response, then a token is returned. If the string is empty or omitted, then this response is the last page of results. This token can be used in a subsequent call to ListServices to find the next group of Services. Page tokens are short-lived and should not be persisted.",
          "type": "string"
        }
      },
      "description": "Response message for the ListServices method.",
      "type": "object"
    },
    "GoogleFirebaseAppcheckV1BatchGetRecaptchaEnterpriseConfigsResponse": {
      "description": "Response message for the BatchGetRecaptchaEnterpriseConfigs method.",
      "properties": {
        "configs": {
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1RecaptchaEnterpriseConfig"
          },
          "type": "array",
          "description": "RecaptchaEnterpriseConfigs retrieved."
        }
      },
      "id": "GoogleFirebaseAppcheckV1BatchGetRecaptchaEnterpriseConfigsResponse",
      "type": "object"
    },
    "GoogleFirebaseAppcheckV1ListResourcePoliciesResponse": {
      "id": "GoogleFirebaseAppcheckV1ListResourcePoliciesResponse",
      "properties": {
        "resourcePolicies": {
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1ResourcePolicy"
          },
          "type": "array",
          "description": "The ResourcePolicy objects retrieved."
        },
        "nextPageToken": {
          "description": "If the result list is too large to fit in a single response, then a token is returned. If the string is empty or omitted, then this response is the last page of results. This token can be used in a subsequent call to ListResourcePolicies to find the next group of ResourcePolicy objects. Page tokens are short-lived and should not be persisted.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for the ListResourcePolicies method."
    },
    "GoogleFirebaseAppcheckV1ListDebugTokensResponse": {
      "type": "object",
      "description": "Response message for the ListDebugTokens method.",
      "id": "GoogleFirebaseAppcheckV1ListDebugTokensResponse",
      "properties": {
        "nextPageToken": {
          "description": "If the result list is too large to fit in a single response, then a token is returned. If the string is empty or omitted, then this response is the last page of results. This token can be used in a subsequent call to ListDebugTokens to find the next group of DebugTokens. Page tokens are short-lived and should not be persisted.",
          "type": "string"
        },
        "debugTokens": {
          "type": "array",
          "description": "The DebugTokens retrieved.",
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1DebugToken"
          }
        }
      }
    },
    "GoogleFirebaseAppcheckV1BatchGetPlayIntegrityConfigsResponse": {
      "type": "object",
      "description": "Response message for the BatchGetPlayIntegrityConfigs method.",
      "properties": {
        "configs": {
          "type": "array",
          "description": "PlayIntegrityConfigs retrieved.",
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1PlayIntegrityConfig"
          }
        }
      },
      "id": "GoogleFirebaseAppcheckV1BatchGetPlayIntegrityConfigsResponse"
    },
    "GoogleFirebaseAppcheckV1ExchangeAppAttestAttestationResponse": {
      "type": "object",
      "id": "GoogleFirebaseAppcheckV1ExchangeAppAttestAttestationResponse",
      "properties": {
        "artifact": {
          "format": "byte",
          "type": "string",
          "description": "An artifact that can be used in future calls to ExchangeAppAttestAssertion."
        },
        "appCheckToken": {
          "description": "Encapsulates an App Check token.",
          "$ref": "GoogleFirebaseAppcheckV1AppCheckToken"
        }
      },
      "description": "Response message for the ExchangeAppAttestAttestation method."
    },
    "GoogleFirebaseAppcheckV1UpdateServiceRequest": {
      "id": "GoogleFirebaseAppcheckV1UpdateServiceRequest",
      "description": "Request message for the UpdateService method as well as an individual update message for the BatchUpdateServices method.",
      "properties": {
        "service": {
          "$ref": "GoogleFirebaseAppcheckV1Service",
          "description": "Required. The Service to update. The Service's `name` field is used to identify the Service to be updated, in the format: ``` projects/{project_number}/services/{service_id} ``` Note that the `service_id` element must be a supported service ID. Consult the Service.name field for a list of supported service IDs."
        },
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "Required. A comma-separated list of names of fields in the Service to update. Example: `enforcement_mode`."
        }
      },
      "type": "object"
    },
    "GoogleFirebaseAppcheckV1GenerateAppAttestChallengeResponse": {
      "description": "Response message for the GenerateAppAttestChallenge method.",
      "properties": {
        "ttl": {
          "type": "string",
          "format": "google-duration",
          "description": "The duration from the time this challenge is minted until its expiration. This field is intended to ease client-side token management, since the client may have clock skew, but is still able to accurately measure a duration."
        },
        "challenge": {
          "type": "string",
          "description": "A one-time use challenge for the client to pass to the App Attest API.",
          "format": "byte"
        }
      },
      "id": "GoogleFirebaseAppcheckV1GenerateAppAttestChallengeResponse",
      "type": "object"
    },
    "GoogleFirebaseAppcheckV1PlayIntegrityConfigAppIntegrity": {
      "id": "GoogleFirebaseAppcheckV1PlayIntegrityConfigAppIntegrity",
      "description": "A settings object specifying application integrity requirements for Android devices running your app. These settings correspond to requirements on the [**application integrity** field](https://developer.android.com/google/play/integrity/verdicts#application-integrity-field) obtained from the Play Integrity API. See the [default responses table](https://developer.android.com/google/play/integrity/setup#default) for a quick summary. The default values for these settings work for most apps, and are recommended.",
      "properties": {
        "allowUnrecognizedVersion": {
          "type": "boolean",
          "description": "Specifies whether your running app is allowed to have the `UNRECOGNIZED_VERSION` [app recognition verdict](https://developer.android.com/google/play/integrity/verdicts#application-integrity-field). Note that the app recognition verdict `PLAY_RECOGNIZED` is a strong, comprehensive integrity signal that takes into account various other signals, including conditional and optional device integrity responses that you have opted into. If your app is published off-Play, this field should be set to `true` to allow instances of your app installed from off-Play sources to function. If set to `false`, only `PLAY_RECOGNIZED` verdicts are allowed, and both `UNRECOGNIZED_VERSION` and `UNEVALUATED` will be rejected. If set to `true`, any app recognition verdict is allowed. The default value is `false`."
        }
      },
      "type": "object"
    },
    "GoogleFirebaseAppcheckV1ExchangePlayIntegrityTokenRequest": {
      "id": "GoogleFirebaseAppcheckV1ExchangePlayIntegrityTokenRequest",
      "properties": {
        "playIntegrityToken": {
          "description": "Required. The [integrity verdict response token from Play Integrity](https://developer.android.com/google/play/integrity/verdict#decrypt-verify) issued to your app.",
          "type": "string"
        },
        "limitedUse": {
          "type": "boolean",
          "description": "Specifies whether this attestation is for use in a *limited use* (`true`) or *session based* (`false`) context. To enable this attestation to be used with the *replay protection* feature, set this to `true`. The default value is `false`."
        }
      },
      "description": "Request message for the ExchangePlayIntegrityToken method.",
      "type": "object"
    },
    "GoogleFirebaseAppcheckV1ExchangeRecaptchaV3TokenRequest": {
      "id": "GoogleFirebaseAppcheckV1ExchangeRecaptchaV3TokenRequest",
      "properties": {
        "limitedUse": {
          "description": "Specifies whether this attestation is for use in a *limited use* (`true`) or *session based* (`false`) context. To enable this attestation to be used with the *replay protection* feature, set this to `true`. The default value is `false`.",
          "type": "boolean"
        },
        "recaptchaV3Token": {
          "description": "Required. The reCAPTCHA token as returned by the [reCAPTCHA v3 JavaScript API](https://developers.google.com/recaptcha/docs/v3).",
          "type": "string"
        }
      },
      "description": "Request message for the ExchangeRecaptchaV3Token method.",
      "type": "object"
    },
    "GoogleFirebaseAppcheckV1BatchUpdateResourcePoliciesResponse": {
      "description": "Response message for the BatchUpdateResourcePolicies method.",
      "id": "GoogleFirebaseAppcheckV1BatchUpdateResourcePoliciesResponse",
      "properties": {
        "resourcePolicies": {
          "type": "array",
          "description": "ResourcePolicy objects after the updates have been applied.",
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1ResourcePolicy"
          }
        }
      },
      "type": "object"
    },
    "GoogleFirebaseAppcheckV1GeneratePlayIntegrityChallengeRequest": {
      "id": "GoogleFirebaseAppcheckV1GeneratePlayIntegrityChallengeRequest",
      "description": "Request message for the GeneratePlayIntegrityChallenge method.",
      "type": "object",
      "properties": {}
    },
    "GoogleFirebaseAppcheckV1AppCheckToken": {
      "description": "Encapsulates an *App Check token*, which are used to access backend services protected by App Check.",
      "properties": {
        "token": {
          "description": "The App Check token. App Check tokens are signed [JWTs](https://tools.ietf.org/html/rfc7519) containing claims that identify the attested app and GCP project. This token is used to access Google services protected by App Check. These tokens can also be [verified by your own custom backends](https://firebase.google.com/docs/app-check/custom-resource-backend) using the Firebase Admin SDK or third-party libraries.",
          "type": "string"
        },
        "ttl": {
          "type": "string",
          "format": "google-duration",
          "description": "The duration from the time this token is minted until its expiration. This field is intended to ease client-side token management, since the client may have clock skew, but is still able to accurately measure a duration."
        }
      },
      "id": "GoogleFirebaseAppcheckV1AppCheckToken",
      "type": "object"
    },
    "GoogleFirebaseAppcheckV1RecaptchaV3Config": {
      "properties": {
        "name": {
          "description": "Required. The relative resource name of the reCAPTCHA v3 configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaV3Config ```",
          "type": "string"
        },
        "siteSecret": {
          "type": "string",
          "description": "Required. Input only. The site secret used to identify your service for reCAPTCHA v3 verification. For security reasons, this field will never be populated in any response."
        },
        "siteSecretSet": {
          "description": "Output only. Whether the `site_secret` field was previously set. Since we will never return the `site_secret` field, this field is the only way to find out whether it was previously set.",
          "readOnly": true,
          "type": "boolean"
        },
        "minValidScore": {
          "format": "float",
          "description": "Specifies a minimum score required for a reCAPTCHA token to be considered valid. If its score is greater than or equal to this value, it will be accepted; otherwise, it will be rejected. The value must be between 0.0 and 1.0. The default value is 0.5.",
          "type": "number"
        },
        "tokenTtl": {
          "description": "Specifies the duration for which App Check tokens exchanged from reCAPTCHA tokens will be valid. If unset, a default value of 1 day is assumed. Must be between 30 minutes and 7 days, inclusive.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "description": "An app's reCAPTCHA v3 configuration object. This configuration is used by ExchangeRecaptchaV3Token to validate reCAPTCHA tokens issued to apps by reCAPTCHA v3. It also controls certain properties of the returned `AppCheckToken`, such as its ttl.",
      "type": "object",
      "id": "GoogleFirebaseAppcheckV1RecaptchaV3Config"
    },
    "GoogleFirebaseAppcheckV1DeviceCheckConfig": {
      "description": "An app's DeviceCheck configuration object. This configuration is used by ExchangeDeviceCheckToken to validate device tokens issued to apps by DeviceCheck. It also controls certain properties of the returned `AppCheckToken`, such as its ttl. Note that the Team ID registered with your app is used as part of the validation process. Please register it via the Firebase Console or programmatically via the [Firebase Management Service](https://firebase.google.com/docs/projects/api/reference/rest/v11/projects.iosApps/patch).",
      "properties": {
        "keyId": {
          "description": "Required. The key identifier of a private key enabled with DeviceCheck, created in your Apple Developer account.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. The relative resource name of the DeviceCheck configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/deviceCheckConfig ```"
        },
        "privateKey": {
          "description": "Required. Input only. The contents of the private key (`.p8`) file associated with the key specified by `key_id`. For security reasons, this field will never be populated in any response.",
          "type": "string"
        },
        "tokenTtl": {
          "format": "google-duration",
          "description": "Specifies the duration for which App Check tokens exchanged from DeviceCheck tokens will be valid. If unset, a default value of 1 hour is assumed. Must be between 30 minutes and 7 days, inclusive.",
          "type": "string"
        },
        "privateKeySet": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the `private_key` field was previously set. Since we will never return the `private_key` field, this field is the only way to find out whether it was previously set."
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppcheckV1DeviceCheckConfig"
    },
    "GoogleFirebaseAppcheckV1ExchangeCustomTokenRequest": {
      "properties": {
        "jti": {
          "type": "string",
          "description": "Optional. When `limited_use` is set to `true`, this field specifies the desired `jti` claim (Section 4.1.7 of RFC 7519) in the returned App Check token. *Limited use* App Check tokens with the same `jti` will be counted as the same token for the purposes of replay protection. An error is returned if this field is specified without setting `limited_use` to `true`. The size of this field is limited to 500 bytes. If specified, its length must be at least 16 bytes. If this field is omitted or is empty and `limited_use` is set to `true`, a randomly generated `jti` claim with length between 16 and 500 bytes (inclusive) will be used in the returned App Check token. Leaving this field empty is only recommended if your custom attestation provider itself is not vulnerable to replay attacks. When `limited_use` is set to `false`, the presence and the contents of the `jti` claim in the returned App Check token are unspecified. To ensure that the returned App Check token is eligible for limited-use functionality, set `limited_use` to `true`."
        },
        "customToken": {
          "description": "Required. A custom token signed using your project's Admin SDK service account credentials.",
          "type": "string"
        },
        "limitedUse": {
          "description": "Specifies whether this attestation is for use in a *limited use* (`true`) or *session based* (`false`) context. To enable this attestation to be used with the *replay protection* feature, set this to `true`. The default value is `false`.",
          "type": "boolean"
        }
      },
      "description": "Request message for the ExchangeCustomToken method.",
      "id": "GoogleFirebaseAppcheckV1ExchangeCustomTokenRequest",
      "type": "object"
    },
    "GoogleFirebaseAppcheckV1ExchangeDeviceCheckTokenRequest": {
      "description": "Request message for the ExchangeDeviceCheckToken method.",
      "properties": {
        "deviceToken": {
          "type": "string",
          "description": "Required. The `device_token` as returned by Apple's client-side [DeviceCheck API](https://developer.apple.com/documentation/devicecheck/dcdevice). This is the base64 encoded `Data` (Swift) or `NSData` (ObjC) object."
        },
        "limitedUse": {
          "description": "Specifies whether this attestation is for use in a *limited use* (`true`) or *session based* (`false`) context. To enable this attestation to be used with the *replay protection* feature, set this to `true`. The default value is `false`.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppcheckV1ExchangeDeviceCheckTokenRequest"
    },
    "GoogleFirebaseAppcheckV1PlayIntegrityConfig": {
      "properties": {
        "tokenTtl": {
          "type": "string",
          "description": "Specifies the duration for which App Check tokens exchanged from Play Integrity tokens will be valid. If unset, a default value of 1 hour is assumed. Must be between 30 minutes and 7 days, inclusive.",
          "format": "google-duration"
        },
        "deviceIntegrity": {
          "description": "Specifies device integrity requirements for Android devices running your app. These settings correspond to requirements on the [**device integrity** field](https://developer.android.com/google/play/integrity/verdicts#device-integrity-field) obtained from the Play Integrity API. See the [default responses table](https://developer.android.com/google/play/integrity/setup#default) for a quick summary. Warning: There are also [conditional](https://developer.android.com/google/play/integrity/setup#conditional) as well as [optional](https://developer.android.com/google/play/integrity/setup#optional_device_information) responses that you can receive, but requires additional explicit opt-in from you. The App Check API is **not** responsible for any such opt-ins. The default values for these settings work for most apps, and are recommended.",
          "$ref": "GoogleFirebaseAppcheckV1PlayIntegrityConfigDeviceIntegrity"
        },
        "name": {
          "type": "string",
          "description": "Required. The relative resource name of the Play Integrity configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/playIntegrityConfig ```"
        },
        "appIntegrity": {
          "description": "Specifies application integrity requirements for Android devices running your app. These settings correspond to requirements on the [**application integrity** field](https://developer.android.com/google/play/integrity/verdicts#application-integrity-field) obtained from the Play Integrity API. See the [default responses table](https://developer.android.com/google/play/integrity/setup#default) for a quick summary. The default values for these settings work for most apps, and are recommended.",
          "$ref": "GoogleFirebaseAppcheckV1PlayIntegrityConfigAppIntegrity"
        },
        "accountDetails": {
          "$ref": "GoogleFirebaseAppcheckV1PlayIntegrityConfigAccountDetails",
          "description": "Specifies account requirements for Android devices running your app. These settings correspond to requirements on the [**account details** field](https://developer.android.com/google/play/integrity/verdicts#account-details-field) obtained from the Play Integrity API. See the [default responses table](https://developer.android.com/google/play/integrity/setup#default) for a quick summary. The default values for these settings work for most apps, and are recommended."
        }
      },
      "id": "GoogleFirebaseAppcheckV1PlayIntegrityConfig",
      "type": "object",
      "description": "An app's Play Integrity configuration object. This configuration controls certain properties of the `AppCheckToken` returned by ExchangePlayIntegrityToken, such as its ttl. Note that your registered SHA-256 certificate fingerprints are used to validate tokens issued by the Play Integrity API; please register them via the Firebase Console or programmatically via the [Firebase Management Service](https://firebase.google.com/docs/projects/api/reference/rest/v1beta1/projects.androidApps.sha/create)."
    },
    "GoogleFirebaseAppcheckV1ResourcePolicy": {
      "id": "GoogleFirebaseAppcheckV1ResourcePolicy",
      "properties": {
        "etag": {
          "type": "string",
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. This etag is strongly validated as defined by RFC 7232."
        },
        "targetResource": {
          "description": "Required. Service specific name of the resource object to which this policy applies, in the format: * **iOS OAuth clients** (Google Identity for iOS): `//oauth2.googleapis.com/projects/{project_number}/oauthClients/{oauth_client_id}` Note that the resource must belong to the service specified in the `name` and be from the same project as this policy, but the resource is allowed to be missing at the time of creation of this policy; in that case, we make a best-effort attempt at respecting this policy, but it may not have any effect until the resource is fully created.",
          "type": "string"
        },
        "enforcementMode": {
          "enumDescriptions": [
            "When a particular protection is set to this mode, that protection is not applied for the service or resource, nor are metrics related to that protection collected. Though the relevant App Check protection is not applied, other applicable protections outside of App Check, such as user authorization, are still applied. An unconfigured EnforcementMode is in this mode by default.",
            "When a particular protection is set to this mode, that protection is not enforced for the service or resource. Metrics related to that protection are collected to help you decide when to turn on enforcement. These metrics will show the portion of traffic that is deemed invalid by that protection, but that traffic will not be rejected until you turn on enforcement. This `UNENFORCED` mode is also known as monitoring-only mode. Though the relevant App Check protection is not enforced, other applicable protections outside of App Check, such as user authorization, are still applied. Some services require certain conditions to be met before they will work with App Check, such as requiring you to upgrade to a specific service tier. Until those requirements are met for a service, this `UNENFORCED` setting will have no effect and App Check will not work with that service.",
            "When a particular protection is set to this mode, that protection is enforced for the service or resource. It will reject any traffic not accompanied by an App Check token that it deems valid. There are some exceptions depending on the service; for example, some services will still allow requests bearing the developer's privileged service account credentials without an App Check token. App Check metrics continue to be collected to help you detect issues with your App Check integration and monitor the composition of your callers. While the service is protected by App Check, other applicable protections outside of App Check, such as user authorization, continue to be applied at the same time. Use caution when choosing to enforce App Check protections. If your users have not updated to a version of your app that meets the requirements of the relevant App Check protection, their app may stop working. App Check metrics can help you decide when to enforce that protection on your services and resources. If you have not yet published your app, you should enable enforcement as soon as you verify that your App Check implementation is correct, since there are no outdated clients in use. Some services require certain conditions to be met before they will work with App Check, such as requiring you to upgrade to a specific service tier. Until those requirements are met for a service, this `ENFORCED` setting will have no effect and App Check will not work with that service."
          ],
          "enum": [
            "OFF",
            "UNENFORCED",
            "ENFORCED"
          ],
          "type": "string",
          "description": "Required. The baseline protection EnforcementMode for this resource. This will override the service-level baseline protection EnforcementMode."
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Timestamp when this resource policy configuration object was most recently updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "description": "Required. Identifier. The relative name of the resource policy object, in the format: ``` projects/{project_number}/services/{service_id}/resourcePolicies/{resource_policy_id} ``` Note that the `service_id` element must be a supported service ID. Currently, the following service IDs are supported: * `oauth2.googleapis.com` (Google Identity for iOS) `resource_policy_id` is a system-generated UID.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "App Check enforcement policy for a specific resource of a Google service supported by App Check. Note that this policy will override the service-level configuration."
    },
    "GoogleFirebaseAppcheckV1BatchUpdateResourcePoliciesRequest": {
      "type": "object",
      "description": "Request message for the BatchUpdateResourcePolicies method.",
      "properties": {
        "requests": {
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1UpdateResourcePolicyRequest"
          },
          "description": "Required. The request messages specifying the ResourcePolicy objects to update. A maximum of 100 objects can be updated in a batch.",
          "type": "array"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "Optional. A comma-separated list of names of fields in the ResourcePolicy objects to update. Example: `enforcement_mode`. If this field is present, the `update_mask` field in the UpdateResourcePolicyRequest messages must all match this field, or the entire batch fails and no updates will be committed."
        }
      },
      "id": "GoogleFirebaseAppcheckV1BatchUpdateResourcePoliciesRequest"
    },
    "GoogleFirebaseAppcheckV1MintAppCheckTokenRequest": {
      "id": "GoogleFirebaseAppcheckV1MintAppCheckTokenRequest",
      "properties": {
        "limitedUseConfig": {
          "$ref": "GoogleFirebaseAppcheckV1LimitedUseConfig",
          "description": "Optional. If specified, the returned App Check token will be a limited-use token minted according to the specified configuration options."
        },
        "tokenTtl": {
          "description": "Optional. If specified, the returned App Check token will be a session token, valid for the specified duration. Must be between 30 minutes and 7 days, inclusive.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "type": "object",
      "description": "Request message for the MintAppCheckToken method."
    },
    "GoogleFirebaseAppcheckV1BatchGetRecaptchaV3ConfigsResponse": {
      "properties": {
        "configs": {
          "description": "RecaptchaV3Configs retrieved.",
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1RecaptchaV3Config"
          },
          "type": "array"
        }
      },
      "description": "Response message for the BatchGetRecaptchaV3Configs method.",
      "type": "object",
      "id": "GoogleFirebaseAppcheckV1BatchGetRecaptchaV3ConfigsResponse"
    },
    "GoogleFirebaseAppcheckV1PlayIntegrityConfigDeviceIntegrity": {
      "id": "GoogleFirebaseAppcheckV1PlayIntegrityConfigDeviceIntegrity",
      "description": "A settings object specifying device integrity requirements for Android devices running your app. These settings correspond to requirements on the [**device integrity** field](https://developer.android.com/google/play/integrity/verdicts#device-integrity-field) obtained from the Play Integrity API. See the [default responses table](https://developer.android.com/google/play/integrity/setup#default) for a quick summary. Warning: There are also [conditional](https://developer.android.com/google/play/integrity/setup#conditional) as well as [optional](https://developer.android.com/google/play/integrity/setup#optional_device_information) responses that you can receive, but requires additional explicit opt-in from you. The App Check API is **not** responsible for any such opt-ins. The default values for these settings work for most apps, and are recommended.",
      "properties": {
        "minDeviceRecognitionLevel": {
          "enum": [
            "DEVICE_RECOGNITION_LEVEL_UNSPECIFIED",
            "NO_INTEGRITY",
            "MEETS_BASIC_INTEGRITY",
            "MEETS_DEVICE_INTEGRITY",
            "MEETS_STRONG_INTEGRITY"
          ],
          "enumDescriptions": [
            "Default value. Do not specify this value directly. If this value is detected in a configuration, it will have the same effect as the value `NO_INTEGRITY`.",
            "If this level is set, no explicit device integrity label requirements will be checked. However, because Play Integrity's other features may perform (and require) their own intrinsic device integrity checks, your `app_integrity` and `account_details` settings may still cause some device integrity checks to be performed.",
            "This level corresponds to the `MEETS_BASIC_INTEGRITY` [optional device recognition label](https://developer.android.com/google/play/integrity/verdicts#optional-device-labels). This value represents the most basic level of device integrity, and is the minimum allowed in App Check's standard implementation of Play Integrity. Warning: Because this is an optional response, you **must** first explicitly [opt in your app in the Play Console](https://developer.android.com/google/play/integrity/setup#optional) in order to receive this label. Without this opt-in, **your app may break** for any user whose device is eligible for `MEETS_BASIC_INTEGRITY` but not `MEETS_DEVICE_INTEGRITY`. This API is **not** responsible for any such opt-ins.",
            "This level corresponds to the `MEETS_DEVICE_INTEGRITY` [device recognition verdict](https://developer.android.com/google/play/integrity/verdicts#device-integrity-field). Any app integrated with Play Integrity will automatically be eligible to receive this label without any additional action from you. At this level, devices that have the `MEETS_BASIC_INTEGRITY` label but **not** the `MEETS_DEVICE_INTEGRITY` label will be rejected.",
            "This level corresponds to the `MEETS_STRONG_INTEGRITY` [optional device recognition label](https://developer.android.com/google/play/integrity/verdicts#optional-device-labels). This value represents the highest level of device integrity. At this level, devices that have the `MEETS_BASIC_INTEGRITY` or `MEETS_DEVICE_INTEGRITY` but **not** the `MEETS_STRONG_INTEGRITY` label will be rejected. Warning: Because this is an optional response, you **must** first explicitly [opt in your app in the Play Console](https://developer.android.com/google/play/integrity/setup#optional) in order to receive this label. Without this opt-in, **your app may break** for any user whose device is eligible for `MEETS_STRONG_INTEGRITY`. This API is **not** responsible for any such opt-ins."
          ],
          "description": "Specifies the minimum device integrity level in order for the device to be considered valid. Any device with a device recognition verdict lower than this level will be rejected. If this is unspecified, the default level is `NO_INTEGRITY`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleFirebaseAppcheckV1PublicJwk": {
      "properties": {
        "use": {
          "description": "See [section 4.2 of RFC 7517](https://tools.ietf.org/html/rfc7517#section-4.2).",
          "type": "string"
        },
        "kid": {
          "type": "string",
          "description": "See [section 4.5 of RFC 7517](https://tools.ietf.org/html/rfc7517#section-4.5)."
        },
        "alg": {
          "description": "See [section 4.4 of RFC 7517](https://tools.ietf.org/html/rfc7517#section-4.4).",
          "type": "string"
        },
        "n": {
          "type": "string",
          "description": "See [section 6.3.1.1 of RFC 7518](https://tools.ietf.org/html/rfc7518#section-6.3.1.1)."
        },
        "e": {
          "description": "See [section 6.3.1.2 of RFC 7518](https://tools.ietf.org/html/rfc7518#section-6.3.1.2).",
          "type": "string"
        },
        "kty": {
          "description": "See [section 4.1 of RFC 7517](https://tools.ietf.org/html/rfc7517#section-4.1).",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppcheckV1PublicJwk",
      "description": "A JWK as specified by [section 4 of RFC 7517](https://tools.ietf.org/html/rfc7517#section-4) and [section 6.3.1 of RFC 7518](https://tools.ietf.org/html/rfc7518#section-6.3.1)."
    },
    "GoogleFirebaseAppcheckV1ExchangeDebugTokenRequest": {
      "type": "object",
      "description": "Request message for the ExchangeDebugToken method.",
      "id": "GoogleFirebaseAppcheckV1ExchangeDebugTokenRequest",
      "properties": {
        "debugToken": {
          "description": "Required. A debug token secret. This string must match a debug token secret previously created using CreateDebugToken.",
          "type": "string"
        },
        "limitedUse": {
          "description": "Specifies whether this attestation is for use in a *limited use* (`true`) or *session based* (`false`) context. To enable this attestation to be used with the *replay protection* feature, set this to `true`. The default value is `false`.",
          "type": "boolean"
        }
      }
    },
    "GoogleFirebaseAppcheckV1BatchUpdateServicesRequest": {
      "type": "object",
      "properties": {
        "updateMask": {
          "description": "Optional. A comma-separated list of names of fields in the Services to update. Example: `display_name`. If the `update_mask` field is set in both this request and any of the UpdateServiceRequest messages, they must match or the entire batch fails and no updates will be committed.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "requests": {
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1UpdateServiceRequest"
          },
          "description": "Required. The request messages specifying the Services to update. A maximum of 100 objects can be updated in a batch.",
          "type": "array"
        }
      },
      "description": "Request message for the BatchUpdateServices method.",
      "id": "GoogleFirebaseAppcheckV1BatchUpdateServicesRequest"
    },
    "GoogleFirebaseAppcheckV1DebugToken": {
      "description": "A *debug token* is a secret used during the development or integration testing of an app. It essentially allows the development or integration testing to bypass app attestation while still allowing App Check to enforce protection on supported production Firebase services.",
      "id": "GoogleFirebaseAppcheckV1DebugToken",
      "properties": {
        "name": {
          "description": "Required. The relative resource name of the debug token, in the format: ``` projects/{project_number}/apps/{app_id}/debugTokens/{debug_token_id} ```",
          "type": "string"
        },
        "token": {
          "type": "string",
          "description": "Required. Input only. Immutable. The secret token itself. Must be provided during creation, and must be a UUID4, case insensitive. This field is immutable once set, and cannot be provided during a UpdateDebugToken request. You can, however, delete this debug token using DeleteDebugToken to revoke it. For security reasons, this field will never be populated in any response."
        },
        "displayName": {
          "type": "string",
          "description": "Required. A human readable display name used to identify this debug token."
        },
        "etag": {
          "type": "string",
          "description": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. This etag is strongly validated as defined by RFC 7232."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when this debug token was most recently updated."
        }
      },
      "type": "object"
    },
    "GoogleFirebaseAppcheckV1GenerateAppAttestChallengeRequest": {
      "type": "object",
      "description": "Request message for the GenerateAppAttestChallenge method.",
      "id": "GoogleFirebaseAppcheckV1GenerateAppAttestChallengeRequest",
      "properties": {}
    },
    "GoogleFirebaseAppcheckV1GeneratePlayIntegrityChallengeResponse": {
      "type": "object",
      "properties": {
        "challenge": {
          "description": "A one-time use [challenge](https://developer.android.com/google/play/integrity/verdict#protect-against-replay-attacks) for the client to pass to the Play Integrity API.",
          "type": "string"
        },
        "ttl": {
          "type": "string",
          "description": "The duration from the time this challenge is minted until its expiration. This field is intended to ease client-side token management, since the client may have clock skew, but is still able to accurately measure a duration.",
          "format": "google-duration"
        }
      },
      "description": "Response message for the GeneratePlayIntegrityChallenge method.",
      "id": "GoogleFirebaseAppcheckV1GeneratePlayIntegrityChallengeResponse"
    },
    "GoogleFirebaseAppcheckV1AppAttestConfig": {
      "id": "GoogleFirebaseAppcheckV1AppAttestConfig",
      "properties": {
        "tokenTtl": {
          "type": "string",
          "description": "Specifies the duration for which App Check tokens exchanged from App Attest artifacts will be valid. If unset, a default value of 1 hour is assumed. Must be between 30 minutes and 7 days, inclusive.",
          "format": "google-duration"
        },
        "name": {
          "type": "string",
          "description": "Required. The relative resource name of the App Attest configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/appAttestConfig ```"
        }
      },
      "type": "object",
      "description": "An app's App Attest configuration object. This configuration controls certain properties of the `AppCheckToken` returned by ExchangeAppAttestAttestation and ExchangeAppAttestAssertion, such as its ttl. Note that the Team ID registered with your app is used as part of the validation process. Please register it via the Firebase Console or programmatically via the [Firebase Management Service](https://firebase.google.com/docs/projects/api/reference/rest/v11/projects.iosApps/patch)."
    },
    "GoogleFirebaseAppcheckV1PlayIntegrityConfigAccountDetails": {
      "type": "object",
      "properties": {
        "requireLicensed": {
          "description": "Specifies whether the caller must have received the [`LICENSED` verdict](https://developer.android.com/google/play/integrity/verdicts#account-details-field). For additional details about scenarios where your users will receive this `LICENSED` label, see [the default responses table](https://developer.android.com/google/play/integrity/setup#default). If set to `true`, apps without the `LICENSED` app licensing verdict will be rejected. If set to `false`, any app licensing verdict is allowed. The default value is `false`.",
          "type": "boolean"
        }
      },
      "description": "A settings object specifying account requirements for Android devices running your app. These settings correspond to requirements on the [**account details** field](https://developer.android.com/google/play/integrity/verdicts#account-details-field) obtained from the Play Integrity API. See the [default responses table](https://developer.android.com/google/play/integrity/setup#default) for a quick summary. The default values for these settings work for most apps, and are recommended.",
      "id": "GoogleFirebaseAppcheckV1PlayIntegrityConfigAccountDetails"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        }
      }
    }
  },
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "parameters": {
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string",
      "default": "json"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "protocol": "rest",
  "version_module": true,
  "basePath": "",
  "title": "Firebase App Check API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "documentationLink": "https://firebase.google.com/docs/app-check",
  "kind": "discovery#restDescription",
  "canonicalName": "Firebaseappcheck",
  "baseUrl": "https://firebaseappcheck.googleapis.com/",
  "revision": "20260829",
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://firebaseappcheck.googleapis.com/",
  "resources": {
    "jwks": {
      "methods": {
        "get": {
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "pattern": "^jwks$",
              "description": "Required. The relative resource name to the public JWK set. Must always be exactly the string `jwks`.",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "httpMethod": "GET",
          "path": "v1/{+name}",
          "id": "firebaseappcheck.jwks.get",
          "description": "Returns a public JWK set as specified by [RFC 7517](https://tools.ietf.org/html/rfc7517) that can be used to verify App Check tokens. Exactly one of the public keys in the returned set will successfully validate any App Check token that is currently valid.",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/jwks",
          "response": {
            "$ref": "GoogleFirebaseAppcheckV1PublicJwkSet"
          }
        }
      }
    },
    "projects": {
      "resources": {
        "services": {
          "methods": {
            "list": {
              "id": "firebaseappcheck.projects.services.list",
              "description": "Lists all Service configurations for the specified project. Only Services which were explicitly configured using UpdateService or BatchUpdateServices will be returned.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "description": "The maximum number of Services to return in the response. Only explicitly configured services are returned. The server may return fewer than this at its own discretion. If no value is specified (or too large a value is specified), the server will impose its own limit.",
                  "type": "integer",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The relative resource name of the parent project for which to list each associated Service, in the format: ``` projects/{project_number} ```",
                  "type": "string"
                },
                "pageToken": {
                  "description": "Token returned from a previous call to ListServices indicating where in the set of Services to resume listing. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to ListServices must match the call that provided the page token; if they do not match, the result is undefined.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/services",
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1ListServicesResponse"
              },
              "flatPath": "v1/projects/{projectsId}/services",
              "httpMethod": "GET"
            },
            "patch": {
              "description": "Updates the specified Service configuration.",
              "parameters": {
                "name": {
                  "description": "Required. The relative resource name of the service configuration object, in the format: ``` projects/{project_number}/services/{service_id} ``` Note that the `service_id` element must be a supported service ID. Currently, the following service IDs are supported. Firebase and Google Cloud services: * `identitytoolkit.googleapis.com` (Firebase Authentication) * `firebasedataconnect.googleapis.com` (Firebase SQL Connect) * `firestore.googleapis.com` (Cloud Firestore) * `firebasedatabase.googleapis.com` (Firebase Realtime Database) * `firebasestorage.googleapis.com` (Cloud Storage for Firebase) * `firebaseml.googleapis.com` (Firebase AI Logic) Google Maps Platform services: * `maps-backend.googleapis.com` (Maps JavaScript API) * `places.googleapis.com` (Places API (New)) Other supported Google services: * `oauth2.googleapis.com` (Google Identity for iOS) Note: While all the supported `service_id`s may appear to be subdomains of `googleapis.com`, the `service_id` has no semantic meaning beyond identifying the service to App Check. It is not intended to represent the actual domain to which your apps send traffic, nor is it necessarily the API that should be enabled to use the service. For information on using these Google services, consult their documentation.",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/services/[^/]+$"
                },
                "updateMask": {
                  "type": "string",
                  "description": "Required. A comma-separated list of names of fields in the Service to update. Example: `enforcement_mode`.",
                  "location": "query",
                  "format": "google-fieldmask"
                }
              },
              "id": "firebaseappcheck.projects.services.patch",
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1Service"
              },
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1Service"
              },
              "httpMethod": "PATCH",
              "flatPath": "v1/projects/{projectsId}/services/{servicesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ]
            },
            "batchUpdate": {
              "parameterOrder": [
                "parent"
              ],
              "description": "Atomically updates the specified Service configurations.",
              "path": "v1/{+parent}/services:batchUpdate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "id": "firebaseappcheck.projects.services.batchUpdate",
              "flatPath": "v1/projects/{projectsId}/services:batchUpdate",
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1BatchUpdateServicesResponse"
              },
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "description": "Required. The parent project name shared by all Service configurations being updated, in the format ``` projects/{project_number} ``` The parent collection in the `name` field of any resource being updated must match this field, or the entire batch fails.",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1BatchUpdateServicesRequest"
              }
            },
            "get": {
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1Service"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "id": "firebaseappcheck.projects.services.get",
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/services/{servicesId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/services/[^/]+$",
                  "description": "Required. The relative resource name of the Service to retrieve, in the format: ``` projects/{project_number}/services/{service_id} ``` Note that the `service_id` element must be a supported service ID. Consult the Service.name field for a list of supported service IDs.",
                  "required": true,
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "description": "Gets the Service configuration for the specified service name.",
              "parameterOrder": [
                "name"
              ]
            }
          },
          "resources": {
            "resourcePolicies": {
              "methods": {
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/services/{servicesId}/resourcePolicies",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1ResourcePolicy"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1ResourcePolicy"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/services/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The relative resource name of the parent Service in which the specified ResourcePolicy will be created, in the format: ``` projects/{project_number}/services/{service_id} ``` Note that the `service_id` element must be a supported service ID. Consult the ResourcePolicy.name field for a list of supported service IDs."
                    }
                  },
                  "description": "Creates the specified ResourcePolicy configuration.",
                  "path": "v1/{+parent}/resourcePolicies",
                  "id": "firebaseappcheck.projects.services.resourcePolicies.create"
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "id": "firebaseappcheck.projects.services.resourcePolicies.delete",
                  "description": "Deletes the specified ResourcePolicy configuration.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The relative resource name of the ResourcePolicy to delete, in the format: ``` projects/{project_number}/services/{service_id}/resourcePolicies/{resource_policy_id} ```",
                      "pattern": "^projects/[^/]+/services/[^/]+/resourcePolicies/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "etag": {
                      "type": "string",
                      "description": "The checksum to be validated against the current ResourcePolicy, to ensure the client has an up-to-date value before proceeding. This checksum is computed by the server based on the values of fields in the ResourcePolicy object, and can be obtained from the ResourcePolicy object received from the last CreateResourcePolicy, GetResourcePolicy, ListResourcePolicies, UpdateResourcePolicy, or BatchUpdateResourcePolicies call. This etag is strongly validated as defined by RFC 7232.",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/services/{servicesId}/resourcePolicies/{resourcePoliciesId}"
                },
                "patch": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. Identifier. The relative name of the resource policy object, in the format: ``` projects/{project_number}/services/{service_id}/resourcePolicies/{resource_policy_id} ``` Note that the `service_id` element must be a supported service ID. Currently, the following service IDs are supported: * `oauth2.googleapis.com` (Google Identity for iOS) `resource_policy_id` is a system-generated UID.",
                      "pattern": "^projects/[^/]+/services/[^/]+/resourcePolicies/[^/]+$"
                    },
                    "updateMask": {
                      "location": "query",
                      "description": "Required. A comma-separated list of names of fields in the ResourcePolicy to update. Example: `enforcement_mode`.",
                      "format": "google-fieldmask",
                      "type": "string"
                    }
                  },
                  "id": "firebaseappcheck.projects.services.resourcePolicies.patch",
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1ResourcePolicy"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1ResourcePolicy"
                  },
                  "path": "v1/{+name}",
                  "description": "Updates the specified ResourcePolicy configuration.",
                  "flatPath": "v1/projects/{projectsId}/services/{servicesId}/resourcePolicies/{resourcePoliciesId}"
                },
                "batchUpdate": {
                  "id": "firebaseappcheck.projects.services.resourcePolicies.batchUpdate",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v1/{+parent}/resourcePolicies:batchUpdate",
                  "flatPath": "v1/projects/{projectsId}/services/{servicesId}/resourcePolicies:batchUpdate",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1BatchUpdateResourcePoliciesResponse"
                  },
                  "description": "Atomically updates the specified ResourcePolicy configurations.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1BatchUpdateResourcePoliciesRequest"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent service name, in the format ``` projects/{project_number}/services/{service_id} ``` The parent collection in the `name` field of any resource being updated must match this field, or the entire batch fails.",
                      "pattern": "^projects/[^/]+/services/[^/]+$"
                    }
                  },
                  "httpMethod": "POST"
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageToken": {
                      "description": "Token returned from a previous call to ListResourcePolicies indicating where in the set of ResourcePolicy objects to resume listing. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to ListResourcePolicies must match the call that provided the page token; if they do not match, the result is undefined.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/services/[^/]+$",
                      "description": "Required. The relative resource name of the parent Service for which to list each associated ResourcePolicy, in the format: ``` projects/{project_number}/services/{service_id} ``` Note that the `service_id` element must be a supported service ID. Consult the ResourcePolicy.name field for a list of supported service IDs.",
                      "location": "path",
                      "required": true
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Filters the results by the specified rule. For the exact syntax of this field, please consult the [AIP-160](https://google.aip.dev/160) standard. Currently, since the only fields in the ResourcePolicy resource are the scalar fields `enforcement_mode` and `target_resource`, this method does not support the traversal operator (`.`) or the has operator (`:`). Here are some examples of valid filters: * `enforcement_mode = ENFORCED` * `target_resource = \"//oauth2.googleapis.com/projects/12345/oauthClients/\"` * `enforcement_mode = ENFORCED AND target_resource = \"//oauth2.googleapis.com/projects/12345/oauthClients/\"`"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "The maximum number of ResourcePolicy objects to return in the response. The server may return fewer than this at its own discretion. If no value is specified (or too large a value is specified), the server will impose its own limit."
                    }
                  },
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1ListResourcePoliciesResponse"
                  },
                  "path": "v1/{+parent}/resourcePolicies",
                  "flatPath": "v1/projects/{projectsId}/services/{servicesId}/resourcePolicies",
                  "httpMethod": "GET",
                  "id": "firebaseappcheck.projects.services.resourcePolicies.list",
                  "description": "Lists all ResourcePolicy configurations for the specified project and service.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                },
                "get": {
                  "description": "Gets the requested ResourcePolicy configuration.",
                  "id": "firebaseappcheck.projects.services.resourcePolicies.get",
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1/projects/{projectsId}/services/{servicesId}/resourcePolicies/{resourcePoliciesId}",
                  "parameters": {
                    "name": {
                      "description": "Required. The relative resource name of the ResourcePolicy to retrieve, in the format: ``` projects/{project_number}/services/{service_id}/resourcePolicies/{resource_policy_id} ``` Note that the `service_id` element must be a supported service ID. Consult the ResourcePolicy.name field for a list of supported service IDs.",
                      "pattern": "^projects/[^/]+/services/[^/]+/resourcePolicies/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1ResourcePolicy"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            }
          }
        },
        "apps": {
          "methods": {
            "exchangeCustomToken": {
              "id": "firebaseappcheck.projects.apps.exchangeCustomToken",
              "parameterOrder": [
                "app"
              ],
              "path": "v1/{+app}:exchangeCustomToken",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1ExchangeCustomTokenRequest"
              },
              "parameters": {
                "app": {
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/apps/[^/]+$",
                  "location": "path",
                  "description": "Required. The relative resource name of the app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1AppCheckToken"
              },
              "description": "Validates a custom token signed using your project's Admin SDK service account credentials. If valid, returns an AppCheckToken.",
              "flatPath": "v1/projects/{projectsId}/apps/{appsId}:exchangeCustomToken"
            },
            "exchangeDeviceCheckToken": {
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1ExchangeDeviceCheckTokenRequest"
              },
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1AppCheckToken"
              },
              "httpMethod": "POST",
              "flatPath": "v1/projects/{projectsId}/apps/{appsId}:exchangeDeviceCheckToken",
              "id": "firebaseappcheck.projects.apps.exchangeDeviceCheckToken",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameters": {
                "app": {
                  "pattern": "^projects/[^/]+/apps/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The relative resource name of the iOS app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
                  "location": "path"
                }
              },
              "description": "Accepts a [`device_token`](https://developer.apple.com/documentation/devicecheck/dcdevice) issued by DeviceCheck, and attempts to validate it with Apple. If valid, returns an AppCheckToken.",
              "path": "v1/{+app}:exchangeDeviceCheckToken",
              "parameterOrder": [
                "app"
              ]
            },
            "generateAppAttestChallenge": {
              "description": "Generates a challenge that protects the integrity of an immediately following call to ExchangeAppAttestAttestation or ExchangeAppAttestAssertion. A challenge should not be reused for multiple calls.",
              "id": "firebaseappcheck.projects.apps.generateAppAttestChallenge",
              "path": "v1/{+app}:generateAppAttestChallenge",
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1GenerateAppAttestChallengeRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "flatPath": "v1/projects/{projectsId}/apps/{appsId}:generateAppAttestChallenge",
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1GenerateAppAttestChallengeResponse"
              },
              "parameters": {
                "app": {
                  "description": "Required. The relative resource name of the iOS app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/apps/[^/]+$",
                  "required": true
                }
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "app"
              ]
            },
            "exchangeRecaptchaEnterpriseToken": {
              "path": "v1/{+app}:exchangeRecaptchaEnterpriseToken",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1ExchangeRecaptchaEnterpriseTokenRequest"
              },
              "parameterOrder": [
                "app"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1AppCheckToken"
              },
              "parameters": {
                "app": {
                  "pattern": "^projects/[^/]+/apps/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. The relative resource name of the web app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
                  "location": "path"
                }
              },
              "id": "firebaseappcheck.projects.apps.exchangeRecaptchaEnterpriseToken",
              "description": "Validates a [reCAPTCHA Enterprise response token](https://cloud.google.com/recaptcha-enterprise/docs/create-assessment#retrieve_token). If valid, returns an AppCheckToken.",
              "flatPath": "v1/projects/{projectsId}/apps/{appsId}:exchangeRecaptchaEnterpriseToken"
            },
            "generatePlayIntegrityChallenge": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "httpMethod": "POST",
              "id": "firebaseappcheck.projects.apps.generatePlayIntegrityChallenge",
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1GeneratePlayIntegrityChallengeRequest"
              },
              "description": "Generates a challenge that protects the integrity of an immediately following integrity verdict request to the Play Integrity API. The next call to ExchangePlayIntegrityToken using the resulting integrity token will verify the presence and validity of the challenge. A challenge should not be reused for multiple calls.",
              "parameterOrder": [
                "app"
              ],
              "parameters": {
                "app": {
                  "required": true,
                  "description": "Required. The relative resource name of the app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/apps/[^/]+$"
                }
              },
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1GeneratePlayIntegrityChallengeResponse"
              },
              "flatPath": "v1/projects/{projectsId}/apps/{appsId}:generatePlayIntegrityChallenge",
              "path": "v1/{+app}:generatePlayIntegrityChallenge"
            },
            "mintAppCheckToken": {
              "description": "Mints a new App Check token for the specified Firebase App. This method is intended to be called from a privileged environment where the caller can be authorized via Cloud IAM; for example, using a service account. To call this method, the caller must have the [`firebaseappcheck.googleapis.com/tokens.mint`](https://firebase.google.com/docs/projects/iam/permissions#app-check) permission. Returns a MintAppCheckTokenResponse.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "id": "firebaseappcheck.projects.apps.mintAppCheckToken",
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1MintAppCheckTokenResponse"
              },
              "flatPath": "v1/projects/{projectsId}/apps/{appsId}:mintAppCheckToken",
              "parameters": {
                "app": {
                  "description": "Required. The relative resource name of the app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/apps/[^/]+$",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1MintAppCheckTokenRequest"
              },
              "httpMethod": "POST",
              "path": "v1/{+app}:mintAppCheckToken",
              "parameterOrder": [
                "app"
              ]
            },
            "exchangeRecaptchaV3Token": {
              "description": "Validates a [reCAPTCHA v3 response token](https://developers.google.com/recaptcha/docs/v3). If valid, returns an AppCheckToken.",
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1ExchangeRecaptchaV3TokenRequest"
              },
              "parameterOrder": [
                "app"
              ],
              "path": "v1/{+app}:exchangeRecaptchaV3Token",
              "httpMethod": "POST",
              "parameters": {
                "app": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The relative resource name of the web app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
                  "required": true,
                  "pattern": "^projects/[^/]+/apps/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "response": {
[...]
