{
  "name": "firebasecrashlytics",
  "parameters": {
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    }
  },
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "rootUrl": "https://firebasecrashlytics.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "description": "This service provides an API for mobile app developers to request deletion of user's crash reports.",
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "id": "firebasecrashlytics:v1alpha",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "baseUrl": "https://firebasecrashlytics.googleapis.com/",
  "revision": "20260916",
  "title": "Firebase Crashlytics API",
  "ownerDomain": "google.com",
  "basePath": "",
  "canonicalName": "Firebase Crashlytics",
  "mtlsRootUrl": "https://firebasecrashlytics.mtls.googleapis.com/",
  "protocol": "rest",
  "documentationLink": "https://firebase.google.com/docs/crashlytics",
  "version": "v1alpha",
  "servicePath": "",
  "resources": {
    "projects": {
      "resources": {
        "apps": {
          "resources": {
            "events": {
              "methods": {
                "list": {
                  "path": "v1alpha/{+parent}/events",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/events",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "description": "List the events for an issue matching filter criteria, sorted in descending order by timestamp.",
                  "response": {
                    "$ref": "ListEventsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameters": {
                    "filter.issue.variantId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Only counts events for the given issue variant ID. This field matches [IssueVariant.id]."
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of events per page. If omitted, defaults to 10.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "filter.version.displayNames": {
                      "location": "query",
                      "repeated": true,
                      "description": "Only counts events in the given app version. This string matches Version.display_name. Format: \"display_version (build_version)\" e.g. \"1.2.3 (456)\".",
                      "type": "string"
                    },
                    "filter.issue.state": {
                      "enum": [
                        "STATE_UNSPECIFIED",
                        "OPEN",
                        "CLOSED",
                        "MUTED"
                      ],
                      "enumDescriptions": [
                        "Unknown.",
                        "Ongoing issue.",
                        "Issue resolved.",
                        "Issue muted. No alerts will be fired for this issue."
                      ],
                      "type": "string",
                      "location": "query",
                      "deprecated": true,
                      "description": "Optional. Deprecated: Prefer `states` field. Only includes events for issues with the given issue state. Only available for `topIssues` reports."
                    },
                    "filter.issue.content": {
                      "location": "query",
                      "description": "Optional. A space separated list of filter terms matched against the contents of the issue. Contents include the title and the stack trace. Matches must begin at alphanumeric tokens, i.e., 'util.Sorted' matches 'java.util.SortedSet' but not 'myutil.SortedArray'. The filter matches if all filter terms match. All non-alphanumeric characters are ignored for matching. Filtering is assumed to be prefix-search and order-independent unless phrases are surrounded by \"\". Any terms contained in quotes are searched using exact-match (given filter term \"foo\", we will not return \"foobar\"), and must appear in the order given exactly. To get order-dependence but prefix-search, use a * within the quotes (\"abc foo*\" will match \"abc foobar\", but not \"foo abc\" \"abcd foobar\", or \"abc xyz foobar\").",
                      "type": "string"
                    },
                    "readMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "Optional. The list of Event fields to include in the response. If omitted, the full event is returned."
                    },
                    "filter.browser.displayNames": {
                      "description": "Optional. Only count events from the given browser. This string matches Browser.display_name. Format: \"name (display_version)\" e.g. \"Chrome (123)\", or just \"name\" for all possible versions, e.g. simply \"Chrome\".",
                      "type": "string",
                      "location": "query",
                      "repeated": true
                    },
                    "filter.interval.startTime": {
                      "type": "string",
                      "format": "google-datetime",
                      "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
                      "location": "query"
                    },
                    "filter.issue.states": {
                      "repeated": true,
                      "type": "string",
                      "description": "Optional. Only includes events for issues with the given issue states. Only available for `topIssues` reports.",
                      "enumDescriptions": [
                        "Unknown.",
                        "Ongoing issue.",
                        "Issue resolved.",
                        "Issue muted. No alerts will be fired for this issue."
                      ],
                      "enum": [
                        "STATE_UNSPECIFIED",
                        "OPEN",
                        "CLOSED",
                        "MUTED"
                      ],
                      "location": "query"
                    },
                    "filter.interval.endTime": {
                      "type": "string",
                      "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
                      "format": "google-datetime",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The Firebase application. Format: \"projects/{project}/apps/{app_id}\".",
                      "type": "string"
                    },
                    "filter.issue.errorTypes": {
                      "enum": [
                        "ERROR_TYPE_UNSPECIFIED",
                        "FATAL",
                        "NON_FATAL",
                        "ANR"
                      ],
                      "location": "query",
                      "type": "string",
                      "repeated": true,
                      "description": "Optional. Only counts events of the given error types. This field matches [Issue.error_type].",
                      "enumDescriptions": [
                        "Unknown.",
                        "Fatal crash event.",
                        "Non-fatal event, such as a caught Java exception or NSError on iOS.",
                        "Application not responding error, Android only."
                      ]
                    },
                    "filter.issue.id": {
                      "location": "query",
                      "description": "Optional. Only counts events in the given issue ID. This field matches [Issue.id].",
                      "type": "string"
                    },
                    "filter.operatingSystem.displayNames": {
                      "location": "query",
                      "repeated": true,
                      "description": "Only counts events in the given operating system and version. This string matches OperatingSystem.display_name. Format: \"osName (osVersion)\" e.g. \"Android (11)\". or just \"osName\" for all versions, e.g. simply \"iPadOS\".",
                      "type": "string"
                    },
                    "filter.device.formFactors": {
                      "location": "query",
                      "description": "Only counts events from devices with the given form factor (e.g. phone or tablet).",
                      "enum": [
                        "FORM_FACTOR_UNSPECIFIED",
                        "PHONE",
                        "TABLET",
                        "DESKTOP",
                        "TV",
                        "WATCH"
                      ],
                      "enumDescriptions": [
                        "Unknown.",
                        "Includes mobile phones, small foldables and other form factors not fitting the other categories.",
                        "Includes tablets and larger foldables.",
                        "Includes desktops, laptops, Chromebooks, etc.",
                        "Includes televisions and set-tops.",
                        "Includes both watches and other wearables."
                      ],
                      "repeated": true,
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A page token, received from a previous calls."
                    },
                    "filter.issue.signals": {
                      "location": "query",
                      "enum": [
                        "SIGNAL_UNSPECIFIED",
                        "SIGNAL_EARLY",
                        "SIGNAL_FRESH",
                        "SIGNAL_REGRESSED",
                        "SIGNAL_REPETITIVE"
                      ],
                      "type": "string",
                      "enumDescriptions": [
                        "Default.",
                        "Indicates an issue that is impacting end users early in the app session.",
                        "Indicates newly detected issues.",
                        "Indicates previously closed issues which have been detected again.",
                        "Indicates issues impacting some end users multiple times."
                      ],
                      "repeated": true,
                      "description": "Optional. Only returns issues currently marked with the given signals. This field matches [Issue.signals.signal]."
                    },
                    "filter.device.displayNames": {
                      "type": "string",
                      "location": "query",
                      "repeated": true,
                      "description": "Only counts events from the given Device model. This string matches Device.display_name. Format: \"manufacturer (model)\" e.g. \"Google (Pixel 6)\", or just \"manufacturer\" for all possible models, e.g. simply \"Google\". Note that a device's marketing_name field can not be used for filtering."
                    }
                  },
                  "id": "firebasecrashlytics.projects.apps.events.list"
                },
                "batchGet": {
                  "response": {
                    "$ref": "BatchGetEventsResponse"
                  },
                  "httpMethod": "GET",
                  "id": "firebasecrashlytics.projects.apps.events.batchGet",
                  "path": "v1alpha/{+parent}/events:batchGet",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The firebase application. Format: \"projects/{project}/apps/{app_id}\"."
                    },
                    "readMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "description": "Optional. The list of Event fields to include in the response. If omitted, the full event is returned.",
                      "location": "query"
                    },
                    "names": {
                      "location": "query",
                      "repeated": true,
                      "type": "string",
                      "description": "Required. The resource names of the desired events. A maximum of 100 events can be retrieved in a batch. Format: \"projects/{project}/apps/{app_id}/events/{event_id}\". The app_id and event_id are required, but project may be \"-\" to conserve space in long URIs."
                    }
                  },
                  "description": "Fetch a batch of up to 100 events by name.",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/events:batchGet"
                }
              }
            },
            "reports": {
              "methods": {
                "list": {
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/reports",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "description": "List all of the available reports.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "description": "Required. The firebase application. Format: \"projects/{project}/apps/{app_id}\"."
                    }
                  },
                  "id": "firebasecrashlytics.projects.apps.reports.list",
                  "response": {
                    "$ref": "ListReportsResponse"
                  },
                  "path": "v1alpha/{+parent}/reports",
                  "httpMethod": "GET"
                },
                "get": {
                  "description": "Get a report with its computed results.",
                  "parameters": {
                    "filter.issue.variantId": {
                      "location": "query",
                      "description": "Optional. Only counts events for the given issue variant ID. This field matches [IssueVariant.id].",
                      "type": "string"
                    },
                    "filter.issue.errorTypes": {
                      "enum": [
                        "ERROR_TYPE_UNSPECIFIED",
                        "FATAL",
                        "NON_FATAL",
                        "ANR"
                      ],
                      "location": "query",
                      "enumDescriptions": [
                        "Unknown.",
                        "Fatal crash event.",
                        "Non-fatal event, such as a caught Java exception or NSError on iOS.",
                        "Application not responding error, Android only."
                      ],
                      "description": "Optional. Only counts events of the given error types. This field matches [Issue.error_type].",
                      "type": "string",
                      "repeated": true
                    },
                    "filter.interval.startTime": {
                      "format": "google-datetime",
                      "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. The maximum number of result groups to return. If omitted, defaults to 25."
                    },
                    "filter.issue.states": {
                      "type": "string",
                      "description": "Optional. Only includes events for issues with the given issue states. Only available for `topIssues` reports.",
                      "location": "query",
                      "enum": [
                        "STATE_UNSPECIFIED",
                        "OPEN",
                        "CLOSED",
                        "MUTED"
                      ],
                      "enumDescriptions": [
                        "Unknown.",
                        "Ongoing issue.",
                        "Issue resolved.",
                        "Issue muted. No alerts will be fired for this issue."
                      ],
                      "repeated": true
                    },
                    "filter.issue.id": {
                      "location": "query",
                      "description": "Optional. Only counts events in the given issue ID. This field matches [Issue.id].",
                      "type": "string"
                    },
                    "filter.version.displayNames": {
                      "location": "query",
                      "repeated": true,
                      "description": "Only counts events in the given app version. This string matches Version.display_name. Format: \"display_version (build_version)\" e.g. \"1.2.3 (456)\".",
                      "type": "string"
                    },
                    "filter.issue.state": {
                      "type": "string",
                      "enum": [
                        "STATE_UNSPECIFIED",
                        "OPEN",
                        "CLOSED",
                        "MUTED"
                      ],
                      "deprecated": true,
                      "enumDescriptions": [
                        "Unknown.",
                        "Ongoing issue.",
                        "Issue resolved.",
                        "Issue muted. No alerts will be fired for this issue."
                      ],
                      "location": "query",
                      "description": "Optional. Deprecated: Prefer `states` field. Only includes events for issues with the given issue state. Only available for `topIssues` reports."
                    },
                    "filter.issue.signals": {
                      "description": "Optional. Only returns issues currently marked with the given signals. This field matches [Issue.signals.signal].",
                      "repeated": true,
                      "enumDescriptions": [
                        "Default.",
                        "Indicates an issue that is impacting end users early in the app session.",
                        "Indicates newly detected issues.",
                        "Indicates previously closed issues which have been detected again.",
                        "Indicates issues impacting some end users multiple times."
                      ],
                      "enum": [
                        "SIGNAL_UNSPECIFIED",
                        "SIGNAL_EARLY",
                        "SIGNAL_FRESH",
                        "SIGNAL_REGRESSED",
                        "SIGNAL_REPETITIVE"
                      ],
                      "type": "string",
                      "location": "query"
                    },
                    "filter.browser.displayNames": {
                      "location": "query",
                      "repeated": true,
                      "description": "Optional. Only count events from the given browser. This string matches Browser.display_name. Format: \"name (display_version)\" e.g. \"Chrome (123)\", or just \"name\" for all possible versions, e.g. simply \"Chrome\".",
                      "type": "string"
                    },
                    "filter.device.displayNames": {
                      "description": "Only counts events from the given Device model. This string matches Device.display_name. Format: \"manufacturer (model)\" e.g. \"Google (Pixel 6)\", or just \"manufacturer\" for all possible models, e.g. simply \"Google\". Note that a device's marketing_name field can not be used for filtering.",
                      "location": "query",
                      "repeated": true,
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The report name. Format: \"projects/{project}/apps/{app_id}/reports/{report}\".",
                      "pattern": "^projects/[^/]+/apps/[^/]+/reports/[^/]+$"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous call. The page token is only valid for the exact same set of filters, which must also be sent in subsequent requests. This token is valid for 10 minutes after the first request.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter.issue.content": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A space separated list of filter terms matched against the contents of the issue. Contents include the title and the stack trace. Matches must begin at alphanumeric tokens, i.e., 'util.Sorted' matches 'java.util.SortedSet' but not 'myutil.SortedArray'. The filter matches if all filter terms match. All non-alphanumeric characters are ignored for matching. Filtering is assumed to be prefix-search and order-independent unless phrases are surrounded by \"\". Any terms contained in quotes are searched using exact-match (given filter term \"foo\", we will not return \"foobar\"), and must appear in the order given exactly. To get order-dependence but prefix-search, use a * within the quotes (\"abc foo*\" will match \"abc foobar\", but not \"foo abc\" \"abcd foobar\", or \"abc xyz foobar\")."
                    },
                    "filter.device.formFactors": {
                      "type": "string",
                      "repeated": true,
                      "enum": [
                        "FORM_FACTOR_UNSPECIFIED",
                        "PHONE",
                        "TABLET",
                        "DESKTOP",
                        "TV",
                        "WATCH"
                      ],
                      "description": "Only counts events from devices with the given form factor (e.g. phone or tablet).",
                      "location": "query",
                      "enumDescriptions": [
                        "Unknown.",
                        "Includes mobile phones, small foldables and other form factors not fitting the other categories.",
                        "Includes tablets and larger foldables.",
                        "Includes desktops, laptops, Chromebooks, etc.",
                        "Includes televisions and set-tops.",
                        "Includes both watches and other wearables."
                      ]
                    },
                    "granularity": {
                      "enum": [
                        "TIME_GRANULARITY_UNSPECIFIED",
                        "TIME_GRANULARITY_NONE",
                        "TIME_GRANULARITY_HOUR",
                        "TIME_GRANULARITY_DAY"
                      ],
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The report response will contain one data point per time grain. If omitted, the report will contain a single data point for the complete interval.",
                      "enumDescriptions": [
                        "Unknown.",
                        "Returns a single interval for the requested time range.",
                        "Hour.",
                        "Day."
                      ]
                    },
                    "filter.operatingSystem.displayNames": {
                      "location": "query",
                      "repeated": true,
                      "type": "string",
                      "description": "Only counts events in the given operating system and version. This string matches OperatingSystem.display_name. Format: \"osName (osVersion)\" e.g. \"Android (11)\". or just \"osName\" for all versions, e.g. simply \"iPadOS\"."
                    },
                    "filter.interval.endTime": {
                      "type": "string",
                      "format": "google-datetime",
                      "location": "query",
                      "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end."
                    }
                  },
                  "id": "firebasecrashlytics.projects.apps.reports.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "response": {
                    "$ref": "Report"
                  },
                  "httpMethod": "GET",
                  "path": "v1alpha/{+name}",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/reports/{reportsId}",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "users": {
              "methods": {
                "deleteCrashReports": {
                  "id": "firebasecrashlytics.projects.apps.users.deleteCrashReports",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/apps/[^/]+/users/[^/]+/crashReports$",
                      "type": "string",
                      "description": "Required. Resource name for user reports, in the format: projects/ PROJECT_IDENTIFIER/apps/APP_ID/users/USER_ID/crashReports - PROJECT_IDENTIFIER: The Firebase project's project number (recommended) or its project ID. Learn more about using project identifiers in Google's [AIP 2510 standard](https://google.aip.dev/cloud/2510). - APP_ID: The globally unique, Firebase-assigned identifier for the Firebase App. This is not your package name or bundle ID. Learn how to [find your app ID](https://firebase.google.com/support/faq/#find-app-id). - USER_ID: The user ID set using the Crashlytics SDK. Learn how to [set user identifiers](https://firebase.google.com/docs/crashlytics/customize-crash-reports#set-user-ids)."
                    }
                  },
                  "response": {
                    "$ref": "DeleteUserCrashReportsResponse"
                  },
                  "path": "v1alpha/{+name}",
                  "httpMethod": "DELETE",
                  "description": "Enqueues a request to permanently remove crash reports associated with the specified user. All reports belonging to the specified user will be deleted typically within 24 hours of receiving the crash report.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/users/{usersId}/crashReports"
                }
              }
            },
            "issues": {
              "methods": {
                "batchUpdate": {
                  "path": "v1alpha/{+parent}/issues:batchUpdate",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues:batchUpdate",
                  "description": "Change the state of a group of issues. This method is not atomic, so partial failures can occur. In the event of a partial failure, the request will fail and you will need to call `GetIssue` to see which issues were not updated.",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "firebasecrashlytics.projects.apps.issues.batchUpdate",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "description": "Required. The parent resource shared by all issues being updated. Format: projects/{project}/apps/{app}. If this is set, the parent field in the UpdateIssueRequest messages must either be empty or match this field."
                    }
                  },
                  "request": {
                    "$ref": "BatchUpdateIssuesRequest"
                  },
                  "response": {
                    "$ref": "BatchUpdateIssuesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "path": "v1alpha/{+name}",
                  "id": "firebasecrashlytics.projects.apps.issues.patch",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues/{issuesId}",
                  "request": {
                    "$ref": "Issue"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/apps/[^/]+/issues/[^/]+$",
                      "description": "Required. Output only. Immutable. Identifier. The name of the issue resource. Format: \"projects/{project}/apps/{app}/issues/{issue}\"."
                    },
                    "updateMask": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. The list of Issue fields to update. Currently only \"state\" is mutable.",
                      "format": "google-fieldmask"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "description": "Change the state of an issue.",
                  "response": {
                    "$ref": "Issue"
                  }
                },
                "get": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Issue"
                  },
                  "id": "firebasecrashlytics.projects.apps.issues.get",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the issue to retrieve. Format: \"projects/{project}/apps/{app}/issues/{issue}\".",
                      "pattern": "^projects/[^/]+/apps/[^/]+/issues/[^/]+$"
                    }
                  },
                  "description": "Retrieve an issue.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v1alpha/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues/{issuesId}"
                }
              },
              "resources": {
                "notes": {
                  "methods": {
                    "create": {
                      "response": {
                        "$ref": "Note"
                      },
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent resource where this note will be created. Format: \"projects/{project}/apps/{app}/issues/{issue}\".",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/apps/[^/]+/issues/[^/]+$",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/firebase"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues/{issuesId}/notes",
                      "path": "v1alpha/{+parent}/notes",
                      "request": {
                        "$ref": "Note"
                      },
                      "id": "firebasecrashlytics.projects.apps.issues.notes.create",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Create a new note for an issue.",
                      "httpMethod": "POST"
                    },
                    "delete": {
                      "id": "firebasecrashlytics.projects.apps.issues.notes.delete",
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/firebase"
                      ],
                      "response": {
                        "$ref": "Empty"
                      },
                      "description": "Delete a note by its name.",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1alpha/{+name}",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/apps/[^/]+/issues/[^/]+/notes/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. The name of the note to delete. Format: projects/{project}/apps/{app}/issues/{issue}/notes/{note}.",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues/{issuesId}/notes/{notesId}"
                    },
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/firebase"
                      ],
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A page token, received from a previous calls."
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Optional. The maximum number of notes per page. If omitted, defaults to 10.",
                          "location": "query",
                          "format": "int32"
                        },
                        "parent": {
                          "location": "path",
                          "required": true,
                          "description": "Required. The issue the notes belongs to. Format: \"projects/{project}/apps/{app}/issues/{issue}\".",
                          "type": "string",
                          "pattern": "^projects/[^/]+/apps/[^/]+/issues/[^/]+$"
                        }
                      },
                      "description": "List all notes for a certain issue, sorted in descending order by timestamp.",
                      "id": "firebasecrashlytics.projects.apps.issues.notes.list",
                      "path": "v1alpha/{+parent}/notes",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues/{issuesId}/notes",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListNotesResponse"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "schemas": {
    "IntervalMetrics": {
      "type": "object",
      "properties": {
        "endTime": {
          "type": "string",
          "description": "The end of the interval covered by the computation.",
          "format": "google-datetime"
        },
        "impactedUsersCount": {
          "description": "The number of distinct users in the set of events.",
          "format": "int64",
          "type": "string"
        },
        "eventsCount": {
          "type": "string",
          "format": "int64",
          "description": "The total count of events in the interval."
        },
        "sessionsCount": {
          "type": "string",
          "description": "The number of distinct sessions in the set of events.",
          "format": "int64"
        },
        "startTime": {
          "description": "The start of the interval covered by the computation.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "IntervalMetrics",
      "description": "A set of computed metric values for a time interval"
    },
    "DeleteUserCrashReportsResponse": {
      "description": "Response message for the DeleteUserCrashReports method. All crash reports associated with the specified user will be deleted typically within 24 hours of receiving the crash report.",
      "type": "object",
      "properties": {
        "targetCompleteTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Target time to complete the delete crash reports operation."
        }
      },
      "id": "DeleteUserCrashReportsResponse"
    },
    "IssueSignals": {
      "id": "IssueSignals",
      "description": "Distinctive characteristics assigned by the Crashlytics analyzer.",
      "properties": {
        "description": {
          "description": "Output only. Supporting detail information.",
          "type": "string",
          "readOnly": true
        },
        "signal": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default.",
            "Indicates an issue that is impacting end users early in the app session.",
            "Indicates newly detected issues.",
            "Indicates previously closed issues which have been detected again.",
            "Indicates issues impacting some end users multiple times."
          ],
          "description": "Output only. The signal name.",
          "enum": [
            "SIGNAL_UNSPECIFIED",
            "SIGNAL_EARLY",
            "SIGNAL_FRESH",
            "SIGNAL_REGRESSED",
            "SIGNAL_REPETITIVE"
          ]
        }
      },
      "type": "object"
    },
    "BatchGetEventsResponse": {
      "description": "Response message for the BatchGetEvents method.",
      "properties": {
        "events": {
          "type": "array",
          "description": "The list of retrieved events.",
          "items": {
            "$ref": "Event"
          }
        }
      },
      "id": "BatchGetEventsResponse",
      "type": "object"
    },
    "WebMetricsGroup": {
      "type": "object",
      "id": "WebMetricsGroup",
      "description": "Represents a grouping for metrics specific to web applications.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The id of the web metrics group"
        }
      }
    },
    "IssueVariant": {
      "properties": {
        "id": {
          "readOnly": true,
          "description": "Output only. Immutable. Distinct identifier for the variant.",
          "type": "string"
        },
        "uri": {
          "description": "Output only. Provides a link to the variant on the Firebase console. When this variant is obtained as part of a Report, then the link will be configured with the same time interval and filters as the request.",
          "readOnly": true,
          "type": "string"
        },
        "sampleEvent": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name for a sample event in this variant."
        }
      },
      "type": "object",
      "description": "A variant is a subgroup of an issue where all events have very similar stack traces. Issues may contain one or more variants.",
      "id": "IssueVariant"
    },
    "Error": {
      "description": "A non-fatal error and its stacktrace, only from Apple apps.",
      "id": "Error",
      "type": "object",
      "properties": {
        "title": {
          "description": "The title of the error.",
          "type": "string"
        },
        "subtitle": {
          "description": "The subtitle of the error.",
          "type": "string"
        },
        "code": {
          "format": "int64",
          "description": "Error code associated with the app's custom logged NSError.",
          "type": "string"
        },
        "blamed": {
          "type": "boolean",
          "description": "True when the Crashlytics analysis has determined that the stacktrace in this error is where the fault occurred."
        },
        "queue": {
          "description": "The queue on which the thread was running.",
          "type": "string"
        },
        "frames": {
          "description": "The frames in the error's stacktrace.",
          "items": {
            "$ref": "Frame"
          },
          "type": "array"
        }
      }
    },
    "Log": {
      "properties": {
        "message": {
          "description": "Log message.",
          "type": "string"
        },
        "logTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Device timestamp when the line was logged."
        }
      },
      "description": "Developer-provided log lines recorded during the session.",
      "id": "Log",
      "type": "object"
    },
    "UpdateIssueRequest": {
      "description": "Request message for the UpdateIssue method.",
      "id": "UpdateIssueRequest",
      "type": "object",
      "properties": {
        "issue": {
          "description": "Required. The issue to update. The issue's `name` field is used to identify the issue to update. Format: \"projects/{project}/apps/{app}/issues/{issue}\".",
          "$ref": "Issue"
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Optional. The list of Issue fields to update. Currently only \"state\" is mutable."
        }
      }
    },
    "Note": {
      "id": "Note",
      "description": "Developer notes for an issue.",
      "type": "object",
      "properties": {
        "body": {
          "type": "string",
          "description": "Immutable. The body of the note."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Time when the note was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "author": {
          "readOnly": true,
          "description": "Output only. The email of the author of the note.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Identifier. Format: \"projects/{project}/apps/app/issues/{issue}/notes/{note}\"."
        }
      }
    },
    "Issue": {
      "properties": {
        "lastSeenTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The most recent time this issue was seen."
        },
        "uri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Provides a link to the Issue on the Firebase console. When this Issue is obtained as part of a Report, then the link will be configured with the same time interval and filters as the request."
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Immutable. Unique identifier for the issue."
        },
        "state": {
          "description": "Output only. Indicates whether this issue is open, closed or muted. For details on how issue states change without user actions, see [Regressed Issues](https://firebase.google.com/docs/crashlytics/troubleshooting?platform=ios#regressed-issues).",
          "enumDescriptions": [
            "Unknown.",
            "Ongoing issue.",
            "Issue resolved.",
            "Issue muted. No alerts will be fired for this issue."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "OPEN",
            "CLOSED",
            "MUTED"
          ],
          "readOnly": true
        },
        "variants": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Immutable. The top 12 variants (subgroups) within the issue. Variants group events within an issue that are very similar. A single result implies that the variant is the same as the parent issue. This field will be empty when multiple issues are requested. Request a single issue to list variants.",
          "items": {
            "$ref": "IssueVariant"
          }
        },
        "subtitle": {
          "readOnly": true,
          "description": "Output only. Immutable. Caption subtitle. This is usually a symbol or an exception message.",
          "type": "string"
        },
        "firstSeenVersion": {
          "description": "Output only. Immutable. The first app display_version in which this issue was seen, populated for mobile issues only.",
          "type": "string",
          "readOnly": true
        },
        "errorType": {
          "enumDescriptions": [
            "Unknown.",
            "Fatal crash event.",
            "Non-fatal event, such as a caught Java exception or NSError on iOS.",
            "Application not responding error, Android only."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "ERROR_TYPE_UNSPECIFIED",
            "FATAL",
            "NON_FATAL",
            "ANR"
          ],
          "description": "Output only. Immutable. Indicates whether this issue is a crash, non-fatal exception, or ANR."
        },
        "title": {
          "type": "string",
          "description": "Output only. Immutable. Caption title. This is usually a source file or method name.",
          "readOnly": true
        },
        "firstSeenTime": {
          "format": "google-datetime",
          "description": "Output only. Immutable. The first time this issue was seen.",
          "type": "string",
          "readOnly": true
        },
        "notesCount": {
          "description": "Output only. The number of notes attached to an issue.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "lastSeenVersion": {
          "readOnly": true,
          "description": "Output only. The most recent app display_version in which this issue was seen, populated for mobile issues only.",
          "type": "string"
        },
        "signals": {
          "description": "Output only. Immutable. Distinctive characteristics assigned by the Crashlytics analyzer.",
          "items": {
            "$ref": "IssueSignals"
          },
          "type": "array",
          "readOnly": true
        },
        "sampleEvent": {
          "description": "Output only. The resource name for a sample event in this issue.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Required. Output only. Immutable. Identifier. The name of the issue resource. Format: \"projects/{project}/apps/{app}/issues/{issue}\"."
        },
        "stateUpdateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the issue state was last changed.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "An issue describes a set of similar events that have been analyzed by Crashlytics and grouped together. All events within an issue will be of the same error_type: crash, non-fatal exception or ANR. All events within an issue will contain similar stack traces in their blamed thread.",
      "id": "Issue"
    },
    "Thread": {
      "id": "Thread",
      "type": "object",
      "description": "An application thread.",
      "properties": {
        "signal": {
          "description": "The name of the signal that caused the app to crash. Only present on crashed native threads.",
          "type": "string"
        },
        "signalCode": {
          "description": "The code of the signal that caused the app to crash. Only present on crashed native threads.",
          "type": "string"
        },
        "title": {
          "description": "The title of the thread.",
          "type": "string"
        },
        "crashed": {
          "type": "boolean",
          "description": "True when the thread has crashed."
        },
        "sysThreadId": {
          "type": "string",
          "format": "int64",
          "description": "The system id of the thread, only available for ANR threads."
        },
        "queue": {
          "type": "string",
          "description": "The queue on which the thread was running."
        },
        "threadId": {
          "description": "The id of the thread, only available for ANR threads.",
          "format": "int64",
          "type": "string"
        },
        "subtitle": {
          "type": "string",
          "description": "The subtitle of the thread."
        },
        "threadState": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "THREAD_STATE_TERMINATED",
            "THREAD_STATE_RUNNABLE",
            "THREAD_STATE_TIMED_WAITING",
            "THREAD_STATE_BLOCKED",
            "THREAD_STATE_WAITING",
            "THREAD_STATE_NEW",
            "THREAD_STATE_NATIVE_RUNNABLE",
            "THREAD_STATE_NATIVE_WAITING"
          ],
          "enumDescriptions": [
            "Thread state unspecified.",
            "Thread was terminated.",
            "Thread was runnable.",
            "Thread was waiting with a timeout.",
            "Thread was blocked.",
            "Thread was waiting.",
            "Thread was started, yet to run anything.",
            "The thread was native and we could not heuristically determine that it was was waiting, so assume it's runnable.",
            "We heuristically determined that the thread is waiting."
          ],
          "description": "Output only. The state of the thread at the time the ANR occurred."
        },
        "name": {
          "description": "The name of the thread.",
          "type": "string"
        },
        "frames": {
          "items": {
            "$ref": "Frame"
          },
          "description": "The frames in the thread's stacktrace.",
          "type": "array"
        },
        "crashAddress": {
          "format": "int64",
          "description": "The address of the signal that caused the application to crash. Only present on crashed native threads.",
          "type": "string"
        },
        "blamed": {
          "type": "boolean",
          "description": "True when the Crashlytics analysis has determined that the stacktrace in this thread is where the fault occurred."
        }
      }
    },
    "Version": {
      "properties": {
        "tracks": {
          "description": "Indicates releases which have artifacts that are currently available in the Play Store to the target audience of the track. Versions may be available in multiple tracks.",
          "items": {
            "$ref": "PlayTrack"
          },
          "type": "array"
        },
        "buildVersion": {
          "description": "Mobile only. One display_version can have many build_version. On Android, strictly the same as \"version code\". On iOS, strictly the same as \"build number\" or CFBundleVersion.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Compound readable string containing both display and build versions. Format: \"display_version (build_version)\" e.g. \"1.2.3 (456)\". This string can be used for filtering with the VersionFilter.display_name field."
        },
        "displayVersion": {
          "type": "string",
          "description": "Readable version string, e.g. \"1.2.3\". On Android, strictly the same as \"version name\". On iOS, strictly the same as \"version number\" or CFBundleShortVersionString."
        }
      },
      "description": "Application software version.",
      "type": "object",
      "id": "Version"
    },
    "ReportGroup": {
      "type": "object",
      "description": "A group of results in an EventReport. In any report, the group_parent field is strictly the same type for all of the groups in any collection.",
      "properties": {
        "issue": {
          "description": "Issue metrics group.",
          "$ref": "Issue"
        },
        "operatingSystem": {
          "description": "Operating system metrics group.",
          "$ref": "OperatingSystem"
        },
        "metrics": {
          "type": "array",
          "description": "Scalar metrics will contain a single object covering the entire interval, while time-dimensioned graphs will contain one per time grain.",
          "items": {
            "$ref": "IntervalMetrics"
          }
        },
        "device": {
          "$ref": "Device",
          "description": "Device metrics group."
        },
        "subgroups": {
          "items": {
            "$ref": "ReportGroup"
          },
          "description": "When applicable, this field contains additional nested groupings. For example, events can be grouped by operating system and by operating system version.",
          "type": "array"
        },
        "version": {
          "description": "Version metrics group.",
          "$ref": "Version"
        },
        "browser": {
          "$ref": "Browser",
          "description": "Browser metrics group."
        },
        "webMetricsGroup": {
          "description": "Web metrics group.",
          "$ref": "WebMetricsGroup"
        },
        "variant": {
          "description": "Issue variant metrics group.",
          "$ref": "IssueVariant"
        }
      },
      "id": "ReportGroup"
    },
    "BatchUpdateIssuesRequest": {
      "properties": {
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Optional. The list of Issue fields to update. If this is set, the update_mask field in the UpdateIssueRequest messages must either be empty or match this field."
        },
        "requests": {
          "description": "Required. The request message specifying the resources to update. A maximum of 100 issues can be modified in a batch.",
          "type": "array",
          "items": {
            "$ref": "UpdateIssueRequest"
          }
        }
      },
      "type": "object",
      "id": "BatchUpdateIssuesRequest",
      "description": "Request message for the BatchUpdateIssues method."
    },
    "Memory": {
      "description": "Mobile device memory usage.",
      "type": "object",
      "id": "Memory",
      "properties": {
        "used": {
          "type": "string",
          "description": "Bytes in use.",
          "format": "int64"
        },
        "free": {
          "type": "string",
          "format": "int64",
          "description": "Bytes free."
        }
      }
    },
    "ListEventsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A pagination token to retrieve the next page of events. The next page will have earlier or later events depending on the request's ordering. If this field is not present, there are no subsequent events."
        },
        "events": {
          "type": "array",
          "description": "Returns one element per event, in descending order the by event timestamp.",
          "items": {
            "$ref": "Event"
          }
        }
      },
      "description": "Response message for the ListEvents method.",
      "type": "object",
      "id": "ListEventsResponse"
    },
    "PlayTrack": {
      "description": "Describes a release track in the Play Developer Console.",
      "id": "PlayTrack",
      "type": "object",
      "properties": {
        "title": {
          "description": "User-generated or auto-generated name of the track. PROD and INTERNAL track types always have auto-generated names, e.g. \"prod\" and \"internal\" respectively. Tracks of type EARLY_ACCESS always have a user-generated name. Other track types do not have any guarantees, might have user-generated or auto-generated names.",
          "type": "string"
        },
        "type": {
          "enum": [
            "TRACK_TYPE_UNSPECIFIED",
            "TRACK_TYPE_PROD",
            "TRACK_TYPE_INTERNAL",
            "TRACK_TYPE_OPEN_TESTING",
            "TRACK_TYPE_CLOSED_TESTING",
            "TRACK_TYPE_EARLY_ACCESS"
          ],
          "description": "The type of track (prod, internal, etc...).",
          "enumDescriptions": [
            "Unknown.",
            "Production.",
            "Internal testing.",
            "Open testing.",
            "Closed testing.",
            "Early access."
          ],
          "type": "string"
        }
      }
    },
    "BatchUpdateIssuesResponse": {
      "properties": {
        "issues": {
          "description": "Issues updated in the same order as in BatchUpdateIssuesRequest.",
          "items": {
            "$ref": "Issue"
          },
          "type": "array"
        }
      },
      "description": "Response message for the BatchUpdateIssues method.",
      "type": "object",
      "id": "BatchUpdateIssuesResponse"
    },
    "Exception": {
      "properties": {
        "frames": {
          "items": {
            "$ref": "Frame"
          },
          "description": "The frames in the exception's stacktrace.",
          "type": "array"
        },
        "type": {
          "type": "string",
          "description": "The exception type e.g. java.lang.IllegalStateException."
        },
        "nested": {
          "type": "boolean",
          "description": "True for all but the last-thrown exception (i.e. the first record)."
        },
        "subtitle": {
          "type": "string",
          "description": "The subtitle of the exception."
        },
        "blamed": {
          "description": "True when the Crashlytics analysis has determined that this thread is where the fault occurred.",
          "type": "boolean"
        },
        "exceptionMessage": {
          "description": "A message associated with the exception.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The title of the exception."
        }
      },
      "id": "Exception",
      "description": "A Java or Javascript exception and its stacktrace. Only from Android or web apps.",
      "type": "object"
    },
    "Storage": {
      "type": "object",
      "description": "Mobile device disk/flash usage. Not reported for all devices.",
      "id": "Storage",
      "properties": {
        "used": {
          "type": "string",
          "description": "Bytes used.",
          "format": "int64"
        },
        "free": {
          "type": "string",
          "format": "int64",
          "description": "Bytes free."
        }
      }
    },
    "FirebaseSessionEvent": {
      "description": "Sessions recorded by the Firebase App Quality Sessions SDK.",
      "id": "FirebaseSessionEvent",
      "type": "object",
      "properties": {
        "sessionIndex": {
          "format": "int32",
          "description": "Indicates the number of sessions since the last cold start.",
          "type": "integer"
        },
        "version": {
          "description": "Mobile application version numbers.",
          "$ref": "Version"
        },
        "operatingSystem": {
          "description": "Operating system and version.",
          "$ref": "OperatingSystem"
        },
        "firstSessionId": {
          "description": "The identifier of the first session since the last cold start. This id and the session_id will be the same for app launches.",
          "type": "string"
        },
        "firebaseInstallationId": {
          "type": "string",
          "description": "Uniquely identifies a device with Firebase apps installed."
        },
        "sessionId": {
          "type": "string",
          "description": "Unique identifier for the Firebase session."
        },
        "eventTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The start timestamp for the session event."
        },
        "eventType": {
          "type": "string",
          "description": "Session event type. The SDK only supports SESSION_START events at this time.",
          "enumDescriptions": [
            "Unknown.",
            "Application session started."
          ],
          "enum": [
            "SESSION_EVENT_TYPE_UNKNOWN",
            "SESSION_START"
          ]
        },
        "device": {
          "$ref": "Device",
          "description": "Mobile device metadata."
        }
      }
    },
    "OperatingSystem": {
      "properties": {
        "displayVersion": {
          "description": "Operating system display version number.",
          "type": "string"
        },
        "modificationState": {
          "description": "Indicates if the OS has been modified or \"jailbroken\".",
          "type": "string"
        },
        "deviceType": {
          "type": "string",
          "description": "The device category (mobile, tablet, desktop)."
        },
        "type": {
          "description": "The OS type on Apple platforms (iOS, iPadOS, etc.).",
          "type": "string"
        },
        "displayName": {
          "description": "Name and version number. Formatted to be suitable for passing to OperatingSystemFilter.",
          "type": "string"
        },
        "os": {
          "description": "Operating system name.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Mobile device operating system metadata.",
      "id": "OperatingSystem"
    },
    "User": {
      "id": "User",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "User id if provided by the app developer."
        }
      },
      "description": "Developer-provided end user identifiers."
    },
    "ListNotesResponse": {
      "id": "ListNotesResponse",
      "type": "object",
      "description": "Response message for the ListNotes method.",
      "properties": {
        "nextPageToken": {
          "description": "A pagination token to retrieve the next page of notes. If this field is not present, there are no subsequent notes.",
          "type": "string"
        },
        "notes": {
          "type": "array",
          "description": "Returns notes ordered descending by the timestamp.",
          "items": {
            "$ref": "Note"
          }
        }
      }
    },
    "Browser": {
      "type": "object",
      "properties": {
        "browser": {
          "description": "Browser name.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Browser name and version number. Formatted to be suitable for passing to BrowserFilter."
        },
        "displayVersion": {
          "description": "Browser display version number.",
          "type": "string"
        }
      },
      "description": "Web browser metadata.",
      "id": "Browser"
    },
    "Frame": {
      "properties": {
        "symbol": {
          "type": "string",
          "description": "The frame symbol after it has been deobfuscated or symbolicated. The raw symbol from the device if it could not be hydrated."
        },
        "offset": {
          "type": "string",
          "description": "The byte offset into the binary image that contains the code. Present for native frames.",
          "format": "int64"
        },
        "column": {
          "format": "int64",
          "description": "The column on the line.",
          "type": "string"
        },
        "address": {
          "type": "string",
          "description": "The address in the binary image which contains the code. Present for native frames.",
          "format": "int64"
        },
        "owner": {
          "description": "One of DEVELOPER, VENDOR, RUNTIME, PLATFORM, or SYSTEM.",
          "type": "string"
        },
        "library": {
          "type": "string",
          "description": "The display name of the library that includes the frame."
        },
        "file": {
          "type": "string",
          "description": "The name of the source file in which the frame is found."
        },
        "blamed": {
          "type": "boolean",
          "description": "True when the Crashlytics analysis has determined that this frame is likely to be the cause of the error."
        },
        "line": {
          "description": "The line number in the file of the frame.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "A frame in a stacktrace.",
      "id": "Frame",
      "type": "object"
    },
    "Breadcrumb": {
      "type": "object",
      "properties": {
        "eventTime": {
          "type": "string",
          "description": "Device timestamp for the event.",
          "format": "google-datetime"
        },
        "params": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Event parameters.",
          "type": "object"
        },
        "title": {
          "type": "string",
          "description": "Analytic event name."
        }
      },
      "id": "Breadcrumb",
      "description": "Analytics events recorded during the session."
    },
    "Event": {
      "description": "The message describing a single Crashlytics event. Related to BigQuery export schema, which can be found at [Export Crashlytics data to BigQuery](https://firebase.google.com/docs/crashlytics/bigquery-export#dataset-schema-crashlytics)",
      "type": "object",
      "properties": {
        "browser": {
          "description": "Browser and version.",
          "$ref": "Browser"
        },
        "deviceOrientation": {
          "type": "string",
          "description": "Device orientation at the time of the crash (portrait or landscape)."
        },
        "user": {
          "$ref": "User",
          "description": "End user identifiers for the device owner."
        },
        "processState": {
          "description": "The state of the app process at the time of the event.",
          "type": "string"
        },
        "errors": {
          "description": "Apple only. A non-fatal error captured by the iOS SDK and its stacktrace.",
          "items": {
            "$ref": "Error"
          },
          "type": "array"
        },
        "eventTime": {
          "description": "Device timestamp that the event was recorded.",
          "type": "string",
          "format": "google-datetime"
        },
        "blameFrame": {
          "$ref": "Frame",
          "description": "The stack trace frame blamed by Crashlytics processing. May not be present in future analyzer."
        },
        "operatingSystem": {
          "$ref": "OperatingSystem",
          "description": "Operating system and version."
        },
        "crashlyticsSdkVersion": {
          "description": "Crashlytics SDK version.",
          "type": "string"
        },
        "buildStamp": {
          "type": "string",
          "description": "Metadata provided by the app's build system, including version control repository info."
        },
        "platform": {
          "description": "ANDROID, IOS, or WEB.",
          "type": "string"
        },
        "issueVariant": {
          "$ref": "IssueVariant",
          "description": "Details for the [IssueVariant] assigned to this [Event]."
        },
        "installationUuid": {
          "description": "Unique identifier for the device-app installation. This field is used to compute the unique number of impacted users.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. Output only. Immutable. Identifier. The name of the event resource. Format: \"projects/{project}/apps/{app_id}/events/{event}\".",
          "readOnly": true
        },
        "issueSubtitle": {
          "type": "string",
          "description": "The subtitle of the issue in which the event was grouped. This is usually a symbol or an exception message."
        },
        "threads": {
          "description": "Application threads present at the time the event was recorded. Each contains a stacktrace. One thread will be blamed for the error.",
          "type": "array",
          "items": {
            "$ref": "Thread"
          }
        },
        "memory": {
          "description": "Mobile device memory usage.",
          "$ref": "Memory"
        },
        "appOrientation": {
          "description": "App orientation at the time of the crash (portrait or landscape).",
          "type": "string"
        },
        "version": {
          "description": "Mobile application version.",
          "$ref": "Version"
        },
        "exceptions": {
          "type": "array",
          "description": "Android and web only. Exceptions that occurred during this event. Nested exceptions are presented in reverse chronological order, so that the last record is the first exception thrown.",
          "items": {
            "$ref": "Exception"
          }
        },
        "receivedTime": {
          "format": "google-datetime",
          "description": "Server timestamp that the event was received by Crashlytics.",
          "type": "string"
        },
        "issue": {
          "description": "Details for the [Issue] assigned to this [Event].",
          "$ref": "Issue"
        },
        "sessionId": {
          "type": "string",
          "description": "Unique identifier for the Firebase session."
        },
        "storage": {
          "$ref": "Storage",
          "description": "Mobile device disk/flash usage."
        },
        "breadcrumbs": {
          "description": "Analytics events recorded by the analytics SDK during the session.",
          "type": "array",
          "items": {
            "$ref": "Breadcrumb"
          }
        },
        "device": {
          "description": "Mobile device metadata.",
          "$ref": "Device"
        },
        "routePath": {
          "readOnly": true,
          "description": "Output only. Web only. The route path of the web application when the event occurred, excluding query parameters and fragment.",
          "type": "string"
        },
        "issueTitle": {
          "description": "The title of the issue in which the event was grouped. This is usually a source file or method name.",
          "type": "string"
        },
        "bundleOrPackage": {
          "description": "The bundle name for iOS apps or the package name of Android apps. Format: \"com.mycompany.myapp\".",
          "type": "string"
        },
        "eventId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Immutable. The unique event identifier is assigned during processing."
        },
        "customKeys": {
          "description": "Custom keys set by the developer during the session.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "logs": {
          "description": "Log messages recorded by the developer during the session.",
          "type": "array",
          "items": {
            "$ref": "Log"
          }
        }
      },
      "id": "Event"
    },
    "Empty": {
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "Report": {
      "description": "Response message for the GetReport method. A report consists of the results of a query over an application's events. The events may be filtered by various criteria defined in the filters proto. The result will consist of a number of paginated groups, of a type relevant to the report such as issues or device models.",
      "type": "object",
      "id": "Report",
      "properties": {
        "usage": {
          "description": "Usage instructions for the report with a description of the result metrics. This field contains a description of the underlying query and describes the expected response data with any known caveats. This string can be displayed in the UI of any integration that offers comprehensive access to all Crashlytics reports.",
          "type": "string"
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. The displayable title of the report.",
          "type": "string"
        },
        "name": {
          "description": "The name of the report. Format: \"projects/{project}/apps/{app_id}/reports/{report}\".",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Output only. A page token used to retrieve additional report groups. If this field is not present, there are no subsequent pages available to retrieve.",
          "readOnly": true,
          "type": "string"
        },
        "groups": {
          "type": "array",
          "description": "Aggregate event statistics in the report will be grouped by a dimension, such as by issue or by version. The response contains one element per group, and all ReportGroup messages will have the same parent field.",
          "items": {
            "$ref": "ReportGroup"
          }
        },
        "totalSize": {
          "readOnly": true,
          "description": "Output only. The total number of groups retrievable by the request.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Device": {
      "id": "Device",
      "properties": {
        "architecture": {
          "type": "string",
          "description": "Device processor architecture."
        },
        "manufacturer": {
          "description": "Device brand name which is consistent with android.os.Build.BRAND.",
          "type": "string"
        },
        "marketingName": {
          "type": "string",
          "description": "Marketing name, most recognizable public form, e.g. \"Pixel 6\"."
        },
        "companyName": {
          "description": "An invariant name of the manufacturer that submitted this product in its most recognizable public form, e.g. \"Google\".",
          "type": "string"
        },
        "displayName": {
          "description": "Full device name, suitable for passing to DeviceFilter. Format: \"manufacturer (model)\".",
          "type": "string"
        },
        "model": {
          "type": "string",
          "description": "The model name which is consistent with android.os.Build.MODEL, e.g. (\"SPH-L710\", \"GT-I9300\")."
        },
        "formFactor": {
          "enum": [
            "FORM_FACTOR_UNSPECIFIED",
            "PHONE",
            "TABLET",
            "DESKTOP",
            "TV",
            "WATCH"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Includes mobile phones, small foldables and other form factors not fitting the other categories.",
            "Includes tablets and larger foldables.",
            "Includes desktops, laptops, Chromebooks, etc.",
            "Includes televisions and set-tops.",
            "Includes both watches and other wearables."
          ],
          "description": "See FormFactor message.",
          "type": "string"
        }
      },
      "description": "Mobile device metadata.",
      "type": "object"
    },
    "ListReportsResponse": {
      "type": "object",
      "properties": {
        "reports": {
          "description": "The report objects returned will contain their names and usage instructions, but include no results. Use the `GetReport` method to run the report and obtain the paged results.",
          "type": "array",
          "items": {
            "$ref": "Report"
          }
        }
      },
      "id": "ListReportsResponse",
      "description": "Response method for the ListReports method. The response will always include all of the available reports."
    }
  },
  "ownerName": "Google",
  "version_module": true
}