{
  "ownerDomain": "google.com",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "description": "",
  "mtlsRootUrl": "https://firebaseappdistribution.mtls.googleapis.com/",
  "batchPath": "batch",
  "baseUrl": "https://firebaseappdistribution.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "parameters": {
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    }
  },
  "basePath": "",
  "version": "v1alpha",
  "documentationLink": "https://firebase.google.com/products/app-distribution",
  "rootUrl": "https://firebaseappdistribution.googleapis.com/",
  "revision": "20260921",
  "kind": "discovery#restDescription",
  "canonicalName": "Firebase App Distribution",
  "ownerName": "Google",
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "apps": {
          "methods": {
            "getTestConfig": {
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaTestConfig"
              },
              "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testConfig",
              "parameters": {
                "name": {
                  "description": "Required. The name of the `TestConfig` resource to retrieve. Format: `projects/{project_number}/apps/{app}/testConfig`",
                  "location": "path",
                  "pattern": "^projects/[^/]+/apps/[^/]+/testConfig$",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Gets configuration for automated tests.",
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha/{+name}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "firebaseappdistribution.projects.apps.getTestConfig"
            },
            "updateTestConfig": {
              "id": "firebaseappdistribution.projects.apps.updateTestConfig",
              "path": "v1alpha/{+name}",
              "httpMethod": "PATCH",
              "description": "Updates automated test configuration.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaTestConfig"
              },
              "parameters": {
                "name": {
                  "description": "Identifier. The name of the test configuration resource. Format: `projects/{project_number}/apps/{app}/testConfig`",
                  "required": true,
                  "pattern": "^projects/[^/]+/apps/[^/]+/testConfig$",
                  "location": "path",
                  "type": "string"
                },
                "updateMask": {
                  "description": "Optional. The list of fields to update.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleFirebaseAppdistroV1alphaTestConfig"
              },
              "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testConfig"
            }
          },
          "resources": {
            "releases": {
              "resources": {
                "tests": {
                  "methods": {
                    "list": {
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/releases/{releasesId}/tests",
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "location": "query",
                          "description": "Optional. The maximum number of tests to return. The service may return fewer than this value."
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/apps/[^/]+/releases/[^/]+$",
                          "location": "path",
                          "description": "Required. The name of the release resource, which is the parent of the tests Format: `projects/{project_number}/apps/{app}/releases/{release}`",
                          "type": "string",
                          "required": true
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. A page token, received from a previous `ListReleaseTests` call. Provide this to retrieve the subsequent page.",
                          "location": "query"
                        },
                        "view": {
                          "enum": [
                            "RELEASE_TEST_VIEW_UNSPECIFIED",
                            "RELEASE_TEST_VIEW_BASIC",
                            "RELEASE_TEST_VIEW_FULL"
                          ],
                          "description": "Optional. The requested view on the returned ReleaseTests. Defaults to the basic view.",
                          "location": "query",
                          "type": "string",
                          "enumDescriptions": [
                            "The default / unset value. The default view depends on the RPC.",
                            "Include basic metadata about the release test and its status, but not the full result details. This is the default value for ListReleaseTests.",
                            "Include everything."
                          ]
                        }
                      },
                      "id": "firebaseappdistribution.projects.apps.releases.tests.list",
                      "response": {
                        "$ref": "GoogleFirebaseAppdistroV1alphaListReleaseTestsResponse"
                      },
                      "path": "v1alpha/{+parent}/tests",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "List results for automated tests run on release.",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "get": {
                      "path": "v1alpha/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/apps/[^/]+/releases/[^/]+/tests/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "Required. The name of the release test resource. Format: `projects/{project_number}/apps/{app}/releases/{release}/tests/{test}`"
                        }
                      },
                      "httpMethod": "GET",
                      "description": "Get results for automated test run on release.",
                      "id": "firebaseappdistribution.projects.apps.releases.tests.get",
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/releases/{releasesId}/tests/{testsId}",
                      "response": {
                        "$ref": "GoogleFirebaseAppdistroV1alphaReleaseTest"
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "cancel": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/apps/[^/]+/releases/[^/]+/tests/[^/]+$",
                          "description": "Required. The name of the release test resource. Format: `projects/{project_number}/apps/{app}/releases/{release}/tests/{test}`"
                        }
                      },
                      "description": "Abort automated test run on release.",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/releases/{releasesId}/tests/{testsId}:cancel",
                      "id": "firebaseappdistribution.projects.apps.releases.tests.cancel",
                      "path": "v1alpha/{+name}:cancel",
                      "response": {
                        "$ref": "GoogleFirebaseAppdistroV1alphaCancelReleaseTestResponse"
                      }
                    },
                    "create": {
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/releases/{releasesId}/tests",
                      "id": "firebaseappdistribution.projects.apps.releases.tests.create",
                      "response": {
                        "$ref": "GoogleFirebaseAppdistroV1alphaReleaseTest"
                      },
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Run automated test(s) on release.",
                      "path": "v1alpha/{+parent}/tests",
                      "request": {
                        "$ref": "GoogleFirebaseAppdistroV1alphaReleaseTest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "description": "Required. The name of the release resource, which is the parent of the test Format: `projects/{project_number}/apps/{app}/releases/{release}`",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/apps/[^/]+/releases/[^/]+$"
                        },
                        "releaseTestId": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. The ID to use for the test, which will become the final component of the test's resource name. This value should be 4-63 characters, and valid characters are /a-z-/. If it is not provided one will be automatically generated."
                        }
                      }
                    }
                  }
                }
              }
            },
            "testCases": {
              "methods": {
                "batchUpdate": {
                  "description": "Updates multiple test cases.",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource of the test cases being updated. Format: `projects/{project_number}/apps/{app}`",
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesRequest"
                  },
                  "path": "v1alpha/{+parent}/testCases:batchUpdate",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases:batchUpdate",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesResponse"
                  },
                  "id": "firebaseappdistribution.projects.apps.testCases.batchUpdate",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "clearTestCaseCache": {
                  "id": "firebaseappdistribution.projects.apps.testCases.clearTestCaseCache",
                  "httpMethod": "POST",
                  "path": "v1alpha/{+testCase}:clearTestCaseCache",
                  "description": "Clears cached test runs for a specific test case and device(s).",
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheRequest"
                  },
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheResponse"
                  },
                  "parameterOrder": [
                    "testCase"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases/{testCasesId}:clearTestCaseCache",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "testCase": {
                      "pattern": "^projects/[^/]+/apps/[^/]+/testCases/[^/]+$",
                      "description": "Required. The name of the test case resource for which to clear the cache. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  }
                },
                "batchDelete": {
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent resource of the test cases being deleted. Format: `projects/{project_number}/apps/{app}`"
                    }
                  },
                  "path": "v1alpha/{+parent}/testCases:batchDelete",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaBatchDeleteTestCasesRequest"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases:batchDelete",
                  "description": "Deletes multiple test cases.",
                  "id": "firebaseappdistribution.projects.apps.testCases.batchDelete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST"
                },
                "get": {
                  "path": "v1alpha/{+name}",
                  "id": "firebaseappdistribution.projects.apps.testCases.get",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the test case resource to retrieve. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/apps/[^/]+/testCases/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Get a test case.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases/{testCasesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "id": "firebaseappdistribution.projects.apps.testCases.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "path": "v1alpha/{+parent}/testCases",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The parent resource from which to list test cases. Format: `projects/{project_number}/apps/{app}`",
                      "required": true,
                      "pattern": "^projects/[^/]+/apps/[^/]+$"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `ListTestCases` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTestCases` must match the call that provided the page token."
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Optional. The maximum number of test cases to return. The service may return fewer than this value. If unspecified, at most 50 test cases will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "description": "List test cases.",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaListTestCasesResponse"
                  }
                },
                "delete": {
                  "id": "firebaseappdistribution.projects.apps.testCases.delete",
                  "description": "Delete a test case.",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases/{testCasesId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/apps/[^/]+/testCases/[^/]+$",
                      "description": "Required. The name of the test case resource to delete. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
                      "location": "path"
                    }
                  },
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
                  },
                  "path": "v1alpha/{+name}",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases/{testCasesId}",
                  "id": "firebaseappdistribution.projects.apps.testCases.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Update a test case.",
                  "parameters": {
                    "name": {
                      "description": "Identifier. The name of the test case resource. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
                      "required": true,
                      "pattern": "^projects/[^/]+/apps/[^/]+/testCases/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "allowMissing": {
                      "description": "Optional. If set to true, and the test case is not found, a new test case will be created.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
                  }
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases",
                  "httpMethod": "POST",
                  "parameters": {
                    "testCaseId": {
                      "location": "query",
                      "description": "Optional. The ID to use for the test case, which will become the final component of the test case's resource name. This value should be 4-63 characters, and valid characters are /a-z-/.",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. The parent resource where this test case will be created. Format: `projects/{project_number}/apps/{app}`",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
                  },
                  "description": "Create a new test case.",
                  "id": "firebaseappdistribution.projects.apps.testCases.create",
                  "path": "v1alpha/{+parent}/testCases"
                }
              }
            }
          }
        },
        "testers": {
          "methods": {
            "getUdids": {
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaGetTesterUdidsResponse"
              },
              "path": "v1alpha/{+project}/testers:udids",
              "flatPath": "v1alpha/projects/{projectsId}/testers:udids",
              "httpMethod": "GET",
              "parameters": {
                "mobilesdkAppId": {
                  "location": "query",
                  "description": "Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
                  "type": "string"
                },
                "project": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "description": "The name of the project, which is the parent of testers Format: `projects/{project_number}`",
                  "location": "path"
                }
              },
              "id": "firebaseappdistribution.projects.testers.getUdids",
              "parameterOrder": [
                "project"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Get UDIDs of tester iOS devices in a project"
            }
          }
        }
      },
      "methods": {
        "getTestQuota": {
          "id": "firebaseappdistribution.projects.getTestQuota",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1alpha/{+name}",
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^projects/[^/]+/testQuota$",
              "location": "path",
              "description": "Required. The name of the `TestQuota` resource to retrieve. Format: `projects/{project_number}/testQuota`",
              "type": "string"
            }
          },
          "response": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTestQuota"
          },
          "httpMethod": "GET",
          "flatPath": "v1alpha/projects/{projectsId}/testQuota",
          "description": "Get information about the quota for `ReleaseTests`.",
          "parameterOrder": [
            "name"
          ]
        }
      }
    },
    "apps": {
      "resources": {
        "testers": {
          "methods": {
            "getTesterUdids": {
              "httpMethod": "GET",
              "path": "v1alpha/apps/{mobilesdkAppId}/testers:getTesterUdids",
              "id": "firebaseappdistribution.apps.testers.getTesterUdids",
              "flatPath": "v1alpha/apps/{mobilesdkAppId}/testers:getTesterUdids",
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaGetTesterUdidsResponse"
              },
              "parameterOrder": [
                "mobilesdkAppId"
              ],
              "description": "Get UDIDs of tester iOS devices in a project",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "project": {
                  "description": "The name of the project, which is the parent of testers Format: `projects/{project_number}`",
                  "location": "query",
                  "type": "string"
                },
                "mobilesdkAppId": {
                  "description": "Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              }
            }
          }
        },
        "release_by_hash": {
          "methods": {
            "get": {
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaGetReleaseByUploadHashResponse"
              },
              "flatPath": "v1alpha/apps/{mobilesdkAppId}/release_by_hash/{uploadHash}",
              "id": "firebaseappdistribution.apps.release_by_hash.get",
              "parameterOrder": [
                "mobilesdkAppId",
                "uploadHash"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1alpha/apps/{mobilesdkAppId}/release_by_hash/{uploadHash}",
              "parameters": {
                "uploadHash": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The hash for the upload"
                },
                "mobilesdkAppId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289"
                }
              },
              "description": "GET Release by binary upload hash"
            }
          }
        },
        "releases": {
          "resources": {
            "notes": {
              "methods": {
                "create": {
                  "flatPath": "v1alpha/apps/{mobilesdkAppId}/releases/{releaseId}/notes",
                  "parameters": {
                    "releaseId": {
                      "description": "Required. Release identifier",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "mobilesdkAppId": {
                      "location": "path",
                      "description": "Required. Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "Create release notes on a release.",
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesResponse"
                  },
                  "id": "firebaseappdistribution.apps.releases.notes.create",
                  "httpMethod": "POST",
                  "path": "v1alpha/apps/{mobilesdkAppId}/releases/{releaseId}/notes",
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "mobilesdkAppId",
                    "releaseId"
                  ]
                }
              }
            }
          },
          "methods": {
            "enable_access": {
              "description": "Enable access on a release for testers.",
              "parameters": {
                "releaseId": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. Release identifier",
                  "required": true
                },
                "mobilesdkAppId": {
                  "description": "Required. Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "id": "firebaseappdistribution.apps.releases.enable_access",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "mobilesdkAppId",
                "releaseId"
              ],
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseResponse"
              },
              "path": "v1alpha/apps/{mobilesdkAppId}/releases/{releaseId}/enable_access",
              "httpMethod": "POST",
              "flatPath": "v1alpha/apps/{mobilesdkAppId}/releases/{releaseId}/enable_access",
              "request": {
                "$ref": "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseRequest"
              }
            }
          }
        },
        "upload_status": {
          "methods": {
            "get": {
              "id": "firebaseappdistribution.apps.upload_status.get",
              "path": "v1alpha/apps/{mobilesdkAppId}/upload_status/{uploadToken}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "mobilesdkAppId",
                "uploadToken"
              ],
              "httpMethod": "GET",
              "parameters": {
                "mobilesdkAppId": {
                  "description": "Required. Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "uploadToken": {
                  "description": "Required. The token for the upload",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaGetUploadStatusResponse"
              },
              "description": "GET Binary upload status by token",
              "flatPath": "v1alpha/apps/{mobilesdkAppId}/upload_status/{uploadToken}"
            }
          }
        }
      },
      "methods": {
        "getJwt": {
          "description": "Get a JWT token",
          "id": "firebaseappdistribution.apps.getJwt",
          "parameters": {
            "mobilesdkAppId": {
              "location": "path",
              "description": "Required. Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1alpha/apps/{mobilesdkAppId}/jwt",
          "response": {
            "$ref": "GoogleFirebaseAppdistroV1alphaJwt"
          },
          "parameterOrder": [
            "mobilesdkAppId"
          ],
          "path": "v1alpha/apps/{mobilesdkAppId}/jwt",
          "httpMethod": "GET"
        },
        "get": {
          "httpMethod": "GET",
          "flatPath": "v1alpha/apps/{mobilesdkAppId}",
          "response": {
            "$ref": "GoogleFirebaseAppdistroV1alphaApp"
          },
          "path": "v1alpha/apps/{mobilesdkAppId}",
          "parameterOrder": [
            "mobilesdkAppId"
          ],
          "id": "firebaseappdistribution.apps.get",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "appView": {
              "enum": [
                "APP_VIEW_UNSPECIFIED",
                "BASIC",
                "FULL"
              ],
              "enumDescriptions": [
                "The default / unset value. The API will default to the BASIC view.",
                "Include everything except aab_state.",
                "Include everything."
              ],
              "location": "query",
              "type": "string",
              "description": "App view. When unset or set to BASIC, returns an App with everything set except for aab_state. When set to FULL, returns an App with aab_state set."
            },
            "mobilesdkAppId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289"
            }
          },
          "description": "Get the app, if it exists"
        }
      }
    }
  },
  "schemas": {
    "GoogleFirebaseAppdistroV1alphaTestDevice": {
      "description": "A device on which automated tests can be run.",
      "id": "GoogleFirebaseAppdistroV1alphaTestDevice",
      "properties": {
        "model": {
          "type": "string",
          "description": "Required. The device model."
        },
        "version": {
          "description": "Required. The version of the device (API level on Android).",
          "type": "string"
        },
        "locale": {
          "description": "Optional. The locale of the device (e.g. \"en_US\" for US English) during the test.",
          "type": "string"
        },
        "orientation": {
          "description": "Optional. The orientation of the device during the test.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaCancelReleaseTestResponse": {
      "properties": {},
      "id": "GoogleFirebaseAppdistroV1alphaCancelReleaseTestResponse",
      "description": "The (empty) response message for `CancelReleaseTest`.",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesRequest": {
      "type": "object",
      "properties": {
        "requests": {
          "description": "Required. The update requests. A maximum number of 1000 test cases can be updated in one batch",
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaUpdateTestCaseRequest"
          }
        }
      },
      "description": "The request message for `BatchUpdateTestCase`.",
      "id": "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesRequest"
    },
    "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheRequest": {
      "description": "Request message for `ClearTestCaseCache`.",
      "type": "object",
      "properties": {
        "testDevices": {
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTestDevice"
          },
          "type": "array",
          "description": "Optional. The list of devices for which to clear the cache. If not present, clear all of them."
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheRequest"
    },
    "GoogleFirebaseAppdistroV1alphaTestQuota": {
      "id": "GoogleFirebaseAppdistroV1alphaTestQuota",
      "properties": {
        "usage": {
          "description": "Output only. Number of `ReleaseTests` run in the current month",
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "limit": {
          "type": "string",
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Maximum number of `ReleaseTests` allotted for the current month."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the `TestQuota` resource. Format: `projects/{project_number}/testQuota`"
        }
      },
      "description": "Customer quota information for `ReleaseTests`. Note: This quota only applies to tests with `AiInstructions` and is separate from the quota which might apply to the device time used by any tests.",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1UploadReleaseResponse": {
      "properties": {
        "release": {
          "$ref": "GoogleFirebaseAppdistroV1Release",
          "description": "Release associated with the uploaded binary."
        },
        "result": {
          "type": "string",
          "enum": [
            "UPLOAD_RELEASE_RESULT_UNSPECIFIED",
            "RELEASE_CREATED",
            "RELEASE_UPDATED",
            "RELEASE_UNMODIFIED"
          ],
          "description": "Result of upload release.",
          "enumDescriptions": [
            "Upload binary result unspecified",
            "Upload binary resulted in a new release",
            "Upload binary updated an existing release",
            "Upload binary resulted in a no-op. A release with the exact same binary already exists."
          ]
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1UploadReleaseResponse",
      "description": "Response message for `UploadRelease`."
    },
    "GoogleFirebaseAppdistroV1alphaListReleaseTestsResponse": {
      "id": "GoogleFirebaseAppdistroV1alphaListReleaseTestsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A short-lived token, which can be sent as `pageToken` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "releaseTests": {
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaReleaseTest"
          },
          "description": "The tests listed.",
          "type": "array"
        }
      },
      "description": "The response message for `ListReleaseTests`."
    },
    "GoogleFirebaseAppdistroV1alphaListTestCasesResponse": {
      "id": "GoogleFirebaseAppdistroV1alphaListTestCasesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "testCases": {
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
          },
          "type": "array",
          "description": "The test cases from the specified app."
        }
      },
      "description": "The response message for `ListTestCases`."
    },
    "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesRequest": {
      "description": "The request message for `CreateReleaseNotes`.",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesRequest",
      "properties": {
        "releaseNotes": {
          "description": "The actual release notes body from the user",
          "$ref": "GoogleFirebaseAppdistroV1alphaReleaseNotes"
        }
      }
    },
    "AndroidxCrawlerOutputRectangle": {
      "id": "AndroidxCrawlerOutputRectangle",
      "type": "object",
      "properties": {
        "top": {
          "type": "integer",
          "format": "int32"
        },
        "left": {
          "format": "int32",
          "type": "integer"
        },
        "right": {
          "format": "int32",
          "type": "integer"
        },
        "bottom": {
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Rectangle for describing bounding boxes"
    },
    "GoogleFirebaseAppdistroV1alphaLoginCredentialFieldHints": {
      "properties": {
        "usernameResourceName": {
          "description": "Required. The Android resource name of the username UI element. For example, in Java: R.string.foo in xml: @string/foo Only the \"foo\" part is needed. Reference doc: https://developer.android.com/guide/topics/resources/accessing-resources.html",
          "type": "string"
        },
        "passwordResourceName": {
          "type": "string",
          "description": "Required. The Android resource name of the password UI element. For example, in Java: R.string.foo in xml: @string/foo Only the \"foo\" part is needed. Reference doc: https://developer.android.com/guide/topics/resources/accessing-resources.html"
        }
      },
      "description": "Hints to the crawler for identifying input fields",
      "id": "GoogleFirebaseAppdistroV1alphaLoginCredentialFieldHints",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaGoalAction": {
      "description": "An action taken by the AI agent while attempting to accomplish a goal.",
      "properties": {
        "startTime": {
          "description": "Output only. The time at which the action started.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "debugInfo": {
          "description": "Output only. Debug information explaining why the agent to the specific action.",
          "$ref": "GoogleFirebaseAppdistroV1alphaGoalActionDebugInfo",
          "readOnly": true
        },
        "explanation": {
          "description": "Output only. An explanation justifying why the action was taken.",
          "readOnly": true,
          "type": "string"
        },
        "deviceAction": {
          "readOnly": true,
          "description": "Output only. A high level action taken by the AI on the device.",
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceAction"
        },
        "cachingType": {
          "description": "Output only. The type of caching used to determine the action.",
          "type": "string",
          "enumDescriptions": [
            "Caching type unspecified.",
            "The model alone was used to determine the action with no caching.",
            "The model used information from a previous successful run to determine the action.",
            "The action was replayed from a previous successful run without model input."
          ],
          "enum": [
            "CACHING_TYPE_UNSPECIFIED",
            "NO_CACHING",
            "CACHE_AND_MODEL",
            "CACHE_ONLY"
          ],
          "readOnly": true
        },
        "terminalAction": {
          "readOnly": true,
          "description": "Output only. An action taken by the AI to end the goal.",
          "$ref": "GoogleFirebaseAppdistroV1alphaTerminalAction"
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaGoalAction",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteractionWait": {
      "description": "A wait action.",
      "properties": {
        "duration": {
          "format": "google-duration",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The duration of the wait."
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteractionWait",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1Release": {
      "properties": {
        "expireTime": {
          "description": "Output only. The time the release will expire.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "binaryType": {
          "enumDescriptions": [
            "unspecified binary type",
            "iOS App Store package",
            "Android Application package",
            "Android App Bundle"
          ],
          "enum": [
            "BINARY_TYPE_UNSPECIFIED",
            "IPA",
            "APK",
            "AAB"
          ],
          "readOnly": true,
          "description": "Output only. Type of binary.",
          "type": "string"
        },
        "displayVersion": {
          "description": "Output only. Display version of the release. For an Android release, the display version is the `versionName`. For an iOS release, the display version is the `CFBundleShortVersionString`.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the release resource. Format: `projects/{project_number}/apps/{app}/releases/{release}`"
        },
        "releaseNotes": {
          "$ref": "GoogleFirebaseAppdistroV1ReleaseNotes",
          "description": "Notes about the release."
        },
        "binaryDownloadUri": {
          "readOnly": true,
          "description": "Output only. A signed link (which expires in one hour) to directly download the app binary (IPA/APK/AAB) file.",
          "type": "string"
        },
        "feedbackCount": {
          "type": "integer",
          "description": "Output only. Number of feedback reports left by testers.",
          "readOnly": true,
          "format": "int32"
        },
        "openInvitationCount": {
          "description": "Output only. Number of testers who were invited (incl. expired invitations), but did not (yet) accept the invitation.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the release was created."
        },
        "updateTime": {
          "description": "Output only. The time the release was last updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "androidPackageRegistrationState": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Package is registered with the release binary's certificate fingerprint.",
            "Package is not registered with any public certificate.",
            "Package is registered with another public certificate fingerprint."
          ],
          "enum": [
            "ANDROID_PACKAGE_REGISTRATION_STATE_UNSPECIFIED",
            "REGISTERED",
            "NOT_REGISTERED",
            "REGISTERED_WITH_ANOTHER_CERTIFICATE_FINGERPRINT"
          ],
          "description": "Output only. Registration state of the Android package (BinaryType.APK)."
        },
        "acceptedInvitationCount": {
          "format": "int32",
          "type": "integer",
          "readOnly": true,
          "description": "Output only. Number of testers with accepted invitations."
        },
        "firebaseConsoleUri": {
          "type": "string",
          "description": "Output only. A link to the Firebase console displaying a single release.",
          "readOnly": true
        },
        "testState": {
          "readOnly": true,
          "enum": [
            "TEST_STATE_UNSPECIFIED",
            "NO_TESTS_REQUESTED",
            "IN_PROGRESS",
            "PASSED",
            "FAILED",
            "INCONCLUSIVE"
          ],
          "description": "Output only. The overall state of tests run on this release",
          "type": "string",
          "enumDescriptions": [
            "No test state specified",
            "No tests have been requested for this release",
            "One or more device executions are in progress",
            "All device executions passed during the most recent test",
            "Some device executions failed during the most recent test",
            "Some device executions were inconclusive, but none failed, during the most recent test"
          ]
        },
        "buildVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Build version of the release. For an Android release, the build version is the `versionCode`. For an iOS release, the build version is the `CFBundleVersion`."
        },
        "installationCount": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Number of testers who have downloaded this release.",
          "format": "int32"
        },
        "testingUri": {
          "description": "Output only. A link to the release in the tester web clip or Android app that lets testers (which were granted access to the app) view release notes and install the app onto their devices.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1Release",
      "description": "A release of a Firebase app."
    },
    "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesResponse": {
      "properties": {
        "testCases": {
          "type": "array",
          "description": "The updated test cases.",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
          }
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesResponse",
      "description": "The response message for `BatchUpdateTestCase`.",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaDeviceAction": {
      "properties": {
        "deviceInteractions": {
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteraction"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. The interactions made with the device as part of this higher level action taken by the agent, such as taps, text entries, waits, etc."
        },
        "description": {
          "type": "string",
          "description": "Output only. A short description of the high level action taken by the AI agent.",
          "readOnly": true
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaDeviceAction",
      "type": "object",
      "description": "A high level action taken by the AI on the device, potentially involving multiple taps, text entries, waits, etc."
    },
    "GoogleFirebaseAppdistroV1alphaDeviceExecution": {
      "type": "object",
      "properties": {
        "resultsStoragePath": {
          "type": "string",
          "description": "Output only. The path to a directory in Cloud Storage that will eventually contain the results for this execution. For example, gs://bucket/Nexus5-18-en-portrait.",
          "readOnly": true
        },
        "roboStats": {
          "description": "Output only. The statistics collected during the Robo test.",
          "readOnly": true,
          "$ref": "GoogleFirebaseAppdistroV1alphaRoboStats"
        },
        "device": {
          "description": "Required. The device that the test was run on.",
          "$ref": "GoogleFirebaseAppdistroV1alphaTestDevice"
        },
        "videoUri": {
          "description": "Output only. A URI to a video of the test run.",
          "readOnly": true,
          "type": "string"
        },
        "screenshotUris": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. A list of screenshot image URIs taken from the Robo crawl. The file names are numbered by the order in which they were taken.",
          "type": "array"
        },
        "inconclusiveReason": {
          "description": "Output only. The reason why the test was inconclusive.",
          "readOnly": true,
          "enum": [
            "INCONCLUSIVE_REASON_UNSPECIFIED",
            "QUOTA_EXCEEDED",
            "INFRASTRUCTURE_FAILURE",
            "SERVICE_NOT_ACTIVATED",
            "NO_SIGNATURE",
            "NO_LAUNCHER_ACTIVITY",
            "FORBIDDEN_PERMISSIONS",
            "DEVICE_ADMIN_RECEIVER",
            "NO_CODE_APK",
            "INVALID_APK_PREVIEW_SDK"
          ],
          "enumDescriptions": [
            "Reason unspecified.",
            "Not enough quota remained to run the test.",
            "The outcome of the test could not be determined because of a failure in the test running infrastructure.",
            "A required cloud service api is not activated (Google Cloud Testing API or Cloud Tool Results API).",
            "The app was not signed.",
            "A main launcher activity could not be found.",
            "The app declares one or more permissions that are not allowed.",
            "Device administrator applications are not allowed.",
            "APK contains no code. See also https://developer.android.com/guide/topics/manifest/application-element.html#code",
            "APK is built for a preview SDK which is unsupported."
          ],
          "type": "string"
        },
        "failedReason": {
          "description": "Output only. The reason why the test failed.",
          "type": "string",
          "enum": [
            "FAILED_REASON_UNSPECIFIED",
            "CRASHED",
            "NOT_INSTALLED",
            "UNABLE_TO_CRAWL",
            "DEVICE_OUT_OF_MEMORY",
            "FAILED_AI_STEP",
            "TIMED_OUT"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Reason unspecified.",
            "The app crashed during the test.",
            "If an app is not installed and thus no test can be run with the app. This might be caused by trying to run a test on an unsupported platform.",
            "If the app could not be crawled (possibly because the app did not start).",
            "If the device ran out of memory during the test.",
            "At least one AI step failed.",
            "The crawl reached the time limit before the test could be completed."
          ]
        },
        "state": {
          "readOnly": true,
          "enum": [
            "TEST_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "PASSED",
            "FAILED",
            "INCONCLUSIVE"
          ],
          "description": "Output only. The state of the test.",
          "enumDescriptions": [
            "Test state unspecified.",
            "The test is in progress.",
            "The test has passed.",
            "The test has failed.",
            "The test was inconclusive."
          ],
          "type": "string"
        },
        "appCrash": {
          "$ref": "GoogleFirebaseAppdistroV1alphaAppCrash",
          "readOnly": true,
          "description": "Output only. An app crash, if any occurred during the test."
        },
        "executionType": {
          "enumDescriptions": [
            "Execution type unspecified.",
            "An AI-driven test.",
            "A replay of a previous test run.",
            "A failed replay that was rerun using the AI agent.",
            "A random Robo test."
          ],
          "description": "Output only. The type of execution for the test.",
          "enum": [
            "EXECUTION_TYPE_UNSPECIFIED",
            "AI",
            "ACTION_BASED_REPLAY",
            "AI_REPLAY",
            "RANDOM_CRAWL"
          ],
          "readOnly": true,
          "type": "string"
        },
        "videoStartTime": {
          "description": "Output only. The time at which the video started recording.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "crawlGraphUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A URI to an image of the Robo crawl graph."
        },
        "aiStepResults": {
          "description": "Output only. Results of the AI steps if passed in",
          "readOnly": true,
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaAiStepResult"
          },
          "type": "array"
        },
        "name": {
          "description": "Identifier. The name of the device execution resource. Format: `projects/{project_number}/apps/{app}/releases/{release}/tests/{test}/deviceExecutions/{device_execution}`",
          "type": "string"
        },
        "finalAiAssertionMissing": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates that the test replayed saved actions and concluded without a final AI assertion."
        },
        "originDeviceExecution": {
          "readOnly": true,
          "description": "Output only. The device execution from which cached steps were used during this execution. Note: This field is only populated for ACTION_BASED_REPLAY executions. If the original device execution no longer exists, this field will be empty. Format: `projects/{project_number}/apps/{app}/releases/{release}/tests/{test}/deviceExecutions/{device_execution}`",
          "type": "string"
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaDeviceExecution",
      "description": "The results of running an automated test on a particular device."
    },
    "GoogleFirebaseAppdistroV1alphaTesterUdid": {
      "description": "The UDIDs of a tester's iOS device",
      "id": "GoogleFirebaseAppdistroV1alphaTesterUdid",
      "properties": {
        "udid": {
          "description": "The UDID of the tester's device",
          "type": "string"
        },
        "name": {
          "description": "The name of the tester's device",
          "type": "string"
        },
        "platform": {
          "type": "string",
          "description": "The platform of the tester's device"
        }
      },
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaTestCase": {
      "description": "AI test cases",
      "properties": {
        "aiInstructions": {
          "description": "Optional. Instructions for AI driven test.",
          "$ref": "GoogleFirebaseAppdistroV1alphaAiInstructions"
        },
        "createTime": {
          "description": "Output only. Timestamp when the test case was created",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name of the test case."
        },
        "dependentTestCases": {
          "description": "Output only. Other test cases that depend on this test case as a prerequisite.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "name": {
          "description": "Identifier. The name of the test case resource. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
          "type": "string"
        },
        "prerequisiteTestCase": {
          "type": "string",
          "description": "Optional. Test case that must be run before this test case."
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaTestCase",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteractionDragAndDrop": {
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteractionDragAndDrop",
      "type": "object",
      "properties": {
        "start": {
          "readOnly": true,
          "description": "Output only. The start point of the drag and drop.",
          "$ref": "AndroidxCrawlerOutputPoint"
        },
        "end": {
          "readOnly": true,
          "description": "Output only. The end point of the drag and drop.",
          "$ref": "AndroidxCrawlerOutputPoint"
        }
      },
      "description": "A drag and drop action."
    },
    "GoogleFirebaseAppdistroV1alphaJwt": {
      "description": "A JWT token.",
      "id": "GoogleFirebaseAppdistroV1alphaJwt",
      "properties": {
        "token": {
          "type": "string",
          "description": "The JWT token (three Base64URL-encoded strings joined by dots)."
        }
      },
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaUpdateTestCaseRequest": {
      "id": "GoogleFirebaseAppdistroV1alphaUpdateTestCaseRequest",
      "type": "object",
      "properties": {
        "testCase": {
          "description": "Required. The test case to update. The test case's `name` field is used to identify the test case to update. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
          "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
        },
        "allowMissing": {
          "description": "Optional. If set to true, and the test case is not found, a new test case will be created.",
          "type": "boolean"
        }
      },
      "description": "The request message for `UpdateTestCase`."
    },
    "GoogleFirebaseAppdistroV1alphaRelease": {
      "type": "object",
      "properties": {
        "displayVersion": {
          "description": "Release version",
          "type": "string"
        },
        "lastActivityAt": {
          "type": "string",
          "description": "Last activity timestamp",
          "format": "google-datetime"
        },
        "testerCount": {
          "type": "integer",
          "format": "int32",
          "description": "Count of testers added to the release"
        },
        "releaseNotesSummary": {
          "description": "Release notes summary",
          "type": "string"
        },
        "instanceId": {
          "description": "Instance id of the release",
          "type": "string"
        },
        "distributedAt": {
          "format": "google-datetime",
          "description": "Timestamp when the release was created",
          "type": "string"
        },
        "testerWithInstallCount": {
          "type": "integer",
          "description": "Number of testers who have installed the release",
          "format": "int32"
        },
        "receivedAt": {
          "type": "string",
          "description": "unused. ",
          "format": "google-datetime",
          "deprecated": true
        },
        "id": {
          "description": "Release Id",
          "type": "string"
        },
        "openInvitationCount": {
          "description": "Number of testers who have open invitations for the release",
          "type": "integer",
          "format": "int32"
        },
        "buildVersion": {
          "type": "string",
          "description": "Release build version"
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaRelease",
      "description": "Proto defining a release object"
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteraction": {
      "properties": {
        "textInput": {
          "type": "string",
          "description": "Output only. A text input action, that types some text into whatever field is currently focused, if any. Unlike `enter_text` this action requires that the field be brought into focus first, for example by emitting a tap action before this one.",
          "readOnly": true
        },
        "targetFoldedState": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The target folded state of the device in a set folded state action. The valid string values are device-dependent, and can be found using `adb shell cmd device_state print-states`."
        },
        "enterText": {
          "description": "Output only. A text entry action, that enters text into a particular text field, clearing any existing text in the field. Unlike `text_input` this action does not require any other actions such as a tap to be performed before it can enter the text.",
          "readOnly": true,
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteractionEnterText"
        },
        "keyCode": {
          "type": "string",
          "description": "Output only. Key code for a key event action.",
          "readOnly": true
        },
        "backAction": {
          "description": "Output only. A back action.",
          "readOnly": true,
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteractionBack"
        },
        "longPress": {
          "description": "Output only. A long press (tap and hold) action.",
          "$ref": "AndroidxCrawlerOutputPoint",
          "readOnly": true
        },
        "tap": {
          "$ref": "AndroidxCrawlerOutputPoint",
          "readOnly": true,
          "description": "Output only. A tap action."
        },
        "screenshot": {
          "description": "Output only. The screenshot used in the context of this action. The screen may have changed before the action was actually taken.",
          "$ref": "GoogleFirebaseAppdistroV1alphaScreenshot",
          "readOnly": true
        },
        "targetOrientation": {
          "readOnly": true,
          "enum": [
            "ORIENTATION_UNSPECIFIED",
            "PORTRAIT",
            "LANDSCAPE"
          ],
          "enumDescriptions": [
            "Orientation unspecified.",
            "Portrait orientation.",
            "Landscape orientation."
          ],
          "type": "string",
          "description": "Output only. The target orientation of the device in a set orientation action."
        },
        "dragAndDrop": {
          "description": "Output only. A drag and drop action.",
          "readOnly": true,
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteractionDragAndDrop"
        },
        "wait": {
          "readOnly": true,
          "description": "Output only. A wait action.",
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteractionWait"
        },
        "swipe": {
          "description": "Output only. A swipe action.",
          "readOnly": true,
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteractionSwipe"
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteraction",
      "description": "An interaction with the device, such as a tap, text entry, wait, etc."
    },
    "GoogleProtobufEmpty": {
      "type": "object",
      "id": "GoogleProtobufEmpty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "GoogleFirebaseAppdistroV1alphaBatchDeleteTestCasesRequest": {
      "id": "GoogleFirebaseAppdistroV1alphaBatchDeleteTestCasesRequest",
      "description": "The request message for `BatchDeleteTestCase`.",
      "type": "object",
      "properties": {
        "names": {
          "items": {
            "type": "string"
          },
          "description": "Required. The name of the test cases to delete. A maximum number of 1000 test cases can be deleted in one batch Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
          "type": "array"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaTerminalAction": {
      "id": "GoogleFirebaseAppdistroV1alphaTerminalAction",
      "properties": {
        "reason": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The reason why this goal was ended.",
          "enum": [
            "REASON_UNSPECIFIED",
            "GOAL_IMPOSSIBLE",
            "GOAL_COMPLETE"
          ],
          "enumDescriptions": [
            "Reason unspecified.",
            "The goal failed to be completed. Note that \"impossible\" is a legacy term and the goal is reported to the customer as having \"failed\".",
            "The goal was completed successfully."
          ]
        },
        "screenshot": {
          "readOnly": true,
          "description": "Output only. The screenshot used in the context of this terminal action.",
          "$ref": "GoogleFirebaseAppdistroV1alphaScreenshot"
        }
      },
      "description": "An action taken by the AI to end the goal.",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseResponse": {
      "description": "The response message for `EnableAccessOnRelease`.",
      "id": "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseResponse",
      "type": "object",
      "properties": {}
    },
    "GoogleFirebaseAppdistroV1alphaGoalActionDebugInfo": {
      "properties": {
        "jsonUri": {
          "description": "Output only. Structured data explaining the agent's choice.",
          "readOnly": true,
          "type": "string"
        },
        "annotatedScreenshotUri": {
          "type": "string",
          "description": "Output only. URI of the screenshot with elements labeled which was used by the agent.",
          "readOnly": true
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaGoalActionDebugInfo",
      "description": "Information to help the customer understand why the agent took this action.",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaReleaseTest": {
      "type": "object",
      "description": "Instance of an automated test for a release.",
      "properties": {
        "testState": {
          "readOnly": true,
          "enumDescriptions": [
            "Test state unspecified.",
            "The test is in progress.",
            "The test has passed.",
            "The test has failed.",
            "The test was inconclusive."
          ],
          "type": "string",
          "enum": [
            "TEST_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "PASSED",
            "FAILED",
            "INCONCLUSIVE"
          ],
          "description": "Output only. The state of the release test."
        },
        "deviceExecutions": {
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaDeviceExecution"
          },
          "description": "Required. The results of the test on each device.",
          "type": "array"
        },
        "testCase": {
          "description": "Optional. The test case that was used to generate this release test. Note: The test case may have changed or been deleted since the release test was created. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
          "type": "string"
        },
        "loginCredential": {
          "description": "Optional. Input only. Login credentials for the test. Input only.",
          "$ref": "GoogleFirebaseAppdistroV1alphaLoginCredential"
        },
        "name": {
          "description": "The name of the release test resource. Format: `projects/{project_number}/apps/{app}/releases/{release}/tests/{test}`",
          "type": "string"
        },
        "resultsBucket": {
          "description": "Optional. Input only. The custom Cloud Storage bucket where test results are stored. Format: `projects/{project_number}/buckets/{bucket}` If not provided, the default test lab bucket is used.",
          "type": "string"
        },
        "aiInstructions": {
          "description": "Optional. Instructions for AI driven test.",
          "$ref": "GoogleFirebaseAppdistroV1alphaAiInstructions"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when the test was run.",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "Optional. Display name of the release test. Required if the release test is created with multiple goals."
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaReleaseTest"
    },
    "GoogleFirebaseAppdistroV1alphaGetTesterUdidsResponse": {
      "id": "GoogleFirebaseAppdistroV1alphaGetTesterUdidsResponse",
      "type": "object",
      "properties": {
        "testerUdids": {
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTesterUdid"
          },
          "description": "The UDIDs of tester iOS devices in a project"
        }
      },
      "description": "Response containing the UDIDs of tester iOS devices in a project"
    },
    "GoogleFirebaseAppdistroV1alphaAiStepResult": {
      "type": "object",
      "properties": {
        "state": {
          "enum": [
            "STEP_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "PASSED",
            "FAILED",
            "TIMED_OUT",
            "GOAL_ACTION_LIMIT_REACHED"
          ],
          "description": "Output only. The current state of the step",
          "enumDescriptions": [
            "Step state unspecified",
            "The step is in progress",
            "The step has completed successfully",
            "The step has failed",
            "The test timed out during this step",
            "The number of actions needed to reach the goal exceeded its limit"
          ],
          "type": "string",
          "readOnly": true
        },
        "goalDetails": {
          "description": "Output only. Details for a goal step.",
          "readOnly": true,
          "$ref": "GoogleFirebaseAppdistroV1alphaGoalDetails"
        },
        "assertionDetails": {
          "$ref": "GoogleFirebaseAppdistroV1alphaAssertionDetails",
          "readOnly": true,
          "description": "Output only. Details for an assertion step."
        },
        "step": {
          "description": "Required. The step performed by the AI",
          "$ref": "GoogleFirebaseAppdistroV1alphaAiStep"
        }
      },
      "description": "Captures the results of an AiStep",
      "id": "GoogleFirebaseAppdistroV1alphaAiStepResult"
    },
    "GoogleFirebaseAppdistroV1alphaRoboStats": {
      "type": "object",
      "description": "Statistics collected during a Robo test.",
      "id": "GoogleFirebaseAppdistroV1alphaRoboStats",
      "properties": {
        "actionsPerformed": {
          "readOnly": true,
          "description": "Output only. Number of actions that crawler performed.",
          "format": "int32",
          "type": "integer"
        },
        "crawlDuration": {
          "format": "google-duration",
          "description": "Output only. Duration of crawl.",
          "readOnly": true,
          "type": "string"
        },
        "mainActivityCrawlTimedOut": {
          "description": "Output only. Whether the main activity crawl timed out.",
          "readOnly": true,
          "type": "boolean"
        },
        "distinctVisitedScreens": {
          "type": "integer",
          "readOnly": true,
          "description": "Output only. Number of distinct screens visited.",
          "format": "int32"
        }
      }
    },
    "AndroidxCrawlerOutputPoint": {
      "properties": {
        "xCoordinate": {
          "format": "int32",
          "type": "integer"
        },
        "yCoordinate": {
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "AndroidxCrawlerOutputPoint",
      "description": "Point for describing bounding boxes tap locations Top left is 0,0",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteractionEnterText": {
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteractionEnterText",
      "properties": {
        "text": {
          "type": "string",
          "description": "Output only. The text to enter.",
          "readOnly": true
        },
        "elementBounds": {
          "description": "Output only. The visible bounds of the element to enter text into.",
          "$ref": "AndroidxCrawlerOutputRectangle",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "A text entry action, that enters text into a particular text field, clearing any existing text in the field."
    },
    "GoogleFirebaseAppdistroV1alphaAssertionDetails": {
      "description": "Details for an assertion step.",
      "properties": {
        "result": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. The result of the assertion."
        },
        "screenshot": {
          "$ref": "GoogleFirebaseAppdistroV1alphaScreenshot",
          "description": "Output only. The screenshot used in the context of this assertion.",
          "readOnly": true
        },
        "explanation": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. An explanation justifying the assertion result."
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaAssertionDetails"
    },
    "GoogleFirebaseAppdistroV1alphaAppCrash": {
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaAppCrash",
      "description": "An app crash that occurred during an automated test.",
      "properties": {
        "message": {
          "description": "Output only. The message associated with the crash.",
          "type": "string",
          "readOnly": true
        },
        "stackTrace": {
          "description": "Output only. The raw stack trace.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaRoboCrawler": {
      "description": "Configuration for Robo crawler",
      "properties": {
        "loginCredential": {
          "$ref": "GoogleFirebaseAppdistroV1alphaLoginCredential",
          "description": "Optional. Login credential for automated tests"
        },
        "aiInstructions": {
          "$ref": "GoogleFirebaseAppdistroV1alphaAiInstructions",
          "description": "Optional. Instructions for AI driven test"
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaRoboCrawler",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaLoginCredential": {
      "description": "Login credential for automated tests",
      "id": "GoogleFirebaseAppdistroV1alphaLoginCredential",
      "type": "object",
      "properties": {
        "username": {
          "type": "string",
          "description": "Optional. Username for automated tests"
        },
        "google": {
          "type": "boolean",
          "description": "Optional. Are these credentials for Google?"
        },
        "password": {
          "description": "Optional. Password for automated tests",
          "type": "string"
        },
        "fieldHints": {
          "description": "Optional. Hints to the crawler for identifying input fields",
          "$ref": "GoogleFirebaseAppdistroV1alphaLoginCredentialFieldHints"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteractionSwipe": {
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteractionSwipe",
      "description": "A swipe action.",
      "properties": {
        "end": {
          "description": "Output only. The end point of the swipe.",
          "readOnly": true,
          "$ref": "AndroidxCrawlerOutputPoint"
        },
        "start": {
          "description": "Output only. The start point of the swipe.",
          "$ref": "AndroidxCrawlerOutputPoint",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaReleaseNotes": {
      "properties": {
        "releaseNotes": {
          "type": "string",
          "description": "The actual release notes text from the user."
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaReleaseNotes",
      "type": "object",
      "description": "Release notes for a release."
    },
    "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheResponse": {
      "properties": {},
      "id": "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheResponse",
      "description": "Response empty (google.protobuf.Empty) message for `ClearTestCaseCache`",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaGetUploadStatusResponse": {
      "type": "object",
      "description": "The response message for `GetUploadStatus`.",
      "properties": {
        "release": {
          "description": "The release that was created from the upload (only set on \"SUCCESS\")",
          "$ref": "GoogleFirebaseAppdistroV1alphaRelease"
        },
        "message": {
          "type": "string",
          "description": "Any additional context for the given upload status (e.g. error message) Meant to be displayed to the client"
        },
        "errorCode": {
          "type": "string",
          "enum": [
            "ERROR_UNSPECIFIED",
            "INVALID_ZIP",
            "MISSING_PLIST",
            "MISSING_PROFILE",
            "VERSION_TOO_LONG",
            "MISSING_UUIDS",
            "MISSING_RESOURCES",
            "MISSING_MANIFEST",
            "IOS_METADATA_ERROR",
            "ANDROID_METADATA_ERROR",
            "UNSUPPORTED_PLATFORM_TYPE",
            "BUNDLE_ID_MISMATCH",
            "APK_NOT_ZIP_ALIGNED",
            "INVALID_CERTIFICATE",
            "APK_TOO_LARGE",
            "AAB_NOT_PUBLISHED",
            "INVALID_PLIST_DEVICE_FAMILIES",
            "AAB_TOS_NOT_ACCEPTED",
            "APP_NAME_TOO_LONG",
            "AAB_DEVELOPER_ACCOUNT_NOT_LINKED",
            "AAB_NO_APP_WITH_GIVEN_PACKAGE_NAME_IN_ACCOUNT",
            "AAB_UPLOAD_ERROR",
            "APP_NOT_FOUND",
            "AAB_ADHOC_SHARING_KEY_NOT_REGISTERED",
            "AAB_ANDROID_DEVELOPER_CONSOLE_ACCOUNT_NOT_FOUND",
            "AAB_ANDROID_DEVELOPER_CONSOLE_PACKAGE_NOT_FOUND"
          ],
          "description": "The error code associated with (only set on \"FAILURE\")",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "Happens if the Firebase app no longer exists by the time of extraction",
            "",
            "A corresponding Android Developer Console account for this app's Play Console account was not found.",
            "The package was not found in the Android Developer Console."
          ]
        },
        "status": {
          "description": "The status of the upload",
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "IN_PROGRESS",
            "ALREADY_UPLOADED",
            "SUCCESS",
            "ERROR"
          ],
          "enumDescriptions": [
            "Status unspecified.",
            "The upload is in progress.",
            "The binary has already been uploaded.",
            "The upload was successful.",
            "The upload failed."
          ]
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaGetUploadStatusResponse"
    },
    "GoogleFirebaseAppdistroV1alphaAiInstructions": {
      "type": "object",
      "properties": {
        "steps": {
          "description": "Required. Steps to be accomplished by the AI",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaAiStep"
          },
          "type": "array"
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaAiInstructions"
    },
    "GoogleFirebaseAppdistroV1UploadReleaseMetadata": {
      "description": "Operation metadata for `UploadRelease`.",
      "id": "GoogleFirebaseAppdistroV1UploadReleaseMetadata",
      "type": "object",
      "properties": {}
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteractionBack": {
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteractionBack",
      "type": "object",
      "properties": {},
      "description": "A back action."
    },
    "GoogleFirebaseAppdistroV1alphaScreenshot": {
      "description": "A device screenshot taken during a test.",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Output only. The URI of the screenshot.",
          "readOnly": true
        },
        "width": {
          "description": "Output only. The width of the screenshot, in pixels.",
          "format": "int32",
          "type": "integer",
          "readOnly": true
        },
        "height": {
          "type": "integer",
          "format": "int32",
          "readOnly": true,
          "description": "Output only. The height of the screenshot, in pixels."
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaScreenshot"
    },
    "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesResponse": {
      "properties": {},
      "id": "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesResponse",
      "description": "The response message for `CreateReleaseNotes`.",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaGetReleaseByUploadHashResponse": {
      "description": "Response object to get the release given a upload hash",
      "id": "GoogleFirebaseAppdistroV1alphaGetReleaseByUploadHashResponse",
      "type": "object",
      "properties": {
        "release": {
          "$ref": "GoogleFirebaseAppdistroV1alphaRelease",
          "description": "Release object"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseRequest": {
      "type": "object",
      "properties": {
        "groupIds": {
          "description": "Optional. A repeated list of group aliases to enable access to a release for Note: This field is misnamed, but can't be changed because we need to maintain compatibility with old build tools",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "emails": {
          "description": "Optional. An email address which should get access to this release, for example rebeccahe@google.com",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "displayVersion": {
          "deprecated": true,
          "description": "Optional. Ignored. Used to be display version of the app release if an instance identifier was provided for the release_id.",
          "type": "string"
        },
        "buildVersion": {
          "deprecated": true,
          "type": "string",
          "description": "Optional. Ignored. Used to be build version of the app release if an instance identifier was provided for the release_id."
        }
      },
      "description": "The request message for `EnableAccessOnRelease`.",
      "id": "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseRequest"
    },
    "GoogleFirebaseAppdistroV1ReleaseNotes": {
      "id": "GoogleFirebaseAppdistroV1ReleaseNotes",
      "type": "object",
      "properties": {
        "text": {
          "description": "The text of the release notes.",
          "type": "string"
        }
      },
      "description": "Notes that belong to a release."
    },
    "GoogleFirebaseAppdistroV1alphaAabCertificate": {
      "type": "object",
      "description": "App bundle test certificate",
      "id": "GoogleFirebaseAppdistroV1alphaAabCertificate",
      "properties": {
        "certificateHashSha256": {
          "description": "SHA256 hash of the certificate used to resign the AAB",
          "type": "string"
        },
        "certificateHashSha1": {
          "type": "string",
          "description": "SHA1 hash of the certificate used to resign the AAB"
        },
        "certificateHashMd5": {
          "type": "string",
          "description": "MD5 hash of the certificate used to resign the AAB"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaTestConfig": {
      "properties": {
        "displayName": {
          "description": "Optional. Display name of the AI driven test. Required if the release test is created with multiple goals.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The name of the test configuration resource. Format: `projects/{project_number}/apps/{app}/testConfig`",
          "type": "string"
        },
        "resultsBucket": {
          "description": "Optional. The custom Cloud Storage bucket where test results are stored. Format: `projects/{project_number}/buckets/{bucket}` If not provided, the default test lab bucket is used.",
          "type": "string"
        },
        "roboCrawler": {
          "$ref": "GoogleFirebaseAppdistroV1alphaRoboCrawler",
          "description": "Optional. Configuration for Robo crawler"
        },
        "testDevices": {
          "type": "array",
          "description": "Optional. Tests will be run on this list of devices",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTestDevice"
          }
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaTestConfig",
      "type": "object",
      "description": "Configuration for automated tests"
    },
    "GoogleFirebaseAppdistroV1alphaAiStep": {
      "properties": {
        "testCase": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The test case that contained this step. Note: The test case may have changed or been deleted since this step was created. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`"
        },
        "successCriteria": {
          "type": "string",
          "description": "Optional. A visual description of the screen's expected state after the step has been successfully completed. This is referred to as the \"final screen assertion\" in the Firebase console and CLI tools. This field must be provided for the last step in a test case, and is optional for all other steps."
        },
        "goal": {
          "description": "A goal to be accomplished by the AI",
          "type": "string"
        },
        "hint": {
          "description": "Optional. Hint text containing suggestions to help the agent accomplish the goal",
          "type": "string"
        },
        "assertion": {
          "description": "An assertion to be checked by the AI",
          "type": "string"
        }
      },
      "description": "A step to be accomplished by the AI",
      "id": "GoogleFirebaseAppdistroV1alphaAiStep",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaApp": {
      "description": "An app.",
      "properties": {
        "appId": {
          "type": "string",
          "description": "Firebase gmp app id"
        },
        "projectNumber": {
          "description": "Project number of the Firebase project, for example 300830567303.",
          "type": "string"
        },
        "bundleId": {
          "description": "Bundle identifier",
          "type": "string"
        },
        "aabState": {
          "description": "App bundle state. Only valid for android apps. The app_view field in the request must be set to FULL in order for this to be populated.",
          "type": "string",
          "enum": [
            "AAB_STATE_UNSPECIFIED",
            "ACTIVE",
            "PLAY_ACCOUNT_NOT_LINKED",
            "NO_APP_WITH_GIVEN_BUNDLE_ID_IN_PLAY_ACCOUNT",
            "APP_NOT_PUBLISHED",
            "AAB_STATE_UNAVAILABLE",
            "PLAY_IAS_TERMS_NOT_ACCEPTED"
          ],
          "enumDescriptions": [
            "Aab state unspecified",
            "App can receive app bundle uploads",
            "Firebase project is not linked to a Play developer account",
            "There is no app in linked Play developer account with the same bundle id",
            "The app in Play developer account is not in a published state",
            "Play App status is unavailable",
            "Play IAS terms not accepted"
          ]
        },
        "platform": {
          "description": "iOS or Android",
          "type": "string"
        },
        "contactEmail": {
          "description": "Developer contact email for testers to reach out to about privacy or support issues.",
          "type": "string"
        },
        "aabCertificate": {
          "$ref": "GoogleFirebaseAppdistroV1alphaAabCertificate",
          "description": "App bundle test certificate generated for the app."
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaApp"
    },
    "GoogleFirebaseAppdistroV1alphaGoalDetails": {
      "id": "GoogleFirebaseAppdistroV1alphaGoalDetails",
      "type": "object",
      "description": "Details for a goal step.",
      "properties": {
        "goalActions": {
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaGoalAction"
          },
          "description": "Output only. The actions taken by the AI while attempting to accomplish the goal.",
          "readOnly": true,
          "type": "array"
        }
      }
    }
  },
  "version_module": true,
  "id": "firebaseappdistribution:v1alpha",
  "protocol": "rest",
  "name": "firebaseappdistribution",
  "title": "Firebase App Distribution API"
}