{
  "ownerName": "Google",
  "batchPath": "batch",
  "id": "firebaseappdistribution:v1alpha",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "canonicalName": "Firebase App Distribution",
  "title": "Firebase App Distribution API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "mtlsRootUrl": "https://firebaseappdistribution.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "basePath": "",
  "schemas": {
    "GoogleFirebaseAppdistroV1alphaRelease": {
      "id": "GoogleFirebaseAppdistroV1alphaRelease",
      "type": "object",
      "description": "Proto defining a release object",
      "properties": {
        "testerWithInstallCount": {
          "format": "int32",
          "type": "integer",
          "description": "Number of testers who have installed the release"
        },
        "distributedAt": {
          "description": "Timestamp when the release was created",
          "type": "string",
          "format": "google-datetime"
        },
        "instanceId": {
          "description": "Instance id of the release",
          "type": "string"
        },
        "receivedAt": {
          "format": "google-datetime",
          "deprecated": true,
          "type": "string",
          "description": "unused. "
        },
        "id": {
          "description": "Release Id",
          "type": "string"
        },
        "lastActivityAt": {
          "type": "string",
          "format": "google-datetime",
          "description": "Last activity timestamp"
        },
        "openInvitationCount": {
          "format": "int32",
          "type": "integer",
          "description": "Number of testers who have open invitations for the release"
        },
        "buildVersion": {
          "type": "string",
          "description": "Release build version"
        },
        "testerCount": {
          "type": "integer",
          "description": "Count of testers added to the release",
          "format": "int32"
        },
        "releaseNotesSummary": {
          "description": "Release notes summary",
          "type": "string"
        },
        "displayVersion": {
          "type": "string",
          "description": "Release version"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaGoalAction": {
      "description": "An action taken by the AI agent while attempting to accomplish a goal.",
      "type": "object",
      "properties": {
        "deviceAction": {
          "description": "Output only. A high level action taken by the AI on the device.",
          "readOnly": true,
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceAction"
        },
        "explanation": {
          "type": "string",
          "description": "Output only. An explanation justifying why the action was taken.",
          "readOnly": true
        },
        "terminalAction": {
          "$ref": "GoogleFirebaseAppdistroV1alphaTerminalAction",
          "readOnly": true,
          "description": "Output only. An action taken by the AI to end the goal."
        },
        "cachingType": {
          "enumDescriptions": [
            "Caching type unspecified.",
            "The model alone was used to determine the action with no caching.",
            "The model used information from a previous successful run to determine the action.",
            "The action was replayed from a previous successful run without model input."
          ],
          "description": "Output only. The type of caching used to determine the action.",
          "enum": [
            "CACHING_TYPE_UNSPECIFIED",
            "NO_CACHING",
            "CACHE_AND_MODEL",
            "CACHE_ONLY"
          ],
          "readOnly": true,
          "type": "string"
        },
        "debugInfo": {
          "description": "Output only. Debug information explaining why the agent to the specific action.",
          "$ref": "GoogleFirebaseAppdistroV1alphaGoalActionDebugInfo",
          "readOnly": true
        },
        "startTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time at which the action started.",
          "type": "string"
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaGoalAction"
    },
    "GoogleFirebaseAppdistroV1alphaBatchDeleteTestCasesRequest": {
      "id": "GoogleFirebaseAppdistroV1alphaBatchDeleteTestCasesRequest",
      "properties": {
        "names": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The name of the test cases to delete. A maximum number of 1000 test cases can be deleted in one batch Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`"
        }
      },
      "type": "object",
      "description": "The request message for `BatchDeleteTestCase`."
    },
    "AndroidxCrawlerOutputRectangle": {
      "description": "Rectangle for describing bounding boxes",
      "properties": {
        "top": {
          "type": "integer",
          "format": "int32"
        },
        "right": {
          "format": "int32",
          "type": "integer"
        },
        "bottom": {
          "type": "integer",
          "format": "int32"
        },
        "left": {
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "AndroidxCrawlerOutputRectangle",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1UploadReleaseResponse": {
      "type": "object",
      "description": "Response message for `UploadRelease`.",
      "properties": {
        "release": {
          "description": "Release associated with the uploaded binary.",
          "$ref": "GoogleFirebaseAppdistroV1Release"
        },
        "result": {
          "description": "Result of upload release.",
          "enum": [
            "UPLOAD_RELEASE_RESULT_UNSPECIFIED",
            "RELEASE_CREATED",
            "RELEASE_UPDATED",
            "RELEASE_UNMODIFIED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Upload binary result unspecified",
            "Upload binary resulted in a new release",
            "Upload binary updated an existing release",
            "Upload binary resulted in a no-op. A release with the exact same binary already exists."
          ]
        }
      },
      "id": "GoogleFirebaseAppdistroV1UploadReleaseResponse"
    },
    "GoogleFirebaseAppdistroV1Release": {
      "properties": {
        "expireTime": {
          "description": "Output only. The time the release will expire.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "binaryType": {
          "readOnly": true,
          "enum": [
            "BINARY_TYPE_UNSPECIFIED",
            "IPA",
            "APK",
            "AAB"
          ],
          "enumDescriptions": [
            "unspecified binary type",
            "iOS App Store package",
            "Android Application package",
            "Android App Bundle"
          ],
          "description": "Output only. Type of binary.",
          "type": "string"
        },
        "androidPackageRegistrationState": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "ANDROID_PACKAGE_REGISTRATION_STATE_UNSPECIFIED",
            "REGISTERED",
            "NOT_REGISTERED",
            "REGISTERED_WITH_ANOTHER_CERTIFICATE_FINGERPRINT"
          ],
          "description": "Output only. Registration state of the Android package (BinaryType.APK).",
          "enumDescriptions": [
            "Default value.",
            "Package is registered with the release binary's certificate fingerprint.",
            "Package is not registered with any public certificate.",
            "Package is registered with another public certificate fingerprint."
          ]
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the release was created."
        },
        "testState": {
          "enumDescriptions": [
            "No test state specified",
            "No tests have been requested for this release",
            "One or more device executions are in progress",
            "All device executions passed during the most recent test",
            "Some device executions failed during the most recent test",
            "Some device executions were inconclusive, but none failed, during the most recent test"
          ],
          "readOnly": true,
          "enum": [
            "TEST_STATE_UNSPECIFIED",
            "NO_TESTS_REQUESTED",
            "IN_PROGRESS",
            "PASSED",
            "FAILED",
            "INCONCLUSIVE"
          ],
          "type": "string",
          "description": "Output only. The overall state of tests run on this release"
        },
        "name": {
          "type": "string",
          "description": "The name of the release resource. Format: `projects/{project_number}/apps/{app}/releases/{release}`"
        },
        "feedbackCount": {
          "description": "Output only. Number of feedback reports left by testers.",
          "format": "int32",
          "type": "integer",
          "readOnly": true
        },
        "firebaseConsoleUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A link to the Firebase console displaying a single release."
        },
        "releaseNotes": {
          "$ref": "GoogleFirebaseAppdistroV1ReleaseNotes",
          "description": "Notes about the release."
        },
        "displayVersion": {
          "description": "Output only. Display version of the release. For an Android release, the display version is the `versionName`. For an iOS release, the display version is the `CFBundleShortVersionString`.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The time the release was last updated.",
          "readOnly": true,
          "type": "string"
        },
        "installationCount": {
          "description": "Output only. Number of testers who have downloaded this release.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "binaryDownloadUri": {
          "readOnly": true,
          "description": "Output only. A signed link (which expires in one hour) to directly download the app binary (IPA/APK/AAB) file.",
          "type": "string"
        },
        "buildVersion": {
          "description": "Output only. Build version of the release. For an Android release, the build version is the `versionCode`. For an iOS release, the build version is the `CFBundleVersion`.",
          "readOnly": true,
          "type": "string"
        },
        "acceptedInvitationCount": {
          "description": "Output only. Number of testers with accepted invitations.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "openInvitationCount": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. Number of testers who were invited (incl. expired invitations), but did not (yet) accept the invitation."
        },
        "testingUri": {
          "readOnly": true,
          "description": "Output only. A link to the release in the tester web clip or Android app that lets testers (which were granted access to the app) view release notes and install the app onto their devices.",
          "type": "string"
        }
      },
      "id": "GoogleFirebaseAppdistroV1Release",
      "description": "A release of a Firebase app.",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaGoalDetails": {
      "id": "GoogleFirebaseAppdistroV1alphaGoalDetails",
      "properties": {
        "goalActions": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The actions taken by the AI while attempting to accomplish the goal.",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaGoalAction"
          }
        }
      },
      "description": "Details for a goal step.",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseRequest": {
      "description": "The request message for `EnableAccessOnRelease`.",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseRequest",
      "properties": {
        "groupIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. A repeated list of group aliases to enable access to a release for Note: This field is misnamed, but can't be changed because we need to maintain compatibility with old build tools"
        },
        "buildVersion": {
          "deprecated": true,
          "type": "string",
          "description": "Optional. Ignored. Used to be build version of the app release if an instance identifier was provided for the release_id."
        },
        "emails": {
          "items": {
            "type": "string"
          },
          "description": "Optional. An email address which should get access to this release, for example rebeccahe@google.com",
          "type": "array"
        },
        "displayVersion": {
          "deprecated": true,
          "type": "string",
          "description": "Optional. Ignored. Used to be display version of the app release if an instance identifier was provided for the release_id."
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaDeviceAction": {
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaDeviceAction",
      "description": "A high level action taken by the AI on the device, potentially involving multiple taps, text entries, waits, etc.",
      "properties": {
        "description": {
          "readOnly": true,
          "description": "Output only. A short description of the high level action taken by the AI agent.",
          "type": "string"
        },
        "deviceInteractions": {
          "type": "array",
          "description": "Output only. The interactions made with the device as part of this higher level action taken by the agent, such as taps, text entries, waits, etc.",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteraction"
          },
          "readOnly": true
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteractionSwipe": {
      "description": "A swipe action.",
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteractionSwipe",
      "type": "object",
      "properties": {
        "start": {
          "readOnly": true,
          "description": "Output only. The start point of the swipe.",
          "$ref": "AndroidxCrawlerOutputPoint"
        },
        "end": {
          "description": "Output only. The end point of the swipe.",
          "readOnly": true,
          "$ref": "AndroidxCrawlerOutputPoint"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaGetUploadStatusResponse": {
      "description": "The response message for `GetUploadStatus`.",
      "id": "GoogleFirebaseAppdistroV1alphaGetUploadStatusResponse",
      "properties": {
        "status": {
          "description": "The status of the upload",
          "enum": [
            "STATUS_UNSPECIFIED",
            "IN_PROGRESS",
            "ALREADY_UPLOADED",
            "SUCCESS",
            "ERROR"
          ],
          "enumDescriptions": [
            "Status unspecified.",
            "The upload is in progress.",
            "The binary has already been uploaded.",
            "The upload was successful.",
            "The upload failed."
          ],
          "type": "string"
        },
        "errorCode": {
          "enum": [
            "ERROR_UNSPECIFIED",
            "INVALID_ZIP",
            "MISSING_PLIST",
            "MISSING_PROFILE",
            "VERSION_TOO_LONG",
            "MISSING_UUIDS",
            "MISSING_RESOURCES",
            "MISSING_MANIFEST",
            "IOS_METADATA_ERROR",
            "ANDROID_METADATA_ERROR",
            "UNSUPPORTED_PLATFORM_TYPE",
            "BUNDLE_ID_MISMATCH",
            "APK_NOT_ZIP_ALIGNED",
            "INVALID_CERTIFICATE",
            "APK_TOO_LARGE",
            "AAB_NOT_PUBLISHED",
            "INVALID_PLIST_DEVICE_FAMILIES",
            "AAB_TOS_NOT_ACCEPTED",
            "APP_NAME_TOO_LONG",
            "AAB_DEVELOPER_ACCOUNT_NOT_LINKED",
            "AAB_NO_APP_WITH_GIVEN_PACKAGE_NAME_IN_ACCOUNT",
            "AAB_UPLOAD_ERROR",
            "APP_NOT_FOUND",
            "AAB_ADHOC_SHARING_KEY_NOT_REGISTERED",
            "AAB_ANDROID_DEVELOPER_CONSOLE_ACCOUNT_NOT_FOUND",
            "AAB_ANDROID_DEVELOPER_CONSOLE_PACKAGE_NOT_FOUND"
          ],
          "description": "The error code associated with (only set on \"FAILURE\")",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "Happens if the Firebase app no longer exists by the time of extraction",
            "",
            "A corresponding Android Developer Console account for this app's Play Console account was not found.",
            "The package was not found in the Android Developer Console."
          ]
        },
        "message": {
          "description": "Any additional context for the given upload status (e.g. error message) Meant to be displayed to the client",
          "type": "string"
        },
        "release": {
          "description": "The release that was created from the upload (only set on \"SUCCESS\")",
          "$ref": "GoogleFirebaseAppdistroV1alphaRelease"
        }
      },
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaCancelReleaseTestResponse": {
      "id": "GoogleFirebaseAppdistroV1alphaCancelReleaseTestResponse",
      "description": "The (empty) response message for `CancelReleaseTest`.",
      "type": "object",
      "properties": {}
    },
    "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesResponse": {
      "description": "The response message for `CreateReleaseNotes`.",
      "id": "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesResponse",
      "type": "object",
      "properties": {}
    },
    "GoogleFirebaseAppdistroV1alphaAabCertificate": {
      "id": "GoogleFirebaseAppdistroV1alphaAabCertificate",
      "description": "App bundle test certificate",
      "properties": {
        "certificateHashSha256": {
          "description": "SHA256 hash of the certificate used to resign the AAB",
          "type": "string"
        },
        "certificateHashSha1": {
          "description": "SHA1 hash of the certificate used to resign the AAB",
          "type": "string"
        },
        "certificateHashMd5": {
          "type": "string",
          "description": "MD5 hash of the certificate used to resign the AAB"
        }
      },
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaTestQuota": {
      "id": "GoogleFirebaseAppdistroV1alphaTestQuota",
      "description": "Customer quota information for `ReleaseTests`. Note: This quota only applies to tests with `AiInstructions` and is separate from the quota which might apply to the device time used by any tests.",
      "type": "object",
      "properties": {
        "limit": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Maximum number of `ReleaseTests` allotted for the current month."
        },
        "usage": {
          "type": "string",
          "format": "int64",
          "description": "Output only. Number of `ReleaseTests` run in the current month",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the `TestQuota` resource. Format: `projects/{project_number}/testQuota`"
        }
      }
    },
    "GoogleProtobufEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "GoogleProtobufEmpty",
      "type": "object",
      "properties": {}
    },
    "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseResponse": {
      "id": "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseResponse",
      "type": "object",
      "properties": {},
      "description": "The response message for `EnableAccessOnRelease`."
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteractionBack": {
      "description": "A back action.",
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteractionBack",
      "properties": {},
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaReleaseTest": {
      "description": "Instance of an automated test for a release.",
      "id": "GoogleFirebaseAppdistroV1alphaReleaseTest",
      "properties": {
        "deviceExecutions": {
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaDeviceExecution"
          },
          "description": "Required. The results of the test on each device."
        },
        "name": {
          "description": "The name of the release test resource. Format: `projects/{project_number}/apps/{app}/releases/{release}/tests/{test}`",
          "type": "string"
        },
        "testState": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Test state unspecified.",
            "The test is in progress.",
            "The test has passed.",
            "The test has failed.",
            "The test was inconclusive."
          ],
          "enum": [
            "TEST_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "PASSED",
            "FAILED",
            "INCONCLUSIVE"
          ],
          "description": "Output only. The state of the release test."
        },
        "aiInstructions": {
          "description": "Optional. Instructions for AI driven test.",
          "$ref": "GoogleFirebaseAppdistroV1alphaAiInstructions"
        },
        "loginCredential": {
          "description": "Optional. Input only. Login credentials for the test. Input only.",
          "$ref": "GoogleFirebaseAppdistroV1alphaLoginCredential"
        },
        "testCase": {
          "description": "Optional. The test case that was used to generate this release test. Note: The test case may have changed or been deleted since the release test was created. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when the test was run."
        },
        "displayName": {
          "description": "Optional. Display name of the release test. Required if the release test is created with multiple goals.",
          "type": "string"
        },
        "resultsBucket": {
          "type": "string",
          "description": "Optional. Input only. The custom Cloud Storage bucket where test results are stored. Format: `projects/{project_number}/buckets/{bucket}` If not provided, the default test lab bucket is used."
        }
      },
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaAppCrash": {
      "type": "object",
      "properties": {
        "stackTrace": {
          "type": "string",
          "description": "Output only. The raw stack trace.",
          "readOnly": true
        },
        "message": {
          "description": "Output only. The message associated with the crash.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "An app crash that occurred during an automated test.",
      "id": "GoogleFirebaseAppdistroV1alphaAppCrash"
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteractionEnterText": {
      "type": "object",
      "properties": {
        "text": {
          "type": "string",
          "description": "Output only. The text to enter.",
          "readOnly": true
        },
        "elementBounds": {
          "readOnly": true,
          "description": "Output only. The visible bounds of the element to enter text into.",
          "$ref": "AndroidxCrawlerOutputRectangle"
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteractionEnterText",
      "description": "A text entry action, that enters text into a particular text field, clearing any existing text in the field."
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteractionWait": {
      "description": "A wait action.",
      "properties": {
        "duration": {
          "description": "Output only. The duration of the wait.",
          "type": "string",
          "readOnly": true,
          "format": "google-duration"
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteractionWait",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteraction": {
      "type": "object",
      "description": "An interaction with the device, such as a tap, text entry, wait, etc.",
      "properties": {
        "keyCode": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Key code for a key event action."
        },
        "textInput": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A text input action, that types some text into whatever field is currently focused, if any. Unlike `enter_text` this action requires that the field be brought into focus first, for example by emitting a tap action before this one."
        },
        "screenshot": {
          "$ref": "GoogleFirebaseAppdistroV1alphaScreenshot",
          "readOnly": true,
          "description": "Output only. The screenshot used in the context of this action. The screen may have changed before the action was actually taken."
        },
        "backAction": {
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteractionBack",
          "readOnly": true,
          "description": "Output only. A back action."
        },
        "targetOrientation": {
          "type": "string",
          "enum": [
            "ORIENTATION_UNSPECIFIED",
            "PORTRAIT",
            "LANDSCAPE"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Orientation unspecified.",
            "Portrait orientation.",
            "Landscape orientation."
          ],
          "description": "Output only. The target orientation of the device in a set orientation action."
        },
        "swipe": {
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteractionSwipe",
          "description": "Output only. A swipe action.",
          "readOnly": true
        },
        "enterText": {
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteractionEnterText",
          "description": "Output only. A text entry action, that enters text into a particular text field, clearing any existing text in the field. Unlike `text_input` this action does not require any other actions such as a tap to be performed before it can enter the text.",
          "readOnly": true
        },
        "longPress": {
          "description": "Output only. A long press (tap and hold) action.",
          "$ref": "AndroidxCrawlerOutputPoint",
          "readOnly": true
        },
        "tap": {
          "$ref": "AndroidxCrawlerOutputPoint",
          "readOnly": true,
          "description": "Output only. A tap action."
        },
        "wait": {
          "readOnly": true,
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteractionWait",
          "description": "Output only. A wait action."
        },
        "targetFoldedState": {
          "description": "Output only. The target folded state of the device in a set folded state action. The valid string values are device-dependent, and can be found using `adb shell cmd device_state print-states`.",
          "readOnly": true,
          "type": "string"
        },
        "dragAndDrop": {
          "readOnly": true,
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteractionDragAndDrop",
          "description": "Output only. A drag and drop action."
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteraction"
    },
    "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesRequest": {
      "properties": {
        "requests": {
          "description": "Required. The update requests. A maximum number of 1000 test cases can be updated in one batch",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaUpdateTestCaseRequest"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesRequest",
      "description": "The request message for `BatchUpdateTestCase`."
    },
    "GoogleFirebaseAppdistroV1alphaTerminalAction": {
      "type": "object",
      "description": "An action taken by the AI to end the goal.",
      "properties": {
        "reason": {
          "enumDescriptions": [
            "Reason unspecified.",
            "The goal failed to be completed. Note that \"impossible\" is a legacy term and the goal is reported to the customer as having \"failed\".",
            "The goal was completed successfully."
          ],
          "description": "Output only. The reason why this goal was ended.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "REASON_UNSPECIFIED",
            "GOAL_IMPOSSIBLE",
            "GOAL_COMPLETE"
          ]
        },
        "screenshot": {
          "readOnly": true,
          "$ref": "GoogleFirebaseAppdistroV1alphaScreenshot",
          "description": "Output only. The screenshot used in the context of this terminal action."
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaTerminalAction"
    },
    "GoogleFirebaseAppdistroV1alphaAiStep": {
      "description": "A step to be accomplished by the AI",
      "type": "object",
      "properties": {
        "assertion": {
          "type": "string",
          "description": "An assertion to be checked by the AI"
        },
        "goal": {
          "description": "A goal to be accomplished by the AI",
          "type": "string"
        },
        "hint": {
          "type": "string",
          "description": "Optional. Hint text containing suggestions to help the agent accomplish the goal"
        },
        "successCriteria": {
          "type": "string",
          "description": "Optional. A visual description of the screen's expected state after the step has been successfully completed. This is referred to as the \"final screen assertion\" in the Firebase console and CLI tools. This field must be provided for the last step in a test case, and is optional for all other steps."
        },
        "testCase": {
          "type": "string",
          "description": "Output only. The test case that contained this step. Note: The test case may have changed or been deleted since this step was created. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
          "readOnly": true
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaAiStep"
    },
    "GoogleFirebaseAppdistroV1alphaTestConfig": {
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaTestConfig",
      "properties": {
        "roboCrawler": {
          "description": "Optional. Configuration for Robo crawler",
          "$ref": "GoogleFirebaseAppdistroV1alphaRoboCrawler"
        },
        "displayName": {
          "description": "Optional. Display name of the AI driven test. Required if the release test is created with multiple goals.",
          "type": "string"
        },
        "testDevices": {
          "description": "Optional. Tests will be run on this list of devices",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTestDevice"
          },
          "type": "array"
        },
        "resultsBucket": {
          "type": "string",
          "description": "Optional. The custom Cloud Storage bucket where test results are stored. Format: `projects/{project_number}/buckets/{bucket}` If not provided, the default test lab bucket is used."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the test configuration resource. Format: `projects/{project_number}/apps/{app}/testConfig`"
        }
      },
      "description": "Configuration for automated tests"
    },
    "GoogleFirebaseAppdistroV1alphaGetReleaseByUploadHashResponse": {
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaGetReleaseByUploadHashResponse",
      "description": "Response object to get the release given a upload hash",
      "properties": {
        "release": {
          "description": "Release object",
          "$ref": "GoogleFirebaseAppdistroV1alphaRelease"
        }
      }
    },
    "GoogleFirebaseAppdistroV1ReleaseNotes": {
      "description": "Notes that belong to a release.",
      "properties": {
        "text": {
          "type": "string",
          "description": "The text of the release notes."
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1ReleaseNotes"
    },
    "GoogleFirebaseAppdistroV1alphaAiInstructions": {
      "id": "GoogleFirebaseAppdistroV1alphaAiInstructions",
      "type": "object",
      "properties": {
        "steps": {
          "description": "Required. Steps to be accomplished by the AI",
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaAiStep"
          }
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaGetTesterUdidsResponse": {
      "properties": {
        "testerUdids": {
          "description": "The UDIDs of tester iOS devices in a project",
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTesterUdid"
          }
        }
      },
      "description": "Response containing the UDIDs of tester iOS devices in a project",
      "id": "GoogleFirebaseAppdistroV1alphaGetTesterUdidsResponse",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheRequest": {
      "type": "object",
      "properties": {
        "testDevices": {
          "type": "array",
          "description": "Optional. The list of devices for which to clear the cache. If not present, clear all of them.",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTestDevice"
          }
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheRequest",
      "description": "Request message for `ClearTestCaseCache`."
    },
    "GoogleFirebaseAppdistroV1alphaListReleaseTestsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A short-lived token, which can be sent as `pageToken` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "releaseTests": {
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaReleaseTest"
          },
          "description": "The tests listed."
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaListReleaseTestsResponse",
      "description": "The response message for `ListReleaseTests`."
    },
    "GoogleFirebaseAppdistroV1alphaApp": {
      "properties": {
        "aabCertificate": {
          "description": "App bundle test certificate generated for the app.",
          "$ref": "GoogleFirebaseAppdistroV1alphaAabCertificate"
        },
        "aabState": {
          "description": "App bundle state. Only valid for android apps. The app_view field in the request must be set to FULL in order for this to be populated.",
          "type": "string",
          "enumDescriptions": [
            "Aab state unspecified",
            "App can receive app bundle uploads",
            "Firebase project is not linked to a Play developer account",
            "There is no app in linked Play developer account with the same bundle id",
            "The app in Play developer account is not in a published state",
            "Play App status is unavailable",
            "Play IAS terms not accepted"
          ],
          "enum": [
            "AAB_STATE_UNSPECIFIED",
            "ACTIVE",
            "PLAY_ACCOUNT_NOT_LINKED",
            "NO_APP_WITH_GIVEN_BUNDLE_ID_IN_PLAY_ACCOUNT",
            "APP_NOT_PUBLISHED",
            "AAB_STATE_UNAVAILABLE",
            "PLAY_IAS_TERMS_NOT_ACCEPTED"
          ]
        },
        "appId": {
          "type": "string",
          "description": "Firebase gmp app id"
        },
        "projectNumber": {
          "description": "Project number of the Firebase project, for example 300830567303.",
          "type": "string"
        },
        "platform": {
          "type": "string",
          "description": "iOS or Android"
        },
        "bundleId": {
          "type": "string",
          "description": "Bundle identifier"
        },
        "contactEmail": {
          "description": "Developer contact email for testers to reach out to about privacy or support issues.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "An app.",
      "id": "GoogleFirebaseAppdistroV1alphaApp"
    },
    "GoogleFirebaseAppdistroV1alphaUpdateTestCaseRequest": {
      "properties": {
        "allowMissing": {
          "type": "boolean",
          "description": "Optional. If set to true, and the test case is not found, a new test case will be created."
        },
        "testCase": {
          "$ref": "GoogleFirebaseAppdistroV1alphaTestCase",
          "description": "Required. The test case to update. The test case's `name` field is used to identify the test case to update. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`"
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaUpdateTestCaseRequest",
      "type": "object",
      "description": "The request message for `UpdateTestCase`."
    },
    "GoogleFirebaseAppdistroV1alphaGoalActionDebugInfo": {
      "id": "GoogleFirebaseAppdistroV1alphaGoalActionDebugInfo",
      "properties": {
        "jsonUri": {
          "readOnly": true,
          "description": "Output only. Structured data explaining the agent's choice.",
          "type": "string"
        },
        "annotatedScreenshotUri": {
          "description": "Output only. URI of the screenshot with elements labeled which was used by the agent.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Information to help the customer understand why the agent took this action.",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaScreenshot": {
      "properties": {
        "uri": {
          "readOnly": true,
          "description": "Output only. The URI of the screenshot.",
          "type": "string"
        },
        "width": {
          "readOnly": true,
          "description": "Output only. The width of the screenshot, in pixels.",
          "format": "int32",
          "type": "integer"
        },
        "height": {
          "type": "integer",
          "format": "int32",
          "readOnly": true,
          "description": "Output only. The height of the screenshot, in pixels."
        }
      },
      "description": "A device screenshot taken during a test.",
      "id": "GoogleFirebaseAppdistroV1alphaScreenshot",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaRoboStats": {
      "properties": {
        "distinctVisitedScreens": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Number of distinct screens visited."
        },
        "mainActivityCrawlTimedOut": {
          "description": "Output only. Whether the main activity crawl timed out.",
          "readOnly": true,
          "type": "boolean"
        },
        "crawlDuration": {
          "description": "Output only. Duration of crawl.",
          "format": "google-duration",
          "type": "string",
          "readOnly": true
        },
        "actionsPerformed": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Number of actions that crawler performed."
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaRoboStats",
      "description": "Statistics collected during a Robo test.",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaLoginCredentialFieldHints": {
      "type": "object",
      "properties": {
        "usernameResourceName": {
          "description": "Required. The Android resource name of the username UI element. For example, in Java: R.string.foo in xml: @string/foo Only the \"foo\" part is needed. Reference doc: https://developer.android.com/guide/topics/resources/accessing-resources.html",
          "type": "string"
        },
        "passwordResourceName": {
          "description": "Required. The Android resource name of the password UI element. For example, in Java: R.string.foo in xml: @string/foo Only the \"foo\" part is needed. Reference doc: https://developer.android.com/guide/topics/resources/accessing-resources.html",
          "type": "string"
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaLoginCredentialFieldHints",
      "description": "Hints to the crawler for identifying input fields"
    },
    "GoogleFirebaseAppdistroV1alphaTesterUdid": {
      "properties": {
        "platform": {
          "description": "The platform of the tester's device",
          "type": "string"
        },
        "udid": {
          "description": "The UDID of the tester's device",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the tester's device"
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaTesterUdid",
      "type": "object",
      "description": "The UDIDs of a tester's iOS device"
    },
    "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesResponse": {
      "properties": {
        "testCases": {
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
          },
          "type": "array",
          "description": "The updated test cases."
        }
      },
      "description": "The response message for `BatchUpdateTestCase`.",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesResponse"
    },
    "GoogleFirebaseAppdistroV1alphaAssertionDetails": {
      "type": "object",
      "description": "Details for an assertion step.",
      "id": "GoogleFirebaseAppdistroV1alphaAssertionDetails",
      "properties": {
        "result": {
          "description": "Output only. The result of the assertion.",
          "readOnly": true,
          "type": "boolean"
        },
        "explanation": {
          "type": "string",
          "description": "Output only. An explanation justifying the assertion result.",
          "readOnly": true
        },
        "screenshot": {
          "description": "Output only. The screenshot used in the context of this assertion.",
          "readOnly": true,
          "$ref": "GoogleFirebaseAppdistroV1alphaScreenshot"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaListTestCasesResponse": {
      "id": "GoogleFirebaseAppdistroV1alphaListTestCasesResponse",
      "type": "object",
      "description": "The response message for `ListTestCases`.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "testCases": {
          "description": "The test cases from the specified app.",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
          },
          "type": "array"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaLoginCredential": {
      "id": "GoogleFirebaseAppdistroV1alphaLoginCredential",
      "type": "object",
      "description": "Login credential for automated tests",
      "properties": {
        "google": {
          "type": "boolean",
          "description": "Optional. Are these credentials for Google?"
        },
        "fieldHints": {
          "$ref": "GoogleFirebaseAppdistroV1alphaLoginCredentialFieldHints",
          "description": "Optional. Hints to the crawler for identifying input fields"
        },
        "username": {
          "description": "Optional. Username for automated tests",
          "type": "string"
        },
        "password": {
          "description": "Optional. Password for automated tests",
          "type": "string"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaTestCase": {
      "id": "GoogleFirebaseAppdistroV1alphaTestCase",
      "description": "AI test cases",
      "properties": {
        "aiInstructions": {
          "description": "Optional. Instructions for AI driven test.",
          "$ref": "GoogleFirebaseAppdistroV1alphaAiInstructions"
        },
        "name": {
          "description": "Identifier. The name of the test case resource. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp when the test case was created",
          "type": "string"
        },
        "dependentTestCases": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Other test cases that depend on this test case as a prerequisite."
        },
        "prerequisiteTestCase": {
          "description": "Optional. Test case that must be run before this test case.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name of the test case."
        }
      },
      "type": "object"
    },
    "AndroidxCrawlerOutputPoint": {
      "type": "object",
      "id": "AndroidxCrawlerOutputPoint",
      "description": "Point for describing bounding boxes tap locations Top left is 0,0",
      "properties": {
        "xCoordinate": {
          "type": "integer",
          "format": "int32"
        },
        "yCoordinate": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaRoboCrawler": {
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaRoboCrawler",
      "description": "Configuration for Robo crawler",
      "properties": {
        "loginCredential": {
          "description": "Optional. Login credential for automated tests",
          "$ref": "GoogleFirebaseAppdistroV1alphaLoginCredential"
        },
        "aiInstructions": {
          "description": "Optional. Instructions for AI driven test",
          "$ref": "GoogleFirebaseAppdistroV1alphaAiInstructions"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaAiStepResult": {
      "type": "object",
      "description": "Captures the results of an AiStep",
      "properties": {
        "goalDetails": {
          "readOnly": true,
          "description": "Output only. Details for a goal step.",
          "$ref": "GoogleFirebaseAppdistroV1alphaGoalDetails"
        },
        "state": {
          "description": "Output only. The current state of the step",
          "type": "string",
          "enumDescriptions": [
            "Step state unspecified",
            "The step is in progress",
            "The step has completed successfully",
            "The step has failed",
            "The test timed out during this step",
            "The number of actions needed to reach the goal exceeded its limit"
          ],
          "readOnly": true,
          "enum": [
            "STEP_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "PASSED",
            "FAILED",
            "TIMED_OUT",
            "GOAL_ACTION_LIMIT_REACHED"
          ]
        },
        "assertionDetails": {
          "$ref": "GoogleFirebaseAppdistroV1alphaAssertionDetails",
          "description": "Output only. Details for an assertion step.",
          "readOnly": true
        },
        "step": {
          "$ref": "GoogleFirebaseAppdistroV1alphaAiStep",
          "description": "Required. The step performed by the AI"
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaAiStepResult"
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteractionDragAndDrop": {
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteractionDragAndDrop",
      "properties": {
        "start": {
          "description": "Output only. The start point of the drag and drop.",
          "$ref": "AndroidxCrawlerOutputPoint",
          "readOnly": true
        },
        "end": {
          "description": "Output only. The end point of the drag and drop.",
          "$ref": "AndroidxCrawlerOutputPoint",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "A drag and drop action."
    },
    "GoogleFirebaseAppdistroV1alphaReleaseNotes": {
      "id": "GoogleFirebaseAppdistroV1alphaReleaseNotes",
      "type": "object",
      "properties": {
        "releaseNotes": {
          "description": "The actual release notes text from the user.",
          "type": "string"
        }
      },
      "description": "Release notes for a release."
    },
    "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesRequest": {
      "properties": {
        "releaseNotes": {
          "description": "The actual release notes body from the user",
          "$ref": "GoogleFirebaseAppdistroV1alphaReleaseNotes"
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesRequest",
      "description": "The request message for `CreateReleaseNotes`."
    },
    "GoogleFirebaseAppdistroV1alphaTestDevice": {
      "description": "A device on which automated tests can be run.",
      "type": "object",
      "properties": {
        "orientation": {
          "type": "string",
          "description": "Optional. The orientation of the device during the test."
        },
        "version": {
          "type": "string",
          "description": "Required. The version of the device (API level on Android)."
        },
        "locale": {
          "description": "Optional. The locale of the device (e.g. \"en_US\" for US English) during the test.",
          "type": "string"
        },
        "model": {
          "type": "string",
          "description": "Required. The device model."
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaTestDevice"
    },
    "GoogleFirebaseAppdistroV1UploadReleaseMetadata": {
      "id": "GoogleFirebaseAppdistroV1UploadReleaseMetadata",
      "description": "Operation metadata for `UploadRelease`.",
      "type": "object",
      "properties": {}
    },
    "GoogleFirebaseAppdistroV1alphaDeviceExecution": {
      "properties": {
        "crawlGraphUri": {
          "description": "Output only. A URI to an image of the Robo crawl graph.",
          "readOnly": true,
          "type": "string"
        },
        "screenshotUris": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. A list of screenshot image URIs taken from the Robo crawl. The file names are numbered by the order in which they were taken."
        },
        "inconclusiveReason": {
          "enumDescriptions": [
            "Reason unspecified.",
            "Not enough quota remained to run the test.",
            "The outcome of the test could not be determined because of a failure in the test running infrastructure.",
            "A required cloud service api is not activated (Google Cloud Testing API or Cloud Tool Results API).",
            "The app was not signed.",
            "A main launcher activity could not be found.",
            "The app declares one or more permissions that are not allowed.",
            "Device administrator applications are not allowed.",
            "APK contains no code. See also https://developer.android.com/guide/topics/manifest/application-element.html#code",
            "APK is built for a preview SDK which is unsupported."
          ],
          "description": "Output only. The reason why the test was inconclusive.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "INCONCLUSIVE_REASON_UNSPECIFIED",
            "QUOTA_EXCEEDED",
            "INFRASTRUCTURE_FAILURE",
            "SERVICE_NOT_ACTIVATED",
            "NO_SIGNATURE",
            "NO_LAUNCHER_ACTIVITY",
            "FORBIDDEN_PERMISSIONS",
            "DEVICE_ADMIN_RECEIVER",
            "NO_CODE_APK",
            "INVALID_APK_PREVIEW_SDK"
          ]
        },
        "appCrash": {
          "description": "Output only. An app crash, if any occurred during the test.",
          "readOnly": true,
          "$ref": "GoogleFirebaseAppdistroV1alphaAppCrash"
        },
        "videoStartTime": {
          "format": "google-datetime",
          "description": "Output only. The time at which the video started recording.",
          "type": "string",
          "readOnly": true
        },
        "finalAiAssertionMissing": {
          "description": "Output only. Indicates that the test replayed saved actions and concluded without a final AI assertion.",
          "type": "boolean",
          "readOnly": true
        },
        "device": {
          "description": "Required. The device that the test was run on.",
          "$ref": "GoogleFirebaseAppdistroV1alphaTestDevice"
        },
        "roboStats": {
          "description": "Output only. The statistics collected during the Robo test.",
          "$ref": "GoogleFirebaseAppdistroV1alphaRoboStats",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the device execution resource. Format: `projects/{project_number}/apps/{app}/releases/{release}/tests/{test}/deviceExecutions/{device_execution}`"
        },
        "executionType": {
          "enumDescriptions": [
            "Execution type unspecified.",
            "An AI-driven test.",
            "A replay of a previous test run.",
            "A failed replay that was rerun using the AI agent.",
            "A random Robo test."
          ],
          "description": "Output only. The type of execution for the test.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "EXECUTION_TYPE_UNSPECIFIED",
            "AI",
            "ACTION_BASED_REPLAY",
            "AI_REPLAY",
            "RANDOM_CRAWL"
          ]
        },
        "videoUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A URI to a video of the test run."
        },
        "failedReason": {
          "description": "Output only. The reason why the test failed.",
          "enumDescriptions": [
            "Reason unspecified.",
            "The app crashed during the test.",
            "If an app is not installed and thus no test can be run with the app. This might be caused by trying to run a test on an unsupported platform.",
            "If the app could not be crawled (possibly because the app did not start).",
            "If the device ran out of memory during the test.",
            "At least one AI step failed.",
            "The crawl reached the time limit before the test could be completed."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "FAILED_REASON_UNSPECIFIED",
            "CRASHED",
            "NOT_INSTALLED",
            "UNABLE_TO_CRAWL",
            "DEVICE_OUT_OF_MEMORY",
            "FAILED_AI_STEP",
            "TIMED_OUT"
          ]
        },
        "originDeviceExecution": {
          "description": "Output only. The device execution from which cached steps were used during this execution. Note: This field is only populated for ACTION_BASED_REPLAY executions. If the original device execution no longer exists, this field will be empty. Format: `projects/{project_number}/apps/{app}/releases/{release}/tests/{test}/deviceExecutions/{device_execution}`",
          "readOnly": true,
          "type": "string"
        },
        "aiStepResults": {
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaAiStepResult"
          },
          "type": "array",
          "description": "Output only. Results of the AI steps if passed in",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The state of the test.",
          "enum": [
            "TEST_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "PASSED",
            "FAILED",
            "INCONCLUSIVE"
          ],
          "enumDescriptions": [
            "Test state unspecified.",
            "The test is in progress.",
            "The test has passed.",
            "The test has failed.",
            "The test was inconclusive."
          ]
        },
        "resultsStoragePath": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The path to a directory in Cloud Storage that will eventually contain the results for this execution. For example, gs://bucket/Nexus5-18-en-portrait."
        }
      },
      "type": "object",
      "description": "The results of running an automated test on a particular device.",
      "id": "GoogleFirebaseAppdistroV1alphaDeviceExecution"
    },
    "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheResponse": {
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheResponse",
      "description": "Response empty (google.protobuf.Empty) message for `ClearTestCaseCache`",
      "properties": {}
    },
    "GoogleFirebaseAppdistroV1alphaJwt": {
      "type": "object",
      "description": "A JWT token.",
      "id": "GoogleFirebaseAppdistroV1alphaJwt",
      "properties": {
        "token": {
          "description": "The JWT token (three Base64URL-encoded strings joined by dots).",
          "type": "string"
        }
      }
    }
  },
  "rootUrl": "https://firebaseappdistribution.googleapis.com/",
  "resources": {
    "apps": {
      "resources": {
        "upload_status": {
          "methods": {
            "get": {
              "id": "firebaseappdistribution.apps.upload_status.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "uploadToken": {
                  "type": "string",
                  "description": "Required. The token for the upload",
                  "location": "path",
                  "required": true
                },
                "mobilesdkAppId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289"
                }
              },
              "parameterOrder": [
                "mobilesdkAppId",
                "uploadToken"
              ],
              "description": "GET Binary upload status by token",
              "httpMethod": "GET",
              "path": "v1alpha/apps/{mobilesdkAppId}/upload_status/{uploadToken}",
              "flatPath": "v1alpha/apps/{mobilesdkAppId}/upload_status/{uploadToken}",
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaGetUploadStatusResponse"
              }
            }
          }
        },
        "release_by_hash": {
          "methods": {
            "get": {
              "path": "v1alpha/apps/{mobilesdkAppId}/release_by_hash/{uploadHash}",
              "id": "firebaseappdistribution.apps.release_by_hash.get",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaGetReleaseByUploadHashResponse"
              },
              "flatPath": "v1alpha/apps/{mobilesdkAppId}/release_by_hash/{uploadHash}",
              "parameters": {
                "uploadHash": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The hash for the upload"
                },
                "mobilesdkAppId": {
                  "description": "Required. Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "mobilesdkAppId",
                "uploadHash"
              ],
              "description": "GET Release by binary upload hash"
            }
          }
        },
        "releases": {
          "methods": {
            "enable_access": {
              "description": "Enable access on a release for testers.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1alpha/apps/{mobilesdkAppId}/releases/{releaseId}/enable_access",
              "id": "firebaseappdistribution.apps.releases.enable_access",
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseResponse"
              },
              "parameters": {
                "releaseId": {
                  "type": "string",
                  "description": "Required. Release identifier",
                  "location": "path",
                  "required": true
                },
                "mobilesdkAppId": {
                  "description": "Required. Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1alpha/apps/{mobilesdkAppId}/releases/{releaseId}/enable_access",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseRequest"
              },
              "parameterOrder": [
                "mobilesdkAppId",
                "releaseId"
              ]
            }
          },
          "resources": {
            "notes": {
              "methods": {
                "create": {
                  "flatPath": "v1alpha/apps/{mobilesdkAppId}/releases/{releaseId}/notes",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "releaseId": {
                      "description": "Required. Release identifier",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "mobilesdkAppId": {
                      "description": "Required. Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesResponse"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "mobilesdkAppId",
                    "releaseId"
                  ],
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesRequest"
                  },
                  "id": "firebaseappdistribution.apps.releases.notes.create",
                  "path": "v1alpha/apps/{mobilesdkAppId}/releases/{releaseId}/notes",
                  "description": "Create release notes on a release."
                }
              }
            }
          }
        },
        "testers": {
          "methods": {
            "getTesterUdids": {
              "flatPath": "v1alpha/apps/{mobilesdkAppId}/testers:getTesterUdids",
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaGetTesterUdidsResponse"
              },
              "parameterOrder": [
                "mobilesdkAppId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "path": "v1alpha/apps/{mobilesdkAppId}/testers:getTesterUdids",
              "description": "Get UDIDs of tester iOS devices in a project",
              "id": "firebaseappdistribution.apps.testers.getTesterUdids",
              "parameters": {
                "mobilesdkAppId": {
                  "description": "Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "project": {
                  "description": "The name of the project, which is the parent of testers Format: `projects/{project_number}`",
                  "type": "string",
                  "location": "query"
                }
              }
            }
          }
        }
      },
      "methods": {
        "get": {
          "parameterOrder": [
            "mobilesdkAppId"
          ],
          "id": "firebaseappdistribution.apps.get",
          "httpMethod": "GET",
          "path": "v1alpha/apps/{mobilesdkAppId}",
          "response": {
            "$ref": "GoogleFirebaseAppdistroV1alphaApp"
          },
          "flatPath": "v1alpha/apps/{mobilesdkAppId}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Get the app, if it exists",
          "parameters": {
            "appView": {
              "description": "App view. When unset or set to BASIC, returns an App with everything set except for aab_state. When set to FULL, returns an App with aab_state set.",
              "location": "query",
              "type": "string",
              "enum": [
                "APP_VIEW_UNSPECIFIED",
                "BASIC",
                "FULL"
              ],
              "enumDescriptions": [
                "The default / unset value. The API will default to the BASIC view.",
                "Include everything except aab_state.",
                "Include everything."
              ]
            },
            "mobilesdkAppId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289"
            }
          }
        },
        "getJwt": {
          "parameters": {
            "mobilesdkAppId": {
              "description": "Required. Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "id": "firebaseappdistribution.apps.getJwt",
          "description": "Get a JWT token",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "mobilesdkAppId"
          ],
          "httpMethod": "GET",
          "path": "v1alpha/apps/{mobilesdkAppId}/jwt",
          "response": {
            "$ref": "GoogleFirebaseAppdistroV1alphaJwt"
          },
          "flatPath": "v1alpha/apps/{mobilesdkAppId}/jwt"
        }
      }
    },
    "projects": {
      "methods": {
        "getTestQuota": {
          "description": "Get information about the quota for `ReleaseTests`.",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTestQuota"
          },
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^projects/[^/]+/testQuota$",
              "description": "Required. The name of the `TestQuota` resource to retrieve. Format: `projects/{project_number}/testQuota`"
            }
          },
          "flatPath": "v1alpha/projects/{projectsId}/testQuota",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1alpha/{+name}",
          "httpMethod": "GET",
          "id": "firebaseappdistribution.projects.getTestQuota"
        }
      },
      "resources": {
        "apps": {
          "methods": {
            "updateTestConfig": {
              "request": {
                "$ref": "GoogleFirebaseAppdistroV1alphaTestConfig"
              },
              "description": "Updates automated test configuration.",
              "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testConfig",
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "description": "Optional. The list of fields to update.",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/apps/[^/]+/testConfig$",
                  "location": "path",
                  "description": "Identifier. The name of the test configuration resource. Format: `projects/{project_number}/apps/{app}/testConfig`",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaTestConfig"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "PATCH",
              "id": "firebaseappdistribution.projects.apps.updateTestConfig",
              "path": "v1alpha/{+name}"
            },
            "getTestConfig": {
              "parameterOrder": [
                "name"
              ],
              "id": "firebaseappdistribution.projects.apps.getTestConfig",
              "httpMethod": "GET",
              "description": "Gets configuration for automated tests.",
              "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testConfig",
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaTestConfig"
              },
              "path": "v1alpha/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The name of the `TestConfig` resource to retrieve. Format: `projects/{project_number}/apps/{app}/testConfig`",
                  "required": true,
                  "pattern": "^projects/[^/]+/apps/[^/]+/testConfig$",
                  "type": "string",
                  "location": "path"
                }
              }
            }
          },
          "resources": {
            "testCases": {
              "methods": {
                "get": {
                  "id": "firebaseappdistribution.projects.apps.testCases.get",
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases/{testCasesId}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/apps/[^/]+/testCases/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the test case resource to retrieve. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Get a test case.",
                  "path": "v1alpha/{+name}",
                  "httpMethod": "GET"
                },
                "patch": {
                  "description": "Update a test case.",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases/{testCasesId}",
                  "id": "firebaseappdistribution.projects.apps.testCases.patch",
                  "path": "v1alpha/{+name}",
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
                  },
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Identifier. The name of the test case resource. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+/testCases/[^/]+$",
                      "location": "path"
                    },
                    "allowMissing": {
                      "location": "query",
                      "description": "Optional. If set to true, and the test case is not found, a new test case will be created.",
                      "type": "boolean"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "required": true,
                      "description": "Required. The parent resource from which to list test cases. Format: `projects/{project_number}/apps/{app}`"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `ListTestCases` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTestCases` must match the call that provided the page token."
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. The maximum number of test cases to return. The service may return fewer than this value. If unspecified, at most 50 test cases will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "type": "integer",
                      "location": "query"
                    }
                  },
                  "description": "List test cases.",
                  "path": "v1alpha/{+parent}/testCases",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "firebaseappdistribution.projects.apps.testCases.list",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaListTestCasesResponse"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases"
                },
                "create": {
                  "httpMethod": "POST",
                  "id": "firebaseappdistribution.projects.apps.testCases.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1alpha/{+parent}/testCases",
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases",
                  "description": "Create a new test case.",
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "testCaseId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The ID to use for the test case, which will become the final component of the test case's resource name. This value should be 4-63 characters, and valid characters are /a-z-/."
                    },
                    "parent": {
                      "type": "string",
                      "description": "Required. The parent resource where this test case will be created. Format: `projects/{project_number}/apps/{app}`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "required": true
                    }
                  }
                },
                "batchUpdate": {
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases:batchUpdate",
                  "path": "v1alpha/{+parent}/testCases:batchUpdate",
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesResponse"
                  },
                  "httpMethod": "POST",
                  "id": "firebaseappdistribution.projects.apps.testCases.batchUpdate",
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "description": "Required. The parent resource of the test cases being updated. Format: `projects/{project_number}/apps/{app}`"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Updates multiple test cases."
                },
                "delete": {
                  "path": "v1alpha/{+name}",
                  "httpMethod": "DELETE",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases/{testCasesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "description": "Delete a test case.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "firebaseappdistribution.projects.apps.testCases.delete",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the test case resource to delete. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
                      "pattern": "^projects/[^/]+/apps/[^/]+/testCases/[^/]+$"
                    }
                  }
                },
                "batchDelete": {
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaBatchDeleteTestCasesRequest"
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "id": "firebaseappdistribution.projects.apps.testCases.batchDelete",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases:batchDelete",
                  "description": "Deletes multiple test cases.",
                  "path": "v1alpha/{+parent}/testCases:batchDelete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource of the test cases being deleted. Format: `projects/{project_number}/apps/{app}`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  }
                },
                "clearTestCaseCache": {
                  "parameterOrder": [
                    "testCase"
                  ],
                  "id": "firebaseappdistribution.projects.apps.testCases.clearTestCaseCache",
                  "parameters": {
                    "testCase": {
                      "description": "Required. The name of the test case resource for which to clear the cache. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
                      "required": true,
                      "pattern": "^projects/[^/]+/apps/[^/]+/testCases/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheRequest"
                  },
                  "description": "Clears cached test runs for a specific test case and device(s).",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha/{+testCase}:clearTestCaseCache",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases/{testCasesId}:clearTestCaseCache",
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheResponse"
                  },
                  "httpMethod": "POST"
                }
              }
            },
            "releases": {
              "resources": {
                "tests": {
                  "methods": {
                    "get": {
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the release test resource. Format: `projects/{project_number}/apps/{app}/releases/{release}/tests/{test}`",
                          "location": "path",
                          "pattern": "^projects/[^/]+/apps/[^/]+/releases/[^/]+/tests/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "description": "Get results for automated test run on release.",
                      "id": "firebaseappdistribution.projects.apps.releases.tests.get",
                      "path": "v1alpha/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleFirebaseAppdistroV1alphaReleaseTest"
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/releases/{releasesId}/tests/{testsId}",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "create": {
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/apps/[^/]+/releases/[^/]+$",
                          "type": "string",
                          "required": true,
                          "description": "Required. The name of the release resource, which is the parent of the test Format: `projects/{project_number}/apps/{app}/releases/{release}`"
                        },
                        "releaseTestId": {
                          "type": "string",
                          "description": "Optional. The ID to use for the test, which will become the final component of the test's resource name. This value should be 4-63 characters, and valid characters are /a-z-/. If it is not provided one will be automatically generated.",
                          "location": "query"
                        }
                      },
                      "request": {
                        "$ref": "GoogleFirebaseAppdistroV1alphaReleaseTest"
                      },
                      "id": "firebaseappdistribution.projects.apps.releases.tests.create",
                      "description": "Run automated test(s) on release.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1alpha/{+parent}/tests",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "GoogleFirebaseAppdistroV1alphaReleaseTest"
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/releases/{releasesId}/tests"
                    },
                    "cancel": {
                      "path": "v1alpha/{+name}:cancel",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/releases/{releasesId}/tests/{testsId}:cancel",
                      "response": {
                        "$ref": "GoogleFirebaseAppdistroV1alphaCancelReleaseTestResponse"
                      },
                      "description": "Abort automated test run on release.",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Required. The name of the release test resource. Format: `projects/{project_number}/apps/{app}/releases/{release}/tests/{test}`",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/apps/[^/]+/releases/[^/]+/tests/[^/]+$"
                        }
                      },
                      "id": "firebaseappdistribution.projects.apps.releases.tests.cancel",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET"
                    },
                    "list": {
                      "httpMethod": "GET",
                      "description": "List results for automated tests run on release.",
                      "id": "firebaseappdistribution.projects.apps.releases.tests.list",
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer",
                          "description": "Optional. The maximum number of tests to return. The service may return fewer than this value."
                        },
                        "view": {
                          "type": "string",
                          "enum": [
                            "RELEASE_TEST_VIEW_UNSPECIFIED",
                            "RELEASE_TEST_VIEW_BASIC",
                            "RELEASE_TEST_VIEW_FULL"
                          ],
                          "location": "query",
                          "description": "Optional. The requested view on the returned ReleaseTests. Defaults to the basic view.",
                          "enumDescriptions": [
                            "The default / unset value. The default view depends on the RPC.",
                            "Include basic metadata about the release test and its status, but not the full result details. This is the default value for ListReleaseTests.",
                            "Include everything."
                          ]
                        },
                        "parent": {
                          "type": "string",
                          "required": true,
                          "description": "Required. The name of the release resource, which is the parent of the tests Format: `projects/{project_number}/apps/{app}/releases/{release}`",
                          "pattern": "^projects/[^/]+/apps/[^/]+/releases/[^/]+$",
                          "location": "path"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. A page token, received from a previous `ListReleaseTests` call. Provide this to retrieve the subsequent page.",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1alpha/{+parent}/tests",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleFirebaseAppdistroV1alphaListReleaseTestsResponse"
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/releases/{releasesId}/tests"
                    }
                  }
                }
              }
            }
          }
        },
        "testers": {
          "methods": {
            "getUdids": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "project"
              ],
              "httpMethod": "GET",
              "id": "firebaseappdistribution.projects.testers.getUdids",
              "description": "Get UDIDs of tester iOS devices in a project",
              "path": "v1alpha/{+project}/testers:udids",
              "flatPath": "v1alpha/projects/{projectsId}/testers:udids",
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaGetTesterUdidsResponse"
              },
              "parameters": {
                "project": {
                  "location": "path",
                  "description": "The name of the project, which is the parent of testers Format: `projects/{project_number}`",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+$"
                },
                "mobilesdkAppId": {
                  "location": "query",
                  "type": "string",
                  "description": "Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289"
                }
              }
            }
          }
        }
      }
    }
  },
  "name": "firebaseappdistribution",
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "description": "",
  "baseUrl": "https://firebaseappdistribution.googleapis.com/",
  "version_module": true,
  "parameters": {
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    }
  },
  "documentationLink": "https://firebase.google.com/products/app-distribution",
  "version": "v1alpha",
  "revision": "20260831"
}